{
	"root": true,
	"extends": "eslint:recommended",
	"plugins": ["standard", "promise"],
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 6
	},
	"rules": {
		"indent": ["error", "tab", {
			"SwitchCase": 1
		}],
		"no-undef": "error",
		"no-console": "off",
		"semi": ["error", "always"],
		"quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
		"eqeqeq": ["error", "always", {"null": "ignore"}],
		"one-var": ["error", "never"]
	},
	"parser": "babel-eslint"
}
