{
  "basePath": "/data/2.5/",
  "definitions": {},
  "host": "api.openweathermap.org",
  "info": {
    "description": "",
    "title": "OpenWeather",
    "version": "2.5"
  },
  "parameters": {
    "trait:isApiKey:APPID": {
      "description": "API Key",
      "in": "query",
      "name": "APPID",
      "required": true,
      "type": "string"
    },
    "trait:isMetric:units": {
      "description": "Metric or Imperial",
      "enum": [
        "metric",
        "imperial"
      ],
      "in": "query",
      "name": "units",
      "required": true,
      "type": "string"
    },
    "trait:isSearchableByCity:q": {
      "description": "city name",
      "in": "query",
      "name": "q",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/forecast": {
      "get": {
        "description": "seach weather forecast for 5 days with data every 3 hours by city name.\n",
        "operationId": "GET_forecast",
        "parameters": [
          {
            "$ref": "#/parameters/trait:isSearchableByCity:q"
          },
          {
            "$ref": "#/parameters/trait:isMetric:units"
          },
          {
            "$ref": "#/parameters/trait:isApiKey:APPID"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "x-raml-is": [
        "isSearchableByCity",
        "isMetric",
        "isAPIKey"
      ],
      "x-raml-resource-displayName": "Forecast"
    },
    "/weather": {
      "get": {
        "description": "Search weather by city name\n",
        "operationId": "GET_weather",
        "parameters": [
          {
            "$ref": "#/parameters/trait:isSearchableByCity:q"
          },
          {
            "$ref": "#/parameters/trait:isMetric:units"
          },
          {
            "$ref": "#/parameters/trait:isApiKey:APPID"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "x-raml-is": [
        "isSearchableByCity",
        "isMetric",
        "isAPIKey"
      ],
      "x-raml-resource-displayName": "Weather"
    }
  },
  "schemes": [
    "http"
  ],
  "swagger": "2.0"
}