swagger: '2.0'
info:
  version: '2.0'
  title: Box
  description: The Box Content API
host: api.box.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /orders:
    post:
      operationId: POST_orders
      description: Places a new T-Shirt order
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - address1
              - address2
              - city
              - country
              - email
              - name
              - size
              - stateOrProvince
              - postalCode
            properties:
              address1:
                type: string
              address2:
                type: string
              city:
                type: string
              country:
                type: string
              email:
                type: string
                format: email
              name:
                type: string
              size:
                type: string
                enum:
                  - S
                  - M
                  - L
                  - XL
                  - XXL
              stateOrProvince:
                type: string
              postalCode:
                type: string
      responses:
        '200':
          description: ''
          examples:
            application/json:
              orderId: '4321'
        '500':
          description: ''
          examples:
            application/json: |
              {
                "errorMessage": "The order couldn't be entered."
x-basePath: '/{version}/'
definitions:
  NewTask:
    type: object
    properties:
      action:
        description: The action the task assignee will be prompted to do. Must be 'review'.
        type: string
      due_at:
        description: The day at which this task is due.
        type: string
      type:
        type: string
      expires_at:
        type: 'null'
      empty_array:
        description: An empty array
        type: array
        items:
          type: string
      assignees:
        description: An array of assignees
        type: array
        items:
          type: string
      actions:
        description: An array of actions
        type: array
        items:
          type: string
    required:
      - action
  Col:
    required:
      - type
    type: object
    properties:
      type:
        type: string
      id:
        type: string
  CargoDetails:
    type: object
    properties:
      cargo:
        type: string
      unitOfMeasure:
        type: string
    required:
      - cargo
  Approval:
    type: object
    properties:
      prop:
        type: integer
  ApprovalDetails:
    type: object
    properties:
      tier:
        type: integer
        minimum: 1
        maximum: 2
        exclusiveMinimum: false
        exclusiveMaximum: false
    required:
      - tier