swagger: '2.0'
info:
  version: v1
  title: T-Shirt Service
host: mocksvc.mulesoft.com
basePath: /mocks/3f1c43b3-3ac8-4d5f-8a09-654a5accd421
schemes:
  - http
paths:
  /products:
    get:
      description: Gets a list of all the inventory products.
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - productCode: TS
                size: S
                description: Small T-shirt
                count: 30
              - productCode: TS
                size: M
                description: Medium T-shirt
                count: 22
  /orders:
    post:
      description: Places a new T-Shirt order
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - address1
              - address2
              - city
              - country
              - email
              - name
              - size
              - stateOrProvince
              - postalCode
            properties:
              address1:
                type: string
              address2:
                type: string
              city:
                type: string
              country:
                type: string
              email:
                type: string
                format: email
              name:
                type: string
              size:
                type: string
                enum:
                  - S
                  - M
                  - L
                  - XL
                  - XXL
              stateOrProvince:
                type: string
              postalCode:
                type: string
            example:
              size: M
              email: robin@mail.com
              name: Robin Pille
              address1: 77 Geary St.
              address2: Apt 7
              city: San Francisco
              stateOrProvince: CA
              country: US
              postalCode: '94131'
      responses:
        '200':
          description: ''
          examples:
            application/json:
              orderId: '4321'
        '500':
          description: ''
          examples:
            application/json:
              errorMessage: The order couldn't be entered.
  '/orders/{orderId}/status':
    parameters:
      - name: orderId
        in: path
        required: true
        type: string
    get:
      produces:
        - application/json
      parameters:
        - name: email
          in: query
          description: Provide the same email that was used to place the order.
          required: true
          pattern: '^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$'
          type: string
      responses:
        '200':
          description: ''
          examples:
            application/json:
              orderId: '4321'
              status: Delivered
              size: M
        '400':
          description: ''
          examples:
            application/json:
              message: The orderId doesn't match the specified e-mail
  /notifications:
    post:
      description: To notify subscribers of an event
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              type:
                type: string
                enum:
                  - api
                  - application
              action:
                type: string
                enum:
                  - create
                  - update
                  - delete
              organizationId:
                type: string
              userId:
                type: string
              dateTime:
                format: date-time
                type: string
              object:
                type: object
            required:
              - type
              - action
              - organizationId
              - dateTime
              - object
            example:
              type: api
              action: create
              organizationId: 0a14e2fd-1cfe-4310-acbc-54bf93eb8420
              userId: a23c0943-1cc4-47f1-aea2-cb6c2c2fca6a
              dateTime: '2014-07-27T20:56:02.146Z'
              object:
                apiId: 1077
                description: Notifications API to let subscribers know of changes in the Anypoint Platform. Think Webhooks.
                endpoint: null
                id: 973
                name: '0.1'
                order: 1
                organizationId: 4
                portalId: null
                rootFileId: 1813
                tags: []
      responses:
        default:
          description: ''
          schema: {}
  /teams:
    get:
      description: Obtain information from a collection of teams simultaneously
      produces:
        - application/json
      parameters:
        - name: city
          in: query
          description: |
            Filter the list of teams by home city.
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              description: 'The team is the basic unit for keeping track of a roster of players. With the Team APIs, you can obtain team-related information, like the team name, stats, points, and more.'
              properties:
                homeCity:
                  description: Name of the city to which this team belongs
                  type: string
                id:
                  description: A three-letter code that identifies the team id
                  maxLength: 3
                  minLength: 3
                  type: string
                name:
                  description: Name of the team
                  type: string
                stadium:
                  description: Name of the stadium
                  type: string
              required:
                - id
                - name
                - homeCity
              type: object
            type: array
          examples:
            application/json:
              - name: Athletic Bilbao
                id: ATH
                homeCity: Bilbao
                stadium: San Mames
              - name: Atletico Madrid
                id: ATL
                homeCity: Madrid
                stadium: Vicente Calderon
              - name: Barcelona
                id: BAR
                homeCity: Barcelona
                stadium: Camp Nou
              - name: Betis
                id: BET
                homeCity: Seville
                stadium: Benito Villamarin
              - name: Espanyol
                id: ESP
                homeCity: Barcelona
                stadium: Cornella-El Prat
              - name: Getafe
                id: GET
                homeCity: Getafe
                stadium: Coliseum Alfonso Perez
              - name: Granada
                id: GRA
                homeCity: Granada
                stadium: Nuevo Los Carmenes
              - name: Levante
                id: LEV
                homeCity: Valencia
                stadium: Ciutat de Valencia
              - name: Malaga
                id: MAL
                homeCity: Malaga
                stadium: La Roselda
              - name: Mallorca
                id: MAL
                homeCity: Palma
                stadium: Iberostar Stadium
              - name: Osasuna
                id: OSA
                homeCity: Pamplona
                stadium: El Sadar
              - name: Racing Santander
                id: RAC
                homeCity: Santander
                stadium: El Sardinero
              - name: Rayo Vallecano
                id: RAY
                homeCity: Madrid
                stadium: Campo de Vallecas
              - name: Real Madrid
                id: RMA
                homeCity: Madrid
                stadium: Santiago Bernabeu
              - name: Real Sociedad
                id: RSC
                homeCity: San Sebastian
                stadium: Anoeta
              - name: Sevilla
                id: SEV
                homeCity: Seville
                stadium: Ramon Sanchez Pizjuan
              - name: Sporting de Gijon
                id: SPG
                homeCity: Gijon
                stadium: El Molinon
              - name: Valencia
                id: VAL
                homeCity: Valencia
                stadium: Mestalla
              - name: Villareal
                id: VIL
                homeCity: Vila-real
                stadium: El Madrigal
              - name: Zaragoza
                id: ZAR
                homeCity: Zaragoza
                stadium: La Romareda
