{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Security tryout"
  },
  "schemes": [
    "http"
  ],
  "host": "mazimi-prod.apigee.net",
  "basePath": "/security",
  "paths": {
    "/getBasicAuth": {
      "x-raml-resource-displayName": "getBasicAuth",
      "get": {
        "operationId": "GET_getBasicAuth",
        "security": [
          {
            "basicAuth": []
          },
          {
            "internalApiKey2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Basic Auth. Will send `Authenticated` if authentication is succesful, otherwise it will send `Unauthorized`"
          }
        }
      }
    },
    "/getApiKey": {
      "x-raml-resource-displayName": "getApiKey",
      "get": {
        "operationId": "GET_getApiKey",
        "security": [
          {
            "oauth22": []
          },
          {
            "internalApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "InternalApiKey. Will send `Authenticated` if authentication is succesful, otherwise it will send `Unauthorized`"
          }
        }
      }
    },
    "/getOauth2Auth": {
      "x-raml-resource-displayName": "getOauth2Auth",
      "get": {
        "operationId": "GET_getOauth2Auth",
        "security": [
          {
            "oauth2": [
              "read:pets"
            ]
          },
          {
            "basicAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Oauth2 Authorization. Will send `Authenticated` if authentication is succesful, otherwise it will send `Unauthorized`"
          }
        }
      }
    },
    "/getMixed": {
      "x-raml-resource-displayName": "getMixed",
      "get": {
        "operationId": "GET_getMixed",
        "security": [
          {
            "oauth2": [
              "read:pets"
            ]
          },
          {
            "internalApiKey3": []
          }
        ],
        "responses": {
          "200": {
            "description": "Oauth2 Authorization. Will send `Authenticated` if authentication is succesful, otherwise it will send `Unauthorized`"
          }
        }
      }
    },
    "/getMixed2": {
      "x-raml-resource-displayName": "getMixed2",
      "get": {
        "operationId": "GET_getMixed2",
        "security": [
          {
            "oauth2": [
              "read:pets"
            ]
          },
          {
            "internalApiKey4": []
          }
        ],
        "responses": {
          "200": {
            "description": "Oauth2 Authorization. Will send `Authenticated` if authentication is succesful, otherwise it will send `Unauthorized`"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic",
      "description": "HTTP Basic Authentication. Works over `HTTP` and `HTTPS`"
    },
    "basicAuth2": {
      "type": "basic",
      "description": "HTTP Basic Authentication. Works over `HTTP` and `HTTPS`. Version 2."
    },
    "internalApiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key",
      "description": "Api Key Authentication"
    },
    "internalApiKey2": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key2",
      "description": "Api Key Authentication. Version 2."
    },
    "internalApiKey3": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key3",
      "description": "Api Key Authentication. Version 3."
    },
    "internalApiKey4": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key4",
      "description": "Api Key Authentication. Version 4."
    },
    "oauth2": {
      "type": "oauth2",
      "description": "my oauth 2.0 security scheme.",
      "tokenUrl": "https://api.dropbox.com/1/oauth2/token",
      "flow": "application",
      "scopes": {
        "write:pets": "",
        "read:pets": ""
      }
    },
    "oauth22": {
      "type": "oauth2",
      "description": "my oauth 2.0 security scheme. Version 2.",
      "authorizationUrl": "http://swagger2.io/api/oauth/dialog",
      "flow": "implicit",
      "scopes": {}
    }
  }
}
