swagger: '2.0'
info:
  version: '2.0'
  title: Box
  description: The Box Content API
host: api.box.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  oauth_2_0:
    type: oauth2
    flow: accessCode
    scopes:
      read: ''
      write: ''
    description: You can use OAuth 2 to authenticate all your application's API requests to Zendesk. OAuth provides a secure way for your application to access Zendesk data without requiring that sensitive information like usernames and passwords be sent with the requests."sensitive information like usernames and passwords be sent with the requests.
    authorizationUrl: 'https://{domain}.zendesk.com/oauth/authorizations/new'
    tokenUrl: 'https://{domain}.zendesk.com/oauth/tokens'
  oauth_2_1:
    type: oauth2
    flow: implicit
    scopes:
      read: ''
      write: ''
    description: You can use OAuth 2 to authenticate all your application's API requests to Zendesk. OAuth provides a secure way for your application to access Zendesk data without requiring that sensitive information like usernames and passwords be sent with the requests."sensitive information like usernames and passwords be sent with the requests.
    authorizationUrl: 'https://{domain}.zendesk.com/oauth/authorizations/new'
  oauth_2_2:
    type: oauth2
    flow: application
    scopes:
      read: ''
      write: ''
    description: You can use OAuth 2 to authenticate all your application's API requests to Zendesk. OAuth provides a secure way for your application to access Zendesk data without requiring that sensitive information like usernames and passwords be sent with the requests."sensitive information like usernames and passwords be sent with the requests.
    tokenUrl: 'https://{domain}.zendesk.com/oauth/tokens'
  oauth_2_3:
    type: oauth2
    flow: password
    scopes:
      read: ''
      write: ''
    description: You can use OAuth 2 to authenticate all your application's API requests to Zendesk. OAuth provides a secure way for your application to access Zendesk data without requiring that sensitive information like usernames and passwords be sent with the requests."sensitive information like usernames and passwords be sent with the requests.
    tokenUrl: 'https://{domain}.zendesk.com/oauth/tokens'
paths: {}
x-basePath: '/{version}/'
