#%RAML 0.8
title: Facebook
version: v2.0
baseUri: https://graph.facebook.com/{version}
securitySchemes:
  - oauth_2_0: !include securitySchemes/oauth_2_0.raml
schemas:
  - group: !include schemas/group-schema.json
  - permissions: !include schemas/permissions-schema.json
  - page: !include schemas/page-schema.json
  - order: !include schemas/order-schema.json
  - user: !include schemas/user-schema.json
  - error: !include schemas/error-schema.json
  - album: !include schemas/album-schema.json
  - photos: !include schemas/photos-schema.json
  - likes: !include schemas/likes-schema.json
  - comments: !include schemas/comments-schema.json
  - id: !include schemas/id-schema.json
  - reviews: !include schemas/reviews-schema.json
  - success: !include schemas/success-schema.json
  - payment: !include schemas/payment-schema.json
  - achievement: !include schemas/achievement-schema.json
  - application: !include schemas/application-schema.json
  - achievements: !include schemas/achievements-schema.json
  - create-account: !include schemas/create-account-schema.json
  - test-user-app: !include schemas/test-user-app-schema.json
  - banned-users: !include schemas/banned-users-schema.json
  - groups: !include schemas/groups-schema.json
  - currencies: !include schemas/currencies-schema.json
  - roles: !include schemas/roles-schema.json
  - staticresources: !include schemas/staticresources-schema.json
  - subscriptions: !include schemas/subscriptions-schema.json
  - scores: !include schemas/scores-schema.json
  - domain: !include schemas/domain-schema.json
  - event: !include schemas/event-schema.json
  - user-invites: !include schemas/user-invites-schema.json
  - attending: !include schemas/attending-schema.json
  - video: !include schemas/video-schema.json
  - friendlist: !include schemas/friendlist-schema.json
  - members: !include schemas/members-schema.json
  - group-members: !include schemas/group-members-schema.json
  - offer: !include schemas/offer-schema.json
  - user-admins: !include schemas/user-admins-schema.json
  - note: !include schemas/note-schema.json
  - albums: !include schemas/albums-schema.json
  - users: !include schemas/users-schema.json
  - events: !include schemas/events-schema.json
  - conversation: !include schemas/conversation-schema.json
  - messages: !include schemas/messages-schema.json
  - conversations: !include schemas/conversations-schema.json
  - child-brands: !include schemas/child-brands-schema.json
  - insight: !include schemas/insight-schema.json
  - insights: !include schemas/insights-schema.json
  - posts: !include schemas/posts-schema.json
  - links: !include schemas/links-schema.json
  - pages: !include schemas/pages-schema.json
  - milestone: !include schemas/milestone-schema.json
  - milestones: !include schemas/milestones-schema.json
  - notes: !include schemas/notes-schema.json
  - offers: !include schemas/offers-schema.json
  - photo: !include schemas/photo-schema.json
  - tags: !include schemas/tags-schema.json
  - postPhoto: !include schemas/postPhoto-schema.json
  - questions: !include schemas/questions-schema.json
  - settings: !include schemas/settings-schema.json
  - status-messages: !include schemas/status-messages-schema.json
  - tabs: !include schemas/tabs-schema.json
  - videos: !include schemas/videos-schema.json
  - ratings: !include schemas/ratings-schema.json
  - question: !include schemas/question-schema.json
  - votes: !include schemas/votes-schema.json
  - status: !include schemas/status-schema.json
  - thread: !include schemas/thread-schema.json
  - participants: !include schemas/participants-schema.json
  - invited: !include schemas/invited-schema.json
  - picture: !include schemas/picture-schema.json
  - activities: !include schemas/activities-schema.json
  - applications: !include schemas/applications-schema.json
  - requests: !include schemas/requests-schema.json
  - apprequest: !include schemas/apprequest-schema.json
  - friendlists: !include schemas/friendlists-schema.json
  - user-groups: !include schemas/user-groups-schema.json
  - threads: !include schemas/threads-schema.json
  - locations: !include schemas/locations-schema.json
  - notifications: !include schemas/notifications-schema.json
  - payments: !include schemas/payments-schema.json
  - pictures: !include schemas/pictures-schema.json
  - pokes: !include schemas/pokes-schema.json
  - object: !include schemas/object-schema.json
  - books: !include schemas/books-schema.json
  - article: !include schemas/article-schema.json
  - link: !include schemas/link-schema.json
  - message: !include schemas/message-schema.json
  - groupDoc: !include schemas/groupDoc-schema.json
  - achievementType: !include schemas/achievementType-schema.json
  - urlObj: !include schemas/urlObj-schema.json
  - place_tag: !include schemas/place_tag-schema.json
  - openGraphCreateResponse: !include schemas/openGraphCreateResponse-schema.json
resourceTypes:
  - getInsightsType: !include resourceTypes/getInsightsType.raml
  - idReturned: !include resourceTypes/idReturned.raml
  - successReturned: !include resourceTypes/successReturned.raml
  - openGraphAction: !include resourceTypes/openGraphAction.raml
  - attendingUserType: !include resourceTypes/attendingUserType.raml
  - base: !include resourceTypes/base.raml
  - articlesType: !include resourceTypes/articlesType.raml
  - booksType: !include resourceTypes/booksType.raml
  - postsType: !include resourceTypes/postsType.raml
  - openGraphObject: !include resourceTypes/openGraphObject.raml
  - attendingType: !include resourceTypes/attendingType.raml
  
traits:
  - offsetPageable: !include traits/offsetPageable.raml
  - timePageable: !include traits/timePageable.raml
  - hasFields: !include traits/hasFields.raml
  - cursorPageable: !include traits/cursorPageable.raml
securedBy: [ oauth_2_0 ]
/: 
  type: base
  get: 
    description: Represents an external URL as it relates to the Facebook social graph - shares and comments from the URL on Facebook, and any Open Graph objects associated with the URL.
    queryParameters: 
      id: 
        required: true
        example: http%3A%2F%2Fwww.imdb.com%2Ftitle%2Ftt2015381%2F
    responses: 
      200: 
        body: 
          application/json: 
            schema: urlObj
            example: !include examples/urlObj-example.json
/{achievement_id}: 
  type: base
  description: An achievement created by a Game.
  get: 
    description: Returns an achievement object.
    responses: 
      200: 
        body: 
          application/json: 
            schema: achievement
/{album_id}: 
  type: base
  description: A photo album.
  get: 
    description: Retrieve a photo album.
    responses: 
      200: 
        body: 
          application/json: 
            schema: album
            example: !include examples/album-example.json
  /photos: 
    type: idReturned
    post: 
      description: You can add photos to an album by issuing an HTTP POST request
      body: 
        multipart/form-data: 
          formParameters: 
            url: 
              description: The URL of a photo that is already uploaded to the internet. Either this or source is required, but both should not be used together.
              example: url=%7Bimage-url%7D
            source: 
              description: The photo, encoded as form data. Either this or url field is required, but both should not be used together.
              example: source=%7Bimage-data%7D
    get: 
      description: Retrieve the photos contained in this album.
      responses: 
        200: 
          body: 
            application/json: 
              schema: photos
              example: !include examples/photos-example.json
  /comments: 
    type: idReturned
    post: 
      description: You can comment on an Album by issuing an HTTP POST request
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: The updated comment text.
              required: true
              example: message=This+is+a+test+comment
            attachment_id: 
              description: An optional ID of a unpublished photo (see no_story field in /{user_id}/photos) uploaded to Facebook to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            attachment_url: 
              description: The URL of an image to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            source: 
              description: A photo, encoded as form data, to use as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
    get: 
      description: Retrieve the comments made on this album.
      responses: 
        200: 
          body: 
            application/json: 
              schema: comments
              example: !include examples/comments-example.json
  /likes: 
    type: successReturned
    post: 
      description: You can like an Album by issuing an HTTP POST request.
      body: 
        multipart/form-data: 
      responses: 
        200: 
          description: If successful true, otherwise an error message.
    delete: 
      description: |
        You can unlike an album by issuing an HTTP DELETE request.
    get: 
      description: Retrieve the likes made on this album.
      responses: 
        200: 
          body: 
            application/json: 
              schema: likes
              example: !include examples/likes-example.json
  /picture: 
    type: base
    get: 
      description: "Retrieve the album's cover photo, the first picture uploaded to an album becomes the cover photo for the album."
      responses: 
        302: 
          description: "HTTP 302 redirect to URL of the album's cover picture"
/{checkin_id}: 
  description: A single visit to a location. Deprecated in favour of Posts with locations attached.
  /comments: 
    type: idReturned
    post: 
      description: You can comment on a checkin by issuing an HTTP POST request
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: The updated comment text.
              required: true
              example: message=This+is+a+test+comment
            attachment_id: 
              description: An optional ID of a unpublished photo (see no_story field in /{user_id}/photos) uploaded to Facebook to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            attachment_url: 
              description: The URL of an image to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            source: 
              description: A photo, encoded as form data, to use as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
  /likes: 
    type: successReturned
    post: 
      description: You can like a checkin.
      body: 
        multipart/form-data: 
    delete: 
      description: You can unlike an checkin.
/{comment_id}: 
  type: successReturned
  description: A comment published on any other node.
  get: 
    description: |
      Read a comment.
    responses: 
      200: 
        body: 
          application/json: 
            schema: comments
            example: !include examples/comments-example.json
  delete: 
    description: Delete a comment posted by that user.
/{domain_id}: 
  type: base
  description: A web domain claimed within Facebook Insights.
  get: 
    description: Retrieve a web site domain within the Graph API.
    responses: 
      200: 
        body: 
          application/json: 
            schema: domain
            example: !include examples/domain-example.json
  /insights: 
    type: getInsightsType
    get: 
      description: Determined both by the object (Page, App, Post, Domain) being queried and the metric that is being looked up. All available metrics are listed below.
    /{metric_name}: 
      type: base
      get: 
        description: Retrieve an object (Page, App, Post, Domain) by metric name.
        queryParameters: 
          period: 
            description: Change the period (from now) over which the metric has been collected. Valid values for each metric are listed below.
            enum: 
              - lifetime
              - month
              - day
              - week
            example: period=lifetime
          breakdown: 
            description: Usuable only with the application_mobile_app_installs metric to show a breakdown of installs by a specific grouping.
            enum: 
              - gender_age
              - locale
              - country
        responses: 
          200: 
            body: 
              application/json: 
                schema: insights
/{event_id}: 
  type: successReturned
  description: An event.
  get: 
    description: |
      Retrieve an event by ID.
    queryParameters: 
      fields: 
        description: Common parameter
        enum: 
          - id
          - picture
          - location
          - end_time
          - ticket_uri
          - description
          - name
          - privacy
          - owner
          - start_time
          - venue
          - updated_time
        example: fields=id,name,picture
    responses: 
      200: 
        body: 
          application/json: 
            schema: event
  /feed: 
    type: successReturned
    description: "This event's wall."
    post: 
      description: You can create a link, post or status message by issuing an HTTP POST request to the EVENT_ID/feed connection.
      body: 
        multipart/form-data: 
          formParameters: 
            link: 
              description: Link URL
              required: true
            message: 
              description: Message content
            picture: 
              description: Post thumbnail image (can only be used if link is specified)
            name: 
              description: Post name (can only be used if link is specified)
            caption: 
              description: Post caption (can only be used if link is specified)
            description: 
              description: Post description (can only be used if link is specified)
            actions: 
              description: Post actions
    get: 
      description: "Get the feed of posts (including status updates) and links published to this event's wall."
      responses: 
        200: 
  /invited: 
    type: base
    description: All of the users who have been invited to this event.
    get: 
      description: You can read the list of invitees for an event by issuing an HTTP GET to /EVENT_ID/invited
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
    /{USER_ID}: 
      type: successReturned
      get: 
        description: You can check whether a specific user has been invited to an event by issuing an HTTP GET to /EVENT_ID/invited/USER_ID
        queryParameters: 
          summary: 
            type: boolean
          count: 
            description: Total number of invitees (the sum of the other four fields)
            type: integer
          noreply_count: 
            description: "Total number of invitees that haven't yet replied"
            type: integer
          attending_count: 
            description: Total number of invitees that are attending
            type: integer
          declined_count: 
            description: Total number of invitees that are not attending
            type: integer
          maybe_count: 
            description: "Total number of invitees that have not yet rsvp'ed"
        responses: 
          200: 
            body: 
              application/json: 
                schema: invited
      delete: 
        description: You can un-invite a user from an event.
  /attending: 
    type: attendingType
    description: All of the users who are attending this event.
    get: 
      description: "You can see which users are 'attending' an event. This returns a list of all users who responded 'yes' to the event."
    post: 
      description: "You can RSVP the user as 'attending' an Event."
    /{USER_ID}: 
      type: attendingUserType
      get: 
        description: "You can check if a specific user responded 'yes' to an event."
  /maybe: 
    type: attendingType
    description: "All of the users who have been responded 'Maybe' to their invitation to this event."
    get: 
      description: "You can see which users have replied 'maybe' to an event."
    post: 
      description: "You can RSVP the user as a 'maybe' for an Event."
    /{USER_ID}: 
      type: attendingUserType
      get: 
        description: "You can check if a specific user responded 'maybe' to an event."
  /declined: 
    type: attendingType
    description: All of the users who declined their invitation to this event.
    get: 
      description: "You can see which users are declined an event (i.e. responded 'no')."
    post: 
      description: "You can RSVP the user as 'declined' for an Event."
    /{USER_ID}: 
      type: attendingUserType
      get: 
        description: "You can check if a specific user responded 'no' to an event. When checking a single user, an empty data will be returned if the user did not respond 'no' to the event."
  /noreply: 
    type: attendingType
    description: All of the users who have been not yet responded to their invitation to this event.
    get: 
      description: You can see which users have not replied to an event. This returns a list of all users who have not replied to the event.
    /{USER_ID}: 
      type: attendingUserType
      get: 
        description: You can check if a specific user has not replied to an event. When checking a single user, an empty data will be returned if the user did reply to the event.
  /photos: 
    type: idReturned
    get: 
      description: You can read the photos published to an event by issuing an HTTP GET request to /EVENT_ID/photos with a user access_token.
      responses: 
        200: 
          body: 
            application/json: 
              schema: photos
              example: !include examples/photos-example.json
    post: 
      description: "You can post photos to an Event's Wall."
      body: 
        multipart/form-data: 
          formParameters: 
            url: 
              description: The URL of a photo that is already uploaded to the internet. Either this or source is required, but both should not be used together.
              example: url=%7Bimage-url%7D
            source: 
              description: The photo, encoded as form data. Either this or url field is required, but both should not be used together.
              example: source=%7Bimage-data%7D
  /videos: 
    type: base
    description: The videos uploaded to an event.
    get: 
      description: You can read the videos published to an event by issuing an HTTP GET request to /EVENT_ID/videos with a user access_token.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /picture: 
    type: successReturned
    description: "The event's profile picture."
    get: 
      description: "Returns an HTTP 302 redirect to URL of the event's profile picture."
      responses: 
        302: 
    post: 
      description: You can add a profile picture to an event.
      body: 
        multipart/form-data: 
          formParameters: 
            source: 
              description: Picture content
    delete: 
      description: "You can delete an event's profile picture."
/{achievement_type_id}: 
  type: base
  get: 
    description: |
      View any achievement type created by that app.
    responses: 
      200: 
        body: 
          application/json: 
            schema: achievementType
            example: !include examples/achievementType-example.json
/{friendlist_id}: 
  type: successReturned
  description: A grouping of friends created by someone on Facebook.
  get: 
    description: "A user access token with read_friendlists permission is required to view any of that person's friend lists."
    responses: 
      200: 
        body: 
          application/json: 
            schema: friendlist
  /members: 
    type: successReturned
    get: 
      description: |
        View the members of any of the current person's friend lists.
      responses: 
        200: 
          body: 
            application/json: 
              schema: members
              example: !include examples/members-example.json
    post: 
      description: You can add people to a friend list using this edge, while the /{user_id}/friendlists edge will let you create new friend lists.
      body: 
        multipart/form-data: 
          formParameters: 
            members: 
              description: A comma-separated list of IDs of friends to add to the list.
              required: true
              example: members=%7Buser-id-1%7D%2C+%7Buser-id-2%7D
    delete: 
      description: You can remove people from a list by using this edge, while you can delete lists themselves using the /{friendlist_id} node.
      body: 
        multipart/form-data: 
          formParameters: 
            members: 
              description: A comma-separated list of IDs of friends to remove from the list.
              required: true
/{group_id}: 
  type: successReturned
  description: A Facebook group.
  get: 
    description: Retrive the group by ID.
    responses: 
      200: 
        body: 
          application/json: 
            schema: group
            example: !include examples/group-example.json
  post: 
    description: Applications can set the cover photo for a group.
    body: 
      multipart/form-data: 
        formParameters: 
          cover_url: 
            description: "The url for the cover photo. The image will be downloaded and added to the group's album and then used as a cover photo."
            required: true
  /events: 
    type: idReturned
    get: 
      description: All events that belong to a group.
      responses: 
        200: 
          body: 
            application/json: 
              schema: events
  /feed: 
    type: postsType
    post: 
      description: "Users can post a link on the Group's wall."
  /members: 
    type: base
    get: 
      description: Applications can get the list of members that belong to a group.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
    /{USER_ID}: 
      type: successReturned
      post: 
        description: Applications can invite users to a group.
        body: 
          multipart/form-data: 
            formParameters: 
              from: 
                description: The ID of the user doing the inviting.
      delete: 
        description: Users can be removed from a group.
  /admins/{USER_ID}: 
    type: successReturned
    post: 
      description: A member of a group can be promoted to admin. The user must be a member of the group. The user will receive a notification that they have been made an admin for the group.
    delete: 
      description: An admin of a group can be demoted to user by issuing a DELETE request to /GROUP_ID/admins/USER_ID with an app access_token.
  /docs: 
    get: 
      description: Retrieve a list of Group docs.
      responses: 
        200: 
  /files: 
    get: 
      description: Retrieve the files uploaded to this group.
      responses: 
        200: 
/{link_id}: 
  type: successReturned
  description: A link shared on Facebook.
  get: 
    description: Retrive a link shared on a wall.
    responses: 
      200: 
        body: 
          application/json: 
            schema: link
            example: !include examples/link-example.json
  delete: 
    description: An app can delete a link if it published.
/{message_id}: 
  type: base
  description: A Facebook message.
  get: 
    description: Retrive an individual message in the Facebook messaging system.
    responses: 
      200: 
        body: 
          application/json: 
            schema: message
/{milestone_id}: 
  type: successReturned
  description: A Facebook Page milestone.
  get: 
    description: Reading a milestone.
    responses: 
      200: 
        body: 
          application/json: 
            schema: milestone
  delete: 
    description: You can delete an existing milestone.
  post: 
    description: Update an existing milestone.
/{note_id}: 
  type: base
  description: A note shared on Facebook.
  get: 
    description: Read a Note you need.
    responses: 
      200: 
        body: 
          application/json: 
            schema: note
  /comments: 
    type: idReturned
    post: 
      description: You can comment on an note.
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: The updated comment text.
              required: true
              example: message=This+is+a+test+comment
            attachment_id: 
              description: An optional ID of a unpublished photo (see no_story field in /{user_id}/photos) uploaded to Facebook to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            attachment_url: 
              description: The URL of an image to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            source: 
              description: A photo, encoded as form data, to use as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
  /likes: 
    type: successReturned
    post: 
      description: You can like a Note.
    delete: 
      description: You can unlike a Note.
/{object_id}: 
  type: base
  description: A set of likes on a particular object. This represents the general structure that applies to multiple types of nodes.
  get: 
    description: You can retrieve an individual object instance.
    responses: 
      200: 
        body: 
          application/json: 
            schema: object
            example: !include examples/object-example.json
  delete: 
    description: Deleting an object by ID
  /comments: 
    type: idReturned
    description: ""
    get: 
      description: The same permissions required to view the parent object are required to view comments on that object.
      queryParameters: 
        filds: 
          description: |
            |Property Name|Description|Type|
            |---|---|---|
            |order|Order in which comments were returned. + ranked indicates the most interesting comments are sorted first. + chronological indicates comments are sorted by the oldest comments first.|enum{chronological, ranked}|
            |total_count|The count of comments on this node. It is important to note that this value is changed depending on the filter modifier being used (where comment replies are available): if filter is stream then total_count will be a count of all comments (including replies) on the node.if filter is toplevel then total_count will be a count of all top-level comments on the node. total_count can be greater than or equal to the actual number of comments returned due to privacy or deletion|int32|
        summary: 
          description: Shows a summary of metadata about the comments on the object. Importantly this metadata includes order which indicates how the comments are being sorted.
          type: boolean
        filter: 
          description: "This determines which comments are returned when comment replies are available. It can be either:"
          enum: [ stream , toplevel ]
      responses: 
        200: 
          body: 
            application/json: 
              schema: comments
    post: 
      description: You can comment on an object by issuing an HTTP POST request
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: The updated comment text.
              required: true
              example: message=This+is+a+test+comment
            attachment_id: 
              description: An optional ID of a unpublished photo (see no_story field in /{user_id}/photos) uploaded to Facebook to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            attachment_url: 
              description: The URL of an image to include as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
            source: 
              description: A photo, encoded as form data, to use as a photo comment. One of attachment_url, attachment_id, message or source must be provided when publishing.
  /likes: 
    type: successReturned
    get: 
      description: Retrive an array of User objects representing each of the people who liked the object
      queryParameters: 
        total_count: 
          description: Total number of people who liked
          type: integer
      responses: 
        200: 
          body: 
            application/json: 
              schema: likes
              example: !include examples/likes-example.json
    post: 
      description: You can add new likes to any object.
    delete: 
      description: You can delete likes using this edge.
  /insights/{metric_name}: 
    type: base
    get: 
      description: Retrieve an object (Page, App, Post, Domain) by metric name.
      queryParameters: 
        period: 
          description: Change the period (from now) over which the metric has been collected. Valid values for each metric are listed below.
          enum: 
            - lifetime
            - month
            - day
            - week
          example: period=lifetime
        breakdown: 
          description: Usuable only with the application_mobile_app_installs metric to show a breakdown of installs by a specific grouping.
          enum: 
            - gender_age
            - locale
            - country
      responses: 
        200: 
          body: 
            application/json: 
              schema: insights
  /sharedposts: 
    type: base
    description: This reference describes the /sharedposts edge that is common to multiple Graph API nodes. The structure and operations are the same for each node.
    get: 
      description: |
        View the post after privacy settings are taken into account.
      responses: 
        200: 
          body: 
            application/json: 
              schema: posts
              example: !include examples/posts-example.json
/{offer_id}: 
  type: base
  description: An offer published by a Page.
  get: 
    description: To read an offer object, issue an HTTP GET request to /OFFER_ID.
    responses: 
      200: 
        body: 
          application/json: 
            schema: offer
/{page_id}: 
  type: base
  description: A Facebook Page.
  get: 
    description: Reading the page by ID.
    responses: 
      200: 
        body: 
          application/json: 
            schema: page
  /admins: 
    type: base
    description: "A list of the Page's Admins."
    get: 
      description: This returns an array of User objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: user-admins
              example: !include examples/user-admins-example.json
    /{user_id}: 
      type: base
      get: 
        description: This returns an User object.
        responses: 
          200: 
            body: 
              application/json: 
                schema: user
  /albums: 
    type: idReturned
    description: The photo albums the Page has uploaded.
    post: 
      description: You can create an empty album of a page by issuing an HTTP Post request
      body: 
        multipart/form-data: 
          formParameters: 
            name: 
              description: The name of the Page.
            message: 
            about: 
              description: Information about the Page
              example: about=Test+about+text
            company_overview: 
              description: The company overview. Applicable to Companies
            cover: 
            description: 
              description: The description of the Page
            general_info: 
              description: General information provided by the Page
            hours: 
              description: Indicates the opening hours for this location.
            is_permanently_closed: 
              type: boolean
            mission: 
              description: The company mission. Applicable to Companies
            parking: 
              description: Information about the parking available at a place.
            phone: 
              description: Phone number provided by a Page
            website: 
              description: "The URL of the Page's website"
    get: 
      description: Reading this endpoint returns an array of Album objects with the same fields as that node.
      responses: 
        200: 
          body: 
            application/json: 
              schema: albums
              example: !include examples/albums-example.json
  /blocked: 
    type: successReturned
    description: A list of users blocked from the Page.
    get: 
      description: Retrieve the list of people blocked from viewing this Page.
      responses: 
        200: 
          body: 
            application/json: 
              schema: users
    post: 
      description: You can publish to this edge to block people from a Page.
      body: 
        multipart/form-data: 
          formParameters: 
            user: 
              description: The user ID of the person to be blocked. This field is required.
              required: true
    delete: 
      description: You can delete on this edge to remove someone from the blocked list for that Page.
      body: 
        multipart/form-data: 
          formParameters: 
            user: 
              description: The user ID of the person to be unblocked. This field is required.
              required: true
    /{user_id}: 
      type: base
      get: 
        description: |
          You can also append a person's user id or username to the edge in order to directly determine whether that person is blocked by the page.
        responses: 
          200: 
            body: 
              application/json: 
                schema: user
  /checkins: 
    type: base
    description: Check-ins made to this Page by people.
    get: 
      description: The checkins made to this Page by a person or their friends.
  /conversations: 
    type: base
    description: "A list of the Page's conversations."
    get: 
      description: |
        Reading this endpoint returns an array of Conversation objects with the same fields as that node.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /events: 
    type: successReturned
    description: The events the Page has created.
    get: 
      description: Retrieve the events this Page has created.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /feed: 
    type: postsType
    description: "The Page's wall."
    get: 
      description: Return an array of Post objects.
    post: 
      description: You can create links, status messages, or posts by using this edge.
  /global_brand_children: 
    type: base
    description: Expose information of all children Pages.
    get: 
      description: Reading this endpoint returns an array of Page objects representing each of the child brands.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /insights: 
    type: getInsightsType
    description: "The Page's Insights data"
    get: 
      description: Retreive an array of Insights objects. See the Insights documentation for more information.
    /{metric_name}: 
      type: base
      get: 
        description: Retreive an array of Insights objects by metric name.
        queryParameters: 
          period: 
            description: Change the period (from now) over which the metric has been collected. Valid values for each metric are listed below.
            enum: 
              - lifetime
              - month
              - day
              - week
            example: period=lifetime
          breakdown: 
            description: Usuable only with the application_mobile_app_installs metric to show a breakdown of installs by a specific grouping.
            enum: 
              - gender_age
              - locale
              - country
        responses: 
          200: 
            body: 
              application/json: 
                schema: insights
  /links: 
    type: base
    description: "The Page's posted links."
    get: 
      description: |
        Return an array of Link objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /locations: 
    type: successReturned
    description: The location Pages that are children of this Page.
    get: 
      description: |
        Retrieve an array of Page objects, each representing an individual location for the business.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
    post: 
      description: You can add or update an existing location-based Page to this list by publishing on this edge
      body: 
        multipart/form-data: 
          formParameters: 
            main_page_id: 
              description: The ID for the Facebook Page that is the parent of all the locations. This is a required field.
            store_number: 
              description: An arbitrary, developer-defined ID for this location, usually used to link back to an internal database of locations. This is a required field.
              type: integer
            location_page_id: 
              description: The ID of the Facebook Page you would like to add as a location. If this field is not included, you must instead specify location, place_topics, and phone fields to create a new location Page.
            location: 
              description: This defines the location for this page. This is required if location_page_id is not specified. The dictionary must include the keys street (street address), latitude, and longitude. It also must include either city_id or all of city, state, and country (but state is optional if the address is not in the U.S.). The zip field is also optional unless it is a U.S. address. Please see later in this document for information about generating a city id.
            place_topics: 
              description: Place topics for this location. This is required if location_page_id is not specified. Use an array of IDs sourced from the placetopic search endpoint.
              type: integer
            phone: 
              description: Phone number for this location. This is required if location_page_id is not specified.
            hours: 
            page_username: 
              description: Vanity URL for this location - this has to be an unused vanity URL - you should check by querying /{page-username} and looking for existing objects with this name.
            permanently_closed: 
              description: Is this location permanently closed?
              type: boolean
            is_franchise: 
              description: Is this a franchise location?
              type: boolean
            ignore_warnings: 
              description: Whether to disable any warnings (not errors) that result from this API call, such as latitude and longitude not matching street address.
              type: boolean
    delete: 
      description: "You can remove a location page from a parent's list of locations by deleting on this edge"
      body: 
        multipart/form-data: 
          formParameters: 
            main_page_id: 
              description: ID of the main Facebook Page for this location.
            store_number: 
              description: Developer-defined ID for this location.
            location_page_id: 
              description: Facebook-defined ID for this location.
  /milestones: 
    type: idReturned
    description: "A list of the Page's milestones."
    get: 
      description: |
        Retrieve an array of Milestone objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
    post: 
      description: You can create Page milestones by using this edge.
      body: 
        multipart/form-data: 
          formParameters: 
            title: 
              description: The title of the milestone.
              example: title=Final+Episode+Aired
            description: 
              description: The description of the milestone.
              example: description=The+big+finale+was+today%21
            start_time: 
              description: The start time of the milestone. This will also be used for the end_time value (these two fields are always the same).
              example: start_time=2013-09-29T21%3A00%3A00%2B0500
  /notes: 
    type: idReturned
    description: "The Page's notes."
    get: 
      description: Return an array of Note objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
    post: 
      description: Publishing an note.
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: The main body of the note. This is a required field.
              example: message=This+is+a+test+message
            subject: 
              description: The title of the note. This is a required field. Can accept basic HTML styling tags such as <strong> or <ul>.
              example: subject=This+is+a+test+note
  /offers: 
    type: idReturned
    description: The offers created by this Page
    get: 
      description: Return an array of Offer objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: offers
    post: 
      description: You can create offers by using this edge.
      body: 
        multipart/form-data: 
          formParameters: 
            title: 
              description: The title of the offer. This field is required.
            expiration_time: 
              description: The expiration time of the offer (used when displaying the offer). This field is required.
            terms: 
              description: Terms and conditions of the offer.
            image_url: 
              description: "The URL for the offer's image. Either image_url or image parameter should be specified, but not both."
            image: 
              description: The image for the offer. Either image_url or image parameter should be specified, but not both.
            claim_limit: 
              description: The maximum number of times the offer can be claimed
              type: integer
            coupon_type: 
              description: "The type of offer: in_store_only, in_store_and_online or online_only"
              enum: 
                - in_store_only
                - in_store_and_online
                - online_only
            qrcode: 
              description: "QR code - alphanumeric with limited punctuation: $ % * + - . / "
            barcode: 
              description: 12-character UPC-A or 13-character EAN-13 barcode (alphanumeric)
            redemption_link: 
              description: The URL where the offer may be redeemed
            redemption_code: 
              description: A code to enter on your website to receive the discount or promotion (50 characters max)
            published: 
              description: Whether a post is published. Default is published
              type: boolean
            scheduled_publish_time: 
              description: Time when the page post should go live, this should be between 10 mins and 6 months from the time of publishing the post.
            reminder_time: 
              description: Time before the expiration_time of the offer when the user receives a notification that the offer is about to expire
  /picture: 
    type: successReturned
    description: "The Page's profile picture."
    get: 
      description: Retrieve a picture.
      queryParameters: 
        redirect: 
          description: The picture edge is a special case, as when requested, it will by default return the picture itself and not a JSON response. To return a JSON response, you need to set redirect=false as a request attribute. This is how to return the fields below.
          type: boolean
          default: 1
          example: redirect=0
        type: 
          description: You use this to get a pre-specified size of picture.
          enum: 
            - normal
            - square
            - small
            - large
          example: type=normal
        height: 
          description: Restrict the picture height to this size in pixels.
          type: integer
        width: 
          description: Restrict the picture width to this size in pixels. When height and width are both used, the image will be scaled as close to the dimensions as possible and then cropped down.
          type: integer
      responses: 
        200: 
          body: 
            application/json: 
              schema: picture
    post: 
      description: Publishing a picture.
      body: 
        multipart/form-data: 
          formParameters: 
            url: 
              description: The URL of a photo that is already uploaded to the internet. Either this or source is required, but both should not be used together.
              example: url=%7Bimage-url%7D
            source: 
              description: The photo, encoded as form data. Either this or url field is required, but both should not be used together.
              example: source=%7Bimage-data%7D
  /photos: 
    type: base
    description: The photos the Page is tagged in.
    get: 
      description: |
        Return an array of Photo objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: photos
              example: !include examples/photos-example.json
    post: 
      description: Publishing photos to Facebook
      body: 
        multipart/form-data: 
          formParameters: 
            url: 
              description: The URL of a photo that is already uploaded to the internet. Either this or source is required, but both should not be used together.
              example: url=%7Bimage-url%7D
            source: 
              description: The photo, encoded as form data. Either this or url field is required, but both should not be used together.
              example: source=%7Bimage-data%7D
            message: 
              description: The description of the photo, used as the accompanying status message in any feed story.
            place: 
              description: Page ID of a place associated with the Photo
            no_story: 
              description: "If set to true, this will suppress the feed story that is automatically generated on a Page's profile when it uploads a photo using your app."
              type: boolean
            targeting: 
              description: Object that limits the audience for this content. Anyone not in these demographics will not be able to view this content. This will not override any Page-level demographic restrictions that may be in place.
            feed_targeting: 
              description: Object that controls news feed targeting for this content. Anyone in these groups will be more likely to see this content, those not will be less likely, but may still see it anyway. Any of the targeting fields shown here can be used, none are required.
            age_max: 
            age_min: 
            cities: 
            college_majors: 
            college_networks: 
            id: 
            countries: 
            education_statuses: 
            genders: 
            scheduled_publish_time: 
              description: Time when this post should go live, this can be any date between ten minutes and six months from the time of the API call.
      responses: 
        200: 
          body: 
            application/json: 
              schema: postPhoto
              example: !include examples/postPhoto-example.json
    /uploaded: 
      type: base
      description: The photos the Page has uploaded.
      get: 
        description: Shows all photos that were published to Facebook by this page.
        responses: 
          200: 
            body: 
              application/json: 
                schema: photos
                example: !include examples/photos-example.json
  /promotable_posts: 
    type: base
    description: "The Page's own posts, a derivative of /feed that includes unpublished and scheduled posts"
    get: 
      description: Shows only the posts that can be boosted (includes unpublished and scheduled posts).
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /questions: 
    type: base
    description: "The Page's questions."
    get: 
      description: Return an array of Question objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /settings: 
    type: successReturned
    description: Controllable settings for this page.
    post: 
      description: You can adjust Page settings by using this edge
      body: 
        multipart/form-data: 
          formParameters: 
            setting: 
              description: The name of the setting
              enum: 
                - USERS_CAN_TAG_PHOTOS
                - USERS_CAN_MESSAGE
                - USERS_CAN_POST
                - USERS_CAN_POST_PHOTOS
                - SHOW_RECENT_POSTS_BY_OTHERS
                - PLATFORM_OPTOUTS_CAN_POST
              example: setting=USERS_CAN_POST_VIDEOS
            value: 
              description: Whether the setting is enabled or not.
              type: boolean
              example: value=0
    get: 
      description: Reading a sattings.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /statuses: 
    type: base
    description: The feed of status messages published by this page.
    get: 
      description: |
        Retrieve an array of Status Message objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
  /tabs: 
    type: successReturned
    description: The apps that this Page has added as tabs.
    get: 
      description: Get apps that this Page has added as tabs.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
    post: 
      description: Add apps as a tab using this edge
      body: 
        multipart/form-data: 
          formParameters: 
            app_id: 
              description: ID of the app that you want to add as a tab.
              example: app_id=%7Bapp-id%7D
    /app_{app_id}: 
      type: successReturned
      delete: 
        description: You can remove tabs using this edge
      post: 
        description: You can update tabs by using this edge ({app_id} is the ID of the app in the tab that you want to update)
        body: 
          multipart/form-data: 
            formParameters: 
              position: 
                description: Order in which the tab will appear on the profile. Must be after permanent tabs and less than the number of installed tabs. Index starts at 0
                type: integer
                default: 0
                example: position=3
              custom_name: 
                description: "Name to be used for the tab. If this is set to an empty string, the tab will use the application's default tab name."
                example: custom_name=Newtabname
              is_non_connection_landing_tab: 
                description: Set this tab as the default landing tab for users who have not liked and are not admins of the Page. If provided, value must be true.
                type: boolean
              custom_image_url: 
                description: URL for an image to be used as a custom icon for this Page app. Note that either custom_image_url or custom_image can be set, but not both.
              custom_image: 
                description: The name of an image file to be used as a custom icon for this Page app. Note that either custom_image_url or custom_image can be set, but not both.
  /tagged: 
    type: postsType
    description: The photos, videos, and posts in which the Page has been tagged. A derivative of /feeds
    get: 
      description: Shows only the posts that this page was tagged in
  /videos: 
    type: base
    description: The videos the Page has uploaded.
    get: 
      description: Shows all videos this page is tagged in.
      responses: 
        200: 
          body: 
            application/json: 
              schema: invited
    /uploaded: 
      type: base
      get: 
        description: |
          Shows all videos that were published to Facebook by this page.
          Return an array of Video objects.
        responses: 
          200: 
            body: 
              application/json: 
                schema: invited
  /ratings: 
    type: base
    description: Various Page settings controlling who can post content to that Page, or send messages, etc.
    get: 
      description: Read a ratings.
      responses: 
        200: 
          body: 
            application/json: 
              schema: picture
  /posts: 
    get: 
      description: Retrieve the feed of posts (including status updates) and links published by this page, or by others on this page.
      responses: 
        200: 
/{payment_id}: 
  type: base
  description: Details of a payment made via Facebook.
  get: 
    description: Retrieve the payment details using the payment_id.
    responses: 
      200: 
        body: 
          application/json: 
            schema: payment
            example: !include examples/payment-example.json
  /dispute: 
    type: successReturned
    post: 
      description: Whenever a transaction is disputed, you may set the status of a dispute from pending to resolved.
      body: 
        multipart/form-data: 
          formParameters: 
            reason: 
              description: "The reason you are setling this dispute. This parameter is required and must be set to one of the following: GRANTED_REPLACEMENT_ITEM, DENIED_REFUND, BANNED_USER. Providing any value other than those enumerated here will result in an error."
              enum: 
                - BANNED_USER
                - GRANTED_REPLACEMENT_ITEM
                - DENIED_REFUND
  /refunds: 
    type: successReturned
    post: 
      description: You may refund any amount less than or equal to the refundable_amount returned, and make additional refunds as long as the refundable_amount is greater than zero.
      body: 
        multipart/form-data: 
          formParameters: 
            currency: 
              description: The three-letter ISO code of the currency in which the refund amount is specified; it must be the same as the currency in which the original purchase was denominated.
            amount: 
              description: The amount to refund
            reason: 
              description: "The reason you are refunding this order. This is optional but if specified must be one of the following: MALICIOUS_FRAUD, FRIENDLY_FRAUD, CUSTOMER_SERVICE. Providing any value other than those enumerated here will result in an error"
              enum: 
                - FRIENDLY_FRAUD
                - CUSTOMER_SERVICE
                - MALICIOUS_FRAUD
/{photo_id}: 
  type: successReturned
  description: A photo published to Facebook.
  get: 
    description: Reading a photo.
    responses: 
      200: 
        body: 
          application/json: 
            schema: photo
            example: !include examples/photo-example.json
  delete: 
    description: You can delete photos using this edge
  /tags: 
    description: Get likes
    get: 
      description: Get the list of people tagged in a photo.
      responses: 
        200: 
    post: 
      description: You can add tags to a photo using this edge.
      responses: 
        200: 
  /comments: 
    get: 
      description: Get comments.
      responses: 
        200: 
    post: 
      description: Publish a comment.
      responses: 
        200: 
  /likes: 
    get: 
      description: Get a likes.
      responses: 
        200: 
    post: 
      description: You can add new likes to any object as below
      responses: 
        200: 
    delete: 
      description: You can delete likes using this edge.
      responses: 
        200: 
/{post_id}: 
  type: successReturned
  description: A post published to Facebook.
  delete: 
    description: You can delete a post as long as your application created the post.
  /comments: 
    type: idReturned
    get: 
      description: |
        Retrieve an array of objects containing id, from, message and created_time fields.
      responses: 
        200: 
          body: 
            application/json: 
              schema: comments
              example: !include examples/comments-example.json
    post: 
      description: You can write comments to post.
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: Comment text
              required: true
  /insights: 
    type: getInsightsType
    get: 
      description: |
        Retrieve an array of Insights objects. See the Insights documentation for more information.
    /{metric_name}: 
      type: base
      get: 
        description: Retrieve an array of Insights objects by metric name.
        queryParameters: 
          period: 
            description: Change the period (from now) over which the metric has been collected. Valid values for each metric are listed below.
            enum: 
              - lifetime
              - month
              - day
              - week
            example: period=lifetime
          breakdown: 
            description: Usuable only with the application_mobile_app_installs metric to show a breakdown of installs by a specific grouping.
            enum: 
              - gender_age
              - locale
              - country
        responses: 
          200: 
            body: 
              application/json: 
                schema: insights
  /likes: 
    type: successReturned
    delete: 
      description: You can unlike a post.
    post: 
      description: You can like a Post.
/{question_id}: 
  description: |
    A question published by a Page.
    Questions have been deprecated for pages and users. This documentation exists only for historical reasons. You can still read the data from old questions, but you can't create new ones.
  /options: 
    type: idReturned
    get: 
      description: |
        Retrieve the options available as answers to the question.
      responses: 
        200: 
          body: 
            application/json: 
              schema: picture
    post: 
      description: Questions that the current user has asked
      body: 
        multipart/form-data: 
          formParameters: 
            option: 
              description: Description of option
    /votes: 
      type: base
      get: 
        description: |
          Return an array of objects containing the id and name of users who have voted for this specific option
        responses: 
          200: 
            body: 
              application/json: 
                schema: votes
/{status_id}: 
  type: base
  description: A status message or post published to Facebook.
  get: 
    description: Retrieve a status message on the Facebook Page.
    responses: 
      200: 
        body: 
          application/json: 
            schema: picture
  delete: 
    description: Delete a status message on the Facebook Page.
/{thread_id}: 
  type: base
  description: A message thread in Facebook Messages.
  get: 
    description: The Thread object returns.
    responses: 
      200: 
        body: 
          application/json: 
            schema: picture
  /former_participants: 
    type: base
    get: 
      description: Retrieve a list of former thread participants who have unsubscribed from the thread.
      responses: 
        200: 
          body: 
            application/json: 
              schema: participants
  /messages: 
    type: base
    get: 
      description: Retrieve a list of the message objects contained in this thread.
      responses: 
        200: 
          body: 
            application/json: 
              schema: messages
  /participants: 
    type: base
    get: 
      description: Retrieve a list of the thread participants
      responses: 
        200: 
          body: 
            application/json: 
              schema: participants
  /senders: 
    type: base
    get: 
      description: Retrieve a list of participants who have sent a message in the thread
      responses: 
        200: 
          body: 
            application/json: 
              schema: participants
  /tags: 
    type: base
    get: 
      description: Retrieve a  thread tags.
      responses: 
        200: 
          body: 
            application/json: 
              schema: tags
/{user_id}: 
  type: base
  description: A person using Facebook.
  get: 
    description: All events that belong to a user.
    responses: 
      200: 
        body: 
          application/json: 
            schema: user
  /accounts: 
    type: base
    description: The Facebook pages of which the current user is an administrator.
    get: 
      description: Retrieve the Facebook Pages of which this person is an admin.
      responses: 
        200: 
          body: 
            application/json: 
              schema: page
              example: !include examples/page-example.json
  /achievements: 
    type: idReturned
    description: The achievements for the user.
    post: 
      description: You can post an achievement for a user.
      body: 
        multipart/form-data: 
          formParameters: 
            achievement: 
              description: The unique URL of the type of achievement that the person will receive. This is required.
              required: true
    delete: 
      description: You can delete an achievement for a player.
      body: 
        multipart/form-data: 
          formParameters: 
            achievement: 
              description: The unique URL of the type of achievement you want to delete. This is required.
              example: achievement=%7Burl-of-achievement-to-delete%7D
    get: 
      description: Reading this endpoint returns an array of Achievement objects with the same fields as that node.
      responses: 
        200: 
          body: 
            application/json: 
              schema: achievements
  /activities: 
    type: base
    description: "The activities listed on the user's profile."
    get: 
      description: Reading this endpoint returns an array of Page objects (which represent each of the activities)
      responses: 
        200: 
          body: 
            application/json: 
              schema: activities
  /adaccounts: 
    type: base
    description: The advertising accounts to which the current user has access.
    get: 
      is: [ hasFields ]
      description: To read information about an ad account. And specify any of the following fields. Only id is returned by default.
      responses: 
        200: 
          body: 
            application/json: 
              schema: page
              example: !include examples/page-example.json
  /albums: 
    type: idReturned
    description: The photo albums this user has created.
    get: 
      description: Reading this endpoint returns an array of Album objects with the same fields as that node.
      responses: 
        200: 
          body: 
            application/json: 
              schema: albums
              example: !include examples/albums-example.json
    post: 
      description: Publishing an album.
      body: 
        multipart/form-data: 
          formParameters: 
            name: 
              description: The name given to the album. This field is required.
              example: name=%7Balbum-name%7D
            message: 
              description: The description of the album, which will show up in news feed stories as the status message.
              example: message=%7Balbum-description%7D
            privacy: 
              description: Privacy settings for the album
              example: privacy=%7Bprivacy-settings%7D
  /applications/developer: 
    type: base
    description: List of applications for this developer.
    get: 
      description: |
        Reading this endpoint returns an array of Application objects with the same fields as that node.
      responses: 
        200: 
          body: 
            application/json: 
              schema: applications
  /apprequests: 
    type: base
    description: "The user's outstanding requests from an app."
    get: 
      description: Retrieve an array of request objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: requests
    post: 
      description: Publishing a request.
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: A UTF-8 string which describes the request. This field is required.
              required: true
              example: message=This+is+a+test+message
      responses: 
        200: 
          body: 
            application/json: 
              schema: apprequest
  /books: 
    type: base
    description: "The books listed on the user's profile."
    get: 
      description: Reading this endpoint returns an array of Page objects (which represent each of the books)
      responses: 
        200: 
          body: 
            application/json: 
              schema: activities
  /checkins: 
    type: base
    description: The places that the user has checked-into.
    get: 
      description: |
        View someone's checkins.
  /events: 
    type: idReturned
    description: The events this user is attending.
    get: 
      description: |
        View this person's events.
      responses: 
        200: 
          body: 
            application/json: 
              schema: events
    /attending: 
      type: attendingUserType
      description: The events this user is attending.
      get: 
        description: "Return an array of objects with the name, id, and rsvp_status fields. When checking a single user, an empty data will be returned if the user did not respond 'yes' to the event."
    /maybe: 
      type: attendingUserType
      description: "The events this user has RSVP'd as maybe."
      get: 
        description: "Return an array of objects with the name, id, and rsvp_status fields. When checking a single user, an empty data will be returned if the user did not respond 'maybe' to the event."
    /declined: 
      type: attendingUserType
      description: The events this user has declined.
      get: 
        description: "This returns a list of all users who responded 'no' to the event"
    /not_replied: 
      get: 
        description: "Returns the events that the person has not yet RSVP'd."
        responses: 
          200: 
    /created: 
      get: 
        description: Returns the events that the person has created.
        responses: 
          200: 
  /family: 
    type: base
    description: "The user's family relationships"
    get: 
      description: |
        Permissions
        A user access token with user_relationships permission is required to retrieve the current user's family.
        A user access token with friends_relationships permission is required to retrieve the family of any of the current user's friends.
        Fields
        An array of User objects 
      responses: 
        200: 
          body: 
            application/json: 
              schema: users
  /feed: 
    type: postsType
    description: The posts and links published by this person or others on their profile.
    get: 
      description: Return an array of Post objects.
      queryParameters: 
        with: 
          description: Restrict the list of posts to only those with location attached.
          enum: [ location ]
          example: with=location
        filter: 
          description: Retrieve only posts that match a particular stream filter. Valid filters to be used here can be retrieved using the FQL stream_filter table.
    post: 
      description: A user access token with publish_actions permission can be used to publish new posts.
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: The main body of the post, otherwise called the status message. Either link or message must be supplied.
              example: message=This+is+a+test+message
            link: 
              description: The URL of a link to attach to the post. Either link or message must be supplied. Additional fields associated with link are shown below.
  /friendlists: 
    type: base
    description: "The user's friend lists."
    get: 
      description: |
        Permissions
        A user access token with read_friendlists permission is required to view the current person's friend lists.
        Fields
        An array of Friendlist objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: friendlists
  /friendrequests: 
    type: base
    description: "The user's incoming friend requests."
    get: 
      description: Reading a requests
      responses: 
        200: 
          body: 
            application/json: 
              schema: requests
  /friends: 
    type: base
    description: "The user's friends."
    get: 
      description: |
        View the current person's friends.
      responses: 
        200: 
          body: 
            application/json: 
              schema: users
    /{user_b_id}: 
      type: base
      get: 
        description: |
          You can append another person's id or username to the edge in order to determine whether that person is friends with the root node user.
        responses: 
          200: 
            body: 
              application/json: 
                schema: user
  /games: 
    type: base
    description: Games the user has added to the Arts and Entertainment section of their profile.
    get: 
      description: |
        View the current person's non-public liked games.
      responses: 
        200: 
          body: 
            application/json: 
              schema: pages
  /groups: 
    type: base
    description: The Groups that the user belongs to.
    get: 
      description: |
        Retreive person's groups.
      responses: 
        200: 
          body: 
            application/json: 
              schema: user-groups
              example: !include examples/user-groups-example.json
  /home: 
    type: base
    description: "The user's news feed."
    get: 
      description: |
        View that person's news feed.
      queryParameters: 
        with: 
          description: Use location to retrieve only posts with a location attached.
          enum: [ location ]
        filter: 
          description: Retrieve only posts that match a particular stream filter. Valid filters to be used here can be retrieved using the FQL stream_filter table.
      responses: 
        200: 
          body: 
            application/json: 
              schema: posts
  /inbox: 
    type: base
    description: "The Threads in this user's inbox."
    get: 
      description: |
        View that person's inbox.
      responses: 
        200: 
          body: 
            application/json: 
              schema: threads
  /interests: 
    type: base
    description: "The interests listed on the user's profile."
    get: 
      description: |
        Reading this endpoint returns an array of Page objects (which represent each of the interests)
      responses: 
        200: 
          body: 
            application/json: 
              schema: activities
  /likes: 
    type: base
    description: All the pages this user has liked.
    get: 
      description: |
        Reading this endpoint returns an array of Page objects
      responses: 
        200: 
          body: 
            application/json: 
              schema: activities
    /{page_id}: 
      type: base
      get: 
        description: You can append a page id to the edge in order to determine whether that page is liked by the root node user
        responses: 
          200: 
            body: 
              application/json: 
                schema: page
  /links: 
    type: postsType
    description: This is a duplicate of the /feeds edge which only shows posts of type link published by the user themselves.
    get: 
      description: Retrieve a links.
    post: 
      description: Publishing a link.
  /locations: 
    type: base
    description: A feed of posts and photos that include location information and in which this person has been tagged.
    get: 
      description: |
        Retrieve an array of Post and Photo objects with one additional field type.
      responses: 
        200: 
          body: 
            application/json: 
              schema: locations
              example: !include examples/locations-example.json
  /movies: 
    type: base
    description: "The movies listed on the user's profile."
    get: 
      description: |
        Reading this endpoint returns an array of Page objects (which represent each of the movies) with the following additional fields created_time.
      responses: 
        200: 
          body: 
            application/json: 
              schema: activities
  /music: 
    type: base
    description: "The music listed on the user's profile."
    get: 
      description: |
        Reading this endpoint returns an array of Page objects (which represent each music artists) with the following additional fields created_time.
      responses: 
        200: 
          body: 
            application/json: 
              schema: activities
              example: !include examples/activities-example.json
  /notes: 
    type: idReturned
    description: "The user's notes."
    get: 
      description: |
        Retrieve an array of Note objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: notes
    post: 
      description: Publishing a note.
      body: 
        multipart/form-data: 
          formParameters: 
            message: 
              description: The main body of the note. This is a required field.
              required: true
              example: message=This+is+a+test+message
            subject: 
              description: The title of the note. This is a required field.
              required: true
              example: subject=This+is+a+test+note
  /notifications: 
    type: successReturned
    description: App notifications for the user.
    get: 
      description: |
        Retrieve an array of Notification objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: notifications
    post: 
      description: |
        Generate new app to user notifications.
      body: 
        multipart/form-data: 
          formParameters: 
            href: 
              description: "The relative path that someone clicking on the notification will be directed to. This is will be appended to the app's canvas URL."
              example: href=%2Ftesturl%3Fparam1%3Dvalue1
            template: 
              description: The message text of the notification. This can be formatted according to special text templating. Maximum of 180 characters.
              example: template=This+is+a+test+message
  /outbox: 
    type: base
    description: "The messages in this user's outbox."
    get: 
      description: |
        Retrieve an array of Thread objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: threads
  /payment_transactions: 
    type: base
    description: The Facebook Payments orders the user placed with an application.
    get: 
      is: [ timePageable ]
      description: |
        Retrieve an array of Payment objects.
      queryParameters: 
        request_id: 
          description: To retrieve the payment details using the request_id
          example: request_id=YOUR_REQUEST_ID
        filds: 
          description: |
            |Name|Description|Permissions|Returns|
            |---|---|---|---|
            |id|The payment ID|A valid app access_token|string|
            |user|The consumer's first and last name along with their user id|A valid app access_token|Object containing name and id parameters|
            |product|The URL of the og:product object ordered|A valid app access_token|string|
            |quantity|The quantity of the product contained in the order|A valid app access_token|integer|
            |request_id|The unique, optional app-created identifier passed into the JS function (255 character maximum)|A valid app access_token|string|
            |application|The app associated with this payment|A valid app access_token|Object containing name, namespace and id parameters|
            |actions|The type, status, amount, currency, time_created and time_updated for a Payment.type can have the following values: charge, refund, chargeback, chargeback reversal, decline as described here status can have the following values: inited, processing, completed, failed as described here|A valid app access_token|Array of objects containing type, status, amount, currency, time_created and time_updated parameters|
            |items|The items associated with the payment containing type, product and quantity|A valid app access_token|Object containing type, product and quantity parameters|
            |country|Buyer's ISO Country Code for tax purposes|A valid app access_token|string|
            |created_time|The time the Payment was originally created|A valid app access_token|string|
            |payout_foreign_exchange_rate|Exchange rate used to calculate payout amount which is remitted in USD|A valid app access_token|double|
            |disputes|Contains the information related to a dispute, including the user_comment and user_email which is provided by the consumer when the dispute is initiated. Additionally contains the current status of the dispute, the time the dispute was created an an resolution reason, if available.|A valid app access_token|Object containing user_comment, time_created, user_email, status and reason parameters|
            |test|Optional parameter that shows up when a payment is made by a payment tester listed in the app's dashboard|This represents a transaction that has not been charged to the consumer's payment intsrument||
      responses: 
        200: 
          body: 
            application/json: 
              schema: payments
              example: !include examples/payments-example.json
  /permissions: 
    type: base
    description: The permissions that user has granted the application.
    get: 
      description: The call must be made with either a user access token or your app access token. The call will return a JSON string containing the permission names which have been granted to the app
      responses: 
        200: 
          body: 
            application/json: 
              schema: permissions
              example: !include examples/permissions-example.json
  /photos: 
    type: base
    description: Photos the user (or friend) is tagged in.
    get: 
      description: |
        Retrieve an array of Photo objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: photos
              example: !include examples/photos-example.json
    /uploaded: 
      type: base
      description: Similar to /photos except shows all photos this person has uploaded.
      get: 
        description: Reading a photos uploaded.
        responses: 
          200: 
            body: 
              application/json: 
                schema: photos
                example: !include examples/photos-example.json
  /pokes: 
    type: base
    description: "The user's pokes."
    get: 
      description: |
        A user access token with read_mailbox permission is required to see pokes for that person.
      responses: 
        200: 
          body: 
            application/json: 
              schema: pokes
  /questions: 
    type: base
    description: "The user's questions."
    get: 
      description: Return an array of Question objects.
      responses: 
        200: 
          body: 
            application/json: 
              schema: questions
  /scores: 
    type: successReturned
    description: "The scores this person has received from Facebook Games that they've played."
    get: 
      description: |
        Retrieve all scores that person's friends have received from other apps.
      responses: 
        200: 
          body: 
            application/json: 
              schema: scores
    post: 
      description: |
        You can publishing scores for the person.
      body: 
        multipart/form-data: 
          formParameters: 
            score: 
              description: The score that you want to set for this person.
              type: integer
              required: true
              example: score=3444
    delete: 
      description: You can delete the score this person has received from your app only.
  /statuses: 
    type: postsType
    description: This is a duplicate of the /feeds edge which only shows status update posts published by the user themselves.
    get: 
      description: Retrieve the statuses.
  /subscribedto: 
    type: base
    description: "People you're subscribed to."
    get: 
      description: |
        Retrieve an array of User objects that represent each followed person.
      responses: 
        200: 
          body: 
            application/json: 
              schema: users
  /subscribers: 
    type: base
    description: "The user's subscribers."
    get: 
      description: |
        Retrieve an array of User objects that represent each follower.
      responses: 
        200: 
          body: 
            application/json: 
              schema: users
  /tagged: 
    type: postsType
    description: This is a duplicate of the /feeds edge which only shows posts in which the user is tagged.
    get: 
      description: Shows posts in which the person is tagged.
    post: 
      description: To publish new posts.
  /television: 
    type: base
    description: "The television listed on the user's profile."
    get: 
      description: |
        Reading this endpoint returns an array of Page objects (which represent each of the TV shows) .
         
      responses: 
        200: 
          body: 
            application/json: 
              schema: activities
  /videos: 
    type: idReturned
    description: The videos this user has been tagged in.
    get: 
      description: |
        Retreive the videos this user has been tagged in.
      responses: 
        200: 
          body: 
            application/json: 
              schema: videos
    post: 
      description: Videos must be encoded as multipart/form-data and published to graph-video.facebook.com instead of the regular Graph API URL.
      body: 
        multipart/form-data: 
          formParameters: 
            source: 
              description: he video, encoded as form data. This field is required.
              required: true
              example: source=%7Bvideo-data%7D
            description: 
              description: The description of the video, used as the accompanying status message in any feed story.
            title: 
              description: The title of the video.
    /uploaded: 
      type: base
      description: Similar to /videos except shows all videos this person has uploaded.
      get: 
        description: shows all videos that were published to Facebook by this person.
        responses: 
          200: 
            body: 
              application/json: 
                schema: videos
  /mutualfriends/{user_id_b}: 
    type: base
    description: The mutual friends between two users.
    get: 
      description: |
        Retrieve an array of User objects each representing a mutual friend.
      responses: 
        200: 
          body: 
            application/json: 
              schema: users
  /posts: 
    type: postsType
    get: 
      description: Shows posts published by the person themselves.
  /tagged_places: 
    type: base
    get: 
      description: A list of tags of this person at a place in a photo, video, post, status or link.
  /picture: 
    type: base
    description: "The user's profile picture."
    get: 
      description: "Retrieve the person's profile picture."
      queryParameters: 
        url: 
          description: The URL of the profile photo.
        is_silhouette: 
          description: "Indicates whether the profile photo is the default 'silhouette' picture, or has been replaced."
          type: boolean
        height: 
          description: Picture height in pixels. height and width are only returned when specified as modifiers.
          example: height=200
        width: 
          description: Picture height in pixels. height and width are only returned when specified as modifiers.
          example: width=200
        redirect: 
          example: redirect=0
        type: 
          example: type=normal
      responses: 
        200: 
          body: 
            application/json: 
              schema: pictures
  /books.quotes: 
    description: An action representing someone quoting from a book.
    post: 
      description: Create a books.quotes object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            body: 
              displayName: body
              description: The text of the quotation
              required: true
              example: Some Arbitrary String
            book: 
              displayName: book
              description: An object representing the book
              required: true
              example: http://samples.ogp.me/344468272304428
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all books.quotes objects.
      responses: 
        200: 
          body: 
            application/json: 
  /books.rates: 
    description: An action representing someone rating a book.
    post: 
      description: Create a books.rates object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            book: 
              displayName: book
              description: An object representing the book
              required: true
              example: http://samples.ogp.me/344468272304428
            "rating:value": 
              displayName: "rating:value"
              description: The value of the rating given to the book
              required: true
              example: 3.1415926535
            "rating:scale": 
              displayName: "rating:scale"
              description: The highest value possible in the rating scale
              required: true
              example: 42
            "rating:normalized_value": 
              displayName: "rating:normalized_value"
              description: Deprecated
            review_link: 
              displayName: review_link
              description: Link to the landing page for the review if one exists.
            review_text: 
              displayName: review_text
              description: The text content of the review
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all books.rates objects.
      responses: 
        200: 
          body: 
            application/json: 
  /books.reads: 
    description: An action representing someone reading a book.
    post: 
      description: Create a books.reads object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            book: 
              displayName: book
              description: The object representing the book
              required: true
              example: http://samples.ogp.me/344468272304428
            "progress:timestamp": 
              displayName: "progress:timestamp"
              description: Time of a change in progress towards finishing the book
              required: true
              example: 1407351164
            "progress:percent_complete": 
              displayName: "progress:percent_complete"
              description: Percentage progress towards finishing the book
              required: true
              example: 3.1415926535
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all books.reads objects.
      responses: 
        200: 
          body: 
            application/json: 
  /books.wants_to_read: 
    description: An action representing someone wanting to read a book.
    post: 
      description: Create a books.wants_to_read object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            book: 
              displayName: book
              description: The object representing the book
              required: true
              example: http://samples.ogp.me/344468272304428
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all books.wants_to_read objects.
      responses: 
        200: 
          body: 
            application/json: 
  /fitness.bikes: 
    description: An action representing someone cycling a course.
    post: 
      description: Create a fitness.bikes object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            course: 
              displayName: course
              description: An object representing the course
              required: true
              example: http://samples.ogp.me/136756249803614
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all fitness.bikes objects.
      responses: 
        200: 
          body: 
            application/json: 
  /fitness.runs: 
    description: An action representing someone running a course.
    post: 
      description: Create a fitness.runs object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            course: 
              displayName: course
              description: An object representing the course
              required: true
              example: http://samples.ogp.me/136756249803614
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all fitness.runs objects.
      responses: 
        200: 
          body: 
            application/json: 
  /fitness.walks: 
    description: An action representing someone walking a course.
    post: 
      description: Create a fitness.walks object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            course: 
              displayName: course
              description: An object representing the course
              required: true
              example: http://samples.ogp.me/136756249803614
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all fitness.walks objects.
      responses: 
        200: 
          body: 
            application/json: 
  /games.achieves: 
    description: An action representing someone reaching a game achievement.
    post: 
      description: Create a games.achieves object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            achievement: 
              displayName: achievement
              description: An object representing the achievement
              required: true
              example: http://samples.ogp.me/161147604019932
            importance: 
              displayName: importance
              description: The importance of the achievement
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all games.achieves objects.
      responses: 
        200: 
          body: 
            application/json: 
  /games.celebrate: 
    description: An action representing someone celebrating a victory in a game.
    post: 
      description: Create a games.celebrate object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            victory: 
              displayName: victory
              description: An object representing victory in the game
              required: true
              example: http://samples.ogp.me/500426766634310
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all games.celebrate objects.
      responses: 
        200: 
          body: 
            application/json: 
  /games.passes: 
    description: "An action representing someone passing friends' scores in a game."
    post: 
      description: Create a games.passes object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            game: 
              displayName: game
              description: An object representing the game
              required: true
              example: http://samples.ogp.me/163382137069945
            passed_users: 
              displayName: passed_users
              description: The user IDs and scores of any passed friends
              required: true
              example: Some Arbitrary String
            score: 
              displayName: score
              description: "The user's score"
              required: true
              example: 42
            target_score: 
              displayName: target_score
              description: The highest score in the game by a friend
            target_user: 
              displayName: target_user
              description: The user ID of the friend with the target score
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all games.passes objects.
      responses: 
        200: 
          body: 
            application/json: 
  /music.listens: 
    description: An action representing someone listening to a song, album, radio station, playlist or musician
    post: 
      description: Create a music.listens object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            album: 
              displayName: album
              description: An object representing an album
              required: true
              example: http://samples.ogp.me/461258347226565
            musician: 
              displayName: musician
              description: An object representing a musician
              required: true
              example: http://samples.ogp.me/390580850990722
            paused: 
              displayName: paused
              description: Whether the audio is paused or not
            playlist: 
              displayName: playlist
              description: An object representing a playlist
              required: true
              example: http://samples.ogp.me/461258467226553
            radio_station: 
              displayName: radio_station
              description: An object representing a radio station
              required: true
              example: http://samples.ogp.me/461258533893213
            song: 
              displayName: song
              description: An object representing a song
              required: true
              example: http://samples.ogp.me/461258627226537
            via_user: 
              displayName: via_user
              description: The ID of anyone whom the user discovered this audio from
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all music.listens objects.
      responses: 
        200: 
          body: 
            application/json: 
  /music.playlists: 
    description: An action representing someone creating a playlist.
    post: 
      description: Create a music.playlists object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            playlist: 
              displayName: playlist
              description: An object representing the playlist
              required: true
              example: http://samples.ogp.me/461258467226553
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all music.playlists objects.
      responses: 
        200: 
          body: 
            application/json: 
  /news.publishes: 
    description: An action representing someone publishing a news article.
    post: 
      description: Create a news.publishes object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            article: 
              displayName: article
              description: An object representing the article
              required: true
              example: http://samples.ogp.me/434264856596891
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all news.publishes objects.
      responses: 
        200: 
          body: 
            application/json: 
  /news.reads: 
    description: An action representing someone reading a news article.
    post: 
      description: Create a news.reads object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            article: 
              displayName: article
              description: An object representing the article
              required: true
              example: http://samples.ogp.me/434264856596891
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all news.reads objects.
      responses: 
        200: 
          body: 
            application/json: 
  /og.follows: 
    description: An action representing someone following a Facebook user
    post: 
      description: Create a og.follows object.
      body: 
        application/x-www-form-urlencoded: 
          formParameters: 
            profile: 
              displayName: profile
              description: An object representing the profile of the user
              required: true
              example: http://samples.ogp.me/390580850990722
      responses: 
        200: 
          body: 
            application/json: 
    get: 
      description: Retreive all og.follows objects.
      responses: 
        200: 
          body: 
            application/json: 
  /og.likes: 
[...]
