#%RAML 1.0
title: Audiosear.ch
version: 1.0.0
baseUri: 'https://www.audiosear.ch/api'
mediaType: application/json
protocols:
  - HTTPS
description: 'The Audiosear.ch API requires OAuth, which you can manage at <a href=''/oauth/applications''>OAuth Applications</a>.<br/>API SDK clients available in <a href=''https://github.com/popuparchive/audiosearch-client-python'' target=''_blank''>Python</a>, <a href=''https://github.com/popuparchive/audiosearch-client-ruby'' target=''_blank''>Ruby</a>, <a href=''https://github.com/popuparchive/audiosearch-client-php'' target=''_blank''>PHP</a>, <a href=''https://github.com/popuparchive/audiosearch-client-node'' target=''_blank''>Node</a>, <a href=''https://github.com/aljazeerair/AudiosearchClientJava'' target=''_blank''>Java</a>, and <a href=''https://github.com/popuparchive/AudiosearchClientSwift'' target=''_blank''>Swift</a>.<br/>Read the <a href=''https://github.com/popuparchive/audiosearch-cookbook/wiki''>API Cookbook</a> for easy copy-and-paste recipes.'
(oas-tags-definition):
  - description: Podcast series
    name: shows
  - description: Podcast episodes
    name: episodes
  - description: People who contributed to a podcast
    name: people
  - description: Ranks of podcasts from the iTunes charts
    name: charts
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-tags: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://www.audiosear.ch/oauth/applications/new'
  (oas-x-apisguru-categories):
    - search
    - media
    - machine_learning
  (oas-x-origin):
    format: swagger
    url: 'https://www.audiosear.ch/developer/api-docs/v1/api-docs.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): audiosear.ch
  (oas-x-tags):
    - podcasts
    - radio
    - speech to text
    - search
    - recommendation
  contact:
    name: Audiosear.ch
    email: info@audiosear.ch
  termsOfService: 'https://www.audiosear.ch/terms'
/search:
  displayName: search
  /shows:
    displayName: shows
    '/{query}':
      displayName: '{query}'
      uriParameters:
        query:
          description: 'Thing you would like to search for. A wildcard character (`*`) can be used to substitute for any other character or characters in a string. Submitting `*` will return all results. To restrict the query to a single field, preface the query with the field name followed by `:`, (e.g. `title: radio`).'
          required: true
          type: string
      get:
        displayName: GET_search-shows-query
        description: This endpoint returns search results for Shows
        responses:
          '200':
            body:
              application/json:
                type: show_results
            description: Returns search results
        queryParameters:
          'filters[network]':
            description: 'Limit a search by any field value. This example uses <b>network</b> but any field name could be used. (Note: the filter uses a ''term'' match, so it returns a result if the field contains the term. It is most reliably used with integer values.) E.g. <b>filters[network]=NPR</b> or <b>filters[categories.name]=Talk%20Show</b>.'
            required: false
            type: string
          sort_by:
            description: Sort results by any field value. The default is by the relevancy score (<b>_score</b>). Must be paired with <b>sort_order</b>.
            required: false
            type: string
          sort_order:
            description: Sort direction. Must be either <b>asc</b> or <b>desc</b>. Must be paired with <b>sort_by</b>.
            required: false
            type: string
          s:
            description: Shortcut for specifying sort_by and sort_order in a single value. E.g. <b>date_created desc</b>.
            required: false
            type: string
          size:
            description: 'The number of results in a single page. Default is <b>10</b>. If present, must be paired with <b>from</b>.'
            required: false
            type: string
          from:
            description: Offset when doing manual pagination. Must be paired with <b>size</b>.
            required: false
            type: string
          page:
            description: The page number of results. Default is <b>1</b>.
            required: false
            type: string
        (oas-tags):
          - shows
  /episodes:
    displayName: episodes
    '/{query}':
      displayName: '{query}'
      uriParameters:
        query:
          description: 'Thing you would like to search for. A wildcard character (`*`) can be used to substitute for any other character or characters in a string. Submitting `*` will return all results. To restrict the query to a single field, preface the query with the field name followed by `:`, (e.g. `title: roller coaster` or `itunes_episode:348644077` or `entity:Obama`).'
          required: true
          type: string
      get:
        displayName: GET_search-episodes-query
        description: Returns search results
        responses:
          '200':
            body:
              application/json:
                type: results
            description: Returns search results
        queryParameters:
          'filters[network]':
            description: 'Limit a search by any field value. This example uses <b>network</b> but any field name could be used. (Note: the filter uses a ''term'' match, so it returns a result if the field contains the term. It is most reliably used with integer values, such as <b>filters[show_id]=15</b>) Examples: <b>filters[physical_location]=popuparchive</b> or <b>filters[network]=NPR</b> or <b>filters[categories.name]=Talk%20Show</b>.'
            required: false
            type: string
          'filters[show_id]':
            description: 'Another example filter, by show id.'
            required: false
            type: string
          'filters[with_transcript]':
            description: Add this filter (no value required) to filter out episodes with no transcript.
            required: false
            type: string
          sort_by:
            description: Sort results by any field value. The default is by the relevancy score (<b>_score</b>). Must be paired with <b>sort_order</b>.
            required: false
            type: string
          sort_order:
            description: Sort direction. Must be either <b>asc</b> or <b>desc</b>. Must be paired with <b>sort_by</b>.
            required: false
            type: string
          s:
            description: Shortcut for specifying sort_by and sort_order in a single value. E.g. <b>date_created desc</b>.
            required: false
            type: string
          size:
            description: 'The number of results in a single page. Default is <b>10</b>. If present, must be paired with <b>from</b>.'
            required: false
            type: string
          from:
            description: Offset when doing manual pagination. Must be paired with <b>size</b>.
            required: false
            type: string
          page:
            description: The page number of results. Default is <b>1</b>.
            required: false
            type: string
          related:
            description: Set to positive integer to include an array of N related episodes for each search result
            required: false
            type: integer
        (oas-tags):
          - episodes
  /people:
    displayName: people
    '/{query}':
      displayName: '{query}'
      uriParameters:
        query:
          description: 'Thing you would like to search for. A wildcard character (`*`) can be used to substitute for any other character or characters in a string. Submitting `*` will return all results. To restrict the query to a single field, preface the query with the field name followed by `:`, (e.g. `name: Gene`).'
          required: true
          type: string
      get:
        displayName: GET_search-people-query
        description: This endpoint returns search results for People
        responses:
          '200':
            body:
              application/json:
                type: person_search_results
            description: Returns search results
        queryParameters:
          'filters[shows.id]':
            description: 'Limit a search by any field value. This example uses <b>shows.id</b> but any field name could be used. E.g. <b>filters[shows.id]=123</b> or <b>filters[episode.id]=456</b>.'
            required: false
            type: string
          sort_by:
            description: Sort results by any field value. The default is by the relevancy score (<b>_score</b>). Must be paired with <b>sort_order</b>.
            required: false
            type: string
          sort_order:
            description: Sort direction. Must be either <b>asc</b> or <b>desc</b>. Must be paired with <b>sort_by</b>.
            required: false
            type: string
          s:
            description: Shortcut for specifying sort_by and sort_order in a single value. E.g. <b>name desc</b>.
            required: false
            type: string
          size:
            description: 'The number of results in a single page. Default is <b>10</b>. If present, must be paired with <b>from</b>.'
            required: false
            type: string
          from:
            description: Offset when doing manual pagination. Must be paired with <b>size</b>.
            required: false
            type: string
          page:
            description: The page number of results. Default is <b>1</b>.
            required: false
            type: string
        (oas-tags):
          - people
/trending:
  displayName: trending
  get:
    displayName: GET_trending
    description: Returns episodes related to trending terms from Twitter
    responses:
      '200':
        body:
          application/json:
            type: trending
        description: A list of episodes
    (oas-tags):
      - episodes
/shows:
  displayName: shows
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: ID of show to fetch
        format: int64
        required: true
        type: integer
    get:
      displayName: GET_shows-id
      description: This endpoint will return the medatdata for a single show.
      responses:
        '200':
          body:
            application/json:
              type: shows
          description: show id response
      (oas-tags):
        - shows
    /related:
      displayName: related
      get:
        displayName: GET_shows-id-related
        description: Returns shows related to the supplied show.
        responses:
          '200':
            body:
              application/json:
                type: show_search_result
            description: related show response
        (oas-tags):
          - shows
    /stats:
      displayName: stats
      get:
        displayName: GET_shows-id-stats
        description: Returns in-depth statistics for the supplied show.
        responses:
          '200':
            body:
              application/json:
                type: show_stats_result
            description: related show response
        (oas-tags):
          - shows
          - charts
/chart_daily:
  displayName: chart_daily
  get:
    displayName: GET_chart_daily
    description: Returns shows that have been in the top 100 on the iTunes charts and their ranks
    responses:
      '200':
        body:
          application/json:
            type: chart_entry
        description: Chart ranks of shows listed by title
    queryParameters:
      limit:
        default: 10
        description: 'The highest ranks for which to get data. Default is 10, maximum is 100.'
        required: false
        type: integer
      country:
        default: us
        description: 'The country for which to get charts data. US: ''us'', Great Britain: ''gb'', Ireland: ''ie'', New Zealand: ''nz'', South Africa: ''za'''
        type: string
    (oas-tags):
      - charts
/episodes:
  displayName: episodes
  '/{id}':
    displayName: '{id}'
    /related:
      displayName: related
      get:
        displayName: GET_episodes-id-related
        description: Returns episodes related to a given episode
        responses:
          '200':
            body:
              application/json:
                type: related_result
            description: An array of episodes
        queryParameters:
          size:
            description: Number of episodes to be returned. Must be paired with <b>from</b>.
            format: int64
            required: false
            type: integer
          from:
            description: Offset of result from which to start (zero-based). Must be paired with <b>size</b>.
            format: int64
            required: false
            type: integer
        (oas-tags):
          - episodes
    /snippet:
      displayName: snippet
      '/{time_in_secs}':
        displayName: '{time_in_secs}'
        uriParameters:
          time_in_secs:
            description: Timestamp of moment in audio in seconds.
            format: int64
            required: true
            type: integer
        get:
          displayName: GET_episodes-id-snippet-time_in_secs
          description: Returns a specific moment from an episode with two lines of context.
          responses:
            '200':
              body:
                application/json:
                  type: snippet
              description: An array of episodes
          (oas-tags):
            - episodes
    uriParameters:
      id:
        description: ID of episode to fetch
        required: true
        type: integer
    get:
      displayName: GET_episodes-id
      description: Gets a single episode record by ID
      responses:
        '200':
          body:
            application/json:
              type: episode
          description: Returns an individual episode
      (oas-tags):
        - episodes
'/episodes?itunes_id={id}':
  displayName: 'episodes?itunes_id={id}'
  uriParameters:
    id:
      description: ID of show to fetch
      format: int64
      required: true
      type: integer
  get:
    displayName: GET_episodes?itunes_id=id
    description: 'Gets a single episode record by iTunes ID. (Note: we may not have every episode for every show.)'
    responses:
      '200':
        body:
          application/json:
            type: episode
        description: Returns an individual episode
    (oas-tags):
      - episodes
/random_episode:
  displayName: random_episode
  get:
    displayName: GET_random_episode
    description: Selects and returns a random episode
    responses:
      '200':
        body:
          application/json:
            type: episode
        description: Returns a random episode
    (oas-tags):
      - episodes
/tastemakers:
  displayName: tastemakers
  /shows:
    displayName: shows
    '/{n}':
      displayName: '{n}'
      uriParameters:
        'n':
          default: 10
          description: Number of results to fetch
          format: int64
          required: true
          type: integer
      get:
        displayName: GET_tastemakers-shows-n
        description: This endpoint returns search results based on what tastemakers are talking about.
        responses:
          '200':
            body:
              application/json:
                type: shows
            description: tastemakers shows response
        (oas-tags):
          - shows
  /episodes:
    displayName: episodes
    '/{n}':
      displayName: '{n}'
      uriParameters:
        'n':
          default: 10
          description: Number of results to fetch
          format: int64
          required: true
          type: integer
      get:
        displayName: GET_tastemakers-episodes-n
        description: Returns search results based on what podcast tastemakers are talking about.
        responses:
          '200':
            body:
              application/json:
                type: episode_tastemaker
            description: tastemakers episodes response
        (oas-tags):
          - episodes
    /source:
      displayName: source
      '/{tastemaker_id}':
        displayName: '{tastemaker_id}'
        '/{n}':
          displayName: '{n}'
          uriParameters:
            'n':
              default: 10
              description: Number of results to fetch
              format: int64
              required: true
              type: integer
          get:
            displayName: GET_tastemakers-episodes-source-tastemaker_id-n
            description: Returns search results based on what podcast tastemakers are talking about filtered by tastemaker source.
            responses:
              '200':
                body:
                  application/json:
                    type: episode_tastemaker
                description: tastemakers episodes response
            (oas-tags):
              - episodes
'/shows?itunes_id={id}':
  displayName: 'shows?itunes_id={id}'
  uriParameters:
    id:
      description: ID of show to fetch
      format: int64
      required: true
      type: integer
  get:
    displayName: GET_shows?itunes_id=id
    description: 'This endpoint will return the medatdata for a single show given its iTunes id. (Note: we do not have every show in iTunes''s database)'
    responses:
      '200':
        body:
          application/json:
            type: shows
        description: show id response
    (oas-tags):
      - shows
/people:
  displayName: people
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: ID of person to fetch
        format: int64
        required: true
        type: integer
    get:
      displayName: GET_people-id
      description: This endpoint will return the metadata for a single person.
      responses:
        '200':
          body:
            application/json:
              type: person
          description: person id response
      (oas-tags):
        - people
types:
  all_shows:
    properties:
      categories:
        items:
          type: string
        type: array
        xml:
          name: category
          wrapped: true
        required: false
      created_at:
        description: Date and time the show was created
        format: rfc3339
        type: datetime
      deleted_at:
        description: Date and time the show was deleted
        format: rfc3339
        type: datetime
        required: false
      description:
        description: Show description
        type: string
        required: false
      extra:
        description: additional information
        properties:
          itunes_url:
            description: Link to show on iTunes
            type: string
            required: false
          sc_feed:
            description: Link to SoundCloud user page
            type: string
            required: false
        type: object
        required: false
      id:
        description: Unique identifier for the show
        type: integer
      title:
        description: Show title
        type: string
      updated_at:
        description: Date and time the show was last updated
        format: rfc3339
        type: datetime
  audio_file:
    properties:
      current_status:
        description: Status of audio file processing in Audiosear.ch
        type: string
      duration:
        description: Length of audio file
        type: integer
      filename:
        description: Audio file name
        type: string
      id:
        description: Unique identifier for the show's audio file
        type: integer
      url:
        description: Absolute paths to audio files
        items:
          type: string
        type: array
        xml:
          name: url
          wrapped: true
  category:
    properties:
      id:
        type: integer
        required: false
      name:
        type: string
        required: false
      parent_id:
        description: ID for parent category
        type: integer
        required: false
  chart_entry:
    properties:
      country:
        type: string
        required: false
      limit:
        type: integer
        required: false
      shows:
        example:
          This American Life:
            id: 27
            ranks:
              '2016-01-01': 3
              '2016-01-02': 2
        type: object
        required: false
      start_date:
        type: date-only
        required: false
  contribution:
    properties:
      episode:
        type: episode_brief
      role:
        description: the Role the Person played in the Episode
        type: string
  entity:
    properties:
      category:
        description: Entity category
        type: string
      extra:
        description: Additional information about the entity
        items:
          type: string
        type: array
        required: false
      id:
        description: Unique identifier for the entity
        type: integer
      identifier:
        description: OpenCalais link
        type: string
        required: false
      name:
        description: Name of the entity
        type: string
        required: false
      score:
        description: Entity confidence
        type: integer
      type:
        description: Entity type
        type: string
        required: false
  episode:
    properties:
      audio_files:
        items:
          type: audio_file
        type: array
        required: false
      categories:
        description: Categories
        items:
          type: category
        type: array
        required: false
      date_added:
        description: Date and time episode was incorporated into Audiosear.ch
        format: rfc3339
        type: datetime
      date_created:
        description: Date show originally aired
        format: rfc3339
        type: datetime
        required: false
      description:
        description: Show description
        type: string
        required: false
      digital_location:
        description: URL for episode page
        type: string
        required: false
      duration:
        description: Length of audio file in seconds
        type: integer
        required: false
      entities:
        items:
          type: entity
        type: array
        required: false
      extra:
        description: additional resource information
        type: object
        required: false
      highlights:
        type: object
        required: false
      id:
        description: Unique identifier for the show
        type: integer
      identifier:
        description: URL for source audio file
        type: string
        required: false
      image_files:
        items:
          type: image_file
        type: array
        required: false
      physical_location:
        description: 'Source of episode (e.g., SoundCloud, iTunes'
        type: string
        required: false
      show_id:
        description: ID of parent show
        type: integer
      show_title:
        description: Title of parent show
        type: string
      tags:
        description: Tags
        items:
          type: string
        type: array
        required: false
      title:
        description: Show title
        type: string
      updated_at:
        description: Date and time item was last updated
        format: rfc3339
        type: datetime
        required: false
      urls:
        type: urls
        required: false
  episode_brief:
    properties:
      id:
        description: Unique identifier for the Episode
        type: integer
      title:
        description: Episode title
        type: string
      urls:
        properties:
          self:
            description: URI to Episode API response
            type: string
            required: false
          ui:
            description: URI to Episode human response
            type: string
            required: false
        type: object
  episode_tastemaker:
    properties:
      audio_files:
        items:
          type: audio_file
        type: array
        required: false
      categories:
        description: Categories
        items:
          type: category
        type: array
        required: false
      id:
        description: Unique identifier for the show
        type: integer
      image_urls:
        type: image_urls
        required: false
      network:
        description: Network that produces show
        type: string
        required: false
      show_id:
        description: ID of parent show
        type: integer
      show_title:
        description: Title of parent show
        type: string
      tags:
        description: Tags
        items:
          type: string
        type: array
        required: false
      title:
        description: Show title
        type: string
      urls:
        type: urls
        required: false
  excerpt:
    properties:
      end_time:
        type: string
        required: false
      start_time:
        type: string
        required: false
      text:
        type: string
        required: false
  highlight_transcript:
    properties:
      end_time:
        description: End time of highlight
        type: string
      start_time:
        description: Start time of highlight
        type: string
      text:
        description: Highlight text
        type: string
  highlights:
    properties:
      id:
        description: Audio file id
        type: integer
      transcript:
        items:
          type: highlight_transcript
        type: array
        xml:
          name: highlight
          wrapped: true
      url:
        description: File url
        type: string
  image_file:
    properties:
      url:
        description: Absolute paths to image files
        items:
          type: string
        type: array
        xml:
          name: url
          wrapped: true
  image_urls:
    properties:
      full:
        description: URL for full-size image
        type: string
        required: false
      thumb:
        description: URL for thumbail image
        type: string
        required: false
  person:
    properties:
      episodes:
        items:
          type: contribution
        type: array
        xml:
          name: episode
          wrapped: true
        required: false
      extra:
        description: additional resource information
        type: object
        required: false
      id:
        description: Unique identifier for the person
        type: integer
      name:
        description: Person name
        type: string
      shows:
        items:
          type: show
        type: array
        xml:
          name: show
          wrapped: true
        required: false
      slug:
        description: URI-safe Person name
        type: string
        required: false
      urls:
        properties:
          self:
            description: URI to Person API response
            type: string
            required: false
        type: object
        required: false
  person_search_result:
    properties:
      episodes:
        items:
          type: contribution
        type: array
        xml:
          name: episode
          wrapped: true
        required: false
      id:
        description: ID for the Person
        type: integer
      name:
        description: Person's name
        type: string
      shows:
        items:
          type: show_contribution
        type: array
        xml:
          name: show
          wrapped: true
        required: false
      slug:
        description: URI-safe Person's name
        type: string
        required: false
      urls:
        properties:
          self:
            description: URI to Person API response
            type: string
            required: false
        type: object
        required: false
  person_search_results:
    properties:
      page:
        type: integer
        required: false
      query:
        type: string
        required: false
      results:
        items:
          type: person_search_result
        type: array
        required: false
      results_per_page:
        type: integer
        required: false
      total_results:
        type: integer
        required: false
  recent_episode:
    properties:
      file_name:
        description: Audio file name
        type: string
        required: false
      file_status:
        description: Episode processing status
        type: string
      item_id:
        description: Episode unique id
        type: integer
      item_name:
        description: Episode name
        type: string
  related_result:
    properties:
      audio_files:
        description: Array of audio files attributes
        items:
          type: audio_file
        type: array
        required: false
      categories:
        description: Categories
        items:
          type: category
        type: array
        required: false
      date_added:
        description: Date added to Audiosear.ch
        type: string
      date_created:
        description: Created date for the item
        type: string
        required: false
      digital_location:
        description: External item page of source material
        type: string
        required: false
      duration:
        description: Length of audio file
        type: integer
        required: false
      entities:
        description: Array of entites related to the item
        items:
          type: entity
        type: array
        required: false
      id:
        description: ID for the item
        type: integer
      identifier:
        description: Link to external permanent url
        type: string
        required: false
      image_urls:
        type: image_urls
        required: false
      network:
        description: The Show network
        type: string
        required: false
      physical_location:
        description: Episode import source
        type: string
        required: false
      show_id:
        description: Show ID that the returned item belongs to
        type: integer
      show_title:
        description: Show title associated with the returned item
        type: string
      tags:
        items:
          type: string
        type: array
        required: false
      title:
        description: Title for the item
        type: string
      topics:
        description: Array of topics related to the item
        items:
          type: string
        type: array
        required: false
      updated_at:
        description: Date and time the show was last updated
        type: integer
        required: false
      urls:
        type: urls
        required: false
  results:
    properties:
      page:
        type: integer
        required: false
      query:
        type: string
        required: false
      results:
        type: search_result
        required: false
      results_per_page:
        type: integer
        required: false
      total_results:
        type: integer
        required: false
  search_result:
    properties:
      audio_files:
        description: Array of audio files attributes
        items:
          type: audio_file
        type: array
        required: false
      categories:
        description: Categories
        items:
          type: category
        type: array
        required: false
      date_added:
        description: Date added to Audiosear.ch
        type: string
      date_created:
        description: Created date for the item
        type: string
        required: false
      description:
        description: description of the audio file
        type: string
        required: false
      digital_location:
        description: External item page of source material
        type: string
        required: false
      duration:
        description: Length of audio file
        type: integer
        required: false
      entities:
        description: Array of entites related to the item
        items:
          type: entity
        type: array
        required: false
      excerpts:
        items:
          type: excerpt
        type: array
        required: false
      highlights:
        items:
          type: highlights
        type: array
        required: false
      id:
        description: ID for the item
        type: integer
      identifier:
        description: Link to external permanent url
        type: string
        required: false
      image_urls:
        type: image_urls
        required: false
      itunes_episode:
        description: iTunes episode id
        type: integer
        required: false
      locations:
        items:
          type: object
        type: array
        required: false
      network:
        description: The Show network
        type: string
        required: false
      physical_location:
        description: Episode import source
        type: string
        required: false
      show_id:
        description: Show ID that the returned item belongs to
        type: integer
      show_title:
        description: Show title associated with the returned item
        type: string
      title:
        description: Title for the item
        type: string
      topics:
        description: Array of topics related to the item
        items:
          type: string
        type: array
        required: false
      updated_at:
        description: Date and time the show was last updated
        type: integer
        required: false
      urls:
        type: urls
        required: false
  show:
    properties:
      categories:
        items:
          type: category
        type: array
        required: false
      description:
        description: description of the show
        type: string
        required: false
      episode_ids:
        items:
          type: integer
        type: array
        xml:
          name: episode_id
          wrapped: true
        required: false
      id:
        description: unique identifier for the show
        type: integer
      image_files:
        items:
          type: image_file
        type: array
        required: false
      network:
        type: string
        required: false
      number_of_episodes:
        description: Number of episodes available for this show
        type: integer
        required: false
      recent_episodes:
        items:
          type: recent_episode
        type: array
        required: false
      sc_feed:
        description: SoundCloud URL
        type: string
        required: false
      title:
        description: title of the show
        type: string
      urls:
        description: Relative URL to api endpoint
        items:
          type: string
        type: array
        required: false
      web_profiles:
        items:
          type: object
        type: array
        required: false
  show_brief:
    properties:
      id:
        description: Unique identifier for the Show
        type: integer
      title:
        description: Show title
        type: string
      urls:
        properties:
          self:
            description: URI to Show API response
            type: string
            required: false
          ui:
            description: URI to Show human response
            type: string
            required: false
        type: object
  show_contribution:
    properties:
      role:
        description: the Role the Person played in the Show
        type: string
      show:
        type: show_brief
  show_results:
    properties:
      page:
        type: integer
        required: false
      query:
        type: string
        required: false
      results:
        type: show_search_result
        required: false
      results_per_page:
        type: integer
        required: false
      total_results:
        type: integer
        required: false
  show_search_result:
    properties:
      categories:
        items:
          type: string
        type: array
        required: false
      description:
        description: description of the show
        type: string
        required: false
      id:
        description: unique identifier for the show
        type: integer
      image_files:
        items:
          type: image_file
        type: array
        required: false
      network:
        description: Distribution network for show
        type: string
        required: false
      sc_feed:
        description: SoundCloud URL
        type: string
        required: false
      title:
        description: title of the show
        type: string
      web_profiles:
        items:
          type: object
        type: array
        required: false
  show_stats_result:
    properties:
      day_on_charts:
        description: Total number of days on the charts since 1 June 2013.
        type: integer
        required: false
      last_month_median:
        description: The median rank from the previous calendar month. NULL if not on the charts.
        type: integer
        required: false
      last_month_peak:
        description: The highest rank from the previous calendar month. NULL if not on the charts.
        type: integer
        required: false
      most_recent:
        description: The rank on the charts from the last 24 hours. NULL if not on the charts.
        type: integer
        required: false
      peak_rank:
        description: Highest all-time rank since 1 June 2013.
        type: integer
        required: false
      show_id:
        type: integer
        required: false
      show_title:
        type: string
        required: false
  shows:
    properties:
      page:
        type: integer
        required: false
      query:
        type: string
        required: false
      results:
        type: show
        required: false
      results_per_page:
        type: integer
        required: false
      total_results:
        type: integer
        required: false
  simple_search_result:
    properties:
      audio_files:
        description: Array of audio files attributes
        items:
          type: audio_file
        type: array
        required: false
      categories:
        description: Categories
        items:
          type: category
        type: array
        required: false
      id:
        description: ID for the item
        type: integer
      image_urls:
        type: image_urls
        required: false
      network:
        description: The Show network
        type: string
        required: false
      show_id:
        description: Show ID that the returned item belongs to
        type: integer
        required: false
      show_title:
        description: Show title associated with the returned item
        type: string
        required: false
      title:
        description: Title for the item
        type: string
      urls:
        type: urls
        required: false
  snippet:
    properties:
      end_time:
        type: string
        required: false
      id:
        type: integer
        required: false
      start_time:
        type: string
        required: false
      text:
        type: string
        required: false
  source_episode_tastemaker: {}
  trending:
    properties:
      related_episodes:
        type: simple_search_result
        required: false
      trend:
        description: Name of trend
        type: string
      twitter_url:
        description: Link to Twitter search results for the trend
        type: string
  urls:
    properties:
      self:
        description: API URL
        type: string
        required: false
      ui:
        description: Audiosear.ch URL
        type: string
        required: false
