#%RAML 1.0
title: iotHubClient
version: '2016-02-03'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: API for using the IoT Hub Features.
(oas-info):
  (oas-x-apisguru-categories):
    - iot
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-iothub/2016-02-03/swagger/iothub.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-iothub
  (oas-x-tags):
    - Azure
    - Microsoft
    - IoT
    - real-time
    - bi-directional
    - monitoring
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Devices:
            displayName: Microsoft.Devices
            /IotHubs:
              displayName: IotHubs
              '/{resourceName}':
                displayName: '{resourceName}'
                /eventHubEndpoints:
                  displayName: eventHubEndpoints
                  '/{eventHubEndpointName}':
                    displayName: '{eventHubEndpointName}'
                    /ConsumerGroups:
                      displayName: ConsumerGroups
                      '/{name}':
                        displayName: '{name}'
                        uriParameters:
                          name:
                            description: The name of the consumer group.
                            required: true
                            type: string
                            displayName: The name of the consumer group.
                        delete:
                          displayName: IotHubResource_DeleteEventHubConsumerGroup
                          description: Delete EventHub Consumer Group for an IotHub.
                          (oas-summary): Delete EventHub Consumer Group for an IotHub.
                          is:
                            - apiVersion
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorDetails
                            description: DefaultErrorResponse
                          responses:
                            '200':
                              description: OK
                          (oas-tags):
                            - DELETE
                        get:
                          displayName: IotHubResource_GetEventHubConsumerGroup
                          description: Get EventHub Consumer Group for an IotHub.
                          (oas-summary): Get EventHub Consumer Group for an IotHub.
                          is:
                            - apiVersion
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorDetails
                            description: DefaultErrorResponse
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: EventHubConsumerGroupInfo
                              description: OK
                          (oas-tags):
                            - GET
                        put:
                          displayName: IotHubResource_CreateEventHubConsumerGroup
                          description: Add an EventHub Consumer Group to an IotHub.
                          (oas-summary): Add an EventHub Consumer Group to an IotHub.
                          is:
                            - apiVersion
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorDetails
                            description: DefaultErrorResponse
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: EventHubConsumerGroupInfo
                              description: OK
                          (oas-tags):
                            - PUT
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: IotHubResource_ListEventHubConsumerGroups
                        description: Get EventHub Consumer Groups for an IotHub.
                        (oas-summary): Get EventHub Consumer Groups for an IotHub.
                        is:
                          - apiVersion
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorDetails
                          description: DefaultErrorResponse
                        responses:
                          '200':
                            body:
                              application/json:
                                type: EventHubConsumerGroupsListResult
                            description: OK
                        (oas-tags):
                          - GET
                /skus:
                  displayName: skus
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: IotHubResource_GetValidSkus
                    description: Get Valid Skus.
                    (oas-summary): Get Valid Skus.
                    is:
                      - apiVersion
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorDetails
                      description: DefaultErrorResponse
                    responses:
                      '200':
                        body:
                          application/json:
                            type: IotHubSkuDescriptionListResult
                        description: OK
                    (oas-tags):
                      - GET
                /exportDevices:
                  displayName: exportDevices
                  post:
                    displayName: IotHubResource_ExportDevices
                    description: Export all the devices in an IotHub.
                    (oas-summary): Export all the devices in an IotHub.
                    is:
                      - apiVersion
                    body:
                      application/json:
                        type: ExportDevicesRequest
                        (oas-body-name): exportDevicesParameters
                        description: The export devices parameters.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorDetails
                      description: DefaultErrorResponse
                    responses:
                      '200':
                        body:
                          application/json:
                            type: JobResponse
                        description: OK
                    (oas-tags):
                      - POST
                uriParameters:
                  resourceName:
                    description: The name of the resource.
                    required: true
                    type: string
                    displayName: The name of the resource.
                get:
                  displayName: IotHubResource_Get
                  description: Get an IotHub.
                  (oas-summary): Get an IotHub.
                  is:
                    - apiVersion
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorDetails
                    description: DefaultErrorResponse
                  responses:
                    '200':
                      body:
                        application/json:
                          type: IotHubDescription
                      description: OK
                  (oas-tags):
                    - GET
                /importDevices:
                  displayName: importDevices
                  post:
                    displayName: IotHubResource_ImportDevices
                    description: Import all the devices in an IotHub.
                    (oas-summary): Import all the devices in an IotHub.
                    is:
                      - apiVersion
                    body:
                      application/json:
                        type: ImportDevicesRequest
                        (oas-body-name): importDevicesParameters
                        description: The import devices parameters.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorDetails
                      description: DefaultErrorResponse
                    responses:
                      '200':
                        body:
                          application/json:
                            type: JobResponse
                        description: OK
                    (oas-tags):
                      - POST
                /IotHubKeys:
                  displayName: IotHubKeys
                  '/{keyName}':
                    displayName: '{keyName}'
                    /listkeys:
                      displayName: listkeys
                      post:
                        displayName: IotHubResource_GetKeysForKeyName
                        description: Get the Key given a specific KeyName for an IotHub.
                        (oas-summary): Get the Key given a specific KeyName for an IotHub.
                        is:
                          - apiVersion
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorDetails
                          description: DefaultErrorResponse
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SharedAccessSignatureAuthorizationRule
                            description: OK
                        (oas-tags):
                          - POST
                /quotaMetrics:
                  displayName: quotaMetrics
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: IotHubResource_GetQuotaMetrics
                    description: Get quota metrics for an IotHub.
                    (oas-summary): Get quota metrics for an IotHub.
                    is:
                      - apiVersion
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorDetails
                      description: DefaultErrorResponse
                    responses:
                      '200':
                        body:
                          application/json:
                            type: IotHubQuotaMetricInfoListResult
                        description: OK
                    (oas-tags):
                      - GET
                /listkeys:
                  displayName: listkeys
                  post:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: IotHubResource_ListKeys
                    description: Get all keys for an IotHub.
                    (oas-summary): Get all keys for an IotHub.
                    is:
                      - apiVersion
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorDetails
                      description: DefaultErrorResponse
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SharedAccessSignatureAuthorizationRuleListResult
                        description: OK
                    (oas-tags):
                      - POST
                /jobs:
                  displayName: jobs
                  '/{jobId}':
                    displayName: '{jobId}'
                    uriParameters:
                      jobId:
                        description: The job identifier.
                        required: true
                        type: string
                        displayName: The job identifier.
                    get:
                      displayName: IotHubResource_GetJob
                      description: Get a job in an IotHub.
                      (oas-summary): Get a job in an IotHub.
                      is:
                        - apiVersion
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorDetails
                        description: DefaultErrorResponse
                      responses:
                        '200':
                          body:
                            application/json:
                              type: JobResponse
                          description: OK
                      (oas-tags):
                        - GET
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: IotHubResource_ListJobs
                    description: Get all the jobs in an IotHub.
                    (oas-summary): Get all the jobs in an IotHub.
                    is:
                      - apiVersion
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorDetails
                      description: DefaultErrorResponse
                    responses:
                      '200':
                        body:
                          application/json:
                            type: JobResponseListResult
                        description: OK
                    (oas-tags):
                      - GET
                /IotHubStats:
                  displayName: IotHubStats
                  get:
                    displayName: IotHubResource_GetStats
                    description: Get IotHub Stats.
                    (oas-summary): Get IotHub Stats.
                    is:
                      - apiVersion
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorDetails
                      description: DefaultErrorResponse
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RegistryStatistics
                        description: OK
                    (oas-tags):
                      - GET
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: IotHubResource_CreateOrUpdate
                  description: Create or update an IotHub.
                  (oas-summary): Create or update an IotHub.
                  is:
                    - apiVersion
                  body:
                    application/json:
                      type: IotHubDescription
                      (oas-body-name): iotHubDescription
                      description: The Iot hub description.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorDetails
                    description: DefaultErrorResponse
                  responses:
                    '201':
                      body:
                        application/json:
                          type: IotHubDescription
                      description: Created
                  (oas-tags):
                    - PUT
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: IotHubResource_Delete
                  description: Delete an IotHub.
                  (oas-summary): Delete an IotHub.
                  is:
                    - apiVersion
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorDetails
                    description: DefaultErrorResponse
                  responses:
                    '202':
                      body:
                        application/json:
                          type: IotHubDescription
                      description: Accepted
                  (oas-tags):
                    - DELETE
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: IotHubResource_ListByResourceGroup
                description: Get all IotHubs in a Resource group.
                (oas-summary): Get all IotHubs in a Resourcegroup.
                is:
                  - apiVersion
                (oas-responses-default):
                  body:
                    application/json:
                      type: ErrorDetails
                  description: DefaultErrorResponse
                responses:
                  '200':
                    body:
                      application/json:
                        type: IotHubDescriptionListResult
                    description: OK
                (oas-tags):
                  - GET
    /providers:
      displayName: providers
      /Microsoft.Devices:
        displayName: Microsoft.Devices
        /IotHubs:
          displayName: IotHubs
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: IotHubResource_ListBySubscription
            description: Get all IotHubs in a subscription.
            (oas-summary): Get all IotHubs in a subscription.
            is:
              - apiVersion
            (oas-responses-default):
              body:
                application/json:
                  type: ErrorDetails
              description: DefaultErrorResponse
            responses:
              '200':
                body:
                  application/json:
                    type: IotHubDescriptionListResult
                description: OK
            (oas-tags):
              - GET
        /checkNameAvailability:
          displayName: checkNameAvailability
          post:
            displayName: IotHubResource_CheckNameAvailability
            description: Check if an IotHub name is available.
            (oas-summary): Check if an IotHub name is available.
            is:
              - apiVersion
            body:
              application/json:
                type: OperationInputs
                (oas-body-name): operationInputs
                description: The operation inputs. Set the name parameter in the operationInputs structure to the desired iothub name.
            (oas-responses-default):
              body:
                application/json:
                  type: ErrorDetails
              description: DefaultErrorResponse
            responses:
              '200':
                body:
                  application/json:
                    type: IotHubNameAvailabilityInfo
                description: OK
            (oas-tags):
              - POST
types:
  CloudToDeviceProperties:
    description: The Iot Hub Cloud-To-Device messaging properties.
    properties:
      defaultTtlAsIso8601:
        description: 'The default time to live for the device queue. Range : 1 Min (PT1M) - 2 Days (P2D).'
        format: duration
        type: string
        facets:
          format: string
        required: false
      feedback:
        type: FeedbackProperties
        required: false
      maxDeliveryCount:
        description: 'The max delivery count for the device queue. Range : 1-100.'
        format: int32
        maximum: 100
        minimum: 1
        type: integer
        required: false
  ErrorDetails:
    description: The properties related to the details of an error.
    properties:
      Code:
        description: The error code.
        type: string
        required: false
      Details:
        description: The error details.
        type: string
        required: false
      HttpStatusCode:
        description: The http status code.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      Message:
        description: The error message.
        type: string
        required: false
  EventHubConsumerGroupInfo:
    description: The properties indicating the EventHubConsumerGroupInfo.
    properties:
      id:
        description: The event hub consumer group identifier.
        type: string
        required: false
      name:
        description: The event hub consumer group name.
        type: string
        required: false
      tags:
        additionalProperties:
          type: string
        description: The tags.
        type: object
        required: false
  EventHubConsumerGroupsListResult:
    description: The list of eventhub consumer group names with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      value:
        description: The list of eventhub consumer group names.
        items:
          type: string
        type: array
        required: false
  EventHubProperties:
    description: The properties of the provisioned event hub used by the Iot Hub.
    properties:
      authorizationPolicies:
        description: The authorization rules.
        items:
          type: SharedAccessAuthorizationRule
        type: array
        required: false
      endpoint:
        description: The endpoint.
        type: string
        required: false
      internalAuthorizationPolicies:
        description: The internal authorization rules.
        items:
          type: SharedAccessAuthorizationRule
        type: array
        required: false
      partitionCount:
        description: 'The partition count. Range of values [For F1: 2-2, S1: 2-128, S2: 2-128, S3: 2-128].'
        format: int32
        type: integer
        required: false
      partitionIds:
        description: The partition ids.
        items:
          type: string
        type: array
        required: false
      path:
        description: The eventhub path.
        type: string
        required: false
      retentionTimeInDays:
        description: 'The retention time in days. Range of values [For F1: 1-1, S1: 1-7, S2: 1-7, S3: 1-7].'
        format: int64
        type: integer
        required: false
  ExportDevicesRequest:
    description: Used to provide parameters when requesting an export of all devices in the hub.
    properties:
      ExcludeKeys:
        description: The value indicating whether keys should be excluded during export.
        type: boolean
      ExportBlobContainerUri:
        description: The export BLOB container URI.
        type: string
  FeedbackProperties:
    description: The Feedback Queue properties.
    properties:
      lockDurationAsIso8601:
        description: 'The lock duration for the feedback queue. Range: 5 Sec (PT5S) - 5 Min (PT5M).'
        format: duration
        type: string
        facets:
          format: string
        required: false
      maxDeliveryCount:
        description: 'The max delivery count. Range : 1-100.'
        format: int32
        maximum: 100
        minimum: 1
        type: integer
        required: false
      ttlAsIso8601:
        description: 'The time to live for the feedback queue. Range: 1 Min (PT1M) - 2 Days (P2D).'
        format: duration
        type: string
        facets:
          format: string
        required: false
  ImportDevicesRequest:
    description: Used to provide parameters when requesting an import of all devices in the hub.
    properties:
      InputBlobContainerUri:
        description: The input BLOB container URI.
        type: string
      OutputBlobContainerUri:
        description: The output BLOB container URI.
        type: string
  IotHubCapacity:
    description: The properties related to the capacity information.
    properties:
      default:
        description: The default number of units.
        format: int64
        type: integer
        required: false
      maximum:
        description: The maximum number of units.
        format: int64
        type: integer
        required: false
      minimum:
        description: The minimum number of units.
        format: int64
        maximum: 1
        minimum: 1
        type: integer
        required: false
      scaleType:
        description: The type of the scale.
        enum:
          - Automatic
          - Manual
          - None
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: IotHubScaleType
  IotHubDescription:
    type: Resource
  IotHubDescriptionListResult:
    description: The list of IotHubDescription objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      value:
        description: The list of IotHubDescription.
        items:
          type: IotHubDescription
        type: array
        required: false
  IotHubNameAvailabilityInfo:
    description: The properties indicating whether a given iothub name is available.
    properties:
      message:
        description: The message describing the detailed reason.
        type: string
        required: false
      nameAvailable:
        description: The value which indicates whether the provided name is available.
        type: boolean
        required: false
      reason:
        description: The reason for unavailability.
        enum:
          - Invalid
          - AlreadyExists
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: IotHubNameUnavailabilityReason
  IotHubProperties:
    description: The Iot Hub properties.
    properties:
      authorizationPolicies:
        description: The authorization rules.
        items:
          type: SharedAccessSignatureAuthorizationRule
        type: array
        required: false
      cloudToDevice:
        type: CloudToDeviceProperties
        required: false
      comments:
        description: The comments.
        type: string
        required: false
      enableFileUploadNotifications:
        description: The flag which indicates whether file upload notification should be enabled. This is optional at iot hub level. When enabled upload notifications will be available.
        type: boolean
        required: false
      eventHubEndpoints:
        additionalProperties:
          type: EventHubProperties
        description: The event hub endpoint properties.
        type: object
        required: false
      features:
        description: The Capabilities/Features that need to be enabled for the Hub.
        enum:
          - None
          - DeviceManagement
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: Capabilities
      hostName:
        description: The name of the host.
        type: string
        required: false
      ipFilterRules:
        description: The IP filter rules.
        items:
          type: IpFilterRule
        type: array
        required: false
      messagingEndpoints:
        additionalProperties:
          type: MessagingEndpointProperties
        description: The list of messaging end points configured.
        type: object
        required: false
      operationsMonitoringProperties:
        type: OperationsMonitoringProperties
        required: false
      storageEndpoints:
        additionalProperties:
          type: StorageEndpointProperties
        description: The list of storage end points where files can be uploaded. Currently only one storage account can be configured.
        type: object
        required: false
  IotHubQuotaMetricInfo:
    description: The properties related to quota metrics.
    properties:
      CurrentValue:
        description: The current value for the quota metric.
        format: int64
        type: integer
        required: false
      MaxValue:
        description: The maximum value of the quota metric.
        format: int64
        type: integer
        required: false
      Name:
        description: The name of the quota metric.
        type: string
        required: false
  IotHubQuotaMetricInfoListResult:
    description: The list of IotHubQuotaMetricInfo objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      value:
        description: The list of IotHubQuotaMetricInfo.
        items:
          type: IotHubQuotaMetricInfo
        type: array
        required: false
  IotHubSkuDescription:
    description: The properties related to the Sku.
    properties:
      capacity:
        type: IotHubCapacity
        required: false
      resourceType:
        description: The type of the resource.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      sku:
        type: IotHubSkuInfo
        required: false
  IotHubSkuDescriptionListResult:
    description: The list of IotHubSkuDescription objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      value:
        description: The list of IotHubSkuDescription.
        items:
          type: IotHubSkuDescription
        type: array
        required: false
  IotHubSkuInfo:
    description: The Sku related information for the hub.
    properties:
      capacity:
        description: 'The number of units being provisioned. Range of values [For F1: 1-1, S1: 1-200, S2: 1-200, S3: 1-10]. To go above this range, call support.'
        format: int64
        type: integer
        required: false
      name:
        description: The name of the Sku.
        enum:
          - F1
          - S1
          - S2
          - S3
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: IotHubSku
      tier:
        description: The tier.
        enum:
          - Free
          - Standard
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: IotHubSkuTier
  IpFilterRule:
    description: IP filter Rule
    properties:
      action:
        description: The action desired - accept or reject.
        enum:
          - Accept
          - Reject
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: IpFilterActionType
      filterName:
        description: The name of the IP filter rule.
        type: string
      ipMask:
        description: A string containing the IPAddress/range in CIDR notation.
        type: string
  JobResponse:
    description: The properties describing a Job Response.
    properties:
      deviceId:
        description: The deviceId related to this response.
        type: string
        required: false
      endTimeUtc:
        description: Represents the time the job stopped processing.
        format: rfc3339
        type: datetime
        required: false
      failureReason:
        description: 'If status == failure, this represents a string containing the reason.'
        type: string
        required: false
      jobId:
        description: The job identifier.
        type: string
        required: false
      parentJobId:
        description: 'The jobId of the parent job, if any.'
        type: string
        required: false
      startTimeUtc:
        description: Start time of the Job.
        format: rfc3339
        type: datetime
        required: false
      status:
        description: Status of the Job.
        enum:
          - unknown
          - enqueued
          - running
          - completed
          - failed
          - cancelled
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: JobStatus
      statusMessage:
        description: The status message for the job.
        type: string
        required: false
      type:
        description: The type of job to execute.
        enum:
          - unknown
          - export
          - import
          - backup
          - readDeviceProperties
          - writeDeviceProperties
          - updateDeviceConfiguration
          - rebootDevice
          - factoryResetDevice
          - firmwareUpdate
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: JobType
  JobResponseListResult:
    description: The list of JobResponse objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      value:
        description: The list of JobResponse.
        items:
          type: JobResponse
        type: array
        required: false
  MessagingEndpointProperties:
    description: The properties of the Messaging Endpoints used by this IoT Hub.
    properties:
      lockDurationAsIso8601:
        description: 'The lock duration. Range: 5 Sec (PT5S) - 5 Min (PT5M).'
        format: duration
        type: string
        facets:
          format: string
        required: false
      maxDeliveryCount:
        description: 'The max delivery count. Range: 1-100.'
        format: int32
        maximum: 100
        minimum: 1
        type: integer
        required: false
      ttlAsIso8601:
        description: 'The time to live. Range: 1 Min (PT1M) - 2 Days (P2D).'
        format: duration
        type: string
        facets:
          format: string
        required: false
  OperationInputs:
    description: OperationInputs.
    properties:
      Name:
        description: The name of the iot hub.
        type: string
  OperationsMonitoringProperties:
    description: The Operation Monitoring properties.
    properties:
      events:
        additionalProperties:
          description: The Operation Monitoring Level.
          enum:
            - None
            - Error
            - Information
          type: string
          (oas-x-ms-enum):
            modelAsString: true
            name: OperationMonitoringLevel
        type: object
        required: false
  RegistryStatistics:
    description: The properties related to the registry statistics.
    properties:
      disabledDeviceCount:
        description: The disabled device count.
        format: int64
        type: integer
        required: false
      enabledDeviceCount:
        description: The enabled device count.
        format: int64
        type: integer
        required: false
      totalDeviceCount:
        description: The total device count.
        format: int64
        type: integer
        required: false
  Resource:
    properties:
      id:
        description: The Resource Id.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: The Resource location.
        type: string
        required: false
      name:
        description: The Resource name.
        pattern: '^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        additionalProperties:
          type: string
        description: The Resource tags.
        type: object
        required: false
      type:
        description: The Resource type.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  SharedAccessAuthorizationRule:
    properties:
      ClaimType:
        description: The claim type.
        type: string
        required: false
      ClaimValue:
        description: The claim value.
        type: string
        required: false
      CreatedTime:
        description: The created time.
        format: rfc3339
        type: datetime
        required: false
      IssuerName:
        description: The issuer name.
        type: string
        required: false
      KeyName:
        description: The key name.
        type: string
        required: false
      ModifiedTime:
        description: The modified time.
        format: rfc3339
        type: datetime
        required: false
      PrimaryKey:
        description: The primary key.
        type: string
        required: false
      Revision:
        description: The revision.
        format: int64
        type: integer
        required: false
      Rights:
        description: The rights.
        items:
          enum:
            - Manage
            - Send
            - Listen
            - ManageNotificationHub
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: SBAccessRights
        type: array
        required: false
      SecondaryKey:
        description: The secondary key.
        type: string
        required: false
  SharedAccessSignatureAuthorizationRule:
    description: The properties that describe the keys to access the IotHub artifacts.
    properties:
      keyName:
        description: The name of the key.
        type: string
        required: false
      primaryKey:
        description: The primary key.
        type: string
        required: false
      rights:
        description: The access rights.
        enum:
          - RegistryRead
          - RegistryWrite
          - ServiceConnect
          - DeviceConnect
          - 'RegistryRead, RegistryWrite'
          - 'RegistryRead, ServiceConnect'
          - 'RegistryRead, DeviceConnect'
          - 'RegistryWrite, ServiceConnect'
          - 'RegistryWrite, DeviceConnect'
          - 'ServiceConnect, DeviceConnect'
          - 'RegistryRead, RegistryWrite, ServiceConnect'
          - 'RegistryRead, RegistryWrite, DeviceConnect'
          - 'RegistryRead, ServiceConnect, DeviceConnect'
          - 'RegistryWrite, ServiceConnect, DeviceConnect'
          - 'RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect'
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: AccessRights
      secondaryKey:
        description: The secondary key.
        type: string
        required: false
  SharedAccessSignatureAuthorizationRuleListResult:
    description: The list of authorization rules with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      value:
        description: The list of authorization rules.
        items:
          type: SharedAccessSignatureAuthorizationRule
        type: array
        required: false
  StorageEndpointProperties:
    description: The properties of the Storage Endpoint for file upload.
    properties:
      connectionString:
        description: The account key credentials for storage account selected by customer for uploading files.
        type: string
        required: false
      containerName:
        description: The root container name where all files will be uploaded.
        type: string
        required: false
      sasTtlAsIso8601:
        description: 'SAS time to live. Range: 1 Min (PT1M) - 1 Day (P1D).'
        format: duration
        type: string
        facets:
          format: string
        required: false
traits:
  apiVersion:
    queryParameters:
      api-version:
        type: string
        description: Version of the Api.
        default: '2016-02-03'
        required: true
