#%RAML 1.0
title: ComputeManagementClient
version: '2015-06-15'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: The Compute Management Client.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/2015-06-15/swagger/compute.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-compute
  (oas-x-tags):
    - Azure
    - Microsoft
    - virtual machines
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-odata: any
  oas-x-ms-enum: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-x-hasEquivalentPaths: any
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Compute:
            displayName: Microsoft.Compute
            /virtualMachineScaleSets:
              displayName: virtualMachineScaleSets
              '/{vmScaleSetName}':
                displayName: '{vmScaleSetName}'
                /reimage:
                  displayName: reimage
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachineScaleSets_Reimage
                    description: The operation to re-image virtual machines in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachineScaleSets
                /restart:
                  displayName: restart
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachineScaleSets_Restart
                    description: The operation to restart virtual machines in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualMachineScaleSetVMInstanceIDs
                        (oas-body-name): vmInstanceIDs
                        description: The list of virtual machine scale set instance IDs.
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachineScaleSets
                /skus:
                  displayName: skus
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: VirtualMachineScaleSets_ListSkus
                    description: The operation to list available skus for a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualMachineScaleSetListSkusResult
                    (oas-tags):
                      - VirtualMachineScaleSets
                /start:
                  displayName: start
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachineScaleSets_Start
                    description: The operation to start virtual machines in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualMachineScaleSetVMInstanceIDs
                        (oas-body-name): vmInstanceIDs
                        description: The list of virtual machine scale set instance IDs.
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachineScaleSets
                /virtualmachines:
                  displayName: virtualmachines
                  '/{instanceId}':
                    displayName: '{instanceId}'
                    uriParameters:
                      instanceId:
                        description: The instance id of the virtual machine.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualMachineScaleSetVMs_Delete
                      description: The operation to delete a virtual machine scale set.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - VirtualMachineScaleSetVMs
                    get:
                      displayName: VirtualMachineScaleSetVMs_Get
                      description: The operation to get a virtual machine scale set virtual machine.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: VirtualMachineScaleSetVM
                      (oas-tags):
                        - VirtualMachineScaleSetVMs
                    /deallocate:
                      displayName: deallocate
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: VirtualMachineScaleSetVMs_Deallocate
                        description: The operation to deallocate a virtual machine scale set.
                        is:
                          - apiVersionParameter
                        responses:
                          '202': {}
                        (oas-tags):
                          - VirtualMachineScaleSetVMs
                    /instanceView:
                      displayName: instanceView
                      get:
                        displayName: VirtualMachineScaleSetVMs_GetInstanceView
                        description: The operation to get a virtual machine scale set virtual machine.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: VirtualMachineScaleSetVMInstanceView
                        (oas-tags):
                          - VirtualMachineScaleSetVMs
                    /poweroff:
                      displayName: poweroff
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: VirtualMachineScaleSetVMs_PowerOff
                        description: The operation to power off (stop) a virtual machine scale set.
                        is:
                          - apiVersionParameter
                        responses:
                          '202': {}
                        (oas-tags):
                          - VirtualMachineScaleSetVMs
                    /reimage:
                      displayName: reimage
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: VirtualMachineScaleSetVMs_Reimage
                        description: The operation to re-image a virtual machine scale set instance.
                        is:
                          - apiVersionParameter
                        responses:
                          '202': {}
                        (oas-tags):
                          - VirtualMachineScaleSetVMs
                    /restart:
                      displayName: restart
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: VirtualMachineScaleSetVMs_Restart
                        description: The operation to restart a virtual machine scale set.
                        is:
                          - apiVersionParameter
                        responses:
                          '202': {}
                        (oas-tags):
                          - VirtualMachineScaleSetVMs
                    /start:
                      displayName: start
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: VirtualMachineScaleSetVMs_Start
                        description: The operation to start a virtual machine scale set.
                        is:
                          - apiVersionParameter
                        responses:
                          '202': {}
                        (oas-tags):
                          - VirtualMachineScaleSetVMs
                uriParameters:
                  vmScaleSetName:
                    description: The name of the virtual machine scale set.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualMachineScaleSets_Delete
                  description: The operation to delete a virtual machine scale set.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - VirtualMachineScaleSets
                /deallocate:
                  displayName: deallocate
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachineScaleSets_Deallocate
                    description: The operation to deallocate virtual machines in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualMachineScaleSetVMInstanceIDs
                        (oas-body-name): vmInstanceIDs
                        description: The list of virtual machine scale set instance IDs.
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachineScaleSets
                /instanceView:
                  displayName: instanceView
                  get:
                    displayName: VirtualMachineScaleSets_GetInstanceView
                    description: The operation to get a virtual machine scale set instance view.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualMachineScaleSetInstanceView
                    (oas-tags):
                      - VirtualMachineScaleSets
                /poweroff:
                  displayName: poweroff
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachineScaleSets_PowerOff
                    description: The operation to power off (stop) virtual machines in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualMachineScaleSetVMInstanceIDs
                        (oas-body-name): vmInstanceIDs
                        description: The list of virtual machine scale set instance IDs.
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachineScaleSets
                /delete:
                  displayName: delete
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachineScaleSets_DeleteInstances
                    description: The operation to delete virtual machines in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualMachineScaleSetVMInstanceRequiredIDs
                        (oas-body-name): vmInstanceIDs
                        description: The list of virtual machine scale set instance IDs.
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachineScaleSets
                /manualupgrade:
                  displayName: manualupgrade
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachineScaleSets_UpdateInstances
                    description: The operation to manually upgrade virtual machines in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualMachineScaleSetVMInstanceRequiredIDs
                        (oas-body-name): vmInstanceIDs
                        description: The list of virtual machine scale set instance IDs.
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachineScaleSets
                get:
                  displayName: VirtualMachineScaleSets_Get
                  description: The operation to get a virtual machine scale set.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualMachineScaleSet
                  (oas-tags):
                    - VirtualMachineScaleSets
              '/{name}':
                displayName: '{name}'
                uriParameters:
                  name:
                    description: Parameters supplied to the Create Virtual Machine Scale Set operation.
                    required: true
                    type: string
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualMachineScaleSets_CreateOrUpdate
                  description: The operation to create or update a virtual machine scale set.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualMachineScaleSet
                      (oas-body-name): parameters
                      description: Parameters supplied to the Create Virtual Machine Scale Set operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualMachineScaleSet
                    '201':
                      body:
                        application/json:
                          type: VirtualMachineScaleSet
                  (oas-tags):
                    - VirtualMachineScaleSets
              '/{virtualMachineScaleSetName}':
                displayName: '{virtualMachineScaleSetName}'
                /virtualMachines:
                  displayName: virtualMachines
                  get:
                    (oas-x-ms-odata): '#/definitions/VirtualMachineScaleSetVM'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: VirtualMachineScaleSetVMs_List
                    description: The operation to list virtual machine scale sets VMs.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualMachineScaleSetVMListResult
                    queryParameters:
                      $filter:
                        description: The filter to apply on the operation.
                        required: false
                        type: string
                      $select:
                        description: The list parameters.
                        required: false
                        type: string
                      $expand:
                        description: The expand expression to apply on the operation.
                        required: false
                        type: string
                    (oas-tags):
                      - VirtualMachineScaleSetVMs
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualMachineScaleSets_List
                description: The operation to list virtual machine scale sets under a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualMachineScaleSetListResult
                (oas-tags):
                  - VirtualMachineScaleSets
            /virtualMachines:
              displayName: virtualMachines
              '/{vmName}':
                displayName: '{vmName}'
                /vmSizes:
                  displayName: vmSizes
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: VirtualMachines_ListAvailableSizes
                    description: Lists all available virtual machine sizes it can be resized to for a virtual machine.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualMachineSizeListResult
                    (oas-tags):
                      - VirtualMachines
                uriParameters:
                  vmName:
                    description: The name of the virtual machine.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualMachines_Delete
                  description: The operation to delete a virtual machine.
                  is:
                    - apiVersionParameter
                  responses:
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - VirtualMachines
                get:
                  displayName: VirtualMachines_Get
                  description: The operation to get a virtual machine.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualMachine
                  queryParameters:
                    $expand:
                      description: The expand expression to apply on the operation.
                      enum:
                        - instanceView
                      required: false
                      type: string
                  (oas-tags):
                    - VirtualMachines
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualMachines_CreateOrUpdate
                  description: The operation to create or update a virtual machine.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualMachine
                      (oas-body-name): parameters
                      description: Parameters supplied to the Create Virtual Machine operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualMachine
                    '201':
                      body:
                        application/json:
                          type: VirtualMachine
                  (oas-tags):
                    - VirtualMachines
                /capture:
                  displayName: capture
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachines_Capture
                    description: Captures the VM by copying virtual hard disks of the VM and outputs a template that can be used to create similar VMs.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualMachineCaptureParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the Capture Virtual Machine operation.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualMachineCaptureResult
                      '202': {}
                    (oas-tags):
                      - VirtualMachines
                /deallocate:
                  displayName: deallocate
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachines_Deallocate
                    description: Shuts down the Virtual Machine and releases the compute resources. You are not billed for the compute resources that this Virtual Machine uses.
                    is:
                      - apiVersionParameter
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachines
                /extensions:
                  displayName: extensions
                  '/{vmExtensionName}':
                    displayName: '{vmExtensionName}'
                    uriParameters:
                      vmExtensionName:
                        description: The name of the virtual machine extension.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualMachineExtensions_Delete
                      description: The operation to delete the extension.
                      is:
                        - apiVersionParameter
                      responses:
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - VirtualMachineExtensions
                    get:
                      displayName: VirtualMachineExtensions_Get
                      description: The operation to get the extension.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: VirtualMachineExtension
                      queryParameters:
                        $expand:
                          description: The expand expression to apply on the operation.
                          required: false
                          type: string
                      (oas-tags):
                        - VirtualMachineExtensions
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualMachineExtensions_CreateOrUpdate
                      description: The operation to create or update the extension.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: VirtualMachineExtension
                          (oas-body-name): extensionParameters
                          description: Parameters supplied to the Create Virtual Machine Extension operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: VirtualMachineExtension
                        '201':
                          body:
                            application/json:
                              type: VirtualMachineExtension
                      (oas-tags):
                        - VirtualMachineExtensions
                /generalize:
                  displayName: generalize
                  post:
                    displayName: VirtualMachines_Generalize
                    description: Sets the state of the VM as Generalized.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                    (oas-tags):
                      - VirtualMachines
                /start:
                  displayName: start
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachines_Start
                    description: The operation to start a virtual machine.
                    is:
                      - apiVersionParameter
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachines
                /restart:
                  displayName: restart
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachines_Restart
                    description: The operation to restart a virtual machine.
                    is:
                      - apiVersionParameter
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachines
                /redeploy:
                  displayName: redeploy
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachines_Redeploy
                    description: The operation to redeploy a virtual machine.
                    is:
                      - apiVersionParameter
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachines
                /powerOff:
                  displayName: powerOff
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualMachines_PowerOff
                    description: The operation to power off (stop) a virtual machine.
                    is:
                      - apiVersionParameter
                    responses:
                      '202': {}
                    (oas-tags):
                      - VirtualMachines
              get:
                (oas-x-ms-pageable): {}
                displayName: VirtualMachines_List
                description: The operation to list virtual machines under a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualMachineListResult
                (oas-tags):
                  - VirtualMachines
            /availabilitySets:
              displayName: availabilitySets
              get:
                (oas-x-ms-pageable): {}
                displayName: AvailabilitySets_List
                description: The operation to list the availability sets.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: AvailabilitySetListResult
                (oas-tags):
                  - AvailabilitySets
              '/{availabilitySetName}':
                displayName: '{availabilitySetName}'
                uriParameters:
                  availabilitySetName:
                    description: The name of the availability set.
                    required: true
                    type: string
                get:
                  displayName: AvailabilitySets_Get
                  description: The operation to get the availability set.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: AvailabilitySet
                  (oas-tags):
                    - AvailabilitySets
                /vmSizes:
                  displayName: vmSizes
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: AvailabilitySets_ListAvailableSizes
                    description: Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualMachineSizeListResult
                    (oas-tags):
                      - AvailabilitySets
                delete:
                  displayName: AvailabilitySets_Delete
                  description: The operation to delete the availability set.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '204': {}
                  (oas-tags):
                    - AvailabilitySets
              '/{name}':
                displayName: '{name}'
                uriParameters:
                  name:
                    description: Parameters supplied to the Create Availability Set operation.
                    required: true
                    type: string
                put:
                  displayName: AvailabilitySets_CreateOrUpdate
                  description: The operation to create or update the availability set.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: AvailabilitySet
                      (oas-body-name): parameters
                      description: Parameters supplied to the Create Availability Set operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: AvailabilitySet
                  (oas-tags):
                    - AvailabilitySets
    /providers:
      displayName: providers
      /Microsoft.Compute:
        displayName: Microsoft.Compute
        /locations:
          displayName: locations
          '/{location}':
            displayName: '{location}'
            /publishers:
              displayName: publishers
              get:
                displayName: VirtualMachineImages_ListPublishers
                description: Gets a list of virtual machine image publishers.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        items:
                          type: VirtualMachineImageResource
                        type: array
                (oas-tags):
                  - VirtualMachineImages
              '/{publisherName}':
                displayName: '{publisherName}'
                /artifacttypes:
                  displayName: artifacttypes
                  /vmextension:
                    displayName: vmextension
                    /types:
                      displayName: types
                      '/{type}':
                        displayName: '{type}'
                        /versions:
                          displayName: versions
                          get:
                            (oas-x-ms-odata): '#/definitions/VirtualMachineExtensionImage'
                            displayName: VirtualMachineExtensionImages_ListVersions
                            description: Gets a list of virtual machine extension image versions.
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    items:
                                      type: VirtualMachineExtensionImage
                                    type: array
                            queryParameters:
                              $filter:
                                description: The filter to apply on the operation.
                                required: false
                                type: string
                              $top:
                                format: int32
                                required: false
                                type: integer
                              $orderby:
                                required: false
                                type: string
                            (oas-tags):
                              - VirtualMachineExtensionImages
                          '/{version}':
                            displayName: '{version}'
                            uriParameters:
                              version:
                                required: true
                                type: string
                            get:
                              displayName: VirtualMachineExtensionImages_Get
                              description: Gets a virtual machine extension image.
                              is:
                                - apiVersionParameter
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: VirtualMachineExtensionImage
                              (oas-tags):
                                - VirtualMachineExtensionImages
                      get:
                        displayName: VirtualMachineExtensionImages_ListTypes
                        description: Gets a list of virtual machine extension image types.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                items:
                                  type: VirtualMachineExtensionImage
                                type: array
                        (oas-tags):
                          - VirtualMachineExtensionImages
                  /vmimage:
                    displayName: vmimage
                    /offers:
                      displayName: offers
                      get:
                        displayName: VirtualMachineImages_ListOffers
                        description: Gets a list of virtual machine image offers.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                items:
                                  type: VirtualMachineImageResource
                                type: array
                        (oas-tags):
                          - VirtualMachineImages
                      '/{offer}':
                        displayName: '{offer}'
                        /skus:
                          displayName: skus
                          '/{skus}':
                            displayName: '{skus}'
                            /versions:
                              displayName: versions
                              get:
                                (oas-x-ms-odata): '#/definitions/VirtualMachineImageResource'
                                displayName: VirtualMachineImages_List
                                description: Gets a list of virtual machine images.
                                is:
                                  - apiVersionParameter
                                responses:
                                  '200':
                                    body:
                                      application/json:
                                        items:
                                          type: VirtualMachineImageResource
                                        type: array
                                queryParameters:
                                  $filter:
                                    description: The filter to apply on the operation.
                                    required: false
                                    type: string
                                  $top:
                                    format: int32
                                    required: false
                                    type: integer
                                  $orderby:
                                    required: false
                                    type: string
                                (oas-tags):
                                  - VirtualMachineImages
                              '/{version}':
                                displayName: '{version}'
                                uriParameters:
                                  version:
                                    required: true
                                    type: string
                                get:
                                  displayName: VirtualMachineImages_Get
                                  description: Gets a virtual machine image.
                                  is:
                                    - apiVersionParameter
                                  responses:
                                    '200':
                                      body:
                                        application/json:
                                          type: VirtualMachineImage
                                  (oas-tags):
                                    - VirtualMachineImages
                          get:
                            displayName: VirtualMachineImages_ListSkus
                            description: Gets a list of virtual machine image skus.
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    items:
                                      type: VirtualMachineImageResource
                                    type: array
                            (oas-tags):
                              - VirtualMachineImages
            /usages:
              displayName: usages
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Usage_List
                description: Lists compute usages for a subscription.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ListUsagesResult
                (oas-tags):
                  - Usage
            /vmSizes:
              displayName: vmSizes
              get:
                (oas-x-ms-pageable): {}
                displayName: VirtualMachineSizes_List
                description: Lists all available virtual machine sizes for a subscription in a location.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualMachineSizeListResult
                (oas-tags):
                  - VirtualMachineSizes
        /virtualMachineScaleSets:
          displayName: virtualMachineScaleSets
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: VirtualMachineScaleSets_ListAll
            description: Gets the list of Virtual Machine Scale Sets in the subscription. Use nextLink property in the response to get the next page of Virtual Machine Scale Sets. Do this till nextLink is not null to fetch all the Virtual Machine Scale Sets.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: VirtualMachineScaleSetListWithLinkResult
            (oas-tags):
              - VirtualMachineScaleSets
        /virtualMachines:
          displayName: virtualMachines
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: VirtualMachines_ListAll
            description: Gets the list of Virtual Machines in the subscription. Use nextLink property in the response to get the next page of Virtual Machines. Do this till nextLink is not null to fetch all the Virtual Machines.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: VirtualMachineListResult
            (oas-tags):
              - VirtualMachines
types:
  AdditionalUnattendContent:
    description: 'Gets or sets additional XML formatted information that can be included in the Unattend.xml file, which is used by Windows Setup. Contents are defined by setting name, component name, and the pass in which the content is a applied.'
    properties:
      componentName:
        description: 'Gets or sets the component name. Currently, the only allowable value is Microsoft-Windows-Shell-Setup.'
        enum:
          - Microsoft-Windows-Shell-Setup
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ComponentNames
      content:
        description: Gets or sets XML formatted content that is added to the unattend.xml file in the specified pass and component.The XML must be less than 4 KB and must include the root element for the setting or feature that is being inserted.
        type: string
        required: false
      passName:
        description: 'Gets or sets the pass name. Currently, the only allowable value is oobeSystem.'
        enum:
          - oobeSystem
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: PassNames
      settingName:
        description: 'Gets or sets setting name (e.g. FirstLogonCommands, AutoLogon )'
        enum:
          - AutoLogon
          - FirstLogonCommands
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: SettingNames
  ApiEntityReference:
    description: The API entity reference.
    properties:
      id:
        description: 'Gets or sets ARM resource id in the form of /subscriptions/{SubcriptionId}/resourceGroups/{ResourceGroupName}/...'
        type: string
        required: false
  ApiError:
    description: Api error.
    properties:
      code:
        description: Gets or sets the error code.
        type: string
        required: false
      details:
        description: Gets or sets the Api error details
        items:
          type: ApiErrorBase
        type: array
        required: false
      innererror:
        description: Gets or sets the Api inner error
        type: InnerError
        required: false
      message:
        description: Gets or sets the error message.
        type: string
        required: false
      target:
        description: Gets or sets the target of the particular error.
        type: string
        required: false
  ApiErrorBase:
    description: Api error base.
    properties:
      code:
        description: Gets or sets the error code.
        type: string
        required: false
      message:
        description: Gets or sets the error message.
        type: string
        required: false
      target:
        description: Gets or sets the target of the particular error.
        type: string
        required: false
  AvailabilitySet:
    type: Resource
  AvailabilitySetListResult:
    description: The List Availability Set operation response.
    properties:
      value:
        description: Gets or sets the list of availability sets
        items:
          type: AvailabilitySet
        type: array
        required: false
  AvailabilitySetProperties:
    description: The instance view of a resource.
    properties:
      platformFaultDomainCount:
        description: Gets or sets Fault Domain count.
        format: int32
        type: integer
        required: false
      platformUpdateDomainCount:
        description: Gets or sets Update Domain count.
        format: int32
        type: integer
        required: false
      statuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
      virtualMachines:
        description: Gets or sets a list containing reference to all Virtual Machines  created under this Availability Set.
        items:
          type: SubResource
        type: array
        required: false
  BootDiagnostics:
    description: Describes Boot Diagnostics.
    properties:
      enabled:
        description: Gets or sets whether boot diagnostics should be enabled on the Virtual Machine.
        type: boolean
        required: false
      storageUri:
        description: Gets or sets the boot diagnostics storage Uri. It should be a valid Uri
        type: string
        required: false
  BootDiagnosticsInstanceView:
    description: The instance view of a virtual machine boot diagnostics.
    properties:
      consoleScreenshotBlobUri:
        description: Gets or sets the console screenshot blob Uri.
        type: string
        required: false
      serialConsoleLogBlobUri:
        description: Gets or sets the Linux serial console log blob Uri.
        type: string
        required: false
  ComputeLongRunningOperationProperties:
    description: 'Compute-specific operation properties, including output'
    properties:
      output:
        description: Operation output data (raw JSON)
        type: object
        required: false
  DataDisk:
    description: Describes a data disk.
    properties:
      caching:
        description: Gets or sets the caching type.
        enum:
          - None
          - ReadOnly
          - ReadWrite
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: CachingTypes
      createOption:
        description: Gets or sets the create option.
        enum:
          - fromImage
          - empty
          - attach
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: DiskCreateOptionTypes
      diskSizeGB:
        description: 'Gets or sets the initial disk size in GB for blank data disks, and the new desired size for existing OS and Data disks.'
        format: int32
        type: integer
        required: false
      image:
        description: 'Gets or sets the Source User Image VirtualHardDisk. This VirtualHardDisk will be copied before using it to attach to the Virtual Machine.If SourceImage is provided, the destination VirtualHardDisk should not exist.'
        type: VirtualHardDisk
        required: false
      lun:
        description: Gets or sets the logical unit number.
        format: int32
        type: integer
      name:
        description: Gets or sets the disk name.
        type: string
      vhd:
        description: Gets or sets the Virtual Hard Disk.
        type: VirtualHardDisk
  DataDiskImage:
    description: Contains the data disk images information.
    properties:
      lun:
        description: Gets the LUN number for a data disk.This value is used to identify data disk image inside the VMImage therefore it must be unique for each data disk.The allowed character for the value is digit.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
  DiagnosticsProfile:
    description: Describes a diagnostics profile.
    properties:
      bootDiagnostics:
        description: Gets or sets the boot diagnostics.
        type: BootDiagnostics
        required: false
  DiskEncryptionSettings:
    description: Describes a Encryption Settings for a Disk
    properties:
      diskEncryptionKey:
        description: Gets or sets the disk encryption key which is a KeyVault Secret.
        type: KeyVaultSecretReference
      enabled:
        description: Gets or sets whether disk encryption should be enabled on the Virtual Machine.
        type: boolean
        required: false
      keyEncryptionKey:
        description: Gets or sets the key encryption key which is KeyVault Key.
        type: KeyVaultKeyReference
        required: false
  DiskInstanceView:
    description: The instance view of the disk.
    properties:
      name:
        description: Gets or sets the disk name.
        type: string
        required: false
      statuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
  HardwareProfile:
    description: Describes a hardware profile.
    properties:
      vmSize:
        description: The virtual machine size name.
        enum:
          - Basic_A0
          - Basic_A1
          - Basic_A2
          - Basic_A3
          - Basic_A4
          - Standard_A0
          - Standard_A1
          - Standard_A2
          - Standard_A3
          - Standard_A4
          - Standard_A5
          - Standard_A6
          - Standard_A7
          - Standard_A8
          - Standard_A9
          - Standard_A10
          - Standard_A11
          - Standard_D1
          - Standard_D2
          - Standard_D3
          - Standard_D4
          - Standard_D11
          - Standard_D12
          - Standard_D13
          - Standard_D14
          - Standard_D1_v2
          - Standard_D2_v2
          - Standard_D3_v2
          - Standard_D4_v2
          - Standard_D5_v2
          - Standard_D11_v2
          - Standard_D12_v2
          - Standard_D13_v2
          - Standard_D14_v2
          - Standard_DS1
          - Standard_DS2
          - Standard_DS3
          - Standard_DS4
          - Standard_DS11
          - Standard_DS12
          - Standard_DS13
          - Standard_DS14
          - Standard_G1
          - Standard_G2
          - Standard_G3
          - Standard_G4
          - Standard_G5
          - Standard_GS1
          - Standard_GS2
          - Standard_GS3
          - Standard_GS4
          - Standard_GS5
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: VirtualMachineSizeTypes
  ImageReference:
    description: The image reference.
    properties:
      offer:
        description: Gets or sets the image offer.
        type: string
        required: false
      publisher:
        description: Gets or sets the image publisher.
        type: string
        required: false
      sku:
        description: Gets or sets the image sku.
        type: string
        required: false
      version:
        description: 'Gets or sets the image version. The allowed formats are Major.Minor.Build or ''latest''. Major, Minor and Build being decimal numbers. Specify ''latest'' to use the latest version of image.'
        type: string
        required: false
  InnerError:
    description: Inner error details.
    properties:
      errordetail:
        description: Gets or sets the internal error message or exception dump.
        type: string
        required: false
      exceptiontype:
        description: Gets or sets the exception type.
        type: string
        required: false
  InstanceViewStatus:
    description: Instance view status.
    properties:
      code:
        description: Gets the status Code.
        type: string
        required: false
      displayStatus:
        description: Gets or sets the short localizable label for the status.
        type: string
        required: false
      level:
        description: Gets or sets the level Code.
        enum:
          - Info
          - Warning
          - Error
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: StatusLevelTypes
      message:
        description: 'Gets or sets the detailed Message, including for alerts and error messages.'
        type: string
        required: false
      time:
        description: Gets or sets the time of the status.
        format: rfc3339
        type: datetime
        required: false
  KeyVaultKeyReference:
    description: Describes a reference to Key Vault Key
    properties:
      keyUrl:
        description: Gets or sets the URL referencing a key in a Key Vault.
        type: string
      sourceVault:
        description: Gets or sets the Relative URL of the Key Vault containing the key
        type: SubResource
  KeyVaultSecretReference:
    description: Describes a reference to Key Vault Secret
    properties:
      secretUrl:
        description: Gets or sets the URL referencing a secret in a Key Vault.
        type: string
      sourceVault:
        description: Gets or sets the Relative URL of the Key Vault containing the secret.
        type: SubResource
  LinuxConfiguration:
    description: Describes Windows Configuration of the OS Profile.
    properties:
      disablePasswordAuthentication:
        description: Gets or sets whether Authentication using user name and password is allowed or not
        type: boolean
        required: false
      ssh:
        description: Gets or sets the SSH configuration for linux VMs
        type: SshConfiguration
        required: false
  ListUsagesResult:
    description: The List Usages operation response.
    properties:
      value:
        description: Gets or sets the list Compute Resource Usages.
        items:
          type: Usage
        type: array
        required: false
  NetworkInterfaceReference:
    type: SubResource
  NetworkInterfaceReferenceProperties:
    description: Describes a network interface reference properties.
    properties:
      primary:
        description: Gets or sets whether this is a primary NIC on a virtual machine
        type: boolean
        required: false
  NetworkProfile:
    description: Describes a network profile.
    properties:
      networkInterfaces:
        description: Gets or sets the network interfaces.
        items:
          type: NetworkInterfaceReference
        type: array
        required: false
  OSDisk:
    description: Describes an Operating System disk.
    properties:
      caching:
        description: Gets or sets the caching type.
        enum:
          - None
          - ReadOnly
          - ReadWrite
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: CachingTypes
      createOption:
        description: Gets or sets the create option.
        enum:
          - fromImage
          - empty
          - attach
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: DiskCreateOptionTypes
      diskSizeGB:
        description: 'Gets or sets the initial disk size in GB for blank data disks, and the new desired size for existing OS and Data disks.'
        format: int32
        type: integer
        required: false
      encryptionSettings:
        description: Gets or sets the disk encryption settings.
        type: DiskEncryptionSettings
        required: false
      image:
        description: 'Gets or sets the Source User Image VirtualHardDisk. This VirtualHardDisk will be copied before using it to attach to the Virtual Machine.If SourceImage is provided, the destination VirtualHardDisk should not exist.'
        type: VirtualHardDisk
        required: false
      name:
        description: Gets or sets the disk name.
        type: string
      osType:
        description: Gets or sets the Operating System type.
        enum:
          - Windows
          - Linux
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: OperatingSystemTypes
      vhd:
        description: Gets or sets the Virtual Hard Disk.
        type: VirtualHardDisk
  OSDiskImage:
    description: Contains the os disk image information.
    properties:
      operatingSystem:
        description: Gets or sets the operating system of the osDiskImage.
        enum:
          - Windows
          - Linux
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: OperatingSystemTypes
  OSProfile:
    description: Describes an OS profile.
    properties:
      adminPassword:
        description: Gets or sets the admin user password.
        type: string
        required: false
      adminUsername:
        description: Gets or sets the admin user name.
        type: string
        required: false
      computerName:
        description: Gets or sets the computer name.
        type: string
        required: false
      customData:
        description: Gets or sets a base-64 encoded string of custom data.
        type: string
        required: false
      linuxConfiguration:
        description: Gets or sets the Linux Configuration of the OS profile.
        type: LinuxConfiguration
        required: false
      secrets:
        description: Gets or sets the List of certificates for addition to the VM.
        items:
          type: VaultSecretGroup
        type: array
        required: false
      windowsConfiguration:
        description: Gets or sets the Windows Configuration of the OS profile.
        type: WindowsConfiguration
        required: false
  Plan:
    description: Plan for the resource.
    properties:
      name:
        description: Gets or sets the plan ID.
        type: string
        required: false
      product:
        description: Gets or sets the offer ID.
        type: string
        required: false
      promotionCode:
        description: Gets or sets the promotion code.
        type: string
        required: false
      publisher:
        description: Gets or sets the publisher ID.
        type: string
        required: false
  PurchasePlan:
    description: Used for establishing the purchase context of any 3rd Party artifact through MarketPlace.
    properties:
      name:
        description: Gets or sets the plan ID.
        type: string
      product:
        description: Gets or sets the product ID.
        type: string
      publisher:
        description: Gets or sets the publisher ID.
        type: string
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  Sku:
    description: Describes a virtual machine scale set sku.
    properties:
      capacity:
        description: Gets or sets the sku capacity.
        format: int64
        type: integer
        required: false
      name:
        description: Gets or sets the sku name.
        type: string
        required: false
      tier:
        description: Gets or sets the sku tier.
        type: string
        required: false
  SshConfiguration:
    description: SSH configuration for Linux based VMs running on Azure
    properties:
      publicKeys:
        description: Gets or sets the list of SSH public keys used to authenticate with linux based VMs
        items:
          type: SshPublicKey
        type: array
        required: false
  SshPublicKey:
    description: Contains information about SSH certificate public key and the path on the Linux VM where the public key is placed.
    properties:
      keyData:
        description: Gets or sets Certificate public key used to authenticate with VM through SSH.The certificate must be in Pem format with or without headers.
        type: string
        required: false
      path:
        description: 'Gets or sets the full path on the created VM where SSH public key is stored. If the file already exists, the specified key is appended to the file.'
        type: string
        required: false
  StorageProfile:
    description: Describes a storage profile.
    properties:
      dataDisks:
        description: Gets or sets the data disks.
        items:
          type: DataDisk
        type: array
        required: false
      imageReference:
        description: Gets or sets the image reference.
        type: ImageReference
        required: false
      osDisk:
        description: Gets or sets the OS disk.
        type: OSDisk
        required: false
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
        required: false
  UpgradePolicy:
    description: Describes an upgrade policy - automatic or manual.
    properties:
      mode:
        description: Gets or sets the upgrade mode.
        enum:
          - Automatic
          - Manual
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: UpgradeMode
  Usage:
    description: Describes Compute Resource Usage.
    properties:
      currentValue:
        description: Gets or sets the current value of the usage.
        format: int32
        type: integer
      limit:
        description: Gets or sets the limit of usage.
        format: int64
        type: integer
      name:
        description: Gets or sets the name of the type of usage.
        type: UsageName
      unit:
        description: Gets or sets an enum describing the unit of measurement.
        enum:
          - Count
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: UsageUnit
  UsageName:
    description: The Usage Names.
    properties:
      localizedValue:
        description: Gets or sets a localized string describing the resource name.
        type: string
        required: false
      value:
        description: Gets or sets a string describing the resource name.
        type: string
        required: false
  VaultCertificate:
    description: 'Describes a single certificate reference in a Key Vault, and where the certificate should reside on the VM.'
    properties:
      certificateStore:
        description: 'Gets or sets the Certificate store in LocalMachine to add the certificate to on Windows, leave empty on Linux.'
        type: string
        required: false
      certificateUrl:
        description: Gets or sets the URL referencing a secret in a Key Vault which contains a properly formatted certificate.
        type: string
        required: false
  VaultSecretGroup:
    description: Describes a set of certificates which are all in the same Key Vault.
    properties:
      sourceVault:
        description: Gets or sets the Relative URL of the Key Vault containing all of the certificates in VaultCertificates.
        type: SubResource
        required: false
      vaultCertificates:
        description: Gets or sets the list of key vault references in SourceVault which contain certificates
        items:
          type: VaultCertificate
        type: array
        required: false
  VirtualHardDisk:
    description: Describes the uri of a disk.
    properties:
      uri:
        description: Gets or sets the virtual hard disk's uri. It should be a valid Uri to a virtual hard disk.
        type: string
        required: false
  VirtualMachine:
    type: Resource
  VirtualMachineAgentInstanceView:
    description: The instance view of the VM Agent running on the virtual machine.
    properties:
      extensionHandlers:
        description: Gets or sets the virtual machine extension handler instance view.
        items:
          type: VirtualMachineExtensionHandlerInstanceView
        type: array
        required: false
      statuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
      vmAgentVersion:
        description: Gets or sets the VM Agent full version.
        type: string
        required: false
  VirtualMachineCaptureParameters:
    description: Capture Virtual Machine parameters.
    properties:
      destinationContainerName:
        description: Gets or sets the destination container name.
        type: string
      overwriteVhds:
        description: 'Gets or sets whether it overwrites destination VirtualHardDisk if true, in case of conflict.'
        type: boolean
      vhdPrefix:
        description: Gets or sets the captured VirtualHardDisk's name prefix.
        type: string
  VirtualMachineCaptureResult:
    type: SubResource
  VirtualMachineCaptureResultProperties:
    description: 'Compute-specific operation properties, including output'
    properties:
      output:
        description: Operation output data (raw JSON)
        type: object
        required: false
  VirtualMachineExtension:
    type: Resource
  VirtualMachineExtensionHandlerInstanceView:
    description: The instance view of a virtual machine extension handler.
    properties:
      status:
        description: Gets or sets the extension handler status.
        type: InstanceViewStatus
        required: false
      type:
        description: Gets or sets full type of the extension handler which includes both publisher and type.
        type: string
        required: false
      typeHandlerVersion:
        description: Gets or sets the type version of the extension handler.
        type: string
        required: false
  VirtualMachineExtensionImage:
    type: Resource
  VirtualMachineExtensionImageProperties:
    description: Describes the properties of a Virtual Machine Extension Image.
    properties:
      computeRole:
        description: Gets or sets the type of role (IaaS or PaaS) this extension supports.
        type: string
      handlerSchema:
        description: 'Gets or sets the schema defined by publisher, where extension consumers should provide settings in a matching schema.'
        type: string
      operatingSystem:
        description: Gets or sets the operating system this extension supports.
        type: string
      supportsMultipleExtensions:
        description: Gets or sets whether the handler can support multiple extensions.
        type: boolean
        required: false
      vmScaleSetEnabled:
        description: 'Gets or sets whether the extension can be used on xRP VMScaleSets.By default existing extensions are usable on scalesets, but there might be cases where a publisher wants to explicitly indicate the extension is only enabled for CRP VMs but not VMSS.'
        type: boolean
        required: false
  VirtualMachineExtensionInstanceView:
    description: The instance view of a virtual machine extension.
    properties:
      name:
        description: Gets or sets the virtual machine extension name.
        type: string
        required: false
      statuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
      substatuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
      type:
        description: Gets or sets the full type of the extension handler which includes both publisher and type.
        type: string
        required: false
      typeHandlerVersion:
        description: Gets or sets the type version of the extension handler.
        type: string
        required: false
  VirtualMachineExtensionProperties:
    description: Describes the properties of a Virtual Machine Extension.
    properties:
      autoUpgradeMinorVersion:
        description: Gets or sets whether the extension handler should be automatically upgraded across minor versions.
        type: boolean
        required: false
      forceUpdateTag:
        description: Gets or sets how the extension handler should be forced to update even if the extension configuration has not changed.
        type: string
        required: false
      instanceView:
        description: Gets or sets the virtual machine extension instance view.
        type: VirtualMachineExtensionInstanceView
        required: false
      protectedSettings:
        description: Gets or sets Json formatted protected settings for the extension.
        type: object
        required: false
      provisioningState:
        description: 'Gets or sets the provisioning state, which only appears in the response.'
        type: string
        required: false
      publisher:
        description: Gets or sets the name of the extension handler publisher.
        type: string
        required: false
      settings:
        description: Gets or sets Json formatted public settings for the extension.
        type: object
        required: false
      type:
        description: Gets or sets the type of the extension handler.
        type: string
        required: false
      typeHandlerVersion:
        description: Gets or sets the type version of the extension handler.
        type: string
        required: false
  VirtualMachineImage:
    type: VirtualMachineImageResource
  VirtualMachineImageProperties:
    description: Describes the properties of a Virtual Machine Image.
    properties:
      dataDiskImages:
        items:
          type: DataDiskImage
        type: array
        required: false
      osDiskImage:
        type: OSDiskImage
        required: false
      plan:
        type: PurchasePlan
        required: false
  VirtualMachineImageResource:
    type: SubResource
  VirtualMachineInstanceView:
    description: The instance view of a virtual machine.
    properties:
      bootDiagnostics:
        description: Gets or sets the boot diagnostics.
        type: BootDiagnosticsInstanceView
        required: false
      disks:
        description: Gets or sets the disks information.
        items:
          type: DiskInstanceView
        type: array
        required: false
      extensions:
        description: Gets or sets the extensions information.
        items:
          type: VirtualMachineExtensionInstanceView
        type: array
        required: false
      platformFaultDomain:
        description: Gets or sets the Fault Domain count.
        format: int32
        type: integer
        required: false
      platformUpdateDomain:
        description: Gets or sets the Update Domain count.
        format: int32
        type: integer
        required: false
      rdpThumbPrint:
        description: Gets or sets the Remote desktop certificate thumbprint.
        type: string
        required: false
      statuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
      vmAgent:
        description: Gets or sets the VM Agent running on the virtual machine.
        type: VirtualMachineAgentInstanceView
        required: false
  VirtualMachineListResult:
    description: The List Virtual Machine operation response.
    properties:
      nextLink:
        description: Gets or sets the uri to fetch the next page of VMs. Call ListNext() with this to fetch the next page of Virtual Machines.
        type: string
        required: false
      value:
        description: Gets or sets the list of virtual machines.
        items:
          type: VirtualMachine
        type: array
        required: false
  VirtualMachineProperties:
    description: Describes the properties of a Virtual Machine.
    properties:
      availabilitySet:
        description: Gets or sets the reference Id of the availability set to which this virtual machine belongs.
        type: SubResource
        required: false
      diagnosticsProfile:
        description: Gets or sets the diagnostics profile.
        type: DiagnosticsProfile
        required: false
      hardwareProfile:
        description: Gets or sets the hardware profile.
        type: HardwareProfile
        required: false
      instanceView:
        description: Gets the virtual machine instance view.
        readOnly: true
        type: VirtualMachineInstanceView
        facets:
          readOnly?: boolean
        required: false
      licenseType:
        description: 'Gets or sets the license type, which is for bring your own license scenario.'
        type: string
        required: false
      networkProfile:
        description: Gets or sets the network profile.
        type: NetworkProfile
        required: false
      osProfile:
        description: Gets or sets the OS profile.
        type: OSProfile
        required: false
      provisioningState:
        description: 'Gets or sets the provisioning state, which only appears in the response.'
        type: string
        required: false
      storageProfile:
        description: Gets or sets the storage profile.
        type: StorageProfile
        required: false
  VirtualMachineScaleSet:
    type: Resource
  VirtualMachineScaleSetExtension:
    type: SubResource
  VirtualMachineScaleSetExtensionProfile:
    description: Describes a virtual machine scale set extension profile.
    properties:
      extensions:
        description: Gets the virtual machine scale set child extension resources.
        items:
          type: VirtualMachineScaleSetExtension
        type: array
        required: false
  VirtualMachineScaleSetExtensionProperties:
    description: Describes the properties of a Virtual Machine Scale Set Extension.
    properties:
      autoUpgradeMinorVersion:
        description: Gets or sets whether the extension handler should be automatically upgraded across minor versions.
        type: boolean
        required: false
      protectedSettings:
        description: Gets or sets Json formatted protected settings for the extension.
        type: object
        required: false
      provisioningState:
        description: 'Gets the provisioning state, which only appears in the response.'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      publisher:
        description: Gets or sets the name of the extension handler publisher.
        type: string
        required: false
      settings:
        description: Gets or sets Json formatted public settings for the extension.
        type: object
        required: false
      type:
        description: Gets or sets the type of the extension handler.
        type: string
        required: false
      typeHandlerVersion:
        description: Gets or sets the type version of the extension handler.
        type: string
        required: false
  VirtualMachineScaleSetIPConfiguration:
    type: SubResource
  VirtualMachineScaleSetIPConfigurationProperties:
    description: Describes a virtual machine scale set network profile's IP configuration properties.
    properties:
      loadBalancerBackendAddressPools:
        description: Gets or sets the load balancer backend address pools.
        items:
          type: SubResource
        type: array
        required: false
      loadBalancerInboundNatPools:
        description: Gets or sets the load balancer inbound nat pools.
        items:
          type: SubResource
        type: array
        required: false
      subnet:
        description: Gets or sets the subnet.
        type: ApiEntityReference
  VirtualMachineScaleSetInstanceView:
    description: The instance view of a virtual machine scale set.
    properties:
      extensions:
        description: Gets the extensions information.
        items:
          type: VirtualMachineScaleSetVMExtensionsSummary
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      statuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
      virtualMachine:
        description: Gets the instance view status summary for the virtual machine scale set.
        readOnly: true
        type: VirtualMachineScaleSetInstanceViewStatusesSummary
        facets:
          readOnly?: boolean
        required: false
  VirtualMachineScaleSetInstanceViewStatusesSummary:
    description: Instance view statuses summary for virtual machines of a virtual machine scale set.
    properties:
      statusesSummary:
        description: Gets the extensions information.
        items:
          type: VirtualMachineStatusCodeCount
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  VirtualMachineScaleSetListResult:
    description: The List Virtual Machine operation response.
    properties:
      value:
        description: Gets or sets the list of virtual machine scale sets.
        items:
          type: VirtualMachineScaleSet
        type: array
        required: false
  VirtualMachineScaleSetListSkusResult:
    description: The Virtual Machine Scale Set List Skus operation response.
    properties:
      value:
        description: Gets the list of skus available for the virtual machine scale set.
        items:
          type: VirtualMachineScaleSetSku
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  VirtualMachineScaleSetListWithLinkResult:
    description: The List Virtual Machine operation response.
    properties:
      nextLink:
        description: Gets or sets the uri to fetch the next page of Virtual Machine Scale Sets. Call ListNext() with this to fetch the next page of Virtual Machine Scale Sets.
        type: string
        required: false
      value:
        description: Gets or sets the list of virtual machine scale sets.
        items:
          type: VirtualMachineScaleSet
        type: array
        required: false
  VirtualMachineScaleSetNetworkConfiguration:
    type: SubResource
  VirtualMachineScaleSetNetworkConfigurationProperties:
    description: Describes a virtual machine scale set network profile's IP configuration.
    properties:
      ipConfigurations:
        description: Gets or sets the virtual machine scale set IP Configuration.
        items:
          type: VirtualMachineScaleSetIPConfiguration
        type: array
      primary:
        description: Gets or sets whether this is a primary NIC on a virtual machine.
        type: boolean
        required: false
  VirtualMachineScaleSetNetworkProfile:
    description: Describes a virtual machine scale set network profile.
    properties:
      networkInterfaceConfigurations:
        description: Gets or sets the list of network configurations.
        items:
          type: VirtualMachineScaleSetNetworkConfiguration
        type: array
        required: false
  VirtualMachineScaleSetOSDisk:
    description: Describes a virtual machine scale set operating system disk.
    properties:
      caching:
        description: Gets or sets the caching type.
        enum:
          - None
          - ReadOnly
          - ReadWrite
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: CachingTypes
      createOption:
        description: Gets or sets the create option.
        enum:
          - fromImage
          - empty
          - attach
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: DiskCreateOptionTypes
      image:
        description: 'Gets or sets the Source User Image VirtualHardDisk. This VirtualHardDisk will be copied before using it to attach to the Virtual Machine.If SourceImage is provided, the destination VirtualHardDisk should not exist.'
        type: VirtualHardDisk
        required: false
      name:
        description: Gets or sets the disk name.
        type: string
      osType:
        description: Gets or sets the Operating System type.
        enum:
          - Windows
          - Linux
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: OperatingSystemTypes
      vhdContainers:
        description: Gets or sets the list of virtual hard disk container uris.
        items:
          type: string
        type: array
        required: false
  VirtualMachineScaleSetOSProfile:
    description: Describes a virtual machine scale set OS profile.
    properties:
      adminPassword:
        description: Gets or sets the admin user password.
        type: string
        required: false
      adminUsername:
        description: Gets or sets the admin user name.
        type: string
        required: false
      computerNamePrefix:
        description: Gets or sets the computer name prefix.
        type: string
        required: false
      customData:
        description: Gets or sets a base-64 encoded string of custom data.
        type: string
        required: false
      linuxConfiguration:
        description: Gets or sets the Linux Configuration of the OS profile.
        type: LinuxConfiguration
        required: false
      secrets:
        description: Gets or sets the List of certificates for addition to the VM.
        items:
          type: VaultSecretGroup
        type: array
        required: false
      windowsConfiguration:
        description: Gets or sets the Windows Configuration of the OS profile.
        type: WindowsConfiguration
        required: false
  VirtualMachineScaleSetProperties:
    description: Describes the properties of a Virtual Machine Scale Set.
    properties:
      overProvision:
        description: Specifies whether the Virtual Machine Scale Set should be overprovisioned.
        type: boolean
        required: false
      provisioningState:
        description: 'Gets or sets the provisioning state, which only appears in the response.'
        type: string
        required: false
      upgradePolicy:
        description: Gets or sets the upgrade policy.
        type: UpgradePolicy
        required: false
      virtualMachineProfile:
        description: Gets or sets the virtual machine profile.
        type: VirtualMachineScaleSetVMProfile
        required: false
  VirtualMachineScaleSetSku:
    description: Describes an available virtual machine scale set sku.
    properties:
      capacity:
        description: Gets available scaling information.
        readOnly: true
        type: VirtualMachineScaleSetSkuCapacity
        facets:
          readOnly?: boolean
        required: false
      resourceType:
        description: Gets the type of resource the sku applies to.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      sku:
        description: Gets the Sku.
        readOnly: true
        type: Sku
        facets:
          readOnly?: boolean
        required: false
  VirtualMachineScaleSetSkuCapacity:
    description: Describes scaling information of a sku.
    properties:
      defaultCapacity:
        description: Gets the default capacity.
        format: int64
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      maximum:
        description: Gets the maximum capacity that can be set.
        format: int64
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      minimum:
        description: Gets the minimum capacity.
        format: int64
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      scaleType:
        description: Gets the scale type applicable to the sku.
        enum:
          - Automatic
          - None
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: VirtualMachineScaleSetSkuScaleType
  VirtualMachineScaleSetStorageProfile:
    description: Describes a virtual machine scale set storage profile.
    properties:
      imageReference:
        description: Gets or sets the image reference.
        type: ImageReference
        required: false
      osDisk:
        description: Gets or sets the OS disk.
        type: VirtualMachineScaleSetOSDisk
        required: false
  VirtualMachineScaleSetVM:
    type: Resource
  VirtualMachineScaleSetVMExtensionsSummary:
    description: Extensions summary for virtual machines of a virtual machine scale set.
    properties:
      name:
        description: Gets the extension name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      statusesSummary:
        description: Gets the extensions information.
        items:
          type: VirtualMachineStatusCodeCount
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  VirtualMachineScaleSetVMInstanceIDs:
    description: Specifies the list of virtual machine scale set instance IDs.
    properties:
      instanceIds:
        description: Gets or sets the virtual machine scale set instance ids.
        items:
          type: string
        type: array
        required: false
  VirtualMachineScaleSetVMInstanceRequiredIDs:
    description: Specifies the list of virtual machine scale set instance IDs.
    properties:
      instanceIds:
        description: Gets or sets the virtual machine scale set instance ids.
        items:
          type: string
        type: array
  VirtualMachineScaleSetVMInstanceView:
    description: The instance view of a virtual machine scale set VM.
    properties:
      bootDiagnostics:
        description: Gets or sets the boot diagnostics.
        type: BootDiagnosticsInstanceView
        required: false
      disks:
        description: Gets or sets the disks information.
        items:
          type: DiskInstanceView
        type: array
        required: false
      extensions:
        description: Gets or sets the extensions information.
        items:
          type: VirtualMachineExtensionInstanceView
        type: array
        required: false
      platformFaultDomain:
        description: Gets or sets the Fault Domain count.
        format: int32
        type: integer
        required: false
      platformUpdateDomain:
        description: Gets or sets the Update Domain count.
        format: int32
        type: integer
        required: false
      rdpThumbPrint:
        description: Gets or sets the Remote desktop certificate thumbprint.
        type: string
        required: false
      statuses:
        description: Gets or sets the resource status information.
        items:
          type: InstanceViewStatus
        type: array
        required: false
      vmAgent:
        description: Gets or sets the VM Agent running on the virtual machine.
        type: VirtualMachineAgentInstanceView
        required: false
  VirtualMachineScaleSetVMListResult:
    description: The List Virtual Machine Scale Set VMs operation response.
    properties:
      value:
        description: Gets or sets the list of virtual machine scale sets VMs.
        items:
          type: VirtualMachineScaleSetVM
        type: array
        required: false
  VirtualMachineScaleSetVMProfile:
    description: Describes a virtual machine scale set virtual machine profile.
    properties:
      extensionProfile:
        description: Gets the virtual machine scale set extension profile.
        type: VirtualMachineScaleSetExtensionProfile
        required: false
      networkProfile:
        description: Gets or sets the virtual machine scale set network profile.
        type: VirtualMachineScaleSetNetworkProfile
        required: false
      osProfile:
        description: Gets or sets the virtual machine scale set OS profile.
        type: VirtualMachineScaleSetOSProfile
        required: false
      storageProfile:
        description: Gets or sets the virtual machine scale set storage profile.
        type: VirtualMachineScaleSetStorageProfile
        required: false
  VirtualMachineScaleSetVMProperties:
    description: Describes the properties of a virtual machine scale set virtual machine.
    properties:
      availabilitySet:
        description: Gets or sets the reference Id of the availability set to which this virtual machine belongs.
        type: SubResource
        required: false
      diagnosticsProfile:
        description: Gets or sets the diagnostics profile.
        type: DiagnosticsProfile
        required: false
      hardwareProfile:
        description: Gets or sets the hardware profile.
        type: HardwareProfile
        required: false
      instanceView:
        description: Gets the virtual machine instance view.
        readOnly: true
        type: VirtualMachineInstanceView
        facets:
          readOnly?: boolean
        required: false
      latestModelApplied:
        description: Specifies whether the latest model has been applied to the virtual machine.
        readOnly: true
        type: boolean
        facets:
          readOnly?: boolean
        required: false
      licenseType:
        description: 'Gets or sets the license type, which is for bring your own license scenario.'
        type: string
        required: false
      networkProfile:
        description: Gets or sets the network profile.
        type: NetworkProfile
        required: false
      osProfile:
        description: Gets or sets the OS profile.
        type: OSProfile
        required: false
      provisioningState:
        description: 'Gets or sets the provisioning state, which only appears in the response.'
        type: string
        required: false
      storageProfile:
        description: Gets or sets the storage profile.
        type: StorageProfile
        required: false
  VirtualMachineSize:
    description: Describes the properties of a VM size.
    properties:
      maxDataDiskCount:
        description: Gets or sets the Maximum number of data disks allowed by a VM size.
        format: int32
        type: integer
        required: false
      memoryInMB:
        description: Gets or sets the Memory size supported by a VM size.
        format: int32
        type: integer
        required: false
      name:
        description: Gets or sets the VM size name.
        type: string
        required: false
      numberOfCores:
        description: Gets or sets the Number of cores supported by a VM size.
        format: int32
        type: integer
        required: false
      osDiskSizeInMB:
        description: Gets or sets the OS disk size allowed by a VM size.
        format: int32
        type: integer
        required: false
      resourceDiskSizeInMB:
        description: Gets or sets the Resource disk size allowed by a VM size.
        format: int32
        type: integer
        required: false
  VirtualMachineSizeListResult:
    description: The List Virtual Machine operation response.
    properties:
      value:
        description: Gets or sets the list of virtual machine sizes.
        items:
          type: VirtualMachineSize
        type: array
        required: false
  VirtualMachineStatusCodeCount:
    description: The status code and count of the virtual machine scale set instance view status summary.
    properties:
      code:
        description: Gets the instance view status code.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      count:
        description: Gets the number of instances having a particular status code.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
  WinRMConfiguration:
    description: Describes Windows Remote Management configuration of the VM
    properties:
      listeners:
        description: Gets or sets the list of Windows Remote Management listeners
        items:
          type: WinRMListener
        type: array
        required: false
  WinRMListener:
    description: Describes Protocol and thumbprint of Windows Remote Management listener
    properties:
      certificateUrl:
        description: Gets or sets the Certificate URL in KMS for Https listeners. Should be null for Http listeners.
        type: string
        required: false
      protocol:
        description: Gets or sets the Protocol used by WinRM listener. Currently only Http and Https are supported.
        enum:
          - Http
          - Https
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ProtocolTypes
  WindowsConfiguration:
    description: Describes Windows Configuration of the OS Profile.
    properties:
      additionalUnattendContent:
        description: Gets or sets the additional base-64 encoded XML formatted information that can be included in the Unattend.xml file.
        items:
          type: AdditionalUnattendContent
        type: array
        required: false
      enableAutomaticUpdates:
        description: Gets or sets whether Windows updates are automatically installed on the VM
        type: boolean
        required: false
      provisionVMAgent:
        description: Gets or sets whether VM Agent should be provisioned on the Virtual Machine.
        type: boolean
        required: false
      timeZone:
        description: Gets or sets the Time Zone of the VM
        type: string
        required: false
      winRM:
        description: Gets or sets the Windows Remote Management configuration of the VM
        type: WinRMConfiguration
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
(oas-x-hasEquivalentPaths): true
