#%RAML 1.0
title: DocumentDB
version: '2015-04-08'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: Azure DocumentDB Database Service Resource Provider REST API
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-documentdb/2015-04-08/swagger/documentdb.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-documentdb
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-x-ms-client-flatten: any
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.DocumentDB:
            displayName: Microsoft.DocumentDB
            /databaseAccounts:
              displayName: databaseAccounts
              '/{accountName}':
                displayName: '{accountName}'
                uriParameters:
                  accountName:
                    description: DocumentDB database account name.
                    maxLength: 50
                    minLength: 3
                    required: true
                    type: string
                    displayName: DocumentDB database account name.
                patch:
                  (oas-x-ms-long-running-operation): true
                  displayName: DatabaseAccounts_Patch
                  description: Patches the properties of an existing Azure DocumentDB database account.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: DatabaseAccountPatchParameters
                      (oas-body-name): updateParameters
                      description: The tags parameter to patch for the current database account.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: DatabaseAccount
                      description: The properties of the database account were patched successfully.
                /regenerateKey:
                  displayName: regenerateKey
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: DatabaseAccounts_RegenerateKey
                    description: Regenerates an access key for the specified Azure DocumentDB database account.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: DatabaseAccountRegenerateKeyParameters
                        (oas-body-name): keyToRegenerate
                        description: The name of the key to regenerate.
                    responses:
                      '200':
                        description: OK
                      '202':
                        description: Accepted. The regenerate key operation will complete asynchronously.
                /readonlykeys:
                  displayName: readonlykeys
                  get:
                    displayName: DatabaseAccounts_ListReadOnlyKeys
                    description: Lists the read-only access keys for the specified Azure DocumentDB database account.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: DatabaseAccountListReadOnlyKeysResult
                        description: The operation completed successfully.
                /listKeys:
                  displayName: listKeys
                  post:
                    displayName: DatabaseAccounts_ListKeys
                    description: Lists the access keys for the specified Azure DocumentDB database account.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: DatabaseAccountListKeysResult
                        description: The operation completed successfully.
                /failoverPriorityChange:
                  displayName: failoverPriorityChange
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: DatabaseAccounts_FailoverPriorityChange
                    description: Changes the failover priority for the Azure DocumentDB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: FailoverPolicies
                        (oas-body-name): failoverParameters
                        description: The new failover policies for the database account.
                    responses:
                      '202':
                        description: Accepted. The failover policy change operation will complete asynchronously.
                      '204':
                        description: No Content
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: DatabaseAccounts_CreateOrUpdate
                  description: Creates or updates an Azure DocumentDB database account.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: DatabaseAccountCreateUpdateParameters
                      (oas-body-name): createUpdateParameters
                      description: The parameters to provide for the current database account.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: DatabaseAccount
                      description: The database account create or update operation will complete asynchronously.
                get:
                  displayName: DatabaseAccounts_Get
                  description: Retrieves the properties of an existing Azure DocumentDB database account.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: DatabaseAccount
                      description: The database account properties were retrieved successfully.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: DatabaseAccounts_Delete
                  description: Deletes an existing Azure DocumentDB database account.
                  is:
                    - apiVersionParameter
                  responses:
                    '202':
                      description: The database account delete operation will complete asynchronously.
                    '204':
                      description: The specified account does not exist in the subscription.
              get:
                (oas-x-ms-pageable): {}
                displayName: DatabaseAccounts_ListByResourceGroup
                description: Lists all the Azure DocumentDB database accounts available under the given resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: DatabaseAccountsListResult
                    description: The operation completed successfully.
    /providers:
      displayName: providers
      /Microsoft.DocumentDB:
        displayName: Microsoft.DocumentDB
        /databaseAccounts:
          displayName: databaseAccounts
          get:
            (oas-x-ms-pageable): {}
            displayName: DatabaseAccounts_List
            description: Lists all the Azure DocumentDB database accounts available under the subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: DatabaseAccountsListResult
                description: The operation completed successfully.
/providers:
  displayName: providers
  /Microsoft.DocumentDB:
    displayName: Microsoft.DocumentDB
    /databaseAccountNames:
      displayName: databaseAccountNames
      '/{accountName}':
        displayName: '{accountName}'
        uriParameters:
          accountName:
            description: DocumentDB database account name.
            maxLength: 50
            minLength: 3
            required: true
            type: string
            displayName: DocumentDB database account name.
        head:
          displayName: DatabaseAccounts_CheckNameExists
          description: 'Checks that the Azure DocumentDB account name already exists. A valid account name may contain only lowercase letters, numbers, and the ''-'' character, and must be between 3 and 50 characters.'
          is:
            - apiVersionParameter
          responses:
            '200':
              description: OK. The account name is valid but is already in use.
            '404':
              description: Not Found. The account name is available and valid.
types:
  ConsistencyPolicy:
    description: The consistency policy for the DocumentDB database account.
    properties:
      defaultConsistencyLevel:
        description: The default consistency level and configuration settings of the DocumentDB account.
        enum:
          - Eventual
          - Session
          - BoundedStaleness
          - Strong
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: DefaultConsistencyLevel
      maxIntervalInSeconds:
        description: 'When used with the Bounded Staleness consistency level, this value represents the time amount of staleness (in seconds) tolerated. Accepted range for this value is 1 - 100. Required when defaultConsistencyPolicy is set to ''BoundedStaleness''.'
        format: int32
        maximum: 100
        minimum: 1
        type: integer
        required: false
      maxStalenessPrefix:
        description: 'When used with the Bounded Staleness consistency level, this value represents the number of stale requests tolerated. Accepted range for this value is 1 – 2,147,483,647. Required when defaultConsistencyPolicy is set to ''BoundedStaleness''.'
        format: int64
        maximum: 2147483647
        minimum: 1
        type: integer
        required: false
  DatabaseAccount:
    type: Resource
  DatabaseAccountCreateUpdateParameters:
    type: Resource
  DatabaseAccountCreateUpdateProperties:
    description: Properties to create and update Azure DocumentDB database accounts.
    properties:
      consistencyPolicy:
        description: The consistency policy for the DocumentDB account.
        type: ConsistencyPolicy
        required: false
      databaseAccountOfferType:
        type: DatabaseAccountOfferType
      locations:
        description: An array that contains the georeplication locations enabled for the DocumentDB account.
        items:
          type: Location
        type: array
  DatabaseAccountListKeysResult:
    description: The access keys for the given database account.
    properties:
      primaryMasterKey:
        description: Base 64 encoded value of the primary read-write key.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      properties:
        type: DatabaseAccountListReadOnlyKeysResult
        required: false
        (oas-x-ms-client-flatten): true
      secondaryMasterKey:
        description: Base 64 encoded value of the secondary read-write key.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  DatabaseAccountListReadOnlyKeysResult:
    description: The read-only access keys for the given database account.
    properties:
      primaryReadonlyMasterKey:
        description: Base 64 encoded value of the primary read-only key.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      secondaryReadonlyMasterKey:
        description: Base 64 encoded value of the secondary read-only key.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  DatabaseAccountOfferType:
    description: The offer type for the DocumentDB database account.
    enum:
      - Standard
    type: string
  DatabaseAccountPatchParameters:
    description: Parameters for patching Azure DocumentDB database account properties.
    properties:
      tags:
        type: Tags
  DatabaseAccountProperties:
    description: Properties for the database account.
    properties:
      consistencyPolicy:
        description: The consistency policy for the DocumentDB database account.
        type: ConsistencyPolicy
        required: false
      databaseAccountOfferType:
        description: 'The offer type for the DocumentDB database account. Default value: Standard.'
        readOnly: true
        type: DatabaseAccountOfferType
        facets:
          readOnly?: boolean
        required: false
      documentEndpoint:
        description: The connection endpoint for the DocumentDB database account.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      failoverPolicies:
        description: An array that contains the regions ordered by their failover priorities.
        items:
          type: FailoverPolicy
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      provisioningState:
        type: ProvisioningState
        required: false
      readLocations:
        description: An array that contains of the read locations enabled for the DocumentDB account.
        items:
          type: Location
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      writeLocations:
        description: An array that contains the write location for the DocumentDB account.
        items:
          type: Location
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  DatabaseAccountRegenerateKeyParameters:
    description: Parameters to regenerate the keys within the database account.
    properties:
      keyKind:
        description: The access key to regenerate.
        enum:
          - primary
          - secondary
          - primaryReadonly
          - secondaryReadonly
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: KeyKind
  DatabaseAccountsListResult:
    description: 'The List operation response, that contains the database accounts and their properties.'
    properties:
      value:
        description: List of database account and their properties.
        items:
          type: DatabaseAccount
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  FailoverPolicies:
    description: The list of new failover policies for the failover priority change.
    properties:
      failoverPolicies:
        description: List of failover policies.
        items:
          type: FailoverPolicy
        type: array
        required: false
  FailoverPolicy:
    description: The failover policy for a given region of a database account.
    properties:
      failoverPriority:
        description: The failover priority of the region. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.
        format: int32
        minimum: 0
        type: integer
        required: false
      id:
        description: 'The unique identifier of the region in which the database account replicates to. Example: &lt;accountName&gt;-&lt;locationName&gt;.'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      locationName:
        description: The name of the region in which the database account exists.
        type: string
        required: false
  Location:
    description: A region in which the Azure DocumentDB database account is deployed.
    properties:
      documentEndpoint:
        description: 'The connection endpoint for the specific region. Example: https://&lt;accountName&gt;-&lt;locationName&gt;.documents.azure.com:443/'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      failoverPriority:
        description: The failover priority of the region. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.
        format: int32
        minimum: 0
        type: integer
        required: false
      id:
        description: 'The unique identifier of the region within the database account. Example: &lt;accountName&gt;-&lt;locationName&gt;.'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      locationName:
        description: The name of the region.
        type: string
        required: false
      provisioningState:
        type: ProvisioningState
        required: false
  ProvisioningState:
    description: 'The status of the DocumentDB account at the time the operation was called. The status can be one of following. ''Creating'' – the DocumentDB account is being created. When an account is in Creating state, only properties that are specified as input for the Create DocumentDB account operation are returned. ''Succeeded'' – the DocumentDB account is active for use. ''Updating'' – the DocumentDB account is being updated. ''Deleting'' – the DocumentDB account is being deleted. ''Failed'' – the DocumentDB account failed creation.'
    readOnly: true
    type: string
    facets:
      readOnly?: boolean
  Resource:
    description: A database account resource.
    properties:
      id:
        description: The unique resource identifier of the database account.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: The location of the resource group to which the resource belongs.
        type: string
      name:
        description: The name of the database account.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        type: Tags
        required: false
      type:
        description: The type of Azure resource.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  Tags:
    description: Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
    type: object
    properties:
      //:
        type: string
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Version of the API to be used with the client request. The current version is 2015-04-08.
        required: true
