#%RAML 1.0
title: RedisManagementClient
version: '2016-04-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: REST API for Azure Redis Cache Service.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-redis/2016-04-01/swagger/redis.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-redis
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow.
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Cache:
            displayName: Microsoft.Cache
            /Redis:
              displayName: Redis
              '/{name}':
                displayName: '{name}'
                /forceReboot:
                  displayName: forceReboot
                  post:
                    displayName: Redis_ForceReboot
                    description: Reboot specified Redis node(s). This operation requires write permission to the cache resource. There can be potential data loss.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: RedisRebootParameters
                        (oas-body-name): parameters
                        description: Specifies which Redis node(s) to reboot.
                    responses:
                      '200': {}
                      '204': {}
                    (oas-tags):
                      - Redis
                /regenerateKey:
                  displayName: regenerateKey
                  post:
                    displayName: Redis_RegenerateKey
                    description: Regenerate Redis cache's access keys. This operation requires write permission to the cache resource.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: RedisRegenerateKeyParameters
                        (oas-body-name): parameters
                        description: Specifies which key to regenerate.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RedisAccessKeys
                        description: Lists the regenerated keys for Redis Cache
                    (oas-tags):
                      - Redis
                /import:
                  displayName: import
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: Redis_ImportData
                    description: Import data into Redis cache.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ImportRDBParameters
                        (oas-body-name): parameters
                        description: Parameters for Redis import operation.
                    responses:
                      '202': {}
                    (oas-tags):
                      - Redis
                uriParameters:
                  name:
                    description: The name of the Redis cache.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: Redis_Delete
                  description: Deletes a Redis cache.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '204': {}
                  (oas-tags):
                    - Redis
                /patchSchedules:
                  displayName: patchSchedules
                  /default:
                    displayName: default
                    put:
                      displayName: PatchSchedules_CreateOrUpdate
                      description: Create or replace the patching schedule for Redis cache.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: RedisPatchSchedule
                          (oas-body-name): parameters
                          description: Parameters to set patch schedules for Redis cache.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RedisPatchSchedule
                      (oas-tags):
                        - Redis
                    get:
                      displayName: PatchSchedules_Get
                      description: Gets the patching schedule for Redis cache.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RedisPatchSchedule
                          description: Response of Get patch schedules.
                        '404':
                          description: Response if patch schedules does not exist.
                      (oas-tags):
                        - Redis
                    delete:
                      displayName: PatchSchedules_Delete
                      description: Deletes the patching schedule for Redis cache.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                      (oas-tags):
                        - Redis
                /listKeys:
                  displayName: listKeys
                  post:
                    displayName: Redis_ListKeys
                    description: Retrieve a Redis cache's access keys. This operation requires write permission to the cache resource.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RedisAccessKeys
                        description: Lists the keys for the specified Redis cache.
                    (oas-tags):
                      - Redis
                get:
                  displayName: Redis_Get
                  description: Gets a Redis cache (resource description).
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RedisResource
                  (oas-tags):
                    - Redis
                /export:
                  displayName: export
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: Redis_ExportData
                    description: Import data into Redis cache.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ExportRDBParameters
                        (oas-body-name): parameters
                        description: Parameters for Redis export operation.
                    responses:
                      '202': {}
                    (oas-tags):
                      - Redis
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: Redis_Create
                  description: 'Create or replace (overwrite/recreate, with potential downtime) an existing Redis cache.'
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: RedisCreateParameters
                      (oas-body-name): parameters
                      description: Parameters supplied to the Create Redis operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RedisResource
                    '201':
                      body:
                        application/json:
                          type: RedisResource
                  (oas-tags):
                    - Redis
                patch:
                  (oas-x-ms-long-running-operation): true
                  displayName: Redis_Update
                  description: Update an existing Redis cache.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: RedisUpdateParameters
                      (oas-body-name): parameters
                      description: Parameters supplied to the Update Redis operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RedisResource
                  (oas-tags):
                    - Redis
              /:
                get:
                  (oas-x-ms-pageable):
                    nextLinkName: nextLink
                  displayName: Redis_ListByResourceGroup
                  description: Lists all Redis caches in a resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RedisListResult
                  (oas-tags):
                    - Redis
    /providers:
      displayName: providers
      /Microsoft.Cache:
        displayName: Microsoft.Cache
        /Redis:
          displayName: Redis
          /:
            get:
              (oas-x-ms-pageable):
                nextLinkName: nextLink
              displayName: Redis_List
              description: Gets all Redis caches in the specified subscription.
              is:
                - apiVersionParameter
              responses:
                '200':
                  body:
                    application/json:
                      type: RedisListResult
              (oas-tags):
                - Redis
types:
  ExportRDBParameters:
    description: Parameters for Redis export operation.
    properties:
      container:
        description: Container name to export to.
        type: string
      format:
        description: File format.
        type: string
        required: false
      prefix:
        description: Prefix to use for exported files.
        type: string
  ImportRDBParameters:
    description: Parameters for Redis import operation.
    properties:
      files:
        description: files to import.
        items:
          type: string
        type: array
      format:
        description: File format.
        type: string
        required: false
  RedisAccessKeys:
    description: Redis cache access keys.
    properties:
      primaryKey:
        description: The current primary key that clients can use to authenticate with Redis cache.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      secondaryKey:
        description: The current secondary key that clients can use to authenticate with Redis cache.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  RedisCreateParameters:
    type: Resource
  RedisCreateProperties:
    type: RedisProperties
  RedisListResult:
    description: The response of list Redis operation.
    properties:
      nextLink:
        description: Link for next set of locations.
        type: string
        required: false
      value:
        description: List of Redis cache instances.
        items:
          type: RedisResource
        type: array
        required: false
  RedisPatchSchedule:
    description: Response to put/get patch schedules for Redis cache.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      name:
        description: Resource name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      properties:
        description: List of patch schedules for a Redis cache.
        type: ScheduleEntries
        (oas-x-ms-client-flatten): true
      type:
        description: Resource type.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  RedisProperties:
    description: Properties supplied to Create or Update Redis operation.
    properties:
      RedisConfiguration:
        description: 'All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value etc.'
        type: object
        required: false
        properties:
          //:
            type: string
      enableNonSslPort:
        description: Specifies whether the non-ssl Redis server port (6379) is enabled.
        type: boolean
        required: false
      shardCount:
        description: The number of shards to be created on a Premium Cluster Cache.
        format: int32
        type: integer
        required: false
      staticIP:
        description: Static IP address. Required when deploying a Redis cache inside an existing Azure Virtual Network.
        pattern: ^\d+\.\d+\.\d+\.\d+$
        type: string
        required: false
      subnetId:
        description: 'The full resource ID of a subnet in a virtual network to deploy the Redis cache in. Example format: /subscriptions/{subid}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/vnet1/subnets/subnet1'
        pattern: '^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$'
        type: string
        required: false
      tenantSettings:
        description: tenantSettings
        type: object
        required: false
        properties:
          //:
            type: string
  RedisRebootParameters:
    description: Specifies which Redis node(s) to reboot.
    properties:
      rebootType:
        description: Which Redis node(s) to reboot. Depending on this value data loss is possible.
        enum:
          - PrimaryNode
          - SecondaryNode
          - AllNodes
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: RebootType
      shardId:
        description: 'If clustering is enabled, the ID of the shard to be rebooted.'
        format: int32
        type: integer
        required: false
  RedisRegenerateKeyParameters:
    description: Specifies which Redis access keys to reset.
    properties:
      keyType:
        description: The Redis access key to regenerate.
        enum:
          - Primary
          - Secondary
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: RedisKeyType
  RedisResource:
    type: Resource
  RedisResourceProperties:
    description: Parameters describing a Redis instance.
    properties:
      RedisVersion:
        description: Redis version.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      hostName:
        description: Redis host name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      port:
        description: Redis non-SSL port.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      properties:
        type: RedisCreateProperties
        required: false
        (oas-x-ms-client-flatten): true
      provisioningState:
        description: Redis instance provisioning status.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      sslPort:
        description: Redis SSL port.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
  RedisUpdateParameters:
    description: Parameters supplied to the Update Redis operation.
    properties:
      properties:
        description: Redis cache properties.
        type: RedisUpdateProperties
        required: false
        (oas-x-ms-client-flatten): true
  RedisUpdateProperties:
    type: RedisProperties
  Resource:
    description: The Resource definition.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        description: Resource tags.
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ScheduleEntries:
    description: List of patch schedules for a Redis cache.
    properties:
      scheduleEntries:
        description: List of patch schedules for a Redis cache.
        items:
          type: ScheduleEntry
        type: array
  ScheduleEntry:
    description: Patch schedule entry for a Premium Redis Cache.
    properties:
      dayOfWeek:
        description: Day of the week when a cache can be patched.
        enum:
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          - Sunday
          - Everyday
          - Weekend
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: DayOfWeek
      maintenanceWindow:
        description: 'ISO8601 timespan specifying how much time cache patching can take. '
        format: duration
        type: string
        facets:
          format: string
        required: false
      startHourUtc:
        description: Start hour after which cache patching can start.
        format: int32
        type: integer
  Sku:
    description: SKU parameters supplied to the create Redis operation.
    properties:
      capacity:
        description: 'The size of the Redis cache to deploy. Valid values: for C (Basic/Standard) family (0, 1, 2, 3, 4, 5, 6), for P (Premium) family (1, 2, 3, 4).'
        format: int32
        type: integer
      family:
        description: 'The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).'
        enum:
          - C
          - P
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuFamily
      name:
        description: 'The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)'
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuName
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
