#%RAML 1.0
title: NetworkManagementClient
version: '2016-09-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-network/2016-09-01/swagger/network.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-network
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Network:
            displayName: Microsoft.Network
            /localNetworkGateways:
              displayName: localNetworkGateways
              '/{localNetworkGatewayName}':
                displayName: '{localNetworkGatewayName}'
                uriParameters:
                  localNetworkGatewayName:
                    description: The name of the local network gateway.
                    required: true
                    type: string
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: LocalNetworkGateways_CreateOrUpdate
                  description: Creates or updates a local network gateway in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: LocalNetworkGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update local network gateway operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                      description: Update successful. The operation returns the resulting LocalNetworkGateway resource.
                    '201':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                      description: Create successful. The operation returns the resulting LocalNetworkGateway resource.
                  (oas-tags):
                    - LocalNetworkGateways
                get:
                  displayName: LocalNetworkGateways_Get
                  description: Gets the specified local network gateway in a resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                      description: Request successful. The operation returns the resulting LocalNetworkGateway resource.
                  (oas-tags):
                    - LocalNetworkGateways
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: LocalNetworkGateways_Delete
                  description: Deletes the specified local network gateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Delete successful.
                  (oas-tags):
                    - LocalNetworkGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: LocalNetworkGateways_List
                description: Gets all the local network gateways in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: LocalNetworkGatewayListResult
                    description: Request successful. The operation returns a list of LocalNetworkGateway resources.
                (oas-tags):
                  - LocalNetworkGateways
            /networkInterfaces:
              displayName: networkInterfaces
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: NetworkInterfaces_List
                description: Gets all network interfaces in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NetworkInterfaceListResult
                    description: Request successful. The operation returns a list of NetworkInterface resources.
                (oas-tags):
                  - NetworkInterfaces
              '/{networkInterfaceName}':
                displayName: '{networkInterfaceName}'
                uriParameters:
                  networkInterfaceName:
                    description: The name of the network interface.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkInterfaces_Delete
                  description: Deletes the specified network interface.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Request successful. Resource does not exist.
                  (oas-tags):
                    - NetworkInterfaces
                get:
                  displayName: NetworkInterfaces_Get
                  description: Gets information about the specified network interface.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkInterface
                      description: Request successful. The operation returns the resulting NetworkInterface resource.
                  queryParameters:
                    $expand:
                      description: Expands referenced resources.
                      required: false
                      type: string
                  (oas-tags):
                    - NetworkInterfaces
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkInterfaces_CreateOrUpdate
                  description: Creates or updates a network interface.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NetworkInterface
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update network interface operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkInterface
                      description: Update successful. The operation returns the resulting NetworkInterface resource.
                    '201':
                      body:
                        application/json:
                          type: NetworkInterface
                      description: Create successful. The operation returns the resulting NetworkInterface resource.
                  (oas-tags):
                    - NetworkInterfaces
                /effectiveNetworkSecurityGroups:
                  displayName: effectiveNetworkSecurityGroups
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: NetworkInterfaces_ListEffectiveNetworkSecurityGroups
                    description: Gets all network security groups applied to a network interface.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EffectiveNetworkSecurityGroupListResult
                        description: Request successful. The operation returns a list of NetworkSecurityGroup resources.
                      '202':
                        description: Accepted and the operation will complete asynchronously.
                    (oas-tags):
                      - NetworkInterfaces
                /effectiveRouteTable:
                  displayName: effectiveRouteTable
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: NetworkInterfaces_GetEffectiveRouteTable
                    description: Gets all route tables applied to a network interface.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EffectiveRouteListResult
                        description: Request successful. The operation returns a list of EffectRoute resources.
                      '202':
                        description: Accepted and the operation will complete asynchronously.
                    (oas-tags):
                      - NetworkInterfaces
            /networkSecurityGroups:
              displayName: networkSecurityGroups
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: NetworkSecurityGroups_List
                description: Gets all network security groups in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NetworkSecurityGroupListResult
                    description: Request successful. The operation returns a list of NetworkSecurityGroup resources.
                (oas-tags):
                  - NetworkSecurityGroups
              '/{networkSecurityGroupName}':
                displayName: '{networkSecurityGroupName}'
                uriParameters:
                  networkSecurityGroupName:
                    description: The name of the network security group.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkSecurityGroups_Delete
                  description: Deletes the specified network security group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Request successful. Resource does not exist.
                  (oas-tags):
                    - NetworkSecurityGroups
                get:
                  displayName: NetworkSecurityGroups_Get
                  description: Gets the specified network security group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                      description: Request successful. The operation returns the resulting NetworkSecurityGroup resource.
                  queryParameters:
                    $expand:
                      description: Expands referenced resources.
                      required: false
                      type: string
                  (oas-tags):
                    - NetworkSecurityGroups
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkSecurityGroups_CreateOrUpdate
                  description: Creates or updates a network security group in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NetworkSecurityGroup
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update network security group operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                      description: Update successful. The operation returns the resulting NetworkSecurityGroup resource.
                    '201':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                      description: Create successful. The operation returns the resulting NetworkSecurityGroup resource.
                  (oas-tags):
                    - NetworkSecurityGroups
                /securityRules:
                  displayName: securityRules
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: SecurityRules_List
                    description: Gets all security rules in a network security group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SecurityRuleListResult
                        description: Request successful. The operation returns a list of SecurityRule resources.
                    (oas-tags):
                      - SecurityRules
                  '/{securityRuleName}':
                    displayName: '{securityRuleName}'
                    uriParameters:
                      securityRuleName:
                        description: The name of the security rule.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: SecurityRules_Delete
                      description: Deletes the specified network security rule.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Delete successful.
                        '202':
                          description: Accepted and the operation will complete asynchronously.
                        '204':
                          description: Request successful. Resource does not exist.
                      (oas-tags):
                        - SecurityRules
                    get:
                      displayName: SecurityRules_Get
                      description: Get the specified network security rule.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SecurityRule
                          description: Request successful. The operation returns the resulting SecurityRule resource.
                      (oas-tags):
                        - SecurityRules
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: SecurityRules_CreateOrUpdate
                      description: Creates or updates a security rule in the specified network security group.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SecurityRule
                          (oas-body-name): securityRuleParameters
                          description: Parameters supplied to the create or update network security rule operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SecurityRule
                          description: Update successful. The operation returns the resulting SecurityRule resource.
                        '201':
                          body:
                            application/json:
                              type: SecurityRule
                          description: Create successful. The operation returns the resulting SecurityRule resource.
                      (oas-tags):
                        - SecurityRules
            /applicationGateways:
              displayName: applicationGateways
              '/{applicationGatewayName}':
                displayName: '{applicationGatewayName}'
                uriParameters:
                  applicationGatewayName:
                    description: The name of the application gateway.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: ApplicationGateways_Delete
                  description: Deletes the specified application gateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Request successful. Resource with the specified name does not exist
                  (oas-tags):
                    - ApplicationGateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: ApplicationGateways_CreateOrUpdate
                  description: Creates or updates the specified application gateway.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ApplicationGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update application gateway operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApplicationGateway
                      description: Update successful. The operation returns the resulting ApplicationGateway resource.
                    '201':
                      body:
                        application/json:
                          type: ApplicationGateway
                      description: Create successful. The operation returns the resulting ApplicationGateway resource.
                  (oas-tags):
                    - ApplicationGateways
                /start:
                  displayName: start
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApplicationGateways_Start
                    description: Starts the specified application gateway.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        description: Request successful. The operation starts the ApplicationGateway resource.
                      '202':
                        description: Accepted and the operation will complete asynchronously.
                    (oas-tags):
                      - ApplicationGateways
                /backendhealth:
                  displayName: backendhealth
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApplicationGateways_BackendHealth
                    description: Gets the backend health of the specified application gateway in a resource group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ApplicationGatewayBackendHealth
                        description: Request successful.
                      '202':
                        description: Accepted and the operation will complete asynchronously.
                    queryParameters:
                      $expand:
                        description: Expands BackendAddressPool and BackendHttpSettings referenced in backend health.
                        required: false
                        type: string
                    (oas-tags):
                      - ApplicationGateways
                get:
                  displayName: ApplicationGateways_Get
                  description: Gets the specified application gateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApplicationGateway
                      description: Request successful. The operation returns an ApplicationGateway resource.
                  (oas-tags):
                    - ApplicationGateways
                /stop:
                  displayName: stop
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApplicationGateways_Stop
                    description: Stops the specified application gateway in a resource group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        description: Request successful. The operation stops the ApplicationGateway resource.
                      '202':
                        description: Accepted and the operation will complete asynchronously.
                    (oas-tags):
                      - ApplicationGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: ApplicationGateways_List
                description: Lists all application gateways in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ApplicationGatewayListResult
                    description: Success. The operation returns a list of ApplicationGateway resources.
                (oas-tags):
                  - ApplicationGateways
            /connections:
              displayName: connections
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworkGatewayConnections_List
                description: The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkGatewayConnectionListResult
                    description: Request successful. The operation resets the virtual network gateway connection shared key.
                (oas-tags):
                  - VirtualNetworkGatewayConnections
              '/{virtualNetworkGatewayConnectionName}':
                displayName: '{virtualNetworkGatewayConnectionName}'
                uriParameters:
                  virtualNetworkGatewayConnectionName:
                    description: The name of the virtual network gateway connection.
                    required: true
                    type: string
                get:
                  displayName: VirtualNetworkGatewayConnections_Get
                  description: Gets the specified virtual network gateway connection by resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                      description: Request successful. The operation returns the resulting VirtualNetworkPeering resource.
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
                /sharedkey:
                  displayName: sharedkey
                  get:
                    displayName: VirtualNetworkGatewayConnections_GetSharedKey
                    description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                        description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection resources.
                    (oas-tags):
                      - VirtualNetworkGatewayConnections
                  /reset:
                    displayName: reset
                    post:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualNetworkGatewayConnections_ResetSharedKey
                      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ConnectionResetSharedKey
                          (oas-body-name): parameters
                          description: Parameters supplied to the begin reset virtual network gateway connection shared key operation through network resource provider.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ConnectionResetSharedKey
                          description: Request successful. The operation sets the virtual network gateway connection shared key.
                        '202': {}
                      (oas-tags):
                        - VirtualNetworkGatewayConnections
                  put:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGatewayConnections_SetSharedKey
                    description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ConnectionSharedKey
                        (oas-body-name): parameters
                        description: Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                        description: Request successful. The operation returns the resulting ConnectionSharedKey resource.
                      '201':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                    (oas-tags):
                      - VirtualNetworkGatewayConnections
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGatewayConnections_Delete
                  description: Deletes the specified virtual network Gateway connection.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Delete successful.
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGatewayConnections_CreateOrUpdate
                  description: Creates or updates a virtual network gateway connection in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetworkGatewayConnection
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update virtual network gateway connection operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                      description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
                    '201':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                      description: Create successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
            /expressRouteCircuits:
              displayName: expressRouteCircuits
              '/{circuitName}':
                displayName: '{circuitName}'
                uriParameters:
                  circuitName:
                    description: The name of express route circuit.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: ExpressRouteCircuits_Delete
                  description: Deletes the specified express route circuit.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted. Sets 'Disabling' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation.
                    '204':
                      description: Delete successful.
                  (oas-tags):
                    - ExpressRouteCircuits
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: ExpressRouteCircuits_CreateOrUpdate
                  description: Creates or updates an express route circuit.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ExpressRouteCircuit
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update express route circuit operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ExpressRouteCircuit
                      description: Update successful. The operation returns the resulting ExpressRouteCircuit resource.
                    '201':
                      body:
                        application/json:
                          type: ExpressRouteCircuit
                      description: Create successful. The operation returns the resulting ExpressRouteCircuit resource.
                  (oas-tags):
                    - ExpressRouteCircuits
                /authorizations:
                  displayName: authorizations
                  '/{authorizationName}':
                    displayName: '{authorizationName}'
                    uriParameters:
                      authorizationName:
                        description: The name of the authorization.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitAuthorizations_Delete
                      description: Deletes the specified authorization from the specified express route circuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Delete successful.
                        '202':
                          description: Accepted and the operation will complete asynchronously.
                        '204':
                          description: Delete successful.
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitAuthorizations_CreateOrUpdate
                      description: Creates or updates an authorization in the specified express route circuit.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ExpressRouteCircuitAuthorization
                          (oas-body-name): authorizationParameters
                          description: Parameters supplied to the create or update express route circuit authorization operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                          description: Update successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
                        '201':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                          description: Create successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                    get:
                      displayName: ExpressRouteCircuitAuthorizations_Get
                      description: Gets the specified authorization from the specified express route circuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                          description: Request successful. The operation returns the ExpressRouteCircuitAuthorization resource.
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ExpressRouteCircuitAuthorizations_List
                    description: Gets all authorizations in an express route circuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: AuthorizationListResult
                        description: Request successful. The operation returns a list of ExpressRouteCircuitAuthorization resources.
                    (oas-tags):
                      - ExpressRouteCircuitAuthorizations
                /peerings:
                  displayName: peerings
                  '/{peeringName}':
                    displayName: '{peeringName}'
                    uriParameters:
                      peeringName:
                        description: The name of the peering.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitPeerings_Delete
                      description: Deletes the specified peering from the specified express route circuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Delete successful.
                        '202':
                          description: Accepted and the operation will complete asynchronously.
                        '204':
                          description: Delete successful.
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitPeerings_CreateOrUpdate
                      description: Creates or updates a peering in the specified express route circuits.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ExpressRouteCircuitPeering
                          (oas-body-name): peeringParameters
                          description: Parameters supplied to the create or update express route circuit peering operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                          description: Update successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
                        '201':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                          description: Create successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    /routeTables:
                      displayName: routeTables
                      '/{devicePath}':
                        displayName: '{devicePath}'
                        uriParameters:
                          devicePath:
                            description: The path of the device.
                            required: true
                            type: string
                        post:
                          (oas-x-ms-long-running-operation): true
                          displayName: ExpressRouteCircuits_ListRoutesTable
                          description: Gets the currently advertised routes table associated with the express route circuit in a resource group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ExpressRouteCircuitsRoutesTableListResult
                              description: Request successful. The operation returns the resulting ExpressRouteCircuitsRouteTable resource.
                            '202':
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - ExpressRouteCircuitRoutesTable
                    /stats:
                      displayName: stats
                      get:
                        displayName: ExpressRouteCircuits_GetPeeringStats
                        description: Gets all stats from an express route circuit in a resource group.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ExpressRouteCircuitStats
                            description: Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.
                        (oas-tags):
                          - ExpressRouteCircuitStats
                    get:
                      displayName: ExpressRouteCircuitPeerings_Get
                      description: Gets the specified authorization from the specified express route circuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                          description: Request successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    /routeTablesSummary:
                      displayName: routeTablesSummary
                      '/{devicePath}':
                        displayName: '{devicePath}'
                        uriParameters:
                          devicePath:
                            description: The path of the device.
                            required: true
                            type: string
                        post:
                          (oas-x-ms-long-running-operation): true
                          displayName: ExpressRouteCircuits_ListRoutesTableSummary
                          description: Gets the currently advertised routes table summary associated with the express route circuit in a resource group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ExpressRouteCircuitsRoutesTableSummaryListResult
                              description: Request successful. The operation returns the resulting ExpressRouteCircuitsRoutesTableSummary resource.
                            '202':
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - ExpressRouteCircuitRoutesTableSummary
                    /arpTables:
                      displayName: arpTables
                      '/{devicePath}':
                        displayName: '{devicePath}'
                        uriParameters:
                          devicePath:
                            description: The path of the device.
                            required: true
                            type: string
                        post:
                          (oas-x-ms-long-running-operation): true
                          displayName: ExpressRouteCircuits_ListArpTable
                          description: Gets the currently advertised ARP table associated with the express route circuit in a resource group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ExpressRouteCircuitsArpTableListResult
                              description: Request successful. The operation returns the resulting ExpressRouteCircuitsArpTable resource.
                            '202':
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - ExpressRouteCircuitArpTable
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ExpressRouteCircuitPeerings_List
                    description: Gets all peerings in a specified express route circuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ExpressRouteCircuitPeeringListResult
                        description: Request successful. The operation returns a list of ExpressRouteCircuitPeering resources.
                    (oas-tags):
                      - ExpressRouteCircuitPeerings
                get:
                  displayName: ExpressRouteCircuits_Get
                  description: Gets information about the specified express route circuit.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ExpressRouteCircuit
                      description: Request successful. The operation returns the resulting ExpressRouteCircuit resource.
                  (oas-tags):
                    - ExpressRouteCircuits
                /stats:
                  displayName: stats
                  get:
                    displayName: ExpressRouteCircuits_GetStats
                    description: Gets all the stats from an express route circuit in a resource group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ExpressRouteCircuitStats
                        description: Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.
                    (oas-tags):
                      - ExpressRouteCircuitStats
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: ExpressRouteCircuits_List
                description: Gets all the express route circuits in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ExpressRouteCircuitListResult
                    description: Request successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
                (oas-tags):
                  - ExpressRouteCircuits
            /publicIPAddresses:
              displayName: publicIPAddresses
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: PublicIPAddresses_List
                description: Gets all public IP addresses in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: PublicIPAddressListResult
                    description: Request successful. The operation returns a list of PublicIPAddress resources.
                (oas-tags):
                  - PublicIPAddresses
              '/{publicIpAddressName}':
                displayName: '{publicIpAddressName}'
                uriParameters:
                  publicIpAddressName:
                    description: The name of the public IP address.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: PublicIPAddresses_Delete
                  description: Deletes the specified public IP address.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Request successful. Resource does not exist.
                  (oas-tags):
                    - PublicIPAddresses
                get:
                  displayName: PublicIPAddresses_Get
                  description: Gets the specified public IP address in a specified resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: PublicIPAddress
                      description: Request successful. The operation returns the resulting PublicIPAddress resource.
                  queryParameters:
                    $expand:
                      description: Expands referenced resources.
                      required: false
                      type: string
                  (oas-tags):
                    - PublicIPAddresses
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: PublicIPAddresses_CreateOrUpdate
                  description: Creates or updates a static or dynamic public IP address.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: PublicIPAddress
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update public IP address operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: PublicIPAddress
                      description: Update successful. The operation returns the resulting PublicIPAddress resource.
                    '201':
                      body:
                        application/json:
                          type: PublicIPAddress
                      description: Create successful. The operation returns the resulting PublicIPAddress resource.
                  (oas-tags):
                    - PublicIPAddresses
            /routeTables:
              displayName: routeTables
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: RouteTables_List
                description: Gets all route tables in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: RouteTableListResult
                    description: Request successful. The operation returns a list of RouteTable resources.
                (oas-tags):
                  - RouteTables
              '/{routeTableName}':
                displayName: '{routeTableName}'
                uriParameters:
                  routeTableName:
                    description: The name of the route table.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: RouteTables_Delete
                  description: Deletes the specified route table.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Request successful. Operation to delete was accepted.
                    '202':
                      description: 'Accepted. If route table not found returned synchronously, otherwise if found returned asynchronously.'
                    '204':
                      description: Request successful. Resource does not exist.
                  (oas-tags):
                    - RouteTables
                get:
                  displayName: RouteTables_Get
                  description: Gets the specified route table.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RouteTable
                      description: Request successful. The operation returns the resulting RouteTable resource.
                  queryParameters:
                    $expand:
                      description: Expands referenced resources.
                      required: false
                      type: string
                  (oas-tags):
                    - RouteTables
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: RouteTables_CreateOrUpdate
                  description: Create or updates a route table in a specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: RouteTable
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update route table operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RouteTable
                      description: Request successful. The operation returns the resulting RouteTable resource.
                    '201':
                      body:
                        application/json:
                          type: RouteTable
                      description: Create successful. The operation returns the resulting RouteTable resource.
                  (oas-tags):
                    - RouteTables
                /routes:
                  displayName: routes
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Routes_List
                    description: Gets all routes in a route table.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RouteListResult
                        description: Request successful. The operation returns a list of Route resources.
                    (oas-tags):
                      - Routes
                  '/{routeName}':
                    displayName: '{routeName}'
                    uriParameters:
                      routeName:
                        description: The name of the route.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Routes_Delete
                      description: Deletes the specified route from a route table.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Accepted.
                        '202':
                          description: Accepted and the operation will complete asynchronously.
                        '204':
                          description: Route was deleted or not found.
                      (oas-tags):
                        - Routes
                    get:
                      displayName: Routes_Get
                      description: Gets the specified route from a route table.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Route
                          description: Request successful. The operation returns the resulting Route resource.
                      (oas-tags):
                        - Routes
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Routes_CreateOrUpdate
                      description: Creates or updates a route in the specified route table.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Route
                          (oas-body-name): routeParameters
                          description: Parameters supplied to the create or update route operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Route
                          description: Update successful. The operation returns the resulting Route resource.
                        '201':
                          body:
                            application/json:
                              type: Route
                          description: Create successful. The operation returns the resulting Route resource.
                      (oas-tags):
                        - Routes
            /loadBalancers:
              displayName: loadBalancers
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: LoadBalancers_List
                description: Gets all the load balancers in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: LoadBalancerListResult
                    description: Request successful. The operation returns a list of LoadBalancer resources.
                (oas-tags):
                  - LoadBalancers
              '/{loadBalancerName}':
                displayName: '{loadBalancerName}'
                uriParameters:
                  loadBalancerName:
                    description: The name of the load balancer.
                    required: true
                    type: string
                get:
                  displayName: LoadBalancers_Get
                  description: Gets the specified load balancer.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LoadBalancer
                      description: Request successful. The operation returns the resulting LoadBalancer resource.
                  queryParameters:
                    $expand:
                      description: Expands referenced resources.
                      required: false
                      type: string
                  (oas-tags):
                    - LoadBalancers
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: LoadBalancers_Delete
                  description: Deletes the specified load balancer.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Request successful. Resource does not exist.
                  (oas-tags):
                    - LoadBalancers
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: LoadBalancers_CreateOrUpdate
                  description: Creates or updates a load balancer.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: LoadBalancer
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update load balancer operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LoadBalancer
                      description: Update successful. The operation returns the resulting LoadBalancer resource.
                    '201':
                      body:
                        application/json:
                          type: LoadBalancer
                      description: Create successful. The operation returns the resulting LoadBalancer resource.
                  (oas-tags):
                    - LoadBalancers
            /virtualNetworkGateways:
              displayName: virtualNetworkGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworkGateways_List
                description: Gets all virtual network gateways by resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkGatewayListResult
                    description: Request successful. The operation returns a list of VirtualNetworkGateway resources.
                (oas-tags):
                  - VirtualNetworkGateways
              '/{virtualNetworkGatewayName}':
                displayName: '{virtualNetworkGatewayName}'
                uriParameters:
                  virtualNetworkGatewayName:
                    description: The name of the virtual network gateway.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGateways_Delete
                  description: Deletes the specified virtual network gateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Delete successful.
                  (oas-tags):
                    - VirtualNetworkGateways
                get:
                  displayName: VirtualNetworkGateways_Get
                  description: Gets the specified virtual network gateway by resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                      description: Request successful. The operation returns a VirtualNetworkGateway resource.
                  (oas-tags):
                    - VirtualNetworkGateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGateways_CreateOrUpdate
                  description: Creates or updates a virtual network gateway in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetworkGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to create or update virtual network gateway operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                      description: Update successful. The operation returns the resulting VirtualNetworkGateway resource.
                    '201':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                      description: Create successful. The operation returns the resulting VirtualNetworkGateway resource.
                  (oas-tags):
                    - VirtualNetworkGateways
                /generatevpnclientpackage:
                  displayName: generatevpnclientpackage
                  post:
                    displayName: VirtualNetworkGateways_Generatevpnclientpackage
                    description: Generates VPN client package for P2S client of the virtual network gateway in the specified resource group.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VpnClientParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the generate virtual network gateway VPN client package operation.
                    responses:
                      '202':
                        body:
                          application/json:
                            type: string
                        description: VPN client package URL.
                    (oas-tags):
                      - VirtualNetworkGateways
                /reset:
                  displayName: reset
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGateways_Reset
                    description: Resets the primary of the virtual network gateway in the specified resource group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualNetworkGateway
                        description: Request successful. The operation reset the primary of the virtual network gateway.
                      '202':
                        description: Accepted and the operation will complete asynchronously.
                    queryParameters:
                      gatewayVip:
                        description: Virtual network gateway vip address supplied to the begin reset of the active-active feature enabled gateway.
                        required: false
                        type: string
                    (oas-tags):
                      - VirtualNetworkGateways
            /virtualNetworks:
              displayName: virtualNetworks
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworks_List
                description: Gets all virtual networks in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkListResult
                    description: Request successful. The operation returns a list of VirtualNetwork resources.
                (oas-tags):
                  - VirtualNetworks
              '/{virtualNetworkName}':
                displayName: '{virtualNetworkName}'
                uriParameters:
                  virtualNetworkName:
                    description: The name of the virtual network.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworks_Delete
                  description: Deletes the specified virtual network.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Delete successful.
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: Delete successful.
                  (oas-tags):
                    - VirtualNetworks
                get:
                  displayName: VirtualNetworks_Get
                  description: Gets the specified virtual network by resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetwork
                      description: Request successful. The operation returns the resulting VirtualNetwork resource.
                  queryParameters:
                    $expand:
                      description: Expands referenced resources.
                      required: false
                      type: string
                  (oas-tags):
                    - VirtualNetworks
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworks_CreateOrUpdate
                  description: Creates or updates a virtual network in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetwork
                      (oas-body-name): parameters
                      description: Parameters supplied to the create or update virtual network operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetwork
                      description: Update successful. The operation returns the resulting VirtualNetwork resource.
                    '201':
                      body:
                        application/json:
                          type: VirtualNetwork
                      description: Create successful. The operation returns the resulting VirtualNetwork resource.
                  (oas-tags):
                    - VirtualNetworks
                /CheckIPAddressAvailability:
                  displayName: CheckIPAddressAvailability
                  get:
                    displayName: VirtualNetworks_CheckIPAddressAvailability
                    description: Checks whether a private IP address is available for use.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: IPAddressAvailabilityResult
                        description: Private IP address availability and list of other free addresses if the requested one is not available.
                    queryParameters:
                      ipAddress:
                        description: The private IP address to be verified.
                        required: false
                        type: string
                /subnets:
                  displayName: subnets
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Subnets_List
                    description: Gets all subnets in a virtual network.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SubnetListResult
                        description: Request successful. The operation returns a list of Subnet resources.
                    (oas-tags):
                      - Subnets
                  '/{subnetName}':
                    displayName: '{subnetName}'
                    uriParameters:
                      subnetName:
                        description: The name of the subnet.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Subnets_Delete
                      description: Deletes the specified subnet.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Delete successful.
                        '202':
                          description: Accepted and the operation will complete asynchronously.
                        '204':
                          description: Request successful. Resource does not exist.
                      (oas-tags):
                        - Subnets
                    get:
                      displayName: Subnets_Get
                      description: Gets the specified subnet by virtual network and resource group.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Subnet
                          description: Request successful. The operation returns the resulting Subnet resource.
                      queryParameters:
                        $expand:
                          description: Expands referenced resources.
                          required: false
                          type: string
                      (oas-tags):
                        - Subnets
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Subnets_CreateOrUpdate
                      description: Creates or updates a subnet in the specified virtual network.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Subnet
                          (oas-body-name): subnetParameters
                          description: Parameters supplied to the create or update subnet operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Subnet
                          description: Update successful. The operation returns the resulting Subnet resource.
                        '201':
                          body:
                            application/json:
                              type: Subnet
                          description: Create successful. The operation returns the resulting Subnet resource.
                      (oas-tags):
                        - Subnets
                /virtualNetworkPeerings:
                  displayName: virtualNetworkPeerings
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: VirtualNetworkPeerings_List
                    description: Gets all virtual network peerings in a virtual network.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualNetworkPeeringListResult
                        description: Request successful. The operation returns a list of VirtualNetworkPeering resources.
                    (oas-tags):
                      - VirtualNetworkPeerings
                  '/{virtualNetworkPeeringName}':
                    displayName: '{virtualNetworkPeeringName}'
                    uriParameters:
                      virtualNetworkPeeringName:
                        description: The name of the virtual network peering.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualNetworkPeerings_Delete
                      description: Deletes the specified virtual network peering.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Delete successful.
                        '202':
                          description: Accepted and the operation will complete asynchronously.
                        '204':
                          description: Delete successful.
                      (oas-tags):
                        - VirtualNetworkPeerings
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualNetworkPeerings_CreateOrUpdate
                      description: Creates or updates a peering in the specified virtual network.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: VirtualNetworkPeering
                          (oas-body-name): VirtualNetworkPeeringParameters
                          description: Parameters supplied to the create or update virtual network peering operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: VirtualNetworkPeering
                          description: Update successful. The operation returns the resulting VirtualNetworkPeering resource.
                        '201':
                          body:
                            application/json:
                              type: VirtualNetworkPeering
                          description: Create successful. The operation returns the resulting VirtualNetworkPeering resource.
                      (oas-tags):
                        - VirtualNetworkPeerings
                    get:
                      displayName: VirtualNetworkPeerings_Get
                      description: Gets the specified virtual network peering.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: VirtualNetworkPeering
                          description: Request successful. The operation returns the resulting VirtualNetworkPeering resource.
                      (oas-tags):
                        - VirtualNetworkPeerings
          /microsoft.Compute:
            displayName: microsoft.Compute
            /virtualMachineScaleSets:
              displayName: virtualMachineScaleSets
              '/{virtualMachineScaleSetName}':
                displayName: '{virtualMachineScaleSetName}'
                /virtualMachines:
                  displayName: virtualMachines
                  '/{virtualmachineIndex}':
                    displayName: '{virtualmachineIndex}'
                    /networkInterfaces:
                      displayName: networkInterfaces
                      '/{networkInterfaceName}':
                        displayName: '{networkInterfaceName}'
                        uriParameters:
                          networkInterfaceName:
                            description: The name of the network interface.
                            required: true
                            type: string
                        get:
                          displayName: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
                          description: Get the specified network interface in a virtual machine scale set.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: NetworkInterface
                              description: Request successful. The operation returns the resulting NetworkInterface resource.
                          queryParameters:
                            $expand:
                              description: Expands referenced resources.
                              required: false
                              type: string
                          (oas-tags):
                            - NetworkInterfaces
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
                        description: Gets information about all network interfaces in a virtual machine in a virtual machine scale set.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: NetworkInterfaceListResult
                            description: Request successful. The operation returns a list of NetworkInterface resources.
                        (oas-tags):
                          - NetworkInterfaces
                /networkInterfaces:
                  displayName: networkInterfaces
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
                    description: Gets all network interfaces in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: NetworkInterfaceListResult
                        description: Request successful. The operation returns a list of NetworkInterface resources.
                    (oas-tags):
                      - NetworkInterfaces
    /providers:
      displayName: providers
      /Microsoft.Network:
        displayName: Microsoft.Network
        /applicationGateways:
          displayName: applicationGateways
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ApplicationGateways_ListAll
            description: Gets all the application gateways in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ApplicationGatewayListResult
                description: Success. The operation returns a list of ApplicationGateway resources.
            (oas-tags):
              - ApplicationGateways
        /expressRouteServiceProviders:
          displayName: expressRouteServiceProviders
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ExpressRouteServiceProviders_List
            description: Gets all the available express route service providers.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ExpressRouteServiceProviderListResult
                description: Request successful. The operation returns a list of ExpressRouteServiceProdiver resources.
            (oas-tags):
              - ExpressRouteServiceProviders
        /locations:
          displayName: locations
          '/{location}':
            displayName: '{location}'
            /CheckDnsNameAvailability:
              displayName: CheckDnsNameAvailability
              get:
                displayName: CheckDnsNameAvailability
                description: Checks whether a domain name in the cloudapp.net zone is available for use.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: DnsNameAvailabilityResult
                    description: Request successful. Returns whether the DNS name is available.
                queryParameters:
                  domainNameLabel:
                    description: 'The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.'
                    required: false
                    type: string
            /usages:
              displayName: usages
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Usages_List
                description: Lists compute usages for a subscription.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: UsagesListResult
                    description: Request successful. The operation returns a list of Usage resources.
                (oas-tags):
                  - Usages
        /networkInterfaces:
          displayName: networkInterfaces
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: NetworkInterfaces_ListAll
            description: Gets all network interfaces in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NetworkInterfaceListResult
                description: Request successful. The operation returns a list of NetworkInterface resources.
            (oas-tags):
              - NetworkInterfaces
        /publicIPAddresses:
          displayName: publicIPAddresses
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: PublicIPAddresses_ListAll
            description: Gets all the public IP addresses in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: PublicIPAddressListResult
                description: Request successful. The operation returns a list of PublicIPAddress resources.
            (oas-tags):
              - PublicIPAddresses
        /virtualNetworks:
          displayName: virtualNetworks
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: VirtualNetworks_ListAll
            description: Gets all virtual networks in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: VirtualNetworkListResult
                description: Request successful. The operation returns a list of VirtualNetwork resources.
            (oas-tags):
              - VirtualNetworks
        /loadBalancers:
          displayName: loadBalancers
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: LoadBalancers_ListAll
            description: Gets all the load balancers in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: LoadBalancerListResult
                description: Request successful. The operation returns a list of LoadBalancer resources.
            (oas-tags):
              - LoadBalancers
        /networkSecurityGroups:
          displayName: networkSecurityGroups
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: NetworkSecurityGroups_ListAll
            description: Gets all network security groups in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NetworkSecurityGroupListResult
                description: Request successful. The operation returns a list of NetworkSecurityGroup resources.
            (oas-tags):
              - NetworkSecurityGroups
        /routeTables:
          displayName: routeTables
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: RouteTables_ListAll
            description: Gets all route tables in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: RouteTableListResult
                description: Request successful. The operation returns a list of RouteTable resources.
            (oas-tags):
              - RouteTables
        /expressRouteCircuits:
          displayName: expressRouteCircuits
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ExpressRouteCircuits_ListAll
            description: Gets all the express route circuits in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ExpressRouteCircuitListResult
                description: Request successful. The operation returns a list of ExpressRouteCircuit resources.
            (oas-tags):
              - ExpressRouteCircuits
types:
  AddressSpace:
    description: AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network.
    properties:
      addressPrefixes:
        description: A list of address blocks reserved for this virtual network in CIDR notation.
        items:
          type: string
        type: array
        required: false
  ApplicationGateway:
    type: Resource
  ApplicationGatewayAuthenticationCertificate:
    type: SubResource
  ApplicationGatewayAuthenticationCertificatePropertiesFormat:
    description: Authentication certificates properties of an application gateway.
    properties:
      data:
        description: Certificate public data.
        type: string
        required: false
      provisioningState:
        description: 'Provisioning state of the authentication certificate resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
        type: string
        required: false
  ApplicationGatewayBackendAddress:
    description: Backend address of an application gateway.
    properties:
      fqdn:
        description: Fully qualified domain name (FQDN).
        type: string
        required: false
      ipAddress:
        description: IP address
        type: string
        required: false
  ApplicationGatewayBackendAddressPool:
    type: SubResource
  ApplicationGatewayBackendAddressPoolPropertiesFormat:
    description: Properties of Backend Address Pool of an application gateway.
    properties:
      backendAddresses:
        description: Backend addresses
        items:
          type: ApplicationGatewayBackendAddress
        type: array
        required: false
      backendIPConfigurations:
        description: Collection of references to IPs defined in network interfaces.
        items:
          type: NetworkInterfaceIPConfiguration
        type: array
        required: false
      provisioningState:
        description: 'Provisioning state of the backend address pool resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
        type: string
        required: false
  ApplicationGatewayBackendHealth:
    description: List of ApplicationGatewayBackendHealthPool resources.
    properties:
      backendAddressPools:
        items:
          type: ApplicationGatewayBackendHealthPool
        type: array
        required: false
  ApplicationGatewayBackendHealthHttpSettings:
    description: Application gateway BackendHealthHttp settings.
    properties:
      backendHttpSettings:
        description: Reference of an ApplicationGatewayBackendHttpSettings resource.
        type: ApplicationGatewayBackendHttpSettings
        required: false
      servers:
        description: List of ApplicationGatewayBackendHealthServer resources.
        items:
          type: ApplicationGatewayBackendHealthServer
        type: array
        required: false
  ApplicationGatewayBackendHealthPool:
    description: Application gateway BackendHealth pool.
    properties:
      backendAddressPool:
        description: Reference of an ApplicationGatewayBackendAddressPool resource.
        type: ApplicationGatewayBackendAddressPool
        required: false
      backendHttpSettingsCollection:
        description: List of ApplicationGatewayBackendHealthHttpSettings resources.
        items:
          type: ApplicationGatewayBackendHealthHttpSettings
        type: array
        required: false
  ApplicationGatewayBackendHealthServer:
    description: Application gateway backendhealth http settings.
    properties:
      address:
        description: IP address or FQDN of backend server.
        type: string
        required: false
      health:
        description: 'Health of backend server. Possible values are: ''Unknown'', ''Up'', ''Down'', and ''Partial''.'
        enum:
          - Unknown
          - Up
          - Down
          - Partial
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayBackendHealthServerHealth
      ipConfiguration:
        description: Reference of IP configuration of backend server.
        type: SubResource
        required: false
  ApplicationGatewayBackendHttpSettings:
    type: SubResource
  ApplicationGatewayBackendHttpSettingsPropertiesFormat:
    description: Properties of Backend address pool settings of an application gateway.
    properties:
      authenticationCertificates:
        description: Array of references to application gateway authentication certificates.
        items:
          type: SubResource
        type: array
        required: false
      cookieBasedAffinity:
        description: 'Cookie based affinity. Possible values are: ''Enabled'' and ''Disabled''.'
        enum:
          - Enabled
          - Disabled
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayCookieBasedAffinity
      port:
        description: Port
        format: int32
        type: integer
        required: false
      probe:
        description: Probe resource of an application gateway.
        type: SubResource
        required: false
      protocol:
        description: 'Protocol. Possible values are: ''Http'' and ''Https''.'
        enum:
          - Http
          - Https
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: 'Provisioning state of the backend http settings resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
        type: string
        required: false
      requestTimeout:
        description: Request timeout in seconds. Application Gateway will fail the request if response is not received within RequestTimeout. Acceptable values are from 1 second to 86400 seconds.
        format: int32
        type: integer
        required: false
  ApplicationGatewayFrontendIPConfiguration:
    type: SubResource
  ApplicationGatewayFrontendIPConfigurationPropertiesFormat:
    description: Properties of Frontend IP configuration of an application gateway.
    properties:
      privateIPAddress:
        description: PrivateIPAddress of the network interface IP Configuration.
        type: string
        required: false
      privateIPAllocationMethod:
        description: 'PrivateIP allocation method. Possible values are: ''Static'' and ''Dynamic''.'
        enum:
[...]
