#%RAML 1.0
title: BatchManagement
version: '2015-12-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-ms-code-generation-settings):
    name: BatchManagementClient
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-batch/2015-12-01/swagger/BatchManagement.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-batch
  (oas-x-tags):
    - Azure
    - Microsoft
    - job scheduling
    - compute management
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-ms-code-generation-settings: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-enum: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Batch:
            displayName: Microsoft.Batch
            /batchAccounts:
              displayName: batchAccounts
              '/{accountName}':
                displayName: '{accountName}'
                /applications:
                  displayName: applications
                  '/{applicationId}':
                    displayName: '{applicationId}'
                    uriParameters:
                      applicationId:
                        description: The ID of the application.
                        required: true
                        type: string
                        displayName: The ID of the application.
                    get:
                      displayName: Application_Get
                      description: Gets information about the specified application.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBody
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Application
                          description: The operation was successful. The response contains the application entity.
                      (oas-tags):
                        - Application
                    patch:
                      displayName: Application_Update
                      description: Updates settings for the specified application.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: UpdateApplicationParameters
                          (oas-body-name): parameters
                          description: The parameters for the request.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBody
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The operation was successful.
                      (oas-tags):
                        - Application
                    put:
                      displayName: Application_Create
                      description: Adds an application to the specified Batch account.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: AddApplicationParameters
                          (oas-body-name): parameters
                          description: The parameters for the request.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBody
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          body:
                            application/json:
                              type: Application
                          description: The operation was successful. The response contains the application entity.
                      (oas-tags):
                        - Application
                    /versions:
                      displayName: versions
                      '/{version}':
                        displayName: '{version}'
                        uriParameters:
                          version:
                            description: The version of the application.
                            required: true
                            type: string
                            displayName: The version of the application.
                        delete:
                          displayName: ApplicationPackage_Delete
                          description: Deletes an application package record and its associated binary file.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBody
                            description: Error response describing why the operation failed.
                          responses:
                            '204':
                              description: The operation was successful.
                          (oas-tags):
                            - ApplicationPackage
                        get:
                          displayName: ApplicationPackage_Get
                          description: Gets information about the specified application package.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBody
                            description: Error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ApplicationPackage
                              description: The operation was successful. The response contains the application package entity.
                          (oas-tags):
                            - ApplicationPackage
                        /activate:
                          displayName: activate
                          post:
                            displayName: ApplicationPackage_Activate
                            description: Activates the specified application package.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: ActivateApplicationPackageParameters
                                (oas-body-name): parameters
                                description: The parameters for the request.
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ErrorBody
                              description: Error response describing why the operation failed.
                            responses:
                              '204':
                                description: The operation was successful.
                            (oas-tags):
                              - ApplicationPackage
                        put:
                          displayName: ApplicationPackage_Create
                          description: Creates an application package record.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBody
                            description: Error response describing why the operation failed.
                          responses:
                            '201':
                              body:
                                application/json:
                                  type: ApplicationPackage
                              description: The operation was successful. The response contains the application package entity.
                          (oas-tags):
                            - ApplicationPackage
                    delete:
                      displayName: Application_Delete
                      description: Deletes an application.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBody
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The operation was successful.
                      (oas-tags):
                        - Application
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Application_List
                    description: Lists all of the applications in the specified account.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBody
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ListApplicationsResult
                        description: The operation was successful. The response contains a list of the application entities associated with the specified account.
                    queryParameters:
                      maxresults:
                        description: The maximum number of items to return in the response.
                        format: int32
                        required: false
                        type: integer
                        displayName: The maximum number of items to return in the response.
                    (oas-tags):
                      - Application
                /syncAutoStorageKeys:
                  displayName: syncAutoStorageKeys
                  post:
                    displayName: BatchAccount_SynchronizeAutoStorageKeys
                    description: Synchronizes access keys for the auto storage account configured for the specified Batch account.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBody
                      description: Error response describing why the operation failed.
                    responses:
                      '204':
                        description: The operation was successful.
                    (oas-tags):
                      - BatchAccount
                uriParameters:
                  accountName:
                    description: The name of the account to be deleted.
                    maxLength: 24
                    minLength: 3
                    pattern: '^[-\w\._]+$'
                    required: true
                    type: string
                    displayName: The name of the account to be deleted.
                get:
                  displayName: BatchAccount_Get
                  description: Gets information about the specified Batch account.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorBody
                    description: Error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: BatchAccount
                      description: The operation was successful. The response contains the Batch account entity.
                  (oas-tags):
                    - BatchAccount
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: BatchAccount_Create
                  description: Creates a new Batch account with the specified parameters. Existing accounts cannot be updated with this API and should instead be updated with the Update Batch Account API.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: BatchAccountCreateParameters
                      (oas-body-name): parameters
                      description: Additional parameters for account creation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorBody
                    description: Error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: BatchAccount
                      description: The operation was successful. The response contains the Batch account entity.
                    '202':
                      description: The operation will be completed asynchronously.
                      headers:
                        Location:
                          type: string
                          description: The URL of the resource used to check the status of the asynchronous operation.
                        Retry-After:
                          type: integer
                          description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
                          format: int32
                  (oas-tags):
                    - BatchAccount
                /regenerateKeys:
                  displayName: regenerateKeys
                  post:
                    displayName: BatchAccount_RegenerateKey
                    description: Regenerates the specified account key for the Batch account.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: BatchAccountRegenerateKeyParameters
                        (oas-body-name): parameters
                        description: The type of key to regenerate.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBody
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: BatchAccountKeys
                        description: The operation was successful. The response contains the keys of the Batch account.
                    (oas-tags):
                      - BatchAccount
                /listKeys:
                  displayName: listKeys
                  post:
                    displayName: BatchAccount_GetKeys
                    description: Gets the account keys for the specified Batch account.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBody
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: BatchAccountKeys
                        description: The operation was successful. The response contains the keys of the Batch account.
                    (oas-tags):
                      - BatchAccount
                patch:
                  displayName: BatchAccount_Update
                  description: Updates the properties of an existing Batch account.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: BatchAccountUpdateParameters
                      (oas-body-name): parameters
                      description: Additional parameters for account update.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorBody
                    description: Error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: BatchAccount
                      description: The operation was successful. The response contains the Batch account entity.
                  (oas-tags):
                    - BatchAccount
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: BatchAccount_Delete
                  description: Deletes the specified Batch account.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorBody
                    description: Error response describing why the operation failed.
                  responses:
                    '200':
                      description: The operation was successful.
                    '202':
                      description: The operation will be completed asynchronously.
                      headers:
                        Location:
                          type: string
                          description: The URL of the resource used to check the status of the asynchronous operation.
                        Retry-After:
                          type: integer
                          description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
                          format: int32
                  (oas-tags):
                    - BatchAccount
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: BatchAccount_ListByResourceGroup
                description: Gets information about the Batch accounts associated within the specified resource group.
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: ErrorBody
                  description: Error response describing why the operation failed.
                responses:
                  '200':
                    body:
                      application/json:
                        type: BatchAccountListResult
                    description: The operation was successful. The response contains a list of Batch account entities associated with the resource group.
                (oas-tags):
                  - BatchAccount
    /providers:
      displayName: providers
      /Microsoft.Batch:
        displayName: Microsoft.Batch
        /batchAccounts:
          displayName: batchAccounts
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: BatchAccount_List
            description: Gets information about the Batch accounts associated with the subscription.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: ErrorBody
              description: Error response describing why the operation failed.
            responses:
              '200':
                body:
                  application/json:
                    type: BatchAccountListResult
                description: The operation was successful. The response contains a list of Batch account entities associated with the subscription.
            (oas-tags):
              - BatchAccount
        /locations:
          displayName: locations
          '/{locationName}':
            displayName: '{locationName}'
            /quotas:
              displayName: quotas
              get:
                displayName: Location_GetQuotas
                description: Gets the Batch service quotas for the specified subscription at the given location.
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: ErrorBody
                  description: Error response describing why the operation failed.
                responses:
                  '200':
                    body:
                      application/json:
                        type: BatchLocationQuota
                    description: The operation was successful. The response contains the Batch service quotas of the subscription.
                (oas-tags):
                  - Location
types:
  ActivateApplicationPackageParameters:
    description: Parameters for an ApplicationOperations.ActivateApplicationPackage request.
    properties:
      format:
        description: The format of the application package binary file.
        type: string
  AddApplicationParameters:
    description: Parameters for an ApplicationOperations.AddApplication request.
    properties:
      allowUpdates:
        description: A value indicating whether packages within the application may be overwritten using the same version string.
        type: boolean
        required: false
      displayName:
        description: The display name for the application.
        type: string
        required: false
  Application:
    description: Contains information about an application in a Batch account.
    properties:
      allowUpdates:
        description: A value indicating whether packages within the application may be overwritten using the same version string.
        type: boolean
        required: false
      defaultVersion:
        description: The package to use if a client requests the application but does not specify a version.
        type: string
        required: false
      displayName:
        description: The display name for the application.
        type: string
        required: false
      id:
        description: A string that uniquely identifies the application within the account.
        type: string
        required: false
      packages:
        description: The list of packages under this application.
        items:
          type: ApplicationPackage
        type: array
        required: false
  ApplicationPackage:
    description: An application package which represents a particular version of an application.
    properties:
      format:
        description: 'The format of the application package, if the package is active.'
        type: string
        required: false
      id:
        description: The ID of the application.
        type: string
        required: false
      lastActivationTime:
        description: 'The time at which the package was last activated, if the package is active.'
        format: rfc3339
        type: datetime
        required: false
      state:
        description: The current state of the application package.
        enum:
          - pending
          - active
          - unmapped
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: PackageState
      storageUrl:
        description: The storage URL at which the application package is stored.
        type: string
        required: false
      storageUrlExpiry:
        description: The UTC time at which the storage URL will expire.
        format: rfc3339
        type: datetime
        required: false
      version:
        description: 'The version of the application package. '
        type: string
        required: false
  AutoStorageBaseProperties:
    description: The properties related to auto storage account.
    properties:
      storageAccountId:
        description: The resource ID of the storage account to be used for auto storage account.
        type: string
  AutoStorageProperties:
    description: Contains information about the auto storage account associated with a Batch account.
    properties:
      lastKeySync:
        description: The UTC time at which storage keys were last synchronized with the Batch account.
        format: rfc3339
        type: datetime
      storageAccountId:
        description: The resource ID of the storage account to be used for auto storage account.
        type: string
  BatchAccount:
    type: Resource
  BatchAccountBaseProperties:
    description: The properties of a Batch account.
    properties:
      autoStorage:
        description: The properties related to auto storage account.
        type: AutoStorageBaseProperties
        required: false
  BatchAccountCreateParameters:
    description: Parameters supplied to the Create operation.
    properties:
      location:
        description: The region in which to create the account.
        type: string
      properties:
        description: The properties of the account.
        type: BatchAccountBaseProperties
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        additionalProperties:
          type: string
        description: The user specified tags associated with the account.
        type: object
        required: false
  BatchAccountKeys:
    description: A set of Azure Batch account keys.
    properties:
      primary:
        description: The primary key associated with the account.
        type: string
        required: false
      secondary:
        description: The secondary key associated with the account.
        type: string
        required: false
  BatchAccountListResult:
    description: Values returned by the List operation.
    properties:
      nextLink:
        description: The continuation token.
        type: string
        required: false
      value:
        description: The collection of returned Batch accounts.
        items:
          type: BatchAccount
        type: array
        required: false
  BatchAccountProperties:
    description: Account specific properties.
    properties:
      accountEndpoint:
        description: The endpoint used by this account to interact with the Batch services.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      activeJobAndJobScheduleQuota:
        description: The active job and job schedule quota for this Batch account.
        format: int32
        type: integer
      autoStorage:
        description: The properties and status of any auto storage account associated with the account.
        type: AutoStorageProperties
        required: false
      coreQuota:
        description: The core quota for this Batch account.
        format: int32
        type: integer
      poolQuota:
        description: The pool quota for this Batch account.
        format: int32
        type: integer
      provisioningState:
        description: The provisioned state of the resource
        enum:
          - Invalid
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Cancelled
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ProvisioningState
  BatchAccountRegenerateKeyParameters:
    description: Parameters supplied to the RegenerateKey operation.
    properties:
      keyName:
        description: The type of account key to regenerate.
        enum:
          - Primary
          - Secondary
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: AccountKeyType
  BatchAccountUpdateParameters:
    description: Parameters supplied to the Update operation.
    properties:
      properties:
        description: The properties of the account.
        type: BatchAccountBaseProperties
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        additionalProperties:
          type: string
        description: The user specified tags associated with the account.
        type: object
        required: false
  BatchLocationQuota:
    description: Quotas associated with a Batch region for a particular subscription.
    properties:
      accountQuota:
        description: The number of Batch accounts that may be created under the subscription in the specified region.
        format: int32
        type: integer
        required: false
  ErrorBody:
    description: An error response from the Batch service.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
        required: false
      details:
        description: A list of additional details about the error.
        items:
          type: ErrorDetail
        type: array
        required: false
      message:
        description: 'A message describing the error, intended to be suitable for display in a user interface.'
        type: string
        required: false
      target:
        description: 'The target of the particular error. For example, the name of the property in error.'
        type: string
        required: false
  ErrorDetail:
    description: Specific detail about an error.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
        required: false
      message:
        description: 'A message describing the error, intended to be suitable for display in a user interface.'
        type: string
        required: false
      target:
        description: 'The target of the particular error. For example, the name of the property in error.'
        type: string
        required: false
  ListApplicationsResult:
    description: Response to an ApplicationOperations.ListApplications request.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
        required: false
      value:
        description: The list of applications.
        items:
          type: Application
        type: array
        required: false
  Resource:
    description: A definition of an Azure resource.
    properties:
      id:
        description: The ID of the resource
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: The location of the resource
        type: string
        required: false
      name:
        description: The name of the resource
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource
        type: object
        required: false
      type:
        description: The type of the resource
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  UpdateApplicationParameters:
    description: Parameters for an ApplicationOperations.UpdateApplication request.
    properties:
      allowUpdates:
        description: A value indicating whether packages within the application may be overwritten using the same version string.
        type: boolean
        required: false
      defaultVersion:
        description: The package to use if a client requests the application but does not specify a version.
        type: string
        required: false
      displayName:
        description: The display name for the application.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: The API version to be used with the HTTP request.
        required: true
