#%RAML 1.0
title: NetworkResourceProviderClient
version: 2015-05-01-preview
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resrources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-network/2015-05-01-preview/swagger/network.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-network
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Network:
            displayName: Microsoft.Network
            /localNetworkGateways:
              displayName: localNetworkGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: LocalNetworkGateways_List
                description: The List LocalNetworkGateways opertion retrieves all the local network gateways stored.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: LocalNetworkGatewayListResult
                (oas-tags):
                  - LocalNetworkGateways
              '/{localNetworkGatewayName}':
                displayName: '{localNetworkGatewayName}'
                uriParameters:
                  localNetworkGatewayName:
                    description: The name of the local network gateway.
                    required: true
                    type: string
                get:
                  displayName: LocalNetworkGateways_Get
                  description: The Get LocalNetworkGateway operation retrieves information about the specified local network gateway through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                  (oas-tags):
                    - LocalNetworkGateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: LocalNetworkGateways_CreateOrUpdate
                  description: The Put LocalNetworkGateway operation creates/updates a local network gateway in the specified resource group through Network resource provider.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: LocalNetworkGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the Begin Create or update Local Network Gateway operation through Network resource provider.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                    '201':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                  (oas-tags):
                    - LocalNetworkGateways
                /:
                  delete:
                    (oas-x-ms-long-running-operation): true
                    displayName: LocalNetworkGateways_Delete
                    description: The Delete LocalNetworkGateway operation deletes the specifed local network Gateway through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                      '204': {}
                    (oas-tags):
                      - LocalNetworkGateways
            /networkInterfaces:
              displayName: networkInterfaces
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: NetworkInterfaces_List
                description: The List networkInterfaces opertion retrieves all the networkInterfaces in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NetworkInterfaceListResult
                (oas-tags):
                  - NetworkInterfaces
              '/{networkInterfaceName}':
                displayName: '{networkInterfaceName}'
                uriParameters:
                  networkInterfaceName:
                    description: The name of the network interface.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkInterfaces_Delete
                  description: The delete netwokInterface operation deletes the specified netwokInterface.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - NetworkInterfaces
                get:
                  displayName: NetworkInterfaces_Get
                  description: The Get ntework interface operation retreives information about the specified network interface.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkInterface
                  (oas-tags):
                    - NetworkInterfaces
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkInterfaces_CreateOrUpdate
                  description: The Put NetworkInterface operation creates/updates a networkInterface
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NetworkInterface
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update NetworkInterface operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkInterface
                    '201':
                      body:
                        application/json:
                          type: NetworkInterface
                  (oas-tags):
                    - NetworkInterfaces
            /applicationGateways:
              displayName: applicationGateways
              '/{applicationGatewayName}':
                displayName: '{applicationGatewayName}'
                uriParameters:
                  applicationGatewayName:
                    description: The name of the applicationgateway.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: ApplicationGateways_Delete
                  description: The delete applicationgateway operation deletes the specified applicationgateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - ApplicationGateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: ApplicationGateways_CreateOrUpdate
                  description: The Put ApplicationGateway operation creates/updates a ApplicationGateway
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ApplicationGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/delete ApplicationGateway operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApplicationGateway
                    '201':
                      body:
                        application/json:
                          type: ApplicationGateway
                  (oas-tags):
                    - ApplicationGateways
                /stop:
                  displayName: stop
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApplicationGateways_Stop
                    description: The STOP ApplicationGateway operation stops application gatewayin the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                    (oas-tags):
                      - ApplicationGateways
                /start:
                  displayName: start
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApplicationGateways_Start
                    description: The Start ApplicationGateway operation starts application gatewayin the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '202': {}
                    (oas-tags):
                      - ApplicationGateways
                get:
                  displayName: ApplicationGateways_Get
                  description: The Get applicationgateway operation retreives information about the specified applicationgateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApplicationGateway
                  (oas-tags):
                    - ApplicationGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: ApplicationGateways_List
                description: The List ApplicationGateway opertion retrieves all the applicationgateways in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ApplicationGatewayListResult
                (oas-tags):
                  - ApplicationGateways
            /networkSecurityGroups:
              displayName: networkSecurityGroups
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: NetworkSecurityGroups_List
                description: The list NetworkSecurityGroups returns all network security groups in a resource group
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NetworkSecurityGroupListResult
                (oas-tags):
                  - NetworkSecurityGroups
              '/{networkSecurityGroupName}':
                displayName: '{networkSecurityGroupName}'
                uriParameters:
                  networkSecurityGroupName:
                    description: The name of the network security group.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkSecurityGroups_Delete
                  description: The Delete NetworkSecurityGroup operation deletes the specifed network security group
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - NetworkSecurityGroups
                get:
                  displayName: NetworkSecurityGroups_Get
                  description: The Get NetworkSecurityGroups operation retrieves information about the specified network security group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                  (oas-tags):
                    - NetworkSecurityGroups
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkSecurityGroups_CreateOrUpdate
                  description: The Put NetworkSecurityGroup operation creates/updates a network security groupin the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NetworkSecurityGroup
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update Network Security Group operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                    '201':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                  (oas-tags):
                    - NetworkSecurityGroups
                /securityRules:
                  displayName: securityRules
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: SecurityRules_List
                    description: The List network security rule opertion retrieves all the security rules in a network security group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SecurityRuleListResult
                    (oas-tags):
                      - SecurityRules
                  '/{securityRuleName}':
                    displayName: '{securityRuleName}'
                    uriParameters:
                      securityRuleName:
                        description: The name of the security rule.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: SecurityRules_Delete
                      description: The delete network security rule operation deletes the specified network security rule.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - SecurityRules
                    get:
                      displayName: SecurityRules_Get
                      description: The Get NetworkSecurityRule operation retreives information about the specified network security rule.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SecurityRule
                      (oas-tags):
                        - SecurityRules
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: SecurityRules_CreateOrUpdate
                      description: The Put network security rule operation creates/updates a security rule in the specified network security group
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SecurityRule
                          (oas-body-name): securityRuleParameters
                          description: Parameters supplied to the create/update network security rule operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SecurityRule
                        '201':
                          body:
                            application/json:
                              type: SecurityRule
                      (oas-tags):
                        - SecurityRules
            /connections:
              displayName: connections
              '/{virtualNetworkGatewayConnectionName}':
                displayName: '{virtualNetworkGatewayConnectionName}'
                uriParameters:
                  virtualNetworkGatewayConnectionName:
                    description: The name of the virtual network gateway conenction.
                    required: true
                    type: string
                get:
                  displayName: VirtualNetworkGatewayConnections_Get
                  description: The Get VirtualNetworkGatewayConnection operation retrieves information about the specified virtual network gateway connection through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
                /:
                  delete:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGatewayConnections_Delete
                    description: The Delete VirtualNetworkGatewayConnection operation deletes the specifed virtual network Gateway connection through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                      '204': {}
                    (oas-tags):
                      - VirtualNetworkGatewayConnections
                /sharedkey:
                  displayName: sharedkey
                  put:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGatewayConnections_SetSharedKey
                    description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ConnectionSharedKey
                        (oas-body-name): parameters
                        description: Parameters supplied to the Begin Set Virtual Network Gateway conection Shared key operation throughNetwork resource provider.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                      '201':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                    (oas-tags):
                      - VirtualNetworkGatewayConnections
                  /reset:
                    displayName: reset
                    post:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualNetworkGatewayConnections_ResetSharedKey
                      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ConnectionResetSharedKey
                          (oas-body-name): parameters
                          description: Parameters supplied to the Begin Reset Virtual Network Gateway connection shared key operation through Network resource provider.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ConnectionResetSharedKey
                        '202': {}
                      (oas-tags):
                        - VirtualNetworkGatewayConnections
                  get:
                    displayName: VirtualNetworkGatewayConnections_GetSharedKey
                    description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                    (oas-tags):
                      - VirtualNetworkGatewayConnections
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGatewayConnections_CreateOrUpdate
                  description: The Put VirtualNetworkGatewayConnection operation creates/updates a virtual network gateway connection in the specified resource group through Network resource provider.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetworkGatewayConnection
                      (oas-body-name): parameters
                      description: Parameters supplied to the Begin Create or update Virtual Network Gateway connection operation through Network resource provider.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                    '201':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworkGatewayConnections_List
                description: The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkGatewayConnectionListResult
                (oas-tags):
                  - VirtualNetworkGatewayConnections
            /expressRouteCircuits:
              displayName: expressRouteCircuits
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: ExpressRouteCircuits_List
                description: The List ExpressRouteCircuit opertion retrieves all the ExpressRouteCircuits in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ExpressRouteCircuitListResult
                (oas-tags):
                  - ExpressRouteCircuits
              '/{circuitName}':
                displayName: '{circuitName}'
                /:
                  get:
                    displayName: ExpressRouteCircuits_Get
                    description: The Get ExpressRouteCircuit operation retreives information about the specified ExpressRouteCircuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ExpressRouteCircuit
                    (oas-tags):
                      - ExpressRouteCircuits
                  put:
                    (oas-x-ms-long-running-operation): true
                    displayName: ExpressRouteCircuits_CreateOrUpdate
                    description: The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ExpressRouteCircuit
                        (oas-body-name): parameters
                        description: Parameters supplied to the create/delete ExpressRouteCircuit operation
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ExpressRouteCircuit
                      '201':
                        body:
                          application/json:
                            type: ExpressRouteCircuit
                    (oas-tags):
                      - ExpressRouteCircuits
                  delete:
                    (oas-x-ms-long-running-operation): true
                    displayName: ExpressRouteCircuits_Delete
                    description: The delete ExpressRouteCircuit operation deletes the specified ExpressRouteCircuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                      '204': {}
                    (oas-tags):
                      - ExpressRouteCircuits
                /authorizations:
                  displayName: authorizations
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ExpressRouteCircuitAuthorizations_List
                    description: The List authorization operation retrieves all the authorizations in an ExpressRouteCircuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: AuthorizationListResult
                    (oas-tags):
                      - ExpressRouteCircuitAuthorizations
                  '/{authorizationName}':
                    displayName: '{authorizationName}'
                    uriParameters:
                      authorizationName:
                        description: The name of the authorization.
                        required: true
                        type: string
                    get:
                      displayName: ExpressRouteCircuitAuthorizations_Get
                      description: The GET authorization operation retrieves the specified authorization from the specified ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitAuthorizations_CreateOrUpdate
                      description: The Put Authorization operation creates/updates an authorization in thespecified ExpressRouteCircuits
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ExpressRouteCircuitAuthorization
                          (oas-body-name): authorizationParameters
                          description: Parameters supplied to the create/update ExpressRouteCircuitAuthorization operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                        '201':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitAuthorizations_Delete
                      description: The delete authorization operation deletes the specified authorization from the specified ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                /peerings:
                  displayName: peerings
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ExpressRouteCircuitPeerings_List
                    description: The List peering operation retrieves all the peerings in an ExpressRouteCircuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ExpressRouteCircuitPeeringListResult
                    (oas-tags):
                      - ExpressRouteCircuitPeerings
                  '/{peeringName}':
                    displayName: '{peeringName}'
                    uriParameters:
                      peeringName:
                        description: The name of the peering.
                        required: true
                        type: string
                    get:
                      displayName: ExpressRouteCircuitPeerings_Get
                      description: The GET peering operation retrieves the specified authorization from the ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitPeerings_CreateOrUpdate
                      description: The Put Pering operation creates/updates an peering in the specified ExpressRouteCircuits
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ExpressRouteCircuitPeering
                          (oas-body-name): peeringParameters
                          description: Parameters supplied to the create/update ExpressRouteCircuit Peering operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                        '201':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitPeerings_Delete
                      description: The delete peering operation deletes the specified peering from the ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
              '/{circuitName}arpTable':
                displayName: '{circuitName}arpTable'
                uriParameters:
                  circuitName:
                    description: The name of the circuit.
                    required: true
                    type: string
                get:
                  (oas-x-ms-pageable):
                    nextLinkName: nextLink
                  displayName: ExpressRouteCircuits_ListArpTable
                  description: The ListArpTable from ExpressRouteCircuit opertion retrieves the currently advertised arp table associated with the ExpressRouteCircuits in a resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ExpressRouteCircuitsArpTableListResult
                  (oas-tags):
                    - ExpressRouteCircuits
              '/{circuitName}stats':
                displayName: '{circuitName}stats'
                uriParameters:
                  circuitName:
                    description: The name of the loadBalancer.
                    required: true
                    type: string
                get:
                  (oas-x-ms-pageable):
                    nextLinkName: nextLink
                  displayName: ExpressRouteCircuits_ListStats
                  description: The Liststats ExpressRouteCircuit opertion retrieves all the stats from a ExpressRouteCircuits in a resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ExpressRouteCircuitsStatsListResult
                  (oas-tags):
                    - ExpressRouteCircuits
              '/{circuitName}routesTable':
                displayName: '{circuitName}routesTable'
                uriParameters:
                  circuitName:
                    description: The name of the circuit.
                    required: true
                    type: string
                get:
                  (oas-x-ms-pageable):
                    nextLinkName: nextLink
                  displayName: ExpressRouteCircuits_ListRoutesTable
                  description: The ListRoutesTable from ExpressRouteCircuit opertion retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ExpressRouteCircuitsRoutesTableListResult
                  (oas-tags):
                    - ExpressRouteCircuits
            /publicIPAddresses:
              displayName: publicIPAddresses
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: PublicIpAddresses_List
                description: The List publicIpAddress opertion retrieves all the publicIpAddresses in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: PublicIpAddressListResult
                (oas-tags):
                  - PublicIpAddresses
              '/{publicIpAddressName}':
                displayName: '{publicIpAddressName}'
                /:
                  delete:
                    (oas-x-ms-long-running-operation): true
                    displayName: PublicIpAddresses_Delete
                    description: The delete publicIpAddress operation deletes the specified publicIpAddress.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                      '204': {}
                    (oas-tags):
                      - PublicIpAddresses
                  get:
                    displayName: PublicIpAddresses_Get
                    description: The Get publicIpAddress operation retreives information about the specified pubicIpAddress
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: PublicIpAddress
                    (oas-tags):
                      - PublicIpAddresses
                  put:
                    (oas-x-ms-long-running-operation): true
                    displayName: PublicIpAddresses_CreateOrUpdate
                    description: The Put PublicIPAddress operation creates/updates a stable/dynamic PublicIP address
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: PublicIpAddress
                        (oas-body-name): parameters
                        description: Parameters supplied to the create/update PublicIPAddress operation
                    responses:
                      '200':
                        body:
                          application/json:
                            type: PublicIpAddress
                      '201':
                        body:
                          application/json:
                            type: PublicIpAddress
                    (oas-tags):
                      - PublicIpAddresses
            /routeTables:
              displayName: routeTables
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: RouteTables_List
                description: The list RouteTables returns all route tables in a resource group
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: RouteTableListResult
                (oas-tags):
                  - RouteTables
              '/{routeTableName}':
                displayName: '{routeTableName}'
                uriParameters:
                  routeTableName:
                    description: The name of the route table.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: RouteTables_Delete
                  description: The Delete RouteTable operation deletes the specifed Route Table
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - RouteTables
                get:
                  displayName: RouteTables_Get
                  description: The Get RouteTables operation retrieves information about the specified route table.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RouteTable
                  (oas-tags):
                    - RouteTables
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: RouteTables_CreateOrUpdate
                  description: The Put RouteTable operation creates/updates a route tablein the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: RouteTable
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update Route Table operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RouteTable
                    '201':
                      body:
                        application/json:
                          type: RouteTable
                  (oas-tags):
                    - RouteTables
                /routes:
                  displayName: routes
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Routes_List
                    description: The List network security rule opertion retrieves all the routes in a route table.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RouteListResult
                    (oas-tags):
                      - Routes
                  '/{routeName}':
                    displayName: '{routeName}'
                    uriParameters:
                      routeName:
                        description: The name of the route.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Routes_Delete
                      description: The delete route operation deletes the specified route from a route table.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - Routes
                    get:
                      displayName: Routes_Get
                      description: The Get route operation retreives information about the specified route from the route table.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Route
                      (oas-tags):
                        - Routes
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Routes_CreateOrUpdate
                      description: The Put route operation creates/updates a route in the specified route table
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Route
                          (oas-body-name): routeParameters
                          description: Parameters supplied to the create/update routeoperation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Route
                        '201':
                          body:
                            application/json:
                              type: Route
                      (oas-tags):
                        - Routes
            /loadBalancers:
              displayName: loadBalancers
              '/{loadBalancerName}':
                displayName: '{loadBalancerName}'
                uriParameters:
                  loadBalancerName:
                    description: The name of the loadBalancer.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: LoadBalancers_Delete
                  description: The delete loadbalancer operation deletes the specified loadbalancer.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - LoadBalancers
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: LoadBalancers_CreateOrUpdate
                  description: The Put LoadBalancer operation creates/updates a LoadBalancer
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: LoadBalancer
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/delete LoadBalancer operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LoadBalancer
                    '201':
                      body:
                        application/json:
                          type: LoadBalancer
                  (oas-tags):
                    - LoadBalancers
                get:
                  displayName: LoadBalancers_Get
                  description: The Get ntework interface operation retreives information about the specified network interface.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LoadBalancer
                  (oas-tags):
                    - LoadBalancers
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: LoadBalancers_List
                description: The List loadBalancer opertion retrieves all the loadbalancers in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: LoadBalancerListResult
                (oas-tags):
                  - LoadBalancers
            /virtualNetworkGateways:
              displayName: virtualNetworkGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworkGateways_List
                description: The List VirtualNetworkGateways opertion retrieves all the virtual network gateways stored.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkGatewayListResult
                (oas-tags):
                  - VirtualNetworkGateways
              '/{virtualNetworkGatewayName}':
                displayName: '{virtualNetworkGatewayName}'
                /:
                  delete:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGateways_Delete
                    description: The Delete VirtualNetworkGateway operation deletes the specifed virtual network Gateway through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                      '204': {}
                    (oas-tags):
                      - VirtualNetworkGateways
            /virtualnetworkgateways:
              displayName: virtualnetworkgateways
              '/{virtualNetworkGatewayName}':
                displayName: '{virtualNetworkGatewayName}'
                uriParameters:
                  virtualNetworkGatewayName:
                    description: The name of the virtual network gateway.
                    required: true
                    type: string
                get:
                  displayName: VirtualNetworkGateways_Get
                  description: The Get VirtualNetworkGateway operation retrieves information about the specified virtual network gateway through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                  (oas-tags):
                    - VirtualNetworkGateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGateways_CreateOrUpdate
                  description: The Put VirtualNetworkGateway operation creates/updates a virtual network gateway in the specified resource group through Network resource provider.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetworkGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the Begin Create or update Virtual Network Gateway operation through Network resource provider.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                    '201':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                  (oas-tags):
                    - VirtualNetworkGateways
                /reset:
                  displayName: reset
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGateways_Reset
                    description: The Reset VirtualNetworkGateway operation resets the primary of the virtual network gatewayin the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualNetworkGateway
                        (oas-body-name): parameters
                        description: Parameters supplied to the Begin Reset Virtual Network Gateway operation through Network resource provider.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualNetworkGateway
                      '202': {}
                    (oas-tags):
                      - VirtualNetworkGateways
            /virtualnetworks:
              displayName: virtualnetworks
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworks_List
                description: The list VirtualNetwork returns all Virtual Networks in a resource group
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkListResult
                (oas-tags):
                  - VirtualNetworks
              '/{virtualNetworkName}':
                displayName: '{virtualNetworkName}'
                uriParameters:
                  virtualNetworkName:
                    description: The name of the virtual network.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworks_Delete
                  description: The Delete VirtualNetwork operation deletes the specifed virtual network
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - VirtualNetworks
                get:
                  displayName: VirtualNetworks_Get
                  description: The Get VirtualNetwork operation retrieves information about the specified virtual network.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetwork
                  (oas-tags):
                    - VirtualNetworks
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworks_CreateOrUpdate
                  description: The Put VirtualNetwork operation creates/updates a virtual network in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetwork
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update Virtual Network operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetwork
                    '201':
                      body:
                        application/json:
                          type: VirtualNetwork
                  (oas-tags):
                    - VirtualNetworks
                /subnets:
                  displayName: subnets
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Subnets_List
                    description: The List subnets opertion retrieves all the subnets in a virtual network.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SubnetListResult
                    (oas-tags):
                      - Subnets
                  '/{subnetName}':
                    displayName: '{subnetName}'
                    uriParameters:
                      subnetName:
                        description: The name of the subnet.
                        required: true
                        type: string
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Subnets_Delete
                      description: The delete subnet operation deletes the specified subnet.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - Subnets
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Subnets_CreateOrUpdate
                      description: The Put Subnet operation creates/updates a subnet in thespecified virtual network
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Subnet
                          (oas-body-name): subnetParameters
                          description: Parameters supplied to the create/update Subnet operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Subnet
                        '201':
                          body:
                            application/json:
                              type: Subnet
                      (oas-tags):
                        - Subnets
                    get:
                      displayName: Subnets_Get
                      description: The Get subnet operation retreives information about the specified subnet.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Subnet
                      (oas-tags):
                        - Subnets
          /microsoft.compute:
            displayName: microsoft.compute
            /virtualMachineScaleSets:
              displayName: virtualMachineScaleSets
              '/{virtualMachineScaleSetName}':
                displayName: '{virtualMachineScaleSetName}'
                /virtualMachines:
                  displayName: virtualMachines
                  '/{virtualmachineIndex}':
                    displayName: '{virtualmachineIndex}'
                    /networkInterfaces:
                      displayName: networkInterfaces
                      '/{networkInterfaceName}':
                        displayName: '{networkInterfaceName}'
                        uriParameters:
                          networkInterfaceName:
                            description: The name of the network interface.
                            required: true
                            type: string
                        get:
                          displayName: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
                          description: The Get ntework interface operation retreives information about the specified network interface in a virtual machine scale set.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: NetworkInterface
                          (oas-tags):
                            - NetworkInterfaces
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
                        description: The list network interface operation retrieves information about all network interfaces in a virtual machine from a virtual machine scale set.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: NetworkInterfaceListResult
                        (oas-tags):
                          - NetworkInterfaces
                /networkInterfaces:
                  displayName: networkInterfaces
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
                    description: The list network interface operation retrieves information about all network interfaces in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: NetworkInterfaceListResult
                    (oas-tags):
                      - NetworkInterfaces
    /providers:
      displayName: providers
      /Microsoft.Network:
        displayName: Microsoft.Network
        /applicationGateways:
          displayName: applicationGateways
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ApplicationGateways_ListAll
            description: The List applicationgateway opertion retrieves all the applicationgateways in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ApplicationGatewayListResult
            (oas-tags):
              - ApplicationGateways
        /expressRouteServiceProviders:
          displayName: expressRouteServiceProviders
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ExpressRouteServiceProviders_List
            description: The List ExpressRouteServiceProvider opertion retrieves all the available ExpressRouteServiceProviders.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ExpressRouteServiceProviderListResult
            (oas-tags):
              - ExpressRouteServiceProviders
        /locations:
          displayName: locations
          '/{location}':
            displayName: '{location}'
            /CheckDnsNameAvailability:
              displayName: CheckDnsNameAvailability
              get:
                displayName: CheckDnsNameAvailability
                description: Checks whether a domain name in the cloudapp.net zone is available for use.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: DnsNameAvailabilityResult
                queryParameters:
                  domainNameLabel:
                    description: 'The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.'
                    required: false
                    type: string
            /usages:
              displayName: usages
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Usages_List
                description: Lists compute usages for a subscription.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: UsagesListResult
                (oas-tags):
                  - Usages
        /networkInterfaces:
          displayName: networkInterfaces
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: NetworkInterfaces_ListAll
            description: The List networkInterfaces opertion retrieves all the networkInterfaces in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NetworkInterfaceListResult
            (oas-tags):
              - NetworkInterfaces
        /publicIPAddresses:
          displayName: publicIPAddresses
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: PublicIpAddresses_ListAll
            description: The List publicIpAddress opertion retrieves all the publicIpAddresses in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: PublicIpAddressListResult
            (oas-tags):
              - PublicIpAddresses
        /virtualnetworks:
          displayName: virtualnetworks
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: VirtualNetworks_ListAll
            description: The list VirtualNetwork returns all Virtual Networks in a subscription
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: VirtualNetworkListResult
            (oas-tags):
              - VirtualNetworks
        /loadBalancers:
          displayName: loadBalancers
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: LoadBalancers_ListAll
            description: The List loadBalancer opertion retrieves all the loadbalancers in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: LoadBalancerListResult
            (oas-tags):
              - LoadBalancers
        /networkSecurityGroups:
          displayName: networkSecurityGroups
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: NetworkSecurityGroups_ListAll
            description: The list NetworkSecurityGroups returns all network security groups in a subscription
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NetworkSecurityGroupListResult
            (oas-tags):
              - NetworkSecurityGroups
        /expressRouteCircuits:
          displayName: expressRouteCircuits
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ExpressRouteCircuits_ListAll
            description: The List ExpressRouteCircuit opertion retrieves all the ExpressRouteCircuits in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ExpressRouteCircuitListResult
            (oas-tags):
              - ExpressRouteCircuits
        /routeTables:
          displayName: routeTables
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: RouteTables_ListAll
            description: The list RouteTables returns all route tables in a subscription
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: RouteTableListResult
            (oas-tags):
              - RouteTables
types:
  AddressSpace:
    description: AddressSpace contains an array of IP address ranges that can be used by subnets
    properties:
      addressPrefixes:
        description: Gets or sets List of address blocks reserved for this virtual network in CIDR notation
        items:
          type: string
        type: array
        required: false
  ApplicationGateway:
    type: Resource
  ApplicationGatewayBackendAddress:
    description: Backend Address of application gateway
    properties:
      fqdn:
        description: Gets or sets the dns name
        type: string
        required: false
      ipAddress:
        description: Gets or sets the ip address
        type: string
        required: false
  ApplicationGatewayBackendAddressPool:
    type: SubResource
  ApplicationGatewayBackendAddressPoolPropertiesFormat:
    description: Properties of Backend Address Pool of application gateway
    properties:
      backendAddresses:
        description: Gets or sets the backend addresses
        items:
          type: ApplicationGatewayBackendAddress
        type: array
        required: false
      backendIPConfigurations:
        description: 'Gets or sets backendIPConfiguration of application gateway '
        items:
          type: SubResource
        type: array
        required: false
      provisioningState:
        description: Gets or sets Provisioning state of the backend address pool resource Updating/Deleting/Failed
        type: string
        required: false
  ApplicationGatewayBackendHttpSettings:
    type: SubResource
  ApplicationGatewayBackendHttpSettingsPropertiesFormat:
    description: Properties of Backend address pool settings of application gateway
    properties:
      cookieBasedAffinity:
        description: Gets or sets the cookie affinity
        enum:
          - Enabled
          - Disabled
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayCookieBasedAffinity
      port:
        description: Gets or sets the port
        format: int32
        type: integer
        required: false
      protocol:
        description: Gets or sets the protocol
        enum:
          - Http
          - Https
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: Gets or sets Provisioning state of the backend http settings resource Updating/Deleting/Failed
        type: string
        required: false
  ApplicationGatewayFrontendIPConfiguration:
    type: SubResource
  ApplicationGatewayFrontendIPConfigurationPropertiesFormat:
    description: Properties of Frontend IP configuration of application gateway
    properties:
      privateIPAddress:
        description: Gets or sets the privateIPAddress of the Network Interface IP Configuration
        type: string
        required: false
      privateIPAllocationMethod:
        description: Gets or sets PrivateIP allocation method (Static/Dynamic)
        enum:
          - Static
          - Dynamic
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: IpAllocationMethod
      provisioningState:
        description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
        required: false
      publicIPAddress:
        description: Gets or sets the reference of the PublicIP resource
        type: SubResource
        required: false
      subnet:
        description: Gets or sets the reference of the subnet resource
        type: SubResource
        required: false
  ApplicationGatewayFrontendPort:
    type: SubResource
  ApplicationGatewayFrontendPortPropertiesFormat:
    description: Properties of Frontend Port of application gateway
    properties:
      port:
        description: Gets or sets the frontend port
        format: int32
        type: integer
        required: false
      provisioningState:
        description: Gets or sets Provisioning state of the frontend port resource Updating/Deleting/Failed
        type: string
        required: false
  ApplicationGatewayHttpListener:
    type: SubResource
  ApplicationGatewayHttpListenerPropertiesFormat:
    description: Properties of Http listener of application gateway
    properties:
      frontendIPConfiguration:
        description: 'Gets or sets frontend IP configuration resource of application gateway '
        type: SubResource
        required: false
      frontendPort:
        description: 'Gets or sets frontend port resource of application gateway '
        type: SubResource
        required: false
      protocol:
        description: Gets or sets the protocol
        enum:
          - Http
          - Https
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: Gets or sets Provisioning state of the http listener resource Updating/Deleting/Failed
        type: string
        required: false
      sslCertificate:
        description: 'Gets or sets ssl certificate resource of application gateway '
        type: SubResource
        required: false
  ApplicationGatewayIPConfiguration:
    type: SubResource
  ApplicationGatewayIPConfigurationPropertiesFormat:
    description: Properties of IP configuration of application gateway
    properties:
      provisioningState:
        description: Gets or sets Provisioning state of the application gateway subnet resource Updating/Deleting/Failed
        type: string
        required: false
      subnet:
        description: 'Gets or sets the reference of the subnet resource.A subnet from where appliation gateway gets its private address '
        type: SubResource
        required: false
  ApplicationGatewayListResult:
    description: Response for ListLoadBalancers Api service call
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets a list of ApplicationGateways in a resource group
        items:
          type: ApplicationGateway
        type: array
        required: false
  ApplicationGatewayPropertiesFormat:
    description: Properties of Application Gateway
    properties:
      backendAddressPools:
        description: Gets or sets backend address pool of application gateway resource
        items:
          type: ApplicationGatewayBackendAddressPool
        type: array
        required: false
      backendHttpSettingsCollection:
        description: Gets or sets backend http settings of application gateway resource
        items:
          type: ApplicationGatewayBackendHttpSettings
        type: array
        required: false
      frontendIPConfigurations:
        description: Gets or sets frontend IP addresses of application gateway resource
        items:
          type: ApplicationGatewayFrontendIPConfiguration
        type: array
        required: false
      frontendPorts:
        description: Gets or sets frontend ports of application gateway resource
        items:
          type: ApplicationGatewayFrontendPort
        type: array
        required: false
      gatewayIPConfigurations:
        description: Gets or sets subnets of application gateway resource
        items:
          type: ApplicationGatewayIPConfiguration
        type: array
        required: false
      httpListeners:
        description: Gets or sets HTTP listeners of application gateway resource
        items:
          type: ApplicationGatewayHttpListener
        type: array
        required: false
      operationalState:
        description: Gets operational state of application gateway resource
        enum:
          - Stopped
          - Starting
          - Running
          - Stopping
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayOperationalState
      provisioningState:
        description: Gets or sets Provisioning state of the ApplicationGateway resource Updating/Deleting/Failed
        type: string
        required: false
      requestRoutingRules:
        description: Gets or sets request routing rules of application gateway resource
        items:
          type: ApplicationGatewayRequestRoutingRule
        type: array
        required: false
      resourceGuid:
        description: Gets or sets resource guid property of the ApplicationGateway resource
        type: string
        required: false
      sku:
        description: Gets or sets sku of application gateway resource
        type: ApplicationGatewaySku
        required: false
      sslCertificates:
        description: Gets or sets ssl certificates of application gateway resource
        items:
          type: ApplicationGatewaySslCertificate
        type: array
        required: false
  ApplicationGatewayRequestRoutingRule:
    type: SubResource
  ApplicationGatewayRequestRoutingRulePropertiesFormat:
    description: Properties of Request routing rule of application gateway
    properties:
      backendAddressPool:
        description: 'Gets or sets backend address pool resource of application gateway '
        type: SubResource
        required: false
      backendHttpSettings:
        description: 'Gets or sets frontend port resource of application gateway '
        type: SubResource
        required: false
      httpListener:
        description: 'Gets or sets http listener resource of application gateway '
        type: SubResource
        required: false
      provisioningState:
        description: Gets or sets Provisioning state of the request routing rule resource Updating/Deleting/Failed
        type: string
        required: false
      ruleType:
        description: Gets or sets the rule type
        enum:
          - Basic
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayRequestRoutingRuleType
  ApplicationGatewaySku:
    description: SKU of application gateway
    properties:
      capacity:
        description: Gets or sets capacity (instance count) of application gateway
        format: int32
        type: integer
        required: false
      name:
        description: Gets or sets name of application gateway SKU
        enum:
          - Standard_Small
          - Standard_Medium
          - Standard_Large
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewaySkuName
      tier:
        description: Gets or sets tier of application gateway
        enum:
          - Standard
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayTier
  ApplicationGatewaySslCertificate:
    type: SubResource
  ApplicationGatewaySslCertificatePropertiesFormat:
    description: Properties of SSL certificates of application gateway
    properties:
      data:
        description: 'Gets or sets the certificate data '
        type: string
        required: false
      password:
        description: 'Gets or sets the certificate password '
        type: string
        required: false
      provisioningState:
        description: Gets or sets Provisioning state of the ssl certificate resource Updating/Deleting/Failed
        type: string
        required: false
      publicCertData:
        description: 'Gets or sets the certificate public data '
        type: string
        required: false
  AuthorizationListResult:
    description: Response for ListAuthorizations Api service callRetrieves all authorizations that belongs to an ExpressRouteCircuit
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets the authorizations in an ExpressRoute Circuit
        items:
          type: ExpressRouteCircuitAuthorization
        type: array
        required: false
  AuthorizationPropertiesFormat:
    properties:
      authorizationKey:
        description: Gets or sets the authorization key
        type: string
        required: false
      authorizationUseStatus:
        description: Gets or sets AuthorizationUseStatus
        enum:
          - Available
          - InUse
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: AuthorizationUseStatus
      provisioningState:
        description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
        required: false
  AzureAsyncOperationResult:
    description: 'The response body contains the status of the specified asynchronous operation, indicating whether it has succeeded, is inprogress, or has failed. Note that this status is distinct from the HTTP status code returned for the Get Operation Status operation itself. If the asynchronous operation succeeded, the response body includes the HTTP status code for the successful request. If the asynchronous operation failed, the response body includes the HTTP status code for the failed request and error information regarding the failure.'
    properties:
      error:
        type: Error
        required: false
      status:
        description: Status of the AzureAsuncOperation
        enum:
          - InProgress
          - Succeeded
          - Failed
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: NetworkOperationStatus
  BackendAddressPool:
    type: SubResource
  BackendAddressPoolPropertiesFormat:
    description: Properties of BackendAddressPool
    properties:
      backendIPConfigurations:
        description: Gets collection of references to IPs defined in NICs
        items:
          type: SubResource
        type: array
        required: false
      loadBalancingRules:
        description: Gets Load Balancing rules that use this Backend Address Pool
        items:
          type: SubResource
        type: array
        required: false
      outboundNatRule:
        description: Gets outbound rules that use this Backend Address Pool
        type: SubResource
        required: false
      provisioningState:
        description: Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
        required: false
  ConnectionResetSharedKey:
    properties:
      keyLength:
        description: The virtual network connection reset shared key length
        format: int64
        type: integer
        required: false
  ConnectionSharedKey:
    description: Response for GetConnectionSharedKey Api servive call
    properties:
      value:
        description: The virtual network connection shared key value
        type: string
        required: false
  DhcpOptions:
    description: DHCPOptions contains an array of DNS servers available to VMs deployed in the virtual networkStandard DHCP option for a subnet overrides VNET DHCP options.
    properties:
      dnsServers:
        description: Gets or sets list of DNS servers IP addresses
        items:
          type: string
        type: array
        required: false
  DnsNameAvailabilityResult:
    description: Response for CheckDnsNameAvailability Api servive call
    properties:
      available:
        description: Domain availability (True/False)
        type: boolean
        required: false
  Error:
    properties:
      code:
        type: string
        required: false
      details:
        items:
          type: ErrorDetails
        type: array
        required: false
      innerError:
        type: string
        required: false
      message:
        type: string
        required: false
      target:
        type: string
        required: false
  ErrorDetails:
    properties:
      code:
        type: string
        required: false
      message:
        type: string
        required: false
      target:
        type: string
        required: false
  ExpressRouteCircuit:
    type: Resource
  ExpressRouteCircuitArpTable:
    description: The arp table associated with the ExpressRouteCircuit
    properties:
      ipAddress:
        description: Gets ipAddress.
        type: string
        required: false
      macAddress:
        description: Gets macAddress.
        type: string
        required: false
  ExpressRouteCircuitAuthorization:
    type: SubResource
  ExpressRouteCircuitListResult:
    description: Response for ListExpressRouteCircuit Api service call
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets a list of ExpressRouteCircuits in a resource group
        items:
          type: ExpressRouteCircuit
        type: array
        required: false
  ExpressRouteCircuitPeering:
    type: SubResource
  ExpressRouteCircuitPeeringConfig:
    description: Specfies the peering config
    properties:
      advertisedPublicPrefixes:
        description: Gets or sets the reference of AdvertisedPublicPrefixes
        items:
          type: string
        type: array
        required: false
      advertisedPublicPrefixesState:
        description: 'Gets or sets AdvertisedPublicPrefixState of the Peering resource '
        enum:
          - NotConfigured
          - Configuring
          - Configured
          - ValidationNeeded
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
      customerASN:
        description: Gets or Sets CustomerAsn of the peering.
        format: int32
        type: integer
        required: false
      routingRegistryName:
        description: Gets or Sets RoutingRegistryName of the config.
        type: string
        required: false
  ExpressRouteCircuitPeeringListResult:
    description: Response for ListPeering Api service callRetrieves all Peerings that belongs to an ExpressRouteCircuit
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets the peerings in an express route circuit
        items:
          type: ExpressRouteCircuitPeering
        type: array
        required: false
  ExpressRouteCircuitPeeringPropertiesFormat:
    properties:
      azureASN:
        description: Gets or sets the azure ASN
        format: int32
        type: integer
        required: false
      microsoftPeeringConfig:
        description: Gets or sets the mircosoft peering config
        type: ExpressRouteCircuitPeeringConfig
        required: false
      peerASN:
        description: Gets or sets the peer ASN
        format: int32
        type: integer
        required: false
      peeringType:
        description: Gets or sets PeeringType
        enum:
          - AzurePublicPeering
          - AzurePrivatePeering
          - MicrosoftPeering
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ExpressRouteCircuitPeeringType
      primaryAzurePort:
        description: Gets or sets the primary port
        type: string
        required: false
      primaryPeerAddressPrefix:
        description: Gets or sets the primary address prefix
        type: string
        required: false
      provisioningState:
        description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
        required: false
      secondaryAzurePort:
        description: Gets or sets the secondary port
        type: string
        required: false
      secondaryPeerAddressPrefix:
        description: Gets or sets the secondary address prefix
        type: string
        required: false
      sharedKey:
        description: Gets or sets the shared key
        type: string
        required: false
      state:
        description: Gets or sets state of Peering
        enum:
          - Disabled
          - Enabled
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ExpressRouteCircuitPeeringState
      stats:
        description: Gets or peering stats
        type: ExpressRouteCircuitStats
        required: false
      vlanId:
        description: Gets or sets the vlan id
        format: int32
        type: integer
        required: false
  ExpressRouteCircuitPropertiesFormat:
    description: Properties of ExpressRouteCircuit
    properties:
      authorizations:
        description: Gets or sets list of authorizations
        items:
          type: ExpressRouteCircuitAuthorization
        type: array
        required: false
      circuitProvisioningState:
        description: 'Gets or sets CircuitProvisioningState state of the resource '
        type: string
        required: false
      peerings:
        description: Gets or sets list of peerings
        items:
          type: ExpressRouteCircuitPeering
        type: array
        required: false
      provisioningState:
        description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
        required: false
      serviceKey:
        description: Gets or sets ServiceKey
        type: string
        required: false
      serviceProviderNotes:
        description: Gets or sets ServiceProviderNotes
        type: string
        required: false
      serviceProviderProperties:
        description: Gets or sets ServiceProviderProperties
        type: ExpressRouteCircuitServiceProviderProperties
        required: false
      serviceProviderProvisioningState:
        description: 'Gets or sets ServiceProviderProvisioningState state of the resource '
        enum:
          - NotProvisioned
          - Provisioning
          - Provisioned
          - Deprovisioning
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ServiceProviderProvisioningState
  ExpressRouteCircuitRoutesTable:
    description: The routes table associated with the ExpressRouteCircuit
    properties:
      addressPrefix:
        description: Gets AddressPrefix.
        type: string
        required: false
      asPath:
        description: Gets AsPath.
        type: string
        required: false
      nextHopIP:
        description: Gets NextHopIP.
        type: string
        required: false
      nextHopType:
        description: Gets NextHopType.
        enum:
          - VirtualNetworkGateway
          - VnetLocal
          - Internet
          - VirtualAppliance
          - None
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: RouteNextHopType
  ExpressRouteCircuitServiceProviderProperties:
    description: Contains ServiceProviderProperties in an ExpressRouteCircuit
    properties:
      bandwidthInMbps:
        description: Gets or sets BandwidthInMbps.
        format: int32
        type: integer
        required: false
      peeringLocation:
        description: Gets or sets peering location.
        type: string
        required: false
      serviceProviderName:
        description: Gets or sets serviceProviderName.
        type: string
        required: false
  ExpressRouteCircuitSku:
    description: Contains sku in an ExpressRouteCircuit
    properties:
      family:
        description: Gets or sets family of the sku.
        enum:
          - UnlimitedData
          - MeteredData
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ExpressRouteCircuitSkuFamily
      name:
        description: Gets or sets name of the sku.
        type: string
        required: false
      tier:
        description: Gets or sets tier of the sku.
        enum:
          - Standard
          - Premium
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ExpressRouteCircuitSkuTier
  ExpressRouteCircuitStats:
    description: Contains Stats associated with the peering
    properties:
      bytesIn:
        description: Gets BytesIn of the peering.
        format: int32
        type: integer
        required: false
      bytesOut:
        description: Gets BytesOut of the peering.
        format: int32
        type: integer
        required: false
  ExpressRouteCircuitsArpTableListResult:
    description: Response for ListArpTable associated with the Express Route Circuits Api
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets List of ArpTable
        items:
          type: ExpressRouteCircuitArpTable
        type: array
        required: false
  ExpressRouteCircuitsRoutesTableListResult:
    description: Response for ListRoutesTable associated with the Express Route Circuits Api
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets List of RoutesTable
        items:
          type: ExpressRouteCircuitRoutesTable
        type: array
        required: false
  ExpressRouteCircuitsStatsListResult:
    description: Response for ListStats from Express Route Circuits Api service call
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets List of Stats
        items:
          type: ExpressRouteCircuitStats
        type: array
        required: false
  ExpressRouteServiceProvider:
    description: ExpressRouteResourceProvider object
    properties:
      id:
        description: Gets or sets the ID of the resource.
        type: string
        required: false
      name:
        description: Gets or sets the name of the resource.
        type: string
        required: false
      properties:
        type: ExpressRouteServiceProviderPropertiesFormat
        required: false
      type:
        description: Gets or sets the type of the resource.
        type: string
        required: false
  ExpressRouteServiceProviderBandwidthsOffered:
    description: Contains Bandwidths offered in ExpressRouteServiceProviders
    properties:
      offerName:
        description: Gets the OfferName
        type: string
        required: false
      valueInMbps:
        description: Gets the ValueInMbps.
        format: int32
        type: integer
        required: false
  ExpressRouteServiceProviderListResult:
    description: Response for ListExpressRouteServiceProvider Api service call
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
        description: Gets List of ExpressRouteResourceProvider
        items:
          type: ExpressRouteServiceProvider
        type: array
        required: false
  ExpressRouteServiceProviderPropertiesFormat:
    description: Properties of ExpressRouteServiceProvider
    properties:
      bandwidthsOffered:
        description: Gets or bandwidths offered
        items:
          type: ExpressRouteServiceProviderBandwidthsOffered
        type: array
        required: false
      peeringLocations:
        description: Gets or list of peering locations
        items:
          type: string
        type: array
        required: false
      provisioningState:
        description: 'Gets or sets Provisioning state of the resource '
        type: string
        required: false
  FrontendIpConfiguration:
    type: SubResource
  FrontendIpConfigurationPropertiesFormat:
    description: Properties of Frontend IP Configuration of the load balancer
    properties:
      inboundNatPools:
        description: Read only.Inbound pools URIs that use this frontend IP
        items:
          type: SubResource
        type: array
        required: false
      inboundNatRules:
        description: Read only.Inbound rules URIs that use this frontend IP
        items:
          type: SubResource
        type: array
        required: false
      loadBalancingRules:
        description: Gets Load Balancing rules URIs that use this frontend IP
        items:
          type: SubResource
        type: array
        required: false
      outboundNatRules:
        description: Read only.Outbound rules URIs that use this frontend IP
        items:
          type: SubResource
        type: array
        required: false
      privateIPAddress:
        description: Gets or sets the IP address of the Load Balancer.This is only specified if a specific private IP address shall be allocated from the subnet specified in subnetRef
        type: string
        required: false
      privateIPAllocationMethod:
        description: Gets or sets PrivateIP allocation method (Static/Dynamic)
        enum:
          - Static
          - Dynamic
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: IpAllocationMethod
      provisioningState:
        description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
        required: false
      publicIPAddress:
        description: Gets or sets the reference of the PublicIP resource
        type: SubResource
        required: false
      subnet:
[...]
