#%RAML 1.0
title: CognitiveServicesManagementClient
version: 2016-02-01-preview
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: Cognitive Services Management Client
(oas-info):
  (oas-x-apisguru-categories):
    - machine_learning
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-cognitiveservices/2016-02-01-preview/swagger/cognitiveservices.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-cognitiveservices
  (oas-x-tags):
    - Azure
    - Microsoft
    - Bing
    - text analytics
    - web language model
    - spell check
    - speech to text
    - computer vision
    - emotion recognition
    - intelligent recommendations
    - semantic search
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-responses-example:
    type: string
    allowedTargets: TypeDeclaration
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.CognitiveServices:
            displayName: Microsoft.CognitiveServices
            /accounts:
              displayName: accounts
              '/{accountName}':
                displayName: '{accountName}'
                /skus:
                  displayName: skus
                  get:
                    displayName: CognitiveServicesAccounts_ListSkus
                    description: List available SKUs for the requested Cognitive Services account
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: Error
                      description: 'Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) will be returned.'
                    responses:
                      '200':
                        body:
                          application/json:
                            type: CognitiveServicesAccountEnumerateSkusResult
                            (oas-responses-example): |-
                              {
                                  "value": [
                                      {
                                          "resourceType": "Microsoft.CognitiveServices/accounts"
                                          "sku": {
                                              "name": "sku name",
                                              "tier": "sku tier"
                                          }
                                      },
                                      {
                                          "resourceType": "Microsoft.CognitiveServices/accounts"
                                          "sku": {
                                              "name": "sku name",
                                              "tier": "sku tier"
                                          }
                                      }
                                  ]
                              }
                        description: "The resource provider should return 200 (OK) to indicate that the operation completed successfully.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are “name,” “type” and “id.”\nField\tDescription\nsku\tRequired, object\n\tThe exact set of keys that define this sku. This matches the fields on the respective resource.\nsku.name\tRequired, string\n\tThe name of the SKU. This is typically a letter + number code, such as A0 or P3\nsku.tier\tRequired, string\n\tThe tier of this particular SKU. Typically one of:\n\t· Free\n\t· Basic\n\t· Standard\n\t· Premium\n"
                    (oas-tags):
                      - CognitiveServicesAccounts
                /regenerateKey:
                  displayName: regenerateKey
                  post:
                    displayName: CognitiveServicesAccounts_RegenerateKey
                    description: Regenerates the specified account key for the specified Cognitive Services account.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: RegenerateKeyParameters
                        (oas-body-name): body
                        description: regenerate key parameters.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: Error
                      description: Error response describing why the operation failed
                    responses:
                      '200':
                        body:
                          application/json:
                            type: CognitiveServicesAccountKeys
                    (oas-tags):
                      - CognitiveServicesAccounts
                /listKeys:
                  displayName: listKeys
                  post:
                    displayName: CognitiveServicesAccounts_ListKeys
                    description: Lists the account keys for the specified Cognitive Services account.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: Error
                      description: Error response describing why the operation failed
                    responses:
                      '200':
                        body:
                          application/json:
                            type: CognitiveServicesAccountKeys
                            example:
                              key1: xxxx
                              key2: xxxxx
                        description: |-
                          Returns with a response body containing the subscription keys for the resource: key1
                          The first API key for authentication when client calls the API endpoint.

                          key2
                          The second API key for authentication when client calls the API endpoint.
                    (oas-tags):
                      - CognitiveServicesAccounts
                uriParameters:
                  accountName:
                    description: The name of the cognitive services account within the specified resource group. Cognitive Services account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
                    maxLength: 24
                    minLength: 3
                    pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
                    required: true
                    type: string
                put:
                  displayName: CognitiveServicesAccounts_Create
                  description: Create Cognitive Services Account. Accounts is a resource group wide resource type. It holds the keys for developer to access intelligent APIs. It's also the resource type for billing.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: CognitiveServicesAccountCreateParameters
                      (oas-body-name): parameters
                      description: The parameters to provide for the created account.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: Error response describing why the operation failed
                  responses:
                    '200':
                      body:
                        application/json:
                          type: CognitiveServicesAccount
                      description: 'If resource is created successfully or already existed, the service should return 200 (OK).'
                    '201':
                      body:
                        application/json:
                          type: CognitiveServicesAccount
                      description: 'If resource is created successfully, the service should return 201 (OK).'
                  (oas-tags):
                    - CognitiveServicesAccounts
                patch:
                  displayName: CognitiveServicesAccounts_Update
                  description: Updates a Cognitive Services account
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: CognitiveServicesAccountUpdateParameters
                      (oas-body-name): body
                      description: The parameters to provide for the created account.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: CognitiveServicesAccount
                      description: 'The resource provider should return 200 (OK) to indicate that the operation completed successfully. '
                  (oas-tags):
                    - CognitiveServicesAccounts
                get:
                  displayName: CognitiveServicesAccounts_GetProperties
                  description: Returns a Cognitive Services account specified by the parameters.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) should be returned.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: CognitiveServicesAccount
                          (oas-responses-example): "{\n  “id”: “/subscriptions/{id}/resourceGroups/{group}/providers/{rpns}/{type}/{name}”,\n  “name”: “{name}”,\n  “type”: “Microsoft.CognitiveSerices/accounts”,\n  \"location\": \"North US\",\n  \"tags\": {\n    \"key1\": \"value 1\",\n    \"key2\": \"value 2\"\n   },\n  \"kind\" : \"resource kind\",\n   \"sku\": {\n\t    \"name\": \"sku code\"\n\t} \n  “etag”: “00000000-0000-0000-0000-000000000000”,\n  \"properties\": { }\n}"
                      description: "The resource provider should return 200 (OK) to indicate that the operation completed successfully.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are “name,” “type” and “id.”\nField\tDescription\nKind\trequired.  String.\n\tThe API set for this API account. It can be \n\t· a single API, for example: Face API, Vision API, Speech API. \n\ta bundle of APIs:  Face + Speech, Vision + Emotion, etc.\nsku.name\tRequired.\n\tThe pricing tier/plan of this API. Could be: \n\tF0 - Free\n\tB0 - Basic\n\tS0 - Standard\n\tP0 - Premium\n"
                  (oas-tags):
                    - CognitiveServicesAccounts
                delete:
                  displayName: CognitiveServicesAccounts_Delete
                  description: 'Deletes a Cognitive Services account from the resource group. '
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: Error response describing why the operation failed
                  responses:
                    '200':
                      description: A 200 (OK) should be returned if the object exists and was deleted successfully;
                    '204':
                      description: a 204 (NoContent) should be used if the resource does not exist and the request is well formed.
                  (oas-tags):
                    - CognitiveServicesAccounts
              get:
                (oas-x-ms-pageable): {}
                displayName: CognitiveServicesAccounts_ListByResourceGroup
                description: Returns all the resources of a particular type belonging to a resource group
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: Error
                  description: 'Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: CognitiveServicesAccountListResult
                        (oas-responses-example): "{\n  “value”: [\n    {\n        “id”: “{url to resource 1}”,\n        “name”: “Name1”,\n        “type”: “Microsoft.CognitiveServices/accounts”,\n        \"location\": \"North US\"    \n        \"kind\" : \"resource kind\",\n        \"sku\": {\n\t        \"name\": \"sku code\"\n\t  }, \n        \"etag\": \"00000000-0000-0000-0000-000000000000\",\n        \"properties\": { }\n    },\n    {\n        “id”: “{url to resource 2}”,\n        “name”: “Name2”,\n        “type”: “Microsoft.CognitiveServices/accounts”,\n        \"location\": \"North US\",\n        \"kind\" : \"resource kind\",\n        \"sku\": {\n\t        \"name\": \"sku code\"\n\t  }, \n        \"etag\": \"00000000-0000-0000-0000-000000000000\",\n        \"properties\": { }\n    }\n  ],\n  “nextLink”: “{originalRequestUrl}?$skipToken={opaqueString}”\n}"
                    description: |-
                      The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.
                      The nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses here. If a resource provider does not support paging, it should return the same body (JSON object with “value” property) but omit nextLink entirely (or set to null, *not* empty string) for future compatibility.
                      The nextLink should be implemented using following query parameters:
                      · skipToken: opaque token that allows the resource provider to skip resources already enumerated. This value is defined and returned by the RP after first request via nextLink.
                      · top: the optional client query parameter which defines the maximum number of records to be returned by the server.
                      Implementation details:
                      · NextLink may include all the query parameters (specifically OData $filter) used by the client in the first query. 
                      · Server may return less records than requested with nextLink. Returning zero records with NextLink is an acceptable response. 
                      Clients must fetch records until the nextLink is not returned back / null. Clients should never rely on number of returned records to determinate if pagination is completed.
                (oas-tags):
                  - CognitiveServicesAccounts
    /providers:
      displayName: providers
      /Microsoft.CognitiveServices:
        displayName: Microsoft.CognitiveServices
        /accounts:
          displayName: accounts
          get:
            (oas-x-ms-pageable): {}
            displayName: CognitiveServicesAccounts_List
            description: Returns all the resources of a particular type belonging to a subscription.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: Error
              description: Error response describing why the operation failed
            responses:
              '200':
                body:
                  application/json:
                    type: CognitiveServicesAccountListResult
                    (oas-responses-example): |
                      {
                        “value”: [
                          {
                              “id”: “{url to resource 1}”,
                              “name”: “Name1”,
                              “type”: “Microsoft.CognitiveServices/accounts”,
                              "location": "North US"    
                              "kind" : "resource kind",
                                  "sku": {
                                  "name": "sku code"
                              }, 
                             "etag": "00000000-0000-0000-0000-000000000000",
                              "properties": { }
                          },
                          {
                              “id”: “{url to resource 2}”,
                              “name”: “Name2”,
                              “type”: “Microsoft.CognitiveServices/accounts”,
                              "location": "North US",
                              "kind" : "resource kind",
                                  "sku": {
                                  "name": "sku code"
                              }, 
                             "etag": "00000000-0000-0000-0000-000000000000",
                              "properties": { }
                          }
                        ],
                        “nextLink”: “{originalRequestUrl}?$skipToken={opaqueString}”
                      }
                description: |-
                  The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.
                  The nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses. If a resource provider does not support paging, it should return the same body but leave nextLink empty for future compatibility.
                  For a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. 
            (oas-tags):
              - CognitiveServicesAccounts
types:
  CognitiveServicesAccount:
    description: 'Cognitive Services Account is an Azure resource representing the provisioned account, its type, location and SKU.'
    properties:
      etag:
        description: Entity Tag
        type: string
        required: false
      id:
        description: The id of the created account
        type: string
        required: false
      kind:
        description: Type of cognitive service account.
        type: string
        required: false
      location:
        description: The location of the resource
        type: string
        required: false
      name:
        description: The name of the created account
        type: string
        required: false
      properties:
        type: CognitiveServicesAccountProperties
        required: false
        (oas-x-ms-client-flatten): true
      sku:
        type: Sku
        required: false
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
        required: false
      type:
        description: Resource type
        type: string
        required: false
  CognitiveServicesAccountCreateParameters:
    description: The parameters to provide for the account.
    properties:
      kind:
        description: Required. Indicates the type of cognitive service account.
        enum:
          - ComputerVision
          - Emotion
          - Face
          - LUIS
          - Recommendations
          - Speech
          - TextAnalytics
          - WebLM
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: Kind
      location:
        description: 'Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update the request will succeed.'
        type: string
      properties:
        description: Must exist in the request. Must not be null.
        type: CognitiveServicesAccountPropertiesCreateParameters
        (oas-x-ms-client-flatten): true
      sku:
        type: Sku
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
        required: false
  CognitiveServicesAccountEnumerateSkusResult:
    description: The list of cognitive services accounts operation response.
    properties:
      value:
        description: Gets the list of Cognitive Services accounts and their properties.
        items:
          type: CognitiveServicesResourceAndSku
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  CognitiveServicesAccountKeys:
    description: The access keys for the cognitive services account.
    properties:
      key1:
        description: Gets the value of key 1.
        type: string
        required: false
      key2:
        description: Gets the value of key 2.
        type: string
        required: false
  CognitiveServicesAccountListResult:
    description: The list of cognitive services accounts operation response.
    properties:
      value:
        description: Gets the list of Cognitive Services accounts and their properties.
        items:
          type: CognitiveServicesAccount
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  CognitiveServicesAccountProperties:
    properties:
      endpoint:
        description: Endpoint of the created account
        type: string
        required: false
      provisioningState:
        description: Gets the status of the cognitive services account at the time the operation was called.
        enum:
          - Creating
          - ResolvingDNS
          - Succeeded
          - Failed
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ProvisioningState
  CognitiveServicesAccountPropertiesCreateParameters:
    description: 'required empty proprties object. Must be an empty object, and must exist in the request.'
  CognitiveServicesAccountUpdateParameters:
    description: The parameters to provide for the account.
    properties:
      sku:
        type: Sku
        required: false
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
        required: false
  CognitiveServicesResourceAndSku:
    properties:
      resourceType:
        description: Resource Namespace and Type
        type: string
        required: false
      sku:
        type: Sku
        required: false
  Error:
    properties:
      error:
        type: ErrorBody
        required: false
  ErrorBody:
    properties:
      code:
        description: error code
        type: string
      message:
        description: error message
        type: string
  RegenerateKeyParameters:
    description: Regenerate key parameters.
    properties:
      keyName:
        description: key name to generate (Key1|Key2)
        enum:
          - Key1
          - Key2
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: KeyName
  Sku:
    description: The SKU of the cognitive services account.
    properties:
      name:
        description: 'Gets or sets the sku name. Required for account creation, optional for update.'
        enum:
          - F0
          - S0
          - S1
          - S2
          - S3
          - S4
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: SkuName
      tier:
        description: Gets the sku tier. This is based on the SKU name.
        enum:
          - Free
          - Standard
          - Premium
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: SkuTier
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Version of the API to be used with the client request. Current version is 2016-02-01-preview
        required: true
