#%RAML 1.0
title: NotificationHubsManagementClient
version: '2014-09-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: Azure NotificationHub client
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-notificationhubs/2014-09-01/swagger/notificationhubs.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-notificationhubs
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-enum: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.NotificationHubs:
            displayName: Microsoft.NotificationHubs
            /namespaces:
              displayName: namespaces
              '/{namespaceName}':
                displayName: '{namespaceName}'
                /checkNotificationHubAvailability:
                  displayName: checkNotificationHubAvailability
                  post:
                    displayName: NotificationHubs_CheckAvailability
                    description: Checks the availability of the given notificationHub in a namespace.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: CheckAvailabilityParameters
                        (oas-body-name): parameters
                        description: The notificationHub name.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: CheckAvailabilityResource
                    (oas-tags):
                      - NotificationHubs
                    (oas-externalDocs):
                      url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx'
                /notificationHubs:
                  displayName: notificationHubs
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: NotificationHubs_List
                    description: Lists the notification hubs associated with a namespace.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: NotificationHubListResult
                    (oas-tags):
                      - NotificationHubs
                  '/{notificationHubName}':
                    displayName: '{notificationHubName}'
                    uriParameters:
                      notificationHubName:
                        description: The notification hub name.
                        required: true
                        type: string
                    delete:
                      displayName: NotificationHubs_Delete
                      description: Deletes a notification hub associated with a namespace.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                      (oas-tags):
                        - NotificationHubs
                    get:
                      displayName: NotificationHubs_Get
                      description: Lists the notification hubs associated with a namespace.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: NotificationHubResource
                      (oas-tags):
                        - NotificationHubs
                    put:
                      displayName: NotificationHubs_CreateOrUpdate
                      description: Creates/Update a NotificationHub in a namespace.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: NotificationHubCreateOrUpdateParameters
                          (oas-body-name): parameters
                          description: Parameters supplied to the create/update a NotificationHub Resource.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: NotificationHubResource
                        '201':
                          body:
                            application/json:
                              type: NotificationHubResource
                      (oas-tags):
                        - NotificationHubs
                      (oas-externalDocs):
                        url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx'
                    /AuthorizationRules:
                      displayName: AuthorizationRules
                      post:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: NotificationHubs_ListAuthorizationRules
                        description: Gets the authorization rules for a NotificationHub.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SharedAccessAuthorizationRuleListResult
                        (oas-tags):
                          - NotificationHubs
                      '/{authorizationRuleName}':
                        displayName: '{authorizationRuleName}'
                        uriParameters:
                          authorizationRuleName:
                            description: authorization rule name.
                            required: true
                            type: string
                        delete:
                          displayName: NotificationHubs_DeleteAuthorizationRule
                          description: Deletes a notificationHub authorization rule
                          is:
                            - apiVersionParameter
                          responses:
                            '200': {}
                            '204': {}
                          (oas-tags):
                            - NotificationHubs
                        /listKeys:
                          displayName: listKeys
                          post:
                            displayName: NotificationHubs_ListKeys
                            description: 'Gets the Primary and Secondary ConnectionStrings to the NotificationHub '
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: ResourceListKeys
                            (oas-tags):
                              - NotificationHubs
                            (oas-externalDocs):
                              url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
                        put:
                          displayName: NotificationHubs_CreateOrUpdateAuthorizationRule
                          description: Creates/Updates an authorization rule for a NotificationHub
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleCreateOrUpdateParameters
                              (oas-body-name): parameters
                              description: The shared access authorization rule.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SharedAccessAuthorizationRuleResource
                          (oas-tags):
                            - NotificationHubs
                        post:
                          displayName: NotificationHubs_GetAuthorizationRule
                          description: Gets an authorization rule for a NotificationHub by name.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SharedAccessAuthorizationRuleResource
                          (oas-tags):
                            - NotificationHubs
                    /pnsCredentials:
                      displayName: pnsCredentials
                      post:
                        displayName: NotificationHubs_GetPnsCredentials
                        description: Lists the PNS Credentials associated with a notification hub .
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: NotificationHubResource
                        (oas-tags):
                          - NotificationHubs
                uriParameters:
                  namespaceName:
                    description: The namespace name.
                    required: true
                    type: string
                get:
                  displayName: Namespaces_Get
                  description: Returns the description for the specified namespace.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NamespaceResource
                  (oas-tags):
                    - Namespaces
                  (oas-externalDocs):
                    url: 'http://msdn.microsoft.com/library/azure/dn140232.aspx'
                /AuthorizationRules:
                  displayName: AuthorizationRules
                  post:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Namespaces_ListAuthorizationRules
                    description: Gets the authorization rules for a namespace.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SharedAccessAuthorizationRuleListResult
                    (oas-tags):
                      - Namespaces
                  '/{authorizationRuleName}':
                    displayName: '{authorizationRuleName}'
                    uriParameters:
                      authorizationRuleName:
                        description: Authorization Rule Name.
                        required: true
                        type: string
                    post:
                      displayName: Namespaces_GetAuthorizationRule
                      description: Gets an authorization rule for a namespace by name.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleResource
                      (oas-tags):
                        - Namespaces
                    /listKeys:
                      displayName: listKeys
                      post:
                        displayName: Namespaces_ListKeys
                        description: 'Gets the Primary and Secondary ConnectionStrings to the namespace '
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ResourceListKeys
                        (oas-tags):
                          - Namespaces
                        (oas-externalDocs):
                          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
                    put:
                      displayName: Namespaces_CreateOrUpdateAuthorizationRule
                      description: Creates an authorization rule for a namespace
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SharedAccessAuthorizationRuleCreateOrUpdateParameters
                          (oas-body-name): parameters
                          description: The shared access authorization rule.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleResource
                      (oas-tags):
                        - Namespaces
                    delete:
                      displayName: Namespaces_DeleteAuthorizationRule
                      description: Deletes a namespace authorization rule
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '204': {}
                      (oas-tags):
                        - Namespaces
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: Namespaces_Delete
                  description: Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - Namespaces
                  (oas-externalDocs):
                    url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx'
                put:
                  displayName: Namespaces_CreateOrUpdate
                  description: 'Creates/Updates a service namespace. Once created, this namespace''s resource manifest is immutable. This operation is idempotent.'
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NamespaceCreateOrUpdateParameters
                      (oas-body-name): parameters
                      description: Parameters supplied to create a Namespace Resource.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NamespaceResource
                    '201':
                      body:
                        application/json:
                          type: NamespaceResource
                  (oas-tags):
                    - Namespaces
                  (oas-externalDocs):
                    url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx'
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Namespaces_List
                description: Lists the available namespaces within a resourceGroup.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NamespaceListResult
                (oas-tags):
                  - Namespaces
                (oas-externalDocs):
                  url: 'http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx'
    /providers:
      displayName: providers
      /Microsoft.NotificationHubs:
        displayName: Microsoft.NotificationHubs
        /checkNamespaceAvailability:
          displayName: checkNamespaceAvailability
          post:
            displayName: Namespaces_CheckAvailability
            description: Checks the availability of the given service namespace across all Windows Azure subscriptions. This is useful because the domain name is created based on the service namespace name.
            is:
              - apiVersionParameter
            body:
              application/json:
                type: CheckAvailabilityParameters
                (oas-body-name): parameters
                description: The namespace name.
            responses:
              '200':
                body:
                  application/json:
                    type: CheckAvailabilityResource
            (oas-tags):
              - Namespaces
            (oas-externalDocs):
              url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx'
        /namespaces:
          displayName: namespaces
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: Namespaces_ListAll
            description: Lists all the available namespaces within the subscription irrespective of the resourceGroups.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NamespaceListResult
            (oas-tags):
              - Namespaces
            (oas-externalDocs):
              url: 'http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx'
'/{operationStatusLink}':
  displayName: '{operationStatusLink}'
  uriParameters:
    operationStatusLink:
      description: Location value returned by the Begin operation.
      required: true
      type: string
  get:
    displayName: Namespaces_GetLongRunningOperationStatus
    description: 'The Get Operation Status operation returns the status of the specified operation. After calling an asynchronous operation, you can call Get Operation Status to determine whether the operation has succeeded, failed, or is still in progress.'
    responses:
      '200': {}
      '202': {}
      '404': {}
    (oas-tags):
      - Namespaces
types:
  AdmCredential:
    description: Description of a NotificationHub AdmCredential.
    properties:
      properties:
        description: Gets or sets properties of NotificationHub AdmCredential.
        type: AdmCredentialProperties
        required: false
  AdmCredentialProperties:
    description: Description of a NotificationHub AdmCredential.
    properties:
      authTokenUrl:
        description: Gets or sets the URL of the authorization token.
        type: string
        required: false
      clientId:
        description: Gets or sets the client identifier.
        type: string
        required: false
      clientSecret:
        description: Gets or sets the credential secret access key.
        type: string
        required: false
  ApnsCredential:
    description: Description of a NotificationHub ApnsCredential.
    properties:
      properties:
        description: Gets or sets properties of NotificationHub ApnsCredential.
        type: ApnsCredentialProperties
        required: false
  ApnsCredentialProperties:
    description: Description of a NotificationHub ApnsCredential.
    properties:
      apnsCertificate:
        description: Gets or sets the APNS certificate.
        type: string
        required: false
      certificateKey:
        description: Gets or sets the certificate key.
        type: string
        required: false
      endpoint:
        description: Gets or sets the endpoint of this credential.
        type: string
        required: false
      thumbprint:
        description: Gets or sets the Apns certificate Thumbprint
        type: string
        required: false
  BaiduCredential:
    description: Description of a NotificationHub BaiduCredential.
    properties:
      properties:
        description: Gets or sets properties of NotificationHub BaiduCredential.
        type: BaiduCredentialProperties
        required: false
  BaiduCredentialProperties:
    description: Description of a NotificationHub BaiduCredential.
    properties:
      baiduApiKey:
        description: Get or Set Baidu Api Key.
        type: string
        required: false
      baiduEndPoint:
        description: Get or Set Baidu Endpoint.
        type: string
        required: false
      baiduSecretKey:
        description: Get or Set Baidu Secret Key
        type: string
        required: false
  CheckAvailabilityParameters:
    description: Parameters supplied to the Check Name Availability for Namespace and NotificationHubs.
    properties:
      isAvailiable:
        description: Gets or sets true if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
        type: boolean
        required: false
      location:
        description: Gets or sets location.
        type: string
        required: false
      name:
        description: Gets or sets name
        type: string
      tags:
        description: Gets or sets tags.
        type: object
        required: false
        properties:
          //:
            type: string
  CheckAvailabilityResource:
    description: Description of a CheckAvailibility resource.
    properties:
      id:
        description: Gets or sets the id
        type: string
        required: false
      isAvailiable:
        description: Gets or sets true if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
        type: boolean
        required: false
      location:
        description: Gets or sets datacenter location
        type: string
        required: false
      name:
        description: Gets or sets name
        type: string
        required: false
      tags:
        description: Gets or sets tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Gets or sets resource type
        type: string
        required: false
  GcmCredential:
    description: Description of a NotificationHub GcmCredential.
    properties:
      properties:
        description: Gets or sets properties of NotificationHub GcmCredential.
        type: GcmCredentialProperties
        required: false
  GcmCredentialProperties:
    description: Description of a NotificationHub GcmCredential.
    properties:
      gcmEndpoint:
        description: Gets or sets the GCM endpoint.
        type: string
        required: false
      googleApiKey:
        description: Gets or sets the Google API key.
        type: string
        required: false
  MpnsCredential:
    description: Description of a NotificationHub MpnsCredential.
    properties:
      properties:
        description: Gets or sets properties of NotificationHub MpnsCredential.
        type: MpnsCredentialProperties
        required: false
  MpnsCredentialProperties:
    description: Description of a NotificationHub MpnsCredential.
    properties:
      certificateKey:
        description: Gets or sets the certificate key for this credential.
        type: string
        required: false
      mpnsCertificate:
        description: Gets or sets the MPNS certificate.
        type: string
        required: false
      thumbprint:
        description: Gets or sets the Mpns certificate Thumbprint
        type: string
        required: false
  NamespaceCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate Namespace operation.
    properties:
      location:
        description: Gets or sets Namespace data center location.
        type: string
      properties:
        description: Gets or sets properties of the Namespace.
        type: NamespaceProperties
      tags:
        description: Gets or sets Namespace tags.
        type: object
        required: false
        properties:
          //:
            type: string
  NamespaceListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Gets or sets link to the next set of results. Not empty if Value contains incomplete list of Namespaces
        type: string
        required: false
      value:
        description: Gets or sets result of the List Namespace operation.
        items:
          type: NamespaceResource
        type: array
        required: false
  NamespaceProperties:
    description: Namespace properties.
    properties:
      createdAt:
        description: The time the namespace was created.
        format: rfc3339
        type: datetime
        required: false
      critical:
        description: Whether or not the namespace is set as Critical.
        type: boolean
        required: false
      enabled:
        description: Whether or not the namespace is currently enabled.
        type: boolean
        required: false
      name:
        description: The name of the namespace.
        type: string
        required: false
      namespaceType:
        description: Gets or sets the namespace type.
        enum:
          - Messaging
          - NotificationHub
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: NamespaceType
      provisioningState:
        description: Gets or sets provisioning state of the Namespace.
        type: string
        required: false
      region:
        description: 'Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia EastAustralia SoutheastCentral USEast USEast US 2West USNorth Central USSouth Central USEast AsiaSoutheast AsiaBrazil SouthJapan EastJapan WestNorth EuropeWest Europe'
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
      scaleUnit:
        description: ScaleUnit where the namespace gets created
        type: string
        required: false
      serviceBusEndpoint:
        description: Endpoint you can use to perform NotificationHub operations.
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
      status:
        description: 'Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting'
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
      subscriptionId:
        description: The Id of the Azure subscription associated with the namespace.
        type: string
        required: false
  NamespaceResource:
    description: Description of a Namespace resource.
    properties:
      id:
        description: Gets or sets the id of the created Namespace.
        type: string
        required: false
      location:
        description: Gets or sets datacenter location of the Namespace.
        type: string
        required: false
      name:
        description: Gets or sets name of the Namespace.
        type: string
        required: false
      properties:
        description: Gets or sets properties of the Namespace.
        type: NamespaceProperties
        required: false
      tags:
        description: Gets or sets tags of the Namespace.
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Gets or sets resource type of the Namespace.
        type: string
        required: false
  NotificationHubCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate NotificationHub operation.
    properties:
      location:
        description: Gets or sets NotificationHub data center location.
        type: string
      properties:
        description: Gets or sets properties of the NotificationHub.
        type: NotificationHubProperties
      tags:
        description: Gets or sets NotificationHub tags.
        type: object
        required: false
        properties:
          //:
            type: string
  NotificationHubListResult:
    description: The response of the List NotificationHub operation.
    properties:
      nextLink:
        description: Gets or sets link to the next set of results. Not empty if Value contains incomplete list of NotificationHub
        type: string
        required: false
      value:
        description: Gets or sets result of the List NotificationHub operation.
        items:
          type: NotificationHubResource
        type: array
        required: false
  NotificationHubProperties:
    description: NotificationHub properties.
    properties:
      admCredential:
        description: The AdmCredential of the created NotificationHub
        type: AdmCredential
        required: false
      apnsCredential:
        description: The ApnsCredential of the created NotificationHub
        type: ApnsCredential
        required: false
      authorizationRules:
        description: The AuthorizationRules of the created NotificationHub
        items:
          type: SharedAccessAuthorizationRuleProperties
        type: array
        required: false
      baiduCredential:
        description: The BaiduCredential of the created NotificationHub
        type: BaiduCredential
        required: false
      gcmCredential:
        description: The GcmCredential of the created NotificationHub
        type: GcmCredential
        required: false
      mpnsCredential:
        description: The MpnsCredential of the created NotificationHub
        type: MpnsCredential
        required: false
      name:
        description: The NotificationHub name.
        type: string
        required: false
      registrationTtl:
        description: The RegistrationTtl of the created NotificationHub
        type: string
        required: false
      wnsCredential:
        description: The WnsCredential of the created NotificationHub
        type: WnsCredential
        required: false
  NotificationHubResource:
    description: Description of a NotificationHub Resource.
    properties:
      id:
        description: Gets or sets the id of the created NotificationHub.
        type: string
        required: false
      location:
        description: Gets or sets datacenter location of the NotificationHub.
        type: string
        required: false
      name:
        description: Gets or sets name of the NotificationHub.
        type: string
        required: false
      properties:
        description: Gets or sets properties of the NotificationHub.
        type: NotificationHubProperties
        required: false
      tags:
        description: Gets or sets tags of the NotificationHub.
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Gets or sets resource type of the NotificationHub.
        type: string
        required: false
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ResourceListKeys:
    description: Namespace/NotificationHub Connection String
    properties:
      primaryConnectionString:
        description: Gets or sets the primaryConnectionString of the created Namespace AuthorizationRule.
        type: string
        required: false
      secondaryConnectionString:
        description: Gets or sets the secondaryConnectionString of the created Namespace AuthorizationRule
        type: string
        required: false
  SharedAccessAuthorizationRuleCreateOrUpdateParameters:
    description: Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules.
    properties:
      location:
        description: Gets or sets Namespace data center location.
        type: string
        required: false
      name:
        description: Gets or sets Name of the Namespace AuthorizationRule.
        type: string
        required: false
      properties:
        description: Gets or sets properties of the Namespace AuthorizationRules.
        type: SharedAccessAuthorizationRuleProperties
  SharedAccessAuthorizationRuleListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Gets or sets link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules
        type: string
        required: false
      value:
        description: Gets or sets result of the List AuthorizationRules operation.
        items:
          type: SharedAccessAuthorizationRuleResource
        type: array
        required: false
  SharedAccessAuthorizationRuleProperties:
    description: SharedAccessAuthorizationRule properties.
    properties:
      claimType:
        description: The type of the claim.
        type: string
        required: false
      claimValue:
        description: The value of the claim.
        type: string
        required: false
      createdTime:
        description: The time at which the authorization rule was created.
        format: rfc3339
        type: datetime
        required: false
      keyName:
        description: The name of the key that was used.
        type: string
        required: false
      modifiedTime:
        description: The most recent time the rule was updated.
        format: rfc3339
        type: datetime
        required: false
      primaryKey:
        description: The primary key that was used.
        type: string
        required: false
      revision:
        description: The revision number for the rule.
        format: int32
        type: integer
        required: false
      rights:
        description: The rights associated with the rule.
        items:
          enum:
            - Manage
            - Send
            - Listen
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: AccessRights
        type: array
        required: false
      secondaryKey:
        description: The secondary key that was used.
        type: string
        required: false
  SharedAccessAuthorizationRuleResource:
    description: Description of a Namespace AuthorizationRules.
    properties:
      id:
        description: Gets or sets the id of the created Namespace AuthorizationRules.
        type: string
        required: false
      location:
        description: Gets or sets datacenter location of the Namespace AuthorizationRules.
        type: string
        required: false
      name:
        description: Gets or sets name of the Namespace AuthorizationRules.
        type: string
        required: false
      properties:
        description: Gets or sets properties of the Namespace.
        type: SharedAccessAuthorizationRuleProperties
        required: false
      tags:
        description: Gets or sets tags of the Namespace AuthorizationRules.
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Gets or sets resource type of the Namespace AuthorizationRules.
        type: string
        required: false
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
        required: false
  WnsCredential:
    description: Description of a NotificationHub WnsCredential.
    properties:
      properties:
        description: Gets or sets properties of NotificationHub WnsCredential.
        type: WnsCredentialProperties
        required: false
  WnsCredentialProperties:
    description: Description of a NotificationHub WnsCredential.
    properties:
      packageSid:
        description: Gets or sets the package ID for this credential.
        type: string
        required: false
      secretKey:
        description: Gets or sets the secret key.
        type: string
        required: false
      windowsLiveEndpoint:
        description: Gets or sets the Windows Live endpoint.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
