#%RAML 1.0
title: InsightsClient
version: '2014-04-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2014-04-01/swagger/insightsClient_UsageMetrics.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): insights
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-odata: any
  oas-x-ms-pageable: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
'/{resourceUri}':
  displayName: '{resourceUri}'
  /usages:
    displayName: usages
    get:
      (oas-x-ms-odata): '#/definitions/UsageMetric'
      (oas-x-ms-pageable): {}
      displayName: UsageMetrics_List
      description: The List operation lists the usage metrics for the resource.
      responses:
        '200':
          body:
            application/json:
              type: UsageMetricCollection
          description: Successful request to get the list of usage metric values
      queryParameters:
        api-version:
          description: 'Client Api Version. NOTE: This is not a client property, it must be explicit in the call and there is no default value.'
          required: true
          type: string
        $filter:
          description: The filter to apply on the operation.
          required: false
          type: string
      (oas-tags):
        - UsageMetrics
types:
  LocalizableString:
    description: The localizable string class.
    properties:
      localizedValue:
        description: the locale specific value.
        type: string
        required: false
      value:
        description: the invariant value.
        type: string
  UsageMetric:
    description: Usage Metric data.
    properties:
      currentValue:
        description: the current value for the usage metric.
        format: double
        type: number
        required: false
      id:
        description: the id for the usage metric.
        type: string
        required: false
      limit:
        description: the quota limit the usage metric.
        format: double
        type: number
        required: false
      name:
        description: the usage metric name and display name.
        type: LocalizableString
        required: false
      nextResetTime:
        description: the next reset time for the current value.
        format: rfc3339
        type: datetime
        required: false
      quotaPeriod:
        description: the amount of time it takes to reset the value.
        format: duration
        type: string
        facets:
          format: string
        required: false
      unit:
        description: the unit for the usage metric.
        type: string
        required: false
  UsageMetricCollection:
    description: Represents collection of usage metrics.
    properties:
      value:
        description: the usage values.
        items:
          type: UsageMetric
        type: array
