#%RAML 1.0
title: Engagement.ManagementClient
version: '2014-12-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: Microsoft Azure Mobile Engagement REST APIs.
(oas-info):
  (oas-x-apisguru-categories):
    - analytics
    - marketing
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-mobileengagement/2014-12-01/swagger/mobile-engagement.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-mobileengagement
  (oas-x-tags):
    - Azure
    - Microsoft
    - mobile
    - apps
    - dashboard
    - marketing
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.MobileEngagement:
            displayName: Microsoft.MobileEngagement
            /appcollections:
              displayName: appcollections
              '/{appCollection}':
                displayName: '{appCollection}'
                /apps:
                  displayName: apps
                  '/{appName}':
                    displayName: '{appName}'
                    /devices:
                      displayName: devices
                      /exportTasks:
                        displayName: exportTasks
                        get:
                          (oas-x-ms-pageable):
                            nextLinkName: nextLink
                          displayName: ExportTasks_List
                          description: Get the list of export tasks.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |-
                              * `4xx`: Bad request.
                              * `5xx`: Server error.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: exportTaskListResult
                              description: Success. Returns a list of export task statuses.
                          queryParameters:
                            $skip:
                              default: 0
                              description: 'Control paging of export tasks, start results at the given offset, defaults to 0 (1st page of data).'
                              minimum: 0
                              required: false
                              type: integer
                            $top:
                              default: 20
                              description: |-
                                Control paging of export tasks, number of export tasks to return with each call. By default, it returns all export tasks with a default paging of 20.
                                The response contains a `nextLink` property describing the path to get the next page if there are more results.
                                The maximum paging limit for $top is 40.
                              maximum: 40
                              minimum: 1
                              required: false
                              type: integer
                            $orderby:
                              description: |-
                                Sort results by an expression which looks like `$orderby=taskId asc` (default when not specified).
                                The syntax is orderby={property} {direction} or just orderby={property}.
                                Properties that can be specified for sorting: taskId, errorDetails, dateCreated, taskStatus, and dateCreated.
                                The available directions are asc (for ascending order) and desc (for descending order).
                                When not specified the asc direction is used.
                                Only one orderby property can be specified.
                              required: false
                              type: string
                          (oas-tags):
                            - export
                            - list
                        /activities:
                          displayName: activities
                          post:
                            displayName: ExportTasks_CreateActivitiesTask
                            description: Creates a task to export activities.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: dateRangeExportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /crashes:
                          displayName: crashes
                          post:
                            displayName: ExportTasks_CreateCrashesTask
                            description: Creates a task to export crashes.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: dateRangeExportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /errors:
                          displayName: errors
                          post:
                            displayName: ExportTasks_CreateErrorsTask
                            description: Creates a task to export errors.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: dateRangeExportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /events:
                          displayName: events
                          post:
                            displayName: ExportTasks_CreateEventsTask
                            description: Creates a task to export events.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: dateRangeExportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /feedbackByCampaign:
                          displayName: feedbackByCampaign
                          post:
                            displayName: ExportTasks_CreateFeedbackTaskByCampaign
                            description: Creates a task to export push campaign data for a set of campaigns.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: feedbackByCampaignParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /feedbackByDate:
                          displayName: feedbackByDate
                          post:
                            displayName: ExportTasks_CreateFeedbackTaskByDateRange
                            description: Creates a task to export push campaign data for a date range.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: feedbackByDateRangeParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /jobs:
                          displayName: jobs
                          post:
                            displayName: ExportTasks_CreateJobsTask
                            description: Creates a task to export jobs.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: dateRangeExportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /sessions:
                          displayName: sessions
                          post:
                            displayName: ExportTasks_CreateSessionsTask
                            description: Creates a task to export sessions.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: dateRangeExportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /tags:
                          displayName: tags
                          post:
                            displayName: ExportTasks_CreateTagsTask
                            description: Creates a task to export tags.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: exportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        /tokens:
                          displayName: tokens
                          post:
                            displayName: ExportTasks_CreateTokensTask
                            description: Creates a task to export tags.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: exportTaskParameter
                                (oas-body-name): parameters
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '202':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. Returns the state of export task.
                                headers:
                                  Location:
                                    type: string
                                    description: Location of the export task state.
                            (oas-tags):
                              - export
                              - crud
                        '/{id}':
                          displayName: '{id}'
                          uriParameters:
                            id:
                              description: Export task identifier.
                              required: true
                              type: string
                          get:
                            displayName: ExportTasks_Get
                            description: Retrieves information about a previously created export task.
                            is:
                              - apiVersionParameter
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |-
                                * `4xx`: Bad request.
                                * `5xx`: Server error.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: exportTaskResult
                                description: Success. The status of the export task is returned.
                            (oas-tags):
                              - export
                              - crud
                      /importTasks:
                        displayName: importTasks
                        get:
                          (oas-x-ms-pageable):
                            nextLinkName: nextLink
                          displayName: ImportTasks_List
                          description: Get the list of import jobs.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |-
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: importTaskListResult
                              description: 'Success, import jobs are returned as JSON.'
                          queryParameters:
                            $skip:
                              default: 0
                              description: 'Control paging of import jobs, start results at the given offset, defaults to 0 (1st page of data).'
                              minimum: 0
                              required: false
                              type: integer
                            $top:
                              default: 20
                              description: |-
                                Control paging of import jobs, number of import jobs to return with each call. By default, it returns all import jobs with a default paging of 20.
                                The response contains a `nextLink` property describing the path to get the next page if there are more results.
                                The maximum paging limit for $top is 40.
                              maximum: 40
                              minimum: 1
                              required: false
                              type: integer
                            $orderby:
                              description: |-
                                Sort results by an expression which looks like `$orderby=jobId asc` (default when not specified).
                                The syntax is orderby={property} {direction} or just orderby={property}.
                                Properties that can be specified for sorting: jobId, errorDetails, dateCreated, jobStatus, and dateCreated.
                                The available directions are asc (for ascending order) and desc (for descending order).
                                When not specified the asc direction is used.
                                Only one orderby property can be specified.
                              required: false
                              type: string
                          (oas-tags):
                            - import
                            - list
                        post:
                          displayName: ImportTasks_Create
                          description: Creates a job to import the specified data to a storageUrl.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: importTask
                              (oas-body-name): parameters
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                          responses:
                            '201':
                              body:
                                application/json:
                                  type: importTaskResult
                              description: 'Success, import job is returned.'
                              headers:
                                Location:
                                  type: string
                                  description: URL path to get the created import job.
                            '202':
                              body:
                                application/json:
                                  type: importTaskResult
                              description: 'Success, import job is returned.'
                              headers:
                                Location:
                                  type: string
                                  description: URL path to get the created import job.
                          (oas-tags):
                            - import
                            - crud
                        '/{id}':
                          displayName: '{id}'
                          uriParameters:
                            id:
                              description: Import job identifier.
                              required: true
                              type: string
                          get:
                            displayName: ImportTasks_Get
                            description: The Get import job operation retrieves information about a previously created import job.
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |
                                * `400`: Invalid parameters or application is disabled. Check response body for details.
                                * `401`: Authentication error.
                                * `404`: Import job not found.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: importTaskResult
                                description: 'Success, import job is returned.'
                            (oas-tags):
                              - import
                              - crud
                          is:
                            - apiVersionParameter
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Devices_List
                        description: Query the information associated to the devices running an application.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ApiError
                          description: |
                            * `400`: Invalid parameters or application is disabled. Check response body for details.
                            * `401`: Authentication error.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: DevicesQueryResult
                            description: 'If successful, the response has a 200 status code and a JSON object describing a collection of devices in the body.'
                        queryParameters:
                          $top:
                            description: Number of devices to return with each call. Defaults to 100 and cannot return more. Passing a greater value is ignored. The response contains a `nextLink` property describing the URI path to get the next page of results if not all results could be returned at once.
                            required: false
                            type: integer
                          $select:
                            description: 'By default all `meta` and `appInfo` properties are returned, this property is used to restrict the output to the desired properties. It also excludes all devices from the output that have none of the selected properties. In other terms, only devices having at least one of the selected property being set is part of the results. Examples: - `$select=appInfo` : select all devices having at least 1 appInfo, return them all and don’t return any meta property. - `$select=meta` : return only meta properties in the output. - `$select=appInfo,meta/firstSeen,meta/lastSeen` : return all `appInfo`, plus meta object containing only firstSeen and lastSeen properties. The format is thus a comma separated list of properties to select. Use `appInfo` to select all appInfo properties, `meta` to select all meta properties. Use `appInfo/{key}` and `meta/{key}` to select specific appInfo and meta properties.'
                            required: false
                            type: string
                          $filter:
                            description: 'Filter can be used to reduce the number of results. Filter is a boolean expression that can look like the following examples: * `$filter=deviceId gt ''abcdef0123456789abcdef0123456789''` * `$filter=lastModified le 1447284263690L` * `$filter=(deviceId ge ''abcdef0123456789abcdef0123456789'') and (deviceId lt ''bacdef0123456789abcdef0123456789'') and (lastModified gt 1447284263690L)` The first example is used automatically for paging when returning the `nextLink` property. The filter expression is a combination of checks on some properties that can be compared to their value. The available operators are: * `gt`  : greater than * `ge`  : greater than or equals * `lt`  : less than * `le`  : less than or equals * `and` : to add multiple checks (all checks must pass), optional parentheses can be used. The properties that can be used in the expression are the following: * `deviceId {operator} ''{deviceIdValue}''` : a lexicographical comparison is made on the deviceId value, use single quotes for the value. * `lastModified {operator} {number}L` : returns only meta properties or appInfo properties whose last value modification timestamp compared to the specified value is matching (value is milliseconds since January 1st, 1970 UTC). Please note the `L` character after the number of milliseconds, its required when the number of milliseconds exceeds `2^31 - 1` (which is always the case for recent timestamps). Using `lastModified` excludes all devices from the output that have no property matching the timestamp criteria, like `$select`. Please note that the internal value of `lastModified` timestamp for a given property is never part of the results.'
                            required: false
                            type: string
                        (oas-tags):
                          - Device
                      '/{deviceId}':
                        displayName: '{deviceId}'
                        uriParameters:
                          deviceId:
                            description: Device identifier.
                            required: true
                            type: string
                        get:
                          displayName: Devices_GetByDeviceId
                          description: Get the information associated to a device running an application.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                              * `404`: Device not found.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Device
                              description: 'Success, device is returned.'
                          (oas-tags):
                            - Device
                      /tag:
                        displayName: tag
                        post:
                          displayName: Devices_TagByDeviceId
                          description: |
                            Update the tags registered for a set of devices running an application. Updates are performed asynchronously, meaning that a few seconds are needed before the modifications appear in the results of the Get device command.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: DeviceTagsParameters
                              (oas-body-name): parameters
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                              * `413`: Can be caused by having too many device identifiers (current limit is 1000).
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: DeviceTagsResult
                              description: 'Success, invalid device identifiers are returned.'
                          (oas-tags):
                            - Device
                    /users:
                      displayName: users
                      '/{userId}':
                        displayName: '{userId}'
                        uriParameters:
                          userId:
                            description: User identifier.
                            required: true
                            type: string
                        get:
                          displayName: Devices_GetByUserId
                          description: Get the information associated to a device running an application using the user identifier.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                              * `404`: User not found.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Device
                              description: 'Success, device is returned.'
                          (oas-tags):
                            - Device
                      /tag:
                        displayName: tag
                        post:
                          displayName: Devices_TagByUserId
                          description: |
                            Update the tags registered for a set of users running an application. Updates are performed asynchronously, meaning that a few seconds are needed before the modifications appear in the results of the Get device command.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: DeviceTagsParameters
                              (oas-body-name): parameters
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                              * `413`: Can be caused by having too many user identifiers (current limit is 1000).
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: DeviceTagsResult
                              description: 'Success, invalid user identifiers are returned.'
                          (oas-tags):
                            - Device
                    /campaigns:
                      displayName: campaigns
                      '/{kind}':
                        displayName: '{kind}'
                        uriParameters:
                          kind:
                            description: Campaign kind.
                            enum:
                              - announcements
                              - polls
                              - dataPushes
                              - nativePushes
                            required: true
                            type: string
                        get:
                          (oas-x-ms-pageable):
                            nextLinkName: nextLink
                          displayName: Campaigns_List
                          description: Get the list of campaigns.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |-
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: CampaignsListResult
                              description: 'Success, campaigns are returned as JSON.'
                          queryParameters:
                            $skip:
                              description: 'Control paging of campaigns, start results at the given offset, defaults to 0 (1st page of data).'
                              required: false
                              type: integer
                            $top:
                              description: 'Control paging of campaigns, number of campaigns to return with each call. It returns all campaigns by default. When specifying $top parameter, the response contains a `nextLink` property describing the path to get the next page if there are more results.'
                              required: false
                              type: integer
                            $filter:
                              description: 'Filter can be used to restrict the results to campaigns matching a specific state. The syntax is `$filter=state eq ''draft''`. Valid state values are: draft, scheduled, in-progress, and finished. Only the eq operator and the state property are supported.'
                              required: false
                              type: string
                            $orderby:
                              description: 'Sort results by an expression which looks like `$orderby=id asc` (this example is actually the default behavior). The syntax is orderby={property} {direction} or just orderby={property}. The available sorting properties are id, name, state, activatedDate, and finishedDate. The available directions are asc (for ascending order) and desc (for descending order). When not specified the asc direction is used. Only one property at a time can be used for sorting.'
                              required: false
                              type: string
                            $search:
                              description: 'Restrict results to campaigns matching the optional `search` expression. This currently performs the search based on the name on the campaign only, case insensitive. If the campaign contains the value of the `search` parameter anywhere in the name, it matches.'
                              required: false
                              type: string
                          (oas-tags):
                            - Campaign
                            - List
                        /test:
                          displayName: test
                          post:
                            displayName: Campaigns_TestNew
                            description: Test a new campaign on a set of devices.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: CampaignTestNewParameters
                                (oas-body-name): parameters
                                description: Parameters supplied to the Test Campaign operation.
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |
                                * `400`: Invalid parameters or application is disabled. Check response body for details.
                                * `401`: Authentication error.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: CampaignState
                                description: Test campaign queued successfully.
                            (oas-tags):
                              - Campaign
                              - Test
                        '/{id}':
                          displayName: '{id}'
                          uriParameters:
                            id:
                              description: Campaign identifier.
                              required: true
                              type: integer
                          get:
                            displayName: Campaigns_Get
                            description: The Get campaign operation retrieves information about a previously created campaign.
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |
                                * `400`: Invalid parameters or application is disabled. Check response body for details.
                                * `401`: Authentication error.
                                * `404`: Campaign not found.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: CampaignResult
                                description: 'Success, campaign is returned.'
                            (oas-tags):
                              - Campaign
                              - CRUD
                          is:
                            - apiVersionParameter
                          /activate:
                            displayName: activate
                            post:
                              displayName: Campaigns_Activate
                              description: Activate a campaign previously created by a call to Create campaign.
                              is:
                                - apiVersionParameter
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: ApiError
                                description: |
                                  * `400`: Invalid parameters or application is disabled or campaign not in `draft` state.
                                  * `401`: Authentication error.
                                  * `404`: Campaign not found.
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: CampaignStateResult
                                  description: Activated successfully.
                              (oas-tags):
                                - Campaign
                                - Action
                          /push:
                            displayName: push
                            post:
                              displayName: Campaigns_Push
                              description: Push a previously saved campaign (created with Create campaign) to a set of devices.
                              is:
                                - apiVersionParameter
                              body:
                                application/json:
                                  type: CampaignPushParameters
                                  (oas-body-name): parameters
                                  description: Parameters supplied to the Push Campaign operation.
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: ApiError
                                description: |
                                  * `400`: Invalid parameters or application is disabled or campaign not in `in progress` state or `pushMode` is not `manual`. * `401`: Authentication error.
                                  * `404`: Campaign not found.
                                  * `413`: Too many device identifiers (current limit is 1000), or request body too large.
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: CampaignPushResult
                                  description: 'OK, response body includes rejected devices.'
                              (oas-tags):
                                - Campaign
                                - Action
                          /suspend:
                            displayName: suspend
                            post:
                              displayName: Campaigns_Suspend
                              description: Suspend a push campaign previously activated by a call to Activate campaign.
                              is:
                                - apiVersionParameter
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: ApiError
                                description: |
                                  * `400`: Invalid parameters or application is disabled or campaign not in `scheduled` state.
                                  * `401`: Authentication error.
                                  * `404`: Campaign not found.
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: CampaignStateResult
                                  description: Suspended successfully.
                              (oas-tags):
                                - Campaign
                                - Action
                          put:
                            displayName: Campaigns_Update
                            description: 'Update an existing push campaign (announcement, poll, data push or native push).'
                            body:
                              application/json:
                                type: Campaign
                                (oas-body-name): parameters
                                description: Parameters supplied to the Update Campaign operation.
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |
                                * `400`: Invalid parameters or application is disabled or campaign is not in `draft` state.
                                * `401`: Authentication error.
                                * `404`: Campaign not found.
                                * `409`: Another campaign with the same name already exists.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: CampaignStateResult
                                description: Updated successfully.
                            (oas-tags):
                              - Campaign
                              - CRUD
                          /statistics:
                            displayName: statistics
                            get:
                              displayName: Campaigns_GetStatistics
                              description: Get all the campaign statistics.
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: ApiError
                                description: |
                                  * `400`: Invalid parameters or application is disabled. Check response body for details.
                                  * `401`: Authentication error.
                                  * `404`: Campaign not found.
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: CampaignStatisticsResult
                                  description: 'Success, statistics are returned as JSON.'
                              (oas-tags):
                                - Campaign
                            is:
                              - apiVersionParameter
                          /test:
                            displayName: test
                            post:
                              displayName: Campaigns_TestSaved
                              description: Test an existing campaign (created with Create campaign) on a set of devices.
                              is:
                                - apiVersionParameter
                              body:
                                application/json:
                                  type: CampaignTestSavedParameters
                                  (oas-body-name): parameters
                                  description: Parameters supplied to the Test Campaign operation.
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: ApiError
                                description: |
                                  * `400`: Invalid parameters or application is disabled. Check response body for details.
                                  * `401`: Authentication error.
                                  * `404`: Campaign not found.
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: CampaignStateResult
                                  description: Test campaign queued successfully.
                              (oas-tags):
                                - Campaign
                                - Test
                          /finish:
                            displayName: finish
                            post:
                              displayName: Campaigns_Finish
                              description: Finish a push campaign previously activated by a call to Activate campaign.
                              is:
                                - apiVersionParameter
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: ApiError
                                description: |
                                  * `400`: Invalid parameters or application is disabled or campaign not in `in progress` state.
                                  * `401`: Authentication error.
                                  * `404`: Campaign not found.
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: CampaignStateResult
                                  description: Finished successfully.
                              (oas-tags):
                                - Campaign
                                - Action
                          delete:
                            displayName: Campaigns_Delete
                            description: Delete a campaign previously created by a call to Create campaign.
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |
                                * `400`: Invalid parameters or application is disabled or campaign is not in `finished` state.
                                * `401`: Authentication error.
                                * `404`: Campaign not found.
                            responses:
                              '200':
                                description: Deleted successfully.
                            (oas-tags):
                              - Campaign
                              - CRUD
                        post:
                          displayName: Campaigns_Create
                          description: 'Create a push campaign (announcement, poll, data push or native push).'
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: Campaign
                              (oas-body-name): parameters
                              description: Parameters supplied to the Update Campaign operation.
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ApiError
                            description: |
                              * `400`: Invalid parameters or application is disabled. Check response body for details.
                              * `401`: Authentication error.
                              * `409`: Another campaign with the same name already exists.
                          responses:
                            '201':
                              body:
                                application/json:
                                  type: CampaignStateResult
                              description: 'Success, campaign is returned.'
                              headers:
                                Location:
                                  type: string
                                  description: URL path to get the created campaign.
                          (oas-tags):
                            - Campaign
                            - CRUD
                    /campaignsByName:
                      displayName: campaignsByName
                      '/{kind}':
                        displayName: '{kind}'
                        '/{name}':
                          displayName: '{name}'
                          uriParameters:
                            name:
                              description: Campaign name.
                              required: true
                              type: string
                          get:
                            displayName: Campaigns_GetByName
                            description: The Get campaign operation retrieves information about a previously created campaign.
                            is:
                              - apiVersionParameter
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: ApiError
                              description: |
                                * `400`: Invalid parameters or application is disabled. Check response body for details.
                                * `401`: Authentication error.
                                * `404`: Campaign not found.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: CampaignResult
                                description: 'Success, campaign is returned.'
                            (oas-tags):
                              - Campaign
                              - CRUD
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Apps_List
                    description: Lists apps in an appCollection.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ApiError
                    responses:
                      '200':
                        body:
                          application/json:
                            type: AppListResult
                    (oas-tags):
                      - Apps
                      - List
    /providers:
      displayName: providers
      /Microsoft.MobileEngagement:
        displayName: Microsoft.MobileEngagement
        /appCollections:
          displayName: appCollections
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: AppCollections_List
            description: Lists app collections in a subscription.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: ApiError
            responses:
              '200':
                body:
                  application/json:
                    type: AppCollectionListResult
            (oas-tags):
              - AppCollections
              - List
        /supportedPlatforms:
          displayName: supportedPlatforms
          get:
            displayName: SupportedPlatforms_List
            description: Lists supported platforms for Engagement applications.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: ApiError
            responses:
              '200':
                body:
                  application/json:
                    type: SupportedPlatformsListResult
            (oas-tags):
              - List
        /checkAppCollectionNameAvailability:
          displayName: checkAppCollectionNameAvailability
          post:
            displayName: AppCollections_CheckNameAvailability
            description: Checks availability of an app collection name in the Engagement domain.
            is:
              - apiVersionParameter
            body:
              application/json:
                type: AppCollectionNameAvailability
                (oas-body-name): parameters
            (oas-responses-default):
              body:
                application/json:
                  type: ApiError
            responses:
              '200':
                body:
                  application/json:
                    type: AppCollectionNameAvailability
types:
  AnnouncementFeedbackCriterion:
    properties:
      action:
        description: Action that was performed on the announcement.
        enum:
          - pushed
          - replied
          - actioned
          - exited
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: CampaignFeedbacks
      content-id:
        description: The unique identifier of the announcement.
        type: integer
        required: false
    type: Criterion
  ApiError:
    properties:
      error:
        properties:
          code:
            type: string
            required: false
          message:
            type: string
            required: false
        type: object
        required: false
  App:
    type: Resource
  AppCollection:
    type: Resource
  AppCollectionListResult:
    description: The list AppCollections operation response.
    properties:
      nextLink:
        description: 'When the results are paged, the nextLink is the URI for the next page of results. This property is empty when there are no additional pages.'
        type: string
        required: false
      value:
        description: The list of AppCollections and their properties.
        items:
          type: AppCollection
        type: array
        required: false
  AppCollectionNameAvailability:
    properties:
      available:
        description: Available.
        type: boolean
        required: false
      name:
        description: Name.
        type: string
        required: false
      unavailabilityReason:
        description: UnavailabilityReason.
        type: string
        required: false
  AppCollectionProperties:
    properties:
      provisioningState:
        description: Mobile Engagement AppCollection Properties.
        enum:
          - Creating
          - Succeeded
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ProvisioningStates
  AppInfoFilter:
    properties:
      appInfo:
        description: An array containing all the required appInfo.
        items:
          type: string
        type: array
        required: false
    type: Filter
  AppListResult:
    description: The list Apps operation response.
    properties:
      nextLink:
        description: 'When the results are paged, the nextLink is the URI for the next page of results. This property is empty when there are no additional pages.'
        type: string
        required: false
      value:
        description: The list of Apps and their properties.
        items:
          type: App
        type: array
        required: false
  AppProperties:
    properties:
      appState:
        description: The state of the application.
        type: string
        required: false
      backendId:
        description: The application unique identifier.
        type: string
        required: false
      platform:
        description: The platform of the app.
        type: string
        required: false
  ApplicationVersionCriterion:
    properties:
      name:
        description: The application version.
        type: string
        required: false
    type: Criterion
  BooleanTagCriterion:
    properties:
      name:
        description: The name of the custom tag.
        type: string
        required: false
      value:
        description: A custom boolean value to match.
        type: boolean
        required: false
    type: Criterion
  Campaign:
    type: CampaignLocalization
  CampaignListResult:
    type: CampaignStateResult
  CampaignLocalization:
    properties:
      actionButtonText:
        description: Text of the action button for text/web announcements and polls (answer button).
        maxLength: 64
        type: string
        required: false
      actionUrl:
        description: URL to launch when the announcement is actioned.
        maxLength: 2000
        type: string
        required: false
      body:
        description: 'Body of the text/web announcement, poll or data push. This field supports appInfo markers.'
        maxLength: 65535
        type: string
        required: false
      exitButtonText:
        description: Text of the exit button for text/web announcements and polls.
        maxLength: 64
        type: string
        required: false
      notificationImage:
        description: |
          Optional image encoded in base 64. Usually included in the right part of in app notifications (or as a banner if there is neither text nor content icon). For Android system notifications, the image is used as the large icon (displayed only on Android 3+).
        format: byte
        maxLength: 65535
        type: string
        facets:
          format: string
        required: false
      notificationMessage:
        description: Message of the notification. This field supports appInfo markers.
        maxLength: 4000
        type: string
        required: false
      notificationOptions:
        description: Additional platform specific options.
        type: NotificationOptions
        required: false
      notificationTitle:
        description: Title of the notification. This field supports appInfo markers.
        maxLength: 2000
        type: string
        required: false
      payload:
        description: Native push payload.
        type: object
        required: false
      title:
        description: Title of the announcement or poll. This field supports appInfo markers.
        maxLength: 128
        type: string
        required: false
  CampaignPushParameters:
    properties:
      data:
        description: 'Alternative campaign''s content to use instead of the referenced campaign. All campaign''s properties can be overridden except for the following: `name`, `manualPush`, `audience`, `startTime` and `timezone`. `endTime` can be overridden while keeping original `timezone` parameter. The effect is to change the client side expiration of the received campaign for the specific devices. If your campaign is a *poll*, the provided data should contain the same number of questions and choices that the one you created with the create command. Please note that all the push messages created using this parameter will expire after 4 weeks at maximum (`endTime` property of the campaign will be used if lower than 4 weeks in the future).'
        type: Campaign
        required: false
      deviceIds:
        description: |
          Device identifiers to push as a JSON array of strings. Note that if you want to push the same campaign several times to the same device, you need to make several API calls.
        items:
          type: string
        type: array
  CampaignPushResult:
    properties:
      invalidDeviceIds:
        description: |
          A JSON array containing all identifiers that have been rejected. A device can be rejected for the following reasons: * The device hasn’t reported any session yet. * The device is over quota (if a push quota filter is applied on your campaign). Please note that if the request parameters are valid but all the specified devices are rejected, the status code is still `200` with a response including all the devices as being rejected.
        items:
          type: string
        type: array
        required: false
  CampaignResult:
    type: Campaign
  CampaignState:
    properties:
      state:
        description: 'State of the campaign, or ''queued'' when testing a campaign.'
        enum:
          - draft
          - scheduled
          - in-progress
          - finished
          - queued
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: CampaignStates
  CampaignStateResult:
    type: CampaignState
  CampaignStatisticsResult:
    properties:
      answers:
        description: Poll specific statistics.
        type: object
        required: false
        properties:
          //:
            type: object
      content-actioned:
        description: Number of times the campaign’s content view was actioned (Not present in case of a notification-only announcement or a native-push).
        type: integer
        required: false
      content-displayed:
        description: 'Number of times the campaign’s content view was displayed (Not present in case of a notification-only announcement, a data-push or a native-push).'
        type: integer
        required: false
      content-exited:
        description: Number of times the campaign’s content view was exited (Not present in case of a notification-only announcement or a native-push).
        type: integer
        required: false
      delivered:
        description: Number of times the campaign was received by the application (Not present in case of a native-push).
        type: integer
        required: false
      dropped:
        description: Number of times the campaign was dropped by the application. It can happen if the SDK failed to parse the campaign payload or if an error occurred while trying to notify the end-user (Not present in case of a native-push).
        type: integer
        required: false
      in-app-notification-actioned:
        description: Number of times the in-app notification was actioned (Not present in case of a data-push or a native-push).
        type: integer
        required: false
      in-app-notification-displayed:
        description: Number of times the in-app notification was displayed (Not present in case of a data-push or a native-push).
        type: integer
        required: false
      in-app-notification-exited:
        description: Number of times the in-app notification was exited (Not present in case of a data-push or a native-push).
        type: integer
        required: false
      pushed:
        description: Number of pushes performed.
        type: integer
        required: false
      pushed-native:
        description: 'Total number of native pushes. Information only available on Android, iOS, Windows Phone and Windows applications.'
        type: integer
        required: false
      pushed-native-adm:
        description: Number of ADM pushes (available only on Android applications).
        type: integer
        required: false
      pushed-native-google:
        description: Number of C2DM/GCM pushes (available only on Android applications).
        type: integer
        required: false
      queued:
        description: Number of times the campaign was registered to be pushed.
        type: integer
        required: false
      system-notification-actioned:
        description: 'Number of times the system notification (On Android it corresponds to a status bar notification. On iOS, it is the Apple Push notification) was actioned.'
        type: integer
        required: false
      system-notification-displayed:
        description: Number of times the system notification was displayed (Not present in case of a data-push or a native-push). On Android it corresponds to a status bar notification.
        type: integer
        required: false
      system-notification-exited:
        description: Number of times the system notification was exited (Not present in case of a data-push or a native-push).
        type: integer
        required: false
  CampaignTestNewParameters:
    type: CampaignTestSavedParameters
  CampaignTestSavedParameters:
    properties:
      deviceId:
        description: Device identifier (as returned by the SDK).
        type: string
      lang:
        description: The language to test expressed using ISO 639-1 code. The default language of the campaign will be used if the parameter is not provided.
        type: string
        required: false
  CampaignType:
    description: Campaign type.
    enum:
      - Announcement
      - DataPush
      - NativePush
      - Poll
    type: string
  CampaignsListResult:
    description: The campaigns list result.
    properties:
      nextLink:
        description: 'When using `top` parameter and if partial results are returned, this property describes a URI path to get the next results. This property is not set when reaching the last page.'
        type: string
        required: false
      value:
        description: The list of campaigns.
        items:
          type: CampaignListResult
        type: array
        required: false
  CarrierCountryCriterion:
    properties:
      name:
        description: Two-characters country code (ISO 3166-1).
        type: string
        required: false
    type: Criterion
  CarrierNameCriterion:
    properties:
      name:
        description: Carrier name value.
        type: string
        required: false
    type: Criterion
  Criterion:
    discriminator: type
    properties:
      type:
        type: string
  DatapushFeedbackCriterion:
    properties:
      action:
        description: |
          Action that was performed on the data push (action depends on the return value in the callbacks you declared in the client code).
        enum:
          - pushed
          - replied
          - actioned
          - exited
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: CampaignFeedbacks
      content-id:
        description: The unique identifier of the data push.
        type: integer
        required: false
    type: Criterion
  DateTagCriterion:
    properties:
      name:
        description: The name of the custom tag.
        type: string
        required: false
      op:
        description: 'comparison operator: `EQ` (equal to), `LT` (less than), `GT` (greater than), `LE` (less than or equal to) or `GE` (greater than or equal to).'
        enum:
          - EQ
          - LT
          - GT
          - LE
          - GE
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: AudienceOperators
      value:
        description: |
          It can be either: * an absolute date using yyyy-MM-dd format (e.g. 1969-12-07 stands for 7 Dec 1969). * an offset in days relative to the current day (`TODAY` + `value`).
        type: date-only
        required: false
    type: Criterion
  Device:
    properties:
      appInfo:
        description: 'Also known as tags, a key-value set as a JSON object.'
        type: object
        required: false
        properties:
          //:
            type: string
      deviceId:
        description: The device result.
        type: string
      info:
        description: 'Last technical data received (concerning device, system, network and application identification).'
        type: DeviceInfo
        required: false
      location:
        description: Last geo-location data received.
        type: DeviceLocation
        required: false
      meta:
        description: Application usage data.
        type: DeviceMeta
        required: false
  DeviceInfo:
    properties:
      androidAPILevel:
        description: Android API level.
        type: integer
        required: false
      applicationVersionCode:
        description: Application version code.
        type: integer
        required: false
      applicationVersionName:
        description: Application version name.
        type: string
        required: false
      carrierCountry:
        description: Carrier country.
        type: string
        required: false
      carrierName:
        description: Carrier name.
        type: string
        required: false
      firmwareName:
        description: Firmware name.
        type: string
        required: false
      firmwareVersion:
        description: Firmware version.
        type: string
        required: false
      locale:
        description: Locale code.
        type: string
        required: false
      networkSubtype:
        description: Network sub-type.
        type: string
        required: false
      networkType:
        description: Network type.
        type: string
        required: false
      phoneManufacturer:
        description: Phone manufacturer
        type: string
        required: false
      phoneModel:
        description: Phone model.
        type: string
        required: false
      serviceVersion:
        description: SDK version.
        type: string
        required: false
      timeZoneOffset:
        description: 'The offset in minutes from UTC for the device time zone, including daylight savings time.'
        type: integer
        required: false
  DeviceLocation:
    properties:
      countrycode:
        description: The ISO 3166 two-letter country code.
        type: string
        required: false
      locality:
        description: 'A locality within the administrative region, such as a town or city.'
        type: string
        required: false
      region:
        description: 'An administrative region of the nation, such as a state or province.'
        type: string
        required: false
  DeviceManufacturerCriterion:
    properties:
      name:
        description: The device manufacturer.
        type: string
        required: false
    type: Criterion
  DeviceMeta:
    properties:
      firstSeen:
        description: 'First time the device used the application in milliseconds since January 1st, 1970 UTC.'
        format: int64
        type: integer
        required: false
      lastInfo:
        description: 'Timestamp corresponding to the info object in milliseconds since January 1st, 1970 UTC.'
        format: int64
        type: integer
        required: false
      lastLocation:
        description: 'Timestamp corresponding to the location object in milliseconds since January 1st, 1970 UTC.'
        format: int64
        type: integer
        required: false
      lastSeen:
        description: 'Last time the device used the application in milliseconds since January 1st, 1970 UTC.'
        format: int64
        type: integer
        required: false
      nativePushEnabled:
        description: 'Boolean indicating if native push notifications (like Android’s GCM or Apple’s APNS) are enabled for the application. This boolean is set to true when the application registers successfully to the native push service, and set to false when the native push service reports to Mobile Engagement that the application can no longer be pushed (which means that it has been uninstalled). This report is performed a few hours after Mobile Engagement has tried to perform a native push to a device on which the application has been uninstalled.'
        type: boolean
        required: false
  DeviceModelCriterion:
    properties:
      name:
        description: The device model.
        type: string
        required: false
    type: Criterion
  DeviceQueryResult:
    properties:
      appInfo:
        description: 'Also known as tags, a key-value set as a JSON object.'
        type: object
        required: false
        properties:
          //:
            type: string
      deviceId:
        description: The device result.
        type: string
      meta:
        description: Application usage data.
        type: DeviceMeta
        required: false
  DeviceTagsParameters:
    properties:
      deleteOnNull:
        default: false
        description: 'If this parameter is `true`, tags with a null value will be deleted.'
        type: boolean
        required: false
      tags:
        description: |
          A JSON object describing the set of tags to record for a set of users. Each key is a device/user identifier, each value is itself a key/value set: the tags to set for the specified device/user identifier.
        type: object
        properties:
          //:
            additionalProperties:
              type: string
            type: object
  DeviceTagsResult:
    properties:
      invalidIds:
        description: |
          A JSON array containing all identifiers that have been rejected. Please note that if the request parameters are valid but all the specified devices are rejected, the status code is still `200` with a response including all the devices as being rejected.
        items:
          type: string
        type: array
  DevicesQueryResult:
    description: The campaigns list result.
    properties:
      nextLink:
        description: 'If partial results are returned, this property describes a URI path to get the next result page.'
        type: string
        required: false
      value:
        description: The list of devices.
        items:
          type: DeviceQueryResult
        type: array
        required: false
  EngageActiveUsersFilter:
    properties:
      threshold:
        description: An integer value representing the threshold to apply on this filter.
        type: integer
        required: false
    type: Filter
  EngageIdleUsersFilter:
    properties:
      threshold:
        description: An integer value representing the threshold to apply on this filter.
        type: integer
        required: false
    type: Filter
  EngageNewUsersFilter:
    properties:
      threshold:
        description: An integer value representing the threshold to apply on this filter.
        type: integer
        required: false
    type: Filter
  EngageOldUsersFilter:
    properties:
      threshold:
        description: An integer value representing the threshold to apply on this filter.
        type: integer
        required: false
    type: Filter
  EngageSubsetFilter:
    properties:
      max:
        description: An integer value representing the maximum users that should be pushed.
        type: integer
        required: false
    type: Filter
  Filter:
    discriminator: type
    properties:
      type:
        type: string
  FirmwareVersionCriterion:
    properties:
      name:
        description: Firmware version.
        type: string
        required: false
    type: Criterion
  GeoFencingCriterion:
    properties:
      expiration:
        description: Number of minutes before device location is considered to be expired.
        type: integer
        required: false
      lat:
        description: The latitude of the central point of the region.
        type: number
        required: false
      lon:
        description: The longitude of the central point of the region.
        type: number
        required: false
      radius:
        description: 'The radius of the central point of the region, in meters.'
        type: integer
        required: false
    type: Criterion
  IntegerTagCriterion:
    properties:
      name:
        description: The name of the custom tag.
        type: string
        required: false
      op:
        description: 'comparison operator: `EQ` (equal to), `LT` (less than), `GT` (greater than), `LE` (less than or equal to) or `GE` (greater than or equal to).'
        enum:
          - EQ
          - LT
          - GT
          - LE
          - GE
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: AudienceOperators
      value:
        description: A custom integer value to match.
        type: integer
        required: false
    type: Criterion
  LanguageCriterion:
    properties:
      name:
        description: Two character language code (ISO 639-1).
        type: string
        required: false
    type: Criterion
  LocationCriterion:
    properties:
      country:
        description: Two character country code where the user is located (ISO 3166-1).
        type: string
      locality:
        description: 'A locality within the administrative region, such as a town or city.'
        type: string
        required: false
      region:
        description: 'An administrative region of the country, such as a state or province.'
        type: string
        required: false
    type: Criterion
  NativePushEnabledFilter:
    type: Filter
  NetworkTypeCriterion:
    properties:
      name:
        description: 'The network type (Wifi, Mobile...).'
        type: string
        required: false
    type: Criterion
  NotificationOptions:
    properties:
      actionText:
        description: |
          The action text is the title of the right button of the alert or the value of the unlock slider, where the value replaces 'unlock' in 'slide to unlock'. 'View' (localized to the preferred language) is used as the default value. The `deliveryTime` property must be set to `any` or `background`.
        type: string
        required: false
      bigPicture:
        description: |
          URL of a remote image displayed in expanded notifications on
          Android 4.1+ devices with the following constraints:
          * The URL length is limited to 2000 characters.
          * The image size must be less than 4 MiB.
          * The following MIME types are supported:
          ** image/png
          ** image/jpeg
          ** image/gif
          ** image/webp
          ** image/bmp
          ** image/x-bmp
          ** image/x-ms-bmp
          * URL scheme must be HTTP or HTTPS (with valid SSL certificate).
          * Incompatible with `bigText`, only one of the fields can be set.
          * The `notificationType` property must be set to `system`.
        maxLength: 2000
        type: string
        required: false
      bigText:
        description: |
          Android 4.1+ only. Multi line message shown in expanded notifications on Android 4.1+ devices. The `notificationType` property must be set to `system`.
        maxLength: 4000
        type: string
        required: false
      sound:
        description: |
          iOS only. The name of a sound file in the application bundle. The sound in this file is played as an alert. If the sound file doesn’t exist or default is specified as the value, the default alert sound is played. The audio must be in one of the audio data formats that are compatible with system sounds. The `deliveryTime` property must be set to `any` or `background`.
        type: string
        required: false
  PollAnswerFeedbackCriterion:
    properties:
      choice-id:
        description: The unique identifier of the choice.
        type: integer
        required: false
      content-id:
        description: The unique identifier of the poll.
        type: integer
        required: false
    type: Criterion
  PollFeedbackCriterion:
    properties:
      action:
        description: Action that was performed on the poll.
        enum:
          - pushed
          - replied
          - actioned
          - exited
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: CampaignFeedbacks
      content-id:
        description: The unique identifier of the poll.
        type: integer
        required: false
    type: Criterion
  PollQuestion:
    type: PollQuestionLocalization
  PollQuestionChoice:
    type: PollQuestionChoiceLocalization
  PollQuestionChoiceLocalization:
    properties:
      title:
        description: Title of the choice.
        maxLength: 256
        type: string
        required: false
  PollQuestionLocalization:
    properties:
      title:
        description: Title of the question.
        maxLength: 256
        type: string
        required: false
  PushQuotaFilter:
    type: Filter
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ScreenSizeCriterion:
    properties:
      name:
        description: Screen size using the following format WIDTH**x**HEIGHT.
        type: string
        required: false
    type: Criterion
  SegmentCriterion:
    properties:
      exclude:
        description: 'If value is true, the criterion will target users that are NOT part of the segment.'
        type: boolean
        required: false
      id:
        description: Segment identifier.
        type: integer
        required: false
    type: Criterion
  StringTagCriterion:
    properties:
      name:
        description: The name of the custom tag.
        type: string
        required: false
      value:
        description: A custom string to match for tag value (? and * characters can be used to perform wildcard matching).
        type: string
        required: false
    type: Criterion
  SupportedPlatformsListResult:
    properties:
      platforms:
        description: List of supported platforms.
        items:
          type: string
        type: array
        required: false
  containerUrl:
    description: A shared Access Signature (SAS) BLOB container URL to contain the exported data.
    type: url
  date:
    description: A date as defined by full-date in RFC3339.
    type: date-only
  dateRangeExportTaskParameter:
    properties:
      containerUrl:
        type: containerUrl
      description:
        description: A description of the export task.
        type: string
        required: false
      endDate:
        description: The RFC3339 full-date of the end of the period for which data is exported.
        type: date
      exportFormat:
        description: The format of the exported data.
        type: exportFormat
      startDate:
        description: The RFC3339 full-date of the start of the period for which data is exported.
        type: date
    readOnly: false
    facets:
      readOnly?: boolean
  exportFormat:
    description: The format of exported data.
    enum:
      - JsonBlob
      - CsvBlob
    type: string
  exportOptions:
    description: Options to control export generation.
    properties:
      exportUserId:
        type: boolean
        required: false
  exportState:
    description: The state of an export task.
    enum:
      - Queued
      - Started
      - Succeeded
      - Failed
    type: string
  exportTaskListResult:
    description: Gets a paged list of ExportTasks.
    properties:
      nextLink:
        description: 'When the results are paged, the nextLink is the URI for the next page of results. This property is empty when there are no additional pages.'
        type: string
        required: false
      value:
        description: The list of export tasks.
        items:
          type: exportTaskResult
        type: array
    readOnly: true
    facets:
      readOnly?: boolean
  exportTaskParameter:
    properties:
      containerUrl:
        type: containerUrl
      description:
        description: A description of the export task.
        type: string
        required: false
      exportFormat:
        description: The format of the exported data.
        type: exportFormat
    readOnly: false
    facets:
      readOnly?: boolean
  exportTaskResult:
    properties:
      dateCompleted:
        description: The RFC3339 date-time the export task was completed.
        format: rfc3339
        type: datetime
        required: false
      dateCreated:
        description: The RFC3339 date-time the export task was created.
        format: rfc3339
        type: datetime
      description:
        description: A description of the export task.
        type: string
        required: false
      errorDetails:
        description: 'Details of errors encountered during the export, if any.'
        type: string
        required: false
      exportType:
        type: exportType
      id:
        description: Unique identifier of the export task.
        type: string
      state:
        type: exportState
    readOnly: true
    facets:
      readOnly?: boolean
  exportType:
    description: The type of export.
    enum:
      - Activity
      - Tag
      - Crash
      - Error
      - Event
      - Job
      - Session
      - Token
      - Push
    type: string
  feedbackByCampaignParameter:
    properties:
      campaignIds:
        description: A list of campaign identifiers.
        items:
          type: integer
        minItems: 1
        type: array
      campaignType:
        type: CampaignType
      containerUrl:
        type: containerUrl
      description:
        description: A description of the export task.
        type: string
        required: false
      exportFormat:
        description: The format of the exported data.
        type: exportFormat
    readOnly: false
    facets:
      readOnly?: boolean
  feedbackByDateRangeParameter:
    properties:
      campaignType:
        type: CampaignType
      campaignWindowEnd:
        description: The RFC3339 date-time end of the period for inclusion of active campaigns.
        type: timestamp
      campaignWindowStart:
        description: The RFC3339 date-time start of the period for inclusion of active campaigns.
        type: timestamp
      containerUrl:
        type: containerUrl
      description:
        description: A description of the export task.
        type: string
        required: false
      exportFormat:
        description: The format of the exported data.
        type: exportFormat
    readOnly: false
    facets:
      readOnly?: boolean
  importTask:
    properties:
      storageUrl:
        description: A shared Access Signature (SAS) Storage URI where the job results will be retrieved from.
        type: string
        required: false
  importTaskListResult:
    description: Gets a paged list of import tasks.
    properties:
      nextLink:
        description: 'When the results are paged, the nextLink is the URI for the next page of results. This property is empty when there are no additional pages.'
        type: string
        required: false
      value:
        description: The list of import task.
        items:
          type: importTaskResult
        type: array
        required: false
  importTaskResult:
    type: importTask
  timestamp:
    description: A date time as defined by date-time in RFC3339.
    format: rfc3339
    type: datetime
  url:
    format: uri
    type: string
    facets:
      format: string
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
