#%RAML 1.0
title: CdnManagementClient
version: '2016-04-02'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: 'Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.'
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
    - hosting
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-cdn/2016-04-02/swagger/cdn.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-cdn
  (oas-x-tags):
    - Azure
    - Microsoft
    - CDN
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Cdn:
            displayName: Microsoft.Cdn
            /profiles:
              displayName: profiles
              '/{profileName}':
                displayName: '{profileName}'
                /endpoints:
                  displayName: endpoints
                  '/{endpointName}':
                    displayName: '{endpointName}'
                    /customDomains:
                      displayName: customDomains
                      '/{customDomainName}':
                        displayName: '{customDomainName}'
                        uriParameters:
                          customDomainName:
                            description: Name of the custom domain within an endpoint.
                            required: true
                            type: string
                            displayName: Name of the custom domain within an endpoint.
                        delete:
                          (oas-x-ms-long-running-operation): true
                          displayName: CustomDomains_DeleteIfExists
                          (oas-summary): Deletes an existing CDN custom domain within an endpoint.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              description: OK
                            '202':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: Accepted and the operation will complete asynchronously.
                            '204':
                              description: No Content
                          (oas-tags):
                            - CustomDomains
                        get:
                          displayName: CustomDomains_Get
                          (oas-summary): Gets an existing CDN custom domain within an endpoint.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: OK
                          (oas-tags):
                            - CustomDomains
                        patch:
                          displayName: CustomDomains_Update
                          (oas-summary): Updates an existing CDN custom domain within an endpoint.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: CustomDomainParameters
                              (oas-body-name): customDomainProperties
                              description: Custom domain properties to update.
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          (oas-tags):
                            - CustomDomains
                        put:
                          (oas-x-ms-long-running-operation): true
                          displayName: CustomDomains_Create
                          (oas-summary): Creates a new CDN custom domain within an endpoint.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: CustomDomainParameters
                              (oas-body-name): customDomainProperties
                              description: Custom domain properties required for creation.
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: OK
                            '201':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: Created
                            '202':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - CustomDomains
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: CustomDomains_ListByEndpoint
                        (oas-summary): Lists the existing CDN custom domains within an endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: CustomDomainListResult
                            description: OK
                        (oas-tags):
                          - CustomDomains
                    /load:
                      displayName: load
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_LoadContent
                        (oas-summary): Forcibly pre-loads CDN endpoint content.
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: LoadParameters
                            (oas-body-name): contentFilePaths
                            description: The path to the content to be loaded. Path should describe a file.
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    /origins:
                      displayName: origins
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: Origins_ListByEndpoint
                        (oas-summary): Lists the existing CDN origins within an endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: OriginListResult
                            description: OK
                        (oas-tags):
                          - Origins
                      '/{originName}':
                        displayName: '{originName}'
                        uriParameters:
                          originName:
                            description: 'Name of the origin, an arbitrary value but it needs to be unique under endpoint'
                            required: true
                            type: string
                            displayName: 'Name of the origin, an arbitrary value but it needs to be unique under endpoint'
                        delete:
                          (oas-x-ms-long-running-operation): true
                          displayName: Origins_DeleteIfExists
                          (oas-summary): Deletes an existing CDN origin within an endpoint.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '202':
                              body:
                                application/json:
                                  type: Origin
                              description: Accepted and the operation will complete asynchronously.
                            '204':
                              description: No Content
                          (oas-tags):
                            - Origins
                        get:
                          displayName: Origins_Get
                          (oas-summary): Gets an existing CDN origin within an endpoint.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Origin
                              description: OK
                          (oas-tags):
                            - Origins
                        patch:
                          (oas-x-ms-long-running-operation): true
                          displayName: Origins_Update
                          (oas-summary): Updates an existing CDN origin within an endpoint.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: OriginParameters
                              (oas-body-name): originProperties
                              description: Origin properties
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Origin
                              description: OK
                            '202':
                              body:
                                application/json:
                                  type: Origin
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - Origins
                        put:
                          (oas-x-ms-long-running-operation): true
                          displayName: Origins_Create
                          (oas-summary): Creates a new CDN origin within an endpoint.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: OriginParameters
                              (oas-body-name): originProperties
                              description: Origin properties
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Origin
                              description: OK
                            '201':
                              body:
                                application/json:
                                  type: Origin
                              description: Created
                            '202':
                              body:
                                application/json:
                                  type: Origin
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - Origins
                    uriParameters:
                      endpointName:
                        description: Name of the endpoint within the CDN profile.
                        required: true
                        type: string
                        displayName: Name of the endpoint within the CDN profile.
                    get:
                      displayName: Endpoints_Get
                      (oas-summary): Gets an existing CDN endpoint with the specified parameters.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: OK
                      (oas-tags):
                        - Endpoints
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Endpoints_Create
                      (oas-summary): Creates a new CDN endpoint with the specified parameters.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: EndpointCreateParameters
                          (oas-body-name): endpointProperties
                          description: Endpoint properties
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: OK
                        '201':
                          body:
                            application/json:
                              type: Endpoint
                          description: Created
                        '202':
                          body:
                            application/json:
                              type: Endpoint
                          description: Accepted and the operation will complete asynchronously.
                      (oas-tags):
                        - Endpoints
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Endpoints_DeleteIfExists
                      (oas-summary): Deletes an existing CDN endpoint with the specified parameters.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed.
                      responses:
                        '202':
                          description: Accepted
                        '204':
                          description: No Content
                      (oas-tags):
                        - Endpoints
                    /validateCustomDomain:
                      displayName: validateCustomDomain
                      post:
                        displayName: Endpoints_ValidateCustomDomain
                        (oas-summary): Validates a custom domain mapping to ensure it maps to the correct CNAME in DNS.
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: ValidateCustomDomainInput
                            (oas-body-name): customDomainProperties
                            description: Custom domain to validate.
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ValidateCustomDomainOutput
                            description: OK
                        (oas-tags):
                          - Endpoints
                    /stop:
                      displayName: stop
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_Stop
                        (oas-summary): Stops an existing running CDN endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            body:
                              application/json:
                                type: Endpoint
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    /start:
                      displayName: start
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_Start
                        (oas-summary): Starts an existing stopped CDN endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            body:
                              application/json:
                                type: Endpoint
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    /purge:
                      displayName: purge
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_PurgeContent
                        (oas-summary): Forcibly purges CDN endpoint content.
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: PurgeParameters
                            (oas-body-name): contentFilePaths
                            description: The path to the content to be purged. Path can describe a file or directory.
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    patch:
                      (oas-x-ms-long-running-operation): true
                      displayName: Endpoints_Update
                      (oas-summary): Updates an existing CDN endpoint with the specified parameters. Only tags and OriginHostHeader can be updated after creating an endpoint. T
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: EndpointUpdateParameters
                          (oas-body-name): endpointProperties
                          description: Endpoint properties
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: OK
                        '202':
                          body:
                            application/json:
                              type: Endpoint
                          description: Accepted and  the operation will complete asynchronously
                      (oas-tags):
                        - Endpoints
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: Endpoints_ListByProfile
                    (oas-summary): Lists existing CDN endpoints within a profile.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: CDN error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EndpointListResult
                        description: OK
                    (oas-tags):
                      - Endpoints
                /generateSsoUri:
                  displayName: generateSsoUri
                  post:
                    displayName: Profiles_GenerateSsoUri
                    (oas-summary): 'Generates a dynamic SSO URI used to sign in to the CDN Supplemental Portal used for advanced management tasks, such as Country Filtering, A'
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: CDN error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SsoUri
                        description: OK
                    (oas-tags):
                      - Profiles
                uriParameters:
                  profileName:
                    description: Name of the CDN profile within the resource group.
                    required: true
                    type: string
                    displayName: Name of the CDN profile within the resource group.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: Profiles_DeleteIfExists
                  (oas-summary): Deletes an existing CDN profile with the specified parameters. Deleting a profile will result in the deletion of all subresources including
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '202':
                      description: Accepted and the operation will complete asynchronously.
                    '204':
                      description: No Content.
                  (oas-tags):
                    - Profiles
                patch:
                  (oas-x-ms-long-running-operation): true
                  displayName: Profiles_Update
                  (oas-summary): Updates an existing CDN profile with the specified parameters.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ProfileUpdateParameters
                      (oas-body-name): profileProperties
                      description: Profile properties needed for update.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: OK
                    '202':
                      body:
                        application/json:
                          type: Profile
                      description: Accepted and the operation will complete asynchronously.
                  (oas-tags):
                    - Profiles
                get:
                  displayName: Profiles_Get
                  (oas-summary): Gets a CDN profile with the specified parameters.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: OK
                  (oas-tags):
                    - Profiles
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: Profiles_Create
                  (oas-summary): Creates a new CDN profile with the specified parameters.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ProfileCreateParameters
                      (oas-body-name): profileProperties
                      description: Profile properties needed for creation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: OK
                    '201':
                      body:
                        application/json:
                          type: Profile
                      description: Created
                    '202':
                      body:
                        application/json:
                          type: Profile
                      description: Accepted and  the operation will complete asynchronously.
                  (oas-tags):
                    - Profiles
              get:
                (oas-x-ms-pageable): {}
                displayName: Profiles_ListByResourceGroup
                (oas-summary): Lists the CDN profiles within a resource group.
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: ErrorResponse
                  description: CDN error response describing why the operation failed.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ProfileListResult
                    description: OK
                (oas-tags):
                  - Profiles
    /providers:
      displayName: providers
      /Microsoft.Cdn:
        displayName: Microsoft.Cdn
        /profiles:
          displayName: profiles
          get:
            (oas-x-ms-pageable): {}
            displayName: Profiles_ListBySubscriptionId
            (oas-summary): Lists the CDN profiles within an Azure subscitption.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: ErrorResponse
              description: CDN error response describing why the operation failed.
            responses:
              '200':
                body:
                  application/json:
                    type: ProfileListResult
                description: OK
            (oas-tags):
              - Profiles
/providers:
  displayName: providers
  /Microsoft.Cdn:
    displayName: Microsoft.Cdn
    /checkNameAvailability:
      displayName: checkNameAvailability
      post:
        displayName: NameAvailability_CheckNameAvailability
        (oas-summary): 'Check the availability of a resource name without creating the resource. This is needed for resources where name is globally unique, such a'
        is:
          - apiVersionParameter
        body:
          application/json:
            type: CheckNameAvailabilityInput
            (oas-body-name): checkNameAvailabilityInput
            description: Input to check.
        (oas-responses-default):
          body:
            application/json:
              type: ErrorResponse
          description: CDN error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: CheckNameAvailabilityOutput
            description: OK
        (oas-tags):
          - CheckNameAvailability
    /operations:
      displayName: operations
      get:
        (oas-x-ms-pageable): {}
        displayName: Operations_List
        (oas-summary): Lists all of the available CDN REST API operations.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: ErrorResponse
          description: CDN error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: OperationListResult
            description: OK
        (oas-tags):
          - Operations
types:
  CheckNameAvailabilityInput:
    description: Input of CheckNameAvailability API.
    properties:
      name:
        description: The resource name to validate.
        type: string
      type:
        description: The type of the resource whose name is to be validated.
        type: ResourceType
  CheckNameAvailabilityOutput:
    description: Output of check name availability API.
    properties:
      Message:
        description: The detailed error message describing why the name is not available.
        type: string
        required: false
      NameAvailable:
        description: Indicates whether the name is available.
        type: boolean
        required: false
      Reason:
        description: The reason why the name is not available.
        type: string
        required: false
  CustomDomain:
    type: Resource
  CustomDomainListResult:
    properties:
      value:
        description: List of CDN CustomDomains within an endpoint.
        items:
          type: CustomDomain
        type: array
        required: false
  CustomDomainParameters:
    description: CustomDomain properties required for custom domain creation or update.
    properties:
      properties:
        type: CustomDomainPropertiesParameters
        required: false
        (oas-x-ms-client-flatten): true
  CustomDomainProperties:
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
      provisioningState:
        description: Provisioning status of the custom domain.
        type: ProvisioningState
        required: false
      resourceState:
        description: Resource status of the custom domain.
        enum:
          - Creating
          - Active
          - Deleting
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: CustomDomainResourceState
  CustomDomainPropertiesParameters:
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
  DeepCreatedOrigin:
    description: Deep created origins within a CDN endpoint.
    properties:
      name:
        description: Origin name
        type: string
      properties:
        type: DeepCreatedOriginProperties
        required: false
        (oas-x-ms-client-flatten): true
  DeepCreatedOriginProperties:
    description: Properties of deep created origin on a CDN endpoint.
    properties:
      hostName:
        description: 'The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.'
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535
        type: integer
        required: false
      httpsPort:
        description: The value of the HTTPS port. Must be between 1 and 65535
        type: integer
        required: false
  Endpoint:
    type: TrackedResource
  EndpointCreateParameters:
    description: Endpoint properties required for new endpoint creation.
    properties:
      location:
        description: Endpoint location
        type: string
      properties:
        type: EndpointPropertiesCreateParameters
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        additionalProperties:
          type: string
        description: Endpoint tags
        type: object
        required: false
  EndpointListResult:
    properties:
      value:
        description: List of CDN endpoints within a profile
        items:
          type: Endpoint
        type: array
        required: false
  EndpointProperties:
    properties:
      contentTypesToCompress:
        description: List of content types on which compression will be applied. The value for the elements should be a valid MIME type.
        items:
          type: string
        type: array
        required: false
      hostName:
        description: 'The host name of the endpoint {endpointName}.{DNSZone}'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      isCompressionEnabled:
        description: 'Indicates whether the compression is enabled. Default value is false. If compression is enabled, the content transferred from cdn endpoint to end user will be compressed. The requested content must be larger than 1 byte and smaller than 1 MB.'
        type: boolean
        required: false
      isHttpAllowed:
        description: Indicates whether HTTP traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      isHttpsAllowed:
        description: Indicates whether https traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      originHostHeader:
        description: The host header the CDN provider will send along with content requests to origins. The default value is the host name of the origin.
        type: string
        required: false
      originPath:
        description: The path used for origin requests.
        type: string
        required: false
      origins:
        description: 'The set of origins for the CDN endpoint. When multiple origins exist, the first origin will be used as primary and rest will be used as failover options.'
        items:
          type: DeepCreatedOrigin
        type: array
        required: false
      provisioningState:
        description: Provisioning status of the endpoint.
        type: ProvisioningState
        required: false
      queryStringCachingBehavior:
        description: Defines the query string caching behavior.
        type: QueryStringCachingBehavior
        required: false
      resourceState:
        description: Resource status of the endpoint.
        enum:
          - Creating
          - Deleting
          - Running
          - Starting
          - Stopped
          - Stopping
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: EndpointResourceState
  EndpointPropertiesCreateParameters:
    properties:
      contentTypesToCompress:
        description: List of content types on which compression will be applied. The value for the elements should be a valid MIME type.
        items:
          type: string
        type: array
        required: false
      isCompressionEnabled:
        description: 'Indicates whether content compression is enabled. Default value is false. If compression is enabled, the content transferred from the CDN endpoint to the end user will be compressed. The requested content must be larger than 1 byte and smaller than 1 MB.'
        type: boolean
        required: false
      isHttpAllowed:
        description: Indicates whether HTTP traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      isHttpsAllowed:
        description: Indicates whether https traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      originHostHeader:
        description: The host header CDN provider will send along with content requests to origins. The default value is the host name of the origin.
        type: string
        required: false
      originPath:
        description: The path used for origin requests.
        type: string
        required: false
      origins:
        description: 'The set of origins for the CDN endpoint. When multiple origins exist, the first origin will be used as primary and rest will be used as failover options.'
        items:
          type: DeepCreatedOrigin
        type: array
      queryStringCachingBehavior:
        description: Defines the query string caching behavior.
        type: QueryStringCachingBehavior
        required: false
  EndpointPropertiesUpdateParameters:
    properties:
      contentTypesToCompress:
        description: List of content types on which compression will be applied. The value for the elements should be a valid MIME type.
        items:
          type: string
        type: array
        required: false
      isCompressionEnabled:
        description: 'Indicates whether content compression is enabled. Default value is false. If compression is enabled, the content transferred from the CDN endpoint to the end user will be compressed. The requested content must be larger than 1 byte and smaller than 1 MB.'
        type: boolean
        required: false
      isHttpAllowed:
        description: Indicates whether HTTP traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      isHttpsAllowed:
        description: Indicates whether HTTPS traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      originHostHeader:
        description: The host header the CDN provider will send along with content requests to origins. The default value is the host name of the origin.
        type: string
        required: false
      originPath:
        description: The path used for origin requests.
        type: string
        required: false
      queryStringCachingBehavior:
        description: Defines the query string caching behavior
        type: QueryStringCachingBehavior
        required: false
  EndpointUpdateParameters:
    description: Endpoint properties required for new endpoint creation.
    properties:
      properties:
        type: EndpointPropertiesUpdateParameters
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        additionalProperties:
          type: string
        description: Endpoint tags
        type: object
        required: false
  ErrorResponse:
    properties:
      code:
        description: Error code
        type: string
        required: false
      message:
        description: Error message indicating why the operation failed.
        type: string
        required: false
  LoadParameters:
    description: Parameters required for endpoint load.
    properties:
      contentPaths:
        description: The path to the content to be loaded. Should describe a file path.
        items:
          type: string
        type: array
  Operation:
    description: CDN REST API operation
    properties:
      display:
        properties:
          operation:
            description: 'Operation type: Read, write, delete, etc.'
            type: string
            required: false
          provider:
            description: 'Service provider: Microsoft.Cdn'
            type: string
            required: false
          resource:
            description: 'Resource on which the operation is performed: Profile, endpoint, etc.'
            type: string
            required: false
        required: false
      name:
        description: 'Operation name: {provider}/{resource}/{operation}'
        type: string
        required: false
  OperationListResult:
    properties:
      value:
        description: List of CDN operations supported by the CDN resource provider.
        items:
          type: Operation
        type: array
        required: false
  Origin:
    type: Resource
  OriginListResult:
    properties:
      value:
        description: List of CDN origins within an endpoint
        items:
          type: Origin
        type: array
        required: false
  OriginParameters:
    description: Origin properties needed for origin creation or update.
    properties:
      properties:
        type: OriginPropertiesParameters
        required: false
        (oas-x-ms-client-flatten): true
  OriginProperties:
    properties:
      hostName:
        description: 'The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.'
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535.
        type: integer
        required: false
      httpsPort:
        description: The value of the https port. Must be between 1 and 65535.
        type: integer
        required: false
      provisioningState:
        description: Provisioning status of the origin.
        type: ProvisioningState
        required: false
      resourceState:
        description: Resource status of the origin.
        enum:
          - Creating
          - Active
          - Deleting
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: OriginResourceState
  OriginPropertiesParameters:
    properties:
      hostName:
        description: 'The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.'
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535.
        type: integer
        required: false
      httpsPort:
        description: The value of the HTTPS port. Must be between 1 and 65535.
        type: integer
        required: false
  Profile:
    type: TrackedResource
  ProfileCreateParameters:
    description: Profile properties required for profile creation.
    properties:
      location:
        description: Profile location
        type: string
      sku:
        description: The SKU (pricing tier) of the CDN profile.
        type: Sku
      tags:
        additionalProperties:
          type: string
        description: Profile tags
        type: object
        required: false
  ProfileListResult:
    properties:
      value:
        description: List of CDN profiles within a resource group.
        items:
          type: Profile
        type: array
        required: false
  ProfileProperties:
    properties:
      provisioningState:
        description: Provisioning status of the profile.
        type: ProvisioningState
        required: false
      resourceState:
        description: Resource status of the profile.
        enum:
          - Creating
          - Active
          - Deleting
          - Disabled
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ProfileResourceState
  ProfileUpdateParameters:
    description: Profile properties required for profile update.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Profile tags
        type: object
  ProvisioningState:
    description: Provisioning status of the resource.
    enum:
      - Creating
      - Succeeded
      - Failed
    readOnly: true
    type: string
    facets:
      readOnly?: boolean
  PurgeParameters:
    description: Parameters required for endpoint purge.
    properties:
      contentPaths:
        description: The path to the content to be purged. Can describe a file path or a wild card directory.
        items:
          type: string
        type: array
  QueryStringCachingBehavior:
    description: Defines the query string caching behavior.
    enum:
      - IgnoreQueryString
      - BypassCaching
      - UseQueryString
      - NotSet
    type: string
  Resource:
    properties:
      id:
        description: Resource ID
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ResourceType:
    description: Type of CDN resource used in CheckNameAvailability.
    enum:
      - Microsoft.Cdn/Profiles/Endpoints
    readOnly: true
    type: string
    facets:
      readOnly?: boolean
  Sku:
    description: The SKU (pricing tier) of the CDN profile.
    properties:
      name:
        description: Name of the pricing tier
        enum:
          - Standard_Verizon
          - Premium_Verizon
          - Custom_Verizon
          - Standard_Akamai
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: SkuName
  SsoUri:
    description: SSO URI required to login to third party web portal.
    properties:
      ssoUriValue:
        description: The URI used to login to third party web portal.
        type: string
        required: false
  TrackedResource:
    type: Resource
  ValidateCustomDomainInput:
    description: Input of the custom domain to be validated.
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
  ValidateCustomDomainOutput:
    description: Output of custom domain validation.
    properties:
      customDomainValidated:
        description: Indicates whether the custom domain is validated or not.
        type: boolean
        required: false
      message:
        description: The message describing why the custom domain is not valid.
        type: string
        required: false
      reason:
        description: The reason why the custom domain is not valid.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Version of the API to be used with the client request. Current version is 2016-04-02
        required: true
