#%RAML 1.0
title: NetworkManagementClient
version: '2016-06-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-network/2016-06-01/swagger/network.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-network
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-x-hasEquivalentPaths: any
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Network:
            displayName: Microsoft.Network
            /localNetworkGateways:
              displayName: localNetworkGateways
              '/{localNetworkGatewayName}':
                displayName: '{localNetworkGatewayName}'
                uriParameters:
                  localNetworkGatewayName:
                    description: The name of the local network gateway.
                    required: true
                    type: string
                    displayName: The name of the local network gateway.
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: LocalNetworkGateways_CreateOrUpdate
                  description: The Put LocalNetworkGateway operation creates/updates a local network gateway in the specified resource group through Network resource provider.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: LocalNetworkGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the Begin Create or update Local Network Gateway operation through Network resource provider.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                    '201':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                  (oas-tags):
                    - LocalNetworkGateways
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: LocalNetworkGateways_Delete
                  description: The Delete LocalNetworkGateway operation deletes the specified local network Gateway through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - LocalNetworkGateways
                get:
                  displayName: LocalNetworkGateways_Get
                  description: The Get LocalNetworkGateway operation retrieves information about the specified local network gateway through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LocalNetworkGateway
                  (oas-tags):
                    - LocalNetworkGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: LocalNetworkGateways_List
                description: The List LocalNetworkGateways operation retrieves all the local network gateways stored.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: LocalNetworkGatewayListResult
                (oas-tags):
                  - LocalNetworkGateways
            /networkInterfaces:
              displayName: networkInterfaces
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: NetworkInterfaces_List
                description: The List networkInterfaces operation retrieves all the networkInterfaces in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NetworkInterfaceListResult
                (oas-tags):
                  - NetworkInterfaces
              '/{networkInterfaceName}':
                displayName: '{networkInterfaceName}'
                uriParameters:
                  networkInterfaceName:
                    description: The name of the network interface.
                    required: true
                    type: string
                    displayName: The name of the network interface.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkInterfaces_Delete
                  description: The delete netwokInterface operation deletes the specified netwokInterface.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - NetworkInterfaces
                get:
                  displayName: NetworkInterfaces_Get
                  description: The Get network interface operation retrieves information about the specified network interface.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkInterface
                  queryParameters:
                    $expand:
                      description: expand references resources.
                      required: false
                      type: string
                      displayName: expand references resources.
                  (oas-tags):
                    - NetworkInterfaces
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkInterfaces_CreateOrUpdate
                  description: The Put NetworkInterface operation creates/updates a networkInterface
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NetworkInterface
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update NetworkInterface operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkInterface
                    '201':
                      body:
                        application/json:
                          type: NetworkInterface
                  (oas-tags):
                    - NetworkInterfaces
                /effectiveNetworkSecurityGroups:
                  displayName: effectiveNetworkSecurityGroups
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: NetworkInterfaces_ListEffectiveNetworkSecurityGroups
                    description: The list effective network security group operation retrieves all the network security groups applied on a networkInterface.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EffectiveNetworkSecurityGroupListResult
                      '202': {}
                    (oas-tags):
                      - NetworkInterfaces
                /effectiveRouteTable:
                  displayName: effectiveRouteTable
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: NetworkInterfaces_GetEffectiveRouteTable
                    description: The get effective routetable operation retrieves all the route tables applied on a networkInterface.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EffectiveRouteListResult
                      '202': {}
                    (oas-tags):
                      - NetworkInterfaces
            /networkSecurityGroups:
              displayName: networkSecurityGroups
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: NetworkSecurityGroups_List
                description: The list NetworkSecurityGroups returns all network security groups in a resource group
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NetworkSecurityGroupListResult
                (oas-tags):
                  - NetworkSecurityGroups
              '/{networkSecurityGroupName}':
                displayName: '{networkSecurityGroupName}'
                uriParameters:
                  networkSecurityGroupName:
                    description: The name of the network security group.
                    required: true
                    type: string
                    displayName: The name of the network security group.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkSecurityGroups_Delete
                  description: The Delete NetworkSecurityGroup operation deletes the specified network security group
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - NetworkSecurityGroups
                get:
                  displayName: NetworkSecurityGroups_Get
                  description: The Get NetworkSecurityGroups operation retrieves information about the specified network security group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                  queryParameters:
                    $expand:
                      description: expand references resources.
                      required: false
                      type: string
                      displayName: expand references resources.
                  (oas-tags):
                    - NetworkSecurityGroups
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: NetworkSecurityGroups_CreateOrUpdate
                  description: The Put NetworkSecurityGroup operation creates/updates a network security group in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NetworkSecurityGroup
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update Network Security Group operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                    '201':
                      body:
                        application/json:
                          type: NetworkSecurityGroup
                  (oas-tags):
                    - NetworkSecurityGroups
                /securityRules:
                  displayName: securityRules
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: SecurityRules_List
                    description: The List network security rule operation retrieves all the security rules in a network security group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SecurityRuleListResult
                    (oas-tags):
                      - SecurityRules
                  '/{securityRuleName}':
                    displayName: '{securityRuleName}'
                    uriParameters:
                      securityRuleName:
                        description: The name of the security rule.
                        required: true
                        type: string
                        displayName: The name of the security rule.
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: SecurityRules_Delete
                      description: The delete network security rule operation deletes the specified network security rule.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - SecurityRules
                    get:
                      displayName: SecurityRules_Get
                      description: The Get NetworkSecurityRule operation retrieves information about the specified network security rule.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SecurityRule
                      (oas-tags):
                        - SecurityRules
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: SecurityRules_CreateOrUpdate
                      description: The Put network security rule operation creates/updates a security rule in the specified network security group
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SecurityRule
                          (oas-body-name): securityRuleParameters
                          description: Parameters supplied to the create/update network security rule operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SecurityRule
                        '201':
                          body:
                            application/json:
                              type: SecurityRule
                      (oas-tags):
                        - SecurityRules
            /applicationGateways:
              displayName: applicationGateways
              '/{applicationGatewayName}':
                displayName: '{applicationGatewayName}'
                uriParameters:
                  applicationGatewayName:
                    description: The name of the application gateway.
                    required: true
                    type: string
                    displayName: The name of the application gateway.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: ApplicationGateways_Delete
                  description: The delete ApplicationGateway operation deletes the specified application gateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - ApplicationGateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: ApplicationGateways_CreateOrUpdate
                  description: The Put ApplicationGateway operation creates/updates a ApplicationGateway
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ApplicationGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/delete ApplicationGateway operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApplicationGateway
                    '201':
                      body:
                        application/json:
                          type: ApplicationGateway
                  (oas-tags):
                    - ApplicationGateways
                /stop:
                  displayName: stop
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApplicationGateways_Stop
                    description: The STOP ApplicationGateway operation stops application gateway in the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                    (oas-tags):
                      - ApplicationGateways
                get:
                  displayName: ApplicationGateways_Get
                  description: The Get ApplicationGateway operation retrieves information about the specified application gateway.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApplicationGateway
                  (oas-tags):
                    - ApplicationGateways
                /start:
                  displayName: start
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApplicationGateways_Start
                    description: The Start ApplicationGateway operation starts application gateway in the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200': {}
                      '202': {}
                    (oas-tags):
                      - ApplicationGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: ApplicationGateways_List
                description: The List ApplicationGateway operation retrieves all the application gateways in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ApplicationGatewayListResult
                (oas-tags):
                  - ApplicationGateways
            /connections:
              displayName: connections
              '/{connectionSharedKeyName}':
                displayName: '{connectionSharedKeyName}'
                /sharedkey:
                  displayName: sharedkey
                  get:
                    displayName: VirtualNetworkGatewayConnections_GetSharedKey
                    description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConnectionSharedKeyResult
                    (oas-tags):
                      - VirtualNetworkGatewayConnections
              '/{virtualNetworkGatewayConnectionName}':
                displayName: '{virtualNetworkGatewayConnectionName}'
                uriParameters:
                  virtualNetworkGatewayConnectionName:
                    description: The name of the virtual network gateway connection.
                    required: true
                    type: string
                    displayName: The name of the virtual network gateway connection.
                get:
                  displayName: VirtualNetworkGatewayConnections_Get
                  description: The Get VirtualNetworkGatewayConnection operation retrieves information about the specified virtual network gateway connection through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
                /sharedkey:
                  displayName: sharedkey
                  put:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGatewayConnections_SetSharedKey
                    description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ConnectionSharedKey
                        (oas-body-name): parameters
                        description: Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                      '201':
                        body:
                          application/json:
                            type: ConnectionSharedKey
                    (oas-tags):
                      - VirtualNetworkGatewayConnections
                  /reset:
                    displayName: reset
                    post:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualNetworkGatewayConnections_ResetSharedKey
                      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ConnectionResetSharedKey
                          (oas-body-name): parameters
                          description: Parameters supplied to the Begin Reset Virtual Network Gateway connection shared key operation through Network resource provider.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ConnectionResetSharedKey
                        '202': {}
                      (oas-tags):
                        - VirtualNetworkGatewayConnections
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGatewayConnections_CreateOrUpdate
                  description: The Put VirtualNetworkGatewayConnection operation creates/updates a virtual network gateway connection in the specified resource group through Network resource provider.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetworkGatewayConnection
                      (oas-body-name): parameters
                      description: Parameters supplied to the Begin Create or update Virtual Network Gateway connection operation through Network resource provider.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                    '201':
                      body:
                        application/json:
                          type: VirtualNetworkGatewayConnection
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGatewayConnections_Delete
                  description: The Delete VirtualNetworkGatewayConnection operation deletes the specified virtual network Gateway connection through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - VirtualNetworkGatewayConnections
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworkGatewayConnections_List
                description: The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkGatewayConnectionListResult
                (oas-tags):
                  - VirtualNetworkGatewayConnections
            /expressRouteCircuits:
              displayName: expressRouteCircuits
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: ExpressRouteCircuits_List
                description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ExpressRouteCircuitListResult
                (oas-tags):
                  - ExpressRouteCircuits
              '/{circuitName}':
                displayName: '{circuitName}'
                uriParameters:
                  circuitName:
                    description: The name of the circuit.
                    required: true
                    type: string
                    displayName: The name of the circuit.
                get:
                  displayName: ExpressRouteCircuits_Get
                  description: The Get ExpressRouteCircuit operation retrieves information about the specified ExpressRouteCircuit.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ExpressRouteCircuit
                  (oas-tags):
                    - ExpressRouteCircuits
                /authorizations:
                  displayName: authorizations
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ExpressRouteCircuitAuthorizations_List
                    description: The List authorization operation retrieves all the authorizations in an ExpressRouteCircuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: AuthorizationListResult
                    (oas-tags):
                      - ExpressRouteCircuitAuthorizations
                  '/{authorizationName}':
                    displayName: '{authorizationName}'
                    uriParameters:
                      authorizationName:
                        description: The name of the authorization.
                        required: true
                        type: string
                        displayName: The name of the authorization.
                    get:
                      displayName: ExpressRouteCircuitAuthorizations_Get
                      description: The GET authorization operation retrieves the specified authorization from the specified ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitAuthorizations_Delete
                      description: The delete authorization operation deletes the specified authorization from the specified ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitAuthorizations_CreateOrUpdate
                      description: The Put Authorization operation creates/updates an authorization in the specified ExpressRouteCircuits
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ExpressRouteCircuitAuthorization
                          (oas-body-name): authorizationParameters
                          description: Parameters supplied to the create/update ExpressRouteCircuitAuthorization operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                        '201':
                          body:
                            application/json:
                              type: ExpressRouteCircuitAuthorization
                      (oas-tags):
                        - ExpressRouteCircuitAuthorizations
                /peerings:
                  displayName: peerings
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ExpressRouteCircuitPeerings_List
                    description: The List peering operation retrieves all the peerings in an ExpressRouteCircuit.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ExpressRouteCircuitPeeringListResult
                    (oas-tags):
                      - ExpressRouteCircuitPeerings
                  '/{peeringName}':
                    displayName: '{peeringName}'
                    uriParameters:
                      peeringName:
                        description: The name of the peering.
                        required: true
                        type: string
                        displayName: The name of the peering.
                    get:
                      displayName: ExpressRouteCircuitPeerings_Get
                      description: The GET peering operation retrieves the specified authorization from the ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    /arpTables:
                      displayName: arpTables
                      '/{devicePath}':
                        displayName: '{devicePath}'
                        uriParameters:
                          devicePath:
                            description: The path of the device.
                            required: true
                            type: string
                            displayName: The path of the device.
                        post:
                          (oas-x-ms-long-running-operation): true
                          displayName: ExpressRouteCircuits_ListArpTable
                          description: The ListArpTable from ExpressRouteCircuit operation retrieves the currently advertised arp table associated with the ExpressRouteCircuits in a resource group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ExpressRouteCircuitsArpTableListResult
                            '202': {}
                          (oas-tags):
                            - ExpressRouteCircuitArpTable
                    /routeTablesSummary:
                      displayName: routeTablesSummary
                      '/{devicePath}':
                        displayName: '{devicePath}'
                        uriParameters:
                          devicePath:
                            description: The path of the device.
                            required: true
                            type: string
                            displayName: The path of the device.
                        post:
                          (oas-x-ms-long-running-operation): true
                          displayName: ExpressRouteCircuits_ListRoutesTableSummary
                          description: The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ExpressRouteCircuitsRoutesTableSummaryListResult
                            '202': {}
                          (oas-tags):
                            - ExpressRouteCircuitRoutesTableSummary
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitPeerings_Delete
                      description: The delete peering operation deletes the specified peering from the ExpressRouteCircuit.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    /routeTables:
                      displayName: routeTables
                      '/{devicePath}':
                        displayName: '{devicePath}'
                        uriParameters:
                          devicePath:
                            description: The path of the device.
                            required: true
                            type: string
                            displayName: The path of the device.
                        post:
                          (oas-x-ms-long-running-operation): true
                          displayName: ExpressRouteCircuits_ListRoutesTable
                          description: The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ExpressRouteCircuitsRoutesTableListResult
                            '202': {}
                          (oas-tags):
                            - ExpressRouteCircuitRoutesTable
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: ExpressRouteCircuitPeerings_CreateOrUpdate
                      description: The Put Peering operation creates/updates an peering in the specified ExpressRouteCircuits
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ExpressRouteCircuitPeering
                          (oas-body-name): peeringParameters
                          description: Parameters supplied to the create/update ExpressRouteCircuit Peering operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                        '201':
                          body:
                            application/json:
                              type: ExpressRouteCircuitPeering
                      (oas-tags):
                        - ExpressRouteCircuitPeerings
                    /stats:
                      displayName: stats
                      get:
                        displayName: ExpressRouteCircuits_GetPeeringStats
                        description: The List stats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ExpressRouteCircuitStats
                        (oas-tags):
                          - ExpressRouteCircuitStats
                /stats:
                  displayName: stats
                  get:
                    displayName: ExpressRouteCircuits_GetStats
                    description: The List stats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ExpressRouteCircuitStats
                    (oas-tags):
                      - ExpressRouteCircuitStats
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: ExpressRouteCircuits_Delete
                  description: The delete ExpressRouteCircuit operation deletes the specified ExpressRouteCircuit.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - ExpressRouteCircuits
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: ExpressRouteCircuits_CreateOrUpdate
                  description: The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ExpressRouteCircuit
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/delete ExpressRouteCircuit operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ExpressRouteCircuit
                    '201':
                      body:
                        application/json:
                          type: ExpressRouteCircuit
                  (oas-tags):
                    - ExpressRouteCircuits
            /publicIPAddresses:
              displayName: publicIPAddresses
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: PublicIPAddresses_List
                description: The List publicIpAddress operation retrieves all the publicIpAddresses in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: PublicIPAddressListResult
                (oas-tags):
                  - PublicIPAddresses
              '/{publicIpAddressName}':
                displayName: '{publicIpAddressName}'
                uriParameters:
                  publicIpAddressName:
                    description: The name of the publicIpAddress.
                    required: true
                    type: string
                    displayName: The name of the publicIpAddress.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: PublicIPAddresses_Delete
                  description: The delete publicIpAddress operation deletes the specified publicIpAddress.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - PublicIPAddresses
                get:
                  displayName: PublicIPAddresses_Get
                  description: The Get publicIpAddress operation retrieves information about the specified pubicIpAddress
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: PublicIPAddress
                  queryParameters:
                    $expand:
                      description: expand references resources.
                      required: false
                      type: string
                      displayName: expand references resources.
                  (oas-tags):
                    - PublicIPAddresses
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: PublicIPAddresses_CreateOrUpdate
                  description: The Put PublicIPAddress operation creates/updates a stable/dynamic PublicIP address
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: PublicIPAddress
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update PublicIPAddress operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: PublicIPAddress
                    '201':
                      body:
                        application/json:
                          type: PublicIPAddress
                  (oas-tags):
                    - PublicIPAddresses
            /routeTables:
              displayName: routeTables
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: RouteTables_List
                description: The list RouteTables returns all route tables in a resource group
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: RouteTableListResult
                (oas-tags):
                  - RouteTables
              '/{routeTableName}':
                displayName: '{routeTableName}'
                uriParameters:
                  routeTableName:
                    description: The name of the route table.
                    required: true
                    type: string
                    displayName: The name of the route table.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: RouteTables_Delete
                  description: The Delete RouteTable operation deletes the specified Route Table
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - RouteTables
                get:
                  displayName: RouteTables_Get
                  description: The Get RouteTables operation retrieves information about the specified route table.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RouteTable
                  queryParameters:
                    $expand:
                      description: expand references resources.
                      required: false
                      type: string
                      displayName: expand references resources.
                  (oas-tags):
                    - RouteTables
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: RouteTables_CreateOrUpdate
                  description: The Put RouteTable operation creates/updates a route table in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: RouteTable
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update Route Table operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RouteTable
                    '201':
                      body:
                        application/json:
                          type: RouteTable
                  (oas-tags):
                    - RouteTables
                /routes:
                  displayName: routes
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Routes_List
                    description: The List network security rule operation retrieves all the routes in a route table.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RouteListResult
                    (oas-tags):
                      - Routes
                  '/{routeName}':
                    displayName: '{routeName}'
                    uriParameters:
                      routeName:
                        description: The name of the route.
                        required: true
                        type: string
                        displayName: The name of the route.
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Routes_Delete
                      description: The delete route operation deletes the specified route from a route table.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - Routes
                    get:
                      displayName: Routes_Get
                      description: The Get route operation retrieves information about the specified route from the route table.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Route
                      (oas-tags):
                        - Routes
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Routes_CreateOrUpdate
                      description: The Put route operation creates/updates a route in the specified route table
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Route
                          (oas-body-name): routeParameters
                          description: Parameters supplied to the create/update route operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Route
                        '201':
                          body:
                            application/json:
                              type: Route
                      (oas-tags):
                        - Routes
            /loadBalancers:
              displayName: loadBalancers
              '/{loadBalancerName}':
                displayName: '{loadBalancerName}'
                uriParameters:
                  loadBalancerName:
                    description: The name of the loadBalancer.
                    required: true
                    type: string
                    displayName: The name of the loadBalancer.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: LoadBalancers_Delete
                  description: The delete LoadBalancer operation deletes the specified load balancer.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - LoadBalancers
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: LoadBalancers_CreateOrUpdate
                  description: The Put LoadBalancer operation creates/updates a LoadBalancer
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: LoadBalancer
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/delete LoadBalancer operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LoadBalancer
                    '201':
                      body:
                        application/json:
                          type: LoadBalancer
                  (oas-tags):
                    - LoadBalancers
                get:
                  displayName: LoadBalancers_Get
                  description: The Get LoadBalancer operation retrieves information about the specified LoadBalancer.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: LoadBalancer
                  queryParameters:
                    $expand:
                      description: expand references resources.
                      required: false
                      type: string
                      displayName: expand references resources.
                  (oas-tags):
                    - LoadBalancers
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: LoadBalancers_List
                description: The List loadBalancer operation retrieves all the load balancers in a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: LoadBalancerListResult
                (oas-tags):
                  - LoadBalancers
            /virtualNetworkGateways:
              displayName: virtualNetworkGateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworkGateways_List
                description: The List VirtualNetworkGateways operation retrieves all the virtual network gateways stored.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkGatewayListResult
                (oas-tags):
                  - VirtualNetworkGateways
              '/{virtualNetworkGatewayName}':
                displayName: '{virtualNetworkGatewayName}'
                uriParameters:
                  virtualNetworkGatewayName:
                    description: The name of the virtual network gateway.
                    required: true
                    type: string
                    displayName: The name of the virtual network gateway.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGateways_Delete
                  description: The Delete VirtualNetworkGateway operation deletes the specified virtual network Gateway through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - VirtualNetworkGateways
                get:
                  displayName: VirtualNetworkGateways_Get
                  description: The Get VirtualNetworkGateway operation retrieves information about the specified virtual network gateway through Network resource provider.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                  (oas-tags):
                    - VirtualNetworkGateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworkGateways_CreateOrUpdate
                  description: The Put VirtualNetworkGateway operation creates/updates a virtual network gateway in the specified resource group through Network resource provider.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetworkGateway
                      (oas-body-name): parameters
                      description: Parameters supplied to the Begin Create or update Virtual Network Gateway operation through Network resource provider.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                    '201':
                      body:
                        application/json:
                          type: VirtualNetworkGateway
                  (oas-tags):
                    - VirtualNetworkGateways
                /generatevpnclientpackage:
                  displayName: generatevpnclientpackage
                  post:
                    displayName: VirtualNetworkGateways_Generatevpnclientpackage
                    description: The Generatevpnclientpackage operation generates Vpn client package for P2S client of the virtual network gateway in the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VpnClientParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the Begin Generating  Virtual Network Gateway Vpn client package operation through Network resource provider.
                    responses:
                      '202':
                        body:
                          application/json:
                            type: string
                        description: Vpn client package url
                    (oas-tags):
                      - VirtualNetworkGateways
                /reset:
                  displayName: reset
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: VirtualNetworkGateways_Reset
                    description: The Reset VirtualNetworkGateway operation resets the primary of the virtual network gateway in the specified resource group through Network resource provider.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: VirtualNetworkGateway
                        (oas-body-name): parameters
                        description: Parameters supplied to the Begin Reset Virtual Network Gateway operation through Network resource provider.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualNetworkGateway
                      '202': {}
                    (oas-tags):
                      - VirtualNetworkGateways
            /virtualNetworks:
              displayName: virtualNetworks
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: VirtualNetworks_List
                description: The list VirtualNetwork returns all Virtual Networks in a resource group
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: VirtualNetworkListResult
                (oas-tags):
                  - VirtualNetworks
              '/{virtualNetworkName}':
                displayName: '{virtualNetworkName}'
                uriParameters:
                  virtualNetworkName:
                    description: The name of the virtual network.
                    required: true
                    type: string
                    displayName: The name of the virtual network.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworks_Delete
                  description: The Delete VirtualNetwork operation deletes the specified virtual network
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '204': {}
                  (oas-tags):
                    - VirtualNetworks
                get:
                  displayName: VirtualNetworks_Get
                  description: The Get VirtualNetwork operation retrieves information about the specified virtual network.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetwork
                  queryParameters:
                    $expand:
                      description: expand references resources.
                      required: false
                      type: string
                      displayName: expand references resources.
                  (oas-tags):
                    - VirtualNetworks
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: VirtualNetworks_CreateOrUpdate
                  description: The Put VirtualNetwork operation creates/updates a virtual network in the specified resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: VirtualNetwork
                      (oas-body-name): parameters
                      description: Parameters supplied to the create/update Virtual Network operation
                  responses:
                    '200':
                      body:
                        application/json:
                          type: VirtualNetwork
                    '201':
                      body:
                        application/json:
                          type: VirtualNetwork
                  (oas-tags):
                    - VirtualNetworks
                /CheckIPAddressAvailability:
                  displayName: CheckIPAddressAvailability
                  get:
                    displayName: VirtualNetworks_CheckIPAddressAvailability
                    description: Checks whether a private Ip address is available for use.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: IPAddressAvailabilityResult
                        description: private IP address availability and list of other free addresses if the requested one is not available
                    queryParameters:
                      ipAddress:
                        description: The private IP address to be verified.
                        required: false
                        type: string
                        displayName: The private IP address to be verified.
                /subnets:
                  displayName: subnets
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Subnets_List
                    description: The List subnets operation retrieves all the subnets in a virtual network.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SubnetListResult
                    (oas-tags):
                      - Subnets
                  '/{subnetName}':
                    displayName: '{subnetName}'
                    uriParameters:
                      subnetName:
                        description: The name of the subnet.
                        required: true
                        type: string
                        displayName: The name of the subnet.
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Subnets_Delete
                      description: The delete subnet operation deletes the specified subnet.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - Subnets
                    get:
                      displayName: Subnets_Get
                      description: The Get subnet operation retrieves information about the specified subnet.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Subnet
                      queryParameters:
                        $expand:
                          description: expand references resources.
                          required: false
                          type: string
                          displayName: expand references resources.
                      (oas-tags):
                        - Subnets
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Subnets_CreateOrUpdate
                      description: The Put Subnet operation creates/updates a subnet in the specified virtual network
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Subnet
                          (oas-body-name): subnetParameters
                          description: Parameters supplied to the create/update Subnet operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Subnet
                        '201':
                          body:
                            application/json:
                              type: Subnet
                      (oas-tags):
                        - Subnets
                /virtualNetworkPeerings:
                  displayName: virtualNetworkPeerings
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: VirtualNetworkPeerings_List
                    description: The List virtual network peerings operation retrieves all the peerings in a virtual network.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: VirtualNetworkPeeringListResult
                    (oas-tags):
                      - VirtualNetworkPeerings
                  '/{virtualNetworkPeeringName}':
                    displayName: '{virtualNetworkPeeringName}'
                    uriParameters:
                      virtualNetworkPeeringName:
                        description: The name of the virtual network peering.
                        required: true
                        type: string
                        displayName: The name of the virtual network peering.
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualNetworkPeerings_Delete
                      description: The delete virtual network peering operation deletes the specified peering.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '202': {}
                        '204': {}
                      (oas-tags):
                        - VirtualNetworkPeerings
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: VirtualNetworkPeerings_CreateOrUpdate
                      description: The Put virtual network peering operation creates/updates a peering in the specified virtual network
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: VirtualNetworkPeering
                          (oas-body-name): VirtualNetworkPeeringParameters
                          description: Parameters supplied to the create/update virtual network peering operation
                      responses:
                        '200':
                          body:
                            application/json:
                              type: VirtualNetworkPeering
                        '201':
                          body:
                            application/json:
                              type: VirtualNetworkPeering
                      (oas-tags):
                        - VirtualNetworkPeerings
                    get:
                      displayName: VirtualNetworkPeerings_Get
                      description: The Get virtual network peering operation retrieves information about the specified virtual network peering.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: VirtualNetworkPeering
                      (oas-tags):
                        - VirtualNetworkPeerings
          /microsoft.Compute:
            displayName: microsoft.Compute
            /virtualMachineScaleSets:
              displayName: virtualMachineScaleSets
              '/{virtualMachineScaleSetName}':
                displayName: '{virtualMachineScaleSetName}'
                /virtualMachines:
                  displayName: virtualMachines
                  '/{virtualmachineIndex}':
                    displayName: '{virtualmachineIndex}'
                    /networkInterfaces:
                      displayName: networkInterfaces
                      '/{networkInterfaceName}':
                        displayName: '{networkInterfaceName}'
                        uriParameters:
                          networkInterfaceName:
                            description: The name of the network interface.
                            required: true
                            type: string
                            displayName: The name of the network interface.
                        get:
                          displayName: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
                          description: The Get network interface operation retrieves information about the specified network interface in a virtual machine scale set.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: NetworkInterface
                          queryParameters:
                            $expand:
                              description: expand references resources.
                              required: false
                              type: string
                              displayName: expand references resources.
                          (oas-tags):
                            - NetworkInterfaces
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
                        description: The list network interface operation retrieves information about all network interfaces in a virtual machine from a virtual machine scale set.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: NetworkInterfaceListResult
                        (oas-tags):
                          - NetworkInterfaces
                /networkInterfaces:
                  displayName: networkInterfaces
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
                    description: The list network interface operation retrieves information about all network interfaces in a virtual machine scale set.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: NetworkInterfaceListResult
                    (oas-tags):
                      - NetworkInterfaces
    /providers:
      displayName: providers
      /Microsoft.Network:
        displayName: Microsoft.Network
        /applicationGateways:
          displayName: applicationGateways
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ApplicationGateways_ListAll
            description: The List ApplicationGateway operation retrieves all the application gateways in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ApplicationGatewayListResult
            (oas-tags):
              - ApplicationGateways
        /expressRouteServiceProviders:
          displayName: expressRouteServiceProviders
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ExpressRouteServiceProviders_List
            description: The List ExpressRouteServiceProvider operation retrieves all the available ExpressRouteServiceProviders.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ExpressRouteServiceProviderListResult
            (oas-tags):
              - ExpressRouteServiceProviders
        /locations:
          displayName: locations
          '/{location}':
            displayName: '{location}'
            /CheckDnsNameAvailability:
              displayName: CheckDnsNameAvailability
              get:
                displayName: CheckDnsNameAvailability
                description: Checks whether a domain name in the cloudapp.net zone is available for use.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: DnsNameAvailabilityResult
                queryParameters:
                  domainNameLabel:
                    description: 'The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.'
                    required: false
                    type: string
                    displayName: 'The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.'
            /usages:
              displayName: usages
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Usages_List
                description: Lists compute usages for a subscription.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: UsagesListResult
                (oas-tags):
                  - Usages
        /networkInterfaces:
          displayName: networkInterfaces
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: NetworkInterfaces_ListAll
            description: The List networkInterfaces operation retrieves all the networkInterfaces in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NetworkInterfaceListResult
            (oas-tags):
              - NetworkInterfaces
        /publicIPAddresses:
          displayName: publicIPAddresses
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: PublicIPAddresses_ListAll
            description: The List publicIpAddress operation retrieves all the publicIpAddresses in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: PublicIPAddressListResult
            (oas-tags):
              - PublicIPAddresses
        /virtualNetworks:
          displayName: virtualNetworks
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: VirtualNetworks_ListAll
            description: The list VirtualNetwork returns all Virtual Networks in a subscription
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: VirtualNetworkListResult
            (oas-tags):
              - VirtualNetworks
        /expressRouteCircuits:
          displayName: expressRouteCircuits
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: ExpressRouteCircuits_ListAll
            description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ExpressRouteCircuitListResult
            (oas-tags):
              - ExpressRouteCircuits
        /routeTables:
          displayName: routeTables
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: RouteTables_ListAll
            description: The list RouteTables returns all route tables in a subscription
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: RouteTableListResult
            (oas-tags):
              - RouteTables
        /loadBalancers:
          displayName: loadBalancers
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: LoadBalancers_ListAll
            description: The List loadBalancer operation retrieves all the load balancers in a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: LoadBalancerListResult
            (oas-tags):
              - LoadBalancers
        /networkSecurityGroups:
          displayName: networkSecurityGroups
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: NetworkSecurityGroups_ListAll
            description: The list NetworkSecurityGroups returns all network security groups in a subscription
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NetworkSecurityGroupListResult
            (oas-tags):
              - NetworkSecurityGroups
types:
  AddressSpace:
    description: AddressSpace contains an array of IP address ranges that can be used by subnets
    properties:
      addressPrefixes:
        description: Gets or sets list of address blocks reserved for this virtual network in CIDR notation
        items:
          type: string
        type: array
        required: false
  ApplicationGateway:
    type: Resource
  ApplicationGatewayAuthenticationCertificate:
    type: SubResource
  ApplicationGatewayAuthenticationCertificatePropertiesFormat:
    description: Properties of Authentication certificates of application gateway
    properties:
      data:
        description: 'Certificate public data '
        type: string
        required: false
      provisioningState:
        description: Provisioning state of the authentication certificate resource Updating/Deleting/Failed
        type: string
        required: false
  ApplicationGatewayBackendAddress:
    description: Backend Address of application gateway
    properties:
      fqdn:
        description: Dns name
        type: string
        required: false
      ipAddress:
        description: Ip address
        type: string
        required: false
  ApplicationGatewayBackendAddressPool:
    type: SubResource
  ApplicationGatewayBackendAddressPoolPropertiesFormat:
    description: Properties of Backend Address Pool of application gateway
    properties:
      backendAddresses:
        description: Backend addresses
        items:
          type: ApplicationGatewayBackendAddress
        type: array
        required: false
      backendIPConfigurations:
        description: Collection of references to IPs defined in NICs
        items:
          type: NetworkInterfaceIPConfiguration
        type: array
        required: false
      provisioningState:
        description: Provisioning state of the backend address pool resource Updating/Deleting/Failed
        type: string
        required: false
  ApplicationGatewayBackendHttpSettings:
    type: SubResource
  ApplicationGatewayBackendHttpSettingsPropertiesFormat:
    description: Properties of Backend address pool settings of application gateway
    properties:
      authenticationCertificates:
        description: Array of references to Application Gateway Authentication Certificates
        items:
          type: SubResource
        type: array
        required: false
      cookieBasedAffinity:
        description: Cookie affinity
        enum:
          - Enabled
          - Disabled
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayCookieBasedAffinity
      port:
        description: Port
        format: int32
        type: integer
        required: false
      probe:
        description: 'Probe resource of application gateway '
        type: SubResource
        required: false
      protocol:
        description: Protocol
        enum:
          - Http
          - Https
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: Provisioning state of the backend http settings resource Updating/Deleting/Failed
        type: string
        required: false
      requestTimeout:
        description: Request timeout
        format: int32
        type: integer
        required: false
  ApplicationGatewayFrontendIPConfiguration:
    type: SubResource
  ApplicationGatewayFrontendIPConfigurationPropertiesFormat:
    description: Properties of Frontend IP configuration of application gateway
    properties:
      privateIPAddress:
        description: PrivateIPAddress of the Network Interface IP Configuration
        type: string
        required: false
      privateIPAllocationMethod:
        description: PrivateIP allocation method (Static/Dynamic)
        enum:
          - Static
          - Dynamic
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: IPAllocationMethod
      provisioningState:
        description: Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
        required: false
      publicIPAddress:
        description: Reference of the PublicIP resource
        type: SubResource
        required: false
      subnet:
        description: Reference of the subnet resource
        type: SubResource
        required: false
  ApplicationGatewayFrontendPort:
    type: SubResource
  ApplicationGatewayFrontendPortPropertiesFormat:
    description: Properties of Frontend Port of application gateway
    properties:
      port:
        description: Frontend port
        format: int32
        type: integer
        required: false
      provisioningState:
        description: Provisioning state of the frontend port resource Updating/Deleting/Failed
        type: string
        required: false
  ApplicationGatewayHttpListener:
    type: SubResource
  ApplicationGatewayHttpListenerPropertiesFormat:
    description: Properties of Http listener of application gateway
    properties:
      frontendIPConfiguration:
        description: 'Frontend IP configuration resource of application gateway '
        type: SubResource
        required: false
      frontendPort:
        description: 'Frontend port resource of application gateway '
        type: SubResource
        required: false
      hostName:
        description: 'Host name of http listener '
        type: string
        required: false
      protocol:
        description: Protocol
        enum:
          - Http
          - Https
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: Provisioning state of the http listener resource Updating/Deleting/Failed
        type: string
        required: false
      requireServerNameIndication:
        description: 'RequireServerNameIndication of http listener '
        type: boolean
        required: false
      sslCertificate:
        description: 'Ssl certificate resource of application gateway '
        type: SubResource
        required: false
  ApplicationGatewayIPConfiguration:
    type: SubResource
  ApplicationGatewayIPConfigurationPropertiesFormat:
    description: Properties of IP configuration of application gateway
    properties:
      provisioningState:
        description: Provisioning state of the application gateway subnet resource Updating/Deleting/Failed
        type: string
        required: false
      subnet:
        description: 'Reference of the subnet resource. A subnet from where application gateway gets its private address '
        type: SubResource
        required: false
  ApplicationGatewayListResult:
    description: Response for ListApplicationGateways Api service call
    properties:
      nextLink:
        description: URL to get the next set of results.
        type: string
        required: false
      value:
        description: List of ApplicationGateways in a resource group
        items:
          type: ApplicationGateway
        type: array
        required: false
  ApplicationGatewayPathRule:
    type: SubResource
  ApplicationGatewayPathRulePropertiesFormat:
    description: Properties of probe of application gateway
    properties:
      backendAddressPool:
        description: 'Backend address pool resource of URL path map '
        type: SubResource
        required: false
      backendHttpSettings:
        description: 'Backend http settings resource of URL path map '
        type: SubResource
        required: false
      paths:
        description: Path rules of URL path map
        items:
          type: string
        type: array
        required: false
      provisioningState:
        description: Path rule of URL path map resource Updating/Deleting/Failed
        type: string
        required: false
  ApplicationGatewayProbe:
    type: SubResource
  ApplicationGatewayProbePropertiesFormat:
    description: Properties of probe of application gateway
    properties:
      host:
        description: 'Host to send probe to '
        type: string
        required: false
      interval:
        description: 'Probing interval in seconds '
        format: int32
        type: integer
        required: false
      path:
        description: 'Relative path of probe '
        type: string
        required: false
      protocol:
        description: Protocol
        enum:
          - Http
          - Https
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: Provisioning state of the backend http settings resource Updating/Deleting/Failed
        type: string
        required: false
      timeout:
        description: 'Probing timeout in seconds '
        format: int32
        type: integer
        required: false
      unhealthyThreshold:
        description: 'Probing unhealthy threshold '
        format: int32
        type: integer
        required: false
  ApplicationGatewayPropertiesFormat:
    description: Properties of Application Gateway
    properties:
      authenticationCertificates:
        description: Authentication certificates of application gateway resource
        items:
          type: ApplicationGatewayAuthenticationCertificate
        type: array
        required: false
      backendAddressPools:
        description: Backend address pool of application gateway resource
        items:
          type: ApplicationGatewayBackendAddressPool
        type: array
        required: false
      backendHttpSettingsCollection:
        description: Backend http settings of application gateway resource
        items:
          type: ApplicationGatewayBackendHttpSettings
        type: array
        required: false
      frontendIPConfigurations:
        description: Frontend IP addresses of application gateway resource
        items:
          type: ApplicationGatewayFrontendIPConfiguration
        type: array
        required: false
      frontendPorts:
        description: Frontend ports of application gateway resource
        items:
          type: ApplicationGatewayFrontendPort
        type: array
        required: false
      gatewayIPConfigurations:
        description: Subnets of application gateway resource
        items:
          type: ApplicationGatewayIPConfiguration
        type: array
        required: false
      httpListeners:
        description: HTTP listeners of application gateway resource
        items:
          type: ApplicationGatewayHttpListener
        type: array
        required: false
      operationalState:
        description: Operational state of application gateway resource
        enum:
          - Stopped
          - Starting
          - Running
          - Stopping
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayOperationalState
      probes:
        description: Probes of application gateway resource
        items:
          type: ApplicationGatewayProbe
        type: array
        required: false
      provisioningState:
        description: Provisioning state of the ApplicationGateway resource Updating/Deleting/Failed
        type: string
        required: false
      requestRoutingRules:
        description: Request routing rules of application gateway resource
        items:
          type: ApplicationGatewayRequestRoutingRule
        type: array
        required: false
      resourceGuid:
        description: Resource guid property of the ApplicationGateway resource
        type: string
        required: false
      sku:
        description: Sku of application gateway resource
        type: ApplicationGatewaySku
        required: false
      sslCertificates:
        description: SSL certificates of application gateway resource
        items:
          type: ApplicationGatewaySslCertificate
        type: array
        required: false
      sslPolicy:
        description: SSL policy of application gateway resource
        type: ApplicationGatewaySslPolicy
        required: false
      urlPathMaps:
        description: URL path map of application gateway resource
        items:
          type: ApplicationGatewayUrlPathMap
        type: array
        required: false
  ApplicationGatewayRequestRoutingRule:
    type: SubResource
  ApplicationGatewayRequestRoutingRulePropertiesFormat:
    description: Properties of Request routing rule of application gateway
    properties:
      backendAddressPool:
        description: 'Backend address pool resource of application gateway '
        type: SubResource
        required: false
      backendHttpSettings:
        description: 'Frontend port resource of application gateway '
        type: SubResource
        required: false
      httpListener:
        description: 'Http listener resource of application gateway '
        type: SubResource
        required: false
      provisioningState:
        description: Provisioning state of the request routing rule resource Updating/Deleting/Failed
        type: string
        required: false
      ruleType:
        description: Rule type
        enum:
          - Basic
          - PathBasedRouting
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayRequestRoutingRuleType
      urlPathMap:
        description: 'Url path map resource of application gateway '
        type: SubResource
        required: false
  ApplicationGatewaySku:
    description: SKU of application gateway
    properties:
      capacity:
        description: Capacity (instance count) of application gateway
        format: int32
        type: integer
        required: false
      name:
        description: Name of application gateway SKU
        enum:
          - Standard_Small
          - Standard_Medium
          - Standard_Large
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewaySkuName
      tier:
        description: Tier of application gateway
        enum:
          - Standard
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ApplicationGatewayTier
  ApplicationGatewaySslCertificate:
    type: SubResource
  ApplicationGatewaySslCertificatePropertiesFormat:
    description: Properties of SSL certificates of application gateway
    properties:
      data:
        description: 'SSL Certificate data '
        type: string
        required: false
      password:
        description: 'SSL Certificate password '
        type: string
        required: false
      provisioningState:
        description: Provisioning state of the ssl certificate resource Updating/Deleting/Failed
        type: string
        required: false
      publicCertData:
        description: 'SSL Certificate public data '
        type: string
        required: false
  ApplicationGatewaySslPolicy:
    description: Application gateway SSL policy
    properties:
      disabledSslProtocols:
        description: SSL protocols to be disabled on Application Gateway
        items:
          enum:
            - TLSv1_0
            - TLSv1_1
            - TLSv1_2
          type: string
          (oas-x-ms-enum):
            modelAsString: true
            name: ApplicationGatewaySslProtocol
        type: array
        required: false
  ApplicationGatewayUrlPathMap:
    type: SubResource
  ApplicationGatewayUrlPathMapPropertiesFormat:
    description: Properties of UrlPathMap of application gateway
    properties:
      defaultBackendAddressPool:
        description: 'Default backend address pool resource of URL path map '
        type: SubResource
        required: false
      defaultBackendHttpSettings:
        description: 'Default backend http settings resource of URL path map '
        type: SubResource
        required: false
      pathRules:
        description: Path rule of URL path map resource
        items:
          type: ApplicationGatewayPathRule
        type: array
        required: false
      provisioningState:
        description: Provisioning state of the backend http settings resource Updating/Deleting/Failed
        type: string
        required: false
  AuthorizationListResult:
    description: Response for ListAuthorizations Api service callRetrieves all authorizations that belongs to an ExpressRouteCircuit
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
        required: false
      value:
[...]
