#%RAML 1.0
title: DnsManagementClient
version: '2016-04-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: The DNS Management Client.
(oas-info):
  (oas-x-apisguru-categories):
    - hosting
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-dns/2016-04-01/swagger/dns.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-dns
  (oas-x-tags):
    - Azure
    - Microsoft
    - DNS
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-client-flatten: any
  oas-x-ms-client-name: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Network:
            displayName: Microsoft.Network
            /dnsZones:
              displayName: dnsZones
              '/{zoneName}':
                displayName: '{zoneName}'
                /recordsets:
                  displayName: recordsets
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: RecordSets_ListByDnsZone
                    description: Lists all record sets in a DNS zone.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: CloudError
                      description: Default response. It will be deserialized as per the Error definition.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RecordSetListResult
                        description: Success.
                    queryParameters:
                      $top:
                        description: 'The maximum number of record sets to return. If not specified, returns up to 100 record sets.'
                        format: int32
                        required: false
                        type: integer
                    (oas-tags):
                      - RecordSets
                '/{recordType}':
                  displayName: '{recordType}'
                  '/{relativeRecordSetName}':
                    displayName: '{relativeRecordSetName}'
                    uriParameters:
                      relativeRecordSetName:
                        description: 'The name of the record set, relative to the name of the zone.'
                        required: true
                        type: string
                    put:
                      displayName: RecordSets_CreateOrUpdate
                      description: Creates or updates a record set within a DNS zone.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: RecordSet
                          (oas-body-name): parameters
                          description: Parameters supplied to the CreateOrUpdate operation.
                      headers:
                        If-Match:
                          type: string
                          description: The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwritting any concurrent changes.
                          required: false
                        If-None-Match:
                          type: string
                          description: 'Set to ''*'' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored.'
                          required: false
                      (oas-responses-default):
                        body:
                          application/json:
                            type: CloudError
                        description: Default response. It will be deserialized as per the Error definition.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RecordSet
                          description: The record set has been updated.
                        '201':
                          body:
                            application/json:
                              type: RecordSet
                          description: The record set has been created.
                      (oas-tags):
                        - RecordSets
                    patch:
                      displayName: RecordSets_Update
                      description: Updates a record set within a DNS zone.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: RecordSet
                          (oas-body-name): parameters
                          description: Parameters supplied to the Update operation.
                      headers:
                        If-Match:
                          type: string
                          description: The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwritting concurrent changes.
                          required: false
                      (oas-responses-default):
                        body:
                          application/json:
                            type: CloudError
                        description: Default response. It will be deserialized as per the Error definition.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RecordSet
                          description: The record set has been updated.
                      (oas-tags):
                        - RecordSets
                    get:
                      displayName: RecordSets_Get
                      description: Gets a record set.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: CloudError
                        description: Default response. It will be deserialized as per the Error definition.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RecordSet
                          description: Success.
                      (oas-tags):
                        - RecordSets
                    delete:
                      displayName: RecordSets_Delete
                      description: Deletes a record set from a DNS zone. This operation cannot be undone.
                      is:
                        - apiVersionParameter
                      headers:
                        If-Match:
                          type: string
                          description: The etag of the record set. Omit this value to always delete the current record set. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes.
                          required: false
                      (oas-responses-default):
                        body:
                          application/json:
                            type: CloudError
                        description: Default response. It will be deserialized as per the Error definition.
                      responses:
                        '200':
                          description: The record set has been deleted.
                        '204':
                          description: The record set was not found.
                      (oas-tags):
                        - RecordSets
                  uriParameters:
                    recordType:
                      description: The type of record sets to enumerate.
                      enum:
                        - A
                        - AAAA
                        - CNAME
                        - MX
                        - NS
                        - PTR
                        - SOA
                        - SRV
                        - TXT
                      required: true
                      type: string
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: RecordSets_ListByType
                    description: Lists the record sets of a specified type in a DNS zone.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: CloudError
                      description: Default response. It will be deserialized as per the Error definition.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RecordSetListResult
                        description: Success.
                    queryParameters:
                      $top:
                        description: 'The maximum number of record sets to return. If not specified, returns up to 100 record sets.'
                        format: int32
                        required: false
                        type: integer
                    (oas-tags):
                      - RecordSets
                uriParameters:
                  zoneName:
                    description: The name of the DNS zone (without a terminating dot).
                    required: true
                    type: string
                put:
                  displayName: Zones_CreateOrUpdate
                  description: Creates or updates a DNS zone. Does not modify DNS records within the zone.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: Zone
                      (oas-body-name): parameters
                      description: Parameters supplied to the CreateOrUpdate operation.
                  headers:
                    If-Match:
                      type: string
                      description: The etag of the DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen etag value to prevent accidentally overwritting any concurrent changes.
                      required: false
                    If-None-Match:
                      type: string
                      description: 'Set to ''*'' to allow a new DNS zone to be created, but to prevent updating an existing zone. Other values will be ignored.'
                      required: false
                  (oas-responses-default):
                    body:
                      application/json:
                        type: CloudError
                    description: Default response. It will be deserialized as per the Error definition.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Zone
                      description: The DNS zone has been updated.
                    '201':
                      body:
                        application/json:
                          type: Zone
                      description: The DNS zone has been created.
                  (oas-tags):
                    - Zones
                get:
                  displayName: Zones_Get
                  description: 'Gets a DNS zone. Retrieves the zone properties, but not the record sets within the zone.'
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: CloudError
                    description: Default response. It will be deserialized as per the Error definition.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Zone
                      description: Success.
                  (oas-tags):
                    - Zones
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: Zones_Delete
                  description: 'Deletes a DNS zone. WARNING: All DNS records in the zone will also be deleted. This operation cannot be undone.'
                  is:
                    - apiVersionParameter
                  headers:
                    If-Match:
                      type: string
                      description: The etag of the DNS zone. Omit this value to always delete the current zone. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes.
                      required: false
                  (oas-responses-default):
                    body:
                      application/json:
                        type: CloudError
                    description: Default response. It will be deserialized as per the Error definition.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ZoneDeleteResult
                      description: The DNS zone has been deleted.
                    '202':
                      description: The DNS zone delete operation has been accepted and will complete asynchronously.
                    '204':
                      description: The DNS zone was not found.
                  (oas-tags):
                    - Zones
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Zones_ListByResourceGroup
                description: Lists the DNS zones within a resource group.
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: CloudError
                  description: Default response. It will be deserialized as per the Error definition.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ZoneListResult
                    description: Success.
                queryParameters:
                  $top:
                    description: 'The maximum number of record sets to return. If not specified, returns up to 100 record sets.'
                    format: int32
                    required: false
                    type: integer
                (oas-tags):
                  - Zones
    /providers:
      displayName: providers
      /Microsoft.Network:
        displayName: Microsoft.Network
        /dnszones:
          displayName: dnszones
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: Zones_List
            description: Lists the DNS zones in all resource groups in a subscription.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: CloudError
              description: Default response. It will be deserialized as per the Error definition.
            responses:
              '200':
                body:
                  application/json:
                    type: ZoneListResult
                description: Success.
            queryParameters:
              $top:
                description: 'The maximum number of DNS zones to return. If not specified, returns up to 100 zones.'
                format: int32
                required: false
                type: integer
            (oas-tags):
              - Zones
types:
  ARecord:
    description: An A record.
    properties:
      ipv4Address:
        description: The IPv4 address of this A record.
        type: string
        required: false
  AaaaRecord:
    description: An AAAA record.
    properties:
      ipv6Address:
        description: The IPv6 address of this AAAA record.
        type: string
        required: false
  CloudError:
    properties:
      error:
        type: CloudErrorBody
        required: false
  CloudErrorBody:
    properties:
      code:
        type: string
        required: false
      details:
        items:
          type: CloudErrorBody
        type: array
        required: false
      message:
        type: string
        required: false
      target:
        type: string
        required: false
  CnameRecord:
    description: A CNAME record.
    properties:
      cname:
        description: The canonical name for this CNAME record.
        type: string
        required: false
  MxRecord:
    description: An MX record.
    properties:
      exchange:
        description: The domain name of the mail host for this MX record.
        type: string
        required: false
      preference:
        description: The preference value for this MX record.
        format: int32
        type: integer
        required: false
  NsRecord:
    description: An NS record.
    properties:
      nsdname:
        description: The name server name for this NS record.
        type: string
        required: false
  PtrRecord:
    description: A PTR record.
    properties:
      ptrdname:
        description: The PTR target domain name for this PTR record.
        type: string
        required: false
  RecordSet:
    description: Describes a DNS record set (a collection of DNS records with the same name and type).
    properties:
      etag:
        description: The etag of the record set.
        type: string
        required: false
      id:
        description: The ID of the record set.
        type: string
        required: false
      name:
        description: The name of the record set.
        type: string
        required: false
      properties:
        description: The properties of the record set.
        type: RecordSetProperties
        required: false
        (oas-x-ms-client-flatten): true
      type:
        description: The type of the record set.
        type: string
        required: false
  RecordSetListResult:
    description: The response to a record set List operation.
    properties:
      nextLink:
        description: The continuation token for the next page of results.
        type: string
        required: false
      value:
        description: Information about the record sets in the response.
        items:
          type: RecordSet
        type: array
        required: false
  RecordSetProperties:
    description: Represents the properties of the records in the record set.
    properties:
      AAAARecords:
        description: The list of AAAA records in the record set.
        items:
          type: AaaaRecord
        type: array
        required: false
        (oas-x-ms-client-name): AaaaRecords
      ARecords:
        description: The list of A records in the record set.
        items:
          type: ARecord
        type: array
        required: false
      CNAMERecord:
        description: The CNAME record in the  record set.
        type: CnameRecord
        required: false
        (oas-x-ms-client-name): CnameRecord
      MXRecords:
        description: The list of MX records in the record set.
        items:
          type: MxRecord
        type: array
        required: false
        (oas-x-ms-client-name): MxRecords
      NSRecords:
        description: The list of NS records in the record set.
        items:
          type: NsRecord
        type: array
        required: false
        (oas-x-ms-client-name): NsRecords
      PTRRecords:
        description: The list of PTR records in the record set.
        items:
          type: PtrRecord
        type: array
        required: false
        (oas-x-ms-client-name): PtrRecords
      SOARecord:
        description: The SOA record in the record set.
        type: SoaRecord
        required: false
        (oas-x-ms-client-name): SoaRecord
      SRVRecords:
        description: The list of SRV records in the record set.
        items:
          type: SrvRecord
        type: array
        required: false
        (oas-x-ms-client-name): SrvRecords
      TTL:
        description: The TTL (time-to-live) of the records in the record set.
        format: int64
        type: integer
        required: false
      TXTRecords:
        description: The list of TXT records in the record set.
        items:
          type: TxtRecord
        type: array
        required: false
        (oas-x-ms-client-name): TxtRecords
      metadata:
        additionalProperties:
          type: string
        description: The metadata attached to the record set.
        type: object
        required: false
  RecordSetUpdateParameters:
    description: Parameters supplied to update a record set.
    properties:
      RecordSet:
        description: Specifies information about the record set being updated.
        type: RecordSet
        required: false
  Resource:
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        required: false
      type:
        description: Resource type.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  SoaRecord:
    description: An SOA record.
    properties:
      email:
        description: The email contact for this SOA record.
        type: string
        required: false
      expireTime:
        description: The expire time for this SOA record.
        format: int64
        type: integer
        required: false
      host:
        description: The domain name of the authoritative name server for this SOA record.
        type: string
        required: false
      minimumTTL:
        description: The minimum value for this SOA record. By convention this is used to determine the negative caching duration.
        format: int64
        type: integer
        required: false
        (oas-x-ms-client-name): minimumTtl
      refreshTime:
        description: The refresh value for this SOA record.
        format: int64
        type: integer
        required: false
      retryTime:
        description: The retry time for this SOA record.
        format: int64
        type: integer
        required: false
      serialNumber:
        description: The serial number for this SOA record.
        format: int64
        type: integer
        required: false
  SrvRecord:
    description: An SRV record.
    properties:
      port:
        description: The port value for this SRV record.
        format: int32
        type: integer
        required: false
      priority:
        description: The priority value for this SRV record.
        format: int32
        type: integer
        required: false
      target:
        description: The target domain name for this SRV record.
        type: string
        required: false
      weight:
        description: The weight value for this SRV record.
        format: int32
        type: integer
        required: false
  SubResource:
    properties:
      id:
        description: Resource Id.
        type: string
        required: false
  TxtRecord:
    description: A TXT record.
    properties:
      value:
        description: The text value of this TXT record.
        items:
          type: string
        type: array
        required: false
  Zone:
    type: Resource
  ZoneDeleteResult:
    description: The response to a Zone Delete operation.
    properties:
      azureAsyncOperation:
        description: Users can perform a Get on Azure-AsyncOperation to get the status of their delete Zone operations.
        type: string
        required: false
      requestId:
        type: string
        required: false
      status:
        enum:
          - InProgress
          - Succeeded
          - Failed
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: OperationStatus
      statusCode:
        enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - Ambiguous
          - MovedPermanently
          - Moved
          - Found
          - Redirect
          - SeeOther
          - RedirectMethod
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - RedirectKeepVerb
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: HttpStatusCode
  ZoneListResult:
    description: The response to a Zone List or ListAll operation.
    properties:
      nextLink:
        description: The continuation token for the next page of results.
        type: string
        required: false
      value:
        description: Information about the DNS zones.
        items:
          type: Zone
        type: array
        required: false
  ZoneProperties:
    description: Represents the properties of the zone.
    properties:
      maxNumberOfRecordSets:
        description: The maximum number of record sets that can be created in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.
        format: int64
        type: integer
        required: false
      nameServers:
        description: The name servers for this DNS zone. This is a read-only property and any attempt to set this value will be ignored.
        items:
          type: string
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      numberOfRecordSets:
        description: The current number of record sets in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.
        format: int64
        type: integer
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Specifies the API version.
        required: true
