#%RAML 1.0
title: StorageManagementClient
version: '2015-06-15'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: The Storage Management Client.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-storage/2015-06-15/swagger/storage.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-storage
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Storage:
            displayName: Microsoft.Storage
            /storageAccounts:
              displayName: storageAccounts
              '/{accountName}':
                displayName: '{accountName}'
                /regenerateKey:
                  displayName: regenerateKey
                  post:
                    displayName: StorageAccounts_RegenerateKey
                    description: Regenerates the access keys for the specified storage account.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: StorageAccountRegenerateKeyParameters
                        (oas-body-name): regenerateKey
                        description: Specifies name of the key which should be regenerated. key1 or key2 for the default keys
                    responses:
                      '200':
                        body:
                          application/json:
                            type: StorageAccountKeys
                    (oas-tags):
                      - StorageAccounts
                /listKeys:
                  displayName: listKeys
                  post:
                    displayName: StorageAccounts_ListKeys
                    description: Lists the access keys for the specified storage account.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: StorageAccountKeys
                    (oas-tags):
                      - StorageAccounts
                uriParameters:
                  accountName:
                    description: 'The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.  '
                    maxLength: 24
                    minLength: 3
                    required: true
                    type: string
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: StorageAccounts_Create
                  description: 'Asynchronously creates a new storage account with the specified parameters. Existing accounts cannot be updated with this API and should instead use the Update Storage Account API. If an account is already created and subsequent PUT request is issued with exact same set of properties, then HTTP 200 would be returned. '
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: StorageAccountCreateParameters
                      (oas-body-name): parameters
                      description: The parameters to provide for the created account.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: StorageAccount
                    '202': {}
                  (oas-tags):
                    - StorageAccounts
                patch:
                  displayName: StorageAccounts_Update
                  description: 'Updates the account type or tags for a storage account. It can also be used to add a custom domain (note that custom domains cannot be added via the Create operation). Only one custom domain is supported per storage account. In order to replace a custom domain, the old value must be cleared before a new value may be set. To clear a custom domain, simply update the custom domain with empty string. Then call update again with the new cutsom domain name. The update API can only be used to update one of tags, accountType, or customDomain per call. To update multiple of these properties, call the API multiple times with one change per call. This call does not change the storage keys for the account. If you want to change storage account keys, use the RegenerateKey operation. The location and name of the storage account cannot be changed after creation.'
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: StorageAccountUpdateParameters
                      (oas-body-name): parameters
                      description: 'The parameters to update on the account. Note that only one property can be changed at a time using this API. '
                  responses:
                    '200':
                      body:
                        application/json:
                          type: StorageAccount
                  (oas-tags):
                    - StorageAccounts
                get:
                  displayName: StorageAccounts_GetProperties
                  description: 'Returns the properties for the specified storage account including but not limited to name, account type, location, and account status. The ListKeys operation should be used to retrieve storage keys.'
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: StorageAccount
                  (oas-tags):
                    - StorageAccounts
                delete:
                  displayName: StorageAccounts_Delete
                  description: Deletes a storage account in Microsoft Azure.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '204': {}
                  (oas-tags):
                    - StorageAccounts
              get:
                (oas-x-ms-pageable): {}
                displayName: StorageAccounts_ListByResourceGroup
                description: Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: StorageAccountListResult
                (oas-tags):
                  - StorageAccounts
    /providers:
      displayName: providers
      /Microsoft.Storage:
        displayName: Microsoft.Storage
        /usages:
          displayName: usages
          get:
            (oas-x-ms-pageable): {}
            displayName: Usage_List
            description: Gets the current usage count and the limit for the resources under the subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: UsageListResult
            (oas-tags):
              - Usage
        /storageAccounts:
          displayName: storageAccounts
          get:
            (oas-x-ms-pageable): {}
            displayName: StorageAccounts_List
            description: Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: StorageAccountListResult
            (oas-tags):
              - StorageAccounts
        /checkNameAvailability:
          displayName: checkNameAvailability
          post:
            displayName: StorageAccounts_CheckNameAvailability
            description: Checks that account name is valid and is not in use.
            is:
              - apiVersionParameter
            body:
              application/json:
                type: StorageAccountCheckNameAvailabilityParameters
                (oas-body-name): accountName
                description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
            responses:
              '200':
                body:
                  application/json:
                    type: CheckNameAvailabilityResult
            (oas-tags):
              - StorageAccounts
types:
  CheckNameAvailabilityResult:
    description: The CheckNameAvailability operation response.
    properties:
      message:
        description: Gets an error message explaining the Reason value in more detail.
        type: string
        required: false
      nameAvailable:
        description: 'Gets a boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or invalid and cannot be used.'
        type: boolean
        required: false
      reason:
        description: Gets the reason that a storage account name could not be used. The Reason element is only returned if NameAvailable is false.
        enum:
          - AccountNameInvalid
          - AlreadyExists
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: Reason
  CustomDomain:
    description: The custom domain assigned to this storage account. This can be set via Update.
    properties:
      name:
        description: Gets or sets the custom domain name. Name is the CNAME source.
        type: string
      useSubDomain:
        description: Indicates whether indirect CName validation is enabled. Default value is false. This should only be set on updates
        type: boolean
        required: false
  Endpoints:
    description: 'The URIs that are used to perform a retrieval of a public blob, queue or table object.'
    properties:
      blob:
        description: Gets the blob endpoint.
        type: string
        required: false
      file:
        description: Gets the file endpoint.
        type: string
        required: false
      queue:
        description: Gets the queue endpoint.
        type: string
        required: false
      table:
        description: Gets the table endpoint.
        type: string
        required: false
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
        required: false
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  StorageAccount:
    type: Resource
  StorageAccountCheckNameAvailabilityParameters:
    properties:
      name:
        type: string
      type:
        default: Microsoft.Storage/storageAccounts
        type: string
        required: false
  StorageAccountCreateParameters:
    description: The parameters to provide for the account.
    properties:
      location:
        description: Resource location
        type: string
      properties:
        type: StorageAccountPropertiesCreateParameters
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
  StorageAccountKeys:
    description: The access keys for the storage account.
    properties:
      key1:
        description: Gets the value of key 1.
        type: string
        required: false
      key2:
        description: Gets the value of key 2.
        type: string
        required: false
  StorageAccountListResult:
    description: The list storage accounts operation response.
    properties:
      value:
        description: Gets the list of storage accounts and their properties.
        items:
          type: StorageAccount
        type: array
        required: false
  StorageAccountProperties:
    properties:
      accountType:
        description: Gets the type of the storage account.
        enum:
          - Standard_LRS
          - Standard_ZRS
          - Standard_GRS
          - Standard_RAGRS
          - Premium_LRS
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: AccountType
      creationTime:
        description: Gets the creation date and time of the storage account in UTC.
        format: rfc3339
        type: datetime
        required: false
      customDomain:
        description: Gets the user assigned custom domain assigned to this storage account.
        type: CustomDomain
        required: false
      lastGeoFailoverTime:
        description: Gets the timestamp of the most recent instance of a failover to the secondary location. Only the most recent timestamp is retained. This element is not returned if there has never been a failover instance. Only available if the accountType is StandardGRS or StandardRAGRS.
        format: rfc3339
        type: datetime
        required: false
      primaryEndpoints:
        description: 'Gets the URLs that are used to perform a retrieval of a public blob, queue or table object.Note that StandardZRS and PremiumLRS accounts only return the blob endpoint.'
        type: Endpoints
        required: false
      primaryLocation:
        description: Gets the location of the primary for the storage account.
        type: string
        required: false
      provisioningState:
        description: Gets the status of the storage account at the time the operation was called.
        enum:
          - Creating
          - ResolvingDNS
          - Succeeded
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ProvisioningState
      secondaryEndpoints:
        description: 'Gets the URLs that are used to perform a retrieval of a public blob, queue or table object from the secondary location of the storage account. Only available if the accountType is StandardRAGRS.'
        type: Endpoints
        required: false
      secondaryLocation:
        description: Gets the location of the geo replicated secondary for the storage account. Only available if the accountType is StandardGRS or StandardRAGRS.
        type: string
        required: false
      statusOfPrimary:
        description: Gets the status indicating whether the primary location of the storage account is available or unavailable.
        enum:
          - Available
          - Unavailable
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: AccountStatus
      statusOfSecondary:
        description: Gets the status indicating whether the secondary location of the storage account is available or unavailable. Only available if the accountType is StandardGRS or StandardRAGRS.
        enum:
          - Available
          - Unavailable
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: AccountStatus
  StorageAccountPropertiesCreateParameters:
    properties:
      accountType:
        description: Gets or sets the account type.
        enum:
          - Standard_LRS
          - Standard_ZRS
          - Standard_GRS
          - Standard_RAGRS
          - Premium_LRS
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: AccountType
  StorageAccountPropertiesUpdateParameters:
    properties:
      accountType:
        description: 'Gets or sets the account type. Note that StandardZRS and PremiumLRS accounts cannot be changed to other account types, and other account types cannot be changed to StandardZRS or PremiumLRS.'
        enum:
          - Standard_LRS
          - Standard_ZRS
          - Standard_GRS
          - Standard_RAGRS
          - Premium_LRS
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: AccountType
      customDomain:
        description: 'User domain assigned to the storage account. Name is the CNAME source. Only one custom domain is supported per storage account at this time. To clear the existing custom domain, use an empty string for the custom domain name property.'
        type: CustomDomain
        required: false
  StorageAccountRegenerateKeyParameters:
    properties:
      keyName:
        type: string
  StorageAccountUpdateParameters:
    description: The parameters to update on the account.
    properties:
      properties:
        type: StorageAccountPropertiesUpdateParameters
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
  Usage:
    description: Describes Storage Resource Usage.
    properties:
      currentValue:
        description: Gets the current count of the allocated resources in the subscription.
        format: int32
        type: integer
      limit:
        description: Gets the maximum count of the resources that can be allocated in the subscription.
        format: int32
        type: integer
      name:
        description: Gets the name of the type of usage.
        type: UsageName
      unit:
        description: Gets the unit of measurement.
        enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountsPerSecond
          - BytesPerSecond
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: UsageUnit
  UsageListResult:
    description: The List Usages operation response.
    properties:
      value:
        description: Gets or sets the list Storage Resource Usages.
        items:
          type: Usage
        type: array
        required: false
  UsageName:
    description: The Usage Names.
    properties:
      localizedValue:
        description: Gets a localized string describing the resource name.
        type: string
        required: false
      value:
        description: Gets a string describing the resource name.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
