#%RAML 1.0
title: InsightsClient
version: '2016-03-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2016-03-01/swagger/insightsClient_MetricDefinitions.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): insights
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-odata: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
'/{resourceUri}':
  displayName: '{resourceUri}'
  /providers:
    displayName: providers
    /microsoft.insights:
      displayName: microsoft.insights
      /metricDefinitions:
        displayName: metricDefinitions
        get:
          (oas-x-ms-odata): '#/definitions/MetricDefinition'
          (oas-x-ms-pageable): {}
          displayName: MetricDefinitions_List
          description: 'Lists the metric definitions for the resource. The **$filter** parameter is optional, and can be used to only retrieve certain metric definitions. For example, get just the definition for the CPU percentage counter: $filter=name.value eq ''\Processor(_Total)\% Processor Time''. This $filter is very restricted and allows only these ''name eq <value>'' clauses separated by or operators. No other syntax is allowed.'
          is:
            - apiVersionParameter
            - filterParameter
          responses:
            '200':
              body:
                application/json:
                  type: MetricDefinitionCollection
                  example:
                    value:
                      value:
                        - id: /subscriptions/1ef6a1b6-06c8-4dae-8ace-b6bc3f7394a3/resourceGroups/myResourceGroup/providers/Microsoft.Logic/workflows/myLogicApp/providers/microsoft.insights/metricdefinitions/RunsStarted
                          metricAvailabilities:
                            - retention: P30D
                              timeGrain: PT1M
                            - retention: P30D
                              timeGrain: PT1H
                          name:
                            localizedValue: Runs Started
                            value: RunsStarted
                          primaryAggregationType: Total
                          resourceId: /subscriptions/1ef6a1b6-06c8-4dae-8ace-b6bc3f7394a3/resourceGroups/myResourceGroup/providers/Microsoft.Logic/workflows/myLogicApp
                          unit: Count
                        - id: /subscriptions/1ef6a1b6-06c8-4dae-8ace-b6bc3f7394a3/resourceGroups/myResourceGroup/providers/Microsoft.Logic/workflows/myLogicApp/providers/microsoft.insights/metricdefinitions/RunsCompleted
                          metricAvailabilities:
                            - retention: P30D
                              timeGrain: PT1M
                            - retention: P30D
                              timeGrain: PT1H
                          name:
                            localizedValue: Runs Completed
                            value: RunsCompleted
                          primaryAggregationType: Total
                          resourceId: /subscriptions/1ef6a1b6-06c8-4dae-8ace-b6bc3f7394a3/resourceGroups/myResourceGroup/providers/Microsoft.Logic/workflows/myLogicApp
                          unit: Count
              description: Successful request to get the list of metric definitions
          (oas-tags):
            - MetricDefinitions
types:
  LocalizableString:
    description: The localizable string class.
    properties:
      localizedValue:
        description: the locale specific value.
        type: string
        required: false
      value:
        description: the invariant value.
        type: string
  MetricAvailability:
    description: Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain.
    properties:
      retention:
        description: 'the retention period for the metric at the specified timegrain.  Expressed as a duration ''PT1M'', ''P1D'', etc.'
        format: duration
        type: string
        facets:
          format: string
        required: false
      timeGrain:
        description: 'the time grain specifies the aggregation interval for the metric. Expressed as a duration ''PT1M'', ''P1D'', etc.'
        format: duration
        type: string
        facets:
          format: string
        required: false
  MetricDefinition:
    description: Metric definition class specifies the metadata for a metric.
    properties:
      id:
        description: the resource identifier of the metric definition.
        type: string
        required: false
      metricAvailabilities:
        description: the collection of what aggregation intervals are available to be queried.
        items:
          type: MetricAvailability
        type: array
        required: false
      name:
        description: 'the name and the display name of the metric, i.e. it is a localizable string.'
        type: LocalizableString
        required: false
      primaryAggregationType:
        description: the primary aggregation type value defining how to use the values for display.
        enum:
          - None
          - Average
          - Count
          - Minimum
          - Maximum
          - Total
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: AggregationType
      resourceId:
        description: the resource identifier of the resource that emitted the metric.
        type: string
        required: false
      unit:
        description: the unit of the metric.
        type: Unit
        required: false
  MetricDefinitionCollection:
    description: Represents collection of metric definitions.
    properties:
      value:
        description: the values for the metric definitions.
        items:
          type: MetricDefinition
        type: array
  Unit:
    description: the unit of the metric.
    enum:
      - Count
      - Bytes
      - Seconds
      - CountPerSecond
      - BytesPerSecond
      - Percent
      - MilliSeconds
    type: string
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
  filterParameter:
    queryParameters:
      $filter:
        type: string
        description: Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.
        required: false
