#%RAML 1.0
title: LogicAppsManagementClient
version: 2015-08-01-preview
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-web/2015-08-01-preview/swagger/logicAppsManagementClient.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-web
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-odata: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-definition-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Web:
            displayName: Microsoft.Web
            /connections:
              displayName: connections
              '/{connectionName}':
                displayName: '{connectionName}'
                /listConsentLinks:
                  displayName: listConsentLinks
                  post:
                    displayName: Connections_ListConsentLinks
                    description: Lists consent links of a connection.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ConsentLinkInput
                        (oas-body-name): content
                        description: The content.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConsentLinkPayload
                        description: OK
                    (oas-tags):
                      - Connections
                /listConnectionKeys:
                  displayName: listConnectionKeys
                  post:
                    displayName: Connections_ListConnectionKeys
                    description: Lists connection keys.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ListConnectionKeysInput
                        (oas-body-name): content
                        description: The content.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ConnectionSecrets
                        description: OK
                    (oas-tags):
                      - Connections
                /confirmConsentCode:
                  displayName: confirmConsentCode
                  post:
                    displayName: Connections_ConfirmConsentCode
                    description: Confirms consent code of a connection.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ConfirmConsentCodeInput
                        (oas-body-name): content
                        description: The content.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Connection
                        description: OK
                    (oas-tags):
                      - Connections
                uriParameters:
                  connectionName:
                    description: The connection name.
                    required: true
                    type: string
                put:
                  displayName: Connections_CreateOrUpdate
                  description: Creates or updates a connection.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: Connection
                      (oas-body-name): connection
                      description: The connection.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Connection
                      description: OK
                    '201':
                      body:
                        application/json:
                          type: Connection
                      description: Created
                  (oas-tags):
                    - Connections
                get:
                  displayName: Connections_Get
                  description: Gets a connection.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Connection
                      description: OK
                  (oas-tags):
                    - Connections
                delete:
                  displayName: Connections_Delete
                  description: Deletes a connection.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: OK
                    '204':
                      description: No Content
                  (oas-tags):
                    - Connections
              get:
                (oas-x-ms-odata): '#/definitions/Connection'
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Connections_List
                description: Gets a list of connections.
                (oas-summary): Get Connections
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ConnectionCollection
                    description: OK
                queryParameters:
                  $top:
                    description: The number of items to be included in the result.
                    format: int32
                    required: false
                    type: integer
                  $filter:
                    description: The filter to apply on the operation.
                    required: false
                    type: string
                (oas-tags):
                  - Connections
    /providers:
      displayName: providers
      /Microsoft.Web:
        displayName: Microsoft.Web
        /locations:
          displayName: locations
          '/{location}':
            displayName: '{location}'
            /managedApis:
              displayName: managedApis
              '/{apiName}':
                displayName: '{apiName}'
                uriParameters:
                  apiName:
                    description: The managed API name.
                    required: true
                    type: string
                get:
                  displayName: ManagedApis_Get
                  description: Gets a managed API.
                  (oas-summary): Get managed Api
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApiEntity
                      description: OK
                  queryParameters:
                    export:
                      description: flag showing whether to export API definition in format specified by Accept header.
                      type: boolean
                  (oas-tags):
                    - Managed Apis
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: ManagedApis_List
                description: Gets a list of managed APIs.
                (oas-summary): List managed Apis
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ApisCollection
                    description: OK
                (oas-tags):
                  - Managed Apis
types:
  ApiEntity:
    type: Resource
  ApiOAuthSettings:
    description: OAuth settings for the conenction provider
    properties:
      clientId:
        description: Resource provider client id
        type: string
        required: false
      clientSecret:
        description: Client Secret needed for OAuth
        type: string
        required: false
      customParameters:
        description: OAuth parameters key is the name of parameter
        type: object
        required: false
        properties:
          //:
            type: ApiOAuthSettingsParameter
      identityProvider:
        description: Identity provider
        type: string
        required: false
      properties:
        description: Read only properties for this oauth setting.
        type: Object
        required: false
      redirectUrl:
        description: Url
        type: string
        required: false
      scopes:
        description: OAuth scopes
        items:
          type: string
        type: array
        required: false
  ApiOAuthSettingsParameter:
    description: OAuth Settings Parameter
    properties:
      options:
        description: 'Read only: Options available to this parameter'
        type: Object
        required: false
      uiDefinition:
        description: UI definitions per culture as caller can specify the culture
        type: Object
        required: false
      value:
        description: Value
        type: string
        required: false
  ApiPolicies:
    type: Resource
  ApisCollection:
    description: Collection of Apis
    properties:
      nextLink:
        description: Link to next page of resources
        type: string
        required: false
      value:
        description: Collection of resources
        items:
          type: ApiEntity
        type: array
        required: false
  ArmPlan:
    description: 'The plan object in an ARM, represents a marketplace plan'
    properties:
      name:
        description: The name
        type: string
        required: false
      product:
        description: The product
        type: string
        required: false
      promotionCode:
        description: The promotion code
        type: string
        required: false
      publisher:
        description: The publisher
        type: string
        required: false
      version:
        description: Version of product
        type: string
        required: false
  BackendServiceDefinition:
    type: Resource
  ConfirmConsentCodeInput:
    type: Resource
  Connection:
    type: Resource
  ConnectionCollection:
    description: Collection of conenctions
    properties:
      nextLink:
        description: Link to next page of resources
        type: string
        required: false
      value:
        description: Collection of resources
        items:
          type: Connection
        type: array
        required: false
  ConnectionError:
    type: Resource
  ConnectionParameter:
    description: connection provider parameters
    properties:
      defaultValue:
        description: Default parameter value
        type: Object
        required: false
      oAuthSettings:
        description: Settings defining OAuth flow for the back end provider
        type: ApiOAuthSettings
        required: false
      type:
        description: Type of the parameter
        enum:
          - string
          - securestring
          - secureobject
          - int
          - bool
          - object
          - array
          - oauthSetting
          - connection
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ConnectionParameterType
      uiDefinition:
        description: UI definitions
        type: Object
        required: false
  ConnectionSecrets:
    description: ''
    properties:
      connectionKey:
        description: Connection Key
        type: string
        required: false
      parameterValues:
        description: Tokens/Claim
        type: object
        required: false
        properties:
          //:
            type: Object
  ConnectionStatus:
    type: Resource
  ConsentLink:
    description: ''
    properties:
      displayName:
        description: Display Name of the parameter in the connection provider's oauthSettings
        type: string
        required: false
      firstPartyLoginUri:
        description: Uri for first party login
        type: string
        required: false
      link:
        description: Uri for the consent link
        type: string
        required: false
      status:
        description: Status of the link
        enum:
          - Unauthenticated
          - Authenticated
          - Error
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: LinkState
  ConsentLinkInput:
    type: Resource
  ConsentLinkInputParameter:
    description: ''
    properties:
      objectId:
        description: "AAD OID (user or group) if the principal type is ActiveDirectory.\r\n            MSA PUID if the principal type is MicrosoftAccount."
        type: string
        required: false
      parameterName:
        description: Name of the parameter in the connection provider's oauthSettings
        type: string
        required: false
      principalType:
        description: Principal type
        enum:
          - ActiveDirectory
          - Connection
          - MicrosoftAccount
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: PrincipalType
      redirectUrl:
        description: Name of the parameter in the connection provider's oauthSettings
        type: string
        required: false
      tenantId:
        description: Tenant Id
        type: string
        required: false
  ConsentLinkPayload:
    description: Collection of consent links
    properties:
      value:
        description: Collection of resources
        items:
          type: ConsentLink
        type: array
        required: false
  CustomLoginSettingValue:
    type: Resource
  ExpandedParent_ApiEntity_:
    type: Resource
    (oas-definition-name): 'ExpandedParent[ApiEntity]'
  GeneralApiInformation:
    type: Resource
  HostingEnvironmentServiceDescriptions:
    description: Back end service per ASE
    properties:
      hostId:
        description: Host Id
        type: string
        required: false
      hostingEnvironmentId:
        description: Hosting environment Id
        type: string
        required: false
      serviceUrl:
        description: service url to use
        type: string
        required: false
      useInternalRouting:
        description: "When the backend url is in same ASE, for performance reason this flag can be set to true\r\n            If WebApp.DisableHostNames is also set it improves the security by making the back end accesible only \r\n            via API calls\r\n            Note: calls will fail if this option is used but back end is not on the same ASE"
        type: boolean
        required: false
  ListConnectionKeysInput:
    type: Resource
  Object:
    properties: {}
  ParameterCustomLoginSettingValues:
    type: Resource
  Resource:
    properties:
      id:
        description: Resource Id
        type: string
        required: false
      kind:
        description: Kind of resource
        type: string
        required: false
      location:
        description: Resource Location
        type: string
      name:
        description: Resource Name
        type: string
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        type: string
        required: false
  ResponseMessageEnvelope_ApiEntity_:
    description: Message envelope that contains the common Azure resource manager properties and the resource provider specific content
    properties:
      id:
        description: "Resource Id. Typically id is populated only for responses to GET requests. Caller is responsible for passing in this\r\n            value for GET requests only.\r\n            For example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupId}/providers/Microsoft.Web/sites/{sitename}"
        type: string
        required: false
      location:
        description: 'Geo region resource belongs to e.g. SouthCentralUS, SouthEastAsia'
        type: string
        required: false
      name:
        description: Name of resource
        type: string
        required: false
      plan:
        description: Azure resource manager plan
        type: ArmPlan
        required: false
      properties:
        description: Resource specific properties
        type: ApiEntity
        required: false
      sku:
        description: Sku description of the resource
        type: SkuDescription
        required: false
      tags:
        description: Tags associated with resource
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Type of resource e.g Microsoft.Web/sites
        type: string
        required: false
    (oas-definition-name): 'ResponseMessageEnvelope[ApiEntity]'
  SkuDescription:
    description: Describes a sku for a scalable resource
    properties:
      capacity:
        description: Current number of instances assigned to the resource
        format: int32
        type: integer
        required: false
      family:
        description: Family code of the resource sku
        type: string
        required: false
      name:
        description: Name of the resource sku
        type: string
        required: false
      size:
        description: Size specifier of the resource sku
        type: string
        required: false
      tier:
        description: Service Tier of the resource sku
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: API Version
        required: true
