#%RAML 1.0
title: WebSite Management Client
version: '2015-08-01'
baseUri: 'https://management.azure.com'
protocols:
  - HTTPS
description: 'Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.'
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-web/2015-08-01/swagger/service.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-web
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-enum: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-definition-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Web:
            displayName: Microsoft.Web
            /sites:
              displayName: sites
              '/{name}':
                displayName: '{name}'
                /config:
                  displayName: config
                  /authsettings:
                    displayName: authsettings
                    /list:
                      displayName: list
                      post:
                        displayName: Sites_ListSiteAuthSettings
                        (oas-summary): Gets the Authentication / Authorization settings associated with web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SiteAuthSettings
                            description: OK
                        (oas-tags):
                          - Sites
                    put:
                      displayName: Sites_UpdateSiteAuthSettings
                      (oas-summary): Updates the Authentication / Authorization settings associated with web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SiteAuthSettings
                          (oas-body-name): siteAuthSettings
                          description: Auth settings associated with web app
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SiteAuthSettings
                          description: OK
                      (oas-tags):
                        - Sites
                  /backup:
                    displayName: backup
                    put:
                      displayName: Sites_UpdateSiteBackupConfiguration
                      (oas-summary): Updates backup configuration of web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: BackupRequest
                          (oas-body-name): request
                          description: Information on backup request
                      responses:
                        '200':
                          body:
                            application/json:
                              type: BackupRequest
                          description: OK
                      (oas-tags):
                        - Sites
                    /list:
                      displayName: list
                      post:
                        displayName: Sites_GetSiteBackupConfiguration
                        (oas-summary): Gets the backup configuration for a web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: BackupRequest
                            description: OK
                        (oas-tags):
                          - Sites
                  /connectionstrings:
                    displayName: connectionstrings
                    put:
                      displayName: Sites_UpdateSiteConnectionStrings
                      (oas-summary): Updates the connection strings associated with web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ConnectionStringDictionary
                          (oas-body-name): connectionStrings
                          description: Connection strings associated with web app
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ConnectionStringDictionary
                          description: OK
                      (oas-tags):
                        - Sites
                    /list:
                      displayName: list
                      post:
                        displayName: Sites_ListSiteConnectionStrings
                        (oas-summary): Gets the connection strings associated with web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ConnectionStringDictionary
                            description: OK
                        (oas-tags):
                          - Sites
                  /logs:
                    displayName: logs
                    get:
                      displayName: Sites_GetSiteLogsConfig
                      (oas-summary): Gets the web app logs configuration
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SiteLogsConfig
                          description: OK
                      (oas-tags):
                        - Sites
                    put:
                      displayName: Sites_UpdateSiteLogsConfig
                      (oas-summary): Updates the meta data for web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SiteLogsConfig
                          (oas-body-name): siteLogsConfig
                          description: Site logs configuration
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SiteLogsConfig
                          description: OK
                      (oas-tags):
                        - Sites
                  /metadata:
                    displayName: metadata
                    put:
                      displayName: Sites_UpdateSiteMetadata
                      (oas-summary): Updates the meta data for web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: StringDictionary
                          (oas-body-name): metadata
                          description: Meta data of web app
                      responses:
                        '200':
                          body:
                            application/json:
                              type: StringDictionary
                          description: OK
                      (oas-tags):
                        - Sites
                    /list:
                      displayName: list
                      post:
                        displayName: Sites_ListSiteMetadata
                        (oas-summary): Gets the web app meta data.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: StringDictionary
                            description: OK
                        (oas-tags):
                          - Sites
                  /publishingcredentials:
                    displayName: publishingcredentials
                    /list:
                      displayName: list
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Sites_ListSitePublishingCredentials
                        (oas-summary): Gets the web app publishing credentials
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: User
                            description: OK
                        (oas-tags):
                          - Sites
                  /slotConfigNames:
                    displayName: slotConfigNames
                    get:
                      displayName: Sites_GetSlotConfigNames
                      (oas-summary): Gets the names of application settings and connection string that remain with the slot during swap operation
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SlotConfigNamesResource
                          description: OK
                      (oas-tags):
                        - Sites
                    put:
                      displayName: Sites_UpdateSlotConfigNames
                      (oas-summary): Updates the names of application settings and connection string that remain with the slot during swap operation
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SlotConfigNamesResource
                          (oas-body-name): slotConfigNames
                          description: Request body containing the names of application settings and connection strings
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SlotConfigNamesResource
                          description: OK
                      (oas-tags):
                        - Sites
                  /web:
                    displayName: web
                    get:
                      displayName: Sites_GetSiteConfig
                      (oas-summary): Gets the configuration of the web app
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SiteConfig
                          description: OK
                      (oas-tags):
                        - Sites
                    patch:
                      displayName: Sites_UpdateSiteConfig
                      (oas-summary): Update the configuration of web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SiteConfig
                          (oas-body-name): siteConfig
                          description: Request body that contains the configuraiton setting for the web app
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SiteConfig
                          description: OK
                      (oas-tags):
                        - Sites
                    put:
                      displayName: Sites_CreateOrUpdateSiteConfig
                      (oas-summary): Update the configuration of web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SiteConfig
                          (oas-body-name): siteConfig
                          description: Request body that contains the configuraiton setting for the web app
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SiteConfig
                          description: OK
                      (oas-tags):
                        - Sites
                  /appsettings:
                    displayName: appsettings
                    put:
                      displayName: Sites_UpdateSiteAppSettings
                      (oas-summary): Updates the application settings of web app
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: StringDictionary
                          (oas-body-name): appSettings
                          description: Application settings of web app
                      responses:
                        '200':
                          body:
                            application/json:
                              type: StringDictionary
                          description: OK
                      (oas-tags):
                        - Sites
                    /list:
                      displayName: list
                      post:
                        displayName: Sites_ListSiteAppSettings
                        (oas-summary): Gets the application settings of web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: StringDictionary
                            description: OK
                        (oas-tags):
                          - Sites
                /deployments:
                  displayName: deployments
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Sites_GetDeployments
                    (oas-summary): List deployments
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: DeploymentCollection
                        description: OK
                    (oas-tags):
                      - Sites
                  '/{id}':
                    displayName: '{id}'
                    uriParameters:
                      id:
                        description: Id of the deployment
                        required: true
                        type: string
                        displayName: Id of the deployment
                    delete:
                      displayName: Sites_DeleteDeployment
                      (oas-summary): Delete the deployment
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      (oas-tags):
                        - Sites
                    get:
                      displayName: Sites_GetDeployment
                      (oas-summary): Get the deployment
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Deployment
                          description: OK
                      (oas-tags):
                        - Sites
                    put:
                      displayName: Sites_CreateDeployment
                      (oas-summary): Create a deployment
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Deployment
                          (oas-body-name): deployment
                          description: Details of deployment
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Deployment
                          description: OK
                      (oas-tags):
                        - Sites
                /hostNameBindings:
                  displayName: hostNameBindings
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Sites_GetSiteHostNameBindings
                    (oas-summary): Get web app hostname bindings
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: HostNameBindingCollection
                        description: OK
                    (oas-tags):
                      - Sites
                  '/{hostName}':
                    displayName: '{hostName}'
                    uriParameters:
                      hostName:
                        description: Name of host
                        required: true
                        type: string
                        displayName: Name of host
                    delete:
                      displayName: Sites_DeleteSiteHostNameBinding
                      (oas-summary): Deletes a host name binding
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      (oas-tags):
                        - Sites
                    get:
                      displayName: Sites_GetSiteHostNameBinding
                      (oas-summary): Get web app binding for a hostname
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: HostNameBinding
                          description: OK
                      (oas-tags):
                        - Sites
                    put:
                      displayName: Sites_CreateOrUpdateSiteHostNameBinding
                      (oas-summary): Creates a web app hostname binding
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: HostNameBinding
                          (oas-body-name): hostNameBinding
                          description: Host name binding information
                      responses:
                        '200':
                          body:
                            application/json:
                              type: HostNameBinding
                          description: OK
                      (oas-tags):
                        - Sites
                /hybridconnection:
                  displayName: hybridconnection
                  get:
                    displayName: Sites_ListSiteRelayServiceConnections
                    (oas-summary): Retrieves all Biztalk Hybrid Connections associated with this web app.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RelayServiceConnectionEntity
                        description: OK
                    (oas-tags):
                      - Sites
                  '/{entityName}':
                    displayName: '{entityName}'
                    uriParameters:
                      entityName:
                        description: The name by which the Hybrid Connection is identified
                        required: true
                        type: string
                        displayName: The name by which the Hybrid Connection is identified
                    delete:
                      displayName: Sites_DeleteSiteRelayServiceConnection
                      (oas-summary): 'Removes the association to a Biztalk Hybrid Connection, identified by its entity name.'
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      (oas-tags):
                        - Sites
                    get:
                      displayName: Sites_GetSiteRelayServiceConnection
                      (oas-summary): Retrieves a Biztalk Hybrid Connection identified by its entity name.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RelayServiceConnectionEntity
                          description: OK
                      (oas-tags):
                        - Sites
                    patch:
                      displayName: Sites_UpdateSiteRelayServiceConnection
                      (oas-summary): 'Creates a new association to a Biztalk Hybrid Connection, or updates an existing one.'
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: RelayServiceConnectionEntity
                          (oas-body-name): connectionEnvelope
                          description: The details of the Hybrid Connection
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RelayServiceConnectionEntity
                          description: OK
                      (oas-tags):
                        - Sites
                    put:
                      displayName: Sites_CreateOrUpdateSiteRelayServiceConnection
                      (oas-summary): 'Creates a new association to a Biztalk Hybrid Connection, or updates an existing one.'
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: RelayServiceConnectionEntity
                          (oas-body-name): connectionEnvelope
                          description: The details of the Hybrid Connection
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RelayServiceConnectionEntity
                          description: OK
                      (oas-tags):
                        - Sites
                /instances:
                  displayName: instances
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Sites_GetSiteInstanceIdentifiers
                    (oas-summary): Gets all instance of a web app
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SiteInstanceCollection
                        description: OK
                    (oas-tags):
                      - Sites
                  '/{instanceId}':
                    displayName: '{instanceId}'
                    /deployments:
                      displayName: deployments
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_GetInstanceDeployments
                        (oas-summary): List deployments
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: DeploymentCollection
                            description: OK
                        (oas-tags):
                          - Sites
                      '/{id}':
                        displayName: '{id}'
                        uriParameters:
                          id:
                            description: Id of the deployment
                            required: true
                            type: string
                            displayName: Id of the deployment
                        delete:
                          displayName: Sites_DeleteInstanceDeployment
                          (oas-summary): Delete the deployment
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                        get:
                          displayName: Sites_GetInstanceDeployment
                          (oas-summary): Get the deployment
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Deployment
                              description: OK
                          (oas-tags):
                            - Sites
                        put:
                          displayName: Sites_CreateInstanceDeployment
                          (oas-summary): Create a deployment
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: Deployment
                              (oas-body-name): deployment
                              description: Details of deployment
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Deployment
                              description: OK
                          (oas-tags):
                            - Sites
                /iscloneable:
                  displayName: iscloneable
                  post:
                    displayName: Sites_IsSiteCloneable
                    (oas-summary): Creates a new web app or modifies an existing web app.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SiteCloneability
                        description: OK
                    (oas-tags):
                      - Sites
                /metricdefinitions:
                  displayName: metricdefinitions
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Sites_GetSiteMetricDefinitions
                    (oas-summary): Gets metric definitions for web app
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: MetricDefinitionCollection
                        description: OK
                    (oas-tags):
                      - Sites
                /metrics:
                  displayName: metrics
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Sites_GetSiteMetrics
                    (oas-summary): Gets metrics for web app
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ResourceMetricCollection
                        description: OK
                    queryParameters:
                      details:
                        description: 'If true, metric details are included in response'
                        type: boolean
                        displayName: 'If true, metric details are included in response'
                      $filter:
                        description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
                        type: string
                        displayName: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
                    (oas-tags):
                      - Sites
                /networkFeatures:
                  displayName: networkFeatures
                  '/{view}':
                    displayName: '{view}'
                    uriParameters:
                      view:
                        description: The type of view. This can either be "summary" or "detailed".
                        required: true
                        type: string
                        displayName: The type of view. This can either be "summary" or "detailed".
                    get:
                      displayName: Sites_GetSiteNetworkFeatures
                      (oas-summary): Retrieves a view of all network features in use on this web app.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: NetworkFeatures
                          description: OK
                        '404':
                          description: The requested view does not exist.
                      (oas-tags):
                        - Sites
                /newpassword:
                  displayName: newpassword
                  post:
                    displayName: Sites_GenerateNewSitePublishingPassword
                    (oas-summary): Generates new random app publishing password
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Object
                        description: OK
                    (oas-tags):
                      - Sites
                /operationresults:
                  displayName: operationresults
                  '/{operationId}':
                    displayName: '{operationId}'
                    uriParameters:
                      operationId:
                        description: Id of an operation
                        required: true
                        type: string
                        displayName: Id of an operation
                    get:
                      displayName: Sites_GetSiteOperation
                      (oas-summary): Gets the operation for a web app
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      (oas-tags):
                        - Sites
                /premieraddons:
                  displayName: premieraddons
                  get:
                    displayName: Sites_ListSitePremierAddOns
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Object
                        description: OK
                    (oas-tags):
                      - Sites
                  '/{premierAddOnName}':
                    displayName: '{premierAddOnName}'
                    uriParameters:
                      premierAddOnName:
                        required: true
                        type: string
                    delete:
                      displayName: Sites_DeleteSitePremierAddOn
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      (oas-tags):
                        - Sites
                    get:
                      displayName: Sites_GetSitePremierAddOn
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      (oas-tags):
                        - Sites
                    put:
                      displayName: Sites_AddSitePremierAddOn
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: PremierAddOnRequest
                          (oas-body-name): premierAddOn
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      (oas-tags):
                        - Sites
                /publishxml:
                  displayName: publishxml
                  post:
                    displayName: Sites_ListSitePublishingProfileXml
                    (oas-summary): Gets the publishing profile for web app
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: CsmPublishingProfileOptions
                        (oas-body-name): options
                        description: Specifies options for publishing profile. Pass CsmPublishingProfileOptions.Format=FileZilla3 for FileZilla FTP format.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: file
                        description: OK
                    (oas-tags):
                      - Sites
                /recover:
                  displayName: recover
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: Sites_RecoverSite
                    (oas-summary): Recovers a deleted web app
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: CsmSiteRecoveryEntity
                        (oas-body-name): recoveryEntity
                        description: Snapshot data used for web app recovery. Snapshot information can be obtained by calling GetDeletedSites or GetSiteSnapshots API.
                    responses:
                      '202':
                        body:
                          application/json:
                            type: Site
                        description: Asynchronous operation in progress
                      '404':
                        description: Web app not found
                    (oas-tags):
                      - Sites
                /resetSlotConfig:
                  displayName: resetSlotConfig
                  post:
                    displayName: Sites_ResetProductionSlotConfig
                    (oas-summary): Resets the configuration settings of the current slot if they were previously modified by calling ApplySlotConfig API
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Object
                        description: OK
                    (oas-tags):
                      - Sites
                /restart:
                  displayName: restart
                  post:
                    displayName: Sites_RestartSite
                    (oas-summary): Restarts web app
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Object
                        description: OK
                    queryParameters:
                      softRestart:
                        description: Soft restart applies the configuration settings and restarts the app if necessary. Hard restart always restarts and reprovisions the app
                        type: boolean
                        displayName: Soft restart applies the configuration settings and restarts the app if necessary. Hard restart always restarts and reprovisions the app
                      synchronous:
                        description: If true then the API will block until the app has been restarted
                        type: boolean
                        displayName: If true then the API will block until the app has been restarted
                    (oas-tags):
                      - Sites
                /slots:
                  displayName: slots
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Sites_GetSiteSlots
                    (oas-summary): Gets all the slots for a web apps
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SiteCollection
                        description: OK
                    queryParameters:
                      propertiesToInclude:
                        description: List of app properties to include in the response
                        type: string
                        displayName: List of app properties to include in the response
                    (oas-tags):
                      - Sites
                  '/{slot}':
                    displayName: '{slot}'
                    uriParameters:
                      slot:
                        description: Name of web app slot. If not specified then will default to production slot.
                        required: true
                        type: string
                        displayName: Name of web app slot. If not specified then will default to production slot.
                    delete:
                      displayName: Sites_DeleteSiteSlot
                      (oas-summary): Deletes a web app
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Object
                          description: OK
                      queryParameters:
                        deleteMetrics:
                          description: 'If true, web app metrics are also deleted'
                          type: string
                          displayName: 'If true, web app metrics are also deleted'
                        deleteEmptyServerFarm:
                          description: 'If true and App Service Plan is empty after web app deletion, App Service Plan is also deleted'
                          type: string
                          displayName: 'If true and App Service Plan is empty after web app deletion, App Service Plan is also deleted'
                        skipDnsRegistration:
                          description: 'If true, DNS registration is skipped'
                          type: string
                          displayName: 'If true, DNS registration is skipped'
                        deleteAllSlots:
                          description: 'If true, all slots associated with web app are also deleted'
                          type: string
                          displayName: 'If true, all slots associated with web app are also deleted'
                      (oas-tags):
                        - Sites
                    get:
                      displayName: Sites_GetSiteSlot
                      (oas-summary): Get details of a web app
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Site
                          description: OK
                      queryParameters:
                        propertiesToInclude:
                          description: Additional web app properties included in the response
                          type: string
                          displayName: Additional web app properties included in the response
                      (oas-tags):
                        - Sites
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Sites_CreateOrUpdateSiteSlot
                      (oas-summary): Creates a new web app or modifies an existing web app.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Site
                          (oas-body-name): siteEnvelope
                          description: Details of web app if it exists already
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Site
                          description: OK
                        '202':
                          body:
                            application/json:
                              type: Site
                          description: Asynchronous operation in progress
                      queryParameters:
                        skipDnsRegistration:
                          description: "If true web app hostname is not registered with DNS on creation. This parameter is\r\n            only used for app creation"
                          type: string
                          displayName: "If true web app hostname is not registered with DNS on creation. This parameter is\r\n            only used for app creation"
                        skipCustomDomainVerification:
                          description: 'If true, custom (non *.azurewebsites.net) domains associated with web app are not verified.'
                          type: string
                          displayName: 'If true, custom (non *.azurewebsites.net) domains associated with web app are not verified.'
                        forceDnsRegistration:
                          description: 'If true, web app hostname is force registered with DNS'
                          type: string
                          displayName: 'If true, web app hostname is force registered with DNS'
                        ttlInSeconds:
                          description: Time to live in seconds for web app's default domain name
                          type: string
                          displayName: Time to live in seconds for web app's default domain name
                      (oas-tags):
                        - Sites
                    /applySlotConfig:
                      displayName: applySlotConfig
                      post:
                        displayName: Sites_ApplySlotConfigSlot
                        (oas-summary): Applies the configuration settings from the target slot onto the current slot
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: CsmSlotEntity
                            (oas-body-name): slotSwapEntity
                            description: Request body that contains the target slot name. Settings from that slot will be applied on the source slot
                        responses:
                          '200':
                            body:
                              application/json:
                                type: Object
                            description: OK
                        (oas-tags):
                          - Sites
                    /backup:
                      displayName: backup
                      post:
                        displayName: Sites_BackupSiteSlot
                        (oas-summary): Creates web app backup
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: BackupRequest
                            (oas-body-name): request
                            description: Information on backup request
                        responses:
                          '200':
                            body:
                              application/json:
                                type: BackupItem
                            description: OK
                        (oas-tags):
                          - Sites
                    /backups:
                      displayName: backups
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_ListSiteBackupsSlot
                        (oas-summary): Lists all available backups for web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: BackupItemCollection
                            description: OK
                        (oas-tags):
                          - Sites
                      /discover:
                        displayName: discover
                        put:
                          displayName: Sites_DiscoverSiteRestoreSlot
                          (oas-summary): Discovers existing web app backups that can be restored
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: RestoreRequest
                              (oas-body-name): request
                              description: Information on restore request
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: RestoreRequest
                              description: OK
                          (oas-tags):
                            - Sites
                      '/{backupId}':
                        displayName: '{backupId}'
                        uriParameters:
                          backupId:
                            description: Id of backup
                            required: true
                            type: string
                            displayName: Id of backup
                        delete:
                          displayName: Sites_DeleteBackupSlot
                          (oas-summary): Deletes a backup from Azure Storage
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: BackupItem
                              description: OK
                          (oas-tags):
                            - Sites
                        get:
                          displayName: Sites_GetSiteBackupStatusSlot
                          (oas-summary): Gets status of a web app backup that may be in progress.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: BackupItem
                              description: OK
                          (oas-tags):
                            - Sites
                        /list:
                          displayName: list
                          post:
                            displayName: Sites_GetSiteBackupStatusSecretsSlot
                            (oas-summary): 'Gets status of a web app backup that may be in progress, including secrets associated with the backup, such as the Azure Storage SAS URL. A'
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: BackupRequest
                                (oas-body-name): request
                                description: Information on backup request
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: BackupItem
                                description: OK
                            (oas-tags):
                              - Sites
                        /restore:
                          displayName: restore
                          post:
                            (oas-x-ms-long-running-operation): true
                            displayName: Sites_RestoreSiteSlot
                            (oas-summary): Restores a web app
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: RestoreRequest
                                (oas-body-name): request
                                description: Information on restore request
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: RestoreResponse
                                description: OK
                            (oas-tags):
                              - Sites
                    /config:
                      displayName: config
                      /appsettings:
                        displayName: appsettings
                        put:
                          displayName: Sites_UpdateSiteAppSettingsSlot
                          (oas-summary): Updates the application settings of web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: StringDictionary
                              (oas-body-name): appSettings
                              description: Application settings of web app
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: StringDictionary
                              description: OK
                          (oas-tags):
                            - Sites
                        /list:
                          displayName: list
                          post:
                            displayName: Sites_ListSiteAppSettingsSlot
                            (oas-summary): Gets the application settings of web app
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: StringDictionary
                                description: OK
                            (oas-tags):
                              - Sites
                      /authsettings:
                        displayName: authsettings
                        put:
                          displayName: Sites_UpdateSiteAuthSettingsSlot
                          (oas-summary): Updates the Authentication / Authorization settings associated with web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: SiteAuthSettings
                              (oas-body-name): siteAuthSettings
                              description: Auth settings associated with web app
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SiteAuthSettings
                              description: OK
                          (oas-tags):
                            - Sites
                        /list:
                          displayName: list
                          post:
                            displayName: Sites_ListSiteAuthSettingsSlot
                            (oas-summary): Gets the Authentication / Authorization settings associated with web app
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: SiteAuthSettings
                                description: OK
                            (oas-tags):
                              - Sites
                      /backup:
                        displayName: backup
                        put:
                          displayName: Sites_UpdateSiteBackupConfigurationSlot
                          (oas-summary): Updates backup configuration of web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: BackupRequest
                              (oas-body-name): request
                              description: Information on backup request
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: BackupRequest
                              description: OK
                          (oas-tags):
                            - Sites
                        /list:
                          displayName: list
                          post:
                            displayName: Sites_GetSiteBackupConfigurationSlot
                            (oas-summary): Gets the backup configuration for a web app
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: BackupRequest
                                description: OK
                            (oas-tags):
                              - Sites
                      /connectionstrings:
                        displayName: connectionstrings
                        put:
                          displayName: Sites_UpdateSiteConnectionStringsSlot
                          (oas-summary): Updates the connection strings associated with web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: ConnectionStringDictionary
                              (oas-body-name): connectionStrings
                              description: Connection strings associated with web app
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ConnectionStringDictionary
                              description: OK
                          (oas-tags):
                            - Sites
                        /list:
                          displayName: list
                          post:
                            displayName: Sites_ListSiteConnectionStringsSlot
                            (oas-summary): Gets the connection strings associated with web app
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: ConnectionStringDictionary
                                description: OK
                            (oas-tags):
                              - Sites
                      /logs:
                        displayName: logs
                        get:
                          displayName: Sites_GetSiteLogsConfigSlot
                          (oas-summary): Gets the web app logs configuration
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SiteLogsConfig
                              description: OK
                          (oas-tags):
                            - Sites
                        put:
                          displayName: Sites_UpdateSiteLogsConfigSlot
                          (oas-summary): Updates the meta data for web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: SiteLogsConfig
                              (oas-body-name): siteLogsConfig
                              description: Site logs configuration
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SiteLogsConfig
                              description: OK
                          (oas-tags):
                            - Sites
                      /metadata:
                        displayName: metadata
                        put:
                          displayName: Sites_UpdateSiteMetadataSlot
                          (oas-summary): Updates the meta data for web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: StringDictionary
                              (oas-body-name): metadata
                              description: Meta data of web app
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: StringDictionary
                              description: OK
                          (oas-tags):
                            - Sites
                        /list:
                          displayName: list
                          post:
                            displayName: Sites_ListSiteMetadataSlot
                            (oas-summary): Gets the web app meta data.
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: StringDictionary
                                description: OK
                            (oas-tags):
                              - Sites
                      /publishingcredentials:
                        displayName: publishingcredentials
                        /list:
                          displayName: list
                          post:
                            (oas-x-ms-long-running-operation): true
                            displayName: Sites_ListSitePublishingCredentialsSlot
                            (oas-summary): Gets the web app publishing credentials
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: User
                                description: OK
                            (oas-tags):
                              - Sites
                      /web:
                        displayName: web
                        get:
                          displayName: Sites_GetSiteConfigSlot
                          (oas-summary): Gets the configuration of the web app
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SiteConfig
                              description: OK
                          (oas-tags):
                            - Sites
                        patch:
                          displayName: Sites_UpdateSiteConfigSlot
                          (oas-summary): Update the configuration of web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: SiteConfig
                              (oas-body-name): siteConfig
                              description: Request body that contains the configuraiton setting for the web app
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SiteConfig
                              description: OK
                          (oas-tags):
                            - Sites
                        put:
                          displayName: Sites_CreateOrUpdateSiteConfigSlot
                          (oas-summary): Update the configuration of web app
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: SiteConfig
                              (oas-body-name): siteConfig
                              description: Request body that contains the configuraiton setting for the web app
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SiteConfig
                              description: OK
                          (oas-tags):
                            - Sites
                    /deployments:
                      displayName: deployments
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_GetDeploymentsSlot
                        (oas-summary): List deployments
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: DeploymentCollection
                            description: OK
                        (oas-tags):
                          - Sites
                      '/{id}':
                        displayName: '{id}'
                        uriParameters:
                          id:
                            description: Id of the deployment
                            required: true
                            type: string
                            displayName: Id of the deployment
                        delete:
                          displayName: Sites_DeleteDeploymentSlot
                          (oas-summary): Delete the deployment
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                        get:
                          displayName: Sites_GetDeploymentSlot
                          (oas-summary): Get the deployment
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Deployment
                              description: OK
                          (oas-tags):
                            - Sites
                        put:
                          displayName: Sites_CreateDeploymentSlot
                          (oas-summary): Create a deployment
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: Deployment
                              (oas-body-name): deployment
                              description: Details of deployment
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Deployment
                              description: OK
                          (oas-tags):
                            - Sites
                    /hostNameBindings:
                      displayName: hostNameBindings
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_GetSiteHostNameBindingsSlot
                        (oas-summary): Get web app hostname bindings
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: HostNameBindingCollection
                            description: OK
                        (oas-tags):
                          - Sites
                      '/{hostName}':
                        displayName: '{hostName}'
                        uriParameters:
                          hostName:
                            description: Name of host
                            required: true
                            type: string
                            displayName: Name of host
                        delete:
                          displayName: Sites_DeleteSiteHostNameBindingSlot
                          (oas-summary): Deletes a host name binding
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                        get:
                          displayName: Sites_GetSiteHostNameBindingSlot
                          (oas-summary): Get web app binding for a hostname
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: HostNameBinding
                              description: OK
                          (oas-tags):
                            - Sites
                        put:
                          displayName: Sites_CreateOrUpdateSiteHostNameBindingSlot
                          (oas-summary): Creates a web app hostname binding
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: HostNameBinding
                              (oas-body-name): hostNameBinding
                              description: Host name binding information
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: HostNameBinding
                              description: OK
                          (oas-tags):
                            - Sites
                    /hybridconnection:
                      displayName: hybridconnection
                      get:
                        displayName: Sites_ListSiteRelayServiceConnectionsSlot
                        (oas-summary): Retrieves all Biztalk Hybrid Connections associated with this web app.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: RelayServiceConnectionEntity
                            description: OK
                        (oas-tags):
                          - Sites
                      '/{entityName}':
                        displayName: '{entityName}'
                        uriParameters:
                          entityName:
                            description: The name by which the Hybrid Connection is identified
                            required: true
                            type: string
                            displayName: The name by which the Hybrid Connection is identified
                        delete:
                          displayName: Sites_DeleteSiteRelayServiceConnectionSlot
                          (oas-summary): 'Removes the association to a Biztalk Hybrid Connection, identified by its entity name.'
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                        get:
                          displayName: Sites_GetSiteRelayServiceConnectionSlot
                          (oas-summary): Retrieves a Biztalk Hybrid Connection identified by its entity name.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: RelayServiceConnectionEntity
                              description: OK
                          (oas-tags):
                            - Sites
                        patch:
                          displayName: Sites_UpdateSiteRelayServiceConnectionSlot
                          (oas-summary): 'Creates a new association to a Biztalk Hybrid Connection, or updates an existing one.'
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: RelayServiceConnectionEntity
                              (oas-body-name): connectionEnvelope
                              description: The details of the Hybrid Connection
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: RelayServiceConnectionEntity
                              description: OK
                          (oas-tags):
                            - Sites
                        put:
                          displayName: Sites_CreateOrUpdateSiteRelayServiceConnectionSlot
                          (oas-summary): 'Creates a new association to a Biztalk Hybrid Connection, or updates an existing one.'
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: RelayServiceConnectionEntity
                              (oas-body-name): connectionEnvelope
                              description: The details of the Hybrid Connection
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: RelayServiceConnectionEntity
                              description: OK
                          (oas-tags):
                            - Sites
                    /instances:
                      displayName: instances
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_GetSiteInstanceIdentifiersSlot
                        (oas-summary): Gets all instance of a web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SiteInstanceCollection
                            description: OK
                        (oas-tags):
                          - Sites
                      '/{instanceId}':
                        displayName: '{instanceId}'
                        /deployments:
                          displayName: deployments
                          get:
                            (oas-x-ms-pageable):
                              nextLinkName: nextLink
                            displayName: Sites_GetInstanceDeploymentsSlot
                            (oas-summary): List deployments
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: DeploymentCollection
                                description: OK
                            (oas-tags):
                              - Sites
                          '/{id}':
                            displayName: '{id}'
                            uriParameters:
                              id:
                                description: Id of the deployment
                                required: true
                                type: string
                                displayName: Id of the deployment
                            delete:
                              displayName: Sites_DeleteInstanceDeploymentSlot
                              (oas-summary): Delete the deployment
                              is:
                                - apiVersionParameter
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: Object
                                  description: OK
                              (oas-tags):
                                - Sites
                            get:
                              displayName: Sites_GetInstanceDeploymentSlot
                              (oas-summary): Get the deployment
                              is:
                                - apiVersionParameter
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: Deployment
                                  description: OK
                              (oas-tags):
                                - Sites
                            put:
                              displayName: Sites_CreateInstanceDeploymentSlot
                              (oas-summary): Create a deployment
                              is:
                                - apiVersionParameter
                              body:
                                application/json:
                                  type: Deployment
                                  (oas-body-name): deployment
                                  description: Details of deployment
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: Deployment
                                  description: OK
                              (oas-tags):
                                - Sites
                    /iscloneable:
                      displayName: iscloneable
                      post:
                        displayName: Sites_IsSiteCloneableSlot
                        (oas-summary): Creates a new web app or modifies an existing web app.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SiteCloneability
                            description: OK
                        (oas-tags):
                          - Sites
                    /metricdefinitions:
                      displayName: metricdefinitions
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_GetSiteMetricDefinitionsSlot
                        (oas-summary): Gets metric definitions for web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: MetricDefinitionCollection
                            description: OK
                        (oas-tags):
                          - Sites
                    /metrics:
                      displayName: metrics
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_GetSiteMetricsSlot
                        (oas-summary): Gets metrics for web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ResourceMetricCollection
                            description: OK
                        queryParameters:
                          details:
                            description: 'If true, metric details are included in response'
                            type: boolean
                            displayName: 'If true, metric details are included in response'
                          $filter:
                            description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
                            type: string
                            displayName: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
                        (oas-tags):
                          - Sites
                    /networkFeatures:
                      displayName: networkFeatures
                      '/{view}':
                        displayName: '{view}'
                        uriParameters:
                          view:
                            description: The type of view. This can either be "summary" or "detailed".
                            required: true
                            type: string
                            displayName: The type of view. This can either be "summary" or "detailed".
                        get:
                          displayName: Sites_GetSiteNetworkFeaturesSlot
                          (oas-summary): Retrieves a view of all network features in use on this web app.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: NetworkFeatures
                              description: OK
                            '404':
                              description: The requested view does not exist.
                          (oas-tags):
                            - Sites
                    /newpassword:
                      displayName: newpassword
                      post:
                        displayName: Sites_GenerateNewSitePublishingPasswordSlot
                        (oas-summary): Generates new random app publishing password
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: Object
                            description: OK
                        (oas-tags):
                          - Sites
                    /operationresults:
                      displayName: operationresults
                      '/{operationId}':
                        displayName: '{operationId}'
                        uriParameters:
                          operationId:
                            description: Id of an operation
                            required: true
                            type: string
                            displayName: Id of an operation
                        get:
                          displayName: Sites_GetSiteOperationSlot
                          (oas-summary): Gets the operation for a web app
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                    /premieraddons:
                      displayName: premieraddons
                      get:
                        displayName: Sites_ListSitePremierAddOnsSlot
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: Object
                            description: OK
                        (oas-tags):
                          - Sites
                      '/{premierAddOnName}':
                        displayName: '{premierAddOnName}'
                        uriParameters:
                          premierAddOnName:
                            required: true
                            type: string
                        delete:
                          displayName: Sites_DeleteSitePremierAddOnSlot
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                        get:
                          displayName: Sites_GetSitePremierAddOnSlot
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                        put:
                          displayName: Sites_AddSitePremierAddOnSlot
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: PremierAddOnRequest
                              (oas-body-name): premierAddOn
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
                    /publishxml:
                      displayName: publishxml
                      post:
                        displayName: Sites_ListSitePublishingProfileXmlSlot
                        (oas-summary): Gets the publishing profile for web app
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: CsmPublishingProfileOptions
                            (oas-body-name): options
                            description: Specifies options for publishing profile. Pass CsmPublishingProfileOptions.Format=FileZilla3 for FileZilla FTP format.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: file
                            description: OK
                        (oas-tags):
                          - Sites
                    /recover:
                      displayName: recover
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Sites_RecoverSiteSlot
                        (oas-summary): Recovers a deleted web app
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: CsmSiteRecoveryEntity
                            (oas-body-name): recoveryEntity
                            description: Snapshot data used for web app recovery. Snapshot information can be obtained by calling GetDeletedSites or GetSiteSnapshots API.
                        responses:
                          '202':
                            body:
                              application/json:
                                type: Site
                            description: Asynchronous operation in progress
                          '404':
                            description: Web app not found
                        (oas-tags):
                          - Sites
                    /resetSlotConfig:
                      displayName: resetSlotConfig
                      post:
                        displayName: Sites_ResetSlotConfigSlot
                        (oas-summary): Resets the configuration settings of the current slot if they were previously modified by calling ApplySlotConfig API
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: Object
                            description: OK
                        (oas-tags):
                          - Sites
                    /restart:
                      displayName: restart
                      post:
                        displayName: Sites_RestartSiteSlot
                        (oas-summary): Restarts web app
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: Object
                            description: OK
                        queryParameters:
                          softRestart:
                            description: Soft restart applies the configuration settings and restarts the app if necessary. Hard restart always restarts and reprovisions the app
                            type: boolean
                            displayName: Soft restart applies the configuration settings and restarts the app if necessary. Hard restart always restarts and reprovisions the app
                          synchronous:
                            description: If true then the API will block until the app has been restarted
                            type: boolean
                            displayName: If true then the API will block until the app has been restarted
                        (oas-tags):
                          - Sites
                    /slotsdiffs:
                      displayName: slotsdiffs
                      uriParameters:
                        slot:
                          description: Name of the source slot
                          required: true
                          type: string
                          displayName: Name of the source slot
                      post:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Sites_GetSlotsDifferencesSlot
                        (oas-summary): Get the difference in configuration settings between two web app slots
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: CsmSlotEntity
                            (oas-body-name): slotSwapEntity
                            description: Request body that contains the target slot name
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SlotDifferenceCollection
                            description: OK
                        (oas-tags):
                          - Sites
                    /slotsswap:
                      displayName: slotsswap
                      uriParameters:
                        slot:
                          description: Name of source slot for the swap
                          required: true
                          type: string
                          displayName: Name of source slot for the swap
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Sites_SwapSlotsSlot
                        (oas-summary): Swaps web app slots
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: CsmSlotEntity
                            (oas-body-name): slotSwapEntity
                            description: Request body that contains the target slot name
                        responses:
                          '200':
                            body:
                              application/json:
                                type: Object
                            description: OK
                          '202':
                            body:
                              application/json:
                                type: Object
                            description: Operation is in progress
                        (oas-tags):
                          - Sites
                    /snapshots:
                      displayName: snapshots
                      put:
                        displayName: Sites_GetSiteSnapshotsSlot
                        (oas-summary): Returns all Snapshots to the user.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: Object
                            description: OK
                        (oas-tags):
                          - Sites
                    /sourcecontrols:
                      displayName: sourcecontrols
                      /web:
                        displayName: web
                        delete:
                          displayName: Sites_DeleteSiteSourceControlSlot
                          (oas-summary): Delete source control configuration of web app
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Object
                              description: OK
                          (oas-tags):
                            - Sites
[...]
