#%RAML 1.0
title: RedisManagementClient
version: '2015-08-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: REST API for Azure Redis Cache Service.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-redis/2015-08-01/swagger/redis.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-redis
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow.
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Cache:
            displayName: Microsoft.Cache
            /Redis:
              displayName: Redis
              '/{name}':
                displayName: '{name}'
                /regenerateKey:
                  displayName: regenerateKey
                  post:
                    displayName: Redis_RegenerateKey
                    description: Regenerate the access keys for a Redis cache. This operation requires write permission to the cache resource.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: RedisRegenerateKeyParameters
                        (oas-body-name): parameters
                        description: Specifies which key to reset.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RedisListKeysResult
                        description: Lists the regenerated keys for a Redis Cache.
                    (oas-tags):
                      - Redis
                /listKeys:
                  displayName: listKeys
                  post:
                    displayName: Redis_ListKeys
                    description: Retrieve a Redis cache's access keys. This operation requires write permission to the cache resource.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RedisListKeysResult
                        description: Lists the keys for a Redis Cache.
                    (oas-tags):
                      - Redis
                /forceReboot:
                  displayName: forceReboot
                  post:
                    displayName: Redis_ForceReboot
                    description: Reboot specified Redis node(s). This operation requires write permission to the cache resource. There can be potential data loss.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: RedisRebootParameters
                        (oas-body-name): parameters
                        description: Specifies which Redis node(s) to reboot.
                    responses:
                      '200': {}
                      '202': {}
                      '404': {}
                    (oas-tags):
                      - Redis
                uriParameters:
                  name:
                    description: The name of the Redis cache.
                    required: true
                    type: string
                put:
                  displayName: Redis_CreateOrUpdate
                  description: 'Create a Redis cache, or replace (overwrite/recreate, with potential downtime) an existing cache.'
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: RedisCreateOrUpdateParameters
                      (oas-body-name): parameters
                      description: Parameters supplied to the CreateOrUpdate Redis operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RedisResourceWithAccessKey
                    '201':
                      body:
                        application/json:
                          type: RedisResourceWithAccessKey
                  (oas-tags):
                    - Redis
                get:
                  displayName: Redis_Get
                  description: Gets a Redis cache (resource description).
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RedisResource
                  (oas-tags):
                    - Redis
                delete:
                  displayName: Redis_Delete
                  description: Deletes a Redis cache.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '202': {}
                    '404': {}
                  (oas-tags):
                    - Redis
              /:
                get:
                  (oas-x-ms-pageable):
                    nextLinkName: nextLink
                  displayName: Redis_ListByResourceGroup
                  description: Gets all Redis caches in a resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: RedisListResult
                  (oas-tags):
                    - Redis
    /providers:
      displayName: providers
      /Microsoft.Cache:
        displayName: Microsoft.Cache
        /Redis:
          displayName: Redis
          /:
            get:
              (oas-x-ms-pageable):
                nextLinkName: nextLink
              displayName: Redis_List
              description: Gets all Redis caches in the specified subscription.
              is:
                - apiVersionParameter
              responses:
                '200':
                  body:
                    application/json:
                      type: RedisListResult
              (oas-tags):
                - Redis
types:
  RedisAccessKeys:
    description: Redis cache access keys.
    properties:
      primaryKey:
        description: The current primary key that clients can use to authenticate with Redis cache.
        type: string
        required: false
      secondaryKey:
        description: The current secondary key that clients can use to authenticate with Redis cache.
        type: string
        required: false
  RedisCreateOrUpdateParameters:
    type: Resource
  RedisListKeysResult:
    description: The response of Redis list keys operation.
    properties:
      primaryKey:
        description: The current primary key that clients can use to authenticate with Redis cache.
        type: string
        required: false
      secondaryKey:
        description: The current secondary key that clients can use to authenticate with Redis cache.
        type: string
        required: false
  RedisListResult:
    description: The response of list Redis operation.
    properties:
      nextLink:
        description: Link for next set of locations.
        type: string
        required: false
      value:
        description: Results of the list operation.
        items:
          type: RedisResource
        type: array
        required: false
  RedisProperties:
    description: Parameters supplied to CreateOrUpdate Redis operation.
    properties:
      RedisConfiguration:
        additionalProperties:
          type: string
        description: 'All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value etc.'
        type: object
        required: false
      RedisVersion:
        description: 'RedisVersion parameter has been deprecated. As such, it is no longer necessary to provide this parameter and any value specified is ignored.'
        type: string
        required: false
      enableNonSslPort:
        description: 'If the value is true, then the non-SLL Redis server port (6379) will be enabled.'
        type: boolean
        required: false
      shardCount:
        description: The number of shards to be created on a Premium Cluster Cache.
        format: int32
        type: integer
        required: false
      sku:
        description: What SKU of Redis cache to deploy.
        type: Sku
      staticIP:
        description: Required when deploying a Redis cache inside an existing Azure Virtual Network.
        type: string
        required: false
      subnet:
        description: Required when deploying a Redis cache inside an existing Azure Virtual Network.
        type: string
        required: false
      tenantSettings:
        additionalProperties:
          type: string
        description: tenantSettings
        type: object
        required: false
      virtualNetwork:
        description: 'The exact ARM resource ID of the virtual network to deploy the Redis cache in. Example format: /subscriptions/{subid}/resourceGroups/{resourceGroupName}/Microsoft.ClassicNetwork/VirtualNetworks/vnet1'
        type: string
        required: false
  RedisReadableProperties:
    type: RedisProperties
  RedisReadablePropertiesWithAccessKey:
    type: RedisReadableProperties
  RedisRebootParameters:
    description: Specifies which Redis node(s) to reboot.
    properties:
      rebootType:
        description: Which Redis node(s) to reboot. Depending on this value data loss is possible.
        enum:
          - PrimaryNode
          - SecondaryNode
          - AllNodes
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: RebootType
      shardId:
        description: 'If clustering is enabled, the ID of the shared be rebooted.'
        format: int32
        type: integer
        required: false
  RedisRegenerateKeyParameters:
    description: Specifies which Redis access keys to reset.
    properties:
      keyType:
        description: Which Redis access key to reset.
        enum:
          - Primary
          - Secondary
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: RedisKeyType
  RedisResource:
    type: Resource
  RedisResourceWithAccessKey:
    type: Resource
  Resource:
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        required: false
      type:
        description: Resource type.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  Sku:
    description: SKU parameters supplied to the create Redis operation.
    properties:
      capacity:
        description: 'What size of Redis cache to deploy. Valid values: for C family (0, 1, 2, 3, 4, 5, 6), for P family (1, 2, 3, 4).'
        format: int32
        type: integer
      family:
        description: 'Which family to use. Valid values: (C, P).'
        enum:
          - C
          - P
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuFamily
      name:
        description: 'What type of Redis cache to deploy. Valid values: (Basic, Standard, Premium).'
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuName
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client API Version.
        required: true
