#%RAML 1.0
title: InsightsManagementClient
version: '2015-07-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-insights/2015-07-01/swagger/insightsManagementClient_DiagnosticsSettings.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-insights
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
'/{resourceUri}':
  displayName: '{resourceUri}'
  /providers:
    displayName: providers
    /microsoft.insights:
      displayName: microsoft.insights
      /diagnosticSettings:
        displayName: diagnosticSettings
        /service:
          displayName: service
          put:
            displayName: ServiceDiagnosticSettings_CreateOrUpdate
            description: Create or update new diagnostic settings for the specified resource.
            is:
              - apiVersionParameter
            body:
              application/json:
                type: ServiceDiagnosticSettings
                (oas-body-name): parameters
                description: Parameters supplied to the operation.
            responses:
              '200':
                body:
                  application/json:
                    type: ServiceDiagnosticSettingsResource
                    example:
                      logs:
                        - category: NetworkSecurityGroupEvent
                          enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                        - category: NetworkSecurityGroupRuleCounter
                          enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                      metrics:
                        - enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                          timeGrain: PT1M
                      serviceBusRuleId: /subscriptions/s1/resourceGroups/rg1/providers/Microsoft.ServiceBus/namespaces/testNamespace/authorizationrules/RootManageSharedAccessKey
                      storageAccountId: /subscriptions/s1/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/testStorageAcct
                      workspaceId: /subscriptions/s1/resourceGroups/rg1/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                description: Successful request to create a service diagnostic setting
            (oas-tags):
              - ServiceDiagnosticSettings
          get:
            displayName: ServiceDiagnosticSettings_Get
            description: Gets the active diagnostic settings for the specified resource.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ServiceDiagnosticSettingsResource
                    example:
                      logs:
                        - category: NetworkSecurityGroupEvent
                          enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                        - category: NetworkSecurityGroupRuleCounter
                          enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                      metrics:
                        - enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                          timeGrain: PT1M
                      serviceBusRuleId: /subscriptions/s1/resourceGroups/rg1/providers/Microsoft.ServiceBus/namespaces/testNamespace/authorizationrules/RootManageSharedAccessKey
                      storageAccountId: /subscriptions/s1/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/testStorageAcct
                      workspaceId: /subscriptions/s1/resourceGroups/rg1/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                description: Successful request to get more information about service diagnostic setting
            (oas-tags):
              - ServiceDiagnosticSettings
types:
  LogSettings:
    description: Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular log.
    properties:
      category:
        description: 'Name of a Diagnostic Log category for a resource type this setting is applied to. To obtain the list of Diagnostic Log categories for a resource, first perform a GET diagnostic settings operation.'
        type: string
        required: false
      enabled:
        description: a value indicating whether this log is enabled.
        type: boolean
      retentionPolicy:
        description: the retention policy for this log.
        type: RetentionPolicy
        required: false
  MetricSettings:
    description: Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular metric.
    properties:
      enabled:
        description: a value indicating whether this timegrain is enabled.
        type: boolean
      retentionPolicy:
        description: the retention policy for this timegrain.
        type: RetentionPolicy
        required: false
      timeGrain:
        description: the timegrain of the metric in ISO8601 format.
        format: duration
        type: string
        facets:
          format: string
  Resource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Azure resource name
        type: string
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
        required: false
      type:
        description: Azure resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  RetentionPolicy:
    description: Specifies the retention policy for the log.
    properties:
      days:
        description: the number of days for the retention in days. A value of 0 will retain the events indefinitely.
        format: int32
        type: integer
      enabled:
        description: a value indicating whether the retention policy is enabled.
        type: boolean
  ServiceDiagnosticSettings:
    description: The diagnostic settings for service.
    properties:
      logs:
        description: the list of logs settings.
        items:
          type: LogSettings
        type: array
        required: false
      metrics:
        description: the list of metric settings.
        items:
          type: MetricSettings
        type: array
        required: false
      serviceBusRuleId:
        description: 'The service bus rule ID of the service bus namespace in which you would like to have Event Hubs created for streaming Diagnostic Logs. The rule ID is of the format: ''{service bus resource ID}/authorizationrules/{key name}''.'
        type: string
        required: false
      storageAccountId:
        description: The resource ID of the storage account to which you would like to send Diagnostic Logs.
        type: string
        required: false
      workspaceId:
        description: 'The workspace ID (resource ID of a Log Analytics workspace) for a Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2'
        type: string
        required: false
  ServiceDiagnosticSettingsResource:
    type: Resource
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
