#%RAML 1.0
title: EventHubManagementClient
version: '2015-08-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: Azure Event Hubs client
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-eventhub/2015-08-01/swagger/EventHub.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-eventhub
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.EventHub:
            displayName: Microsoft.EventHub
            /namespaces:
              displayName: namespaces
              '/{namespaceName}':
                displayName: '{namespaceName}'
                /eventhubs:
                  displayName: eventhubs
                  '/{eventHubName}':
                    displayName: '{eventHubName}'
                    uriParameters:
                      eventHubName:
                        description: The Event Hub name.
                        required: true
                        type: string
                    delete:
                      displayName: EventHubs_Delete
                      description: Deletes an Event Hub from the specified namespace and resource group.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Event Hub successfully deleted.
                        '204':
                          description: No content.
                      (oas-tags):
                        - EventHubs
                      (oas-externalDocs):
                        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639496.aspx'
                    /consumergroups:
                      displayName: consumergroups
                      '/{consumerGroupName}':
                        displayName: '{consumerGroupName}'
                        uriParameters:
                          consumerGroupName:
                            description: The Cconsumer group name.
                            required: true
                            type: string
                        put:
                          displayName: ConsumerGroups_CreateOrUpdate
                          description: Creates or updates an Event Hubs consumer group as a nested resource within a namespace.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: ConsumerGroupCreateOrUpdateParameters
                              (oas-body-name): parameters
                              description: Parameters supplied to create a consumer group resource.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ConsumerGroupResource
                              description: Consumer group successfully created.
                          (oas-tags):
                            - ConsumerGroups
                          (oas-externalDocs):
                            url: 'https://msdn.microsoft.com/en-us/library/azure/mt639498.aspx'
                        get:
                          displayName: ConsumerGroups_Get
                          description: Gets a description for the specified consumer group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ConsumerGroupResource
                              description: Successfully retrieved the consumer group description.
                          (oas-tags):
                            - ConsumerGroups
                          (oas-externalDocs):
                            url: 'https://msdn.microsoft.com/en-us/library/azure/mt639488.aspx'
                        delete:
                          displayName: ConsumerGroups_Delete
                          description: Deletes a consumer group from the specified Event Hub and resource group.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              description: Consumer group deleted.
                            '204':
                              description: No content.
                          (oas-tags):
                            - ConsumerGroups
                          (oas-externalDocs):
                            url: 'https://msdn.microsoft.com/en-us/library/azure/mt639491.aspx'
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: ConsumerGroups_ListAll
                        description: Gets all the consumer groups in a namespace. An empty feed is returned if no consumer group exists in the namespace.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ConsumerGroupListResult
                            description: Successfully retrieved the list of consumer groups.
                        (oas-tags):
                          - ConsumerGroups
                        (oas-externalDocs):
                          url: 'https://msdn.microsoft.com/en-us/library/azure/mt639503.aspx'
                    get:
                      displayName: EventHubs_Get
                      description: Gets an Event Hubs description for the specified Event Hub.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: EventHubResource
                          description: Successfully retrieved the Event Hub description.
                      (oas-tags):
                        - EventHubs
                      (oas-externalDocs):
                        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639501.aspx'
                    put:
                      displayName: EventHubs_CreateOrUpdate
                      description: Creates or updates a new Event Hub as a nested resource within a namespace.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: EventHubCreateOrUpdateParameters
                          (oas-body-name): parameters
                          description: Parameters supplied to create an Event Hub resource.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: EventHubResource
                          description: Event Hub successfully created.
                      (oas-tags):
                        - EventHubs
                      (oas-externalDocs):
                        url: 'https://msdn.microsoft.com/en-us/library/azure/mt639497.aspx'
                    /authorizationRules:
                      displayName: authorizationRules
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: EventHubs_ListAuthorizationRules
                        description: Gets the authorization rules for an Event Hub.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SharedAccessAuthorizationRuleListResult
                            description: Event Hub authorization rule returned successfully.
                        (oas-tags):
                          - EventHubs
                      '/{authorizationRuleName}':
                        displayName: '{authorizationRuleName}'
                        uriParameters:
                          authorizationRuleName:
                            description: The authorization rule name.
                            required: true
                            type: string
                        delete:
                          displayName: EventHubs_DeleteAuthorizationRule
                          description: Deletes an Event Hubs authorization rule.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              description: Event Hub authorization rule successfully deleted.
                            '204':
                              description: No content.
                          (oas-tags):
                            - EventHubs
                          (oas-externalDocs):
                            url: 'https://msdn.microsoft.com/en-us/library/azure/mt706100.aspx'
                        get:
                          displayName: EventHubs_GetAuthorizationRule
                          description: Gets an authorization rule for an Event Hub by rule name.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SharedAccessAuthorizationRuleResource
                              description: Event Hub authorization rule successfully returned.
                          (oas-tags):
                            - EventHubs
                          (oas-externalDocs):
                            url: 'https://msdn.microsoft.com/en-us/library/azure/mt706097.aspx'
                        put:
                          displayName: EventHubs_CreateOrUpdateAuthorizationRule
                          description: Creates or updates an authorization rule for the specified Event Hub.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleCreateOrUpdateParameters
                              (oas-body-name): parameters
                              description: The shared access authorization rule.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SharedAccessAuthorizationRuleResource
                              description: Event Hubs authorization rule successfully created.
                          (oas-tags):
                            - EventHubs
                          (oas-externalDocs):
                            url: 'https://msdn.microsoft.com/en-us/library/azure/mt706096.aspx'
                        /ListKeys:
                          displayName: ListKeys
                          post:
                            displayName: EventHubs_ListKeys
                            description: Gets the ACS and SAS connection strings for the Event Hub.
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: ResourceListKeys
                                description: Connection strings successfully returned.
                            (oas-tags):
                              - EventHubs
                            (oas-externalDocs):
                              url: 'https://msdn.microsoft.com/en-us/library/azure/mt706098.aspx'
                        /regenerateKeys:
                          displayName: regenerateKeys
                          post:
                            displayName: EventHubs_RegenerateKeys
                            description: Regenerates the ACS and SAS connection strings for the Event Hub.
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: RegenerateKeysParameters
                                (oas-body-name): parameters
                                description: Parameters supplied to regenerate the authorization rule.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: ResourceListKeys
                                description: Connection strings successfully regenerated.
                            (oas-tags):
                              - EventHubs
                            (oas-externalDocs):
                              url: 'https://msdn.microsoft.com/en-us/library/azure/mt706099.aspx'
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: EventHubs_ListAll
                    description: Gets all the Event Hubs in a namespace.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EventHubListResult
                        description: Successfully retrieved the list of Event Hubs.
                    (oas-tags):
                      - EventHubs
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/mt639493.aspx'
                uriParameters:
                  namespaceName:
                    description: The name of the specified namespace.
                    required: true
                    type: string
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: Namespaces_Delete
                  description: Deletes an existing namespace. This operation also removes all associated resources under the namespace.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Namespace successfuly deleted.
                    '202':
                      description: Namespace delete request accepted.
                    '204':
                      description: No content.
                  (oas-tags):
                    - Namespaces
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: Namespaces_CreateOrUpdate
                  description: 'Creates or updates a namespace. Once created, this namespace''s resource manifest is immutable. This operation is idempotent.'
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NamespaceCreateOrUpdateParameters
                      (oas-body-name): parameters
                      description: Parameters for creating a namespace resource.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NamespaceResource
                      description: Namespace successfuly created.
                    '201':
                      body:
                        application/json:
                          type: NamespaceResource
                      description: Namespace create request accepted.
                  (oas-tags):
                    - Namespaces
                /AuthorizationRules:
                  displayName: AuthorizationRules
                  '/{authorizationRuleName}':
                    displayName: '{authorizationRuleName}'
                    uriParameters:
                      authorizationRuleName:
                        description: Authorization rule name.
                        required: true
                        type: string
                    delete:
                      displayName: Namespaces_DeleteAuthorizationRule
                      description: Deletes an authorization rule for a namespace.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Namespace authorization rule successfully deleted.
                        '204':
                          description: No content.
                      (oas-tags):
                        - Namespaces
                    put:
                      displayName: Namespaces_CreateOrUpdateAuthorizationRule
                      description: Creates or updates an authorization rule for a namespace.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SharedAccessAuthorizationRuleCreateOrUpdateParameters
                          (oas-body-name): parameters
                          description: The shared access authorization rule.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleResource
                          description: Namespace authorization rule created
                      (oas-tags):
                        - Namespaces
                    /regenerateKeys:
                      displayName: regenerateKeys
                      post:
                        displayName: Namespaces_RegenerateKeys
                        description: Regenerates the primary or secondary connection strings for the specified namespace.
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: RegenerateKeysParameters
                            (oas-body-name): parameters
                            description: Parameters required to regenerate the connection string.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ResourceListKeys
                            description: Connection strings regenerated successfully.
                        (oas-tags):
                          - Namespaces
                    get:
                      displayName: Namespaces_GetAuthorizationRule
                      description: Gets an authorization rule for a namespace by rule name.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleResource
                          description: Namespace authorization rule returned successfully.
                      (oas-tags):
                        - Namespaces
                    /listKeys:
                      displayName: listKeys
                      post:
                        displayName: Namespaces_ListKeys
                        description: Gets the primary and secondary connection strings for the namespace.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ResourceListKeys
                            description: Connection strings returned successfully.
                        (oas-tags):
                          - Namespaces
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Namespaces_ListAuthorizationRules
                    description: Gets a list of authorization rules for a namespace.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SharedAccessAuthorizationRuleListResult
                        description: Namespace authorization rule successfully returned.
                    (oas-tags):
                      - Namespaces
                get:
                  displayName: Namespaces_Get
                  description: Gets the description of the specified namespace.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NamespaceResource
                      description: Namespace returned successfully.
                  (oas-tags):
                    - Namespaces
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Namespaces_ListByResourceGroup
                description: Lists the available namespaces within a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NamespaceListResult
                    description: Namespaces returned successfully.
                (oas-tags):
                  - Namespaces
    /providers:
      displayName: providers
      /Microsoft.EventHub:
        displayName: Microsoft.EventHub
        /namespaces:
          displayName: namespaces
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: Namespaces_ListBySubscription
            description: 'Lists all the available namespaces within a subscription, irrespective of the resource groups.'
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NamespaceListResult
                description: Namespaces returned successfully.
            (oas-tags):
              - Namespaces
types:
  ConsumerGroupCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Consumer Group operation.
    properties:
      location:
        description: Location of the resource.
        type: string
      name:
        description: Name of the consumer group.
        type: string
        required: false
      properties:
        type: ConsumerGroupProperties
        required: false
        (oas-x-ms-client-flatten): true
      type:
        description: ARM type of the namespace.
        type: string
        required: false
  ConsumerGroupListResult:
    description: The response to the List Consumer Group operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Consumer Group
        type: string
        required: false
      value:
        description: Result of the List Consumer Group operation.
        items:
          type: ConsumerGroupResource
        type: array
        required: false
  ConsumerGroupProperties:
    properties:
      createdAt:
        description: Exact time the message was created.
        format: rfc3339
        type: datetime
        required: false
      eventHubPath:
        description: The path of the Event Hub.
        type: string
        required: false
      updatedAt:
        description: The exact time the message was updated.
        format: rfc3339
        type: datetime
        required: false
      userMetadata:
        description: The user metadata.
        type: string
        required: false
  ConsumerGroupResource:
    type: Resource
  EventHubCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Event Hub operation.
    properties:
      location:
        description: Location of the resource.
        type: string
      name:
        description: Name of the Event Hub.
        type: string
        required: false
      properties:
        type: EventHubProperties
        required: false
      type:
        description: ARM type of the namespace.
        type: string
        required: false
  EventHubListResult:
    description: The response of the List Event Hubs operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Event Hubs.
        type: string
        required: false
      value:
        description: Result of the List Event Hubs operation.
        items:
          type: EventHubResource
        type: array
        required: false
  EventHubProperties:
    properties:
      createdAt:
        description: Exact time the Event Hub was created.
        format: rfc3339
        type: datetime
        required: false
      messageRetentionInDays:
        description: Number of days to retain the events for this Event Hub.
        format: int64
        type: integer
        required: false
      partitionCount:
        description: Number of partitions created for the Event Hub.
        format: int64
        type: integer
        required: false
      partitionIds:
        description: Current number of shards on the Event Hub.
        items:
          type: string
        type: array
        required: false
      status:
        description: Enumerates the possible values for the status of the Event Hub.
        enum:
          - Active
          - Disabled
          - Restoring
          - SendDisabled
          - ReceiveDisabled
          - Creating
          - Deleting
          - Renaming
          - Unknown
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: EntityStatus
      updatedAt:
        description: The exact time the message was updated.
        format: rfc3339
        type: datetime
        required: false
  EventHubResource:
    type: Resource
  NamespaceCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Namespace operation.
    properties:
      location:
        description: Namespace location.
        type: string
      properties:
        type: NamespaceProperties
        required: false
        (oas-x-ms-client-flatten): true
      sku:
        type: Sku
        required: false
      tags:
        additionalProperties:
          type: string
        description: Namespace tags.
        type: object
        required: false
  NamespaceListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of namespaces.
        type: string
        required: false
      value:
        description: Result of the List Namespace operation.
        items:
          type: NamespaceResource
        type: array
        required: false
  NamespaceProperties:
    description: Properties of the namespace.
    properties:
      createACSNamespace:
        description: Indicates whether to create an ACS namespace.
        type: boolean
        required: false
      createdAt:
        description: The time the namespace was created.
        format: rfc3339
        type: datetime
        required: false
      enabled:
        description: Specifies whether this instance is enabled.
        type: boolean
        required: false
      provisioningState:
        description: Provisioning state of the namespace.
        type: string
        required: false
      serviceBusEndpoint:
        description: Endpoint you can use to perform Service Bus operations.
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
      status:
        description: State of the namespace.
        enum:
          - Unknown
          - Creating
          - Created
          - Activating
          - Enabling
          - Active
          - Disabling
          - Disabled
          - SoftDeleting
          - SoftDeleted
          - Removing
          - Removed
          - Failed
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: NamespaceState
      updatedAt:
        description: The time the namespace was updated.
        format: rfc3339
        type: datetime
        required: false
  NamespaceResource:
    type: Resource
  RegenerateKeysParameters:
    description: Parameters supplied to the Regenerate Authorization Rule operation.
    properties:
      Policykey:
        description: Key that needs to be regenerated.
        enum:
          - PrimaryKey
          - SecondaryKey
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: Policykey
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
        required: false
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ResourceListKeys:
    description: Namespace/EventHub Connection String
    properties:
      keyName:
        description: A string that describes the authorization rule.
        type: string
        required: false
      primaryConnectionString:
        description: Primary connection string of the created namespace authorization rule.
        type: string
        required: false
      primaryKey:
        description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        type: string
        required: false
      secondaryConnectionString:
        description: Secondary connection string of the created namespace authorization rule.
        type: string
        required: false
      secondaryKey:
        description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        type: string
        required: false
  SharedAccessAuthorizationRuleCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Authorization Rules operation.
    properties:
      location:
        description: Data center location.
        type: string
        required: false
      name:
        description: Name of the authorization rule.
        type: string
        required: false
      properties:
        type: SharedAccessAuthorizationRuleProperties
        required: false
        (oas-x-ms-client-flatten): true
  SharedAccessAuthorizationRuleListResult:
    description: The response from the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains an incomplete list of Authorization Rules
        type: string
        required: false
      value:
        description: Result of the List Authorization Rules operation.
        items:
          type: SharedAccessAuthorizationRuleResource
        type: array
        required: false
  SharedAccessAuthorizationRuleProperties:
    description: SharedAccessAuthorizationRule properties.
    properties:
      rights:
        description: The rights associated with the rule.
        items:
          enum:
            - Manage
            - Send
            - Listen
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: AccessRights
        type: array
  SharedAccessAuthorizationRuleResource:
    type: Resource
  Sku:
    description: SKU of the namespace.
    properties:
      capacity:
        description: The Event Hubs throughput units.
        format: int32
        type: integer
        required: false
      name:
        description: Name of this SKU.
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuName
      tier:
        description: The billing tier of this particular SKU.
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuTier
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client API Version.
        required: true
