#%RAML 1.0
title: TrafficManagerManagementClient
version: '2015-11-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-trafficmanager/2015-11-01/swagger/trafficmanager.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-trafficmanager
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Network:
            displayName: Microsoft.Network
            /trafficmanagerprofiles:
              displayName: trafficmanagerprofiles
              '/{profileName}':
                displayName: '{profileName}'
                uriParameters:
                  profileName:
                    description: The name of the Traffic Manager profile to be deleted.
                    required: true
                    type: string
                patch:
                  displayName: Profiles_Update
                  description: Update a Traffic Manager profile.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: Profile
                      (oas-body-name): parameters
                      description: The Traffic Manager profile parameters supplied to the Update operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: The updated Traffic Manager profile.
                  (oas-tags):
                    - Profiles
                '/{endpointType}':
                  displayName: '{endpointType}'
                  '/{endpointName}':
                    displayName: '{endpointName}'
                    uriParameters:
                      endpointName:
                        description: The name of the Traffic Manager endpoint to be deleted.
                        required: true
                        type: string
                    put:
                      displayName: Endpoints_CreateOrUpdate
                      description: Create or update a Traffic Manager endpoint.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Endpoint
                          (oas-body-name): parameters
                          description: The Traffic Manager endpoint parameters supplied to the CreateOrUpdate operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: The created or updated Endpoint.
                        '201':
                          body:
                            application/json:
                              type: Endpoint
                          description: The created or updated Endpoint.
                      (oas-tags):
                        - Endpoints
                    patch:
                      displayName: Endpoints_Update
                      description: Update a Traffic Manager endpoint.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Endpoint
                          (oas-body-name): parameters
                          description: The Traffic Manager endpoint parameters supplied to the Update operation.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: The updated Traffic Manager endpoint.
                      (oas-tags):
                        - Endpoints
                    get:
                      displayName: Endpoints_Get
                      description: Gets a Traffic Manager endpoint.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: The Traffic Manager endpoint.
                      (oas-tags):
                        - Endpoints
                    delete:
                      displayName: Endpoints_Delete
                      description: Deletes a Traffic Manager endpoint.
                      is:
                        - apiVersionParameter
                      responses:
                        '200': {}
                        '204': {}
                      (oas-tags):
                        - Endpoints
                put:
                  displayName: Profiles_CreateOrUpdate
                  description: Create or update a Traffic Manager profile.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: Profile
                      (oas-body-name): parameters
                      description: The Traffic Manager profile parameters supplied to the CreateOrUpdate operation.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: The created or updated Traffic Manager profile.
                    '201':
                      body:
                        application/json:
                          type: Profile
                      description: The created or updated Traffic Manager profile.
                  (oas-tags):
                    - Profiles
                get:
                  displayName: Profiles_Get
                  description: Gets a Traffic Manager profile.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: The Traffic Manager profile.
                  (oas-tags):
                    - Profiles
                delete:
                  displayName: Profiles_Delete
                  description: Deletes a Traffic Manager profile.
                  is:
                    - apiVersionParameter
                  responses:
                    '200': {}
                    '204': {}
                  (oas-tags):
                    - Profiles
              get:
                (oas-x-ms-pageable): {}
                displayName: Profiles_ListAllInResourceGroup
                description: Lists all Traffic Manager profiles within a resource group.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ProfileListResult
                (oas-tags):
                  - Profiles
    /providers:
      displayName: providers
      /Microsoft.Network:
        displayName: Microsoft.Network
        /trafficmanagerprofiles:
          displayName: trafficmanagerprofiles
          get:
            (oas-x-ms-pageable): {}
            displayName: Profiles_ListAll
            description: Lists all Traffic Manager profiles within a subscription.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ProfileListResult
            (oas-tags):
              - Profiles
/providers:
  displayName: providers
  /Microsoft.Network:
    displayName: Microsoft.Network
    /checkTrafficManagerNameAvailability:
      displayName: checkTrafficManagerNameAvailability
      post:
        displayName: Profiles_CheckTrafficManagerRelativeDnsNameAvailability
        description: Checks the availability of a Traffic Manager Relative DNS name.
        is:
          - apiVersionParameter
        body:
          application/json:
            type: CheckTrafficManagerRelativeDnsNameAvailabilityParameters
            (oas-body-name): parameters
            description: The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability operation.
        responses:
          '200':
            body:
              application/json:
                type: TrafficManagerNameAvailability
        (oas-tags):
          - Profiles
types:
  CheckTrafficManagerRelativeDnsNameAvailabilityParameters:
    description: Parameters supplied to check Traffic Manager name operation.
    properties:
      name:
        description: Gets or sets the name of the resource.
        type: string
        required: false
      type:
        description: Gets or sets the type of the resource.
        type: string
        required: false
  DnsConfig:
    description: Class containing DNS settings in a Traffic Manager profile.
    properties:
      fqdn:
        description: Gets or sets the fully-qualified domain name (FQDN) of the Traffic Manager profile.  This is formed from the concatenation of the RelativeName with the DNS domain used by Azure Traffic Manager.
        type: string
        required: false
      relativeName:
        description: Gets or sets the relative DNS name provided by this Traffic Manager profile.  This value is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified domain name (FQDN) of the profile.
        type: string
        required: false
      ttl:
        description: 'Gets or sets the DNS Ttime-To-Live (TTL), in seconds.  This informs the local DNS resolvers and DNS clients how long to cache DNS responses provided by this Traffic Manager profile.'
        format: int64
        type: integer
        required: false
  Endpoint:
    description: Class representing a Traffic Manager endpoint.
    properties:
      id:
        description: Gets or sets the ID of the Traffic Manager endpoint.
        type: string
        required: false
      name:
        description: Gets or sets the name of the Traffic Manager endpoint.
        type: string
        required: false
      properties:
        type: EndpointProperties
        required: false
        (oas-x-ms-client-flatten): true
      type:
        description: Gets or sets the endpoint type of the Traffic Manager endpoint.
        type: string
        required: false
  EndpointProperties:
    description: Class representing a Traffic Manager endpoint properties.
    properties:
      endpointLocation:
        description: Specifies the location of the external or nested endpoints when using the ‘Performance’ traffic routing method.
        type: string
        required: false
      endpointMonitorStatus:
        description: Gets or sets the monitoring status of the endpoint.
        type: string
        required: false
      endpointStatus:
        description: 'Gets or sets the status of the endpoint..  If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method.  Possible values are ''Enabled'' and ''Disabled''.'
        type: string
        required: false
      minChildEndpoints:
        description: Gets or sets the minimum number of endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'.
        format: int64
        type: integer
        required: false
      priority:
        description: 'Gets or sets the priority of this endpoint when using the ‘Priority’ traffic routing method. Possible values are from 1 to 1000, lower values represent higher priority. This is an optional parameter.  If specified, it must be specified on all endpoints, and no two endpoints can share the same priority value.'
        format: int64
        type: integer
        required: false
      target:
        description: Gets or sets the fully-qualified DNS name of the endpoint.  Traffic Manager returns this value in DNS responses to direct traffic to this endpoint.
        type: string
        required: false
      targetResourceId:
        description: Gets or sets the Azure Resource URI of the of the endpoint.  Not applicable to endpoints of type 'ExternalEndpoints'.
        type: string
        required: false
      weight:
        description: Gets or sets the weight of this endpoint when using the 'Weighted' traffic routing method. Possible values are from 1 to 1000.
        format: int64
        type: integer
        required: false
  MonitorConfig:
    description: Class containing endpoint monitoring settings in a Traffic Manager profile.
    properties:
      path:
        description: Gets or sets the path relative to the endpoint domain name used to probe for endpoint health.
        type: string
        required: false
      port:
        description: Gets or sets the TCP port used to probe for endpoint health.
        format: int64
        type: integer
        required: false
      profileMonitorStatus:
        description: Gets or sets the profile-level monitoring status of the Traffic Manager profile.
        type: string
        required: false
      protocol:
        description: Gets or sets the protocol (HTTP or HTTPS) used to probe for endpoint health.
        type: string
        required: false
  Profile:
    type: Resource
  ProfileListResult:
    description: The list Traffic Manager profiles operation response.
    properties:
      value:
        description: Gets the list of Traffic manager profiles.
        items:
          type: Profile
        type: array
        required: false
  ProfileProperties:
    description: Class representing the Traffic Manager profile properties.
    properties:
      dnsConfig:
        description: Gets or sets the DNS settings of the Traffic Manager profile.
        type: DnsConfig
        required: false
      endpoints:
        description: Gets or sets the list of endpoints in the Traffic Manager profile.
        items:
          type: Endpoint
        type: array
        required: false
      monitorConfig:
        description: Gets or sets the endpoint monitoring settings of the Traffic Manager profile.
        type: MonitorConfig
        required: false
      profileStatus:
        description: Gets or sets the status of the Traffic Manager profile.  Possible values are 'Enabled' and 'Disabled'.
        type: string
        required: false
      trafficRoutingMethod:
        description: 'Gets or sets the traffic routing method of the Traffic Manager profile.  Possible values are ''Performance'', ''Weighted'', or ''Priority''.'
        type: string
        required: false
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
        required: false
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
        required: false
  TrafficManagerNameAvailability:
    description: Class representing a Traffic Manager Name Availability response.
    properties:
      message:
        description: 'Descriptive message that explains why the name is not available, when applicable.'
        type: string
        required: false
      name:
        description: The relative name.
        type: string
        required: false
      nameAvailable:
        description: Describes whether the relative name is available or not.
        type: boolean
        required: false
      reason:
        description: 'The reason why the name is not available, when applicable.'
        type: string
        required: false
      type:
        description: Traffic Manager profile resource type.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
