#%RAML 1.0
title: ApiManagementClient
version: '2016-07-07'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: 'Use these REST APIs for performing operations on entities like API, Product, and Subscription associated with your Azure API Management deployment.'
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-apimanagement/2016-07-07/swagger/apimmanagement.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-apimanagement-apimmanagement
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-odata: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
  oas-x-ms-paths: any
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow.
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.ApiManagement:
            displayName: Microsoft.ApiManagement
            /service:
              displayName: service
              '/{serviceName}':
                displayName: '{serviceName}'
                /products:
                  displayName: products
                  '/{productId}':
                    displayName: '{productId}'
                    uriParameters:
                      productId:
                        description: Product identifier. Must be unique in the current API Management service instance.
                        maxLength: 256
                        minLength: 1
                        pattern: '^[^*#&+:<>?]+$'
                        required: true
                        type: string
                        displayName: Product identifier. Must be unique in the current API Management service instance.
                    patch:
                      displayName: Products_Update
                      description: Update product.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ProductUpdateParameters
                          (oas-body-name): parameters
                          description: Update parameters.
                      headers:
                        If-Match:
                          type: string
                          description: ETag of the Product Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: No Content in case of Update Successfull.
                      (oas-tags):
                        - Products
                    put:
                      displayName: Products_CreateOrUpdate
                      description: Creates or Updates a product.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ProductContract
                          (oas-body-name): parameters
                          description: Create or update parameters.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          description: Product was successfully created.
                        '204':
                          description: Product already exists.
                      (oas-tags):
                        - Products
                    /apis:
                      displayName: apis
                      get:
                        (oas-x-ms-odata): '#/definitions/ApiContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: ProductApis_ListByProduct
                        description: Lists a collection of the APIs associated with a product.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ApiPaged
                            description: The response body contains a collection of Api entities in the product.
                        queryParameters:
                          $filter:
                            description: |
                              | Field       | Supported operators    | Supported functions                         |
                              |-------------|------------------------|---------------------------------------------|
                              | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                            required: false
                            type: string
                            displayName: |
                              | Field       | Supported operators    | Supported functions                         |
                              |-------------|------------------------|---------------------------------------------|
                              | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          $top:
                            description: Number of records to return.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to return.
                          $skip:
                            description: Number of records to skip.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to skip.
                        (oas-tags):
                          - ProductApis
                      '/{apiId}':
                        displayName: '{apiId}'
                        uriParameters:
                          apiId:
                            description: API identifier. Must be unique in the current API Management service instance.
                            maxLength: 256
                            minLength: 1
                            pattern: '^[^*#&+:<>?]+$'
                            required: true
                            type: string
                            displayName: API identifier. Must be unique in the current API Management service instance.
                        delete:
                          displayName: ProductApis_Remove
                          description: Deletes the specified API from the specified product.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '204':
                              description: The API was successfully removed from the product.
                          (oas-tags):
                            - ProductApis
                        put:
                          displayName: ProductApis_Add
                          description: Adds an API to the specified product.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '201':
                              description: The API was successfully added to the product.
                            '204':
                              description: The specified API is already added to the product.
                          (oas-tags):
                            - ProductApis
                    /groups:
                      displayName: groups
                      get:
                        (oas-x-ms-odata): '#/definitions/GroupContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: ProductGroups_ListByProduct
                        description: Lists the collection of developer groups associated with the specified product.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: GroupPaged
                            description: Lists a collection of Group entities.
                        queryParameters:
                          $filter:
                            description: |-
                              | Field       | Supported operators    | Supported functions                         |
                              |-------------|------------------------|---------------------------------------------|
                              | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | type        | eq, ne                 | N/A                                         |
                            required: false
                            type: string
                            displayName: |-
                              | Field       | Supported operators    | Supported functions                         |
                              |-------------|------------------------|---------------------------------------------|
                              | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | type        | eq, ne                 | N/A                                         |
                          $top:
                            description: Number of records to return.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to return.
                          $skip:
                            description: Number of records to skip.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to skip.
                        (oas-tags):
                          - ProductGroups
                      '/{groupId}':
                        displayName: '{groupId}'
                        uriParameters:
                          groupId:
                            description: Group identifier. Must be unique in the current API Management service instance.
                            maxLength: 256
                            minLength: 1
                            pattern: '^[^*#&+:<>?]+$'
                            required: true
                            type: string
                            displayName: Group identifier. Must be unique in the current API Management service instance.
                        delete:
                          displayName: ProductGroups_Remove
                          description: Deletes the association between the specified group and product.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '204':
                              description: The group was successfully disassociated with the product.
                            '400':
                              body:
                                application/json:
                                  type: ErrorBodyContract
                              description: Request validation failed.This is typically caused by an invalid product or group id.
                          (oas-tags):
                            - ProductGroups
                        put:
                          displayName: ProductGroups_Add
                          description: Adds the association between the specified developer group with the specified product.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '201':
                              description: The group was successfully associated with the product..
                            '204':
                              description: The specified group is already associated with the product.
                          (oas-tags):
                            - ProductGroups
                    /subscriptions:
                      displayName: subscriptions
                      get:
                        (oas-x-ms-odata): '#/definitions/SubscriptionContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: ProductSubscriptions_ListByProduct
                        description: Lists the collection of subscriptions to the specified product.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SubscriptionPaged
                            description: Lists a collection of subscription entities.
                        queryParameters:
                          $filter:
                            description: |-
                              | Field        | Supported operators    | Supported functions                         |
                              |--------------|------------------------|---------------------------------------------|
                              | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | state        | eq                     |                                             |
                            required: false
                            type: string
                            displayName: |-
                              | Field        | Supported operators    | Supported functions                         |
                              |--------------|------------------------|---------------------------------------------|
                              | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | state        | eq                     |                                             |
                          $top:
                            description: Number of records to return.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to return.
                          $skip:
                            description: Number of records to skip.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to skip.
                        (oas-tags):
                          - ProductSubscriptions
                    delete:
                      displayName: Products_Delete
                      description: Delete product.
                      is:
                        - apiVersionParameter
                      headers:
                        If-Match:
                          type: string
                          description: ETag of the Product Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The product was successfully deleted.
                      queryParameters:
                        deleteSubscriptions:
                          description: Delete existing subscriptions to the product or not.
                          required: false
                          type: boolean
                          displayName: Delete existing subscriptions to the product or not.
                      (oas-tags):
                        - Products
                    get:
                      displayName: Products_Get
                      description: Gets the details of the product specified by its identifier.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ProductContract
                          description: The response body contains the specified Product entity.
                          headers:
                            ETag:
                              type: string
                              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                      (oas-tags):
                        - Products
                  get:
                    (oas-x-ms-odata): '#/definitions/ProductContract'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Products_ListByService
                    description: Lists a collection of products in the specified service instance.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBodyContract
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ProductPaged
                        description: A Collection of the Product entities for the specified API Management service instance.
                    queryParameters:
                      $filter:
                        description: |-
                          | Field       | Supported operators    | Supported functions                         |
                          |-------------|------------------------|---------------------------------------------|
                          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | state       | eq                     |                                             |
                        required: false
                        type: string
                        displayName: |-
                          | Field       | Supported operators    | Supported functions                         |
                          |-------------|------------------------|---------------------------------------------|
                          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | state       | eq                     |                                             |
                      $top:
                        description: Number of records to return.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to return.
                      $skip:
                        description: Number of records to skip.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to skip.
                      expandGroups:
                        description: 'When set to true, the response contains an array of groups that have visibility to the product. The default is false.'
                        required: false
                        type: boolean
                        displayName: 'When set to true, the response contains an array of groups that have visibility to the product. The default is false.'
                    (oas-tags):
                      - Products
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/dn776336.aspx'
                /users:
                  displayName: users
                  '/{uid}':
                    displayName: '{uid}'
                    /subscriptions:
                      displayName: subscriptions
                      get:
                        (oas-x-ms-odata): '#/definitions/SubscriptionContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: UserSubscriptions_ListByUser
                        description: Lists the collection of subscriptions of the specified user.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SubscriptionPaged
                            description: Lists a collection of Subscription entities.
                        queryParameters:
                          $filter:
                            description: |-
                              | Field        | Supported operators    | Supported functions                         |
                              |--------------|------------------------|---------------------------------------------|
                              | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | state        | eq                     |                                             |
                            required: false
                            type: string
                            displayName: |-
                              | Field        | Supported operators    | Supported functions                         |
                              |--------------|------------------------|---------------------------------------------|
                              | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | state        | eq                     |                                             |
                          $top:
                            description: Number of records to return.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to return.
                          $skip:
                            description: Number of records to skip.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to skip.
                        (oas-tags):
                          - UserSubscriptions
                    uriParameters:
                      uid:
                        description: User identifier. Must be unique in the current API Management service instance.
                        maxLength: 256
                        minLength: 1
                        pattern: '^[^*#&+:<>?]+$'
                        required: true
                        type: string
                        displayName: User identifier. Must be unique in the current API Management service instance.
                    delete:
                      displayName: Users_Delete
                      description: Deletes specific user.
                      is:
                        - apiVersionParameter
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the user to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The user details were successfully deleted.
                        '405':
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Administrator user cannot be modified.
                      queryParameters:
                        deleteSubscriptions:
                          description: Whether to delete user's subscription or not.
                          required: false
                          type: boolean
                          displayName: Whether to delete user's subscription or not.
                      (oas-tags):
                        - Users
                    get:
                      displayName: Users_Get
                      description: Gets the details of the user specified by its identifier.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: UserContract
                          description: Gets the specified user entity.
                          headers:
                            ETag:
                              type: string
                              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                      (oas-tags):
                        - Users
                    patch:
                      displayName: Users_Update
                      description: Updates the details of the user specified by its identifier.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: UserUpdateParameters
                          (oas-body-name): parameters
                          description: Update parameters.
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the user to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The user details were successfully updated.
                        '405':
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Administrator user cannot be modified.
                      (oas-tags):
                        - Users
                    /identities:
                      displayName: identities
                      get:
                        displayName: UserIdentities_ListByUser
                        description: Lists all user identities.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                items:
                                  type: UserIdentityContract
                                type: array
                            description: Lists of User Identities.
                        (oas-tags):
                          - UserIdentities
                    /groups:
                      displayName: groups
                      get:
                        (oas-x-ms-odata): '#/definitions/GroupContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: UserGroups_ListByUser
                        description: Lists all user groups.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: GroupPaged
                            description: Lists a collection of Group entities.
                        queryParameters:
                          $filter:
                            description: |-
                              | Field       | Supported operators    | Supported functions                         |
                              |-------------|------------------------|---------------------------------------------|
                              | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                            required: false
                            type: string
                            displayName: |-
                              | Field       | Supported operators    | Supported functions                         |
                              |-------------|------------------------|---------------------------------------------|
                              | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          $top:
                            description: Number of records to return.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to return.
                          $skip:
                            description: Number of records to skip.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to skip.
                        (oas-tags):
                          - UserGroups
                    /generateSsoUrl:
                      displayName: generateSsoUrl
                      post:
                        displayName: Users_GenerateSsoUrl
                        description: Retrieves a redirection URL containing an authentication token for signing a given user into the developer portal.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: GenerateSsoUrlResult
                                (oas-x-ms-client-flatten): true
                            description: The response body contains the single sign-on URL.
                        (oas-tags):
                          - Users
                    put:
                      displayName: Users_CreateOrUpdate
                      description: Creates or Updates a user.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: UserCreateParameters
                          (oas-body-name): parameters
                          description: Create or update parameters.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          description: User was successfully created.
                        '204':
                          description: User was successfully updated.
                      (oas-tags):
                        - Users
                  get:
                    (oas-x-ms-odata): '#/definitions/UserContract'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Users_ListByService
                    description: Lists a collection of registered users in the specified service instance.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBodyContract
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: UserPaged
                        description: Lists a collection of User entities.
                    queryParameters:
                      $filter:
                        description: |-
                          | Field            | Supported operators    | Supported functions               |
                          |------------------|------------------------|-----------------------------------|
                          | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | state            | eq                     | N/A                               |
                          | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
                          | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                        required: false
                        type: string
                        displayName: |-
                          | Field            | Supported operators    | Supported functions               |
                          |------------------|------------------------|-----------------------------------|
                          | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | state            | eq                     | N/A                               |
                          | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
                          | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                      $top:
                        description: Number of records to return.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to return.
                      $skip:
                        description: Number of records to skip.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to skip.
                    (oas-tags):
                      - Users
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/dn776330.aspx'
                /apis:
                  displayName: apis
                  get:
                    (oas-x-ms-odata): '#/definitions/ApiContract'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Apis_ListByService
                    description: Lists all APIs of the API Management service instance.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBodyContract
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ApiPaged
                        description: Paged Result reponse of Apis.
                    queryParameters:
                      $filter:
                        description: |-
                          | Field       | Supported operators    | Supported functions               |
                          |-------------|------------------------|-----------------------------------|
                          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                        required: false
                        type: string
                        displayName: |-
                          | Field       | Supported operators    | Supported functions               |
                          |-------------|------------------------|-----------------------------------|
                          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          | path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                      $top:
                        description: Number of records to return.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to return.
                      $skip:
                        description: Number of records to skip.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to skip.
                    (oas-tags):
                      - Apis
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/dn781423.aspx'
                  '/{apiId}':
                    displayName: '{apiId}'
                    uriParameters:
                      apiId:
                        description: API identifier. Must be unique in the current API Management service instance.
                        maxLength: 256
                        minLength: 1
                        pattern: '^[^*#&+:<>?]+$'
                        required: true
                        type: string
                        displayName: API identifier. Must be unique in the current API Management service instance.
                    get:
                      displayName: Apis_Get
                      description: Gets the details of the API specified by its identifier.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/vnd.sun.wadl+xml:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/vnd.sun.wadl+xml:
                              type: ApiContract
                          description: The response body contains the specified API entity.
                          headers:
                            ETag:
                              type: string
                              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                      (oas-tags):
                        - Apis
                    put:
                      displayName: Apis_CreateOrUpdate
                      description: Creates new or updates existing specified API of the API Management service instance.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ApiContract
                          (oas-body-name): parameters
                          description: Create or update parameters.
                      headers:
                        If-Match:
                          type: string
                          description: ETag of the Api Entity. For Create Api Etag should not be specified. For Update Etag should match the existing Entity or it can be * for unconditional update.
                          required: false
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          description: API was successfully created.
                        '204':
                          description: API was successfully updated.
                      (oas-tags):
                        - Apis
                    /operations:
                      displayName: operations
                      '/{operationId}':
                        displayName: '{operationId}'
                        uriParameters:
                          operationId:
                            description: Operation identifier within an API. Must be unique in the current API Management service instance.
                            maxLength: 256
                            minLength: 1
                            pattern: '^[^*#&+:<>?]+$'
                            required: true
                            type: string
                            displayName: Operation identifier within an API. Must be unique in the current API Management service instance.
                        delete:
                          displayName: ApiOperations_Delete
                          description: Deletes the specified operation.
                          is:
                            - apiVersionParameter
                          headers:
                            If-Match:
                              type: string
                              description: ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
                              required: true
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '204':
                              description: The operation was successfully deleted.
                          (oas-tags):
                            - ApiOperations
                        patch:
                          displayName: ApiOperations_Update
                          description: Updates the details of the operation specified by its identifier.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: PatchParameters
                              (oas-body-name): parameters
                              description: Update parameters.
                          headers:
                            If-Match:
                              type: string
                              description: ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
                              required: true
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '204':
                              description: The operation was successfully updated.
                          (oas-tags):
                            - ApiOperations
                        put:
                          displayName: ApiOperations_CreateOrUpdate
                          description: Creates a new API operation or updates an existing one.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: OperationContract
                              (oas-body-name): parameters
                              description: Create parameters.
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '201':
                              description: Operation was successfully created.
                            '204':
                              description: Operation was successfully updated.
                          (oas-tags):
                            - ApiOperations
                        get:
                          displayName: ApiOperations_Get
                          description: Gets the details of the API Operation specified by its identifier.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: OperationContract
                              description: The response body contains the specified Operation entity.
                              headers:
                                ETag:
                                  type: string
                                  description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                          (oas-tags):
                            - ApiOperations
                      get:
                        (oas-x-ms-odata): '#/definitions/OperationContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: ApiOperations_ListByApi
                        description: Lists a collection of the operations for the specified API.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: OperationPaged
                            description: A collection of operation summary entities at the API level.
                        queryParameters:
                          $filter:
                            description: |-
                              | Field       | Supported operators    | Supported functions               |
                              |-------------|------------------------|-----------------------------------|
                              | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                              | method      | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                              | urlTemplate | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                            required: false
                            type: string
                            displayName: |-
                              | Field       | Supported operators    | Supported functions               |
                              |-------------|------------------------|-----------------------------------|
                              | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                              | method      | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                              | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                              | urlTemplate | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
                          $top:
                            description: Number of records to return.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to return.
                          $skip:
                            description: Number of records to skip.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to skip.
                        (oas-tags):
                          - ApiOperations
                    /products:
                      displayName: products
                      get:
                        (oas-x-ms-odata): '#/definitions/ProductContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: ApiProducts_ListByApi
                        description: Lists all API associated products.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: Error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ProductPaged
                            description: The operation returns a collection of products which have the Api entity.
                        queryParameters:
                          $filter:
                            description: |-
                              | Field | Supported operators    | Supported functions                         |
                              |-------|------------------------|---------------------------------------------|
                              | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                            required: false
                            type: string
                            displayName: |-
                              | Field | Supported operators    | Supported functions                         |
                              |-------|------------------------|---------------------------------------------|
                              | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          $top:
                            description: Number of records to return.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to return.
                          $skip:
                            description: Number of records to skip.
                            format: int32
                            required: false
                            type: integer
                            displayName: Number of records to skip.
                        (oas-tags):
                          - ApiProducts
                    delete:
                      displayName: Apis_Delete
                      description: Deletes the specified API of the API Management service instance.
                      is:
                        - apiVersionParameter
                      headers:
                        If-Match:
                          type: string
                          description: ETag of the API Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The API was successfully deleted.
                      (oas-tags):
                        - Apis
                    patch:
                      displayName: Apis_Update
                      description: Updates the specified API of the API Management service instance.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: PatchParameters
                          (oas-body-name): parameters
                          description: Patch parameters.
                      headers:
                        If-Match:
                          type: string
                          description: ETag of the API entity. ETag should match the current entity state in the header response of the GET request or it should be * for unconditional update.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The API was successfully updated.
                      (oas-tags):
                        - Apis
                /authorizationServers:
                  displayName: authorizationServers
                  '/{authsid}':
                    displayName: '{authsid}'
                    uriParameters:
                      authsid:
                        description: Identifier of the authorization server.
                        maxLength: 256
                        pattern: '^[^*#&+:<>?]+$'
                        required: true
                        type: string
                        displayName: Identifier of the authorization server.
                    delete:
                      displayName: AuthorizationServers_Delete
                      description: Deletes specific authorization server instance.
                      is:
                        - apiVersionParameter
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the authentication server to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The authorization server settings were successfully deleted.
                      (oas-tags):
                        - AuthorizationServers
                    patch:
                      displayName: AuthorizationServers_Update
                      description: Updates the details of the authorization server specified by its identifier.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: OAuth2AuthorizationServerUpdateContract
                          (oas-body-name): parameters
                          description: OAuth2 Server settings Update parameters.
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the authorization server to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The authorization server settings were successfully updated.
                      (oas-tags):
                        - AuthorizationServers
                    get:
                      displayName: AuthorizationServers_Get
                      description: Gets the details of the authorization server specified by its identifier.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: OAuth2AuthorizationServerContract
                          description: Gets the details of the specified authorization server.
                          headers:
                            ETag:
                              type: string
                              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                      (oas-tags):
                        - AuthorizationServers
                    put:
                      displayName: AuthorizationServers_CreateOrUpdate
                      description: Creates new authorization server or updates an existing authorization server.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: OAuth2AuthorizationServerContract
                          (oas-body-name): parameters
                          description: Create or update parameters.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          description: Authorization server was successfully registered.
                        '204':
                          description: Authorization server is already registered.
                      (oas-tags):
                        - AuthorizationServers
                  get:
                    (oas-x-ms-odata): '#/definitions/OAuth2AuthorizationServerContract'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: AuthorizationServers_ListByService
                    description: Lists a collection of authorization servers defined within a service instance.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: AuthorizationServerPaged
                        description: A Collection of the Authorization Server entities for the specified API Management service instance.
                    queryParameters:
                      $filter:
                        description: |-
                          | Field | Supported operators    | Supported functions                         |
                          |-------|------------------------|---------------------------------------------|
                          | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                        required: false
                        type: string
                        displayName: |-
                          | Field | Supported operators    | Supported functions                         |
                          |-------|------------------------|---------------------------------------------|
                          | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                      $top:
                        description: Number of records to return.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to return.
                      $skip:
                        description: Number of records to skip.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to skip.
                    (oas-tags):
                      - AuthorizationServers
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/dn879064.aspx'
                /properties:
                  displayName: properties
                  get:
                    (oas-x-ms-odata): '#/definitions/PropertyContract'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Property_ListByService
                    description: Lists a collection of properties defined within a service instance.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: PropertyPaged
                        description: A Collection of the Property entities for the specified API Management service instance.
                    queryParameters:
                      $filter:
                        description: |-
                          | Field | Supported operators    | Supported functions                                   |
                          |-------|------------------------|-------------------------------------------------------|
                          | tags  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith, any, all |
                          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith           |
                        required: false
                        type: string
                        displayName: |-
                          | Field | Supported operators    | Supported functions                                   |
                          |-------|------------------------|-------------------------------------------------------|
                          | tags  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith, any, all |
                          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith           |
                      $top:
                        description: Number of records to return.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to return.
                      $skip:
                        description: Number of records to skip.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to skip.
                    (oas-tags):
                      - Property
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/mt651775.aspx'
                  '/{propId}':
                    displayName: '{propId}'
                    uriParameters:
                      propId:
                        description: Identifier of the property.
                        maxLength: 256
                        pattern: '^[^*#&+:<>?]+$'
                        required: true
                        type: string
                        displayName: Identifier of the property.
                    delete:
                      displayName: Property_Delete
                      description: Deletes specific property from the the API Management service instance.
                      is:
                        - apiVersionParameter
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the property to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: Property was successfully deleted.
                        '405':
                          body:
                            application/json:
                              type: ErrorBodyContract
                          description: The specified property cannot be deleted because it is in use in a policy. You must remove all references to this property before it can be deleted.
                      (oas-tags):
                        - Property
                    get:
                      displayName: Property_Get
                      description: Gets the details of the property specified by its identifier.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: PropertyContract
                          description: The response body contains the specified Property entity.
                          headers:
                            ETag:
                              type: string
                              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                      (oas-tags):
                        - Property
                    patch:
                      displayName: Property_Update
                      description: Updates the specific property.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: PropertyUpdateParameters
                          (oas-body-name): parameters
                          description: Update parameters.
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the property to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: Property was successfully updated.
                      (oas-tags):
                        - Property
                    put:
                      displayName: Property_CreateOrUpdate
                      description: Creates or updates a property.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: PropertyCreateParameters
                          (oas-body-name): parameters
                          description: Create parameters.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          description: Property was successfully created.
                        '204':
                          description: Property was successfully updated.
                      (oas-tags):
                        - Property
                /certificates:
                  displayName: certificates
                  get:
                    (oas-x-ms-odata): '#/definitions/CertificateContract'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Certificates_ListByService
                    description: Lists a collection of all certificates in the specified service instance.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorBodyContract
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: CertificatePaged
                        description: Returns a collection of Certificate entity.
                    queryParameters:
                      $filter:
                        description: |-
                          | Field          | Supported operators    | Supported functions                         |
                          |----------------|------------------------|---------------------------------------------|
                          | id             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | subject        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | thumbprint     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | expirationDate | ge, le, eq, ne, gt, lt | N/A                                         |
                        required: false
                        type: string
                        displayName: |-
                          | Field          | Supported operators    | Supported functions                         |
                          |----------------|------------------------|---------------------------------------------|
                          | id             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | subject        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | thumbprint     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | expirationDate | ge, le, eq, ne, gt, lt | N/A                                         |
                      $top:
                        description: Number of records to return.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to return.
                      $skip:
                        description: Number of records to skip.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to skip.
                    (oas-tags):
                      - Certificates
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/dn783483.aspx'
                  '/{certificateId}':
                    displayName: '{certificateId}'
                    uriParameters:
                      certificateId:
                        description: Identifier of the certificate entity. Must be unique in the current API Management service instance.
                        maxLength: 256
                        minLength: 1
                        pattern: '^[^*#&+:<>?]+$'
                        required: true
                        type: string
                        displayName: Identifier of the certificate entity. Must be unique in the current API Management service instance.
                    get:
                      displayName: Certificates_Get
                      description: Gets the details of the certificate specified by its identifier.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: CertificateContract
                          description: The response body contains the specified Certificate entity.
                          headers:
                            ETag:
                              type: string
                              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                      (oas-tags):
                        - Certificates
                    delete:
                      displayName: Certificates_Delete
                      description: Deletes specific certificate.
                      is:
                        - apiVersionParameter
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the certificate to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
                          required: true
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '204':
                          description: The certificate was successfully deleted.
                      (oas-tags):
                        - Certificates
                    put:
                      displayName: Certificates_CreateOrUpdate
                      description: Creates or updates the certificate being used for authentication with the backend.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: CertificateCreateOrUpdateParameters
                          (oas-body-name): parameters
                          description: Create parameters.
                      headers:
                        If-Match:
                          type: string
                          description: The entity state (Etag) version of the certificate to update. A value of "*" can be used for If-Match to unconditionally apply the operation..
                          required: false
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          description: The new certificate was successfully added.
                        '204':
                          description: The certificate details were successfully updated.
                      (oas-tags):
                        - Certificates
                      (oas-externalDocs):
                        description: How to secure back-end services using client certificate authentication in Azure API Management
                        url: 'https://azure.microsoft.com/en-us/documentation/articles/api-management-howto-mutual-certificates/'
                /groups:
                  displayName: groups
                  get:
                    (oas-x-ms-odata): '#/definitions/GroupContract'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Groups_ListByService
                    description: Lists a collection of groups defined within a service instance.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: GroupPaged
                        description: Lists a collection of Group entities.
                    queryParameters:
                      $filter:
                        description: |-
                          | Field       | Supported operators    | Supported functions                         |
                          |-------------|------------------------|---------------------------------------------|
                          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | type        | eq, ne                 | N/A                                         |
                        required: false
                        type: string
                        displayName: |-
                          | Field       | Supported operators    | Supported functions                         |
                          |-------------|------------------------|---------------------------------------------|
                          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
                          | type        | eq, ne                 | N/A                                         |
                      $top:
                        description: Number of records to return.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to return.
                      $skip:
                        description: Number of records to skip.
                        format: int32
                        required: false
                        type: integer
                        displayName: Number of records to skip.
                    (oas-tags):
                      - Groups
                    (oas-externalDocs):
                      url: 'https://msdn.microsoft.com/en-us/library/azure/dn776329.aspx'
                  '/{groupId}':
                    displayName: '{groupId}'
                    uriParameters:
                      groupId:
                        description: Group identifier. Must be unique in the current API Management service instance.
                        maxLength: 256
                        minLength: 1
                        pattern: '^[^*#&+:<>?]+$'
                        required: true
                        type: string
                        displayName: Group identifier. Must be unique in the current API Management service instance.
                    get:
                      displayName: Groups_Get
                      description: Gets the details of the group specified by its identifier.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: GroupContract
                          description: The response body contains the specified Group entity.
                          headers:
                            ETag:
                              type: string
                              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
                      (oas-tags):
                        - Groups
                    put:
                      displayName: Groups_CreateOrUpdate
                      description: Creates or Updates a group.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: GroupCreateParameters
                          (oas-body-name): parameters
                          description: Create parameters.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorBodyContract
                        description: Error response describing why the operation failed.
                      responses:
                        '201':
                          description: Group was created succesfully.
                        '204':
                          description: Group already exists.
                      (oas-tags):
                        - Groups
                    /users:
                      displayName: users
                      '/{uid}':
                        displayName: '{uid}'
                        uriParameters:
                          uid:
                            description: User identifier. Must be unique in the current API Management service instance.
                            maxLength: 256
                            minLength: 1
                            pattern: '^[^*#&+:<>?]+$'
                            required: true
                            type: string
                            displayName: User identifier. Must be unique in the current API Management service instance.
                        delete:
                          displayName: GroupUsers_Remove
                          description: Remove existing user from existing group.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '204':
                              description: The user was successfully removed from the group..
                            '405':
                              body:
                                application/json:
                                  type: ErrorBodyContract
                              description: Attempt was made to add a user to a built-in group. Built-in group membership is managed by the system.
                          (oas-tags):
                            - GroupUsers
                        put:
                          displayName: GroupUsers_Add
                          description: Adds a user to the specified group.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorBodyContract
                            description: Error response describing why the operation failed.
                          responses:
                            '201':
                              description: The user was successfully added to the group.
                            '204':
                              description: The specified user is already a member of the specified group.
                            '405':
                              body:
                                application/json:
                                  type: ErrorBodyContract
                              description: Attempt was made to add a user to a built-in group. Built-in group membership is managed by the system.
                          (oas-tags):
                            - GroupUsers
                      get:
                        (oas-x-ms-odata): '#/definitions/UserContract'
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
[...]
