#%RAML 1.0
title: NotificationHubsManagementClient
version: '2016-03-01'
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: Azure NotificationHub client
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-notificationhubs/2016-03-01/swagger/notificationhubs.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-notificationhubs
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.NotificationHubs:
            displayName: Microsoft.NotificationHubs
            /namespaces:
              displayName: namespaces
              '/{namespaceName}':
                displayName: '{namespaceName}'
                /AuthorizationRules:
                  displayName: AuthorizationRules
                  '/{authorizationRuleName}':
                    displayName: '{authorizationRuleName}'
                    /regenerateKeys:
                      displayName: regenerateKeys
                      post:
                        displayName: Namespaces_RegenerateKeys
                        description: Regenerates the Primary/Secondary Keys to the Namespace Authorization Rule
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: PolicykeyResource
                            (oas-body-name): parameters
                            description: Parameters supplied to regenerate the Namespace Authorization Rule Key.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ResourceListKeys
                            description: Regenerate the Primary/Secondary Key and returns the Keys and the connection string
                        (oas-tags):
                          - Namespaces
                        (oas-externalDocs):
                          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
                    uriParameters:
                      authorizationRuleName:
                        description: Authorization rule name.
                        required: true
                        type: string
                    delete:
                      displayName: Namespaces_DeleteAuthorizationRule
                      description: Deletes a namespace authorization rule
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Namespace AuthorizationRule is deleted
                        '204':
                          description: Namespace AuthorizationRule is already deleted
                      (oas-tags):
                        - Namespaces
                    put:
                      displayName: Namespaces_CreateOrUpdateAuthorizationRule
                      description: Creates an authorization rule for a namespace
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SharedAccessAuthorizationRuleCreateOrUpdateParameters
                          (oas-body-name): parameters
                          description: The shared access authorization rule.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleResource
                          description: Namespace Authorization Rule is Created/Updated
                      (oas-tags):
                        - Namespaces
                    /listKeys:
                      displayName: listKeys
                      post:
                        displayName: Namespaces_ListKeys
                        description: 'Gets the Primary and Secondary ConnectionStrings to the namespace '
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ResourceListKeys
                            description: Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings
                        (oas-tags):
                          - Namespaces
                        (oas-externalDocs):
                          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
                    get:
                      displayName: Namespaces_GetAuthorizationRule
                      description: Gets an authorization rule for a namespace by name.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleResource
                          description: Get the Namespace AuthorizationRule
                      (oas-tags):
                        - Namespaces
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Namespaces_ListAuthorizationRules
                    description: Gets the authorization rules for a namespace.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SharedAccessAuthorizationRuleListResult
                        description: Get the Namespace AuthorizationRule
                    (oas-tags):
                      - Namespaces
                /notificationHubs:
                  displayName: notificationHubs
                  '/{notificationHubName}':
                    displayName: '{notificationHubName}'
                    /pnsCredentials:
                      displayName: pnsCredentials
                      post:
                        displayName: NotificationHubs_GetPnsCredentials
                        description: Lists the PNS Credentials associated with a notification hub .
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: PnsCredentialsResource
                            description: Gets all the NotificationHub PNS credentials
                        (oas-tags):
                          - NotificationHubs
                    uriParameters:
                      notificationHubName:
                        description: The notification hub name.
                        required: true
                        type: string
                    delete:
                      displayName: NotificationHubs_Delete
                      description: Deletes a notification hub associated with a namespace.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: Namespace is deleted
                      (oas-tags):
                        - NotificationHubs
                    get:
                      displayName: NotificationHubs_Get
                      description: Lists the notification hubs associated with a namespace.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: NotificationHubResource
                          description: Get the NotificationHub
                      (oas-tags):
                        - NotificationHubs
                    put:
                      displayName: NotificationHubs_CreateOrUpdate
                      description: Creates/Update a NotificationHub in a namespace.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: NotificationHubCreateOrUpdateParameters
                          (oas-body-name): parameters
                          description: Parameters supplied to the create/update a NotificationHub Resource.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: NotificationHubResource
                          description: NotificationHub is Created/Updated
                        '201':
                          body:
                            application/json:
                              type: NotificationHubResource
                          description: NotificationHub is Created/Updated
                      (oas-tags):
                        - NotificationHubs
                      (oas-externalDocs):
                        url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx'
                    /AuthorizationRules:
                      displayName: AuthorizationRules
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: NotificationHubs_ListAuthorizationRules
                        description: Gets the authorization rules for a NotificationHub.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: SharedAccessAuthorizationRuleListResult
                            description: Get all NotificationHub AuthorizationRules
                        (oas-tags):
                          - NotificationHubs
                      '/{authorizationRuleName}':
                        displayName: '{authorizationRuleName}'
                        uriParameters:
                          authorizationRuleName:
                            description: authorization rule name.
                            required: true
                            type: string
                        delete:
                          displayName: NotificationHubs_DeleteAuthorizationRule
                          description: Deletes a notificationHub authorization rule
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              description: NotificationHub AuthorizationRule is deleted
                            '204':
                              description: NotificationHub AuthorizationRule is already deleted
                          (oas-tags):
                            - NotificationHubs
                        /regenerateKeys:
                          displayName: regenerateKeys
                          post:
                            displayName: NotificationHubs_RegenerateKeys
                            description: Regenerates the Primary/Secondary Keys to the NotificationHub Authorization Rule
                            is:
                              - apiVersionParameter
                            body:
                              application/json:
                                type: PolicykeyResource
                                (oas-body-name): parameters
                                description: Parameters supplied to regenerate the NotificationHub Authorization Rule Key.
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: ResourceListKeys
                                description: Regenerate the Primary/Secondary Key and returns the Keys and the connection string
                            (oas-tags):
                              - NotificationHubs
                            (oas-externalDocs):
                              url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
                        /listKeys:
                          displayName: listKeys
                          post:
                            displayName: NotificationHubs_ListKeys
                            description: 'Gets the Primary and Secondary ConnectionStrings to the NotificationHub '
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: ResourceListKeys
                                description: Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings
                            (oas-tags):
                              - NotificationHubs
                            (oas-externalDocs):
                              url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
                        put:
                          displayName: NotificationHubs_CreateOrUpdateAuthorizationRule
                          description: Creates/Updates an authorization rule for a NotificationHub
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: SharedAccessAuthorizationRuleCreateOrUpdateParameters
                              (oas-body-name): parameters
                              description: The shared access authorization rule.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SharedAccessAuthorizationRuleResource
                              description: NotificationHub AuthorizationRule is Created/Updated
                          (oas-tags):
                            - NotificationHubs
                        get:
                          displayName: NotificationHubs_GetAuthorizationRule
                          description: Gets an authorization rule for a NotificationHub by name.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: SharedAccessAuthorizationRuleResource
                              description: Get NotificationHub AuthorizationRule
                          (oas-tags):
                            - NotificationHubs
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: NotificationHubs_List
                    description: Lists the notification hubs associated with a namespace.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: NotificationHubListResult
                        description: Get all NotificationHubs within a Namespace
                    (oas-tags):
                      - NotificationHubs
                /checkNotificationHubAvailability:
                  displayName: checkNotificationHubAvailability
                  post:
                    displayName: NotificationHubs_CheckAvailability
                    description: Checks the availability of the given notificationHub in a namespace.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: CheckAvailabilityParameters
                        (oas-body-name): parameters
                        description: The notificationHub name.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: CheckAvailabilityResult
                        description: Checks if the NotificationHub name is a valid availabile name
                    (oas-tags):
                      - NotificationHubs
                    (oas-externalDocs):
                      url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx'
                uriParameters:
                  namespaceName:
                    description: The namespace name.
                    required: true
                    type: string
                get:
                  displayName: Namespaces_Get
                  description: Returns the description for the specified namespace.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NamespaceResource
                      description: Get Namespace
                  (oas-tags):
                    - Namespaces
                  (oas-externalDocs):
                    url: 'http://msdn.microsoft.com/library/azure/dn140232.aspx'
                put:
                  displayName: Namespaces_CreateOrUpdate
                  description: 'Creates/Updates a service namespace. Once created, this namespace''s resource manifest is immutable. This operation is idempotent.'
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NamespaceCreateOrUpdateParameters
                      (oas-body-name): parameters
                      description: Parameters supplied to create a Namespace Resource.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NamespaceResource
                      description: Namespace is Create/Update
                    '201':
                      body:
                        application/json:
                          type: NamespaceResource
                      description: Namespace is Create/Update
                  (oas-tags):
                    - Namespaces
                  (oas-externalDocs):
                    url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx'
                patch:
                  displayName: Namespaces_Patch
                  description: Patches the existing namespace
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NamespacePatchParameters
                      (oas-body-name): parameters
                      description: Parameters supplied to patch a Namespace Resource.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NamespaceResource
                      description: Namespace is Updated
                  (oas-tags):
                    - Namespaces
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: Namespaces_Delete
                  description: Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Namespace is deleted
                    '202':
                      description: Namespace delete request has been accepted
                    '204':
                      description: Namespace is already Deleted
                  (oas-tags):
                    - Namespaces
                  (oas-externalDocs):
                    url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx'
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Namespaces_List
                description: Lists the available namespaces within a resourceGroup.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: NamespaceListResult
                    description: Lists all Namespaces with the ResourceGroup
                (oas-tags):
                  - Namespaces
                (oas-externalDocs):
                  url: 'http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx'
    /providers:
      displayName: providers
      /Microsoft.NotificationHubs:
        displayName: Microsoft.NotificationHubs
        /checkNamespaceAvailability:
          displayName: checkNamespaceAvailability
          post:
            displayName: Namespaces_CheckAvailability
            description: Checks the availability of the given service namespace across all Azure subscriptions. This is useful because the domain name is created based on the service namespace name.
            is:
              - apiVersionParameter
            body:
              application/json:
                type: CheckAvailabilityParameters
                (oas-body-name): parameters
                description: The namespace name.
            responses:
              '200':
                body:
                  application/json:
                    type: CheckAvailabilityResult
                description: Checks if the Namespace name is a valid availabile name
            (oas-tags):
              - Namespaces
            (oas-externalDocs):
              url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx'
        /namespaces:
          displayName: namespaces
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: Namespaces_ListAll
            description: Lists all the available namespaces within the subscription irrespective of the resourceGroups.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: NamespaceListResult
                description: ' Gets all the Namespaces within the subscription irrespective of the ResourceGroup'
            (oas-tags):
              - Namespaces
            (oas-externalDocs):
              url: 'http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx'
types:
  AdmCredential:
    description: Description of a NotificationHub AdmCredential.
    properties:
      properties:
        description: Properties of NotificationHub AdmCredential.
        type: AdmCredentialProperties
        required: false
        (oas-x-ms-client-flatten): true
  AdmCredentialProperties:
    description: Description of a NotificationHub AdmCredential.
    properties:
      authTokenUrl:
        description: The URL of the authorization token.
        type: string
        required: false
      clientId:
        description: The client identifier.
        type: string
        required: false
      clientSecret:
        description: The credential secret access key.
        type: string
        required: false
  ApnsCredential:
    description: Description of a NotificationHub ApnsCredential.
    properties:
      properties:
        description: Properties of NotificationHub ApnsCredential.
        type: ApnsCredentialProperties
        required: false
        (oas-x-ms-client-flatten): true
  ApnsCredentialProperties:
    description: Description of a NotificationHub ApnsCredential.
    properties:
      apnsCertificate:
        description: The APNS certificate.
        type: string
        required: false
      certificateKey:
        description: The certificate key.
        type: string
        required: false
      endpoint:
        description: The endpoint of this credential.
        type: string
        required: false
      thumbprint:
        description: The Apns certificate Thumbprint
        type: string
        required: false
  BaiduCredential:
    description: Description of a NotificationHub BaiduCredential.
    properties:
      properties:
        description: Properties of NotificationHub BaiduCredential.
        type: BaiduCredentialProperties
        required: false
        (oas-x-ms-client-flatten): true
  BaiduCredentialProperties:
    description: Description of a NotificationHub BaiduCredential.
    properties:
      baiduApiKey:
        description: Baidu Api Key.
        type: string
        required: false
      baiduEndPoint:
        description: Baidu Endpoint.
        type: string
        required: false
      baiduSecretKey:
        description: Baidu Secret Key
        type: string
        required: false
  CheckAvailabilityParameters:
    description: Parameters supplied to the Check Name Availability for Namespace and NotificationHubs.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      isAvailiable:
        description: True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
        type: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        type: string
      sku:
        description: The sku of the created namespace
        type: Sku
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  CheckAvailabilityResult:
    type: Resource
  GcmCredential:
    description: Description of a NotificationHub GcmCredential.
    properties:
      properties:
        description: Properties of NotificationHub GcmCredential.
        type: GcmCredentialProperties
        required: false
        (oas-x-ms-client-flatten): true
  GcmCredentialProperties:
    description: Description of a NotificationHub GcmCredential.
    properties:
      gcmEndpoint:
        description: The GCM endpoint.
        type: string
        required: false
      googleApiKey:
        description: The Google API key.
        type: string
        required: false
  MpnsCredential:
    description: Description of a NotificationHub MpnsCredential.
    properties:
      properties:
        description: Properties of NotificationHub MpnsCredential.
        type: MpnsCredentialProperties
        required: false
        (oas-x-ms-client-flatten): true
  MpnsCredentialProperties:
    description: Description of a NotificationHub MpnsCredential.
    properties:
      certificateKey:
        description: The certificate key for this credential.
        type: string
        required: false
      mpnsCertificate:
        description: The MPNS certificate.
        type: string
        required: false
      thumbprint:
        description: The Mpns certificate Thumbprint
        type: string
        required: false
  NamespaceCreateOrUpdateParameters:
    type: Resource
  NamespaceListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Namespaces
        type: string
        required: false
      value:
        description: Result of the List Namespace operation.
        items:
          type: NamespaceResource
        type: array
        required: false
  NamespacePatchParameters:
    description: Parameters supplied to the Patch Namespace operation.
    properties:
      sku:
        description: The sku of the created namespace
        type: Sku
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
  NamespaceProperties:
    description: Namespace properties.
    properties:
      createdAt:
        description: The time the namespace was created.
        format: rfc3339
        type: datetime
        required: false
      critical:
        description: Whether or not the namespace is set as Critical.
        type: boolean
        required: false
      enabled:
        description: Whether or not the namespace is currently enabled.
        type: boolean
        required: false
      name:
        description: The name of the namespace.
        type: string
        required: false
      namespaceType:
        description: The namespace type.
        enum:
          - Messaging
          - NotificationHub
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: NamespaceType
      provisioningState:
        description: Provisioning state of the Namespace.
        type: string
        required: false
      region:
        description: 'Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia EastAustralia SoutheastCentral USEast USEast US 2West USNorth Central USSouth Central USEast AsiaSoutheast AsiaBrazil SouthJapan EastJapan WestNorth EuropeWest Europe'
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
      scaleUnit:
        description: ScaleUnit where the namespace gets created
        type: string
        required: false
      serviceBusEndpoint:
        description: Endpoint you can use to perform NotificationHub operations.
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
      status:
        description: 'Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting'
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
      subscriptionId:
        description: The Id of the Azure subscription associated with the namespace.
        type: string
        required: false
  NamespaceResource:
    type: Resource
  NotificationHubCreateOrUpdateParameters:
    type: Resource
  NotificationHubListResult:
    description: The response of the List NotificationHub operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of NotificationHub
        type: string
        required: false
      value:
        description: Result of the List NotificationHub operation.
        items:
          type: NotificationHubResource
        type: array
        required: false
  NotificationHubProperties:
    description: NotificationHub properties.
    properties:
      admCredential:
        description: The AdmCredential of the created NotificationHub
        type: AdmCredential
        required: false
      apnsCredential:
        description: The ApnsCredential of the created NotificationHub
        type: ApnsCredential
        required: false
      authorizationRules:
        description: The AuthorizationRules of the created NotificationHub
        items:
          type: SharedAccessAuthorizationRuleProperties
        type: array
        required: false
      baiduCredential:
        description: The BaiduCredential of the created NotificationHub
        type: BaiduCredential
        required: false
      gcmCredential:
        description: The GcmCredential of the created NotificationHub
        type: GcmCredential
        required: false
      mpnsCredential:
        description: The MpnsCredential of the created NotificationHub
        type: MpnsCredential
        required: false
      name:
        description: The NotificationHub name.
        type: string
        required: false
      registrationTtl:
        description: The RegistrationTtl of the created NotificationHub
        type: string
        required: false
      wnsCredential:
        description: The WnsCredential of the created NotificationHub
        type: WnsCredential
        required: false
  NotificationHubResource:
    type: Resource
  PnsCredentialsProperties:
    description: Description of a NotificationHub PNS Credentials.
    properties:
      admCredential:
        description: The AdmCredential of the created NotificationHub
        type: AdmCredential
        required: false
      apnsCredential:
        description: The ApnsCredential of the created NotificationHub
        type: ApnsCredential
        required: false
      baiduCredential:
        description: The BaiduCredential of the created NotificationHub
        type: BaiduCredential
        required: false
      gcmCredential:
        description: The GcmCredential of the created NotificationHub
        type: GcmCredential
        required: false
      mpnsCredential:
        description: The MpnsCredential of the created NotificationHub
        type: MpnsCredential
        required: false
      wnsCredential:
        description: The WnsCredential of the created NotificationHub
        type: WnsCredential
        required: false
  PnsCredentialsResource:
    type: Resource
  PolicykeyResource:
    description: Namespace/NotificationHub Regenerate Keys
    properties:
      policyKey:
        description: Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key.
        type: string
        required: false
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      sku:
        description: The sku of the created namespace
        type: Sku
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ResourceListKeys:
    description: Namespace/NotificationHub Connection String
    properties:
      keyName:
        description: KeyName of the created AuthorizationRule
        type: string
        required: false
      primaryConnectionString:
        description: PrimaryConnectionString of the AuthorizationRule.
        type: string
        required: false
      primaryKey:
        description: PrimaryKey of the created AuthorizationRule.
        type: string
        required: false
      secondaryConnectionString:
        description: SecondaryConnectionString of the created AuthorizationRule
        type: string
        required: false
      secondaryKey:
        description: SecondaryKey of the created AuthorizationRule
        type: string
        required: false
  SharedAccessAuthorizationRuleCreateOrUpdateParameters:
    type: Resource
  SharedAccessAuthorizationRuleListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules
        type: string
        required: false
      value:
        description: Result of the List AuthorizationRules operation.
        items:
          type: SharedAccessAuthorizationRuleResource
        type: array
        required: false
  SharedAccessAuthorizationRuleProperties:
    description: SharedAccessAuthorizationRule properties.
    properties:
      rights:
        description: The rights associated with the rule.
        items:
          enum:
            - Manage
            - Send
            - Listen
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: AccessRights
        type: array
        required: false
  SharedAccessAuthorizationRuleResource:
    type: Resource
  Sku:
    description: The Sku description for a namespace
    properties:
      capacity:
        description: The capacity of the resource
        type: integer
        required: false
      family:
        description: The Sku Family
        type: string
        required: false
      name:
        description: Name of the notification hub sku
        enum:
          - Free
          - Basic
          - Standard
        type: string
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuName
      size:
        description: The Sku size
        type: string
        required: false
      tier:
        description: The tier of particular sku
        type: string
        required: false
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
        required: false
  WnsCredential:
    description: Description of a NotificationHub WnsCredential.
    properties:
      properties:
        description: Properties of NotificationHub WnsCredential.
        type: WnsCredentialProperties
        required: false
        (oas-x-ms-client-flatten): true
  WnsCredentialProperties:
    description: Description of a NotificationHub WnsCredential.
    properties:
      packageSid:
        description: The package ID for this credential.
        type: string
        required: false
      secretKey:
        description: The secret key.
        type: string
        required: false
      windowsLiveEndpoint:
        description: The Windows Live endpoint.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
