#%RAML 1.0
title: ServerManagement
version: 2016-07-01-preview
baseUri: 'https://management.azure.com'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: REST API for Azure Server Management Service.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-servermanagement/2016-07-01-preview/swagger/servermanagement.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-servermanagement
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow.
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.ServerManagement:
            displayName: Microsoft.ServerManagement
            /nodes:
              displayName: nodes
              '/{nodeName}':
                displayName: '{nodeName}'
                uriParameters:
                  nodeName:
                    description: The node name (256 characters maximum).
                    maxLength: 256
                    minLength: 1
                    pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
                    required: true
                    type: string
                get:
                  displayName: Node_Get
                  description: Gets a management node.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NodeResource
                      description: The object exists and was deleted successfully.
                  (oas-tags):
                    - Nodes
                /sessions:
                  displayName: sessions
                  '/{session}':
                    displayName: '{session}'
                    /features:
                      displayName: features
                      /powerShellConsole:
                        displayName: powerShellConsole
                        /pssessions:
                          displayName: pssessions
                          '/{pssession}':
                            displayName: '{pssession}'
                            /tab:
                              displayName: tab
                              post:
                                displayName: PowerShell_TabCompletion
                                description: Gets tab completion values for a command.
                                is:
                                  - apiVersionParameter
                                body:
                                  application/json:
                                    type: PowerShellTabCompletionParameters
                                    (oas-body-name): PowerShellTabCompletionParamters
                                    description: Parameters supplied to the tab completion call.
                                (oas-responses-default):
                                  body:
                                    application/json:
                                      type: Error
                                  description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                                responses:
                                  '200':
                                    body:
                                      application/json:
                                        type: PowerShellTabCompletionResults
                                    description: The request was succesfully completed.
                                (oas-tags):
                                  - PowerShell
                            uriParameters:
                              session:
                                description: The sessionId from the user.
                                required: true
                                type: string
                              pssession:
                                description: The PowerShell sessionId from the user.
                                required: true
                                type: string
                            get:
                              displayName: PowerShell_GetCommandStatus
                              description: Gets the status of a command.
                              is:
                                - apiVersionParameter
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: Error
                                description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: PowerShellCommandStatus
                                  description: The operation completed successfully.
                              queryParameters:
                                $expand:
                                  description: Gets current output from an ongoing call.
                                  enum:
                                    - output
                                  required: false
                                  type: string
                              (oas-tags):
                                - PowerShell
                            /invokeCommand:
                              displayName: invokeCommand
                              post:
                                (oas-x-ms-long-running-operation): true
                                displayName: PowerShell_InvokeCommand
                                description: Creates a PowerShell script and invokes it.
                                is:
                                  - apiVersionParameter
                                body:
                                  application/json:
                                    type: PowerShellCommandParameters
                                    (oas-body-name): PowerShellCommandParameters
                                    description: Parameters supplied to the Invoke PowerShell Command operation.
                                (oas-responses-default):
                                  body:
                                    application/json:
                                      type: Error
                                  description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                                responses:
                                  '200':
                                    body:
                                      application/json:
                                        type: PowerShellCommandResults
                                    description: The operation completed successfully.
                                  '202':
                                    description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                                (oas-tags):
                                  - PowerShell
                            /cancel:
                              displayName: cancel
                              post:
                                (oas-x-ms-long-running-operation): true
                                displayName: PowerShell_CancelCommand
                                description: Cancels a PowerShell command.
                                is:
                                  - apiVersionParameter
                                (oas-responses-default):
                                  body:
                                    application/json:
                                      type: Error
                                  description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                                responses:
                                  '200':
                                    body:
                                      application/json:
                                        type: PowerShellCommandResults
                                    description: The cancellation was completed successfully.
                                  '202':
                                    description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                                (oas-tags):
                                  - PowerShell
                            put:
                              (oas-x-ms-long-running-operation): true
                              displayName: PowerShell_CreateSession
                              description: Creates a PowerShell session.
                              is:
                                - apiVersionParameter
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: Error
                                description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: PowerShellSessionResource
                                  description: The operation completed succesfully.
                                '202':
                                  description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                              (oas-tags):
                                - PowerShell
                            patch:
                              (oas-x-ms-long-running-operation): true
                              displayName: PowerShell_UpdateCommand
                              description: Updates a running PowerShell command with more data.
                              is:
                                - apiVersionParameter
                              (oas-responses-default):
                                body:
                                  application/json:
                                    type: Error
                                description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: PowerShellCommandResults
                                  description: The operation completed successfully.
                                '202':
                                  description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                              (oas-tags):
                                - PowerShell
                          uriParameters:
                            session:
                              description: The sessionId from the user.
                              required: true
                              type: string
                          get:
                            displayName: PowerShell_ListSession
                            description: Gets a list of the active sessions.
                            is:
                              - apiVersionParameter
                            (oas-responses-default):
                              body:
                                application/json:
                                  type: Error
                              description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: PowerShellSessionResources
                                description: The operation completed successfully.
                            (oas-tags):
                              - PowerShell
                    uriParameters:
                      session:
                        description: The sessionId from the user.
                        required: true
                        type: string
                    delete:
                      displayName: Session_Delete
                      description: Deletes a session for a node.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: Error
                        description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                      responses:
                        '200':
                          description: The operation completed successfully.
                        '204':
                          description: The request is well formed but the resource does not exist.
                      (oas-tags):
                        - Sessions
                    get:
                      displayName: Session_Get
                      description: Gets a session for a node.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: Error
                        description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SessionResource
                          description: The operation completed successfully.
                      (oas-tags):
                        - Sessions
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Session_Create
                      description: Creates a session for a node.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: SessionParameters
                          (oas-body-name): SessionParameters
                          description: Parameters supplied to the CreateOrUpdate operation.
                      (oas-responses-default):
                        body:
                          application/json:
                            type: Error
                        description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                      responses:
                        '200':
                          body:
                            application/json:
                              type: SessionResource
                          description: The operation completed successfully.
                        '201':
                          body:
                            application/json:
                              type: SessionResource
                          description: 'Created: the session was created.'
                        '202':
                          description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                      (oas-tags):
                        - Sessions
                patch:
                  (oas-x-ms-long-running-operation): true
                  displayName: Node_Update
                  description: Updates a management node.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NodeParameters
                      (oas-body-name): NodeParameters
                      description: Parameters supplied to the CreateOrUpdate operation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NodeResource
                      description: The operation completed successfully.
                    '202':
                      description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                  (oas-tags):
                    - Nodes
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: Node_Create
                  description: Creates or updates a management node.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: NodeParameters
                      (oas-body-name): GatewayParameters
                      description: Parameters supplied to the CreateOrUpdate operation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: NodeResource
                      description: The operation completed successfully.
                    '201':
                      body:
                        application/json:
                          type: NodeResource
                      description: The operation completed successfully.
                    '202':
                      description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                  (oas-tags):
                    - Nodes
                delete:
                  displayName: Node_Delete
                  description: deletes a management node
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      description: The object exists and was deleted successfully.
                    '204':
                      description: The request is well formed but the resource does not exist.
                  (oas-tags):
                    - Nodes
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Node_ListForResourceGroup
                description: Lists nodes in a resource group.
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: Error
                  description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: NodeResources
                    description: The operation completed successfully.
                (oas-tags):
                  - Nodes
            /gateways:
              displayName: gateways
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Gateway_ListForResourceGroup
                description: Returns gateways in a resource group.
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: Error
                  description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: GatewayResources
                    description: The operation completed successfully.
                (oas-tags):
                  - Gateways
              '/{gatewayName}':
                displayName: '{gatewayName}'
                uriParameters:
                  gatewayName:
                    description: The gateway name (256 characters maximum).
                    maxLength: 256
                    minLength: 1
                    pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
                    required: true
                    type: string
                get:
                  displayName: Gateway_Get
                  description: Gets a gateway.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: GatewayResource
                      description: The operation completed successfully.
                  queryParameters:
                    $expand:
                      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
                      enum:
                        - status
                        - download
                      required: false
                      type: string
                  (oas-tags):
                    - Gateways
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: Gateway_Create
                  description: Creates or updates a ManagementService gateway.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: GatewayParameters
                      (oas-body-name): GatewayParameters
                      description: Parameters supplied to the CreateOrUpdate operation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: GatewayResource
                      description: The operation completed successfully.
                    '201':
                      body:
                        application/json:
                          type: GatewayResource
                      description: The operation completed successfully.
                  (oas-tags):
                    - Gateways
                /regenerateprofile:
                  displayName: regenerateprofile
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: Gateway_RegenerateProfile
                    description: Regenerate a gateway's profile
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: Error
                      description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                    responses:
                      '200':
                        description: The operation completed successfully.
                      '202':
                        description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                    (oas-tags):
                      - Gateways
                patch:
                  (oas-x-ms-long-running-operation): true
                  displayName: Gateway_Update
                  description: Updates a gateway belonging to a resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: GatewayParameters
                      (oas-body-name): GatewayParameters
                      description: Parameters supplied to the Update operation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      body:
                        application/json:
                          type: GatewayResource
                      description: Update completed successfully.
                    '202':
                      description: 'Accepted: The location header contains the URL where the status of the long running operation can be checked.'
                /profile:
                  displayName: profile
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: Gateway_GetProfile
                    description: Gets a gateway profile.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: Error
                      description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                    responses:
                      '200':
                        body:
                          application/json:
                            type: GatewayProfile
                        description: The operation completed successfully.
                      '202':
                        description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                    (oas-tags):
                      - Gateways
                delete:
                  displayName: Gateway_Delete
                  description: Deletes a gateway from a resource group.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: Error
                    description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                  responses:
                    '200':
                      description: The object exists and was deleted successfully.
                    '204':
                      description: The request is well formed but the resource does not exist.
                  (oas-tags):
                    - Gateways
                /upgradetolatest:
                  displayName: upgradetolatest
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: Gateway_Upgrade
                    description: Upgrades a gateway.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: Error
                      description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
                    responses:
                      '200':
                        description: The operation completed successfully.
                      '202':
                        description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                    (oas-tags):
                      - Gateways
    /providers:
      displayName: providers
      /Microsoft.ServerManagement:
        displayName: Microsoft.ServerManagement
        /gateways:
          displayName: gateways
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: Gateway_List
            description: Returns gateways in a subscription.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: Error
              description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
            responses:
              '200':
                body:
                  application/json:
                    type: GatewayResources
                description: The operation completed successfully.
            (oas-tags):
              - Gateways
        /nodes:
          displayName: nodes
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: Node_List
            description: Lists nodes in a subscription.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: Error
              description: 'Default Response. It will be deserialized as per the error definition specified in the schema, and an exception will be thrown.'
            responses:
              '200':
                body:
                  application/json:
                    type: NodeResources
                description: The operation completed successfully.
            (oas-tags):
              - Nodes
types:
  EncryptionJwkResource:
    description: The public key of the gateway.
    properties:
      alg:
        type: string
        required: false
      e:
        type: string
        required: false
      kty:
        type: string
        required: false
      'n':
        type: string
        required: false
  Error:
    description: Error message.
    properties:
      code:
        format: int32
        type: integer
        required: false
      fields:
        type: string
        required: false
      message:
        type: string
        required: false
  GatewayParameters:
    description: Collection of parameters for operations on a gateway resource.
    properties:
      location:
        description: Location of the resource.
        type: string
        required: false
      properties:
        description: Collection of properties.
        properties:
          upgradeMode:
            description: 'The upgradeMode property gives the flexibility to gateway to auto upgrade itself. If properties value not specified, then we assume upgradeMode = Automatic.'
            enum:
              - Manual
              - Automatic
            type: string
            required: false
            (oas-x-ms-enum):
              modelAsString: false
              name: upgradeMode
        type: object
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        description: Resource tags.
        type: object
        required: false
  GatewayProfile:
    description: JSON properties that the gateway service uses know how to communicate with the resource.
    properties:
      dataPlaneServiceBaseAddress:
        description: The Dataplane connection URL.
        type: string
        required: false
      environment:
        description: 'The environment for the gateway (DEV, DogFood, or Production).'
        type: string
        required: false
      gatewayId:
        description: The ID of the gateway.
        type: string
        required: false
      messagingAccount:
        description: Messaging Account.
        type: string
        required: false
      messagingKey:
        description: Messaging Key.
        type: string
        required: false
      messagingNamespace:
        description: Messaging namespace.
        type: string
        required: false
      requestQueue:
        description: Request queue name.
        type: string
        required: false
      responseTopic:
        description: Response topic name.
        type: string
        required: false
      statusBlobSignature:
        description: The gateway status blob SAS URL.
        type: string
        required: false
      upgradeManifestUrl:
        description: Gateway upgrade manifest URL.
        type: string
        required: false
  GatewayResource:
    type: Resource
  GatewayResources:
    description: Collection of Gateway Resources.
    properties:
      nextLink:
        description: The URL to the next set of resources.
        type: string
        required: false
      value:
        description: Collection of Gateway Resources.
        items:
          type: GatewayResource
        type: array
        required: false
  GatewayStatus:
    description: Expanded gateway status information.
    properties:
      activeMessageCount:
        description: Active message count.
        type: integer
        required: false
      allowGatewayGroupPolicyStatus:
        description: Status of the allowGatewayGroupPolicy setting.
        type: boolean
        required: false
      availableMemoryMByte:
        description: The available memory on the gateway host machine in megabytes.
        type: number
        required: false
      encryptionCertificateThumbprint:
        description: Thumbprint of the encryption certificate.
        type: string
        required: false
      encryptionJwk:
        description: The encryption certificate key.
        type: EncryptionJwkResource
        required: false
      friendlyOsName:
        description: The Plaintext description of the OS on the gateway.
        type: string
        required: false
      gatewayCpuUtilizationPercent:
        description: The CPU utilization of the gateway process (numeric value between 0 and 100).
        format: float
        maximum: 100
        minimum: 0
        type: number
        required: false
      gatewayId:
        description: The gateway resource ID.
        type: string
        required: false
      gatewayVersion:
        description: The version of the gateway that is installed on the system.
        type: string
        required: false
      gatewayWorkingSetMByte:
        description: The working set size of the gateway process in megabytes.
        type: number
        required: false
      groupPolicyError:
        description: The group policy error.
        type: string
        required: false
      installedDate:
        description: The date the gateway was installed.
        format: rfc3339
        type: datetime
        required: false
      latestPublishedMsiVersion:
        description: Latest published version of the gateway install MSI.
        type: string
        required: false
      logicalProcessorCount:
        description: Number of logical processors in the gateway system.
        type: integer
        required: false
      name:
        description: The computer name of the gateway system.
        type: string
        required: false
      publishedTimeUtc:
        description: Gateway install MSI published time.
        format: rfc3339
        type: datetime
        required: false
      requireMfaGroupPolicyStatus:
        description: Status of the requireMfaGroupPolicy setting.
        type: boolean
        required: false
      secondaryEncryptionCertificateThumbprint:
        description: Secondary thumbprint of the encryption certificate.
        type: string
        required: false
      secondaryEncryptionJwk:
        description: The secondary encryption certificate key.
        type: EncryptionJwkResource
        required: false
      statusUpdated:
        description: UTC date and time when gateway status was last updated.
        format: rfc3339
        type: datetime
        required: false
      totalCpuUtilizationPercent:
        description: CPU Utilization of the whole system.
        type: number
        required: false
  NodeParameters:
    description: Parameter collection for operations on arm node resource.
    properties:
      location:
        description: Location of the resource.
        type: string
        required: false
      properties:
        description: Collection of properties.
        properties:
          connectionName:
            description: myhost.domain.com
            type: string
            required: false
          gatewayId:
            description: Gateway ID which will manage this node.
            type: string
            required: false
          password:
            description: Password associated with user name.
            format: password
            type: string
            facets:
              format: string
            required: false
          userName:
            description: User name to be used to connect to node.
            type: string
            required: false
        type: object
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        description: Resource tags.
        type: object
        required: false
  NodeResource:
    type: Resource
  NodeResources:
    description: A collection of node resource objects.
    properties:
      nextLink:
        description: The URL to the next set of resources.
        type: string
        required: false
      value:
        description: Collection of Node Resources.
        items:
          type: NodeResource
        type: array
        required: false
  PowerShellCommandParameters:
    description: The parameters to a PowerShell script execution command.
    properties:
      properties:
        description: Collection of properties.
        properties:
          command:
            description: Script to execute.
            type: string
            required: false
        type: object
        required: false
        (oas-x-ms-client-flatten): true
  PowerShellCommandResult:
    description: Results from invoking a PowerShell command.
    properties:
      backgroundColor:
        description: The HTML color string representing the background color.
        type: string
        required: false
      caption:
        description: Text that precedes the prompt.
        type: string
        required: false
      descriptions:
        description: Collection of PromptFieldDescription objects that contains the user input.
        items:
          type: PromptFieldDescription
        type: array
        required: false
      exitCode:
        description: The exit code from a executable that was called from PowerShell.
        type: integer
        required: false
      foregroundColor:
        description: The HTML color string representing the foreground color.
        type: string
        required: false
      id:
        description: ID of the prompt message.
        type: integer
        required: false
      message:
        description: Text of the prompt.
        type: string
        required: false
      messageType:
        description: The type of message.
        type: integer
        required: false
      prompt:
        description: The interactive prompt message.
        type: string
        required: false
      value:
        description: Actual result text from the PowerShell Command.
        type: string
        required: false
  PowerShellCommandResults:
    description: A collection of results from a PowerShell command.
    properties:
      command:
        type: string
        required: false
      completed:
        type: boolean
        required: false
      pssession:
        type: string
        required: false
      results:
        items:
          type: PowerShellCommandResult
        type: array
        required: false
  PowerShellCommandStatus:
    type: Resource
  PowerShellSessionResource:
    type: Resource
  PowerShellSessionResources:
    description: A collection of PowerShell session resources
    properties:
      nextLink:
        description: The URL to the next set of resources.
        type: string
        required: false
      value:
        description: Collection of PowerShell session resources.
        items:
          type: PowerShellSessionResource
        type: array
        required: false
  PowerShellTabCompletionParameters:
    description: Collection of parameters for PowerShell tab completion.
    properties:
      command:
        description: Command to get tab completion for.
        type: string
        required: false
  PowerShellTabCompletionResults:
    description: An array of strings representing the different values that can be selected through.
    properties:
      results:
        items:
          type: string
        type: array
        required: false
  PromptFieldDescription:
    description: Field description for the implementation of PSHostUserInterface.Prompt
    properties:
      helpMessage:
        description: The help message of the prompt.
        type: string
        required: false
      label:
        description: The label text of the prompt.
        type: string
        required: false
      name:
        description: The name of the prompt.
        type: string
        required: false
      promptFieldType:
        enum:
          - String
          - SecureString
          - Credential
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: PromptFieldType
      promptFieldTypeIsList:
        description: When set to 'true' the prompt field type is a list of values.
        type: boolean
        required: false
  PromptMessageResponse:
    description: The response to a prompt message.
    properties:
      response:
        description: The list of responses a cmdlet expects.
        items:
          type: string
        type: array
        required: false
  Resource:
    description: Resource Manager Resource Information.
    properties:
      etag:
        type: string
        required: false
      id:
        description: Resource Manager Resource ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource Manager Resource Location.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      name:
        description: Resource Manager Resource Name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource Manager Resource Tags.
        type: object
        required: false
      type:
        description: Resource Manager Resource Type.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  SessionParameters:
    description: Parameter collection for creation and other operations on sessions.
    properties:
      properties:
        description: Collection of properties
        properties:
          EncryptionCertificateThumbprint:
            description: Encryption certificate thumbprint.
            type: string
            required: false
          credentialDataFormat:
            description: Credential data format.
            enum:
              - RsaEncrypted
            type: string
            required: false
            (oas-x-ms-enum):
              modelAsString: false
              name: credentialDataFormat
          password:
            description: Encrypted Password associated with user name.
            type: string
            required: false
          retentionPeriod:
            description: Session retention period.
            enum:
              - Session
              - Persistent
            type: string
            required: false
            (oas-x-ms-enum):
              modelAsString: false
              name: retentionPeriod
          userName:
            description: Encrypted User name to be used to connect to node.
            type: string
            required: false
        type: object
        required: false
        (oas-x-ms-client-flatten): true
  SessionResource:
    type: Resource
  Version:
    description: A multipart-numeric version number.
    properties:
      build:
        description: The third number of the version.
        type: integer
        required: false
      major:
        description: The leftmost number of the version.
        type: integer
        required: false
      majorRevision:
        description: The MSW of the fourth part.
        type: integer
        required: false
      minor:
        description: The second leftmost number of the version.
        type: integer
        required: false
      minorRevision:
        description: The LSW of the fourth part.
        type: integer
        required: false
      revision:
        description: The fourth number of the version.
        type: integer
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client API Version.
        required: true
