#%RAML 1.0
title: InsightsManagementClient
version: '2016-03-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-insights/2016-03-01/swagger/insightsManagementClient_LogProfiles.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-insights
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /providers:
      displayName: providers
      /microsoft.insights:
        displayName: microsoft.insights
        /logprofiles:
          displayName: logprofiles
          '/{logProfileName}':
            displayName: '{logProfileName}'
            uriParameters:
              logProfileName:
                description: The name of the log profile.
                required: true
                type: string
            put:
              displayName: LogProfiles_CreateOrUpdate
              description: Create or update a log profile in Azure Monitoring REST API.
              is:
                - apiVersionParameter
              body:
                application/json:
                  type: LogProfileProperties
                  (oas-body-name): parameters
                  description: Parameters supplied to the operation.
              responses:
                '200':
                  body:
                    application/json:
                      type: LogProfileResource
                      example:
                        categories:
                          - Write
                          - Delete
                          - Action
                        locations:
                          - eastus
                          - westus
                        retentionPolicy:
                          days: 1
                          enabled: true
                        serviceBusRuleId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/myNamespace/RootManageSharedAccessKey
                        storageAccountId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/armlogs1
                  description: Successful request to create or update a log profile
              (oas-tags):
                - LogProfiles
            get:
              displayName: LogProfiles_Get
              description: Gets the log profile.
              is:
                - apiVersionParameter
              responses:
                '200':
                  body:
                    application/json:
                      type: LogProfileResource
                      example:
                        categories:
                          - Write
                          - Delete
                          - Action
                        locations:
                          - eastus
                          - westus
                        retentionPolicy:
                          days: 1
                          enabled: true
                        serviceBusRuleId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/myNamespace/RootManageSharedAccessKey
                        storageAccountId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/armlogs1
                  description: Successful request to get more information about a log profile.
              (oas-tags):
                - LogProfiles
            delete:
              displayName: LogProfiles_Delete
              description: Deletes the log profile.
              is:
                - apiVersionParameter
              responses:
                '200':
                  description: Successful request to delete a log profile
              (oas-tags):
                - LogProfiles
          get:
            (oas-x-ms-pageable): {}
            displayName: LogProfiles_List
            description: List the log profiles.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: LogProfileCollection
                description: Successful request to list log profiles
            (oas-tags):
              - LogProfiles
types:
  LogProfileCollection:
    description: Represents a collection of log profiles.
    properties:
      value:
        description: the values of the log profiles.
        items:
          type: LogProfileResource
        type: array
  LogProfileProperties:
    description: The log profile properties.
    properties:
      categories:
        description: 'the categories of the logs. These categories are created as is convenient to the user. Some values are: ''Write'', ''Delete'', and/or ''Action.'''
        items:
          type: string
        type: array
        required: false
      locations:
        description: List of regions for which Activity Log events should be stored or streamed. It is a comma separated list of valid ARM locations including the 'global' location.
        items:
          type: string
        type: array
      retentionPolicy:
        description: the retention policy for the events in the log.
        type: RetentionPolicy
        required: false
      serviceBusRuleId:
        description: 'The service bus rule ID of the service bus namespace in which you would like to have Event Hubs created for streaming the Activity Log. The rule ID is of the format: ''{service bus resource ID}/authorizationrules/{key name}''.'
        type: string
        required: false
      storageAccountId:
        description: the resource id of the storage account to which you would like to send the Activity Log.
        type: string
  LogProfileResource:
    type: Resource
  Resource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Azure resource name
        type: string
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
        required: false
      type:
        description: Azure resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  RetentionPolicy:
    description: Specifies the retention policy for the log.
    properties:
      days:
        description: the number of days for the retention in days. A value of 0 will retain the events indefinitely.
        format: int32
        type: integer
      enabled:
        description: a value indicating whether the retention policy is enabled.
        type: boolean
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
