#%RAML 1.0
title: InsightsClient
version: '2015-04-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2015-04-01/swagger/insightsClient_TenantEvents.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): azure.com
  (oas-x-serviceName): insights
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-odata: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
/providers:
  displayName: providers
  /microsoft.insights:
    displayName: microsoft.insights
    /eventtypes:
      displayName: eventtypes
      /management:
        displayName: management
        /values:
          displayName: values
          get:
            (oas-x-ms-odata): '#/definitions/EventData'
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: TenantEvents_List
            description: 'get the Activity Logs for the Tenant. Everything that is applicable to the API to get the Activity Log for the subscription is applicable to this API (the parameters, $filter, etc.). One thing to point out here is that this API does *not* retrieve the logs at the individual subscription of the tenant but only surfaces the logs that were generated at the tenant level. The **$filter** is very restricted and allows only the following patterns. - List events for a resource group: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation'' and resourceGroupName eq ''<ResourceGroupName>''. - List events for resource: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation'' and resourceUri eq ''<ResourceURI>''. - List events for a subscription: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation''. - List evetns for a resource provider: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation'' and resourceProvider eq ''<ResourceProviderName>''. - List events for a correlation Id: api-version=2014-04-01&$filter=eventTimestamp ge ''2014-07-16T04:36:37.6407898Z'' and eventTimestamp le ''2014-07-20T04:36:37.6407898Z'' and eventChannels eq ''Admin, Operation'' and correlationId eq ''<CorrelationID>''. No other syntax is allowed.'
            is:
              - apiVersionParameter
              - filterParameter
              - selectParameter
            responses:
              '200':
                body:
                  application/json:
                    type: EventDataCollection
                    example:
                      nextLink: 'https://management.azure.com/########-####-####-####-############$skiptoken=######'
                      value:
                        value:
                          - authorization:
                              action: microsoft.support/supporttickets/write
                              role: Subscription Admin
                              scope: /subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841
                            caller: admin@contoso.com
                            channels: Operation
                            claims:
                              appid: c44b4083-3bq0-49c1-b47d-974e53cbdf3c
                              appidacr: '2'
                              aud: 'https://management.core.windows.net/'
                              exp: '1421880271'
                              groups: 'cacfe77c-e058-4712-83qw-f9b08849fd60,7f71d11d-4c41-4b23-99d2-d32ce7aa621c,31522864-0578-4ea0-9gdc-e66cc564d18c'
                              'http://schemas.microsoft.com/claims/authnclassreference': '1'
                              'http://schemas.microsoft.com/claims/authnmethodsreferences': pwd
                              'http://schemas.microsoft.com/identity/claims/objectidentifier': 2468adf0-8211-44e3-95xq-85137af64708
                              'http://schemas.microsoft.com/identity/claims/scope': user_impersonation
                              'http://schemas.microsoft.com/identity/claims/tenantid': '1e8d8218-c5e7-4578-9acc-9abbd5d23315 '
                              'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname': John
                              'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name': ' admin@contoso.com'
                              'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier': 9vckmEGF7zDKk1YzIY8k0t1_EAPaXoeHyPRn6f413zM
                              'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname': Smith
                              'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn': admin@contoso.com
                              iat: '1421876371'
                              iss: 'https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/'
                              name: John Smith
                              nbf: '1421876371'
                              puid: 20030000801A118C
                              ver: '1.0'
                            correlationId: 1e121103-0ba6-4300-ac9d-952bb5d0c80f
                            description: ''
                            eventDataId: 44ade6b4-3813-45e6-ae27-7420a95fa2f8
                            eventName:
                              localizedValue: End request
                              value: EndRequest
                            eventSource:
                              localizedValue: Microsoft Resources
                              value: Microsoft.Resources
                            eventTimestamp: '2015-01-21T22:14:26.979Z'
                            httpRequest:
                              clientIpAddress: 192.168.35.115
                              clientRequestId: 27003b25-91d3-418f-8eb1-29e537dcb249
                              method: PUT
                            id: /subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841/events/44ade6b4-3813-45e6-ae27-7420a95fa2f8/ticks/635574752669792776
                            level: Informational
                            operationId: 1e121103-0ba6-4300-ac9d-952bb5d0c80f
                            operationName:
                              localizedValue: microsoft.support/supporttickets/write
                              value: microsoft.support/supporttickets/write
                            properties:
                              statusCode: Created
                            resourceGroupName: MSSupportGroup
                            resourceProviderName:
                              localizedValue: microsoft.support
                              value: microsoft.support
                            resourceUri: /subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841
                            status:
                              localizedValue: Succeeded
                              value: Succeeded
                            subStatus:
                              localizedValue: 'Created (HTTP Status Code: 201)'
                              value: Created
                            submissionTimestamp: '2015-01-21T22:14:39.993Z'
                            subscriptionId: 089bd33f-d4ec-47fe-8ba5-0753aa5c5b33
                description: Successful request to get a page of tenant events
            (oas-tags):
              - TenantEvents
types:
  EventData:
    description: The Azure event log entries are of type EventData
    properties:
      authorization:
        description: 'the authorization used by the user who has performed the operation that led to this event. This captures the RBAC properties of the event. These usually include the ''action'', ''role'' and the ''scope'''
        type: SenderAuthorization
        required: false
      caller:
        description: 'the email address of the user who has performed the operation, the UPN claim or SPN claim based on availability.'
        type: string
        required: false
      category:
        description: the event category.
        type: LocalizableString
        required: false
      channels:
        description: 'the event channels. The regular event logs, that you see in the Azure Management Portals, flow through the ''Operation'' channel.'
        enum:
          - Admin
          - Operation
          - Debug
          - Analytics
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: EventChannels
      claims:
        description: key value pairs to identify ARM permissions.
        type: object
        required: false
        properties:
          //:
            type: string
      correlationId:
        description: 'the correlation Id, usually a GUID in the string format. The correlation Id is shared among the events that belong to the same uber operation.'
        type: string
        required: false
      description:
        description: the description of the event.
        type: string
        required: false
      eventDataId:
        description: the event data Id. This is a unique identifier for an event.
        type: string
        required: false
      eventName:
        description: 'the event name. This value should not be confused with OperationName. For practical purposes, OperationName might be more appealing to end users.'
        type: LocalizableString
        required: false
      eventTimestamp:
        description: the timestamp of when the event was generated by the Azure service processing the request corresponding the event. It in ISO 8601 format.
        format: rfc3339
        type: datetime
      httpRequest:
        description: 'the HTTP request info. Usually includes the ''clientRequestId'', ''clientIpAddress'' (IP address of the user who initiated the event) and ''method'' (HTTP method e.g. PUT).'
        type: HttpRequestInfo
        required: false
      id:
        description: the Id of this event as required by ARM for RBAC. It contains the EventDataID and a timestamp information.
        type: string
        required: false
      level:
        description: the event level
        enum:
          - Critical
          - Error
          - Warning
          - Informational
          - Verbose
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: EventLevel
      operationId:
        description: It is usually a GUID shared among the events corresponding to single operation. This value should not be confused with EventName.
        type: string
        required: false
      operationName:
        description: the operation name.
        type: LocalizableString
        required: false
      properties:
        description: 'the set of <Key, Value> pairs (usually a Dictionary<String, String>) that includes details about the event.'
        type: object
        required: false
        properties:
          //:
            type: string
      resourceGroupName:
        description: the resource group name of the impacted resource.
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/azure/dn790546.aspx'
      resourceId:
        description: the resource uri that uniquely identifies the resource that caused this event.
        type: string
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx'
      resourceProviderName:
        description: the resource provider name of the impacted resource.
        type: LocalizableString
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/azure/dn790572.aspx'
      resourceType:
        description: the resource type
        type: LocalizableString
        required: false
        (oas-externalDocs):
          url: 'http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx'
      status:
        description: 'a string describing the status of the operation. Some typical values are: Started, In progress, Succeeded, Failed, Resolved.'
        type: LocalizableString
        required: false
      subStatus:
        description: 'the event sub status. Most of the time, when included, this captures the HTTP status code of the REST call. Common values are: OK (HTTP Status Code: 200), Created (HTTP Status Code: 201), Accepted (HTTP Status Code: 202), No Content (HTTP Status Code: 204), Bad Request(HTTP Status Code: 400), Not Found (HTTP Status Code: 404), Conflict (HTTP Status Code: 409), Internal Server Error (HTTP Status Code: 500), Service Unavailable (HTTP Status Code:503), Gateway Timeout (HTTP Status Code: 504)'
        type: LocalizableString
        required: false
      submissionTimestamp:
        description: 'the timestamp of when the event became available for querying via this API. It is in ISO 8601 format. This value should not be confused eventTimestamp. As there might be a delay between the occurence time of the event, and the time that the event is submitted to the Azure logging infrastructure.'
        format: rfc3339
        type: datetime
      subscriptionId:
        description: the Azure subscription Id usually a GUID.
        type: string
        required: false
      tenantId:
        description: the Azure tenant Id
        type: string
        required: false
  EventDataCollection:
    description: Represents collection of events.
    properties:
      nextLink:
        description: Provides the link to retrive the next set of events.
        type: string
        required: false
      value:
        description: this list that includes the Azure audit logs.
        items:
          type: EventData
        type: array
  HttpRequestInfo:
    description: The Http request info.
    properties:
      clientIpAddress:
        description: the client Ip Address
        type: string
        required: false
      clientRequestId:
        description: the client request id.
        type: string
        required: false
      method:
        description: the Http request method.
        type: string
        required: false
      uri:
        description: the Uri.
        type: string
        required: false
  LocalizableString:
    description: The localizable string class.
    properties:
      localizedValue:
        description: the locale specific value.
        type: string
        required: false
      value:
        description: the invariant value.
        type: string
  SenderAuthorization:
    description: The RBAC properties of the event.
    properties:
      action:
        description: 'the permissible actions. For instance: microsoft.support/supporttickets/write'
        type: string
        required: false
      role:
        description: 'the role of the user. For instance: Subscription Admin'
        type: string
        required: false
      scope:
        description: the scope.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
  filterParameter:
    queryParameters:
      $filter:
        type: string
        description: Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.
        required: false
  selectParameter:
    queryParameters:
      $select:
        type: string
        description: 'Used to fetch events with only the given properties. The filter is a comma separated list of property names to be returned. Possible values are: authorization, channels, claims, correlationId, description, eventDataId, eventName, eventTimestamp, httpRequest, level, operationId, operationName, properties, resourceGroupName, resourceProviderName, resourceId, status, submissionTimestamp, subStatus, subscriptionId'
        required: false
