#%RAML 1.0
title: CdnManagementClient
version: '2016-10-02'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
    - hosting
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-cdn/2016-10-02/swagger/cdn.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-cdn
  (oas-x-tags):
    - Azure
    - Microsoft
    - CDN
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow.
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Cdn:
            displayName: Microsoft.Cdn
            /profiles:
              displayName: profiles
              '/{profileName}':
                displayName: '{profileName}'
                /endpoints:
                  displayName: endpoints
                  '/{endpointName}':
                    displayName: '{endpointName}'
                    /customDomains:
                      displayName: customDomains
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: CustomDomains_ListByEndpoint
                        description: Lists the existing CDN custom domains within an endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: CustomDomainListResult
                            description: OK. The request has succeeded.
                        (oas-tags):
                          - CustomDomains
                      '/{customDomainName}':
                        displayName: '{customDomainName}'
                        uriParameters:
                          customDomainName:
                            description: Name of the custom domain within an endpoint.
                            required: true
                            type: string
                            displayName: Name of the custom domain within an endpoint.
                        delete:
                          (oas-x-ms-long-running-operation): true
                          displayName: CustomDomains_Delete
                          description: Deletes an existing CDN custom domain within an endpoint.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              description: OK. The request has succeeded.
                            '202':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: Accepted and the operation will complete asynchronously.
                            '204':
                              description: No Content.
                          (oas-tags):
                            - CustomDomains
                        get:
                          displayName: CustomDomains_Get
                          description: Gets an existing CDN custom domain within an endpoint.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: OK. The request has succeeded.
                          (oas-tags):
                            - CustomDomains
                        put:
                          (oas-x-ms-long-running-operation): true
                          displayName: CustomDomains_Create
                          description: Creates a new CDN custom domain within an endpoint.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: CustomDomainParameters
                              (oas-body-name): customDomainProperties
                              description: Custom domain properties required for creation.
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: OK. The request has succeeded.
                            '201':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: Created. The request has been fulfilled and a new custom domain has been created.
                            '202':
                              body:
                                application/json:
                                  type: CustomDomain
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - CustomDomains
                    /load:
                      displayName: load
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_LoadContent
                        description: Forcibly pre-loads CDN endpoint content. Available for Verizon Profiles.
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: LoadParameters
                            (oas-body-name): contentFilePaths
                            description: The path to the content to be loaded. Path should describe a file.
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    /origins:
                      displayName: origins
                      get:
                        (oas-x-ms-pageable):
                          nextLinkName: nextLink
                        displayName: Origins_ListByEndpoint
                        description: Lists the existing CDN origins within an endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: OriginListResult
                            description: OK. The request has succeeded.
                        (oas-tags):
                          - Origins
                      '/{originName}':
                        displayName: '{originName}'
                        uriParameters:
                          originName:
                            description: Name of the origin which is unique within the endpoint.
                            required: true
                            type: string
                            displayName: Name of the origin which is unique within the endpoint.
                        get:
                          displayName: Origins_Get
                          description: Gets an existing CDN origin within an endpoint.
                          is:
                            - apiVersionParameter
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Origin
                              description: OK. The request has succeeded.
                          (oas-tags):
                            - Origins
                        patch:
                          (oas-x-ms-long-running-operation): true
                          displayName: Origins_Update
                          description: Updates an existing CDN origin within an endpoint.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: OriginUpdateParameters
                              (oas-body-name): originUpdateProperties
                              description: Origin properties
                          (oas-responses-default):
                            body:
                              application/json:
                                type: ErrorResponse
                            description: CDN error response describing why the operation failed.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Origin
                              description: OK. The request has succeeded.
                            '202':
                              body:
                                application/json:
                                  type: Origin
                              description: Accepted and the operation will complete asynchronously.
                          (oas-tags):
                            - Origins
                    uriParameters:
                      endpointName:
                        description: Name of the endpoint under the profile which is unique globally.
                        required: true
                        type: string
                        displayName: Name of the endpoint under the profile which is unique globally.
                    get:
                      displayName: Endpoints_Get
                      description: 'Gets an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.'
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: OK. The request has succeeded.
                      (oas-tags):
                        - Endpoints
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Endpoints_Create
                      description: Creates a new CDN endpoint with the specified parameters.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Endpoint
                          (oas-body-name): endpoint
                          description: Endpoint properties
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: OK. The request has succeeded.
                        '201':
                          body:
                            application/json:
                              type: Endpoint
                          description: Created. The request has been fulfilled and a new endpoint has been created.
                        '202':
                          body:
                            application/json:
                              type: Endpoint
                          description: Accepted and the operation will complete asynchronously.
                      (oas-tags):
                        - Endpoints
                    /validateCustomDomain:
                      displayName: validateCustomDomain
                      post:
                        displayName: Endpoints_ValidateCustomDomain
                        description: Validates a custom domain mapping to ensure it maps to the correct CNAME in DNS.
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: ValidateCustomDomainInput
                            (oas-body-name): customDomainProperties
                            description: Custom domain to validate.
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ValidateCustomDomainOutput
                            description: OK. The request has succeeded.
                        (oas-tags):
                          - Endpoints
                    /stop:
                      displayName: stop
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_Stop
                        description: Stops an existing running CDN endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            body:
                              application/json:
                                type: Endpoint
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    /start:
                      displayName: start
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_Start
                        description: Starts an existing stopped CDN endpoint.
                        is:
                          - apiVersionParameter
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            body:
                              application/json:
                                type: Endpoint
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    /purge:
                      displayName: purge
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Endpoints_PurgeContent
                        description: Forcibly purges CDN endpoint content.
                        is:
                          - apiVersionParameter
                        body:
                          application/json:
                            type: PurgeParameters
                            (oas-body-name): contentFilePaths
                            description: The path to the content to be purged. Path can describe a file or directory using the wildcard. e.g. '/my/directory/*' or '/my/file.exe/'
                        (oas-responses-default):
                          body:
                            application/json:
                              type: ErrorResponse
                          description: CDN error response describing why the operation failed.
                        responses:
                          '202':
                            description: Accepted and the operation will complete asynchronously.
                        (oas-tags):
                          - Endpoints
                    patch:
                      (oas-x-ms-long-running-operation): true
                      displayName: Endpoints_Update
                      description: 'Updates an existing CDN endpoint with the specified parameters. Only tags and OriginHostHeader can be updated after creating an endpoint. To update origins, use the Update Origin operation. To update custom domains, use the Update Custom Domain operation.'
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: EndpointUpdateParameters
                          (oas-body-name): endpointUpdateProperties
                          description: Endpoint update properties
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Endpoint
                          description: OK. The request has succeeded.
                        '202':
                          body:
                            application/json:
                              type: Endpoint
                          description: Accepted and  the operation will complete asynchronously
                      (oas-tags):
                        - Endpoints
                    delete:
                      (oas-x-ms-long-running-operation): true
                      displayName: Endpoints_Delete
                      description: Deletes an existing CDN endpoint with the specified parameters.
                      is:
                        - apiVersionParameter
                      (oas-responses-default):
                        body:
                          application/json:
                            type: ErrorResponse
                        description: CDN error response describing why the operation failed.
                      responses:
                        '202':
                          description: Accepted.
                        '204':
                          description: No Content.
                      (oas-tags):
                        - Endpoints
                  get:
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Endpoints_ListByProfile
                    description: Lists existing CDN endpoints.
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: CDN error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EndpointListResult
                        description: OK. The request has succeeded.
                    (oas-tags):
                      - Endpoints
                /generateSsoUri:
                  displayName: generateSsoUri
                  post:
                    displayName: Profiles_GenerateSsoUri
                    description: 'Generates a dynamic SSO URI used to sign in to the CDN supplemental portal. Supplemnetal portal is used to configure advanced feature capabilities that are not yet available in the Azure portal, such as core reports in a standard profile; rules engine, advanced HTTP reports, and real-time stats and alerts in a premium profile. The SSO URI changes approximately every 10 minutes.'
                    is:
                      - apiVersionParameter
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: CDN error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: SsoUri
                        description: OK. The request has succeeded.
                    (oas-tags):
                      - Profiles
                uriParameters:
                  profileName:
                    description: Name of the CDN profile which is unique within the resource group.
                    required: true
                    type: string
                    displayName: Name of the CDN profile which is unique within the resource group.
                delete:
                  (oas-x-ms-long-running-operation): true
                  displayName: Profiles_Delete
                  description: 'Deletes an existing CDN profile with the specified parameters. Deleting a profile will result in the deletion of all subresources including endpoints, origins and custom domains.'
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '202':
                      description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
                    '204':
                      description: No Content. The request has been accepted but the profile was not found.
                  (oas-tags):
                    - Profiles
                patch:
                  (oas-x-ms-long-running-operation): true
                  displayName: Profiles_Update
                  description: Updates an existing CDN profile with the specified profile name under the specified subscription and resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ProfileUpdateParameters
                      (oas-body-name): profileUpdateParameters
                      description: Profile properties needed to update an existing profile.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: OK. The request has succeeded.
                    '202':
                      body:
                        application/json:
                          type: Profile
                      description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
                  (oas-tags):
                    - Profiles
                get:
                  displayName: Profiles_Get
                  description: Gets a CDN profile with the specified profile name under the specified subscription and resource group.
                  is:
                    - apiVersionParameter
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: OK. The request has succeeded.
                  (oas-tags):
                    - Profiles
                put:
                  (oas-x-ms-long-running-operation): true
                  displayName: Profiles_Create
                  description: Creates a new CDN profile with a profile name under the specified subscription and resource group.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: Profile
                      (oas-body-name): profile
                      description: Profile properties needed to create a new profile.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: CDN error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Profile
                      description: OK. The request has succeeded.
                    '201':
                      body:
                        application/json:
                          type: Profile
                      description: Created. The request has been fulfilled and a new profile has been created.
                    '202':
                      body:
                        application/json:
                          type: Profile
                      description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
                  (oas-tags):
                    - Profiles
              get:
                (oas-x-ms-pageable):
                  nextLinkName: nextLink
                displayName: Profiles_ListByResourceGroup
                description: Lists all the CDN profiles within a resource group.
                is:
                  - apiVersionParameter
                (oas-responses-default):
                  body:
                    application/json:
                      type: ErrorResponse
                  description: CDN error response describing why the operation failed.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ProfileListResult
                    description: OK. The request has succeeded.
                (oas-tags):
                  - Profiles
    /providers:
      displayName: providers
      /Microsoft.Cdn:
        displayName: Microsoft.Cdn
        /profiles:
          displayName: profiles
          get:
            (oas-x-ms-pageable):
              nextLinkName: nextLink
            displayName: Profiles_List
            description: Lists all the CDN profiles within an Azure subscription.
            is:
              - apiVersionParameter
            (oas-responses-default):
              body:
                application/json:
                  type: ErrorResponse
              description: CDN error response describing why the operation failed.
            responses:
              '200':
                body:
                  application/json:
                    type: ProfileListResult
                description: OK. The request has succeeded.
            (oas-tags):
              - Profiles
/providers:
  displayName: providers
  /Microsoft.Cdn:
    displayName: Microsoft.Cdn
    /checkNameAvailability:
      displayName: checkNameAvailability
      post:
        displayName: CheckNameAvailability
        description: 'Check the availability of a resource name without creating the resource. This is needed for resources where name is globally unique, such as a CDN endpoint.'
        is:
          - apiVersionParameter
        body:
          application/json:
            type: CheckNameAvailabilityInput
            (oas-body-name): checkNameAvailabilityInput
            description: Input to check.
        (oas-responses-default):
          body:
            application/json:
              type: ErrorResponse
          description: CDN error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: CheckNameAvailabilityOutput
            description: OK. The request has succeeded.
        (oas-tags):
          - CheckNameAvailability
    /operations:
      displayName: operations
      get:
        (oas-x-ms-pageable):
          nextLinkName: nextLink
        displayName: ListOperations
        description: Lists all of the available CDN REST API operations.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: ErrorResponse
          description: CDN error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: OperationListResult
            description: OK. The request has succeeded.
        (oas-tags):
          - Operations
types:
  CheckNameAvailabilityInput:
    description: Input of CheckNameAvailability API.
    properties:
      name:
        description: The resource name to validate.
        type: string
      type:
        description: The type of the resource whose name is to be validated.
        type: ResourceType
  CheckNameAvailabilityOutput:
    description: Output of check name availability API.
    properties:
      message:
        description: The detailed error message describing why the name is not available.
        type: string
        required: false
      nameAvailable:
        description: Indicates whether the name is available.
        type: boolean
        required: false
      reason:
        description: The reason why the name is not available.
        type: string
        required: false
  CustomDomain:
    type: Resource
  CustomDomainListResult:
    description: Result of the request to list custom domains. It contains a list of custom domain objects and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of custom domain objects if there are any.
        type: string
        required: false
      value:
        description: List of CDN CustomDomains within an endpoint.
        items:
          type: CustomDomain
        type: array
        required: false
  CustomDomainParameters:
    description: The customDomain JSON object required for custom domain creation or update.
    properties:
      properties:
        type: CustomDomainPropertiesParameters
        required: false
        (oas-x-ms-client-flatten): true
  CustomDomainProperties:
    description: The JSON object that contains the properties of the custom domain to create.
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
      provisioningState:
        description: Provisioning status of the custom domain.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      resourceState:
        description: Resource status of the custom domain.
        enum:
          - Creating
          - Active
          - Deleting
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: CustomDomainResourceState
      validationData:
        description: Special validation or data may be required when delivering CDN to some regions due to local compliance reasons. (e.g. ICP license number of a custom domain is required to deliver content in China.)
        type: string
        required: false
  CustomDomainPropertiesParameters:
    description: The JSON object that contains the properties of the custom domain to create.
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
  DeepCreatedOrigin:
    description: Origins to be added when creating a CDN endpoint.
    properties:
      name:
        description: Origin name
        type: string
      properties:
        type: DeepCreatedOriginProperties
        required: false
        (oas-x-ms-client-flatten): true
  DeepCreatedOriginProperties:
    description: Properties of origins Properties of the origin created on the CDN endpoint.
    properties:
      hostName:
        description: 'The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.'
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
        facets:
          exclusiveMaximum: boolean
          exclusiveMinimum: boolean
        required: false
      httpsPort:
        description: The value of the HTTPS port. Must be between 1 and 65535
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
        facets:
          exclusiveMaximum: boolean
          exclusiveMinimum: boolean
        required: false
  Endpoint:
    type: Resource
  EndpointListResult:
    description: Result of the request to list endpoints. It contains a list of endpoint objects and a URL link to get the the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of endpoint objects if there are any.
        type: string
        required: false
      value:
        description: List of CDN endpoints within a profile
        items:
          type: Endpoint
        type: array
        required: false
  EndpointProperties:
    type: EndpointPropertiesUpdateParameters
  EndpointPropertiesUpdateParameters:
    description: Result of the request to list endpoints. It contains a list of endpoints and a URL link to get the next set of results.
    properties:
      contentTypesToCompress:
        description: List of content types on which compression will be applied. The value for the elements should be a valid MIME type.
        items:
          type: string
        type: array
        required: false
      geoFilters:
        description: The list of geo filters for the CDN endpoint.
        items:
          type: GeoFilter
        type: array
        required: false
      isCompressionEnabled:
        description: 'Indicates whether content compression is enabled. The default value is false. If compression is enabled, the content transferred from the CDN endpoint to the end user will be compressed. The requested content must be larger than 1 byte and smaller than 1 MB.'
        type: boolean
        required: false
      isHttpAllowed:
        description: Indicates whether HTTP traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      isHttpsAllowed:
        description: Indicates whether HTTPS traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
        required: false
      optimizationType:
        description: 'Customer can specify what scenario they want this CDN endpoint to optimize. (e.g. Download, Media services, and etc.) With this information we can apply scenario driven optimization.'
        type: string
        required: false
      originHostHeader:
        description: The host header the CDN provider will send along with content requests to origins. The default value is the host name of the origin.
        type: string
        required: false
      originPath:
        description: The path used for origin requests.
        type: string
        required: false
      queryStringCachingBehavior:
        description: Defines the query string caching behavior
        type: QueryStringCachingBehavior
        required: false
  EndpointUpdateParameters:
    description: Endpoint properties required for new endpoint creation.
    properties:
      properties:
        type: EndpointPropertiesUpdateParameters
        required: false
        (oas-x-ms-client-flatten): true
      tags:
        additionalProperties:
          type: string
        description: Endpoint tags.
        type: object
        required: false
  ErrorResponse:
    description: Error reponse indicates CDN service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      code:
        description: Error code.
        type: string
        required: false
      message:
        description: Error message indicating why the operation failed.
        type: string
        required: false
  GeoFilter:
    description: Geo filter of a CDN endpoint.
    properties:
      action:
        description: Action of the geo filter.
        enum:
          - Block
          - Allow
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: GeoFilterActions
      countryCodes:
        description: 'Two letter country codes of the geo filter. (e.g. AU, MX, and etc.)'
        items:
          type: string
        type: array
      relativePath:
        description: 'Relative path applicable to geo filter. (e.g. ''/mypictures'', ''/mypicture/kitty.jpg'', and etc.)'
        type: string
  LoadParameters:
    description: Parameters required for endpoint load.
    properties:
      contentPaths:
        description: The path to the content to be loaded. Should describe a file path.
        items:
          type: string
        type: array
  Operation:
    description: CDN REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: 'Operation type: Read, write, delete, etc.'
            type: string
            required: false
          provider:
            description: 'Service provider: Microsoft.Cdn'
            type: string
            required: false
          resource:
            description: 'Resource on which the operation is performed: Profile, endpoint, etc.'
            type: string
            required: false
        required: false
      name:
        description: 'Operation name: {provider}/{resource}/{operation}'
        type: string
        required: false
  OperationListResult:
    description: Result of the request to list CDN operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
        required: false
      value:
        description: List of CDN operations supported by the CDN resource provider.
        items:
          type: Operation
        type: array
        required: false
  Origin:
    type: Resource
  OriginListResult:
    description: Result of the request to list origins. It contains a list of origin objects and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of origin objects if there are any.
        type: string
        required: false
      value:
        description: List of CDN origins within an endpoint
        items:
          type: Origin
        type: array
        required: false
  OriginProperties:
    description: The JSON object that contains the properties of the origin to create.
    properties:
      hostName:
        description: 'The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.'
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
        facets:
          exclusiveMaximum: boolean
          exclusiveMinimum: boolean
        required: false
      httpsPort:
        description: The value of the https port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
        facets:
          exclusiveMaximum: boolean
          exclusiveMinimum: boolean
        required: false
      provisioningState:
        description: Provisioning status of the origin.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      resourceState:
        description: Resource status of the origin.
        enum:
          - Creating
          - Active
          - Deleting
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: OriginResourceState
  OriginPropertiesParameters:
    description: The JSON object that contains the properties of the origin to create.
    properties:
      hostName:
        description: 'The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.'
        type: string
        required: false
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
        facets:
          exclusiveMaximum: boolean
          exclusiveMinimum: boolean
        required: false
      httpsPort:
        description: The value of the HTTPS port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
        facets:
          exclusiveMaximum: boolean
          exclusiveMinimum: boolean
        required: false
  OriginUpdateParameters:
    description: Origin properties needed for origin creation or update.
    properties:
      properties:
        type: OriginPropertiesParameters
        required: false
        (oas-x-ms-client-flatten): true
  Profile:
    type: Resource
  ProfileListResult:
    description: Result of the request to list profiles. It contains a list of profile objects and a URL link to get the the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of profile objects if there are any.
        type: string
        required: false
      value:
        description: List of CDN profiles within a resource group.
        items:
          type: Profile
        type: array
        required: false
  ProfileProperties:
    description: The JSON object that contains the properties of the profile to create.
    properties:
      provisioningState:
        description: Provisioning status of the profile.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      resourceState:
        description: Resource status of the profile.
        enum:
          - Creating
          - Active
          - Deleting
          - Disabled
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ProfileResourceState
  ProfileUpdateParameters:
    description: Profile properties required for profile update.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Profile tags
        type: object
  PurgeParameters:
    description: Parameters required for endpoint purge.
    properties:
      contentPaths:
        description: The path to the content to be purged. Can describe a file path or a wild card directory.
        items:
          type: string
        type: array
  QueryStringCachingBehavior:
    description: Defines the query string caching behavior.
    enum:
      - IgnoreQueryString
      - BypassCaching
      - UseQueryString
      - NotSet
    type: string
  Resource:
    description: The Resource definition.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        required: false
      type:
        description: Resource type.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ResourceType:
    description: Type of CDN resource used in CheckNameAvailability.
    enum:
      - Microsoft.Cdn/Profiles/Endpoints
    type: string
  Sku:
    description: The SKU (pricing tier) of the CDN profile.
    properties:
      name:
        description: Name of the pricing tier.
        enum:
          - Standard_Verizon
          - Premium_Verizon
          - Custom_Verizon
          - Standard_Akamai
          - Standard_ChinaCdn
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: SkuName
  SsoUri:
    description: SSO URI required to login to third party web portal.
    properties:
      ssoUriValue:
        description: The URI used to login to third party web portal.
        type: string
        required: false
  ValidateCustomDomainInput:
    description: Input of the custom domain to be validated.
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
  ValidateCustomDomainOutput:
    description: Output of custom domain validation.
    properties:
      customDomainValidated:
        description: Indicates whether the custom domain is validated or not.
        type: boolean
        required: false
      message:
        description: The message describing why the custom domain is not valid.
        type: string
        required: false
      reason:
        description: The reason why the custom domain is not valid.
        type: string
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Version of the API to be used with the client request. Current version is 2016-10-02.
        required: true
