#%RAML 1.0
title: Azure SQL Database API spec
version: '2014-04-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: 'Provides create, read, update and delete functionality for Azure SQL resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.'
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-sql/2014-04-01/swagger/sql.core.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-sql
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-pageable: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.Sql:
            displayName: Microsoft.Sql
            /servers:
              displayName: servers
              '/{serverName}':
                displayName: '{serverName}'
                /databases:
                  displayName: databases
                  '/{databaseName}':
                    displayName: '{databaseName}'
                    /usages:
                      displayName: usages
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: Databases_ListUsages
                        description: Returns information about Azure SQL database usages.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: DatabaseMetricListResult
                            description: OK
                        (oas-tags):
                          - Databases
                    uriParameters:
                      databaseName:
                        description: The name of the Azure SQL database to be retrieved.
                        required: true
                        type: string
                    delete:
                      displayName: Databases_Delete
                      description: Deletes an Azure SQL database.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: OK
                        '204':
                          description: NoContent
                      (oas-tags):
                        - Databases
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: Databases_CreateOrUpdate
                      description: 'Creates a new Azure SQL database or updates an existing Azure SQL database. Location is a required property in the request body, and it must be the same as the location of the SQL server.'
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: Database
                          (oas-body-name): parameters
                          description: The required parameters for creating or updating a database.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Database
                          description: OK
                        '201':
                          body:
                            application/json:
                              type: Database
                          description: Created
                        '202':
                          body:
                            application/json:
                              type: Database
                          description: Accepted
                      (oas-tags):
                        - Databases
                    /restorePoints:
                      displayName: restorePoints
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: Databases_ListRestorePoints
                        description: Returns a list of Azure SQL database restore points.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: RestorePointListResult
                            description: OK
                        (oas-tags):
                          - DatabaseBackup
                    /serviceTierAdvisors:
                      displayName: serviceTierAdvisors
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: Databases_ListServiceTierAdvisors
                        description: Returns information about service tier advisors for specified database.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ServiceTierAdvisorListResult
                            description: OK
                        (oas-tags):
                          - ServiceTierAdvisors
                      '/{serviceTierAdvisorName}':
                        displayName: '{serviceTierAdvisorName}'
                        uriParameters:
                          serviceTierAdvisorName:
                            description: The name of service tier advisor.
                            required: true
                            type: string
                        get:
                          displayName: Databases_GetServiceTierAdvisor
                          description: Gets information about a service tier advisor.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ServiceTierAdvisor
                              description: OK
                          (oas-tags):
                            - ServiceTierAdvisors
                    /transparentDataEncryption:
                      displayName: transparentDataEncryption
                      /current:
                        displayName: current
                        get:
                          displayName: Databases_GetTransparentDataEncryptionConfiguration
                          description: Gets an Azure SQL Database Transparent Data Encryption Response.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: TransparentDataEncryption
                              description: OK
                          (oas-tags):
                            - TransparentDataEncryption
                        /operationResults:
                          displayName: operationResults
                          get:
                            (oas-x-ms-pageable): {}
                            displayName: Databases_ListTransparentDataEncryptionActivity
                            description: Returns an Azure SQL Database Transparent Data Encryption Activity Response.
                            is:
                              - apiVersionParameter
                            responses:
                              '200':
                                body:
                                  application/json:
                                    type: TransparentDataEncryptionActivityListResult
                                description: OK
                            (oas-tags):
                              - TransparentDataEncryption
                        put:
                          displayName: Databases_CreateOrUpdateTransparentDataEncryptionConfiguration
                          description: Creates or updates an Azure SQL Database Transparent Data Encryption Operation.
                          is:
                            - apiVersionParameter
                          body:
                            application/json:
                              type: TransparentDataEncryption
                              (oas-body-name): parameters
                              description: The required parameters for creating or updating transparent data encryption.
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: TransparentDataEncryption
                              description: OK
                            '201':
                              body:
                                application/json:
                                  type: TransparentDataEncryption
                              description: Created
                          (oas-tags):
                            - TransparentDataEncryption
                    get:
                      displayName: Databases_Get
                      description: Gets information about an Azure SQL database.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: Database
                          description: OK
                      queryParameters:
                        $expand:
                          description: 'The comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, upgradeHint, transparentDataEncryption.'
                          required: false
                          type: string
                      (oas-tags):
                        - Databases
                    /resume:
                      displayName: resume
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Databases_ResumeDataWarehouse
                        description: Resume an Azure SQL Data Warehouse database.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            description: OK
                          '202':
                            description: Accepted
                        (oas-tags):
                          - DatabaseActivation
                    /pause:
                      displayName: pause
                      post:
                        (oas-x-ms-long-running-operation): true
                        displayName: Databases_PauseDataWarehouse
                        description: Pause an Azure SQL Data Warehouse database.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            description: OK
                          '202':
                            description: Accepted
                        (oas-tags):
                          - DatabaseActivation
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: Databases_ListByServer
                    description: Returns information about an Azure SQL database.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: DatabaseListResult
                        description: OK
                    (oas-tags):
                      - Databases
                /usages:
                  displayName: usages
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: Servers_ListUsages
                    description: Returns information about Azure SQL server usage.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ServerMetricListResult
                        description: OK
                    (oas-tags):
                      - Servers
                /elasticPools:
                  displayName: elasticPools
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: ElasticPools_ListByServer
                    description: Returns information about Azure SQL elastic pools.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ElasticPoolListResult
                        description: OK
                    (oas-tags):
                      - ElasticPools
                  '/{elasticPoolName}':
                    displayName: '{elasticPoolName}'
                    uriParameters:
                      elasticPoolName:
                        description: The name of the Azure SQL Elastic Pool to be operated on (Updated or created).
                        required: true
                        type: string
                    delete:
                      displayName: ElasticPools_Delete
                      description: Deletes the Azure SQL elastic pool.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          description: OK
                        '204':
                          description: Accepted
                      (oas-tags):
                        - ElasticPools
                    get:
                      displayName: ElasticPools_Get
                      description: Gets information about an Azure SQL elastic pool.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ElasticPool
                          description: OK
                      (oas-tags):
                        - ElasticPools
                    put:
                      (oas-x-ms-long-running-operation): true
                      displayName: ElasticPools_CreateOrUpdate
                      description: Creates a new Azure SQL elastic pool or updates an existing Azure SQL elastic pool.
                      is:
                        - apiVersionParameter
                      body:
                        application/json:
                          type: ElasticPool
                          (oas-body-name): parameters
                          description: The required parameters for creating or updating an Elastic Pool.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ElasticPool
                          description: OK
                        '201':
                          body:
                            application/json:
                              type: ElasticPool
                          description: Created
                        '202':
                          body:
                            application/json:
                              type: ElasticPool
                          description: Accepted
                      (oas-tags):
                        - ElasticPools
                    /databases:
                      displayName: databases
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: ElasticPools_ListDatabases
                        description: Returns information about an Azure SQL database inside of an Azure SQL elastic pool.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: DatabaseListResult
                            description: OK
                        (oas-tags):
                          - ElasticPools
                      '/{databaseName}':
                        displayName: '{databaseName}'
                        uriParameters:
                          databaseName:
                            description: The name of the Azure SQL database to be retrieved.
                            required: true
                            type: string
                        get:
                          displayName: ElasticPools_GetDatabase
                          description: Gets information about an Azure SQL database inside of an Azure SQL elastic pool.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Database
                              description: OK
                          (oas-tags):
                            - ElasticPools
                    /elasticPoolActivity:
                      displayName: elasticPoolActivity
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: ElasticPools_ListActivity
                        description: Returns information about Azure SQL elastic pool activities.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ElasticPoolActivityListResult
                            description: OK
                        (oas-tags):
                          - ElasticPools
                    /elasticPoolDatabaseActivity:
                      displayName: elasticPoolDatabaseActivity
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: ElasticPools_ListDatabaseActivity
                        description: Returns information about activity on Azure SQL databases inside of an Azure SQL elastic pool.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: ElasticPoolDatabaseActivityListResult
                            description: OK
                        (oas-tags):
                          - ElasticPools
                uriParameters:
                  serverName:
                    description: The name of the Azure SQL server.
                    required: true
                    type: string
                delete:
                  displayName: Servers_Delete
                  description: Deletes a SQL server.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: OK
                    '204':
                      description: Accepted
                  (oas-tags):
                    - Servers
                put:
                  displayName: Servers_CreateOrUpdate
                  description: Creates a new Azure SQL server.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: Server
                      (oas-body-name): parameters
                      description: The required parameters for creating or updating a server.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Server
                      description: OK
                    '201':
                      body:
                        application/json:
                          type: Server
                      description: Created
                  (oas-tags):
                    - Servers
                /recommendedElasticPools:
                  displayName: recommendedElasticPools
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: RecommendedElasticPools_List
                    description: Returns information about Azure SQL Recommended Elastic Pools.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: RecommendedElasticPoolListResult
                        description: OK
                    (oas-tags):
                      - RecommendedElasticPools
                  '/{recommendedElasticPoolName}':
                    displayName: '{recommendedElasticPoolName}'
                    uriParameters:
                      recommendedElasticPoolName:
                        description: The name of the Azure SQL Recommended Elastic Pool to be retrieved.
                        required: true
                        type: string
                    get:
                      displayName: RecommendedElasticPools_Get
                      description: Gets information about an Azure SQL Recommended Elastic Pool.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: RecommendedElasticPool
                          description: OK
                      (oas-tags):
                        - RecommendedElasticPools
                    /databases:
                      displayName: databases
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: RecommendedElasticPools_ListDatabases
                        description: Returns information about an Azure SQL database inside of an Azure SQL Recommended Elastic Pool.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: DatabaseListResult
                            description: OK
                        (oas-tags):
                          - RecommendedElasticPools
                      '/{databaseName}':
                        displayName: '{databaseName}'
                        uriParameters:
                          databaseName:
                            description: The name of the Azure SQL database to be retrieved.
                            required: true
                            type: string
                        get:
                          displayName: RecommendedElasticPools_GetDatabases
                          description: Gets information about an Azure SQL database inside of an Azure SQL Recommended Elastic Pool.
                          is:
                            - apiVersionParameter
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: Database
                              description: OK
                          (oas-tags):
                            - RecommendedElasticPools
                    /metrics:
                      displayName: metrics
                      get:
                        (oas-x-ms-pageable): {}
                        displayName: RecommendedElasticPools_ListMetrics
                        description: Returns information about an recommended elastic pool metrics.
                        is:
                          - apiVersionParameter
                        responses:
                          '200':
                            body:
                              application/json:
                                type: RecommendedElasticPoolListMetricsResult
                            description: OK
                        (oas-tags):
                          - RecommendedElasticPools
                get:
                  displayName: Servers_GetByResourceGroup
                  description: Gets information about an Azure SQL server.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Server
                      description: OK
                  (oas-tags):
                    - Servers
                /serviceObjectives:
                  displayName: serviceObjectives
                  '/{serviceObjectiveName}':
                    displayName: '{serviceObjectiveName}'
                    uriParameters:
                      serviceObjectiveName:
                        description: The name of the service objective to retrieve.
                        required: true
                        type: string
                    get:
                      displayName: Servers_GetServiceObjective
                      description: Gets information about an Azure SQL database Service Objective.
                      is:
                        - apiVersionParameter
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ServiceObjective
                          description: OK
                      (oas-tags):
                        - ServiceObjectives
                  get:
                    (oas-x-ms-pageable): {}
                    displayName: Servers_ListServiceObjectives
                    description: Returns information about Azure SQL database Service Objectives.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ServiceObjectiveListResult
                        description: OK
                    (oas-tags):
                      - ServiceObjectives
              get:
                (oas-x-ms-pageable): {}
                displayName: Servers_ListByResourceGroup
                description: Returns information about an Azure SQL server.
                is:
                  - apiVersionParameter
                responses:
                  '200':
                    body:
                      application/json:
                        type: ServerListResult
                    description: OK
                (oas-tags):
                  - Servers
    /providers:
      displayName: providers
      /Microsoft.Sql:
        displayName: Microsoft.Sql
        /servers:
          displayName: servers
          get:
            (oas-x-ms-pageable): {}
            displayName: Servers_List
            description: Returns information about an Azure SQL server.
            is:
              - apiVersionParameter
            responses:
              '200':
                body:
                  application/json:
                    type: ServerListResult
                description: OK
            (oas-tags):
              - Servers
types:
  Column:
    type: Resource
  ColumnProperties:
    description: Represents the properties of an Azure SQL Database table column.
    properties:
      columnType:
        description: The type of Azure SQL Database table column.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  Database:
    type: Resource
  DatabaseListResult:
    description: Represents the response to a List Azure SQL Database request.
    properties:
      value:
        description: The list of Azure SQL Databases housed in the server.
        items:
          type: Database
        type: array
  DatabaseMetric:
    description: Represents Azure SQL Database metrics.
    properties:
      currentValue:
        description: The current value of the metric.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      displayName:
        description: The metric display name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      limit:
        description: The current limit of the metric.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      nextResetTime:
        description: The next reset time for the metric (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      resourceName:
        description: The name of the resource.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      unit:
        description: The units of the metric.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  DatabaseMetricListResult:
    description: Represents the response to a List Azure SQL Database metrics request.
    properties:
      value:
        description: The list of Azure SQL Database metrics for the database.
        items:
          type: DatabaseMetric
        type: array
  DatabaseProperties:
    description: Represents the properties of an Azure SQL Database.
    properties:
      collation:
        description: The collation of the Azure SQL database.
        type: string
        required: false
      containmentState:
        description: The containment state of the Azure SQL database.
        format: int64
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      createMode:
        description: Specifies the type of database to create.
        enum:
          - Copy
          - Default
          - NonReadableSecondary
          - OnlineSecondary
          - PointInTimeRestore
          - Recovery
          - Restore
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: createMode
      creationDate:
        description: The creation date of the Azure SQL database (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      currentServiceObjectiveId:
        description: The current Service Level Objective ID of the Azure SQL database. This is the ID of the Service Level Objective that is currently active.
        enum:
          - dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
          - f1173c43-91bd-4aaa-973c-54e79e15235b
          - 1b1ebd4d-d903-4baa-97f9-4ea675f5e928
          - 455330e1-00cd-488b-b5fa-177c226f28b7
          - 789681b8-ca10-4eb0-bdf2-e0b050601b40
          - 7203483a-c4fb-4304-9e9f-17c71c904f5d
          - a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0
          - a7c4c615-cfb1-464b-b252-925be0a19446
        format: uuid
        readOnly: true
        type: string
        facets:
          format: string
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ServiceObjectiveId
      databaseId:
        description: The ID of the Azure SQL database.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      defaultSecondaryLocation:
        description: The default secondary region for this database.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      earliestRestoreDate:
        description: The recovery period start date of the Azure SQL database. This records the start date and time when recovery is available for this Azure SQL Database (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      edition:
        description: The edition of the Azure SQL database. The DatabaseEditions enumeration contains all the valid editions.
        enum:
          - Web
          - Business
          - Basic
          - Standard
          - Premium
          - Free
          - Stretch
          - DataWarehouse
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: DatabaseEditions
      elasticPoolName:
        description: The name of the Azure SQL Elastic Pool the database is in.
        type: string
        required: false
      maxSizeBytes:
        description: 'The max size of the Azure SQL database expressed in bytes. Note: Only the following sizes are supported (in addition to limitations being placed on each edition): { 100 MB | 500 MB |1 GB | 5 GB | 10 GB | 20 GB | 30 GB … 150 GB | 200 GB … 500 GB }'
        type: string
        required: false
      recommendedIndex:
        description: The recommended indices for this database.
        items:
          type: RecommendedIndex
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      requestedServiceObjectiveId:
        description: 'The configured Service Level Objective ID of the Azure SQL database. This is the Service Level Objective that is in the process of being applied to the Azure SQL database. Once successfully updated, it will match the value of currentServiceObjectiveId property.'
        enum:
          - dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
          - f1173c43-91bd-4aaa-973c-54e79e15235b
          - 1b1ebd4d-d903-4baa-97f9-4ea675f5e928
          - 455330e1-00cd-488b-b5fa-177c226f28b7
          - 789681b8-ca10-4eb0-bdf2-e0b050601b40
          - 7203483a-c4fb-4304-9e9f-17c71c904f5d
          - a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0
          - a7c4c615-cfb1-464b-b252-925be0a19446
        format: uuid
        type: string
        facets:
          format: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ServiceObjectiveId
      requestedServiceObjectiveName:
        description: 'The name of the configured Service Level Objective of the Azure SQL database. This is the Service Level Objective that is in the process of being applied to the Azure SQL database. Once successfully updated, it will match the value of serviceLevelObjective property.'
        enum:
          - Basic
          - S0
          - S1
          - S2
          - S3
          - P1
          - P2
          - P3
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ServiceObjectiveName
      schemas:
        description: The schemas from this database.
        items:
          type: Schema
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      serviceLevelObjective:
        description: The current Service Level Objective of the Azure SQL database.
        enum:
          - Basic
          - S0
          - S1
          - S2
          - S3
          - P1
          - P2
          - P3
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ServiceObjectiveName
      serviceTierAdvisors:
        description: The list of service tier advisors for this database. Expanded property
        items:
          type: ServiceTierAdvisor
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      sourceDatabaseId:
        description: 'Conditional. Specifies the resource ID of the source database. If createMode is not set to Default, then this value must be specified. The name of the source database must be the same. NOTE: Collation, Edition, and MaxSizeBytes must remain the same while the link is active. Values specified for these parameters will be ignored.'
        type: string
        required: false
      status:
        description: The status of the Azure SQL database.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      transparentDataEncryption:
        description: The transparent data encryption info for this database.
        items:
          type: TransparentDataEncryption
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      upgradeHint:
        description: The upgrade hint for this database.
        readOnly: true
        type: UpgradeHint
        facets:
          readOnly?: boolean
        required: false
  ElasticPool:
    type: Resource
  ElasticPoolActivity:
    type: Resource
  ElasticPoolActivityListResult:
    description: Represents the response to a List Azure SQL Elastic Pool Activity request.
    properties:
      value:
        description: The list of Azure SQL Elastic Pool Activities.
        items:
          type: ElasticPoolActivity
        type: array
  ElasticPoolActivityProperties:
    description: Represents the properties of an Azure SQL Elastic Pool.
    properties:
      elasticPoolName:
        description: The name of the Elastic Pool.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      endTime:
        description: The time the operation finished (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      errorCode:
        description: The error code if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      errorMessage:
        description: The error message if available.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      errorSeverity:
        description: The error severity if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      operation:
        description: The operation name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      operationId:
        description: The unique operation ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      percentComplete:
        description: The percentage complete if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      requestedDatabaseDtuMax:
        description: The requested max DTU per database if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      requestedDatabaseDtuMin:
        description: The requested min DTU per database if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      requestedDtu:
        description: The requested DTU for the pool if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      requestedElasticPoolName:
        description: The requested name for the Elastic Pool if available.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      requestedStorageLimitInGB:
        description: The requested storage limit for the pool in GB if available.
        format: int64
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      serverName:
        description: The name of the Azure SQL server the Elastic Pool is in.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      startTime:
        description: The time the operation started (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      state:
        description: The current state of the operation.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ElasticPoolDatabaseActivity:
    type: Resource
  ElasticPoolDatabaseActivityListResult:
    description: Represents the response to a List Azure SQL Elastic Pool Database Activity request.
    properties:
      value:
        description: The list of Azure SQL Elastic Pool Database Activities.
        items:
          type: ElasticPoolDatabaseActivity
        type: array
  ElasticPoolDatabaseActivityProperties:
    description: Represents the properties of an Azure SQL Elastic Pool Database Activity.
    properties:
      currentElasticPoolName:
        description: The name of the current Elastic Pool the database is in if available.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      currentServiceObjective:
        description: The name of the current service objective if available.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      databaseName:
        description: The database name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      endTime:
        description: The time the operation finished (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      errorCode:
        description: The error code if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      errorMessage:
        description: The error message if available.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      errorSeverity:
        description: The error severity if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      operation:
        description: The operation name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      operationId:
        description: The unique operation ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      percentComplete:
        description: The percentage complete if available.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      requestedElasticPoolName:
        description: The name for the Elastic Pool the database is moving into if available.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      requestedServiceObjective:
        description: The name of the requested service objective if available.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      serverName:
        description: The name of the Azure SQL server the Elastic Pool is in.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      startTime:
        description: The time the operation started (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      state:
        description: The current state of the operation.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ElasticPoolListResult:
    description: Represents the response to a List Azure SQL Elastic Pool request.
    properties:
      value:
        description: The list of Azure SQL Elastic Pools hosted in the server.
        items:
          type: ElasticPool
        type: array
  ElasticPoolProperties:
    description: Represents the properties of an Azure SQL Elastic Pool.
    properties:
      creationDate:
        description: The creation date of the Azure SQL Elastic Pool (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      databaseDtuMax:
        description: The maximum DTU any one SQL Azure Database can consume.
        format: int32
        type: integer
        required: false
      databaseDtuMin:
        description: The minimum DTU all SQL Azure Databases are guaranteed.
        format: int32
        type: integer
        required: false
      dtu:
        description: The total shared DTU for the SQL Azure Database Elastic Pool.
        format: int32
        type: integer
        required: false
      edition:
        description: The edition of the Azure SQL Elastic Pool.
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ElasticPoolEditions
      state:
        description: The state of the Azure SQL Elastic Pool.
        enum:
          - Creating
          - Ready
          - Disabled
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ElasticPoolState
      storageMB:
        description: Gets storage limit for the SQL Azure Database Elastic Pool in MB.
        format: int32
        type: integer
        required: false
  OperationImpact:
    description: 'Represents impact of an operation, both in absolute and relative terms.'
    properties:
      changeValueAbsolute:
        description: The absolute impact to dimension.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      changeValueRelative:
        description: The relative impact to dimension (null if not applicable)
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      name:
        description: The name of the impact dimension.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      unit:
        description: The unit in which estimated impact to dimension is measured.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  RecommendedDatabaseProperties:
    description: Represents the properties of a recommended Azure SQL Database being upgraded.
    properties:
      Name:
        description: The name of the Azure SQL database being upgraded.
        type: string
        required: false
      TargetEdition:
        description: The target edition for the Azure SQL database being upgraded.
        enum:
          - Basic
          - Standard
          - Premium
          - Free
          - Stretch
          - DataWarehouse
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: TargetDatabaseEditions
      TargetServiceLevelObjective:
        description: The target Service Level Objective for the Azure SQL database being upgraded.
        type: string
        required: false
  RecommendedElasticPool:
    type: Resource
  RecommendedElasticPoolListMetricsResult:
    description: Represents the response to a List Azure SQL Recommended Elastic Pool metrics request.
    properties:
      value:
        description: The list of Azure SQL Recommended Elastic Pools metrics.
        items:
          type: RecommendedElasticPoolMetric
        type: array
  RecommendedElasticPoolListResult:
    description: Represents the response to a List Azure SQL Recommended Elastic Pool request.
    properties:
      value:
        description: The list of Azure SQL Recommended Elastic Pools hosted in the server.
        items:
          type: RecommendedElasticPool
        type: array
  RecommendedElasticPoolMetric:
    description: Represents Azure SQL recommended elastic pool metric.
    properties:
      dateTime:
        description: The time of metric (ISO8601 format).
        format: rfc3339
        type: datetime
        required: false
      dtu:
        description: 'Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/'
        format: double
        type: number
        required: false
      sizeGB:
        description: Gets or sets size in gigabytes.
        format: double
        type: number
        required: false
  RecommendedElasticPoolProperties:
    description: Represents the properties of an Azure SQL Recommended Elastic Pool.
    properties:
      databaseDtuMax:
        description: The maximum DTU for the database.
        format: double
        type: number
        required: false
      databaseDtuMin:
        description: The minimum DTU for the database.
        format: double
        type: number
        required: false
      databaseEdition:
        description: The edition of the Azure SQL Recommended Elastic Pool. The ElasticPoolEditions enumeration contains all the valid editions.
        enum:
          - Basic
          - Standard
          - Premium
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ElasticPoolEditions
      databases:
        description: The list of Azure SQL Databases in this pool. Expanded property
        items:
          type: Database
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      dtu:
        description: The DTU for the SQL Azure Recommended Elastic Pool.
        format: double
        type: number
        required: false
      maxObservedDtu:
        description: Gets maximum observed DTU.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      maxObservedStorageMB:
        description: Gets maximum observed storage in megabytes.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      metrics:
        description: The list of Azure SQL Databases housed in the server. Expanded property
        items:
          type: RecommendedElasticPoolMetric
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      observationPeriodEnd:
        description: The observation period start (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      observationPeriodStart:
        description: The observation period start (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      storageMB:
        description: Gets storage size in megabytes.
        format: double
        type: number
        required: false
  RecommendedIndex:
    type: Resource
  RecommendedIndexProperties:
    description: Represents the properties of an Azure SQL Database recommended index.
    properties:
      action:
        description: 'The proposed index action. You can create a missing index, drop an unused index, or rebuild an existing index to improve its performance. Possible values are ''Create'', ''Drop'', ''Rebuild''.'
        enum:
          - Create
          - Drop
          - Rebuild
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          name: RecommendedIndexActions
      columns:
        description: Columns over which to build index
        items:
          type: string
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      created:
        description: The UTC datetime showing when this resource was created (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      estimatedImpact:
        description: The estimated impact of doing recommended index action.
        items:
          type: OperationImpact
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      includedColumns:
        description: The list of column names to be included in the index
        items:
          type: string
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      indexScript:
        description: The full build index script
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      indexType:
        description: 'The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)'
        enum:
          - CLUSTERED
          - NONCLUSTERED
          - COLUMNSTORE
          - CLUSTERED COLUMNSTORE
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          name: RecommendedIndexTypes
      lastModified:
        description: The UTC datetime of when was this resource last changed (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      reportedImpact:
        description: The values reported after index action is complete.
        items:
          type: OperationImpact
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      schema:
        description: The schema where table to build index over resides
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      state:
        description: 'The current recommendation state. Current options are: ''Active'', ''Pending'', ''Executing'', ''Verifying'', ''Pending Revert'', ''Reverting'', ''Reverted'', ''Ignored'', ''Expired'', ''Blocked'', ''Success''.'
        enum:
          - Active
          - Pending
          - Executing
          - Verifying
          - Pending Revert
          - Reverting
          - Reverted
          - Ignored
          - Expired
          - Blocked
          - Success
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          name: RecommendedIndexStates
      table:
        description: The table on which to build index.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  Resource:
    description: Resource properties
    properties:
      id:
        description: Resource ID
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      tags:
        description: Resource tags
        type: object
        required: false
        properties:
          //:
            type: string
      type:
        description: Resource type
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  RestorePoint:
    type: Resource
  RestorePointListResult:
    description: Represents the response to a List Azure SQL Database restore points request.
    properties:
      value:
        description: The list of a given Azure SQL Database restore points.
        items:
          type: RestorePoint
        type: array
  RestorePointProperties:
    description: Represents the properties of an Azure SQL Database restore point.
    properties:
      earliestRestoreDate:
        description: Earliest restore time (ISO8601 format). Populated when restorePointType = DISCRETE. Null otherwise.
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      restorePointCreationDate:
        description: Restore point creation time (ISO8601 format). Populated when restorePointType = CONTINUOUS. Null otherwise.
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      restorePointType:
        description: The restore point type of the Azure SQL database restore point.
        enum:
          - DISCRETE
          - CONTINUOUS
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          name: RestorePointTypes
  Schema:
    type: Resource
  SchemaProperties:
    description: Represents the properties of an Azure SQL Database schema.
    properties:
      tables:
        description: The tables from this database.
        items:
          type: Table
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  Server:
    type: Resource
  ServerListResult:
    description: Represents the response to a Get Azure SQL server request.
    properties:
      value:
        description: The list of Azure SQL servers.
        items:
          type: Server
        type: array
  ServerMetric:
    description: Represents Azure SQL server metrics.
    properties:
      currentValue:
        description: The current value of the metric.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      displayName:
        description: The metric display name.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      limit:
        description: The current limit of the metric.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      nextResetTime:
        description: The next reset time for the metric (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      resourceName:
        description: The name of the resource.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      unit:
        description: The units of the metric.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ServerMetricListResult:
    description: Represents the response to a List Azure SQL server metrics request.
    properties:
      value:
        description: The list of Azure SQL server metrics for the server.
        items:
          type: ServerMetric
        type: array
  ServerProperties:
    description: Represents the properties of an Azure SQL server.
    properties:
      administratorLogin:
        description: Administrator username for the server. Can only be specified when the server is being created (and is required for creation).
        type: string
        required: false
      administratorLoginPassword:
        description: The administrator login password (required for server creation).
        type: string
        required: false
      fullyQualifiedDomainName:
        description: The fully qualified domain name of the server.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      version:
        description: The version of the server.
        enum:
          - '2.0'
          - '12.0'
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: ServerVersion
  ServiceObjective:
    type: SqlSubResource
  ServiceObjectiveListResult:
    description: Represents the response to a Get Azure SQL Database Service Objectives request.
    properties:
      value:
        description: The list of Azure SQL Database Service Objectives.
        items:
          type: ServiceObjective
        type: array
  ServiceObjectiveProperties:
    description: Represents the properties of an Azure SQL Database Service Objective.
    properties:
      description:
        description: The description for the service level objective.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      enabled:
        description: Gets whether the service level objective is enabled.
        readOnly: true
        type: boolean
        facets:
          readOnly?: boolean
        required: false
      isDefault:
        description: Gets whether the service level objective is the default service objective.
        readOnly: true
        type: boolean
        facets:
          readOnly?: boolean
        required: false
      isSystem:
        description: Gets whether the service level objective is a system service objective.
        readOnly: true
        type: boolean
        facets:
          readOnly?: boolean
        required: false
      serviceObjectiveName:
        description: The name for the service objective.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  ServiceTierAdvisor:
    type: SqlSubResource
  ServiceTierAdvisorListResult:
    description: Represents the response to a list service tier advisor request.
    properties:
      value:
        description: The list of service tier advisors for specified database.
        items:
          type: ServiceTierAdvisor
        type: array
  ServiceTierAdvisorProperties:
    description: Represents the properties of a Service Tier Advisor.
    properties:
      activeTimeRatio:
        description: The activeTimeRatio for service tier advisor.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      avgDtu:
        description: Gets or sets avgDtu for service tier advisor.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      confidence:
        description: Gets or sets confidence for service tier advisor.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      currentServiceLevelObjective:
        description: Gets or sets currentServiceLevelObjective for service tier advisor.
        format: uuid
        readOnly: true
        type: string
        facets:
          format: string
          readOnly?: boolean
        required: false
      currentServiceLevelObjectiveId:
        description: Gets or sets currentServiceLevelObjectiveId for service tier advisor.
        format: uuid
        readOnly: true
        type: string
        facets:
          format: string
          readOnly?: boolean
        required: false
      databaseSizeBasedRecommendationServiceLevelObjective:
        description: Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      databaseSizeBasedRecommendationServiceLevelObjectiveId:
        description: Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor.
        format: uuid
        readOnly: true
        type: string
        facets:
          format: string
          readOnly?: boolean
        required: false
      disasterPlanBasedRecommendationServiceLevelObjective:
        description: Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      disasterPlanBasedRecommendationServiceLevelObjectiveId:
        description: Gets or sets disasterPlanBasedRecommendationServiceLevelObjectiveId for service tier advisor.
        format: uuid
        readOnly: true
        type: string
        facets:
          format: string
          readOnly?: boolean
        required: false
      maxDtu:
        description: Gets or sets maxDtu for service tier advisor.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      maxSizeInGB:
        description: Gets or sets maxSizeInGB for service tier advisor.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      minDtu:
        description: Gets or sets minDtu for service tier advisor.
        format: double
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      observationPeriodEnd:
        description: The observation period start (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      observationPeriodStart:
        description: The observation period start (ISO8601 format).
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      overallRecommendationServiceLevelObjective:
        description: Gets or sets overallRecommendationServiceLevelObjective for service tier advisor.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      overallRecommendationServiceLevelObjectiveId:
        description: Gets or sets overallRecommendationServiceLevelObjectiveId for service tier advisor.
        format: uuid
        readOnly: true
        type: string
        facets:
          format: string
          readOnly?: boolean
        required: false
      serviceLevelObjectiveUsageMetrics:
        description: Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor.
        items:
          type: SloUsageMetric
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      usageBasedRecommendationServiceLevelObjective:
        description: Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      usageBasedRecommendationServiceLevelObjectiveId:
        description: Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor.
        format: uuid
        readOnly: true
        type: string
        facets:
          format: string
          readOnly?: boolean
        required: false
  SloUsageMetric:
    type: Resource
  SqlSubResource:
    description: Subresource properties
    properties:
      id:
        description: The resource ID.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      name:
        description: Resource name
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
  Table:
    type: Resource
  TableProperties:
    description: Represents the properties of an Azure SQL Database table.
    properties:
      columns:
        description: The columns from this table.
        items:
          type: Column
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      recommendedIndexes:
        description: The recommended indices for this table.
        items:
          type: RecommendedIndex
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      tableType:
        description: The type of Azure SQL Database table.
        enum:
          - BaseTable
          - View
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          name: TableType
  TransparentDataEncryption:
    type: SqlSubResource
  TransparentDataEncryptionActivity:
    type: SqlSubResource
  TransparentDataEncryptionActivityListResult:
    description: Represents the response to a List Azure SQL Database Transparent Data Encryption Activity request.
    properties:
      value:
        description: The list of Azure SQL Database Transparent Data Encryption Activities.
        items:
          type: TransparentDataEncryptionActivity
        type: array
  TransparentDataEncryptionActivityProperties:
    description: Represents the properties of an Azure SQL Database Transparent Data Encryption Scan.
    properties:
      percentComplete:
        description: The percent complete of the transparent data encryption scan for a Azure SQL Database.
        format: float
        readOnly: true
        type: number
        facets:
          readOnly?: boolean
        required: false
      status:
        description: The status of the Azure SQL database.
        enum:
          - Encrypting
          - Decrypting
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
        (oas-x-ms-enum):
          modelAsString: true
          name: TransparentDataEncryptionActivityStates
  TransparentDataEncryptionProperties:
    description: Represents the properties of an Azure SQL Database Transparent Data Encryption.
    properties:
      status:
        description: The status of the Azure SQL Database Transparent Data Encryption.
        enum:
          - Enabled
          - Disabled
        type: string
        required: false
        (oas-x-ms-enum):
          name: TransparentDataEncryptionStates
  UpgradeHint:
    type: Resource
  UpgradeRecommendedElasticPoolProperties:
    description: Represents the properties of a Azure SQL Recommended Elastic Pool being upgraded.
    properties:
      DatabaseCollection:
        description: The list of database names to be put in the Azure SQL Recommended Elastic Pool being upgraded.
        items:
          type: string
        type: array
        required: false
      DatabaseDtuMax:
        description: The DTU cap for database for the Azure SQL Recommended Elastic Pool being upgraded.
        format: int32
        type: integer
        required: false
      DatabaseDtuMin:
        description: The DTU guarantee for database for the Azure SQL Recommended Elastic Pool being upgraded.
        format: int32
        type: integer
        required: false
      Dtu:
        description: The DTU guarantee for the Azure SQL Recommended Elastic Pool being upgraded.
        format: int32
        type: integer
        required: false
      Edition:
        description: The target edition for the Azure SQL Recommended Elastic Pool being upgraded.
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        (oas-x-ms-enum):
          name: TargetElasticPoolEditions
      IncludeAllDatabases:
        description: Gets or sets whether all databases to be put in the Azure SQL Recommended Elastic Pool being upgraded.
        type: boolean
        required: false
      Name:
        description: The name of the Azure SQL Recommended Elastic Pool being upgraded.
        type: string
      StorageMb:
        description: The storage limit in MB for the Azure SQL Recommended Elastic Pool being upgraded.
        format: int32
        type: integer
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: The API version to use for the request.
        required: true
