#%RAML 1.0
title: RecoveryServicesBackupClient
version: '2016-06-01'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-recoveryservicesbackup/2016-06-01/swagger/recoveryservicesbackup.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-recoveryservicesbackup
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-odata: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow.
/Subscriptions:
  displayName: Subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.RecoveryServices:
            displayName: Microsoft.RecoveryServices
            /vaults:
              displayName: vaults
              '/{vaultName}':
                displayName: '{vaultName}'
                /backupJobs:
                  displayName: backupJobs
                  get:
                    (oas-x-ms-odata): '#/definitions/JobQueryObject'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: Jobs_List
                    description: Provides a pageable list of jobs.
                    is:
                      - apiVersion
                    responses:
                      '200':
                        body:
                          application/json:
                            type: JobResourceList
                        description: OK.
                    queryParameters:
                      $filter:
                        description: 'The following equation can be used to filter the list of jobs based on status, type, start date, and end date. status eq { InProgress , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.'
                        required: false
                        type: string
                        displayName: 'The following equation can be used to filter the list of jobs based on status, type, start date, and end date. status eq { InProgress , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.'
                      $skipToken:
                        description: The Skip Token filter.
                        required: false
                        type: string
                        displayName: The Skip Token filter.
                    (oas-tags):
                      - Jobs
                  /operationResults:
                    displayName: operationResults
                    '/{operationId}':
                      displayName: '{operationId}'
                      uriParameters:
                        operationId:
                          description: The ID associated with the export job.
                          required: true
                          type: string
                          displayName: The ID associated with the export job.
                      get:
                        displayName: ExportJobsOperationResults_Get
                        description: Gets the result of the operation triggered by the ExportJob API.
                        is:
                          - apiVersion
                        responses:
                          '200':
                            body:
                              application/json:
                                type: OperationResultInfoBaseResource
                            description: OK.
                          '202':
                            description: Accepted
                        (oas-tags):
                          - ExportJobsOperationResults
                  '/{jobName}':
                    displayName: '{jobName}'
                    uriParameters:
                      jobName:
                        description: Name of the job associated with this GET operation.
                        required: true
                        type: string
                        displayName: Name of the job associated with this GET operation.
                    get:
                      displayName: JobDetails_Get
                      description: Gets extended information associated with the job.
                      is:
                        - apiVersion
                      responses:
                        '200':
                          body:
                            application/json:
                              type: JobResource
                          description: OK.
                      (oas-tags):
                        - JobDetails
                    /cancel:
                      displayName: cancel
                      post:
                        displayName: JobCancellations_Trigger
                        description: 'Cancels the job. This is an asynchronous operation. To know the status of the cancellation, call the GetCancelOperationResult API.'
                        is:
                          - apiVersion
                        responses:
                          '202':
                            description: Accepted.
                        (oas-tags):
                          - JobCancellations
                    /operationResults:
                      displayName: operationResults
                      '/{operationId}':
                        displayName: '{operationId}'
                        uriParameters:
                          operationId:
                            description: OperationID associated with this GET operation.
                            required: true
                            type: string
                            displayName: OperationID associated with this GET operation.
                        get:
                          displayName: JobOperationResults_Get
                          description: Gets the result of the operation.
                          is:
                            - apiVersion
                          responses:
                            '200':
                              description: OK.
                            '202':
                              description: Accepted.
                            '204':
                              description: No content.
                          (oas-tags):
                            - JobOperationResults
                /backupProtectionContainers:
                  displayName: backupProtectionContainers
                  get:
                    (oas-x-ms-odata): '#/definitions/BMSContainerQueryObject'
                    (oas-x-ms-pageable):
                      nextLinkName: 'null'
                    displayName: ProtectionContainers_List
                    description: Lists the containers registered to the Recovery Services vault.
                    is:
                      - apiVersion
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ProtectionContainerResourceList
                        description: OK.
                    queryParameters:
                      $filter:
                        description: 'The following equation is used to sort or filter the containers registered to the vault. providerType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql} and status eq {Unknown, NotRegistered, Registered, Registering} and friendlyName eq {containername} and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.'
                        required: false
                        type: string
                        displayName: 'The following equation is used to sort or filter the containers registered to the vault. providerType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql} and status eq {Unknown, NotRegistered, Registered, Registering} and friendlyName eq {containername} and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.'
                    (oas-tags):
                      - ProtectionContainers
                /backupEngines:
                  displayName: backupEngines
                  get:
                    (oas-x-ms-odata): '#/definitions/BMSBackupEngineQueryObject'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: BackupEngines_Get
                    description: The backup management servers registered to a Recovery Services vault. This returns a pageable list of servers.
                    is:
                      - apiVersion
                    responses:
                      '200':
                        body:
                          application/json:
                            type: BackupEngineBaseResourceList
                        description: OK.
                    queryParameters:
                      $filter:
                        description: 'Use this filter to choose the specific backup management server. backupManagementType { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.'
                        required: false
                        type: string
                        displayName: 'Use this filter to choose the specific backup management server. backupManagementType { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.'
                      $skipToken:
                        description: The Skip Token filter.
                        required: false
                        type: string
                        displayName: The Skip Token filter.
                    (oas-tags):
                      - BackupEngines
                /backupFabrics:
                  displayName: backupFabrics
                  '/{fabricName}':
                    displayName: '{fabricName}'
                    /protectionContainers:
                      displayName: protectionContainers
                      '/{containerName}':
                        displayName: '{containerName}'
                        uriParameters:
                          containerName:
                            description: The container name used for this GET operation.
                            required: true
                            type: string
                            displayName: The container name used for this GET operation.
                        get:
                          displayName: ProtectionContainers_Get
                          description: Gets details of the specific container registered to your Recovery Services vault.
                          is:
                            - apiVersion
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ProtectionContainerResource
                              description: OK.
                          (oas-tags):
                            - ProtectionContainers
                        /protectedItems:
                          displayName: protectedItems
                          '/{protectedItemName}':
                            displayName: '{protectedItemName}'
                            uriParameters:
                              protectedItemName:
                                description: The backup item name used in this GET operation.
                                required: true
                                type: string
                                displayName: The backup item name used in this GET operation.
                            delete:
                              displayName: ProtectedItems_Delete
                              description: 'Used to disable the backup job for an item within a container. This is an asynchronous operation. To learn the status of the request, call the GetItemOperationResult API.'
                              is:
                                - apiVersion
                              responses:
                                '202':
                                  description: Accepted.
                                '204':
                                  description: No content.
                              (oas-tags):
                                - ProtectedItems
                            put:
                              displayName: ProtectedItems_CreateOrUpdate
                              description: 'This operation enables an item to be backed up, or modifies the existing backup policy information for an item that has been backed up. This is an asynchronous operation. To learn the status of the operation, call the GetItemOperationResult API.'
                              is:
                                - apiVersion
                              body:
                                application/json:
                                  type: ProtectedItemResource
                                  (oas-body-name): resourceProtectedItem
                                  description: The resource backup item.
                              responses:
                                '202':
                                  description: Accepted.
                              (oas-tags):
                                - ProtectedItems
                            /operationResults:
                              displayName: operationResults
                              '/{operationId}':
                                displayName: '{operationId}'
                                uriParameters:
                                  operationId:
                                    description: The OperationID used in this GET operation.
                                    required: true
                                    type: string
                                    displayName: The OperationID used in this GET operation.
                                get:
                                  displayName: ProtectedItemOperationResults_Get
                                  description: Gets the result of any operation on the backup item.
                                  is:
                                    - apiVersion
                                  responses:
                                    '200':
                                      body:
                                        application/json:
                                          type: ProtectedItemResource
                                      description: OK.
                                    '202':
                                      description: Accepted.
                                    '204':
                                      description: No content.
                                  (oas-tags):
                                    - ProtectedItemOperationResults
                            /recoveryPoints:
                              displayName: recoveryPoints
                              get:
                                (oas-x-ms-odata): '#/definitions/BMSRPQueryObject'
                                (oas-x-ms-pageable):
                                  nextLinkName: 'null'
                                displayName: RecoveryPoints_List
                                description: 'Lists the recovery points, or backup copies, for the specified backup item.'
                                is:
                                  - apiVersion
                                responses:
                                  '200':
                                    body:
                                      application/json:
                                        type: RecoveryPointResourceList
                                    description: OK.
                                queryParameters:
                                  $filter:
                                    description: 'startDate eq {yyyy-mm-dd hh:mm:ss PM} and endDate { yyyy-mm-dd hh:mm:ss PM}.'
                                    required: false
                                    type: string
                                    displayName: 'startDate eq {yyyy-mm-dd hh:mm:ss PM} and endDate { yyyy-mm-dd hh:mm:ss PM}.'
                                (oas-tags):
                                  - RecoveryPoints
                              '/{recoveryPointId}':
                                displayName: '{recoveryPointId}'
                                /provisionInstantItemRecovery:
                                  displayName: provisionInstantItemRecovery
                                  post:
                                    displayName: ItemLevelRecoveryConnections_Provision
                                    description: 'Provisions a script which invokes an iSCSI connection to the backup data. Executing this script opens File Explorer which displays the recoverable files and folders. This is an asynchronous operation. To get the provisioning status, call GetProtectedItemOperationResult API.'
                                    is:
                                      - apiVersion
                                    body:
                                      application/json:
                                        type: ILRRequestResource
                                        (oas-body-name): resourceILRRequest
                                        description: The resource Item Level Recovery (ILR) request.
                                    responses:
                                      '202':
                                        description: Accepted.
                                    (oas-tags):
                                      - ItemLevelRecoveryConnections
                                /revokeInstantItemRecovery:
                                  displayName: revokeInstantItemRecovery
                                  post:
                                    displayName: ItemLevelRecoveryConnections_Revoke
                                    description: Revokes an iSCSI connection which can be used to download a script. Executing this script opens a file explorer displaying all recoverable files and folders. This is an asynchronous operation.
                                    is:
                                      - apiVersion
                                    responses:
                                      '202':
                                        description: The revocation was accepted.
                                    (oas-tags):
                                      - ItemLevelRecoveryConnections
                                /restore:
                                  displayName: restore
                                  post:
                                    displayName: Restores_Trigger
                                    description: 'Restores the specified backup data. This is an asynchronous operation. To know the status of this API call, use GetProtectedItemOperationResult API.'
                                    is:
                                      - apiVersion
                                    body:
                                      application/json:
                                        type: RestoreRequestResource
                                        (oas-body-name): resourceRestoreRequest
                                        description: The resource restore request.
                                    responses:
                                      '202':
                                        description: The data restore operation was accepted.
                                    (oas-tags):
                                      - Restores
                                uriParameters:
                                  recoveryPointId:
                                    description: The RecoveryPointID associated with this GET operation.
                                    required: true
                                    type: string
                                    displayName: The RecoveryPointID associated with this GET operation.
                                get:
                                  displayName: RecoveryPoints_Get
                                  description: 'Provides the backup data for the RecoveryPointID. This is an asynchronous operation. To learn the status of the operation, call the GetProtectedItemOperationResult API.'
                                  is:
                                    - apiVersion
                                  responses:
                                    '200':
                                      body:
                                        application/json:
                                          type: RecoveryPointResource
                                      description: OK.
                                  (oas-tags):
                                    - RecoveryPoints
                            get:
                              (oas-x-ms-odata): '#/definitions/GetProtectedItemQueryObject'
                              displayName: ProtectedItems_Get
                              description: 'Provides the details of the backup item. This is an asynchronous operation. To know the status of the operation, call the GetItemOperationResult API.'
                              is:
                                - apiVersion
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: ProtectedItemResource
                                  description: OK.
                              queryParameters:
                                $filter:
                                  description: 'expand eq {extendedinfo}. This filter enables you to choose (or filter) specific items in the list of backup items.'
                                  required: false
                                  type: string
                                  displayName: 'expand eq {extendedinfo}. This filter enables you to choose (or filter) specific items in the list of backup items.'
                              (oas-tags):
                                - ProtectedItems
                            /operationsStatus:
                              displayName: operationsStatus
                              '/{operationId}':
                                displayName: '{operationId}'
                                uriParameters:
                                  operationId:
                                    description: The OperationID used in this GET operation.
                                    required: true
                                    type: string
                                    displayName: The OperationID used in this GET operation.
                                get:
                                  displayName: ProtectedItemOperationStatuses_Get
                                  description: 'Gets the status of an operation such as triggering a backup or restore. The status can be: In progress, Completed, or Failed. You can refer to the OperationStatus enum for all the possible states of the operation. Some operations create jobs. This method returns the list of jobs associated with the operation.'
                                  is:
                                    - apiVersion
                                  responses:
                                    '200':
                                      body:
                                        application/json:
                                          type: OperationStatus
                                      description: OK.
                                  (oas-tags):
                                    - ProtectedItemOperationStatuses
                            /backup:
                              displayName: backup
                              post:
                                displayName: Backups_Trigger
                                description: 'Triggers the backup job for the specified backup item. This is an asynchronous operation. To know the status of the operation, call GetProtectedItemOperationResult API.'
                                is:
                                  - apiVersion
                                body:
                                  application/json:
                                    type: BackupRequestResource
                                    (oas-body-name): resourceBackupRequest
                                    description: The resource backup request.
                                responses:
                                  '202':
                                    description: Accepted
                                (oas-tags):
                                  - Backups
                        /operationResults:
                          displayName: operationResults
                          '/{operationId}':
                            displayName: '{operationId}'
                            uriParameters:
                              operationId:
                                description: The operation ID used for this GET operation.
                                required: true
                                type: string
                                displayName: The operation ID used for this GET operation.
                            get:
                              displayName: ProtectionContainerOperationResults_Get
                              description: Gets the result of any operation on the container.
                              is:
                                - apiVersion
                              responses:
                                '200':
                                  body:
                                    application/json:
                                      type: ProtectionContainerResource
                                  description: OK.
                                '202':
                                  description: Accepted.
                                '204':
                                  description: No content.
                              (oas-tags):
                                - ProtectionContainerOperationResults
                    /operationResults:
                      displayName: operationResults
                      '/{operationId}':
                        displayName: '{operationId}'
                        uriParameters:
                          operationId:
                            description: The operation ID used for this GET operation.
                            required: true
                            type: string
                            displayName: The operation ID used for this GET operation.
                        get:
                          displayName: ProtectionContainerRefreshOperationResults_Get
                          description: Provides the result of the refresh operation triggered by the BeginRefresh operation.
                          is:
                            - apiVersion
                          responses:
                            '202':
                              description: Accepted.
                            '204':
                              description: No content.
                          (oas-tags):
                            - ProtectionContainerRefreshOperationResults
                    /refreshContainers:
                      displayName: refreshContainers
                      post:
                        displayName: ProtectionContainers_Refresh
                        description: 'Discovers the containers in the subscription that can be protected in a Recovery Services vault. This is an asynchronous operation. To learn the status of the operation, use the GetRefreshOperationResult API.'
                        is:
                          - apiVersion
                        responses:
                          '202':
                            description: Accepted.
                        (oas-tags):
                          - ProtectionContainers
                /backupJobsExport:
                  displayName: backupJobsExport
                  post:
                    (oas-x-ms-odata): '#/definitions/JobQueryObject'
                    displayName: Jobs_Export
                    description: Exports all jobs for a given Shared Access Signatures (SAS) URL. The SAS URL expires within 15 minutes of its creation.
                    is:
                      - apiVersion
                    responses:
                      '202':
                        description: Accepted.
                    queryParameters:
                      $filter:
                        description: 'The OData filter options. status eq { InProgress , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.'
                        required: false
                        type: string
                        displayName: 'The OData filter options. status eq { InProgress , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.'
                    (oas-tags):
                      - Jobs
                /backupOperationResults:
                  displayName: backupOperationResults
                  '/{operationId}':
                    displayName: '{operationId}'
                    uriParameters:
                      operationId:
                        description: The ID of the operation.
                        required: true
                        type: string
                        displayName: The ID of the operation.
                    get:
                      displayName: BackupOperationResults_Get
                      description: 'Provides the status of the delete operations, for example, deleting a backup item. Once the operation starts, the response status code is Accepted. The response status code remains in this state until the operation reaches completion. On successful completion, the status code changes to OK. This method expects OperationID as an argument. OperationID is part of the Location header of the operation response.'
                      is:
                        - apiVersion
                      responses:
                        '200':
                          description: OK.
                        '202':
                          description: Accepted.
                        '204':
                          description: No content.
                      (oas-tags):
                        - BackupOperationResults
                /backupOperations:
                  displayName: backupOperations
                  '/{operationId}':
                    displayName: '{operationId}'
                    uriParameters:
                      operationId:
                        description: The ID of the operation.
                        required: true
                        type: string
                        displayName: The ID of the operation.
                    get:
                      displayName: BackupOperationStatuses_Get
                      description: 'Gets the status of an operation such as triggering a backup or restore. The status can be In progress, Completed or Failed. You can refer to the OperationStatus enum for all the possible states of an operation. Some operations create jobs. This method returns the list of jobs when the operation is complete.'
                      is:
                        - apiVersion
                      responses:
                        '200':
                          body:
                            application/json:
                              type: OperationStatus
                          description: OK.
                      (oas-tags):
                        - BackupOperationStatuses
                /backupPolicies:
                  displayName: backupPolicies
                  get:
                    (oas-x-ms-odata): '#/definitions/ProtectionPolicyQueryObject'
                    (oas-x-ms-pageable):
                      nextLinkName: 'null'
                    displayName: ProtectionPolicies_List
                    description: Lists the backup policies associated with the Recovery Services vault. The API provides parameters to Get scoped results.
                    is:
                      - apiVersion
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ProtectionPolicyResourceList
                        description: OK.
                    queryParameters:
                      $filter:
                        description: 'The following equation can be used to filter the list of backup policies. backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.'
                        required: false
                        type: string
                        displayName: 'The following equation can be used to filter the list of backup policies. backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.'
                    (oas-tags):
                      - ProtectionPolicies
                  '/{policyName}':
                    displayName: '{policyName}'
                    uriParameters:
                      policyName:
                        description: The backup policy to be created.
                        required: true
                        type: string
                        displayName: The backup policy to be created.
                    delete:
                      displayName: ProtectionPolicies_Delete
                      description: Deletes the specified backup policy from your Recovery Services vault. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.
                      is:
                        - apiVersion
                      responses:
                        '200':
                          description: OK.
                        '204':
                          description: No content.
                      (oas-tags):
                        - ProtectionPolicies
                    get:
                      displayName: ProtectionPolicies_Get
                      description: Gets the details of the backup policy associated with the Recovery Services vault. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.
                      is:
                        - apiVersion
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ProtectionPolicyResource
                          description: OK.
                      (oas-tags):
                        - ProtectionPolicies
                    put:
                      displayName: ProtectionPolicies_CreateOrUpdate
                      description: Creates or modifies a backup policy. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.
                      is:
                        - apiVersion
                      body:
                        application/json:
                          type: ProtectionPolicyResource
                          (oas-body-name): resourceProtectionPolicy
                          description: The resource backup policy.
                      responses:
                        '200':
                          body:
                            application/json:
                              type: ProtectionPolicyResource
                          description: OK.
                        '202':
                          description: Accepted.
                      (oas-tags):
                        - ProtectionPolicies
                    /operations:
                      displayName: operations
                      '/{operationId}':
                        displayName: '{operationId}'
                        uriParameters:
                          operationId:
                            description: The ID associated with this GET operation.
                            required: true
                            type: string
                            displayName: The ID associated with this GET operation.
                        get:
                          displayName: ProtectionPolicyOperationStatuses_Get
                          description: 'Provides the status of the asynchronous operations like backup or restore. The status can be: in progress, completed, or failed. You can refer to the Operation Status enumeration for the possible states of an operation. Some operations create jobs. This method returns the list of jobs associated with the operation.'
                          is:
                            - apiVersion
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: OperationStatus
                              description: OK.
                          (oas-tags):
                            - ProtectionPolicyOperationStatuses
                    /operationResults:
                      displayName: operationResults
                      '/{operationId}':
                        displayName: '{operationId}'
                        uriParameters:
                          operationId:
                            description: The ID associated with this GET operation.
                            required: true
                            type: string
                            displayName: The ID associated with this GET operation.
                        get:
                          displayName: ProtectionPolicyOperationResults_Get
                          description: Provides the result of an operation.
                          is:
                            - apiVersion
                          responses:
                            '200':
                              body:
                                application/json:
                                  type: ProtectionPolicyResource
                              description: OK.
                          (oas-tags):
                            - ProtectionPolicyOperationResults
                /backupProtectedItems:
                  displayName: backupProtectedItems
                  get:
                    (oas-x-ms-odata): '#/definitions/ProtectedItemQueryObject'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ProtectedItems_List
                    description: 'Provides a pageable list of all items in a subscription, that can be protected.'
                    is:
                      - apiVersion
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ProtectedItemResourceList
                        description: OK.
                    queryParameters:
                      $filter:
                        description: ' itemType eq { VM , FileFolder , AzureSqlDb , SQLDB , Exchange , Sharepoint , DPMUnknown } and providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and policyName eq {policyname} and containerName eq {containername} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.'
                        required: false
                        type: string
                        displayName: ' itemType eq { VM , FileFolder , AzureSqlDb , SQLDB , Exchange , Sharepoint , DPMUnknown } and providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and policyName eq {policyname} and containerName eq {containername} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.'
                      $skipToken:
                        description: ' The Skip Token filter.'
                        required: false
                        type: string
                        displayName: ' The Skip Token filter.'
                    (oas-tags):
                      - ProtectedItems
                /backupProtectableItems:
                  displayName: backupProtectableItems
                  get:
                    (oas-x-ms-odata): '#/definitions/BMSPOQueryObject'
                    (oas-x-ms-pageable):
                      nextLinkName: nextLink
                    displayName: ProtectableItems_List
                    description: 'Based on the query filter and the pagination parameters, this operation provides a pageable list of objects within the subscription that can be protected.'
                    is:
                      - apiVersion
                    responses:
                      '200':
                        body:
                          application/json:
                            type: WorkloadProtectableItemResourceList
                        description: OK
                    queryParameters:
                      $filter:
                        description: 'Using the following query filters, you can sort a specific backup item based on: type of backup item, status, name of the item, and more.  providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and status eq { NotProtected , Protecting , Protected } and friendlyName {name} and skipToken eq {string which provides the next set of list} and topToken eq {int} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.'
                        required: false
                        type: string
                        displayName: 'Using the following query filters, you can sort a specific backup item based on: type of backup item, status, name of the item, and more.  providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and status eq { NotProtected , Protecting , Protected } and friendlyName {name} and skipToken eq {string which provides the next set of list} and topToken eq {int} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.'
                      $skipToken:
                        description: The Skip Token filter.
                        required: false
                        type: string
                        displayName: The Skip Token filter.
                    (oas-tags):
                      - ProtectableItems
types:
  AzureBackupServerEngine:
    type: BackupEngineBase
  AzureIaaSClassicComputeVMContainer:
    type: IaaSVMContainer
  AzureIaaSClassicComputeVMProtectableItem:
    type: IaaSVMProtectableItem
  AzureIaaSClassicComputeVMProtectedItem:
    type: AzureIaaSVMProtectedItem
  AzureIaaSComputeVMContainer:
    type: IaaSVMContainer
  AzureIaaSComputeVMProtectableItem:
    type: IaaSVMProtectableItem
  AzureIaaSComputeVMProtectedItem:
    type: AzureIaaSVMProtectedItem
  AzureIaaSVMErrorInfo:
    description: Azure IaaS VM workload-specific error information.
    properties:
      errorCode:
        description: Error code.
        format: int32
        type: integer
        required: false
      errorString:
        description: Localized error string.
        type: string
        required: false
      errorTitle:
        description: 'Title: typically, the entity associated the error.'
        type: string
        required: false
      recommendations:
        description: List of localized recommendations for the error string.
        items:
          type: string
        type: array
        required: false
  AzureIaaSVMJob:
    type: Job
  AzureIaaSVMJobExtendedInfo:
    description: Additional information for the Azure IaaS VM workload-specific job.
    properties:
      dynamicErrorMessage:
        description: Non-localized error message for job execution.
        type: string
        required: false
      progressPercentage:
        description: Indicates progress of the job. Null if it has not started or completed.
        format: double
        type: number
        required: false
      propertyBag:
        additionalProperties:
          type: string
        description: Job properties.
        type: object
        required: false
      tasksList:
        description: List of tasks associated with this job.
        items:
          type: AzureIaaSVMJobTaskDetails
        type: array
        required: false
  AzureIaaSVMJobTaskDetails:
    description: Azure IaaS VM workload-specific job task details.
    properties:
      duration:
        description: The time elapsed for the task.
        format: duration
        type: string
        facets:
          format: string
        required: false
      endTime:
        description: The end time.
        format: rfc3339
        type: datetime
        required: false
      instanceId:
        description: The instance ID.
        type: string
        required: false
      progressPercentage:
        description: 'The progress of the task, as a percentage.'
        format: double
        type: number
        required: false
      startTime:
        description: The start time.
        format: rfc3339
        type: datetime
        required: false
      status:
        description: The status.
        type: string
        required: false
      taskId:
        description: The task display name.
        type: string
        required: false
  AzureIaaSVMProtectedItem:
    type: ProtectedItem
  AzureIaaSVMProtectedItemExtendedInfo:
    description: Additional information for the Azure VM (also known as IaaS VM)-specific backup item.
    properties:
      oldestRecoveryPoint:
        description: The oldest backup copy available for this backup item.
        format: rfc3339
        type: datetime
        required: false
      policyInconsistent:
        description: Specifies if the backup policy associated with the backup item is inconsistent.
        type: boolean
        required: false
      recoveryPointCount:
        description: The number of backup copies available for this backup item.
        format: int32
        type: integer
        required: false
  AzureIaaSVMProtectionPolicy:
    type: ProtectionPolicy
  AzureSqlContainer:
    type: ProtectionContainer
  AzureSqlProtectedItem:
    type: ProtectedItem
  AzureSqlProtectedItemExtendedInfo:
    description: Additional information for the Azure SQL specific backup item.
    properties:
      oldestRecoveryPoint:
        description: The oldest backup copy available for this item in the service.
        format: rfc3339
        type: datetime
        required: false
      policyState:
        description: The state of the backup policy associated with this backup item.
        type: string
        required: false
      recoveryPointCount:
        description: The number of available backup copies for this backup item.
        format: int32
        type: integer
        required: false
  AzureSqlProtectionPolicy:
    type: ProtectionPolicy
  BEKDetails:
    description: BEK is Bitlocker Encrpytion Key.
    properties:
      secretData:
        description: Bitlocker Encryption Key (BEK) data.
        type: string
        required: false
      secretUrl:
        description: Secret refers to Bitlocker Encryption Key (BEK). The Secret can be unlocked by the key (or KEK).
        type: string
        required: false
      secretVaultId:
        description: ID of the Key Vault where this Secret is stored.
        type: string
        required: false
  BMSBackupEngineQueryObject:
    description: The query parameters used to GET the list of backup engines.
    properties:
      backupManagementType:
        description: The backup management type associated with the backup engine.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
  BMSContainerQueryObject:
    description: The query filters that can be used with the list containers API.
    properties:
      backupManagementType:
        description: The backup management type for this container.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      friendlyName:
        description: The friendly name of the container.
        type: string
        required: false
      status:
        description: The status of the container's registration with the Recovery Services vault.
        type: string
        required: false
  BMSPOQueryObject:
    description: Filters the list of backup items.
    properties:
      backupManagementType:
        description: The backup management type.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      friendlyName:
        description: The friendly name for the item.
        type: string
        required: false
      status:
        description: The backup status query parameter.
        type: string
        required: false
  BMSRPQueryObject:
    description: Filters the list of backup copies based on the property.
    properties:
      endDate:
        description: Use backup copies created before this time.
        format: rfc3339
        type: datetime
        required: false
      startDate:
        description: Use backup copies created after this time.
        format: rfc3339
        type: datetime
        required: false
  BackupEngineBase:
    description: The base backup engine class. All workload-specific backup engines derive from this class.
    discriminator: backupEngineType
    properties:
      backupEngineId:
        description: The ID of the backup engine.
        type: string
        required: false
      backupEngineType:
        description: The type of the backup engine.
        type: string
        required: false
      backupManagementType:
        description: The type of backup management associated with the backup engine.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      canReRegister:
        description: 'The flag indicating whether the backup engine be registered again, once the engine has been initially registered.'
        type: boolean
        required: false
      friendlyName:
        description: The friendly name of the backup engine.
        type: string
        required: false
      healthStatus:
        description: The backup status of the backup engine.
        type: string
        required: false
      registrationStatus:
        description: The status of the backup engine registration with the Recovery Services vault.
        type: string
        required: false
  BackupEngineBaseResource:
    type: Resource
  BackupEngineBaseResourceList:
    type: ResourceList
  BackupRequest:
    description: The base class for a backup request. Workload-specific backup requests are derived from this class.
    discriminator: objectType
    properties:
      objectType:
        description: This property is used as the discriminator for deciding the specific types in the polymorhpic chain of types.
        type: string
        required: false
  BackupRequestResource:
    type: Resource
  ClientScriptForConnect:
    description: Client script details for the file or folder restore.
    properties:
      osType:
        description: The operating system platform ("Windows" or "Linux") for which this file or folder restore client script works.
        type: string
        required: false
      scriptContent:
        description: File content of the client script for file or folder restore.
        type: string
        required: false
      scriptExtension:
        description: 'File extension of the client script for the file or folder restore. Some examples of the extension are: .ps1 and .sh.'
        type: string
        required: false
  DailyRetentionFormat:
    description: Daily retention format.
    properties:
      daysOfTheMonth:
        description: List of days of the month.
        items:
          type: Day
        type: array
        required: false
  DailyRetentionSchedule:
    description: Daily retention schedule.
    properties:
      retentionDuration:
        description: The retention duration of retention policy.
        type: RetentionDuration
        required: false
      retentionTimes:
        description: The retention times of retention policy.
        items:
          format: rfc3339
          type: datetime
        type: array
        required: false
  Day:
    description: Day of the week.
    properties:
      date:
        format: int32
        type: integer
        required: false
      isLast:
        type: boolean
        required: false
  DpmBackupEngine:
    type: BackupEngineBase
  DpmErrorInfo:
    description: DPM workload-specific error information.
    properties:
      errorString:
        description: Localized error string.
        type: string
        required: false
      recommendations:
        description: The list of localized recommendations for the error string.
        items:
          type: string
        type: array
        required: false
  DpmJob:
    type: Job
  DpmJobExtendedInfo:
    description: Additional information on the DPM workload-specific job.
    properties:
      dynamicErrorMessage:
        description: Non-localized error message on job execution.
        type: string
        required: false
      propertyBag:
        additionalProperties:
          type: string
        description: The job properties.
        type: object
        required: false
      tasksList:
        description: List of tasks associated with this job.
        items:
          type: DpmJobTaskDetails
        type: array
        required: false
  DpmJobTaskDetails:
    description: DPM workload-specific job task details.
    properties:
      duration:
        description: The time elapsed for task.
        format: duration
        type: string
        facets:
          format: string
        required: false
      endTime:
        description: The end time.
        format: rfc3339
        type: datetime
        required: false
      startTime:
        description: The start time.
        format: rfc3339
        type: datetime
        required: false
      status:
        description: The status.
        type: string
        required: false
      taskId:
        description: The task display name.
        type: string
        required: false
  EncryptionDetails:
    description: Details needed if the VM was encrypted at the time of backup.
    properties:
      encryptionEnabled:
        description: Identifies whether the backup copy represents an encrypted VM at the time of backup.
        type: boolean
        required: false
      kekUrl:
        description: URL of the Key Encryption Key (KEK).
        type: string
        required: false
      kekVaultId:
        description: The ID of Key Vault where the Key Encryption Key (KEK) is stored.
        type: string
        required: false
      secretKeyUrl:
        description: URL of the Bitlocker Encryption Key (BEK).
        type: string
        required: false
      secretKeyVaultId:
        description: 'The ID of Key Vault where the Bitlocker Encryption Key (BEK), or Secret, is stored.'
        type: string
        required: false
  ExportJobsOperationResultInfo:
    type: OperationResultInfoBase
  GenericRecoveryPoint:
    type: RecoveryPoint
  GetProtectedItemQueryObject:
    description: This object filters the list of backup items.
    properties:
      expand:
        description: Specifies if the additional information should be provided for this item.
        type: string
        required: false
  ILRRequest:
    description: Parameters to restore file or folders API.
    discriminator: objectType
    properties:
      objectType:
        description: This property is used as the discriminator for deciding the specific types in the polymorhpic chain of types.
        type: string
        required: false
  ILRRequestResource:
    type: Resource
  IaaSVMContainer:
    type: ProtectionContainer
  IaaSVMProtectableItem:
    type: WorkloadProtectableItem
  IaasVMBackupRequest:
    type: BackupRequest
  IaasVMILRRegistrationRequest:
    type: ILRRequest
  IaasVMRecoveryPoint:
    type: RecoveryPoint
  IaasVMRestoreRequest:
    type: RestoreRequest
  InstantItemRecoveryTarget:
    description: Target details for the file or folder restore.
    properties:
      clientScripts:
        description: List of client scripts.
        items:
          type: ClientScriptForConnect
        type: array
        required: false
  Job:
    description: Defines workload-agnostic properties for a job.
    discriminator: jobType
    properties:
      activityId:
        description: ActivityId of job.
        type: string
        required: false
      backupManagementType:
        description: The backup management type for the current job.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      endTime:
        description: The end time.
        format: rfc3339
        type: datetime
        required: false
      entityFriendlyName:
        description: The friendly name of the entity on which the current job is executing.
        type: string
        required: false
      jobType:
        description: This property is the discriminator for deciding between the specific types in the polymorhpic chain of types.
        type: string
        required: false
      operation:
        description: The operation name.
        type: string
        required: false
      startTime:
        description: The start time.
        format: rfc3339
        type: datetime
        required: false
      status:
        description: The job status.
        type: string
        required: false
  JobQueryObject:
    description: The filters to list the jobs.
    properties:
      backupManagementType:
        description: Type of backup managmenent for the job.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      endTime:
        description: The time when the job ends. The value is in UTC.
        format: rfc3339
        type: datetime
        required: false
      jobId:
        description: The ID of the job. Each jobID is unique.
        type: string
        required: false
      operation:
        description: The type of operation.
        enum:
          - Invalid
          - ConfigureBackup
          - Backup
          - Restore
          - DisableBackup
          - DeleteBackupData
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: JobOperationType
      startTime:
        description: The time when the job starts. The value is in UTC.
        format: rfc3339
        type: datetime
        required: false
      status:
        description: Status of the job.
        enum:
          - Invalid
          - InProgress
          - Completed
          - Failed
          - CompletedWithWarnings
          - Cancelled
          - Cancelling
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: JobStatus
  JobResource:
    type: Resource
  JobResourceList:
    type: ResourceList
  KEKDetails:
    description: The Key Encryption Key (KEK) is the encryption key for the Bitlocker Encryption Key (BEK).
    properties:
      keyBackupData:
        description: Key Backup Data refers to Key Encryption Key (KEK) data.
        type: string
        required: false
      keyUrl:
        description: Key refers to the Key Encryption Key (KEK). The KEK is the Key to unlock the Secret.
        type: string
        required: false
      keyVaultId:
        description: Key Vault ID identifies where the KEK is stored.
        type: string
        required: false
  KeyAndSecretDetails:
    description: "BEK stands for Bitlocker Encryption Key.\r\n KEK stands for Key Encryption Key. KEK is the encryption key used to protect the Secret for the BEK\r\n  If the VM is encrypted, then the service stores the following details :\r\n  1. Secret(BEK) - Url + Backup Data + vaultID.\r\n            2. Key(KEK) - Url + Backup Data + vaultID.\r\n   It is possible for the BEK and KEK to have different vaultIDs."
    properties:
      bekDetails:
        description: BEK is Bitlocker Encrpytion Key.
        type: BEKDetails
        required: false
      kekDetails:
        description: The Key Encryption Key (KEK) is the encryption key for the Bitlocker Encryption Key (BEK).
        type: KEKDetails
        required: false
  LongTermRetentionPolicy:
    type: RetentionPolicy
  LongTermSchedulePolicy:
    type: SchedulePolicy
  MabContainer:
    type: ProtectionContainer
  MabContainerExtendedInfo:
    description: Additional information for the container.
    properties:
      backupItemType:
        description: The type of backup items associated with this container.
        enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - DPMUnknown
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupItemType
      backupItems:
        description: The list of backup items associated with this container.
        items:
          type: string
        type: array
        required: false
      lastBackupStatus:
        description: The latest backup status of this container.
        type: string
        required: false
      lastRefreshedAt:
        description: The time stamp when this container was refreshed.
        format: rfc3339
        type: datetime
        required: false
      policyName:
        description: The backup policy associated with this container.
        type: string
        required: false
  MabErrorInfo:
    description: Azure Backup Server workload-specific error information.
    properties:
      errorString:
        description: Localized error string.
        type: string
        required: false
      recommendations:
        description: List of localized recommendations.
        items:
          type: string
        type: array
        required: false
  MabFileFolderProtectedItem:
    type: ProtectedItem
  MabFileFolderProtectedItemExtendedInfo:
    description: Additional information for the backup item.
    properties:
      lastRefreshedAt:
        description: The last day and time the agent synced with the service.
        format: rfc3339
        type: datetime
        required: false
      oldestRecoveryPoint:
        description: The oldest backup copy available.
        format: rfc3339
        type: datetime
        required: false
      recoveryPointCount:
        description: The number of backup copies associated with the backup item.
        format: int32
        type: integer
        required: false
  MabJob:
    type: Job
  MabJobExtendedInfo:
    description: Additional information for the Azure Backup Server workload-specific job.
    properties:
      dynamicErrorMessage:
        description: Non-localized error message specific to this job.
        type: string
        required: false
      propertyBag:
        additionalProperties:
          type: string
        description: The job properties.
        type: object
        required: false
      tasksList:
        description: List of tasks for this job.
        items:
          type: MabJobTaskDetails
        type: array
        required: false
  MabJobTaskDetails:
    description: Azure Backup Server workload-specific job task details.
    properties:
      duration:
        description: Time elapsed for task.
        format: duration
        type: string
        facets:
          format: string
        required: false
      endTime:
        description: The end time.
        format: rfc3339
        type: datetime
        required: false
      startTime:
        description: The start time.
        format: rfc3339
        type: datetime
        required: false
      status:
        description: The status.
        type: string
        required: false
      taskId:
        description: The task display name.
        type: string
        required: false
  MabProtectionPolicy:
    type: ProtectionPolicy
  MonthlyRetentionSchedule:
    description: The monthly retention schedule.
    properties:
      retentionDuration:
        description: Retention duration of the retention policy.
        type: RetentionDuration
        required: false
      retentionScheduleDaily:
        description: Daily retention format for the monthly retention policy.
        type: DailyRetentionFormat
        required: false
      retentionScheduleFormatType:
        description: Retention schedule format type for monthly retention policy.
        enum:
          - Invalid
          - Daily
          - Weekly
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: RetentionScheduleFormat
      retentionScheduleWeekly:
        description: Weekly retention format for the monthly retention policy.
        type: WeeklyRetentionFormat
        required: false
      retentionTimes:
        description: Retention times of the retention policy.
        items:
          format: rfc3339
          type: datetime
        type: array
        required: false
  Object:
    description: Base of all objects.
    type: object
  OperationResultInfo:
    type: OperationResultInfoBase
  OperationResultInfoBase:
    description: The base class for operation result information.
    discriminator: objectType
    properties:
      objectType:
        description: This property is the discriminator for deciding between the specific types in the polymorhpic chain of types.
        type: string
        required: false
  OperationResultInfoBaseResource:
    type: OperationWorkerResponse
  OperationStatus:
    description: Operation status.
    properties:
      endTime:
        description: The operation end time. The format of the time is ISO-8601.
        format: rfc3339
        type: datetime
        required: false
      error:
        description: Error information related to this operation.
        type: OperationStatusError
        required: false
      id:
        description: ID of the operation.
        type: string
        required: false
      name:
        description: Name of the operation.
        type: string
        required: false
      properties:
        description: Additional information associated with this operation.
        type: OperationStatusExtendedInfo
        required: false
      startTime:
        description: The operation start time. The format of the time is ISO-8601.
        format: rfc3339
        type: datetime
        required: false
      status:
        description: Operation status.
        enum:
          - Invalid
          - InProgress
          - Succeeded
          - Failed
          - Canceled
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: OperationStatusValues
  OperationStatusError:
    description: Error information associated with the operation status call.
    properties:
      code:
        description: The error code for the failed operation.
        type: string
        required: false
      message:
        description: The error message for the failed operation.
        type: string
        required: false
  OperationStatusExtendedInfo:
    description: The base class for additional information about the operation status.
    discriminator: objectType
    properties:
      objectType:
        description: 'This property is used as the discriminator for deciding between types, in the polymorhpic chain of types.'
        type: string
        required: false
  OperationStatusJobExtendedInfo:
    type: OperationStatusExtendedInfo
  OperationStatusJobsExtendedInfo:
    type: OperationStatusExtendedInfo
  OperationStatusProvisionILRExtendedInfo:
    type: OperationStatusExtendedInfo
  OperationWorkerResponse:
    description: The base class for operation result responses.
    properties:
      Headers:
        additionalProperties:
          items:
            type: string
          type: array
        description: The HTTP headers associated with this operation.
        type: object
        required: false
      statusCode:
        description: The HTTP status code of the operation.
        enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - Ambiguous
          - MovedPermanently
          - Moved
          - Found
          - Redirect
          - SeeOther
          - RedirectMethod
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - RedirectKeepVerb
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: HttpStatusCode
  ProtectedItem:
    description: The base class for backup items.
    discriminator: protectedItemType
    properties:
      backupManagementType:
        description: The backup managemenent type associated with the backup item.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      lastRecoveryPoint:
        description: The timestamp when the most recent backup copy was created for this backup item.
        format: rfc3339
        type: datetime
        required: false
      policyId:
        description: The ID of the backup policy associated with this backup item.
        type: string
        required: false
      protectedItemType:
        description: The backup item type.
        type: string
        required: false
      sourceResourceId:
        description: The ID of the resource to be backed up.
        type: string
        required: false
      workloadType:
        description: The workload type for this item.
        enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - DPMUnknown
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: DataSourceType
  ProtectedItemQueryObject:
    description: Filters the list of backup items.
    properties:
      backupManagementType:
        description: The backup management type associated with an item.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      containerName:
        description: The name of the container.
        type: string
        required: false
      itemType:
        description: The workload type associated with an item.
        enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - DPMUnknown
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: DataSourceType
      policyName:
        description: The name of the backup policy associated with the item.
        type: string
        required: false
  ProtectedItemResource:
    type: Resource
  ProtectedItemResourceList:
    type: ResourceList
  ProtectionContainer:
    description: The base class for a container with backup items. Containers with specific workloads are derived from this class.
    discriminator: protectableObjectType
    properties:
      backupManagementType:
        description: The backup managemenent type for the container.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
      containerType:
        description: 'The type assigned to the container. The values to use for each of these propertes are:<br/> 1. Compute Azure VM is Microsoft.Compute/virtualMachines<br/> 2. Classic Compute Azure VM is Microsoft.ClassicCompute/virtualMachines<br/> 3. Windows machines (like Azure Backup Server and DPM) is Windows<br/> 4. Azure SQL instance is AzureSqlContainer.'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      friendlyName:
        description: Friendly name of the container.
        type: string
        required: false
      healthStatus:
        description: The status of the container's health.
        type: string
        required: false
      protectableObjectType:
        description: The protectable object type associated with the container.
        type: string
        required: false
      registrationStatus:
        description: The container's registration status with the Recovery Services vault.
        type: string
        required: false
  ProtectionContainerResource:
    type: Resource
  ProtectionContainerResourceList:
    type: ResourceList
  ProtectionPolicy:
    description: The base class for a backup policy. Workload-specific backup policies are derived from this class.
    discriminator: backupManagementType
    properties:
      backupManagementType:
        description: This property is used as the discriminator for deciding the specific types in the polymorhpic chain of types.
        type: string
        required: false
      protectedItemsCount:
        description: The number of items associated with this policy.
        format: int32
        type: integer
        required: false
  ProtectionPolicyQueryObject:
    description: This object filters the list of backup policies.
    properties:
      backupManagementType:
        description: The backup management type associated with the backup policy.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: BackupManagementType
  ProtectionPolicyResource:
    type: Resource
  ProtectionPolicyResourceList:
    type: ResourceList
  RecoveryPoint:
    description: The base class for backup copies. Workload-specific backup copies are derived from this class.
    discriminator: objectType
    properties:
      objectType:
        description: This property is used as the discriminator for deciding the specific types in the polymorhpic chain of types.
        type: string
        required: false
  RecoveryPointResource:
    type: Resource
  RecoveryPointResourceList:
    type: ResourceList
  Resource:
    description: Base for all resources.
    properties:
      eTag:
        description: Optional ETag.
        type: string
        required: false
      id:
        description: Resource ID represents the complete path to the resource.
        type: string
        required: false
      location:
        description: Resource location.
        type: string
        required: false
      name:
        description: Resource name associated with the resource.
        type: string
        required: false
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        required: false
      type:
        description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
        type: string
        required: false
  ResourceList:
    description: Base for all lists of resources.
    properties:
      nextLink:
        description: The URI to GET the next page of resources. Call ListNext() gets the next page of resources.
        type: string
        required: false
  RestoreRequest:
    description: The base class for restore requests. Workload-specific restore requests are derived from this class.
    discriminator: objectType
    properties:
      objectType:
        description: This property is used as the discriminator for deciding the specific types in the polymorhpic chain of types.
        type: string
        required: false
  RestoreRequestResource:
    type: Resource
  RetentionDuration:
    description: Retention duration.
    properties:
      count:
        description: "Count of the duration types. Retention duration is determined by the combining the Count times and durationType. \r\n   For example, if Count = 3 and durationType = Weeks, then the retention duration is three weeks."
        format: int32
        type: integer
        required: false
      durationType:
        description: The retention duration type of the retention policy.
        enum:
          - Invalid
          - Days
          - Weeks
          - Months
          - Years
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: RetentionDurationType
  RetentionPolicy:
    description: The base class for retention policy.
    discriminator: retentionPolicyType
    properties:
      retentionPolicyType:
        description: This property is used as the discriminator for deciding the specific types in the polymorhpic chain of types.
        type: string
        required: false
  SchedulePolicy:
    description: The base class for backup schedules.
    discriminator: schedulePolicyType
    properties:
      schedulePolicyType:
        description: This property is used as the discriminator for deciding the specific types in the polymorhpic chain of types.
        type: string
        required: false
  SimpleRetentionPolicy:
    type: RetentionPolicy
  SimpleSchedulePolicy:
    type: SchedulePolicy
  WeeklyRetentionFormat:
    description: Weekly retention format.
    properties:
      daysOfTheWeek:
        description: List of days of the week.
        items:
          enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: DayOfWeek
        type: array
        required: false
      weeksOfTheMonth:
        description: List of weeks of the month.
        items:
          enum:
            - First
            - Second
            - Third
            - Fourth
            - Last
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: WeekOfMonth
        type: array
        required: false
  WeeklyRetentionSchedule:
    description: Weekly retention schedule.
    properties:
      daysOfTheWeek:
        description: List of the days of the week for the weekly retention policy.
        items:
          enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: DayOfWeek
        type: array
        required: false
      retentionDuration:
        description: Retention duration of retention policy.
        type: RetentionDuration
        required: false
      retentionTimes:
        description: Retention times of the retention policy.
        items:
          format: rfc3339
          type: datetime
        type: array
        required: false
  WorkloadProtectableItem:
    description: The base class for backup item. Workload-specific backup items are derived from this class.
    discriminator: protectableItemType
    properties:
      backupManagementType:
        description: The backup managemenent type.
        type: string
        required: false
      friendlyName:
        description: The friendly name of the backup item.
        type: string
        required: false
      protectableItemType:
        description: The type of the backup item.
        type: string
        required: false
      protectionState:
        description: The state of the back up item.
        enum:
          - Invalid
          - NotProtected
          - Protecting
          - Protected
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: ProtectionStatus
  WorkloadProtectableItemResource:
    type: Resource
  WorkloadProtectableItemResourceList:
    type: ResourceList
  YearlyRetentionSchedule:
    description: Yearly retention schedule.
    properties:
      monthsOfYear:
        description: List of the months of year for the yearly retention policy.
        items:
          enum:
            - Invalid
            - January
            - February
            - March
            - April
            - May
            - June
            - July
            - August
            - September
            - October
            - November
            - December
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: MonthOfYear
        type: array
        required: false
      retentionDuration:
        description: Retention duration for the retention policy.
        type: RetentionDuration
        required: false
      retentionScheduleDaily:
        description: Daily retention format for the yearly retention policy.
        type: DailyRetentionFormat
        required: false
      retentionScheduleFormatType:
        description: Retention schedule format for the yearly retention policy.
        enum:
          - Invalid
          - Daily
          - Weekly
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: RetentionScheduleFormat
      retentionScheduleWeekly:
        description: Weekly retention format for the yearly retention policy.
        type: WeeklyRetentionFormat
        required: false
      retentionTimes:
        description: Retention times for the retention policy.
        items:
          format: rfc3339
          type: datetime
        type: array
        required: false
traits:
  apiVersion:
    queryParameters:
      api-version:
        type: string
        description: Client Api Version.
        required: true
