#%RAML 1.0
title: ApiManagementClient
version: '2016-07-07'
baseUri: 'https://management.azure.com'
mediaType: application/json
protocols:
  - HTTPS
description: Use these REST APIs to manage Azure API Management deployment.
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-apimanagement/2016-07-07/swagger/apimdeployment.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): azure.com
  (oas-x-serviceName): arm-apimanagement-apimdeployment
  (oas-x-tags):
    - Azure
    - Microsoft
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-tags: any
  oas-x-ms-long-running-operation: any
  oas-x-ms-pageable: any
  oas-x-ms-client-flatten: any
  oas-x-ms-enum: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow.
/subscriptions:
  displayName: subscriptions
  '/{subscriptionId}':
    displayName: '{subscriptionId}'
    /resourceGroups:
      displayName: resourceGroups
      '/{resourceGroupName}':
        displayName: '{resourceGroupName}'
        /providers:
          displayName: providers
          /Microsoft.ApiManagement:
            displayName: Microsoft.ApiManagement
            /service:
              displayName: service
              '/{serviceName}':
                displayName: '{serviceName}'
                uriParameters:
                  serviceName:
                    description: The name of the API Management service.
                    maxLength: 50
                    minLength: 1
                    pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
                    required: true
                    type: string
                put:
                  displayName: ApiManagementServices_CreateOrUpdate
                  description: Creates or updates an API Management service. This is long running operation and could take several minutes to complete.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ApiManagementServiceResource
                      (oas-body-name): parameters
                      description: Parameters supplied to the CreateOrUpdate API Management service operation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: Error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApiManagementServiceResource
                      description: The service was successfully set up.
                    '201':
                      body:
                        application/json:
                          type: ApiManagementServiceResource
                      description: Created
                    '202':
                      description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                  (oas-tags):
                    - ApiManagementService
                /updatehostname:
                  displayName: updatehostname
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApiManagementServices_UpdateHostname
                    description: 'Creates, updates, or deletes the custom hostnames for an API Management service. The custom hostname can be applied to the Proxy and Portal endpoint. This is a long running operation and could take several minutes to complete.'
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ApiManagementServiceUpdateHostnameParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the UpdateHostname operation.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ApiManagementServiceResource
                        description: Service was successfully updated with desired hostnames.
                    (oas-tags):
                      - ApiManagementService
                /backup:
                  displayName: backup
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApiManagementServices_Backup
                    description: Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several minutes to complete.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ApiManagementServiceBackupRestoreParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the ApiManagementServices_Backup operation.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ApiManagementServiceResource
                        description: Successfully backed up the API Management service to the storage account.
                      '202':
                        description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                    (oas-tags):
                      - ApiManagementService
                /updatecertificate:
                  displayName: updatecertificate
                  post:
                    displayName: ApiManagementServices_UploadCertificate
                    description: Upload Custom Domain SSL certificate for an API Management service.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ApiManagementServiceUploadCertificateParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the Upload SSL certificate for an API Management service operation.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: CertificateInformation
                        description: Successfully uploaded certificate to the API Management Service.
                    (oas-tags):
                      - ApiManagementService
                /restore:
                  displayName: restore
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApiManagementServices_Restore
                    description: Restores a backup of an API Management service created using the ApiManagementServices_Backup operation on the current service. This is a long running operation and could take several minutes to complete.
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ApiManagementServiceBackupRestoreParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the Restore API Management service from backup operation.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ApiManagementServiceResource
                        description: Successfully restored the backup onto the API Management service.
                      '202':
                        description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                    (oas-tags):
                      - ApiManagementService
                /managedeployments:
                  displayName: managedeployments
                  post:
                    (oas-x-ms-long-running-operation): true
                    displayName: ApiManagementServices_ManageDeployments
                    description: 'Manages deployments of an API Management service. This operation can be used to do the following: Change SKU, Change SKU Units, Change Service Tier (Developer/Standard/Premium) and Manage VPN Configuration. This is a long running operation and can take several minutes to complete.'
                    is:
                      - apiVersionParameter
                    body:
                      application/json:
                        type: ApiManagementServiceManageDeploymentsParameters
                        (oas-body-name): parameters
                        description: Parameters supplied to the ManageDeployments operation.
                    (oas-responses-default):
                      body:
                        application/json:
                          type: ErrorResponse
                      description: Error response describing why the operation failed.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ApiManagementServiceResource
                        description: Successfully applied the new deployment Configuration on the API Management service.
                      '202':
                        description: Accepted. The location header contains the URL where the status of the long running operation can be checked.
                    (oas-tags):
                      - ApiManagementService
                /getssotoken:
                  displayName: getssotoken
                  get:
                    displayName: ApiManagementServices_GetSsoToken
                    description: Gets the Single-Sign-On token for the API Management Service which is valid for 5 Minutes.
                    is:
                      - apiVersionParameter
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ApiManagementServiceGetSsoTokenResult
                            (oas-x-ms-client-flatten): true
                        description: OK if successful with the SSO Redirect URI.
                    (oas-tags):
                      - ApiManagementService
                delete:
                  displayName: ApiManagementServices_Delete
                  description: Deletes an existing API Management service.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      description: Service was successfully deleted.
                    '204':
                      description: Service is already deleted.
                    '404':
                      body:
                        application/json:
                          type: ErrorResponse
                      description: ApiManagement Service not found.
                  (oas-tags):
                    - ApiManagementService
                patch:
                  (oas-x-ms-long-running-operation): true
                  displayName: ApiManagementServices_Update
                  description: Updates an existing API Management service.
                  is:
                    - apiVersionParameter
                  body:
                    application/json:
                      type: ApiManagementServiceBaseParameters
                      (oas-body-name): parameters
                      description: Parameters supplied to the CreateOrUpdate API Management service operation.
                  (oas-responses-default):
                    body:
                      application/json:
                        type: ErrorResponse
                    description: Error response describing why the operation failed.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApiManagementServiceResource
                      description: Successfully updated the current API Management service.
                    '202':
                      description: 'Accepted: Location header contains the URL where the status of the long running operation can be checked.'
                  (oas-tags):
                    - ApiManagementService
                get:
                  displayName: ApiManagementServices_Get
                  description: Gets an API Management service resource description.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApiManagementServiceResource
                      description: Successfully got the API Management Service Resource.
                    '404':
                      body:
                        application/json:
                          type: ErrorResponse
                      description: ApiManagement Service not found.
                  (oas-tags):
                    - ApiManagementService
              /:
                get:
                  (oas-x-ms-pageable):
                    nextLinkName: nextLink
                  displayName: ApiManagementServices_ListByResourceGroup
                  description: List all API Management services within a resource group.
                  is:
                    - apiVersionParameter
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ApiManagementServiceListResult
                      description: The API Management service list.
                  (oas-tags):
                    - ApiManagementService
    /providers:
      displayName: providers
      /Microsoft.ApiManagement:
        displayName: Microsoft.ApiManagement
        /checkNameAvailability:
          displayName: checkNameAvailability
          post:
            displayName: ApiManagementServices_CheckNameAvailability
            description: Checks availability and correctness of a name for an API Management service.
            is:
              - apiVersionParameter
            body:
              application/json:
                type: ApiManagementServiceCheckNameAvailabilityParameters
                (oas-body-name): parameters
                description: Parameters supplied to the CheckNameAvailability operation.
            responses:
              '200':
                body:
                  application/json:
                    type: ApiManagementServiceNameAvailabilityResult
                description: The result of check name availability.
            (oas-tags):
              - ApiManagementService
        /service:
          displayName: service
          /:
            get:
              (oas-x-ms-pageable):
                nextLinkName: nextLink
              displayName: ApiManagementServices_List
              description: Lists all API Management services within an Azure subscription.
              is:
                - apiVersionParameter
              responses:
                '200':
                  body:
                    application/json:
                      type: ApiManagementServiceListResult
                  description: The API Management service list.
              (oas-tags):
                - ApiManagementService
types:
  AdditionalRegion:
    description: Description of an additional API Management resource location.
    properties:
      location:
        description: The location name of the additional region among Azure Data center regions.
        type: string
      skuType:
        description: The SKU type in the location.
        enum:
          - Developer
          - Standard
          - Premium
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: SkuType
      skuUnitCount:
        default: 1
        description: 'The SKU Unit count at the location. The maximum SKU Unit count depends on the SkuType. Maximum allowed for Developer SKU is 1, for Standard SKU is 4, and for Premium SKU is 10, at a location.'
        format: int32
        maximum: 10
        type: integer
        required: false
      staticIPs:
        description: Static IP addresses of the location's virtual machines.
        items:
          type: string
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      vpnconfiguration:
        description: Virtual network configuration for the location.
        type: VirtualNetworkConfiguration
        required: false
  ApiManagementServiceBackupRestoreParameters:
    description: Parameters supplied to the Backup/Restore of an API Management service operation.
    properties:
      accessKey:
        description: Azure Cloud Storage account (used to place/retrieve the backup) access key.
        type: string
      backupName:
        description: The name of the backup file to create.
        type: string
      containerName:
        description: Azure Cloud Storage blob container name used to place/retrieve the backup.
        type: string
      storageAccount:
        description: Azure Cloud Storage account (used to place/retrieve the backup) name.
        type: string
  ApiManagementServiceBaseParameters:
    description: Parameters supplied to the Update API Management service operation.
    properties:
      properties:
        description: Properties of the API Management service.
        type: ApiManagementServiceProperties
        required: false
        (oas-x-ms-client-flatten): true
      sku:
        description: SKU properties of the API Management service.
        type: ApiManagementServiceSkuProperties
        required: false
      tags:
        description: 'API Management service tags. A maximum of 10 tags can be provided for a resource, and each tag must have a key no greater than 128 characters (and a value no greater than 256 characters).'
        type: object
        required: false
        properties:
          //:
            type: string
  ApiManagementServiceCheckNameAvailabilityParameters:
    description: Parameters supplied to the CheckNameAvailability operation.
    properties:
      name:
        description: The name to check for availability.
        type: string
  ApiManagementServiceGetSsoTokenResult:
    description: The response of the GetSsoToken operation.
    properties:
      redirect_uri:
        description: Redirect URL containing the SSO token.
        type: string
        required: false
  ApiManagementServiceListResult:
    description: The response of the List API Management services operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of API Management services.
        type: string
        required: false
      value:
        description: Result of the List API Management services operation.
        items:
          type: ApiManagementServiceResource
        type: array
  ApiManagementServiceManageDeploymentsParameters:
    description: Parameters supplied to the ManageDeployments operation.
    properties:
      additionalLocations:
        description: Additional data center locations for the API Management service.
        items:
          type: AdditionalRegion
        type: array
        required: false
      location:
        description: Location of the API Management service Azure data center.
        type: string
      skuType:
        description: SKU type of the API Management service.
        enum:
          - Developer
          - Standard
          - Premium
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: SkuType
      skuUnitCount:
        default: 1
        description: SKU Unit count of the API Management service. Default value is 1.
        format: int32
        type: integer
        required: false
      vpnConfiguration:
        description: Virtual network configuration.
        type: VirtualNetworkConfiguration
        required: false
      vpnType:
        default: None
        description: 'The type of VPN in which API Managemet service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that the API Management service deployment is set up inside a Virtual Network having an Intranet Facing Endpoint only. When vpnConfiguration is specified, vpnType must be specified.'
        enum:
          - None
          - External
          - Internal
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: VirtualNetworkType
  ApiManagementServiceNameAvailabilityResult:
    description: Response of the CheckNameAvailability operation.
    properties:
      message:
        description: 'If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that <resourceName> is already in use, and direct them to select a different name.'
        type: string
        required: false
      nameAvailable:
        description: True if the name is available and can be used to create a new API Management service; otherwise false.
        type: boolean
      reason:
        description: 'Invalid indicates the name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.)  AlreadyExists indicates that the name is already in use and is therefore unavailable.'
        enum:
          - Valid
          - Invalid
          - AlreadyExists
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: NameAvailabilityReason
  ApiManagementServiceProperties:
    description: Properties of an API Management service resource description.
    properties:
      additionalLocations:
        description: Additional datacenter locations of the API Management service.
        items:
          type: AdditionalRegion
        type: array
        required: false
      addresserEmail:
        description: Addresser email.
        type: string
        required: false
      createdAtUtc:
        description: 'Creation UTC date of the API Management service.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.'
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      customProperties:
        description: 'Custom properties of the API Management service, like disabling TLS 1.0.'
        type: object
        required: false
        properties:
          //:
            type: string
      hostnameConfigurations:
        description: Custom hostname configuration of the API Management service.
        items:
          type: HostnameConfiguration
        type: array
        required: false
      managementApiUrl:
        description: Management API endpoint URL of the API Management service.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      portalUrl:
        description: Publisher portal endpoint Url of the API Management service.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      provisioningState:
        description: 'The current provisioning state of the API Management service which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      publisherEmail:
        description: Publisher email.
        maxLength: 100
        type: string
      publisherName:
        description: Publisher name.
        type: string
      runtimeUrl:
        description: Proxy endpoint URL of the API Management service.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      scmUrl:
        description: SCM endpoint URL of the API Management service.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      staticIPs:
        description: Static IP addresses of the API Management service virtual machines. Available only for Standard and Premium SKU.
        items:
          type: string
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
      targetProvisioningState:
        description: 'The provisioning state of the API Management service, which is targeted by the long running operation started on the service.'
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      vpnType:
        default: None
        description: 'The type of VPN in which API Managemet service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that API Management deployment is setup inside a Virtual Network having an Intranet Facing Endpoint only.'
        enum:
          - None
          - External
          - Internal
        type: string
        required: false
        (oas-x-ms-enum):
          modelAsString: false
          name: VirtualNetworkType
      vpnconfiguration:
        description: Virtual network configuration of the API Management service.
        type: VirtualNetworkConfiguration
        required: false
  ApiManagementServiceResource:
    type: ApiManagementServiceBaseParameters
  ApiManagementServiceSkuProperties:
    description: API Management service resource SKU properties.
    properties:
      capacity:
        default: 1
        description: Capacity of the SKU (number of deployed units of the SKU). The default value is 1.
        format: int32
        type: integer
        required: false
      name:
        description: Name of the Sku.
        enum:
          - Developer
          - Standard
          - Premium
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: SkuType
        (oas-externalDocs):
          url: 'https://azure.microsoft.com/en-us/pricing/details/api-management/'
  ApiManagementServiceUpdateHostnameParameters:
    description: Parameters supplied to the UpdateHostname operation.
    properties:
      delete:
        description: Hostnames types to delete.
        items:
          enum:
            - Proxy
            - Portal
            - Management
            - Scm
          type: string
          (oas-x-ms-enum):
            modelAsString: false
            name: HostnameType
        type: array
        required: false
      update:
        description: Hostnames to create or update.
        items:
          type: HostnameConfiguration
        type: array
        required: false
  ApiManagementServiceUploadCertificateParameters:
    description: Parameters supplied to the Upload SSL certificate for an API Management service operation.
    properties:
      certificate:
        description: Base64 Encoded certificate.
        type: string
      certificate_password:
        description: Certificate password.
        type: string
      type:
        description: Hostname type.
        enum:
          - Proxy
          - Portal
          - Management
          - Scm
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: HostnameType
  CertificateInformation:
    description: SSL certificate information.
    properties:
      expiry:
        description: 'Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.'
        format: rfc3339
        type: datetime
      subject:
        description: Subject of the certificate.
        type: string
      thumbprint:
        description: Thumbprint of the certificate.
        type: string
  ErrorResponse:
    description: Error Response.
    properties:
      code:
        description: Error code.
        type: string
        required: false
      message:
        description: Error message indicating why the operation failed.
        type: string
        required: false
  HostnameConfiguration:
    description: Custom hostname configuration.
    properties:
      certificate:
        description: Certificate information.
        type: CertificateInformation
      hostname:
        description: Hostname.
        type: string
      type:
        description: Hostname type.
        enum:
          - Proxy
          - Portal
          - Management
          - Scm
        type: string
        (oas-x-ms-enum):
          modelAsString: false
          name: HostnameType
  VirtualNetworkConfiguration:
    description: Configuration of a virtual network to which API Management service is deployed.
    properties:
      location:
        description: The location of the virtual network.
        type: string
        required: false
      subnetResourceId:
        description: 'The name of the subnet Resource ID. This has format /subscriptions/{subid}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/{virtual network name}/subnets/{subnet name}.'
        type: string
        required: false
      subnetname:
        description: The name of the subnet.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      vnetid:
        description: The virtual network ID. This is typically a GUID. Expect a null GUID by default.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Version of the API to be used with the client request.
        required: true
