#%RAML 1.0
title: Backupify
version: 1.0.0
baseUri: 'https://api.backupify.com/'
protocols:
  - HTTPS
description: 'The Backupify API allows you to integrate the leading SaaS backup solution into your software, making it easy to give your customers the data protection they need. '
(oas-tags-definition):
  - description: 'BackupDefinition Variable index, creation, retrieval, and modification'
    name: backup_definition_variables
  - description: BackupDefinition index and retrieval
    name: backup_definitions
  - description: BackupInstance Endpoints index and retrieval
    name: backup_instance_endpoints
  - description: 'BackupInstance Variable index, creation, retrieval, and modification'
    name: backup_instance_variables
  - description: 'BackupInstance creation, retrieval, backup, and export'
    name: backup_instances
  - description: 'Backup index, retrieval, and creation'
    name: backups
  - description: 'Customer index, creation, retrieval, and modification'
    name: customers
  - description: EndpointRecord index and retrieval
    name: endpoint_records
  - description: 'Export index, retrieval, and creation'
    name: exports
  - description: Log viewer
    name: logs
  - description: OAuth2 Access Token retrieval
    name: tokens
  - description: Simple utilities for testing various API functions
    name: utils
  - description: Vendor retrieival
    name: vendors
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-tags: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apisguru-categories):
    - cloud
    - developer_tools
  (oas-x-logo):
    backgroundColor: '#1384CD'
    url: 'https://api.apis.guru/v2/cache/logo/http_www.datto.com_img_logo-white.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://api.backupify.com/docs/json/api.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): backupify.com
  (oas-x-tags):
    - backup
    - recovery
    - cloud-to-cloud
    - Google Apps
    - Office 365
    - Salesforce
/v1:
  displayName: v1
  /backup_instances:
    displayName: backup_instances
    '/{backup_instance_id}':
      displayName: '{backup_instance_id}'
      /endpoints:
        displayName: endpoints
        '/{endpoint_name}':
          displayName: '{endpoint_name}'
          uriParameters:
            endpoint_name:
              description: The name of the endpoint to retrieve as defined by the backup_definition of the specified backup_instance
              required: true
              type: string
          get:
            displayName: GET_v1-backup_instances-backup_instance_id-endpoints-endpoint_name
            description: You can only retrieve endpoints for backup_instances you have access to
            (oas-summary): Retrieve a specific endpoint by name for the specified backup_instance
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: backup_instance_endpoint
                description: Success - The specified endpoint for the specified backup_instance was successfully retrieved. The response is the requested backup_instance_endpoint.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
              '404':
                description: Not found - Either the requested backup_instance or endpoint could not be found. See error message for specific details.
            (oas-tags):
              - backup_instance_endpoints
          /records:
            displayName: records
            get:
              displayName: GET_v1-backup_instances-backup_instance_id-endpoints-endpoint_name-records
              description: 'You can only retrieve records for endpoints that belong to backup_instances you have access to. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
              (oas-summary): Retrieve a list of records stored for the specified endpoint and backup_instance
              headers:
                Authorization:
                  type: string
                  description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                  required: true
              responses:
                '200':
                  body:
                    application/json:
                      type: endpoint_record
                  description: Success - The list of records for the specified endpoint and backup_instance was successfully retrieved. The response contains the requested endpoint records.
                '401':
                  description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
                '404':
                  description: Not found - The requested backup_instance or endpoint could not be found. See response body for specific details.
              (oas-tags):
                - endpoint_records
            '/{record_id}':
              displayName: '{record_id}'
              uriParameters:
                record_id:
                  description: The id of the endpoint record to retrieve
                  required: true
                  type: string
              get:
                displayName: GET_v1-backup_instances-backup_instance_id-endpoints-endpoint_name-records-record_id
                description: You can only retrieve records for endpoints of backup_instances you have access to
                (oas-summary): Retrieve a specific record by id for the specified endpoint and backup_instance
                headers:
                  Authorization:
                    type: string
                    description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                    required: true
                responses:
                  '200':
                    body:
                      application/json:
                        type: endpoint_record
                    description: Success - The specified record for the specified endpoint was successfully retrieved. The response is the requested endpoint record.
                  '401':
                    description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
                  '404':
                    description: 'Not found - Either the requested backup_instance, endpoint, or endpoint record could not be found. See error message for specific details.'
                (oas-tags):
                  - endpoint_records
              /blob:
                displayName: blob
                get:
                  displayName: GET_v1-backup_instances-backup_instance_id-endpoints-endpoint_name-records-record_id-blob
                  description: You can only retrieve blobs for endpoints of backup_instances you have access to
                  (oas-summary): Retrieve the blob associated with the specified record for the specified endpoint and backup_instance
                  headers:
                    Access-Token:
                      type: string
                      description: Access Token granted from client credentials authorizing vendor to perform action
                      required: true
                  responses:
                    '200':
                      body:
                        application/json:
                          type: blob
                      description: Success - The specified blob was successfully retrieved. The response is a binary stream of the blob.
                    '401':
                      description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
                    '404':
                      description: 'Not found - Either the requested backup_instance, endpoint, endpoint record, or blob could not be found. See error message for specific details.'
                  (oas-tags):
                    - endpoint_records
        get:
          displayName: GET_v1-backup_instances-backup_instance_id-endpoints
          description: 'You can only retrieve endpoints for backup_instances you have access to. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
          (oas-summary): Retrieve a list of endpoints for the specified backup_instance
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: backup_instance_endpoint
              description: Success - The list of endpoints for the specified backup_instance was successfully retrieved. The response contains the requested backup_instance_endpoints.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance could not be found. See response body for specific details.
          (oas-tags):
            - backup_instance_endpoints
      /exports:
        displayName: exports
        get:
          displayName: GET_v1-backup_instances-backup_instance_id-exports
          description: 'You can only retrieve exports for backup_instances you have access to. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
          (oas-summary): Retrieve a list of exports for the specified backup_instance
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: export
              description: Success - The list of exports for the specified backup_instance were successfully retrieved. The response is a list of exports.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance could not be found
          (oas-tags):
            - exports
        post:
          displayName: POST_v1-backup_instances-backup_instance_id-exports
          description: Only backup_instances you have permission to manage can be exported
          (oas-summary): Perform an export of the most recent backup of the specified backup_instance
          body:
            multipart/form-data:
              properties:
                'export_run[force_full]':
                  default: false
                  description: 'Flag to force a full export, as opposed to re-authorizing an old export if the data is the same.'
                  type: boolean
                  required: false
                'export_run[backup_run_id]':
                  description: 'ID of a specific backup_run to export. Note: backup_run.ended_at will overwrite any value passed into for export_datetime'
                  format: int64
                  type: integer
                  required: false
                'export_run[export_datetime]':
                  description: 'Date (format: YYYY-MM-DD) from which to export. Data will be exported from the last backup_run on the date specified, or the most recent backup_run if no date is not given.'
                  type: string
                  required: false
                'export_run[export_formats]':
                  description: 'Comma separated list of export format options. Valid options: blobs, csv, json'
                  type: string
                  required: false
                'export_run[content_types]':
                  description: Comma separated list of blob content-types to export
                  type: string
                  required: false
                'export_run[send_confirmation]':
                  default: true
                  description: Flag to send a confirmation email w/export link upon completion.
                  type: boolean
                  required: false
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: export
              description: Success - An export has been enqueued for the requested backup_instance. The response is the export enqueued.
            '400':
              description: Bad request - See the response body for more information on the error. May be caused by requesting an export on a backup_instance that has no successful backups.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance could not be found
          (oas-tags):
            - exports
        '/{export_id}':
          displayName: '{export_id}'
          uriParameters:
            export_id:
              description: ID of the export to retrieve
              format: int64
              required: true
              type: integer
          get:
            displayName: GET_v1-backup_instances-backup_instance_id-exports-export_id
            description: You can only retrieve exports for backup_instances you have access to
            (oas-summary): Retrieve a specific export for the specified backup_instance
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: export
                description: Success - The specified export for the specified backup_instance was successfully retrieved. The response is the requested export.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
              '404':
                description: Not found - Either the requested backup_instance or export could not be found. See error message for specific details.
            (oas-tags):
              - exports
          /reauth:
            displayName: reauth
            post:
              displayName: POST_v1-backup_instances-backup_instance_id-exports-export_id-reauth
              description: You can only re-authorize an export when there's already a valid exported_data_url
              (oas-summary): Retrieve an updated exported_data_url for a specific export for the specified backup_instance
              headers:
                Authorization:
                  type: string
                  description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                  required: true
              responses:
                '200':
                  body:
                    application/json:
                      type: export_reauth
                  description: Success - The specified export for the specified backup_instance was successfully retrieved. The response is the requested export.
                '401':
                  description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
                '404':
                  description: Not found - Either the requested backup_instance or export could not be found. See error message for specific details.
              (oas-tags):
                - exports
      /logs:
        displayName: logs
        get:
          displayName: GET_v1-backup_instances-backup_instance_id-logs
          (oas-summary): Returns the logs for a given backup instance
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              description: Success - The logs were successfully retrieved and are contained in the response body.
            '400':
              description: Bad request - See the response body for more information on the error.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance could not be found
          queryParameters:
            date:
              description: 'Date (format: YYYY-MM-DD) for which to fetch logs (default: today).'
              type: string
          (oas-tags):
            - logs
        '/{scroll_id}':
          displayName: '{scroll_id}'
          uriParameters:
            scroll_id:
              description: scroll_id for pagination
              required: true
              type: string
          get:
            displayName: GET_v1-backup_instances-backup_instance_id-logs-scroll_id
            (oas-summary): Returns the logs for a given backup instance
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                description: Success - The logs were successfully retrieved and are contained in the response body.
              '400':
                description: Bad request - See the response body for more information on the error.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
              '404':
                description: Not found - The requested backup_instance could not be found
            (oas-tags):
              - logs
      uriParameters:
        backup_instance_id:
          description: ID of the backup_instance to retrieve
          format: int64
          required: true
          type: integer
      put:
        displayName: PUT_v1-backup_instances-backup_instance_id
        description: Only backup_instances you have permission to change can be modified
        (oas-summary): Modify the specified backup_instance
        body:
          multipart/form-data:
            properties:
              'backup_instance[backup_frequency]':
                description: Frequency with which scheduled backups will be performed
                enum:
                  - 'off'
                  - daily
                required: true
                type: string
        headers:
          Authorization:
            type: string
            description: Bearer Access Token granted from client credentials authorizing vendor to perform action
            required: true
        responses:
          '200':
            body:
              application/json:
                type: backup_instance
            description: Success - The backup_instance was successfully altered. Response body is the updated backup_instance.
          '400':
            description: Bad request - See response body for error specifics. Likely caused by attempting to update a read-only attribute or the omission of a required parameter.
          '401':
            description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action.
          '404':
            description: Not found - The requested backup_instance could not be found
        (oas-tags):
          - backup_instances
      /backups:
        displayName: backups
        post:
          displayName: POST_v1-backup_instances-backup_instance_id-backups
          description: Only backup_instances you have permission to manage can be backed up
          (oas-summary): Perform an immediate backup of the specified backup_instance
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: backup
              description: Success - A backup has been enqueued for the backup_instance. Response body is the backup that has been enqueued.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance could not be found
          (oas-tags):
            - backups
        '/{backup_id}':
          displayName: '{backup_id}'
          uriParameters:
            backup_id:
              description: ID of the backup to retrieve
              format: int64
              required: true
              type: integer
          get:
            displayName: GET_v1-backup_instances-backup_instance_id-backups-backup_id
            description: Only backups belonging to backup_instances you have permission to access can be retrieved
            (oas-summary): Retrieve the specified backup for the specified backup_instance
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: backup
                description: Success - The specified backup for the specified backup_instance was successfully retrieved. The response body is the requested backup.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
              '404':
                description: Not found - Either the requested backup_instance or backup could not be found. See error message for specific details.
            (oas-tags):
              - backups
        /active:
          displayName: active
          get:
            displayName: GET_v1-backup_instances-backup_instance_id-backups-active
            description: Only backups belonging to backup_instances you have permission to access can be retrieved
            (oas-summary): Retrieve the active backup for the specified backup_instance if one exists
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: backup
                description: Success - The specified active backup for the specified backup_instance was successfully retrieved. The response body is the requested backup.
              '204':
                description: No Content - The specified backup_instance was found but there is not currently a backup in progress. The response body contains no content.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
              '404':
                description: Not found - The requested backup_instance could not be found. See error message for specific details.
            (oas-tags):
              - backups
        get:
          displayName: GET_v1-backup_instances-backup_instance_id-backups
          description: 'Only backups belonging to backup_instances you have permission to manage can be retrieved. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
          (oas-summary): 'Retrieve a list of all backups for the specified backup_instance. '
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: backup
                  type: array
              description: Success - The list of backups for the specified backup_instance were successfully retrieved. The response body is the list of backups.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance could not be found
          (oas-tags):
            - backups
      /variables:
        displayName: variables
        get:
          displayName: GET_v1-backup_instances-backup_instance_id-variables
          description: 'You can only retrieve variables for backup_instances you have access to. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
          (oas-summary): Retrieve a list of variables for the specified backup_instance
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: backup_instance_variable
                  type: array
              description: Success - The list of variables for the specified backup_instance was successfully retrieved. The response is a list of backup_instance_variables.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance could not be found
          (oas-tags):
            - backup_instance_variables
        post:
          displayName: POST_v1-backup_instances-backup_instance_id-variables
          description: The key specified must refer to the key of a previously defined backup_definition variable. It is only possible to create variables for backup_instances you have permission to manage.
          (oas-summary): Create a custom variable value for the specified key for the specified backup_instance
          body:
            multipart/form-data:
              properties:
                'variable[key]':
                  description: 'The key, as defined by the backup_definition, to set a value for'
                  required: true
                  type: string
                'variable[value]':
                  description: The value or information to store for the specified key
                  required: true
                  type: string
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: backup_instance_variable
              description: Success - The request completed successfully and the variable was created. The response is backup_instance_variable created.
            '400':
              description: Bad request - See the response body for more infomation on the error. May indicate that a variable is already defined for the provided key.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_instance or variable key could not be found
          (oas-tags):
            - backup_instance_variables
        '/{key}':
          displayName: '{key}'
          uriParameters:
            key:
              description: The key of the variable to update as defined by the backup_definition of the specified backup_instance
              required: true
              type: string
          get:
            displayName: GET_v1-backup_instances-backup_instance_id-variables-key
            description: You can only retrieve variables for backup_instances you have access to
            (oas-summary): Retrieve a specific variable by key for the specified backup_instance
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: backup_instance_variable
                description: Success - The specified variable for the specified backup_instance was successfully retrieved. The response is the requested backup_instance_variable.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
              '404':
                description: Not found - Either the requested backup_instance or key could not be found. See error message for specific details.
            (oas-tags):
              - backup_instance_variables
          put:
            displayName: PUT_v1-backup_instances-backup_instance_id-variables-key
            description: You can only alter variables for backup_instances you have access to manage
            (oas-summary): Update the value of a variable by key for the specified backup_instance
            body:
              multipart/form-data:
                properties:
                  'variable[value]':
                    description: The updated data to store at the specified key
                    required: true
                    type: string
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: backup_instance_variable
                description: Success - The specified variable for the specified backup_instance was successfully updated. The response is the updated backup_instance_variable.
              '400':
                description: Bad request - See error body for specific details. Likely caused by the omission of a required parameter.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action.
              '404':
                description: Not found - Either the requested backup_instance or key could not be found. See error message for specific details.
            (oas-tags):
              - backup_instance_variables
      get:
        displayName: GET_v1-backup_instances-backup_instance_id
        description: Only backup_instances you have permission to view will be returned
        (oas-summary): Retrieve a backup_instance by backup_instance_id
        headers:
          Authorization:
            type: string
            description: Bearer Access Token granted from client credentials authorizing vendor to perform action
            required: true
        responses:
          '200':
            body:
              application/json:
                type: backup_instance
            description: Success - The backup_instance was successfully retrieved. Response body is the backup_instance.
          '401':
            description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
          '404':
            description: Not found - The requested backup_instance could not be found
        (oas-tags):
          - backup_instances
    post:
      displayName: POST_v1-backup_instances
      description: It is only possible to create backup_instances for customers you are authorized to modify
      (oas-summary): Create a new backup_instance from the specified backup_definition for the specified customer
      body:
        multipart/form-data:
          properties:
            'backup_instance[backup_definition_id]':
              description: ID of the backup_definition to create a backup_instance for
              format: int64
              required: true
              type: integer
            'backup_instance[customer_id]':
              description: ID of the customer to create the backup_instance for
              format: int64
              required: true
              type: integer
            'backup_instance[backup_frequency]':
              description: Frequency with which scheduled backups are performed
              enum:
                - 'off'
                - daily
              required: true
              type: string
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted from client credentials authorizing vendor to perform action
          required: true
      responses:
        '200':
          body:
            application/json:
              type: backup_instance
          description: Success - The backup_instance was successfully created. Response body is the backup_instance.
        '400':
          description: Bad request - See the response body for more infomation on the error. May be caused by the omission of a required parameter.
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
      (oas-tags):
        - backup_instances
    get:
      displayName: GET_v1-backup_instances
      description: 'It is only possible to retrieve backup_instances for customers you are authorized to access. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
      (oas-summary): Retrieves a list of backup_instances associated with the specified backup_definition
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted from client credentials authorizing vendor to perform action
          required: true
      responses:
        '200':
          body:
            application/json:
              items:
                type: backup_instance
              type: array
          description: Success - The backup_instances related to the backup_definition specified were successfully retrieved. The response body is a list of the backup_instances.
        '400':
          description: 'Bad request - See the response body for more infomation on the error. May be caused by the omission of a required parameter, such as backup_definition_id'
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
        '404':
          description: Not found - Unable to retrieve backup_instances because the requested backup_definition could not be found
      queryParameters:
        backup_definition_id:
          description: ID of the backup_definition to retrieve backup_instances for
          format: int64
          required: true
          type: integer
      (oas-tags):
        - backup_instances
  /vendors:
    displayName: vendors
    /me:
      displayName: me
      get:
        displayName: GET_v1-vendors-me
        description: Requires Access Token granted from client credentials.
        (oas-summary): Provides information about the currently authenticated vendor user
        headers:
          Authorization:
            type: string
            description: Bearer Access Token granted from client credentials authorizing vendor to perform action
            required: true
        responses:
          '200':
            body:
              application/json:
                type: vendor_user
            description: Success - Information about the current vendor user was successfully retrieved. Response body is the current vendor user.
          '401':
            description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
        (oas-tags):
          - vendors
  /authenticate_vendor:
    displayName: authenticate_vendor
    get:
      displayName: GET_v1-authenticate_vendor
      description: Requires Access Token granted from client_credentials
      (oas-summary): A simple method to test authentication of a vendor access token. The response body is empty JSON object.
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted from client_credentials for vendor
          required: true
      responses:
        '200':
          description: Success - The vendor access token successfully authenticated.
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
      (oas-tags):
        - utils
  /backup_definitions:
    displayName: backup_definitions
    post:
      displayName: POST_v1-backup_definitions
      (oas-summary): Create a new backup_definition
      body:
        multipart/form-data:
          properties:
            'backup_definition[name]':
              description: Name for the backup_definition
              required: true
              type: string
            'backup_definition[description]':
              description: Description of the backup_definition
              required: true
              type: string
            'backup_definition[published]':
              description: Boolean flag indicating whether the backup definition is published and available for use
              required: true
              type: boolean
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted from client credentials authorizing vendor to perform action
          required: true
      responses:
        '200':
          body:
            application/json:
              type: backup_definition
          description: Success - The backup_defintion was successfully created. The response body is the new backup_definition.
        '400':
          description: Bad request - Likely the result of a validation failure or the omission of a required parameter. See response body for specific details.
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
      (oas-tags):
        - backup_definitions
    '/{backup_definition_id}':
      displayName: '{backup_definition_id}'
      uriParameters:
        backup_definition_id:
          description: ID of the backup_definition to retrieve
          format: int64
          required: true
          type: integer
      put:
        displayName: PUT_v1-backup_definitions-backup_definition_id
        description: Only backup_definitions you have permission to change can be modified
        (oas-summary): Update the specified backup_definition
        body:
          multipart/form-data:
            properties:
              'backup_definition[name]':
                description: Name for the backup_definition
                type: string
                required: false
              'backup_definition[description]':
                description: Description of the backup_definition
                type: string
                required: false
              'backup_definition[published]':
                description: Boolean flag indicating whether the backup definition is published and available for use
                type: boolean
                required: false
        headers:
          Authorization:
            type: string
            description: Bearer Access Token granted from client credentials authorizing vendor to perform action
            required: true
        responses:
          '200':
            body:
              application/json:
                type: backup_definition
            description: Success - The backup_definition was successfully updated. Response body is the updated backup_definition.
          '400':
            description: Bad request - Likely the result of a validation failure. See response body for error specifics.
          '401':
            description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
          '404':
            description: Not found - The requested backup_definition could not be found
        (oas-tags):
          - backup_definitions
      /variables:
        displayName: variables
        post:
          displayName: POST_v1-backup_definitions-backup_definition_id-variables
          description: It is only possible to create variables for backup_definitions you have permission to manage.
          (oas-summary): Create a new variable for the specified key for the specified backup_definition
          body:
            multipart/form-data:
              properties:
                'variable[key]':
                  description: The symbolic name or identifier to access the defined variable by
                  required: true
                  type: string
                'variable[name]':
                  description: A human-friendly name for the variable
                  required: true
                  type: string
                'variable[description]':
                  description: Description offering additional information or detail about the variable
                  type: string
                  required: false
                'variable[optional]':
                  description: Flag indicating whether this variable is optional or if a value is required
                  type: boolean
                  required: false
                'variable[default_value]':
                  description: A default value that can be used when no instance specific value is provided
                  type: string
                  required: false
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: backup_definition_variable
              description: Success - The request completed successfully and the variable was created. The response is backup_definition_variable created.
            '400':
              description: Bad request - See the response body for more infomation on the error. May indicate that a variable is already defined for the provided key or a required parameter has been omitted.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_definition could not be found
          (oas-tags):
            - backup_definition_variables
        '/{key}':
          displayName: '{key}'
          uriParameters:
            key:
              description: 'The key, symbolic name, or identifier of the variable to retrieve'
              required: true
              type: string
          put:
            displayName: PUT_v1-backup_definitions-backup_definition_id-variables-key
            description: 'You can only update variables for backup_definitions you have access to. Additionally, it is not possible to update a variable''s key. Requests including a modified key name will result in an error.'
            (oas-summary): Update a specific variable by key for the specified backup_definition
            body:
              multipart/form-data:
                properties:
                  name:
                    description: The human-friendly name to use for the variable
                    required: true
                    type: string
                  'variable[description]':
                    description: Description offering additional information or detail about the variable
                    type: string
                    required: false
                  'variable[optional]':
                    description: Flag indicating whether this variable is optional or if a value is required
                    type: boolean
                    required: false
                  'variable[default_value]':
                    description: A default value that can be used when no instance specific value is provided
                    type: string
                    required: false
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: backup_definition_variable
                description: Success - The specified variable for the specified backup_definition was successfully updated. The response is the updated backup_definition_variable.
              '400':
                description: Bad request - See response body for additional information on the specific error. May be caused by trying to alter the key of a variable.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action.
              '404':
                description: Not found - Either the requested backup_definition or variable could not be found. See error message for specific details.
            (oas-tags):
              - backup_definition_variables
          get:
            displayName: GET_v1-backup_definitions-backup_definition_id-variables-key
            description: You can only retrieve variables for backup_definitions you have access to
            (oas-summary): Retrieve a specific variable by key for the specified backup_definition
            headers:
              Authorization:
                type: string
                description: Bearer Access Token granted from client credentials authorizing vendor to perform action
                required: true
            responses:
              '200':
                body:
                  application/json:
                    type: backup_definition_variable
                description: Success - The specified variable for the specified backup_definition was successfully retrieved. The response is the requested backup_definition_variable.
              '401':
                description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action.
              '404':
                description: Not found - Either the requested backup_definition or variable key could not be found. See error message for specific details.
            (oas-tags):
              - backup_definition_variables
        get:
          displayName: GET_v1-backup_definitions-backup_definition_id-variables
          description: 'You can only retrieve variables for backup_definitions you have access to. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
          (oas-summary): Retrieve a list of variables for the specified backup_definition
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: backup_definition_variable
                  type: array
              description: Success - The list of variables for the specified backup_definition was successfully retrieved. The response is a list of backup_definition_variables.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - The requested backup_definition could not be found
          (oas-tags):
            - backup_definition_variables
      get:
        displayName: GET_v1-backup_definitions-backup_definition_id
        description: Only backup_definitions you have permission to view will be returned
        (oas-summary): Retrieve a backup_definition by backup_definition_id
        headers:
          Authorization:
            type: string
            description: Bearer Access Token granted from client credentials authorizing vendor to perform action
            required: true
        responses:
          '200':
            body:
              application/json:
                type: backup_definition
            description: Success - The backup_definition was successfully retrieved. Response body is the backup_definition.
          '401':
            description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
          '404':
            description: Not found - The requested backup_definition could not be found
        (oas-tags):
          - backup_definitions
    get:
      displayName: GET_v1-backup_definitions
      description: 'This will retrieve a list of backup_defintions from all vendors. To view backup_defintions for a particular vendor, see the vendors API. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
      (oas-summary): Retrieve an index of all backup_definitions
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted from client credentials authorizing vendor to perform action
          required: true
      responses:
        '200':
          body:
            application/json:
              items:
                type: backup_definition
              type: array
          description: Success - The index of backup_defintions was retrieved successfully. The response body is a list of all backup_definitions.
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
        '404':
          description: Not found - The specified vendor could not be found
      queryParameters:
        vendor_id:
          description: Limit backup_definitions returned to those owned by the specified vendor_id
          type: integer
      (oas-tags):
        - backup_definitions
  /authenticate_customer:
    displayName: authenticate_customer
    get:
      displayName: GET_v1-authenticate_customer
      description: Requires Access Token granted for a customer
      (oas-summary): A simple method to test authentication of a customer access token.
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted for customer
          required: true
      responses:
        '200':
          description: Success - The customer access token successfully authenticated. The response body is empty JSON object.
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
      (oas-tags):
        - utils
  /customers:
    displayName: customers
    get:
      displayName: GET_v1-customers
      description: 'Requires Access Token granted from client credentials. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
      (oas-summary): Retrieve a list of customers associated with the authenticated vendor
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted from client credentials authorizing vendor to perform action
          required: true
      responses:
        '200':
          body:
            application/json:
              items:
                type: customer
              type: array
          description: Success - Customer list was successfully retrieved. Response body is a list of customers.
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
      (oas-tags):
        - customers
    post:
      displayName: POST_v1-customers
      description: Requires Access Token granted from client credentials.
      (oas-summary): 'Create a new customer instance identified by the given {name} identifier'
      body:
        multipart/form-data:
          properties:
            'customer[name]':
              description: Vendor provided ID uniquely identifying customer. This attribute is required and is provided to allow a vendor to map a customer instance to a user in their system.
              required: true
              type: string
            'customer[email]':
              description: Email address associated with the customer
              required: true
              type: string
      headers:
        Authorization:
          type: string
          description: Bearer Access Token granted from client credentials authorizing vendor to perform action
          required: true
      responses:
        '200':
          body:
            application/json:
              type: customer
          description: Success - Customer was successfully created. Response body is the created object.
        '400':
          description: Bad request - Likely the result of the omission of one or more parameters or a validation error. Reference the response message for more information on the particular failure.
        '401':
          description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
      (oas-tags):
        - customers
    '/{customer_id}':
      displayName: '{customer_id}'
      /backup_instances:
        displayName: backup_instances
        get:
          displayName: GET_v1-customers-customer_id-backup_instances
          description: 'It is only possible to retrieve backup_instances for customers you are authorized to access. Records are returned in ascending order (by id), with a default of 20 per page. Links to the next, previous, first, and last pages can be found in the response headers.'
          (oas-summary): Retrieves a list of backup_instances associated with the specified customer
          headers:
            Authorization:
              type: string
              description: Bearer Access Token granted from client credentials authorizing vendor to perform action
              required: true
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: backup_instance
                  type: array
              description: Success - The backup_instances related to the customer specified were successfully retrieved. The response body is a list of the backup_instances.
            '401':
              description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
            '404':
              description: Not found - Unable to retrieve backup_instances because the requested customer could not be found
          (oas-tags):
            - customers
      uriParameters:
        customer_id:
          description: ID of the customer to retrieve
          required: true
          type: string
      put:
        displayName: PUT_v1-customers-customer_id
        description: Requires Access Token granted from client credentials.
        (oas-summary): Update a customer instance identified by the given customer_id
        body:
          multipart/form-data:
            properties:
              'customer[name]':
                description: Vendor provided ID uniquely identifying customer. This attribute is required and is provided to allow a vendor to map a customer instance to a user in their system.
                required: true
                type: string
        headers:
          Authorization:
            type: string
            description: Bearer Access Token granted from client credentials authorizing vendor to perform action
            required: true
        responses:
          '200':
            body:
              application/json:
                type: customer
            description: Success - Customer was successfully updated. Response body is the updated object.
          '400':
            description: Bad request - Likely the result of a validation error. Reference the response message for more information on the particular failure.
          '401':
            description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
          '404':
            description: Not found - The requested customer could not be found
        (oas-tags):
          - customers
      get:
        displayName: GET_v1-customers-customer_id
        description: Requires Access Token granted from client credentials.
        (oas-summary): Retrieves the customer identified by customer_id
        headers:
          Authorization:
            type: string
            description: Bearer Access Token granted from client credentials authorizing vendor to perform action
            required: true
        responses:
          '200':
            body:
              application/json:
                type: customer
            description: Success - Customer successfully retrieved. Response body is the customer.
          '401':
            description: Unauthorized - The Access Token provided is either invalid or does not have rights to perform the requested action
          '404':
            description: Not found - The requested customer could not be found
        (oas-tags):
          - customers
  /ping:
    displayName: ping
    get:
      displayName: GET_v1-ping
      (oas-summary): A simple method that returns a 200 response if the connection succeeds
      responses:
        '200':
          description: Success - The connection succeeded. The response body is an empty JSON object.
      (oas-tags):
        - utils
/oauth:
  displayName: oauth
  /token:
    displayName: token
    post:
      displayName: POST_oauth-token
      description: 'All actions and visibility is limited in scope to items that are descendents of the authenticated vendor and the backup_definitions owned thereby. At this time, all Access Tokens are scoped with full write capabilities.'
      (oas-summary): Retrieve an Access Token authenticated using the provided client_id and client_secret.
      body:
        multipart/form-data:
          properties:
            client_id:
              description: API Client ID
              required: true
              type: string
            client_secret:
              description: API Client secret
              required: true
              type: string
            grant_type:
              description: String identifying the grant type to be used for token retrieval. MUST be 'client_credentials' to retrieve Access Token using client_id and client_secret.
              enum:
                - client_credentials
              required: true
              type: string
            scope:
              description: A space separated list of operational scopes available to the returned token.
              enum:
                - write
              required: true
              type: string
      responses:
        '200':
          body:
            application/json:
              type: token
          description: Successful Access Token retrieval
        '400':
          description: 'Invalid Scope - The requested scope is invalid, unknown, malformed, or exceeds the previously granted scope.'
      (oas-tags):
        - tokens
types:
  backup:
    properties:
      backup_instance_id:
        type: integer
      ended_at:
        format: rfc3339
        type: datetime
      failures:
        items: {}
        type: array
        required: false
      id:
        type: integer
      started_at:
        format: rfc3339
        type: datetime
      status:
        enum:
          - queued
          - in_progress
          - successful
          - failed
          - canceled
        type: string
  backup_definition:
    properties:
      description:
        type: string
      id:
        type: integer
      name:
        type: string
      published:
        type: boolean
      vendor_id:
        type: integer
  backup_definition_variable:
    properties:
      default_value:
        description: A default value that can be used when no instance specific value is provided
        type: string
        required: false
      description:
        description: Description offering additional information or detail about the variable
        type: string
        required: false
      key:
        description: Symbolic name or identifier of the variable
        type: string
      name:
        description: Human friendly name of the variable
        type: string
      optional:
        type: boolean
        required: false
  backup_instance:
    properties:
      backup_definition_id:
        description: Unique identifier of the backup_definition the backup_instance derives from
        type: integer
      backup_frequency:
        description: Frequency with which scheduled backups are performed
        enum:
          - 'off'
          - daily
          - weekly
        type: string
        required: false
      customer_id:
        description: Unique identifier of the customer the backup_instance belongs to
        type: integer
      id:
        description: Unique identifier of the backup_instance
        type: integer
      last_backup_state:
        description: Final state of the last completed backup or current state of an in progress backup
        enum:
          - queued
          - in progress
          - successful
          - failed
          - canceled
        required: false
      last_successful_backup:
        description: Date and time of the last successful backup in ISO 8601 format
        format: rfc3339
        type: datetime
        required: false
      next_scheduled_backup:
        description: Date and time of the next scheduled backup in ISO 8601 format
        format: rfc3339
        type: datetime
        required: false
  backup_instance_endpoint:
    properties:
      description:
        description: Information and detail about the endpoint
        type: string
        required: false
      name:
        description: Symbolic name or identifier of the endpoint as defined by the backup_definition
        type: string
  backup_instance_variable:
    properties:
      is_default_value:
        type: boolean
        required: false
      key:
        description: Symbolic name or identifier of the variable
        type: string
      value:
        description: Information to be stored for later retrieval
        type: string
  blob:
    description: A Binary Large OBject
  customer:
    properties:
      id:
        description: The ID of the customer. Should be saved by the vendor to allow fast access to backup information to users of their system
        type: integer
      name:
        description: Vendor provided ID uniquely identifying customer
        type: string
  endpoint_record:
    properties:
      blob_url:
        description: URL to download the blob associated with the given endpoint record
        required: false
      field_data:
        description: JSON object (possibly nested) matching the structure of the endpoint's source
  export:
    properties:
      backup_instance_id:
        type: integer
      content_types:
        type: string
        required: false
      ended_at:
        format: rfc3339
        type: datetime
      export_formats:
        type: string
        required: false
      exported_data_url:
        type: string
        required: false
      exported_data_url_expiration:
        format: rfc3339
        type: datetime
        required: false
      failures:
        items: {}
        type: array
        required: false
      id:
        type: integer
      records_failed:
        type: integer
        required: false
      records_processed:
        type: integer
        required: false
      started_at:
        format: rfc3339
        type: datetime
      status:
        enum:
          - queued
          - in_progress
          - successful
          - failed
          - canceled
        type: string
  export_reauth:
    properties:
      exported_data_url:
        type: string
        required: false
      exported_data_url_expiration:
        format: rfc3339
        type: datetime
        required: false
  token:
    properties:
      access_token:
        description: The Access Token string for the requested grant type
        type: string
      expires_in:
        type: integer
      token_type:
        enum:
          - bearer_token
        type: string
  vendor_user:
    properties:
      client_id:
        description: The client_id stored for the current vendor
        type: string
      client_secret:
        description: The client_secret stored for the current vendor
        type: string
      email:
        description: The email stored for the current vendor
        type: string
      name:
        description: The name stored for the current vendor
        type: string
      vendor_id:
        description: The ID of the vendor.
        type: integer
