#%RAML 1.0
title: BBC Nitro
version: 1.0.0
baseUri: 'http://programmes.api.bbc.com/nitro/api'
mediaType:
  - application/json
  - application/xml
protocols:
  - HTTP
  - HTTPS
description: BBC Nitro is the BBC's application programming interface (API) for BBC Programmes Metadata.
(oas-tags-definition):
  - description: Nitro data feeds
    name: feeds
  - description: Nitro metadata
    name: schema
  - description: Nitro Raw
    name: Raw
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-tags: any
  oas-x-unofficialSpec: any
  oas-x-anyOf: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-responses-default:
    type: any
    allowedTargets: Method
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://developer.bbc.co.uk/user/register'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_developer.bbc.co.uk_sites_default_files_Nitro On White.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Mermade/bbcparse/master/nitroApi/swagger.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): bbc.com
  (oas-x-tags):
    - BBC
    - programme information
    - iPlayer
    - iPlayer Radio
  (oas-x-unofficialSpec): true
  contact:
    name: Open Nitro Project
    url: 'http://developer.bbc.co.uk/'
    email: nitro@bbc.co.uk
  termsOfService: 'http://www.bbc.co.uk/terms/'
  license:
    name: Nitro Public License
    url: 'https://developer.bbc.co.uk/nitropubliclicence/'
(oas-externalDocs):
  description: Nitro for developers
  url: 'https://developer.bbc.co.uk/nitro'
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        api_key:
          type: string
/schema:
  displayName: schema
  get:
    displayName: getXSD
    description: Get Schema definition
    (oas-summary): Get Schema definition
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        description: Metadata response
    (oas-tags):
      - schema
/versions:
  displayName: versions
  get:
    displayName: listVersions
    description: 'The versions feed exposes editorial "Versions" of programmes. These are concepts used to capture different presentations of an overall programme: for example, versions of a programme may include one with sign language, one with audio description, one edited for content and more. Versions are also important to understand for broadcasts: a linear broadcast or an ondemand is always of a specific version, not merely of a programme.'
    (oas-summary): 'Metadata on editorial programme versions: original, signed, audio-described, etc'
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      availability:
        collectionFormat: multi
        description: filter for subset of versions that have availability
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of versions that have availability
        facets:
          collectionFormat: string
      descendants_of:
        collectionFormat: multi
        description: filter for subset of versions having given programme PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of versions having given programme PID
        facets:
          collectionFormat: string
      media_set:
        collectionFormat: multi
        description: filter for subset of versions with availability in the given media set
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of versions with availability in the given media set
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for versions by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for versions by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for versions by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for versions by partner PID
        facets:
          collectionFormat: string
      payment_type:
        collectionFormat: multi
        description: filter for a subset of versions that are of the given payment_type
        items:
          type: string
        required: false
        type: array
        displayName: filter for a subset of versions that are of the given payment_type
        facets:
          collectionFormat: string
      pid:
        collectionFormat: multi
        description: filter for subset of versions having given PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of versions having given PID
        facets:
          collectionFormat: string
    (oas-tags):
      - feeds
/services:
  displayName: services
  get:
    displayName: listServices
    description: The services feed exposes the linear broadcast "services" from PIPs. These are the actual services which broadcast programmes (eg bbc_one_oxford is the service for BBC One in Oxford).
    (oas-summary): Information about the linear services used for broadcast transmissions
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      end_from:
        description: Return services that end on or later than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: Return services that end on or later than the specified datetime
      end_to:
        description: filter for subset of broadcasts that end on or earlier than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts that end on or earlier than the specified datetime
      mid:
        collectionFormat: multi
        description: filter for services by masterbrand MID
        items:
          type: string
        required: false
        type: array
        displayName: filter for services by masterbrand MID
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for services by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for services by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for services by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for services by partner PID
        facets:
          collectionFormat: string
      q:
        description: filter for subset of services matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of services matching supplied keyword/phrase (boolean operators permitted)
      service_type:
        collectionFormat: multi
        description: filter for specified type of linear services
        items:
          type: string
        required: false
        type: array
        displayName: filter for specified type of linear services
        facets:
          collectionFormat: string
      sid:
        collectionFormat: multi
        description: filter for specified linear service
        items:
          type: string
        required: false
        type: array
        displayName: filter for specified linear service
        facets:
          collectionFormat: string
      start_from:
        description: Return services that start on or later than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: Return services that start on or later than the specified datetime
      start_to:
        description: Return services that start earlier than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: Return services that start earlier than the specified datetime
    (oas-tags):
      - feeds
/:
  get:
    displayName: getAPI
    description: Get API definition
    (oas-summary): Get API definition
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        description: Metadata response
    (oas-tags):
      - schema
/v1:
  displayName: v1
  /brands:
    displayName: brands
    '/{pid}':
      displayName: '{pid}'
      uriParameters:
        pid:
          required: true
          type: string
      get:
        displayName: Get_Raw_brand
        description: Get raw brand
        (oas-summary): Get raw brand
        responses:
          '200':
            body:
              application/json:
                type: nitro
            description: Nitro response
        (oas-tags):
          - Raw
      /franchises:
        displayName: franchises
        /:
          get:
            displayName: Get_Raw_brand franchises
            description: Get raw brand franchises
            (oas-summary): Get raw brand franchise
            responses:
              '200':
                body:
                  application/json:
                    type: nitro
                description: Nitro response
            (oas-tags):
              - Raw
  /episodes:
    displayName: episodes
    '/{pid}':
      displayName: '{pid}'
      uriParameters:
        pid:
          required: true
          type: string
      get:
        displayName: Get_Raw_episode
        description: Get raw episode
        (oas-summary): Get raw episode
        responses:
          '200':
            body:
              application/json:
                type: nitro
            description: Nitro response
        (oas-tags):
          - Raw
      /ancestors:
        displayName: ancestors
        /:
          get:
            displayName: Get_Raw_ancestors
            description: Get raw ancestors
            (oas-summary): Get raw ancestors
            responses:
              '200':
                body:
                  application/json:
                    type: nitro
                description: Nitro response
            (oas-tags):
              - Raw
      /formats:
        displayName: formats
        /:
          get:
            displayName: Get_Raw_formats
            description: Get raw formats
            (oas-summary): Get raw formats
            responses:
              '200':
                body:
                  application/json:
                    type: nitro
                description: Nitro response
            (oas-tags):
              - Raw
      /genre_groups:
        displayName: genre_groups
        /:
          get:
            displayName: Get_Raw_genre_groups
            description: Get raw genre groups
            (oas-summary): Get raw genre groups
            responses:
              '200':
                body:
                  application/json:
                    type: nitro
                description: Nitro response
            (oas-tags):
              - Raw
  /promotions:
    displayName: promotions
    '/{pid}':
      displayName: '{pid}'
      uriParameters:
        pid:
          required: true
          type: string
      get:
        displayName: Get_Raw_promotion
        description: Get raw promotion
        (oas-summary): Get raw promotion
        responses:
          '200':
            body:
              application/json:
                type: nitro
            description: Nitro response
        (oas-tags):
          - Raw
  /master_brands:
    displayName: master_brands
    '/{mbid}':
      displayName: '{mbid}'
      uriParameters:
        mbid:
          required: true
          type: string
      get:
        displayName: Get_Raw_masterbrand
        description: Get raw masterbrand
        (oas-summary): Get raw masterbrand
        responses:
          '200':
            body:
              application/json:
                type: nitro
            description: Nitro response
        (oas-tags):
          - Raw
  /images:
    displayName: images
    '/{pid}':
      displayName: '{pid}'
      uriParameters:
        pid:
          required: true
          type: string
      get:
        displayName: Get_Raw_image
        description: Get raw image
        (oas-summary): Get raw image
        responses:
          '200':
            body:
              application/json:
                type: nitro
            description: Nitro response
        (oas-tags):
          - Raw
/broadcasts:
  displayName: broadcasts
  get:
    displayName: listBroadcasts
    description: 'Fetch metadata about linear Broadcasts and Services, allowing the generation of Television and Radio schedules and other datasets for broadcast items. Use /schedules instead of this feed as it is more efficient. Broadcasts will be deprecated in the future.'
    (oas-summary): Build schedules and find metadata for TV and radio broadcasts
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort chronologically by scheduled start time/date, ascending
        enum:
          - start_date
        required: false
        type: string
        displayName: |
          Sorts:
          * sort chronologically by scheduled start time/date, ascending
      sort_direction:
        description: Sort direction
        enum:
          - ascending
          - descending
        required: false
        type: string
        displayName: Sort direction
      mixin:
        collectionFormat: multi
        description: |
          Mixins:
          * return ancestor programme titles
        items:
          type: string
        required: false
        type: array
        displayName: |
          Mixins:
          * return ancestor programme titles
        facets:
          collectionFormat: string
      authority:
        collectionFormat: multi
        description: filter for subset of broadcasts that have given authority
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts that have given authority
        facets:
          collectionFormat: string
      descendants_of:
        collectionFormat: multi
        description: filter for subset of broadcasts that are descendants of the given programme PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts that are descendants of the given programme PID
        facets:
          collectionFormat: string
      end_from:
        description: filter for subset of broadcasts that end on or later than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts that end on or later than the specified datetime
      end_to:
        description: filter for subset of broadcasts that end on or earlier than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts that end on or earlier than the specified datetime
      format:
        collectionFormat: multi
        description: filter for subset of broadcasts that are classified in the given format ID
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts that are classified in the given format ID
        facets:
          collectionFormat: string
      genre:
        collectionFormat: multi
        description: filter for subset of broadcasts that are classified in the given genre ID
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts that are classified in the given genre ID
        facets:
          collectionFormat: string
      id:
        collectionFormat: multi
        description: filter for subset of broadcasts that have given identifier
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts that have given identifier
        facets:
          collectionFormat: string
      item:
        collectionFormat: multi
        description: filter for subset of broadcasts with the given item performed on it
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts with the given item performed on it
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      people:
        description: filter for subset of broadcasts that have given contributor
        required: false
        type: string
        displayName: filter for subset of broadcasts that have given contributor
      pid:
        collectionFormat: multi
        description: filter for subset of broadcasts having given PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts having given PID
        facets:
          collectionFormat: string
      q:
        description: filter for subset of broadcasts matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of broadcasts matching supplied keyword/phrase (boolean operators permitted)
      service_master_brand:
        collectionFormat: multi
        description: filter for subset of broadcasts with given service master brand
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts with given service master brand
        facets:
          collectionFormat: string
      sid:
        collectionFormat: multi
        description: filter for subset of broadcasts that are on the specified linear service
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts that are on the specified linear service
        facets:
          collectionFormat: string
      start_from:
        description: filter for subset of broadcasts that start on or later than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts that start on or later than the specified datetime
      start_to:
        description: filter for subset of broadcasts that start on or earlier than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts that start on or earlier than the specified datetime
      version:
        collectionFormat: multi
        description: filter for subset of broadcasts with given PID as their parent version
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts with given PID as their parent version
        facets:
          collectionFormat: string
    (oas-tags):
      - feeds
/images:
  displayName: images
  get:
    displayName: listImages
    description: 'Find metadata for images, particularly those in galleries'
    (oas-summary): Find metadata for images
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort numerically by position, ascending only
          * sort alphabetically by PID
        enum:
          - group_position
          - pid
        required: false
        type: string
        displayName: |
          Sorts:
          * sort numerically by position, ascending only
          * sort alphabetically by PID
      sort_direction:
        description: Sort direction
        enum:
          - ascending
          - descending
        required: false
        type: string
        displayName: Sort direction
      group:
        description: filter for images belonging to the given group (i.e. Gallery)
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for images belonging to the given group (i.e. Gallery)
      image_type:
        collectionFormat: multi
        description: filter for images by type
        items:
          type: string
        required: false
        type: array
        displayName: filter for images by type
        facets:
          collectionFormat: string
      is_alternate_image_for:
        description: filter for alternate images by entity PID
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for alternate images by entity PID
      is_image_for:
        description: filter for images by entity PID
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for images by entity PID
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for images by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for images by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for images by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for images by partner PID
        facets:
          collectionFormat: string
      pid:
        collectionFormat: multi
        description: filter for subset of images having given PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of images having given PID
        facets:
          collectionFormat: string
      q:
        description: filter for subset of images matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of images matching supplied keyword/phrase (boolean operators permitted)
    (oas-tags):
      - feeds
/master_brands:
  displayName: master_brands
  get:
    displayName: listMasterbrands
    description: List all Master Brands
    (oas-summary): List all Master Brands
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort by mid, ascending
        enum:
          - mid
        required: false
        type: string
        displayName: |
          Sorts:
          * sort by mid, ascending
      sort_direction:
        description: Sort direction
        enum:
          - ascending
        required: false
        type: string
        displayName: Sort direction
      mixin:
        collectionFormat: multi
        description: |
          Mixins:
          * mixin to add image information for a masterbrand
        items:
          type: string
        required: false
        type: array
        displayName: |
          Mixins:
          * mixin to add image information for a masterbrand
        facets:
          collectionFormat: string
      mid:
        collectionFormat: multi
        description: filter for subset of masterbrands that have given identifier
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of masterbrands that have given identifier
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for masterbrands by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for masterbrands by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for masterbrands by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for masterbrands by partner PID
        facets:
          collectionFormat: string
      q:
        description: filter for subset of masterbrands matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of masterbrands matching supplied keyword/phrase (boolean operators permitted)
    (oas-tags):
      - feeds
/pips:
  displayName: pips
  get:
    displayName: listPips
    description: Look inside pips entities
    (oas-summary): Look inside pips entities
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      q:
        description: filter for subset of programmes matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of programmes matching supplied keyword/phrase (boolean operators permitted)
    (oas-tags):
      - feeds
/promotions:
  displayName: promotions
  get:
    displayName: listPromotions
    description: 'Details of short-term editorially curated "promotions", for instance those programmes featured on iPlayer today'
    (oas-summary): Discover metadata for content promotions
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      mixin:
        collectionFormat: multi
        description: |
          Mixins:
          * mixin to return information about related links to a promotion
        items:
          type: string
        required: false
        type: array
        displayName: |
          Mixins:
          * mixin to return information about related links to a promotion
        facets:
          collectionFormat: string
      context:
        description: filter for subset of promotions belonging to a given context
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of promotions belonging to a given context
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for promotions by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for promotions by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for promotions by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for promotions by partner PID
        facets:
          collectionFormat: string
      pid:
        collectionFormat: multi
        description: filter for subset of promotions having given PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of promotions having given PID
        facets:
          collectionFormat: string
      promoted_by:
        collectionFormat: multi
        description: filter for subset of promotions having given promoted by
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of promotions having given promoted by
        facets:
          collectionFormat: string
      promoted_for:
        collectionFormat: multi
        description: filter for subset of promotions having given promoted for
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of promotions having given promoted for
        facets:
          collectionFormat: string
      q:
        description: filter for subset of promotions matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of promotions matching supplied keyword/phrase (boolean operators permitted)
      status:
        collectionFormat: multi
        description: filter for subset of promotions with status
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of promotions with status
        facets:
          collectionFormat: string
    (oas-tags):
      - feeds
/availabilities:
  displayName: availabilities
  get:
    displayName: listAvailability
    description: Discover details of on-demand availability for programmes and their versions
    (oas-summary): Discover details of on-demand availability for programmes and their versions
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort chronologically by scheduled start time/date, ascending
        enum:
          - scheduled_start
        required: false
        type: string
        displayName: |
          Sorts:
          * sort chronologically by scheduled start time/date, ascending
      sort_direction:
        description: Sort direction
        enum:
          - ascending
          - descending
        required: false
        type: string
        displayName: Sort direction
      availability:
        collectionFormat: multi
        description: filter for subset of availabilities
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of availabilities
        facets:
          collectionFormat: string
      descendants_of:
        collectionFormat: multi
        description: filter for subset of availabilities that have PID as ancestor
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of availabilities that have PID as ancestor
        facets:
          collectionFormat: string
      media_set:
        collectionFormat: multi
        description: filter for subset of availabilities with media set
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of availabilities with media set
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      territory:
        collectionFormat: multi
        description: filter for availabilities in given territory
        items:
          type: string
        required: false
        type: array
        displayName: filter for availabilities in given territory
        facets:
          collectionFormat: string
      debug:
        description: Turn on debug information (undocumented)
        required: false
        type: boolean
        displayName: Turn on debug information (undocumented)
    (oas-tags):
      - feeds
/groups:
  displayName: groups
  get:
    displayName: listGroups
    description: 'Long-lived curated collections of programmes and more, including Collections, Seasons, Franchises and Galleries'
    (oas-summary): 'Find metadata for curated groups: seasons, collections, galleries or franchises'
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort alphabetically by PID
        enum:
          - pid
        required: false
        type: string
        displayName: |
          Sorts:
          * sort alphabetically by PID
      sort_direction:
        description: Sort direction
        enum:
          - descending
        required: false
        type: string
        displayName: Sort direction
      mixin:
        collectionFormat: multi
        description: |
          Mixins:
          * mixin to return the alternate images for a group
          * mixin to return links to programme entities that group belongs to
          * mixin to add image information for a group
          * mixin to return related links for the group
        items:
          type: string
        required: false
        type: array
        displayName: |
          Mixins:
          * mixin to return the alternate images for a group
          * mixin to return links to programme entities that group belongs to
          * mixin to add image information for a group
          * mixin to return related links for the group
        facets:
          collectionFormat: string
      for_descendants_of:
        description: filter for groups related to given programme or its descendants
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for groups related to given programme or its descendants
      for_programme:
        description: filter for subset of groups directly related to a given programme
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of groups directly related to a given programme
      group:
        description: filter for subset of groups which belong to the given group pid
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of groups which belong to the given group pid
      group_type:
        collectionFormat: multi
        description: filter for subset of groups that have the given group type
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of groups that have the given group type
        facets:
          collectionFormat: string
      member:
        description: filter for subset of groups which contain an entity with the given pid as a member
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of groups which contain an entity with the given pid as a member
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for groups by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for groups by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for groups by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for groups by partner PID
        facets:
          collectionFormat: string
      pid:
        collectionFormat: multi
        description: 'filter for subset of seasons, collections, galleries or franchises having given PID'
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: 'filter for subset of seasons, collections, galleries or franchises having given PID'
        facets:
          collectionFormat: string
      q:
        description: filter for subset of groups matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of groups matching supplied keyword/phrase (boolean operators permitted)
    (oas-tags):
      - feeds
/schedules:
  displayName: schedules
  get:
    displayName: listSchedules
    description: 'Dates, Times, Schedules: when and where are programmes being shown?'
    (oas-summary): Build schedules and find metadata for TV and radio broadcasts and webcasts
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort chronologically by scheduled start time/date, ascending
        enum:
          - start_date
        required: false
        type: string
        displayName: |
          Sorts:
          * sort chronologically by scheduled start time/date, ascending
      sort_direction:
        description: Sort direction
        enum:
          - ascending
          - descending
        required: false
        type: string
        displayName: Sort direction
      mixin:
        collectionFormat: multi
        description: |
          Mixins:
          * return ancestor programme titles
          * mixin to add image information for broadcasts and webcasts
        items:
          type: string
        required: false
        type: array
        displayName: |
          Mixins:
          * return ancestor programme titles
          * mixin to add image information for broadcasts and webcasts
        facets:
          collectionFormat: string
      authority:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts that have given authority
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts that have given authority
        facets:
          collectionFormat: string
      descendants_of:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts that are descendants of the given programme PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts that are descendants of the given programme PID
        facets:
          collectionFormat: string
      end_from:
        description: filter for subset of broadcasts and webcasts that end on or later than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts and webcasts that end on or later than the specified datetime
      end_to:
        description: filter for subset of broadcasts and webcasts that end on or earlier than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts and webcasts that end on or earlier than the specified datetime
      format:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts that are classified in the given format ID
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts that are classified in the given format ID
        facets:
          collectionFormat: string
      genre:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts that are classified in the given genre ID
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts that are classified in the given genre ID
        facets:
          collectionFormat: string
      group:
        description: filter for subset of broadcasts and webcasts that have programmes in the given group
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of broadcasts and webcasts that have programmes in the given group
      id:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts that have given identifier
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts that have given identifier
        facets:
          collectionFormat: string
      id_type:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts that have given id type
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts that have given id type
        facets:
          collectionFormat: string
      item:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts with the given item performed on it
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts with the given item performed on it
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for broadcasts and webcasts by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for broadcasts and webcasts by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for broadcasts and webcasts by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for broadcasts and webcasts by partner PID
        facets:
          collectionFormat: string
      people:
        description: filter for subset of broadcasts and webcasts that have given contributor
        required: false
        type: string
        displayName: filter for subset of broadcasts and webcasts that have given contributor
      pid:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts having given PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts having given PID
        facets:
          collectionFormat: string
      q:
        description: filter for subset of broadcasts and webcasts matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of broadcasts and webcasts matching supplied keyword/phrase (boolean operators permitted)
      repeat:
        description: filter to show either only repeats or non-repeats
        required: false
        type: boolean
        displayName: filter to show either only repeats or non-repeats
      service_master_brand:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts with given service master brand
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts with given service master brand
        facets:
          collectionFormat: string
      sid:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts that are on the specified linear service
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts that are on the specified linear service
        facets:
          collectionFormat: string
      start_from:
        description: filter for subset of broadcasts and webcasts that start on or later than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts and webcasts that start on or later than the specified datetime
      start_to:
        description: filter for subset of broadcasts and webcasts that start on or earlier than the specified datetime
        format: rfc3339
        required: false
        type: datetime
        displayName: filter for subset of broadcasts and webcasts that start on or earlier than the specified datetime
      version:
        collectionFormat: multi
        description: filter for subset of broadcasts and webcasts with given PID as their parent version
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of broadcasts and webcasts with given PID as their parent version
        facets:
          collectionFormat: string
    (oas-tags):
      - feeds
/programmes:
  displayName: programmes
  get:
    displayName: listProgrammes
    description: 'Fetch metadata about Programmes (brands, series, episodes, clips). By applying different filter restrictions this feed can be used in many ways, for example to retrieve all series belonging to a brand, all the episodes and/or clips for a specific series, or any TLEO objects for a masterbrand. Other filters permit restricting to specific formats and/or genres, and you can request specific versions (for example Signed or Audio-Described). Parameters may be combined in any way suitable for your application.'
    (oas-summary): 'Start here for programmes metadata: Brands, Series, Episodes and Clips'
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort numerically by position in group, ascending
          * sort alphabetically by PID, descending
          * sort numerically by position, ascending
          * sort by promotion rank, ascending
          * sort chronologically by release date, descending
          * sort by weighting of search term (use with q parameter)
          * sort chronologically by scheduled start time/date, ascending
          * sort alphabetically by title, ascending
          * sort by title librarian style (ignoring leading 'The', 'A', etc), ascending
          * sort by root pid and then preorder tree sort. Requires entities to have release date.
          * sort numerically by number of views (most popular first)
        enum:
          - group_position
          - pid
          - position
          - promotion
          - release_date
          - relevance
          - scheduled_start
          - strict_title
          - title
          - tree
          - views
        required: false
        type: string
        displayName: |
          Sorts:
          * sort numerically by position in group, ascending
          * sort alphabetically by PID, descending
          * sort numerically by position, ascending
          * sort by promotion rank, ascending
          * sort chronologically by release date, descending
          * sort by weighting of search term (use with q parameter)
          * sort chronologically by scheduled start time/date, ascending
          * sort alphabetically by title, ascending
          * sort by title librarian style (ignoring leading 'The', 'A', etc), ascending
          * sort by root pid and then preorder tree sort. Requires entities to have release date.
          * sort numerically by number of views (most popular first)
      sort_direction:
        description: Sort direction
        enum:
          - ascending
          - descending
        required: false
        type: string
        displayName: Sort direction
      mixin:
        collectionFormat: multi
        description: |
          Mixins:
          * mixin to return the alternate images for a programme
          * mixin to return ancestor programme titles
          * mixin to return programme availability information
          * mixin to return information about programmes that are currently available as simulcasts
          * mixin to return information about programmes that are currently available on demand
          * mixin to return information about programmes that are currently available as webcasts
          * mixin to return information about contributors to a programme
          * mixin to return original version duration in programme concept entities
          * mixin to return list of genre groupings
          * mixin to add image information for a programme
          * mixin to add embeddable information for a programme
          * mixin to return the programmes which appear before and after a programme (as determined by the sort applied in the request)
          * mixin to return information about related links to a programme
        items:
          type: string
        required: false
        type: array
        displayName: |
          Mixins:
          * mixin to return the alternate images for a programme
          * mixin to return ancestor programme titles
          * mixin to return programme availability information
          * mixin to return information about programmes that are currently available as simulcasts
          * mixin to return information about programmes that are currently available on demand
          * mixin to return information about programmes that are currently available as webcasts
          * mixin to return information about contributors to a programme
          * mixin to return original version duration in programme concept entities
          * mixin to return list of genre groupings
          * mixin to add image information for a programme
          * mixin to add embeddable information for a programme
          * mixin to return the programmes which appear before and after a programme (as determined by the sort applied in the request)
          * mixin to return information about related links to a programme
        facets:
          collectionFormat: string
      audio_described:
        collectionFormat: multi
        description: filter for subset of programmes that are audio-described
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that are audio-described
        facets:
          collectionFormat: string
      availability:
        collectionFormat: multi
        description: filter for subset of programmes that have availability
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that have availability
        facets:
          collectionFormat: string
      availability_entity_type:
        collectionFormat: multi
        description: additional filter when availability=available
        items:
          type: string
        required: false
        type: array
        displayName: additional filter when availability=available
        facets:
          collectionFormat: string
      availability_type:
        collectionFormat: multi
        description: filter for a subset of programmes that are available for a given type
        items:
          type: string
        required: false
        type: array
        displayName: filter for a subset of programmes that are available for a given type
        facets:
          collectionFormat: string
      children_of:
        collectionFormat: multi
        description: filter for subset of programmes that have PID as immediate parent
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that have PID as immediate parent
        facets:
          collectionFormat: string
      descendants_of:
        collectionFormat: multi
        description: filter for subset of programmes that have PID as ancestor
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that have PID as ancestor
        facets:
          collectionFormat: string
      duration:
        collectionFormat: multi
        description: filter for subset of programmes that have given duration
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that have given duration
        facets:
          collectionFormat: string
      entity_type:
        collectionFormat: multi
        description: filter for subset of programmes that have given entity type
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that have given entity type
        facets:
          collectionFormat: string
      format:
        collectionFormat: multi
        description: filter for subset of programmes with format
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes with format
        facets:
          collectionFormat: string
      genre:
        collectionFormat: multi
        description: filter for subset of programmes with genre
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes with genre
        facets:
          collectionFormat: string
      group:
        description: filter for subset of programmes which belong to the given group pid
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of programmes which belong to the given group pid
      initial_letter:
        description: 'filter for subset of programmes with title beginning with initial letter librarian style (ignoring leading ''The'', ''An'' (Welsh), etc) 0-9 a-z'
        maxLength: 1
        minLength: 1
        required: false
        type: string
        displayName: 'filter for subset of programmes with title beginning with initial letter librarian style (ignoring leading ''The'', ''An'' (Welsh), etc) 0-9 a-z'
      initial_letter_end:
        description: Programmes with (librarian) titles whose initial letter is equal/before given letter. Use with initial_letter_start for a range
        maxLength: 1
        minLength: 1
        required: false
        type: string
        displayName: Programmes with (librarian) titles whose initial letter is equal/before given letter. Use with initial_letter_start for a range
      initial_letter_start:
        description: Programmes with (librarian) titles whose initial letter is equal/after given letter. Use with initial_letter_end for range.
        maxLength: 1
        minLength: 1
        required: false
        type: string
        displayName: Programmes with (librarian) titles whose initial letter is equal/after given letter. Use with initial_letter_end for range.
      initial_letter_strict:
        collectionFormat: multi
        description: filter for subset of programmes with title beginning with initial letter
        items:
          maxLength: 1
          minLength: 1
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes with title beginning with initial letter
        facets:
          collectionFormat: string
      item:
        collectionFormat: multi
        description: filter for subset of programmes with linked to versions which have the given item pids
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes with linked to versions which have the given item pids
        facets:
          collectionFormat: string
      master_brand:
        collectionFormat: multi
        description: filter for subset of programmes with master_brand
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes with master_brand
        facets:
          collectionFormat: string
      media_set:
        description: filter for subset of programmes with media set
        required: false
        type: string
        displayName: filter for subset of programmes with media set
      media_type:
        collectionFormat: multi
        description: filter for subset of programmes with media type
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes with media type
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for programmes by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for programmes by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for programmes by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for programmes by partner PID
        facets:
          collectionFormat: string
      payment_type:
        collectionFormat: multi
        description: filter for a subset of programmes that are of the given payment_type
        items:
          type: string
        required: false
        type: array
        displayName: filter for a subset of programmes that are of the given payment_type
        facets:
          collectionFormat: string
      people:
        description: filter for subset of programmes with contributions by given people PID
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of programmes with contributions by given people PID
      pid:
        collectionFormat: multi
        description: filter for subset of programmes having given PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes having given PID
        facets:
          collectionFormat: string
      promoted_for:
        description: filter for subset of programmes which are promoted for given service
        required: false
        type: string
        displayName: filter for subset of programmes which are promoted for given service
      q:
        description: filter for subset of programmes matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of programmes matching supplied keyword/phrase (boolean operators permitted)
      signed:
        collectionFormat: multi
        description: filter for subset of programmes that are signed
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that are signed
        facets:
          collectionFormat: string
      tag_name:
        description: filter for subset of programmes with tag
        required: false
        type: string
        displayName: filter for subset of programmes with tag
      tag_scheme:
        description: filter for subset of programmes with a tag
        required: false
        type: string
        displayName: filter for subset of programmes with a tag
      tleo:
        collectionFormat: multi
        description: filter for subset of programmes that are TLEOs
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes that are TLEOs
        facets:
          collectionFormat: string
      version:
        collectionFormat: multi
        description: filter for subset of programmes with given PID as one of their versions
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of programmes with given PID as one of their versions
        facets:
          collectionFormat: string
    (oas-tags):
      - feeds
/people:
  displayName: people
  get:
    displayName: listPeople
    description: 'The People feed allows you to search for the people and groups that contribute to programmes. This is the starting point for cast and crew credits, as well as finding contributors using external IDs (such as Wikipedia URLs)'
    (oas-summary): 'Find the people behind and in programmes: cast, crew, guests and more'
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      authority:
        description: filter for subset of people that have an ID issued by the given authority
        required: false
        type: string
        displayName: filter for subset of people that have an ID issued by the given authority
      has_external_id:
        collectionFormat: multi
        description: filter for people who have an external identifier
        items:
          type: string
        required: false
        type: array
        displayName: filter for people who have an external identifier
        facets:
          collectionFormat: string
      id:
        collectionFormat: multi
        description: filter for subset of people having given ID
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of people having given ID
        facets:
          collectionFormat: string
      id_type:
        description: filter for subset of people that have given an ID of the given type
        required: false
        type: string
        displayName: filter for subset of people that have given an ID of the given type
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for people by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for people by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for people by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for people by partner PID
        facets:
          collectionFormat: string
      pid:
        collectionFormat: multi
        description: filter for subset of people having given PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of people having given PID
        facets:
          collectionFormat: string
      programme:
        description: filter for subset of people that have contributed to the given programme pid
        required: false
        type: string
        displayName: filter for subset of people that have contributed to the given programme pid
      q:
        description: filter for subset of people matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of people matching supplied keyword/phrase (boolean operators permitted)
    (oas-tags):
      - feeds
/items:
  displayName: items
  get:
    displayName: listItems
    description: 'Look inside programmes to find segments: chapters, tracks and more'
    (oas-summary): 'Look inside programmes to find segments: chapters, tracks and more'
    (oas-responses-default):
      body:
        application/json:
          type: ErrorModel
      description: Unexpected error
    responses:
      '200':
        body:
          application/json:
            type: nitro
        description: Nitro response
    queryParameters:
      sort:
        description: |
          Sorts:
          * sort by pid, descending
        enum:
          - pid
        required: false
        type: string
        displayName: |
          Sorts:
          * sort by pid, descending
      sort_direction:
        description: Sort direction
        enum:
          - descending
        required: false
        type: string
        displayName: Sort direction
      mixin:
        collectionFormat: multi
        description: |
          Mixins:
          * mixin to return information about contributors to items
          * mixin to add image information for an item
          * mixin to return programme segment events, works in conjunction with programme or segment_event filters
        items:
          type: string
        required: false
        type: array
        displayName: |
          Mixins:
          * mixin to return information about contributors to items
          * mixin to add image information for an item
          * mixin to return programme segment events, works in conjunction with programme or segment_event filters
        facets:
          collectionFormat: string
      authority:
        description: filter for subset of items that have an ID issued by the given authority
        required: false
        type: string
        displayName: filter for subset of items that have an ID issued by the given authority
      id:
        collectionFormat: multi
        description: filter for subset of items having given ID
        items:
          type: string
        required: false
        type: array
        displayName: filter for subset of items having given ID
        facets:
          collectionFormat: string
      id_type:
        description: filter for subset of items that have given an ID of the given type
        required: false
        type: string
        displayName: filter for subset of items that have given an ID of the given type
      item_type:
        collectionFormat: multi
        description: filter for specific type(s) of items
        items:
          type: string
        required: false
        type: array
        displayName: filter for specific type(s) of items
        facets:
          collectionFormat: string
      page:
        default: 1
        description: which page of results to return
        minimum: 1
        required: false
        type: integer
        displayName: which page of results to return
      page_size:
        default: 10
        description: number of results in each page
        maximum: 300
        required: false
        type: integer
        displayName: number of results in each page
      partner_id:
        collectionFormat: multi
        description: filter for items by partner ID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for items by partner ID
        facets:
          collectionFormat: string
      partner_pid:
        collectionFormat: multi
        description: filter for items by partner PID
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for items by partner PID
        facets:
          collectionFormat: string
      people:
        description: filter for subset of items that have specified person involved
        required: false
        type: string
        displayName: filter for subset of items that have specified person involved
      pid:
        collectionFormat: multi
        description: filter for subset of items matching one of the given PIDs
        items:
          minLength: 8
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          type: string
        required: false
        type: array
        displayName: filter for subset of items matching one of the given PIDs
        facets:
          collectionFormat: string
      programme:
        description: filter for subset of items that are part of the given programme
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: false
        type: string
        displayName: filter for subset of items that are part of the given programme
      q:
        description: filter for subset of items matching supplied keyword/phrase (boolean operators permitted)
        required: false
        type: string
        displayName: filter for subset of items matching supplied keyword/phrase (boolean operators permitted)
      segment_event:
        description: filter for item with the given segment_event
        required: false
        type: string
        displayName: filter for item with the given segment_event
    (oas-tags):
      - feeds
types:
  ErrorModel:
    properties:
      fault:
        properties:
          detail:
            properties:
              errorcode:
                type: string
                required: false
            type: object
            required: false
          faultString:
            type: string
            required: false
        type: object
        required: false
  accurate_programme_time:
    type: dateRange
  accurate_time:
    type: broadcastTime
  actual_start:
    format: rfc3339
    type: datetime
  advertising_allowed:
    pattern: '[a-z0-9_]+'
    type: string
  affected_by:
    additionalProperties: false
    properties:
      filter:
        items:
          additionalProperties: false
          properties:
            description:
              type: string
            filter:
              items:
                additionalProperties: false
                properties:
                  description:
                    type: string
                  name:
                    type: string
                type: object
              type: array
              required: false
            name:
              type: string
          type: object
        type: array
        required: false
  alternate_images_mixin:
    additionalProperties: false
    properties:
      alternate_images:
        additionalProperties: false
        properties:
          alternate_image:
            items:
              additionalProperties: false
              properties:
                alternate_images:
                  additionalProperties: false
                  properties:
                    alternate_image:
                      items:
                        additionalProperties: false
                        properties:
                          href:
                            type: string
                            required: false
                          template_url:
                            type: string
                          type:
                            type: string
                            required: false
                        type: object
                      type: array
                      required: false
                  type: object
                href:
                  type: string
                  required: false
                template_url:
                  type: string
                type:
                  type: string
                  required: false
              type: object
            type: array
            required: false
        type: object
  ancestor_titles:
    additionalProperties: false
    properties:
      brand:
        additionalProperties: false
        properties:
          pid:
            type: pid
          title:
            type: title
            required: false
        type: object
        required: false
      episode:
        additionalProperties: false
        properties:
          brand:
            additionalProperties: false
            properties:
              pid:
                type: pid
              title:
                type: title
                required: false
            type: object
            required: false
          containers_title:
            type: containers_title
            required: false
          episode:
            additionalProperties: false
            properties:
              containers_title:
                type: containers_title
                required: false
              pid:
                type: pid
              presentation_title:
                type: presentation_title
                required: false
              title:
                type: title
                required: false
            type: object
            required: false
          pid:
            type: pid
          presentation_title:
            type: presentation_title
            required: false
          series:
            items:
              additionalProperties: false
              properties:
                pid:
                  type: pid
                title:
                  type: title
                  required: false
              type: object
            maxItems: 5
            type: array
            required: false
          title:
            type: title
            required: false
        type: object
        required: false
      series:
        items:
          additionalProperties: false
          properties:
            pid:
              type: pid
            title:
              type: title
              required: false
          type: object
        maxItems: 5
        type: array
        required: false
  ancestors:
    type: reference
  ancestors_titles:
    additionalProperties: false
    properties:
      brand:
        additionalProperties: false
        properties:
          pid:
            type: pid
          title:
            type: title
            required: false
        type: object
        required: false
      episode:
        additionalProperties: false
        properties:
          brand:
            additionalProperties: false
            properties:
              pid:
                type: pid
              title:
                type: title
                required: false
            type: object
            required: false
          containers_title:
            type: containers_title
            required: false
          episode:
            additionalProperties: false
            properties:
              containers_title:
                type: containers_title
                required: false
              pid:
                type: pid
              presentation_title:
                type: presentation_title
                required: false
              title:
                type: title
                required: false
            type: object
            required: false
          pid:
            type: pid
          presentation_title:
            type: presentation_title
            required: false
          series:
            items:
              additionalProperties: false
              properties:
                pid:
                  type: pid
                title:
                  type: title
                  required: false
              type: object
            maxItems: 5
            type: array
            required: false
          title:
            type: title
            required: false
        type: object
        required: false
      series:
        items:
          additionalProperties: false
          properties:
            pid:
              type: pid
            title:
              type: title
              required: false
          type: object
        maxItems: 5
        type: array
        required: false
  availability:
    additionalProperties: false
    properties:
      accurate_programme_time:
        type: accurate_programme_time
        required: false
      actual_start:
        type: actual_start
        required: false
      availability-debug:
        type: availability-debug
        required: false
      availability_of:
        items:
          type: availability_of
        type: array
        required: false
      availability_type:
        type: availability_type
      media_availability_time:
        type: media_availability_time
        required: false
      media_set:
        items:
          type: media_set
        type: array
        required: false
      revocation_status:
        type: revocation_status
        required: false
      scheduled_time:
        type: scheduled_time
        required: false
      status:
        type: status
  availability-debug:
    additionalProperties: false
    properties:
      availability_of:
        type: pidReference
      media_profile_groups:
        type: media_profile_groups
        required: false
      service:
        type: serviceReference
        required: false
      territory:
        type: string
        required: false
  availability_mixin:
    additionalProperties: false
    properties:
      availability:
        items:
          additionalProperties: false
          properties:
            status:
              type: status
            version_types:
              additionalProperties: false
              properties:
                version_type:
                  items:
                    additionalProperties: false
                    properties:
                      end:
                        format: rfc3339
                        type: datetime
                        required: false
                      id:
                        type: string
                        required: false
                      start:
                        format: rfc3339
                        type: datetime
                        required: false
                      version_type:
                        items:
                          additionalProperties: false
                          properties:
                            availability:
                              items:
                                additionalProperties: false
                                properties:
                                  status:
                                    type: status
                                  version_types:
                                    additionalProperties: false
                                    properties:
                                      version_type:
                                        items:
                                          additionalProperties: false
                                          properties:
                                            end:
                                              format: rfc3339
                                              type: datetime
                                              required: false
                                            id:
                                              type: string
                                              required: false
                                            start:
                                              format: rfc3339
                                              type: datetime
                                              required: false
                                            version_type:
                                              items:
                                                additionalProperties: false
                                                properties:
                                                  end:
                                                    format: rfc3339
                                                    type: datetime
                                                    required: false
                                                  id:
                                                    type: string
                                                    required: false
                                                  start:
                                                    format: rfc3339
                                                    type: datetime
                                                    required: false
                                                type: object
                                              minItems: 1
                                              type: array
                                          type: object
                                        minItems: 1
                                        type: array
                                    type: object
                                type: object
                              type: array
                              required: false
                            end:
                              format: rfc3339
                              type: datetime
                              required: false
                            id:
                              type: string
                              required: false
                            start:
                              format: rfc3339
                              type: datetime
                              required: false
                          type: object
                        minItems: 1
                        type: array
                    type: object
                  minItems: 1
                  type: array
              type: object
          type: object
        type: array
        required: false
  availability_of:
    additionalProperties: false
    properties:
      href:
        type: string
      pid:
        type: pid
      result_type:
        type: string
      type:
        type: string
        required: false
  availability_type:
    enum:
      - ondemand
      - simulcast
      - webcast
  available_media_sets:
    additionalProperties: false
    properties:
      media_sets:
        additionalProperties: false
        properties:
          media_set:
            items:
              additionalProperties: false
              properties:
                '#text':
                  type: string
                  required: false
                media_sets:
                  additionalProperties: false
                  properties:
                    media_set:
                      items:
                        additionalProperties: false
                        properties:
                          '#text':
                            type: string
                            required: false
                        type: object
                      minItems: 1
                      type: array
                  type: object
                  required: false
              type: object
            minItems: 1
            type: array
        type: object
        required: false
  available_mixins:
    additionalProperties: false
    properties:
      availabilities:
        additionalProperties: false
        properties:
          availabilities:
            additionalProperties: false
            properties:
              availability:
                items:
                  additionalProperties: false
                  properties:
                    accurate_end:
                      format: rfc3339
                      type: datetime
                      required: false
                    accurate_start:
                      format: rfc3339
                      type: datetime
                      required: false
                    available_versions_media_sets:
                      type: available_versions_media_sets
                    media_availability_end:
                      format: rfc3339
                      type: datetime
                      required: false
                    media_availability_start:
                      format: rfc3339
                      type: datetime
                      required: false
                    payment_type:
                      type: string
                      required: false
                    scheduled_end:
                      format: rfc3339
                      type: datetime
                      required: false
                    scheduled_start:
                      format: rfc3339
                      type: datetime
                      required: false
                    status:
                      type: string
                      required: false
                    type:
                      type: string
                      required: false
                  type: object
                minItems: 1
                type: array
              type:
                type: string
                required: false
            type: object
          availability:
            items:
              additionalProperties: false
              properties:
                accurate_end:
                  format: rfc3339
                  type: datetime
                  required: false
                accurate_start:
                  format: rfc3339
                  type: datetime
                  required: false
                available_versions_media_sets:
                  type: available_versions_media_sets
                media_availability_end:
                  format: rfc3339
                  type: datetime
                  required: false
                media_availability_start:
                  format: rfc3339
                  type: datetime
                  required: false
                payment_type:
                  type: string
                  required: false
                scheduled_end:
                  format: rfc3339
                  type: datetime
                  required: false
                scheduled_start:
                  format: rfc3339
                  type: datetime
                  required: false
                status:
                  type: string
                  required: false
                type:
                  type: string
                  required: false
              type: object
            minItems: 1
            type: array
          type:
            type: string
            required: false
        type: object
  available_simulcasts:
    additionalProperties: false
    properties:
      available:
        type: integer
      available_versions_element:
        type: available_versions_element
  available_versions:
    additionalProperties: false
    properties:
      available:
        type: integer
      available_versions_element:
        type: available_versions_element
  available_versions_element:
    additionalProperties: false
    properties:
      version:
        items:
          additionalProperties: false
          properties:
            available_mixins:
              type: available_mixins
              required: false
            competition_warning:
              type: boolean
              required: false
            duration:
              pattern: '^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$'
              type: string
              required: false
            guidance_warnings:
              type: guidance_warnings
              required: false
            pid:
              type: pid
              required: false
            types:
              items:
                additionalProperties: false
                properties:
                  type:
                    items:
                      type: string
                    type: array
                    required: false
                type: object
              minItems: 1
              type: array
            version:
              items:
                additionalProperties: false
                properties:
                  available_mixins:
                    type: available_mixins
                    required: false
                  competition_warning:
                    type: boolean
                    required: false
                  duration:
                    pattern: '^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$'
                    type: string
                    required: false
                  guidance_warnings:
                    type: guidance_warnings
                    required: false
                  pid:
                    type: pid
                    required: false
                  types:
                    items:
                      additionalProperties: false
                      properties:
                        type:
                          items:
                            type: string
                          type: array
                          required: false
                      type: object
                    minItems: 1
                    type: array
                type: object
              type: array
              required: false
          type: object
        type: array
        required: false
  available_versions_media_sets:
    additionalProperties: false
    properties:
      media_sets:
        additionalProperties: false
        properties:
          media_set:
            items:
              additionalProperties: false
              properties:
                actual_start:
                  format: rfc3339
                  type: datetime
                  required: false
                media_sets:
                  additionalProperties: false
                  properties:
                    media_set:
                      items:
                        additionalProperties: false
                        properties:
                          actual_start:
                            format: rfc3339
                            type: datetime
                            required: false
                          name:
[...]
