#%RAML 1.0
title: BBC iPlayer Business Layer
version: '1.0'
baseUri: 'http://ibl.api.bbci.co.uk/ibl/v1'
mediaType: application/json
protocols:
  - HTTP
  - HTTPS
description: The definitive iPlayer API.
(oas-info):
  (oas-x-logo):
    backgroundColor: '#FFFFFF'
    url: 'https://api.apis.guru/v2/cache/logo/http_static.bbci.co.uk_tviplayer_1.101.2_img_navigation_iplayer_pink.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Mermade/bbcparse/master/iblApi/swagger.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): bbci.co.uk
  (oas-x-release): '426'
  (oas-x-schema-id): 'https://ibl.api.bbci.co.uk/ibl/v1/schema/ibl.json'
  (oas-x-unofficialSpec): true
  contact:
    name: Open iBL Project
    url: 'http://developer.bbc.co.uk/'
    email: ibl-team@lists.forge.bbc.co.uk
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-release: any
  oas-x-schema-id: any
  oas-x-unofficialSpec: any
  oas-x-anyOf: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  description: BBC iPlayer documentation
  url: 'http://smethur.st/posts/176135860'
securitySchemes:
  basic:
    type: Basic Authentication
    description: Used only by store purchases.
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        api_key:
          type: string
/episodes:
  displayName: episodes
  '/{pid}':
    displayName: '{pid}'
    /recommendations:
      displayName: recommendations
      get:
        displayName: Get_Programme recommendations_
        description: Get programme recommendations
        (oas-summary): Get programme recommendations
        is:
          - rights
          - availability
          - page
          - perPage
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Episodes
    uriParameters:
      pid:
        description: The programme identifier.
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: true
        type: string
    get:
      displayName: Get_Programme by PID_
      description: Get the episode for a given episode identifier.
      (oas-summary): Episode for a given pid.
      is:
        - rights
        - availability
        - mixin
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - Episodes
    /prerolls:
      displayName: prerolls
      get:
        displayName: Get_Trailers (pre-rolls)_
        description: Get Trailers (pre-rolls)
        (oas-summary): Get Trailers (pre-rolls)
        is:
          - rights
          - availability
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Episodes
/user:
  displayName: user
  /watching:
    displayName: watching
    get:
      displayName: Get_User watching_
      description: Get user watching
      (oas-summary): Get user watching
      is:
        - identityCookie
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - User
  /recommendations:
    displayName: recommendations
    get:
      displayName: Get_User store recommendations_
      description: Get user store recommendations
      (oas-summary): Get user store recommendations
      is:
        - identityCookie
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - User
  /purchases:
    displayName: purchases
    get:
      displayName: Get_User store purchases_
      description: Get user store purchases
      (oas-summary): Get user store purchases
      is:
        - identityCookie
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      securedBy:
        - basic
      (oas-tags):
        - User
/groups:
  displayName: groups
  /popular:
    displayName: popular
    /episodes:
      displayName: episodes
      get:
        displayName: Get_Programmes popular_
        description: Get programmes popular
        (oas-summary): Get programmes popular
        is:
          - rights
          - page
          - perPage
          - initialChildCount
          - sort
          - sortDirection
          - availability
          - mixin
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Episodes
  '/{pid}':
    displayName: '{pid}'
    /episodes:
      displayName: episodes
      get:
        displayName: Get_Episodes by group_
        description: 'Get episodes by group, brand or series'
        (oas-summary): 'Get episodes by group, brand or series'
        is:
          - rights
          - page
          - perPage
          - initialChildCount
          - sort
          - sortDirection
          - availability
          - mixin
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Episodes
/atoz:
  displayName: atoz
  '/{letter}':
    displayName: '{letter}'
    /programmes:
      displayName: programmes
      get:
        displayName: Get_Programmes AtoZ search_
        description: Get the Programmes whose title begins with the given initial character.
        (oas-summary): Programmes by initial title character
        is:
          - rights
          - page
          - perPage
          - initialChildCount
          - sortDirection
          - availability
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        queryParameters:
          sort:
            description: The sort order of the results.
            enum:
              - title
            required: true
            type: string
        (oas-tags):
          - A to Z
/categories:
  displayName: categories
  '/{category}':
    displayName: '{category}'
    uriParameters:
      category:
        description: The category identifier to return results from.
        required: true
        type: string
    get:
      displayName: Get_Sub-categories_
      description: Get sub-categories
      (oas-summary): Get sub-categories
      is:
        - lang
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - Categories
    /highlights:
      displayName: highlights
      get:
        displayName: Get_Highlights by category_
        description: Get the editorial highlights of a given category in TV & iPlayer.
        (oas-summary): List the highlights for a category.
        is:
          - lang
          - rights
          - availability
          - mixin
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Programmes (TLEOs)
    /programmes:
      displayName: programmes
      get:
        displayName: Get_Programmes by category_
        description: Get the list of all the Programmes (TLEOs) for a given category in TV & iPlayer.
        (oas-summary): List all the programmes for a category.
        is:
          - lang
          - rights
          - availability
          - page
          - perPage
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Programmes (TLEOs)
    /episodes:
      displayName: episodes
      get:
        displayName: Get_Episodes by category_
        description: Get the list of all the episodes for a given category in TV & iPlayer.
        (oas-summary): List all the episodes for a category.
        is:
          - lang
          - rights
          - availability
          - page
          - perPage
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        queryParameters:
          sort:
            description: The sort order of the results.
            enum:
              - recent
              - popular
            required: false
            type: string
        (oas-tags):
          - Episodes
  get:
    displayName: Get_Categories_
    description: Get the list of all the categories in TV & iPlayer.
    (oas-summary): Get categories
    is:
      - lang
    responses:
      '200':
        body:
          application/json:
            type: ibl
        description: Default response
    (oas-tags):
      - Categories
/home:
  displayName: home
  /highlights:
    displayName: highlights
    get:
      displayName: Get_Programme highlights_
      description: Get programme highlights
      (oas-summary): Get programme highlights
      is:
        - lang
        - rights
        - availability
        - mixin
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - Programmes (TLEOs)
/programmes:
  displayName: programmes
  '/{pid}':
    displayName: '{pid}'
    uriParameters:
      pid:
        description: The programme identifier.
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: true
        type: string
    get:
      displayName: Get_Programmes by parent PID_
      description: Get the programme for a given programme identifier.
      (oas-summary): Programme for a given pid.
      is:
        - rights
        - availability
        - initialChildCount
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - Programmes (TLEOs)
    /episodes:
      displayName: episodes
      get:
        displayName: Get_Episodes by parent PID_
        description: Get the child episodes belonging to a given programme identifier.
        (oas-summary): Child episodes for a given programme pid.
        is:
          - rights
          - availability
          - initialChildCount
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Episodes
/channels:
  displayName: channels
  get:
    displayName: Get_Channels_
    description: Get the list of all the channels TV & iPlayer.
    (oas-summary): List all the channels.
    is:
      - lang
    responses:
      '200':
        body:
          application/json:
            type: ibl
        description: Default response
    queryParameters:
      region:
        description: The region to get the channels for.
        required: false
        type: string
    (oas-tags):
      - Channels
  '/{channel}':
    displayName: '{channel}'
    /highlights:
      displayName: highlights
      get:
        displayName: Get_Highlights by channel_
        description: Get the editorial highlights of a given channel in TV & iPlayer.
        (oas-summary): List the highlights for a channel.
        is:
          - lang
          - rights
          - availability
          - mixin
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        queryParameters:
          live:
            description: Whether to include live programmes
            required: false
            type: boolean
        (oas-tags):
          - Channels
    /schedule:
      displayName: schedule
      '/{date}':
        displayName: '{date}'
        uriParameters:
          date:
            description: 'The date to return the schedule for, yyyy-mm-dd format'
            required: true
            type: string
        get:
          displayName: Get_Schedule by channel_
          description: Get schedule by channel
          (oas-summary): Get schedule by channel
          is:
            - lang
            - rights
            - availability
          responses:
            '200':
              body:
                application/json:
                  type: ibl
              description: Default response
          (oas-tags):
            - Channels
    /broadcasts:
      displayName: broadcasts
      get:
        displayName: Get_Broadcasts by channel_
        description: Get broadcasts by channel
        (oas-summary): Get broadcasts by channel
        is:
          - lang
          - rights
          - availability
          - mixin
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Programmes (TLEOs)
    /programmes:
      displayName: programmes
      get:
        displayName: Get_Programmes by channel_
        description: Get programmes by channel
        (oas-summary): Get programmes by channel
        is:
          - lang
          - rights
          - availability
          - page
          - perPage
        responses:
          '200':
            body:
              application/json:
                type: ibl
            description: Default response
        (oas-tags):
          - Programmes (TLEOs)
/regions:
  displayName: regions
  get:
    displayName: Get_Regions_
    description: Get the list of all the regions TV & iPlayer.
    (oas-summary): List all regions
    is:
      - lang
    responses:
      '200':
        body:
          application/json:
            type: ibl
        description: Default response
    (oas-tags):
      - Regions
/schema:
  displayName: schema
  /ibl.json:
    displayName: ibl.json
    get:
      displayName: Get_Schema_
      description: Get schema
      (oas-summary): Get schema
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - Metadata
/search:
  displayName: search
  get:
    displayName: Search_
    description: Search
    (oas-summary): Search
    is:
      - q
      - lang
      - rights
      - availability
    responses:
      '200':
        body:
          application/json:
            type: ibl
        description: Default response
    (oas-tags):
      - Search
/status:
  displayName: status
  get:
    displayName: Get_Status_
    description: 'Get the current iPlayer business layer status. This tells the caller the status of the iPlayer data, but not necessarily the overall status of the website. In the future it might include the status of the dependent data services within the BBC.'
    (oas-summary): Get status
    responses:
      '200':
        body:
          application/json:
            type: ibl
        description: Default response
    (oas-tags):
      - Metadata
/search-suggest:
  displayName: search-suggest
  get:
    displayName: Search-suggest_
    description: Search-suggest
    (oas-summary): Search-suggest
    is:
      - q
      - lang
      - rights
      - availability
    responses:
      '200':
        body:
          application/json:
            type: ibl
        description: Default response
    (oas-tags):
      - Search
/clips:
  displayName: clips
  '/{pid}':
    displayName: '{pid}'
    uriParameters:
      pid:
        description: The programme identifier.
        minLength: 8
        pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
        required: true
        type: string
    get:
      displayName: Get_Clips_
      description: Get Clips
      (oas-summary): Get Clips
      is:
        - rights
        - availability
      responses:
        '200':
          body:
            application/json:
              type: ibl
          description: Default response
      (oas-tags):
        - Episodes
types:
  added:
    additionalProperties: false
    properties:
      programme:
        type: programme
      type:
        enum:
          - added
      urn:
        type: string
  broadcast:
    additionalProperties: false
    properties:
      available_on_hd_service:
        type:
          - string
          - nil
        required: false
      blanked:
        type: boolean
      channel_title:
        type: string
        required: false
      duration:
        additionalProperties: false
        properties:
          text:
            type: string
          value:
            type: string
        type: object
        required: false
      episode:
        type: episode
      episode_id:
        type: string
      id:
        type: string
      repeat:
        type: boolean
      scheduled_end:
        type: string
      scheduled_start:
        type: string
      service_id:
        type: string
      transmission_end:
        type: string
        required: false
      transmission_start:
        type: string
        required: false
      type:
        enum:
          - broadcast
      version_id:
        type: string
  category:
    additionalProperties: false
    properties:
      child_episode_count:
        type: number
        required: false
      child_programme_count:
        type: number
        required: false
      contextual_title:
        type: string
        required: false
      id:
        type: string
      kind:
        enum:
          - genre
          - accessibility
          - national
      parent_category:
        type: string
        required: false
      sub_categories:
        items:
          type: category
        type: array
        required: false
      title:
        type: string
      type:
        enum:
          - category
  channel:
    additionalProperties: false
    properties:
      has_schedule:
        type: boolean
      id:
        type: string
      master_brand_id:
        type: string
      master_brand_title:
        type: string
      on_air:
        type: boolean
        required: false
      title:
        type: string
      type:
        enum:
          - channel
  clip:
    additionalProperties: false
    properties:
      id:
        type: string
      images:
        additionalProperties: false
        properties:
          inherited_from:
            type: string
            required: false
          standard:
            type: string
          type:
            enum:
              - image
        type: object
      labels:
        additionalProperties: false
        properties:
          editorial:
            type: string
            required: false
        type: object
        required: false
      master_brand:
        type: master_brand
      onward_journey:
        additionalProperties: false
        properties:
          id:
            type: string
            required: false
          type:
            enum:
              - episode
            required: false
        type: object
        required: false
      promotion_type:
        enum:
          - available_now
          - coming_soon
        required: false
      synopses:
        additionalProperties: false
        properties:
          editorial:
            type: string
            required: false
          large:
            type: string
            required: false
          medium:
            type: string
            required: false
          small:
            type: string
            required: false
        type: object
      title:
        type: string
      tleo_id:
        type: string
      tleo_type:
        enum:
          - episode
          - brand
          - series
        required: false
      type:
        enum:
          - clip
      versions:
        items:
          additionalProperties: false
          properties:
            availability:
              additionalProperties: false
              properties:
                end:
                  type: string
                  required: false
                remaining:
                  additionalProperties: false
                  properties:
                    text:
                      type: string
                  type: object
                  required: false
                start:
                  type: string
              type: object
            credits_start:
              type: number
              required: false
            download:
              type: boolean
            duration:
              additionalProperties: false
              properties:
                text:
                  type: string
                value:
                  type: string
              type: object
            first_broadcast:
              type: string
              required: false
            guidance:
              additionalProperties: false
              properties:
                id:
                  type: string
                text:
                  additionalProperties: false
                  properties:
                    large:
                      type: string
                      required: false
                    medium:
                      type: string
                      required: false
                    small:
                      type: string
                      required: false
                  type: object
                  required: false
              type: object
              required: false
            hd:
              type: boolean
            id:
              type: string
            kind:
              type: string
            rrc:
              additionalProperties: false
              properties:
                description:
                  additionalProperties: false
                  properties:
                    large:
                      type: string
                    small:
                      type: string
                  type: object
                url:
                  type: string
                  required: false
              type: object
              required: false
            service_id:
              type: string
              required: false
            type:
              enum:
                - version
                - version_large
          type: object
        type: array
  episode:
    additionalProperties: false
    properties:
      audio_described:
        type: boolean
      categories:
        items:
          type: string
        type: array
      editorial_subtitle:
        type: string
        required: false
      editorial_title:
        type: string
        required: false
      guidance:
        type: boolean
      has_credits:
        type: boolean
        required: false
      id:
        type: string
      images:
        additionalProperties: false
        properties:
          inherited_from:
            type: string
            required: false
          standard:
            type: string
          type:
            enum:
              - image
        type: object
      labels:
        additionalProperties: false
        properties:
          category:
            type: string
            required: false
          editorial:
            type: string
            required: false
          editorial_category:
            type: string
            required: false
          time:
            type: string
            required: false
        type: object
        required: false
      lexical_sort_letter:
        type: string
      live:
        type: boolean
        required: false
      master_brand:
        type: master_brand
      next_broadcast:
        additionalProperties: false
        properties:
          channel_title:
            type: string
          scheduled_start:
            type: string
        type: object
        required: false
      original_title:
        type: string
        required: false
      parent_id:
        type: string
        required: false
      parent_position:
        type: number
        required: false
      promoted:
        type: boolean
        required: false
      related_links:
        items:
          additionalProperties: false
          properties:
            id:
              type: string
            kind:
              type: string
            title:
              type: string
            type:
              enum:
                - link
            url:
              type: string
          type: object
        type: array
        required: false
      release_date:
        type: string
        required: false
      release_date_time:
        type: string
        required: false
      requires_sign_in:
        type: boolean
      requires_tv_licence:
        type: boolean
        required: false
      signed:
        type: boolean
      status:
        enum:
          - available
          - unavailable
      subtitle:
        type: string
        required: false
      suppliers:
        items:
          properties:
            id:
              type: string
            title:
              type: string
          type: object
        type: array
      synopses:
        additionalProperties: false
        properties:
          editorial:
            type: string
            required: false
          large:
            type: string
            required: false
          medium:
            type: string
            required: false
          small:
            type: string
            required: false
        type: object
      title:
        type: string
      tleo_id:
        type: string
      tleo_type:
        enum:
          - episode
          - brand
          - series
      type:
        enum:
          - episode
          - episode_large
      versions:
        items:
          (oas-x-anyOf):
            - additionalProperties: false
              properties:
                availability:
                  additionalProperties: false
                  properties:
                    end:
                      type: string
                      required: false
                    remaining:
                      additionalProperties: false
                      properties:
                        text:
                          type: string
                      type: object
                      required: false
                    start:
                      type: string
                  type: object
                credits_start:
                  type: number
                  required: false
                download:
                  type: boolean
                duration:
                  additionalProperties: false
                  properties:
                    text:
                      type: string
                    value:
                      type: string
                  type: object
                first_broadcast:
                  type: string
                  required: false
                guidance:
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    text:
                      additionalProperties: false
                      properties:
                        large:
                          type: string
                          required: false
                        medium:
                          type: string
                          required: false
                        small:
                          type: string
                          required: false
                      type: object
                      required: false
                  type: object
                  required: false
                hd:
                  type: boolean
                id:
                  type: string
                kind:
                  type: string
                rrc:
                  additionalProperties: false
                  properties:
                    description:
                      additionalProperties: false
                      properties:
                        large:
                          type: string
                        small:
                          type: string
                      type: object
                    url:
                      type: string
                      required: false
                  type: object
                  required: false
                service_id:
                  type: string
                  required: false
                type:
                  enum:
                    - version
                    - version_large
              type: object
            - additionalProperties: false
              properties:
                download:
                  type: boolean
                duration:
                  additionalProperties: false
                  properties:
                    text:
                      type: string
                    value:
                      type: string
                  type: object
                guidance:
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    text:
                      additionalProperties: false
                      properties:
                        large:
                          type: string
                          required: false
                        medium:
                          type: string
                          required: false
                        small:
                          type: string
                          required: false
                      type: object
                      required: false
                  type: object
                  required: false
                hd:
                  type: boolean
                id:
                  type: string
                kind:
                  type: string
                store_id:
                  type: string
                store_profile:
                  type: string
                type:
                  enum:
                    - store_version
              type: object
        type: array
  group:
    additionalProperties: false
    properties:
      count:
        type: number
        required: false
      episode_sort_direction:
        type: string
        required: false
      group_type:
        enum:
          - tleo
          - curated
        required: false
      id:
        type: string
      images:
        additionalProperties: false
        properties:
          standard:
            type: string
          type:
            enum:
              - image
          vertical:
            type: string
        type: object
        required: false
      initial_children:
        items:
          (oas-x-anyOf):
            - type: episode
            - type: broadcast
        type: array
        required: false
      master_brand:
        type: master_brand
        required: false
      related_links:
        items:
          additionalProperties: false
          properties:
            kind:
              type: string
            title:
              type: string
            url:
              type: string
          type: object
        type: array
        required: false
      stacked:
        type: boolean
        required: false
      synopses:
        additionalProperties: false
        properties:
          large:
            type: string
            required: false
          medium:
            type: string
            required: false
          small:
            type: string
            required: false
        type: object
        required: false
      title:
        type: string
        required: false
      type:
        enum:
          - group
          - group_large
  ibl:
    additionalProperties: false
    properties:
      added:
        additionalProperties: false
        properties:
          count:
            type: number
          count_all:
            type: number
          elements:
            items:
              type: added
            type: array
        type: object
        required: false
      atoz_programmes:
        additionalProperties: false
        properties:
          character:
            type: string
          count:
            type: number
          elements:
            items:
              type: programme
            type: array
          page:
            type: number
          per_page:
            type: number
        type: object
        required: false
      broadcasts:
        additionalProperties: false
        properties:
          channel:
            type: channel
          count:
            type: number
          elements:
            items:
              type: broadcast
            type: array
          page:
            type: number
          per_page:
            type: number
        type: object
        required: false
      categories:
        items:
          type: category
        type: array
        required: false
      category:
        type: category
        required: false
      category_highlights:
        additionalProperties: false
        properties:
          category:
            type: category
          elements:
            items:
              (oas-x-anyOf):
                - type: episode
                - type: group
                - type: promotion
            type: array
        type: object
        required: false
      category_programmes:
        additionalProperties: false
        properties:
          category:
            type: category
          count:
            type: number
          elements:
            items:
              type: programme
            type: array
          page:
            type: number
          per_page:
            type: number
        type: object
        required: false
      channel_highlights:
        additionalProperties: false
        properties:
          channel:
            type: channel
          elements:
            items:
              (oas-x-anyOf):
                - type: episode
                - type: group
                - type: promotion
            type: array
        type: object
        required: false
      channels:
        items:
          type: channel
        type: array
        required: false
      clips:
        items:
          type: clip
        maxItems: 1
        type: array
        required: false
      episode_recommendations:
        additionalProperties: false
        properties:
          blend:
            enum:
              - curated
              - algorithmic
          count:
            type: number
          elements:
            items:
              type: episode
            type: array
        type: object
        required: false
      episodes:
        items:
          type: episode
        type: array
        required: false
      error:
        additionalProperties: false
        properties:
          details:
            type: string
          http_response_code:
            type: number
        type: object
        required: false
      group_episodes:
        additionalProperties: false
        properties:
          count:
            type: number
          elements:
            items:
              type: episode
            type: array
          group:
            type: group
            required: false
          page:
            type: number
          per_page:
            type: number
        type: object
        required: false
      home_highlights:
        additionalProperties: false
        properties:
          elements:
            items:
              (oas-x-anyOf):
                - type: episode
                - type: group
                - type: promotion
            type: array
        type: object
        required: false
      next:
        properties:
          programme:
            items:
              type: episode
            maxItems: 1
            minItems: 0
            type: array
            required: false
        type: object
        required: false
      prerolls:
        items:
          type: trailer
        type: array
        required: false
      programme_episodes:
        additionalProperties: false
        properties:
          count:
            type: number
          elements:
            items:
              type: episode
            type: array
          page:
            type: number
          per_page:
            type: number
        type: object
        required: false
      programmes:
        items:
          type: programme
        type: array
        required: false
      purchases:
        additionalProperties: false
        properties:
          count:
            type: number
          elements:
            items:
              type: episode
            type: array
          page:
            type: number
          per_page:
            type: number
          revocations:
            type: boolean
          value_added_material:
            type: boolean
        type: object
        required: false
      regions:
        items:
          type: region
        type: array
        required: false
      schedule:
        additionalProperties: false
        properties:
          channel:
            type: channel
          elements:
            items:
              type: broadcast
            type: array
        type: object
        required: false
      schema:
        type: string
      search:
        additionalProperties: false
        properties:
          count:
            type: number
            required: false
          page:
            type: number
            required: false
          per_page:
            type: number
            required: false
          query:
            type: string
          results:
            items:
              (oas-x-anyOf):
                - type: episode
                - type: programme
                - type: search_group
            type: array
        type: object
        required: false
      search_suggest:
        additionalProperties: false
        properties:
          query:
            type: string
          results:
            items:
              type: programme
            type: array
        type: object
        required: false
      status:
        additionalProperties: false
        properties:
          release:
            type: string
          service:
            type: string
        type: object
        required: false
      trailers:
        additionalProperties: false
        properties:
          elements:
            items:
              type: clip
            type: array
        type: object
        required: false
      user_recommendations:
        additionalProperties: false
        properties:
          elements:
            items:
              type: user_recommendation
            type: array
          rec_set:
            type: string
          rec_source:
            type: string
        type: object
        required: false
      version:
        type: string
      versions:
        items:
          type: store_version
        type: array
        required: false
      watching:
        additionalProperties: false
        properties:
          count:
            type: number
          count_all:
            type: number
          elements:
            items:
              type: watching
            type: array
        type: object
        required: false
  master_brand:
    additionalProperties: false
    properties:
      attribution:
        type: string
      id:
        type: string
      ident_id:
        type: string
        required: false
      titles:
        additionalProperties: false
        properties:
          large:
            type: string
          medium:
            type: string
          small:
            type: string
        type: object
  programme:
    additionalProperties: false
    properties:
      categories:
        items:
          type: string
        type: array
      count:
        type: number
      id:
        type: string
      images:
        additionalProperties: false
        properties:
          inherited_from:
            type: string
            required: false
          standard:
            type: string
          type:
            enum:
              - image
        type: object
      initial_children:
        items:
          type: episode
        type: array
      labels:
        additionalProperties: false
        properties:
          category:
            type: string
            required: false
        type: object
        required: false
      lexical_sort_letter:
        type: string
      master_brand:
        type: master_brand
      status:
        enum:
          - available
          - unavailable
      suppliers:
        items:
          properties:
            id:
              type: string
            title:
              type: string
          type: object
        type: array
      synopses:
        additionalProperties: false
        properties:
          large:
            type: string
            required: false
          medium:
            type: string
            required: false
          small:
            type: string
            required: false
        type: object
      title:
        type: string
      tleo_type:
        enum:
          - brand
          - series
          - episode
        required: false
      type:
        enum:
          - programme
          - programme_large
  promotion:
    additionalProperties: false
    properties:
      id:
        type: string
      images:
        additionalProperties: false
        properties:
          inherited_from:
            type: string
            required: false
          standard:
            type: string
          type:
            enum:
              - image
        type: object
        required: false
      labels:
        additionalProperties: false
        properties:
          promotion:
            type: string
        type: object
        required: false
      subtitle:
        type: string
        required: false
      synopses:
        additionalProperties: false
        properties:
          large:
            type: string
            required: false
          medium:
            type: string
            required: false
          small:
            type: string
            required: false
        type: object
        required: false
      title:
        type: string
        required: false
      type:
        enum:
          - promotion
      url:
        type: string
        required: false
  region:
    additionalProperties: false
    properties:
      id:
        type: string
      kind:
        enum:
          - regional
          - national
      title:
        type: string
      type:
        enum:
          - region
  search_group:
    additionalProperties: false
    properties:
      episode:
        type: episode
      id:
        type: string
      type:
        enum:
          - search_group
  store_version:
    additionalProperties: false
    properties:
      download:
        type: boolean
      duration:
        additionalProperties: false
        properties:
          text:
            type: string
          value:
            type: string
        type: object
      guidance:
        additionalProperties: false
        properties:
          id:
            type: string
          text:
            additionalProperties: false
            properties:
              large:
                type: string
                required: false
              medium:
                type: string
                required: false
              small:
                type: string
                required: false
            type: object
            required: false
        type: object
        required: false
      hd:
        type: boolean
      id:
        type: string
      kind:
        type: string
      store_id:
        type: string
      store_profile:
        type: string
      type:
        enum:
          - store_version
  trailer:
    additionalProperties: false
    properties:
      id:
        type: string
      kind:
        enum:
          - available_now
          - coming_soon
          - other
      title:
        type: string
      type:
        enum:
          - trailer
      version_id:
        type: string
  user_recommendation:
    additionalProperties: false
    properties:
      algorithm:
        type: string
      episode:
        type: episode
      type:
        enum:
          - user_recommendation
  version:
    additionalProperties: false
    properties:
      availability:
        additionalProperties: false
        properties:
          end:
            type: string
            required: false
          remaining:
            additionalProperties: false
            properties:
              text:
                type: string
            type: object
            required: false
          start:
            type: string
        type: object
      credits_start:
        type: number
        required: false
      download:
        type: boolean
      duration:
        additionalProperties: false
        properties:
          text:
            type: string
          value:
            type: string
        type: object
      first_broadcast:
        type: string
        required: false
      guidance:
        additionalProperties: false
        properties:
          id:
            type: string
          text:
            additionalProperties: false
            properties:
              large:
                type: string
                required: false
              medium:
                type: string
                required: false
              small:
                type: string
                required: false
            type: object
            required: false
        type: object
        required: false
      hd:
        type: boolean
      id:
        type: string
      kind:
        type: string
      rrc:
        additionalProperties: false
        properties:
          description:
            additionalProperties: false
            properties:
              large:
                type: string
              small:
                type: string
            type: object
          url:
            type: string
            required: false
        type: object
        required: false
      service_id:
        type: string
        required: false
      type:
        enum:
          - version
          - version_large
  watching:
    additionalProperties: false
    properties:
      episode:
        type: episode
      has_next:
        type: boolean
      offset:
        type: number
        required: false
      programme:
        type: programme
      progress:
        type: number
        required: false
      remaining:
        type: number
        required: false
      status:
        enum:
          - current
          - next
        required: false
      type:
        enum:
          - watching
      urn:
        type: string
      version:
        type: version
traits:
  availability:
    queryParameters:
      availability:
        type: string
        description: 'Whether to return all, or available programmes'
        default: available
        enum:
          - all
          - available
        required: true
  identityCookie:
    queryParameters:
      identity_cookie:
        type: number
        description: The BBC-id cookie value
        format: double
        required: true
  initialChildCount:
    queryParameters:
      initial_child_count:
        type: integer
        description: The depth to return child entities.
        default: 4
        maximum: 4
        minimum: 1
        required: true
  lang:
    queryParameters:
      lang:
        type: string
        description: The language for any applicable localised strings.
        enum:
          - en
          - cy
          - ga
          - gd
          - pi
        required: true
  mixin:
    queryParameters:
      mixin:
        type: array
        description: Request additional data in the output
        collectionFormat: multi
        items:
          type: string
        required: false
        facets:
          collectionFormat: string
  page:
    queryParameters:
      page:
        type: integer
        description: The page index.
        format: int64
        required: true
  perPage:
    queryParameters:
      per_page:
        type: integer
        description: The number of results to return.
        format: int64
        required: true
  q:
    queryParameters:
      q:
        type: string
        description: The term to search for.
        required: true
  rights:
    queryParameters:
      rights:
        type: string
        description: The rights group to limit results to.
        default: web
        enum:
          - mobile
          - tv
          - web
        required: true
  sort:
    queryParameters:
      sort:
        type: string
        description: The sort order of the results.
        required: true
  sortDirection:
    queryParameters:
      sort_direction:
        type: string
        description: Whether to sort ascending or descending
        enum:
          - asc
          - desc
        required: true
