#%RAML 1.0
title: Beanstream Payments
version: 1.0.1
baseUri: 'https://www.beanstream.com/api/v1'
mediaType: application/json
protocols:
  - HTTPS
description: 'https://www.beanstream.com/api/v1'
(oas-info):
  (oas-x-apisguru-categories):
    - payment
    - financial
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_www.beanstream.com_wp-content_uploads_2015_08_Beanstream-logo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://support.beanstream.com/restapi/swagger.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): beanstream.com
  (oas-x-tags):
    - payments
    - bank-neutral
    - omni-channel reporting
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-tags: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
/profiles:
  displayName: profiles
  '/{profileId}':
    displayName: '{profileId}'
    uriParameters:
      profileId:
        description: The profile id. (aka CustomerCode)
        required: true
        type: string
    get:
      displayName: GET_profiles-profileId
      description: 'Get a Payment Profile using the profile ID, also known as the Customer Code.'
      (oas-summary): Get profile
      responses:
        '200':
          body:
            application/json:
              type: PaymentProfile
          description: The Profile.
        '400':
          body:
            application/json:
              type: BeanstreamException
          description: Bad Request
        '401':
          body:
            application/json:
              type: BeanstreamException
          description: Authentication Failure
        '402':
          body:
            application/json:
              type: BeanstreamException
          description: Business Rule Violation or Decline
        '403':
          body:
            application/json:
              type: BeanstreamException
          description: Authorization Failure
        '405':
          body:
            application/json:
              type: BeanstreamException
          description: Invalid Request Method
        '500':
          body:
            application/json:
              type: BeanstreamException
          description: Internal Server Error
      (oas-tags):
        - Profiles
    put:
      displayName: PUT_profiles-profileId
      description: Create a new Payment Profile using either a card or a Legato token. You must supply one of them.
      (oas-summary): Update Profile
      body:
        application/json:
          type: UpdateProfileBody
          (oas-body-name): updateProfileBody
      responses:
        '200':
          body:
            application/json:
              type: ProfileResponse
          description: The Profile.
        '400':
          body:
            application/json:
              type: BeanstreamException
          description: Bad Request
        '401':
          body:
            application/json:
              type: BeanstreamException
          description: Authentication Failure
        '402':
          body:
            application/json:
              type: BeanstreamException
          description: Business Rule Violation or Decline
        '403':
          body:
            application/json:
              type: BeanstreamException
          description: Authorization Failure
        '405':
          body:
            application/json:
              type: BeanstreamException
          description: Invalid Request Method
        '500':
          body:
            application/json:
              type: BeanstreamException
          description: Internal Server Error
      (oas-tags):
        - Profiles
    /cards:
      displayName: cards
      get:
        displayName: GET_profiles-profileId-cards
        description: Get all of the cards on the profile.
        (oas-summary): Get cards
        responses:
          '200':
            body:
              application/json:
                type: ProfileGetCards
            description: The Profile.
          '400':
            body:
              application/json:
                type: BeanstreamException
            description: Bad Request
          '401':
            body:
              application/json:
                type: BeanstreamException
            description: Authentication Failure
          '402':
            body:
              application/json:
                type: BeanstreamException
            description: Business Rule Violation or Decline
          '403':
            body:
              application/json:
                type: BeanstreamException
            description: Authorization Failure
          '405':
            body:
              application/json:
                type: BeanstreamException
            description: Invalid Request Method
          '500':
            body:
              application/json:
                type: BeanstreamException
            description: Internal Server Error
        (oas-tags):
          - Profiles
      '/{cardId}':
        displayName: '{cardId}'
        uriParameters:
          cardId:
            description: The card id.
            required: true
            type: integer
        put:
          displayName: PUT_profiles-profileId-cards-cardId
          description: Update the details of a card on the profile.
          (oas-summary): Update card
          body:
            application/json:
              type: ProfileCard
              (oas-body-name): card
              description: The card that will be updated on the profile.
          responses:
            '200':
              body:
                application/json:
                  type: ProfileResponse
              description: The Profile.
            '400':
              body:
                application/json:
                  type: BeanstreamException
              description: Bad Request
            '401':
              body:
                application/json:
                  type: BeanstreamException
              description: Authentication Failure
            '402':
              body:
                application/json:
                  type: BeanstreamException
              description: Business Rule Violation or Decline
            '403':
              body:
                application/json:
                  type: BeanstreamException
              description: Authorization Failure
            '405':
              body:
                application/json:
                  type: BeanstreamException
              description: Invalid Request Method
            '500':
              body:
                application/json:
                  type: BeanstreamException
              description: Internal Server Error
          (oas-tags):
            - Profiles
        delete:
          displayName: DELETE_profiles-profileId-cards-cardId
          description: Delete a card on the profile.
          (oas-summary): Delete card
          responses:
            '200':
              body:
                application/json:
                  type: ProfileResponse
              description: The Profile.
            '400':
              body:
                application/json:
                  type: BeanstreamException
              description: Bad Request
            '401':
              body:
                application/json:
                  type: BeanstreamException
              description: Authentication Failure
            '402':
              body:
                application/json:
                  type: BeanstreamException
              description: Business Rule Violation or Decline
            '403':
              body:
                application/json:
                  type: BeanstreamException
              description: Authorization Failure
            '405':
              body:
                application/json:
                  type: BeanstreamException
              description: Invalid Request Method
            '500':
              body:
                application/json:
                  type: BeanstreamException
              description: Internal Server Error
          (oas-tags):
            - Profiles
      post:
        displayName: POST_profiles-profileId-cards
        description: Add a card to the profile. Note that there is a default limit of 1 card per profile. You can change this in your Profiles settings in the back office.
        (oas-summary): Add card
        body:
          application/json:
            type: ProfileCard
            (oas-body-name): card
            description: The card that will be added to the profile.
        responses:
          '200':
            body:
              application/json:
                type: ProfileResponse
            description: The Profile.
          '400':
            body:
              application/json:
                type: BeanstreamException
            description: Bad Request
          '401':
            body:
              application/json:
                type: BeanstreamException
            description: Authentication Failure
          '402':
            body:
              application/json:
                type: BeanstreamException
            description: Business Rule Violation or Decline
          '403':
            body:
              application/json:
                type: BeanstreamException
            description: Authorization Failure
          '405':
            body:
              application/json:
                type: BeanstreamException
            description: Invalid Request Method
          '500':
            body:
              application/json:
                type: BeanstreamException
            description: Internal Server Error
        (oas-tags):
          - Profiles
    delete:
      displayName: DELETE_profiles-profileId
      description: 'Delete a Payment Profile using the profile ID, also known as the Customer Code.'
      (oas-summary): Delete profile
      responses:
        '200':
          body:
            application/json:
              type: ProfileResponse
          description: The Profile.
        '400':
          body:
            application/json:
              type: BeanstreamException
          description: Bad Request
        '401':
          body:
            application/json:
              type: BeanstreamException
          description: Authentication Failure
        '402':
          body:
            application/json:
              type: BeanstreamException
          description: Business Rule Violation or Decline
        '403':
          body:
            application/json:
              type: BeanstreamException
          description: Authorization Failure
        '405':
          body:
            application/json:
              type: BeanstreamException
          description: Invalid Request Method
        '500':
          body:
            application/json:
              type: BeanstreamException
          description: Internal Server Error
      (oas-tags):
        - Profiles
  post:
    displayName: POST_profiles
    description: Create a new Payment Profile using either a card or a Legato token. You must supply one of them.
    (oas-summary): Create Profile
    body:
      application/json:
        type: CreateProfileBody
        (oas-body-name): createProfileBody
    responses:
      '200':
        body:
          application/json:
            type: ProfileResponse
        description: The Profile.
      '400':
        body:
          application/json:
            type: BeanstreamException
        description: Bad Request
      '401':
        body:
          application/json:
            type: BeanstreamException
        description: Authentication Failure
      '402':
        body:
          application/json:
            type: BeanstreamException
        description: Business Rule Violation or Decline
      '403':
        body:
          application/json:
            type: BeanstreamException
        description: Authorization Failure
      '405':
        body:
          application/json:
            type: BeanstreamException
        description: Invalid Request Method
      '500':
        body:
          application/json:
            type: BeanstreamException
        description: Internal Server Error
    (oas-tags):
      - Profiles
/scripts:
  displayName: scripts
  /tokenization:
    displayName: tokenization
    /tokens:
      displayName: tokens
      post:
        displayName: POST_scripts-tokenization-tokens
        description: 'NOTE that the full URL for this API call is https://www.beanstream.com/scripts/tokenization/tokens. Turn a credit card into a token using this service. This helps lessen your PCI scope by not passing the credit card information to your server. Instead you turn the card number into a token in the client app, then send the token to the server. When you send the token to Beanstream to make a payment, Beanstream then looks up the card number from that token and makes the payment. Tokens can also be used to create payment profiles.'
        (oas-summary): Tokenize credit card
        body:
          application/json:
            type: TokenRequest
            (oas-body-name): token_request
        responses:
          '200':
            body:
              application/json:
                type: TokenResponse
            description: Token response object. One will always be returned even if the data or card was invalid. The validity of the card is not checked with this API call.
        (oas-tags):
          - Tokenization
/payments:
  displayName: payments
  post:
    displayName: POST_payments
    description: 'Make a payment using credit card, cash, cheque, profile, or token. Each payment type has its own json definition passed in the body. For all payments you have the standard Billing, Shipping, Comments, etc. fields that are optional. Only the amount is required along with the payment data for card, cash, cheque, profile, and token. You must change the payment_method for each payment type. Credit Card - "card", Payment Profile - "payment_profile", Legato Token - "token", Cash - "cash", Cheque - "cheque", Interac - "interac"'
    (oas-summary): Make Payment
    body:
      application/json:
        type: PaymentRequest
        (oas-body-name): payment_request
    responses:
      '200':
        body:
          application/json:
            type: PaymentResponse
        description: Payment response containing the payment details as well as if the payment was approved or declined.
      '400':
        body:
          application/json:
            type: BeanstreamException
        description: Bad Request
      '401':
        body:
          application/json:
            type: BeanstreamException
        description: Authentication Failure
      '402':
        body:
          application/json:
            type: BeanstreamException
        description: Business Rule Violation or Decline
      '403':
        body:
          application/json:
            type: BeanstreamException
        description: Authorization Failure
      '405':
        body:
          application/json:
            type: BeanstreamException
        description: Invalid Request Method
      '500':
        body:
          application/json:
            type: BeanstreamException
        description: Internal Server Error
    (oas-tags):
      - Payments
  '/{transId}':
    displayName: '{transId}'
    /completions:
      displayName: completions
      post:
        displayName: POST_payments-transId-completions
        description: Complete a pre-authorized payment. The amount of the transaction to complete must be less than or equal to the original pre-auth amount. Complete must be set to true.
        (oas-summary): Complete pre-auth
        body:
          application/json:
            type: PaymentRequest
            (oas-body-name): payment_request
        responses:
          '200':
            body:
              application/json:
                type: PaymentResponse
            description: Payment response containing the payment details as well as if the transaction was approved or declined.
          '400':
            body:
              application/json:
                type: BeanstreamException
            description: Bad Request
          '401':
            body:
              application/json:
                type: BeanstreamException
            description: Authentication Failure
          '402':
            body:
              application/json:
                type: BeanstreamException
            description: Business Rule Violation or Decline
          '403':
            body:
              application/json:
                type: BeanstreamException
            description: Authorization Failure
          '405':
            body:
              application/json:
                type: BeanstreamException
            description: Invalid Request Method
          '500':
            body:
              application/json:
                type: BeanstreamException
            description: Internal Server Error
        (oas-tags):
          - Payments
    /void:
      displayName: void
      post:
        displayName: POST_payments-transId-void
        description: 'Void a transaction. You can void payments, returns, pre-auths, and completions. It will cancel that transaction.'
        (oas-summary): Void Transaction
        body:
          application/json:
            type: Void
            (oas-body-name): void
        responses:
          '200':
            body:
              application/json:
                type: PaymentResponse
            description: Payment response containing the payment details as well as if the transaction was approved or declined.
          '400':
            body:
              application/json:
                type: BeanstreamException
            description: Bad Request
          '401':
            body:
              application/json:
                type: BeanstreamException
            description: Authentication Failure
          '402':
            body:
              application/json:
                type: BeanstreamException
            description: Business Rule Violation or Decline
          '403':
            body:
              application/json:
                type: BeanstreamException
            description: Authorization Failure
          '405':
            body:
              application/json:
                type: BeanstreamException
            description: Invalid Request Method
          '500':
            body:
              application/json:
                type: BeanstreamException
            description: Internal Server Error
        (oas-tags):
          - Payments
    /returns:
      displayName: returns
      post:
        displayName: POST_payments-transId-returns
        description: Return payment.
        (oas-summary): Return payment
        body:
          application/json:
            type: Return
            (oas-body-name): return
        responses:
          '200':
            body:
              application/json:
                type: PaymentResponse
            description: Payment response containing the payment details as well as if the transaction was approved or declined.
          '400':
            body:
              application/json:
                type: BeanstreamException
            description: Bad Request
          '401':
            body:
              application/json:
                type: BeanstreamException
            description: Authentication Failure
          '402':
            body:
              application/json:
                type: BeanstreamException
            description: Business Rule Violation or Decline
          '403':
            body:
              application/json:
                type: BeanstreamException
            description: Authorization Failure
          '405':
            body:
              application/json:
                type: BeanstreamException
            description: Invalid Request Method
          '500':
            body:
              application/json:
                type: BeanstreamException
            description: Internal Server Error
        (oas-tags):
          - Payments
    uriParameters:
      transId:
        description: The transaction id.
        required: true
        type: integer
    get:
      displayName: GET_payments-transId
      description: Get a previous payment (transaction).
      (oas-summary): Get payment
      responses:
        '200':
          body:
            application/json:
              type: Transaction
          description: A transaction object.
        '400':
          body:
            application/json:
              type: BeanstreamException
          description: Bad Request
        '401':
          body:
            application/json:
              type: BeanstreamException
          description: Authentication Failure
        '402':
          body:
            application/json:
              type: BeanstreamException
          description: Business Rule Violation or Decline
        '403':
          body:
            application/json:
              type: BeanstreamException
          description: Authorization Failure
        '405':
          body:
            application/json:
              type: BeanstreamException
          description: Invalid Request Method
        '500':
          body:
            application/json:
              type: BeanstreamException
          description: Internal Server Error
      (oas-tags):
        - Payments
/reports:
  displayName: reports
  post:
    displayName: POST_reports
    description: 'Query for transactions using a date range and optional search criteria. This method allows you to page your search results if you are expecting a lot of results to be returned. The page start value begins at 1. If no records are found the API will return a 404 error message. For details on the parameters and allowed values for Criteria please visit the documentation http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/'
    (oas-summary): Search Query
    body:
      application/json:
        type: SearchQuery
        (oas-body-name): search_query
    responses:
      '200':
        body:
          application/json:
            type: SearchResult
        description: A transaction object.
      '400':
        body:
          application/json:
            type: BeanstreamException
        description: Bad Request
      '401':
        body:
          application/json:
            type: BeanstreamException
        description: Authentication Failure
      '402':
        body:
          application/json:
            type: BeanstreamException
        description: Business Rule Violation or Decline
      '403':
        body:
          application/json:
            type: BeanstreamException
        description: Authorization Failure
      '405':
        body:
          application/json:
            type: BeanstreamException
        description: Invalid Request Method
      '500':
        body:
          application/json:
            type: BeanstreamException
        description: Internal Server Error
    (oas-tags):
      - Reporting
types:
  Address:
    properties:
      address_line1:
        description: alphanumeric (64)
        type: string
        required: false
      address_line2:
        description: alphanumeric (64)
        type: string
        required: false
      city:
        description: alphanumeric (32)
        type: string
        required: false
      country:
        description: characters (2)
        type: string
        required: false
      email_address:
        description: alphanumeric (32)
        type: string
        required: false
      name:
        description: alphanumeric (64)
        type: string
        required: false
      phone_number:
        description: alphanumeric (32)
        type: string
        required: false
      postal_code:
        description: alphanumeric (16)
        type: string
        required: false
      province:
        description: characters (2)
        type: string
        required: false
  Adjustment:
    properties:
      amount:
        format: double
        type: number
        required: false
      approval:
        type: integer
        required: false
      created:
        description: 'The date it was created ''2015-04-22T10:03:19.323-07:00'''
        type: string
        required: false
      id:
        type: integer
        required: false
      message:
        type: string
        required: false
      type:
        type: string
        required: false
      url:
        type: string
        required: false
  BeanstreamException:
    properties:
      category:
        format: int32
        type: integer
        required: false
      code:
        format: int32
        type: integer
        required: false
      details:
        items:
          type: Detail
        type: array
        required: false
      message:
        type: string
        required: false
      reference:
        type: string
        required: false
  Card:
    properties:
      complete:
        default: true
        description: 'set to false for Pre-Authorize, and true to complete a payment'
        type: boolean
        required: false
      cvd:
        default: '123'
        description: Security code on the back of the credit card. This can be set to mandatory in the back office. digits(3 or 4)
        type: string
        required: false
      expiry_month:
        default: '02'
        description: eg. 02 for February. digits(2)
        type: string
      expiry_year:
        default: '18'
        description: eg. 15 for 2015. digits(2)
        type: string
      name:
        description: Card holder name. alphanumeric(64)
        type: string
      number:
        default: '5100000010001004'
        description: Credit card number (PAN). digits(20)
        type: string
  CardGetTransactionResponse:
    properties:
      address_match:
        description: digits (1)
        type: integer
        required: false
      avs_result:
        description: characters (1)
        type: string
        required: false
      card_type:
        description: characters (2)
        type: string
        required: false
      cvd_match:
        description: digits (2)
        type: integer
        required: false
      expiry_month:
        description: characters (2)
        type: string
        required: false
      expiry_year:
        description: characters (2)
        type: string
        required: false
      last_four:
        description: digits (4)
        type: string
        required: false
  CardPurchaseResponse:
    properties:
      address_match:
        description: digits (1)
        type: integer
        required: false
      card_type:
        description: characters (2)
        type: string
        required: false
      cvd_match:
        description: digits (2)
        type: integer
        required: false
      last_four:
        description: digits (4)
        type: string
        required: false
      postal_result:
        description: digits (1)
        type: integer
        required: false
  CreateProfileBody:
    properties:
      billing:
        type: Address
        required: false
      card:
        type: ProfileFromCard
        required: false
      comment:
        description: alphanumeric(256)
        type: string
        required: false
      custom:
        type: Custom
        required: false
      language:
        description: characters(2)
        type: string
        required: false
      token:
        type: ProfileFromToken
        required: false
  Criteria:
    properties:
      field:
        description: 'Refer to the table on this page for the searchable fields http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/'
        type: integer
        required: false
      operator:
        description: 'URL encoded comparators such as less than, greater than, equals... Refer to the table on this page for the full list of comparators http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/'
        type: string
        required: false
      value:
        description: The value you want to match against.
        type: string
        required: false
  Custom:
    properties:
      ref1:
        description: alphanumeric (256)
        type: string
        required: false
      ref2:
        description: alphanumeric (256)
        type: string
        required: false
      ref3:
        description: alphanumeric (256)
        type: string
        required: false
      ref4:
        description: alphanumeric (256)
        type: string
        required: false
      ref5:
        description: alphanumeric (256)
        type: string
        required: false
  Detail:
    properties:
      field:
        type: string
        required: false
      message:
        type: string
        required: false
  GetProfileDefaultCard:
    properties:
      card_type:
        description: 'MC, VI etc. characters(2)'
        type: string
        required: false
      expiry_month:
        description: digits(2)
        type: string
        required: false
      expiry_year:
        description: digits(2)
        type: string
        required: false
      name:
        description: cardholder name alphanumeric(64)
        type: string
        required: false
      number:
        description: masked credit card number alphanumeric(20)
        type: string
        required: false
  Link:
    properties:
      href:
        description: 'alphanumeric (256). Url to perform the void, return, completion etc.'
        type: string
        required: false
      method:
        description: 'characters (16). Http method. post, put, get etc.'
        type: string
        required: false
      ref:
        description: characters (16). Eg. "void" or "return"
        type: string
        required: false
  PaymentProfile:
    properties:
      account_ref:
        type: string
        required: false
      billing:
        type: Address
        required: false
      card:
        type: GetProfileDefaultCard
        required: false
      code:
        description: digits(2)
        format: int32
        type: integer
        required: false
      custom:
        type: Custom
        required: false
      customer_code:
        description: alphanumeric(32)
        type: string
        required: false
      language:
        description: characters(2)
        type: string
        required: false
      last_transaction:
        description: date and time alphanumeric(24)
        type: string
        required: false
      message:
        description: alphanumeric(64)
        type: string
        required: false
      modified_date:
        description: date and time it was last modified alphanumeric(24)
        type: string
        required: false
      profile_group:
        type: string
        required: false
      status:
        description: characters(1)
        type: string
        required: false
      velocity_group:
        type: string
        required: false
  PaymentRequest:
    properties:
      amount:
        description: 'A decimal value in dollars, or relevant currency. digits(9)'
        format: double
        type: number
      billing:
        description: The billing address
        type: Address
        required: false
      card:
        description: Payment with a credit card. The payment_method must be 'card'
        type: Card
        required: false
      comments:
        description: alphanumeric (256)
        type: string
        required: false
      custom:
        type: Custom
        required: false
      customer_ip:
        description: alphanumeric (30)
        type: string
        required: false
      language:
        description: characters (3)
        type: string
        required: false
      order_number:
        description: A unique order number. alphanumeric(30)
        type: string
        required: false
      payment_method:
        description: 'One of (card, token, payment_profile, cash, cheque). characters(20)'
        type: string
      payment_profile:
        description: Payment with a Payment Profile. The payment_method must be 'payment_profile'
        type: ProfilePurchase
        required: false
      shipping:
        description: The shipping address
        type: Address
        required: false
      term_url:
        description: alphanumeric (256)
        type: string
        required: false
      token:
        description: Payment with a Legato token. The payment_method must be 'token'
        type: TokenPurchase
        required: false
  PaymentResponse:
    properties:
      approved:
        description: 'Approved = 1, declined = 0'
        type: integer
        required: false
      auth_code:
        description: alphanumeric (32)
        type: string
        required: false
      card:
        type: CardPurchaseResponse
        required: false
      created:
        description: alphanumeric (32)
        type: string
        required: false
      id:
        description: digits (9)
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
      message:
        description: alphanumeric (256)
        type: string
        required: false
      message_id:
        description: digits (3)
        type: string
        required: false
      order_number:
        description: alphanumeric (32)
        type: string
        required: false
      payment_method:
        description: characters (16)
        type: string
        required: false
      type:
        description: characters (16)
        type: string
        required: false
  ProfileCard:
    properties:
      expiry_month:
        description: digits(2)
        type: string
        required: false
      expiry_year:
        description: digits(2)
        type: string
        required: false
      name:
        description: cardholder name. alphanumeric(64)
        type: string
        required: false
      number:
        description: Credit card number. digits(20)
        type: string
        required: false
  ProfileCards:
    properties:
      card_id:
        description: 1-indexed card ID. Total number of cards allowed is configured in your merchant account.
        type: string
        required: false
      card_type:
        description: 'MC, VI etc. characters(2)'
        type: string
        required: false
      expiry_month:
        description: digits(2)
        type: string
        required: false
      expiry_year:
        description: digits(2)
        type: string
        required: false
      function:
        description: Will say DEF for the default card
        type: string
        required: false
      number:
        description: digits(20)
        type: string
        required: false
  ProfileFromCard:
    properties:
      cvd:
        default: '123'
        description: Security code on the back of the credit card. This can be set to mandatory in the back office. digits(3)
        type: string
        required: false
      expiry_month:
        default: '02'
        description: eg. 02 for February. digits(2)
        type: string
      expiry_year:
        default: '18'
        description: digits(2)
        type: string
      name:
        default: '5100000010001004'
        description: Card holder name. alphanumeric(64)
        type: string
      number:
        description: Credit card number (PAN)  digits(20)
        type: string
  ProfileFromToken:
    properties:
      code:
        description: The token received from the client-side tokenization service. alphanumeric(64)
        type: string
      name:
        description: alphanumeric(64)
        type: string
  ProfileGetCards:
    properties:
      card:
        items:
          type: ProfileCards
        type: array
        required: false
      code:
        description: digits(2)
        type: integer
        required: false
      customer_code:
        description: characters(32)
        type: string
        required: false
      message:
        description: alphanumeric(64)
        type: string
        required: false
  ProfilePurchase:
    properties:
      card_id:
        description: Which credit card to use. Starts at 1 for the first card. You must configure how many cards can be stored by visiting the profile options in the back office. digits(1)
        type: integer
      complete:
        description: Set to FALSE for pre-auth. digit(1) or boolean
        type: boolean
        required: false
      customer_code:
        description: The payment profile ID. alphanumeric(32)
        type: string
  ProfileResponse:
    properties:
      code:
        type: integer
        required: false
      customer_code:
        description: the ID of the payment profile. You need to keep track of this value.
        type: string
        required: false
      message:
        type: string
        required: false
  ProfileToken:
    properties:
      code:
        description: single use token associated with this account. alphanumeric(36)
        type: string
        required: false
      name:
        description: Name of cardholder. alphanumeric(64)
        type: string
        required: false
  Return:
    properties:
      amount:
        description: The amount of the transaction to return. Must be less than or equal to the original purchase amount.
        format: double
        type: number
      order_number:
        description: alphanumeric (30)
        type: string
        required: false
  SearchQuery:
    properties:
      criteria:
        description: Optional search criteria. All criteria are ANDed together.
        items:
          type: Criteria
        type: array
        required: false
      end_date:
        description: 'The end date (inclusive) ''2015-04-22T10:03:19'' in the timezone of your merchant account.'
        type: string
      end_row:
        default: 2
        description: Used to page the results. 1-based. This should always be 1 larger than start_row.
        type: integer
      name:
        description: Only accepts 2 values. Can be either 'Search' for all fields or 'TransHistoryMinimal' for a subset of the fields returned in the results.
        type: string
      start_date:
        description: 'The start date (inclusive) ''2015-04-22T10:03:19'' in the timezone of your merchant account.'
        type: string
      start_row:
        default: 1
        description: Used to page the results. 1-based
        type: integer
  SearchRecord:
    properties:
      b_address1:
        type: string
        required: false
      b_address2:
        type: string
        required: false
      b_city:
        type: string
        required: false
      b_country:
        type: string
        required: false
      b_email:
        type: string
        required: false
      b_name:
        type: string
        required: false
      b_phone:
        type: string
        required: false
      b_postal:
        type: string
        required: false
      b_province:
        type: string
        required: false
      customer_code:
        description: 'The PaymentProfile ID used in this transaction, if appropriate.'
        type: string
        required: false
      message_id:
        type: integer
        required: false
      message_text:
        type: string
        required: false
      product_id:
        type: string
        required: false
      product_name:
        type: string
        required: false
      ref1:
        type: string
        required: false
      ref2:
        type: string
        required: false
      ref3:
        type: string
        required: false
      ref4:
        type: string
        required: false
      ref5:
        type: string
        required: false
      row_id:
        type: integer
        required: false
      s_address1:
        type: string
        required: false
      s_address2:
        type: string
        required: false
      s_city:
        type: string
        required: false
      s_country:
        type: string
        required: false
      s_email:
        type: string
        required: false
      s_name:
        type: string
        required: false
      s_phone:
        type: string
        required: false
      s_postal:
        type: string
        required: false
      s_province:
        type: string
        required: false
      trn_amount:
        type: number
        required: false
      trn_approval_code:
        type: string
        required: false
      trn_avs_result:
        description: Address Verification Service
        type: string
        required: false
      trn_batch_no:
        type: integer
        required: false
      trn_card_expiry:
        type: string
        required: false
      trn_card_owner:
        type: string
        required: false
      trn_card_type:
        description: MC VI etc
        type: string
        required: false
      trn_completions:
        type: number
        required: false
      trn_cvd_result:
        type: integer
        required: false
      trn_date_time:
        description: '2015-04-22T10:03:19.323-07:00'
        type: string
        required: false
      trn_id:
        type: integer
        required: false
      trn_ip:
        type: string
        required: false
      trn_masked_card:
        description: The credit card with the middle digits redacted with X's
        type: string
        required: false
      trn_order_number:
        type: string
        required: false
      trn_payment_method:
        type: string
        required: false
      trn_reference:
        type: integer
        required: false
      trn_response:
        type: integer
        required: false
      trn_returns:
        type: number
        required: false
      trn_type:
        type: string
        required: false
      trn_voided:
        type: integer
        required: false
  SearchResult:
    properties:
      records:
        items:
          type: SearchRecord
        type: array
        required: false
  TokenPurchase:
    properties:
      code:
        description: the payment token you retrieved from the Legato service. alphanumeric(36)
        type: string
      complete:
        description: Set to FALSE for pre-auth
        type: boolean
        required: false
      name:
        description: Card holder name. alphanumeric(64)
        type: string
  TokenRequest:
    properties:
      cvd:
        description: a 3 to 4 digit representation of CVD/CDD. This is the number usually found on the back of the credit card.
        type: string
      expiry_month:
        description: a 2 digit representation of the expiry month. For example March is 03.
        type: string
      expiry_year:
        description: a 2 digit representation of the expiry year. For example 2016 is 16.
        type: string
      number:
        description: The credit card number
        type: string
  TokenResponse:
    properties:
      code:
        description: Response code for the message. It can be ignored.
        type: string
        required: false
      message:
        description: 'Response message with any hints as to what might have gone wrong, if something went wrong.'
        type: string
        required: false
      token:
        description: 'The token representing the credit card number that you will send to Beanstream for purchases. You will always receive a token, even if the request data is wrong or the card is invalid.'
        type: string
      version:
        description: Message version number. Can be ignored.
        type: integer
        required: false
  Transaction:
    properties:
      adjusted_by:
        items:
          type: Adjustment
        type: array
        required: false
      amount:
        format: double
        type: number
        required: false
      approved:
        type: boolean
        required: false
      auth_code:
        type: string
        required: false
      batch_number:
        type: string
        required: false
      billing:
        type: Address
        required: false
      card:
        type: CardGetTransactionResponse
        required: false
      comments:
        type: string
        required: false
      created:
        description: 'The date it was created ''2015-04-22T10:03:19.323-07:00'''
        type: string
        required: false
      custom:
        type: Custom
        required: false
      id:
        type: integer
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
      message:
        type: string
        required: false
      message_id:
        type: integer
        required: false
      order_number:
        type: string
        required: false
      payment_method:
        type: string
        required: false
      shipping:
        type: Address
        required: false
      total_completions:
        format: double
        type: number
        required: false
      total_refunds:
        format: double
        type: number
        required: false
      type:
        type: string
        required: false
  UpdateProfileBody:
    properties:
      billing:
        type: Address
        required: false
      card:
        type: ProfileToken
        required: false
      comment:
        description: alphanumeric(256)
        type: string
        required: false
      custom:
        type: Custom
        required: false
      language:
        description: characters(2)
        type: string
        required: false
  Void:
    properties:
      amount:
        description: The amount of the transaction to void. Must be equal to the original purchase amount. You can void purchases as well as pre-auths and returns. The amount you are voiding has to match the amount of that transaction.
        format: double
        type: number
