#%RAML 1.0
title: '350,000+ Recipe and Grocery List API (v2)'
version: partner
baseUri: 'https://api2.bigoven.com'
mediaType:
  - application/json
  - text/json
  - application/xml
  - text/xml
protocols:
  - HTTPS
description: "#Documentation\r\n\r\nThis is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.\r\n\r\nThe update brings with it Swagger-based documentation. [Swagger](http://swagger.io) is an emerging standard for describing REST-based APIs, and with this Swagger-compliant endpoint (above), you can make ready-to-go interface libraries for your code via [swagger-codegen](https://github.com/swagger-api/swagger-codegen). For instance, it's easy to generate libraries for Node.js, Java, Ruby, ASP.NET MVC, jQuery, php and more!\r\n\r\nYou can also try out the endpoint calls with your own api_key right here on this page. Be sure to enter your api_key above to use the \"Try it out!\" buttons on this page.\r\n\r\n##Start Here\r\n\r\nDevelopers new to the BigOven API should start with this version, not with the legacy API. We'll be making improvements to this API over time, and doing only bug fixes on the v1 API.\r\n\r\n\r\n\r\nTo pretend you're a BigOven user (for instance, to get your recently viewed recipes or your grocery list), you need to pass in Basic Authentication information in the header, just as with the v1 API. We do now require that you make all calls via https. You need to pass your api_key in with every call, though this can now be done on the header (send a request header \"X-BigOven-API-Key\" set to your api_key value, e.g., Request[\"X-BigOven-API-Key\"]=\"your-key-here\".)\r\n\r\n##Migration Notes\r\n\r\nFor existing partners, we encourage you to [migrate](http://api2.bigoven.com), and while at this writing we have no hard-and-fast termination date for the v1 API, we strongly prefer that you migrate by January 1, 2017. While the changes aren't overly complex, there are several breaking changes, including refactoring of recipe search and results and removal of support for XML. This is not a simply plug-and-play replacement to the v1 API. With respect to an exclusive focus on JSON, the world has spoken, and it prefers JSON for REST-based API's. We've taken numerous steps to refactor the API to make it more REST-compliant. Note that this v2 API will be the preferred API from this point onward, so we encourage developers to migrate to this new format. We have put together some [migration notes](/web/documentation/migration-to-v2) that we encourage you to read carefully.\r\n\r\n##Photos\r\n\r\nSee our [photos documentation](http://api2.bigoven.com/web/documentation/recipe-images). \r\n\r\nFor more information on usage of this API, including features, pricing, rate limits, terms and conditions, please visit the [BigOven API website](http://api2.bigoven.com)."
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://api2.bigoven.com/web/console'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_bigoven.com_assets_images_icons_bigoven-recipes.png'
  (oas-x-origin):
    format: swagger
    url: 'http://api2.bigoven.com/swagger/docs/partner'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): bigoven.com
  termsOfService: 'Please see our [terms of service](http://api2.bigoven.com/web/documentation/termsofuse'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-externalDocs):
  url: 'http://api2.bigoven.com/web/documentation'
securitySchemes:
  basic:
    type: Basic Authentication
    description: 'Basic HTTP Authentication is used for those endpoint calls where you want to act as a BigOven user -- e.g., to get the list of favorites of a signed-in user, or add items to their grocery list.'
  api_key:
    type: Pass Through
    describedBy:
      headers:
        X-BigOven-API-Key:
          type: string
    description: 'Pass your api_key in the header (recommended) or as a URL parameter. For the URL parameter, use api_key. For the header, send it as a header value for: X-BigOven-API-Key'
/recipe:
  displayName: recipe
  '/{recipeId}':
    displayName: '{recipeId}'
    /feedback:
      displayName: feedback
      post:
        displayName: POST_recipe-recipeId-feedback
        (oas-summary): Feedback on a Recipe -- for internal BigOven editors
        body:
          application/json:
            type: API2.Controllers.RecipeController.FeedbackDTO
            (oas-body-name): data
            description: 'The payload for feedback, which includes the field "feedback"'
        responses:
          '200':
            body:
              application/json:
                type: System.Object
            description: OK
        (oas-tags):
          - Recipe
    /image:
      displayName: image
      post:
        displayName: POST_recipe-recipeId-image
        (oas-summary): "POST: /recipe/{recipeId}/image?lat=42&amp;lng=21&amp;caption=this%20is%20my%20caption\r\n             \r\n             Note that caption, lng a"
        responses:
          '200':
            body:
              application/json:
                type: System.Object
            description: Success
          '400':
            description: 'if bad request (e.g., missing parameters)'
          '401':
            description: if the user is unknown
          '415':
            description: 'if unsupported media type (e.g., bad JPG)'
        queryParameters:
          caption:
            required: false
            type: string
          lat:
            format: double
            required: false
            type: number
          lng:
            format: double
            required: false
            type: number
        (oas-tags):
          - Images
    /images:
      displayName: images
      get:
        displayName: GET_recipe-recipeId-images
        (oas-summary): 'Get all the images for a recipe. DEPRECATED. Please use /recipe/{recipeId}/photos.'
        responses:
          '200':
            body:
              application/json:
                items:
                  type: BigOven.Model.API.Image
                type: array
            description: OK
        (oas-tags):
          - Images
    /note:
      displayName: note
      post:
        displayName: POST_recipe-recipeId-note
        (oas-summary): HTTP POST a new note into the system.
        body:
          application/json:
            type: API2.Controllers.NoteController.NoteRequest
            (oas-body-name): note
            description: 'a recipe note, with fields: Date (YYYY-MM-DD string), Notes (string), People (string), Variations (string), RecipeID (int?)'
        responses:
          '200':
            body:
              application/json:
                type: BigOven.Model.API2.RecipeNote
            description: OK
        (oas-tags):
          - Note
      '/{noteId}':
        displayName: '{noteId}'
        uriParameters:
          noteId:
            format: int32
            required: true
            type: integer
        delete:
          displayName: DELETE_recipe-recipeId-note-noteId
          (oas-summary): "Delete a review\r\n                do a DELETE Http request of /note/{ID}"
          responses:
            '200':
              body:
                application/json:
                  type: System.Object
              description: OK
          (oas-tags):
            - Note
        get:
          displayName: GET_recipe-recipeId-note-noteId
          (oas-summary): Get a given note. Make sure you're passing authentication information in the header for the user who owns the note.
          responses:
            '200':
              body:
                application/json:
                  type: BigOven.Model.API.RecipeNote
              description: OK
          (oas-tags):
            - Note
        put:
          displayName: PUT_recipe-recipeId-note-noteId
          (oas-summary): HTTP PUT (update) a Recipe note (RecipeNote).
          body:
            application/json:
              type: API2.Controllers.NoteController.NoteRequest
              (oas-body-name): recipeNote
          responses:
            '200':
              body:
                application/json:
                  type: BigOven.Model.API.RecipeNote
              description: OK
          (oas-tags):
            - Note
    /notes:
      displayName: notes
      get:
        displayName: GET_recipe-recipeId-notes
        (oas-summary): recipe/100/notes
        responses:
          '200':
            body:
              application/json:
                type: BigOven.Model.API.RecipeNoteList
            description: OK
        queryParameters:
          pg:
            description: 'page (int, starting from 1)'
            format: int32
            required: false
            type: integer
            displayName: 'page (int, starting from 1)'
          rpp:
            description: recipeId
            format: int32
            required: false
            type: integer
            displayName: recipeId
        (oas-tags):
          - Note
    /photos:
      displayName: photos
      get:
        displayName: GET_recipe-recipeId-photos
        (oas-summary): Get all the photos for a recipe
        responses:
          '200':
            body:
              application/json:
                type: API2.Controllers.ImagesController.RecipePhotosResponse
            description: OK
        queryParameters:
          pg:
            format: int32
            required: false
            type: integer
          rpp:
            format: int32
            required: false
            type: integer
        (oas-tags):
          - Images
    /related:
      displayName: related
      get:
        displayName: GET_recipe-recipeId-related
        (oas-summary): Get recipes related to the given recipeId
        responses:
          '200':
            body:
              application/json:
                type: BigOven.Model.API2.RecipeSearchResult
            description: OK
        queryParameters:
          pg:
            description: ''
            format: int32
            required: true
            type: integer
          rpp:
            description: ''
            format: int32
            required: true
            type: integer
        (oas-tags):
          - Recipe
    /review:
      displayName: review
      get:
        displayName: GET_recipe-recipeId-review
        (oas-summary): 'Get *my* review for this recipe, where "me" is passed in via authentication headers'
        responses:
          '200':
            body:
              application/json:
                type: BigOven.Model.API.Review
            description: OK
        (oas-tags):
          - Review
      post:
        displayName: POST_recipe-recipeId-review
        (oas-summary): "Add a new review or rating.\r\n            You need to provide EITHER a StarRating or a Comment or both.\r\n            Just providing a StarRa"
        body:
          application/json:
            type: API2.Controllers.ReviewController.ReviewRequest
            (oas-body-name): data
        responses:
          '200':
            body:
              application/json:
                type: System.Object
            description: OK
        (oas-tags):
          - Review
      '/{reviewId}':
        displayName: '{reviewId}'
        uriParameters:
          reviewId:
            description: reviewId (int)
            format: int32
            required: true
            type: integer
            displayName: reviewId (int)
        delete:
          displayName: DELETE_recipe-recipeId-review-reviewId
          (oas-summary): Delete a review
          responses:
            '200':
              body:
                application/json:
                  type: System.Object
              description: OK
          (oas-tags):
            - Review
        get:
          displayName: GET_recipe-recipeId-review-reviewId
          (oas-summary): Get a given review
          responses:
            '200':
              body:
                application/json:
                  type: BigOven.Model.API.Review
              description: OK
          (oas-tags):
            - Review
        put:
          displayName: PUT_recipe-recipeId-review-reviewId
          (oas-summary): HTTP PUT (update) a Recipe review (UserComment).
          body:
            application/json:
              type: API2.Controllers.ReviewController.ReviewRequest
              (oas-body-name): review
          responses:
            '200':
              body:
                application/json:
                  type: BigOven.Model.API.Review
              description: OK
          (oas-tags):
            - Review
    /reviews:
      displayName: reviews
      get:
        displayName: GET_recipe-recipeId-reviews
        (oas-summary): Get reviews for a recipe
        responses:
          '200':
            body:
              application/json:
                items:
                  type: BigOven.Model.API.Review
                type: array
            description: OK
        queryParameters:
          pg:
            description: 'the page (int), starting with 1'
            format: int32
            required: false
            type: integer
            displayName: 'the page (int), starting with 1'
          rpp:
            description: results per page (int)
            format: int32
            required: false
            type: integer
            displayName: results per page (int)
        (oas-tags):
          - Review
    /scans:
      displayName: scans
      get:
        displayName: GET_recipe-recipeId-scans
        (oas-summary): Gets a list of RecipeScan images for the recipe. There will be at most 3 per recipe.
        responses:
          '200':
            body:
              application/json:
                items:
                  type: BigOven.Model.API.Image
                type: array
            description: OK
        (oas-tags):
          - Images
  put:
    displayName: PUT_recipe
    (oas-summary): Update a recipe
    body:
      application/json:
        type: BigOven.Model.API.Recipe
        (oas-body-name): recipe
    responses:
      '200':
        body:
          application/json:
            type: BigOven.Model.API.Recipe
        description: OK
    (oas-tags):
      - Recipe
  /categories:
    displayName: categories
    get:
      displayName: GET_recipe-categories
      (oas-summary): Get a list of recipe categories (the ID field can be used for include_cat in search parameters)
      responses:
        '200':
          body:
            application/json:
              items:
                type: BigOven.Model.RecipeCategory
              type: array
          description: OK
      (oas-tags):
        - Recipe
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: the Recipe ID to retrieve
        format: int32
        required: true
        type: integer
        displayName: the Recipe ID to retrieve
    delete:
      displayName: DELETE_recipe-id
      (oas-summary): Delete a Recipe (you must be authenticated as an owner of the recipe)
      responses:
        '200':
          body:
            application/json:
              type: System.Object
          description: OK
      (oas-tags):
        - Recipe
    get:
      displayName: GET_recipe-id
      (oas-summary): Return full Recipe detail
      responses:
        '200':
          body:
            application/json:
              type: BigOven.Model.API2.Recipe
          description: OK
      queryParameters:
        prefetch:
          required: false
          type: boolean
      (oas-tags):
        - Recipe
  post:
    displayName: POST_recipe
    (oas-summary): Add a new recipe
    body:
      application/json:
        type: BigOven.Model.API.Recipe
        (oas-body-name): recipe
    responses:
      '200':
        body:
          application/json:
            type: BigOven.Model.API.Recipe
        description: OK
    (oas-tags):
      - Recipe
  /scan:
    displayName: scan
    post:
      displayName: POST_recipe-scan
      (oas-summary): "POST an image as a new RecipeScan request\r\n                1)  Fetch the filename -- DONE\r\n                2)  Copy it to the pics/scan fol"
      responses:
        '401':
          description: Not authorized
        '402':
          description: Payment required (not enough credits)
        '415':
          description: Bad media type (bad JPG)
        '500':
          description: 'General error on initiating RecipeScan task; please try again or contact us at support[at]bigoven.com'
      queryParameters:
        test:
          required: false
          type: boolean
        devicetype:
          required: false
          type: string
        lat:
          format: double
          required: false
          type: number
        lng:
          format: double
          required: false
          type: number
      (oas-tags):
        - Recipe
  /autocomplete:
    displayName: autocomplete
    get:
      displayName: GET_recipe-autocomplete
      (oas-summary): 'Given a query, return recipe titles starting with query. Query must be at least 3 chars in length.'
      responses:
        '200':
          body:
            application/json:
              items:
                type: string
              type: array
          description: OK
      queryParameters:
        query:
          description: ''
          required: true
          type: string
        limit:
          description: ''
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Recipe
/recipes:
  displayName: recipes
  /recentviews:
    displayName: recentviews
    get:
      displayName: GET_recipes-recentviews
      (oas-summary): Get a list of recipes that the authenticated user has most recently viewed
      responses:
        '200':
          body:
            application/json:
              items:
                type: BigOven.Model.RecipeInfoDateTuple2
              type: array
          description: OK
      queryParameters:
        pg:
          description: Page number starting with 1
          format: int32
          required: false
          type: integer
          displayName: Page number starting with 1
        rpp:
          description: results per page
          format: int32
          required: false
          type: integer
          displayName: results per page
      (oas-tags):
        - Recipe
  /raves:
    displayName: raves
    get:
      displayName: GET_recipes-raves
      (oas-summary): Get the recipe/comment tuples for those recipes with 4 or 5 star ratings
      responses:
        '200':
          body:
            application/json:
              items:
                type: BigOven.Model.RecipeInfoReviewTuple2
              type: array
          description: OK
      queryParameters:
        pg:
          description: 'page, starting with 1'
          format: int32
          required: false
          type: integer
          displayName: 'page, starting with 1'
        rpp:
          description: results per page
          format: int32
          required: false
          type: integer
          displayName: results per page
      (oas-tags):
        - Recipe
  /random:
    displayName: random
    get:
      displayName: GET_recipes-random
      (oas-summary): 'Get a random, home-page-quality Recipe.'
      responses:
        '200':
          body:
            application/json:
              type: BigOven.Model.API.Recipe
          description: OK
      (oas-tags):
        - Recipe
  get:
    displayName: GET_recipes
    (oas-summary): "Search for recipes. There are many parameters that you can apply. Starting with the most common, use title_kw to search within a title.\r\n  "
    responses:
      '200':
        body:
          application/json:
            type: BigOven.Model.API2.RecipeSearchResult
        description: OK
    queryParameters:
      any_kw:
        description: Search anywhere in the recipe for the keyword
        required: false
        type: string
        displayName: Search anywhere in the recipe for the keyword
      folder:
        description: Search in a specific folder name for the authenticated user
        required: false
        type: string
        displayName: Search in a specific folder name for the authenticated user
      coll:
        description: Limit to a collection ID number
        format: int32
        required: false
        type: integer
        displayName: Limit to a collection ID number
      filter:
        description: 'optionally set to either "myrecipes", "try", "favorites","added" to filter to just the authenticated user''s recipe set'
        required: false
        type: string
        displayName: 'optionally set to either "myrecipes", "try", "favorites","added" to filter to just the authenticated user''s recipe set'
      title_kw:
        description: Search just in the recipe title for the keyword
        required: false
        type: string
        displayName: Search just in the recipe title for the keyword
      userId:
        description: Set the target userid to search their public recipes
        format: int32
        required: false
        type: integer
        displayName: Set the target userid to search their public recipes
      username:
        description: Set the target username to search their public recipes
        required: false
        type: string
        displayName: Set the target username to search their public recipes
      token:
        required: false
        type: string
      photos:
        description: 'if set to true, limit search results to photos only'
        required: false
        type: boolean
        displayName: 'if set to true, limit search results to photos only'
      boostmine:
        description: 'if set to true, boost my own recipes in my folders so they show up high in the list (at the expense of other sort orders)'
        required: false
        type: boolean
        displayName: 'if set to true, boost my own recipes in my folders so they show up high in the list (at the expense of other sort orders)'
      include_cat:
        description: 'integer of the subcategory you''d like to limit searches to (see the /recipe/categories endpoint for available id numbers). For instance, 58 is "Main Dish &gt; Casseroles".'
        required: false
        type: string
        displayName: 'integer of the subcategory you''d like to limit searches to (see the /recipe/categories endpoint for available id numbers). For instance, 58 is "Main Dish &gt; Casseroles".'
      exclude_cat:
        description: 'like include_cat, set this to an integer to exclude a specific category'
        required: false
        type: string
        displayName: 'like include_cat, set this to an integer to exclude a specific category'
      include_primarycat:
        description: 'csv indicating up to three top-level categories -- valid values are [appetizers,bread,breakfast,desserts,drinks,maindish,salads,sidedish,soups,marinades,other]'
        required: false
        type: string
        displayName: 'csv indicating up to three top-level categories -- valid values are [appetizers,bread,breakfast,desserts,drinks,maindish,salads,sidedish,soups,marinades,other]'
      include_ing:
        description: 'A CSV representing up to 3 ingredients to include, e.g., tomatoes,corn%20%starch,chicken'
        required: false
        type: string
        displayName: 'A CSV representing up to 3 ingredients to include, e.g., tomatoes,corn%20%starch,chicken'
      exclude_ing:
        description: A CSV representing up to 3 ingredients to exclude  (Powersearch-capable plan required)
        required: false
        type: string
        displayName: A CSV representing up to 3 ingredients to exclude  (Powersearch-capable plan required)
      cuisine:
        description: 'Limit to a specific cuisine. Cooks can enter anything free-form, but the few dozen preconfigured values are Afghan,African,American,American-South,Asian,Australian,Brazilian,Cajun,Canadian,Caribbean,Chinese,Croatian,Cuban,Dessert,Eastern European,English,French,German,Greek,Hawaiian,Hungarian,India,Indian,Irish,Italian,Japanese,Jewish,Korean,Latin,Mediterranean,Mexican,Middle Eastern,Moroccan,Polish,Russian,Scandanavian,Seafood,Southern,Southwestern,Spanish,Tex-Mex,Thai,Vegan,Vegetarian,Vietnamese'
        required: false
        type: string
        displayName: 'Limit to a specific cuisine. Cooks can enter anything free-form, but the few dozen preconfigured values are Afghan,African,American,American-South,Asian,Australian,Brazilian,Cajun,Canadian,Caribbean,Chinese,Croatian,Cuban,Dessert,Eastern European,English,French,German,Greek,Hawaiian,Hungarian,India,Indian,Irish,Italian,Japanese,Jewish,Korean,Latin,Mediterranean,Mexican,Middle Eastern,Moroccan,Polish,Russian,Scandanavian,Seafood,Southern,Southwestern,Spanish,Tex-Mex,Thai,Vegan,Vegetarian,Vietnamese'
      db:
        required: false
        type: string
      userset:
        description: 'If set to a given username, it''ll force the search to filter to just that username'
        required: false
        type: string
        displayName: 'If set to a given username, it''ll force the search to filter to just that username'
      rpp:
        description: integer; results per page
        format: int32
        required: false
        type: integer
        displayName: integer; results per page
      pg:
        description: 'integer: the page number'
        format: int32
        required: false
        type: integer
        displayName: 'integer: the page number'
      vtn:
        description: 'when set to 1, limit to vegetarian (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to vegetarian (Powersearch-capable plan required)'
      vgn:
        description: 'when set to 1, limit to vegan (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to vegan (Powersearch-capable plan required)'
      chs:
        description: 'when set to 1, limit to contains-cheese (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to contains-cheese (Powersearch-capable plan required)'
      glf:
        description: 'when set to 1, limit to gluten-free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to gluten-free (Powersearch-capable plan required)'
      ntf:
        description: 'when set to 1, limit to nut-free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to nut-free (Powersearch-capable plan required)'
      dyf:
        description: 'when set to 1, limit to dairy-free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to dairy-free (Powersearch-capable plan required)'
      sff:
        description: 'when set to 1, limit to seafood-free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to seafood-free (Powersearch-capable plan required)'
      slf:
        description: 'when set to 1, limit to shellfish-free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to shellfish-free (Powersearch-capable plan required)'
      tnf:
        description: 'when set to 1, limit to tree-nut free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to tree-nut free (Powersearch-capable plan required)'
      wmf:
        description: 'when set to 1, limit to white-meat free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to white-meat free (Powersearch-capable plan required)'
      rmf:
        description: 'when set to 1, limit to red-meat free (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, limit to red-meat free (Powersearch-capable plan required)'
      cps:
        description: 'when set to 1, recipe contains pasta, set to 0 means contains no pasta (Powersearch-capable plan required)'
        format: int32
        required: false
        type: integer
        displayName: 'when set to 1, recipe contains pasta, set to 0 means contains no pasta (Powersearch-capable plan required)'
    (oas-tags):
      - Recipe
/collection:
  displayName: collection
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: the collection identifier
        format: int32
        required: true
        type: integer
        displayName: the collection identifier
    get:
      displayName: GET_collection-id
      (oas-summary): Gets a recipe collection. A recipe collection is a curated set of recipes.
      responses:
        '200':
          body:
            application/json:
              type: BigOven.Model.API2.RecipeSearchResult
          description: OK
      queryParameters:
        rpp:
          description: results per page
          format: int32
          required: false
          type: integer
          displayName: results per page
        pg:
          description: page number (starting with 1)
          format: int32
          required: false
          type: integer
          displayName: page number (starting with 1)
        test:
          required: false
          type: boolean
        sessionForLogging:
          required: false
          type: string
      (oas-tags):
        - Collection
    /meta:
      displayName: meta
      get:
        displayName: GET_collection-id-meta
        (oas-summary): Gets a recipe collection metadata. A recipe collection is a curated set of recipes.
        responses:
          '200':
            body:
              application/json:
                type: BigOven.Model.API2.CollectionInfo
            description: OK
        (oas-tags):
          - Collection
/collections:
  displayName: collections
  get:
    displayName: GET_collections
    (oas-summary): 'Get the list of current, seasonal recipe collections. From here, you can use the /collection/{id} endpoint to retrieve the recipes in those'
    responses:
      '200':
        body:
          application/json:
            items:
              type: BigOven.Model.API2.CollectionInfo
            type: array
        description: OK
    queryParameters:
      test:
        required: false
        type: string
    (oas-tags):
      - Collection
/glossary:
  displayName: glossary
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: identifier of article to retrieve
        format: int32
        required: true
        type: integer
        displayName: identifier of article to retrieve
    get:
      displayName: GET_glossary-id
      (oas-summary): Get food glossary article
      responses:
        '200':
          description: Glossary article successfully returned
        '404':
          description: Glossary article not found
      (oas-tags):
        - Glossary
  /byterm:
    displayName: byterm
    '/{term}':
      displayName: '{term}'
      uriParameters:
        term:
          description: 'Keyword used to look up article, e.g., asparagus'
          required: true
          type: string
          displayName: 'Keyword used to look up article, e.g., asparagus'
      get:
        displayName: GET_glossary-byterm-term
        (oas-summary): 'Get food glossary article by term (e.g., asparagus). This editorial is (c) BigOven and MUST carry attribution and a link back to the glossa'
        responses:
          '200':
            body:
              application/json:
                type: BigOven.Model.API.GlossaryEntry
            description: OK
        (oas-tags):
          - Glossary
/grocerylist:
  displayName: grocerylist
  get:
    displayName: GET_grocerylist
    (oas-summary): Get the user's grocery list.  User is determined by Basic Authentication.
    responses:
      '200':
        body:
          application/json:
            type: BigOven.Model.API2.GroceryList
        description: OK
    (oas-tags):
      - GroceryList
  /item:
    displayName: item
    post:
      displayName: POST_grocerylist-item
      (oas-summary): Add a single line item to the grocery list
      body:
        application/json:
          type: API2.Controllers.GroceryListController.PostToGroceryListRecipeRequest
          (oas-body-name): newItem
          description: 'name, quantity, unit, notes, department'
      responses:
        '200':
          body:
            application/json:
              type: BigOven.Model.ShoppingListLine
          description: OK
      (oas-tags):
        - GroceryList
    '/{guid}':
      displayName: '{guid}'
      uriParameters:
        guid:
          description: ''
          required: true
          type: string
      put:
        displayName: PUT_grocerylist-item-guid
        (oas-summary): Update a grocery item by GUID
        body:
          application/json:
            type: API2.Controllers.GroceryListController.UpdateItemByGuidRequest
            (oas-body-name): req
        responses:
          '200':
            body:
              application/json:
                type: System.Object
            description: OK
        (oas-tags):
          - GroceryList
      delete:
        displayName: DELETE_grocerylist-item-guid
        (oas-summary): '/grocerylist/item/{guid}  DELETE will delete this item assuming you own it.'
        responses:
          '200':
            body:
              application/json:
                type: System.Object
            description: OK
        (oas-tags):
          - GroceryList
  /sync:
    displayName: sync
    post:
      displayName: POST_grocerylist-sync
      (oas-summary): Synchronize the grocery list.  Call this with a POST to /grocerylist/sync
      body:
        application/json:
          type: API2.Controllers.GroceryListController.PostGroceryListSyncRequest
          (oas-body-name): req
      responses:
        '200':
          body:
            application/json:
              type: System.Object
          description: OK
      (oas-tags):
        - GroceryList
  delete:
    displayName: DELETE_grocerylist
    (oas-summary): Delete all the items on a grocery list; faster operation than a sync with deleted items.
    responses:
      '200':
        body:
          application/json:
            type: System.Object
        description: OK
    (oas-tags):
      - GroceryList
  /department:
    displayName: department
    post:
      displayName: POST_grocerylist-department
      (oas-summary): Departmentalize a list of strings -- used for ad-hoc grocery list item addition
      body:
        application/json:
          type: API2.Controllers.GroceryListController.DepartmentModel
          (oas-body-name): model
      responses:
        '200':
          body:
            application/json:
              items:
                type: API2.GroceryListDepartmentResult
              type: array
          description: OK
      (oas-tags):
        - GroceryList
  /recipe:
    displayName: recipe
    post:
      displayName: POST_grocerylist-recipe
      (oas-summary): 'Add a Recipe to the grocery list.  In the request data, pass in recipeId, scale (scale=1.0 says to keep the recipe the same size as origina'
      body:
        application/json:
          type: API2.Controllers.GroceryListController.PostGroceryListRecipeRequest
          (oas-body-name): data
      responses:
        '200':
          body:
            application/json:
              type: System.Object
          description: OK
      (oas-tags):
        - GroceryList
types:
  API2.Controllers.GroceryListController.DepartmentModel:
    properties:
      items:
        type: string
        required: false
  API2.Controllers.GroceryListController.PostGroceryListRecipeRequest:
    properties:
      markAsPending:
        type: boolean
        required: false
      recipeId:
        format: int32
        type: integer
        required: false
      scale:
        format: double
        type: number
        required: false
  API2.Controllers.GroceryListController.PostGroceryListSyncRequest:
    properties:
      list:
        type: BigOven.Model.API.Grocery.GroceryList
        required: false
      since:
        type: string
        required: false
  API2.Controllers.GroceryListController.PostToGroceryListRecipeRequest:
    properties:
      department:
        type: string
        required: false
      name:
        type: string
        required: false
      notes:
        type: string
        required: false
      quantity:
        type: string
        required: false
      unit:
        type: string
        required: false
  API2.Controllers.GroceryListController.UpdateItemByGuidRequest:
    properties:
      department:
        type: string
        required: false
      guid:
        type: string
        required: false
      name:
        type: string
        required: false
      notes:
        type: string
        required: false
      quantity:
        type: string
        required: false
      unit:
        type: string
        required: false
  API2.Controllers.ImagesController.RecipePhotosResponse:
    properties:
      ResultCount:
        format: int32
        type: integer
        required: false
      Results:
        items:
          type: BigOven.Model.API2.Photo
        type: array
        required: false
  API2.Controllers.NoteController.NoteRequest:
    properties:
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Date:
        format: rfc3339
        type: datetime
        required: false
      DateDT:
        type: string
        required: false
      GUID:
        type: string
        required: false
      ID:
        format: int32
        type: integer
        required: false
      Notes:
        type: string
        required: false
      People:
        type: string
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      UserID:
        format: int32
        type: integer
        required: false
      Variations:
        type: string
        required: false
  API2.Controllers.RecipeController.FeedbackDTO:
    properties:
      feedback:
        type: string
        required: false
  API2.Controllers.ReviewController.ReviewRequest:
    properties:
      ActiveMinutes:
        format: int32
        type: integer
        required: false
      Comment:
        type: string
        required: false
      GUID:
        type: string
        required: false
      MakeAgain:
        type: string
        required: false
      ParentID:
        format: int32
        type: integer
        required: false
      StarRating:
        format: int32
        type: integer
        required: false
      TotalMinutes:
        format: int32
        type: integer
        required: false
  API2.GroceryListDepartmentResult:
    properties:
      dept:
        type: string
        required: false
      item:
        type: string
        required: false
  BigOven.Model.API.GlossaryEntry:
    properties:
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Definition:
        type: string
        required: false
      GlossaryEntryID:
        format: int32
        type: integer
        required: false
      LastModified:
        format: rfc3339
        type: datetime
        required: false
      Term:
        type: string
        required: false
  BigOven.Model.API.Grocery.GroceryList:
    properties:
      Items:
        items:
          type: BigOven.Model.API.Grocery.Item
        type: array
        required: false
      LastModified:
        format: rfc3339
        type: datetime
        required: false
      Recipes:
        items:
          type: BigOven.Model.API.RecipeInfo
        type: array
        required: false
      VersionGuid:
        type: string
        required: false
  BigOven.Model.API.Grocery.Item:
    properties:
      BigOvenObject:
        type: string
        required: false
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Department:
        type: string
        required: false
      DisplayQuantity:
        type: string
        required: false
      GUID:
        type: string
        required: false
      IsChecked:
        type: boolean
        required: false
      ItemID:
        format: int64
        type: integer
        required: false
      LastModified:
        format: rfc3339
        type: datetime
        required: false
      LocalStatus:
        type: string
        required: false
      Name:
        type: string
        required: false
      Notes:
        type: string
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      ThirdPartyURL:
        type: string
        required: false
  BigOven.Model.API.Image:
    properties:
      Caption:
        type: string
        required: false
      CreationDate:
        type: string
        required: false
      ImageID:
        format: int64
        type: integer
        required: false
      ImageSquares:
        items:
          format: int32
          type: integer
        type: array
        required: false
      ImageURL:
        type: string
        required: false
      ImageURL120:
        type: string
        required: false
      ImageURL128:
        type: string
        required: false
      ImageURL200:
        type: string
        required: false
      ImageURL256:
        type: string
        required: false
      ImageURL48:
        type: string
        required: false
      ImageURL64:
        type: string
        required: false
      IsPrimary:
        type: boolean
        required: false
      MaxImageSquare:
        format: int32
        type: integer
        required: false
      Poster:
        type: BigOven.Model.API.UserInfo
        required: false
  BigOven.Model.API.Ingredient:
    properties:
      DisplayIndex:
        format: int32
        type: integer
        required: false
      DisplayQuantity:
        type: string
        required: false
      HTMLName:
        type: string
        required: false
      IngredientID:
        format: int64
        type: integer
        required: false
      IngredientInfo:
        type: BigOven.Model.API.IngredientInfo
        required: false
      IsHeading:
        type: boolean
        required: false
      IsLinked:
        type: boolean
        required: false
      MetricDisplayQuantity:
        type: string
        required: false
      MetricQuantity:
        format: double
        type: number
        required: false
      MetricUnit:
        type: string
        required: false
      Name:
        type: string
        required: false
      PreparationNotes:
        type: string
        required: false
      Quantity:
        format: double
        type: number
        required: false
      Unit:
        type: string
        required: false
  BigOven.Model.API.IngredientInfo:
    properties:
      Department:
        type: string
        required: false
      MasterIngredientID:
        format: int32
        type: integer
        required: false
      Name:
        type: string
        required: false
      UsuallyOnHand:
        type: boolean
        required: false
  BigOven.Model.API.NutritionInfo:
    properties:
      CaloriesFromFat:
        format: double
        type: number
        required: false
      Cholesterol:
        format: double
        type: number
        required: false
      CholesterolPct:
        format: double
        type: number
        required: false
      DietaryFiber:
        format: double
        type: number
        required: false
      DietaryFiberPct:
        format: double
        type: number
        required: false
      MonoFat:
        format: double
        type: number
        required: false
      PolyFat:
        format: double
        type: number
        required: false
      Potassium:
        format: double
        type: number
        required: false
      PotassiumPct:
        format: double
        type: number
        required: false
      Protein:
        format: double
        type: number
        required: false
      ProteinPct:
        format: double
        type: number
        required: false
      SatFat:
        format: double
        type: number
        required: false
      SatFatPct:
        format: double
        type: number
        required: false
      SingularYieldUnit:
        type: string
        required: false
      Sodium:
        format: double
        type: number
        required: false
      SodiumPct:
        format: double
        type: number
        required: false
      Sugar:
        format: double
        type: number
        required: false
      TotalCalories:
        format: double
        type: number
        required: false
      TotalCarbs:
        format: double
        type: number
        required: false
      TotalCarbsPct:
        format: double
        type: number
        required: false
      TotalFat:
        format: double
        type: number
        required: false
      TotalFatPct:
        format: double
        type: number
        required: false
      TransFat:
        format: double
        type: number
        required: false
  BigOven.Model.API.Recipe:
    properties:
      ActiveMinutes:
        format: int32
        type: integer
        required: false
      AdTags:
        type: string
        required: false
      AdminBoost:
        format: int32
        type: integer
        required: false
      AllCategoriesText:
        type: string
        required: false
      BookmarkImageURL:
        type: string
        required: false
      BookmarkSiteLogo:
        type: string
        required: false
      BookmarkURL:
        type: string
        required: false
      Category:
        type: string
        required: false
      Collection:
        type: string
        required: false
      CollectionID:
        format: int32
        type: integer
        required: false
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Cuisine:
        type: string
        required: false
      Description:
        type: string
        required: false
      FavoriteCount:
        format: int32
        type: integer
        required: false
      HeroPhotoUrl:
        type: string
        required: false
      ImageSquares:
        items:
          format: int32
          type: integer
        type: array
        required: false
      ImageURL:
        type: string
        required: false
      Ingredients:
        items:
          type: BigOven.Model.API.Ingredient
        type: array
        required: false
      IngredientsTextBlock:
        type: string
        required: false
      Instructions:
        type: string
        required: false
      IsBookmark:
        type: boolean
        required: false
      IsPrivate:
        type: boolean
        required: false
      IsRecipeScan:
        type: boolean
        required: false
      IsSponsored:
        type: boolean
        required: false
      LastModified:
        format: rfc3339
        type: datetime
        required: false
      MaxImageSquare:
        format: int32
        type: integer
        required: false
      MedalCount:
        format: int32
        type: integer
        required: false
      MenuCount:
        format: int32
        type: integer
        required: false
      Microcategory:
        type: string
        required: false
      NotesCount:
        format: int32
        type: integer
        required: false
      NutritionInfo:
        type: BigOven.Model.API.NutritionInfo
        required: false
      Poster:
        type: BigOven.Model.API.UserInfo
        required: false
      PrimaryIngredient:
        type: string
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      ReviewCount:
        format: int32
        type: integer
        required: false
      StarRating:
        format: double
        type: number
        required: false
      Subcategory:
        type: string
        required: false
      Title:
        type: string
        required: false
      TotalMinutes:
        format: int32
        type: integer
        required: false
      VariantOfRecipeID:
        format: int32
        type: integer
        required: false
      VerifiedByClass:
        type: string
        required: false
      VerifiedDateTime:
        format: rfc3339
        type: datetime
        required: false
      WebURL:
        type: string
        required: false
      YieldNumber:
        format: double
        type: number
        required: false
      YieldUnit:
        type: string
        required: false
  BigOven.Model.API.RecipeInfo:
    properties:
      BookmarkURL:
        type: string
        required: false
      Category:
        type: string
        required: false
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Cuisine:
        type: string
        required: false
      HeroPhotoUrl:
        type: string
        required: false
      HideFromPublicSearch:
        type: boolean
        required: false
      ImageURL:
        type: string
        required: false
      ImageURL120:
        type: string
        required: false
      IsBookmark:
        type: boolean
        required: false
      IsPrivate:
        type: boolean
        required: false
      MaxImageSquare:
        format: int32
        type: integer
        required: false
      Microcategory:
        type: string
        required: false
      Poster:
        type: BigOven.Model.API.UserInfo
        required: false
      QualityScore:
        format: double
        type: number
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      ReviewCount:
        format: int32
        type: integer
        required: false
      StarRating:
        format: double
        type: number
        required: false
      StarRatingIMG:
        type: string
        required: false
      Subcategory:
        type: string
        required: false
      Title:
        type: string
        required: false
      TotalTries:
        format: int32
        type: integer
        required: false
      WebURL:
        type: string
        required: false
      YieldNumber:
        format: double
        type: number
        required: false
  BigOven.Model.API.RecipeNote:
    properties:
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Date:
        type: string
        required: false
      DateDT:
        format: rfc3339
        type: datetime
        required: false
      GUID:
        type: string
        required: false
      ID:
        format: int32
        type: integer
        required: false
      Notes:
        type: string
        required: false
      People:
        type: string
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      UserID:
        format: int32
        type: integer
        required: false
      Variations:
        type: string
        required: false
  BigOven.Model.API.RecipeNoteList:
    properties:
      ResultCount:
        format: int32
        type: integer
        required: false
      Results:
        items:
          type: BigOven.Model.API.RecipeNote
        type: array
        required: false
  BigOven.Model.API.Review:
    properties:
      ActiveMinutes:
        format: int32
        type: integer
        required: false
      Comment:
        type: string
        required: false
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      GUID:
        type: string
        required: false
      ParentID:
        format: int64
        type: integer
        required: false
      Poster:
        type: BigOven.Model.API.UserInfo
        required: false
      Replies:
        items:
          type: BigOven.Model.API.Review
        type: array
        required: false
      ReviewID:
        format: int64
        type: integer
        required: false
      StarRating:
        format: double
        type: number
        required: false
      TotalMinutes:
        format: int32
        type: integer
        required: false
  BigOven.Model.API.UserInfo:
    properties:
      FirstName:
        type: string
        required: false
      ImageURL48:
        type: string
        required: false
      IsKitchenHelper:
        type: boolean
        required: false
      IsPremium:
        type: boolean
        required: false
      IsUsingRecurly:
        type: boolean
        required: false
      LastName:
        type: string
        required: false
      MemberSince:
        format: rfc3339
        type: datetime
        required: false
      PhotoUrl:
        type: string
        required: false
      PremiumExpiryDate:
        format: rfc3339
        type: datetime
        required: false
      UserID:
        format: int32
        type: integer
        required: false
      UserName:
        type: string
        required: false
  BigOven.Model.API2.CollectionInfo:
    properties:
      Description:
        type: string
        required: false
      ID:
        format: int32
        type: integer
        required: false
      IsFiltered:
        type: boolean
        required: false
      IsSponsored:
        type: boolean
        required: false
      MobileUrl:
        type: string
        required: false
      PRO:
        type: boolean
        required: false
      PhotoUrl:
        type: string
        required: false
      Results:
        items:
          type: BigOven.Model.API2.RecipeInfox
        type: array
        required: false
      Title:
        type: string
        required: false
      Token:
        type: string
        required: false
      WebUrl:
        type: string
        required: false
  BigOven.Model.API2.GroceryList:
    properties:
      Items:
        items:
          type: BigOven.Model.API.Grocery.Item
        type: array
        required: false
      LastModified:
        format: rfc3339
        type: datetime
        required: false
      Recipes:
        items:
          type: BigOven.Model.API2.RecipeInfox
        type: array
        required: false
      VersionGuid:
        type: string
        required: false
  BigOven.Model.API2.Photo:
    properties:
      Caption:
        type: string
        required: false
      CreationDate:
        type: string
        required: false
      ImageID:
        format: int64
        type: integer
        required: false
      IsPrimary:
        type: boolean
        required: false
      MaxImageSquare:
        format: int32
        type: integer
        required: false
      PhotoUrl:
        type: string
        required: false
      Poster:
        type: BigOven.Model.API2.UserInfoTinyx
        required: false
  BigOven.Model.API2.Recipe:
    properties:
      ActiveMinutes:
        format: int32
        type: integer
        required: false
      AdTags:
        type: string
        required: false
      AdminBoost:
        format: int32
        type: integer
        required: false
      AllCategoriesText:
        type: string
        required: false
      BookmarkImageURL:
        type: string
        required: false
      BookmarkSiteLogo:
        type: string
        required: false
      BookmarkURL:
        type: string
        required: false
      Category:
        type: string
        required: false
      Collection:
        type: string
        required: false
      CollectionID:
        format: int32
        type: integer
        required: false
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Cuisine:
        type: string
        required: false
      Description:
        type: string
        required: false
      FavoriteCount:
        format: int32
        type: integer
        required: false
      ImageSquares:
        items:
          format: int32
          type: integer
        type: array
        required: false
      ImageURL:
        type: string
        required: false
      Ingredients:
        items:
          type: BigOven.Model.API.Ingredient
        type: array
        required: false
      IngredientsTextBlock:
        type: string
        required: false
      Instructions:
        type: string
        required: false
      IsBookmark:
        type: boolean
        required: false
      IsPrivate:
        type: boolean
        required: false
      IsRecipeScan:
        type: boolean
        required: false
      IsSponsored:
        type: boolean
        required: false
      LastModified:
        format: rfc3339
        type: datetime
        required: false
      MaxImageSquare:
        format: int32
        type: integer
        required: false
      MedalCount:
        format: int32
        type: integer
        required: false
      MenuCount:
        format: int32
        type: integer
        required: false
      Microcategory:
        type: string
        required: false
      NotesCount:
        format: int32
        type: integer
        required: false
      NutritionInfo:
        type: BigOven.Model.API.NutritionInfo
        required: false
      PhotoUrl:
        type: string
        required: false
      Poster:
        type: BigOven.Model.API.UserInfo
        required: false
      PrimaryIngredient:
        type: string
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      ReviewCount:
        format: int32
        type: integer
        required: false
      StarRating:
        format: double
        type: number
        required: false
      Subcategory:
        type: string
        required: false
      Title:
        type: string
        required: false
      TotalMinutes:
        format: int32
        type: integer
        required: false
      VariantOfRecipeID:
        format: int32
        type: integer
        required: false
      VerifiedByClass:
        type: string
        required: false
      VerifiedDateTime:
        format: rfc3339
        type: datetime
        required: false
      WebURL:
        type: string
        required: false
      YieldNumber:
        format: double
        type: number
        required: false
      YieldUnit:
        type: string
        required: false
  BigOven.Model.API2.RecipeInfox:
    properties:
      Category:
        type: string
        required: false
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Cuisine:
        type: string
        required: false
      IsBookmark:
        type: boolean
        required: false
      IsPrivate:
        type: boolean
        required: false
      IsRecipeScan:
        type: boolean
        required: false
      Microcategory:
        type: string
        required: false
      PhotoUrl:
        type: string
        required: false
      Poster:
        type: BigOven.Model.API2.UserInfoTinyx
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      ReviewCount:
        format: int32
        type: integer
        required: false
      Servings:
        format: double
        type: number
        required: false
      StarRating:
        format: double
        type: number
        required: false
      Subcategory:
        type: string
        required: false
      Title:
        type: string
        required: false
      TotalTries:
        format: int32
        type: integer
        required: false
      WebURL:
        type: string
        required: false
  BigOven.Model.API2.RecipeNote:
    properties:
      CreationDate:
        format: rfc3339
        type: datetime
        required: false
      Date:
        type: string
        required: false
      DateDT:
        format: rfc3339
        type: datetime
        required: false
      GUID:
        type: string
        required: false
      ID:
        format: int32
        type: integer
        required: false
      Notes:
        type: string
        required: false
      People:
        type: string
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      UserID:
        format: int32
        type: integer
        required: false
      Variations:
        type: string
        required: false
  BigOven.Model.API2.RecipeSearchResult:
    properties:
      ResultCount:
        format: int32
        type: integer
        required: false
      Results:
        items:
          type: BigOven.Model.API2.RecipeInfox
        type: array
        required: false
      SpellSuggest:
        type: string
        required: false
  BigOven.Model.API2.UserInfoTinyx:
    properties:
      FirstName:
        type: string
        required: false
      LastName:
        type: string
        required: false
      PhotoUrl:
        type: string
        required: false
      UserID:
        format: int32
        type: integer
        required: false
      UserName:
        type: string
        required: false
  BigOven.Model.RecipeCategory:
    properties:
      Category:
        type: string
        required: false
      DefaultActiveMinutes:
        format: int32
        type: integer
        required: false
      DefaultTotalMinutes:
        format: int32
        type: integer
        required: false
      ID:
        format: int32
        type: integer
        required: false
      ParentID:
        format: int32
        type: integer
        required: false
      PrimaryImage:
        type: string
        required: false
      ShortDescription:
        type: string
        required: false
  BigOven.Model.RecipeInfoDateTuple2:
    properties:
      date:
        format: rfc3339
        type: datetime
        required: false
      recipeInfo:
        type: BigOven.Model.API2.RecipeInfox
        required: false
  BigOven.Model.RecipeInfoReviewTuple2:
    properties:
      RecipeInfo:
        type: BigOven.Model.API2.RecipeInfox
        required: false
      Review:
        type: BigOven.Model.API.Review
        required: false
  BigOven.Model.ShoppingListLine:
    properties:
      DateAdded:
        format: rfc3339
        type: datetime
        required: false
      Dept:
        type: string
        required: false
      GUID:
        type: string
        required: false
      HTMLItemName:
        type: string
        required: false
      IsChecked:
        type: boolean
        required: false
      ItemName:
        type: string
        required: false
      LastModified:
        format: rfc3339
        type: datetime
        required: false
      ListID:
        format: int64
        type: integer
        required: false
      MealPlanID:
        format: int32
        type: integer
        required: false
      MealPlanObjectType:
        format: int32
        type: integer
        required: false
      Notes:
        type: string
        required: false
      PendingAddition:
        type: boolean
        required: false
      RecipeID:
        format: int32
        type: integer
        required: false
      ShoppingListLineID:
        format: int64
        type: integer
        required: false
      Store:
        type: string
        required: false
      TextAmt:
        type: string
        required: false
      ThirdPartyHost:
        type: string
        required: false
      ThirdPartyTitle:
        type: string
        required: false
      ThirdPartyURL:
        type: string
        required: false
  System.Object:
    properties: {}
