#%RAML 1.0
title: Cenit IO - REST API Specification
version: v1
baseUri: 'https://cenit.io/api/v1'
mediaType:
  - application/json
  - application/xml
protocols:
  - HTTPS
description: |
  Cenit IO is an Open Platform for Data and Business Integration (iPaaS)
(oas-tags-definition):
  - description: |
      The Cenit IO API is organized around REST. Cenit IO is an Open Platform for Data 
      and Business Integration (iPaaS) to process, storage and move data in connection 
      with Cloud or On-Premise services. 

      It has been designed to orchestrate data flows that may involve several kind of 
      endpoints (APIs, Datasets, EDI). It makes possible the automation of all operational 
      processes in a company, connecting between organization's on-premises infrastructure 
      and cloud provider services.
    name: Introduction
  - description: |
      When you sign up for an account, you are given your first API key.
      You can generate additional API keys, and delete API keys (as you may
      need to rotate your keys in the future). You authenticate to Cenit IO API 
      by providing your endpoint API keys and token in the header parameters into 
      request. You can have multiple API keys and token active at one time for 
      any endpoint.
    name: Authentication
  - description: |
      Connection are the representation of endpoint. 
    name: Connection
  - description: |
      Define a group of webhooks that can apply to several connections.       
    name: Connection Role
  - description: |
      Allow that objects flow through the hub. The creation of new objects 
      and/or changes in existing objects will result in events. These events 
      ultimately result in calls being made to various Flows in your endpoints.
    name: Data Event
  - description: |
      Schedulers are events triggered on a certain moment and can be optionally recurrent.
    name: Scheduler
  - description: |
      Define an HTTP Method and params.
    name: Webhook
  - description: |
      A translator defines a logic for data manipulation. Data manipulation can occurs in the following scenarios:
        - Importing outside data into Cenit
        - Updating data already stored in Cenit
        - Converting data already stored in Cenit
        - Exporting data outside Cenit
    name: Translator
  - description: |
      A flow defines how data is processed by the execution of one or more actions, if 
      the data is coming in to Cenit or going out of Cenit. Data processing involve:

        ₋ An execution trigger to start the data processing
        
        ₋ Data types
        
        ₋ Translators
        
        ₋ Connections & Webhooks
    name: Flow
  - description: |
      Define a data type is as simple as a JSON Schema http://json-schema.org
    name: Data Type
  - description: |
      Define space of names to use across all the tenants    
       
    name: Namespace
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cenit.io_images_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://cenit-io.github.io/openapi/swagger.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): cenit.io
  contact:
    name: Cenit IO Support
    url: 'https://cenit.io'
    email: support@cenit.io
  termsOfService: 'https://cenit-portal.herokuapp.com/terms_of_service'
(oas-externalDocs):
  url: 'https://github.com/cenit-io/openapi'
securitySchemes:
  X-User-Access-Key:
    type: Pass Through
    describedBy:
      headers:
        X-User-Access-Key:
          type: string
  X-User-Access-Token:
    type: Pass Through
    describedBy:
      headers:
        X-User-Access-Token:
          type: string
/setup:
  displayName: setup
  /observer:
    displayName: observer
    /:
      get:
        displayName: GET_setup-observer
        description: 'Returns a list of events you''ve previously created. The events are returned in sorted order, with the most recent event appearing first.'
        (oas-summary): Returns a list of events
        responses:
          '200':
            body:
              application/json:
                items:
                  type: observer
                type: array
            description: OK
        (oas-tags):
          - Data Event
      post:
        displayName: POST_setup-observer
        description: Creates or updates the specified event observer. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update an event
        responses:
          '200':
            body:
              application/json:
                type: observer
            description: OK
        (oas-tags):
          - Data Event
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Observer ID
          required: true
          type: string
      delete:
        displayName: DELETE_setup-observer-id
        description: Deletes the specified event observer.
        (oas-summary): Delete an event
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Data Event
      get:
        displayName: GET_setup-observer-id
        description: Retrieves the details of an existing event. You need only supply the unique event identifier that was returned upon event creation.
        (oas-summary): Retrieve an existing event
        responses:
          '200':
            body:
              application/json:
                type: observer
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Data Event
  /webhook:
    displayName: webhook
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Webhook ID.
          required: true
          type: string
      get:
        displayName: GET_setup-webhook-id
        description: Retrieves the details of an existing webhook. You need only supply the unique webhook identifier that was returned upon webhook creation.
        (oas-summary): Retrieve an existing webhook
        responses:
          '200':
            body:
              application/json:
                type: webhook
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Webhook
      delete:
        displayName: DELETE_setup-webhook-id
        description: Deletes the specified webhook.
        (oas-summary): Delete a webhook
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Webhook
    /:
      post:
        displayName: POST_setup-webhook
        description: Creates or updates the specified webhook. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update a webhook
        responses:
          '200':
            body:
              application/json:
                type: webhook
            description: OK
        (oas-tags):
          - Webhook
      get:
        displayName: GET_setup-webhook
        description: 'Returns a list of webhooks you''ve previously created. The webhooks are returned in sorted order, with the most recent webhook appearing first.'
        (oas-summary): Returns a list of webhooks
        responses:
          '200':
            body:
              application/json:
                items:
                  type: webhook
                type: array
            description: OK
        (oas-tags):
          - Webhook
  /connection:
    displayName: connection
    get:
      displayName: GET_setup-connection
      description: 'Returns a list of connections you''ve previously created. The connections are returned in sorted order, with the most recent connection appearing first.'
      (oas-summary): Returns a list of connections
      responses:
        '200':
          body:
            application/json:
              items:
                type: connection
              type: array
          description: OK
      (oas-tags):
        - Connection
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Connection ID
          required: true
          type: string
      delete:
        displayName: DELETE_setup-connection-id
        description: Permanently deletes a connection. It cannot be undone.
        (oas-summary): Delete a connection
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Connection
      get:
        displayName: GET_setup-connection-id
        description: Retrieves the details of an existing connection. You need only supply the unique connection identifier that was returned upon connection creation.
        (oas-summary): Retrieve an existing connection
        responses:
          '200':
            body:
              application/json:
                type: connection
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Connection
    post:
      displayName: POST_setup-connection
      description: Creates or updates the specified connection by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      (oas-summary): Create or update a connection
      responses:
        '200':
          body:
            application/json:
              type: connection
          description: OK
      (oas-tags):
        - Connection
  /connection_role:
    displayName: connection_role
    get:
      displayName: GET_setup-connection_role
      description: 'Returns a list of connection roles you''ve previously created. The connection roles are returned in sorted order, with the most recent connection role appearing first.'
      (oas-summary): Returns a list of connection roles
      responses:
        '200':
          body:
            application/json:
              items:
                type: connection_role
              type: array
          description: OK
      (oas-tags):
        - Connection Role
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Connection role ID
          required: true
          type: string
      delete:
        displayName: DELETE_setup-connection_role-id
        description: Deletes the specified connection role.
        (oas-summary): Delete a connection role.
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Connection Role
      get:
        displayName: GET_setup-connection_role-id
        description: Returns a connection role
        (oas-summary): Return a connection role
        responses:
          '200':
            body:
              application/json:
                type: connection_role
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Connection Role
    post:
      displayName: POST_setup-connection_role
      description: Creates or updates the specified connection role by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      (oas-summary): Create or update a connection role
      responses:
        '200':
          body:
            application/json:
              type: connection_role
          description: OK
      (oas-tags):
        - Connection Role
  /scheduler:
    displayName: scheduler
    /:
      get:
        displayName: GET_setup-scheduler
        description: 'Returns a list of schedulers you''ve previously created. The schedulers are returned in sorted order, with the most recent scheduler appearing first.'
        (oas-summary): Returns a list of schedulers
        responses:
          '200':
            body:
              application/json:
                items:
                  type: scheduler
                type: array
            description: OK
        (oas-tags):
          - Scheduler
      post:
        displayName: POST_setup-scheduler
        description: Creates or updates the specified scheduler. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update an scheduler
        responses:
          '200':
            body:
              application/json:
                type: scheduler
            description: OK
        (oas-tags):
          - Scheduler
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Scheduler ID
          required: true
          type: string
      delete:
        displayName: DELETE_setup-scheduler-id
        description: Deletes the specified scheduler.
        (oas-summary): Delete an schedule
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Scheduler
      get:
        displayName: GET_setup-scheduler-id
        description: Retrieves the details of an existing scheduler. You need only supply the unique scheduler identifier that was returned upon scheduler creation.
        (oas-summary): Retrieve an existing schedule
        responses:
          '200':
            body:
              application/json:
                type: scheduler
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Scheduler
  /data_type:
    displayName: data_type
    /:
      get:
        displayName: GET_setup-data_type
        description: 'Returns a list of data types you''ve previously created. The data types are returned in sorted order, with the most recent DataType appearing first.'
        (oas-summary): Returns a list of data types
        responses:
          '200':
            body:
              application/json:
                items:
                  type: data_type
                type: array
            description: OK
        (oas-tags):
          - Data Type
      post:
        displayName: POST_setup-data_type
        description: Creates or updates the specified data type by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update a data type
        responses:
          '200':
            body:
              application/json:
                type: data_type
            description: OK
        (oas-tags):
          - Data Type
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: data type ID
          required: true
          type: string
      delete:
        displayName: DELETE_setup-data_type-id
        description: Deletes the specified data type.
        (oas-summary): Delete a data type
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Data Type
      get:
        displayName: GET_setup-data_type-id
        description: Retrieves the details of an existing data type. You need only supply the unique data  type identifier that was returned upon DataType creation.
        (oas-summary): Retrieve a data type
        responses:
          '200':
            body:
              application/json:
                type: data_type
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Data Type
  /flow:
    displayName: flow
    /:
      get:
        displayName: GET_setup-flow
        description: 'Returns a list of flows you''ve previously created. The flows are returned in sorted order, with the most recent flow appearing first.'
        (oas-summary): Returns a list of flows
        responses:
          '200':
            body:
              application/json:
                items:
                  type: flow
                type: array
            description: OK
        (oas-tags):
          - Flow
      post:
        displayName: POST_setup-flow
        description: Creates or updates the specified flow. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update a flow
        responses:
          '200':
            body:
              application/json:
                type: flow
            description: OK
        (oas-tags):
          - Flow
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Flow ID
          required: true
          type: string
      delete:
        displayName: DELETE_setup-flow-id
        description: Deletes the specified flow.
        (oas-summary): Delete a flow.
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Flow
      get:
        displayName: GET_setup-flow-id
        description: Retrieves the details of an existing flow. You need only supply the unique flow identifier that was returned upon flow creation.
        (oas-summary): Retrieve an existing flow
        responses:
          '200':
            body:
              application/json:
                type: flow
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Flow
  /schema:
    displayName: schema
    /:
      get:
        displayName: GET_setup-schema
        description: 'Returns a list of schemas you''ve previously created. The schemas are returned in sorted order, with the most recent schema appearing first.'
        (oas-summary): Returns a list of schemas
        responses:
          '200':
            body:
              application/json:
                items:
                  type: schema
                type: array
            description: OK
        (oas-tags):
          - Schema
      post:
        displayName: POST_setup-schema
        description: Creates or updates the specified schema. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update an schema
        responses:
          '200':
            body:
              application/json:
                type: schema
            description: OK
        (oas-tags):
          - Schema
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Schema ID
          required: true
          type: string
      delete:
        displayName: DELETE_setup-schema-id
        description: Deletes the specified schema.
        (oas-summary): Delete an schema.
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Schema
      get:
        displayName: GET_setup-schema-id
        description: Retrieves the details of an existing schema. You need only supply the unique schema identifier that was returned upon schema creation.
        (oas-summary): Retrieve an existing schema
        responses:
          '200':
            body:
              application/json:
                type: schema
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Schema
  /namespace:
    displayName: namespace
    /:
      get:
        displayName: GET_setup-namespace
        description: 'Returns a list of namespaces you''ve previously created. The namespaces are returned in sorted order, with the most recent namespace appearing first.'
        (oas-summary): Returns a list of namespaces
        responses:
          '200':
            body:
              application/json:
                items:
                  type: namespace
                type: array
            description: OK
        (oas-tags):
          - Namespace
      post:
        displayName: POST_setup-namespace
        description: Creates or updates the specified namespace. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update a namespace
        responses:
          '200':
            body:
              application/json:
                type: namespace
            description: OK
        (oas-tags):
          - Namespace
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Namespace ID.
          required: true
          type: string
      delete:
        displayName: DELETE_setup-namespace-id
        description: Deletes the specified namespace.
        (oas-summary): Delete a namespace
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Namespace
      get:
        displayName: GET_setup-namespace-id
        description: Retrieves the details of an existing namespace. You need only supply the unique webhook namespace that was returned upon namespace creation.
        (oas-summary): Retrieve an existing namespace
        responses:
          '200':
            body:
              application/json:
                type: namespace
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Namespace
  /translator:
    displayName: translator
    /:
      get:
        displayName: GET_setup-translator
        description: 'Returns a list of translators you''ve previously created. The translators are returned in sorted order, with the most recent translator appearing first.'
        (oas-summary): Returns a list of translators
        responses:
          '200':
            body:
              application/json:
                items:
                  type: translator
                type: array
            description: OK
        (oas-tags):
          - Translator
      post:
        displayName: POST_setup-translator
        description: Creates or updates the specified translator. Any parameters not provided will be left unchanged.
        (oas-summary): Create or update a translator
        responses:
          '200':
            body:
              application/json:
                type: translator
            description: OK
        (oas-tags):
          - Translator
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Translator ID.
          required: true
          type: string
      delete:
        displayName: DELETE_setup-translator-id
        description: Deletes the specified translator.
        (oas-summary): Delete a translator
        responses:
          '200':
            description: OK
          '404':
            description: Item not found
        (oas-tags):
          - Translator
      get:
        displayName: GET_setup-translator-id
        description: Retrieves the details of an existing translator. You need only supply the unique translator identifier that was returned upon translator creation.
        (oas-summary): Retrieve an existing translator
        responses:
          '200':
            body:
              application/json:
                type: translator
            description: OK
          '404':
            description: Item not found.
        (oas-tags):
          - Translator
types:
  connection:
    properties:
      headers:
        items:
          properties:
            key:
              type: string
              required: false
            value:
              type: string
              required: false
          type: object
        type: array
        required: false
      id:
        type: string
        required: false
      key:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      parameters:
        items:
          properties:
            key:
              type: string
              required: false
            value:
              type: string
              required: false
          type: object
        type: array
        required: false
      token:
        type: string
        required: false
      url:
        type: string
        required: false
  connection_role:
    properties:
      connection:
        items:
          type: connection
        type: array
        required: false
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      webhook:
        items:
          type: webhook
        type: array
        required: false
  data_type:
    properties:
      id:
        type: string
        required: false
      model_schema:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      show_navigation_link:
        type: string
        required: false
      slug:
        type: string
        required: false
      title:
        type: string
        required: false
      type:
        type: object
        required: false
  flow:
    properties:
      active:
        type: boolean
        required: false
      connection_role:
        type: connection_role
        required: false
      custom_data_type:
        type: data_type
        required: false
      event:
        type: object
        required: false
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      notify_request:
        type: boolean
        required: false
      notify_response:
        type: boolean
        required: false
      response_translator:
        type: translator
        required: false
      translator:
        type: translator
        required: false
      webhook:
        type: webhook
        required: false
  namespace:
    properties:
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      slug:
        type: string
        required: false
  observer:
    properties:
      data_type:
        type: data_type
        required: false
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      triggers:
        type: string
        required: false
      type:
        type: object
        required: false
  scheduler:
    properties:
      activated:
        type: boolean
        required: false
      expression:
        type: string
        required: false
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
  schema:
    properties:
      id:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      schema:
        type: string
        required: false
      uri:
        type: string
        required: false
  translator:
    properties:
      custom_data_type:
        type: data_type
        required: false
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      source_data_type:
        type: data_type
        required: false
      style:
        enum:
          - Ruby
          - Liquid
          - xslt
        type: string
        required: false
      target_data_type:
        type: data_type
        required: false
      transformation:
        type: string
        required: false
      type:
        enum:
          - Import
          - Export
          - Convert
          - Update
        type: string
        required: false
  webhook:
    properties:
      headers:
        items:
          properties:
            key:
              type: string
              required: false
            value:
              type: string
              required: false
          type: object
        type: array
        required: false
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      namespace:
        type: namespace
        required: false
      parameters:
        items:
          properties:
            key:
              type: string
              required: false
            value:
              type: string
              required: false
          type: object
        type: array
        required: false
      path:
        type: string
        required: false
