#%RAML 1.0
title: GoToWebinar
version: 1.0.0
baseUri: 'https://api.citrixonline.com/G2W/rest'
mediaType: application/json
protocols:
  - HTTPS
description: 'The Citrix GoToWebinar API provides seamless integration of webinar registrant and attendee data into your existing infrastructure or third-party applications. The ability to register participants, as well as pull lists of registrants and attendees for a webinar, allows organizers to manage the flow of information between their primary applications without manual intervention.'
(oas-tags-definition):
  - description: Operations available for webinars of a given organizer.
    name: Webinars
  - description: Operations available for co-organizers of a given webinar.
    name: Co-organizers
  - description: Operations available for panelists of a given webinar.
    name: Panelists
  - description: Operations available for registrants of a given webinar.
    name: Registrants
  - description: Operations available for sessions of a given webinar.
    name: Sessions
  - description: Operations available for attendees of a given webinar session.
    name: Attendees
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    backgroundColor: '#5F6166'
    url: 'https://api.apis.guru/v2/cache/logo/https_developer.citrixonline.com_sites_all_themes_citrix_responsive_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://developer.citrixonline.com/sites/default/files/citrix/citrix-apis/gotowebinar.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): citrixonline.com
  (oas-x-serviceName): gotowebinar
  contact:
    name: Developer Support
    url: 'https://developer.citrixonline.com'
    email: developer-support@citrixonline.com
  termsOfService: 'https://developer.citrixonline.com/terms-use'
(oas-externalDocs):
  url: 'https://developer.citrixonline.com/'
/organizers:
  displayName: organizers
  '/{organizerKey}':
    displayName: '{organizerKey}'
    /webinars:
      displayName: webinars
      '/{webinarKey}':
        displayName: '{webinarKey}'
        /panelists:
          displayName: panelists
          '/{panelistKey}':
            displayName: '{panelistKey}'
            uriParameters:
              panelistKey:
                description: The key of the webinar panelist
                format: int64
                required: true
                type: integer
                displayName: The key of the webinar panelist
            delete:
              displayName: deleteWebinarPanelist
              description: Removes a webinar panelist.
              (oas-summary): Delete webinar panelist
              is:
                - authorization
              responses:
                '204':
                  description: No content
                '400':
                  description: Bad Request
                '403':
                  description: Forbidden
                '404':
                  description: Not found
              (oas-tags):
                - Panelists
            /resendInvitation:
              displayName: resendInvitation
              post:
                displayName: resendPanelistInvitation
                description: Resend the panelist invitation email.
                (oas-summary): Resend panelist invitation
                is:
                  - authorization
                responses:
                  '204':
                    description: Created
                  '400':
                    description: Bad Request
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - Panelists
          get:
            displayName: getPanelists
            description: Retrieves all the panelists for a specific webinar.
            (oas-summary): Get webinar panelists
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: Panelist
                    type: array
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
            (oas-tags):
              - Panelists
          post:
            displayName: createPanelists
            description: Create panelists for a specified webinar
            (oas-summary): Create Panelists
            is:
              - authorization
            body:
              application/json:
                items:
                  type: PanelistReqCreate
                type: array
                (oas-body-name): body
                description: Array of panelists
            responses:
              '201':
                body:
                  application/json:
                    items:
                      type: CreatedPanelist
                    type: array
                description: Created
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - Panelists
        /sessions:
          displayName: sessions
          '/{sessionKey}':
            displayName: '{sessionKey}'
            /surveys:
              displayName: surveys
              get:
                displayName: getSurveys
                description: Retrieve surveys for a past webinar session.
                (oas-summary): Get session surveys
                is:
                  - authorization
                responses:
                  '200':
                    body:
                      application/json:
                        items:
                          type: Poll
                        type: array
                    description: OK
                  '400':
                    description: Bad Request
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - Sessions
            uriParameters:
              sessionKey:
                description: The key of the webinar session
                format: int64
                required: true
                type: integer
                displayName: The key of the webinar session
            get:
              displayName: getWebinarSession
              description: 'Retrieves attendance details for a specific webinar session that has ended. If attendees attended the session (''registrantsAttended''), specific attendance details, such as attendenceTime for a registrant, will also be retrieved.'
              (oas-summary): Get webinar session
              is:
                - authorization
              responses:
                '200':
                  body:
                    application/json:
                      items:
                        type: Attendee
                      type: array
                  description: OK
                '400':
                  description: Bad Request
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - Sessions
            /attendees:
              displayName: attendees
              get:
                displayName: getAttendees
                description: Retrieve details for all attendees of a specific webinar session.
                (oas-summary): Get session attendees
                is:
                  - authorization
                responses:
                  '200':
                    body:
                      application/json:
                        items:
                          type: Attendee
                        type: array
                    description: OK
                  '400':
                    description: Bad Request
                  '403':
                    description: Forbidden
                  '404':
                    description: Not found
                (oas-tags):
                  - Attendees
              '/{registrantKey}':
                displayName: '{registrantKey}'
                uriParameters:
                  registrantKey:
                    description: The key of the registrant
                    format: int64
                    required: true
                    type: integer
                    displayName: The key of the registrant
                get:
                  displayName: getAttendee
                  description: Retrieve registration details for a particular attendee of a specific webinar session.
                  (oas-summary): Get attendee
                  is:
                    - authorization
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Registrant
                      description: OK
                    '400':
                      description: Bad Request
                    '403':
                      description: Forbidden
                    '404':
                      description: Not found
                  (oas-tags):
                    - Attendees
                /polls:
                  displayName: polls
                  get:
                    displayName: getAttendeePollAnswers
                    description: Get poll answers from a particular attendee of a specific webinar session.
                    (oas-summary): Get attendee poll answers
                    is:
                      - authorization
                    responses:
                      '200':
                        body:
                          application/json:
                            items:
                              type: PollAnswer
                            type: array
                        description: OK
                      '400':
                        description: Bad Request
                      '403':
                        description: Forbidden
                      '404':
                        description: Not found
                    (oas-tags):
                      - Attendees
                /questions:
                  displayName: questions
                  get:
                    displayName: getAttendeeQuestions
                    description: Get questions asked by an attendee during a webinar session.
                    (oas-summary): Get attendee questions
                    is:
                      - authorization
                    responses:
                      '200':
                        body:
                          application/json:
                            items:
                              type: AttendeeQuestion
                            type: array
                        description: OK
                      '400':
                        description: Bad Request
                      '403':
                        description: Forbidden
                      '404':
                        description: Not found
                    (oas-tags):
                      - Attendees
                /surveys:
                  displayName: surveys
                  get:
                    displayName: getAttendeeSurveyAnswers
                    description: Retrieve survey answers from a particular attendee during a webinar session.
                    (oas-summary): Get attendee survey answers
                    is:
                      - authorization
                    responses:
                      '200':
                        body:
                          application/json:
                            items:
                              type: PollAnswer
                            type: array
                        description: OK
                      '400':
                        description: Bad Request
                      '403':
                        description: Forbidden
                      '404':
                        description: Not found
                    (oas-tags):
                      - Attendees
            /questions:
              displayName: questions
              get:
                displayName: getQuestions
                description: Retrieve questions and answers for a past webinar session.
                (oas-summary): Get session questions
                is:
                  - authorization
                responses:
                  '200':
                    body:
                      application/json:
                        items:
                          type: AttendeeQuestion
                        type: array
                    description: OK
                  '400':
                    description: Bad Request
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - Sessions
            /polls:
              displayName: polls
              get:
                displayName: getPolls
                description: Retrieve all collated attendee questions and answers for polls from a specific webinar session.
                (oas-summary): Get session polls
                is:
                  - authorization
                responses:
                  '200':
                    body:
                      application/json:
                        items:
                          type: Poll
                        type: array
                    description: OK
                  '400':
                    description: Bad Request
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - Sessions
            /performance:
              displayName: performance
              get:
                displayName: getPerformance
                description: Get performance details for a session.
                (oas-summary): Get session performance
                is:
                  - authorization
                responses:
                  '200':
                    body:
                      application/json:
                        type: SessionPerformance
                    description: OK
                  '400':
                    description: Bad Request
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - Sessions
          get:
            displayName: getAllSessions
            description: Retrieves details for all past sessions of a specific webinar.
            (oas-summary): Get webinar sessions
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: Session
                    type: array
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - Sessions
        /performance:
          displayName: performance
          get:
            displayName: getPerformanceForAllWebinarSessions
            description: Gets performance details for all sessions of a specific webinar.
            (oas-summary): Get performance for all webinar sessions
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    additionalProperties:
                      type: SessionPerformance
                    description: Describes performance details for webinars
                    type: object
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
            (oas-tags):
              - Webinars
        /registrants:
          displayName: registrants
          get:
            displayName: getAllRegistrantsForWebinar
            description: 'Retrieve registration details for all registrants of a specific webinar. Registrant details will not include all fields captured when creating the registrant. To see all data, use the API call ''Get Registrant''. Registrants can have one of the following states; <br>WAITING - registrant registered and is awaiting approval (where organizer has required approval), <br>APPROVED - registrant registered and is approved, and <br>DENIED - registrant registered and was denied.'
            (oas-summary): Get registrants
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: Registrant
                    type: array
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
            (oas-tags):
              - Registrants
          post:
            displayName: createRegistrant
            description: 'Register an attendee for a scheduled webinar. The response contains the registrantKey and join URL for the registrant. An email will be sent to the registrant unless the organizer turns off the confirmation email setting from the GoToWebinar website. Please note that you must provide all required fields including custom fields defined during the webinar creation. Use the API call ''Get registration fields'' to get a list of all fields, if they are required, and their possible values. At this time there are two versions of the ''Create Registrant'' call. The first version only accepts firstName, lastName, and email and ignores all other fields. If you have custom fields or want to capture additional information this version won''t work for you. The second version allows you to pass all required and optional fields, including custom fields defined when creating the webinar. To use the second version you must pass the header value ''Accept: application/vnd.citrix.g2wapi-v1.1+json'' instead of ''Accept: application/json''. Leaving this header out results in the first version of the API call.'
            (oas-summary): Create registrant
            is:
              - authorization
            body:
              application/json:
                type: RegistrantFields
                (oas-body-name): body
                description: The registrant details. To get all possible values run the API call 'Get registration fields' which is also part of this documentation.
            headers:
              Accept:
                type: string
                description: Set to 'application/vnd.citrix.g2wapi-v1.1+json' to make a registration using fields (custom or default) additional to the basic ones.
                required: false
            responses:
              '201':
                body:
                  application/json:
                    type: RegistrantCreated
                description: Created
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
              '409':
                description: The user is already registered
            queryParameters:
              resendConfirmation:
                description: Indicates whether the confirmation email should be resent when a registrant is re-registered. The default value is false.
                required: false
                type: boolean
                displayName: Indicates whether the confirmation email should be resent when a registrant is re-registered. The default value is false.
            (oas-tags):
              - Registrants
          /fields:
            displayName: fields
            get:
              displayName: getRegistrationFields
              description: 'Retrieve required, optional registration, and custom questions for a specified webinar.'
              (oas-summary): Get registration fields
              is:
                - authorization
              responses:
                '200':
                  body:
                    application/json:
                      type: RegistrationFields
                  description: OK
                '400':
                  description: Bad Request
                '403':
                  description: Forbidden
                '404':
                  description: Not found
              (oas-tags):
                - Registrants
          '/{registrantKey}':
            displayName: '{registrantKey}'
            uriParameters:
              registrantKey:
                description: The key of the registrant
                format: int64
                required: true
                type: integer
                displayName: The key of the registrant
            delete:
              displayName: deleteRegistrant
              description: 'Removes a webinar registrant from current registrations for the specified webinar. The webinar must be a scheduled, future webinar.'
              (oas-summary): Delete registrant
              is:
                - authorization
              responses:
                '204':
                  description: No content
                '400':
                  description: Bad Request
                '403':
                  description: Forbidden
                '404':
                  description: Not found
              (oas-tags):
                - Registrants
            get:
              displayName: getRegistrant
              description: Retrieve registration details for a specific registrant.
              (oas-summary): Get registrant
              is:
                - authorization
              responses:
                '200':
                  body:
                    application/json:
                      type: RegistrantDetailed
                  description: OK
                '400':
                  description: Bad Request
                '403':
                  description: Forbidden
                '404':
                  description: Not found
              (oas-tags):
                - Registrants
        uriParameters:
          webinarKey:
            description: The key of the webinar
            format: int64
            required: true
            type: integer
            displayName: The key of the webinar
        get:
          displayName: getWebinar
          description: 'Retrieve information on a specific webinar. If the type of the webinar is ''sequence'', a sequence of future times will be provided. Webinars of type ''series'' are treated the same as normal webinars - each session in the webinar series has a different webinarKey. If an organizer cancels a webinar, then a request to get that webinar would return a ''404 Not Found'' error.'
          (oas-summary): Get webinar
          is:
            - authorization
          responses:
            '200':
              body:
                application/json:
                  type: WebinarByKey
              description: OK
            '400':
              description: Bad Request
            '403':
              description: Forbidden
            '404':
              description: Not found
          (oas-tags):
            - Webinars
        /attendees:
          displayName: attendees
          get:
            displayName: getAttendeesForAllWebinarSessions
            description: Returns all attendees for all sessions of the specified webinar.
            (oas-summary): Get attendees for all webinar sessions
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: Attendee
                    type: array
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
            (oas-tags):
              - Webinars
        /audio:
          displayName: audio
          post:
            displayName: updateAudioInformation
            description: Updates the audio/conferencing settings for a specific webinar
            (oas-summary): Update audio information
            is:
              - authorization
            body:
              application/json:
                type: AudioUpdate
                (oas-body-name): body
                description: The audio/conferencing settings
            responses:
              '204':
                description: No Content
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
            queryParameters:
              notifyParticipants:
                description: Defines whether to send notifications to participants
                required: false
                type: boolean
                displayName: Defines whether to send notifications to participants
            (oas-tags):
              - Webinars
          get:
            displayName: getAudioInformation
            description: Retrieves the audio/conferencing information for a specific webinar.
            (oas-summary): Get audio information
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    type: Audio
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
            (oas-tags):
              - Webinars
        /coorganizers:
          displayName: coorganizers
          post:
            displayName: createCoorganizers
            description: Creates co-organizers for the specified webinar. This call requires the admin role. For co-organizers that have a GoToWebinar account you have to set the parameter 'external' to 'false'. In this case you have to pass the parameter 'organizerKey' only. For co-organizers that have no GoToWebinar account you have to set the parameter 'external' to 'true'. In this case you have to pass the parameters 'givenName' and 'email'. Since there is no parameter for 'surname' you should pass first and last name to the parameter 'givenName'.
            (oas-summary): Create co-organizers
            is:
              - authorization
            body:
              application/json:
                items:
                  type: CoorganizerReqCreate
                type: array
                (oas-body-name): body
                description: The co-organizer details
            responses:
              '201':
                body:
                  application/json:
                    items:
                      type: Coorganizer
                    type: array
                description: Created
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - Co-organizers
          '/{coorganizerKey}':
            displayName: '{coorganizerKey}'
            /resendInvitation:
              displayName: resendInvitation
              post:
                displayName: resendCoorganizerInvitation
                description: Resends an invitation email to the specified co-organizer
                (oas-summary): Resend invitation
                is:
                  - authorization
                responses:
                  '204':
                    description: No Content (Invitation email was sent)
                  '400':
                    description: Bad Request
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                queryParameters:
                  external:
                    description: By default only internal co-organizers (with a GoToWebinar account) will retrieve the resent invitation email. If you want to use this call for external co-organizers you have to set this parameter to 'true'.
                    required: false
                    type: boolean
                    displayName: By default only internal co-organizers (with a GoToWebinar account) will retrieve the resent invitation email. If you want to use this call for external co-organizers you have to set this parameter to 'true'.
                (oas-tags):
                  - Co-organizers
            uriParameters:
              organizerKey:
                description: The key of the organizer
                format: int64
                required: true
                type: integer
                displayName: The key of the organizer
              coorganizerKey:
                description: The key of the internal or external co-organizer (memberKey)
                format: int64
                required: true
                type: integer
                displayName: The key of the internal or external co-organizer (memberKey)
            delete:
              displayName: deleteCoorganizer
              description: Deletes an internal co-organizer specified by the coorganizerKey (memberKey).
              (oas-summary): Delete co-organizer
              is:
                - authorization
              responses:
                '204':
                  description: No Content (Co-organizer was deleted)
                '400':
                  description: Bad Request
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              queryParameters:
                external:
                  description: By default only internal co-organizers (with a GoToWebinar account) can be deleted. If you want to use this call for external co-organizers you have to set this parameter to 'true'.
                  required: false
                  type: boolean
                  displayName: By default only internal co-organizers (with a GoToWebinar account) can be deleted. If you want to use this call for external co-organizers you have to set this parameter to 'true'.
              (oas-tags):
                - Co-organizers
          get:
            displayName: getCoorganizers
            description: 'Returns the co-organizers for the specified webinar. The original organizer who created the webinar is filtered out of the list. If the webinar has no co-organizers, an empty array is returned. Co-organizers that do not have a GoToWebinar account are returned as external co-organizers. For those organizers no surname is returned.'
            (oas-summary): Get co-organizers
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: Coorganizer
                    type: array
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - Co-organizers
        delete:
          displayName: cancelWebinar
          description: 'Cancels a specific webinar. If the webinar is a series or sequence, this call deletes all scheduled sessions. To send cancellation emails to registrants set sendCancellationEmails=true in the request. When the cancellation emails are sent, the default generated message is used in the cancellation email body.'
          (oas-summary): Cancel webinar
          is:
            - authorization
          responses:
            '204':
              description: No Content
            '403':
              description: Forbidden
            '404':
              description: Not found
            '405':
              description: Method Not Allowed (Webinar is in the past)
            '409':
              description: Conflict (Webinar is in session)
          queryParameters:
            sendCancellationEmails:
              description: Indicates whether cancellation notice emails should be sent. The default value is false
              required: false
              type: boolean
              displayName: Indicates whether cancellation notice emails should be sent. The default value is false
          (oas-tags):
            - Webinars
        /meetingtimes:
          displayName: meetingtimes
          get:
            displayName: getWebinarMeetingTimes
            description: Retrieves the meeting times for a webinar.
            (oas-summary): Get webinar meeting times
            is:
              - authorization
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: DateTimeRange
                    type: array
                description: OK
              '400':
                description: Bad Request
              '403':
                description: Forbidden
              '404':
                description: Not found
            (oas-tags):
              - Webinars
        put:
          displayName: updateWebinar
          description: 'Updates a webinar. The call requires at least one of the parameters in the request body. The request completely replaces the existing session, series, or sequence and so must include the full definition of each as for the Create call. Set notifyParticipants=true to send update emails to registrants.'
          (oas-summary): Update webinar
          is:
            - authorization
          body:
            application/json:
              type: WebinarReqUpdate
              (oas-body-name): body
              description: The webinar details
          responses:
            '202':
              description: Accepted
            '400':
              description: 'Bad Request (times not valid, webinar in progress, webinar ended, etc.)'
            '403':
              description: Forbidden
          queryParameters:
            notifyParticipants:
              description: Defines whether to send notifications to participants
              required: false
              type: boolean
              displayName: Defines whether to send notifications to participants
          (oas-tags):
            - Webinars
      post:
        displayName: createWebinar
        description: 'Creates a single session webinar, a sequence of webinars or a series of webinars depending on the type field in the body: "single_session" creates a single webinar session, "sequence" creates a webinar with multiple meeting times where attendees are expected to be the same for all sessions, and "series" creates a webinar with multiple meetings times where attendees choose only one to attend. The default, if no type is declared, is single_session. A sequence webinar requires a "recurrenceStart" array consisting of a "startTime" and "endTime" for the first of the sequence, a "recurrencePattern" of "daily", "weekly", "monthly", and a "recurrenceEnd" which is the last date of the sequence (for example, 2016-12-01). A series webinar requires a "times" array with a discreet "startTime" and "endTime" for each webinar in the series. The call requires a webinar subject and description. The "isPasswordProtected" sets whether the webinar requires a password for attendees to join. If set to True, the organizer must go to Registration Settings at My Webinars (https://global.gotowebinar.com/webinars.tmpl) and add the password to the webinar, and send the password to the registrants. The response provides a numeric webinarKey in string format for the new webinar. Once a webinar has been created with this method, you can accept registrations.'
        (oas-summary): Create webinar
        is:
          - authorization
        body:
          application/json:
            type: WebinarReqCreate
            (oas-body-name): body
            description: The webinar details
        responses:
          '201':
            body:
              application/json:
                type: CreatedWebinar
            description: Created
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        (oas-tags):
          - Webinars
      get:
        displayName: getAllWebinars
        description: Returns webinars scheduled for the future for a specified organizer.
        (oas-summary): Get all webinars
        is:
          - authorization
        responses:
          '200':
            body:
              application/json:
                items:
                  type: Webinar
                type: array
            description: OK
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        (oas-tags):
          - Webinars
    /historicalWebinars:
      displayName: historicalWebinars
      get:
        displayName: getHistoricalWebinars
        description: Returns details for completed webinars for the specified organizer and completed webinars of other organizers where the specified organizer is a co-organizer.
        (oas-summary): Get historical webinars
        is:
          - authorization
        responses:
          '200':
            body:
              application/json:
                items:
                  type: HistoricalWebinar
                type: array
            description: OK
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          fromTime:
            description: 'A required start of datetime range in ISO8601 UTC format, e.g. 2015-07-13T10:00:00Z'
            format: rfc3339
            required: true
            type: datetime
            displayName: 'A required start of datetime range in ISO8601 UTC format, e.g. 2015-07-13T10:00:00Z'
          toTime:
            description: 'A required end of datetime range in ISO8601 UTC format, e.g. 2015-07-13T22:00:00Z'
            format: rfc3339
            required: true
            type: datetime
            displayName: 'A required end of datetime range in ISO8601 UTC format, e.g. 2015-07-13T22:00:00Z'
        (oas-tags):
          - Webinars
    /upcomingWebinars:
      displayName: upcomingWebinars
      get:
        displayName: getUpcomingWebinars
        description: Returns webinars scheduled for the future for the specified organizer and webinars of other organizers where the specified organizer is a co-organizer.
        (oas-summary): Get upcoming webinars
        is:
          - authorization
        responses:
          '200':
            body:
              application/json:
                items:
                  type: UpcomingWebinar
                type: array
            description: OK
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        (oas-tags):
          - Webinars
    /sessions:
      displayName: sessions
      get:
        displayName: getOrganizerSessions
        description: Retrieve all completed sessions of all the webinars of a given organizer.
        (oas-summary): Get organizer sessions
        is:
          - authorization
        responses:
          '200':
            body:
              application/json:
                items:
                  type: Session
                type: array
            description: OK
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          fromTime:
            description: 'A required start of datetime range in ISO8601 UTC format, e.g. 2015-07-13T10:00:00Z'
            format: rfc3339
            required: true
            type: datetime
            displayName: 'A required start of datetime range in ISO8601 UTC format, e.g. 2015-07-13T10:00:00Z'
          toTime:
            description: 'A required end of datetime range in ISO8601 UTC format, e.g. 2015-07-13T22:00:00Z'
            format: rfc3339
            required: true
            type: datetime
            displayName: 'A required end of datetime range in ISO8601 UTC format, e.g. 2015-07-13T22:00:00Z'
          includes:
            description: 'Optional comma-delimited list to request additional information for each webinar session in the response. The supported values are: audio, attendees, attendeepolls, attendeesurveys, attendeequestions, attendeeinterestrating, panelists, webinar. The format is &include=audio,attendees,panelists'
            required: false
            type: string
            displayName: 'Optional comma-delimited list to request additional information for each webinar session in the response. The supported values are: audio, attendees, attendeepolls, attendeesurveys, attendeequestions, attendeeinterestrating, panelists, webinar. The format is &include=audio,attendees,panelists'
        (oas-tags):
          - Sessions
types:
  AccessCodes:
    description: 'Describes the access codes for organizer, panelists and attendees'
    properties:
      attendee:
        description: Access code for attendees
        type: string
      organizer:
        description: Access code for the organizer
        type: string
      panelist:
        description: Access code for panelists
        type: string
  AnswerToAttendeeQuestion:
    description: Describes an answer to a question asked by an attendee during a webinar session.
    properties:
      answer:
        description: An answer given to a question asked by an attendee during a webinar session
        type: string
      answeredBy:
        description: The key of the organizer that answered the attendee's question
        type: string
  Attendance:
    description: Describes the times the attendee joined and left a webinar session.
    properties:
      joinTime:
        description: The time the attendee joined a webinar session
        format: rfc3339
        type: datetime
      leaveTime:
        description: The time the attendee left a webinar session
        format: rfc3339
        type: datetime
  AttendanceStatistics:
    description: Describes attendance metrics for a webinar session.
    properties:
      averageAttendanceTimeSeconds:
        description: Average attendance time in seconds
        format: float
        type: number
      averageAttentiveness:
        description: Average based on the focus of the attendees Viewer during the webinar session
        format: float
        type: number
      averageInterestRating:
        description: Numerical value 1-100 (100 being most interested) indicating the average interest rating of the webinar attendees
        format: float
        type: number
      percentageAttendance:
        description: The percentage of registrants that actually attended the webinar session
        format: float
        type: number
      registrantCount:
        description: The number of registrations for the webinar
        format: int32
        type: integer
  Attendee:
    description: Describes the attendee of a webinar
    properties:
      attendance:
        description: The list of times the attendee joined and left the webinar session
        items:
          type: Attendance
        type: array
      attendanceTimeInSeconds:
        description: The total attendance time in seconds
        format: int64
        type: integer
      email:
        description: The attendee's email address
        type: string
      firstName:
        description: The attendee's first name
        type: string
      lastName:
        description: The attendee's last name
        type: string
      registrantKey:
        description: The key of the webinar attendee
        format: int64
        type: integer
      sessionKey:
        description: The unique key of the webinar session
        format: int64
        type: integer
  AttendeeQuestion:
    description: Describes the question asked by an attendee during a webinar session; includes the answers given to it.
    properties:
      answers:
        description: Answer to a question of an attendee and key of the organizer that answered
        items:
          type: AnswerToAttendeeQuestion
        type: array
      askedBy:
        description: The email address of the attendee that asked the question
        type: string
      question:
        description: The question asked by the attendee
        type: string
  Audio:
    description: Describes the audio/conferencing information for a webinar.
    properties:
      confCallNumbers:
        additionalProperties:
          type: CallNumbers
        description: 'The conference call numbers and access codes per country. This will be returned only, if ''type'' is not set to ''Private''. Example for this object: "confCallNumbers":{"CA":{"accessCodes":{"attendee":"159-309-045","organizer":"791-426-085","panelist":"690-270-339"},"tollFree":"1 888 455 4198"},"FI":{"accessCodes":{"attendee":"159-309-045","organizer":"791-426-085","panelist":"690-270-339"},"toll":"+358 (0) 338 79 4198"},"US":{"accessCodes":{"attendee":"159-309-045","organizer":"791-426-085","panelist":"690-270-339"},"toll":"+1 (805) 879-4198","tollFree":"1 888 455 4198"}}'
        type: object
        required: false
      privateInfo:
        description: Phone numbers for an own conference call service
        type: PrivateInfo
        required: false
      type:
        description: Indicates how to connect to the webinar's audio conference. The value of this field determines if other fields appear in the response or not
        type: AudioType
  AudioType:
    description: How to connect to the webinar's audio conference
    enum:
      - PSTN
      - VOIP
      - Hybrid
      - Private
    type: string
  AudioUpdate:
    description: Defines the audio/conferencing settings for the specified webinar
    properties:
      privateInfo:
        description: Defines the audio data for an own conferencing system
        type: PrivateInfoUpdate
        required: false
      pstnInfo:
        description: Defines via two-letter Alpha-2-code which toll and toll-free PSTN numbers are available per country
        type: PstnInfoUpdate
        required: false
      type:
        description: Indicates how to connect to the webinar's audio conference
        type: AudioType
  CallNumbers:
    description: Conference call numbers per country.
    properties:
      accessCodes:
        description: 'Describes the access codes for organizer, panelists and attendees.'
        type: AccessCodes
      toll:
        description: Conference number for toll calls.
        type: string
      tollFree:
        description: Conference number for toll-free calls.
        type: string
        required: false
  Coorganizer:
    description: Describes a webinar co-organizer. A co-organizer without a GoToWebinar account is marked as external and is returned without a surname
    properties:
      email:
        description: The co-organizer's email address
        type: string
      external:
        description: 'If the co-organizer has no GoToWebinar account, this value is set to ''true'''
        type: boolean
      givenName:
        description: The co-organizer's given name
        type: string
      joinLink:
        description: The co-organizer's join link
        type: string
      memberKey:
        description: The co-organizer's organizer key. A new member key is created for external co-organizers
        type: string
      surname:
        description: The co-organizer's surname. For external co-organizers this parameter is not returned
        type: string
  CoorganizerReqCreate:
    description: 'Details used for creating a co-organizer for a webinar. '
    properties:
      email:
        description: 'The co-organizer''s email address. This parameter has to be passed only, if ''external'' is set to ''true'''
        type: string
        required: false
      external:
        description: 'If the co-organizer has no GoToWebinar account, this value has to be set to ''true'''
        type: boolean
      givenName:
        description: 'The co-organizer''s given name. This parameter has to be passed only, if ''external'' is set to ''true'''
        type: string
        required: false
      organizerKey:
        description: 'The co-organizer''s organizer key. This parameter has to be passed only, if ''external'' is set to ''false'''
        type: string
        required: false
  CreatedPanelist:
    description: Describes a created panelist
    properties:
      email:
        description: The panelist's email address
        type: string
      joinLink:
        description: The panelist's join link
        type: string
      name:
        description: The panelist's name
        type: string
      panelistKey:
        description: The panelist's key
        type: string
  CreatedWebinar:
    description: Describes a newly created webinar.
    properties:
      webinarKey:
        description: The unique key of the webinar.
        type: string
  CustomAnswers:
    description: Answers to custom questions of the registrant
    properties:
      answer:
        description: Answer to a custom question when registering
        type: string
      question:
        description: Custom question for registering
        type: string
  DateTimeRange:
    description: 'A pair of DateTime values, the first of which serves as a start time and the second as an end time of an interval.'
    properties:
      endTime:
        description: 'The ending time of an interval, e.g. 2015-07-13T22:00:00Z'
        format: rfc3339
        type: datetime
      startTime:
        description: 'The starting time of an interval, e.g. 2015-07-13T10:00:00Z'
        format: rfc3339
        type: datetime
  HistoricalWebinar:
    description: Describes a completed webinar
    properties:
      description:
        description: A short description of the webinar
        type: string
      organizerKey:
        description: The key of the webinar organizer
        format: int64
        type: integer
      subject:
        description: The webinar subject
        type: string
      timeZone:
        description: The timezone where the webinar is taking place
        type: string
      times:
        description: Array with startTime and endTime for the webinar sessions
        items:
          type: DateTimeRange
        type: array
      webinarID:
        description: The 9-digit webinar ID
        type: string
      webinarKey:
        description: The unique key of the webinar
        format: int64
        type: integer
  Panelist:
    description: Describes a webinar session panelist
    properties:
      email:
        description: The panelist's email address
        type: string
      firstName:
        description: DEPRECATED. The fields 'firstName' and 'lastName' are replaced by the field 'name'
        type: string
      joinLink:
        description: The co-organizer's join link
        type: string
      lastName:
        description: DEPRECATED. The fields 'firstName' and 'lastName' are replaced by the field 'name'
        type: string
      name:
        description: The panelist's name
        type: string
      panelistId:
        description: The panelist's ID
        format: int64
        type: integer
  PanelistReqCreate:
    description: Describes a single panelist
    properties:
      email:
        description: The panelist's email address
        type: string
      name:
        description: The panelist's name
        type: string
  Poll:
    description: A poll or survey launched by an organizer during or after a webinar session; includes the responses given to it by the attendees.
    properties:
      numberOfResponses:
        description: The total number of responses received for this poll or survey
        format: int32
        type: integer
      question:
        description: The poll or survey question asked by the webinar organizer
        type: string
      responses:
        description: The responses given by the attendees to the poll or survey
        items:
          type: PollResponse
        type: array
  PollAnswer:
    description: Describes the answer given by a webinar attendee to a poll or survey launched by an organizer.
    properties:
      answer:
        description: The answer given to the poll or survey question
        type: string
      question:
        description: The poll or survey question
        type: string
  PollResponse:
    description: One of the potential responses/options to a poll or survey launched by an organizer during a webinar session.
    properties:
      percentage:
        description: The percentage of responses that favored this particular option
        format: float
        maximum: 100
        minimum: 0
        type: number
      text:
        description: The text of the response/option to a poll or survey
        type: string
  PollsAndSurveysStatistics:
    description: Details on the polls and surveys for a webinar session.
    properties:
      percentagePollsCompleted:
        description: The percentage of polls completed by the attendees
        format: float
        type: number
      percentageSurveysCompleted:
        description: The percentage of surveys completed by the attendees
        format: float
        type: number
      pollCount:
        description: The number of polls launched at a webinar session
        format: int32
        type: integer
      questionsAsked:
        description: The number of questions asked at a webinar session
        format: int32
        type: integer
      surveyCount:
        description: The percentage of surveys launched at a webinar session
        format: float
        type: number
  PrivateInfo:
    description: Phone numbers for an own conference call service.
    properties:
      attendee:
        description: Text for the panelist when using an own conference call service
        type: string
      organizer:
        description: Text for the organizer when using an own conference call service
        type: string
        required: false
      panelist:
        description: Text for the panelist when using an own conference call service
        type: string
        required: false
  PrivateInfoUpdate:
    description: Defines the audio data for an own conferencing system
    properties:
      attendee:
        description: Attendee phone number for own conference call system
        type: string
      organizer:
        description: Organizer phone number for own conference call system
        type: string
        required: false
      panelist:
        description: Panelist phone number for own conference call system
        type: string
        required: false
  PstnInfoUpdate:
    description: Defines the audio/conferencing settings for the specified webinar. It required to pass 'tollFreeCountries' or 'tollCountries' or both.
    properties:
      tollCountries:
        description: 'Defines in which countries toll PSTN numbers are available. Possible values are AT, AU, BE, CA, CH, DE, DK, ES, FI, FR, GB, IE, IT, NL, NO, NZ, SE, US'
        items:
          type: TollCountries
        type: array
        required: false
      tollFreeCountries:
        description: 'Defines in which countries toll free PSTN numbers are available. Possible values are AE, AR, AT, AU, BE, BG, BH, BR, BY, CA, CH, CL, CN, CO, CZ, DE, DK, ES, FI, FR, GB, GR, HK, HU, ID, IE, IL, IN, IS, IT, JP, KR, LU, MX, MY, NL, NO, NZ, PA, PE, PH, PL, PT, RO, RU, SA, SE, SG, TH, TR, TW, UA, US, UY, VN, ZA'
        items:
          type: TollFreeCountries
        type: array
        required: false
  Registrant:
    description: Describes a webinar registrant
    properties:
      email:
        description: The registrant's email address
        type: string
      firstName:
        description: The registrant's first name
        type: string
      joinUrl:
        description: The URL the registrant will use to join the webinar
        type: string
      lastName:
        description: The registrant's last name
        type: string
      registrantKey:
        description: The registrant's key
        format: int64
        type: integer
      registrationDate:
        description: The registration date and time
        format: rfc3339
        type: datetime
      status:
        description: The registration status
        enum:
          - APPROVED
          - DENIED
          - WAITING
        type: string
      timeZone:
        description: The time zone where the webinar will take place
        type: string
  RegistrantCreated:
    description: Describes a newly created webinar registrant.
    properties:
      joinUrl:
        description: The URL the registrant will use to join the webinar.
        type: string
      registrantKey:
        description: The registrant's key
        format: int64
        type: integer
  RegistrantDetailed:
    description: Detailed description of a webinar registrant with all registration fields.
    properties:
      address:
        description: The registrant's address
        type: string
        required: false
      city:
        description: The registrant's city
        type: string
        required: false
      country:
        description: The registrant's country
        type: string
        required: false
      email:
        description: The registrant's email address
        type: string
      employeeCount:
        description: The size in employees of the registrant's organization
        type: string
        required: false
      firstName:
        description: The registrant's first name
        type: string
      implementationTimeFrame:
        description: The time frame within which the product will be purchased
        type: string
        required: false
      industry:
        description: The type of industry the registrant's organization belongs to
        type: string
        required: false
      jobTitle:
        description: The registrant's job title
        type: string
        required: false
      joinUrl:
        description: The URL the registrant will use to join the webinar
        type: string
      lastName:
        description: The registrant's last name
        type: string
      numberOfEmployees:
        description: The size in employees of the registrant's organization
        type: string
        required: false
      organization:
        description: The registrant's organization
        type: string
        required: false
      phone:
        description: The registrant's phone
        type: string
        required: false
      purchasingRole:
        description: The registrant's role in purchasing the product
        type: string
        required: false
      purchasingTimeFrame:
        description: The time frame within which the product will be purchased
        type: string
        required: false
      questionsAndComments:
        description: Any questions or comments the registrant made at the time of registration
        type: string
        required: false
      registrantKey:
        description: The registrant's key
        format: int64
        type: integer
      registrationDate:
        description: The registration date and time
        format: rfc3339
        type: datetime
      responses:
        description: Responses to custom questions
        items:
          type: CustomAnswers
        type: array
        required: false
      source:
        description: The source that led to the registration. This can be any string like 'Newsletter 123' or 'Marketing campaign ABC'
        type: string
        required: false
      state:
        description: The registrant's state (US only)
        type: string
        required: false
      status:
        description: The registration status
        enum:
          - APPROVED
          - DENIED
          - WAITING
        type: string
      timeZone:
        description: The time zone where the webinar will take place
        type: string
      type:
        description: The type is REGULAR for 'One session' and 'Sequence' webinars. For webinar series this parameter is not passed
        enum:
          - REGULAR
        type: string
        required: false
      unsubscribed:
        description: Indicates whether the registrant opted-out from receiving other emails from this webinar's organizer
        type: boolean
        required: false
      zipCode:
        description: The registrant's zip (post) code
        type: string
        required: false
  RegistrantFields:
    description: Detailed description of a all fields to register a registrant for a webinar.
    properties:
      address:
        description: The registrant's address
        type: string
        required: false
      city:
        description: The registrant's city
        type: string
        required: false
      country:
        description: The registrant's country
        type: string
        required: false
      email:
        description: The registrant's email address
        type: string
      firstName:
        description: The registrant's first name
        type: string
      industry:
        description: The type of industry the registrant's organization belongs to
        type: string
        required: false
      jobTitle:
        description: The registrant's job title
        type: string
        required: false
      lastName:
        description: The registrant's last name
        type: string
      numberOfEmployees:
        description: The size in employees of the registrant's organization
        type: string
        required: false
      organization:
        description: The registrant's organization
        type: string
        required: false
      phone:
        description: The registrant's phone
        type: string
        required: false
      purchasingRole:
        description: The registrant's role in purchasing the product
        type: string
        required: false
      purchasingTimeFrame:
        description: The time frame within which the product will be purchased
        type: string
        required: false
      questionsAndComments:
        description: Any questions or comments the registrant made at the time of registration
        type: string
        required: false
      responses:
        description: Set the answers of all questions
        items:
          type: RegistrantQAResponse
        type: array
        required: false
      source:
        description: The source that led to the registration. This can be any string like 'Newsletter 123' or 'Marketing campaign ABC'
        type: string
        required: false
      state:
        description: The registrant's state (US only)
        type: string
        required: false
      zipCode:
        description: The registrant's zip (post) code
        type: string
        required: false
  RegistrantQAResponse:
    description: 'Describes a completed registration question for a webinar registrant. If you use ''Multiple choice'' questions the response contains the numeric answerKey, otherwise the answer text. Example:<br>{<br>  "firstName": "First",<br>  "lastName": "Last",<br>  "email": "First.Last@example.com",<br>  "responses": [{<br>      "questionKey": 17023549,<br>      "responseText": "This is a short answer"},{<br>      "questionKey": 17023550,<br>      "answerKey": 17023553}  ]<br>}'
    properties:
      answerKey:
        description: The numeric key of the answer to a multiple-choice question.
        format: int64
        type: integer
        required: false
      questionKey:
        description: The unique key of the question
        format: int64
        type: integer
      responseText:
        description: Answer of the question.
        type: string
        required: false
  RegistrationAnswer:
    description: Describes an answer to a multiple choice custom registration field.
    properties:
      answer:
        description: The answer value
        type: string
      answerKey:
        description: The answer key
        format: int64
        type: integer
  RegistrationField:
    description: Describes a field for a webinar registration.
    properties:
      answers:
        description: List of choices for a multiple choice registration field
        items:
          type: string
        type: array
        required: false
      field:
        description: The name of the registration field
        type: string
      maxSize:
        description: The character size of the custom registration field (max 128)
        format: int32
        type: integer
      required:
        description: Indicates whether the custom registration field is compulsory
        type: boolean
  RegistrationFields:
    description: The fields to be completed on the webinar registration form.
    properties:
      fields:
        description: The default fields the organizer has selected for the webinar registration form
        items:
          type: RegistrationField
        type: array
      questions:
        description: Custom fields created by the organizer for the webinar registration form
        items:
          type: RegistrationQuestion
        type: array
  RegistrationQuestion:
    description: Describes a custom field for a webinar registration.
    properties:
      answers:
        description: The answers to a multiple choice custom registration field
        items:
          type: RegistrationAnswer
        type: array
        required: false
      maxSize:
        description: The character size of the custom registration field (max 1000)
        format: int32
        type: integer
      question:
        description: The value (text) of the custom registration field
        type: string
      questionKey:
        description: The unique key of the custom registration field
        format: int64
        type: integer
      required:
        description: Indicates whether the custom registration field is compulsory
        type: boolean
      type:
        description: Indicates whether the custom registration field requires a single short answer or whether it is a multiple choice question
        enum:
          - multipleChoice
          - shortAnswer
        type: string
  Session:
    description: Describes a completed webinar session.
    properties:
      endTime:
        description: The ending time of the webinar session
        format: rfc3339
        type: datetime
      registrantsAttended:
        description: The number of registrants who attended the webinar session
        format: int32
        type: integer
      sessionKey:
        description: The unique key of the webinar session
        format: int64
        type: integer
      startTime:
        description: The starting time of the webinar session
        format: rfc3339
        type: datetime
      webinarID:
        description: The 9-digit webinar ID
        type: string
      webinarKey:
        description: The unique key of the webinar
        format: int64
        type: integer
  SessionPerformance:
    description: Describes performance details for webinar sessions
    properties:
      attendance:
        description: Attendance statistics for a webinar session
        type: AttendanceStatistics
      pollsAndSurveys:
        description: Polls and surveys for a webinar session
        type: PollsAndSurveysStatistics
  TollCountries:
    description: Defines in which countries toll PSTN numbers are available.
    enum:
      - AT
      - AU
      - BE
      - CA
      - CH
      - DE
      - DK
      - ES
      - FI
      - FR
      - GB
      - IE
      - IT
      - NL
      - 'NO'
      - NZ
      - SE
      - US
    type: string
  TollFreeCountries:
    description: Countries in which toll free PSTN numbers are available.
    enum:
      - AE
      - AR
      - AT
      - AU
      - BE
      - BG
      - BH
      - BR
      - BY
      - CA
      - CH
      - CL
      - CN
      - CO
      - CZ
      - DE
      - DK
      - ES
      - FI
      - FR
      - GB
      - GR
      - HK
      - HU
      - ID
      - IE
      - IL
      - IN
      - IS
      - IT
      - JP
      - KR
      - LU
      - MX
      - MY
      - NL
      - 'NO'
      - NZ
      - PA
      - PE
      - PH
      - PL
      - PT
      - RO
      - RU
      - SA
      - SE
      - SG
      - TH
      - TR
      - TW
      - UA
      - US
      - UY
      - VN
      - ZA
    type: string
  UpcomingWebinar:
    description: Describes a scheduled webinar
    properties:
      description:
        description: A short description of the webinar
        type: string
      inSession:
        description: Indicates whether there is a webinar session currently in progress
        type: boolean
      organizerKey:
        description: The key of the webinar organizer
        format: int64
        type: integer
      registrationUrl:
        description: The URL the webinar invitees can use to register
        type: string
      subject:
        description: The webinar subject
        type: string
      timeZone:
        description: The timezone where the webinar is taking place
        type: string
      times:
        description: Array with startTime and endTime for the webinar sessions
        items:
          type: DateTimeRange
        type: array
      webinarID:
        description: The 9-digit webinar ID
        type: string
      webinarKey:
        description: The unique key of the webinar
        format: int64
        type: integer
  Webinar:
    description: Describes a scheduled webinar
    properties:
      description:
        description: A short description of the webinar
        type: string
      inSession:
        description: Indicates whether there is a webinar session currently in progress
        type: boolean
      numberOfRegistrants:
        description: The number of registrants at the webinar
        format: int32
        type: integer
      organizerKey:
        description: The key of the webinar organizer
        format: int64
        type: integer
      registrationUrl:
        description: The URL the webinar invitees can use to register
        type: string
      subject:
        description: The webinar subject
        type: string
      timeZone:
        description: The timezone where the webinar is taking place
        type: string
      times:
        description: Array with startTime and endTime for the webinar sessions
        items:
          type: DateTimeRange
        type: array
      webinarID:
        description: The 9-digit webinar ID
        type: string
      webinarKey:
        description: The unique key of the webinar
        format: int64
        type: integer
  WebinarByKey:
    description: Describes a completed webinar
    properties:
      description:
        description: A short description of the webinar
        type: string
      inSession:
        description: Indicates whether there is a webinar session currently in progress
        type: boolean
      numberOfOpenedInvitations:
        description: The number of recipients who opened the invitation email to register for the webinar
        format: int32
        type: integer
      numberOfRegistrants:
        description: The number of registrants at the webinar
        format: int32
        type: integer
      numberOfRegistrationLinkClicks:
        description: The number of recipients who clicked on the link to register for the webinar
        format: int32
        type: integer
      organizerKey:
        description: The key of the webinar organizer
        format: int64
        type: integer
      registrationUrl:
        description: The URL the webinar invitees can use to register
        type: string
      subject:
        description: The webinar subject.
        type: string
      timeZone:
        description: The timezone where the webinar is taking place
        type: string
      times:
        description: Array with startTime and endTime for the webinar sessions
        items:
          type: DateTimeRange
        type: array
      webinarID:
        description: The 9-digit webinar ID
        type: string
      webinarKey:
        description: The unique key of the webinar
        format: int64
        type: integer
  WebinarReqCreate:
    description: Describes the details used to create a new single session webinar.
    properties:
      description:
        description: A short description of the webinar (2048 characters maximum)
        type: string
        required: false
      isPasswordProtected:
        default: false
        description: A boolean flag indicating if the webinar is password protected or not.
        type: boolean
        required: false
      subject:
        description: The name/subject of the webinar (128 characters maximum)
        type: string
      timeZone:
        description: 'The time zone where the webinar is taking place (must be a valid time zone ID, see https://developer.citrixonline.com/citrix-rest-api-date-formats-and-time-zones). If this parameter is not passed, the timezone of the organizer''s profile will be used'
        type: string
        required: false
      times:
        description: 'Array with startTime and endTime for webinar. Since this call creates single session webinars, the array can only contain a single pair of startTime and endTime'
        items:
          type: DateTimeRange
        type: array
      type:
        default: single_session
        description: 'Specifies the webinar type. The default type value is "single_session", which is used to create a single webinar session. The possible values are "single_session", "series", "sequence". If type is set to "single_session", a single webinar session is created. If type is set to "series", a webinar series is created. In this case 2 or severals timeframes must be specified in the body. Example: "times": [{"startTime": "...", "endTime": "..."},{"startTime": "...", "endTime": "..."},{"startTime": "...", "endTime": "..."}. If type is set to "sequence" a sequence of webinars is created. The times object in the body must be replaced by the "recurrenceStart" object. Example: "recurrenceStart": {"startTime":"2012-06-12T16:00:00Z", "endTime": "2012-06-12T17:00:00Z" }.  The "recurrenceEnd" and "recurrencePattern" body parameter must be specified. Example: , "recurrenceEnd": "2012-07-10", "recurrencePattern": "daily".'
        type: string
        required: false
  WebinarReqUpdate:
    description: Describes the details of the webinar
    properties:
      description:
        description: A description of the webinar (2048 characters maximum)
        type: string
        required: false
      locale:
        description: The webinar language
        enum:
          - en_US
          - de_DE
          - es_ES
          - fr_FR
          - it_IT
          - zh_CN
        type: string
        required: false
      subject:
        description: The name/subject of the webinar (128 characters maximum)
        type: string
        required: false
      timeZone:
        description: 'The time zone where the webinar is taking place (must be a valid time zone ID, see https://developer.citrixonline.com/citrix-rest-api-date-formats-and-time-zones). If this parameter is not passed, the timezone of the organizer''s profile will be used'
        type: string
        required: false
      times:
        description: Array with start and end time(s) for webinar
        items:
          type: DateTimeRange
        type: array
        required: false
traits:
  authorization:
    headers:
      Authorization:
        type: string
        description: Access token
        required: true
