#%RAML 1.0
title: GoToAssist Seeit
version: 0.9.0
baseUri: 'https://api.citrixonline.com/seeit/v1'
mediaType: application/json
protocols:
  - HTTPS
description: '<p>Allows you to integrate GoToAssist Seeit into your own solutions.</p><p>General notes:<ul><li>GoToAssist Seeit sessions are identified by their uuid. The more readable 9 digit support key (e.g. 123-456-789) may be reused later for another session and thus cannot be used to unambiguously identify a session.</li><li>If not explicitly stated otherwise all timestamps represent the number of milliseconds since 1970-01-01 in UTC (similar to a Unix Timestamp but with millisecond resolution)</li></ul></p>'
(oas-info):
  (oas-x-logo):
    backgroundColor: '#5F6166'
    url: 'https://api.apis.guru/v2/cache/logo/https_developer.citrixonline.com_sites_all_themes_citrix_responsive_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://developer.citrixonline.com/sites/default/files/citrix/citrix-apis/gotoassistseeit.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): citrixonline.com
  (oas-x-serviceName): gotoassistseeit
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'https://developer.citrixonline.com/'
/sessions:
  displayName: sessions
  '/{uuid}':
    displayName: '{uuid}'
    uriParameters:
      uuid:
        description: the uuid returned when creating the session.
        format: uuid
        required: true
        type: string
        facets:
          format: string
        displayName: the uuid returned when creating the session.
    get:
      displayName: GET_sessions-uuid
      description: <p>This endpoint allows you to get all relevant details for a single GoToAssist Seeit session. Session details are available for 90 days.</p><p>The fields and their values in the response depend on session status and the time elapsed since session end; e.g. session data like snapshots or the session recording are only available for 72 hours.</p>
      (oas-summary): Get details for a single GoToAssist Seeit session
      is:
        - authorization
      responses:
        '200':
          body:
            application/json:
              type: SessionDetails
          description: Returns the information required to start a GoToAssist Seeit session.
        '401': {}
        '403': {}
        '404':
          description: 'There is no data for a session with the given uuid. Either the uuid is invalid, or the session data is no longer available.'
        '409':
          description: Session details are not available yet. You might get this when immediately requesting session details after session creation while data is not consistent yet. Please retry later.
      (oas-tags):
        - Sessions
  post:
    displayName: POST_sessions
    description: This endpoint allows you to create a GoToAssist Seeit session. The session logically exists but is not started until you open the returned startUrl in a suitable browser.
    (oas-summary): Create a GoToAssist Seeit session
    is:
      - authorization
    responses:
      '201':
        body:
          application/json:
            type: Session
        description: The session has been created.
      '401': {}
      '403': {}
    (oas-tags):
      - Sessions
  get:
    displayName: GET_sessions
    description: '<p>This endpoint allows you to get all relevant details for mulitple GoToAssist Seeit sessions. Session details are available for 90 days.</p></p>The fields and their values in the response depend on session status and the time elapsed since session end; e.g. session data like snapshots or the session recording are only available for 72 hours.</p><p>The results will be paged, with paging customizable to match your requirements.</p>'
    (oas-summary): Get details for multiple GoToAssist Seeit sessions
    is:
      - authorization
    responses:
      '200':
        body:
          application/json:
            type: PagedSessionDetails
        description: Returns the requested session details
      '401': {}
      '403': {}
    queryParameters:
      startTime:
        description: Optional start of date range as timestamp (will be compared against session creation time)
        format: int64
        required: false
        type: integer
        displayName: Optional start of date range as timestamp (will be compared against session creation time)
      endTime:
        description: Optional end of date range as timestamp (will be compared against session creation time)
        format: int64
        required: false
        type: integer
        displayName: Optional end of date range as timestamp (will be compared against session creation time)
      page:
        description: 'Optional page number. If not specified, page 0 is delivered'
        format: int32
        required: false
        type: integer
        displayName: 'Optional page number. If not specified, page 0 is delivered'
      size:
        description: 'Optional page size. If not specified, 5 sessions are delivered'
        format: int32
        required: false
        type: integer
        displayName: 'Optional page size. If not specified, 5 sessions are delivered'
      sort:
        description: 'Optional sort criteria, i.e. field name to sort by, optionally followed by a comma and the sort order (asc or desc). Every field available in the session details can be used as sort criteria. If not specified, result is sorted ascending by sessionCreateTime'
        required: false
        type: string
        displayName: 'Optional sort criteria, i.e. field name to sort by, optionally followed by a comma and the sort order (asc or desc). Every field available in the session details can be used as sort criteria. If not specified, result is sorted ascending by sessionCreateTime'
    (oas-tags):
      - Sessions
types:
  Link:
    properties:
      href:
        description: The corresponding link
        format: url
        type: string
        facets:
          format: string
      rel:
        description: The kind of link that is provided
        enum:
          - self
          - next
          - prev
        type: string
  PagedSessionDetails:
    properties:
      content:
        description: Details for the sessions within this result page. May be an empty array if there are no sessions that match the specified query parameters
        items:
          type: SessionDetails
        type: array
      links:
        description: 'Links to the current, next and previous page (if applicable)'
        items:
          type: Link
        type: array
      page:
        description: 'Details related to paging (e.g. page size, number of available pages)'
        type: PagingInfo
  PagingInfo:
    properties:
      number:
        description: Current page number
        format: int32
        type: integer
      size:
        description: Page size (i.e. number of elements within a page)
        format: int32
        type: integer
      totalElements:
        description: Number of total elements available
        format: int32
        type: integer
      totalPages:
        description: Number of total pages available
        format: int32
        type: integer
  Response_401_Unauthorized:
    description: Missing or invalid authorization header
  Response_403_Forbidden:
    description: You do not have the required permissions for this operation
  Session:
    properties:
      startUrl:
        description: The URL that can be used to start the session in a suitable browser. Valid only until the session has been finished
        format: url
        type: string
        facets:
          format: string
      supportKey:
        description: Human readable support key
        type: string
      uuid:
        description: 'Canonical form of the [UUID](http://en.wikipedia.org/wiki/Universally_unique_identifier) uniquely identifying this session'
        format: uuid
        type: string
        facets:
          format: string
  SessionDetails:
    properties:
      sessionCreateTime:
        description: Timestamp of when the session was created via API
        format: int64
        type: integer
      sessionDataDownloadUrl:
        description: 'Url of zip file containing session data like photos, notes or recording (if applicable)'
        format: url
        type: string
        facets:
          format: string
        required: false
      sessionDataDownloadUrlExpiration:
        description: Timestamp of when sessionDataDownloadUrl expires. After the specified expiry date session data cannot be downloaded any longer
        format: int64
        type: integer
        required: false
      sessionDataPhotoCount:
        description: Number of photos stored for this session
        format: int32
        type: integer
        required: false
      sessionDataPhotoNotesCount:
        description: Number of photo notes stored for this session
        format: int32
        type: integer
        required: false
      sessionDataSize:
        description: 'Size of the session data zip file, 0 if not present'
        format: int64
        type: integer
        required: false
      sessionDataStatus:
        description: A string describing the availability of session data
        enum:
          - NO_DATA
          - PROCESSING
          - AVAILABLE
        type: string
        required: false
      sessionEndTime:
        description: Timestamp of when the session was ended (if applicable)
        format: int64
        type: integer
        required: false
      sessionJoinTime:
        description: Timestamp of when the session was joined by the mobile app (if applicable)
        format: int64
        type: integer
        required: false
      sessionNotes:
        description: Session notes stored for this session (cut to 1000 characters)
        type: string
        required: false
      sessionRecorded:
        description: 'true if session is being recorded, otherwise false'
        type: boolean
        required: false
      sessionStartTime:
        description: Timestamp of when the session was started in the browser (if applicable)
        format: int64
        type: integer
        required: false
      sessionStatus:
        description: A string describing the session status
        enum:
          - CREATED
          - STARTED
          - JOINED
          - FINISHED
        type: string
      startUrl:
        description: The URL that can be used to start the session in a suitable browser. Valid only until the session has been finished
        format: url
        type: string
        facets:
          format: string
        required: false
      supportKey:
        description: Human readable support key
        type: string
      technicianEmail:
        description: Email address of technician
        format: email
        type: string
        facets:
          format: string
        required: false
      uuid:
        description: 'Canonical form of the [UUID](http://en.wikipedia.org/wiki/Universally_unique_identifier) uniquely identifying this session'
        format: uuid
        type: string
        facets:
          format: string
traits:
  authorization:
    headers:
      Authorization:
        type: string
        description: Access Token
        required: true
