#%RAML 1.0
title: City Context
version: 1.0.0
baseUri: 'http://api.citycontext.com/v1'
mediaType: application/json
protocols:
  - HTTP
description: 'City Context provides a straightforward API to access UK Open Data: crime statistics, schools, demographics and more.'
(oas-tags-definition):
  - description: Core City Context API
    name: citycontext
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-origin):
    format: swagger
    url: 'https://www.citycontext.com/swagger/spec.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): citycontext.com
securitySchemes:
  user_key:
    type: Pass Through
    describedBy:
      queryParameters:
        user_key:
          type: string
    description: City context user key
/usage:
  displayName: usage
  get:
    displayName: usage
    (oas-summary): Get usage in current month
    responses:
      '200':
        body:
          application/json:
            type: Usage
        description: No response was specified
    (oas-tags):
      - citycontext
/postcodes:
  displayName: postcodes
  '/{postcode}':
    displayName: '{postcode}'
    uriParameters:
      postcode:
        description: Postcode
        required: true
        type: string
    get:
      displayName: byPostcode
      (oas-summary): Query by postcode
      responses:
        '200':
          body:
            application/json:
              type: PointInfo
          description: No response was specified
      queryParameters:
        school_search_radius:
          description: 'Search radius for schools, in metres, between 100 and 4000'
          required: false
          type: integer
        park_search_radius:
          description: 'Search radius for parks, in metres, between 100 and 2000'
          required: false
          type: integer
      (oas-tags):
        - citycontext
'/@{lat},{lon}':
  displayName: '@{lat},{lon}'
  uriParameters:
    lat:
      description: Latitude
      format: float
      required: true
      type: number
    lon:
      description: Longitude
      format: float
      required: true
      type: number
  get:
    displayName: byPoint
    (oas-summary): Query by coordinates (SRID 4326 - decimal degrees)
    responses:
      '200':
        body:
          application/json:
            type: PointInfo
        description: No response was specified
    queryParameters:
      school_search_radius:
        description: 'Search radius for schools, in metres, between 100 and 4000'
        required: false
        type: integer
      park_search_radius:
        description: 'Search radius for parks, in metres, between 100 and 2000'
        required: false
        type: integer
    (oas-tags):
      - citycontext
types:
  Latlon: {}
  Location:
    description: 'Latitude, Longitude and other info related to the given point'
    properties:
      lat:
        format: float
        maximum: 85
        minimum: -85
        type: number
      lon:
        format: float
        maximum: 180
        minimum: -180
        type: number
      withinLondonCCZ:
        description: Boolean flag indicating whether this point is located within London's Congestion Charge zone
        type: boolean
        required: false
  PointInfo:
    description: Contextual information around a given point
    properties:
      location:
        type: Location
      lsoa:
        description: Statistics for lower layer super output areas (LSOA)
        properties:
          crimes:
            type: object
            required: false
          name:
            type: string
          population:
            properties:
              allUsualResidents:
                type: integer
              communalEstablishmentResidents:
                type: integer
              householdResidents:
                type: integer
              households:
                type: integer
              personsPerHectare:
                type: integer
              personsPerHousehold:
                type: integer
            type: object
            required: false
        type: object
        required: false
      parks:
        description: 'Parks within 1km of the point of interest, sorted by descending area'
        items:
          properties:
            areaSqm:
              type: integer
            centroid:
              type: Latlon
            distanceMeters:
              type: integer
            name:
              type: string
              required: false
          type: object
        type: array
      schools:
        description: 'Schools within 1km of the point of interest, sorted by ascending distance from the POI'
        items:
          properties:
            distanceMeters:
              type: integer
            lastInpectionUrl:
              description: URL to the last inspection report
              type: string
            lastInspectionDate:
              description: Date of the last Ofsted inspection
              format: rfc3339
              type: datetime
            leadershipAndManagement:
              description: 'Leadership and management grade in the last Ofsted report, from 1 (outstanding) to 4 (inadequate)'
              maximum: 4
              minimum: 1
              type: integer
            location:
              type: Latlon
            overallEffectiveness:
              description: 'Overall effectiveness grade in the last Ofsted report, from 1 (outstanding) to 4 (inadequate)'
              maximum: 4
              minimum: 1
              type: integer
            phase:
              type: string
            qualityOfTeaching:
              description: 'Quality of teaching grade in the last Ofsted report, from 1 (outstanding) to 4 (inadequate)'
              maximum: 4
              minimum: 1
              type: integer
            schoolName:
              type: string
            typeOfEstablishment:
              type: string
            urn:
              description: Unique school identifier
              type: integer
          type: object
        type: array
  Usage:
    description: User plan monthly API quota and usage
    properties:
      allowance:
        type: integer
        required: false
      period:
        type: string
      periodEnd:
        format: rfc3339
        type: datetime
      periodStart:
        format: rfc3339
        type: datetime
      plan:
        type: string
      usage:
        type: integer
