#%RAML 1.0
title: ClickMeter
version: v2
baseUri: 'http://apiv2.clickmeter.com:80'
protocols:
  - HTTP
  - HTTPS
description: Api dashboard for ClickMeter API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_s3.amazonaws.com_clickmeter.com_Web_static_cmlogo.svg'
  (oas-x-origin):
    format: swagger
    url: 'http://api.v2.clickmeter.com.s3.amazonaws.com/docs/api-docs-v2.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): clickmeter.com
  contact:
    name: Api Support
    url: 'http://www.clickmeter.com/api'
    email: api@clickmeter.com
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-definition-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      headers:
        X-Clickmeter-AuthKey:
          type: string
    description: API Key Authentication
/datapoints:
  displayName: datapoints
  '/{id}':
    displayName: '{id}'
    /favourite:
      displayName: favourite
      put:
        displayName: PUT_datapoints-id-favourite
        (oas-summary): Fast switch the "favourite" field of a datapoint
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        (oas-tags):
          - DataPoints
    /hits:
      displayName: hits
      get:
        displayName: GET_datapoints-id-hits
        (oas-summary): Retrieve the list of events related to this datapoint.
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.ClickStream.HitListPage
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          timeframe:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          limit:
            description: Limit results to this number
            format: int32
            required: false
            type: integer
            displayName: Limit results to this number
          offset:
            description: Offset where to start from (it's the lastKey field in the response object)
            required: false
            type: string
            displayName: Offset where to start from (it's the lastKey field in the response object)
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          filter:
            description: Filter event type ("spiders"/"uniques"/"nonuniques"/"conversions")
            enum:
              - spiders
              - uniques
              - nonuniques
              - conversions
            required: false
            type: string
            displayName: Filter event type ("spiders"/"uniques"/"nonuniques"/"conversions")
        (oas-tags):
          - DataPoints
    /notes:
      displayName: notes
      put:
        displayName: PUT_datapoints-id-notes
        (oas-summary): Fast patch the "notes" field of a datapoint
        body:
          application/json:
            type: Api.Core.Requests.GenericTextPatch
            (oas-body-name): note
            description: Patch requests
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        (oas-tags):
          - DataPoints
    /reports:
      displayName: reports
      get:
        displayName: GET_datapoints-id-reports
        (oas-summary): Retrieve a top report connected to this datapoint
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Tops.Top
          '401':
            description: Forbidden
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        queryParameters:
          type:
            description: Type of the report.
            enum:
              - browsers
              - browsersfamilies
              - platforms
              - cities
              - countries
              - isps
              - ips
              - oss
              - ossfamilies
              - keywords
              - referrers
              - destinations
              - languages
              - params
            required: true
            type: string
            displayName: Type of the report.
          timeframe:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
        (oas-tags):
          - DataPoints
    uriParameters:
      id:
        description: The id of the datapoint
        format: int64
        required: true
        type: integer
        displayName: The id of the datapoint
    get:
      displayName: GET_datapoints-id
      (oas-summary): Get a datapoint
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Datapoints.Datapoint
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - DataPoints
    /aggregated:
      displayName: aggregated
      get:
        displayName: GET_datapoints-id-aggregated
        (oas-summary): Retrieve statistics about this datapoint for a timeframe
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Aggregated.AggregatedResult
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          timeFrame:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - today
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - last12months
              - lastyear
              - currentyear
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          hourly:
            description: If using "yesterday" or "today" timeframe you can ask for the hourly detail
            required: false
            type: boolean
            displayName: If using "yesterday" or "today" timeframe you can ask for the hourly detail
        (oas-tags):
          - DataPoints
      /list:
        displayName: list
        get:
          displayName: GET_datapoints-id-aggregated-list
          (oas-summary): Retrieve statistics about this datapoint for a timeframe grouped by some temporal entity (day/week/month)
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_
            '401':
              description: Unauthorized
            '500':
              description: Internal Server Error
          queryParameters:
            timeFrame:
              description: Timeframe of the request. See list at $timeframeList
              enum:
                - today
                - yesterday
                - last7
                - last30
                - lastmonth
                - currentmonth
                - previousmonth
                - last90
                - last120
                - last180
                - last12months
                - lastyear
                - currentyear
                - beginning
                - custom
              required: true
              type: string
              displayName: Timeframe of the request. See list at $timeframeList
            fromDay:
              description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
              required: false
              type: string
              displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            toDay:
              description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
              required: false
              type: string
              displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            groupBy:
              description: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
              enum:
                - week
                - month
              required: false
              type: string
              displayName: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
          (oas-tags):
            - DataPoints
    delete:
      displayName: DELETE_datapoints-id
      (oas-summary): Delete a datapoint
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntityUri_System.Int64_
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - DataPoints
    post:
      displayName: POST_datapoints-id
      (oas-summary): Update a datapoint
      body:
        application/json:
          type: Api.Core.Dto.Datapoints.Datapoint
          (oas-body-name): value
          description: The body of the datapoint
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntityUri_System.Int64_
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - DataPoints
  post:
    displayName: POST_datapoints
    (oas-summary): Create a datapoint
    body:
      application/json:
        type: Api.Core.Dto.Datapoints.Datapoint
        (oas-body-name): value
        description: The body of the datapoint
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntityUri_System.Int64_
      '401':
        description: Unauthorized
      '404':
        description: Not found
      '500':
        description: Internal Server Error
    (oas-tags):
      - DataPoints
  /aggregated:
    displayName: aggregated
    /list:
      displayName: list
      get:
        displayName: GET_datapoints-aggregated-list
        (oas-summary): Retrieve statistics about all datapoints of this customer for a timeframe grouped by some temporal entity (day/week/month)
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          type:
            description: Type of datapoint ("tl"/"tp")
            enum:
              - tp
              - tl
            required: true
            type: string
            displayName: Type of datapoint ("tl"/"tp")
          timeFrame:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - today
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - last12months
              - lastyear
              - currentyear
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          status:
            description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
            enum:
              - deleted
              - active
              - paused
              - spam
            required: false
            type: string
            displayName: Status of datapoint ("deleted"/"active"/"paused"/"spam")
          tag:
            description: A comma separated list of tags you want to filter with.
            required: false
            type: string
            displayName: A comma separated list of tags you want to filter with.
          favourite:
            description: Is the datapoint is marked as favourite
            required: false
            type: boolean
            displayName: Is the datapoint is marked as favourite
          groupBy:
            description: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
            enum:
              - week
              - month
            required: false
            type: string
            displayName: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
        (oas-tags):
          - DataPoints
    get:
      displayName: GET_datapoints-aggregated
      (oas-summary): Retrieve statistics about this customer for a timeframe by groups
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Aggregated.AggregatedResult
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      queryParameters:
        timeFrame:
          description: Timeframe of the request. See list at $timeframeList
          enum:
            - today
            - yesterday
            - last7
            - last30
            - lastmonth
            - currentmonth
            - previousmonth
            - last90
            - last120
            - last180
            - last12months
            - lastyear
            - currentyear
            - beginning
            - custom
          required: true
          type: string
          displayName: Timeframe of the request. See list at $timeframeList
        type:
          description: Type of datapoint ("tl"/"tp")
          enum:
            - tp
            - tl
          required: false
          type: string
          displayName: Type of datapoint ("tl"/"tp")
        fromDay:
          description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          required: false
          type: string
          displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
        toDay:
          description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          required: false
          type: string
          displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
        hourly:
          description: If using "yesterday" or "today" timeframe you can ask for the hourly detail
          required: false
          type: boolean
          displayName: If using "yesterday" or "today" timeframe you can ask for the hourly detail
        status:
          description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
          enum:
            - deleted
            - active
            - paused
            - spam
          required: false
          type: string
          displayName: Status of datapoint ("deleted"/"active"/"paused"/"spam")
        tag:
          description: A comma separated list of tags you want to filter with.
          required: false
          type: string
          displayName: A comma separated list of tags you want to filter with.
        favourite:
          description: Is the datapoint is marked as favourite
          required: false
          type: boolean
          displayName: Is the datapoint is marked as favourite
      (oas-tags):
        - DataPoints
  /batch:
    displayName: batch
    post:
      displayName: POST_datapoints-batch
      (oas-summary): Update multiple datapoints
      body:
        application/json:
          type: Api.Core.Requests.DatapointsBatch
          (oas-body-name): batch
          description: A json containing the datapoints to update.
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - DataPoints
    delete:
      displayName: DELETE_datapoints-batch
      (oas-summary): Delete multiple datapoints
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - DataPoints
    put:
      displayName: PUT_datapoints-batch
      (oas-summary): Create multiple datapoints
      body:
        application/json:
          type: Api.Core.Requests.DatapointsBatch
          (oas-body-name): batch
          description: A json containing the datapoints to create.
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - DataPoints
  /count:
    displayName: count
    get:
      displayName: GET_datapoints-count
      (oas-summary): Count the datapoints associated to the user
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.CountResponce
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      queryParameters:
        type:
          description: Type of the datapoint ("tp"/"tl")
          enum:
            - tp
            - tl
          required: false
          type: string
          displayName: Type of the datapoint ("tp"/"tl")
        status:
          description: Status of the datapoint
          enum:
            - deleted
            - active
            - paused
            - spam
          required: false
          type: string
          displayName: Status of the datapoint
        tags:
          description: A comma separated list of tags you want to filter with.
          required: false
          type: string
          displayName: A comma separated list of tags you want to filter with.
        textSearch:
          description: Filter fields by this pattern
          required: false
          type: string
          displayName: Filter fields by this pattern
        onlyFavorites:
          description: Filter fields by favourite status
          required: false
          type: boolean
          displayName: Filter fields by favourite status
        createdAfter:
          description: Exclude datapoints created before this date (YYYYMMDD)
          required: false
          type: string
          displayName: Exclude datapoints created before this date (YYYYMMDD)
        createdBefore:
          description: Exclude datapoints created after this date (YYYYMMDD)
          required: false
          type: string
          displayName: Exclude datapoints created after this date (YYYYMMDD)
      (oas-tags):
        - DataPoints
  get:
    displayName: GET_datapoints
    (oas-summary): List of all the datapoints associated to the user
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
      '401':
        description: Unauthorized
      '404':
        description: Not found
      '500':
        description: Internal Server Error
    queryParameters:
      offset:
        default: 0
        description: Where to start when retrieving elements. Default is 0 if not specified.
        format: int32
        required: false
        type: integer
        displayName: Where to start when retrieving elements. Default is 0 if not specified.
      limit:
        default: 20
        description: Maximum elements to retrieve. Default to 20 if not specified.
        format: int32
        required: false
        type: integer
        displayName: Maximum elements to retrieve. Default to 20 if not specified.
      type:
        description: Type of the datapoint ("tp"/"tl")
        enum:
          - tp
          - tl
        required: false
        type: string
        displayName: Type of the datapoint ("tp"/"tl")
      status:
        description: Status of the datapoint
        enum:
          - deleted
          - active
          - paused
          - spam
        required: false
        type: string
        displayName: Status of the datapoint
      tags:
        description: A comma separated list of tags you want to filter with.
        required: false
        type: string
        displayName: A comma separated list of tags you want to filter with.
      textSearch:
        description: Filter fields by this pattern
        required: false
        type: string
        displayName: Filter fields by this pattern
      onlyFavorites:
        description: Filter fields by favourite status
        required: false
        type: boolean
        displayName: Filter fields by favourite status
      sortBy:
        description: Field to sort by
        required: false
        type: string
        displayName: Field to sort by
      sortDirection:
        description: Direction of sort "asc" or "desc"
        enum:
          - asc
          - desc
        required: false
        type: string
        displayName: Direction of sort "asc" or "desc"
      createdAfter:
        description: Exclude datapoints created before this date (YYYYMMDD)
        required: false
        type: string
        displayName: Exclude datapoints created before this date (YYYYMMDD)
      createdBefore:
        description: Exclude datapoints created after this date (YYYYMMDD)
        required: false
        type: string
        displayName: Exclude datapoints created after this date (YYYYMMDD)
    (oas-tags):
      - DataPoints
/tags:
  displayName: tags
  '/{tagId}':
    displayName: '{tagId}'
    /name:
      displayName: name
      put:
        displayName: PUT_tags-tagId-name
        (oas-summary): Fast patch a tag name
        body:
          application/json:
            type: Api.Core.Requests.GenericTextPatch
            (oas-body-name): data
            description: The body patch
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Tags
    uriParameters:
      tagId:
        description: Id of the tag
        format: int64
        required: true
        type: integer
        displayName: Id of the tag
    delete:
      displayName: DELETE_tags-tagId
      (oas-summary): Delete a tag
      responses:
        '200':
          body:
            application/json:
              type: System.Object
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Tags
    get:
      displayName: GET_tags-tagId
      (oas-summary): Retrieve a tag
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Tags.Tag
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Tags
    /datapoints:
      displayName: datapoints
      delete:
        displayName: DELETE_tags-tagId-datapoints
        (oas-summary): Delete the association of this tag with all datapoints
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Tags
      get:
        displayName: GET_tags-tagId-datapoints
        (oas-summary): List of all the datapoints associated to the user filtered by this tag
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
          '401':
            description: Unauthorized
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        queryParameters:
          offset:
            default: 0
            description: Where to start when retrieving elements. Default is 0 if not specified.
            format: int32
            required: false
            type: integer
            displayName: Where to start when retrieving elements. Default is 0 if not specified.
          limit:
            default: 20
            description: Maximum elements to retrieve. Default to 20 if not specified.
            format: int32
            required: false
            type: integer
            displayName: Maximum elements to retrieve. Default to 20 if not specified.
          type:
            description: Type of the datapoint ("tp"/"tl")
            enum:
              - tp
              - tl
            required: false
            type: string
            displayName: Type of the datapoint ("tp"/"tl")
          status:
            description: Status of the datapoint
            enum:
              - deleted
              - active
              - paused
              - spam
            required: false
            type: string
            displayName: Status of the datapoint
          textSearch:
            description: Filter fields by this pattern
            required: false
            type: string
            displayName: Filter fields by this pattern
          createdAfter:
            description: Exclude datapoints created before this date (YYYYMMDD)
            required: false
            type: string
            displayName: Exclude datapoints created before this date (YYYYMMDD)
          createdBefore:
            description: Exclude datapoints created after this date (YYYYMMDD)
            required: false
            type: string
            displayName: Exclude datapoints created after this date (YYYYMMDD)
        (oas-tags):
          - Tags
      /count:
        displayName: count
        get:
          displayName: GET_tags-tagId-datapoints-count
          (oas-summary): Count the datapoints associated to the user filtered by this tag
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.CountResponce
            '401':
              description: Unauthorized
            '404':
              description: Not found
            '500':
              description: Internal Server Error
          queryParameters:
            type:
              description: Type of the datapoint ("tp"/"tl")
              enum:
                - tp
                - tl
              required: false
              type: string
              displayName: Type of the datapoint ("tp"/"tl")
            status:
              description: Status of the datapoint
              enum:
                - deleted
                - active
                - paused
                - spam
              required: false
              type: string
              displayName: Status of the datapoint
            textSearch:
              description: Filter fields by this pattern
              required: false
              type: string
              displayName: Filter fields by this pattern
            createdAfter:
              description: Exclude datapoints created before this date (YYYYMMDD)
              required: false
              type: string
              displayName: Exclude datapoints created before this date (YYYYMMDD)
            createdBefore:
              description: Exclude datapoints created after this date (YYYYMMDD)
              required: false
              type: string
              displayName: Exclude datapoints created after this date (YYYYMMDD)
          (oas-tags):
            - Tags
      /patch:
        displayName: patch
        put:
          displayName: PUT_tags-tagId-datapoints-patch
          (oas-summary): Associate/Deassociate a tag with a datapoint
          body:
            application/json:
              type: Api.Core.Requests.PatchBody
              (oas-body-name): data
              description: The body patch
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.EntityUri_System.Int64_
            '401':
              description: Unauthorized
            '404':
              description: Not found
            '500':
              description: Internal Server Error
          (oas-tags):
            - Tags
    /groups:
      displayName: groups
      /patch:
        displayName: patch
        put:
          displayName: PUT_tags-tagId-groups-patch
          (oas-summary): Associate/Deassociate a tag with a group
          body:
            application/json:
              type: Api.Core.Requests.PatchBody
              (oas-body-name): data
              description: The body patch
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.EntityUri_System.Int64_
            '401':
              description: Unauthorized
            '404':
              description: Not found
            '500':
              description: Internal Server Error
          (oas-tags):
            - Tags
      /count:
        displayName: count
        get:
          displayName: GET_tags-tagId-groups-count
          (oas-summary): Count the groups associated to the user filtered by this tag
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.CountResponce
            '401':
              description: Unauthorized
            '404':
              description: Not found
            '500':
              description: Internal Server Error
          queryParameters:
            status:
              description: Status of the datapoint
              enum:
                - deleted
                - active
              required: false
              type: string
              displayName: Status of the datapoint
            textSearch:
              description: Filter fields by this pattern
              required: false
              type: string
              displayName: Filter fields by this pattern
            createdAfter:
              description: Exclude groups created before this date (YYYYMMDD)
              required: false
              type: string
              displayName: Exclude groups created before this date (YYYYMMDD)
            createdBefore:
              description: Exclude groups created after this date (YYYYMMDD)
              required: false
              type: string
              displayName: Exclude groups created after this date (YYYYMMDD)
          (oas-tags):
            - Tags
      get:
        displayName: GET_tags-tagId-groups
        (oas-summary): List of all the groups associated to the user filtered by this tag.
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
          '401':
            description: Unauthorized
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        queryParameters:
          offset:
            default: 0
            description: Where to start when retrieving elements. Default is 0 if not specified.
            format: int32
            required: false
            type: integer
            displayName: Where to start when retrieving elements. Default is 0 if not specified.
          limit:
            default: 20
            description: Maximum elements to retrieve. Default to 20 if not specified.
            format: int32
            required: false
            type: integer
            displayName: Maximum elements to retrieve. Default to 20 if not specified.
          status:
            description: Status of the datapoint
            enum:
              - deleted
              - active
            required: false
            type: string
            displayName: Status of the datapoint
          textSearch:
            description: Filter fields by this pattern
            required: false
            type: string
            displayName: Filter fields by this pattern
          createdAfter:
            description: Exclude groups created before this date (YYYYMMDD)
            required: false
            type: string
            displayName: Exclude groups created before this date (YYYYMMDD)
          createdBefore:
            description: Exclude groups created after this date (YYYYMMDD)
            required: false
            type: string
            displayName: Exclude groups created after this date (YYYYMMDD)
        (oas-tags):
          - Tags
      delete:
        displayName: DELETE_tags-tagId-groups
        (oas-summary): Delete the association of this tag with all groups
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Tags
  get:
    displayName: GET_tags
    (oas-summary): List of all the groups associated to the user filtered by this tag.
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
      '401':
        description: Unauthorized
      '404':
        description: Not found
      '500':
        description: Internal Server Error
    queryParameters:
      offset:
        default: 0
        description: Where to start when retrieving elements. Default is 0 if not specified.
        format: int32
        required: false
        type: integer
        displayName: Where to start when retrieving elements. Default is 0 if not specified.
      limit:
        default: 20
        description: Maximum elements to retrieve. Default to 20 if not specified.
        format: int32
        required: false
        type: integer
        displayName: Maximum elements to retrieve. Default to 20 if not specified.
      name:
        description: Name of the tag
        required: false
        type: string
        displayName: Name of the tag
      datapoints:
        description: Comma separated list of datapoints id to filter by
        required: false
        type: string
        displayName: Comma separated list of datapoints id to filter by
      groups:
        description: Comma separated list of groups id to filter by
        required: false
        type: string
        displayName: Comma separated list of groups id to filter by
      type:
        description: Type of entity related to the tag
        enum:
          - tp
          - tl
          - dp
          - gr
        required: false
        type: string
        displayName: Type of entity related to the tag
    (oas-tags):
      - Tags
  post:
    displayName: POST_tags
    (oas-summary): Create a tag
    body:
      application/json:
        type: Api.Core.Dto.Tags.Tag
        (oas-body-name): value
        description: The body of the tag
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntityUri_System.Int64_
      '401':
        description: Unauthorized
      '404':
        description: Not found
      '500':
        description: Internal Server Error
    (oas-tags):
      - Tags
  /count:
    displayName: count
    get:
      displayName: GET_tags-count
      (oas-summary): List of all the groups associated to the user filtered by this tag.
      responses:
        '200':
          body:
            application/json:
              type: System.Object
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      queryParameters:
        name:
          description: Name of the tag
          required: false
          type: string
          displayName: Name of the tag
        datapoints:
          description: Comma separated list of datapoints id to filter by
          required: false
          type: string
          displayName: Comma separated list of datapoints id to filter by
        groups:
          description: Comma separated list of groups id to filter by
          required: false
          type: string
          displayName: Comma separated list of groups id to filter by
        type:
          description: Type of entity related to the tag
          enum:
            - tp
            - tl
            - dp
            - gr
          required: false
          type: string
          displayName: Type of entity related to the tag
      (oas-tags):
        - Tags
/account:
  displayName: account
  get:
    displayName: GET_account
    (oas-summary): Retrieve current account data
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Dto.Accounting.User
      '401':
        description: Unauthorized
      '500':
        description: Internal Server Error
    (oas-tags):
      - Account
  /domainwhitelist:
    displayName: domainwhitelist
    get:
      displayName: GET_account-domainwhitelist
      (oas-summary): Retrieve list of a domains allowed to redirect in DDU mode
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Accounting.DomainWhitelistEntry_
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      queryParameters:
        offset:
          description: Offset where to start from
          format: int32
          required: false
          type: integer
          displayName: Offset where to start from
        limit:
          description: Limit results to this number
          format: int32
          required: false
          type: integer
          displayName: Limit results to this number
      (oas-tags):
        - Account
    '/{whitelistId}':
      displayName: '{whitelistId}'
      uriParameters:
        whitelistId:
          description: The id of the domain to delete
          required: true
          type: string
          displayName: The id of the domain to delete
      delete:
        displayName: DELETE_account-domainwhitelist-whitelistId
        (oas-summary): Delete an domain entry
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Accounting.DomainWhitelistEntry
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Account
    post:
      displayName: POST_account-domainwhitelist
      (oas-summary): Create an domain entry
      body:
        application/json:
          type: Api.Core.Dto.Accounting.DomainWhitelistEntry
          (oas-body-name): value
          description: The entry to add
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Accounting.DomainWhitelistEntry
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Account
  /guests:
    displayName: guests
    post:
      displayName: POST_account-guests
      (oas-summary): Create a guest
      body:
        application/json:
          type: Api.Core.Dto.Accounting.Guest
          (oas-body-name): value
          description: Guest object to create
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Accounting.Guest
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Account
    '/{guestId}':
      displayName: '{guestId}'
      uriParameters:
        guestId:
          description: Id of the guest
          format: int64
          required: true
          type: integer
          displayName: Id of the guest
      delete:
        displayName: DELETE_account-guests-guestId
        (oas-summary): Delete a guest
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Account
      post:
        displayName: POST_account-guests-guestId
        (oas-summary): Update a guest
        body:
          application/json:
            type: Api.Core.Dto.Accounting.Guest
            (oas-body-name): value
            description: Guest object with field updated
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Accounting.Guest
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Account
      /permissions:
        displayName: permissions
        /count:
          displayName: count
          get:
            displayName: GET_account-guests-guestId-permissions-count
            (oas-summary): Retrieve count of the permissions for a guest
            responses:
              '200':
                body:
                  application/json:
                    type: Api.Core.Responses.CountResponce
              '401':
                description: Unauthorized
              '500':
                description: Internal Server Error
            queryParameters:
              entityType:
                description: Can be "datapoint" or "group"
                enum:
                  - datapoint
                  - group
                required: false
                type: string
                displayName: Can be "datapoint" or "group"
              type:
                description: Can be "w" or "r"
                enum:
                  - r
                  - w
                required: false
                type: string
                displayName: Can be "w" or "r"
              entityId:
                description: Optional id of the datapoint/group entity to filter by
                format: int64
                required: false
                type: integer
                displayName: Optional id of the datapoint/group entity to filter by
            (oas-tags):
              - Account
        get:
          displayName: GET_account-guests-guestId-permissions
          (oas-summary): Retrieve permissions for a guest
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Grants.Grant_
            '401':
              description: Unauthorized
            '500':
              description: Internal Server Error
          queryParameters:
            entityType:
              description: Can be "datapoint" or "group"
              enum:
                - datapoint
                - group
              required: false
              type: string
              displayName: Can be "datapoint" or "group"
            offset:
              description: Offset where to start from
              format: int32
              required: false
              type: integer
              displayName: Offset where to start from
            limit:
              description: Limit results to this number
              format: int32
              required: false
              type: integer
              displayName: Limit results to this number
            type:
              description: Can be "w" or "r"
              enum:
                - r
                - w
              required: false
              type: string
              displayName: Can be "w" or "r"
            entityId:
              description: Optional id of the datapoint/group entity to filter by
              format: int64
              required: false
              type: integer
              displayName: Optional id of the datapoint/group entity to filter by
          (oas-tags):
            - Account
      '/{type}':
        displayName: '{type}'
        /permissions:
          displayName: permissions
          /patch:
            displayName: patch
            put:
              displayName: PUT_account-guests-guestId-type-permissions-patch
              (oas-summary): Change the permission on a shared object
              body:
                application/json:
                  type: Api.Core.Requests.PermissionPatchRequest
                  (oas-body-name): body
                  description: The patch permission request
              responses:
                '200':
                  body:
                    application/json:
                      type: Api.Core.Responses.EntityUri_System.Int64_
                '401':
                  description: Unauthorized
                '500':
                  description: Internal Server Error
              (oas-tags):
                - Account
            post:
              displayName: POST_account-guests-guestId-type-permissions-patch
              (oas-summary): Change the permission on a shared object
              body:
                application/json:
                  type: Api.Core.Requests.PermissionPatchRequest
                  (oas-body-name): body
                  description: The patch permission request
              responses:
                '200':
                  body:
                    application/json:
                      type: Api.Core.Responses.EntityUri_System.Int64_
                '401':
                  description: Unauthorized
                '500':
                  description: Internal Server Error
              (oas-tags):
                - Account
      get:
        displayName: GET_account-guests-guestId
        (oas-summary): Retrieve a guest
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Accounting.Guest
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Account
    get:
      displayName: GET_account-guests
      (oas-summary): Retrieve list of a guest
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      queryParameters:
        offset:
          description: Offset where to start from
          format: int32
          required: false
          type: integer
          displayName: Offset where to start from
        limit:
          description: Limit results to this number
          format: int32
          required: false
          type: integer
          displayName: Limit results to this number
        sortBy:
          description: Field to sort by
          required: false
          type: string
          displayName: Field to sort by
        sortDirection:
          description: Direction of sort "asc" or "desc"
          enum:
            - asc
            - desc
          required: false
          type: string
          displayName: Direction of sort "asc" or "desc"
        textSearch:
          description: Filter fields by this pattern
          required: false
          type: string
          displayName: Filter fields by this pattern
      (oas-tags):
        - Account
    /count:
      displayName: count
      get:
        displayName: GET_account-guests-count
        (oas-summary): Retrieve count of guests
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.CountResponce
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          textSearch:
            description: Filter fields by this pattern
            required: false
            type: string
            displayName: Filter fields by this pattern
        (oas-tags):
          - Account
  /ipblacklist:
    displayName: ipblacklist
    post:
      displayName: POST_account-ipblacklist
      (oas-summary): Create an ip blacklist entry
      body:
        application/json:
          type: Api.Core.Dto.Accounting.IpBlacklistEntry
          (oas-body-name): value
          description: The entry to add
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Accounting.IpBlacklistEntry
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Account
    '/{blacklistId}':
      displayName: '{blacklistId}'
      uriParameters:
        blacklistId:
          description: The id of the ip to delete
          required: true
          type: string
          displayName: The id of the ip to delete
      delete:
        displayName: DELETE_account-ipblacklist-blacklistId
        (oas-summary): Delete an ip blacklist entry
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Accounting.IpBlacklistEntry
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        (oas-tags):
          - Account
    get:
      displayName: GET_account-ipblacklist
      (oas-summary): Retrieve list of a ip to exclude from event tracking
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Accounting.IpBlacklistEntry_
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      queryParameters:
        offset:
          description: Offset where to start from
          format: int32
          required: false
          type: integer
          displayName: Offset where to start from
        limit:
          description: Limit results to this number
          format: int32
          required: false
          type: integer
          displayName: Limit results to this number
      (oas-tags):
        - Account
  /plan:
    displayName: plan
    get:
      displayName: GET_account-plan
      (oas-summary): Retrieve current account plan
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Accounting.Plan
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Account
  post:
    displayName: POST_account
    (oas-summary): Update current account data
    body:
      application/json:
        type: Api.Core.Dto.Accounting.User
        (oas-body-name): value
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Dto.Accounting.User
      '401':
        description: Unauthorized
      '500':
        description: Internal Server Error
    (oas-tags):
      - Account
/domains:
  displayName: domains
  get:
    displayName: GET_domains
    (oas-summary): Retrieve a list of domains
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
      '401':
        description: Unauthorized
      '500':
        description: Internal Server Error
    queryParameters:
      offset:
        description: Offset where to start from
        format: int32
        required: false
        type: integer
        displayName: Offset where to start from
      limit:
        description: Limit results to this number
        format: int32
        required: false
        type: integer
        displayName: Limit results to this number
      type:
        default: system
        description: Type of domain ("system"/"go"/"personal"/"dedicated"). If not specified default is "system"
        enum:
          - system
          - go
          - personal
          - dedicated
        required: false
        type: string
        displayName: Type of domain ("system"/"go"/"personal"/"dedicated"). If not specified default is "system"
      name:
        description: Filter domains with this anmen
        required: false
        type: string
        displayName: Filter domains with this anmen
    (oas-tags):
      - Domains
  post:
    displayName: POST_domains
    (oas-summary): Create a domain
    body:
      application/json:
        type: Api.Core.Dto.Domains.Domain
        (oas-body-name): value
        description: The domain to create
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntityUri_System.Int64_
      '401':
        description: Unauthorized
      '500':
        description: Internal Server Error
    (oas-tags):
      - Domains
  /count:
    displayName: count
    get:
      displayName: GET_domains-count
      (oas-summary): Retrieve count of domains
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.CountResponce
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      queryParameters:
        type:
          default: system
          description: Type of domain ("system"/"go"/"personal"/"dedicated"). If not specified default is "system"
          enum:
            - system
            - go
            - personal
            - dedicated
          required: false
          type: string
          displayName: Type of domain ("system"/"go"/"personal"/"dedicated"). If not specified default is "system"
        name:
          description: Filter domains with this anmen
          required: false
          type: string
          displayName: Filter domains with this anmen
      (oas-tags):
        - Domains
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: Id of domain
        format: int64
        required: true
        type: integer
        displayName: Id of domain
    delete:
      displayName: DELETE_domains-id
      (oas-summary): Delete a domain
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntityUri_System.Int64_
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Domains
    get:
      displayName: GET_domains-id
      (oas-summary): Get a domain
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Domains.Domain
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Domains
    post:
      displayName: POST_domains-id
      (oas-summary): Update a domain
      body:
        application/json:
          type: Api.Core.Dto.Domains.Domain
          (oas-body-name): value
          description: The domain to update
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntityUri_System.Int64_
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      (oas-tags):
        - Domains
/groups:
  displayName: groups
  get:
    displayName: GET_groups
    (oas-summary): List of all the groups associated to the user.
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
      '401':
        description: Unauthorized
      '404':
        description: Not found
      '500':
        description: Internal Server Error
    queryParameters:
      offset:
        default: 0
        description: Where to start when retrieving elements. Default is 0 if not specified.
        format: int32
        required: false
        type: integer
        displayName: Where to start when retrieving elements. Default is 0 if not specified.
      limit:
        default: 20
        description: Maximum elements to retrieve. Default to 20 if not specified.
        format: int32
        required: false
        type: integer
        displayName: Maximum elements to retrieve. Default to 20 if not specified.
      status:
        description: Status of the group
        enum:
          - deleted
          - active
        required: false
        type: string
        displayName: Status of the group
      tags:
        description: A comma separated list of tags you want to filter with.
        required: false
        type: string
        displayName: A comma separated list of tags you want to filter with.
      textSearch:
        description: Filter fields by this pattern
        required: false
        type: string
        displayName: Filter fields by this pattern
      createdAfter:
        description: Exclude groups created before this date (YYYYMMDD)
        required: false
        type: string
        displayName: Exclude groups created before this date (YYYYMMDD)
      createdBefore:
        description: Exclude groups created after this date (YYYYMMDD)
        required: false
        type: string
        displayName: Exclude groups created after this date (YYYYMMDD)
      write:
        description: Write permission
        required: false
        type: boolean
        displayName: Write permission
    (oas-tags):
      - Groups
  post:
    displayName: POST_groups
    (oas-summary): Create a group
    body:
      application/json:
        type: Api.Core.Dto.Groups.Group
        (oas-body-name): value
        description: The body of the group
    responses:
      '200':
        body:
          application/json:
            type: Api.Core.Responses.EntityUri_System.Int64_
      '401':
        description: Unauthorized
      '404':
        description: Not found
      '500':
        description: Internal Server Error
    (oas-tags):
      - Groups
  /aggregated:
    displayName: aggregated
    get:
      displayName: GET_groups-aggregated
      (oas-summary): Retrieve statistics about this customer for a timeframe by groups
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Aggregated.AggregatedResult
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      queryParameters:
        timeFrame:
          description: Timeframe of the request. See list at $timeframeList
          enum:
            - today
            - yesterday
            - last7
            - last30
            - lastmonth
            - currentmonth
            - previousmonth
            - last90
            - last120
            - last180
            - last12months
            - lastyear
            - currentyear
            - beginning
            - custom
          required: true
          type: string
          displayName: Timeframe of the request. See list at $timeframeList
        fromDay:
          description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          required: false
          type: string
          displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
        toDay:
          description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          required: false
          type: string
          displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
        hourly:
          description: If using "yesterday" or "today" timeframe you can ask for the hourly detail
          required: false
          type: boolean
          displayName: If using "yesterday" or "today" timeframe you can ask for the hourly detail
        status:
          description: Status of group ("deleted"/"active")
          enum:
            - deleted
            - active
          required: false
          type: string
          displayName: Status of group ("deleted"/"active")
        tag:
          description: A comma separated list of tags you want to filter with.
          required: false
          type: string
          displayName: A comma separated list of tags you want to filter with.
        favourite:
          description: Is the group is marked as favourite
          required: false
          type: boolean
          displayName: Is the group is marked as favourite
      (oas-tags):
        - Groups
    /list:
      displayName: list
      get:
        displayName: GET_groups-aggregated-list
        (oas-summary): Retrieve statistics about all groups of this customer for a timeframe grouped by some temporal entity (day/week/month)
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          timeFrame:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - today
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - last12months
              - lastyear
              - currentyear
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          status:
            description: Status of group ("deleted"/"active")
            required: false
            type: string
            displayName: Status of group ("deleted"/"active")
          tag:
            description: A comma separated list of tags you want to filter with.
            required: false
            type: string
            displayName: A comma separated list of tags you want to filter with.
          favourite:
            description: Is the group is marked as favourite
            required: false
            type: boolean
            displayName: Is the group is marked as favourite
          groupBy:
            description: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
            enum:
              - deleted
              - active
            required: false
            type: string
            displayName: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
        (oas-tags):
          - Groups
  /count:
    displayName: count
    get:
      displayName: GET_groups-count
      (oas-summary): Count the groups associated to the user.
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.CountResponce
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      queryParameters:
        status:
          description: Status of the datapoint
          enum:
            - deleted
            - active
          required: false
          type: string
          displayName: Status of the datapoint
        tags:
          description: A comma separated list of tags you want to filter with.
          required: false
          type: string
          displayName: A comma separated list of tags you want to filter with.
        textSearch:
          description: Filter fields by this pattern
          required: false
          type: string
          displayName: Filter fields by this pattern
        createdAfter:
          description: Exclude groups created before this date (YYYYMMDD)
          required: false
          type: string
          displayName: Exclude groups created before this date (YYYYMMDD)
        createdBefore:
          description: Exclude groups created after this date (YYYYMMDD)
          required: false
          type: string
          displayName: Exclude groups created after this date (YYYYMMDD)
        write:
          description: Write permission
          required: false
          type: boolean
          displayName: Write permission
      (oas-tags):
        - Groups
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: The id of the group
        format: int64
        required: true
        type: integer
        displayName: The id of the group
    delete:
      displayName: DELETE_groups-id
      (oas-summary): Delete group specified by id
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntityUri_System.Int64_
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - Groups
    get:
      displayName: GET_groups-id
      (oas-summary): Get a group
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Dto.Groups.Group
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - Groups
    post:
      displayName: POST_groups-id
      (oas-summary): Update a group
      body:
        application/json:
          type: Api.Core.Dto.Groups.Group
          (oas-body-name): value
          description: The body of the group
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntityUri_System.Int64_
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      (oas-tags):
        - Groups
    /aggregated:
      displayName: aggregated
      get:
        displayName: GET_groups-id-aggregated
        (oas-summary): Retrieve statistics about this group for a timeframe
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Aggregated.AggregatedResult
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          timeFrame:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - today
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - last12months
              - lastyear
              - currentyear
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          hourly:
            description: If using "yesterday" or "today" timeframe you can ask for the hourly detail
            required: false
            type: boolean
            displayName: If using "yesterday" or "today" timeframe you can ask for the hourly detail
        (oas-tags):
          - Groups
      /list:
        displayName: list
        get:
          displayName: GET_groups-id-aggregated-list
          (oas-summary): Retrieve statistics about this group for a timeframe grouped by some temporal entity (day/week/month)
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_
            '401':
              description: Unauthorized
            '500':
              description: Internal Server Error
          queryParameters:
            timeFrame:
              description: Timeframe of the request. See list at $timeframeList
              enum:
                - today
                - yesterday
                - last7
                - last30
                - lastmonth
                - currentmonth
                - previousmonth
                - last90
                - last120
                - last180
                - last12months
                - lastyear
                - currentyear
                - beginning
                - custom
              required: true
              type: string
              displayName: Timeframe of the request. See list at $timeframeList
            fromDay:
              description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
              required: false
              type: string
              displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            toDay:
              description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
              required: false
              type: string
              displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            groupBy:
              description: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
              enum:
                - week
                - month
              required: false
              type: string
              displayName: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
          (oas-tags):
            - Groups
      /summary:
        displayName: summary
        get:
          displayName: GET_groups-id-aggregated-summary
          (oas-summary): Retrieve statistics about a subset of datapoints for a timeframe with datapoints data
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Dto.Aggregated.AggregatedSummaryResult
            '401':
              description: Unauthorized
            '500':
              description: Internal Server Error
          queryParameters:
            timeFrame:
              description: Timeframe of the request. See list at $timeframeList
              enum:
                - today
                - yesterday
                - last7
                - last30
                - lastmonth
                - currentmonth
                - previousmonth
                - last90
                - last120
                - last180
                - last12months
                - lastyear
                - currentyear
                - beginning
                - custom
              required: true
              type: string
              displayName: Timeframe of the request. See list at $timeframeList
            type:
              description: Type of datapoint ("tl"/"tp")
              enum:
                - tp
                - tl
              required: false
              type: string
              displayName: Type of datapoint ("tl"/"tp")
            fromDay:
              description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
              required: false
              type: string
              displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            toDay:
              description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
              required: false
              type: string
              displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            status:
              description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
              enum:
                - deleted
                - active
              required: false
              type: string
              displayName: Status of datapoint ("deleted"/"active"/"paused"/"spam")
            tag:
              description: A comma separated list of tags you want to filter with.
              required: false
              type: string
              displayName: A comma separated list of tags you want to filter with.
            favourite:
              description: Is the datapoint marked as favourite
              required: false
              type: boolean
              displayName: Is the datapoint marked as favourite
            sortBy:
              description: Field to sort by
              required: false
              type: string
              displayName: Field to sort by
            sortDirection:
              description: Direction of sort "asc" or "desc"
              enum:
                - asc
                - desc
              required: false
              type: string
              displayName: Direction of sort "asc" or "desc"
            offset:
              default: 0
              description: Offset where to start from
              format: int32
              required: false
              type: integer
              displayName: Offset where to start from
            limit:
              default: 20
              description: Limit results to this number
              format: int32
              required: false
              type: integer
              displayName: Limit results to this number
            textSearch:
              description: Filter fields by this pattern
              required: false
              type: string
              displayName: Filter fields by this pattern
          (oas-tags):
            - Groups
    /datapoints:
      displayName: datapoints
      get:
        displayName: GET_groups-id-datapoints
        (oas-summary): List of all the datapoints associated to the user in this group.
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64__
          '401':
            description: Unauthorized
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        queryParameters:
          offset:
            default: 0
            description: Where to start when retrieving elements. Default is 0 if not specified.
            format: int32
            required: false
            type: integer
            displayName: Where to start when retrieving elements. Default is 0 if not specified.
          limit:
            default: 20
            description: Maximum elements to retrieve. Default to 20 if not specified.
            format: int32
            required: false
            type: integer
            displayName: Maximum elements to retrieve. Default to 20 if not specified.
          type:
            description: Type of the datapoint ("tp"/"tl")
            enum:
              - tp
              - tl
            required: false
            type: string
            displayName: Type of the datapoint ("tp"/"tl")
          status:
            description: Status of the datapoint
            enum:
              - deleted
              - active
              - paused
              - spam
            required: false
            type: string
            displayName: Status of the datapoint
          tags:
            description: A comma separated list of tags you want to filter with.
            required: false
            type: string
            displayName: A comma separated list of tags you want to filter with.
          textSearch:
            description: Filter fields by this pattern
            required: false
            type: string
            displayName: Filter fields by this pattern
          onlyFavorites:
            description: Filter fields by favourite status
            required: false
            type: boolean
            displayName: Filter fields by favourite status
          sortBy:
            description: Field to sort by
            required: false
            type: string
            displayName: Field to sort by
          sortDirection:
            description: Direction of sort "asc" or "desc"
            enum:
              - asc
              - desc
            required: false
            type: string
            displayName: Direction of sort "asc" or "desc"
          createdAfter:
            description: Exclude datapoints created before this date (YYYYMMDD)
            required: false
            type: string
            displayName: Exclude datapoints created before this date (YYYYMMDD)
          createdBefore:
            description: Exclude datapoints created after this date (YYYYMMDD)
            required: false
            type: string
            displayName: Exclude datapoints created after this date (YYYYMMDD)
        (oas-tags):
          - Groups
      post:
        displayName: POST_groups-id-datapoints
        (oas-summary): Create a datapoint in this group
        body:
          application/json:
            type: Api.Core.Dto.Datapoints.Datapoint
            (oas-body-name): value
            description: The body of the datapoint
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        (oas-tags):
          - Groups
      /count:
        displayName: count
        get:
          displayName: GET_groups-id-datapoints-count
          (oas-summary): Count the datapoints associated to the user in this group.
          responses:
            '200':
              body:
                application/json:
                  type: Api.Core.Responses.CountResponce
            '401':
              description: Unauthorized
            '404':
              description: Not found
            '500':
              description: Internal Server Error
          queryParameters:
            type:
              description: Type of the datapoint ("tp"/"tl")
              enum:
                - tp
                - tl
              required: false
              type: string
              displayName: Type of the datapoint ("tp"/"tl")
            status:
              description: Status of the datapoint
              enum:
                - deleted
                - active
                - paused
                - spam
              required: false
              type: string
              displayName: Status of the datapoint
            tags:
              description: A comma separated list of tags you want to filter with.
              required: false
              type: string
              displayName: A comma separated list of tags you want to filter with.
            textSearch:
              description: Filter fields by this pattern
              required: false
              type: string
              displayName: Filter fields by this pattern
            onlyFavorites:
              description: Filter fields by favourite status
              required: false
              type: boolean
              displayName: Filter fields by favourite status
            createdAfter:
              description: Exclude datapoints created before this date (YYYYMMDD)
              required: false
              type: string
              displayName: Exclude datapoints created before this date (YYYYMMDD)
            createdBefore:
              description: Exclude datapoints created after this date (YYYYMMDD)
              required: false
              type: string
              displayName: Exclude datapoints created after this date (YYYYMMDD)
          (oas-tags):
            - Groups
    /favourite:
      displayName: favourite
      put:
        displayName: PUT_groups-id-favourite
        (oas-summary): Fast switch the "favourite" field of a group
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        (oas-tags):
          - Groups
    /hits:
      displayName: hits
      get:
        displayName: GET_groups-id-hits
        (oas-summary): Retrieve the list of events related to this group.
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.ClickStream.HitListPage
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          timeframe:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          limit:
            description: Limit results to this number
            format: int32
            required: false
            type: integer
            displayName: Limit results to this number
          offset:
            description: Offset where to start from (it's the lastKey field in the response object)
            required: false
            type: string
            displayName: Offset where to start from (it's the lastKey field in the response object)
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          filter:
            description: Filter event type ("spiders"/"uniques"/"nonuniques"/"conversions")
            enum:
              - spiders
              - uniques
              - nonuniques
              - conversions
            required: false
            type: string
            displayName: Filter event type ("spiders"/"uniques"/"nonuniques"/"conversions")
        (oas-tags):
          - Groups
    /notes:
      displayName: notes
      put:
        displayName: PUT_groups-id-notes
        (oas-summary): Fast patch the "notes" field of a group
        body:
          application/json:
            type: Api.Core.Requests.GenericTextPatch
            (oas-body-name): note
            description: Patch requests
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Responses.EntityUri_System.Int64_
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        (oas-tags):
          - Groups
    /reports:
      displayName: reports
      get:
        displayName: GET_groups-id-reports
        (oas-summary): Retrieve a top report connected to this group
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Tops.Top
          '401':
            description: Forbidden
          '404':
            description: Not found
          '500':
            description: Internal Server Error
        queryParameters:
          type:
            description: Type of the report.
            enum:
              - browsers
              - browsersfamilies
              - platforms
              - cities
              - countries
              - isps
              - ips
              - oss
              - ossfamilies
              - keywords
              - referrers
              - destinations
              - languages
              - params
            required: true
            type: string
            displayName: Type of the report.
          timeframe:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          hittype:
            description: Type of the event you want to filter this report with. By default no filter is applied.
            enum:
              - clicks
              - views
            required: false
            type: string
            displayName: Type of the event you want to filter this report with. By default no filter is applied.
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
        (oas-tags):
          - Groups
/aggregated:
  displayName: aggregated
  /list:
    displayName: list
    get:
      displayName: GET_aggregated-list
      (oas-summary): Retrieve statistics about this customer for a timeframe grouped by some temporal entity (day/week/month)
      responses:
        '200':
          body:
            application/json:
              type: Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      queryParameters:
        timeFrame:
          description: Timeframe of the request. See list at $timeframeList
          enum:
            - today
            - yesterday
            - last7
            - last30
            - lastmonth
            - currentmonth
            - previousmonth
            - last90
            - last120
            - last180
            - last12months
            - lastyear
            - currentyear
            - beginning
            - custom
          required: true
          type: string
          displayName: Timeframe of the request. See list at $timeframeList
        fromDay:
          description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          required: false
          type: string
          displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
        toDay:
          description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          required: false
          type: string
          displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
        groupBy:
          description: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
          enum:
            - week
            - month
          required: false
          type: string
          displayName: The temporal entity you want to group by ("week"/"month"). If unspecified is "day".
      (oas-tags):
        - Aggregated
  /summary:
    displayName: summary
    /datapoints:
      displayName: datapoints
      get:
        displayName: GET_aggregated-summary-datapoints
        (oas-summary): Retrieve statistics about a subset of datapoints for a timeframe with datapoints data
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Aggregated.AggregatedSummaryResult
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          timeFrame:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - today
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - last12months
              - lastyear
              - currentyear
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          type:
            description: Type of datapoint ("tl"/"tp")
            enum:
              - tp
              - tl
            required: true
            type: string
            displayName: Type of datapoint ("tl"/"tp")
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
          status:
            description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
            enum:
              - deleted
              - active
              - paused
              - spam
            required: false
            type: string
            displayName: Status of datapoint ("deleted"/"active"/"paused"/"spam")
          tag:
            description: A comma separated list of tags you want to filter with.
            required: false
            type: string
            displayName: A comma separated list of tags you want to filter with.
          favourite:
            description: Is the datapoint marked as favourite
            required: false
            type: boolean
            displayName: Is the datapoint marked as favourite
          sortBy:
            description: Field to sort by
            required: false
            type: string
            displayName: Field to sort by
          sortDirection:
            description: Direction of sort "asc" or "desc"
            enum:
              - asc
              - desc
            required: false
            type: string
            displayName: Direction of sort "asc" or "desc"
          offset:
            description: Offset where to start from
            format: int32
            required: false
            type: integer
            displayName: Offset where to start from
          limit:
            description: Limit results to this number
            format: int32
            required: false
            type: integer
            displayName: Limit results to this number
          groupId:
            description: Filter by this group id
            format: int64
            required: false
            type: integer
            displayName: Filter by this group id
          textSearch:
            description: Filter fields by this pattern
            required: false
            type: string
            displayName: Filter fields by this pattern
        (oas-tags):
          - Aggregated
    /conversions:
      displayName: conversions
      get:
        displayName: GET_aggregated-summary-conversions
        (oas-summary): Retrieve statistics about a subset of conversions for a timeframe with conversions data
        responses:
          '200':
            body:
              application/json:
                type: Api.Core.Dto.Aggregated.AggregatedSummaryResult
          '401':
            description: Unauthorized
          '500':
            description: Internal Server Error
        queryParameters:
          timeFrame:
            description: Timeframe of the request. See list at $timeframeList
            enum:
              - today
              - yesterday
              - last7
              - last30
              - lastmonth
              - currentmonth
              - previousmonth
              - last90
              - last120
              - last180
              - last12months
              - lastyear
              - currentyear
              - beginning
              - custom
            required: true
            type: string
            displayName: Timeframe of the request. See list at $timeframeList
          fromDay:
            description: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
            required: false
            type: string
            displayName: If using a "custom" timeFrame you can specify the starting day (YYYYMMDD)
          toDay:
            description: If using a "custom" timeFrame you can specify the ending day (YYYYMMDD)
            required: false
            type: string
[...]
