#%RAML 1.0
title: CORE API v2
version: '2.0'
baseUri: 'http://core.ac.uk/api-v2'
protocols:
  - HTTP
description: |-
  <p style="text-align: justify;">You can use the CORE API to access the 
      resources harvested and enriched by CORE. If you encounter any problems with the API, please <a href="/contact">report them to us</a>.</p>

  <h2>Overview</h2>
  <p style="text-align: justify;">The API is organised by resource type. The resources are <b>articles</b>, 
      <b>journals</b> and <b>repositories</b> and are represented using JSON data format. Furthermore, 
      each resource has a list of methods. The API also provides two global methods for accessing all resources at once.</p>

  <h2>Response format</h2>
  <p style="text-align: justify;">Response for each query contains two fields: <b>status</b> and <b>data</b>.
      In case of an error status, the data field is empty. The data field contains a single object
      in case the request is for a specific identifier (e.g. CORE ID, CORE repository ID, etc.), or  
      contains a list of objects, for example for search queries. In case of batch requests, the response
      is an array of objects, each of which contains its own <b>status</b> and <b>data</b> fields.
      For search queries the response contains an additional field <b>totalHits</b>, which is the 
      total number of items which match the search criteria.</p>

  <h2>Search query syntax</h2>

  <p style="text-align: justify">Complex search queries can be used in all of the API search methods.
      The query can be a simple string or it can be built using terms and operators described in Elasticsearch
      <a href="http://www.elastic.co/guide/en/elasticsearch/reference/1.4/query-dsl-query-string-query.html#query-string-syntax">documentation</a>.
      The usable field names are <strong>title</strong>, <strong>description</strong>, <strong>fullText</strong>, 
      <strong>authorsString</strong>, <strong>publisher</strong>, <strong>repositories.id</strong>, <strong>repositories.name</strong>, 
      <strong>doi</strong>, <strong>oai</strong>, <strong>identifiers</strong> (which is a list of article identifiers including OAI, URL, etc.), <strong>language.name</strong> 
      and <strong>year</strong>. Some example queries:
  </p>

  <ul style="margin-left: 30px;">
      <li><p>title:psychology and language.name:English</p></li>
      <li><p>repositories.id:86 AND year:2014</p></li>
      <li><p>identifiers:"oai:aura.abdn.ac.uk:2164/3837" OR identifiers:"oai:aura.abdn.ac.uk:2164/3843"</p></li>
      <li><p>doi:"10.1186/1471-2458-6-309"</p></li>
  </ul>

  <h2>Sort order</h2>

  <p style="text-align: justify;">For search queries, the results are ordered by relevance score. For batch 
      requests, the results are retrieved in the order of the requests.</p>

  <h2>Parameters</h2>
  <p style="text-align: justify;">The API methods allow different parameters to be passed. Additionally, there is an API key parameter which is common to all API methods. For all API methods 
      the API key can be provided either as a query parameter or in the request header. If the API key 
      is not provided, the API will return HTTP 401 error. You can register for an API key <a href="/services#api">here</a>.</p>

  <h2>API methods</h2>
(oas-tags-definition):
  - description: Global operations
    name: all
  - description: Operations for retrieving articles
    name: articles
  - description: Operations for retrieving journals
    name: journals
  - description: Operations for retrieving repositories
    name: repositories
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_core.ac.uk_images_4d0243b_corelogo_hires_1.png'
  (oas-x-origin):
    format: swagger
    url: 'http://core.ac.uk/api-v2/doc'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): core.ac.uk
securitySchemes:
  apiKey:
    type: Pass Through
    describedBy:
      queryParameters:
        apiKey:
          type: string
    description: Your Api Key. Also accepts apiKey as a header
/journals:
  displayName: journals
  /get:
    displayName: get
    '/{issn}':
      displayName: '{issn}'
      uriParameters:
        issn:
          description: ISSN identifier of journal that needs to be fetched.
          required: true
          type: string
          displayName: ISSN identifier of journal that needs to be fetched.
      get:
        displayName: GET_journals-get-issn
        description: Returns a journal with given ISSN identifier.
        (oas-summary): Find journal by ISSN
        responses:
          '200':
            body:
              application/json:
                type: JournalResponse
            description: Successful operation
          '400':
            description: Invalid ISSN identifier supplied
          '401':
            description: Invalid or no API key provided
        (oas-tags):
          - journals
    post:
      displayName: POST_journals-get
      description: Method accepts a JSON array of ISSNs and retrieves a list of journals.
      (oas-summary): Batch operation for retrieving journals by ISSN
      body:
        application/json:
          items:
            type: string
          type: array
          (oas-body-name): body
          description: JSON array with ISSNs of journals that need to be fetched
      responses:
        '200':
          body:
            application/json:
              items:
                type: JournalResponse
              type: array
          description: Successful operation
        '400':
          description: Missing or malformed JSON in request body
        '401':
          description: Invalid or no API key provided
        '403':
          description: Too many queries in request body
      (oas-tags):
        - journals
  /search:
    displayName: search
    post:
      displayName: POST_journals-search
      description: 'Method accepts a JSON array of search queries and parameters. It then searches through all journals and returns a JSON array of search results for each of the queries. Method searches through all journal fields (title, identifiers, subjects, language, rights and publisher).'
      (oas-summary): Batch operation for search through journals
      body:
        application/json:
          items:
            type: SearchRequest
          type: array
          (oas-body-name): body
          description: JSON array with search queries and parameters. One request can contain up to 100 queries.
      responses:
        '200':
          body:
            application/json:
              items:
                type: JournalResponse
              type: array
          description: Successful operation
        '400':
          description: Missing or malformed JSON in request body
        '401':
          description: Invalid or no API key provided
        '403':
          description: Too many queries in request body
      (oas-tags):
        - journals
    '/{query}':
      displayName: '{query}'
      uriParameters:
        query:
          description: Search query
          required: true
          type: string
          displayName: Search query
      get:
        displayName: GET_journals-search-query
        description: 'Searches through all journals and returns a JSON array of search results. Method searches through all journal fields (title, identifiers, subjects, language, rights and publisher).'
        (oas-summary): Search through journals
        responses:
          '200':
            body:
              application/json:
                type: JournalSearchResponse
            description: Successful operation
          '400':
            description: Parameter invalid or out of bounds
          '401':
            description: Invalid or no API key provided
        queryParameters:
          page:
            default: 1
            description: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
            format: int32
            maximum: 100
            minimum: 1
            required: false
            type: integer
            displayName: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
          pageSize:
            default: 10
            description: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
            format: int32
            maximum: 100
            minimum: 10
            required: false
            type: integer
            displayName: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
        (oas-tags):
          - journals
/search:
  displayName: search
  '/{query}':
    displayName: '{query}'
    uriParameters:
      query:
        description: The search query
        required: true
        type: string
        displayName: The search query
    get:
      displayName: GET_search-query
      description: Searches through all resources and returns a JSON array with search results. Method searches through all resources and all fields. The results are ordered by relevance score and contain type of the relevant resource and its ID. The metadata of each resource need to be obtained through an appropriate method.
      (oas-summary): Search through all resources
      responses:
        '200':
          body:
            application/json:
              type: SearchAllResponse
          description: Successful operation
        '400':
          description: Parameter invalid or out of bounds
        '401':
          description: Invalid or no API key provided
        '429':
          description: Too many requests in given amount of time
      queryParameters:
        page:
          default: 1
          description: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
          format: int32
          maximum: 100
          minimum: 1
          required: false
          type: integer
          displayName: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
        pageSize:
          default: 10
          description: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
          format: int32
          maximum: 100
          minimum: 10
          required: false
          type: integer
          displayName: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
      (oas-tags):
        - all
  post:
    displayName: POST_search
    description: 'Method accepts a JSON array of search queries. It searches through all resources and returns a JSON array with search results for each of the queries. Method searches through all resources and all fields. The results are ordered by relevance score and contain type of the relevant resource and its ID. Furthermore, the responses are oredered based on the order of the request items. The metadata of each resource need to be obtained through an appropriate method.'
    (oas-summary): Batch operation for search through all resources
    body:
      application/json:
        items:
          type: SearchRequest
        type: array
        (oas-body-name): body
        description: JSON array with search queries and pagination parameters. One request can contain up to 100 queries
    responses:
      '200':
        body:
          application/json:
            items:
              type: SearchAllResponse
            type: array
        description: Successful operation
      '400':
        description: Missing or malformed JSON in request body
      '401':
        description: Invalid or no API key provided
      '403':
        description: Too many queries in request body
      '429':
        description: Too many requests in given amount of time
    (oas-tags):
      - all
/articles:
  displayName: articles
  /get:
    displayName: get
    post:
      displayName: POST_articles-get
      description: Method accepts a JSON array of CORE IDs and retrieves a list of articles. The response array is ordered based on the order of the IDs in the request array.
      (oas-summary): Batch operation for retrieving articles by CORE ID
      body:
        application/json:
          items:
            type: integer
          type: array
          (oas-body-name): body
          description: JSON array with CORE IDs of articles that need to be fetched
      responses:
        '200':
          body:
            application/json:
              items:
                type: ArticleResponse
              type: array
          description: Successful operation
        '400':
          description: Missing or malformed JSON in request body
        '401':
          description: Invalid or no API key provided
        '403':
          description: Too many queries in request body
        '429':
          description: Too many requests in given amount of time
      queryParameters:
        metadata:
          default: true
          description: Whether to retrieve the full article metadata or only the IDs. The default value is true
          required: false
          type: boolean
          displayName: Whether to retrieve the full article metadata or only the IDs. The default value is true
        fulltext:
          default: false
          description: Whether to retrieve fulltexts of the articles. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve fulltexts of the articles. The default value is false
        citations:
          default: false
          description: Whether to retrieve citations found in the articles. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve citations found in the articles. The default value is false
        similar:
          default: false
          description: 'Whether to retrieve lists of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
          required: false
          type: boolean
          displayName: 'Whether to retrieve lists of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
        duplicate:
          default: false
          description: Whether to retrieve CORE IDs of different versions of the articles. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve CORE IDs of different versions of the articles. The default value is false
        urls:
          default: false
          description: Whether to retrieve lists of URLs of the article fulltexts. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve lists of URLs of the article fulltexts. The default value is false
        faithfulMetadata:
          default: false
          description: Returns the records raw XML metadata from the original repository. The default value is false
          required: false
          type: boolean
          displayName: Returns the records raw XML metadata from the original repository. The default value is false
      (oas-tags):
        - articles
    '/{coreId}':
      displayName: '{coreId}'
      /download:
        displayName: download
        /pdf:
          displayName: pdf
          get:
            displayName: GET_articles-get-coreId-download-pdf
            description: Method will retrieve an article based on given CORE ID.
            (oas-summary): Get fulltext PDF by CORE ID
            responses:
              '200':
                description: Successful operation
              '401':
                description: Invalid or no API key provided
              '404':
                description: No Article pdf found
              '429':
                description: Too many requests in given amount of time
            (oas-tags):
              - articles
      /history:
        displayName: history
        get:
          displayName: GET_articles-get-coreId-history
          description: 'Method accepts a single CORE ID and returns a list of all historical versions of the article, which are stored in CORE database. The results are ordered from the newest one to the oldest one.'
          (oas-summary): Get article history by CORE ID
          responses:
            '200':
              body:
                application/json:
                  type: ArticleHistoryResponse
              description: Successful operation
            '400':
              description: Parameter invalid or out of bounds
            '401':
              description: Invalid or no API key provided
            '429':
              description: Too many requests in given amount of time
          queryParameters:
            page:
              default: 1
              description: 'Which page of the history results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
              format: int32
              maximum: 100
              minimum: 1
              required: false
              type: integer
              displayName: 'Which page of the history results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
            pageSize:
              default: 10
              description: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
              format: int32
              maximum: 100
              minimum: 10
              required: false
              type: integer
              displayName: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
          (oas-tags):
            - articles
      uriParameters:
        coreId:
          description: CORE ID of the article that needs to be fetched.
          format: int64
          required: true
          type: integer
          displayName: CORE ID of the article that needs to be fetched.
      get:
        displayName: GET_articles-get-coreId
        description: Method will retrieve an article based on given CORE ID.
        (oas-summary): Get article by CORE ID
        responses:
          '200':
            body:
              application/json:
                type: ArticleResponse
            description: Successful operation
          '400':
            description: Invalid identifier supplied
          '401':
            description: Invalid or no API key provided
          '429':
            description: Too many requests in given amount of time
        queryParameters:
          metadata:
            default: true
            description: Whether to retrieve the full article metadata or only the ID. The default value is true.
            required: false
            type: boolean
            displayName: Whether to retrieve the full article metadata or only the ID. The default value is true.
          fulltext:
            default: false
            description: Whether to retrieve full text of the article. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve full text of the article. The default value is false
          citations:
            default: false
            description: Whether to retrieve citations found in the article. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve citations found in the article. The default value is false
          similar:
            default: false
            description: 'Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
            required: false
            type: boolean
            displayName: 'Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
          duplicate:
            default: false
            description: Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false
          urls:
            default: false
            description: Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false
          faithfulMetadata:
            default: false
            description: Returns the records raw XML metadata from the original repository. The default value is false
            required: false
            type: boolean
            displayName: Returns the records raw XML metadata from the original repository. The default value is false
        (oas-tags):
          - articles
  /search:
    displayName: search
    post:
      displayName: POST_articles-search
      description: 'Method accepts a JSON array of search queries and parameters. It then searches through all articles and returns a JSON array of search results for each of the queries. Method searches through all article fields (title, authors, subjects, identifiers, etc.).'
      (oas-summary): Batch operation for search through articles
      body:
        application/json:
          items:
            type: SearchRequest
          type: array
          (oas-body-name): body
          description: JSON array with search queries and parameters. One request can contain up to 100 queries
      responses:
        '200':
          body:
            application/json:
              items:
                type: ArticleSearchResponse
              type: array
          description: Successful operation
        '400':
          description: Missing or malformed JSON in request body
        '401':
          description: Invalid or no API key provided
        '403':
          description: Too many queries in request body
        '429':
          description: Too many requests in given amount of time
      queryParameters:
        metadata:
          default: true
          description: Whether to retrieve the full article metadata or only the ID. The default value is true.
          required: false
          type: boolean
          displayName: Whether to retrieve the full article metadata or only the ID. The default value is true.
        fulltext:
          default: false
          description: Whether to retrieve full text of the article. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve full text of the article. The default value is false
        citations:
          default: false
          description: Whether to retrieve citations found in the article. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve citations found in the article. The default value is false
        similar:
          default: false
          description: 'Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
          required: false
          type: boolean
          displayName: 'Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
        duplicate:
          default: false
          description: Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false
        urls:
          default: false
          description: Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false
        faithfulMetadata:
          default: false
          description: Whether to retrieve the raw XML metadata of the article. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve the raw XML metadata of the article. The default value is false
      (oas-tags):
        - articles
    '/{query}':
      displayName: '{query}'
      uriParameters:
        query:
          description: The search query
          format: int64
          required: true
          type: integer
          displayName: The search query
      get:
        displayName: GET_articles-search-query
        description: Searches through all articles and returns a JSON array with search results. Method searches through all article fields.
        (oas-summary): Search through all documents
        responses:
          '200':
            body:
              application/json:
                type: ArticleSearchResponse
            description: Successful operation
          '400':
            description: Parameter invalid or out of bounds
          '401':
            description: Invalid or no API key provided
          '429':
            description: Too many requests in given amount of time
        queryParameters:
          page:
            default: 1
            description: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
            format: int32
            maximum: 100
            minimum: 1
            required: false
            type: integer
            displayName: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
          pageSize:
            default: 10
            description: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
            format: int32
            maximum: 100
            minimum: 10
            required: false
            type: integer
            displayName: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
          metadata:
            default: true
            description: Whether to retrieve the full article metadata or only the ID. The default value is true.
            required: false
            type: boolean
            displayName: Whether to retrieve the full article metadata or only the ID. The default value is true.
          fulltext:
            default: false
            description: Whether to retrieve full text of the article. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve full text of the article. The default value is false
          citations:
            default: false
            description: Whether to retrieve citations found in the article. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve citations found in the article. The default value is false
          similar:
            default: false
            description: 'Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
            required: false
            type: boolean
            displayName: 'Whether to retrieve a list of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
          duplicate:
            default: false
            description: Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve a list of CORE IDs of different versions of the article. The default value is false
          urls:
            default: false
            description: Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false
            required: false
            type: boolean
            displayName: Whether to retrieve a list of URLs from which the article can be downloaded. This can include links to PDFs as well as HTML pages. The default value is false
          faithfulMetadata:
            default: false
            description: Returns the records raw XML metadata from the original repository. The default value is false
            required: false
            type: boolean
            displayName: Returns the records raw XML metadata from the original repository. The default value is false
        (oas-tags):
          - articles
  /similar:
    displayName: similar
    post:
      displayName: POST_articles-similar
      description: 'Method accepts a text and retrieves a JSON array of articles which are similar to the given text. The response array is ordered based on similarity score, starting from the most similar.'
      (oas-summary): Get articles by similarity to a text
      body:
        application/json:
          type: SimilarRequest
          (oas-body-name): body
          description: The text that requires similar articles to be calculated on
      responses:
        '200':
          body:
            application/json:
              type: ArticleSimilarResponse
          description: Successful operation
        '400':
          description: Missing text in request body or parameter out of bounds or invalid parameter
        '401':
          description: Invalid or no API key provided
        '429':
          description: Too many requests in given amount of time
      queryParameters:
        limit:
          default: 10
          description: 'How many similar articles to retrieve at most. Can be any number betwen 1 and 100, default is 10'
          maximum: 100
          minimum: 1
          required: false
          type: integer
          displayName: 'How many similar articles to retrieve at most. Can be any number betwen 1 and 100, default is 10'
        metadata:
          default: true
          description: Whether to retrieve the full article metadata or only the IDs of the similar articles. The default value is true
          required: false
          type: boolean
          displayName: Whether to retrieve the full article metadata or only the IDs of the similar articles. The default value is true
        fulltext:
          default: false
          description: Whether to retrieve fulltexts of the similar articles. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve fulltexts of the similar articles. The default value is false
        citations:
          default: false
          description: Whether to retrieve citations found in the articles. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve citations found in the articles. The default value is false
        similar:
          default: false
          description: 'Whether to retrieve lists of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
          required: false
          type: boolean
          displayName: 'Whether to retrieve lists of similar articles. The default value is false. Because the similar articles are calculated on demand, setting this parameter to true might slightly slow down the response time'
        duplicate:
          default: false
          description: Whether to retrieve CORE IDs of different versions of the articles. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve CORE IDs of different versions of the articles. The default value is false
        urls:
          default: false
          description: Whether to retrieve lists of URLs of the article fulltexts. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve lists of URLs of the article fulltexts. The default value is false
        faithfulMetadata:
          default: false
          description: Whether to retrieve the raw XML metadata of the articles. The default value is false
          required: false
          type: boolean
          displayName: Whether to retrieve the raw XML metadata of the articles. The default value is false
      (oas-tags):
        - articles
/repositories:
  displayName: repositories
  /get:
    displayName: get
    post:
      displayName: POST_repositories-get
      description: Method accepts a JSON array of CORE repository IDs and retrieves a list of repositories. The response array is ordered based on the order of the IDs in the request array. The maximum number of IDs in request is 100.
      (oas-summary): Batch operation for retrieving repositories by CORE repository ID
      body:
        application/json:
          items:
            type: integer
          type: array
          (oas-body-name): body
          description: JSON array with CORE repository IDs of repositories that need to be fetched
      responses:
        '200':
          body:
            application/json:
              items:
                type: RepositoryResponse
              type: array
          description: Successful operation
        '400':
          description: Missing or malformed JSON in request body
        '401':
          description: Invalid or no API key provided
        '403':
          description: Too many queries in request body
        '429':
          description: Too many requests in given amount of time
      (oas-tags):
        - repositories
    '/{repositoryId}':
      displayName: '{repositoryId}'
      uriParameters:
        repositoryId:
          description: CORE repository ID of the article that needs to be fetched.
          required: true
          type: integer
          displayName: CORE repository ID of the article that needs to be fetched.
      get:
        displayName: GET_repositories-get-repositoryId
        description: Method will retrieve a repository based on given CORE repository ID.
        (oas-summary): Get repository by CORE repository ID
        responses:
          '200':
            body:
              application/json:
                type: RepositoryResponse
            description: Successful operation
          '400':
            description: Invalid identifier supplied
          '401':
            description: Invalid or no API key provided
          '429':
            description: Too many requests in given amount of time
        (oas-tags):
          - repositories
  /search:
    displayName: search
    '/{query}':
      displayName: '{query}'
      uriParameters:
        query:
          description: The search query
          required: true
          type: string
          displayName: The search query
      get:
        displayName: GET_repositories-search-query
        description: Searches through all repositories and returns a JSON array with search results. Method searches through all repository fields.
        (oas-summary): Search through all repositories
        responses:
          '200':
            body:
              application/json:
                type: RepositorySearchResponse
            description: Successful operation
          '400':
            description: Parameter invalid or out of bounds
          '401':
            description: Invalid or no API key provided
          '429':
            description: Too many requests in given amount of time
        queryParameters:
          page:
            default: 1
            description: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
            format: int32
            maximum: 100
            minimum: 1
            required: false
            type: integer
            displayName: 'Which page of the search results should be retrieved. Can be any number betwen 1 and 100, default is 1 (first page).'
          pageSize:
            default: 10
            description: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
            format: int32
            maximum: 100
            minimum: 10
            required: false
            type: integer
            displayName: 'The number of results to return per page. Can be any number between 10 and 100, default is 10.'
        (oas-tags):
          - repositories
    post:
      displayName: POST_repositories-search
      description: Method accepts a JSON array of search queries and parameters. It then searches through all repositories and returns a JSON array of search results for each of the queries. Method searches through all repository fields.
      (oas-summary): Batch operation for searching through repositories
      body:
        application/json:
          items:
            type: SearchRequest
          type: array
          (oas-body-name): body
          description: JSON array with search queries and parameters. One request can contain up to 100 queries
      responses:
        '200':
          body:
            application/json:
              type: RepositorySearchResponse
          description: Successful operation
        '400':
          description: Missing or malformed JSON in request body
        '401':
          description: Invalid or no API key provided
        '403':
          description: Too many queries in request body
        '429':
          description: Too many requests in given amount of time
      (oas-tags):
        - repositories
types:
  Article:
    properties:
      authors:
        description: List of article authors
        items:
          type: string
        type: array
        required: false
      citations:
        description: Citations found in the article
        items:
          type: Citation
        type: array
        required: false
      contributors:
        description: List of article contributors
        items:
          type: string
        type: array
        required: false
      datePublished:
        description: Date article published
        type: string
        required: false
      description:
        description: The abstract
        type: string
        required: false
      doi:
        description: The DOI of the article
        type: string
        required: false
      fulltext:
        description: Article full text
        type: string
        required: false
      fulltextIdentifier:
        description: The URL to the fulltext
        type: string
        required: false
      fulltextUrls:
        description: URLs of the fulltext version of this article
        items:
          type: string
        type: array
        required: false
      id:
        description: Article ID
        type: integer
      identifiers:
        description: List of document identifiers
        items:
          type: string
        type: array
        required: false
      journals:
        description: List of journals this article belongs to
        items:
          type: ArticleJournal
        type: array
        required: false
      language:
        description: Language of the article
        type: Language
        required: false
      oai:
        description: The OAI of the article
        type: string
        required: false
      publisher:
        description: Publisher of the article
        type: string
        required: false
      rawRecordXml:
        description: Raw XML metadata
        type: RawRecordXml
        required: false
      relations:
        description: 'URLs of relating articles, etc.'
        items:
          type: string
        type: array
        required: false
      repositories:
        description: List of repositories this article belongs to
        items:
          type: Repository
        type: array
        required: false
      repositoryDocument:
        description: Information of CORE harvesting
        type: RepositoryDocument
        required: false
      similarities:
        description: Similar articles
        items:
          type: Similar
        type: array
        required: false
      subjects:
        description: Article subjects
        items:
          type: string
        type: array
        required: false
      title:
        description: Article title
        type: string
        required: false
      topics:
        description: Article topics
        items:
          type: string
        type: array
        required: false
      types:
        description: 'Types, e.g. conference paper, journal paper, etc.'
        items:
          type: string
        type: array
        required: false
      year:
        description: Year the article was published
        type: integer
        required: false
  ArticleHistoryResponse:
    properties:
      data:
        description: List of article versions
        items:
          type: RawRecordXml
        type: array
        required: false
      status:
        description: Operation status
        enum:
          - OK
          - Not found
          - Too many queries
          - Missing parameter
          - Invalid parameter
          - Parameter out of bounds
        type: string
  ArticleJournal:
    properties:
      identifiers:
        description: List of journal identifiers
        items:
          type: string
        type: array
        required: false
      title:
        description: Title of the journal
        type: string
        required: false
  ArticleResponse:
    properties:
      data:
        description: The fetched article
        type: Article
      status:
        description: Operation status
        enum:
          - OK
          - Not found
          - Too many queries
          - Missing parameter
          - Invalid parameter
          - Parameter out of bounds
        type: string
  ArticleSearchResponse:
    properties:
      data:
        description: Search results
        items:
          type: Article
        type: array
      status:
        description: Operation status
        enum:
          - OK
          - Not found
          - Too many queries
          - Missing parameter
          - Invalid parameter
          - Parameter out of bounds
        type: string
      totalHits:
        description: Total number of articles matching the search criteria
        type: integer
  ArticleSimilarResponse:
    properties:
      data:
        description: Similar articles
        items:
          type: Article
        type: array
      status:
        description: Operation status
        enum:
          - OK
          - Not found
          - Too many queries
          - Missing parameter
          - Invalid parameter
          - Parameter out of bounds
        type: string
  Citation:
    properties:
      authors:
        description: Authors of the article
        type: string
        required: false
      date:
        description: Date the cited article was published
        type: string
        required: false
      doi:
        description: Digital Object Identifier
        type: string
        required: false
      raw:
        description: Citation as raw string
        type: string
        required: false
      title:
        description: Title of the cited article
        type: string
        required: false
  Journal:
    properties:
      identifiers:
        description: 'List of journal identifiers (e.g. URL, OAI or ISSN). The type is prepended to the identifier string (e.g. ''issn:2296-0597'')'
        items:
          type: string
        type: array
      language:
        description: Language of the journal
        type: string
        required: false
      publisher:
        description: Publisher of the journal
        type: string
        required: false
      rights:
        description: Copyright license of the journal
        type: string
        required: false
      subjects:
        description: List of journal subjects
        items:
          type: string
        type: array
        required: false
      title:
        description: Journal title
        type: string
        required: false
  JournalResponse:
    properties:
      data:
        description: The fetched journal
        type: Journal
        required: false
      status:
        description: Operation status
        enum:
          - OK
          - NOT_FOUND
          - TOO_MANY_QUERIES
          - MISSING_PARAMETER
          - INVALID_PARAMETER
        type: string
  JournalSearchResponse:
    properties:
      data:
        description: Search results
        items:
          type: Journal
        type: array
        required: false
      status:
        description: Operation status
        enum:
          - OK
          - NOT_FOUND
          - TOO_MANY_QUERIES
          - MISSING_PARAMETER
          - INVALID_PARAMETER
        type: string
      totalHits:
        description: Total number of journals matching the search criteria
        type: integer
  Language:
    properties:
      code:
        type: string
        required: false
      name:
        type: string
        required: false
  RawRecordXml:
    properties:
      datetime:
        description: Timestamp when CORE harvested the metadata
        format: date-format
        type: string
        facets:
          format: string
        required: false
      metadata:
        description: The raw XML metadata
        type: string
        required: false
  Repository:
    properties:
      id:
        description: CORE repository ID
        type: integer
        required: false
      name:
        description: Repository name
        type: string
        required: false
      openDoarId:
        description: ID of the repository in Open DOAR
        type: integer
        required: false
      repositoryLocation:
        description: Location of the repository
        type: RepositoryLocation
        required: false
      uri:
        description: Repository URI
        type: string
        required: false
  RepositoryDocument: {}
  RepositoryLocation:
    properties:
      country:
        description: Country name
        type: string
        required: false
      countryCode:
        description: Two letter country code
        type: string
        required: false
      id:
        description: CORE repository ID
        type: integer
        required: false
      latitude:
        type: integer
        required: false
      longitude:
        type: integer
        required: false
      repositoryName:
        description: Repository name
        type: string
        required: false
  RepositoryResponse:
    properties:
      data:
        description: The fetched repository
        type: Repository
        required: false
      status:
        description: Operation status
        enum:
          - OK
          - Not found
          - Too many queries
          - Missing parameter
          - Invalid parameter
          - Parameter out of bounds
        type: string
  RepositorySearchResponse:
    properties:
      data:
        description: Search results
        items:
          type: Repository
        type: array
        required: false
      status:
        description: Operation status
        enum:
          - OK
          - Not found
          - Too many queries
          - Missing parameter
          - Invalid parameter
          - Parameter out of bounds
        type: string
      totalHits:
        description: Total number of repositories matching the search criteria
        type: integer
  Resource:
    properties:
      id:
        description: Identifier of the resource
        type: string
      type:
        description: Type of the resource
        enum:
          - journal
          - article
          - repository
        type: string
  SearchAllResponse:
    properties:
      data:
        description: List of relevant resources
        items:
          type: Resource
        type: array
      status:
        description: Operation status
        enum:
          - OK
          - Not found
          - Too many queries
          - Missing parameter
          - Invalid parameter
          - Parameter out of bounds
        type: string
      totalHits:
        description: Total number of items matching the search criteria
        type: integer
  SearchRequest:
    properties:
      page:
        default: 1
        description: 'Which page of the search results should be retrieved. Can be any number from 1 to 100, default is 1 (first page)'
        maximum: 100
        minimum: 1
        type: integer
        required: false
      pageSize:
        default: 10
        description: 'The number of results to return per page. Can be any number from 10 to 100, default is 10'
        maximum: 100
        minimum: 10
        type: integer
        required: false
      query:
        description: Search query
        type: string
  Similar:
    properties:
      id:
        description: CORE ID of the similar article
        type: integer
      score:
        description: Similarity score
        format: double
        type: number
      title:
        description: Title of the similar article
        type: string
        required: false
  SimilarRequest:
    properties:
      text:
        description: Find Similar articles based on this string
        type: string
