#%RAML 1.0
title: EU BON UTIS
version: '1.0'
baseUri: 'http://cybertaxonomy.eu/eu-bon/utis/1.0'
mediaType:
  - application/json
  - application/xml
protocols:
  - HTTP
description: The Unified Taxonomic Information Service (UTIS) is the taxonomic backbone for the EU-BON project
(oas-tags-definition):
  - description: Utis Controller
    name: utis-controller
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_cybertaxonomy.eu_sites_all_themes_summertime_cdm_images_cdm-platform-header_2.jpg'
  (oas-x-origin):
    format: swagger
    url: 'http://cybertaxonomy.eu/eubon-utis/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): cybertaxonomy.eu
  contact:
    email: EditSupport@bgbm.org
  termsOfService: 'https://www.biodiversitycatalogue.org/services/79'
  license:
    name: Mozilla Public License 2.0
    url: 'http://www.mozilla.org/MPL/2.0/'
/search:
  displayName: search
  get:
    displayName: search
    description: search
    (oas-summary): search
    responses:
      '200':
        body:
          application/json:
            type: TnrMsg
        description: OK
      '401':
        description: Unauthorized
      '403':
        description: Forbidden
      '404':
        description: Not Found
    queryParameters:
      query:
        description: 'The scientific name to search for. For example: "Bellis perennis", "Prionus" or "Bolinus brandaris". This is an exact search so wildcard characters are not supported.'
        required: true
        type: string
      providers:
        default: 'pesi,eunis,bgbm-cdm-server[col]'
        description: 'A list of provider id strings concatenated by comma characters. The default : "pesi,bgbm-cdm-server[col]" will be used if this parameter is not set. A list of all available provider ids can be obtained from the ''/capabilities'' service end point. Providers can be nested, that is a parent provider can have sub providers. If the id of the parent provider is supplied all subproviders will be queried. The query can also be restriced to one or more subproviders by using the following syntax: parent-id[sub-id-1,sub-id2,...]'
        required: false
        type: string
      searchMode:
        default: scientificNameExact
        description: 'Specifies the searchMode. Possible search modes are: scientificNameExact, scientificNameLike (begins with), vernacularNameExact, vernacularNameLike (contains), findByIdentifier. If the a provider does not support the chosen searchMode it will be skipped and the status message in the tnrClientStatus will be set to ''unsupported search mode'' in this case.'
        enum:
          - scientificNameExact
          - scientificNameLike
          - vernacularNameExact
          - vernacularNameLike
          - findByIdentifier
        required: false
        type: string
      addSynonymy:
        default: false
        description: Indicates whether the synonymy of the accepted taxon should be included into the response. Turning this option on may cause an increased response time.
        required: false
        type: boolean
      timeout:
        default: 0
        description: The maximum of milliseconds to wait for responses from any of the providers. If the timeout is exceeded the service will jut return the resonses that have been received so far. The default timeout is 0 ms (wait for ever)
        format: int64
        required: false
        type: integer
    (oas-tags):
      - utis-controller
/capabilities:
  displayName: capabilities
  get:
    displayName: capabilities
    description: capabilities
    (oas-summary): capabilities
    responses:
      '200':
        body:
          application/json:
            items:
              type: ServiceProviderInfo
            type: array
        description: OK
      '401':
        description: Unauthorized
      '403':
        description: Forbidden
      '404':
        description: Not Found
    (oas-tags):
      - utis-controller
types:
  AtomisedName:
    properties:
      genusOrUninomial:
        type: string
        required: false
      infragenericEpithet:
        type: string
        required: false
      infraspecificEpithet:
        type: string
        required: false
      specificEpithet:
        type: string
        required: false
  ClientStatus:
    properties:
      checklistId:
        type: string
        required: false
      duration:
        description: Duration of the request processing in the specific checklist client in milliseconds.
        format: double
        type: number
        required: false
      statusMessage:
        description: 'Status of the request, possible values are ''ok'', ''timeout'', ''interrupted'', ''unsupported search mode''.'
        type: string
        required: false
  HigherClassificationElement:
    properties:
      rank:
        type: string
        required: false
      scientificName:
        type: string
        required: false
      taxonID:
        type: string
        required: false
  OtherNames:
    properties:
      sources:
        items:
          type: Source
        type: array
        required: false
      taxonName:
        type: TaxonName
        required: false
      url:
        description: The URL pointing to the original name record of the checklist provider.
        type: string
        required: false
  Query:
    properties:
      clientStatus:
        items:
          type: ClientStatus
        type: array
        required: false
      request:
        type: Request
        required: false
      response:
        items:
          type: Response
        type: array
        required: false
  Request:
    properties:
      addSynonymy:
        description: Indicates whether the synonymy of the accepted taxon should be included into the response. Turning this option on may lead to an increased response time.
        type: boolean
        required: false
      queryString:
        description: 'The query string to match a scientific name, vernacular name or identifier depending on the searchMode'
        type: string
        required: false
      searchMode:
        description: 'Specified the search mode to be usedPossible search modes are: scientificNameExact, scientificNameLike (begins with), vernacularNameExact, vernacularNameLike (contains).'
        type: string
        required: false
  Response:
    properties:
      checklist:
        type: string
        required: false
      checklistCitation:
        type: string
        required: false
      checklistId:
        type: string
        required: false
      checklistUrl:
        type: string
        required: false
      checklistVersion:
        type: string
        required: false
      matchingNameString:
        description: 'Refers to the name string of the accepted taxon, synonym or otherName which was matching the query string'
        type: string
        required: false
      matchingNameType:
        description: 'Reports which of the names was matching the query string:  ''taxon'', ''synonym'', ''vernacularName'', or ''otherName'''
        enum:
          - TAXON
          - SYNONYM
          - VERNACULAR_NAME
          - OTHER_NAME
        type: string
        required: false
      otherNames:
        items:
          type: OtherNames
        type: array
        required: false
      synonyms:
        description: The list synonyms related to the accepted taxon
        items:
          type: Synonym
        type: array
        required: false
      taxon:
        description: The accepted taxon
        type: Taxon
        required: false
      vernacularNames:
        description: A common or vernacular name.
        items:
          type: string
        type: array
        required: false
  ServiceProviderInfo:
    properties:
      copyrightUrl:
        type: string
        required: false
      documentationUrl:
        type: string
        required: false
      id:
        type: string
        required: false
      label:
        type: string
        required: false
      searchModes:
        description: 'Set of the different SearchModes supported by the service provider and client implementation.Possible search modes are: scientificNameExact, scientificNameLike, vernacularName'
        items:
          type: string
        type: array
        uniqueItems: true
        required: false
      subChecklists:
        items:
          type: ServiceProviderInfo
        type: array
        required: false
      version:
        type: string
        required: false
  Source:
    properties:
      datasetName:
        type: string
        required: false
      identifier:
        type: string
        required: false
      name:
        type: string
        required: false
      title:
        description: The full not atomized source string.
        type: string
        required: false
      url:
        type: string
        required: false
  Synonym:
    properties:
      accordingTo:
        description: 'The reference to the source in which the specific taxon concept circumscription is defined or implied - traditionally signified by the Latin ''sensu'' or ''sec.'' (from secundum, meaning ''according to'').'
        type: string
        required: false
      sources:
        items:
          type: Source
        type: array
        required: false
      taxonName:
        type: TaxonName
        required: false
      taxonomicStatus:
        description: 'The taxonomic status string like ''invalid'', ''misapplied'', ''homotypic synonym'', ''accepted'', ''synonym''. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus'
        type: string
        required: false
      url:
        description: The URL pointing to the original record of the checklist provider.
        type: string
        required: false
  Taxon:
    properties:
      accordingTo:
        description: 'The reference to the source in which the specific taxon concept circumscription is defined or implied - traditionally signified by the Latin ''sensu'' or ''sec.'' (from secundum, meaning ''according to'').'
        type: string
        required: false
      higherClassification:
        items:
          type: HigherClassificationElement
        type: array
        required: false
      identifier:
        type: string
        required: false
      sources:
        items:
          type: Source
        type: array
        required: false
      taxonName:
        type: TaxonName
        required: false
      taxonomicStatus:
        description: 'The taxonomic status string like ''invalid'', ''misapplied'', ''homotypic synonym'', ''accepted'', ''synonym''. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus'
        type: string
        required: false
      url:
        description: The URL pointing to the original record of the checklist provider.
        type: string
        required: false
  TaxonName:
    properties:
      atomisedName:
        type: AtomisedName
        required: false
      authorship:
        type: string
        required: false
      canonicalName:
        description: 'Canonical name string consisting of only nomenclatural information, i.e. no authorship or taxonomic hierarchy information with the exception of the necessary placements within Genus or Species.'
        type: string
        required: false
      nomenclaturalReference:
        description: A reference for the publication in which the scientificName was originally established under the rules of the associated nomenclaturalCode.
        type: string
        required: false
      rank:
        type: string
        required: false
      scientificName:
        description: 'The full scientific name, with authorship, publication date information and potentially further taxonomic information.'
        type: string
        required: false
  TnrMsg:
    properties:
      query:
        items:
          type: Query
        type: array
        required: false
