#%RAML 1.0
title: Data2CRM.API
version: '1'
baseUri: 'http://api.data2crm.com:80/v1'
mediaType:
  - application/json
  - application/hal+json
protocols:
  - HTTP
description: '<p>Make use of our in-depth documentation to get more information about the various functions of the service. Those willing to explore the mechanics of Data2CRM.API can test it in live regime using the short code samples.</p><p>Select CRM: <span id="docs-select-crm" style="font-weight: bold">Loading... please wait</span></p><p>Here are the API access keys:<br><b>X-API2CRM-USERKEY</b>: <span id="docs-user-key">e2a6379ab878ae7e58119d4ec842bf9c926e05b5</span><br><b>X-API2CRM-CRMKEY</b>: <span id="docs-crm-key">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p id="docs-crm-access">The CRM access details are:<br><b>URL</b>: <a id="docs-crm-url" href="https://login.salesforce.com/" target="_blank">https://login.salesforce.com/</a><br><b>E-mail / Username</b>: <span id="docs-crm-username">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>: <span id="docs-crm-password">data2crmapi123</span></p>'
(oas-tags-definition):
  - description: Account Operations
    name: Account
  - description: Contact Operations
    name: Contact
  - description: Lead Operations
    name: Lead
  - description: Opportunity Operations
    name: Opportunity
  - description: Task Operations
    name: Task
  - description: User Operations
    name: User
  - description: Note Operations
    name: Note
  - description: Attachment Operations
    name: Attachment
  - description: Event Operations
    name: Event
  - description: Email Operations
    name: Email
  - description: Call Operations
    name: Call
  - description: Meeting Operations
    name: Meeting
  - description: CRM Operations
    name: Crm
  - description: Custom Field Operations
    name: CustomField
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-responses: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-property-title:
    type: string
    allowedTargets: TypeDeclaration
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    backgroundColor: '#3089CF'
    url: 'https://api.apis.guru/v2/cache/logo/https_s3.amazonaws.com_enterprise-multitenant.3scale.net.3scale.net_data2crm-api_2445581398133_profiles_logos_medium_data2crm_api.png'
  (oas-x-origin):
    format: swagger
    url: 'http://api.data2crm.com/docs/ref/get-swagger-v2'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): data2crm.com
(oas-externalDocs):
  url: 'http://www.data2crm.com/api/'
/event:
  displayName: event
  post:
    displayName: createEventEntity
    description: Add event into the system
    (oas-summary): POST for Event
    body:
      application/json:
        type: EventCreate
        (oas-body-name): body
        description: Add event into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: EventCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Event
  /count:
    displayName: count
    get:
      displayName: getEventCountCollection
      description: Count all events from the system
      (oas-summary): COUNT for Event
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Event
  /describe:
    displayName: describe
    get:
      displayName: getEventDescribe
      description: Returns describe for events
      (oas-summary): DESCRIBE for Event
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Event
  '/{event_id}':
    displayName: '{event_id}'
    uriParameters:
      event_id:
        description: Event Identifier
        required: true
        type: string
    delete:
      displayName: deleteEventEntity
      description: Delete event information
      (oas-summary): DELETE for Event
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Event
    get:
      displayName: getEventEntity
      description: Return event information
      (oas-summary): GET for Event
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Event
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Event
    put:
      displayName: updateEventEntity
      description: Update event information
      (oas-summary): PUT for Event
      body:
        application/json:
          type: EventUpdate
          (oas-body-name): body
          description: Update event information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: EventUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Event
  get:
    displayName: getEventCollection
    description: Returns all events from the system
    (oas-summary): GET for Event
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Event
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      parent_type:
        description: Parent Type
        enum:
          - account
          - contact
          - lead
          - opportunity
          - task
          - user
        required: false
        type: string
      parent_id:
        description: Parent Identifier
        required: false
        type: string
    (oas-tags):
      - Event
/user:
  displayName: user
  '/{user_id}':
    displayName: '{user_id}'
    uriParameters:
      user_id:
        description: User Identifier
        required: true
        type: string
    put:
      displayName: updateUserEntity
      description: Update user information
      (oas-summary): PUT for User
      body:
        application/json:
          type: UserUpdate
          (oas-body-name): body
          description: Update user information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: UserUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - User
    get:
      displayName: getUserEntity
      description: Return user information
      (oas-summary): GET for User
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: User
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - User
    delete:
      displayName: deleteUserEntity
      description: Delete user information
      (oas-summary): DELETE for User
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - User
  get:
    displayName: getUserCollection
    description: Returns all users from the system
    (oas-summary): GET for User
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: User
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
    (oas-tags):
      - User
  post:
    displayName: createUserEntity
    description: Add user into the system
    (oas-summary): POST for User
    body:
      application/json:
        type: UserCreate
        (oas-body-name): body
        description: Add user into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: UserCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - User
  /describe:
    displayName: describe
    get:
      displayName: getUserDescribe
      description: Returns describe for users
      (oas-summary): DESCRIBE for User
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - User
  /count:
    displayName: count
    get:
      displayName: getUserCountCollection
      description: Count all users from the system
      (oas-summary): COUNT for User
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - User
/account:
  displayName: account
  get:
    displayName: getAccountCollection
    description: Returns all accounts from the system
    (oas-summary): GET for Account
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Account
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
    (oas-tags):
      - Account
  /count:
    displayName: count
    get:
      displayName: getAccountCountCollection
      description: Count all accounts from the system
      (oas-summary): COUNT for Account
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Account
  '/{account_id}':
    displayName: '{account_id}'
    uriParameters:
      account_id:
        description: Account Identifier
        required: true
        type: string
    delete:
      displayName: deleteAccountEntity
      description: Delete account information
      (oas-summary): DELETE for Account
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Account
    put:
      displayName: updateAccountEntity
      description: Update account information
      (oas-summary): PUT for Account
      body:
        application/json:
          type: AccountUpdate
          (oas-body-name): body
          description: Update account information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: AccountUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Account
    get:
      displayName: getAccountEntity
      description: Return account information
      (oas-summary): GET for Account
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Account
  /describe:
    displayName: describe
    get:
      displayName: getAccountDescribe
      description: Returns describe for accounts
      (oas-summary): DESCRIBE for Account
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Account
  post:
    displayName: createAccountEntity
    description: Add account into the system
    (oas-summary): POST for Account
    body:
      application/json:
        type: AccountCreate
        (oas-body-name): body
        description: Add account into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: AccountCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Account
/attachment:
  displayName: attachment
  post:
    displayName: createAttachmentEntity
    description: Add attachment into the system
    (oas-summary): POST for Attachment
    body:
      application/json:
        type: AttachmentCreate
        (oas-body-name): body
        description: Add attachment into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: AttachmentCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Attachment
  /describe:
    displayName: describe
    get:
      displayName: getAttachmentDescribe
      description: Returns describe for attachments
      (oas-summary): DESCRIBE for Attachment
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Attachment
  '/{attachment_id}':
    displayName: '{attachment_id}'
    uriParameters:
      attachment_id:
        description: Attachment Identifier
        required: true
        type: string
    get:
      displayName: getAttachmentEntity
      description: Return attachment information
      (oas-summary): GET for Attachment
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Attachment
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Attachment
    delete:
      displayName: deleteAttachmentEntity
      description: Delete attachment information
      (oas-summary): DELETE for Attachment
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Attachment
    put:
      displayName: updateAttachmentEntity
      description: Update attachment information
      (oas-summary): PUT for Attachment
      body:
        application/json:
          type: AttachmentUpdate
          (oas-body-name): body
          description: Update attachment information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: AttachmentUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Attachment
  get:
    displayName: getAttachmentCollection
    description: Returns all attachments from the system
    (oas-summary): GET for Attachment
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Attachment
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      parent_type:
        description: Parent Type
        enum:
          - account
          - contact
          - lead
          - task
          - user
          - opportunity
          - note
        required: false
        type: string
      parent_id:
        description: Parent Identifier
        required: false
        type: string
    (oas-tags):
      - Attachment
  /count:
    displayName: count
    get:
      displayName: getAttachmentCountCollection
      description: Count all attachments from the system
      (oas-summary): COUNT for Attachment
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Attachment
/lead:
  displayName: lead
  get:
    displayName: getLeadCollection
    description: Returns all leads from the system
    (oas-summary): GET for Lead
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Lead
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
    (oas-tags):
      - Lead
  post:
    displayName: createLeadEntity
    description: Add lead into the system
    (oas-summary): POST for Lead
    body:
      application/json:
        type: LeadCreate
        (oas-body-name): body
        description: Add lead into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: LeadCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Lead
  /count:
    displayName: count
    get:
      displayName: getLeadCountCollection
      description: Count all leads from the system
      (oas-summary): COUNT for Lead
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Lead
  /describe:
    displayName: describe
    get:
      displayName: getLeadDescribe
      description: Returns describe for leads
      (oas-summary): DESCRIBE for Lead
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Lead
  '/{lead_id}':
    displayName: '{lead_id}'
    uriParameters:
      lead_id:
        description: Lead Identifier
        required: true
        type: string
    delete:
      displayName: deleteLeadEntity
      description: Delete lead information
      (oas-summary): DELETE for Lead
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Lead
    get:
      displayName: getLeadEntity
      description: Return lead information
      (oas-summary): GET for Lead
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Lead
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Lead
    put:
      displayName: updateLeadEntity
      description: Update lead information
      (oas-summary): PUT for Lead
      body:
        application/json:
          type: LeadUpdate
          (oas-body-name): body
          description: Update lead information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: LeadUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Lead
/call:
  displayName: call
  get:
    displayName: getCallCollection
    description: Returns all calls from the system
    (oas-summary): GET for Call
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Call
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      parent_type:
        description: Parent Type
        enum:
          - account
          - contact
          - lead
          - opportunity
          - task
          - user
        required: false
        type: string
      parent_id:
        description: Parent Identifier
        required: false
        type: string
    (oas-tags):
      - Call
  /count:
    displayName: count
    get:
      displayName: getCallCountCollection
      description: Count all calls from the system
      (oas-summary): COUNT for Call
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Call
  '/{call_id}':
    displayName: '{call_id}'
    uriParameters:
      call_id:
        description: Call Identifier
        required: true
        type: string
    delete:
      displayName: deleteCallEntity
      description: Delete call information
      (oas-summary): DELETE for Call
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Call
    put:
      displayName: updateCallEntity
      description: Update call information
      (oas-summary): PUT for Call
      body:
        application/json:
          type: CallUpdate
          (oas-body-name): body
          description: Update call information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: CallUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Call
    get:
      displayName: getCallEntity
      description: Return call information
      (oas-summary): GET for Call
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Call
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Call
  post:
    displayName: createCallEntity
    description: Add call into the system
    (oas-summary): POST for Call
    body:
      application/json:
        type: CallCreate
        (oas-body-name): body
        description: Add call into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: CallCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Call
  /describe:
    displayName: describe
    get:
      displayName: getCallDescribe
      description: Returns describe for calls
      (oas-summary): DESCRIBE for Call
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Call
/contact:
  displayName: contact
  post:
    displayName: createContactEntity
    description: Add contact into the system
    (oas-summary): POST for Contact
    body:
      application/json:
        type: ContactCreate
        (oas-body-name): body
        description: Add contact into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: ContactCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Contact
  /describe:
    displayName: describe
    get:
      displayName: getContactDescribe
      description: Returns describe for contacts
      (oas-summary): DESCRIBE for Contact
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Contact
  '/{contact_id}':
    displayName: '{contact_id}'
    uriParameters:
      contact_id:
        description: Contact Identifier
        required: true
        type: string
    get:
      displayName: getContactEntity
      description: Return contact information
      (oas-summary): GET for Contact
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Contact
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Contact
    put:
      displayName: updateContactEntity
      description: Update contact information
      (oas-summary): PUT for Contact
      body:
        application/json:
          type: ContactUpdate
          (oas-body-name): body
          description: Update contact information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: ContactUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Contact
    delete:
      displayName: deleteContactEntity
      description: Delete contact information
      (oas-summary): DELETE for Contact
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Contact
  /count:
    displayName: count
    get:
      displayName: getContactCountCollection
      description: Count all contacts from the system
      (oas-summary): COUNT for Contact
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Contact
  get:
    displayName: getContactCollection
    description: Returns all contacts from the system
    (oas-summary): GET for Contact
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Contact
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
    (oas-tags):
      - Contact
/meeting:
  displayName: meeting
  get:
    displayName: getMeetingCollection
    description: Returns all meetings from the system
    (oas-summary): GET for Meeting
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Meeting
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      parent_type:
        description: Parent Type
        enum:
          - account
          - contact
          - lead
          - opportunity
          - user
        required: false
        type: string
      parent_id:
        description: Parent Identifier
        required: false
        type: string
    (oas-tags):
      - Meeting
  post:
    displayName: createMeetingEntity
    description: Add meeting into the system
    (oas-summary): POST for Meeting
    body:
      application/json:
        type: MeetingCreate
        (oas-body-name): body
        description: Add meeting into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: MeetingCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Meeting
  /count:
    displayName: count
    get:
      displayName: getMeetingCountCollection
      description: Count all meetings from the system
      (oas-summary): COUNT for Meeting
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Meeting
  /describe:
    displayName: describe
    get:
      displayName: getMeetingDescribe
      description: Returns describe for meetings
      (oas-summary): DESCRIBE for Meeting
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Meeting
  '/{meeting_id}':
    displayName: '{meeting_id}'
    uriParameters:
      meeting_id:
        description: Meeting Identifier
        required: true
        type: string
    delete:
      displayName: deleteMeetingEntity
      description: Delete meeting information
      (oas-summary): DELETE for Meeting
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Meeting
    get:
      displayName: getMeetingEntity
      description: Return meeting information
      (oas-summary): GET for Meeting
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Meeting
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Meeting
    put:
      displayName: updateMeetingEntity
      description: Update meeting information
      (oas-summary): PUT for Meeting
      body:
        application/json:
          type: MeetingUpdate
          (oas-body-name): body
          description: Update meeting information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: MeetingUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Meeting
/crm:
  displayName: crm
  get:
    displayName: getCrmCollection
    description: Returns all CRMs from the system
    (oas-summary): GET for Crm
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
    responses:
      '200':
        body:
          application/json:
            items:
              type: Crm
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      type:
        description: Type
        enum:
          - Bitrix24
          - SugarCRM
          - SuiteCRM
          - BPMOnline
          - HubSpot
          - vtiger
          - OroCRM
          - ZohoCRM
          - Insightly
          - Salesforce
          - Solve360CRM
          - HighriseHQ
          - PipelineDeals
          - Pipedrive
          - CapsuleCRM
          - Zurmo
          - MicrosoftDynamics
        required: false
        type: string
    (oas-tags):
      - Crm
  /count:
    displayName: count
    get:
      displayName: getCrmCountCollection
      description: Count all CRMs from the system
      (oas-summary): COUNT for Crm
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Crm
  '/{crm_id}':
    displayName: '{crm_id}'
    uriParameters:
      crm_id:
        description: CRM Identifier
        required: true
        type: string
    get:
      displayName: getCrmEntity
      description: Return CRM information
      (oas-summary): GET for Crm
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Crm
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Crm
    delete:
      displayName: deleteCrmEntity
      description: Delete CRM information
      (oas-summary): DELETE for Crm
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Crm
    put:
      displayName: updateCrmEntity
      description: 'Update CRM information<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      (oas-summary): PUT for Crm
      body:
        application/json:
          type: CrmUpdate
          (oas-body-name): body
          description: 'Update CRM information<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
      responses:
        '200':
          body:
            application/json:
              type: CrmUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Crm
  post:
    displayName: createCrmEntity
    description: 'Add CRM into the system<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
    (oas-summary): POST for Crm
    body:
      application/json:
        type: CrmCreate
        (oas-body-name): body
        description: 'Add CRM into the system<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
    responses:
      '201':
        body:
          application/json:
            type: CrmCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Crm
/customField:
  displayName: customField
  get:
    displayName: getCustomFieldCollection
    description: Returns all custom field from the system
    (oas-summary): GET for CustomField
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: CustomField
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      entity:
        description: Entity
        enum:
          - account
          - contact
          - user
          - opportunity
          - task
          - lead
          - note
          - attachment
          - event
          - email
          - call
          - meeting
        required: false
        type: string
      label:
        description: Label
        required: false
        type: string
      name:
        description: Name
        required: false
        type: string
    (oas-tags):
      - CustomField
  '/{custom_field_id}':
    displayName: '{custom_field_id}'
    uriParameters:
      custom_field_id:
        description: Custom Field Identifier
        required: true
        type: string
    delete:
      displayName: deleteCustomFieldEntity
      description: Delete custom field information
      (oas-summary): DELETE for CustomField
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - CustomField
    put:
      displayName: updateCustomFieldEntity
      description: Update custom field information
      (oas-summary): PUT for CustomField
      body:
        application/json:
          type: CustomFieldUpdate
          (oas-body-name): body
          description: Update custom field information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: CustomFieldUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - CustomField
    get:
      displayName: getCustomFieldEntity
      description: Return custom field information
      (oas-summary): GET for CustomField
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: CustomField
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - CustomField
  post:
    displayName: createCustomFieldEntity
    description: Add custom field into the system
    (oas-summary): POST for CustomField
    body:
      application/json:
        type: CustomFieldCreate
        (oas-body-name): body
        description: Add custom field into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: CustomFieldCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - CustomField
/note:
  displayName: note
  get:
    displayName: getNoteCollection
    description: Returns all notes from the system
    (oas-summary): GET for Note
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Note
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      parent_type:
        description: Parent Type
        enum:
          - account
          - contact
          - lead
          - task
          - user
          - opportunity
          - event
        required: false
        type: string
      parent_id:
        description: Parent Identifier
        required: false
        type: string
    (oas-tags):
      - Note
  post:
    displayName: createNoteEntity
    description: Add note into the system
    (oas-summary): POST for Note
    body:
      application/json:
        type: NoteCreate
        (oas-body-name): body
        description: Add note into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: NoteCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Note
  /count:
    displayName: count
    get:
      displayName: getNoteCountCollection
      description: Count all notes from the system
      (oas-summary): COUNT for Note
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Note
  /describe:
    displayName: describe
    get:
      displayName: getNoteDescribe
      description: Returns describe for notes
      (oas-summary): DESCRIBE for Note
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Note
  '/{note_id}':
    displayName: '{note_id}'
    uriParameters:
      note_id:
        description: Note Identifier
        required: true
        type: string
    delete:
      displayName: deleteNoteEntity
      description: Delete note information
      (oas-summary): DELETE for Note
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Note
    get:
      displayName: getNoteEntity
      description: Return note information
      (oas-summary): GET for Note
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Note
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Note
    put:
      displayName: updateNoteEntity
      description: Update note information
      (oas-summary): PUT for Note
      body:
        application/json:
          type: NoteUpdate
          (oas-body-name): body
          description: Update note information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: NoteUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Note
/email:
  displayName: email
  post:
    displayName: createEmailEntity
    description: Add email into the system
    (oas-summary): POST for Email
    body:
      application/json:
        type: EmailCreate
        (oas-body-name): body
        description: Add email into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: EmailCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Email
  /describe:
    displayName: describe
    get:
      displayName: getEmailDescribe
      description: Returns describe for emails
      (oas-summary): DESCRIBE for Email
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Email
  '/{email_id}':
    displayName: '{email_id}'
    uriParameters:
      email_id:
        description: Email Identifier
        required: true
        type: string
    get:
      displayName: getEmailEntity
      description: Return email information
      (oas-summary): GET for Email
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Email
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Email
    delete:
      displayName: deleteEmailEntity
      description: Delete email information
      (oas-summary): DELETE for Email
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Email
    put:
      displayName: updateEmailEntity
      description: Update email information
      (oas-summary): PUT for Email
      body:
        application/json:
          type: EmailUpdate
          (oas-body-name): body
          description: Update email information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: EmailUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Email
  get:
    displayName: getEmailCollection
    description: Returns all emails from the system
    (oas-summary): GET for Email
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Email
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
      parent_type:
        description: Parent Type
        enum:
          - account
          - opportunity
          - contact
          - lead
          - user
          - task
        required: false
        type: string
      parent_id:
        description: Parent Identifier
        required: false
        type: string
    (oas-tags):
      - Email
  /count:
    displayName: count
    get:
      displayName: getEmailCountCollection
      description: Count all emails from the system
      (oas-summary): COUNT for Email
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Email
/opportunity:
  displayName: opportunity
  get:
    displayName: getOpportunityCollection
    description: Returns all opportunities from the system
    (oas-summary): GET for Opportunity
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Opportunity
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
    (oas-tags):
      - Opportunity
  post:
    displayName: createOpportunityEntity
    description: Add opportunity into the system
    (oas-summary): POST for Opportunity
    body:
      application/json:
        type: OpportunityCreate
        (oas-body-name): body
        description: Add opportunity into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: OpportunityCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Opportunity
  /count:
    displayName: count
    get:
      displayName: getOpportunityCountCollection
      description: Count all opportunities from the system
      (oas-summary): COUNT for Opportunity
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Opportunity
  /describe:
    displayName: describe
    get:
      displayName: getOpportunityDescribe
      description: Returns describe for opportunities
      (oas-summary): DESCRIBE for Opportunity
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Opportunity
  '/{opportunity_id}':
    displayName: '{opportunity_id}'
    uriParameters:
      opportunity_id:
        description: Opportunity Identifier
        required: true
        type: string
    delete:
      displayName: deleteOpportunityEntity
      description: Delete opportunity information
      (oas-summary): DELETE for Opportunity
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Opportunity
    get:
      displayName: getOpportunityEntity
      description: Return opportunity information
      (oas-summary): GET for Opportunity
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Opportunity
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Opportunity
    put:
      displayName: updateOpportunityEntity
      description: Update opportunity information
      (oas-summary): PUT for Opportunity
      body:
        application/json:
          type: OpportunityUpdate
          (oas-body-name): body
          description: Update opportunity information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: OpportunityUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Opportunity
/task:
  displayName: task
  get:
    displayName: getTaskCollection
    description: Returns all tasks from the system
    (oas-summary): GET for Task
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
      X-API2CRM-DATA-ENABLE:
        type: string
        description: Data Enable
        enum:
          - 'false'
          - 'true'
        required: false
    responses:
      '200':
        body:
          application/json:
            items:
              type: Task
            type: array
        description: OK
      '404':
        description: Not Found
    queryParameters:
      limit:
        description: 'Amount of results (default: 25)'
        format: int32
        required: false
        type: integer
      offset:
        description: 'Start from record (default: 0)'
        format: int32
        required: false
        type: integer
      filter:
        description: Filter
        required: false
        type: string
    (oas-tags):
      - Task
  post:
    displayName: createTaskEntity
    description: Add task into the system
    (oas-summary): POST for Task
    body:
      application/json:
        type: TaskCreate
        (oas-body-name): body
        description: Add task into the system
    headers:
      X-API2CRM-USERKEY:
        type: string
        description: User Key
        default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        required: true
      X-API2CRM-CRMKEY:
        type: string
        description: CRM Key
        default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        required: true
    responses:
      '201':
        body:
          application/json:
            type: TaskCreated
        description: Created
      '400':
        description: Client Error
      '404':
        description: Not Found
      '422':
        description: Unprocessable Entity
    (oas-tags):
      - Task
  /count:
    displayName: count
    get:
      displayName: getTaskCountCollection
      description: Count all tasks from the system
      (oas-summary): COUNT for Task
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Count
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Task
  /describe:
    displayName: describe
    get:
      displayName: getTaskDescribe
      description: Returns describe for tasks
      (oas-summary): DESCRIBE for Task
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Describe
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Task
  '/{task_id}':
    displayName: '{task_id}'
    uriParameters:
      task_id:
        description: Task Identifier
        required: true
        type: string
    delete:
      displayName: deleteTaskEntity
      description: Delete task information
      (oas-summary): DELETE for Task
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      (oas-tags):
        - Task
    get:
      displayName: getTaskEntity
      description: Return task information
      (oas-summary): GET for Task
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: Task
          description: OK
        '404':
          description: Not Found
      (oas-tags):
        - Task
    put:
      displayName: updateTaskEntity
      description: Update task information
      (oas-summary): PUT for Task
      body:
        application/json:
          type: TaskUpdate
          (oas-body-name): body
          description: Update task information
      headers:
        X-API2CRM-USERKEY:
          type: string
          description: User Key
          default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          required: true
        X-API2CRM-CRMKEY:
          type: string
          description: CRM Key
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          required: true
      responses:
        '200':
          body:
            application/json:
              type: TaskUpdated
          description: OK
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      (oas-tags):
        - Task
types:
  Account:
    properties:
      embedded:
        properties:
          account_category:
            description: Category
            example: General
            type: string
            required: false
          address_type:
            description: Address Type
            example: Billing
            type: string
            required: false
          annual_revenue:
            description: Annual Revenue
            example: 23244.43222
            format: float
            type: number
            required: false
          billing_city:
            description: Billing City
            example: Brandenburg
            type: string
            required: false
          billing_country:
            description: Billing Country
            example: USA
            type: string
            required: false
          billing_state:
            description: Billing State
            example: NY
            type: string
            required: false
          billing_street:
            description: Billing Street
            example: 'P.O. Box 300, 2698 Ultricies Road'
            type: string
            required: false
          billing_zip:
            description: Billing Zip
            example: '47212'
            type: string
            required: false
          created_at:
            description: Created At
            example: '2015-01-01T05:18:23-07:00'
            format: rfc3339
            type: datetime
            required: false
          description:
            description: Description
            example: Some long description
            type: string
            required: false
          email:
            description: Email
            example: bill.wall@mail.com
            type: string
            required: false
          email_alt:
            description: Email Alternative
            example: bill.wall.alt@mail.com
            type: string
            required: false
          employees:
            description: Employees
            example: 230
            format: int32
            type: integer
            required: false
          facebook:
            description: Facebook
            example: 'http://www.facebook.com/your_page'
            type: string
            required: false
          fax:
            description: Fax
            example: +49 9131 85 28732
            type: string
            required: false
          industry:
            description: Industry
            enum:
              - Informational Technology
              - Telecommunications
              - Manufacturing
              - Banking
              - Consulting
              - Finance
              - Government
              - Delivery
              - Non-Profit
              - Entertainment
              - Biotechnology
              - Chemicals
              - Communications
              - Construction
              - Education
              - Electronics
              - Energy
              - Engineering
              - Environmental
              - Health care
              - Hospitality
              - Machinery
              - Media
              - Recreation
              - Retail
              - Transportation
              - Utilities
              - Other
            example: Electronics
            type: string
            required: false
          livejournal:
            description: Livejournal
            example: 'http://your_page.livejournal.com/'
            type: string
            required: false
          name:
            description: Name
            example: Bill Wall
            type: string
            required: false
          owner:
            description: Owner
            example: Nicky McCartney
            type: string
            required: false
          ownership:
            description: Ownership
            example: Public
            type: string
            required: false
          phone:
            description: Phone
            example: (817) 569-8900
            type: string
            required: false
          phone_alt:
            description: Phone Alternative
            example: (817) 569-8900
            type: string
            required: false
          rating:
            description: Rating
            example: Active
            type: string
            required: false
          shipping_city:
            description: Shipping City
            example: Brandenburg
            type: string
            required: false
          shipping_country:
            description: Shipping Country
            example: USA
            type: string
            required: false
          shipping_state:
            description: Shipping State
            example: NY
            type: string
            required: false
          shipping_street:
            description: Shipping Street
            example: 'P.O. Box 300, 2698 Ultricies Road'
            type: string
            required: false
          shipping_zip:
            description: Shipping Zip Code
            example: '47212'
            type: string
            required: false
          sic_code:
            description: SIC Code
            example: 2895-1
            type: string
            required: false
          tickersymbol:
            description: Ticker Symbol
            example: '%'
            type: string
            required: false
          twitter:
            description: Twitter
            example: 'http://twitter.com/your_page'
            type: string
            required: false
          type:
            description: Type
            example: Company
            type: string
            required: false
          updated_at:
            description: Updated At
            example: '2015-02-10T17:12:23-07:00'
            format: rfc3339
            type: datetime
            required: false
          website:
            description: Website
            example: 'http://google.com/'
            type: string
            required: false
          website_alt:
            description: Website Alternative
            example: 'http://google.com/'
            type: string
            required: false
        type: object
        required: false
      id:
        description: Account Identifier
        example: '21312411'
        type: string
        required: false
      relation:
        properties:
          owner_id:
            description: Owner Identifier
            example: '21312411'
            type: string
            required: false
          parent_id:
            description: Parent Identifier
            example: '21312411'
            type: string
            required: false
        type: object
        required: false
  AccountCreate:
    properties:
      account_category:
        description: Category
        example: General
        type: string
        required: false
      address_type:
        description: Address Type
        example: Billing
        type: string
        required: false
      annual_revenue:
        description: Annual Revenue
        example: 23244.43222
        format: float
        type: number
        required: false
      billing_city:
        description: Billing City
        example: Brandenburg
        type: string
        required: false
      billing_country:
        description: Billing Country
        example: USA
        type: string
        required: false
      billing_state:
        description: Billing State
        example: NY
        type: string
        required: false
      billing_street:
        description: Billing Street
        example: 'P.O. Box 300, 2698 Ultricies Road'
        type: string
        required: false
      billing_zip:
        description: Billing Zip
        example: '47212'
        type: string
        required: false
      created_at:
        description: Created At
        example: '2015-01-01T05:18:23-07:00'
        format: rfc3339
        type: datetime
        required: false
      description:
        description: Description
        example: Some long description
        type: string
        required: false
      email:
        description: Email
        example: bill.wall@mail.com
        type: string
        required: false
      email_alt:
        description: Email Alternative
        example: bill.wall.alt@mail.com
        type: string
        required: false
      employees:
        description: Employees
        example: 230
        format: int32
        type: integer
        required: false
      facebook:
        description: Facebook
        example: 'http://www.facebook.com/your_page'
        type: string
        required: false
      fax:
        description: Fax
        example: +49 9131 85 28732
        type: string
        required: false
      industry:
        description: Industry
        enum:
          - Informational Technology
          - Telecommunications
          - Manufacturing
          - Banking
          - Consulting
          - Finance
          - Government
          - Delivery
          - Non-Profit
          - Entertainment
          - Biotechnology
          - Chemicals
          - Communications
          - Construction
          - Education
          - Electronics
          - Energy
          - Engineering
          - Environmental
          - Health care
          - Hospitality
          - Machinery
          - Media
          - Recreation
          - Retail
          - Transportation
          - Utilities
          - Other
        example: Electronics
        type: string
        required: false
      livejournal:
        description: Livejournal
        example: 'http://your_page.livejournal.com/'
        type: string
        required: false
      name:
        description: Name
        example: Bill Wall
        type: string
        required: false
      owner:
        description: Owner
        example: Nicky McCartney
        type: string
        required: false
      owner_id:
        description: Owner Identifier
        example: '21312411'
        type: string
        required: false
      ownership:
        description: Ownership
        example: Public
        type: string
        required: false
      parent_id:
        description: Parent Identifier
        example: '21312411'
        type: string
        required: false
      phone:
        description: Phone
        example: (817) 569-8900
        type: string
        required: false
      phone_alt:
        description: Phone Alternative
        example: (817) 569-8900
        type: string
        required: false
      rating:
        description: Rating
        example: Active
        type: string
        required: false
      shipping_city:
        description: Shipping City
        example: Brandenburg
        type: string
        required: false
      shipping_country:
        description: Shipping Country
        example: USA
        type: string
        required: false
      shipping_state:
        description: Shipping State
        example: NY
        type: string
        required: false
      shipping_street:
        description: Shipping Street
        example: 'P.O. Box 300, 2698 Ultricies Road'
        type: string
        required: false
      shipping_zip:
        description: Shipping Zip Code
        example: '47212'
        type: string
[...]
