#%RAML 1.0
title: Regulations.gov
version: '3.0'
baseUri: 'http://api.data.gov/regulations/v3'
protocols:
  - HTTP
description: Provides public users access to federal regulatory content.
(oas-tags-definition):
  - description: Operations about Dockets
    name: dockets
  - description: Operations about Documents
    name: documents
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_regulationsgov.github.io_developers_static_img_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://regulationsgov.github.io/developers/api-docs.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): data.gov
(oas-externalDocs):
  url: 'http://regulationsgov.github.io/developers/'
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        api_key:
          type: string
    description: API Key
'/documents.{response_format}':
  displayName: 'documents.{response_format}'
  uriParameters:
    response_format:
      default: json
      description: Format
      enum:
        - json
        - xml
      required: true
      type: string
  get:
    displayName: documents
    description: 'This API allows users to build a query based on any of the parameters below.  If you have trouble building queries, you may wish to try them through the <a href="http://www.regulations.gov/#!advancedSearch">Advanced Search</a> page on the Regulations.gov website.'
    (oas-summary): Search for Documents
    responses:
      '200':
        description: No response was specified
      '400':
        description: Bad request. The document is only available for comment via Regulations.gov.
      '404':
        description: File not found.
    queryParameters:
      countsOnly:
        description: 'Counts Only: <ul><li>1 (will return only the document count for a search query)</li><li>0 (will return documents as well)</li></ul>'
        required: false
        type: integer
      encoded:
        description: 'Encoded: <ul><li>1 (will accept Regulations.gov style encoded parameters)</li><li>0 (will not accept such encoded parameters)</li></ul>'
        required: false
        type: integer
      s:
        description: Keyword(s)
        required: false
        type: string
      dct:
        description: 'Document Type: <ul><li>N: Notice</li><li>PR: Proposed Rule</li><li>FR: Rule</li><li>O: Other</li><li>SR: Supporting & Related Material</li><li>PS: Public Submission</li></ul>'
        enum:
          - 'N'
          - PR
          - FR
          - O
          - SR
          - PS
        required: false
        type: string
      dktid:
        description: Valid Docket ID (ex. SEC-2012-0044)
        required: false
        type: string
      dkt:
        description: 'Docket Type: <ul><li>R: Rulemaking</li><li>N: Nonrulemaking</li></ul><p>A Docket Type is either Rulemaking or Nonrulemaking. A Rulemaking docket includes the type of regulation that establishes a rule. While a Non-Rulemaking docket does not include a rule.</p>'
        enum:
          - 'N'
          - R
        required: false
        type: string
      cp:
        description: 'Comment Period: <ul><li>O: Open</li><li>C: Closed</li></ul>'
        enum:
          - O
          - C
        required: false
        type: string
      a:
        description: 'Federal Agency: List of accepted Federal Agency values. This field allows multiple values. Ex. a=FMCSA%252BEPA%252BFDA'
        required: false
        type: string
      rpp:
        description: 'Results Per Page 10, 25, 100, 500, 1,000.  Results per page may not exceed 1,000.'
        enum:
          - '10'
          - '25'
          - '100'
          - '500'
          - '1000'
        required: false
        type: string
      po:
        description: 'Enter the page offset (always starts with 0). This is used in conjunction with results per page to provide large data sets. For example, if a search produces 82 results and the result per page is set to 25, this will generate 4 pages. 3 pages will have 25 results and the last page will have 7 results. Page offset values for each page will be: <pre>Page 1: po=0 Page 2: po=25 Page 3: po=50 Page 4: po=75</pre> The total number of pages is [total results/results per page] and page offset for page X is [X-1 * results per page]'
        required: false
        type: integer
      cs:
        description: 'Comment Period Closing Soon: <ul><li>0 (closing today)</li><li>3 (closing within 3 days)</li><li>15 (closing within 15 days)</li><li>30 (closing within 30 days)</li><li>90 (closing within 90 days)</li></ul>'
        required: false
        type: integer
      np:
        description: 'Newly Posted: <ul><li>0 (posted today)</li><li>3 (posted within last 3 days)</li><li>15 (posted within last 15 days)</li><li>30 (posted within last 30 days)</li><li>90 (posted within last 90 days)</li></ul>  For periods of time beyond 90-days, please use a date range with the Posted Date parameter.'
        required: false
        type: integer
      cat:
        description: 'Document Category: <ul><li>AD (Aerospace and Transportation)</li> <li>AEP (Agriculture, Environment, and Public Lands)</li> <li>BFS (Banking and Financial)</li> <li>CT (Commerce and International)</li> <li>LES (Defense, Law Enforcement, and Security)</li> <li>EELS (Education, Labor, Presidential, and Government Services)</li> <li>EUMM (Energy, Natural Resources, and Utilities)</li> <li>HCFP (Food Safety, Health, and Pharmaceutical)</li> <li>PRE (Housing, Development, and Real Estate)</li> <li>ITT (Technology and Telecommunications)</li></ul>'
        enum:
          - AD
          - AEP
          - BFS
          - CT
          - LES
          - EELS
          - EUMM
          - HCFP
          - PRE
          - ITT
        required: false
        type: string
      sb:
        description: 'Sort By: <ul><li>docketId (Docket ID)</li><li>docId (Document ID)</li><li>title (Title)</li><li>postedDate (Posted Date)</li><li>agency (Agency)</li><li>documentType (Document Type)</li><li>submitterName (Submitter Name)</li><li>organization (Organization)</li></ul> Sort Order is REQUIRED if this parameter is included.'
        enum:
          - docketId
          - docId
          - title
          - postedDate
          - agency
          - documentType
          - submitterName
          - organization
        required: false
        type: string
      so:
        description: 'Sort Order: <ul><li>ASC: Ascending</li><li>DESC: Descending</li></ul>'
        enum:
          - ASC
          - DESC
        required: false
        type: string
      dktst:
        description: 'Docket Subtype: Only one docket subtype at a time may be selected. One or more agency values must be part of the request. Only values valid for the selected agency will be returned.'
        required: false
        type: string
      dktst2:
        description: 'Docket Sub-subtype: Only one docket sub-subtype at a time may be selected. One or more agency values must be part of the request. Only values valid for the selected agency will be returned.'
        required: false
        type: string
      docst:
        description: 'Document Subtype: Single or multiple document subtypes may be included.  Multiple values should be passed as follows: <code>docst=%20Certificate+of+Service%252BCorrespondence</code>'
        required: false
        type: string
    (oas-tags):
      - documents
'/document.{response_format}':
  displayName: 'document.{response_format}'
  uriParameters:
    response_format:
      default: json
      description: Format
      enum:
        - json
        - xml
      required: true
      type: string
  get:
    displayName: document
    (oas-summary): Returns Document information
    responses:
      '200':
        description: No response was specified
      '400':
        description: Bad request. The document is only available for comment via Regulations.gov.
      '404':
        description: File not found.
    queryParameters:
      documentId:
        default: EPA-HQ-OAR-2011-0028-0108
        description: FDMS Document ID
        required: false
        type: string
      federalRegisterNumber:
        description: Federal Register Document Number
        required: false
        type: string
    (oas-tags):
      - documents
'/docket.{response_format}':
  displayName: 'docket.{response_format}'
  uriParameters:
    response_format:
      default: json
      description: Format
      enum:
        - json
        - xml
      required: true
      type: string
  get:
    displayName: docket
    (oas-summary): Returns Docket information
    responses:
      '200':
        description: No response was specified
      '400':
        description: Bad request. The content is either empty or has been withdrawn.
      '404':
        description: File not found.
    queryParameters:
      docketId:
        default: EPA-HQ-OAR-2011-0028
        description: Docket ID
        required: true
        type: string
    (oas-tags):
      - dockets
