#%RAML 1.0
title: DatumBox
version: '1.0'
baseUri: 'http://api.datumbox.com/'
mediaType: application/json
protocols:
  - HTTP
description: 'Datumbox offers a Machine Learning platform composed of 14 classifiers and Natural Language processing functions. Functions include sentiment analysis, topic classification, readability assessment, language detection, and much more.'
(oas-tags-definition):
  - description: Document Classification Functions
    name: Document-Classification
  - description: Information Retrieval Functions
    name: Information-Retrieval
  - description: Metrics
    name: Metrics
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_www.datumbox.com_img_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://www.datumbox.com/api-sandbox/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): datumbox.com
/1.0:
  displayName: '1.0'
  /ReadabilityAssessment.json:
    displayName: ReadabilityAssessment.json
    post:
      displayName: ReadabilityAssessment
      description: 'The Readability Assessment function determines the degree of readability of a document based on its terms and idioms. The texts are classified as basic, intermediate and advanced depending their difficulty.'
      (oas-summary): Evaluates the Readability of the Document
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /TwitterSentimentAnalysis.json:
    displayName: TwitterSentimentAnalysis.json
    post:
      displayName: TwitterSentimentAnalysis
      description: 'The Twitter Sentiment Analysis function allows you to perform Sentiment Analysis on Twitter. It classifies the tweets as positive, negative or neutral depending on their context.'
      (oas-summary): Identifies the Sentiment of Twitter Messages
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text of the tweet that we evaluate.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /SentimentAnalysis.json:
    displayName: SentimentAnalysis.json
    post:
      displayName: SentimentAnalysis
      description: 'The Sentiment Analysis function classifies documents as positive, negative or neutral (lack of sentiment) depending on whether they express a positive, negative or neutral opinion.'
      (oas-summary): Identifies the Sentiment of the Document
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /AdultContentDetection.json:
    displayName: AdultContentDetection.json
    post:
      displayName: AdultContentDetection
      description: The Adult Content Detection function classifies the documents as adult or noadult based on their context. It can be used to detect whether a document contains content unsuitable for minors.
      (oas-summary): Classifies the Document as adult or noadult
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /DocumentSimilarity.json:
    displayName: DocumentSimilarity.json
    post:
      displayName: DocumentSimilarity
      description: The Document Similarity function estimates the degree of similarity between two documents. It can be used to detect duplicate webpages or detect plagiarism.
      (oas-summary): Estimates the similarity between 2 Documents
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            original:
              description: The first text. It should not contain HTML tags.
              required: true
              type: string
            copy:
              description: The second text. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Metrics
  /TopicClassification.json:
    displayName: TopicClassification.json
    post:
      displayName: TopicClassification
      description: 'The Topic Classification function assigns documents in 12 thematic categories based on their keywords, idioms and jargon. It can be used to identify the topic of the texts.'
      (oas-summary): Identifies the Topic of the Document
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /TextExtraction.json:
    displayName: TextExtraction.json
    post:
      displayName: TextExtraction
      description: The Text Extraction function enables you to extract the important information from a given webpage. Extracting the clear text of the documents is an important step before any other analysis.
      (oas-summary): Extracts the clear text from Webpage
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The HTML source of the webpage.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Information-Retrieval
  /SubjectivityAnalysis.json:
    displayName: SubjectivityAnalysis.json
    post:
      displayName: SubjectivityAnalysis
      description: The Subjectivity Analysis function categorizes documents as subjective or objective based on their writing style. Texts that express personal opinions are labeled as subjective and the others as objective.
      (oas-summary): Classifies Document as Subjective or Objective
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /SpamDetection.json:
    displayName: SpamDetection.json
    post:
      displayName: SpamDetection
      description: The Spam Detection function labels documents as spam or nospam by taking into account their context. It can be used to filter out spam emails and comments.
      (oas-summary): Classifies the Document as spam or nospam
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /EducationalDetection.json:
    displayName: EducationalDetection.json
    post:
      displayName: EducationalDetection
      description: The Educational Detection function classifies the documents as educational or non-educational based on their context. It can be used to detect whether a website is educational or not.
      (oas-summary): Classifies the Document as educational or noeducational
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /CommercialDetection.json:
    displayName: CommercialDetection.json
    post:
      displayName: CommercialDetection
      description: The Commercial Detection function labels the documents as commercial or non-commercial based on their keywords and expressions. It can be used to detect whether a website is commercial or not.
      (oas-summary): Classifies the Document as commercial or nocommercial
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /LanguageDetection.json:
    displayName: LanguageDetection.json
    post:
      displayName: LanguageDetection
      description: The Language Detection function identifies the natural language of the given document based on its words and context. This classifier is able to detect 96 different languages.
      (oas-summary): Identifies the Language of the Document
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
  /KeywordExtraction.json:
    displayName: KeywordExtraction.json
    post:
      displayName: KeywordExtraction
      description: The Keyword Extraction function enables you to extract from an arbitrary document all the keywords and word-combinations along with their occurrences in the text.
      (oas-summary): Extracts the Keywords of the Document
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            'n':
              description: The number of keyword combinations (n-grams) that you wish to extract.
              maximum: 5
              minimum: 1
              required: true
              type: integer
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Information-Retrieval
  /GenderDetection.json:
    displayName: GenderDetection.json
    post:
      displayName: GenderDetection
      description: 'The Gender Detection function identifies if a particular document is written-by or targets-to a man or a woman based on the context, the words and the idioms found in the text.'
      (oas-summary): Gender Detection Service
      body:
        multipart/form-data:
          properties:
            api_key:
              description: Your API Key
              required: true
              type: string
            text:
              description: The text that you want to analyze. It should not contain HTML tags.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - Document-Classification
