#%RAML 1.0
title: RAMADDA
version: 1.0.0
baseUri: 'http://geodesystems.com/'
protocols:
  - HTTP
description: 'Search for data in lots of places - manage your documents, photos and critical business knowledge - communicate and coordinate with blogs, interactive wikis, and data integration dashboards.'
(oas-tags-definition):
  - description: Grid point data API
    name: gridaspoint
  - description: Grid subset API
    name: gridsubset
  - description: Point data API
    name: point
  - description: ' API for Make images from DICOM'
    name: service/bio_dicom_image
  - description: ' API for View DICOM attributes'
    name: service/bio_dicom_txt
  - description: ' API for Convert HMMER File'
    name: service/bio_hmmer_convert
  - description: ' API for Run HMMEMIT'
    name: service/bio_hmmer_emit
  - description: ' API for Run HMMFETCH'
    name: service/bio_hmmer_fetch
  - description: ' API for Run HMMSTAT'
    name: service/bio_hmmer_stat
  - description: ' API for Convert image using bfconvert'
    name: service/bio_ome_bfconvert
  - description: ' API for Extract ome metadata'
    name: service/bio_ome_xml
  - description: ' API for Add Or Replace Read Groups'
    name: service/bio_picard_addorreplacegroups
  - description: ' API for Alignment Summary Statistics'
    name: service/bio_picard_collectalignmentsummarymetrics
  - description: ' API for Convert FASTQ to SAM'
    name: service/bio_picard_fastqtosam
  - description: ' API for Convert SAM to FASTQ'
    name: service/bio_picard_samtofastq
  - description: ' API for SRA pileup'
    name: service/bio_sra_pileup
  - description: ' API for SRA stats'
    name: service/bio_sra_stat
  - description: ' API for Convert SRA to ABI format'
    name: service/bio_sra_to_abi
  - description: ' API for Convert SRA to FASTQ'
    name: service/bio_sra_to_fastq
  - description: ' API for Convert SRA to ILLUMA format'
    name: service/bio_sra_to_illuma
  - description: ' API for Convert SRA to SAM'
    name: service/bio_sra_to_sam
  - description: ' API for Convert SRA to SFF format'
    name: service/bio_sra_to_sff
  - description: ' API for GDAL Info'
    name: service/gdal_info
  - description: ' API for Create image from GeoTIFF/NITF'
    name: service/gdal_tiff2image
  - description: ' API for CDO Info'
    name: service/geo_cdo_info
  - description: ' API for CDO Date Select'
    name: service/geo_cdo_seldate
  - description: ' API for H5 LS'
    name: service/geo_h5_ls
  - description: ' API for NCO Weighted Average'
    name: service/geo_nco_ncwa
  - description: ' API for View GPS QC'
    name: service/gps.teqc.qc
  - description: ' API for Convert to RINEX'
    name: service/gps.teqc.torinex
  - description: ' API for Gristle Determinator'
    name: service/gristle_determinator
  - description: ' API for Gristle Slicer'
    name: service/gristle_slicer
  - description: ' API for Make animated GIF'
    name: service/imagemagick_animate
  - description: ' API for Convert Image'
    name: service/imagemagick_convert
  - description: ' API for Test Convert Image'
    name: service/imagemagick_convert_test
  - description: ' API for Identify image'
    name: service/imagemagick_identify
  - description: ' API for Polaroid image'
    name: service/imagemagick_polaroid
  - description: ' API for Strip EXIF Metadata'
    name: service/imagemagick_strip
  - description: ' API for Extract sheets'
    name: service/media_tabular_extractsheet
  - description: Search API for 'Before and After Images' entry type
    name: type/beforeafter
  - description: Search API for 'Bibliographic Entry' entry type
    name: type/biblio
  - description: Search API for 'DICOM File' entry type
    name: type/bio_dicom
  - description: Search API for 'DICOM Test File' entry type
    name: type/bio_dicom_test
  - description: Search API for 'FASTA File' entry type
    name: type/bio_fasta
  - description: Search API for 'FASTQ File' entry type
    name: type/bio_fastq
  - description: Search API for 'HMMER Index File' entry type
    name: type/bio_hmmer_index
  - description: Search API for 'OME TIFF File' entry type
    name: type/bio_ome_tiff
  - description: Search API for 'Assay' entry type
    name: type/bio_ontology_assay
  - description: Search API for 'Cohort' entry type
    name: type/bio_ontology_cohort
  - description: Search API for 'Person' entry type
    name: type/bio_ontology_person
  - description: Search API for 'Sample' entry type
    name: type/bio_ontology_sample
  - description: Search API for 'Series' entry type
    name: type/bio_ontology_series
  - description: Search API for 'Study' entry type
    name: type/bio_ontology_study
  - description: Search API for 'SAM Data' entry type
    name: type/bio_sam
  - description: Search API for 'PDB Protein File' entry type
    name: type/bio_sf_pdb
  - description: Search API for 'Sequence Read Archive' entry type
    name: type/bio_sra
  - description: Search API for 'Stockholm File' entry type
    name: type/bio_stockholm
  - description: Search API for 'Taxonomic Entry' entry type
    name: type/bio_taxonomy
  - description: Search API for 'Weblog Entry' entry type
    name: type/blogentry
  - description: Search API for 'Bookmarks' entry type
    name: type/bookmarks
  - description: Search API for 'Boulder County Voter Details' entry type
    name: type/boulder_county_voter_details
  - description: Search API for 'Calendar' entry type
    name: type/calendar
  - description: Search API for 'Gridded Data File' entry type
    name: type/cdm_grid
  - description: Search API for 'Development Review Case' entry type
    name: type/community_case
  - description: Search API for 'Data Hub' entry type
    name: type/community_datahub
  - description: Search API for 'Facility' entry type
    name: type/community_resource
  - description: Search API for 'Contact List' entry type
    name: type/contact
  - description: Search API for 'Colorado Health Indicators' entry type
    name: type/db_co_indicators
  - description: Search API for 'MERRA Data' entry type
    name: type/earth_merra
  - description: Search API for 'Landsat Satellite Data' entry type
    name: type/earth_satellite_landsat
  - description: Search API for 'Aqua Modis Satellite Data' entry type
    name: type/earth_satellite_modis_aqua
  - description: Search API for 'WRF Namelist File' entry type
    name: type/earth_wrf_namelist
  - description: Search API for 'Exercise' entry type
    name: type/exercise
  - description: Search API for 'FAQ' entry type
    name: type/faq
  - description: Search API for 'RSS/ATOM Feed' entry type
    name: type/feed
  - description: Search API for 'File' entry type
    name: type/file
  - description: Search API for 'FITS Data File' entry type
    name: type/fits_data
  - description: Search API for 'IFrames' entry type
    name: type/frames
  - description: Search API for 'Remote FTP File View' entry type
    name: type/ftp
  - description: Search API for 'Clock' entry type
    name: type/gadgets_clock
  - description: Search API for 'Countdown' entry type
    name: type/gadgets_countdown
  - description: Search API for 'Stock Ticker' entry type
    name: type/gadgets_stock
  - description: Search API for 'Weather' entry type
    name: type/gadgets_weather
  - description: Search API for 'Google Docs View' entry type
    name: type/gdata_docs
  - description: Search API for 'Google Web Albums View' entry type
    name: type/gdata_photos
  - description: Search API for 'GeoTIFF' entry type
    name: type/geo_geotiff
  - description: Search API for 'GPX GPS File' entry type
    name: type/geo_gpx
  - description: Search API for 'HDF5 File' entry type
    name: type/geo_hdf5
  - description: Search API for 'KML/KMZ File' entry type
    name: type/geo_kml
  - description: Search API for 'Shapefile' entry type
    name: type/geo_shapefile
  - description: Search API for 'Glossary' entry type
    name: type/glossary
  - description: Search API for 'Grid Aggregation' entry type
    name: type/gridaggregation
  - description: Search API for 'Folder' entry type
    name: type/group
  - description: Search API for 'HipChat Group' entry type
    name: type/hipchat_group
  - description: Search API for 'Home Page' entry type
    name: type/homepage
  - description: Search API for 'Incident' entry type
    name: type/incident
  - description: Search API for 'Basement Flooding' entry type
    name: type/incident_basement
  - description: Search API for 'Investigation' entry type
    name: type/investigation_case
  - description: Search API for 'Cell Phone Log' entry type
    name: type/investigation_cellphonelog
  - description: Search API for 'Event' entry type
    name: type/investigation_event
  - description: Search API for 'Old Phone Log' entry type
    name: type/investigation_oldphonelog
  - description: Search API for 'Person' entry type
    name: type/investigation_person
  - description: Search API for 'Thing' entry type
    name: type/investigation_thing
  - description: Search API for 'WMS Image' entry type
    name: type/latlonimage
  - description: Search API for 'LiDAR Collection' entry type
    name: type/lidar_collection
  - description: Search API for 'GLAS Lidar Data' entry type
    name: type/lidar_glas
  - description: Search API for 'LAS Lidar Data' entry type
    name: type/lidar_las
  - description: Search API for 'LVIS Lidar Data' entry type
    name: type/lidar_lvis
  - description: Search API for 'Link' entry type
    name: type/link
  - description: Search API for 'Server Side Files' entry type
    name: type/localfiles
  - description: Search API for 'Locations' entry type
    name: type/locations
  - description: Search API for 'Google Map URL' entry type
    name: type/map_googlemap
  - description: Search API for 'Audio File' entry type
    name: type/media_audiofile
  - description: Search API for 'Image Loop' entry type
    name: type/media_imageloop
  - description: Search API for 'Photo Album' entry type
    name: type/media_photoalbum
  - description: Search API for 'Video Channel' entry type
    name: type/media_video_channel
  - description: Search API for 'Quicktime Video' entry type
    name: type/media_video_quicktime
  - description: Search API for 'YouTube Video' entry type
    name: type/media_youtubevideo
  - description: Search API for 'Multiple Search' entry type
    name: type/multisearch
  - description: Search API for 'NGA Tracks' entry type
    name: type/nga_tracks
  - description: Search API for 'Notes' entry type
    name: type/notes
  - description: Search API for 'Note' entry type
    name: type/notes_note
  - description: Search API for 'OPeNDAP Link' entry type
    name: type/opendaplink
  - description: Search API for 'OWL Class' entry type
    name: type/owl.class
  - description: Search API for 'OWL Ontology' entry type
    name: type/owl.ontology
  - description: Search API for 'Paste Text Entry' entry type
    name: type/pasteitentry
  - description: Search API for 'Text Point Data' entry type
    name: type/point_text
  - description: Search API for 'Poll' entry type
    name: type/poll
  - description: Search API for 'Campaign' entry type
    name: type/project_campaign
  - description: Search API for 'Case Study' entry type
    name: type/project_casestudy
  - description: Search API for 'Research Contribution' entry type
    name: type/project_contribution
  - description: Search API for 'Data Format' entry type
    name: type/project_dataformat
  - description: Search API for 'Dataset' entry type
    name: type/project_dataset
  - description: Search API for 'Deployment' entry type
    name: type/project_deployment
  - description: Search API for 'Experiment' entry type
    name: type/project_experiment
  - description: Search API for 'Field Note' entry type
    name: type/project_fieldnote
  - description: Search API for 'Control Points File' entry type
    name: type/project_gps_controlpoints
  - description: Search API for 'Raw GPS File' entry type
    name: type/project_gps_raw
  - description: Search API for 'RINEX File' entry type
    name: type/project_gps_rinex
  - description: Search API for 'Instrument Data Collection' entry type
    name: type/project_instrument
  - description: Search API for 'Teaching Resource' entry type
    name: type/project_learning_resource
  - description: Search API for 'Meeting' entry type
    name: type/project_meeting
  - description: Search API for 'Organization' entry type
    name: type/project_organization
  - description: Search API for 'Program' entry type
    name: type/project_program
  - description: Search API for 'Project' entry type
    name: type/project_project
  - description: Search API for 'Data Access Service' entry type
    name: type/project_service
  - description: Search API for 'Site' entry type
    name: type/project_site
  - description: Search API for 'Software Tool' entry type
    name: type/project_softwarepackage
  - description: Search API for 'Standard Parameter Name' entry type
    name: type/project_standard_name
  - description: Search API for 'Survey Location' entry type
    name: type/project_surveylocation
  - description: Search API for 'Vocabulary Term' entry type
    name: type/project_term
  - description: Search API for 'Site Visit' entry type
    name: type/project_visit
  - description: Search API for 'Vocabulary' entry type
    name: type/project_vocabulary
  - description: Search API for 'Property Sales' entry type
    name: type/property_sales
  - description: Search API for 'Property Database' entry type
    name: type/propertydb
  - description: Search API for 'IPython Notebook file' entry type
    name: type/python_notebook
  - description: Search API for 'Registrations' entry type
    name: type/registrations
  - description: Search API for 'Slack Team' entry type
    name: type/slack_team
  - description: Search API for 'Status Board' entry type
    name: type/statusboard
  - description: Search API for 'Tasks' entry type
    name: type/tasks
  - description: Search API for 'Todo' entry type
    name: type/todo
  - description: Search API for 'Event' entry type
    name: type/trip_event
  - description: Search API for 'Flight Leg' entry type
    name: type/trip_flight
  - description: Search API for 'Lodging' entry type
    name: type/trip_hotel
  - description: Search API for 'Trip Report' entry type
    name: type/trip_report
  - description: Search API for 'Trip' entry type
    name: type/trip_trip
  - description: Search API for 'Artists Space' entry type
    name: type/type_artists_space
  - description: Search API for 'AWC Weather Observations' entry type
    name: type/type_awc_metar
  - description: Search API for 'aWhere Farm' entry type
    name: type/type_awhere_farm
  - description: Search API for 'aWhere Field' entry type
    name: type/type_awhere_field
  - description: Search API for 'Stock Ticker Data' entry type
    name: type/type_biz_stockseries
  - description: Search API for 'US Census ACS Data' entry type
    name: type/type_census_acs
  - description: Search API for 'Database Table' entry type
    name: type/type_db_table
  - description: Search API for 'CSV File' entry type
    name: type/type_document_csv
  - description: Search API for 'Microsoft Word File' entry type
    name: type/type_document_doc
  - description: Search API for 'HTML File' entry type
    name: type/type_document_html
  - description: Search API for 'PDF File' entry type
    name: type/type_document_pdf
  - description: Search API for 'Microsoft Powerpoint File' entry type
    name: type/type_document_ppt
  - description: Search API for 'Microsoft Excel File' entry type
    name: type/type_document_xls
  - description: Search API for 'SEC EDGAR Filing' entry type
    name: type/type_edgar_filing
  - description: Search API for 'EIA Category' entry type
    name: type/type_eia_category
  - description: Search API for 'EIA Series' entry type
    name: type/type_eia_series
  - description: Search API for 'ESRI Feature Server' entry type
    name: type/type_esri_featureserver
  - description: Search API for 'ESRI Geometry Server' entry type
    name: type/type_esri_geometryserver
  - description: Search API for 'ESRI GP Server' entry type
    name: type/type_esri_gpserver
  - description: Search API for 'ESRI Image Server' entry type
    name: type/type_esri_imageserver
  - description: Search API for 'ESRI Layer' entry type
    name: type/type_esri_layer
  - description: Search API for 'ESRI Map Server' entry type
    name: type/type_esri_mapserver
  - description: Search API for 'ESRI Services Folder' entry type
    name: type/type_esri_restfolder
  - description: Search API for 'ESRI Web Server' entry type
    name: type/type_esri_restserver
  - description: Search API for 'ESRI Rest Service' entry type
    name: type/type_esri_restservice
  - description: Search API for 'FRED Category' entry type
    name: type/type_fred_category
  - description: Search API for 'FRED Series' entry type
    name: type/type_fred_series
  - description: Search API for 'Transit Agency' entry type
    name: type/type_gtfs_agency
  - description: Search API for 'Transit Route' entry type
    name: type/type_gtfs_route
  - description: Search API for 'Transit Route Collection' entry type
    name: type/type_gtfs_routes
  - description: Search API for 'Transit Stop' entry type
    name: type/type_gtfs_stop
  - description: Search API for 'Transit Stop Collection' entry type
    name: type/type_gtfs_stops
  - description: Search API for 'Transit Trip' entry type
    name: type/type_gtfs_trip
  - description: Search API for 'Hazard Data' entry type
    name: type/type_hazarddata
  - description: Search API for 'Colorado DNR Stream Gage' entry type
    name: type/type_hydro_colorado
  - description: Search API for 'IDV Bundle' entry type
    name: type/type_idv_bundle
  - description: Search API for 'Image' entry type
    name: type/type_image
  - description: Search API for 'Airport Image' entry type
    name: type/type_image_airport
  - description: Search API for 'MB Bathymetry' entry type
    name: type/type_mb
  - description: Search API for 'Bathymetry Collection' entry type
    name: type/type_mb_collection
  - description: Search API for 'Basic MB point file' entry type
    name: type/type_mb_point_basic
  - description: 'Search API for ''Data Dictionary: Metadata Collection'' entry type'
    name: type/type_metameta_collection
  - description: 'Search API for ''Data Dictionary: Metadata Dictionary'' entry type'
    name: type/type_metameta_dictionary
  - description: 'Search API for ''Data Dictionary: Metadata Field'' entry type'
    name: type/type_metameta_field
  - description: Search API for 'CODATA Fundamental Physical Constants' entry type
    name: type/type_nist_constant
  - description: Search API for 'NIST Ionization Energy Data' entry type
    name: type/type_nist_energy
  - description: Search API for 'NIST Isotope' entry type
    name: type/type_nist_isotope
  - description: Search API for 'NIST JANAF Thermochemical Table' entry type
    name: type/type_nist_janaffile
  - description: Search API for 'NITF File' entry type
    name: type/type_nitf
  - description: Search API for 'Ameriflux Level 2 CSV File' entry type
    name: type/type_point_ameriflux_level2
  - description: Search API for 'AMRC Final QC Data' entry type
    name: type/type_point_amrc_final
  - description: Search API for 'AMRC Freewave  Data' entry type
    name: type/type_point_amrc_freewave
  - description: Search API for 'Point Data Collection' entry type
    name: type/type_point_collection
  - description: Search API for 'CZO Display File Format' entry type
    name: type/type_point_czo
  - description: Search API for 'GC-Net Point Data' entry type
    name: type/type_point_gcnet
  - description: Search API for 'IAGA 2002 Geomagnetism Data' entry type
    name: type/type_point_geomag_iaga2002
  - description: Search API for 'WaterML' entry type
    name: type/type_point_hydro_waterml
  - description: Search API for 'ATM Ice SSN Data' entry type
    name: type/type_point_icebridge_atm_icessn
  - description: Search API for 'ATM QFIT Data' entry type
    name: type/type_point_icebridge_atm_qfit
  - description: Search API for 'McCords Irmcr2 Data' entry type
    name: type/type_point_icebridge_mccords_irmcr2
  - description: Search API for 'McCords Irmcr3 Data' entry type
    name: type/type_point_icebridge_mccords_irmcr3
  - description: Search API for 'Paris Data' entry type
    name: type/type_point_icebridge_paris
  - description: Search API for 'IDV Point File' entry type
    name: type/type_point_idv
  - description: Search API for 'NC  DC Climate Data' entry type
    name: type/type_point_ncdc_climate
  - description: Search API for 'NetCDF Point File' entry type
    name: type/type_point_netcdf
  - description: Search API for 'NOAA Carbon Measurements' entry type
    name: type/type_point_noaa_carbon
  - description: Search API for 'NOAA Flask Event Measurements' entry type
    name: type/type_point_noaa_flask_event
  - description: Search API for 'NOAA Flask Month Measurements' entry type
    name: type/type_point_noaa_flask_month
  - description: Search API for 'NOAA MADIS Point Data' entry type
    name: type/type_point_noaa_madis
  - description: Search API for 'NOAA Tower Network' entry type
    name: type/type_point_noaa_tower
  - description: Search API for 'SeaBird CNV Data' entry type
    name: type/type_point_ocean_cnv
  - description: Search API for 'SADO TTS Data' entry type
    name: type/type_point_ocean_csv_sado_TTS
  - description: Search API for 'SADO Meteo Data' entry type
    name: type/type_point_ocean_csv_sado_meteo
  - description: Search API for 'SADO Position Data' entry type
    name: type/type_point_ocean_csv_sado_position
  - description: Search API for 'NetCDF Glider Data' entry type
    name: type/type_point_ocean_netcdf_glider
  - description: Search API for 'NetCDF Track Data' entry type
    name: type/type_point_ocean_netcdf_track
  - description: Search API for 'OOI Data' entry type
    name: type/type_point_ocean_ooi_dmgx
  - description: Search API for 'PBO Position Time Series' entry type
    name: type/type_point_pbo_position_time_series
  - description: Search API for 'SNOTEL Snow Data' entry type
    name: type/type_point_snotel
  - description: Search API for 'Global Geodynamics GGP Format' entry type
    name: type/type_point_wsbb_ggp
  - description: Search API for 'MISO Foreacast XML' entry type
    name: type/type_power_miso_forecast
  - description: Search API for 'NOAA-ESRL-PSD Monthly Climate Index' entry type
    name: type/type_psd_monthly_climate_index
  - description: Search API for 'QUANDL Series' entry type
    name: type/type_quandl_series
  - description: Search API for 'Resiliency Assessment' entry type
    name: type/type_resilience_assessment
  - description: Search API for 'Resiliency Project' entry type
    name: type/type_resilience_project
  - description: Search API for 'Reuters Document' entry type
    name: type/type_reuters_document
  - description: Search API for 'Service Group' entry type
    name: type/type_service_group
  - description: Search API for 'Service Link' entry type
    name: type/type_service_link
  - description: Search API for 'SOCRATA Series' entry type
    name: type/type_socrata_series
  - description: Search API for 'MetroTrends Employment Data' entry type
    name: type/type_urbaninstitute_employment
  - description: Search API for 'USDA ARMS Crop Data' entry type
    name: type/type_usda_arms_crop
  - description: Search API for 'USDA ARMS Finance Data' entry type
    name: type/type_usda_arms_finance
  - description: Search API for 'USDA NASS Data' entry type
    name: type/type_usda_nass
  - description: Search API for 'Virtual Group' entry type
    name: type/type_virtual
  - description: Search API for 'WMS Capabilities' entry type
    name: type/type_wms_capabilities
  - description: Search API for 'WMS Layer' entry type
    name: type/type_wms_layer
  - description: Search API for 'Simple Yes-No Vote' entry type
    name: type/vote_yesno
  - description: Search API for 'Weblog' entry type
    name: type/weblog
  - description: Search API for 'Wiki Page' entry type
    name: type/wikipage
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_geodesystems.com_repository_images_geodesystems.png'
  (oas-x-origin):
    format: swagger
    url: 'http://geodesystems.com/repository/swagger/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): geodesystems.com
securitySchemes:
  basic:
    type: Basic Authentication
    description: Basic HTTP Authentication
/repository:
  displayName: repository
  /search:
    displayName: search
    /type:
      displayName: type
      /project_visit:
        displayName: project_visit
        get:
          displayName: search_project_visit
          description: API to search for entries of type Site Visit
          (oas-summary): Search API for 'Site Visit' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/project_visit
      /wikipage:
        displayName: wikipage
        get:
          displayName: search_wikipage
          description: API to search for entries of type Wiki Page
          (oas-summary): Search API for 'Wiki Page' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.wikipage.wikitext:
              description: Wiki Text
              required: false
              type: string
            search.wikipage.category:
              description: Wiki Page Category
              required: false
              type: string
          (oas-tags):
            - type/wikipage
      /project_vocabulary:
        displayName: project_vocabulary
        get:
          displayName: search_project_vocabulary
          description: API to search for entries of type Vocabulary
          (oas-summary): Search API for 'Vocabulary' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/project_vocabulary
      /property_sales:
        displayName: property_sales
        get:
          displayName: search_property_sales
          description: API to search for entries of type Property Sales
          (oas-summary): Search API for 'Property Sales' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.db_property_sales.property_address:
              description: Property Address
              required: false
              type: string
            search.db_property_sales.city:
              description: City
              required: false
              type: string
            search.db_property_sales.zipcode:
              description: Zip Code
              required: false
              type: string
            search.db_property_sales.sale_price:
              description: Sale Price
              format: double
              required: false
              type: number
            search.db_property_sales.sale_date:
              description: Sale Date
              required: false
              type: string
            search.db_property_sales.seller:
              description: Seller
              required: false
              type: string
            search.db_property_sales.buyer:
              description: Buyer
              required: false
              type: string
            search.db_property_sales.type:
              description: Property Type
              required: false
              type: string
            search.db_property_sales.building_description:
              description: Building Description
              required: false
              type: string
            search.db_property_sales.building_design:
              description: Building Design
              required: false
              type: string
            search.db_property_sales.subdivision:
              description: Subdivision
              required: false
              type: string
            search.db_property_sales.location:
              description: Location
              required: false
              type: string
          (oas-tags):
            - type/property_sales
      /biblio:
        displayName: biblio
        get:
          displayName: search_biblio
          description: API to search for entries of type Bibliographic Entry
          (oas-summary): Search API for 'Bibliographic Entry' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.biblio.primary_author:
              description: Primary Author
              required: false
              type: string
            search.biblio.type:
              description: Publication Type
              required: false
              type: string
            search.biblio.institution:
              description: Institution
              required: false
              type: string
            search.biblio.other_authors:
              description: Other Authors
              required: false
              type: string
            search.biblio.publication:
              description: Publication
              required: false
              type: string
          (oas-tags):
            - type/biblio
      /propertydb:
        displayName: propertydb
        get:
          displayName: search_propertydb
          description: API to search for entries of type Property Database
          (oas-summary): Search API for 'Property Database' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.db_propertydb.property_id:
              description: Property ID
              required: false
              type: string
            search.db_propertydb.owner:
              description: Owner
              required: false
              type: string
            search.db_propertydb.address:
              description: Address
              required: false
              type: string
            search.db_propertydb.city:
              description: City
              required: false
              type: string
            search.db_propertydb.state:
              description: State
              required: false
              type: string
            search.db_propertydb.value:
              description: Property Value
              required: false
              type: integer
            search.db_propertydb.building_type:
              description: Building Type
              required: false
              type: string
            search.db_propertydb.house_size:
              description: Building Sq Ft
              required: false
              type: integer
            search.db_propertydb.lot_sqft:
              description: Lot Size Sq Ft
              required: false
              type: integer
            search.db_propertydb.lot_acres:
              description: Lot Size Acres
              format: double
              required: false
              type: number
            search.db_propertydb.price_sqft:
              description: $-sqft
              format: double
              required: false
              type: number
            search.db_propertydb.location:
              description: Location
              required: false
              type: string
          (oas-tags):
            - type/propertydb
      /bio_dicom_test:
        displayName: bio_dicom_test
        get:
          displayName: search_bio_dicom_test
          description: API to search for entries of type DICOM Test File
          (oas-summary): Search API for 'DICOM Test File' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.bio_dicom_test.PatientName:
              description: Patient Name
              required: false
              type: string
            search.bio_dicom_test.PatientID:
              description: Patient ID
              required: false
              type: string
          (oas-tags):
            - type/bio_dicom_test
      /python_notebook:
        displayName: python_notebook
        get:
          displayName: search_python_notebook
          description: API to search for entries of type IPython Notebook file
          (oas-summary): Search API for 'IPython Notebook file' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/python_notebook
      /bio_fastq:
        displayName: bio_fastq
        get:
          displayName: search_bio_fastq
          description: API to search for entries of type FASTQ File
          (oas-summary): Search API for 'FASTQ File' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/bio_fastq
      /registrations:
        displayName: registrations
        get:
          displayName: search_registrations
          description: API to search for entries of type Registrations
          (oas-summary): Search API for 'Registrations' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.db_registrations.date:
              description: Date
              required: false
              type: string
            search.db_registrations.type:
              description: Type
              required: false
              type: string
            search.db_registrations.name:
              description: Name
              required: false
              type: string
            search.db_registrations.email:
              description: Email
              required: false
              type: string
            search.db_registrations.organization:
              description: Organization
              required: false
              type: string
            search.db_registrations.country:
              description: Country
              required: false
              type: string
            search.db_registrations.state_province:
              description: State or Province
              required: false
              type: string
            search.db_registrations.postal_code:
              description: Postal Code
              required: false
              type: string
            search.db_registrations.url:
              description: RAMADDA Site URL
              required: false
              type: string
            search.db_registrations.users:
              description: '# users'
              required: false
              type: integer
            search.db_registrations.organization_type:
              description: Organization type
              required: false
              type: string
            search.db_registrations.support_tier:
              description: Support tier
              required: false
              type: string
          (oas-tags):
            - type/registrations
      /bio_ome_tiff:
        displayName: bio_ome_tiff
        get:
          displayName: search_bio_ome_tiff
          description: API to search for entries of type OME TIFF File
          (oas-summary): Search API for 'OME TIFF File' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/bio_ome_tiff
      /slack_team:
        displayName: slack_team
        get:
          displayName: search_slack_team
          description: API to search for entries of type Slack Team
          (oas-summary): Search API for 'Slack Team' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/slack_team
      /bio_ontology_cohort:
        displayName: bio_ontology_cohort
        get:
          displayName: search_bio_ontology_cohort
          description: API to search for entries of type Cohort
          (oas-summary): Search API for 'Cohort' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/bio_ontology_cohort
      /statusboard:
        displayName: statusboard
        get:
          displayName: search_statusboard
          description: API to search for entries of type Status Board
          (oas-summary): Search API for 'Status Board' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.db_statusboard.what:
              description: What
              required: false
              type: string
            search.db_statusboard.status:
              description: Status
              required: false
              type: string
          (oas-tags):
            - type/statusboard
      /bio_ontology_sample:
        displayName: bio_ontology_sample
        get:
          displayName: search_bio_ontology_sample
          description: API to search for entries of type Sample
          (oas-summary): Search API for 'Sample' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/bio_ontology_sample
      /tasks:
        displayName: tasks
        get:
          displayName: search_tasks
          description: API to search for entries of type Tasks
          (oas-summary): Search API for 'Tasks' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.db_tasks.title:
              description: Title
              required: false
              type: string
            search.db_tasks.priority:
              description: Priority
              required: false
              type: string
            search.db_tasks.status:
              description: Status
              required: false
              type: string
            search.db_tasks.complete:
              description: '% Complete'
              format: double
              required: false
              type: number
            search.db_tasks.assignedto:
              description: Assigned To
              required: false
              type: string
            search.db_tasks.startdate:
              description: Start Date
              required: false
              type: string
            search.db_tasks.enddate:
              description: End Date
              required: false
              type: string
          (oas-tags):
            - type/tasks
      /bio_ontology_study:
        displayName: bio_ontology_study
        get:
          displayName: search_bio_ontology_study
          description: API to search for entries of type Study
          (oas-summary): Search API for 'Study' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/bio_ontology_study
      /todo:
        displayName: todo
        get:
          displayName: search_todo
          description: API to search for entries of type Todo
          (oas-summary): Search API for 'Todo' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.db_todo.checked:
              description: Done
              required: false
              type: boolean
            search.db_todo.title:
              description: What
              required: false
              type: string
            search.db_todo.category:
              description: Category
              required: false
              type: string
          (oas-tags):
            - type/todo
      /bio_sf_pdb:
        displayName: bio_sf_pdb
        get:
          displayName: search_bio_sf_pdb
          description: API to search for entries of type PDB Protein File
          (oas-summary): Search API for 'PDB Protein File' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/bio_sf_pdb
      /trip_event:
        displayName: trip_event
        get:
          displayName: search_trip_event
          description: API to search for entries of type Event
          (oas-summary): Search API for 'Event' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/trip_event
      /bio_stockholm:
        displayName: bio_stockholm
        get:
          displayName: search_bio_stockholm
          description: API to search for entries of type Stockholm File
          (oas-summary): Search API for 'Stockholm File' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/bio_stockholm
      /trip_flight:
        displayName: trip_flight
        get:
          displayName: search_trip_flight
          description: API to search for entries of type Flight Leg
          (oas-summary): Search API for 'Flight Leg' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
          (oas-tags):
            - type/trip_flight
      /blogentry:
        displayName: blogentry
        get:
          displayName: search_blogentry
          description: API to search for entries of type Weblog Entry
          (oas-summary): Search API for 'Weblog Entry' entry type
          responses:
            '200':
              description: No response was specified
          queryParameters:
            text:
              description: Search text
              required: false
              type: string
            name:
              description: Search name
              required: false
              type: string
            description:
              description: Search description
              required: false
              type: string
            fromdate:
              description: From date
              format: rfc3339
              required: false
              type: datetime
            todate:
              description: To date
              format: rfc3339
              required: false
              type: datetime
            createdate.from:
              description: Archive create date from
              format: rfc3339
              required: false
              type: datetime
            createdate.to:
              description: Archive create date to
              format: rfc3339
              required: false
              type: datetime
            changedate.from:
              description: Archive change date from
              format: rfc3339
              required: false
              type: datetime
            changedate.to:
              description: Archive change date to
              format: rfc3339
              required: false
              type: datetime
            group:
              description: Parent entry
              required: false
              type: string
            filesuffix:
              description: File suffix
              required: false
              type: string
            maxlatitude:
              description: Northern bounds of search
              format: float
              required: false
              type: number
            minlongitude:
              description: Western bounds of search
              format: float
              required: false
              type: number
            minlatitude:
              description: Southern bounds of search
              format: float
              required: false
              type: number
            maxlongitude:
              description: Eastern bounds of search
              format: float
              required: false
              type: number
            max:
              description: Max number of results
              required: false
              type: integer
            skip:
              description: Number to skip
              required: false
              type: integer
            search.blogentry.blogtext:
              description: Extra Text
              required: false
              type: string
          (oas-tags):
            - type/blogentry
      /trip_hotel:
        displayName: trip_hotel
        get:
          displayName: search_trip_hotel
          description: API to search for entries of type Lodging
          (oas-summary): Search API for 'Lodging' entry type
          responses:
            '200':
[...]
