#%RAML 1.0
title: Getty Images
version: '3.0'
baseUri: 'https://api.gettyimages.com/'
protocols:
  - HTTPS
description: Build applications using the world's most powerful imagery
(oas-tags-definition):
  - name: AssetChanges
  - name: AssetRegistration
  - name: Boards
  - name: Collections
  - name: Countries
  - name: Downloads
  - name: Events
  - name: Images
  - name: Products
  - name: Purchases
  - name: Search
  - name: Usage
  - name: Videos
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-definition-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    backgroundColor: '#333333'
    url: 'https://api.apis.guru/v2/cache/logo/http_www.gettyimages.com_landing_assets_unisporkal_engine_images_getty-logo-negative-b117d413642b91fba020901fbd8949ba.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://api.gettyimages.com/swagger/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): gettyimages.com
securitySchemes:
  Api-Key:
    type: Pass Through
    describedBy:
      headers:
        Api-Key:
          type: string
    description: Provide your API key.
/v3:
  displayName: v3
  /events:
    displayName: events
    get:
      displayName: GET_v3-events
      description: Returns an array of event metadata
      (oas-summary): Get metadata for multiple events
      headers:
        Accept-Language:
          type: string
          description: Specifies the language of result values.
          required: false
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: false
      responses:
        '200':
          body:
            application/json:
              type: events_result
          description: OK
        '400':
          description: MalformedRequest
        '401':
          description: Unauthorized
        '404':
          description: EventNotFound
      queryParameters:
        fields:
          description: A comma separated list of fields to return in the response.
          items:
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
            type: string
          required: false
          type: array
        ids:
          description: A comma separated list of event ids.
          items:
            format: int32
            type: integer
          required: false
          type: array
      (oas-tags):
        - Events
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: An event id.
          format: int32
          required: true
          type: integer
      get:
        displayName: GET_v3-events-id
        description: Returns an array of event metadata
        (oas-summary): Get metadata for a single event
        headers:
          Accept-Language:
            type: string
            description: Specifies the language of result values.
            required: false
          Authorization:
            type: string
            description: 'Provide access token in the format of ''Bearer {token}''.'
            required: false
        responses:
          '200':
            body:
              application/json:
                type: event
            description: OK
          '400':
            description: MalformedRequest
          '401':
            description: Unauthorized
          '404':
            description: EventNotFound
        queryParameters:
          fields:
            description: A comma separated list of fields to return in the response.
            items:
              enum:
                - id
                - child_event_count
                - editorial_segments
                - hero_image
                - image_count
                - location
                - name
                - start_date
                - type
              type: string
            required: false
            type: array
        (oas-tags):
          - Events
  /videos:
    displayName: videos
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: A video id. For more than one video please use the /v3/video endpoint.
          required: true
          type: string
      get:
        displayName: GET_v3-videos-id
        (oas-summary): Get metadata for a single video by supplying one video id
        headers:
          Accept-Language:
            type: string
            description: Specifies the language of result values.
            required: false
          Authorization:
            type: string
            description: 'Provide access token in the format of ''Bearer {token}''.'
            required: false
        responses:
          '200':
            body:
              application/json:
                type: video_detail
            description: OK
          '400':
            description: MalformedRequest
          '401':
            description: Unauthorized
          '403':
            description: UnauthorizedDisplaySize
          '404':
            description: VideosNotFound
        queryParameters:
          fields:
            description: comma delimited list of fields to retrive for the video
            items:
              enum:
                - id
                - allowed_use
                - artist
                - asset_family
                - caption
                - clip_length
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - copyright
                - video_comp
                - date_created
                - detail_set
                - display_set
                - download_sizes
                - downloads
                - era
                - editorial_segments
                - keywords
                - license_model
                - mastered_to
                - originally_shot_on
                - video_preview
                - product_types
                - shot_speed
                - source
                - summary_set
                - video_thumb
                - title
              type: string
            required: false
            type: array
        (oas-tags):
          - Videos
    get:
      displayName: GET_v3-videos
      (oas-summary): Get metadata for multiple videos by supplying multiple video ids
      headers:
        Accept-Language:
          type: string
          description: Specifies the language of result values.
          required: false
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: false
      responses:
        '200':
          body:
            application/json:
              type: videos_detail
          description: OK
        '400':
          description: MalformedRequest
        '401':
          description: Unauthorized
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: VideosNotFound
      queryParameters:
        ids:
          description: Specifies one or more video ids to return. Use comma delimiter when requesting multiple ids.
          items:
            type: string
          required: true
          type: array
        fields:
          description: Specifies fields to return. Defaults to 'summary_set'.
          items:
            enum:
              - id
              - allowed_use
              - artist
              - asset_family
              - caption
              - clip_length
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - copyright
              - video_comp
              - date_created
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - era
              - editorial_segments
              - keywords
              - license_model
              - mastered_to
              - originally_shot_on
              - video_preview
              - product_types
              - shot_speed
              - source
              - summary_set
              - video_thumb
              - title
            type: string
          required: false
          type: array
      (oas-tags):
        - Videos
  /asset-changes:
    displayName: asset-changes
    /change-sets:
      displayName: change-sets
      put:
        displayName: PUT_v3-asset-changes-change-sets
        (oas-summary): Generates asset changes.
        headers:
          Accept-Language:
            type: string
            description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
            required: false
          Authorization:
            type: string
            description: Authorization token required. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.
            required: true
        responses:
          '200':
            body:
              application/json:
                type: AssetChanges
            description: No response was specified
          '403':
            description: Your access token does not authorize access to this resource
          '404':
            description: The channel you specified does not exist
        queryParameters:
          channel_id:
            description: Specifies the id of the channel for the asset data. Valid channel ids can be found in the results of the Get Partner Channel query.
            format: int32
            required: true
            type: integer
          batch_size:
            description: Specifies the number of assets to return. The default is 10; maximum is 500.
            format: int32
            required: false
            type: integer
        (oas-tags):
          - AssetChanges
      '/{change-set-id}':
        displayName: '{change-set-id}'
        uriParameters:
          change-set-id:
            description: Specify the change-set-id associated with a transaction resource whose receipt you want to confirm.
            format: int64
            required: true
            type: integer
        delete:
          displayName: DELETE_v3-asset-changes-change-sets-change-set-id
          (oas-summary): Confirm asset changes acknowledges receipt of asset changes.
          headers:
            Accept-Language:
              type: string
              description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
              required: false
            Authorization:
              type: string
              description: Authorization token required. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: No response was specified
            '403':
              description: Your access token does not authorize access to this resource
            '404':
              description: Transaction was not found
          (oas-tags):
            - AssetChanges
    /channels:
      displayName: channels
      get:
        displayName: GET_v3-asset-changes-channels
        (oas-summary): Retrieves the channel data for the partner. This data can be used to populate the channel_id parameter in the Put Asset Changes query.
        headers:
          Accept-Language:
            type: string
            description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
            required: false
          Authorization:
            type: string
            description: Authorization token required. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.
            required: true
        responses:
          '200':
            body:
              application/json:
                type: PartnerChannelList
            description: No response was specified
        (oas-tags):
          - AssetChanges
  /images:
    displayName: images
    get:
      displayName: GET_v3-images
      (oas-summary): Get metadata for multiple images by supplying multiple image ids
      headers:
        Accept-Language:
          type: string
          description: Specifies the language of result values.
          required: false
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: false
      responses:
        '200':
          body:
            application/json:
              type: images_detail
          description: OK
        '400':
          description: ImageIdMustBeSpecified
        '401':
          description: Unauthorized
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
      queryParameters:
        ids:
          description: Specifies one or more image ids to return. Use comma delimiter when requesting multiple ids.
          items:
            type: string
          required: true
          type: array
        fields:
          description: Specifies fields to return. Defaults to 'summary_set'.
          items:
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - artist_title
              - asset_family
              - call_for_image
              - caption
              - city
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - country
              - credit_line
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - editorial_segments
              - editorial_source
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - links
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - state_province
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          required: false
          type: array
      (oas-tags):
        - Images
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: An image id. For more than one image please use the /v3/images endpoint.
          required: true
          type: string
      get:
        displayName: GET_v3-images-id
        (oas-summary): Get metadata for a single image by supplying one image id
        headers:
          Accept-Language:
            type: string
            description: Specifies the language of result values.
            required: false
          Authorization:
            type: string
            description: 'Provide access token in the format of ''Bearer {token}''.'
            required: false
        responses:
          '200':
            body:
              application/json:
                type: images_detail
            description: OK
          '400':
            description: ImageIdMustBeSpecified
          '401':
            description: Unauthorized
          '403':
            description: UnauthorizedDisplaySize
          '404':
            description: ImageNotFound
        queryParameters:
          fields:
            description: Specifies fields to return. Defaults to 'summary_set'.
            items:
              enum:
                - allowed_use
                - alternative_ids
                - artist
                - artist_title
                - asset_family
                - call_for_image
                - caption
                - city
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - country
                - credit_line
                - date_camera_shot
                - date_created
                - date_submitted
                - detail_set
                - display_set
                - download_sizes
                - downloads
                - editorial_segments
                - editorial_source
                - event_ids
                - graphical_style
                - id
                - keywords
                - largest_downloads
                - license_model
                - links
                - max_dimensions
                - orientation
                - people
                - prestige
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - state_province
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            required: false
            type: array
        (oas-tags):
          - Images
      /similar:
        displayName: similar
        get:
          displayName: GET_v3-images-id-similar
          (oas-summary): Search for images similar to an image
          headers:
            Accept-Language:
              type: string
              description: Specifies the language of result values.
              required: false
            Authorization:
              type: string
              description: 'Provide access token in the format of ''Bearer {token}''.'
              required: false
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: OK
            '400':
              description: ImageIdMustBeSpecified
            '401':
              description: Unauthorized
            '403':
              description: UnauthorizedDisplaySize
            '404':
              description: ImageNotFound
          queryParameters:
            fields:
              description: Specifies fields to return. Defaults to 'summary_set'.
              items:
                enum:
                  - accessrestriction
                  - allowed_use
                  - alternative_ids
                  - artist
                  - asset_family
                  - call_for_image
                  - caption
                  - collection_code
                  - collection_id
                  - collection_name
                  - color_type
                  - comp
                  - copyright
                  - date_camera_shot
                  - date_created
                  - detail_set
                  - display_set
                  - editorial_segments
                  - editorial_source
                  - event_ids
                  - graphical_style
                  - id
                  - keywords
                  - largest_downloads
                  - license_model
                  - max_dimensions
                  - orientation
                  - people
                  - prestige
                  - preview
                  - product_types
                  - quality_rank
                  - referral_destinations
                  - summary_set
                  - thumb
                  - title
                  - uri_oembed
                type: string
              required: false
              type: array
            page:
              description: Identifies page to return. Default is 1.
              format: int32
              required: false
              type: integer
            page_size:
              description: 'Specifies page size. Default is 30, maximum page_size is 100.'
              format: int32
              required: false
              type: integer
          (oas-tags):
            - Images
  /boards:
    displayName: boards
    get:
      displayName: GET_v3-boards
      (oas-summary): <b>***BETA***</b> Get all boards that the user participates in
      headers:
        Authorization:
          type: string
          description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
          required: true
        Accept-Language:
          type: string
          description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
          required: false
      responses:
        '200':
          body:
            application/json:
              type: board_list
          description: OK
        '400':
          description: InvalidPageSize
        '401':
          description: Unauthorized
      queryParameters:
        page:
          description: Request results starting at a page number (default is 1).
          format: int32
          required: false
          type: integer
        page_size:
          description: Request number of boards to return in each page. (default is 30)
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Boards
    '/{board_id}':
      displayName: '{board_id}'
      uriParameters:
        board_id:
          description: A board ID.
          required: true
          type: string
      delete:
        displayName: DELETE_v3-boards-board_id
        (oas-summary): <b>***BETA***</b> Delete a board
        headers:
          Authorization:
            type: string
            description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
            required: true
          Accept-Language:
            type: string
            description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
            required: false
        responses:
          '200':
            description: No response was specified
          '204':
            description: BoardDeleted
          '400':
            description: InvalidParameterValue
          '401':
            description: Unauthorized
          '403':
            description: InsufficientAccess
          '404':
            description: BoardNotFound
        (oas-tags):
          - Boards
      put:
        displayName: PUT_v3-boards-board_id
        (oas-summary): <b>***BETA***</b> Update a board
        body:
          application/json:
            type: board_info
            (oas-body-name): board_info
            description: Specify the new name and description for the board (name is required).
        headers:
          Authorization:
            type: string
            description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
            required: true
          Accept-Language:
            type: string
            description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
            required: false
        responses:
          '200':
            description: No response was specified
          '204':
            description: Updated
          '400':
            description: BoardNameRequired
          '401':
            description: Unauthorized
          '403':
            description: InsufficientAccess
          '404':
            description: BoardNotFound
        (oas-tags):
          - Boards
      /assets:
        displayName: assets
        '/{asset_id}':
          displayName: '{asset_id}'
          uriParameters:
            asset_id:
              description: An asset ID.
              required: true
              type: string
          put:
            displayName: PUT_v3-boards-board_id-assets-asset_id
            (oas-summary): <b>***BETA***</b> Add an asset to a board
            headers:
              Authorization:
                type: string
                description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
                required: true
              Accept-Language:
                type: string
                description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
                required: false
            responses:
              '200':
                body:
                  application/json:
                    type: string
                description: No response was specified
              '201':
                description: Created
              '400':
                description: InvalidParameterValue
              '401':
                description: Unauthorized
              '403':
                description: InsufficientAccess
              '404':
                description: BoardNotFound
            (oas-tags):
              - Boards
          delete:
            displayName: DELETE_v3-boards-board_id-assets-asset_id
            (oas-summary): <b>***BETA***</b> Remove an asset from a board
            headers:
              Authorization:
                type: string
                description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
                required: true
              Accept-Language:
                type: string
                description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
                required: false
            responses:
              '200':
                description: No response was specified
              '204':
                description: AssetRemovedFromBoard
              '400':
                description: InvalidParameterValue
              '401':
                description: Unauthorized
              '403':
                description: InsufficientAccess
              '404':
                description: BoardNotFound
            (oas-tags):
              - Boards
      /comments:
        displayName: comments
        post:
          displayName: POST_v3-boards-board_id-comments
          (oas-summary): <b>***BETA***</b> Add a comment to a board
          body:
            application/json:
              type: comment_request
              (oas-body-name): comment
              description: Specifies the comment to be added to the board
          headers:
            Authorization:
              type: string
              description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
              required: true
            Accept-Language:
              type: string
              description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
              required: false
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: No response was specified
            '201':
              description: Created
            '400':
              description: InvalidParameterValue
            '401':
              description: Unauthorized
            '403':
              description: InsufficientAccess
            '404':
              description: BoardNotFound
          (oas-tags):
            - Boards
      get:
        displayName: GET_v3-boards-board_id
        (oas-summary): <b>***BETA***</b> Get assets and metadata for a specific board
        headers:
          Authorization:
            type: string
            description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
            required: true
          Accept-Language:
            type: string
            description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
            required: false
        responses:
          '200':
            body:
              application/json:
                type: board_detail
            description: OK
          '400':
            description: InvalidParameterValue
          '401':
            description: Unauthorized
          '404':
            description: BoardNotFound
        (oas-tags):
          - Boards
    post:
      displayName: POST_v3-boards
      (oas-summary): <b>***BETA***</b> Create a new board
      body:
        application/json:
          type: board_info
          (oas-body-name): new_board
          description: Name and description of board to create (name is required)
      headers:
        Authorization:
          type: string
          description: Authorization token required. Used for applying content access restrictions. Use the OAuth2 Resource Owner Grant to auto-populate this value.
          required: true
        Accept-Language:
          type: string
          description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
          required: false
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
        '201':
          description: Created
        '400':
          description: BoardNameRequired
        '401':
          description: Unauthorized
      (oas-tags):
        - Boards
  /products:
    displayName: products
    get:
      displayName: GET_v3-products
      (oas-summary): Get Products
      headers:
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: true
        Accept-Language:
          type: string
          description: Specifies the language of result values.
          required: false
      responses:
        '200':
          body:
            application/json:
              type: ProductsResult
          description: OK
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
      queryParameters:
        fields:
          description: Comma separated list of fields. Allows product download requirements to be returned.
          items:
            enum:
              - download_requirements
            type: string
          required: false
          type: array
      (oas-tags):
        - Products
  /purchased-assets:
    displayName: purchased-assets
    get:
      displayName: GET_v3-purchased-assets
      (oas-summary): Get Previously Purchased Images and Video
      headers:
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: true
      responses:
        '200':
          body:
            application/json:
              type: PreviousAssetPurchases
          description: OK
        '401':
          description: Unauthorized
      queryParameters:
        date_from:
          description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: rfc3339
          required: false
          type: datetime
        date_to:
          description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: rfc3339
          required: false
          type: datetime
        page:
          description: Identifies page to return. Default is 1.
          format: int32
          required: false
          type: integer
        page_size:
          description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Purchases
  /purchased-images:
    displayName: purchased-images
    get:
      displayName: GET_v3-purchased-images
      (oas-summary): Get Previously Purchased Images
      headers:
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: true
      responses:
        '200':
          body:
            application/json:
              type: PreviousPurchases
          description: OK
        '401':
          description: Unauthorized
      queryParameters:
        date_from:
          description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: rfc3339
          required: false
          type: datetime
        date_to:
          description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: rfc3339
          required: false
          type: datetime
        page:
          description: Identifies page to return. Default is 1.
          format: int32
          required: false
          type: integer
        page_size:
          description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Purchases
  /collections:
    displayName: collections
    get:
      displayName: GET_v3-collections
      (oas-summary): Gets collections applicable for the customer.
      headers:
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: true
        Accept-Language:
          type: string
          description: Specifies the language of result values.
          required: false
      responses:
        '200':
          body:
            application/json:
              type: collections
          description: OK
        '401':
          description: Unauthorized
      (oas-tags):
        - Collections
  /search:
    displayName: search
    /events:
      displayName: events
      get:
        displayName: GET_v3-search-events
        (oas-summary): Search for events
        headers:
          Accept-Language:
            type: string
            description: Specifies the language of result values.
            required: false
          Authorization:
            type: string
            description: 'Provide access token in the format of ''Bearer {token}''.'
            required: false
        responses:
          '200':
            body:
              application/json:
                type: events_result
            description: OK
          '400':
            description: MalformedRequest
          '401':
            description: Unauthorized
          '403':
            description: NoAccessToProductType
        queryParameters:
          editorial_segment:
            description: Filters to events with a matching editorial segment.
            enum:
              - archival
              - entertainment
              - news
              - publicity
              - royalty
              - sport
            required: true
            type: string
          date_from:
            description: 'Filters to events that start on or after this date. Use ISO 8601 format (e.g., 1999-12-31).'
            format: rfc3339
            required: false
            type: datetime
          date_to:
            description: 'Filters to events that start on or before this date. Use ISO 8601 format (e.g., 1999-12-31).'
            format: rfc3339
            required: false
            type: datetime
          fields:
            description: 'Specifies fields to return. Default set is ''id'',''name'',''start_date''.'
            items:
              enum:
                - id
                - child_event_count
                - editorial_segments
                - hero_image
                - image_count
                - location
                - name
                - start_date
                - type
              type: string
            required: false
            type: array
        (oas-tags):
          - Search
    /images:
      displayName: images
      get:
        displayName: GET_v3-search-images
        (oas-summary): Search for both creative and editorial images
        headers:
          Accept-Language:
            type: string
            description: Specifies the language of result values.
            required: false
          Authorization:
            type: string
            description: 'Provide access token in the format of ''Bearer {token}''.'
            required: false
        responses:
          '200':
            body:
              application/json:
                type: image_search_results
            description: OK
          '400':
            description: InvalidColor
          '401':
            description: Unauthorized
          '403':
            description: NoAccessToProductType
        queryParameters:
          age_of_people:
            description: Filter based on the age of individuals in an image.
            items:
              enum:
                - newborn
                - baby
                - child
                - teenager
                - young_adult
                - adult
                - adults_only
                - mature_adult
                - senior_adult
                - months_0_1
                - months_2_5
                - months_6_11
                - months_12_17
                - months_18_23
                - years_2_3
                - years_4_5
                - years_6_7
                - years_8_9
                - years_10_11
                - years_12_13
                - years_14_15
                - years_16_17
                - years_18_19
                - years_20_24
                - years_20_29
                - years_25_29
                - years_30_34
                - years_30_39
                - years_35_39
                - years_40_44
                - years_40_49
                - years_45_49
                - years_50_54
                - years_50_59
                - years_55_59
                - years_60_64
                - years_60_69
                - years_65_69
                - years_70_79
                - years_80_89
                - over_90
                - over_100
              type: string
            required: false
            type: array
          artists:
            description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
            required: false
            type: string
          collection_codes:
            description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
            items:
              type: string
            required: false
            type: array
          collections_filter_type:
            description: Provides searching based on specified collection(s).
            enum:
              - include
              - exclude
            required: false
            type: string
          color:
            description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244).'
            required: false
            type: string
          compositions:
            description: Filter based on image composition.
            items:
              enum:
                - abstract
                - candid
                - close_up
                - copy_space
                - cut_out
                - full_frame
                - full_length
                - headshot
                - looking_at_camera
                - macro
                - portrait
                - sparse
                - still_life
                - three_quarter_length
                - waist_up
              type: string
            required: false
            type: array
          embed_content_only:
            description: Restrict search results to embeddable images. The default is false.
            required: false
            type: boolean
          ethnicity:
            description: Filter search results based on the ethnicity of individuals in an image.
            items:
              enum:
                - black
                - caucasian
                - east_asian
                - hispanic_latino
                - japanese
                - middle_eastern
                - mixed_race_person
                - multiethnic_group
                - native_american_first_nations
                - pacific_islander
                - south_asian
                - southeast_asian
              type: string
            required: false
            type: array
          event_ids:
            description: Filter based on specific events
            items:
              format: int32
              type: integer
            required: false
            type: array
          exclude_nudity:
            description: Excludes images containing nudity. The default is false.
            required: false
            type: boolean
          fields:
            description: Specifies fields to return. Defaults to 'summary_set'.
            items:
              enum:
                - accessrestriction
                - allowed_use
                - alternative_ids
                - artist
                - asset_family
                - call_for_image
                - caption
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - date_camera_shot
                - date_created
                - detail_set
                - display_set
                - editorial_segments
                - editorial_source
                - event_ids
                - graphical_style
                - id
                - keywords
                - largest_downloads
                - license_model
                - max_dimensions
                - orientation
                - people
                - prestige
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            required: false
            type: array
          file_types:
            description: Return only images having a specific file type.
            items:
              enum:
                - eps
                - gif
                - jpg
                - png
              type: string
            required: false
            type: array
          graphical_styles:
            description: Filter based on graphical style of the image.
            items:
              enum:
                - fine_art
                - illustration
                - photography
              type: string
            required: false
            type: array
          keyword_ids:
            description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
            items:
              format: int32
              type: integer
            required: false
            type: array
          license_models:
            description: Specifies the image licensing model(s).
            items:
              enum:
                - rights_managed
                - royalty_free
              type: string
            required: false
            type: array
          number_of_people:
            description: Filter based on the number of people in the image.
            items:
              enum:
                - none
                - one
                - two
                - group
              type: string
            required: false
            type: array
          orientations:
            description: Return only images with selected aspect ratios.
            items:
              enum:
                - horizontal
                - vertical
                - square
                - panoramic_horizontal
                - panoramic_vertical
              type: string
            required: false
            type: array
          page:
            description: Request results starting at a page number (default is 1).
            format: int32
            required: false
            type: integer
          page_size:
            description: Request number of images to return in each page.
            format: int32
            required: false
            type: integer
          phrase:
            description: Search images using a search phrase.
            required: false
            type: string
          prestige_content_only:
            description: Restrict search results to prestige images. The default is false.
            required: false
            type: boolean
          product_types:
            description: Filter images to those having product types from the selected list.
            items:
              enum:
                - easy_access
                - editorial_subscription
                - image_pack
                - premium_access
                - royalty_free_subscription
                - credit_pack
              type: string
            required: false
            type: array
          sort_order:
            description: Select sort order of results.
            enum:
              - best_match
              - most_popular
              - newest
            required: false
            type: string
          specific_people:
            description: Return only images associated with specific people (using a comma-delimited list).
            items:
              type: string
            required: false
            type: array
        (oas-tags):
          - Search
      /creative:
        displayName: creative
        get:
          displayName: GET_v3-search-images-creative
          (oas-summary): Search for creative images only
          headers:
            Accept-Language:
              type: string
              description: Specifies the language of result values.
              required: false
            Authorization:
              type: string
              description: 'Provide access token in the format of ''Bearer {token}''.'
              required: false
          responses:
            '200':
              body:
                application/json:
                  type: creative_image_search_results
              description: OK
            '400':
              description: InvalidColor
            '401':
              description: Unauthorized
            '403':
              description: NoAccessToProductType
          queryParameters:
            age_of_people:
              description: Filter based on the age of individuals in an image.
              items:
                enum:
                  - newborn
                  - baby
                  - child
                  - teenager
                  - young_adult
                  - adult
                  - adults_only
                  - mature_adult
                  - senior_adult
                  - months_0_1
                  - months_2_5
                  - months_6_11
                  - months_12_17
                  - months_18_23
                  - years_2_3
                  - years_4_5
                  - years_6_7
                  - years_8_9
                  - years_10_11
                  - years_12_13
                  - years_14_15
                  - years_16_17
                  - years_18_19
                  - years_20_24
                  - years_20_29
                  - years_25_29
                  - years_30_34
                  - years_30_39
                  - years_35_39
                  - years_40_44
                  - years_40_49
                  - years_45_49
                  - years_50_54
                  - years_50_59
                  - years_55_59
                  - years_60_64
                  - years_60_69
                  - years_65_69
                  - years_70_79
                  - years_80_89
                  - over_90
                  - over_100
                type: string
              required: false
              type: array
            artists:
              description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
              required: false
              type: string
            collection_codes:
              description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
              items:
                type: string
              required: false
              type: array
            collections_filter_type:
              description: Use to include or exclude collections from search.
              enum:
                - include
                - exclude
              required: false
              type: string
            color:
              description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244).'
              required: false
              type: string
            compositions:
              description: Filter based on image composition.
              items:
                enum:
                  - abstract
                  - candid
                  - close_up
                  - copy_space
                  - cut_out
                  - full_frame
                  - full_length
                  - headshot
                  - looking_at_camera
                  - macro
                  - portrait
                  - sparse
                  - still_life
                  - three_quarter_length
                  - waist_up
                type: string
              required: false
              type: array
            embed_content_only:
              description: Restrict search results to embeddable images. The default is false.
              required: false
              type: boolean
            ethnicity:
              description: Filter search results based on the ethnicity of individuals in an image.
              items:
                enum:
                  - black
                  - caucasian
                  - east_asian
                  - hispanic_latino
                  - japanese
                  - middle_eastern
                  - mixed_race_person
                  - multiethnic_group
                  - native_american_first_nations
                  - pacific_islander
                  - south_asian
                  - southeast_asian
                type: string
              required: false
              type: array
            exclude_nudity:
              description: Excludes images containing nudity. The default is false.
              required: false
              type: boolean
            fields:
              description: Specifies fields to return. Defaults to 'summary_set'.
              items:
                enum:
                  - allowed_use
                  - alternative_ids
                  - artist
                  - asset_family
                  - call_for_image
                  - caption
                  - collection_code
                  - collection_id
                  - collection_name
                  - color_type
                  - comp
                  - copyright
                  - date_camera_shot
                  - date_created
                  - detail_set
                  - display_set
                  - graphical_style
                  - id
                  - keywords
                  - largest_downloads
                  - license_model
                  - max_dimensions
                  - orientation
                  - prestige
                  - preview
                  - product_types
                  - quality_rank
                  - referral_destinations
                  - summary_set
                  - thumb
                  - title
                  - uri_oembed
                type: string
              required: false
              type: array
            file_types:
              description: Return only images having a specific file type.
              items:
                enum:
                  - eps
                  - gif
                  - jpg
                  - png
                type: string
              required: false
              type: array
            graphical_styles:
              description: Filter based on graphical style of the image.
              items:
                enum:
                  - fine_art
                  - illustration
                  - photography
                type: string
              required: false
              type: array
            keyword_ids:
              description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
              items:
                format: int32
                type: integer
              required: false
              type: array
            license_models:
              description: Specifies the image licensing model(s).
              items:
                enum:
                  - rights_managed
                  - royalty_free
                type: string
              required: false
              type: array
            number_of_people:
              description: Filter based on the number of people in the image.
              items:
                enum:
                  - none
                  - one
                  - two
                  - group
                type: string
              required: false
              type: array
            orientations:
              description: Return only images with selected aspect ratios.
              items:
                enum:
                  - horizontal
                  - vertical
                  - square
                  - panoramic_horizontal
                  - panoramic_vertical
                type: string
              required: false
              type: array
            page:
              description: Request results starting at a page number (default is 1).
              format: int32
              required: false
              type: integer
            page_size:
              description: Request number of images to return in each page.
              format: int32
              required: false
              type: integer
            phrase:
              description: Search images using a search phrase.
              required: false
              type: string
            prestige_content_only:
              description: Restrict search results to prestige images. The default is false.
              required: false
              type: boolean
            product_types:
              description: Filter images to those having product types from the selected list.
              items:
                enum:
                  - easy_access
                  - editorial_subscription
                  - image_pack
                  - premium_access
                  - royalty_free_subscription
                  - credit_pack
                type: string
              required: false
              type: array
            sort_order:
              description: Select sort order of results.
              enum:
                - best_match
                - most_popular
                - newest
              required: false
              type: string
          (oas-tags):
            - Search
      /editorial:
        displayName: editorial
        get:
          displayName: GET_v3-search-images-editorial
          (oas-summary): Search for editorial images only
          headers:
            Accept-Language:
              type: string
              description: Specifies the language of result values.
              required: false
            Authorization:
              type: string
              description: 'Provide access token in the format of ''Bearer {token}''.'
              required: false
          responses:
            '200':
              body:
                application/json:
                  type: editorial_image_search_results
              description: OK
            '400':
              description: InvalidColor
            '401':
              description: Unauthorized
            '403':
              description: NoAccessToProductType
          queryParameters:
            age_of_people:
              description: Filter based on the age of individuals in an image.
              items:
                enum:
                  - newborn
                  - baby
                  - child
                  - teenager
                  - young_adult
                  - adult
                  - adults_only
                  - mature_adult
                  - senior_adult
                  - months_0_1
                  - months_2_5
                  - months_6_11
                  - months_12_17
                  - months_18_23
                  - years_2_3
                  - years_4_5
                  - years_6_7
                  - years_8_9
                  - years_10_11
                  - years_12_13
                  - years_14_15
                  - years_16_17
                  - years_18_19
                  - years_20_24
                  - years_20_29
                  - years_25_29
                  - years_30_34
                  - years_30_39
                  - years_35_39
                  - years_40_44
                  - years_40_49
                  - years_45_49
                  - years_50_54
                  - years_50_59
                  - years_55_59
                  - years_60_64
                  - years_60_69
                  - years_65_69
                  - years_70_79
                  - years_80_89
                  - over_90
                  - over_100
                type: string
              required: false
              type: array
            artists:
              description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
              required: false
              type: string
            collection_codes:
              description: Filter by collections (comma-separated list of collection codes). Include or exclude based on collections_filter_type.
              items:
                type: string
              required: false
              type: array
            collections_filter_type:
              description: Use to include or exclude collections from search.
              enum:
                - include
                - exclude
              required: false
              type: string
            color:
              description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244).'
              required: false
              type: string
            compositions:
              description: Filter based on image composition.
              items:
                enum:
                  - abstract
                  - candid
                  - close_up
                  - copy_space
                  - cut_out
                  - full_frame
                  - full_length
                  - headshot
                  - looking_at_camera
                  - macro
                  - portrait
                  - sparse
                  - still_life
                  - three_quarter_length
                  - waist_up
                type: string
              required: false
              type: array
            date_from:
              description: 'Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).'
              format: rfc3339
              required: false
              type: datetime
            date_to:
              description: 'Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).'
              format: rfc3339
              required: false
              type: datetime
            editorial_segments:
              description: Return only events with a matching editorial segment.
              items:
                enum:
                  - archival
                  - entertainment
                  - news
                  - publicity
                  - royalty
                  - sport
                type: string
              required: false
              type: array
            embed_content_only:
              description: Restrict search results to embeddable images. The default is false.
              required: false
              type: boolean
            entity_uris:
              description: specify linked data entity uri.
              items:
                type: string
              required: false
              type: array
            ethnicity:
              description: Filter search results based on the ethnicity of individuals in an image.
              items:
                enum:
                  - black
                  - caucasian
                  - east_asian
                  - hispanic_latino
                  - japanese
                  - middle_eastern
                  - mixed_race_person
                  - multiethnic_group
                  - native_american_first_nations
                  - pacific_islander
                  - south_asian
                  - southeast_asian
                type: string
              required: false
              type: array
            event_ids:
              description: Filter based on specific events
              items:
                format: int32
                type: integer
              required: false
              type: array
            exclude_nudity:
              description: Excludes images containing nudity. The default is false.
              required: false
              type: boolean
            fields:
              description: Specifies fields to return. Defaults to 'summary_set'.
              items:
                enum:
                  - allowed_use
                  - alternative_ids
                  - artist
                  - asset_family
                  - call_for_image
                  - caption
                  - collection_code
                  - collection_id
                  - collection_name
                  - color_type
                  - comp
                  - copyright
                  - date_camera_shot
                  - date_created
                  - detail_set
                  - display_set
                  - editorial_segments
                  - editorial_source
                  - event_ids
                  - graphical_style
                  - id
                  - keywords
                  - largest_downloads
                  - license_model
                  - max_dimensions
                  - orientation
                  - people
                  - preview
                  - product_types
                  - quality_rank
                  - referral_destinations
                  - summary_set
                  - thumb
                  - title
                  - uri_oembed
                type: string
              required: false
              type: array
            file_types:
              description: Return only images having a specific file type.
              items:
                enum:
                  - eps
                  - gif
                  - jpg
                  - png
                type: string
              required: false
              type: array
            graphical_styles:
              description: Filter based on graphical style of the image.
              items:
                enum:
                  - photography
                  - illustration
                type: string
              required: false
              type: array
            keyword_ids:
              description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
              items:
                format: int32
                type: integer
              required: false
              type: array
            number_of_people:
              description: Filter based on the number of people in the image.
              items:
                enum:
                  - none
                  - one
                  - two
                  - group
                type: string
              required: false
              type: array
            orientations:
              description: Return only images with selected aspect ratios.
              items:
                enum:
                  - horizontal
                  - vertical
                  - square
                  - panoramic_horizontal
                  - panoramic_vertical
                type: string
              required: false
              type: array
            page:
              description: Request results starting at a page number (default is 1).
              format: int32
              required: false
              type: integer
            page_size:
              description: Request number of images to return in each page.
              format: int32
              required: false
              type: integer
            phrase:
              description: Search images using a search phrase.
              required: false
              type: string
            product_types:
              description: Filter images to those having product types from the selected list.
              items:
                enum:
                  - easy_access
                  - editorial_subscription
                  - image_pack
                  - premium_access
                  - royalty_free_subscription
                  - credit_pack
                type: string
              required: false
              type: array
            sort_order:
              description: Select sort order of results.
              enum:
                - best_match
                - most_popular
                - newest
                - oldest
              required: false
              type: string
            specific_people:
              description: Return only images associated with specific people (using a comma-delimited list).
              items:
                type: string
              required: false
              type: array
          (oas-tags):
            - Search
    /videos:
      displayName: videos
      get:
        displayName: GET_v3-search-videos
        (oas-summary): Search for both creative and editorial videos
        headers:
          Accept-Language:
            type: string
            description: Specifies the language of result values.
            required: false
          Authorization:
            type: string
            description: 'Provide access token in the format of ''Bearer {token}''.'
            required: false
        responses:
          '200':
            body:
              application/json:
                type: video_search_results
            description: OK
          '400':
            description: MalformedRequest
          '401':
            description: Unauthorized
          '403':
            description: NoAccessToProductType
        queryParameters:
          age_of_people:
            description: Provides filtering according to the age of individuals in a video.
            items:
              enum:
                - newborn
                - baby
                - child
                - teenager
                - young_adult
                - adult
                - adults_only
                - mature_adult
                - senior_adult
                - months_0_1
                - months_2_5
                - months_6_11
                - months_12_17
                - months_18_23
                - years_2_3
                - years_4_5
                - years_6_7
                - years_8_9
                - years_10_11
                - years_12_13
                - years_14_15
                - years_16_17
                - years_18_19
                - years_20_24
                - years_20_29
                - years_25_29
                - years_30_34
                - years_30_39
                - years_35_39
                - years_40_44
                - years_40_49
                - years_45_49
                - years_50_54
                - years_50_59
                - years_55_59
                - years_60_64
                - years_60_69
                - years_65_69
                - years_70_79
                - years_80_89
                - over_90
                - over_100
              type: string
            required: false
            type: array
          collection_codes:
            description: Provides filtering by collection code.
            items:
              type: string
            required: false
            type: array
          collections_filter_type:
            description: Provides searching based on specified collection(s).
            enum:
              - include
              - exclude
            required: false
            type: string
          exclude_nudity:
            description: Excludes images containing nudity. The default is false.
            required: false
            type: boolean
          fields:
            description: Specifies fields to return. Defaults to 'summary_set'.
            items:
              enum:
                - allowed_use
                - artist
                - asset_family
                - caption
                - clip_length
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - date_created
                - detail_set
                - display_set
                - editorial_segments
                - era
                - id
                - keywords
                - largest_downloads
                - license_model
                - mastered_to
                - originally_shot_on
                - preview
                - product_types
                - shot_speed
                - source
                - summary_set
                - thumb
                - title
              type: string
            required: false
            type: array
          format_available:
            description: Filters according to the digital video format available on a film asset.
            enum:
              - sd
              - hd
              - 4k
            required: false
            type: string
          keyword_ids:
            description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
            items:
              format: int32
              type: integer
            required: false
            type: array
          license_models:
            description: Specifies the video licensing model(s).
            items:
              enum:
                - rights_ready
                - royalty_free
              type: string
            required: false
            type: array
          page:
            description: Identifies page to return. Default is 1.
            format: int32
            required: false
            type: integer
          page_size:
            description: 'Specifies page size. Default is 30, maximum page_size is 100.'
            format: int32
            required: false
            type: integer
          phrase:
            description: Free-text search query.
            required: false
            type: string
          product_types:
            description: Provides filtering by a list of product types.
            items:
              enum:
                - easy_access
                - editorial_subscription
                - image_pack
                - premium_access
                - royalty_free_subscription
                - credit_pack
              type: string
            required: false
            type: array
          sort_order:
            description: Allows sorting of results.
            enum:
              - best_match
              - most_popular
              - newest
              - oldest
            required: false
            type: string
          specific_people:
            description: Provides filtering by specific peoples' names.
            items:
              type: string
            required: false
            type: array
        (oas-tags):
          - Search
      /editorial:
        displayName: editorial
        get:
          displayName: GET_v3-search-videos-editorial
          (oas-summary): Search for editorial videos
          headers:
            Accept-Language:
              type: string
              description: Specifies the language of result values.
              required: false
            Authorization:
              type: string
              description: 'Provide access token in the format of ''Bearer {token}''.'
              required: false
          responses:
            '200':
              body:
                application/json:
                  type: editorial_video_search_results
              description: OK
            '400':
              description: MalformedRequest
            '401':
              description: Unauthorized
            '403':
              description: NoAccessToProductType
          queryParameters:
            age_of_people:
              description: Provides filtering according to the age of individuals in a video.
              items:
                enum:
                  - newborn
                  - baby
                  - child
                  - teenager
                  - young_adult
                  - adult
                  - adults_only
                  - mature_adult
                  - senior_adult
                  - months_0_1
                  - months_2_5
                  - months_6_11
                  - months_12_17
                  - months_18_23
                  - years_2_3
                  - years_4_5
                  - years_6_7
                  - years_8_9
                  - years_10_11
                  - years_12_13
                  - years_14_15
                  - years_16_17
                  - years_18_19
                  - years_20_24
                  - years_20_29
                  - years_25_29
                  - years_30_34
                  - years_30_39
                  - years_35_39
                  - years_40_44
                  - years_40_49
                  - years_45_49
                  - years_50_54
                  - years_50_59
                  - years_55_59
                  - years_60_64
                  - years_60_69
                  - years_65_69
                  - years_70_79
                  - years_80_89
                  - over_90
                  - over_100
                type: string
              required: false
              type: array
            collection_codes:
              description: Provides filtering by collection code.
              items:
                type: string
              required: false
              type: array
            collections_filter_type:
              description: Provides searching based on specified collection(s).
              enum:
                - include
                - exclude
              required: false
              type: string
            entity_uris:
              description: specify link data entity uri.
              items:
                type: string
              required: false
              type: array
            exclude_nudity:
              description: Excludes images containing nudity. The default is false.
              required: false
              type: boolean
            fields:
              description: Specifies fields to return. Defaults to 'summary_set'.
              items:
                enum:
                  - allowed_use
                  - artist
                  - asset_family
                  - caption
                  - clip_length
                  - collection_code
                  - collection_id
                  - collection_name
                  - color_type
                  - comp
                  - copyright
                  - date_created
                  - detail_set
                  - display_set
                  - editorial_segments
                  - era
                  - id
                  - keywords
                  - largest_downloads
                  - license_model
                  - mastered_to
                  - originally_shot_on
                  - preview
                  - product_types
                  - shot_speed
                  - source
                  - summary_set
                  - thumb
                  - title
                type: string
              required: false
              type: array
            format_available:
              description: Filters according to the digital video format available on a film asset.
              enum:
                - sd
                - hd
                - 4k
              required: false
              type: string
            keyword_ids:
              description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
              items:
                format: int32
                type: integer
              required: false
              type: array
            page:
              description: Identifies page to return. Default is 1.
              format: int32
              required: false
              type: integer
            page_size:
              description: 'Specifies page size. Default is 30, maximum page_size is 100.'
              format: int32
              required: false
              type: integer
            phrase:
              description: Free-text search query.
              required: false
              type: string
            product_types:
              description: Allows filtering by a list of product types.
              items:
                enum:
                  - easy_access
                  - editorial_subscription
                  - image_pack
                  - premium_access
                  - royalty_free_subscription
                  - credit_pack
                type: string
              required: false
              type: array
            sort_order:
              description: Allows sorting of results.
              enum:
                - best_match
                - most_popular
                - newest
                - oldest
              required: false
              type: string
            specific_people:
              description: Allows filtering by specific peoples' names.
              items:
                type: string
              required: false
              type: array
          (oas-tags):
            - Search
      /creative:
        displayName: creative
        get:
          displayName: GET_v3-search-videos-creative
          (oas-summary): Search for creative videos
          headers:
            Accept-Language:
              type: string
              description: Specifies the language of result values.
              required: false
            Authorization:
              type: string
              description: 'Provide access token in the format of ''Bearer {token}''.'
              required: false
          responses:
            '200':
              body:
                application/json:
                  type: creative_video_search_results
              description: OK
            '400':
              description: MalformedRequest
            '401':
              description: Unauthorized
            '403':
              description: NoAccessToProductType
          queryParameters:
            age_of_people:
              description: Provides filtering according to the age of individuals in a video.
              items:
                enum:
                  - newborn
                  - baby
                  - child
                  - teenager
                  - young_adult
                  - adult
                  - adults_only
                  - mature_adult
                  - senior_adult
                  - months_0_1
                  - months_2_5
                  - months_6_11
                  - months_12_17
                  - months_18_23
                  - years_2_3
                  - years_4_5
                  - years_6_7
                  - years_8_9
                  - years_10_11
                  - years_12_13
                  - years_14_15
                  - years_16_17
                  - years_18_19
                  - years_20_24
                  - years_20_29
                  - years_25_29
                  - years_30_34
                  - years_30_39
                  - years_35_39
                  - years_40_44
                  - years_40_49
                  - years_45_49
                  - years_50_54
                  - years_50_59
                  - years_55_59
                  - years_60_64
                  - years_60_69
                  - years_65_69
                  - years_70_79
                  - years_80_89
                  - over_90
                  - over_100
                type: string
              required: false
              type: array
            collection_codes:
              description: Provides filtering by collection code.
              items:
                type: string
              required: false
              type: array
            collections_filter_type:
              description: Provides searching based on specified collection(s).
              enum:
                - include
                - exclude
              required: false
              type: string
            exclude_nudity:
              description: Excludes images containing nudity. The default is false.
              required: false
              type: boolean
            fields:
              description: Specifies fields to return. Defaults to 'summary_set'.
              items:
                enum:
                  - allowed_use
                  - artist
                  - asset_family
                  - caption
                  - clip_length
                  - collection_code
                  - collection_id
                  - collection_name
                  - color_type
                  - comp
                  - copyright
                  - date_created
                  - detail_set
                  - display_set
                  - era
                  - id
                  - keywords
                  - largest_downloads
                  - license_model
                  - mastered_to
                  - originally_shot_on
                  - preview
                  - product_types
                  - shot_speed
                  - source
                  - summary_set
                  - thumb
                  - title
                type: string
              required: false
              type: array
            format_available:
              description: Filters according to the digital video format available on a film asset.
              enum:
                - sd
                - hd
                - 4k
              required: false
              type: string
            keyword_ids:
              description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
              items:
                format: int32
                type: integer
              required: false
              type: array
            license_models:
              description: Specifies the video licensing model(s).
              items:
                enum:
                  - rights_ready
                  - royalty_free
                type: string
              required: false
              type: array
            page:
              description: Identifies page to return. Default is 1.
              format: int32
              required: false
              type: integer
            page_size:
              description: 'Specifies page size. Default is 30, maximum page_size is 100.'
              format: int32
              required: false
              type: integer
            phrase:
              description: Free-text search query.
              required: false
              type: string
            product_types:
              description: Allows filtering by a list of product types.
              items:
                enum:
                  - easy_access
                  - editorial_subscription
                  - image_pack
                  - premium_access
                  - royalty_free_subscription
                  - credit_pack
                type: string
              required: false
              type: array
            sort_order:
              description: Allows sorting of results.
              enum:
                - best_match
                - newest
              required: false
              type: string
          (oas-tags):
            - Search
  /downloads:
    displayName: downloads
    get:
      displayName: GET_v3-downloads
      (oas-summary): Returns information about a customer's downloaded assets.
      headers:
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: true
      responses:
        '200':
          body:
            application/json:
              type: downloads_response
          description: OK
        '400':
          description: InvalidRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      queryParameters:
        date_from:
          description: "If specified, select assets downloaded on or after this date. Dates should be submitted in ISO\r\n                8601 format (i.e., YYYY-MM-DD hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC."
          format: rfc3339
          required: false
          type: datetime
        date_to:
          description: "If specified, select assets downloaded on or before this date. Dates should be submitted in ISO\r\n                8601 format (i.e., YYYY-MM-DD hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC."
          format: rfc3339
          required: false
          type: datetime
        page:
          description: Identifies page to return. Default is 1.
          format: int32
          required: false
          type: integer
        page_size:
          description: 'Specifies page size. Default is 30, maximum page_size is 100.'
          format: int32
          required: false
          type: integer
        product_type:
          description: Specifies product type to be included in the previous download results.
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
            - creditpack
          required: false
          type: string
      (oas-tags):
        - Downloads
    /videos:
      displayName: videos
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Id of video to download.
            required: true
            type: string
        post:
          displayName: POST_v3-downloads-videos-id
          description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                video available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
          (oas-summary): Download a video
          headers:
            Authorization:
              type: string
              description: 'Provide access token in the format of ''Bearer {token}''.'
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: OK
            '303':
              description: See Other
            '400':
              description: ProductIdNotSpecified
            '401':
              description: ProductIdNotAvailableForUser
            '404':
              description: FileDownloadSizeNotFound
          queryParameters:
            auto_download:
              description: "Specifies whether to auto-download the video. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the video.\r\n                    If false is specified, the download URI will be returned in the response message."
              required: false
              type: boolean
            product_id:
              description: Identifier of the instance for the selected product offering type.
              format: int32
              required: false
              type: integer
            size:
              description: Specifies the size to be downloaded.
              required: false
              type: string
          (oas-tags):
            - Downloads
    /images:
      displayName: images
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Id of image to download.
            required: true
            type: string
        post:
          displayName: POST_v3-downloads-images-id
          description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                image available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
          (oas-summary): Download an image
          body:
            application/json:
              type: PremiumAccessDownloadData
              (oas-body-name): download_details
              description: "Additional information required from specific customers when downloading. \r\n                    Only users who have been set up with a project code by Getty Images Sales need to use this field."
          headers:
            Authorization:
              type: string
              description: 'Provide access token in the format of ''Bearer {token}''.'
              required: true
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: OK
            '303':
              description: See Other
            '400':
              description: ProductIdNotSpecified
            '401':
              description: ProductIdNotAvailableForUser
            '404':
              description: FileDownloadSizeNotFound
          queryParameters:
            auto_download:
              description: "Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the image.\r\n                    If false is specified, the download URI will be returned in the response message."
              required: false
              type: boolean
            file_type:
              description: File Type expressed with three character file extension.
              enum:
                - eps
                - jpg
              required: false
              type: string
            height:
              description: "Specifies the pixel height of the particular image to download.\r\n                    Available heights can be found in the images/{ids} response for the specific image.\r\n                    If left blank, it will return the largest available size."
              required: false
              type: string
            product_id:
              description: Identifier of the instance for the selected product offering type.
              format: int32
              required: false
              type: integer
            product_type:
              description: Product type.
              enum:
                - easyaccess
                - editorialsubscription
                - imagepack
                - premiumaccess
                - royaltyfreesubscription
                - creditpack
              required: false
              type: string
          (oas-tags):
            - Downloads
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Id of image to download.
          required: true
          type: string
      post:
        displayName: POST_v3-downloads-id
        description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                image available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
        (oas-summary): Download an image
        body:
          application/json:
            type: PremiumAccessDownloadData
            (oas-body-name): download_details
            description: "Additional information required from specific customers when downloading. \r\n                    Only users who have been set up with a project code by Getty Images Sales need to use this field."
        headers:
          Authorization:
            type: string
            description: 'Provide access token in the format of ''Bearer {token}''.'
            required: true
        responses:
          '200':
            body:
              application/json:
                type: string
            description: OK
          '303':
            description: See Other
          '400':
            description: ProductIdNotSpecified
          '401':
            description: ProductIdNotAvailableForUser
          '404':
            description: FileDownloadSizeNotFound
        queryParameters:
          auto_download:
            description: "Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the image.\r\n                    If false is specified, the download URI will be returned in the response message."
            required: false
            type: boolean
          file_type:
            description: File Type expressed with three character file extension.
            enum:
              - eps
              - jpg
            required: false
            type: string
          height:
            description: "Specifies the pixel height of the particular image to download.\r\n                    Available heights can be found in the images/{ids} response for the specific image.\r\n                    If left blank, it will return the largest available size."
            required: false
            type: string
          product_id:
            description: Identifier of the instance for the selected product offering type.
            format: int32
            required: false
            type: integer
          product_type:
            description: Product type.
            enum:
              - easyaccess
              - editorialsubscription
              - imagepack
              - premiumaccess
              - royaltyfreesubscription
              - creditpack
            required: false
            type: string
        (oas-tags):
          - Downloads
  /countries:
    displayName: countries
    get:
      displayName: GET_v3-countries
      (oas-summary): Gets countries codes and names.
      headers:
        Accept-Language:
          type: string
          description: Specifies the language of result values.
          required: false
        Authorization:
          type: string
          description: 'Provide access token in the format of ''Bearer {token}''.'
          required: false
      responses:
        '200':
          body:
            application/json:
              type: countries
          description: OK
        '401':
          description: Unauthorized
      (oas-tags):
        - Countries
  /usage-batches:
    displayName: usage-batches
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: Specifies a unique batch transaction id to identify the report.
          required: true
          type: string
      put:
        displayName: PUT_v3-usage-batches-id
        (oas-summary): Report usage of assets via a batch format.
        body:
          application/json:
            type: report_usage_batch_request
            (oas-body-name): request
            description: "Specifies up to 1000 sets of asset Id, usage count, and date of use to submit usages for. \r\n            Note that all asset Ids specified must be valid or the operation will fail causing no usages to be recorded. \r\n            The date format should be ISO 8601 (ex: YYYY-MM-DD), time is not needed."
        headers:
          Accept-Language:
            type: string
[...]
