#%RAML 1.0
title: GitHub
version: v3
baseUri: 'https://api.github.com/'
mediaType: application/json
protocols:
  - HTTPS
description: |
  Powerful collaboration, code review, and code management for open source and private projects.
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_assets-cdn.github.com_images_modules_logos_page_GitHub-Mark.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/github.com/v3/swagger.yaml'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): github.com
  (oas-x-unofficialSpec): true
  termsOfService: 'https://help.github.com/articles/github-terms-of-service/#b-api-terms'
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-unofficialSpec: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-x-hasEquivalentPaths: any
(oas-externalDocs):
  url: 'https://developer.github.com/v3/'
securitySchemes:
  oauth_2_0:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://github.com/login/oauth/authorize'
      accessTokenUri: 'https://github.com/login/oauth/access_token'
      authorizationGrants:
        - authorization_code
      scopes:
        - 'admin:org'
        - 'admin:org_hook'
        - 'admin:public_key'
        - 'admin:repo_hook'
        - delete_repo
        - gist
        - notifications
        - public_repo
        - 'read:org'
        - 'read:public_key'
        - 'read:repo_hook'
        - repo
        - 'repo:status'
        - repo_deployment
        - user
        - 'user:email'
        - 'user:follow'
        - 'write:org'
        - 'write:public_key'
        - 'write:repo_hook'
    description: |
      OAuth2 is a protocol that lets external apps request authorization to private
      details in a user's GitHub account without getting their password. This is
      preferred over Basic Authentication because tokens can be limited to specific
      types of data, and can be revoked by users at any time.
/repos:
  displayName: repos
  '/{owner}':
    displayName: '{owner}'
    '/{repo}':
      displayName: '{repo}'
      /issues:
        displayName: issues
        '/{number}':
          displayName: '{number}'
          /labels:
            displayName: labels
            post:
              displayName: POST_repos-owner-repo-issues-number-labels
              description: Add labels to an issue.
              body:
                application/json:
                  type: emailsPost
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '201':
                  body:
                    application/json:
                      type: label
                  description: Created
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            put:
              displayName: PUT_repos-owner-repo-issues-number-labels
              description: |
                Replace all labels for an issue.
                Sending an empty array ([]) will remove all Labels from the Issue.
              body:
                application/json:
                  type: emailsPost
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '201':
                  body:
                    application/json:
                      type: label
                  description: Created
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            '/{name}':
              displayName: '{name}'
              uriParameters:
                name:
                  description: Name of the label.
                  required: true
                  type: string
                  displayName: Name of the label.
              delete:
                displayName: DELETE_repos-owner-repo-issues-number-labels-name
                description: Remove a label from an issue.
                headers:
                  X-GitHub-Media-Type:
                    type: string
                    description: |
                      You can check the current version of media type in responses.
                  Accept:
                    type: string
                    description: Is used to set specified media type.
                  X-RateLimit-Limit:
                    type: integer
                  X-RateLimit-Remaining:
                    type: integer
                  X-RateLimit-Reset:
                    type: integer
                  X-GitHub-Request-Id:
                    type: integer
                responses:
                  '204':
                    description: Item removed.
                  '403':
                    description: |
                      API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                      for details.
            delete:
              displayName: DELETE_repos-owner-repo-issues-number-labels
              description: Remove all labels from an issue.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '204':
                  description: |
                    No content.
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            get:
              displayName: GET_repos-owner-repo-issues-number-labels
              description: List labels on an issue.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: labels
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          uriParameters:
            number:
              description: Number of issue.
              required: true
              type: integer
              displayName: Number of issue.
          patch:
            displayName: PATCH_repos-owner-repo-issues-number
            description: |
              Edit an issue.
              Issue owners and users with push access can edit an issue.
            body:
              application/json:
                type: issue
                (oas-body-name): body
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: issue
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          /comments:
            displayName: comments
            post:
              displayName: POST_repos-owner-repo-issues-number-comments
              description: Create a comment.
              body:
                application/json:
                  type: commentBody
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '201':
                  body:
                    application/json:
                      type: issuesComment
                  description: Created
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            get:
              displayName: GET_repos-owner-repo-issues-number-comments
              description: List comments on an issue.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: issuesComments
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          /events:
            displayName: events
            get:
              displayName: GET_repos-owner-repo-issues-number-events
              description: List events for an issue.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: events
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          get:
            displayName: GET_repos-owner-repo-issues-number
            description: Get a single issue
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: issue
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
        post:
          displayName: POST_repos-owner-repo-issues
          description: |
            Create an issue.
            Any user with pull access to a repository can create an issue.
          body:
            application/json:
              type: issue
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '201':
              body:
                application/json:
                  type: issue
              description: Created
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        /comments:
          displayName: comments
          '/{commentId}':
            displayName: '{commentId}'
            uriParameters:
              commentId:
                description: ID of comment.
                required: true
                type: integer
                displayName: ID of comment.
            delete:
              displayName: DELETE_repos-owner-repo-issues-comments-commentId
              description: Delete a comment.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '204':
                  description: |
                    No content.
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            patch:
              displayName: PATCH_repos-owner-repo-issues-comments-commentId
              description: Edit a comment.
              body:
                application/json:
                  type: commentBody
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: issuesComment
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            get:
              displayName: GET_repos-owner-repo-issues-comments-commentId
              description: Get a single comment.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: issuesComment
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          get:
            displayName: GET_repos-owner-repo-issues-comments
            description: List comments in a repository.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: issuesComments
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
            queryParameters:
              direction:
                description: Ignored without 'sort' parameter.
                type: string
                displayName: Ignored without 'sort' parameter.
              sort:
                description: ''
                enum:
                  - created
                  - updated
                type: string
              since:
                description: |
                  The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                  Example: "2012-10-09T23:39:01Z".
                type: string
                displayName: |
                  The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                  Example: "2012-10-09T23:39:01Z".
        /events:
          displayName: events
          '/{eventId}':
            displayName: '{eventId}'
            uriParameters:
              eventId:
                description: Id of the event.
                required: true
                type: integer
                displayName: Id of the event.
            get:
              displayName: GET_repos-owner-repo-issues-events-eventId
              description: Get a single event.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: event
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          get:
            displayName: GET_repos-owner-repo-issues-events
            description: List issue events for a repository.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: events
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
        get:
          displayName: GET_repos-owner-repo-issues
          description: List issues for a repository.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: issues
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
          queryParameters:
            filter:
              default: all
              description: |
                Issues assigned to you / created by you / mentioning you / you're
                subscribed to updates for / All issues the authenticated user can see
              enum:
                - assigned
                - created
                - mentioned
                - subscribed
                - all
              required: true
              type: string
              displayName: |
                Issues assigned to you / created by you / mentioning you / you're
                subscribed to updates for / All issues the authenticated user can see
            state:
              default: open
              enum:
                - open
                - closed
              required: true
              type: string
            labels:
              description: 'String list of comma separated Label names. Example - bug,ui,@high.'
              required: true
              type: string
              displayName: 'String list of comma separated Label names. Example - bug,ui,@high.'
            sort:
              default: created
              enum:
                - created
                - updated
                - comments
              required: true
              type: string
            direction:
              default: desc
              enum:
                - asc
                - desc
              required: true
              type: string
            since:
              description: |
                Optional string of a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                Only issues updated at or after this time are returned.
              type: string
              displayName: |
                Optional string of a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                Only issues updated at or after this time are returned.
      /keys:
        displayName: keys
        get:
          displayName: GET_repos-owner-repo-keys
          description: Get list of keys.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: keys
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        post:
          displayName: POST_repos-owner-repo-keys
          description: Create a key.
          body:
            application/json:
              type: user-keys-post
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '201':
              body:
                application/json:
                  type: user-keys-keyId
              description: Created
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        '/{keyId}':
          displayName: '{keyId}'
          uriParameters:
            keyId:
              description: Id of key.
              required: true
              type: integer
              displayName: Id of key.
          delete:
            displayName: DELETE_repos-owner-repo-keys-keyId
            description: Delete a key.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: |
                  No content.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          get:
            displayName: GET_repos-owner-repo-keys-keyId
            description: Get a key
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: user-keys-keyId
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
      /labels:
        displayName: labels
        get:
          displayName: GET_repos-owner-repo-labels
          description: List all labels for this repository.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: labels
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        post:
          displayName: POST_repos-owner-repo-labels
          description: Create a label.
          body:
            application/json:
              type: emailsPost
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '201':
              body:
                application/json:
                  type: label
              description: Created
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        '/{name}':
          displayName: '{name}'
          uriParameters:
            name:
              description: Name of the label.
              required: true
              type: string
              displayName: Name of the label.
          delete:
            displayName: DELETE_repos-owner-repo-labels-name
            description: Delete a label.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: |
                  No content.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          get:
            displayName: GET_repos-owner-repo-labels-name
            description: Get a single label.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: label
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          patch:
            displayName: PATCH_repos-owner-repo-labels-name
            description: Update a label.
            body:
              application/json:
                type: emailsPost
                (oas-body-name): body
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: label
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
      /languages:
        displayName: languages
        get:
          displayName: GET_repos-owner-repo-languages
          description: |
            List languages.
            List languages for the specified repository. The value on the right of a
            language is the number of bytes of code written in that language.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: languages
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
      /merges:
        displayName: merges
        post:
          displayName: POST_repos-owner-repo-merges
          description: Perform a merge.
          body:
            application/json:
              type: mergesBody
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '201':
              body:
                application/json:
                  type: mergesSuccessful
              description: Successful Response (The resulting merge commit)
            '204':
              description: 'No-op response (base already contains the head, nothing to merge)'
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
            '404':
              body:
                application/json:
                  type: mergesConflict
              description: Missing base response or missing head response
            '409':
              body:
                application/json:
                  type: mergesConflict
              description: Merge conflict response.
      /milestones:
        displayName: milestones
        get:
          displayName: GET_repos-owner-repo-milestones
          description: List milestones for a repository.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: milestone
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
          queryParameters:
            state:
              default: open
              description: String to filter by state.
              enum:
                - open
                - closed
              type: string
              displayName: String to filter by state.
            direction:
              description: Ignored without 'sort' parameter.
              type: string
              displayName: Ignored without 'sort' parameter.
            sort:
              default: due_date
              description: ''
              enum:
                - due_date
                - completeness
              type: string
        post:
          displayName: POST_repos-owner-repo-milestones
          description: Create a milestone.
          body:
            application/json:
              type: milestoneUpdate
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '201':
              body:
                application/json:
                  type: milestone
              description: Created
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        '/{number}':
          displayName: '{number}'
          uriParameters:
            number:
              description: Number of milestone.
              required: true
              type: integer
              displayName: Number of milestone.
          delete:
            displayName: DELETE_repos-owner-repo-milestones-number
            description: Delete a milestone.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: |
                  No content.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          get:
            displayName: GET_repos-owner-repo-milestones-number
            description: Get a single milestone.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: milestone
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          patch:
            displayName: PATCH_repos-owner-repo-milestones-number
            description: Update a milestone.
            body:
              application/json:
                type: milestoneUpdate
                (oas-body-name): body
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: milestone
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          /labels:
            displayName: labels
            get:
              displayName: GET_repos-owner-repo-milestones-number-labels
              description: Get labels for every issue in a milestone.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: labels
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
      /notifications:
        displayName: notifications
        get:
          displayName: GET_repos-owner-repo-notifications
          description: |
            List your notifications in a repository
            List all notifications for the current user.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: notifications
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
          queryParameters:
            all:
              description: True to show notifications marked as read.
              type: boolean
              displayName: True to show notifications marked as read.
            participating:
              description: |
                True to show only notifications in which the user is directly participating
                or mentioned.
              type: boolean
              displayName: |
                True to show only notifications in which the user is directly participating
                or mentioned.
            since:
              description: |
                The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                Example: "2012-10-09T23:39:01Z".
              type: string
              displayName: |
                The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                Example: "2012-10-09T23:39:01Z".
        put:
          displayName: PUT_repos-owner-repo-notifications
          description: |
            Mark notifications as read in a repository.
            Marking all notifications in a repository as "read" removes them from the
            default view on GitHub.com.
          body:
            application/json:
              type: notificationMarkRead
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '205':
              description: Marked as read.
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
      /pulls:
        displayName: pulls
        get:
          displayName: GET_repos-owner-repo-pulls
          description: List pull requests.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: pulls
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
          queryParameters:
            state:
              default: open
              description: String to filter by state.
              enum:
                - open
                - closed
              type: string
              displayName: String to filter by state.
            head:
              description: |
                Filter pulls by head user and branch name in the format of 'user:ref-name'.
                Example: github:new-script-format.
              type: string
              displayName: |
                Filter pulls by head user and branch name in the format of 'user:ref-name'.
                Example: github:new-script-format.
            base:
              description: Filter pulls by base branch name. Example - gh-pages.
              type: string
              displayName: Filter pulls by base branch name. Example - gh-pages.
        post:
          displayName: POST_repos-owner-repo-pulls
          description: Create a pull request.
          body:
            application/json:
              type: pullsPost
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '201':
              body:
                application/json:
                  type: pulls
              description: Created
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        /comments:
          displayName: comments
          get:
            displayName: GET_repos-owner-repo-pulls-comments
            description: |
              List comments in a repository.
              By default, Review Comments are ordered by ascending ID.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: issuesComments
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
            queryParameters:
              direction:
                description: Ignored without 'sort' parameter.
                type: string
                displayName: Ignored without 'sort' parameter.
              sort:
                description: ''
                enum:
                  - created
                  - updated
                type: string
              since:
                description: |
                  The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                  Example: "2012-10-09T23:39:01Z".
                type: string
                displayName: |
                  The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                  Example: "2012-10-09T23:39:01Z".
          '/{commentId}':
            displayName: '{commentId}'
            uriParameters:
              commentId:
                description: Id of comment.
                required: true
                type: integer
                displayName: Id of comment.
            delete:
              displayName: DELETE_repos-owner-repo-pulls-comments-commentId
              description: Delete a comment.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '204':
                  description: |
                    No content.
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            get:
              displayName: GET_repos-owner-repo-pulls-comments-commentId
              description: Get a single comment.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: pullsComment
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            patch:
              displayName: PATCH_repos-owner-repo-pulls-comments-commentId
              description: Edit a comment.
              body:
                application/json:
                  type: commentBody
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: pullsComment
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
        '/{number}':
          displayName: '{number}'
          uriParameters:
            number:
              description: Id of pull.
              required: true
              type: integer
              displayName: Id of pull.
          get:
            displayName: GET_repos-owner-repo-pulls-number
            description: Get a single pull request.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: pullRequest
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          patch:
            displayName: PATCH_repos-owner-repo-pulls-number
            description: Update a pull request.
            body:
              application/json:
                type: pullUpdate
                (oas-body-name): body
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: repo
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          /comments:
            displayName: comments
            get:
              displayName: GET_repos-owner-repo-pulls-number-comments
              description: List comments on a pull request.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: pullsComment
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            post:
              displayName: POST_repos-owner-repo-pulls-number-comments
              description: |
                Create a comment.
                  #TODO Alternative input ( http://developer.github.com/v3/pulls/comments/ )
                  description: |
                    Alternative Input.
                    Instead of passing commit_id, path, and position you can reply to an
                    existing Pull Request Comment like this:

                        body
                           Required string
                        in_reply_to
                           Required number - Comment id to reply to.
              body:
                application/json:
                  type: pullsCommentPost
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '201':
                  body:
                    application/json:
                      type: pullsComment
                  description: Created
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          /commits:
            displayName: commits
            get:
              displayName: GET_repos-owner-repo-pulls-number-commits
              description: List commits on a pull request.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: commits
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          /files:
            displayName: files
            get:
              displayName: GET_repos-owner-repo-pulls-number-files
              description: List pull requests files.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: pulls
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
          /merge:
            displayName: merge
            get:
              displayName: GET_repos-owner-repo-pulls-number-merge
              description: Get if a pull request has been merged.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '204':
                  description: Pull request has been merged.
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
                '404':
                  description: Pull request has not been merged.
            put:
              displayName: PUT_repos-owner-repo-pulls-number-merge
              description: Merge a pull request (Merge Button's)
              body:
                application/json:
                  type: mergePullBody
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: merge
                  description: Response if merge was successful.
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
                '405':
                  body:
                    application/json:
                      type: merge
                  description: Response if merge cannot be performed.
      uriParameters:
        repo:
          description: Name of repository.
          required: true
          type: string
          displayName: Name of repository.
      get:
        displayName: GET_repos-owner-repo
        description: Get repository.
        headers:
          X-GitHub-Media-Type:
            type: string
            description: |
              You can check the current version of media type in responses.
          Accept:
            type: string
            description: Is used to set specified media type.
          X-RateLimit-Limit:
            type: integer
          X-RateLimit-Remaining:
            type: integer
          X-RateLimit-Reset:
            type: integer
          X-GitHub-Request-Id:
            type: integer
        responses:
          '200':
            body:
              application/json:
                type: repo
            description: OK
          '403':
            description: |
              API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
              for details.
      /assignees:
        displayName: assignees
        get:
          displayName: GET_repos-owner-repo-assignees
          description: |
            List assignees.
            This call lists all the available assignees (owner + collaborators) to which
            issues may be assigned.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: assignees
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        '/{assignee}':
          displayName: '{assignee}'
          uriParameters:
            assignee:
              description: Login of the assignee.
              required: true
              type: string
              displayName: Login of the assignee.
          get:
            displayName: GET_repos-owner-repo-assignees-assignee
            description: |
              Check assignee.
              You may also check to see if a particular user is an assignee for a repository.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: User is an assignee.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
              '404':
                description: User isn't an assignee.
      /branches:
        displayName: branches
        get:
          displayName: GET_repos-owner-repo-branches
          description: Get list of branches
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: branches
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        '/{branch}':
          displayName: '{branch}'
          uriParameters:
            branch:
              description: Name of the branch.
              required: true
              type: string
              displayName: Name of the branch.
          get:
            displayName: GET_repos-owner-repo-branches-branch
            description: Get Branch
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: branch
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
      /collaborators:
        displayName: collaborators
        get:
          displayName: GET_repos-owner-repo-collaborators
          description: |
            List.
            When authenticating as an organization owner of an organization-owned
            repository, all organization owners are included in the list of
            collaborators. Otherwise, only users with access to the repository are
            returned in the collaborators list.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: users
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        '/{user}':
          displayName: '{user}'
          uriParameters:
            user:
              description: Login of the user.
              required: true
              type: string
              displayName: Login of the user.
          get:
            displayName: GET_repos-owner-repo-collaborators-user
            description: Check if user is a collaborator
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: User is a collaborator.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
              '404':
                description: User is not a collaborator.
          delete:
            displayName: DELETE_repos-owner-repo-collaborators-user
            description: Remove collaborator.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: Collaborator removed.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          put:
            displayName: PUT_repos-owner-repo-collaborators-user
            description: Add collaborator.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: Collaborator added.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
      /comments:
        displayName: comments
        get:
          displayName: GET_repos-owner-repo-comments
          description: |
            List commit comments for a repository.
            Comments are ordered by ascending ID.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: repoComments
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        '/{commentId}':
          displayName: '{commentId}'
          uriParameters:
            commentId:
              description: Id of comment.
              required: true
              type: integer
              displayName: Id of comment.
          get:
            displayName: GET_repos-owner-repo-comments-commentId
            description: Get a single commit comment.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: commitComments
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          delete:
            displayName: DELETE_repos-owner-repo-comments-commentId
            description: Delete a commit comment
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '204':
                description: |
                  No content.
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          patch:
            displayName: PATCH_repos-owner-repo-comments-commentId
            description: Update a commit comment.
            body:
              application/json:
                type: commentBody
                (oas-body-name): body
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: commitComments
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
      /commits:
        displayName: commits
        get:
          displayName: GET_repos-owner-repo-commits
          description: List commits on a repository.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: commits
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
          queryParameters:
            since:
              description: |
                The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                Example: "2012-10-09T23:39:01Z".
              type: string
              displayName: |
                The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
                Example: "2012-10-09T23:39:01Z".
            sha:
              description: Sha or branch to start listing commits from.
              type: string
              displayName: Sha or branch to start listing commits from.
            path:
              description: Only commits containing this file path will be returned.
              type: string
              displayName: Only commits containing this file path will be returned.
            author:
              description: 'GitHub login, name, or email by which to filter by commit author.'
              type: string
              displayName: 'GitHub login, name, or email by which to filter by commit author.'
            until:
              description: ISO 8601 Date - Only commits before this date will be returned.
              type: string
              displayName: ISO 8601 Date - Only commits before this date will be returned.
        '/{shaCode}':
          displayName: '{shaCode}'
          uriParameters:
            shaCode:
              description: SHA-1 code of the commit.
              required: true
              type: string
              displayName: SHA-1 code of the commit.
          get:
            displayName: GET_repos-owner-repo-commits-shaCode
            description: Get a single commit.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
                type: string
                description: Is used to set specified media type.
              X-RateLimit-Limit:
                type: integer
              X-RateLimit-Remaining:
                type: integer
              X-RateLimit-Reset:
                type: integer
              X-GitHub-Request-Id:
                type: integer
            responses:
              '200':
                body:
                  application/json:
                    type: commit
                description: OK
              '403':
                description: |
                  API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                  for details.
          /comments:
            displayName: comments
            post:
              displayName: POST_repos-owner-repo-commits-shaCode-comments
              description: Create a commit comment.
              body:
                application/json:
                  type: commitBody
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '201':
                  body:
                    application/json:
                      type: commitComments
                  description: Created
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            get:
              displayName: GET_repos-owner-repo-commits-shaCode-comments
              description: List comments for a single commitList comments for a single commit.
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: repoComments
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
        '/{ref}':
          displayName: '{ref}'
          /status:
            displayName: status
            get:
              displayName: GET_repos-owner-repo-commits-ref-status
              description: |
                Get the combined Status for a specific Ref
                The Combined status endpoint is currently available for developers to preview. During the preview period, the API may change without advance notice. Please see the blog post for full details.
                To access this endpoint during the preview period, you must provide a custom media type in the Accept header:
                application/vnd.github.she-hulk-preview+json
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: refStatus
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
      /readme:
        displayName: readme
        get:
          displayName: GET_repos-owner-repo-readme
          description: |
            Get the README.
            This method returns the preferred README for a repository.
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: contents-path
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
          queryParameters:
            ref:
              description: The String name of the Commit/Branch/Tag. Defaults to master.
              type: string
              displayName: The String name of the Commit/Branch/Tag. Defaults to master.
      /releases:
        displayName: releases
        get:
          displayName: GET_repos-owner-repo-releases
          description: 'Users with push access to the repository will receive all releases (i.e., published releases and draft releases). Users with pull access will receive published releases only'
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '200':
              body:
                application/json:
                  type: releases
              description: OK
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        post:
          displayName: POST_repos-owner-repo-releases
          description: |
            Create a release
            Users with push access to the repository can create a release.
          body:
            application/json:
              type: release-create
              (oas-body-name): body
          headers:
            X-GitHub-Media-Type:
              type: string
              description: |
                You can check the current version of media type in responses.
            Accept:
              type: string
              description: Is used to set specified media type.
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
            X-GitHub-Request-Id:
              type: integer
          responses:
            '201':
              body:
                application/json:
                  type: release
              description: Created
            '403':
              description: |
                API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                for details.
        /assets:
          displayName: assets
          '/{id}':
            displayName: '{id}'
            uriParameters:
              id:
                required: true
                type: string
            delete:
              displayName: DELETE_repos-owner-repo-releases-assets-id
              description: Delete a release asset
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '204':
                  description: No Content
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            get:
              displayName: GET_repos-owner-repo-releases-assets-id
              description: Get a single release asset
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: asset
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
            patch:
              displayName: PATCH_repos-owner-repo-releases-assets-id
              description: |
                Edit a release asset
                Users with push access to the repository can edit a release asset.
              body:
                application/json:
                  type: assetPatch
                  (oas-body-name): body
              headers:
                X-GitHub-Media-Type:
                  type: string
                  description: |
                    You can check the current version of media type in responses.
                Accept:
                  type: string
                  description: Is used to set specified media type.
                X-RateLimit-Limit:
                  type: integer
                X-RateLimit-Remaining:
                  type: integer
                X-RateLimit-Reset:
                  type: integer
                X-GitHub-Request-Id:
                  type: integer
              responses:
                '200':
                  body:
                    application/json:
                      type: asset
                  description: OK
                '403':
                  description: |
                    API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
                    for details.
        '/{id}':
          displayName: '{id}'
          uriParameters:
            id:
              required: true
              type: string
          delete:
            displayName: DELETE_repos-owner-repo-releases-id
            description: Users with push access to the repository can delete a release.
            headers:
              X-GitHub-Media-Type:
                type: string
                description: |
                  You can check the current version of media type in responses.
              Accept:
[...]
