#%RAML 1.0
title: Glugbot
version: '1'
baseUri: 'http://www.glugbot.com/'
protocols:
  - HTTP
description: Text Processing API for Creative Writing
(oas-tags-definition):
  - description: API based on emotion detection for creative writing
    name: iris
  - description: API for random goodies in creative writing
    name: random
  - description: API for words in creative writing
    name: words
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-origin):
    format: swagger
    url: 'http://www.glugbot.com/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): glugbot.com
  contact:
    email: ayush@glugbot.com
  termsOfService: 'http://glugbot.com/terms'
  license:
    name: 'http://glugbot.com/license'
    url: 'http://glugbot.com/license'
/api:
  displayName: api
  /words:
    displayName: words
    /top-words:
      displayName: top-words
      post:
        displayName: getTopWords
        (oas-summary): Gets top words in the passed text
        body:
          application/json:
            type: TextInput
            (oas-body-name): textInput
            description: The text for which akin song snippets need to be computed
        responses:
          '200':
            body:
              application/json:
                type: EmotionIndex
            description: No response was specified
        queryParameters:
          count:
            description: Number of top words to return
            format: int32
            required: false
            type: integer
            displayName: Number of top words to return
        (oas-tags):
          - words
  /random:
    displayName: random
    /quote:
      displayName: quote
      get:
        displayName: getRandomQuote
        (oas-summary): Get a random quote
        responses:
          '200':
            body:
              application/json:
                type: Quote
            description: No response was specified
        (oas-tags):
          - random
    /feeling-words:
      displayName: feeling-words
      get:
        displayName: getFeelingWords
        description: Each word returned is a 'feeling word'
        (oas-summary): Get a random set of words which evoke a feeling
        responses:
          '200':
            body:
              application/json:
                items:
                  type: string
                type: array
            description: No response was specified
        queryParameters:
          count:
            description: Number of words to return
            format: int32
            required: false
            type: integer
            displayName: Number of words to return
        (oas-tags):
          - random
  /iris:
    displayName: iris
    /emotions:
      displayName: emotions
      post:
        displayName: getIris
        description: Gets a 20 point emotional index
        (oas-summary): Get emotional index for passed text
        body:
          application/json:
            type: TextInput
            (oas-body-name): textInput
            description: The text for which emotional index is to be computed
        responses:
          '200':
            body:
              application/json:
                type: EmotionIndex
            description: No response was specified
        (oas-tags):
          - iris
    /akin-song-snippets:
      displayName: akin-song-snippets
      post:
        displayName: getAkinSongSnippets
        description: Count cannot be more than 20
        (oas-summary): Gets snippets from songs which evoke similar emotions
        body:
          application/json:
            type: TextInput
            (oas-body-name): textInput
            description: The text for which akin song snippets need to be computed
        responses:
          '200':
            body:
              application/json:
                type: EmotionIndex
            description: No response was specified
        queryParameters:
          count:
            description: Number of top words to return
            format: int32
            required: false
            type: integer
            displayName: Number of top words to return
        (oas-tags):
          - iris
    /akin-quotes:
      displayName: akin-quotes
      post:
        displayName: getAkinQuotes
        description: Count cannot be more than 20
        (oas-summary): Gets snippets from quotes which evoke similar emotions
        body:
          application/json:
            type: TextInput
            (oas-body-name): textInput
            description: The text for which akin quotes need to be computed
        responses:
          '200':
            body:
              application/json:
                type: EmotionIndex
            description: No response was specified
        queryParameters:
          count:
            description: Number of top words to return
            format: int32
            required: false
            type: integer
            displayName: Number of top words to return
        (oas-tags):
          - iris
    /akin-poem-snippets:
      displayName: akin-poem-snippets
      post:
        displayName: getAkinPoemSnippets
        description: Count cannot be more than 20
        (oas-summary): Gets snippets from poems which evoke similar emotions
        body:
          application/json:
            type: TextInput
            (oas-body-name): textInput
            description: The text for which akin poem snippets need to be computed
        responses:
          '200':
            body:
              application/json:
                type: EmotionIndex
            description: No response was specified
        queryParameters:
          count:
            description: Number of top words to return
            format: int32
            required: false
            type: integer
            displayName: Number of top words to return
        (oas-tags):
          - iris
types:
  Emotion:
    properties:
      id:
        format: int32
        type: integer
      name:
        type: string
      score:
        format: double
        type: number
  EmotionIndex:
    properties:
      all:
        items:
          type: Emotion
        type: array
      primary:
        items:
          type: Emotion
        type: array
  Quote:
    properties:
      author:
        type: string
      text:
        type: string
  TextInput:
    properties:
      text:
        type: string
