#%RAML 1.0
title: Google Fonts Developer
version: v1
baseUri: 'https://www.googleapis.com/webfonts/v1'
protocols:
  - HTTPS
description: 'Accesses the metadata for all families served by Google Fonts, providing a list of families currently available (including available styles and a list of supported script subsets).'
(oas-tags-definition):
  - name: webfonts
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/webfonts/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): webfonts
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/fonts/docs/developer_api'
/webfonts:
  displayName: webfonts
  get:
    displayName: webfonts.webfonts.list
    description: Retrieves the list of fonts currently served by the Google Fonts Developer API
    responses:
      '200':
        body:
          application/json:
            type: WebfontList
        description: Successful response
    queryParameters:
      sort:
        description: Enables sorting of the list
        enum:
          - alpha
          - date
          - popularity
          - style
          - trending
        type: string
    (oas-tags):
      - webfonts
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Webfont:
    properties:
      category:
        description: The category of the font.
        type: string
        required: false
      family:
        description: The name of the font.
        type: string
        required: false
      files:
        additionalProperties:
          description: The font file URL (value) for an specific variant (key).
          type: string
        description: 'The font files (with all supported scripts) for each one of the available variants, as a key : value map.'
        type: object
        required: false
      kind:
        default: 'webfonts#webfont'
        description: This kind represents a webfont object in the webfonts service.
        type: string
        required: false
      lastModified:
        description: The date (format "yyyy-MM-dd") the font was modified for the last time.
        type: date-only
        required: false
      subsets:
        description: The scripts supported by the font.
        items:
          type: string
        type: array
        required: false
      variants:
        description: The available variants for the font.
        items:
          type: string
        type: array
        required: false
      version:
        description: The font version.
        type: string
        required: false
  WebfontList:
    properties:
      items:
        description: The list of fonts currently served by the Google Fonts API.
        items:
          type: Webfont
        type: array
        required: false
      kind:
        default: 'webfonts#webfontList'
        description: This kind represents a list of webfont objects in the webfonts service.
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
