#%RAML 1.0
title: DoubleClick Bid Manager
version: v1
baseUri: 'https://www.googleapis.com/doubleclickbidmanager/v1'
protocols:
  - HTTPS
description: API for viewing and managing your reports in DoubleClick Bid Manager.
(oas-tags-definition):
  - name: lineitems
  - name: queries
  - name: reports
  - name: sdf
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/doubleclickbidmanager/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): doubleclickbidmanager
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/bid-manager/'
/sdf:
  displayName: sdf
  /download:
    displayName: download
    post:
      displayName: doubleclickbidmanager.sdf.download
      description: Retrieves entities in SDF format.
      body:
        application/json:
          type: DownloadRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: DownloadResponse
          description: Successful response
      (oas-tags):
        - sdf
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/query:
  displayName: query
  '/{queryId}':
    displayName: '{queryId}'
    uriParameters:
      queryId:
        description: Query ID to delete.
        required: true
        type: string
    post:
      displayName: doubleclickbidmanager.queries.runquery
      description: Runs a stored query to generate a report.
      body:
        application/json:
          type: RunQueryRequest
          (oas-body-name): body
      responses:
        '200':
          description: Successful response
      (oas-tags):
        - queries
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: doubleclickbidmanager.queries.getquery
      description: Retrieves a stored query.
      responses:
        '200':
          body:
            application/json:
              type: Query
          description: Successful response
      (oas-tags):
        - queries
    delete:
      displayName: doubleclickbidmanager.queries.deletequery
      description: Deletes a stored query as well as the associated stored reports.
      responses:
        '200':
          description: Successful response
      (oas-tags):
        - queries
  post:
    displayName: doubleclickbidmanager.queries.createquery
    description: Creates a query.
    body:
      application/json:
        type: Query
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Query
        description: Successful response
    (oas-tags):
      - queries
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/queries:
  displayName: queries
  '/{queryId}':
    displayName: '{queryId}'
    /reports:
      displayName: reports
      get:
        displayName: doubleclickbidmanager.reports.listreports
        description: Retrieves stored reports.
        responses:
          '200':
            body:
              application/json:
                type: ListReportsResponse
            description: Successful response
        (oas-tags):
          - reports
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  get:
    displayName: doubleclickbidmanager.queries.listqueries
    description: Retrieves stored queries.
    responses:
      '200':
        body:
          application/json:
            type: ListQueriesResponse
        description: Successful response
    (oas-tags):
      - queries
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/lineitems:
  displayName: lineitems
  /uploadlineitems:
    displayName: uploadlineitems
    post:
      displayName: doubleclickbidmanager.lineitems.uploadlineitems
      description: Uploads line items in CSV format.
      body:
        application/json:
          type: UploadLineItemsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: UploadLineItemsResponse
          description: Successful response
      (oas-tags):
        - lineitems
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /downloadlineitems:
    displayName: downloadlineitems
    post:
      displayName: doubleclickbidmanager.lineitems.downloadlineitems
      description: Retrieves line items in CSV format.
      body:
        application/json:
          type: DownloadLineItemsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: DownloadLineItemsResponse
          description: Successful response
      (oas-tags):
        - lineitems
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  DownloadLineItemsRequest:
    description: Request to fetch stored line items.
    properties:
      fileSpec:
        description: 'File specification (column names, types, order) in which the line items will be returned. Default to EWF.'
        enum:
          - EWF
          - SDF
        type: string
        required: false
      filterIds:
        description: 'Ids of the specified filter type used to filter line items to fetch. If omitted, all the line items will be returned.'
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      filterType:
        description: Filter type used to filter line items to fetch.
        enum:
          - ADVERTISER_ID
          - INSERTION_ORDER_ID
          - LINE_ITEM_ID
        type: string
        required: false
      format:
        description: Format in which the line items will be returned. Default to CSV.
        enum:
          - CSV
        type: string
        required: false
  DownloadLineItemsResponse:
    description: Download line items response.
    properties:
      lineItems:
        description: Retrieved line items in CSV format. Refer to  Entity Write File Format or  Structured Data File Format for more information on file formats.
        type: string
        required: false
  DownloadRequest:
    description: 'Request to fetch stored insertion orders, line items, TrueView ad groups and ads.'
    properties:
      fileTypes:
        description: File types that will be returned.
        items:
          enum:
            - AD
            - AD_GROUP
            - INSERTION_ORDER
            - LINE_ITEM
          type: string
        type: array
        required: false
      filterIds:
        description: The IDs of the specified filter type. This is used to filter entities to fetch. At least one ID must be specified. Only one ID is allowed for the ADVERTISER_ID filter type. For INSERTION_ORDER_ID or LINE_ITEM_ID filter types all IDs must be from the same Advertiser.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      filterType:
        description: Filter type used to filter line items to fetch.
        enum:
          - ADVERTISER_ID
          - INSERTION_ORDER_ID
          - LINE_ITEM_ID
        type: string
        required: false
      version:
        description: 'SDF Version (column names, types, order) in which the entities will be returned. Default to 3.'
        type: string
        required: false
  DownloadResponse:
    description: Download response.
    properties:
      adGroups:
        description: Retrieved ad groups in SDF format.
        type: string
        required: false
      ads:
        description: Retrieved ads in SDF format.
        type: string
        required: false
      insertionOrders:
        description: Retrieved insertion orders in SDF format.
        type: string
        required: false
      lineItems:
        description: Retrieved line items in SDF format.
        type: string
        required: false
  FilterPair:
    description: Filter used to match traffic data in your report.
    properties:
      type:
        description: Filter type.
        enum:
          - FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY
          - FILTER_ACTIVITY_ID
          - FILTER_ADVERTISER
          - FILTER_ADVERTISER_CURRENCY
          - FILTER_ADVERTISER_TIMEZONE
          - FILTER_AD_POSITION
          - FILTER_AGE
          - FILTER_BRANDSAFE_CHANNEL_ID
          - FILTER_BROWSER
          - FILTER_CAMPAIGN_DAILY_FREQUENCY
          - FILTER_CARRIER
          - FILTER_CHANNEL_ID
          - FILTER_CITY
          - FILTER_CONVERSION_DELAY
          - FILTER_COUNTRY
          - FILTER_CREATIVE_HEIGHT
          - FILTER_CREATIVE_ID
          - FILTER_CREATIVE_SIZE
          - FILTER_CREATIVE_TYPE
          - FILTER_CREATIVE_WIDTH
          - FILTER_DATA_PROVIDER
          - FILTER_DATE
          - FILTER_DAY_OF_WEEK
          - FILTER_DFP_ORDER_ID
          - FILTER_DMA
          - FILTER_EXCHANGE_ID
          - FILTER_FLOODLIGHT_PIXEL_ID
          - FILTER_GENDER
          - FILTER_INSERTION_ORDER
          - FILTER_INVENTORY_FORMAT
          - FILTER_INVENTORY_SOURCE
          - FILTER_INVENTORY_SOURCE_TYPE
          - FILTER_KEYWORD
          - FILTER_LINE_ITEM
          - FILTER_LINE_ITEM_DAILY_FREQUENCY
          - FILTER_LINE_ITEM_LIFETIME_FREQUENCY
          - FILTER_LINE_ITEM_TYPE
          - FILTER_MEDIA_PLAN
          - FILTER_MOBILE_DEVICE_MAKE
          - FILTER_MOBILE_DEVICE_MAKE_MODEL
          - FILTER_MOBILE_DEVICE_TYPE
          - FILTER_MOBILE_GEO
          - FILTER_MONTH
          - FILTER_MRAID_SUPPORT
          - FILTER_NIELSEN_AGE
          - FILTER_NIELSEN_COUNTRY_CODE
          - FILTER_NIELSEN_DEVICE_ID
          - FILTER_NIELSEN_GENDER
          - FILTER_NOT_SUPPORTED
          - FILTER_ORDER_ID
          - FILTER_OS
          - FILTER_PAGE_CATEGORY
          - FILTER_PAGE_LAYOUT
          - FILTER_PARTNER
          - FILTER_PARTNER_CURRENCY
          - FILTER_PUBLIC_INVENTORY
          - FILTER_QUARTER
          - FILTER_REGION
          - FILTER_REGULAR_CHANNEL_ID
          - FILTER_SITE_ID
          - FILTER_SITE_LANGUAGE
          - FILTER_TARGETED_USER_LIST
          - FILTER_TIME_OF_DAY
          - FILTER_TRUEVIEW_AD_GROUP_AD_ID
          - FILTER_TRUEVIEW_AD_GROUP_ID
          - FILTER_TRUEVIEW_AGE
          - FILTER_TRUEVIEW_CATEGORY
          - FILTER_TRUEVIEW_CITY
          - FILTER_TRUEVIEW_CONVERSION_TYPE
          - FILTER_TRUEVIEW_COUNTRY
          - FILTER_TRUEVIEW_CUSTOM_AFFINITY
          - FILTER_TRUEVIEW_DMA
          - FILTER_TRUEVIEW_GENDER
          - FILTER_TRUEVIEW_IAR_AGE
          - FILTER_TRUEVIEW_IAR_CATEGORY
          - FILTER_TRUEVIEW_IAR_CITY
          - FILTER_TRUEVIEW_IAR_COUNTRY
          - FILTER_TRUEVIEW_IAR_GENDER
          - FILTER_TRUEVIEW_IAR_INTEREST
          - FILTER_TRUEVIEW_IAR_LANGUAGE
          - FILTER_TRUEVIEW_IAR_PARENTAL_STATUS
          - FILTER_TRUEVIEW_IAR_REGION
          - FILTER_TRUEVIEW_IAR_REMARKETING_LIST
          - FILTER_TRUEVIEW_IAR_TIME_OF_DAY
          - FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL
          - FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO
          - FILTER_TRUEVIEW_IAR_ZIPCODE
          - FILTER_TRUEVIEW_INTEREST
          - FILTER_TRUEVIEW_KEYWORD
          - FILTER_TRUEVIEW_PARENTAL_STATUS
          - FILTER_TRUEVIEW_PLACEMENT
          - FILTER_TRUEVIEW_REGION
          - FILTER_TRUEVIEW_REMARKETING_LIST
          - FILTER_TRUEVIEW_URL
          - FILTER_TRUEVIEW_ZIPCODE
          - FILTER_UNKNOWN
          - FILTER_USER_LIST
          - FILTER_USER_LIST_FIRST_PARTY
          - FILTER_USER_LIST_THIRD_PARTY
          - FILTER_VIDEO_AD_POSITION_IN_STREAM
          - FILTER_VIDEO_COMPANION_SIZE
          - FILTER_VIDEO_COMPANION_TYPE
          - FILTER_VIDEO_CREATIVE_DURATION
          - FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE
          - FILTER_VIDEO_DURATION_SECONDS
          - FILTER_VIDEO_FORMAT_SUPPORT
          - FILTER_VIDEO_INVENTORY_TYPE
          - FILTER_VIDEO_PLAYER_SIZE
          - FILTER_VIDEO_RATING_TIER
          - FILTER_VIDEO_SKIPPABLE_SUPPORT
          - FILTER_VIDEO_VPAID_SUPPORT
          - FILTER_WEEK
          - FILTER_YEAR
          - FILTER_YOUTUBE_VERTICAL
          - FILTER_ZIP_CODE
        type: string
        required: false
      value:
        description: Filter value.
        type: string
        required: false
  ListQueriesResponse:
    description: List queries response.
    properties:
      kind:
        default: 'doubleclickbidmanager#listQueriesResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "doubleclickbidmanager#listQueriesResponse".'
        type: string
        required: false
      queries:
        description: Retrieved queries.
        items:
          type: Query
        type: array
        required: false
  ListReportsResponse:
    description: List reports response.
    properties:
      kind:
        default: 'doubleclickbidmanager#listReportsResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "doubleclickbidmanager#listReportsResponse".'
        type: string
        required: false
      reports:
        description: Retrieved reports.
        items:
          type: Report
        type: array
        required: false
  Parameters:
    description: Parameters of a query or report.
    properties:
      filters:
        description: Filters used to match traffic data in your report.
        items:
          type: FilterPair
        type: array
        required: false
      groupBys:
        description: Data is grouped by the filters listed in this field.
        items:
          enum:
            - FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY
            - FILTER_ACTIVITY_ID
            - FILTER_ADVERTISER
            - FILTER_ADVERTISER_CURRENCY
            - FILTER_ADVERTISER_TIMEZONE
            - FILTER_AD_POSITION
            - FILTER_AGE
            - FILTER_BRANDSAFE_CHANNEL_ID
            - FILTER_BROWSER
            - FILTER_CAMPAIGN_DAILY_FREQUENCY
            - FILTER_CARRIER
            - FILTER_CHANNEL_ID
            - FILTER_CITY
            - FILTER_CONVERSION_DELAY
            - FILTER_COUNTRY
            - FILTER_CREATIVE_HEIGHT
            - FILTER_CREATIVE_ID
            - FILTER_CREATIVE_SIZE
            - FILTER_CREATIVE_TYPE
            - FILTER_CREATIVE_WIDTH
            - FILTER_DATA_PROVIDER
            - FILTER_DATE
            - FILTER_DAY_OF_WEEK
            - FILTER_DFP_ORDER_ID
            - FILTER_DMA
            - FILTER_EXCHANGE_ID
            - FILTER_FLOODLIGHT_PIXEL_ID
            - FILTER_GENDER
            - FILTER_INSERTION_ORDER
            - FILTER_INVENTORY_FORMAT
            - FILTER_INVENTORY_SOURCE
            - FILTER_INVENTORY_SOURCE_TYPE
            - FILTER_KEYWORD
            - FILTER_LINE_ITEM
            - FILTER_LINE_ITEM_DAILY_FREQUENCY
            - FILTER_LINE_ITEM_LIFETIME_FREQUENCY
            - FILTER_LINE_ITEM_TYPE
            - FILTER_MEDIA_PLAN
            - FILTER_MOBILE_DEVICE_MAKE
            - FILTER_MOBILE_DEVICE_MAKE_MODEL
            - FILTER_MOBILE_DEVICE_TYPE
            - FILTER_MOBILE_GEO
            - FILTER_MONTH
            - FILTER_MRAID_SUPPORT
            - FILTER_NIELSEN_AGE
            - FILTER_NIELSEN_COUNTRY_CODE
            - FILTER_NIELSEN_DEVICE_ID
            - FILTER_NIELSEN_GENDER
            - FILTER_NOT_SUPPORTED
            - FILTER_ORDER_ID
            - FILTER_OS
            - FILTER_PAGE_CATEGORY
            - FILTER_PAGE_LAYOUT
            - FILTER_PARTNER
            - FILTER_PARTNER_CURRENCY
            - FILTER_PUBLIC_INVENTORY
            - FILTER_QUARTER
            - FILTER_REGION
            - FILTER_REGULAR_CHANNEL_ID
            - FILTER_SITE_ID
            - FILTER_SITE_LANGUAGE
            - FILTER_TARGETED_USER_LIST
            - FILTER_TIME_OF_DAY
            - FILTER_TRUEVIEW_AD_GROUP_AD_ID
            - FILTER_TRUEVIEW_AD_GROUP_ID
            - FILTER_TRUEVIEW_AGE
            - FILTER_TRUEVIEW_CATEGORY
            - FILTER_TRUEVIEW_CITY
            - FILTER_TRUEVIEW_CONVERSION_TYPE
            - FILTER_TRUEVIEW_COUNTRY
            - FILTER_TRUEVIEW_CUSTOM_AFFINITY
            - FILTER_TRUEVIEW_DMA
            - FILTER_TRUEVIEW_GENDER
            - FILTER_TRUEVIEW_IAR_AGE
            - FILTER_TRUEVIEW_IAR_CATEGORY
            - FILTER_TRUEVIEW_IAR_CITY
            - FILTER_TRUEVIEW_IAR_COUNTRY
            - FILTER_TRUEVIEW_IAR_GENDER
            - FILTER_TRUEVIEW_IAR_INTEREST
            - FILTER_TRUEVIEW_IAR_LANGUAGE
            - FILTER_TRUEVIEW_IAR_PARENTAL_STATUS
            - FILTER_TRUEVIEW_IAR_REGION
            - FILTER_TRUEVIEW_IAR_REMARKETING_LIST
            - FILTER_TRUEVIEW_IAR_TIME_OF_DAY
            - FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL
            - FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO
            - FILTER_TRUEVIEW_IAR_ZIPCODE
            - FILTER_TRUEVIEW_INTEREST
            - FILTER_TRUEVIEW_KEYWORD
            - FILTER_TRUEVIEW_PARENTAL_STATUS
            - FILTER_TRUEVIEW_PLACEMENT
            - FILTER_TRUEVIEW_REGION
            - FILTER_TRUEVIEW_REMARKETING_LIST
            - FILTER_TRUEVIEW_URL
            - FILTER_TRUEVIEW_ZIPCODE
            - FILTER_UNKNOWN
            - FILTER_USER_LIST
            - FILTER_USER_LIST_FIRST_PARTY
            - FILTER_USER_LIST_THIRD_PARTY
            - FILTER_VIDEO_AD_POSITION_IN_STREAM
            - FILTER_VIDEO_COMPANION_SIZE
            - FILTER_VIDEO_COMPANION_TYPE
            - FILTER_VIDEO_CREATIVE_DURATION
            - FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE
            - FILTER_VIDEO_DURATION_SECONDS
            - FILTER_VIDEO_FORMAT_SUPPORT
            - FILTER_VIDEO_INVENTORY_TYPE
            - FILTER_VIDEO_PLAYER_SIZE
            - FILTER_VIDEO_RATING_TIER
            - FILTER_VIDEO_SKIPPABLE_SUPPORT
            - FILTER_VIDEO_VPAID_SUPPORT
            - FILTER_WEEK
            - FILTER_YEAR
            - FILTER_YOUTUBE_VERTICAL
            - FILTER_ZIP_CODE
          type: string
        type: array
        required: false
      includeInviteData:
        description: Whether to include data from Invite Media.
        type: boolean
        required: false
      metrics:
        description: Metrics to include as columns in your report.
        items:
          enum:
            - METRIC_ACTIVE_VIEW_AVERAGE_VIEWABLE_TIME
            - METRIC_ACTIVE_VIEW_DISTRIBUTION_UNMEASURABLE
            - METRIC_ACTIVE_VIEW_DISTRIBUTION_UNVIEWABLE
            - METRIC_ACTIVE_VIEW_DISTRIBUTION_VIEWABLE
            - METRIC_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS
            - METRIC_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS
            - METRIC_ACTIVE_VIEW_PCT_MEASURABLE_IMPRESSIONS
            - METRIC_ACTIVE_VIEW_PCT_VIEWABLE_IMPRESSIONS
            - METRIC_ACTIVE_VIEW_UNMEASURABLE_IMPRESSIONS
            - METRIC_ACTIVE_VIEW_UNVIEWABLE_IMPRESSIONS
            - METRIC_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS
            - METRIC_BID_REQUESTS
            - METRIC_BILLABLE_COST_ADVERTISER
            - METRIC_BILLABLE_COST_PARTNER
            - METRIC_BILLABLE_COST_USD
            - METRIC_CLICKS
            - METRIC_CLICK_TO_POST_CLICK_CONVERSION_RATE
            - METRIC_COMSCORE_VCE_AUDIENCE_AVG_FREQUENCY
            - METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS
            - METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS_SHARE
            - METRIC_COMSCORE_VCE_AUDIENCE_REACH_PCT
            - METRIC_COMSCORE_VCE_AUDIENCE_SHARE_PCT
            - METRIC_COMSCORE_VCE_GROSS_RATING_POINTS
            - METRIC_COMSCORE_VCE_POPULATION
            - METRIC_COMSCORE_VCE_UNIQUE_AUDIENCE
            - METRIC_CONVERSIONS_PER_MILLE
            - METRIC_CPM_FEE1_ADVERTISER
            - METRIC_CPM_FEE1_PARTNER
            - METRIC_CPM_FEE1_USD
            - METRIC_CPM_FEE2_ADVERTISER
            - METRIC_CPM_FEE2_PARTNER
            - METRIC_CPM_FEE2_USD
            - METRIC_CPM_FEE3_ADVERTISER
            - METRIC_CPM_FEE3_PARTNER
            - METRIC_CPM_FEE3_USD
            - METRIC_CPM_FEE4_ADVERTISER
            - METRIC_CPM_FEE4_PARTNER
            - METRIC_CPM_FEE4_USD
            - METRIC_CPM_FEE5_ADVERTISER
            - METRIC_CPM_FEE5_PARTNER
            - METRIC_CPM_FEE5_USD
            - METRIC_CTR
            - METRIC_DATA_COST_ADVERTISER
            - METRIC_DATA_COST_PARTNER
            - METRIC_DATA_COST_USD
            - METRIC_FEE10_ADVERTISER
            - METRIC_FEE10_PARTNER
            - METRIC_FEE10_USD
            - METRIC_FEE11_ADVERTISER
            - METRIC_FEE11_PARTNER
            - METRIC_FEE11_USD
            - METRIC_FEE12_ADVERTISER
            - METRIC_FEE12_PARTNER
            - METRIC_FEE12_USD
            - METRIC_FEE13_ADVERTISER
            - METRIC_FEE13_PARTNER
            - METRIC_FEE13_USD
            - METRIC_FEE14_ADVERTISER
            - METRIC_FEE14_PARTNER
            - METRIC_FEE14_USD
            - METRIC_FEE15_ADVERTISER
            - METRIC_FEE15_PARTNER
            - METRIC_FEE15_USD
            - METRIC_FEE16_ADVERTISER
            - METRIC_FEE16_PARTNER
            - METRIC_FEE16_USD
            - METRIC_FEE17_ADVERTISER
            - METRIC_FEE17_PARTNER
            - METRIC_FEE17_USD
            - METRIC_FEE18_ADVERTISER
            - METRIC_FEE18_PARTNER
            - METRIC_FEE18_USD
            - METRIC_FEE19_ADVERTISER
            - METRIC_FEE19_PARTNER
            - METRIC_FEE19_USD
            - METRIC_FEE20_ADVERTISER
            - METRIC_FEE20_PARTNER
            - METRIC_FEE20_USD
            - METRIC_FEE21_ADVERTISER
            - METRIC_FEE21_PARTNER
            - METRIC_FEE21_USD
            - METRIC_FEE22_ADVERTISER
            - METRIC_FEE22_PARTNER
            - METRIC_FEE22_USD
            - METRIC_FEE2_ADVERTISER
            - METRIC_FEE2_PARTNER
            - METRIC_FEE2_USD
            - METRIC_FEE3_ADVERTISER
            - METRIC_FEE3_PARTNER
            - METRIC_FEE3_USD
            - METRIC_FEE4_ADVERTISER
            - METRIC_FEE4_PARTNER
            - METRIC_FEE4_USD
            - METRIC_FEE5_ADVERTISER
            - METRIC_FEE5_PARTNER
            - METRIC_FEE5_USD
            - METRIC_FEE6_ADVERTISER
            - METRIC_FEE6_PARTNER
            - METRIC_FEE6_USD
            - METRIC_FEE7_ADVERTISER
            - METRIC_FEE7_PARTNER
            - METRIC_FEE7_USD
            - METRIC_FEE8_ADVERTISER
            - METRIC_FEE8_PARTNER
            - METRIC_FEE8_USD
            - METRIC_FEE9_ADVERTISER
            - METRIC_FEE9_PARTNER
            - METRIC_FEE9_USD
            - METRIC_IMPRESSIONS
            - METRIC_IMPRESSIONS_TO_CONVERSION_RATE
            - METRIC_LAST_CLICKS
            - METRIC_LAST_IMPRESSIONS
            - METRIC_MEDIA_COST_ADVERTISER
            - METRIC_MEDIA_COST_ECPAPC_ADVERTISER
            - METRIC_MEDIA_COST_ECPAPC_PARTNER
            - METRIC_MEDIA_COST_ECPAPC_USD
            - METRIC_MEDIA_COST_ECPAPV_ADVERTISER
            - METRIC_MEDIA_COST_ECPAPV_PARTNER
            - METRIC_MEDIA_COST_ECPAPV_USD
            - METRIC_MEDIA_COST_ECPA_ADVERTISER
            - METRIC_MEDIA_COST_ECPA_PARTNER
            - METRIC_MEDIA_COST_ECPA_USD
            - METRIC_MEDIA_COST_ECPCV_ADVERTISER
            - METRIC_MEDIA_COST_ECPCV_PARTNER
            - METRIC_MEDIA_COST_ECPCV_USD
            - METRIC_MEDIA_COST_ECPC_ADVERTISER
            - METRIC_MEDIA_COST_ECPC_PARTNER
            - METRIC_MEDIA_COST_ECPC_USD
            - METRIC_MEDIA_COST_ECPM_ADVERTISER
            - METRIC_MEDIA_COST_ECPM_PARTNER
            - METRIC_MEDIA_COST_ECPM_USD
            - METRIC_MEDIA_COST_PARTNER
            - METRIC_MEDIA_COST_USD
            - METRIC_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER
            - METRIC_MEDIA_COST_VIEWABLE_ECPM_PARTNER
            - METRIC_MEDIA_COST_VIEWABLE_ECPM_USD
            - METRIC_MEDIA_FEE1_ADVERTISER
            - METRIC_MEDIA_FEE1_PARTNER
            - METRIC_MEDIA_FEE1_USD
            - METRIC_MEDIA_FEE2_ADVERTISER
            - METRIC_MEDIA_FEE2_PARTNER
            - METRIC_MEDIA_FEE2_USD
            - METRIC_MEDIA_FEE3_ADVERTISER
            - METRIC_MEDIA_FEE3_PARTNER
            - METRIC_MEDIA_FEE3_USD
            - METRIC_MEDIA_FEE4_ADVERTISER
            - METRIC_MEDIA_FEE4_PARTNER
            - METRIC_MEDIA_FEE4_USD
            - METRIC_MEDIA_FEE5_ADVERTISER
            - METRIC_MEDIA_FEE5_PARTNER
            - METRIC_MEDIA_FEE5_USD
            - METRIC_PIXEL_LOADS
            - METRIC_PLATFORM_FEE_ADVERTISER
            - METRIC_PLATFORM_FEE_PARTNER
            - METRIC_PLATFORM_FEE_USD
            - METRIC_POST_CLICK_DFA_REVENUE
            - METRIC_POST_VIEW_DFA_REVENUE
            - METRIC_PROFIT_ADVERTISER
            - METRIC_PROFIT_ECPAPC_ADVERTISER
            - METRIC_PROFIT_ECPAPC_PARTNER
            - METRIC_PROFIT_ECPAPC_USD
            - METRIC_PROFIT_ECPAPV_ADVERTISER
            - METRIC_PROFIT_ECPAPV_PARTNER
            - METRIC_PROFIT_ECPAPV_USD
            - METRIC_PROFIT_ECPA_ADVERTISER
            - METRIC_PROFIT_ECPA_PARTNER
            - METRIC_PROFIT_ECPA_USD
            - METRIC_PROFIT_ECPC_ADVERTISER
            - METRIC_PROFIT_ECPC_PARTNER
            - METRIC_PROFIT_ECPC_USD
            - METRIC_PROFIT_ECPM_ADVERTISER
            - METRIC_PROFIT_ECPM_PARTNER
            - METRIC_PROFIT_ECPM_USD
            - METRIC_PROFIT_MARGIN
            - METRIC_PROFIT_PARTNER
            - METRIC_PROFIT_USD
            - METRIC_PROFIT_VIEWABLE_ECPM_ADVERTISER
            - METRIC_PROFIT_VIEWABLE_ECPM_PARTNER
            - METRIC_PROFIT_VIEWABLE_ECPM_USD
            - METRIC_REACH_COOKIE_REACH
            - METRIC_REVENUE_ADVERTISER
            - METRIC_REVENUE_ECPAPC_ADVERTISER
            - METRIC_REVENUE_ECPAPC_PARTNER
            - METRIC_REVENUE_ECPAPC_USD
            - METRIC_REVENUE_ECPAPV_ADVERTISER
            - METRIC_REVENUE_ECPAPV_PARTNER
            - METRIC_REVENUE_ECPAPV_USD
            - METRIC_REVENUE_ECPA_ADVERTISER
            - METRIC_REVENUE_ECPA_PARTNER
            - METRIC_REVENUE_ECPA_USD
            - METRIC_REVENUE_ECPCV_ADVERTISER
            - METRIC_REVENUE_ECPCV_PARTNER
            - METRIC_REVENUE_ECPCV_USD
            - METRIC_REVENUE_ECPC_ADVERTISER
            - METRIC_REVENUE_ECPC_PARTNER
            - METRIC_REVENUE_ECPC_USD
            - METRIC_REVENUE_ECPM_ADVERTISER
            - METRIC_REVENUE_ECPM_PARTNER
            - METRIC_REVENUE_ECPM_USD
            - METRIC_REVENUE_PARTNER
            - METRIC_REVENUE_USD
            - METRIC_REVENUE_VIEWABLE_ECPM_ADVERTISER
            - METRIC_REVENUE_VIEWABLE_ECPM_PARTNER
            - METRIC_REVENUE_VIEWABLE_ECPM_USD
            - METRIC_RICH_MEDIA_VIDEO_COMPLETIONS
            - METRIC_RICH_MEDIA_VIDEO_FIRST_QUARTILE_COMPLETES
            - METRIC_RICH_MEDIA_VIDEO_FULL_SCREENS
            - METRIC_RICH_MEDIA_VIDEO_MIDPOINTS
            - METRIC_RICH_MEDIA_VIDEO_MUTES
            - METRIC_RICH_MEDIA_VIDEO_PAUSES
            - METRIC_RICH_MEDIA_VIDEO_PLAYS
            - METRIC_RICH_MEDIA_VIDEO_SKIPS
            - METRIC_RICH_MEDIA_VIDEO_THIRD_QUARTILE_COMPLETES
            - METRIC_TEA_TRUEVIEW_IMPRESSIONS
            - METRIC_TEA_TRUEVIEW_UNIQUE_COOKIES
            - METRIC_TEA_TRUEVIEW_UNIQUE_PEOPLE
            - METRIC_TOTAL_CONVERSIONS
            - METRIC_TOTAL_MEDIA_COST_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_ECPAPC_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_ECPAPC_PARTNER
            - METRIC_TOTAL_MEDIA_COST_ECPAPC_USD
            - METRIC_TOTAL_MEDIA_COST_ECPAPV_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_ECPAPV_PARTNER
            - METRIC_TOTAL_MEDIA_COST_ECPAPV_USD
            - METRIC_TOTAL_MEDIA_COST_ECPA_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_ECPA_PARTNER
            - METRIC_TOTAL_MEDIA_COST_ECPA_USD
            - METRIC_TOTAL_MEDIA_COST_ECPCV_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_ECPCV_PARTNER
            - METRIC_TOTAL_MEDIA_COST_ECPCV_USD
            - METRIC_TOTAL_MEDIA_COST_ECPC_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_ECPC_PARTNER
            - METRIC_TOTAL_MEDIA_COST_ECPC_USD
            - METRIC_TOTAL_MEDIA_COST_ECPM_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_ECPM_PARTNER
            - METRIC_TOTAL_MEDIA_COST_ECPM_USD
            - METRIC_TOTAL_MEDIA_COST_PARTNER
            - METRIC_TOTAL_MEDIA_COST_USD
            - METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER
            - METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_PARTNER
            - METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_USD
            - METRIC_TRUEVIEW_AVERAGE_CPE_ADVERTISER
            - METRIC_TRUEVIEW_AVERAGE_CPE_PARTNER
            - METRIC_TRUEVIEW_AVERAGE_CPE_USD
            - METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_ADVERTISER
            - METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_PARTNER
            - METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_USD
            - METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_ADVERTISER
            - METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_PARTNER
            - METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_USD
            - METRIC_TRUEVIEW_CONVERSION_MANY_PER_VIEW
            - METRIC_TRUEVIEW_CONVERSION_ONE_PER_VIEW
            - METRIC_TRUEVIEW_CONVERSION_RATE_ONE_PER_VIEW
            - METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_ADVERTISER
            - METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_PARTNER
            - METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_USD
            - METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_ADVERTISER
            - METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_PARTNER
            - METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_USD
            - METRIC_TRUEVIEW_COST_CONVERSION_MANY_PER_VIEW_RATIO
            - METRIC_TRUEVIEW_COST_CONVERSION_ONE_PER_VIEW_RATIO
            - METRIC_TRUEVIEW_CPV_ADVERTISER
            - METRIC_TRUEVIEW_CPV_PARTNER
            - METRIC_TRUEVIEW_CPV_USD
            - METRIC_TRUEVIEW_EARNED_LIKES
            - METRIC_TRUEVIEW_EARNED_PLAYLIST_ADDITIONS
            - METRIC_TRUEVIEW_EARNED_SHARES
            - METRIC_TRUEVIEW_EARNED_SUBSCRIBERS
            - METRIC_TRUEVIEW_EARNED_VIEWS
            - METRIC_TRUEVIEW_ENGAGEMENTS
            - METRIC_TRUEVIEW_ENGAGEMENT_RATE
            - METRIC_TRUEVIEW_IMPRESSION_SHARE
            - METRIC_TRUEVIEW_LOST_IS_BUDGET
            - METRIC_TRUEVIEW_LOST_IS_RANK
            - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUE
            - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_ADVERTISER
            - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_PARTNER
            - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_USD
            - METRIC_TRUEVIEW_UNIQUE_VIEWERS
            - METRIC_TRUEVIEW_VALUE_CONVERSION_MANY_PER_VIEW_RATIO
            - METRIC_TRUEVIEW_VALUE_CONVERSION_ONE_PER_VIEW_RATIO
            - METRIC_TRUEVIEW_VIEWS
            - METRIC_TRUEVIEW_VIEW_RATE
            - METRIC_TRUEVIEW_VIEW_THROUGH_CONVERSION
            - METRIC_UNIQUE_VISITORS_COOKIES
            - METRIC_UNKNOWN
            - METRIC_VIDEO_COMPANION_CLICKS
            - METRIC_VIDEO_COMPANION_IMPRESSIONS
            - METRIC_VIDEO_COMPLETION_RATE
          type: string
        type: array
        required: false
      type:
        description: Report type.
        enum:
          - TYPE_ACTIVE_GRP
          - TYPE_AUDIENCE_COMPOSITION
          - TYPE_AUDIENCE_PERFORMANCE
          - TYPE_CLIENT_SAFE
          - TYPE_COMSCORE_VCE
          - TYPE_CROSS_FEE
          - TYPE_CROSS_PARTNER
          - TYPE_CROSS_PARTNER_THIRD_PARTY_DATA_PROVIDER
          - TYPE_ESTIMATED_CONVERSION
          - TYPE_FEE
          - TYPE_GENERAL
          - TYPE_INVENTORY_AVAILABILITY
          - TYPE_KEYWORD
          - TYPE_NIELSEN_AUDIENCE_PROFILE
          - TYPE_NIELSEN_DAILY_REACH_BUILD
          - TYPE_NIELSEN_ONLINE_GLOBAL_MARKET
          - TYPE_NIELSEN_SITE
          - TYPE_NOT_SUPPORTED
          - TYPE_ORDER_ID
          - TYPE_PAGE_CATEGORY
          - TYPE_PETRA_NIELSEN_AUDIENCE_PROFILE
          - TYPE_PETRA_NIELSEN_DAILY_REACH_BUILD
          - TYPE_PETRA_NIELSEN_ONLINE_GLOBAL_MARKET
          - TYPE_PIXEL_LOAD
          - TYPE_REACH_AND_FREQUENCY
          - TYPE_THIRD_PARTY_DATA_PROVIDER
          - TYPE_TRUEVIEW
          - TYPE_TRUEVIEW_IAR
          - TYPE_VERIFICATION
          - TYPE_YOUTUBE_VERTICAL
        type: string
        required: false
  Query:
    description: Represents a query.
    properties:
      kind:
        default: 'doubleclickbidmanager#query'
        description: 'Identifies what kind of resource this is. Value: the fixed string "doubleclickbidmanager#query".'
        type: string
        required: false
      metadata:
        description: Query metadata.
        type: QueryMetadata
        required: false
      params:
        description: Query parameters.
        type: Parameters
        required: false
      queryId:
        description: Query ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      reportDataEndTimeMs:
        description: 'The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      reportDataStartTimeMs:
        description: 'The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      schedule:
        description: Information on how often and when to run a query.
        type: QuerySchedule
        required: false
      timezoneCode:
        description: Canonical timezone code for report data time. Defaults to America/New_York.
        type: string
        required: false
  QueryMetadata:
    description: Query metadata.
    properties:
      dataRange:
        description: Range of report data.
        enum:
          - ALL_TIME
          - CURRENT_DAY
          - CUSTOM_DATES
          - LAST_14_DAYS
          - LAST_30_DAYS
          - LAST_365_DAYS
          - LAST_7_DAYS
          - LAST_90_DAYS
          - MONTH_TO_DATE
          - PREVIOUS_DAY
          - PREVIOUS_HALF_MONTH
          - PREVIOUS_MONTH
          - PREVIOUS_QUARTER
          - PREVIOUS_WEEK
          - PREVIOUS_YEAR
          - QUARTER_TO_DATE
          - TYPE_NOT_SUPPORTED
          - WEEK_TO_DATE
          - YEAR_TO_DATE
        type: string
        required: false
      format:
        description: Format of the generated report.
        enum:
          - CSV
          - EXCEL_CSV
          - XLSX
        type: string
        required: false
      googleCloudStoragePathForLatestReport:
        description: The path to the location in Google Cloud Storage where the latest report is stored.
        type: string
        required: false
      googleDrivePathForLatestReport:
        description: The path in Google Drive for the latest report.
        type: string
        required: false
      latestReportRunTimeMs:
        description: The time when the latest report started to run.
        format: int64
        type: string
        facets:
          format: string
        required: false
      locale:
        description: |-
          Locale of the generated reports. Valid values are cs CZECH de GERMAN en ENGLISH es SPANISH fr FRENCH it ITALIAN ja JAPANESE ko KOREAN pl POLISH pt-BR BRAZILIAN_PORTUGUESE ru RUSSIAN tr TURKISH uk UKRAINIAN zh-CN CHINA_CHINESE zh-TW TAIWAN_CHINESE

          An locale string not in the list above will generate reports in English.
        type: string
        required: false
      reportCount:
        description: Number of reports that have been generated for the query.
        format: int32
        type: integer
        required: false
      running:
        description: Whether the latest report is currently running.
        type: boolean
        required: false
      sendNotification:
        description: Whether to send an email notification when a report is ready. Default to false.
        type: boolean
        required: false
      shareEmailAddress:
        description: List of email addresses which are sent email notifications when the report is finished. Separate from sendNotification.
        items:
          type: string
        type: array
        required: false
      title:
        description: Query title. It is used to name the reports generated from this query.
        type: string
        required: false
  QuerySchedule:
    description: Information on how frequently and when to run a query.
    properties:
      endTimeMs:
        description: Datetime to periodically run the query until.
        format: int64
        type: string
        facets:
          format: string
        required: false
      frequency:
        description: How often the query is run.
        enum:
          - DAILY
          - MONTHLY
          - ONE_TIME
          - QUARTERLY
          - SEMI_MONTHLY
          - WEEKLY
        type: string
        required: false
      nextRunMinuteOfDay:
        description: 'Time of day at which a new report will be generated, represented as minutes past midnight. Range is 0 to 1439. Only applies to scheduled reports.'
        format: int32
        type: integer
        required: false
      nextRunTimezoneCode:
        description: Canonical timezone code for report generation time. Defaults to America/New_York.
        type: string
        required: false
  Report:
    description: Represents a report.
    properties:
      key:
        description: Key used to identify a report.
        type: ReportKey
        required: false
      metadata:
        description: Report metadata.
        type: ReportMetadata
        required: false
      params:
        description: Report parameters.
        type: Parameters
        required: false
  ReportFailure:
    description: An explanation of a report failure.
    properties:
      errorCode:
        description: Error code that shows why the report was not created.
        enum:
          - AUTHENTICATION_ERROR
          - DEPRECATED_REPORTING_INVALID_QUERY
          - REPORTING_BUCKET_NOT_FOUND
          - REPORTING_CREATE_BUCKET_FAILED
          - REPORTING_DELETE_BUCKET_FAILED
          - REPORTING_FATAL_ERROR
          - REPORTING_ILLEGAL_FILENAME
          - REPORTING_IMCOMPATIBLE_METRICS
          - REPORTING_INVALID_QUERY_MISSING_PARTNER_AND_ADVERTISER_FILTERS
          - REPORTING_INVALID_QUERY_TITLE_MISSING
          - REPORTING_INVALID_QUERY_TOO_MANY_UNFILTERED_LARGE_GROUP_BYS
          - REPORTING_QUERY_NOT_FOUND
          - REPORTING_TRANSIENT_ERROR
          - REPORTING_UPDATE_BUCKET_PERMISSION_FAILED
          - REPORTING_WRITE_BUCKET_OBJECT_FAILED
          - SERVER_ERROR
          - UNAUTHORIZED_API_ACCESS
          - VALIDATION_ERROR
        type: string
        required: false
  ReportKey:
    description: Key used to identify a report.
    properties:
      queryId:
        description: Query ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      reportId:
        description: Report ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
  ReportMetadata:
    description: Report metadata.
    properties:
      googleCloudStoragePath:
        description: The path to the location in Google Cloud Storage where the report is stored.
        type: string
        required: false
      reportDataEndTimeMs:
        description: The ending time for the data that is shown in the report.
        format: int64
        type: string
        facets:
          format: string
        required: false
      reportDataStartTimeMs:
        description: The starting time for the data that is shown in the report.
        format: int64
        type: string
        facets:
          format: string
        required: false
      status:
        description: Report status.
        type: ReportStatus
        required: false
  ReportStatus:
    description: Report status.
    properties:
      failure:
        description: 'If the report failed, this records the cause.'
        type: ReportFailure
        required: false
      finishTimeMs:
        description: The time when this report either completed successfully or failed.
        format: int64
        type: string
        facets:
          format: string
        required: false
      format:
        description: The file type of the report.
        enum:
          - CSV
          - EXCEL_CSV
          - XLSX
        type: string
        required: false
      state:
        description: The state of the report.
        enum:
          - DONE
          - FAILED
          - RUNNING
        type: string
        required: false
  RowStatus:
    description: Represents the upload status of a row in the request.
    properties:
      changed:
        description: Whether the stored entity is changed as a result of upload.
        type: boolean
        required: false
      entityId:
        description: Entity Id.
        format: int64
        type: string
        facets:
          format: string
        required: false
      entityName:
        description: Entity name.
        type: string
        required: false
      errors:
        description: Reasons why the entity can't be uploaded.
        items:
          type: string
        type: array
        required: false
      persisted:
        description: Whether the entity is persisted.
        type: boolean
        required: false
      rowNumber:
        description: Row number.
        format: int32
        type: integer
        required: false
  RunQueryRequest:
    description: Request to run a stored query to generate a report.
    properties:
      dataRange:
        description: Report data range used to generate the report.
        enum:
          - ALL_TIME
          - CURRENT_DAY
          - CUSTOM_DATES
          - LAST_14_DAYS
          - LAST_30_DAYS
          - LAST_365_DAYS
          - LAST_7_DAYS
          - LAST_90_DAYS
          - MONTH_TO_DATE
          - PREVIOUS_DAY
          - PREVIOUS_HALF_MONTH
          - PREVIOUS_MONTH
          - PREVIOUS_QUARTER
          - PREVIOUS_WEEK
          - PREVIOUS_YEAR
          - QUARTER_TO_DATE
          - TYPE_NOT_SUPPORTED
          - WEEK_TO_DATE
          - YEAR_TO_DATE
        type: string
        required: false
      reportDataEndTimeMs:
        description: 'The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      reportDataStartTimeMs:
        description: 'The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      timezoneCode:
        description: Canonical timezone code for report data time. Defaults to America/New_York.
        type: string
        required: false
  UploadLineItemsRequest:
    description: Request to upload line items.
    properties:
      dryRun:
        description: Set to true to get upload status without actually persisting the line items.
        type: boolean
        required: false
      format:
        description: Format the line items are in. Default to CSV.
        enum:
          - CSV
        type: string
        required: false
      lineItems:
        description: Line items in CSV to upload. Refer to  Entity Write File Format for more information on file format.
        type: string
        required: false
  UploadLineItemsResponse:
    description: Upload line items response.
    properties:
      uploadStatus:
        description: Status of upload.
        type: UploadStatus
        required: false
  UploadStatus:
    description: Represents the status of upload.
    properties:
      errors:
        description: Reasons why upload can't be completed.
        items:
          type: string
        type: array
        required: false
      rowStatus:
        description: Per-row upload status.
        items:
          type: RowStatus
        type: array
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
