#%RAML 1.0
title: Google Slides
version: v1
baseUri: 'https://slides.googleapis.com/'
protocols:
  - HTTPS
description: An API for creating and editing Google Slides presentations.
(oas-tags-definition):
  - name: presentations
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://slides.googleapis.com/$discovery/rest?version=v1'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): slides
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/slides/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/drive'
        - 'https://www.googleapis.com/auth/drive.readonly'
        - 'https://www.googleapis.com/auth/presentations'
        - 'https://www.googleapis.com/auth/presentations.readonly'
        - 'https://www.googleapis.com/auth/spreadsheets'
        - 'https://www.googleapis.com/auth/spreadsheets.readonly'
    description: Oauth 2.0 authentication
/v1:
  displayName: v1
  /presentations:
    displayName: presentations
    '/{presentationId}:batchUpdate':
      displayName: '{presentationId}:batchUpdate'
      uriParameters:
        presentationId:
          description: The presentation to apply the updates to.
          required: true
          type: string
          displayName: The presentation to apply the updates to.
      post:
        displayName: slides.presentations.batchUpdate
        description: |-
          Applies one or more updates to the presentation.

          Each request is validated before
          being applied. If any request is not valid then the entire request will
          fail and nothing will be applied.

          Some requests have replies to
          give you some information about how they are applied. Other requests do
          not need to return information; these each return an empty reply.
          The order of replies matches that of the requests.

          For example, suppose you call batchUpdate with four updates, and only the
          third one returns information. The response would have two empty replies,
          the reply to the third request, and another empty reply, in that order.

          Because other users may be editing the presentation, it is not guaranteed
          that the presentation will exactly reflect your changes: your changes may
          be altered with respect to collaborator changes. If there are no
          collaborators, the presentation should reflect your changes. In any case,
          it is guaranteed that the updates in your request will be applied together
          atomically.
        body:
          application/json:
            type: BatchUpdatePresentationRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: BatchUpdatePresentationResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/spreadsheets.readonly'
        (oas-tags):
          - presentations
      is:
        - accessToken
        - prettyPrint
        - key
        - quotaUser
        - pp
        - fields
        - alt
        - xgafv
        - callback
        - oauthToken
        - uploadType
        - bearerToken
        - uploadProtocol
    '/{presentationId}':
      displayName: '{presentationId}'
      /pages:
        displayName: pages
        '/{pageObjectId}':
          displayName: '{pageObjectId}'
          uriParameters:
            pageObjectId:
              description: The object ID of the page to retrieve.
              required: true
              type: string
              displayName: The object ID of the page to retrieve.
          get:
            displayName: slides.presentations.pages.get
            description: Gets the latest version of the specified page in the presentation.
            responses:
              '200':
                body:
                  application/json:
                    type: Page
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/presentations.readonly'
            (oas-tags):
              - presentations
          is:
            - accessToken
            - prettyPrint
            - key
            - quotaUser
            - pp
            - fields
            - alt
            - xgafv
            - callback
            - oauthToken
            - uploadType
            - bearerToken
            - uploadProtocol
      uriParameters:
        presentationId:
          description: The ID of the presentation to retrieve.
          required: true
          type: string
          displayName: The ID of the presentation to retrieve.
      get:
        displayName: slides.presentations.get
        description: Gets the latest version of the specified presentation.
        responses:
          '200':
            body:
              application/json:
                type: Presentation
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/presentations.readonly'
        (oas-tags):
          - presentations
      is:
        - accessToken
        - prettyPrint
        - key
        - quotaUser
        - pp
        - fields
        - alt
        - xgafv
        - callback
        - oauthToken
        - uploadType
        - bearerToken
        - uploadProtocol
    post:
      displayName: slides.presentations.create
      description: |-
        Creates a new presentation using the title given in the request. Other
        fields in the request are ignored.
        Returns the created presentation.
      body:
        application/json:
          type: Presentation
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Presentation
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/presentations'
      (oas-tags):
        - presentations
    is:
      - accessToken
      - prettyPrint
      - key
      - quotaUser
      - pp
      - fields
      - alt
      - xgafv
      - callback
      - oauthToken
      - uploadType
      - bearerToken
      - uploadProtocol
types:
  AffineTransform:
    description: |-
      AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ]
      to transform source coordinates (x,y) into destination coordinates (x', y')
      according to:

            x'  x  =   shear_y  scale_y  translate_y  
            1  [ 1 ]

      After transformation,

           x' = scale_x * x + shear_x * y + translate_x;
           y' = scale_y * y + shear_y * x + translate_y;

      This message is therefore composed of these six matrix elements.
    properties:
      scaleX:
        description: The X coordinate scaling element.
        format: double
        type: number
        required: false
      scaleY:
        description: The Y coordinate scaling element.
        format: double
        type: number
        required: false
      shearX:
        description: The X coordinate shearing element.
        format: double
        type: number
        required: false
      shearY:
        description: The Y coordinate shearing element.
        format: double
        type: number
        required: false
      translateX:
        description: The X coordinate translation element.
        format: double
        type: number
        required: false
      translateY:
        description: The Y coordinate translation element.
        format: double
        type: number
        required: false
      unit:
        description: The units for translate elements.
        enum:
          - UNIT_UNSPECIFIED
          - EMU
          - PT
        type: string
        required: false
  AutoText:
    description: A TextElement kind that represents auto text.
    properties:
      content:
        description: 'The rendered content of this auto text, if available.'
        type: string
        required: false
      style:
        description: The styling applied to this auto text.
        type: TextStyle
        required: false
      type:
        description: The type of this auto text.
        enum:
          - TYPE_UNSPECIFIED
          - SLIDE_NUMBER
        type: string
        required: false
  BatchUpdatePresentationRequest:
    description: Request message for PresentationsService.BatchUpdatePresentation.
    properties:
      requests:
        description: A list of updates to apply to the presentation.
        items:
          type: Request
        type: array
        required: false
  BatchUpdatePresentationResponse:
    description: Response message from a batch update.
    properties:
      presentationId:
        description: The presentation the updates were applied to.
        type: string
        required: false
      replies:
        description: |-
          The reply of the updates.  This maps 1:1 with the updates, although
          replies to some requests may be empty.
        items:
          type: Response
        type: array
        required: false
  Bullet:
    description: Describes the bullet of a paragraph.
    properties:
      bulletStyle:
        description: The paragraph specific text style applied to this bullet.
        type: TextStyle
        required: false
      glyph:
        description: The rendered bullet glyph for this paragraph.
        type: string
        required: false
      listId:
        description: The ID of the list this paragraph belongs to.
        type: string
        required: false
      nestingLevel:
        description: The nesting level of this paragraph in the list.
        format: int32
        type: integer
        required: false
  ColorScheme:
    description: The palette of predefined colors for a page.
    properties:
      colors:
        description: The ThemeColorType and corresponding concrete color pairs.
        items:
          type: ThemeColorPair
        type: array
        required: false
  ColorStop:
    description: A color and position in a gradient band.
    properties:
      alpha:
        description: |-
          The alpha value of this color in the gradient band. Defaults to 1.0,
          fully opaque.
        format: float
        type: number
        required: false
      color:
        description: The color of the gradient stop.
        type: OpaqueColor
        required: false
      position:
        description: |-
          The relative position of the color stop in the gradient band measured
          in percentage. The value should be in the interval [0.0, 1.0].
        format: float
        type: number
        required: false
  CreateImageRequest:
    description: Creates an image.
    properties:
      elementProperties:
        description: |-
          The element properties for the image.

          When the aspect ratio of the provided size does not match the image aspect
          ratio, the image is scaled and centered with respect to the size in order
          to maintain aspect ratio. The provided transform is applied after this
          operation.
        type: PageElementProperties
        required: false
      objectId:
        description: |-
          A user-supplied object ID.

          If you specify an ID, it must be unique among all pages and page elements
          in the presentation. The ID must start with an alphanumeric character or an
          underscore (matches regex `[a-zA-Z0-9_]`); remaining characters
          may include those as well as a hyphen or colon (matches regex
          `[a-zA-Z0-9_-:]`).
          The length of the ID must not be less than 5 or greater than 50.

          If you don't specify an ID, a unique one is generated.
        type: string
        required: false
      url:
        description: |-
          The image URL.

          The image is fetched once at insertion time and a copy is stored for
          display inside the presentation. Images must be less than 50MB in size,
          cannot exceed 25 megapixels, and must be in either in PNG, JPEG, or GIF
          format.
        type: string
        required: false
  CreateImageResponse:
    description: The result of creating an image.
    properties:
      objectId:
        description: The object ID of the created image.
        type: string
        required: false
  CreateLineRequest:
    description: Creates a line.
    properties:
      elementProperties:
        description: The element properties for the line.
        type: PageElementProperties
        required: false
      lineCategory:
        description: The category of line to be created.
        enum:
          - STRAIGHT
          - BENT
          - CURVED
        type: string
        required: false
      objectId:
        description: |-
          A user-supplied object ID.

          If you specify an ID, it must be unique among all pages and page elements
          in the presentation. The ID must start with an alphanumeric character or an
          underscore (matches regex `[a-zA-Z0-9_]`); remaining characters
          may include those as well as a hyphen or colon (matches regex
          `[a-zA-Z0-9_-:]`).
          The length of the ID must not be less than 5 or greater than 50.

          If you don't specify an ID, a unique one is generated.
        type: string
        required: false
  CreateLineResponse:
    description: The result of creating a line.
    properties:
      objectId:
        description: The object ID of the created line.
        type: string
        required: false
  CreateParagraphBulletsRequest:
    description: |-
      Creates bullets for all of the paragraphs that overlap with the given
      text index range.

      The nesting level of each paragraph will be determined by counting leading
      tabs in front of each paragraph. To avoid excess space between the bullet and
      the corresponding paragraph, these leading tabs are removed by this request.
      This may change the indices of parts of the text.

      If the paragraph immediately before paragraphs being updated is in a list
      with a matching preset, the paragraphs being updated are added to that
      preceding list.
    properties:
      bulletPreset:
        description: |-
          The kinds of bullet glyphs to be used. Defaults to the
          `BULLET_DISC_CIRCLE_SQUARE` preset.
        enum:
          - BULLET_DISC_CIRCLE_SQUARE
          - BULLET_DIAMONDX_ARROW3D_SQUARE
          - BULLET_CHECKBOX
          - BULLET_ARROW_DIAMOND_DISC
          - BULLET_STAR_CIRCLE_SQUARE
          - BULLET_ARROW3D_CIRCLE_SQUARE
          - BULLET_LEFTTRIANGLE_DIAMOND_DISC
          - BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE
          - BULLET_DIAMOND_CIRCLE_SQUARE
          - NUMBERED_DIGIT_ALPHA_ROMAN
          - NUMBERED_DIGIT_ALPHA_ROMAN_PARENS
          - NUMBERED_DIGIT_NESTED
          - NUMBERED_UPPERALPHA_ALPHA_ROMAN
          - NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT
          - NUMBERED_ZERODIGIT_ALPHA_ROMAN
        type: string
        required: false
      cellLocation:
        description: |-
          The optional table cell location if the text to be modified is in a table
          cell. If present the object_id must refer to a table.
        type: TableCellLocation
        required: false
      objectId:
        description: The object ID of the shape or table containing the text to add bullets to.
        type: string
        required: false
      textRange:
        description: 'The range of text to apply the bullet presets to, based on TextElement indexes.'
        type: Range
        required: false
  CreateShapeRequest:
    description: Creates a new shape.
    properties:
      elementProperties:
        description: The element properties for the shape.
        type: PageElementProperties
        required: false
      objectId:
        description: |-
          A user-supplied object ID.

          If you specify an ID, it must be unique among all pages and page elements
          in the presentation. The ID must start with an alphanumeric character or an
          underscore (matches regex `[a-zA-Z0-9_]`); remaining characters
          may include those as well as a hyphen or colon (matches regex
          `[a-zA-Z0-9_-:]`).
          The length of the ID must not be less than 5 or greater than 50.
          If empty, a unique identifier will be generated.
        type: string
        required: false
      shapeType:
        description: The shape type.
        enum:
          - TYPE_UNSPECIFIED
          - TEXT_BOX
          - RECTANGLE
          - ROUND_RECTANGLE
          - ELLIPSE
          - ARC
          - BENT_ARROW
          - BENT_UP_ARROW
          - BEVEL
          - BLOCK_ARC
          - BRACE_PAIR
          - BRACKET_PAIR
          - CAN
          - CHEVRON
          - CHORD
          - CLOUD
          - CORNER
          - CUBE
          - CURVED_DOWN_ARROW
          - CURVED_LEFT_ARROW
          - CURVED_RIGHT_ARROW
          - CURVED_UP_ARROW
          - DECAGON
          - DIAGONAL_STRIPE
          - DIAMOND
          - DODECAGON
          - DONUT
          - DOUBLE_WAVE
          - DOWN_ARROW
          - DOWN_ARROW_CALLOUT
          - FOLDED_CORNER
          - FRAME
          - HALF_FRAME
          - HEART
          - HEPTAGON
          - HEXAGON
          - HOME_PLATE
          - HORIZONTAL_SCROLL
          - IRREGULAR_SEAL_1
          - IRREGULAR_SEAL_2
          - LEFT_ARROW
          - LEFT_ARROW_CALLOUT
          - LEFT_BRACE
          - LEFT_BRACKET
          - LEFT_RIGHT_ARROW
          - LEFT_RIGHT_ARROW_CALLOUT
          - LEFT_RIGHT_UP_ARROW
          - LEFT_UP_ARROW
          - LIGHTNING_BOLT
          - MATH_DIVIDE
          - MATH_EQUAL
          - MATH_MINUS
          - MATH_MULTIPLY
          - MATH_NOT_EQUAL
          - MATH_PLUS
          - MOON
          - NO_SMOKING
          - NOTCHED_RIGHT_ARROW
          - OCTAGON
          - PARALLELOGRAM
          - PENTAGON
          - PIE
          - PLAQUE
          - PLUS
          - QUAD_ARROW
          - QUAD_ARROW_CALLOUT
          - RIBBON
          - RIBBON_2
          - RIGHT_ARROW
          - RIGHT_ARROW_CALLOUT
          - RIGHT_BRACE
          - RIGHT_BRACKET
          - ROUND_1_RECTANGLE
          - ROUND_2_DIAGONAL_RECTANGLE
          - ROUND_2_SAME_RECTANGLE
          - RIGHT_TRIANGLE
          - SMILEY_FACE
          - SNIP_1_RECTANGLE
          - SNIP_2_DIAGONAL_RECTANGLE
          - SNIP_2_SAME_RECTANGLE
          - SNIP_ROUND_RECTANGLE
          - STAR_10
          - STAR_12
          - STAR_16
          - STAR_24
          - STAR_32
          - STAR_4
          - STAR_5
          - STAR_6
          - STAR_7
          - STAR_8
          - STRIPED_RIGHT_ARROW
          - SUN
          - TRAPEZOID
          - TRIANGLE
          - UP_ARROW
          - UP_ARROW_CALLOUT
          - UP_DOWN_ARROW
          - UTURN_ARROW
          - VERTICAL_SCROLL
          - WAVE
          - WEDGE_ELLIPSE_CALLOUT
          - WEDGE_RECTANGLE_CALLOUT
          - WEDGE_ROUND_RECTANGLE_CALLOUT
          - FLOW_CHART_ALTERNATE_PROCESS
          - FLOW_CHART_COLLATE
          - FLOW_CHART_CONNECTOR
          - FLOW_CHART_DECISION
          - FLOW_CHART_DELAY
          - FLOW_CHART_DISPLAY
          - FLOW_CHART_DOCUMENT
          - FLOW_CHART_EXTRACT
          - FLOW_CHART_INPUT_OUTPUT
          - FLOW_CHART_INTERNAL_STORAGE
          - FLOW_CHART_MAGNETIC_DISK
          - FLOW_CHART_MAGNETIC_DRUM
          - FLOW_CHART_MAGNETIC_TAPE
          - FLOW_CHART_MANUAL_INPUT
          - FLOW_CHART_MANUAL_OPERATION
          - FLOW_CHART_MERGE
          - FLOW_CHART_MULTIDOCUMENT
          - FLOW_CHART_OFFLINE_STORAGE
          - FLOW_CHART_OFFPAGE_CONNECTOR
          - FLOW_CHART_ONLINE_STORAGE
          - FLOW_CHART_OR
          - FLOW_CHART_PREDEFINED_PROCESS
          - FLOW_CHART_PREPARATION
          - FLOW_CHART_PROCESS
          - FLOW_CHART_PUNCHED_CARD
          - FLOW_CHART_PUNCHED_TAPE
          - FLOW_CHART_SORT
          - FLOW_CHART_SUMMING_JUNCTION
          - FLOW_CHART_TERMINATOR
          - ARROW_EAST
          - ARROW_NORTH_EAST
          - ARROW_NORTH
          - SPEECH
          - STARBURST
          - TEARDROP
          - ELLIPSE_RIBBON
          - ELLIPSE_RIBBON_2
          - CLOUD_CALLOUT
          - CUSTOM
        type: string
        required: false
  CreateShapeResponse:
    description: The result of creating a shape.
    properties:
      objectId:
        description: The object ID of the created shape.
        type: string
        required: false
  CreateSheetsChartRequest:
    description: |-
      Creates an embedded Google Sheets chart.

      NOTE: Chart creation requires  at least one of the spreadsheets.readonly,
      spreadsheets, drive.readonly, or drive OAuth scopes.
    properties:
      chartId:
        description: The ID of the specific chart in the Google Sheets spreadsheet.
        format: int32
        type: integer
        required: false
      elementProperties:
        description: |-
          The element properties for the chart.

          When the aspect ratio of the provided size does not match the chart aspect
          ratio, the chart is scaled and centered with respect to the size in order
          to maintain aspect ratio. The provided transform is applied after this
          operation.
        type: PageElementProperties
        required: false
      linkingMode:
        description: |-
          The mode with which the chart is linked to the source spreadsheet. When
          not specified, the chart will be an image that is not linked.
        enum:
          - NOT_LINKED_IMAGE
          - LINKED
        type: string
        required: false
      objectId:
        description: |-
          A user-supplied object ID.

          If specified, the ID must be unique among all pages and page elements in
          the presentation. The ID should start with a word character [a-zA-Z0-9_]
          and then followed by any number of the following characters [a-zA-Z0-9_-:].
          The length of the ID should not be less than 5 or greater than 50.
          If empty, a unique identifier will be generated.
        type: string
        required: false
      spreadsheetId:
        description: The ID of the Google Sheets spreadsheet that contains the chart.
        type: string
        required: false
  CreateSheetsChartResponse:
    description: The result of creating an embedded Google Sheets chart.
    properties:
      objectId:
        description: The object ID of the created chart.
        type: string
        required: false
  CreateSlideRequest:
    description: Creates a new slide.
    properties:
      insertionIndex:
        description: |-
          The optional zero-based index indicating where to insert the slides.

          If you don't specify an index, the new slide is created at the end.
        format: int32
        type: integer
        required: false
      objectId:
        description: |-
          A user-supplied object ID.

          If you specify an ID, it must be unique among all pages and page elements
          in the presentation. The ID must start with an alphanumeric character or an
          underscore (matches regex `[a-zA-Z0-9_]`); remaining characters
          may include those as well as a hyphen or colon (matches regex
          `[a-zA-Z0-9_-:]`).
          The length of the ID must not be less than 5 or greater than 50.

          If you don't specify an ID, a unique one is generated.
        type: string
        required: false
      slideLayoutReference:
        description: |-
          Layout reference of the slide to be inserted, based on the *current
          master*, which is one of the following:

          - The master of the previous slide index.
          - The master of the first slide, if the insertion_index is zero.
          - The first master in the presentation, if there are no slides.

          If the LayoutReference is not found in the current master, a 400 bad
          request error is returned.

          If you don't specify a layout reference, then the new slide will use the
          predefined layout `BLANK`.
        type: LayoutReference
        required: false
  CreateSlideResponse:
    description: The result of creating a slide.
    properties:
      objectId:
        description: The object ID of the created slide.
        type: string
        required: false
  CreateTableRequest:
    description: Creates a new table.
    properties:
      columns:
        description: Number of columns in the table.
        format: int32
        type: integer
        required: false
      elementProperties:
        description: |-
          The element properties for the table.

          The table will be created at the provided size, subject to a minimum size.
          If no size is provided, the table will be automatically sized.

          Table transforms must have a scale of 1 and no shear components. If no
          transform is provided, the table will be centered on the page.
        type: PageElementProperties
        required: false
      objectId:
        description: |-
          A user-supplied object ID.

          If you specify an ID, it must be unique among all pages and page elements
          in the presentation. The ID must start with an alphanumeric character or an
          underscore (matches regex `[a-zA-Z0-9_]`); remaining characters
          may include those as well as a hyphen or colon (matches regex
          `[a-zA-Z0-9_-:]`).
          The length of the ID must not be less than 5 or greater than 50.

          If you don't specify an ID, a unique one is generated.
        type: string
        required: false
      rows:
        description: Number of rows in the table.
        format: int32
        type: integer
        required: false
  CreateTableResponse:
    description: The result of creating a table.
    properties:
      objectId:
        description: The object ID of the created table.
        type: string
        required: false
  CreateVideoRequest:
    description: Creates a video.
    properties:
      elementProperties:
        description: The element properties for the video.
        type: PageElementProperties
        required: false
      id:
        description: |-
          The video source's unique identifier for this video.

          e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0,
          the ID is 7U3axjORYZ0.
        type: string
        required: false
      objectId:
        description: |-
          A user-supplied object ID.

          If you specify an ID, it must be unique among all pages and page elements
          in the presentation. The ID must start with an alphanumeric character or an
          underscore (matches regex `[a-zA-Z0-9_]`); remaining characters
          may include those as well as a hyphen or colon (matches regex
          `[a-zA-Z0-9_-:]`).
          The length of the ID must not be less than 5 or greater than 50.

          If you don't specify an ID, a unique one is generated.
        type: string
        required: false
      source:
        description: The video source.
        enum:
          - SOURCE_UNSPECIFIED
          - YOUTUBE
        type: string
        required: false
  CreateVideoResponse:
    description: The result of creating a video.
    properties:
      objectId:
        description: The object ID of the created video.
        type: string
        required: false
  CropProperties:
    description: |-
      The crop properties of an object enclosed in a container. For example, an
      Image.

      The crop properties is represented by the offsets of four edges which define
      a crop rectangle. The offsets are measured in percentage from the
      corresponding edges of the object's original bounding rectangle towards
      inside, relative to the object's original dimensions.

      - If the offset is in the interval (0, 1), the corresponding edge of crop
      rectangle is positioned inside of the object's original bounding rectangle.
      - If the offset is negative or greater than 1, the corresponding edge of crop
      rectangle is positioned outside of the object's original bounding rectangle.
      - If the left edge of the crop rectangle is on the right side of its right
      edge, the object will be flipped horizontally.
      - If the top edge of the crop rectangle is below its bottom edge, the object
      will be flipped vertically.
      - If all offsets and rotation angle is 0, the object is not cropped.

      After cropping, the content in the crop rectangle will be stretched to fit
      its container.
    properties:
      angle:
        description: |-
          The rotation angle of the crop window around its center, in radians.
          Rotation angle is applied after the offset.
        format: float
        type: number
        required: false
      bottomOffset:
        description: |-
          The offset specifies the bottom edge of the crop rectangle that is located
          above the original bounding rectangle bottom edge, relative to the object's
          original height.
        format: float
        type: number
        required: false
      leftOffset:
        description: |-
          The offset specifies the left edge of the crop rectangle that is located to
          the right of the original bounding rectangle left edge, relative to the
          object's original width.
        format: float
        type: number
        required: false
      rightOffset:
        description: |-
          The offset specifies the right edge of the crop rectangle that is located
          to the left of the original bounding rectangle right edge, relative to the
          object's original width.
        format: float
        type: number
        required: false
      topOffset:
        description: |-
          The offset specifies the top edge of the crop rectangle that is located
          below the original bounding rectangle top edge, relative to the object's
          original height.
        format: float
        type: number
        required: false
  DeleteObjectRequest:
    description: |-
      Deletes an object, either pages or
      page elements, from the
      presentation.
    properties:
      objectId:
        description: |-
          The object ID of the page or page element to delete.

          If after a delete operation a group contains
          only 1 or no page elements, the group is also deleted.

          If a placeholder is deleted on a layout, any empty inheriting shapes are
          also deleted.
        type: string
        required: false
  DeleteTableColumnRequest:
    description: Deletes a column from a table.
    properties:
      cellLocation:
        description: |-
          The reference table cell location from which a column will be deleted.

          The column this cell spans will be deleted. If this is a merged cell,
          multiple columns will be deleted. If no columns remain in the table after
          this deletion, the whole table is deleted.
        type: TableCellLocation
        required: false
      tableObjectId:
        description: The table to delete columns from.
        type: string
        required: false
  DeleteTableRowRequest:
    description: Deletes a row from a table.
    properties:
      cellLocation:
        description: |-
          The reference table cell location from which a row will be deleted.

          The row this cell spans will be deleted. If this is a merged cell, multiple
          rows will be deleted. If no rows remain in the table after this deletion,
          the whole table is deleted.
        type: TableCellLocation
        required: false
      tableObjectId:
        description: The table to delete rows from.
        type: string
        required: false
  DeleteTextRequest:
    description: Deletes text from a shape or a table cell.
    properties:
      cellLocation:
        description: |-
          The optional table cell location if the text is to be deleted from a table
          cell. If present the object_id must refer to a table.
        type: TableCellLocation
        required: false
      objectId:
        description: The object ID of the shape or table from which the text will be deleted.
        type: string
        required: false
      textRange:
        description: |-
          The range of text to delete, based on TextElement indexes.

          There is always an implicit newline character at the end of a shape's or
          table cell's text that cannot be deleted. `Range.Type.ALL` will use the
          correct bounds, but care must be taken when specifying explicit bounds for
          range types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text
          is "ABC", followed by an implicit newline, then the maximum value is 2 for
          `text_range.start_index` and 3 for `text_range.end_index`.

          Deleting text that crosses a paragraph boundary may result in changes
          to paragraph styles and lists as the two paragraphs are merged.

          Ranges that include only one code unit of a surrogate pair are expanded to
          include both code units.
        type: Range
        required: false
  Dimension:
    description: A magnitude in a single direction in the specified units.
    properties:
      magnitude:
        description: The magnitude.
        format: double
        type: number
        required: false
      unit:
        description: The units for magnitude.
        enum:
          - UNIT_UNSPECIFIED
          - EMU
          - PT
        type: string
        required: false
  DuplicateObjectRequest:
    description: |-
      Duplicates a slide or page element.

      When duplicating a slide, the duplicate slide will be created immediately
      following the specified slide. When duplicating a page element, the duplicate
      will be placed on the same page at the same position as the original.
    properties:
      objectId:
        description: The ID of the object to duplicate.
        type: string
        required: false
      objectIds:
        additionalProperties:
          type: string
        description: |-
          The object being duplicated may contain other objects, for example when
          duplicating a slide or a group page element. This map defines how the IDs
          of duplicated objects are generated: the keys are the IDs of the original
          objects and its values are the IDs that will be assigned to the
          corresponding duplicate object. The ID of the source object's duplicate
          may be specified in this map as well, using the same value of the
          `object_id` field as a key and the newly desired ID as the value.

          All keys must correspond to existing IDs in the presentation. All values
          must be unique in the presentation and must start with an alphanumeric
          character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining
          characters may include those as well as a hyphen or colon (matches regex
          `[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or
          greater than 50.

          If any IDs of source objects are omitted from the map, a new random ID will
          be assigned. If the map is empty or unset, all duplicate objects will
          receive a new random ID.
        type: object
        required: false
  DuplicateObjectResponse:
    description: The response of duplicating an object.
    properties:
      objectId:
        description: The ID of the new duplicate object.
        type: string
        required: false
  Group:
    description: |-
      A PageElement kind representing a
      joined collection of PageElements.
    properties:
      children:
        description: The collection of elements in the group. The minimum size of a group is 2.
        items:
          type: PageElement
        type: array
        required: false
  Image:
    description: |-
      A PageElement kind representing an
      image.
    properties:
      contentUrl:
        description: |-
          An URL to an image with a default lifetime of 30 minutes.
          This URL is tagged with the account of the requester. Anyone with the URL
          effectively accesses the image as the original requester. Access to the
          image may be lost if the presentation's sharing settings change.
        type: string
        required: false
      imageProperties:
        description: The properties of the image.
        type: ImageProperties
        required: false
  ImageProperties:
    description: The properties of the Image.
    properties:
      brightness:
        description: |-
          The brightness effect of the image. The value should be in the interval
          [-1.0, 1.0], where 0 means no effect. This property is read-only.
        format: float
        type: number
        required: false
      contrast:
        description: |-
          The contrast effect of the image. The value should be in the interval
          [-1.0, 1.0], where 0 means no effect. This property is read-only.
        format: float
        type: number
        required: false
      cropProperties:
        description: |-
          The crop properties of the image. If not set, the image is not cropped.
          This property is read-only.
        type: CropProperties
        required: false
      outline:
        description: 'The outline of the image. If not set, the the image has no outline.'
        type: Outline
        required: false
      recolor:
        description: |-
          The recolor effect of the image. If not set, the image is not recolored.
          This property is read-only.
        type: Recolor
        required: false
      shadow:
        description: |-
          The shadow of the image. If not set, the image has no shadow. This property
          is read-only.
        type: Shadow
        required: false
      transparency:
        description: |-
          The transparency effect of the image. The value should be in the interval
          [0.0, 1.0], where 0 means no effect and 1 means completely transparent.
          This property is read-only.
        format: float
        type: number
        required: false
  InsertTableColumnsRequest:
    description: |-
      Inserts columns into a table.

      Other columns in the table will be resized to fit the new column.
    properties:
      cellLocation:
        description: |-
          The reference table cell location from which columns will be inserted.

          A new column will be inserted to the left (or right) of the column where
          the reference cell is. If the reference cell is a merged cell, a new
          column will be inserted to the left (or right) of the merged cell.
        type: TableCellLocation
        required: false
      insertRight:
        description: |-
          Whether to insert new columns to the right of the reference cell location.

          - `True`: insert to the right.
          - `False`: insert to the left.
        type: boolean
        required: false
      number:
        description: The number of columns to be inserted. Maximum 20 per request.
        format: int32
        type: integer
        required: false
      tableObjectId:
        description: The table to insert columns into.
        type: string
        required: false
  InsertTableRowsRequest:
    description: Inserts rows into a table.
    properties:
      cellLocation:
        description: |-
          The reference table cell location from which rows will be inserted.

          A new row will be inserted above (or below) the row where the reference
          cell is. If the reference cell is a merged cell, a new row will be
          inserted above (or below) the merged cell.
        type: TableCellLocation
        required: false
      insertBelow:
        description: |-
          Whether to insert new rows below the reference cell location.

          - `True`: insert below the cell.
          - `False`: insert above the cell.
        type: boolean
        required: false
      number:
        description: The number of rows to be inserted. Maximum 20 per request.
        format: int32
        type: integer
        required: false
      tableObjectId:
        description: The table to insert rows into.
        type: string
        required: false
  InsertTextRequest:
    description: Inserts text into a shape or a table cell.
    properties:
      cellLocation:
        description: |-
          The optional table cell location if the text is to be inserted into a table
          cell. If present the object_id must refer to a table.
        type: TableCellLocation
        required: false
      insertionIndex:
        description: |-
          The index where the text will be inserted, in Unicode code units, based
          on TextElement indexes.

          The index is zero-based and is computed from the start of the string.
          The index may be adjusted to prevent insertions inside Unicode grapheme
          clusters. In these cases, the text will be inserted immediately after the
          grapheme cluster.
        format: int32
        type: integer
        required: false
      objectId:
        description: The object ID of the shape or table where the text will be inserted.
        type: string
        required: false
      text:
        description: |-
          The text to be inserted.

          Inserting a newline character will implicitly create a new
          ParagraphMarker at that index.
          The paragraph style of the new paragraph will be copied from the paragraph
          at the current insertion index, including lists and bullets.

          Text styles for inserted text will be determined automatically, generally
          preserving the styling of neighboring text. In most cases, the text will be
          added to the TextRun that exists at the
          insertion index.

          Some control characters (U+0000-U+0008, U+000C-U+001F) and characters
          from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF)
          will be stripped out of the inserted text.
        type: string
        required: false
  LayoutProperties:
    description: |-
      The properties of Page are only
      relevant for pages with page_type LAYOUT.
    properties:
      displayName:
        description: The human readable name of the layout in the presentation's locale.
        type: string
        required: false
      masterObjectId:
        description: The object ID of the master that this layout is based on.
        type: string
        required: false
      name:
        description: The name of the layout.
        type: string
        required: false
  LayoutReference:
    description: |-
      Slide layout reference. This may reference either:

      - A predefined layout, or
      - One of the layouts in the presentation.
    properties:
      layoutId:
        description: 'Layout ID: the object ID of one of the layouts in the presentation.'
        type: string
        required: false
      predefinedLayout:
        description: Predefined layout.
        enum:
          - PREDEFINED_LAYOUT_UNSPECIFIED
          - BLANK
          - CAPTION_ONLY
          - TITLE
          - TITLE_AND_BODY
          - TITLE_AND_TWO_COLUMNS
          - TITLE_ONLY
        type: string
        required: false
  Line:
    description: |-
      A PageElement kind representing a
      line, curved connector, or bent connector.
    properties:
      lineProperties:
        description: The properties of the line.
        type: LineProperties
        required: false
      lineType:
        description: The type of the line.
        enum:
          - TYPE_UNSPECIFIED
          - STRAIGHT_CONNECTOR_1
          - BENT_CONNECTOR_2
          - BENT_CONNECTOR_3
          - BENT_CONNECTOR_4
          - BENT_CONNECTOR_5
          - CURVED_CONNECTOR_2
          - CURVED_CONNECTOR_3
          - CURVED_CONNECTOR_4
          - CURVED_CONNECTOR_5
        type: string
        required: false
  LineFill:
    description: The fill of the line.
    properties:
      solidFill:
        description: Solid color fill.
        type: SolidFill
        required: false
  LineProperties:
    description: |-
      The properties of the Line.

      When unset, these fields default to values that match the appearance of
      new lines created in the Slides editor.
    properties:
      dashStyle:
        description: The dash style of the line.
        enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH
          - DASH_DOT
          - LONG_DASH
          - LONG_DASH_DOT
        type: string
        required: false
      endArrow:
        description: The style of the arrow at the end of the line.
        enum:
          - ARROW_STYLE_UNSPECIFIED
          - NONE
          - STEALTH_ARROW
          - FILL_ARROW
          - FILL_CIRCLE
          - FILL_SQUARE
          - FILL_DIAMOND
          - OPEN_ARROW
          - OPEN_CIRCLE
          - OPEN_SQUARE
          - OPEN_DIAMOND
        type: string
        required: false
      lineFill:
        description: |-
          The fill of the line. The default line fill matches the defaults for new
          lines created in the Slides editor.
        type: LineFill
        required: false
      startArrow:
        description: The style of the arrow at the beginning of the line.
        enum:
          - ARROW_STYLE_UNSPECIFIED
          - NONE
          - STEALTH_ARROW
          - FILL_ARROW
          - FILL_CIRCLE
          - FILL_SQUARE
          - FILL_DIAMOND
          - OPEN_ARROW
          - OPEN_CIRCLE
          - OPEN_SQUARE
          - OPEN_DIAMOND
        type: string
        required: false
      weight:
        description: The thickness of the line.
        type: Dimension
        required: false
  Link:
    description: A hypertext link.
    properties:
      pageObjectId:
        description: |-
          If set, indicates this is a link to the specific page in this
          presentation with this ID. A page with this ID may not exist.
        type: string
        required: false
      relativeLink:
        description: |-
          If set, indicates this is a link to a slide in this presentation,
          addressed by its position.
        enum:
          - RELATIVE_SLIDE_LINK_UNSPECIFIED
          - NEXT_SLIDE
          - PREVIOUS_SLIDE
          - FIRST_SLIDE
          - LAST_SLIDE
        type: string
        required: false
      slideIndex:
        description: |-
          If set, indicates this is a link to the slide at this zero-based index
          in the presentation. There may not be a slide at this index.
        format: int32
        type: integer
        required: false
      url:
        description: 'If set, indicates this is a link to the external web page at this URL.'
        type: string
        required: false
  List:
    description: |-
      A List describes the look and feel of bullets belonging to paragraphs
      associated with a list. A paragraph that is part of a list has an implicit
      reference to that list's ID.
    properties:
      listId:
        description: The ID of the list.
        type: string
        required: false
      nestingLevel:
        additionalProperties:
          type: NestingLevel
        description: |-
          A map of nesting levels to the properties of bullets at the associated
          level. A list has at most nine levels of nesting, so the possible values
          for the keys of this map are 0 through 8, inclusive.
        type: object
        required: false
  NestingLevel:
    description: |-
      Contains properties describing the look and feel of a list bullet at a given
      level of nesting.
    properties:
      bulletStyle:
        description: The style of a bullet at this level of nesting.
        type: TextStyle
        required: false
  OpaqueColor:
    description: A themeable solid color value.
    properties:
      rgbColor:
        description: An opaque RGB color.
        type: RgbColor
        required: false
      themeColor:
        description: An opaque theme color.
        enum:
          - THEME_COLOR_TYPE_UNSPECIFIED
          - DARK1
          - LIGHT1
          - DARK2
          - LIGHT2
          - ACCENT1
          - ACCENT2
          - ACCENT3
          - ACCENT4
          - ACCENT5
          - ACCENT6
          - HYPERLINK
          - FOLLOWED_HYPERLINK
          - TEXT1
          - BACKGROUND1
          - TEXT2
          - BACKGROUND2
        type: string
        required: false
  OptionalColor:
    description: A color that can either be fully opaque or fully transparent.
    properties:
      opaqueColor:
        description: |-
          If set, this will be used as an opaque color. If unset, this represents
          a transparent color.
        type: OpaqueColor
        required: false
  Outline:
    description: |-
      The outline of a PageElement.

      If these fields are unset, they may be inherited from a parent placeholder
      if it exists. If there is no parent, the fields will default to the value
      used for new page elements created in the Slides editor, which may depend on
      the page element kind.
    properties:
      dashStyle:
        description: The dash style of the outline.
        enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH
          - DASH_DOT
          - LONG_DASH
          - LONG_DASH_DOT
        type: string
        required: false
      outlineFill:
        description: The fill of the outline.
        type: OutlineFill
        required: false
      propertyState:
        description: |-
          The outline property state.

          Updating the the outline on a page element will implicitly update this
          field to`RENDERED`, unless another value is specified in the same request.
          To have no outline on a page element, set this field to `NOT_RENDERED`. In
          this case, any other outline fields set in the same request will be
          ignored.
        enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
        type: string
        required: false
      weight:
        description: The thickness of the outline.
        type: Dimension
        required: false
  OutlineFill:
    description: The fill of the outline.
    properties:
      solidFill:
        description: Solid color fill.
        type: SolidFill
        required: false
  Page:
    description: A page in a presentation.
    properties:
      layoutProperties:
        description: Layout specific properties. Only set if page_type = LAYOUT.
        type: LayoutProperties
        required: false
      objectId:
        description: |-
          The object ID for this page. Object IDs used by
          Page and
          PageElement share the same namespace.
        type: string
        required: false
      pageElements:
        description: The page elements rendered on the page.
        items:
          type: PageElement
        type: array
        required: false
      pageProperties:
        description: The properties of the page.
        type: PageProperties
        required: false
      pageType:
        description: The type of the page.
        enum:
          - SLIDE
          - MASTER
          - LAYOUT
        type: string
        required: false
      slideProperties:
        description: Slide specific properties. Only set if page_type = SLIDE.
        type: SlideProperties
        required: false
  PageBackgroundFill:
    description: The page background fill.
    properties:
      propertyState:
        description: |-
          The background fill property state.

          Updating the the fill on a page will implicitly update this field to
          `RENDERED`, unless another value is specified in the same request. To
          have no fill on a page, set this field to `NOT_RENDERED`. In this case,
          any other fill fields set in the same request will be ignored.
        enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
        type: string
        required: false
      solidFill:
        description: Solid color fill.
        type: SolidFill
        required: false
      stretchedPictureFill:
        description: Stretched picture fill.
        type: StretchedPictureFill
        required: false
  PageElement:
    description: A visual element rendered on a page.
    properties:
      description:
        description: |-
          The description of the page element. Combined with title to display alt
          text.
        type: string
        required: false
      elementGroup:
        description: A collection of page elements joined as a single unit.
        type: Group
        required: false
      image:
        description: An image page element.
        type: Image
        required: false
      line:
        description: A line page element.
        type: Line
        required: false
      objectId:
        description: |-
          The object ID for this page element. Object IDs used by
          google.apps.slides.v1.Page and
          google.apps.slides.v1.PageElement share the same namespace.
        type: string
        required: false
      shape:
        description: A generic shape.
        type: Shape
        required: false
      sheetsChart:
        description: |-
          A linked chart embedded from Google Sheets. Unlinked charts are
          represented as images.
        type: SheetsChart
        required: false
      size:
        description: The size of the page element.
        type: Size
        required: false
      table:
        description: A table page element.
        type: Table
        required: false
      title:
        description: |-
          The title of the page element. Combined with description to display alt
          text.
        type: string
        required: false
      transform:
        description: The transform of the page element.
        type: AffineTransform
        required: false
      video:
        description: A video page element.
        type: Video
        required: false
      wordArt:
        description: A word art page element.
        type: WordArt
        required: false
  PageElementProperties:
    description: |-
      Common properties for a page element.

      Note: When you initially create a
      PageElement, the API may modify
      the values of both `size` and `transform`, but the
      visual size will be unchanged.
    properties:
      pageObjectId:
        description: The object ID of the page where the element is located.
        type: string
        required: false
      size:
        description: The size of the element.
        type: Size
        required: false
      transform:
        description: The transform for the element.
        type: AffineTransform
        required: false
  PageProperties:
    description: |-
      The properties of the Page.

      The page will inherit properties from the parent page. Depending on the page
      type the hierarchy is defined in either
      SlideProperties or
      LayoutProperties.
    properties:
      colorScheme:
        description: |-
          The color scheme of the page. If unset, the color scheme is inherited from
          a parent page. If the page has no parent, the color scheme uses a default
          Slides color scheme. This field is read-only.
        type: ColorScheme
        required: false
      pageBackgroundFill:
        description: |-
          The background fill of the page. If unset, the background fill is inherited
          from a parent page if it exists. If the page has no parent, then the
          background fill defaults to the corresponding fill in the Slides editor.
        type: PageBackgroundFill
        required: false
  ParagraphMarker:
    description: A TextElement kind that represents the beginning of a new paragraph.
    properties:
      bullet:
        description: |-
          The bullet for this paragraph. If not present, the paragraph does not
          belong to a list.
        type: Bullet
        required: false
      style:
        description: The paragraph's style
        type: ParagraphStyle
        required: false
  ParagraphStyle:
    description: |-
      Styles that apply to a whole paragraph.

      If this text is contained in a shape with a parent placeholder, then these paragraph styles may be
      inherited from the parent. Which paragraph styles are inherited depend on the
      nesting level of lists:

      * A paragraph not in a list will inherit its paragraph style from the
        paragraph at the 0 nesting level of the list inside the parent placeholder.
      * A paragraph in a list will inherit its paragraph style from the paragraph
        at its corresponding nesting level of the list inside the parent
        placeholder.

      Inherited paragraph styles are represented as unset fields in this message.
    properties:
      alignment:
        description: The text alignment for this paragraph. This property is read-only.
        enum:
          - ALIGNMENT_UNSPECIFIED
          - START
          - CENTER
          - END
          - JUSTIFIED
        type: string
        required: false
      direction:
        description: The text direction of this paragraph. This property is read-only.
        enum:
          - TEXT_DIRECTION_UNSPECIFIED
          - LEFT_TO_RIGHT
          - RIGHT_TO_LEFT
        type: string
        required: false
      indentEnd:
        description: |-
          The amount indentation for the paragraph on the side that corresponds to
          the end of the text, based on the current text direction. If unset, the
          value is inherited from the parent. This property is read-only.
        type: Dimension
        required: false
      indentFirstLine:
        description: |-
          The amount of indentation for the start of the first line of the paragraph.
          If unset, the value is inherited from the parent. This property is
          read-only.
        type: Dimension
        required: false
      indentStart:
        description: |-
          The amount indentation for the paragraph on the side that corresponds to
          the start of the text, based on the current text direction. If unset, the
          value is inherited from the parent. This property is read-only.
        type: Dimension
        required: false
      lineSpacing:
        description: |-
          The amount of space between lines, as a percentage of normal, where normal
          is represented as 100.0. If unset, the value is inherited from the parent.
          This property is read-only.
        format: float
        type: number
        required: false
      spaceAbove:
        description: |-
          The amount of extra space above the paragraph. If unset, the value is
          inherited from the parent. This property is read-only.
        type: Dimension
        required: false
      spaceBelow:
        description: |-
          The amount of extra space above the paragraph. If unset, the value is
          inherited from the parent. This property is read-only.
        type: Dimension
        required: false
      spacingMode:
        description: The spacing mode for the paragraph. This property is read-only.
        enum:
          - SPACING_MODE_UNSPECIFIED
          - NEVER_COLLAPSE
          - COLLAPSE_LISTS
        type: string
        required: false
  Placeholder:
    description: The placeholder information that uniquely identifies a placeholder shape.
    properties:
      index:
        description: |-
          The index of the placeholder. If the same placeholder types are the present
          in the same page, they would have different index values.
        format: int32
        type: integer
        required: false
      parentObjectId:
        description: |-
          The object ID of this shape's parent placeholder.
          If unset, the parent placeholder shape does not exist, so the shape does
          not inherit properties from any other shape.
        type: string
        required: false
      type:
        description: The type of the placeholder.
        enum:
          - NONE
          - BODY
          - CHART
          - CLIP_ART
          - CENTERED_TITLE
          - DIAGRAM
          - DATE_AND_TIME
          - FOOTER
          - HEADER
          - MEDIA
          - OBJECT
          - PICTURE
          - SLIDE_NUMBER
          - SUBTITLE
          - TABLE
          - TITLE
          - SLIDE_IMAGE
        type: string
        required: false
  Presentation:
    description: A Google Slides presentation.
    properties:
      layouts:
        description: |-
          The layouts in the presentation.  A layout is a template that determines
          how content is arranged and styled on the slides that inherit from that
          layout.
        items:
          type: Page
        type: array
        required: false
      locale:
        description: 'The locale of the presentation, as an IETF BCP 47 language tag.'
        type: string
        required: false
      masters:
        description: |-
          The slide masters in the presentation. A slide master contains all common
          page elements and the common properties for a set of layouts. They serve
          three purposes:

          - Placeholder shapes on a master contain the default text styles and shape
            properties of all placeholder shapes on pages that use that master.
          - The master page properties define the common page properties inherited by
            its layouts.
          - Any other shapes on the master slide will appear on all slides using that
            master, regardless of their layout.
        items:
          type: Page
        type: array
        required: false
      pageSize:
        description: The size of pages in the presentation.
        type: Size
        required: false
      presentationId:
        description: The ID of the presentation.
        type: string
        required: false
      slides:
        description: |-
          The slides in the presentation.
          A slide inherits properties from a slide layout.
        items:
          type: Page
        type: array
        required: false
      title:
        description: The title of the presentation.
        type: string
        required: false
  Range:
    description: |-
      Specifies a contiguous range of an indexed collection, such as characters in
      text.
    properties:
      endIndex:
        description: |-
          The optional zero-based index of the end of the collection.
          Required for `SPECIFIC_RANGE` delete mode.
        format: int32
        type: integer
        required: false
      startIndex:
        description: |-
          The optional zero-based index of the beginning of the collection.
          Required for `SPECIFIC_RANGE` and `FROM_START_INDEX` ranges.
        format: int32
        type: integer
        required: false
      type:
        description: The type of range.
        enum:
          - RANGE_TYPE_UNSPECIFIED
          - FIXED_RANGE
          - FROM_START_INDEX
          - ALL
        type: string
        required: false
  Recolor:
    description: A recolor effect applied on an image.
    properties:
      recolorStops:
        description: |-
          The recolor effect is represented by a gradient, which is a list of color
          stops. This property is read-only.
        items:
          type: ColorStop
        type: array
        required: false
  RefreshSheetsChartRequest:
    description: |-
      Refreshes an embedded Google Sheets chart by replacing it with the latest
      version of the chart from Google Sheets.

      NOTE: Refreshing charts requires  at least one of the spreadsheets.readonly,
      spreadsheets, drive.readonly, or drive OAuth scopes.
    properties:
      objectId:
        description: The object ID of the chart to refresh.
        type: string
        required: false
  ReplaceAllShapesWithImageRequest:
    description: Replaces all shapes that match the given criteria with the provided image.
    properties:
      containsText:
        description: |-
          If set, this request will replace all of the shapes that contain the
          given text.
        type: SubstringMatchCriteria
        required: false
      imageUrl:
        description: |-
          The image URL.

          The image is fetched once at insertion time and a copy is stored for
          display inside the presentation. Images must be less than 50MB in size,
          cannot exceed 25 megapixels, and must be in either in PNG, JPEG, or GIF
          format.
        type: string
        required: false
      replaceMethod:
        description: The replace method.
        enum:
          - CENTER_INSIDE
          - CENTER_CROP
        type: string
        required: false
  ReplaceAllShapesWithImageResponse:
    description: The result of replacing shapes with an image.
    properties:
      occurrencesChanged:
        description: The number of shapes replaced with images.
        format: int32
        type: integer
        required: false
  ReplaceAllTextRequest:
    description: Replaces all instances of text matching a criteria with replace text.
    properties:
      containsText:
        description: Finds text in a shape matching this substring.
        type: SubstringMatchCriteria
        required: false
      replaceText:
        description: The text that will replace the matched text.
        type: string
        required: false
  ReplaceAllTextResponse:
    description: The result of replacing text.
    properties:
      occurrencesChanged:
        description: The number of occurrences changed by replacing all text.
        format: int32
        type: integer
        required: false
  Request:
    description: A single kind of update to apply to a presentation.
    properties:
      createImage:
        description: Creates an image.
        type: CreateImageRequest
        required: false
      createLine:
        description: Creates a line.
        type: CreateLineRequest
        required: false
      createParagraphBullets:
        description: Creates bullets for paragraphs.
        type: CreateParagraphBulletsRequest
        required: false
      createShape:
        description: Creates a new shape.
        type: CreateShapeRequest
        required: false
      createSheetsChart:
        description: Creates an embedded Google Sheets chart.
        type: CreateSheetsChartRequest
        required: false
      createSlide:
        description: Creates a new slide.
        type: CreateSlideRequest
        required: false
      createTable:
        description: Creates a new table.
        type: CreateTableRequest
        required: false
      createVideo:
        description: Creates a video.
        type: CreateVideoRequest
        required: false
      deleteObject:
        description: Deletes a page or page element from the presentation.
        type: DeleteObjectRequest
        required: false
      deleteTableColumn:
        description: Deletes a column from a table.
        type: DeleteTableColumnRequest
        required: false
      deleteTableRow:
        description: Deletes a row from a table.
        type: DeleteTableRowRequest
        required: false
      deleteText:
        description: Deletes text from a shape or a table cell.
        type: DeleteTextRequest
        required: false
      duplicateObject:
        description: Duplicates a slide or page element.
        type: DuplicateObjectRequest
        required: false
      insertTableColumns:
        description: Inserts columns into a table.
        type: InsertTableColumnsRequest
        required: false
      insertTableRows:
        description: Inserts rows into a table.
        type: InsertTableRowsRequest
        required: false
      insertText:
        description: Inserts text into a shape or table cell.
        type: InsertTextRequest
        required: false
      refreshSheetsChart:
        description: Refreshes a Google Sheets chart.
        type: RefreshSheetsChartRequest
        required: false
      replaceAllShapesWithImage:
        description: Replaces all shapes matching some criteria with an image.
        type: ReplaceAllShapesWithImageRequest
        required: false
      replaceAllText:
        description: Replaces all instances of specified text.
        type: ReplaceAllTextRequest
        required: false
      updateImageProperties:
        description: Updates the properties of an Image.
        type: UpdateImagePropertiesRequest
        required: false
      updatePageElementTransform:
        description: Updates the transform of a page element.
        type: UpdatePageElementTransformRequest
        required: false
      updatePageProperties:
        description: Updates the properties of a Page.
        type: UpdatePagePropertiesRequest
        required: false
      updateShapeProperties:
        description: Updates the properties of a Shape.
        type: UpdateShapePropertiesRequest
        required: false
      updateSlidesPosition:
        description: Updates the position of a set of slides in the presentation.
        type: UpdateSlidesPositionRequest
        required: false
      updateTableCellProperties:
        description: Updates the properties of a TableCell.
        type: UpdateTableCellPropertiesRequest
        required: false
      updateTextStyle:
        description: Updates the styling of text within a Shape or Table.
        type: UpdateTextStyleRequest
        required: false
      updateVideoProperties:
        description: Updates the properties of a Video.
        type: UpdateVideoPropertiesRequest
        required: false
  Response:
    description: A single response from an update.
    properties:
      createImage:
        description: The result of creating an image.
        type: CreateImageResponse
        required: false
      createLine:
        description: The result of creating a line.
        type: CreateLineResponse
        required: false
      createShape:
        description: The result of creating a shape.
        type: CreateShapeResponse
        required: false
      createSheetsChart:
        description: The result of creating a Google Sheets chart.
        type: CreateSheetsChartResponse
        required: false
      createSlide:
        description: The result of creating a slide.
        type: CreateSlideResponse
        required: false
      createTable:
        description: The result of creating a table.
        type: CreateTableResponse
        required: false
      createVideo:
        description: The result of creating a video.
        type: CreateVideoResponse
        required: false
      duplicateObject:
        description: The result of duplicating an object.
        type: DuplicateObjectResponse
        required: false
      replaceAllShapesWithImage:
        description: |-
          The result of replacing all shapes containing the specified text with
          an image.
        type: ReplaceAllShapesWithImageResponse
        required: false
      replaceAllText:
        description: The result of replacing text.
        type: ReplaceAllTextResponse
        required: false
  RgbColor:
    description: An RGB color.
    properties:
      blue:
        description: 'The blue component of the color, from 0.0 to 1.0.'
        format: float
        type: number
        required: false
      green:
        description: 'The green component of the color, from 0.0 to 1.0.'
        format: float
        type: number
        required: false
      red:
        description: 'The red component of the color, from 0.0 to 1.0.'
        format: float
        type: number
        required: false
  Shadow:
    description: |-
      The shadow properties of a page element.

      If these fields are unset, they may be inherited from a parent placeholder
      if it exists. If there is no parent, the fields will default to the value
      used for new page elements created in the Slides editor, which may depend on
      the page element kind.
    properties:
      alignment:
        description: |-
          The alignment point of the shadow, that sets the origin for translate,
          scale and skew of the shadow.
        enum:
          - RECTANGLE_POSITION_UNSPECIFIED
          - TOP_LEFT
          - TOP_CENTER
          - TOP_RIGHT
          - LEFT_CENTER
          - CENTER
          - RIGHT_CENTER
          - BOTTOM_LEFT
          - BOTTOM_CENTER
          - BOTTOM_RIGHT
        type: string
        required: false
      alpha:
        description: 'The alpha of the shadow''s color, from 0.0 to 1.0.'
        format: float
        type: number
        required: false
      blurRadius:
        description: |-
          The radius of the shadow blur. The larger the radius, the more diffuse the
          shadow becomes.
        type: Dimension
        required: false
      color:
        description: The shadow color value.
        type: OpaqueColor
        required: false
      propertyState:
        description: |-
          The shadow property state.

          Updating the the shadow on a page element will implicitly update this field
          to `RENDERED`, unless another value is specified in the same request. To
          have no shadow on a page element, set this field to `NOT_RENDERED`. In this
          case, any other shadow fields set in the same request will be ignored.
        enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
        type: string
        required: false
      rotateWithShape:
        description: Whether the shadow should rotate with the shape.
        type: boolean
        required: false
      transform:
        description: |-
          Transform that encodes the translate, scale, and skew of the shadow,
          relative to the alignment position.
        type: AffineTransform
        required: false
      type:
        description: The type of the shadow.
        enum:
          - SHADOW_TYPE_UNSPECIFIED
          - OUTER
        type: string
        required: false
  Shape:
    description: |-
      A PageElement kind representing a
      generic shape that does not have a more specific classification.
    properties:
      placeholder:
        description: |-
          Placeholders are shapes that are inherit from correponding placeholders on
          layouts and masters.

          If set, the shape is a placeholder shape and any inherited properties
          can be resolved by looking at the parent placeholder identified by the
          Placeholder.parent_object_id field.
        type: Placeholder
        required: false
      shapeProperties:
        description: The properties of the shape.
        type: ShapeProperties
        required: false
      shapeType:
        description: The type of the shape.
        enum:
          - TYPE_UNSPECIFIED
          - TEXT_BOX
          - RECTANGLE
          - ROUND_RECTANGLE
          - ELLIPSE
          - ARC
          - BENT_ARROW
          - BENT_UP_ARROW
          - BEVEL
          - BLOCK_ARC
          - BRACE_PAIR
          - BRACKET_PAIR
          - CAN
          - CHEVRON
          - CHORD
          - CLOUD
          - CORNER
          - CUBE
          - CURVED_DOWN_ARROW
          - CURVED_LEFT_ARROW
          - CURVED_RIGHT_ARROW
          - CURVED_UP_ARROW
          - DECAGON
          - DIAGONAL_STRIPE
          - DIAMOND
          - DODECAGON
          - DONUT
          - DOUBLE_WAVE
          - DOWN_ARROW
          - DOWN_ARROW_CALLOUT
          - FOLDED_CORNER
          - FRAME
          - HALF_FRAME
          - HEART
          - HEPTAGON
          - HEXAGON
          - HOME_PLATE
          - HORIZONTAL_SCROLL
          - IRREGULAR_SEAL_1
          - IRREGULAR_SEAL_2
          - LEFT_ARROW
          - LEFT_ARROW_CALLOUT
          - LEFT_BRACE
          - LEFT_BRACKET
          - LEFT_RIGHT_ARROW
          - LEFT_RIGHT_ARROW_CALLOUT
          - LEFT_RIGHT_UP_ARROW
          - LEFT_UP_ARROW
          - LIGHTNING_BOLT
          - MATH_DIVIDE
          - MATH_EQUAL
          - MATH_MINUS
          - MATH_MULTIPLY
          - MATH_NOT_EQUAL
          - MATH_PLUS
          - MOON
          - NO_SMOKING
          - NOTCHED_RIGHT_ARROW
          - OCTAGON
          - PARALLELOGRAM
          - PENTAGON
          - PIE
          - PLAQUE
          - PLUS
          - QUAD_ARROW
          - QUAD_ARROW_CALLOUT
          - RIBBON
          - RIBBON_2
          - RIGHT_ARROW
          - RIGHT_ARROW_CALLOUT
          - RIGHT_BRACE
          - RIGHT_BRACKET
          - ROUND_1_RECTANGLE
          - ROUND_2_DIAGONAL_RECTANGLE
          - ROUND_2_SAME_RECTANGLE
          - RIGHT_TRIANGLE
          - SMILEY_FACE
          - SNIP_1_RECTANGLE
          - SNIP_2_DIAGONAL_RECTANGLE
          - SNIP_2_SAME_RECTANGLE
          - SNIP_ROUND_RECTANGLE
          - STAR_10
          - STAR_12
          - STAR_16
          - STAR_24
          - STAR_32
          - STAR_4
          - STAR_5
          - STAR_6
          - STAR_7
          - STAR_8
          - STRIPED_RIGHT_ARROW
          - SUN
          - TRAPEZOID
          - TRIANGLE
          - UP_ARROW
          - UP_ARROW_CALLOUT
          - UP_DOWN_ARROW
          - UTURN_ARROW
          - VERTICAL_SCROLL
          - WAVE
          - WEDGE_ELLIPSE_CALLOUT
          - WEDGE_RECTANGLE_CALLOUT
          - WEDGE_ROUND_RECTANGLE_CALLOUT
          - FLOW_CHART_ALTERNATE_PROCESS
          - FLOW_CHART_COLLATE
          - FLOW_CHART_CONNECTOR
          - FLOW_CHART_DECISION
          - FLOW_CHART_DELAY
          - FLOW_CHART_DISPLAY
          - FLOW_CHART_DOCUMENT
          - FLOW_CHART_EXTRACT
          - FLOW_CHART_INPUT_OUTPUT
          - FLOW_CHART_INTERNAL_STORAGE
          - FLOW_CHART_MAGNETIC_DISK
          - FLOW_CHART_MAGNETIC_DRUM
          - FLOW_CHART_MAGNETIC_TAPE
          - FLOW_CHART_MANUAL_INPUT
          - FLOW_CHART_MANUAL_OPERATION
          - FLOW_CHART_MERGE
          - FLOW_CHART_MULTIDOCUMENT
          - FLOW_CHART_OFFLINE_STORAGE
          - FLOW_CHART_OFFPAGE_CONNECTOR
          - FLOW_CHART_ONLINE_STORAGE
          - FLOW_CHART_OR
          - FLOW_CHART_PREDEFINED_PROCESS
          - FLOW_CHART_PREPARATION
          - FLOW_CHART_PROCESS
          - FLOW_CHART_PUNCHED_CARD
          - FLOW_CHART_PUNCHED_TAPE
          - FLOW_CHART_SORT
          - FLOW_CHART_SUMMING_JUNCTION
          - FLOW_CHART_TERMINATOR
          - ARROW_EAST
          - ARROW_NORTH_EAST
          - ARROW_NORTH
          - SPEECH
          - STARBURST
          - TEARDROP
          - ELLIPSE_RIBBON
          - ELLIPSE_RIBBON_2
          - CLOUD_CALLOUT
          - CUSTOM
        type: string
        required: false
      text:
        description: The text content of the shape.
        type: TextContent
        required: false
  ShapeBackgroundFill:
    description: The shape background fill.
    properties:
      propertyState:
        description: |-
          The background fill property state.

          Updating the the fill on a shape will implicitly update this field to
          `RENDERED`, unless another value is specified in the same request. To
          have no fill on a shape, set this field to `NOT_RENDERED`. In this case,
          any other fill fields set in the same request will be ignored.
        enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
        type: string
        required: false
      solidFill:
        description: Solid color fill.
        type: SolidFill
        required: false
  ShapeProperties:
    description: |-
      The properties of a Shape.

      If the shape is a placeholder shape as determined by the
      placeholder field, then these
      properties may be inherited from a parent placeholder shape.
      Determining the rendered value of the property depends on the corresponding
      property_state field value.
    properties:
      outline:
        description: |-
          The outline of the shape. If unset, the outline is inherited from a
          parent placeholder if it exists. If the shape has no parent, then the
          default outline depends on the shape type, matching the defaults for
          new shapes created in the Slides editor.
        type: Outline
        required: false
      shadow:
        description: |-
          The shadow properties of the shape. If unset, the shadow is inherited from
          a parent placeholder if it exists. If the shape has no parent, then the
          default shadow matches the defaults for new shapes created in the Slides
          editor. This property is read-only.
        type: Shadow
        required: false
      shapeBackgroundFill:
        description: |-
          The background fill of the shape. If unset, the background fill is
          inherited from a parent placeholder if it exists. If the shape has no
          parent, then the default background fill depends on the shape type,
          matching the defaults for new shapes created in the Slides editor.
        type: ShapeBackgroundFill
        required: false
  SheetsChart:
    description: |-
      A PageElement kind representing
      a linked chart embedded from Google Sheets.
    properties:
      chartId:
        description: |-
          The ID of the specific chart in the Google Sheets spreadsheet that is
          embedded.
        format: int32
        type: integer
        required: false
      contentUrl:
        description: |-
          The URL of an image of the embedded chart, with a default lifetime of 30
          minutes. This URL is tagged with the account of the requester. Anyone with
          the URL effectively accesses the image as the original requester. Access to
          the image may be lost if the presentation's sharing settings change.
        type: string
        required: false
      sheetsChartProperties:
        description: The properties of the Sheets chart.
        type: SheetsChartProperties
        required: false
      spreadsheetId:
        description: The ID of the Google Sheets spreadsheet that contains the source chart.
        type: string
        required: false
  SheetsChartProperties:
    description: The properties of the SheetsChart.
    properties:
      chartImageProperties:
        description: The properties of the embedded chart image.
        type: ImageProperties
        required: false
  Size:
    description: A width and height.
    properties:
      height:
        description: The height of the object.
        type: Dimension
        required: false
      width:
        description: The width of the object.
        type: Dimension
        required: false
  SlideProperties:
    description: |-
      The properties of Page that are only
      relevant for pages with page_type SLIDE.
    properties:
      layoutObjectId:
        description: The object ID of the layout that this slide is based on.
        type: string
        required: false
      masterObjectId:
        description: The object ID of the master that this slide is based on.
        type: string
        required: false
  SolidFill:
    description: |-
      A solid color fill. The page or page element is filled entirely with the
      specified color value.

      If any field is unset, its value may be inherited from a parent placeholder
      if it exists.
    properties:
      alpha:
        description: |-
          The fraction of this `color` that should be applied to the pixel.
          That is, the final pixel color is defined by the equation:

            pixel color = alpha * (color) + (1.0 - alpha) * (background color)

          This means that a value of 1.0 corresponds to a solid color, whereas
          a value of 0.0 corresponds to a completely transparent color.
        format: float
        type: number
        required: false
      color:
        description: The color value of the solid fill.
        type: OpaqueColor
        required: false
  StretchedPictureFill:
    description: |-
      The stretched picture fill. The page or page element is filled entirely with
      the specified picture. The picture is stretched to fit its container.
    properties:
      contentUrl:
        description: |-
          Reading the content_url:

          An URL to a picture with a default lifetime of 30 minutes.
          This URL is tagged with the account of the requester. Anyone with the URL
          effectively accesses the picture as the original requester. Access to the
          picture may be lost if the presentation's sharing settings change.

          Writing the content_url:

          The picture is fetched once at insertion time and a copy is stored for
          display inside the presentation. Pictures must be less than 50MB in size,
          cannot exceed 25 megapixels, and must be in either in PNG, JPEG, or GIF
          format.
        type: string
        required: false
      size:
        description: The original size of the picture fill. This field is read-only.
        type: Size
        required: false
  SubstringMatchCriteria:
    description: A criteria that matches a specific string of text in a shape or table.
    properties:
      matchCase:
        description: |-
          Indicates whether the search should respect case:

          - `True`: the search is case sensitive.
          - `False`: the search is case insensitive.
        type: boolean
        required: false
      text:
        description: The text to search for in the shape or table.
        type: string
        required: false
  Table:
    description: |-
      A PageElement kind representing a
      table.
    properties:
      columns:
        description: Number of columns in the table.
        format: int32
        type: integer
        required: false
      rows:
        description: Number of rows in the table.
        format: int32
        type: integer
        required: false
      tableColumns:
        description: Properties of each column.
        items:
          type: TableColumnProperties
        type: array
        required: false
      tableRows:
        description: |-
          Properties and contents of each row.

          Cells that span multiple rows are contained in only one of these rows and
          have a row_span greater
          than 1.
        items:
          type: TableRow
        type: array
        required: false
  TableCell:
    description: Properties and contents of each table cell.
    properties:
      columnSpan:
        description: Column span of the cell.
        format: int32
        type: integer
        required: false
      location:
        description: The location of the cell within the table.
        type: TableCellLocation
        required: false
      rowSpan:
        description: Row span of the cell.
        format: int32
        type: integer
        required: false
      tableCellProperties:
        description: The properties of the table cell.
        type: TableCellProperties
        required: false
      text:
        description: The text content of the cell.
        type: TextContent
        required: false
  TableCellBackgroundFill:
    description: The table cell background fill.
    properties:
      propertyState:
        description: |-
          The background fill property state.

          Updating the the fill on a table cell will implicitly update this field
          to `RENDERED`, unless another value is specified in the same request. To
          have no fill on a table cell, set this field to `NOT_RENDERED`. In this
          case, any other fill fields set in the same request will be ignored.
        enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
        type: string
        required: false
      solidFill:
        description: Solid color fill.
        type: SolidFill
        required: false
  TableCellLocation:
    description: A location of a single table cell within a table.
    properties:
      columnIndex:
        description: The 0-based column index.
        format: int32
        type: integer
        required: false
      rowIndex:
        description: The 0-based row index.
        format: int32
        type: integer
        required: false
  TableCellProperties:
    description: The properties of the TableCell.
    properties:
      tableCellBackgroundFill:
        description: |-
          The background fill of the table cell. The default fill matches the fill
          for newly created table cells in the Slides editor.
        type: TableCellBackgroundFill
        required: false
  TableColumnProperties:
    description: Properties of each column in a table.
    properties:
      columnWidth:
        description: Width of a column.
        type: Dimension
        required: false
  TableRange:
    description: |-
      A table range represents a reference to a subset of a table.

      It's important to note that the cells specified by a table range do not
      necessarily form a rectangle. For example, let's say we have a 3 x 3 table
      where all the cells of the last row are merged together. The table looks
      like this:

                 
        [             ]

      A table range with location = (0, 0), row span = 3 and column span = 2
      specifies the following cells:

         x     x 
        [      x      ]
    properties:
      columnSpan:
        description: The column span of the table range.
        format: int32
        type: integer
        required: false
      location:
        description: The starting location of the table range.
        type: TableCellLocation
        required: false
      rowSpan:
        description: The row span of the table range.
        format: int32
        type: integer
        required: false
  TableRow:
    description: Properties and contents of each row in a table.
    properties:
      rowHeight:
        description: Height of a row.
        type: Dimension
        required: false
      tableCells:
        description: |-
          Properties and contents of each cell.

          Cells that span multiple columns are represented only once with a
          column_span greater
          than 1. As a result, the length of this collection does not always match
          the number of columns of the entire table.
        items:
          type: TableCell
        type: array
        required: false
  TextContent:
    description: |-
      The general text content. The text must reside in a compatible shape (e.g.
      text box or rectangle) or a table cell in a page.
    properties:
      lists:
        additionalProperties:
          type: List
        description: 'The bulleted lists contained in this text, keyed by list ID.'
        type: object
        required: false
      textElements:
        description: |-
          The text contents broken down into its component parts, including styling
          information. This property is read-only.
        items:
          type: TextElement
        type: array
        required: false
  TextElement:
    description: |-
      A TextElement describes the content of a range of indices in the text content
      of a Shape or TableCell.
    properties:
      autoText:
        description: |-
          A TextElement representing a spot in the text that is dynamically
          replaced with content that can change over time.
        type: AutoText
        required: false
      endIndex:
        description: |-
          The zero-based end index of this text element, exclusive, in Unicode code
          units.
        format: int32
        type: integer
        required: false
      paragraphMarker:
        description: |-
          A marker representing the beginning of a new paragraph.

          The `start_index` and `end_index` of this TextElement represent the
          range of the paragraph. Other TextElements with an index range contained
          inside this paragraph's range are considered to be part of this
          paragraph. The range of indices of two separate paragraphs will never
          overlap.
        type: ParagraphMarker
        required: false
      startIndex:
        description: 'The zero-based start index of this text element, in Unicode code units.'
        format: int32
        type: integer
        required: false
      textRun:
        description: |-
          A TextElement representing a run of text where all of the characters
          in the run have the same TextStyle.

          The `start_index` and `end_index` of TextRuns will always be fully
          contained in the index range of a single `paragraph_marker` TextElement.
          In other words, a TextRun will never span multiple paragraphs.
        type: TextRun
        required: false
  TextRun:
    description: |-
      A TextElement kind that represents a run of text that all has the same
      styling.
    properties:
      content:
        description: The text of this run.
        type: string
        required: false
      style:
        description: The styling applied to this run.
        type: TextStyle
        required: false
  TextStyle:
    description: |-
      Represents the styling that can be applied to a TextRun.

      If this text is contained in a shape with a parent placeholder, then these text styles may be
      inherited from the parent. Which text styles are inherited depend on the
      nesting level of lists:

      * A text run in a paragraph that is not in a list will inherit its text style
        from the the newline character in the paragraph at the 0 nesting level of
        the list inside the parent placeholder.
      * A text run in a paragraph that is in a list will inherit its text style
        from the newline character in the paragraph at its corresponding nesting
        level of the list inside the parent placeholder.

      Inherited text styles are represented as unset fields in this message. If
      text is contained in a shape without a parent placeholder, unsetting these
      fields will revert the style to a value matching the defaults in the Slides
      editor.
    properties:
      backgroundColor:
        description: |-
          The background color of the text. If set, the color is either opaque or
          transparent, depending on if the `opaque_color` field in it is set.
        type: OptionalColor
        required: false
      baselineOffset:
        description: |-
          The text's vertical offset from its normal position.

          Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically
          rendered in a smaller font size, computed based on the `font_size` field.
          The `font_size` itself is not affected by changes in this field.
        enum:
          - BASELINE_OFFSET_UNSPECIFIED
          - NONE
          - SUPERSCRIPT
          - SUBSCRIPT
        type: string
        required: false
      bold:
        description: Whether or not the text is bold.
        type: boolean
        required: false
      fontFamily:
        description: |-
          The font family of the text.

          The font family can be any font from the Font menu in Slides or from
          [Google Fonts] (https://fonts.google.com/). If the font name is
          unrecognized, the text is rendered in `Arial`.

          Some fonts can affect the weight of the text. If an update request
          specifies values for both `font_family` and `bold`, the explicitly-set
          `bold` value is used.
        type: string
        required: false
      fontSize:
        description: |-
          The size of the text's font. When read, the `font_size` will specified in
          points.
        type: Dimension
        required: false
      foregroundColor:
        description: |-
          The color of the text itself. If set, the color is either opaque or
          transparent, depending on if the `opaque_color` field in it is set.
        type: OptionalColor
        required: false
      italic:
        description: Whether or not the text is italicized.
        type: boolean
        required: false
      link:
        description: |-
          The hyperlink destination of the text. If unset, there is no link. Links
          are not inherited from parent text.

          Changing the link in an update request causes some other changes to the
          text style of the range:

          * When setting a link, the text foreground color will be set to
            ThemeColorType.HYPERLINK and the text will
            be underlined. If these fields are modified in the same
            request, those values will be used instead of the link defaults.
          * Setting a link on a text range that overlaps with an existing link will
            also update the existing link to point to the new URL.
          * Links are not settable on newline characters. As a result, setting a link
            on a text range that crosses a paragraph boundary, such as `"ABC\n123"`,
            will separate the newline character(s) into their own text runs. The
            link will be applied separately to the runs before and after the newline.
          * Removing a link will update the text style of the range to match the
            style of the preceding text (or the default text styles if the preceding
            text is another link) unless different styles are being set in the same
            request.
        type: Link
        required: false
      smallCaps:
        description: Whether or not the text is in small capital letters.
        type: boolean
        required: false
      strikethrough:
        description: Whether or not the text is struck through.
        type: boolean
        required: false
      underline:
[...]
