#%RAML 1.0
title: Google Civic Information
version: v2
baseUri: 'https://www.googleapis.com/civicinfo/v2'
protocols:
  - HTTPS
description: 'Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.'
(oas-tags-definition):
  - name: divisions
  - name: elections
  - name: representatives
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/civicinfo/v2/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): civicinfo
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/civic-information'
/voterinfo:
  displayName: voterinfo
  get:
    displayName: civicinfo.elections.voterInfoQuery
    description: Looks up information relevant to a voter based on the voter's registered address.
    responses:
      '200':
        body:
          application/json:
            type: VoterInfoResponse
        description: Successful response
    queryParameters:
      address:
        description: The registered address of the voter to look up.
        required: true
        type: string
      electionId:
        default: '0'
        description: 'The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections'
        type: string
      officialOnly:
        default: false
        description: 'If set to true, only data from official state sources will be returned.'
        type: boolean
      returnAllAvailableData:
        default: false
        description: 'If set to true, the query will return the success codeand include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.'
        type: boolean
    (oas-tags):
      - elections
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/representatives:
  displayName: representatives
  '/{ocdId}':
    displayName: '{ocdId}'
    uriParameters:
      ocdId:
        description: The Open Civic Data division identifier of the division to look up.
        required: true
        type: string
    get:
      displayName: civicinfo.representatives.representativeInfoByDivision
      description: Looks up representative information for a single geographic division.
      responses:
        '200':
          body:
            application/json:
              type: RepresentativeInfoData
          description: Successful response
      queryParameters:
        levels:
          collectionFormat: multi
          description: A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.
          items:
            enum:
              - administrativeArea1
              - administrativeArea2
              - country
              - international
              - locality
              - regional
              - special
              - subLocality1
              - subLocality2
            type: string
          type: array
          facets:
            collectionFormat: string
        recursive:
          description: 'If true, information about all divisions contained in the division requested will be included as well. For example, if querying ocd-division/country:us/district:dc, this would also return all DC''s wards and ANCs.'
          type: boolean
        roles:
          collectionFormat: multi
          description: A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.
          items:
            enum:
              - deputyHeadOfGovernment
              - executiveCouncil
              - governmentOfficer
              - headOfGovernment
              - headOfState
              - highestCourtJudge
              - judge
              - legislatorLowerBody
              - legislatorUpperBody
              - schoolBoard
              - specialPurposeOfficer
            type: string
          type: array
          facets:
            collectionFormat: string
      (oas-tags):
        - representatives
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: civicinfo.representatives.representativeInfoByAddress
    description: Looks up political geography and representative information for a single address.
    responses:
      '200':
        body:
          application/json:
            type: RepresentativeInfoResponse
        description: Successful response
    queryParameters:
      address:
        description: The address to look up. May only be specified if the field ocdId is not given in the URL.
        type: string
      includeOffices:
        default: true
        description: 'Whether to return information about offices and officials. If false, only the top-level district information will be returned.'
        type: boolean
      levels:
        collectionFormat: multi
        description: A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.
        items:
          enum:
            - administrativeArea1
            - administrativeArea2
            - country
            - international
            - locality
            - regional
            - special
            - subLocality1
            - subLocality2
          type: string
        type: array
        facets:
          collectionFormat: string
      roles:
        collectionFormat: multi
        description: A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.
        items:
          enum:
            - deputyHeadOfGovernment
            - executiveCouncil
            - governmentOfficer
            - headOfGovernment
            - headOfState
            - highestCourtJudge
            - judge
            - legislatorLowerBody
            - legislatorUpperBody
            - schoolBoard
            - specialPurposeOfficer
          type: string
        type: array
        facets:
          collectionFormat: string
    (oas-tags):
      - representatives
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/elections:
  displayName: elections
  get:
    displayName: civicinfo.elections.electionQuery
    description: List of available elections to query.
    responses:
      '200':
        body:
          application/json:
            type: ElectionsQueryResponse
        description: Successful response
    (oas-tags):
      - elections
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/divisions:
  displayName: divisions
  get:
    displayName: civicinfo.divisions.search
    description: Searches for political divisions by their natural name or OCD ID.
    responses:
      '200':
        body:
          application/json:
            type: DivisionSearchResponse
        description: Successful response
    queryParameters:
      query:
        description: 'The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html'
        type: string
    (oas-tags):
      - divisions
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  AdministrationRegion:
    description: Describes information about a regional election administrative area.
    properties:
      electionAdministrationBody:
        description: The election administration body for this area.
        type: AdministrativeBody
        required: false
      id:
        description: An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.
        type: string
        required: false
      local_jurisdiction:
        description: The city or county that provides election information for this voter. This object can have the same elements as state.
        type: AdministrationRegion
        required: false
      name:
        description: The name of the jurisdiction.
        type: string
        required: false
      sources:
        description: A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.
        items:
          type: Source
        type: array
        required: false
  AdministrativeBody:
    description: Information about an election administrative body (e.g. County Board of Elections).
    properties:
      absenteeVotingInfoUrl:
        description: A URL provided by this administrative body for information on absentee voting.
        type: string
        required: false
      addressLines:
        items:
          type: string
        type: array
        required: false
      ballotInfoUrl:
        description: A URL provided by this administrative body to give contest information to the voter.
        type: string
        required: false
      correspondenceAddress:
        description: The mailing address of this administrative body.
        type: SimpleAddressType
        required: false
      electionInfoUrl:
        description: A URL provided by this administrative body for looking up general election information.
        type: string
        required: false
      electionOfficials:
        description: The election officials for this election administrative body.
        items:
          type: ElectionOfficial
        type: array
        required: false
      electionRegistrationConfirmationUrl:
        description: A URL provided by this administrative body for confirming that the voter is registered to vote.
        type: string
        required: false
      electionRegistrationUrl:
        description: A URL provided by this administrative body for looking up how to register to vote.
        type: string
        required: false
      electionRulesUrl:
        description: A URL provided by this administrative body describing election rules to the voter.
        type: string
        required: false
      hoursOfOperation:
        description: A description of the hours of operation for this administrative body.
        type: string
        required: false
      name:
        description: The name of this election administrative body.
        type: string
        required: false
      physicalAddress:
        description: The physical address of this administrative body.
        type: SimpleAddressType
        required: false
      voter_services:
        description: A description of the services this administrative body may provide.
        items:
          type: string
        type: array
        required: false
      votingLocationFinderUrl:
        description: A URL provided by this administrative body for looking up where to vote.
        type: string
        required: false
  Candidate:
    description: Information about a candidate running for elected office.
    properties:
      candidateUrl:
        description: The URL for the candidate's campaign web site.
        type: string
        required: false
      channels:
        description: A list of known (social) media channels for this candidate.
        items:
          type: Channel
        type: array
        required: false
      email:
        description: The email address for the candidate's campaign.
        type: string
        required: false
      name:
        description: The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. "Mitt Romney / Paul Ryan"
        type: string
        required: false
      orderOnBallot:
        description: The order the candidate appears on the ballot for this contest.
        format: int64
        type: string
        facets:
          format: string
        required: false
      party:
        description: The full name of the party the candidate is a member of.
        type: string
        required: false
      phone:
        description: The voice phone number for the candidate's campaign office.
        type: string
        required: false
      photoUrl:
        description: A URL for a photo of the candidate.
        type: string
        required: false
  Channel:
    description: A social media or web channel for a candidate.
    properties:
      id:
        description: The unique public identifier for the candidate's channel.
        type: string
        required: false
      type:
        description: 'The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter'
        type: string
        required: false
  Contest:
    description: Information about a contest that appears on a voter's ballot.
    properties:
      ballotPlacement:
        description: A number specifying the position of this contest on the voter's ballot.
        format: int64
        type: string
        facets:
          format: string
        required: false
      candidates:
        description: The candidate choices for this contest.
        items:
          type: Candidate
        type: array
        required: false
      district:
        description: Information about the electoral district that this contest is in.
        type: ElectoralDistrict
        required: false
      electorateSpecifications:
        description: A description of any additional eligibility requirements for voting in this contest.
        type: string
        required: false
      id:
        description: An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.
        type: string
        required: false
      level:
        description: 'The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at "locality" level, but also effectively at both "administrative-area-2" and "administrative-area-1".'
        items:
          type: string
        type: array
        required: false
      numberElected:
        description: The number of candidates that will be elected to office in this contest.
        format: int64
        type: string
        facets:
          format: string
        required: false
      numberVotingFor:
        description: The number of candidates that a voter may vote for in this contest.
        format: int64
        type: string
        facets:
          format: string
        required: false
      office:
        description: The name of the office for this contest.
        type: string
        required: false
      primaryParty:
        description: 'If this is a partisan election, the name of the party it is for.'
        type: string
        required: false
      referendumBallotResponses:
        description: The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include "yes" or "no" for referenda. This field is only populated for contests of type 'Referendum'.
        items:
          type: string
        type: array
        required: false
      referendumBrief:
        description: Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      referendumConStatement:
        description: A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      referendumEffectOfAbstain:
        description: Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      referendumPassageThreshold:
        description: 'The threshold of votes that the referendum needs in order to pass, e.g. "two-thirds". This field is only populated for contests of type ''Referendum''.'
        type: string
        required: false
      referendumProStatement:
        description: A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      referendumSubtitle:
        description: A brief description of the referendum. This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      referendumText:
        description: The full text of the referendum. This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      referendumTitle:
        description: The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      referendumUrl:
        description: A link to the referendum. This field is only populated for contests of type 'Referendum'.
        type: string
        required: false
      roles:
        description: The roles which this office fulfills.
        items:
          type: string
        type: array
        required: false
      sources:
        description: 'A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.'
        items:
          type: Source
        type: array
        required: false
      special:
        description: '"Yes" or "No" depending on whether this a contest being held outside the normal election cycle.'
        type: string
        required: false
      type:
        description: 'The type of contest. Usually this will be ''General'', ''Primary'', or ''Run-off'' for contests with candidates. For referenda this will be ''Referendum''. For Retention contests this will typically be ''Retention''.'
        type: string
        required: false
  ContextParams:
    properties:
      clientProfile:
        type: string
        required: false
  DivisionRepresentativeInfoRequest:
    description: A request to look up representative information for a single division.
    properties:
      contextParams:
        type: ContextParams
        required: false
  DivisionSearchRequest:
    description: A search request for political geographies.
    properties:
      contextParams:
        type: ContextParams
        required: false
  DivisionSearchResponse:
    description: The result of a division search query.
    properties:
      kind:
        default: 'civicinfo#divisionSearchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#divisionSearchResponse".'
        type: string
        required: false
      results:
        items:
          type: DivisionSearchResult
        type: array
        required: false
  DivisionSearchResult:
    description: Represents a political geographic division that matches the requested query.
    properties:
      aliases:
        description: 'Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.'
        items:
          type: string
        type: array
        required: false
      name:
        description: The name of the division.
        type: string
        required: false
      ocdId:
        description: The unique Open Civic Data identifier for this division.
        type: string
        required: false
  Election:
    description: Information about the election that was queried.
    properties:
      electionDay:
        description: Day of the election in YYYY-MM-DD format.
        type: string
        required: false
      id:
        description: The unique ID of this election.
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: A displayable name for the election.
        type: string
        required: false
      ocdDivisionId:
        description: 'The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).'
        type: string
        required: false
  ElectionOfficial:
    description: Information about individual election officials.
    properties:
      emailAddress:
        description: The email address of the election official.
        type: string
        required: false
      faxNumber:
        description: The fax number of the election official.
        type: string
        required: false
      name:
        description: The full name of the election official.
        type: string
        required: false
      officePhoneNumber:
        description: The office phone number of the election official.
        type: string
        required: false
      title:
        description: The title of the election official.
        type: string
        required: false
  ElectionsQueryRequest:
    properties:
      contextParams:
        type: ContextParams
        required: false
  ElectionsQueryResponse:
    description: The list of elections available for this version of the API.
    properties:
      elections:
        description: A list of available elections
        items:
          type: Election
        type: array
        required: false
      kind:
        default: 'civicinfo#electionsQueryResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#electionsQueryResponse".'
        type: string
        required: false
  ElectoralDistrict:
    description: Describes the geographic scope of a contest.
    properties:
      id:
        description: 'An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id "34" and a scope of stateUpper.'
        type: string
        required: false
      kgForeignKey:
        type: string
        required: false
      name:
        description: The name of the district.
        type: string
        required: false
      scope:
        description: 'The geographic scope of this district. If unspecified the district''s geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special'
        type: string
        required: false
  GeographicDivision:
    description: Describes a political geography.
    properties:
      alsoKnownAs:
        description: |-
          Any other valid OCD IDs that refer to the same division.

          Because OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.

          For example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.
        items:
          type: string
        type: array
        required: false
      name:
        description: The name of the division.
        type: string
        required: false
      officeIndices:
        description: 'List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.'
        items:
          type: integer
        type: array
        required: false
  Office:
    description: Information about an Office held by one or more Officials.
    properties:
      divisionId:
        description: The OCD ID of the division with which this office is associated.
        type: string
        required: false
      levels:
        description: 'The levels of government of which this office is part. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at "locality" level, but also effectively at both "administrative-area-2" and "administrative-area-1".'
        items:
          type: string
        type: array
        required: false
      name:
        description: The human-readable name of the office.
        type: string
        required: false
      officialIndices:
        description: List of indices in the officials array of people who presently hold this office.
        items:
          type: integer
        type: array
        required: false
      roles:
        description: 'The roles which this office fulfills. Roles are not meant to be exhaustive, or to exactly specify the entire set of responsibilities of a given office, but are meant to be rough categories that are useful for general selection from or sorting of a list of offices.'
        items:
          type: string
        type: array
        required: false
      sources:
        description: 'A list of sources for this office. If multiple sources are listed, the data has been aggregated from those sources.'
        items:
          type: Source
        type: array
        required: false
  Official:
    description: Information about a person holding an elected office.
    properties:
      address:
        description: Addresses at which to contact the official.
        items:
          type: SimpleAddressType
        type: array
        required: false
      channels:
        description: A list of known (social) media channels for this official.
        items:
          type: Channel
        type: array
        required: false
      emails:
        description: The direct email addresses for the official.
        items:
          type: string
        type: array
        required: false
      name:
        description: The official's name.
        type: string
        required: false
      party:
        description: The full name of the party the official belongs to.
        type: string
        required: false
      phones:
        description: The official's public contact phone numbers.
        items:
          type: string
        type: array
        required: false
      photoUrl:
        description: A URL for a photo of the official.
        type: string
        required: false
      urls:
        description: The official's public website URLs.
        items:
          type: string
        type: array
        required: false
  PollingLocation:
    description: 'A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.'
    properties:
      address:
        description: The address of the location.
        type: SimpleAddressType
        required: false
      endDate:
        description: The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.
        type: string
        required: false
      id:
        description: An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.
        type: string
        required: false
      name:
        description: The name of the early vote site or drop off location. This field is not populated for polling locations.
        type: string
        required: false
      notes:
        description: Notes about this location (e.g. accessibility ramp or entrance to use).
        type: string
        required: false
      pollingHours:
        description: A description of when this location is open.
        type: string
        required: false
      sources:
        description: A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.
        items:
          type: Source
        type: array
        required: false
      startDate:
        description: The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.
        type: string
        required: false
      voterServices:
        description: The services provided by this early vote site or drop off location. This field is not populated for polling locations.
        type: string
        required: false
  PostalAddress:
    properties:
      addressLines:
        items:
          type: string
        type: array
        required: false
      administrativeAreaName:
        type: string
        required: false
      countryName:
        type: string
        required: false
      countryNameCode:
        type: string
        required: false
      dependentLocalityName:
        type: string
        required: false
      dependentThoroughfareLeadingType:
        type: string
        required: false
      dependentThoroughfareName:
        type: string
        required: false
      dependentThoroughfarePostDirection:
        type: string
        required: false
      dependentThoroughfarePreDirection:
        type: string
        required: false
      dependentThoroughfareTrailingType:
        type: string
        required: false
      dependentThoroughfaresConnector:
        type: string
        required: false
      dependentThoroughfaresIndicator:
        type: string
        required: false
      dependentThoroughfaresType:
        type: string
        required: false
      firmName:
        type: string
        required: false
      isDisputed:
        type: boolean
        required: false
      languageCode:
        type: string
        required: false
      localityName:
        type: string
        required: false
      postBoxNumber:
        type: string
        required: false
      postalCodeNumber:
        type: string
        required: false
      postalCodeNumberExtension:
        type: string
        required: false
      premiseName:
        type: string
        required: false
      recipientName:
        type: string
        required: false
      sortingCode:
        type: string
        required: false
      subAdministrativeAreaName:
        type: string
        required: false
      subPremiseName:
        type: string
        required: false
      thoroughfareLeadingType:
        type: string
        required: false
      thoroughfareName:
        type: string
        required: false
      thoroughfareNumber:
        type: string
        required: false
      thoroughfarePostDirection:
        type: string
        required: false
      thoroughfarePreDirection:
        type: string
        required: false
      thoroughfareTrailingType:
        type: string
        required: false
  RepresentativeInfoData:
    properties:
      divisions:
        additionalProperties:
          description: The unique Open Civic Data identifier for this division.
          type: GeographicDivision
        description: Political geographic divisions that contain the requested address.
        type: object
        required: false
      offices:
        description: Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.
        items:
          type: Office
        type: array
        required: false
      officials:
        description: Officials holding the offices listed above. Will only be present if includeOffices was true in the request.
        items:
          type: Official
        type: array
        required: false
  RepresentativeInfoRequest:
    description: A request for political geography and representative information for an address.
    properties:
      contextParams:
        type: ContextParams
        required: false
  RepresentativeInfoResponse:
    description: The result of a representative info lookup query.
    properties:
      divisions:
        additionalProperties:
          description: The unique Open Civic Data identifier for this division.
          type: GeographicDivision
        description: Political geographic divisions that contain the requested address.
        type: object
        required: false
      kind:
        default: 'civicinfo#representativeInfoResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#representativeInfoResponse".'
        type: string
        required: false
      normalizedInput:
        description: The normalized version of the requested address
        type: SimpleAddressType
        required: false
      offices:
        description: Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.
        items:
          type: Office
        type: array
        required: false
      officials:
        description: Officials holding the offices listed above. Will only be present if includeOffices was true in the request.
        items:
          type: Official
        type: array
        required: false
  SimpleAddressType:
    description: A simple representation of an address.
    properties:
      city:
        description: The city or town for the address.
        type: string
        required: false
      line1:
        description: The street name and number of this address.
        type: string
        required: false
      line2:
        description: 'The second line the address, if needed.'
        type: string
        required: false
      line3:
        description: 'The third line of the address, if needed.'
        type: string
        required: false
      locationName:
        description: The name of the location.
        type: string
        required: false
      state:
        description: The US two letter state abbreviation of the address.
        type: string
        required: false
      zip:
        description: The US Postal Zip Code of the address.
        type: string
        required: false
  Source:
    description: Contains information about the data source for the element containing it.
    properties:
      name:
        description: The name of the data source.
        type: string
        required: false
      official:
        description: Whether this data comes from an official government source.
        type: boolean
        required: false
  VoterInfoRequest:
    description: A request for information about a voter.
    properties:
      contextParams:
        type: ContextParams
        required: false
      voterInfoSegmentResult:
        type: VoterInfoSegmentResult
        required: false
  VoterInfoResponse:
    description: The result of a voter info lookup query.
    properties:
      contests:
        description: Contests that will appear on the voter's ballot.
        items:
          type: Contest
        type: array
        required: false
      dropOffLocations:
        description: Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.
        items:
          type: PollingLocation
        type: array
        required: false
      earlyVoteSites:
        description: 'Locations where the voter is eligible to vote early, prior to election day.'
        items:
          type: PollingLocation
        type: array
        required: false
      election:
        description: The election that was queried.
        type: Election
        required: false
      kind:
        default: 'civicinfo#voterInfoResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#voterInfoResponse".'
        type: string
        required: false
      mailOnly:
        description: Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).
        type: boolean
        required: false
      normalizedInput:
        description: The normalized version of the requested address
        type: SimpleAddressType
        required: false
      otherElections:
        description: 'If no election ID was specified in the query, and there was more than one election with data for the given voter, this will contain information about the other elections that could apply.'
        items:
          type: Election
        type: array
        required: false
      pollingLocations:
        description: Locations where the voter is eligible to vote on election day.
        items:
          type: PollingLocation
        type: array
        required: false
      precinctId:
        type: string
        required: false
      state:
        description: 'Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.'
        items:
          type: AdministrationRegion
        type: array
        required: false
  VoterInfoSegmentResult:
    properties:
      generatedMillis:
        format: int64
        type: string
        facets:
          format: string
        required: false
      postalAddress:
        type: PostalAddress
        required: false
      request:
        type: VoterInfoRequest
        required: false
      response:
        type: VoterInfoResponse
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
