#%RAML 1.0
title: Genomics
version: v1
baseUri: 'https://genomics.googleapis.com/'
protocols:
  - HTTPS
description: 'Stores, processes, explores and shares genomic data.'
(oas-tags-definition):
  - name: annotationsets
  - name: annotations
  - name: datasets
  - name: operations
  - name: readgroupsets
  - name: reads
  - name: referencesets
  - name: references
  - name: variants
  - name: variantsets
  - name: callsets
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/genomics/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): genomics
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://cloud.google.com/genomics/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/bigquery'
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/devstorage.read_write'
        - 'https://www.googleapis.com/auth/genomics'
        - 'https://www.googleapis.com/auth/genomics.readonly'
    description: Oauth 2.0 authentication
/v1:
  displayName: v1
  /readgroupsets:
    displayName: readgroupsets
    '/{readGroupSetId}:export':
      displayName: '{readGroupSetId}:export'
      uriParameters:
        readGroupSetId:
          description: Required. The ID of the read group set to export. The caller must have READ access to this read group set.
          required: true
          type: string
      post:
        displayName: genomics.readgroupsets.export
        description: 'Exports a read group set to a BAM file in Google Cloud Storage. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Note that currently there may be some differences between exported BAM files and the original BAM file at the time of import. See ImportReadGroupSets for caveats.'
        body:
          application/json:
            type: ExportReadGroupSetRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Operation
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - readgroupsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
    /search:
      displayName: search
      post:
        displayName: genomics.readgroupsets.search
        description: 'Searches for read group sets matching the criteria. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.searchReadGroupSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L135).'
        body:
          application/json:
            type: SearchReadGroupSetsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchReadGroupSetsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - readgroupsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
    '/{readGroupSetId}':
      displayName: '{readGroupSetId}'
      uriParameters:
        readGroupSetId:
          description: The ID of the read group set to be updated. The caller must have WRITE permissions to the dataset associated with this read group set.
          required: true
          type: string
      get:
        displayName: genomics.readgroupsets.get
        description: 'Gets a read group set by ID. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: ReadGroupSet
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - readgroupsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      /coveragebuckets:
        displayName: coveragebuckets
        get:
          displayName: genomics.readgroupsets.coveragebuckets.list
          description: 'Lists fixed width coverage buckets for a read group set, each of which correspond to a range of a reference sequence. Each bucket summarizes coverage information across its corresponding genomic range. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Coverage is defined as the number of reads which are aligned to a given base in the reference sequence. Coverage buckets are available at several precomputed bucket widths, enabling retrieval of various coverage ''zoom levels''. The caller must have READ permissions for the target read group set.'
          responses:
            '200':
              body:
                application/json:
                  type: ListCoverageBucketsResponse
              description: Successful response
          queryParameters:
            referenceName:
              description: 'The name of the reference to query, within the reference set associated with this query. Optional.'
              type: string
            start:
              description: 'The start position of the range on the reference, 0-based inclusive. If specified, `referenceName` must also be specified. Defaults to 0.'
              type: string
            end:
              description: 'The end position of the range on the reference, 0-based exclusive. If specified, `referenceName` must also be specified. If unset or 0, defaults to the length of the reference.'
              type: string
            targetBucketWidth:
              description: 'The desired width of each reported coverage bucket in base pairs. This will be rounded down to the nearest precomputed bucket width; the value of which is returned as `bucketWidth` in the response. Defaults to infinity (each bucket spans an entire reference sequence) or the length of the target range, if specified. The smallest precomputed `bucketWidth` is currently 2048 base pairs; this is subject to change.'
              type: string
            pageToken:
              description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of `nextPageToken` from the previous response.'
              type: string
            pageSize:
              description: 'The maximum number of results to return in a single page. If unspecified, defaults to 1024. The maximum value is 2048.'
              type: integer
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/genomics.readonly'
          (oas-tags):
            - readgroupsets
        is:
          - accessToken
          - alt
          - bearerToken
          - callback
          - fields
          - key
          - oauthToken
          - pp
          - prettyPrint
          - quotaUser
          - uploadProtocol
          - uploadType
          - xgafv
      delete:
        displayName: genomics.readgroupsets.delete
        description: 'Deletes a read group set. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: Empty
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - readgroupsets
      patch:
        displayName: genomics.readgroupsets.patch
        description: 'Updates a read group set. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) This method supports patch semantics.'
        body:
          application/json:
            type: ReadGroupSet
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ReadGroupSet
            description: Successful response
        queryParameters:
          updateMask:
            description: 'An optional mask specifying which fields to update. Supported fields: * name. * referenceSetId. Leaving `updateMask` unset is equivalent to specifying all mutable fields.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - readgroupsets
  '/{resource}:testIamPermissions':
    displayName: '{resource}:testIamPermissions'
    uriParameters:
      resource:
        description: 'REQUIRED: The resource for which policy is being specified. Format is `datasets/`.'
        required: true
        type: string
    post:
      displayName: genomics.datasets.testIamPermissions
      description: 'Returns permissions that a caller has on the specified resource. See Testing Permissions for more information. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
      body:
        application/json:
          type: TestIamPermissionsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: TestIamPermissionsResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - datasets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/readgroupsets:import':
    displayName: 'readgroupsets:import'
    post:
      displayName: genomics.readgroupsets.import
      description: 'Creates read group sets by asynchronously importing the provided information. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) The caller must have WRITE permissions to the dataset. ## Notes on [BAM](https://samtools.github.io/hts-specs/SAMv1.pdf) import - Tags will be converted to strings - tag types are not preserved - Comments (`@CO`) in the input file header will not be preserved - Original header order of references (`@SQ`) will not be preserved - Any reverse stranded unmapped reads will be reverse complemented, and their qualities (also the "BQ" and "OQ" tags, if any) will be reversed - Unmapped reads will be stripped of positional information (reference name and position)'
      body:
        application/json:
          type: ImportReadGroupSetsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Operation
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - readgroupsets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  /annotations:
    displayName: annotations
    post:
      displayName: genomics.annotations.create
      description: 'Creates a new annotation. Caller must have WRITE permission for the associated annotation set. The following fields are required: * annotationSetId * referenceName or referenceId ### Transcripts For annotations of type TRANSCRIPT, the following fields of transcript must be provided: * exons.start * exons.end All other fields may be optionally specified, unless documented as being server-generated (for example, the `id` field). The annotated range must be no longer than 100Mbp (mega base pairs). See the Annotation resource for additional restrictions on each field.'
      body:
        application/json:
          type: Annotation
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Annotation
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - annotations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    '/{annotationId}':
      displayName: '{annotationId}'
      uriParameters:
        annotationId:
          description: The ID of the annotation to be retrieved.
          required: true
          type: string
      delete:
        displayName: genomics.annotations.delete
        description: Deletes an annotation. Caller must have WRITE permission for the associated annotation set.
        responses:
          '200':
            body:
              application/json:
                type: Empty
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - annotations
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      put:
        displayName: genomics.annotations.update
        description: Updates an annotation. Caller must have WRITE permission for the associated dataset.
        body:
          application/json:
            type: Annotation
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Annotation
            description: Successful response
        queryParameters:
          updateMask:
            description: 'An optional mask specifying which fields to update. Mutable fields are name, variant, transcript, and info. If unspecified, all mutable fields will be updated.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - annotations
      get:
        displayName: genomics.annotations.get
        description: Gets an annotation. Caller must have READ permission for the associated annotation set.
        responses:
          '200':
            body:
              application/json:
                type: Annotation
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - annotations
    /search:
      displayName: search
      post:
        displayName: genomics.annotations.search
        description: 'Searches for annotations that match the given criteria. Results are ordered by genomic coordinate (by reference sequence, then position). Annotations with equivalent genomic coordinates are returned in an unspecified order. This order is consistent, such that two queries for the same content (regardless of page size) yield annotations in the same order across their respective streams of paginated responses. Caller must have READ permission for the queried annotation sets.'
        body:
          application/json:
            type: SearchAnnotationsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchAnnotationsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - annotations
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
  /reads:
    displayName: reads
    /search:
      displayName: search
      post:
        displayName: genomics.reads.search
        description: 'Gets a list of reads for one or more read group sets. For the definitions of read group sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Reads search operates over a genomic coordinate space of reference sequence & position defined over the reference sequences to which the requested read group sets are aligned. If a target positional range is specified, search returns all reads whose alignment to the reference genome overlap the range. A query which specifies only read group set IDs yields all reads in those read group sets, including unmapped reads. All reads returned (including reads on subsequent pages) are ordered by genomic coordinate (by reference sequence, then position). Reads with equivalent genomic coordinates are returned in an unspecified order. This order is consistent, such that two queries for the same content (regardless of page size) yield reads in the same order across their respective streams of paginated responses. Implements [GlobalAllianceApi.searchReads](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L85).'
        body:
          application/json:
            type: SearchReadsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchReadsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - reads
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
  '/reads:stream':
    displayName: 'reads:stream'
    post:
      displayName: genomics.reads.stream
      description: 'Returns a stream of all the reads matching the search request, ordered by reference name, position, and ID.'
      body:
        application/json:
          type: StreamReadsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: StreamReadsResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - reads
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  /references:
    displayName: references
    /search:
      displayName: search
      post:
        displayName: genomics.references.search
        description: 'Searches for references which match the given criteria. For the definitions of references and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.searchReferences](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L146).'
        body:
          application/json:
            type: SearchReferencesRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchReferencesResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - references
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
    '/{referenceId}':
      displayName: '{referenceId}'
      uriParameters:
        referenceId:
          description: The ID of the reference.
          required: true
          type: string
      get:
        displayName: genomics.references.get
        description: 'Gets a reference. For the definitions of references and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.getReference](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L158).'
        responses:
          '200':
            body:
              application/json:
                type: Reference
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - references
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      /bases:
        displayName: bases
        get:
          displayName: genomics.references.bases.list
          description: 'Lists the bases in a reference, optionally restricted to a range. For the definitions of references and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.getReferenceBases](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L221).'
          responses:
            '200':
              body:
                application/json:
                  type: ListBasesResponse
              description: Successful response
          queryParameters:
            start:
              description: The start position (0-based) of this query. Defaults to 0.
              type: string
            end:
              description: 'The end position (0-based, exclusive) of this query. Defaults to the length of this reference.'
              type: string
            pageToken:
              description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of `nextPageToken` from the previous response.'
              type: string
            pageSize:
              description: 'The maximum number of bases to return in a single page. If unspecified, defaults to 200Kbp (kilo base pairs). The maximum value is 10Mbp (mega base pairs).'
              type: integer
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/genomics.readonly'
          (oas-tags):
            - references
        is:
          - accessToken
          - alt
          - bearerToken
          - callback
          - fields
          - key
          - oauthToken
          - pp
          - prettyPrint
          - quotaUser
          - uploadProtocol
          - uploadType
          - xgafv
  /annotationsets:
    displayName: annotationsets
    post:
      displayName: genomics.annotationsets.create
      description: 'Creates a new annotation set. Caller must have WRITE permission for the associated dataset. The following fields are required: * datasetId * referenceSetId All other fields may be optionally specified, unless documented as being server-generated (for example, the `id` field).'
      body:
        application/json:
          type: AnnotationSet
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AnnotationSet
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - annotationsets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    '/{annotationSetId}':
      displayName: '{annotationSetId}'
      uriParameters:
        annotationSetId:
          description: The ID of the annotation set to be retrieved.
          required: true
          type: string
      delete:
        displayName: genomics.annotationsets.delete
        description: Deletes an annotation set. Caller must have WRITE permission for the associated annotation set.
        responses:
          '200':
            body:
              application/json:
                type: Empty
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - annotationsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      put:
        displayName: genomics.annotationsets.update
        description: Updates an annotation set. The update must respect all mutability restrictions and other invariants described on the annotation set resource. Caller must have WRITE permission for the associated dataset.
        body:
          application/json:
            type: AnnotationSet
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AnnotationSet
            description: Successful response
        queryParameters:
          updateMask:
            description: 'An optional mask specifying which fields to update. Mutable fields are name, source_uri, and info. If unspecified, all mutable fields will be updated.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - annotationsets
      get:
        displayName: genomics.annotationsets.get
        description: Gets an annotation set. Caller must have READ permission for the associated dataset.
        responses:
          '200':
            body:
              application/json:
                type: AnnotationSet
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - annotationsets
    /search:
      displayName: search
      post:
        displayName: genomics.annotationsets.search
        description: 'Searches for annotation sets that match the given criteria. Annotation sets are returned in an unspecified order. This order is consistent, such that two queries for the same content (regardless of page size) yield annotation sets in the same order across their respective streams of paginated responses. Caller must have READ permission for the queried datasets.'
        body:
          application/json:
            type: SearchAnnotationSetsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchAnnotationSetsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - annotationsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
  /referencesets:
    displayName: referencesets
    /search:
      displayName: search
      post:
        displayName: genomics.referencesets.search
        description: 'Searches for reference sets which match the given criteria. For the definitions of references and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.searchReferenceSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L71)'
        body:
          application/json:
            type: SearchReferenceSetsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchReferenceSetsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - referencesets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
    '/{referenceSetId}':
      displayName: '{referenceSetId}'
      uriParameters:
        referenceSetId:
          description: The ID of the reference set.
          required: true
          type: string
      get:
        displayName: genomics.referencesets.get
        description: 'Gets a reference set. For the definitions of references and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.getReferenceSet](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L83).'
        responses:
          '200':
            body:
              application/json:
                type: ReferenceSet
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - referencesets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
  /callsets:
    displayName: callsets
    /search:
      displayName: search
      post:
        displayName: genomics.callsets.search
        description: 'Gets a list of call sets matching the criteria. For the definitions of call sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.searchCallSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L178).'
        body:
          application/json:
            type: SearchCallSetsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchCallSetsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - callsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
    '/{callSetId}':
      displayName: '{callSetId}'
      uriParameters:
        callSetId:
          description: The ID of the call set to be deleted.
          required: true
          type: string
      get:
        displayName: genomics.callsets.get
        description: 'Gets a call set by ID. For the definitions of call sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: CallSet
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - callsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      patch:
        displayName: genomics.callsets.patch
        description: 'Updates a call set. For the definitions of call sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) This method supports patch semantics.'
        body:
          application/json:
            type: CallSet
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: CallSet
            description: Successful response
        queryParameters:
          updateMask:
            description: 'An optional mask specifying which fields to update. At this time, the only mutable field is name. The only acceptable value is "name". If unspecified, all mutable fields will be updated.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - callsets
      delete:
        displayName: genomics.callsets.delete
        description: 'Deletes a call set. For the definitions of call sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: Empty
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - callsets
    post:
      displayName: genomics.callsets.create
      description: 'Creates a new call set. For the definitions of call sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
      body:
        application/json:
          type: CallSet
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: CallSet
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - callsets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  /variants:
    displayName: variants
    post:
      displayName: genomics.variants.create
      description: 'Creates a new variant. For the definitions of variants and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
      body:
        application/json:
          type: Variant
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Variant
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - variants
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    /search:
      displayName: search
      post:
        displayName: genomics.variants.search
        description: 'Gets a list of variants matching the criteria. For the definitions of variants and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.searchVariants](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L126).'
        body:
          application/json:
            type: SearchVariantsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchVariantsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - variants
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
    '/{variantId}':
      displayName: '{variantId}'
      uriParameters:
        variantId:
          description: The ID of the variant to be updated.
          required: true
          type: string
      delete:
        displayName: genomics.variants.delete
        description: 'Deletes a variant. For the definitions of variants and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: Empty
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - variants
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      get:
        displayName: genomics.variants.get
        description: 'Gets a variant by ID. For the definitions of variants and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: Variant
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - variants
      patch:
        displayName: genomics.variants.patch
        description: 'Updates a variant. For the definitions of variants and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) This method supports patch semantics. Returns the modified variant without its calls.'
        body:
          application/json:
            type: Variant
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Variant
            description: Successful response
        queryParameters:
          updateMask:
            description: 'An optional mask specifying which fields to update. At this time, mutable fields are names and info. Acceptable values are "names" and "info". If unspecified, all mutable fields will be updated.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - variants
  /datasets:
    displayName: datasets
    get:
      displayName: genomics.datasets.list
      description: 'Lists datasets within a project. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
      responses:
        '200':
          body:
            application/json:
              type: ListDatasetsResponse
          description: Successful response
      queryParameters:
        projectId:
          description: Required. The Google Cloud project ID to list datasets for.
          type: string
        pageSize:
          description: 'The maximum number of results to return in a single page. If unspecified, defaults to 50. The maximum value is 1024.'
          type: integer
        pageToken:
          description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of `nextPageToken` from the previous response.'
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics.readonly'
      (oas-tags):
        - datasets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    '/{datasetId}':
      displayName: '{datasetId}'
      uriParameters:
        datasetId:
          description: The ID of the dataset.
          required: true
          type: string
      delete:
        displayName: genomics.datasets.delete
        description: 'Deletes a dataset and all of its contents (all read group sets, reference sets, variant sets, call sets, annotation sets, etc.) This is reversible (up to one week after the deletion) via the datasets.undelete operation. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: Empty
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - datasets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      patch:
        displayName: genomics.datasets.patch
        description: 'Updates a dataset. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) This method supports patch semantics.'
        body:
          application/json:
            type: Dataset
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Dataset
            description: Successful response
        queryParameters:
          updateMask:
            description: 'An optional mask specifying which fields to update. At this time, the only mutable field is name. The only acceptable value is "name". If unspecified, all mutable fields will be updated.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - datasets
      get:
        displayName: genomics.datasets.get
        description: 'Gets a dataset by ID. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: Dataset
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - datasets
    post:
      displayName: genomics.datasets.create
      description: 'Creates a new dataset. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
      body:
        application/json:
          type: Dataset
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Dataset
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - datasets
    '/{datasetId}:undelete':
      displayName: '{datasetId}:undelete'
      uriParameters:
        datasetId:
          description: The ID of the dataset to be undeleted.
          required: true
          type: string
      post:
        displayName: genomics.datasets.undelete
        description: 'Undeletes a dataset by restoring a dataset which was deleted via this API. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) This operation is only possible for a week after the deletion occurred.'
        body:
          application/json:
            type: UndeleteDatasetRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Dataset
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - datasets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
  '/variants:import':
    displayName: 'variants:import'
    post:
      displayName: genomics.variants.import
      description: 'Creates variant data by asynchronously importing the provided information. For the definitions of variant sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) The variants for import will be merged with any existing variant that matches its reference sequence, start, end, reference bases, and alternative bases. If no such variant exists, a new one will be created. When variants are merged, the call information from the new variant is added to the existing variant, and Variant info fields are merged as specified in infoMergeConfig. As a special case, for single-sample VCF files, QUAL and FILTER fields will be moved to the call level; these are sometimes interpreted in a call-specific context. Imported VCF headers are appended to the metadata already in a variant set.'
      body:
        application/json:
          type: ImportVariantsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Operation
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - variants
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/variants:merge':
    displayName: 'variants:merge'
    post:
      displayName: genomics.variants.merge
      description: 'Merges the given variants with existing variants. For the definitions of variants and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Each variant will be merged with an existing variant that matches its reference sequence, start, end, reference bases, and alternative bases. If no such variant exists, a new one will be created. When variants are merged, the call information from the new variant is added to the existing variant. Variant info fields are merged as specified in the infoMergeConfig field of the MergeVariantsRequest. Please exercise caution when using this method! It is easy to introduce mistakes in existing variants and difficult to back out of them. For example, suppose you were trying to merge a new variant with an existing one and both variants contain calls that belong to callsets with the same callset ID. // Existing variant - irrelevant fields trimmed for clarity { "variantSetId": "10473108253681171589", "referenceName": "1", "start": "10582", "referenceBases": "G", "alternateBases": [ "A" ], "calls": [ { "callSetId": "10473108253681171589-0", "callSetName": "CALLSET0", "genotype": [ 0, 1 ], } ] } // New variant with conflicting call information { "variantSetId": "10473108253681171589", "referenceName": "1", "start": "10582", "referenceBases": "G", "alternateBases": [ "A" ], "calls": [ { "callSetId": "10473108253681171589-0", "callSetName": "CALLSET0", "genotype": [ 1, 1 ], } ] } The resulting merged variant would overwrite the existing calls with those from the new variant: { "variantSetId": "10473108253681171589", "referenceName": "1", "start": "10582", "referenceBases": "G", "alternateBases": [ "A" ], "calls": [ { "callSetId": "10473108253681171589-0", "callSetName": "CALLSET0", "genotype": [ 1, 1 ], } ] } This may be the desired outcome, but it is up to the user to determine if if that is indeed the case.'
      body:
        application/json:
          type: MergeVariantsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - variants
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/variants:stream':
    displayName: 'variants:stream'
    post:
      displayName: genomics.variants.stream
      description: 'Returns a stream of all the variants matching the search request, ordered by reference name, position, and ID.'
      body:
        application/json:
          type: StreamVariantsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: StreamVariantsResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - variants
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  /variantsets:
    displayName: variantsets
    post:
      displayName: genomics.variantsets.create
      description: 'Creates a new variant set. For the definitions of variant sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) The provided variant set must have a valid `datasetId` set - all other fields are optional. Note that the `id` field will be ignored, as this is assigned by the server.'
      body:
        application/json:
          type: VariantSet
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: VariantSet
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - variantsets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    /search:
      displayName: search
      post:
        displayName: genomics.variantsets.search
        description: 'Returns a list of all variant sets matching search criteria. For the definitions of variant sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) Implements [GlobalAllianceApi.searchVariantSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L49).'
        body:
          application/json:
            type: SearchVariantSetsRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SearchVariantSetsResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - variantsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
    '/{variantSetId}':
      displayName: '{variantSetId}'
      uriParameters:
        variantSetId:
          description: The ID of the variant to be updated (must already exist).
          required: true
          type: string
      delete:
        displayName: genomics.variantsets.delete
        description: 'Deletes a variant set including all variants, call sets, and calls within. This is not reversible. For the definitions of variant sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: Empty
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - variantsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      get:
        displayName: genomics.variantsets.get
        description: 'Gets a variant set by ID. For the definitions of variant sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        responses:
          '200':
            body:
              application/json:
                type: VariantSet
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics.readonly'
        (oas-tags):
          - variantsets
      patch:
        displayName: genomics.variantsets.patch
        description: 'Updates a variant set using patch semantics. For the definitions of variant sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        body:
          application/json:
            type: VariantSet
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: VariantSet
            description: Successful response
        queryParameters:
          updateMask:
            description: 'An optional mask specifying which fields to update. Supported fields: * metadata. * name. * description. Leaving `updateMask` unset is equivalent to specifying all mutable fields.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - variantsets
    '/{variantSetId}:export':
      displayName: '{variantSetId}:export'
      uriParameters:
        variantSetId:
          description: Required. The ID of the variant set that contains variant data which should be exported. The caller must have READ access to this variant set.
          required: true
          type: string
      post:
        displayName: genomics.variantsets.export
        description: 'Exports variant set data to an external destination. For the definitions of variant sets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
        body:
          application/json:
            type: ExportVariantSetRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Operation
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/genomics'
        (oas-tags):
          - variantsets
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
  '/{resource}:setIamPolicy':
    displayName: '{resource}:setIamPolicy'
    uriParameters:
      resource:
        description: 'REQUIRED: The resource for which policy is being specified. Format is `datasets/`.'
        required: true
        type: string
    post:
      displayName: genomics.datasets.setIamPolicy
      description: 'Sets the access control policy on the specified dataset. Replaces any existing policy. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics) See Setting a Policy for more information.'
      body:
        application/json:
          type: SetIamPolicyRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Policy
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - datasets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/{resource}:getIamPolicy':
    displayName: '{resource}:getIamPolicy'
    uriParameters:
      resource:
        description: 'REQUIRED: The resource for which policy is being specified. Format is `datasets/`.'
        required: true
        type: string
    post:
      displayName: genomics.datasets.getIamPolicy
      description: 'Gets the access control policy for the dataset. This is empty if the policy or resource does not exist. See Getting a Policy for more information. For the definitions of datasets and other genomics resources, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
      body:
        application/json:
          type: GetIamPolicyRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Policy
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - datasets
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/{name}:cancel':
    displayName: '{name}:cancel'
    uriParameters:
      name:
        description: The name of the operation resource to be cancelled.
        required: true
        type: string
    post:
      displayName: genomics.operations.cancel
      description: 'Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients may use Operations.GetOperation or Operations.ListOperations to check whether the cancellation succeeded or the operation completed despite cancellation.'
      body:
        application/json:
          type: CancelOperationRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - operations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/{name}':
    displayName: '{name}'
    uriParameters:
      name:
        description: The name of the operation resource.
        required: true
        type: string
    get:
      displayName: genomics.operations.get
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      responses:
        '200':
          body:
            application/json:
              type: Operation
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - operations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/annotations:batchCreate':
    displayName: 'annotations:batchCreate'
    post:
      displayName: genomics.annotations.batchCreate
      description: 'Creates one or more new annotations atomically. All annotations must belong to the same annotation set. Caller must have WRITE permission for this annotation set. For optimal performance, batch positionally adjacent annotations together. If the request has a systemic issue, such as an attempt to write to an inaccessible annotation set, the entire RPC will fail accordingly. For lesser data issues, when possible an error will be isolated to the corresponding batch entry in the response; the remaining well formed annotations will be created normally. For details on the requirements for each individual annotation resource, see CreateAnnotation.'
      body:
        application/json:
          type: BatchCreateAnnotationsRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: BatchCreateAnnotationsResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/genomics'
      (oas-tags):
        - annotations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
types:
  Annotation:
    description: 'An annotation describes a region of reference genome. The value of an annotation may be one of several canonical types, supplemented by arbitrary info tags. An annotation is not inherently associated with a specific sample or individual (though a client could choose to use annotations in this way). Example canonical annotation types are `GENE` and `VARIANT`.'
    properties:
      annotationSetId:
        description: The annotation set to which this annotation belongs.
        type: string
        required: false
      end:
        description: 'The end position of the range on the reference, 0-based exclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: 'The server-generated annotation ID, unique across all annotations.'
        type: string
        required: false
      info:
        additionalProperties:
          items: {}
          type: array
        description: A map of additional read alignment information. This must be of the form map (string key mapping to a list of string values).
        type: object
        required: false
      name:
        description: The display name of this annotation.
        type: string
        required: false
      referenceId:
        description: The ID of the Google Genomics reference associated with this range.
        type: string
        required: false
      referenceName:
        description: 'The display name corresponding to the reference specified by `referenceId`, for example `chr1`, `1`, or `chrX`.'
        type: string
        required: false
      reverseStrand:
        description: 'Whether this range refers to the reverse strand, as opposed to the forward strand. Note that regardless of this field, the start/end position of the range always refer to the forward strand.'
        type: boolean
        required: false
      start:
        description: 'The start position of the range on the reference, 0-based inclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      transcript:
        description: A transcript value represents the assertion that a particular region of the reference genome may be transcribed as RNA. An alternative splicing pattern would be represented as a separate transcript object. This field is only set for annotations of type `TRANSCRIPT`.
        type: Transcript
        required: false
      type:
        description: The data type for this annotation. Must match the containing annotation set's type.
        enum:
          - ANNOTATION_TYPE_UNSPECIFIED
          - GENERIC
          - VARIANT
          - GENE
          - TRANSCRIPT
        type: string
        required: false
      variant:
        description: 'A variant annotation, which describes the effect of a variant on the genome, the coding sequence, and/or higher level consequences at the organism level e.g. pathogenicity. This field is only set for annotations of type `VARIANT`.'
        type: VariantAnnotation
        required: false
  AnnotationSet:
    description: 'An annotation set is a logical grouping of annotations that share consistent type information and provenance. Examples of annotation sets include ''all genes from refseq'', and ''all variant annotations from ClinVar''.'
    properties:
      datasetId:
        description: The dataset to which this annotation set belongs.
        type: string
        required: false
      id:
        description: 'The server-generated annotation set ID, unique across all annotation sets.'
        type: string
        required: false
      info:
        additionalProperties:
          items: {}
          type: array
        description: A map of additional read alignment information. This must be of the form map (string key mapping to a list of string values).
        type: object
        required: false
      name:
        description: The display name for this annotation set.
        type: string
        required: false
      referenceSetId:
        description: The ID of the reference set that defines the coordinate space for this set's annotations.
        type: string
        required: false
      sourceUri:
        description: 'The source URI describing the file from which this annotation set was generated, if any.'
        type: string
        required: false
      type:
        description: The type of annotations contained within this set.
        enum:
          - ANNOTATION_TYPE_UNSPECIFIED
          - GENERIC
          - VARIANT
          - GENE
          - TRANSCRIPT
        type: string
        required: false
  BatchCreateAnnotationsRequest:
    properties:
      annotations:
        description: The annotations to be created. At most 4096 can be specified in a single request.
        items:
          type: Annotation
        type: array
        required: false
      requestId:
        description: 'A unique request ID which enables the server to detect duplicated requests. If provided, duplicated requests will result in the same response; if not provided, duplicated requests may result in duplicated data. For a given annotation set, callers should not reuse `request_id`s when writing different batches of annotations - behavior in this case is undefined. A common approach is to use a UUID. For batch jobs where worker crashes are a possibility, consider using some unique variant of a worker or run ID.'
        type: string
        required: false
  BatchCreateAnnotationsResponse:
    properties:
      entries:
        description: 'The resulting per-annotation entries, ordered consistently with the original request.'
        items:
          type: Entry
        type: array
        required: false
  Binding:
    description: Associates `members` with a `role`.
    properties:
      members:
        description: 'Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@gmail.com` or `joe@example.com`. * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: A Google Apps domain name that represents all the users of that domain. For example, `google.com` or `example.com`.'
        items:
          type: string
        type: array
        required: false
      role:
        description: 'Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. Required'
        type: string
        required: false
  CallSet:
    description: 'A call set is a collection of variant calls, typically for one sample. It belongs to a variant set. For more genomics resource definitions, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
    properties:
      created:
        description: The date this call set was created in milliseconds from the epoch.
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: 'The server-generated call set ID, unique across all call sets.'
        type: string
        required: false
      info:
        additionalProperties:
          items: {}
          type: array
        description: A map of additional call set information. This must be of the form map (string key mapping to a list of string values).
        type: object
        required: false
      name:
        description: The call set name.
        type: string
        required: false
      sampleId:
        description: The sample ID this call set corresponds to.
        type: string
        required: false
      variantSetIds:
        description: 'The IDs of the variant sets this call set belongs to. This field must have exactly length one, as a call set belongs to a single variant set. This field is repeated for compatibility with the [GA4GH 0.5.1 API](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variants.avdl#L76).'
        items:
          type: string
        type: array
        required: false
  CancelOperationRequest:
    description: The request message for Operations.CancelOperation.
    type: object
  CigarUnit:
    description: A single CIGAR operation.
    properties:
      operation:
        enum:
          - OPERATION_UNSPECIFIED
          - ALIGNMENT_MATCH
          - INSERT
          - DELETE
          - SKIP
          - CLIP_SOFT
          - CLIP_HARD
          - PAD
          - SEQUENCE_MATCH
          - SEQUENCE_MISMATCH
        type: string
        required: false
      operationLength:
        description: The number of genomic bases that the operation runs for. Required.
        format: int64
        type: string
        facets:
          format: string
        required: false
      referenceSequence:
        description: '`referenceSequence` is only used at mismatches (`SEQUENCE_MISMATCH`) and deletions (`DELETE`). Filling this field replaces SAM''s MD tag. If the relevant information is not available, this field is unset.'
        type: string
        required: false
  ClinicalCondition:
    properties:
      conceptId:
        description: 'The MedGen concept id associated with this gene. Search for these IDs at http://www.ncbi.nlm.nih.gov/medgen/'
        type: string
        required: false
      externalIds:
        description: The set of external IDs for this condition.
        items:
          type: ExternalId
        type: array
        required: false
      names:
        description: A set of names for the condition.
        items:
          type: string
        type: array
        required: false
      omimId:
        description: 'The OMIM id for this condition. Search for these IDs at http://omim.org/'
        type: string
        required: false
  CodingSequence:
    properties:
      end:
        description: 'The end of the coding sequence on this annotation''s reference sequence, 0-based exclusive. Note that this position is relative to the reference start, and *not* the containing annotation start.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      start:
        description: 'The start of the coding sequence on this annotation''s reference sequence, 0-based inclusive. Note that this position is relative to the reference start, and *not* the containing annotation start.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  ComputeEngine:
    description: Describes a Compute Engine resource that is being managed by a running pipeline.
    properties:
      diskNames:
        description: The names of the disks that were created for this pipeline.
        items:
          type: string
        type: array
        required: false
      instanceName:
        description: The instance on which the operation is running.
        type: string
        required: false
      machineType:
        description: The machine type of the instance.
        type: string
        required: false
      zone:
        description: The availability zone in which the instance resides.
        type: string
        required: false
  CoverageBucket:
    description: A bucket over which read coverage has been precomputed. A bucket corresponds to a specific range of the reference sequence.
    properties:
      meanCoverage:
        description: The average number of reads which are aligned to each individual reference base in this bucket.
        format: float
        type: number
        required: false
      range:
        description: The genomic coordinate range spanned by this bucket.
        type: Range
        required: false
  Dataset:
    description: 'A Dataset is a collection of genomic data. For more genomics resource definitions, see [Fundamentals of Google Genomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)'
    properties:
      createTime:
        description: 'The time this dataset was created, in seconds from the epoch.'
        type: string
        required: false
      id:
        description: 'The server-generated dataset ID, unique across all datasets.'
        type: string
        required: false
      name:
        description: The dataset name.
        type: string
        required: false
      projectId:
        description: The Google Cloud project ID that this dataset belongs to.
        type: string
        required: false
  Empty:
    description: 'A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.'
    type: object
  Entry:
    properties:
      annotation:
        description: 'The created annotation, if creation was successful.'
        type: Annotation
        required: false
      status:
        description: The creation status.
        type: Status
        required: false
  Exon:
    properties:
      end:
        description: 'The end position of the exon on this annotation''s reference sequence, 0-based exclusive. Note that this is relative to the reference start, and *not* the containing annotation start.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      frame:
        description: 'The frame of this exon. Contains a value of 0, 1, or 2, which indicates the offset of the first coding base of the exon within the reading frame of the coding DNA sequence, if any. This field is dependent on the strandedness of this annotation (see Annotation.reverse_strand). For forward stranded annotations, this offset is relative to the exon.start. For reverse strand annotations, this offset is relative to the exon.end `- 1`. Unset if this exon does not intersect the coding sequence. Upon creation of a transcript, the frame must be populated for all or none of the coding exons.'
        format: int32
        type: integer
        required: false
      start:
        description: 'The start position of the exon on this annotation''s reference sequence, 0-based inclusive. Note that this is relative to the reference start, and **not** the containing annotation start.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  Experiment:
    properties:
      instrumentModel:
        description: The instrument model used as part of this experiment. This maps to sequencing technology in the SAM spec.
        type: string
        required: false
      libraryId:
        description: A client-supplied library identifier; a library is a collection of DNA fragments which have been prepared for sequencing from a sample. This field is important for quality control as error or bias can be introduced during sample preparation.
        type: string
        required: false
      platformUnit:
        description: 'The platform unit used as part of this experiment, for example flowcell-barcode.lane for Illumina or slide for SOLiD. Corresponds to the @RG PU field in the SAM spec.'
        type: string
        required: false
      sequencingCenter:
        description: The sequencing center used as part of this experiment.
        type: string
        required: false
  ExportReadGroupSetRequest:
    description: The read group set export request.
    properties:
      exportUri:
        description: Required. A Google Cloud Storage URI for the exported BAM file. The currently authenticated user must have write access to the new file. An error will be returned if the URI already contains data.
        type: string
        required: false
      projectId:
        description: Required. The Google Cloud project ID that owns this export. The caller must have WRITE access to this project.
        type: string
        required: false
      referenceNames:
        description: 'The reference names to export. If this is not specified, all reference sequences, including unmapped reads, are exported. Use `*` to export only unmapped reads.'
        items:
          type: string
        type: array
        required: false
  ExportVariantSetRequest:
    description: The variant data export request.
    properties:
      bigqueryDataset:
        description: Required. The BigQuery dataset to export data to. This dataset must already exist. Note that this is distinct from the Genomics concept of "dataset".
        type: string
        required: false
      bigqueryTable:
        description: 'Required. The BigQuery table to export data to. If the table doesn''t exist, it will be created. If it already exists, it will be overwritten.'
        type: string
        required: false
      callSetIds:
        description: 'If provided, only variant call information from the specified call sets will be exported. By default all variant calls are exported.'
        items:
          type: string
        type: array
        required: false
      format:
        description: The format for the exported data.
        enum:
          - FORMAT_UNSPECIFIED
          - FORMAT_BIGQUERY
        type: string
        required: false
      projectId:
        description: Required. The Google Cloud project ID that owns the destination BigQuery dataset. The caller must have WRITE access to this project. This project will also own the resulting export job.
        type: string
        required: false
  ExternalId:
    properties:
      id:
        description: The id used by the source of this data.
        type: string
        required: false
      sourceName:
        description: The name of the source of this data.
        type: string
        required: false
  GetIamPolicyRequest:
    description: Request message for `GetIamPolicy` method.
    type: object
  ImportReadGroupSetsRequest:
    description: The read group set import request.
    properties:
      datasetId:
        description: Required. The ID of the dataset these read group sets will belong to. The caller must have WRITE permissions to this dataset.
        type: string
        required: false
      partitionStrategy:
        description: The partition strategy describes how read groups are partitioned into read group sets.
        enum:
          - PARTITION_STRATEGY_UNSPECIFIED
          - PER_FILE_PER_SAMPLE
          - MERGE_ALL
        type: string
        required: false
      referenceSetId:
        description: 'The reference set to which the imported read group sets are aligned to, if any. The reference names of this reference set must be a superset of those found in the imported file headers. If no reference set id is provided, a best effort is made to associate with a matching reference set.'
        type: string
        required: false
      sourceUris:
        description: 'A list of URIs pointing at [BAM files](https://samtools.github.io/hts-specs/SAMv1.pdf) in Google Cloud Storage.'
        items:
          type: string
        type: array
        required: false
  ImportReadGroupSetsResponse:
    description: The read group set import response.
    properties:
      readGroupSetIds:
        description: IDs of the read group sets that were created.
        items:
          type: string
        type: array
        required: false
  ImportVariantsRequest:
    description: The variant data import request.
    properties:
      format:
        description: 'The format of the variant data being imported. If unspecified, defaults to to `VCF`.'
        enum:
          - FORMAT_UNSPECIFIED
          - FORMAT_VCF
          - FORMAT_COMPLETE_GENOMICS
        type: string
        required: false
      infoMergeConfig:
        additionalProperties:
          enum:
            - INFO_MERGE_OPERATION_UNSPECIFIED
            - IGNORE_NEW
            - MOVE_TO_CALLS
          type: string
        description: A mapping between info field keys and the InfoMergeOperations to be performed on them. This is plumbed down to the MergeVariantRequests generated by the resulting import job.
        type: object
        required: false
      normalizeReferenceNames:
        description: 'Convert reference names to the canonical representation. hg19 haploytypes (those reference names containing "_hap") are not modified in any way. All other reference names are modified according to the following rules: The reference name is capitalized. The "chr" prefix is dropped for all autosomes and sex chromsomes. For example "chr17" becomes "17" and "chrX" becomes "X". All mitochondrial chromosomes ("chrM", "chrMT", etc) become "MT".'
        type: boolean
        required: false
      sourceUris:
        description: 'A list of URIs referencing variant files in Google Cloud Storage. URIs can include wildcards [as described here](https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames). Note that recursive wildcards (''**'') are not supported.'
        items:
          type: string
        type: array
        required: false
      variantSetId:
        description: Required. The variant set to which variant data should be imported.
        type: string
        required: false
  ImportVariantsResponse:
    description: The variant data import response.
    properties:
      callSetIds:
        description: IDs of the call sets created during the import.
        items:
          type: string
        type: array
        required: false
  LinearAlignment:
    description: A linear alignment can be represented by one CIGAR string. Describes the mapped position and local alignment of the read to the reference.
    properties:
      cigar:
        description: 'Represents the local alignment of this sequence (alignment matches, indels, etc) against the reference.'
        items:
          type: CigarUnit
        type: array
        required: false
      mappingQuality:
        description: 'The mapping quality of this alignment. Represents how likely the read maps to this position as opposed to other locations. Specifically, this is -10 log10 Pr(mapping position is wrong), rounded to the nearest integer.'
        format: int32
        type: integer
        required: false
      position:
        description: The position of this alignment.
        type: Position
        required: false
  ListBasesResponse:
    properties:
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results. This field will be empty if there aren''t any additional results.'
        type: string
        required: false
      offset:
        description: The offset position (0-based) of the given `sequence` from the start of this `Reference`. This value will differ for each page in a paginated request.
        format: int64
        type: string
        facets:
          format: string
        required: false
      sequence:
        description: A substring of the bases that make up this reference.
        type: string
        required: false
  ListCoverageBucketsResponse:
    properties:
      bucketWidth:
        description: 'The length of each coverage bucket in base pairs. Note that buckets at the end of a reference sequence may be shorter. This value is omitted if the bucket width is infinity (the default behaviour, with no range or `targetBucketWidth`).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      coverageBuckets:
        description: 'The coverage buckets. The list of buckets is sparse; a bucket with 0 overlapping reads is not returned. A bucket never crosses more than one reference sequence. Each bucket has width `bucketWidth`, unless its end is the end of the reference sequence.'
        items:
          type: CoverageBucket
        type: array
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results. This field will be empty if there aren''t any additional results.'
        type: string
        required: false
  ListDatasetsResponse:
    description: The dataset list response.
    properties:
      datasets:
        description: The list of matching Datasets.
        items:
          type: Dataset
        type: array
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results. This field will be empty if there aren''t any additional results.'
        type: string
        required: false
  ListOperationsResponse:
    description: The response message for Operations.ListOperations.
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
        required: false
      operations:
        description: A list of operations that matches the specified filter in the request.
        items:
          type: Operation
        type: array
        required: false
  MergeVariantsRequest:
    properties:
      infoMergeConfig:
        additionalProperties:
          enum:
            - INFO_MERGE_OPERATION_UNSPECIFIED
            - IGNORE_NEW
            - MOVE_TO_CALLS
          type: string
        description: A mapping between info field keys and the InfoMergeOperations to be performed on them.
        type: object
        required: false
      variantSetId:
        description: The destination variant set.
        type: string
        required: false
      variants:
        description: The variants to be merged with existing variants.
        items:
          type: Variant
        type: array
        required: false
  Operation:
    description: This resource represents a long-running operation that is the result of a network API call.
    properties:
      done:
        description: 'If the value is `false`, it means the operation is still in progress. If true, the operation is completed, and either `error` or `response` is available.'
        type: boolean
        required: false
      error:
        description: The error result of the operation in case of failure or cancellation.
        type: Status
        required: false
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: An OperationMetadata object. This will always be returned with the Operation.
        type: object
        required: false
      name:
        description: 'The server-assigned name, which is only unique within the same service that originally returns it. For example: `operations/CJHU7Oi_ChDrveSpBRjfuL-qzoWAgEw`'
        type: string
        required: false
      response:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: 'If importing ReadGroupSets, an ImportReadGroupSetsResponse is returned. If importing Variants, an ImportVariantsResponse is returned. For exports, an empty response is returned.'
        type: object
        required: false
  OperationEvent:
    description: An event that occurred during an Operation.
    properties:
      description:
        description: Required description of event.
        type: string
        required: false
      endTime:
        description: 'Optional time of when event finished. An event can have a start time and no finish time. If an event has a finish time, there must be a start time.'
        type: string
        required: false
      startTime:
        description: Optional time of when event started.
        type: string
        required: false
  OperationMetadata:
    description: Metadata describing an Operation.
    properties:
      clientId:
        description: This field is deprecated. Use `labels` instead. Optionally provided by the caller when submitting the request that creates the operation.
        type: string
        required: false
      createTime:
        description: The time at which the job was submitted to the Genomics service.
        type: string
        required: false
      endTime:
        description: The time at which the job stopped running.
        type: string
        required: false
      events:
        description: Optional event messages that were generated during the job's execution. This also contains any warnings that were generated during import or export.
        items:
          type: OperationEvent
        type: array
        required: false
      labels:
        additionalProperties:
          type: string
        description: Optionally provided by the caller when submitting the request that creates the operation.
        type: object
        required: false
      projectId:
        description: The Google Cloud Project in which the job is scoped.
        type: string
        required: false
      request:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: 'The original request that started the operation. Note that this will be in current version of the API. If the operation was started with v1beta2 API and a GetOperation is performed on v1 API, a v1 request will be returned.'
        type: object
        required: false
      runtimeMetadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: Runtime metadata on this Operation.
        type: object
        required: false
      startTime:
        description: The time at which the job began to run.
        type: string
        required: false
  Policy:
    description: 'Defines an Identity and Access Management (IAM) policy. It is used to specify access control policies for Cloud Platform resources. A `Policy` consists of a list of `bindings`. A `Binding` binds a list of `members` to a `role`, where the members can be user accounts, Google groups, Google domains, and service accounts. A `role` is a named list of permissions defined by IAM. **Example** { "bindings": [ { "role": "roles/owner", "members": [ "user:mike@example.com", "group:admins@example.com", "domain:google.com", "serviceAccount:my-other-app@appspot.gserviceaccount.com", ] }, { "role": "roles/viewer", "members": ["user:sean@example.com"] } ] } For a description of IAM and its features, see the [IAM developer''s guide](https://cloud.google.com/iam).'
    properties:
      bindings:
        description: Associates a list of `members` to a `role`. Multiple `bindings` must not be specified for the same `role`. `bindings` with no members will result in an error.
        items:
          type: Binding
        type: array
        required: false
      etag:
        description: '`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. If no `etag` is provided in the call to `setIamPolicy`, then the existing policy is overwritten blindly.'
        format: byte
        type: string
        facets:
          format: string
        required: false
      version:
[...]
