#%RAML 1.0
title: URL Shortener
version: v1
baseUri: 'https://www.googleapis.com/urlshortener/v1'
protocols:
  - HTTPS
description: 'Lets you create, inspect, and manage goo.gl short URLs'
(oas-tags-definition):
  - name: url
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/urlshortener/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): urlshortener
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/url-shortener/v1/getting_started'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/urlshortener'
    description: Oauth 2.0 authentication
/url:
  displayName: url
  /history:
    displayName: history
    get:
      displayName: urlshortener.url.list
      description: Retrieves a list of URLs shortened by a user.
      responses:
        '200':
          body:
            application/json:
              type: UrlHistory
          description: Successful response
      queryParameters:
        projection:
          description: Additional information to return.
          enum:
            - ANALYTICS_CLICKS
            - FULL
          type: string
          displayName: Additional information to return.
        start-token:
          description: Token for requesting successive pages of results.
          type: string
          displayName: Token for requesting successive pages of results.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/urlshortener'
      (oas-tags):
        - url
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  post:
    displayName: urlshortener.url.insert
    description: Creates a new short URL.
    body:
      application/json:
        type: Url
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Url
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/urlshortener'
    (oas-tags):
      - url
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: urlshortener.url.get
    description: Expands a short URL or gets creation time and analytics.
    responses:
      '200':
        body:
          application/json:
            type: Url
        description: Successful response
    queryParameters:
      shortUrl:
        description: 'The short URL, including the protocol.'
        required: true
        type: string
        displayName: 'The short URL, including the protocol.'
      projection:
        description: Additional information to return.
        enum:
          - ANALYTICS_CLICKS
          - ANALYTICS_TOP_STRINGS
          - FULL
        type: string
        displayName: Additional information to return.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/urlshortener'
    (oas-tags):
      - url
types:
  AnalyticsSnapshot:
    properties:
      browsers:
        description: 'Top browsers, e.g. "Chrome"; sorted by (descending) click counts. Only present if this data is available.'
        items:
          type: StringCount
        type: array
        required: false
      countries:
        description: 'Top countries (expressed as country codes), e.g. "US" or "DE"; sorted by (descending) click counts. Only present if this data is available.'
        items:
          type: StringCount
        type: array
        required: false
      longUrlClicks:
        description: Number of clicks on all goo.gl short URLs pointing to this long URL.
        format: int64
        type: string
        facets:
          format: string
        required: false
      platforms:
        description: 'Top platforms or OSes, e.g. "Windows"; sorted by (descending) click counts. Only present if this data is available.'
        items:
          type: StringCount
        type: array
        required: false
      referrers:
        description: 'Top referring hosts, e.g. "www.google.com"; sorted by (descending) click counts. Only present if this data is available.'
        items:
          type: StringCount
        type: array
        required: false
      shortUrlClicks:
        description: Number of clicks on this short URL.
        format: int64
        type: string
        facets:
          format: string
        required: false
  AnalyticsSummary:
    properties:
      allTime:
        description: Click analytics over all time.
        type: AnalyticsSnapshot
        required: false
      day:
        description: Click analytics over the last day.
        type: AnalyticsSnapshot
        required: false
      month:
        description: Click analytics over the last month.
        type: AnalyticsSnapshot
        required: false
      twoHours:
        description: Click analytics over the last two hours.
        type: AnalyticsSnapshot
        required: false
      week:
        description: Click analytics over the last week.
        type: AnalyticsSnapshot
        required: false
  StringCount:
    properties:
      count:
        description: 'Number of clicks for this top entry, e.g. for this particular country or browser.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: 'Label assigned to this top entry, e.g. "US" or "Chrome".'
        type: string
        required: false
  Url:
    properties:
      analytics:
        description: A summary of the click analytics for the short and long URL. Might not be present if not requested or currently unavailable.
        type: AnalyticsSummary
        required: false
      created:
        description: 'Time the short URL was created; ISO 8601 representation using the yyyy-MM-dd''T''HH:mm:ss.SSSZZ format, e.g. "2010-10-14T19:01:24.944+00:00".'
        type: string
        required: false
      id:
        description: 'Short URL, e.g. "http://goo.gl/l6MS".'
        type: string
        required: false
      kind:
        default: 'urlshortener#url'
        description: 'The fixed string "urlshortener#url".'
        type: string
        required: false
      longUrl:
        description: 'Long URL, e.g. "http://www.google.com/". Might not be present if the status is "REMOVED".'
        type: string
        required: false
      status:
        description: 'Status of the target URL. Possible values: "OK", "MALWARE", "PHISHING", or "REMOVED". A URL might be marked "REMOVED" if it was flagged as spam, for example.'
        type: string
        required: false
  UrlHistory:
    properties:
      items:
        description: A list of URL resources.
        items:
          type: Url
        type: array
        required: false
      itemsPerPage:
        description: Number of items returned with each full "page" of results. Note that the last page could have fewer items than the "itemsPerPage" value.
        format: int32
        type: integer
        required: false
      kind:
        default: 'urlshortener#urlHistory'
        description: 'The fixed string "urlshortener#urlHistory".'
        type: string
        required: false
      nextPageToken:
        description: A token to provide to get the next page of results.
        type: string
        required: false
      totalItems:
        description: Total number of short URLs associated with this user (may be approximate).
        format: int32
        type: integer
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
