#%RAML 1.0
title: Google Analytics
version: v3
baseUri: 'https://www.googleapis.com/analytics/v3'
protocols:
  - HTTPS
description: Views and manages your Google Analytics data.
(oas-tags-definition):
  - name: data
  - name: management
  - name: metadata
  - name: provisioning
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_analytics_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/analytics/v3/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): analytics
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/analytics/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/analytics'
        - 'https://www.googleapis.com/auth/analytics.edit'
        - 'https://www.googleapis.com/auth/analytics.manage.users'
        - 'https://www.googleapis.com/auth/analytics.manage.users.readonly'
        - 'https://www.googleapis.com/auth/analytics.provision'
        - 'https://www.googleapis.com/auth/analytics.readonly'
    description: Oauth 2.0 authentication
/management:
  displayName: management
  /accounts:
    displayName: accounts
    '/{accountId}':
      displayName: '{accountId}'
      /webproperties:
        displayName: webproperties
        '/{webPropertyId}':
          displayName: '{webPropertyId}'
          /entityUserLinks:
            displayName: entityUserLinks
            post:
              displayName: analytics.management.webpropertyUserLinks.insert
              description: Adds a new user to the given web property.
              body:
                application/json:
                  type: EntityUserLink
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: EntityUserLink
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.manage.users'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            '/{linkId}':
              displayName: '{linkId}'
              uriParameters:
                linkId:
                  description: Link ID to update the account-user link for.
                  required: true
                  type: string
              delete:
                displayName: analytics.management.webpropertyUserLinks.delete
                description: Removes a user from the given web property.
                responses:
                  '200':
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.manage.users'
                (oas-tags):
                  - management
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              put:
                displayName: analytics.management.webpropertyUserLinks.update
                description: Updates permissions for an existing user on the given web property.
                body:
                  application/json:
                    type: EntityUserLink
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: EntityUserLink
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.manage.users'
                (oas-tags):
                  - management
            get:
              displayName: analytics.management.webpropertyUserLinks.list
              description: Lists webProperty-user links for a given web property.
              responses:
                '200':
                  body:
                    application/json:
                      type: EntityUserLinks
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of webProperty-user Links to include in this response.
                  type: integer
                start-index:
                  description: An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.manage.users.readonly'
              (oas-tags):
                - management
          /profiles:
            displayName: profiles
            get:
              displayName: analytics.management.profiles.list
              description: Lists views (profiles) to which the user has access.
              responses:
                '200':
                  body:
                    application/json:
                      type: Profiles
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of views (profiles) to include in this response.
                  type: integer
                start-index:
                  description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.readonly'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            post:
              displayName: analytics.management.profiles.insert
              description: Create a new view (profile).
              body:
                application/json:
                  type: Profile
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Profile
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.edit'
              (oas-tags):
                - management
            '/{profileId}':
              displayName: '{profileId}'
              uriParameters:
                profileId:
                  description: ID of the view (profile) to be updated.
                  required: true
                  type: string
              delete:
                displayName: analytics.management.profiles.delete
                description: Deletes a view (profile).
                responses:
                  '200':
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              get:
                displayName: analytics.management.profiles.get
                description: Gets a view (profile) to which the user has access.
                responses:
                  '200':
                    body:
                      application/json:
                        type: Profile
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.readonly'
                (oas-tags):
                  - management
              patch:
                displayName: analytics.management.profiles.patch
                description: Updates an existing view (profile). This method supports patch semantics.
                body:
                  application/json:
                    type: Profile
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: Profile
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              put:
                displayName: analytics.management.profiles.update
                description: Updates an existing view (profile).
                body:
                  application/json:
                    type: Profile
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: Profile
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              /entityUserLinks:
                displayName: entityUserLinks
                get:
                  displayName: analytics.management.profileUserLinks.list
                  description: Lists profile-user links for a given view (profile).
                  responses:
                    '200':
                      body:
                        application/json:
                          type: EntityUserLinks
                      description: Successful response
                  queryParameters:
                    max-results:
                      description: The maximum number of profile-user links to include in this response.
                      type: integer
                    start-index:
                      description: An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                      minimum: 1
                      type: integer
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.manage.users.readonly'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                post:
                  displayName: analytics.management.profileUserLinks.insert
                  description: Adds a new user to the given view (profile).
                  body:
                    application/json:
                      type: EntityUserLink
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: EntityUserLink
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.manage.users'
                  (oas-tags):
                    - management
                '/{linkId}':
                  displayName: '{linkId}'
                  uriParameters:
                    linkId:
                      description: Link ID to update the user link for.
                      required: true
                      type: string
                  delete:
                    displayName: analytics.management.profileUserLinks.delete
                    description: Removes a user from the given view (profile).
                    responses:
                      '200':
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.manage.users'
                    (oas-tags):
                      - management
                  is:
                    - alt
                    - fields
                    - key
                    - oauthToken
                    - prettyPrint
                    - quotaUser
                    - userIp
                  put:
                    displayName: analytics.management.profileUserLinks.update
                    description: Updates permissions for an existing user on the given view (profile).
                    body:
                      application/json:
                        type: EntityUserLink
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: EntityUserLink
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.manage.users'
                    (oas-tags):
                      - management
              /experiments:
                displayName: experiments
                get:
                  displayName: analytics.management.experiments.list
                  description: Lists experiments to which the user has access.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Experiments
                      description: Successful response
                  queryParameters:
                    max-results:
                      description: The maximum number of experiments to include in this response.
                      type: integer
                    start-index:
                      description: An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                      minimum: 1
                      type: integer
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.readonly'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                post:
                  displayName: analytics.management.experiments.insert
                  description: Create a new experiment.
                  body:
                    application/json:
                      type: Experiment
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Experiment
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.edit'
                  (oas-tags):
                    - management
                '/{experimentId}':
                  displayName: '{experimentId}'
                  uriParameters:
                    experimentId:
                      description: Experiment ID of the experiment to update.
                      required: true
                      type: string
                  delete:
                    displayName: analytics.management.experiments.delete
                    description: Delete an experiment.
                    responses:
                      '200':
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
                  is:
                    - alt
                    - fields
                    - key
                    - oauthToken
                    - prettyPrint
                    - quotaUser
                    - userIp
                  get:
                    displayName: analytics.management.experiments.get
                    description: Returns an experiment to which the user has access.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Experiment
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.readonly'
                    (oas-tags):
                      - management
                  patch:
                    displayName: analytics.management.experiments.patch
                    description: Update an existing experiment. This method supports patch semantics.
                    body:
                      application/json:
                        type: Experiment
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Experiment
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
                  put:
                    displayName: analytics.management.experiments.update
                    description: Update an existing experiment.
                    body:
                      application/json:
                        type: Experiment
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Experiment
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
              /goals:
                displayName: goals
                get:
                  displayName: analytics.management.goals.list
                  description: Lists goals to which the user has access.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Goals
                      description: Successful response
                  queryParameters:
                    max-results:
                      description: The maximum number of goals to include in this response.
                      type: integer
                    start-index:
                      description: An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                      minimum: 1
                      type: integer
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.readonly'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                post:
                  displayName: analytics.management.goals.insert
                  description: Create a new goal.
                  body:
                    application/json:
                      type: Goal
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Goal
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.edit'
                  (oas-tags):
                    - management
                '/{goalId}':
                  displayName: '{goalId}'
                  uriParameters:
                    goalId:
                      description: Index of the goal to be updated.
                      required: true
                      type: string
                  get:
                    displayName: analytics.management.goals.get
                    description: Gets a goal to which the user has access.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Goal
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.readonly'
                    (oas-tags):
                      - management
                  is:
                    - alt
                    - fields
                    - key
                    - oauthToken
                    - prettyPrint
                    - quotaUser
                    - userIp
                  patch:
                    displayName: analytics.management.goals.patch
                    description: Updates an existing goal. This method supports patch semantics.
                    body:
                      application/json:
                        type: Goal
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Goal
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
                  put:
                    displayName: analytics.management.goals.update
                    description: Updates an existing goal.
                    body:
                      application/json:
                        type: Goal
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Goal
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
              /profileFilterLinks:
                displayName: profileFilterLinks
                get:
                  displayName: analytics.management.profileFilterLinks.list
                  description: Lists all profile filter links for a profile.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ProfileFilterLinks
                      description: Successful response
                  queryParameters:
                    max-results:
                      description: The maximum number of profile filter links to include in this response.
                      type: integer
                    start-index:
                      description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                      minimum: 1
                      type: integer
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.readonly'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                post:
                  displayName: analytics.management.profileFilterLinks.insert
                  description: Create a new profile filter link.
                  body:
                    application/json:
                      type: ProfileFilterLink
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ProfileFilterLink
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.edit'
                  (oas-tags):
                    - management
                '/{linkId}':
                  displayName: '{linkId}'
                  uriParameters:
                    linkId:
                      description: ID of the profile filter link to be updated.
                      required: true
                      type: string
                  delete:
                    displayName: analytics.management.profileFilterLinks.delete
                    description: Delete a profile filter link.
                    responses:
                      '200':
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
                  is:
                    - alt
                    - fields
                    - key
                    - oauthToken
                    - prettyPrint
                    - quotaUser
                    - userIp
                  get:
                    displayName: analytics.management.profileFilterLinks.get
                    description: Returns a single profile filter link.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ProfileFilterLink
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.readonly'
                    (oas-tags):
                      - management
                  patch:
                    displayName: analytics.management.profileFilterLinks.patch
                    description: Update an existing profile filter link. This method supports patch semantics.
                    body:
                      application/json:
                        type: ProfileFilterLink
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ProfileFilterLink
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
                  put:
                    displayName: analytics.management.profileFilterLinks.update
                    description: Update an existing profile filter link.
                    body:
                      application/json:
                        type: ProfileFilterLink
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: ProfileFilterLink
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
              /unsampledReports:
                displayName: unsampledReports
                get:
                  displayName: analytics.management.unsampledReports.list
                  description: Lists unsampled reports to which the user has access.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: UnsampledReports
                      description: Successful response
                  queryParameters:
                    max-results:
                      description: The maximum number of unsampled reports to include in this response.
                      type: integer
                    start-index:
                      description: An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                      minimum: 1
                      type: integer
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.readonly'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                post:
                  displayName: analytics.management.unsampledReports.insert
                  description: Create a new unsampled report.
                  body:
                    application/json:
                      type: UnsampledReport
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: UnsampledReport
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.edit'
                  (oas-tags):
                    - management
                '/{unsampledReportId}':
                  displayName: '{unsampledReportId}'
                  uriParameters:
                    unsampledReportId:
                      description: ID of the unsampled report to retrieve.
                      required: true
                      type: string
                  delete:
                    displayName: analytics.management.unsampledReports.delete
                    description: Deletes an unsampled report.
                    responses:
                      '200':
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.edit'
                    (oas-tags):
                      - management
                  is:
                    - alt
                    - fields
                    - key
                    - oauthToken
                    - prettyPrint
                    - quotaUser
                    - userIp
                  get:
                    displayName: analytics.management.unsampledReports.get
                    description: Returns a single unsampled report.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: UnsampledReport
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.readonly'
                    (oas-tags):
                      - management
          uriParameters:
            webPropertyId:
              description: Web property ID
              required: true
              type: string
          patch:
            displayName: analytics.management.webproperties.patch
            description: Updates an existing web property. This method supports patch semantics.
            body:
              application/json:
                type: Webproperty
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Webproperty
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.edit'
            (oas-tags):
              - management
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          /customDataSources:
            displayName: customDataSources
            get:
              displayName: analytics.management.customDataSources.list
              description: List custom data sources to which the user has access.
              responses:
                '200':
                  body:
                    application/json:
                      type: CustomDataSources
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of custom data sources to include in this response.
                  minimum: 1
                  type: integer
                start-index:
                  description: A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.readonly'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            '/{customDataSourceId}':
              displayName: '{customDataSourceId}'
              /uploads:
                displayName: uploads
                get:
                  displayName: analytics.management.uploads.list
                  description: List uploads to which the user has access.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Uploads
                      description: Successful response
                  queryParameters:
                    max-results:
                      description: The maximum number of uploads to include in this response.
                      minimum: 1
                      type: integer
                    start-index:
                      description: A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                      minimum: 1
                      type: integer
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.readonly'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                '/{uploadId}':
                  displayName: '{uploadId}'
                  uriParameters:
                    uploadId:
                      description: Upload Id to retrieve.
                      required: true
                      type: string
                  get:
                    displayName: analytics.management.uploads.get
                    description: List uploads to which the user has access.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Upload
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/analytics.readonly'
                    (oas-tags):
                      - management
                  is:
                    - alt
                    - fields
                    - key
                    - oauthToken
                    - prettyPrint
                    - quotaUser
                    - userIp
                post:
                  displayName: analytics.management.uploads.uploadData
                  description: Upload data for a custom data source.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Upload
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.edit'
                  (oas-tags):
                    - management
              /deleteUploadData:
                displayName: deleteUploadData
                post:
                  displayName: analytics.management.uploads.deleteUploadData
                  description: Delete data associated with a previous upload.
                  body:
                    application/json:
                      type: AnalyticsDataimportDeleteUploadDataRequest
                      (oas-body-name): body
                  responses:
                    '200':
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.edit'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
          /customDimensions:
            displayName: customDimensions
            post:
              displayName: analytics.management.customDimensions.insert
              description: Create a new custom dimension.
              body:
                application/json:
                  type: CustomDimension
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: CustomDimension
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.edit'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            '/{customDimensionId}':
              displayName: '{customDimensionId}'
              uriParameters:
                customDimensionId:
                  description: The ID of the custom dimension to retrieve.
                  required: true
                  type: string
              patch:
                displayName: analytics.management.customDimensions.patch
                description: Updates an existing custom dimension. This method supports patch semantics.
                body:
                  application/json:
                    type: CustomDimension
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: CustomDimension
                    description: Successful response
                queryParameters:
                  ignoreCustomDataSourceLinks:
                    default: false
                    description: Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.
                    type: boolean
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              put:
                displayName: analytics.management.customDimensions.update
                description: Updates an existing custom dimension.
                body:
                  application/json:
                    type: CustomDimension
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: CustomDimension
                    description: Successful response
                queryParameters:
                  ignoreCustomDataSourceLinks:
                    default: false
                    description: Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.
                    type: boolean
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              get:
                displayName: analytics.management.customDimensions.get
                description: Get a custom dimension to which the user has access.
                responses:
                  '200':
                    body:
                      application/json:
                        type: CustomDimension
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.readonly'
                (oas-tags):
                  - management
            get:
              displayName: analytics.management.customDimensions.list
              description: Lists custom dimensions to which the user has access.
              responses:
                '200':
                  body:
                    application/json:
                      type: CustomDimensions
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of custom dimensions to include in this response.
                  type: integer
                start-index:
                  description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.readonly'
              (oas-tags):
                - management
          /customMetrics:
            displayName: customMetrics
            get:
              displayName: analytics.management.customMetrics.list
              description: Lists custom metrics to which the user has access.
              responses:
                '200':
                  body:
                    application/json:
                      type: CustomMetrics
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of custom metrics to include in this response.
                  type: integer
                start-index:
                  description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.readonly'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            '/{customMetricId}':
              displayName: '{customMetricId}'
              uriParameters:
                customMetricId:
                  description: Custom metric ID for the custom metric to update.
                  required: true
                  type: string
              get:
                displayName: analytics.management.customMetrics.get
                description: Get a custom metric to which the user has access.
                responses:
                  '200':
                    body:
                      application/json:
                        type: CustomMetric
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.readonly'
                (oas-tags):
                  - management
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              put:
                displayName: analytics.management.customMetrics.update
                description: Updates an existing custom metric.
                body:
                  application/json:
                    type: CustomMetric
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: CustomMetric
                    description: Successful response
                queryParameters:
                  ignoreCustomDataSourceLinks:
                    default: false
                    description: Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.
                    type: boolean
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              patch:
                displayName: analytics.management.customMetrics.patch
                description: Updates an existing custom metric. This method supports patch semantics.
                body:
                  application/json:
                    type: CustomMetric
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: CustomMetric
                    description: Successful response
                queryParameters:
                  ignoreCustomDataSourceLinks:
                    default: false
                    description: Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.
                    type: boolean
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
            post:
              displayName: analytics.management.customMetrics.insert
              description: Create a new custom metric.
              body:
                application/json:
                  type: CustomMetric
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: CustomMetric
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.edit'
              (oas-tags):
                - management
          /entityAdWordsLinks:
            displayName: entityAdWordsLinks
            post:
              displayName: analytics.management.webPropertyAdWordsLinks.insert
              description: Creates a webProperty-AdWords link.
              body:
                application/json:
                  type: EntityAdWordsLink
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: EntityAdWordsLink
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.edit'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            '/{webPropertyAdWordsLinkId}':
              displayName: '{webPropertyAdWordsLinkId}'
              uriParameters:
                webPropertyAdWordsLinkId:
                  description: Web property-AdWords link ID.
                  required: true
                  type: string
              get:
                displayName: analytics.management.webPropertyAdWordsLinks.get
                description: Returns a web property-AdWords link to which the user has access.
                responses:
                  '200':
                    body:
                      application/json:
                        type: EntityAdWordsLink
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.readonly'
                (oas-tags):
                  - management
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              put:
                displayName: analytics.management.webPropertyAdWordsLinks.update
                description: Updates an existing webProperty-AdWords link.
                body:
                  application/json:
                    type: EntityAdWordsLink
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: EntityAdWordsLink
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              delete:
                displayName: analytics.management.webPropertyAdWordsLinks.delete
                description: Deletes a web property-AdWords link.
                responses:
                  '200':
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              patch:
                displayName: analytics.management.webPropertyAdWordsLinks.patch
                description: Updates an existing webProperty-AdWords link. This method supports patch semantics.
                body:
                  application/json:
                    type: EntityAdWordsLink
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: EntityAdWordsLink
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
            get:
              displayName: analytics.management.webPropertyAdWordsLinks.list
              description: Lists webProperty-AdWords links for a given web property.
              responses:
                '200':
                  body:
                    application/json:
                      type: EntityAdWordsLinks
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of webProperty-AdWords links to include in this response.
                  type: integer
                start-index:
                  description: An index of the first webProperty-AdWords link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.readonly'
              (oas-tags):
                - management
          get:
            displayName: analytics.management.webproperties.get
            description: Gets a web property to which the user has access.
            responses:
              '200':
                body:
                  application/json:
                    type: Webproperty
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.readonly'
            (oas-tags):
              - management
          /remarketingAudiences:
            displayName: remarketingAudiences
            get:
              displayName: analytics.management.remarketingAudience.list
              description: Lists remarketing audiences to which the user has access.
              responses:
                '200':
                  body:
                    application/json:
                      type: RemarketingAudiences
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of remarketing audiences to include in this response.
                  type: integer
                start-index:
                  description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
                type:
                  default: all
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.readonly'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            post:
              displayName: analytics.management.remarketingAudience.insert
              description: Creates a new remarketing audience.
              body:
                application/json:
                  type: RemarketingAudience
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: RemarketingAudience
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.edit'
              (oas-tags):
                - management
            '/{remarketingAudienceId}':
              displayName: '{remarketingAudienceId}'
              uriParameters:
                remarketingAudienceId:
                  description: The ID of the remarketing audience to update.
                  required: true
                  type: string
              get:
                displayName: analytics.management.remarketingAudience.get
                description: Gets a remarketing audience to which the user has access.
                responses:
                  '200':
                    body:
                      application/json:
                        type: RemarketingAudience
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.readonly'
                (oas-tags):
                  - management
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              put:
                displayName: analytics.management.remarketingAudience.update
                description: Updates an existing remarketing audience.
                body:
                  application/json:
                    type: RemarketingAudience
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: RemarketingAudience
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
              patch:
                displayName: analytics.management.remarketingAudience.patch
                description: Updates an existing remarketing audience. This method supports patch semantics.
                body:
                  application/json:
                    type: RemarketingAudience
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: RemarketingAudience
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/analytics.edit'
                (oas-tags):
                  - management
          put:
            displayName: analytics.management.webproperties.update
            description: Updates an existing web property.
            body:
              application/json:
                type: Webproperty
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Webproperty
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.edit'
            (oas-tags):
              - management
        post:
          displayName: analytics.management.webproperties.insert
          description: Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.
          body:
            application/json:
              type: Webproperty
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Webproperty
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/analytics.edit'
          (oas-tags):
            - management
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: analytics.management.webproperties.list
          description: Lists web properties to which the user has access.
          responses:
            '200':
              body:
                application/json:
                  type: Webproperties
              description: Successful response
          queryParameters:
            max-results:
              description: The maximum number of web properties to include in this response.
              type: integer
            start-index:
              description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
              minimum: 1
              type: integer
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/analytics.readonly'
          (oas-tags):
            - management
      /entityUserLinks:
        displayName: entityUserLinks
        post:
          displayName: analytics.management.accountUserLinks.insert
          description: Adds a new user to the given account.
          body:
            application/json:
              type: EntityUserLink
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: EntityUserLink
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/analytics.manage.users'
          (oas-tags):
            - management
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{linkId}':
          displayName: '{linkId}'
          uriParameters:
            linkId:
              description: Link ID to delete the user link for.
              required: true
              type: string
          put:
            displayName: analytics.management.accountUserLinks.update
            description: Updates permissions for an existing user on the given account.
            body:
              application/json:
                type: EntityUserLink
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: EntityUserLink
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.manage.users'
            (oas-tags):
              - management
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          delete:
            displayName: analytics.management.accountUserLinks.delete
            description: Removes a user from the given account.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.manage.users'
            (oas-tags):
              - management
        get:
          displayName: analytics.management.accountUserLinks.list
          description: Lists account-user links for a given account.
          responses:
            '200':
              body:
                application/json:
                  type: EntityUserLinks
              description: Successful response
          queryParameters:
            max-results:
              description: The maximum number of account-user links to include in this response.
              type: integer
            start-index:
              description: An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
              minimum: 1
              type: integer
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/analytics.manage.users.readonly'
          (oas-tags):
            - management
      /filters:
        displayName: filters
        post:
          displayName: analytics.management.filters.insert
          description: Create a new filter.
          body:
            application/json:
              type: Filter
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Filter
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/analytics.edit'
          (oas-tags):
            - management
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{filterId}':
          displayName: '{filterId}'
          uriParameters:
            filterId:
              description: ID of the filter to be deleted.
              required: true
              type: string
          get:
            displayName: analytics.management.filters.get
            description: Returns a filters to which the user has access.
            responses:
              '200':
                body:
                  application/json:
                    type: Filter
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.readonly'
            (oas-tags):
              - management
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          put:
            displayName: analytics.management.filters.update
            description: Updates an existing filter.
            body:
              application/json:
                type: Filter
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Filter
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.edit'
            (oas-tags):
              - management
          patch:
            displayName: analytics.management.filters.patch
            description: Updates an existing filter. This method supports patch semantics.
            body:
              application/json:
                type: Filter
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Filter
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.edit'
            (oas-tags):
              - management
          delete:
            displayName: analytics.management.filters.delete
            description: Delete a filter.
            responses:
              '200':
                body:
                  application/json:
                    type: Filter
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/analytics.edit'
            (oas-tags):
              - management
        get:
          displayName: analytics.management.filters.list
          description: Lists all filters for an account
          responses:
            '200':
              body:
                application/json:
                  type: Filters
              description: Successful response
          queryParameters:
            max-results:
              description: The maximum number of filters to include in this response.
              type: integer
            start-index:
              description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
              minimum: 1
              type: integer
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/analytics.readonly'
          (oas-tags):
            - management
    get:
      displayName: analytics.management.accounts.list
      description: Lists all accounts to which the user has access.
      responses:
        '200':
          body:
            application/json:
              type: Accounts
          description: Successful response
      queryParameters:
        max-results:
          description: The maximum number of accounts to include in this response.
          type: integer
        start-index:
          description: An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          minimum: 1
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - management
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /segments:
    displayName: segments
    get:
      displayName: analytics.management.segments.list
      description: Lists segments to which the user has access.
      responses:
        '200':
          body:
            application/json:
              type: Segments
          description: Successful response
      queryParameters:
        max-results:
          description: The maximum number of segments to include in this response.
          type: integer
        start-index:
          description: An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          minimum: 1
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - management
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /accountSummaries:
    displayName: accountSummaries
    get:
      displayName: analytics.management.accountSummaries.list
      description: Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.
      responses:
        '200':
          body:
            application/json:
              type: AccountSummaries
          description: Successful response
      queryParameters:
        max-results:
          description: 'The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.'
          type: integer
        start-index:
          description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          minimum: 1
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - management
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/provisioning:
  displayName: provisioning
  /createAccountTicket:
    displayName: createAccountTicket
    post:
      displayName: analytics.provisioning.createAccountTicket
      description: Creates an account ticket.
      body:
        application/json:
          type: AccountTicket
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AccountTicket
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.provision'
      (oas-tags):
        - provisioning
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/data:
  displayName: data
  /ga:
    displayName: ga
    get:
      displayName: analytics.data.ga.get
      description: Returns Analytics data for a view (profile).
      responses:
        '200':
          body:
            application/json:
              type: GaData
          description: Successful response
      queryParameters:
        ids:
          description: 'Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.'
          required: true
          type: string
        start-date:
          description: 'Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.'
          required: true
          type: string
        end-date:
          description: 'End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.'
          required: true
          type: string
        metrics:
          description: 'A comma-separated list of Analytics metrics. E.g., ''ga:sessions,ga:pageviews''. At least one metric must be specified.'
          required: true
          type: string
        dimensions:
          description: 'A comma-separated list of Analytics dimensions. E.g., ''ga:browser,ga:city''.'
          type: string
        filters:
          description: A comma-separated list of dimension or metric filters to be applied to Analytics data.
          type: string
        include-empty-rows:
          description: 'The response will include empty rows if this parameter is set to true, the default is true'
          type: boolean
        max-results:
          description: The maximum number of entries to include in this feed.
          type: integer
        output:
          description: The selected format for the response. Default format is JSON.
          enum:
            - dataTable
            - json
          type: string
        samplingLevel:
          description: The desired sampling level.
          enum:
            - DEFAULT
            - FASTER
            - HIGHER_PRECISION
          type: string
        segment:
          description: An Analytics segment to be applied to data.
          type: string
        sort:
          description: A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.
          type: string
        start-index:
          description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          minimum: 1
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - data
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /realtime:
    displayName: realtime
    get:
      displayName: analytics.data.realtime.get
      description: Returns real time data for a view (profile).
      responses:
        '200':
          body:
            application/json:
              type: RealtimeData
          description: Successful response
      queryParameters:
        ids:
          description: 'Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.'
          required: true
          type: string
        metrics:
          description: 'A comma-separated list of real time metrics. E.g., ''rt:activeUsers''. At least one metric must be specified.'
          required: true
          type: string
        dimensions:
          description: 'A comma-separated list of real time dimensions. E.g., ''rt:medium,rt:city''.'
          type: string
        filters:
          description: A comma-separated list of dimension or metric filters to be applied to real time data.
          type: string
        max-results:
          description: The maximum number of entries to include in this feed.
          type: integer
        sort:
          description: A comma-separated list of dimensions or metrics that determine the sort order for real time data.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - data
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /mcf:
    displayName: mcf
    get:
      displayName: analytics.data.mcf.get
      description: Returns Analytics Multi-Channel Funnels data for a view (profile).
      responses:
        '200':
          body:
            application/json:
              type: McfData
          description: Successful response
      queryParameters:
        ids:
          description: 'Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.'
          required: true
          type: string
        start-date:
          description: 'Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.'
          required: true
          type: string
        end-date:
          description: 'End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.'
          required: true
          type: string
        metrics:
          description: 'A comma-separated list of Multi-Channel Funnels metrics. E.g., ''mcf:totalConversions,mcf:totalConversionValue''. At least one metric must be specified.'
          required: true
          type: string
        dimensions:
          description: 'A comma-separated list of Multi-Channel Funnels dimensions. E.g., ''mcf:source,mcf:medium''.'
          type: string
        filters:
          description: A comma-separated list of dimension or metric filters to be applied to the Analytics data.
          type: string
        max-results:
          description: The maximum number of entries to include in this feed.
          type: integer
        samplingLevel:
          description: The desired sampling level.
          enum:
            - DEFAULT
            - FASTER
            - HIGHER_PRECISION
          type: string
        sort:
          description: A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.
          type: string
        start-index:
          description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          minimum: 1
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - data
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/metadata:
  displayName: metadata
  '/{reportType}':
    displayName: '{reportType}'
    /columns:
      displayName: columns
      get:
        displayName: analytics.metadata.columns.list
        description: Lists all columns for a report type
        responses:
          '200':
            body:
              application/json:
                type: Columns
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/analytics.readonly'
        (oas-tags):
          - metadata
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
types:
  Account:
    description: JSON template for Analytics account entry.
    properties:
      childLink:
        description: Child link for an account entry. Points to the list of web properties for this account.
        properties:
          href:
            description: Link to the list of web properties for this account.
            type: string
            required: false
          type:
            default: 'analytics#webproperties'
            description: 'Type of the child link. Its value is "analytics#webproperties".'
            type: string
            required: false
        type: object
        required: false
      created:
        description: Time the account was created.
        format: rfc3339
        type: datetime
        required: false
      id:
        description: Account ID.
        type: string
        required: false
      kind:
        default: 'analytics#account'
        description: Resource type for Analytics account.
        type: string
        required: false
      name:
        description: Account name.
        type: string
        required: false
      permissions:
        description: Permissions the user has for this account.
        properties:
          effective:
            description: 'All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).'
            items:
              type: string
            readOnly: true
            type: array
            facets:
              readOnly?: boolean
            required: false
        type: object
        required: false
      selfLink:
        description: Link for this account.
        type: string
        required: false
      starred:
        description: Indicates whether this account is starred or not.
        type: boolean
        required: false
      updated:
        description: Time the account was last modified.
        format: rfc3339
        type: datetime
        required: false
  AccountRef:
    description: JSON template for a linked account.
    properties:
      href:
        description: Link for this account.
        type: string
        required: false
      id:
        description: Account ID.
        type: string
        required: false
      kind:
        default: 'analytics#accountRef'
        description: Analytics account reference.
        type: string
        required: false
      name:
        description: Account name.
        type: string
        required: false
  AccountSummaries:
    description: 'An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.'
    properties:
      items:
        description: A list of AccountSummaries.
        items:
          type: AccountSummary
        type: array
        required: false
      itemsPerPage:
        description: 'The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.'
        format: int32
        type: integer
        required: false
      kind:
        default: 'analytics#accountSummaries'
        description: Collection type.
        type: string
        required: false
      nextLink:
        description: Link to next page for this AccountSummary collection.
        type: string
        required: false
      previousLink:
        description: Link to previous page for this AccountSummary collection.
        type: string
        required: false
      startIndex:
        description: 'The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.'
        format: int32
        type: integer
        required: false
      totalResults:
        description: 'The total number of results for the query, regardless of the number of results in the response.'
        format: int32
        type: integer
        required: false
      username:
        description: Email ID of the authenticated user
        type: string
        required: false
  AccountSummary:
    description: JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles.
    properties:
      id:
        description: Account ID.
        type: string
        required: false
      kind:
        default: 'analytics#accountSummary'
        description: Resource type for Analytics AccountSummary.
        type: string
        required: false
      name:
        description: Account name.
        type: string
        required: false
      starred:
        description: Indicates whether this account is starred or not.
        type: boolean
        required: false
      webProperties:
        description: List of web properties under this account.
        items:
          type: WebPropertySummary
        type: array
        required: false
  AccountTicket:
    description: 'JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile.'
    properties:
      account:
        description: Account for this ticket.
        type: Account
        required: false
      id:
        description: Account ticket ID used to access the account ticket.
        type: string
        required: false
      kind:
        default: 'analytics#accountTicket'
        description: Resource type for account ticket.
        type: string
        required: false
      profile:
        description: View (Profile) for the account.
        type: Profile
        required: false
      redirectUri:
        description: Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL.
        type: string
        required: false
      webproperty:
        description: Web property for the account.
        type: Webproperty
        required: false
  Accounts:
    description: An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.
    properties:
      items:
        description: A list of accounts.
        items:
          type: Account
        type: array
        required: false
      itemsPerPage:
        description: 'The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.'
        format: int32
        type: integer
        required: false
      kind:
        default: 'analytics#accounts'
        description: Collection type.
        type: string
        required: false
      nextLink:
        description: Next link for this account collection.
        type: string
        required: false
      previousLink:
        description: Previous link for this account collection.
        type: string
        required: false
      startIndex:
        description: 'The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.'
        format: int32
        type: integer
        required: false
      totalResults:
        description: 'The total number of results for the query, regardless of the number of results in the response.'
        format: int32
        type: integer
        required: false
      username:
        description: Email ID of the authenticated user
        type: string
        required: false
  AdWordsAccount:
    description: JSON template for an AdWords account.
    properties:
      autoTaggingEnabled:
        description: True if auto-tagging is enabled on the AdWords account. Read-only after the insert operation.
        type: boolean
        required: false
      customerId:
        description: Customer ID. This field is required when creating an AdWords link.
        type: string
        required: false
      kind:
        default: 'analytics#adWordsAccount'
        description: Resource type for AdWords account.
        type: string
        required: false
  AnalyticsDataimportDeleteUploadDataRequest:
    description: Request template for the delete upload data request.
    properties:
      customDataImportUids:
        description: A list of upload UIDs.
        items:
          type: string
        type: array
        required: false
  Column:
    description: JSON template for a metadata column.
    properties:
      attributes:
        additionalProperties:
          description: The name of the attribute.
          type: string
        description: Map of attribute name and value for this column.
        type: object
        required: false
      id:
        description: Column id.
        type: string
        required: false
      kind:
        default: 'analytics#column'
        description: Resource type for Analytics column.
        type: string
        required: false
  Columns:
    description: Lists columns (dimensions and metrics) for a particular report type.
    properties:
      attributeNames:
        description: List of attributes names returned by columns.
        items:
          type: string
        type: array
        required: false
      etag:
        description: Etag of collection. This etag can be compared with the last response etag to check if response has changed.
        type: string
        required: false
      items:
        description: List of columns for a report type.
        items:
          type: Column
        type: array
        required: false
      kind:
        default: 'analytics#columns'
        description: Collection type.
        type: string
        required: false
      totalResults:
        description: Total number of columns returned in the response.
        format: int32
        type: integer
        required: false
  CustomDataSource:
    description: JSON template for an Analytics custom data source.
    properties:
      accountId:
        description: Account ID to which this custom data source belongs.
        type: string
        required: false
      childLink:
        properties:
          href:
            description: Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source.
            type: string
            required: false
          type:
            description: 'Value is "analytics#dailyUploads". Value is "analytics#uploads".'
            type: string
            required: false
        type: object
        required: false
      created:
        description: Time this custom data source was created.
        format: rfc3339
        type: datetime
        required: false
      description:
        description: Description of custom data source.
        type: string
        required: false
      id:
        description: Custom data source ID.
        type: string
        required: false
      importBehavior:
        type: string
        required: false
      kind:
        default: 'analytics#customDataSource'
        description: Resource type for Analytics custom data source.
        type: string
        required: false
      name:
        description: Name of this custom data source.
        type: string
        required: false
      parentLink:
        description: Parent link for this custom data source. Points to the web property to which this custom data source belongs.
        properties:
          href:
            description: Link to the web property to which this custom data source belongs.
            type: string
            required: false
          type:
            default: 'analytics#webproperty'
            description: 'Value is "analytics#webproperty".'
            type: string
            required: false
        type: object
        required: false
      profilesLinked:
        description: IDs of views (profiles) linked to the custom data source.
        items:
          type: string
        type: array
        required: false
      selfLink:
        description: Link for this Analytics custom data source.
        type: string
        required: false
      type:
        description: Type of the custom data source.
        type: string
        required: false
      updated:
        description: Time this custom data source was last modified.
        format: rfc3339
        type: datetime
        required: false
      uploadType:
        type: string
        required: false
      webPropertyId:
        description: Web property ID of the form UA-XXXXX-YY to which this custom data source belongs.
        type: string
        required: false
  CustomDataSources:
    description: Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.
    properties:
      items:
        description: Collection of custom data sources.
        items:
          type: CustomDataSource
        type: array
        required: false
      itemsPerPage:
        description: 'The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.'
        format: int32
        type: integer
        required: false
      kind:
        default: 'analytics#customDataSources'
        description: Collection type.
        type: string
        required: false
      nextLink:
        description: Link to next page for this custom data source collection.
        type: string
        required: false
      previousLink:
        description: Link to previous page for this custom data source collection.
        type: string
        required: false
      startIndex:
        description: 'The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.'
        format: int32
        type: integer
        required: false
      totalResults:
        description: 'The total number of results for the query, regardless of the number of results in the response.'
        format: int32
        type: integer
        required: false
      username:
        description: Email ID of the authenticated user
        type: string
        required: false
  CustomDimension:
    description: JSON template for Analytics Custom Dimension.
    properties:
      accountId:
        description: Account ID.
        type: string
        required: false
      active:
        description: Boolean indicating whether the custom dimension is active.
        type: boolean
        required: false
      created:
        description: Time the custom dimension was created.
        format: rfc3339
        readOnly: true
        type: datetime
        facets:
          readOnly?: boolean
        required: false
      id:
        description: Custom dimension ID.
        type: string
        required: false
      index:
        description: Index of the custom dimension.
        format: int32
        readOnly: true
        type: integer
        facets:
          readOnly?: boolean
        required: false
      kind:
[...]
