#%RAML 1.0
title: Google Storage Transfer
version: v1
baseUri: 'https://storagetransfer.googleapis.com/'
protocols:
  - HTTPS
description: Transfers data from external data sources to a Google Cloud Storage bucket or between Google Cloud Storage buckets.
(oas-tags-definition):
  - name: googleServiceAccounts
  - name: v1
  - name: transferJobs
  - name: transferOperations
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-x-hasEquivalentPaths: any
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/storagetransfer/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): storagetransfer
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://cloud.google.com/storage/transfer'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/cloud-platform'
    description: Oauth 2.0 authentication
/v1:
  displayName: v1
  '/{name}':
    displayName: '{name}'
    uriParameters:
      name:
        description: The value `transferOperations`.
        required: true
        type: string
        displayName: The value `transferOperations`.
    delete:
      displayName: storagetransfer.transferOperations.delete
      description: This method is not supported and the server returns `UNIMPLEMENTED`.
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferOperations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    get:
      displayName: storagetransfer.transferOperations.list
      description: 'Lists operations that match the specified filter in the request. If the server doesn''t support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding below allows API services to override the binding to use different resource name schemes, such as `users/*/operations`.'
      responses:
        '200':
          body:
            application/json:
              type: ListOperationsResponse
          description: Successful response
      queryParameters:
        filter:
          description: The standard list filter.
          type: string
          displayName: The standard list filter.
        pageSize:
          description: The standard list page size.
          type: integer
          displayName: The standard list page size.
        pageToken:
          description: The standard list page token.
          type: string
          displayName: The standard list page token.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferOperations
  /googleServiceAccounts:
    displayName: googleServiceAccounts
    '/{projectId}':
      displayName: '{projectId}'
      uriParameters:
        projectId:
          description: The ID of the Google Developers Console project that the Google service account is associated with. Required.
          required: true
          type: string
          displayName: The ID of the Google Developers Console project that the Google service account is associated with. Required.
      get:
        displayName: storagetransfer.googleServiceAccounts.get
        description: Returns the Google service account that is used by Storage Transfer Service to access buckets in the project where transfers run or in other projects. Each Google service account is associated with one Google Developers Console project. Users should add this service account to the Google Cloud Storage bucket ACLs to grant access to Storage Transfer Service. This service account is created and owned by Storage Transfer Service and can only be used by Storage Transfer Service.
        responses:
          '200':
            body:
              application/json:
                type: GoogleServiceAccount
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform'
        (oas-tags):
          - googleServiceAccounts
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
  '/{name}:resume':
    displayName: '{name}:resume'
    uriParameters:
      name:
        description: The name of the transfer operation. Required.
        required: true
        type: string
        displayName: The name of the transfer operation. Required.
    post:
      displayName: storagetransfer.transferOperations.resume
      description: Resumes a transfer operation that is paused.
      body:
        application/json:
          type: ResumeTransferOperationRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferOperations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/{name}:pause':
    displayName: '{name}:pause'
    uriParameters:
      name:
        description: The name of the transfer operation. Required.
        required: true
        type: string
        displayName: The name of the transfer operation. Required.
    post:
      displayName: storagetransfer.transferOperations.pause
      description: Pauses a transfer operation.
      body:
        application/json:
          type: PauseTransferOperationRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferOperations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/{name}:cancel':
    displayName: '{name}:cancel'
    uriParameters:
      name:
        description: The name of the operation resource to be cancelled.
        required: true
        type: string
        displayName: The name of the operation resource to be cancelled.
    post:
      displayName: storagetransfer.transferOperations.cancel
      description: Cancels a transfer. Use the get method to check whether the cancellation succeeded or whether the operation completed despite cancellation.
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferOperations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  /transferJobs:
    displayName: transferJobs
    get:
      displayName: storagetransfer.transferJobs.list
      description: Lists transfer jobs.
      responses:
        '200':
          body:
            application/json:
              type: ListTransferJobsResponse
          description: Successful response
      queryParameters:
        filter:
          description: 'A list of query parameters specified as JSON text in the form of {"`project_id`":"my_project_id", "`job_names`":["jobid1","jobid2",...], "`job_statuses`":["status1","status2",...]}. Since `job_names` and `job_statuses` support multiple values, their values must be specified with array notation. `project_id` is required. `job_names` and `job_statuses` are optional. The valid values for `job_statuses` are case-insensitive: `ENABLED`, `DISABLED`, and `DELETED`.'
          type: string
          displayName: 'A list of query parameters specified as JSON text in the form of {"`project_id`":"my_project_id", "`job_names`":["jobid1","jobid2",...], "`job_statuses`":["status1","status2",...]}. Since `job_names` and `job_statuses` support multiple values, their values must be specified with array notation. `project_id` is required. `job_names` and `job_statuses` are optional. The valid values for `job_statuses` are case-insensitive: `ENABLED`, `DISABLED`, and `DELETED`.'
        pageSize:
          description: The list page size. The max allowed value is 256.
          type: integer
          displayName: The list page size. The max allowed value is 256.
        pageToken:
          description: The list page token.
          type: string
          displayName: The list page token.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferJobs
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    post:
      displayName: storagetransfer.transferJobs.create
      description: Creates a transfer job that runs periodically.
      body:
        application/json:
          type: TransferJob
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: TransferJob
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferJobs
  '/{jobName}':
    displayName: '{jobName}'
    uriParameters:
      jobName:
        description: The job to get. Required.
        required: true
        type: string
        displayName: The job to get. Required.
    patch:
      displayName: storagetransfer.transferJobs.patch
      description: Updates a transfer job. Updating a job's transfer spec does not affect transfer operations that are running already. Updating the scheduling of a job is not allowed.
      body:
        application/json:
          type: UpdateTransferJobRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: TransferJob
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferJobs
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    get:
      displayName: storagetransfer.transferJobs.get
      description: Gets a transfer job.
      responses:
        '200':
          body:
            application/json:
              type: TransferJob
          description: Successful response
      queryParameters:
        projectId:
          description: The ID of the Google Developers Console project that owns the job. Required.
          type: string
          displayName: The ID of the Google Developers Console project that owns the job. Required.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - transferJobs
'/v1:getGoogleServiceAccount':
  displayName: 'v1:getGoogleServiceAccount'
  get:
    displayName: storagetransfer.getGoogleServiceAccount
    description: Returns the Google service account that is used by Storage Transfer Service to access buckets in the project where transfers run or in other projects. Each Google service account is associated with one Google Developers Console project. Users should add this service account to the Google Cloud Storage bucket ACLs to grant access to Storage Transfer Service. This service account is created and owned by Storage Transfer Service and can only be used by Storage Transfer Service.
    responses:
      '200':
        body:
          application/json:
            type: GoogleServiceAccount
        description: Successful response
    queryParameters:
      projectId:
        description: The ID of the Google Developers Console project that the Google service account is associated with. Required.
        type: string
        displayName: The ID of the Google Developers Console project that the Google service account is associated with. Required.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/cloud-platform'
    (oas-tags):
      - v1
  is:
    - accessToken
    - alt
    - bearerToken
    - callback
    - fields
    - key
    - oauthToken
    - pp
    - prettyPrint
    - quotaUser
    - uploadProtocol
    - uploadType
    - xgafv
types:
  AwsAccessKey:
    description: 'AWS access key (see [AWS Security Credentials](http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html)).'
    properties:
      accessKeyId:
        description: AWS access key ID. Required.
        type: string
        required: false
      secretAccessKey:
        description: AWS secret access key. This field is not returned in RPC responses. Required.
        type: string
        required: false
  AwsS3Data:
    description: 'An AwsS3Data can be a data source, but not a data sink. In an AwsS3Data, an object''s name is the S3 object''s key name.'
    properties:
      awsAccessKey:
        description: AWS access key used to sign the API requests to the AWS S3 bucket. Permissions on the bucket must be granted to the access ID of the AWS access key. Required.
        type: AwsAccessKey
        required: false
      bucketName:
        description: 'S3 Bucket name (see [Creating a bucket](http://docs.aws.amazon.com/AmazonS3/latest/dev/create-bucket-get-location-example.html)). Required.'
        type: string
        required: false
  Date:
    description: 'Represents a whole calendar date, e.g. date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. The day may be 0 to represent a year and month where the day is not significant, e.g. credit card expiration date. The year may be 0 to represent a month and day independent of year, e.g. anniversary date. Related types are [google.type.TimeOfDay][google.type.TimeOfDay] and `google.protobuf.Timestamp`.'
    properties:
      day:
        description: 'Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year/month where the day is not sigificant.'
        format: int32
        type: integer
        required: false
      month:
        description: Month of year of date. Must be from 1 to 12.
        format: int32
        type: integer
        required: false
      year:
        description: 'Year of date. Must be from 1 to 9,999, or 0 if specifying a date without a year.'
        format: int32
        type: integer
        required: false
  Empty:
    description: 'A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.'
    type: object
  ErrorLogEntry:
    description: An entry describing an error that has occurred.
    properties:
      errorDetails:
        description: A list of messages that carry the error details.
        items:
          type: string
        type: array
        required: false
      url:
        description: 'A URL that refers to the target (a data source, a data sink, or an object) with which the error is associated. Required.'
        type: string
        required: false
  ErrorSummary:
    description: 'A summary of errors by error code, plus a count and sample error log entries.'
    properties:
      errorCode:
        description: Required.
        enum:
          - OK
          - CANCELLED
          - UNKNOWN
          - INVALID_ARGUMENT
          - DEADLINE_EXCEEDED
          - NOT_FOUND
          - ALREADY_EXISTS
          - PERMISSION_DENIED
          - UNAUTHENTICATED
          - RESOURCE_EXHAUSTED
          - FAILED_PRECONDITION
          - ABORTED
          - OUT_OF_RANGE
          - UNIMPLEMENTED
          - INTERNAL
          - UNAVAILABLE
          - DATA_LOSS
        type: string
        required: false
      errorCount:
        description: Count of this type of error. Required.
        format: int64
        type: string
        facets:
          format: string
        required: false
      errorLogEntries:
        description: Error samples.
        items:
          type: ErrorLogEntry
        type: array
        required: false
  GcsData:
    description: 'In a GcsData, an object''s name is the Google Cloud Storage object''s name and its `lastModificationTime` refers to the object''s updated time, which changes when the content or the metadata of the object is updated.'
    properties:
      bucketName:
        description: 'Google Cloud Storage bucket name (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Required.'
        type: string
        required: false
  GoogleServiceAccount:
    description: Google service account
    properties:
      accountEmail:
        description: Required.
        type: string
        required: false
  HttpData:
    description: 'An HttpData specifies a list of objects on the web to be transferred over HTTP. The information of the objects to be transferred is contained in a file referenced by a URL. The first line in the file must be "TsvHttpData-1.0", which specifies the format of the file. Subsequent lines specify the information of the list of objects, one object per list entry. Each entry has the following tab-delimited fields: * HTTP URL * Length * MD5 - This field is a base64-encoded MD5 hash of the object An HTTP URL that points to the object to be transferred. It must be a valid URL with URL scheme HTTP or HTTPS. When an object with URL `http(s)://hostname:port/` is transferred to the data sink, the name of the object at the data sink is `/`. Length and MD5 provide the size and the base64-encoded MD5 hash of the object. If Length does not match the actual length of the object fetched, the object will not be transferred. If MD5 does not match the MD5 computed from the transferred bytes, the object transfer will fail. `lastModificationTime` is not available in HttpData objects. The objects that the URL list points to must allow public access. Storage Transfer Service obeys `robots.txt` rules and requires the HTTP server to support Range requests and to return a Content-Length header in each response.'
    properties:
      listUrl:
        description: 'The URL that points to the file that stores the object list entries. This file must allow public access. Currently, only URLs with HTTP and HTTPS schemes are supported. Required.'
        type: string
        required: false
  ListOperationsResponse:
    description: 'The response message for [Operations.ListOperations][google.longrunning.Operations.ListOperations].'
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
        required: false
      operations:
        description: A list of operations that matches the specified filter in the request.
        items:
          type: Operation
        type: array
        required: false
  ListTransferJobsResponse:
    description: Response from ListTransferJobs.
    properties:
      nextPageToken:
        description: The list next page token.
        type: string
        required: false
      transferJobs:
        description: A list of transfer jobs.
        items:
          type: TransferJob
        type: array
        required: false
  ObjectConditions:
    description: Conditions that determine which objects will be transferred.
    properties:
      excludePrefixes:
        description: '`excludePrefixes` must follow the requirements described for `includePrefixes`. The max size of `excludePrefixes` is 20.'
        items:
          type: string
        type: array
        required: false
      includePrefixes:
        description: 'If `includePrefixes` is specified, objects that satisfy the object conditions must have names that start with one of the `includePrefixes` and that do not start with any of the `excludePrefixes`. If `includePrefixes` is not specified, all objects except those that have names starting with one of the `excludePrefixes` must satisfy the object conditions. Requirements: * Each include-prefix and exclude-prefix can contain any sequence of Unicode characters, of max length 1024 bytes when UTF8-encoded, and must not contain Carriage Return or Line Feed characters. Wildcard matching and regular expression matching are not supported. * None of the include-prefix or the exclude-prefix values can be empty, if specified. * Each include-prefix must include a distinct portion of the object namespace, i.e., no include-prefix may be a prefix of another include-prefix. * Each exclude-prefix must exclude a distinct portion of the object namespace, i.e., no exclude-prefix may be a prefix of another exclude-prefix. * If `includePrefixes` is specified, then each exclude-prefix must start with the value of a path explicitly included by `includePrefixes`. The max size of `includePrefixes` is 20.'
        items:
          type: string
        type: array
        required: false
      maxTimeElapsedSinceLastModification:
        description: '`maxTimeElapsedSinceLastModification` is the complement to `minTimeElapsedSinceLastModification`.'
        type: string
        required: false
      minTimeElapsedSinceLastModification:
        description: 'If unspecified, `minTimeElapsedSinceLastModification` takes a zero value and `maxTimeElapsedSinceLastModification` takes the maximum possible value of Duration. Objects that satisfy the object conditions must either have a `lastModificationTime` greater or equal to `NOW` - `maxTimeElapsedSinceLastModification` and less than `NOW` - `minTimeElapsedSinceLastModification`, or not have a `lastModificationTime`.'
        type: string
        required: false
  Operation:
    description: This resource represents a long-running operation that is the result of a network API call.
    properties:
      done:
        description: 'If the value is `false`, it means the operation is still in progress. If true, the operation is completed and the `result` is available.'
        type: boolean
        required: false
      error:
        description: The error result of the operation in case of failure.
        type: Status
        required: false
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @ype with type URL.
        description: Represents the transfer operation object.
        type: object
        required: false
      name:
        description: 'The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping above, the `name` should have the format of `operations/some/unique/name`.'
        type: string
        required: false
      response:
        additionalProperties:
          description: Properties of the object. Contains field @ype with type URL.
        description: 'The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.'
        type: object
        required: false
  PauseTransferOperationRequest:
    description: Request passed to PauseTransferOperation.
    type: object
  ResumeTransferOperationRequest:
    description: Request passed to ResumeTransferOperation.
    type: object
  Schedule:
    description: Transfers can be scheduled to recur or to run just once.
    properties:
      scheduleEndDate:
        description: 'The last day the recurring transfer will be run. If `scheduleEndDate` is the same as `scheduleStartDate`, the transfer will be executed only once.'
        type: Date
        required: false
      scheduleStartDate:
        description: The first day the recurring transfer is scheduled to run. Required.
        type: Date
        required: false
      startTimeOfDay:
        description: 'The time in UTC at which the transfer will be scheduled to start in a day. Transfers may start later than this time. If not specified, transfers are scheduled to start at midnight UTC.'
        type: TimeOfDay
        required: false
  Status:
    description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of [google.rpc.Code][google.rpc.Code], but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.'
    properties:
      code:
        description: 'The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].'
        format: int32
        type: integer
        required: false
      details:
        description: A list of messages that carry the error details. There will be a common set of message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @ype with type URL.
          type: object
        type: array
        required: false
      message:
        description: 'A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
        type: string
        required: false
  TimeOfDay:
    description: 'Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may chose to allow leap seconds. Related types are [google.type.Date][google.type.Date] and `google.protobuf.Timestamp`.'
    properties:
      hours:
        description: 'Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value "24:00:00" for scenarios like business closing time.'
        format: int32
        type: integer
        required: false
      minutes:
        description: Minutes of hour of day. Must be from 0 to 59.
        format: int32
        type: integer
        required: false
      nanos:
        description: 'Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.'
        format: int32
        type: integer
        required: false
      seconds:
        description: Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.
        format: int32
        type: integer
        required: false
  TransferCounters:
    description: A collection of counters that report the progress of a transfer operation.
    properties:
      bytesCopiedToSink:
        description: Bytes that are copied to the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
      bytesDeletedFromSink:
        description: Bytes that are deleted from the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
      bytesDeletedFromSource:
        description: Bytes that are deleted from the data source.
        format: int64
        type: string
        facets:
          format: string
        required: false
      bytesFailedToDeleteFromSink:
        description: Bytes that failed to be deleted from the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
      bytesFoundFromSource:
        description: 'Bytes found in the data source that are scheduled to be transferred, which will be copied, excluded based on conditions, or skipped due to failures.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      bytesFoundOnlyFromSink:
        description: Bytes found only in the data sink that are scheduled to be deleted.
        format: int64
        type: string
        facets:
          format: string
        required: false
      bytesFromSourceFailed:
        description: Bytes in the data source that failed during the transfer.
        format: int64
        type: string
        facets:
          format: string
        required: false
      bytesFromSourceSkippedBySync:
        description: Bytes in the data source that are not transferred because they already exist in the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsCopiedToSink:
        description: Objects that are copied to the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsDeletedFromSink:
        description: Objects that are deleted from the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsDeletedFromSource:
        description: Objects that are deleted from the data source.
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsFailedToDeleteFromSink:
        description: Objects that failed to be deleted from the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsFoundFromSource:
        description: 'Objects found in the data source that are scheduled to be transferred, which will be copied, excluded based on conditions, or skipped due to failures.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsFoundOnlyFromSink:
        description: Objects found only in the data sink that are scheduled to be deleted.
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsFromSourceFailed:
        description: Objects in the data source that failed during the transfer.
        format: int64
        type: string
        facets:
          format: string
        required: false
      objectsFromSourceSkippedBySync:
        description: Objects in the data source that are not transferred because they already exist in the data sink.
        format: int64
        type: string
        facets:
          format: string
        required: false
  TransferJob:
    description: This resource represents the configuration of a transfer job that runs periodically.
    properties:
      creationTime:
        description: This field cannot be changed by user requests.
        type: string
        required: false
      deletionTime:
        description: This field cannot be changed by user requests.
        type: string
        required: false
      description:
        description: A description provided by the user for the job. Its max length is 1024 bytes when Unicode-encoded.
        type: string
        required: false
      lastModificationTime:
        description: This field cannot be changed by user requests.
        type: string
        required: false
      name:
        description: 'A globally unique name assigned by Storage Transfer Service when the job is created. This field should be left empty in requests to create a new transfer job; otherwise, the requests result in an `INVALID_ARGUMENT` error.'
        type: string
        required: false
      projectId:
        description: The ID of the Google Developers Console project that owns the job. Required.
        type: string
        required: false
      schedule:
        description: Schedule specification. Required.
        type: Schedule
        required: false
      status:
        description: 'Status of the job. This value MUST be specified for `CreateTransferJobRequests`. NOTE: The effect of the new job status takes place during a subsequent job run. For example, if you change the job status from `ENABLED` to `DISABLED`, and an operation spawned by the transfer is running, the status change would not affect the current operation.'
        enum:
          - STATUS_UNSPECIFIED
          - ENABLED
          - DISABLED
          - DELETED
        type: string
        required: false
      transferSpec:
        description: Transfer specification. Required.
        type: TransferSpec
        required: false
  TransferOperation:
    description: A description of the execution of a transfer.
    properties:
      counters:
        description: Information about the progress of the transfer operation.
        type: TransferCounters
        required: false
      endTime:
        description: End time of this transfer execution.
        type: string
        required: false
      errorBreakdowns:
        description: Summarizes errors encountered with sample error log entries.
        items:
          type: ErrorSummary
        type: array
        required: false
      name:
        description: A globally unique ID assigned by the system.
        type: string
        required: false
      projectId:
        description: The ID of the Google Developers Console project that owns the operation. Required.
        type: string
        required: false
      startTime:
        description: Start time of this transfer execution.
        type: string
        required: false
      status:
        description: Status of the transfer operation.
        enum:
          - STATUS_UNSPECIFIED
          - IN_PROGRESS
          - PAUSED
          - SUCCESS
          - FAILED
          - ABORTED
        type: string
        required: false
      transferJobName:
        description: The name of the transfer job that triggers this transfer operation.
        type: string
        required: false
      transferSpec:
        description: Transfer specification. Required.
        type: TransferSpec
        required: false
  TransferOptions:
    description: TransferOptions uses three boolean parameters to define the actions to be performed on objects in a transfer.
    properties:
      deleteObjectsFromSourceAfterTransfer:
        description: Whether objects should be deleted from the source after they are transferred to the sink.
        type: boolean
        required: false
      deleteObjectsUniqueInSink:
        description: Whether objects that exist only in the sink should be deleted.
        type: boolean
        required: false
      overwriteObjectsAlreadyExistingInSink:
        description: Whether overwriting objects that already exist in the sink is allowed.
        type: boolean
        required: false
  TransferSpec:
    description: Configuration for running a transfer.
    properties:
      awsS3DataSource:
        description: An AWS S3 data source.
        type: AwsS3Data
        required: false
      gcsDataSink:
        description: A Google Cloud Storage data sink.
        type: GcsData
        required: false
      gcsDataSource:
        description: A Google Cloud Storage data source.
        type: GcsData
        required: false
      httpDataSource:
        description: An HTTP URL data source.
        type: HttpData
        required: false
      objectConditions:
        description: Only objects that satisfy these object conditions are included in the set of data source and data sink objects. Object conditions based on objects' `lastModificationTime` do not exclude objects in a data sink.
        type: ObjectConditions
        required: false
      transferOptions:
        description: 'If the option `deleteObjectsUniqueInSink` is `true`, object conditions based on objects'' `lastModificationTime` are ignored and do not exclude objects in a data source or a data sink.'
        type: TransferOptions
        required: false
  UpdateTransferJobRequest:
    description: Request passed to UpdateTransferJob.
    properties:
      projectId:
        description: The ID of the Google Developers Console project that owns the job. Required.
        type: string
        required: false
      transferJob:
        description: The job to update. Required.
        type: TransferJob
        required: false
      updateTransferJobFieldMask:
        description: 'The field mask of the fields in `transferJob` that are to be updated in this request. Fields in `transferJob` that can be updated are: `description`, `transferSpec`, and `status`. To update the `transferSpec` of the job, a complete transfer specification has to be provided. An incomplete specification which misses any required fields will be rejected with the error `INVALID_ARGUMENT`.'
        type: string
        required: false
traits:
  xgafv:
    queryParameters:
      $.xgafv:
        type: string
        description: V1 error format.
  accessToken:
    queryParameters:
      access_token:
        type: string
        description: OAuth access token.
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for response.
        default: json
  bearerToken:
    queryParameters:
      bearer_token:
        type: string
        description: OAuth bearer token.
  callback:
    queryParameters:
      callback:
        type: string
        description: JSONP
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  pp:
    queryParameters:
      pp:
        type: boolean
        description: Pretty-print response.
        default: true
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
  uploadType:
    queryParameters:
      uploadType:
        type: string
        description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
  uploadProtocol:
    queryParameters:
      upload_protocol:
        type: string
        description: 'Upload protocol for media (e.g. "raw", "multipart").'
(oas-x-hasEquivalentPaths): true
