#%RAML 1.0
title: PageSpeed Insights
version: v1
baseUri: 'https://www.googleapis.com/pagespeedonline/v1'
protocols:
  - HTTPS
description: Analyzes the performance of a web page and provides tailored suggestions to make that page faster.
(oas-tags-definition):
  - name: pagespeedapi
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/pagespeedonline/v1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): pagespeedonline
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/speed/docs/insights/v1/getting_started'
/runPagespeed:
  displayName: runPagespeed
  get:
    displayName: pagespeedonline.pagespeedapi.runpagespeed
    description: 'Runs PageSpeed analysis on the page at the specified URL, and returns a PageSpeed score, a list of suggestions to make that page faster, and other information.'
    responses:
      '200':
        body:
          application/json:
            type: Result
        description: Successful response
    queryParameters:
      url:
        description: The URL to fetch and analyze
        required: true
        type: string
      filter_third_party_resources:
        default: false
        description: Indicates if third party resources should be filtered out before PageSpeed analysis.
        type: boolean
      locale:
        description: The locale used to localize formatted results
        type: string
      rule:
        collectionFormat: multi
        description: 'A PageSpeed rule to run; if none are given, all rules are run'
        items:
          type: string
        type: array
        facets:
          collectionFormat: string
      screenshot:
        default: false
        description: Indicates if binary data containing a screenshot should be included
        type: boolean
      strategy:
        description: The analysis strategy to use
        enum:
          - desktop
          - mobile
        type: string
    (oas-tags):
      - pagespeedapi
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Result:
    properties:
      formattedResults:
        description: Localized PageSpeed results. Contains a ruleResults entry for each PageSpeed rule instantiated and run by the server.
        properties:
          locale:
            description: 'The locale of the formattedResults, e.g. "en_US".'
            type: string
            required: false
          ruleResults:
            description: 'Dictionary of formatted rule results, with one entry for each PageSpeed rule instantiated and run by the server.'
            type: object
            required: false
            properties:
              //:
                description: The enum-like identifier for this rule. For instance "EnableKeepAlive" or "AvoidCssImport". Not localized.
                properties:
                  localizedRuleName:
                    description: 'Localized name of the rule, intended for presentation to a user.'
                    type: string
                    required: false
                  ruleImpact:
                    description: 'The impact (unbounded floating point value) that implementing the suggestions for this rule would have on making the page faster. Impact is comparable between rules to determine which rule''s suggestions would have a higher or lower impact on making a page faster. For instance, if enabling compression would save 1MB, while optimizing images would save 500kB, the enable compression rule would have 2x the impact of the image optimization rule, all other things being equal.'
                    format: double
                    type: number
                    required: false
                  urlBlocks:
                    description: List of blocks of URLs. Each block may contain a heading and a list of URLs. Each URL may optionally include additional details.
                    items:
                      properties:
                        header:
                          description: Heading to be displayed with the list of URLs.
                          properties:
                            args:
                              description: List of arguments for the format string.
                              items:
                                properties:
                                  type:
                                    description: 'Type of argument. One of URL, STRING_LITERAL, INT_LITERAL, BYTES, or DURATION.'
                                    type: string
                                    required: false
                                  value:
                                    description: 'Argument value, as a localized string.'
                                    type: string
                                    required: false
                                type: object
                              type: array
                              required: false
                            format:
                              description: 'A localized format string with $N placeholders, where N is the 1-indexed argument number, e.g. ''Minifying the following $1 resources would save a total of $2 bytes''.'
                              type: string
                              required: false
                          type: object
                          required: false
                        urls:
                          description: List of entries that provide information about URLs in the url block. Optional.
                          items:
                            properties:
                              details:
                                description: List of entries that provide additional details about a single URL. Optional.
                                items:
                                  properties:
                                    args:
                                      description: List of arguments for the format string.
                                      items:
                                        properties:
                                          type:
                                            description: 'Type of argument. One of URL, STRING_LITERAL, INT_LITERAL, BYTES, or DURATION.'
                                            type: string
                                            required: false
                                          value:
                                            description: 'Argument value, as a localized string.'
                                            type: string
                                            required: false
                                        type: object
                                      type: array
                                      required: false
                                    format:
                                      description: 'A localized format string with $N placeholders, where N is the 1-indexed argument number, e.g. ''Unnecessary metadata for this resource adds an additional $1 bytes to its download size''.'
                                      type: string
                                      required: false
                                  type: object
                                type: array
                                required: false
                              result:
                                description: 'A format string that gives information about the URL, and a list of arguments for that format string.'
                                properties:
                                  args:
                                    description: List of arguments for the format string.
                                    items:
                                      properties:
                                        type:
                                          description: 'Type of argument. One of URL, STRING_LITERAL, INT_LITERAL, BYTES, or DURATION.'
                                          type: string
                                          required: false
                                        value:
                                          description: 'Argument value, as a localized string.'
                                          type: string
                                          required: false
                                      type: object
                                    type: array
                                    required: false
                                  format:
                                    description: 'A localized format string with $N placeholders, where N is the 1-indexed argument number, e.g. ''Minifying the resource at URL $1 can save $2 bytes''.'
                                    type: string
                                    required: false
                                type: object
                                required: false
                            type: object
                          type: array
                          required: false
                      type: object
                    type: array
                    required: false
                type: object
        type: object
        required: false
      id:
        description: 'Canonicalized and final URL for the document, after following page redirects (if any).'
        type: string
        required: false
      invalidRules:
        description: 'List of rules that were specified in the request, but which the server did not know how to instantiate.'
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'pagespeedonline#result'
        description: Kind of result.
        type: string
        required: false
      pageStats:
        description: 'Summary statistics for the page, such as number of JavaScript bytes, number of HTML bytes, etc.'
        properties:
          cssResponseBytes:
            description: Number of uncompressed response bytes for CSS resources on the page.
            format: int64
            type: string
            facets:
              format: string
            required: false
          flashResponseBytes:
            description: Number of response bytes for flash resources on the page.
            format: int64
            type: string
            facets:
              format: string
            required: false
          htmlResponseBytes:
            description: Number of uncompressed response bytes for the main HTML document and all iframes on the page.
            format: int64
            type: string
            facets:
              format: string
            required: false
          imageResponseBytes:
            description: Number of response bytes for image resources on the page.
            format: int64
            type: string
            facets:
              format: string
            required: false
          javascriptResponseBytes:
            description: Number of uncompressed response bytes for JS resources on the page.
            format: int64
            type: string
            facets:
              format: string
            required: false
          numberCssResources:
            description: Number of CSS resources referenced by the page.
            format: int32
            type: integer
            required: false
          numberHosts:
            description: Number of unique hosts referenced by the page.
            format: int32
            type: integer
            required: false
          numberJsResources:
            description: Number of JavaScript resources referenced by the page.
            format: int32
            type: integer
            required: false
          numberResources:
            description: Number of HTTP resources loaded by the page.
            format: int32
            type: integer
            required: false
          numberStaticResources:
            description: Number of static (i.e. cacheable) resources on the page.
            format: int32
            type: integer
            required: false
          otherResponseBytes:
            description: Number of response bytes for other resources on the page.
            format: int64
            type: string
            facets:
              format: string
            required: false
          textResponseBytes:
            description: 'Number of uncompressed response bytes for text resources not covered by other statistics (i.e non-HTML, non-script, non-CSS resources) on the page.'
            format: int64
            type: string
            facets:
              format: string
            required: false
          totalRequestBytes:
            description: Total size of all request bytes sent by the page.
            format: int64
            type: string
            facets:
              format: string
            required: false
        type: object
        required: false
      responseCode:
        description: Response code for the document. 200 indicates a normal page load. 4xx/5xx indicates an error.
        format: int32
        type: integer
        required: false
      score:
        description: 'The PageSpeed Score (0-100), which indicates how much faster a page could be. A high score indicates little room for improvement, while a lower score indicates more room for improvement.'
        format: int32
        type: integer
        required: false
      screenshot:
        description: Base64-encoded screenshot of the page that was analyzed.
        properties:
          data:
            description: Image data base64 encoded.
            format: byte
            type: string
            facets:
              format: string
            required: false
          height:
            description: Height of screenshot in pixels.
            format: int32
            type: integer
            required: false
          mime_type:
            description: Mime type of image data. E.g. "image/jpeg".
            type: string
            required: false
          width:
            description: Width of screenshot in pixels.
            format: int32
            type: integer
            required: false
        type: object
        required: false
      title:
        description: 'Title of the page, as displayed in the browser''s title bar.'
        type: string
        required: false
      version:
        description: The version of PageSpeed used to generate these results.
        properties:
          major:
            description: The major version number of PageSpeed used to generate these results.
            format: int32
            type: integer
            required: false
          minor:
            description: The minor version number of PageSpeed used to generate these results.
            format: int32
            type: integer
            required: false
        type: object
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
