#%RAML 1.0
title: Tag Manager
version: v1
baseUri: 'https://www.googleapis.com/tagmanager/v1'
protocols:
  - HTTPS
description: Accesses Tag Manager accounts and containers.
(oas-tags-definition):
  - name: accounts
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/tagmanager/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): tagmanager
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/tag-manager/api/v1/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/tagmanager.delete.containers'
        - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
        - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
        - 'https://www.googleapis.com/auth/tagmanager.manage.users'
        - 'https://www.googleapis.com/auth/tagmanager.publish'
        - 'https://www.googleapis.com/auth/tagmanager.readonly'
    description: Oauth 2.0 authentication
/accounts:
  displayName: accounts
  '/{accountId}':
    displayName: '{accountId}'
    /containers:
      displayName: containers
      '/{containerId}':
        displayName: '{containerId}'
        /tags:
          displayName: tags
          '/{tagId}':
            displayName: '{tagId}'
            uriParameters:
              tagId:
                description: The GTM Tag ID.
                required: true
                type: string
            get:
              displayName: tagmanager.accounts.containers.tags.get
              description: Gets a GTM Tag.
              responses:
                '200':
                  body:
                    application/json:
                      type: Tag
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.readonly'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            put:
              displayName: tagmanager.accounts.containers.tags.update
              description: Updates a GTM Tag.
              body:
                application/json:
                  type: Tag
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Tag
                  description: Successful response
              queryParameters:
                fingerprint:
                  description: 'When provided, this fingerprint must match the fingerprint of the tag in storage.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            delete:
              displayName: tagmanager.accounts.containers.tags.delete
              description: Deletes a GTM Tag.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
          get:
            displayName: tagmanager.accounts.containers.tags.list
            description: Lists all GTM Tags of a Container.
            responses:
              '200':
                body:
                  application/json:
                    type: ListTagsResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.readonly'
            (oas-tags):
              - accounts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: tagmanager.accounts.containers.tags.create
            description: Creates a GTM Tag.
            body:
              application/json:
                type: Tag
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Tag
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
            (oas-tags):
              - accounts
        /triggers:
          displayName: triggers
          get:
            displayName: tagmanager.accounts.containers.triggers.list
            description: Lists all GTM Triggers of a Container.
            responses:
              '200':
                body:
                  application/json:
                    type: ListTriggersResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.readonly'
            (oas-tags):
              - accounts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: tagmanager.accounts.containers.triggers.create
            description: Creates a GTM Trigger.
            body:
              application/json:
                type: Trigger
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Trigger
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
            (oas-tags):
              - accounts
          '/{triggerId}':
            displayName: '{triggerId}'
            uriParameters:
              triggerId:
                description: The GTM Trigger ID.
                required: true
                type: string
            delete:
              displayName: tagmanager.accounts.containers.triggers.delete
              description: Deletes a GTM Trigger.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: tagmanager.accounts.containers.triggers.get
              description: Gets a GTM Trigger.
              responses:
                '200':
                  body:
                    application/json:
                      type: Trigger
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.readonly'
              (oas-tags):
                - accounts
            put:
              displayName: tagmanager.accounts.containers.triggers.update
              description: Updates a GTM Trigger.
              body:
                application/json:
                  type: Trigger
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Trigger
                  description: Successful response
              queryParameters:
                fingerprint:
                  description: 'When provided, this fingerprint must match the fingerprint of the trigger in storage.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
        uriParameters:
          containerId:
            description: The GTM Container ID.
            required: true
            type: string
        get:
          displayName: tagmanager.accounts.containers.get
          description: Gets a Container.
          responses:
            '200':
              body:
                application/json:
                  type: Container
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tagmanager.readonly'
          (oas-tags):
            - accounts
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        /environments:
          displayName: environments
          get:
            displayName: tagmanager.accounts.containers.environments.list
            description: Lists all GTM Environments of a GTM Container.
            responses:
              '200':
                body:
                  application/json:
                    type: ListEnvironmentsResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.readonly'
            (oas-tags):
              - accounts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{environmentId}':
            displayName: '{environmentId}'
            uriParameters:
              environmentId:
                description: The GTM Environment ID.
                required: true
                type: string
            delete:
              displayName: tagmanager.accounts.containers.environments.delete
              description: Deletes a GTM Environment.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            patch:
              displayName: tagmanager.accounts.containers.environments.patch
              description: Updates a GTM Environment. This method supports patch semantics.
              body:
                application/json:
                  type: Environment
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Environment
                  description: Successful response
              queryParameters:
                fingerprint:
                  description: 'When provided, this fingerprint must match the fingerprint of the environment in storage.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            get:
              displayName: tagmanager.accounts.containers.environments.get
              description: Gets a GTM Environment.
              responses:
                '200':
                  body:
                    application/json:
                      type: Environment
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.readonly'
              (oas-tags):
                - accounts
            put:
              displayName: tagmanager.accounts.containers.environments.update
              description: Updates a GTM Environment.
              body:
                application/json:
                  type: Environment
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Environment
                  description: Successful response
              queryParameters:
                fingerprint:
                  description: 'When provided, this fingerprint must match the fingerprint of the environment in storage.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
          post:
            displayName: tagmanager.accounts.containers.environments.create
            description: Creates a GTM Environment.
            body:
              application/json:
                type: Environment
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Environment
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
            (oas-tags):
              - accounts
        /variables:
          displayName: variables
          get:
            displayName: tagmanager.accounts.containers.variables.list
            description: Lists all GTM Variables of a Container.
            responses:
              '200':
                body:
                  application/json:
                    type: ListVariablesResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.readonly'
            (oas-tags):
              - accounts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: tagmanager.accounts.containers.variables.create
            description: Creates a GTM Variable.
            body:
              application/json:
                type: Variable
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Variable
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
            (oas-tags):
              - accounts
          '/{variableId}':
            displayName: '{variableId}'
            uriParameters:
              variableId:
                description: The GTM Variable ID.
                required: true
                type: string
            delete:
              displayName: tagmanager.accounts.containers.variables.delete
              description: Deletes a GTM Variable.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: tagmanager.accounts.containers.variables.get
              description: Gets a GTM Variable.
              responses:
                '200':
                  body:
                    application/json:
                      type: Variable
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.readonly'
              (oas-tags):
                - accounts
            put:
              displayName: tagmanager.accounts.containers.variables.update
              description: Updates a GTM Variable.
              body:
                application/json:
                  type: Variable
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Variable
                  description: Successful response
              queryParameters:
                fingerprint:
                  description: 'When provided, this fingerprint must match the fingerprint of the variable in storage.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
        /folders:
          displayName: folders
          get:
            displayName: tagmanager.accounts.containers.folders.list
            description: Lists all GTM Folders of a Container.
            responses:
              '200':
                body:
                  application/json:
                    type: ListFoldersResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.readonly'
            (oas-tags):
              - accounts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{folderId}':
            displayName: '{folderId}'
            uriParameters:
              folderId:
                description: The GTM Folder ID.
                required: true
                type: string
            delete:
              displayName: tagmanager.accounts.containers.folders.delete
              description: Deletes a GTM Folder.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            put:
              displayName: tagmanager.accounts.containers.folders.update
              description: Updates a GTM Folder.
              body:
                application/json:
                  type: Folder
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Folder
                  description: Successful response
              queryParameters:
                fingerprint:
                  description: 'When provided, this fingerprint must match the fingerprint of the folder in storage.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            /entities:
              displayName: entities
              get:
                displayName: tagmanager.accounts.containers.folders.entities.list
                description: List all entities in a GTM Folder.
                responses:
                  '200':
                    body:
                      application/json:
                        type: FolderEntities
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/tagmanager.readonly'
                (oas-tags):
                  - accounts
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
            get:
              displayName: tagmanager.accounts.containers.folders.get
              description: Gets a GTM Folder.
              responses:
                '200':
                  body:
                    application/json:
                      type: Folder
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.readonly'
              (oas-tags):
                - accounts
          post:
            displayName: tagmanager.accounts.containers.folders.create
            description: Creates a GTM Folder.
            body:
              application/json:
                type: Folder
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Folder
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
            (oas-tags):
              - accounts
        /move_folders:
          displayName: move_folders
          '/{folderId}':
            displayName: '{folderId}'
            uriParameters:
              folderId:
                description: The GTM Folder ID.
                required: true
                type: string
            put:
              displayName: tagmanager.accounts.containers.move_folders.update
              description: Moves entities to a GTM Folder.
              body:
                application/json:
                  type: Folder
                  (oas-body-name): body
              responses:
                '200':
                  description: Successful response
              queryParameters:
                tagId:
                  collectionFormat: multi
                  description: The tags to be moved to the folder.
                  items:
                    type: string
                  type: array
                  facets:
                    collectionFormat: string
                triggerId:
                  collectionFormat: multi
                  description: The triggers to be moved to the folder.
                  items:
                    type: string
                  type: array
                  facets:
                    collectionFormat: string
                variableId:
                  collectionFormat: multi
                  description: The variables to be moved to the folder.
                  items:
                    type: string
                  type: array
                  facets:
                    collectionFormat: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        /versions:
          displayName: versions
          get:
            displayName: tagmanager.accounts.containers.versions.list
            description: Lists all Container Versions of a GTM Container.
            responses:
              '200':
                body:
                  application/json:
                    type: ListContainerVersionsResponse
                description: Successful response
            queryParameters:
              headers:
                default: false
                description: Retrieve headers only when true.
                type: boolean
              includeDeleted:
                default: false
                description: Also retrieve deleted (archived) versions when true.
                type: boolean
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.readonly'
            (oas-tags):
              - accounts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: tagmanager.accounts.containers.versions.create
            description: Creates a Container Version.
            body:
              application/json:
                type: CreateContainerVersionRequestVersionOptions
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: CreateContainerVersionResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
            (oas-tags):
              - accounts
          '/{containerVersionId}':
            displayName: '{containerVersionId}'
            uriParameters:
              containerVersionId:
                description: The GTM Container Version ID.
                required: true
                type: string
            delete:
              displayName: tagmanager.accounts.containers.versions.delete
              description: Deletes a Container Version.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: tagmanager.accounts.containers.versions.get
              description: Gets a Container Version.
              responses:
                '200':
                  body:
                    application/json:
                      type: ContainerVersion
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.readonly'
              (oas-tags):
                - accounts
            put:
              displayName: tagmanager.accounts.containers.versions.update
              description: Updates a Container Version.
              body:
                application/json:
                  type: ContainerVersion
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: ContainerVersion
                  description: Successful response
              queryParameters:
                fingerprint:
                  description: 'When provided, this fingerprint must match the fingerprint of the container version in storage.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
              (oas-tags):
                - accounts
            /publish:
              displayName: publish
              post:
                displayName: tagmanager.accounts.containers.versions.publish
                description: Publishes a Container Version.
                responses:
                  '200':
                    body:
                      application/json:
                        type: PublishContainerVersionResponse
                    description: Successful response
                queryParameters:
                  fingerprint:
                    description: 'When provided, this fingerprint must match the fingerprint of the container version in storage.'
                    type: string
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/tagmanager.publish'
                (oas-tags):
                  - accounts
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
            /restore:
              displayName: restore
              post:
                displayName: tagmanager.accounts.containers.versions.restore
                description: 'Restores a Container Version. This will overwrite the container''s current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).'
                responses:
                  '200':
                    body:
                      application/json:
                        type: ContainerVersion
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
                (oas-tags):
                  - accounts
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
            /undelete:
              displayName: undelete
              post:
                displayName: tagmanager.accounts.containers.versions.undelete
                description: Undeletes a Container Version.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ContainerVersion
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
                (oas-tags):
                  - accounts
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
        put:
          displayName: tagmanager.accounts.containers.update
          description: Updates a Container.
          body:
            application/json:
              type: Container
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Container
              description: Successful response
          queryParameters:
            fingerprint:
              description: 'When provided, this fingerprint must match the fingerprint of the container in storage.'
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          (oas-tags):
            - accounts
        delete:
          displayName: tagmanager.accounts.containers.delete
          description: Deletes a Container.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tagmanager.delete.containers'
          (oas-tags):
            - accounts
        /reauthorize_environments:
          displayName: reauthorize_environments
          '/{environmentId}':
            displayName: '{environmentId}'
            uriParameters:
              environmentId:
                description: The GTM Environment ID.
                required: true
                type: string
            put:
              displayName: tagmanager.accounts.containers.reauthorize_environments.update
              description: Re-generates the authorization code for a GTM Environment.
              body:
                application/json:
                  type: Environment
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Environment
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/tagmanager.publish'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      post:
        displayName: tagmanager.accounts.containers.create
        description: Creates a Container.
        body:
          application/json:
            type: Container
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Container
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        (oas-tags):
          - accounts
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: tagmanager.accounts.containers.list
        description: Lists all Containers that belongs to a GTM Account.
        responses:
          '200':
            body:
              application/json:
                type: ListContainersResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tagmanager.readonly'
        (oas-tags):
          - accounts
    /permissions:
      displayName: permissions
      '/{permissionId}':
        displayName: '{permissionId}'
        uriParameters:
          permissionId:
            description: The GTM User ID.
            required: true
            type: string
        put:
          displayName: tagmanager.accounts.permissions.update
          description: Updates a user's Account & Container Permissions.
          body:
            application/json:
              type: UserAccess
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: UserAccess
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          (oas-tags):
            - accounts
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: tagmanager.accounts.permissions.get
          description: Gets a user's Account & Container Permissions.
          responses:
            '200':
              body:
                application/json:
                  type: UserAccess
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          (oas-tags):
            - accounts
        delete:
          displayName: tagmanager.accounts.permissions.delete
          description: 'Removes a user from the account, revoking access to it and all of its containers.'
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          (oas-tags):
            - accounts
      post:
        displayName: tagmanager.accounts.permissions.create
        description: Creates a user's Account & Container Permissions.
        body:
          application/json:
            type: UserAccess
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: UserAccess
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tagmanager.manage.users'
        (oas-tags):
          - accounts
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: tagmanager.accounts.permissions.list
        description: List all users that have access to the account along with Account and Container Permissions granted to each of them.
        responses:
          '200':
            body:
              application/json:
                type: ListAccountUsersResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tagmanager.manage.users'
        (oas-tags):
          - accounts
    uriParameters:
      accountId:
        description: The GTM Account ID.
        required: true
        type: string
    put:
      displayName: tagmanager.accounts.update
      description: Updates a GTM Account.
      body:
        application/json:
          type: Account
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      queryParameters:
        fingerprint:
          description: 'When provided, this fingerprint must match the fingerprint of the account in storage.'
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
      (oas-tags):
        - accounts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: tagmanager.accounts.get
      description: Gets a GTM Account.
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/tagmanager.readonly'
      (oas-tags):
        - accounts
  get:
    displayName: tagmanager.accounts.list
    description: Lists all GTM Accounts that a user has access to.
    responses:
      '200':
        body:
          application/json:
            type: ListAccountsResponse
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
    (oas-tags):
      - accounts
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Account:
    description: Represents a Google Tag Manager Account.
    properties:
      accountId:
        description: The Account ID uniquely identifies the GTM Account.
        type: string
        required: false
      fingerprint:
        description: The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.
        type: string
        required: false
      name:
        description: Account display name.
        type: string
        required: false
      shareData:
        description: Whether the account shares data anonymously with Google and others.
        type: boolean
        required: false
  AccountAccess:
    description: Defines the Google Tag Manager Account access permissions.
    properties:
      permission:
        description: List of Account permissions. Valid account permissions are read and manage.
        items:
          enum:
            - delete
            - edit
            - manage
            - publish
            - read
          type: string
        type: array
        required: false
  Condition:
    description: Represents a predicate.
    properties:
      parameter:
        description: |-
          A list of named parameters (key/value), depending on the condition's type. Notes: 
          - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. 
          - At this time, the left operand (arg0) must be a reference to a variable. 
          - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. 
          - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.
        items:
          type: Parameter
        type: array
        required: false
      type:
        description: The type of operator for this condition.
        enum:
          - contains
          - cssSelector
          - endsWith
          - equals
          - greater
          - greaterOrEquals
          - less
          - lessOrEquals
          - matchRegex
          - startsWith
          - urlMatches
        type: string
        required: false
  Container:
    description: Represents a Google Tag Manager Container.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      containerId:
        description: The Container ID uniquely identifies the GTM Container.
        type: string
        required: false
      domainName:
        description: Optional list of domain names associated with the Container.
        items:
          type: string
        type: array
        required: false
      enabledBuiltInVariable:
        description: 'List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.'
        items:
          enum:
            - advertiserId
            - advertisingTrackingEnabled
            - appId
            - appName
            - appVersionCode
            - appVersionName
            - clickClasses
            - clickElement
            - clickId
            - clickTarget
            - clickText
            - clickUrl
            - containerId
            - containerVersion
            - debugMode
            - deviceName
            - environmentName
            - errorLine
            - errorMessage
            - errorUrl
            - event
            - formClasses
            - formElement
            - formId
            - formTarget
            - formText
            - formUrl
            - historySource
            - htmlId
            - language
            - newHistoryFragment
            - newHistoryState
            - oldHistoryFragment
            - oldHistoryState
            - osVersion
            - pageHostname
            - pagePath
            - pageUrl
            - platform
            - randomNumber
            - referrer
            - resolution
            - sdkVersion
          type: string
        type: array
        required: false
      fingerprint:
        description: The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.
        type: string
        required: false
      name:
        description: Container display name.
        type: string
        required: false
      notes:
        description: Container Notes.
        type: string
        required: false
      publicId:
        description: Container Public ID.
        type: string
        required: false
      timeZoneCountryId:
        description: Container Country ID.
        type: string
        required: false
      timeZoneId:
        description: Container Time Zone ID.
        type: string
        required: false
      usageContext:
        description: 'List of Usage Contexts for the Container. Valid values include: web, android, ios.'
        items:
          enum:
            - android
            - androidSdk5
            - ios
            - iosSdk5
            - web
          type: string
        type: array
        required: false
  ContainerAccess:
    description: Defines the Google Tag Manager Container access permissions.
    properties:
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      permission:
        description: 'List of Container permissions. Valid container permissions are: read, edit, delete, publish.'
        items:
          enum:
            - delete
            - edit
            - manage
            - publish
            - read
          type: string
        type: array
        required: false
  ContainerVersion:
    description: Represents a Google Tag Manager Container Version.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      container:
        description: The container that this version was taken from.
        type: Container
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      containerVersionId:
        description: The Container Version ID uniquely identifies the GTM Container Version.
        type: string
        required: false
      deleted:
        description: A value of true indicates this container version has been deleted.
        type: boolean
        required: false
      fingerprint:
        description: The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.
        type: string
        required: false
      folder:
        description: The folders in the container that this version was taken from.
        items:
          type: Folder
        type: array
        required: false
      macro:
        description: The macros in the container that this version was taken from.
        items:
          type: Macro
        type: array
        required: false
      name:
        description: Container version display name.
        type: string
        required: false
      notes:
        description: User notes on how to apply this container version in the container.
        type: string
        required: false
      rule:
        description: The rules in the container that this version was taken from.
        items:
          type: Rule
        type: array
        required: false
      tag:
        description: The tags in the container that this version was taken from.
        items:
          type: Tag
        type: array
        required: false
      trigger:
        description: The triggers in the container that this version was taken from.
        items:
          type: Trigger
        type: array
        required: false
      variable:
        description: The variables in the container that this version was taken from.
        items:
          type: Variable
        type: array
        required: false
  ContainerVersionHeader:
    description: Represents a Google Tag Manager Container Version Header.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      containerVersionId:
        description: The Container Version ID uniquely identifies the GTM Container Version.
        type: string
        required: false
      deleted:
        description: A value of true indicates this container version has been deleted.
        type: boolean
        required: false
      name:
        description: Container version display name.
        type: string
        required: false
      numMacros:
        description: Number of macros in the container version.
        type: string
        required: false
      numRules:
        description: Number of rules in the container version.
        type: string
        required: false
      numTags:
        description: Number of tags in the container version.
        type: string
        required: false
      numTriggers:
        description: Number of triggers in the container version.
        type: string
        required: false
      numVariables:
        description: Number of variables in the container version.
        type: string
        required: false
  CreateContainerVersionRequestVersionOptions:
    description: Options for new container versions.
    properties:
      name:
        description: The name of the container version to be created.
        type: string
        required: false
      notes:
        description: The notes of the container version to be created.
        type: string
        required: false
      quickPreview:
        description: The creation of this version may be for quick preview and shouldn't be saved.
        type: boolean
        required: false
  CreateContainerVersionResponse:
    description: Create container versions response.
    properties:
      compilerError:
        description: Compiler errors or not.
        type: boolean
        required: false
      containerVersion:
        description: The container version created.
        type: ContainerVersion
        required: false
  Environment:
    description: 'Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.'
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      authorizationCode:
        description: The environment authorization code.
        type: string
        required: false
      authorizationTimestampMs:
        description: The last update time-stamp for the authorization code.
        format: int64
        type: string
        facets:
          format: string
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      containerVersionId:
        description: ''
        type: string
        required: false
      description:
        description: The environment description. Can be set or changed only on USER type environments.
        type: string
        required: false
      enableDebug:
        description: Whether or not to enable debug by default on for the environment.
        type: boolean
        required: false
      environmentId:
        description: GTM Environment ID uniquely identifies the GTM Environment.
        type: string
        required: false
      fingerprint:
        description: The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.
        type: string
        required: false
      name:
        description: The environment display name. Can be set or changed only on USER type environments.
        type: string
        required: false
      type:
        description: The type of this environment.
        enum:
          - draft
          - latest
          - live
          - user
        type: string
        required: false
      url:
        description: Default preview page url for the environment.
        type: string
        required: false
  Folder:
    description: Represents a Google Tag Manager Folder.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      fingerprint:
        description: The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.
        type: string
        required: false
      folderId:
        description: The Folder ID uniquely identifies the GTM Folder.
        type: string
        required: false
      name:
        description: Folder display name.
        type: string
        required: false
  FolderEntities:
    description: Represents a Google Tag Manager Folder's contents.
    properties:
      tag:
        description: The list of tags inside the folder.
        items:
          type: Tag
        type: array
        required: false
      trigger:
        description: The list of triggers inside the folder.
        items:
          type: Trigger
        type: array
        required: false
      variable:
        description: The list of variables inside the folder.
        items:
          type: Variable
        type: array
        required: false
  ListAccountUsersResponse:
    description: List AccountUsers Response.
    properties:
      userAccess:
        description: All GTM AccountUsers of a GTM Account.
        items:
          type: UserAccess
        type: array
        required: false
  ListAccountsResponse:
    description: List Accounts Response.
    properties:
      accounts:
        description: List of GTM Accounts that a user has access to.
        items:
          type: Account
        type: array
        required: false
  ListContainerVersionsResponse:
    description: List container versions response.
    properties:
      containerVersion:
        description: All versions of a GTM Container.
        items:
          type: ContainerVersion
        type: array
        required: false
      containerVersionHeader:
        description: All container version headers of a GTM Container.
        items:
          type: ContainerVersionHeader
        type: array
        required: false
  ListContainersResponse:
    description: List Containers Response.
    properties:
      containers:
        description: All Containers of a GTM Account.
        items:
          type: Container
        type: array
        required: false
  ListEnvironmentsResponse:
    description: List Environments Response.
    properties:
      environments:
        description: All Environments of a GTM Container.
        items:
          type: Environment
        type: array
        required: false
  ListFoldersResponse:
    description: List Folders Response.
    properties:
      folders:
        description: All GTM Folders of a GTM Container.
        items:
          type: Folder
        type: array
        required: false
  ListTagsResponse:
    description: List Tags Response.
    properties:
      tags:
        description: All GTM Tags of a GTM Container.
        items:
          type: Tag
        type: array
        required: false
  ListTriggersResponse:
    description: List triggers response.
    properties:
      triggers:
        description: All GTM Triggers of a GTM Container.
        items:
          type: Trigger
        type: array
        required: false
  ListVariablesResponse:
    description: List Variables Response.
    properties:
      variables:
        description: All GTM Variables of a GTM Container.
        items:
          type: Variable
        type: array
        required: false
  Macro:
    description: Represents a Google Tag Manager Macro.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      disablingRuleId:
        description: 'For mobile containers only: A list of rule IDs for disabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set.'
        items:
          type: string
        type: array
        required: false
      enablingRuleId:
        description: 'For mobile containers only: A list of rule IDs for enabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set.'
        items:
          type: string
        type: array
        required: false
      fingerprint:
        description: The fingerprint of the GTM Macro as computed at storage time. This value is recomputed whenever the macro is modified.
        type: string
        required: false
      macroId:
        description: The Macro ID uniquely identifies the GTM Macro.
        type: string
        required: false
      name:
        description: Macro display name.
        type: string
        required: false
      notes:
        description: User notes on how to apply this macro in the container.
        type: string
        required: false
      parameter:
        description: The macro's parameters.
        items:
          type: Parameter
        type: array
        required: false
      parentFolderId:
        description: Parent folder id.
        type: string
        required: false
      scheduleEndMs:
        description: The end timestamp in milliseconds to schedule a macro.
        format: int64
        type: string
        facets:
          format: string
        required: false
      scheduleStartMs:
        description: The start timestamp in milliseconds to schedule a macro.
        format: int64
        type: string
        facets:
          format: string
        required: false
      type:
        description: GTM Macro Type.
        type: string
        required: false
  Parameter:
    description: Represents a Google Tag Manager Parameter.
    properties:
      key:
        description: 'The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.'
        type: string
        required: false
      list:
        description: This list parameter's parameters (keys will be ignored).
        items:
          type: Parameter
        type: array
        required: false
      map:
        description: This map parameter's parameters (must have keys; keys must be unique).
        items:
          type: Parameter
        type: array
        required: false
      type:
        description: |-
          The parameter type. Valid values are: 
          - boolean: The value represents a boolean, represented as 'true' or 'false' 
          - integer: The value represents a 64-bit signed integer value, in base 10 
          - list: A list of parameters should be specified 
          - map: A map of parameters should be specified 
          - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
        enum:
          - boolean
          - integer
          - list
          - map
          - template
        type: string
        required: false
      value:
        description: 'A parameter''s value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.'
        type: string
        required: false
  PublishContainerVersionResponse:
    description: Publish container version response.
    properties:
      compilerError:
        description: Compiler errors or not.
        type: boolean
        required: false
      containerVersion:
        description: The container version created.
        type: ContainerVersion
        required: false
  Rule:
    description: Represents a Google Tag Manager Rule.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      condition:
        description: The list of conditions that make up this rule (implicit AND between them).
        items:
          type: Condition
        type: array
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      fingerprint:
        description: The fingerprint of the GTM Rule as computed at storage time. This value is recomputed whenever the rule is modified.
        type: string
        required: false
      name:
        description: Rule display name.
        type: string
        required: false
      notes:
        description: User notes on how to apply this rule in the container.
        type: string
        required: false
      ruleId:
        description: The Rule ID uniquely identifies the GTM Rule.
        type: string
        required: false
  SetupTag:
    properties:
      stopOnSetupFailure:
        description: 'If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.'
        type: boolean
        required: false
      tagName:
        description: The name of the setup tag.
        type: string
        required: false
  Tag:
    description: Represents a Google Tag Manager Tag.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      blockingRuleId:
        description: 'Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.'
        items:
          type: string
        type: array
        required: false
      blockingTriggerId:
        description: 'Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.'
        items:
          type: string
        type: array
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      fingerprint:
        description: The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
        type: string
        required: false
      firingRuleId:
        description: Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
        items:
          type: string
        type: array
        required: false
      firingTriggerId:
        description: Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
        items:
          type: string
        type: array
        required: false
      liveOnly:
        description: 'If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).'
        type: boolean
        required: false
      name:
        description: Tag display name.
        type: string
        required: false
      notes:
        description: User notes on how to apply this tag in the container.
        type: string
        required: false
      parameter:
        description: The tag's parameters.
        items:
          type: Parameter
        type: array
        required: false
      parentFolderId:
        description: Parent folder id.
        type: string
        required: false
      priority:
        description: User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
        type: Parameter
        required: false
      scheduleEndMs:
        description: The end timestamp in milliseconds to schedule a tag.
        format: int64
        type: string
        facets:
          format: string
        required: false
      scheduleStartMs:
        description: The start timestamp in milliseconds to schedule a tag.
        format: int64
        type: string
        facets:
          format: string
        required: false
      setupTag:
        description: The list of setup tags. Currently we only allow one.
        items:
          type: SetupTag
        type: array
        required: false
      tagFiringOption:
        description: Option to fire this tag.
        enum:
          - oncePerEvent
          - oncePerLoad
          - unlimited
        type: string
        required: false
      tagId:
        description: The Tag ID uniquely identifies the GTM Tag.
        type: string
        required: false
      teardownTag:
        description: The list of teardown tags. Currently we only allow one.
        items:
          type: TeardownTag
        type: array
        required: false
      type:
        description: GTM Tag Type.
        type: string
        required: false
  TeardownTag:
    properties:
      stopTeardownOnFailure:
        description: 'If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.'
        type: boolean
        required: false
      tagName:
        description: The name of the teardown tag.
        type: string
        required: false
  Trigger:
    description: Represents a Google Tag Manager Trigger
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      autoEventFilter:
        description: Used in the case of auto event tracking.
        items:
          type: Condition
        type: array
        required: false
      checkValidation:
        description: Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.
        type: Parameter
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      customEventFilter:
        description: 'Used in the case of custom event, which is fired iff all Conditions are true.'
        items:
          type: Condition
        type: array
        required: false
      enableAllVideos:
        description: 'Reloads the videos in the page that don''t already have the YT API enabled. If false, only capture events from videos that already have the API enabled. Only valid for YouTube triggers.'
        type: Parameter
        required: false
      eventName:
        description: Name of the GTM event that is fired. Only valid for Timer triggers.
        type: Parameter
        required: false
      filter:
        description: The trigger will only fire iff all Conditions are true.
        items:
          type: Condition
        type: array
        required: false
      fingerprint:
        description: The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.
        type: string
        required: false
      interval:
        description: Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.
        type: Parameter
        required: false
      limit:
        description: 'Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.'
        type: Parameter
        required: false
      name:
        description: Trigger display name.
        type: string
        required: false
      parentFolderId:
        description: Parent folder id.
        type: string
        required: false
      triggerId:
        description: The Trigger ID uniquely identifies the GTM Trigger.
        type: string
        required: false
      type:
        description: Defines the data layer event that causes this trigger.
        enum:
          - ajaxSubmission
          - always
          - click
          - customEvent
          - domReady
          - formSubmission
          - historyChange
          - jsError
          - linkClick
          - pageview
          - timer
          - windowLoaded
          - youTube
        type: string
        required: false
      uniqueTriggerId:
        description: 'Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don''t exist until then. Only valid for Form Submit, Link Click and Timer triggers.'
        type: Parameter
        required: false
      videoPercentageList:
        description: List of integer percentage values. The trigger will fire as each percentage is reached in any instrumented videos. Only valid for YouTube triggers.
        type: Parameter
        required: false
      waitForTags:
        description: Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.
        type: Parameter
        required: false
      waitForTagsTimeout:
        description: How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.
        type: Parameter
        required: false
  UserAccess:
    description: Represents a user's permissions to an account and its container.
    properties:
      accountAccess:
        description: GTM Account access permissions.
        type: AccountAccess
        required: false
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      containerAccess:
        description: GTM Container access permissions.
        items:
          type: ContainerAccess
        type: array
        required: false
      emailAddress:
        description: User's email address.
        type: string
        required: false
      permissionId:
        description: Account Permission ID.
        type: string
        required: false
  Variable:
    description: Represents a Google Tag Manager Variable.
    properties:
      accountId:
        description: GTM Account ID.
        type: string
        required: false
      containerId:
        description: GTM Container ID.
        type: string
        required: false
      disablingTriggerId:
        description: 'For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.'
        items:
          type: string
        type: array
        required: false
      enablingTriggerId:
        description: 'For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.'
        items:
          type: string
        type: array
        required: false
      fingerprint:
        description: The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
        type: string
        required: false
      name:
        description: Variable display name.
        type: string
        required: false
      notes:
        description: User notes on how to apply this variable in the container.
        type: string
        required: false
      parameter:
        description: The variable's parameters.
        items:
          type: Parameter
        type: array
        required: false
      parentFolderId:
        description: Parent folder id.
        type: string
        required: false
      scheduleEndMs:
        description: The end timestamp in milliseconds to schedule a variable.
        format: int64
        type: string
        facets:
          format: string
        required: false
      scheduleStartMs:
        description: The start timestamp in milliseconds to schedule a variable.
        format: int64
        type: string
        facets:
          format: string
        required: false
      type:
        description: GTM Variable Type.
        type: string
        required: false
      variableId:
        description: The Variable ID uniquely identifies the GTM Variable.
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
