#%RAML 1.0
title: Google Compute Engine Instance Groups
version: v1beta2
baseUri: 'https://www.googleapis.com/resourceviews/v1beta2/projects'
protocols:
  - HTTPS
description: The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.
(oas-tags-definition):
  - name: zoneOperations
  - name: zoneViews
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/resourceviews/v1beta2/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): resourceviews
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/compute/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - 'https://www.googleapis.com/auth/compute'
        - 'https://www.googleapis.com/auth/compute.readonly'
        - 'https://www.googleapis.com/auth/ndev.cloudman'
        - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
    description: Oauth 2.0 authentication
'/{project}':
  displayName: '{project}'
  /zones:
    displayName: zones
    '/{zone}':
      displayName: '{zone}'
      /resourceViews:
        displayName: resourceViews
        '/{resourceView}':
          displayName: '{resourceView}'
          uriParameters:
            resourceView:
              description: The name of the resource view.
              required: true
              type: string
          get:
            displayName: resourceviews.zoneViews.get
            description: Get the information of a zonal resource view.
            responses:
              '200':
                body:
                  application/json:
                    type: ResourceView
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
            (oas-tags):
              - zoneViews
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          /setService:
            displayName: setService
            post:
              displayName: resourceviews.zoneViews.setService
              description: Update the service information of a resource view or a resource.
              body:
                application/json:
                  type: ZoneViewsSetServiceRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/ndev.cloudman'
              (oas-tags):
                - zoneViews
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /resources:
            displayName: resources
            get:
              displayName: resourceviews.zoneViews.listResources
              description: List the resources of the resource view.
              responses:
                '200':
                  body:
                    application/json:
                      type: ZoneViewsListResourcesResponse
                  description: Successful response
              queryParameters:
                format:
                  description: 'The requested format of the return value. It can be URL or URL_PORT. A JSON object will be included in the response based on the format. The default format is NONE, which results in no JSON in the response.'
                  enum:
                    - NONE
                    - URL
                    - URL_PORT
                  type: string
                listState:
                  default: ALL
                  description: 'The state of the instance to list. By default, it lists all instances.'
                  enum:
                    - ALL
                    - RUNNING
                  type: string
                maxResults:
                  default: 5000
                  description: 'Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)'
                  maximum: 5000
                  minimum: 0
                  type: integer
                pageToken:
                  description: Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.
                  type: string
                serviceName:
                  description: 'The service name to return in the response. It is optional and if it is not set, all the service end points will be returned.'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
              (oas-tags):
                - zoneViews
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /removeResources:
            displayName: removeResources
            post:
              displayName: resourceviews.zoneViews.removeResources
              description: Remove resources from the view.
              body:
                application/json:
                  type: ZoneViewsRemoveResourcesRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/ndev.cloudman'
              (oas-tags):
                - zoneViews
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /getService:
            displayName: getService
            post:
              displayName: resourceviews.zoneViews.getService
              description: Get the service information of a resource view or a resource.
              responses:
                '200':
                  body:
                    application/json:
                      type: ZoneViewsGetServiceResponse
                  description: Successful response
              queryParameters:
                resourceName:
                  description: The name of the resource if user wants to get the service information of the resource.
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/ndev.cloudman'
              (oas-tags):
                - zoneViews
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /addResources:
            displayName: addResources
            post:
              displayName: resourceviews.zoneViews.addResources
              description: Add resources to the view.
              body:
                application/json:
                  type: ZoneViewsAddResourcesRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/ndev.cloudman'
              (oas-tags):
                - zoneViews
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          delete:
            displayName: resourceviews.zoneViews.delete
            description: Delete a resource view.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/ndev.cloudman'
            (oas-tags):
              - zoneViews
        post:
          displayName: resourceviews.zoneViews.insert
          description: Create a resource view.
          body:
            application/json:
              type: ResourceView
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.cloudman'
          (oas-tags):
            - zoneViews
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: resourceviews.zoneViews.list
          description: List resource views.
          responses:
            '200':
              body:
                application/json:
                  type: ZoneViewsList
              description: Successful response
          queryParameters:
            maxResults:
              default: 5000
              description: 'Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)'
              maximum: 5000
              minimum: 0
              type: integer
            pageToken:
              description: Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
          (oas-tags):
            - zoneViews
      /operations:
        displayName: operations
        get:
          displayName: resourceviews.zoneOperations.list
          description: Retrieves the list of operation resources contained within the specified zone.
          responses:
            '200':
              body:
                application/json:
                  type: OperationList
              description: Successful response
          queryParameters:
            filter:
              description: Optional. Filter expression for filtering listed resources.
              type: string
            maxResults:
              default: 500
              description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
              maximum: 500
              minimum: 0
              type: integer
            pageToken:
              description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
          (oas-tags):
            - zoneOperations
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{operation}':
          displayName: '{operation}'
          uriParameters:
            operation:
              description: Name of the operation resource to return.
              required: true
              type: string
          get:
            displayName: resourceviews.zoneOperations.get
            description: Retrieves the specified zone-specific operation resource.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
            (oas-tags):
              - zoneOperations
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
types:
  Label:
    description: The Label to be applied to the resource views.
    properties:
      key:
        description: Key of the label.
        type: string
        required: false
      value:
        description: Value of the label.
        type: string
        required: false
  ListResourceResponseItem:
    description: The list response item that contains the resource and end points information.
    properties:
      endpoints:
        additionalProperties:
          description: The name of the service end point.
          items:
            format: int32
            type: integer
          type: array
        description: The list of service end points on the resource.
        type: object
        required: false
      resource:
        description: The full URL of the resource.
        type: string
        required: false
  Operation:
    description: 'An operation resource, used to manage asynchronous API requests.'
    properties:
      clientOperationId:
        description: '[Output only] An optional identifier specified by the client when the mutation was initiated. Must be unique for all operation resources in the project.'
        type: string
        required: false
      creationTimestamp:
        description: '[Output Only] The time that this operation was requested, in RFC3339 text format.'
        type: string
        required: false
      endTime:
        description: '[Output Only] The time that this operation was completed, in RFC3339 text format.'
        type: string
        required: false
      error:
        description: '[Output Only] If errors occurred during processing of this operation, this field will be populated.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                  required: false
                location:
                  description: '[Output Only] Indicates the field in the request which caused the error. This property is optional.'
                  type: string
                  required: false
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      httpErrorMessage:
        description: '[Output only] If operation fails, the HTTP error message returned.'
        type: string
        required: false
      httpErrorStatusCode:
        description: '[Output only] If operation fails, the HTTP error status code returned.'
        format: int32
        type: integer
        required: false
      id:
        description: '[Output Only] Unique identifier for the resource, generated by the server.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      insertTime:
        description: '[Output Only] The time that this operation was requested, in RFC3339 text format.'
        type: string
        required: false
      kind:
        default: 'resourceviews#operation'
        description: '[Output only] Type of the resource.'
        type: string
        required: false
      name:
        description: '[Output Only] Name of the resource.'
        type: string
        required: false
      operationType:
        description: '[Output only] Type of the operation. Operations include insert, update, and delete.'
        type: string
        required: false
      progress:
        description: '[Output only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the operation will be complete. This number should be monotonically increasing as the operation progresses.'
        format: int32
        type: integer
        required: false
      region:
        description: '[Output Only] URL of the region where the operation resides. Only available when performing regional operations.'
        type: string
        required: false
      selfLink:
        description: '[Output Only] Server-defined fully-qualified URL for this resource.'
        type: string
        required: false
      startTime:
        description: '[Output Only] The time that this operation was started by the server, in RFC3339 text format.'
        type: string
        required: false
      status:
        description: '[Output Only] Status of the operation.'
        type: string
        required: false
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the operation.'
        type: string
        required: false
      targetId:
        description: '[Output Only] Unique target ID which identifies a particular incarnation of the target.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      targetLink:
        description: '[Output only] URL of the resource the operation is mutating.'
        type: string
        required: false
      user:
        description: '[Output Only] User who requested the operation, for example: user@example.com.'
        type: string
        required: false
      warnings:
        description: '[Output Only] If there are issues with this operation, a warning is returned.'
        items:
          properties:
            code:
              description: '[Output only] The warning type identifier for this warning.'
              type: string
              required: false
            data:
              description: '[Output only] Metadata for this warning in key:value format.'
              items:
                properties:
                  key:
                    description: '[Output Only] Metadata key for this warning.'
                    type: string
                    required: false
                  value:
                    description: '[Output Only] Metadata value for this warning.'
                    type: string
                    required: false
                type: object
              type: array
              required: false
            message:
              description: '[Output only] Optional human-readable details for this warning.'
              type: string
              required: false
          type: object
        type: array
        required: false
      zone:
        description: '[Output Only] URL of the zone where the operation resides. Only available when performing per-zone operations.'
        type: string
        required: false
  OperationList:
    properties:
      id:
        description: Unique identifier for the resource; defined by the server (output only).
        type: string
        required: false
      items:
        description: The operation resources.
        items:
          type: Operation
        type: array
        required: false
      kind:
        default: 'resourceviews#operationList'
        description: Type of resource.
        type: string
        required: false
      nextPageToken:
        description: A token used to continue a truncated list request (output only).
        type: string
        required: false
      selfLink:
        description: Server defined URL for this resource (output only).
        type: string
        required: false
  ResourceView:
    description: The resource view object.
    properties:
      creationTimestamp:
        description: The creation time of the resource view.
        type: string
        required: false
      description:
        description: The detailed description of the resource view.
        type: string
        required: false
      endpoints:
        description: Services endpoint information.
        items:
          type: ServiceEndpoint
        type: array
        required: false
      fingerprint:
        description: The fingerprint of the service endpoint information.
        type: string
        required: false
      id:
        description: '[Output Only] The ID of the resource view.'
        type: string
        required: false
      kind:
        default: 'resourceviews#resourceView'
        description: Type of the resource.
        type: string
        required: false
      labels:
        description: The labels for events.
        items:
          type: Label
        type: array
        required: false
      name:
        description: The name of the resource view.
        type: string
        required: false
      network:
        description: The URL of a Compute Engine network to which the resources in the view belong.
        type: string
        required: false
      resources:
        description: A list of all resources in the resource view.
        items:
          type: string
        type: array
        required: false
      selfLink:
        description: '[Output Only] A self-link to the resource view.'
        type: string
        required: false
      size:
        description: The total number of resources in the resource view.
        type: integer
        required: false
  ServiceEndpoint:
    description: The service endpoint that may be started in a VM.
    properties:
      name:
        description: The name of the service endpoint.
        type: string
        required: false
      port:
        description: The port of the service endpoint.
        format: int32
        type: integer
        required: false
  ZoneViewsAddResourcesRequest:
    description: The request to add resources to the resource view.
    properties:
      resources:
        description: The list of resources to be added.
        items:
          type: string
        type: array
        required: false
  ZoneViewsGetServiceResponse:
    properties:
      endpoints:
        description: The service information.
        items:
          type: ServiceEndpoint
        type: array
        required: false
      fingerprint:
        description: The fingerprint of the service information.
        type: string
        required: false
  ZoneViewsList:
    description: The response to a list request.
    properties:
      items:
        description: The result that contains all resource views that meet the criteria.
        items:
          type: ResourceView
        type: array
        required: false
      kind:
        default: 'resourceviews#zoneViewsList'
        description: Type of resource.
        type: string
        required: false
      nextPageToken:
        description: A token used for pagination.
        type: string
        required: false
      selfLink:
        description: Server defined URL for this resource (output only).
        type: string
        required: false
  ZoneViewsListResourcesResponse:
    description: The response to a list resource request.
    properties:
      items:
        description: The formatted JSON that is requested by the user.
        items:
          type: ListResourceResponseItem
        type: array
        required: false
      network:
        description: The URL of a Compute Engine network to which the resources in the view belong.
        type: string
        required: false
      nextPageToken:
        description: A token used for pagination.
        type: string
        required: false
  ZoneViewsRemoveResourcesRequest:
    description: The request to remove resources from the resource view.
    properties:
      resources:
        description: The list of resources to be removed.
        items:
          type: string
        type: array
        required: false
  ZoneViewsSetServiceRequest:
    properties:
      endpoints:
        description: The service information to be updated.
        items:
          type: ServiceEndpoint
        type: array
        required: false
      fingerprint:
        description: Fingerprint of the service information; a hash of the contents. This field is used for optimistic locking when updating the service entries.
        type: string
        required: false
      resourceName:
        description: The name of the resource if user wants to update the service information of the resource.
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
