#%RAML 1.0
title: YouTube Data
version: v3
baseUri: 'https://www.googleapis.com/youtube/v3'
protocols:
  - HTTPS
description: 'Supports core YouTube features, such as uploading videos, creating and managing playlists, searching for content, and much more.'
(oas-tags-definition):
  - name: activities
  - name: captions
  - name: channelBanners
  - name: channelSections
  - name: channels
  - name: commentThreads
  - name: comments
  - name: fanFundingEvents
  - name: guideCategories
  - name: i18nLanguages
  - name: i18nRegions
  - name: liveBroadcasts
  - name: liveChatBans
  - name: liveChatMessages
  - name: liveChatModerators
  - name: liveStreams
  - name: playlistItems
  - name: playlists
  - name: search
  - name: sponsors
  - name: subscriptions
  - name: thumbnails
  - name: videoAbuseReportReasons
  - name: videoCategories
  - name: videos
  - name: watermarks
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.youtube.com_yt_brand_media_image_YouTube-logo-full_color.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): youtube
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/youtube/v3'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/youtube'
        - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - 'https://www.googleapis.com/auth/youtube.readonly'
        - 'https://www.googleapis.com/auth/youtube.upload'
        - 'https://www.googleapis.com/auth/youtubepartner'
        - 'https://www.googleapis.com/auth/youtubepartner-channel-audit'
    description: Oauth 2.0 authentication
/liveChat:
  displayName: liveChat
  /bans:
    displayName: bans
    post:
      displayName: youtube.liveChatBans.insert
      description: Adds a new ban to the chat.
      body:
        application/json:
          type: LiveChatBan
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: LiveChatBan
          description: Successful response
      queryParameters:
        part:
          description: The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - liveChatBans
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    delete:
      displayName: youtube.liveChatBans.delete
      description: Removes a chat ban.
      responses:
        '200':
          description: Successful response
      queryParameters:
        id:
          description: The id parameter identifies the chat ban to remove. The value uniquely identifies both the ban and the chat.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - liveChatBans
  /messages:
    displayName: messages
    delete:
      displayName: youtube.liveChatMessages.delete
      description: Deletes a chat message.
      responses:
        '200':
          description: Successful response
      queryParameters:
        id:
          description: The id parameter specifies the YouTube chat message ID of the resource that is being deleted.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - liveChatMessages
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: youtube.liveChatMessages.list
      description: Lists live chat messages for a specific chat.
      responses:
        '200':
          body:
            application/json:
              type: LiveChatMessageListResponse
          description: Successful response
      queryParameters:
        liveChatId:
          description: The liveChatId parameter specifies the ID of the chat whose messages will be returned.
          required: true
          type: string
        part:
          description: The part parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet.
          required: true
          type: string
        hl:
          description: |-
            The hl parameter instructs the API to retrieve localized resource metadata for a specific application language that the YouTube website supports. The parameter value must be a language code included in the list returned by the i18nLanguages.list method.

            If localized resource details are available in that language, the resource's snippet.localized object will contain the localized values. However, if localized details are not available, the snippet.localized object will contain resource details in the resource's default language.
          type: string
        maxResults:
          default: 500
          description: The maxResults parameter specifies the maximum number of messages that should be returned in the result set.
          maximum: 2000
          minimum: 200
          type: integer
        pageToken:
          description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.'
          type: string
        profileImageSize:
          description: 'The profileImageSize parameter specifies the size of the user profile pictures that should be returned in the result set. Default: 88.'
          maximum: 720
          minimum: 16
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.readonly'
      (oas-tags):
        - liveChatMessages
    post:
      displayName: youtube.liveChatMessages.insert
      description: Adds a message to a live chat.
      body:
        application/json:
          type: LiveChatMessage
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: LiveChatMessage
          description: Successful response
      queryParameters:
        part:
          description: The part parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - liveChatMessages
  /moderators:
    displayName: moderators
    delete:
      displayName: youtube.liveChatModerators.delete
      description: Removes a chat moderator.
      responses:
        '200':
          description: Successful response
      queryParameters:
        id:
          description: The id parameter identifies the chat moderator to remove. The value uniquely identifies both the moderator and the chat.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - liveChatModerators
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: youtube.liveChatModerators.list
      description: Lists moderators for a live chat.
      responses:
        '200':
          body:
            application/json:
              type: LiveChatModeratorListResponse
          description: Successful response
      queryParameters:
        liveChatId:
          description: The liveChatId parameter specifies the YouTube live chat for which the API should return moderators.
          required: true
          type: string
        part:
          description: The part parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.
          required: true
          type: string
        maxResults:
          default: 5
          description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
          maximum: 50
          minimum: 0
          type: integer
        pageToken:
          description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.readonly'
      (oas-tags):
        - liveChatModerators
    post:
      displayName: youtube.liveChatModerators.insert
      description: Adds a new moderator for the chat.
      body:
        application/json:
          type: LiveChatModerator
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: LiveChatModerator
          description: Successful response
      queryParameters:
        part:
          description: The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - liveChatModerators
/watermarks:
  displayName: watermarks
  /unset:
    displayName: unset
    post:
      displayName: youtube.watermarks.unset
      description: Deletes a channel's watermark image.
      responses:
        '200':
          description: Successful response
      queryParameters:
        channelId:
          description: The channelId parameter specifies the YouTube channel ID for which the watermark is being unset.
          required: true
          type: string
        onBehalfOfContentOwner:
          description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtubepartner'
      (oas-tags):
        - watermarks
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /set:
    displayName: set
    post:
      displayName: youtube.watermarks.set
      description: Uploads a watermark image to YouTube and sets it for a channel.
      body:
        application/json:
          type: InvideoBranding
          (oas-body-name): body
      responses:
        '200':
          description: Successful response
      queryParameters:
        channelId:
          description: The channelId parameter specifies the YouTube channel ID for which the watermark is being provided.
          required: true
          type: string
        onBehalfOfContentOwner:
          description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtubepartner'
      (oas-tags):
        - watermarks
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/activities:
  displayName: activities
  get:
    displayName: youtube.activities.list
    description: 'Returns a list of channel activity events that match the request criteria. For example, you can retrieve events associated with a particular channel, events associated with the user''s subscriptions and Google+ friends, or the YouTube home page feed, which is customized for each user.'
    responses:
      '200':
        body:
          application/json:
            type: ActivityListResponse
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter specifies a comma-separated list of one or more activity resource properties that the API response will include.

          If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set part=snippet, the API response will also contain all of those nested properties.
        required: true
        type: string
      channelId:
        description: The channelId parameter specifies a unique YouTube channel ID. The API will then return a list of that channel's activities.
        type: string
      home:
        description: Set this parameter's value to true to retrieve the activity feed that displays on the YouTube home page for the currently authenticated user.
        type: boolean
      maxResults:
        default: 5
        description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
        maximum: 50
        minimum: 0
        type: integer
      mine:
        description: Set this parameter's value to true to retrieve a feed of the authenticated user's activities.
        type: boolean
      pageToken:
        description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
        type: string
      publishedAfter:
        description: 'The publishedAfter parameter specifies the earliest date and time that an activity could have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be included in the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.'
        type: string
      publishedBefore:
        description: 'The publishedBefore parameter specifies the date and time before which an activity must have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be excluded from the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.'
        type: string
      regionCode:
        description: The regionCode parameter instructs the API to return results for the specified country. The parameter value is an ISO 3166-1 alpha-2 country code. YouTube uses this value when the authorized user's previous activity on YouTube does not provide enough information to generate the activity feed.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.readonly'
    (oas-tags):
      - activities
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: youtube.activities.insert
    description: |-
      Posts a bulletin for a specific channel. (The user submitting the request must be authorized to act on the channel's behalf.)

      Note: Even though an activity resource can contain information about actions like a user rating a video or marking a video as a favorite, you need to use other API methods to generate those activity resources. For example, you would use the API's videos.rate() method to rate a video and the playlistItems.insert() method to mark a video as a favorite.
    body:
      application/json:
        type: Activity
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Activity
        description: Successful response
    queryParameters:
      part:
        description: The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - activities
/captions:
  displayName: captions
  delete:
    displayName: youtube.captions.delete
    description: Deletes a specified caption track.
    responses:
      '200':
        description: Successful response
    queryParameters:
      id:
        description: The id parameter identifies the caption track that is being deleted. The value is a caption track ID as identified by the id property in a caption resource.
        required: true
        type: string
      onBehalfOf:
        description: ID of the Google+ Page for the channel that the request is be on behalf of
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - captions
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: youtube.captions.insert
    description: Uploads a caption track.
    body:
      application/json:
        type: Caption
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Caption
        description: Successful response
    queryParameters:
      part:
        description: The part parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.
        required: true
        type: string
      onBehalfOf:
        description: ID of the Google+ Page for the channel that the request is be on behalf of
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      sync:
        description: |-
          The sync parameter indicates whether YouTube should automatically synchronize the caption file with the audio track of the video. If you set the value to true, YouTube will disregard any time codes that are in the uploaded caption file and generate new time codes for the captions.

          You should set the sync parameter to true if you are uploading a transcript, which has no time codes, or if you suspect the time codes in your file are incorrect and want YouTube to try to fix them.
        type: boolean
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - captions
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: The id parameter identifies the caption track that is being retrieved. The value is a caption track ID as identified by the id property in a caption resource.
        required: true
        type: string
    get:
      displayName: youtube.captions.download
      description: Downloads a caption track. The caption track is returned in its original format unless the request specifies a value for the tfmt parameter and in its original language unless the request specifies a value for the tlang parameter.
      responses:
        '200':
          description: Successful response
      queryParameters:
        onBehalfOf:
          description: ID of the Google+ Page for the channel that the request is be on behalf of
          type: string
        onBehalfOfContentOwner:
          description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          type: string
        tfmt:
          description: 'The tfmt parameter specifies that the caption track should be returned in a specific format. If the parameter is not included in the request, the track is returned in its original format.'
          enum:
            - sbv
            - scc
            - srt
            - ttml
            - vtt
          type: string
        tlang:
          description: 'The tlang parameter specifies that the API response should return a translation of the specified caption track. The parameter value is an ISO 639-1 two-letter language code that identifies the desired caption language. The translation is generated by using machine translation, such as Google Translate.'
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtubepartner'
      (oas-tags):
        - captions
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: youtube.captions.list
    description: Returns a list of caption tracks that are associated with a specified video. Note that the API response does not contain the actual captions and that the captions.download method provides the ability to retrieve a caption track.
    responses:
      '200':
        body:
          application/json:
            type: CaptionListResponse
        description: Successful response
    queryParameters:
      part:
        description: The part parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.
        required: true
        type: string
      videoId:
        description: The videoId parameter specifies the YouTube video ID of the video for which the API should return caption tracks.
        required: true
        type: string
      id:
        description: The id parameter specifies a comma-separated list of IDs that identify the caption resources that should be retrieved. Each ID must identify a caption track associated with the specified video.
        type: string
      onBehalfOf:
        description: ID of the Google+ Page for the channel that the request is on behalf of.
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - captions
  put:
    displayName: youtube.captions.update
    description: 'Updates a caption track. When updating a caption track, you can change the track''s draft status, upload a new caption file for the track, or both.'
    body:
      application/json:
        type: Caption
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Caption
        description: Successful response
    queryParameters:
      part:
        description: 'The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the property value to snippet if you are updating the track''s draft status. Otherwise, set the property value to id.'
        required: true
        type: string
      onBehalfOf:
        description: ID of the Google+ Page for the channel that the request is be on behalf of
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      sync:
        description: |-
          Note: The API server only processes the parameter value if the request contains an updated caption file.

          The sync parameter indicates whether YouTube should automatically synchronize the caption file with the audio track of the video. If you set the value to true, YouTube will automatically synchronize the caption track with the audio track.
        type: boolean
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - captions
/channelSections:
  displayName: channelSections
  delete:
    displayName: youtube.channelSections.delete
    description: Deletes a channelSection.
    responses:
      '200':
        description: Successful response
    queryParameters:
      id:
        description: 'The id parameter specifies the YouTube channelSection ID for the resource that is being deleted. In a channelSection resource, the id property specifies the YouTube channelSection ID.'
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - channelSections
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: youtube.channelSections.insert
    description: Adds a channelSection for the authenticated user's channel.
    body:
      application/json:
        type: ChannelSection
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: ChannelSection
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          The part names that you can include in the parameter value are snippet and contentDetails.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - channelSections
  put:
    displayName: youtube.channelSections.update
    description: Update a channelSection.
    body:
      application/json:
        type: ChannelSection
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: ChannelSection
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          The part names that you can include in the parameter value are snippet and contentDetails.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - channelSections
  get:
    displayName: youtube.channelSections.list
    description: Returns channelSection resources that match the API request criteria.
    responses:
      '200':
        body:
          application/json:
            type: ChannelSectionListResponse
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails.

          If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set part=snippet, the API response will also contain all of those nested properties.
        required: true
        type: string
      channelId:
        description: The channelId parameter specifies a YouTube channel ID. The API will only return that channel's channelSections.
        type: string
      hl:
        description: 'The hl parameter indicates that the snippet.localized property values in the returned channelSection resources should be in the specified language if localized values for that language are available. For example, if the API request specifies hl=de, the snippet.localized properties in the API response will contain German titles if German titles are available. Channel owners can provide localized channel section titles using either the channelSections.insert or channelSections.update method.'
        type: string
      id:
        description: 'The id parameter specifies a comma-separated list of the YouTube channelSection ID(s) for the resource(s) that are being retrieved. In a channelSection resource, the id property specifies the YouTube channelSection ID.'
        type: string
      mine:
        description: Set this parameter's value to true to retrieve a feed of the authenticated user's channelSections.
        type: boolean
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - channelSections
/liveStreams:
  displayName: liveStreams
  delete:
    displayName: youtube.liveStreams.delete
    description: Deletes a video stream.
    responses:
      '200':
        description: Successful response
    queryParameters:
      id:
        description: The id parameter specifies the YouTube live stream ID for the resource that is being deleted.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - liveStreams
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: youtube.liveStreams.list
    description: Returns a list of video streams that match the API request parameters.
    responses:
      '200':
        body:
          application/json:
            type: LiveStreamListResponse
        description: Successful response
    queryParameters:
      part:
        description: 'The part parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.'
        required: true
        type: string
      id:
        description: 'The id parameter specifies a comma-separated list of YouTube stream IDs that identify the streams being retrieved. In a liveStream resource, the id property specifies the stream''s ID.'
        type: string
      maxResults:
        default: 5
        description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
        maximum: 50
        minimum: 0
        type: integer
      mine:
        description: The mine parameter can be used to instruct the API to only return streams owned by the authenticated user. Set the parameter value to true to only retrieve your own streams.
        type: boolean
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
      pageToken:
        description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.readonly'
    (oas-tags):
      - liveStreams
  post:
    displayName: youtube.liveStreams.insert
    description: 'Creates a video stream. The stream enables you to send your video to YouTube, which can then broadcast the video to your audience.'
    body:
      application/json:
        type: LiveStream
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: LiveStream
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          The part properties that you can include in the parameter value are id, snippet, cdn, and status.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - liveStreams
  put:
    displayName: youtube.liveStreams.update
    description: 'Updates a video stream. If the properties that you want to change cannot be updated, then you need to create a new stream with the proper settings.'
    body:
      application/json:
        type: LiveStream
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: LiveStream
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          The part properties that you can include in the parameter value are id, snippet, cdn, and status.

          Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - liveStreams
/channels:
  displayName: channels
  get:
    displayName: youtube.channels.list
    description: Returns a collection of zero or more channel resources that match the request criteria.
    responses:
      '200':
        body:
          application/json:
            type: ChannelListResponse
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter specifies a comma-separated list of one or more channel resource properties that the API response will include.

          If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set part=contentDetails, the API response will also contain all of those nested properties.
        required: true
        type: string
      categoryId:
        description: 'The categoryId parameter specifies a YouTube guide category, thereby requesting YouTube channels associated with that category.'
        type: string
      forUsername:
        description: 'The forUsername parameter specifies a YouTube username, thereby requesting the channel associated with that username.'
        type: string
      hl:
        description: The hl parameter should be used for filter out the properties that are not in the given language. Used for the brandingSettings part.
        type: string
      id:
        description: 'The id parameter specifies a comma-separated list of the YouTube channel ID(s) for the resource(s) that are being retrieved. In a channel resource, the id property specifies the channel''s YouTube channel ID.'
        type: string
      managedByMe:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          Set this parameter's value to true to instruct the API to only return channels managed by the content owner that the onBehalfOfContentOwner parameter specifies. The user must be authenticated as a CMS account linked to the specified content owner and onBehalfOfContentOwner must be provided.
        type: boolean
      maxResults:
        default: 5
        description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
        maximum: 50
        minimum: 0
        type: integer
      mine:
        description: Set this parameter's value to true to instruct the API to only return channels owned by the authenticated user.
        type: boolean
      mySubscribers:
        description: Use the subscriptions.list method and its mySubscribers parameter to retrieve a list of subscribers to the authenticated user's channel.
        type: boolean
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      pageToken:
        description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner-channel-audit'
    (oas-tags):
      - channels
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  put:
    displayName: youtube.channels.update
    description: Updates a channel's metadata. Note that this method currently only supports updates to the channel resource's brandingSettings and invideoPromotion objects and their child properties.
    body:
      application/json:
        type: Channel
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Channel
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.)

          Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: 'The onBehalfOfContentOwner parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - channels
/commentThreads:
  displayName: commentThreads
  get:
    displayName: youtube.commentThreads.list
    description: Returns a list of comment threads that match the API request parameters.
    responses:
      '200':
        body:
          application/json:
            type: CommentThreadListResponse
        description: Successful response
    queryParameters:
      part:
        description: The part parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.
        required: true
        type: string
      allThreadsRelatedToChannelId:
        description: The allThreadsRelatedToChannelId parameter instructs the API to return all comment threads associated with the specified channel. The response can include comments about the channel or about the channel's videos.
        type: string
      channelId:
        description: The channelId parameter instructs the API to return comment threads containing comments about the specified channel. (The response will not include comments left on videos that the channel uploaded.)
        type: string
      id:
        description: The id parameter specifies a comma-separated list of comment thread IDs for the resources that should be retrieved.
        type: string
      maxResults:
        default: 20
        description: |-
          The maxResults parameter specifies the maximum number of items that should be returned in the result set.

          Note: This parameter is not supported for use in conjunction with the id parameter.
        maximum: 100
        minimum: 1
        type: integer
      moderationStatus:
        default: published
        description: |-
          Set this parameter to limit the returned comment threads to a particular moderation state.

          Note: This parameter is not supported for use in conjunction with the id parameter.
        enum:
          - heldForReview
          - likelySpam
          - published
        type: string
      order:
        description: |-
          The order parameter specifies the order in which the API response should list comment threads. Valid values are: 
          - time - Comment threads are ordered by time. This is the default behavior.
          - relevance - Comment threads are ordered by relevance.Note: This parameter is not supported for use in conjunction with the id parameter.
        enum:
          - relevance
          - time
        type: string
      pageToken:
        description: |-
          The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved.

          Note: This parameter is not supported for use in conjunction with the id parameter.
        type: string
      searchTerms:
        description: |-
          The searchTerms parameter instructs the API to limit the API response to only contain comments that contain the specified search terms.

          Note: This parameter is not supported for use in conjunction with the id parameter.
        type: string
      textFormat:
        default: html
        description: Set this parameter's value to html or plainText to instruct the API to return the comments left by users in html formatted or in plain text.
        enum:
          - html
          - plainText
        type: string
      videoId:
        description: The videoId parameter instructs the API to return comment threads associated with the specified video ID.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - commentThreads
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  put:
    displayName: youtube.commentThreads.update
    description: Modifies the top-level comment in a comment thread.
    body:
      application/json:
        type: CommentThread
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: CommentThread
        description: Successful response
    queryParameters:
      part:
        description: The part parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - commentThreads
  post:
    displayName: youtube.commentThreads.insert
    description: 'Creates a new top-level comment. To add a reply to an existing comment, use the comments.insert method instead.'
    body:
      application/json:
        type: CommentThread
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: CommentThread
        description: Successful response
    queryParameters:
      part:
        description: The part parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - commentThreads
/comments:
  displayName: comments
  get:
    displayName: youtube.comments.list
    description: Returns a list of comments that match the API request parameters.
    responses:
      '200':
        body:
          application/json:
            type: CommentListResponse
        description: Successful response
    queryParameters:
      part:
        description: The part parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.
        required: true
        type: string
      id:
        description: 'The id parameter specifies a comma-separated list of comment IDs for the resources that are being retrieved. In a comment resource, the id property specifies the comment''s ID.'
        type: string
      maxResults:
        default: 20
        description: |-
          The maxResults parameter specifies the maximum number of items that should be returned in the result set.

          Note: This parameter is not supported for use in conjunction with the id parameter.
        maximum: 100
        minimum: 1
        type: integer
      pageToken:
        description: |-
          The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved.

          Note: This parameter is not supported for use in conjunction with the id parameter.
        type: string
      parentId:
        description: |-
          The parentId parameter specifies the ID of the comment for which replies should be retrieved.

          Note: YouTube currently supports replies only for top-level comments. However, replies to replies may be supported in the future.
        type: string
      textFormat:
        default: html
        description: This parameter indicates whether the API should return comments formatted as HTML or as plain text.
        enum:
          - html
          - plainText
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - comments
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  put:
    displayName: youtube.comments.update
    description: Modifies a comment.
    body:
      application/json:
        type: Comment
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Comment
        description: Successful response
    queryParameters:
      part:
        description: The part parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - comments
  /setModerationStatus:
    displayName: setModerationStatus
    post:
      displayName: youtube.comments.setModerationStatus
      description: Sets the moderation status of one or more comments. The API request must be authorized by the owner of the channel or video associated with the comments.
      responses:
        '200':
          description: Successful response
      queryParameters:
        id:
          description: The id parameter specifies a comma-separated list of IDs that identify the comments for which you are updating the moderation status.
          required: true
          type: string
        moderationStatus:
          description: Identifies the new moderation status of the specified comments.
          enum:
            - heldForReview
            - published
            - rejected
          required: true
          type: string
        banAuthor:
          default: false
          description: |-
            The banAuthor parameter lets you indicate that you want to automatically reject any additional comments written by the comment's author. Set the parameter value to true to ban the author.

            Note: This parameter is only valid if the moderationStatus parameter is also set to rejected.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - comments
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  post:
    displayName: youtube.comments.insert
    description: 'Creates a reply to an existing comment. Note: To create a top-level comment, use the commentThreads.insert method.'
    body:
      application/json:
        type: Comment
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Comment
        description: Successful response
    queryParameters:
      part:
        description: The part parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - comments
  delete:
    displayName: youtube.comments.delete
    description: Deletes a comment.
    responses:
      '200':
        description: Successful response
    queryParameters:
      id:
        description: The id parameter specifies the comment ID for the resource that is being deleted.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - comments
  /markAsSpam:
    displayName: markAsSpam
    post:
      displayName: youtube.comments.markAsSpam
      description: Expresses the caller's opinion that one or more comments should be flagged as spam.
      responses:
        '200':
          description: Successful response
      queryParameters:
        id:
          description: The id parameter specifies a comma-separated list of IDs of comments that the caller believes should be classified as spam.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/youtube.force-ssl'
      (oas-tags):
        - comments
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/playlistItems:
  displayName: playlistItems
  delete:
    displayName: youtube.playlistItems.delete
    description: Deletes a playlist item.
    responses:
      '200':
        description: Successful response
    queryParameters:
      id:
        description: 'The id parameter specifies the YouTube playlist item ID for the playlist item that is being deleted. In a playlistItem resource, the id property specifies the playlist item''s ID.'
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlistItems
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: youtube.playlistItems.list
    description: Returns a collection of playlist items that match the API request parameters. You can retrieve all of the playlist items in a specified playlist or retrieve one or more playlist items by their unique IDs.
    responses:
      '200':
        body:
          application/json:
            type: PlaylistItemListResponse
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include.

          If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set part=snippet, the API response will contain all of those properties.
        required: true
        type: string
      id:
        description: The id parameter specifies a comma-separated list of one or more unique playlist item IDs.
        type: string
      maxResults:
        default: 5
        description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
        maximum: 50
        minimum: 0
        type: integer
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      pageToken:
        description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
        type: string
      playlistId:
        description: 'The playlistId parameter specifies the unique ID of the playlist for which you want to retrieve playlist items. Note that even though this is an optional parameter, every request to retrieve playlist items must specify a value for either the id parameter or the playlistId parameter.'
        type: string
      videoId:
        description: The videoId parameter specifies that the request should return only the playlist items that contain the specified video.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlistItems
  post:
    displayName: youtube.playlistItems.insert
    description: Adds a resource to a playlist.
    body:
      application/json:
        type: PlaylistItem
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: PlaylistItem
        description: Successful response
    queryParameters:
      part:
        description: The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlistItems
  put:
    displayName: youtube.playlistItems.update
    description: 'Modifies a playlist item. For example, you could update the item''s position in the playlist.'
    body:
      application/json:
        type: PlaylistItem
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: PlaylistItem
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlistItems
/guideCategories:
  displayName: guideCategories
  get:
    displayName: youtube.guideCategories.list
    description: Returns a list of categories that can be associated with YouTube channels.
    responses:
      '200':
        body:
          application/json:
            type: GuideCategoryListResponse
        description: Successful response
    queryParameters:
      part:
        description: The part parameter specifies the guideCategory resource properties that the API response will include. Set the parameter value to snippet.
        required: true
        type: string
      hl:
        default: en-US
        description: The hl parameter specifies the language that will be used for text values in the API response.
        type: string
      id:
        description: 'The id parameter specifies a comma-separated list of the YouTube channel category ID(s) for the resource(s) that are being retrieved. In a guideCategory resource, the id property specifies the YouTube channel category ID.'
        type: string
      regionCode:
        description: The regionCode parameter instructs the API to return the list of guide categories available in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - guideCategories
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/i18nRegions:
  displayName: i18nRegions
  get:
    displayName: youtube.i18nRegions.list
    description: Returns a list of content regions that the YouTube website supports.
    responses:
      '200':
        body:
          application/json:
            type: I18nRegionListResponse
        description: Successful response
    queryParameters:
      part:
        description: The part parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.
        required: true
        type: string
      hl:
        default: en_US
        description: The hl parameter specifies the language that should be used for text values in the API response.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - i18nRegions
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/playlists:
  displayName: playlists
  delete:
    displayName: youtube.playlists.delete
    description: Deletes a playlist.
    responses:
      '200':
        description: Successful response
    queryParameters:
      id:
        description: 'The id parameter specifies the YouTube playlist ID for the playlist that is being deleted. In a playlist resource, the id property specifies the playlist''s ID.'
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlists
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: youtube.playlists.list
    description: 'Returns a collection of playlists that match the API request parameters. For example, you can retrieve all playlists that the authenticated user owns, or you can retrieve one or more playlists by their unique IDs.'
    responses:
      '200':
        body:
          application/json:
            type: PlaylistListResponse
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include.

          If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set part=snippet, the API response will contain all of those properties.
        required: true
        type: string
      channelId:
        description: This value indicates that the API should only return the specified channel's playlists.
        type: string
      hl:
        description: The hl parameter should be used for filter out the properties that are not in the given language. Used for the snippet part.
        type: string
      id:
        description: 'The id parameter specifies a comma-separated list of the YouTube playlist ID(s) for the resource(s) that are being retrieved. In a playlist resource, the id property specifies the playlist''s YouTube playlist ID.'
        type: string
      maxResults:
        default: 5
        description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
        maximum: 50
        minimum: 0
        type: integer
      mine:
        description: Set this parameter's value to true to instruct the API to only return playlists owned by the authenticated user.
        type: boolean
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
      pageToken:
        description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlists
  post:
    displayName: youtube.playlists.insert
    description: Creates a playlist.
    body:
      application/json:
        type: Playlist
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Playlist
        description: Successful response
    queryParameters:
      part:
        description: The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlists
  put:
    displayName: youtube.playlists.update
    description: 'Modifies a playlist. For example, you could change a playlist''s title, description, or privacy status.'
    body:
      application/json:
        type: Playlist
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Playlist
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtubepartner'
    (oas-tags):
      - playlists
/liveBroadcasts:
  displayName: liveBroadcasts
  get:
    displayName: youtube.liveBroadcasts.list
    description: Returns a list of YouTube broadcasts that match the API request parameters.
    responses:
      '200':
        body:
          application/json:
            type: LiveBroadcastListResponse
        description: Successful response
    queryParameters:
      part:
        description: 'The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.'
        required: true
        type: string
      broadcastStatus:
        description: The broadcastStatus parameter filters the API response to only include broadcasts with the specified status.
        enum:
          - active
          - all
          - completed
          - upcoming
        type: string
      broadcastType:
        default: event
        description: The broadcastType parameter filters the API response to only include broadcasts with the specified type. This is only compatible with the mine filter for now.
        enum:
          - all
          - event
          - persistent
        type: string
      id:
        description: 'The id parameter specifies a comma-separated list of YouTube broadcast IDs that identify the broadcasts being retrieved. In a liveBroadcast resource, the id property specifies the broadcast''s ID.'
        type: string
      maxResults:
        default: 5
        description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
        maximum: 50
        minimum: 0
        type: integer
      mine:
        description: The mine parameter can be used to instruct the API to only return broadcasts owned by the authenticated user. Set the parameter value to true to only retrieve your own broadcasts.
        type: boolean
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
      pageToken:
        description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.readonly'
    (oas-tags):
      - liveBroadcasts
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  put:
    displayName: youtube.liveBroadcasts.update
    description: 'Updates a broadcast. For example, you could modify the broadcast settings defined in the liveBroadcast resource''s contentDetails object.'
    body:
      application/json:
        type: LiveBroadcast
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: LiveBroadcast
        description: Successful response
    queryParameters:
      part:
        description: |-
          The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

          The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.

          Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.
        required: true
        type: string
      onBehalfOfContentOwner:
        description: |-
          Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
        type: string
      onBehalfOfContentOwnerChannel:
        description: |-
          This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

          The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

          This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
    (oas-tags):
      - liveBroadcasts
  /control:
    displayName: control
    post:
      displayName: youtube.liveBroadcasts.control
      description: Controls the settings for a slate that can be displayed in the broadcast stream.
      responses:
        '200':
          body:
[...]
