#%RAML 1.0
title: BigQuery
version: v2
baseUri: 'https://www.googleapis.com/bigquery/v2'
protocols:
  - HTTPS
description: 'A data platform for customers to create, manage, share and query data.'
(oas-tags-definition):
  - name: datasets
  - name: jobs
  - name: projects
  - name: tabledata
  - name: tables
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/bigquery/v2/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): bigquery
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://cloud.google.com/bigquery/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/bigquery'
        - 'https://www.googleapis.com/auth/bigquery.insertdata'
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - 'https://www.googleapis.com/auth/devstorage.full_control'
        - 'https://www.googleapis.com/auth/devstorage.read_only'
        - 'https://www.googleapis.com/auth/devstorage.read_write'
    description: Oauth 2.0 authentication
/projects:
  displayName: projects
  '/{projectId}':
    displayName: '{projectId}'
    /datasets:
      displayName: datasets
      '/{datasetId}':
        displayName: '{datasetId}'
        /tables:
          displayName: tables
          '/{tableId}':
            displayName: '{tableId}'
            uriParameters:
              tableId:
                description: Table ID of the table to delete
                required: true
                type: string
                displayName: Table ID of the table to delete
            get:
              displayName: bigquery.tables.get
              description: 'Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.'
              responses:
                '200':
                  body:
                    application/json:
                      type: Table
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform.read-only'
              (oas-tags):
                - tables
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            patch:
              displayName: bigquery.tables.patch
              description: 'Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.'
              body:
                application/json:
                  type: Table
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Table
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform'
              (oas-tags):
                - tables
            put:
              displayName: bigquery.tables.update
              description: 'Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.'
              body:
                application/json:
                  type: Table
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Table
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform'
              (oas-tags):
                - tables
            /data:
              displayName: data
              get:
                displayName: bigquery.tabledata.list
                description: Retrieves table data from a specified set of rows. Requires the READER dataset role.
                responses:
                  '200':
                    body:
                      application/json:
                        type: TableDataList
                    description: Successful response
                queryParameters:
                  maxResults:
                    description: Maximum number of results to return
                    type: integer
                    displayName: Maximum number of results to return
                  pageToken:
                    description: 'Page token, returned by a previous call, identifying the result set'
                    type: string
                    displayName: 'Page token, returned by a previous call, identifying the result set'
                  startIndex:
                    description: Zero-based index of the starting row to read
                    type: string
                    displayName: Zero-based index of the starting row to read
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform.read-only'
                (oas-tags):
                  - tabledata
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
            /insertAll:
              displayName: insertAll
              post:
                displayName: bigquery.tabledata.insertAll
                description: Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.
                body:
                  application/json:
                    type: TableDataInsertAllRequest
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: TableDataInsertAllResponse
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - tabledata
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
            delete:
              displayName: bigquery.tables.delete
              description: 'Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.'
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform'
              (oas-tags):
                - tables
          post:
            displayName: bigquery.tables.insert
            description: 'Creates a new, empty table in the dataset.'
            body:
              application/json:
                type: Table
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Table
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform'
            (oas-tags):
              - tables
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: bigquery.tables.list
            description: Lists all tables in the specified dataset. Requires the READER dataset role.
            responses:
              '200':
                body:
                  application/json:
                    type: TableList
                description: Successful response
            queryParameters:
              maxResults:
                description: Maximum number of results to return
                type: integer
                displayName: Maximum number of results to return
              pageToken:
                description: 'Page token, returned by a previous call, to request the next page of results'
                type: string
                displayName: 'Page token, returned by a previous call, to request the next page of results'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform.read-only'
            (oas-tags):
              - tables
        uriParameters:
          datasetId:
            description: Dataset ID of the dataset being updated
            required: true
            type: string
            displayName: Dataset ID of the dataset being updated
        get:
          displayName: bigquery.datasets.get
          description: Returns the dataset specified by datasetID.
          responses:
            '200':
              body:
                application/json:
                  type: Dataset
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          (oas-tags):
            - datasets
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        put:
          displayName: bigquery.datasets.update
          description: 'Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.'
          body:
            application/json:
              type: Dataset
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Dataset
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform'
          (oas-tags):
            - datasets
        delete:
          displayName: bigquery.datasets.delete
          description: 'Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.'
          responses:
            '200':
              description: Successful response
          queryParameters:
            deleteContents:
              description: 'If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False'
              type: boolean
              displayName: 'If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False'
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform'
          (oas-tags):
            - datasets
        patch:
          displayName: bigquery.datasets.patch
          description: 'Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.'
          body:
            application/json:
              type: Dataset
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Dataset
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform'
          (oas-tags):
            - datasets
      post:
        displayName: bigquery.datasets.insert
        description: Creates a new empty dataset.
        body:
          application/json:
            type: Dataset
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Dataset
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform'
        (oas-tags):
          - datasets
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: bigquery.datasets.list
        description: Lists all datasets in the specified project to which you have been granted the READER dataset role.
        responses:
          '200':
            body:
              application/json:
                type: DatasetList
            description: Successful response
        queryParameters:
          all:
            description: 'Whether to list all datasets, including hidden ones'
            type: boolean
            displayName: 'Whether to list all datasets, including hidden ones'
          filter:
            description: 'An expression for filtering the results of the request by label. The syntax is "labels.<name>[:<value>]". Multiple filters can be ANDed together by connecting with a space. Example: "labels.department:receiving labels.active". See Filtering datasets using labels for details.'
            type: string
            displayName: 'An expression for filtering the results of the request by label. The syntax is "labels.<name>[:<value>]". Multiple filters can be ANDed together by connecting with a space. Example: "labels.department:receiving labels.active". See Filtering datasets using labels for details.'
          maxResults:
            description: The maximum number of results to return
            type: integer
            displayName: The maximum number of results to return
          pageToken:
            description: 'Page token, returned by a previous call, to request the next page of results'
            type: string
            displayName: 'Page token, returned by a previous call, to request the next page of results'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        (oas-tags):
          - datasets
    /queries:
      displayName: queries
      '/{jobId}':
        displayName: '{jobId}'
        uriParameters:
          jobId:
            description: '[Required] Job ID of the query job'
            required: true
            type: string
            displayName: '[Required] Job ID of the query job'
        get:
          displayName: bigquery.jobs.getQueryResults
          description: Retrieves the results of a query job.
          responses:
            '200':
              body:
                application/json:
                  type: GetQueryResultsResponse
              description: Successful response
          queryParameters:
            maxResults:
              description: Maximum number of results to read
              type: integer
              displayName: Maximum number of results to read
            pageToken:
              description: 'Page token, returned by a previous call, to request the next page of results'
              type: string
              displayName: 'Page token, returned by a previous call, to request the next page of results'
            startIndex:
              description: Zero-based index of the starting row
              type: string
              displayName: Zero-based index of the starting row
            timeoutMs:
              description: 'How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the ''jobComplete'' field in the response will be false'
              type: integer
              displayName: 'How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the ''jobComplete'' field in the response will be false'
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          (oas-tags):
            - jobs
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      post:
        displayName: bigquery.jobs.query
        description: Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.
        body:
          application/json:
            type: QueryRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: QueryResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        (oas-tags):
          - jobs
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /jobs:
      displayName: jobs
      get:
        displayName: bigquery.jobs.list
        description: 'Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.'
        responses:
          '200':
            body:
              application/json:
                type: JobList
            description: Successful response
        queryParameters:
          allUsers:
            description: Whether to display jobs owned by all users in the project. Default false
            type: boolean
            displayName: Whether to display jobs owned by all users in the project. Default false
          maxResults:
            description: Maximum number of results to return
            type: integer
            displayName: Maximum number of results to return
          pageToken:
            description: 'Page token, returned by a previous call, to request the next page of results'
            type: string
            displayName: 'Page token, returned by a previous call, to request the next page of results'
          projection:
            description: Restrict information returned to a set of selected fields
            enum:
              - full
              - minimal
            type: string
            displayName: Restrict information returned to a set of selected fields
          stateFilter:
            collectionFormat: multi
            description: Filter for job state
            items:
              enum:
                - done
                - pending
                - running
              type: string
            type: array
            displayName: Filter for job state
            facets:
              collectionFormat: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        (oas-tags):
          - jobs
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{jobId}':
        displayName: '{jobId}'
        /cancel:
          displayName: cancel
          post:
            displayName: bigquery.jobs.cancel
            description: 'Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.'
            responses:
              '200':
                body:
                  application/json:
                    type: JobCancelResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform'
            (oas-tags):
              - jobs
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        uriParameters:
          jobId:
            description: '[Required] Job ID of the requested job'
            required: true
            type: string
            displayName: '[Required] Job ID of the requested job'
        get:
          displayName: bigquery.jobs.get
          description: 'Returns information about a specific job. Job information is available for a six month period after creation. Requires that you''re the person who ran the job, or have the Is Owner project role.'
          responses:
            '200':
              body:
                application/json:
                  type: Job
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          (oas-tags):
            - jobs
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      post:
        displayName: bigquery.jobs.insert
        description: Starts a new asynchronous job. Requires the Can View project role.
        body:
          application/json:
            type: Job
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Job
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.read_write'
        (oas-tags):
          - jobs
  get:
    displayName: bigquery.projects.list
    description: Lists all projects to which you have been granted any project role.
    responses:
      '200':
        body:
          application/json:
            type: ProjectList
        description: Successful response
    queryParameters:
      maxResults:
        description: Maximum number of results to return
        type: integer
        displayName: Maximum number of results to return
      pageToken:
        description: 'Page token, returned by a previous call, to request the next page of results'
        type: string
        displayName: 'Page token, returned by a previous call, to request the next page of results'
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
    (oas-tags):
      - projects
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  BigtableColumn:
    properties:
      encoding:
        description: '[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. ''encoding'' can also be set at the column family level. However, the setting at this level takes precedence if ''encoding'' is set at both levels.'
        type: string
        required: false
      fieldName:
        description: '[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.'
        type: string
        required: false
      onlyReadLatest:
        description: '[Optional] If this is set, only the latest version of value in this column are exposed. ''onlyReadLatest'' can also be set at the column family level. However, the setting at this level takes precedence if ''onlyReadLatest'' is set at both levels.'
        type: boolean
        required: false
      qualifierEncoded:
        description: '[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.'
        format: byte
        type: string
        facets:
          format: string
        required: false
      qualifierString:
        type: string
        required: false
      type:
        description: '[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. ''type'' can also be set at the column family level. However, the setting at this level takes precedence if ''type'' is set at both levels.'
        type: string
        required: false
  BigtableColumnFamily:
    properties:
      columns:
        description: '[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.'
        items:
          type: BigtableColumn
        type: array
        required: false
      encoding:
        description: '[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in ''columns'' and specifying an encoding for it.'
        type: string
        required: false
      familyId:
        description: Identifier of the column family.
        type: string
        required: false
      onlyReadLatest:
        description: '[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in ''columns'' and specifying a different setting for that column.'
        type: boolean
        required: false
      type:
        description: '[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in ''columns'' and specifying a type for it.'
        type: string
        required: false
  BigtableOptions:
    properties:
      columnFamilies:
        description: '[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the ''type'' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.'
        items:
          type: BigtableColumnFamily
        type: array
        required: false
      ignoreUnspecifiedColumnFamilies:
        description: '[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.'
        type: boolean
        required: false
      readRowkeyAsString:
        description: '[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.'
        type: boolean
        required: false
  CsvOptions:
    properties:
      allowJaggedRows:
        description: '[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.'
        type: boolean
        required: false
      allowQuotedNewlines:
        description: '[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.'
        type: boolean
        required: false
      encoding:
        description: '[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.'
        type: string
        required: false
      fieldDelimiter:
        description: '[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence "\t" to specify a tab separator. The default value is a comma ('','').'
        type: string
        required: false
      quote:
        default: '"'
        description: '[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote (''"''). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.'
        pattern: .?
        type: string
        required: false
      skipLeadingRows:
        description: '[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  Dataset:
    properties:
      access:
        description: '[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;'
        items:
          properties:
            domain:
              description: '[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: "example.com".'
              type: string
              required: false
            groupByEmail:
              description: '[Pick one] An email address of a Google Group to grant access to.'
              type: string
              required: false
            role:
              description: '[Required] Describes the rights granted to the user specified by the other member of the access object. The following string values are supported: READER, WRITER, OWNER.'
              type: string
              required: false
            specialGroup:
              description: '[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users.'
              type: string
              required: false
            userByEmail:
              description: '[Pick one] An email address of a user to grant access to. For example: fred@example.com.'
              type: string
              required: false
            view:
              description: '[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.'
              type: TableReference
              required: false
          type: object
        type: array
        required: false
      creationTime:
        description: '[Output-only] The time when this dataset was created, in milliseconds since the epoch.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      datasetReference:
        description: '[Required] A reference that identifies the dataset.'
        type: DatasetReference
        required: false
      defaultTableExpirationMs:
        description: '[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table''s expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      description:
        description: '[Optional] A user-friendly description of the dataset.'
        type: string
        required: false
      etag:
        description: '[Output-only] A hash of the resource.'
        type: string
        required: false
      friendlyName:
        description: '[Optional] A descriptive name for the dataset.'
        type: string
        required: false
      id:
        description: '[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.'
        type: string
        required: false
      kind:
        default: 'bigquery#dataset'
        description: '[Output-only] The resource type.'
        type: string
        required: false
      labels:
        additionalProperties:
          type: string
        description: '[Experimental] The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Labeling Datasets for more information.'
        type: object
        required: false
      lastModifiedTime:
        description: '[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      location:
        description: '[Experimental] The geographic location where the dataset should reside. Possible values include EU and US. The default value is US.'
        type: string
        required: false
      selfLink:
        description: '[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.'
        type: string
        required: false
  DatasetList:
    properties:
      datasets:
        description: 'An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.'
        items:
          properties:
            datasetReference:
              description: 'The dataset reference. Use this property to access specific parts of the dataset''s ID, such as project ID or dataset ID.'
              type: DatasetReference
              required: false
            friendlyName:
              description: 'A descriptive name for the dataset, if one exists.'
              type: string
              required: false
            id:
              description: 'The fully-qualified, unique, opaque ID of the dataset.'
              type: string
              required: false
            kind:
              default: 'bigquery#dataset'
              description: 'The resource type. This property always returns the value "bigquery#dataset".'
              type: string
              required: false
            labels:
              additionalProperties:
                type: string
              description: '[Experimental] The labels associated with this dataset. You can use these to organize and group your datasets.'
              type: object
              required: false
          type: object
        type: array
        required: false
      etag:
        description: A hash value of the results page. You can use this property to determine if the page has changed since the last request.
        type: string
        required: false
      kind:
        default: 'bigquery#datasetList'
        description: 'The list type. This property always returns the value "bigquery#datasetList".'
        type: string
        required: false
      nextPageToken:
        description: A token that can be used to request the next results page. This property is omitted on the final results page.
        type: string
        required: false
  DatasetReference:
    properties:
      datasetId:
        description: '[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.'
        type: string
        required: false
      projectId:
        description: '[Optional] The ID of the project containing this dataset.'
        type: string
        required: false
  ErrorProto:
    properties:
      debugInfo:
        description: Debugging information. This property is internal to Google and should not be used.
        type: string
        required: false
      location:
        description: 'Specifies where the error occurred, if present.'
        type: string
        required: false
      message:
        description: A human-readable description of the error.
        type: string
        required: false
      reason:
        description: A short error code that summarizes the error.
        type: string
        required: false
  ExplainQueryStage:
    properties:
      computeRatioAvg:
        description: Relative amount of time the average shard spent on CPU-bound tasks.
        format: double
        type: number
        required: false
      computeRatioMax:
        description: Relative amount of time the slowest shard spent on CPU-bound tasks.
        format: double
        type: number
        required: false
      id:
        description: Unique ID for stage within plan.
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: Human-readable name for stage.
        type: string
        required: false
      readRatioAvg:
        description: Relative amount of time the average shard spent reading input.
        format: double
        type: number
        required: false
      readRatioMax:
        description: Relative amount of time the slowest shard spent reading input.
        format: double
        type: number
        required: false
      recordsRead:
        description: Number of records read into the stage.
        format: int64
        type: string
        facets:
          format: string
        required: false
      recordsWritten:
        description: Number of records written by the stage.
        format: int64
        type: string
        facets:
          format: string
        required: false
      steps:
        description: List of operations within the stage in dependency order (approximately chronological).
        items:
          type: ExplainQueryStep
        type: array
        required: false
      waitRatioAvg:
        description: Relative amount of time the average shard spent waiting to be scheduled.
        format: double
        type: number
        required: false
      waitRatioMax:
        description: Relative amount of time the slowest shard spent waiting to be scheduled.
        format: double
        type: number
        required: false
      writeRatioAvg:
        description: Relative amount of time the average shard spent on writing output.
        format: double
        type: number
        required: false
      writeRatioMax:
        description: Relative amount of time the slowest shard spent on writing output.
        format: double
        type: number
        required: false
  ExplainQueryStep:
    properties:
      kind:
        description: Machine-readable operation type.
        type: string
        required: false
      substeps:
        description: Human-readable stage descriptions.
        items:
          type: string
        type: array
        required: false
  ExternalDataConfiguration:
    properties:
      autodetect:
        description: '[Experimental] Try to detect schema and format options automatically. Any option specified explicitly will be honored.'
        type: boolean
        required: false
      bigtableOptions:
        description: '[Optional] Additional options if sourceFormat is set to BIGTABLE.'
        type: BigtableOptions
        required: false
      compression:
        description: '[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.'
        type: string
        required: false
      csvOptions:
        description: Additional properties to set if sourceFormat is set to CSV.
        type: CsvOptions
        required: false
      googleSheetsOptions:
        description: '[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS.'
        type: GoogleSheetsOptions
        required: false
      ignoreUnknownValues:
        description: '[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don''t match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored.'
        type: boolean
        required: false
      maxBadRecords:
        description: '[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.'
        format: int32
        type: integer
        required: false
      schema:
        description: '[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats.'
        type: TableSchema
        required: false
      sourceFormat:
        description: '[Required] The data format. For CSV files, specify "CSV". For Google sheets, specify "GOOGLE_SHEETS". For newline-delimited JSON, specify "NEWLINE_DELIMITED_JSON". For Avro files, specify "AVRO". For Google Cloud Datastore backups, specify "DATASTORE_BACKUP". [Experimental] For Google Cloud Bigtable, specify "BIGTABLE". Please note that reading from Google Cloud Bigtable is experimental and has to be enabled for your project. Please contact Google Cloud Support to enable this for your project.'
        type: string
        required: false
      sourceUris:
        description: '[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one ''*'' wildcard character and it must come after the ''bucket'' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified, and it must end with ''.backup_info''. Also, the ''*'' wildcard character is not allowed.'
        items:
          type: string
        type: array
        required: false
  GetQueryResultsResponse:
    properties:
      cacheHit:
        description: Whether the query result was fetched from the query cache.
        type: boolean
        required: false
      errors:
        description: '[Output-only] All errors and warnings encountered during the running of the job. Errors here do not necessarily mean that the job has completed or was unsuccessful.'
        items:
          type: ErrorProto
        type: array
        required: false
      etag:
        description: A hash of this response.
        type: string
        required: false
      jobComplete:
        description: 'Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.'
        type: boolean
        required: false
      jobReference:
        description: 'Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).'
        type: JobReference
        required: false
      kind:
        default: 'bigquery#getQueryResultsResponse'
        description: The resource type of the response.
        type: string
        required: false
      numDmlAffectedRows:
        description: '[Output-only, Experimental] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      pageToken:
        description: A token used for paging results.
        type: string
        required: false
      rows:
        description: 'An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.'
        items:
          type: TableRow
        type: array
        required: false
      schema:
        description: The schema of the results. Present only when the query completes successfully.
        type: TableSchema
        required: false
      totalBytesProcessed:
        description: The total number of bytes processed for this query.
        format: int64
        type: string
        facets:
          format: string
        required: false
      totalRows:
        description: 'The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
  GoogleSheetsOptions:
    properties:
      skipLeadingRows:
        description: '[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  Job:
    properties:
      configuration:
        description: '[Required] Describes the job configuration.'
        type: JobConfiguration
        required: false
      etag:
        description: '[Output-only] A hash of this resource.'
        type: string
        required: false
      id:
        description: '[Output-only] Opaque ID field of the job'
        type: string
        required: false
      jobReference:
        description: '[Optional] Reference describing the unique-per-user name of the job.'
        type: JobReference
        required: false
      kind:
        default: 'bigquery#job'
        description: '[Output-only] The type of the resource.'
        type: string
        required: false
      selfLink:
        description: '[Output-only] A URL that can be used to access this resource again.'
        type: string
        required: false
      statistics:
        description: '[Output-only] Information about the job, including starting time and ending time of the job.'
        type: JobStatistics
        required: false
      status:
        description: '[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.'
        type: JobStatus
        required: false
      user_email:
        description: '[Output-only] Email address of the user who ran the job.'
        type: string
        required: false
  JobCancelResponse:
    properties:
      job:
        description: The final state of the job.
        type: Job
        required: false
      kind:
        default: 'bigquery#jobCancelResponse'
        description: The resource type of the response.
        type: string
        required: false
  JobConfiguration:
    properties:
      copy:
        description: '[Pick one] Copies a table.'
        type: JobConfigurationTableCopy
        required: false
      dryRun:
        description: '[Optional] If set, don''t actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn''t a dry run. Behavior of non-query jobs is undefined.'
        type: boolean
        required: false
      extract:
        description: '[Pick one] Configures an extract job.'
        type: JobConfigurationExtract
        required: false
      labels:
        additionalProperties:
          type: string
        description: '[Experimental] The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and must be unique within a dataset. Both keys and values are additionally constrained to be <= 128 bytes in size.'
        type: object
        required: false
      load:
        description: '[Pick one] Configures a load job.'
        type: JobConfigurationLoad
        required: false
      query:
        description: '[Pick one] Configures a query job.'
        type: JobConfigurationQuery
        required: false
  JobConfigurationExtract:
    properties:
      compression:
        description: '[Optional] The compression type to use for exported files. Possible values include GZIP and NONE. The default value is NONE.'
        type: string
        required: false
      destinationFormat:
        description: '[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and AVRO. The default value is CSV. Tables with nested or repeated fields cannot be exported as CSV.'
        type: string
        required: false
      destinationUri:
        description: '[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.'
        type: string
        required: false
      destinationUris:
        description: '[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.'
        items:
          type: string
        type: array
        required: false
      fieldDelimiter:
        description: '[Optional] Delimiter to use between fields in the exported data. Default is '','''
        type: string
        required: false
      printHeader:
        default: true
        description: '[Optional] Whether to print out a header row in the results. Default is true.'
        type: boolean
        required: false
      sourceTable:
        description: '[Required] A reference to the table being exported.'
        type: TableReference
        required: false
  JobConfigurationLoad:
    properties:
      allowJaggedRows:
        description: '[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats.'
        type: boolean
        required: false
      allowQuotedNewlines:
        description: Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.
        type: boolean
        required: false
      autodetect:
        description: '[Experimental] Indicates if we should automatically infer the options and schema for CSV and JSON sources.'
        type: boolean
        required: false
      createDisposition:
        description: '[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a ''notFound'' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.'
        type: string
        required: false
      destinationTable:
        description: '[Required] The destination table to load the data into.'
        type: TableReference
        required: false
      encoding:
        description: '[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.'
        type: string
        required: false
      fieldDelimiter:
        description: '[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence "\t" to specify a tab separator. The default value is a comma ('','').'
        type: string
        required: false
      ignoreUnknownValues:
        description: '[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don''t match any column names'
        type: boolean
        required: false
      maxBadRecords:
        description: '[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid.'
        format: int32
        type: integer
        required: false
      projectionFields:
        description: '[Experimental] If sourceFormat is set to "DATASTORE_BACKUP", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn''t found in the Cloud Datastore backup, an invalid error is returned in the job result.'
        items:
          type: string
        type: array
        required: false
      quote:
        default: '"'
        description: '[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote (''"''). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.'
        pattern: .?
        type: string
        required: false
      schema:
        description: '[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you''re loading data from Google Cloud Datastore.'
        type: TableSchema
        required: false
      schemaInline:
        description: '[Deprecated] The inline schema. For CSV schemas, specify as "Field1:Type1[,Field2:Type2]*". For example, "foo:STRING, bar:INTEGER, baz:FLOAT".'
        type: string
        required: false
      schemaInlineFormat:
        description: '[Deprecated] The format of the schemaInline property.'
        type: string
        required: false
      schemaUpdateOptions:
        description: '[Experimental] Allows the schema of the desitination table to be updated as a side effect of the load job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.'
        items:
          type: string
        type: array
        required: false
      skipLeadingRows:
        description: '[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.'
        format: int32
        type: integer
        required: false
      sourceFormat:
        description: '[Optional] The format of the data files. For CSV files, specify "CSV". For datastore backups, specify "DATASTORE_BACKUP". For newline-delimited JSON, specify "NEWLINE_DELIMITED_JSON". For Avro, specify "AVRO". The default value is CSV.'
        type: string
        required: false
      sourceUris:
        description: '[Required] The fully-qualified URIs that point to your data in Google Cloud Storage. Each URI can contain one ''*'' wildcard character and it must come after the ''bucket'' name.'
        items:
          type: string
        type: array
        required: false
      writeDisposition:
        description: '[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a ''duplicate'' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.'
        type: string
        required: false
  JobConfigurationQuery:
    properties:
      allowLargeResults:
        description: 'If true, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set.'
        type: boolean
        required: false
      createDisposition:
        description: '[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a ''notFound'' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.'
        type: string
        required: false
      defaultDataset:
        description: '[Optional] Specifies the default dataset to use for unqualified table names in the query.'
        type: DatasetReference
        required: false
      destinationTable:
        description: '[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results.'
        type: TableReference
        required: false
      flattenResults:
        default: true
        description: '[Optional] Flattens all nested and repeated fields in the query results. The default value is true. allowLargeResults must be true if this is set to false.'
        type: boolean
        required: false
      maximumBillingTier:
        default: 1
        description: '[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.'
        format: int32
        type: integer
        required: false
      maximumBytesBilled:
        description: '[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      parameterMode:
        description: '[Experimental] Standard SQL only. Whether to use positional (?) or named (@myparam) query parameters in this query.'
        type: string
        required: false
      preserveNulls:
        description: '[Deprecated] This property is deprecated.'
        type: boolean
        required: false
      priority:
        description: '[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.'
        type: string
        required: false
      query:
        description: '[Required] BigQuery SQL query to execute.'
        type: string
        required: false
      queryParameters:
        description: Query parameters for standard SQL queries.
        items:
          type: QueryParameter
        type: array
        required: false
      schemaUpdateOptions:
        description: '[Experimental] Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.'
        items:
          type: string
        type: array
        required: false
      tableDefinitions:
        additionalProperties:
          type: ExternalDataConfiguration
        description: '[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.'
        type: object
        required: false
      useLegacySql:
        description: 'Specifies whether to use BigQuery''s legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery''s standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the values of allowLargeResults and flattenResults are ignored; query will be run as if allowLargeResults is true and flattenResults is false.'
        type: boolean
        required: false
      useQueryCache:
        default: true
        description: '[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.'
        type: boolean
        required: false
      userDefinedFunctionResources:
        description: '[Experimental] Describes user-defined function resources used in the query.'
        items:
          type: UserDefinedFunctionResource
        type: array
        required: false
      writeDisposition:
        description: '[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a ''duplicate'' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.'
        type: string
        required: false
  JobConfigurationTableCopy:
    properties:
      createDisposition:
        description: '[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a ''notFound'' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.'
        type: string
        required: false
      destinationTable:
        description: '[Required] The destination table'
        type: TableReference
        required: false
      sourceTable:
        description: '[Pick one] Source table to copy.'
        type: TableReference
        required: false
      sourceTables:
        description: '[Pick one] Source tables to copy.'
        items:
          type: TableReference
        type: array
        required: false
      writeDisposition:
        description: '[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a ''duplicate'' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.'
        type: string
        required: false
  JobList:
    properties:
      etag:
        description: A hash of this page of results.
        type: string
        required: false
      jobs:
        description: List of jobs that were requested.
        items:
          properties:
            configuration:
              description: '[Full-projection-only] Specifies the job configuration.'
              type: JobConfiguration
              required: false
            errorResult:
              description: A result object that will be present only if the job has failed.
              type: ErrorProto
              required: false
            id:
              description: Unique opaque ID of the job.
              type: string
              required: false
            jobReference:
              description: Job reference uniquely identifying the job.
              type: JobReference
              required: false
            kind:
              default: 'bigquery#job'
              description: The resource type.
              type: string
              required: false
            state:
              description: 'Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.'
              type: string
              required: false
            statistics:
              description: '[Output-only] Information about the job, including starting time and ending time of the job.'
              type: JobStatistics
              required: false
            status:
              description: '[Full-projection-only] Describes the state of the job.'
              type: JobStatus
              required: false
            user_email:
              description: '[Full-projection-only] Email address of the user who ran the job.'
              type: string
              required: false
          type: object
        type: array
        required: false
      kind:
        default: 'bigquery#jobList'
        description: The resource type of the response.
        type: string
        required: false
      nextPageToken:
        description: A token to request the next page of results.
        type: string
        required: false
  JobReference:
    properties:
      jobId:
        description: '[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.'
        type: string
        required: false
      projectId:
        description: '[Required] The ID of the project containing this job.'
        type: string
        required: false
  JobStatistics:
    properties:
      creationTime:
        description: '[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      endTime:
        description: '[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      extract:
        description: '[Output-only] Statistics for an extract job.'
        type: JobStatistics4
        required: false
      load:
        description: '[Output-only] Statistics for a load job.'
        type: JobStatistics3
        required: false
      query:
        description: '[Output-only] Statistics for a query job.'
        type: JobStatistics2
        required: false
      startTime:
        description: '[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      totalBytesProcessed:
        description: '[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  JobStatistics2:
    properties:
      billingTier:
        description: '[Output-only] Billing tier for the job.'
        format: int32
        type: integer
        required: false
      cacheHit:
        description: '[Output-only] Whether the query result was fetched from the query cache.'
        type: boolean
        required: false
      numDmlAffectedRows:
        description: '[Output-only, Experimental] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      queryPlan:
        description: '[Output-only, Experimental] Describes execution plan for the query.'
        items:
          type: ExplainQueryStage
        type: array
        required: false
      referencedTables:
        description: '[Output-only, Experimental] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list.'
        items:
          type: TableReference
        type: array
        required: false
      schema:
        description: '[Output-only, Experimental] The schema of the results. Present only for successful dry run of non-legacy SQL queries.'
        type: TableSchema
        required: false
      totalBytesBilled:
        description: '[Output-only] Total bytes billed for the job.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      totalBytesProcessed:
        description: '[Output-only] Total bytes processed for the job.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      undeclaredQueryParameters:
        description: '[Output-only, Experimental] Standard SQL only: list of undeclared query parameters detected during a dry run validation.'
        items:
          type: QueryParameter
        type: array
        required: false
  JobStatistics3:
    properties:
      inputFileBytes:
        description: '[Output-only] Number of bytes of source data in a load job.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      inputFiles:
        description: '[Output-only] Number of source files in a load job.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      outputBytes:
        description: '[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      outputRows:
        description: '[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  JobStatistics4:
    properties:
      destinationUriFileCounts:
        description: '[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the ''destinationUris'' field.'
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
  JobStatus:
    properties:
      errorResult:
        description: '[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful.'
        type: ErrorProto
        required: false
      errors:
        description: '[Output-only] All errors encountered during the running of the job. Errors here do not necessarily mean that the job has completed or was unsuccessful.'
        items:
          type: ErrorProto
        type: array
        required: false
      state:
        description: '[Output-only] Running state of the job.'
        type: string
        required: false
  JsonObject:
    description: Represents a single JSON object.
    type: object
    properties:
      //:
        type: JsonValue
  JsonValue: {}
  ProjectList:
    properties:
      etag:
        description: A hash of the page of results
        type: string
        required: false
      kind:
        default: 'bigquery#projectList'
        description: The type of list.
        type: string
        required: false
      nextPageToken:
        description: A token to request the next page of results.
        type: string
        required: false
      projects:
        description: Projects to which you have at least READ access.
        items:
          properties:
            friendlyName:
              description: A descriptive name for this project.
              type: string
              required: false
            id:
              description: An opaque ID of this project.
              type: string
              required: false
            kind:
              default: 'bigquery#project'
              description: The resource type.
              type: string
              required: false
            numericId:
              description: The numeric ID of this project.
              format: uint64
              type: string
              facets:
                format: string
              required: false
            projectReference:
              description: A unique reference to this project.
              type: ProjectReference
              required: false
          type: object
        type: array
        required: false
      totalItems:
        description: The total number of projects in the list.
        format: int32
        type: integer
        required: false
  ProjectReference:
    properties:
      projectId:
        description: '[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project.'
        type: string
        required: false
  QueryParameter:
    properties:
      name:
        description: '[Optional] If unset, this is a positional parameter. Otherwise, should be unique within a query.'
        type: string
        required: false
      parameterType:
        description: '[Required] The type of this parameter.'
        type: QueryParameterType
        required: false
      parameterValue:
        description: '[Required] The value of this parameter.'
        type: QueryParameterValue
        required: false
  QueryParameterType:
    properties:
      arrayType:
        description: '[Optional] The type of the array''s elements, if this is an array.'
        type: QueryParameterType
        required: false
      structTypes:
        description: '[Optional] The types of the fields of this struct, in order, if this is a struct.'
        items:
          properties:
            description:
              description: '[Optional] Human-oriented description of the field.'
              type: string
              required: false
            name:
              description: '[Optional] The name of this field.'
              type: string
              required: false
            type:
              description: '[Required] The type of this field.'
              type: QueryParameterType
              required: false
          type: object
        type: array
        required: false
      type:
        description: '[Required] The top level type of this field.'
        type: string
        required: false
  QueryParameterValue:
    properties:
      arrayValues:
        description: '[Optional] The array values, if this is an array type.'
        items:
          type: QueryParameterValue
        type: array
        required: false
      structValues:
        additionalProperties:
          type: QueryParameterValue
        description: '[Optional] The struct field values, in order of the struct type''s declaration.'
        type: object
        required: false
      value:
        description: '[Optional] The value of this value, if a simple scalar type.'
        type: string
        required: false
  QueryRequest:
    properties:
      defaultDataset:
        description: '[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format ''datasetId.tableId''.'
        type: DatasetReference
        required: false
      dryRun:
        description: '[Optional] If set to true, BigQuery doesn''t run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false.'
        type: boolean
        required: false
      kind:
        default: 'bigquery#queryRequest'
        description: The resource type of the request.
        type: string
        required: false
      maxResults:
        description: '[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.'
        type: integer
        required: false
      parameterMode:
        description: '[Experimental] Standard SQL only. Whether to use positional (?) or named (@myparam) query parameters in this query.'
        type: string
        required: false
      preserveNulls:
        description: '[Deprecated] This property is deprecated.'
        type: boolean
        required: false
      query:
        description: '[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: "SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]".'
        type: string
        required: false
      queryParameters:
        description: '[Experimental] Query parameters for Standard SQL queries.'
        items:
          type: QueryParameter
        type: array
        required: false
      timeoutMs:
        description: '[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the ''jobComplete'' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).'
        type: integer
        required: false
      useLegacySql:
        default: true
        description: 'Specifies whether to use BigQuery''s legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery''s standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the values of allowLargeResults and flattenResults are ignored; query will be run as if allowLargeResults is true and flattenResults is false.'
        type: boolean
        required: false
      useQueryCache:
        default: true
        description: '[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.'
        type: boolean
        required: false
  QueryResponse:
    properties:
      cacheHit:
        description: Whether the query result was fetched from the query cache.
        type: boolean
        required: false
      errors:
        description: '[Output-only] All errors and warnings encountered during the running of the job. Errors here do not necessarily mean that the job has completed or was unsuccessful.'
        items:
          type: ErrorProto
        type: array
        required: false
      jobComplete:
        description: 'Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.'
        type: boolean
        required: false
      jobReference:
        description: 'Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).'
        type: JobReference
        required: false
      kind:
        default: 'bigquery#queryResponse'
        description: The resource type.
        type: string
        required: false
      numDmlAffectedRows:
        description: '[Output-only, Experimental] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      pageToken:
        description: A token used for paging results.
        type: string
        required: false
      rows:
        description: 'An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.'
        items:
          type: TableRow
        type: array
        required: false
      schema:
        description: The schema of the results. Present only when the query completes successfully.
        type: TableSchema
        required: false
      totalBytesProcessed:
        description: 'The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      totalRows:
        description: 'The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
  Streamingbuffer:
    properties:
      estimatedBytes:
        description: '[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      estimatedRows:
        description: '[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      oldestEntryTime:
        description: '[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
  Table:
    properties:
      creationTime:
        description: '[Output-only] The time when this table was created, in milliseconds since the epoch.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      description:
        description: '[Optional] A user-friendly description of this table.'
        type: string
        required: false
      etag:
        description: '[Output-only] A hash of this resource.'
        type: string
        required: false
      expirationTime:
        description: '[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      externalDataConfiguration:
        description: '[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.'
        type: ExternalDataConfiguration
        required: false
      friendlyName:
        description: '[Optional] A descriptive name for this table.'
        type: string
        required: false
      id:
        description: '[Output-only] An opaque ID uniquely identifying the table.'
        type: string
        required: false
      kind:
        default: 'bigquery#table'
        description: '[Output-only] The type of the resource.'
        type: string
        required: false
      lastModifiedTime:
        description: '[Output-only] The time when this table was last modified, in milliseconds since the epoch.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      location:
        description: '[Output-only] The geographic location where the table resides. This value is inherited from the dataset.'
        type: string
        required: false
      numBytes:
        description: '[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      numLongTermBytes:
        description: '[Output-only] The number of bytes in the table that are considered "long-term storage".'
        format: int64
        type: string
        facets:
          format: string
        required: false
      numRows:
        description: '[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      schema:
        description: '[Optional] Describes the schema of this table.'
        type: TableSchema
        required: false
      selfLink:
        description: '[Output-only] A URL that can be used to access this resource again.'
        type: string
        required: false
      streamingBuffer:
        description: '[Output-only] Contains information regarding this table''s streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer.'
        type: Streamingbuffer
        required: false
      tableReference:
        description: '[Required] Reference describing the ID of this table.'
        type: TableReference
        required: false
      timePartitioning:
        description: '[Experimental] If specified, configures time-based partitioning for this table.'
        type: TimePartitioning
        required: false
      type:
        description: '[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE.'
        type: string
        required: false
      view:
        description: '[Optional] The view definition.'
        type: ViewDefinition
        required: false
  TableCell:
    properties:
      v:
        required: false
  TableDataInsertAllRequest:
    properties:
      ignoreUnknownValues:
        description: '[Optional] Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors.'
        type: boolean
        required: false
      kind:
        default: 'bigquery#tableDataInsertAllRequest'
        description: The resource type of the response.
        type: string
        required: false
      rows:
        description: The rows to insert.
        items:
          properties:
            insertId:
              description: '[Optional] A unique ID for each row. BigQuery uses this property to detect duplicate insertion requests on a best-effort basis.'
              type: string
              required: false
            json:
              description: '[Required] A JSON object that contains a row of data. The object''s properties and values must match the destination table''s schema.'
              type: JsonObject
              required: false
          type: object
        type: array
        required: false
      skipInvalidRows:
        description: '[Optional] Insert all valid rows of a request, even if invalid rows exist. The default value is false, which causes the entire request to fail if any invalid rows exist.'
        type: boolean
        required: false
      templateSuffix:
        description: '[Experimental] If specified, treats the destination table as a base template, and inserts the rows into an instance table named "{destination}{templateSuffix}". BigQuery will manage creation of the instance table, using the schema of the base template table. See https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for considerations when working with templates tables.'
        type: string
        required: false
  TableDataInsertAllResponse:
    properties:
      insertErrors:
        description: An array of errors for rows that were not inserted.
        items:
          properties:
            errors:
              description: Error information for the row indicated by the index property.
              items:
                type: ErrorProto
              type: array
              required: false
            index:
              description: The index of the row that error applies to.
              type: integer
              required: false
          type: object
        type: array
        required: false
      kind:
        default: 'bigquery#tableDataInsertAllResponse'
        description: The resource type of the response.
        type: string
        required: false
  TableDataList:
    properties:
      etag:
        description: A hash of this page of results.
        type: string
        required: false
      kind:
        default: 'bigquery#tableDataList'
        description: The resource type of the response.
        type: string
        required: false
      pageToken:
        description: A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.
        type: string
        required: false
      rows:
        description: Rows of results.
        items:
          type: TableRow
        type: array
        required: false
      totalRows:
        description: The total number of rows in the complete table.
        format: int64
        type: string
        facets:
          format: string
        required: false
  TableFieldSchema:
    properties:
      description:
        description: '[Optional] The field description. The maximum length is 16K characters.'
        type: string
        required: false
      fields:
        description: '[Optional] Describes the nested schema fields if the type property is set to RECORD.'
        items:
          type: TableFieldSchema
        type: array
        required: false
      mode:
        description: '[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE.'
        type: string
        required: false
      name:
        description: '[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 128 characters.'
        type: string
        required: false
      type:
[...]
