#%RAML 1.0
title: Cloud SQL Administration
version: v1beta3
baseUri: 'https://www.googleapis.com/sql/v1beta3'
protocols:
  - HTTPS
description: 'Creates and configures Cloud SQL instances, which provide fully-managed MySQL databases.'
(oas-tags-definition):
  - name: backupRuns
  - name: flags
  - name: instances
  - name: operations
  - name: sslCerts
  - name: tiers
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/sqladmin/v1beta3/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): sqladmin
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://cloud.google.com/sql/docs/reference/latest'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/sqlservice.admin'
    description: Oauth 2.0 authentication
/projects:
  displayName: projects
  '/{project}':
    displayName: '{project}'
    /instances:
      displayName: instances
      '/{instance}':
        displayName: '{instance}'
        /operations:
          displayName: operations
          get:
            displayName: sql.operations.list
            description: Lists all operations that have been performed on a Cloud SQL instance.
            responses:
              '200':
                body:
                  application/json:
                    type: OperationsListResponse
                description: Successful response
            queryParameters:
              maxResults:
                description: Maximum number of operations per response.
                type: integer
                displayName: Maximum number of operations per response.
              pageToken:
                description: A previously-returned page token representing part of the larger set of results to view.
                type: string
                displayName: A previously-returned page token representing part of the larger set of results to view.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - operations
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{operation}':
            displayName: '{operation}'
            uriParameters:
              operation:
                description: Instance operation ID.
                required: true
                type: string
                displayName: Instance operation ID.
            get:
              displayName: sql.operations.get
              description: Retrieves information about a specific operation that was performed on a Cloud SQL instance.
              responses:
                '200':
                  body:
                    application/json:
                      type: InstanceOperation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/sqlservice.admin'
              (oas-tags):
                - operations
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        /promoteReplica:
          displayName: promoteReplica
          post:
            displayName: sql.instances.promoteReplica
            description: Promotes the read replica instance to be a stand-alone Cloud SQL instance.
            responses:
              '200':
                body:
                  application/json:
                    type: InstancesPromoteReplicaResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - instances
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /resetSslConfig:
          displayName: resetSslConfig
          post:
            displayName: sql.instances.resetSslConfig
            description: Deletes all client certificates and generates a new server SSL certificate for a Cloud SQL instance.
            responses:
              '200':
                body:
                  application/json:
                    type: InstancesResetSslConfigResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - instances
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        uriParameters:
          instance:
            description: Database instance ID. This does not include the project ID.
            required: true
            type: string
            displayName: Database instance ID. This does not include the project ID.
        delete:
          displayName: sql.instances.delete
          description: Deletes a Cloud SQL instance.
          responses:
            '200':
              body:
                application/json:
                  type: InstancesDeleteResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/sqlservice.admin'
          (oas-tags):
            - instances
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        /restart:
          displayName: restart
          post:
            displayName: sql.instances.restart
            description: Restarts a Cloud SQL instance.
            responses:
              '200':
                body:
                  application/json:
                    type: InstancesRestartResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - instances
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        patch:
          displayName: sql.instances.patch
          description: Updates the settings of a Cloud SQL instance. This method supports patch semantics.
          body:
            application/json:
              type: DatabaseInstance
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: InstancesUpdateResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/sqlservice.admin'
          (oas-tags):
            - instances
        /restoreBackup:
          displayName: restoreBackup
          post:
            displayName: sql.instances.restoreBackup
            description: Restores a backup of a Cloud SQL instance.
            responses:
              '200':
                body:
                  application/json:
                    type: InstancesRestoreBackupResponse
                description: Successful response
            queryParameters:
              backupConfiguration:
                description: The identifier of the backup configuration. This gets generated automatically when a backup configuration is created.
                required: true
                type: string
                displayName: The identifier of the backup configuration. This gets generated automatically when a backup configuration is created.
              dueTime:
                description: 'The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
                required: true
                type: string
                displayName: 'The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - instances
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /backupRuns:
          displayName: backupRuns
          get:
            displayName: sql.backupRuns.list
            description: Lists all backup runs associated with a Cloud SQL instance.
            responses:
              '200':
                body:
                  application/json:
                    type: BackupRunsListResponse
                description: Successful response
            queryParameters:
              backupConfiguration:
                description: Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.
                required: true
                type: string
                displayName: Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.
              maxResults:
                description: Maximum number of backup runs per response.
                type: integer
                displayName: Maximum number of backup runs per response.
              pageToken:
                description: A previously-returned page token representing part of the larger set of results to view.
                type: string
                displayName: A previously-returned page token representing part of the larger set of results to view.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - backupRuns
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{backupConfiguration}':
            displayName: '{backupConfiguration}'
            uriParameters:
              backupConfiguration:
                description: Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.
                required: true
                type: string
                displayName: Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.
            get:
              displayName: sql.backupRuns.get
              description: Retrieves information about a specified backup run for a Cloud SQL instance.
              responses:
                '200':
                  body:
                    application/json:
                      type: BackupRun
                  description: Successful response
              queryParameters:
                dueTime:
                  description: 'The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
                  required: true
                  type: string
                  displayName: 'The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/sqlservice.admin'
              (oas-tags):
                - backupRuns
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        /setRootPassword:
          displayName: setRootPassword
          post:
            displayName: sql.instances.setRootPassword
            description: Sets the password for the root user of the specified Cloud SQL instance.
            body:
              application/json:
                type: InstanceSetRootPasswordRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: InstancesSetRootPasswordResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - instances
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /export:
          displayName: export
          post:
            displayName: sql.instances.export
            description: Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.
            body:
              application/json:
                type: InstancesExportRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: InstancesExportResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform'
            (oas-tags):
              - instances
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /sslCerts:
          displayName: sslCerts
          '/{sha1Fingerprint}':
            displayName: '{sha1Fingerprint}'
            uriParameters:
              sha1Fingerprint:
                description: Sha1 FingerPrint.
                required: true
                type: string
                displayName: Sha1 FingerPrint.
            get:
              displayName: sql.sslCerts.get
              description: Retrieves an SSL certificate as specified by its SHA-1 fingerprint.
              responses:
                '200':
                  body:
                    application/json:
                      type: SslCert
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/sqlservice.admin'
              (oas-tags):
                - sslCerts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            delete:
              displayName: sql.sslCerts.delete
              description: Deletes an SSL certificate from a Cloud SQL instance.
              responses:
                '200':
                  body:
                    application/json:
                      type: SslCertsDeleteResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/sqlservice.admin'
              (oas-tags):
                - sslCerts
          post:
            displayName: sql.sslCerts.insert
            description: 'Creates an SSL certificate and returns the certificate, the associated private key, and the server certificate authority.'
            body:
              application/json:
                type: SslCertsInsertRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: SslCertsInsertResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - sslCerts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: sql.sslCerts.list
            description: Lists all of the current SSL certificates defined for a Cloud SQL instance.
            responses:
              '200':
                body:
                  application/json:
                    type: SslCertsListResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/sqlservice.admin'
            (oas-tags):
              - sslCerts
        /import:
          displayName: import
          post:
            displayName: sql.instances.import
            description: Imports data into a Cloud SQL instance from a MySQL dump file stored in a Google Cloud Storage bucket.
            body:
              application/json:
                type: InstancesImportRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: InstancesImportResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform'
            (oas-tags):
              - instances
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        put:
          displayName: sql.instances.update
          description: Updates the settings of a Cloud SQL instance.
          body:
            application/json:
              type: DatabaseInstance
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: InstancesUpdateResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/sqlservice.admin'
          (oas-tags):
            - instances
        get:
          displayName: sql.instances.get
          description: Retrieves information about a Cloud SQL instance.
          responses:
            '200':
              body:
                application/json:
                  type: DatabaseInstance
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/sqlservice.admin'
          (oas-tags):
            - instances
      post:
        displayName: sql.instances.insert
        description: Creates a new Cloud SQL instance.
        body:
          application/json:
            type: DatabaseInstance
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: InstancesInsertResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/sqlservice.admin'
        (oas-tags):
          - instances
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: sql.instances.list
        description: 'Lists instances for a given project, in alphabetical order by instance name.'
        responses:
          '200':
            body:
              application/json:
                type: InstancesListResponse
            description: Successful response
        queryParameters:
          maxResults:
            description: The maximum number of results to return per response.
            type: integer
            displayName: The maximum number of results to return per response.
          pageToken:
            description: A previously-returned page token representing part of the larger set of results to view.
            type: string
            displayName: A previously-returned page token representing part of the larger set of results to view.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/sqlservice.admin'
        (oas-tags):
          - instances
      /clone:
        displayName: clone
        post:
          displayName: sql.instances.clone
          description: Creates a Cloud SQL instance as a clone of a source instance.
          body:
            application/json:
              type: InstancesCloneRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: InstancesCloneResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/sqlservice.admin'
          (oas-tags):
            - instances
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /tiers:
      displayName: tiers
      get:
        displayName: sql.tiers.list
        description: Lists service tiers that can be used to create Google Cloud SQL instances.
        responses:
          '200':
            body:
              application/json:
                type: TiersListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/sqlservice.admin'
        (oas-tags):
          - tiers
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/flags:
  displayName: flags
  get:
    displayName: sql.flags.list
    description: Lists all database flags that can be set for Google Cloud SQL instances.
    responses:
      '200':
        body:
          application/json:
            type: FlagsListResponse
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
    (oas-tags):
      - flags
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  BackupConfiguration:
    description: Database instance backup configuration.
    properties:
      binaryLogEnabled:
        description: 'Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.'
        type: boolean
        required: false
      enabled:
        description: Whether this configuration is enabled.
        type: boolean
        required: false
      id:
        description: Identifier for this configuration. This gets generated automatically when a backup configuration is created.
        type: string
        required: false
      kind:
        default: 'sql#backupConfiguration'
        description: 'This is always sql#backupConfiguration.'
        type: string
        required: false
      startTime:
        description: 'Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.'
        type: string
        required: false
  BackupRun:
    description: A database instance backup run resource.
    properties:
      backupConfiguration:
        description: Backup Configuration identifier.
        type: string
        required: false
      dueTime:
        description: 'The due time of this run in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: rfc3339
        type: datetime
        required: false
      endTime:
        description: 'The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: rfc3339
        type: datetime
        required: false
      enqueuedTime:
        description: 'The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: rfc3339
        type: datetime
        required: false
      error:
        description: Information about why the backup operation failed. This is only present if the run has the FAILED status.
        type: OperationError
        required: false
      instance:
        description: Name of the database instance.
        type: string
        required: false
      kind:
        default: 'sql#backupRun'
        description: 'This is always sql#backupRun.'
        type: string
        required: false
      startTime:
        description: 'The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: rfc3339
        type: datetime
        required: false
      status:
        description: The status of this run.
        type: string
        required: false
  BackupRunsListResponse:
    description: Backup run list results.
    properties:
      items:
        description: A list of backup runs in reverse chronological order of the enqueued time.
        items:
          type: BackupRun
        type: array
        required: false
      kind:
        default: 'sql#backupRunsList'
        description: 'This is always sql#backupRunsList.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
  BinLogCoordinates:
    description: Binary log coordinates.
    properties:
      binLogFileName:
        description: Name of the binary log file for a Cloud SQL instance.
        type: string
        required: false
      binLogPosition:
        description: Position (offset) within the binary log file.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'sql#binLogCoordinates'
        description: 'This is always sql#binLogCoordinates.'
        type: string
        required: false
  CloneContext:
    description: Database instance clone context.
    properties:
      binLogCoordinates:
        description: 'Binary log coordinates, if specified, indentify the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.'
        type: BinLogCoordinates
        required: false
      destinationInstanceName:
        description: Name of the Cloud SQL instance to be created as a clone.
        type: string
        required: false
      kind:
        default: 'sql#cloneContext'
        description: 'This is always sql#cloneContext.'
        type: string
        required: false
      sourceInstanceName:
        description: Name of the Cloud SQL instance to be cloned.
        type: string
        required: false
  DatabaseFlags:
    description: MySQL flags for Cloud SQL instances.
    properties:
      name:
        description: 'The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.'
        type: string
        required: false
      value:
        description: The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.
        type: string
        required: false
  DatabaseInstance:
    description: A Cloud SQL instance resource.
    properties:
      connectionName:
        description: Connection name of the Cloud SQL instance used in connection strings.
        type: string
        required: false
      currentDiskSize:
        description: The current disk usage of the instance in bytes.
        format: int64
        type: string
        facets:
          format: string
        required: false
      databaseVersion:
        description: The database engine type and version. Can be MYSQL_5_5 or MYSQL_5_6. Defaults to MYSQL_5_5. The databaseVersion cannot be changed after instance creation.
        type: string
        required: false
      etag:
        description: HTTP 1.1 Entity tag for the resource.
        type: string
        required: false
      instance:
        description: Name of the Cloud SQL instance. This does not include the project ID.
        type: string
        required: false
      instanceType:
        description: |-
          The instance type. This can be one of the following.
          CLOUD_SQL_INSTANCE: Regular Cloud SQL instance.
          READ_REPLICA_INSTANCE: Cloud SQL instance acting as a read-replica.
        type: string
        required: false
      ipAddresses:
        description: The assigned IP addresses for the instance.
        items:
          type: IpMapping
        type: array
        required: false
      ipv6Address:
        description: The IPv6 address assigned to the instance.
        type: string
        required: false
      kind:
        default: 'sql#instance'
        description: 'This is always sql#instance.'
        type: string
        required: false
      masterInstanceName:
        description: The name of the instance which will act as master in the replication setup.
        type: string
        required: false
      maxDiskSize:
        description: The maximum disk size of the instance in bytes.
        format: int64
        type: string
        facets:
          format: string
        required: false
      project:
        description: The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.
        type: string
        required: false
      region:
        description: 'The geographical region. Can be us-central, asia-east1 or europe-west1. Defaults to us-central. The region can not be changed after instance creation.'
        type: string
        required: false
      replicaNames:
        description: The replicas of the instance.
        items:
          type: string
        type: array
        required: false
      serverCaCert:
        description: SSL configuration.
        type: SslCert
        required: false
      serviceAccountEmailAddress:
        description: The service account email address assigned to the instance.
        type: string
        required: false
      settings:
        description: The user settings.
        type: Settings
        required: false
      state:
        description: |-
          The current serving state of the Cloud SQL instance. This can be one of the following.
          RUNNABLE: The instance is running, or is ready to run when accessed.
          SUSPENDED: The instance is not available, for example due to problems with billing.
          PENDING_CREATE: The instance is being created.
          MAINTENANCE: The instance is down for maintenance.
          UNKNOWN_STATE: The state of the instance is unknown.
        type: string
        required: false
  ExportContext:
    description: Database instance export context.
    properties:
      database:
        description: 'Databases (for example, guestbook) from which the export is made. If unspecified, all databases are exported.'
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'sql#exportContext'
        description: 'This is always sql#exportContext.'
        type: string
        required: false
      table:
        description: 'Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database.'
        items:
          type: string
        type: array
        required: false
      uri:
        description: 'The path to the file in Google Cloud Storage where the export will be stored, or where it was already stored. The URI is in the form gs://bucketName/fileName. If the file already exists, the operation fails. If the filename ends with .gz, the contents are compressed.'
        type: string
        required: false
  Flag:
    description: A Google Cloud SQL service flag resource.
    properties:
      allowedStringValues:
        description: 'For STRING flags, a list of strings that the value can be set to.'
        items:
          type: string
        type: array
        required: false
      appliesTo:
        description: 'The database version this flag applies to. Currently this can only be [MYSQL_5_5].'
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'sql#flag'
        description: 'This is always sql#flag.'
        type: string
        required: false
      maxValue:
        description: 'For INTEGER flags, the maximum allowed value.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      minValue:
        description: 'For INTEGER flags, the minimum allowed value.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: 'This is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet'
        type: string
        required: false
      type:
        description: 'The type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE is used for flags which do not take a value, such as skip_grant_tables.'
        type: string
        required: false
  FlagsListResponse:
    description: Flags list response.
    properties:
      items:
        description: List of flags.
        items:
          type: Flag
        type: array
        required: false
      kind:
        default: 'sql#flagsList'
        description: 'This is always sql#flagsList.'
        type: string
        required: false
  ImportContext:
    description: Database instance import context.
    properties:
      database:
        description: 'The database (for example, guestbook) to which the import is made. If not set, it is assumed that the database is specified in the file to be imported.'
        type: string
        required: false
      kind:
        default: 'sql#importContext'
        description: 'This is always sql#importContext.'
        type: string
        required: false
      uri:
        description: 'A path to the MySQL dump file in Google Cloud Storage from which the import is made. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported.'
        items:
          type: string
        type: array
        required: false
  InstanceOperation:
    description: 'An Operations resource contains information about database instance operations such as create, delete, and restart. Operations resources are created in response to operations that were initiated; you never create them directly.'
    properties:
      endTime:
        description: 'The time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: rfc3339
        type: datetime
        required: false
      enqueuedTime:
        description: 'The time this operation was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: rfc3339
        type: datetime
        required: false
      error:
        description: The error(s) encountered by this operation. Only set if the operation results in an error.
        items:
          type: OperationError
        type: array
        required: false
      exportContext:
        description: 'The context for export operation, if applicable.'
        type: ExportContext
        required: false
      importContext:
        description: 'The context for import operation, if applicable.'
        type: ImportContext
        required: false
      instance:
        description: Name of the database instance.
        type: string
        required: false
      kind:
        default: 'sql#instanceOperation'
        description: 'This is always sql#instanceOperation.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
      operationType:
        description: 'The type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT, EXPORT, BACKUP_VOLUME, RESTORE_VOLUME.'
        type: string
        required: false
      startTime:
        description: 'The time this operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: rfc3339
        type: datetime
        required: false
      state:
        description: 'The state of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.'
        type: string
        required: false
      userEmailAddress:
        description: The email address of the user who initiated this operation.
        type: string
        required: false
  InstanceSetRootPasswordRequest:
    description: Database instance set root password request.
    properties:
      setRootPasswordContext:
        description: Set Root Password Context.
        type: SetRootPasswordContext
        required: false
  InstancesCloneRequest:
    description: Database instance clone request.
    properties:
      cloneContext:
        description: Contains details about the clone operation.
        type: CloneContext
        required: false
  InstancesCloneResponse:
    description: Database instance clone response.
    properties:
      kind:
        default: 'sql#instancesClone'
        description: 'This is always sql#instancesClone.'
        type: string
        required: false
      operation:
        description: 'An unique identifier for the operation associated with the cloned instance. You can use this identifier to retrieve the Operations resource, which has information about the operation.'
        type: string
        required: false
  InstancesDeleteResponse:
    description: Database instance delete response.
    properties:
      kind:
        default: 'sql#instancesDelete'
        description: 'This is always sql#instancesDelete.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesExportRequest:
    description: Database instance export request.
    properties:
      exportContext:
        description: Contains details about the export operation.
        type: ExportContext
        required: false
  InstancesExportResponse:
    description: Database instance export response.
    properties:
      kind:
        default: 'sql#instancesExport'
        description: 'This is always sql#instancesExport.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesImportRequest:
    description: Database instance import request.
    properties:
      importContext:
        description: Contains details about the import operation.
        type: ImportContext
        required: false
  InstancesImportResponse:
    description: Database instance import response.
    properties:
      kind:
        default: 'sql#instancesImport'
        description: 'This is always sql#instancesImport.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesInsertResponse:
    description: Database instance insert response.
    properties:
      kind:
        default: 'sql#instancesInsert'
        description: 'This is always sql#instancesInsert.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesListResponse:
    description: Database instances list response.
    properties:
      items:
        description: List of database instance resources.
        items:
          type: DatabaseInstance
        type: array
        required: false
      kind:
        default: 'sql#instancesList'
        description: 'This is always sql#instancesList.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
  InstancesPromoteReplicaResponse:
    description: Database promote read replica response.
    properties:
      kind:
        default: 'sql#instancesPromoteReplica'
        description: 'This is always sql#instancesPromoteReplica.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesResetSslConfigResponse:
    description: Database instance resetSslConfig response.
    properties:
      kind:
        default: 'sql#instancesResetSslConfig'
        description: 'This is always sql#instancesResetSslConfig.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation. All ssl client certificates will be deleted and a new server certificate will be created. Does not take effect until the next instance restart.
        type: string
        required: false
  InstancesRestartResponse:
    description: Database instance restart response.
    properties:
      kind:
        default: 'sql#instancesRestart'
        description: 'This is always sql#instancesRestart.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesRestoreBackupResponse:
    description: Database instance restore backup response.
    properties:
      kind:
        default: 'sql#instancesRestoreBackup'
        description: 'This is always sql#instancesRestoreBackup.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesSetRootPasswordResponse:
    description: Database instance set root password response.
    properties:
      kind:
        default: 'sql#instancesSetRootPassword'
        description: 'This is always sql#instancesSetRootPassword.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  InstancesUpdateResponse:
    description: Database instance update response.
    properties:
      kind:
        default: 'sql#instancesUpdate'
        description: 'This is always sql#instancesUpdate.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve information about the operation.
        type: string
        required: false
  IpConfiguration:
    description: IP Management configuration.
    properties:
      authorizedNetworks:
        description: 'The list of external networks that are allowed to connect to the instance using the IP. In CIDR notation, also known as ''slash'' notation (e.g. 192.168.100.0/24).'
        items:
          type: string
        type: array
        required: false
      enabled:
        description: Whether the instance should be assigned an IP address or not.
        type: boolean
        required: false
      kind:
        default: 'sql#ipConfiguration'
        description: 'This is always sql#ipConfiguration.'
        type: string
        required: false
      requireSsl:
        description: Whether the mysqld should default to 'REQUIRE X509' for users connecting over IP.
        type: boolean
        required: false
  IpMapping:
    description: Database instance IP Mapping.
    properties:
      ipAddress:
        description: The IP address assigned.
        type: string
        required: false
      timeToRetire:
        description: 'The due time for this IP to be retired in RFC 3339 format, for example 2012-11-15T16:19:00.094Z. This field is only available when the IP is scheduled to be retired.'
        format: rfc3339
        type: datetime
        required: false
  LocationPreference:
    description: 'Preferred location. This specifies where a Cloud SQL instance should preferably be located, either in a specific Compute Engine zone, or co-located with an App Engine application. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.'
    properties:
      followGaeApplication:
        description: 'The App Engine application to follow, it must be in the same region as the Cloud SQL instance.'
        type: string
        required: false
      kind:
        default: 'sql#locationPreference'
        description: 'This is always sql#locationPreference.'
        type: string
        required: false
      zone:
        description: 'The preferred Compute Engine zone (e.g. us-centra1-a, us-central1-b, etc.).'
        type: string
        required: false
  OperationError:
    description: Database instance operation error.
    properties:
      code:
        description: Identifies the specific error that occurred.
        type: string
        required: false
      kind:
        default: 'sql#operationError'
        description: 'This is always sql#operationError.'
        type: string
        required: false
  OperationsListResponse:
    description: Database instance list operations response.
    properties:
      items:
        description: List of operation resources.
        items:
          type: InstanceOperation
        type: array
        required: false
      kind:
        default: 'sql#operationsList'
        description: 'This is always sql#operationsList.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
  SetRootPasswordContext:
    description: Database instance set root password context.
    properties:
      kind:
        default: 'sql#setRootUserContext'
        description: 'This is always sql#setRootUserContext.'
        type: string
        required: false
      password:
        description: The password for the root user.
        type: string
        required: false
  Settings:
    description: Database instance settings.
    properties:
      activationPolicy:
        description: |-
          The activation policy for this instance. This specifies when the instance should be activated and is applicable only when the instance state is RUNNABLE. This can be one of the following.
          ALWAYS: The instance should always be active.
          NEVER: The instance should never be activated.
          ON_DEMAND: The instance is activated upon receiving requests.
        type: string
        required: false
      authorizedGaeApplications:
        description: The App Engine app IDs that can access this instance.
        items:
          type: string
        type: array
        required: false
      backupConfiguration:
        description: The daily backup configuration for the instance.
        items:
          type: BackupConfiguration
        type: array
        required: false
      databaseFlags:
        description: The database flags passed to the instance at startup.
        items:
          type: DatabaseFlags
        type: array
        required: false
      databaseReplicationEnabled:
        description: Configuration specific to read replica instance. Indicates whether replication is enabled or not.
        type: boolean
        required: false
      ipConfiguration:
        description: The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance.
        type: IpConfiguration
        required: false
      kind:
        default: 'sql#settings'
        description: 'This is always sql#settings.'
        type: string
        required: false
      locationPreference:
        description: The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or GCE zone for better performance.
        type: LocationPreference
        required: false
      pricingPlan:
        description: The pricing plan for this instance. This can be either PER_USE or PACKAGE.
        type: string
        required: false
      replicationType:
        description: The type of replication this instance uses. This can be either ASYNCHRONOUS or SYNCHRONOUS.
        type: string
        required: false
      settingsVersion:
        description: 'The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      tier:
        description: 'The tier of service for this instance, for example D1, D2. For more information, see pricing.'
        type: string
        required: false
  SslCert:
    description: SslCerts Resource
    properties:
      cert:
        description: PEM representation.
        type: string
        required: false
      certSerialNumber:
        description: 'Serial number, as extracted from the certificate.'
        type: string
        required: false
      commonName:
        description: 'User supplied name. Constrained to [a-zA-Z.-_ ]+.'
        type: string
        required: false
      createTime:
        description: Time when the certificate was created.
        format: rfc3339
        type: datetime
        required: false
      expirationTime:
        description: Time when the certificate expires.
        format: rfc3339
        type: datetime
        required: false
      instance:
        description: Name of the database instance.
        type: string
        required: false
      kind:
        default: 'sql#sslCert'
        description: 'This is always sql#sslCert.'
        type: string
        required: false
      sha1Fingerprint:
        description: Sha1 Fingerprint.
        type: string
        required: false
  SslCertDetail:
    description: SslCertDetail.
    properties:
      certInfo:
        description: The public information about the cert.
        type: SslCert
        required: false
      certPrivateKey:
        description: 'The private key for the client cert, in pem format. Keep private in order to protect your security.'
        type: string
        required: false
  SslCertsDeleteResponse:
    description: SslCert delete response.
    properties:
      kind:
        default: 'sql#sslCertsDelete'
        description: 'This is always sql#sslCertsDelete.'
        type: string
        required: false
      operation:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
        required: false
  SslCertsInsertRequest:
    description: SslCerts insert request.
    properties:
      commonName:
        description: User supplied name. Must be a distinct name from the other certificates for this instance. New certificates will not be usable until the instance is restarted.
        type: string
        required: false
  SslCertsInsertResponse:
    description: SslCert insert response.
    properties:
      clientCert:
        description: The new client certificate and private key. The new certificate will not work until the instance is restarted.
        type: SslCertDetail
        required: false
      kind:
        default: 'sql#sslCertsInsert'
        description: 'This is always sql#sslCertsInsert.'
        type: string
        required: false
      serverCaCert:
        description: The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource..
        type: SslCert
        required: false
  SslCertsListResponse:
    description: SslCerts list response.
    properties:
      items:
        description: List of client certificates for the instance.
        items:
          type: SslCert
        type: array
        required: false
      kind:
        default: 'sql#sslCertsList'
        description: 'This is always sql#sslCertsList.'
        type: string
        required: false
  Tier:
    description: A Google Cloud SQL service tier resource.
    properties:
      DiskQuota:
        description: The maximum disk size of this tier in bytes.
        format: int64
        type: string
        facets:
          format: string
        required: false
      RAM:
        description: The maximum RAM usage of this tier in bytes.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'sql#tier'
        description: 'This is always sql#tier.'
        type: string
        required: false
      region:
        description: The applicable regions for this tier.
        items:
          type: string
        type: array
        required: false
      tier:
        description: 'An identifier for the service tier, for example D1, D2 etc. For related information, see Pricing.'
        type: string
        required: false
  TiersListResponse:
    description: Tiers list response.
    properties:
      items:
        description: List of tiers.
        items:
          type: Tier
        type: array
        required: false
      kind:
        default: 'sql#tiersList'
        description: 'This is always sql#tiersList.'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
