#%RAML 1.0
title: Cloud Storage
version: v1beta1
baseUri: 'https://www.googleapis.com/storage/v1beta1'
protocols:
  - HTTPS
description: 'Lets you store and retrieve potentially-large, immutable data objects.'
(oas-tags-definition):
  - name: bucketAccessControls
  - name: buckets
  - name: objectAccessControls
  - name: objects
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com_storage_images_cloud-storage-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/storage/v1beta1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): storage
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/storage/docs/json_api/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/devstorage.full_control'
        - 'https://www.googleapis.com/auth/devstorage.read_only'
        - 'https://www.googleapis.com/auth/devstorage.read_write'
    description: Oauth 2.0 authentication
/b:
  displayName: b
  '/{bucket}':
    displayName: '{bucket}'
    /o:
      displayName: o
      get:
        displayName: storage.objects.list
        description: Retrieves a list of objects matching the criteria.
        responses:
          '200':
            body:
              application/json:
                type: Objects
            description: Successful response
        queryParameters:
          delimiter:
            description: 'Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.'
            type: string
          max-results:
            description: 'Maximum number of items plus prefixes to return. As duplicate prefixes are omitted, fewer total results may be returned than requested.'
            minimum: 0
            type: integer
          pageToken:
            description: A previously-returned page token representing part of the larger set of results to view.
            type: string
          prefix:
            description: Filter results to objects whose names begin with this prefix.
            type: string
          projection:
            description: Set of properties to return. Defaults to no_acl.
            enum:
              - full
              - no_acl
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.read_write'
        (oas-tags):
          - objects
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{object}':
        displayName: '{object}'
        /acl:
          displayName: acl
          '/{entity}':
            displayName: '{entity}'
            uriParameters:
              entity:
                description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
                required: true
                type: string
            put:
              displayName: storage.objectAccessControls.update
              description: Updates an ACL entry on the specified object.
              body:
                application/json:
                  type: ObjectAccessControl
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: ObjectAccessControl
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            patch:
              displayName: storage.objectAccessControls.patch
              description: Updates an ACL entry on the specified object. This method supports patch semantics.
              body:
                application/json:
                  type: ObjectAccessControl
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: ObjectAccessControl
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
            get:
              displayName: storage.objectAccessControls.get
              description: Returns the ACL entry for the specified entity on the specified object.
              responses:
                '200':
                  body:
                    application/json:
                      type: ObjectAccessControl
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
            delete:
              displayName: storage.objectAccessControls.delete
              description: Deletes the ACL entry for the specified entity on the specified object.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
          get:
            displayName: storage.objectAccessControls.list
            description: Retrieves ACL entries on the specified object.
            responses:
              '200':
                body:
                  application/json:
                    type: ObjectAccessControls
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/devstorage.full_control'
            (oas-tags):
              - objectAccessControls
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: storage.objectAccessControls.insert
            description: Creates a new ACL entry on the specified object.
            body:
              application/json:
                type: ObjectAccessControl
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: ObjectAccessControl
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/devstorage.full_control'
            (oas-tags):
              - objectAccessControls
        uriParameters:
          object:
            description: Name of the object.
            required: true
            type: string
        delete:
          displayName: storage.objects.delete
          description: Deletes data blobs and associated metadata.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: storage.objects.get
          description: Retrieves objects or their associated metadata.
          responses:
            '200':
              body:
                application/json:
                  type: Object
              description: Successful response
          queryParameters:
            projection:
              description: Set of properties to return. Defaults to no_acl.
              enum:
                - full
                - no_acl
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        patch:
          displayName: storage.objects.patch
          description: Updates a data blob's associated metadata. This method supports patch semantics.
          body:
            application/json:
              type: Object
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Object
              description: Successful response
          queryParameters:
            projection:
              description: Set of properties to return. Defaults to full.
              enum:
                - full
                - no_acl
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        put:
          displayName: storage.objects.update
          description: Updates a data blob's associated metadata.
          body:
            application/json:
              type: Object
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Object
              description: Successful response
          queryParameters:
            projection:
              description: Set of properties to return. Defaults to full.
              enum:
                - full
                - no_acl
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
      post:
        displayName: storage.objects.insert
        description: Stores new data blobs and associated metadata.
        body:
          application/json:
            type: Object
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Object
            description: Successful response
        queryParameters:
          name:
            description: 'Name of the object. Required when the object metadata is not otherwise provided. Overrides the object metadata''s name value, if any.'
            type: string
          projection:
            description: 'Set of properties to return. Defaults to no_acl, unless the object resource specifies the acl property, when it defaults to full.'
            enum:
              - full
              - no_acl
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.read_write'
        (oas-tags):
          - objects
    uriParameters:
      bucket:
        description: Name of a bucket.
        required: true
        type: string
    delete:
      displayName: storage.buckets.delete
      description: Deletes an empty bucket.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    patch:
      displayName: storage.buckets.patch
      description: Updates a bucket. This method supports patch semantics.
      body:
        application/json:
          type: Bucket
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Bucket
          description: Successful response
      queryParameters:
        projection:
          description: Set of properties to return. Defaults to full.
          enum:
            - full
            - no_acl
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
    /acl:
      displayName: acl
      get:
        displayName: storage.bucketAccessControls.list
        description: Retrieves ACL entries on the specified bucket.
        responses:
          '200':
            body:
              application/json:
                type: BucketAccessControls
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.full_control'
        (oas-tags):
          - bucketAccessControls
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{entity}':
        displayName: '{entity}'
        uriParameters:
          entity:
            description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
            required: true
            type: string
        delete:
          displayName: storage.bucketAccessControls.delete
          description: Deletes the ACL entry for the specified entity on the specified bucket.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: storage.bucketAccessControls.patch
          description: Updates an ACL entry on the specified bucket. This method supports patch semantics.
          body:
            application/json:
              type: BucketAccessControl
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: BucketAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
        put:
          displayName: storage.bucketAccessControls.update
          description: Updates an ACL entry on the specified bucket.
          body:
            application/json:
              type: BucketAccessControl
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: BucketAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
        get:
          displayName: storage.bucketAccessControls.get
          description: Returns the ACL entry for the specified entity on the specified bucket.
          responses:
            '200':
              body:
                application/json:
                  type: BucketAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
      post:
        displayName: storage.bucketAccessControls.insert
        description: Creates a new ACL entry on the specified bucket.
        body:
          application/json:
            type: BucketAccessControl
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: BucketAccessControl
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.full_control'
        (oas-tags):
          - bucketAccessControls
    get:
      displayName: storage.buckets.get
      description: Returns metadata for the specified bucket.
      responses:
        '200':
          body:
            application/json:
              type: Bucket
          description: Successful response
      queryParameters:
        projection:
          description: Set of properties to return. Defaults to no_acl.
          enum:
            - full
            - no_acl
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
    put:
      displayName: storage.buckets.update
      description: Updates a bucket.
      body:
        application/json:
          type: Bucket
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Bucket
          description: Successful response
      queryParameters:
        projection:
          description: Set of properties to return. Defaults to full.
          enum:
            - full
            - no_acl
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
  get:
    displayName: storage.buckets.list
    description: Retrieves a list of buckets for a given project.
    responses:
      '200':
        body:
          application/json:
            type: Buckets
        description: Successful response
    queryParameters:
      projectId:
        description: A valid API project identifier.
        required: true
        type: string
      max-results:
        description: Maximum number of buckets to return.
        minimum: 0
        type: integer
      pageToken:
        description: A previously-returned page token representing part of the larger set of results to view.
        type: string
      projection:
        description: Set of properties to return. Defaults to no_acl.
        enum:
          - full
          - no_acl
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
    (oas-tags):
      - buckets
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: storage.buckets.insert
    description: Creates a new bucket.
    body:
      application/json:
        type: Bucket
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Bucket
        description: Successful response
    queryParameters:
      projection:
        description: 'Set of properties to return. Defaults to no_acl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.'
        enum:
          - full
          - no_acl
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
    (oas-tags):
      - buckets
types:
  Bucket:
    description: A bucket.
    properties:
      acl:
        description: Access controls on the bucket.
        items:
          type: BucketAccessControl
        type: array
        required: false
      defaultObjectAcl:
        description: Default access controls to apply to new objects when no ACL is provided.
        items:
          type: ObjectAccessControl
        type: array
        required: false
      id:
        description: The name of the bucket.
        type: string
        required: false
      kind:
        default: 'storage#bucket'
        description: 'The kind of item this is. For buckets, this is always storage#bucket.'
        type: string
        required: false
      location:
        description: The location of the bucket. Object data for objects in the bucket resides in physical storage in this location. Can be US or EU. Defaults to US.
        type: string
        required: false
      owner:
        description: The owner of the bucket. This will always be the project team's owner group.
        properties:
          entity:
            description: 'The entity, in the form group-groupId.'
            type: string
            required: false
          entityId:
            description: The ID for the entity.
            type: string
            required: false
        type: object
        required: false
      projectId:
        description: The project the bucket belongs to.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      selfLink:
        description: The URI of this bucket.
        type: string
        required: false
      timeCreated:
        description: Creation time of the bucket in RFC 3339 format.
        format: rfc3339
        type: datetime
        required: false
      website:
        description: The bucket's website configuration.
        properties:
          mainPageSuffix:
            description: Behaves as the bucket's directory index where missing objects are treated as potential directories.
            type: string
            required: false
          notFoundPage:
            description: The custom object to return when a requested resource is not found.
            type: string
            required: false
        type: object
        required: false
  BucketAccessControl:
    description: An access-control entry.
    properties:
      bucket:
        description: The name of the bucket.
        type: string
        required: false
      domain:
        description: 'The domain associated with the entity, if any.'
        type: string
        required: false
      email:
        description: 'The email address associated with the entity, if any.'
        type: string
        required: false
      entity:
        description: |-
          The entity holding the permission, in one of the following forms: 
          - user-userId 
          - user-email 
          - group-groupId 
          - group-email 
          - domain-domain 
          - allUsers 
          - allAuthenticatedUsers Examples: 
          - The user liz@example.com would be user-liz@example.com. 
          - The group example@googlegroups.com would be group-example@googlegroups.com. 
          - To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.
        type: string
        required: false
      entityId:
        description: 'The ID for the entity, if any.'
        type: string
        required: false
      id:
        description: The ID of the access-control entry.
        type: string
        required: false
      kind:
        default: 'storage#bucketAccessControl'
        description: 'The kind of item this is. For bucket access control entries, this is always storage#bucketAccessControl.'
        type: string
        required: false
      role:
        description: 'The access permission for the entity. Can be READER, WRITER, or OWNER.'
        type: string
        required: false
      selfLink:
        description: The link to this access-control entry.
        type: string
        required: false
  BucketAccessControls:
    description: An access-control list.
    properties:
      items:
        description: The list of items.
        items:
          type: BucketAccessControl
        type: array
        required: false
      kind:
        default: 'storage#bucketAccessControls'
        description: 'The kind of item this is. For lists of bucket access control entries, this is always storage#bucketAccessControls.'
        type: string
        required: false
  Buckets:
    description: A list of buckets.
    properties:
      items:
        description: The list of items.
        items:
          type: Bucket
        type: array
        required: false
      kind:
        default: 'storage#buckets'
        description: 'The kind of item this is. For lists of buckets, this is always storage#buckets.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
  Object:
    description: An object.
    properties:
      acl:
        description: Access controls on the object.
        items:
          type: ObjectAccessControl
        type: array
        required: false
      bucket:
        description: The bucket containing this object.
        type: string
        required: false
      cacheControl:
        description: Cache-Control directive for the object data.
        type: string
        required: false
      contentDisposition:
        description: Content-Disposition of the object data.
        type: string
        required: false
      contentEncoding:
        description: Content-Encoding of the object data.
        type: string
        required: false
      contentLanguage:
        description: Content-Language of the object data.
        type: string
        required: false
      id:
        description: The ID of the object.
        type: string
        required: false
      kind:
        default: 'storage#object'
        description: 'The kind of item this is. For objects, this is always storage#object.'
        type: string
        required: false
      media:
        description: Object media data. Provided on your behalf when uploading raw media or multipart/related with an auxiliary media part.
        properties:
          algorithm:
            default: MD5
            description: Hash algorithm used. Currently only MD5 is supported. Required if a hash is provided.
            type: string
            required: false
          contentType:
            description: Content-Type of the object data.
            type: string
            required: false
          data:
            description: 'URL-safe Base64-encoded data. This property can be used to insert objects under 64KB in size, and will only be returned in response to the get method for objects so created. When this resource is returned in response to the list method, this property is omitted.'
            format: byte
            type: string
            facets:
              format: string
            required: false
          hash:
            description: Hash of the data. Required if a hash algorithm is provided.
            type: string
            required: false
          length:
            description: Content-Length of the data in bytes.
            format: uint64
            type: string
            facets:
              format: string
            required: false
          link:
            description: Media download link.
            type: string
            required: false
          timeCreated:
            description: Creation time of the data in RFC 3339 format.
            format: rfc3339
            type: datetime
            required: false
        type: object
        required: false
      metadata:
        description: 'User-provided metadata, in key/value pairs.'
        type: object
        required: false
        properties:
          //:
            description: An individual metadata entry.
            type: string
      name:
        description: The name of this object. Required if not specified by URL parameter.
        type: string
        required: false
      owner:
        description: The owner of the object. This will always be the uploader of the object.
        properties:
          entity:
            description: 'The entity, in the form user-userId.'
            type: string
            required: false
          entityId:
            description: The ID for the entity.
            type: string
            required: false
        type: object
        required: false
      selfLink:
        description: The link to this object.
        type: string
        required: false
  ObjectAccessControl:
    description: An access-control entry.
    properties:
      bucket:
        description: The name of the bucket.
        type: string
        required: false
      domain:
        description: 'The domain associated with the entity, if any.'
        type: string
        required: false
      email:
        description: 'The email address associated with the entity, if any.'
        type: string
        required: false
      entity:
        description: |-
          The entity holding the permission, in one of the following forms: 
          - user-userId 
          - user-email 
          - group-groupId 
          - group-email 
          - domain-domain 
          - allUsers 
          - allAuthenticatedUsers Examples: 
          - The user liz@example.com would be user-liz@example.com. 
          - The group example@googlegroups.com would be group-example@googlegroups.com. 
          - To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.
        type: string
        required: false
      entityId:
        description: 'The ID for the entity, if any.'
        type: string
        required: false
      id:
        description: The ID of the access-control entry.
        type: string
        required: false
      kind:
        default: 'storage#objectAccessControl'
        description: 'The kind of item this is. For object access control entries, this is always storage#objectAccessControl.'
        type: string
        required: false
      object:
        description: The name of the object.
        type: string
        required: false
      role:
        description: The access permission for the entity. Can be READER or OWNER.
        type: string
        required: false
      selfLink:
        description: The link to this access-control entry.
        type: string
        required: false
  ObjectAccessControls:
    description: An access-control list.
    properties:
      items:
        description: The list of items.
        items:
          type: ObjectAccessControl
        type: array
        required: false
      kind:
        default: 'storage#objectAccessControls'
        description: 'The kind of item this is. For lists of object access control entries, this is always storage#objectAccessControls.'
        type: string
        required: false
  Objects:
    description: A list of objects.
    properties:
      items:
        description: The list of items.
        items:
          type: Object
        type: array
        required: false
      kind:
        default: 'storage#objects'
        description: 'The kind of item this is. For lists of objects, this is always storage#objects.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      prefixes:
        description: The list of prefixes of objects matching-but-not-listed up to and including the requested delimiter.
        items:
          type: string
        type: array
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
