#%RAML 1.0
title: Google App Engine Admin
version: v1beta5
baseUri: 'https://appengine.googleapis.com/'
protocols:
  - HTTPS
description: Provisions and manages App Engine applications.
(oas-tags-definition):
  - name: apps
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/appengine/v1beta5/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): appengine
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://cloud.google.com/appengine/docs/admin-api/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/appengine.admin'
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/cloud-platform.read-only'
    description: Oauth 2.0 authentication
/v1beta5:
  displayName: v1beta5
  /apps:
    displayName: apps
    '/{appsId}':
      displayName: '{appsId}'
      /services:
        displayName: services
        '/{servicesId}':
          displayName: '{servicesId}'
          uriParameters:
            servicesId:
              description: Part of `name`. See documentation of `appsId`.
              required: true
              type: string
          patch:
            displayName: appengine.apps.services.patch
            description: Updates the configuration of the specified service.
            body:
              application/json:
                type: Service
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            queryParameters:
              mask:
                description: Standard field mask for the set of fields to be updated.
                type: string
              migrateTraffic:
                description: 'Set to `true` to gradually shift traffic from one version to another single version. By default, traffic is shifted immediately. For gradual traffic migration, the target version must be located within instances that are configured for both [warmup requests](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps.services.versions#inboundservicetype) and [automatic scaling](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps.services.versions#automaticscaling). You must specify the [`shardBy`](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps.services#shardby) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see [Migrating and Splitting Traffic](https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).'
                type: boolean
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform'
            (oas-tags):
              - apps
          is:
            - accessToken
            - alt
            - bearerToken
            - callback
            - fields
            - key
            - oauthToken
            - pp
            - prettyPrint
            - quotaUser
            - uploadProtocol
            - uploadType
            - xgafv
          /versions:
            displayName: versions
            '/{versionsId}':
              displayName: '{versionsId}'
              /instances:
                displayName: instances
                '/{instancesId}:debug':
                  displayName: '{instancesId}:debug'
                  uriParameters:
                    instancesId:
                      description: Part of `name`. See documentation of `appsId`.
                      required: true
                      type: string
                  post:
                    displayName: appengine.apps.services.versions.instances.debug
                    description: 'Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in "debug mode", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started. Only applicable for instances in App Engine flexible environment.'
                    body:
                      application/json:
                        type: DebugInstanceRequest
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Operation
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/cloud-platform'
                    (oas-tags):
                      - apps
                  is:
                    - accessToken
                    - alt
                    - bearerToken
                    - callback
                    - fields
                    - key
                    - oauthToken
                    - pp
                    - prettyPrint
                    - quotaUser
                    - uploadProtocol
                    - uploadType
                    - xgafv
                '/{instancesId}':
                  displayName: '{instancesId}'
                  uriParameters:
                    instancesId:
                      description: Part of `name`. See documentation of `appsId`.
                      required: true
                      type: string
                  get:
                    displayName: appengine.apps.services.versions.instances.get
                    description: Gets instance information.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Instance
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
                    (oas-tags):
                      - apps
                  is:
                    - accessToken
                    - alt
                    - bearerToken
                    - callback
                    - fields
                    - key
                    - oauthToken
                    - pp
                    - prettyPrint
                    - quotaUser
                    - uploadProtocol
                    - uploadType
                    - xgafv
                  delete:
                    displayName: appengine.apps.services.versions.instances.delete
                    description: Stops a running instance.
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Operation
                        description: Successful response
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/cloud-platform'
                    (oas-tags):
                      - apps
                get:
                  displayName: appengine.apps.services.versions.instances.list
                  description: Lists the instances of a version.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ListInstancesResponse
                      description: Successful response
                  queryParameters:
                    pageSize:
                      description: Maximum results to return per page.
                      type: integer
                    pageToken:
                      description: Continuation token for fetching the next page of results.
                      type: string
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/cloud-platform.read-only'
                  (oas-tags):
                    - apps
                is:
                  - accessToken
                  - alt
                  - bearerToken
                  - callback
                  - fields
                  - key
                  - oauthToken
                  - pp
                  - prettyPrint
                  - quotaUser
                  - uploadProtocol
                  - uploadType
                  - xgafv
              uriParameters:
                versionsId:
                  description: Part of `name`. See documentation of `appsId`.
                  required: true
                  type: string
              delete:
                displayName: appengine.apps.services.versions.delete
                description: Deletes an existing version.
                responses:
                  '200':
                    body:
                      application/json:
                        type: Operation
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - apps
              is:
                - accessToken
                - alt
                - bearerToken
                - callback
                - fields
                - key
                - oauthToken
                - pp
                - prettyPrint
                - quotaUser
                - uploadProtocol
                - uploadType
                - xgafv
              get:
                displayName: appengine.apps.services.versions.get
                description: 'Gets the specified Version resource. By default, only a `BASIC_VIEW` will be returned. Specify the `FULL_VIEW` parameter to get the full resource.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: Version
                    description: Successful response
                queryParameters:
                  view:
                    description: Controls the set of fields returned in the `Get` response.
                    enum:
                      - BASIC
                      - FULL
                    type: string
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform.read-only'
                (oas-tags):
                  - apps
              patch:
                displayName: appengine.apps.services.versions.patch
                description: 'Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses: * [`serving_status`](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps.services.versions#Version.FIELDS.serving_status): For Version resources that use basic scaling, manual scaling, or run in the App Engine flexible environment. * [`instance_class`](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps.services.versions#Version.FIELDS.instance_class): For Version resources that run in the App Engine standard environment. * [`automatic_scaling.min_idle_instances`](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps.services.versions#Version.FIELDS.automatic_scaling): For Version resources that use automatic scaling and run in the App Engine standard environment. * [`automatic_scaling.max_idle_instances`](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps.services.versions#Version.FIELDS.automatic_scaling): For Version resources that use automatic scaling and run in the App Engine standard environment.'
                body:
                  application/json:
                    type: Version
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: Operation
                    description: Successful response
                queryParameters:
                  mask:
                    description: Standard field mask for the set of fields to be updated.
                    type: string
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - apps
            get:
              displayName: appengine.apps.services.versions.list
              description: Lists the versions of a service.
              responses:
                '200':
                  body:
                    application/json:
                      type: ListVersionsResponse
                  description: Successful response
              queryParameters:
                view:
                  description: Controls the set of fields returned in the `List` response.
                  enum:
                    - BASIC
                    - FULL
                  type: string
                pageSize:
                  description: Maximum results to return per page.
                  type: integer
                pageToken:
                  description: Continuation token for fetching the next page of results.
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform.read-only'
              (oas-tags):
                - apps
            is:
              - accessToken
              - alt
              - bearerToken
              - callback
              - fields
              - key
              - oauthToken
              - pp
              - prettyPrint
              - quotaUser
              - uploadProtocol
              - uploadType
              - xgafv
            post:
              displayName: appengine.apps.services.versions.create
              description: Deploys new code and resource files to a new version.
              body:
                application/json:
                  type: Version
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform'
              (oas-tags):
                - apps
          delete:
            displayName: appengine.apps.services.delete
            description: Deletes the specified service and all enclosed versions.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform'
            (oas-tags):
              - apps
          get:
            displayName: appengine.apps.services.get
            description: Gets the current configuration of the specified service.
            responses:
              '200':
                body:
                  application/json:
                    type: Service
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform.read-only'
            (oas-tags):
              - apps
        get:
          displayName: appengine.apps.services.list
          description: Lists all the services in the application.
          responses:
            '200':
              body:
                application/json:
                  type: ListServicesResponse
              description: Successful response
          queryParameters:
            pageSize:
              description: Maximum results to return per page.
              type: integer
            pageToken:
              description: Continuation token for fetching the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          (oas-tags):
            - apps
        is:
          - accessToken
          - alt
          - bearerToken
          - callback
          - fields
          - key
          - oauthToken
          - pp
          - prettyPrint
          - quotaUser
          - uploadProtocol
          - uploadType
          - xgafv
      uriParameters:
        appsId:
          description: 'Part of `name`. Name of the application to get. Example: `apps/myapp`.'
          required: true
          type: string
      patch:
        displayName: appengine.apps.patch
        description: 'Updates the specified Application resource. You can update the following fields: * [`auth_domain`](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps#Application.FIELDS.auth_domain) * [`default_cookie_expiration`](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta5/apps#Application.FIELDS.default_cookie_expiration)'
        body:
          application/json:
            type: Application
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Operation
            description: Successful response
        queryParameters:
          mask:
            description: Standard field mask for the set of fields to be updated.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform'
        (oas-tags):
          - apps
      is:
        - accessToken
        - alt
        - bearerToken
        - callback
        - fields
        - key
        - oauthToken
        - pp
        - prettyPrint
        - quotaUser
        - uploadProtocol
        - uploadType
        - xgafv
      /locations:
        displayName: locations
        '/{locationsId}':
          displayName: '{locationsId}'
          uriParameters:
            locationsId:
              description: Part of `name`. See documentation of `appsId`.
              required: true
              type: string
          get:
            displayName: appengine.apps.locations.get
            description: Get information about a location.
            responses:
              '200':
                body:
                  application/json:
                    type: Location
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform.read-only'
            (oas-tags):
              - apps
          is:
            - accessToken
            - alt
            - bearerToken
            - callback
            - fields
            - key
            - oauthToken
            - pp
            - prettyPrint
            - quotaUser
            - uploadProtocol
            - uploadType
            - xgafv
        get:
          displayName: appengine.apps.locations.list
          description: Lists information about the supported locations for this service.
          responses:
            '200':
              body:
                application/json:
                  type: ListLocationsResponse
              description: Successful response
          queryParameters:
            filter:
              description: The standard list filter.
              type: string
            pageSize:
              description: The standard list page size.
              type: integer
            pageToken:
              description: The standard list page token.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          (oas-tags):
            - apps
        is:
          - accessToken
          - alt
          - bearerToken
          - callback
          - fields
          - key
          - oauthToken
          - pp
          - prettyPrint
          - quotaUser
          - uploadProtocol
          - uploadType
          - xgafv
      /operations:
        displayName: operations
        '/{operationsId}':
          displayName: '{operationsId}'
          uriParameters:
            operationsId:
              description: Part of `name`. See documentation of `appsId`.
              required: true
              type: string
          get:
            displayName: appengine.apps.operations.get
            description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/cloud-platform.read-only'
            (oas-tags):
              - apps
          is:
            - accessToken
            - alt
            - bearerToken
            - callback
            - fields
            - key
            - oauthToken
            - pp
            - prettyPrint
            - quotaUser
            - uploadProtocol
            - uploadType
            - xgafv
        get:
          displayName: appengine.apps.operations.list
          description: 'Lists operations that match the specified filter in the request. If the server doesn''t support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding below allows API services to override the binding to use different resource name schemes, such as `users/*/operations`.'
          responses:
            '200':
              body:
                application/json:
                  type: ListOperationsResponse
              description: Successful response
          queryParameters:
            filter:
              description: The standard list filter.
              type: string
            pageSize:
              description: The standard list page size.
              type: integer
            pageToken:
              description: The standard list page token.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          (oas-tags):
            - apps
        is:
          - accessToken
          - alt
          - bearerToken
          - callback
          - fields
          - key
          - oauthToken
          - pp
          - prettyPrint
          - quotaUser
          - uploadProtocol
          - uploadType
          - xgafv
      get:
        displayName: appengine.apps.get
        description: Gets information about an application.
        responses:
          '200':
            body:
              application/json:
                type: Application
            description: Successful response
        queryParameters:
          ensureResourcesExist:
            description: 'Certain resources associated with an application are created on-demand. Controls whether these resources should be created when performing the `GET` operation. If specified and any resources could not be created, the request will fail with an error code. Additionally, this parameter can cause the request to take longer to complete. Note: This parameter will be deprecated in a future version of the API.'
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/cloud-platform'
        (oas-tags):
          - apps
    post:
      displayName: appengine.apps.create
      description: 'Creates an App Engine application for a Google Cloud Platform project. This requires a project that excludes an App Engine application. For details about creating a project without an application, see the [Google Cloud Resource Manager create project topic](https://cloud.google.com/resource-manager/docs/creating-project).'
      body:
        application/json:
          type: Application
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Operation
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - apps
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
types:
  ApiConfigHandler:
    description: '[Google Cloud Endpoints](https://cloud.google.com/appengine/docs/python/endpoints/) configuration for API handlers.'
    properties:
      authFailAction:
        description: Action to take when users access resources that require authentication. Defaults to `redirect`.
        enum:
          - AUTH_FAIL_ACTION_UNSPECIFIED
          - AUTH_FAIL_ACTION_REDIRECT
          - AUTH_FAIL_ACTION_UNAUTHORIZED
        type: string
        required: false
      login:
        description: Level of login required to access this resource. Defaults to `optional`.
        enum:
          - LOGIN_UNSPECIFIED
          - LOGIN_OPTIONAL
          - LOGIN_ADMIN
          - LOGIN_REQUIRED
        type: string
        required: false
      script:
        description: Path to the script from the application root directory.
        type: string
        required: false
      securityLevel:
        description: Security (HTTPS) enforcement for this URL.
        enum:
          - SECURE_UNSPECIFIED
          - SECURE_DEFAULT
          - SECURE_NEVER
          - SECURE_OPTIONAL
          - SECURE_ALWAYS
        type: string
        required: false
      url:
        description: URL to serve the endpoint at.
        type: string
        required: false
  ApiEndpointHandler:
    description: Uses Google Cloud Endpoints to handle requests.
    properties:
      scriptPath:
        description: Path to the script from the application root directory.
        type: string
        required: false
  Application:
    description: An Application resource contains the top-level configuration of an App Engine application.
    properties:
      authDomain:
        description: Google Apps authentication domain that controls which users can access this application. Defaults to open access for any Google Account.
        type: string
        required: false
      codeBucket:
        description: A Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands. @OutputOnly
        type: string
        required: false
      defaultBucket:
        description: A Google Cloud Storage bucket that can be used by the application to store content. @OutputOnly
        type: string
        required: false
      defaultCookieExpiration:
        description: Cookie expiration policy for this application. @OutputOnly
        type: string
        required: false
      defaultHostname:
        description: 'Hostname used to reach the application, as resolved by App Engine. @OutputOnly'
        type: string
        required: false
      dispatchRules:
        description: HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. @OutputOnly
        items:
          type: UrlDispatchRule
        type: array
        required: false
      id:
        description: 'Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: `myapp`.'
        type: string
        required: false
      location:
        description: 'Location from which this application will be run. Application instances will run out of data centers in the chosen location, which is also where all of the application''s end user content is stored. Defaults to `us-central`. Options are: `us-central` - Central US `europe-west` - Western Europe `us-east1` - Eastern US'
        type: string
        required: false
      name:
        description: 'Full path to the Application resource in the API. Example: `apps/myapp`. @OutputOnly'
        type: string
        required: false
  AutomaticScaling:
    description: 'Automatic scaling is based on request rate, response latencies, and other application metrics.'
    properties:
      coolDownPeriod:
        description: 'Amount of time that the [Autoscaler](https://cloud.google.com/compute/docs/autoscaler/) should wait between changes to the number of virtual machines. Only applicable for VM runtimes.'
        type: string
        required: false
      cpuUtilization:
        description: Target scaling by CPU usage.
        type: CpuUtilization
        required: false
      diskUtilization:
        description: Target scaling by disk usage.
        type: DiskUtilization
        required: false
      maxConcurrentRequests:
        description: Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance. Defaults to a runtime-specific value.
        format: int32
        type: integer
        required: false
      maxIdleInstances:
        description: Maximum number of idle instances that should be maintained for this version.
        format: int32
        type: integer
        required: false
      maxPendingLatency:
        description: Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.
        type: string
        required: false
      maxTotalInstances:
        description: Maximum number of instances that should be started to handle requests.
        format: int32
        type: integer
        required: false
      minIdleInstances:
        description: Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a module.
        format: int32
        type: integer
        required: false
      minPendingLatency:
        description: Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.
        type: string
        required: false
      minTotalInstances:
        description: Minimum number of instances that should be maintained for this version.
        format: int32
        type: integer
        required: false
      networkUtilization:
        description: Target scaling by network usage.
        type: NetworkUtilization
        required: false
      requestUtilization:
        description: Target scaling by request utilization.
        type: RequestUtilization
        required: false
  BasicScaling:
    description: A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.
    properties:
      idleTimeout:
        description: Duration of time after the last request that an instance must wait before the instance is shut down.
        type: string
        required: false
      maxInstances:
        description: Maximum number of instances to create for this version.
        format: int32
        type: integer
        required: false
  ContainerInfo:
    description: Docker image that is used to start a VM container for the version you deploy.
    properties:
      image:
        description: 'URI to the hosted container image in a Docker repository. The URI must be fully qualified and include a tag or digest. Examples: "gcr.io/my-project/image:tag" or "gcr.io/my-project/image@digest"'
        type: string
        required: false
  CpuUtilization:
    description: Target scaling by CPU usage.
    properties:
      aggregationWindowLength:
        description: Period of time over which CPU utilization is calculated.
        type: string
        required: false
      targetUtilization:
        description: Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.
        format: double
        type: number
        required: false
  DebugInstanceRequest:
    description: Request message for `Instances.DebugInstance`.
    properties:
      sshKey:
        description: 'Public SSH key to add to the instance. Example: `[USERNAME]:ssh-rsa KEY_VALUE` or `[USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {"userName":"[USERNAME]","expireOn":"[EXPIRE_TIME]"}` For more information, see [Adding and Removing SSH Keys](https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys)'
        type: string
        required: false
  Deployment:
    description: Code and application artifacts used to deploy a version to App Engine.
    properties:
      container:
        description: A Docker image that App Engine uses the run the version. Only applicable for instances in App Engine flexible environment.
        type: ContainerInfo
        required: false
      files:
        description: Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.
        type: object
        required: false
        properties:
          //:
            type: FileInfo
      sourceReferences:
        description: Origin of the source code for this deployment. There can be more than one source reference per version if source code is distributed among multiple repositories.
        items:
          type: SourceReference
        type: array
        required: false
  DiskUtilization:
    description: Target scaling by disk usage. Only applicable for VM runtimes.
    properties:
      targetReadBytesPerSec:
        description: Target bytes read per second.
        format: int32
        type: integer
        required: false
      targetReadOpsPerSec:
        description: Target ops read per second.
        format: int32
        type: integer
        required: false
      targetWriteBytesPerSec:
        description: Target bytes written per second.
        format: int32
        type: integer
        required: false
      targetWriteOpsPerSec:
        description: Target ops written per second.
        format: int32
        type: integer
        required: false
  ErrorHandler:
    description: Custom static error page to be served when an error occurs.
    properties:
      errorCode:
        description: Error condition this handler applies to.
        enum:
          - ERROR_CODE_UNSPECIFIED
          - ERROR_CODE_DEFAULT
          - ERROR_CODE_OVER_QUOTA
          - ERROR_CODE_DOS_API_DENIAL
          - ERROR_CODE_TIMEOUT
        type: string
        required: false
      mimeType:
        description: MIME type of file. Defaults to `text/html`.
        type: string
        required: false
      staticFile:
        description: Static file content to be served for this error.
        type: string
        required: false
  FileInfo:
    description: Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.
    properties:
      mimeType:
        description: The MIME type of the file. Defaults to the value from Google Cloud Storage.
        type: string
        required: false
      sha1Sum:
        description: 'The SHA1 hash of the file, in hex.'
        type: string
        required: false
      sourceUrl:
        description: 'URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form ''http(s)://storage.googleapis.com/\/\''.'
        type: string
        required: false
  HealthCheck:
    description: Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.
    properties:
      checkInterval:
        description: Interval between health checks.
        type: string
        required: false
      disableHealthCheck:
        description: Whether to explicitly disable health checks for this instance.
        type: boolean
        required: false
      healthyThreshold:
        description: Number of consecutive successful health checks required before receiving traffic.
        type: integer
        required: false
      host:
        description: 'Host header to send when performing an HTTP health check. Example: "myapp.appspot.com"'
        type: string
        required: false
      restartThreshold:
        description: Number of consecutive failed health checks required before an instance is restarted.
        type: integer
        required: false
      timeout:
        description: Time before the health check is considered failed.
        type: string
        required: false
      unhealthyThreshold:
        description: Number of consecutive failed health checks required before removing traffic.
        type: integer
        required: false
  Instance:
    description: An Instance resource is the computing unit that App Engine uses to automatically scale an application.
    properties:
      appEngineRelease:
        description: App Engine release this instance is running on. @OutputOnly
        type: string
        required: false
      availability:
        description: Availability of the instance. @OutputOnly
        enum:
          - UNSPECIFIED
          - RESIDENT
          - DYNAMIC
        type: string
        required: false
      averageLatency:
        description: Average latency (ms) over the last minute. @OutputOnly
        format: int32
        type: integer
        required: false
      errors:
        description: Number of errors since this instance was started. @OutputOnly
        type: integer
        required: false
      id:
        description: 'Relative name of the instance within the version. Example: `instance-1`. @OutputOnly'
        type: string
        required: false
      memoryUsage:
        description: Total memory in use (bytes). @OutputOnly
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: 'Full path to the Instance resource in the API. Example: `apps/myapp/services/default/versions/v1/instances/instance-1`. @OutputOnly'
        type: string
        required: false
      qps:
        description: Average queries per second (QPS) over the last minute. @OutputOnly
        format: float
        type: number
        required: false
      requests:
        description: Number of requests since this instance was started. @OutputOnly
        format: int32
        type: integer
        required: false
      startTimestamp:
        description: Time that this instance was started. @OutputOnly
        type: string
        required: false
      vmId:
        description: Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment. @OutputOnly
        type: string
        required: false
      vmIp:
        description: The IP address of this instance. Only applicable for instances in App Engine flexible environment. @OutputOnly
        type: string
        required: false
      vmName:
        description: Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment. @OutputOnly
        type: string
        required: false
      vmStatus:
        description: Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment. @OutputOnly
        type: string
        required: false
      vmUnlocked:
        description: Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment. @OutputOnly
        type: boolean
        required: false
      vmZoneName:
        description: Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment. @OutputOnly
        type: string
        required: false
  Library:
    description: Third-party Python runtime library that is required by the application.
    properties:
      name:
        description: 'Name of the library. Example: "django".'
        type: string
        required: false
      version:
        description: 'Version of the library to select, or "latest".'
        type: string
        required: false
  ListInstancesResponse:
    description: Response message for `Instances.ListInstances`.
    properties:
      instances:
        description: The instances belonging to the requested version.
        items:
          type: Instance
        type: array
        required: false
      nextPageToken:
        description: Continuation token for fetching the next page of results.
        type: string
        required: false
  ListLocationsResponse:
    description: The response message for LocationService.ListLocations.
    properties:
      locations:
        description: A list of locations that matches the specified filter in the request.
        items:
          type: Location
        type: array
        required: false
      nextPageToken:
        description: The standard List next-page token.
        type: string
        required: false
  ListOperationsResponse:
    description: The response message for Operations.ListOperations.
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
        required: false
      operations:
        description: A list of operations that matches the specified filter in the request.
        items:
          type: Operation
        type: array
        required: false
  ListServicesResponse:
    description: Response message for `Services.ListServices`.
    properties:
      nextPageToken:
        description: Continuation token for fetching the next page of results.
        type: string
        required: false
      services:
        description: The services belonging to the requested application.
        items:
          type: Service
        type: array
        required: false
  ListVersionsResponse:
    description: Response message for `Versions.ListVersions`.
    properties:
      nextPageToken:
        description: Continuation token for fetching the next page of results.
        type: string
        required: false
      versions:
        description: The versions belonging to the requested service.
        items:
          type: Version
        type: array
        required: false
  Location:
    description: A resource that represents Google Cloud Platform location.
    properties:
      labels:
        description: 'Cross-service attributes for the location. For example {"cloud.googleapis.com/region": "us-east1"}'
        type: object
        required: false
        properties:
          //:
            type: string
      locationId:
        description: 'The canonical id for this location. For example: `"us-east1"`.'
        type: string
        required: false
      metadata:
        description: Service-specific metadata. For example the available capacity at the given location.
        type: object
        required: false
        properties:
          //:
            description: Properties of the object. Contains field @type with type URL.
      name:
        description: 'Resource name for the location, which may vary between implementations. For example: `"projects/example-project/locations/us-east1"`'
        type: string
        required: false
  LocationMetadata:
    description: Metadata for the given google.cloud.location.Location.
    properties:
      flexibleEnvironmentAvailable:
        description: App Engine Flexible Environment is available in the given location. @OutputOnly
        type: boolean
        required: false
      standardEnvironmentAvailable:
        description: App Engine Standard Environment is available in the given location. @OutputOnly
        type: boolean
        required: false
  ManualScaling:
    description: 'A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.'
    properties:
      instances:
        description: 'Number of instances to assign to the service at the start. This number can later be altered by using the [Modules API](https://cloud.google.com/appengine/docs/python/modules/functions) `set_num_instances()` function.'
        format: int32
        type: integer
        required: false
  Network:
    description: Extra network settings. Only applicable for VM runtimes.
    properties:
      forwardedPorts:
        description: 'List of ports, or port pairs, to forward from the virtual machine to the application container.'
        items:
          type: string
        type: array
        required: false
      instanceTag:
        description: Tag to apply to the VM instance during creation.
        type: string
        required: false
      name:
        description: 'Google Cloud Platform network where the virtual machines are created. Specify the short name, not the resource path. Defaults to `default`.'
        type: string
        required: false
  NetworkUtilization:
    description: Target scaling by network usage. Only applicable for VM runtimes.
    properties:
      targetReceivedBytesPerSec:
        description: Target bytes received per second.
        format: int32
        type: integer
        required: false
      targetReceivedPacketsPerSec:
        description: Target packets received per second.
        format: int32
        type: integer
        required: false
      targetSentBytesPerSec:
        description: Target bytes sent per second.
        format: int32
        type: integer
        required: false
      targetSentPacketsPerSec:
        description: Target packets sent per second.
        format: int32
        type: integer
        required: false
  Operation:
    description: This resource represents a long-running operation that is the result of a network API call.
    properties:
      done:
        description: 'If the value is `false`, it means the operation is still in progress. If true, the operation is completed, and either `error` or `response` is available.'
        type: boolean
        required: false
      error:
        description: The error result of the operation in case of failure or cancellation.
        type: Status
        required: false
      metadata:
        description: 'Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.'
        type: object
        required: false
        properties:
          //:
            description: Properties of the object. Contains field @type with type URL.
      name:
        description: 'The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should have the format of `operations/some/unique/name`.'
        type: string
        required: false
      response:
        description: 'The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.'
        type: object
        required: false
        properties:
          //:
            description: Properties of the object. Contains field @type with type URL.
  OperationMetadata:
    description: Metadata for the given google.longrunning.Operation.
    properties:
      endTime:
        description: Timestamp that this operation completed. @OutputOnly
        type: string
        required: false
      insertTime:
        description: Timestamp that this operation was created. @OutputOnly
        type: string
        required: false
      method:
        description: 'API method that initiated this operation. Example: `google.appengine.v1beta4.Version.CreateVersion`. @OutputOnly'
        type: string
        required: false
      operationType:
        description: 'Type of this operation. Deprecated, use method field instead. Example: "create_version". @OutputOnly'
        type: string
        required: false
      target:
        description: 'Name of the resource that this operation is acting on. Example: `apps/myapp/modules/default`. @OutputOnly'
        type: string
        required: false
      user:
        description: User who requested this operation. @OutputOnly
        type: string
        required: false
  OperationMetadataExperimental:
    description: Metadata for the given google.longrunning.Operation.
    properties:
      endTime:
        description: Time that this operation completed. @OutputOnly
        type: string
        required: false
      insertTime:
        description: Time that this operation was created. @OutputOnly
        type: string
        required: false
      method:
        description: 'API method that initiated this operation. Example: `google.appengine.experimental.CustomDomains.CreateCustomDomain`. @OutputOnly'
        type: string
        required: false
      target:
        description: 'Name of the resource that this operation is acting on. Example: `apps/myapp/customDomains/example.com`. @OutputOnly'
        type: string
        required: false
      user:
        description: User who requested this operation. @OutputOnly
        type: string
        required: false
  OperationMetadataV1:
    description: Metadata for the given google.longrunning.Operation.
    properties:
      endTime:
        description: Time that this operation completed. @OutputOnly
        type: string
        required: false
      insertTime:
        description: Time that this operation was created. @OutputOnly
        type: string
        required: false
      method:
        description: 'API method that initiated this operation. Example: `google.appengine.v1.Versions.CreateVersion`. @OutputOnly'
        type: string
        required: false
      target:
        description: 'Name of the resource that this operation is acting on. Example: `apps/myapp/services/default`. @OutputOnly'
        type: string
        required: false
      user:
        description: User who requested this operation. @OutputOnly
        type: string
        required: false
  OperationMetadataV1Beta5:
    description: Metadata for the given google.longrunning.Operation.
    properties:
      endTime:
        description: Timestamp that this operation completed. @OutputOnly
        type: string
        required: false
      insertTime:
        description: Timestamp that this operation was created. @OutputOnly
        type: string
        required: false
      method:
        description: 'API method name that initiated this operation. Example: `google.appengine.v1beta5.Version.CreateVersion`. @OutputOnly'
        type: string
        required: false
      target:
        description: 'Name of the resource that this operation is acting on. Example: `apps/myapp/services/default`. @OutputOnly'
        type: string
        required: false
      user:
        description: User who requested this operation. @OutputOnly
        type: string
        required: false
  RequestUtilization:
    description: Target scaling by request utilization. Only applicable for VM runtimes.
    properties:
      targetConcurrentRequests:
        description: Target number of concurrent requests.
        format: int32
        type: integer
        required: false
      targetRequestCountPerSec:
        description: Target requests per second.
        format: int32
        type: integer
        required: false
  Resources:
    description: Machine resources for a version.
    properties:
      cpu:
        description: Number of CPU cores needed.
        format: double
        type: number
        required: false
      diskGb:
        description: Disk size (GB) needed.
        format: double
        type: number
        required: false
      memoryGb:
        description: Memory (GB) needed.
        format: double
        type: number
        required: false
      volumes:
        description: Volumes mounted within the app container.
        items:
          type: Volume
        type: array
        required: false
  ScriptHandler:
    description: Executes a script to handle the request that matches the URL pattern.
    properties:
      scriptPath:
        description: Path to the script from the application root directory.
        type: string
        required: false
  Service:
    description: 'A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle other tasks such as API requests from mobile devices or backend data analysis. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.'
    properties:
      id:
        description: 'Relative name of the service within the application. Example: `default`. @OutputOnly'
        type: string
        required: false
      name:
        description: 'Full path to the Service resource in the API. Example: `apps/myapp/services/default`. @OutputOnly'
        type: string
        required: false
      split:
        description: Mapping that defines fractional HTTP traffic diversion to different versions within the service.
        type: TrafficSplit
        required: false
  SourceReference:
    description: Reference to a particular snapshot of the source tree used to build and deploy the application.
    properties:
      repository:
        description: 'URI string identifying the repository. Example: "https://source.developers.google.com/p/app-123/r/default"'
        type: string
        required: false
      revisionId:
        description: 'The canonical, persistent identifier of the deployed revision. Aliases that include tags or branch names are not allowed. Example (git): "2198322f89e0bb2e25021667c2ed489d1fd34e6b"'
        type: string
        required: false
  StaticFilesHandler:
    description: 'Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.'
    properties:
      applicationReadable:
        description: 'Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas.'
        type: boolean
        required: false
      expiration:
        description: Time a static file served by this handler should be cached.
        type: string
        required: false
      httpHeaders:
        description: HTTP headers to use for all responses from these URLs.
        type: object
        required: false
        properties:
          //:
            type: string
      mimeType:
        description: 'MIME type used to serve all files served by this handler. Defaults to file-specific MIME types, which are derived from each file''s filename extension.'
        type: string
        required: false
      path:
        description: 'Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.'
        type: string
        required: false
      requireMatchingFile:
        description: Whether this handler should match the request if the file referenced by the handler does not exist.
        type: boolean
        required: false
      uploadPathRegex:
        description: Regular expression that matches the file paths for all files that should be referenced by this handler.
        type: string
        required: false
  Status:
    description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.'
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
        required: false
      details:
        description: A list of messages that carry the error details. There will be a common set of message types for APIs to use.
        items:
          type: object
          properties:
            //:
              description: Properties of the object. Contains field @type with type URL.
        type: array
        required: false
      message:
        description: 'A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.'
        type: string
        required: false
  TrafficSplit:
    description: Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.
    properties:
      allocations:
        description: 'Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.'
        type: object
        required: false
        properties:
          //:
            format: double
            type: number
      shardBy:
        description: Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.
        enum:
          - UNSPECIFIED
          - COOKIE
          - IP
        type: string
        required: false
  UrlDispatchRule:
    description: Rules to match an HTTP request and dispatch that request to a service.
    properties:
      domain:
        description: 'Domain name to match against. The wildcard "`*`" is supported if specified before a period: "`*.`". Defaults to matching all domains: "`*`".'
        type: string
        required: false
      path:
        description: Pathname within the host. Must start with a "`/`". A single "`*`" can be included at the end of the path. The sum of the lengths of the domain and path may not exceed 100 characters.
        type: string
        required: false
      service:
        description: 'Resource id of a service in this application that should serve the matched request. The service must already exist. Example: `default`.'
        type: string
        required: false
  UrlMap:
    description: 'URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code, or by serving static files uploaded with the version, such as images, CSS, or JavaScript.'
    properties:
      apiEndpoint:
        description: Uses API Endpoints to handle requests.
        type: ApiEndpointHandler
        required: false
      authFailAction:
        description: Action to take when users access resources that require authentication. Defaults to `redirect`.
        enum:
          - AUTH_FAIL_ACTION_UNSPECIFIED
          - AUTH_FAIL_ACTION_REDIRECT
          - AUTH_FAIL_ACTION_UNAUTHORIZED
        type: string
        required: false
      login:
        description: Level of login required to access this resource.
        enum:
          - LOGIN_UNSPECIFIED
          - LOGIN_OPTIONAL
          - LOGIN_ADMIN
          - LOGIN_REQUIRED
        type: string
        required: false
      redirectHttpResponseCode:
        description: '`30x` code to use when performing redirects for the `secure` field. Defaults to `302`.'
        enum:
          - REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED
          - REDIRECT_HTTP_RESPONSE_CODE_301
          - REDIRECT_HTTP_RESPONSE_CODE_302
          - REDIRECT_HTTP_RESPONSE_CODE_303
          - REDIRECT_HTTP_RESPONSE_CODE_307
        type: string
        required: false
      script:
        description: Executes a script to handle the request that matches this URL pattern.
        type: ScriptHandler
        required: false
      securityLevel:
        description: Security (HTTPS) enforcement for this URL.
        enum:
          - SECURE_UNSPECIFIED
          - SECURE_DEFAULT
          - SECURE_NEVER
          - SECURE_OPTIONAL
          - SECURE_ALWAYS
        type: string
        required: false
      staticFiles:
        description: 'Returns the contents of a file, such as an image, as the response.'
        type: StaticFilesHandler
        required: false
      urlRegex:
        description: 'A URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.'
        type: string
        required: false
  Version:
    description: A Version resource is a specific set of source code and configuration files that are deployed into a service.
    properties:
      apiConfig:
        description: 'Serving configuration for [Google Cloud Endpoints](https://cloud.google.com/appengine/docs/python/endpoints/). Only returned in `GET` requests if `view=FULL` is set.'
        type: ApiConfigHandler
        required: false
      automaticScaling:
        description: 'Automatic scaling is based on request rate, response latencies, and other application metrics.'
        type: AutomaticScaling
        required: false
      basicScaling:
        description: A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.
        type: BasicScaling
        required: false
      betaSettings:
        description: Metadata settings that are supplied to this version to enable beta runtime features.
        type: object
        required: false
        properties:
          //:
            type: string
      creationTime:
        description: Time that this version was created. @OutputOnly
        type: string
        required: false
      defaultExpiration:
        description: 'Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding [StaticFilesHandler](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#staticfileshandler) does not specify its own expiration time. Only returned in `GET` requests if `view=FULL` is set.'
        type: string
        required: false
      deployer:
        description: Email address of the user who created this version. @OutputOnly
        type: string
        required: false
      deployment:
        description: Code and application artifacts that make up this version. Only returned in `GET` requests if `view=FULL` is set.
        type: Deployment
        required: false
      diskUsageBytes:
        description: Total size of version files hosted on App Engine disk in bytes. @OutputOnly
        format: int64
        type: string
        facets:
          format: string
        required: false
      env:
        description: App Engine execution environment to use for this version. Defaults to `1`.
        type: string
        required: false
      envVariables:
        description: Environment variables made available to the application. Only returned in `GET` requests if `view=FULL` is set.
        type: object
        required: false
        properties:
          //:
            type: string
      errorHandlers:
        description: Custom static error pages. Limited to 10KB per page. Only returned in `GET` requests if `view=FULL` is set.
        items:
          type: ErrorHandler
        type: array
        required: false
      handlers:
        description: An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted. Only returned in `GET` requests if `view=FULL` is set.
        items:
          type: UrlMap
        type: array
        required: false
      healthCheck:
        description: Configures health checking for VM instances. Unhealthy instances are be stopped and replaced with new instances. Only applicable for VM runtimes. Only returned in `GET` requests if `view=FULL` is set.
        type: HealthCheck
        required: false
      id:
        description: 'Relative name of the version within the module. Example: `v1`. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: "default", "latest", and any name with the prefix "ah-".'
        type: string
        required: false
      inboundServices:
        description: 'Before an application can receive email or XMPP messages, the application must be configured to enable the service.'
        items:
          enum:
            - INBOUND_SERVICE_UNSPECIFIED
            - INBOUND_SERVICE_MAIL
            - INBOUND_SERVICE_MAIL_BOUNCE
            - INBOUND_SERVICE_XMPP_ERROR
            - INBOUND_SERVICE_XMPP_MESSAGE
            - INBOUND_SERVICE_XMPP_SUBSCRIBE
            - INBOUND_SERVICE_XMPP_PRESENCE
            - INBOUND_SERVICE_CHANNEL_PRESENCE
            - INBOUND_SERVICE_WARMUP
          type: string
        type: array
        required: false
      instanceClass:
        description: 'Instance class that is used to run this version. Valid values are: * AutomaticScaling: `F1`, `F2`, `F4`, `F4_1G` * ManualScaling or BasicScaling: `B1`, `B2`, `B4`, `B8`, `B4_1G` Defaults to `F1` for AutomaticScaling and `B1` for ManualScaling or BasicScaling.'
        type: string
        required: false
      libraries:
        description: Configuration for third-party Python runtime libraries required by the application. Only returned in `GET` requests if `view=FULL` is set.
        items:
          type: Library
        type: array
        required: false
      manualScaling:
        description: 'A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.'
        type: ManualScaling
        required: false
      name:
        description: 'Full path to the Version resource in the API. Example: `apps/myapp/services/default/versions/v1`. @OutputOnly'
        type: string
        required: false
      network:
        description: Extra network settings. Only applicable for VM runtimes.
        type: Network
        required: false
      nobuildFilesRegex:
        description: Files that match this pattern will not be built into this version. Only applicable for Go runtimes. Only returned in `GET` requests if `view=FULL` is set.
        type: string
        required: false
      resources:
        description: Machine resources for this version. Only applicable for VM runtimes.
        type: Resources
        required: false
      runtime:
        description: 'Desired runtime. Example: `python27`.'
        type: string
        required: false
      servingStatus:
        description: Current serving status of this version. Only the versions with a `SERVING` status create instances and can be billed. `SERVING_STATUS_UNSPECIFIED` is an invalid value. Defaults to `SERVING`.
        enum:
          - SERVING_STATUS_UNSPECIFIED
          - SERVING
          - STOPPED
        type: string
        required: false
      threadsafe:
        description: Whether multiple requests can be dispatched to this version at once.
        type: boolean
        required: false
      vm:
        description: Whether to deploy this version in a container on a virtual machine.
        type: boolean
        required: false
  Volume:
    description: Volumes mounted within the app container. Only applicable for VM runtimes.
    properties:
      name:
        description: Unique name for the volume.
        type: string
        required: false
      sizeGb:
        description: Volume size in GB.
        format: double
        type: number
        required: false
      volumeType:
        description: 'Underlying volume type, e.g. ''tmpfs''.'
        type: string
        required: false
traits:
  xgafv:
    queryParameters:
      $.xgafv:
        type: string
        description: V1 error format.
  accessToken:
    queryParameters:
      access_token:
        type: string
        description: OAuth access token.
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for response.
        default: json
  bearerToken:
    queryParameters:
      bearer_token:
        type: string
        description: OAuth bearer token.
  callback:
    queryParameters:
      callback:
        type: string
        description: JSONP
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  pp:
    queryParameters:
      pp:
        type: boolean
        description: Pretty-print response.
        default: true
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
  uploadType:
    queryParameters:
      uploadType:
        type: string
        description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
  uploadProtocol:
    queryParameters:
      upload_protocol:
        type: string
        description: 'Upload protocol for media (e.g. "raw", "multipart").'
