#%RAML 1.0
title: Google Play EMM
version: v1
baseUri: 'https://www.googleapis.com/androidenterprise/v1'
protocols:
  - HTTPS
description: Manages the deployment of apps to Android for Work users.
(oas-tags-definition):
  - name: collections
  - name: collectionviewers
  - name: devices
  - name: enterprises
  - name: entitlements
  - name: grouplicenses
  - name: grouplicenseusers
  - name: installs
  - name: managedconfigurationsfordevice
  - name: managedconfigurationsforuser
  - name: permissions
  - name: products
  - name: serviceaccountkeys
  - name: storelayoutclusters
  - name: storelayoutpages
  - name: users
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_android_market_images_web_play_logo_x2.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/androidenterprise/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): androidenterprise
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/android/work/play/emm-api'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/androidenterprise'
    description: Oauth 2.0 authentication
/enterprises:
  displayName: enterprises
  '/{enterpriseId}':
    displayName: '{enterpriseId}'
    /storeLayout:
      displayName: storeLayout
      /pages:
        displayName: pages
        '/{pageId}':
          displayName: '{pageId}'
          uriParameters:
            pageId:
              description: The ID of the page.
              required: true
              type: string
          patch:
            displayName: androidenterprise.storelayoutpages.patch
            description: Updates the content of a store page. This method supports patch semantics.
            body:
              application/json:
                type: StorePage
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: StorePage
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - storelayoutpages
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          put:
            displayName: androidenterprise.storelayoutpages.update
            description: Updates the content of a store page.
            body:
              application/json:
                type: StorePage
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: StorePage
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - storelayoutpages
          /clusters:
            displayName: clusters
            get:
              displayName: androidenterprise.storelayoutclusters.list
              description: Retrieves the details of all clusters on the specified page.
              responses:
                '200':
                  body:
                    application/json:
                      type: StoreLayoutClustersListResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - storelayoutclusters
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            post:
              displayName: androidenterprise.storelayoutclusters.insert
              description: Inserts a new cluster in a page.
              body:
                application/json:
                  type: StoreCluster
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: StoreCluster
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - storelayoutclusters
            '/{clusterId}':
              displayName: '{clusterId}'
              uriParameters:
                clusterId:
                  description: The ID of the cluster.
                  required: true
                  type: string
              delete:
                displayName: androidenterprise.storelayoutclusters.delete
                description: Deletes a cluster.
                responses:
                  '200':
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - storelayoutclusters
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              get:
                displayName: androidenterprise.storelayoutclusters.get
                description: Retrieves details of a cluster.
                responses:
                  '200':
                    body:
                      application/json:
                        type: StoreCluster
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - storelayoutclusters
              patch:
                displayName: androidenterprise.storelayoutclusters.patch
                description: Updates a cluster. This method supports patch semantics.
                body:
                  application/json:
                    type: StoreCluster
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: StoreCluster
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - storelayoutclusters
              put:
                displayName: androidenterprise.storelayoutclusters.update
                description: Updates a cluster.
                body:
                  application/json:
                    type: StoreCluster
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: StoreCluster
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - storelayoutclusters
          delete:
            displayName: androidenterprise.storelayoutpages.delete
            description: Deletes a store page.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - storelayoutpages
          get:
            displayName: androidenterprise.storelayoutpages.get
            description: Retrieves details of a store page.
            responses:
              '200':
                body:
                  application/json:
                    type: StorePage
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - storelayoutpages
        get:
          displayName: androidenterprise.storelayoutpages.list
          description: Retrieves the details of all pages in the store.
          responses:
            '200':
              body:
                application/json:
                  type: StoreLayoutPagesListResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - storelayoutpages
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: androidenterprise.storelayoutpages.insert
          description: Inserts a new store page.
          body:
            application/json:
              type: StorePage
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: StorePage
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - storelayoutpages
      get:
        displayName: androidenterprise.enterprises.getStoreLayout
        description: 'Returns the store layout for the enterprise. If the store layout has not been set, or if the store layout has no homepageId set, returns a NOT_FOUND error.'
        responses:
          '200':
            body:
              application/json:
                type: StoreLayout
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - enterprises
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      put:
        displayName: androidenterprise.enterprises.setStoreLayout
        description: 'Sets the store layout for the enterprise. By default, storeLayoutType is set to "basic" and the basic store layout is enabled. The basic layout only contains apps approved by the administrator, and that have been added to the available product set for a user (using the  setAvailableProductSet call). Apps on the page are sorted in order of their product ID value. If you create a custom store layout (by setting storeLayoutType = "custom"), the basic store layout is disabled.'
        body:
          application/json:
            type: StoreLayout
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: StoreLayout
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - enterprises
    uriParameters:
      enterpriseId:
        description: The ID of the enterprise.
        required: true
        type: string
    get:
      displayName: androidenterprise.enterprises.get
      description: Retrieves the name and domain of an enterprise.
      responses:
        '200':
          body:
            application/json:
              type: Enterprise
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - enterprises
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /collections:
      displayName: collections
      get:
        displayName: androidenterprise.collections.list
        description: Retrieves the IDs of all the collections for an enterprise.
        responses:
          '200':
            body:
              application/json:
                type: CollectionsListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - collections
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{collectionId}':
        displayName: '{collectionId}'
        uriParameters:
          collectionId:
            description: The ID of the collection.
            required: true
            type: string
        delete:
          displayName: androidenterprise.collections.delete
          description: Deletes a collection.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - collections
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: androidenterprise.collections.patch
          description: Updates a collection. This method supports patch semantics.
          body:
            application/json:
              type: Collection
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Collection
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - collections
        /users:
          displayName: users
          get:
            displayName: androidenterprise.collectionviewers.list
            description: Retrieves the IDs of the users who have been specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only these users will see the collection.
            responses:
              '200':
                body:
                  application/json:
                    type: CollectionViewersListResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - collectionviewers
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{userId}':
            displayName: '{userId}'
            uriParameters:
              userId:
                description: The ID of the user.
                required: true
                type: string
            get:
              displayName: androidenterprise.collectionviewers.get
              description: Retrieves the ID of the user if they have been specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only these users will see the collection.
              responses:
                '200':
                  body:
                    application/json:
                      type: User
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - collectionviewers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            put:
              displayName: androidenterprise.collectionviewers.update
              description: Adds the user to the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection.
              body:
                application/json:
                  type: User
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: User
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - collectionviewers
            delete:
              displayName: androidenterprise.collectionviewers.delete
              description: Removes the user from the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - collectionviewers
            patch:
              displayName: androidenterprise.collectionviewers.patch
              description: Adds the user to the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection. This method supports patch semantics.
              body:
                application/json:
                  type: User
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: User
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - collectionviewers
        get:
          displayName: androidenterprise.collections.get
          description: Retrieves the details of a collection.
          responses:
            '200':
              body:
                application/json:
                  type: Collection
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - collections
        put:
          displayName: androidenterprise.collections.update
          description: Updates a collection.
          body:
            application/json:
              type: Collection
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Collection
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - collections
      post:
        displayName: androidenterprise.collections.insert
        description: Creates a new collection.
        body:
          application/json:
            type: Collection
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Collection
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - collections
    /unenroll:
      displayName: unenroll
      post:
        displayName: androidenterprise.enterprises.unenroll
        description: Unenrolls an enterprise from the calling EMM.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - enterprises
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /users:
      displayName: users
      get:
        displayName: androidenterprise.users.list
        description: Looks up a user by primary email address. This is only supported for Google-managed users. Lookup of the id is not needed for EMM-managed users because the id is already returned in the result of the Users.insert call.
        responses:
          '200':
            body:
              application/json:
                type: UsersListResponse
            description: Successful response
        queryParameters:
          email:
            description: The exact primary email address of the user to look up.
            required: true
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - users
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: androidenterprise.users.insert
        description: |-
          Creates a new EMM-managed user.

          The Users resource passed in the body of the request should include an accountIdentifier and an accountType.
          If a corresponding user already exists with the same account identifier, the user will be updated with the resource. In this case only the displayName field can be changed.
        body:
          application/json:
            type: User
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: User
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - users
      '/{userId}':
        displayName: '{userId}'
        uriParameters:
          userId:
            description: The ID of the user.
            required: true
            type: string
        delete:
          displayName: androidenterprise.users.delete
          description: Deleted an EMM-managed user.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - users
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: androidenterprise.users.get
          description: Retrieves a user's details.
          responses:
            '200':
              body:
                application/json:
                  type: User
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - users
        patch:
          displayName: androidenterprise.users.patch
          description: |-
            Updates the details of an EMM-managed user.

            Can be used with EMM-managed users only (not Google managed users). Pass the new details in the Users resource in the request body. Only the displayName field can be changed. Other fields must either be unset or have the currently active value. This method supports patch semantics.
          body:
            application/json:
              type: User
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: User
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - users
        put:
          displayName: androidenterprise.users.update
          description: |-
            Updates the details of an EMM-managed user.

            Can be used with EMM-managed users only (not Google managed users). Pass the new details in the Users resource in the request body. Only the displayName field can be changed. Other fields must either be unset or have the currently active value.
          body:
            application/json:
              type: User
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: User
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - users
        /authenticationToken:
          displayName: authenticationToken
          post:
            displayName: androidenterprise.users.generateAuthenticationToken
            description: |-
              Generates an authentication token which the device policy client can use to provision the given EMM-managed user account on a device. The generated token is single-use and expires after a few minutes.

              This call only works with EMM-managed accounts.
            responses:
              '200':
                body:
                  application/json:
                    type: AuthenticationToken
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - users
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /availableProductSet:
          displayName: availableProductSet
          get:
            displayName: androidenterprise.users.getAvailableProductSet
            description: Retrieves the set of products a user is entitled to access.
            responses:
              '200':
                body:
                  application/json:
                    type: ProductSet
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - users
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          put:
            displayName: androidenterprise.users.setAvailableProductSet
            description: Modifies the set of products a user is entitled to access.
            body:
              application/json:
                type: ProductSet
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: ProductSet
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - users
        /devices:
          displayName: devices
          get:
            displayName: androidenterprise.devices.list
            description: Retrieves the IDs of all of a user's devices.
            responses:
              '200':
                body:
                  application/json:
                    type: DevicesListResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - devices
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{deviceId}':
            displayName: '{deviceId}'
            uriParameters:
              deviceId:
                description: The ID of the device.
                required: true
                type: string
            get:
              displayName: androidenterprise.devices.get
              description: Retrieves the details of a device.
              responses:
                '200':
                  body:
                    application/json:
                      type: Device
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - devices
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            /installs:
              displayName: installs
              get:
                displayName: androidenterprise.installs.list
                description: Retrieves the details of all apps installed on the specified device.
                responses:
                  '200':
                    body:
                      application/json:
                        type: InstallsListResponse
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - installs
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              '/{installId}':
                displayName: '{installId}'
                uriParameters:
                  installId:
                    description: 'The ID of the product represented by the install, e.g. "app:com.google.android.gm".'
                    required: true
                    type: string
                delete:
                  displayName: androidenterprise.installs.delete
                  description: Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.
                  responses:
                    '200':
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - installs
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                get:
                  displayName: androidenterprise.installs.get
                  description: Retrieves details of an installation of an app on a device.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Install
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - installs
                patch:
                  displayName: androidenterprise.installs.patch
                  description: Requests to install the latest version of an app to a device. If the app is already installed then it is updated to the latest version if necessary. This method supports patch semantics.
                  body:
                    application/json:
                      type: Install
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Install
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - installs
                put:
                  displayName: androidenterprise.installs.update
                  description: Requests to install the latest version of an app to a device. If the app is already installed then it is updated to the latest version if necessary.
                  body:
                    application/json:
                      type: Install
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: Install
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - installs
            /managedConfigurationsForDevice:
              displayName: managedConfigurationsForDevice
              get:
                displayName: androidenterprise.managedconfigurationsfordevice.list
                description: Lists all the per-device managed configurations for the specified device. Only the ID is set.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ManagedConfigurationsForDeviceListResponse
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - managedconfigurationsfordevice
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              '/{managedConfigurationForDeviceId}':
                displayName: '{managedConfigurationForDeviceId}'
                uriParameters:
                  managedConfigurationForDeviceId:
                    description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
                    required: true
                    type: string
                delete:
                  displayName: androidenterprise.managedconfigurationsfordevice.delete
                  description: Removes a per-device managed configuration for an app for the specified device.
                  responses:
                    '200':
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - managedconfigurationsfordevice
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
                get:
                  displayName: androidenterprise.managedconfigurationsfordevice.get
                  description: Retrieves details of a per-device managed configuration.
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ManagedConfiguration
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - managedconfigurationsfordevice
                patch:
                  displayName: androidenterprise.managedconfigurationsfordevice.patch
                  description: Adds or updates a per-device managed configuration for an app for the specified device. This method supports patch semantics.
                  body:
                    application/json:
                      type: ManagedConfiguration
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ManagedConfiguration
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - managedconfigurationsfordevice
                put:
                  displayName: androidenterprise.managedconfigurationsfordevice.update
                  description: Adds or updates a per-device managed configuration for an app for the specified device.
                  body:
                    application/json:
                      type: ManagedConfiguration
                      (oas-body-name): body
                  responses:
                    '200':
                      body:
                        application/json:
                          type: ManagedConfiguration
                      description: Successful response
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/androidenterprise'
                  (oas-tags):
                    - managedconfigurationsfordevice
            /state:
              displayName: state
              get:
                displayName: androidenterprise.devices.getState
                description: 'Retrieves whether a device''s access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: DeviceState
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - devices
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              put:
                displayName: androidenterprise.devices.setState
                description: 'Sets whether a device''s access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.'
                body:
                  application/json:
                    type: DeviceState
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: DeviceState
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidenterprise'
                (oas-tags):
                  - devices
        /entitlements:
          displayName: entitlements
          get:
            displayName: androidenterprise.entitlements.list
            description: List of all entitlements for the specified user. Only the ID is set.
            responses:
              '200':
                body:
                  application/json:
                    type: EntitlementsListResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - entitlements
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{entitlementId}':
            displayName: '{entitlementId}'
            uriParameters:
              entitlementId:
                description: 'The ID of the entitlement (a product ID), e.g. "app:com.google.android.gm".'
                required: true
                type: string
            delete:
              displayName: androidenterprise.entitlements.delete
              description: Removes an entitlement to an app for a user and uninstalls it.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - entitlements
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: androidenterprise.entitlements.get
              description: Retrieves details of an entitlement.
              responses:
                '200':
                  body:
                    application/json:
                      type: Entitlement
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - entitlements
            patch:
              displayName: androidenterprise.entitlements.patch
              description: Adds or updates an entitlement to an app for a user. This method supports patch semantics.
              body:
                application/json:
                  type: Entitlement
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Entitlement
                  description: Successful response
              queryParameters:
                install:
                  description: 'Set to true to also install the product on all the user''s devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.'
                  type: boolean
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - entitlements
            put:
              displayName: androidenterprise.entitlements.update
              description: Adds or updates an entitlement to an app for a user.
              body:
                application/json:
                  type: Entitlement
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Entitlement
                  description: Successful response
              queryParameters:
                install:
                  description: 'Set to true to also install the product on all the user''s devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.'
                  type: boolean
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - entitlements
        /managedConfigurationsForUser:
          displayName: managedConfigurationsForUser
          get:
            displayName: androidenterprise.managedconfigurationsforuser.list
            description: Lists all the per-user managed configurations for the specified user. Only the ID is set.
            responses:
              '200':
                body:
                  application/json:
                    type: ManagedConfigurationsForUserListResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - managedconfigurationsforuser
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{managedConfigurationForUserId}':
            displayName: '{managedConfigurationForUserId}'
            uriParameters:
              managedConfigurationForUserId:
                description: 'The ID of the managed configuration (a product ID), e.g. "app:com.google.android.gm".'
                required: true
                type: string
            delete:
              displayName: androidenterprise.managedconfigurationsforuser.delete
              description: Removes a per-user managed configuration for an app for the specified user.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - managedconfigurationsforuser
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: androidenterprise.managedconfigurationsforuser.get
              description: Retrieves details of a per-user managed configuration for an app for the specified user.
              responses:
                '200':
                  body:
                    application/json:
                      type: ManagedConfiguration
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - managedconfigurationsforuser
            put:
              displayName: androidenterprise.managedconfigurationsforuser.update
              description: Adds or updates a per-user managed configuration for an app for the specified user.
              body:
                application/json:
                  type: ManagedConfiguration
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: ManagedConfiguration
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - managedconfigurationsforuser
            patch:
              displayName: androidenterprise.managedconfigurationsforuser.patch
              description: Adds or updates a per-user managed configuration for an app for the specified user. This method supports patch semantics.
              body:
                application/json:
                  type: ManagedConfiguration
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: ManagedConfiguration
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidenterprise'
              (oas-tags):
                - managedconfigurationsforuser
        /token:
          displayName: token
          post:
            displayName: androidenterprise.users.generateToken
            description: |-
              Generates a token (activation code) to allow this user to configure their work account in the Android Setup Wizard. Revokes any previously generated token.

              This call only works with Google managed accounts.
            responses:
              '200':
                body:
                  application/json:
                    type: UserToken
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - users
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          delete:
            displayName: androidenterprise.users.revokeToken
            description: Revokes a previously generated token (activation code) for the user.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - users
    /groupLicenses:
      displayName: groupLicenses
      get:
        displayName: androidenterprise.grouplicenses.list
        description: Retrieves IDs of all products for which the enterprise has a group license.
        responses:
          '200':
            body:
              application/json:
                type: GroupLicensesListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - grouplicenses
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{groupLicenseId}':
        displayName: '{groupLicenseId}'
        /users:
          displayName: users
          get:
            displayName: androidenterprise.grouplicenseusers.list
            description: Retrieves the IDs of the users who have been granted entitlements under the license.
            responses:
              '200':
                body:
                  application/json:
                    type: GroupLicenseUsersListResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - grouplicenseusers
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        uriParameters:
          groupLicenseId:
            description: 'The ID of the product the group license is for, e.g. "app:com.google.android.gm".'
            required: true
            type: string
        get:
          displayName: androidenterprise.grouplicenses.get
          description: Retrieves details of an enterprise's group license for a product.
          responses:
            '200':
              body:
                application/json:
                  type: GroupLicense
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - grouplicenses
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /products:
      displayName: products
      '/{productId}':
        displayName: '{productId}'
        uriParameters:
          productId:
            description: 'The ID of the product, e.g. "app:com.google.android.gm".'
            required: true
            type: string
        get:
          displayName: androidenterprise.products.get
          description: Retrieves details of a product for display to an enterprise admin.
          responses:
            '200':
              body:
                application/json:
                  type: Product
              description: Successful response
          queryParameters:
            language:
              description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de").'
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - products
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        /approve:
          displayName: approve
          post:
            displayName: androidenterprise.products.approve
            description: |-
              Approves the specified product and the relevant app permissions, if any. The maximum number of products that you can approve per enterprise customer is 1,000.

              To learn how to use Google Play for Work to design and create a store layout to display approved products to your users, see Store Layout Design.
            body:
              application/json:
                type: ProductsApproveRequest
                (oas-body-name): body
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - products
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /permissions:
          displayName: permissions
          get:
            displayName: androidenterprise.products.getPermissions
            description: Retrieves the Android app permissions required by this app.
            responses:
              '200':
                body:
                  application/json:
                    type: ProductPermissions
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - products
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          put:
            displayName: androidenterprise.products.updatePermissions
            description: |-
              This method has been deprecated. To programmatically approve applications, you must use the iframe mechanism via the  generateApprovalUrl and  approve methods of the Products resource. For more information, see the  Play EMM API usage requirements.

              The updatePermissions method (deprecated) updates the set of Android app permissions for this app that have been accepted by the enterprise.
            body:
              application/json:
                type: ProductPermissions
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: ProductPermissions
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - products
        /unapprove:
          displayName: unapprove
          post:
            displayName: androidenterprise.products.unapprove
            description: 'Unapproves the specified product (and the relevant app permissions, if any)'
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - products
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /generateApprovalUrl:
          displayName: generateApprovalUrl
          post:
            displayName: androidenterprise.products.generateApprovalUrl
            description: |-
              Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product.

              Admins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day.
            responses:
              '200':
                body:
                  application/json:
                    type: ProductsGenerateApprovalUrlResponse
                description: Successful response
            queryParameters:
              languageCode:
                description: 'The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance "en-US".'
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - products
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /appRestrictionsSchema:
          displayName: appRestrictionsSchema
          get:
            displayName: androidenterprise.products.getAppRestrictionsSchema
            description: 'Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an administrator to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.'
            responses:
              '200':
                body:
                  application/json:
                    type: AppRestrictionsSchema
                description: Successful response
            queryParameters:
              language:
                description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de").'
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidenterprise'
            (oas-tags):
              - products
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
      get:
        displayName: androidenterprise.products.list
        description: 'Finds approved products that match a query, or all approved products if there is no query.'
        responses:
          '200':
            body:
              application/json:
                type: ProductsListResponse
            description: Successful response
        queryParameters:
          approved:
            description: 'Specifies whether to search among all products (false) or among only products that have been approved (true). Only "true" is supported, and should be specified.'
            type: boolean
          language:
            description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de"). Results are returned in the language best matching the preferred language.'
            type: string
          maxResults:
            description: 'Specifies the maximum number of products that can be returned per request. If not specified, uses a default value of 100, which is also the maximum retrievable within a single response.'
            type: integer
          query:
            description: 'The search query as typed in the Google Play Store search box. If omitted, all approved apps will be returned (using the pagination parameters), including apps that are not available in the store (e.g. unpublished apps).'
            type: string
          token:
            description: "A pagination token is contained in a request\x92s response when there are more products. The token can be used in a subsequent request to obtain more products, and so forth. This parameter cannot be used in the initial request."
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - products
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /serviceAccount:
      displayName: serviceAccount
      get:
        displayName: androidenterprise.enterprises.getServiceAccount
        description: |-
          Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side.

          This method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error.

          Subsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials.

          Once the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource.
        responses:
          '200':
            body:
              application/json:
                type: ServiceAccount
            description: Successful response
        queryParameters:
          keyType:
            description: The type of credential to return with the service account. Required.
            enum:
              - googleCredentials
              - pkcs12
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - enterprises
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /serviceAccountKeys:
      displayName: serviceAccountKeys
      post:
        displayName: androidenterprise.serviceaccountkeys.insert
        description: |-
          Generates new credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.

          Only the type of the key should be populated in the resource to be inserted.
        body:
          application/json:
            type: ServiceAccountKey
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ServiceAccountKey
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - serviceaccountkeys
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{keyId}':
        displayName: '{keyId}'
        uriParameters:
          keyId:
            description: The ID of the key.
            required: true
            type: string
        delete:
          displayName: androidenterprise.serviceaccountkeys.delete
          description: Removes and invalidates the specified credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidenterprise'
          (oas-tags):
            - serviceaccountkeys
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      get:
        displayName: androidenterprise.serviceaccountkeys.list
        description: Lists all active credentials for the service account associated with this enterprise. Only the ID and key type are returned. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.
        responses:
          '200':
            body:
              application/json:
                type: ServiceAccountKeysListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - serviceaccountkeys
    /account:
      displayName: account
      put:
        displayName: androidenterprise.enterprises.setAccount
        description: Set the account that will be used to authenticate to the API as the enterprise.
        body:
          application/json:
            type: EnterpriseAccount
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: EnterpriseAccount
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - enterprises
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /createWebToken:
      displayName: createWebToken
      post:
        displayName: androidenterprise.enterprises.createWebToken
        description: 'Returns a unique token to access an embeddable UI. To generate a web UI, pass the generated token into the Play for Work javascript API. Each token may only be used to start one UI session. See the javascript API documentation for further information.'
        body:
          application/json:
            type: AdministratorWebTokenSpec
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AdministratorWebToken
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - enterprises
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /sendTestPushNotification:
      displayName: sendTestPushNotification
      post:
        displayName: androidenterprise.enterprises.sendTestPushNotification
        description: Sends a test push notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.
        responses:
          '200':
            body:
              application/json:
                type: EnterprisesSendTestPushNotificationResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidenterprise'
        (oas-tags):
          - enterprises
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    delete:
      displayName: androidenterprise.enterprises.delete
      description: 'Deletes the binding between the EMM and enterprise. This is now deprecated; use this to unenroll customers that were previously enrolled with the ''insert'' call, then enroll them again with the ''enroll'' call.'
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - enterprises
  get:
    displayName: androidenterprise.enterprises.list
    description: Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.
    responses:
      '200':
        body:
          application/json:
            type: EnterprisesListResponse
        description: Successful response
    queryParameters:
      domain:
        description: The exact primary domain name of the enterprise to look up.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/androidenterprise'
    (oas-tags):
      - enterprises
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /acknowledgeNotificationSet:
    displayName: acknowledgeNotificationSet
    post:
      displayName: androidenterprise.enterprises.acknowledgeNotificationSet
      description: Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.
      responses:
        '200':
          description: Successful response
      queryParameters:
        notificationSetId:
          description: The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - enterprises
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /enroll:
    displayName: enroll
    post:
      displayName: androidenterprise.enterprises.enroll
      description: Enrolls an enterprise with the calling EMM.
      body:
        application/json:
          type: Enterprise
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Enterprise
          description: Successful response
      queryParameters:
        token:
          description: The token provided by the enterprise to register the EMM.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - enterprises
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /signupUrl:
    displayName: signupUrl
    post:
      displayName: androidenterprise.enterprises.generateSignupUrl
      description: Generates a sign-up URL.
      responses:
        '200':
          body:
            application/json:
              type: SignupInfo
          description: Successful response
      queryParameters:
        callbackUrl:
          description: |-
            The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named "enterpriseToken" which will contain an opaque token to be used for the CompleteSignup request.
            Beware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - enterprises
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  post:
    displayName: androidenterprise.enterprises.insert
    description: Establishes the binding between the EMM and an enterprise. This is now deprecated; use enroll instead.
    body:
      application/json:
        type: Enterprise
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Enterprise
        description: Successful response
    queryParameters:
      token:
        description: The token provided by the enterprise to register the EMM.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/androidenterprise'
    (oas-tags):
      - enterprises
  /pullNotificationSet:
    displayName: pullNotificationSet
    post:
      displayName: androidenterprise.enterprises.pullNotificationSet
      description: |-
        Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending.
        A notification set returned needs to be acknowledged within 20 seconds by calling Enterprises​.AcknowledgeNotificationSet, unless the notification set is empty.
        Notifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy.
        Multiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending.
        If no notifications are present, an empty notification list is returned. Subsequent requests may return more notifications once they become available.
      responses:
        '200':
          body:
            application/json:
              type: NotificationSet
          description: Successful response
      queryParameters:
        requestMode:
          description: |-
            The request mode for pulling notifications.
            Specifying waitForNotifications will cause the request to block and wait until one or more notifications are present, or return an empty notification list if no notifications are present after some time.
            Speciying returnImmediately will cause the request to immediately return the pending notifications, or an empty list if no notifications are present.
            If omitted, defaults to waitForNotifications.
          enum:
            - returnImmediately
            - waitForNotifications
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - enterprises
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /completeSignup:
    displayName: completeSignup
    post:
      displayName: androidenterprise.enterprises.completeSignup
      description: 'Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token.'
      responses:
        '200':
          body:
            application/json:
              type: Enterprise
          description: Successful response
      queryParameters:
        completionToken:
          description: The Completion token initially returned by GenerateSignupUrl.
          type: string
        enterpriseToken:
          description: The Enterprise token appended to the Callback URL.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - enterprises
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/permissions:
  displayName: permissions
  '/{permissionId}':
    displayName: '{permissionId}'
    uriParameters:
      permissionId:
        description: The ID of the permission.
        required: true
        type: string
    get:
      displayName: androidenterprise.permissions.get
      description: Retrieves details of an Android app permission for display to an enterprise admin.
      responses:
        '200':
          body:
            application/json:
              type: Permission
          description: Successful response
      queryParameters:
        language:
          description: 'The BCP47 tag for the user''s preferred language (e.g. "en-US", "de")'
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidenterprise'
      (oas-tags):
        - permissions
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  Administrator:
    description: This represents an enterprise administrator who can manage the enterprise in the Google Play for Work Store.
    properties:
      email:
        description: The administrator's email address.
        type: string
        required: false
  AdministratorWebToken:
    description: A token authorizing an administrator to access an iframe.
    properties:
      kind:
        default: 'androidenterprise#administratorWebToken'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#administratorWebToken".'
        type: string
        required: false
      token:
        description: An opaque token to be passed to the Play front-end to generate an iframe.
        type: string
        required: false
  AdministratorWebTokenSpec:
    description: Specification for a token used to generate iframes. The token specifies what data the admin is allowed to modify and the URI the iframe is allowed to communiate with.
    properties:
      kind:
        default: 'androidenterprise#administratorWebTokenSpec'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#administratorWebTokenSpec".'
        type: string
        required: false
      parent:
        description: 'The URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be hosted at other URIs. This URI must be https.'
        type: string
        required: false
      permission:
        description: The list of permissions the admin is granted within the iframe. The admin will only be allowed to view an iframe if they have all of the permissions associated with it. The only valid value is "approveApps" that will allow the admin to access the iframe in "approve" mode.
        items:
          type: string
        type: array
        required: false
  AppRestrictionsSchema:
    description: Represents the list of app restrictions available to be pre-configured for the product.
    properties:
      kind:
        default: 'androidenterprise#appRestrictionsSchema'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#appRestrictionsSchema".'
        type: string
        required: false
      restrictions:
        description: The set of restrictions that make up this schema.
        items:
          type: AppRestrictionsSchemaRestriction
        type: array
        required: false
  AppRestrictionsSchemaChangeEvent:
    description: 'An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API.'
    properties:
      productId:
        description: 'The id of the product (e.g. "app:com.google.android.gm") for which the app restriction schema changed. This field will always be present.'
        type: string
        required: false
  AppRestrictionsSchemaRestriction:
    description: A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied.
    properties:
      defaultValue:
        description: The default value of the restriction. bundle and bundleArray restrictions never have a default value.
        type: AppRestrictionsSchemaRestrictionRestrictionValue
        required: false
      description:
        description: 'A longer description of the restriction, giving more detail of what it affects.'
        type: string
        required: false
      entry:
        description: 'For choice or multiselect restrictions, the list of possible entries'' human-readable names.'
        items:
          type: string
        type: array
        required: false
      entryValue:
        description: 'For choice or multiselect restrictions, the list of possible entries'' machine-readable values. These values should be used in the configuration, either as a single string value for a choice restriction or in a stringArray for a multiselect restriction.'
        items:
          type: string
        type: array
        required: false
      key:
        description: 'The unique key that the product uses to identify the restriction, e.g. "com.google.android.gm.fieldname".'
        type: string
        required: false
      nestedRestriction:
        description: 'For bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction is always nested within a bundleArray restriction, and a bundleArray restriction is at most two levels deep.'
        items:
          type: AppRestrictionsSchemaRestriction
        type: array
        required: false
      restrictionType:
        description: The type of the restriction.
        type: string
        required: false
      title:
        description: The name of the restriction.
        type: string
        required: false
  AppRestrictionsSchemaRestrictionRestrictionValue:
    description: A typed value for the restriction.
    properties:
      type:
        description: The type of the value being provided.
        type: string
        required: false
      valueBool:
        description: The boolean value - this will only be present if type is bool.
        type: boolean
        required: false
      valueInteger:
        description: The integer value - this will only be present if type is integer.
        format: int32
        type: integer
        required: false
      valueMultiselect:
        description: The list of string values - this will only be present if type is multiselect.
        items:
          type: string
        type: array
        required: false
      valueString:
        description: 'The string value - this will be present for types string, choice and hidden.'
        type: string
        required: false
  AppUpdateEvent:
    description: 'An event generated when a new version of an app is uploaded to Google Play. Notifications are sent for new public versions only: alpha, beta, or canary versions do not generate this event. To fetch up-to-date version history for an app, use Products.Get on the EMM API.'
    properties:
      productId:
        description: 'The id of the product (e.g. "app:com.google.android.gm") that was updated. This field will always be present.'
        type: string
        required: false
  AppVersion:
    description: This represents a single version of the app.
    properties:
      versionCode:
        description: Unique increasing identifier for the app version.
        format: int32
        type: integer
        required: false
      versionString:
        description: 'The string used in the Play Store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be "1.4").'
        type: string
        required: false
  ApprovalUrlInfo:
    description: Information on an approval URL.
    properties:
      approvalUrl:
        description: A URL that displays a product's permissions and that can also be used to approve the product with the Products.approve call.
        type: string
        required: false
      kind:
        default: 'androidenterprise#approvalUrlInfo'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#approvalUrlInfo".'
        type: string
        required: false
  AuthenticationToken:
    description: An AuthenticationToken is used by the EMM's device policy client on a device to provision the given EMM-managed user on that device.
    properties:
      kind:
        default: 'androidenterprise#authenticationToken'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#authenticationToken".'
        type: string
        required: false
      token:
        description: The authentication token to be passed to the device policy client on the device where it can be used to provision the account for which this token was generated.
        type: string
        required: false
  Collection:
    description: |-
      A collection resource defines a named set of apps that is visible to a set of users in the Google Play Store app running on those users' managed devices. Those users can then install any of those apps if they wish (which will trigger creation of install and entitlement resources). A user cannot install an app on a managed device unless the app is listed in at least one collection that is visible to that user.

      Note that the API can be used to directly install an app regardless of whether it is in any collection - so an enterprise has a choice of either directly pushing apps to users, or allowing users to install apps if they want. Which is appropriate will depend on the enterprise's policies and the purpose of the apps concerned.
    properties:
      collectionId:
        description: 'Arbitrary unique ID, allocated by the API on creation.'
        type: string
        required: false
      kind:
        default: 'androidenterprise#collection'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#collection".'
        type: string
        required: false
      name:
        description: 'A user-friendly name for the collection (should be unique), e.g. "Accounting apps".'
        type: string
        required: false
      productId:
        description: 'The IDs of the products in the collection, in the order in which they should be displayed.'
        items:
          type: string
        type: array
        required: false
      visibility:
        description: |-
          Whether this collection is visible to all users, or only to the users that have been granted access through the "Collectionviewers" API. With the launch of the "setAvailableProductSet" API, this property should always be set to "viewersOnly", as the "allUsers" option will bypass the "availableProductSet" for all users within a domain.

          The "allUsers" setting is deprecated, and will be removed.
        type: string
        required: false
  CollectionViewersListResponse:
    description: The user resources for the collection.
    properties:
      kind:
        default: 'androidenterprise#collectionViewersListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#collectionViewersListResponse".'
        type: string
        required: false
      user:
        description: A user of an enterprise.
        items:
          type: User
        type: array
        required: false
  CollectionsListResponse:
    description: The collection resources for the enterprise.
    properties:
      collection:
        description: An ordered collection of products which can be made visible on the Google Play Store to a selected group of users.
        items:
          type: Collection
        type: array
        required: false
      kind:
        default: 'androidenterprise#collectionsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#collectionsListResponse".'
        type: string
        required: false
  Device:
    description: |-
      A device resource represents a mobile device managed by the EMM and belonging to a specific enterprise user.

      This collection cannot be modified via the API; it is automatically populated as devices are set up to be managed.
    properties:
      androidId:
        description: 'The Google Play Services Android ID for the device encoded as a lowercase hex string, e.g. "123456789abcdef0".'
        type: string
        required: false
      kind:
        default: 'androidenterprise#device'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#device".'
        type: string
        required: false
      managementType:
        description: |-
          Identifies the extent to which the device is controlled by an Android for Work EMM in various deployment configurations.

          Possible values include: 
          - "managedDevice", a device that has the EMM's device policy controller (DPC) as the device owner, 
          - "managedProfile", a device that has a work profile managed by the DPC (DPC is profile owner) in addition to a separate, personal profile that is unavailable to the DPC, 
          - "containerApp", a device running the Android for Work App. The Android for Work App is managed by the DPC, 
          - "unmanagedProfile", a device that has been allowed (by the domain's admin, using the Admin Console to enable the privilege) to use Android for Work apps or Google Apps for Work, but the profile is itself not owned by a DPC.
        type: string
        required: false
  DeviceState:
    description: 'The state of a user''s device, as accessed by the getState and setState methods on device resources.'
    properties:
      accountState:
        description: 'The state of the Google account on the device. "enabled" indicates that the Google account on the device can be used to access Google services (including Google Play), while "disabled" means that it cannot. A new device is initially in the "disabled" state.'
        type: string
        required: false
      kind:
        default: 'androidenterprise#deviceState'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#deviceState".'
        type: string
        required: false
  DevicesListResponse:
    description: The device resources for the user.
    properties:
      device:
        description: A managed device.
        items:
          type: Device
        type: array
        required: false
      kind:
        default: 'androidenterprise#devicesListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#devicesListResponse".'
        type: string
        required: false
  Enterprise:
    description: |-
      An Enterprises resource represents the binding between an EMM and a specific organization. That binding can be instantiated in one of two different ways using this API as follows: 
      - For Google managed domain customers, the process involves using Enterprises.enroll and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin console and the Google API Console) and submitted to the EMM through a more-or-less manual process. 
      - For Android for Work Accounts customers, the process involves using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction with the Android for Work Sign-up UI (Google-provided mechanism) to create the binding without manual steps. As an EMM, you can support either or both approaches in your EMM console. See Create an Enterprise for details.
    properties:
      administrator:
        description: Administrators of the enterprise. This is only supported for enterprises created via the EMM-initiated flow.
        items:
          type: Administrator
        type: array
        required: false
      id:
        description: The unique ID for the enterprise.
        type: string
        required: false
      kind:
        default: 'androidenterprise#enterprise'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#enterprise".'
        type: string
        required: false
      name:
        description: 'The name of the enterprise, for example, "Example, Inc".'
        type: string
        required: false
      primaryDomain:
        description: 'The enterprise''s primary domain, such as "example.com".'
        type: string
        required: false
  EnterpriseAccount:
    description: A service account that can be used to authenticate as the enterprise to API calls that require such authentication.
    properties:
      accountEmail:
        description: The email address of the service account.
        type: string
        required: false
      kind:
        default: 'androidenterprise#enterpriseAccount'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#enterpriseAccount".'
        type: string
        required: false
  EnterprisesListResponse:
    description: The matching enterprise resources.
    properties:
      enterprise:
        description: An enterprise.
        items:
          type: Enterprise
        type: array
        required: false
      kind:
        default: 'androidenterprise#enterprisesListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidenterprise#enterprisesListResponse".'
        type: string
        required: false
  EnterprisesSendTestPushNotificationResponse:
    properties:
      messageId:
        description: The message ID of the test push notification that was sent.
        type: string
        required: false
      topicName:
        description: The name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled account will be sent.
        type: string
        required: false
  Entitlement:
    description: |-
      The existence of an entitlement resource means that a user has the right to use a particular app on any of their devices. This might be because the app is free or because they have been allocated a license to the app from a group license purchased by the enterprise.

      It should always be true that a user has an app installed on one of their devices only if they have an entitlement to it. So if an entitlement is deleted, the app will be uninstalled from all devices. Similarly if the user installs an app (and is permitted to do so), or the EMM triggers an install of the app, an entitlement to that app is automatically created. If this is impossible - e.g. the enterprise has not purchased sufficient licenses - then installation fails.

      Note that entitlements are always user specific, not device specific; a user may have an entitlement even though they have not installed the app anywhere. Once they have an entitlement they can install the app on multiple devices.

[...]
