#%RAML 1.0
title: Google Apps Activity
version: v1
baseUri: 'https://www.googleapis.com/appsactivity/v1'
protocols:
  - HTTPS
description: Provides a historical view of activity.
(oas-tags-definition):
  - name: activities
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/appsactivity/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): appsactivity
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/google-apps/activity/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/activity'
        - 'https://www.googleapis.com/auth/drive'
        - 'https://www.googleapis.com/auth/drive.metadata'
        - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - 'https://www.googleapis.com/auth/drive.readonly'
    description: Oauth 2.0 authentication
/activities:
  displayName: activities
  get:
    displayName: appsactivity.activities.list
    description: 'Returns a list of activities visible to the current logged in user. Visible activities are determined by the visiblity settings of the object that was acted on, e.g. Drive files a user can see. An activity is a record of past events. Multiple events may be merged if they are similar. A request is scoped to activities from a given Google service using the source parameter.'
    responses:
      '200':
        body:
          application/json:
            type: ListActivitiesResponse
        description: Successful response
    queryParameters:
      drive.ancestorId:
        description: Identifies the Drive folder containing the items for which to return activities.
        type: string
      drive.fileId:
        description: Identifies the Drive item to return activities for.
        type: string
      groupingStrategy:
        default: driveUi
        description: Indicates the strategy to use when grouping singleEvents items in the associated combinedEvent object.
        enum:
          - driveUi
          - none
        type: string
      pageSize:
        default: 50
        description: The maximum number of events to return on a page. The response includes a continuation token if there are more events.
        type: integer
      pageToken:
        description: A token to retrieve a specific page of results.
        type: string
      source:
        description: |-
          The Google service from which to return activities. Possible values of source are: 
          - drive.google.com
        type: string
      userId:
        default: me
        description: Indicates the user to return activity for. Use the special value me to indicate the currently authenticated user.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.readonly'
    (oas-tags):
      - activities
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Activity:
    description: An Activity resource is a combined view of multiple events. An activity has a list of individual events and a combined view of the common fields among all events.
    properties:
      combinedEvent:
        description: The fields common to all of the singleEvents that make up the Activity.
        type: Event
        required: false
      singleEvents:
        description: A list of all the Events that make up the Activity.
        items:
          type: Event
        type: array
        required: false
  Event:
    description: Represents the changes associated with an action taken by a user.
    properties:
      additionalEventTypes:
        description: 'Additional event types. Some events may have multiple types when multiple actions are part of a single event. For example, creating a document, renaming it, and sharing it may be part of a single file-creation event.'
        items:
          enum:
            - comment
            - create
            - edit
            - emptyTrash
            - move
            - permissionChange
            - rename
            - trash
            - unknown
            - untrash
            - upload
          type: string
        type: array
        required: false
      eventTimeMillis:
        description: The time at which the event occurred formatted as Unix time in milliseconds.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      fromUserDeletion:
        description: Whether this event is caused by a user being deleted.
        type: boolean
        required: false
      move:
        description: 'Extra information for move type events, such as changes in an object''s parents.'
        type: Move
        required: false
      permissionChanges:
        description: 'Extra information for permissionChange type events, such as the user or group the new permission applies to.'
        items:
          type: PermissionChange
        type: array
        required: false
      primaryEventType:
        description: The main type of event that occurred.
        enum:
          - comment
          - create
          - edit
          - emptyTrash
          - move
          - permissionChange
          - rename
          - trash
          - unknown
          - untrash
          - upload
        type: string
        required: false
      rename:
        description: 'Extra information for rename type events, such as the old and new names.'
        type: Rename
        required: false
      target:
        description: Information specific to the Target object modified by the event.
        type: Target
        required: false
      user:
        description: Represents the user responsible for the event.
        type: User
        required: false
  ListActivitiesResponse:
    description: The response from the list request. Contains a list of activities and a token to retrieve the next page of results.
    properties:
      activities:
        description: List of activities.
        items:
          type: Activity
        type: array
        required: false
      nextPageToken:
        description: Token for the next page of results.
        type: string
        required: false
  Move:
    description: Contains information about changes in an object's parents as a result of a move type event.
    properties:
      addedParents:
        description: The added parent(s).
        items:
          type: Parent
        type: array
        required: false
      removedParents:
        description: The removed parent(s).
        items:
          type: Parent
        type: array
        required: false
  Parent:
    description: 'Contains information about a parent object. For example, a folder in Drive is a parent for all files within it.'
    properties:
      id:
        description: The parent's ID.
        type: string
        required: false
      isRoot:
        description: Whether this is the root folder.
        type: boolean
        required: false
      title:
        description: The parent's title.
        type: string
        required: false
  Permission:
    description: Contains information about the permissions and type of access allowed with regards to a Google Drive object. This is a subset of the fields contained in a corresponding Drive Permissions object.
    properties:
      name:
        description: The name of the user or group the permission applies to.
        type: string
        required: false
      permissionId:
        description: The ID for this permission. Corresponds to the Drive API's permission ID returned as part of the Drive Permissions resource.
        type: string
        required: false
      role:
        description: 'Indicates the Google Drive permissions role. The role determines a user''s ability to read, write, or comment on the file.'
        enum:
          - commenter
          - owner
          - reader
          - writer
        type: string
        required: false
      type:
        description: Indicates how widely permissions are granted.
        enum:
          - anyone
          - domain
          - group
          - user
        type: string
        required: false
      user:
        description: The user's information if the type is USER.
        type: User
        required: false
      withLink:
        description: Whether the permission requires a link to the file.
        type: boolean
        required: false
  PermissionChange:
    description: Contains information about a Drive object's permissions that changed as a result of a permissionChange type event.
    properties:
      addedPermissions:
        description: Lists all Permission objects added.
        items:
          type: Permission
        type: array
        required: false
      removedPermissions:
        description: Lists all Permission objects removed.
        items:
          type: Permission
        type: array
        required: false
  Photo:
    description: Photo information for a user.
    properties:
      url:
        description: The URL of the photo.
        type: string
        required: false
  Rename:
    description: Contains information about a renametype event.
    properties:
      newTitle:
        description: The new title.
        type: string
        required: false
      oldTitle:
        description: The old title.
        type: string
        required: false
  Target:
    description: Information about the object modified by the event.
    properties:
      id:
        description: 'The ID of the target. For example, in Google Drive, this is the file or folder ID.'
        type: string
        required: false
      mimeType:
        description: The MIME type of the target.
        type: string
        required: false
      name:
        description: 'The name of the target. For example, in Google Drive, this is the title of the file.'
        type: string
        required: false
  User:
    description: A representation of a user.
    properties:
      isDeleted:
        description: 'A boolean which indicates whether the specified User was deleted. If true, name, photo and permission_id will be omitted.'
        type: boolean
        required: false
      isMe:
        description: Whether the user is the authenticated user.
        type: boolean
        required: false
      name:
        description: The displayable name of the user.
        type: string
        required: false
      permissionId:
        description: 'The permission ID associated with this user. Equivalent to the Drive API''s permission ID for this user, returned as part of the Drive Permissions resource.'
        type: string
        required: false
      photo:
        description: The profile photo of the user. Not present if the user has no profile photo.
        type: Photo
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
