#%RAML 1.0
title: Admin Data Transfer
version: datatransfer_v1
baseUri: 'https://www.googleapis.com/admin/datatransfer/v1'
protocols:
  - HTTPS
description: Transfers user data from one user to another.
(oas-tags-definition):
  - name: applications
  - name: transfers
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_admin_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/admin/datatransfer_v1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): admin
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/admin-sdk/data-transfer/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/admin.datatransfer'
        - 'https://www.googleapis.com/auth/admin.datatransfer.readonly'
    description: Oauth 2.0 authentication
/transfers:
  displayName: transfers
  '/{dataTransferId}':
    displayName: '{dataTransferId}'
    uriParameters:
      dataTransferId:
        description: ID of the resource to be retrieved. This is returned in the response from the insert method.
        required: true
        type: string
    get:
      displayName: datatransfer.transfers.get
      description: Retrieves a data transfer request by its resource ID.
      responses:
        '200':
          body:
            application/json:
              type: DataTransfer
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.datatransfer.readonly'
      (oas-tags):
        - transfers
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  post:
    displayName: datatransfer.transfers.insert
    description: Inserts a data transfer request.
    body:
      application/json:
        type: DataTransfer
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: DataTransfer
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/admin.datatransfer'
    (oas-tags):
      - transfers
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: datatransfer.transfers.list
    description: 'Lists the transfers for a customer by source user, destination user, or status.'
    responses:
      '200':
        body:
          application/json:
            type: DataTransfersListResponse
        description: Successful response
    queryParameters:
      customerId:
        description: Immutable ID of the Google Apps account.
        type: string
      maxResults:
        description: Maximum number of results to return. Default is 100.
        maximum: 500
        minimum: 1
        type: integer
      newOwnerUserId:
        description: Destination user's profile ID.
        type: string
      oldOwnerUserId:
        description: Source user's profile ID.
        type: string
      pageToken:
        description: Token to specify the next page in the list.
        type: string
      status:
        description: Status of the transfer.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/admin.datatransfer.readonly'
    (oas-tags):
      - transfers
/applications:
  displayName: applications
  '/{applicationId}':
    displayName: '{applicationId}'
    uriParameters:
      applicationId:
        description: ID of the application resource to be retrieved.
        required: true
        type: string
    get:
      displayName: datatransfer.applications.get
      description: Retrieves information about an application for the given application ID.
      responses:
        '200':
          body:
            application/json:
              type: Application
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.datatransfer.readonly'
      (oas-tags):
        - applications
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: datatransfer.applications.list
    description: Lists the applications available for data transfer for a customer.
    responses:
      '200':
        body:
          application/json:
            type: ApplicationsListResponse
        description: Successful response
    queryParameters:
      customerId:
        description: Immutable ID of the Google Apps account.
        type: string
      maxResults:
        description: Maximum number of results to return. Default is 100.
        maximum: 500
        minimum: 1
        type: integer
      pageToken:
        description: Token to specify next page in the list.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/admin.datatransfer.readonly'
    (oas-tags):
      - applications
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Application:
    description: The JSON template for an Application resource.
    properties:
      etag:
        description: Etag of the resource.
        type: string
        required: false
      id:
        description: The application's ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'admin#datatransfer#ApplicationResource'
        description: Identifies the resource as a DataTransfer Application Resource.
        type: string
        required: false
      name:
        description: The application's name.
        type: string
        required: false
      transferParams:
        description: The list of all possible transfer parameters for this application. These parameters can be used to select the data of the user in this application to be transfered.
        items:
          type: ApplicationTransferParam
        type: array
        required: false
  ApplicationDataTransfer:
    description: Template to map fields of ApplicationDataTransfer resource.
    properties:
      applicationId:
        description: The application's ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      applicationTransferParams:
        description: The transfer parameters for the application. These parameters are used to select the data which will get transfered in context of this application.
        items:
          type: ApplicationTransferParam
        type: array
        required: false
      applicationTransferStatus:
        description: Current status of transfer for this application. (Read-only)
        type: string
        required: false
  ApplicationTransferParam:
    description: Template for application transfer parameters.
    properties:
      key:
        description: 'The type of the transfer parameter. eg: ''PRIVACY_LEVEL'''
        type: string
        required: false
      value:
        description: 'The value of the coressponding transfer parameter. eg: ''PRIVATE'' or ''SHARED'''
        items:
          type: string
        type: array
        required: false
  ApplicationsListResponse:
    description: Template for a collection of Applications.
    properties:
      applications:
        description: List of applications that support data transfer and are also installed for the customer.
        items:
          type: Application
        type: array
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      kind:
        default: 'admin#datatransfer#applicationsList'
        description: Identifies the resource as a collection of Applications.
        type: string
        required: false
      nextPageToken:
        description: Continuation token which will be used to specify next page in list API.
        type: string
        required: false
  DataTransfer:
    description: The JSON template for a DataTransfer resource.
    properties:
      applicationDataTransfers:
        description: List of per application data transfer resources. It contains data transfer details of the applications associated with this transfer resource. Note that this list is also used to specify the applications for which data transfer has to be done at the time of the transfer resource creation.
        items:
          type: ApplicationDataTransfer
        type: array
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      id:
        description: The transfer's ID (Read-only).
        type: string
        required: false
      kind:
        default: 'admin#datatransfer#DataTransfer'
        description: Identifies the resource as a DataTransfer request.
        type: string
        required: false
      newOwnerUserId:
        description: ID of the user to whom the data is being transfered.
        type: string
        required: false
      oldOwnerUserId:
        description: ID of the user whose data is being transfered.
        type: string
        required: false
      overallTransferStatusCode:
        description: Overall transfer status (Read-only).
        type: string
        required: false
      requestTime:
        description: The time at which the data transfer was requested (Read-only).
        format: rfc3339
        type: datetime
        required: false
  DataTransfersListResponse:
    description: Template for a collection of DataTransfer resources.
    properties:
      dataTransfers:
        description: List of data transfer requests.
        items:
          type: DataTransfer
        type: array
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      kind:
        default: 'admin#datatransfer#dataTransfersList'
        description: Identifies the resource as a collection of data transfer requests.
        type: string
        required: false
      nextPageToken:
        description: Continuation token which will be used to specify next page in list API.
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
