#%RAML 1.0
title: Drive
version: v3
baseUri: 'https://www.googleapis.com/drive/v3'
protocols:
  - HTTPS
description: 'Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.'
(oas-tags-definition):
  - name: about
  - name: changes
  - name: channels
  - name: comments
  - name: files
  - name: permissions
  - name: replies
  - name: revisions
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_drive_32dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): drive
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/drive/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/drive'
        - 'https://www.googleapis.com/auth/drive.appdata'
        - 'https://www.googleapis.com/auth/drive.file'
        - 'https://www.googleapis.com/auth/drive.metadata'
        - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - 'https://www.googleapis.com/auth/drive.readonly'
        - 'https://www.googleapis.com/auth/drive.scripts'
    description: Oauth 2.0 authentication
/files:
  displayName: files
  '/{fileId}':
    displayName: '{fileId}'
    /comments:
      displayName: comments
      '/{commentId}':
        displayName: '{commentId}'
        /replies:
          displayName: replies
          get:
            displayName: drive.replies.list
            description: Lists a comment's replies.
            responses:
              '200':
                body:
                  application/json:
                    type: ReplyList
                description: Successful response
            queryParameters:
              includeDeleted:
                default: false
                description: Whether to include deleted replies. Deleted replies will not include their original content.
                type: boolean
              pageSize:
                default: 20
                description: The maximum number of replies to return per page.
                maximum: 100
                minimum: 1
                type: integer
              pageToken:
                description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/drive.readonly'
            (oas-tags):
              - replies
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: drive.replies.create
            description: Creates a new reply to a comment.
            body:
              application/json:
                type: Reply
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Reply
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/drive.file'
            (oas-tags):
              - replies
          '/{replyId}':
            displayName: '{replyId}'
            uriParameters:
              replyId:
                description: The ID of the reply.
                required: true
                type: string
            delete:
              displayName: drive.replies.delete
              description: Deletes a reply.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/drive.file'
              (oas-tags):
                - replies
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: drive.replies.get
              description: Gets a reply by ID.
              responses:
                '200':
                  body:
                    application/json:
                      type: Reply
                  description: Successful response
              queryParameters:
                includeDeleted:
                  default: false
                  description: Whether to return deleted replies. Deleted replies will not include their original content.
                  type: boolean
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/drive.readonly'
              (oas-tags):
                - replies
            patch:
              displayName: drive.replies.update
              description: Updates a reply with patch semantics.
              body:
                application/json:
                  type: Reply
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Reply
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/drive.file'
              (oas-tags):
                - replies
        uriParameters:
          commentId:
            description: The ID of the comment.
            required: true
            type: string
        delete:
          displayName: drive.comments.delete
          description: Deletes a comment.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - comments
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: drive.comments.update
          description: Updates a comment with patch semantics.
          body:
            application/json:
              type: Comment
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Comment
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - comments
        get:
          displayName: drive.comments.get
          description: Gets a comment by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Comment
              description: Successful response
          queryParameters:
            includeDeleted:
              default: false
              description: Whether to return deleted comments. Deleted comments will not include their original content.
              type: boolean
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - comments
      get:
        displayName: drive.comments.list
        description: Lists a file's comments.
        responses:
          '200':
            body:
              application/json:
                type: CommentList
            description: Successful response
        queryParameters:
          includeDeleted:
            default: false
            description: Whether to include deleted comments. Deleted comments will not include their original content.
            type: boolean
          pageSize:
            default: 20
            description: The maximum number of comments to return per page.
            maximum: 100
            minimum: 1
            type: integer
          pageToken:
            description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
            type: string
          startModifiedTime:
            description: The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - comments
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: drive.comments.create
        description: Creates a new comment on a file.
        body:
          application/json:
            type: Comment
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Comment
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - comments
    /watch:
      displayName: watch
      post:
        displayName: drive.files.watch
        description: Subscribes to changes to a file
        body:
          application/json:
            type: Channel
            (oas-body-name): resource
        responses:
          '200':
            body:
              application/json:
                type: Channel
            description: Successful response
        queryParameters:
          acknowledgeAbuse:
            default: false
            description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /copy:
      displayName: copy
      post:
        displayName: drive.files.copy
        description: Creates a copy of a file and applies any requested updates with patch semantics.
        body:
          application/json:
            type: File
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: File
            description: Successful response
        queryParameters:
          ignoreDefaultVisibility:
            default: false
            description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
            type: boolean
          keepRevisionForever:
            default: false
            description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.
            type: boolean
          ocrLanguage:
            description: A language hint for OCR processing during image import (ISO 639-1 code).
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.photos.readonly'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /export:
      displayName: export
      get:
        displayName: drive.files.export
        description: Exports a Google Doc to the requested MIME type and returns the exported content.
        responses:
          '200':
            description: Successful response
        queryParameters:
          mimeType:
            description: The MIME type of the format requested for this export.
            required: true
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    uriParameters:
      fileId:
        description: The ID of the file.
        required: true
        type: string
    get:
      displayName: drive.files.get
      description: Gets a file's metadata or content by ID.
      responses:
        '200':
          body:
            application/json:
              type: File
          description: Successful response
      queryParameters:
        acknowledgeAbuse:
          default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - files
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /permissions:
      displayName: permissions
      get:
        displayName: drive.permissions.list
        description: Lists a file's permissions.
        responses:
          '200':
            body:
              application/json:
                type: PermissionList
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - permissions
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: drive.permissions.create
        description: Creates a permission for a file.
        body:
          application/json:
            type: Permission
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Permission
            description: Successful response
        queryParameters:
          emailMessage:
            description: A custom message to include in the notification email.
            type: string
          sendNotificationEmail:
            description: 'Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.'
            type: boolean
          transferOwnership:
            default: false
            description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - permissions
      '/{permissionId}':
        displayName: '{permissionId}'
        uriParameters:
          permissionId:
            description: The ID of the permission.
            required: true
            type: string
        delete:
          displayName: drive.permissions.delete
          description: Deletes a permission.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - permissions
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: drive.permissions.get
          description: Gets a permission by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Permission
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - permissions
        patch:
          displayName: drive.permissions.update
          description: Updates a permission with patch semantics.
          body:
            application/json:
              type: Permission
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Permission
              description: Successful response
          queryParameters:
            removeExpiration:
              default: false
              description: Whether to remove the expiration date.
              type: boolean
            transferOwnership:
              default: false
              description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.
              type: boolean
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - permissions
    patch:
      displayName: drive.files.update
      description: Updates a file's metadata and/or content with patch semantics.
      body:
        application/json:
          type: File
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: File
          description: Successful response
      queryParameters:
        addParents:
          description: A comma-separated list of parent IDs to add.
          type: string
        keepRevisionForever:
          default: false
          description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.
          type: boolean
        ocrLanguage:
          description: A language hint for OCR processing during image import (ISO 639-1 code).
          type: string
        removeParents:
          description: A comma-separated list of parent IDs to remove.
          type: string
        useContentAsIndexableText:
          default: false
          description: Whether to use the uploaded content as indexable text.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.scripts'
      (oas-tags):
        - files
    /revisions:
      displayName: revisions
      '/{revisionId}':
        displayName: '{revisionId}'
        uriParameters:
          revisionId:
            description: The ID of the revision.
            required: true
            type: string
        patch:
          displayName: drive.revisions.update
          description: Updates a revision with patch semantics.
          body:
            application/json:
              type: Revision
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Revision
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - revisions
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: drive.revisions.get
          description: Gets a revision's metadata or content by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Revision
              description: Successful response
          queryParameters:
            acknowledgeAbuse:
              default: false
              description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
              type: boolean
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - revisions
        delete:
          displayName: drive.revisions.delete
          description: Permanently deletes a revision. This method is only applicable to files with binary content in Drive.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - revisions
      get:
        displayName: drive.revisions.list
        description: Lists a file's revisions.
        responses:
          '200':
            body:
              application/json:
                type: RevisionList
            description: Successful response
        queryParameters:
          pageSize:
            default: 200
            description: The maximum number of revisions to return per page.
            maximum: 1000
            minimum: 1
            type: integer
          pageToken:
            description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - revisions
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    delete:
      displayName: drive.files.delete
      description: 'Permanently deletes a file owned by the user without moving it to the trash. If the target is a folder, all descendants owned by the user are also deleted.'
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.file'
      (oas-tags):
        - files
  post:
    displayName: drive.files.create
    description: Creates a new file.
    body:
      application/json:
        type: File
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: File
        description: Successful response
    queryParameters:
      ignoreDefaultVisibility:
        default: false
        description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
        type: boolean
      keepRevisionForever:
        default: false
        description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.
        type: boolean
      ocrLanguage:
        description: A language hint for OCR processing during image import (ISO 639-1 code).
        type: string
      useContentAsIndexableText:
        default: false
        description: Whether to use the uploaded content as indexable text.
        type: boolean
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.file'
    (oas-tags):
      - files
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /trash:
    displayName: trash
    delete:
      displayName: drive.files.emptyTrash
      description: Permanently deletes all of the user's trashed files.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive'
      (oas-tags):
        - files
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /generateIds:
    displayName: generateIds
    get:
      displayName: drive.files.generateIds
      description: Generates a set of file IDs which can be provided in create requests.
      responses:
        '200':
          body:
            application/json:
              type: GeneratedIds
          description: Successful response
      queryParameters:
        count:
          default: 10
          description: The number of IDs to return.
          maximum: 1000
          minimum: 1
          type: integer
        space:
          default: drive
          description: The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.file'
      (oas-tags):
        - files
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: drive.files.list
    description: Lists or searches files.
    responses:
      '200':
        body:
          application/json:
            type: FileList
        description: Successful response
    queryParameters:
      corpus:
        default: user
        description: The source of files to list.
        enum:
          - domain
          - user
        type: string
      orderBy:
        description: 'A comma-separated list of sort keys. Valid keys are ''createdTime'', ''folder'', ''modifiedByMeTime'', ''modifiedTime'', ''name'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeTime'', ''starred'', and ''viewedByMeTime''. Each key sorts ascending by default, but may be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.'
        type: string
      pageSize:
        default: 100
        description: The maximum number of files to return per page.
        maximum: 1000
        minimum: 1
        type: integer
      pageToken:
        description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
        type: string
      q:
        description: A query for filtering the file results. See the "Search for Files" guide for supported syntax.
        type: string
      spaces:
        default: drive
        description: 'A comma-separated list of spaces to query within the corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.readonly'
    (oas-tags):
      - files
/about:
  displayName: about
  get:
    displayName: drive.about.get
    description: 'Gets information about the user, the user''s Drive, and system capabilities.'
    responses:
      '200':
        body:
          application/json:
            type: About
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.readonly'
    (oas-tags):
      - about
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/changes:
  displayName: changes
  /startPageToken:
    displayName: startPageToken
    get:
      displayName: drive.changes.getStartPageToken
      description: Gets the starting pageToken for listing future changes.
      responses:
        '200':
          body:
            application/json:
              type: StartPageToken
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - changes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /watch:
    displayName: watch
    post:
      displayName: drive.changes.watch
      description: Subscribes to changes for a user.
      body:
        application/json:
          type: Channel
          (oas-body-name): resource
      responses:
        '200':
          body:
            application/json:
              type: Channel
          description: Successful response
      queryParameters:
        pageToken:
          description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
          required: true
          type: string
        includeRemoved:
          default: true
          description: 'Whether to include changes indicating that items have left the view of the changes list, for example by deletion or lost access.'
          type: boolean
        pageSize:
          default: 100
          description: The maximum number of changes to return per page.
          maximum: 1000
          minimum: 1
          type: integer
        restrictToMyDrive:
          default: false
          description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
          type: boolean
        spaces:
          default: drive
          description: 'A comma-separated list of spaces to query within the user corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - changes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: drive.changes.list
    description: Lists changes for a user.
    responses:
      '200':
        body:
          application/json:
            type: ChangeList
        description: Successful response
    queryParameters:
      pageToken:
        description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
        required: true
        type: string
      includeRemoved:
        default: true
        description: 'Whether to include changes indicating that items have left the view of the changes list, for example by deletion or lost access.'
        type: boolean
      pageSize:
        default: 100
        description: The maximum number of changes to return per page.
        maximum: 1000
        minimum: 1
        type: integer
      restrictToMyDrive:
        default: false
        description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
        type: boolean
      spaces:
        default: drive
        description: 'A comma-separated list of spaces to query within the user corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.readonly'
    (oas-tags):
      - changes
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/channels:
  displayName: channels
  /stop:
    displayName: stop
    post:
      displayName: drive.channels.stop
      description: Stop watching resources through this channel
      body:
        application/json:
          type: Channel
          (oas-body-name): resource
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - channels
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  About:
    description: 'Information about the user, the user''s Drive, and system capabilities.'
    properties:
      appInstalled:
        description: Whether the user has installed the requesting app.
        type: boolean
        required: false
      exportFormats:
        additionalProperties:
          items:
            type: string
          type: array
        description: A map of source MIME type to possible targets for all supported exports.
        type: object
        required: false
      folderColorPalette:
        description: The currently supported folder colors as RGB hex strings.
        items:
          type: string
        type: array
        required: false
      importFormats:
        additionalProperties:
          items:
            type: string
          type: array
        description: A map of source MIME type to possible targets for all supported imports.
        type: object
        required: false
      kind:
        default: 'drive#about'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#about".'
        type: string
        required: false
      maxImportSizes:
        additionalProperties:
          format: int64
          type: string
          facets:
            format: string
        description: 'A map of maximum import sizes by MIME type, in bytes.'
        type: object
        required: false
      maxUploadSize:
        description: The maximum upload size in bytes.
        format: int64
        type: string
        facets:
          format: string
        required: false
      storageQuota:
        description: The user's storage quota limits and usage. All fields are measured in bytes.
        properties:
          limit:
            description: 'The usage limit, if applicable. This will not be present if the user has unlimited storage.'
            format: int64
            type: string
            facets:
              format: string
            required: false
          usage:
            description: The total usage across all services.
            format: int64
            type: string
            facets:
              format: string
            required: false
          usageInDrive:
            description: The usage by all files in Google Drive.
            format: int64
            type: string
            facets:
              format: string
            required: false
          usageInDriveTrash:
            description: The usage by trashed files in Google Drive.
            format: int64
            type: string
            facets:
              format: string
            required: false
        type: object
        required: false
      user:
        description: The authenticated user.
        type: User
        required: false
  Change:
    description: A change to a file.
    properties:
      file:
        description: The updated state of the file. Present if the file has not been removed.
        type: File
        required: false
      fileId:
        description: The ID of the file which has changed.
        type: string
        required: false
      kind:
        default: 'drive#change'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#change".'
        type: string
        required: false
      removed:
        description: 'Whether the file has been removed from the view of the changes list, for example by deletion or lost access.'
        type: boolean
        required: false
      time:
        description: The time of this change (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
  ChangeList:
    description: A list of changes for a user.
    properties:
      changes:
        description: The page of changes.
        items:
          type: Change
        type: array
        required: false
      kind:
        default: 'drive#changeList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#changeList".'
        type: string
        required: false
      newStartPageToken:
        description: The starting page token for future changes. This will be present only if the end of the current changes list has been reached.
        type: string
        required: false
      nextPageToken:
        description: The page token for the next page of changes. This will be absent if the end of the current changes list has been reached.
        type: string
        required: false
  Channel:
    description: An notification channel used to watch for resource changes.
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
        required: false
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
        required: false
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string "api#channel".'
        type: string
        required: false
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
        required: false
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
        required: false
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
        required: false
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
        required: false
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
        required: false
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
        required: false
  Comment:
    description: A comment on a file.
    properties:
      anchor:
        description: A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties.
        type: string
        required: false
      author:
        description: The user who created the comment.
        type: User
        required: false
      content:
        description: 'The plain text content of the comment. This field is used for setting the content, while htmlContent should be displayed.'
        type: string
        required: false
      createdTime:
        description: The time at which the comment was created (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      deleted:
        description: Whether the comment has been deleted. A deleted comment has no content.
        type: boolean
        required: false
      htmlContent:
        description: The content of the comment with HTML formatting.
        type: string
        required: false
      id:
        description: The ID of the comment.
        type: string
        required: false
      kind:
        default: 'drive#comment'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#comment".'
        type: string
        required: false
      modifiedTime:
        description: The last time the comment or any of its replies was modified (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      quotedFileContent:
        description: 'The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.'
        properties:
          mimeType:
            description: The MIME type of the quoted content.
            type: string
            required: false
          value:
            description: The quoted content itself. This is interpreted as plain text if set through the API.
            type: string
            required: false
        type: object
        required: false
      replies:
        description: The full list of replies to the comment in chronological order.
        items:
          type: Reply
        type: array
        required: false
      resolved:
        description: Whether the comment has been resolved by one of its replies.
        type: boolean
        required: false
  CommentList:
    description: A list of comments on a file.
    properties:
      comments:
        description: The page of comments.
        items:
          type: Comment
        type: array
        required: false
      kind:
        default: 'drive#commentList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#commentList".'
        type: string
        required: false
      nextPageToken:
        description: The page token for the next page of comments. This will be absent if the end of the comments list has been reached.
        type: string
        required: false
  File:
    description: The metadata for a file.
    properties:
      appProperties:
        additionalProperties:
          type: string
        description: |-
          A collection of arbitrary key-value pairs which are private to the requesting app.
          Entries with null values are cleared in update and copy requests.
        type: object
        required: false
      capabilities:
        description: Capabilities the current user has on the file.
        properties:
          canComment:
            description: Whether the user can comment on the file.
            type: boolean
            required: false
          canCopy:
            description: Whether the user can copy the file.
            type: boolean
            required: false
          canEdit:
            description: Whether the user can edit the file's content.
            type: boolean
            required: false
          canReadRevisions:
            description: Whether the current user has read access to the Revisions resource of the file.
            type: boolean
            required: false
          canShare:
            description: Whether the user can modify the file's permissions and sharing settings.
            type: boolean
            required: false
        type: object
        required: false
      contentHints:
        description: Additional information about the content of the file. These fields are never populated in responses.
        properties:
          indexableText:
            description: Text to be indexed for the file to improve fullText queries. This is limited to 128KB in length and may contain HTML elements.
            type: string
            required: false
          thumbnail:
            description: A thumbnail for the file. This will only be used if Drive cannot generate a standard thumbnail.
            properties:
              image:
                description: The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).
                format: byte
                type: string
                facets:
                  format: string
                required: false
              mimeType:
                description: The MIME type of the thumbnail.
                type: string
                required: false
            type: object
            required: false
        type: object
        required: false
      createdTime:
        description: The time at which the file was created (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      description:
        description: A short description of the file.
        type: string
        required: false
      explicitlyTrashed:
        description: 'Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.'
        type: boolean
        required: false
      fileExtension:
        description: The final component of fullFileExtension. This is only available for files with binary content in Drive.
        type: string
        required: false
      folderColorRgb:
        description: |-
          The color for a folder as an RGB hex string. The supported colors are published in the folderColorPalette field of the About resource.
          If an unsupported color is specified, the closest color in the palette will be used instead.
        type: string
        required: false
      fullFileExtension:
        description: |-
          The full file extension extracted from the name field. May contain multiple concatenated extensions, such as "tar.gz". This is only available for files with binary content in Drive.
          This is automatically updated when the name field changes, however it is not cleared if the new name does not contain a valid extension.
        type: string
        required: false
      headRevisionId:
        description: The ID of the file's head revision. This is currently only available for files with binary content in Drive.
        type: string
        required: false
      iconLink:
        description: 'A static, unauthenticated link to the file''s icon.'
        type: string
        required: false
      id:
        description: The ID of the file.
        type: string
        required: false
      imageMediaMetadata:
        description: 'Additional metadata about image media, if available.'
        properties:
          aperture:
            description: The aperture used to create the photo (f-number).
            format: float
            type: number
            required: false
          cameraMake:
            description: The make of the camera used to create the photo.
            type: string
            required: false
          cameraModel:
            description: The model of the camera used to create the photo.
            type: string
            required: false
          colorSpace:
            description: The color space of the photo.
            type: string
            required: false
          exposureBias:
            description: The exposure bias of the photo (APEX value).
            format: float
            type: number
            required: false
          exposureMode:
            description: The exposure mode used to create the photo.
            type: string
            required: false
          exposureTime:
            description: 'The length of the exposure, in seconds.'
            format: float
            type: number
            required: false
          flashUsed:
            description: Whether a flash was used to create the photo.
            type: boolean
            required: false
          focalLength:
            description: 'The focal length used to create the photo, in millimeters.'
            format: float
            type: number
            required: false
          height:
            description: The height of the image in pixels.
            format: int32
            type: integer
            required: false
          isoSpeed:
            description: The ISO speed used to create the photo.
            format: int32
            type: integer
            required: false
          lens:
            description: The lens used to create the photo.
            type: string
            required: false
          location:
            description: Geographic location information stored in the image.
            properties:
              altitude:
                description: The altitude stored in the image.
                format: double
                type: number
                required: false
              latitude:
                description: The latitude stored in the image.
                format: double
                type: number
                required: false
              longitude:
                description: The longitude stored in the image.
                format: double
                type: number
                required: false
            type: object
            required: false
          maxApertureValue:
            description: The smallest f-number of the lens at the focal length used to create the photo (APEX value).
            format: float
            type: number
            required: false
          meteringMode:
            description: The metering mode used to create the photo.
            type: string
            required: false
          rotation:
            description: The rotation in clockwise degrees from the image's original orientation.
            format: int32
            type: integer
            required: false
          sensor:
            description: The type of sensor used to create the photo.
            type: string
            required: false
          subjectDistance:
            description: 'The distance to the subject of the photo, in meters.'
            format: int32
            type: integer
            required: false
          time:
            description: The date and time the photo was taken (EXIF DateTime).
            type: string
            required: false
          whiteBalance:
            description: The white balance mode used to create the photo.
            type: string
            required: false
          width:
            description: The width of the image in pixels.
            format: int32
            type: integer
            required: false
        type: object
        required: false
      isAppAuthorized:
        description: Whether the file was created or opened by the requesting app.
        type: boolean
        required: false
      kind:
        default: 'drive#file'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#file".'
        type: string
        required: false
      lastModifyingUser:
        description: The last user to modify the file.
        type: User
        required: false
      md5Checksum:
        description: The MD5 checksum for the content of the file. This is only applicable to files with binary content in Drive.
        type: string
        required: false
      mimeType:
        description: |-
          The MIME type of the file.
          Drive will attempt to automatically detect an appropriate value from uploaded content if no value is provided. The value cannot be changed unless a new revision is uploaded.
          If a file is created with a Google Doc MIME type, the uploaded content will be imported if possible. The supported import formats are published in the About resource.
        type: string
        required: false
      modifiedByMe:
        description: Whether the file has been modified by this user.
        type: boolean
        required: false
      modifiedByMeTime:
        description: The last time the file was modified by the user (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      modifiedTime:
        description: |-
          The last time the file was modified by anyone (RFC 3339 date-time).
          Note that setting modifiedTime will also update modifiedByMeTime for the user.
        format: rfc3339
        type: datetime
        required: false
      name:
        description: The name of the file. This is not necessarily unique within a folder.
        type: string
        required: false
      originalFilename:
        description: 'The original filename of the uploaded content if available, or else the original value of the name field. This is only available for files with binary content in Drive.'
        type: string
        required: false
      ownedByMe:
        description: Whether the user owns the file.
        type: boolean
        required: false
      owners:
        description: 'The owners of the file. Currently, only certain legacy files may have more than one owner.'
        items:
          type: User
        type: array
        required: false
      parents:
        description: |-
          The IDs of the parent folders which contain the file.
          If not specified as part of a create request, the file will be placed directly in the My Drive folder. Update requests must use the addParents and removeParents parameters to modify the values.
        items:
          type: string
        type: array
        required: false
      permissions:
        description: The full list of permissions for the file. This is only available if the requesting user can share the file.
        items:
          type: Permission
        type: array
        required: false
      properties:
        additionalProperties:
          type: string
        description: |-
          A collection of arbitrary key-value pairs which are visible to all apps.
          Entries with null values are cleared in update and copy requests.
        type: object
        required: false
      quotaBytesUsed:
        description: The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with keepForever enabled.
        format: int64
        type: string
        facets:
          format: string
        required: false
      shared:
        description: Whether the file has been shared.
        type: boolean
        required: false
      sharedWithMeTime:
        description: 'The time at which the file was shared with the user, if applicable (RFC 3339 date-time).'
        format: rfc3339
        type: datetime
        required: false
      sharingUser:
        description: 'The user who shared the file with the requesting user, if applicable.'
        type: User
        required: false
      size:
        description: The size of the file's content in bytes. This is only applicable to files with binary content in Drive.
        format: int64
        type: string
        facets:
          format: string
        required: false
      spaces:
        description: 'The list of spaces which contain the file. The currently supported values are ''drive'', ''appDataFolder'' and ''photos''.'
        items:
          type: string
        type: array
        required: false
      starred:
        description: Whether the user has starred the file.
        type: boolean
        required: false
      thumbnailLink:
        description: 'A short-lived link to the file''s thumbnail, if available. Typically lasts on the order of hours.'
        type: string
        required: false
      trashed:
        description: 'Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, and other users cannot see files in the owner''s trash.'
        type: boolean
        required: false
      version:
        description: 'A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      videoMediaMetadata:
        description: Additional metadata about video media. This may not be available immediately upon upload.
        properties:
          durationMillis:
            description: The duration of the video in milliseconds.
            format: int64
            type: string
            facets:
              format: string
            required: false
          height:
            description: The height of the video in pixels.
            format: int32
            type: integer
            required: false
          width:
            description: The width of the video in pixels.
            format: int32
            type: integer
            required: false
        type: object
        required: false
      viewedByMe:
        description: Whether the file has been viewed by this user.
        type: boolean
        required: false
      viewedByMeTime:
        description: The last time the file was viewed by the user (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      viewersCanCopyContent:
        description: 'Whether users with only reader or commenter permission can copy the file''s content. This affects copy, download, and print operations.'
        type: boolean
        required: false
      webContentLink:
        description: A link for downloading the content of the file in a browser. This is only available for files with binary content in Drive.
        type: string
        required: false
      webViewLink:
        description: A link for opening the file in a relevant Google editor or viewer in a browser.
        type: string
        required: false
      writersCanShare:
        description: Whether users with only writer permission can modify the file's permissions.
        type: boolean
        required: false
  FileList:
    description: A list of files.
    properties:
      files:
        description: The page of files.
        items:
          type: File
        type: array
        required: false
      kind:
        default: 'drive#fileList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#fileList".'
        type: string
        required: false
      nextPageToken:
        description: The page token for the next page of files. This will be absent if the end of the files list has been reached.
        type: string
        required: false
  GeneratedIds:
    description: A list of generated file IDs which can be provided in create requests.
    properties:
      ids:
        description: The IDs generated for the requesting user in the specified space.
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'drive#generatedIds'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#generatedIds".'
        type: string
        required: false
      space:
        description: The type of file that can be created with these IDs.
        type: string
        required: false
  Permission:
    description: 'A permission for a file. A permission grants a user, group, domain or the world access to a file or a folder hierarchy.'
    properties:
      allowFileDiscovery:
        description: Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type domain or anyone.
        type: boolean
        required: false
      displayName:
        description: 'A displayable name for users, groups or domains.'
        type: string
        required: false
      domain:
        description: The domain to which this permission refers.
        type: string
        required: false
      emailAddress:
        description: The email address of the user or group to which this permission refers.
        type: string
        required: false
      expirationTime:
        description: The time at which this permission will expire (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      id:
        description: 'The ID of this permission. This is a unique identifier for the grantee, and is published in User resources as permissionId.'
        type: string
        required: false
      kind:
        default: 'drive#permission'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#permission".'
        type: string
        required: false
      photoLink:
        description: 'A link to the user''s profile photo, if available.'
        type: string
        required: false
      role:
        description: |-
          The role granted by this permission. Valid values are:  
          - owner 
          - writer 
          - commenter 
          - reader
        type: string
        required: false
      type:
        description: |-
          The type of the grantee. Valid values are:  
          - user 
          - group 
          - domain 
          - anyone
        type: string
        required: false
  PermissionList:
    description: A list of permissions for a file.
    properties:
      kind:
        default: 'drive#permissionList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#permissionList".'
        type: string
        required: false
      permissions:
        description: The full list of permissions.
        items:
          type: Permission
        type: array
        required: false
  Reply:
    description: A reply to a comment on a file.
    properties:
      action:
        description: |-
          The action the reply performed to the parent comment. Valid values are:  
          - resolve 
          - reopen
        type: string
        required: false
      author:
        description: The user who created the reply.
        type: User
        required: false
      content:
        description: 'The plain text content of the reply. This field is used for setting the content, while htmlContent should be displayed. This is required on creates if no action is specified.'
        type: string
        required: false
      createdTime:
        description: The time at which the reply was created (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      deleted:
        description: Whether the reply has been deleted. A deleted reply has no content.
        type: boolean
        required: false
      htmlContent:
        description: The content of the reply with HTML formatting.
        type: string
        required: false
      id:
        description: The ID of the reply.
        type: string
        required: false
      kind:
        default: 'drive#reply'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#reply".'
        type: string
        required: false
      modifiedTime:
        description: The last time the reply was modified (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
  ReplyList:
    description: A list of replies to a comment on a file.
    properties:
      kind:
        default: 'drive#replyList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#replyList".'
        type: string
        required: false
      nextPageToken:
        description: The page token for the next page of replies. This will be absent if the end of the replies list has been reached.
        type: string
        required: false
      replies:
        description: The page of replies.
        items:
          type: Reply
        type: array
        required: false
  Revision:
    description: The metadata for a revision to a file.
    properties:
      id:
        description: The ID of the revision.
        type: string
        required: false
      keepForever:
        description: |-
          Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file.
          This field is only applicable to files with binary content in Drive.
        type: boolean
        required: false
      kind:
        default: 'drive#revision'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#revision".'
        type: string
        required: false
      lastModifyingUser:
        description: The last user to modify this revision.
        type: User
        required: false
      md5Checksum:
        description: The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.
        type: string
        required: false
      mimeType:
        description: The MIME type of the revision.
        type: string
        required: false
      modifiedTime:
        description: The last time the revision was modified (RFC 3339 date-time).
        format: rfc3339
        type: datetime
        required: false
      originalFilename:
        description: The original filename used to create this revision. This is only applicable to files with binary content in Drive.
        type: string
        required: false
      publishAuto:
        description: Whether subsequent revisions will be automatically republished. This is only applicable to Google Docs.
        type: boolean
        required: false
      published:
        description: Whether this revision is published. This is only applicable to Google Docs.
        type: boolean
        required: false
      publishedOutsideDomain:
        description: Whether this revision is published outside the domain. This is only applicable to Google Docs.
        type: boolean
        required: false
      size:
        description: The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.
        format: int64
        type: string
        facets:
          format: string
        required: false
  RevisionList:
    description: A list of revisions of a file.
    properties:
      kind:
        default: 'drive#revisionList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#revisionList".'
        type: string
        required: false
      nextPageToken:
        description: The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached.
        type: string
        required: false
      revisions:
        description: The full list of revisions.
        items:
          type: Revision
        type: array
        required: false
  StartPageToken:
    properties:
      kind:
        default: 'drive#startPageToken'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#startPageToken".'
        type: string
        required: false
      startPageToken:
        description: The starting page token for listing changes.
        type: string
        required: false
  User:
    description: Information about a Drive user.
    properties:
      displayName:
        description: A plain text displayable name for this user.
        type: string
        required: false
      emailAddress:
        description: The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.
        type: string
        required: false
      kind:
        default: 'drive#user'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#user".'
        type: string
        required: false
      me:
        description: Whether this user is the requesting user.
        type: boolean
        required: false
      permissionId:
        description: The user's ID as visible in Permission resources.
        type: string
        required: false
      photoLink:
        description: 'A link to the user''s profile photo, if available.'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
