#%RAML 1.0
title: Ad Exchange Buyer
version: v1.3
baseUri: 'https://www.googleapis.com/adexchangebuyer/v1.3'
protocols:
  - HTTPS
description: 'Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.'
(oas-tags-definition):
  - name: accounts
  - name: billingInfo
  - name: budget
  - name: creatives
  - name: directDeals
  - name: performanceReport
  - name: pretargetingConfig
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/adexchangebuyer/v1.3/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): adexchangebuyer
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/ad-exchange/buyer-rest'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/adexchange.buyer'
    description: Oauth 2.0 authentication
/creatives:
  displayName: creatives
  post:
    displayName: adexchangebuyer.creatives.insert
    description: Submit a new creative.
    body:
      application/json:
        type: Creative
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Creative
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - creatives
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{accountId}':
    displayName: '{accountId}'
    '/{buyerCreativeId}':
      displayName: '{buyerCreativeId}'
      uriParameters:
        buyerCreativeId:
          description: The buyer-specific id for this creative.
          required: true
          type: string
      get:
        displayName: adexchangebuyer.creatives.get
        description: Gets the status for a single creative. A creative will be available 30-40 minutes after submission.
        responses:
          '200':
            body:
              application/json:
                type: Creative
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - creatives
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  get:
    displayName: adexchangebuyer.creatives.list
    description: Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.
    responses:
      '200':
        body:
          application/json:
            type: CreativesList
        description: Successful response
    queryParameters:
      accountId:
        collectionFormat: multi
        description: 'When specified, only creatives for the given account ids are returned.'
        items:
          type: integer
        type: array
        facets:
          collectionFormat: string
      buyerCreativeId:
        collectionFormat: multi
        description: 'When specified, only creatives for the given buyer creative ids are returned.'
        items:
          type: string
        type: array
        facets:
          collectionFormat: string
      maxResults:
        description: 'Maximum number of entries returned on one result page. If not set, the default is 100. Optional.'
        maximum: 1000
        minimum: 1
        type: integer
      pageToken:
        description: 'A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.'
        type: string
      statusFilter:
        description: 'When specified, only creatives having the given status are returned.'
        enum:
          - approved
          - disapproved
          - not_checked
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - creatives
/pretargetingconfigs:
  displayName: pretargetingconfigs
  '/{accountId}':
    displayName: '{accountId}'
    '/{configId}':
      displayName: '{configId}'
      uriParameters:
        configId:
          description: The specific id of the configuration to delete.
          required: true
          type: string
      put:
        displayName: adexchangebuyer.pretargetingConfig.update
        description: Updates an existing pretargeting config.
        body:
          application/json:
            type: PretargetingConfig
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: PretargetingConfig
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - pretargetingConfig
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: adexchangebuyer.pretargetingConfig.patch
        description: Updates an existing pretargeting config. This method supports patch semantics.
        body:
          application/json:
            type: PretargetingConfig
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: PretargetingConfig
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - pretargetingConfig
      get:
        displayName: adexchangebuyer.pretargetingConfig.get
        description: Gets a specific pretargeting configuration
        responses:
          '200':
            body:
              application/json:
                type: PretargetingConfig
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - pretargetingConfig
      delete:
        displayName: adexchangebuyer.pretargetingConfig.delete
        description: Deletes an existing pretargeting config.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - pretargetingConfig
    uriParameters:
      accountId:
        description: The account id to insert the pretargeting config for.
        required: true
        type: string
    get:
      displayName: adexchangebuyer.pretargetingConfig.list
      description: Retrieves a list of the authenticated user's pretargeting configurations.
      responses:
        '200':
          body:
            application/json:
              type: PretargetingConfigList
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - pretargetingConfig
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    post:
      displayName: adexchangebuyer.pretargetingConfig.insert
      description: Inserts a new pretargeting configuration.
      body:
        application/json:
          type: PretargetingConfig
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: PretargetingConfig
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - pretargetingConfig
/accounts:
  displayName: accounts
  get:
    displayName: adexchangebuyer.accounts.list
    description: Retrieves the authenticated user's list of accounts.
    responses:
      '200':
        body:
          application/json:
            type: AccountsList
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - accounts
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: The account id
        required: true
        type: integer
    patch:
      displayName: adexchangebuyer.accounts.patch
      description: Updates an existing account. This method supports patch semantics.
      body:
        application/json:
          type: Account
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - accounts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: adexchangebuyer.accounts.get
      description: Gets one account by ID.
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - accounts
    put:
      displayName: adexchangebuyer.accounts.update
      description: Updates an existing account.
      body:
        application/json:
          type: Account
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - accounts
/directdeals:
  displayName: directdeals
  get:
    displayName: adexchangebuyer.directDeals.list
    description: Retrieves the authenticated user's list of direct deals.
    responses:
      '200':
        body:
          application/json:
            type: DirectDealsList
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - directDeals
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: The direct deal id
        required: true
        type: string
    get:
      displayName: adexchangebuyer.directDeals.get
      description: Gets one direct deal by ID.
      responses:
        '200':
          body:
            application/json:
              type: DirectDeal
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - directDeals
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/billinginfo:
  displayName: billinginfo
  get:
    displayName: adexchangebuyer.billingInfo.list
    description: Retrieves a list of billing information for all accounts of the authenticated user.
    responses:
      '200':
        body:
          application/json:
            type: BillingInfoList
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - billingInfo
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{accountId}':
    displayName: '{accountId}'
    '/{billingId}':
      displayName: '{billingId}'
      uriParameters:
        billingId:
          description: The billing id associated with the budget being updated.
          required: true
          type: string
      get:
        displayName: adexchangebuyer.budget.get
        description: Returns the budget information for the adgroup specified by the accountId and billingId.
        responses:
          '200':
            body:
              application/json:
                type: Budget
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - budget
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      put:
        displayName: adexchangebuyer.budget.update
        description: 'Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request.'
        body:
          application/json:
            type: Budget
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Budget
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - budget
      patch:
        displayName: adexchangebuyer.budget.patch
        description: 'Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request. This method supports patch semantics.'
        body:
          application/json:
            type: Budget
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Budget
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - budget
    uriParameters:
      accountId:
        description: The account id.
        required: true
        type: integer
    get:
      displayName: adexchangebuyer.billingInfo.get
      description: Returns the billing information for one account specified by account ID.
      responses:
        '200':
          body:
            application/json:
              type: BillingInfo
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - billingInfo
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/performancereport:
  displayName: performancereport
  get:
    displayName: adexchangebuyer.performanceReport.list
    description: Retrieves the authenticated user's list of performance metrics.
    responses:
      '200':
        body:
          application/json:
            type: PerformanceReportList
        description: Successful response
    queryParameters:
      accountId:
        description: The account id to get the reports.
        required: true
        type: string
      endDateTime:
        description: The end time of the report in ISO 8601 timestamp format using UTC.
        required: true
        type: string
      startDateTime:
        description: The start time of the report in ISO 8601 timestamp format using UTC.
        required: true
        type: string
      maxResults:
        description: 'Maximum number of entries returned on one result page. If not set, the default is 100. Optional.'
        maximum: 1000
        minimum: 1
        type: integer
      pageToken:
        description: 'A continuation token, used to page through performance reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - performanceReport
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Account:
    description: Configuration data for an Ad Exchange buyer account.
    properties:
      bidderLocation:
        description: Your bidder locations that have distinct URLs.
        items:
          properties:
            maximumQps:
              description: The maximum queries per second the Ad Exchange will send.
              format: int32
              type: integer
              required: false
            region:
              description: |-
                The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  
                - ASIA 
                - EUROPE 
                - US_EAST 
                - US_WEST
              type: string
              required: false
            url:
              description: The URL to which the Ad Exchange will send bid requests.
              type: string
              required: false
          type: object
        type: array
        required: false
      cookieMatchingNid:
        description: The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.
        type: string
        required: false
      cookieMatchingUrl:
        description: The base URL used in cookie match requests.
        type: string
        required: false
      id:
        description: Account id.
        format: int32
        type: integer
        required: false
      kind:
        default: 'adexchangebuyer#account'
        description: Resource type.
        type: string
        required: false
      maximumActiveCreatives:
        description: 'The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.'
        format: int32
        type: integer
        required: false
      maximumTotalQps:
        description: The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.
        format: int32
        type: integer
        required: false
      numberActiveCreatives:
        description: The number of creatives that this account inserted or bid with in the last 30 days.
        format: int32
        type: integer
        required: false
  AccountsList:
    description: An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.
    properties:
      items:
        description: A list of accounts.
        items:
          type: Account
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#accountsList'
        description: Resource type.
        type: string
        required: false
  BillingInfo:
    description: The configuration data for an Ad Exchange billing info.
    properties:
      accountId:
        description: Account id.
        format: int32
        type: integer
        required: false
      accountName:
        description: Account name.
        type: string
        required: false
      billingId:
        description: 'A list of adgroup IDs associated with this particular account. These IDs may show up as part of a realtime bidding BidRequest, which indicates a bid request for this account.'
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#billingInfo'
        description: Resource type.
        type: string
        required: false
  BillingInfoList:
    description: A billing info feed lists Billing Info the Ad Exchange buyer account has access to. Each entry in the feed corresponds to a single billing info.
    properties:
      items:
        description: A list of billing info relevant for your account.
        items:
          type: BillingInfo
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#billingInfoList'
        description: Resource type.
        type: string
        required: false
  Budget:
    description: The configuration data for Ad Exchange RTB - Budget API.
    properties:
      accountId:
        description: The id of the account. This is required for get and update requests.
        format: int64
        type: string
        facets:
          format: string
        required: false
      billingId:
        description: The billing id to determine which adgroup to provide budget information for. This is required for get and update requests.
        format: int64
        type: string
        facets:
          format: string
        required: false
      budgetAmount:
        description: The daily budget amount in unit amount of the account currency to apply for the billingId provided. This is required for update requests.
        format: int64
        type: string
        facets:
          format: string
        required: false
      currencyCode:
        description: The currency code for the buyer. This cannot be altered here.
        type: string
        required: false
      id:
        description: The unique id that describes this item.
        type: string
        required: false
      kind:
        default: 'adexchangebuyer#budget'
        description: 'The kind of the resource, i.e. "adexchangebuyer#budget".'
        type: string
        required: false
  Creative:
    description: A creative and its classification data.
    properties:
      HTMLSnippet:
        description: 'The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.'
        type: string
        required: false
      accountId:
        description: Account id.
        format: int32
        type: integer
        required: false
      advertiserId:
        description: 'Detected advertiser id, if any. Read-only. This field should not be set in requests.'
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      advertiserName:
        description: The name of the company being advertised in the creative.
        type: string
        required: false
      agencyId:
        description: The agency id for this creative.
        format: int64
        type: string
        facets:
          format: string
        required: false
      apiUploadTimestamp:
        description: 'The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).'
        format: rfc3339
        type: datetime
        required: false
      attribute:
        description: All attributes for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
        required: false
      buyerCreativeId:
        description: A buyer-specific id identifying the creative in this ad.
        type: string
        required: false
      clickThroughUrl:
        description: The set of destination urls for the snippet.
        items:
          type: string
        type: array
        required: false
      corrections:
        description: Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.
        items:
          properties:
            details:
              description: Additional details about the correction.
              items:
                type: string
              type: array
              required: false
            reason:
              description: The type of correction that was applied to the creative.
              type: string
              required: false
          type: object
        type: array
        required: false
      disapprovalReasons:
        description: 'The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.'
        items:
          properties:
            details:
              description: Additional details about the reason for disapproval.
              items:
                type: string
              type: array
              required: false
            reason:
              description: The categorized reason for disapproval.
              type: string
              required: false
          type: object
        type: array
        required: false
      filteringReasons:
        description: The filtering reasons for the creative. Read-only. This field should not be set in requests.
        properties:
          date:
            description: 'The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.'
            type: string
            required: false
          reasons:
            description: The filtering reasons.
            items:
              properties:
                filteringCount:
                  description: The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.
                  format: int64
                  type: string
                  facets:
                    format: string
                  required: false
                filteringStatus:
                  description: The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.
                  format: int32
                  type: integer
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      height:
        description: Ad height.
        format: int32
        type: integer
        required: false
      impressionTrackingUrl:
        description: The set of urls to be called to record an impression.
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#creative'
        description: Resource type.
        type: string
        required: false
      nativeAd:
        description: 'If nativeAd is set, HTMLSnippet and videoURL should not be set.'
        properties:
          advertiser:
            type: string
            required: false
          appIcon:
            description: 'The app icon, for app download ads.'
            properties:
              height:
                format: int32
                type: integer
                required: false
              url:
                type: string
                required: false
              width:
                format: int32
                type: integer
                required: false
            type: object
            required: false
          body:
            description: A long description of the ad.
            type: string
            required: false
          callToAction:
            description: A label for the button that the user is supposed to click.
            type: string
            required: false
          clickTrackingUrl:
            description: The URL to use for click tracking.
            type: string
            required: false
          headline:
            description: A short title for the ad.
            type: string
            required: false
          image:
            description: A large image.
            properties:
              height:
                format: int32
                type: integer
                required: false
              url:
                type: string
                required: false
              width:
                format: int32
                type: integer
                required: false
            type: object
            required: false
          impressionTrackingUrl:
            description: The URLs are called when the impression is rendered.
            items:
              type: string
            type: array
            required: false
          logo:
            description: 'A smaller image, for the advertiser logo.'
            properties:
              height:
                format: int32
                type: integer
                required: false
              url:
                type: string
                required: false
              width:
                format: int32
                type: integer
                required: false
            type: object
            required: false
          price:
            description: The price of the promoted app including the currency info.
            type: string
            required: false
          starRating:
            description: 'The app rating in the app store. Must be in the range [0-5].'
            format: double
            type: number
            required: false
          store:
            description: The URL to the app store to purchase/download the promoted app.
            type: string
            required: false
        type: object
        required: false
      productCategories:
        description: 'Detected product categories, if any. Read-only. This field should not be set in requests.'
        items:
          format: int32
          type: integer
        type: array
        required: false
      restrictedCategories:
        description: All restricted categories for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
        required: false
      sensitiveCategories:
        description: 'Detected sensitive categories, if any. Read-only. This field should not be set in requests.'
        items:
          format: int32
          type: integer
        type: array
        required: false
      status:
        description: Creative serving status. Read-only. This field should not be set in requests.
        type: string
        required: false
      vendorType:
        description: All vendor types for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
        required: false
      version:
        description: The version for this creative. Read-only. This field should not be set in requests.
        format: int32
        type: integer
        required: false
      videoURL:
        description: 'The URL to fetch a video ad. If set, HTMLSnippet and the nativeAd should not be set.'
        type: string
        required: false
      width:
        description: Ad width.
        format: int32
        type: integer
        required: false
  CreativesList:
    description: The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.
    properties:
      items:
        description: A list of creatives.
        items:
          type: Creative
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#creativesList'
        description: Resource type.
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through creatives. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  DirectDeal:
    description: The configuration data for an Ad Exchange direct deal.
    properties:
      accountId:
        description: The account id of the buyer this deal is for.
        format: int32
        type: integer
        required: false
      advertiser:
        description: The name of the advertiser this deal is for.
        type: string
        required: false
      allowsAlcohol:
        description: Whether the publisher for this deal is eligible for alcohol ads.
        type: boolean
        required: false
      buyerAccountId:
        description: The account id that this deal was negotiated for. It is either the buyer or the client that this deal was negotiated on behalf of.
        format: int64
        type: string
        facets:
          format: string
        required: false
      currencyCode:
        description: The currency code that applies to the fixed_cpm value. If not set then assumed to be USD.
        type: string
        required: false
      dealTier:
        description: The deal type such as programmatic reservation or fixed price and so on.
        type: string
        required: false
      endTime:
        description: End time for when this deal stops being active. If not set then this deal is valid until manually disabled by the publisher. In seconds since the epoch.
        format: int64
        type: string
        facets:
          format: string
        required: false
      fixedCpm:
        description: 'The fixed price for this direct deal. In cpm micros of currency according to currency_code. If set, then this deal is eligible for the fixed price tier of buying (highest priority, pay exactly the configured fixed price).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: Deal id.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'adexchangebuyer#directDeal'
        description: Resource type.
        type: string
        required: false
      name:
        description: Deal name.
        type: string
        required: false
      privateExchangeMinCpm:
        description: 'The minimum price for this direct deal. In cpm micros of currency according to currency_code. If set, then this deal is eligible for the private exchange tier of buying (below fixed price priority, run as a second price auction).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      publisherBlocksOverriden:
        description: 'If true, the publisher has opted to have their blocks ignored when a creative is bid with for this deal.'
        type: boolean
        required: false
      sellerNetwork:
        description: The name of the publisher offering this direct deal.
        type: string
        required: false
      startTime:
        description: Start time for when this deal becomes active. If not set then this deal is active immediately upon creation. In seconds since the epoch.
        format: int64
        type: string
        facets:
          format: string
        required: false
  DirectDealsList:
    description: A direct deals feed lists Direct Deals the Ad Exchange buyer account has access to. This includes direct deals set up for the buyer account as well as its merged stream seats.
    properties:
      directDeals:
        description: A list of direct deals relevant for your account.
        items:
          type: DirectDeal
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#directDealsList'
        description: Resource type.
        type: string
        required: false
  PerformanceReport:
    description: The configuration data for an Ad Exchange performance report list.
    properties:
      bidRate:
        description: The number of bid responses with an ad.
        format: double
        type: number
        required: false
      bidRequestRate:
        description: The number of bid requests sent to your bidder.
        format: double
        type: number
        required: false
      calloutStatusRate:
        description: Rate of various prefiltering statuses per match. Please refer to the callout-status-codes.txt file for different statuses.
        items: {}
        type: array
        required: false
      cookieMatcherStatusRate:
        description: Average QPS for cookie matcher operations.
        items: {}
        type: array
        required: false
      creativeStatusRate:
        description: Rate of ads with a given status. Please refer to the creative-status-codes.txt file for different statuses.
        items: {}
        type: array
        required: false
      filteredBidRate:
        description: The number of bid responses that were filtered due to a policy violation or other errors.
        format: double
        type: number
        required: false
      hostedMatchStatusRate:
        description: Average QPS for hosted match operations.
        items: {}
        type: array
        required: false
      inventoryMatchRate:
        description: The number of potential queries based on your pretargeting settings.
        format: double
        type: number
        required: false
      kind:
        default: 'adexchangebuyer#performanceReport'
        description: Resource type.
        type: string
        required: false
      latency50thPercentile:
        description: The 50th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
        format: double
        type: number
        required: false
      latency85thPercentile:
        description: The 85th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
        format: double
        type: number
        required: false
      latency95thPercentile:
        description: The 95th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
        format: double
        type: number
        required: false
      noQuotaInRegion:
        description: Rate of various quota account statuses per quota check.
        format: double
        type: number
        required: false
      outOfQuota:
        description: Rate of various quota account statuses per quota check.
        format: double
        type: number
        required: false
      pixelMatchRequests:
        description: Average QPS for pixel match requests from clients.
        format: double
        type: number
        required: false
      pixelMatchResponses:
        description: Average QPS for pixel match responses from clients.
        format: double
        type: number
        required: false
      quotaConfiguredLimit:
        description: The configured quota limits for this account.
        format: double
        type: number
        required: false
      quotaThrottledLimit:
        description: The throttled quota limits for this account.
        format: double
        type: number
        required: false
      region:
        description: The trading location of this data.
        type: string
        required: false
      successfulRequestRate:
        description: The number of properly formed bid responses received by our servers within the deadline.
        format: double
        type: number
        required: false
      timestamp:
        description: The unix timestamp of the starting time of this performance data.
        format: int64
        type: string
        facets:
          format: string
        required: false
      unsuccessfulRequestRate:
        description: 'The number of bid responses that were unsuccessful due to timeouts, incorrect formatting, etc.'
        format: double
        type: number
        required: false
  PerformanceReportList:
    description: The configuration data for an Ad Exchange performance report list.
    properties:
      kind:
        default: 'adexchangebuyer#performanceReportList'
        description: Resource type.
        type: string
        required: false
      performanceReport:
        description: A list of performance reports relevant for the account.
        items:
          type: PerformanceReport
        type: array
        required: false
  PretargetingConfig:
    properties:
      billingId:
        description: 'The id for billing purposes, provided for reference. Leave this field blank for insert requests; the id will be generated automatically.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      configId:
        description: The config id; generated automatically. Leave this field blank for insert requests.
        format: int64
        type: string
        facets:
          format: string
        required: false
      configName:
        description: The name of the config. Must be unique. Required for all requests.
        type: string
        required: false
      creativeType:
        description: List must contain exactly one of PRETARGETING_CREATIVE_TYPE_HTML or PRETARGETING_CREATIVE_TYPE_VIDEO.
        items:
          type: string
        type: array
        required: false
      dimensions:
        description: 'Requests which allow one of these (width, height) pairs will match. All pairs must be supported ad dimensions.'
        items:
          properties:
            height:
              description: Height in pixels.
              format: int64
              type: string
              facets:
                format: string
              required: false
            width:
              description: Width in pixels.
              format: int64
              type: string
              facets:
                format: string
              required: false
          type: object
        type: array
        required: false
      excludedContentLabels:
        description: Requests with any of these content labels will not match. Values are from content-labels.txt in the downloadable files section.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      excludedGeoCriteriaIds:
        description: Requests containing any of these geo criteria ids will not match.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      excludedPlacements:
        description: Requests containing any of these placements will not match.
        items:
          properties:
            token:
              description: 'The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.'
              type: string
              required: false
            type:
              description: The type of the placement.
              type: string
              required: false
          type: object
        type: array
        required: false
      excludedUserLists:
        description: Requests containing any of these users list ids will not match.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      excludedVerticals:
        description: Requests containing any of these vertical ids will not match. Values are from the publisher-verticals.txt file in the downloadable files section.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      geoCriteriaIds:
        description: Requests containing any of these geo criteria ids will match.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      isActive:
        description: Whether this config is active. Required for all requests.
        type: boolean
        required: false
      kind:
        default: 'adexchangebuyer#pretargetingConfig'
        description: 'The kind of the resource, i.e. "adexchangebuyer#pretargetingConfig".'
        type: string
        required: false
      languages:
        description: Request containing any of these language codes will match.
        items:
          type: string
        type: array
        required: false
      mobileCarriers:
        description: Requests containing any of these mobile carrier ids will match. Values are from mobile-carriers.csv in the downloadable files section.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      mobileDevices:
        description: Requests containing any of these mobile device ids will match. Values are from mobile-devices.csv in the downloadable files section.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      mobileOperatingSystemVersions:
        description: Requests containing any of these mobile operating system version ids will match. Values are from mobile-os.csv in the downloadable files section.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      placements:
        description: Requests containing any of these placements will match.
        items:
          properties:
            token:
              description: 'The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.'
              type: string
              required: false
            type:
              description: The type of the placement.
              type: string
              required: false
          type: object
        type: array
        required: false
      platforms:
        description: 'Requests matching any of these platforms will match. Possible values are PRETARGETING_PLATFORM_MOBILE, PRETARGETING_PLATFORM_DESKTOP, and PRETARGETING_PLATFORM_TABLET.'
        items:
          type: string
        type: array
        required: false
      supportedCreativeAttributes:
        description: Creative attributes should be declared here if all creatives corresponding to this pretargeting configuration have that creative attribute. Values are from pretargetable-creative-attributes.txt in the downloadable files section.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      userLists:
        description: Requests containing any of these user list ids will match.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      vendorTypes:
        description: Requests that allow any of these vendor ids will match. Values are from vendors.txt in the downloadable files section.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      verticals:
        description: Requests containing any of these vertical ids will match.
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
  PretargetingConfigList:
    properties:
      items:
        description: A list of pretargeting configs
        items:
          type: PretargetingConfig
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#pretargetingConfigList'
        description: Resource type.
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
