#%RAML 1.0
title: DCM/DFA Reporting And Trafficking
version: v2.4
baseUri: 'https://www.googleapis.com/dfareporting/v2.4'
protocols:
  - HTTPS
description: Manages your DoubleClick Campaign Manager ad campaigns and reports.
(oas-tags-definition):
  - name: accountActiveAdSummaries
  - name: accountPermissionGroups
  - name: accountPermissions
  - name: accountUserProfiles
  - name: accounts
  - name: ads
  - name: advertiserGroups
  - name: advertisers
  - name: browsers
  - name: campaignCreativeAssociations
  - name: campaigns
  - name: changeLogs
  - name: cities
  - name: connectionTypes
  - name: contentCategories
  - name: countries
  - name: creativeAssets
  - name: creativeFieldValues
  - name: creativeFields
  - name: creativeGroups
  - name: creatives
  - name: dimensionValues
  - name: directorySiteContacts
  - name: directorySites
  - name: eventTags
  - name: files
  - name: floodlightActivities
  - name: floodlightActivityGroups
  - name: floodlightConfigurations
  - name: inventoryItems
  - name: landingPages
  - name: metros
  - name: mobileCarriers
  - name: operatingSystemVersions
  - name: operatingSystems
  - name: orderDocuments
  - name: orders
  - name: placementGroups
  - name: placementStrategies
  - name: placements
  - name: platformTypes
  - name: postalCodes
  - name: projects
  - name: regions
  - name: remarketingListShares
  - name: remarketingLists
  - name: reports
  - name: sites
  - name: sizes
  - name: subaccounts
  - name: targetableRemarketingLists
  - name: userProfiles
  - name: userRolePermissionGroups
  - name: userRolePermissions
  - name: userRoles
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/dfareporting/v2.4/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): dfareporting
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/doubleclick-advertisers/reporting/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/dfareporting'
        - 'https://www.googleapis.com/auth/dfatrafficking'
    description: Oauth 2.0 authentication
/userprofiles:
  displayName: userprofiles
  '/{profileId}':
    displayName: '{profileId}'
    /floodlightActivities:
      displayName: floodlightActivities
      get:
        displayName: dfareporting.floodlightActivities.list
        description: 'Retrieves a list of floodlight activities, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivitiesListResponse
            description: Successful response
        queryParameters:
          advertiserId:
            description: 'Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.'
            type: string
            displayName: 'Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.'
          floodlightActivityGroupIds:
            collectionFormat: multi
            description: Select only floodlight activities with the specified floodlight activity group IDs.
            items:
              type: string
            type: array
            displayName: Select only floodlight activities with the specified floodlight activity group IDs.
            facets:
              collectionFormat: string
          floodlightActivityGroupName:
            description: Select only floodlight activities with the specified floodlight activity group name.
            type: string
            displayName: Select only floodlight activities with the specified floodlight activity group name.
          floodlightActivityGroupTagString:
            description: Select only floodlight activities with the specified floodlight activity group tag string.
            type: string
            displayName: Select only floodlight activities with the specified floodlight activity group tag string.
          floodlightActivityGroupType:
            description: Select only floodlight activities with the specified floodlight activity group type.
            enum:
              - COUNTER
              - SALE
            type: string
            displayName: Select only floodlight activities with the specified floodlight activity group type.
          floodlightConfigurationId:
            description: 'Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.'
            type: string
            displayName: 'Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.'
          ids:
            collectionFormat: multi
            description: 'Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.'
            items:
              type: string
            type: array
            displayName: 'Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.'
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "floodlightactivity*2015" will return objects with names like "floodlightactivity June 2015", "floodlightactivity April 2015", or simply "floodlightactivity 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "floodlightactivity" will match objects with name "my floodlightactivity activity", "floodlightactivity 2015", or simply "floodlightactivity".'
            type: string
            displayName: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "floodlightactivity*2015" will return objects with names like "floodlightactivity June 2015", "floodlightactivity April 2015", or simply "floodlightactivity 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "floodlightactivity" will match objects with name "my floodlightactivity activity", "floodlightactivity 2015", or simply "floodlightactivity".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
          tagString:
            description: Select only floodlight activities with the specified tag string.
            type: string
            displayName: Select only floodlight activities with the specified tag string.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivities
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: dfareporting.floodlightActivities.patch
        description: Updates an existing floodlight activity. This method supports patch semantics.
        body:
          application/json:
            type: FloodlightActivity
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivity
            description: Successful response
        queryParameters:
          id:
            description: Floodlight activity ID.
            required: true
            type: string
            displayName: Floodlight activity ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivities
      post:
        displayName: dfareporting.floodlightActivities.insert
        description: Inserts a new floodlight activity.
        body:
          application/json:
            type: FloodlightActivity
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivity
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivities
      put:
        displayName: dfareporting.floodlightActivities.update
        description: Updates an existing floodlight activity.
        body:
          application/json:
            type: FloodlightActivity
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivity
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivities
      /generatetag:
        displayName: generatetag
        post:
          displayName: dfareporting.floodlightActivities.generatetag
          description: Generates a tag for a floodlight activity.
          responses:
            '200':
              body:
                application/json:
                  type: FloodlightActivitiesGenerateTagResponse
              description: Successful response
          queryParameters:
            floodlightActivityId:
              description: Floodlight activity ID for which we want to generate a tag.
              type: string
              displayName: Floodlight activity ID for which we want to generate a tag.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - floodlightActivities
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Floodlight activity ID.
            required: true
            type: string
            displayName: Floodlight activity ID.
        delete:
          displayName: dfareporting.floodlightActivities.delete
          description: Deletes an existing floodlight activity.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - floodlightActivities
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: dfareporting.floodlightActivities.get
          description: Gets one floodlight activity by ID.
          responses:
            '200':
              body:
                application/json:
                  type: FloodlightActivity
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - floodlightActivities
    /userRoles:
      displayName: userRoles
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: User role ID.
            required: true
            type: string
            displayName: User role ID.
        get:
          displayName: dfareporting.userRoles.get
          description: Gets one user role by ID.
          responses:
            '200':
              body:
                application/json:
                  type: UserRole
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - userRoles
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        delete:
          displayName: dfareporting.userRoles.delete
          description: Deletes an existing user role.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - userRoles
      get:
        displayName: dfareporting.userRoles.list
        description: 'Retrieves a list of user roles, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: UserRolesListResponse
            description: Successful response
        queryParameters:
          accountUserRoleOnly:
            description: Select only account level user roles not associated with any specific subaccount.
            type: boolean
            displayName: Select only account level user roles not associated with any specific subaccount.
          ids:
            collectionFormat: multi
            description: Select only user roles with the specified IDs.
            items:
              type: string
            type: array
            displayName: Select only user roles with the specified IDs.
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "userrole*2015" will return objects with names like "userrole June 2015", "userrole April 2015", or simply "userrole 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "userrole" will match objects with name "my userrole", "userrole 2015", or simply "userrole".'
            type: string
            displayName: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "userrole*2015" will return objects with names like "userrole June 2015", "userrole April 2015", or simply "userrole 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "userrole" will match objects with name "my userrole", "userrole 2015", or simply "userrole".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
          subaccountId:
            description: Select only user roles that belong to this subaccount.
            type: string
            displayName: Select only user roles that belong to this subaccount.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - userRoles
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      put:
        displayName: dfareporting.userRoles.update
        description: Updates an existing user role.
        body:
          application/json:
            type: UserRole
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: UserRole
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - userRoles
      post:
        displayName: dfareporting.userRoles.insert
        description: Inserts a new user role.
        body:
          application/json:
            type: UserRole
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: UserRole
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - userRoles
      patch:
        displayName: dfareporting.userRoles.patch
        description: Updates an existing user role. This method supports patch semantics.
        body:
          application/json:
            type: UserRole
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: UserRole
            description: Successful response
        queryParameters:
          id:
            description: User role ID.
            required: true
            type: string
            displayName: User role ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - userRoles
    uriParameters:
      profileId:
        description: The user profile ID.
        required: true
        type: string
        displayName: The user profile ID.
    get:
      displayName: dfareporting.userProfiles.get
      description: Gets one user profile by ID.
      responses:
        '200':
          body:
            application/json:
              type: UserProfile
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/dfatrafficking'
      (oas-tags):
        - userProfiles
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /accountPermissionGroups:
      displayName: accountPermissionGroups
      get:
        displayName: dfareporting.accountPermissionGroups.list
        description: Retrieves the list of account permission groups.
        responses:
          '200':
            body:
              application/json:
                type: AccountPermissionGroupsListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accountPermissionGroups
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Account permission group ID.
            required: true
            type: string
            displayName: Account permission group ID.
        get:
          displayName: dfareporting.accountPermissionGroups.get
          description: Gets one account permission group by ID.
          responses:
            '200':
              body:
                application/json:
                  type: AccountPermissionGroup
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - accountPermissionGroups
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /accountPermissions:
      displayName: accountPermissions
      get:
        displayName: dfareporting.accountPermissions.list
        description: Retrieves the list of account permissions.
        responses:
          '200':
            body:
              application/json:
                type: AccountPermissionsListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accountPermissions
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Account permission ID.
            required: true
            type: string
            displayName: Account permission ID.
        get:
          displayName: dfareporting.accountPermissions.get
          description: Gets one account permission by ID.
          responses:
            '200':
              body:
                application/json:
                  type: AccountPermission
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - accountPermissions
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /accountUserProfiles:
      displayName: accountUserProfiles
      get:
        displayName: dfareporting.accountUserProfiles.list
        description: 'Retrieves a list of account user profiles, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: AccountUserProfilesListResponse
            description: Successful response
        queryParameters:
          active:
            description: Select only active user profiles.
            type: boolean
            displayName: Select only active user profiles.
          ids:
            collectionFormat: multi
            description: Select only user profiles with these IDs.
            items:
              type: string
            type: array
            displayName: Select only user profiles with these IDs.
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, "user profile*2015" will return objects with names like "user profile June 2015", "user profile April 2015", or simply "user profile 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "user profile" will match objects with name "my user profile", "user profile 2015", or simply "user profile".'
            type: string
            displayName: 'Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, "user profile*2015" will return objects with names like "user profile June 2015", "user profile April 2015", or simply "user profile 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "user profile" will match objects with name "my user profile", "user profile 2015", or simply "user profile".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
          subaccountId:
            description: Select only user profiles with the specified subaccount ID.
            type: string
            displayName: Select only user profiles with the specified subaccount ID.
          userRoleId:
            description: Select only user profiles with the specified user role ID.
            type: string
            displayName: Select only user profiles with the specified user role ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accountUserProfiles
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: dfareporting.accountUserProfiles.insert
        description: Inserts a new account user profile.
        body:
          application/json:
            type: AccountUserProfile
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AccountUserProfile
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accountUserProfiles
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: User profile ID.
            required: true
            type: string
            displayName: User profile ID.
        get:
          displayName: dfareporting.accountUserProfiles.get
          description: Gets one account user profile by ID.
          responses:
            '200':
              body:
                application/json:
                  type: AccountUserProfile
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - accountUserProfiles
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      patch:
        displayName: dfareporting.accountUserProfiles.patch
        description: Updates an existing account user profile. This method supports patch semantics.
        body:
          application/json:
            type: AccountUserProfile
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AccountUserProfile
            description: Successful response
        queryParameters:
          id:
            description: User profile ID.
            required: true
            type: string
            displayName: User profile ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accountUserProfiles
      put:
        displayName: dfareporting.accountUserProfiles.update
        description: Updates an existing account user profile.
        body:
          application/json:
            type: AccountUserProfile
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AccountUserProfile
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accountUserProfiles
    /floodlightActivityGroups:
      displayName: floodlightActivityGroups
      get:
        displayName: dfareporting.floodlightActivityGroups.list
        description: 'Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivityGroupsListResponse
            description: Successful response
        queryParameters:
          advertiserId:
            description: Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.
            type: string
            displayName: Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.
          floodlightConfigurationId:
            description: 'Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.'
            type: string
            displayName: 'Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.'
          ids:
            collectionFormat: multi
            description: Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.
            items:
              type: string
            type: array
            displayName: Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "floodlightactivitygroup*2015" will return objects with names like "floodlightactivitygroup June 2015", "floodlightactivitygroup April 2015", or simply "floodlightactivitygroup 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "floodlightactivitygroup" will match objects with name "my floodlightactivitygroup activity", "floodlightactivitygroup 2015", or simply "floodlightactivitygroup".'
            type: string
            displayName: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "floodlightactivitygroup*2015" will return objects with names like "floodlightactivitygroup June 2015", "floodlightactivitygroup April 2015", or simply "floodlightactivitygroup 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "floodlightactivitygroup" will match objects with name "my floodlightactivitygroup activity", "floodlightactivitygroup 2015", or simply "floodlightactivitygroup".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
          type:
            description: Select only floodlight activity groups with the specified floodlight activity group type.
            enum:
              - COUNTER
              - SALE
            type: string
            displayName: Select only floodlight activity groups with the specified floodlight activity group type.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivityGroups
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: dfareporting.floodlightActivityGroups.patch
        description: Updates an existing floodlight activity group. This method supports patch semantics.
        body:
          application/json:
            type: FloodlightActivityGroup
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivityGroup
            description: Successful response
        queryParameters:
          id:
            description: Floodlight activity Group ID.
            required: true
            type: string
            displayName: Floodlight activity Group ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivityGroups
      post:
        displayName: dfareporting.floodlightActivityGroups.insert
        description: Inserts a new floodlight activity group.
        body:
          application/json:
            type: FloodlightActivityGroup
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivityGroup
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivityGroups
      put:
        displayName: dfareporting.floodlightActivityGroups.update
        description: Updates an existing floodlight activity group.
        body:
          application/json:
            type: FloodlightActivityGroup
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightActivityGroup
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightActivityGroups
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Floodlight activity Group ID.
            required: true
            type: string
            displayName: Floodlight activity Group ID.
        get:
          displayName: dfareporting.floodlightActivityGroups.get
          description: Gets one floodlight activity group by ID.
          responses:
            '200':
              body:
                application/json:
                  type: FloodlightActivityGroup
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - floodlightActivityGroups
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /accounts:
      displayName: accounts
      patch:
        displayName: dfareporting.accounts.patch
        description: Updates an existing account. This method supports patch semantics.
        body:
          application/json:
            type: Account
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Account
            description: Successful response
        queryParameters:
          id:
            description: Account ID.
            required: true
            type: string
            displayName: Account ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accounts
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Account ID.
            required: true
            type: string
            displayName: Account ID.
        get:
          displayName: dfareporting.accounts.get
          description: Gets one account by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Account
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - accounts
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      get:
        displayName: dfareporting.accounts.list
        description: 'Retrieves the list of accounts, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: AccountsListResponse
            description: Successful response
        queryParameters:
          active:
            description: Select only active accounts. Don't set this field to select both active and non-active accounts.
            type: boolean
            displayName: Select only active accounts. Don't set this field to select both active and non-active accounts.
          ids:
            collectionFormat: multi
            description: Select only accounts with these IDs.
            items:
              type: string
            type: array
            displayName: Select only accounts with these IDs.
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "account*2015" will return objects with names like "account June 2015", "account April 2015", or simply "account 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "account" will match objects with name "my account", "account 2015", or simply "account".'
            type: string
            displayName: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "account*2015" will return objects with names like "account June 2015", "account April 2015", or simply "account 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "account" will match objects with name "my account", "account 2015", or simply "account".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accounts
      put:
        displayName: dfareporting.accounts.update
        description: Updates an existing account.
        body:
          application/json:
            type: Account
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Account
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - accounts
    /ads:
      displayName: ads
      patch:
        displayName: dfareporting.ads.patch
        description: Updates an existing ad. This method supports patch semantics.
        body:
          application/json:
            type: Ad
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Ad
            description: Successful response
        queryParameters:
          id:
            description: Ad ID.
            required: true
            type: string
            displayName: Ad ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - ads
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      put:
        displayName: dfareporting.ads.update
        description: Updates an existing ad.
        body:
          application/json:
            type: Ad
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Ad
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - ads
      get:
        displayName: dfareporting.ads.list
        description: 'Retrieves a list of ads, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: AdsListResponse
            description: Successful response
        queryParameters:
          active:
            description: Select only active ads.
            type: boolean
            displayName: Select only active ads.
          advertiserId:
            description: Select only ads with this advertiser ID.
            type: string
            displayName: Select only ads with this advertiser ID.
          archived:
            description: Select only archived ads.
            type: boolean
            displayName: Select only archived ads.
          audienceSegmentIds:
            collectionFormat: multi
            description: Select only ads with these audience segment IDs.
            items:
              type: string
            type: array
            displayName: Select only ads with these audience segment IDs.
            facets:
              collectionFormat: string
          campaignIds:
            collectionFormat: multi
            description: Select only ads with these campaign IDs.
            items:
              type: string
            type: array
            displayName: Select only ads with these campaign IDs.
            facets:
              collectionFormat: string
          compatibility:
            description: 'Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.'
            enum:
              - APP
              - APP_INTERSTITIAL
              - DISPLAY
              - DISPLAY_INTERSTITIAL
              - IN_STREAM_VIDEO
            type: string
            displayName: 'Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.'
          creativeIds:
            collectionFormat: multi
            description: Select only ads with these creative IDs assigned.
            items:
              type: string
            type: array
            displayName: Select only ads with these creative IDs assigned.
            facets:
              collectionFormat: string
          creativeOptimizationConfigurationIds:
            collectionFormat: multi
            description: Select only ads with these creative optimization configuration IDs.
            items:
              type: string
            type: array
            displayName: Select only ads with these creative optimization configuration IDs.
            facets:
              collectionFormat: string
          creativeType:
            description: Select only ads with the specified creativeType.
            enum:
              - BRAND_SAFE_DEFAULT_INSTREAM_VIDEO
              - CUSTOM_INPAGE
              - CUSTOM_INTERSTITIAL
              - ENHANCED_BANNER
              - ENHANCED_IMAGE
              - FLASH_INPAGE
              - HTML5_BANNER
              - IMAGE
              - INSTREAM_VIDEO
              - INSTREAM_VIDEO_REDIRECT
              - INTERNAL_REDIRECT
              - INTERSTITIAL_INTERNAL_REDIRECT
              - REDIRECT
              - RICH_MEDIA_EXPANDING
              - RICH_MEDIA_IM_EXPAND
              - RICH_MEDIA_INPAGE
              - RICH_MEDIA_INPAGE_FLOATING
              - RICH_MEDIA_INTERSTITIAL_FLOAT
              - RICH_MEDIA_MOBILE_IN_APP
              - RICH_MEDIA_MULTI_FLOATING
              - RICH_MEDIA_PEEL_DOWN
              - TRACKING_TEXT
              - VPAID_LINEAR
              - VPAID_NON_LINEAR
            type: string
            displayName: Select only ads with the specified creativeType.
          dynamicClickTracker:
            description: 'Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.'
            type: boolean
            displayName: 'Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.'
          ids:
            collectionFormat: multi
            description: Select only ads with these IDs.
            items:
              type: string
            type: array
            displayName: Select only ads with these IDs.
            facets:
              collectionFormat: string
          landingPageIds:
            collectionFormat: multi
            description: Select only ads with these landing page IDs.
            items:
              type: string
            type: array
            displayName: Select only ads with these landing page IDs.
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          overriddenEventTagId:
            description: Select only ads with this event tag override ID.
            type: string
            displayName: Select only ads with this event tag override ID.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          placementIds:
            collectionFormat: multi
            description: Select only ads with these placement IDs assigned.
            items:
              type: string
            type: array
            displayName: Select only ads with these placement IDs assigned.
            facets:
              collectionFormat: string
          remarketingListIds:
            collectionFormat: multi
            description: Select only ads whose list targeting expression use these remarketing list IDs.
            items:
              type: string
            type: array
            displayName: Select only ads whose list targeting expression use these remarketing list IDs.
            facets:
              collectionFormat: string
          searchString:
            description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "ad*2015" will return objects with names like "ad June 2015", "ad April 2015", or simply "ad 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "ad" will match objects with name "my ad", "ad 2015", or simply "ad".'
            type: string
            displayName: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "ad*2015" will return objects with names like "ad June 2015", "ad April 2015", or simply "ad 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "ad" will match objects with name "my ad", "ad 2015", or simply "ad".'
          sizeIds:
            collectionFormat: multi
            description: Select only ads with these size IDs.
            items:
              type: string
            type: array
            displayName: Select only ads with these size IDs.
            facets:
              collectionFormat: string
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
          sslCompliant:
            description: Select only ads that are SSL-compliant.
            type: boolean
            displayName: Select only ads that are SSL-compliant.
          sslRequired:
            description: Select only ads that require SSL.
            type: boolean
            displayName: Select only ads that require SSL.
          type:
            collectionFormat: multi
            description: Select only ads with these types.
            items:
              enum:
                - AD_SERVING_CLICK_TRACKER
                - AD_SERVING_DEFAULT_AD
                - AD_SERVING_STANDARD_AD
                - AD_SERVING_TRACKING
              type: string
            type: array
            displayName: Select only ads with these types.
            facets:
              collectionFormat: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - ads
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Ad ID.
            required: true
            type: string
            displayName: Ad ID.
        get:
          displayName: dfareporting.ads.get
          description: Gets one ad by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Ad
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - ads
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      post:
        displayName: dfareporting.ads.insert
        description: Inserts a new ad.
        body:
          application/json:
            type: Ad
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Ad
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - ads
    /floodlightConfigurations:
      displayName: floodlightConfigurations
      get:
        displayName: dfareporting.floodlightConfigurations.list
        description: 'Retrieves a list of floodlight configurations, possibly filtered.'
        responses:
          '200':
            body:
              application/json:
                type: FloodlightConfigurationsListResponse
            description: Successful response
        queryParameters:
          ids:
            collectionFormat: multi
            description: Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.
            items:
              type: string
            type: array
            displayName: Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.
            facets:
              collectionFormat: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightConfigurations
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: dfareporting.floodlightConfigurations.patch
        description: Updates an existing floodlight configuration. This method supports patch semantics.
        body:
          application/json:
            type: FloodlightConfiguration
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightConfiguration
            description: Successful response
        queryParameters:
          id:
            description: Floodlight configuration ID.
            required: true
            type: string
            displayName: Floodlight configuration ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightConfigurations
      put:
        displayName: dfareporting.floodlightConfigurations.update
        description: Updates an existing floodlight configuration.
        body:
          application/json:
            type: FloodlightConfiguration
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: FloodlightConfiguration
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - floodlightConfigurations
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Floodlight configuration ID.
            required: true
            type: string
            displayName: Floodlight configuration ID.
        get:
          displayName: dfareporting.floodlightConfigurations.get
          description: Gets one floodlight configuration by ID.
          responses:
            '200':
              body:
                application/json:
                  type: FloodlightConfiguration
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - floodlightConfigurations
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /advertiserGroups:
      displayName: advertiserGroups
      get:
        displayName: dfareporting.advertiserGroups.list
        description: 'Retrieves a list of advertiser groups, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: AdvertiserGroupsListResponse
            description: Successful response
        queryParameters:
          ids:
            collectionFormat: multi
            description: Select only advertiser groups with these IDs.
            items:
              type: string
            type: array
            displayName: Select only advertiser groups with these IDs.
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser group June 2015", "advertiser group April 2015", or simply "advertiser group 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertisergroup" will match objects with name "my advertisergroup", "advertisergroup 2015", or simply "advertisergroup".'
            type: string
            displayName: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser group June 2015", "advertiser group April 2015", or simply "advertiser group 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertisergroup" will match objects with name "my advertisergroup", "advertisergroup 2015", or simply "advertisergroup".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertiserGroups
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: dfareporting.advertiserGroups.insert
        description: Inserts a new advertiser group.
        body:
          application/json:
            type: AdvertiserGroup
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AdvertiserGroup
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertiserGroups
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Advertiser group ID.
            required: true
            type: string
            displayName: Advertiser group ID.
        delete:
          displayName: dfareporting.advertiserGroups.delete
          description: Deletes an existing advertiser group.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - advertiserGroups
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: dfareporting.advertiserGroups.get
          description: Gets one advertiser group by ID.
          responses:
            '200':
              body:
                application/json:
                  type: AdvertiserGroup
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - advertiserGroups
      put:
        displayName: dfareporting.advertiserGroups.update
        description: Updates an existing advertiser group.
        body:
          application/json:
            type: AdvertiserGroup
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AdvertiserGroup
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertiserGroups
      patch:
        displayName: dfareporting.advertiserGroups.patch
        description: Updates an existing advertiser group. This method supports patch semantics.
        body:
          application/json:
            type: AdvertiserGroup
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AdvertiserGroup
            description: Successful response
        queryParameters:
          id:
            description: Advertiser group ID.
            required: true
            type: string
            displayName: Advertiser group ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertiserGroups
    /advertisers:
      displayName: advertisers
      get:
        displayName: dfareporting.advertisers.list
        description: 'Retrieves a list of advertisers, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: AdvertisersListResponse
            description: Successful response
        queryParameters:
          advertiserGroupIds:
            collectionFormat: multi
            description: Select only advertisers with these advertiser group IDs.
            items:
              type: string
            type: array
            displayName: Select only advertisers with these advertiser group IDs.
            facets:
              collectionFormat: string
          floodlightConfigurationIds:
            collectionFormat: multi
            description: Select only advertisers with these floodlight configuration IDs.
            items:
              type: string
            type: array
            displayName: Select only advertisers with these floodlight configuration IDs.
            facets:
              collectionFormat: string
          ids:
            collectionFormat: multi
            description: Select only advertisers with these IDs.
            items:
              type: string
            type: array
            displayName: Select only advertisers with these IDs.
            facets:
              collectionFormat: string
          includeAdvertisersWithoutGroupsOnly:
            description: Select only advertisers which do not belong to any advertiser group.
            type: boolean
            displayName: Select only advertisers which do not belong to any advertiser group.
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          onlyParent:
            description: Select only advertisers which use another advertiser's floodlight configuration.
            type: boolean
            displayName: Select only advertisers which use another advertiser's floodlight configuration.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser June 2015", "advertiser April 2015", or simply "advertiser 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertiser" will match objects with name "my advertiser", "advertiser 2015", or simply "advertiser".'
            type: string
            displayName: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser June 2015", "advertiser April 2015", or simply "advertiser 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertiser" will match objects with name "my advertiser", "advertiser 2015", or simply "advertiser".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
          status:
            description: Select only advertisers with the specified status.
            enum:
              - APPROVED
              - ON_HOLD
            type: string
            displayName: Select only advertisers with the specified status.
          subaccountId:
            description: Select only advertisers with these subaccount IDs.
            type: string
            displayName: Select only advertisers with these subaccount IDs.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertisers
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: dfareporting.advertisers.insert
        description: Inserts a new advertiser.
        body:
          application/json:
            type: Advertiser
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Advertiser
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertisers
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Advertiser ID.
            required: true
            type: string
            displayName: Advertiser ID.
        get:
          displayName: dfareporting.advertisers.get
          description: Gets one advertiser by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Advertiser
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - advertisers
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      patch:
        displayName: dfareporting.advertisers.patch
        description: Updates an existing advertiser. This method supports patch semantics.
        body:
          application/json:
            type: Advertiser
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Advertiser
            description: Successful response
        queryParameters:
          id:
            description: Advertiser ID.
            required: true
            type: string
            displayName: Advertiser ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertisers
      put:
        displayName: dfareporting.advertisers.update
        description: Updates an existing advertiser.
        body:
          application/json:
            type: Advertiser
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Advertiser
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - advertisers
    /metros:
      displayName: metros
      get:
        displayName: dfareporting.metros.list
        description: Retrieves a list of metros.
        responses:
          '200':
            body:
              application/json:
                type: MetrosListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - metros
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /mobileCarriers:
      displayName: mobileCarriers
      get:
        displayName: dfareporting.mobileCarriers.list
        description: Retrieves a list of mobile carriers.
        responses:
          '200':
            body:
              application/json:
                type: MobileCarriersListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - mobileCarriers
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Mobile carrier ID.
            required: true
            type: string
            displayName: Mobile carrier ID.
        get:
          displayName: dfareporting.mobileCarriers.get
          description: Gets one mobile carrier by ID.
          responses:
            '200':
              body:
                application/json:
                  type: MobileCarrier
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - mobileCarriers
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /campaigns:
      displayName: campaigns
      get:
        displayName: dfareporting.campaigns.list
        description: 'Retrieves a list of campaigns, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: CampaignsListResponse
            description: Successful response
        queryParameters:
          advertiserGroupIds:
            collectionFormat: multi
            description: Select only campaigns whose advertisers belong to these advertiser groups.
            items:
              type: string
            type: array
            displayName: Select only campaigns whose advertisers belong to these advertiser groups.
            facets:
              collectionFormat: string
          advertiserIds:
            collectionFormat: multi
            description: Select only campaigns that belong to these advertisers.
            items:
              type: string
            type: array
            displayName: Select only campaigns that belong to these advertisers.
            facets:
              collectionFormat: string
          archived:
            description: Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.
            type: boolean
            displayName: Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.
          atLeastOneOptimizationActivity:
            description: Select only campaigns that have at least one optimization activity.
            type: boolean
            displayName: Select only campaigns that have at least one optimization activity.
          excludedIds:
            collectionFormat: multi
            description: Exclude campaigns with these IDs.
            items:
              type: string
            type: array
            displayName: Exclude campaigns with these IDs.
            facets:
              collectionFormat: string
          ids:
            collectionFormat: multi
            description: Select only campaigns with these IDs.
            items:
              type: string
            type: array
            displayName: Select only campaigns with these IDs.
            facets:
              collectionFormat: string
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          overriddenEventTagId:
            description: Select only campaigns that have overridden this event tag ID.
            type: string
            displayName: Select only campaigns that have overridden this event tag ID.
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          searchString:
            description: 'Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, "campaign*2015" will return campaigns with names like "campaign June 2015", "campaign April 2015", or simply "campaign 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "campaign" will match campaigns with name "my campaign", "campaign 2015", or simply "campaign".'
            type: string
            displayName: 'Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, "campaign*2015" will return campaigns with names like "campaign June 2015", "campaign April 2015", or simply "campaign 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "campaign" will match campaigns with name "my campaign", "campaign 2015", or simply "campaign".'
          sortField:
            description: Field by which to sort the list.
            enum:
              - ID
              - NAME
            type: string
            displayName: Field by which to sort the list.
          sortOrder:
            description: 'Order of sorted results, default is ASCENDING.'
            enum:
              - ASCENDING
              - DESCENDING
            type: string
            displayName: 'Order of sorted results, default is ASCENDING.'
          subaccountId:
            description: Select only campaigns that belong to this subaccount.
            type: string
            displayName: Select only campaigns that belong to this subaccount.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - campaigns
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: dfareporting.campaigns.insert
        description: Inserts a new campaign.
        body:
          application/json:
            type: Campaign
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Campaign
            description: Successful response
        queryParameters:
          defaultLandingPageName:
            description: Default landing page name for this new campaign. Must be less than 256 characters long.
            required: true
            type: string
            displayName: Default landing page name for this new campaign. Must be less than 256 characters long.
          defaultLandingPageUrl:
            description: Default landing page URL for this new campaign.
            required: true
            type: string
            displayName: Default landing page URL for this new campaign.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - campaigns
      '/{campaignId}':
        displayName: '{campaignId}'
        /campaignCreativeAssociations:
          displayName: campaignCreativeAssociations
          get:
            displayName: dfareporting.campaignCreativeAssociations.list
            description: Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.
            responses:
              '200':
                body:
                  application/json:
                    type: CampaignCreativeAssociationsListResponse
                description: Successful response
            queryParameters:
              maxResults:
                description: Maximum number of results to return.
                type: integer
                displayName: Maximum number of results to return.
              pageToken:
                description: Value of the nextPageToken from the previous result page.
                type: string
                displayName: Value of the nextPageToken from the previous result page.
              sortOrder:
                description: 'Order of sorted results, default is ASCENDING.'
                enum:
                  - ASCENDING
                  - DESCENDING
                type: string
                displayName: 'Order of sorted results, default is ASCENDING.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/dfatrafficking'
            (oas-tags):
              - campaignCreativeAssociations
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: dfareporting.campaignCreativeAssociations.insert
            description: Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.
            body:
              application/json:
                type: CampaignCreativeAssociation
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: CampaignCreativeAssociation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/dfatrafficking'
            (oas-tags):
              - campaignCreativeAssociations
        /landingPages:
          displayName: landingPages
          get:
            displayName: dfareporting.landingPages.list
            description: Retrieves the list of landing pages for the specified campaign.
            responses:
              '200':
                body:
                  application/json:
                    type: LandingPagesListResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/dfatrafficking'
            (oas-tags):
              - landingPages
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: dfareporting.landingPages.insert
            description: Inserts a new landing page for the specified campaign.
            body:
              application/json:
                type: LandingPage
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: LandingPage
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/dfatrafficking'
            (oas-tags):
              - landingPages
          '/{id}':
            displayName: '{id}'
            uriParameters:
              id:
                description: Landing page ID.
                required: true
                type: string
                displayName: Landing page ID.
            delete:
              displayName: dfareporting.landingPages.delete
              description: Deletes an existing campaign landing page.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/dfatrafficking'
              (oas-tags):
                - landingPages
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: dfareporting.landingPages.get
              description: Gets one campaign landing page by ID.
              responses:
                '200':
                  body:
                    application/json:
                      type: LandingPage
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/dfatrafficking'
              (oas-tags):
                - landingPages
          patch:
            displayName: dfareporting.landingPages.patch
            description: Updates an existing campaign landing page. This method supports patch semantics.
            body:
              application/json:
                type: LandingPage
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: LandingPage
                description: Successful response
            queryParameters:
              id:
                description: Landing page ID.
                required: true
                type: string
                displayName: Landing page ID.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/dfatrafficking'
            (oas-tags):
              - landingPages
          put:
            displayName: dfareporting.landingPages.update
            description: Updates an existing campaign landing page.
            body:
              application/json:
                type: LandingPage
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: LandingPage
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/dfatrafficking'
            (oas-tags):
              - landingPages
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Campaign ID.
            required: true
            type: string
            displayName: Campaign ID.
        get:
          displayName: dfareporting.campaigns.get
          description: Gets one campaign by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Campaign
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - campaigns
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      put:
        displayName: dfareporting.campaigns.update
        description: Updates an existing campaign.
        body:
          application/json:
            type: Campaign
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Campaign
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - campaigns
      patch:
        displayName: dfareporting.campaigns.patch
        description: Updates an existing campaign. This method supports patch semantics.
        body:
          application/json:
            type: Campaign
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Campaign
            description: Successful response
        queryParameters:
          id:
            description: Campaign ID.
            required: true
            type: string
            displayName: Campaign ID.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - campaigns
    /operatingSystemVersions:
      displayName: operatingSystemVersions
      get:
        displayName: dfareporting.operatingSystemVersions.list
        description: Retrieves a list of operating system versions.
        responses:
          '200':
            body:
              application/json:
                type: OperatingSystemVersionsListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - operatingSystemVersions
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{id}':
        displayName: '{id}'
        uriParameters:
          id:
            description: Operating system version ID.
            required: true
            type: string
            displayName: Operating system version ID.
        get:
          displayName: dfareporting.operatingSystemVersions.get
          description: Gets one operating system version by ID.
          responses:
            '200':
              body:
                application/json:
                  type: OperatingSystemVersion
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - operatingSystemVersions
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /operatingSystems:
      displayName: operatingSystems
      get:
        displayName: dfareporting.operatingSystems.list
        description: Retrieves a list of operating systems.
        responses:
          '200':
            body:
              application/json:
                type: OperatingSystemsListResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/dfatrafficking'
        (oas-tags):
          - operatingSystems
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{dartId}':
        displayName: '{dartId}'
        uriParameters:
          dartId:
            description: Operating system DART ID.
            required: true
            type: string
            displayName: Operating system DART ID.
        get:
          displayName: dfareporting.operatingSystems.get
          description: Gets one operating system by DART ID.
          responses:
            '200':
              body:
                application/json:
                  type: OperatingSystem
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/dfatrafficking'
          (oas-tags):
            - operatingSystems
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /placementGroups:
      displayName: placementGroups
      get:
        displayName: dfareporting.placementGroups.list
        description: 'Retrieves a list of placement groups, possibly filtered. This method supports paging.'
        responses:
          '200':
            body:
              application/json:
                type: PlacementGroupsListResponse
            description: Successful response
        queryParameters:
          advertiserIds:
            collectionFormat: multi
            description: Select only placement groups that belong to these advertisers.
            items:
              type: string
            type: array
            displayName: Select only placement groups that belong to these advertisers.
            facets:
              collectionFormat: string
          archived:
            description: Select only archived placements. Don't set this field to select both archived and non-archived placements.
            type: boolean
            displayName: Select only archived placements. Don't set this field to select both archived and non-archived placements.
          campaignIds:
            collectionFormat: multi
            description: Select only placement groups that belong to these campaigns.
            items:
              type: string
            type: array
            displayName: Select only placement groups that belong to these campaigns.
            facets:
              collectionFormat: string
          contentCategoryIds:
            collectionFormat: multi
            description: Select only placement groups that are associated with these content categories.
            items:
              type: string
            type: array
            displayName: Select only placement groups that are associated with these content categories.
            facets:
              collectionFormat: string
          directorySiteIds:
            collectionFormat: multi
            description: Select only placement groups that are associated with these directory sites.
            items:
              type: string
            type: array
            displayName: Select only placement groups that are associated with these directory sites.
            facets:
              collectionFormat: string
          ids:
            collectionFormat: multi
            description: Select only placement groups with these IDs.
            items:
              type: string
            type: array
            displayName: Select only placement groups with these IDs.
            facets:
              collectionFormat: string
          maxEndDate:
            description: Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as "yyyy-MM-dd".
            type: string
            displayName: Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as "yyyy-MM-dd".
          maxResults:
            description: Maximum number of results to return.
            type: integer
            displayName: Maximum number of results to return.
          maxStartDate:
            description: Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as "yyyy-MM-dd".
            type: string
            displayName: Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as "yyyy-MM-dd".
          minEndDate:
            description: Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as "yyyy-MM-dd".
            type: string
            displayName: Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as "yyyy-MM-dd".
          minStartDate:
            description: Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as "yyyy-MM-dd".
            type: string
            displayName: Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as "yyyy-MM-dd".
          pageToken:
            description: Value of the nextPageToken from the previous result page.
            type: string
            displayName: Value of the nextPageToken from the previous result page.
          placementGroupType:
            description: Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.
            enum:
              - PLACEMENT_PACKAGE
              - PLACEMENT_ROADBLOCK
            type: string
            displayName: Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.
          placementStrategyIds:
            collectionFormat: multi
            description: Select only placement groups that are associated with these placement strategies.
            items:
              type: string
            type: array
            displayName: Select only placement groups that are associated with these placement strategies.
            facets:
              collectionFormat: string
          pricingTypes:
            collectionFormat: multi
            description: Select only placement groups with these pricing types.
            items:
              enum:
                - PRICING_TYPE_CPA
                - PRICING_TYPE_CPC
                - PRICING_TYPE_CPM
                - PRICING_TYPE_CPM_ACTIVEVIEW
                - PRICING_TYPE_FLAT_RATE_CLICKS
                - PRICING_TYPE_FLAT_RATE_IMPRESSIONS
              type: string
            type: array
            displayName: Select only placement groups with these pricing types.
            facets:
[...]
