#%RAML 1.0
title: Google Play Game Services Management
version: v1management
baseUri: 'https://www.googleapis.com/games/v1management'
protocols:
  - HTTPS
description: The Management API for Google Play Game Services.
(oas-tags-definition):
  - name: achievements
  - name: applications
  - name: events
  - name: players
  - name: quests
  - name: rooms
  - name: scores
  - name: turnBasedMatches
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_play_games_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/gamesManagement/v1management/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): gamesManagement
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/games/services'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/games'
        - 'https://www.googleapis.com/auth/plus.login'
    description: Oauth 2.0 authentication
/leaderboards:
  displayName: leaderboards
  '/{leaderboardId}':
    displayName: '{leaderboardId}'
    /scores:
      displayName: scores
      /reset:
        displayName: reset
        post:
          displayName: gamesManagement.scores.reset
          description: Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
          responses:
            '200':
              body:
                application/json:
                  type: PlayerScoreResetResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.login'
          (oas-tags):
            - scores
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /resetForAllPlayers:
        displayName: resetForAllPlayers
        post:
          displayName: gamesManagement.scores.resetForAllPlayers
          description: Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.login'
          (oas-tags):
            - scores
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
/turnbasedmatches:
  displayName: turnbasedmatches
  /resetForAllPlayers:
    displayName: resetForAllPlayers
    post:
      displayName: gamesManagement.turnBasedMatches.resetForAllPlayers
      description: Deletes turn-based matches where the only match participants are from whitelisted tester accounts for your application. This method is only available to user accounts for your developer console.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - turnBasedMatches
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /reset:
    displayName: reset
    post:
      displayName: gamesManagement.turnBasedMatches.reset
      description: Reset all turn-based match data for a user. This method is only accessible to whitelisted tester accounts for your application.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - turnBasedMatches
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/achievements:
  displayName: achievements
  /reset:
    displayName: reset
    post:
      displayName: gamesManagement.achievements.resetAll
      description: Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.
      responses:
        '200':
          body:
            application/json:
              type: AchievementResetAllResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - achievements
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /resetMultipleForAllPlayers:
    displayName: resetMultipleForAllPlayers
    post:
      displayName: gamesManagement.achievements.resetMultipleForAllPlayers
      description: Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.
      body:
        application/json:
          type: AchievementResetMultipleForAllRequest
          (oas-body-name): body
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - achievements
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  '/{achievementId}':
    displayName: '{achievementId}'
    /resetForAllPlayers:
      displayName: resetForAllPlayers
      post:
        displayName: gamesManagement.achievements.resetForAllPlayers
        description: Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - achievements
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /reset:
      displayName: reset
      post:
        displayName: gamesManagement.achievements.reset
        description: Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
        responses:
          '200':
            body:
              application/json:
                type: AchievementResetResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - achievements
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /resetAllForAllPlayers:
    displayName: resetAllForAllPlayers
    post:
      displayName: gamesManagement.achievements.resetAllForAllPlayers
      description: Resets all draft achievements for all players. This method is only available to user accounts for your developer console.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - achievements
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/quests:
  displayName: quests
  /reset:
    displayName: reset
    post:
      displayName: gamesManagement.quests.resetAll
      description: Resets all player progress on all quests for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - quests
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /resetAllForAllPlayers:
    displayName: resetAllForAllPlayers
    post:
      displayName: gamesManagement.quests.resetAllForAllPlayers
      description: Resets all draft quests for all players. This method is only available to user accounts for your developer console.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - quests
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /resetMultipleForAllPlayers:
    displayName: resetMultipleForAllPlayers
    post:
      displayName: gamesManagement.quests.resetMultipleForAllPlayers
      description: Resets quests with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft quests may be reset.
      body:
        application/json:
          type: QuestsResetMultipleForAllRequest
          (oas-body-name): body
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - quests
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  '/{questId}':
    displayName: '{questId}'
    /reset:
      displayName: reset
      post:
        displayName: gamesManagement.quests.reset
        description: Resets all player progress on the quest with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - quests
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /resetForAllPlayers:
      displayName: resetForAllPlayers
      post:
        displayName: gamesManagement.quests.resetForAllPlayers
        description: Resets all player progress on the quest with the given ID for all players. This method is only available to user accounts for your developer console. Only draft quests can be reset.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - quests
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/applications:
  displayName: applications
  '/{applicationId}':
    displayName: '{applicationId}'
    /players:
      displayName: players
      /hidden:
        displayName: hidden
        '/{playerId}':
          displayName: '{playerId}'
          uriParameters:
            playerId:
              description: A player ID. A value of me may be used in place of the authenticated player's ID.
              required: true
              type: string
              displayName: A player ID. A value of me may be used in place of the authenticated player's ID.
          delete:
            displayName: gamesManagement.players.unhide
            description: Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/plus.login'
            (oas-tags):
              - players
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: gamesManagement.players.hide
            description: Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/plus.login'
            (oas-tags):
              - players
        get:
          displayName: gamesManagement.applications.listHidden
          description: Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.
          responses:
            '200':
              body:
                application/json:
                  type: HiddenPlayerList
              description: Successful response
          queryParameters:
            maxResults:
              description: 'The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.'
              maximum: 50
              minimum: 1
              type: integer
              displayName: 'The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.'
            pageToken:
              description: The token returned by the previous request.
              type: string
              displayName: The token returned by the previous request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.login'
          (oas-tags):
            - applications
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
/events:
  displayName: events
  /reset:
    displayName: reset
    post:
      displayName: gamesManagement.events.resetAll
      description: Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application. All quests for this player will also be reset.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - events
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /resetMultipleForAllPlayers:
    displayName: resetMultipleForAllPlayers
    post:
      displayName: gamesManagement.events.resetMultipleForAllPlayers
      description: Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset. All quests that use any of the events will also be reset.
      body:
        application/json:
          type: EventsResetMultipleForAllRequest
          (oas-body-name): body
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - events
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  '/{eventId}':
    displayName: '{eventId}'
    /resetForAllPlayers:
      displayName: resetForAllPlayers
      post:
        displayName: gamesManagement.events.resetForAllPlayers
        description: Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset. All quests that use the event will also be reset.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - events
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /reset:
      displayName: reset
      post:
        displayName: gamesManagement.events.reset
        description: Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application. All quests for this player that use the event will also be reset.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - events
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /resetAllForAllPlayers:
    displayName: resetAllForAllPlayers
    post:
      displayName: gamesManagement.events.resetAllForAllPlayers
      description: Resets all draft events for all players. This method is only available to user accounts for your developer console. All quests that use any of these events will also be reset.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - events
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/rooms:
  displayName: rooms
  /reset:
    displayName: reset
    post:
      displayName: gamesManagement.rooms.reset
      description: Reset all rooms for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - rooms
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /resetForAllPlayers:
    displayName: resetForAllPlayers
    post:
      displayName: gamesManagement.rooms.resetForAllPlayers
      description: Deletes rooms where the only room participants are from whitelisted tester accounts for your application. This method is only available to user accounts for your developer console.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - rooms
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/scores:
  displayName: scores
  /resetMultipleForAllPlayers:
    displayName: resetMultipleForAllPlayers
    post:
      displayName: gamesManagement.scores.resetMultipleForAllPlayers
      description: Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.
      body:
        application/json:
          type: ScoresResetMultipleForAllRequest
          (oas-body-name): body
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - scores
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /resetAllForAllPlayers:
    displayName: resetAllForAllPlayers
    post:
      displayName: gamesManagement.scores.resetAllForAllPlayers
      description: Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - scores
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /reset:
    displayName: reset
    post:
      displayName: gamesManagement.scores.resetAll
      description: Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.
      responses:
        '200':
          body:
            application/json:
              type: PlayerScoreResetAllResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - scores
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  AchievementResetAllResponse:
    description: This is a JSON template for achievement reset all response.
    properties:
      kind:
        default: 'gamesManagement#achievementResetAllResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetAllResponse.'
        type: string
        required: false
      results:
        description: The achievement reset results.
        items:
          type: AchievementResetResponse
        type: array
        required: false
  AchievementResetMultipleForAllRequest:
    description: This is a JSON template for multiple achievements reset all request.
    properties:
      achievement_ids:
        description: The IDs of achievements to reset.
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'gamesManagement#achievementResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetMultipleForAllRequest.'
        type: string
        required: false
  AchievementResetResponse:
    description: This is a JSON template for an achievement reset response.
    properties:
      currentState:
        description: |-
          The current state of the achievement. This is the same as the initial state of the achievement.
          Possible values are:  
          - "HIDDEN"- Achievement is hidden. 
          - "REVEALED" - Achievement is revealed. 
          - "UNLOCKED" - Achievement is unlocked.
        type: string
        required: false
      definitionId:
        description: The ID of an achievement for which player state has been updated.
        type: string
        required: false
      kind:
        default: 'gamesManagement#achievementResetResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetResponse.'
        type: string
        required: false
      updateOccurred:
        description: Flag to indicate if the requested update actually occurred.
        type: boolean
        required: false
  EventsResetMultipleForAllRequest:
    description: This is a JSON template for multiple events reset all request.
    properties:
      event_ids:
        description: The IDs of events to reset.
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'gamesManagement#eventsResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#eventsResetMultipleForAllRequest.'
        type: string
        required: false
  GamesPlayedResource:
    description: This is a JSON template for metadata about a player playing a game with the currently authenticated user.
    properties:
      autoMatched:
        description: True if the player was auto-matched with the currently authenticated user.
        type: boolean
        required: false
      timeMillis:
        description: The last time the player played the game in milliseconds since the epoch in UTC.
        format: int64
        type: string
        facets:
          format: string
        required: false
  GamesPlayerExperienceInfoResource:
    description: This is a JSON template for 1P/3P metadata about the player's experience.
    properties:
      currentExperiencePoints:
        description: The current number of experience points for the player.
        format: int64
        type: string
        facets:
          format: string
        required: false
      currentLevel:
        description: The current level of the player.
        type: GamesPlayerLevelResource
        required: false
      lastLevelUpTimestampMillis:
        description: 'The timestamp when the player was leveled up, in millis since Unix epoch UTC.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      nextLevel:
        description: 'The next level of the player. If the current level is the maximum level, this should be same as the current level.'
        type: GamesPlayerLevelResource
        required: false
  GamesPlayerLevelResource:
    description: This is a JSON template for 1P/3P metadata about a user's level.
    properties:
      level:
        description: The level for the user.
        format: int32
        type: integer
        required: false
      maxExperiencePoints:
        description: The maximum experience points for this level.
        format: int64
        type: string
        facets:
          format: string
        required: false
      minExperiencePoints:
        description: The minimum experience points for this level.
        format: int64
        type: string
        facets:
          format: string
        required: false
  HiddenPlayer:
    description: This is a JSON template for the HiddenPlayer resource.
    properties:
      hiddenTimeMillis:
        description: The time this player was hidden.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'gamesManagement#hiddenPlayer'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#hiddenPlayer.'
        type: string
        required: false
      player:
        description: The player information.
        type: Player
        required: false
  HiddenPlayerList:
    description: This is a JSON template for a list of hidden players.
    properties:
      items:
        description: The players.
        items:
          type: HiddenPlayer
        type: array
        required: false
      kind:
        default: 'gamesManagement#hiddenPlayerList'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#hiddenPlayerList.'
        type: string
        required: false
      nextPageToken:
        description: The pagination token for the next page of results.
        type: string
        required: false
  Player:
    description: This is a JSON template for a Player resource.
    properties:
      avatarImageUrl:
        description: The base URL for the image that represents the player.
        type: string
        required: false
      bannerUrlLandscape:
        description: The url to the landscape mode player banner image.
        type: string
        required: false
      bannerUrlPortrait:
        description: The url to the portrait mode player banner image.
        type: string
        required: false
      displayName:
        description: The name to display for the player.
        type: string
        required: false
      experienceInfo:
        description: An object to represent Play Game experience information for the player.
        type: GamesPlayerExperienceInfoResource
        required: false
      kind:
        default: 'gamesManagement#player'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#player.'
        type: string
        required: false
      lastPlayedWith:
        description: Details about the last time this player played a multiplayer game with the currently authenticated player. Populated for PLAYED_WITH player collection members.
        type: GamesPlayedResource
        required: false
      name:
        description: 'An object representation of the individual components of the player''s name. For some players, these fields may not be present.'
        properties:
          familyName:
            description: 'The family name of this player. In some places, this is known as the last name.'
            type: string
            required: false
          givenName:
            description: 'The given name of this player. In some places, this is known as the first name.'
            type: string
            required: false
        type: object
        required: false
      originalPlayerId:
        description: 'The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.'
        type: string
        required: false
      playerId:
        description: The ID of the player.
        type: string
        required: false
      profileSettings:
        description: The player's profile settings. Controls whether or not the player's profile is visible to other players.
        type: ProfileSettings
        required: false
      title:
        description: The player's title rewarded for their game activities.
        type: string
        required: false
  PlayerScoreResetAllResponse:
    description: This is a JSON template for a list of leaderboard reset resources.
    properties:
      kind:
        default: 'gamesManagement#playerScoreResetAllResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#playerScoreResetResponse.'
        type: string
        required: false
      results:
        description: The leaderboard reset results.
        items:
          type: PlayerScoreResetResponse
        type: array
        required: false
  PlayerScoreResetResponse:
    description: This is a JSON template for a list of reset leaderboard entry resources.
    properties:
      definitionId:
        description: The ID of an leaderboard for which player state has been updated.
        type: string
        required: false
      kind:
        default: 'gamesManagement#playerScoreResetResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#playerScoreResetResponse.'
        type: string
        required: false
      resetScoreTimeSpans:
        description: |-
          The time spans of the updated score.
          Possible values are:  
          - "ALL_TIME" - The score is an all-time score. 
          - "WEEKLY" - The score is a weekly score. 
          - "DAILY" - The score is a daily score.
        items:
          type: string
        type: array
        required: false
  ProfileSettings:
    description: This is a JSON template for profile settings
    properties:
      kind:
        default: 'gamesManagement#profileSettings'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#profileSettings.'
        type: string
        required: false
      profileVisible:
        description: The player's current profile visibility. This field is visible to both 1P and 3P APIs.
        type: boolean
        required: false
  QuestsResetMultipleForAllRequest:
    description: This is a JSON template for multiple quests reset all request.
    properties:
      kind:
        default: 'gamesManagement#questsResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#questsResetMultipleForAllRequest.'
        type: string
        required: false
      quest_ids:
        description: The IDs of quests to reset.
        items:
          type: string
        type: array
        required: false
  ScoresResetMultipleForAllRequest:
    description: This is a JSON template for multiple scores reset all request.
    properties:
      kind:
        default: 'gamesManagement#scoresResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#scoresResetMultipleForAllRequest.'
        type: string
        required: false
      leaderboard_ids:
        description: The IDs of leaderboards to reset.
        items:
          type: string
        type: array
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
