#%RAML 1.0
title: Google Cloud Dataproc
version: v1alpha1
baseUri: 'https://dataproc.googleapis.com/'
protocols:
  - HTTPS
description: An API for managing Hadoop-based clusters and jobs on Google Cloud Platform.
(oas-tags-definition):
  - name: projects
  - name: operations
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/dataproc/v1alpha1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): dataproc
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://cloud.google.com/dataproc/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/cloud-platform'
    description: Oauth 2.0 authentication
/v1alpha1:
  displayName: v1alpha1
  /projects:
    displayName: projects
    '/{projectId}':
      displayName: '{projectId}'
      /regions:
        displayName: regions
        '/{region}':
          displayName: '{region}'
          /jobs:
            displayName: jobs
            '/{jobId}':
              displayName: '{jobId}'
              uriParameters:
                jobId:
                  description: '[Required] The job ID.'
                  required: true
                  type: string
              get:
                displayName: dataproc.projects.regions.jobs.get
                description: Gets the resource representation for a job in a project.
                responses:
                  '200':
                    body:
                      application/json:
                        type: Job
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - projects
              is:
                - accessToken
                - alt
                - bearerToken
                - callback
                - fields
                - key
                - oauthToken
                - pp
                - prettyPrint
                - quotaUser
                - uploadProtocol
                - uploadType
                - xgafv
              delete:
                displayName: dataproc.projects.regions.jobs.delete
                description: 'Deletes the job from the project. If the job is active, the delete fails, and the response returns `FAILED_PRECONDITION`.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: Job
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - projects
            '/{jobId}:cancel':
              displayName: '{jobId}:cancel'
              uriParameters:
                jobId:
                  description: '[Required] The job ID.'
                  required: true
                  type: string
              post:
                displayName: dataproc.projects.regions.jobs.cancel
                description: 'Starts a job cancellation request. To access the job resource after cancellation, call regions/{region}/jobs:list or regions/{region}/jobs:get.'
                body:
                  application/json:
                    type: CancelJobRequest
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: Job
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - projects
              is:
                - accessToken
                - alt
                - bearerToken
                - callback
                - fields
                - key
                - oauthToken
                - pp
                - prettyPrint
                - quotaUser
                - uploadProtocol
                - uploadType
                - xgafv
          /clusters:
            displayName: clusters
            get:
              displayName: dataproc.projects.regions.clusters.list
              description: 'Request a list of all regions/{region}/clusters in a project.'
              responses:
                '200':
                  body:
                    application/json:
                      type: ListClustersResponse
                  description: Successful response
              queryParameters:
                filter:
                  description: '[Optional] A filter constraining which clusters to list. Valid filters contain label terms such as: labels.key1 = val1 AND (-labels.k2 = val2 OR labels.k3 = val3)'
                  type: string
                pageSize:
                  description: The standard List page size.
                  type: integer
                pageToken:
                  description: The standard List page token.
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform'
              (oas-tags):
                - projects
            is:
              - accessToken
              - alt
              - bearerToken
              - callback
              - fields
              - key
              - oauthToken
              - pp
              - prettyPrint
              - quotaUser
              - uploadProtocol
              - uploadType
              - xgafv
            post:
              displayName: dataproc.projects.regions.clusters.create
              description: Request to create a cluster in a project.
              body:
                application/json:
                  type: Cluster
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform'
              (oas-tags):
                - projects
            '/{clusterName}':
              displayName: '{clusterName}'
              uriParameters:
                clusterName:
                  description: '[Required] The cluster name.'
                  required: true
                  type: string
              patch:
                displayName: dataproc.projects.regions.clusters.patch
                description: Request to update a cluster in a project.
                body:
                  application/json:
                    type: Cluster
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: Operation
                    description: Successful response
                queryParameters:
                  updateMask:
                    description: '[Required] Specifies the path, relative to Cluster, of the field to update. For example, to change the number of workers in a cluster to 5, the update_mask parameter would be specified as "configuration.worker_configuration.num_instances," and the PATCH request body would specify the new value, as follows: { "configuration":{ "workerConfiguration":{ "numInstances":"5" } } } Note: Currently, configuration.worker_configuration.num_instances is the only field that can be updated.'
                    type: string
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - projects
              is:
                - accessToken
                - alt
                - bearerToken
                - callback
                - fields
                - key
                - oauthToken
                - pp
                - prettyPrint
                - quotaUser
                - uploadProtocol
                - uploadType
                - xgafv
              get:
                displayName: dataproc.projects.regions.clusters.get
                description: Request to get the resource representation for a cluster in a project.
                responses:
                  '200':
                    body:
                      application/json:
                        type: Cluster
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - projects
              delete:
                displayName: dataproc.projects.regions.clusters.delete
                description: Request to delete a cluster in a project.
                responses:
                  '200':
                    body:
                      application/json:
                        type: Operation
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/cloud-platform'
                (oas-tags):
                  - projects
          '/jobs:submit':
            displayName: 'jobs:submit'
            post:
              displayName: dataproc.projects.regions.jobs.submit
              description: Submits a job to a cluster.
              body:
                application/json:
                  type: SubmitJobRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Job
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/cloud-platform'
              (oas-tags):
                - projects
            is:
              - accessToken
              - alt
              - bearerToken
              - callback
              - fields
              - key
              - oauthToken
              - pp
              - prettyPrint
              - quotaUser
              - uploadProtocol
              - uploadType
              - xgafv
  '/{name}:cancel':
    displayName: '{name}:cancel'
    uriParameters:
      name:
        description: The name of the operation resource to be cancelled.
        required: true
        type: string
    post:
      displayName: dataproc.operations.cancel
      description: 'Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn''t support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients may use [Operations.GetOperation] or other methods to check whether the cancellation succeeded or the operation completed despite cancellation.'
      body:
        application/json:
          type: CancelOperationRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - operations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
  '/{name}':
    displayName: '{name}'
    uriParameters:
      name:
        description: The name of the operation resource to be deleted.
        required: true
        type: string
    get:
      displayName: dataproc.operations.list
      description: 'Lists operations that match the specified filter in the request. If the server doesn''t support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.'
      responses:
        '200':
          body:
            application/json:
              type: ListOperationsResponse
          description: Successful response
      queryParameters:
        filter:
          description: '[Required] A JSON object that contains filters for the list operation, in the format {"key1":"value1","key2":"value2", ..., }. Possible keys include project_id, cluster_name, and operation_state_matcher. If project_id is set, requests the list of operations that belong to the specified Google Cloud Platform project ID. This key is required. If cluster_name is set, requests the list of operations that were submitted to the specified cluster name. This key is optional. If operation_state_matcher is set, requests the list of operations that match one of the following status options: ALL, ACTIVE, or NON_ACTIVE.'
          type: string
        pageSize:
          description: The standard List page size.
          type: integer
        pageToken:
          description: The standard List page token.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - operations
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
    delete:
      displayName: dataproc.operations.delete
      description: Deletes a long-running operation. It indicates the client is no longer interested in the operation result. It does not cancel the operation.
      responses:
        '200':
          body:
            application/json:
              type: Empty
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/cloud-platform'
      (oas-tags):
        - operations
types:
  CancelJobRequest:
    description: A request to cancel a job.
    type: object
  CancelOperationRequest:
    description: The request message for Operations.CancelOperation.
    type: object
  Cluster:
    description: 'Describes the identifying information, configuration, and status of a cluster of Google Compute Engine instances.'
    properties:
      clusterName:
        description: '[Required] The cluster name. Cluster names within a project must be unique. Names from deleted clusters can be reused.'
        type: string
        required: false
      clusterUuid:
        description: '[Output-only] A cluster UUID (Unique Universal Identifier). Cloud Dataproc generates this value when it creates the cluster.'
        type: string
        required: false
      configuration:
        description: '[Required] The cluster configuration. It may differ from a user''s initial configuration due to Cloud Dataproc setting of default values and updating clusters.'
        type: ClusterConfiguration
        required: false
      createTime:
        description: '[Output-only] The timestamp of cluster creation.'
        type: string
        required: false
      labels:
        description: '[Optional] The labels to associate with this cluster. Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \p{Ll}\p{Lo}{0,62} Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: [\p{Ll}\p{Lo}\p{N}_-]{0,63} No more than 64 labels can be associated with a given cluster.'
        type: object
        required: false
        properties:
          //:
            type: string
      metrics:
        description: Contains cluster daemon metrics such as HDFS and YARN stats.
        type: ClusterMetrics
        required: false
      projectId:
        description: '[Required] The Google Cloud Platform project ID that the cluster belongs to.'
        type: string
        required: false
      status:
        description: '[Output-only] Cluster status.'
        type: ClusterStatus
        required: false
      statusHistory:
        description: '[Output-only] Previous cluster statuses.'
        items:
          type: ClusterStatus
        type: array
        required: false
  ClusterConfiguration:
    description: The cluster configuration.
    properties:
      configurationBucket:
        description: '[Optional] A Google Cloud Storage staging bucket used for sharing generated SSH keys and configuration. If you do not specify a staging bucket, Cloud Dataproc will determine an appropriate Cloud Storage location (US, ASIA, or EU) for your cluster''s staging bucket according to the Google Compute Engine zone where your cluster is deployed, then it will create and manage this project-level, per-location bucket for you.'
        type: string
        required: false
      gceClusterConfiguration:
        description: '[Optional] The shared Google Compute Engine configuration settings for all instances in a cluster.'
        type: GceClusterConfiguration
        required: false
      gceConfiguration:
        description: '[Deprecated] The Google Compute Engine configuration settings for cluster resources.'
        type: GceConfiguration
        required: false
      initializationActions:
        description: '[Optional] Commands to execute on each node after configuration is completed. By default, executables are run on master and all worker nodes. You can test a node''s role metadata to run an executable on a master or worker node, as shown below: ROLE=$(/usr/share/google/get_metadata_value attributes/role) if [[ "${ROLE}" == ''Master'' ]]; then ... master specific actions ... else ... worker specific actions ... fi'
        items:
          type: NodeInitializationAction
        type: array
        required: false
      masterConfiguration:
        description: '[Optional] The Google Compute Engine configuration settings for the master instance in a cluster.'
        type: InstanceGroupConfiguration
        required: false
      masterDiskConfiguration:
        description: '[Deprecated] The configuration settings of master node disk options.'
        type: DiskConfiguration
        required: false
      masterName:
        description: '[Deprecated] The Master''s hostname. Dataproc derives the name from cluster_name if not set by user (recommended practice is to let Dataproc derive the name). Derived master name example: hadoop-m.'
        type: string
        required: false
      numWorkers:
        description: '[Deprecated] The number of worker nodes in the cluster.'
        format: int32
        type: integer
        required: false
      secondaryWorkerConfiguration:
        description: '[Optional] The Google Compute Engine configuration settings for additional worker instances in a cluster.'
        type: InstanceGroupConfiguration
        required: false
      softwareConfiguration:
        description: '[Optional] The configuration settings for software inside the cluster.'
        type: SoftwareConfiguration
        required: false
      workerConfiguration:
        description: '[Optional] The Google Compute Engine configuration settings for worker instances in a cluster.'
        type: InstanceGroupConfiguration
        required: false
      workerDiskConfiguration:
        description: '[Deprecated] The configuration settings of worker node disk options.'
        type: DiskConfiguration
        required: false
      workers:
        description: '[Deprecated] The list of worker node names. Dataproc derives the names from cluster_name and num_workers if not set by user (recommended practice is to let Dataproc derive the name). Derived worker node name example: hadoop-w-0.'
        items:
          type: string
        type: array
        required: false
  ClusterMetrics:
    description: 'Contains cluster daemon metrics, such as HDFS and YARN stats.'
    properties:
      hdfsMetrics:
        description: The HDFS metrics.
        type: object
        required: false
        properties:
          //:
            format: int64
            type: string
            facets:
              format: string
      yarnMetrics:
        description: The YARN metrics.
        type: object
        required: false
        properties:
          //:
            format: int64
            type: string
            facets:
              format: string
  ClusterOperationMetadata:
    description: Metadata describing the operation.
    properties:
      clusterName:
        description: '[Output-only] Name of the cluster for the operation.'
        type: string
        required: false
      clusterUuid:
        description: '[Output-only] Cluster UUID for the operation.'
        type: string
        required: false
      description:
        description: '[Output-only] Short description of operation.'
        type: string
        required: false
      labels:
        description: '[Output-only] labels associated with the operation'
        type: object
        required: false
        properties:
          //:
            type: string
      operationType:
        description: '[Output-only] The operation type.'
        type: string
        required: false
      status:
        description: '[Output-only] Current operation status.'
        type: ClusterOperationStatus
        required: false
      statusHistory:
        description: '[Output-only] The previous operation status.'
        items:
          type: ClusterOperationStatus
        type: array
        required: false
  ClusterOperationStatus:
    description: The status of the operation.
    properties:
      details:
        description: '[Output-only]A message containing any operation metadata details.'
        type: string
        required: false
      innerState:
        description: '[Output-only] A message containing the detailed operation state.'
        type: string
        required: false
      state:
        description: '[Output-only] A message containing the operation state.'
        enum:
          - UNKNOWN
          - PENDING
          - RUNNING
          - DONE
        type: string
        required: false
      stateStartTime:
        description: '[Output-only] The time this state was entered.'
        type: string
        required: false
  ClusterStatus:
    description: The status of a cluster and its instances.
    properties:
      detail:
        description: Optional details of cluster's state.
        type: string
        required: false
      state:
        description: The cluster's state.
        enum:
          - UNKNOWN
          - CREATING
          - RUNNING
          - ERROR
          - DELETING
          - UPDATING
        type: string
        required: false
      stateStartTime:
        description: Time when this state was entered.
        type: string
        required: false
  DiagnoseClusterOutputLocation:
    description: The location where output from diagnostic command can be found.
    properties:
      outputUri:
        description: '[Output-only] The Google Cloud Storage URI of the diagnostic output. This will be a plain text file with summary of collected diagnostics.'
        type: string
        required: false
  DiagnoseClusterResults:
    description: The location of diagnostic output.
    properties:
      outputUri:
        description: '[Output-only] The Google Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.'
        type: string
        required: false
  DiskConfiguration:
    description: Specifies the configuration of disk options for a group of VM instances.
    properties:
      bootDiskSizeGb:
        description: '[Optional] Size in GB of the boot disk (default is 500GB).'
        format: int32
        type: integer
        required: false
      numLocalSsds:
        description: '[Optional] Number of attached SSDs, from 0 to 4 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs, and HDFS data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic configuration and installed binaries.'
        format: int32
        type: integer
        required: false
  Empty:
    description: 'A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.'
    type: object
  GceClusterConfiguration:
    description: 'Common configuration settings for resources of Google Compute Engine cluster instances, applicable to all instances in the cluster.'
    properties:
      internalIpOnly:
        description: 'If true, all instances in the cluser will only have internal IP addresses. By default, clusters are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each instance. This restriction can only be enabled for subnetwork enabled networks, and all off-cluster dependencies must be configured to be accessible without external IP addresses.'
        type: boolean
        required: false
      metadata:
        description: The Google Compute Engine metadata entries to add to all instances.
        type: object
        required: false
        properties:
          //:
            type: string
      networkUri:
        description: 'The Google Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the "default" network of the project is used, if it exists. Cannot be a "Custom Subnet Network" (see https://cloud.google.com/compute/docs/subnetworks for more information). Example: `compute.googleapis.com/projects/[project_id]/regions/global/default`.'
        type: string
        required: false
      serviceAccountScopes:
        description: The service account scopes included in Google Compute Engine instances. Must include devstorage.full_control to enable the Google Cloud Storage connector. Example "auth.googleapis.com/compute" and "auth.googleapis.com/devstorage.full_control".
        items:
          type: string
        type: array
        required: false
      subnetworkUri:
        description: 'The Google Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri. Example: `compute.googleapis.com/projects/[project_id]/regions/us-east1/sub0`.'
        type: string
        required: false
      tags:
        description: The Google Compute Engine tags to add to all instances.
        items:
          type: string
        type: array
        required: false
      zoneUri:
        description: '[Required] The zone where the Google Compute Engine cluster will be located. Example: "compute.googleapis.com/projects/[project_id] /zones/us-east1-a".'
        type: string
        required: false
  GceConfiguration:
    description: '[Deprecated] Common configuration settings for resources of Google Compute Engine cluster instances, applicable to all instances in the cluster.'
    properties:
      imageUri:
        description: '[Deprecated] The Google Compute Engine image resource used for cluster instances. Example: "compute.googleapis.com/projects/debian-cloud /global/images/backports-debian-7-wheezy-v20140904".'
        type: string
        required: false
      machineTypeUri:
        description: '[Deprecated] The Google Compute Engine machine type used for cluster instances. Example: "compute.googleapis.com/projects/[project_id] /zones/us-east1-a/machineTypes/n1-standard-2".'
        type: string
        required: false
      networkUri:
        description: '[Deprecated] The Google Compute Engine network to be used for machine communications. Inbound SSH connections are necessary to complete cluster configuration. Example "compute.googleapis.com/projects/[project_id] /zones/us-east1-a/default".'
        type: string
        required: false
      serviceAccountScopes:
        description: '[Deprecated] The service account scopes included in Google Compute Engine instances. Must include devstorage.full_control to enable the Google Cloud Storage connector. Example "auth.googleapis.com/compute" and "auth.googleapis.com/devstorage.full_control".'
        items:
          type: string
        type: array
        required: false
      zoneUri:
        description: '[Deprecated] The zone where the Google Compute Engine cluster will be located. Example: "compute.googleapis.com/projects/[project_id] /zones/us-east1-a".'
        type: string
        required: false
  HadoopJob:
    description: A Cloud Dataproc job for running Hadoop MapReduce jobs on YARN.
    properties:
      archiveUris:
        description: '[Optional] HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.'
        items:
          type: string
        type: array
        required: false
      args:
        description: '[Optional] The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission.'
        items:
          type: string
        type: array
        required: false
      fileUris:
        description: '[Optional] HCFS URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.'
        items:
          type: string
        type: array
        required: false
      jarFileUris:
        description: '[Optional] Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.'
        items:
          type: string
        type: array
        required: false
      loggingConfiguration:
        description: '[Optional] The runtime log configuration for job execution.'
        type: LoggingConfiguration
        required: false
      mainClass:
        description: The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris.
        type: string
        required: false
      mainJarFileUri:
        description: 'The Hadoop Compatible Filesystem (HCFS) URI of the jar file containing the main class. Examples: gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar hdfs:/tmp/test-samples/custom-wordcount.jar file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'
        type: string
        required: false
      properties:
        description: '[Optional] A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.'
        type: object
        required: false
        properties:
          //:
            type: string
  HiveJob:
    description: A Cloud Dataproc job for running Hive queries on YARN.
    properties:
      continueOnFailure:
        description: '[Optional] Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.'
        type: boolean
        required: false
      jarFileUris:
        description: '[Optional] HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.'
        items:
          type: string
        type: array
        required: false
      properties:
        description: '[Optional] A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.'
        type: object
        required: false
        properties:
          //:
            type: string
      queryFileUri:
        description: The HCFS URI of the script that contains Hive queries.
        type: string
        required: false
      queryList:
        description: A list of queries.
        type: QueryList
        required: false
      scriptVariables:
        description: '[Optional] Mapping of query variable names to values (equivalent to the Hive command: ''SET name="value";'').'
        type: object
        required: false
        properties:
          //:
            type: string
  InstanceGroupConfiguration:
    description: 'The configuration settings for Google Compute Engine resources in an instance group, such as a master or worker group.'
    properties:
      diskConfiguration:
        description: Disk option configuration settings.
        type: DiskConfiguration
        required: false
      imageUri:
        description: '[Output-only] The Google Compute Engine image resource used for cluster instances. Inferred from SoftwareConfiguration.image_version. Example: "compute.googleapis.com/projects/debian-cloud /global/images/backports-debian-7-wheezy-v20140904".'
        type: string
        required: false
      instanceNames:
        description: 'The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group if not set by user (recommended practice is to let Dataproc derive the name).'
        items:
          type: string
        type: array
        required: false
      isPreemptible:
        description: Specifies that this instance group contains Preemptible Instances.
        type: boolean
        required: false
      machineTypeUri:
        description: 'The Google Compute Engine machine type used for cluster instances. Example: "compute.googleapis.com/projects/[project_id] /zones/us-east1-a/machineTypes/n1-standard-2".'
        type: string
        required: false
      managedGroupConfiguration:
        description: '[Output-only] The configuration for Google Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.'
        type: ManagedGroupConfiguration
        required: false
      numInstances:
        description: 'The number of VM instances in the instance group. For master instance groups, must be set to 1.'
        format: int32
        type: integer
        required: false
  Job:
    description: A Cloud Dataproc job resource.
    properties:
      driverControlFilesUri:
        description: '[Output-only] If present, the location of miscellaneous control files which may be used as part of job setup and handling. If not present, control files may be placed in the same location as driver_output_uri.'
        type: string
        required: false
      driverInputResourceUri:
        description: '[Output-only] A URI pointing to the location of the stdin of the job''s driver program, only set if the job is interactive.'
        type: string
        required: false
      driverOutputResourceUri:
        description: '[Output-only] A URI pointing to the location of the stdout of the job''s driver program.'
        type: string
        required: false
      driverOutputUri:
        description: '[Output-only] A URI pointing to the location of the mixed stdout/stderr of the job''s driver program—for example, gs://sysbucket123/foo-cluster/jobid-123/driver/output.'
        type: string
        required: false
      hadoopJob:
        description: Job is a Hadoop job.
        type: HadoopJob
        required: false
      hiveJob:
        description: Job is a Hive job.
        type: HiveJob
        required: false
      interactive:
        description: '[Optional] If set to true, then the driver''s stdin will be kept open and driver_input_uri will be set to provide a path at which additional input can be sent to the driver.'
        type: boolean
        required: false
      labels:
        description: '[Optional] The labels to associate with this job. Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \p{Ll}\p{Lo}{0,62} Label values must be between 1 and 63 characters long, and must conform to the following regular expression: [\p{Ll}\p{Lo}\p{N}_-]{0,63} No more than 64 labels can be associated with a given job.'
        type: object
        required: false
        properties:
          //:
            type: string
      pigJob:
        description: Job is a Pig job.
        type: PigJob
        required: false
      placement:
        description: '[Required] Job information, including how, when, and where to run the job.'
        type: JobPlacement
        required: false
      pysparkJob:
        description: Job is a Pyspark job.
        type: PySparkJob
        required: false
      reference:
        description: '[Optional] The fully-qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id.'
        type: JobReference
        required: false
      sparkJob:
        description: Job is a Spark job.
        type: SparkJob
        required: false
      sparkSqlJob:
        description: Job is a SparkSql job.
        type: SparkSqlJob
        required: false
      status:
        description: '[Output-only] The job status. Additional application-specific status information may be contained in the type_job and yarn_applications fields.'
        type: JobStatus
        required: false
      statusHistory:
        description: '[Output-only] The previous job status.'
        items:
          type: JobStatus
        type: array
        required: false
      submittedBy:
        description: '[Output-only] The email address of the user submitting the job. For jobs submitted on the cluster, the address is username@hostname.'
        type: string
        required: false
      yarnApplications:
        description: '[Output-only] The collection of Yarn applications spun up by this job.'
        items:
          type: YarnApplication
        type: array
        required: false
  JobPlacement:
    description: Cloud Dataproc job configuration.
    properties:
      clusterName:
        description: '[Required] The name of the cluster where the job will be submitted.'
        type: string
        required: false
      clusterUuid:
        description: '[Output-only] A cluster UUID generated by the Dataproc service when the job is submitted.'
        type: string
        required: false
  JobReference:
    description: Encapsulates the full scoping used to reference a job.
    properties:
      jobId:
        description: '[Required] The job ID, which must be unique within the project. The job ID is generated by the server upon job submission or provided by the user as a means to perform retries without creating duplicate jobs. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 512 characters.'
        type: string
        required: false
      projectId:
        description: '[Required] The ID of the Google Cloud Platform project that the job belongs to.'
        type: string
        required: false
  JobStatus:
    description: Cloud Dataproc job status.
    properties:
      details:
        description: '[Optional] Job state details, such as an error description if the state is ERROR.'
        type: string
        required: false
      endTime:
        description: The time when the job completed.
        type: string
        required: false
      insertTime:
        description: The time of the job request.
        type: string
        required: false
      startTime:
        description: The time when the server started the job.
        type: string
        required: false
      state:
        description: '[Required] A state message specifying the overall job state.'
        enum:
          - STATE_UNSPECIFIED
          - PENDING
          - SETUP_DONE
          - RUNNING
          - CANCEL_PENDING
          - CANCEL_STARTED
          - CANCELLED
          - DONE
          - ERROR
        type: string
        required: false
      stateStartTime:
        description: '[Output-only] The time when this state was entered.'
        type: string
        required: false
  ListClustersResponse:
    description: The list of all clusters in a project.
    properties:
      clusters:
        description: '[Output-only] The clusters in the project.'
        items:
          type: Cluster
        type: array
        required: false
      nextPageToken:
        description: The standard List next-page token.
        type: string
        required: false
  ListJobsRequest:
    description: A request to list jobs in a project.
    properties:
      clusterName:
        description: '[Optional] If set, the returned jobs list includes only jobs that were submitted to the named cluster.'
        type: string
        required: false
      filter:
        description: '[Optional] A filter constraining which jobs to list. Valid filters contain job state and label terms such as: labels.key1 = val1 AND (labels.k2 = val2 OR labels.k3 = val3)'
        type: string
        required: false
      jobStateMatcher:
        description: '[Optional] Specifies enumerated categories of jobs to list.'
        enum:
          - ALL
          - ACTIVE
          - NON_ACTIVE
        type: string
        required: false
      pageSize:
        description: '[Optional] The number of results to return in each response.'
        format: int32
        type: integer
        required: false
      pageToken:
        description: '[Optional] The page token, returned by a previous call, to request the next page of results.'
        type: string
        required: false
  ListJobsResponse:
    description: A response to a request to list jobs in a project.
    properties:
      jobs:
        description: '[Output-only] Jobs list.'
        items:
          type: Job
        type: array
        required: false
      nextPageToken:
        description: '[Optional] This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest.'
        type: string
        required: false
  ListOperationsResponse:
    description: The response message for Operations.ListOperations.
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
        required: false
      operations:
        description: A list of operations that match the specified filter in the request.
        items:
          type: Operation
        type: array
        required: false
  LoggingConfiguration:
    description: The runtime logging configuration of the job.
    properties:
      driverLogLevels:
        description: 'The per-package log levels for the driver. This may include ''root'' package name to configure rootLogger. Examples: com.google = FATAL, root = INFO, org.apache = DEBUG'
        type: object
        required: false
        properties:
          //:
            enum:
              - LEVEL_UNSPECIFIED
              - ALL
              - TRACE
              - DEBUG
              - INFO
              - WARN
              - ERROR
              - FATAL
              - 'OFF'
            type: string
  ManagedGroupConfiguration:
    description: Specifies the resources used to actively manage an instance group.
    properties:
      instanceGroupManagerName:
        description: '[Output-only] The name of Instance Group Manager managing this group.'
        type: string
        required: false
      instanceTemplateName:
        description: '[Output-only] The name of Instance Template used for Managed Instance Group.'
        type: string
        required: false
  NodeInitializationAction:
    description: Specifies an executable to run on a fully configured node and a timeout period for executable completion.
    properties:
      executableFile:
        description: '[Required] Google Cloud Storage URI of executable file.'
        type: string
        required: false
      executionTimeout:
        description: '[Optional] Amount of time executable has to complete. Default is 10 minutes. Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.'
        type: string
        required: false
  Operation:
    description: 'An asynchronous operation in a project that runs over a given cluster. Used to track the progress of a user request that is running asynchronously. Examples include creating a cluster, updating a cluster, and deleting a cluster.'
    properties:
      done:
        description: 'Indicates if the operation is done. If true, the operation is complete and the `result` is available. If false, the operation is still in progress.'
        type: boolean
        required: false
      error:
        description: The error result of the operation in case of failure.
        type: Status
        required: false
      metadata:
        description: Service-specific metadata associated with the operation.
        type: object
        required: false
        properties:
          //:
            description: Properties of the object. Contains field @type with type URL.
      name:
        description: 'The name of the operation resource, in the format projects/[project_id]/operations/[operation_id]'
        type: string
        required: false
      response:
        description: 'The operation response. If the called method returns no data on success, the response is `google.protobuf.Empty`. If the called method is `Get`,`Create` or `Update`, the response is the resource. For all other methods, the response type is a concatenation of the method name and "Response". For example, if the called method is `TakeSnapshot()`, the response type is `TakeSnapshotResponse`.'
        type: object
        required: false
        properties:
          //:
            description: Properties of the object. Contains field @type with type URL.
  OperationMetadata:
    description: Metadata describing the operation.
    properties:
      clusterName:
        description: Name of the cluster for the operation.
        type: string
        required: false
      clusterUuid:
        description: Cluster UUId for the operation.
        type: string
        required: false
      description:
        description: '[Output-only] Short description of operation.'
        type: string
        required: false
      details:
        description: A message containing any operation metadata details.
        type: string
        required: false
      endTime:
        description: The time that the operation completed.
        type: string
        required: false
      innerState:
        description: A message containing the detailed operation state.
        type: string
        required: false
      insertTime:
        description: The time that the operation was requested.
        type: string
        required: false
      operationType:
        description: '[Output-only] The operation type.'
        type: string
        required: false
      startTime:
        description: The time that the operation was started by the server.
        type: string
        required: false
      state:
        description: A message containing the operation state.
        enum:
          - UNKNOWN
          - PENDING
          - RUNNING
          - DONE
        type: string
        required: false
      status:
        description: '[Output-only] Current operation status.'
        type: OperationStatus
        required: false
      statusHistory:
        description: '[Output-only] Previous operation status.'
        items:
          type: OperationStatus
        type: array
        required: false
  OperationStatus:
    description: The status of the operation.
    properties:
      details:
        description: A message containing any operation metadata details.
        type: string
        required: false
      innerState:
        description: A message containing the detailed operation state.
        type: string
        required: false
      state:
        description: A message containing the operation state.
        enum:
          - UNKNOWN
          - PENDING
          - RUNNING
          - DONE
        type: string
        required: false
      stateStartTime:
        description: The time this state was entered.
        type: string
        required: false
  PigJob:
    description: A Cloud Dataproc job for running Pig queries on YARN.
    properties:
      continueOnFailure:
        description: '[Optional] Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.'
        type: boolean
        required: false
      jarFileUris:
        description: '[Optional] HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.'
        items:
          type: string
        type: array
        required: false
      loggingConfiguration:
        description: '[Optional] The runtime log configuration for job execution.'
        type: LoggingConfiguration
        required: false
      properties:
        description: '[Optional] A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.'
        type: object
        required: false
        properties:
          //:
            type: string
      queryFileUri:
        description: The HCFS URI of the script that contains the Pig queries.
        type: string
        required: false
      queryList:
        description: A list of queries.
        type: QueryList
        required: false
      scriptVariables:
        description: '[Optional] Mapping of query variable names to values (equivalent to the Pig command: "name=[value]").'
        type: object
        required: false
        properties:
          //:
            type: string
  PySparkJob:
    description: A Cloud Dataproc job for running PySpark applications on YARN.
    properties:
      archiveUris:
        description: '[Optional] HCFS URIs of archives to be extracted in the working directory of .jar, .tar, .tar.gz, .tgz, and .zip.'
        items:
          type: string
        type: array
        required: false
      args:
        description: '[Optional] The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.'
        items:
          type: string
        type: array
        required: false
      fileUris:
        description: '[Optional] HCFS URIs of files to be copied to the working directory of Python drivers and distributed tasks. Useful for naively parallel tasks.'
        items:
          type: string
        type: array
        required: false
      jarFileUris:
        description: '[Optional] HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.'
        items:
          type: string
        type: array
        required: false
      loggingConfiguration:
        description: '[Optional] The runtime log configuration for job execution.'
        type: LoggingConfiguration
        required: false
      mainPythonFileUri:
        description: '[Required] The Hadoop Compatible Filesystem (HCFS) URI of the main Python file to use as the driver. Must be a .py file.'
        type: string
        required: false
      properties:
        description: '[Optional] A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.'
        type: object
        required: false
        properties:
          //:
            type: string
      pythonFileUris:
        description: '[Optional] HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.'
        items:
          type: string
        type: array
        required: false
  QueryList:
    description: A list of queries to run on a cluster.
    properties:
      queries:
        description: '[Required] The queries to execute. You do not need to terminate a query with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of an Cloud Dataproc API snippet that uses a QueryList to specify a HiveJob: "hiveJob": { "queryList": { "queries": [ "query1", "query2", "query3;query4", ] } }'
        items:
          type: string
        type: array
        required: false
  SoftwareConfiguration:
    description: Specifies the selection and configuration of software inside the cluster.
    properties:
      imageVersion:
        description: '[Optional] The version of software inside the cluster. It must match the regular expression [0-9]+\.[0-9]+. If unspecified it will default to latest version.'
        type: string
        required: false
      properties:
        description: '[Optional] The properties to set on daemon configuration files. Property keys are specified in "prefix:property" format, such as "core:fs.defaultFS". The following are supported prefixes and their mappings: core - core-site.xml hdfs - hdfs-site.xml mapred - mapred-site.xml yarn - yarn-site.xml hive - hive-site.xml pig - pig.properties spark - spark-defaults.conf'
        type: object
        required: false
        properties:
          //:
            type: string
  SparkJob:
    description: A Cloud Dataproc job for running Spark applications on YARN.
    properties:
      archiveUris:
        description: '[Optional] HCFS URIs of archives to be extracted in the working directory of Spark drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.'
        items:
          type: string
        type: array
        required: false
      args:
        description: '[Optional] The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.'
        items:
          type: string
        type: array
        required: false
      fileUris:
        description: '[Optional] HCFS URIs of files to be copied to the working directory of Spark drivers and distributed tasks. Useful for naively parallel tasks.'
        items:
          type: string
        type: array
        required: false
      jarFileUris:
        description: '[Optional] HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.'
        items:
          type: string
        type: array
        required: false
      loggingConfiguration:
        description: '[Optional] The runtime log configuration for job execution.'
        type: LoggingConfiguration
        required: false
      mainClass:
        description: The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris.
        type: string
        required: false
      mainJarFileUri:
        description: The Hadoop Compatible Filesystem (HCFS) URI of the jar file that contains the main class.
        type: string
        required: false
      properties:
        description: '[Optional] A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.'
        type: object
        required: false
        properties:
          //:
            type: string
  SparkSqlJob:
    description: A Cloud Dataproc job for running Spark SQL queries.
    properties:
      jarFileUris:
        description: '[Optional] HCFS URIs of jar files to be added to the Spark CLASSPATH.'
        items:
          type: string
        type: array
        required: false
      loggingConfiguration:
        description: '[Optional] The runtime log configuration for job execution.'
        type: LoggingConfiguration
        required: false
      properties:
        description: '[Optional] A mapping of property names to values, used to configure Spark SQL''s SparkConf. Properties that conflict with values set by the Cloud Dataproc API may be overwritten.'
        type: object
        required: false
        properties:
          //:
            type: string
      queryFileUri:
        description: The HCFS URI of the script that contains SQL queries.
        type: string
        required: false
      queryList:
        description: A list of queries.
        type: QueryList
        required: false
      scriptVariables:
        description: '[Optional] Mapping of query variable names to values (equivalent to the Spark SQL command: SET name="value";).'
        type: object
        required: false
        properties:
          //:
            type: string
  Status:
    description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.'
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
        required: false
      details:
        description: A list of messages that carry the error details. There will be a common set of message types for APIs to use.
        items:
          type: object
          properties:
            //:
              description: Properties of the object. Contains field @type with type URL.
        type: array
        required: false
      message:
        description: 'A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.'
        type: string
        required: false
  SubmitJobRequest:
    description: A job submission request.
    properties:
      job:
        description: '[Required] The job resource.'
        type: Job
        required: false
  YarnApplication:
    description: A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.
    properties:
      name:
        description: '[Required] The application name.'
        type: string
        required: false
      progress:
        description: '[Required] The numerical progress of the application, from 1 to 100.'
        format: float
        type: number
        required: false
      state:
        description: '[Required] The application state.'
        enum:
          - STATE_UNSPECIFIED
          - NEW
          - NEW_SAVING
          - SUBMITTED
          - ACCEPTED
          - RUNNING
          - FINISHED
          - FAILED
          - KILLED
        type: string
        required: false
      trackingUrl:
        description: '[Optional] The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.'
        type: string
        required: false
traits:
  xgafv:
    queryParameters:
      $.xgafv:
        type: string
        description: V1 error format.
  accessToken:
    queryParameters:
      access_token:
        type: string
        description: OAuth access token.
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for response.
        default: json
  bearerToken:
    queryParameters:
      bearer_token:
        type: string
        description: OAuth bearer token.
  callback:
    queryParameters:
      callback:
        type: string
        description: JSONP
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  pp:
    queryParameters:
      pp:
        type: boolean
        description: Pretty-print response.
        default: true
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
  uploadType:
    queryParameters:
      uploadType:
        type: string
        description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
  uploadProtocol:
    queryParameters:
      upload_protocol:
        type: string
        description: 'Upload protocol for media (e.g. "raw", "multipart").'
