#%RAML 1.0
title: Enterprise Apps Reseller
version: v1
baseUri: 'https://www.googleapis.com/apps/reseller/v1'
protocols:
  - HTTPS
description: Creates and manages your customers and their subscriptions.
(oas-tags-definition):
  - name: customers
  - name: subscriptions
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_admin_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/reseller/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): reseller
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/google-apps/reseller/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/apps.order'
        - 'https://www.googleapis.com/auth/apps.order.readonly'
    description: Oauth 2.0 authentication
/customers:
  displayName: customers
  '/{customerId}':
    displayName: '{customerId}'
    /subscriptions:
      displayName: subscriptions
      '/{subscriptionId}':
        displayName: '{subscriptionId}'
        /activate:
          displayName: activate
          post:
            displayName: reseller.subscriptions.activate
            description: Activates a subscription previously suspended by the reseller
            responses:
              '200':
                body:
                  application/json:
                    type: Subscription
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/apps.order'
            (oas-tags):
              - subscriptions
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /changePlan:
          displayName: changePlan
          post:
            displayName: reseller.subscriptions.changePlan
            description: Changes the plan of a subscription
            body:
              application/json:
                type: ChangePlanRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Subscription
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/apps.order'
            (oas-tags):
              - subscriptions
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /suspend:
          displayName: suspend
          post:
            displayName: reseller.subscriptions.suspend
            description: Suspends an active subscription
            responses:
              '200':
                body:
                  application/json:
                    type: Subscription
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/apps.order'
            (oas-tags):
              - subscriptions
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /startPaidService:
          displayName: startPaidService
          post:
            displayName: reseller.subscriptions.startPaidService
            description: Starts paid service of a trial subscription
            responses:
              '200':
                body:
                  application/json:
                    type: Subscription
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/apps.order'
            (oas-tags):
              - subscriptions
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /changeSeats:
          displayName: changeSeats
          post:
            displayName: reseller.subscriptions.changeSeats
            description: Changes the seats configuration of a subscription
            body:
              application/json:
                type: Seats
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Subscription
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/apps.order'
            (oas-tags):
              - subscriptions
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /changeRenewalSettings:
          displayName: changeRenewalSettings
          post:
            displayName: reseller.subscriptions.changeRenewalSettings
            description: Changes the renewal settings of a subscription
            body:
              application/json:
                type: RenewalSettings
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Subscription
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/apps.order'
            (oas-tags):
              - subscriptions
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        uriParameters:
          subscriptionId:
            description: 'Id of the subscription, which is unique for a customer'
            required: true
            type: string
        get:
          displayName: reseller.subscriptions.get
          description: Gets a subscription of the customer.
          responses:
            '200':
              body:
                application/json:
                  type: Subscription
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/apps.order.readonly'
          (oas-tags):
            - subscriptions
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        delete:
          displayName: reseller.subscriptions.delete
          description: Cancels/Downgrades a subscription.
          responses:
            '200':
              description: Successful response
          queryParameters:
            deletionType:
              description: Whether the subscription is to be fully cancelled or downgraded
              enum:
                - cancel
                - downgrade
                - suspend
                - transfer_to_direct
              required: true
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/apps.order'
          (oas-tags):
            - subscriptions
      post:
        displayName: reseller.subscriptions.insert
        description: Creates/Transfers a subscription for the customer.
        body:
          application/json:
            type: Subscription
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Subscription
            description: Successful response
        queryParameters:
          customerAuthToken:
            description: 'An auth token needed for transferring a subscription. Can be generated at https://www.google.com/a/cpanel/customer-domain/TransferToken. Optional.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/apps.order'
        (oas-tags):
          - subscriptions
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    uriParameters:
      customerId:
        description: Id of the Customer
        required: true
        type: string
    patch:
      displayName: reseller.customers.patch
      description: Update a customer resource if one it exists and is owned by the reseller. This method supports patch semantics.
      body:
        application/json:
          type: Customer
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Customer
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/apps.order'
      (oas-tags):
        - customers
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    put:
      displayName: reseller.customers.update
      description: Update a customer resource if one it exists and is owned by the reseller.
      body:
        application/json:
          type: Customer
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Customer
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/apps.order'
      (oas-tags):
        - customers
    get:
      displayName: reseller.customers.get
      description: Gets a customer resource if one exists and is owned by the reseller.
      responses:
        '200':
          body:
            application/json:
              type: Customer
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/apps.order.readonly'
      (oas-tags):
        - customers
  post:
    displayName: reseller.customers.insert
    description: Creates a customer resource if one does not already exist.
    body:
      application/json:
        type: Customer
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Customer
        description: Successful response
    queryParameters:
      customerAuthToken:
        description: 'An auth token needed for inserting a customer for which domain already exists. Can be generated at https://admin.google.com/TransferToken. Optional.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/apps.order'
    (oas-tags):
      - customers
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/subscriptions:
  displayName: subscriptions
  get:
    displayName: reseller.subscriptions.list
    description: 'Lists subscriptions of a reseller, optionally filtered by a customer name prefix.'
    responses:
      '200':
        body:
          application/json:
            type: Subscriptions
        description: Successful response
    queryParameters:
      customerAuthToken:
        description: 'An auth token needed if the customer is not a resold customer of this reseller. Can be generated at https://www.google.com/a/cpanel/customer-domain/TransferToken.Optional.'
        type: string
      customerId:
        description: Id of the Customer
        type: string
      customerNamePrefix:
        description: Prefix of the customer's domain name by which the subscriptions should be filtered. Optional
        type: string
      maxResults:
        description: Maximum number of results to return
        maximum: 100
        minimum: 1
        type: integer
      pageToken:
        description: Token to specify next page in the list
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
    (oas-tags):
      - subscriptions
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Address:
    description: JSON template for address of a customer.
    properties:
      addressLine1:
        description: Address line 1 of the address.
        type: string
        required: false
      addressLine2:
        description: Address line 2 of the address.
        type: string
        required: false
      addressLine3:
        description: Address line 3 of the address.
        type: string
        required: false
      contactName:
        description: Name of the contact person.
        type: string
        required: false
      countryCode:
        description: ISO 3166 country code.
        type: string
        required: false
      kind:
        default: 'customers#address'
        description: Identifies the resource as a customer address.
        type: string
        required: false
      locality:
        description: 'Name of the locality. This is in accordance with - http://portablecontacts.net/draft-spec.html#address_element.'
        type: string
        required: false
      organizationName:
        description: Name of the organization.
        type: string
        required: false
      postalCode:
        description: 'The postal code. This is in accordance with - http://portablecontacts.net/draft-spec.html#address_element.'
        type: string
        required: false
      region:
        description: 'Name of the region. This is in accordance with - http://portablecontacts.net/draft-spec.html#address_element.'
        type: string
        required: false
  ChangePlanRequest:
    description: JSON template for the ChangePlan rpc request.
    properties:
      dealCode:
        description: 'External name of the deal code applicable for the subscription. This field is optional. If missing, the deal price plan won''t be used.'
        type: string
        required: false
      kind:
        default: 'subscriptions#changePlanRequest'
        description: Identifies the resource as a subscription change plan request.
        type: string
        required: false
      planName:
        description: Name of the plan to change to.
        type: string
        required: false
      purchaseOrderId:
        description: Purchase order id for your order tracking purposes.
        type: string
        required: false
      seats:
        description: Number/Limit of seats in the new plan.
        type: Seats
        required: false
  Customer:
    description: JSON template for a customer.
    properties:
      alternateEmail:
        description: The alternate email of the customer.
        type: string
        required: false
      customerDomain:
        description: The domain name of the customer.
        type: string
        required: false
      customerDomainVerified:
        description: Whether the customer's primary domain has been verified.
        type: boolean
        required: false
      customerId:
        description: The id of the customer.
        type: string
        required: false
      kind:
        default: 'reseller#customer'
        description: Identifies the resource as a customer.
        type: string
        required: false
      phoneNumber:
        description: The phone number of the customer.
        type: string
        required: false
      postalAddress:
        description: The postal address of the customer.
        type: Address
        required: false
      resourceUiUrl:
        description: Ui url for customer resource.
        type: string
        required: false
  RenewalSettings:
    description: JSON template for a subscription renewal settings.
    properties:
      kind:
        default: 'subscriptions#renewalSettings'
        description: Identifies the resource as a subscription renewal setting.
        type: string
        required: false
      renewalType:
        description: Subscription renewal type.
        type: string
        required: false
  Seats:
    description: JSON template for subscription seats.
    properties:
      kind:
        default: 'subscriptions#seats'
        description: Identifies the resource as a subscription change plan request.
        type: string
        required: false
      licensedNumberOfSeats:
        description: Read-only field containing the current number of licensed seats for FLEXIBLE Google-Apps subscriptions and secondary subscriptions such as Google-Vault and Drive-storage.
        format: int32
        type: integer
        required: false
      maximumNumberOfSeats:
        description: Maximum number of seats that can be purchased. This needs to be provided only for a non-commitment plan. For a commitment plan it is decided by the contract.
        format: int32
        type: integer
        required: false
      numberOfSeats:
        description: Number of seats to purchase. This is applicable only for a commitment plan.
        format: int32
        type: integer
        required: false
  Subscription:
    description: JSON template for a subscription.
    properties:
      billingMethod:
        description: Billing method of this subscription.
        type: string
        required: false
      creationTime:
        description: Creation time of this subscription in milliseconds since Unix epoch.
        format: int64
        type: string
        facets:
          format: string
        required: false
      customerDomain:
        description: Primary domain name of the customer
        type: string
        required: false
      customerId:
        description: The id of the customer to whom the subscription belongs.
        type: string
        required: false
      dealCode:
        description: 'External name of the deal, if this subscription was provisioned under one. Otherwise this field will be empty.'
        type: string
        required: false
      kind:
        default: 'reseller#subscription'
        description: Identifies the resource as a Subscription.
        type: string
        required: false
      plan:
        description: Plan details of the subscription
        properties:
          commitmentInterval:
            description: Interval of the commitment if it is a commitment plan.
            properties:
              endTime:
                description: End time of the commitment interval in milliseconds since Unix epoch.
                format: int64
                type: string
                facets:
                  format: string
                required: false
              startTime:
                description: Start time of the commitment interval in milliseconds since Unix epoch.
                format: int64
                type: string
                facets:
                  format: string
                required: false
            type: object
            required: false
          isCommitmentPlan:
            description: Whether the plan is a commitment plan or not.
            type: boolean
            required: false
          planName:
            description: The plan name of this subscription's plan.
            type: string
            required: false
        type: object
        required: false
      purchaseOrderId:
        description: Purchase order id for your order tracking purposes.
        type: string
        required: false
      renewalSettings:
        description: Renewal settings of the subscription.
        type: RenewalSettings
        required: false
      resourceUiUrl:
        description: Ui url for subscription resource.
        type: string
        required: false
      seats:
        description: Number/Limit of seats in the new plan.
        type: Seats
        required: false
      skuId:
        description: Name of the sku for which this subscription is purchased.
        type: string
        required: false
      status:
        description: Status of the subscription.
        type: string
        required: false
      subscriptionId:
        description: The id of the subscription.
        type: string
        required: false
      suspensionReasons:
        description: |-
          Read-only field containing an enumerable of all the current suspension reasons for a subscription. It is possible for a subscription to have many concurrent, overlapping suspension reasons. A subscription's STATUS is SUSPENDED until all pending suspensions are removed. Possible options include:  
          - PENDING_TOS_ACCEPTANCE - The customer has not logged in and accepted the Google Apps Resold Terms of Services.  
          - RENEWAL_WITH_TYPE_CANCEL - The customer's commitment ended and their service was cancelled at the end of their term.  
          - RESELLER_INITIATED - A manual suspension invoked by a Reseller.  
          - TRIAL_ENDED - The customer's trial expired without a plan selected.  
          - OTHER - The customer is suspended for an internal Google reason (e.g. abuse or otherwise).
        items:
          type: string
        type: array
        required: false
      transferInfo:
        description: Transfer related information for the subscription.
        properties:
          minimumTransferableSeats:
            format: int32
            type: integer
            required: false
          transferabilityExpirationTime:
            description: Time when transfer token or intent to transfer will expire.
            format: int64
            type: string
            facets:
              format: string
            required: false
        type: object
        required: false
      trialSettings:
        description: Trial Settings of the subscription.
        properties:
          isInTrial:
            description: Whether the subscription is in trial.
            type: boolean
            required: false
          trialEndTime:
            description: End time of the trial in milliseconds since Unix epoch.
            format: int64
            type: string
            facets:
              format: string
            required: false
        type: object
        required: false
  Subscriptions:
    description: JSON template for a subscription list.
    properties:
      kind:
        default: 'reseller#subscriptions'
        description: Identifies the resource as a collection of subscriptions.
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      subscriptions:
        description: The subscriptions in this page of results.
        items:
          type: Subscription
        type: array
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
