#%RAML 1.0
title: Google Analytics
version: v2.4
baseUri: 'https://www.googleapis.com/analytics/v2.4'
protocols:
  - HTTPS
description: Views and manages your Google Analytics data.
(oas-tags-definition):
  - name: data
  - name: management
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_analytics_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/analytics/v2.4/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): analytics
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/analytics/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/analytics'
        - 'https://www.googleapis.com/auth/analytics.readonly'
    description: Oauth 2.0 authentication
/management:
  displayName: management
  /segments:
    displayName: segments
    get:
      displayName: analytics.management.segments.list
      description: Lists advanced segments to which the user has access.
      responses:
        '200':
          description: Successful response
      queryParameters:
        max-results:
          description: The maximum number of advanced segments to include in this response.
          type: integer
        start-index:
          description: An index of the first advanced segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          minimum: 1
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - management
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /accounts:
    displayName: accounts
    '/{accountId}':
      displayName: '{accountId}'
      /webproperties:
        displayName: webproperties
        '/{webPropertyId}':
          displayName: '{webPropertyId}'
          /profiles:
            displayName: profiles
            '/{profileId}':
              displayName: '{profileId}'
              /goals:
                displayName: goals
                get:
                  displayName: analytics.management.goals.list
                  description: Lists goals to which the user has access.
                  responses:
                    '200':
                      description: Successful response
                  queryParameters:
                    max-results:
                      description: The maximum number of goals to include in this response.
                      type: integer
                    start-index:
                      description: An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                      minimum: 1
                      type: integer
                  securedBy:
                    - Oauth2:
                        scopes:
                          - 'https://www.googleapis.com/auth/analytics.readonly'
                  (oas-tags):
                    - management
                is:
                  - alt
                  - fields
                  - key
                  - oauthToken
                  - prettyPrint
                  - quotaUser
                  - userIp
            get:
              displayName: analytics.management.profiles.list
              description: Lists views (profiles) to which the user has access.
              responses:
                '200':
                  description: Successful response
              queryParameters:
                max-results:
                  description: The maximum number of views (profiles) to include in this response.
                  type: integer
                start-index:
                  description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
                  minimum: 1
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/analytics.readonly'
              (oas-tags):
                - management
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        get:
          displayName: analytics.management.webproperties.list
          description: Lists web properties to which the user has access.
          responses:
            '200':
              description: Successful response
          queryParameters:
            max-results:
              description: The maximum number of web properties to include in this response.
              type: integer
            start-index:
              description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
              minimum: 1
              type: integer
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/analytics.readonly'
          (oas-tags):
            - management
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    get:
      displayName: analytics.management.accounts.list
      description: Lists all accounts to which the user has access.
      responses:
        '200':
          description: Successful response
      queryParameters:
        max-results:
          description: The maximum number of accounts to include in this response.
          type: integer
        start-index:
          description: An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          minimum: 1
          type: integer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/analytics.readonly'
      (oas-tags):
        - management
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/data:
  displayName: data
  get:
    displayName: analytics.data.get
    description: Returns Analytics report data for a view (profile).
    responses:
      '200':
        description: Successful response
    queryParameters:
      ids:
        description: 'Unique table ID for retrieving report data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.'
        required: true
        type: string
      start-date:
        description: Start date for fetching report data. All requests should specify a start date formatted as YYYY-MM-DD.
        required: true
        type: string
      end-date:
        description: End date for fetching report data. All requests should specify an end date formatted as YYYY-MM-DD.
        required: true
        type: string
      metrics:
        description: 'A comma-separated list of Analytics metrics. E.g., ''ga:sessions,ga:pageviews''. At least one metric must be specified to retrieve a valid Analytics report.'
        required: true
        type: string
      dimensions:
        description: 'A comma-separated list of Analytics dimensions. E.g., ''ga:browser,ga:city''.'
        type: string
      filters:
        description: A comma-separated list of dimension or metric filters to be applied to the report data.
        type: string
      max-results:
        description: The maximum number of entries to include in this feed.
        type: integer
      segment:
        description: An Analytics advanced segment to be applied to the report data.
        type: string
      sort:
        description: A comma-separated list of dimensions or metrics that determine the sort order for the report data.
        type: string
      start-index:
        description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
        minimum: 1
        type: integer
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/analytics.readonly'
    (oas-tags):
      - data
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: atom
        enum:
          - atom
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: false
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
