#%RAML 1.0
title: Fitness
version: v1
baseUri: 'https://www.googleapis.com/fitness/v1/users'
protocols:
  - HTTPS
description: Stores and accesses user data in the fitness store from apps on any platform.
(oas-tags-definition):
  - name: users
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/fitness/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): fitness
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/fit/rest/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/fitness.activity.read'
        - 'https://www.googleapis.com/auth/fitness.activity.write'
        - 'https://www.googleapis.com/auth/fitness.body.read'
        - 'https://www.googleapis.com/auth/fitness.body.write'
        - 'https://www.googleapis.com/auth/fitness.location.read'
        - 'https://www.googleapis.com/auth/fitness.location.write'
        - 'https://www.googleapis.com/auth/fitness.nutrition.read'
        - 'https://www.googleapis.com/auth/fitness.nutrition.write'
    description: Oauth 2.0 authentication
'/{userId}':
  displayName: '{userId}'
  /dataSources:
    displayName: dataSources
    '/{dataSourceId}':
      displayName: '{dataSourceId}'
      /datasets:
        displayName: datasets
        '/{datasetId}':
          displayName: '{datasetId}'
          uriParameters:
            datasetId:
              description: 'Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: "startTime-endTime" where startTime and endTime are 64 bit integers.'
              required: true
              type: string
              displayName: 'Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: "startTime-endTime" where startTime and endTime are 64 bit integers.'
          delete:
            displayName: fitness.users.dataSources.datasets.delete
            description: 'Performs an inclusive delete of all data points whose start and end times have any overlap with the time range specified by the dataset ID. For most data types, the entire data point will be deleted. For data types where the time span represents a consistent value (such as com.google.activity.segment), and a data point straddles either end point of the dataset, only the overlapping portion of the data point will be deleted.'
            responses:
              '200':
                description: Successful response
            queryParameters:
              currentTimeMillis:
                description: The client's current time in milliseconds since epoch.
                type: string
                displayName: The client's current time in milliseconds since epoch.
              modifiedTimeMillis:
                description: When the operation was performed on the client.
                type: string
                displayName: When the operation was performed on the client.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/fitness.nutrition.write'
            (oas-tags):
              - users
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: fitness.users.dataSources.datasets.get
            description: 'Returns a dataset containing all data points whose start and end times overlap with the specified range of the dataset minimum start time and maximum end time. Specifically, any data point whose start time is less than or equal to the dataset end time and whose end time is greater than or equal to the dataset start time.'
            responses:
              '200':
                body:
                  application/json:
                    type: Dataset
                description: Successful response
            queryParameters:
              limit:
                description: 'If specified, no more than this many data points will be included in the dataset. If there are more data points in the dataset, nextPageToken will be set in the dataset response.'
                type: integer
                displayName: 'If specified, no more than this many data points will be included in the dataset. If there are more data points in the dataset, nextPageToken will be set in the dataset response.'
              pageToken:
                description: 'The continuation token, which is used to page through large datasets. To get the next page of a dataset, set this parameter to the value of nextPageToken from the previous response. Each subsequent call will yield a partial dataset with data point end timestamps that are strictly smaller than those in the previous partial response.'
                type: string
                displayName: 'The continuation token, which is used to page through large datasets. To get the next page of a dataset, set this parameter to the value of nextPageToken from the previous response. Each subsequent call will yield a partial dataset with data point end timestamps that are strictly smaller than those in the previous partial response.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/fitness.nutrition.write'
            (oas-tags):
              - users
          patch:
            displayName: fitness.users.dataSources.datasets.patch
            description: Adds data points to a dataset. The dataset need not be previously created. All points within the given dataset will be returned with subsquent calls to retrieve this dataset. Data points can belong to more than one dataset. This method does not use patch semantics.
            body:
              application/json:
                type: Dataset
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Dataset
                description: Successful response
            queryParameters:
              currentTimeMillis:
                description: The client's current time in milliseconds since epoch. Note that the minStartTimeNs and maxEndTimeNs properties in the request body are in nanoseconds instead of milliseconds.
                type: string
                displayName: The client's current time in milliseconds since epoch. Note that the minStartTimeNs and maxEndTimeNs properties in the request body are in nanoseconds instead of milliseconds.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/fitness.nutrition.write'
            (oas-tags):
              - users
      uriParameters:
        dataSourceId:
          description: The data stream ID of the data source to update.
          required: true
          type: string
          displayName: The data stream ID of the data source to update.
      delete:
        displayName: fitness.users.dataSources.delete
        description: Deletes the specified data source. The request will fail if the data source contains any data points.
        responses:
          '200':
            body:
              application/json:
                type: DataSource
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fitness.nutrition.write'
        (oas-tags):
          - users
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: fitness.users.dataSources.get
        description: Returns the specified data source.
        responses:
          '200':
            body:
              application/json:
                type: DataSource
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fitness.nutrition.write'
        (oas-tags):
          - users
      put:
        displayName: fitness.users.dataSources.update
        description: |-
          Updates the specified data source. The dataStreamId, dataType, type, dataStreamName, and device properties with the exception of version, cannot be modified.

          Data sources are identified by their dataStreamId.
        body:
          application/json:
            type: DataSource
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: DataSource
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fitness.nutrition.write'
        (oas-tags):
          - users
      patch:
        displayName: fitness.users.dataSources.patch
        description: |-
          Updates the specified data source. The dataStreamId, dataType, type, dataStreamName, and device properties with the exception of version, cannot be modified.

          Data sources are identified by their dataStreamId. This method supports patch semantics.
        body:
          application/json:
            type: DataSource
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: DataSource
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fitness.nutrition.write'
        (oas-tags):
          - users
    get:
      displayName: fitness.users.dataSources.list
      description: 'Lists all data sources that are visible to the developer, using the OAuth scopes provided. The list is not exhaustive; the user may have private data sources that are only visible to other developers, or calls using other scopes.'
      responses:
        '200':
          body:
            application/json:
              type: ListDataSourcesResponse
          description: Successful response
      queryParameters:
        dataTypeName:
          collectionFormat: multi
          description: 'The names of data types to include in the list. If not specified, all data sources will be returned.'
          items:
            type: string
          type: array
          displayName: 'The names of data types to include in the list. If not specified, all data sources will be returned.'
          facets:
            collectionFormat: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fitness.nutrition.write'
      (oas-tags):
        - users
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    post:
      displayName: fitness.users.dataSources.create
      description: 'Creates a new data source that is unique across all data sources belonging to this user. The data stream ID field can be omitted and will be generated by the server with the correct format. The data stream ID is an ordered combination of some fields from the data source. In addition to the data source fields reflected into the data source ID, the developer project number that is authenticated when creating the data source is included. This developer project number is obfuscated when read by any other developer reading public data types.'
      body:
        application/json:
          type: DataSource
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: DataSource
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fitness.nutrition.write'
      (oas-tags):
        - users
  /sessions:
    displayName: sessions
    '/{sessionId}':
      displayName: '{sessionId}'
      uriParameters:
        sessionId:
          description: The ID of the session to be deleted.
          required: true
          type: string
          displayName: The ID of the session to be deleted.
      put:
        displayName: fitness.users.sessions.update
        description: Updates or insert a given session.
        body:
          application/json:
            type: Session
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Session
            description: Successful response
        queryParameters:
          currentTimeMillis:
            description: The client's current time in milliseconds since epoch.
            type: string
            displayName: The client's current time in milliseconds since epoch.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fitness.activity.write'
        (oas-tags):
          - users
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      delete:
        displayName: fitness.users.sessions.delete
        description: Deletes a session specified by the given session ID.
        responses:
          '200':
            description: Successful response
        queryParameters:
          currentTimeMillis:
            description: The client's current time in milliseconds since epoch.
            type: string
            displayName: The client's current time in milliseconds since epoch.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fitness.activity.write'
        (oas-tags):
          - users
    get:
      displayName: fitness.users.sessions.list
      description: Lists sessions previously created.
      responses:
        '200':
          body:
            application/json:
              type: ListSessionsResponse
          description: Successful response
      queryParameters:
        endTime:
          description: An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.
          type: string
          displayName: An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.
        includeDeleted:
          description: 'If true, deleted sessions will be returned. When set to true, sessions returned in this response will only have an ID and will not have any other fields.'
          type: boolean
          displayName: 'If true, deleted sessions will be returned. When set to true, sessions returned in this response will only have an ID and will not have any other fields.'
        pageToken:
          description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.'
          type: string
          displayName: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.'
        startTime:
          description: An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.
          type: string
          displayName: An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fitness.nutrition.write'
      (oas-tags):
        - users
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  '/dataset:aggregate':
    displayName: 'dataset:aggregate'
    post:
      displayName: fitness.users.dataset.aggregate
      description: Aggregates data of a certain type or stream into buckets divided by a given type of boundary. Multiple data sets of multiple types and from multiple sources can be aggreated into exactly one bucket type per request.
      body:
        application/json:
          type: AggregateRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AggregateResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fitness.nutrition.write'
      (oas-tags):
        - users
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  AggregateBucket:
    properties:
      activity:
        description: 'Available for Bucket.Type.ACTIVITY_TYPE, Bucket.Type.ACTIVITY_SEGMENT'
        format: int32
        type: integer
        required: false
      dataset:
        description: There will be one dataset per AggregateBy in the request.
        items:
          type: Dataset
        type: array
        required: false
      endTimeMillis:
        description: 'The end time for the aggregated data, in milliseconds since epoch, inclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      session:
        description: Available for Bucket.Type.SESSION
        type: Session
        required: false
      startTimeMillis:
        description: 'The start time for the aggregated data, in milliseconds since epoch, inclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      type:
        description: The type of a bucket signifies how the data aggregation is performed in the bucket.
        enum:
          - activitySegment
          - activityType
          - session
          - time
          - unknown
        type: string
        required: false
  AggregateBy:
    description: The specification of which data to aggregate.
    properties:
      dataSourceId:
        description: A data source ID to aggregate. Mutually exclusive of dataTypeName. Only data from the specified data source ID will be included in the aggregation. The dataset in the response will have the same data source ID.
        type: string
        required: false
      dataTypeName:
        description: 'The data type to aggregate. All data sources providing this data type will contribute data to the aggregation. The response will contain a single dataset for this data type name. The dataset will have a data source ID of derived:com.google.:com.google.android.gms:aggregated'
        type: string
        required: false
  AggregateRequest:
    description: 'Next id: 10'
    properties:
      aggregateBy:
        description: The specification of data to be aggregated. At least one aggregateBy spec must be provided. All data that is specified will be aggregated using the same bucketing criteria. There will be one dataset in the response for every aggregateBy spec.
        items:
          type: AggregateBy
        type: array
        required: false
      bucketByActivitySegment:
        description: 'Specifies that data be aggregated each activity segment recored for a user. Similar to bucketByActivitySegment, but bucketing is done for each activity segment rather than all segments of the same type. Mutually exclusive of other bucketing specifications.'
        type: BucketByActivity
        required: false
      bucketByActivityType:
        description: Specifies that data be aggregated by the type of activity being performed when the data was recorded. All data that was recorded during a certain activity type (for the given time range) will be aggregated into the same bucket. Data that was recorded while the user was not active will not be included in the response. Mutually exclusive of other bucketing specifications.
        type: BucketByActivity
        required: false
      bucketBySession:
        description: Specifies that data be aggregated by user sessions. Data that does not fall within the time range of a session will not be included in the response. Mutually exclusive of other bucketing specifications.
        type: BucketBySession
        required: false
      bucketByTime:
        description: Specifies that data be aggregated by a single time interval. Mutually exclusive of other bucketing specifications.
        type: BucketByTime
        required: false
      endTimeMillis:
        description: 'The end of a window of time. Data that intersects with this time window will be aggregated. The time is in milliseconds since epoch, inclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      filteredDataQualityStandard:
        description: 'A list of acceptable data quality standards. Only data points which conform to at least one of the specified data quality standards will be returned. If the list is empty, all data points are returned.'
        items:
          enum:
            - dataQualityBloodGlucoseIso151972003
            - dataQualityBloodGlucoseIso151972013
            - dataQualityBloodPressureAami
            - dataQualityBloodPressureBhsAA
            - dataQualityBloodPressureBhsAB
            - dataQualityBloodPressureBhsBA
            - dataQualityBloodPressureBhsBB
            - dataQualityBloodPressureEsh2002
            - dataQualityBloodPressureEsh2010
            - dataQualityUnknown
          type: string
        type: array
        required: false
      startTimeMillis:
        description: 'The start of a window of time. Data that intersects with this time window will be aggregated. The time is in milliseconds since epoch, inclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  AggregateResponse:
    properties:
      bucket:
        description: A list of buckets containing the aggregated data.
        items:
          type: AggregateBucket
        type: array
        required: false
  Application:
    description: ''
    properties:
      detailsUrl:
        description: An optional URI that can be used to link back to the application.
        type: string
        required: false
      name:
        description: 'The name of this application. This is required for REST clients, but we do not enforce uniqueness of this name. It is provided as a matter of convenience for other developers who would like to identify which REST created an Application or Data Source.'
        type: string
        required: false
      packageName:
        description: 'Package name for this application. This is used as a unique identifier when created by Android applications, but cannot be specified by REST clients. REST clients will have their developer project number reflected into the Data Source data stream IDs, instead of the packageName.'
        type: string
        required: false
      version:
        description: Version of the application. You should update this field whenever the application changes in a way that affects the computation of the data.
        type: string
        required: false
  BucketByActivity:
    properties:
      activityDataSourceId:
        description: The default activity stream will be used if a specific activityDataSourceId is not specified.
        type: string
        required: false
      minDurationMillis:
        description: Specifies that only activity segments of duration longer than minDurationMillis are considered and used as a container for aggregated data.
        format: int64
        type: string
        facets:
          format: string
        required: false
  BucketBySession:
    properties:
      minDurationMillis:
        description: Specifies that only sessions of duration longer than minDurationMillis are considered and used as a container for aggregated data.
        format: int64
        type: string
        facets:
          format: string
        required: false
  BucketByTime:
    properties:
      durationMillis:
        description: Specifies that result buckets aggregate data by exactly durationMillis time frames. Time frames that contain no data will be included in the response with an empty dataset.
        format: int64
        type: string
        facets:
          format: string
        required: false
      period:
        type: BucketByTimePeriod
        required: false
  BucketByTimePeriod:
    properties:
      timeZoneId:
        description: org.joda.timezone.DateTimeZone
        type: string
        required: false
      type:
        enum:
          - day
          - month
          - week
        type: string
        required: false
      value:
        format: int32
        type: integer
        required: false
  DataPoint:
    description: |-
      Represents a single data point, generated by a particular data source. A data point holds a value for each field, an end timestamp and an optional start time. The exact semantics of each of these attributes are specified in the documentation for the particular data type.

      A data point can represent an instantaneous measurement, reading or input observation, as well as averages or aggregates over a time interval. Check the data type documentation to determine which is the case for a particular data type.

      Data points always contain one value for each field of the data type.
    properties:
      computationTimeMillis:
        description: 'Used for version checking during transformation; that is, a datapoint can only replace another datapoint that has an older computation time stamp.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      dataTypeName:
        description: The data type defining the format of the values in this data point.
        type: string
        required: false
      endTimeNanos:
        description: 'The end time of the interval represented by this data point, in nanoseconds since epoch.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      modifiedTimeMillis:
        description: 'Indicates the last time this data point was modified. Useful only in contexts where we are listing the data changes, rather than representing the current state of the data.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      originDataSourceId:
        description: 'If the data point is contained in a dataset for a derived data source, this field will be populated with the data source stream ID that created the data point originally.'
        type: string
        required: false
      rawTimestampNanos:
        description: The raw timestamp from the original SensorEvent.
        format: int64
        type: string
        facets:
          format: string
        required: false
      startTimeNanos:
        description: 'The start time of the interval represented by this data point, in nanoseconds since epoch.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      value:
        description: |-
          Values of each data type field for the data point. It is expected that each value corresponding to a data type field will occur in the same order that the field is listed with in the data type specified in a data source.

          Only one of integer and floating point fields will be populated, depending on the format enum value within data source's type field.
        items:
          type: Value
        type: array
        required: false
  DataSource:
    description: |-
      Definition of a unique source of sensor data. Data sources can expose raw data coming from hardware sensors on local or companion devices. They can also expose derived data, created by transforming or merging other data sources. Multiple data sources can exist for the same data type. Every data point inserted into or read from this service has an associated data source.

      The data source contains enough information to uniquely identify its data, including the hardware device and the application that collected and/or transformed the data. It also holds useful metadata, such as the hardware and application versions, and the device type.

      Each data source produces a unique stream of data, with a unique identifier. Not all changes to data source affect the stream identifier, so that data collected by updated versions of the same application/device can still be considered to belong to the same data stream.
    properties:
      application:
        description: Information about an application which feeds sensor data into the platform.
        type: Application
        required: false
      dataQualityStandard:
        description: ''
        items:
          enum:
            - dataQualityBloodGlucoseIso151972003
            - dataQualityBloodGlucoseIso151972013
            - dataQualityBloodPressureAami
            - dataQualityBloodPressureBhsAA
            - dataQualityBloodPressureBhsAB
            - dataQualityBloodPressureBhsBA
            - dataQualityBloodPressureBhsBB
            - dataQualityBloodPressureEsh2002
            - dataQualityBloodPressureEsh2010
            - dataQualityUnknown
          type: string
        type: array
        required: false
      dataStreamId:
        description: |-
          A unique identifier for the data stream produced by this data source. The identifier includes:

           
          - The physical device's manufacturer, model, and serial number (UID). 
          - The application's package name or name. Package name is used when the data source was created by an Android application. The developer project number is used when the data source was created by a REST client. 
          - The data source's type. 
          - The data source's stream name.  Note that not all attributes of the data source are used as part of the stream identifier. In particular, the version of the hardware/the application isn't used. This allows us to preserve the same stream through version updates. This also means that two DataSource objects may represent the same data stream even if they're not equal.

          The exact format of the data stream ID created by an Android application is: type:dataType.name:application.packageName:device.manufacturer:device.model:device.uid:dataStreamName 

          The exact format of the data stream ID created by a REST client is: type:dataType.name:developer project number:device.manufacturer:device.model:device.uid:dataStreamName 

          When any of the optional fields that comprise of the data stream ID are blank, they will be omitted from the data stream ID. The minnimum viable data stream ID would be: type:dataType.name:developer project number

          Finally, the developer project number is obfuscated when read by any REST or Android client that did not create the data source. Only the data source creator will see the developer project number in clear and normal form.
        type: string
        required: false
      dataStreamName:
        description: 'The stream name uniquely identifies this particular data source among other data sources of the same type from the same underlying producer. Setting the stream name is optional, but should be done whenever an application exposes two streams for the same data type, or when a device has two equivalent sensors.'
        type: string
        required: false
      dataType:
        description: 'The data type defines the schema for a stream of data being collected by, inserted into, or queried from the Fitness API.'
        type: DataType
        required: false
      device:
        description: Representation of an integrated device (such as a phone or a wearable) that can hold sensors.
        type: Device
        required: false
      name:
        description: An end-user visible name for this data source.
        type: string
        required: false
      type:
        description: A constant describing the type of this data source. Indicates whether this data source produces raw or derived data.
        enum:
          - derived
          - raw
        type: string
        required: false
  DataType:
    description: ''
    properties:
      field:
        description: A field represents one dimension of a data type.
        items:
          type: DataTypeField
        type: array
        required: false
      name:
        description: 'Each data type has a unique, namespaced, name. All data types in the com.google namespace are shared as part of the platform.'
        type: string
        required: false
  DataTypeField:
    description: |-
      In case of multi-dimensional data (such as an accelerometer with x, y, and z axes) each field represents one dimension. Each data type field has a unique name which identifies it. The field also defines the format of the data (int, float, etc.).

      This message is only instantiated in code and not used for wire comms or stored in any way.
    properties:
      format:
        description: The different supported formats for each field in a data type.
        enum:
          - blob
          - floatList
          - floatPoint
          - integer
          - integerList
          - map
          - string
        type: string
        required: false
      name:
        description: 'Defines the name and format of data. Unlike data type names, field names are not namespaced, and only need to be unique within the data type.'
        type: string
        required: false
      optional:
        type: boolean
        required: false
  Dataset:
    description: A dataset represents a projection container for data points. They do not carry any info of their own. Datasets represent a set of data points from a particular data source. A data point can be found in more than one dataset.
    properties:
      dataSourceId:
        description: The data stream ID of the data source that created the points in this dataset.
        type: string
        required: false
      maxEndTimeNs:
        description: The largest end time of all data points in this possibly partial representation of the dataset. Time is in nanoseconds from epoch. This should also match the first part of the dataset identifier.
        format: int64
        type: string
        facets:
          format: string
        required: false
      minStartTimeNs:
        description: The smallest start time of all data points in this possibly partial representation of the dataset. Time is in nanoseconds from epoch. This should also match the first part of the dataset identifier.
        format: int64
        type: string
        facets:
          format: string
        required: false
      nextPageToken:
        description: This token will be set when a dataset is received in response to a GET request and the dataset is too large to be included in a single response. Provide this value in a subsequent GET request to return the next page of data points within this dataset.
        type: string
        required: false
      point:
        description: 'A partial list of data points contained in the dataset, ordered by largest endTimeNanos first. This list is considered complete when retrieving a small dataset and partial when patching a dataset or retrieving a dataset that is too large to include in a single response.'
        items:
          type: DataPoint
        type: array
        required: false
  Device:
    description: |-
      Representation of an integrated device (such as a phone or a wearable) that can hold sensors. Each sensor is exposed as a data source.

      The main purpose of the device information contained in this class is to identify the hardware of a particular data source. This can be useful in different ways, including:  
      - Distinguishing two similar sensors on different devices (the step counter on two nexus 5 phones, for instance)
      - Display the source of data to the user (by using the device make / model)
      - Treat data differently depending on sensor type (accelerometers on a watch may give different patterns than those on a phone)
      - Build different analysis models for each device/version.
    properties:
      manufacturer:
        description: Manufacturer of the product/hardware.
        type: string
        required: false
      model:
        description: End-user visible model name for the device.
        type: string
        required: false
      type:
        description: A constant representing the type of the device.
        enum:
          - chestStrap
          - headMounted
          - phone
          - scale
          - tablet
          - unknown
          - watch
        type: string
        required: false
      uid:
        description: The serial number or other unique ID for the hardware. This field is obfuscated when read by any REST or Android client that did not create the data source. Only the data source creator will see the uid field in clear and normal form.
        type: string
        required: false
      version:
        description: Version string for the device hardware/software.
        type: string
        required: false
  ListDataSourcesResponse:
    properties:
      dataSource:
        description: A previously created data source.
        items:
          type: DataSource
        type: array
        required: false
  ListSessionsResponse:
    properties:
      deletedSession:
        description: 'If includeDeleted is set to true in the request, this list will contain sessions deleted with original end times that are within the startTime and endTime frame.'
        items:
          type: Session
        type: array
        required: false
      hasMoreData:
        description: Flag to indicate server has more data to transfer
        type: boolean
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      session:
        description: Sessions with an end time that is between startTime and endTime of the request.
        items:
          type: Session
        type: array
        required: false
  MapValue:
    description: |-
      Holder object for the value of an entry in a map field of a data point.

      A map value supports a subset of the formats that the regular Value supports.
    properties:
      fpVal:
        description: Floating point value.
        format: double
        type: number
        required: false
  Session:
    description: 'Sessions contain metadata, such as a user-friendly name and time interval information.'
    properties:
      activeTimeMillis:
        description: 'Session active time. While start_time_millis and end_time_millis define the full session time, the active time can be shorter and specified by active_time_millis. If the inactive time during the session is known, it should also be inserted via a com.google.activity.segment data point with a STILL activity value'
        format: int64
        type: string
        facets:
          format: string
        required: false
      activityType:
        description: The type of activity this session represents.
        format: int32
        type: integer
        required: false
      application:
        description: The application that created the session.
        type: Application
        required: false
      description:
        description: A description for this session.
        type: string
        required: false
      endTimeMillis:
        description: 'An end time, in milliseconds since epoch, inclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: A client-generated identifier that is unique across all sessions owned by this particular user.
        type: string
        required: false
      modifiedTimeMillis:
        description: A timestamp that indicates when the session was last modified.
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: A human readable name of the session.
        type: string
        required: false
      startTimeMillis:
        description: 'A start time, in milliseconds since epoch, inclusive.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  Value:
    description: |-
      Holder object for the value of a single field in a data point.

      A field value has a particular format and is only ever set to one of an integer or a floating point value.
    properties:
      fpVal:
        description: 'Floating point value. When this is set, other values must not be set.'
        format: double
        type: number
        required: false
      intVal:
        description: 'Integer value. When this is set, other values must not be set.'
        format: int32
        type: integer
        required: false
      mapVal:
        description: Map value. The valid key space and units for the corresponding value of each entry should be documented as part of the data type definition. Keys should be kept small whenever possible. Data streams with large keys and high data frequency may be down sampled.
        items:
          type: ValueMapValEntry
        type: array
        required: false
      stringVal:
        description: 'String value. When this is set, other values must not be set. Strings should be kept small whenever possible. Data streams with large string values and high data frequency may be down sampled.'
        type: string
        required: false
  ValueMapValEntry:
    properties:
      key:
        type: string
        required: false
      value:
        type: MapValue
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
