#%RAML 1.0
title: Fusion Tables
version: v1
baseUri: 'https://www.googleapis.com/fusiontables/v1'
protocols:
  - HTTPS
description: API for working with Fusion Tables data.
(oas-tags-definition):
  - name: column
  - name: query
  - name: style
  - name: table
  - name: task
  - name: template
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/fusiontables/v1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): fusiontables
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/fusiontables'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/fusiontables'
        - 'https://www.googleapis.com/auth/fusiontables.readonly'
    description: Oauth 2.0 authentication
/tables:
  displayName: tables
  '/{tableId}':
    displayName: '{tableId}'
    /import:
      displayName: import
      post:
        displayName: fusiontables.table.importRows
        description: Import more rows into a table.
        responses:
          '200':
            body:
              application/json:
                type: Import
            description: Successful response
        queryParameters:
          delimiter:
            description: 'The delimiter used to separate cell values. This can only consist of a single character. Default is '',''.'
            type: string
            displayName: 'The delimiter used to separate cell values. This can only consist of a single character. Default is '',''.'
          encoding:
            description: The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.
            type: string
            displayName: The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.
          endLine:
            description: 'The index of the last line from which to start importing, exclusive. Thus, the number of imported lines is endLine - startLine. If this parameter is not provided, the file will be imported until the last line of the file. If endLine is negative, then the imported content will exclude the last endLine lines. That is, if endline is negative, no line will be imported whose index is greater than N + endLine where N is the number of lines in the file, and the number of imported lines will be N + endLine - startLine.'
            type: integer
            displayName: 'The index of the last line from which to start importing, exclusive. Thus, the number of imported lines is endLine - startLine. If this parameter is not provided, the file will be imported until the last line of the file. If endLine is negative, then the imported content will exclude the last endLine lines. That is, if endline is negative, no line will be imported whose index is greater than N + endLine where N is the number of lines in the file, and the number of imported lines will be N + endLine - startLine.'
          isStrict:
            description: 'Whether the CSV must have the same number of values for each row. If false, rows with fewer values will be padded with empty values. Default is true.'
            type: boolean
            displayName: 'Whether the CSV must have the same number of values for each row. If false, rows with fewer values will be padded with empty values. Default is true.'
          startLine:
            description: 'The index of the first line from which to start importing, inclusive. Default is 0.'
            type: integer
            displayName: 'The index of the first line from which to start importing, inclusive. Default is 0.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables'
        (oas-tags):
          - table
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /templates:
      displayName: templates
      '/{templateId}':
        displayName: '{templateId}'
        uriParameters:
          templateId:
            description: Identifier for the template which is being deleted
            required: true
            type: integer
            displayName: Identifier for the template which is being deleted
        put:
          displayName: fusiontables.template.update
          description: Updates an existing template
          body:
            application/json:
              type: Template
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Template
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - template
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: fusiontables.template.patch
          description: Updates an existing template. This method supports patch semantics.
          body:
            application/json:
              type: Template
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Template
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - template
        get:
          displayName: fusiontables.template.get
          description: Retrieves a specific template by its id
          responses:
            '200':
              body:
                application/json:
                  type: Template
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables.readonly'
          (oas-tags):
            - template
        delete:
          displayName: fusiontables.template.delete
          description: Deletes a template
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - template
      get:
        displayName: fusiontables.template.list
        description: Retrieves a list of templates.
        responses:
          '200':
            body:
              application/json:
                type: TemplateList
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of templates to return. Optional. Default is 5.
            minimum: 0
            type: integer
            displayName: Maximum number of templates to return. Optional. Default is 5.
          pageToken:
            description: Continuation token specifying which results page to return. Optional.
            type: string
            displayName: Continuation token specifying which results page to return. Optional.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables.readonly'
        (oas-tags):
          - template
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: fusiontables.template.insert
        description: Creates a new template for the table.
        body:
          application/json:
            type: Template
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Template
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables'
        (oas-tags):
          - template
    /styles:
      displayName: styles
      get:
        displayName: fusiontables.style.list
        description: Retrieves a list of styles.
        responses:
          '200':
            body:
              application/json:
                type: StyleSettingList
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of styles to return. Optional. Default is 5.
            minimum: 0
            type: integer
            displayName: Maximum number of styles to return. Optional. Default is 5.
          pageToken:
            description: Continuation token specifying which result page to return. Optional.
            type: string
            displayName: Continuation token specifying which result page to return. Optional.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables.readonly'
        (oas-tags):
          - style
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: fusiontables.style.insert
        description: Adds a new style for the table.
        body:
          application/json:
            type: StyleSetting
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: StyleSetting
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables'
        (oas-tags):
          - style
      '/{styleId}':
        displayName: '{styleId}'
        uriParameters:
          styleId:
            description: Identifier (within a table) for the style being updated.
            required: true
            type: integer
            displayName: Identifier (within a table) for the style being updated.
        delete:
          displayName: fusiontables.style.delete
          description: Deletes a style.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - style
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: fusiontables.style.get
          description: Gets a specific style.
          responses:
            '200':
              body:
                application/json:
                  type: StyleSetting
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables.readonly'
          (oas-tags):
            - style
        patch:
          displayName: fusiontables.style.patch
          description: Updates an existing style. This method supports patch semantics.
          body:
            application/json:
              type: StyleSetting
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: StyleSetting
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - style
        put:
          displayName: fusiontables.style.update
          description: Updates an existing style.
          body:
            application/json:
              type: StyleSetting
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: StyleSetting
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - style
    uriParameters:
      tableId:
        description: ID of the table that is being updated.
        required: true
        type: string
        displayName: ID of the table that is being updated.
    get:
      displayName: fusiontables.table.get
      description: Retrieves a specific table by its id.
      responses:
        '200':
          body:
            application/json:
              type: Table
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fusiontables.readonly'
      (oas-tags):
        - table
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    put:
      displayName: fusiontables.table.update
      description: 'Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated.'
      body:
        application/json:
          type: Table
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Table
          description: Successful response
      queryParameters:
        replaceViewDefinition:
          description: Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.
          type: boolean
          displayName: Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fusiontables'
      (oas-tags):
        - table
    /columns:
      displayName: columns
      post:
        displayName: fusiontables.column.insert
        description: Adds a new column to the table.
        body:
          application/json:
            type: Column
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Column
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables'
        (oas-tags):
          - column
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{columnId}':
        displayName: '{columnId}'
        uriParameters:
          columnId:
            description: Name or identifier for the column that is being updated.
            required: true
            type: string
            displayName: Name or identifier for the column that is being updated.
        get:
          displayName: fusiontables.column.get
          description: Retrieves a specific column by its id.
          responses:
            '200':
              body:
                application/json:
                  type: Column
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables.readonly'
          (oas-tags):
            - column
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        put:
          displayName: fusiontables.column.update
          description: Updates the name or type of an existing column.
          body:
            application/json:
              type: Column
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Column
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - column
        delete:
          displayName: fusiontables.column.delete
          description: Deletes the column.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - column
        patch:
          displayName: fusiontables.column.patch
          description: Updates the name or type of an existing column. This method supports patch semantics.
          body:
            application/json:
              type: Column
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Column
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - column
      get:
        displayName: fusiontables.column.list
        description: Retrieves a list of columns.
        responses:
          '200':
            body:
              application/json:
                type: ColumnList
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of columns to return. Optional. Default is 5.
            minimum: 0
            type: integer
            displayName: Maximum number of columns to return. Optional. Default is 5.
          pageToken:
            description: Continuation token specifying which result page to return. Optional.
            type: string
            displayName: Continuation token specifying which result page to return. Optional.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables.readonly'
        (oas-tags):
          - column
    /tasks:
      displayName: tasks
      get:
        displayName: fusiontables.task.list
        description: Retrieves a list of tasks.
        responses:
          '200':
            body:
              application/json:
                type: TaskList
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of columns to return. Optional. Default is 5.
            minimum: 0
            type: integer
            displayName: Maximum number of columns to return. Optional. Default is 5.
          pageToken:
            type: string
          startIndex:
            type: integer
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables.readonly'
        (oas-tags):
          - task
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{taskId}':
        displayName: '{taskId}'
        uriParameters:
          taskId:
            required: true
            type: string
        delete:
          displayName: fusiontables.task.delete
          description: 'Deletes the task, unless already started.'
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables'
          (oas-tags):
            - task
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: fusiontables.task.get
          description: Retrieves a specific task by its id.
          responses:
            '200':
              body:
                application/json:
                  type: Task
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/fusiontables.readonly'
          (oas-tags):
            - task
    delete:
      displayName: fusiontables.table.delete
      description: Deletes a table.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fusiontables'
      (oas-tags):
        - table
    patch:
      displayName: fusiontables.table.patch
      description: 'Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated. This method supports patch semantics.'
      body:
        application/json:
          type: Table
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Table
          description: Successful response
      queryParameters:
        replaceViewDefinition:
          description: Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.
          type: boolean
          displayName: Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fusiontables'
      (oas-tags):
        - table
    /copy:
      displayName: copy
      post:
        displayName: fusiontables.table.copy
        description: Copies a table.
        responses:
          '200':
            body:
              application/json:
                type: Table
            description: Successful response
        queryParameters:
          copyPresentation:
            description: 'Whether to also copy tabs, styles, and templates. Default is false.'
            type: boolean
            displayName: 'Whether to also copy tabs, styles, and templates. Default is false.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/fusiontables.readonly'
        (oas-tags):
          - table
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  get:
    displayName: fusiontables.table.list
    description: Retrieves a list of tables a user owns.
    responses:
      '200':
        body:
          application/json:
            type: TableList
        description: Successful response
    queryParameters:
      maxResults:
        description: Maximum number of styles to return. Optional. Default is 5.
        minimum: 0
        type: integer
        displayName: Maximum number of styles to return. Optional. Default is 5.
      pageToken:
        description: Continuation token specifying which result page to return. Optional.
        type: string
        displayName: Continuation token specifying which result page to return. Optional.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
    (oas-tags):
      - table
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /import:
    displayName: import
    post:
      displayName: fusiontables.table.importTable
      description: Import a new table.
      responses:
        '200':
          body:
            application/json:
              type: Table
          description: Successful response
      queryParameters:
        name:
          description: The name to be assigned to the new table.
          required: true
          type: string
          displayName: The name to be assigned to the new table.
        delimiter:
          description: 'The delimiter used to separate cell values. This can only consist of a single character. Default is '',''.'
          type: string
          displayName: 'The delimiter used to separate cell values. This can only consist of a single character. Default is '',''.'
        encoding:
          description: The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.
          type: string
          displayName: The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/fusiontables'
      (oas-tags):
        - table
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  post:
    displayName: fusiontables.table.insert
    description: Creates a new table.
    body:
      application/json:
        type: Table
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Table
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/fusiontables'
    (oas-tags):
      - table
/query:
  displayName: query
  get:
    displayName: fusiontables.query.sqlGet
    description: Executes an SQL SELECT/SHOW/DESCRIBE statement.
    responses:
      '200':
        body:
          application/json:
            type: Sqlresponse
        description: Successful response
    queryParameters:
      sql:
        description: An SQL SELECT/SHOW/DESCRIBE statement.
        required: true
        type: string
        displayName: An SQL SELECT/SHOW/DESCRIBE statement.
      hdrs:
        description: Should column names be included (in the first row)?. Default is true.
        type: boolean
        displayName: Should column names be included (in the first row)?. Default is true.
      typed:
        description: Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.
        type: boolean
        displayName: Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
    (oas-tags):
      - query
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: fusiontables.query.sql
    description: Executes an SQL SELECT/INSERT/UPDATE/DELETE/SHOW/DESCRIBE/CREATE statement.
    responses:
      '200':
        body:
          application/json:
            type: Sqlresponse
        description: Successful response
    queryParameters:
      sql:
        description: An SQL SELECT/SHOW/DESCRIBE/INSERT/UPDATE/DELETE/CREATE statement.
        required: true
        type: string
        displayName: An SQL SELECT/SHOW/DESCRIBE/INSERT/UPDATE/DELETE/CREATE statement.
      hdrs:
        description: Should column names be included (in the first row)?. Default is true.
        type: boolean
        displayName: Should column names be included (in the first row)?. Default is true.
      typed:
        description: Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.
        type: boolean
        displayName: Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/fusiontables.readonly'
    (oas-tags):
      - query
types:
  Bucket:
    description: 'Specifies the minimum and maximum values, the color, opacity, icon and weight of a bucket within a StyleSetting.'
    properties:
      color:
        description: 'Color of line or the interior of a polygon in #RRGGBB format.'
        type: string
        required: false
      icon:
        description: Icon name used for a point.
        type: string
        required: false
      max:
        description: 'Maximum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.'
        format: double
        type: number
        required: false
      min:
        description: 'Minimum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.'
        format: double
        type: number
        required: false
      opacity:
        description: 'Opacity of the color: 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
        required: false
      weight:
        description: Width of a line (in pixels).
        format: int32
        type: integer
        required: false
  Column:
    description: 'Specifies the id, name and type of a column in a table.'
    properties:
      baseColumn:
        description: 'Optional identifier of the base column. If present, this column is derived from the specified base column.'
        properties:
          columnId:
            description: The id of the column in the base table from which this column is derived.
            format: int32
            type: integer
            required: false
          tableIndex:
            description: Offset to the entry in the list of base tables in the table definition.
            format: int32
            type: integer
            required: false
        type: object
        required: false
      columnId:
        description: Identifier for the column.
        format: int32
        type: integer
        required: false
      description:
        description: Optional column description.
        type: string
        required: false
      graph_predicate:
        description: 'Optional column predicate. Used to map table to graph data model (subject,predicate,object) See http://www.w3.org/TR/2014/REC-rdf11-concepts-20140225/#data-model'
        type: string
        required: false
      kind:
        default: 'fusiontables#column'
        description: 'Type name: a template for an individual column.'
        type: string
        required: false
      name:
        description: Required name of the column.
        type: string
        required: false
      type:
        description: Required type of the column.
        type: string
        required: false
  ColumnList:
    description: Represents a list of columns in a table.
    properties:
      items:
        description: List of all requested columns.
        items:
          type: Column
        type: array
        required: false
      kind:
        default: 'fusiontables#columnList'
        description: 'Type name: a list of all columns.'
        type: string
        required: false
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
        required: false
      totalItems:
        description: Total number of columns for the table.
        format: int32
        type: integer
        required: false
  Geometry:
    description: Represents a Geometry object.
    properties:
      geometries:
        description: The list of geometries in this geometry collection.
        items: {}
        type: array
        required: false
      geometry:
        required: false
      type:
        default: GeometryCollection
        description: 'Type: A collection of geometries.'
        type: string
        required: false
  Import:
    description: Represents an import request.
    properties:
      kind:
        default: 'fusiontables#import'
        description: 'Type name: a template for an import request.'
        type: string
        required: false
      numRowsReceived:
        description: The number of rows received from the import request.
        format: int64
        type: string
        facets:
          format: string
        required: false
  Line:
    description: Represents a line geometry.
    properties:
      coordinates:
        description: The coordinates that define the line.
        items:
          items:
            format: double
            type: number
          type: array
        type: array
        required: false
      type:
        default: LineString
        description: 'Type: A line geometry.'
        type: string
        required: false
  LineStyle:
    description: Represents a LineStyle within a StyleSetting
    properties:
      strokeColor:
        description: 'Color of the line in #RRGGBB format.'
        type: string
        required: false
      strokeColorStyler:
        description: 'Column-value, gradient or buckets styler that is used to determine the line color and opacity.'
        type: StyleFunction
        required: false
      strokeOpacity:
        description: 'Opacity of the line : 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
        required: false
      strokeWeight:
        description: Width of the line in pixels.
        format: int32
        type: integer
        required: false
      strokeWeightStyler:
        description: Column-value or bucket styler that is used to determine the width of the line.
        type: StyleFunction
        required: false
  Point:
    description: Represents a point object.
    properties:
      coordinates:
        description: The coordinates that define the point.
        items:
          format: double
          type: number
        type: array
        required: false
      type:
        default: Point
        description: 'Point: A point geometry.'
        type: string
        required: false
  PointStyle:
    description: Represents a PointStyle within a StyleSetting
    properties:
      iconName:
        description: 'Name of the icon. Use values defined in http://www.google.com/fusiontables/DataSource?dsrcid=308519'
        type: string
        required: false
      iconStyler:
        description: Column or a bucket value from which the icon name is to be determined.
        type: StyleFunction
        required: false
  Polygon:
    description: Represents a polygon object.
    properties:
      coordinates:
        description: The coordinates that define the polygon.
        items:
          items:
            items:
              format: double
              type: number
            type: array
          type: array
        type: array
        required: false
      type:
        default: Polygon
        description: 'Type: A polygon geometry.'
        type: string
        required: false
  PolygonStyle:
    description: Represents a PolygonStyle within a StyleSetting
    properties:
      fillColor:
        description: 'Color of the interior of the polygon in #RRGGBB format.'
        type: string
        required: false
      fillColorStyler:
        description: 'Column-value, gradient, or bucket styler that is used to determine the interior color and opacity of the polygon.'
        type: StyleFunction
        required: false
      fillOpacity:
        description: 'Opacity of the interior of the polygon: 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
        required: false
      strokeColor:
        description: 'Color of the polygon border in #RRGGBB format.'
        type: string
        required: false
      strokeColorStyler:
        description: 'Column-value, gradient or buckets styler that is used to determine the border color and opacity.'
        type: StyleFunction
        required: false
      strokeOpacity:
        description: 'Opacity of the polygon border: 0.0 (transparent) to 1.0 (opaque).'
        format: double
        type: number
        required: false
      strokeWeight:
        description: Width of the polyon border in pixels.
        format: int32
        type: integer
        required: false
      strokeWeightStyler:
        description: Column-value or bucket styler that is used to determine the width of the polygon border.
        type: StyleFunction
        required: false
  Sqlresponse:
    description: Represents a response to an sql statement.
    properties:
      columns:
        description: Columns in the table.
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'fusiontables#sqlresponse'
        description: 'Type name: a template for an individual table.'
        type: string
        required: false
      rows:
        description: 'The rows in the table. For each cell we print out whatever cell value (e.g., numeric, string) exists. Thus it is important that each cell contains only one value.'
        items:
          items: {}
          type: array
        type: array
        required: false
  StyleFunction:
    description: Represents a StyleFunction within a StyleSetting
    properties:
      buckets:
        description: Bucket function that assigns a style based on the range a column value falls into.
        items:
          type: Bucket
        type: array
        required: false
      columnName:
        description: Name of the column whose value is used in the style.
        type: string
        required: false
      gradient:
        description: Gradient function that interpolates a range of colors based on column value.
        properties:
          colors:
            description: Array with two or more colors.
            items:
              properties:
                color:
                  description: 'Color in #RRGGBB format.'
                  type: string
                  required: false
                opacity:
                  description: 'Opacity of the color: 0.0 (transparent) to 1.0 (opaque).'
                  format: double
                  type: number
                  required: false
              type: object
            type: array
            required: false
          max:
            description: 'Higher-end of the interpolation range: rows with this value will be assigned to colors[n-1].'
            format: double
            type: number
            required: false
          min:
            description: 'Lower-end of the interpolation range: rows with this value will be assigned to colors[0].'
            format: double
            type: number
            required: false
        type: object
        required: false
      kind:
        description: 'Stylers can be one of three kinds: "fusiontables#fromColumn" if the column value is to be used as is, i.e., the column values can have colors in #RRGGBBAA format or integer line widths or icon names; "fusiontables#gradient" if the styling of the row is to be based on applying the gradient function on the column value; or "fusiontables#buckets" if the styling is to based on the bucket into which the the column value falls.'
        type: string
        required: false
  StyleSetting:
    description: Represents a complete StyleSettings object. The primary key is a combination of the tableId and a styleId.
    properties:
      kind:
        default: 'fusiontables#styleSetting'
        description: 'Type name: an individual style setting. A StyleSetting contains the style defintions for points, lines, and polygons in a table. Since a table can have any one or all of them, a style definition can have point, line and polygon style definitions.'
        type: string
        required: false
      markerOptions:
        description: Style definition for points in the table.
        type: PointStyle
        required: false
      name:
        description: Optional name for the style setting.
        type: string
        required: false
      polygonOptions:
        description: Style definition for polygons in the table.
        type: PolygonStyle
        required: false
      polylineOptions:
        description: Style definition for lines in the table.
        type: LineStyle
        required: false
      styleId:
        description: Identifier for the style setting (unique only within tables).
        format: int32
        type: integer
        required: false
      tableId:
        description: Identifier for the table.
        type: string
        required: false
  StyleSettingList:
    description: Represents a list of styles for a given table.
    properties:
      items:
        description: All requested style settings.
        items:
          type: StyleSetting
        type: array
        required: false
      kind:
        default: 'fusiontables#styleSettingList'
        description: 'Type name: in this case, a list of style settings.'
        type: string
        required: false
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
        required: false
      totalItems:
        description: Total number of styles for the table.
        format: int32
        type: integer
        required: false
  Table:
    description: 'Represents a table. Specifies the name, whether it is exportable, description, attribution, and attribution link.'
    properties:
      attribution:
        description: Optional attribution assigned to the table.
        type: string
        required: false
      attributionLink:
        description: Optional link for attribution.
        type: string
        required: false
      baseTableIds:
        description: Optional base table identifier if this table is a view or merged table.
        items:
          type: string
        type: array
        required: false
      columns:
        description: Columns in the table.
        items:
          type: Column
        type: array
        required: false
      description:
        description: Optional description assigned to the table.
        type: string
        required: false
      isExportable:
        description: Variable for whether table is exportable.
        type: boolean
        required: false
      kind:
        default: 'fusiontables#table'
        description: 'Type name: a template for an individual table.'
        type: string
        required: false
      name:
        description: Name assigned to a table.
        type: string
        required: false
      sql:
        description: Optional sql that encodes the table definition for derived tables.
        type: string
        required: false
      tableId:
        description: Encrypted unique alphanumeric identifier for the table.
        type: string
        required: false
  TableList:
    description: Represents a list of tables.
    properties:
      items:
        description: List of all requested tables.
        items:
          type: Table
        type: array
        required: false
      kind:
        default: 'fusiontables#tableList'
        description: 'Type name: a list of all tables.'
        type: string
        required: false
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
        required: false
  Task:
    description: 'Specifies the identifier, name, and type of a task in a table.'
    properties:
      kind:
        default: 'fusiontables#task'
        description: 'Type of the resource. This is always "fusiontables#task".'
        type: string
        required: false
      progress:
        description: An indication of task progress.
        type: string
        required: false
      started:
        description: false while the table is busy with some other task. true if this background task is currently running.
        type: boolean
        required: false
      taskId:
        description: Identifier for the task.
        format: int64
        type: string
        facets:
          format: string
        required: false
      type:
        description: Type of background task. One of  DELETE_ROWS Deletes one or more rows from the table. ADD_ROWS "Adds one or more rows to a table. Includes importing data into a new table and importing more rows into an existing table. ADD_COLUMN Adds a new column to the table. CHANGE_TYPE Changes the type of a column.
        type: string
        required: false
  TaskList:
    description: Represents a list of tasks for a table.
    properties:
      items:
        description: List of all requested tasks.
        items:
          type: Task
        type: array
        required: false
      kind:
        default: 'fusiontables#taskList'
        description: 'Type of the resource. This is always "fusiontables#taskList".'
        type: string
        required: false
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
        required: false
      totalItems:
        description: Total number of tasks for the table.
        format: int32
        type: integer
        required: false
  Template:
    description: Represents the contents of InfoWindow templates.
    properties:
      automaticColumnNames:
        description: List of columns from which the template is to be automatically constructed. Only one of body or automaticColumns can be specified.
        items:
          type: string
        type: array
        required: false
      body:
        description: 'Body of the template. It contains HTML with {column_name} to insert values from a particular column. The body is sanitized to remove certain tags, e.g., script. Only one of body or automaticColumns can be specified.'
        type: string
        required: false
      kind:
        default: 'fusiontables#template'
        description: 'Type name: a template for the info window contents. The template can either include an HTML body or a list of columns from which the template is computed automatically.'
        type: string
        required: false
      name:
        description: Optional name assigned to a template.
        type: string
        required: false
      tableId:
        description: Identifier for the table for which the template is defined.
        type: string
        required: false
      templateId:
        description: 'Identifier for the template, unique within the context of a particular table.'
        format: int32
        type: integer
        required: false
  TemplateList:
    description: Represents a list of templates for a given table.
    properties:
      items:
        description: List of all requested templates.
        items:
          type: Template
        type: array
        required: false
      kind:
        default: 'fusiontables#templateList'
        description: 'Type name: a list of all templates.'
        type: string
        required: false
      nextPageToken:
        description: Token used to access the next page of this result. No token is displayed if there are no more pages left.
        type: string
        required: false
      totalItems:
        description: Total number of templates for the table.
        format: int32
        type: integer
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - csv
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
