#%RAML 1.0
title: Google Cloud DNS
version: v2beta1
baseUri: 'https://www.googleapis.com/dns/v2beta1/projects'
protocols:
  - HTTPS
description: Configures and serves authoritative DNS records.
(oas-tags-definition):
  - name: changes
  - name: dnsKeys
  - name: managedZoneOperations
  - name: managedZones
  - name: projects
  - name: resourceRecordSets
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/dns/v2beta1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): dns
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/cloud-dns'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
    description: Oauth 2.0 authentication
'/{project}':
  displayName: '{project}'
  /managedZones:
    displayName: managedZones
    '/{managedZone}':
      displayName: '{managedZone}'
      /changes:
        displayName: changes
        get:
          displayName: dns.changes.list
          description: Enumerate Changes to a ResourceRecordSet collection.
          responses:
            '200':
              body:
                application/json:
                  type: ChangesListResponse
              description: Successful response
          queryParameters:
            maxResults:
              description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
              type: integer
            pageToken:
              description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
              type: string
            sortBy:
              default: CHANGE_SEQUENCE
              description: Sorting criterion. The only supported value is change sequence.
              enum:
                - CHANGE_SEQUENCE
              type: string
            sortOrder:
              description: 'Sorting order direction: ''ascending'' or ''descending''.'
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          (oas-tags):
            - changes
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: dns.changes.create
          description: Atomically update the ResourceRecordSet collection.
          body:
            application/json:
              type: Change
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Change
              description: Successful response
          queryParameters:
            clientOperationId:
              description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          (oas-tags):
            - changes
        '/{changeId}':
          displayName: '{changeId}'
          uriParameters:
            changeId:
              description: 'The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.'
              required: true
              type: string
          get:
            displayName: dns.changes.get
            description: Fetch the representation of an existing Change.
            responses:
              '200':
                body:
                  application/json:
                    type: Change
                description: Successful response
            queryParameters:
              clientOperationId:
                description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
            (oas-tags):
              - changes
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
      /rrsets:
        displayName: rrsets
        get:
          displayName: dns.resourceRecordSets.list
          description: Enumerate ResourceRecordSets that have been created but not yet deleted.
          responses:
            '200':
              body:
                application/json:
                  type: ResourceRecordSetsListResponse
              description: Successful response
          queryParameters:
            maxResults:
              description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
              type: integer
            name:
              description: Restricts the list to return only records with this fully qualified domain name.
              type: string
            pageToken:
              description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
              type: string
            type:
              description: 'Restricts the list to return only records of this type. If present, the "name" parameter must also be present.'
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          (oas-tags):
            - resourceRecordSets
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      uriParameters:
        managedZone:
          description: Identifies the managed zone addressed by this request. Can be the managed zone name or id.
          required: true
          type: string
      get:
        displayName: dns.managedZones.get
        description: Fetch the representation of an existing ManagedZone.
        responses:
          '200':
            body:
              application/json:
                type: ManagedZone
            description: Successful response
        queryParameters:
          clientOperationId:
            description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
        (oas-tags):
          - managedZones
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      /operations:
        displayName: operations
        '/{operation}':
          displayName: '{operation}'
          uriParameters:
            operation:
              description: Identifies the operation addressed by this request.
              required: true
              type: string
          get:
            displayName: dns.managedZoneOperations.get
            description: Fetch the representation of an existing Operation.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            queryParameters:
              clientOperationId:
                description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
            (oas-tags):
              - managedZoneOperations
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        get:
          displayName: dns.managedZoneOperations.list
          description: Enumerate Operations for the given ManagedZone.
          responses:
            '200':
              body:
                application/json:
                  type: ManagedZoneOperationsListResponse
              description: Successful response
          queryParameters:
            maxResults:
              description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
              type: integer
            pageToken:
              description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
              type: string
            sortBy:
              default: START_TIME
              description: Sorting criterion. The only supported values are START_TIME and ID.
              enum:
                - ID
                - START_TIME
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          (oas-tags):
            - managedZoneOperations
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /dnsKeys:
        displayName: dnsKeys
        '/{dnsKeyId}':
          displayName: '{dnsKeyId}'
          uriParameters:
            dnsKeyId:
              description: The identifier of the requested DnsKey.
              required: true
              type: string
          get:
            displayName: dns.dnsKeys.get
            description: Fetch the representation of an existing DnsKey.
            responses:
              '200':
                body:
                  application/json:
                    type: DnsKey
                description: Successful response
            queryParameters:
              clientOperationId:
                description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
                type: string
              digestType:
                description: 'An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.'
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
            (oas-tags):
              - dnsKeys
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        get:
          displayName: dns.dnsKeys.list
          description: Enumerate DnsKeys to a ResourceRecordSet collection.
          responses:
            '200':
              body:
                application/json:
                  type: DnsKeysListResponse
              description: Successful response
          queryParameters:
            digestType:
              description: 'An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.'
              type: string
            maxResults:
              description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
              type: integer
            pageToken:
              description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          (oas-tags):
            - dnsKeys
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      patch:
        displayName: dns.managedZones.patch
        description: Update an existing ManagedZone. This method supports patch semantics.
        body:
          application/json:
            type: ManagedZone
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Operation
            description: Successful response
        queryParameters:
          clientOperationId:
            description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
        (oas-tags):
          - managedZones
      delete:
        displayName: dns.managedZones.delete
        description: Delete a previously created ManagedZone.
        responses:
          '200':
            body:
              application/json:
                type: ManagedZonesDeleteResponse
            description: Successful response
        queryParameters:
          clientOperationId:
            description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
        (oas-tags):
          - managedZones
      put:
        displayName: dns.managedZones.update
        description: Update an existing ManagedZone.
        body:
          application/json:
            type: ManagedZone
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Operation
            description: Successful response
        queryParameters:
          clientOperationId:
            description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
        (oas-tags):
          - managedZones
    post:
      displayName: dns.managedZones.create
      description: Create a new ManagedZone.
      body:
        application/json:
          type: ManagedZone
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ManagedZone
          description: Successful response
      queryParameters:
        clientOperationId:
          description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      (oas-tags):
        - managedZones
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: dns.managedZones.list
      description: Enumerate ManagedZones that have been created but not yet deleted.
      responses:
        '200':
          body:
            application/json:
              type: ManagedZonesListResponse
          description: Successful response
      queryParameters:
        dnsName:
          description: Restricts the list to return only zones with this domain name.
          type: string
        maxResults:
          description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
          type: integer
        pageToken:
          description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      (oas-tags):
        - managedZones
  uriParameters:
    project:
      description: Identifies the project addressed by this request.
      required: true
      type: string
  get:
    displayName: dns.projects.get
    description: Fetch the representation of an existing Project.
    responses:
      '200':
        body:
          application/json:
            type: Project
        description: Successful response
    queryParameters:
      clientOperationId:
        description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
    (oas-tags):
      - projects
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Change:
    description: An atomic update to a collection of ResourceRecordSets.
    properties:
      additions:
        description: Which ResourceRecordSets to add?
        items:
          type: ResourceRecordSet
        type: array
        required: false
      deletions:
        description: Which ResourceRecordSets to remove? Must match existing data exactly.
        items:
          type: ResourceRecordSet
        type: array
        required: false
      id:
        description: Unique identifier for the resource; defined by the server (output only).
        type: string
        required: false
      isServing:
        description: If the DNS queries for the zone will be served.
        type: boolean
        required: false
      kind:
        default: 'dns#change'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#change".'
        type: string
        required: false
      startTime:
        description: The time that this operation was started by the server (output only). This is in RFC3339 text format.
        type: string
        required: false
      status:
        description: Status of the operation (output only).
        enum:
          - DONE
          - PENDING
        type: string
        required: false
  ChangesListResponse:
    description: The response to a request to enumerate Changes to a ResourceRecordSets collection.
    properties:
      changes:
        description: The requested changes.
        items:
          type: Change
        type: array
        required: false
      header:
        type: ResponseHeader
        required: false
      kind:
        default: 'dns#changesListResponse'
        description: Type of resource.
        type: string
        required: false
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a "snapshot" of collections larger than the maximum page size.
        type: string
        required: false
  DnsKey:
    description: A DNSSEC key pair.
    properties:
      algorithm:
        description: String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.
        enum:
          - ECDSAP256SHA256
          - ECDSAP384SHA384
          - RSASHA1
          - RSASHA256
          - RSASHA512
        type: string
        required: false
      creationTime:
        description: The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.
        type: string
        required: false
      description:
        description: A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.
        type: string
        required: false
      digests:
        description: Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.
        items:
          type: DnsKeyDigest
        type: array
        required: false
      id:
        description: Unique identifier for the resource; defined by the server (output only).
        type: string
        required: false
      isActive:
        description: Active keys will be used to sign subsequent changes to the ManagedZone. Inactive keys will still be present as DNSKEY Resource Records for the use of resolvers validating existing signatures.
        type: boolean
        required: false
      keyLength:
        description: Length of the key in bits. Specified at creation time then immutable.
        type: integer
        required: false
      keyTag:
        description: 'The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone''s DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.'
        format: int32
        type: integer
        required: false
      kind:
        default: 'dns#dnsKey'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#dnsKey".'
        type: string
        required: false
      publicKey:
        description: Base64 encoded public half of this key. Output only.
        type: string
        required: false
      type:
        description: 'One of "KEY_SIGNING" or "ZONE_SIGNING". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types. Immutable after creation time.'
        enum:
          - KEY_SIGNING
          - ZONE_SIGNING
        type: string
        required: false
  DnsKeyDigest:
    properties:
      digest:
        description: The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.
        type: string
        required: false
      type:
        description: Specifies the algorithm used to calculate this digest.
        enum:
          - SHA1
          - SHA256
          - SHA384
        type: string
        required: false
  DnsKeySpec:
    description: Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.
    properties:
      algorithm:
        description: String mnemonic specifying the DNSSEC algorithm of this key.
        enum:
          - ECDSAP256SHA256
          - ECDSAP384SHA384
          - RSASHA1
          - RSASHA256
          - RSASHA512
        type: string
        required: false
      keyLength:
        description: Length of the keys in bits.
        type: integer
        required: false
      keyType:
        description: 'One of "KEY_SIGNING" or "ZONE_SIGNING". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types.'
        enum:
          - KEY_SIGNING
          - ZONE_SIGNING
        type: string
        required: false
      kind:
        default: 'dns#dnsKeySpec'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#dnsKeySpec".'
        type: string
        required: false
  DnsKeysListResponse:
    description: The response to a request to enumerate DnsKeys in a ManagedZone.
    properties:
      dnsKeys:
        description: The requested resources.
        items:
          type: DnsKey
        type: array
        required: false
      header:
        type: ResponseHeader
        required: false
      kind:
        default: 'dns#dnsKeysListResponse'
        description: Type of resource.
        type: string
        required: false
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a "snapshot" of collections larger than the maximum page size.
        type: string
        required: false
  ManagedZone:
    description: A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.
    properties:
      creationTime:
        description: The time that this resource was created on the server. This is in RFC3339 text format. Output only.
        type: string
        required: false
      description:
        description: A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function.
        type: string
        required: false
      dnsName:
        description: 'The DNS name of this managed zone, for instance "example.com.".'
        type: string
        required: false
      dnssecConfig:
        description: DNSSEC configuration.
        type: ManagedZoneDnsSecConfig
        required: false
      id:
        description: Unique identifier for the resource; defined by the server (output only)
        format: uint64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'dns#managedZone'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#managedZone".'
        type: string
        required: false
      name:
        description: 'User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.'
        type: string
        required: false
      nameServerSet:
        description: Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users will leave this field unset.
        type: string
        required: false
      nameServers:
        description: Delegate your managed_zone to these virtual name servers; defined by the server (output only)
        items:
          type: string
        type: array
        required: false
  ManagedZoneDnsSecConfig:
    properties:
      defaultKeySpecs:
        description: Specifies parameters that will be used for generating initial DnsKeys for this ManagedZone. Output only while state is not OFF.
        items:
          type: DnsKeySpec
        type: array
        required: false
      kind:
        default: 'dns#managedZoneDnsSecConfig'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#managedZoneDnsSecConfig".'
        type: string
        required: false
      nonExistence:
        description: Specifies the mechanism used to provide authenticated denial-of-existence responses. Output only while state is not OFF.
        enum:
          - NSEC
          - NSEC3
        type: string
        required: false
      state:
        description: 'Specifies whether DNSSEC is enabled, and what mode it is in.'
        enum:
          - 'OFF'
          - 'ON'
          - TRANSFER
        type: string
        required: false
  ManagedZoneOperationsListResponse:
    properties:
      header:
        type: ResponseHeader
        required: false
      kind:
        default: 'dns#managedZoneOperationsListResponse'
        description: Type of resource.
        type: string
        required: false
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.
        type: string
        required: false
      operations:
        description: The operation resources.
        items:
          type: Operation
        type: array
        required: false
  ManagedZonesDeleteResponse:
    properties:
      header:
        type: ResponseHeader
        required: false
  ManagedZonesListResponse:
    properties:
      header:
        type: ResponseHeader
        required: false
      kind:
        default: 'dns#managedZonesListResponse'
        description: Type of resource.
        type: string
        required: false
      managedZones:
        description: The managed zone resources.
        items:
          type: ManagedZone
        type: array
        required: false
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.
        type: string
        required: false
  Operation:
    description: 'An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.'
    properties:
      dnsKeyContext:
        description: Only populated if the operation targeted a DnsKey (output only).
        type: OperationDnsKeyContext
        required: false
      id:
        description: 'Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)'
        type: string
        required: false
      kind:
        default: 'dns#operation'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#operation".'
        type: string
        required: false
      startTime:
        description: The time that this operation was started by the server. This is in RFC3339 text format (output only).
        type: string
        required: false
      status:
        description: 'Status of the operation. Can be one of the following: "PENDING" or "DONE" (output only).'
        enum:
          - DONE
          - PENDING
        type: string
        required: false
      type:
        description: 'Type of the operation. Operations include insert, update, and delete (output only).'
        type: string
        required: false
      user:
        description: 'User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)'
        type: string
        required: false
      zoneContext:
        description: Only populated if the operation targeted a ManagedZone (output only).
        type: OperationManagedZoneContext
        required: false
  OperationDnsKeyContext:
    properties:
      newValue:
        description: The post-operation DnsKey resource.
        type: DnsKey
        required: false
      oldValue:
        description: The pre-operation DnsKey resource.
        type: DnsKey
        required: false
  OperationManagedZoneContext:
    properties:
      newValue:
        description: The post-operation ManagedZone resource.
        type: ManagedZone
        required: false
      oldValue:
        description: The pre-operation ManagedZone resource.
        type: ManagedZone
        required: false
  Project:
    description: A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console.
    properties:
      id:
        description: User assigned unique identifier for the resource (output only).
        type: string
        required: false
      kind:
        default: 'dns#project'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#project".'
        type: string
        required: false
      number:
        description: Unique numeric identifier for the resource; defined by the server (output only).
        format: uint64
        type: string
        facets:
          format: string
        required: false
      quota:
        description: Quotas assigned to this project (output only).
        type: Quota
        required: false
  Quota:
    description: Limits associated with a Project.
    properties:
      dnsKeysPerManagedZone:
        description: Maximum allowed number of DnsKeys per ManagedZone.
        format: int32
        type: integer
        required: false
      kind:
        default: 'dns#quota'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#quota".'
        type: string
        required: false
      managedZones:
        description: Maximum allowed number of managed zones in the project.
        format: int32
        type: integer
        required: false
      resourceRecordsPerRrset:
        description: Maximum allowed number of ResourceRecords per ResourceRecordSet.
        format: int32
        type: integer
        required: false
      rrsetAdditionsPerChange:
        description: Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.
        format: int32
        type: integer
        required: false
      rrsetDeletionsPerChange:
        description: Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.
        format: int32
        type: integer
        required: false
      rrsetsPerManagedZone:
        description: Maximum allowed number of ResourceRecordSets per zone in the project.
        format: int32
        type: integer
        required: false
      totalRrdataSizePerChange:
        description: Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.
        format: int32
        type: integer
        required: false
      whitelistedKeySpecs:
        description: DNSSEC algorithm and key length types that can be used for DnsKeys.
        items:
          type: DnsKeySpec
        type: array
        required: false
  ResourceRecordSet:
    description: A unit of data that will be returned by the DNS servers.
    properties:
      kind:
        default: 'dns#resourceRecordSet'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#resourceRecordSet".'
        type: string
        required: false
      name:
        description: 'For example, www.example.com.'
        type: string
        required: false
      rrdatas:
        description: As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).
        items:
          type: string
        type: array
        required: false
      signatureRrdatas:
        description: As defined in RFC 4034 (section 3.2).
        items:
          type: string
        type: array
        required: false
      ttl:
        description: Number of seconds that this ResourceRecordSet can be cached by resolvers.
        format: int32
        type: integer
        required: false
      type:
        description: 'The identifier of a supported record type, for example, A, AAAA, MX, TXT, and so on.'
        type: string
        required: false
  ResourceRecordSetsListResponse:
    properties:
      header:
        type: ResponseHeader
        required: false
      kind:
        default: 'dns#resourceRecordSetsListResponse'
        description: Type of resource.
        type: string
        required: false
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.
        type: string
        required: false
      rrsets:
        description: The resource record set resources.
        items:
          type: ResourceRecordSet
        type: array
        required: false
  ResponseHeader:
    description: Elements common to every response.
    properties:
      operationId:
        description: 'For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only).'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
