#%RAML 1.0
title: Drive
version: v2
baseUri: 'https://www.googleapis.com/drive/v2'
protocols:
  - HTTPS
description: 'Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.'
(oas-tags-definition):
  - name: about
  - name: apps
  - name: changes
  - name: channels
  - name: children
  - name: comments
  - name: files
  - name: parents
  - name: permissions
  - name: properties
  - name: realtime
  - name: replies
  - name: revisions
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_drive_32dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/drive/v2/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): drive
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/drive/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/drive'
        - 'https://www.googleapis.com/auth/drive.appdata'
        - 'https://www.googleapis.com/auth/drive.apps.readonly'
        - 'https://www.googleapis.com/auth/drive.file'
        - 'https://www.googleapis.com/auth/drive.metadata'
        - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - 'https://www.googleapis.com/auth/drive.readonly'
        - 'https://www.googleapis.com/auth/drive.scripts'
    description: Oauth 2.0 authentication
/files:
  displayName: files
  '/{fileId}':
    displayName: '{fileId}'
    /parents:
      displayName: parents
      post:
        displayName: drive.parents.insert
        description: Adds a parent folder for a file.
        body:
          application/json:
            type: ParentReference
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ParentReference
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - parents
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{parentId}':
        displayName: '{parentId}'
        uriParameters:
          parentId:
            description: The ID of the parent.
            required: true
            type: string
            displayName: The ID of the parent.
        delete:
          displayName: drive.parents.delete
          description: Removes a parent from a file.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - parents
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: drive.parents.get
          description: Gets a specific parent reference.
          responses:
            '200':
              body:
                application/json:
                  type: ParentReference
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - parents
      get:
        displayName: drive.parents.list
        description: Lists a file's parents.
        responses:
          '200':
            body:
              application/json:
                type: ParentList
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - parents
    /permissions:
      displayName: permissions
      get:
        displayName: drive.permissions.list
        description: Lists a file's permissions.
        responses:
          '200':
            body:
              application/json:
                type: PermissionList
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - permissions
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: drive.permissions.insert
        description: Inserts a permission for a file.
        body:
          application/json:
            type: Permission
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Permission
            description: Successful response
        queryParameters:
          emailMessage:
            description: A custom message to include in notification emails.
            type: string
            displayName: A custom message to include in notification emails.
          sendNotificationEmails:
            default: true
            description: Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the role is owner.
            type: boolean
            displayName: Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the role is owner.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - permissions
      '/{permissionId}':
        displayName: '{permissionId}'
        uriParameters:
          permissionId:
            description: The ID for the permission.
            required: true
            type: string
            displayName: The ID for the permission.
        delete:
          displayName: drive.permissions.delete
          description: Deletes a permission from a file.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - permissions
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: drive.permissions.get
          description: Gets a permission by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Permission
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - permissions
        patch:
          displayName: drive.permissions.patch
          description: Updates a permission using patch semantics.
          body:
            application/json:
              type: Permission
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Permission
              description: Successful response
          queryParameters:
            removeExpiration:
              default: false
              description: Whether to remove the expiration date.
              type: boolean
              displayName: Whether to remove the expiration date.
            transferOwnership:
              default: false
              description: Whether changing a role to 'owner' downgrades the current owners to writers. Does nothing if the specified role is not 'owner'.
              type: boolean
              displayName: Whether changing a role to 'owner' downgrades the current owners to writers. Does nothing if the specified role is not 'owner'.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - permissions
        put:
          displayName: drive.permissions.update
          description: Updates a permission.
          body:
            application/json:
              type: Permission
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Permission
              description: Successful response
          queryParameters:
            removeExpiration:
              default: false
              description: Whether to remove the expiration date.
              type: boolean
              displayName: Whether to remove the expiration date.
            transferOwnership:
              default: false
              description: Whether changing a role to 'owner' downgrades the current owners to writers. Does nothing if the specified role is not 'owner'.
              type: boolean
              displayName: Whether changing a role to 'owner' downgrades the current owners to writers. Does nothing if the specified role is not 'owner'.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - permissions
    uriParameters:
      fileId:
        description: The ID of the file to delete.
        required: true
        type: string
        displayName: The ID of the file to delete.
    get:
      displayName: drive.files.get
      description: Gets a file's metadata by ID.
      responses:
        '200':
          body:
            application/json:
              type: File
          description: Successful response
      queryParameters:
        acknowledgeAbuse:
          default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files.
          type: boolean
          displayName: Whether the user is acknowledging the risk of downloading known malware or other abusive files.
        projection:
          description: This parameter is deprecated and has no function.
          enum:
            - BASIC
            - FULL
          type: string
          displayName: This parameter is deprecated and has no function.
        revisionId:
          description: Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.
          type: string
          displayName: Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.
        updateViewedDate:
          default: false
          description: 'Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.'
          type: boolean
          displayName: 'Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.'
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - files
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    put:
      displayName: drive.files.update
      description: Updates file metadata and/or content.
      body:
        application/json:
          type: File
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: File
          description: Successful response
      queryParameters:
        addParents:
          description: Comma-separated list of parent IDs to add.
          type: string
          displayName: Comma-separated list of parent IDs to add.
        convert:
          default: false
          description: This parameter is deprecated and has no function.
          type: boolean
          displayName: This parameter is deprecated and has no function.
        modifiedDateBehavior:
          description: Determines the behavior in which modifiedDate is updated. This overrides setModifiedDate.
          enum:
            - fromBody
            - fromBodyIfNeeded
            - fromBodyOrNow
            - noChange
            - now
            - nowIfNeeded
          type: string
          displayName: Determines the behavior in which modifiedDate is updated. This overrides setModifiedDate.
        newRevision:
          default: true
          description: 'Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the Drive Help Center.'
          type: boolean
          displayName: 'Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the Drive Help Center.'
        ocr:
          default: false
          description: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
          type: boolean
          displayName: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
        ocrLanguage:
          description: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
          type: string
          displayName: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
        pinned:
          default: false
          description: Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.
          type: boolean
          displayName: Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.
        removeParents:
          description: Comma-separated list of parent IDs to remove.
          type: string
          displayName: Comma-separated list of parent IDs to remove.
        setModifiedDate:
          default: false
          description: Whether to set the modified date with the supplied modified date.
          type: boolean
          displayName: Whether to set the modified date with the supplied modified date.
        timedTextLanguage:
          description: The language of the timed text.
          type: string
          displayName: The language of the timed text.
        timedTextTrackName:
          description: The timed text track name.
          type: string
          displayName: The timed text track name.
        updateViewedDate:
          default: true
          description: Whether to update the view date after successfully updating the file.
          type: boolean
          displayName: Whether to update the view date after successfully updating the file.
        useContentAsIndexableText:
          default: false
          description: Whether to use the content as indexable text.
          type: boolean
          displayName: Whether to use the content as indexable text.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.scripts'
      (oas-tags):
        - files
    /properties:
      displayName: properties
      get:
        displayName: drive.properties.list
        description: Lists a file's properties.
        responses:
          '200':
            body:
              application/json:
                type: PropertyList
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - properties
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: drive.properties.insert
        description: 'Adds a property to a file, or updates it if it already exists.'
        body:
          application/json:
            type: Property
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Property
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.metadata'
        (oas-tags):
          - properties
      '/{propertyKey}':
        displayName: '{propertyKey}'
        uriParameters:
          propertyKey:
            description: The key of the property.
            required: true
            type: string
            displayName: The key of the property.
        delete:
          displayName: drive.properties.delete
          description: Deletes a property.
          responses:
            '200':
              description: Successful response
          queryParameters:
            visibility:
              default: private
              description: The visibility of the property.
              type: string
              displayName: The visibility of the property.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.metadata'
          (oas-tags):
            - properties
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: drive.properties.get
          description: Gets a property by its key.
          responses:
            '200':
              body:
                application/json:
                  type: Property
              description: Successful response
          queryParameters:
            visibility:
              default: private
              description: The visibility of the property.
              type: string
              displayName: The visibility of the property.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - properties
        patch:
          displayName: drive.properties.patch
          description: 'Updates a property, or adds it if it doesn''t exist. This method supports patch semantics.'
          body:
            application/json:
              type: Property
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Property
              description: Successful response
          queryParameters:
            visibility:
              default: private
              description: The visibility of the property.
              type: string
              displayName: The visibility of the property.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.metadata'
          (oas-tags):
            - properties
        put:
          displayName: drive.properties.update
          description: 'Updates a property, or adds it if it doesn''t exist.'
          body:
            application/json:
              type: Property
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Property
              description: Successful response
          queryParameters:
            visibility:
              default: private
              description: The visibility of the property.
              type: string
              displayName: The visibility of the property.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.metadata'
          (oas-tags):
            - properties
    /comments:
      displayName: comments
      post:
        displayName: drive.comments.insert
        description: Creates a new comment on the given file.
        body:
          application/json:
            type: Comment
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Comment
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - comments
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{commentId}':
        displayName: '{commentId}'
        uriParameters:
          commentId:
            description: The ID of the comment.
            required: true
            type: string
            displayName: The ID of the comment.
        get:
          displayName: drive.comments.get
          description: Gets a comment by ID.
          responses:
            '200':
              body:
                application/json:
                  type: Comment
              description: Successful response
          queryParameters:
            includeDeleted:
              default: false
              description: 'If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.'
              type: boolean
              displayName: 'If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.'
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - comments
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        put:
          displayName: drive.comments.update
          description: Updates an existing comment.
          body:
            application/json:
              type: Comment
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Comment
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - comments
        /replies:
          displayName: replies
          post:
            displayName: drive.replies.insert
            description: Creates a new reply to the given comment.
            body:
              application/json:
                type: CommentReply
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: CommentReply
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/drive.file'
            (oas-tags):
              - replies
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          '/{replyId}':
            displayName: '{replyId}'
            uriParameters:
              replyId:
                description: The ID of the reply.
                required: true
                type: string
                displayName: The ID of the reply.
            get:
              displayName: drive.replies.get
              description: Gets a reply.
              responses:
                '200':
                  body:
                    application/json:
                      type: CommentReply
                  description: Successful response
              queryParameters:
                includeDeleted:
                  default: false
                  description: 'If set, this will succeed when retrieving a deleted reply.'
                  type: boolean
                  displayName: 'If set, this will succeed when retrieving a deleted reply.'
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/drive.readonly'
              (oas-tags):
                - replies
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            put:
              displayName: drive.replies.update
              description: Updates an existing reply.
              body:
                application/json:
                  type: CommentReply
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: CommentReply
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/drive.file'
              (oas-tags):
                - replies
            patch:
              displayName: drive.replies.patch
              description: Updates an existing reply. This method supports patch semantics.
              body:
                application/json:
                  type: CommentReply
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: CommentReply
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/drive.file'
              (oas-tags):
                - replies
            delete:
              displayName: drive.replies.delete
              description: Deletes a reply.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/drive.file'
              (oas-tags):
                - replies
          get:
            displayName: drive.replies.list
            description: Lists all of the replies to a comment.
            responses:
              '200':
                body:
                  application/json:
                    type: CommentReplyList
                description: Successful response
            queryParameters:
              includeDeleted:
                default: false
                description: 'If set, all replies, including deleted replies (with content stripped) will be returned.'
                type: boolean
                displayName: 'If set, all replies, including deleted replies (with content stripped) will be returned.'
              maxResults:
                default: 20
                description: 'The maximum number of replies to include in the response, used for paging.'
                maximum: 100
                minimum: 0
                type: integer
                displayName: 'The maximum number of replies to include in the response, used for paging.'
              pageToken:
                description: 'The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
                type: string
                displayName: 'The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/drive.readonly'
            (oas-tags):
              - replies
        delete:
          displayName: drive.comments.delete
          description: Deletes a comment.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - comments
        patch:
          displayName: drive.comments.patch
          description: Updates an existing comment. This method supports patch semantics.
          body:
            application/json:
              type: Comment
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Comment
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - comments
      get:
        displayName: drive.comments.list
        description: Lists a file's comments.
        responses:
          '200':
            body:
              application/json:
                type: CommentList
            description: Successful response
        queryParameters:
          includeDeleted:
            default: false
            description: 'If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.'
            type: boolean
            displayName: 'If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.'
          maxResults:
            default: 20
            description: 'The maximum number of discussions to include in the response, used for paging.'
            maximum: 100
            minimum: 0
            type: integer
            displayName: 'The maximum number of discussions to include in the response, used for paging.'
          pageToken:
            description: 'The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
            displayName: 'The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
          updatedMin:
            description: Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.
            type: string
            displayName: Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - comments
    /realtime:
      displayName: realtime
      get:
        displayName: drive.realtime.get
        description: Exports the contents of the Realtime API data model associated with this file as JSON.
        responses:
          '200':
            description: Successful response
        queryParameters:
          revision:
            description: 'The revision of the Realtime API data model to export. Revisions start at 1 (the initial empty data model) and are incremented with each change. If this parameter is excluded, the most recent data model will be returned.'
            minimum: 1
            type: integer
            displayName: 'The revision of the Realtime API data model to export. Revisions start at 1 (the initial empty data model) and are incremented with each change. If this parameter is excluded, the most recent data model will be returned.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - realtime
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      put:
        displayName: drive.realtime.update
        description: Overwrites the Realtime API data model associated with this file with the provided JSON data model.
        responses:
          '200':
            description: Successful response
        queryParameters:
          baseRevision:
            description: 'The revision of the model to diff the uploaded model against. If set, the uploaded model is diffed against the provided revision and those differences are merged with any changes made to the model after the provided revision. If not set, the uploaded model replaces the current model on the server.'
            type: string
            displayName: 'The revision of the model to diff the uploaded model against. If set, the uploaded model is diffed against the provided revision and those differences are merged with any changes made to the model after the provided revision. If not set, the uploaded model replaces the current model on the server.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - realtime
    /export:
      displayName: export
      get:
        displayName: drive.files.export
        description: Exports a Google Doc to the requested MIME type and returns the exported content.
        responses:
          '200':
            description: Successful response
        queryParameters:
          mimeType:
            description: The MIME type of the format requested for this export.
            required: true
            type: string
            displayName: The MIME type of the format requested for this export.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /revisions:
      displayName: revisions
      get:
        displayName: drive.revisions.list
        description: Lists a file's revisions.
        responses:
          '200':
            body:
              application/json:
                type: RevisionList
            description: Successful response
        queryParameters:
          maxResults:
            default: 200
            description: Maximum number of revisions to return.
            maximum: 1000
            minimum: 1
            type: integer
            displayName: Maximum number of revisions to return.
          pageToken:
            description: 'Page token for revisions. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
            displayName: 'Page token for revisions. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - revisions
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{revisionId}':
        displayName: '{revisionId}'
        uriParameters:
          revisionId:
            description: The ID for the revision.
            required: true
            type: string
            displayName: The ID for the revision.
        delete:
          displayName: drive.revisions.delete
          description: Removes a revision.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - revisions
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: drive.revisions.get
          description: Gets a specific revision.
          responses:
            '200':
              body:
                application/json:
                  type: Revision
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - revisions
        patch:
          displayName: drive.revisions.patch
          description: Updates a revision. This method supports patch semantics.
          body:
            application/json:
              type: Revision
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Revision
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - revisions
        put:
          displayName: drive.revisions.update
          description: Updates a revision.
          body:
            application/json:
              type: Revision
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Revision
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - revisions
    patch:
      displayName: drive.files.patch
      description: Updates file metadata and/or content. This method supports patch semantics.
      body:
        application/json:
          type: File
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: File
          description: Successful response
      queryParameters:
        addParents:
          description: Comma-separated list of parent IDs to add.
          type: string
          displayName: Comma-separated list of parent IDs to add.
        convert:
          default: false
          description: This parameter is deprecated and has no function.
          type: boolean
          displayName: This parameter is deprecated and has no function.
        modifiedDateBehavior:
          description: Determines the behavior in which modifiedDate is updated. This overrides setModifiedDate.
          enum:
            - fromBody
            - fromBodyIfNeeded
            - fromBodyOrNow
            - noChange
            - now
            - nowIfNeeded
          type: string
          displayName: Determines the behavior in which modifiedDate is updated. This overrides setModifiedDate.
        newRevision:
          default: true
          description: 'Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the Drive Help Center.'
          type: boolean
          displayName: 'Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the Drive Help Center.'
        ocr:
          default: false
          description: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
          type: boolean
          displayName: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
        ocrLanguage:
          description: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
          type: string
          displayName: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
        pinned:
          default: false
          description: Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.
          type: boolean
          displayName: Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.
        removeParents:
          description: Comma-separated list of parent IDs to remove.
          type: string
          displayName: Comma-separated list of parent IDs to remove.
        setModifiedDate:
          default: false
          description: Whether to set the modified date with the supplied modified date.
          type: boolean
          displayName: Whether to set the modified date with the supplied modified date.
        timedTextLanguage:
          description: The language of the timed text.
          type: string
          displayName: The language of the timed text.
        timedTextTrackName:
          description: The timed text track name.
          type: string
          displayName: The timed text track name.
        updateViewedDate:
          default: true
          description: Whether to update the view date after successfully updating the file.
          type: boolean
          displayName: Whether to update the view date after successfully updating the file.
        useContentAsIndexableText:
          default: false
          description: Whether to use the content as indexable text.
          type: boolean
          displayName: Whether to use the content as indexable text.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.scripts'
      (oas-tags):
        - files
    /touch:
      displayName: touch
      post:
        displayName: drive.files.touch
        description: Set the file's updated time to the current server time.
        responses:
          '200':
            body:
              application/json:
                type: File
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.metadata'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /trash:
      displayName: trash
      post:
        displayName: drive.files.trash
        description: Moves a file to the trash. The currently authenticated user must own the file.
        responses:
          '200':
            body:
              application/json:
                type: File
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /untrash:
      displayName: untrash
      post:
        displayName: drive.files.untrash
        description: Restores a file from the trash.
        responses:
          '200':
            body:
              application/json:
                type: File
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /watch:
      displayName: watch
      post:
        displayName: drive.files.watch
        description: Subscribe to changes on a file
        body:
          application/json:
            type: Channel
            (oas-body-name): resource
        responses:
          '200':
            body:
              application/json:
                type: Channel
            description: Successful response
        queryParameters:
          acknowledgeAbuse:
            default: false
            description: Whether the user is acknowledging the risk of downloading known malware or other abusive files.
            type: boolean
            displayName: Whether the user is acknowledging the risk of downloading known malware or other abusive files.
          projection:
            description: This parameter is deprecated and has no function.
            enum:
              - BASIC
              - FULL
            type: string
            displayName: This parameter is deprecated and has no function.
          revisionId:
            description: Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.
            type: string
            displayName: Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.
          updateViewedDate:
            default: false
            description: 'Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.'
            type: boolean
            displayName: 'Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /copy:
      displayName: copy
      post:
        displayName: drive.files.copy
        description: Creates a copy of the specified file.
        body:
          application/json:
            type: File
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: File
            description: Successful response
        queryParameters:
          convert:
            default: false
            description: Whether to convert this file to the corresponding Google Docs format.
            type: boolean
            displayName: Whether to convert this file to the corresponding Google Docs format.
          ocr:
            default: false
            description: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
            type: boolean
            displayName: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
          ocrLanguage:
            description: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
            type: string
            displayName: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
          pinned:
            default: false
            description: Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.
            type: boolean
            displayName: Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.
          timedTextLanguage:
            description: The language of the timed text.
            type: string
            displayName: The language of the timed text.
          timedTextTrackName:
            description: The timed text track name.
            type: string
            displayName: The timed text track name.
          visibility:
            default: DEFAULT
            description: The visibility of the new file. This parameter is only relevant when the source is not a native Google Doc and convert=false.
            enum:
              - DEFAULT
              - PRIVATE
            type: string
            displayName: The visibility of the new file. This parameter is only relevant when the source is not a native Google Doc and convert=false.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.photos.readonly'
        (oas-tags):
          - files
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    delete:
      displayName: drive.files.delete
      description: Permanently deletes a file by ID. Skips the trash. The currently authenticated user must own the file.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.file'
      (oas-tags):
        - files
  post:
    displayName: drive.files.insert
    description: Insert a new file.
    body:
      application/json:
        type: File
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: File
        description: Successful response
    queryParameters:
      convert:
        default: false
        description: Whether to convert this file to the corresponding Google Docs format.
        type: boolean
        displayName: Whether to convert this file to the corresponding Google Docs format.
      ocr:
        default: false
        description: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
        type: boolean
        displayName: 'Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.'
      ocrLanguage:
        description: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
        type: string
        displayName: 'If ocr is true, hints at the language to use. Valid values are BCP 47 codes.'
      pinned:
        default: false
        description: Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.
        type: boolean
        displayName: Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.
      timedTextLanguage:
        description: The language of the timed text.
        type: string
        displayName: The language of the timed text.
      timedTextTrackName:
        description: The timed text track name.
        type: string
        displayName: The timed text track name.
      useContentAsIndexableText:
        default: false
        description: Whether to use the content as indexable text.
        type: boolean
        displayName: Whether to use the content as indexable text.
      visibility:
        default: DEFAULT
        description: The visibility of the new file. This parameter is only relevant when convert=false.
        enum:
          - DEFAULT
          - PRIVATE
        type: string
        displayName: The visibility of the new file. This parameter is only relevant when convert=false.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.file'
    (oas-tags):
      - files
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /trash:
    displayName: trash
    delete:
      displayName: drive.files.emptyTrash
      description: Permanently deletes all of the user's trashed files.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive'
      (oas-tags):
        - files
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /generateIds:
    displayName: generateIds
    get:
      displayName: drive.files.generateIds
      description: Generates a set of file IDs which can be provided in insert requests.
      responses:
        '200':
          body:
            application/json:
              type: GeneratedIds
          description: Successful response
      queryParameters:
        maxResults:
          default: 10
          description: Maximum number of IDs to return.
          maximum: 1000
          minimum: 1
          type: integer
          displayName: Maximum number of IDs to return.
        space:
          default: drive
          description: The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.
          type: string
          displayName: The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.file'
      (oas-tags):
        - files
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: drive.files.list
    description: Lists the user's files.
    responses:
      '200':
        body:
          application/json:
            type: FileList
        description: Successful response
    queryParameters:
      corpus:
        description: The body of items (files/documents) to which the query applies.
        enum:
          - DEFAULT
          - DOMAIN
        type: string
        displayName: The body of items (files/documents) to which the query applies.
      maxResults:
        default: 100
        description: Maximum number of files to return.
        minimum: 0
        type: integer
        displayName: Maximum number of files to return.
      orderBy:
        description: 'A comma-separated list of sort keys. Valid keys are ''createdDate'', ''folder'', ''lastViewedByMeDate'', ''modifiedByMeDate'', ''modifiedDate'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeDate'', ''starred'', and ''title''. Each key sorts ascending by default, but may be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.'
        type: string
        displayName: 'A comma-separated list of sort keys. Valid keys are ''createdDate'', ''folder'', ''lastViewedByMeDate'', ''modifiedByMeDate'', ''modifiedDate'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeDate'', ''starred'', and ''title''. Each key sorts ascending by default, but may be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.'
      pageToken:
        description: Page token for files.
        type: string
        displayName: Page token for files.
      projection:
        description: This parameter is deprecated and has no function.
        enum:
          - BASIC
          - FULL
        type: string
        displayName: This parameter is deprecated and has no function.
      q:
        description: Query string for searching files.
        type: string
        displayName: Query string for searching files.
      spaces:
        description: 'A comma-separated list of spaces to query. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
        type: string
        displayName: 'A comma-separated list of spaces to query. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.readonly'
    (oas-tags):
      - files
  '/{folderId}':
    displayName: '{folderId}'
    /children:
      displayName: children
      '/{childId}':
        displayName: '{childId}'
        uriParameters:
          childId:
            description: The ID of the child.
            required: true
            type: string
            displayName: The ID of the child.
        get:
          displayName: drive.children.get
          description: Gets a specific child reference.
          responses:
            '200':
              body:
                application/json:
                  type: ChildReference
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.readonly'
          (oas-tags):
            - children
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        delete:
          displayName: drive.children.delete
          description: Removes a child from a folder.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/drive.file'
          (oas-tags):
            - children
      post:
        displayName: drive.children.insert
        description: Inserts a file into a folder.
        body:
          application/json:
            type: ChildReference
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ChildReference
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.file'
        (oas-tags):
          - children
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: drive.children.list
        description: Lists a folder's children.
        responses:
          '200':
            body:
              application/json:
                type: ChildList
            description: Successful response
        queryParameters:
          maxResults:
            default: 100
            description: Maximum number of children to return.
            minimum: 0
            type: integer
            displayName: Maximum number of children to return.
          orderBy:
            description: 'A comma-separated list of sort keys. Valid keys are ''createdDate'', ''folder'', ''lastViewedByMeDate'', ''modifiedByMeDate'', ''modifiedDate'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeDate'', ''starred'', and ''title''. Each key sorts ascending by default, but may be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.'
            type: string
            displayName: 'A comma-separated list of sort keys. Valid keys are ''createdDate'', ''folder'', ''lastViewedByMeDate'', ''modifiedByMeDate'', ''modifiedDate'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeDate'', ''starred'', and ''title''. Each key sorts ascending by default, but may be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.'
          pageToken:
            description: Page token for children.
            type: string
            displayName: Page token for children.
          q:
            description: Query string for searching children.
            type: string
            displayName: Query string for searching children.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/drive.readonly'
        (oas-tags):
          - children
/permissionIds:
  displayName: permissionIds
  '/{email}':
    displayName: '{email}'
    uriParameters:
      email:
        description: The email address for which to return a permission ID
        required: true
        type: string
        displayName: The email address for which to return a permission ID
    get:
      displayName: drive.permissions.getIdForEmail
      description: Returns the permission ID for an email address.
      responses:
        '200':
          body:
            application/json:
              type: PermissionId
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - permissions
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/about:
  displayName: about
  get:
    displayName: drive.about.get
    description: Gets the information about the current user along with Drive API settings
    responses:
      '200':
        body:
          application/json:
            type: About
        description: Successful response
    queryParameters:
      includeSubscribed:
        default: true
        description: 'When calculating the number of remaining change IDs, whether to include public files the user has opened and shared files. When set to false, this counts only change IDs for owned files and any shared or public files that the user has explicitly added to a folder they own.'
        type: boolean
        displayName: 'When calculating the number of remaining change IDs, whether to include public files the user has opened and shared files. When set to false, this counts only change IDs for owned files and any shared or public files that the user has explicitly added to a folder they own.'
      maxChangeIdCount:
        default: '1'
        description: Maximum number of remaining change IDs to count
        type: string
        displayName: Maximum number of remaining change IDs to count
      startChangeId:
        description: Change ID to start counting from when calculating number of remaining change IDs
        type: string
        displayName: Change ID to start counting from when calculating number of remaining change IDs
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.readonly'
    (oas-tags):
      - about
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/apps:
  displayName: apps
  '/{appId}':
    displayName: '{appId}'
    uriParameters:
      appId:
        description: The ID of the app.
        required: true
        type: string
        displayName: The ID of the app.
    get:
      displayName: drive.apps.get
      description: Gets a specific app.
      responses:
        '200':
          body:
            application/json:
              type: App
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - apps
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: drive.apps.list
    description: Lists a user's installed apps.
    responses:
      '200':
        body:
          application/json:
            type: AppList
        description: Successful response
    queryParameters:
      appFilterExtensions:
        default: ''
        description: 'A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If appFilterMimeTypes are provided as well, the result is a union of the two resulting app lists.'
        type: string
        displayName: 'A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If appFilterMimeTypes are provided as well, the result is a union of the two resulting app lists.'
      appFilterMimeTypes:
        default: ''
        description: 'A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If appFilterExtensions are provided as well, the result is a union of the two resulting app lists.'
        type: string
        displayName: 'A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If appFilterExtensions are provided as well, the result is a union of the two resulting app lists.'
      languageCode:
        description: 'A language or locale code, as defined by BCP 47, with some extensions from Unicode''s LDML format (http://www.unicode.org/reports/tr35/).'
        type: string
        displayName: 'A language or locale code, as defined by BCP 47, with some extensions from Unicode''s LDML format (http://www.unicode.org/reports/tr35/).'
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.apps.readonly'
    (oas-tags):
      - apps
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/changes:
  displayName: changes
  /watch:
    displayName: watch
    post:
      displayName: drive.changes.watch
      description: Subscribe to changes for a user.
      body:
        application/json:
          type: Channel
          (oas-body-name): resource
      responses:
        '200':
          body:
            application/json:
              type: Channel
          description: Successful response
      queryParameters:
        includeDeleted:
          default: true
          description: Whether to include deleted items.
          type: boolean
          displayName: Whether to include deleted items.
        includeSubscribed:
          default: true
          description: 'Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.'
          type: boolean
          displayName: 'Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.'
        maxResults:
          default: 100
          description: Maximum number of changes to return.
          minimum: 1
          type: integer
          displayName: Maximum number of changes to return.
        pageToken:
          description: Page token for changes.
          type: string
          displayName: Page token for changes.
        spaces:
          description: 'A comma-separated list of spaces to query. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          type: string
          displayName: 'A comma-separated list of spaces to query. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
        startChangeId:
          description: Change ID to start listing changes from.
          type: string
          displayName: Change ID to start listing changes from.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - changes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  '/{changeId}':
    displayName: '{changeId}'
    uriParameters:
      changeId:
        description: The ID of the change.
        required: true
        type: string
        displayName: The ID of the change.
    get:
      displayName: drive.changes.get
      description: Gets a specific change.
      responses:
        '200':
          body:
            application/json:
              type: Change
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - changes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: drive.changes.list
    description: Lists the changes for a user.
    responses:
      '200':
        body:
          application/json:
            type: ChangeList
        description: Successful response
    queryParameters:
      includeDeleted:
        default: true
        description: Whether to include deleted items.
        type: boolean
        displayName: Whether to include deleted items.
      includeSubscribed:
        default: true
        description: 'Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.'
        type: boolean
        displayName: 'Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.'
      maxResults:
        default: 100
        description: Maximum number of changes to return.
        minimum: 1
        type: integer
        displayName: Maximum number of changes to return.
      pageToken:
        description: Page token for changes.
        type: string
        displayName: Page token for changes.
      spaces:
        description: 'A comma-separated list of spaces to query. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
        type: string
        displayName: 'A comma-separated list of spaces to query. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
      startChangeId:
        description: Change ID to start listing changes from.
        type: string
        displayName: Change ID to start listing changes from.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/drive.readonly'
    (oas-tags):
      - changes
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/channels:
  displayName: channels
  /stop:
    displayName: stop
    post:
      displayName: drive.channels.stop
      description: Stop watching resources through this channel
      body:
        application/json:
          type: Channel
          (oas-body-name): resource
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/drive.readonly'
      (oas-tags):
        - channels
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  About:
    description: An item with user information and settings.
    properties:
      additionalRoleInfo:
        description: Information about supported additional roles per file type. The most specific type takes precedence.
        items:
          properties:
            roleSets:
              description: The supported additional roles per primary role.
              items:
                properties:
                  additionalRoles:
                    description: The supported additional roles with the primary role.
                    items:
                      type: string
                    type: array
                    required: false
                  primaryRole:
                    description: A primary permission role.
                    type: string
                    required: false
                type: object
              type: array
              required: false
            type:
              description: The content type that this additional role info applies to.
              type: string
              required: false
          type: object
        type: array
        required: false
      domainSharingPolicy:
        description: |-
          The domain sharing policy for the current user. Possible values are:  
          - allowed 
          - allowedWithWarning 
          - incomingOnly 
          - disallowed
        type: string
        required: false
      etag:
        description: The ETag of the item.
        type: string
        required: false
      exportFormats:
        description: The allowable export formats.
        items:
          properties:
            source:
              description: The content type to convert from.
              type: string
              required: false
            targets:
              description: The possible content types to convert to.
              items:
                type: string
              type: array
              required: false
          type: object
        type: array
        required: false
      features:
        description: List of additional features enabled on this account.
        items:
          properties:
            featureName:
              description: The name of the feature.
              type: string
              required: false
            featureRate:
              description: 'The request limit rate for this feature, in queries per second.'
              format: double
              type: number
              required: false
          type: object
        type: array
        required: false
      folderColorPalette:
        description: The palette of allowable folder colors as RGB hex strings.
        items:
          type: string
        type: array
        required: false
      importFormats:
        description: The allowable import formats.
        items:
          properties:
            source:
              description: The imported file's content type to convert from.
              type: string
              required: false
            targets:
              description: The possible content types to convert to.
              items:
                type: string
              type: array
              required: false
          type: object
        type: array
        required: false
      isCurrentAppInstalled:
        description: A boolean indicating whether the authenticated app is installed by the authenticated user.
        type: boolean
        required: false
      kind:
        default: 'drive#about'
        description: 'This is always drive#about.'
        type: string
        required: false
      languageCode:
        description: 'The user''s language or locale code, as defined by BCP 47, with some extensions from Unicode''s LDML format (http://www.unicode.org/reports/tr35/).'
        type: string
        required: false
      largestChangeId:
        description: The largest change id.
        format: int64
        type: string
        facets:
          format: string
        required: false
      maxUploadSizes:
        description: List of max upload sizes for each file type. The most specific type takes precedence.
        items:
          properties:
            size:
              description: The max upload size for this type.
              format: int64
              type: string
              facets:
                format: string
              required: false
            type:
              description: The file type.
              type: string
              required: false
          type: object
        type: array
        required: false
      name:
        description: The name of the current user.
        type: string
        required: false
      permissionId:
        description: The current user's ID as visible in the permissions collection.
        type: string
        required: false
      quotaBytesByService:
        description: The amount of storage quota used by different Google services.
        items:
          properties:
            bytesUsed:
              description: The storage quota bytes used by the service.
              format: int64
              type: string
              facets:
                format: string
              required: false
            serviceName:
              description: 'The service''s name, e.g. DRIVE, GMAIL, or PHOTOS.'
              type: string
              required: false
          type: object
        type: array
        required: false
      quotaBytesTotal:
        description: The total number of quota bytes.
        format: int64
        type: string
        facets:
          format: string
        required: false
      quotaBytesUsed:
        description: The number of quota bytes used by Google Drive.
        format: int64
        type: string
        facets:
          format: string
        required: false
      quotaBytesUsedAggregate:
        description: 'The number of quota bytes used by all Google apps (Drive, Picasa, etc.).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      quotaBytesUsedInTrash:
        description: The number of quota bytes used by trashed items.
        format: int64
        type: string
        facets:
          format: string
        required: false
      quotaType:
        description: |-
          The type of the user's storage quota. Possible values are:  
          - LIMITED 
          - UNLIMITED
        type: string
        required: false
      remainingChangeIds:
        description: 'The number of remaining change ids, limited to no more than 2500.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      rootFolderId:
        description: The id of the root folder.
        type: string
        required: false
      selfLink:
        description: A link back to this item.
        type: string
        required: false
      user:
        description: The authenticated user.
        type: User
        required: false
  App:
    description: 'The apps resource provides a list of the apps that a user has installed, with information about each app''s supported MIME types, file extensions, and other details.'
    properties:
      authorized:
        description: Whether the app is authorized to access data on the user's Drive.
        type: boolean
        required: false
      createInFolderTemplate:
        description: 'The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.'
        type: string
        required: false
      createUrl:
        description: The url to create a new file with this app.
        type: string
        required: false
      hasDriveWideScope:
        description: Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.
        type: boolean
        required: false
      icons:
        description: The various icons for the app.
        items:
          properties:
            category:
              description: |-
                Category of the icon. Allowed values are:  
                - application - icon for the application 
                - document - icon for a file associated with the app 
                - documentShared - icon for a shared file associated with the app
              type: string
              required: false
            iconUrl:
              description: URL for the icon.
              type: string
              required: false
            size:
              description: Size of the icon. Represented as the maximum of the width and height.
              format: int32
              type: integer
              required: false
          type: object
        type: array
        required: false
      id:
        description: The ID of the app.
        type: string
        required: false
      installed:
        description: Whether the app is installed.
        type: boolean
        required: false
      kind:
        default: 'drive#app'
        description: 'This is always drive#app.'
        type: string
        required: false
      longDescription:
        description: A long description of the app.
        type: string
        required: false
      name:
        description: The name of the app.
        type: string
        required: false
      objectType:
        description: 'The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.'
        type: string
        required: false
      openUrlTemplate:
        description: 'The template url for opening files with this app. The template will contain {ids} and/or {exportIds} to be replaced by the actual file ids. See  Open Files  for the full documentation.'
        type: string
        required: false
      primaryFileExtensions:
        description: The list of primary file extensions.
        items:
          type: string
        type: array
        required: false
      primaryMimeTypes:
        description: The list of primary mime types.
        items:
          type: string
        type: array
        required: false
      productId:
        description: The ID of the product listing for this app.
        type: string
        required: false
      productUrl:
        description: A link to the product listing for this app.
        type: string
        required: false
      secondaryFileExtensions:
        description: The list of secondary file extensions.
        items:
          type: string
        type: array
        required: false
      secondaryMimeTypes:
        description: The list of secondary mime types.
        items:
          type: string
        type: array
        required: false
      shortDescription:
        description: A short description of the app.
        type: string
        required: false
      supportsCreate:
        description: Whether this app supports creating new objects.
        type: boolean
        required: false
      supportsImport:
        description: Whether this app supports importing Google Docs.
        type: boolean
        required: false
      supportsMultiOpen:
        description: Whether this app supports opening more than one file.
        type: boolean
        required: false
      supportsOfflineCreate:
        description: Whether this app supports creating new files when offline.
        type: boolean
        required: false
      useByDefault:
        description: Whether the app is selected as the default handler for the types it supports.
        type: boolean
        required: false
  AppList:
    description: A list of third-party applications which the user has installed or given access to Google Drive.
    properties:
      defaultAppIds:
        description: List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).
        items:
          type: string
        type: array
        required: false
      etag:
        description: The ETag of the list.
        type: string
        required: false
      items:
        description: The actual list of apps.
        items:
          type: App
        type: array
        required: false
      kind:
        default: 'drive#appList'
        description: 'This is always drive#appList.'
        type: string
        required: false
      selfLink:
        description: A link back to this list.
        type: string
        required: false
  Change:
    description: Representation of a change to a file.
    properties:
      deleted:
        description: Whether the file has been deleted.
        type: boolean
        required: false
      file:
        description: The updated state of the file. Present if the file has not been deleted.
        type: File
        required: false
      fileId:
        description: The ID of the file associated with this change.
        type: string
        required: false
      id:
        description: The ID of the change.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'drive#change'
        description: 'This is always drive#change.'
        type: string
        required: false
      modificationDate:
        description: The time of this modification.
        format: rfc3339
        type: datetime
        required: false
      selfLink:
        description: A link back to this change.
        type: string
        required: false
  ChangeList:
    description: A list of changes for a user.
    properties:
      etag:
        description: The ETag of the list.
        type: string
        required: false
      items:
        description: The actual list of changes.
        items:
          type: Change
        type: array
        required: false
      kind:
        default: 'drive#changeList'
        description: 'This is always drive#changeList.'
        type: string
        required: false
      largestChangeId:
        description: The current largest change ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      nextLink:
        description: A link to the next page of changes.
        type: string
        required: false
      nextPageToken:
        description: The page token for the next page of changes.
        type: string
        required: false
      selfLink:
        description: A link back to this list.
        type: string
        required: false
  Channel:
    description: An notification channel used to watch for resource changes.
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
        required: false
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
        required: false
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string "api#channel".'
        type: string
        required: false
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
        required: false
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
        required: false
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
        required: false
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
        required: false
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
        required: false
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
        required: false
  ChildList:
    description: A list of children of a file.
    properties:
      etag:
        description: The ETag of the list.
        type: string
        required: false
      items:
        description: The actual list of children.
        items:
          type: ChildReference
        type: array
        required: false
      kind:
        default: 'drive#childList'
        description: 'This is always drive#childList.'
        type: string
        required: false
      nextLink:
        description: A link to the next page of children.
        type: string
        required: false
      nextPageToken:
        description: The page token for the next page of children.
        type: string
        required: false
      selfLink:
        description: A link back to this list.
        type: string
        required: false
  ChildReference:
    description: A reference to a folder's child.
    properties:
      childLink:
        description: A link to the child.
        type: string
        required: false
      id:
        description: The ID of the child.
        type: string
        required: false
      kind:
        default: 'drive#childReference'
        description: 'This is always drive#childReference.'
        type: string
        required: false
      selfLink:
        description: A link back to this reference.
        type: string
        required: false
  Comment:
    description: A comment on a file in Google Drive.
    properties:
      anchor:
        description: A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties.
        type: string
        required: false
      author:
        description: The user who wrote this comment.
        type: User
        required: false
      commentId:
        description: The ID of the comment.
        type: string
        required: false
      content:
        description: The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.
        type: string
        required: false
      context:
        description: The context of the file which is being commented on.
        properties:
          type:
            description: The MIME type of the context snippet.
            type: string
            required: false
          value:
            description: 'Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about.'
            type: string
            required: false
        type: object
        required: false
      createdDate:
        description: The date when this comment was first created.
        format: rfc3339
        type: datetime
        required: false
      deleted:
        description: Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed.
        type: boolean
        required: false
      fileId:
        description: The file which this comment is addressing.
        type: string
        required: false
      fileTitle:
        description: The title of the file which this comment is addressing.
        type: string
        required: false
      htmlContent:
        description: HTML formatted content for this comment.
        type: string
        required: false
      kind:
        default: 'drive#comment'
        description: 'This is always drive#comment.'
        type: string
        required: false
      modifiedDate:
        description: The date when this comment or any of its replies were last modified.
        format: rfc3339
        type: datetime
        required: false
      replies:
        description: Replies to this post.
        items:
          type: CommentReply
        type: array
        required: false
      selfLink:
        description: A link back to this comment.
        type: string
        required: false
      status:
        description: |-
          The status of this comment. Status can be changed by posting a reply to a comment with the desired status.  
          - "open" - The comment is still open. 
          - "resolved" - The comment has been resolved by one of its replies.
        type: string
        required: false
  CommentList:
    description: A list of comments on a file in Google Drive.
    properties:
      items:
        description: List of comments.
        items:
          type: Comment
        type: array
        required: false
      kind:
        default: 'drive#commentList'
        description: 'This is always drive#commentList.'
        type: string
        required: false
      nextLink:
        description: A link to the next page of comments.
        type: string
        required: false
      nextPageToken:
        description: The token to use to request the next page of results.
        type: string
        required: false
      selfLink:
        description: A link back to this list.
        type: string
        required: false
  CommentReply:
    description: A comment on a file in Google Drive.
    properties:
      author:
        description: The user who wrote this reply.
        type: User
        required: false
      content:
        description: The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).
        type: string
        required: false
      createdDate:
        description: The date when this reply was first created.
        format: rfc3339
        type: datetime
        required: false
      deleted:
        description: Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.
        type: boolean
        required: false
      htmlContent:
        description: HTML formatted content for this reply.
        type: string
        required: false
      kind:
        default: 'drive#commentReply'
        description: 'This is always drive#commentReply.'
        type: string
        required: false
      modifiedDate:
        description: The date when this reply was last modified.
        format: rfc3339
        type: datetime
        required: false
      replyId:
        description: The ID of the reply.
        type: string
        required: false
      verb:
        description: |-
          The action this reply performed to the parent comment. When creating a new reply this is the action to be perform to the parent comment. Possible values are:  
          - "resolve" - To resolve a comment. 
          - "reopen" - To reopen (un-resolve) a comment.
        type: string
        required: false
  CommentReplyList:
    description: A list of replies to a comment on a file in Google Drive.
    properties:
      items:
        description: List of reply.
        items:
          type: CommentReply
        type: array
        required: false
      kind:
        default: 'drive#commentReplyList'
        description: 'This is always drive#commentReplyList.'
        type: string
        required: false
      nextLink:
        description: A link to the next page of replies.
        type: string
        required: false
      nextPageToken:
        description: The token to use to request the next page of results.
        type: string
        required: false
      selfLink:
        description: A link back to this list.
        type: string
        required: false
  File:
    description: The metadata for a file.
    properties:
      alternateLink:
        description: A link for opening the file in a relevant Google editor or viewer.
        type: string
        required: false
      appDataContents:
        description: Whether this file is in the Application Data folder.
        type: boolean
        required: false
      canComment:
        description: Whether the current user can comment on the file.
        type: boolean
        required: false
      canReadRevisions:
        description: Whether the current user has read access to the Revisions resource of the file.
        type: boolean
        required: false
      copyable:
        description: Whether the file can be copied by the current user.
        type: boolean
        required: false
      createdDate:
        description: Create time for this file (formatted RFC 3339 timestamp).
        format: rfc3339
        type: datetime
        required: false
      defaultOpenWithLink:
        description: A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.
        type: string
        required: false
      description:
        description: A short description of the file.
        type: string
        required: false
      downloadUrl:
        type: string
        required: false
      editable:
        description: Whether the file can be edited by the current user.
        type: boolean
        required: false
      embedLink:
        description: A link for embedding the file.
        type: string
        required: false
      etag:
        description: ETag of the file.
        type: string
        required: false
      explicitlyTrashed:
        description: 'Whether this file has been explicitly trashed, as opposed to recursively trashed.'
        type: boolean
        required: false
      exportLinks:
        additionalProperties:
          description: A mapping from export format to URL
          type: string
        description: Links for exporting Google Docs to specific formats.
        type: object
        required: false
      fileExtension:
        description: The final component of fullFileExtension with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.
        type: string
        required: false
      fileSize:
        description: The size of the file in bytes. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.
        format: int64
        type: string
        facets:
          format: string
        required: false
      folderColorRgb:
        description: 'Folder color as an RGB hex string if the file is a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.'
        type: string
[...]
