#%RAML 1.0
title: Surveys
version: v2
baseUri: 'https://www.googleapis.com/surveys/v2'
protocols:
  - HTTPS
description: 'Creates and conducts surveys, lists the surveys that an authenticated user owns, and retrieves survey results and information about specified surveys.'
(oas-tags-definition):
  - name: mobileapppanels
  - name: results
  - name: surveys
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/surveys/v2/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): surveys
  contact:
    name: Google
    url: 'https://google.com'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/surveys'
        - 'https://www.googleapis.com/auth/surveys.readonly'
        - 'https://www.googleapis.com/auth/userinfo.email'
    description: Oauth 2.0 authentication
/surveys:
  displayName: surveys
  '/{resourceId}':
    displayName: '{resourceId}'
    /start:
      displayName: start
      post:
        displayName: surveys.surveys.start
        description: Begins running a survey.
        body:
          application/json:
            type: SurveysStartRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: SurveysStartResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/userinfo.email'
        (oas-tags):
          - surveys
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /stop:
      displayName: stop
      post:
        displayName: surveys.surveys.stop
        description: Stops a running survey.
        responses:
          '200':
            body:
              application/json:
                type: SurveysStopResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/userinfo.email'
        (oas-tags):
          - surveys
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  '/{surveyUrlId}':
    displayName: '{surveyUrlId}'
    /results:
      displayName: results
      get:
        displayName: surveys.results.get
        description: Retrieves any survey results that have been produced so far. Results are formatted as an Excel file. You must add "?alt=media" to the URL as an argument to get results.
        responses:
          '200':
            body:
              application/json:
                type: SurveyResults
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/userinfo.email'
        (oas-tags):
          - results
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    uriParameters:
      surveyUrlId:
        description: External URL ID for the survey.
        required: true
        type: string
        displayName: External URL ID for the survey.
    put:
      displayName: surveys.surveys.update
      description: Updates a survey. Currently the only property that can be updated is the owners property.
      body:
        application/json:
          type: Survey
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Survey
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/userinfo.email'
      (oas-tags):
        - surveys
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: surveys.surveys.get
      description: Retrieves information about the specified survey.
      responses:
        '200':
          body:
            application/json:
              type: Survey
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/userinfo.email'
      (oas-tags):
        - surveys
    delete:
      displayName: surveys.surveys.delete
      description: Removes a survey from view in all user GET requests.
      responses:
        '200':
          body:
            application/json:
              type: SurveysDeleteResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/userinfo.email'
      (oas-tags):
        - surveys
  post:
    displayName: surveys.surveys.insert
    description: Creates a survey.
    body:
      application/json:
        type: Survey
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Survey
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/userinfo.email'
    (oas-tags):
      - surveys
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: surveys.surveys.list
    description: Lists the surveys owned by the authenticated user.
    responses:
      '200':
        body:
          application/json:
            type: SurveysListResponse
        description: Successful response
    queryParameters:
      maxResults:
        type: integer
      startIndex:
        type: integer
      token:
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/userinfo.email'
    (oas-tags):
      - surveys
/mobileAppPanels:
  displayName: mobileAppPanels
  get:
    displayName: surveys.mobileapppanels.list
    description: Lists the MobileAppPanels available to the authenticated user.
    responses:
      '200':
        body:
          application/json:
            type: MobileAppPanelsListResponse
        description: Successful response
    queryParameters:
      maxResults:
        type: integer
      startIndex:
        type: integer
      token:
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/userinfo.email'
    (oas-tags):
      - mobileapppanels
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{panelId}':
    displayName: '{panelId}'
    uriParameters:
      panelId:
        description: External URL ID for the panel.
        required: true
        type: string
        displayName: External URL ID for the panel.
    get:
      displayName: surveys.mobileapppanels.get
      description: Retrieves a MobileAppPanel that is available to the authenticated user.
      responses:
        '200':
          body:
            application/json:
              type: MobileAppPanel
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/userinfo.email'
      (oas-tags):
        - mobileapppanels
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    put:
      displayName: surveys.mobileapppanels.update
      description: Updates a MobileAppPanel. Currently the only property that can be updated is the owners property.
      body:
        application/json:
          type: MobileAppPanel
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: MobileAppPanel
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/userinfo.email'
      (oas-tags):
        - mobileapppanels
types:
  FieldMask:
    properties:
      fields:
        items:
          type: FieldMask
        type: array
        required: false
      id:
        format: int32
        type: integer
        required: false
  MobileAppPanel:
    description: Representation of an individual pre-defined panel object defining a targeted audience of opinion rewards mobile app users.
    properties:
      country:
        description: 'Country code for the country of the users that the panel contains. Uses standard ISO 3166-1 2-character language codes. For instance, ''US'' for the United States, and ''GB'' for the United Kingdom. Any survey created targeting this panel must also target the corresponding country.'
        type: string
        required: false
      isPublicPanel:
        description: Whether or not the panel is accessible to all API users.
        type: boolean
        required: false
      language:
        description: 'Language code that the panel can target. For instance, ''en-US''. Uses standard BCP47 language codes. See specification. Any survey created targeting this panel must also target the corresponding language.'
        type: string
        required: false
      mobileAppPanelId:
        description: Unique panel ID string. This corresponds to the mobile_app_panel_id used in Survey Insert requests.
        type: string
        required: false
      name:
        description: Human readable name of the audience panel.
        type: string
        required: false
      owners:
        description: List of email addresses for users who can target members of this panel. Must contain at least the address of the user making the API call for panels that are not public. This field will be empty for public panels.
        items:
          type: string
        type: array
        required: false
  MobileAppPanelsListResponse:
    properties:
      pageInfo:
        type: PageInfo
        required: false
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
        required: false
      resources:
        description: An individual predefined panel of Opinion Rewards mobile users.
        items:
          type: MobileAppPanel
        type: array
        required: false
      tokenPagination:
        type: TokenPagination
        required: false
  PageInfo:
    properties:
      resultPerPage:
        format: int32
        type: integer
        required: false
      startIndex:
        format: int32
        type: integer
        required: false
      totalResults:
        format: int32
        type: integer
        required: false
  ResultsGetRequest:
    properties:
      resultMask:
        type: ResultsMask
        required: false
  ResultsMask:
    properties:
      fields:
        items:
          type: FieldMask
        type: array
        required: false
      projection:
        type: string
        required: false
  Survey:
    description: Representation of an individual survey object.
    properties:
      audience:
        description: Targeting-criteria message containing demographic information
        type: SurveyAudience
        required: false
      cost:
        description: Cost to run the survey and collect the necessary number of responses.
        type: SurveyCost
        required: false
      customerData:
        description: Additional information to store on behalf of the API consumer and associate with this question. This binary blob is treated as opaque. This field is limited to 64K bytes.
        format: byte
        type: string
        facets:
          format: string
        required: false
      description:
        description: Text description of the survey.
        type: string
        required: false
      owners:
        description: List of email addresses for survey owners. Must contain at least the address of the user making the API call.
        items:
          type: string
        type: array
        required: false
      questions:
        description: List of questions defining the survey.
        items:
          type: SurveyQuestion
        type: array
        required: false
      rejectionReason:
        description: Reason for the survey being rejected. Only present if the survey state is rejected.
        type: SurveyRejection
        required: false
      state:
        description: State that the survey is in.
        type: string
        required: false
      surveyUrlId:
        description: 'Unique survey ID, that is viewable in the URL of the Survey Creator UI'
        type: string
        required: false
      title:
        description: Optional name that will be given to the survey.
        type: string
        required: false
      wantedResponseCount:
        description: Number of responses desired for the survey.
        format: int32
        type: integer
        required: false
  SurveyAudience:
    description: Specifications for the target audience of a survey run through the API.
    properties:
      ages:
        description: 'Optional list of age buckets to target. Supported age buckets are: [''18-24'', ''25-34'', ''35-44'', ''45-54'', ''55-64'', ''65+'']'
        items:
          type: string
        type: array
        required: false
      country:
        description: 'Required country code that surveys should be targeted to. Accepts standard ISO 3166-1 2 character language codes. For instance, ''US'' for the United States, and ''GB'' for the United Kingdom.'
        type: string
        required: false
      countrySubdivision:
        description: 'Country subdivision (states/provinces/etc) that surveys should be targeted to. For all countries except GB, ISO-3166-2 subdivision code is required (eg. ''US-OH'' for Ohio, United States). For GB, NUTS 1 statistical region codes for the United Kingdom is required (eg. ''UK-UKC'' for North East England).'
        type: string
        required: false
      gender:
        description: Optional gender to target.
        type: string
        required: false
      languages:
        description: 'Language code that surveys should be targeted to. For instance, ''en-US''. Surveys may target bilingual users by specifying a list of language codes (for example, ''de'' and ''en-US''). In that case, all languages will be used for targeting users but the survey content (which is displayed) must match the first language listed. Accepts standard BCP47 language codes. See specification.'
        items:
          type: string
        type: array
        required: false
      mobileAppPanelId:
        description: Key for predefined panel that causes survey to be sent to a predefined set of Opinion Rewards App users. You must set PopulationSource to ANDROID_APP_PANEL to use this field.
        type: string
        required: false
      populationSource:
        description: Online population source where the respondents are sampled from.
        type: string
        required: false
  SurveyCost:
    description: Message defining the cost to run a given survey through API.
    properties:
      costPerResponseNanos:
        description: 'Cost per survey response in nano units of the given currency. To get the total cost for a survey, multiply this value by wanted_response_count.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      currencyCode:
        description: Currency code that the cost is given in.
        type: string
        required: false
      maxCostPerResponseNanos:
        description: 'Threshold to start a survey automatically if the quoted price is at most this value. When a survey has a Screener (threshold) question, it must go through an incidence pricing test to determine the final cost per response. Typically you will have to make a followup call to start the survey giving the final computed cost per response. If the survey has no threshold_answers, setting this property will return an error. By specifying this property, you indicate the max price per response you are willing to pay in advance of the incidence test. If the price turns out to be lower than the specified value, the survey will begin immediately and you will be charged at the rate determined by the incidence pricing test. If the price turns out to be greater than the specified value the survey will not be started and you will instead be notified what price was determined by the incidence test. At that point, you must raise the value of this property to be greater than or equal to that cost before attempting to start the survey again. This will immediately start the survey as long the incidence test was run within the last 21 days.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      nanos:
        description: Cost of survey in nano units of the given currency. DEPRECATED in favor of cost_per_response_nanos
        format: int64
        type: string
        facets:
          format: string
        required: false
  SurveyQuestion:
    description: Message defining the question specifications.
    properties:
      answerOrder:
        description: 'The randomization option for multiple choice and multi-select questions. If not specified, this option defaults to randomize.'
        type: string
        required: false
      answers:
        description: Required list of answer options for a question.
        items:
          type: string
        type: array
        required: false
      hasOther:
        description: 'Option to allow open-ended text box for Single Answer and Multiple Answer question types. This can be used with SINGLE_ANSWER, SINGLE_ANSWER_WITH_IMAGE, MULTIPLE_ANSWERS, and MULTIPLE_ANSWERS_WITH_IMAGE question types.'
        type: boolean
        required: false
      highValueLabel:
        description: 'For rating questions, the text for the higher end of the scale, such as ''Best''. For numeric questions, a string representing a floating-point that is the maximum allowed number for a response.'
        type: string
        required: false
      images:
        items:
          type: SurveyQuestionImage
        type: array
        required: false
      lastAnswerPositionPinned:
        description: Currently only support pinning an answer option to the last position.
        type: boolean
        required: false
      lowValueLabel:
        description: 'For rating questions, the text for the lower end of the scale, such as ''Worst''. For numeric questions, a string representing a floating-point that is the minimum allowed number for a response.'
        type: string
        required: false
      mustPickSuggestion:
        description: Option to force the user to pick one of the open text suggestions. This requires that suggestions are provided for this question.
        type: boolean
        required: false
      numStars:
        description: Number of stars to use for ratings questions.
        type: string
        required: false
      openTextPlaceholder:
        description: Placeholder text for an open text question.
        type: string
        required: false
      openTextSuggestions:
        description: A list of suggested answers for open text question auto-complete. This is only valid if single_line_response is true.
        items:
          type: string
        type: array
        required: false
      question:
        description: Required question text shown to the respondent.
        type: string
        required: false
      sentimentText:
        description: 'Used by the Rating Scale with Text question type. This text goes along with the question field that is presented to the respondent, and is the actual text that the respondent is asked to rate.'
        type: string
        required: false
      singleLineResponse:
        description: Option to allow multiple line open text responses instead of a single line response. Note that we don't show auto-complete suggestions with multiple line responses.
        type: boolean
        required: false
      thresholdAnswers:
        description: 'The threshold/screener answer options, which will screen a user into the rest of the survey. These will be a subset of the answer option strings.'
        items:
          type: string
        type: array
        required: false
      type:
        description: 'Required field defining the question type. For details about configuring different type of questions, consult the question configuration guide.'
        type: string
        required: false
      unitOfMeasurementLabel:
        description: 'Optional unit of measurement for display (for example: hours, people, miles).'
        type: string
        required: false
      videoId:
        description: The YouTube video ID to be show in video questions.
        type: string
        required: false
  SurveyQuestionImage:
    description: Container object for image data and alt_text.
    properties:
      altText:
        description: The alt text property used in image tags is required for all images.
        type: string
        required: false
      data:
        description: 'Inline jpeg, gif, tiff, bmp, or png image raw bytes for an image question types.'
        format: byte
        type: string
        facets:
          format: string
        required: false
      url:
        description: The read-only URL for the hosted images.
        type: string
        required: false
  SurveyRejection:
    description: 'Message representing why the survey was rejected from review, if it was.'
    properties:
      explanation:
        description: A human-readable explanation of what was wrong with the survey.
        type: string
        required: false
      type:
        description: Which category of rejection this was. See the  Google Surveys Help Center for additional details on each category.
        type: string
        required: false
  SurveyResults:
    description: Reference to the current results for a given survey.
    properties:
      status:
        description: Human readable string describing the status of the request.
        type: string
        required: false
      surveyUrlId:
        description: External survey ID as viewable by survey owners in the editor view.
        type: string
        required: false
  SurveysDeleteResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
        required: false
  SurveysListResponse:
    properties:
      pageInfo:
        type: PageInfo
        required: false
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
        required: false
      resources:
        description: An individual survey resource.
        items:
          type: Survey
        type: array
        required: false
      tokenPagination:
        type: TokenPagination
        required: false
  SurveysStartRequest:
    properties:
      maxCostPerResponseNanos:
        description: Threshold to start a survey automically if the quoted prices is less than or equal to this value. See Survey.Cost for more details.
        format: int64
        type: string
        facets:
          format: string
        required: false
  SurveysStartResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
        required: false
      resource:
        description: Survey object containing the specification of the started Survey.
        type: Survey
        required: false
  SurveysStopResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
        required: false
      resource:
        description: Survey object containing the specification of the stopped Survey.
        type: Survey
        required: false
  TokenPagination:
    properties:
      nextPageToken:
        type: string
        required: false
      previousPageToken:
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
