#%RAML 1.0
title: Content API for Shopping
version: v2
baseUri: 'https://www.googleapis.com/content/v2'
protocols:
  - HTTPS
description: 'Manages product items, inventory, and Merchant Center accounts for Google Shopping.'
(oas-tags-definition):
  - name: accounts
  - name: accountshipping
  - name: accountstatuses
  - name: accounttax
  - name: datafeeds
  - name: datafeedstatuses
  - name: inventory
  - name: orders
  - name: products
  - name: productstatuses
  - name: shippingsettings
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/content/v2/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): content
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/shopping-content'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/content'
    description: Oauth 2.0 authentication
'/{merchantId}':
  displayName: '{merchantId}'
  /datafeeds:
    displayName: datafeeds
    '/{datafeedId}':
      displayName: '{datafeedId}'
      uriParameters:
        datafeedId:
          required: true
          type: string
      get:
        displayName: content.datafeeds.get
        description: Retrieves a datafeed from your Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: Datafeed
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - datafeeds
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: content.datafeeds.patch
        description: Updates a datafeed of your Merchant Center account. This method supports patch semantics.
        body:
          application/json:
            type: Datafeed
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Datafeed
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - datafeeds
      put:
        displayName: content.datafeeds.update
        description: Updates a datafeed of your Merchant Center account.
        body:
          application/json:
            type: Datafeed
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Datafeed
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - datafeeds
      delete:
        displayName: content.datafeeds.delete
        description: Deletes a datafeed from your Merchant Center account.
        responses:
          '200':
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - datafeeds
    get:
      displayName: content.datafeeds.list
      description: Lists the datafeeds in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: DatafeedsListResponse
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of products to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - datafeeds
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    post:
      displayName: content.datafeeds.insert
      description: Registers a datafeed with your Merchant Center account.
      body:
        application/json:
          type: Datafeed
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Datafeed
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - datafeeds
  /testordertemplates:
    displayName: testordertemplates
    '/{templateName}':
      displayName: '{templateName}'
      uriParameters:
        templateName:
          description: The name of the template to retrieve.
          enum:
            - template1
            - template1a
            - template1b
            - template2
          required: true
          type: string
      get:
        displayName: content.orders.gettestordertemplate
        description: Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox.
        responses:
          '200':
            body:
              application/json:
                type: OrdersGetTestOrderTemplateResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - orders
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /datafeedstatuses:
    displayName: datafeedstatuses
    get:
      displayName: content.datafeedstatuses.list
      description: Lists the statuses of the datafeeds in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: DatafeedstatusesListResponse
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of products to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - datafeedstatuses
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{datafeedId}':
      displayName: '{datafeedId}'
      uriParameters:
        datafeedId:
          required: true
          type: string
      get:
        displayName: content.datafeedstatuses.get
        description: Retrieves the status of a datafeed from your Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: DatafeedStatus
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - datafeedstatuses
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /inventory:
    displayName: inventory
    '/{storeCode}':
      displayName: '{storeCode}'
      /products:
        displayName: products
        '/{productId}':
          displayName: '{productId}'
          uriParameters:
            productId:
              description: The ID of the product for which to update price and availability.
              required: true
              type: string
          post:
            displayName: content.inventory.set
            description: Updates price and availability of a product in your Merchant Center account. This operation does not update the expiration date of the product.
            body:
              application/json:
                type: InventorySetRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: InventorySetResponse
                description: Successful response
            queryParameters:
              dryRun:
                description: Flag to run the request in dry-run mode.
                type: boolean
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/content'
            (oas-tags):
              - inventory
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
  /orders:
    displayName: orders
    get:
      displayName: content.orders.list
      description: Lists the orders in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: OrdersListResponse
          description: Successful response
      queryParameters:
        acknowledged:
          description: |-
            Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.
            We recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.
          type: boolean
        maxResults:
          description: |-
            The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.
            Known issue: All List calls will return all Orders without limit regardless of the value of this field.
          type: integer
        orderBy:
          description: 'The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. "placedDate desc" stands for listing orders by placement date, from oldest to most recent. "placedDate asc" stands for listing orders by placement date, from most recent to oldest. In future releases we''ll support other sorting criteria.'
          enum:
            - placedDate asc
            - placedDate desc
          type: string
        pageToken:
          description: The token returned by the previous request.
          type: string
        placedDateEnd:
          description: 'Obtains orders placed before this date (exclusively), in ISO 8601 format.'
          type: string
        placedDateStart:
          description: 'Obtains orders placed after this date (inclusively), in ISO 8601 format.'
          type: string
        statuses:
          collectionFormat: multi
          description: 'Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.'
          items:
            enum:
              - active
              - canceled
              - completed
              - delivered
              - inProgress
              - partiallyDelivered
              - partiallyReturned
              - partiallyShipped
              - pendingShipment
              - returned
              - shipped
            type: string
          type: array
          facets:
            collectionFormat: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - orders
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{orderId}':
      displayName: '{orderId}'
      uriParameters:
        orderId:
          description: The ID of the order.
          required: true
          type: string
      get:
        displayName: content.orders.get
        description: Retrieves an order from your Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: Order
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - orders
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      /acknowledge:
        displayName: acknowledge
        post:
          displayName: content.orders.acknowledge
          description: Marks an order as acknowledged.
          body:
            application/json:
              type: OrdersAcknowledgeRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersAcknowledgeResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /cancel:
        displayName: cancel
        post:
          displayName: content.orders.cancel
          description: Cancels all line items in an order.
          body:
            application/json:
              type: OrdersCancelRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersCancelResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /cancelLineItem:
        displayName: cancelLineItem
        post:
          displayName: content.orders.cancellineitem
          description: Cancels a line item.
          body:
            application/json:
              type: OrdersCancelLineItemRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersCancelLineItemResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /refund:
        displayName: refund
        post:
          displayName: content.orders.refund
          description: 'Refund a portion of the order, up to the full amount paid.'
          body:
            application/json:
              type: OrdersRefundRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersRefundResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /returnLineItem:
        displayName: returnLineItem
        post:
          displayName: content.orders.returnlineitem
          description: Returns a line item.
          body:
            application/json:
              type: OrdersReturnLineItemRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersReturnLineItemResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /shipLineItems:
        displayName: shipLineItems
        post:
          displayName: content.orders.shiplineitems
          description: Marks line item(s) as shipped.
          body:
            application/json:
              type: OrdersShipLineItemsRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersShipLineItemsResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /updateMerchantOrderId:
        displayName: updateMerchantOrderId
        post:
          displayName: content.orders.updatemerchantorderid
          description: Updates the merchant order ID for a given order.
          body:
            application/json:
              type: OrdersUpdateMerchantOrderIdRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersUpdateMerchantOrderIdResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /updateShipment:
        displayName: updateShipment
        post:
          displayName: content.orders.updateshipment
          description: 'Updates a shipment''s status, carrier, and/or tracking ID.'
          body:
            application/json:
              type: OrdersUpdateShipmentRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersUpdateShipmentResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
  /accounts:
    displayName: accounts
    get:
      displayName: content.accounts.list
      description: Lists the sub-accounts in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: AccountsListResponse
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of accounts to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accounts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{accountId}':
      displayName: '{accountId}'
      uriParameters:
        accountId:
          description: The ID of the account.
          required: true
          type: string
      delete:
        displayName: content.accounts.delete
        description: Deletes a Merchant Center sub-account.
        responses:
          '200':
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accounts
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: content.accounts.patch
        description: Updates a Merchant Center account. This method supports patch semantics.
        body:
          application/json:
            type: Account
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Account
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accounts
      get:
        displayName: content.accounts.get
        description: Retrieves a Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: Account
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accounts
      put:
        displayName: content.accounts.update
        description: Updates a Merchant Center account.
        body:
          application/json:
            type: Account
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Account
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accounts
    post:
      displayName: content.accounts.insert
      description: Creates a Merchant Center sub-account.
      body:
        application/json:
          type: Account
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accounts
  /accountshipping:
    displayName: accountshipping
    get:
      displayName: content.accountshipping.list
      description: Lists the shipping settings of the sub-accounts in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: AccountshippingListResponse
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of shipping settings to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accountshipping
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{accountId}':
      displayName: '{accountId}'
      uriParameters:
        accountId:
          description: The ID of the account for which to get/update account shipping settings.
          required: true
          type: string
      patch:
        displayName: content.accountshipping.patch
        description: Updates the shipping settings of the account. This method supports patch semantics.
        body:
          application/json:
            type: AccountShipping
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AccountShipping
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accountshipping
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: content.accountshipping.get
        description: Retrieves the shipping settings of the account.
        responses:
          '200':
            body:
              application/json:
                type: AccountShipping
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accountshipping
      put:
        displayName: content.accountshipping.update
        description: Updates the shipping settings of the account.
        body:
          application/json:
            type: AccountShipping
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AccountShipping
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accountshipping
  /accountstatuses:
    displayName: accountstatuses
    get:
      displayName: content.accountstatuses.list
      description: Lists the statuses of the sub-accounts in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: AccountstatusesListResponse
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of account statuses to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accountstatuses
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{accountId}':
      displayName: '{accountId}'
      uriParameters:
        accountId:
          description: The ID of the account.
          required: true
          type: string
      get:
        displayName: content.accountstatuses.get
        description: Retrieves the status of a Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: AccountStatus
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accountstatuses
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /accounttax:
    displayName: accounttax
    get:
      displayName: content.accounttax.list
      description: Lists the tax settings of the sub-accounts in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: AccounttaxListResponse
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of tax settings to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accounttax
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{accountId}':
      displayName: '{accountId}'
      uriParameters:
        accountId:
          description: The ID of the account for which to get/update account tax settings.
          required: true
          type: string
      patch:
        displayName: content.accounttax.patch
        description: Updates the tax settings of the account. This method supports patch semantics.
        body:
          application/json:
            type: AccountTax
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AccountTax
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accounttax
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      put:
        displayName: content.accounttax.update
        description: Updates the tax settings of the account.
        body:
          application/json:
            type: AccountTax
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: AccountTax
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accounttax
      get:
        displayName: content.accounttax.get
        description: Retrieves the tax settings of the account.
        responses:
          '200':
            body:
              application/json:
                type: AccountTax
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - accounttax
  /ordersbymerchantid:
    displayName: ordersbymerchantid
    '/{merchantOrderId}':
      displayName: '{merchantOrderId}'
      uriParameters:
        merchantOrderId:
          description: The merchant order id to be looked for.
          required: true
          type: string
      get:
        displayName: content.orders.getbymerchantorderid
        description: Retrieves an order using merchant order id.
        responses:
          '200':
            body:
              application/json:
                type: OrdersGetByMerchantOrderIdResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - orders
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /products:
    displayName: products
    get:
      displayName: content.products.list
      description: Lists the products in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: ProductsListResponse
          description: Successful response
      queryParameters:
        includeInvalidInsertedItems:
          description: Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).
          type: boolean
        maxResults:
          description: 'The maximum number of products to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - products
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    post:
      displayName: content.products.insert
      description: Uploads a product to your Merchant Center account.
      body:
        application/json:
          type: Product
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Product
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - products
    '/{productId}':
      displayName: '{productId}'
      uriParameters:
        productId:
          description: The ID of the product.
          required: true
          type: string
      delete:
        displayName: content.products.delete
        description: Deletes a product from your Merchant Center account.
        responses:
          '200':
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - products
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: content.products.get
        description: Retrieves a product from your Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: Product
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - products
  /productstatuses:
    displayName: productstatuses
    get:
      displayName: content.productstatuses.list
      description: Lists the statuses of the products in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: ProductstatusesListResponse
          description: Successful response
      queryParameters:
        includeInvalidInsertedItems:
          description: Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).
          type: boolean
        maxResults:
          description: 'The maximum number of product statuses to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - productstatuses
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{productId}':
      displayName: '{productId}'
      uriParameters:
        productId:
          description: The ID of the product.
          required: true
          type: string
      get:
        displayName: content.productstatuses.get
        description: Gets the status of a product from your Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: ProductStatus
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - productstatuses
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /shippingsettings:
    displayName: shippingsettings
    get:
      displayName: content.shippingsettings.list
      description: Lists the shipping settings of the sub-accounts in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: ShippingsettingsListResponse
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of shipping settings to return in the response, used for paging.'
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - shippingsettings
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{accountId}':
      displayName: '{accountId}'
      uriParameters:
        accountId:
          description: The ID of the account for which to get/update shipping settings.
          required: true
          type: string
      get:
        displayName: content.shippingsettings.get
        description: Retrieves the shipping settings of the account.
        responses:
          '200':
            body:
              application/json:
                type: ShippingSettings
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - shippingsettings
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: content.shippingsettings.patch
        description: Updates the shipping settings of the account. This method supports patch semantics.
        body:
          application/json:
            type: ShippingSettings
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ShippingSettings
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - shippingsettings
      put:
        displayName: content.shippingsettings.update
        description: Updates the shipping settings of the account.
        body:
          application/json:
            type: ShippingSettings
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ShippingSettings
            description: Successful response
        queryParameters:
          dryRun:
            description: Flag to run the request in dry-run mode.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - shippingsettings
  /testorders:
    displayName: testorders
    '/{orderId}':
      displayName: '{orderId}'
      /advance:
        displayName: advance
        post:
          displayName: content.orders.advancetestorder
          description: Sandbox only. Moves a test order from state "inProgress" to state "pendingShipment".
          responses:
            '200':
              body:
                application/json:
                  type: OrdersAdvanceTestOrderResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    post:
      displayName: content.orders.createtestorder
      description: Sandbox only. Creates a test order.
      body:
        application/json:
          type: OrdersCreateTestOrderRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: OrdersCreateTestOrderResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - orders
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /supportedCarriers:
    displayName: supportedCarriers
    get:
      displayName: content.shippingsettings.getsupportedcarriers
      description: Retrieves supported carriers and carrier services for an account.
      responses:
        '200':
          body:
            application/json:
              type: ShippingsettingsGetSupportedCarriersResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - shippingsettings
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/accounts:
  displayName: accounts
  /authinfo:
    displayName: authinfo
    get:
      displayName: content.accounts.authinfo
      description: Returns information about the authenticated user.
      responses:
        '200':
          body:
            application/json:
              type: AccountsAuthInfoResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accounts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /batch:
    displayName: batch
    post:
      displayName: content.accounts.custombatch
      description: 'Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.'
      body:
        application/json:
          type: AccountsCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AccountsCustomBatchResponse
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accounts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/accountshipping:
  displayName: accountshipping
  /batch:
    displayName: batch
    post:
      displayName: content.accountshipping.custombatch
      description: Retrieves and updates the shipping settings of multiple accounts in a single request.
      body:
        application/json:
          type: AccountshippingCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AccountshippingCustomBatchResponse
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accountshipping
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/accounttax:
  displayName: accounttax
  /batch:
    displayName: batch
    post:
      displayName: content.accounttax.custombatch
      description: Retrieves and updates tax settings of multiple accounts in a single request.
      body:
        application/json:
          type: AccounttaxCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AccounttaxCustomBatchResponse
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accounttax
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/datafeedstatuses:
  displayName: datafeedstatuses
  /batch:
    displayName: batch
    post:
      displayName: content.datafeedstatuses.custombatch
      body:
        application/json:
          type: DatafeedstatusesCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: DatafeedstatusesCustomBatchResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - datafeedstatuses
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/orders:
  displayName: orders
  /batch:
    displayName: batch
    post:
      displayName: content.orders.custombatch
      description: Retrieves or modifies multiple orders in a single request.
      body:
        application/json:
          type: OrdersCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: OrdersCustomBatchResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - orders
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/productstatuses:
  displayName: productstatuses
  /batch:
    displayName: batch
    post:
      displayName: content.productstatuses.custombatch
      description: Gets the statuses of multiple products in a single request.
      body:
        application/json:
          type: ProductstatusesCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ProductstatusesCustomBatchResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - productstatuses
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/accountstatuses:
  displayName: accountstatuses
  /batch:
    displayName: batch
    post:
      displayName: content.accountstatuses.custombatch
      body:
        application/json:
          type: AccountstatusesCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AccountstatusesCustomBatchResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - accountstatuses
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/inventory:
  displayName: inventory
  /batch:
    displayName: batch
    post:
      displayName: content.inventory.custombatch
      description: Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products.
      body:
        application/json:
          type: InventoryCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: InventoryCustomBatchResponse
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - inventory
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/shippingsettings:
  displayName: shippingsettings
  /batch:
    displayName: batch
    post:
      displayName: content.shippingsettings.custombatch
      description: Retrieves and updates the shipping settings of multiple accounts in a single request.
      body:
        application/json:
          type: ShippingsettingsCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ShippingsettingsCustomBatchResponse
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - shippingsettings
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/products:
  displayName: products
  /batch:
    displayName: batch
    post:
      displayName: content.products.custombatch
      description: 'Retrieves, inserts, and deletes multiple products in a single request.'
      body:
        application/json:
          type: ProductsCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ProductsCustomBatchResponse
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - products
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/datafeeds:
  displayName: datafeeds
  /batch:
    displayName: batch
    post:
      displayName: content.datafeeds.custombatch
      body:
        application/json:
          type: DatafeedsCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: DatafeedsCustomBatchResponse
          description: Successful response
      queryParameters:
        dryRun:
          description: Flag to run the request in dry-run mode.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - datafeeds
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  Account:
    description: Account data.
    properties:
      adultContent:
        description: Indicates whether the merchant sells adult content.
        type: boolean
        required: false
      adwordsLinks:
        description: 'List of linked AdWords accounts, active or pending approval. To create a new link request, add a new link with status active to the list. It will remain is state pending until approved or rejected in the AdWords interface. To delete an active link or to cancel a link request, remove it from the list.'
        items:
          type: AccountAdwordsLink
        type: array
        required: false
      id:
        description: Merchant Center account ID.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'content#account'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#account".'
        type: string
        required: false
      name:
        description: Display name for the account.
        type: string
        required: false
      reviewsUrl:
        description: 'URL for individual seller reviews, i.e., reviews for each child account.'
        type: string
        required: false
      sellerId:
        description: 'Client-specific, locally-unique, internal ID for the child account.'
        type: string
        required: false
      users:
        description: Users with access to the account. Every account (except for subaccounts) must have at least one admin user.
        items:
          type: AccountUser
        type: array
        required: false
      websiteUrl:
        description: The merchant's website.
        type: string
        required: false
  AccountAdwordsLink:
    properties:
      adwordsId:
        description: Customer ID of the AdWords account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      status:
        description: 'Status of the link between this Merchant Center account and the AdWords account. Upon retrieval, it represents the actual status of the link and can be either active if it was approved in Google AdWords or pending if it''s pending approval. Upon insertion, it represents the intended status of the link. Re-uploading a link with status active when it''s still pending or with status pending when it''s already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status inactive is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending.'
        type: string
        required: false
  AccountIdentifier:
    properties:
      aggregatorId:
        description: 'The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      merchantId:
        description: 'The merchant account ID, set for individual accounts and subaccounts.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
  AccountShipping:
    description: The shipping settings of a merchant account.
    properties:
      accountId:
        description: The ID of the account to which these account shipping settings belong.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      carrierRates:
        description: Carrier-based shipping calculations.
        items:
          type: AccountShippingCarrierRate
        type: array
        required: false
      kind:
        default: 'content#accountShipping'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountShipping".'
        type: string
        required: false
      locationGroups:
        description: Location groups for shipping.
        items:
          type: AccountShippingLocationGroup
        type: array
        required: false
      rateTables:
        description: Rate tables definitions.
        items:
          type: AccountShippingRateTable
        type: array
        required: false
      services:
        description: Shipping services describing shipping fees calculation.
        items:
          type: AccountShippingShippingService
        type: array
        required: false
  AccountShippingCarrierRate:
    description: A carrier-calculated shipping rate.
    properties:
      carrier:
        description: 'The carrier that is responsible for the shipping, such as "UPS", "FedEx", or "USPS".'
        type: string
        required: false
      carrierService:
        description: 'The carrier service, such as "Ground" or "2Day".'
        type: string
        required: false
      modifierFlatRate:
        description: Additive shipping rate modifier.
        type: Price
        required: false
      modifierPercent:
        description: Multiplicative shipping rate modifier in percent. Represented as a floating point number without the percentage character.
        type: string
        required: false
      name:
        description: The name of the carrier rate.
        type: string
        required: false
      saleCountry:
        description: 'The sale country for which this carrier rate is valid, represented as a CLDR territory code.'
        type: string
        required: false
      shippingOrigin:
        description: Shipping origin represented as a postal code.
        type: string
        required: false
  AccountShippingCondition:
    properties:
      deliveryLocationGroup:
        description: Delivery location in terms of a location group name. A location group with this name must be specified among location groups.
        type: string
        required: false
      deliveryLocationId:
        description: 'Delivery location in terms of a location ID. Can be used to represent administrative areas, smaller country subdivisions, or cities.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      deliveryPostalCode:
        description: Delivery location in terms of a postal code.
        type: string
        required: false
      deliveryPostalCodeRange:
        description: Delivery location in terms of a postal code range.
        type: AccountShippingPostalCodeRange
        required: false
      priceMax:
        description: Maximum shipping price. Forms an interval between the maximum of smaller prices (exclusive) and this price (inclusive).
        type: Price
        required: false
      shippingLabel:
        description: Shipping label of the product. The products with the label are matched.
        type: string
        required: false
      weightMax:
        description: Maximum shipping weight. Forms an interval between the maximum of smaller weight (exclusive) and this weight (inclusive).
        type: Weight
        required: false
  AccountShippingLocationGroup:
    description: A user-defined locations group in a given country. All the locations of the group must be of the same type.
    properties:
      country:
        description: The CLDR territory code of the country in which this location group is.
        type: string
        required: false
      locationIds:
        description: 'A location ID (also called criteria ID) representing administrative areas, smaller country subdivisions (counties), or cities.'
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      name:
        description: The name of the location group.
        type: string
        required: false
      postalCodeRanges:
        description: A postal code range representing a city or a set of cities.
        items:
          type: AccountShippingPostalCodeRange
        type: array
        required: false
      postalCodes:
        description: |-
          A postal code representing a city or a set of cities.  
          - A single postal code (e.g., 12345)
          - A postal code prefix followed by a star (e.g., 1234*)
        items:
          type: string
        type: array
        required: false
  AccountShippingPostalCodeRange:
    description: |-
      A postal code range, that can be either:  
      - A range of postal codes (e.g., start=12340, end=12359)
      - A range of postal codes prefixes (e.g., start=1234* end=1235*). Prefixes must be of the same length (e.g., start=12* end=2* is invalid).
    properties:
      end:
        description: The last (inclusive) postal code or prefix of the range.
        type: string
        required: false
      start:
        description: The first (inclusive) postal code or prefix of the range.
        type: string
        required: false
  AccountShippingRateTable:
    description: 'A single or bi-dimensional table of shipping rates. Each dimension is defined in terms of consecutive price/weight ranges, delivery locations, or shipping labels.'
    properties:
      content:
        description: One-dimensional table cells define one condition along the same dimension. Bi-dimensional table cells use two dimensions with respectively M and N distinct values and must contain exactly M * N cells with distinct conditions (for each possible value pairs).
        items:
          type: AccountShippingRateTableCell
        type: array
        required: false
      name:
        description: The name of the rate table.
        type: string
        required: false
      saleCountry:
        description: 'The sale country for which this table is valid, represented as a CLDR territory code.'
        type: string
        required: false
  AccountShippingRateTableCell:
    properties:
      condition:
        description: 'Conditions for which the cell is valid. All cells in a table must use the same dimension or pair of dimensions among price, weight, shipping label or delivery location. If no condition is specified, the cell acts as a catch-all and matches all the elements that are not matched by other cells in this dimension.'
        type: AccountShippingCondition
        required: false
      rate:
        description: The rate applicable if the cell conditions are matched.
        type: Price
        required: false
  AccountShippingShippingService:
    description: Shipping services provided in a country.
    properties:
      active:
        description: Whether the shipping service is available.
        type: boolean
        required: false
      calculationMethod:
        description: Calculation method for the "simple" case that needs no rules.
        type: AccountShippingShippingServiceCalculationMethod
        required: false
      costRuleTree:
        description: Decision tree for "complicated" shipping cost calculation.
        type: AccountShippingShippingServiceCostRule
        required: false
      maxDaysInTransit:
        description: The maximum number of days in transit. Must be a value between 0 and 250 included. A value of 0 means same day delivery.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      minDaysInTransit:
        description: The minimum number of days in transit. Must be a value between 0 and maxDaysIntransit included. A value of 0 means same day delivery.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      name:
        description: The name of this shipping service.
        type: string
        required: false
      saleCountry:
        description: The CLDR territory code of the sale country for which this service can be used.
        type: string
        required: false
  AccountShippingShippingServiceCalculationMethod:
    description: Shipping cost calculation method. Exactly one of the field is set.
    properties:
      carrierRate:
        description: Name of the carrier rate to use for the calculation.
        type: string
        required: false
      excluded:
        description: Delivery is excluded. Valid only within cost rules tree.
        type: boolean
        required: false
      flatRate:
        description: 'Fixed price shipping, represented as a floating point number associated with a currency.'
        type: Price
        required: false
      percentageRate:
        description: 'Percentage of the price, represented as a floating point number without the percentage character.'
        type: string
        required: false
      rateTable:
        description: Name of the rate table to use for the calculation.
        type: string
        required: false
  AccountShippingShippingServiceCostRule:
    description: |-
      Building block of the cost calculation decision tree.  
      - The tree root should have no condition and no calculation method.
      - All the children must have a condition on the same dimension. The first child matching a condition is entered, therefore, price and weight conditions form contiguous intervals.
      - The last child of an element must have no condition and matches all elements not previously matched.
      - Children and calculation method are mutually exclusive, and exactly one of them must be defined; the root must only have children.
    properties:
      calculationMethod:
        description: Final calculation method to be used only in leaf nodes.
        type: AccountShippingShippingServiceCalculationMethod
        required: false
      children:
        description: 'Subsequent rules to be applied, only for inner nodes. The last child must not specify a condition and acts as a catch-all.'
        items:
          type: AccountShippingShippingServiceCostRule
        type: array
        required: false
      condition:
        description: 'Condition for this rule to be applicable. If no condition is specified, the rule acts as a catch-all.'
        type: AccountShippingCondition
        required: false
  AccountStatus:
    description: 'The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.'
    properties:
      accountId:
        description: The ID of the account for which the status is reported.
        type: string
        required: false
      dataQualityIssues:
        description: A list of data quality issues.
        items:
          type: AccountStatusDataQualityIssue
        type: array
        required: false
      kind:
        default: 'content#accountStatus'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountStatus".'
        type: string
        required: false
  AccountStatusDataQualityIssue:
    properties:
      country:
        description: Country for which this issue is reported.
        type: string
        required: false
      displayedValue:
        description: Actual value displayed on the landing page.
        type: string
        required: false
      exampleItems:
        description: Example items featuring the issue.
        items:
          type: AccountStatusExampleItem
        type: array
        required: false
      id:
        description: Issue identifier.
        type: string
        required: false
      lastChecked:
        description: Last time the account was checked for this issue.
        type: string
        required: false
      numItems:
        description: Number of items in the account found to have the said issue.
        type: integer
        required: false
      severity:
        description: Severity of the problem.
        type: string
        required: false
      submittedValue:
        description: Submitted value that causes the issue.
        type: string
        required: false
  AccountStatusExampleItem:
    description: 'An example of an item that has poor data quality. An item value on the landing page differs from what is submitted, or conflicts with a policy.'
    properties:
      itemId:
        description: Unique item ID as specified in the uploaded product data.
        type: string
        required: false
      link:
        description: Landing page of the item.
        type: string
        required: false
      submittedValue:
        description: The item value that was submitted.
        type: string
        required: false
      title:
        description: Title of the item.
        type: string
        required: false
      valueOnLandingPage:
        description: The actual value on the landing page.
        type: string
        required: false
  AccountTax:
    description: The tax settings of a merchant account.
    properties:
      accountId:
        description: The ID of the account to which these account tax settings belong.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'content#accountTax'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountTax".'
        type: string
        required: false
      rules:
        description: Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.
        items:
          type: AccountTaxTaxRule
        type: array
        required: false
  AccountTaxTaxRule:
    description: Tax calculation rule to apply in a state or province (USA only).
    properties:
      country:
        description: Country code in which tax is applicable.
        type: string
        required: false
      locationId:
        description: 'State (or province) is which the tax is applicable, described by its location id (also called criteria id).'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      ratePercent:
        description: 'Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.'
        type: string
        required: false
      shippingTaxed:
        description: 'If true, shipping charges are also taxed.'
        type: boolean
        required: false
      useGlobalRate:
        description: Whether the tax rate is taken from a global tax table or specified explicitly.
        type: boolean
        required: false
  AccountUser:
    properties:
      admin:
        description: Whether user is an admin.
        type: boolean
        required: false
      emailAddress:
        description: User's email address.
        type: string
        required: false
  AccountsAuthInfoResponse:
    properties:
      accountIdentifiers:
        description: |-
          The account identifiers corresponding to the authenticated user.
          - For an individual account: only the merchant ID is defined
          - For an aggregator: only the aggregator ID is defined
          - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined.
        items:
          type: AccountIdentifier
        type: array
        required: false
      kind:
        default: 'content#accountsAuthInfoResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsAuthInfoResponse".'
        type: string
        required: false
  AccountsCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          type: AccountsCustomBatchRequestEntry
        type: array
        required: false
  AccountsCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch accounts request.
    properties:
      account:
        description: The account to create or update. Only defined if the method is insert or update.
        type: Account
        required: false
      accountId:
        description: The ID of the account to get or delete. Only defined if the method is get or delete.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      batchId:
        description: 'An entry ID, unique within the batch request.'
        type: integer
        required: false
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      method:
        type: string
        required: false
  AccountsCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          type: AccountsCustomBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'content#accountsCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsCustomBatchResponse".'
        type: string
        required: false
  AccountsCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch accounts response.
    properties:
      account:
        description: 'The retrieved, created, or updated account. Not defined if the method was delete.'
        type: Account
        required: false
      batchId:
        description: The ID of the request entry this entry responds to.
        type: integer
        required: false
      errors:
        description: A list of errors defined if and only if the request failed.
        type: Errors
        required: false
      kind:
        default: 'content#accountsCustomBatchResponseEntry'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsCustomBatchResponseEntry".'
        type: string
        required: false
  AccountsListResponse:
    properties:
      kind:
        default: 'content#accountsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsListResponse".'
        type: string
        required: false
      nextPageToken:
        description: The token for the retrieval of the next page of accounts.
        type: string
        required: false
      resources:
        items:
          type: Account
        type: array
        required: false
  AccountshippingCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          type: AccountshippingCustomBatchRequestEntry
        type: array
        required: false
  AccountshippingCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch accountshipping request.
    properties:
      accountId:
        description: The ID of the account for which to get/update account shipping settings.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      accountShipping:
        description: The account shipping settings to update. Only defined if the method is update.
        type: AccountShipping
        required: false
      batchId:
        description: 'An entry ID, unique within the batch request.'
        type: integer
        required: false
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      method:
        type: string
        required: false
  AccountshippingCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          type: AccountshippingCustomBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'content#accountshippingCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountshippingCustomBatchResponse".'
        type: string
        required: false
  AccountshippingCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch accountshipping response.
    properties:
      accountShipping:
        description: The retrieved or updated account shipping settings.
        type: AccountShipping
        required: false
      batchId:
        description: The ID of the request entry this entry responds to.
        type: integer
        required: false
      errors:
        description: A list of errors defined if and only if the request failed.
        type: Errors
        required: false
      kind:
        default: 'content#accountshippingCustomBatchResponseEntry'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountshippingCustomBatchResponseEntry".'
        type: string
        required: false
  AccountshippingListResponse:
    properties:
      kind:
        default: 'content#accountshippingListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountshippingListResponse".'
        type: string
        required: false
      nextPageToken:
        description: The token for the retrieval of the next page of account shipping settings.
        type: string
        required: false
      resources:
        items:
          type: AccountShipping
        type: array
        required: false
  AccountstatusesCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          type: AccountstatusesCustomBatchRequestEntry
        type: array
        required: false
  AccountstatusesCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch accountstatuses request.
    properties:
      accountId:
        description: The ID of the (sub-)account whose status to get.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      batchId:
        description: 'An entry ID, unique within the batch request.'
        type: integer
        required: false
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      method:
        description: The method (get).
        type: string
        required: false
  AccountstatusesCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          type: AccountstatusesCustomBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'content#accountstatusesCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountstatusesCustomBatchResponse".'
        type: string
        required: false
  AccountstatusesCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch accountstatuses response.
    properties:
      accountStatus:
        description: The requested account status. Defined if and only if the request was successful.
        type: AccountStatus
        required: false
      batchId:
        description: The ID of the request entry this entry responds to.
        type: integer
        required: false
      errors:
        description: A list of errors defined if and only if the request failed.
        type: Errors
        required: false
  AccountstatusesListResponse:
    properties:
      kind:
        default: 'content#accountstatusesListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountstatusesListResponse".'
        type: string
        required: false
      nextPageToken:
        description: The token for the retrieval of the next page of account statuses.
        type: string
        required: false
      resources:
        items:
          type: AccountStatus
        type: array
        required: false
  AccounttaxCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          type: AccounttaxCustomBatchRequestEntry
        type: array
        required: false
  AccounttaxCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch accounttax request.
    properties:
      accountId:
        description: The ID of the account for which to get/update account tax settings.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      accountTax:
        description: The account tax settings to update. Only defined if the method is update.
        type: AccountTax
        required: false
      batchId:
        description: 'An entry ID, unique within the batch request.'
        type: integer
        required: false
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      method:
        type: string
        required: false
  AccounttaxCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          type: AccounttaxCustomBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'content#accounttaxCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxCustomBatchResponse".'
        type: string
        required: false
  AccounttaxCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch accounttax response.
    properties:
      accountTax:
        description: The retrieved or updated account tax settings.
        type: AccountTax
        required: false
      batchId:
        description: The ID of the request entry this entry responds to.
        type: integer
        required: false
      errors:
        description: A list of errors defined if and only if the request failed.
        type: Errors
        required: false
      kind:
        default: 'content#accounttaxCustomBatchResponseEntry'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxCustomBatchResponseEntry".'
        type: string
        required: false
  AccounttaxListResponse:
    properties:
      kind:
        default: 'content#accounttaxListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxListResponse".'
        type: string
        required: false
      nextPageToken:
        description: The token for the retrieval of the next page of account tax settings.
        type: string
        required: false
      resources:
        items:
          type: AccountTax
        type: array
        required: false
  CarrierRate:
    properties:
      carrierName:
        description: 'Carrier service, such as "UPS" or "Fedex". The list of supported carriers can be retrieved via the getSupportedCarriers method. Required.'
        type: string
        required: false
      carrierService:
        description: 'Carrier service, such as "ground" or "2 days". The list of supported services for a carrier can be retrieved via the getSupportedCarriers method. Required.'
        type: string
        required: false
      flatAdjustment:
        description: 'Additive shipping rate modifier. Can be negative. For example { "value": "1", "currency" : "USD" } adds $1 to the rate, { "value": "-3", "currency" : "USD" } removes $3 from the rate. Optional.'
        type: Price
        required: false
      name:
        description: Name of the carrier rate. Must be unique per rate group. Required.
        type: string
        required: false
      originPostalCode:
        description: Shipping origin for this carrier rate. Required.
        type: string
        required: false
      percentageAdjustment:
        description: 'Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example "5.4" increases the rate by 5.4%, "-3" decreases the rate by 3%. Optional.'
        type: string
        required: false
  CarriersCarrier:
    properties:
      country:
        description: 'The CLDR country code of the carrier (e.g., "US"). Always present.'
        type: string
        required: false
      name:
        description: 'The name of the carrier (e.g., "UPS"). Always present.'
        type: string
        required: false
      services:
        description: 'A list of supported services (e.g., "ground") for that carrier. Contains at least one service.'
        items:
          type: string
        type: array
        required: false
  Datafeed:
    description: Datafeed data.
    properties:
      attributeLanguage:
        description: The two-letter ISO 639-1 language in which the attributes are defined in the data feed.
        type: string
        required: false
      contentLanguage:
        description: The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for targetCountry.
        type: string
        required: false
      contentType:
        description: The type of data feed.
        type: string
        required: false
      fetchSchedule:
        description: Fetch schedule for the feed file.
        type: DatafeedFetchSchedule
        required: false
      fileName:
        description: The filename of the feed. All feeds must have a unique file name.
        type: string
        required: false
      format:
        description: Format of the feed file.
        type: DatafeedFormat
        required: false
      id:
        description: The ID of the data feed.
        format: int64
        type: string
        facets:
          format: string
        required: false
      intendedDestinations:
        description: The list of intended destinations (corresponds to checked check boxes in Merchant Center).
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'content#datafeed'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeed".'
        type: string
        required: false
      name:
        description: A descriptive name of the data feed.
        type: string
        required: false
      targetCountry:
        description: 'The country where the items in the feed will be included in the search index, represented as a CLDR territory code.'
        type: string
        required: false
  DatafeedFetchSchedule:
    description: 'The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.'
    properties:
      dayOfMonth:
        description: The day of the month the feed file should be fetched (1-31).
        type: integer
        required: false
      fetchUrl:
        description: 'The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols.'
        type: string
        required: false
      hour:
        description: The hour of the day the feed file should be fetched (0-23).
        type: integer
        required: false
      minuteOfHour:
        description: The minute of the hour the feed file should be fetched (0-59). Read-only.
        type: integer
        required: false
      password:
        description: An optional password for fetch_url.
        type: string
        required: false
      timeZone:
        description: 'Time zone used for schedule. UTC by default. E.g., "America/Los_Angeles".'
        type: string
        required: false
      username:
        description: An optional user name for fetch_url.
        type: string
        required: false
      weekday:
        description: The day of the week the feed file should be fetched.
        type: string
        required: false
  DatafeedFormat:
    properties:
      columnDelimiter:
        description: 'Delimiter for the separation of values in a delimiter-separated values feed. If not specified, the delimiter will be auto-detected. Ignored for non-DSV data feeds.'
        type: string
        required: false
      fileEncoding:
        description: 'Character encoding scheme of the data feed. If not specified, the encoding will be auto-detected.'
        type: string
        required: false
      quotingMode:
        description: 'Specifies how double quotes are interpreted. If not specified, the mode will be auto-detected. Ignored for non-DSV data feeds.'
        type: string
        required: false
  DatafeedStatus:
    description: 'The status of a datafeed, i.e., the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished.'
    properties:
      datafeedId:
        description: The ID of the feed for which the status is reported.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      errors:
        description: The list of errors occurring in the feed.
        items:
          type: DatafeedStatusError
        type: array
        required: false
      itemsTotal:
        description: The number of items in the feed that were processed.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      itemsValid:
        description: The number of items in the feed that were valid.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'content#datafeedStatus'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeedStatus".'
        type: string
        required: false
      lastUploadDate:
        description: The last date at which the feed was uploaded.
        type: string
        required: false
      processingStatus:
        description: The processing status of the feed.
        type: string
        required: false
      warnings:
        description: The list of errors occurring in the feed.
        items:
          type: DatafeedStatusError
        type: array
        required: false
  DatafeedStatusError:
    description: 'An error occurring in the feed, like "invalid price".'
    properties:
      code:
        description: 'The code of the error, e.g., "validation/invalid_value".'
        type: string
        required: false
      count:
        description: The number of occurrences of the error in the feed.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      examples:
        description: 'A list of example occurrences of the error, grouped by product.'
        items:
          type: DatafeedStatusExample
        type: array
        required: false
      message:
        description: 'The error message, e.g., "Invalid price".'
        type: string
        required: false
  DatafeedStatusExample:
    description: An example occurrence for a particular error.
    properties:
      itemId:
        description: The ID of the example item.
        type: string
        required: false
      lineNumber:
        description: Line number in the data feed where the example is found.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      value:
        description: The problematic value.
        type: string
        required: false
  DatafeedsCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          type: DatafeedsCustomBatchRequestEntry
        type: array
        required: false
  DatafeedsCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch datafeeds request.
    properties:
      batchId:
        description: 'An entry ID, unique within the batch request.'
        type: integer
        required: false
      datafeed:
        description: The data feed to insert.
        type: Datafeed
        required: false
      datafeedId:
        description: The ID of the data feed to get or delete.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      method:
        type: string
        required: false
  DatafeedsCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          type: DatafeedsCustomBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'content#datafeedsCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeedsCustomBatchResponse".'
        type: string
        required: false
  DatafeedsCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch datafeeds response.
    properties:
      batchId:
        description: The ID of the request entry this entry responds to.
        type: integer
        required: false
      datafeed:
        description: The requested data feed. Defined if and only if the request was successful.
        type: Datafeed
        required: false
      errors:
        description: A list of errors defined if and only if the request failed.
        type: Errors
        required: false
  DatafeedsListResponse:
    properties:
      kind:
        default: 'content#datafeedsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeedsListResponse".'
        type: string
        required: false
      nextPageToken:
        description: The token for the retrieval of the next page of datafeeds.
        type: string
        required: false
      resources:
        items:
          type: Datafeed
        type: array
        required: false
  DatafeedstatusesCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          type: DatafeedstatusesCustomBatchRequestEntry
        type: array
        required: false
  DatafeedstatusesCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch datafeedstatuses request.
    properties:
      batchId:
        description: 'An entry ID, unique within the batch request.'
        type: integer
        required: false
      datafeedId:
        description: The ID of the data feed to get or delete.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      method:
        type: string
        required: false
  DatafeedstatusesCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          type: DatafeedstatusesCustomBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'content#datafeedstatusesCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeedstatusesCustomBatchResponse".'
        type: string
        required: false
  DatafeedstatusesCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch datafeedstatuses response.
    properties:
      batchId:
        description: The ID of the request entry this entry responds to.
        type: integer
        required: false
      datafeedStatus:
        description: The requested data feed status. Defined if and only if the request was successful.
        type: DatafeedStatus
        required: false
      errors:
        description: A list of errors defined if and only if the request failed.
        type: Errors
        required: false
  DatafeedstatusesListResponse:
    properties:
      kind:
        default: 'content#datafeedstatusesListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeedstatusesListResponse".'
        type: string
        required: false
      nextPageToken:
        description: The token for the retrieval of the next page of datafeed statuses.
[...]
