#%RAML 1.0
title: CustomSearch
version: v1
baseUri: 'https://www.googleapis.com/customsearch'
protocols:
  - HTTPS
description: Lets you search over a website or collection of websites
(oas-tags-definition):
  - name: cse
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/customsearch/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): customsearch
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/custom-search/v1/using_rest'
/v1:
  displayName: v1
  get:
    displayName: search.cse.list
    description: 'Returns metadata about the search performed, metadata about the custom search engine used for the search, and the search results.'
    responses:
      '200':
        body:
          application/json:
            type: Search
        description: Successful response
    queryParameters:
      q:
        description: Query
        required: true
        type: string
      c2coff:
        description: Turns off the translation between zh-CN and zh-TW.
        type: string
      cr:
        description: Country restrict(s).
        type: string
      cref:
        description: The URL of a linked custom search engine
        type: string
      cx:
        description: The custom search engine ID to scope this search query
        type: string
      dateRestrict:
        description: Specifies all search results are from a time period
        type: string
      exactTerms:
        description: Identifies a phrase that all documents in the search results must contain
        type: string
      excludeTerms:
        description: Identifies a word or phrase that should not appear in any documents in the search results
        type: string
      fileType:
        description: 'Returns images of a specified type. Some of the allowed values are: bmp, gif, png, jpg, svg, pdf, ...'
        type: string
      filter:
        description: Controls turning on or off the duplicate content filter.
        enum:
          - '0'
          - '1'
        type: string
      gl:
        description: Geolocation of end user.
        type: string
      googlehost:
        description: The local Google domain to use to perform the search.
        type: string
      highRange:
        description: Creates a range in form as_nlo value..as_nhi value and attempts to append it to query
        type: string
      hl:
        description: Sets the user interface language.
        type: string
      hq:
        description: Appends the extra query terms to the query.
        type: string
      imgColorType:
        description: 'Returns black and white, grayscale, or color images: mono, gray, and color.'
        enum:
          - color
          - gray
          - mono
        type: string
      imgDominantColor:
        description: 'Returns images of a specific dominant color: yellow, green, teal, blue, purple, pink, white, gray, black and brown.'
        enum:
          - black
          - blue
          - brown
          - gray
          - green
          - pink
          - purple
          - teal
          - white
          - yellow
        type: string
      imgSize:
        description: 'Returns images of a specified size, where size can be one of: icon, small, medium, large, xlarge, xxlarge, and huge.'
        enum:
          - huge
          - icon
          - large
          - medium
          - small
          - xlarge
          - xxlarge
        type: string
      imgType:
        description: 'Returns images of a type, which can be one of: clipart, face, lineart, news, and photo.'
        enum:
          - clipart
          - face
          - lineart
          - news
          - photo
        type: string
      linkSite:
        description: Specifies that all search results should contain a link to a particular URL
        type: string
      lowRange:
        description: Creates a range in form as_nlo value..as_nhi value and attempts to append it to query
        type: string
      lr:
        description: The language restriction for the search results
        enum:
          - lang_ar
          - lang_bg
          - lang_ca
          - lang_cs
          - lang_da
          - lang_de
          - lang_el
          - lang_en
          - lang_es
          - lang_et
          - lang_fi
          - lang_fr
          - lang_hr
          - lang_hu
          - lang_id
          - lang_is
          - lang_it
          - lang_iw
          - lang_ja
          - lang_ko
          - lang_lt
          - lang_lv
          - lang_nl
          - lang_no
          - lang_pl
          - lang_pt
          - lang_ro
          - lang_ru
          - lang_sk
          - lang_sl
          - lang_sr
          - lang_sv
          - lang_tr
          - lang_zh-CN
          - lang_zh-TW
        type: string
      num:
        default: 10
        description: Number of search results to return
        type: integer
      orTerms:
        description: 'Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms'
        type: string
      relatedSite:
        description: Specifies that all search results should be pages that are related to the specified URL
        type: string
      rights:
        description: 'Filters based on licensing. Supported values include: cc_publicdomain, cc_attribute, cc_sharealike, cc_noncommercial, cc_nonderived and combinations of these.'
        type: string
      safe:
        default: 'off'
        description: Search safety level
        enum:
          - high
          - medium
          - 'off'
        type: string
      searchType:
        description: 'Specifies the search type: image.'
        enum:
          - image
        type: string
      siteSearch:
        description: Specifies all search results should be pages from a given site
        type: string
      siteSearchFilter:
        description: Controls whether to include or exclude results from the site named in the as_sitesearch parameter
        enum:
          - e
          - i
        type: string
      sort:
        description: The sort expression to apply to the results
        type: string
      start:
        description: The index of the first result to return
        type: integer
    (oas-tags):
      - cse
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Context:
    properties:
      facets:
        items:
          items:
            properties:
              anchor:
                type: string
                required: false
              label:
                type: string
                required: false
              label_with_op:
                type: string
                required: false
            type: object
          type: array
        type: array
        required: false
      title:
        type: string
        required: false
  Promotion:
    properties:
      bodyLines:
        items:
          properties:
            htmlTitle:
              type: string
              required: false
            link:
              type: string
              required: false
            title:
              type: string
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
      displayLink:
        type: string
        required: false
      htmlTitle:
        type: string
        required: false
      image:
        properties:
          height:
            format: int32
            type: integer
            required: false
          source:
            type: string
            required: false
          width:
            format: int32
            type: integer
            required: false
        type: object
        required: false
      link:
        type: string
        required: false
      title:
        type: string
        required: false
  Query:
    properties:
      count:
        format: int32
        type: integer
        required: false
      cr:
        type: string
        required: false
      cref:
        type: string
        required: false
      cx:
        type: string
        required: false
      dateRestrict:
        type: string
        required: false
      disableCnTwTranslation:
        type: string
        required: false
      exactTerms:
        type: string
        required: false
      excludeTerms:
        type: string
        required: false
      fileType:
        type: string
        required: false
      filter:
        type: string
        required: false
      gl:
        type: string
        required: false
      googleHost:
        type: string
        required: false
      highRange:
        type: string
        required: false
      hl:
        type: string
        required: false
      hq:
        type: string
        required: false
      imgColorType:
        type: string
        required: false
      imgDominantColor:
        type: string
        required: false
      imgSize:
        type: string
        required: false
      imgType:
        type: string
        required: false
      inputEncoding:
        type: string
        required: false
      language:
        type: string
        required: false
      linkSite:
        type: string
        required: false
      lowRange:
        type: string
        required: false
      orTerms:
        type: string
        required: false
      outputEncoding:
        type: string
        required: false
      relatedSite:
        type: string
        required: false
      rights:
        type: string
        required: false
      safe:
        type: string
        required: false
      searchTerms:
        type: string
        required: false
      searchType:
        type: string
        required: false
      siteSearch:
        type: string
        required: false
      siteSearchFilter:
        type: string
        required: false
      sort:
        type: string
        required: false
      startIndex:
        format: int32
        type: integer
        required: false
      startPage:
        format: int32
        type: integer
        required: false
      title:
        type: string
        required: false
      totalResults:
        format: int64
        type: string
        facets:
          format: string
        required: false
  Result:
    properties:
      cacheId:
        type: string
        required: false
      displayLink:
        type: string
        required: false
      fileFormat:
        type: string
        required: false
      formattedUrl:
        type: string
        required: false
      htmlFormattedUrl:
        type: string
        required: false
      htmlSnippet:
        type: string
        required: false
      htmlTitle:
        type: string
        required: false
      image:
        properties:
          byteSize:
            format: int32
            type: integer
            required: false
          contextLink:
            type: string
            required: false
          height:
            format: int32
            type: integer
            required: false
          thumbnailHeight:
            format: int32
            type: integer
            required: false
          thumbnailLink:
            type: string
            required: false
          thumbnailWidth:
            format: int32
            type: integer
            required: false
          width:
            format: int32
            type: integer
            required: false
        type: object
        required: false
      kind:
        default: 'customsearch#result'
        type: string
        required: false
      labels:
        items:
          properties:
            displayName:
              type: string
              required: false
            label_with_op:
              type: string
              required: false
            name:
              type: string
              required: false
          type: object
        type: array
        required: false
      link:
        type: string
        required: false
      mime:
        type: string
        required: false
      pagemap:
        type: object
        required: false
        properties:
          //:
            items:
              additionalProperties: {}
              type: object
            type: array
      snippet:
        type: string
        required: false
      title:
        type: string
        required: false
  Search:
    properties:
      context:
        type: Context
        required: false
      items:
        items:
          type: Result
        type: array
        required: false
      kind:
        default: 'customsearch#search'
        type: string
        required: false
      promotions:
        items:
          type: Promotion
        type: array
        required: false
      queries:
        type: object
        required: false
        properties:
          //:
            items:
              type: Query
            type: array
      searchInformation:
        properties:
          formattedSearchTime:
            type: string
            required: false
          formattedTotalResults:
            type: string
            required: false
          searchTime:
            format: double
            type: number
            required: false
          totalResults:
            format: int64
            type: string
            facets:
              format: string
            required: false
        type: object
        required: false
      spelling:
        properties:
          correctedQuery:
            type: string
            required: false
          htmlCorrectedQuery:
            type: string
            required: false
        type: object
        required: false
      url:
        properties:
          template:
            default: 'https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json'
            type: string
            required: false
          type:
            default: application/json
            type: string
            required: false
        type: object
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - atom
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
