#%RAML 1.0
title: Knowledge Graph Search
version: v1
baseUri: 'https://kgsearch.googleapis.com/'
protocols:
  - HTTPS
description: Knowledge Graph Search API allows developers to search the Google Knowledge Graph for entities.
(oas-tags-definition):
  - name: entities
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/kgsearch/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): kgsearch
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/knowledge-graph/'
/v1:
  displayName: v1
  '/entities:search':
    displayName: 'entities:search'
    get:
      displayName: kgsearch.entities.search
      description: 'Searches Knowledge Graph for entities that match the constraints. A list of matched entities will be returned in response, which will be in JSON-LD format and compatible with http://schema.org'
      responses:
        '200':
          body:
            application/json:
              type: SearchResponse
          description: Successful response
      queryParameters:
        query:
          description: The literal query string for search.
          type: string
          displayName: The literal query string for search.
        ids:
          collectionFormat: multi
          description: The list of entity id to be used for search instead of query string.
          items:
            type: string
          type: array
          displayName: The list of entity id to be used for search instead of query string.
          facets:
            collectionFormat: string
        languages:
          collectionFormat: multi
          description: 'The list of language codes (defined in ISO 693) to run the query with, e.g. ''en''.'
          items:
            type: string
          type: array
          displayName: 'The list of language codes (defined in ISO 693) to run the query with, e.g. ''en''.'
          facets:
            collectionFormat: string
        types:
          collectionFormat: multi
          description: 'Restricts returned entities with these types, e.g. Person (as defined in http://schema.org/Person).'
          items:
            type: string
          type: array
          displayName: 'Restricts returned entities with these types, e.g. Person (as defined in http://schema.org/Person).'
          facets:
            collectionFormat: string
        indent:
          description: Enables indenting of json results.
          type: boolean
          displayName: Enables indenting of json results.
        prefix:
          description: Enables prefix match against names and aliases of entities
          type: boolean
          displayName: Enables prefix match against names and aliases of entities
        limit:
          description: Limits the number of entities to be returned.
          type: integer
          displayName: Limits the number of entities to be returned.
      (oas-tags):
        - entities
    is:
      - accessToken
      - alt
      - bearerToken
      - callback
      - fields
      - key
      - oauthToken
      - pp
      - prettyPrint
      - quotaUser
      - uploadProtocol
      - uploadType
      - xgafv
types:
  SearchResponse:
    description: Response message includes the context and a list of matching results which contain the detail of associated entities.
    properties:
      context:
        description: 'The local context applicable for the response. See more details at http://www.w3.org/TR/json-ld/#context-definitions.'
        required: false
      itemListElement:
        description: The item list of search results.
        items: {}
        type: array
        required: false
      type:
        description: 'The schema type of top-level JSON-LD object, e.g. ItemList.'
        required: false
traits:
  xgafv:
    queryParameters:
      $.xgafv:
        type: string
        description: V1 error format.
  accessToken:
    queryParameters:
      access_token:
        type: string
        description: OAuth access token.
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for response.
        default: json
  bearerToken:
    queryParameters:
      bearer_token:
        type: string
        description: OAuth bearer token.
  callback:
    queryParameters:
      callback:
        type: string
        description: JSONP
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  pp:
    queryParameters:
      pp:
        type: boolean
        description: Pretty-print response.
        default: true
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
  uploadType:
    queryParameters:
      uploadType:
        type: string
        description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
  uploadProtocol:
    queryParameters:
      upload_protocol:
        type: string
        description: 'Upload protocol for media (e.g. "raw", "multipart").'
