#%RAML 1.0
title: Google+ Domains
version: v1
baseUri: 'https://www.googleapis.com/plusDomains/v1'
protocols:
  - HTTPS
description: Builds on top of the Google+ platform for Google Apps Domains.
(oas-tags-definition):
  - name: activities
  - name: audiences
  - name: circles
  - name: comments
  - name: media
  - name: people
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_developers.google.com_+_images_branding_g+128.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/plusDomains/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): plusDomains
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/+/domains/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/plus.circles.read'
        - 'https://www.googleapis.com/auth/plus.circles.write'
        - 'https://www.googleapis.com/auth/plus.login'
        - 'https://www.googleapis.com/auth/plus.me'
        - 'https://www.googleapis.com/auth/plus.media.upload'
        - 'https://www.googleapis.com/auth/plus.profiles.read'
        - 'https://www.googleapis.com/auth/plus.stream.read'
        - 'https://www.googleapis.com/auth/plus.stream.write'
        - 'https://www.googleapis.com/auth/userinfo.email'
        - 'https://www.googleapis.com/auth/userinfo.profile'
    description: Oauth 2.0 authentication
/circles:
  displayName: circles
  '/{circleId}':
    displayName: '{circleId}'
    /people:
      displayName: people
      put:
        displayName: plusDomains.circles.addPeople
        description: 'Add a person to a circle. Google+ limits certain circle operations, including the number of circle adds. Learn More.'
        responses:
          '200':
            body:
              application/json:
                type: Circle
            description: Successful response
        queryParameters:
          email:
            collectionFormat: multi
            description: 'Email of the people to add to the circle. Optional, can be repeated.'
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
          userId:
            collectionFormat: multi
            description: 'IDs of the people to add to the circle. Optional, can be repeated.'
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - circles
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      delete:
        displayName: plusDomains.circles.removePeople
        description: Remove a person from a circle.
        responses:
          '200':
            description: Successful response
        queryParameters:
          email:
            collectionFormat: multi
            description: 'Email of the people to add to the circle. Optional, can be repeated.'
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
          userId:
            collectionFormat: multi
            description: 'IDs of the people to remove from the circle. Optional, can be repeated.'
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - circles
      get:
        displayName: plusDomains.people.listByCircle
        description: List all of the people who are members of a circle.
        responses:
          '200':
            body:
              application/json:
                type: PeopleFeed
            description: Successful response
        queryParameters:
          maxResults:
            default: 20
            description: 'The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.'
            maximum: 100
            minimum: 1
            type: integer
          pageToken:
            description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - people
    uriParameters:
      circleId:
        description: The ID of the circle to get.
        required: true
        type: string
    delete:
      displayName: plusDomains.circles.remove
      description: Delete a circle.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - circles
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    patch:
      displayName: plusDomains.circles.patch
      description: Update a circle's description. This method supports patch semantics.
      body:
        application/json:
          type: Circle
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Circle
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - circles
    put:
      displayName: plusDomains.circles.update
      description: Update a circle's description.
      body:
        application/json:
          type: Circle
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Circle
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - circles
    get:
      displayName: plusDomains.circles.get
      description: Get a circle.
      responses:
        '200':
          body:
            application/json:
              type: Circle
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - circles
/people:
  displayName: people
  '/{userId}':
    displayName: '{userId}'
    /people:
      displayName: people
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            description: The collection of people to list.
            enum:
              - circled
            required: true
            type: string
        get:
          displayName: plusDomains.people.list
          description: List all of the people in the specified collection.
          responses:
            '200':
              body:
                application/json:
                  type: PeopleFeed
              description: Successful response
          queryParameters:
            maxResults:
              default: 100
              description: 'The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.'
              maximum: 100
              minimum: 1
              type: integer
            orderBy:
              description: The order to return people in.
              enum:
                - alphabetical
                - best
              type: string
            pageToken:
              description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.me'
          (oas-tags):
            - people
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    uriParameters:
      userId:
        description: The ID of the person to get the profile for. The special value "me" can be used to indicate the authenticated user.
        required: true
        type: string
    get:
      displayName: plusDomains.people.get
      description: Get a person's profile.
      responses:
        '200':
          body:
            application/json:
              type: Person
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/userinfo.profile'
      (oas-tags):
        - people
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /activities:
      displayName: activities
      post:
        displayName: plusDomains.activities.insert
        description: Create a new activity for the authenticated user.
        body:
          application/json:
            type: Activity
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Activity
            description: Successful response
        queryParameters:
          preview:
            description: 'If "true", extract the potential media attachments for a URL. The response will include all possible attachments for a URL, including video, photos, and articles based on the content of the page.'
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.stream.write'
        (oas-tags):
          - activities
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            description: The collection of activities to list.
            enum:
              - user
            required: true
            type: string
        get:
          displayName: plusDomains.activities.list
          description: List all of the activities in the specified collection for a particular user.
          responses:
            '200':
              body:
                application/json:
                  type: ActivityFeed
              description: Successful response
          queryParameters:
            maxResults:
              default: 20
              description: 'The maximum number of activities to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.'
              maximum: 100
              minimum: 1
              type: integer
            pageToken:
              description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.stream.read'
          (oas-tags):
            - activities
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /media:
      displayName: media
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            enum:
              - cloud
            required: true
            type: string
        post:
          displayName: plusDomains.media.insert
          description: Add a new media item to an album. The current upload size limitations are 36MB for a photo and 1GB for a video. Uploads do not count against quota if photos are less than 2048 pixels on their longest side or videos are less than 15 minutes in length.
          body:
            application/json:
              type: Media
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Media
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.media.upload'
          (oas-tags):
            - media
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /circles:
      displayName: circles
      post:
        displayName: plusDomains.circles.insert
        description: Create a new circle for the authenticated user.
        body:
          application/json:
            type: Circle
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Circle
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.me'
        (oas-tags):
          - circles
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: plusDomains.circles.list
        description: List all of the circles for a user.
        responses:
          '200':
            body:
              application/json:
                type: CircleFeed
            description: Successful response
        queryParameters:
          maxResults:
            default: 20
            description: 'The maximum number of circles to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.'
            maximum: 100
            minimum: 1
            type: integer
          pageToken:
            description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.me'
        (oas-tags):
          - circles
    /audiences:
      displayName: audiences
      get:
        displayName: plusDomains.audiences.list
        description: List all of the audiences to which a user can share.
        responses:
          '200':
            body:
              application/json:
                type: AudiencesFeed
            description: Successful response
        queryParameters:
          maxResults:
            default: 20
            description: 'The maximum number of circles to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.'
            maximum: 100
            minimum: 1
            type: integer
          pageToken:
            description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.me'
        (oas-tags):
          - audiences
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/comments:
  displayName: comments
  '/{commentId}':
    displayName: '{commentId}'
    uriParameters:
      commentId:
        description: The ID of the comment to get.
        required: true
        type: string
    get:
      displayName: plusDomains.comments.get
      description: Get a comment.
      responses:
        '200':
          body:
            application/json:
              type: Comment
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.stream.read'
      (oas-tags):
        - comments
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/activities:
  displayName: activities
  '/{activityId}':
    displayName: '{activityId}'
    uriParameters:
      activityId:
        description: The ID of the activity to get.
        required: true
        type: string
    get:
      displayName: plusDomains.activities.get
      description: Get an activity.
      responses:
        '200':
          body:
            application/json:
              type: Activity
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.stream.read'
      (oas-tags):
        - activities
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /comments:
      displayName: comments
      post:
        displayName: plusDomains.comments.insert
        description: Create a new comment in reply to an activity.
        body:
          application/json:
            type: Comment
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Comment
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.stream.write'
        (oas-tags):
          - comments
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: plusDomains.comments.list
        description: List all of the comments for an activity.
        responses:
          '200':
            body:
              application/json:
                type: CommentFeed
            description: Successful response
        queryParameters:
          maxResults:
            default: 20
            description: 'The maximum number of comments to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.'
            maximum: 500
            minimum: 0
            type: integer
          pageToken:
            description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
          sortOrder:
            default: ascending
            description: The order in which to sort the list of comments.
            enum:
              - ascending
              - descending
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.stream.read'
        (oas-tags):
          - comments
    /people:
      displayName: people
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            description: The collection of people to list.
            enum:
              - plusoners
              - resharers
              - sharedto
            required: true
            type: string
        get:
          displayName: plusDomains.people.listByActivity
          description: List all of the people in the specified collection for a particular activity.
          responses:
            '200':
              body:
                application/json:
                  type: PeopleFeed
              description: Successful response
          queryParameters:
            maxResults:
              default: 20
              description: 'The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.'
              maximum: 100
              minimum: 1
              type: integer
            pageToken:
              description: 'The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response.'
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.stream.read'
          (oas-tags):
            - people
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
types:
  Acl:
    properties:
      description:
        description: 'Description of the access granted, suitable for display.'
        type: string
        required: false
      domainRestricted:
        description: Whether access is restricted to the domain.
        type: boolean
        required: false
      items:
        description: The list of access entries.
        items:
          type: PlusDomainsAclentryResource
        type: array
        required: false
      kind:
        default: 'plus#acl'
        description: 'Identifies this resource as a collection of access controls. Value: "plus#acl".'
        type: string
        required: false
  Activity:
    properties:
      access:
        description: Identifies who has access to see this activity.
        type: Acl
        required: false
      actor:
        description: The person who performed this activity.
        properties:
          clientSpecificActorInfo:
            description: Actor info specific to particular clients.
            properties:
              youtubeActorInfo:
                description: Actor info specific to YouTube clients.
                properties:
                  channelId:
                    description: ID of the YouTube channel owned by the Actor.
                    type: string
                    required: false
                type: object
                required: false
            type: object
            required: false
          displayName:
            description: 'The name of the actor, suitable for display.'
            type: string
            required: false
          id:
            description: The ID of the actor's Person resource.
            type: string
            required: false
          image:
            description: The image representation of the actor.
            properties:
              url:
                description: 'The URL of the actor''s profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.'
                type: string
                required: false
            type: object
            required: false
          name:
            description: An object representation of the individual components of name.
            properties:
              familyName:
                description: The family name ("last name") of the actor.
                type: string
                required: false
              givenName:
                description: The given name ("first name") of the actor.
                type: string
                required: false
            type: object
            required: false
          url:
            description: The link to the actor's Google profile.
            type: string
            required: false
          verification:
            description: Verification status of actor.
            properties:
              adHocVerified:
                description: Verification for one-time or manual processes.
                type: string
                required: false
            type: object
            required: false
        type: object
        required: false
      address:
        description: Street address where this activity occurred.
        type: string
        required: false
      annotation:
        description: 'Additional content added by the person who shared this activity, applicable only when resharing an activity.'
        type: string
        required: false
      crosspostSource:
        description: 'If this activity is a crosspost from another system, this property specifies the ID of the original activity.'
        type: string
        required: false
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      geocode:
        description: 'Latitude and longitude where this activity occurred. Format is latitude followed by longitude, space separated.'
        type: string
        required: false
      id:
        description: The ID of this activity.
        type: string
        required: false
      kind:
        default: 'plus#activity'
        description: 'Identifies this resource as an activity. Value: "plus#activity".'
        type: string
        required: false
      location:
        description: The location where this activity occurred.
        type: Place
        required: false
      object:
        description: The object of this activity.
        properties:
          actor:
            description: 'If this activity''s object is itself another activity, such as when a person reshares an activity, this property specifies the original activity''s actor.'
            properties:
              clientSpecificActorInfo:
                description: Actor info specific to particular clients.
                properties:
                  youtubeActorInfo:
                    description: Actor info specific to YouTube clients.
                    properties:
                      channelId:
                        description: ID of the YouTube channel owned by the Actor.
                        type: string
                        required: false
                    type: object
                    required: false
                type: object
                required: false
              displayName:
                description: 'The original actor''s name, which is suitable for display.'
                type: string
                required: false
              id:
                description: ID of the original actor.
                type: string
                required: false
              image:
                description: The image representation of the original actor.
                properties:
                  url:
                    description: A URL that points to a thumbnail photo of the original actor.
                    type: string
                    required: false
                type: object
                required: false
              url:
                description: A link to the original actor's Google profile.
                type: string
                required: false
              verification:
                description: Verification status of actor.
                properties:
                  adHocVerified:
                    description: Verification for one-time or manual processes.
                    type: string
                    required: false
                type: object
                required: false
            type: object
            required: false
          attachments:
            description: The media objects attached to this activity.
            items:
              properties:
                content:
                  description: 'If the attachment is an article, this property contains a snippet of text from the article. It can also include descriptions for other types.'
                  type: string
                  required: false
                displayName:
                  description: 'The title of the attachment, such as a photo caption or an article title.'
                  type: string
                  required: false
                embed:
                  description: 'If the attachment is a video, the embeddable link.'
                  properties:
                    type:
                      description: Media type of the link.
                      type: string
                      required: false
                    url:
                      description: URL of the link.
                      type: string
                      required: false
                  type: object
                  required: false
                fullImage:
                  description: The full image URL for photo attachments.
                  properties:
                    height:
                      description: 'The height, in pixels, of the linked resource.'
                      type: integer
                      required: false
                    type:
                      description: Media type of the link.
                      type: string
                      required: false
                    url:
                      description: URL of the image.
                      type: string
                      required: false
                    width:
                      description: 'The width, in pixels, of the linked resource.'
                      type: integer
                      required: false
                  type: object
                  required: false
                id:
                  description: The ID of the attachment.
                  type: string
                  required: false
                image:
                  description: The preview image for photos or videos.
                  properties:
                    height:
                      description: 'The height, in pixels, of the linked resource.'
                      type: integer
                      required: false
                    type:
                      description: Media type of the link.
                      type: string
                      required: false
                    url:
                      description: Image URL.
                      type: string
                      required: false
                    width:
                      description: 'The width, in pixels, of the linked resource.'
                      type: integer
                      required: false
                  type: object
                  required: false
                objectType:
                  description: |-
                    The type of media object. Possible values include, but are not limited to, the following values:  
                    - "photo" - A photo. 
                    - "album" - A photo album. 
                    - "video" - A video. 
                    - "article" - An article, specified by a link.
                  type: string
                  required: false
                previewThumbnails:
                  description: 'When previewing, these are the optional thumbnails for the post. When posting an article, choose one by setting the attachment.image.url property. If you don''t choose one, one will be chosen for you.'
                  items:
                    properties:
                      url:
                        description: URL of the thumbnail image.
                        type: string
                        required: false
                    type: object
                  type: array
                  required: false
                thumbnails:
                  description: 'If the attachment is an album, this property is a list of potential additional thumbnails from the album.'
                  items:
                    properties:
                      description:
                        description: Potential name of the thumbnail.
                        type: string
                        required: false
                      image:
                        description: Image resource.
                        properties:
                          height:
                            description: 'The height, in pixels, of the linked resource.'
                            type: integer
                            required: false
                          type:
                            description: Media type of the link.
                            type: string
                            required: false
                          url:
                            description: Image url.
                            type: string
                            required: false
                          width:
                            description: 'The width, in pixels, of the linked resource.'
                            type: integer
                            required: false
                        type: object
                        required: false
                      url:
                        description: URL of the webpage containing the image.
                        type: string
                        required: false
                    type: object
                  type: array
                  required: false
                url:
                  description: 'The link to the attachment, which should be of type text/html.'
                  type: string
                  required: false
              type: object
            type: array
            required: false
          content:
            description: 'The HTML-formatted content, which is suitable for display.'
            type: string
            required: false
          id:
            description: 'The ID of the object. When resharing an activity, this is the ID of the activity that is being reshared.'
            type: string
            required: false
          objectType:
            description: |-
              The type of the object. Possible values include, but are not limited to, the following values:  
              - "note" - Textual content. 
              - "activity" - A Google+ activity.
            type: string
            required: false
          originalContent:
            description: 'The content (text) as provided by the author, which is stored without any HTML formatting. When creating or updating an activity, this value must be supplied as plain text in the request.'
            type: string
            required: false
          plusoners:
            description: People who +1'd this activity.
            properties:
              selfLink:
                description: The URL for the collection of people who +1'd this activity.
                type: string
                required: false
              totalItems:
                description: Total number of people who +1'd this activity.
                type: integer
                required: false
            type: object
            required: false
          replies:
            description: Comments in reply to this activity.
            properties:
              selfLink:
                description: The URL for the collection of comments in reply to this activity.
                type: string
                required: false
              totalItems:
                description: Total number of comments on this activity.
                type: integer
                required: false
            type: object
            required: false
          resharers:
            description: People who reshared this activity.
            properties:
              selfLink:
                description: The URL for the collection of resharers.
                type: string
                required: false
              totalItems:
                description: Total number of people who reshared this activity.
                type: integer
                required: false
            type: object
            required: false
          statusForViewer:
            description: Status of the activity as seen by the viewer.
            properties:
              canComment:
                description: Whether the viewer can comment on the activity.
                type: boolean
                required: false
              canPlusone:
                description: Whether the viewer can +1 the activity.
                type: boolean
                required: false
              canUpdate:
                description: Whether the viewer can edit or delete the activity.
                type: boolean
                required: false
              isPlusOned:
                description: Whether the viewer has +1'd the activity.
                type: boolean
                required: false
              resharingDisabled:
                description: Whether reshares are disabled for the activity.
                type: boolean
                required: false
            type: object
            required: false
          url:
            description: The URL that points to the linked resource.
            type: string
            required: false
        type: object
        required: false
      placeId:
        description: ID of the place where this activity occurred.
        type: string
        required: false
      placeName:
        description: Name of the place where this activity occurred.
        type: string
        required: false
      provider:
        description: The service provider that initially published this activity.
        properties:
          title:
            description: Name of the service provider.
            type: string
            required: false
        type: object
        required: false
      published:
        description: The time at which this activity was initially published. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
      radius:
        description: 'Radius, in meters, of the region where this activity occurred, centered at the latitude and longitude identified in geocode.'
        type: string
        required: false
      title:
        description: Title of this activity.
        type: string
        required: false
      updated:
        description: The time at which this activity was last updated. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
      url:
        description: The link to this activity.
        type: string
        required: false
      verb:
        description: |-
          This activity's verb, which indicates the action that was performed. Possible values include, but are not limited to, the following values:  
          - "post" - Publish content to the stream. 
          - "share" - Reshare an activity.
        type: string
        required: false
  ActivityFeed:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      id:
        description: The ID of this collection of activities. Deprecated.
        type: string
        required: false
      items:
        description: The activities in this page of results.
        items:
          type: Activity
        type: array
        required: false
      kind:
        default: 'plus#activityFeed'
        description: 'Identifies this resource as a collection of activities. Value: "plus#activityFeed".'
        type: string
        required: false
      nextLink:
        description: Link to the next page of activities.
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      selfLink:
        description: Link to this activity resource.
        type: string
        required: false
      title:
        description: 'The title of this collection of activities, which is a truncated portion of the content.'
        type: string
        required: false
      updated:
        description: The time at which this collection of activities was last updated. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
  Audience:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      item:
        description: The access control list entry.
        type: PlusDomainsAclentryResource
        required: false
      kind:
        default: 'plus#audience'
        description: 'Identifies this resource as an audience. Value: "plus#audience".'
        type: string
        required: false
      memberCount:
        description: The number of people in this circle. This only applies if entity_type is CIRCLE.
        type: integer
        required: false
      visibility:
        description: |-
          The circle members' visibility as chosen by the owner of the circle. This only applies for items with "item.type" equals "circle". Possible values are:  
          - "public" - Members are visible to the public. 
          - "limited" - Members are visible to a limited audience. 
          - "private" - Members are visible to the owner only.
        type: string
        required: false
  AudiencesFeed:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The audiences in this result.
        items:
          type: Audience
        type: array
        required: false
      kind:
        default: 'plus#audiencesFeed'
        description: 'Identifies this resource as a collection of audiences. Value: "plus#audienceFeed".'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      totalItems:
        description: The total number of ACL entries. The number of entries in this response may be smaller due to paging.
        format: int32
        type: integer
        required: false
  Circle:
    properties:
      description:
        description: The description of this circle.
        type: string
        required: false
      displayName:
        description: The circle name.
        type: string
        required: false
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      id:
        description: The ID of the circle.
        type: string
        required: false
      kind:
        default: 'plus#circle'
        description: 'Identifies this resource as a circle. Value: "plus#circle".'
        type: string
        required: false
      people:
        description: The people in this circle.
        properties:
          totalItems:
            description: The total number of people in this circle.
            type: integer
            required: false
        type: object
        required: false
      selfLink:
        description: Link to this circle resource
        type: string
        required: false
  CircleFeed:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The circles in this page of results.
        items:
          type: Circle
        type: array
        required: false
      kind:
        default: 'plus#circleFeed'
        description: 'Identifies this resource as a collection of circles. Value: "plus#circleFeed".'
        type: string
        required: false
      nextLink:
        description: Link to the next page of circles.
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      selfLink:
        description: Link to this page of circles.
        type: string
        required: false
      title:
        description: The title of this list of resources.
        type: string
        required: false
      totalItems:
        description: The total number of circles. The number of circles in this response may be smaller due to paging.
        format: int32
        type: integer
        required: false
  Comment:
    properties:
      actor:
        description: The person who posted this comment.
        properties:
          clientSpecificActorInfo:
            description: Actor info specific to particular clients.
            properties:
              youtubeActorInfo:
                description: Actor info specific to YouTube clients.
                properties:
                  channelId:
                    description: ID of the YouTube channel owned by the Actor.
                    type: string
                    required: false
                type: object
                required: false
            type: object
            required: false
          displayName:
            description: 'The name of this actor, suitable for display.'
            type: string
            required: false
          id:
            description: The ID of the actor.
            type: string
            required: false
          image:
            description: The image representation of this actor.
            properties:
              url:
                description: 'The URL of the actor''s profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.'
                type: string
                required: false
            type: object
            required: false
          url:
            description: A link to the Person resource for this actor.
            type: string
            required: false
          verification:
            description: Verification status of actor.
            properties:
              adHocVerified:
                description: Verification for one-time or manual processes.
                type: string
                required: false
            type: object
            required: false
        type: object
        required: false
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      id:
        description: The ID of this comment.
        type: string
        required: false
      inReplyTo:
        description: The activity this comment replied to.
        items:
          properties:
            id:
              description: The ID of the activity.
              type: string
              required: false
            url:
              description: The URL of the activity.
              type: string
              required: false
          type: object
        type: array
        required: false
      kind:
        default: 'plus#comment'
        description: 'Identifies this resource as a comment. Value: "plus#comment".'
        type: string
        required: false
      object:
        description: The object of this comment.
        properties:
          content:
            description: 'The HTML-formatted content, suitable for display.'
            type: string
            required: false
          objectType:
            default: comment
            description: |-
              The object type of this comment. Possible values are:  
              - "comment" - A comment in reply to an activity.
            type: string
            required: false
          originalContent:
            description: 'The content (text) as provided by the author, stored without any HTML formatting. When creating or updating a comment, this value must be supplied as plain text in the request.'
            type: string
            required: false
        type: object
        required: false
      plusoners:
        description: People who +1'd this comment.
        properties:
          totalItems:
            description: Total number of people who +1'd this comment.
            type: integer
            required: false
        type: object
        required: false
      published:
        description: The time at which this comment was initially published. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
      selfLink:
        description: Link to this comment resource.
        type: string
        required: false
      updated:
        description: The time at which this comment was last updated. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
      verb:
        default: post
        description: |-
          This comment's verb, indicating what action was performed. Possible values are:  
          - "post" - Publish content to the stream.
        type: string
        required: false
  CommentFeed:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      id:
        description: The ID of this collection of comments.
        type: string
        required: false
      items:
        description: The comments in this page of results.
        items:
          type: Comment
        type: array
        required: false
      kind:
        default: 'plus#commentFeed'
        description: 'Identifies this resource as a collection of comments. Value: "plus#commentFeed".'
        type: string
        required: false
      nextLink:
        description: Link to the next page of activities.
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      title:
        description: The title of this collection of comments.
        type: string
        required: false
      updated:
        description: The time at which this collection of comments was last updated. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
  Media:
    properties:
      author:
        description: The person who uploaded this media.
        properties:
          displayName:
            description: The author's name.
            type: string
            required: false
          id:
            description: ID of the author.
            type: string
            required: false
          image:
            description: The author's Google profile image.
            properties:
              url:
                description: 'The URL of the author''s profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.'
                type: string
                required: false
            type: object
            required: false
          url:
            description: A link to the author's Google profile.
            type: string
            required: false
        type: object
        required: false
      displayName:
        description: The display name for this media.
        type: string
        required: false
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      exif:
        description: Exif information of the media item.
        properties:
          time:
            description: The time the media was captured. Formatted as an RFC 3339 timestamp.
            format: rfc3339
            type: datetime
            required: false
        type: object
        required: false
      height:
        description: The height in pixels of the original image.
        type: integer
        required: false
      id:
        description: 'ID of this media, which is generated by the API.'
        type: string
        required: false
      kind:
        default: 'plus#media'
        description: The type of resource.
        type: string
        required: false
      mediaCreatedTime:
        description: 'The time at which this media was originally created in UTC. Formatted as an RFC 3339 timestamp that matches this example: 2010-11-25T14:30:27.655Z'
        format: rfc3339
        type: datetime
        required: false
      mediaUrl:
        description: The URL of this photo or video's still image.
        type: string
        required: false
      published:
        description: The time at which this media was uploaded. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
      sizeBytes:
        description: The size in bytes of this video.
        format: int64
        type: string
        facets:
          format: string
        required: false
      streams:
        description: 'The list of video streams for this video. There might be several different streams available for a single video, either Flash or MPEG, of various sizes'
        items:
          type: Videostream
        type: array
        required: false
      summary:
        description: 'A description, or caption, for this media.'
        type: string
        required: false
      updated:
        description: The time at which this media was last updated. This includes changes to media metadata. Formatted as an RFC 3339 timestamp.
        format: rfc3339
        type: datetime
        required: false
      url:
        description: The URL for the page that hosts this media.
        type: string
        required: false
      videoDuration:
        description: The duration in milliseconds of this video.
        format: int64
        type: string
        facets:
          format: string
        required: false
      videoStatus:
        description: |-
          The encoding status of this video. Possible values are:  
          - "UPLOADING" - Not all the video bytes have been received. 
          - "PENDING" - Video not yet processed. 
          - "FAILED" - Video processing failed. 
          - "READY" - A single video stream is playable. 
          - "FINAL" - All video streams are playable.
        type: string
        required: false
      width:
        description: The width in pixels of the original image.
        type: integer
        required: false
  PeopleFeed:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: 'The people in this page of results. Each item includes the id, displayName, image, and url for the person. To retrieve additional profile data, see the people.get method.'
        items:
          type: Person
        type: array
        required: false
      kind:
        default: 'plus#peopleFeed'
        description: 'Identifies this resource as a collection of people. Value: "plus#peopleFeed".'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      selfLink:
        description: Link to this resource.
        type: string
        required: false
      title:
        description: The title of this collection of people.
        type: string
        required: false
      totalItems:
        description: The total number of people available in this list. The number of people in a response might be smaller due to paging. This might not be set for all collections.
        format: int32
        type: integer
        required: false
  Person:
    properties:
      aboutMe:
        description: A short biography for this person.
        type: string
        required: false
      birthday:
        description: 'The person''s date of birth, represented as YYYY-MM-DD.'
        type: string
        required: false
      braggingRights:
        description: The "bragging rights" line of this person.
        type: string
        required: false
      circledByCount:
        description: 'For followers who are visible, the number of people who have added this person or page to a circle.'
        format: int32
        type: integer
        required: false
      cover:
        description: The cover photo content.
        properties:
          coverInfo:
            description: Extra information about the cover photo.
            properties:
              leftImageOffset:
                description: The difference between the left position of the cover image and the actual displayed cover image. Only valid for banner layout.
                format: int32
                type: integer
                required: false
              topImageOffset:
                description: The difference between the top position of the cover image and the actual displayed cover image. Only valid for banner layout.
                format: int32
                type: integer
                required: false
            type: object
            required: false
          coverPhoto:
            description: The person's primary cover image.
            properties:
              height:
                description: The height of the image.
                format: int32
                type: integer
                required: false
              url:
                description: The URL of the image.
                type: string
                required: false
              width:
                description: The width of the image.
                format: int32
                type: integer
                required: false
            type: object
            required: false
          layout:
            description: |-
              The layout of the cover art. Possible values include, but are not limited to, the following values:  
              - "banner" - One large image banner.
            type: string
            required: false
        type: object
        required: false
      currentLocation:
        description: (this field is not currently used)
        type: string
        required: false
      displayName:
        description: 'The name of this person, which is suitable for display.'
        type: string
        required: false
      domain:
        description: 'The hosted domain name for the user''s Google Apps account. For instance, example.com. The plus.profile.emails.read or email scope is needed to get this domain name.'
        type: string
        required: false
      emails:
        description: 'A list of email addresses that this person has, including their Google account email address, and the public verified email addresses on their Google+ profile. The plus.profile.emails.read scope is needed to retrieve these email addresses, or the email scope can be used to retrieve just the Google account email address.'
        items:
          properties:
            type:
              description: |-
                The type of address. Possible values include, but are not limited to, the following values:  
                - "account" - Google account email address. 
                - "home" - Home email address. 
                - "work" - Work email address. 
                - "other" - Other.
              type: string
              required: false
            value:
              description: The email address.
              type: string
              required: false
          type: object
        type: array
        required: false
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      gender:
        description: |-
          The person's gender. Possible values include, but are not limited to, the following values:  
          - "male" - Male gender. 
          - "female" - Female gender. 
          - "other" - Other.
        type: string
        required: false
      id:
        description: The ID of this person.
        type: string
        required: false
      image:
        description: The representation of the person's profile photo.
        properties:
          isDefault:
            description: Whether the person's profile photo is the default one
            type: boolean
            required: false
          url:
            description: 'The URL of the person''s profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.'
            type: string
            required: false
        type: object
        required: false
      isPlusUser:
        description: Whether this user has signed up for Google+.
        type: boolean
        required: false
      kind:
        default: 'plus#person'
        description: 'Identifies this resource as a person. Value: "plus#person".'
        type: string
        required: false
      name:
        description: An object representation of the individual components of a person's name.
        properties:
          familyName:
            description: The family name (last name) of this person.
            type: string
            required: false
          formatted:
            description: 'The full name of this person, including middle names, suffixes, etc.'
            type: string
            required: false
          givenName:
            description: The given name (first name) of this person.
            type: string
            required: false
          honorificPrefix:
            description: The honorific prefixes (such as "Dr." or "Mrs.") for this person.
            type: string
            required: false
          honorificSuffix:
            description: The honorific suffixes (such as "Jr.") for this person.
            type: string
            required: false
          middleName:
            description: The middle name of this person.
            type: string
            required: false
        type: object
        required: false
      nickname:
        description: The nickname of this person.
        type: string
        required: false
      objectType:
        description: |-
          Type of person within Google+. Possible values include, but are not limited to, the following values:  
          - "person" - represents an actual person. 
          - "page" - represents a page.
        type: string
        required: false
      occupation:
        description: The occupation of this person.
        type: string
        required: false
      organizations:
        description: A list of current or past organizations with which this person is associated.
        items:
          properties:
            department:
              description: The department within the organization. Deprecated.
              type: string
              required: false
            description:
              description: A short description of the person's role in this organization. Deprecated.
              type: string
              required: false
            endDate:
              description: The date that the person left this organization.
              type: string
              required: false
            location:
              description: The location of this organization. Deprecated.
              type: string
              required: false
            name:
              description: The name of the organization.
              type: string
              required: false
            primary:
              description: 'If "true", indicates this organization is the person''s primary one, which is typically interpreted as the current one.'
              type: boolean
              required: false
            startDate:
              description: The date that the person joined this organization.
              type: string
              required: false
            title:
              description: The person's job title or role within the organization.
              type: string
              required: false
            type:
              description: |-
                The type of organization. Possible values include, but are not limited to, the following values:  
                - "work" - Work. 
                - "school" - School.
              type: string
              required: false
          type: object
        type: array
        required: false
      placesLived:
        description: A list of places where this person has lived.
        items:
          properties:
            primary:
              description: 'If "true", this place of residence is this person''s primary residence.'
              type: boolean
              required: false
            value:
              description: 'A place where this person has lived. For example: "Seattle, WA", "Near Toronto".'
              type: string
              required: false
          type: object
        type: array
        required: false
      plusOneCount:
        description: 'If a Google+ Page, the number of people who have +1''d this page.'
        format: int32
        type: integer
        required: false
      relationshipStatus:
        description: |-
          The person's relationship status. Possible values include, but are not limited to, the following values:  
          - "single" - Person is single. 
          - "in_a_relationship" - Person is in a relationship. 
          - "engaged" - Person is engaged. 
          - "married" - Person is married. 
          - "its_complicated" - The relationship is complicated. 
          - "open_relationship" - Person is in an open relationship. 
          - "widowed" - Person is widowed. 
          - "in_domestic_partnership" - Person is in a domestic partnership. 
          - "in_civil_union" - Person is in a civil union.
        type: string
        required: false
      skills:
        description: The person's skills.
        type: string
        required: false
      tagline:
        description: The brief description (tagline) of this person.
        type: string
        required: false
      url:
        description: The URL of this person's profile.
        type: string
        required: false
      urls:
        description: A list of URLs for this person.
        items:
          properties:
            label:
              description: The label of the URL.
              type: string
              required: false
            type:
              description: |-
                The type of URL. Possible values include, but are not limited to, the following values:  
                - "otherProfile" - URL for another profile. 
                - "contributor" - URL to a site for which this person is a contributor. 
                - "website" - URL for this Google+ Page's primary website. 
                - "other" - Other URL.
              type: string
              required: false
            value:
              description: The URL value.
              type: string
              required: false
          type: object
        type: array
        required: false
      verified:
        description: Whether the person or Google+ Page has been verified.
        type: boolean
        required: false
  Place:
    properties:
      address:
        description: The physical address of the place.
        properties:
          formatted:
            description: The formatted address for display.
            type: string
            required: false
        type: object
        required: false
      displayName:
        description: The display name of the place.
        type: string
        required: false
      id:
        description: The id of the place.
        type: string
        required: false
      kind:
        default: 'plus#place'
        description: 'Identifies this resource as a place. Value: "plus#place".'
        type: string
        required: false
      position:
        description: The position of the place.
        properties:
          latitude:
            description: The latitude of this position.
            format: double
            type: number
            required: false
          longitude:
            description: The longitude of this position.
            format: double
            type: number
            required: false
        type: object
        required: false
  PlusDomainsAclentryResource:
    properties:
      displayName:
        description: A descriptive name for this entry. Suitable for display.
        type: string
        required: false
      id:
        description: 'The ID of the entry. For entries of type "person" or "circle", this is the ID of the resource. For other types, this property is not set.'
        type: string
        required: false
      type:
        description: |-
          The type of entry describing to whom access is granted. Possible values are:  
          - "person" - Access to an individual. 
          - "circle" - Access to members of a circle. 
          - "myCircles" - Access to members of all the person's circles. 
          - "extendedCircles" - Access to members of all the person's circles, plus all of the people in their circles. 
          - "domain" - Access to members of the person's Google Apps domain. 
          - "public" - Access to anyone on the web.
        type: string
        required: false
  Videostream:
    properties:
      height:
        description: 'The height, in pixels, of the video resource.'
        format: int32
        type: integer
        required: false
      type:
        description: MIME type of the video stream.
        type: string
        required: false
      url:
        description: URL of the video stream.
        type: string
        required: false
      width:
        description: 'The width, in pixels, of the video resource.'
        format: int32
        type: integer
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
