#%RAML 1.0
title: DoubleClick Search
version: v2
baseUri: 'https://www.googleapis.com/doubleclicksearch/v2'
protocols:
  - HTTPS
description: 'Reports and modifies your advertising data in DoubleClick Search (for example, campaigns, ad groups, keywords, and conversions).'
(oas-tags-definition):
  - name: conversion
  - name: reports
  - name: savedColumns
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/doubleclicksearch/v2/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): doubleclicksearch
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/doubleclick-search/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/doubleclicksearch'
    description: Oauth 2.0 authentication
/reports:
  displayName: reports
  '/{reportId}':
    displayName: '{reportId}'
    /files:
      displayName: files
      '/{reportFragment}':
        displayName: '{reportFragment}'
        uriParameters:
          reportFragment:
            description: The index of the report fragment to download.
            minimum: 0
            required: true
            type: integer
            displayName: The index of the report fragment to download.
        get:
          displayName: doubleclicksearch.reports.getFile
          description: Downloads a report file encoded in UTF-8.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/doubleclicksearch'
          (oas-tags):
            - reports
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    uriParameters:
      reportId:
        description: ID of the report request being polled.
        required: true
        type: string
        displayName: ID of the report request being polled.
    get:
      displayName: doubleclicksearch.reports.get
      description: Polls for the status of a report request.
      responses:
        '200':
          body:
            application/json:
              type: Report
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/doubleclicksearch'
      (oas-tags):
        - reports
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /generate:
    displayName: generate
    post:
      displayName: doubleclicksearch.reports.generate
      description: Generates and returns a report immediately.
      body:
        application/json:
          type: ReportRequest
          (oas-body-name): reportRequest
      responses:
        '200':
          body:
            application/json:
              type: Report
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/doubleclicksearch'
      (oas-tags):
        - reports
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  post:
    displayName: doubleclicksearch.reports.request
    description: Inserts a report request into the reporting system.
    body:
      application/json:
        type: ReportRequest
        (oas-body-name): reportRequest
    responses:
      '200':
        body:
          application/json:
            type: Report
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/doubleclicksearch'
    (oas-tags):
      - reports
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/conversion:
  displayName: conversion
  /updateAvailability:
    displayName: updateAvailability
    post:
      displayName: doubleclicksearch.conversion.updateAvailability
      description: Updates the availabilities of a batch of floodlight activities in DoubleClick Search.
      body:
        application/json:
          type: UpdateAvailabilityRequest
          (oas-body-name): empty
      responses:
        '200':
          body:
            application/json:
              type: UpdateAvailabilityResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/doubleclicksearch'
      (oas-tags):
        - conversion
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  put:
    displayName: doubleclicksearch.conversion.update
    description: Updates a batch of conversions in DoubleClick Search.
    body:
      application/json:
        type: ConversionList
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: ConversionList
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/doubleclicksearch'
    (oas-tags):
      - conversion
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: doubleclicksearch.conversion.insert
    description: Inserts a batch of new conversions into DoubleClick Search.
    body:
      application/json:
        type: ConversionList
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: ConversionList
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/doubleclicksearch'
    (oas-tags):
      - conversion
  patch:
    displayName: doubleclicksearch.conversion.patch
    description: Updates a batch of conversions in DoubleClick Search. This method supports patch semantics.
    body:
      application/json:
        type: ConversionList
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: ConversionList
        description: Successful response
    queryParameters:
      advertiserId:
        description: Numeric ID of the advertiser.
        required: true
        type: string
        displayName: Numeric ID of the advertiser.
      agencyId:
        description: Numeric ID of the agency.
        required: true
        type: string
        displayName: Numeric ID of the agency.
      endDate:
        description: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
        maximum: 99991231
        minimum: 20091101
        required: true
        type: integer
        displayName: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
      engineAccountId:
        description: Numeric ID of the engine account.
        required: true
        type: string
        displayName: Numeric ID of the engine account.
      rowCount:
        description: The number of conversions to return per call.
        maximum: 1000
        minimum: 1
        required: true
        type: integer
        displayName: The number of conversions to return per call.
      startDate:
        description: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
        maximum: 99991231
        minimum: 20091101
        required: true
        type: integer
        displayName: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
      startRow:
        description: The 0-based starting index for retrieving conversions results.
        required: true
        type: integer
        displayName: The 0-based starting index for retrieving conversions results.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/doubleclicksearch'
    (oas-tags):
      - conversion
/agency:
  displayName: agency
  '/{agencyId}':
    displayName: '{agencyId}'
    /advertiser:
      displayName: advertiser
      '/{advertiserId}':
        displayName: '{advertiserId}'
        /savedcolumns:
          displayName: savedcolumns
          get:
            displayName: doubleclicksearch.savedColumns.list
            description: Retrieve the list of saved columns for a specified advertiser.
            responses:
              '200':
                body:
                  application/json:
                    type: SavedColumnList
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/doubleclicksearch'
            (oas-tags):
              - savedColumns
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /engine:
          displayName: engine
          '/{engineAccountId}':
            displayName: '{engineAccountId}'
            /conversion:
              displayName: conversion
              get:
                displayName: doubleclicksearch.conversion.get
                description: Retrieves a list of conversions from a DoubleClick Search engine account.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ConversionList
                    description: Successful response
                queryParameters:
                  endDate:
                    description: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
                    maximum: 99991231
                    minimum: 20091101
                    required: true
                    type: integer
                    displayName: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
                  rowCount:
                    description: The number of conversions to return per call.
                    maximum: 1000
                    minimum: 1
                    required: true
                    type: integer
                    displayName: The number of conversions to return per call.
                  startDate:
                    description: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
                    maximum: 99991231
                    minimum: 20091101
                    required: true
                    type: integer
                    displayName: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
                  startRow:
                    description: The 0-based starting index for retrieving conversions results.
                    required: true
                    type: integer
                    displayName: The 0-based starting index for retrieving conversions results.
                  adGroupId:
                    description: Numeric ID of the ad group.
                    type: string
                    displayName: Numeric ID of the ad group.
                  adId:
                    description: Numeric ID of the ad.
                    type: string
                    displayName: Numeric ID of the ad.
                  campaignId:
                    description: Numeric ID of the campaign.
                    type: string
                    displayName: Numeric ID of the campaign.
                  criterionId:
                    description: Numeric ID of the criterion.
                    type: string
                    displayName: Numeric ID of the criterion.
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/doubleclicksearch'
                (oas-tags):
                  - conversion
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
types:
  Availability:
    description: A message containing availability data relevant to DoubleClick Search.
    properties:
      advertiserId:
        description: DS advertiser ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      agencyId:
        description: DS agency ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      availabilityTimestamp:
        description: 'The time by which all conversions have been uploaded, in epoch millis UTC.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      segmentationId:
        description: 'The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      segmentationName:
        description: 'The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).'
        type: string
        required: false
      segmentationType:
        description: The segmentation type that this availability is for (its default value is FLOODLIGHT).
        type: string
        required: false
  Conversion:
    description: A conversion containing data relevant to DoubleClick Search.
    properties:
      adGroupId:
        description: DS ad group ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      adId:
        description: DS ad ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      advertiserId:
        description: DS advertiser ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      agencyId:
        description: DS agency ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      attributionModel:
        description: Available to advertisers only after contacting DoubleClick Search customer support.
        type: string
        required: false
      campaignId:
        description: DS campaign ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      channel:
        description: |-
          Sales channel for the product. Acceptable values are:  
          - "local": a physical store 
          - "online": an online store
        type: string
        required: false
      clickId:
        description: DS click ID for the conversion.
        type: string
        required: false
      conversionId:
        description: 'For offline conversions, this is an ID that advertisers are required to provide. Advertisers can specify any ID that is meaningful to them. For online conversions, DS copies the dsConversionId or floodlightOrderId into this property depending on the advertiser''s Floodlight instructions.'
        type: string
        required: false
      conversionModifiedTimestamp:
        description: 'The time at which the conversion was last modified, in epoch millis UTC.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      conversionTimestamp:
        description: 'The time at which the conversion took place, in epoch millis UTC.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      countMillis:
        description: Available to advertisers only after contacting DoubleClick Search customer support.
        format: int64
        type: string
        facets:
          format: string
        required: false
      criterionId:
        description: DS criterion (keyword) ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      currencyCode:
        description: The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.
        type: string
        required: false
      customDimension:
        description: 'Custom dimensions for the conversion, which can be used to filter data in a report.'
        items:
          type: CustomDimension
        type: array
        required: false
      customMetric:
        description: Custom metrics for the conversion.
        items:
          type: CustomMetric
        type: array
        required: false
      deviceType:
        description: The type of device on which the conversion occurred.
        type: string
        required: false
      dsConversionId:
        description: ID that DoubleClick Search generates for each conversion.
        format: int64
        type: string
        facets:
          format: string
        required: false
      engineAccountId:
        description: DS engine account ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      floodlightOrderId:
        description: The Floodlight order ID provided by the advertiser for the conversion.
        type: string
        required: false
      inventoryAccountId:
        description: ID that DS generates and uses to uniquely identify the inventory account that contains the product.
        format: int64
        type: string
        facets:
          format: string
        required: false
      productCountry:
        description: The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.
        type: string
        required: false
      productGroupId:
        description: DS product group ID.
        format: int64
        type: string
        facets:
          format: string
        required: false
      productId:
        description: The product ID (SKU).
        type: string
        required: false
      productLanguage:
        description: The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.
        type: string
        required: false
      quantityMillis:
        description: 'The quantity of this conversion, in millis.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      revenueMicros:
        description: 'The revenue amount of this TRANSACTION conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of "10" enter "10000000" (10 million) in your request.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      segmentationId:
        description: 'The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      segmentationName:
        description: 'The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).'
        type: string
        required: false
      segmentationType:
        description: 'The segmentation type of this conversion (for example, FLOODLIGHT).'
        type: string
        required: false
      state:
        description: 'The state of the conversion, that is, either ACTIVE or REMOVED. Note: state DELETED is deprecated.'
        type: string
        required: false
      storeId:
        description: The ID of the local store for which the product was advertised. Applicable only when the channel is "local".
        type: string
        required: false
      type:
        description: 'The type of the conversion, that is, either ACTION or TRANSACTION. An ACTION conversion is an action by the user that has no monetarily quantifiable value, while a TRANSACTION conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (ACTION) versus ecommerce purchases (TRANSACTION).'
        type: string
        required: false
  ConversionList:
    description: A list of conversions.
    properties:
      conversion:
        description: The conversions being requested.
        items:
          type: Conversion
        type: array
        required: false
      kind:
        default: 'doubleclicksearch#conversionList'
        description: 'Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.'
        type: string
        required: false
  CustomDimension:
    description: A message containing the custome dimension.
    properties:
      name:
        description: Custom dimension name.
        type: string
        required: false
      value:
        description: Custom dimension value.
        type: string
        required: false
  CustomMetric:
    description: A message containing the custome metric.
    properties:
      name:
        description: Custom metric name.
        type: string
        required: false
      value:
        description: Custom metric numeric value.
        format: double
        type: number
        required: false
  Report:
    description: 'A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.'
    properties:
      files:
        description: Asynchronous report only. Contains a list of generated report files once the report has succesfully completed.
        items:
          properties:
            byteCount:
              description: The size of this report file in bytes.
              format: int64
              type: string
              facets:
                format: string
              required: false
            url:
              description: Use this url to download the report file.
              type: string
              required: false
          type: object
        type: array
        required: false
      id:
        description: Asynchronous report only. Id of the report.
        type: string
        required: false
      isReportReady:
        description: Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.
        type: boolean
        required: false
      kind:
        default: 'doubleclicksearch#report'
        description: 'Identifies this as a Report resource. Value: the fixed string doubleclicksearch#report.'
        type: string
        required: false
      request:
        description: The request that created the report. Optional fields not specified in the original request are filled with default values.
        type: ReportRequest
        required: false
      rowCount:
        description: 'The number of report rows generated by the report, not including headers.'
        format: int32
        type: integer
        required: false
      rows:
        description: Synchronous report only. Generated report rows.
        items:
          type: ReportRow
        type: array
        required: false
      statisticsCurrencyCode:
        description: 'The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the statisticsCurrency field of the report request.'
        type: string
        required: false
      statisticsTimeZone:
        description: 'If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.'
        type: string
        required: false
  ReportApiColumnSpec:
    description: A request object used to create a DoubleClick Search report.
    properties:
      columnName:
        description: Name of a DoubleClick Search column to include in the report.
        type: string
        required: false
      customDimensionName:
        description: |-
          Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.
          If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.
        type: string
        required: false
      customMetricName:
        description: 'Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.'
        type: string
        required: false
      endDate:
        description: 'Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with startDate.'
        type: string
        required: false
      groupByColumn:
        default: false
        description: Synchronous report only. Set to true to group by this column. Defaults to false.
        type: boolean
        required: false
      headerText:
        description: Text used to identify this column in the report output; defaults to columnName or savedColumnName when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.
        type: string
        required: false
      platformSource:
        description: The platform that is used to provide data for the custom dimension. Acceptable values are "floodlight".
        type: string
        required: false
      productReportPerspective:
        description: |-
          Returns metrics only for a specific type of product activity. Accepted values are:  
          - "sold": returns metrics only for products that were sold 
          - "advertised": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold
        type: string
        required: false
      savedColumnName:
        description: 'Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.'
        type: string
        required: false
      startDate:
        description: 'Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with endDate.'
        type: string
        required: false
  ReportRequest:
    description: A request object used to create a DoubleClick Search report.
    properties:
      columns:
        description: 'The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the columnName parameter is required. For saved columns only the savedColumnName parameter is required. Both columnName and savedColumnName cannot be set in the same stanza.'
        items:
          type: ReportApiColumnSpec
        type: array
        required: false
      downloadFormat:
        description: Format that the report should be returned in. Currently csv or tsv is supported.
        type: string
        required: false
      filters:
        description: A list of filters to be applied to the report.
        items:
          properties:
            column:
              description: Column to perform the filter on. This can be a DoubleClick Search column or a saved column.
              type: ReportApiColumnSpec
              required: false
            operator:
              description: Operator to use in the filter. See the filter reference for a list of available operators.
              type: string
              required: false
            values:
              description: A list of values to filter the column value against.
              items: {}
              type: array
              required: false
          type: object
        type: array
        required: false
      includeDeletedEntities:
        default: false
        description: 'Determines if removed entities should be included in the report. Defaults to false. Deprecated, please use includeRemovedEntities instead.'
        type: boolean
        required: false
      includeRemovedEntities:
        default: false
        description: Determines if removed entities should be included in the report. Defaults to false.
        type: boolean
        required: false
      maxRowsPerFile:
        description: 'Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are 1000000 to 100000000, inclusive.'
        format: int32
        maximum: 100000000
        minimum: 1000000
        type: integer
        required: false
      orderBy:
        description: Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.
        items:
          properties:
            column:
              description: Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.
              type: ReportApiColumnSpec
              required: false
            sortOrder:
              description: 'The sort direction, which is either ascending or descending.'
              type: string
              required: false
          type: object
        type: array
        required: false
      reportScope:
        description: The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.
        properties:
          adGroupId:
            description: DS ad group ID.
            format: int64
            type: string
            facets:
              format: string
            required: false
          adId:
            description: DS ad ID.
            format: int64
            type: string
            facets:
              format: string
            required: false
          advertiserId:
            description: DS advertiser ID.
            format: int64
            type: string
            facets:
              format: string
            required: false
          agencyId:
            description: DS agency ID.
            format: int64
            type: string
            facets:
              format: string
            required: false
          campaignId:
            description: DS campaign ID.
            format: int64
            type: string
            facets:
              format: string
            required: false
          engineAccountId:
            description: DS engine account ID.
            format: int64
            type: string
            facets:
              format: string
            required: false
          keywordId:
            description: DS keyword ID.
            format: int64
            type: string
            facets:
              format: string
            required: false
        type: object
        required: false
      reportType:
        description: 'Determines the type of rows that are returned in the report. For example, if you specify reportType: keyword, each row in the report will contain data about a keyword. See the Types of Reports reference for the columns that are available for each type.'
        type: string
        required: false
      rowCount:
        default: 10000
        description: 'Synchronous report only. The maxinum number of rows to return; additional rows are dropped. Acceptable values are 0 to 10000, inclusive. Defaults to 10000.'
        format: int32
        maximum: 10000
        minimum: 0
        type: integer
        required: false
      startRow:
        default: 0
        description: 'Synchronous report only. Zero-based index of the first row to return. Acceptable values are 0 to 50000, inclusive. Defaults to 0.'
        format: int32
        maximum: 50000
        minimum: 0
        type: integer
        required: false
      statisticsCurrency:
        description: 'Specifies the currency in which monetary will be returned. Possible values are: usd, agency (valid if the report is scoped to agency or lower), advertiser (valid if the report is scoped to * advertiser or lower), or account (valid if the report is scoped to engine account or lower).'
        type: string
        required: false
      timeRange:
        description: 'If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.'
        properties:
          changedAttributesSinceTimestamp:
            description: 'Inclusive UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references on how changed attribute reports work.'
            format: rfc3339
            type: datetime
            required: false
          changedMetricsSinceTimestamp:
            description: 'Inclusive UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references on how changed metrics reports work.'
            format: rfc3339
            type: datetime
            required: false
          endDate:
            description: Inclusive date in YYYY-MM-DD format.
            type: string
            required: false
          startDate:
            description: Inclusive date in YYYY-MM-DD format.
            type: string
            required: false
        type: object
        required: false
      verifySingleTimeZone:
        default: false
        description: 'If true, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to false.'
        type: boolean
        required: false
  ReportRow:
    description: A row in a DoubleClick Search report.
    type: object
    properties:
      //:
        description: 'Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.'
  SavedColumn:
    description: A saved column
    properties:
      kind:
        default: 'doubleclicksearch#savedColumn'
        description: 'Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.'
        type: string
        required: false
      savedColumnName:
        description: The name of the saved column.
        type: string
        required: false
      type:
        description: The type of data this saved column will produce.
        type: string
        required: false
  SavedColumnList:
    description: 'A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you''ll need the saved column names that are available from this list.'
    properties:
      items:
        description: The saved columns being requested.
        items:
          type: SavedColumn
        type: array
        required: false
      kind:
        default: 'doubleclicksearch#savedColumnList'
        description: 'Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.'
        type: string
        required: false
  UpdateAvailabilityRequest:
    description: The request to update availability.
    properties:
      availabilities:
        description: The availabilities being requested.
        items:
          type: Availability
        type: array
        required: false
  UpdateAvailabilityResponse:
    description: The response to a update availability request.
    properties:
      availabilities:
        description: The availabilities being returned.
        items:
          type: Availability
        type: array
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
