#%RAML 1.0
title: Manufacturer Center
version: v1
baseUri: 'https://manufacturers.googleapis.com/'
protocols:
  - HTTPS
description: Public API for managing Manufacturer Center related data.
(oas-tags-definition):
  - name: accounts
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://manufacturers.googleapis.com/$discovery/rest?version=v1'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): manufacturers
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/manufacturers/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/manufacturercenter'
    description: Oauth 2.0 authentication
/v1:
  displayName: v1
  '/{parent}':
    displayName: '{parent}'
    /products:
      displayName: products
      '/{name}':
        displayName: '{name}'
        uriParameters:
          name:
            description: |-
              Name in the format `{target_country}:{content_language}:{product_id}`.

              `target_country`   - The target country of the product as a CLDR territory
                                   code (for example, US).

              `content_language` - The content language of the product as a two-letter
                                   ISO 639-1 language code (for example, en).

              `product_id`     -   The ID of the product. For more information, see
                                   https://support.google.com/manufacturers/answer/6124116#id.
            required: true
            type: string
            displayName: |-
              Name in the format `{target_country}:{content_language}:{product_id}`.

              `target_country`   - The target country of the product as a CLDR territory
                                   code (for example, US).

              `content_language` - The content language of the product as a two-letter
                                   ISO 639-1 language code (for example, en).

              `product_id`     -   The ID of the product. For more information, see
                                   https://support.google.com/manufacturers/answer/6124116#id.
        get:
          displayName: manufacturers.accounts.products.get
          description: |-
            Gets the product from a Manufacturer Center account, including product
            issues.
          responses:
            '200':
              body:
                application/json:
                  type: Product
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/manufacturercenter'
          (oas-tags):
            - accounts
        is:
          - accessToken
          - prettyPrint
          - key
          - quotaUser
          - pp
          - fields
          - alt
          - xgafv
          - callback
          - oauthToken
          - uploadType
          - bearerToken
          - uploadProtocol
      get:
        displayName: manufacturers.accounts.products.list
        description: Lists all the products in a Manufacturer Center account.
        responses:
          '200':
            body:
              application/json:
                type: ListProductsResponse
            description: Successful response
        queryParameters:
          pageSize:
            description: |-
              Maximum number of product statuses to return in the response, used for
              paging.
            type: integer
            displayName: |-
              Maximum number of product statuses to return in the response, used for
              paging.
          pageToken:
            description: The token returned by the previous request.
            type: string
            displayName: The token returned by the previous request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/manufacturercenter'
        (oas-tags):
          - accounts
      is:
        - accessToken
        - prettyPrint
        - key
        - quotaUser
        - pp
        - fields
        - alt
        - xgafv
        - callback
        - oauthToken
        - uploadType
        - bearerToken
        - uploadProtocol
types:
  Attributes:
    description: |-
      Attributes of the product. For more information, see
      https://support.google.com/manufacturers/answer/6124116.
    properties:
      brand:
        description: |-
          The brand name of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#brand.
        type: string
        required: false
      gtin:
        description: |-
          The Global Trade Item Number (GTIN) of the product. For more information,
          see https://support.google.com/manufacturers/answer/6124116#gtin.
        items:
          type: string
        type: array
        required: false
      mpn:
        description: |-
          The Manufacturer Part Number (MPN) of the product. For more information,
          see https://support.google.com/manufacturers/answer/6124116#mpn.
        type: string
        required: false
      productLine:
        description: |-
          The name of the group of products related to the product. For more
          information, see
          https://support.google.com/manufacturers/answer/6124116#productline.
        type: string
        required: false
      productName:
        description: |-
          The canonical name of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#productname.
        type: string
        required: false
      productPageUrl:
        description: |-
          The URL of the manufacturer's detail page of the product. For more
          information, see
          https://support.google.com/manufacturers/answer/6124116#productpage.
        type: string
        required: false
      productType:
        description: |-
          The manufacturer's category of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#producttype.
        items:
          type: string
        type: array
        required: false
      title:
        description: |-
          The title of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#title.
        type: string
        required: false
  Issue:
    description: Product issue.
    properties:
      attribute:
        description: |-
          If present, the attribute that triggered the issue. For more information
          about attributes, see
          https://support.google.com/manufacturers/answer/6124116.
        type: string
        required: false
      description:
        description: Description of the issue.
        type: string
        required: false
      severity:
        description: The severity of the issue.
        enum:
          - SEVERITY_UNSPECIFIED
          - ERROR
          - WARNING
          - INFO
        type: string
        required: false
      type:
        description: |-
          The server-generated type of the issue, for example,
          “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.
        type: string
        required: false
  ListProductsResponse:
    properties:
      nextPageToken:
        description: The token for the retrieval of the next page of product statuses.
        type: string
        required: false
      products:
        description: List of the products.
        items:
          type: Product
        type: array
        required: false
  Product:
    description: Product data.
    properties:
      contentLanguage:
        description: |-
          The content language of the product as a two-letter ISO 639-1 language code
          (for example, en).
          @OutputOnly
        type: string
        required: false
      finalAttributes:
        description: |-
          Final attributes of the product. The final attributes are obtained by
          overriding the uploaded attributes with the manually provided and deleted
          attributes. Google systems only process, evaluate, review, and/or use final
          attributes.
          @OutputOnly
        type: Attributes
        required: false
      issues:
        description: |-
          A server-generated list of issues associated with the product.
          @OutputOnly
        items:
          type: Issue
        type: array
        required: false
      manuallyDeletedAttributes:
        description: |-
          Names of the attributes of the product deleted manually via the
          Manufacturer Center UI.
          @OutputOnly
        items:
          type: string
        type: array
        required: false
      manuallyProvidedAttributes:
        description: |-
          Attributes of the product provided manually via the Manufacturer Center UI.
          @OutputOnly
        type: Attributes
        required: false
      name:
        description: |-
          Name in the format `{target_country}:{content_language}:{product_id}`.

          `target_country`   - The target country of the product as a CLDR territory
                               code (for example, US).

          `content_language` - The content language of the product as a two-letter
                               ISO 639-1 language code (for example, en).

          `product_id`     -   The ID of the product. For more information, see
                               https://support.google.com/manufacturers/answer/6124116#id.
          @OutputOnly
        type: string
        required: false
      parent:
        description: |-
          Parent ID in the format `accounts/{account_id}`.

          `account_id` - The ID of the Manufacturer Center account.
          @OutputOnly
        type: string
        required: false
      productId:
        description: |-
          The ID of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#id.
          @OutputOnly
        type: string
        required: false
      targetCountry:
        description: |-
          The target country of the product as a CLDR territory code (for example,
          US).
          @OutputOnly
        type: string
        required: false
      uploadedAttributes:
        description: |-
          Attributes of the product uploaded via the Manufacturer Center API or via
          feeds.
        type: Attributes
        required: false
traits:
  xgafv:
    queryParameters:
      $.xgafv:
        type: string
        description: V1 error format.
        enum:
          - '1'
          - '2'
  accessToken:
    queryParameters:
      access_token:
        type: string
        description: OAuth access token.
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for response.
        default: json
        enum:
          - json
          - media
          - proto
  bearerToken:
    queryParameters:
      bearer_token:
        type: string
        description: OAuth bearer token.
  callback:
    queryParameters:
      callback:
        type: string
        description: JSONP
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  pp:
    queryParameters:
      pp:
        type: boolean
        description: Pretty-print response.
        default: true
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
  uploadType:
    queryParameters:
      uploadType:
        type: string
        description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
  uploadProtocol:
    queryParameters:
      upload_protocol:
        type: string
        description: 'Upload protocol for media (e.g. "raw", "multipart").'
