#%RAML 1.0
title: Ad Exchange Buyer
version: v1.2
baseUri: 'https://www.googleapis.com/adexchangebuyer/v1.2'
protocols:
  - HTTPS
description: 'Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.'
(oas-tags-definition):
  - name: accounts
  - name: creatives
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/adexchangebuyer/v1.2/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): adexchangebuyer
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/ad-exchange/buyer-rest'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/adexchange.buyer'
    description: Oauth 2.0 authentication
/creatives:
  displayName: creatives
  '/{accountId}':
    displayName: '{accountId}'
    '/{buyerCreativeId}':
      displayName: '{buyerCreativeId}'
      uriParameters:
        buyerCreativeId:
          description: The buyer-specific id for this creative.
          required: true
          type: string
      get:
        displayName: adexchangebuyer.creatives.get
        description: Gets the status for a single creative. A creative will be available 30-40 minutes after submission.
        responses:
          '200':
            body:
              application/json:
                type: Creative
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.buyer'
        (oas-tags):
          - creatives
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  post:
    displayName: adexchangebuyer.creatives.insert
    description: Submit a new creative.
    body:
      application/json:
        type: Creative
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Creative
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - creatives
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: adexchangebuyer.creatives.list
    description: Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.
    responses:
      '200':
        body:
          application/json:
            type: CreativesList
        description: Successful response
    queryParameters:
      maxResults:
        description: 'Maximum number of entries returned on one result page. If not set, the default is 100. Optional.'
        maximum: 1000
        minimum: 1
        type: integer
      pageToken:
        description: 'A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.'
        type: string
      statusFilter:
        description: 'When specified, only creatives having the given status are returned.'
        enum:
          - approved
          - disapproved
          - not_checked
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - creatives
/accounts:
  displayName: accounts
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: The account id
        required: true
        type: integer
    put:
      displayName: adexchangebuyer.accounts.update
      description: Updates an existing account.
      body:
        application/json:
          type: Account
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - accounts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    patch:
      displayName: adexchangebuyer.accounts.patch
      description: Updates an existing account. This method supports patch semantics.
      body:
        application/json:
          type: Account
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - accounts
    get:
      displayName: adexchangebuyer.accounts.get
      description: Gets one account by ID.
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.buyer'
      (oas-tags):
        - accounts
  get:
    displayName: adexchangebuyer.accounts.list
    description: Retrieves the authenticated user's list of accounts.
    responses:
      '200':
        body:
          application/json:
            type: AccountsList
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
    (oas-tags):
      - accounts
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  Account:
    description: Configuration data for an Ad Exchange buyer account.
    properties:
      bidderLocation:
        description: Your bidder locations that have distinct URLs.
        items:
          properties:
            maximumQps:
              description: The maximum queries per second the Ad Exchange will send.
              format: int32
              type: integer
              required: false
            region:
              description: |-
                The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  
                - ASIA 
                - EUROPE 
                - US_EAST 
                - US_WEST
              type: string
              required: false
            url:
              description: The URL to which the Ad Exchange will send bid requests.
              type: string
              required: false
          type: object
        type: array
        required: false
      cookieMatchingNid:
        description: The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.
        type: string
        required: false
      cookieMatchingUrl:
        description: The base URL used in cookie match requests.
        type: string
        required: false
      id:
        description: Account id.
        format: int32
        type: integer
        required: false
      kind:
        default: 'adexchangebuyer#account'
        description: Resource type.
        type: string
        required: false
      maximumActiveCreatives:
        description: 'The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.'
        format: int32
        type: integer
        required: false
      maximumTotalQps:
        description: The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.
        format: int32
        type: integer
        required: false
      numberActiveCreatives:
        description: The number of creatives that this account inserted or bid with in the last 30 days.
        format: int32
        type: integer
        required: false
  AccountsList:
    description: An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.
    properties:
      items:
        description: A list of accounts.
        items:
          type: Account
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#accountsList'
        description: Resource type.
        type: string
        required: false
  Creative:
    description: A creative and its classification data.
    properties:
      HTMLSnippet:
        description: 'The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.'
        type: string
        required: false
      accountId:
        description: Account id.
        format: int32
        type: integer
        required: false
      advertiserId:
        description: 'Detected advertiser id, if any. Read-only. This field should not be set in requests.'
        items:
          format: int64
          type: string
          facets:
            format: string
        type: array
        required: false
      advertiserName:
        description: The name of the company being advertised in the creative.
        type: string
        required: false
      agencyId:
        description: The agency id for this creative.
        format: int64
        type: string
        facets:
          format: string
        required: false
      apiUploadTimestamp:
        description: 'The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).'
        format: rfc3339
        type: datetime
        required: false
      attribute:
        description: All attributes for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
        required: false
      buyerCreativeId:
        description: A buyer-specific id identifying the creative in this ad.
        type: string
        required: false
      clickThroughUrl:
        description: The set of destination urls for the snippet.
        items:
          type: string
        type: array
        required: false
      corrections:
        description: Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.
        items:
          properties:
            details:
              description: Additional details about the correction.
              items:
                type: string
              type: array
              required: false
            reason:
              description: The type of correction that was applied to the creative.
              type: string
              required: false
          type: object
        type: array
        required: false
      disapprovalReasons:
        description: 'The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.'
        items:
          properties:
            details:
              description: Additional details about the reason for disapproval.
              items:
                type: string
              type: array
              required: false
            reason:
              description: The categorized reason for disapproval.
              type: string
              required: false
          type: object
        type: array
        required: false
      filteringReasons:
        description: The filtering reasons for the creative. Read-only. This field should not be set in requests.
        properties:
          date:
            description: 'The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.'
            type: string
            required: false
          reasons:
            description: The filtering reasons.
            items:
              properties:
                filteringCount:
                  description: The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.
                  format: int64
                  type: string
                  facets:
                    format: string
                  required: false
                filteringStatus:
                  description: The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.
                  format: int32
                  type: integer
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      height:
        description: Ad height.
        format: int32
        type: integer
        required: false
      impressionTrackingUrl:
        description: The set of urls to be called to record an impression.
        items:
          type: string
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#creative'
        description: Resource type.
        type: string
        required: false
      productCategories:
        description: 'Detected product categories, if any. Read-only. This field should not be set in requests.'
        items:
          format: int32
          type: integer
        type: array
        required: false
      restrictedCategories:
        description: All restricted categories for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
        required: false
      sensitiveCategories:
        description: 'Detected sensitive categories, if any. Read-only. This field should not be set in requests.'
        items:
          format: int32
          type: integer
        type: array
        required: false
      status:
        description: Creative serving status. Read-only. This field should not be set in requests.
        type: string
        required: false
      vendorType:
        description: All vendor types for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
        required: false
      version:
        description: The version for this creative. Read-only. This field should not be set in requests.
        format: int32
        type: integer
        required: false
      videoURL:
        description: 'The url to fetch a video ad. If set, HTMLSnippet should not be set.'
        type: string
        required: false
      width:
        description: Ad width.
        format: int32
        type: integer
        required: false
  CreativesList:
    description: The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.
    properties:
      items:
        description: A list of creatives.
        items:
          type: Creative
        type: array
        required: false
      kind:
        default: 'adexchangebuyer#creativesList'
        description: Resource type.
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through creatives. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
