#%RAML 1.0
title: Admin Directory
version: directory_v1
baseUri: 'https://www.googleapis.com/admin/directory/v1'
protocols:
  - HTTPS
description: 'The Admin SDK Directory API lets you view and manage enterprise resources such as users and groups, administrative notifications, security features, and more.'
(oas-tags-definition):
  - name: asps
  - name: channels
  - name: chromeosdevices
  - name: customers
  - name: domainAliases
  - name: domains
  - name: groups
  - name: members
  - name: mobiledevices
  - name: notifications
  - name: orgunits
  - name: privileges
  - name: resources
  - name: roleAssignments
  - name: roles
  - name: schemas
  - name: tokens
  - name: users
  - name: verificationCodes
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_admin_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/admin/directory_v1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): admin
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/admin-sdk/directory/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/admin.directory.customer'
        - 'https://www.googleapis.com/auth/admin.directory.customer.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
        - 'https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.device.mobile'
        - 'https://www.googleapis.com/auth/admin.directory.device.mobile.action'
        - 'https://www.googleapis.com/auth/admin.directory.device.mobile.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.domain'
        - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.group'
        - 'https://www.googleapis.com/auth/admin.directory.group.member'
        - 'https://www.googleapis.com/auth/admin.directory.group.member.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.notifications'
        - 'https://www.googleapis.com/auth/admin.directory.orgunit'
        - 'https://www.googleapis.com/auth/admin.directory.orgunit.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
        - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.user'
        - 'https://www.googleapis.com/auth/admin.directory.user.alias'
        - 'https://www.googleapis.com/auth/admin.directory.user.alias.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
        - 'https://www.googleapis.com/auth/admin.directory.user.security'
        - 'https://www.googleapis.com/auth/admin.directory.userschema'
        - 'https://www.googleapis.com/auth/admin.directory.userschema.readonly'
    description: Oauth 2.0 authentication
/customer:
  displayName: customer
  '/{customer}':
    displayName: '{customer}'
    /roles:
      displayName: roles
      '/{roleId}':
        displayName: '{roleId}'
        uriParameters:
          roleId:
            description: Immutable ID of the role.
            required: true
            type: string
            displayName: Immutable ID of the role.
        delete:
          displayName: directory.roles.delete
          description: Deletes a role.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
          (oas-tags):
            - roles
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: directory.roles.get
          description: Retrieves a role.
          responses:
            '200':
              body:
                application/json:
                  type: Role
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
          (oas-tags):
            - roles
        patch:
          displayName: directory.roles.patch
          description: Updates a role. This method supports patch semantics.
          body:
            application/json:
              type: Role
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Role
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
          (oas-tags):
            - roles
        put:
          displayName: directory.roles.update
          description: Updates a role.
          body:
            application/json:
              type: Role
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Role
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
          (oas-tags):
            - roles
      post:
        displayName: directory.roles.insert
        description: Creates a role.
        body:
          application/json:
            type: Role
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Role
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        (oas-tags):
          - roles
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: directory.roles.list
        description: Retrieves a paginated list of all the roles in a domain.
        responses:
          '200':
            body:
              application/json:
                type: Roles
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of results to return.
            maximum: 100
            minimum: 1
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Token to specify the next page in the list.
            type: string
            displayName: Token to specify the next page in the list.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
        (oas-tags):
          - roles
      /ALL:
        displayName: ALL
        /privileges:
          displayName: privileges
          get:
            displayName: directory.privileges.list
            description: Retrieves a paginated list of all privileges for a customer.
            responses:
              '200':
                body:
                  application/json:
                    type: Privileges
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
            (oas-tags):
              - privileges
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
    /domainaliases:
      displayName: domainaliases
      get:
        displayName: directory.domainAliases.list
        description: Lists the domain aliases of the customer.
        responses:
          '200':
            body:
              application/json:
                type: DomainAliases
            description: Successful response
        queryParameters:
          parentDomainName:
            description: Name of the parent domain for which domain aliases are to be fetched.
            type: string
            displayName: Name of the parent domain for which domain aliases are to be fetched.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
        (oas-tags):
          - domainAliases
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{domainAliasName}':
        displayName: '{domainAliasName}'
        uriParameters:
          domainAliasName:
            description: Name of domain alias to be retrieved.
            required: true
            type: string
            displayName: Name of domain alias to be retrieved.
        delete:
          displayName: directory.domainAliases.delete
          description: Deletes a Domain Alias of the customer.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.domain'
          (oas-tags):
            - domainAliases
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: directory.domainAliases.get
          description: Retrieves a domain alias of the customer.
          responses:
            '200':
              body:
                application/json:
                  type: DomainAlias
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
          (oas-tags):
            - domainAliases
      post:
        displayName: directory.domainAliases.insert
        description: Inserts a Domain alias of the customer.
        body:
          application/json:
            type: DomainAlias
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: DomainAlias
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.domain'
        (oas-tags):
          - domainAliases
    /domains:
      displayName: domains
      get:
        displayName: directory.domains.list
        description: Lists the domains of the customer.
        responses:
          '200':
            body:
              application/json:
                type: Domains2
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
        (oas-tags):
          - domains
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{domainName}':
        displayName: '{domainName}'
        uriParameters:
          domainName:
            description: Name of domain to be retrieved
            required: true
            type: string
            displayName: Name of domain to be retrieved
        delete:
          displayName: directory.domains.delete
          description: Deletes a domain of the customer.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.domain'
          (oas-tags):
            - domains
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: directory.domains.get
          description: Retrieves a domain of the customer.
          responses:
            '200':
              body:
                application/json:
                  type: Domains
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
          (oas-tags):
            - domains
      post:
        displayName: directory.domains.insert
        description: Inserts a domain of the customer.
        body:
          application/json:
            type: Domains
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Domains
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.domain'
        (oas-tags):
          - domains
    /notifications:
      displayName: notifications
      get:
        displayName: directory.notifications.list
        description: Retrieves a list of notifications.
        responses:
          '200':
            body:
              application/json:
                type: Notifications
            description: Successful response
        queryParameters:
          language:
            description: The ISO 639-1 code of the language notifications are returned in. The default is English (en).
            type: string
            displayName: The ISO 639-1 code of the language notifications are returned in. The default is English (en).
          maxResults:
            description: Maximum number of notifications to return per page. The default is 100.
            type: integer
            displayName: Maximum number of notifications to return per page. The default is 100.
          pageToken:
            description: The token to specify the page of results to retrieve.
            type: string
            displayName: The token to specify the page of results to retrieve.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.notifications'
        (oas-tags):
          - notifications
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{notificationId}':
        displayName: '{notificationId}'
        uriParameters:
          notificationId:
            description: The unique ID of the notification.
            required: true
            type: string
            displayName: The unique ID of the notification.
        get:
          displayName: directory.notifications.get
          description: Retrieves a notification.
          responses:
            '200':
              body:
                application/json:
                  type: Notification
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.notifications'
          (oas-tags):
            - notifications
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        put:
          displayName: directory.notifications.update
          description: Updates a notification.
          body:
            application/json:
              type: Notification
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Notification
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.notifications'
          (oas-tags):
            - notifications
        patch:
          displayName: directory.notifications.patch
          description: Updates a notification. This method supports patch semantics.
          body:
            application/json:
              type: Notification
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Notification
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.notifications'
          (oas-tags):
            - notifications
        delete:
          displayName: directory.notifications.delete
          description: Deletes a notification
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.notifications'
          (oas-tags):
            - notifications
    /resources:
      displayName: resources
      /calendars:
        displayName: calendars
        post:
          displayName: directory.resources.calendars.insert
          description: Inserts a calendar resource.
          body:
            application/json:
              type: CalendarResource
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: CalendarResource
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
          (oas-tags):
            - resources
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{calendarResourceId}':
          displayName: '{calendarResourceId}'
          uriParameters:
            calendarResourceId:
              description: The unique ID of the calendar resource to update.
              required: true
              type: string
              displayName: The unique ID of the calendar resource to update.
          get:
            displayName: directory.resources.calendars.get
            description: Retrieves a calendar resource.
            responses:
              '200':
                body:
                  application/json:
                    type: CalendarResource
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
            (oas-tags):
              - resources
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          put:
            displayName: directory.resources.calendars.update
            description: Updates a calendar resource.
            body:
              application/json:
                type: CalendarResource
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: CalendarResource
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
            (oas-tags):
              - resources
          delete:
            displayName: directory.resources.calendars.delete
            description: Deletes a calendar resource.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
            (oas-tags):
              - resources
          patch:
            displayName: directory.resources.calendars.patch
            description: Updates a calendar resource. This method supports patch semantics.
            body:
              application/json:
                type: CalendarResource
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: CalendarResource
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
            (oas-tags):
              - resources
        get:
          displayName: directory.resources.calendars.list
          description: Retrieves a list of calendar resources for an account.
          responses:
            '200':
              body:
                application/json:
                  type: CalendarResources
              description: Successful response
          queryParameters:
            maxResults:
              description: Maximum number of results to return.
              maximum: 500
              minimum: 1
              type: integer
              displayName: Maximum number of results to return.
            pageToken:
              description: Token to specify the next page in the list.
              type: string
              displayName: Token to specify the next page in the list.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
          (oas-tags):
            - resources
    /roleassignments:
      displayName: roleassignments
      post:
        displayName: directory.roleAssignments.insert
        description: Creates a role assignment.
        body:
          application/json:
            type: RoleAssignment
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: RoleAssignment
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        (oas-tags):
          - roleAssignments
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{roleAssignmentId}':
        displayName: '{roleAssignmentId}'
        uriParameters:
          roleAssignmentId:
            description: Immutable ID of the role assignment.
            required: true
            type: string
            displayName: Immutable ID of the role assignment.
        get:
          displayName: directory.roleAssignments.get
          description: Retrieve a role assignment.
          responses:
            '200':
              body:
                application/json:
                  type: RoleAssignment
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
          (oas-tags):
            - roleAssignments
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        delete:
          displayName: directory.roleAssignments.delete
          description: Deletes a role assignment.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
          (oas-tags):
            - roleAssignments
      get:
        displayName: directory.roleAssignments.list
        description: Retrieves a paginated list of all roleAssignments.
        responses:
          '200':
            body:
              application/json:
                type: RoleAssignments
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of results to return.
            maximum: 200
            minimum: 1
            type: integer
            displayName: Maximum number of results to return.
          pageToken:
            description: Token to specify the next page in the list.
            type: string
            displayName: Token to specify the next page in the list.
          roleId:
            description: 'Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.'
            type: string
            displayName: 'Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.'
          userKey:
            description: 'The user''s primary email address, alias email address, or unique user ID. If included in the request, returns role assignments only for this user.'
            type: string
            displayName: 'The user''s primary email address, alias email address, or unique user ID. If included in the request, returns role assignments only for this user.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
        (oas-tags):
          - roleAssignments
  '/{customerId}':
    displayName: '{customerId}'
    /devices:
      displayName: devices
      /chromeos:
        displayName: chromeos
        '/{deviceId}':
          displayName: '{deviceId}'
          uriParameters:
            deviceId:
              description: Immutable id of Chrome OS Device
              required: true
              type: string
              displayName: Immutable id of Chrome OS Device
          get:
            displayName: directory.chromeosdevices.get
            description: Retrieve Chrome OS Device
            responses:
              '200':
                body:
                  application/json:
                    type: ChromeOsDevice
                description: Successful response
            queryParameters:
              projection:
                description: Restrict information returned to a set of selected fields.
                enum:
                  - BASIC
                  - FULL
                type: string
                displayName: Restrict information returned to a set of selected fields.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly'
            (oas-tags):
              - chromeosdevices
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          put:
            displayName: directory.chromeosdevices.update
            description: Update Chrome OS Device
            body:
              application/json:
                type: ChromeOsDevice
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: ChromeOsDevice
                description: Successful response
            queryParameters:
              projection:
                description: Restrict information returned to a set of selected fields.
                enum:
                  - BASIC
                  - FULL
                type: string
                displayName: Restrict information returned to a set of selected fields.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
            (oas-tags):
              - chromeosdevices
          patch:
            displayName: directory.chromeosdevices.patch
            description: Update Chrome OS Device. This method supports patch semantics.
            body:
              application/json:
                type: ChromeOsDevice
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: ChromeOsDevice
                description: Successful response
            queryParameters:
              projection:
                description: Restrict information returned to a set of selected fields.
                enum:
                  - BASIC
                  - FULL
                type: string
                displayName: Restrict information returned to a set of selected fields.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
            (oas-tags):
              - chromeosdevices
        get:
          displayName: directory.chromeosdevices.list
          description: Retrieve all Chrome OS Devices of a customer (paginated)
          responses:
            '200':
              body:
                application/json:
                  type: ChromeOsDevices
              description: Successful response
          queryParameters:
            maxResults:
              description: Maximum number of results to return. Default is 100
              minimum: 1
              type: integer
              displayName: Maximum number of results to return. Default is 100
            orderBy:
              description: Column to use for sorting results
              enum:
                - annotatedLocation
                - annotatedUser
                - lastSync
                - notes
                - serialNumber
                - status
                - supportEndDate
              type: string
              displayName: Column to use for sorting results
            pageToken:
              description: Token to specify next page in the list
              type: string
              displayName: Token to specify next page in the list
            projection:
              description: Restrict information returned to a set of selected fields.
              enum:
                - BASIC
                - FULL
              type: string
              displayName: Restrict information returned to a set of selected fields.
            query:
              description: 'Search string in the format given at http://support.google.com/chromeos/a/bin/answer.py?hl=en&answer=1698333'
              type: string
              displayName: 'Search string in the format given at http://support.google.com/chromeos/a/bin/answer.py?hl=en&answer=1698333'
            sortOrder:
              description: Whether to return results in ascending or descending order. Only of use when orderBy is also used
              enum:
                - ASCENDING
                - DESCENDING
              type: string
              displayName: Whether to return results in ascending or descending order. Only of use when orderBy is also used
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly'
          (oas-tags):
            - chromeosdevices
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{resourceId}':
          displayName: '{resourceId}'
          /action:
            displayName: action
            post:
              displayName: directory.chromeosdevices.action
              description: Take action on Chrome OS Device
              body:
                application/json:
                  type: ChromeOsDeviceAction
                  (oas-body-name): body
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
              (oas-tags):
                - chromeosdevices
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      /mobile:
        displayName: mobile
        get:
          displayName: directory.mobiledevices.list
          description: Retrieve all Mobile Devices of a customer (paginated)
          responses:
            '200':
              body:
                application/json:
                  type: MobileDevices
              description: Successful response
          queryParameters:
            maxResults:
              description: Maximum number of results to return. Default is 100
              minimum: 1
              type: integer
              displayName: Maximum number of results to return. Default is 100
            orderBy:
              description: Column to use for sorting results
              enum:
                - deviceId
                - email
                - lastSync
                - model
                - name
                - os
                - status
                - type
              type: string
              displayName: Column to use for sorting results
            pageToken:
              description: Token to specify next page in the list
              type: string
              displayName: Token to specify next page in the list
            projection:
              description: Restrict information returned to a set of selected fields.
              enum:
                - BASIC
                - FULL
              type: string
              displayName: Restrict information returned to a set of selected fields.
            query:
              description: 'Search string in the format given at http://support.google.com/a/bin/answer.py?hl=en&answer=1408863#search'
              type: string
              displayName: 'Search string in the format given at http://support.google.com/a/bin/answer.py?hl=en&answer=1408863#search'
            sortOrder:
              description: Whether to return results in ascending or descending order. Only of use when orderBy is also used
              enum:
                - ASCENDING
                - DESCENDING
              type: string
              displayName: Whether to return results in ascending or descending order. Only of use when orderBy is also used
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.device.mobile.readonly'
          (oas-tags):
            - mobiledevices
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{resourceId}':
          displayName: '{resourceId}'
          uriParameters:
            resourceId:
              description: Immutable id of Mobile Device
              required: true
              type: string
              displayName: Immutable id of Mobile Device
          get:
            displayName: directory.mobiledevices.get
            description: Retrieve Mobile Device
            responses:
              '200':
                body:
                  application/json:
                    type: MobileDevice
                description: Successful response
            queryParameters:
              projection:
                description: Restrict information returned to a set of selected fields.
                enum:
                  - BASIC
                  - FULL
                type: string
                displayName: Restrict information returned to a set of selected fields.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.device.mobile.readonly'
            (oas-tags):
              - mobiledevices
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          /action:
            displayName: action
            post:
              displayName: directory.mobiledevices.action
              description: Take action on Mobile Device
              body:
                application/json:
                  type: MobileDeviceAction
                  (oas-body-name): body
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/admin.directory.device.mobile.action'
              (oas-tags):
                - mobiledevices
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          delete:
            displayName: directory.mobiledevices.delete
            description: Delete Mobile Device
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.directory.device.mobile'
            (oas-tags):
              - mobiledevices
    /orgunits:
      displayName: orgunits
      get:
        displayName: directory.orgunits.list
        description: Retrieve all Organization Units
        responses:
          '200':
            body:
              application/json:
                type: OrgUnits
            description: Successful response
        queryParameters:
          orgUnitPath:
            default: ''
            description: the URL-encoded organization unit's path or its Id
            type: string
            displayName: the URL-encoded organization unit's path or its Id
          type:
            description: Whether to return all sub-organizations or just immediate children
            enum:
              - all
              - children
            type: string
            displayName: Whether to return all sub-organizations or just immediate children
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.orgunit.readonly'
        (oas-tags):
          - orgunits
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{orgUnitPath}':
        displayName: '{orgUnitPath}'
        uriParameters:
          orgUnitPath:
            description: Full path of the organization unit or its Id
            required: true
            type: string
            displayName: Full path of the organization unit or its Id
        delete:
          displayName: directory.orgunits.delete
          description: Remove Organization Unit
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.orgunit'
          (oas-tags):
            - orgunits
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: directory.orgunits.patch
          description: Update Organization Unit. This method supports patch semantics.
          body:
            application/json:
              type: OrgUnit
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrgUnit
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.orgunit'
          (oas-tags):
            - orgunits
        get:
          displayName: directory.orgunits.get
          description: Retrieve Organization Unit
          responses:
            '200':
              body:
                application/json:
                  type: OrgUnit
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.orgunit'
                  - 'https://www.googleapis.com/auth/admin.directory.orgunit.readonly'
          (oas-tags):
            - orgunits
        put:
          displayName: directory.orgunits.update
          description: Update Organization Unit
          body:
            application/json:
              type: OrgUnit
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrgUnit
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.orgunit'
          (oas-tags):
            - orgunits
      post:
        displayName: directory.orgunits.insert
        description: Add Organization Unit
        body:
          application/json:
            type: OrgUnit
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: OrgUnit
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.orgunit'
        (oas-tags):
          - orgunits
    /schemas:
      displayName: schemas
      get:
        displayName: directory.schemas.list
        description: Retrieve all schemas for a customer
        responses:
          '200':
            body:
              application/json:
                type: Schemas
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.userschema.readonly'
        (oas-tags):
          - schemas
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{schemaKey}':
        displayName: '{schemaKey}'
        uriParameters:
          schemaKey:
            description: Name or immutable Id of the schema
            required: true
            type: string
            displayName: Name or immutable Id of the schema
        delete:
          displayName: directory.schemas.delete
          description: Delete schema
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.userschema'
          (oas-tags):
            - schemas
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: directory.schemas.patch
          description: Update schema. This method supports patch semantics.
          body:
            application/json:
              type: Schema
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Schema
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.userschema'
          (oas-tags):
            - schemas
        put:
          displayName: directory.schemas.update
          description: Update schema
          body:
            application/json:
              type: Schema
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Schema
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.userschema'
          (oas-tags):
            - schemas
        get:
          displayName: directory.schemas.get
          description: Retrieve schema
          responses:
            '200':
              body:
                application/json:
                  type: Schema
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.userschema.readonly'
          (oas-tags):
            - schemas
      post:
        displayName: directory.schemas.insert
        description: Create schema.
        body:
          application/json:
            type: Schema
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Schema
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.userschema'
        (oas-tags):
          - schemas
/users:
  displayName: users
  '/{userKey}':
    displayName: '{userKey}'
    /verificationCodes:
      displayName: verificationCodes
      /invalidate:
        displayName: invalidate
        post:
          displayName: directory.verificationCodes.invalidate
          description: Invalidate the current backup verification codes for the user.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.security'
          (oas-tags):
            - verificationCodes
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /generate:
        displayName: generate
        post:
          displayName: directory.verificationCodes.generate
          description: Generate new backup verification codes for the user.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.security'
          (oas-tags):
            - verificationCodes
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      get:
        displayName: directory.verificationCodes.list
        description: Returns the current set of valid backup verification codes for the specified user.
        responses:
          '200':
            body:
              application/json:
                type: VerificationCodes
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.user.security'
        (oas-tags):
          - verificationCodes
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    uriParameters:
      userKey:
        description: 'Email or immutable Id of the user. If Id, it should match with id of user object'
        required: true
        type: string
        displayName: 'Email or immutable Id of the user. If Id, it should match with id of user object'
    delete:
      displayName: directory.users.delete
      description: Delete user
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.user'
      (oas-tags):
        - users
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: directory.users.get
      description: retrieve user
      responses:
        '200':
          body:
            application/json:
              type: User
          description: Successful response
      queryParameters:
        customFieldMask:
          description: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
          type: string
          displayName: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
        projection:
          default: basic
          description: What subset of fields to fetch for this user.
          enum:
            - basic
            - custom
            - full
          type: string
          displayName: What subset of fields to fetch for this user.
        viewType:
          default: admin_view
          description: Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.
          enum:
            - admin_view
            - domain_public
          type: string
          displayName: Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
      (oas-tags):
        - users
    patch:
      displayName: directory.users.patch
      description: update user. This method supports patch semantics.
      body:
        application/json:
          type: User
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: User
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.user'
      (oas-tags):
        - users
    put:
      displayName: directory.users.update
      description: update user
      body:
        application/json:
          type: User
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: User
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.user'
      (oas-tags):
        - users
    /aliases:
      displayName: aliases
      get:
        displayName: directory.users.aliases.list
        description: List all aliases for a user
        responses:
          '200':
            body:
              application/json:
                type: Aliases
            description: Successful response
        queryParameters:
          event:
            description: Event on which subscription is intended (if subscribing)
            enum:
              - add
              - delete
            type: string
            displayName: Event on which subscription is intended (if subscribing)
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
        (oas-tags):
          - users
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: directory.users.aliases.insert
        description: Add a alias for the user
        body:
          application/json:
            type: Alias
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Alias
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.user.alias'
        (oas-tags):
          - users
      /watch:
        displayName: watch
        post:
          displayName: directory.users.aliases.watch
          description: Watch for changes in user aliases list
          body:
            application/json:
              type: Channel
              (oas-body-name): resource
          responses:
            '200':
              body:
                application/json:
                  type: Channel
              description: Successful response
          queryParameters:
            event:
              description: Event on which subscription is intended (if subscribing)
              enum:
                - add
                - delete
              type: string
              displayName: Event on which subscription is intended (if subscribing)
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
          (oas-tags):
            - users
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      '/{alias}':
        displayName: '{alias}'
        uriParameters:
          alias:
            description: The alias to be removed
            required: true
            type: string
            displayName: The alias to be removed
        delete:
          displayName: directory.users.aliases.delete
          description: Remove a alias for the user
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.alias'
          (oas-tags):
            - users
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /asps:
      displayName: asps
      get:
        displayName: directory.asps.list
        description: List the ASPs issued by a user.
        responses:
          '200':
            body:
              application/json:
                type: Asps
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.user.security'
        (oas-tags):
          - asps
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{codeId}':
        displayName: '{codeId}'
        uriParameters:
          codeId:
            description: The unique ID of the ASP.
            required: true
            type: integer
            displayName: The unique ID of the ASP.
        delete:
          displayName: directory.asps.delete
          description: Delete an ASP issued by a user.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.security'
          (oas-tags):
            - asps
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: directory.asps.get
          description: Get information about an ASP issued by a user.
          responses:
            '200':
              body:
                application/json:
                  type: Asp
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.security'
          (oas-tags):
            - asps
    /makeAdmin:
      displayName: makeAdmin
      post:
        displayName: directory.users.makeAdmin
        description: change admin status of a user
        body:
          application/json:
            type: UserMakeAdmin
            (oas-body-name): body
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.user'
        (oas-tags):
          - users
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /photos:
      displayName: photos
      /thumbnail:
        displayName: thumbnail
        delete:
          displayName: directory.users.photos.delete
          description: Remove photos for the user
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user'
          (oas-tags):
            - users
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: directory.users.photos.get
          description: Retrieve photo of a user
          responses:
            '200':
              body:
                application/json:
                  type: UserPhoto
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
          (oas-tags):
            - users
        patch:
          displayName: directory.users.photos.patch
          description: Add a photo for the user. This method supports patch semantics.
          body:
            application/json:
              type: UserPhoto
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: UserPhoto
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user'
          (oas-tags):
            - users
        put:
          displayName: directory.users.photos.update
          description: Add a photo for the user
          body:
            application/json:
              type: UserPhoto
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: UserPhoto
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user'
          (oas-tags):
            - users
    /tokens:
      displayName: tokens
      get:
        displayName: directory.tokens.list
        description: Returns the set of tokens specified user has issued to 3rd party applications.
        responses:
          '200':
            body:
              application/json:
                type: Tokens
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.user.security'
        (oas-tags):
          - tokens
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{clientId}':
        displayName: '{clientId}'
        uriParameters:
          clientId:
            description: The Client ID of the application the token is issued to.
            required: true
            type: string
            displayName: The Client ID of the application the token is issued to.
        delete:
          displayName: directory.tokens.delete
          description: Delete all access tokens issued by a user for an application.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.security'
          (oas-tags):
            - tokens
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: directory.tokens.get
          description: Get information about an access token issued by a user.
          responses:
            '200':
              body:
                application/json:
                  type: Token
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.security'
          (oas-tags):
            - tokens
    /undelete:
      displayName: undelete
      post:
        displayName: directory.users.undelete
        description: Undelete a deleted user
        body:
          application/json:
            type: UserUndelete
            (oas-body-name): body
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.user'
        (oas-tags):
          - users
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  get:
    displayName: directory.users.list
    description: Retrieve either deleted users or all users in a domain (paginated)
    responses:
      '200':
        body:
          application/json:
            type: Users
        description: Successful response
    queryParameters:
      customFieldMask:
        description: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
        type: string
        displayName: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
      customer:
        description: 'Immutable id of the Google Apps account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.'
        type: string
        displayName: 'Immutable id of the Google Apps account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.'
      domain:
        description: Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.
        type: string
        displayName: Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.
      event:
        description: Event on which subscription is intended (if subscribing)
        enum:
          - add
          - delete
          - makeAdmin
          - undelete
          - update
        type: string
        displayName: Event on which subscription is intended (if subscribing)
      maxResults:
        description: Maximum number of results to return. Default is 100. Max allowed is 500
        maximum: 500
        minimum: 1
        type: integer
        displayName: Maximum number of results to return. Default is 100. Max allowed is 500
      orderBy:
        description: Column to use for sorting results
        enum:
          - email
          - familyName
          - givenName
        type: string
        displayName: Column to use for sorting results
      pageToken:
        description: Token to specify next page in the list
        type: string
        displayName: Token to specify next page in the list
      projection:
        default: basic
        description: What subset of fields to fetch for this user.
        enum:
          - basic
          - custom
          - full
        type: string
        displayName: What subset of fields to fetch for this user.
      query:
        description: 'Query string search. Should be of the form "". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-users'
        type: string
        displayName: 'Query string search. Should be of the form "". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-users'
      showDeleted:
        description: If set to true retrieves the list of deleted users. Default is false
        type: string
        displayName: If set to true retrieves the list of deleted users. Default is false
      sortOrder:
        description: Whether to return results in ascending or descending order.
        enum:
          - ASCENDING
          - DESCENDING
        type: string
        displayName: Whether to return results in ascending or descending order.
      viewType:
        default: admin_view
        description: Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.
        enum:
          - admin_view
          - domain_public
        type: string
        displayName: Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
    (oas-tags):
      - users
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: directory.users.insert
    description: create user.
    body:
      application/json:
        type: User
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: User
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/admin.directory.user'
    (oas-tags):
      - users
  /watch:
    displayName: watch
    post:
      displayName: directory.users.watch
      description: Watch for changes in users list
      body:
        application/json:
          type: Channel
          (oas-body-name): resource
      responses:
        '200':
          body:
            application/json:
              type: Channel
          description: Successful response
      queryParameters:
        customFieldMask:
          description: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
          type: string
          displayName: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
        customer:
          description: 'Immutable id of the Google Apps account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.'
          type: string
          displayName: 'Immutable id of the Google Apps account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.'
        domain:
          description: Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.
          type: string
          displayName: Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.
        event:
          description: Event on which subscription is intended (if subscribing)
          enum:
            - add
            - delete
            - makeAdmin
            - undelete
            - update
          type: string
          displayName: Event on which subscription is intended (if subscribing)
        maxResults:
          description: Maximum number of results to return. Default is 100. Max allowed is 500
          maximum: 500
          minimum: 1
          type: integer
          displayName: Maximum number of results to return. Default is 100. Max allowed is 500
        orderBy:
          description: Column to use for sorting results
          enum:
            - email
            - familyName
            - givenName
          type: string
          displayName: Column to use for sorting results
        pageToken:
          description: Token to specify next page in the list
          type: string
          displayName: Token to specify next page in the list
        projection:
          default: basic
          description: What subset of fields to fetch for this user.
          enum:
            - basic
            - custom
            - full
          type: string
          displayName: What subset of fields to fetch for this user.
        query:
          description: 'Query string search. Should be of the form "". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-users'
          type: string
          displayName: 'Query string search. Should be of the form "". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-users'
        showDeleted:
          description: If set to true retrieves the list of deleted users. Default is false
          type: string
          displayName: If set to true retrieves the list of deleted users. Default is false
        sortOrder:
          description: Whether to return results in ascending or descending order.
          enum:
            - ASCENDING
            - DESCENDING
          type: string
          displayName: Whether to return results in ascending or descending order.
        viewType:
          default: admin_view
          description: Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.
          enum:
            - admin_view
            - domain_public
          type: string
          displayName: Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
      (oas-tags):
        - users
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/admin:
  displayName: admin
  /directory_v1:
    displayName: directory_v1
    /channels:
      displayName: channels
      /stop:
        displayName: stop
        post:
          displayName: admin.channels.stop
          description: Stop watching resources through this channel
          body:
            application/json:
              type: Channel
              (oas-body-name): resource
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
          (oas-tags):
            - channels
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
/customers:
  displayName: customers
  '/{customerKey}':
    displayName: '{customerKey}'
    uriParameters:
      customerKey:
        description: Id of the customer to be updated
        required: true
        type: string
        displayName: Id of the customer to be updated
    get:
      displayName: directory.customers.get
      description: Retrieves a customer.
      responses:
        '200':
          body:
            application/json:
              type: Customer
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.customer.readonly'
      (oas-tags):
        - customers
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    patch:
      displayName: directory.customers.patch
      description: Updates a customer. This method supports patch semantics.
      body:
        application/json:
          type: Customer
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Customer
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.customer'
      (oas-tags):
        - customers
    put:
      displayName: directory.customers.update
      description: Updates a customer.
      body:
        application/json:
          type: Customer
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Customer
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.customer'
      (oas-tags):
        - customers
/groups:
  displayName: groups
  get:
    displayName: directory.groups.list
    description: Retrieve all groups in a domain (paginated)
    responses:
      '200':
        body:
          application/json:
            type: Groups
        description: Successful response
    queryParameters:
      customer:
        description: 'Immutable id of the Google Apps account. In case of multi-domain, to fetch all groups for a customer, fill this field instead of domain.'
        type: string
        displayName: 'Immutable id of the Google Apps account. In case of multi-domain, to fetch all groups for a customer, fill this field instead of domain.'
      domain:
        description: Name of the domain. Fill this field to get groups from only this domain. To return all groups in a multi-domain fill customer field instead.
        type: string
        displayName: Name of the domain. Fill this field to get groups from only this domain. To return all groups in a multi-domain fill customer field instead.
      maxResults:
        description: Maximum number of results to return. Default is 200
        minimum: 1
        type: integer
        displayName: Maximum number of results to return. Default is 200
      pageToken:
        description: Token to specify next page in the list
        type: string
        displayName: Token to specify next page in the list
      userKey:
        description: 'Email or immutable Id of the user if only those groups are to be listed, the given user is a member of. If Id, it should match with id of user object'
        type: string
        displayName: 'Email or immutable Id of the user if only those groups are to be listed, the given user is a member of. If Id, it should match with id of user object'
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
    (oas-tags):
      - groups
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: directory.groups.insert
    description: Create Group
    body:
      application/json:
        type: Group
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Group
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/admin.directory.group'
    (oas-tags):
      - groups
  '/{groupKey}':
    displayName: '{groupKey}'
    uriParameters:
      groupKey:
        description: 'Email or immutable Id of the group. If Id, it should match with id of group object'
        required: true
        type: string
        displayName: 'Email or immutable Id of the group. If Id, it should match with id of group object'
    delete:
      displayName: directory.groups.delete
      description: Delete Group
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.group'
      (oas-tags):
        - groups
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    get:
      displayName: directory.groups.get
      description: Retrieve Group
      responses:
        '200':
          body:
            application/json:
              type: Group
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
      (oas-tags):
        - groups
    patch:
      displayName: directory.groups.patch
      description: Update Group. This method supports patch semantics.
      body:
        application/json:
          type: Group
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Group
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.group'
      (oas-tags):
        - groups
    put:
      displayName: directory.groups.update
      description: Update Group
      body:
        application/json:
          type: Group
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Group
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/admin.directory.group'
      (oas-tags):
        - groups
    /aliases:
      displayName: aliases
      get:
        displayName: directory.groups.aliases.list
        description: List all aliases for a group
        responses:
          '200':
            body:
              application/json:
                type: Aliases
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
        (oas-tags):
          - groups
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: directory.groups.aliases.insert
        description: Add a alias for the group
        body:
          application/json:
            type: Alias
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Alias
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.group'
        (oas-tags):
          - groups
      '/{alias}':
        displayName: '{alias}'
        uriParameters:
          alias:
            description: The alias to be removed
            required: true
            type: string
            displayName: The alias to be removed
        delete:
          displayName: directory.groups.aliases.delete
          description: Remove a alias for the group
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.group'
          (oas-tags):
            - groups
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /members:
      displayName: members
      get:
        displayName: directory.members.list
        description: Retrieve all members in a group (paginated)
        responses:
          '200':
            body:
              application/json:
                type: Members
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of results to return. Default is 200
            minimum: 1
            type: integer
            displayName: Maximum number of results to return. Default is 200
          pageToken:
            description: Token to specify next page in the list
            type: string
            displayName: Token to specify next page in the list
          roles:
            description: Comma separated role values to filter list results on.
            type: string
            displayName: Comma separated role values to filter list results on.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
        (oas-tags):
          - members
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: directory.members.insert
        description: Add user to the specified group.
        body:
          application/json:
            type: Member
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Member
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.directory.group.member'
        (oas-tags):
          - members
      '/{memberKey}':
        displayName: '{memberKey}'
        uriParameters:
          memberKey:
            description: 'Email or immutable Id of the user. If Id, it should match with id of member object'
            required: true
            type: string
            displayName: 'Email or immutable Id of the user. If Id, it should match with id of member object'
        delete:
          displayName: directory.members.delete
          description: Remove membership.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.group.member'
          (oas-tags):
            - members
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: directory.members.get
          description: Retrieve Group Member
          responses:
            '200':
              body:
                application/json:
                  type: Member
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
          (oas-tags):
            - members
        patch:
          displayName: directory.members.patch
          description: Update membership of a user in the specified group. This method supports patch semantics.
          body:
            application/json:
              type: Member
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Member
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.group.member'
          (oas-tags):
            - members
        put:
          displayName: directory.members.update
          description: Update membership of a user in the specified group.
          body:
            application/json:
              type: Member
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Member
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.directory.group.member'
          (oas-tags):
            - members
types:
  Alias:
    description: JSON template for Alias object in Directory API.
    properties:
      alias:
        description: A alias email
        type: string
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      id:
        description: Unique id of the group (Read-only) Unique id of the user (Read-only)
        type: string
        required: false
      kind:
        default: 'admin#directory#alias'
        description: Kind of resource this is.
        type: string
        required: false
      primaryEmail:
        description: Group's primary email (Read-only) User's primary email (Read-only)
        type: string
        required: false
  Aliases:
    description: JSON response template to list aliases in Directory API.
    properties:
      aliases:
        description: List of alias objects.
        items: {}
        type: array
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      kind:
        default: 'admin#directory#aliases'
        description: Kind of resource this is.
        type: string
        required: false
  Asp:
    description: The template that returns individual ASP (Access Code) data.
    properties:
      codeId:
        description: The unique ID of the ASP.
        format: int32
        type: integer
        required: false
      creationTime:
        description: The time when the ASP was created. Expressed in Unix time format.
        format: int64
        type: string
        facets:
          format: string
        required: false
      etag:
        description: ETag of the ASP.
        type: string
        required: false
      kind:
        default: 'admin#directory#asp'
        description: 'The type of the API resource. This is always admin#directory#asp.'
        type: string
        required: false
      lastTimeUsed:
        description: The time when the ASP was last used. Expressed in Unix time format.
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: 'The name of the application that the user, represented by their userId, entered when the ASP was created.'
        type: string
        required: false
      userKey:
        description: The unique ID of the user who issued the ASP.
        type: string
        required: false
  Asps:
    properties:
      etag:
        description: ETag of the resource.
        type: string
        required: false
      items:
        description: A list of ASP resources.
        items:
          type: Asp
        type: array
        required: false
      kind:
        default: 'admin#directory#aspList'
        description: 'The type of the API resource. This is always admin#directory#aspList.'
        type: string
        required: false
  CalendarResource:
    description: JSON template for Calendar Resource object in Directory API.
    properties:
      etags:
        description: ETag of the resource.
        type: string
        required: false
      kind:
        default: 'admin#directory#resources#calendars#CalendarResource'
        description: 'The type of the resource. For calendar resources, the value is admin#directory#resources#calendars#CalendarResource.'
        type: string
        required: false
      resourceDescription:
        description: The brief description of the calendar resource.
        type: string
        required: false
      resourceEmail:
        description: The read-only email ID for the calendar resource. Generated as part of creating a new calendar resource.
        type: string
        required: false
      resourceId:
        description: The unique ID for the calendar resource.
        type: string
        required: false
      resourceName:
        description: 'The name of the calendar resource. For example, Training Room 1A'
        type: string
        required: false
      resourceType:
        description: The type of the calendar resource. Used for grouping resources in the calendar user interface.
        type: string
        required: false
  CalendarResources:
    description: JSON template for Calendar Resource List Response object in Directory API.
    properties:
      etag:
        description: ETag of the resource.
        type: string
        required: false
      items:
        description: The CalendarResources in this page of results.
        items:
          type: CalendarResource
        type: array
        required: false
      kind:
        default: 'admin#directory#resources#calendars#calendarResourcesList'
        description: 'Identifies this as a collection of CalendarResources. This is always admin#directory#resources#calendars#calendarResourcesList.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
  Channel:
    description: An notification channel used to watch for resource changes.
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
        required: false
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
        required: false
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string "api#channel".'
        type: string
        required: false
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
        required: false
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
        required: false
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
        required: false
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
        required: false
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
        required: false
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
        required: false
  ChromeOsDevice:
    description: JSON template for Chrome Os Device resource in Directory API.
    properties:
      activeTimeRanges:
        description: List of active time ranges (Read-only)
        items:
          properties:
            activeTime:
              description: Duration in milliseconds
              format: int32
              type: integer
              required: false
            date:
              description: Date of usage
              type: date-only
              required: false
          type: object
        type: array
        required: false
      annotatedAssetId:
        description: AssetId specified during enrollment or through later annotation
        type: string
        required: false
      annotatedLocation:
        description: Address or location of the device as noted by the administrator
        type: string
        required: false
      annotatedUser:
        description: User of the device
        type: string
        required: false
      bootMode:
        description: Chromebook boot mode (Read-only)
        type: string
        required: false
      deviceId:
        description: Unique identifier of Chrome OS Device (Read-only)
        type: string
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      ethernetMacAddress:
        description: Chromebook Mac Address on ethernet network interface (Read-only)
        type: string
        required: false
      firmwareVersion:
        description: Chromebook firmware version (Read-only)
        type: string
        required: false
      kind:
        default: 'admin#directory#chromeosdevice'
        description: Kind of resource this is.
        type: string
        required: false
      lastEnrollmentTime:
        description: Date and time the device was last enrolled (Read-only)
        format: rfc3339
        type: datetime
        required: false
      lastSync:
        description: Date and time the device was last synchronized with the policy settings in the Google Apps administrator control panel (Read-only)
        format: rfc3339
        type: datetime
        required: false
      macAddress:
        description: Chromebook Mac Address on wifi network interface (Read-only)
        type: string
        required: false
      meid:
        description: Mobile Equipment identifier for the 3G mobile card in the Chromebook (Read-only)
        type: string
        required: false
      model:
        description: Chromebook Model (Read-only)
        type: string
        required: false
      notes:
        description: Notes added by the administrator
        type: string
        required: false
      orderNumber:
        description: Chromebook order number (Read-only)
        type: string
        required: false
      orgUnitPath:
        description: OrgUnit of the device
        type: string
        required: false
      osVersion:
        description: Chromebook Os Version (Read-only)
        type: string
        required: false
      platformVersion:
        description: Chromebook platform version (Read-only)
        type: string
        required: false
      recentUsers:
        description: 'List of recent device users, in descending order by last login time (Read-only)'
        items:
          properties:
            email:
              description: Email address of the user. Present only if the user type is managed
              type: string
              required: false
            type:
              description: The type of the user
              type: string
              required: false
          type: object
        type: array
        required: false
      serialNumber:
        description: Chromebook serial number (Read-only)
        type: string
        required: false
      status:
        description: status of the device (Read-only)
        type: string
        required: false
      supportEndDate:
        description: Final date the device will be supported (Read-only)
        format: rfc3339
        type: datetime
        required: false
      willAutoRenew:
        description: Will Chromebook auto renew after support end date (Read-only)
        type: boolean
        required: false
  ChromeOsDeviceAction:
    description: JSON request template for firing actions on ChromeOs Device in Directory Devices API.
    properties:
      action:
        description: Action to be taken on the ChromeOs Device
        type: string
        required: false
      deprovisionReason:
        type: string
        required: false
  ChromeOsDevices:
    description: JSON response template for List Chrome OS Devices operation in Directory API.
    properties:
      chromeosdevices:
        description: List of Chrome OS Device objects.
        items:
          type: ChromeOsDevice
        type: array
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      kind:
        default: 'admin#directory#chromeosdevices'
        description: Kind of resource this is.
        type: string
        required: false
      nextPageToken:
        description: Token used to access next page of this result.
        type: string
        required: false
  Customer:
    description: JSON template for Customer Resource object in Directory API.
    properties:
      alternateEmail:
        description: The customer's secondary contact email address. This email address cannot be on the same domain as the customerDomain
        type: string
        required: false
      customerCreationTime:
        description: The customer's creation time (Readonly)
        format: rfc3339
        type: datetime
        required: false
      customerDomain:
        description: The customer's primary domain name string. Do not include the www prefix when creating a new customer.
        type: string
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      id:
        description: The unique ID for the customer's Google account. (Readonly)
        type: string
        required: false
      kind:
        default: 'admin#directory#customer'
        description: 'Identifies the resource as a customer. Value: admin#directory#customer'
        type: string
        required: false
      language:
        description: The customer's ISO 639-2 language code. The default value is en-US
        type: string
        required: false
      phoneNumber:
        description: The customer's contact phone number in E.164 format.
        type: string
        required: false
      postalAddress:
        description: The customer's postal address information.
        type: CustomerPostalAddress
        required: false
  CustomerPostalAddress:
    description: JSON template for postal address of a customer.
    properties:
      addressLine1:
[...]
