#%RAML 1.0
title: AdSense Host
version: v4.1
baseUri: 'https://www.googleapis.com/adsensehost/v4.1'
protocols:
  - HTTPS
description: 'Generates performance reports, generates ad codes, and provides publisher management capabilities for AdSense Hosts.'
(oas-tags-definition):
  - name: accounts
  - name: adclients
  - name: associationsessions
  - name: customchannels
  - name: reports
  - name: urlchannels
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/adsensehost/v4.1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): adsensehost
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/adsense/host/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/adsensehost'
    description: Oauth 2.0 authentication
/adclients:
  displayName: adclients
  '/{adClientId}':
    displayName: '{adClientId}'
    uriParameters:
      adClientId:
        description: Ad client to get.
        required: true
        type: string
    get:
      displayName: adsensehost.adclients.get
      description: Get information about one of the ad clients in the Host AdSense account.
      responses:
        '200':
          body:
            application/json:
              type: AdClient
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adsensehost'
      (oas-tags):
        - adclients
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /customchannels:
      displayName: customchannels
      get:
        displayName: adsensehost.customchannels.list
        description: List all host custom channels in this AdSense account.
        responses:
          '200':
            body:
              application/json:
                type: CustomChannels
            description: Successful response
        queryParameters:
          maxResults:
            description: 'The maximum number of custom channels to include in the response, used for paging.'
            maximum: 10000
            minimum: 0
            type: integer
          pageToken:
            description: 'A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - customchannels
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      patch:
        displayName: adsensehost.customchannels.patch
        description: Update a custom channel in the host AdSense account. This method supports patch semantics.
        body:
          application/json:
            type: CustomChannel
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: CustomChannel
            description: Successful response
        queryParameters:
          customChannelId:
            description: Custom channel to get.
            required: true
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - customchannels
      post:
        displayName: adsensehost.customchannels.insert
        description: Add a new custom channel to the host AdSense account.
        body:
          application/json:
            type: CustomChannel
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: CustomChannel
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - customchannels
      put:
        displayName: adsensehost.customchannels.update
        description: Update a custom channel in the host AdSense account.
        body:
          application/json:
            type: CustomChannel
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: CustomChannel
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - customchannels
      '/{customChannelId}':
        displayName: '{customChannelId}'
        uriParameters:
          customChannelId:
            description: Custom channel to get.
            required: true
            type: string
        delete:
          displayName: adsensehost.customchannels.delete
          description: Delete a specific custom channel from the host AdSense account.
          responses:
            '200':
              body:
                application/json:
                  type: CustomChannel
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/adsensehost'
          (oas-tags):
            - customchannels
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: adsensehost.customchannels.get
          description: Get a specific custom channel from the host AdSense account.
          responses:
            '200':
              body:
                application/json:
                  type: CustomChannel
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/adsensehost'
          (oas-tags):
            - customchannels
    /urlchannels:
      displayName: urlchannels
      get:
        displayName: adsensehost.urlchannels.list
        description: List all host URL channels in the host AdSense account.
        responses:
          '200':
            body:
              application/json:
                type: UrlChannels
            description: Successful response
        queryParameters:
          maxResults:
            description: 'The maximum number of URL channels to include in the response, used for paging.'
            maximum: 10000
            minimum: 0
            type: integer
          pageToken:
            description: 'A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - urlchannels
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{urlChannelId}':
        displayName: '{urlChannelId}'
        uriParameters:
          urlChannelId:
            description: URL channel to delete.
            required: true
            type: string
        delete:
          displayName: adsensehost.urlchannels.delete
          description: Delete a URL channel from the host AdSense account.
          responses:
            '200':
              body:
                application/json:
                  type: UrlChannel
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/adsensehost'
          (oas-tags):
            - urlchannels
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      post:
        displayName: adsensehost.urlchannels.insert
        description: Add a new URL channel to the host AdSense account.
        body:
          application/json:
            type: UrlChannel
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: UrlChannel
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - urlchannels
  get:
    displayName: adsensehost.adclients.list
    description: List all host ad clients in this AdSense account.
    responses:
      '200':
        body:
          application/json:
            type: AdClients
        description: Successful response
    queryParameters:
      maxResults:
        description: 'The maximum number of ad clients to include in the response, used for paging.'
        maximum: 10000
        minimum: 0
        type: integer
      pageToken:
        description: 'A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adsensehost'
    (oas-tags):
      - adclients
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/reports:
  displayName: reports
  get:
    displayName: adsensehost.reports.generate
    description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
    responses:
      '200':
        body:
          application/json:
            type: Report
        description: Successful response
    queryParameters:
      startDate:
        description: 'Start of the date range to report on in "YYYY-MM-DD" format, inclusive.'
        required: true
        type: string
      endDate:
        description: 'End of the date range to report on in "YYYY-MM-DD" format, inclusive.'
        required: true
        type: string
      dimension:
        collectionFormat: multi
        description: Dimensions to base the report on.
        items:
          type: string
        type: array
        facets:
          collectionFormat: string
      filter:
        collectionFormat: multi
        description: Filters to be run on the report.
        items:
          type: string
        type: array
        facets:
          collectionFormat: string
      locale:
        description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
        type: string
      maxResults:
        description: The maximum number of rows of report data to return.
        maximum: 50000
        minimum: 0
        type: integer
      metric:
        collectionFormat: multi
        description: Numeric columns to include in the report.
        items:
          type: string
        type: array
        facets:
          collectionFormat: string
      sort:
        collectionFormat: multi
        description: 'The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.'
        items:
          type: string
        type: array
        facets:
          collectionFormat: string
      startIndex:
        description: Index of the first row of report data to return.
        maximum: 5000
        minimum: 0
        type: integer
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adsensehost'
    (oas-tags):
      - reports
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/accounts:
  displayName: accounts
  get:
    displayName: adsensehost.accounts.list
    description: List hosted accounts associated with this AdSense account by ad client id.
    responses:
      '200':
        body:
          application/json:
            type: Accounts
        description: Successful response
    queryParameters:
      filterAdClientId:
        collectionFormat: multi
        description: Ad clients to list accounts for.
        items:
          type: string
        required: true
        type: array
        facets:
          collectionFormat: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adsensehost'
    (oas-tags):
      - accounts
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{accountId}':
    displayName: '{accountId}'
    /adclients:
      displayName: adclients
      get:
        displayName: adsensehost.accounts.adclients.list
        description: List all hosted ad clients in the specified hosted account.
        responses:
          '200':
            body:
              application/json:
                type: AdClients
            description: Successful response
        queryParameters:
          maxResults:
            description: 'The maximum number of ad clients to include in the response, used for paging.'
            maximum: 10000
            minimum: 0
            type: integer
          pageToken:
            description: 'A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - accounts
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{adClientId}':
        displayName: '{adClientId}'
        /adunits:
          displayName: adunits
          get:
            displayName: adsensehost.accounts.adunits.list
            description: List all ad units in the specified publisher's AdSense account.
            responses:
              '200':
                body:
                  application/json:
                    type: AdUnits
                description: Successful response
            queryParameters:
              includeInactive:
                description: 'Whether to include inactive ad units. Default: true.'
                type: boolean
              maxResults:
                description: 'The maximum number of ad units to include in the response, used for paging.'
                maximum: 10000
                minimum: 0
                type: integer
              pageToken:
                description: 'A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/adsensehost'
            (oas-tags):
              - accounts
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: adsensehost.accounts.adunits.insert
            description: Insert the supplied ad unit into the specified publisher AdSense account.
            body:
              application/json:
                type: AdUnit
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: AdUnit
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/adsensehost'
            (oas-tags):
              - accounts
          '/{adUnitId}':
            displayName: '{adUnitId}'
            uriParameters:
              adUnitId:
                description: Ad unit to get.
                required: true
                type: string
            delete:
              displayName: adsensehost.accounts.adunits.delete
              description: Delete the specified ad unit from the specified publisher AdSense account.
              responses:
                '200':
                  body:
                    application/json:
                      type: AdUnit
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/adsensehost'
              (oas-tags):
                - accounts
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            /adcode:
              displayName: adcode
              get:
                displayName: adsensehost.accounts.adunits.getAdCode
                description: 'Get ad code for the specified ad unit, attaching the specified host custom channels.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: AdCode
                    description: Successful response
                queryParameters:
                  hostCustomChannelId:
                    collectionFormat: multi
                    description: Host custom channel to attach to the ad code.
                    items:
                      type: string
                    type: array
                    facets:
                      collectionFormat: string
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/adsensehost'
                (oas-tags):
                  - accounts
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
            get:
              displayName: adsensehost.accounts.adunits.get
              description: Get the specified host ad unit in this AdSense account.
              responses:
                '200':
                  body:
                    application/json:
                      type: AdUnit
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/adsensehost'
              (oas-tags):
                - accounts
          patch:
            displayName: adsensehost.accounts.adunits.patch
            description: Update the supplied ad unit in the specified publisher AdSense account. This method supports patch semantics.
            body:
              application/json:
                type: AdUnit
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: AdUnit
                description: Successful response
            queryParameters:
              adUnitId:
                description: Ad unit to get.
                required: true
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/adsensehost'
            (oas-tags):
              - accounts
          put:
            displayName: adsensehost.accounts.adunits.update
            description: Update the supplied ad unit in the specified publisher AdSense account.
            body:
              application/json:
                type: AdUnit
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: AdUnit
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/adsensehost'
            (oas-tags):
              - accounts
        uriParameters:
          adClientId:
            description: Ad client to get.
            required: true
            type: string
        get:
          displayName: adsensehost.accounts.adclients.get
          description: Get information about one of the ad clients in the specified publisher's AdSense account.
          responses:
            '200':
              body:
                application/json:
                  type: AdClient
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/adsensehost'
          (oas-tags):
            - accounts
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    uriParameters:
      accountId:
        description: Account to get information about.
        required: true
        type: string
    get:
      displayName: adsensehost.accounts.get
      description: Get information about the selected associated AdSense account.
      responses:
        '200':
          body:
            application/json:
              type: Account
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adsensehost'
      (oas-tags):
        - accounts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /reports:
      displayName: reports
      get:
        displayName: adsensehost.accounts.reports.generate
        description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
        responses:
          '200':
            body:
              application/json:
                type: Report
            description: Successful response
        queryParameters:
          startDate:
            description: 'Start of the date range to report on in "YYYY-MM-DD" format, inclusive.'
            required: true
            type: string
          endDate:
            description: 'End of the date range to report on in "YYYY-MM-DD" format, inclusive.'
            required: true
            type: string
          dimension:
            collectionFormat: multi
            description: Dimensions to base the report on.
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
          filter:
            collectionFormat: multi
            description: Filters to be run on the report.
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
          locale:
            description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
            type: string
          maxResults:
            description: The maximum number of rows of report data to return.
            maximum: 50000
            minimum: 0
            type: integer
          metric:
            collectionFormat: multi
            description: Numeric columns to include in the report.
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
          sort:
            collectionFormat: multi
            description: 'The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.'
            items:
              type: string
            type: array
            facets:
              collectionFormat: string
          startIndex:
            description: Index of the first row of report data to return.
            maximum: 5000
            minimum: 0
            type: integer
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adsensehost'
        (oas-tags):
          - accounts
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/associationsessions:
  displayName: associationsessions
  /verify:
    displayName: verify
    get:
      displayName: adsensehost.associationsessions.verify
      description: Verify an association session after the association callback returns from AdSense signup.
      responses:
        '200':
          body:
            application/json:
              type: AssociationSession
          description: Successful response
      queryParameters:
        token:
          description: The token returned to the association callback URL.
          required: true
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adsensehost'
      (oas-tags):
        - associationsessions
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /start:
    displayName: start
    get:
      displayName: adsensehost.associationsessions.start
      description: Create an association session for initiating an association with an AdSense user.
      responses:
        '200':
          body:
            application/json:
              type: AssociationSession
          description: Successful response
      queryParameters:
        productCode:
          collectionFormat: multi
          description: Products to associate with the user.
          items:
            enum:
              - AFC
              - AFG
              - AFMC
              - AFS
              - AFV
            type: string
          required: true
          type: array
          facets:
            collectionFormat: string
        websiteUrl:
          description: The URL of the user's hosted website.
          required: true
          type: string
        userLocale:
          description: The preferred locale of the user.
          type: string
        websiteLocale:
          description: The locale of the user's hosted website.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adsensehost'
      (oas-tags):
        - associationsessions
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  Account:
    properties:
      id:
        description: Unique identifier of this account.
        type: string
        required: false
      kind:
        default: 'adsensehost#account'
        description: 'Kind of resource this is, in this case adsensehost#account.'
        type: string
        required: false
      name:
        description: Name of this account.
        type: string
        required: false
      status:
        description: 'Approval status of this account. One of: PENDING, APPROVED, DISABLED.'
        type: string
        required: false
  Accounts:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The accounts returned in this list response.
        items:
          type: Account
        type: array
        required: false
      kind:
        default: 'adsensehost#accounts'
        description: 'Kind of list this is, in this case adsensehost#accounts.'
        type: string
        required: false
  AdClient:
    properties:
      arcOptIn:
        description: Whether this ad client is opted in to ARC.
        type: boolean
        required: false
      id:
        description: Unique identifier of this ad client.
        type: string
        required: false
      kind:
        default: 'adsensehost#adClient'
        description: 'Kind of resource this is, in this case adsensehost#adClient.'
        type: string
        required: false
      productCode:
        description: 'This ad client''s product code, which corresponds to the PRODUCT_CODE report dimension.'
        type: string
        required: false
      supportsReporting:
        description: Whether this ad client supports being reported on.
        type: boolean
        required: false
  AdClients:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The ad clients returned in this list response.
        items:
          type: AdClient
        type: array
        required: false
      kind:
        default: 'adsensehost#adClients'
        description: 'Kind of list this is, in this case adsensehost#adClients.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through ad clients. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  AdCode:
    properties:
      adCode:
        description: The ad code snippet.
        type: string
        required: false
      kind:
        default: 'adsensehost#adCode'
        description: 'Kind this is, in this case adsensehost#adCode.'
        type: string
        required: false
  AdStyle:
    properties:
      colors:
        description: 'The colors included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.'
        properties:
          background:
            description: The color of the ad background.
            type: string
            required: false
          border:
            description: The color of the ad border.
            type: string
            required: false
          text:
            description: The color of the ad text.
            type: string
            required: false
          title:
            description: The color of the ad title.
            type: string
            required: false
          url:
            description: The color of the ad url.
            type: string
            required: false
        type: object
        required: false
      corners:
        description: 'The style of the corners in the ad (deprecated: never populated, ignored).'
        type: string
        required: false
      font:
        description: The font which is included in the style.
        properties:
          family:
            description: 'The family of the font. Possible values are: ACCOUNT_DEFAULT_FAMILY, ADSENSE_DEFAULT_FAMILY, ARIAL, TIMES and VERDANA.'
            type: string
            required: false
          size:
            description: 'The size of the font. Possible values are: ACCOUNT_DEFAULT_SIZE, ADSENSE_DEFAULT_SIZE, SMALL, MEDIUM and LARGE.'
            type: string
            required: false
        type: object
        required: false
      kind:
        default: 'adsensehost#adStyle'
        description: 'Kind this is, in this case adsensehost#adStyle.'
        type: string
        required: false
  AdUnit:
    properties:
      code:
        description: 'Identity code of this ad unit, not necessarily unique across ad clients.'
        type: string
        required: false
      contentAdsSettings:
        description: Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).
        properties:
          backupOption:
            description: The backup option to be used in instances where no ad is available.
            properties:
              color:
                description: 'Color to use when type is set to COLOR. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.'
                type: string
                required: false
              type:
                description: 'Type of the backup option. Possible values are BLANK, COLOR and URL.'
                type: string
                required: false
              url:
                description: URL to use when type is set to URL.
                type: string
                required: false
            type: object
            required: false
          size:
            description: 'Size of this ad unit. Size values are in the form SIZE_{width}_{height}.'
            type: string
            required: false
          type:
            description: 'Type of this ad unit. Possible values are TEXT, TEXT_IMAGE, IMAGE and LINK.'
            type: string
            required: false
        type: object
        required: false
      customStyle:
        description: Custom style information specific to this ad unit.
        type: AdStyle
        required: false
      id:
        description: Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
        type: string
        required: false
      kind:
        default: 'adsensehost#adUnit'
        description: 'Kind of resource this is, in this case adsensehost#adUnit.'
        type: string
        required: false
      mobileContentAdsSettings:
        description: Settings specific to WAP mobile content ads (AFMC - deprecated).
        properties:
          markupLanguage:
            description: The markup language to use for this ad unit.
            type: string
            required: false
          scriptingLanguage:
            description: The scripting language to use for this ad unit.
            type: string
            required: false
          size:
            description: Size of this ad unit.
            type: string
            required: false
          type:
            description: Type of this ad unit.
            type: string
            required: false
        type: object
        required: false
      name:
        description: Name of this ad unit.
        type: string
        required: false
      status:
        description: |-
          Status of this ad unit. Possible values are:
          NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

          ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

          INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
        type: string
        required: false
  AdUnits:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The ad units returned in this list response.
        items:
          type: AdUnit
        type: array
        required: false
      kind:
        default: 'adsensehost#adUnits'
        description: 'Kind of list this is, in this case adsensehost#adUnits.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through ad units. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  AssociationSession:
    properties:
      accountId:
        description: Hosted account id of the associated publisher after association. Present if status is ACCEPTED.
        type: string
        required: false
      id:
        description: Unique identifier of this association session.
        type: string
        required: false
      kind:
        default: 'adsensehost#associationSession'
        description: 'Kind of resource this is, in this case adsensehost#associationSession.'
        type: string
        required: false
      productCodes:
        description: 'The products to associate with the user. Options: AFC, AFG, AFV, AFS (deprecated), AFMC (deprecated)'
        items:
          type: string
        type: array
        required: false
      redirectUrl:
        description: Redirect URL of this association session. Used to redirect users into the AdSense association flow.
        type: string
        required: false
      status:
        description: 'Status of the completed association, available once the association callback token has been verified. One of ACCEPTED, REJECTED, or ERROR.'
        type: string
        required: false
      userLocale:
        description: The preferred locale of the user themselves when going through the AdSense association flow.
        type: string
        required: false
      websiteLocale:
        description: The locale of the user's hosted website.
        type: string
        required: false
      websiteUrl:
        description: The URL of the user's hosted website.
        type: string
        required: false
  CustomChannel:
    properties:
      code:
        description: 'Code of this custom channel, not necessarily unique across ad clients.'
        type: string
        required: false
      id:
        description: Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
        type: string
        required: false
      kind:
        default: 'adsensehost#customChannel'
        description: 'Kind of resource this is, in this case adsensehost#customChannel.'
        type: string
        required: false
      name:
        description: Name of this custom channel.
        type: string
        required: false
  CustomChannels:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The custom channels returned in this list response.
        items:
          type: CustomChannel
        type: array
        required: false
      kind:
        default: 'adsensehost#customChannels'
        description: 'Kind of list this is, in this case adsensehost#customChannels.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through custom channels. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  Report:
    properties:
      averages:
        description: The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
        type: array
        required: false
      headers:
        description: 'The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.'
        items:
          properties:
            currency:
              description: The currency of this column. Only present if the header type is METRIC_CURRENCY.
              type: string
              required: false
            name:
              description: The name of the header.
              type: string
              required: false
            type:
              description: 'The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.'
              type: string
              required: false
          type: object
        type: array
        required: false
      kind:
        default: 'adsensehost#report'
        description: 'Kind this is, in this case adsensehost#report.'
        type: string
        required: false
      rows:
        description: 'The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.'
        items:
          items:
            type: string
          type: array
        type: array
        required: false
      totalMatchedRows:
        description: The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.
        format: int64
        type: string
        facets:
          format: string
        required: false
      totals:
        description: The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
        type: array
        required: false
      warnings:
        description: Any warnings associated with generation of the report.
        items:
          type: string
        type: array
        required: false
  UrlChannel:
    properties:
      id:
        description: Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
        type: string
        required: false
      kind:
        default: 'adsensehost#urlChannel'
        description: 'Kind of resource this is, in this case adsensehost#urlChannel.'
        type: string
        required: false
      urlPattern:
        description: 'URL Pattern of this URL channel. Does not include "http://" or "https://". Example: www.example.com/home'
        type: string
        required: false
  UrlChannels:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The URL channels returned in this list response.
        items:
          type: UrlChannel
        type: array
        required: false
      kind:
        default: 'adsensehost#urlChannels'
        description: 'Kind of list this is, in this case adsensehost#urlChannels.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through URL channels. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - csv
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
