#%RAML 1.0
title: Content API for Shopping
version: v2sandbox
baseUri: 'https://www.googleapis.com/content/v2sandbox'
protocols:
  - HTTPS
description: 'Manages product items, inventory, and Merchant Center accounts for Google Shopping.'
(oas-tags-definition):
  - name: orders
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/content/v2sandbox/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): content
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/shopping-content'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/content'
    description: Oauth 2.0 authentication
'/{merchantId}':
  displayName: '{merchantId}'
  /orders:
    displayName: orders
    '/{orderId}':
      displayName: '{orderId}'
      /returnLineItem:
        displayName: returnLineItem
        post:
          displayName: content.orders.returnlineitem
          description: Returns a line item.
          body:
            application/json:
              type: OrdersReturnLineItemRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersReturnLineItemResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /shipLineItems:
        displayName: shipLineItems
        post:
          displayName: content.orders.shiplineitems
          description: Marks line item(s) as shipped.
          body:
            application/json:
              type: OrdersShipLineItemsRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersShipLineItemsResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /updateMerchantOrderId:
        displayName: updateMerchantOrderId
        post:
          displayName: content.orders.updatemerchantorderid
          description: Updates the merchant order ID for a given order.
          body:
            application/json:
              type: OrdersUpdateMerchantOrderIdRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersUpdateMerchantOrderIdResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      uriParameters:
        orderId:
          description: The ID of the order.
          required: true
          type: string
          displayName: The ID of the order.
      get:
        displayName: content.orders.get
        description: Retrieves an order from your Merchant Center account.
        responses:
          '200':
            body:
              application/json:
                type: Order
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - orders
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      /cancel:
        displayName: cancel
        post:
          displayName: content.orders.cancel
          description: Cancels all line items in an order.
          body:
            application/json:
              type: OrdersCancelRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersCancelResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /updateShipment:
        displayName: updateShipment
        post:
          displayName: content.orders.updateshipment
          description: 'Updates a shipment''s status, carrier, and/or tracking ID.'
          body:
            application/json:
              type: OrdersUpdateShipmentRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersUpdateShipmentResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /cancelLineItem:
        displayName: cancelLineItem
        post:
          displayName: content.orders.cancellineitem
          description: Cancels a line item.
          body:
            application/json:
              type: OrdersCancelLineItemRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersCancelLineItemResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /acknowledge:
        displayName: acknowledge
        post:
          displayName: content.orders.acknowledge
          description: Marks an order as acknowledged.
          body:
            application/json:
              type: OrdersAcknowledgeRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersAcknowledgeResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /refund:
        displayName: refund
        post:
          displayName: content.orders.refund
          description: 'Refund a portion of the order, up to the full amount paid.'
          body:
            application/json:
              type: OrdersRefundRequest
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: OrdersRefundResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    get:
      displayName: content.orders.list
      description: Lists the orders in your Merchant Center account.
      responses:
        '200':
          body:
            application/json:
              type: OrdersListResponse
          description: Successful response
      queryParameters:
        acknowledged:
          description: |-
            Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.
            We recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.
          type: boolean
          displayName: |-
            Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.
            We recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.
        maxResults:
          description: |-
            The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.
            Known issue: All List calls will return all Orders without limit regardless of the value of this field.
          type: integer
          displayName: |-
            The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.
            Known issue: All List calls will return all Orders without limit regardless of the value of this field.
        orderBy:
          description: 'The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. "placedDate desc" stands for listing orders by placement date, from oldest to most recent. "placedDate asc" stands for listing orders by placement date, from most recent to oldest. In future releases we''ll support other sorting criteria.'
          enum:
            - placedDate asc
            - placedDate desc
          type: string
          displayName: 'The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. "placedDate desc" stands for listing orders by placement date, from oldest to most recent. "placedDate asc" stands for listing orders by placement date, from most recent to oldest. In future releases we''ll support other sorting criteria.'
        pageToken:
          description: The token returned by the previous request.
          type: string
          displayName: The token returned by the previous request.
        placedDateEnd:
          description: 'Obtains orders placed before this date (exclusively), in ISO 8601 format.'
          type: string
          displayName: 'Obtains orders placed before this date (exclusively), in ISO 8601 format.'
        placedDateStart:
          description: 'Obtains orders placed after this date (inclusively), in ISO 8601 format.'
          type: string
          displayName: 'Obtains orders placed after this date (inclusively), in ISO 8601 format.'
        statuses:
          collectionFormat: multi
          description: 'Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.'
          items:
            enum:
              - active
              - canceled
              - completed
              - delivered
              - inProgress
              - partiallyDelivered
              - partiallyReturned
              - partiallyShipped
              - pendingShipment
              - returned
              - shipped
            type: string
          type: array
          displayName: 'Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.'
          facets:
            collectionFormat: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - orders
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /testordertemplates:
    displayName: testordertemplates
    '/{templateName}':
      displayName: '{templateName}'
      uriParameters:
        templateName:
          description: The name of the template to retrieve.
          enum:
            - template1
            - template1a
            - template1b
            - template2
          required: true
          type: string
          displayName: The name of the template to retrieve.
      get:
        displayName: content.orders.gettestordertemplate
        description: Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox.
        responses:
          '200':
            body:
              application/json:
                type: OrdersGetTestOrderTemplateResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - orders
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /testorders:
    displayName: testorders
    '/{orderId}':
      displayName: '{orderId}'
      /advance:
        displayName: advance
        post:
          displayName: content.orders.advancetestorder
          description: Sandbox only. Moves a test order from state "inProgress" to state "pendingShipment".
          responses:
            '200':
              body:
                application/json:
                  type: OrdersAdvanceTestOrderResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/content'
          (oas-tags):
            - orders
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    post:
      displayName: content.orders.createtestorder
      description: Sandbox only. Creates a test order.
      body:
        application/json:
          type: OrdersCreateTestOrderRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: OrdersCreateTestOrderResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - orders
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /ordersbymerchantid:
    displayName: ordersbymerchantid
    '/{merchantOrderId}':
      displayName: '{merchantOrderId}'
      uriParameters:
        merchantOrderId:
          description: The merchant order id to be looked for.
          required: true
          type: string
          displayName: The merchant order id to be looked for.
      get:
        displayName: content.orders.getbymerchantorderid
        description: Retrieves an order using merchant order id.
        responses:
          '200':
            body:
              application/json:
                type: OrdersGetByMerchantOrderIdResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/content'
        (oas-tags):
          - orders
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/orders:
  displayName: orders
  /batch:
    displayName: batch
    post:
      displayName: content.orders.custombatch
      description: Retrieves or modifies multiple orders in a single request.
      body:
        application/json:
          type: OrdersCustomBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: OrdersCustomBatchResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/content'
      (oas-tags):
        - orders
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  Error:
    description: An error returned by the API.
    properties:
      domain:
        description: The domain of the error.
        type: string
        required: false
      message:
        description: A description of the error.
        type: string
        required: false
      reason:
        description: The error code.
        type: string
        required: false
  Errors:
    description: A list of errors returned by a failed batch entry.
    properties:
      code:
        description: The HTTP status of the first error in errors.
        type: integer
        required: false
      errors:
        description: A list of errors.
        items:
          type: Error
        type: array
        required: false
      message:
        description: The message of the first error in errors.
        type: string
        required: false
  Order:
    properties:
      acknowledged:
        description: Whether the order was acknowledged.
        type: boolean
        required: false
      channelType:
        description: 'The channel type of the order: "purchaseOnGoogle" or "googleExpress".'
        type: string
        required: false
      customer:
        description: The details of the customer who placed the order.
        type: OrderCustomer
        required: false
      deliveryDetails:
        description: The details for the delivery.
        type: OrderDeliveryDetails
        required: false
      id:
        description: The REST id of the order. Globally unique.
        type: string
        required: false
      kind:
        default: 'content#order'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#order".'
        type: string
        required: false
      lineItems:
        description: Line items that are ordered.
        items:
          type: OrderLineItem
        type: array
        required: false
      merchantId:
        format: uint64
        type: string
        facets:
          format: string
        required: false
      merchantOrderId:
        description: Merchant-provided id of the order.
        type: string
        required: false
      netAmount:
        description: 'The net amount for the order. For example, if an order was originally for a grand total of $100 and a refund was issued for $20, the net amount will be $80.'
        type: Price
        required: false
      paymentMethod:
        description: The details of the payment method.
        type: OrderPaymentMethod
        required: false
      paymentStatus:
        description: The status of the payment.
        type: string
        required: false
      placedDate:
        description: 'The date when the order was placed, in ISO 8601 format.'
        type: string
        required: false
      promotions:
        description: The details of the merchant provided promotions applied to the order. More details about the program are  here.
        items:
          type: OrderPromotion
        type: array
        required: false
      refunds:
        description: Refunds for the order.
        items:
          type: OrderRefund
        type: array
        required: false
      shipments:
        description: Shipments of the order.
        items:
          type: OrderShipment
        type: array
        required: false
      shippingCost:
        description: The total cost of shipping for all items.
        type: Price
        required: false
      shippingCostTax:
        description: The tax for the total shipping cost.
        type: Price
        required: false
      shippingOption:
        description: The requested shipping option.
        type: string
        required: false
      status:
        description: The status of the order.
        type: string
        required: false
  OrderAddress:
    properties:
      country:
        description: CLDR country code (e.g. "US").
        type: string
        required: false
      fullAddress:
        description: |-
          Strings representing the lines of the printed label for mailing the order, for example:
          John Smith
          1600 Amphitheatre Parkway
          Mountain View, CA, 94043
          United States
        items:
          type: string
        type: array
        required: false
      isPostOfficeBox:
        description: Whether the address is a post office box.
        type: boolean
        required: false
      locality:
        description: 'City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs).'
        type: string
        required: false
      postalCode:
        description: Postal Code or ZIP (e.g. "94043").
        type: string
        required: false
      recipientName:
        description: Name of the recipient.
        type: string
        required: false
      region:
        description: Top-level administrative subdivision of the country (e.g. "CA").
        type: string
        required: false
      streetAddress:
        description: Street-level part of the address.
        items:
          type: string
        type: array
        required: false
  OrderCancellation:
    properties:
      actor:
        description: The actor that created the cancellation.
        type: string
        required: false
      creationDate:
        description: 'Date on which the cancellation has been created, in ISO 8601 format.'
        type: string
        required: false
      quantity:
        description: The quantity that was canceled.
        type: integer
        required: false
      reason:
        description: The reason for the cancellation. Orders that are cancelled with a noInventory reason will lead to the removal of the product from POG until you make an update to that product. This will not affect your Shopping ads.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrderCustomer:
    properties:
      email:
        description: Email address of the customer.
        type: string
        required: false
      explicitMarketingPreference:
        description: 'If set, this indicates the user explicitly chose to opt in or out of providing marketing rights to the merchant. If unset, this indicates the user has already made this choice in a previous purchase, and was thus not shown the marketing right opt in/out checkbox during the Purchases on Google checkout flow.'
        type: boolean
        required: false
      fullName:
        description: Full name of the customer.
        type: string
        required: false
  OrderDeliveryDetails:
    properties:
      address:
        description: The delivery address
        type: OrderAddress
        required: false
      phoneNumber:
        description: The phone number of the person receiving the delivery.
        type: string
        required: false
  OrderLineItem:
    properties:
      cancellations:
        description: Cancellations of the line item.
        items:
          type: OrderCancellation
        type: array
        required: false
      id:
        description: The id of the line item.
        type: string
        required: false
      price:
        description: 'Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20.'
        type: Price
        required: false
      product:
        description: Product data from the time of the order placement.
        type: OrderLineItemProduct
        required: false
      quantityCanceled:
        description: Number of items canceled.
        type: integer
        required: false
      quantityDelivered:
        description: Number of items delivered.
        type: integer
        required: false
      quantityOrdered:
        description: Number of items ordered.
        type: integer
        required: false
      quantityPending:
        description: Number of items pending.
        type: integer
        required: false
      quantityReturned:
        description: Number of items returned.
        type: integer
        required: false
      quantityShipped:
        description: Number of items shipped.
        type: integer
        required: false
      returnInfo:
        description: Details of the return policy for the line item.
        type: OrderLineItemReturnInfo
        required: false
      returns:
        description: Returns of the line item.
        items:
          type: OrderReturn
        type: array
        required: false
      shippingDetails:
        description: Details of the requested shipping for the line item.
        type: OrderLineItemShippingDetails
        required: false
      tax:
        description: 'Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4.'
        type: Price
        required: false
  OrderLineItemProduct:
    properties:
      brand:
        description: Brand of the item.
        type: string
        required: false
      channel:
        description: The item's channel (online or local).
        type: string
        required: false
      condition:
        description: Condition or state of the item.
        type: string
        required: false
      contentLanguage:
        description: The two-letter ISO 639-1 language code for the item.
        type: string
        required: false
      gtin:
        description: Global Trade Item Number (GTIN) of the item.
        type: string
        required: false
      id:
        description: The REST id of the product.
        type: string
        required: false
      imageLink:
        description: URL of an image of the item.
        type: string
        required: false
      itemGroupId:
        description: Shared identifier for all variants of the same product.
        type: string
        required: false
      mpn:
        description: Manufacturer Part Number (MPN) of the item.
        type: string
        required: false
      offerId:
        description: An identifier of the item.
        type: string
        required: false
      price:
        description: Price of the item.
        type: Price
        required: false
      shownImage:
        description: URL to the cached image shown to the user when order was placed.
        type: string
        required: false
      targetCountry:
        description: The CLDR territory code of the target country of the product.
        type: string
        required: false
      title:
        description: The title of the product.
        type: string
        required: false
      variantAttributes:
        description: 'Variant attributes for the item. These are dimensions of the product, such as color, gender, material, pattern, and size. You can find a comprehensive list of variant attributes here.'
        items:
          type: OrderLineItemProductVariantAttribute
        type: array
        required: false
  OrderLineItemProductVariantAttribute:
    properties:
      dimension:
        description: The dimension of the variant.
        type: string
        required: false
      value:
        description: The value for the dimension.
        type: string
        required: false
  OrderLineItemReturnInfo:
    properties:
      daysToReturn:
        description: How many days later the item can be returned.
        format: int32
        type: integer
        required: false
      isReturnable:
        description: Whether the item is returnable.
        type: boolean
        required: false
      policyUrl:
        description: URL of the item return policy.
        type: string
        required: false
  OrderLineItemShippingDetails:
    properties:
      deliverByDate:
        description: 'The delivery by date, in ISO 8601 format.'
        type: string
        required: false
      method:
        description: Details of the shipping method.
        type: OrderLineItemShippingDetailsMethod
        required: false
      shipByDate:
        description: 'The ship by date, in ISO 8601 format.'
        type: string
        required: false
  OrderLineItemShippingDetailsMethod:
    properties:
      carrier:
        description: The carrier for the shipping. Optional.
        type: string
        required: false
      maxDaysInTransit:
        description: Maximum transit time.
        type: integer
        required: false
      methodName:
        description: The name of the shipping method.
        type: string
        required: false
      minDaysInTransit:
        description: Minimum transit time.
        type: integer
        required: false
  OrderPaymentMethod:
    properties:
      billingAddress:
        description: The billing address.
        type: OrderAddress
        required: false
      expirationMonth:
        description: 'The card expiration month (January = 1, February = 2 etc.).'
        format: int32
        type: integer
        required: false
      expirationYear:
        description: 'The card expiration year (4-digit, e.g. 2015).'
        format: int32
        type: integer
        required: false
      lastFourDigits:
        description: The last four digits of the card number.
        type: string
        required: false
      phoneNumber:
        description: The billing phone number.
        type: string
        required: false
      type:
        description: 'The type of instrument (VISA, Mastercard, etc).'
        type: string
        required: false
  OrderPromotion:
    properties:
      benefits:
        items:
          type: OrderPromotionBenefit
        type: array
        required: false
      effectiveDates:
        description: |-
          The date and time frame when the promotion is active and ready for validation review. Note that the promotion live time may be delayed for a few hours due to the validation review.
          Start date and end date are separated by a forward slash (/). The start date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression of the time zone for the sale. The end date is in the same format.
        type: string
        required: false
      genericRedemptionCode:
        description: Optional. The text code that corresponds to the promotion when applied on the retailer?s website.
        type: string
        required: false
      id:
        description: The unique ID of the promotion.
        type: string
        required: false
      longTitle:
        description: The full title of the promotion.
        type: string
        required: false
      productApplicability:
        description: Whether the promotion is applicable to all products or only specific products.
        type: string
        required: false
      redemptionChannel:
        description: Indicates that the promotion is valid online.
        type: string
        required: false
  OrderPromotionBenefit:
    properties:
      discount:
        description: The discount in the order price when the promotion is applied.
        type: Price
        required: false
      offerIds:
        description: The OfferId(s) that were purchased in this order and map to this specific benefit of the promotion.
        items:
          type: string
        type: array
        required: false
      subType:
        description: Further describes the benefit of the promotion. Note that we will expand on this enumeration as we support new promotion sub-types.
        type: string
        required: false
      taxImpact:
        description: The impact on tax when the promotion is applied.
        type: Price
        required: false
      type:
        description: Describes whether the promotion applies to products (e.g. 20% off) or to shipping (e.g. Free Shipping).
        type: string
        required: false
  OrderRefund:
    properties:
      actor:
        description: The actor that created the refund.
        type: string
        required: false
      amount:
        description: The amount that is refunded.
        type: Price
        required: false
      creationDate:
        description: 'Date on which the item has been created, in ISO 8601 format.'
        type: string
        required: false
      reason:
        description: The reason for the refund.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrderReturn:
    properties:
      actor:
        description: The actor that created the refund.
        type: string
        required: false
      creationDate:
        description: 'Date on which the item has been created, in ISO 8601 format.'
        type: string
        required: false
      quantity:
        description: Quantity that is returned.
        type: integer
        required: false
      reason:
        description: The reason for the return.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrderShipment:
    properties:
      carrier:
        description: The carrier handling the shipment.
        type: string
        required: false
      creationDate:
        description: 'Date on which the shipment has been created, in ISO 8601 format.'
        type: string
        required: false
      deliveryDate:
        description: 'Date on which the shipment has been delivered, in ISO 8601 format. Present only if status is delievered'
        type: string
        required: false
      id:
        description: The id of the shipment.
        type: string
        required: false
      lineItems:
        description: The line items that are shipped.
        items:
          type: OrderShipmentLineItemShipment
        type: array
        required: false
      status:
        description: The status of the shipment.
        type: string
        required: false
      trackingId:
        description: The tracking id for the shipment.
        type: string
        required: false
  OrderShipmentLineItemShipment:
    properties:
      lineItemId:
        description: The id of the line item that is shipped.
        type: string
        required: false
      quantity:
        description: The quantity that is shipped.
        type: integer
        required: false
  OrdersAcknowledgeRequest:
    properties:
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
  OrdersAcknowledgeResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersAcknowledgeResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersAcknowledgeResponse".'
        type: string
        required: false
  OrdersAdvanceTestOrderResponse:
    properties:
      kind:
        default: 'content#ordersAdvanceTestOrderResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersAdvanceTestOrderResponse".'
        type: string
        required: false
  OrdersCancelLineItemRequest:
    properties:
      amount:
        description: 'Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order.'
        type: Price
        required: false
      lineItemId:
        description: The ID of the line item to cancel.
        type: string
        required: false
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
      quantity:
        description: The quantity to cancel.
        type: integer
        required: false
      reason:
        description: The reason for the cancellation.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersCancelLineItemResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersCancelLineItemResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersCancelLineItemResponse".'
        type: string
        required: false
  OrdersCancelRequest:
    properties:
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
      reason:
        description: The reason for the cancellation.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersCancelResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersCancelResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersCancelResponse".'
        type: string
        required: false
  OrdersCreateTestOrderRequest:
    properties:
      templateName:
        description: The test order template to use. Specify as an alternative to testOrder as a shortcut for retrieving a template and then creating an order using that template.
        type: string
        required: false
      testOrder:
        description: The test order to create.
        type: TestOrder
        required: false
  OrdersCreateTestOrderResponse:
    properties:
      kind:
        default: 'content#ordersCreateTestOrderResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersCreateTestOrderResponse".'
        type: string
        required: false
      orderId:
        description: The ID of the newly created test order.
        type: string
        required: false
  OrdersCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          type: OrdersCustomBatchRequestEntry
        type: array
        required: false
  OrdersCustomBatchRequestEntry:
    properties:
      batchId:
        description: 'An entry ID, unique within the batch request.'
        type: integer
        required: false
      cancel:
        description: Required for cancel method.
        type: OrdersCustomBatchRequestEntryCancel
        required: false
      cancelLineItem:
        description: Required for cancelLineItem method.
        type: OrdersCustomBatchRequestEntryCancelLineItem
        required: false
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      merchantOrderId:
        description: The merchant order id. Required for updateMerchantOrderId and getByMerchantOrderId methods.
        type: string
        required: false
      method:
        description: The method to apply.
        type: string
        required: false
      operationId:
        description: The ID of the operation. Unique across all operations for a given order. Required for all methods beside get and getByMerchantOrderId.
        type: string
        required: false
      orderId:
        description: The ID of the order. Required for all methods beside getByMerchantOrderId.
        type: string
        required: false
      refund:
        description: Required for refund method.
        type: OrdersCustomBatchRequestEntryRefund
        required: false
      returnLineItem:
        description: Required for returnLineItem method.
        type: OrdersCustomBatchRequestEntryReturnLineItem
        required: false
      shipLineItems:
        description: Required for shipLineItems method.
        type: OrdersCustomBatchRequestEntryShipLineItems
        required: false
      updateShipment:
        description: Required for updateShipment method.
        type: OrdersCustomBatchRequestEntryUpdateShipment
        required: false
  OrdersCustomBatchRequestEntryCancel:
    properties:
      reason:
        description: The reason for the cancellation.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersCustomBatchRequestEntryCancelLineItem:
    properties:
      amount:
        description: 'Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order.'
        type: Price
        required: false
      lineItemId:
        description: The ID of the line item to cancel.
        type: string
        required: false
      quantity:
        description: The quantity to cancel.
        type: integer
        required: false
      reason:
        description: The reason for the cancellation.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersCustomBatchRequestEntryRefund:
    properties:
      amount:
        description: The amount that is refunded.
        type: Price
        required: false
      reason:
        description: The reason for the refund.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersCustomBatchRequestEntryReturnLineItem:
    properties:
      lineItemId:
        description: The ID of the line item to return.
        type: string
        required: false
      quantity:
        description: The quantity to return.
        type: integer
        required: false
      reason:
        description: The reason for the return.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersCustomBatchRequestEntryShipLineItems:
    properties:
      carrier:
        description: The carrier handling the shipment.
        type: string
        required: false
      lineItems:
        description: Line items to ship.
        items:
          type: OrderShipmentLineItemShipment
        type: array
        required: false
      shipmentId:
        description: The ID of the shipment.
        type: string
        required: false
      trackingId:
        description: The tracking id for the shipment.
        type: string
        required: false
  OrdersCustomBatchRequestEntryUpdateShipment:
    properties:
      carrier:
        description: The carrier handling the shipment. Not updated if missing.
        type: string
        required: false
      shipmentId:
        description: The ID of the shipment.
        type: string
        required: false
      status:
        description: New status for the shipment. Not updated if missing.
        type: string
        required: false
      trackingId:
        description: The tracking id for the shipment. Not updated if missing.
        type: string
        required: false
  OrdersCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          type: OrdersCustomBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'content#ordersCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersCustomBatchResponse".'
        type: string
        required: false
  OrdersCustomBatchResponseEntry:
    properties:
      batchId:
        description: The ID of the request entry this entry responds to.
        type: integer
        required: false
      errors:
        description: A list of errors defined if and only if the request failed.
        type: Errors
        required: false
      executionStatus:
        description: The status of the execution. Only defined if the method is not get or getByMerchantOrderId and if the request was successful.
        type: string
        required: false
      kind:
        default: 'content#ordersCustomBatchResponseEntry'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersCustomBatchResponseEntry".'
        type: string
        required: false
      order:
        description: The retrieved order. Only defined if the method is get and if the request was successful.
        type: Order
        required: false
  OrdersGetByMerchantOrderIdResponse:
    properties:
      kind:
        default: 'content#ordersGetByMerchantOrderIdResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersGetByMerchantOrderIdResponse".'
        type: string
        required: false
      order:
        description: The requested order.
        type: Order
        required: false
  OrdersGetTestOrderTemplateResponse:
    properties:
      kind:
        default: 'content#ordersGetTestOrderTemplateResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersGetTestOrderTemplateResponse".'
        type: string
        required: false
      template:
        description: The requested test order template.
        type: TestOrder
        required: false
  OrdersListResponse:
    properties:
      kind:
        default: 'content#ordersListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersListResponse".'
        type: string
        required: false
      nextPageToken:
        description: The token for the retrieval of the next page of orders.
        type: string
        required: false
      resources:
        items:
          type: Order
        type: array
        required: false
  OrdersRefundRequest:
    properties:
      amount:
        description: The amount that is refunded.
        type: Price
        required: false
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
      reason:
        description: The reason for the refund.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersRefundResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersRefundResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersRefundResponse".'
        type: string
        required: false
  OrdersReturnLineItemRequest:
    properties:
      lineItemId:
        description: The ID of the line item to return.
        type: string
        required: false
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
      quantity:
        description: The quantity to return.
        type: integer
        required: false
      reason:
        description: The reason for the return.
        type: string
        required: false
      reasonText:
        description: The explanation of the reason.
        type: string
        required: false
  OrdersReturnLineItemResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersReturnLineItemResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersReturnLineItemResponse".'
        type: string
        required: false
  OrdersShipLineItemsRequest:
    properties:
      carrier:
        description: The carrier handling the shipment.
        type: string
        required: false
      lineItems:
        description: Line items to ship.
        items:
          type: OrderShipmentLineItemShipment
        type: array
        required: false
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
      shipmentId:
        description: The ID of the shipment.
        type: string
        required: false
      trackingId:
        description: The tracking id for the shipment.
        type: string
        required: false
  OrdersShipLineItemsResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersShipLineItemsResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersShipLineItemsResponse".'
        type: string
        required: false
  OrdersUpdateMerchantOrderIdRequest:
    properties:
      merchantOrderId:
        description: The merchant order id to be assigned to the order. Must be unique per merchant.
        type: string
        required: false
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
  OrdersUpdateMerchantOrderIdResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersUpdateMerchantOrderIdResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersUpdateMerchantOrderIdResponse".'
        type: string
        required: false
  OrdersUpdateShipmentRequest:
    properties:
      carrier:
        description: The carrier handling the shipment. Not updated if missing.
        type: string
        required: false
      operationId:
        description: The ID of the operation. Unique across all operations for a given order.
        type: string
        required: false
      shipmentId:
        description: The ID of the shipment.
        type: string
        required: false
      status:
        description: New status for the shipment. Not updated if missing.
        type: string
        required: false
      trackingId:
        description: The tracking id for the shipment. Not updated if missing.
        type: string
        required: false
  OrdersUpdateShipmentResponse:
    properties:
      executionStatus:
        description: The status of the execution.
        type: string
        required: false
      kind:
        default: 'content#ordersUpdateShipmentResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#ordersUpdateShipmentResponse".'
        type: string
        required: false
  Price:
    properties:
      currency:
        description: The currency of the price.
        type: string
        required: false
      value:
        description: The price represented as a number.
        type: string
        required: false
  TestOrder:
    properties:
      customer:
        description: The details of the customer who placed the order.
        type: TestOrderCustomer
        required: false
      kind:
        default: 'content#testOrder'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#testOrder".'
        type: string
        required: false
      lineItems:
        description: Line items that are ordered. At least one line item must be provided.
        items:
          type: TestOrderLineItem
        type: array
        required: false
      paymentMethod:
        description: The details of the payment method.
        type: TestOrderPaymentMethod
        required: false
      predefinedDeliveryAddress:
        description: Identifier of one of the predefined delivery addresses for the delivery.
        type: string
        required: false
      promotions:
        description: The details of the merchant provided promotions applied to the order. More details about the program are  here.
        items:
          type: OrderPromotion
        type: array
        required: false
      shippingCost:
        description: The total cost of shipping for all items.
        type: Price
        required: false
      shippingCostTax:
        description: The tax for the total shipping cost.
        type: Price
        required: false
      shippingOption:
        description: The requested shipping option.
        type: string
        required: false
  TestOrderCustomer:
    properties:
      email:
        description: Email address of the customer.
        type: string
        required: false
      explicitMarketingPreference:
        description: 'If set, this indicates the user explicitly chose to opt in or out of providing marketing rights to the merchant. If unset, this indicates the user has already made this choice in a previous purchase, and was thus not shown the marketing right opt in/out checkbox during the Purchases on Google checkout flow. Optional.'
        type: boolean
        required: false
      fullName:
        description: Full name of the customer.
        type: string
        required: false
  TestOrderLineItem:
    properties:
      product:
        description: Product data from the time of the order placement.
        type: TestOrderLineItemProduct
        required: false
      quantityOrdered:
        description: Number of items ordered.
        type: integer
        required: false
      returnInfo:
        description: Details of the return policy for the line item.
        type: OrderLineItemReturnInfo
        required: false
      shippingDetails:
        description: Details of the requested shipping for the line item.
        type: OrderLineItemShippingDetails
        required: false
      unitTax:
        description: Unit tax for the line item.
        type: Price
        required: false
  TestOrderLineItemProduct:
    properties:
      brand:
        description: Brand of the item.
        type: string
        required: false
      channel:
        description: The item's channel.
        type: string
        required: false
      condition:
        description: Condition or state of the item.
        type: string
        required: false
      contentLanguage:
        description: The two-letter ISO 639-1 language code for the item.
        type: string
        required: false
      gtin:
        description: Global Trade Item Number (GTIN) of the item. Optional.
        type: string
        required: false
      imageLink:
        description: URL of an image of the item.
        type: string
        required: false
      itemGroupId:
        description: Shared identifier for all variants of the same product. Optional.
        type: string
        required: false
      mpn:
        description: Manufacturer Part Number (MPN) of the item. Optional.
        type: string
        required: false
      offerId:
        description: An identifier of the item.
        type: string
        required: false
      price:
        description: The price for the product.
        type: Price
        required: false
      targetCountry:
        description: The CLDR territory code of the target country of the product.
        type: string
        required: false
      title:
        description: The title of the product.
        type: string
        required: false
      variantAttributes:
        description: Variant attributes for the item. Optional.
        items:
          type: OrderLineItemProductVariantAttribute
        type: array
        required: false
  TestOrderPaymentMethod:
    properties:
      expirationMonth:
        description: 'The card expiration month (January = 1, February = 2 etc.).'
        format: int32
        type: integer
        required: false
      expirationYear:
        description: 'The card expiration year (4-digit, e.g. 2015).'
        format: int32
        type: integer
        required: false
      lastFourDigits:
        description: The last four digits of the card number.
        type: string
        required: false
      predefinedBillingAddress:
        description: The billing address.
        type: string
        required: false
      type:
        description: The type of instrument. Note that real orders might have different values than the four values accepted by createTestOrder.
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
