#%RAML 1.0
title: Tasks
version: v1
baseUri: 'https://www.googleapis.com/tasks/v1'
protocols:
  - HTTPS
description: Lets you manage your tasks and task lists.
(oas-tags-definition):
  - name: tasklists
  - name: tasks
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/tasks/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): tasks
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/google-apps/tasks/firstapp'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/tasks'
        - 'https://www.googleapis.com/auth/tasks.readonly'
    description: Oauth 2.0 authentication
/lists:
  displayName: lists
  '/{tasklist}':
    displayName: '{tasklist}'
    /tasks:
      displayName: tasks
      '/{task}':
        displayName: '{task}'
        /move:
          displayName: move
          post:
            displayName: tasks.tasks.move
            description: Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.
            responses:
              '200':
                body:
                  application/json:
                    type: Task
                description: Successful response
            queryParameters:
              parent:
                description: 'New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional.'
                type: string
                displayName: 'New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional.'
              previous:
                description: 'New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional.'
                type: string
                displayName: 'New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/tasks'
            (oas-tags):
              - tasks
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        uriParameters:
          task:
            description: Task identifier.
            required: true
            type: string
            displayName: Task identifier.
        delete:
          displayName: tasks.tasks.delete
          description: Deletes the specified task from the task list.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks'
          (oas-tags):
            - tasks
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        put:
          displayName: tasks.tasks.update
          description: Updates the specified task.
          body:
            application/json:
              type: Task
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Task
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks'
          (oas-tags):
            - tasks
        patch:
          displayName: tasks.tasks.patch
          description: Updates the specified task. This method supports patch semantics.
          body:
            application/json:
              type: Task
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Task
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks'
          (oas-tags):
            - tasks
        get:
          displayName: tasks.tasks.get
          description: Returns the specified task.
          responses:
            '200':
              body:
                application/json:
                  type: Task
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks.readonly'
          (oas-tags):
            - tasks
      post:
        displayName: tasks.tasks.insert
        description: Creates a new task on the specified task list.
        body:
          application/json:
            type: Task
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Task
            description: Successful response
        queryParameters:
          parent:
            description: 'Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.'
            type: string
            displayName: 'Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.'
          previous:
            description: 'Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.'
            type: string
            displayName: 'Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tasks'
        (oas-tags):
          - tasks
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: tasks.tasks.list
        description: Returns all tasks in the specified task list.
        responses:
          '200':
            body:
              application/json:
                type: Tasks
            description: Successful response
        queryParameters:
          completedMax:
            description: Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
            type: string
            displayName: Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
          completedMin:
            description: Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
            type: string
            displayName: Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
          dueMax:
            description: Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
            type: string
            displayName: Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
          dueMin:
            description: Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
            type: string
            displayName: Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
          maxResults:
            description: Maximum number of task lists returned on one page. Optional. The default is 100.
            type: string
            displayName: Maximum number of task lists returned on one page. Optional. The default is 100.
          pageToken:
            description: Token specifying the result page to return. Optional.
            type: string
            displayName: Token specifying the result page to return. Optional.
          showCompleted:
            description: Flag indicating whether completed tasks are returned in the result. Optional. The default is True.
            type: boolean
            displayName: Flag indicating whether completed tasks are returned in the result. Optional. The default is True.
          showDeleted:
            description: Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.
            type: boolean
            displayName: Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.
          showHidden:
            description: Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.
            type: boolean
            displayName: Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.
          updatedMin:
            description: Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.
            type: string
            displayName: Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tasks.readonly'
        (oas-tags):
          - tasks
    /clear:
      displayName: clear
      post:
        displayName: tasks.tasks.clear
        description: Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tasks'
        (oas-tags):
          - tasks
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/users:
  displayName: users
  /@me:
    displayName: '@me'
    /lists:
      displayName: lists
      '/{tasklist}':
        displayName: '{tasklist}'
        uriParameters:
          tasklist:
            description: Task list identifier.
            required: true
            type: string
            displayName: Task list identifier.
        put:
          displayName: tasks.tasklists.update
          description: Updates the authenticated user's specified task list.
          body:
            application/json:
              type: TaskList
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: TaskList
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks'
          (oas-tags):
            - tasklists
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: tasks.tasklists.patch
          description: Updates the authenticated user's specified task list. This method supports patch semantics.
          body:
            application/json:
              type: TaskList
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: TaskList
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks'
          (oas-tags):
            - tasklists
        get:
          displayName: tasks.tasklists.get
          description: Returns the authenticated user's specified task list.
          responses:
            '200':
              body:
                application/json:
                  type: TaskList
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks.readonly'
          (oas-tags):
            - tasklists
        delete:
          displayName: tasks.tasklists.delete
          description: Deletes the authenticated user's specified task list.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/tasks'
          (oas-tags):
            - tasklists
      get:
        displayName: tasks.tasklists.list
        description: Returns all the authenticated user's task lists.
        responses:
          '200':
            body:
              application/json:
                type: TaskLists
            description: Successful response
        queryParameters:
          maxResults:
            description: Maximum number of task lists returned on one page. Optional. The default is 100.
            type: string
            displayName: Maximum number of task lists returned on one page. Optional. The default is 100.
          pageToken:
            description: Token specifying the result page to return. Optional.
            type: string
            displayName: Token specifying the result page to return. Optional.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tasks.readonly'
        (oas-tags):
          - tasklists
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: tasks.tasklists.insert
        description: Creates a new task list and adds it to the authenticated user's task lists.
        body:
          application/json:
            type: TaskList
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: TaskList
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/tasks'
        (oas-tags):
          - tasklists
types:
  Task:
    properties:
      completed:
        description: Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.
        format: rfc3339
        type: datetime
        required: false
      deleted:
        description: Flag indicating whether the task has been deleted. The default if False.
        type: boolean
        required: false
      due:
        description: Due date of the task (as a RFC 3339 timestamp). Optional.
        format: rfc3339
        type: datetime
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      hidden:
        description: Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.
        type: boolean
        required: false
      id:
        description: Task identifier.
        type: string
        required: false
      kind:
        default: 'tasks#task'
        description: 'Type of the resource. This is always "tasks#task".'
        type: string
        required: false
      links:
        description: Collection of links. This collection is read-only.
        items:
          properties:
            description:
              description: 'The description. In HTML speak: Everything between <a> and </a>.'
              type: string
              required: false
            link:
              description: The URL.
              type: string
              required: false
            type:
              description: 'Type of the link, e.g. "email".'
              type: string
              required: false
          type: object
        type: array
        required: false
      notes:
        description: Notes describing the task. Optional.
        type: string
        required: false
      parent:
        description: Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the "move" method to move the task under a different parent or to the top level.
        type: string
        required: false
      position:
        description: 'String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task''s corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the "move" method to move the task to another position.'
        type: string
        required: false
      selfLink:
        description: 'URL pointing to this task. Used to retrieve, update, or delete this task.'
        type: string
        required: false
      status:
        description: Status of the task. This is either "needsAction" or "completed".
        type: string
        required: false
      title:
        description: Title of the task.
        type: string
        required: false
      updated:
        description: Last modification time of the task (as a RFC 3339 timestamp).
        format: rfc3339
        type: datetime
        required: false
  TaskList:
    properties:
      etag:
        description: ETag of the resource.
        type: string
        required: false
      id:
        description: Task list identifier.
        type: string
        required: false
      kind:
        default: 'tasks#taskList'
        description: 'Type of the resource. This is always "tasks#taskList".'
        type: string
        required: false
      selfLink:
        description: 'URL pointing to this task list. Used to retrieve, update, or delete this task list.'
        type: string
        required: false
      title:
        description: Title of the task list.
        type: string
        required: false
      updated:
        description: Last modification time of the task list (as a RFC 3339 timestamp).
        format: rfc3339
        type: datetime
        required: false
  TaskLists:
    properties:
      etag:
        description: ETag of the resource.
        type: string
        required: false
      items:
        description: Collection of task lists.
        items:
          type: TaskList
        type: array
        required: false
      kind:
        default: 'tasks#taskLists'
        description: 'Type of the resource. This is always "tasks#taskLists".'
        type: string
        required: false
      nextPageToken:
        description: Token that can be used to request the next page of this result.
        type: string
        required: false
  Tasks:
    properties:
      etag:
        description: ETag of the resource.
        type: string
        required: false
      items:
        description: Collection of tasks.
        items:
          type: Task
        type: array
        required: false
      kind:
        default: 'tasks#tasks'
        description: 'Type of the resource. This is always "tasks#tasks".'
        type: string
        required: false
      nextPageToken:
        description: Token used to access the next page of this result.
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
