#%RAML 1.0
title: Ad Exchange Seller
version: v1
baseUri: 'https://www.googleapis.com/adexchangeseller/v1'
protocols:
  - HTTPS
description: Accesses the inventory of Ad Exchange seller users and generates reports.
(oas-tags-definition):
  - name: adclients
  - name: adunits
  - name: customchannels
  - name: reports
  - name: urlchannels
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/adexchangeseller/v1/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): adexchangeseller
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/ad-exchange/seller-rest/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/adexchange.seller'
        - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
    description: Oauth 2.0 authentication
/adclients:
  displayName: adclients
  '/{adClientId}':
    displayName: '{adClientId}'
    /customchannels:
      displayName: customchannels
      '/{customChannelId}':
        displayName: '{customChannelId}'
        uriParameters:
          customChannelId:
            description: Custom channel to retrieve.
            required: true
            type: string
            displayName: Custom channel to retrieve.
        get:
          displayName: adexchangeseller.customchannels.get
          description: Get the specified custom channel from the specified ad client.
          responses:
            '200':
              body:
                application/json:
                  type: CustomChannel
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
          (oas-tags):
            - customchannels
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        /adunits:
          displayName: adunits
          get:
            displayName: adexchangeseller.customchannels.adunits.list
            description: List all ad units in the specified custom channel.
            responses:
              '200':
                body:
                  application/json:
                    type: AdUnits
                description: Successful response
            queryParameters:
              includeInactive:
                description: 'Whether to include inactive ad units. Default: true.'
                type: boolean
                displayName: 'Whether to include inactive ad units. Default: true.'
              maxResults:
                description: 'The maximum number of ad units to include in the response, used for paging.'
                maximum: 10000
                minimum: 0
                type: integer
                displayName: 'The maximum number of ad units to include in the response, used for paging.'
              pageToken:
                description: 'A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
                type: string
                displayName: 'A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
            (oas-tags):
              - customchannels
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
      get:
        displayName: adexchangeseller.customchannels.list
        description: List all custom channels in the specified ad client for this Ad Exchange account.
        responses:
          '200':
            body:
              application/json:
                type: CustomChannels
            description: Successful response
        queryParameters:
          maxResults:
            description: 'The maximum number of custom channels to include in the response, used for paging.'
            maximum: 10000
            minimum: 0
            type: integer
            displayName: 'The maximum number of custom channels to include in the response, used for paging.'
          pageToken:
            description: 'A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
            displayName: 'A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
        (oas-tags):
          - customchannels
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /urlchannels:
      displayName: urlchannels
      get:
        displayName: adexchangeseller.urlchannels.list
        description: List all URL channels in the specified ad client for this Ad Exchange account.
        responses:
          '200':
            body:
              application/json:
                type: UrlChannels
            description: Successful response
        queryParameters:
          maxResults:
            description: 'The maximum number of URL channels to include in the response, used for paging.'
            maximum: 10000
            minimum: 0
            type: integer
            displayName: 'The maximum number of URL channels to include in the response, used for paging.'
          pageToken:
            description: 'A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
            displayName: 'A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
        (oas-tags):
          - urlchannels
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /adunits:
      displayName: adunits
      get:
        displayName: adexchangeseller.adunits.list
        description: List all ad units in the specified ad client for this Ad Exchange account.
        responses:
          '200':
            body:
              application/json:
                type: AdUnits
            description: Successful response
        queryParameters:
          includeInactive:
            description: 'Whether to include inactive ad units. Default: true.'
            type: boolean
            displayName: 'Whether to include inactive ad units. Default: true.'
          maxResults:
            description: 'The maximum number of ad units to include in the response, used for paging.'
            maximum: 10000
            minimum: 0
            type: integer
            displayName: 'The maximum number of ad units to include in the response, used for paging.'
          pageToken:
            description: 'A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            type: string
            displayName: 'A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
        (oas-tags):
          - adunits
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{adUnitId}':
        displayName: '{adUnitId}'
        /customchannels:
          displayName: customchannels
          get:
            displayName: adexchangeseller.adunits.customchannels.list
            description: List all custom channels which the specified ad unit belongs to.
            responses:
              '200':
                body:
                  application/json:
                    type: CustomChannels
                description: Successful response
            queryParameters:
              maxResults:
                description: 'The maximum number of custom channels to include in the response, used for paging.'
                maximum: 10000
                minimum: 0
                type: integer
                displayName: 'The maximum number of custom channels to include in the response, used for paging.'
              pageToken:
                description: 'A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
                type: string
                displayName: 'A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
            (oas-tags):
              - adunits
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        uriParameters:
          adUnitId:
            description: Ad unit to retrieve.
            required: true
            type: string
            displayName: Ad unit to retrieve.
        get:
          displayName: adexchangeseller.adunits.get
          description: Gets the specified ad unit in the specified ad client.
          responses:
            '200':
              body:
                application/json:
                  type: AdUnit
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
          (oas-tags):
            - adunits
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
  get:
    displayName: adexchangeseller.adclients.list
    description: List all ad clients in this Ad Exchange account.
    responses:
      '200':
        body:
          application/json:
            type: AdClients
        description: Successful response
    queryParameters:
      maxResults:
        description: 'The maximum number of ad clients to include in the response, used for paging.'
        maximum: 10000
        minimum: 0
        type: integer
        displayName: 'The maximum number of ad clients to include in the response, used for paging.'
      pageToken:
        description: 'A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
        type: string
        displayName: 'A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
    (oas-tags):
      - adclients
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/reports:
  displayName: reports
  '/{savedReportId}':
    displayName: '{savedReportId}'
    uriParameters:
      savedReportId:
        description: The saved report to retrieve.
        required: true
        type: string
        displayName: The saved report to retrieve.
    get:
      displayName: adexchangeseller.reports.saved.generate
      description: Generate an Ad Exchange report based on the saved report ID sent in the query parameters.
      responses:
        '200':
          body:
            application/json:
              type: Report
          description: Successful response
      queryParameters:
        locale:
          description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          type: string
          displayName: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
        maxResults:
          description: The maximum number of rows of report data to return.
          maximum: 50000
          minimum: 0
          type: integer
          displayName: The maximum number of rows of report data to return.
        startIndex:
          description: Index of the first row of report data to return.
          maximum: 5000
          minimum: 0
          type: integer
          displayName: Index of the first row of report data to return.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
      (oas-tags):
        - reports
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /saved:
    displayName: saved
    get:
      displayName: adexchangeseller.reports.saved.list
      description: List all saved reports in this Ad Exchange account.
      responses:
        '200':
          body:
            application/json:
              type: SavedReports
          description: Successful response
      queryParameters:
        maxResults:
          description: 'The maximum number of saved reports to include in the response, used for paging.'
          maximum: 100
          minimum: 0
          type: integer
          displayName: 'The maximum number of saved reports to include in the response, used for paging.'
        pageToken:
          description: 'A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
          type: string
          displayName: 'A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.'
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
      (oas-tags):
        - reports
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  get:
    displayName: adexchangeseller.reports.generate
    description: Generate an Ad Exchange report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
    responses:
      '200':
        body:
          application/json:
            type: Report
        description: Successful response
    queryParameters:
      startDate:
        description: 'Start of the date range to report on in "YYYY-MM-DD" format, inclusive.'
        required: true
        type: string
        displayName: 'Start of the date range to report on in "YYYY-MM-DD" format, inclusive.'
      endDate:
        description: 'End of the date range to report on in "YYYY-MM-DD" format, inclusive.'
        required: true
        type: string
        displayName: 'End of the date range to report on in "YYYY-MM-DD" format, inclusive.'
      dimension:
        collectionFormat: multi
        description: Dimensions to base the report on.
        items:
          type: string
        type: array
        displayName: Dimensions to base the report on.
        facets:
          collectionFormat: string
      filter:
        collectionFormat: multi
        description: Filters to be run on the report.
        items:
          type: string
        type: array
        displayName: Filters to be run on the report.
        facets:
          collectionFormat: string
      locale:
        description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
        type: string
        displayName: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
      maxResults:
        description: The maximum number of rows of report data to return.
        maximum: 50000
        minimum: 0
        type: integer
        displayName: The maximum number of rows of report data to return.
      metric:
        collectionFormat: multi
        description: Numeric columns to include in the report.
        items:
          type: string
        type: array
        displayName: Numeric columns to include in the report.
        facets:
          collectionFormat: string
      sort:
        collectionFormat: multi
        description: 'The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.'
        items:
          type: string
        type: array
        displayName: 'The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.'
        facets:
          collectionFormat: string
      startIndex:
        description: Index of the first row of report data to return.
        maximum: 5000
        minimum: 0
        type: integer
        displayName: Index of the first row of report data to return.
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/adexchange.seller.readonly'
    (oas-tags):
      - reports
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  AdClient:
    properties:
      arcOptIn:
        description: Whether this ad client is opted in to ARC.
        type: boolean
        required: false
      id:
        description: Unique identifier of this ad client.
        type: string
        required: false
      kind:
        default: 'adexchangeseller#adClient'
        description: 'Kind of resource this is, in this case adexchangeseller#adClient.'
        type: string
        required: false
      productCode:
        description: 'This ad client''s product code, which corresponds to the PRODUCT_CODE report dimension.'
        type: string
        required: false
      supportsReporting:
        description: Whether this ad client supports being reported on.
        type: boolean
        required: false
  AdClients:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The ad clients returned in this list response.
        items:
          type: AdClient
        type: array
        required: false
      kind:
        default: 'adexchangeseller#adClients'
        description: 'Kind of list this is, in this case adexchangeseller#adClients.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through ad clients. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  AdUnit:
    properties:
      code:
        description: 'Identity code of this ad unit, not necessarily unique across ad clients.'
        type: string
        required: false
      id:
        description: Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
        type: string
        required: false
      kind:
        default: 'adexchangeseller#adUnit'
        description: 'Kind of resource this is, in this case adexchangeseller#adUnit.'
        type: string
        required: false
      name:
        description: Name of this ad unit.
        type: string
        required: false
      status:
        description: |-
          Status of this ad unit. Possible values are:
          NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

          ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

          INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
        type: string
        required: false
  AdUnits:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The ad units returned in this list response.
        items:
          type: AdUnit
        type: array
        required: false
      kind:
        default: 'adexchangeseller#adUnits'
        description: 'Kind of list this is, in this case adexchangeseller#adUnits.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through ad units. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  CustomChannel:
    properties:
      code:
        description: 'Code of this custom channel, not necessarily unique across ad clients.'
        type: string
        required: false
      id:
        description: Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
        type: string
        required: false
      kind:
        default: 'adexchangeseller#customChannel'
        description: 'Kind of resource this is, in this case adexchangeseller#customChannel.'
        type: string
        required: false
      name:
        description: Name of this custom channel.
        type: string
        required: false
      targetingInfo:
        description: 'The targeting information of this custom channel, if activated.'
        properties:
          adsAppearOn:
            description: The name used to describe this channel externally.
            type: string
            required: false
          description:
            description: The external description of the channel.
            type: string
            required: false
          location:
            description: 'The locations in which ads appear. (Only valid for content and mobile content ads). Acceptable values for content ads are: TOP_LEFT, TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT, BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS. Acceptable values for mobile content ads are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS.'
            type: string
            required: false
          siteLanguage:
            description: The language of the sites ads will be displayed on.
            type: string
            required: false
        type: object
        required: false
  CustomChannels:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The custom channels returned in this list response.
        items:
          type: CustomChannel
        type: array
        required: false
      kind:
        default: 'adexchangeseller#customChannels'
        description: 'Kind of list this is, in this case adexchangeseller#customChannels.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through custom channels. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  Report:
    properties:
      averages:
        description: The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
        type: array
        required: false
      headers:
        description: 'The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.'
        items:
          properties:
            currency:
              description: The currency of this column. Only present if the header type is METRIC_CURRENCY.
              type: string
              required: false
            name:
              description: The name of the header.
              type: string
              required: false
            type:
              description: 'The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.'
              type: string
              required: false
          type: object
        type: array
        required: false
      kind:
        default: 'adexchangeseller#report'
        description: 'Kind this is, in this case adexchangeseller#report.'
        type: string
        required: false
      rows:
        description: 'The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.'
        items:
          items:
            type: string
          type: array
        type: array
        required: false
      totalMatchedRows:
        description: The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.
        format: int64
        type: string
        facets:
          format: string
        required: false
      totals:
        description: The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
        type: array
        required: false
      warnings:
        description: Any warnings associated with generation of the report.
        items:
          type: string
        type: array
        required: false
  SavedReport:
    properties:
      id:
        description: Unique identifier of this saved report.
        type: string
        required: false
      kind:
        default: 'adexchangeseller#savedReport'
        description: 'Kind of resource this is, in this case adexchangeseller#savedReport.'
        type: string
        required: false
      name:
        description: This saved report's name.
        type: string
        required: false
  SavedReports:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The saved reports returned in this list response.
        items:
          type: SavedReport
        type: array
        required: false
      kind:
        default: 'adexchangeseller#savedReports'
        description: 'Kind of list this is, in this case adexchangeseller#savedReports.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through saved reports. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
  UrlChannel:
    properties:
      id:
        description: Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
        type: string
        required: false
      kind:
        default: 'adexchangeseller#urlChannel'
        description: 'Kind of resource this is, in this case adexchangeseller#urlChannel.'
        type: string
        required: false
      urlPattern:
        description: 'URL Pattern of this URL channel. Does not include "http://" or "https://". Example: www.example.com/home'
        type: string
        required: false
  UrlChannels:
    properties:
      etag:
        description: ETag of this response for caching purposes.
        type: string
        required: false
      items:
        description: The URL channels returned in this list response.
        items:
          type: UrlChannel
        type: array
        required: false
      kind:
        default: 'adexchangeseller#urlChannels'
        description: 'Kind of list this is, in this case adexchangeseller#urlChannels.'
        type: string
        required: false
      nextPageToken:
        description: 'Continuation token used to page through URL channels. To retrieve the next page of results, set the next request''s "pageToken" value to this.'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - csv
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
