#%RAML 1.0
title: Cloud Storage
version: v1beta2
baseUri: 'https://www.googleapis.com/storage/v1beta2'
protocols:
  - HTTPS
description: 'Lets you store and retrieve potentially-large, immutable data objects.'
(oas-tags-definition):
  - name: bucketAccessControls
  - name: buckets
  - name: channels
  - name: defaultObjectAccessControls
  - name: objectAccessControls
  - name: objects
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com_storage_images_cloud-storage-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/storage/v1beta2/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): storage
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/storage/docs/json_api/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/devstorage.full_control'
        - 'https://www.googleapis.com/auth/devstorage.read_only'
        - 'https://www.googleapis.com/auth/devstorage.read_write'
    description: Oauth 2.0 authentication
/b:
  displayName: b
  '/{bucket}':
    displayName: '{bucket}'
    /defaultObjectAcl:
      displayName: defaultObjectAcl
      '/{entity}':
        displayName: '{entity}'
        uriParameters:
          entity:
            description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
            required: true
            type: string
        put:
          displayName: storage.defaultObjectAccessControls.update
          description: Updates a default object ACL entry on the specified bucket.
          body:
            application/json:
              type: ObjectAccessControl
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: ObjectAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - defaultObjectAccessControls
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        delete:
          displayName: storage.defaultObjectAccessControls.delete
          description: Permanently deletes the default object ACL entry for the specified entity on the specified bucket.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - defaultObjectAccessControls
        patch:
          displayName: storage.defaultObjectAccessControls.patch
          description: Updates a default object ACL entry on the specified bucket. This method supports patch semantics.
          body:
            application/json:
              type: ObjectAccessControl
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: ObjectAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - defaultObjectAccessControls
        get:
          displayName: storage.defaultObjectAccessControls.get
          description: Returns the default object ACL entry for the specified entity on the specified bucket.
          responses:
            '200':
              body:
                application/json:
                  type: ObjectAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - defaultObjectAccessControls
      get:
        displayName: storage.defaultObjectAccessControls.list
        description: Retrieves default object ACL entries on the specified bucket.
        responses:
          '200':
            body:
              application/json:
                type: ObjectAccessControls
            description: Successful response
        queryParameters:
          ifMetagenerationMatch:
            description: 'If present, only return default ACL listing if the bucket''s current metageneration matches this value.'
            type: string
          ifMetagenerationNotMatch:
            description: 'If present, only return default ACL listing if the bucket''s current metageneration does not match the given value.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.full_control'
        (oas-tags):
          - defaultObjectAccessControls
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: storage.defaultObjectAccessControls.insert
        description: Creates a new default object ACL entry on the specified bucket.
        body:
          application/json:
            type: ObjectAccessControl
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ObjectAccessControl
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.full_control'
        (oas-tags):
          - defaultObjectAccessControls
    /o:
      displayName: o
      get:
        displayName: storage.objects.list
        description: Retrieves a list of objects matching the criteria.
        responses:
          '200':
            body:
              application/json:
                type: Objects
            description: Successful response
        queryParameters:
          delimiter:
            description: 'Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.'
            type: string
          maxResults:
            description: 'Maximum number of items plus prefixes to return. As duplicate prefixes are omitted, fewer total results may be returned than requested.'
            minimum: 0
            type: integer
          pageToken:
            description: A previously-returned page token representing part of the larger set of results to view.
            type: string
          prefix:
            description: Filter results to objects whose names begin with this prefix.
            type: string
          projection:
            description: Set of properties to return. Defaults to noAcl.
            enum:
              - full
              - noAcl
            type: string
          versions:
            description: 'If true, lists all versions of a file as distinct results.'
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.read_write'
        (oas-tags):
          - objects
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      post:
        displayName: storage.objects.insert
        description: Stores new data blobs and associated metadata.
        body:
          application/json:
            type: Object
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Object
            description: Successful response
        queryParameters:
          ifGenerationMatch:
            description: Makes the operation conditional on whether the object's current generation matches the given value.
            type: string
          ifGenerationNotMatch:
            description: Makes the operation conditional on whether the object's current generation does not match the given value.
            type: string
          ifMetagenerationMatch:
            description: Makes the operation conditional on whether the object's current metageneration matches the given value.
            type: string
          ifMetagenerationNotMatch:
            description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
            type: string
          name:
            description: 'Name of the object. Required when the object metadata is not otherwise provided. Overrides the object metadata''s name value, if any.'
            type: string
          projection:
            description: 'Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.'
            enum:
              - full
              - noAcl
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.read_write'
        (oas-tags):
          - objects
      /watch:
        displayName: watch
        post:
          displayName: storage.objects.watchAll
          description: Watch for changes on all objects in a bucket.
          body:
            application/json:
              type: Channel
              (oas-body-name): resource
          responses:
            '200':
              body:
                application/json:
                  type: Channel
              description: Successful response
          queryParameters:
            delimiter:
              description: 'Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.'
              type: string
            maxResults:
              description: 'Maximum number of items plus prefixes to return. As duplicate prefixes are omitted, fewer total results may be returned than requested.'
              minimum: 0
              type: integer
            pageToken:
              description: A previously-returned page token representing part of the larger set of results to view.
              type: string
            prefix:
              description: Filter results to objects whose names begin with this prefix.
              type: string
            projection:
              description: Set of properties to return. Defaults to noAcl.
              enum:
                - full
                - noAcl
              type: string
            versions:
              description: 'If true, lists all versions of a file as distinct results.'
              type: boolean
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      '/{object}':
        displayName: '{object}'
        uriParameters:
          object:
            description: Name of the object.
            required: true
            type: string
        delete:
          displayName: storage.objects.delete
          description: 'Deletes data blobs and associated metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.'
          responses:
            '200':
              description: Successful response
          queryParameters:
            generation:
              description: 'If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).'
              type: string
            ifGenerationMatch:
              description: Makes the operation conditional on whether the object's current generation matches the given value.
              type: string
            ifGenerationNotMatch:
              description: Makes the operation conditional on whether the object's current generation does not match the given value.
              type: string
            ifMetagenerationMatch:
              description: Makes the operation conditional on whether the object's current metageneration matches the given value.
              type: string
            ifMetagenerationNotMatch:
              description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: storage.objects.get
          description: Retrieves objects or their associated metadata.
          responses:
            '200':
              body:
                application/json:
                  type: Object
              description: Successful response
          queryParameters:
            generation:
              description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
              type: string
            ifGenerationMatch:
              description: Makes the operation conditional on whether the object's generation matches the given value.
              type: string
            ifGenerationNotMatch:
              description: Makes the operation conditional on whether the object's generation does not match the given value.
              type: string
            ifMetagenerationMatch:
              description: Makes the operation conditional on whether the object's current metageneration matches the given value.
              type: string
            ifMetagenerationNotMatch:
              description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
              type: string
            projection:
              description: Set of properties to return. Defaults to noAcl.
              enum:
                - full
                - noAcl
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        patch:
          displayName: storage.objects.patch
          description: Updates a data blob's associated metadata. This method supports patch semantics.
          body:
            application/json:
              type: Object
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Object
              description: Successful response
          queryParameters:
            generation:
              description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
              type: string
            ifGenerationMatch:
              description: Makes the operation conditional on whether the object's current generation matches the given value.
              type: string
            ifGenerationNotMatch:
              description: Makes the operation conditional on whether the object's current generation does not match the given value.
              type: string
            ifMetagenerationMatch:
              description: Makes the operation conditional on whether the object's current metageneration matches the given value.
              type: string
            ifMetagenerationNotMatch:
              description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
              type: string
            projection:
              description: Set of properties to return. Defaults to full.
              enum:
                - full
                - noAcl
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        put:
          displayName: storage.objects.update
          description: Updates a data blob's associated metadata.
          body:
            application/json:
              type: Object
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Object
              description: Successful response
          queryParameters:
            generation:
              description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
              type: string
            ifGenerationMatch:
              description: Makes the operation conditional on whether the object's current generation matches the given value.
              type: string
            ifGenerationNotMatch:
              description: Makes the operation conditional on whether the object's current generation does not match the given value.
              type: string
            ifMetagenerationMatch:
              description: Makes the operation conditional on whether the object's current metageneration matches the given value.
              type: string
            ifMetagenerationNotMatch:
              description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
              type: string
            projection:
              description: Set of properties to return. Defaults to full.
              enum:
                - full
                - noAcl
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.read_write'
          (oas-tags):
            - objects
        /acl:
          displayName: acl
          get:
            displayName: storage.objectAccessControls.list
            description: Retrieves ACL entries on the specified object.
            responses:
              '200':
                body:
                  application/json:
                    type: ObjectAccessControls
                description: Successful response
            queryParameters:
              generation:
                description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/devstorage.full_control'
            (oas-tags):
              - objectAccessControls
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          post:
            displayName: storage.objectAccessControls.insert
            description: Creates a new ACL entry on the specified object.
            body:
              application/json:
                type: ObjectAccessControl
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: ObjectAccessControl
                description: Successful response
            queryParameters:
              generation:
                description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/devstorage.full_control'
            (oas-tags):
              - objectAccessControls
          '/{entity}':
            displayName: '{entity}'
            uriParameters:
              entity:
                description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
                required: true
                type: string
            delete:
              displayName: storage.objectAccessControls.delete
              description: Permanently deletes the ACL entry for the specified entity on the specified object.
              responses:
                '200':
                  description: Successful response
              queryParameters:
                generation:
                  description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            get:
              displayName: storage.objectAccessControls.get
              description: Returns the ACL entry for the specified entity on the specified object.
              responses:
                '200':
                  body:
                    application/json:
                      type: ObjectAccessControl
                  description: Successful response
              queryParameters:
                generation:
                  description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
            put:
              displayName: storage.objectAccessControls.update
              description: Updates an ACL entry on the specified object.
              body:
                application/json:
                  type: ObjectAccessControl
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: ObjectAccessControl
                  description: Successful response
              queryParameters:
                generation:
                  description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
            patch:
              displayName: storage.objectAccessControls.patch
              description: Updates an ACL entry on the specified object. This method supports patch semantics.
              body:
                application/json:
                  type: ObjectAccessControl
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: ObjectAccessControl
                  description: Successful response
              queryParameters:
                generation:
                  description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/devstorage.full_control'
              (oas-tags):
                - objectAccessControls
    uriParameters:
      bucket:
        description: Name of a bucket.
        required: true
        type: string
    delete:
      displayName: storage.buckets.delete
      description: Permanently deletes an empty bucket.
      responses:
        '200':
          description: Successful response
      queryParameters:
        ifMetagenerationMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          type: string
        ifMetagenerationNotMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    patch:
      displayName: storage.buckets.patch
      description: Updates a bucket. This method supports patch semantics.
      body:
        application/json:
          type: Bucket
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Bucket
          description: Successful response
      queryParameters:
        ifMetagenerationMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          type: string
        ifMetagenerationNotMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          type: string
        projection:
          description: Set of properties to return. Defaults to full.
          enum:
            - full
            - noAcl
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
    /acl:
      displayName: acl
      get:
        displayName: storage.bucketAccessControls.list
        description: Retrieves ACL entries on the specified bucket.
        responses:
          '200':
            body:
              application/json:
                type: BucketAccessControls
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.full_control'
        (oas-tags):
          - bucketAccessControls
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{entity}':
        displayName: '{entity}'
        uriParameters:
          entity:
            description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
            required: true
            type: string
        delete:
          displayName: storage.bucketAccessControls.delete
          description: Permanently deletes the ACL entry for the specified entity on the specified bucket.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        patch:
          displayName: storage.bucketAccessControls.patch
          description: Updates an ACL entry on the specified bucket. This method supports patch semantics.
          body:
            application/json:
              type: BucketAccessControl
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: BucketAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
        put:
          displayName: storage.bucketAccessControls.update
          description: Updates an ACL entry on the specified bucket.
          body:
            application/json:
              type: BucketAccessControl
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: BucketAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
        get:
          displayName: storage.bucketAccessControls.get
          description: Returns the ACL entry for the specified entity on the specified bucket.
          responses:
            '200':
              body:
                application/json:
                  type: BucketAccessControl
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/devstorage.full_control'
          (oas-tags):
            - bucketAccessControls
      post:
        displayName: storage.bucketAccessControls.insert
        description: Creates a new ACL entry on the specified bucket.
        body:
          application/json:
            type: BucketAccessControl
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: BucketAccessControl
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/devstorage.full_control'
        (oas-tags):
          - bucketAccessControls
    get:
      displayName: storage.buckets.get
      description: Returns metadata for the specified bucket.
      responses:
        '200':
          body:
            application/json:
              type: Bucket
          description: Successful response
      queryParameters:
        ifMetagenerationMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          type: string
        ifMetagenerationNotMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          type: string
        projection:
          description: Set of properties to return. Defaults to noAcl.
          enum:
            - full
            - noAcl
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
    put:
      displayName: storage.buckets.update
      description: Updates a bucket.
      body:
        application/json:
          type: Bucket
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Bucket
          description: Successful response
      queryParameters:
        ifMetagenerationMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          type: string
        ifMetagenerationNotMatch:
          description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          type: string
        projection:
          description: Set of properties to return. Defaults to full.
          enum:
            - full
            - noAcl
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - buckets
  get:
    displayName: storage.buckets.list
    description: Retrieves a list of buckets for a given project.
    responses:
      '200':
        body:
          application/json:
            type: Buckets
        description: Successful response
    queryParameters:
      project:
        description: A valid API project identifier.
        required: true
        type: string
      maxResults:
        description: Maximum number of buckets to return.
        minimum: 0
        type: integer
      pageToken:
        description: A previously-returned page token representing part of the larger set of results to view.
        type: string
      projection:
        description: Set of properties to return. Defaults to noAcl.
        enum:
          - full
          - noAcl
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
    (oas-tags):
      - buckets
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{sourceBucket}':
    displayName: '{sourceBucket}'
    /o:
      displayName: o
      '/{sourceObject}':
        displayName: '{sourceObject}'
        /copyTo:
          displayName: copyTo
          /b:
            displayName: b
            '/{destinationBucket}':
              displayName: '{destinationBucket}'
              /o:
                displayName: o
                '/{destinationObject}':
                  displayName: '{destinationObject}'
                  uriParameters:
                    destinationObject:
                      description: 'Name of the new object. Required when the object metadata is not otherwise provided. Overrides the object metadata''s name value, if any.'
                      required: true
                      type: string
                  post:
                    displayName: storage.objects.copy
                    description: Copies an object to a destination in the same location. Optionally overrides metadata.
                    body:
                      application/json:
                        type: Object
                        (oas-body-name): body
                    responses:
                      '200':
                        body:
                          application/json:
                            type: Object
                        description: Successful response
                    queryParameters:
                      ifGenerationMatch:
                        description: Makes the operation conditional on whether the destination object's current generation matches the given value.
                        type: string
                      ifGenerationNotMatch:
                        description: Makes the operation conditional on whether the destination object's current generation does not match the given value.
                        type: string
                      ifMetagenerationMatch:
                        description: Makes the operation conditional on whether the destination object's current metageneration matches the given value.
                        type: string
                      ifMetagenerationNotMatch:
                        description: Makes the operation conditional on whether the destination object's current metageneration does not match the given value.
                        type: string
                      ifSourceGenerationMatch:
                        description: Makes the operation conditional on whether the source object's generation matches the given value.
                        type: string
                      ifSourceGenerationNotMatch:
                        description: Makes the operation conditional on whether the source object's generation does not match the given value.
                        type: string
                      ifSourceMetagenerationMatch:
                        description: Makes the operation conditional on whether the source object's current metageneration matches the given value.
                        type: string
                      ifSourceMetagenerationNotMatch:
                        description: Makes the operation conditional on whether the source object's current metageneration does not match the given value.
                        type: string
                      projection:
                        description: 'Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.'
                        enum:
                          - full
                          - noAcl
                        type: string
                      sourceGeneration:
                        description: 'If present, selects a specific revision of the source object (as opposed to the latest version, the default).'
                        type: string
                    securedBy:
                      - Oauth2:
                          scopes:
                            - 'https://www.googleapis.com/auth/devstorage.read_write'
                    (oas-tags):
                      - objects
                  is:
                    - alt
                    - fields
                    - key
                    - oauthToken
                    - prettyPrint
                    - quotaUser
                    - userIp
  '/{destinationBucket}':
    displayName: '{destinationBucket}'
    /o:
      displayName: o
      '/{destinationObject}':
        displayName: '{destinationObject}'
        /compose:
          displayName: compose
          post:
            displayName: storage.objects.compose
            description: Concatenates a list of existing objects into a new object in the same bucket.
            body:
              application/json:
                type: ComposeRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Object
                description: Successful response
            queryParameters:
              ifGenerationMatch:
                description: Makes the operation conditional on whether the object's current generation matches the given value.
                type: string
              ifMetagenerationMatch:
                description: Makes the operation conditional on whether the object's current metageneration matches the given value.
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/devstorage.read_write'
            (oas-tags):
              - objects
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
  post:
    displayName: storage.buckets.insert
    description: Creates a new bucket.
    body:
      application/json:
        type: Bucket
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: Bucket
        description: Successful response
    queryParameters:
      project:
        description: A valid API project identifier.
        required: true
        type: string
      projection:
        description: 'Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.'
        enum:
          - full
          - noAcl
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
    (oas-tags):
      - buckets
/channels:
  displayName: channels
  /stop:
    displayName: stop
    post:
      displayName: storage.channels.stop
      description: Stop watching resources through this channel
      body:
        application/json:
          type: Channel
          (oas-body-name): resource
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/devstorage.read_write'
      (oas-tags):
        - channels
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  Bucket:
    description: A bucket.
    properties:
      acl:
        description: Access controls on the bucket.
        items:
          type: BucketAccessControl
        type: array
        required: false
      cors:
        description: The bucket's Cross-Origin Resource Sharing (CORS) configuration.
        items:
          properties:
            maxAgeSeconds:
              description: 'The value, in seconds, to return in the  Access-Control-Max-Age header used in preflight responses.'
              format: int32
              type: integer
              required: false
            method:
              description: 'The list of HTTP methods on which to include CORS response headers: GET, OPTIONS, POST, etc. Note, "*" is permitted in the list of methods, and means "any method".'
              items:
                type: string
              type: array
              required: false
            origin:
              description: 'The list of Origins eligible to receive CORS response headers. Note: "*" is permitted in the list of origins, and means "any Origin".'
              items:
                type: string
              type: array
              required: false
            responseHeader:
              description: The list of HTTP headers other than the simple response headers to give permission for the user-agent to share across domains.
              items:
                type: string
              type: array
              required: false
          type: object
        type: array
        required: false
      defaultObjectAcl:
        description: Default access controls to apply to new objects when no ACL is provided.
        items:
          type: ObjectAccessControl
        type: array
        required: false
      etag:
        description: HTTP 1.1 Entity tag for the bucket.
        type: string
        required: false
      id:
        description: The ID of the bucket.
        type: string
        required: false
      kind:
        default: 'storage#bucket'
        description: 'The kind of item this is. For buckets, this is always storage#bucket.'
        type: string
        required: false
      lifecycle:
        description: The bucket's lifecycle configuration. See object lifecycle management for more information.
        properties:
          rule:
            description: 'A lifecycle management rule, which is made of an action to take and the condition(s) under which the action will be taken.'
            items:
              properties:
                action:
                  description: The action to take.
                  properties:
                    type:
                      description: Type of the action. Currently only Delete is supported.
                      type: string
                      required: false
                  type: object
                  required: false
                condition:
                  description: The condition(s) under which the action will be taken.
                  properties:
                    age:
                      description: Age of an object (in days). This condition is satisfied when an object reaches the specified age.
                      format: int32
                      type: integer
                      required: false
                    createdBefore:
                      description: 'A date in RFC 3339 format with only the date part, e.g. "2013-01-15". This condition is satisfied when an object is created before midnight of the specified date in UTC.'
                      type: date-only
                      required: false
                    isLive:
                      description: 'Relevant only for versioned objects. If the value is true, this condition matches live objects; if the value is false, it matches archived objects.'
                      type: boolean
                      required: false
                    numNewerVersions:
                      description: 'Relevant only for versioned objects. If the value is N, this condition is satisfied when there are at least N versions (including the live version) newer than this version of the object.'
                      format: int32
                      type: integer
                      required: false
                  type: object
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      location:
        description: The location of the bucket. Object data for objects in the bucket resides in physical storage within this region. Typical values are US and EU. Defaults to US. See the developer's guide for the authoritative list.
        type: string
        required: false
      logging:
        description: 'The bucket''s logging configuration, which defines the destination bucket and optional name prefix for the current bucket''s logs.'
        properties:
          logBucket:
            description: The destination bucket where the current bucket's logs should be placed.
            type: string
            required: false
          logObjectPrefix:
            description: A prefix for log object names.
            type: string
            required: false
        type: object
        required: false
      metageneration:
        description: The metadata generation of this bucket.
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: The name of the bucket.
        type: string
        required: false
      owner:
        description: The owner of the bucket. This is always the project team's owner group.
        properties:
          entity:
            description: 'The entity, in the form group-groupId.'
            type: string
            required: false
          entityId:
            description: The ID for the entity.
            type: string
            required: false
        type: object
        required: false
      selfLink:
        description: The URI of this bucket.
        type: string
        required: false
      storageClass:
        description: The bucket's storage class. This defines how objects in the bucket are stored and determines the SLA and the cost of storage. Typical values are STANDARD and DURABLE_REDUCED_AVAILABILITY. Defaults to STANDARD. See the developer's guide for the authoritative list.
        type: string
        required: false
      timeCreated:
        description: Creation time of the bucket in RFC 3339 format.
        format: rfc3339
        type: datetime
        required: false
      versioning:
        description: The bucket's versioning configuration.
        properties:
          enabled:
            description: 'While set to true, versioning is fully enabled for this bucket.'
            type: boolean
            required: false
        type: object
        required: false
      website:
        description: The bucket's website configuration.
        properties:
          mainPageSuffix:
            description: Behaves as the bucket's directory index where missing objects are treated as potential directories.
            type: string
            required: false
          notFoundPage:
            description: The custom object to return when a requested resource is not found.
            type: string
            required: false
        type: object
        required: false
  BucketAccessControl:
    description: An access-control entry.
    properties:
      bucket:
        description: The name of the bucket.
        type: string
        required: false
      domain:
        description: 'The domain associated with the entity, if any.'
        type: string
        required: false
      email:
        description: 'The email address associated with the entity, if any.'
        type: string
        required: false
      entity:
        description: |-
          The entity holding the permission, in one of the following forms: 
          - user-userId 
          - user-email 
          - group-groupId 
          - group-email 
          - domain-domain 
          - allUsers 
          - allAuthenticatedUsers Examples: 
          - The user liz@example.com would be user-liz@example.com. 
          - The group example@googlegroups.com would be group-example@googlegroups.com. 
          - To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.
        type: string
        required: false
      entityId:
        description: 'The ID for the entity, if any.'
        type: string
        required: false
      etag:
        description: HTTP 1.1 Entity tag for the access-control entry.
        type: string
        required: false
      id:
        description: The ID of the access-control entry.
        type: string
        required: false
      kind:
        default: 'storage#bucketAccessControl'
        description: 'The kind of item this is. For bucket access control entries, this is always storage#bucketAccessControl.'
        type: string
        required: false
      role:
        description: 'The access permission for the entity. Can be READER, WRITER, or OWNER.'
        type: string
        required: false
      selfLink:
        description: The link to this access-control entry.
        type: string
        required: false
  BucketAccessControls:
    description: An access-control list.
    properties:
      items:
        description: The list of items.
        items:
          type: BucketAccessControl
        type: array
        required: false
      kind:
        default: 'storage#bucketAccessControls'
        description: 'The kind of item this is. For lists of bucket access control entries, this is always storage#bucketAccessControls.'
        type: string
        required: false
  Buckets:
    description: A list of buckets.
    properties:
      items:
        description: The list of items.
        items:
          type: Bucket
        type: array
        required: false
      kind:
        default: 'storage#buckets'
        description: 'The kind of item this is. For lists of buckets, this is always storage#buckets.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
  Channel:
    description: An notification channel used to watch for resource changes.
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
        required: false
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
        required: false
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string "api#channel".'
        type: string
        required: false
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
        required: false
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
        required: false
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
        required: false
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
        required: false
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
        required: false
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
        required: false
  ComposeRequest:
    description: A Compose request.
    properties:
      destination:
        description: Properties of the resulting object
        type: Object
        required: false
      kind:
        default: 'storage#composeRequest'
        description: The kind of item this is.
        type: string
        required: false
      sourceObjects:
        description: The list of source objects that will be concatenated into a single object.
        items:
          properties:
            generation:
              description: The generation of this object to use as the source.
              format: int64
              type: string
              facets:
                format: string
              required: false
            name:
              description: The source object's name. The source object's bucket is implicitly the destination bucket.
              type: string
              required: false
            objectPreconditions:
              description: Conditions that must be met for this operation to execute.
              properties:
                ifGenerationMatch:
                  description: 'Only perform the composition if the generation of the source object that would be used matches this value. If this value and a generation are both specified, they must be the same value or the call will fail.'
                  format: int64
                  type: string
                  facets:
                    format: string
                  required: false
              type: object
              required: false
          type: object
        type: array
        required: false
  Object:
    description: An object.
    properties:
      acl:
        description: Access controls on the object.
        items:
          type: ObjectAccessControl
        type: array
        required: false
      bucket:
        description: The bucket containing this object.
        type: string
        required: false
      cacheControl:
        description: Cache-Control directive for the object data.
        type: string
        required: false
      componentCount:
        description: Number of underlying components that make up this object. Components are accumulated by compose operations and are limited to a count of 32.
        format: int32
        type: integer
        required: false
      contentDisposition:
        description: Content-Disposition of the object data.
        type: string
        required: false
      contentEncoding:
        description: Content-Encoding of the object data.
        type: string
        required: false
      contentLanguage:
        description: Content-Language of the object data.
        type: string
        required: false
      contentType:
        description: Content-Type of the object data.
        type: string
        required: false
      crc32c:
        description: 'CRC32c checksum, as described in RFC 4960, Appendix B; encoded using base64.'
        type: string
        required: false
      etag:
        description: HTTP 1.1 Entity tag for the object.
        type: string
        required: false
      generation:
        description: The content generation of this object. Used for object versioning.
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: The ID of the object.
        type: string
        required: false
      kind:
        default: 'storage#object'
        description: 'The kind of item this is. For objects, this is always storage#object.'
        type: string
        required: false
      md5Hash:
        description: MD5 hash of the data; encoded using base64.
        type: string
        required: false
      mediaLink:
        description: Media download link.
        type: string
        required: false
      metadata:
        additionalProperties:
          description: An individual metadata entry.
          type: string
        description: 'User-provided metadata, in key/value pairs.'
        type: object
        required: false
      metageneration:
        description: The generation of the metadata for this object at this generation. Used for metadata versioning. Has no meaning outside of the context of this generation.
        format: int64
        type: string
        facets:
          format: string
        required: false
      name:
        description: The name of this object. Required if not specified by URL parameter.
        type: string
        required: false
      owner:
        description: The owner of the object. This will always be the uploader of the object.
        properties:
          entity:
            description: 'The entity, in the form user-userId.'
            type: string
            required: false
          entityId:
            description: The ID for the entity.
            type: string
            required: false
        type: object
        required: false
      selfLink:
        description: The link to this object.
        type: string
        required: false
      size:
        description: Content-Length of the data in bytes.
        format: uint64
        type: string
        facets:
          format: string
        required: false
      storageClass:
        description: Storage class of the object.
        type: string
        required: false
      timeDeleted:
        description: Deletion time of the object in RFC 3339 format. Will be returned if and only if this version of the object has been deleted.
        format: rfc3339
        type: datetime
        required: false
      updated:
        description: Modification time of the object metadata in RFC 3339 format.
        format: rfc3339
        type: datetime
        required: false
  ObjectAccessControl:
    description: An access-control entry.
    properties:
      bucket:
        description: The name of the bucket.
        type: string
        required: false
      domain:
        description: 'The domain associated with the entity, if any.'
        type: string
        required: false
      email:
        description: 'The email address associated with the entity, if any.'
        type: string
        required: false
      entity:
        description: |-
          The entity holding the permission, in one of the following forms: 
          - user-userId 
          - user-email 
          - group-groupId 
          - group-email 
          - domain-domain 
          - allUsers 
          - allAuthenticatedUsers Examples: 
          - The user liz@example.com would be user-liz@example.com. 
          - The group example@googlegroups.com would be group-example@googlegroups.com. 
          - To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.
        type: string
        required: false
      entityId:
        description: 'The ID for the entity, if any.'
        type: string
        required: false
      etag:
        description: HTTP 1.1 Entity tag for the access-control entry.
        type: string
        required: false
      generation:
        description: The content generation of the object.
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: The ID of the access-control entry.
        type: string
        required: false
      kind:
        default: 'storage#objectAccessControl'
        description: 'The kind of item this is. For object access control entries, this is always storage#objectAccessControl.'
        type: string
        required: false
      object:
        description: The name of the object.
        type: string
        required: false
      role:
        description: The access permission for the entity. Can be READER or OWNER.
        type: string
        required: false
      selfLink:
        description: The link to this access-control entry.
        type: string
        required: false
  ObjectAccessControls:
    description: An access-control list.
    properties:
      items:
        description: The list of items.
        items: {}
        type: array
        required: false
      kind:
        default: 'storage#objectAccessControls'
        description: 'The kind of item this is. For lists of object access control entries, this is always storage#objectAccessControls.'
        type: string
        required: false
  Objects:
    description: A list of objects.
    properties:
      items:
        description: The list of items.
        items:
          type: Object
        type: array
        required: false
      kind:
        default: 'storage#objects'
        description: 'The kind of item this is. For lists of objects, this is always storage#objects.'
        type: string
        required: false
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
        required: false
      prefixes:
        description: The list of prefixes of objects matching-but-not-listed up to and including the requested delimiter.
        items:
          type: string
        type: array
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
