#%RAML 1.0
title: Google Play Developer
version: v2
baseUri: 'https://www.googleapis.com/androidpublisher/v2/applications'
protocols:
  - HTTPS
description: Lets Android application developers access their Google Play accounts.
(oas-tags-definition):
  - name: edits
  - name: entitlements
  - name: inappproducts
  - name: purchases
  - name: reviews
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_android_market_images_web_play_logo_x2.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/androidpublisher/v2/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): androidpublisher
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/android-publisher'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/androidpublisher'
    description: Oauth 2.0 authentication
'/{packageName}':
  displayName: '{packageName}'
  /edits:
    displayName: edits
    '/{editId}':
      displayName: '{editId}'
      /listings:
        displayName: listings
        '/{language}':
          displayName: '{language}'
          '/{imageType}':
            displayName: '{imageType}'
            uriParameters:
              imageType:
                enum:
                  - featureGraphic
                  - icon
                  - phoneScreenshots
                  - promoGraphic
                  - sevenInchScreenshots
                  - tenInchScreenshots
                  - tvBanner
                  - tvScreenshots
                  - wearScreenshots
                required: true
                type: string
            get:
              displayName: androidpublisher.edits.images.list
              description: Lists all images for the specified language and image type.
              responses:
                '200':
                  body:
                    application/json:
                      type: ImagesListResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - edits
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            post:
              displayName: androidpublisher.edits.images.upload
              description: Uploads a new image and adds it to the list of images for the specified language and image type.
              responses:
                '200':
                  body:
                    application/json:
                      type: ImagesUploadResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - edits
            '/{imageId}':
              displayName: '{imageId}'
              uriParameters:
                imageId:
                  description: Unique identifier an image within the set of images attached to this edit.
                  required: true
                  type: string
              delete:
                displayName: androidpublisher.edits.images.delete
                description: Deletes the image (specified by id) from the edit.
                responses:
                  '200':
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
            delete:
              displayName: androidpublisher.edits.images.deleteall
              description: Deletes all images for the specified language and image type.
              responses:
                '200':
                  body:
                    application/json:
                      type: ImagesDeleteAllResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - edits
          uriParameters:
            language:
              description: 'The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".'
              required: true
              type: string
          get:
            displayName: androidpublisher.edits.listings.get
            description: Fetches information about a localized store listing.
            responses:
              '200':
                body:
                  application/json:
                    type: Listing
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          put:
            displayName: androidpublisher.edits.listings.update
            description: Creates or updates a localized store listing.
            body:
              application/json:
                type: Listing
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Listing
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          patch:
            displayName: androidpublisher.edits.listings.patch
            description: Creates or updates a localized store listing. This method supports patch semantics.
            body:
              application/json:
                type: Listing
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Listing
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          delete:
            displayName: androidpublisher.edits.listings.delete
            description: Deletes the specified localized store listing from an edit.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
        get:
          displayName: androidpublisher.edits.listings.list
          description: Returns all of the localized store listings attached to this edit.
          responses:
            '200':
              body:
                application/json:
                  type: ListingsListResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        delete:
          displayName: androidpublisher.edits.listings.deleteall
          description: Deletes all localized listings from an edit.
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
      uriParameters:
        editId:
          description: Unique identifier for this edit.
          required: true
          type: string
      delete:
        displayName: androidpublisher.edits.delete
        description: Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - edits
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      /testers:
        displayName: testers
        '/{track}':
          displayName: '{track}'
          uriParameters:
            track:
              enum:
                - alpha
                - beta
                - production
                - rollout
              required: true
              type: string
          get:
            displayName: androidpublisher.edits.testers.get
            responses:
              '200':
                body:
                  application/json:
                    type: Testers
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          patch:
            displayName: androidpublisher.edits.testers.patch
            body:
              application/json:
                type: Testers
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Testers
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          put:
            displayName: androidpublisher.edits.testers.update
            body:
              application/json:
                type: Testers
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Testers
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
      /apks:
        displayName: apks
        get:
          displayName: androidpublisher.edits.apks.list
          responses:
            '200':
              body:
                application/json:
                  type: ApksListResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        /externallyHosted:
          displayName: externallyHosted
          post:
            displayName: androidpublisher.edits.apks.addexternallyhosted
            description: 'Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to enterprises using Google Play for Work whose application is configured to restrict distribution to the enterprise domain.'
            body:
              application/json:
                type: ApksAddExternallyHostedRequest
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: ApksAddExternallyHostedResponse
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        '/{apkVersionCode}':
          displayName: '{apkVersionCode}'
          /expansionFiles:
            displayName: expansionFiles
            '/{expansionFileType}':
              displayName: '{expansionFileType}'
              uriParameters:
                expansionFileType:
                  enum:
                    - main
                    - patch
                  required: true
                  type: string
              get:
                displayName: androidpublisher.edits.expansionfiles.get
                description: Fetches the Expansion File configuration for the APK specified.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ExpansionFile
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              post:
                displayName: androidpublisher.edits.expansionfiles.upload
                description: Uploads and attaches a new Expansion File to the APK specified.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ExpansionFilesUploadResponse
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              patch:
                displayName: androidpublisher.edits.expansionfiles.patch
                description: Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method. This method supports patch semantics.
                body:
                  application/json:
                    type: ExpansionFile
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: ExpansionFile
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              put:
                displayName: androidpublisher.edits.expansionfiles.update
                description: Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method.
                body:
                  application/json:
                    type: ExpansionFile
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: ExpansionFile
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
          /listings:
            displayName: listings
            delete:
              displayName: androidpublisher.edits.apklistings.deleteall
              description: Deletes all the APK-specific localized listings for a specified APK.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - edits
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
            '/{language}':
              displayName: '{language}'
              uriParameters:
                language:
                  description: 'The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass "de-AT".'
                  required: true
                  type: string
              delete:
                displayName: androidpublisher.edits.apklistings.delete
                description: Deletes the APK-specific localized listing for a specified APK and language code.
                responses:
                  '200':
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
              patch:
                displayName: androidpublisher.edits.apklistings.patch
                description: Updates or creates the APK-specific localized listing for a specified APK and language code. This method supports patch semantics.
                body:
                  application/json:
                    type: ApkListing
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: ApkListing
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              put:
                displayName: androidpublisher.edits.apklistings.update
                description: Updates or creates the APK-specific localized listing for a specified APK and language code.
                body:
                  application/json:
                    type: ApkListing
                    (oas-body-name): body
                responses:
                  '200':
                    body:
                      application/json:
                        type: ApkListing
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              get:
                displayName: androidpublisher.edits.apklistings.get
                description: Fetches the APK-specific localized listing for a specified APK and language code.
                responses:
                  '200':
                    body:
                      application/json:
                        type: ApkListing
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
            get:
              displayName: androidpublisher.edits.apklistings.list
              description: Lists all the APK-specific localized listings for a specified APK.
              responses:
                '200':
                  body:
                    application/json:
                      type: ApkListingsListResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - edits
          /deobfuscationFiles:
            displayName: deobfuscationFiles
            '/{deobfuscationFileType}':
              displayName: '{deobfuscationFileType}'
              uriParameters:
                deobfuscationFileType:
                  enum:
                    - proguard
                  required: true
                  type: string
              post:
                displayName: androidpublisher.edits.deobfuscationfiles.upload
                description: 'Uploads the deobfuscation file of the specified APK. If a deobfuscation file already exists, it will be replaced.'
                responses:
                  '200':
                    body:
                      application/json:
                        type: DeobfuscationFilesUploadResponse
                    description: Successful response
                securedBy:
                  - Oauth2:
                      scopes:
                        - 'https://www.googleapis.com/auth/androidpublisher'
                (oas-tags):
                  - edits
              is:
                - alt
                - fields
                - key
                - oauthToken
                - prettyPrint
                - quotaUser
                - userIp
        post:
          displayName: androidpublisher.edits.apks.upload
          responses:
            '200':
              body:
                application/json:
                  type: Apk
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
      /tracks:
        displayName: tracks
        get:
          displayName: androidpublisher.edits.tracks.list
          description: Lists all the track configurations for this edit.
          responses:
            '200':
              body:
                application/json:
                  type: TracksListResponse
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{track}':
          displayName: '{track}'
          uriParameters:
            track:
              description: The track type to read or modify.
              enum:
                - alpha
                - beta
                - production
                - rollout
              required: true
              type: string
          get:
            displayName: androidpublisher.edits.tracks.get
            description: Fetches the track configuration for the specified track type. Includes the APK version codes that are in this track.
            responses:
              '200':
                body:
                  application/json:
                    type: Track
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          patch:
            displayName: androidpublisher.edits.tracks.patch
            description: 'Updates the track configuration for the specified track type. When halted, the rollout track cannot be updated without adding new APKs, and adding new APKs will cause it to resume. This method supports patch semantics.'
            body:
              application/json:
                type: Track
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Track
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
          put:
            displayName: androidpublisher.edits.tracks.update
            description: 'Updates the track configuration for the specified track type. When halted, the rollout track cannot be updated without adding new APKs, and adding new APKs will cause it to resume.'
            body:
              application/json:
                type: Track
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Track
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/androidpublisher'
            (oas-tags):
              - edits
      /details:
        displayName: details
        get:
          displayName: androidpublisher.edits.details.get
          description: Fetches app details for this edit. This includes the default language and developer support contact information.
          responses:
            '200':
              body:
                application/json:
                  type: AppDetails
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        put:
          displayName: androidpublisher.edits.details.update
          description: Updates app details for this edit.
          body:
            application/json:
              type: AppDetails
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: AppDetails
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
        patch:
          displayName: androidpublisher.edits.details.patch
          description: Updates app details for this edit. This method supports patch semantics.
          body:
            application/json:
              type: AppDetails
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: AppDetails
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/androidpublisher'
          (oas-tags):
            - edits
      get:
        displayName: androidpublisher.edits.get
        description: 'Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).'
        responses:
          '200':
            body:
              application/json:
                type: AppEdit
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - edits
    '/{editId}:commit':
      displayName: '{editId}:commit'
      uriParameters:
        editId:
          description: Unique identifier for this edit.
          required: true
          type: string
      post:
        displayName: androidpublisher.edits.commit
        description: Commits/applies the changes made in this edit back to the app.
        responses:
          '200':
            body:
              application/json:
                type: AppEdit
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - edits
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    '/{editId}:validate':
      displayName: '{editId}:validate'
      uriParameters:
        editId:
          description: Unique identifier for this edit.
          required: true
          type: string
      post:
        displayName: androidpublisher.edits.validate
        description: Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.
        responses:
          '200':
            body:
              application/json:
                type: AppEdit
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - edits
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    post:
      displayName: androidpublisher.edits.insert
      description: 'Creates a new edit for an app, populated with the app''s current state.'
      body:
        application/json:
          type: AppEdit
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AppEdit
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidpublisher'
      (oas-tags):
        - edits
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /reviews:
    displayName: reviews
    '/{reviewId}:reply':
      displayName: '{reviewId}:reply'
      uriParameters:
        reviewId:
          required: true
          type: string
      post:
        displayName: androidpublisher.reviews.reply
        description: 'Reply to a single review, or update an existing reply.'
        body:
          application/json:
            type: ReviewsReplyRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: ReviewsReplyResponse
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - reviews
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    '/{reviewId}':
      displayName: '{reviewId}'
      uriParameters:
        reviewId:
          required: true
          type: string
      get:
        displayName: androidpublisher.reviews.get
        description: Returns a single review.
        responses:
          '200':
            body:
              application/json:
                type: Review
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - reviews
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    get:
      displayName: androidpublisher.reviews.list
      description: Returns a list of reviews.
      responses:
        '200':
          body:
            application/json:
              type: ReviewsListResponse
          description: Successful response
      queryParameters:
        maxResults:
          type: integer
        startIndex:
          type: integer
        token:
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidpublisher'
      (oas-tags):
        - reviews
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /entitlements:
    displayName: entitlements
    get:
      displayName: androidpublisher.entitlements.list
      description: Lists the user's current inapp item or subscription entitlements
      responses:
        '200':
          body:
            application/json:
              type: EntitlementsListResponse
          description: Successful response
      queryParameters:
        maxResults:
          type: integer
        productId:
          description: 'The product id of the inapp product (for example, ''sku1''). This can be used to restrict the result set.'
          type: string
        startIndex:
          type: integer
        token:
          type: string
      (oas-tags):
        - entitlements
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /inappproducts:
    displayName: inappproducts
    get:
      displayName: androidpublisher.inappproducts.list
      description: 'List all the in-app products for an Android app, both subscriptions and managed in-app products..'
      responses:
        '200':
          body:
            application/json:
              type: InappproductsListResponse
          description: Successful response
      queryParameters:
        maxResults:
          type: integer
        startIndex:
          type: integer
        token:
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidpublisher'
      (oas-tags):
        - inappproducts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    post:
      displayName: androidpublisher.inappproducts.insert
      description: Creates a new in-app product for an app.
      body:
        application/json:
          type: InAppProduct
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: InAppProduct
          description: Successful response
      queryParameters:
        autoConvertMissingPrices:
          description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidpublisher'
      (oas-tags):
        - inappproducts
    '/{sku}':
      displayName: '{sku}'
      uriParameters:
        sku:
          description: Unique identifier for the in-app product.
          required: true
          type: string
      delete:
        displayName: androidpublisher.inappproducts.delete
        description: Delete an in-app product for an app.
        responses:
          '200':
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - inappproducts
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      get:
        displayName: androidpublisher.inappproducts.get
        description: Returns information about the in-app product specified.
        responses:
          '200':
            body:
              application/json:
                type: InAppProduct
            description: Successful response
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - inappproducts
      patch:
        displayName: androidpublisher.inappproducts.patch
        description: Updates the details of an in-app product. This method supports patch semantics.
        body:
          application/json:
            type: InAppProduct
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: InAppProduct
            description: Successful response
        queryParameters:
          autoConvertMissingPrices:
            description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - inappproducts
      put:
        displayName: androidpublisher.inappproducts.update
        description: Updates the details of an in-app product.
        body:
          application/json:
            type: InAppProduct
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: InAppProduct
            description: Successful response
        queryParameters:
          autoConvertMissingPrices:
            description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
            type: boolean
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/androidpublisher'
        (oas-tags):
          - inappproducts
  /purchases:
    displayName: purchases
    /products:
      displayName: products
      '/{productId}':
        displayName: '{productId}'
        /tokens:
          displayName: tokens
          '/{token}':
            displayName: '{token}'
            uriParameters:
              token:
                description: The token provided to the user's device when the inapp product was purchased.
                required: true
                type: string
            get:
              displayName: androidpublisher.purchases.products.get
              description: Checks the purchase and consumption status of an inapp item.
              responses:
                '200':
                  body:
                    application/json:
                      type: ProductPurchase
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - purchases
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
    /subscriptions:
      displayName: subscriptions
      '/{subscriptionId}':
        displayName: '{subscriptionId}'
        /tokens:
          displayName: tokens
          '/{token}':
            displayName: '{token}'
            uriParameters:
              token:
                description: The token provided to the user's device when the subscription was purchased.
                required: true
                type: string
            get:
              displayName: androidpublisher.purchases.subscriptions.get
              description: Checks whether a user's subscription purchase is valid and returns its expiry time.
              responses:
                '200':
                  body:
                    application/json:
                      type: SubscriptionPurchase
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - purchases
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          '/{token}:cancel':
            displayName: '{token}:cancel'
            uriParameters:
              token:
                description: The token provided to the user's device when the subscription was purchased.
                required: true
                type: string
            post:
              displayName: androidpublisher.purchases.subscriptions.cancel
              description: Cancels a user's subscription purchase. The subscription remains valid until its expiration time.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - purchases
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          '/{token}:defer':
            displayName: '{token}:defer'
            uriParameters:
              token:
                description: The token provided to the user's device when the subscription was purchased.
                required: true
                type: string
            post:
              displayName: androidpublisher.purchases.subscriptions.defer
              description: Defers a user's subscription purchase until a specified future expiration time.
              body:
                application/json:
                  type: SubscriptionPurchasesDeferRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: SubscriptionPurchasesDeferResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - purchases
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          '/{token}:revoke':
            displayName: '{token}:revoke'
            uriParameters:
              token:
                description: The token provided to the user's device when the subscription was purchased.
                required: true
                type: string
            post:
              displayName: androidpublisher.purchases.subscriptions.revoke
              description: Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - purchases
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          '/{token}:refund':
            displayName: '{token}:refund'
            uriParameters:
              token:
                description: The token provided to the user's device when the subscription was purchased.
                required: true
                type: string
            post:
              displayName: androidpublisher.purchases.subscriptions.refund
              description: 'Refunds a user''s subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.'
              responses:
                '200':
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/androidpublisher'
              (oas-tags):
                - purchases
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
/inappproducts:
  displayName: inappproducts
  /batch:
    displayName: batch
    post:
      displayName: androidpublisher.inappproducts.batch
      body:
        application/json:
          type: InappproductsBatchRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: InappproductsBatchResponse
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/androidpublisher'
      (oas-tags):
        - inappproducts
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  Apk:
    properties:
      binary:
        description: Information about the binary payload of this APK.
        type: ApkBinary
        required: false
      versionCode:
        description: 'The version code of the APK, as specified in the APK''s manifest file.'
        format: int32
        type: integer
        required: false
  ApkBinary:
    description: Represents the binary payload of an APK.
    properties:
      sha1:
        description: 'A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.'
        type: string
        required: false
  ApkListing:
    properties:
      language:
        description: 'The language code, in BCP 47 format (eg "en-US").'
        type: string
        required: false
      recentChanges:
        description: Describe what's new in your APK.
        type: string
        required: false
  ApkListingsListResponse:
    properties:
      kind:
        default: 'androidpublisher#apkListingsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#apkListingsListResponse".'
        type: string
        required: false
      listings:
        items:
          type: ApkListing
        type: array
        required: false
  ApksAddExternallyHostedRequest:
    properties:
      externallyHostedApk:
        description: The definition of the externally-hosted APK and where it is located.
        type: ExternallyHostedApk
        required: false
  ApksAddExternallyHostedResponse:
    properties:
      externallyHostedApk:
        description: The definition of the externally-hosted APK and where it is located.
        type: ExternallyHostedApk
        required: false
  ApksListResponse:
    properties:
      apks:
        items:
          type: Apk
        type: array
        required: false
      kind:
        default: 'androidpublisher#apksListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#apksListResponse".'
        type: string
        required: false
  AppDetails:
    properties:
      contactEmail:
        description: The user-visible support email for this app.
        type: string
        required: false
      contactPhone:
        description: The user-visible support telephone number for this app.
        type: string
        required: false
      contactWebsite:
        description: The user-visible website for this app.
        type: string
        required: false
      defaultLanguage:
        description: 'Default language code, in BCP 47 format (eg "en-US").'
        type: string
        required: false
  AppEdit:
    description: Represents an edit of an app. An edit allows clients to make multiple changes before committing them in one operation.
    properties:
      expiryTimeSeconds:
        description: The time at which the edit will expire and will be no longer valid for use in any subsequent API calls (encoded as seconds since the Epoch).
        type: string
        required: false
      id:
        description: The ID of the edit that can be used in subsequent API calls.
        type: string
        required: false
  Comment:
    properties:
      developerComment:
        description: A comment from a developer.
        type: DeveloperComment
        required: false
      userComment:
        description: A comment from a user.
        type: UserComment
        required: false
  DeobfuscationFile:
    description: Represents a deobfuscation file.
    properties:
      symbolType:
        description: The type of the deobfuscation file.
        type: string
        required: false
  DeobfuscationFilesUploadResponse:
    properties:
      deobfuscationFile:
        type: DeobfuscationFile
        required: false
  DeveloperComment:
    properties:
      lastModified:
        description: The last time at which this comment was updated.
        type: Timestamp
        required: false
      text:
        description: 'The content of the comment, i.e. reply body.'
        type: string
        required: false
  Entitlement:
    description: An Entitlement resource indicates a user's current entitlement to an inapp item or subscription.
    properties:
      kind:
        default: 'androidpublisher#entitlement'
        description: This kind represents an entitlement object in the androidpublisher service.
        type: string
        required: false
      productId:
        description: The SKU of the product.
        type: string
        required: false
      productType:
        description: |-
          The type of the inapp product. Possible values are:  
          - In-app item: "inapp" 
          - Subscription: "subs"
        type: string
        required: false
      token:
        description: The token which can be verified using the subscriptions or products API.
        type: string
        required: false
  EntitlementsListResponse:
    properties:
      pageInfo:
        type: PageInfo
        required: false
      resources:
        items:
          type: Entitlement
        type: array
        required: false
      tokenPagination:
        type: TokenPagination
        required: false
  ExpansionFile:
    properties:
      fileSize:
        description: 'If set this field indicates that this APK has an Expansion File uploaded to it: this APK does not reference another APK''s Expansion File. The field''s value is the size of the uploaded Expansion File in bytes.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      referencesVersion:
        description: If set this APK's Expansion File references another APK's Expansion File. The file_size field will not be set.
        format: int32
        type: integer
        required: false
  ExpansionFilesUploadResponse:
    properties:
      expansionFile:
        type: ExpansionFile
        required: false
  ExternallyHostedApk:
    description: 'Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to enterprises who are using Google Play for Work, and whos application is restricted to the enterprise private channel'
    properties:
      applicationLabel:
        description: The application label.
        type: string
        required: false
      certificateBase64s:
        description: 'A certificate (or array of certificates if a certificate-chain is used) used to signed this APK, represented as a base64 encoded byte array.'
        items:
          type: string
        type: array
        required: false
      externallyHostedUrl:
        description: The URL at which the APK is hosted. This must be an https URL.
        type: string
        required: false
      fileSha1Base64:
        description: 'The SHA1 checksum of this APK, represented as a base64 encoded byte array.'
        type: string
        required: false
      fileSha256Base64:
        description: 'The SHA256 checksum of this APK, represented as a base64 encoded byte array.'
        type: string
        required: false
      fileSize:
        description: The file size in bytes of this APK.
        format: int64
        type: string
        facets:
          format: string
        required: false
      iconBase64:
        description: 'The icon image from the APK, as a base64 encoded byte array.'
        type: string
        required: false
      maximumSdk:
        description: The maximum SDK supported by this APK (optional).
        format: int32
        type: integer
        required: false
      minimumSdk:
        description: The minimum SDK targeted by this APK.
        format: int32
        type: integer
        required: false
      nativeCodes:
        description: The native code environments supported by this APK (optional).
        items:
          type: string
        type: array
        required: false
      packageName:
        description: The package name.
        type: string
        required: false
      usesFeatures:
        description: The features required by this APK (optional).
        items:
          type: string
        type: array
        required: false
      usesPermissions:
        description: The permissions requested by this APK.
        items:
          type: ExternallyHostedApkUsesPermission
        type: array
        required: false
      versionCode:
        description: The version code of this APK.
        format: int32
        type: integer
        required: false
      versionName:
        description: The version name of this APK.
        type: string
        required: false
  ExternallyHostedApkUsesPermission:
    description: A permission used by this APK.
    properties:
      maxSdkVersion:
        description: 'Optionally, the maximum SDK version for which the permission is required.'
        format: int32
        type: integer
        required: false
      name:
        description: The name of the permission requested.
        type: string
        required: false
  Image:
    properties:
      id:
        description: A unique id representing this image.
        type: string
        required: false
      sha1:
        description: A sha1 hash of the image that was uploaded.
        type: string
        required: false
      url:
        description: A URL that will serve a preview of the image.
        type: string
        required: false
  ImagesDeleteAllResponse:
    properties:
      deleted:
        items:
          type: Image
        type: array
        required: false
  ImagesListResponse:
    properties:
      images:
        items:
          type: Image
        type: array
        required: false
  ImagesUploadResponse:
    properties:
      image:
        type: Image
        required: false
  InAppProduct:
    properties:
      defaultLanguage:
        description: 'The default language of the localized data, as defined by BCP 47. e.g. "en-US", "en-GB".'
        type: string
        required: false
      defaultPrice:
        description: Default price cannot be zero. In-app products can never be free. Default price is always in the developer's Checkout merchant currency.
        type: Price
        required: false
      listings:
        additionalProperties:
          description: 'The language of the localized data, as defined by BCP 47. i.e.: "en-US", "en-GB".'
          type: InAppProductListing
        description: List of localized title and description data.
        type: object
        required: false
      packageName:
        description: The package name of the parent app.
        type: string
        required: false
      prices:
        additionalProperties:
          description: 'Region code, as defined by ISO 3166-2.'
          type: Price
        description: Prices per buyer region. None of these prices should be zero. In-app products can never be free.
        type: object
        required: false
      purchaseType:
        description: Purchase type enum value. Unmodifiable after creation.
        type: string
        required: false
      season:
        description: Definition of a season for a seasonal subscription. Can be defined only for yearly subscriptions.
        type: Season
        required: false
      sku:
        description: 'The stock-keeping-unit (SKU) of the product, unique within an app.'
        type: string
        required: false
      status:
        type: string
        required: false
      subscriptionPeriod:
        description: 'Subscription period, specified in ISO 8601 format. Acceptable values are "P1W" (one week), "P1M" (one month), "P3M" (three months), "P6M" (six months), and "P1Y" (one year).'
        type: string
        required: false
      trialPeriod:
        description: 'Trial period, specified in ISO 8601 format. Acceptable values are anything between "P7D" (seven days) and "P999D" (999 days). Seasonal subscriptions cannot have a trial period.'
        type: string
        required: false
  InAppProductListing:
    properties:
      description:
        type: string
        required: false
      title:
        type: string
        required: false
  InappproductsBatchRequest:
    properties:
      entrys:
        items:
          type: InappproductsBatchRequestEntry
        type: array
        required: false
  InappproductsBatchRequestEntry:
    properties:
      batchId:
        type: integer
        required: false
      inappproductsinsertrequest:
        type: InappproductsInsertRequest
        required: false
      inappproductsupdaterequest:
        type: InappproductsUpdateRequest
        required: false
      methodName:
        type: string
        required: false
  InappproductsBatchResponse:
    properties:
      entrys:
        items:
          type: InappproductsBatchResponseEntry
        type: array
        required: false
      kind:
        default: 'androidpublisher#inappproductsBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#inappproductsBatchResponse".'
        type: string
        required: false
  InappproductsBatchResponseEntry:
    properties:
      batchId:
        type: integer
        required: false
      inappproductsinsertresponse:
        type: InappproductsInsertResponse
        required: false
      inappproductsupdateresponse:
        type: InappproductsUpdateResponse
        required: false
  InappproductsInsertRequest:
    properties:
      inappproduct:
        type: InAppProduct
        required: false
  InappproductsInsertResponse:
    properties:
      inappproduct:
        type: InAppProduct
        required: false
  InappproductsListResponse:
    properties:
      inappproduct:
        items:
          type: InAppProduct
        type: array
        required: false
      kind:
        default: 'androidpublisher#inappproductsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#inappproductsListResponse".'
        type: string
        required: false
      pageInfo:
        type: PageInfo
        required: false
      tokenPagination:
        type: TokenPagination
        required: false
  InappproductsUpdateRequest:
    properties:
      inappproduct:
        type: InAppProduct
        required: false
  InappproductsUpdateResponse:
    properties:
      inappproduct:
        type: InAppProduct
        required: false
  Listing:
    properties:
      fullDescription:
        description: Full description of the app; this may be up to 4000 characters in length.
        type: string
        required: false
      language:
        description: 'Language localization code (for example, "de-AT" for Austrian German).'
        type: string
        required: false
      shortDescription:
        description: Short description of the app (previously known as promo text); this may be up to 80 characters in length.
        type: string
        required: false
      title:
        description: App's localized title.
        type: string
        required: false
      video:
        description: URL of a promotional YouTube video for the app.
        type: string
        required: false
  ListingsListResponse:
    properties:
      kind:
        default: 'androidpublisher#listingsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#listingsListResponse".'
        type: string
        required: false
      listings:
        items:
          type: Listing
        type: array
        required: false
  MonthDay:
    properties:
      day:
        description: 'Day of a month, value in [1, 31] range. Valid range depends on the specified month.'
        type: integer
        required: false
      month:
        description: 'Month of a year. e.g. 1 = JAN, 2 = FEB etc.'
        type: integer
        required: false
  PageInfo:
    properties:
      resultPerPage:
        format: int32
        type: integer
        required: false
      startIndex:
        format: int32
        type: integer
        required: false
      totalResults:
        format: int32
        type: integer
        required: false
  Price:
    properties:
      currency:
        description: '3 letter Currency code, as defined by ISO 4217.'
        type: string
        required: false
      priceMicros:
        description: The price in millionths of the currency base unit represented as a string.
        type: string
        required: false
  ProductPurchase:
    description: A ProductPurchase resource indicates the status of a user's inapp product purchase.
    properties:
      consumptionState:
        description: |-
          The consumption state of the inapp product. Possible values are:  
          - Yet to be consumed 
          - Consumed
        format: int32
        type: integer
        required: false
      developerPayload:
        description: A developer-specified string that contains supplemental information about an order.
        type: string
        required: false
      kind:
        default: 'androidpublisher#productPurchase'
        description: This kind represents an inappPurchase object in the androidpublisher service.
        type: string
        required: false
      purchaseState:
        description: |-
          The purchase state of the order. Possible values are:  
          - Purchased 
          - Cancelled
        format: int32
        type: integer
        required: false
      purchaseTimeMillis:
        description: 'The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).'
        format: int64
        type: string
        facets:
          format: string
        required: false
  Prorate:
    properties:
      defaultPrice:
        description: Default price cannot be zero and must be less than the full subscription price. Default price is always in the developer's Checkout merchant currency. Targeted countries have their prices set automatically based on the default_price.
        type: Price
        required: false
      start:
        description: Defines the first day on which the price takes effect.
        type: MonthDay
        required: false
  Review:
    properties:
      authorName:
        description: The name of the user who wrote the review.
        type: string
        required: false
      comments:
        description: A repeated field containing comments for the review.
        items:
          type: Comment
        type: array
        required: false
      reviewId:
        description: Unique identifier for this review.
        type: string
        required: false
  ReviewReplyResult:
    properties:
      lastEdited:
        description: The time at which the reply took effect.
        type: Timestamp
        required: false
      replyText:
        description: The reply text that was applied.
        type: string
        required: false
  ReviewsListResponse:
    properties:
      pageInfo:
        type: PageInfo
        required: false
      reviews:
        items:
          type: Review
        type: array
        required: false
      tokenPagination:
        type: TokenPagination
        required: false
  ReviewsReplyRequest:
    properties:
      replyText:
        description: The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.
        type: string
        required: false
  ReviewsReplyResponse:
    properties:
      result:
        type: ReviewReplyResult
        required: false
  Season:
    properties:
      end:
        description: Inclusive end date of the recurrence period.
        type: MonthDay
        required: false
      prorations:
        description: Optionally present list of prorations for the season. Each proration is a one-off discounted entry into a subscription. Each proration contains the first date on which the discount is available and the new pricing information.
        items:
          type: Prorate
        type: array
        required: false
      start:
        description: Inclusive start date of the recurrence period.
        type: MonthDay
        required: false
  SubscriptionDeferralInfo:
    description: A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.
    properties:
      desiredExpiryTimeMillis:
        description: 'The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      expectedExpiryTimeMillis:
        description: 'The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  SubscriptionPurchase:
    description: A SubscriptionPurchase resource indicates the status of a user's subscription purchase.
    properties:
      autoRenewing:
        description: Whether the subscription will automatically be renewed when it reaches its current expiry time.
        type: boolean
        required: false
      cancelReason:
        description: |-
          The reason why a subscription was cancelled or is not auto-renewing. Possible values are:  
          - User cancelled the subscription 
          - Subscription was cancelled by the system, for example because of a billing problem
        format: int32
        type: integer
        required: false
      countryCode:
        description: ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.
        type: string
        required: false
      developerPayload:
        description: A developer-specified string that contains supplemental information about an order.
        type: string
        required: false
      expiryTimeMillis:
        description: 'Time at which the subscription will expire, in milliseconds since the Epoch.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'androidpublisher#subscriptionPurchase'
        description: This kind represents a subscriptionPurchase object in the androidpublisher service.
        type: string
        required: false
      paymentState:
        description: |-
          The payment state of the subscription. Possible values are:  
          - Payment pending 
          - Payment received
        format: int32
        type: integer
        required: false
      priceAmountMicros:
        description: 'Price of the subscription, not including tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      priceCurrencyCode:
        description: 'ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is "GBP".'
        type: string
        required: false
      startTimeMillis:
        description: 'Time at which the subscription was granted, in milliseconds since the Epoch.'
        format: int64
        type: string
        facets:
          format: string
        required: false
  SubscriptionPurchasesDeferRequest:
    properties:
      deferralInfo:
        description: The information about the new desired expiry time for the subscription.
        type: SubscriptionDeferralInfo
        required: false
  SubscriptionPurchasesDeferResponse:
    properties:
      newExpiryTimeMillis:
        description: The new expiry time for the subscription in milliseconds since the Epoch.
        format: int64
        type: string
        facets:
          format: string
        required: false
  Testers:
    properties:
      googleGroups:
        items:
          type: string
        type: array
        required: false
      googlePlusCommunities:
        items:
          type: string
        type: array
        required: false
  Timestamp:
    properties:
      nanos:
        format: int32
        type: integer
        required: false
      seconds:
        format: int64
        type: string
        facets:
          format: string
        required: false
  TokenPagination:
    properties:
      nextPageToken:
        type: string
        required: false
      previousPageToken:
        type: string
        required: false
  Track:
    properties:
      track:
        type: string
        required: false
      userFraction:
        format: double
        type: number
        required: false
      versionCodes:
        items:
          format: int32
          type: integer
        type: array
        required: false
  TracksListResponse:
    properties:
      kind:
        default: 'androidpublisher#tracksListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#tracksListResponse".'
        type: string
        required: false
      tracks:
        items:
          type: Track
        type: array
        required: false
  UserComment:
    properties:
      androidOsVersion:
        description: 'Integer Android SDK version of the user''s device at the time the review was written, e.g. 23 is Marshmallow. May be absent.'
        format: int32
        type: integer
        required: false
      appVersionCode:
        description: Integer version code of the app as installed at the time the review was written. May be absent.
        format: int32
        type: integer
        required: false
      appVersionName:
        description: String version name of the app as installed at the time the review was written. May be absent.
        type: string
        required: false
      device:
        description: 'Codename for the reviewer''s device, e.g. klte, flounder. May be absent.'
        type: string
        required: false
      lastModified:
        description: The last time at which this comment was updated.
        type: Timestamp
        required: false
      reviewerLanguage:
        description: Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent.
        type: string
        required: false
      starRating:
        description: 'The star rating associated with the review, from 1 to 5.'
        format: int32
        type: integer
        required: false
      text:
        description: 'The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
