#%RAML 1.0
title: Admin Reports
version: reports_v1
baseUri: 'https://www.googleapis.com/admin/reports/v1'
protocols:
  - HTTPS
description: 'Fetches reports for the administrators of Google Apps customers about the usage, collaboration, security, and risk for their users.'
(oas-tags-definition):
  - name: activities
  - name: channels
  - name: customerUsageReports
  - name: userUsageReport
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_admin_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/admin/reports_v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): admin
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/admin-sdk/reports/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/admin.reports.audit.readonly'
        - 'https://www.googleapis.com/auth/admin.reports.usage.readonly'
    description: Oauth 2.0 authentication
/usage:
  displayName: usage
  /users:
    displayName: users
    '/{userKey}':
      displayName: '{userKey}'
      /dates:
        displayName: dates
        '/{date}':
          displayName: '{date}'
          uriParameters:
            date:
              description: Represents the date in yyyy-mm-dd format for which the data is to be fetched.
              required: true
              type: string
              displayName: Represents the date in yyyy-mm-dd format for which the data is to be fetched.
          get:
            displayName: reports.userUsageReport.get
            description: Retrieves a report which is a collection of properties / statistics for a set of users.
            responses:
              '200':
                body:
                  application/json:
                    type: UsageReports
                description: Successful response
            queryParameters:
              customerId:
                description: Represents the customer for which the data is to be fetched.
                type: string
                displayName: Represents the customer for which the data is to be fetched.
              filters:
                description: Represents the set of filters including parameter operator value.
                type: string
                displayName: Represents the set of filters including parameter operator value.
              maxResults:
                description: Maximum number of results to return. Maximum allowed is 1000
                maximum: 1000
                type: integer
                displayName: Maximum number of results to return. Maximum allowed is 1000
              pageToken:
                description: Token to specify next page.
                type: string
                displayName: Token to specify next page.
              parameters:
                description: 'Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.'
                type: string
                displayName: 'Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.'
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.reports.usage.readonly'
            (oas-tags):
              - userUsageReport
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
  /dates:
    displayName: dates
    '/{date}':
      displayName: '{date}'
      uriParameters:
        date:
          description: Represents the date in yyyy-mm-dd format for which the data is to be fetched.
          required: true
          type: string
          displayName: Represents the date in yyyy-mm-dd format for which the data is to be fetched.
      get:
        displayName: reports.customerUsageReports.get
        description: Retrieves a report which is a collection of properties / statistics for a specific customer.
        responses:
          '200':
            body:
              application/json:
                type: UsageReports
            description: Successful response
        queryParameters:
          customerId:
            description: Represents the customer for which the data is to be fetched.
            type: string
            displayName: Represents the customer for which the data is to be fetched.
          pageToken:
            description: Token to specify next page.
            type: string
            displayName: Token to specify next page.
          parameters:
            description: 'Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.'
            type: string
            displayName: 'Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.'
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/admin.reports.usage.readonly'
        (oas-tags):
          - customerUsageReports
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/admin:
  displayName: admin
  /reports_v1:
    displayName: reports_v1
    /channels:
      displayName: channels
      /stop:
        displayName: stop
        post:
          displayName: admin.channels.stop
          description: Stop watching resources through this channel
          body:
            application/json:
              type: Channel
              (oas-body-name): resource
          responses:
            '200':
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/admin.reports.audit.readonly'
          (oas-tags):
            - channels
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
/activity:
  displayName: activity
  /users:
    displayName: users
    '/{userKey}':
      displayName: '{userKey}'
      /applications:
        displayName: applications
        '/{applicationName}':
          displayName: '{applicationName}'
          /watch:
            displayName: watch
            post:
              displayName: reports.activities.watch
              description: Push changes to activities
              body:
                application/json:
                  type: Channel
                  (oas-body-name): resource
              responses:
                '200':
                  body:
                    application/json:
                      type: Channel
                  description: Successful response
              queryParameters:
                actorIpAddress:
                  description: IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.
                  type: string
                  displayName: IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.
                customerId:
                  description: Represents the customer for which the data is to be fetched.
                  type: string
                  displayName: Represents the customer for which the data is to be fetched.
                endTime:
                  description: Return events which occured at or before this time.
                  type: string
                  displayName: Return events which occured at or before this time.
                eventName:
                  description: Name of the event being queried.
                  type: string
                  displayName: Name of the event being queried.
                filters:
                  description: 'Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...'
                  type: string
                  displayName: 'Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...'
                maxResults:
                  description: Number of activity records to be shown in each page.
                  maximum: 1000
                  minimum: 1
                  type: integer
                  displayName: Number of activity records to be shown in each page.
                pageToken:
                  description: Token to specify next page.
                  type: string
                  displayName: Token to specify next page.
                startTime:
                  description: Return events which occured at or after this time.
                  type: string
                  displayName: Return events which occured at or after this time.
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/admin.reports.audit.readonly'
              (oas-tags):
                - activities
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          uriParameters:
            applicationName:
              description: Application name for which the events are to be retrieved.
              required: true
              type: string
              displayName: Application name for which the events are to be retrieved.
          get:
            displayName: reports.activities.list
            description: Retrieves a list of activities for a specific customer and application.
            responses:
              '200':
                body:
                  application/json:
                    type: Activities
                description: Successful response
            queryParameters:
              actorIpAddress:
                description: IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.
                type: string
                displayName: IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.
              customerId:
                description: Represents the customer for which the data is to be fetched.
                type: string
                displayName: Represents the customer for which the data is to be fetched.
              endTime:
                description: Return events which occured at or before this time.
                type: string
                displayName: Return events which occured at or before this time.
              eventName:
                description: Name of the event being queried.
                type: string
                displayName: Name of the event being queried.
              filters:
                description: 'Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...'
                type: string
                displayName: 'Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...'
              maxResults:
                description: Number of activity records to be shown in each page.
                maximum: 1000
                minimum: 1
                type: integer
                displayName: Number of activity records to be shown in each page.
              pageToken:
                description: Token to specify next page.
                type: string
                displayName: Token to specify next page.
              startTime:
                description: Return events which occured at or after this time.
                type: string
                displayName: Return events which occured at or after this time.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/admin.reports.audit.readonly'
            (oas-tags):
              - activities
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
types:
  Activities:
    description: JSON template for a collection of activites.
    properties:
      etag:
        description: ETag of the resource.
        type: string
        required: false
      items:
        description: Each record in read response.
        items:
          type: Activity
        type: array
        required: false
      kind:
        default: 'admin#reports#activities'
        description: Kind of list response this is.
        type: string
        required: false
      nextPageToken:
        description: Token for retrieving the next page
        type: string
        required: false
  Activity:
    description: JSON template for the activity resource.
    properties:
      actor:
        description: User doing the action.
        properties:
          callerType:
            description: User or OAuth 2LO request.
            type: string
            required: false
          email:
            description: Email address of the user.
            type: string
            required: false
          key:
            description: 'For OAuth 2LO API requests, consumer_key of the requestor.'
            type: string
            required: false
          profileId:
            description: Obfuscated user id of the user.
            type: string
            required: false
        type: object
        required: false
      etag:
        description: ETag of the entry.
        type: string
        required: false
      events:
        description: Activity events.
        items:
          properties:
            name:
              description: Name of event.
              type: string
              required: false
            parameters:
              description: Parameter value pairs for various applications.
              items:
                properties:
                  boolValue:
                    description: Boolean value of the parameter.
                    type: boolean
                    required: false
                  intValue:
                    description: Integral value of the parameter.
                    format: int64
                    type: string
                    facets:
                      format: string
                    required: false
                  multiIntValue:
                    description: Multi-int value of the parameter.
                    items:
                      format: int64
                      type: string
                      facets:
                        format: string
                    type: array
                    required: false
                  multiValue:
                    description: Multi-string value of the parameter.
                    items:
                      type: string
                    type: array
                    required: false
                  name:
                    description: The name of the parameter.
                    type: string
                    required: false
                  value:
                    description: String value of the parameter.
                    type: string
                    required: false
                type: object
              type: array
              required: false
            type:
              description: Type of event.
              type: string
              required: false
          type: object
        type: array
        required: false
      id:
        description: Unique identifier for each activity record.
        properties:
          applicationName:
            description: Application name to which the event belongs.
            type: string
            required: false
          customerId:
            description: Obfuscated customer ID of the source customer.
            type: string
            required: false
          time:
            description: Time of occurrence of the activity.
            format: rfc3339
            type: datetime
            required: false
          uniqueQualifier:
            description: Unique qualifier if multiple events have the same time.
            format: int64
            type: string
            facets:
              format: string
            required: false
        type: object
        required: false
      ipAddress:
        description: IP Address of the user doing the action.
        type: string
        required: false
      kind:
        default: 'admin#reports#activity'
        description: Kind of resource this is.
        type: string
        required: false
      ownerDomain:
        description: Domain of source customer.
        type: string
        required: false
  Channel:
    description: An notification channel used to watch for resource changes.
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
        required: false
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
        facets:
          format: string
        required: false
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
        required: false
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string "api#channel".'
        type: string
        required: false
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
        required: false
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
        required: false
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
        required: false
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
        required: false
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
        required: false
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
        required: false
  UsageReport:
    description: JSON template for a usage report.
    properties:
      date:
        description: The date to which the record belongs.
        readOnly: true
        type: string
        facets:
          readOnly?: boolean
        required: false
      entity:
        description: Information about the type of the item.
        properties:
          customerId:
            description: Obfuscated customer id for the record.
            readOnly: true
            type: string
            facets:
              readOnly?: boolean
            required: false
          profileId:
            description: Obfuscated user id for the record.
            readOnly: true
            type: string
            facets:
              readOnly?: boolean
            required: false
          type:
            description: 'The type of item, can be a customer or user.'
            readOnly: true
            type: string
            facets:
              readOnly?: boolean
            required: false
          userEmail:
            description: user's email.
            readOnly: true
            type: string
            facets:
              readOnly?: boolean
            required: false
        readOnly: true
        type: object
        facets:
          readOnly?: boolean
        required: false
      etag:
        description: ETag of the resource.
        type: string
        required: false
      kind:
        default: 'admin#reports#usageReport'
        description: The kind of object.
        type: string
        required: false
      parameters:
        description: Parameter value pairs for various applications.
        items:
          properties:
            boolValue:
              description: Boolean value of the parameter.
              readOnly: true
              type: boolean
              facets:
                readOnly?: boolean
              required: false
            datetimeValue:
              description: RFC 3339 formatted value of the parameter.
              format: rfc3339
              readOnly: true
              type: datetime
              facets:
                readOnly?: boolean
              required: false
            intValue:
              description: Integral value of the parameter.
              format: int64
              readOnly: true
              type: string
              facets:
                format: string
                readOnly?: boolean
              required: false
            msgValue:
              description: Nested message value of the parameter.
              items:
                additionalProperties: {}
                type: object
              readOnly: true
              type: array
              facets:
                readOnly?: boolean
              required: false
            name:
              description: The name of the parameter.
              type: string
              required: false
            stringValue:
              description: String value of the parameter.
              readOnly: true
              type: string
              facets:
                readOnly?: boolean
              required: false
          type: object
        readOnly: true
        type: array
        facets:
          readOnly?: boolean
        required: false
  UsageReports:
    description: JSON template for a collection of usage reports.
    properties:
      etag:
        description: ETag of the resource.
        type: string
        required: false
      kind:
        default: 'admin#reports#usageReports'
        description: The kind of object.
        type: string
        required: false
      nextPageToken:
        description: Token for retrieving the next page
        type: string
        required: false
      usageReports:
        description: Various application parameter records.
        items:
          type: UsageReport
        type: array
        required: false
      warnings:
        description: Warnings if any.
        items:
          properties:
            code:
              description: Machine readable code / warning type.
              type: string
              required: false
            data:
              description: Key-Value pairs to give detailed information on the warning.
              items:
                properties:
                  key:
                    description: Key associated with a key-value pair to give detailed information on the warning.
                    type: string
                    required: false
                  value:
                    description: Value associated with a key-value pair to give detailed information on the warning.
                    type: string
                    required: false
                type: object
              type: array
              required: false
            message:
              description: Human readable message for the warning.
              type: string
              required: false
          type: object
        type: array
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
