#%RAML 1.0
title: Google Play Game Services
version: v1
baseUri: 'https://www.googleapis.com/games/v1'
protocols:
  - HTTPS
description: The API for Google Play Game Services.
(oas-tags-definition):
  - name: achievementDefinitions
  - name: achievements
  - name: applications
  - name: events
  - name: leaderboards
  - name: metagame
  - name: players
  - name: pushtokens
  - name: questMilestones
  - name: quests
  - name: revisions
  - name: rooms
  - name: scores
  - name: snapshots
  - name: turnBasedMatches
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_play_games_64dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/games/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): games
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/games/services/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/drive.appdata'
        - 'https://www.googleapis.com/auth/games'
        - 'https://www.googleapis.com/auth/plus.login'
    description: Oauth 2.0 authentication
/pushtokens:
  displayName: pushtokens
  put:
    displayName: games.pushtokens.update
    description: Registers a push token for the current user and application.
    body:
      application/json:
        type: PushToken
        (oas-body-name): body
    responses:
      '200':
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - pushtokens
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /remove:
    displayName: remove
    post:
      displayName: games.pushtokens.remove
      description: Removes a push token for the current user and application. Removing a non-existent push token will report success.
      body:
        application/json:
          type: PushTokenId
          (oas-body-name): body
      responses:
        '200':
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - pushtokens
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/turnbasedmatches:
  displayName: turnbasedmatches
  '/{matchId}':
    displayName: '{matchId}'
    /turn:
      displayName: turn
      put:
        displayName: games.turnBasedMatches.takeTurn
        description: Commit the results of a player turn.
        body:
          application/json:
            type: TurnBasedMatchTurn
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: TurnBasedMatch
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    uriParameters:
      matchId:
        description: The ID of the match.
        required: true
        type: string
    get:
      displayName: games.turnBasedMatches.get
      description: Get the data for a turn-based match.
      responses:
        '200':
          body:
            application/json:
              type: TurnBasedMatch
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        includeMatchData:
          description: Get match data along with metadata.
          type: boolean
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - turnBasedMatches
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /cancel:
      displayName: cancel
      put:
        displayName: games.turnBasedMatches.cancel
        description: Cancel a turn-based match.
        responses:
          '200':
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /decline:
      displayName: decline
      put:
        displayName: games.turnBasedMatches.decline
        description: Decline an invitation to play a turn-based match.
        responses:
          '200':
            body:
              application/json:
                type: TurnBasedMatch
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /dismiss:
      displayName: dismiss
      put:
        displayName: games.turnBasedMatches.dismiss
        description: Dismiss a turn-based match from the match list. The match will no longer show up in the list and will not generate notifications.
        responses:
          '200':
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /finish:
      displayName: finish
      put:
        displayName: games.turnBasedMatches.finish
        description: 'Finish a turn-based match. Each player should make this call once, after all results are in. Only the player whose turn it is may make the first call to Finish, and can pass in the final match state.'
        body:
          application/json:
            type: TurnBasedMatchResults
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: TurnBasedMatch
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /rematch:
      displayName: rematch
      post:
        displayName: games.turnBasedMatches.rematch
        description: 'Create a rematch of a match that was previously completed, with the same participants. This can be called by only one player on a match still in their list; the player must have called Finish first. Returns the newly created match; it will be the caller''s turn.'
        responses:
          '200':
            body:
              application/json:
                type: TurnBasedMatchRematch
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
          requestId:
            description: A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /leaveTurn:
      displayName: leaveTurn
      put:
        displayName: games.turnBasedMatches.leaveTurn
        description: 'Leave a turn-based match during the current player''s turn, without canceling the match.'
        responses:
          '200':
            body:
              application/json:
                type: TurnBasedMatch
            description: Successful response
        queryParameters:
          matchVersion:
            description: The version of the match being updated.
            required: true
            type: integer
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
          pendingParticipantId:
            description: 'The ID of another participant who should take their turn next. If not set, the match will wait for other player(s) to join via automatching; this is only valid if automatch criteria is set on the match with remaining slots for automatched players.'
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /leave:
      displayName: leave
      put:
        displayName: games.turnBasedMatches.leave
        description: 'Leave a turn-based match when it is not the current player''s turn, without canceling the match.'
        responses:
          '200':
            body:
              application/json:
                type: TurnBasedMatch
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /join:
      displayName: join
      put:
        displayName: games.turnBasedMatches.join
        description: Join a turn-based match.
        responses:
          '200':
            body:
              application/json:
                type: TurnBasedMatch
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - turnBasedMatches
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  get:
    displayName: games.turnBasedMatches.list
    description: Returns turn-based matches the player is or was involved in.
    responses:
      '200':
        body:
          application/json:
            type: TurnBasedMatchList
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
      includeMatchData:
        description: True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.
        type: boolean
      language:
        description: The preferred language to use for strings returned by this method.
        type: string
      maxCompletedMatches:
        description: 'The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.'
        maximum: 500
        minimum: 0
        type: integer
      maxResults:
        description: 'The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.'
        maximum: 500
        minimum: 1
        type: integer
      pageToken:
        description: The token returned by the previous request.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - turnBasedMatches
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /create:
    displayName: create
    post:
      displayName: games.turnBasedMatches.create
      description: Create a turn-based match.
      body:
        application/json:
          type: TurnBasedMatchCreateRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: TurnBasedMatch
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - turnBasedMatches
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /sync:
    displayName: sync
    get:
      displayName: games.turnBasedMatches.sync
      description: 'Returns turn-based matches the player is or was involved in that changed since the last sync call, with the least recent changes coming first. Matches that should be removed from the local cache will have a status of MATCH_DELETED.'
      responses:
        '200':
          body:
            application/json:
              type: TurnBasedMatchSync
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        includeMatchData:
          description: True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.
          type: boolean
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
        maxCompletedMatches:
          description: 'The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.'
          maximum: 500
          minimum: 0
          type: integer
        maxResults:
          description: 'The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.'
          maximum: 500
          minimum: 1
          type: integer
        pageToken:
          description: The token returned by the previous request.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - turnBasedMatches
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/achievements:
  displayName: achievements
  get:
    displayName: games.achievementDefinitions.list
    description: Lists all the achievement definitions for your application.
    responses:
      '200':
        body:
          application/json:
            type: AchievementDefinitionsListResponse
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
      language:
        description: The preferred language to use for strings returned by this method.
        type: string
      maxResults:
        description: 'The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.'
        maximum: 200
        minimum: 1
        type: integer
      pageToken:
        description: The token returned by the previous request.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - achievementDefinitions
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{achievementId}':
    displayName: '{achievementId}'
    /increment:
      displayName: increment
      post:
        displayName: games.achievements.increment
        description: Increments the steps of the achievement with the given ID for the currently authenticated player.
        responses:
          '200':
            body:
              application/json:
                type: AchievementIncrementResponse
            description: Successful response
        queryParameters:
          stepsToIncrement:
            description: The number of steps to increment.
            minimum: 1
            required: true
            type: integer
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          requestId:
            description: A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - achievements
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /setStepsAtLeast:
      displayName: setStepsAtLeast
      post:
        displayName: games.achievements.setStepsAtLeast
        description: 'Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.'
        responses:
          '200':
            body:
              application/json:
                type: AchievementSetStepsAtLeastResponse
            description: Successful response
        queryParameters:
          steps:
            description: The minimum value to set the steps to.
            minimum: 1
            required: true
            type: integer
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - achievements
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /unlock:
      displayName: unlock
      post:
        displayName: games.achievements.unlock
        description: Unlocks this achievement for the currently authenticated player.
        responses:
          '200':
            body:
              application/json:
                type: AchievementUnlockResponse
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - achievements
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /reveal:
      displayName: reveal
      post:
        displayName: games.achievements.reveal
        description: Sets the state of the achievement with the given ID to REVEALED for the currently authenticated player.
        responses:
          '200':
            body:
              application/json:
                type: AchievementRevealResponse
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - achievements
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /updateMultiple:
    displayName: updateMultiple
    post:
      displayName: games.achievements.updateMultiple
      description: Updates multiple achievements for the currently authenticated player.
      body:
        application/json:
          type: AchievementUpdateMultipleRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: AchievementUpdateMultipleResponse
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - achievements
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/quests:
  displayName: quests
  '/{questId}':
    displayName: '{questId}'
    /accept:
      displayName: accept
      post:
        displayName: games.quests.accept
        description: Indicates that the currently authorized user will participate in the quest.
        responses:
          '200':
            body:
              application/json:
                type: Quest
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - quests
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /milestones:
      displayName: milestones
      '/{milestoneId}':
        displayName: '{milestoneId}'
        /claim:
          displayName: claim
          put:
            displayName: games.questMilestones.claim
            description: Report that a reward for the milestone corresponding to milestoneId for the quest corresponding to questId has been claimed by the currently authorized user.
            responses:
              '200':
                description: Successful response
            queryParameters:
              requestId:
                description: A numeric ID to ensure that the request is handled correctly across retries. Your client application must generate this ID randomly.
                required: true
                type: string
              consistencyToken:
                description: The last-seen mutation timestamp.
                type: string
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/plus.login'
            (oas-tags):
              - questMilestones
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
/revisions:
  displayName: revisions
  /check:
    displayName: check
    get:
      displayName: games.revisions.check
      description: Checks whether the games client is out of date.
      responses:
        '200':
          body:
            application/json:
              type: RevisionCheckResponse
          description: Successful response
      queryParameters:
        clientRevision:
          description: |-
            The revision of the client SDK used by your application. Format:
            [PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:
             
            - "ANDROID" - Client is running the Android SDK. 
            - "IOS" - Client is running the iOS SDK. 
            - "WEB_APP" - Client is running as a Web App.
          required: true
          type: string
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - revisions
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/applications:
  displayName: applications
  /played:
    displayName: played
    post:
      displayName: games.applications.played
      description: Indicate that the the currently authenticated user is playing your application.
      responses:
        '200':
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - applications
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  '/{applicationId}':
    displayName: '{applicationId}'
    /verify:
      displayName: verify
      get:
        displayName: games.applications.verify
        description: 'Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.'
        responses:
          '200':
            body:
              application/json:
                type: ApplicationVerifyResponse
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - applications
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    uriParameters:
      applicationId:
        description: The application ID from the Google Play developer console.
        required: true
        type: string
    get:
      displayName: games.applications.get
      description: 'Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified platformType, the returned response will not include any instance data.'
      responses:
        '200':
          body:
            application/json:
              type: Application
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
        platformType:
          description: Restrict application details returned to the specific platform.
          enum:
            - ANDROID
            - IOS
            - WEB_APP
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - applications
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/rooms:
  displayName: rooms
  get:
    displayName: games.rooms.list
    description: Returns invitations to join rooms.
    responses:
      '200':
        body:
          application/json:
            type: RoomList
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
      language:
        description: The preferred language to use for strings returned by this method.
        type: string
      maxResults:
        description: 'The maximum number of rooms to return in the response, used for paging. For any response, the actual number of rooms to return may be less than the specified maxResults.'
        maximum: 500
        minimum: 1
        type: integer
      pageToken:
        description: The token returned by the previous request.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - rooms
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /create:
    displayName: create
    post:
      displayName: games.rooms.create
      description: Create a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
      body:
        application/json:
          type: RoomCreateRequest
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Room
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - rooms
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  '/{roomId}':
    displayName: '{roomId}'
    uriParameters:
      roomId:
        description: The ID of the room.
        required: true
        type: string
    get:
      displayName: games.rooms.get
      description: Get the data for a room.
      responses:
        '200':
          body:
            application/json:
              type: Room
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - rooms
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /decline:
      displayName: decline
      post:
        displayName: games.rooms.decline
        description: Decline an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
        responses:
          '200':
            body:
              application/json:
                type: Room
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - rooms
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /dismiss:
      displayName: dismiss
      post:
        displayName: games.rooms.dismiss
        description: Dismiss an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
        responses:
          '200':
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - rooms
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /join:
      displayName: join
      post:
        displayName: games.rooms.join
        description: Join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
        body:
          application/json:
            type: RoomJoinRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Room
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - rooms
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /leave:
      displayName: leave
      post:
        displayName: games.rooms.leave
        description: Leave a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
        body:
          application/json:
            type: RoomLeaveRequest
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Room
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - rooms
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /reportstatus:
      displayName: reportstatus
      post:
        displayName: games.rooms.reportStatus
        description: Updates sent by a client reporting the status of peers in a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
        body:
          application/json:
            type: RoomP2PStatuses
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: RoomStatus
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - rooms
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/events:
  displayName: events
  get:
    displayName: games.events.listByPlayer
    description: Returns a list showing the current progress on events in this application for the currently authenticated user.
    responses:
      '200':
        body:
          application/json:
            type: PlayerEventListResponse
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
      language:
        description: The preferred language to use for strings returned by this method.
        type: string
      maxResults:
        description: 'The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.'
        maximum: 100
        minimum: 1
        type: integer
      pageToken:
        description: The token returned by the previous request.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - events
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  post:
    displayName: games.events.record
    description: Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.
    body:
      application/json:
        type: EventRecordRequest
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: EventUpdateResponse
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
      language:
        description: The preferred language to use for strings returned by this method.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - events
/leaderboards:
  displayName: leaderboards
  get:
    displayName: games.leaderboards.list
    description: Lists all the leaderboard metadata for your application.
    responses:
      '200':
        body:
          application/json:
            type: LeaderboardListResponse
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
      language:
        description: The preferred language to use for strings returned by this method.
        type: string
      maxResults:
        description: 'The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified maxResults.'
        maximum: 200
        minimum: 1
        type: integer
      pageToken:
        description: The token returned by the previous request.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - leaderboards
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  '/{leaderboardId}':
    displayName: '{leaderboardId}'
    uriParameters:
      leaderboardId:
        description: The ID of the leaderboard.
        required: true
        type: string
    get:
      displayName: games.leaderboards.get
      description: Retrieves the metadata of the leaderboard with the given ID.
      responses:
        '200':
          body:
            application/json:
              type: Leaderboard
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - leaderboards
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /scores:
      displayName: scores
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            description: The collection of scores you're requesting.
            enum:
              - PUBLIC
              - SOCIAL
              - SOCIAL_1P
            required: true
            type: string
        get:
          displayName: games.scores.list
          description: 'Lists the scores in a leaderboard, starting from the top.'
          responses:
            '200':
              body:
                application/json:
                  type: LeaderboardScores
              description: Successful response
          queryParameters:
            timeSpan:
              description: The time span for the scores and ranks you're requesting.
              enum:
                - ALL_TIME
                - DAILY
                - WEEKLY
              required: true
              type: string
            consistencyToken:
              description: The last-seen mutation timestamp.
              type: string
            language:
              description: The preferred language to use for strings returned by this method.
              type: string
            maxResults:
              description: 'The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.'
              maximum: 30
              minimum: 1
              type: integer
            pageToken:
              description: The token returned by the previous request.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.login'
          (oas-tags):
            - scores
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      post:
        displayName: games.scores.submit
        description: Submits a score to the specified leaderboard.
        responses:
          '200':
            body:
              application/json:
                type: PlayerScoreResponse
            description: Successful response
        queryParameters:
          score:
            description: 'The score you''re submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.'
            required: true
            type: string
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
          scoreTag:
            description: Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - scores
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /window:
      displayName: window
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            description: The collection of scores you're requesting.
            enum:
              - PUBLIC
              - SOCIAL
              - SOCIAL_1P
            required: true
            type: string
        get:
          displayName: games.scores.listWindow
          description: Lists the scores in a leaderboard around (and including) a player's score.
          responses:
            '200':
              body:
                application/json:
                  type: LeaderboardScores
              description: Successful response
          queryParameters:
            timeSpan:
              description: The time span for the scores and ranks you're requesting.
              enum:
                - ALL_TIME
                - DAILY
                - WEEKLY
              required: true
              type: string
            consistencyToken:
              description: The last-seen mutation timestamp.
              type: string
            language:
              description: The preferred language to use for strings returned by this method.
              type: string
            maxResults:
              description: 'The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.'
              maximum: 30
              minimum: 1
              type: integer
            pageToken:
              description: The token returned by the previous request.
              type: string
            resultsAbove:
              description: The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.
              type: integer
            returnTopIfAbsent:
              description: True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.
              type: boolean
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.login'
          (oas-tags):
            - scores
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
  /scores:
    displayName: scores
    post:
      displayName: games.scores.submitMultiple
      description: Submits multiple scores to leaderboards.
      body:
        application/json:
          type: PlayerScoreSubmissionList
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: PlayerScoreListResponse
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - scores
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/metagameConfig:
  displayName: metagameConfig
  get:
    displayName: games.metagame.getMetagameConfig
    description: Return the metagame configuration data for the calling application.
    responses:
      '200':
        body:
          application/json:
            type: MetagameConfig
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - metagame
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
/players:
  displayName: players
  '/{playerId}':
    displayName: '{playerId}'
    uriParameters:
      playerId:
        description: A player ID. A value of me may be used in place of the authenticated player's ID.
        required: true
        type: string
    get:
      displayName: games.players.get
      description: 'Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set playerId to me.'
      responses:
        '200':
          body:
            application/json:
              type: Player
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - players
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /categories:
      displayName: categories
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            description: The collection of categories for which data will be returned.
            enum:
              - all
            required: true
            type: string
        get:
          displayName: games.metagame.listCategoriesByPlayer
          description: List play data aggregated per category for the player corresponding to playerId.
          responses:
            '200':
              body:
                application/json:
                  type: CategoryListResponse
              description: Successful response
          queryParameters:
            consistencyToken:
              description: The last-seen mutation timestamp.
              type: string
            language:
              description: The preferred language to use for strings returned by this method.
              type: string
            maxResults:
              description: 'The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified maxResults.'
              maximum: 100
              minimum: 1
              type: integer
            pageToken:
              description: The token returned by the previous request.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.login'
          (oas-tags):
            - metagame
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
    /quests:
      displayName: quests
      get:
        displayName: games.quests.list
        description: Get a list of quests for your application and the currently authenticated player.
        responses:
          '200':
            body:
              application/json:
                type: QuestListResponse
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
          maxResults:
            description: 'The maximum number of quest resources to return in the response, used for paging. For any response, the actual number of quest resources returned may be less than the specified maxResults. Acceptable values are 1 to 50, inclusive. (Default: 50).'
            maximum: 50
            minimum: 1
            type: integer
          pageToken:
            description: The token returned by the previous request.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - quests
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /achievements:
      displayName: achievements
      get:
        displayName: games.achievements.list
        description: Lists the progress for all your application's achievements for the currently authenticated player.
        responses:
          '200':
            body:
              application/json:
                type: PlayerAchievementListResponse
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
          maxResults:
            description: 'The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.'
            maximum: 200
            minimum: 1
            type: integer
          pageToken:
            description: The token returned by the previous request.
            type: string
          state:
            description: 'Tells the server to return only achievements with the specified state. If this parameter isn''t specified, all achievements are returned.'
            enum:
              - ALL
              - HIDDEN
              - REVEALED
              - UNLOCKED
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - achievements
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /snapshots:
      displayName: snapshots
      get:
        displayName: games.snapshots.list
        description: Retrieves a list of snapshots created by your application for the player corresponding to the player ID.
        responses:
          '200':
            body:
              application/json:
                type: SnapshotListResponse
            description: Successful response
        queryParameters:
          consistencyToken:
            description: The last-seen mutation timestamp.
            type: string
          language:
            description: The preferred language to use for strings returned by this method.
            type: string
          maxResults:
            description: 'The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified maxResults.'
            maximum: 25
            minimum: 1
            type: integer
          pageToken:
            description: The token returned by the previous request.
            type: string
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/plus.login'
        (oas-tags):
          - snapshots
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /leaderboards:
      displayName: leaderboards
      '/{leaderboardId}':
        displayName: '{leaderboardId}'
        /scores:
          displayName: scores
          '/{timeSpan}':
            displayName: '{timeSpan}'
            uriParameters:
              timeSpan:
                description: The time span for the scores and ranks you're requesting.
                enum:
                  - ALL
                  - ALL_TIME
                  - DAILY
                  - WEEKLY
                required: true
                type: string
            get:
              displayName: games.scores.get
              description: |-
                Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, leaderboardId can be set to ALL to retrieve data for all leaderboards in a given time span.
                NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.
              responses:
                '200':
                  body:
                    application/json:
                      type: PlayerLeaderboardScoreListResponse
                  description: Successful response
              queryParameters:
                consistencyToken:
                  description: The last-seen mutation timestamp.
                  type: string
                includeRankType:
                  description: 'The types of ranks to return. If the parameter is omitted, no ranks will be returned.'
                  enum:
                    - ALL
                    - PUBLIC
                    - SOCIAL
                  type: string
                language:
                  description: The preferred language to use for strings returned by this method.
                  type: string
                maxResults:
                  description: 'The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.'
                  maximum: 30
                  minimum: 1
                  type: integer
                pageToken:
                  description: The token returned by the previous request.
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/plus.login'
              (oas-tags):
                - scores
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
  /me:
    displayName: me
    /players:
      displayName: players
      '/{collection}':
        displayName: '{collection}'
        uriParameters:
          collection:
            description: Collection of players being retrieved
            enum:
              - connected
              - playedWith
              - played_with
              - visible
            required: true
            type: string
        get:
          displayName: games.players.list
          description: Get the collection of players for the currently authenticated user.
          responses:
            '200':
              body:
                application/json:
                  type: PlayerListResponse
              description: Successful response
          queryParameters:
            consistencyToken:
              description: The last-seen mutation timestamp.
              type: string
            language:
              description: The preferred language to use for strings returned by this method.
              type: string
            maxResults:
              description: 'The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.'
              maximum: 50
              minimum: 1
              type: integer
            pageToken:
              description: The token returned by the previous request.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/plus.login'
          (oas-tags):
            - players
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
/snapshots:
  displayName: snapshots
  '/{snapshotId}':
    displayName: '{snapshotId}'
    uriParameters:
      snapshotId:
        description: The ID of the snapshot.
        required: true
        type: string
    get:
      displayName: games.snapshots.get
      description: Retrieves the metadata for a given snapshot ID.
      responses:
        '200':
          body:
            application/json:
              type: Snapshot
          description: Successful response
      queryParameters:
        consistencyToken:
          description: The last-seen mutation timestamp.
          type: string
        language:
          description: The preferred language to use for strings returned by this method.
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/plus.login'
      (oas-tags):
        - snapshots
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/eventDefinitions:
  displayName: eventDefinitions
  get:
    displayName: games.events.listDefinitions
    description: Returns a list of the event definitions in this application.
    responses:
      '200':
        body:
          application/json:
            type: EventDefinitionListResponse
        description: Successful response
    queryParameters:
      consistencyToken:
        description: The last-seen mutation timestamp.
        type: string
      language:
        description: The preferred language to use for strings returned by this method.
        type: string
      maxResults:
        description: 'The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified maxResults.'
        maximum: 100
        minimum: 1
        type: integer
      pageToken:
        description: The token returned by the previous request.
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/plus.login'
    (oas-tags):
      - events
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  AchievementDefinition:
    description: This is a JSON template for an achievement definition object.
    properties:
      achievementType:
        description: |-
          The type of the achievement.
          Possible values are:  
          - "STANDARD" - Achievement is either locked or unlocked. 
          - "INCREMENTAL" - Achievement is incremental.
        type: string
        required: false
      description:
        description: The description of the achievement.
        type: string
        required: false
      experiencePoints:
        description: Experience points which will be earned when unlocking this achievement.
        format: int64
        type: string
        facets:
          format: string
        required: false
      formattedTotalSteps:
        description: The total steps for an incremental achievement as a string.
        type: string
        required: false
      id:
        description: The ID of the achievement.
        type: string
        required: false
      initialState:
        description: |-
          The initial state of the achievement.
          Possible values are:  
          - "HIDDEN" - Achievement is hidden. 
          - "REVEALED" - Achievement is revealed. 
          - "UNLOCKED" - Achievement is unlocked.
        type: string
        required: false
      isRevealedIconUrlDefault:
        description: 'Indicates whether the revealed icon image being returned is a default image, or is provided by the game.'
        type: boolean
        required: false
      isUnlockedIconUrlDefault:
        description: 'Indicates whether the unlocked icon image being returned is a default image, or is game-provided.'
        type: boolean
        required: false
      kind:
        default: 'games#achievementDefinition'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinition.'
        type: string
        required: false
      name:
        description: The name of the achievement.
        type: string
        required: false
      revealedIconUrl:
        description: The image URL for the revealed achievement icon.
        type: string
        required: false
      totalSteps:
        description: The total steps for an incremental achievement.
        format: int32
        type: integer
        required: false
      unlockedIconUrl:
        description: The image URL for the unlocked achievement icon.
        type: string
        required: false
  AchievementDefinitionsListResponse:
    description: This is a JSON template for a list of achievement definition objects.
    properties:
      items:
        description: The achievement definitions.
        items:
          type: AchievementDefinition
        type: array
        required: false
      kind:
        default: 'games#achievementDefinitionsListResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinitionsListResponse.'
        type: string
        required: false
      nextPageToken:
        description: Token corresponding to the next page of results.
        type: string
        required: false
  AchievementIncrementResponse:
    description: This is a JSON template for an achievement increment response
    properties:
      currentSteps:
        description: The current steps recorded for this incremental achievement.
        format: int32
        type: integer
        required: false
      kind:
        default: 'games#achievementIncrementResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementIncrementResponse.'
        type: string
        required: false
      newlyUnlocked:
        description: Whether the current steps for the achievement has reached the number of steps required to unlock.
        type: boolean
        required: false
  AchievementRevealResponse:
    description: This is a JSON template for an achievement reveal response
    properties:
      currentState:
        description: |-
          The current state of the achievement for which a reveal was attempted. This might be UNLOCKED if the achievement was already unlocked.
          Possible values are:  
          - "REVEALED" - Achievement is revealed. 
          - "UNLOCKED" - Achievement is unlocked.
        type: string
        required: false
      kind:
        default: 'games#achievementRevealResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementRevealResponse.'
        type: string
        required: false
  AchievementSetStepsAtLeastResponse:
    description: This is a JSON template for an achievement set steps at least response.
    properties:
      currentSteps:
        description: The current steps recorded for this incremental achievement.
        format: int32
        type: integer
        required: false
      kind:
        default: 'games#achievementSetStepsAtLeastResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementSetStepsAtLeastResponse.'
        type: string
        required: false
      newlyUnlocked:
        description: Whether the the current steps for the achievement has reached the number of steps required to unlock.
        type: boolean
        required: false
  AchievementUnlockResponse:
    description: This is a JSON template for an achievement unlock response
    properties:
      kind:
        default: 'games#achievementUnlockResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUnlockResponse.'
        type: string
        required: false
      newlyUnlocked:
        description: 'Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).'
        type: boolean
        required: false
  AchievementUpdateMultipleRequest:
    description: This is a JSON template for a list of achievement update requests.
    properties:
      kind:
        default: 'games#achievementUpdateMultipleRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateMultipleRequest.'
        type: string
        required: false
      updates:
        description: The individual achievement update requests.
        items:
          type: AchievementUpdateRequest
        type: array
        required: false
  AchievementUpdateMultipleResponse:
    description: This is a JSON template for an achievement unlock response.
    properties:
      kind:
        default: 'games#achievementUpdateMultipleResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateListResponse.'
        type: string
        required: false
      updatedAchievements:
        description: The updated state of the achievements.
        items:
          type: AchievementUpdateResponse
        type: array
        required: false
  AchievementUpdateRequest:
    description: This is a JSON template for a request to update an achievement.
    properties:
      achievementId:
        description: The achievement this update is being applied to.
        type: string
        required: false
      incrementPayload:
        description: The payload if an update of type INCREMENT was requested for the achievement.
        type: GamesAchievementIncrement
        required: false
      kind:
        default: 'games#achievementUpdateRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateRequest.'
        type: string
        required: false
      setStepsAtLeastPayload:
        description: The payload if an update of type SET_STEPS_AT_LEAST was requested for the achievement.
        type: GamesAchievementSetStepsAtLeast
        required: false
      updateType:
        description: |-
          The type of update being applied.
          Possible values are:  
          - "REVEAL" - Achievement is revealed. 
          - "UNLOCK" - Achievement is unlocked. 
          - "INCREMENT" - Achievement is incremented. 
          - "SET_STEPS_AT_LEAST" - Achievement progress is set to at least the passed value.
        type: string
        required: false
  AchievementUpdateResponse:
    description: This is a JSON template for an achievement update response.
    properties:
      achievementId:
        description: The achievement this update is was applied to.
        type: string
        required: false
      currentState:
        description: |-
          The current state of the achievement.
          Possible values are:  
          - "HIDDEN" - Achievement is hidden. 
          - "REVEALED" - Achievement is revealed. 
          - "UNLOCKED" - Achievement is unlocked.
        type: string
        required: false
      currentSteps:
        description: The current steps recorded for this achievement if it is incremental.
        format: int32
        type: integer
        required: false
      kind:
        default: 'games#achievementUpdateResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateResponse.'
        type: string
        required: false
      newlyUnlocked:
        description: 'Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).'
        type: boolean
        required: false
      updateOccurred:
        description: Whether the requested updates actually affected the achievement.
        type: boolean
        required: false
  AggregateStats:
    description: This is a JSON template for aggregate stats.
    properties:
      count:
        description: The number of messages sent between a pair of peers.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'games#aggregateStats'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#aggregateStats.'
        type: string
        required: false
      max:
        description: The maximum amount.
        format: int64
        type: string
        facets:
          format: string
        required: false
      min:
        description: The minimum amount.
        format: int64
        type: string
        facets:
          format: string
        required: false
      sum:
        description: The total number of bytes sent for messages between a pair of peers.
        format: int64
        type: string
        facets:
          format: string
        required: false
  AnonymousPlayer:
    description: This is a JSON template for an anonymous player
    properties:
      avatarImageUrl:
        description: The base URL for the image to display for the anonymous player.
        type: string
        required: false
      displayName:
        description: The name to display for the anonymous player.
        type: string
        required: false
      kind:
        default: 'games#anonymousPlayer'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#anonymousPlayer.'
        type: string
        required: false
  Application:
    description: This is a JSON template for the Application resource.
    properties:
      achievement_count:
        description: The number of achievements visible to the currently authenticated player.
        format: int32
        type: integer
        required: false
      assets:
        description: The assets of the application.
        items:
          type: ImageAsset
        type: array
        required: false
      author:
        description: The author of the application.
        type: string
        required: false
      category:
        description: The category of the application.
        type: ApplicationCategory
        required: false
      description:
        description: The description of the application.
        type: string
        required: false
      enabledFeatures:
        description: |-
          A list of features that have been enabled for the application.
          Possible values are:  
          - "SNAPSHOTS" - Snapshots has been enabled
        items:
          type: string
        type: array
        required: false
      id:
        description: The ID of the application.
        type: string
        required: false
      instances:
        description: The instances of the application.
        items:
          type: Instance
        type: array
        required: false
      kind:
        default: 'games#application'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#application.'
        type: string
        required: false
      lastUpdatedTimestamp:
        description: The last updated timestamp of the application.
        format: int64
        type: string
        facets:
          format: string
        required: false
      leaderboard_count:
        description: The number of leaderboards visible to the currently authenticated player.
        format: int32
        type: integer
        required: false
      name:
        description: The name of the application.
        type: string
        required: false
      themeColor:
        description: A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. "E0E0E0").
        type: string
        required: false
  ApplicationCategory:
    description: This is a JSON template for an application category object.
    properties:
      kind:
        default: 'games#applicationCategory'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#applicationCategory.'
        type: string
        required: false
      primary:
        description: The primary category.
        type: string
        required: false
      secondary:
        description: The secondary category.
        type: string
        required: false
  ApplicationVerifyResponse:
    description: This is a JSON template for a third party application verification response resource.
    properties:
      alternate_player_id:
        description: An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)
        type: string
        required: false
      kind:
        default: 'games#applicationVerifyResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#applicationVerifyResponse.'
        type: string
        required: false
      player_id:
        description: The ID of the player that was issued the auth token used in this request.
        type: string
        required: false
  Category:
    description: This is a JSON template for data related to individual game categories.
    properties:
      category:
        description: The category name.
        type: string
        required: false
      experiencePoints:
        description: Experience points earned in this category.
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'games#category'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#category.'
        type: string
        required: false
  CategoryListResponse:
    description: This is a JSON template for a list of category data objects.
    properties:
      items:
        description: The list of categories with usage data.
        items:
          type: Category
        type: array
        required: false
      kind:
        default: 'games#categoryListResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#categoryListResponse.'
        type: string
        required: false
      nextPageToken:
        description: Token corresponding to the next page of results.
        type: string
        required: false
  EventBatchRecordFailure:
    description: This is a JSON template for a batch update failure resource.
    properties:
      failureCause:
        description: |-
          The cause for the update failure.
          Possible values are:  
          - "TOO_LARGE": A batch request was issued with more events than are allowed in a single batch. 
          - "TIME_PERIOD_EXPIRED": A batch was sent with data too far in the past to record. 
          - "TIME_PERIOD_SHORT": A batch was sent with a time range that was too short. 
          - "TIME_PERIOD_LONG": A batch was sent with a time range that was too long. 
          - "ALREADY_UPDATED": An attempt was made to record a batch of data which was already seen. 
          - "RECORD_RATE_HIGH": An attempt was made to record data faster than the server will apply updates.
        type: string
        required: false
      kind:
        default: 'games#eventBatchRecordFailure'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventBatchRecordFailure.'
        type: string
        required: false
      range:
        description: The time range which was rejected; empty for a request-wide failure.
        type: EventPeriodRange
        required: false
  EventChild:
    description: This is a JSON template for an event child relationship resource.
    properties:
      childId:
        description: The ID of the child event.
        type: string
        required: false
      kind:
        default: 'games#eventChild'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventChild.'
        type: string
        required: false
  EventDefinition:
    description: This is a JSON template for an event definition resource.
    properties:
      childEvents:
        description: A list of events that are a child of this event.
        items:
          type: EventChild
        type: array
        required: false
      description:
        description: Description of what this event represents.
        type: string
        required: false
      displayName:
        description: The name to display for the event.
        type: string
        required: false
      id:
        description: The ID of the event.
        type: string
        required: false
      imageUrl:
        description: The base URL for the image that represents the event.
        type: string
        required: false
      isDefaultImageUrl:
        description: 'Indicates whether the icon image being returned is a default image, or is game-provided.'
        type: boolean
        required: false
      kind:
        default: 'games#eventDefinition'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinition.'
        type: string
        required: false
      visibility:
        description: |-
          The visibility of event being tracked in this definition.
          Possible values are:  
          - "REVEALED": This event should be visible to all users. 
          - "HIDDEN": This event should only be shown to users that have recorded this event at least once.
        type: string
        required: false
  EventDefinitionListResponse:
    description: This is a JSON template for a ListDefinitions response.
    properties:
      items:
        description: The event definitions.
        items:
          type: EventDefinition
        type: array
        required: false
      kind:
        default: 'games#eventDefinitionListResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinitionListResponse.'
        type: string
        required: false
      nextPageToken:
        description: The pagination token for the next page of results.
        type: string
        required: false
  EventPeriodRange:
    description: This is a JSON template for an event period time range.
    properties:
      kind:
        default: 'games#eventPeriodRange'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventPeriodRange.'
        type: string
        required: false
      periodEndMillis:
        description: 'The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      periodStartMillis:
        description: 'The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).'
        format: int64
        type: string
        facets:
          format: string
        required: false
  EventPeriodUpdate:
    description: This is a JSON template for an event period update resource.
    properties:
      kind:
        default: 'games#eventPeriodUpdate'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventPeriodUpdate.'
        type: string
        required: false
      timePeriod:
        description: The time period being covered by this update.
        type: EventPeriodRange
        required: false
      updates:
        description: The updates being made for this time period.
        items:
          type: EventUpdateRequest
        type: array
        required: false
  EventRecordFailure:
    description: This is a JSON template for an event update failure resource.
    properties:
      eventId:
        description: The ID of the event that was not updated.
        type: string
        required: false
      failureCause:
        description: |-
          The cause for the update failure.
          Possible values are:  
          - "NOT_FOUND" - An attempt was made to set an event that was not defined. 
          - "INVALID_UPDATE_VALUE" - An attempt was made to increment an event by a non-positive value.
        type: string
        required: false
      kind:
        default: 'games#eventRecordFailure'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventRecordFailure.'
        type: string
        required: false
  EventRecordRequest:
    description: This is a JSON template for an event period update resource.
    properties:
      currentTimeMillis:
        description: 'The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).'
        format: int64
        type: string
        facets:
          format: string
        required: false
      kind:
        default: 'games#eventRecordRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventRecordRequest.'
        type: string
        required: false
      requestId:
        description: The request ID used to identify this attempt to record events.
        format: int64
        type: string
        facets:
          format: string
        required: false
      timePeriods:
        description: A list of the time period updates being made in this request.
        items:
          type: EventPeriodUpdate
        type: array
        required: false
  EventUpdateRequest:
    description: This is a JSON template for an event period update resource.
    properties:
      definitionId:
        description: The ID of the event being modified in this update.
        type: string
        required: false
      kind:
        default: 'games#eventUpdateRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventUpdateRequest.'
        type: string
        required: false
      updateCount:
        description: The number of times this event occurred in this time period.
        format: int64
        type: string
        facets:
          format: string
        required: false
  EventUpdateResponse:
    description: This is a JSON template for an event period update resource.
    properties:
      batchFailures:
        description: Any batch-wide failures which occurred applying updates.
        items:
          type: EventBatchRecordFailure
        type: array
        required: false
      eventFailures:
        description: Any failures updating a particular event.
        items:
          type: EventRecordFailure
        type: array
        required: false
      kind:
        default: 'games#eventUpdateResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#eventUpdateResponse.'
        type: string
        required: false
      playerEvents:
        description: The current status of any updated events
        items:
          type: PlayerEvent
        type: array
        required: false
  GamesAchievementIncrement:
    description: This is a JSON template for the payload to request to increment an achievement.
    properties:
      kind:
        default: 'games#GamesAchievementIncrement'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#GamesAchievementIncrement.'
        type: string
        required: false
      requestId:
        description: The requestId associated with an increment to an achievement.
        format: int64
        type: string
        facets:
          format: string
        required: false
      steps:
        description: The number of steps to be incremented.
        format: int32
        type: integer
        required: false
  GamesAchievementSetStepsAtLeast:
    description: This is a JSON template for the payload to request to increment an achievement.
    properties:
      kind:
        default: 'games#GamesAchievementSetStepsAtLeast'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#GamesAchievementSetStepsAtLeast.'
        type: string
        required: false
      steps:
        description: The minimum number of steps for the achievement to be set to.
        format: int32
        type: integer
        required: false
  ImageAsset:
    description: This is a JSON template for an image asset object.
    properties:
      height:
        description: The height of the asset.
        format: int32
        type: integer
        required: false
      kind:
        default: 'games#imageAsset'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#imageAsset.'
        type: string
        required: false
      name:
        description: The name of the asset.
        type: string
        required: false
      url:
        description: The URL of the asset.
        type: string
        required: false
      width:
        description: The width of the asset.
        format: int32
        type: integer
        required: false
  Instance:
    description: This is a JSON template for the Instance resource.
    properties:
      acquisitionUri:
        description: URI which shows where a user can acquire this instance.
        type: string
        required: false
      androidInstance:
        description: Platform dependent details for Android.
        type: InstanceAndroidDetails
        required: false
      iosInstance:
        description: Platform dependent details for iOS.
        type: InstanceIosDetails
        required: false
      kind:
        default: 'games#instance'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#instance.'
        type: string
        required: false
      name:
        description: Localized display name.
        type: string
        required: false
      platformType:
        description: |-
          The platform type.
          Possible values are:  
          - "ANDROID" - Instance is for Android. 
          - "IOS" - Instance is for iOS 
          - "WEB_APP" - Instance is for Web App.
        type: string
        required: false
      realtimePlay:
        description: Flag to show if this game instance supports realtime play.
        type: boolean
        required: false
      turnBasedPlay:
        description: Flag to show if this game instance supports turn based play.
        type: boolean
        required: false
      webInstance:
        description: Platform dependent details for Web.
        type: InstanceWebDetails
        required: false
  InstanceAndroidDetails:
    description: This is a JSON template for the Android instance details resource.
    properties:
      enablePiracyCheck:
        description: Flag indicating whether the anti-piracy check is enabled.
        type: boolean
        required: false
      kind:
        default: 'games#instanceAndroidDetails'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#instanceAndroidDetails.'
        type: string
        required: false
      packageName:
        description: Android package name which maps to Google Play URL.
        type: string
        required: false
      preferred:
        description: Indicates that this instance is the default for new installations.
        type: boolean
        required: false
  InstanceIosDetails:
    description: This is a JSON template for the iOS details resource.
    properties:
      bundleIdentifier:
        description: Bundle identifier.
        type: string
        required: false
      itunesAppId:
        description: iTunes App ID.
        type: string
        required: false
      kind:
        default: 'games#instanceIosDetails'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#instanceIosDetails.'
        type: string
        required: false
      preferredForIpad:
        description: Indicates that this instance is the default for new installations on iPad devices.
        type: boolean
        required: false
      preferredForIphone:
        description: Indicates that this instance is the default for new installations on iPhone devices.
        type: boolean
        required: false
      supportIpad:
        description: Flag to indicate if this instance supports iPad.
        type: boolean
        required: false
      supportIphone:
        description: Flag to indicate if this instance supports iPhone.
        type: boolean
        required: false
  InstanceWebDetails:
    description: This is a JSON template for the Web details resource.
    properties:
      kind:
        default: 'games#instanceWebDetails'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#instanceWebDetails.'
        type: string
        required: false
      launchUrl:
        description: Launch URL for the game.
        type: string
        required: false
      preferred:
        description: Indicates that this instance is the default for new installations.
        type: boolean
        required: false
  Leaderboard:
    description: This is a JSON template for the Leaderboard resource.
    properties:
      iconUrl:
        description: The icon for the leaderboard.
        type: string
        required: false
      id:
        description: The leaderboard ID.
        type: string
        required: false
      isIconUrlDefault:
        description: 'Indicates whether the icon image being returned is a default image, or is game-provided.'
        type: boolean
        required: false
      kind:
        default: 'games#leaderboard'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboard.'
        type: string
        required: false
      name:
        description: The name of the leaderboard.
        type: string
        required: false
      order:
        description: |-
          How scores are ordered.
          Possible values are:  
          - "LARGER_IS_BETTER" - Larger values are better; scores are sorted in descending order. 
          - "SMALLER_IS_BETTER" - Smaller values are better; scores are sorted in ascending order.
        type: string
        required: false
  LeaderboardEntry:
    description: This is a JSON template for the Leaderboard Entry resource.
    properties:
      formattedScore:
        description: The localized string for the numerical value of this score.
        type: string
        required: false
      formattedScoreRank:
        description: The localized string for the rank of this score for this leaderboard.
        type: string
        required: false
      kind:
        default: 'games#leaderboardEntry'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboardEntry.'
        type: string
        required: false
      player:
        description: The player who holds this score.
        type: Player
        required: false
      scoreRank:
        description: The rank of this score for this leaderboard.
        format: int64
        type: string
        facets:
          format: string
        required: false
      scoreTag:
        description: Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.
        type: string
        required: false
      scoreValue:
        description: The numerical value of this score.
        format: int64
        type: string
        facets:
          format: string
        required: false
      timeSpan:
[...]
