#%RAML 1.0
title: Books
version: v1
baseUri: 'https://www.googleapis.com/books/v1'
protocols:
  - HTTPS
description: Searches for books and manages your Google Books library.
(oas-tags-definition):
  - name: bookshelves
  - name: cloudloading
  - name: dictionary
  - name: layers
  - name: myconfig
  - name: mylibrary
  - name: notification
  - name: onboarding
  - name: personalizedstream
  - name: promooffer
  - name: series
  - name: volumes
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_intl_en_images_logos_books_logo_lg.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/books/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): books
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/books/docs/v1/getting_started'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/books'
    description: Oauth 2.0 authentication
/onboarding:
  displayName: onboarding
  /listCategories:
    displayName: listCategories
    get:
      displayName: books.onboarding.listCategories
      description: List categories for onboarding experience.
      responses:
        '200':
          body:
            application/json:
              type: Category
          description: Successful response
      queryParameters:
        locale:
          description: ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.
          type: string
          displayName: ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - onboarding
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /listCategoryVolumes:
    displayName: listCategoryVolumes
    get:
      displayName: books.onboarding.listCategoryVolumes
      description: List available volumes under categories for onboarding experience.
      responses:
        '200':
          body:
            application/json:
              type: Volume2
          description: Successful response
      queryParameters:
        categoryId:
          collectionFormat: multi
          description: List of category ids requested.
          items:
            type: string
          type: array
          displayName: List of category ids requested.
          facets:
            collectionFormat: string
        locale:
          description: ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.
          type: string
          displayName: ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.
        maxAllowedMaturityRating:
          description: The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          type: string
          displayName: The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.
        pageSize:
          description: Number of maximum results per page to be included in the response.
          type: integer
          displayName: Number of maximum results per page to be included in the response.
        pageToken:
          description: The value of the nextToken from the previous page.
          type: string
          displayName: The value of the nextToken from the previous page.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - onboarding
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/volumes:
  displayName: volumes
  '/{volumeId}':
    displayName: '{volumeId}'
    /layersummary:
      displayName: layersummary
      '/{summaryId}':
        displayName: '{summaryId}'
        uriParameters:
          summaryId:
            description: The ID for the layer to get the summary for.
            required: true
            type: string
            displayName: The ID for the layer to get the summary for.
        get:
          displayName: books.layers.get
          description: Gets the layer summary for a volume.
          responses:
            '200':
              body:
                application/json:
                  type: Layersummary
              description: Successful response
          queryParameters:
            contentVersion:
              description: The content version for the requested volume.
              type: string
              displayName: The content version for the requested volume.
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - layers
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      get:
        displayName: books.layers.list
        description: List the layer summaries for a volume.
        responses:
          '200':
            body:
              application/json:
                type: Layersummaries
            description: Successful response
        queryParameters:
          contentVersion:
            description: The content version for the requested volume.
            type: string
            displayName: The content version for the requested volume.
          maxResults:
            description: Maximum number of results to return
            maximum: 200
            minimum: 0
            type: integer
            displayName: Maximum number of results to return
          pageToken:
            description: The value of the nextToken from the previous page.
            type: string
            displayName: The value of the nextToken from the previous page.
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - layers
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    uriParameters:
      volumeId:
        description: ID of volume to retrieve.
        required: true
        type: string
        displayName: ID of volume to retrieve.
    get:
      displayName: books.volumes.get
      description: Gets volume information for a single volume.
      responses:
        '200':
          body:
            application/json:
              type: Volume
          description: Successful response
      queryParameters:
        country:
          description: ISO-3166-1 code to override the IP-based location.
          type: string
          displayName: ISO-3166-1 code to override the IP-based location.
        includeNonComicsSeries:
          description: Set to true to include non-comics series. Defaults to false.
          type: boolean
          displayName: Set to true to include non-comics series. Defaults to false.
        partner:
          description: Brand results for partner ID.
          type: string
          displayName: Brand results for partner ID.
        projection:
          description: Restrict information returned to a set of selected fields.
          enum:
            - full
            - lite
          type: string
          displayName: Restrict information returned to a set of selected fields.
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
        user_library_consistent_read:
          type: boolean
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - volumes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /associated:
      displayName: associated
      get:
        displayName: books.volumes.associated.list
        description: Return a list of associated books.
        responses:
          '200':
            body:
              application/json:
                type: Volumes
            description: Successful response
        queryParameters:
          association:
            description: Association type.
            enum:
              - end-of-sample
              - end-of-volume
              - related-for-play
            type: string
            displayName: Association type.
          locale:
            description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
            type: string
            displayName: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          maxAllowedMaturityRating:
            description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
            enum:
              - mature
              - not-mature
            type: string
            displayName: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - volumes
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
    /layers:
      displayName: layers
      '/{layerId}':
        displayName: '{layerId}'
        uriParameters:
          layerId:
            description: The ID for the layer to get the annotations.
            required: true
            type: string
            displayName: The ID for the layer to get the annotations.
        get:
          displayName: books.layers.volumeAnnotations.list
          description: Gets the volume annotations for a volume and layer.
          responses:
            '200':
              body:
                application/json:
                  type: Volumeannotations
              description: Successful response
          queryParameters:
            contentVersion:
              description: The content version for the requested volume.
              required: true
              type: string
              displayName: The content version for the requested volume.
            endOffset:
              description: The end offset to end retrieving data from.
              type: string
              displayName: The end offset to end retrieving data from.
            endPosition:
              description: The end position to end retrieving data from.
              type: string
              displayName: The end position to end retrieving data from.
            locale:
              description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
              type: string
              displayName: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
            maxResults:
              description: Maximum number of results to return
              maximum: 200
              minimum: 0
              type: integer
              displayName: Maximum number of results to return
            pageToken:
              description: The value of the nextToken from the previous page.
              type: string
              displayName: The value of the nextToken from the previous page.
            showDeleted:
              description: Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.
              type: boolean
              displayName: Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
            startOffset:
              description: The start offset to start retrieving data from.
              type: string
              displayName: The start offset to start retrieving data from.
            startPosition:
              description: The start position to start retrieving data from.
              type: string
              displayName: The start position to start retrieving data from.
            updatedMax:
              description: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
              type: string
              displayName: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
            updatedMin:
              description: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
              type: string
              displayName: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
            volumeAnnotationsVersion:
              description: The version of the volume annotations that you are requesting.
              type: string
              displayName: The version of the volume annotations that you are requesting.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - layers
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        /data:
          displayName: data
          '/{annotationDataId}':
            displayName: '{annotationDataId}'
            uriParameters:
              annotationDataId:
                description: The ID of the annotation data to retrieve.
                required: true
                type: string
                displayName: The ID of the annotation data to retrieve.
            get:
              displayName: books.layers.annotationData.get
              description: Gets the annotation data.
              responses:
                '200':
                  body:
                    application/json:
                      type: Annotationdata
                  description: Successful response
              queryParameters:
                contentVersion:
                  description: The content version for the volume you are trying to retrieve.
                  required: true
                  type: string
                  displayName: The content version for the volume you are trying to retrieve.
                allowWebDefinitions:
                  description: For the dictionary layer. Whether or not to allow web definitions.
                  type: boolean
                  displayName: For the dictionary layer. Whether or not to allow web definitions.
                h:
                  description: The requested pixel height for any images. If height is provided width must also be provided.
                  type: integer
                  displayName: The requested pixel height for any images. If height is provided width must also be provided.
                locale:
                  description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
                  type: string
                  displayName: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
                scale:
                  description: The requested scale for the image.
                  minimum: 0
                  type: integer
                  displayName: The requested scale for the image.
                source:
                  description: String to identify the originator of this request.
                  type: string
                  displayName: String to identify the originator of this request.
                w:
                  description: The requested pixel width for any images. If width is provided height must also be provided.
                  type: integer
                  displayName: The requested pixel width for any images. If width is provided height must also be provided.
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/books'
              (oas-tags):
                - layers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          get:
            displayName: books.layers.annotationData.list
            description: Gets the annotation data for a volume and layer.
            responses:
              '200':
                body:
                  application/json:
                    type: Annotationsdata
                description: Successful response
            queryParameters:
              contentVersion:
                description: The content version for the requested volume.
                required: true
                type: string
                displayName: The content version for the requested volume.
              annotationDataId:
                collectionFormat: multi
                description: The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.
                items:
                  type: string
                type: array
                displayName: The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.
                facets:
                  collectionFormat: string
              h:
                description: The requested pixel height for any images. If height is provided width must also be provided.
                type: integer
                displayName: The requested pixel height for any images. If height is provided width must also be provided.
              locale:
                description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
                type: string
                displayName: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
              maxResults:
                description: Maximum number of results to return
                maximum: 200
                minimum: 0
                type: integer
                displayName: Maximum number of results to return
              pageToken:
                description: The value of the nextToken from the previous page.
                type: string
                displayName: The value of the nextToken from the previous page.
              scale:
                description: The requested scale for the image.
                minimum: 0
                type: integer
                displayName: The requested scale for the image.
              source:
                description: String to identify the originator of this request.
                type: string
                displayName: String to identify the originator of this request.
              updatedMax:
                description: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
                type: string
                displayName: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
              updatedMin:
                description: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
                type: string
                displayName: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
              w:
                description: The requested pixel width for any images. If width is provided height must also be provided.
                type: integer
                displayName: The requested pixel width for any images. If width is provided height must also be provided.
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/books'
            (oas-tags):
              - layers
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        /annotations:
          displayName: annotations
          '/{annotationId}':
            displayName: '{annotationId}'
            uriParameters:
              annotationId:
                description: The ID of the volume annotation to retrieve.
                required: true
                type: string
                displayName: The ID of the volume annotation to retrieve.
            get:
              displayName: books.layers.volumeAnnotations.get
              description: Gets the volume annotation.
              responses:
                '200':
                  body:
                    application/json:
                      type: Volumeannotation
                  description: Successful response
              queryParameters:
                locale:
                  description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
                  type: string
                  displayName: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
                source:
                  description: String to identify the originator of this request.
                  type: string
                  displayName: String to identify the originator of this request.
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/books'
              (oas-tags):
                - layers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
  get:
    displayName: books.volumes.list
    description: Performs a book search.
    responses:
      '200':
        body:
          application/json:
            type: Volumes
        description: Successful response
    queryParameters:
      q:
        description: Full-text search query string.
        required: true
        type: string
        displayName: Full-text search query string.
      download:
        description: Restrict to volumes by download availability.
        enum:
          - epub
        type: string
        displayName: Restrict to volumes by download availability.
      filter:
        description: Filter search results.
        enum:
          - ebooks
          - free-ebooks
          - full
          - paid-ebooks
          - partial
        type: string
        displayName: Filter search results.
      langRestrict:
        description: Restrict results to books with this language code.
        type: string
        displayName: Restrict results to books with this language code.
      libraryRestrict:
        description: Restrict search to this user's library.
        enum:
          - my-library
          - no-restrict
        type: string
        displayName: Restrict search to this user's library.
      maxAllowedMaturityRating:
        description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
        enum:
          - mature
          - not-mature
        type: string
        displayName: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
      maxResults:
        description: Maximum number of results to return.
        maximum: 40
        minimum: 0
        type: integer
        displayName: Maximum number of results to return.
      orderBy:
        description: Sort search results.
        enum:
          - newest
          - relevance
        type: string
        displayName: Sort search results.
      partner:
        description: Restrict and brand results for partner ID.
        type: string
        displayName: Restrict and brand results for partner ID.
      printType:
        description: Restrict to books or magazines.
        enum:
          - all
          - books
          - magazines
        type: string
        displayName: Restrict to books or magazines.
      projection:
        description: Restrict information returned to a set of selected fields.
        enum:
          - full
          - lite
        type: string
        displayName: Restrict information returned to a set of selected fields.
      showPreorders:
        description: Set to true to show books available for preorder. Defaults to false.
        type: boolean
        displayName: Set to true to show books available for preorder. Defaults to false.
      source:
        description: String to identify the originator of this request.
        type: string
        displayName: String to identify the originator of this request.
      startIndex:
        description: Index of the first result to return (starts at 0)
        minimum: 0
        type: integer
        displayName: Index of the first result to return (starts at 0)
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/books'
    (oas-tags):
      - volumes
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  /mybooks:
    displayName: mybooks
    get:
      displayName: books.volumes.mybooks.list
      description: Return a list of books in My Library.
      responses:
        '200':
          body:
            application/json:
              type: Volumes
          description: Successful response
      queryParameters:
        acquireMethod:
          collectionFormat: multi
          description: How the book was acquired
          items:
            enum:
              - FAMILY_SHARED
              - PREORDERED
              - PREVIOUSLY_RENTED
              - PUBLIC_DOMAIN
              - PURCHASED
              - RENTED
              - SAMPLE
              - UPLOADED
            type: string
          type: array
          displayName: How the book was acquired
          facets:
            collectionFormat: string
        country:
          description: ISO-3166-1 code to override the IP-based location.
          type: string
          displayName: ISO-3166-1 code to override the IP-based location.
        locale:
          description: 'ISO-639-1 language and ISO-3166-1 country code. Ex:''en_US''. Used for generating recommendations.'
          type: string
          displayName: 'ISO-639-1 language and ISO-3166-1 country code. Ex:''en_US''. Used for generating recommendations.'
        maxResults:
          description: Maximum number of results to return.
          maximum: 100
          minimum: 0
          type: integer
          displayName: Maximum number of results to return.
        processingState:
          collectionFormat: multi
          description: The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.
          items:
            enum:
              - COMPLETED_FAILED
              - COMPLETED_SUCCESS
              - RUNNING
            type: string
          type: array
          displayName: The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.
          facets:
            collectionFormat: string
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
        startIndex:
          description: Index of the first result to return (starts at 0)
          minimum: 0
          type: integer
          displayName: Index of the first result to return (starts at 0)
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - volumes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /recommended:
    displayName: recommended
    get:
      displayName: books.volumes.recommended.list
      description: Return a list of recommended books for the current user.
      responses:
        '200':
          body:
            application/json:
              type: Volumes
          description: Successful response
      queryParameters:
        locale:
          description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          type: string
          displayName: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
        maxAllowedMaturityRating:
          description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          type: string
          displayName: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - volumes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    /rate:
      displayName: rate
      post:
        displayName: books.volumes.recommended.rate
        description: Rate a recommended book for the current user.
        responses:
          '200':
            body:
              application/json:
                type: BooksVolumesRecommendedRateResponse
            description: Successful response
        queryParameters:
          rating:
            description: Rating to be given to the volume.
            enum:
              - HAVE_IT
              - NOT_INTERESTED
            required: true
            type: string
            displayName: Rating to be given to the volume.
          volumeId:
            description: ID of the source volume.
            required: true
            type: string
            displayName: ID of the source volume.
          locale:
            description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
            type: string
            displayName: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - volumes
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /useruploaded:
    displayName: useruploaded
    get:
      displayName: books.volumes.useruploaded.list
      description: Return a list of books uploaded by the current user.
      responses:
        '200':
          body:
            application/json:
              type: Volumes
          description: Successful response
      queryParameters:
        locale:
          description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          type: string
          displayName: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
        maxResults:
          description: Maximum number of results to return.
          maximum: 40
          minimum: 0
          type: integer
          displayName: Maximum number of results to return.
        processingState:
          collectionFormat: multi
          description: The processing state of the user uploaded volumes to be returned.
          items:
            enum:
              - COMPLETED_FAILED
              - COMPLETED_SUCCESS
              - RUNNING
            type: string
          type: array
          displayName: The processing state of the user uploaded volumes to be returned.
          facets:
            collectionFormat: string
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
        startIndex:
          description: Index of the first result to return (starts at 0)
          minimum: 0
          type: integer
          displayName: Index of the first result to return (starts at 0)
        volumeId:
          collectionFormat: multi
          description: The ids of the volumes to be returned. If not specified all that match the processingState are returned.
          items:
            type: string
          type: array
          displayName: The ids of the volumes to be returned. If not specified all that match the processingState are returned.
          facets:
            collectionFormat: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - volumes
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/cloudloading:
  displayName: cloudloading
  /addBook:
    displayName: addBook
    post:
      displayName: books.cloudloading.addBook
      responses:
        '200':
          body:
            application/json:
              type: BooksCloudloadingResource
          description: Successful response
      queryParameters:
        drive_document_id:
          description: A drive document id. The upload_client_token must not be set.
          type: string
          displayName: A drive document id. The upload_client_token must not be set.
        mime_type:
          description: The document MIME type. It can be set only if the drive_document_id is set.
          type: string
          displayName: The document MIME type. It can be set only if the drive_document_id is set.
        name:
          description: The document name. It can be set only if the drive_document_id is set.
          type: string
          displayName: The document name. It can be set only if the drive_document_id is set.
        upload_client_token:
          type: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - cloudloading
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /updateBook:
    displayName: updateBook
    post:
      displayName: books.cloudloading.updateBook
      body:
        application/json:
          type: BooksCloudloadingResource
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: BooksCloudloadingResource
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - cloudloading
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /deleteBook:
    displayName: deleteBook
    post:
      displayName: books.cloudloading.deleteBook
      description: Remove the book and its contents
      responses:
        '200':
          description: Successful response
      queryParameters:
        volumeId:
          description: The id of the book to be removed.
          required: true
          type: string
          displayName: The id of the book to be removed.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - cloudloading
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/personalizedstream:
  displayName: personalizedstream
  /get:
    displayName: get
    get:
      displayName: books.personalizedstream.get
      description: Returns a stream of personalized book clusters
      responses:
        '200':
          body:
            application/json:
              type: Discoveryclusters
          description: Successful response
      queryParameters:
        locale:
          description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          type: string
          displayName: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
        maxAllowedMaturityRating:
          description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          type: string
          displayName: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - personalizedstream
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/promooffer:
  displayName: promooffer
  /accept:
    displayName: accept
    post:
      displayName: books.promooffer.accept
      responses:
        '200':
          description: Successful response
      queryParameters:
        androidId:
          description: device android_id
          type: string
          displayName: device android_id
        device:
          description: device device
          type: string
          displayName: device device
        manufacturer:
          description: device manufacturer
          type: string
          displayName: device manufacturer
        model:
          description: device model
          type: string
          displayName: device model
        offerId:
          type: string
        product:
          description: device product
          type: string
          displayName: device product
        serial:
          description: device serial
          type: string
          displayName: device serial
        volumeId:
          description: Volume id to exercise the offer
          type: string
          displayName: Volume id to exercise the offer
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - promooffer
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /dismiss:
    displayName: dismiss
    post:
      displayName: books.promooffer.dismiss
      responses:
        '200':
          description: Successful response
      queryParameters:
        androidId:
          description: device android_id
          type: string
          displayName: device android_id
        device:
          description: device device
          type: string
          displayName: device device
        manufacturer:
          description: device manufacturer
          type: string
          displayName: device manufacturer
        model:
          description: device model
          type: string
          displayName: device model
        offerId:
          description: Offer to dimiss
          type: string
          displayName: Offer to dimiss
        product:
          description: device product
          type: string
          displayName: device product
        serial:
          description: device serial
          type: string
          displayName: device serial
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - promooffer
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /get:
    displayName: get
    get:
      displayName: books.promooffer.get
      description: Returns a list of promo offers available to the user
      responses:
        '200':
          body:
            application/json:
              type: Offers
          description: Successful response
      queryParameters:
        androidId:
          description: device android_id
          type: string
          displayName: device android_id
        device:
          description: device device
          type: string
          displayName: device device
        manufacturer:
          description: device manufacturer
          type: string
          displayName: device manufacturer
        model:
          description: device model
          type: string
          displayName: device model
        product:
          description: device product
          type: string
          displayName: device product
        serial:
          description: device serial
          type: string
          displayName: device serial
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - promooffer
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/myconfig:
  displayName: myconfig
  /getUserSettings:
    displayName: getUserSettings
    get:
      displayName: books.myconfig.getUserSettings
      description: Gets the current settings for the user.
      responses:
        '200':
          body:
            application/json:
              type: Usersettings
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - myconfig
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /requestAccess:
    displayName: requestAccess
    post:
      displayName: books.myconfig.requestAccess
      description: Request concurrent and download access restrictions.
      responses:
        '200':
          body:
            application/json:
              type: RequestAccess
          description: Successful response
      queryParameters:
        source:
          description: String to identify the originator of this request.
          required: true
          type: string
          displayName: String to identify the originator of this request.
        volumeId:
          description: The volume to request concurrent/download restrictions for.
          required: true
          type: string
          displayName: The volume to request concurrent/download restrictions for.
        nonce:
          description: The client nonce value.
          required: true
          type: string
          displayName: The client nonce value.
        cpksver:
          description: The device/version ID from which to request the restrictions.
          required: true
          type: string
          displayName: The device/version ID from which to request the restrictions.
        licenseTypes:
          description: 'The type of access license to request. If not specified, the default is BOTH.'
          enum:
            - BOTH
            - CONCURRENT
            - DOWNLOAD
          type: string
          displayName: 'The type of access license to request. If not specified, the default is BOTH.'
        locale:
          description: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
          type: string
          displayName: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - myconfig
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /updateUserSettings:
    displayName: updateUserSettings
    post:
      displayName: books.myconfig.updateUserSettings
      description: 'Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.'
      body:
        application/json:
          type: Usersettings
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Usersettings
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - myconfig
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /releaseDownloadAccess:
    displayName: releaseDownloadAccess
    post:
      displayName: books.myconfig.releaseDownloadAccess
      description: Release downloaded content access restriction.
      responses:
        '200':
          body:
            application/json:
              type: DownloadAccesses
          description: Successful response
      queryParameters:
        volumeIds:
          collectionFormat: multi
          description: The volume(s) to release restrictions for.
          items:
            type: string
          required: true
          type: array
          displayName: The volume(s) to release restrictions for.
          facets:
            collectionFormat: string
        cpksver:
          description: The device/version ID from which to release the restriction.
          required: true
          type: string
          displayName: The device/version ID from which to release the restriction.
        locale:
          description: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
          type: string
          displayName: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - myconfig
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /syncVolumeLicenses:
    displayName: syncVolumeLicenses
    post:
      displayName: books.myconfig.syncVolumeLicenses
      description: Request downloaded content access for specified volumes on the My eBooks shelf.
      responses:
        '200':
          body:
            application/json:
              type: Volumes
          description: Successful response
      queryParameters:
        source:
          description: String to identify the originator of this request.
          required: true
          type: string
          displayName: String to identify the originator of this request.
        nonce:
          description: The client nonce value.
          required: true
          type: string
          displayName: The client nonce value.
        cpksver:
          description: The device/version ID from which to release the restriction.
          required: true
          type: string
          displayName: The device/version ID from which to release the restriction.
        features:
          collectionFormat: multi
          description: 'List of features supported by the client, i.e., ''RENTALS'''
          items:
            enum:
              - RENTALS
            type: string
          type: array
          displayName: 'List of features supported by the client, i.e., ''RENTALS'''
          facets:
            collectionFormat: string
        includeNonComicsSeries:
          description: Set to true to include non-comics series. Defaults to false.
          type: boolean
          displayName: Set to true to include non-comics series. Defaults to false.
        locale:
          description: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
          type: string
          displayName: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
        showPreorders:
          description: Set to true to show pre-ordered books. Defaults to false.
          type: boolean
          displayName: Set to true to show pre-ordered books. Defaults to false.
        volumeIds:
          collectionFormat: multi
          description: The volume(s) to request download restrictions for.
          items:
            type: string
          type: array
          displayName: The volume(s) to request download restrictions for.
          facets:
            collectionFormat: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - myconfig
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/series:
  displayName: series
  /get:
    displayName: get
    get:
      displayName: books.series.get
      description: Returns Series metadata for the given series ids.
      responses:
        '200':
          body:
            application/json:
              type: Series
          description: Successful response
      queryParameters:
        series_id:
          collectionFormat: multi
          description: String that identifies the series
          items:
            type: string
          required: true
          type: array
          displayName: String that identifies the series
          facets:
            collectionFormat: string
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - series
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
  /membership:
    displayName: membership
    /get:
      displayName: get
      get:
        displayName: books.series.membership.get
        description: Returns Series membership data given the series id.
        responses:
          '200':
            body:
              application/json:
                type: Seriesmembership
            description: Successful response
        queryParameters:
          series_id:
            description: String that identifies the series
            required: true
            type: string
            displayName: String that identifies the series
          page_size:
            description: Number of maximum results per page to be included in the response.
            type: integer
            displayName: Number of maximum results per page to be included in the response.
          page_token:
            description: The value of the nextToken from the previous page.
            type: string
            displayName: The value of the nextToken from the previous page.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - series
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/mylibrary:
  displayName: mylibrary
  /annotations:
    displayName: annotations
    post:
      displayName: books.mylibrary.annotations.insert
      description: Inserts a new annotation.
      body:
        application/json:
          type: Annotation
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: Annotation
          description: Successful response
      queryParameters:
        country:
          description: ISO-3166-1 code to override the IP-based location.
          type: string
          displayName: ISO-3166-1 code to override the IP-based location.
        showOnlySummaryInResponse:
          description: Requests that only the summary of the specified layer be provided in the response.
          type: boolean
          displayName: Requests that only the summary of the specified layer be provided in the response.
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - mylibrary
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{annotationId}':
      displayName: '{annotationId}'
      uriParameters:
        annotationId:
          description: The ID for the annotation to update.
          required: true
          type: string
          displayName: The ID for the annotation to update.
      delete:
        displayName: books.mylibrary.annotations.delete
        description: Deletes an annotation.
        responses:
          '200':
            description: Successful response
        queryParameters:
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - mylibrary
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      put:
        displayName: books.mylibrary.annotations.update
        description: Updates an existing annotation.
        body:
          application/json:
            type: Annotation
            (oas-body-name): body
        responses:
          '200':
            body:
              application/json:
                type: Annotation
            description: Successful response
        queryParameters:
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - mylibrary
    get:
      displayName: books.mylibrary.annotations.list
      description: 'Retrieves a list of annotations, possibly filtered.'
      responses:
        '200':
          body:
            application/json:
              type: Annotations
          description: Successful response
      queryParameters:
        contentVersion:
          description: The content version for the requested volume.
          type: string
          displayName: The content version for the requested volume.
        layerId:
          description: The layer ID to limit annotation by.
          type: string
          displayName: The layer ID to limit annotation by.
        layerIds:
          collectionFormat: multi
          description: The layer ID(s) to limit annotation by.
          items:
            type: string
          type: array
          displayName: The layer ID(s) to limit annotation by.
          facets:
            collectionFormat: string
        maxResults:
          description: Maximum number of results to return
          maximum: 40
          minimum: 0
          type: integer
          displayName: Maximum number of results to return
        pageToken:
          description: The value of the nextToken from the previous page.
          type: string
          displayName: The value of the nextToken from the previous page.
        showDeleted:
          description: Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.
          type: boolean
          displayName: Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
        updatedMax:
          description: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
          type: string
          displayName: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
        updatedMin:
          description: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
          type: string
          displayName: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
        volumeId:
          description: The volume to restrict annotations to.
          type: string
          displayName: The volume to restrict annotations to.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - mylibrary
    /summary:
      displayName: summary
      post:
        displayName: books.mylibrary.annotations.summary
        description: Gets the summary of specified layers.
        responses:
          '200':
            body:
              application/json:
                type: AnnotationsSummary
            description: Successful response
        queryParameters:
          layerIds:
            collectionFormat: multi
            description: Array of layer IDs to get the summary for.
            items:
              type: string
            required: true
            type: array
            displayName: Array of layer IDs to get the summary for.
            facets:
              collectionFormat: string
          volumeId:
            description: Volume id to get the summary for.
            required: true
            type: string
            displayName: Volume id to get the summary for.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - mylibrary
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /bookshelves:
    displayName: bookshelves
    get:
      displayName: books.mylibrary.bookshelves.list
      description: Retrieves a list of bookshelves belonging to the authenticated user.
      responses:
        '200':
          body:
            application/json:
              type: Bookshelves
          description: Successful response
      queryParameters:
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - mylibrary
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    '/{shelf}':
      displayName: '{shelf}'
      /addVolume:
        displayName: addVolume
        post:
          displayName: books.mylibrary.bookshelves.addVolume
          description: Adds a volume to a bookshelf.
          responses:
            '200':
              description: Successful response
          queryParameters:
            volumeId:
              description: ID of volume to add.
              required: true
              type: string
              displayName: ID of volume to add.
            reason:
              description: The reason for which the book is added to the library.
              enum:
                - IOS_PREX
                - IOS_SEARCH
                - ONBOARDING
              type: string
              displayName: The reason for which the book is added to the library.
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - mylibrary
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /moveVolume:
        displayName: moveVolume
        post:
          displayName: books.mylibrary.bookshelves.moveVolume
          description: Moves a volume within a bookshelf.
          responses:
            '200':
              description: Successful response
          queryParameters:
            volumeId:
              description: ID of volume to move.
              required: true
              type: string
              displayName: ID of volume to move.
            volumePosition:
              description: 'Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)'
              required: true
              type: integer
              displayName: 'Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)'
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - mylibrary
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /volumes:
        displayName: volumes
        get:
          displayName: books.mylibrary.bookshelves.volumes.list
          description: Gets volume information for volumes on a bookshelf.
          responses:
            '200':
              body:
                application/json:
                  type: Volumes
              description: Successful response
          queryParameters:
            country:
              description: ISO-3166-1 code to override the IP-based location.
              type: string
              displayName: ISO-3166-1 code to override the IP-based location.
            maxResults:
              description: Maximum number of results to return
              minimum: 0
              type: integer
              displayName: Maximum number of results to return
            projection:
              description: Restrict information returned to a set of selected fields.
              enum:
                - full
                - lite
              type: string
              displayName: Restrict information returned to a set of selected fields.
            q:
              description: Full-text search query string in this bookshelf.
              type: string
              displayName: Full-text search query string in this bookshelf.
            showPreorders:
              description: Set to true to show pre-ordered books. Defaults to false.
              type: boolean
              displayName: Set to true to show pre-ordered books. Defaults to false.
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
            startIndex:
              description: Index of the first element to return (starts at 0)
              minimum: 0
              type: integer
              displayName: Index of the first element to return (starts at 0)
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - mylibrary
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /clearVolumes:
        displayName: clearVolumes
        post:
          displayName: books.mylibrary.bookshelves.clearVolumes
          description: Clears all volumes from a bookshelf.
          responses:
            '200':
              description: Successful response
          queryParameters:
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - mylibrary
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      /removeVolume:
        displayName: removeVolume
        post:
          displayName: books.mylibrary.bookshelves.removeVolume
          description: Removes a volume from a bookshelf.
          responses:
            '200':
              description: Successful response
          queryParameters:
            volumeId:
              description: ID of volume to remove.
              required: true
              type: string
              displayName: ID of volume to remove.
            reason:
              description: The reason for which the book is removed from the library.
              enum:
                - ONBOARDING
              type: string
              displayName: The reason for which the book is removed from the library.
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - mylibrary
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      uriParameters:
        shelf:
          description: ID of bookshelf to retrieve.
          required: true
          type: string
          displayName: ID of bookshelf to retrieve.
      get:
        displayName: books.mylibrary.bookshelves.get
        description: Retrieves metadata for a specific bookshelf belonging to the authenticated user.
        responses:
          '200':
            body:
              application/json:
                type: Bookshelf
            description: Successful response
        queryParameters:
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - mylibrary
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
  /readingpositions:
    displayName: readingpositions
    '/{volumeId}':
      displayName: '{volumeId}'
      /setPosition:
        displayName: setPosition
        post:
          displayName: books.mylibrary.readingpositions.setPosition
          description: Sets my reading position information for a volume.
          responses:
            '200':
              description: Successful response
          queryParameters:
            timestamp:
              description: RFC 3339 UTC format timestamp associated with this reading position.
              required: true
              type: string
              displayName: RFC 3339 UTC format timestamp associated with this reading position.
            position:
              description: Position string for the new volume reading position.
              required: true
              type: string
              displayName: Position string for the new volume reading position.
            action:
              description: Action that caused this reading position to be set.
              enum:
                - bookmark
                - chapter
                - next-page
                - prev-page
                - scroll
                - search
              type: string
              displayName: Action that caused this reading position to be set.
            contentVersion:
              description: Volume content version for which this reading position applies.
              type: string
              displayName: Volume content version for which this reading position applies.
            deviceCookie:
              description: Random persistent device cookie optional on set position.
              type: string
              displayName: Random persistent device cookie optional on set position.
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - mylibrary
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
      uriParameters:
        volumeId:
          description: ID of volume for which to retrieve a reading position.
          required: true
          type: string
          displayName: ID of volume for which to retrieve a reading position.
      get:
        displayName: books.mylibrary.readingpositions.get
        description: Retrieves my reading position information for a volume.
        responses:
          '200':
            body:
              application/json:
                type: ReadingPosition
            description: Successful response
        queryParameters:
          contentVersion:
            description: Volume content version for which this reading position is requested.
            type: string
            displayName: Volume content version for which this reading position is requested.
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - mylibrary
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
/users:
  displayName: users
  '/{userId}':
    displayName: '{userId}'
    /bookshelves:
      displayName: bookshelves
      get:
        displayName: books.bookshelves.list
        description: Retrieves a list of public bookshelves for the specified user.
        responses:
          '200':
            body:
              application/json:
                type: Bookshelves
            description: Successful response
        queryParameters:
          source:
            description: String to identify the originator of this request.
            type: string
            displayName: String to identify the originator of this request.
        securedBy:
          - Oauth2:
              scopes:
                - 'https://www.googleapis.com/auth/books'
        (oas-tags):
          - bookshelves
      is:
        - alt
        - fields
        - key
        - oauthToken
        - prettyPrint
        - quotaUser
        - userIp
      '/{shelf}':
        displayName: '{shelf}'
        uriParameters:
          shelf:
            description: ID of bookshelf to retrieve.
            required: true
            type: string
            displayName: ID of bookshelf to retrieve.
        get:
          displayName: books.bookshelves.get
          description: Retrieves metadata for a specific bookshelf for the specified user.
          responses:
            '200':
              body:
                application/json:
                  type: Bookshelf
              description: Successful response
          queryParameters:
            source:
              description: String to identify the originator of this request.
              type: string
              displayName: String to identify the originator of this request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/books'
          (oas-tags):
            - bookshelves
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        /volumes:
          displayName: volumes
          get:
            displayName: books.bookshelves.volumes.list
            description: Retrieves volumes in a specific bookshelf for the specified user.
            responses:
              '200':
                body:
                  application/json:
                    type: Volumes
                description: Successful response
            queryParameters:
              maxResults:
                description: Maximum number of results to return
                minimum: 0
                type: integer
                displayName: Maximum number of results to return
              showPreorders:
                description: Set to true to show pre-ordered books. Defaults to false.
                type: boolean
                displayName: Set to true to show pre-ordered books. Defaults to false.
              source:
                description: String to identify the originator of this request.
                type: string
                displayName: String to identify the originator of this request.
              startIndex:
                description: Index of the first element to return (starts at 0)
                minimum: 0
                type: integer
                displayName: Index of the first element to return (starts at 0)
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/books'
            (oas-tags):
              - bookshelves
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
/dictionary:
  displayName: dictionary
  /listOfflineMetadata:
    displayName: listOfflineMetadata
    get:
      displayName: books.dictionary.listOfflineMetadata
      description: Returns a list of offline dictionary metadata available
      responses:
        '200':
          body:
            application/json:
              type: Metadata
          description: Successful response
      queryParameters:
        cpksver:
          description: The device/version ID from which to request the data.
          required: true
          type: string
          displayName: The device/version ID from which to request the data.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - dictionary
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
/notification:
  displayName: notification
  /get:
    displayName: get
    get:
      displayName: books.notification.get
      description: Returns notification details for a given notification id.
      responses:
        '200':
          body:
            application/json:
              type: Notification
          description: Successful response
      queryParameters:
        notification_id:
          description: String to identify the notification.
          required: true
          type: string
          displayName: String to identify the notification.
        locale:
          description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating notification title and body.'
          type: string
          displayName: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating notification title and body.'
        source:
          description: String to identify the originator of this request.
          type: string
          displayName: String to identify the originator of this request.
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/books'
      (oas-tags):
        - notification
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
types:
  Annotation:
    properties:
      afterSelectedText:
        description: 'Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.'
        type: string
        required: false
      beforeSelectedText:
        description: 'Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.'
        type: string
        required: false
      clientVersionRanges:
        description: Selection ranges sent from the client.
        properties:
          cfiRange:
            description: Range in CFI format for this annotation sent by client.
            type: BooksAnnotationsRange
            required: false
          contentVersion:
            description: Content version the client sent in.
            type: string
            required: false
          gbImageRange:
            description: Range in GB image format for this annotation sent by client.
            type: BooksAnnotationsRange
            required: false
          gbTextRange:
            description: Range in GB text format for this annotation sent by client.
            type: BooksAnnotationsRange
            required: false
          imageCfiRange:
            description: Range in image CFI format for this annotation sent by client.
            type: BooksAnnotationsRange
            required: false
        type: object
        required: false
      created:
        description: Timestamp for the created time of this annotation.
        format: rfc3339
        type: datetime
        required: false
      currentVersionRanges:
        description: Selection ranges for the most recent content version.
        properties:
          cfiRange:
            description: Range in CFI format for this annotation for version above.
            type: BooksAnnotationsRange
            required: false
          contentVersion:
            description: Content version applicable to ranges below.
            type: string
            required: false
          gbImageRange:
            description: Range in GB image format for this annotation for version above.
            type: BooksAnnotationsRange
            required: false
          gbTextRange:
            description: Range in GB text format for this annotation for version above.
            type: BooksAnnotationsRange
            required: false
          imageCfiRange:
            description: Range in image CFI format for this annotation for version above.
            type: BooksAnnotationsRange
            required: false
        type: object
        required: false
      data:
        description: User-created data for this annotation.
        type: string
        required: false
      deleted:
        description: Indicates that this annotation is deleted.
        type: boolean
        required: false
      highlightStyle:
        description: The highlight style for this annotation.
        type: string
        required: false
      id:
        description: 'Id of this annotation, in the form of a GUID.'
        type: string
        required: false
      kind:
        default: 'books#annotation'
        description: Resource type.
        type: string
        required: false
      layerId:
        description: The layer this annotation is for.
        type: string
        required: false
      layerSummary:
        properties:
          allowedCharacterCount:
            description: 'Maximum allowed characters on this layer, especially for the "copy" layer.'
            format: int32
            type: integer
            required: false
          limitType:
            description: Type of limitation on this layer. "limited" or "unlimited" for the "copy" layer.
            type: string
            required: false
          remainingCharacterCount:
            description: 'Remaining allowed characters on this layer, especially for the "copy" layer.'
            format: int32
            type: integer
            required: false
        type: object
        required: false
      pageIds:
        description: Pages that this annotation spans.
        items:
          type: string
        type: array
        required: false
      selectedText:
        description: Excerpt from the volume.
        type: string
        required: false
      selfLink:
        description: URL to this resource.
        type: string
        required: false
      updated:
        description: Timestamp for the last time this annotation was modified.
        format: rfc3339
        type: datetime
        required: false
      volumeId:
        description: The volume that this annotation belongs to.
        type: string
        required: false
  Annotationdata:
    properties:
      annotationType:
        description: The type of annotation this data is for.
        type: string
        required: false
      data:
        required: false
      encoded_data:
        description: Base64 encoded data for this annotation data.
        format: byte
        type: string
        facets:
          format: string
        required: false
      id:
        description: Unique id for this annotation data.
        type: string
        required: false
      kind:
        default: 'books#annotationdata'
        description: Resource Type
        type: string
        required: false
      layerId:
        description: The Layer id for this data. *
        type: string
        required: false
      selfLink:
        description: URL for this resource. *
        type: string
        required: false
      updated:
        description: Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).
        format: rfc3339
        type: datetime
        required: false
      volumeId:
        description: The volume id for this data. *
        type: string
        required: false
  Annotations:
    properties:
      items:
        description: A list of annotations.
        items:
          type: Annotation
        type: array
        required: false
      kind:
        default: 'books#annotations'
        description: Resource type.
        type: string
        required: false
      nextPageToken:
        description: Token to pass in for pagination for the next page. This will not be present if this request does not have more results.
        type: string
        required: false
      totalItems:
        description: Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.
        format: int32
        type: integer
        required: false
  AnnotationsSummary:
    properties:
      kind:
        default: 'books#annotationsSummary'
        type: string
        required: false
      layers:
        items:
          properties:
            allowedCharacterCount:
              format: int32
              type: integer
              required: false
            layerId:
              type: string
              required: false
            limitType:
              type: string
              required: false
            remainingCharacterCount:
              format: int32
              type: integer
              required: false
            updated:
              format: rfc3339
              type: datetime
              required: false
          type: object
        type: array
        required: false
  Annotationsdata:
    properties:
      items:
        description: A list of Annotation Data.
        items:
          type: Annotationdata
        type: array
        required: false
      kind:
        default: 'books#annotationsdata'
        description: Resource type
        type: string
        required: false
      nextPageToken:
        description: Token to pass in for pagination for the next page. This will not be present if this request does not have more results.
        type: string
        required: false
      totalItems:
        description: The total number of volume annotations found.
        format: int32
        type: integer
        required: false
  BooksAnnotationsRange:
    properties:
      endOffset:
        description: The offset from the ending position.
        type: string
        required: false
      endPosition:
        description: The ending position for the range.
        type: string
        required: false
      startOffset:
        description: The offset from the starting position.
        type: string
        required: false
      startPosition:
        description: The starting position for the range.
        type: string
        required: false
  BooksCloudloadingResource:
    properties:
      author:
        type: string
        required: false
      processingState:
        type: string
        required: false
      title:
        type: string
        required: false
      volumeId:
        type: string
        required: false
  BooksVolumesRecommendedRateResponse:
    properties:
      consistency_token:
        type: string
        required: false
  Bookshelf:
    properties:
      access:
        description: Whether this bookshelf is PUBLIC or PRIVATE.
        type: string
        required: false
      created:
        description: Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).
        format: rfc3339
        type: datetime
        required: false
      description:
        description: Description of this bookshelf.
        type: string
        required: false
      id:
        description: 'Id of this bookshelf, only unique by user.'
        format: int32
        type: integer
        required: false
      kind:
        default: 'books#bookshelf'
        description: Resource type for bookshelf metadata.
        type: string
        required: false
      selfLink:
        description: URL to this resource.
        type: string
        required: false
      title:
        description: Title of this bookshelf.
        type: string
        required: false
      updated:
        description: Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).
        format: rfc3339
        type: datetime
        required: false
      volumeCount:
        description: Number of volumes in this bookshelf.
        format: int32
        type: integer
        required: false
      volumesLastUpdated:
        description: Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).
        format: rfc3339
        type: datetime
        required: false
  Bookshelves:
    properties:
      items:
        description: A list of bookshelves.
        items:
          type: Bookshelf
        type: array
        required: false
      kind:
        default: 'books#bookshelves'
        description: Resource type.
        type: string
        required: false
  Category:
    properties:
      items:
        description: A list of onboarding categories.
        items:
          properties:
            badgeUrl:
              type: string
              required: false
            categoryId:
              type: string
              required: false
            name:
              type: string
              required: false
          type: object
        type: array
        required: false
      kind:
        default: 'onboarding#category'
        description: Resource type.
        type: string
        required: false
  ConcurrentAccessRestriction:
    properties:
      deviceAllowed:
        description: 'Whether access is granted for this (user, device, volume).'
        type: boolean
        required: false
      kind:
        default: 'books#concurrentAccessRestriction'
        description: Resource type.
        type: string
        required: false
      maxConcurrentDevices:
        description: The maximum number of concurrent access licenses for this volume.
        format: int32
        type: integer
        required: false
      message:
        description: Error/warning message.
        type: string
        required: false
      nonce:
        description: Client nonce for verification. Download access and client-validation only.
        type: string
        required: false
      reasonCode:
        description: Error/warning reason code.
        type: string
        required: false
      restricted:
        description: Whether this volume has any concurrent access restrictions.
        type: boolean
        required: false
      signature:
        description: Response signature.
        type: string
        required: false
      source:
        description: Client app identifier for verification. Download access and client-validation only.
        type: string
        required: false
      timeWindowSeconds:
        description: Time in seconds for license auto-expiration.
        format: int32
        type: integer
        required: false
      volumeId:
        description: Identifies the volume for which this entry applies.
        type: string
        required: false
  Dictlayerdata:
    properties:
      common:
        properties:
          title:
            description: The display title and localized canonical name to use when searching for this entity on Google search.
            type: string
            required: false
        type: object
        required: false
      dict:
        properties:
          source:
            description: 'The source, url and attribution for this dictionary data.'
            properties:
              attribution:
                type: string
                required: false
              url:
                type: string
                required: false
            type: object
            required: false
          words:
            items:
              properties:
                derivatives:
                  items:
                    properties:
                      source:
                        properties:
                          attribution:
                            type: string
                            required: false
                          url:
                            type: string
                            required: false
                        type: object
                        required: false
                      text:
                        type: string
                        required: false
                    type: object
                  type: array
                  required: false
                examples:
                  items:
                    properties:
                      source:
                        properties:
                          attribution:
                            type: string
                            required: false
                          url:
                            type: string
                            required: false
                        type: object
                        required: false
                      text:
                        type: string
                        required: false
                    type: object
                  type: array
                  required: false
                senses:
                  items:
                    properties:
                      conjugations:
                        items:
                          properties:
                            type:
                              type: string
                              required: false
                            value:
                              type: string
                              required: false
                          type: object
                        type: array
                        required: false
                      definitions:
                        items:
                          properties:
                            definition:
                              type: string
                              required: false
                            examples:
                              items:
                                properties:
                                  source:
                                    properties:
                                      attribution:
                                        type: string
                                        required: false
                                      url:
                                        type: string
                                        required: false
                                    type: object
                                    required: false
                                  text:
                                    type: string
                                    required: false
                                type: object
                              type: array
                              required: false
                          type: object
                        type: array
                        required: false
                      partOfSpeech:
                        type: string
                        required: false
                      pronunciation:
                        type: string
                        required: false
                      pronunciationUrl:
                        type: string
                        required: false
                      source:
                        properties:
                          attribution:
                            type: string
                            required: false
                          url:
                            type: string
                            required: false
                        type: object
                        required: false
                      syllabification:
                        type: string
                        required: false
                      synonyms:
                        items:
                          properties:
                            source:
                              properties:
                                attribution:
                                  type: string
                                  required: false
                                url:
                                  type: string
                                  required: false
                              type: object
                              required: false
                            text:
                              type: string
                              required: false
                          type: object
                        type: array
                        required: false
                    type: object
                  type: array
                  required: false
                source:
                  description: 'The words with different meanings but not related words, e.g. "go" (game) and "go" (verb).'
                  properties:
                    attribution:
                      type: string
                      required: false
                    url:
                      type: string
                      required: false
                  type: object
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      kind:
        default: 'books#dictlayerdata'
        type: string
        required: false
  Discoveryclusters:
    properties:
      clusters:
        items:
          properties:
            banner_with_content_container:
              properties:
                fillColorArgb:
                  type: string
                  required: false
                imageUrl:
                  type: string
                  required: false
                maskColorArgb:
                  type: string
                  required: false
                moreButtonText:
                  type: string
                  required: false
                moreButtonUrl:
                  type: string
                  required: false
                textColorArgb:
                  type: string
                  required: false
              type: object
              required: false
            subTitle:
              type: string
              required: false
            title:
              type: string
[...]
