#%RAML 1.0
title: Google Site Verification
version: v1
baseUri: 'https://www.googleapis.com/siteVerification/v1'
protocols:
  - HTTPS
description: Verifies ownership of websites or domains with Google.
(oas-tags-definition):
  - name: webResource
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/siteVerification/v1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): siteVerification
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/site-verification/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/siteverification'
        - 'https://www.googleapis.com/auth/siteverification.verify_only'
    description: Oauth 2.0 authentication
/webResource:
  displayName: webResource
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: The id of a verified site or domain.
        required: true
        type: string
    put:
      displayName: siteVerification.webResource.update
      description: Modify the list of owners for your website or domain.
      body:
        application/json:
          type: SiteVerificationWebResourceResource
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: SiteVerificationWebResourceResource
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/siteverification'
      (oas-tags):
        - webResource
    is:
      - alt
      - fields
      - key
      - oauthToken
      - prettyPrint
      - quotaUser
      - userIp
    patch:
      displayName: siteVerification.webResource.patch
      description: Modify the list of owners for your website or domain. This method supports patch semantics.
      body:
        application/json:
          type: SiteVerificationWebResourceResource
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: SiteVerificationWebResourceResource
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/siteverification'
      (oas-tags):
        - webResource
    get:
      displayName: siteVerification.webResource.get
      description: Get the most current data for a website or domain.
      responses:
        '200':
          body:
            application/json:
              type: SiteVerificationWebResourceResource
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/siteverification'
      (oas-tags):
        - webResource
    delete:
      displayName: siteVerification.webResource.delete
      description: Relinquish ownership of a website or domain.
      responses:
        '200':
          description: Successful response
      securedBy:
        - Oauth2:
            scopes:
              - 'https://www.googleapis.com/auth/siteverification'
      (oas-tags):
        - webResource
  post:
    displayName: siteVerification.webResource.insert
    description: Attempt verification of a website or domain.
    body:
      application/json:
        type: SiteVerificationWebResourceResource
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: SiteVerificationWebResourceResource
        description: Successful response
    queryParameters:
      verificationMethod:
        description: The method to use for verifying a site or domain.
        required: true
        type: string
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/siteverification.verify_only'
    (oas-tags):
      - webResource
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
  get:
    displayName: siteVerification.webResource.list
    description: Get the list of your verified websites and domains.
    responses:
      '200':
        body:
          application/json:
            type: SiteVerificationWebResourceListResponse
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/siteverification'
    (oas-tags):
      - webResource
/token:
  displayName: token
  post:
    displayName: siteVerification.webResource.getToken
    description: Get a verification token for placing on a website or domain.
    body:
      application/json:
        type: SiteVerificationWebResourceGettokenRequest
        (oas-body-name): body
    responses:
      '200':
        body:
          application/json:
            type: SiteVerificationWebResourceGettokenResponse
        description: Successful response
    securedBy:
      - Oauth2:
          scopes:
            - 'https://www.googleapis.com/auth/siteverification.verify_only'
    (oas-tags):
      - webResource
  is:
    - alt
    - fields
    - key
    - oauthToken
    - prettyPrint
    - quotaUser
    - userIp
types:
  SiteVerificationWebResourceGettokenRequest:
    properties:
      site:
        description: The site for which a verification token will be generated.
        properties:
          identifier:
            description: 'The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.'
            type: string
            required: false
          type:
            description: The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).
            type: string
            required: false
        type: object
        required: false
      verificationMethod:
        description: 'The verification method that will be used to verify this site. For sites, ''FILE'' or ''META'' methods may be used. For domains, only ''DNS'' may be used.'
        type: string
        required: false
  SiteVerificationWebResourceGettokenResponse:
    properties:
      method:
        description: 'The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.'
        type: string
        required: false
      token:
        description: The verification token. The token must be placed appropriately in order for verification to succeed.
        type: string
        required: false
  SiteVerificationWebResourceListResponse:
    properties:
      items:
        description: The list of sites that are owned by the authenticated user.
        items:
          type: SiteVerificationWebResourceResource
        type: array
        required: false
  SiteVerificationWebResourceResource:
    properties:
      id:
        description: 'The string used to identify this site. This value should be used in the "id" portion of the REST URL for the Get, Update, and Delete operations.'
        type: string
        required: false
      owners:
        description: The email addresses of all verified owners.
        items:
          type: string
        type: array
        required: false
      site:
        description: The address and type of a site that is verified or will be verified.
        properties:
          identifier:
            description: 'The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.'
            type: string
            required: false
          type:
            description: The site type. Can be SITE or INET_DOMAIN (domain name).
            type: string
            required: false
        type: object
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: false
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
