#%RAML 1.0
title: Google Compute Engine Instance Group Updater
version: v1beta1
baseUri: 'https://www.googleapis.com/replicapoolupdater/v1beta1/projects'
protocols:
  - HTTPS
description: '[Deprecated. Please use compute.instanceGroupManagers.update method. replicapoolupdater API will be disabled after December 30th, 2016] Updates groups of Compute Engine instances.'
(oas-tags-definition):
  - name: rollingUpdates
  - name: zoneOperations
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/replicapoolupdater/v1beta1/rest'
    version: v1
  (oas-x-preferred): true
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): replicapoolupdater
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://cloud.google.com/compute/docs/instance-groups/manager/#applying_rolling_updates_using_the_updater_service'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - 'https://www.googleapis.com/auth/replicapool'
        - 'https://www.googleapis.com/auth/replicapool.readonly'
    description: Oauth 2.0 authentication
'/{project}':
  displayName: '{project}'
  /zones:
    displayName: zones
    '/{zone}':
      displayName: '{zone}'
      /rollingUpdates:
        displayName: rollingUpdates
        '/{rollingUpdate}':
          displayName: '{rollingUpdate}'
          /rollback:
            displayName: rollback
            post:
              displayName: replicapoolupdater.rollingUpdates.rollback
              description: Rolls back the update in state from ROLLING_FORWARD or PAUSED. Has no effect if invoked when the state of the update is ROLLED_BACK.
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/replicapool'
              (oas-tags):
                - rollingUpdates
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /resume:
            displayName: resume
            post:
              displayName: replicapoolupdater.rollingUpdates.resume
              description: Continues an update in PAUSED state. Has no effect if invoked when the state of the update is ROLLED_OUT.
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/replicapool'
              (oas-tags):
                - rollingUpdates
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /pause:
            displayName: pause
            post:
              displayName: replicapoolupdater.rollingUpdates.pause
              description: Pauses the update in state from ROLLING_FORWARD or ROLLING_BACK. Has no effect if invoked when the state of the update is PAUSED.
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/replicapool'
              (oas-tags):
                - rollingUpdates
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /instanceUpdates:
            displayName: instanceUpdates
            get:
              displayName: replicapoolupdater.rollingUpdates.listInstanceUpdates
              description: Lists the current status for each instance within a given update.
              responses:
                '200':
                  body:
                    application/json:
                      type: InstanceUpdateList
                  description: Successful response
              queryParameters:
                filter:
                  description: Optional. Filter expression for filtering listed resources.
                  type: string
                  displayName: Optional. Filter expression for filtering listed resources.
                maxResults:
                  default: 500
                  description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
                  maximum: 500
                  minimum: 0
                  type: integer
                  displayName: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
                pageToken:
                  description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
                  type: string
                  displayName: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/replicapool.readonly'
              (oas-tags):
                - rollingUpdates
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /cancel:
            displayName: cancel
            post:
              displayName: replicapoolupdater.rollingUpdates.cancel
              description: Cancels an update. The update must be PAUSED before it can be cancelled. This has no effect if the update is already CANCELLED.
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/replicapool'
              (oas-tags):
                - rollingUpdates
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          uriParameters:
            rollingUpdate:
              description: The name of the update.
              required: true
              type: string
              displayName: The name of the update.
          get:
            displayName: replicapoolupdater.rollingUpdates.get
            description: Returns information about an update.
            responses:
              '200':
                body:
                  application/json:
                    type: RollingUpdate
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/replicapool.readonly'
            (oas-tags):
              - rollingUpdates
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        post:
          displayName: replicapoolupdater.rollingUpdates.insert
          description: Inserts and starts a new update.
          body:
            application/json:
              type: RollingUpdate
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/replicapool'
          (oas-tags):
            - rollingUpdates
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        get:
          displayName: replicapoolupdater.rollingUpdates.list
          description: 'Lists recent updates for a given managed instance group, in reverse chronological order and paginated format.'
          responses:
            '200':
              body:
                application/json:
                  type: RollingUpdateList
              description: Successful response
          queryParameters:
            filter:
              description: Optional. Filter expression for filtering listed resources.
              type: string
              displayName: Optional. Filter expression for filtering listed resources.
            maxResults:
              default: 500
              description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
              maximum: 500
              minimum: 0
              type: integer
              displayName: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
            pageToken:
              description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
              type: string
              displayName: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/replicapool.readonly'
          (oas-tags):
            - rollingUpdates
      /operations:
        displayName: operations
        '/{operation}':
          displayName: '{operation}'
          uriParameters:
            operation:
              description: Name of the operation resource to return.
              required: true
              type: string
              displayName: Name of the operation resource to return.
          get:
            displayName: replicapoolupdater.zoneOperations.get
            description: Retrieves the specified zone-specific operation resource.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/replicapool'
            (oas-tags):
              - zoneOperations
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
        get:
          displayName: replicapoolupdater.zoneOperations.list
          description: Retrieves the list of Operation resources contained within the specified zone.
          responses:
            '200':
              body:
                application/json:
                  type: OperationList
              description: Successful response
          queryParameters:
            filter:
              description: Optional. Filter expression for filtering listed resources.
              type: string
              displayName: Optional. Filter expression for filtering listed resources.
            maxResults:
              default: 500
              description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
              maximum: 500
              minimum: 0
              type: integer
              displayName: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
            pageToken:
              description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
              type: string
              displayName: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/replicapool'
          (oas-tags):
            - zoneOperations
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
types:
  InstanceUpdate:
    description: Update of a single instance.
    properties:
      error:
        description: Errors that occurred during the instance update.
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                  required: false
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                  required: false
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      instance:
        description: Fully-qualified URL of the instance being updated.
        type: string
        required: false
      status:
        description: |-
          Status of the instance update. Possible values are:  
          - "PENDING": The instance update is pending execution. 
          - "ROLLING_FORWARD": The instance update is going forward. 
          - "ROLLING_BACK": The instance update is being rolled back. 
          - "PAUSED": The instance update is temporarily paused (inactive). 
          - "ROLLED_OUT": The instance update is finished, the instance is running the new template. 
          - "ROLLED_BACK": The instance update is finished, the instance has been reverted to the previous template. 
          - "CANCELLED": The instance update is paused and no longer can be resumed, undefined in which template the instance is running.
        type: string
        required: false
  InstanceUpdateList:
    description: Response returned by ListInstanceUpdates method.
    properties:
      items:
        description: Collection of requested instance updates.
        items:
          type: InstanceUpdate
        type: array
        required: false
      kind:
        default: 'replicapoolupdater#instanceUpdateList'
        description: '[Output Only] Type of the resource.'
        type: string
        required: false
      nextPageToken:
        description: A token used to continue a truncated list request.
        type: string
        required: false
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
        required: false
  Operation:
    description: 'An operation resource, used to manage asynchronous API requests.'
    properties:
      clientOperationId:
        type: string
        required: false
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
        required: false
      endTime:
        type: string
        required: false
      error:
        description: '[Output Only] If errors occurred during processing of this operation, this field will be populated.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                  required: false
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                  required: false
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      httpErrorMessage:
        type: string
        required: false
      httpErrorStatusCode:
        format: int32
        type: integer
        required: false
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      insertTime:
        description: '[Output Only] The time that this operation was requested. This is in RFC 3339 format.'
        type: string
        required: false
      kind:
        default: 'replicapoolupdater#operation'
        description: '[Output Only] Type of the resource. Always replicapoolupdater#operation for Operation resources.'
        type: string
        required: false
      name:
        description: '[Output Only] Name of the resource.'
        type: string
        required: false
      operationType:
        type: string
        required: false
      progress:
        format: int32
        type: integer
        required: false
      region:
        description: '[Output Only] URL of the region where the operation resides.'
        type: string
        required: false
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
        required: false
      startTime:
        description: '[Output Only] The time that this operation was started by the server. This is in RFC 3339 format.'
        type: string
        required: false
      status:
        description: '[Output Only] Status of the operation. Can be one of the following: "PENDING", "RUNNING", or "DONE".'
        type: string
        required: false
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the operation.'
        type: string
        required: false
      targetId:
        description: '[Output Only] Unique target id which identifies a particular incarnation of the target.'
        format: uint64
        type: string
        facets:
          format: string
        required: false
      targetLink:
        description: '[Output Only] URL of the resource the operation is mutating.'
        type: string
        required: false
      user:
        type: string
        required: false
      warnings:
        items:
          properties:
            code:
              description: '[Output only] The warning type identifier for this warning.'
              type: string
              required: false
            data:
              description: '[Output only] Metadata for this warning in key:value format.'
              items:
                properties:
                  key:
                    description: '[Output Only] Metadata key for this warning.'
                    type: string
                    required: false
                  value:
                    description: '[Output Only] Metadata value for this warning.'
                    type: string
                    required: false
                type: object
              type: array
              required: false
            message:
              description: '[Output only] Optional human-readable details for this warning.'
              type: string
              required: false
          type: object
        type: array
        required: false
      zone:
        description: '[Output Only] URL of the zone where the operation resides.'
        type: string
        required: false
  OperationList:
    description: Contains a list of Operation resources.
    properties:
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        type: string
        required: false
      items:
        description: '[Output Only] The Operation resources.'
        items:
          type: Operation
        type: array
        required: false
      kind:
        default: 'replicapoolupdater#operationList'
        description: '[Output Only] Type of resource. Always replicapoolupdater#operationList for OperationList resources.'
        type: string
        required: false
      nextPageToken:
        description: '[Output Only] A token used to continue a truncate.'
        type: string
        required: false
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
        required: false
  RollingUpdate:
    description: The following represents a resource describing a single update (rollout) of a group of instances to the given template.
    properties:
      actionType:
        description: Specifies the action to take for each instance within the instance group. This can be RECREATE which will recreate each instance and is only available for managed instance groups. It can also be REBOOT which performs a soft reboot for each instance and is only available for regular (non-managed) instance groups.
        type: string
        required: false
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
        required: false
      description:
        description: An optional textual description of the resource; provided by the client when the resource is created.
        type: string
        required: false
      error:
        description: '[Output Only] Errors that occurred during the rolling update.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                  required: false
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                  required: false
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
                  required: false
              type: object
            type: array
            required: false
        type: object
        required: false
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        type: string
        required: false
      instanceGroup:
        description: Fully-qualified URL of an instance group being updated. Exactly one of instanceGroupManager and instanceGroup must be set.
        type: string
        required: false
      instanceGroupManager:
        description: Fully-qualified URL of an instance group manager being updated. Exactly one of instanceGroupManager and instanceGroup must be set.
        type: string
        required: false
      instanceTemplate:
        description: Fully-qualified URL of an instance template to apply.
        type: string
        required: false
      kind:
        default: 'replicapoolupdater#rollingUpdate'
        description: '[Output Only] Type of the resource.'
        type: string
        required: false
      oldInstanceTemplate:
        description: Fully-qualified URL of the instance template encountered while starting the update.
        type: string
        required: false
      policy:
        description: Parameters of the update process.
        properties:
          autoPauseAfterInstances:
            description: Number of instances to update before the updater pauses the rolling update.
            format: int32
            type: integer
            required: false
          instanceStartupTimeoutSec:
            description: 'The maximum amount of time that the updater waits for a HEALTHY state after all of the update steps are complete. If the HEALTHY state is not received before the deadline, the instance update is considered a failure.'
            format: int32
            type: integer
            required: false
          maxNumConcurrentInstances:
            description: The maximum number of instances that can be updated simultaneously. An instance update is considered complete only after the instance is restarted and initialized.
            format: int32
            type: integer
            required: false
          maxNumFailedInstances:
            description: 'The maximum number of instance updates that can fail before the group update is considered a failure. An instance update is considered failed if any of its update actions (e.g. Stop call on Instance resource in Rolling Reboot) failed with permanent failure, or if the instance is in an UNHEALTHY state after it finishes all of the update actions.'
            format: int32
            type: integer
            required: false
          minInstanceUpdateTimeSec:
            description: 'The minimum amount of time that the updater spends to update each instance. Update time is the time it takes to complete all update actions (e.g. Stop call on Instance resource in Rolling Reboot), reboot, and initialize. If the instance update finishes early, the updater pauses for the remainder of the time before it starts the next instance update.'
            format: int32
            type: integer
            required: false
        type: object
        required: false
      progress:
        description: '[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the update will be complete. This number should be monotonically increasing as the update progresses.'
        format: int32
        type: integer
        required: false
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
        required: false
      status:
        description: |-
          [Output Only] Status of the update. Possible values are:  
          - "ROLLING_FORWARD": The update is going forward. 
          - "ROLLING_BACK": The update is being rolled back. 
          - "PAUSED": The update is temporarily paused (inactive). 
          - "ROLLED_OUT": The update is finished, all instances have been updated successfully. 
          - "ROLLED_BACK": The update is finished, all instances have been reverted to the previous template. 
          - "CANCELLED": The update is paused and no longer can be resumed, undefined how many instances are running in which template.
        type: string
        required: false
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the update.'
        type: string
        required: false
      user:
        description: '[Output Only] User who requested the update, for example: user@example.com.'
        type: string
        required: false
  RollingUpdateList:
    description: Response returned by List method.
    properties:
      items:
        description: Collection of requested updates.
        items:
          type: RollingUpdate
        type: array
        required: false
      kind:
        default: 'replicapoolupdater#rollingUpdateList'
        description: '[Output Only] Type of the resource.'
        type: string
        required: false
      nextPageToken:
        description: A token used to continue a truncated list request.
        type: string
        required: false
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
        required: false
traits:
  alt:
    queryParameters:
      alt:
        type: string
        description: Data format for the response.
        default: json
        enum:
          - json
  fields:
    queryParameters:
      fields:
        type: string
        description: Selector specifying which fields to include in a partial response.
  key:
    queryParameters:
      key:
        type: string
        description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
  oauthToken:
    queryParameters:
      oauth_token:
        type: string
        description: OAuth 2.0 token for the current user.
  prettyPrint:
    queryParameters:
      prettyPrint:
        type: boolean
        description: Returns response with indentations and line breaks.
        default: true
  quotaUser:
    queryParameters:
      quotaUser:
        type: string
        description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
  userIp:
    queryParameters:
      userIp:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
