#%RAML 1.0
title: Route Optimization
version: '1.0'
baseUri: 'https://graphhopper.com/api/1/vrp'
mediaType: application/json
protocols:
  - HTTPS
description: 'Our Route Optimization API solves the so called vehicle routing problem fast. It calculates an optimal tour for a set of vehicles, services and constraints'
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_graphhopper.com_img_header.png'
  (oas-x-origin):
    format: swagger
    url: 'https://graphhopper.com/api/1/vrp/swagger.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): graphhopper.com
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        key:
          type: string
/solution:
  displayName: solution
  '/{jobId}':
    displayName: '{jobId}'
    uriParameters:
      jobId:
        description: Request solution with jobId
        required: true
        type: string
        displayName: Request solution with jobId
    get:
      displayName: getSolution
      description: |
        This endpoint returns the solution of a large problems. You can fetch it with the job_id, you have been sent.
      (oas-summary): Return the solution associated to the jobId
      responses:
        '200':
          body:
            application/json:
              type: Response
          description: A response containing the solution
        '400':
          description: Error occurred on client side such as invalid input.
        '500':
          description: Error occurred on server side.
      queryParameters:
        key:
          description: your API key
          required: true
          type: string
          displayName: your API key
      (oas-tags):
        - solution
/optimize:
  displayName: optimize
  post:
    displayName: postVrp
    description: |
      This endpoint for solving vehicle routing problems, i.e. traveling salesman or vehicle routing problems, and returns the solution.
    (oas-summary): Solves vehicle routing problems
    body:
      application/json:
        type: Request
        (oas-body-name): body
        description: Request object that contains the problem to be solved
    responses:
      '200':
        body:
          application/json:
            type: JobId
        description: A jobId you can use to retrieve your solution from server - see solution endpoint.
      '400':
        description: Error occurred when reading client request. Request is invalid.
      '500':
        description: Error occurred on server side.
    queryParameters:
      key:
        description: your API key
        required: true
        type: string
        displayName: your API key
    (oas-tags):
      - vrp
types:
  Activity:
    properties:
      arr_time:
        description: arrival time at this activity in ms
        format: int64
        type: integer
        required: false
      distance:
        description: cumulated distance from start to this activity in m
        format: int64
        type: integer
        required: false
      driving_time:
        description: driving time of driver in ms
        format: int64
        type: integer
        required: false
      end_time:
        description: end time of and thus departure time at this activity
        format: int64
        type: integer
        required: false
      id:
        description: 'id referring to the underlying service or shipment, i.e. the shipment or service this activity belongs to'
        type: string
        required: false
      load_after:
        description: Array with size/capacity dimensions after this activity
        items:
          description: dimension value
          format: int32
          type: integer
        type: array
        required: false
      load_before:
        description: Array with size/capacity dimensions before this activity
        items:
          description: dimension value
          format: int32
          type: integer
        type: array
        required: false
      location_id:
        description: id that refers to address
        type: string
        required: false
      type:
        description: type of activity
        enum:
          - start
          - end
          - service
          - pickupShipment
          - deliverShipment
          - pickup
          - delivery
        type: string
        required: false
      waiting_time:
        description: waiting time at this activity in ms
        format: int64
        type: integer
        required: false
  Address:
    properties:
      lat:
        description: latitude
        format: double
        type: number
        required: false
      location_id:
        description: Unique identifier of location
        type: string
        required: false
      lon:
        description: longitude
        format: double
        type: number
        required: false
  Algorithm:
    properties:
      objective:
        enum:
          - transport_time
          - completion_time
        type: string
        required: false
      problem_type:
        enum:
          - min
          - min-max
        type: string
        required: false
  Break:
    properties:
      duration:
        description: duration of break
        format: int64
        type: integer
        required: false
      earliest:
        description: earliest start of break
        format: int64
        type: integer
        required: false
      initial_driving_time:
        description: 'initial driving time, i.e. the time your driver has already spent for driving'
        format: int64
        type: integer
        required: false
      latest:
        description: latest start of break
        format: int64
        type: integer
        required: false
      max_driving_time:
        description: max driving time without break
        format: int64
        type: integer
        required: false
      possible_split:
        description: array of splits
        items:
          format: int64
          type: integer
        type: array
        required: false
  CostMatrix:
    properties:
      profile:
        description: vehicle profile or empty if catch all fallback
        type: string
        required: false
      type:
        description: 'type of cost matrix, currently default or google are supported'
        enum:
          - default
          - google
        type: string
        required: false
      url:
        description: URL of matrix service
        type: string
        required: false
  JobId:
    properties:
      job_id:
        description: unique id for your job/request with which you can fetch your solution
        type: string
        required: false
  Objective:
    properties:
      type:
        description: 'type of objective function, i.e. min or min-max '
        enum:
          - min
          - min-max
        type: string
        required: false
      value:
        description: objective function value
        enum:
          - completion_time
          - transport_time
          - vehicles
        type: string
        required: false
  Relation:
    properties:
      ids:
        description: An array of ids that should be related
        items:
          description: id of services or special ids of shipments
          type: string
        type: array
        required: false
      type:
        description: identifier of relation
        type: string
        required: false
      vehicle_id:
        description: vehicle id
        type: string
        required: false
  Request:
    properties:
      algorithm:
        type: Algorithm
        required: false
      cost_matrices:
        description: An array of cost matrices
        items:
          type: CostMatrix
        type: array
        required: false
      objectives:
        description: An array of objectives
        items:
          type: Objective
        type: array
        required: false
      relations:
        description: An array of relations
        items:
          type: Relation
        type: array
        required: false
      services:
        description: An array of services
        items:
          type: Service
        type: array
        required: false
      shipments:
        description: An array of shipments
        items:
          type: Shipment
        type: array
        required: false
      vehicle_types:
        description: An array of vehicle types
        items:
          type: VehicleType
        type: array
        required: false
      vehicles:
        description: An array of vehicles that can be employed
        items:
          type: Vehicle
        type: array
        required: false
  Response:
    properties:
      copyrights:
        items:
          description: attribution
          type: string
        type: array
        required: false
      job_id:
        description: unique identify of job - which you get when posting your request to the large problem solver
        type: string
        required: false
      processing_time:
        description: 'processing time in ms. if job is still waiting in queue, processing_time is 0'
        format: int64
        type: integer
        required: false
      solution:
        description: the solution. only available if status field indicates finished
        type: Solution
        required: false
      status:
        description: indicates the current status of the job
        enum:
          - waiting_in_queue
          - processing
          - finished
        type: string
        required: false
      waiting_in_queue:
        description: waiting time in ms
        format: int64
        type: integer
        required: false
  Route:
    properties:
      activities:
        description: array of activities
        items:
          type: Activity
        type: array
        required: false
      completion_time:
        description: completion time of route in ms
        format: int64
        type: integer
        required: false
      distance:
        description: distance of route in meter
        format: int64
        type: integer
        required: false
      transport_time:
        description: transport time of route in ms
        format: int64
        type: integer
        required: false
      vehicle_id:
        description: id of vehicle that operates route
        type: string
        required: false
      waiting_time:
        description: waiting time of route in ms
        format: int64
        type: integer
        required: false
  Service:
    properties:
      address:
        type: Address
        required: false
      allowed_vehicles:
        description: array of allowed vehicle ids
        items:
          type: string
        type: array
        required: false
      duration:
        description: 'duration of service, i.e. time in ms the corresponding activity takes'
        format: int64
        type: integer
        required: false
      id:
        description: Unique identifier of service
        type: string
        required: false
      name:
        description: name of service
        type: string
        required: false
      priority:
        description: 'priority of service, i.e. 1 = high, 2 = normal, 3 = low. default is 2.'
        format: int32
        type: integer
        required: false
      required_skills:
        description: array of required skills
        items:
          type: string
        type: array
        required: false
      size:
        description: array of capacity dimensions
        items:
          format: int32
          type: integer
        type: array
        required: false
      time_windows:
        description: 'array of time windows. currently, only a single time window is allowed'
        items:
          type: TimeWindow
        type: array
        required: false
      type:
        description: type of service
        enum:
          - service
          - pickup
          - delivery
        type: string
        required: false
  Shipment:
    properties:
      allowed_vehicles:
        description: array of allowed vehicle ids
        items:
          type: string
        type: array
        required: false
      delivery:
        type: Stop
        required: false
      id:
        description: Unique identifier of service
        type: string
        required: false
      name:
        description: name of shipment
        type: string
        required: false
      pickup:
        type: Stop
        required: false
      priority:
        description: 'priority of service, i.e. 1 = high, 2 = normal, 3 = low. default is 2.'
        format: int32
        type: integer
        required: false
      required_skills:
        description: array of required skills
        items:
          type: string
        type: array
        required: false
      size:
        description: array of capacity dimensions
        items:
          format: int32
          type: integer
        type: array
        required: false
  Solution:
    properties:
      costs:
        description: overall costs of solution
        format: int32
        type: integer
        required: false
      distance:
        description: overall travel distance in meters
        format: int32
        type: integer
        required: false
      max_operation_time:
        description: operation time of the longest route in ms
        format: int64
        type: integer
        required: false
      no_unassigned:
        description: number of jobs that could not be assigned to final solution
        format: int32
        type: integer
        required: false
      no_vehicles:
        description: number of employed vehicles
        format: int32
        type: integer
        required: false
      routes:
        description: An array of routes
        items:
          type: Route
        type: array
        required: false
      time:
        description: overall transport time in ms
        format: int64
        type: integer
        required: false
      transport_time:
        description: overall transport time in ms
        format: int64
        type: integer
        required: false
      unassigned:
        properties:
          services:
            description: An array of ids of unassigned services
            items:
              description: id of unassigned service
              type: string
            type: array
            required: false
          shipments:
            description: An array of ids of unassigned shipments
            items:
              description: id of unassigned shipments
              type: string
            type: array
            required: false
        type: object
        required: false
      waiting_time:
        description: total waiting time in ms
        format: int64
        type: integer
        required: false
  Stop:
    properties:
      address:
        type: Address
        required: false
      duration:
        description: 'duration of stop, i.e. time in ms the corresponding activity takes'
        format: int64
        type: integer
        required: false
      time_windows:
        description: 'array of time windows. currently, only a single time window is allowed'
        items:
          type: TimeWindow
        type: array
        required: false
  TimeWindow:
    properties:
      earliest:
        description: earliest start time of corresponding activity
        format: int64
        type: integer
        required: false
      latest:
        description: latest start time of corresponding activity
        format: int64
        type: integer
        required: false
  Vehicle:
    properties:
      break:
        type: Break
        required: false
      earliest_start:
        description: earliest start of vehicle at its start location
        format: int64
        type: integer
        required: false
      end_address:
        type: Address
        required: false
      latest_end:
        description: latest end of vehicle at its end location
        format: int64
        type: integer
        required: false
      return_to_depot:
        description: 'Indicates whether vehicle should return to start address or not. If not, it can end at any service activity.'
        type: boolean
        required: false
      skills:
        description: array of skills
        items:
          type: string
        type: array
        required: false
      start_address:
        type: Address
        required: false
      type_id:
        description: Unique identifier referring to the available vehicle types
        type: string
        required: false
      vehicle_id:
        description: Unique identifier of vehicle
        type: string
        required: false
  VehicleType:
    properties:
      capacity:
        description: array of capacity dimensions
        items:
          format: int32
          type: integer
        type: array
        required: false
      profile:
        description: Profile of vehicle type
        enum:
          - car
          - bike
          - foot
          - mtb
          - motorcycle
          - racingbike
          - truck
          - small_truck
          - bus
        example: car
        type: string
        required: false
      service_time_factor:
        description: service time factor of vehicle type
        format: double
        type: number
        required: false
      speed_factor:
        description: speed_factor of vehicle type
        format: double
        type: number
        required: false
      type_id:
        description: Unique identifier for the vehicle type
        type: string
        required: false
