#%RAML 1.0
title: Healthcare
version: 1.0.0
baseUri: 'https://www.healthcare.gov/'
protocols:
  - HTTPS
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.healthcare.gov_images_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/healthcare.gov/1.0.0/swagger.yaml'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): healthcare.gov
  (oas-x-unofficialSpec): true
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-unofficialSpec: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-x-hasEquivalentPaths: any
(oas-externalDocs):
  url: 'https://www.healthcare.gov/developers/'
/es:
  displayName: es
  /glossary:
    displayName: glossary
    '/{pageName}{mediaTypeExtension}':
      displayName: '{pageName}{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: Omiting the param causes html to be returned.
          enum:
            - .json
          required: true
          type: string
          displayName: Omiting the param causes html to be returned.
        pageName:
          required: true
          type: string
      get:
        displayName: GET_es-glossary-pageNamemediaTypeExtension
        description: Returns pages content.
        responses:
          '200':
            body:
              application/html:
                type: glossaryPage
            description: OK
          '404':
            description: Resource not found.
  /question:
    displayName: question
    '/{pageName}{mediaTypeExtension}':
      displayName: '{pageName}{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: Omiting the param causes html to be returned.
          enum:
            - .json
          required: true
          type: string
          displayName: Omiting the param causes html to be returned.
        pageName:
          required: true
          type: string
      get:
        displayName: GET_es-question-pageNamemediaTypeExtension
        description: Returns pages content.
        responses:
          '200':
            body:
              application/json:
                type: questionPage
            description: OK
          '404':
            description: Resource not found.
  '/{pageName}{mediaTypeExtension}':
    displayName: '{pageName}{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
      pageName:
        required: true
        type: string
    get:
      displayName: GET_es-pageNamemediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/html:
              type: page
          description: OK
        '404':
          description: Resource not found.
  '/{stateName}{mediaTypeExtension}':
    displayName: '{stateName}{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
      stateName:
        required: true
        type: string
    get:
      displayName: GET_es-stateNamemediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: statePage
          description: OK
        '404':
          description: Resource not found.
  /blog:
    displayName: blog
    '/{pageName}{mediaTypeExtension}':
      displayName: '{pageName}{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: Omiting the param causes html to be returned.
          enum:
            - .json
          required: true
          type: string
          displayName: Omiting the param causes html to be returned.
        pageName:
          required: true
          type: string
      get:
        displayName: GET_es-blog-pageNamemediaTypeExtension
        description: Returns pages content.
        responses:
          '200':
            body:
              application/html:
                type: blogPage
            description: OK
          '404':
            description: Resource not found.
'/{stateName}{mediaTypeExtension}':
  displayName: '{stateName}{mediaTypeExtension}'
  uriParameters:
    mediaTypeExtension:
      description: Omiting the param causes html to be returned.
      enum:
        - .json
      required: true
      type: string
      displayName: Omiting the param causes html to be returned.
    stateName:
      required: true
      type: string
  get:
    displayName: GET_stateNamemediaTypeExtension
    description: Returns pages content.
    responses:
      '200':
        body:
          application/json:
            type: statePage
        description: OK
      '404':
        description: Resource not found.
/api:
  displayName: api
  '/articles{mediaTypeExtension}':
    displayName: 'articles{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
    get:
      displayName: GET_api-articlesmediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: articlesList
          description: OK
        '404':
          description: Resource not found.
  '/glossary{mediaTypeExtension}':
    displayName: 'glossary{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
    get:
      displayName: GET_api-glossarymediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: glossaryList
          description: OK
        '404':
          description: Resource not found.
  '/states{mediaTypeExtension}':
    displayName: 'states{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
    get:
      displayName: GET_api-statesmediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: statesList
          description: OK
        '404':
          description: Resource not found.
  '/topics{mediaTypeExtension}':
    displayName: 'topics{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
    get:
      displayName: GET_api-topicsmediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: topicsList
          description: OK
        '404':
          description: Resource not found.
  '/questions{mediaTypeExtension}':
    displayName: 'questions{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
    get:
      displayName: GET_api-questionsmediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: questionsList
          description: OK
        '404':
          description: Resource not found.
  '/blog{mediaTypeExtension}':
    displayName: 'blog{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
    get:
      displayName: GET_api-blogmediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: blogList
          description: OK
        '404':
          description: Resource not found.
'/{pageName}{mediaTypeExtension}':
  displayName: '{pageName}{mediaTypeExtension}'
  uriParameters:
    mediaTypeExtension:
      description: Omiting the param causes html to be returned.
      enum:
        - .json
      required: true
      type: string
      displayName: Omiting the param causes html to be returned.
    pageName:
      required: true
      type: string
  get:
    displayName: GET_pageNamemediaTypeExtension
    description: Returns pages content.
    responses:
      '200':
        body:
          application/html:
            type: page
        description: OK
      '404':
        description: Resource not found.
/question:
  displayName: question
  '/{pageName}{mediaTypeExtension}':
    displayName: '{pageName}{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
      pageName:
        required: true
        type: string
    get:
      displayName: GET_question-pageNamemediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/json:
              type: questionPage
          description: OK
        '404':
          description: Resource not found.
/glossary:
  displayName: glossary
  '/{pageName}{mediaTypeExtension}':
    displayName: '{pageName}{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
      pageName:
        required: true
        type: string
    get:
      displayName: GET_glossary-pageNamemediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/html:
              type: glossaryPage
          description: OK
        '404':
          description: Resource not found.
/blog:
  displayName: blog
  '/{pageName}{mediaTypeExtension}':
    displayName: '{pageName}{mediaTypeExtension}'
    uriParameters:
      mediaTypeExtension:
        description: Omiting the param causes html to be returned.
        enum:
          - .json
        required: true
        type: string
        displayName: Omiting the param causes html to be returned.
      pageName:
        required: true
        type: string
    get:
      displayName: GET_blog-pageNamemediaTypeExtension
      description: Returns pages content.
      responses:
        '200':
          body:
            application/html:
              type: blogPage
          description: OK
        '404':
          description: Resource not found.
types:
  articlesList:
    properties:
      articles:
        items:
          properties:
            bite:
              type: string
              required: false
            categories:
              items:
                items:
                  type: string
                type: array
              type: array
              required: false
            content:
              type: string
              required: false
            date:
              type: string
              required: false
            excerpt:
              type: string
              required: false
            featured:
              type: boolean
              required: false
            id:
              type: string
              required: false
            lang:
              type: string
              required: false
            layout:
              type: string
              required: false
            meta-description:
              type: string
              required: false
            meta-title:
              type: string
              required: false
            path:
              type: string
              required: false
            published:
              type: boolean
              required: false
            related:
              items:
                items:
                  type: string
                type: array
              type: array
              required: false
            seo-keywords:
              type: string
              required: false
            sort:
              type: number
              required: false
            tags:
              items:
                items: {}
                type: array
              type: array
              required: false
            title:
              type: string
              required: false
            title-short:
              type: string
              required: false
            topics:
              items:
                items:
                  type: string
                type: array
              type: array
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
  blogList:
    properties:
      blog:
        items:
          items:
            properties:
              categories:
                items:
                  items:
                    type: string
                  type: array
                type: array
                required: false
              content:
                type: string
                required: false
              date:
                type: string
                required: false
              lang:
                type: string
                required: false
              layout:
                type: string
                required: false
              meta-description:
                type: string
                required: false
              meta-title:
                type: string
                required: false
              published:
                type: boolean
                required: false
              seo-keywords:
                type: string
                required: false
              sort:
                type: number
                required: false
              tags:
                items:
                  items: {}
                  type: array
                type: array
                required: false
              title:
                type: string
                required: false
              topics:
                items:
                  items:
                    type: string
                  type: array
                type: array
                required: false
              url:
                type: string
                required: false
            type: object
          type: array
        type: array
        required: false
  blogPage:
    properties:
      categories:
        items:
          items:
            type: string
          type: array
        type: array
        required: false
      content:
        type: string
        required: false
      date:
        type: string
        required: false
      excerpt:
        type: string
        required: false
      id:
        type: string
        required: false
      lang:
        type: string
        required: false
      layout:
        type: string
        required: false
      meta-description:
        type: string
        required: false
      meta-title:
        type: string
        required: false
      path:
        type: string
        required: false
      published:
        type: boolean
        required: false
      seo-keywords:
        type: string
        required: false
      sort:
        type: number
        required: false
      tags:
        items:
          items: {}
          type: array
        type: array
        required: false
      title:
        type: string
        required: false
      topics:
        items:
          items:
            type: string
          type: array
        type: array
        required: false
      url:
        type: string
        required: false
  glossaryList:
    properties:
      glossary:
        items:
          properties:
            categories:
              items:
                type: string
              type: array
              required: false
            content:
              type: string
              required: false
            date:
              type: string
              required: false
            excerpt:
              type: string
              required: false
            id:
              type: string
              required: false
            lang:
              type: string
              required: false
            layout:
              type: string
              required: false
            path:
              type: string
              required: false
            published:
              type: boolean
              required: false
            sort:
              type: number
              required: false
            tags:
              items:
                type: string
              type: array
              required: false
            title:
              type: string
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
  glossaryPage:
    properties:
      categories:
        items:
          type: string
        type: array
        required: false
      content:
        type: string
        required: false
      date:
        type: string
        required: false
      excerpt:
        type: string
        required: false
      id:
        type: string
        required: false
      lang:
        type: string
        required: false
      layout:
        type: string
        required: false
      path:
        type: string
        required: false
      published:
        type: boolean
        required: false
      sort:
        type: number
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
      title:
        type: string
        required: false
      url:
        type: string
        required: false
  page:
    properties:
      categories:
        items:
          items: {}
          type: array
        type: array
        required: false
      content:
        type: string
        required: false
      date:
        type: string
        required: false
      excerpt:
        type: string
        required: false
      experience:
        type: string
        required: false
      id:
        type: string
        required: false
      lang:
        type: string
        required: false
      layout:
        type: string
        required: false
      path:
        type: string
        required: false
      published:
        type: boolean
        required: false
      sort:
        type: number
        required: false
      tags:
        items:
          items: {}
          type: array
        type: array
        required: false
      title:
        type: string
        required: false
      url:
        type: string
        required: false
  questionPage:
    properties:
      categories:
        items:
          type: string
        type: array
        required: false
      content:
        type: string
        required: false
      date:
        type: string
        required: false
      excerpt:
        type: string
        required: false
      id:
        type: string
        required: false
      lang:
        type: string
        required: false
      path:
        type: string
        required: false
      published:
        type: boolean
        required: false
      sort:
        type: number
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
      title:
        type: string
        required: false
      url:
        type: string
        required: false
  questionsList:
    properties:
      questions:
        items:
          properties:
            categories:
              items:
                type: string
              type: array
              required: false
            content:
              type: string
              required: false
            date:
              type: string
              required: false
            excerpt:
              type: string
              required: false
            id:
              type: string
              required: false
            lang:
              type: string
              required: false
            path:
              type: string
              required: false
            published:
              type: boolean
              required: false
            sort:
              type: number
              required: false
            tags:
              items:
                type: string
              type: array
              required: false
            title:
              type: string
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
  statePage:
    properties:
      categories:
        items:
          items: {}
          type: array
        type: array
        required: false
      content:
        type: string
        required: false
      date:
        type: string
        required: false
      excerpt:
        type: string
        required: false
      id:
        type: string
        required: false
      lang:
        type: string
        required: false
      path:
        type: string
        required: false
      sort:
        type: number
        required: false
      stateurl:
        type: string
        required: false
      tags:
        items:
          items:
            type: string
          type: array
        type: array
        required: false
      title:
        type: string
        required: false
      url:
        type: string
        required: false
  statesList:
    properties:
      states:
        items:
          items:
            properties:
              categories:
                items:
                  items: {}
                  type: array
                type: array
                required: false
              content:
                type: string
                required: false
              date:
                type: string
                required: false
              excerpt:
                type: string
                required: false
              id:
                type: string
                required: false
              lang:
                type: string
                required: false
              path:
                type: string
                required: false
              sort:
                type: number
                required: false
              stateurl:
                type: string
                required: false
              tags:
                items:
                  items:
                    type: string
                  type: array
                type: array
                required: false
              title:
                type: string
                required: false
              url:
                type: string
                required: false
            type: object
          type: array
        type: array
        required: false
  topicsList:
    properties:
      topics:
        items:
          properties:
            articleorder:
              items:
                items:
                  type: string
                type: array
              type: array
              required: false
            categories:
              items:
                items: {}
                type: array
              type: array
              required: false
            content:
              type: string
              required: false
            date:
              type: string
              required: false
            excerpt:
              type: string
              required: false
            id:
              type: string
              required: false
            lang:
              type: string
              required: false
            layout:
              type: string
              required: false
            meta-description:
              type: string
              required: false
            meta-title:
              type: string
              required: false
            order:
              type: number
              required: false
            path:
              type: string
              required: false
            published:
              type: boolean
              required: false
            sort:
              type: number
              required: false
            tags:
              items:
                items:
                  type: string
                type: array
              type: array
              required: false
            title:
              type: string
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
(oas-x-hasEquivalentPaths): true
