#%RAML 1.0
title: HHS Media Services
version: '2'
baseUri: 'https://api.digitalmedia.hhs.gov/api/v2'
protocols:
  - HTTPS
description: |

  <div class="swagger-ui-wrap extraFooter"><h3>Common Features / Behaviors</h3>
      <div class="features">
          <ul>
              <li><strong>* "sort" param:</strong> supports multi column sorting through the use of commas as delimiters, and a hyphen to denote descending order.
                  <br/>
                  <strong><span>Examples:</span></strong>
                  <ul>
                      <li><span class="example">name</span><span class="description">sort results by name ascending</span></li>
                      <li><span class="example">-name</span><span class="description">sort results by name descending</span></li>
                      <li><span class="example">-name,id</span><span class="description">sort results by name descending and then by id ascending</span></li>
                      <li><span class="example">id,-dateContentAuthored</span><span class="description">sort results by id ascending and then date descending</span></li>
                  </ul>
              </li>
              <li><strong>Date formats:</strong> Date input format is expected to be based on <a href="http://www.ietf.org/rfc/rfc3339.txt">RFC 3339</a>. <br/>
                  <span><strong>Example:</strong></span>
                  <ul><li>2013-11-18T18:43:01Z</li></ul>
              </li>
          </ul>
      </div>
  </div>
(oas-tags-definition):
  - description: Information about campaigns
    name: campaigns
  - description: Information about languages
    name: languages
  - description: Information about media
    name: media
  - description: Information about media types
    name: mediaTypes
  - description: Global Search
    name: resources
  - description: Information about sources.
    name: sources
  - description: Information about tags
    name: tags
  - description: Get media from user generated lists.
    name: userMediaLists
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    backgroundColor: '#185394'
    url: 'https://api.apis.guru/v2/cache/logo/http_www.hhs.gov_sites_all_themes_project_h_css_images_hhs_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://api.digitalmedia.hhs.gov/swagger/api'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): hhs.gov
  contact:
    email: syndicationadmin@hhs.gov
  termsOfService: 'http://www.hhs.gov/web/socialmedia/policies/tos.html#ready'
  license:
    name: GNU GENERAL PUBLIC LICENSE
    url: 'http://www.gnu.org/licenses/gpl.html'
/resources:
  displayName: resources
  /media:
    displayName: media
    '/{id}':
      displayName: '{id}'
      /relatedMedia.json:
        displayName: relatedMedia.json
        get:
          displayName: GET_resources-media-id-relatedMedia-json
          description: Returns the list of MediaItems related to the MediaItem identified by the 'id'.
          (oas-summary): Get related MediaItems by ID
          responses:
            '200':
              body:
                application/json:
                  type: MediaItems
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            max:
              description: The maximum number of records to return
              format: int32
              required: false
              type: integer
              displayName: The maximum number of records to return
            offset:
              description: The offset of the records set to return for pagination.
              format: int32
              required: false
              type: integer
              displayName: The offset of the records set to return for pagination.
            sort:
              description: Which field to sort the records by.
              required: false
              type: string
              displayName: Which field to sort the records by.
          (oas-tags):
            - media
      /syndicate.json:
        displayName: syndicate.json
        get:
          displayName: GET_resources-media-id-syndicate-json
          description: Returns the syndicated content for a given MediaItem in the specified 'format' (HTML or JSON).
          (oas-summary): Get syndicated content for MediaItem
          responses:
            '200':
              body:
                application/json:
                  type: SyndicatedMediaItems
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            cssClass:
              default: syndicate
              description: The css class to target for extraction.
              required: false
              type: string
              displayName: The css class to target for extraction.
            stripStyles:
              default: false
              description: Remove in-line styles from content.
              required: false
              type: boolean
              displayName: Remove in-line styles from content.
            stripScripts:
              default: false
              description: Remove script tags from content.
              required: false
              type: boolean
              displayName: Remove script tags from content.
            stripImages:
              default: false
              description: Remove image tags from content.
              required: false
              type: boolean
              displayName: Remove image tags from content.
            stripBreaks:
              default: false
              description: Remove break tags from content.
              required: false
              type: boolean
              displayName: Remove break tags from content.
            stripClasses:
              default: false
              description: Remove class attributes from content (except 'syndicate').
              required: false
              type: boolean
              displayName: Remove class attributes from content (except 'syndicate').
            font-size:
              description: 'Set font size (in points) of p, div, and span tags.'
              format: int32
              required: false
              type: integer
              displayName: 'Set font size (in points) of p, div, and span tags.'
            imageFloat:
              description: 'Accepts valid CSS float options, such as ''left'' or ''right''. Will inject a style into the content before rendering.'
              required: false
              type: string
              displayName: 'Accepts valid CSS float options, such as ''left'' or ''right''. Will inject a style into the content before rendering.'
            imageMargin:
              description: 'Accepts 4 CSV values representing pixel sizes of margin similar to CSS. Default format is ''north,east,south,west'' - for example ''0,10,10,0'' would put a 10 pixel margin on the right and bottom sides of an image. Will inject a style into the content before rendering.'
              required: false
              type: string
              displayName: 'Accepts 4 CSV values representing pixel sizes of margin similar to CSS. Default format is ''north,east,south,west'' - for example ''0,10,10,0'' would put a 10 pixel margin on the right and bottom sides of an image. Will inject a style into the content before rendering.'
            autoplay:
              default: true
              description: 'If content is a video, the embeded video will auto play when loaded.'
              required: false
              type: boolean
              displayName: 'If content is a video, the embeded video will auto play when loaded.'
            rel:
              default: false
              description: 'If content is a video, related items will be shown at the end of playback.'
              required: false
              type: boolean
              displayName: 'If content is a video, related items will be shown at the end of playback.'
          (oas-tags):
            - media
      /thumbnail.jpg:
        displayName: thumbnail.jpg
        get:
          displayName: GET_resources-media-id-thumbnail-jpg
          description: 'Returns the JPG thumbnail, where applicable, for the MediaItem identified by the ''id''.'
          (oas-summary): Get JPG thumbnail for MediaItem
          responses:
            '200':
              body:
                image/jpeg:
                  type: string
              description: No response was specified
            '400':
              body:
                image/jpeg:
                  type: string
              description: Invalid ID
            '500':
              body:
                image/jpeg:
                  type: string
              description: Internal Server Error
          (oas-tags):
            - media
      /youtubeMetaData.json:
        displayName: youtubeMetaData.json
        get:
          displayName: GET_resources-media-id-youtubeMetaData-json
          description: 'Returns the Youtube metadata, where applicable, for the MediaItem identified by the ''id''.'
          (oas-summary): Get Youtube metadata for MediaItem
          responses:
            '200':
              body:
                application/json:
                  type: YoutubeMetadata
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Invalid ID or Invalid media type
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          (oas-tags):
            - media
      /content:
        displayName: content
        get:
          displayName: GET_resources-media-id-content
          description: 'Returns the raw content (html, image, etc...) for the MediaItem identified by the ''id''.'
          (oas-summary): Get content for MediaItem
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Invalid ID
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            calledByBuild:
              description: The method that called this method
              required: false
              type: boolean
              displayName: The method that called this method
          (oas-tags):
            - media
      /preview.jpg:
        displayName: preview.jpg
        get:
          displayName: GET_resources-media-id-preview-jpg
          description: 'Returns the JPG preview, where applicable, for the MediaItem identified by the ''id''.'
          (oas-summary): Get JPG preview for MediaItem
          responses:
            '200':
              body:
                image/jpeg:
                  type: MediaItems
              description: No response was specified
            '400':
              body:
                image/jpeg:
                  type: string
              description: Bad Request
            '500':
              body:
                image/jpeg:
                  type: string
              description: Internal Server Error
          (oas-tags):
            - media
      /ratings.json:
        displayName: ratings.json
        get:
          displayName: GET_resources-media-id-ratings-json
          description: Get the Ratings (number of 'likes') for the MediaItem identified by the 'id'.
          (oas-summary): Get Ratings for MediaItem
          responses:
            '200':
              body:
                application/json:
                  type: Ratings
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Invalid ID
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          (oas-tags):
            - media
      /embed.json:
        displayName: embed.json
        get:
          displayName: GET_resources-media-id-embed-json
          description: Returns the javascript or iframe embed code for the MediaItem identified by 'id'.
          (oas-summary): Get embed code for MediaItem
          responses:
            '200':
              body:
                text/html:
                  type: EmbedCode
              description: No response was specified
            '400':
              body:
                text/html:
                  type: string
              description: Bad Request
            '500':
              body:
                text/html:
                  type: string
              description: Internal Server Error
          queryParameters:
            flavor:
              description: 'Currently supports ''iframe'', defaults to ''javascript''.'
              required: false
              type: string
              displayName: 'Currently supports ''iframe'', defaults to ''javascript''.'
            width:
              description: The width of the generated iframe.
              format: int32
              required: false
              type: integer
              displayName: The width of the generated iframe.
            height:
              description: The height of the generated iframe.
              format: int32
              required: false
              type: integer
              displayName: The height of the generated iframe.
            iframeName:
              description: The name of the iframe element
              required: false
              type: string
              displayName: The name of the iframe element
            excludeJquery:
              default: false
              description: Should a reference to the JQuery Library be omitted?
              required: false
              type: boolean
              displayName: Should a reference to the JQuery Library be omitted?
            excludeDiv:
              default: false
              description: Should the div to insert content into be omitted?
              required: false
              type: boolean
              displayName: Should the div to insert content into be omitted?
            divId:
              description: Should the div to insert content into have a specific name?
              required: false
              type: string
              displayName: Should the div to insert content into have a specific name?
            displayMethod:
              description: 'Method used to render an html request. Accepts one: [mv, list, feed]'
              required: false
              type: string
              displayName: 'Method used to render an html request. Accepts one: [mv, list, feed]'
          (oas-tags):
            - media
    /featured.json:
      displayName: featured.json
      get:
        displayName: GET_resources-media-featured-json
        description: Get the list of featured content in the syndication system
        (oas-summary): Get the list of featured content in the syndication system
        responses:
          '200':
            body:
              application/json:
                type: string
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Bad Request
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        queryParameters:
          sort:
            description: '* Set of fields to sort the records by.'
            required: false
            type: string
            displayName: '* Set of fields to sort the records by.'
          max:
            description: The maximum number of records to return.
            format: int64
            required: false
            type: integer
            displayName: The maximum number of records to return.
          offset:
            description: How many records to offset the query by.
            format: int64
            required: false
            type: integer
            displayName: How many records to offset the query by.
        (oas-tags):
          - media
    /searchResults.json:
      displayName: searchResults.json
      get:
        displayName: GET_resources-media-searchResults-json
        description: 'Returns the list of MediaItems matching the search query ''q''.<p>The search query ''q'' is a Lucene query.<br>The syntax for a Lucene query can be found <a href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">here</a>'
        (oas-summary): Get MediaItems by search query
        responses:
          '200':
            body:
              application/json:
                type: MediaItems
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Bad Request
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        queryParameters:
          q:
            description: The search query supplied by the user
            required: true
            type: string
            displayName: The search query supplied by the user
          max:
            description: The maximum number of records to return
            format: int32
            required: false
            type: integer
            displayName: The maximum number of records to return
          offset:
            description: The offset of the records set to return for pagination.
            format: int32
            required: false
            type: integer
            displayName: The offset of the records set to return for pagination.
        (oas-tags):
          - media
    /mostPopularMedia.json:
      displayName: mostPopularMedia.json
      get:
        displayName: GET_resources-media-mostPopularMedia-json
        description: Returns the list of MediaItems with the highest ratings.
        (oas-summary): Get MediaItems by popularity
        responses:
          '200':
            body:
              application/json:
                type: MediaItems
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Bad Request
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        queryParameters:
          max:
            description: The maximum number of records to return
            format: int32
            required: false
            type: integer
            displayName: The maximum number of records to return
          offset:
            description: The offset of the records set to return for pagination.
            format: int32
            required: false
            type: integer
            displayName: The offset of the records set to return for pagination.
        (oas-tags):
          - media
    '/{id}.json':
      displayName: '{id}.json'
      uriParameters:
        id:
          description: The id of the record to look up
          format: int64
          required: true
          type: integer
          displayName: The id of the record to look up
      get:
        displayName: GET_resources-media-id-json
        description: Returns the MediaItem identified by the 'id'.
        (oas-summary): Get MediaItem by ID
        responses:
          '200':
            body:
              application/json:
                type: MediaItems
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Invalid ID
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        (oas-tags):
          - media
  /userMediaLists:
    displayName: userMediaLists
    '/{id}.json':
      displayName: '{id}.json'
      uriParameters:
        id:
          description: The id of the record to look up
          format: int64
          required: true
          type: integer
          displayName: The id of the record to look up
      get:
        displayName: GET_resources-userMediaLists-id-json
        description: Get a specific user media list by 'id'.
        (oas-summary): Get UserMediaList by ID
        responses:
          '200':
            body:
              application/json:
                type: MediaItems
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Invalid ID
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        queryParameters:
          displayMethod:
            description: 'Method used to render an html request. Accepts one: [mv, list, feed]'
            required: false
            type: string
            displayName: 'Method used to render an html request. Accepts one: [mv, list, feed]'
        (oas-tags):
          - userMediaLists
  /campaigns:
    displayName: campaigns
    '/{id}.json':
      displayName: '{id}.json'
      uriParameters:
        id:
          description: The id of the record to look up
          format: int64
          required: true
          type: integer
          displayName: The id of the record to look up
      get:
        displayName: GET_resources-campaigns-id-json
        description: Returns the Campaign identified by the 'id'.
        (oas-summary): Get Campaign by ID
        responses:
          '200':
            body:
              application/json:
                type: Campaigns
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Invalid ID
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        (oas-tags):
          - campaigns
    '/{id}':
      displayName: '{id}'
      /syndicate.json:
        displayName: syndicate.json
        get:
          displayName: GET_resources-campaigns-id-syndicate-json
          description: Renders the list of MediaItems associated with the Campaign identified by the 'id'.
          (oas-summary): Get MediaItems for Campaign
          responses:
            '200':
              body:
                application/json:
                  type: MediaItems
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            displayMethod:
              description: 'Method used to render an html request. Accepts one: [mv, list, feed]'
              required: false
              type: string
              displayName: 'Method used to render an html request. Accepts one: [mv, list, feed]'
          (oas-tags):
            - campaigns
      /media.json:
        displayName: media.json
        get:
          displayName: GET_resources-campaigns-id-media-json
          description: Returns the list of MediaItems for the Campaign identified by the 'id'.
          (oas-summary): Get MediaItems by Campaign ID
          responses:
            '200':
              body:
                application/json:
                  type: MediaItems
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            max:
              description: The maximum number of records to return
              format: int32
              required: false
              type: integer
              displayName: The maximum number of records to return
            offset:
              description: The offset of the records set to return for pagination
              format: int32
              required: false
              type: integer
              displayName: The offset of the records set to return for pagination
            sort:
              description: The name of the property to which sorting will be applied
              required: false
              type: string
              displayName: The name of the property to which sorting will be applied
          (oas-tags):
            - campaigns
  /mediaTypes.json:
    displayName: mediaTypes.json
    get:
      displayName: GET_resources-mediaTypes-json
      description: Returns the list of available MediaTypes.
      (oas-summary): Get MediaTypes
      responses:
        '200':
          body:
            application/json:
              type: MediaTypes
          description: No response was specified
        '500':
          body:
            application/json:
              type: string
          description: Internal Server Error
      (oas-tags):
        - mediaTypes
  /languages:
    displayName: languages
    '/{id}.json':
      displayName: '{id}.json'
      uriParameters:
        id:
          description: The id of the language to look up
          format: int64
          required: true
          type: integer
          displayName: The id of the language to look up
      get:
        displayName: GET_resources-languages-id-json
        description: Returns the Language identified by the 'id'.
        (oas-summary): Get Language by ID
        responses:
          '200':
            body:
              application/json:
                type: Languages
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Invalid ID
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        (oas-tags):
          - languages
  /sources.json:
    displayName: sources.json
    get:
      displayName: GET_resources-sources-json
      description: Returns the list of Sources.
      (oas-summary): Get Sources
      responses:
        '200':
          body:
            application/json:
              type: Sources
          description: No response was specified
        '400':
          body:
            application/json:
              type: string
          description: Bad Request
        '500':
          body:
            application/json:
              type: string
          description: Internal Server Error
      queryParameters:
        max:
          description: The maximum number of records to return
          format: int32
          required: false
          type: integer
          displayName: The maximum number of records to return
        offset:
          description: The offset of the records set to return for pagination
          format: int32
          required: false
          type: integer
          displayName: The offset of the records set to return for pagination
        sort:
          description: '* Set of fields to sort the records by.'
          required: false
          type: string
          displayName: '* Set of fields to sort the records by.'
      (oas-tags):
        - sources
  /sources:
    displayName: sources
    '/{id}.json':
      displayName: '{id}.json'
      uriParameters:
        id:
          description: The id of the source to look up
          format: int64
          required: true
          type: integer
          displayName: The id of the source to look up
      get:
        displayName: GET_resources-sources-id-json
        description: Returns the Source identified by the 'id'.
        (oas-summary): Get Source by ID
        responses:
          '200':
            body:
              application/json:
                type: Sources
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Invalid ID
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        (oas-tags):
          - sources
    '/{id}':
      displayName: '{id}'
      /syndicate.json:
        displayName: syndicate.json
        get:
          displayName: GET_resources-sources-id-syndicate-json
          description: Renders the list of MediaItems associated with the Source identified by the 'id'.
          (oas-summary): Get MediaItems for Source
          responses:
            '200':
              body:
                application/json:
                  type: MediaItems
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            displayMethod:
              description: 'Method used to render an html request. Accepts one: [mv, list, feed]'
              required: false
              type: string
              displayName: 'Method used to render an html request. Accepts one: [mv, list, feed]'
          (oas-tags):
            - sources
  /tags.json:
    displayName: tags.json
    get:
      displayName: GET_resources-tags-json
      description: Returns the list of Tags matching the specified query parameters in the specified 'format'.
      (oas-summary): Get Tags
      responses:
        '200':
          body:
            application/json:
              type: Tags
          description: No response was specified
        '400':
          body:
            application/json:
              type: string
          description: Bad Request
        '500':
          body:
            application/json:
              type: string
          description: Internal Server Error
      queryParameters:
        sort:
          description: The name of the property to which sorting will be applied
          required: false
          type: string
          displayName: The name of the property to which sorting will be applied
        max:
          description: The maximum number of records to return
          format: int32
          required: false
          type: integer
          displayName: The maximum number of records to return
        offset:
          description: Return records starting at the offset index.
          format: int32
          required: false
          type: integer
          displayName: Return records starting at the offset index.
        name:
          description: 'Return tags[s] matching the supplied name'
          required: false
          type: string
          displayName: 'Return tags[s] matching the supplied name'
        nameContains:
          description: Return tags which contain the supplied partial name.
          required: false
          type: string
          displayName: Return tags which contain the supplied partial name.
        mediaId:
          description: Return tags associated with the supplied media id.
          format: int64
          required: false
          type: integer
          displayName: Return tags associated with the supplied media id.
        typeId:
          description: Return tags belonging to the supplied tag type id.
          format: int64
          required: false
          type: integer
          displayName: Return tags belonging to the supplied tag type id.
        typeName:
          description: Return tags belonging to the supplied tag type name.
          required: false
          type: string
          displayName: Return tags belonging to the supplied tag type name.
      (oas-tags):
        - tags
  /tags:
    displayName: tags
    /tagLanguages.json:
      displayName: tagLanguages.json
      get:
        displayName: GET_resources-tags-tagLanguages-json
        description: Returns the list of TagLanguages
        (oas-summary): Get TagLanguages
        responses:
          '200':
            body:
              application/json:
                type: TagLanguages
            description: No response was specified
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        (oas-tags):
          - tags
    /tagTypes.json:
      displayName: tagTypes.json
      get:
        displayName: GET_resources-tags-tagTypes-json
        description: Returns the list of TagTypes
        (oas-summary): Get TagTypes
        responses:
          '200':
            body:
              application/json:
                type: TagTypes
            description: No response was specified
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        (oas-tags):
          - tags
    '/{id}':
      displayName: '{id}'
      /syndicate.json:
        displayName: syndicate.json
        get:
          displayName: GET_resources-tags-id-syndicate-json
          description: Renders the list of MediaItems associated with the Tag identified by the 'id'.
          (oas-summary): Get MediaItems for Tag
          responses:
            '200':
              body:
                application/json:
                  type: MediaItems
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            displayMethod:
              description: 'Method used to render an html request. Accepts one: [mv, list, feed]'
              required: false
              type: string
              displayName: 'Method used to render an html request. Accepts one: [mv, list, feed]'
          (oas-tags):
            - tags
      /related.json:
        displayName: related.json
        get:
          displayName: GET_resources-tags-id-related-json
          description: Returns the list of Tags related to the Tag identified by the 'id' in the specified format.
          (oas-summary): Get related Tags by ID
          responses:
            '200':
              body:
                application/json:
                  type: Tags
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            max:
              description: The maximum number of records to return
              format: int32
              required: false
              type: integer
              displayName: The maximum number of records to return
            offset:
              description: The offset of the records set to return for pagination
              format: int32
              required: false
              type: integer
              displayName: The offset of the records set to return for pagination
            sort:
              description: The name of the property to which sorting will be applied
              required: false
              type: string
              displayName: The name of the property to which sorting will be applied
          (oas-tags):
            - tags
      /media.json:
        displayName: media.json
        get:
          displayName: GET_resources-tags-id-media-json
          description: Returns the list of MediaItems associated with the Tag identified by the 'id'.
          (oas-summary): Get MediaItems for Tag
          responses:
            '200':
              body:
                application/json:
                  type: MediaItems
              description: No response was specified
            '400':
              body:
                application/json:
                  type: string
              description: Bad Request
            '500':
              body:
                application/json:
                  type: string
              description: Internal Server Error
          queryParameters:
            max:
              description: The maximum number of records to return
              format: int32
              required: false
              type: integer
              displayName: The maximum number of records to return
            offset:
              description: The offset of the records set to return for pagination
              format: int32
              required: false
              type: integer
              displayName: The offset of the records set to return for pagination
            sort:
              description: The name of the property to which sorting will be applied
              required: false
              type: string
              displayName: The name of the property to which sorting will be applied
          (oas-tags):
            - tags
    '/{id}.json':
      displayName: '{id}.json'
      uriParameters:
        id:
          description: The id of the record to look up
          format: int64
          required: true
          type: integer
          displayName: The id of the record to look up
      get:
        displayName: GET_resources-tags-id-json
        description: Returns the Tag identified by the 'id' in the specified 'format'.
        (oas-summary): Get Tag by ID
        responses:
          '200':
            body:
              application/json:
                type: Tags
            description: No response was specified
          '400':
            body:
              application/json:
                type: string
            description: Invalid ID
          '500':
            body:
              application/json:
                type: string
            description: Internal Server Error
        (oas-tags):
          - tags
  /campaigns.json:
    displayName: campaigns.json
    get:
      displayName: GET_resources-campaigns-json
      description: Returns the list of Campaigns.
      (oas-summary): Get Campaigns
      responses:
        '200':
          body:
            application/json:
              type: Campaigns
          description: No response was specified
        '400':
          body:
            application/json:
              type: string
          description: Bad Request
        '500':
          body:
            application/json:
              type: string
          description: Internal Server Error
      queryParameters:
        max:
          description: The maximum number of records to return
          format: int32
          required: false
          type: integer
          displayName: The maximum number of records to return
        offset:
          description: The offset of the records set to return for pagination
          format: int32
          required: false
          type: integer
          displayName: The offset of the records set to return for pagination
        sort:
          description: '* Set of fields to sort the records by.'
          required: false
          type: string
          displayName: '* Set of fields to sort the records by.'
      (oas-tags):
        - campaigns
  /languages.json:
    displayName: languages.json
    get:
      displayName: GET_resources-languages-json
      description: Returns the list Languages.
      (oas-summary): Get Languages
      responses:
        '200':
          body:
            application/json:
              type: Languages
          description: No response was specified
        '400':
          body:
            application/json:
              type: string
          description: Bad Request
        '500':
          body:
            application/json:
              type: string
          description: Internal Server Error
      queryParameters:
        max:
          description: The maximum number of records to return
          format: int32
          required: false
          type: integer
          displayName: The maximum number of records to return
        offset:
          description: The offset of the records set to return for pagination
          format: int32
          required: false
          type: integer
          displayName: The offset of the records set to return for pagination
        sort:
          description: '* Set of fields to sort the records by.'
          required: false
          type: string
          displayName: '* Set of fields to sort the records by.'
      (oas-tags):
        - languages
  /media.json:
    displayName: media.json
    get:
      displayName: GET_resources-media-json
      description: Returns the list of MediaItems matching the specified query parameters.
      (oas-summary): Get MediaItems
      responses:
        '200':
          body:
            application/json:
              type: MediaItems
          description: No response was specified
        '400':
          body:
            application/json:
              type: string
          description: Bad Request
        '500':
          body:
            application/json:
              type: string
          description: Internal Server Error
      queryParameters:
        max:
          description: The maximum number of records to return
          format: int32
          required: false
          type: integer
          displayName: The maximum number of records to return
        offset:
          description: The offset of the records set to return for pagination.
          format: int32
          required: false
          type: integer
          displayName: The offset of the records set to return for pagination.
        sort:
          description: '* Set of fields to sort the records by.'
          required: false
          type: string
          displayName: '* Set of fields to sort the records by.'
        order:
          description: '* The ascending or descending order.'
          required: false
          type: string
          displayName: '* The ascending or descending order.'
        mediaTypes:
          description: 'Find all media items belonging to the specified media type[s].'
          required: false
          type: string
          displayName: 'Find all media items belonging to the specified media type[s].'
        name:
          description: 'Find all media items containing the provided name, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items containing the provided name, case insensitive.'
        collectionId:
          description: Restrict filtering to media items in a specific collection.
          format: int32
          required: false
          type: integer
          displayName: Restrict filtering to media items in a specific collection.
        nameContains:
          description: 'Find all media items containing the partial name, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items containing the partial name, case insensitive.'
        descriptionContains:
          description: 'Find all media items containing the provided partial description, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items containing the provided partial description, case insensitive.'
        sourceUrl:
          description: 'Find all media items which have the provided sourceUrl, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items which have the provided sourceUrl, case insensitive.'
        sourceUrlContains:
          description: 'Find all media items which contain the provided partial sourceUrl, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items which contain the provided partial sourceUrl, case insensitive.'
        customThumbnailUrl:
          description: 'Find all media items which have the provided customThumbnailUrl, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items which have the provided customThumbnailUrl, case insensitive.'
        customThumbnailUrlContains:
          description: 'Find all media items which contain the provided partial customThumbnailUrl, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items which contain the provided partial customThumbnailUrl, case insensitive.'
        contentAuthoredInRange:
          description: 'Find all media items authored between the provided start and end days (RFC 3339, comma separated, time ignored).'
          required: false
          type: string
          displayName: 'Find all media items authored between the provided start and end days (RFC 3339, comma separated, time ignored).'
        contentUpdatedInRange:
          description: 'Find all media items updated between the provided start and end days (RFC 3339, comma separated, time ignored).'
          required: false
          type: string
          displayName: 'Find all media items updated between the provided start and end days (RFC 3339, comma separated, time ignored).'
        contentPublishedInRange:
          description: 'Find all media items published between the provided start and end days (RFC 3339, comma separated, time ignored).'
          required: false
          type: string
          displayName: 'Find all media items published between the provided start and end days (RFC 3339, comma separated, time ignored).'
        contentReviewedInRange:
          description: 'Find all media items reviewed between the provided start and end days (RFC 3339, comma separated, time ignored).'
          required: false
          type: string
          displayName: 'Find all media items reviewed between the provided start and end days (RFC 3339, comma separated, time ignored).'
        syndicationCapturedInRange:
          description: 'Find all media items authored between the provided start and end days (RFC 3339, comma separated, time ignored).'
          required: false
          type: string
          displayName: 'Find all media items authored between the provided start and end days (RFC 3339, comma separated, time ignored).'
        syndicationUpdatedInRange:
          description: 'Find all media items updated between the provided start and end days, (RFC 3339, comma separated, time ignored).'
          required: false
          type: string
          displayName: 'Find all media items updated between the provided start and end days, (RFC 3339, comma separated, time ignored).'
        syndicationVisibleInRange:
          description: 'Find all media items visible between the provided start and end days, (RFC 3339, comma separated, time ignored).'
          required: false
          type: string
          displayName: 'Find all media items visible between the provided start and end days, (RFC 3339, comma separated, time ignored).'
        languageId:
          description: Find all media items written in the language specified by Id.
          format: int64
          required: false
          type: integer
          displayName: Find all media items written in the language specified by Id.
        languageName:
          description: 'Find all media items written in the language specified by name, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items written in the language specified by name, case insensitive.'
        languageIsoCode:
          description: 'Find all media items written in the language specified by 639-2 isoCode , case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items written in the language specified by 639-2 isoCode , case insensitive.'
        hash:
          description: 'Find all media items which match the provided hash, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items which match the provided hash, case insensitive.'
        hashContains:
          description: 'Find all media items which match the provided partial hash, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items which match the provided partial hash, case insensitive.'
        sourceId:
          description: Find all media items that belong to the source specified by Id.
          format: int64
          required: false
          type: integer
          displayName: Find all media items that belong to the source specified by Id.
        sourceName:
          description: 'Find all media items that belong to the source specified by name, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items that belong to the source specified by name, case insensitive.'
        sourceNameContains:
          description: 'Find all media items that belong to the source specified by partial name, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items that belong to the source specified by partial name, case insensitive.'
        sourceAcronym:
          description: 'Find all media items that belong to the source specified by acronym, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items that belong to the source specified by acronym, case insensitive.'
        sourceAcronymContains:
          description: 'Find all media items that belong to the source specified by partial acronym, case insensitive.'
          required: false
          type: string
          displayName: 'Find all media items that belong to the source specified by partial acronym, case insensitive.'
        tagIds:
          description: Find only media items tagged with the specified tag Ids.
          required: false
          type: string
          displayName: Find only media items tagged with the specified tag Ids.
        restrictToSet:
          description: Find only media from within the supplied list of Ids.
          required: false
          type: string
          displayName: Find only media from within the supplied list of Ids.
        createdBy:
          description: Find all media items containing the createdBy value.
          required: false
          type: string
          displayName: Find all media items containing the createdBy value.
      (oas-tags):
        - media
/resources.json:
  displayName: resources.json
  get:
    displayName: GET_resources-json
    description: 'Returns the list of Resources matching the search query ''q''.<p>The search query ''q'' is a Lucene query.<br>The syntax for a Lucene query can be found <a href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">here</a>.'
    (oas-summary): Get Resources by search query
    responses:
      '200':
        body:
          application/json:
            type: Resources
        description: No response was specified
      '400':
        body:
          application/json:
            type: string
        description: Invalid search query
      '500':
        body:
          application/json:
            type: string
        description: Internal Server Error
    queryParameters:
      q:
        description: The search query supplied by the user
        required: true
        type: string
        displayName: The search query supplied by the user
    (oas-tags):
      - resources
types:
  AlternateImage:
    properties:
      height:
        format: int32
        type: integer
        required: false
      id:
        format: int64
        type: integer
      name:
        type: string
        required: false
      url:
        type: string
      width:
        format: int32
        type: integer
        required: false
  ApiResponse:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: MediaItem
        type: array
  Campaign:
    properties:
      contactEmail:
        type: string
        required: false
      description:
        type: string
        required: false
      endDate:
        type: date-only
        required: false
      id:
        format: int64
        type: integer
      mediaItems:
        items:
          type: MediaItem
        type: array
        required: false
      name:
        type: string
      source:
        type: Source
        required: false
      startDate:
        type: date-only
  Campaigns:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: Campaign
        type: array
  Collection:
    properties:
      campaigns:
        items:
          type: Campaign
        type: array
        required: false
      dateContentAuthored:
        type: date-only
        required: false
      dateContentPublished:
        type: date-only
        required: false
      dateContentReviewed:
        type: date-only
        required: false
      dateContentUpdated:
        type: date-only
        required: false
      dateSyndicationCaptured:
        type: date-only
        required: false
      dateSyndicationUpdated:
        type: date-only
        required: false
      dateSyndicationVisible:
        type: date-only
        required: false
      description:
        type: string
        required: false
      externalGuid:
        type: string
        required: false
      hash:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      language:
        type: Language
        required: false
      mediaItems:
        items:
          type: MediaItem
        type: array
        required: false
      name:
        type: string
        required: false
      source:
        type: Source
        required: false
      sourceUrl:
        type: string
        required: false
  EmbedCode:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: Snippet
        type: array
  Html:
    properties:
      createdBy:
        type: string
      customPreviewUrl:
        type: string
        required: false
      customThumbnailUrl:
        type: string
        required: false
      dateContentAuthored:
        type: date-only
        required: false
      dateContentPublished:
        type: date-only
        required: false
      dateContentReviewed:
        type: date-only
        required: false
      dateContentUpdated:
        type: date-only
        required: false
      dateSyndicationCaptured:
        type: date-only
      dateSyndicationUpdated:
        type: date-only
      dateSyndicationVisible:
        type: date-only
      description:
        type: string
        required: false
      extendedAttributes:
        type: object
        required: false
      externalGuid:
        type: string
        required: false
      foreignSyndicationAPIUrl:
        type: string
      hash:
        type: string
        required: false
      id:
        format: int64
        type: integer
      language:
        type: Language
      mediaType:
        type: string
      name:
        type: string
      source:
        type: Source
      sourceUrl:
        type: string
      targetUrl:
        type: string
        required: false
  Image:
    properties:
      altText:
        type: string
      createdBy:
        type: string
      customPreviewUrl:
        type: string
        required: false
      customThumbnailUrl:
        type: string
        required: false
      dateContentAuthored:
        type: date-only
        required: false
      dateContentPublished:
        type: date-only
        required: false
      dateContentReviewed:
        type: date-only
        required: false
      dateContentUpdated:
        type: date-only
        required: false
      dateSyndicationCaptured:
        type: date-only
      dateSyndicationUpdated:
        type: date-only
      dateSyndicationVisible:
        type: date-only
      description:
        type: string
        required: false
      extendedAttributes:
        type: object
        required: false
      externalGuid:
        type: string
        required: false
      foreignSyndicationAPIUrl:
        type: string
      hash:
        type: string
        required: false
      height:
        format: int32
        type: integer
      id:
        format: int64
        type: integer
      imageFormat:
        type: string
      language:
        type: Language
      mediaType:
        type: string
      name:
        type: string
      source:
        type: Source
      sourceUrl:
        type: string
      targetUrl:
        type: string
        required: false
      width:
        format: int32
        type: integer
  Infographic:
    properties:
      altText:
        type: string
      createdBy:
        type: string
      customPreviewUrl:
        type: string
        required: false
      customThumbnailUrl:
        type: string
        required: false
      dateContentAuthored:
        type: date-only
        required: false
      dateContentPublished:
        type: date-only
        required: false
      dateContentReviewed:
        type: date-only
        required: false
      dateContentUpdated:
        type: date-only
        required: false
      dateSyndicationCaptured:
        type: date-only
      dateSyndicationUpdated:
        type: date-only
      dateSyndicationVisible:
        type: date-only
      description:
        type: string
        required: false
      extendedAttributes:
        type: object
        required: false
      externalGuid:
        type: string
        required: false
      foreignSyndicationAPIUrl:
        type: string
      hash:
        type: string
        required: false
      height:
        format: int32
        type: integer
      id:
        format: int64
        type: integer
      imageFormat:
        type: string
      language:
        type: Language
      mediaType:
        type: string
      name:
        type: string
      source:
        type: Source
      sourceUrl:
        type: string
      targetUrl:
        type: string
        required: false
      width:
        format: int32
        type: integer
  Language:
    properties:
      id:
        format: int64
        type: integer
      isActive:
        type: boolean
      isoCode:
        type: string
      name:
        type: string
  Languages:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: Language
        type: array
  Likes:
    properties:
      likes:
        format: int32
        type: integer
  MediaItem:
    properties:
      createdBy:
        type: string
      customPreviewUrl:
        type: string
        required: false
      customThumbnailUrl:
        type: string
        required: false
      dateContentAuthored:
        type: date-only
        required: false
      dateContentPublished:
        type: date-only
        required: false
      dateContentReviewed:
        type: date-only
        required: false
      dateContentUpdated:
        type: date-only
        required: false
      dateSyndicationCaptured:
        type: date-only
      dateSyndicationUpdated:
        type: date-only
      dateSyndicationVisible:
        type: date-only
      description:
        type: string
        required: false
      extendedAttributes:
        type: object
        required: false
      externalGuid:
        type: string
        required: false
      foreignSyndicationAPIUrl:
        type: string
      hash:
        type: string
        required: false
      id:
        format: int64
        type: integer
      language:
        type: Language
      mediaType:
        type: string
      name:
        type: string
      source:
        type: Source
      sourceUrl:
        type: string
      targetUrl:
        type: string
        required: false
  MediaItems:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: MediaItem
        type: array
  MediaType:
    properties:
      description:
        type: string
      name:
        type: string
  MediaTypes:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: MediaType
        type: array
  Message:
    properties:
      errorCode:
        type: string
        required: false
      errorDetail:
        type: string
        required: false
      errorMessage:
        type: string
        required: false
      userMessage:
        type: string
  Meta:
    properties:
      messages:
        items:
          type: Message
        type: array
      pagination:
        type: Pagination
      status:
        format: int64
        type: integer
  PDF:
    properties:
      createdBy:
        type: string
      customPreviewUrl:
        type: string
        required: false
      customThumbnailUrl:
        type: string
        required: false
      dateContentAuthored:
        type: date-only
        required: false
      dateContentPublished:
        type: date-only
        required: false
      dateContentReviewed:
        type: date-only
        required: false
      dateContentUpdated:
        type: date-only
        required: false
      dateSyndicationCaptured:
        type: date-only
      dateSyndicationUpdated:
        type: date-only
      dateSyndicationVisible:
        type: date-only
      description:
        type: string
        required: false
      extendedAttributes:
        type: object
        required: false
      externalGuid:
        type: string
        required: false
      foreignSyndicationAPIUrl:
        type: string
      hash:
        type: string
        required: false
      id:
        format: int64
        type: integer
      language:
        type: Language
      mediaType:
        type: string
      name:
        type: string
      source:
        type: Source
      sourceUrl:
        type: string
      targetUrl:
        type: string
        required: false
  Pagination:
    properties:
      count:
        format: int32
        type: integer
      currentUrl:
        type: string
      max:
        format: int32
        type: integer
      nextUrl:
        type: string
        required: false
      offset:
        format: int32
        type: integer
      pageNum:
        format: int32
        type: integer
      previousUrl:
        type: string
        required: false
      sort:
        type: string
      total:
        format: int32
        type: integer
      totalPages:
        format: int32
        type: integer
  Ratings:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: Likes
        type: array
  Resource:
    properties:
      id:
        format: int64
        type: integer
        required: false
      name:
        type: string
  ResourceList:
    properties:
      items:
        items:
          type: Resource
        type: array
      mediaType:
        type: string
  ResourceLists:
    properties:
      alternateImages:
        type: ResourceList
        required: false
      campaigns:
        type: ResourceList
        required: false
      collections:
        type: ResourceList
        required: false
      htmls:
        type: ResourceList
        required: false
      images:
        type: ResourceList
        required: false
      infographics:
        type: ResourceList
        required: false
      languages:
        type: ResourceList
        required: false
      socialMedias:
        type: ResourceList
        required: false
      sources:
        type: ResourceList
        required: false
      tagTypes:
        type: ResourceList
        required: false
      tags:
        type: ResourceList
        required: false
      videos:
        type: ResourceList
        required: false
  Resources:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: ResourceLists
        type: array
  Snippet:
    properties:
      snippet:
        type: string
  Source:
    properties:
      acronym:
        type: string
      contactEmail:
        type: string
        required: false
      id:
        format: int64
        type: integer
      largeLogoUrl:
        type: string
        required: false
      name:
        type: string
      smallLogoUrl:
        type: string
        required: false
      websiteUrl:
        type: string
  Sources:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: Source
        type: array
  SyndicatedMediaItem:
    properties:
      content:
        type: string
        required: false
      contentEncoding:
        type: string
        required: false
      contentType:
        type: string
        required: false
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      mediaType:
        type: string
        required: false
      name:
        type: string
        required: false
      text:
        type: string
        required: false
  SyndicatedMediaItems:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: SyndicatedMediaItem
        type: array
  Tag:
    properties:
      id:
        format: int64
        type: integer
      language:
        type: Language
      name:
        type: string
      type:
        type: TagType
  TagLanguage:
    properties:
      id:
        format: int64
        type: integer
      isoCode:
        type: string
      name:
        type: string
  TagLanguages:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: TagLanguage
        type: array
  TagType:
    properties:
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
      name:
        type: string
  TagTypes:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: TagType
        type: array
  Tags:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: Tag
        type: array
  Video:
    properties:
      createdBy:
        type: string
      customPreviewUrl:
        type: string
        required: false
      customThumbnailUrl:
        type: string
        required: false
      dateContentAuthored:
        type: date-only
        required: false
      dateContentPublished:
        type: date-only
        required: false
      dateContentReviewed:
        type: date-only
        required: false
      dateContentUpdated:
        type: date-only
        required: false
      dateSyndicationCaptured:
        type: date-only
      dateSyndicationUpdated:
        type: date-only
      dateSyndicationVisible:
        type: date-only
      description:
        type: string
        required: false
      duration:
        format: int32
        type: integer
      extendedAttributes:
        type: object
        required: false
      externalGuid:
        type: string
        required: false
      foreignSyndicationAPIUrl:
        type: string
      hash:
        type: string
        required: false
      height:
        format: int32
        type: integer
        required: false
      id:
        format: int64
        type: integer
      language:
        type: Language
      mediaType:
        type: string
      name:
        type: string
      source:
        type: Source
      sourceUrl:
        type: string
      targetUrl:
        type: string
        required: false
      width:
        format: int32
        type: integer
        required: false
  YoutubeMetadata:
    properties:
      callback:
        type: string
      meta:
        type: Meta
      results:
        items:
          type: object
        type: array
