#%RAML 1.0
title: I Am Real
version: 1.0.0
baseUri: 'http://api.iamreal.me/api/v2'
protocols:
  - HTTP
description: 'Use I Am Real''s patented technology to perform social, video, and SMS validation on your users.'
(oas-tags-definition):
  - description: Validate users phone number via SMS
    name: sms
  - description: Validate a user's Social Network profile
    name: social
  - description: Validate users by comparing live video of user with profile picture
    name: video
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_developers.iamreal.me_images_iamreal_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://developers.iamreal.me/swagger/spec.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): iamreal.me
/vfv:
  displayName: vfv
  post:
    displayName: POST Video Validation request
    (oas-summary): 'Setup video validation for specific user, and get global unique identifier (guid) to launch widget with'
    body:
      application/json:
        type: VideoValidationRequest
        (oas-body-name): body
        description: User Request Details
    responses:
      '200':
        body:
          application/json:
            type: UserValidationResponse
        description: Description was not specified
      '400':
        description: Description was not specified
      '401':
        description: Description was not specified
      '500':
        description: Description was not specified
    (oas-tags):
      - video
/users:
  displayName: users
  '/{userId}':
    displayName: '{userId}'
    /:
      post:
        displayName: POST User
        (oas-summary): Post a new / existing user for validation
        body:
          application/json:
            type: RegisterUserRequest
            (oas-body-name): body
            description: User Request Details
        responses:
          '200':
            description: No response was specified
          '202':
            description: Description was not specified
          '401':
            description: Description was not specified
          '404':
            description: Description was not specified
        (oas-tags):
          - social
      get:
        displayName: GET USER
        (oas-summary): Get Score and Significance for existing user
        responses:
          '200':
            body:
              application/json:
                type: UserValidationResponse
            description: Description was not specified
          '401':
            description: Description was not specified
          '404':
            description: Description was not specified
        queryParameters:
          appId:
            description: Application Id received when registered
            required: true
            type: string
          appSecret:
            description: |-

              Application secret received when registered
            required: true
            type: string
          token:
            description: Social network user token
            required: true
            type: string
        (oas-tags):
          - social
/sms:
  displayName: sms
  /verify:
    displayName: verify
    post:
      displayName: POST VERIFY
      (oas-summary): Post sms validation request
      responses:
        '200':
          description: No response was specified
        '202':
          description: Description was not specified
        '400':
          description: Description was not specified
        '401':
          description: Description was not specified
      queryParameters:
        appId:
          description: Application identifier. This never changes.
          required: true
          type: string
        appSecret:
          description: Application Secret. This should never be shared and should be done from server only.
          required: true
          type: string
        userId:
          description: User Id
          required: true
          type: string
        phoneNumber:
          description: Phone number provided by the user
          required: true
          type: string
        brand:
          description: 'Your brand name, which will appear in the SMS message '
          required: true
          type: string
      (oas-tags):
        - sms
  /check:
    displayName: check
    '/{userId}':
      displayName: '{userId}'
      /:
        get:
          displayName: GET VALIDATION
          (oas-summary): Validate that the code typed by user and the code sent are identical
          responses:
            '200':
              body:
                application/json:
                  type: SmsValidationResponse
              description: Description was not specified
            '400':
              description: Description was not specified
            '401':
              description: Description was not specified
          queryParameters:
            appId:
              description: Application Id
              required: true
              type: string
            appSecret:
              description: Application Secret
              required: true
              type: string
            phoneNumber:
              description: Phone number provided by the user
              required: true
              type: string
            validationCode:
              description: The validation code the user filled in
              required: true
              type: string
          (oas-tags):
            - sms
types:
  RegisterUserRequest:
    properties:
      appId:
        description: Application identifier. This never changes
        type: string
      appSecret:
        description: Application Secret. This should never be shared and should be done from server only
        type: string
      callbackUrl:
        description: The URL address I Am Real will call once the end user's score is calculated
        type: string
        required: false
      clientProof:
        description: A string that will be sent back with the analysis to prove that the response is sent from I Am Real servers
        type: string
        required: false
      token:
        description: Social network access token of the end user
        type: string
  SmsValidationResponse:
    properties:
      validated:
        description: 'True if codes are identical, false if not'
        type: boolean
  UserValidationResponse:
    properties:
      score:
        description: User Score (0-100)
        type: string
      significance:
        description: User Significance (0-100)
        type: string
      userId:
        description: User Id given by provider (e.g. Facebook Id)
        type: string
  VideoValidationRequest:
    properties:
      appId:
        description: Application identifier. This never changes
        type: string
      appSecret:
        description: Application Secret. This should never be shared and should be done from server only
        type: string
      callbackUrl:
        description: The URL address I Am Real will call with Video Validation result
        type: string
        required: false
      clientProof:
        description: A string that will be sent back with the validation to prove that the response is sent from I Am Real servers
        type: string
        required: false
      photoUrl:
        description: Url of photo to compare with live video. Link should be to an image that the user cannot modify
        type: string
      userId:
        description: User Identifier (e.g. Facebook User Id or email address
        type: string
  VideoValidationResponse:
    properties:
      guid:
        description: Global unique identifier (guid) to launch widget with
        type: string
      statusCode:
        description: status code (201 - Created)
        type: string
