#%RAML 1.0
title: import.io
version: '1.0'
baseUri: 'https://extraction.import.io/'
mediaType: application/json
protocols:
  - HTTPS
description: |-
  ## Introduction

  The import.io API is a [REST](http://en.wikipedia.org/wiki/Representational_state_transfer)ful API. It is designed as much as possible to have resource-oriented URLs and to use HTTP status codes to indicate API status.

  We use standard HTTP which can be understood by any HTTP client. Remember, you should never expose your secret API key in any public client-side code.

  JSON is always returned from the API on success.

  import.io uses conventional HTTP response codes to indicate success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing), and codes in the 5xx range indicate an error with our servers.

  All API requests *should* be made over HTTPS to `https://api.import.io/`

  (You can find our legacy docs [here](/legacy).)



  ## API Authentication

  You authenticate to the import.io API by providing your API key as URL query string parameter `_apikey`. You can manage your API key from [your account](https://import.io/data/account/).
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_d3sgt82prjfpwv.cloudfront.net_website2_271_img_import-logo-new-carmine.svg'
  (oas-x-origin):
    format: swagger
    url: 'http://api.docs.import.io/swagger-new.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): import.io
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-responses-default:
    type: any
    allowedTargets: Method
(oas-externalDocs):
  url: 'http://api.docs.import.io/'
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        _apikey:
          type: string
/query:
  displayName: query
  /runtime:
    displayName: runtime
    '/{runtimeConfigurationId}':
      displayName: '{runtimeConfigurationId}'
      uriParameters:
        runtimeConfigurationId:
          description: The URL to extract data from.
          required: true
          type: string
      get:
        displayName: extract
        description: |-
          This is the way to make a query onto the import.io platform.

          Find the Runtime Configuration ID on the integrate tab on your Extractor page. This is versioned, and will change when you save a new version of an Extractor.

          Example: https://extraction.import.io/query/runtime/6d190871-e0bc-4e9a-8ebd-1d9e21382c11?url=http://doom.import.io/row-tests/table-rows-1.html&_apiKey=YOUR_API_KEY
        (oas-summary): Simple Query
        (oas-responses-default):
          description: error payload
        responses:
          '200':
            body:
              application/json:
                example:
                  extractorData:
                    data:
                      - group:
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                          - New column:
                              - text: result 1
                    resourceId: 10047ea6137cb1a8d20e9ae5941706fd
                    url: 'http://doom.import.io/row-tests/table-rows-1.html'
                  pageData:
                    statusCode: 200
                    timestamp: 1459630910268
            description: Successful response
        queryParameters:
          url:
            description: The URL to extract data from.
            format: url
            required: true
            type: string
            facets:
              format: string
        securedBy:
          - api_key
        (oas-tags):
          - Query Methods
