#%RAML 1.0
title: Mailsquad
version: '0.9'
baseUri: 'https://api.inboxroute.com/api'
mediaType: application/json
protocols:
  - HTTPS
description: 'MailSquad offers an affordable and super easy way to create, send and track delightful emails.'
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_mailsquad.com_img_mailsquad-color.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://api.inboxroute.com/api/api-docs'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): inboxroute.com
  contact:
    url: 'https://mailsquad.com'
    email: support@mailsquad.com
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-responses: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-global-response-definition:
    type: any
    allowedTargets: Response
securitySchemes:
  mqApiKey:
    type: Pass Through
    describedBy:
      headers:
        Authorization:
          type: string
/subscription:
  displayName: subscription
  '/{listid}':
    displayName: '{listid}'
    uriParameters:
      listid:
        description: Unique 16 characters ID of the contact list
        required: true
        type: string
    post:
      displayName: POST_subscription-listid
      description: |
        Subscribe an email address to a list. This api call has the same behavior as
        a regular subscribe form. However, single opt-in is allowed for system integration
        purposes.

        - If email address does not exist, a new contact will be added to the list.
        - If email address exists custom fields will be updated and status will be put
          to unconfirmed or active depending of singleoptin value.
        - If current status if Active, this operation will only update the custom fields.
        - If singleoptin is true, no email confirmation will be sent. In that case,
          you must provide the subscribe's origin ip and confirmation date-time.
      body:
        application/json:
          type: SubscriptionRequest
          (oas-body-name): subscription
          description: Subscription request
      responses:
        '204':
          description: Empty response
        '401':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (AccesDenied)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: Invalid api key or key does not have access to this ressource
          (oas-global-response-definition): '401'
        '404':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (Object not found)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The requested resource was not found
          (oas-global-response-definition): '404'
        '422':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (ValidationError)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The request parameters were invalid
          (oas-global-response-definition): '422'
      securedBy:
        - mqApiKey
      (oas-tags):
        - subscription
/contacts:
  displayName: contacts
  '/{contactid}':
    displayName: '{contactid}'
    uriParameters:
      contactid:
        description: Unique 16 characters ID of the contact
        required: true
        type: string
    put:
      displayName: PUT_contacts-contactid
      description: Update an existing contact
      body:
        application/json:
          type: ContactUpdate
          (oas-body-name): contact
          description: Contact properties to update
      responses:
        '200':
          description: Empty response
        '401':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (AccesDenied)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: Invalid api key or key does not have access to this ressource
          (oas-global-response-definition): '401'
        '404':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (Object not found)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The requested resource was not found
          (oas-global-response-definition): '404'
        '422':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (ValidationError)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The request parameters were invalid
          (oas-global-response-definition): '422'
      securedBy:
        - mqApiKey
      (oas-tags):
        - contacts
    delete:
      displayName: DELETE_contacts-contactid
      description: Delete an existing contact
      responses:
        '200':
          description: Empty response
        '401':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (AccesDenied)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: Invalid api key or key does not have access to this ressource
          (oas-global-response-definition): '401'
        '404':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (Object not found)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The requested resource was not found
          (oas-global-response-definition): '404'
      securedBy:
        - mqApiKey
      (oas-tags):
        - contacts
  /lists:
    displayName: lists
    '/{listid}':
      displayName: '{listid}'
      uriParameters:
        listid:
          description: Unique 16 characters ID of the contact list
          required: true
          type: string
      put:
        displayName: PUT_contacts-lists-listid
        description: Update an existing contact list
        body:
          application/json:
            type: ContactListUpdate
            (oas-body-name): contactlist
            description: Contact list properties to update
        responses:
          '200':
            description: Empty response
          '401':
            body:
              application/json:
                items:
                  properties:
                    classification:
                      description: Type of error (AccesDenied)
                      type: string
                      required: false
                    message:
                      description: Human readable description of the error
                      type: string
                      required: false
                type: array
            description: Invalid api key or key does not have access to this ressource
            (oas-global-response-definition): '401'
          '404':
            body:
              application/json:
                items:
                  properties:
                    classification:
                      description: Type of error (Object not found)
                      type: string
                      required: false
                    message:
                      description: Human readable description of the error
                      type: string
                      required: false
                type: array
            description: The requested resource was not found
            (oas-global-response-definition): '404'
          '422':
            body:
              application/json:
                items:
                  properties:
                    classification:
                      description: Type of error (ValidationError)
                      type: string
                      required: false
                    message:
                      description: Human readable description of the error
                      type: string
                      required: false
                type: array
            description: The request parameters were invalid
            (oas-global-response-definition): '422'
        securedBy:
          - mqApiKey
        (oas-tags):
          - lists
      delete:
        displayName: DELETE_contacts-lists-listid
        description: Delete an existing contact list
        responses:
          '200':
            description: Empty response
          '401':
            body:
              application/json:
                items:
                  properties:
                    classification:
                      description: Type of error (AccesDenied)
                      type: string
                      required: false
                    message:
                      description: Human readable description of the error
                      type: string
                      required: false
                type: array
            description: Invalid api key or key does not have access to this ressource
            (oas-global-response-definition): '401'
          '404':
            body:
              application/json:
                items:
                  properties:
                    classification:
                      description: Type of error (Object not found)
                      type: string
                      required: false
                    message:
                      description: Human readable description of the error
                      type: string
                      required: false
                type: array
            description: The requested resource was not found
            (oas-global-response-definition): '404'
        securedBy:
          - mqApiKey
        (oas-tags):
          - lists
    post:
      displayName: POST_contacts-lists
      description: Add a new contact list
      body:
        application/json:
          type: ContactListUpdate
          (oas-body-name): contactlist
          description: Contact list initial properties
      responses:
        '200':
          body:
            application/json:
              type: NewId
          description: Page object
        '401':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (AccesDenied)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: Invalid api key or key does not have access to this ressource
          (oas-global-response-definition): '401'
        '422':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (ValidationError)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The request parameters were invalid
          (oas-global-response-definition): '422'
      securedBy:
        - mqApiKey
      (oas-tags):
        - lists
    get:
      displayName: GET_contacts-lists
      description: Get a paged result of contact lists.
      responses:
        '200':
          body:
            application/json:
              type: ContactListPage
          description: Page object
        '401':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (AccesDenied)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: Invalid api key or key does not have access to this ressource
          (oas-global-response-definition): '401'
        '404':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (Object not found)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The requested resource was not found
          (oas-global-response-definition): '404'
        '422':
          body:
            application/json:
              items:
                properties:
                  classification:
                    description: Type of error (ValidationError)
                    type: string
                    required: false
                  message:
                    description: Human readable description of the error
                    type: string
                    required: false
              type: array
          description: The request parameters were invalid
          (oas-global-response-definition): '422'
      queryParameters:
        offset:
          description: Skip that many records
          type: integer
        limit:
          description: Maximum number of items in page
          type: integer
        sort:
          description: Property to sort by. Append '-' for descending order.
          type: string
      securedBy:
        - mqApiKey
      (oas-tags):
        - lists
  get:
    displayName: GET_contacts
    description: Get a paged result of contacts from a list
    responses:
      '200':
        body:
          application/json:
            type: ContactPage
        description: Page object
      '401':
        body:
          application/json:
            items:
              properties:
                classification:
                  description: Type of error (AccesDenied)
                  type: string
                  required: false
                message:
                  description: Human readable description of the error
                  type: string
                  required: false
            type: array
        description: Invalid api key or key does not have access to this ressource
        (oas-global-response-definition): '401'
      '404':
        body:
          application/json:
            items:
              properties:
                classification:
                  description: Type of error (Object not found)
                  type: string
                  required: false
                message:
                  description: Human readable description of the error
                  type: string
                  required: false
            type: array
        description: The requested resource was not found
        (oas-global-response-definition): '404'
      '422':
        body:
          application/json:
            items:
              properties:
                classification:
                  description: Type of error (ValidationError)
                  type: string
                  required: false
                message:
                  description: Human readable description of the error
                  type: string
                  required: false
            type: array
        description: The request parameters were invalid
        (oas-global-response-definition): '422'
    queryParameters:
      listid:
        description: Unique 16 characters ID of the contact list to get contacts of
        type: string
      offset:
        description: Skip that many records
        type: integer
      limit:
        description: Maximum number of items in page
        type: integer
      sort:
        description: Property to sort by. Append '-' for descending order.
        type: string
    securedBy:
      - mqApiKey
    (oas-tags):
      - contacts
types:
  Contact:
    properties:
      _id:
        description: Unique 16 characters ID
        type: string
        required: false
      clientid:
        description: Unique 16 characters ID of the client owner
        type: string
        required: false
      confirmed:
        description: Date+time subscriber confirmed his/her list opt-in
        format: rfc3339
        type: datetime
        required: false
      customfields:
        description: Dictionnary of field key to value
        required: false
      email:
        description: Email address
        type: string
        required: false
      fullname:
        description: |
          Full name (Last name, First Name) of the subscriber
        type: string
        required: false
      ip:
        description: Subscriber's IP address when he/she confirmed list opt-in
        type: string
        required: false
      lang:
        description: |
          ISO 639-1 language code of the subscriber. When lang is one the supported system language, all communication
          will be in this language. 
        type: string
        required: false
      listid:
        description: Unique 16 characters ID of the list owner
        type: string
        required: false
      status:
        description: |
          Status (
            1- Active,
            2- Unconfirmed,
            3- Unsubscribed,
            4- Deleted,
            5- Cleaned because of hard bounce or spam complaint)
        type: integer
        required: false
  ContactAdd:
    properties:
      confirmed:
        description: Date+time subscriber confirmed his/her list opt-in
        format: rfc3339
        type: datetime
        required: false
      customfields:
        description: Dictionnary of field key to value
        required: false
      email:
        description: Email address
        type: string
      ip:
        description: Subscriber's IP address when he/she confirmed list opt-in
        type: string
        required: false
      listid:
        description: Unique 16 characters ID of the list owner
        type: string
      status:
        description: |
          Status (
            1- Active,
            2- Unconfirmed,
            3- Unsubscribed,
            4- Deleted,
            5- Cleaned because of hard bounce or spam complaint)
        type: integer
        required: false
  ContactCustomFieldSchema:
    properties:
      key:
        description: equivalent to html form input name attribute
        type: string
      label:
        description: User friendly label describing the field
        type: string
      required:
        description: Is field required
        type: boolean
        required: false
      type:
        description: |
          Type (
            1- String / text free form
            2- Numeric / integer or decimal
            3- Date / ISO 8601 format (YYYY/MM/DD)
          )
        type: integer
  ContactList:
    properties:
      _id:
        description: Unique 16 characters ID
        type: string
        required: false
      clientid:
        description: Unique 16 characters ID of the client owner
        type: string
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      customfields:
        description: Array of ContactCustomFieldSchema
        items:
          type: ContactCustomFieldSchema
        type: array
        required: false
      eventcustomizations:
        description: Array of ContactListEventCustomization
        items:
          type: ContactListEventCustomization
        type: array
        required: false
      name:
        description: Name of the contact list
        type: string
        required: false
  ContactListEventCustomization:
    properties:
      redirecturl:
        description: full url of the destination landing page
        type: string
        required: false
      type:
        description: |
          Type (
            1- Subscribe confirmation request landing page
            2- Subscribe opt-in landing page
            3- Unsubscribe confirmation landing page
          )
        type: integer
  ContactListPage:
    properties:
      page:
        description: Array of ContactList for that page
        items:
          type: ContactList
        type: array
        required: false
      total:
        description: Total number of items in query
        type: integer
        required: false
  ContactListUpdate:
    properties:
      customfields:
        description: Array of ContactCustomFieldSchema
        items:
          type: ContactCustomFieldSchema
        type: array
        required: false
      eventcustomizations:
        description: Array of ContactListEventCustomization
        items:
          type: ContactListEventCustomization
        type: array
        required: false
      name:
        description: Name of the contact list
        type: string
        required: false
  ContactPage:
    properties:
      page:
        description: Array of Contact for that page
        items:
          type: Contact
        type: array
        required: false
      total:
        description: Total number of items in query
        type: integer
        required: false
  ContactUpdate:
    properties:
      confirmed:
        description: Date+time subscriber confirmed his/her list opt-in
        format: rfc3339
        type: datetime
        required: false
      customfields:
        description: Dictionnary of field key to value
        required: false
      email:
        description: Email address
        type: string
        required: false
      ip:
        description: Subscriber's IP address when he/she confirmed list opt-in
        type: string
        required: false
      status:
        description: |
          Status (
            1- Active,
            2- Unconfirmed,
            3- Unsubscribed,
            4- Deleted,
            5- Cleaned because of hard bounce or spam complaint)
        type: integer
        required: false
  NewId:
    properties:
      _id:
        description: The created ressource id
        type: string
        required: false
  SubscriptionRequest:
    properties:
      confirmed:
        description: Date-time when subscriber opted-in. Required if singleoptin is true.
        format: rfc3339
        type: datetime
        required: false
      email:
        description: Email address of the subscriber
        type: string
      fullname:
        description: |
          Full name (Last name, First Name) of the subscriber
        type: string
        required: false
      ip:
        description: Origin Ip of the subscriber when he/she opted-in. Required if singleoptin is true.
        type: string
        required: false
      lang:
        description: |
          ISO 639-1 language code of the subscriber. When lang is one the supported system language, all communication
          will be in this language.
        type: string
        required: false
      singleoptin:
        description: |
          If true, no email will be sent asking user subscription confirmation. In that case, you must provide
          the confirmation date (confirmed) and origin ip (ip) manually.
        type: boolean
        required: false
(oas-responses):
  '401':
    body:
      items:
        properties:
          classification:
            description: Type of error (AccesDenied)
            type: string
            required: false
          message:
            description: Human readable description of the error
            type: string
            required: false
      type: array
    description: Invalid api key or key does not have access to this ressource
  '404':
    body:
      items:
        properties:
          classification:
            description: Type of error (Object not found)
            type: string
            required: false
          message:
            description: Human readable description of the error
            type: string
            required: false
      type: array
    description: The requested resource was not found
  '422':
    body:
      items:
        properties:
          classification:
            description: Type of error (ValidationError)
            type: string
            required: false
          message:
            description: Human readable description of the error
            type: string
            required: false
      type: array
    description: The request parameters were invalid
