#%RAML 1.0
title: Indix
version: 2.0.0
baseUri: 'https://api.indix.com/'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-apisguru-categories):
    - analytics
    - ecommerce
  (oas-x-logo):
    backgroundColor: '#444444'
    url: 'https://api.apis.guru/v2/cache/logo/https_www.indix.com_wp-content_themes_indix2015_images_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://developer.indix.com/swagger/spec/INDIX_API_V2.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): indix.com
  (oas-x-tags):
    - DaaS
    - Product information
annotationTypes:
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-tags: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://docs.indix.com/'
/v2:
  displayName: v2
  /offersPremium:
    displayName: offersPremium
    /products:
      displayName: products
      get:
        displayName: GET_v2-offersPremium-products
        description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
        (oas-summary): 'Search Products - Retrieves a list of products matching a variety of query parameters with offers info across stores - Credits: 　n x 4'
        responses:
          '200':
            description: Response
        queryParameters:
          countryCode:
            description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
            required: true
            type: string
          q:
            description: The product search term
            required: false
            type: string
          storeId:
            collectionFormat: multi
            description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          alsoSoldAt:
            collectionFormat: multi
            description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          brandId:
            collectionFormat: multi
            description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          categoryId:
            collectionFormat: multi
            description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          url:
            description: Search by product URL
            required: false
            type: string
          upc:
            description: Limit results to products with this UPC
            required: false
            type: string
          mpn:
            description: Limit results to products with this MPN
            required: false
            type: string
          sku:
            description: Limit results to products with this SKU
            required: false
            type: string
          startPrice:
            description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          endPrice:
            description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          availability:
            description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
            required: false
            type: string
          priceHistoryAvailable:
            description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
            required: false
            type: string
          priceChange:
            description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
            required: false
            type: string
          onPromotion:
            description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
            required: false
            type: string
          lastRecordedIn:
            description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
            required: false
            type: string
          storesCount:
            description: Limits results to products with at least a certain number of stores
            required: false
            type: string
          applyFiltersTo:
            description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
            required: false
            type: string
          selectOffersFrom:
            description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
            required: false
            type: string
          sortBy:
            description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
            required: false
            type: string
          facetBy:
            collectionFormat: multi
            description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          pageNumber:
            description: The page number of the result set to return. 10 results per page.
            required: false
            type: string
          pageSize:
            description: 'Number of results per page. Allowed values - 10, 20, 50.'
            required: false
            type: string
          app_id:
            description: Your application id
            required: true
            type: string
          app_key:
            description: Your application key
            required: true
            type: string
        (oas-tags):
          - 2 - Product Search
      '/{mpid}':
        displayName: '{mpid}'
        uriParameters:
          mpid:
            description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
            required: true
            type: string
        get:
          displayName: GET_v2-offersPremium-products-mpid
          description: <p>This operation returns the offers premium information for the specified product across all the stores where it is sold at. This consumes 4 credits.
          (oas-summary): 'Product Details - Returns offers premium information for a product - Credits: 　4'
          responses:
            '200':
              description: Response
          queryParameters:
            countryCode:
              description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
              required: true
              type: string
            pageNumber:
              description: 'The page number of the result set to return. 50 results per page, plus similar items'
              required: false
              type: string
            app_id:
              description: Your application id
              required: true
              type: string
            app_key:
              description: Your application key
              required: true
              type: string
          (oas-tags):
            - 3 - Product Lookup
    /bulk:
      displayName: bulk
      /lookup:
        displayName: lookup
        post:
          displayName: POST_v2-offersPremium-bulk-lookup
          description: This operation returns the offers premium information for the specified product across all the stores where it is sold at. This consumes 4 credits per product returned.
          (oas-summary): 'Bulk Product Details - Returns offers premium information for a product - Credits: 　n x 4'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                file:
                  description: |-
                    File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
                    {"mpn": "mpn1", "brandId":  123}
                    {"sku": "mpn1", "storeId":  123}</pre>
                  required: true
                  type: file
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 6 - Bulk Product Lookup
      /products:
        displayName: products
        post:
          displayName: POST_v2-offersPremium-bulk-products
          description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
          (oas-summary): 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with offers info across stores - Credits: 　n x 4'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                storeId:
                  collectionFormat: multi
                  description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                alsoSoldAt:
                  collectionFormat: multi
                  description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                brandId:
                  collectionFormat: multi
                  description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                categoryId:
                  collectionFormat: multi
                  description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                startPrice:
                  description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                endPrice:
                  description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                availability:
                  description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
                  required: false
                  type: string
                priceHistoryAvailable:
                  description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                priceChange:
                  description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
                  required: false
                  type: string
                onPromotion:
                  description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                lastRecordedIn:
                  description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
                  required: false
                  type: string
                storesCount:
                  description: Limits results to products with at least a certain number of stores
                  required: false
                  type: string
                applyFiltersTo:
                  description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
                  required: false
                  type: string
                selectOffersFrom:
                  description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
                  required: false
                  type: string
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 5 - Bulk Product Search
  /universal:
    displayName: universal
    /products:
      displayName: products
      '/{mpid}':
        displayName: '{mpid}'
        uriParameters:
          mpid:
            description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
            required: true
            type: string
        get:
          displayName: GET_v2-universal-products-mpid
          description: <p>This operation returns the complete information for the specified product across all the stores where it is sold at. This consumes 22 credits.
          (oas-summary): 'Product Details - Returns complete information for a product - Credits: 　22'
          responses:
            '200':
              description: Response
          queryParameters:
            countryCode:
              description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
              required: true
              type: string
            pageNumber:
              description: 'The page number of the result set to return. 50 results per page, plus similar items'
              required: false
              type: string
            app_id:
              description: Your application id
              required: true
              type: string
            app_key:
              description: Your application key
              required: true
              type: string
          (oas-tags):
            - 3 - Product Lookup
      get:
        displayName: GET_v2-universal-products
        description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 22 credits per product returned.'
        (oas-summary): Search Products - Retrieves a list of products matching a variety of query parameters with their offers and catalog info across stores - Cr
        responses:
          '200':
            description: Response
        queryParameters:
          countryCode:
            description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
            required: true
            type: string
          q:
            description: The product search term
            required: false
            type: string
          storeId:
            collectionFormat: multi
            description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          alsoSoldAt:
            collectionFormat: multi
            description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          brandId:
            collectionFormat: multi
            description: Limits results to products of brand with id int. Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          categoryId:
            collectionFormat: multi
            description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          url:
            description: Search by product URL
            required: false
            type: string
          upc:
            description: Limit results to products with this UPC
            required: false
            type: string
          mpn:
            description: Limit results to products with this MPN
            required: false
            type: string
          sku:
            description: Limit results to products with this SKU
            required: false
            type: string
          startPrice:
            description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          endPrice:
            description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          availability:
            description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
            required: false
            type: string
          priceHistoryAvailable:
            description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
            required: false
            type: string
          priceChange:
            description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
            required: false
            type: string
          onPromotion:
            description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
            required: false
            type: string
          lastRecordedIn:
            description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
            required: false
            type: string
          storesCount:
            description: Limits results to products with at least a certain number of stores
            required: false
            type: string
          applyFiltersTo:
            description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
            required: false
            type: string
          selectOffersFrom:
            description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
            required: false
            type: string
          sortBy:
            description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
            required: false
            type: string
          facetBy:
            collectionFormat: multi
            description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          pageNumber:
            description: The page number of the result set to return. 10 results per page.
            required: false
            type: string
          pageSize:
            description: 'Number of results per page. Allowed values - 10, 20, 50.'
            required: false
            type: string
          app_id:
            description: Your application id
            required: true
            type: string
          app_key:
            description: Your application key
            required: true
            type: string
        (oas-tags):
          - 2 - Product Search
    /bulk:
      displayName: bulk
      /products:
        displayName: products
        post:
          displayName: POST_v2-universal-bulk-products
          description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 22 credits per product returned.'
          (oas-summary): Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their offers and catalog info across stores
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                storeId:
                  collectionFormat: multi
                  description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                alsoSoldAt:
                  collectionFormat: multi
                  description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                brandId:
                  collectionFormat: multi
                  description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                categoryId:
                  collectionFormat: multi
                  description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                startPrice:
                  description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                endPrice:
                  description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                availability:
                  description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
                  required: false
                  type: string
                priceHistoryAvailable:
                  description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                priceChange:
                  description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
                  required: false
                  type: string
                onPromotion:
                  description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                lastRecordedIn:
                  description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
                  required: false
                  type: string
                storesCount:
                  description: Limits results to products with at least a certain number of stores
                  required: false
                  type: string
                applyFiltersTo:
                  description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
                  required: false
                  type: string
                selectOffersFrom:
                  description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
                  required: false
                  type: string
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 5 - Bulk Product Search
      /lookup:
        displayName: lookup
        post:
          displayName: POST_v2-universal-bulk-lookup
          description: This operation returns the complete information for the specified product across all the stores where it is sold at. This consumes 22 credits per product returned.
          (oas-summary): 'Bulk Product Details - Returns complete information for a product - Credits: 　n x 22'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                file:
                  description: |-
                    File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
                    {"mpn": "mpn1", "brandId":  123}
                    {"sku": "mpn1", "storeId":  123}</pre>
                  required: true
                  type: file
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 6 - Bulk Product Lookup
      /ase:
        displayName: ase
        post:
          displayName: POST_v2-universal-bulk-ase
          description: Used  to  get a set of  exact and close matches for a given set of  query parameters. You must  include <b>productTitle</b> as a parameter. This consumes 25 credits per product returned.
          (oas-summary): 'ASE Universal Bulk - Returns a set of  exact and close matches - Credits: 　n x 25'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                file:
                  description: |-
                    File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"productTitle": "Men's Hush  Puppies Circuit Slip  On  MT  Black Leather","brandName": "Hush Puppies","sku": "4784976","mpn": "HM01021-003","upc": "00018467091622"}
                    {"productTitle": "LPS LPS 2 Brown Penetrating Lubricant - 55  gal Drum  - Food  Grade,  Military  Grade - 00255 [PRICE  is  per DRUM]" ,"mpn": "00255","upc": "078827002552"}
                    {"productTitle": "LPS LPS 2 Brown Penetrating Lubricant - 55  gal Drum  - Food  Grade,  Military  Grade - 00255 [PRICE  is  per DRUM]", "upc": "078827002552"}
                    {"productTitle": "LPS LPS 2 Brown Penetrating Lubricant - 55  gal Drum  - Food  Grade,  Military  Grade - 00255 [PRICE  is  per DRUM]"}</pre>
                  required: true
                  type: file
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 8 - Advanced Search Endpoint
  /brands:
    displayName: brands
    get:
      displayName: GET_v2-brands
      description: '<p>Lists all brands, along with their IDs, matching query term. Does not support wildcards. Limit is 10 results per query. This API does not consume any credits.'
      (oas-summary): 'Search Brands - Lists all brands along with their IDs - Credits: 　0'
      responses:
        '200':
          description: Response
      queryParameters:
        q:
          description: Search term to match against brand name. Partial match. Case insensitive.
          required: true
          type: string
        app_id:
          description: Your application id
          required: true
          type: string
        app_key:
          description: Your application key
          required: true
          type: string
      (oas-tags):
        - '1 - Brand, Store & Category lookup'
  /offersStandard:
    displayName: offersStandard
    /bulk:
      displayName: bulk
      /lookup:
        displayName: lookup
        post:
          displayName: POST_v2-offersStandard-bulk-lookup
          description: This operation returns the offers standard information for the specified product from a single storeId. This consumes 4 credits per product returned.
          (oas-summary): 'Bulk Product Details - Returns offers standard information for a product from a single storeId - Credits: 　n x 4'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                file:
                  description: |-
                    File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
                    {"mpn": "mpn1", "brandId":  123}
                    {"sku": "mpn1", "storeId":  123}</pre>
                  required: true
                  type: file
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 6 - Bulk Product Lookup
      /products:
        displayName: products
        post:
          displayName: POST_v2-offersStandard-bulk-products
          description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
          (oas-summary): 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with offers info from a store - Credits: 　n x 4'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                storeId:
                  collectionFormat: multi
                  description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                alsoSoldAt:
                  collectionFormat: multi
                  description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                brandId:
                  collectionFormat: multi
                  description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                categoryId:
                  collectionFormat: multi
                  description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                startPrice:
                  description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                endPrice:
                  description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                availability:
                  description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
                  required: false
                  type: string
                priceHistoryAvailable:
                  description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                priceChange:
                  description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
                  required: false
                  type: string
                onPromotion:
                  description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                lastRecordedIn:
                  description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
                  required: false
                  type: string
                storesCount:
                  description: Limits results to products with at least a certain number of stores
                  required: false
                  type: string
                applyFiltersTo:
                  description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
                  required: false
                  type: string
                selectOffersFrom:
                  description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
                  required: false
                  type: string
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 5 - Bulk Product Search
    /products:
      displayName: products
      get:
        displayName: GET_v2-offersStandard-products
        description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
        (oas-summary): 'Search Products - Retrieves a list of products matching a variety of query parameters with offers info from a store - Credits: 　n x 4'
        responses:
          '200':
            description: Response
        queryParameters:
          countryCode:
            description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
            required: true
            type: string
          q:
            description: The product search term
            required: false
            type: string
          storeId:
            description: Limits results to products sold at store with id.
            required: true
            type: string
          alsoSoldAt:
            collectionFormat: multi
            description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          brandId:
            collectionFormat: multi
            description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          categoryId:
            collectionFormat: multi
            description: Limits results to products of category with this id. Support multiple values (acts as OR operator
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          url:
            description: Search by product URL
            required: false
            type: string
          upc:
            description: Limit results to products with this UPC
            required: false
            type: string
          mpn:
            description: Limit results to products with this MPN
            required: false
            type: string
          sku:
            description: Limit results to products with this SKU
            required: false
            type: string
          startPrice:
            description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          endPrice:
            description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          availability:
            description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
            required: false
            type: string
          priceHistoryAvailable:
            description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
            required: false
            type: string
          priceChange:
            description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
            required: false
            type: string
          onPromotion:
            description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
            required: false
            type: string
          lastRecordedIn:
            description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
            required: false
            type: string
          storesCount:
            description: Limits results to products with at least a certain number of stores
            required: false
            type: string
          applyFiltersTo:
            description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
            required: false
            type: string
          selectOffersFrom:
            description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
            required: false
            type: string
          sortBy:
            description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
            required: false
            type: string
          facetBy:
            collectionFormat: multi
            description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          pageNumber:
            description: The page number of the result set to return. 10 results per page.
            required: false
            type: string
          pageSize:
            description: 'Number of results per page. Allowed values - 10, 20, 50.'
            required: false
            type: string
          app_id:
            description: Your application id
            required: true
            type: string
          app_key:
            description: Your application key
            required: true
            type: string
        (oas-tags):
          - 2 - Product Search
      '/{mpid}':
        displayName: '{mpid}'
        uriParameters:
          mpid:
            description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
            required: true
            type: string
        get:
          displayName: GET_v2-offersStandard-products-mpid
          description: <p>This operation returns the offers standard information for the specified product from a single storeId. This consumes 4 credits.
          (oas-summary): 'Product Details - Returns offers standard information for a product from a single storeId - Credits: 　4'
          responses:
            '200':
              description: Response
          queryParameters:
            countryCode:
              description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
              required: true
              type: string
            storeId:
              description: Limits results to offers from this store
              required: true
              type: string
            pageNumber:
              description: 'The page number of the result set to return. 50 results per page, plus similar items'
              required: false
              type: string
            app_id:
              description: Your application id
              required: true
              type: string
            app_key:
              description: Your application key
              required: true
              type: string
          (oas-tags):
            - 3 - Product Lookup
  /bulk:
    displayName: bulk
    /ase:
      displayName: ase
      '/{jobId}':
        displayName: '{jobId}'
        /download:
          displayName: download
          get:
            displayName: GET_v2-bulk-ase-jobId-download
            description: API downloads the products as a file. This API does not consume any credits.
            (oas-summary): 'ASE Bulk - Download the products as a file - Credits: 　0'
            responses:
              '200':
                description: Response
            queryParameters:
              app_id:
                description: Your application id
                required: true
                type: string
              app_key:
                description: Your application key
                required: true
                type: string
            (oas-tags):
              - 8 - Advanced Search Endpoint
        uriParameters:
          jobId:
            description: The id that would be used to query the status of the submitted job and download the final products
            required: true
            type: string
        get:
          displayName: GET_v2-bulk-ase-jobId
          description: API returns the status  of  the bulk  Job. This API does not consume any credits.
          (oas-summary): 'ASE Bulk - Get job status - Credits: 　0'
          responses:
            '200':
              description: Response
          queryParameters:
            app_id:
              description: Your application id
              required: true
              type: string
            app_key:
              description: Your application key
              required: true
              type: string
          (oas-tags):
            - 8 - Advanced Search Endpoint
    /jobs:
      displayName: jobs
      '/{jobId}':
        displayName: '{jobId}'
        /download:
          displayName: download
          get:
            displayName: GET_v2-bulk-jobs-jobId-download
            description: API downloads the products as a file. This API does not consume any credits.
            (oas-summary): 'Bulk - Download the products as a file - Credits: 　0'
            responses:
              '200':
                description: Response
            queryParameters:
              app_id:
                description: Your application id
                required: true
                type: string
              app_key:
                description: Your application key
                required: true
                type: string
            (oas-tags):
              - 7 - Bulk job status and download
        uriParameters:
          jobId:
            description: The id that would be used to query the status of the submitted job and download the final products
            required: true
            type: string
        get:
          displayName: GET_v2-bulk-jobs-jobId
          description: API returns the status  of  the bulk  Job. This API does not consume any credits.
          (oas-summary): 'Bulk - Get job status - Credits: 　0'
          responses:
            '200':
              description: Response
          queryParameters:
            app_id:
              description: Your application id
              required: true
              type: string
            app_key:
              description: Your application key
              required: true
              type: string
          (oas-tags):
            - 7 - Bulk job status and download
  /catalogPremium:
    displayName: catalogPremium
    /bulk:
      displayName: bulk
      /products:
        displayName: products
        post:
          displayName: POST_v2-catalogPremium-bulk-products
          description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
          (oas-summary): 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their catalog info across stores - Credits:'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                storeId:
                  collectionFormat: multi
                  description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                alsoSoldAt:
                  collectionFormat: multi
                  description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                brandId:
                  collectionFormat: multi
                  description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                categoryId:
                  collectionFormat: multi
                  description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                startPrice:
                  description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                endPrice:
                  description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                availability:
                  description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
                  required: false
                  type: string
                priceHistoryAvailable:
                  description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                priceChange:
                  description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
                  required: false
                  type: string
                onPromotion:
                  description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                lastRecordedIn:
                  description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
                  required: false
                  type: string
                storesCount:
                  description: Limits results to products with at least a certain number of stores
                  required: false
                  type: string
                applyFiltersTo:
                  description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
                  required: false
                  type: string
                selectOffersFrom:
                  description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
                  required: false
                  type: string
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 5 - Bulk Product Search
      /lookup:
        displayName: lookup
        post:
          displayName: POST_v2-catalogPremium-bulk-lookup
          description: This operation returns the catalog premium information for the specified product across all the stores where it is sold at. This consumes 18 credits per product returned.
          (oas-summary): 'Bulk Product Details - Returns catalog premium information for a product - Credits: 　n x 18'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                file:
                  description: |-
                    File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
                    {"mpn": "mpn1", "brandId":  123}
                    {"sku": "mpn1", "storeId":  123}</pre>
                  required: true
                  type: file
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 6 - Bulk Product Lookup
    /products:
      displayName: products
      '/{mpid}':
        displayName: '{mpid}'
        uriParameters:
          mpid:
            description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
            required: true
            type: string
        get:
          displayName: GET_v2-catalogPremium-products-mpid
          description: <p>This operation returns the catalog premium information for the specified product across all the stores where it is sold at. This consumes 18 credits.
          (oas-summary): 'Product Details - Returns catalog premium information for a product - Credits: 　18'
          responses:
            '200':
              description: Response
          queryParameters:
            countryCode:
              description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
              required: true
              type: string
            pageNumber:
              description: 'The page number of the result set to return. 50 results per page, plus similar items'
              required: false
              type: string
            app_id:
              description: Your application id
              required: true
              type: string
            app_key:
              description: Your application key
              required: true
              type: string
          (oas-tags):
            - 3 - Product Lookup
      get:
        displayName: GET_v2-catalogPremium-products
        description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
        (oas-summary): 'Search Products - Retrieves a list of products matching a variety of query parameters with their catalog info across stores - Credits: 　n x'
        responses:
          '200':
            description: Response
        queryParameters:
          countryCode:
            description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
            required: true
            type: string
          q:
            description: The product search term
            required: false
            type: string
          storeId:
            collectionFormat: multi
            description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          alsoSoldAt:
            collectionFormat: multi
            description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          brandId:
            collectionFormat: multi
            description: Limits results to products of brand with id int. Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          categoryId:
            collectionFormat: multi
            description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          url:
            description: Search by product URL
            required: false
            type: string
          upc:
            description: Limit results to products with this UPC
            required: false
            type: string
          mpn:
            description: Limit results to products with this MPN
            required: false
            type: string
          sku:
            description: Limit results to products with this SKU
            required: false
            type: string
          startPrice:
            description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          endPrice:
            description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          availability:
            description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
            required: false
            type: string
          priceHistoryAvailable:
            description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
            required: false
            type: string
          priceChange:
            description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
            required: false
            type: string
          onPromotion:
            description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
            required: false
            type: string
          lastRecordedIn:
            description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
            required: false
            type: string
          storesCount:
            description: Limits results to products with at least a certain number of stores
            required: false
            type: string
          applyFiltersTo:
            description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
            required: false
            type: string
          selectOffersFrom:
            description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
            required: false
            type: string
          sortBy:
            description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
            required: false
            type: string
          facetBy:
            collectionFormat: multi
            description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          pageNumber:
            description: The page number of the result set to return. 10 results per page.
            required: false
            type: string
          pageSize:
            description: 'Number of results per page. Allowed values - 10, 20, 50.'
            required: false
            type: string
          app_id:
            description: Your application id
            required: true
            type: string
          app_key:
            description: Your application key
            required: true
            type: string
        (oas-tags):
          - 2 - Product Search
  /products:
    displayName: products
    /suggestions:
      displayName: suggestions
      get:
        displayName: GET_v2-products-suggestions
        description: <p>Lists all search suggestions matching the query term. Does not support wildcards. Limit 100 results per query. This API does not consume any credits.
        (oas-summary): 'Search Suggestions - Lists all product search suggestions - Credits: 　0'
        responses:
          '200':
            description: Response
        queryParameters:
          countryCode:
            description: Limits results to products of the geography with this code.
            required: true
            type: string
          q:
            description: Query term for which suggestions are to be provided
            required: true
            type: string
          app_id:
            description: Your application id
            required: true
            type: string
          app_key:
            description: Your application key
            required: true
            type: string
        (oas-tags):
          - 4 - Search suggestions
  /catalogStandard:
    displayName: catalogStandard
    /bulk:
      displayName: bulk
      /products:
        displayName: products
        post:
          displayName: POST_v2-catalogStandard-bulk-products
          description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
          (oas-summary): 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their aggregated catalog info - Credits: 　n'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                storeId:
                  collectionFormat: multi
                  description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                alsoSoldAt:
                  collectionFormat: multi
                  description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                brandId:
                  collectionFormat: multi
                  description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                categoryId:
                  collectionFormat: multi
                  description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                startPrice:
                  description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                endPrice:
                  description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                availability:
                  description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
                  required: false
                  type: string
                priceHistoryAvailable:
                  description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                priceChange:
                  description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
                  required: false
                  type: string
                onPromotion:
                  description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                lastRecordedIn:
                  description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
                  required: false
                  type: string
                storesCount:
                  description: Limits results to products with at least a certain number of stores
                  required: false
                  type: string
                applyFiltersTo:
                  description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
                  required: false
                  type: string
                selectOffersFrom:
                  description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
                  required: false
                  type: string
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 5 - Bulk Product Search
      /lookup:
        displayName: lookup
        post:
          displayName: POST_v2-catalogStandard-bulk-lookup
          description: This operation returns the catalog standard information for the specified product across all the stores where it is sold at. This consumes 18 credits per product returned.
          (oas-summary): 'Bulk Product Details - Returns catalog standard information for a product - Credits: 　n x 18'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                file:
                  description: |-
                    File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
                    {"mpn": "mpn1", "brandId":  123}
                    {"sku": "mpn1", "storeId":  123}</pre>
                  required: true
                  type: file
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 6 - Bulk Product Lookup
    /products:
      displayName: products
      '/{mpid}':
        displayName: '{mpid}'
        uriParameters:
          mpid:
            description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
            required: true
            type: string
        get:
          displayName: GET_v2-catalogStandard-products-mpid
          description: <p>This operation returns the catalog standard information for the specified product across all the stores where it is sold at. This consumes 18 credits.
          (oas-summary): 'Product Details - Returns catalog standard information for a product - Credits: 　18'
          responses:
            '200':
              description: Response
          queryParameters:
            countryCode:
              description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
              required: true
              type: string
            pageNumber:
              description: 'The page number of the result set to return. 50 results per page, plus similar items'
              required: false
              type: string
            app_id:
              description: Your application id
              required: true
              type: string
            app_key:
              description: Your application key
              required: true
              type: string
          (oas-tags):
            - 3 - Product Lookup
      get:
        displayName: GET_v2-catalogStandard-products
        description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
        (oas-summary): 'Search Products - Retrieves a list of products matching a variety of query parameters with their aggregated catalog info - Credits: 　n x 18'
        responses:
          '200':
            description: Response
        queryParameters:
          countryCode:
            description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
            required: true
            type: string
          q:
            description: The product search term
            required: false
            type: string
          storeId:
            collectionFormat: multi
            description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          alsoSoldAt:
            collectionFormat: multi
            description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          brandId:
            collectionFormat: multi
            description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          categoryId:
            collectionFormat: multi
            description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          url:
            description: Search by product URL
            required: false
            type: string
          upc:
            description: Limit results to products with this UPC
            required: false
            type: string
          mpn:
            description: Limit results to products with this MPN
            required: false
            type: string
          sku:
            description: Limit results to products with this SKU
            required: false
            type: string
          startPrice:
            description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          endPrice:
            description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          availability:
            description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
            required: false
            type: string
          priceHistoryAvailable:
            description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
            required: false
            type: string
          priceChange:
            description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
            required: false
            type: string
          onPromotion:
            description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
            required: false
            type: string
          lastRecordedIn:
            description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
            required: false
            type: string
          storesCount:
            description: Limits results to products with at least a certain number of stores
            required: false
            type: string
          applyFiltersTo:
            description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
            required: false
            type: string
          selectOffersFrom:
            description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
            required: false
            type: string
          sortBy:
            description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
            required: false
            type: string
          facetBy:
            collectionFormat: multi
            description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          pageNumber:
            description: The page number of the result set to return. 10 results per page.
            required: false
            type: string
          pageSize:
            description: 'Number of results per page. Allowed values - 10, 20, 50.'
            required: false
            type: string
          app_id:
            description: Your application id
            required: true
            type: string
          app_key:
            description: Your application key
            required: true
            type: string
        (oas-tags):
          - 2 - Product Search
  /stores:
    displayName: stores
    get:
      displayName: GET_v2-stores
      description: '<p>Lists all stores, along with their IDs, matching the query term. Does not support wildcards. Limit 10 results per query. This API does not consume any credits.'
      (oas-summary): 'Search Stores - Lists all stores along with their IDs - Credits: 　0'
      responses:
        '200':
          description: Response
      queryParameters:
        q:
          description: Search term to match against store name or the store domain. Partial match. Case insensitive
          required: true
          type: string
        app_id:
          description: Your application id
          required: true
          type: string
        app_key:
          description: Your application key
          required: true
          type: string
      (oas-tags):
        - '1 - Brand, Store & Category lookup'
  /summary:
    displayName: summary
    /bulk:
      displayName: bulk
      /lookup:
        displayName: lookup
        post:
          displayName: POST_v2-summary-bulk-lookup
          description: This operation returns the summary information for the specified product. This consumes 2 credits per product returned.
          (oas-summary): 'Bulk Product Details - Returns summary information for a product - Credits: 　n x 2'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                file:
                  description: |-
                    File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
                    {"mpn": "mpn1", "brandId":  123}
                    {"sku": "mpn1", "storeId":  123}</pre>
                  required: true
                  type: file
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 6 - Bulk Product Lookup
      /products:
        displayName: products
        post:
          displayName: POST_v2-summary-bulk-products
          description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 2 credits per product returned.'
          (oas-summary): 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their summary info - Credits: 　n x 2'
          body:
            multipart/form-data:
              properties:
                countryCode:
                  description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
                  required: true
                  type: string
                storeId:
                  collectionFormat: multi
                  description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                alsoSoldAt:
                  collectionFormat: multi
                  description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                brandId:
                  collectionFormat: multi
                  description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                categoryId:
                  collectionFormat: multi
                  description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
                  items:
                    type: string
                  required: false
                  type: array
                  facets:
                    collectionFormat: string
                startPrice:
                  description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                endPrice:
                  description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
                  required: false
                  type: string
                availability:
                  description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
                  required: false
                  type: string
                priceHistoryAvailable:
                  description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                priceChange:
                  description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
                  required: false
                  type: string
                onPromotion:
                  description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
                  required: false
                  type: string
                lastRecordedIn:
                  description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
                  required: false
                  type: string
                storesCount:
                  description: Limits results to products with at least a certain number of stores
                  required: false
                  type: string
                applyFiltersTo:
                  description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
                  required: false
                  type: string
                selectOffersFrom:
                  description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
                  required: false
                  type: string
                app_id:
                  description: Your application id
                  required: true
                  type: string
                app_key:
                  description: Your application key
                  required: true
                  type: string
          responses:
            '200':
              description: Response
          (oas-tags):
            - 5 - Bulk Product Search
    /products:
      displayName: products
      get:
        displayName: GET_v2-summary-products
        description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 2 credits per product returned.'
        (oas-summary): 'Search Products - Retrieves a list of products matching a variety of query parameters with their summary info - Credits: 　n x 2'
        responses:
          '200':
            description: Response
        queryParameters:
          countryCode:
            description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
            required: true
            type: string
          q:
            description: The product search term
            required: false
            type: string
          storeId:
            collectionFormat: multi
            description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          alsoSoldAt:
            collectionFormat: multi
            description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          brandId:
            collectionFormat: multi
            description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          categoryId:
            collectionFormat: multi
            description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
            items:
              type: string
            required: false
            type: array
            facets:
              collectionFormat: string
          url:
            description: Search by product URL
            required: false
            type: string
          upc:
            description: Limit results to products with this UPC
            required: false
            type: string
          mpn:
            description: Limit results to products with this MPN
            required: false
            type: string
          sku:
            description: Limit results to products with this SKU
            required: false
            type: string
          startPrice:
            description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          endPrice:
            description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
            required: false
            type: string
          availability:
            description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
            required: false
            type: string
          priceHistoryAvailable:
[...]
