#%RAML 1.0
title: Magento Community
version: '2.1'
baseUri: 'http://m2010.vg/rest/default'
protocols:
  - HTTP
description: Magento Commerce is the leading provider of open omnichannel innovation.
(oas-tags-definition):
  - description: Store repository interface
    name: storeStoreRepositoryV1
  - description: Group repository interface
    name: storeGroupRepositoryV1
  - description: Website repository interface
    name: storeWebsiteRepositoryV1
  - description: Store config manager interface
    name: storeStoreConfigManagerV1
  - description: Currency information acquirer interface
    name: directoryCurrencyInformationAcquirerV1
  - description: Country information acquirer interface
    name: directoryCountryInformationAcquirerV1
  - description: Interface for module service.
    name: backendModuleServiceV1
  - description: Interface AttributeSetRepositoryInterface
    name: eavAttributeSetRepositoryV1
  - description: Interface AttributeSetManagementInterface
    name: eavAttributeSetManagementV1
  - description: Customer group CRUD interface
    name: customerGroupRepositoryV1
  - description: Interface for managing customer groups.
    name: customerGroupManagementV1
  - description: Interface for retrieval information about customer attributes metadata.
    name: customerCustomerMetadataV1
  - description: Interface for retrieval information about customer address attributes metadata.
    name: customerAddressMetadataV1
  - description: Customer CRUD interface.
    name: customerCustomerRepositoryV1
  - description: Interface for managing customers accounts.
    name: customerAccountManagementV1
  - description: Customer address CRUD interface.
    name: customerAddressRepositoryV1
  - description: CMS page CRUD interface.
    name: cmsPageRepositoryV1
  - description: CMS block CRUD interface.
    name: cmsBlockRepositoryV1
  - description: ''
    name: catalogProductRepositoryV1
  - description: ''
    name: catalogProductAttributeTypesListV1
  - description: Interface RepositoryInterface must be implemented in new model
    name: catalogProductAttributeRepositoryV1
  - description: Interface RepositoryInterface must be implemented in new model
    name: catalogCategoryAttributeRepositoryV1
  - description: Interface RepositoryInterface must be implemented in new model
    name: catalogCategoryAttributeOptionManagementV1
  - description: ''
    name: catalogProductTypeListV1
  - description: ''
    name: catalogAttributeSetRepositoryV1
  - description: ''
    name: catalogAttributeSetManagementV1
  - description: ''
    name: catalogProductAttributeManagementV1
  - description: ''
    name: catalogProductAttributeGroupRepositoryV1
  - description: ''
    name: catalogProductAttributeOptionManagementV1
  - description: ''
    name: catalogProductMediaAttributeManagementV1
  - description: ''
    name: catalogProductAttributeMediaGalleryManagementV1
  - description: ''
    name: catalogProductTierPriceManagementV1
  - description: ''
    name: catalogCategoryRepositoryV1
  - description: ''
    name: catalogCategoryManagementV1
  - description: ''
    name: catalogProductCustomOptionTypeListV1
  - description: ''
    name: catalogProductCustomOptionRepositoryV1
  - description: ''
    name: catalogProductLinkTypeListV1
  - description: ''
    name: catalogProductLinkManagementV1
  - description: Interface Product links handling interface
    name: catalogProductLinkRepositoryV1
  - description: ''
    name: catalogCategoryLinkManagementV1
  - description: ''
    name: catalogCategoryLinkRepositoryV1
  - description: Interface ProductWebsiteLinkRepositoryInterface
    name: catalogProductWebsiteLinkRepositoryV1
  - description: Search API for all requests
    name: searchV1
  - description: Interface for Management of ProductLink
    name: bundleProductLinkManagementV1
  - description: Interface ProductOptionRepositoryInterface
    name: bundleProductOptionRepositoryV1
  - description: Interface ProductOptionTypeListInterface
    name: bundleProductOptionTypeListV1
  - description: Option manager for bundle products
    name: bundleProductOptionManagementV1
  - description: Interface CartRepositoryInterface
    name: quoteCartRepositoryV1
  - description: Interface CartManagementInterface
    name: quoteCartManagementV1
  - description: Cart Repository interface for guest carts.
    name: quoteGuestCartRepositoryV1
  - description: Cart Management interface for guest carts.
    name: quoteGuestCartManagementV1
  - description: Interface ShippingMethodManagementInterface
    name: quoteShippingMethodManagementV1
  - description: Interface ShipmentManagementInterface
    name: quoteShipmentEstimationV1
  - description: Shipping method management interface for guest carts.
    name: quoteGuestShippingMethodManagementV1
  - description: Interface GuestShipmentEstimationInterface
    name: quoteGuestShipmentEstimationV1
  - description: Interface CartItemRepositoryInterface
    name: quoteCartItemRepositoryV1
  - description: Cart Item repository interface for guest carts.
    name: quoteGuestCartItemRepositoryV1
  - description: Interface PaymentMethodManagementInterface
    name: quotePaymentMethodManagementV1
  - description: Payment method management interface for guest carts.
    name: quoteGuestPaymentMethodManagementV1
  - description: Interface BillingAddressManagementInterface
    name: quoteBillingAddressManagementV1
  - description: Billing address management interface for guest carts.
    name: quoteGuestBillingAddressManagementV1
  - description: Coupon management service interface.
    name: quoteCouponManagementV1
  - description: Coupon management interface for guest carts.
    name: quoteGuestCouponManagementV1
  - description: Interface CartTotalRepositoryInterface
    name: quoteCartTotalRepositoryV1
  - description: Bundled API to collect totals for cart based on shipping/payment methods and additional data.
    name: quoteGuestCartTotalManagementV1
  - description: Cart totals repository interface for guest carts.
    name: quoteGuestCartTotalRepositoryV1
  - description: Bundled API to collect totals for cart based on shipping/payment methods and additional data.
    name: quoteCartTotalManagementV1
  - description: Interface CheckoutAgreementsRepositoryInterface
    name: checkoutAgreementsCheckoutAgreementsRepositoryV1
  - description: Interface LinkRepositoryInterface
    name: downloadableLinkRepositoryV1
  - description: Interface SampleRepositoryInterface
    name: downloadableSampleRepositoryV1
  - description: Interface StockRegistryInterface
    name: catalogInventoryStockRegistryV1
  - description: 'Order repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.'
    name: salesOrderRepositoryV1
  - description: 'Order management interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.'
    name: salesOrderManagementV1
  - description: 'Order address repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.'
    name: salesOrderAddressRepositoryV1
  - description: 'Order item repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.'
    name: salesOrderItemRepositoryV1
  - description: Invoice repository interface. An invoice is a record of the receipt of payment for an order.
    name: salesInvoiceRepositoryV1
  - description: Invoice management interface. An invoice is a record of the receipt of payment for an order.
    name: salesInvoiceManagementV1
  - description: Invoice comment repository interface. An invoice is a record of the receipt of payment for an order. An invoice can include comments that detail the invoice history.
    name: salesInvoiceCommentRepositoryV1
  - description: 'Credit memo add comment interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases.'
    name: salesCreditmemoManagementV1
  - description: 'Credit memo repository interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases.'
    name: salesCreditmemoRepositoryV1
  - description: 'Credit memo comment repository interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases. A credit memo usually includes comments that detail why the credit memo amount was credited to the customer.'
    name: salesCreditmemoCommentRepositoryV1
  - description: Shipment repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package.
    name: salesShipmentRepositoryV1
  - description: Shipment management interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package.
    name: salesShipmentManagementV1
  - description: Shipment comment repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package. A shipment document can contain comments.
    name: salesShipmentCommentRepositoryV1
  - description: Shipment track repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package.
    name: salesShipmentTrackRepositoryV1
  - description: Class ShipOrderInterface
    name: salesShipOrderV1
  - description: 'Transaction repository interface. A transaction is an interaction between a merchant and a customer such as a purchase, a credit, a refund, and so on.'
    name: salesTransactionRepositoryV1
  - description: Class InvoiceOrderInterface
    name: salesInvoiceOrderV1
  - description: Interface CartRepositoryInterface
    name: giftMessageCartRepositoryV1
  - description: Interface ItemRepositoryInterface
    name: giftMessageItemRepositoryV1
  - description: Interface GuestCartRepositoryInterface
    name: giftMessageGuestCartRepositoryV1
  - description: Interface GuestItemRepositoryInterface
    name: giftMessageGuestItemRepositoryV1
  - description: Interface for managing guest shipping address information
    name: checkoutGuestShippingInformationManagementV1
  - description: Interface for managing customer shipping address information
    name: checkoutShippingInformationManagementV1
  - description: Interface for quote totals calculation
    name: checkoutTotalsInformationManagementV1
  - description: Interface for guest quote totals calculation
    name: checkoutGuestTotalsInformationManagementV1
  - description: Interface for managing guest payment information
    name: checkoutGuestPaymentInformationManagementV1
  - description: Interface for managing quote payment information
    name: checkoutPaymentInformationManagementV1
  - description: Tax rate CRUD interface.
    name: taxTaxRateRepositoryV1
  - description: Tax rule CRUD interface.
    name: taxTaxRuleRepositoryV1
  - description: Tax class CRUD interface.
    name: taxTaxClassRepositoryV1
  - description: Manage children products of configurable product
    name: configurableProductLinkManagementV1
  - description: Interface ConfigurableProductManagementInterface
    name: configurableProductConfigurableProductManagementV1
  - description: Manage options of configurable product
    name: configurableProductOptionRepositoryV1
  - description: Sales rule CRUD interface
    name: salesRuleRuleRepositoryV1
  - description: Coupon CRUD interface
    name: salesRuleCouponRepositoryV1
  - description: Coupon management interface
    name: salesRuleCouponManagementV1
  - description: Interface providing token generation for Admins
    name: integrationAdminTokenServiceV1
  - description: Interface providing token generation for Customers
    name: integrationCustomerTokenServiceV1
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
  oas-x-hasEquivalentPaths: any
(oas-info):
  (oas-x-apisguru-categories):
    - ecommerce
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_magento.com_sites_all_themes_mag_redesign_images_magento-logo.svg'
  (oas-x-origin):
    format: swagger
    url: 'http://devdocs.magento.com/swagger/schemas/latest-2.1.schema.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): m2010.vg
/V1:
  displayName: V1
  /eav:
    displayName: eav
    /attribute-sets:
      displayName: attribute-sets
      post:
        displayName: POST_V1-eav-attribute-sets
        description: Create attribute set from data
        body:
          application/json:
            properties:
              attributeSet:
                type: eav-data-attribute-set-interface
              entityTypeCode:
                type: string
              skeletonId:
                type: integer
            type: object
            (oas-body-name): $body
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: eav-data-attribute-set-interface
            description: 200 Success.
          '400':
            body:
              application/json:
                type: error-response
            description: 400 Bad Request
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
        (oas-tags):
          - eavAttributeSetManagementV1
      /list:
        displayName: list
        get:
          displayName: GET_V1-eav-attribute-sets-list
          description: 'Retrieve list of Attribute Sets This call returns an array of objects, but detailed information about each object’s attributes might not be included. See http://devdocs.magento.com/codelinks/attributes.html#AttributeSetRepositoryInterface to determine which call to use to get detailed information about all attributes for an object.'
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: eav-data-attribute-set-search-results-interface
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          queryParameters:
            'searchCriteria[filterGroups][][filters][][field]':
              description: Field
              type: string
              displayName: Field
            'searchCriteria[filterGroups][][filters][][value]':
              description: Value
              type: string
              displayName: Value
            'searchCriteria[filterGroups][][filters][][conditionType]':
              description: Condition type
              type: string
              displayName: Condition type
            'searchCriteria[sortOrders][][field]':
              description: Sorting field.
              type: string
              displayName: Sorting field.
            'searchCriteria[sortOrders][][direction]':
              description: Sorting direction.
              type: string
              displayName: Sorting direction.
            'searchCriteria[pageSize]':
              description: Page size.
              type: integer
              displayName: Page size.
            'searchCriteria[currentPage]':
              description: Current page.
              type: integer
              displayName: Current page.
          (oas-tags):
            - eavAttributeSetRepositoryV1
      '/{attributeSetId}':
        displayName: '{attributeSetId}'
        uriParameters:
          attributeSetId:
            required: true
            type: string
        delete:
          displayName: DELETE_V1-eav-attribute-sets-attributeSetId
          description: Remove attribute set by given ID
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: boolean
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - eavAttributeSetRepositoryV1
        get:
          displayName: GET_V1-eav-attribute-sets-attributeSetId
          description: Retrieve attribute set information based on given ID
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: eav-data-attribute-set-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - eavAttributeSetRepositoryV1
        put:
          displayName: PUT_V1-eav-attribute-sets-attributeSetId
          description: Save attribute set data
          body:
            application/json:
              properties:
                attributeSet:
                  type: eav-data-attribute-set-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: eav-data-attribute-set-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
            '500':
              body:
                application/json:
                  type: error-response
              description: Internal Server error
          (oas-tags):
            - eavAttributeSetRepositoryV1
  /transactions:
    displayName: transactions
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: The transaction ID.
          required: true
          type: integer
          displayName: The transaction ID.
      get:
        displayName: GET_V1-transactions-id
        description: Loads a specified transaction.
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: sales-data-transaction-interface
            description: 200 Success.
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
        (oas-tags):
          - salesTransactionRepositoryV1
    get:
      displayName: GET_V1-transactions
      description: 'Lists transactions that match specified search criteria. This call returns an array of objects, but detailed information about each object’s attributes might not be included. See http://devdocs.magento.com/codelinks/attributes.html#TransactionRepositoryInterface to determine which call to use to get detailed information about all attributes for an object.'
      (oas-responses-default):
        body:
          application/json:
            type: error-response
        description: Unexpected error
      responses:
        '200':
          body:
            application/json:
              type: sales-data-transaction-search-result-interface
          description: 200 Success.
        '401':
          body:
            application/json:
              type: error-response
          description: 401 Unauthorized
      queryParameters:
        'searchCriteria[filterGroups][][filters][][field]':
          description: Field
          type: string
          displayName: Field
        'searchCriteria[filterGroups][][filters][][value]':
          description: Value
          type: string
          displayName: Value
        'searchCriteria[filterGroups][][filters][][conditionType]':
          description: Condition type
          type: string
          displayName: Condition type
        'searchCriteria[sortOrders][][field]':
          description: Sorting field.
          type: string
          displayName: Sorting field.
        'searchCriteria[sortOrders][][direction]':
          description: Sorting direction.
          type: string
          displayName: Sorting direction.
        'searchCriteria[pageSize]':
          description: Page size.
          type: integer
          displayName: Page size.
        'searchCriteria[currentPage]':
          description: Current page.
          type: integer
          displayName: Current page.
      (oas-tags):
        - salesTransactionRepositoryV1
  /addresses:
    displayName: addresses
    '/{addressId}':
      displayName: '{addressId}'
      uriParameters:
        addressId:
          required: true
          type: integer
      delete:
        displayName: DELETE_V1-addresses-addressId
        description: Delete customer address by ID.
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                description: true on success
                type: boolean
            description: 200 Success.
          '400':
            body:
              application/json:
                type: error-response
            description: 400 Bad Request
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
          '500':
            body:
              application/json:
                type: error-response
            description: Internal Server error
        (oas-tags):
          - customerAddressRepositoryV1
  /attributeMetadata:
    displayName: attributeMetadata
    /customer:
      displayName: customer
      /attribute:
        displayName: attribute
        '/{attributeCode}':
          displayName: '{attributeCode}'
          uriParameters:
            attributeCode:
              required: true
              type: string
          get:
            displayName: GET_V1-attributeMetadata-customer-attribute-attributeCode
            description: Retrieve attribute metadata.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: customer-data-attribute-metadata-interface
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
              '500':
                body:
                  application/json:
                    type: error-response
                description: Internal Server error
            (oas-tags):
              - customerCustomerMetadataV1
      /form:
        displayName: form
        '/{formCode}':
          displayName: '{formCode}'
          uriParameters:
            formCode:
              required: true
              type: string
          get:
            displayName: GET_V1-attributeMetadata-customer-form-formCode
            description: Retrieve all attributes filtered by form code
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: customer-data-attribute-metadata-interface
                    type: array
                description: 200 Success.
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
              '500':
                body:
                  application/json:
                    type: error-response
                description: Internal Server error
            (oas-tags):
              - customerCustomerMetadataV1
      /custom:
        displayName: custom
        get:
          displayName: GET_V1-attributeMetadata-customer-custom
          description: Get custom attributes metadata for the given data interface.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: customer-data-attribute-metadata-interface
                  type: array
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
            '500':
              body:
                application/json:
                  type: error-response
              description: Internal Server error
          queryParameters:
            dataInterfaceName:
              required: false
              type: string
          (oas-tags):
            - customerCustomerMetadataV1
      get:
        displayName: GET_V1-attributeMetadata-customer
        description: Get all attribute metadata.
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                items:
                  type: customer-data-attribute-metadata-interface
                type: array
            description: 200 Success.
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
          '500':
            body:
              application/json:
                type: error-response
            description: Internal Server error
        (oas-tags):
          - customerCustomerMetadataV1
    /customerAddress:
      displayName: customerAddress
      /attribute:
        displayName: attribute
        '/{attributeCode}':
          displayName: '{attributeCode}'
          uriParameters:
            attributeCode:
              required: true
              type: string
          get:
            displayName: GET_V1-attributeMetadata-customerAddress-attribute-attributeCode
            description: Retrieve attribute metadata.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: customer-data-attribute-metadata-interface
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
              '500':
                body:
                  application/json:
                    type: error-response
                description: Internal Server error
            (oas-tags):
              - customerAddressMetadataV1
      /form:
        displayName: form
        '/{formCode}':
          displayName: '{formCode}'
          uriParameters:
            formCode:
              required: true
              type: string
          get:
            displayName: GET_V1-attributeMetadata-customerAddress-form-formCode
            description: Retrieve all attributes filtered by form code
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: customer-data-attribute-metadata-interface
                    type: array
                description: 200 Success.
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
              '500':
                body:
                  application/json:
                    type: error-response
                description: Internal Server error
            (oas-tags):
              - customerAddressMetadataV1
      /custom:
        displayName: custom
        get:
          displayName: GET_V1-attributeMetadata-customerAddress-custom
          description: Get custom attributes metadata for the given data interface.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: customer-data-attribute-metadata-interface
                  type: array
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
            '500':
              body:
                application/json:
                  type: error-response
              description: Internal Server error
          queryParameters:
            dataInterfaceName:
              required: false
              type: string
          (oas-tags):
            - customerAddressMetadataV1
      get:
        displayName: GET_V1-attributeMetadata-customerAddress
        description: Get all attribute metadata.
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                items:
                  type: customer-data-attribute-metadata-interface
                type: array
            description: 200 Success.
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
          '500':
            body:
              application/json:
                type: error-response
            description: Internal Server error
        (oas-tags):
          - customerAddressMetadataV1
  /guest-carts:
    displayName: guest-carts
    post:
      displayName: POST_V1-guest-carts
      description: Enable an customer or guest user to create an empty cart and quote for an anonymous customer.
      (oas-responses-default):
        body:
          application/json:
            type: error-response
        description: Unexpected error
      responses:
        '200':
          body:
            application/json:
              description: Cart ID.
              type: string
          description: 200 Success.
        '400':
          body:
            application/json:
              type: error-response
          description: 400 Bad Request
      (oas-tags):
        - quoteGuestCartManagementV1
    '/{cartId}':
      displayName: '{cartId}'
      uriParameters:
        cartId:
          description: The cart ID.
          required: true
          type: string
          displayName: The cart ID.
      get:
        displayName: GET_V1-guest-carts-cartId
        description: Enable a guest user to return information for a specified cart.
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: quote-data-cart-interface
            description: 200 Success.
          '400':
            body:
              application/json:
                type: error-response
            description: 400 Bad Request
        (oas-tags):
          - quoteGuestCartRepositoryV1
      put:
        displayName: PUT_V1-guest-carts-cartId
        description: Assign a specified customer to a specified shopping cart.
        body:
          application/json:
            properties:
              customerId:
                description: The customer ID.
                type: integer
              storeId:
                type: integer
            type: object
            (oas-body-name): $body
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                type: boolean
            description: 200 Success.
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
        (oas-tags):
          - quoteGuestCartManagementV1
      /billing-address:
        displayName: billing-address
        get:
          displayName: GET_V1-guest-carts-cartId-billing-address
          description: Return the billing address for a specified quote.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-address-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestBillingAddressManagementV1
        post:
          displayName: POST_V1-guest-carts-cartId-billing-address
          description: Assign a specified billing address to a specified cart.
          body:
            application/json:
              properties:
                address:
                  type: quote-data-address-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Address ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestBillingAddressManagementV1
      /collect-totals:
        displayName: collect-totals
        put:
          displayName: PUT_V1-guest-carts-cartId-collect-totals
          description: Set shipping/billing methods and additional data for cart and collect totals for guest.
          body:
            application/json:
              properties:
                additionalData:
                  type: quote-data-totals-additional-data-interface
                  required: false
                paymentMethod:
                  type: quote-data-payment-interface
                shippingCarrierCode:
                  description: The carrier code.
                  type: string
                  required: false
                shippingMethodCode:
                  description: The shipping method code.
                  type: string
                  required: false
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-totals-interface
              description: 200 Success.
          (oas-tags):
            - quoteGuestCartTotalManagementV1
      /coupons:
        displayName: coupons
        delete:
          displayName: DELETE_V1-guest-carts-cartId-coupons
          description: Delete a coupon from a specified cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: boolean
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestCouponManagementV1
        get:
          displayName: GET_V1-guest-carts-cartId-coupons
          description: Return information for a coupon in a specified cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: The coupon code data.
                  type: string
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestCouponManagementV1
        '/{couponCode}':
          displayName: '{couponCode}'
          uriParameters:
            couponCode:
              description: The coupon code data.
              required: true
              type: string
              displayName: The coupon code data.
          put:
            displayName: PUT_V1-guest-carts-cartId-coupons-couponCode
            description: Add a coupon by code to a specified cart.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
            (oas-tags):
              - quoteGuestCouponManagementV1
      /estimate-shipping-methods:
        displayName: estimate-shipping-methods
        post:
          displayName: POST_V1-guest-carts-cartId-estimate-shipping-methods
          description: Estimate shipping by address and return list of available shipping methods
          body:
            application/json:
              properties:
                address:
                  type: quote-data-address-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: An array of shipping methods
                  items:
                    type: quote-data-shipping-method-interface
                  type: array
              description: 200 Success.
          (oas-tags):
            - quoteGuestShipmentEstimationV1
      /gift-message:
        displayName: gift-message
        get:
          displayName: GET_V1-guest-carts-cartId-gift-message
          description: Return the gift message for a specified order.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: gift-message-data-message-interface
              description: 200 Success.
          (oas-tags):
            - giftMessageGuestCartRepositoryV1
        post:
          displayName: POST_V1-guest-carts-cartId-gift-message
          description: Set the gift message for an entire order.
          body:
            application/json:
              properties:
                giftMessage:
                  type: gift-message-data-message-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: boolean
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - giftMessageGuestCartRepositoryV1
        '/{itemId}':
          displayName: '{itemId}'
          uriParameters:
            itemId:
              description: The item ID.
              required: true
              type: integer
              displayName: The item ID.
          get:
            displayName: GET_V1-guest-carts-cartId-gift-message-itemId
            description: Return the gift message for a specified item in a specified shopping cart.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: gift-message-data-message-interface
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
            (oas-tags):
              - giftMessageGuestItemRepositoryV1
          post:
            displayName: POST_V1-guest-carts-cartId-gift-message-itemId
            description: Set the gift message for a specified item in a specified shopping cart.
            body:
              application/json:
                properties:
                  giftMessage:
                    type: gift-message-data-message-interface
                type: object
                (oas-body-name): $body
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
            (oas-tags):
              - giftMessageGuestItemRepositoryV1
      /items:
        displayName: items
        get:
          displayName: GET_V1-guest-carts-cartId-items
          description: List items that are assigned to a specified cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Array of items.
                  items:
                    type: quote-data-cart-item-interface
                  type: array
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestCartItemRepositoryV1
        post:
          displayName: POST_V1-guest-carts-cartId-items
          description: Add the specified item to the specified cart.
          body:
            application/json:
              properties:
                cartItem:
                  type: quote-data-cart-item-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-cart-item-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestCartItemRepositoryV1
        '/{itemId}':
          displayName: '{itemId}'
          uriParameters:
            itemId:
              required: true
              type: string
          delete:
            displayName: DELETE_V1-guest-carts-cartId-items-itemId
            description: Remove the specified item from the specified cart.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
            (oas-tags):
              - quoteGuestCartItemRepositoryV1
          put:
            displayName: PUT_V1-guest-carts-cartId-items-itemId
            description: Add the specified item to the specified cart.
            body:
              application/json:
                properties:
                  cartItem:
                    type: quote-data-cart-item-interface
                type: object
                (oas-body-name): $body
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: quote-data-cart-item-interface
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
            (oas-tags):
              - quoteGuestCartItemRepositoryV1
      /order:
        displayName: order
        put:
          displayName: PUT_V1-guest-carts-cartId-order
          description: Place an order for a specified cart.
          body:
            application/json:
              properties:
                paymentMethod:
                  type: quote-data-payment-interface
                  required: false
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Order ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestCartManagementV1
      /payment-information:
        displayName: payment-information
        get:
          displayName: GET_V1-guest-carts-cartId-payment-information
          description: Get payment information
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: checkout-data-payment-details-interface
              description: 200 Success.
          (oas-tags):
            - checkoutGuestPaymentInformationManagementV1
        post:
          displayName: POST_V1-guest-carts-cartId-payment-information
          description: Set payment information and place order for a specified cart.
          body:
            application/json:
              properties:
                billingAddress:
                  type: quote-data-address-interface
                  required: false
                email:
                  type: string
                paymentMethod:
                  type: quote-data-payment-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Order ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - checkoutGuestPaymentInformationManagementV1
      /payment-methods:
        displayName: payment-methods
        get:
          displayName: GET_V1-guest-carts-cartId-payment-methods
          description: 'List available payment methods for a specified shopping cart. This call returns an array of objects, but detailed information about each object’s attributes might not be included.  See http://devdocs.magento.com/codelinks/attributes.html#GuestPaymentMethodManagementInterface to determine which call to use to get detailed information about all attributes for an object.'
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Array of payment methods.
                  items:
                    type: quote-data-payment-method-interface
                  type: array
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestPaymentMethodManagementV1
      /selected-payment-method:
        displayName: selected-payment-method
        get:
          displayName: GET_V1-guest-carts-cartId-selected-payment-method
          description: Return the payment method for a specified shopping cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-payment-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestPaymentMethodManagementV1
        put:
          displayName: PUT_V1-guest-carts-cartId-selected-payment-method
          description: Add a specified payment method to a specified shopping cart.
          body:
            application/json:
              properties:
                method:
                  type: quote-data-payment-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Payment method ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestPaymentMethodManagementV1
      /set-payment-information:
        displayName: set-payment-information
        post:
          displayName: POST_V1-guest-carts-cartId-set-payment-information
          description: Set payment information for a specified cart.
          body:
            application/json:
              properties:
                billingAddress:
                  type: quote-data-address-interface
                  required: false
                email:
                  type: string
                paymentMethod:
                  type: quote-data-payment-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Order ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - checkoutGuestPaymentInformationManagementV1
      /shipping-information:
        displayName: shipping-information
        post:
          displayName: POST_V1-guest-carts-cartId-shipping-information
          body:
            application/json:
              properties:
                addressInformation:
                  type: checkout-data-shipping-information-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: checkout-data-payment-details-interface
              description: 200 Success.
          (oas-tags):
            - checkoutGuestShippingInformationManagementV1
      /shipping-methods:
        displayName: shipping-methods
        get:
          displayName: GET_V1-guest-carts-cartId-shipping-methods
          description: List applicable shipping methods for a specified quote.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: An array of shipping methods.
                  items:
                    type: quote-data-shipping-method-interface
                  type: array
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestShippingMethodManagementV1
      /totals:
        displayName: totals
        get:
          displayName: GET_V1-guest-carts-cartId-totals
          description: Return quote totals data for a specified cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-totals-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
          (oas-tags):
            - quoteGuestCartTotalRepositoryV1
      /totals-information:
        displayName: totals-information
        post:
          displayName: POST_V1-guest-carts-cartId-totals-information
          description: Calculate quote totals based on address and shipping method.
          body:
            application/json:
              properties:
                addressInformation:
                  type: checkout-data-totals-information-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-totals-interface
              description: 200 Success.
          (oas-tags):
            - checkoutGuestTotalsInformationManagementV1
  /bundle-products:
    displayName: bundle-products
    /options:
      displayName: options
      /types:
        displayName: types
        get:
          displayName: GET_V1-bundle-products-options-types
          description: Get all types for options for bundle products
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: bundle-data-option-type-interface
                  type: array
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - bundleProductOptionTypeListV1
      '/{optionId}':
        displayName: '{optionId}'
        uriParameters:
          optionId:
            required: true
            type: string
        put:
          displayName: PUT_V1-bundle-products-options-optionId
          description: Add new option for bundle product
          body:
            application/json:
              properties:
                option:
                  type: bundle-data-option-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - bundleProductOptionManagementV1
      /add:
        displayName: add
        post:
          displayName: POST_V1-bundle-products-options-add
          description: Add new option for bundle product
          body:
            application/json:
              properties:
                option:
                  type: bundle-data-option-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - bundleProductOptionManagementV1
    '/{productSku}':
      displayName: '{productSku}'
      /children:
        displayName: children
        get:
          displayName: GET_V1-bundle-products-productSku-children
          description: Get all children for Bundle product
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: bundle-data-link-interface
                  type: array
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          queryParameters:
            optionId:
              required: false
              type: integer
          (oas-tags):
            - bundleProductLinkManagementV1
    '/{sku}':
      displayName: '{sku}'
      /links:
        displayName: links
        '/{optionId}':
          displayName: '{optionId}'
          uriParameters:
            optionId:
              required: true
              type: integer
          post:
            displayName: POST_V1-bundle-products-sku-links-optionId
            description: Add child product to specified Bundle option by product sku
            body:
              application/json:
                properties:
                  linkedProduct:
                    type: bundle-data-link-interface
                type: object
                (oas-body-name): $body
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: integer
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - bundleProductLinkManagementV1
        '/{id}':
          displayName: '{id}'
          uriParameters:
            id:
              required: true
              type: string
          put:
            displayName: PUT_V1-bundle-products-sku-links-id
            body:
              application/json:
                properties:
                  linkedProduct:
                    type: bundle-data-link-interface
                type: object
                (oas-body-name): $body
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - bundleProductLinkManagementV1
      /options:
        displayName: options
        '/{optionId}':
          displayName: '{optionId}'
          uriParameters:
            optionId:
              required: true
              type: integer
          delete:
            displayName: DELETE_V1-bundle-products-sku-options-optionId
            description: Remove bundle option
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - bundleProductOptionRepositoryV1
          /children:
            displayName: children
            '/{childSku}':
              displayName: '{childSku}'
              uriParameters:
                childSku:
                  required: true
                  type: string
              delete:
                displayName: DELETE_V1-bundle-products-sku-options-optionId-children-childSku
                description: Remove product from Bundle product option
                (oas-responses-default):
                  body:
                    application/json:
                      type: error-response
                  description: Unexpected error
                responses:
                  '200':
                    body:
                      application/json:
                        type: boolean
                    description: 200 Success.
                  '400':
                    body:
                      application/json:
                        type: error-response
                    description: 400 Bad Request
                  '401':
                    body:
                      application/json:
                        type: error-response
                    description: 401 Unauthorized
                (oas-tags):
                  - bundleProductLinkManagementV1
          get:
            displayName: GET_V1-bundle-products-sku-options-optionId
            description: Get option for bundle product
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: bundle-data-option-interface
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - bundleProductOptionRepositoryV1
        /all:
          displayName: all
          get:
            displayName: GET_V1-bundle-products-sku-options-all
            description: Get all options for bundle product
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: bundle-data-option-interface
                    type: array
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - bundleProductOptionRepositoryV1
  /carts:
    displayName: carts
    /licence:
      displayName: licence
      get:
        displayName: GET_V1-carts-licence
        description: Lists active checkout agreements.
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                items:
                  type: checkout-agreements-data-agreement-interface
                type: array
            description: 200 Success.
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
        (oas-tags):
          - checkoutAgreementsCheckoutAgreementsRepositoryV1
    /mine:
      displayName: mine
      post:
        displayName: POST_V1-carts-mine
        description: Creates an empty cart and quote for a specified customer.
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '200':
            body:
              application/json:
                description: Cart ID.
                type: integer
            description: 200 Success.
          '400':
            body:
              application/json:
                type: error-response
            description: 400 Bad Request
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
        (oas-tags):
          - quoteCartManagementV1
      /billing-address:
        displayName: billing-address
        get:
          displayName: GET_V1-carts-mine-billing-address
          description: Returns the billing address for a specified quote.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-address-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteBillingAddressManagementV1
        post:
          displayName: POST_V1-carts-mine-billing-address
          description: Assigns a specified billing address to a specified cart.
          body:
            application/json:
              properties:
                address:
                  type: quote-data-address-interface
                useForShipping:
                  type: boolean
                  required: false
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Address ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteBillingAddressManagementV1
      /collect-totals:
        displayName: collect-totals
        put:
          displayName: PUT_V1-carts-mine-collect-totals
          description: Set shipping/billing methods and additional data for cart and collect totals.
          body:
            application/json:
              properties:
                additionalData:
                  type: quote-data-totals-additional-data-interface
                  required: false
                paymentMethod:
                  type: quote-data-payment-interface
                shippingCarrierCode:
                  description: The carrier code.
                  type: string
                  required: false
                shippingMethodCode:
                  description: The shipping method code.
                  type: string
                  required: false
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-totals-interface
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteCartTotalManagementV1
      /coupons:
        displayName: coupons
        get:
          displayName: GET_V1-carts-mine-coupons
          description: Returns information for a coupon in a specified cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: The coupon code data.
                  type: string
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteCouponManagementV1
        delete:
          displayName: DELETE_V1-carts-mine-coupons
          description: Deletes a coupon from a specified cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: boolean
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteCouponManagementV1
        '/{couponCode}':
          displayName: '{couponCode}'
          uriParameters:
            couponCode:
              description: The coupon code data.
              required: true
              type: string
              displayName: The coupon code data.
          put:
            displayName: PUT_V1-carts-mine-coupons-couponCode
            description: Adds a coupon by code to a specified cart.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - quoteCouponManagementV1
      /estimate-shipping-methods:
        displayName: estimate-shipping-methods
        post:
          displayName: POST_V1-carts-mine-estimate-shipping-methods
          description: Estimate shipping by address and return list of available shipping methods
          body:
            application/json:
              properties:
                address:
                  type: quote-data-address-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: An array of shipping methods
                  items:
                    type: quote-data-shipping-method-interface
                  type: array
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteShipmentEstimationV1
      /gift-message:
        displayName: gift-message
        get:
          displayName: GET_V1-carts-mine-gift-message
          description: Return the gift message for a specified order.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: gift-message-data-message-interface
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - giftMessageCartRepositoryV1
        '/{itemId}':
          displayName: '{itemId}'
          uriParameters:
            itemId:
              description: The item ID.
              required: true
              type: integer
              displayName: The item ID.
          get:
            displayName: GET_V1-carts-mine-gift-message-itemId
            description: Return the gift message for a specified item in a specified shopping cart.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: gift-message-data-message-interface
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - giftMessageItemRepositoryV1
          post:
            displayName: POST_V1-carts-mine-gift-message-itemId
            description: Set the gift message for a specified item in a specified shopping cart.
            body:
              application/json:
                properties:
                  giftMessage:
                    type: gift-message-data-message-interface
                type: object
                (oas-body-name): $body
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - giftMessageItemRepositoryV1
        post:
          displayName: POST_V1-carts-mine-gift-message
          description: Set the gift message for an entire order.
          body:
            application/json:
              properties:
                giftMessage:
                  type: gift-message-data-message-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: boolean
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - giftMessageCartRepositoryV1
      /items:
        displayName: items
        get:
          displayName: GET_V1-carts-mine-items
          description: Lists items that are assigned to a specified cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Array of items.
                  items:
                    type: quote-data-cart-item-interface
                  type: array
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteCartItemRepositoryV1
        '/{itemId}':
          displayName: '{itemId}'
          uriParameters:
            itemId:
              required: true
              type: string
          delete:
            displayName: DELETE_V1-carts-mine-items-itemId
            description: Removes the specified item from the specified cart.
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: boolean
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - quoteCartItemRepositoryV1
          put:
            displayName: PUT_V1-carts-mine-items-itemId
            description: Add/update the specified cart item.
            body:
              application/json:
                properties:
                  cartItem:
                    type: quote-data-cart-item-interface
                type: object
                (oas-body-name): $body
            (oas-responses-default):
              body:
                application/json:
                  type: error-response
              description: Unexpected error
            responses:
              '200':
                body:
                  application/json:
                    type: quote-data-cart-item-interface
                description: 200 Success.
              '400':
                body:
                  application/json:
                    type: error-response
                description: 400 Bad Request
              '401':
                body:
                  application/json:
                    type: error-response
                description: 401 Unauthorized
            (oas-tags):
              - quoteCartItemRepositoryV1
        post:
          displayName: POST_V1-carts-mine-items
          description: Add/update the specified cart item.
          body:
            application/json:
              properties:
                cartItem:
                  type: quote-data-cart-item-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-cart-item-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteCartItemRepositoryV1
      /order:
        displayName: order
        put:
          displayName: PUT_V1-carts-mine-order
          description: Places an order for a specified cart.
          body:
            application/json:
              properties:
                paymentMethod:
                  type: quote-data-payment-interface
                  required: false
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Order ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteCartManagementV1
      /payment-information:
        displayName: payment-information
        post:
          displayName: POST_V1-carts-mine-payment-information
          description: Set payment information and place order for a specified cart.
          body:
            application/json:
              properties:
                billingAddress:
                  type: quote-data-address-interface
                  required: false
                paymentMethod:
                  type: quote-data-payment-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Order ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - checkoutPaymentInformationManagementV1
        get:
          displayName: GET_V1-carts-mine-payment-information
          description: Get payment information
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: checkout-data-payment-details-interface
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - checkoutPaymentInformationManagementV1
      /selected-payment-method:
        displayName: selected-payment-method
        get:
          displayName: GET_V1-carts-mine-selected-payment-method
          description: Returns the payment method for a specified shopping cart.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-payment-interface
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quotePaymentMethodManagementV1
        put:
          displayName: PUT_V1-carts-mine-selected-payment-method
          description: Adds a specified payment method to a specified shopping cart.
          body:
            application/json:
              properties:
                method:
                  type: quote-data-payment-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: redirect url or error message.
                  type: string
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quotePaymentMethodManagementV1
      /set-payment-information:
        displayName: set-payment-information
        post:
          displayName: POST_V1-carts-mine-set-payment-information
          description: Set payment information for a specified cart.
          body:
            application/json:
              properties:
                billingAddress:
                  type: quote-data-address-interface
                  required: false
                paymentMethod:
                  type: quote-data-payment-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: Order ID.
                  type: integer
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - checkoutPaymentInformationManagementV1
      /shipping-methods:
        displayName: shipping-methods
        get:
          displayName: GET_V1-carts-mine-shipping-methods
          description: Lists applicable shipping methods for a specified quote.
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  description: An array of shipping methods.
                  items:
                    type: quote-data-shipping-method-interface
                  type: array
              description: 200 Success.
            '400':
              body:
                application/json:
                  type: error-response
              description: 400 Bad Request
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - quoteShippingMethodManagementV1
      /totals-information:
        displayName: totals-information
        post:
          displayName: POST_V1-carts-mine-totals-information
          description: Calculate quote totals based on address and shipping method.
          body:
            application/json:
              properties:
                addressInformation:
                  type: checkout-data-totals-information-interface
              type: object
              (oas-body-name): $body
          (oas-responses-default):
            body:
              application/json:
                type: error-response
            description: Unexpected error
          responses:
            '200':
              body:
                application/json:
                  type: quote-data-totals-interface
              description: 200 Success.
            '401':
              body:
                application/json:
                  type: error-response
              description: 401 Unauthorized
          (oas-tags):
            - checkoutTotalsInformationManagementV1
      put:
        displayName: PUT_V1-carts-mine
        description: Save quote
        body:
          application/json:
            properties:
              quote:
                type: quote-data-cart-interface
            type: object
            (oas-body-name): $body
        (oas-responses-default):
          body:
            application/json:
              type: error-response
          description: Unexpected error
        responses:
          '401':
            body:
              application/json:
                type: error-response
            description: 401 Unauthorized
[...]
