#%RAML 1.0
title: Tradeworks
version: '1.0'
baseUri: 'http://devui.magick.nu/rest'
protocols:
  - HTTP
description: |-
  Authentication is required to access all methods of the API. Enter username and password.
                  Credentials are automatically set as you type.
(oas-tags-definition):
  - name: svstradingAccounts
  - name: tradingAccounts
  - name: users
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.tradeworks.io_wp-content_uploads_2015_06_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://devui.magick.nu/api/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): magick.nu
/users:
  displayName: users
  /username:
    displayName: username
    '/{username}':
      displayName: '{username}'
      uriParameters:
        username:
          required: true
          type: string
      get:
        displayName: getUsersUsernameUsername
        (oas-summary): Check if username is available
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - users
  /email:
    displayName: email
    '/{email}':
      displayName: '{email}'
      uriParameters:
        email:
          required: true
          type: string
      get:
        displayName: getUsersEmailEmail
        (oas-summary): Check if email is available
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - users
  post:
    displayName: postUsers
    (oas-summary): Create a new Tradeworks User
    body:
      application/json:
        type: UserDTO
        (oas-body-name): body
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - users
/tradingAccounts:
  displayName: tradingAccounts
  post:
    displayName: postTradingAccounts
    (oas-summary): Add a Trading Account
    body:
      application/json:
        type: TradingAccount
        (oas-body-name): body
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - tradingAccounts
/svstradingAccounts:
  displayName: svstradingAccounts
  post:
    displayName: postSvstradingAccounts
    (oas-summary): Create a new Trading Account
    body:
      application/json:
        type: SVSTradingAccountDTO
        (oas-body-name): body
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - svstradingAccounts
types:
  SVSTradingAccountDTO:
    properties:
      country:
        type: string
        required: false
      email:
        type: string
        required: false
      forename:
        type: string
        required: false
      lastName:
        type: string
        required: false
      password:
        type: string
        required: false
      phoneNumber:
        type: string
        required: false
      title:
        type: string
        required: false
  TradingAccount:
    properties:
      brokerServer:
        type: string
        required: false
      magickUsername:
        type: string
        required: false
      password:
        type: string
        required: false
      username:
        type: string
        required: false
  UserDTO:
    properties:
      affiliateId:
        type: string
        required: false
      email:
        type: string
        required: false
      firstName:
        type: string
        required: false
      lastName:
        type: string
        required: false
      password:
        type: string
        required: false
      subscriptionType:
        type: string
        required: false
      username:
        type: string
        required: false
