#%RAML 1.0
title: Mandrill
version: '1.0'
baseUri: 'https://mandrillapp.com/api/'
protocols:
  - HTTPS
description: |
  Mandrill is a reliable, scalable, and secure delivery API for transactional emails from websites and applications. It's ideal for sending data-driven transactional emails, including targeted e-commerce and personalized one-to-one messages.
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_mandrill.com_assets_images_brand_logo-vertical-light-735b5657.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/mandrillapp.com/1.0/swagger.yaml'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): mandrillapp.com
  (oas-x-unofficialSpec): true
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-unofficialSpec: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-externalDocs):
  url: 'https://mandrillapp.com/api/docs/'
/senders:
  displayName: senders
  /add-domain.json:
    displayName: add-domain.json
    post:
      displayName: POST_senders-add-domain-json
      description: 'Adds a sender domain to your account. Sender domains are added automatically as you send, but you can use this call to add them ahead of time.'
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: sender_domain_info
          description: OK
  /check-domain.json:
    displayName: check-domain.json
    post:
      displayName: POST_senders-check-domain-json
      description: 'Checks the SPF and DKIM settings for a domain. If you haven''t already added this domain to your account, it will be added automatically.'
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: sender_domain_info
          description: OK
  /domains.json:
    displayName: domains.json
    post:
      displayName: POST_senders-domains-json
      description: Returns the sender domains that have been added to this account.
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: senders_domains-response
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_senders-info-json
      description: 'Return more detailed information about a single sender, including aggregates of recent stats'
      body:
        application/json:
          type: sender_address
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: senders_info-response
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_senders-list-json
      description: Return the senders that have tried to use this account.
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: senders
          description: OK
  /time-series.json:
    displayName: time-series.json
    post:
      displayName: POST_senders-time-series-json
      description: Return the recent history (hourly stats for the last 30 days) for a sender
      body:
        application/json:
          type: sender_address
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: time-series
          description: OK
  /verify-domain.json:
    displayName: verify-domain.json
    post:
      displayName: POST_senders-verify-domain-json
      description: 'Sends a verification email in order to verify ownership of a domain. Domain verification is an optional step to confirm ownership of a domain. Once a domain has been verified in a Mandrill account, other accounts may not have their messages signed by that domain unless they also verify the domain. This prevents other Mandrill accounts from sending mail signed by your domain.'
      body:
        application/json:
          type: senders_verify-domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: senders_verify-domain-response
          description: OK
/whitelists:
  displayName: whitelists
  /list.json:
    displayName: list.json
    post:
      displayName: POST_whitelists-list-json
      description: Retrieves your email rejection whitelist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results.
      body:
        application/json:
          type: email
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: whitelists_list-response
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_whitelists-delete-json
      description: Removes an email address from the whitelist.
      body:
        application/json:
          type: email
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: whitelists_delete-response
          description: OK
  /add.json:
    displayName: add.json
    post:
      displayName: POST_whitelists-add-json
      description: 'Adds an email to your email rejection whitelist. If the address is currently on your blacklist, that blacklist entry will be removed automatically.'
      body:
        application/json:
          type: email
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: whitelists_add-response
          description: OK
/exports:
  displayName: exports
  /activity.json:
    displayName: activity.json
    post:
      displayName: POST_exports-activity-json
      description: 'Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account''s activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data.'
      body:
        application/json:
          type: exports_activity
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: exports_satus
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_exports-list-json
      description: Returns a list of your exports.
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: exports_list-response
          description: OK
  /whitelist.json:
    displayName: whitelist.json
    post:
      displayName: POST_exports-whitelist-json
      description: 'Begins an export of your rejection whitelist. The whitelist will be exported to a zip archive containing a single file named whitelist.csv that includes the following fields: email, detail, created_at.'
      body:
        application/json:
          type: notify_email
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: exports_satus
          description: OK
  /rejects.json:
    displayName: rejects.json
    post:
      displayName: POST_exports-rejects-json
      description: 'Begins an export of your rejection blacklist. The blacklist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at.'
      body:
        application/json:
          type: notify_email
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: exports_satus
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_exports-info-json
      description: 'Returns information about an export job. If the export job''s state is ''complete'', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type.'
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: exports_info-response
          description: OK
/inbound:
  displayName: inbound
  /add-route.json:
    displayName: add-route.json
    post:
      displayName: POST_inbound-add-route-json
      description: Add a new mailbox route to an inbound domain
      body:
        application/json:
          type: inbound_add-route
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: route
          description: OK
  /delete-domain.json:
    displayName: delete-domain.json
    post:
      displayName: POST_inbound-delete-domain-json
      description: Delete an inbound domain from the account. All mail will stop routing for this domain immediately.
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: inbound_info
          description: OK
  /domains.json:
    displayName: domains.json
    post:
      displayName: POST_inbound-domains-json
      description: List the domains that have been configured for inbound delivery
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: inbound_domains-response
          description: OK
  /send-raw.json:
    displayName: send-raw.json
    post:
      displayName: POST_inbound-send-raw-json
      description: 'Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP'
      body:
        application/json:
          type: inbound_send-raw
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: inbound_send-raw-response
          description: OK
  /check-domain.json:
    displayName: check-domain.json
    post:
      displayName: POST_inbound-check-domain-json
      description: Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: inbound_info
          description: OK
  /routes.json:
    displayName: routes.json
    post:
      displayName: POST_inbound-routes-json
      description: List the mailbox routes defined for an inbound domain
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: inbound_routes-response
          description: OK
  /add-domain.json:
    displayName: add-domain.json
    post:
      displayName: POST_inbound-add-domain-json
      description: Add an inbound domain to your account
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: inbound_info
          description: OK
  /update-route.json:
    displayName: update-route.json
    post:
      displayName: POST_inbound-update-route-json
      description: 'Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.'
      body:
        application/json:
          type: inbound_update-route
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: route
          description: OK
  /delete-route.json:
    displayName: delete-route.json
    post:
      displayName: POST_inbound-delete-route-json
      description: Delete an existing inbound mailbox route
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: route
          description: OK
/subaccounts:
  displayName: subaccounts
  /add.json:
    displayName: add.json
    post:
      displayName: POST_subaccounts-add-json
      description: Add a new subaccount
      body:
        application/json:
          type: subaccount_info
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: subaccount_info2
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_subaccounts-delete-json
      description: 'Delete an existing subaccount. Any email related to the subaccount will be saved, but stats will be removed and any future sending calls to this subaccount will fail.'
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: subaccount_info2
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_subaccounts-info-json
      description: 'Given the ID of an existing subaccount, return the data about it'
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: subaccounts_info-response
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_subaccounts-list-json
      description: 'Get the list of subaccounts defined for the account, optionally filtered by a prefix'
      body:
        application/json:
          type: url_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: subaccounts_list-response
          description: OK
  /pause.json:
    displayName: pause.json
    post:
      displayName: POST_subaccounts-pause-json
      description: Pause a subaccount's sending. Any future emails delivered to this subaccount will be queued for a maximum of 3 days until the subaccount is resumed.
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: subaccount_info2
          description: OK
  /resume.json:
    displayName: resume.json
    post:
      displayName: POST_subaccounts-resume-json
      description: Resume a paused subaccount's sending
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: subaccount_info2
          description: OK
  /update.json:
    displayName: update.json
    post:
      displayName: POST_subaccounts-update-json
      description: Update an existing subaccount
      body:
        application/json:
          type: subaccount_info
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: subaccount_info2
          description: OK
/ips:
  displayName: ips
  /cancel-warmup.json:
    displayName: cancel-warmup.json
    post:
      displayName: POST_ips-cancel-warmup-json
      description: Cancels the warmup process for a dedicated IP.
      body:
        application/json:
          type: ip
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ip_info
          description: OK
  /create-pool.json:
    displayName: create-pool.json
    post:
      displayName: POST_ips-create-pool-json
      description: 'Creates a pool and returns it. If a pool already exists with this name, no action will be performed.'
      body:
        application/json:
          type: ips_pool-key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_pool
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_ips-delete-json
      description: Deletes a dedicated IP. This is permanent and cannot be undone.
      body:
        application/json:
          type: ip
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_delete-response
          description: OK
  /list-pools.json:
    displayName: list-pools.json
    post:
      displayName: POST_ips-list-pools-json
      description: Lists your dedicated IP pools.
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_list-pools-response
          description: OK
  /pool-info.json:
    displayName: pool-info.json
    post:
      displayName: POST_ips-pool-info-json
      description: Describes a single dedicated IP pool.
      body:
        application/json:
          type: ips_pool-key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_pool
          description: OK
  /set-custom-dns.json:
    displayName: set-custom-dns.json
    post:
      displayName: POST_ips-set-custom-dns-json
      description: Configures the custom DNS name for a dedicated IP.
      body:
        application/json:
          type: ip_domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ip_info
          description: OK
  /start-warmup.json:
    displayName: start-warmup.json
    post:
      displayName: POST_ips-start-warmup-json
      description: 'Begins the warmup process for a dedicated IP. During the warmup process, Mandrill will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.'
      body:
        application/json:
          type: ip
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ip_info
          description: OK
  /check-custom-dns.json:
    displayName: check-custom-dns.json
    post:
      displayName: POST_ips-check-custom-dns-json
      description: Tests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP.
      body:
        application/json:
          type: ip_domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_check-custom-dns-response
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_ips-info-json
      description: Retrieves information about a single dedicated ip.
      body:
        application/json:
          type: ip
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ip_info
          description: OK
  /provision.json:
    displayName: provision.json
    post:
      displayName: POST_ips-provision-json
      description: 'Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.'
      body:
        application/json:
          type: ips_provision
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_provision-response
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_ips-list-json
      description: Lists your dedicated IPs.
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_list-response
          description: OK
  /set-pool.json:
    displayName: set-pool.json
    post:
      displayName: POST_ips-set-pool-json
      description: Moves a dedicated IP to a different pool.
      body:
        application/json:
          type: ips_set-pool
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ip_info
          description: OK
  /delete-pool.json:
    displayName: delete-pool.json
    post:
      displayName: POST_ips-delete-pool-json
      description: 'Deletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool.'
      body:
        application/json:
          type: ips_pool-key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: ips_delete-pool-response
          description: OK
/tags:
  displayName: tags
  /all-time-series.json:
    displayName: all-time-series.json
    post:
      displayName: POST_tags-all-time-series-json
      description: Return the recent history (hourly stats for the last 30 days) for all tags
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: timeseries
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_tags-delete-json
      description: 'Deletes a tag permanently. Deleting a tag removes the tag from any messages that have been sent, and also deletes the tag''s stats. There is no way to undo this operation, so use it carefully.'
      body:
        application/json:
          type: tag_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: tags_delete-response
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_tags-info-json
      description: 'Return more detailed information about a single tag, including aggregates of recent stats'
      body:
        application/json:
          type: tag_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: tags_info-response
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_tags-list-json
      description: Return all of the user-defined tag information
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: tags_list-response
          description: OK
  /time-series.json:
    displayName: time-series.json
    post:
      displayName: POST_tags-time-series-json
      description: Return the recent history (hourly stats for the last 30 days) for a tag
      body:
        application/json:
          type: tag_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: timeseries
          description: OK
/messages:
  displayName: messages
  /content.json:
    displayName: content.json
    post:
      displayName: POST_messages-content-json
      description: Get the full content of a recently sent message
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: messages_content-response
          description: OK
  /list-scheduled.json:
    displayName: list-scheduled.json
    post:
      displayName: POST_messages-list-scheduled-json
      description: 'Queries your scheduled emails by sender or recipient, or both.'
      body:
        application/json:
          type: messages_list-scheduled
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: messages_list-scheduled-response
          description: OK
  /reschedule.json:
    displayName: reschedule.json
    post:
      displayName: POST_messages-reschedule-json
      description: Reschedules a scheduled email.
      body:
        application/json:
          type: messages_reschedule
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: schedulingchange_info
          description: OK
  /search.json:
    displayName: search.json
    post:
      displayName: POST_messages-search-json
      description: 'Search the content of recently sent messages and optionally narrow by date range, tags and senders. This method may be called up to 20 times per minute. If you need the data more often, you can use /messages/info.json to get the information for a single message, or webhooks to push activity to your own application for querying.'
      body:
        application/json:
          type: messages_search
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: messages_search-response
          description: OK
  /send-template.json:
    displayName: send-template.json
    post:
      displayName: POST_messages-send-template-json
      description: Send a new transactional message through Mandrill using a template
      body:
        application/json:
          type: messages_send-template
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: message_send-status
          description: OK
  /cancel-scheduled.json:
    displayName: cancel-scheduled.json
    post:
      displayName: POST_messages-cancel-scheduled-json
      description: Cancels a scheduled email.
      body:
        application/json:
          type: messages_cancel-scheduled
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: schedulingchange_info
          description: OK
  /parse.json:
    displayName: parse.json
    post:
      displayName: POST_messages-parse-json
      description: 'Parse the full MIME document for an email message, returning the content of the message broken into its constituent pieces'
      body:
        application/json:
          type: messages_parse
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: messages_parse-response
          description: OK
  /send-raw.json:
    displayName: send-raw.json
    post:
      displayName: POST_messages-send-raw-json
      description: 'Take a raw MIME document for a message, and send it exactly as if it were sent through Mandrill''s SMTP servers'
      body:
        application/json:
          type: messages_send-raw
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: message_send-status
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_messages-info-json
      description: Get the information for a single recently sent message
      body:
        application/json:
          type: id
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: messages_info-response
          description: OK
  /send.json:
    displayName: send.json
    post:
      displayName: POST_messages-send-json
      description: Send a new transactional message through Mandrill
      body:
        application/json:
          type: messages_send
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: message_send-status
          description: OK
  /search-time-series.json:
    displayName: search-time-series.json
    post:
      displayName: POST_messages-search-time-series-json
      description: Search the content of recently sent messages and return the aggregated hourly stats for matching messages
      body:
        application/json:
          type: messages_search-time-series
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: timeseries
          description: OK
/templates:
  displayName: templates
  /add.json:
    displayName: add.json
    post:
      displayName: POST_templates-add-json
      description: Add a new template
      body:
        application/json:
          type: template
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: template_detailed
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_templates-delete-json
      description: Delete a template
      body:
        application/json:
          type: name
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: template_detailed
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_templates-info-json
      description: Get the information for an existing template
      body:
        application/json:
          type: name
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: template_detailed
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_templates-list-json
      description: Return a list of all the templates available to this user
      body:
        application/json:
          type: templates_list
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: templates_list-response
          description: OK
  /publish.json:
    displayName: publish.json
    post:
      displayName: POST_templates-publish-json
      description: Publish the content for the template. Any new messages sent using this template will start using the content that was previously in draft.
      body:
        application/json:
          type: name
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: template_detailed
          description: OK
  /render.json:
    displayName: render.json
    post:
      displayName: POST_templates-render-json
      description: 'Inject content and optionally merge fields into a template, returning the HTML that results'
      body:
        application/json:
          type: templates_render
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: templates_render-response
          description: OK
  /time-series.json:
    displayName: time-series.json
    post:
      displayName: POST_templates-time-series-json
      description: Return the recent history (hourly stats for the last 30 days) for a template
      body:
        application/json:
          type: name
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: time-series
          description: OK
  /update.json:
    displayName: update.json
    post:
      displayName: POST_templates-update-json
      description: 'Update the code for an existing template. If null is provided for any fields, the values will remain unchanged.'
      body:
        application/json:
          type: template
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: template_detailed
          description: OK
/metadata:
  displayName: metadata
  /add.json:
    displayName: add.json
    post:
      displayName: POST_metadata-add-json
      description: Add a new custom metadata field to be indexed for the account.
      body:
        application/json:
          type: metadata_template
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: metadata_info
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_metadata-list-json
      description: Get the list of custom metadata fields indexed for the account.
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: metadata_list-response
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_metadata-delete-json
      description: 'Delete an existing custom metadata field. Deletion isn''t instataneous, and /metadata/list will continue to return the field until the asynchronous deletion process is complete.'
      body:
        application/json:
          type: name
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: metadata_info
          description: OK
  /update.json:
    displayName: update.json
    post:
      displayName: POST_metadata-update-json
      description: Update an existing custom metadata field.
      body:
        application/json:
          type: metadata_template
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: metadata_info
          description: OK
/rejects:
  displayName: rejects
  /add.json:
    displayName: add.json
    post:
      displayName: POST_rejects-add-json
      description: Adds an email to your email rejection blacklist. Addresses that you add manually will never expire and there is no reputation penalty for removing them from your blacklist. Attempting to blacklist an address that has been whitelisted will have no effect.
      body:
        application/json:
          type: rejects_add
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: rejects_add-response
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_rejects-list-json
      description: 'Retrieves your email rejection blacklist. You can provide an email address to limit the results. Returns up to 1000 results. By default, entries that have expired are excluded from the results; set include_expired to true to include them.'
      body:
        application/json:
          type: rejects_list
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: rejects_list-response
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_rejects-delete-json
      description: 'Deletes an email rejection. There is no limit to how many rejections you can remove from your blacklist, but keep in mind that each deletion has an affect on your reputation.'
      body:
        application/json:
          type: rejects_delete
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: rejects_delete-response
          description: OK
/urls:
  displayName: urls
  /add-tracking-domain.json:
    displayName: add-tracking-domain.json
    post:
      displayName: POST_urls-add-tracking-domain-json
      description: Add a tracking domain to your account
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: tracking-domain-status
          description: OK
  /check-tracking-domain.json:
    displayName: check-tracking-domain.json
    post:
      displayName: POST_urls-check-tracking-domain-json
      description: Checks the CNAME settings for a tracking domain. The domain must have been added already with the add-tracking-domain call
      body:
        application/json:
          type: domain
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: tracking-domain-status
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_urls-list-json
      description: Get the 100 most clicked URLs
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: url_infos
          description: OK
  /search.json:
    displayName: search.json
    post:
      displayName: POST_urls-search-json
      description: Return the 100 most clicked URLs that match the search query given
      body:
        application/json:
          type: url_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: url_infos
          description: OK
  /time-series.json:
    displayName: time-series.json
    post:
      displayName: POST_urls-time-series-json
      description: Return the recent history (hourly stats for the last 30 days) for a url
      body:
        application/json:
          type: urls_time-series
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: urls_time-series-response
          description: OK
  /tracking-domains.json:
    displayName: tracking-domains.json
    post:
      displayName: POST_urls-tracking-domains-json
      description: Get the list of tracking domains set up for this account
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: urls_tracking-domains-response
          description: OK
/users:
  displayName: users
  /info.json:
    displayName: info.json
    post:
      displayName: POST_users-info-json
      description: Return the information about the API-connected user
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: users_info-response
          description: OK
  /ping.json:
    displayName: ping.json
    post:
      displayName: POST_users-ping-json
      description: Validate an API key and respond to a ping
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          description: OK
  /ping2.json:
    displayName: ping2.json
    post:
      displayName: POST_users-ping2-json
      description: Validate an API key and respond to a ping (anal JSON parser version)
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: users_ping2-response
          description: OK
  /senders.json:
    displayName: senders.json
    post:
      displayName: POST_users-senders-json
      description: 'Return the senders that have tried to use this account, both verified and unverified'
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: senders
          description: OK
/webhooks:
  displayName: webhooks
  /add.json:
    displayName: add.json
    post:
      displayName: POST_webhooks-add-json
      description: Add a new webhook
      body:
        application/json:
          type: webhooks_add
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: webhook
          description: OK
  /delete.json:
    displayName: delete.json
    post:
      displayName: POST_webhooks-delete-json
      description: Delete an existing webhook
      body:
        application/json:
          type: webhook_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: webhook
          description: OK
  /info.json:
    displayName: info.json
    post:
      displayName: POST_webhooks-info-json
      description: 'Given the ID of an existing webhook, return the data about it'
      body:
        application/json:
          type: webhook_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: webhook
          description: OK
  /update.json:
    displayName: update.json
    post:
      displayName: POST_webhooks-update-json
      description: Update an existing webhook
      body:
        application/json:
          type: webhooks_update
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: webhook
          description: OK
  /list.json:
    displayName: list.json
    post:
      displayName: POST_webhooks-list-json
      description: Get the list of all webhooks defined on the account
      body:
        application/json:
          type: api_key
          (oas-body-name): body
      responses:
        '200':
          body:
            application/json:
              type: webhooks_list-response
          description: OK
types:
  api_key:
    properties:
      key:
        type: string
        required: false
  domain:
    properties:
      domain:
        type: string
        required: false
      key:
        type: string
        required: false
  email:
    properties:
      email:
        type: string
        required: false
      key:
        type: string
        required: false
  exports_activity:
    properties:
      api_keys:
        items:
          type: string
        type: array
        required: false
      date_from:
        type: string
        required: false
      date_to:
        type: string
        required: false
      key:
        type: string
        required: false
      notify_email:
        type: string
        required: false
      senders:
        items:
          type: string
        type: array
        required: false
      states:
        items:
          type: string
        type: array
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
  exports_info-response:
    properties:
      created_at:
        type: string
        required: false
      finished_at:
        type: string
        required: false
      id:
        type: string
        required: false
      result_url:
        type: string
        required: false
      state:
        type: string
        required: false
      type:
        type: string
        required: false
  exports_list-response:
    items:
      properties:
        created_at:
          type: string
        finished_at:
          type: string
        id:
          type: string
        result_url:
          type: string
        state:
          type: string
        type:
          type: string
      type: object
    type: array
  exports_satus:
    properties:
      created_at:
        type: string
        required: false
      finished_at:
        type: nil
        required: false
      id:
        type: string
        required: false
      result_url:
        type: nil
        required: false
      state:
        type: string
        required: false
      type:
        type: string
        required: false
  id:
    properties:
      id:
        type: string
        required: false
      key:
        type: string
        required: false
  inbound_add-route:
    properties:
      domain:
        type: string
        required: false
      key:
        type: string
        required: false
      pattern:
        type: string
        required: false
      url:
        type: string
        required: false
  inbound_domains-response:
    items:
      properties:
        created_at:
          type: string
        domain:
          type: string
        valid_mx:
          type: boolean
      type: object
    type: array
  inbound_info:
    properties:
      created_at:
        type: string
        required: false
      domain:
        type: string
        required: false
      valid_mx:
        type: boolean
        required: false
  inbound_routes-response:
    items:
      properties:
        id:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    type: array
  inbound_send-raw:
    properties:
      client_address:
        type: string
        required: false
      helo:
        type: string
        required: false
      key:
        type: string
        required: false
      mail_from:
        type: string
        required: false
      raw_message:
        type: string
        required: false
      to:
        items:
          type: string
        type: array
        required: false
  inbound_send-raw-response:
    items:
      properties:
        email:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    type: array
  inbound_update-route:
    properties:
      id:
        type: string
        required: false
      key:
        type: string
        required: false
      pattern:
        type: string
        required: false
      url:
        type: string
        required: false
  ip:
    properties:
      ip:
        type: string
        required: false
      key:
        type: string
        required: false
  ip_domain:
    properties:
      domain:
        type: string
        required: false
      ip:
        type: string
        required: false
      key:
        type: string
        required: false
  ip_info:
    properties:
      created_at:
        type: string
        required: false
      custom_dns:
        properties:
          enabled:
            type: boolean
            required: false
          error:
            type: string
            required: false
          valid:
            type: boolean
            required: false
        type: object
        required: false
      domain:
        type: string
        required: false
      ip:
        type: string
        required: false
      pool:
        type: string
        required: false
      warmup:
        properties:
          end_at:
            type: string
            required: false
          start_at:
            type: string
            required: false
          warming_up:
            type: boolean
            required: false
        type: object
        required: false
  ips_check-custom-dns-response:
    properties:
      error:
        type: string
        required: false
      valid:
        type: boolean
        required: false
  ips_delete-pool-response:
    properties:
      deleted:
        type: boolean
        required: false
      pool:
        type: string
        required: false
  ips_delete-response:
    properties:
      deleted:
        type: boolean
        required: false
      ip:
        type: string
        required: false
  ips_list-pools-response:
    items:
      properties:
        created_at:
          type: string
        ips:
          items:
            properties:
              created_at:
                type: string
              custom_dns:
                properties:
                  enabled:
                    type: boolean
                  error:
                    type: string
                  valid:
                    type: boolean
                type: object
              domain:
                type: string
              ip:
                type: string
              pool:
                type: string
              warmup:
                properties:
                  end_at:
                    type: string
                  start_at:
                    type: string
                  warming_up:
                    type: boolean
                type: object
            type: object
          type: array
        name:
          type: string
      type: object
    type: array
  ips_list-response:
    items:
      properties:
        created_at:
          type: string
        custom_dns:
          properties:
            enabled:
              type: boolean
            error:
              type: string
            valid:
              type: boolean
          type: object
        domain:
          type: string
        ip:
          type: string
        pool:
          type: string
        warmup:
          properties:
            end_at:
              type: string
            start_at:
              type: string
            warming_up:
              type: boolean
          type: object
      type: object
    type: array
  ips_pool:
    properties:
      created_at:
        type: string
        required: false
      ips:
        items:
          properties:
            created_at:
              type: string
              required: false
            custom_dns:
              properties:
                enabled:
                  type: boolean
                  required: false
                error:
                  type: string
                  required: false
                valid:
                  type: boolean
                  required: false
              type: object
              required: false
            domain:
              type: string
              required: false
            ip:
              type: string
              required: false
            pool:
              type: string
              required: false
            warmup:
              properties:
                end_at:
                  type: string
                  required: false
                start_at:
                  type: string
                  required: false
                warming_up:
                  type: boolean
                  required: false
              type: object
              required: false
          type: object
        type: array
        required: false
      name:
        type: string
        required: false
  ips_pool-key:
    properties:
      key:
        type: string
        required: false
      pool:
        type: string
        required: false
  ips_provision:
    properties:
      key:
        type: string
        required: false
      pool:
        type: string
        required: false
      warmup:
        type: boolean
        required: false
  ips_provision-response:
    properties:
      requested_at:
        type: string
        required: false
  ips_set-pool:
    properties:
      create_pool:
        type: boolean
        required: false
      ip:
        type: string
        required: false
      key:
        type: string
        required: false
      pool:
        type: string
        required: false
  message_send-status:
    items:
      properties:
        _id:
          type: string
        email:
          type: string
        reject_reason:
          type: string
        status:
          type: string
      type: object
    type: array
  messages_cancel-scheduled:
    properties:
      id:
        type: nil
        required: false
      key:
        type: string
        required: false
  messages_content-response:
    properties:
      _id:
        type: string
        required: false
      attachments:
        items:
          properties:
            content:
              type: string
              required: false
            name:
              type: string
              required: false
            type:
              type: string
              required: false
          type: object
        type: array
        required: false
      from_email:
        type: string
        required: false
      from_name:
        type: string
        required: false
      headers:
        properties:
          Reply-To:
            type: string
            required: false
        type: object
        required: false
      html:
        type: string
        required: false
      subject:
        type: string
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
      text:
        type: string
        required: false
      to:
        properties:
          email:
            type: string
            required: false
          name:
            type: string
            required: false
        type: object
        required: false
      ts:
        type: integer
        required: false
  messages_info-response:
    properties:
      _id:
        type: string
        required: false
      clicks:
        type: integer
        required: false
      clicks_detail:
        items:
          properties:
            ip:
              type: string
              required: false
            location:
              type: string
              required: false
            ts:
              type: integer
              required: false
            ua:
              type: string
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
      email:
        type: string
        required: false
      metadata:
        properties:
          user_id:
            type: string
            required: false
          website:
            type: string
            required: false
        type: object
        required: false
      opens:
        type: integer
        required: false
      opens_detail:
        items:
          properties:
            ip:
              type: string
              required: false
            location:
              type: string
              required: false
            ts:
              type: integer
              required: false
            ua:
              type: string
              required: false
          type: object
        type: array
        required: false
      sender:
        type: string
        required: false
      smtp_events:
        items:
          properties:
            diag:
              type: string
              required: false
            ts:
              type: integer
              required: false
            type:
              type: string
              required: false
          type: object
        type: array
        required: false
      state:
        type: string
        required: false
      subject:
        type: string
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
      template:
        type: string
        required: false
      ts:
        type: integer
        required: false
  messages_list-scheduled:
    properties:
      key:
        type: string
        required: false
      to:
        type: string
        required: false
  messages_list-scheduled-response:
    items:
      properties:
        _id:
          type: string
        created_at:
          type: string
        from_email:
          type: string
        send_at:
          type: string
        subject:
          type: string
        to:
          type: string
      type: object
    type: array
  messages_parse:
    properties:
      key:
        type: string
        required: false
      raw_message:
        type: string
        required: false
  messages_parse-response:
    properties:
      attachments:
        items:
          properties:
            binary:
              type: boolean
              required: false
            content:
              type: string
              required: false
            name:
              type: string
              required: false
            type:
              type: string
              required: false
          type: object
        type: array
        required: false
      from_email:
        type: string
        required: false
      from_name:
        type: string
        required: false
      headers:
        properties:
          Reply-To:
            type: string
            required: false
        type: object
        required: false
      html:
        type: string
        required: false
      images:
        items:
          properties:
            content:
              type: string
              required: false
            name:
              type: string
              required: false
            type:
              type: string
              required: false
          type: object
        type: array
        required: false
      subject:
        type: string
        required: false
      text:
        type: string
        required: false
      to:
        items:
          properties:
            email:
              type: string
              required: false
            name:
              type: string
              required: false
          type: object
        type: array
        required: false
  messages_reschedule:
    properties:
      id:
        type: string
        required: false
      key:
        type: string
        required: false
      send_at:
        type: string
        required: false
  messages_search:
    properties:
      api_keys:
        items:
          type: string
        type: array
        required: false
      date_from:
        type: string
        required: false
      date_to:
        type: string
        required: false
      key:
        type: string
        required: false
      limit:
        type: integer
        required: false
      query:
        type: string
        required: false
      senders:
        items:
          type: string
        type: array
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
  messages_search-response:
    items:
      properties:
        _id:
          type: string
        clicks:
          type: integer
        clicks_detail:
          items:
            properties:
              ip:
                type: string
              location:
                type: string
              ts:
                type: integer
              ua:
                type: string
              url:
                type: string
            type: object
          type: array
        email:
          type: string
        metadata:
          properties:
            user_id:
              type: string
            website:
              type: string
          type: object
        opens:
          type: integer
        opens_detail:
          items:
            properties:
              ip:
                type: string
              location:
                type: string
              ts:
                type: integer
              ua:
                type: string
            type: object
          type: array
        sender:
          type: string
        state:
          type: string
        subject:
          type: string
        tags:
          items:
            type: string
          type: array
        template:
          type: string
        ts:
          type: integer
      type: object
    type: array
  messages_search-time-series:
    properties:
      date_from:
        type: string
        required: false
      date_to:
        type: string
        required: false
      key:
        type: string
        required: false
      query:
        type: string
        required: false
      senders:
        items:
          type: string
        type: array
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
  messages_send:
    properties:
      async:
        type: boolean
        required: false
      ip_pool:
        type: string
        required: false
      key:
        type: string
        required: false
      message:
        properties:
          attachments:
            items:
              properties:
                content:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
                type:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          auto_html:
            type: nil
            required: false
          auto_text:
            type: nil
            required: false
          bcc_address:
            type: string
            required: false
          from_email:
            type: string
            required: false
          from_name:
            type: string
            required: false
          global_merge_vars:
            items:
              properties:
                content:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          google_analytics_campaign:
            type: string
            required: false
          google_analytics_domains:
            items:
              type: string
            type: array
            required: false
          headers:
            properties:
              Reply-To:
                type: string
                required: false
            type: object
            required: false
          html:
            type: string
            required: false
          images:
            items:
              properties:
                content:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
                type:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          important:
            type: boolean
            required: false
          inline_css:
            type: nil
            required: false
          merge:
            type: boolean
            required: false
          merge_vars:
            items:
              properties:
                rcpt:
                  type: string
                  required: false
                vars:
                  items:
                    properties:
                      content:
                        type: string
                        required: false
                      name:
                        type: string
                        required: false
                    type: object
                  type: array
                  required: false
              type: object
            type: array
            required: false
          metadata:
            properties:
              website:
                type: string
                required: false
            type: object
            required: false
          preserve_recipients:
            type: nil
            required: false
          recipient_metadata:
            items:
              properties:
                rcpt:
                  type: string
                  required: false
                values:
                  properties:
                    user_id:
                      type: integer
                      required: false
                  type: object
                  required: false
              type: object
            type: array
            required: false
          return_path_domain:
            type: nil
            required: false
          signing_domain:
            type: nil
            required: false
          subaccount:
            type: string
            required: false
          subject:
            type: string
            required: false
          tags:
            items:
              type: string
            type: array
            required: false
          text:
            type: string
            required: false
          to:
            items:
              properties:
                email:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
                type:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          track_clicks:
            type: nil
            required: false
          track_opens:
            type: nil
            required: false
          tracking_domain:
            type: nil
            required: false
          url_strip_qs:
            type: nil
            required: false
          view_content_link:
            type: nil
            required: false
        type: object
        required: false
      send_at:
        type: string
        required: false
  messages_send-raw:
    properties:
      async:
        type: boolean
        required: false
      from_email:
        type: string
        required: false
      from_name:
        type: string
        required: false
      ip_pool:
        type: string
        required: false
      key:
        type: string
        required: false
      raw_message:
        type: string
        required: false
      return_path_domain:
        type: nil
        required: false
      send_at:
        type: string
        required: false
      to:
        items:
          type: string
        type: array
        required: false
  messages_send-template:
    properties:
      async:
        type: boolean
        required: false
      ip_pool:
        type: string
        required: false
      key:
        type: string
        required: false
      message:
        properties:
          attachments:
            items:
              properties:
                content:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
                type:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          auto_html:
            type: nil
            required: false
          auto_text:
            type: nil
            required: false
          bcc_address:
            type: string
            required: false
          from_email:
            type: string
            required: false
          from_name:
            type: string
            required: false
          global_merge_vars:
            items:
              properties:
                content:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          google_analytics_campaign:
            type: string
            required: false
          google_analytics_domains:
            items:
              type: string
            type: array
            required: false
          headers:
            properties:
              Reply-To:
                type: string
                required: false
            type: object
            required: false
          html:
            type: string
            required: false
          images:
            items:
              properties:
                content:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
                type:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          important:
            type: boolean
            required: false
          inline_css:
            type: nil
            required: false
          merge:
            type: boolean
            required: false
          merge_vars:
            items:
              properties:
                rcpt:
                  type: string
                  required: false
                vars:
                  items:
                    properties:
                      content:
                        type: string
                        required: false
                      name:
                        type: string
                        required: false
                    type: object
                  type: array
                  required: false
              type: object
            type: array
            required: false
          metadata:
            properties:
              website:
                type: string
                required: false
            type: object
            required: false
          preserve_recipients:
            type: nil
            required: false
          recipient_metadata:
            items:
              properties:
                rcpt:
                  type: string
                  required: false
                values:
                  properties:
                    user_id:
                      type: integer
                      required: false
                  type: object
                  required: false
              type: object
            type: array
            required: false
          return_path_domain:
            type: nil
            required: false
          signing_domain:
            type: nil
            required: false
          subaccount:
            type: string
            required: false
          subject:
            type: string
            required: false
          tags:
            items:
              type: string
            type: array
            required: false
          text:
            type: string
            required: false
          to:
            items:
              properties:
                email:
                  type: string
                  required: false
                name:
                  type: string
                  required: false
                type:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          track_clicks:
            type: nil
            required: false
          track_opens:
            type: nil
            required: false
          tracking_domain:
            type: nil
            required: false
          url_strip_qs:
            type: nil
            required: false
          view_content_link:
            type: nil
            required: false
        type: object
        required: false
      send_at:
        type: string
        required: false
      template_content:
        items:
          properties:
            content:
              type: string
              required: false
            name:
              type: string
              required: false
          type: object
        type: array
        required: false
      template_name:
        type: string
        required: false
  metadata_info:
    properties:
      name:
        type: string
        required: false
      state:
        type: string
        required: false
      view_template:
        type: string
        required: false
  metadata_list-response:
    items:
      properties:
        name:
          type: string
        state:
          type: string
        view_template:
          type: string
      type: object
    type: array
  metadata_template:
    properties:
      key:
        type: string
        required: false
      name:
        type: string
        required: false
      view_template:
        type: string
        required: false
  name:
    properties:
      key:
        type: string
        required: false
      name:
        type: string
        required: false
  notify_email:
    properties:
      key:
        type: string
        required: false
      notify_email:
        type: string
        required: false
  rejects_add:
    properties:
      comment:
        type: string
        required: false
      email:
        type: string
        required: false
      key:
        type: string
        required: false
      subaccount:
        type: string
        required: false
  rejects_add-response:
    properties:
      added:
        type: boolean
        required: false
      email:
        type: string
        required: false
  rejects_delete:
    properties:
      email:
        type: string
        required: false
      key:
        type: string
        required: false
      subaccount:
        type: string
        required: false
  rejects_delete-response:
    properties:
      deleted:
        type: boolean
        required: false
      email:
        type: string
        required: false
      subaccount:
        type: string
        required: false
  rejects_list:
    properties:
      email:
        type: string
        required: false
      include_expired:
        type: boolean
        required: false
      key:
        type: string
        required: false
      subaccount:
        type: string
        required: false
  rejects_list-response:
    items:
      properties:
        created_at:
          type: string
        detail:
          type: string
        email:
          type: string
        expired:
          type: boolean
        expires_at:
          type: string
        last_event_at:
          type: string
        reason:
          type: string
        sender:
          properties:
            address:
              type: string
            clicks:
              type: integer
            complaints:
              type: integer
            created_at:
              type: string
            hard_bounces:
              type: integer
            opens:
              type: integer
            rejects:
              type: integer
            sent:
              type: integer
            soft_bounces:
              type: integer
            unique_clicks:
              type: integer
            unique_opens:
              type: integer
            unsubs:
              type: integer
          type: object
        subaccount:
          type: string
      type: object
    type: array
  route:
    properties:
      id:
        type: string
        required: false
      pattern:
        type: string
        required: false
      url:
        type: string
        required: false
  schedulingchange_info:
    properties:
      _id:
        type: string
        required: false
      created_at:
        type: string
        required: false
      from_email:
        type: string
        required: false
      send_at:
        type: string
        required: false
      subject:
        type: string
        required: false
      to:
        type: string
        required: false
  sender_address:
    properties:
      address:
        type: string
        required: false
      key:
        type: string
        required: false
  sender_domain_info:
    properties:
      created_at:
        type: string
        required: false
      dkim:
        properties:
          error:
            type: string
            required: false
          valid:
            type: boolean
            required: false
          valid_after:
            type: string
            required: false
        type: object
        required: false
      domain:
        type: string
        required: false
      last_tested_at:
        type: string
        required: false
      spf:
        properties:
          error:
            type: string
            required: false
          valid:
            type: boolean
            required: false
          valid_after:
            type: string
            required: false
        type: object
        required: false
      valid_signing:
        type: boolean
        required: false
      verified_at:
        type: string
        required: false
  senders:
    items:
      properties:
        address:
          type: string
        clicks:
          type: integer
        complaints:
          type: integer
        created_at:
          type: string
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        unique_clicks:
          type: integer
        unique_opens:
          type: integer
        unsubs:
          type: integer
      type: object
    type: array
  senders_domains-response:
    items:
      properties:
        created_at:
          type: string
        dkim:
          properties:
            error:
              type: string
            valid:
              type: boolean
            valid_after:
              type: string
          type: object
        domain:
          type: string
        last_tested_at:
          type: string
        spf:
          properties:
            error:
              type: string
            valid:
              type: boolean
            valid_after:
              type: string
          type: object
        valid_signing:
          type: boolean
        verified_at:
          type: string
      type: object
    type: array
  senders_info-response:
    properties:
      address:
        type: string
        required: false
      clicks:
        type: integer
        required: false
      complaints:
        type: integer
        required: false
      created_at:
        type: string
        required: false
      hard_bounces:
        type: integer
        required: false
      opens:
        type: integer
        required: false
      rejects:
        type: integer
        required: false
      sent:
        type: integer
        required: false
      soft_bounces:
        type: integer
        required: false
      stats:
        properties:
          last_30_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          last_60_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          last_7_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          last_90_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          today:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
        type: object
        required: false
      unsubs:
        type: integer
        required: false
  senders_verify-domain:
    properties:
      domain:
        type: string
        required: false
      key:
        type: string
        required: false
      mailbox:
        type: string
        required: false
  senders_verify-domain-response:
    properties:
      domain:
        type: string
        required: false
      email:
        type: string
        required: false
      status:
        type: string
        required: false
  subaccount_info:
    properties:
      custom_quota:
        type: integer
        required: false
      id:
        type: string
        required: false
      key:
        type: string
        required: false
      name:
        type: string
        required: false
      notes:
        type: string
        required: false
  subaccount_info2:
    properties:
      created_at:
        type: string
        required: false
      custom_quota:
        type: integer
        required: false
      first_sent_at:
        type: string
        required: false
      id:
        type: string
        required: false
      name:
        type: string
        required: false
      reputation:
        type: integer
        required: false
      sent_monthly:
        type: integer
        required: false
      sent_total:
        type: integer
        required: false
      sent_weekly:
        type: integer
        required: false
      status:
        type: string
        required: false
  subaccounts_info-response:
    properties:
      created_at:
        type: string
        required: false
      custom_quota:
        type: integer
        required: false
      first_sent_at:
        type: string
        required: false
      hourly_quota:
        type: integer
        required: false
      id:
        type: string
        required: false
      last_30_days:
        properties:
          clicks:
            type: integer
            required: false
          complaints:
            type: integer
            required: false
          hard_bounces:
            type: integer
            required: false
          opens:
            type: integer
            required: false
          rejects:
            type: integer
            required: false
          sent:
            type: integer
            required: false
          soft_bounces:
            type: integer
            required: false
          unique_clicks:
            type: integer
            required: false
          unique_opens:
            type: integer
            required: false
          unsubs:
            type: integer
            required: false
        type: object
        required: false
      name:
        type: string
        required: false
      notes:
        type: string
        required: false
      reputation:
        type: integer
        required: false
      sent_hourly:
        type: integer
        required: false
      sent_monthly:
        type: integer
        required: false
      sent_total:
        type: integer
        required: false
      sent_weekly:
        type: integer
        required: false
      status:
        type: string
        required: false
  subaccounts_list-response:
    items:
      properties:
        created_at:
          type: string
        custom_quota:
          type: integer
        first_sent_at:
          type: string
        id:
          type: string
        name:
          type: string
        reputation:
          type: integer
        sent_monthly:
          type: integer
        sent_total:
          type: integer
        sent_weekly:
          type: integer
        status:
          type: string
      type: object
    type: array
  tag_key:
    properties:
      key:
        type: string
        required: false
      tag:
        type: string
        required: false
  tags_delete-response:
    properties:
      clicks:
        type: integer
        required: false
      complaints:
        type: integer
        required: false
      hard_bounces:
        type: integer
        required: false
      opens:
        type: integer
        required: false
      rejects:
        type: integer
        required: false
      reputation:
        type: integer
        required: false
      sent:
        type: integer
        required: false
      soft_bounces:
        type: integer
        required: false
      tag:
        type: string
        required: false
      unique_clicks:
        type: integer
        required: false
      unique_opens:
        type: integer
        required: false
      unsubs:
        type: integer
        required: false
  tags_info-response:
    properties:
      clicks:
        type: integer
        required: false
      complaints:
        type: integer
        required: false
      hard_bounces:
        type: integer
        required: false
      opens:
        type: integer
        required: false
      rejects:
        type: integer
        required: false
      sent:
        type: integer
        required: false
      soft_bounces:
        type: integer
        required: false
      stats:
        properties:
          last_30_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          last_60_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          last_7_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          last_90_days:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
          today:
            properties:
              clicks:
                type: integer
                required: false
              complaints:
                type: integer
                required: false
              hard_bounces:
                type: integer
                required: false
              opens:
                type: integer
                required: false
              rejects:
                type: integer
                required: false
              sent:
                type: integer
                required: false
              soft_bounces:
                type: integer
                required: false
              unique_clicks:
                type: integer
                required: false
              unique_opens:
                type: integer
                required: false
              unsubs:
                type: integer
                required: false
            type: object
            required: false
        type: object
        required: false
      tag:
        type: string
        required: false
      unsubs:
        type: integer
        required: false
  tags_list-response:
    items:
      properties:
        clicks:
          type: integer
        complaints:
          type: integer
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        reputation:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        tag:
          type: string
        unique_clicks:
          type: integer
        unique_opens:
          type: integer
        unsubs:
          type: integer
      type: object
    type: array
  template:
    properties:
      code:
        type: string
        required: false
      from_email:
        type: string
        required: false
      from_name:
        type: string
        required: false
      key:
        type: string
        required: false
      labels:
        items:
          type: string
        type: array
        required: false
      name:
        type: string
        required: false
      publish:
        type: boolean
        required: false
      subject:
        type: string
        required: false
      text:
        type: string
        required: false
  template_detailed:
    properties:
      code:
        type: string
        required: false
      created_at:
        type: string
        required: false
      from_email:
        type: string
        required: false
      from_name:
        type: string
        required: false
      labels:
        items:
          type: string
        type: array
        required: false
      name:
        type: string
        required: false
      publish_code:
        type: string
        required: false
      publish_from_email:
        type: string
        required: false
      publish_from_name:
        type: string
        required: false
      publish_name:
        type: string
        required: false
      publish_subject:
        type: string
        required: false
      publish_text:
        type: string
        required: false
      published_at:
        type: string
        required: false
      slug:
        type: string
        required: false
      subject:
        type: string
        required: false
      text:
        type: string
        required: false
      updated_at:
        type: string
        required: false
  templates_list:
    properties:
      key:
        type: string
        required: false
      label:
        type: string
        required: false
  templates_list-response:
    items:
      properties:
        code:
          type: string
        created_at:
          type: string
        from_email:
          type: string
        from_name:
          type: string
        labels:
          items:
            type: string
          type: array
        name:
          type: string
        publish_code:
          type: string
        publish_from_email:
          type: string
        publish_from_name:
          type: string
        publish_name:
          type: string
        publish_subject:
          type: string
        publish_text:
          type: string
        published_at:
          type: string
        slug:
          type: string
        subject:
          type: string
        text:
          type: string
        updated_at:
          type: string
      type: object
    type: array
  templates_render:
    properties:
      key:
        type: string
        required: false
      merge_vars:
        items:
          properties:
            content:
              type: string
              required: false
            name:
              type: string
              required: false
          type: object
        type: array
        required: false
      template_content:
        items:
          properties:
            content:
              type: string
              required: false
            name:
              type: string
              required: false
          type: object
        type: array
        required: false
      template_name:
        type: string
        required: false
  templates_render-response:
    properties:
      html:
        type: string
        required: false
  time-series:
    items:
      properties:
        clicks:
          type: integer
        complaints:
          type: integer
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        time:
          type: string
        unique_clicks:
          type: integer
        unique_opens:
          type: integer
      type: object
    type: array
  timeseries:
    items:
      properties:
        clicks:
          type: integer
        complaints:
          type: integer
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        time:
          type: string
        unique_clicks:
          type: integer
        unique_opens:
          type: integer
        unsubs:
          type: integer
      type: object
    type: array
  tracking-domain-status:
    properties:
      cname:
        properties:
          error:
            type: string
            required: false
          valid:
            type: boolean
            required: false
          valid_after:
            type: string
            required: false
[...]
