#%RAML 1.0
title: Queen
version: 2.15.2
baseUri: 'https://queen.mondiamedia.com/v2/api'
mediaType: application/json
protocols:
  - HTTPS
description: '<p>This is the API for building Mondia-Media-Products, like Tops.</p><p>Every call need a valid client or user-token.</p><p><ol><li>Client-Token can be get at our Police-API</li><li>User-Token can be get through a login on a customer specific Life-Cycle-Service</li><li>UseCases regarding Login, Register, Subscribe (incl. Payment) will be done by the Life-Cycle-Service</li></ol></p>'
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.mondiamedia.com_content_themes_mondiamedia_library_assets_dist_img_logo_mm.png'
  (oas-x-origin):
    format: swagger
    url: 'https://queen.mondiamedia.com/v2/swagger'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): mondiamedia.com
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
/api:
  displayName: api
  /v3:
    displayName: v3
    /mmplaylist:
      displayName: mmplaylist
      /user:
        displayName: user
        /playlist:
          displayName: playlist
          '/{playlistKey}':
            displayName: '{playlistKey}'
            uriParameters:
              playlistKey:
                required: true
                type: string
            post:
              displayName: POST_api-v3-mmplaylist-user-playlist-playlistKey
              description: This call post a complete playlist to the personal playlist for the current user.
              (oas-summary): (User-Token) Add a complete playlist to the personal playlist
              (oas-responses-default): {}
              (oas-tags):
                - api
          get:
            displayName: GET_api-v3-mmplaylist-user-playlist
            description: This call retrieve the personal playlist for the current user.
            (oas-summary): (User-Token) Get the personal playlist for the curren user.
            (oas-responses-default): {}
            queryParameters:
              includeSubEntities:
                description: 'Include Sub-Items of the Playlist (Chapters, Tracks of a Collection'
                required: false
                type: boolean
            (oas-tags):
              - api
          /article:
            displayName: article
            post:
              displayName: POST_api-v3-mmplaylist-user-playlist-article
              description: This call post a new article to the personal playlist for the current user.
              (oas-summary): (User-Token) Add a article to the personal playlist
              body:
                application/json:
                  type: IdModel_2
                  (oas-body-name): IdModel_2
                  description: Article
              (oas-responses-default): {}
              (oas-tags):
                - api
            '/{id}':
              displayName: '{id}'
              uriParameters:
                id:
                  description: Id of the item
                  required: true
                  type: number
              delete:
                displayName: DELETE_api-v3-mmplaylist-user-playlist-article-id
                description: This call remove a new article to the personal playlist for the current user.
                (oas-summary): (User-Token) Remove a article to the personal playlist
                (oas-responses-default): {}
                (oas-tags):
                  - api
          /articles:
            displayName: articles
            post:
              displayName: POST_api-v3-mmplaylist-user-playlist-articles
              description: This call post a new articles to the personal playlist for the current user.
              (oas-summary): (User-Token) Add articles to the personal playlist
              body:
                application/json:
                  type: IdsModel
                  (oas-body-name): IdsModel
                  description: Articles
              (oas-responses-default): {}
              (oas-tags):
                - api
          put:
            displayName: PUT_api-v3-mmplaylist-user-playlist
            description: 'This call put changes of the content (remove, position-change) for a personal playlist for the current user.'
            (oas-summary): (User-Token) Put new personal playlist.
            body:
              application/json:
                type: ItemsModel
                (oas-body-name): ItemsModel
                description: PersonalPlaylistIds
            (oas-responses-default): {}
            (oas-tags):
              - api
      /article:
        displayName: article
        /download:
          displayName: download
          post:
            displayName: POST_api-v3-mmplaylist-article-download
            description: 'This call retrieve a download URL for a Article (Preview/Full).<p> Please note, that a Full-Binary is only available with a User-Token.</p>'
            (oas-summary): (Client/User-Token) Get a download URL for a article.
            body:
              application/json:
                type: ArticleIdModel
                (oas-body-name): ArticleIdModel
                description: ArticleDownload
            (oas-responses-default):
              body:
                application/json:
                  type: UrlTicketPreviewEncryptionModel
              description: Binary
            (oas-tags):
              - api
        /search:
          displayName: search
          get:
            displayName: GET_api-v3-mmplaylist-article-search
            description: 'This call search the complete catalogue for this client. Please note, that you need a special client-configuration to use the results of this call for a Preview/Download or a personal playlist.'
            (oas-summary): (Client/User-Token) Search complete catalogue.
            (oas-responses-default): {}
            queryParameters:
              query:
                description: query
                required: false
                type: string
              title:
                description: title
                required: false
                type: string
              albumTitle:
                description: title of album
                required: false
                type: string
              artist:
                description: artist
                required: false
                type: string
              genre:
                description: genre
                required: false
                type: string
              upc:
                description: Universal Product Code
                required: false
                type: string
              ean:
                description: European Article Number
                required: false
                type: number
              grid:
                description: Global Release Identifier
                required: false
                type: string
              rovi:
                description: 'Rovi Ids (Artist, Song or Release)'
                required: false
                type: string
              musicbrainz:
                description: MusicBrainz
                required: false
                type: string
              sony:
                description: Sony Reporting Code
                required: false
                type: string
              isrc:
                description: International Standard Recording Code
                required: false
                type: string
              excludeCompilations:
                description: Exclude Songs from Compilations
                required: false
                type: boolean
              excludeKaraoke:
                description: Exclude Karaoke Songs
                required: false
                type: boolean
              excludeNonStreamable:
                description: Exclude Songs that are not streamable
                required: false
                type: boolean
              offset:
                default: 0
                description: zero-based offset the request
                maximum: 2147483647
                minimum: 0
                required: false
                type: number
              limit:
                default: 10
                description: Number of items to be returned
                maximum: 2147483647
                minimum: 0
                required: false
                type: number
            (oas-tags):
              - api
        /streaming:
          displayName: streaming
          post:
            displayName: POST_api-v3-mmplaylist-article-streaming
            description: 'This call retrieve a streaming URL for a Article (Preview/Full).<p> Please note, that a Full-Binary is only available with a User-Token.</p>'
            (oas-summary): (Client/User-Token) Get a streaming URL for a article.
            body:
              application/json:
                type: ArticleIdPreviewModel
                (oas-body-name): ArticleIdPreviewModel
                description: ArticleStreaming
            (oas-responses-default):
              body:
                application/json:
                  type: UrlTicketPreviewModel
              description: StreamingLink
            (oas-tags):
              - api
        /report:
          displayName: report
          '/{ticket}':
            displayName: '{ticket}'
            uriParameters:
              ticket:
                description: Ticket of the corresponding download
                required: true
                type: string
            post:
              displayName: POST_api-v3-mmplaylist-article-report-ticket
              description: 'This call store a event for a article, that was downloaded, removed or listened.'
              (oas-summary): (Client/User-Token) Provide a event for a article.
              body:
                application/json:
                  type: ArticleReport
                  (oas-body-name): ArticleReport
                  description: ArticleReport
              (oas-responses-default):
                body:
                  application/json:
                    type: IdModel
                description: CreatedEntityResponse
              (oas-tags):
                - api
      /config:
        displayName: config
        get:
          displayName: GET_api-v3-mmplaylist-config
          description: This call retrieve the config for a MMPlaylist product.
          (oas-summary): (Client-Token) Get MMPlaylist Config
          (oas-responses-default):
            body:
              application/json:
                type: Config_keyClient_template_keyLifecycleAPIPagesModel
            description: Config
          (oas-tags):
            - api
      /playlist:
        displayName: playlist
        '/{playlistKey}':
          displayName: '{playlistKey}'
          uriParameters:
            playlistKey:
              required: true
              type: string
          get:
            displayName: GET_api-v3-mmplaylist-playlist-playlistKey
            description: This call retrieve a playlist for a playlistKey.
            (oas-summary): (Client-Token) Get a playlist for a given key
            (oas-responses-default):
              body:
                application/json:
                  type: PlaylistKeyPlaylistNamePlaylistDescriptionCoverUrlEntitiesModel
              description: PlaylistModel
            queryParameters:
              includeSubEntities:
                description: 'Include Sub-Items of the Playlist (Chapters, Tracks of a Collection'
                required: false
                type: boolean
              keepUnavailableItems:
                description: 'Keep Items of the Playlist that are not available. Items will be marked as "notAvailable": true'
                required: false
                type: boolean
            (oas-tags):
              - api
          /entities:
            displayName: entities
            get:
              displayName: GET_api-v3-mmplaylist-playlist-playlistKey-entities
              description: This call retrieve all a playlist for a given key client.
              (oas-summary): (Client-Token) Get a playlist for a given key
              (oas-responses-default):
                body:
                  application/json:
                    description: Entries
                    items:
                      type: TypeSongModel
                    type: array
                description: Entries
              queryParameters:
                includeSubEntities:
                  description: 'Include Items of the Playlist (Chapters, Tracks of a Collection'
                  required: false
                  type: boolean
                keepUnavailableItems:
                  description: 'Keep Items of the Playlist that are not available. Items will be marked as "notAvailable": true'
                  required: false
                  type: boolean
              (oas-tags):
                - api
        get:
          displayName: GET_api-v3-mmplaylist-playlist
          description: This call retrieve all available playlists for this client.
          (oas-summary): (Client-Token) Get all available playlists of a MMPlaylist config.
          (oas-responses-default):
            body:
              application/json:
                description: Playlists
                items:
                  type: PlaylistKeyPlaylistNamePlaylistDescriptionCoverUrlEntitiesModel
                type: array
            description: Playlists
          queryParameters:
            includeEntities:
              description: 'Include Items of the Playlist (Tracks, Collections, AudioBooks)'
              required: false
              type: boolean
            includeSubEntities:
              description: 'Include Items of the Playlist (Chapters, Tracks of a Collection'
              required: false
              type: boolean
            keepUnavailableItems:
              description: 'Keep Items of the Playlist that are not available. Items will be marked as "notAvailable": true'
              required: false
              type: boolean
            includeRestricted:
              description: 'Include restricted playlists. '
              required: false
              type: boolean
            subscriptionTypeId:
              description: Return only playlist available for given subscriptiontypeid. include restricted must be false
              required: false
              type: number
          (oas-tags):
            - api
/mmplaylist:
  displayName: mmplaylist
  /user:
    displayName: user
    /playlist:
      displayName: playlist
      '/{playlistKey}':
        displayName: '{playlistKey}'
        uriParameters:
          playlistKey:
            required: true
            type: string
        post:
          displayName: POST_mmplaylist-user-playlist-playlistKey
          (oas-responses-default): {}
          (oas-tags):
            - mmplaylist
      /article:
        displayName: article
        '/{id}':
          displayName: '{id}'
          uriParameters:
            id:
              description: Id of the item
              required: true
              type: number
          delete:
            displayName: DELETE_mmplaylist-user-playlist-article-id
            (oas-responses-default): {}
            (oas-tags):
              - mmplaylist
        post:
          displayName: POST_mmplaylist-user-playlist-article
          body:
            application/json:
              type: IdModel_2
              (oas-body-name): IdModel_2
              description: Article
          (oas-responses-default): {}
          (oas-tags):
            - mmplaylist
      put:
        displayName: PUT_mmplaylist-user-playlist
        body:
          application/json:
            type: ItemsModel
            (oas-body-name): ItemsModel
            description: PersonalPlaylistIds
        (oas-responses-default): {}
        (oas-tags):
          - mmplaylist
      get:
        displayName: GET_mmplaylist-user-playlist
        (oas-responses-default): {}
        (oas-tags):
          - mmplaylist
  /article:
    displayName: article
    /download:
      displayName: download
      post:
        displayName: POST_mmplaylist-article-download
        body:
          application/json:
            type: ArticleIdModel
            (oas-body-name): ArticleIdModel
            description: DownloadResponse
        (oas-responses-default): {}
        (oas-tags):
          - mmplaylist
    /report:
      displayName: report
      '/{ticket}':
        displayName: '{ticket}'
        uriParameters:
          ticket:
            required: true
            type: string
        post:
          displayName: POST_mmplaylist-article-report-ticket
          body:
            application/json:
              type: ArticleReport_2
              (oas-body-name): ArticleReport_2
              description: ArticleReport
          (oas-responses-default): {}
          (oas-tags):
            - mmplaylist
    /search:
      displayName: search
      get:
        displayName: GET_mmplaylist-article-search
        (oas-responses-default): {}
        queryParameters:
          query:
            description: query
            required: false
            type: string
          title:
            description: title
            required: false
            type: string
          albumTitle:
            description: title of album
            required: false
            type: string
          artist:
            description: artist
            required: false
            type: string
          genre:
            description: genre
            required: false
            type: string
          upc:
            description: Universal Product Code
            required: false
            type: string
          ean:
            description: European Article Number
            required: false
            type: number
          grid:
            description: Global Release Identifier
            required: false
            type: string
          rovi:
            description: 'Rovi Ids (Artist, Song or Release)'
            required: false
            type: string
          musicbrainz:
            description: MusicBrainz
            required: false
            type: string
          sony:
            description: Sony Reporting Code
            required: false
            type: string
          isrc:
            description: International Standard Recording Code
            required: false
            type: string
          excludeCompilations:
            description: Exclude Songs from Compilations
            required: false
            type: boolean
          excludeKaraoke:
            description: Exclude Karaoke Songs
            required: false
            type: boolean
          excludeNonStreamable:
            description: Exclude Songs that are not streamable
            required: false
            type: boolean
          offset:
            default: 0
            description: zero-based offset the request
            maximum: 2147483647
            minimum: 0
            required: false
            type: number
          limit:
            default: 10
            description: Number of items to be returned
            maximum: 2147483647
            minimum: 0
            required: false
            type: number
        (oas-tags):
          - mmplaylist
    /streaming:
      displayName: streaming
      post:
        displayName: POST_mmplaylist-article-streaming
        body:
          application/json:
            type: ArticleIdPreviewModel
            (oas-body-name): ArticleIdPreviewModel
            description: StreamingResponse
        (oas-responses-default): {}
        (oas-tags):
          - mmplaylist
  /config:
    displayName: config
    get:
      displayName: GET_mmplaylist-config
      (oas-responses-default): {}
      (oas-tags):
        - mmplaylist
  /playlist:
    displayName: playlist
    get:
      displayName: GET_mmplaylist-playlist
      (oas-responses-default): {}
      queryParameters:
        includeSongs:
          required: false
          type: boolean
        includeRestricted:
          required: false
          type: boolean
        subscriptionTypeId:
          required: false
          type: number
      (oas-tags):
        - mmplaylist
    '/{playlistKey}':
      displayName: '{playlistKey}'
      uriParameters:
        playlistKey:
          required: true
          type: string
      get:
        displayName: GET_mmplaylist-playlist-playlistKey
        (oas-responses-default): {}
        queryParameters:
          keepUnavailableItems:
            required: false
            type: boolean
        (oas-tags):
          - mmplaylist
types:
  ArticleIdModel:
    properties:
      articleId:
        type: number
  ArticleIdPreviewModel:
    properties:
      articleId:
        type: number
      preview:
        type: boolean
        required: false
  ArticleReport:
    properties:
      date:
        description: 'Date when the event was happen (Use the format "yyyy-MM-ddTHH:mm:ss.SSSZ"'
        type: string
      maxUsageDuration:
        description: Maximal onblock duration in seconds (for usage-Event)
        type: number
        required: false
      offline:
        description: Information if the Track was listend offline (for usage-event)
        type: boolean
        required: false
      realm:
        default: app
        description: Realm/Client of the event
        enum:
          - app
          - web
        type: string
        required: false
      source:
        description: 'Key of the playlist, where this event occurs - Special: MyTracks for personal Playlist'
        type: string
        required: false
      trigger:
        default: playlist
        description: 'Did the user trigger the play of this item (Play, Skip) (for usage-Event)'
        enum:
          - user
          - playlist
        type: string
        required: false
      type:
        description: 'Type of the status event (downloaded, removed, listened)'
        enum:
          - downloaded
          - removed
          - listened
        type: string
      usageDuration:
        description: Total duration in seconds (for usage-Event)
        type: number
        required: false
  ArticleReport_2:
    properties:
      date:
        type: string
      maxUsageDuration:
        type: number
        required: false
      offline:
        type: boolean
        required: false
      realm:
        default: app
        enum:
          - app
          - web
        type: string
        required: false
      source:
        type: string
        required: false
      trigger:
        default: playlist
        enum:
          - user
          - playlist
        type: string
        required: false
      type:
        enum:
          - downloaded
          - removed
          - listened
        type: string
      usageDuration:
        type: number
        required: false
  Config_keyClient_template_keyLifecycleAPIPagesModel:
    properties:
      client_template_key:
        description: Corresponding Client Template Key
        type: string
        required: false
      config_key:
        type: string
        required: false
      lifecycleAPI:
        description: Endpoint for the Lifecycle Service
        type: string
        required: false
      pages:
        items:
          type: KeyPageTypeTitlesContentModel
        type: array
        required: false
  EmptyModel:
    properties: {}
  IdModel:
    properties:
      id:
        type: string
        required: false
  IdModel_2:
    properties:
      id:
        description: Id of the item
        maximum: 2147483647
        minimum: 1
        type: number
  IdsModel:
    properties:
      ids:
        description: Ids of the items
        items:
          type: number
        type: array
  ItemsModel:
    properties:
      items:
        items:
          type: IdModel_2
        type: array
        required: false
  KeyPageTypeTitlesContentModel:
    properties:
      content:
        type: EmptyModel
        required: false
      key:
        type: string
      pageType:
        type: string
      titles:
        type: EmptyModel
        required: false
  PlaylistKeyPlaylistNamePlaylistDescriptionCoverUrlEntitiesModel:
    properties:
      coverUrl:
        type: string
        required: false
      entities:
        items:
          type: TypeSongModel
        type: array
        required: false
      playlistDescription:
        type: string
        required: false
      playlistKey:
        type: string
      playlistName:
        type: string
  TypeSongModel:
    properties:
      song:
        type: EmptyModel
        required: false
      type:
        type: string
        required: false
  UrlTicketPreviewEncryptionModel:
    properties:
      encryption:
        description: used encryption for this song
        type: string
        required: false
      preview:
        type: boolean
        required: false
      ticket:
        type: string
        required: false
      url:
        type: string
        required: false
  UrlTicketPreviewModel:
    properties:
      preview:
        type: boolean
        required: false
      ticket:
        type: string
        required: false
      url:
        type: string
        required: false
