#%RAML 1.0
title: Moon by Ai Weiwei & Olafur Eliasson
version: '1.0'
baseUri: 'http://moonmoonmoonmoon.com/'
protocols:
  - HTTP
description: 'Turn nothing into something – make a drawing, make a mark.'
(oas-tags-definition):
  - description: Moon data
    name: marks
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    backgroundColor: '#000000'
    url: 'https://api.apis.guru/v2/cache/logo/http_moonmoonmoonmoon.com_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://moonmoonmoonmoon.com/api/api-docs.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): moonmoonmoonmoon.com
/api:
  displayName: api
  /marks:
    displayName: marks
    get:
      displayName: 'Marks#index'
      description: |-
        The main method for querying the marks database. You may use the following options:
                <ol style='list-style-type: lower-roman;'>
                <li>No parameters to retrieve all marks in descending chronological order (use <b>before</b> for pagination)</li>
                <li><b>popular</b> (and optionally <b>last_popular_id</b>) to retrieve all popular marks</li>
                <li><b>featured</b> to retrieve all featured marks</li>
                <li><b>x & y</b> to retrieve mark at specific coordinate</li>
                <li><b>user</b> to retrieve all marks created by the specified user</li>
                <li><b>collection</b> to retrieve all marks collected by the specified user</li>
                </ol>
      (oas-summary): Fetches marks
      responses:
        '200':
          description: No response was specified
        '400':
          description: Bad Request
      queryParameters:
        before:
          description: Before ID (pagination purposes)
          required: false
          type: string
          displayName: Before ID (pagination purposes)
        popular:
          description: Popular marks
          required: false
          type: boolean
          displayName: Popular marks
        last_popular_id:
          description: Last popular ID (for pagination purposes)
          required: false
          type: string
          displayName: Last popular ID (for pagination purposes)
        featured:
          description: Featured marks
          required: false
          type: boolean
          displayName: Featured marks
        x:
          description: X coordinate
          required: false
          type: integer
          displayName: X coordinate
        'y':
          description: Y coordinate
          required: false
          type: integer
          displayName: Y coordinate
        user:
          description: Created by user ID
          required: false
          type: string
          displayName: Created by user ID
        collection:
          description: Collection ID
          required: false
          type: string
          displayName: Collection ID
      (oas-tags):
        - marks
  /hashtags:
    displayName: hashtags
    get:
      displayName: 'Marks#hashtags'
      description: 'Search for specified tag (no pound sign necessary). If <b>tag</b> is empty, the 50 most popular hashtags will be returned.'
      (oas-summary): Fetches popular hashtags or marks tagged with specified hashtag
      responses:
        '200':
          description: No response was specified
        '400':
          description: Bad Request
      queryParameters:
        tag:
          description: Hashtag to search for
          required: false
          type: string
          displayName: Hashtag to search for
      (oas-tags):
        - marks
