#%RAML 1.0
title: High Performance Building Database
version: '1.0'
baseUri: 'https://developer.nrel.gov/api/building-case-studies'
mediaType: text/xml
protocols:
  - HTTPS
description: 'The Buildings Database is a shared resource for the building industry. The Database, developed by the U.S. Department of Energy and the National Renewable Energy Laboratory (NREL), is a unique central repository of in-depth information and data on high-performance, green building projects across the United States and abroad.  '
(oas-tags-definition):
  - description: API endpoints related to buildings.
    name: project
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    backgroundColor: '#0079C5'
    url: 'https://api.apis.guru/v2/cache/logo/http_www.nrel.gov_client_img_nrel_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://developer.nrel.gov/docs/buildings/building-case-studies/api-docs.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): nrel.gov
  (oas-x-serviceName): building-case-studies
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        api_key:
          type: string
    description: API Key
/project:
  displayName: project
  '/{project_id}.{output_format}':
    displayName: '{project_id}.{output_format}'
    uriParameters:
      output_format:
        default: json
        description: Response Format
        enum:
          - json
          - xml
        required: true
        type: string
        displayName: Response Format
      project_id:
        description: Project ID
        required: true
        type: integer
        displayName: Project ID
    get:
      displayName: document
      description: This API allows users to request metadata associated with the specific Document.
      (oas-summary): Project Details
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - project
'/project.{output_format}':
  displayName: 'project.{output_format}'
  uriParameters:
    output_format:
      default: xml
      description: Response Format
      enum:
        - json
        - xml
      required: true
      type: string
      displayName: Response Format
  get:
    displayName: project
    (oas-summary): A filterable list of projects.
    responses:
      '200':
        description: No response was specified
    queryParameters:
      search:
        description: Search Text
        required: false
        type: string
        displayName: Search Text
      portal:
        description: Portal ID
        required: false
        type: string
        displayName: Portal ID
      page:
        description: Page Number
        required: false
        type: integer
        displayName: Page Number
      city:
        description: City
        required: false
        type: string
        displayName: City
      province:
        description: 'State or Province (ex: ''CO'', ''AZ'')'
        required: false
        type: string
        displayName: 'State or Province (ex: ''CO'', ''AZ'')'
      region:
        description: 'Climate Region.  Use integer from mapping (256: ''1A: Very Hot - Humid'', 257: ''1B: Very Hot - Dry'', 258: ''2A: Hot - Humid'', 259: ''2B: Hot - Dry'', 260: ''3A: Warm - Humid'', 261: ''3B: Warm - Dry'', 262: ''3C: Warm - Marine'', 263: ''4A: Mixed - Humid'', 264: ''4B: Mixed - Dry'', 265: ''4C: Mixed - Marine'', 266: ''5A: Cool - Humid'', 267: ''5B: Cool - Dry'', 268: ''5C: Cool - Marine'', 269: ''6A: Cold - Humid'', 270: ''6B: Cold - Dry'', 271: ''7: Very Cold'', 272: ''8: Subarctic'')'
        required: false
        type: string
        displayName: 'Climate Region.  Use integer from mapping (256: ''1A: Very Hot - Humid'', 257: ''1B: Very Hot - Dry'', 258: ''2A: Hot - Humid'', 259: ''2B: Hot - Dry'', 260: ''3A: Warm - Humid'', 261: ''3B: Warm - Dry'', 262: ''3C: Warm - Marine'', 263: ''4A: Mixed - Humid'', 264: ''4B: Mixed - Dry'', 265: ''4C: Mixed - Marine'', 266: ''5A: Cool - Humid'', 267: ''5B: Cool - Dry'', 268: ''5C: Cool - Marine'', 269: ''6A: Cold - Humid'', 270: ''6B: Cold - Dry'', 271: ''7: Very Cold'', 272: ''8: Subarctic'')'
    (oas-tags):
      - project
