#%RAML 1.0
title: Transportation Laws and Incentives
version: 0.1.0
baseUri: 'https://developer.nrel.gov/api/transportation-incentives-laws'
protocols:
  - HTTPS
description: Query our database of State and Federal Laws and Incentives for Alternative Fuels
(oas-tags-definition):
  - description: Information about laws and incentives
    name: v1
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    backgroundColor: '#0079C5'
    url: 'https://api.apis.guru/v2/cache/logo/http_www.nrel.gov_client_img_nrel_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://developer.nrel.gov/docs/transportation/transportation-incentives-laws-v1/api-docs.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): nrel.gov
  (oas-x-serviceName): transportation-incentives-laws
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        api_key:
          type: string
    description: API Key
/v1:
  displayName: v1
  '/{id}.{output_format}':
    displayName: '{id}.{output_format}'
    uriParameters:
      output_format:
        default: json
        description: Response format
        enum:
          - json
          - xml
        required: true
        type: string
      id:
        description: The id of the law that you are searching
        required: true
        type: integer
    get:
      displayName: GET_v1-id-output_format
      (oas-summary): Fetch the details of a specific law given the law's ID.
      responses:
        '200':
          body:
            application/json:
              type: LawResult
          description: No response was specified
      queryParameters:
        poc:
          default: false
          description: Include points of contacts in the return value.
          type: boolean
      (oas-tags):
        - v1
  '/pocs.{output_format}':
    displayName: 'pocs.{output_format}'
    uriParameters:
      output_format:
        default: json
        description: Response format
        enum:
          - json
          - xml
        required: true
        type: string
    get:
      displayName: GET_v1-pocs-output_format
      (oas-summary): Get the points of contact for a given jurisdiction.
      responses:
        '200':
          body:
            application/json:
              type: PocResults
          description: No response was specified
      queryParameters:
        jurisdiction:
          description: 'Return the points of contact for the given Jurisdiction. Jurisdiction must be given as a two character state code (eg, ''CO'' for Colorado). A single jurisdiction, or a comma-separate list of multiple jurisdiction, may be given.  Use the code ''US'' for federal laws and the code ''DC'' for Washington D.C.'
          required: true
          type: string
      (oas-tags):
        - v1
  '/category-list.{output_format}':
    displayName: 'category-list.{output_format}'
    uriParameters:
      output_format:
        default: json
        description: Response format
        enum:
          - json
          - xml
        required: true
        type: string
    get:
      displayName: GET_v1-category-list-output_format
      (oas-summary): Return the law categories for a given category type.
      responses:
        '200':
          body:
            application/json:
              type: CategoryResults
          description: No response was specified
      queryParameters:
        type:
          description: Search by the category type.
          enum:
            - tech
            - user
            - regulation
            - incentive
          type: string
      (oas-tags):
        - v1
'/v1.{output_format}':
  displayName: 'v1.{output_format}'
  uriParameters:
    output_format:
      default: json
      description: Response format
      enum:
        - json
        - xml
        - csv
      required: true
      type: string
  get:
    displayName: GET_v1-output_format
    (oas-summary): Return a full list of laws and incentives that match your query.
    responses:
      '200':
        body:
          application/json:
            type: LawsResponse
        description: No response was specified
    queryParameters:
      limit:
        default: 10
        description: Limit the number of laws returned
        type: integer
      jurisdiction:
        description: 'Return laws for the given Jurisdiction. Jurisdiction must be given as a two character state code (eg, ''CO'' for Colorado). A single jurisdiction, or a comma-separate list of multiple jurisdiction, may be given.  Use the code ''US'' for federal laws and the code ''DC'' for Washington D.C.'
        type: string
      technology:
        description: 'Search by the technology type. A single type, or a comma-separate list of multiple types, may be given. Values and what they stand for are as follows: ''BIOD'' for Biodiesel, ''ETH'' for Ethanol, ''NG'' for Natural Gas, ''LPG'' for Propane (LPG), ''HY'' for Hydrogen Fuel Cells, ''EFFEC'' for Fuel Economy / Efficiency, ''IR'' for Idle Reduction, ''ELEC'' for EVs, ''HEV'' for HEVs, ''PHEV'' for PHEVs, ''OTHER'' for Other, ''AFTMKTCONV'' for Aftermarket Conversions, and ''NEVS'' for NEVs'
        type: string
      incentive_type:
        description: 'Search by the incentive type. A single type, or a comma-separate list of multiple types, may be given. Values and what they stand for are as follows: ''GNT'' for Grants, ''TAX'' for Tax Incentives, ''LOANS'' for Loans and Leases, ''RBATE'' for Rebates, ''EXEM'' for Exemptions, and ''OTHER'' for Other.'
        type: string
      regulation_type:
        description: 'Search by the regulation type. A single type, or a comma-separate list of multiple types, may be given. Values and what they stand for are as follows: ''REGIS'' for Registration / Licensing, ''STD'' for Fuel Production / Quality, ''DREST'' for Driving / Idling, ''REQ'' for Acquisition / Fuel Use, ''FUEL'' for Fuel Taxes, ''RFS'' for Renewable Fuel Standard / Mandate, ''OTHER'' for Other, ''AIRQEMISSIONS'' for Air Quality / Emissions, and ''CCEINIT'' for Climate Change / Energy Initiatives'
        type: string
      user_type:
        description: 'Search by the user type. A single type, or a comma-separate list of multiple types, may be given. Values and what they stand for are as follows: ''IND'' for Vehicle Owner/Driver, ''FLEET'' for Fleet Purchaser/Manager, ''STATION'' for Fueling / TSE Infrastructure Owner, ''AFP'' for Alternative Fuel Producer, ''AFS'' for Alternative Fuel Dealer, ''PURCH'' for Alternative Fuel Purchaser, ''MAN'' for AFV Manufacturer/Retrofitter, and ''OTHER'' for Other'
        type: string
      poc:
        default: false
        description: Include points of contacts in the return value.
        type: boolean
      recent:
        default: false
        description: Return only recently added or updated laws and incentives
        type: boolean
      expired:
        default: false
        description: 'Show only expired, repealed or archived laws and incentives.'
        type: boolean
      law_type:
        description: 'Search by the law type. A single type, or a comma-separate list of multiple types, may be given. Values are as follows: ''STATEINC'' for State Incentives, ''UPINC '' for Utility/Private Incentives, ''LAWREG'' for Laws and Regulations, ''INC'' for Incentives, ''PROG'' for Programs, ''LUP'' for Last Updated, ''OVIEW'' for Overview, and ''HILITE'' for Highlights'
        type: string
      keyword:
        description: Search laws by keyword in title or text.
        type: string
      local:
        default: false
        description: Show only local examples of laws and incentives.
        type: boolean
    (oas-tags):
      - v1
types:
  Category:
    description: A category that the law applies to
    properties:
      category_type:
        description: 'The type of category. (E.g. tech, incentive, regulation, user)'
        type: string
      code:
        description: The code used to identify the category
        type: string
      title:
        description: The full name of the category
        type: string
  CategoryResults:
    properties:
      inputs:
        description: The parameters that were passed to the api call
        type: Inputs
      metadata:
        description: 'The api version number, and the count of categories returned'
        type: Metadata
      result:
        description: The array of law categories returned
        items:
          type: FullCategory
        type: array
  FullCategory:
    properties:
      category_type:
        description: 'The type of category. (E.g. tech, incentive, regulation, user)'
        type: string
      code:
        description: The code used to identify the category
        type: string
      help_text:
        description: A short description of what the law category encompasses
        type: string
        required: false
      sort_order:
        description: The sort order for the categories
        type: string
      title:
        description: The full name of the category
        type: string
  Inputs:
    description: The parameters that were passed to the API
  Law:
    description: This is a Law
    properties:
      agency:
        description: The agency with primary responsibility for federal incentives/regulations.
        type: string
        required: false
      amended_date:
        description: The date the incentive/law/regulation was updated through new legislation or rulemaking.
        format: rfc3339
        type: datetime
        required: false
      archived_date:
        description: The date that an incentive/law/regulation is no longer relevant to the database. This may include longstanding Executive Orders or laws requiring legislative studies that have been completed.
        format: rfc3339
        type: datetime
        required: false
      categories:
        description: The various law categories that apply to this law
        items:
          type: Category
        type: array
      contacts:
        description: 'The contacts for the given law, returned only if the parameter poc is true'
        items:
          type: Poc
        type: array
        required: false
      enacted_date:
        description: The date the enacting legislation (if applicable) was signed into law.
        format: rfc3339
        type: datetime
        required: false
      expired_date:
        description: The date the incentive/law/regulation is set to end.
        format: rfc3339
        type: datetime
        required: false
      id:
        description: A unique identifier for this specific incentive/law/regulation.
        type: integer
      is_recent:
        description: The true or false value used to distinguish between recent federal executive actions (TRUE) and active incentives/laws/regulations (FALSE).
        type: boolean
        required: false
      plaintext:
        description: 'Description of the incentive/law/regulation, including applicable legislative references, in <a href="https://guides.github.com/features/mastering-markdown/">markdown formatting</a>'
        type: string
      recent_update_or_new:
        description: An indicator if the last significant update was an update or the laws creation.
        type: string
        required: false
      references:
        description: The URL associated with any bill or legislative reference included in the description.
        items:
          type: LawReference
        type: array
      repealed_date:
        description: The date legislation is enacted or a rulemaking is finalized to repeal the incentive/law/regulation.
        format: rfc3339
        type: datetime
        required: false
      seq_num:
        description: The numerical value assigned to a description to show the order in which it is displayed online within a jurisdiction (state).
        type: integer
        required: false
      significant_update_date:
        description: When the last significant update to the law was made.
        format: rfc3339
        type: datetime
        required: false
      state:
        description: The state in which the incentive/law/regulation was enacted and is active.
        type: string
      text:
        description: 'Description of the incentive/law/regulation, including applicable legislative references, html formated.'
        type: string
      title:
        description: The brief title assigned to the incentive/law/regulation description.
        type: string
      topics:
        description: 'For local incentive/regulation descriptions, the category that the incentive/regulation falls under, described below: Infrastructure Requirements, Vehicle Purchase and Infrastructure Development Incentives, Fuel Use Incentives, Parking Incentives, Technical Assistance, Vehicle Acquisition Requirements, Promotion Initiatives, Idle Reduction Requirements, Renewable Fuels Mandates and Standards'
        items:
          type: LawTopics
        type: array
      type:
        description: 'The category that the incentive/law/regulation falls under, described below: -State Incentives, -Laws and Regulations, -Utility/Private Incentives'
        type: string
      types:
        description: The types that apply to this law
        items:
          type: LawType
        type: array
  LawReference:
    description: The URL associated with any bill or legislative reference included in the description.
    properties:
      description:
        description: The context of the reference
        type: string
      url:
        description: The url linking to the reference.
        type: string
  LawResult:
    properties:
      inputs:
        description: The parameters that were passed to the api call
        type: Inputs
      metadata:
        description: The api version number
        type: Metadata
      result:
        description: The law requested
        type: Law
  LawTopics:
    description: 'For local incentive/regulation descriptions, the category that the incentive/regulation falls under, described below: Infrastructure Requirements, Vehicle Purchase and Infrastructure Development Incentives, Fuel Use Incentives, Parking Incentives, Technical Assistance, Vehicle Acquisition Requirements, Promotion Initiatives, Idle Reduction Requirements, Renewable Fuels Mandates and Standards'
    properties:
      id:
        description: The database id of the law topic
        type: integer
      sort_order:
        description: The sort order of the law topic
        type: integer
      title:
        description: The name of the law topic
        type: string
  LawType:
    description: 'The category that the incentive/law/regulation falls under, described below: -State Incentives, -Laws and Regulations, -Utility/Private Incentives'
    properties:
      code:
        description: The code used to identify the law type
        type: string
      id:
        description: The id of the law type
        type: integer
      title:
        description: The name of the law type
        type: string
  LawsResponse:
    properties:
      inputs:
        description: The parameters that were passed to the api call
        type: Inputs
      metadata:
        description: 'The api version number, and the count of laws returned'
        type: Metadata
      result:
        description: The array of laws returned
        items:
          type: Law
        type: array
  Metadata:
    description: The identifying metadata.
    properties:
      count:
        description: 'If the request returns an array of results, this is the number of results returned in the array'
        type: integer
        required: false
      version:
        description: This is the version of the api
        type: string
  Poc:
    properties:
      agency:
        description: The agency that the contact represents
        type: string
        required: false
      email:
        description: The contacts email address
        type: string
        required: false
      fax:
        description: The contacts fax number
        type: string
        required: false
      name:
        description: The name of the contact
        type: string
      state:
        description: The state in which the contact is based ('US' for Federal laws and 'DC' for the District of Columbia)
        type: string
      telephone:
        description: The contacts phone number
        type: string
        required: false
      title:
        description: The job title of the contact
        type: string
        required: false
      web_page:
        description: The contacts webpage
        type: string
        required: false
  PocResults:
    properties:
      inputs:
        description: The parameters that were passed to the api call
        type: Inputs
      metadata:
        description: 'The api version number, and the count of contacts returned'
        type: Metadata
      result:
        description: The array of Points of Contacts for the state requested
        items:
          type: Poc
        type: array
