#%RAML 1.0
title: NSIDC Web Service Documentation Index
version: 1.0.0
baseUri: 'http://nsidc.org/api/dataset/2'
protocols:
  - HTTP
description: This API allows programmers to build National Snow and Ice Data Center data and metadata services into their applications.
(oas-tags-definition):
  - description: Dataset search
    name: SwaggerDocs
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_nsidc.org_images_logo_nsidc_115x90.jpg'
  (oas-x-origin):
    format: swagger
    url: 'http://documentation-index-vm.apps.nsidc.org/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): nsidc.org
  contact:
    email: support@aoncadis.org
/suggest:
  displayName: suggest
  get:
    displayName: id
    description: 'In NSIDC Search and the Arctic Data Explorer, this endpoint is queried whenever the user types into the search terms box, and the returned suggestions are displayed in a dropdown beneath the search terms box. The q parameter and returned JSON follow the specifications of the OpenSearch Suggestions 1.0 extension.'
    (oas-summary): Suggest search terms based on a partial query
    responses:
      '200':
        body:
          application/x-suggestions+json:
            type: string
        description: OK
      '400':
        description: Bad request
      '500':
        description: Internal server error
    queryParameters:
      q:
        description: Search terms typed into the interface (minimum two characters)
        required: true
        type: string
        displayName: Search terms typed into the interface (minimum two characters)
      source:
        default: NSIDC
        description: 'Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC'
        enum:
          - NSIDC
          - ADE
        required: true
        type: string
        displayName: 'Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC'
    (oas-tags):
      - SwaggerDocs
/OpenSearchDescription:
  displayName: OpenSearchDescription
  get:
    displayName: opensearch description
    (oas-summary): Describes the web interface of NSIDC's data search engine
    responses:
      '200':
        body:
          application/opensearchdescription+xml:
            type: string
        description: Success
    (oas-tags):
      - SwaggerDocs
/OpenSearch:
  displayName: OpenSearch
  get:
    displayName: open search
    description: 'This endpoint uses parameters from the OpenSearch 1.1 specification, as well as parameters from the OpenSearch Geo (1.0) and SRU (1.0) extensions.'
    (oas-summary): Search documents using the OpenSearch 1.1 Specification
    responses:
      '200':
        body:
          application/atom+xml:
            type: string
        description: OK
      '400':
        description: Bad request
      '500':
        description: Internal server error
    queryParameters:
      searchTerms:
        description: URL-encoded keyword or keywords desired by the client; OpenSearch 1.1
        required: false
        type: string
        displayName: URL-encoded keyword or keywords desired by the client; OpenSearch 1.1
      count:
        default: 25
        description: The number of search results per page desired by the client; OpenSearch 1.1
        required: false
        type: integer
        displayName: The number of search results per page desired by the client; OpenSearch 1.1
      startIndex:
        default: 1
        description: First search result desired by the search client; OpenSearch 1.1
        required: false
        type: integer
        displayName: First search result desired by the search client; OpenSearch 1.1
      spatial:
        default: '-180.0,-90.0,180.0,90.0'
        description: '4 comma separated values - W, S, E, N; OpenSearch-Geo 1.0, "box" parameter'
        required: false
        type: string
        displayName: '4 comma separated values - W, S, E, N; OpenSearch-Geo 1.0, "box" parameter'
      sortKeys:
        default: 'score,,desc'
        description: 'Sort the results by most relevant (default), smallest or largest spatial area, shortest or longest temporal duration, or most recently updated; partial implementation of OpenSearch SRU 1.0'
        enum:
          - 'score,,desc'
          - 'spatial_area,,asc'
          - 'spatial_area,,desc'
          - 'temporal_duration,,asc'
          - 'temporal_duration,,desc'
          - 'updated,,desc'
        required: false
        type: string
        displayName: 'Sort the results by most relevant (default), smallest or largest spatial area, shortest or longest temporal duration, or most recently updated; partial implementation of OpenSearch SRU 1.0'
      facetFilters:
        description: 'Describes faceted restrictions on the search. A URL-encoded JSON object where the keys are the names of the facet, and the values are arrays of the selected facet values'
        required: false
        type: string
        displayName: 'Describes faceted restrictions on the search. A URL-encoded JSON object where the keys are the names of the facet, and the values are arrays of the selected facet values'
      source:
        default: NSIDC
        description: 'Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC'
        enum:
          - NSIDC
          - ADE
        required: false
        type: string
        displayName: 'Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC'
    (oas-tags):
      - SwaggerDocs
/Facets:
  displayName: Facets
  get:
    displayName: facets
    description: 'In the NSIDC Search and Arctic Data Explorer interfaces, this endpoint is used in conjunction with /OpenSearch whenever a user submits a new search. Consequently, it has the same parameters as /OpenSearch.'
    (oas-summary): View the facet information corresponding to a search
    responses:
      '200':
        body:
          application/nsidcfacets+xml:
            type: string
        description: OK
      '400':
        description: Bad request
      '500':
        description: Internal server error
    queryParameters:
      searchTerms:
        description: URL-encoded keyword or keywords desired by the client; OpenSearch 1.1
        required: false
        type: string
        displayName: URL-encoded keyword or keywords desired by the client; OpenSearch 1.1
      count:
        default: 25
        description: The number of search results per page desired by the client; OpenSearch 1.1
        required: false
        type: integer
        displayName: The number of search results per page desired by the client; OpenSearch 1.1
      startIndex:
        default: 1
        description: First search result desired by the search client; OpenSearch 1.1
        required: false
        type: integer
        displayName: First search result desired by the search client; OpenSearch 1.1
      spatial:
        default: '-180.0,-90.0,180.0,90.0'
        description: '4 comma separated values - W, S, E, N; OpenSearch-Geo 1.0, "box" parameter'
        required: false
        type: string
        displayName: '4 comma separated values - W, S, E, N; OpenSearch-Geo 1.0, "box" parameter'
      sortKeys:
        default: 'score,,desc'
        description: 'Sort the results by most relevant (default), smallest or largest spatial area, shortest or longest temporal duration, or most recently updated; partial implementation of OpenSearch SRU 1.0'
        enum:
          - 'score,,desc'
          - 'spatial_area,,asc'
          - 'spatial_area,,desc'
          - 'temporal_duration,,asc'
          - 'temporal_duration,,desc'
          - 'updated,,desc'
        required: false
        type: string
        displayName: 'Sort the results by most relevant (default), smallest or largest spatial area, shortest or longest temporal duration, or most recently updated; partial implementation of OpenSearch SRU 1.0'
      facetFilters:
        description: 'Describes faceted restrictions on the search. A URL-encoded JSON object where the keys are the names of the facet, and the values are arrays of the selected facet values'
        required: false
        type: string
        displayName: 'Describes faceted restrictions on the search. A URL-encoded JSON object where the keys are the names of the facet, and the values are arrays of the selected facet values'
      source:
        default: NSIDC
        description: 'Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC'
        enum:
          - NSIDC
          - ADE
        required: false
        type: string
        displayName: 'Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC'
    (oas-tags):
      - SwaggerDocs
