#%RAML 1.0
title: Geographic
version: 1.0.0
baseUri: 'http://api.nytimes.com/svc/semantic/v2/geocodes'
mediaType: application/json
protocols:
  - HTTP
  - HTTPS
description: |
  The Geographic API extends the Semantic API, using a linked data approach to enhance location concepts used in The New York Times' controlled vocabulary and data resources which combine them with the GeoNames database, an authoritative and free to use database of global geographical places, names and features.
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://developer.nytimes.com/signup'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/geo_api/geo_api_v2.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): nytimes.com
  (oas-x-serviceName): geo_api
  termsOfService: 'http://developer.nytimes.com/tou'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://developer.nytimes.com/'
securitySchemes:
  apikey:
    type: Pass Through
    describedBy:
      queryParameters:
        api-key:
          type: string
/query.json:
  displayName: query.json
  get:
    displayName: GET_query-json
    description: Geographic API
    (oas-summary): Geographic API
    responses:
      '200':
        body:
          application/json:
            properties:
              results:
                items:
                  type: Event
                type: array
                required: false
            type: object
        description: An array of events
    queryParameters:
      name:
        description: A displayable name for the specified place.
        required: false
        type: string
        displayName: A displayable name for the specified place.
      latitude:
        description: |
          The latitude of the specified place.
        type: string
        displayName: |
          The latitude of the specified place.
      longitude:
        description: The longitude of the specified place.
        type: string
        displayName: The longitude of the specified place.
      elevation:
        description: 'The elevation of the specified place, in meters.'
        required: false
        type: integer
        displayName: 'The elevation of the specified place, in meters.'
      sw:
        description: 'Along with ne, forms a bounded box using the longitude and latitude coordinates specified as the southwest corner. The search results are limited to the resulting box. Two float values, separated by a comma `latitude,longitude` <br/> The ne parameter is required to use this parameter.'
        required: false
        type: string
        displayName: 'Along with ne, forms a bounded box using the longitude and latitude coordinates specified as the southwest corner. The search results are limited to the resulting box. Two float values, separated by a comma `latitude,longitude` <br/> The ne parameter is required to use this parameter.'
      query:
        description: |
          Search keywords to perform a text search on the fields: web_description, event_name and venue_name. 'AND' searches can be performed by wrapping query terms in quotes. If you do not specify a query, all results will be returned.
        required: false
        type: string
        displayName: |
          Search keywords to perform a text search on the fields: web_description, event_name and venue_name. 'AND' searches can be performed by wrapping query terms in quotes. If you do not specify a query, all results will be returned.
      filter:
        description: |
          Filters search results based on the facets provided.  For more information on the values you can filter on, see Facets.
        required: false
        type: string
        displayName: |
          Filters search results based on the facets provided.  For more information on the values you can filter on, see Facets.
      date_range:
        description: 'Start date to end date in the following format- YYYY-MM-DD:YYYY-MM-DD'
        required: false
        type: string
        displayName: 'Start date to end date in the following format- YYYY-MM-DD:YYYY-MM-DD'
      facets:
        default: 0
        description: 'When facets is set to 1, a count of all facets will be included in the response.'
        type: integer
        displayName: 'When facets is set to 1, a count of all facets will be included in the response.'
      sort:
        description: |
          Sorts your results on the fields specified. <br/> `sort_value1+[asc | desc],sort_value2+[asc|desc],[...]`<br/> Appending +asc to a facet or response will sort results on that value in ascending order. Appending +desc to a facet or response  will sort results in descending order. You can sort on multiple fields. You can sort on any facet. For the list of responses you can sort on, see the Sortable Field column in the Response table. <br/><br/>If you are doing a spatial search with the ll parameter, you can also sort by the distance from the center of the search: dist+[asc | desc] <br/> **Note:** either +asc or +desc is required when using the sort parameter.
        type: string
        displayName: |
          Sorts your results on the fields specified. <br/> `sort_value1+[asc | desc],sort_value2+[asc|desc],[...]`<br/> Appending +asc to a facet or response will sort results on that value in ascending order. Appending +desc to a facet or response  will sort results in descending order. You can sort on multiple fields. You can sort on any facet. For the list of responses you can sort on, see the Sortable Field column in the Response table. <br/><br/>If you are doing a spatial search with the ll parameter, you can also sort by the distance from the center of the search: dist+[asc | desc] <br/> **Note:** either +asc or +desc is required when using the sort parameter.
      limit:
        default: 20
        description: Limits the number of results returned
        type: integer
        displayName: Limits the number of results returned
      offset:
        default: 0
        description: Sets the starting point of the result set
        type: integer
        displayName: Sets the starting point of the result set
    (oas-tags):
      - Events
types:
  Event:
    properties:
      city:
        type: string
        required: false
      critic_name:
        type: string
        required: false
      event_detail_url:
        type: string
        required: false
      event_id:
        type: integer
        required: false
      event_name:
        type: string
        required: false
      event_schedule_id:
        type: integer
        required: false
      festival:
        type: boolean
        required: false
      film_rating:
        type: boolean
        required: false
      free:
        type: boolean
        required: false
      kid_friendly:
        type: boolean
        required: false
      last_chance:
        type: boolean
        required: false
      last_modified:
        type: string
        required: false
      long_running_show:
        type: boolean
        required: false
      previews_and_openings:
        type: boolean
        required: false
      recur_days:
        items:
          type: string
        type: array
        required: false
      recurring_start_date:
        type: string
        required: false
      state:
        type: string
        required: false
      times_pick:
        type: boolean
        required: false
      web_description:
        type: string
        required: false
