#%RAML 1.0
title: Top Stories V2
version: 2.0.0
baseUri: 'http://api.nytimes.com/svc/topstories/v2'
mediaType: application/json
protocols:
  - HTTP
  - HTTPS
description: The Top Stories API provides JSON and JSONP lists of articles and associated images by section.
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://developer.nytimes.com/signup'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/top_stories/top_stories_v2.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): nytimes.com
  (oas-x-serviceName): top_stories
  termsOfService: 'http://developer.nytimes.com/tou'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://developer.nytimes.com/'
securitySchemes:
  apikey:
    type: Pass Through
    describedBy:
      queryParameters:
        api-key:
          type: string
'/{section}.{format}':
  displayName: '{section}.{format}'
  uriParameters:
    section:
      description: The section the story appears in.
      enum:
        - home
        - opinion
        - world
        - national
        - politics
        - upshot
        - nyregion
        - business
        - technology
        - science
        - health
        - sports
        - arts
        - books
        - movies
        - theater
        - sundayreview
        - fashion
        - tmagazine
        - food
        - travel
        - magazine
        - realestate
        - automobiles
        - obituaries
        - insider
      required: true
      type: string
    format:
      description: if this is JSONP or JSON
      enum:
        - json
        - jsonp
      required: true
      type: string
  get:
    displayName: GET_section-format
    description: |
      The Top Stories API provides JSON and JSONP lists of articles and associated images by section.
    (oas-summary): Top Stories
    responses:
      '200':
        body:
          application/json:
            properties:
              results:
                items:
                  type: Article
                type: array
                required: false
            type: object
        description: An array of articles
    queryParameters:
      callback:
        description: |
          The name of the function the API call results will be passed to. Required when using JSONP. This parameter has only one valid value per section. The format is {section_name}TopStoriesCallback.
        required: false
        type: string
    (oas-tags):
      - Stories
types:
  Article:
    properties:
      abstract:
        type: string
        required: false
      byline:
        type: string
        required: false
      created_date:
        type: string
        required: false
      des_facet:
        items:
          type: string
        type: array
        required: false
      geo_facet:
        items:
          type: string
        type: array
        required: false
      item_type:
        type: string
        required: false
      kicker:
        type: string
        required: false
      material_type_facet:
        type: string
        required: false
      multimedia:
        items:
          properties:
            caption:
              type: string
              required: false
            copyright:
              type: string
              required: false
            format:
              type: string
              required: false
            height:
              type: integer
              required: false
            subtype:
              type: string
              required: false
            type:
              type: string
              required: false
            url:
              type: string
              required: false
            width:
              type: integer
              required: false
          type: object
        type: array
        required: false
      org_facet:
        items:
          type: string
        type: array
        required: false
      per_facet:
        items:
          type: string
        type: array
        required: false
      published_date:
        type: string
        required: false
      related_urls:
        items:
          properties:
            suggested_link_text:
              type: string
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
      section:
        type: string
        required: false
      short_url:
        type: string
        required: false
      subsection:
        type: string
        required: false
      thumbnail_standard:
        type: string
        required: false
      title:
        type: string
        required: false
      updated_date:
        type: string
        required: false
      url:
        type: string
        required: false
