#%RAML 1.0
title: Article Search
version: 1.0.0
baseUri: 'http://api.nytimes.com/svc/search/v2'
mediaType: application/json
protocols:
  - HTTP
  - HTTPS
description: |-
  With the Article Search API, you can search New York Times articles from Sept. 18, 1851 to today, retrieving headlines, abstracts, lead paragraphs, links to associated multimedia and other article metadata.  

   Note: In URI examples and field names, italics indicate placeholders for variables or values. Brackets [ ] indicate optional items. Parentheses ( ) are not a convention — when URIs include parentheses, interpret them literally.
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://developer.nytimes.com/signup'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/article_search/article_search_v2.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): nytimes.com
  (oas-x-serviceName): article_search
  termsOfService: 'http://developer.nytimes.com/tou'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://developer.nytimes.com/'
securitySchemes:
  apikey:
    type: Pass Through
    describedBy:
      queryParameters:
        api-key:
          type: string
/articlesearch.json:
  displayName: articlesearch.json
  get:
    displayName: GET_articlesearch-json
    description: |
      Article Search requests use the following URI structure:
    (oas-summary): Article Search
    responses:
      '200':
        body:
          application/json:
            properties:
              response:
                properties:
                  docs:
                    items:
                      type: Doc
                    type: array
                    required: false
                  meta:
                    properties:
                      hits:
                        type: integer
                        required: false
                      offset:
                        type: integer
                        required: false
                      time:
                        type: integer
                        required: false
                    type: object
                    required: false
                type: object
                required: false
            type: object
        description: The docs requested by the article search.
    queryParameters:
      q:
        description: |
          Search query term. Search is performed on the article body, headline and byline.
        required: false
        type: string
      fq:
        description: |
          "Filtered search query using standard Lucene syntax. 

          The filter query can be specified with or without a limiting field: label. 

          See Filtering Your Search for more information about filtering."
        required: false
        type: string
      begin_date:
        description: |
          "Format: YYYYMMDD 

          Restricts responses to results with publication dates of the date specified or later."
        required: false
        type: string
      end_date:
        description: |
          "Format: YYYYMMDD 

          Restricts responses to results with publication dates of the date specified or earlier."
        required: false
        type: string
      sort:
        description: |
          "By default, search results are sorted by their relevance to the query term (q). Use the sort parameter to sort by pub_date."
        enum:
          - newest
          - oldest
        required: false
        type: string
      fl:
        description: |
          "Comma-delimited list of fields (no limit)

            Limits the fields returned in your search results. By default (unless you include an fl list in your request), the following fields are returned: 
            
            web_url
            
            snippet
            
            lead_paragraph
            
            abstract
            
            print_page
            
            blog
            
            source
            
            multimedia
            
            headline
            
            keywords
            
            pub_date
            
            document_type
            
            news_desk
            
            byline
            
            type_of_material
            
            _id
            
            word_count"
        required: false
        type: string
      hl:
        default: false
        description: |
          Enables highlighting in search results. When set to true, the query term (q) is highlighted in the headline and lead_paragraph fields.

          Note: If highlighting is enabled, snippet will be returned even if it is not specified in your fl list."
        required: false
        type: boolean
      page:
        default: 0
        description: |
          "The value of page corresponds to a set of 10 results (it does not indicate the starting number of the result set). For example, page=0 corresponds to records 0-9. To return records 10-19, set page to 1, not 10."
        maximum: 10
        minimum: 0
        required: false
        type: integer
      facet_field:
        description: |
          Comma-delimited list of facets

          Specifies the sets of facet values to include in the facets array at the end of response, which collects the facet values from all the search results. By default no facet fields will be returned. Below is the list of valid facets:

          section_name

          document_type

          type_of_material

          source

          day_of_week

          To learn more about using facets, see Using Facets.
        required: false
        type: string
      facet_filter:
        default: false
        description: |
          When set to true, facet counts will respect any applied filters (fq, date range, etc.) in addition to the main query term. To filter facet counts, specifying at least one facet_field is required. To learn more about using facets, see Using Facets.
        required: false
        type: boolean
    (oas-tags):
      - Stories
types:
  Doc:
    properties:
      _id:
        type: string
        required: false
      abstract:
        type: string
        required: false
      blog:
        items: {}
        type: array
        required: false
      byline:
        properties:
          organization:
            type: string
            required: false
          original:
            type: string
            required: false
          person:
            items: {}
            type: array
            required: false
        type: object
        required: false
      document_type:
        type: string
        required: false
      headline:
        properties:
          kicker:
            type: string
            required: false
          main:
            type: string
            required: false
        type: object
        required: false
      keywords:
        properties:
          name:
            type: string
            required: false
          rank:
            type: string
            required: false
          value:
            type: string
            required: false
        type: object
        required: false
      lead_paragraph:
        type: string
        required: false
      multimedia:
        items:
          properties:
            caption:
              type: string
              required: false
            copyright:
              type: string
              required: false
            format:
              type: string
              required: false
            height:
              type: integer
              required: false
            subtype:
              type: string
              required: false
            type:
              type: string
              required: false
            url:
              type: string
              required: false
            width:
              type: integer
              required: false
          type: object
        type: array
        required: false
      news_desK:
        type: string
        required: false
      print_page:
        type: string
        required: false
      pub_date:
        type: string
        required: false
      section_name:
        type: string
        required: false
      slideshow_credits:
        type: string
        required: false
      snippet:
        type: string
        required: false
      source:
        type: string
        required: false
      subsection_name:
        type: string
        required: false
      type_of_material:
        type: string
        required: false
      web_url:
        type: string
        required: false
      word_count:
        type: string
        required: false
