#%RAML 1.0
title: Community
version: 3.0.0
baseUri: 'http://api.nytimes.com/svc/community/v3'
mediaType: application/json
protocols:
  - HTTP
description: Get access to comments from registered users on New York Times articles.
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://developer.nytimes.com/signup'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/community/community_api_v3.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): nytimes.com
  (oas-x-serviceName): community
  termsOfService: 'http://developer.nytimes.com/tou'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://developer.nytimes.com/'
securitySchemes:
  api-key:
    type: Pass Through
    describedBy:
      queryParameters:
        api-key:
          type: string
/user-content:
  displayName: user-content
  /user.json:
    displayName: user.json
    get:
      displayName: GET_user-content-user-json
      (oas-summary): Comments by User
      responses:
        '200':
          body:
            application/json:
              properties:
                copyright:
                  type: string
                  required: false
                debug:
                  properties:
                    version:
                      type: number
                      required: false
                  type: object
                  required: false
                results:
                  properties:
                    api_timestamp:
                      type: string
                      required: false
                    comments:
                      items:
                        properties:
                          approveDate:
                            type: string
                            required: false
                          asset:
                            properties:
                              all-properties:
                                items:
                                  properties:
                                    description:
                                      type: string
                                      required: false
                                    name:
                                      type: string
                                      required: false
                                    properties:
                                      items:
                                        type: object
                                      type: array
                                      required: false
                                  type: object
                                type: array
                                required: false
                              assetID:
                                type: integer
                                required: false
                              assetTitle:
                                type: string
                                required: false
                              assetURL:
                                type: string
                                required: false
                              createDate:
                                type: string
                                required: false
                              labels:
                                items:
                                  properties:
                                    labelID:
                                      type: integer
                                      required: false
                                    labelName:
                                      type: string
                                      required: false
                                  type: object
                                type: array
                                required: false
                              properties:
                                properties:
                                  automoderation-off:
                                    properties:
                                      groupID:
                                        type: integer
                                        required: false
                                      taxonomyID:
                                        type: integer
                                        required: false
                                    type: object
                                  comment-list-sort-approvedate-desc:
                                    properties:
                                      groupID:
                                        type: integer
                                        required: false
                                      taxonomyID:
                                        type: integer
                                        required: false
                                    type: object
                                  reached-max-com-on:
                                    properties:
                                      groupID:
                                        type: integer
                                        required: false
                                      taxonomyID:
                                        type: integer
                                        required: false
                                    type: object
                                type: object
                                required: false
                              source:
                                type: string
                                required: false
                              taxonomy:
                                type: string
                                required: false
                              text:
                                items:
                                  type: object
                                type: array
                                required: false
                              updateDate:
                                type: string
                                required: false
                              vendorID:
                                type: string
                                required: false
                            type: object
                            required: false
                          commentBody:
                            type: string
                            required: false
                          commentID:
                            type: integer
                            required: false
                          commentSequence:
                            type: integer
                            required: false
                          commentTitle:
                            type: string
                            required: false
                          commentType:
                            type: string
                            required: false
                          createDate:
                            type: string
                            required: false
                          editorsSelection:
                            type: boolean
                            required: false
                          labels:
                            items:
                              type: object
                            type: array
                            required: false
                          parentID:
                            type: nil
                            required: false
                          permid:
                            type: integer
                            required: false
                          picURL:
                            type: string
                            required: false
                          recommendations:
                            type: integer
                            required: false
                          replies:
                            items:
                              type: object
                            type: array
                            required: false
                          replyCount:
                            type: integer
                            required: false
                          status:
                            type: string
                            required: false
                          updateDate:
                            type: string
                            required: false
                          userDisplayName:
                            type: nil
                            required: false
                          userID:
                            type: integer
                            required: false
                          userLocation:
                            type: nil
                            required: false
                          userSubmittedDisplayName:
                            type: string
                            required: false
                          userSubmittedLocation:
                            type: string
                            required: false
                          userSubmittedTitle:
                            type: nil
                            required: false
                          userSubmittedURL:
                            type: nil
                            required: false
                          userTitle:
                            type: nil
                            required: false
                          userURL:
                            type: nil
                            required: false
                        type: object
                      type: array
                      required: false
                    totalCommentsFound:
                      type: integer
                      required: false
                    totalCommentsReturned:
                      type: integer
                      required: false
                  type: object
                  required: false
                status:
                  type: string
                  required: false
              type: object
              example:
                copyright: Copyright (c) 2016 The New York Times Company.  All Rights Reserved.
                debug:
                  version: 3.1
                results:
                  api_timestamp: '1458150045'
                  comments:
                    - approveDate: '1316728099'
                      asset:
                        all-properties:
                          - description: Not in a group
                            name: no-group
                            properties: []
                        assetID: 3267087
                        assetTitle: Cellphone Service Coming to the Subway
                        assetURL: 'http://cityroom.blogs.nytimes.com/2011/09/22/cell-phone-service-on-some-subway-platforms-starts-next-week/'
                        createDate: '1316722025'
                        labels:
                          - labelID: 54906
                            labelName: NYT_Blogs
                        properties:
                          automoderation-off:
                            groupID: 2
                            taxonomyID: 199832
                            required: false
                          comment-list-sort-approvedate-desc:
                            groupID: 1
                            taxonomyID: 199832
                            required: false
                          reached-max-com-on:
                            groupID: 3
                            taxonomyID: 199832
                            required: false
                        source: url
                        taxonomies:
                          - - name: blogs
                              taxonomyID: 70457
                        taxonomy: blogs/cityroom/Cellphone Service Coming to the Subway
                        text: []
                        updateDate: '1319743568'
                        vendorID: P12Rq7kT2AvJyomlFgcylQ==
                      commentBody: time to Google for "cell phone signal blocker"...
                      commentID: 4570862
                      commentSequence: 10
                      commentTitle: hardcoded comment title
                      commentType: comment
                      createDate: '1316723787'
                      editorsSelection: false
                      labels: []
                      permid: 10
                      picURL: 'http://pimage.timespeople.nytimes.com/2364/811/cropped-2364811.jpg?0.8428952772024576'
                      recommendations: 11
                      replies: []
                      replyCount: 0
                      status: approved
                      updateDate: '1316728099'
                      userID: 2364811
                      userSubmittedDisplayName: Jim
                      userSubmittedLocation: NYC
                  totalCommentsFound: 2
                  totalCommentsReturned: 2
                status: OK
      queryParameters:
        userID:
          type: integer
      securedBy:
        - api-key
  /url.json:
    displayName: url.json
    get:
      displayName: GET_user-content-url-json
      (oas-summary): Comments by URL
      responses:
        '200':
          body:
            application/json:
              properties:
                copyright:
                  type: string
                  required: false
                debug:
                  properties:
                    version:
                      type: number
                      required: false
                  type: object
                  required: false
                results:
                  properties:
                    api_timestamp:
                      type: string
                      required: false
                    callerID:
                      type: nil
                      required: false
                    comments:
                      items:
                        properties:
                          approveDate:
                            type: string
                            required: false
                          commentBody:
                            type: string
                            required: false
                          commentID:
                            type: integer
                            required: false
                          commentSequence:
                            type: integer
                            required: false
                          commentTitle:
                            type: string
                            required: false
                          commentType:
                            type: string
                            required: false
                          createDate:
                            type: string
                            required: false
                          depth:
                            type: integer
                            required: false
                          editorsSelection:
                            type: boolean
                            required: false
                          parentID:
                            type: nil
                            required: false
                          parentUserDisplayName:
                            type: nil
                            required: false
                          permID:
                            type: string
                            required: false
                          picURL:
                            type: string
                            required: false
                          recommendations:
                            type: integer
                            required: false
                          recommendedFlag:
                            type: nil
                            required: false
                          replies:
                            items: {}
                            type: array
                            required: false
                          replyCount:
                            type: integer
                            required: false
                          reportAbuseFlag:
                            type: nil
                            required: false
                          sharing:
                            type: integer
                            required: false
                          status:
                            type: string
                            required: false
                          timespeople:
                            type: integer
                            required: false
                          trusted:
                            type: integer
                            required: false
                          updateDate:
                            type: string
                            required: false
                          userDisplayName:
                            type: string
                            required: false
                          userID:
                            type: integer
                            required: false
                          userLocation:
                            type: string
                            required: false
                          userTitle:
                            type: nil
                            required: false
                          userURL:
                            type: nil
                            required: false
                        type: object
                      type: array
                      required: false
                    depthLimit:
                      type: integer
                      required: false
                    filter:
                      type:
                        - string
                        - nil
                      required: false
                    page:
                      type: integer
                      required: false
                    replyLimit:
                      type: integer
                      required: false
                    sort:
                      type: string
                      required: false
                    totalCommentsFound:
                      type: integer
                      required: false
                    totalCommentsReturned:
                      type: integer
                      required: false
                    totalEditorsSelectionFound:
                      type: integer
                      required: false
                    totalEditorsSelectionReturned:
                      type: integer
                      required: false
                    totalParentCommentsFound:
                      type: integer
                      required: false
                    totalParentCommentsReturned:
                      type: integer
                      required: false
                    totalRecommendationsFound:
                      type: integer
                      required: false
                    totalRecommendationsReturned:
                      type: integer
                      required: false
                    totalReplyCommentsFound:
                      type: integer
                      required: false
                    totalReplyCommentsReturned:
                      type: integer
                      required: false
                    totalReporterReplyCommentsFound:
                      type: integer
                      required: false
                    totalReporterReplyCommentsReturned:
                      type: integer
                      required: false
                  type: object
                  required: false
                status:
                  type: string
                  required: false
              type: object
              example:
                copyright: Copyright (c) 2016 The New York Times Company.  All Rights Reserved.
                debug:
                  version: 3.1
                results:
                  api_timestamp: '1455718117'
                  comments:
                    - approveDate: '1199322293'
                      commentBody: 'I have always wondered how much energy US would save if it shut down Vegas? Can you imagine the amount of electricity consumed on the strip, the ice melted for its water supply - all in the name of gambling? That''s the kind of consumerism I would like to see halted. Same goes for all the downtown skylines which cause so much light pollution. Even a simple thing like having an "off" switch in the homes rather than just power outlets would save a lot of energy and hopefully make a huge difference in the "consumption footprint." Can American live with that?<br/><br/>As for the growing economies of China & India: the increased industrialization has also increased environmental pollution in those countries. West has conveniently handed down it''s dirty work to them. And at the same time we have Americans screaming about lost jobs. When will they realize that they can''t have it both ways?<br/><br/>All in all they are acting like spoilt brats who have realized that they are no longer the teacher''s favorite. Is it surprising that other folks hate you for your spoilt ways, at the same time envying how you have it so easy?<br/><br/>'
                      commentID: 20831
                      commentSequence: 138
                      commentTitle: ''
                      commentType: comment
                      createDate: '1199309173'
                      depth: 1
                      editorsSelection: false
                      permID: '138'
                      picURL: 'http://graphics8.nytimes.com/images/apps/timespeople/none.png'
                      recommendations: 5
                      replies: []
                      replyCount: 0
                      sharing: 0
                      status: approved
                      timespeople: 1
                      trusted: 0
                      updateDate: '1199322293'
                      userDisplayName: byakushi
                      userID: 44150303
                      userLocation: US
                  depthLimit: 0
                  filter: ''
                  page: 1
                  replyLimit: 3
                  sort: oldest
                  totalCommentsFound: 138
                  totalCommentsReturned: 25
                  totalEditorsSelectionFound: 13
                  totalEditorsSelectionReturned: 1
                  totalParentCommentsFound: 138
                  totalParentCommentsReturned: 25
                  totalRecommendationsFound: 118
                  totalRecommendationsReturned: 23
                  totalReplyCommentsFound: 0
                  totalReplyCommentsReturned: 0
                  totalReporterReplyCommentsFound: 0
                  totalReporterReplyCommentsReturned: 0
                status: OK
      queryParameters:
        url:
          type: string
      securedBy:
        - api-key
  /recent.json:
    displayName: recent.json
    get:
      displayName: GET_user-content-recent-json
      (oas-summary): Recent User Comments
      responses:
        '200':
          body:
            application/json:
              properties:
                copyright:
                  type: string
                  required: false
                debug:
                  properties:
                    version:
                      type: number
                      required: false
                  type: object
                  required: false
                results:
                  properties:
                    api_timestamp:
                      type: string
                      required: false
                    comments:
                      items:
                        properties:
                          approveDate:
                            type: string
                            required: false
                          asset:
                            properties:
                              all-properties:
                                items:
                                  properties:
                                    description:
                                      type: string
                                      required: false
                                    name:
                                      type: string
                                      required: false
                                    properties:
                                      items:
                                        type: object
                                      type: array
                                      required: false
                                  type: object
                                type: array
                                required: false
                              assetID:
                                type: integer
                                required: false
                              assetTitle:
                                type: string
                                required: false
                              assetURL:
                                type: string
                                required: false
                              createDate:
                                type: string
                                required: false
                              labels:
                                items:
                                  type: object
                                type: array
                                required: false
                              properties:
                                properties:
                                  automoderation-on:
                                    properties:
                                      groupID:
                                        type: integer
                                        required: false
                                      taxonomyID:
                                        type: integer
                                        required: false
                                    type: object
                                  comment-list-sort-editors:
                                    properties:
                                      groupID:
                                        type: integer
                                        required: false
                                      taxonomyID:
                                        type: integer
                                        required: false
                                    type: object
                                  reached-max-com-off:
                                    properties:
                                      groupID:
                                        type: integer
                                        required: false
                                      taxonomyID:
                                        type: integer
                                        required: false
                                    type: object
                                type: object
                                required: false
                              source:
                                type: string
                                required: false
                              taxonomy:
                                type: string
                                required: false
                              text:
                                items:
                                  type: object
                                type: array
                                required: false
                              updateDate:
                                type: string
                                required: false
                              vendorID:
                                type: string
                                required: false
                            type: object
                            required: false
                          assetID:
                            type: integer
                            required: false
                          commentBody:
                            type: string
                            required: false
                          commentID:
                            type: integer
                            required: false
                          commentSequence:
                            type: integer
                            required: false
                          commentTitle:
                            type: string
                            required: false
                          commentType:
                            type: string
                            required: false
                          createDate:
                            type: string
                            required: false
                          display_name:
                            type: string
                            required: false
                          editorsSelection:
                            type: integer
                            required: false
                          location:
                            type: string
                            required: false
                          parentID:
                            type: nil
                            required: false
                          recommendationCount:
                            type: integer
                            required: false
                          replies:
                            items:
                              type: object
                            type: array
                            required: false
                          status:
                            type: string
                            required: false
                          statusID:
                            type: integer
                            required: false
                          updateDate:
                            type: string
                            required: false
                          userDisplayName:
                            type: string
                            required: false
                          userID:
                            type: integer
                            required: false
                          userLocation:
                            type: string
                            required: false
                          userTitle:
                            type: string
                            required: false
                          userURL:
                            type: string
                            required: false
                        type: object
                      type: array
                      required: false
                    totalCommentsReturned:
                      type: integer
                      required: false
                  type: object
                  required: false
                status:
                  type: string
                  required: false
              type: object
              example:
                copyright: Copyright (c) 2016 The New York Times Company.  All Rights Reserved.
                debug:
                  version: 3.1
                results:
                  api_timestamp: '1458149501'
                  comments:
                    - approveDate: '1458149469'
                      asset:
                        all-properties:
                          - description: Not in a group
                            name: no-group
                            properties: []
                        assetID: 3449092
                        assetTitle: 'Kasich, the Boulder Between the G.O.P. and Trump (16collins)'
                        assetURL: 'http://www.nytimes.com/2016/03/16/opinion/campaign-stops/kasich-the-boulder-between-the-gop.html'
                        createDate: '1458096538'
                        labels: []
                        properties:
                          automoderation-on:
                            groupID: 2
                            taxonomyID: 364114
                            required: false
                          comment-list-sort-editors:
                            groupID: 1
                            taxonomyID: 364114
                            required: false
                          reached-max-com-off:
                            groupID: 3
                            taxonomyID: 9188
                            required: false
                        source: url
                        taxonomies:
                          - - name: opinion
                              taxonomyID: 9188
                        taxonomy: 'opinion/Kasich, the Boulder Between the G.O.P. and Trump (16collins)'
                        text: []
                        updateDate: '1458149477'
                        vendorID: MQdKLYFNCfZ7XvixkGz2rw==
                      assetID: 3449092
                      commentBody: 'Two things to know about our Governor Kasich. First, he was one of the few Republican governors to accept Obamacare and Medicaid expansion in Ohio, despite the efforts of legislators from his party. Second, as Gail Collins pointed out, he has done everything in his power to eliminate access to safe abortion in Ohio. This will soon include a bill he is expected to sign that will make it illegal for women to have an abortion after learning their fetus has Down''s syndrome. Like most candidates these days, we have to take the good with the bad.'
                      commentID: 17912830
                      commentSequence: 17912830
                      commentTitle: <br/>
                      commentType: comment
                      createDate: '1458149421'
                      display_name: DD
                      editorsSelection: 0
                      location: 'Cincinnati, OH'
                      recommendationCount: 0
                      replies: []
                      status: approved
                      statusID: 2
                      updateDate: '1458149469'
                      userDisplayName: DD
                      userID: 64507566
                      userLocation: 'Cincinnati, OH'
                      userTitle: 'NULL'
                      userURL: 'NULL'
                  totalCommentsReturned: 25
                status: OK
      securedBy:
        - api-key
  /by-date.json:
    displayName: by-date.json
    get:
      displayName: GET_user-content-by-date-json
      (oas-summary): Comments by Date
      responses:
        '200':
          body:
            application/json:
              properties:
                copyright:
                  type: string
                  required: false
                debug:
                  properties:
                    version:
                      type: number
                      required: false
                  type: object
                  required: false
                results:
                  properties:
                    api_timestamp:
                      type: string
                      required: false
                    comments:
                      items:
                        properties:
                          approveDate:
                            type: string
                            required: false
                          assetID:
                            type: integer
                            required: false
                          assetURL:
                            type: string
                            required: false
                          commentBody:
                            type: string
                            required: false
                          commentID:
                            type: integer
                            required: false
                          commentSequence:
                            type: integer
                            required: false
                          commentTitle:
                            type: string
                            required: false
                          commentType:
                            type: string
                            required: false
                          createDate:
                            type: string
                            required: false
                          editorsSelection:
                            type: integer
                            required: false
                          lft:
                            type: integer
                            required: false
                          parentID:
                            type: nil
                            required: false
                          recommendationCount:
                            type: integer
                            required: false
                          replies:
                            items:
                              properties: {}
                              type: object
                            type: array
                            required: false
                          replyCount:
                            type: integer
                            required: false
                          rgt:
                            type: integer
                            required: false
                          status:
                            type: string
                            required: false
                          statusID:
                            type: integer
                            required: false
                          updateDate:
                            type: string
                            required: false
                          userDisplayName:
                            type: string
                            required: false
                          userID:
                            type: integer
                            required: false
                          userLocation:
                            type: string
                            required: false
                          userTitle:
                            type: string
                            required: false
                          userURL:
                            type: integer
                            required: false
                        type: object
                      type: array
                      required: false
                    totalCommentsFound:
                      type: integer
                      required: false
                    totalCommentsReturned:
                      type: integer
                      required: false
                  type: object
                  required: false
                status:
                  type: string
                  required: false
              type: object
              example:
                copyright: Copyright (c) 2016 The New York Times Company.  All Rights Reserved.
                debug:
                  version: 3.1
                results:
                  api_timestamp: '1458149967'
                  comments:
                    - approveDate: '1451710808'
                      assetID: 3444599
                      assetURL: 'http://cooking.nytimes.com/recipes/1017904'
                      commentBody: 'We used black eyed peas and kale (couldn&#x27;t find mustard greens), and this recipe is fantastic! With cornbread it was perfect!'
                      commentID: 17096625
                      commentSequence: 17096625
                      commentTitle: <br/>
                      commentType: comment
                      createDate: '1451710797'
                      editorsSelection: 0
                      lft: 42
                      recommendationCount: 0
                      replies: []
                      replyCount: 0
                      rgt: 43
                      status: approved
                      statusID: 2
                      updateDate: '1451710808'
                      userDisplayName: Sharon
                      userID: 72856041
                      userLocation: <br/>
                      userTitle: 'NULL'
                      userURL: 72856041
                  totalCommentsFound: 4121
                  totalCommentsReturned: 25
                status: OK
      queryParameters:
        date:
          type: string
      securedBy:
        - api-key
