#%RAML 1.0
title: Archive API V1
version: 1.0.0
baseUri: 'http://api.nytimes.com/svc/archive/v1'
mediaType: application/json
protocols:
  - HTTP
  - HTTPS
description: Alpha.  The Archive API provides JSON lists of NYT articles by month.
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://developer.nytimes.com/signup'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/archive_api/archive_api.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): nytimes.com
  (oas-x-serviceName): archive_api
  termsOfService: 'http://developer.nytimes.com/tou'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://developer.nytimes.com/'
securitySchemes:
  apikey:
    type: Pass Through
    describedBy:
      queryParameters:
        api-key:
          type: string
'/{year}':
  displayName: '{year}'
  '/{month}.json':
    displayName: '{month}.json'
    uriParameters:
      month:
        description: The month number (e.g. 1 for January).
        required: true
        type: number
        displayName: The month number (e.g. 1 for January).
    get:
      displayName: GET_year-month-json
      description: |
        The Archive API provides JSON lists of articles by month.
      (oas-summary): Archive API
      responses:
        '200':
          body:
            application/json:
              properties:
                results:
                  items:
                    type: Article
                  type: array
                  required: false
              type: object
          description: An array of articles
      (oas-tags):
        - Archive
types:
  Article: {}
