#%RAML 1.0
title: Semantic
version: 2.0.0
baseUri: 'http://api.nytimes.com/svc/semantic/v2/concept'
mediaType: application/json
protocols:
  - HTTP
  - HTTPS
description: |
  The Semantic API complements the Articles API. With the Semantic API, you get access to the long list of people, places, organizations and other locations, entities and descriptors that make up the controlled vocabulary used as metadata by The New York Times (sometimes referred to as Times Tags and used for Times Topics pages).

  The Semantic API uses concepts which are, by definition, terms in The New York Times controlled vocabulary. Like the way facets are used in the Articles API, concepts are a good way to uncover articles of interest in The New York Times archive, and at the same time, limit the scope and number of those articles. The Semantic API maps to external semantic data resources, in a fashion consistent with the idea of linked data. The Semantic API also provides combination and relationship information to other, similar concepts in The New York Times controlled vocabulary.
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://developer.nytimes.com/signup'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/semantic_api/semantic_api.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): nytimes.com
  (oas-x-serviceName): semantic_api
  termsOfService: 'http://developer.nytimes.com/tou'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://developer.nytimes.com/'
securitySchemes:
  apikey:
    type: Pass Through
    describedBy:
      queryParameters:
        api-key:
          type: string
/search.json:
  displayName: search.json
  get:
    displayName: GET_search-json
    responses:
      '200':
        body:
          application/json:
            properties:
              copyright:
                type: string
                required: false
              num_results:
                type: integer
                required: false
              results:
                items:
                  type: ConceptRelation
                type: array
                required: false
              status:
                type: string
                required: false
            type: object
        description: An array of Concepts
    queryParameters:
      query:
        description: 'Precedes the search term string. Used in a Search Query. Except for &lt;specific_concept_name&gt;, Search Query will take the required parameters listed above (&lt;concept_type&gt;, &lt;concept_uri&gt;, &lt;article_uri&gt;) as an optional_parameter in addition to the query=&lt;query_term&gt;.'
        required: true
        type: string
        displayName: 'Precedes the search term string. Used in a Search Query. Except for &lt;specific_concept_name&gt;, Search Query will take the required parameters listed above (&lt;concept_type&gt;, &lt;concept_uri&gt;, &lt;article_uri&gt;) as an optional_parameter in addition to the query=&lt;query_term&gt;.'
      offset:
        default: 10
        description: 'Integer value for the index count from the first concept to the last concept, sorted alphabetically. Used in a Search Query. A Search Query will return up to 10 concepts in its results.'
        required: false
        type: integer
        displayName: 'Integer value for the index count from the first concept to the last concept, sorted alphabetically. Used in a Search Query. A Search Query will return up to 10 concepts in its results.'
      fields:
        description: |
          "all" or comma-separated list of specific optional fields: pages, ticker_symbol, links, taxonomy, combinations, geocodes, article_list, scope_notes, search_api_query

          Optional fields are returned in result_set. They are briefly explained here:

          pages: A list of topic pages associated with a specific concept.
          ticker_symbol: If this concept is a publicly traded company, this field contains the ticker symbol.
          links: A list of links from this concept to external data resources.
          taxonomy: For descriptor concepts, this field returns a list of taxonomic relations to other concepts.
          combinations: For descriptor concepts, this field returns a list of the specific meanings tis concept takes on when combined with other concepts.
          geocodes: For geographic concepts, the full GIS record from geonames.
          article_list: A list of up to 10 articles associated with this concept.
          scope_notes: Scope notes contains clarifications and meaning definitions that explicate the relationship between the concept and an article.
          search_api_query: Returns the request one would need to submit to the Article Search API to obtain a list of articles annotated with this concept.
        enum:
          - all
          - pages
          - ticker_symbol
          - links
          - taxonomy
          - combinations
          - geocodes
          - article_list
          - scope_notes
          - search_api_query
        required: false
        type: string
        displayName: |
          "all" or comma-separated list of specific optional fields: pages, ticker_symbol, links, taxonomy, combinations, geocodes, article_list, scope_notes, search_api_query

          Optional fields are returned in result_set. They are briefly explained here:

          pages: A list of topic pages associated with a specific concept.
          ticker_symbol: If this concept is a publicly traded company, this field contains the ticker symbol.
          links: A list of links from this concept to external data resources.
          taxonomy: For descriptor concepts, this field returns a list of taxonomic relations to other concepts.
          combinations: For descriptor concepts, this field returns a list of the specific meanings tis concept takes on when combined with other concepts.
          geocodes: For geographic concepts, the full GIS record from geonames.
          article_list: A list of up to 10 articles associated with this concept.
          scope_notes: Scope notes contains clarifications and meaning definitions that explicate the relationship between the concept and an article.
          search_api_query: Returns the request one would need to submit to the Article Search API to obtain a list of articles annotated with this concept.
/name:
  displayName: name
  '/{concept-type}':
    displayName: '{concept-type}'
    '/{specific-concept}.json':
      displayName: '{specific-concept}.json'
      uriParameters:
        specific-concept:
          description: |
            The name of the concept, used for Constructing a Semantic API Request by Concept Type and Specific Concept Name. The parameter is defined in the URI path, as the element immediately preceding ".json" like with "Baseball.json".
          required: true
          type: string
          displayName: |
            The name of the concept, used for Constructing a Semantic API Request by Concept Type and Specific Concept Name. The parameter is defined in the URI path, as the element immediately preceding ".json" like with "Baseball.json".
      get:
        displayName: GET_name-concept-type-specific-concept-json
        responses:
          '200':
            body:
              application/json:
                properties:
                  copyright:
                    type: string
                    required: false
                  num_results:
                    type: integer
                    required: false
                  results:
                    items:
                      type: Concept
                    type: array
                    required: false
                  status:
                    type: string
                    required: false
                type: object
            description: An array of Concepts
        queryParameters:
          fields:
            description: |
              "all" or comma-separated list of specific optional fields: pages, ticker_symbol, links, taxonomy, combinations, geocodes, article_list, scope_notes, search_api_query

              Optional fields are returned in result_set. They are briefly explained here:

              pages: A list of topic pages associated with a specific concept.
              ticker_symbol: If this concept is a publicly traded company, this field contains the ticker symbol.
              links: A list of links from this concept to external data resources.
              taxonomy: For descriptor concepts, this field returns a list of taxonomic relations to other concepts.
              combinations: For descriptor concepts, this field returns a list of the specific meanings tis concept takes on when combined with other concepts.
              geocodes: For geographic concepts, the full GIS record from geonames.
              article_list: A list of up to 10 articles associated with this concept.
              scope_notes: Scope notes contains clarifications and meaning definitions that explicate the relationship between the concept and an article.
              search_api_query: Returns the request one would need to submit to the Article Search API to obtain a list of articles annotated with this concept.
            enum:
              - all
              - pages
              - ticker_symbol
              - links
              - taxonomy
              - combinations
              - geocodes
              - article_list
              - scope_notes
              - search_api_query
            required: false
            type: string
            displayName: |
              "all" or comma-separated list of specific optional fields: pages, ticker_symbol, links, taxonomy, combinations, geocodes, article_list, scope_notes, search_api_query

              Optional fields are returned in result_set. They are briefly explained here:

              pages: A list of topic pages associated with a specific concept.
              ticker_symbol: If this concept is a publicly traded company, this field contains the ticker symbol.
              links: A list of links from this concept to external data resources.
              taxonomy: For descriptor concepts, this field returns a list of taxonomic relations to other concepts.
              combinations: For descriptor concepts, this field returns a list of the specific meanings tis concept takes on when combined with other concepts.
              geocodes: For geographic concepts, the full GIS record from geonames.
              article_list: A list of up to 10 articles associated with this concept.
              scope_notes: Scope notes contains clarifications and meaning definitions that explicate the relationship between the concept and an article.
              search_api_query: Returns the request one would need to submit to the Article Search API to obtain a list of articles annotated with this concept.
          query:
            description: 'Precedes the search term string. Used in a Search Query. Except for &lt;specific_concept_name&gt;, Search Query will take the required parameters listed above (&lt;concept_type&gt;, &lt;concept_uri&gt;, &lt;article_uri&gt;) as an optional_parameter in addition to the query=&lt;query_term&gt;.'
            required: true
            type: string
            displayName: 'Precedes the search term string. Used in a Search Query. Except for &lt;specific_concept_name&gt;, Search Query will take the required parameters listed above (&lt;concept_type&gt;, &lt;concept_uri&gt;, &lt;article_uri&gt;) as an optional_parameter in addition to the query=&lt;query_term&gt;.'
types:
  Concept:
    properties:
      ancestors:
        items:
          type: ConceptRelation
        type: array
        required: false
      article_list:
        properties:
          results:
            items:
              properties:
                body:
                  type: string
                  required: false
                byline:
                  type: string
                  required: false
                concepts:
                  properties:
                    nytd_des:
                      items:
                        type: string
                      type: array
                      required: false
                    nytd_org:
                      items:
                        type: string
                      type: array
                      required: false
                    nytd_per:
                      items:
                        type: string
                      type: array
                      required: false
                  type: object
                  required: false
                date:
                  type: string
                  required: false
                document_type:
                  type: string
                  required: false
                title:
                  type: string
                  required: false
                type_of_material:
                  type: string
                  required: false
                url:
                  type: string
                  required: false
              type: object
            type: array
            required: false
          total:
            type: integer
            required: false
        type: object
        required: false
      combinations:
        items:
          properties:
            combination_note:
              type: string
              required: false
            combination_source_concept_id:
              type: integer
              required: false
            combination_source_concept_name:
              type: string
              required: false
            combination_source_concept_type:
              type: string
              required: false
            combination_target_concept_id:
              type: integer
              required: false
            combination_target_concept_name:
              type: string
              required: false
            combination_target_concept_type:
              type: string
              required: false
          type: object
        type: array
        required: false
      concept_created:
        type: string
        required: false
      concept_id:
        type: integer
        required: false
      concept_name:
        type: string
        required: false
      concept_status:
        type: string
        required: false
      concept_type:
        type: string
        required: false
      concept_updated:
        type: string
        required: false
      descendants:
        items:
          type: ConceptRelation
        type: array
        required: false
      is_times_tag:
        type: integer
        required: false
      links:
        items:
          properties:
            concept_id:
              type: integer
              required: false
            concept_name:
              type: string
              required: false
            concept_status:
              type: string
              required: false
            concept_type:
              type: string
              required: false
            is_times_tag:
              type: integer
              required: false
            link:
              type: string
              required: false
            link_id:
              type: integer
              required: false
            link_type:
              type: string
              required: false
            mapping_type:
              type: string
              required: false
            relation:
              type: string
              required: false
          type: object
        type: array
        required: false
      scope_notes:
        items:
          properties:
            scope_note:
              type: string
              required: false
            scope_note_name:
              type: string
              required: false
            scope_note_type:
              type: string
              required: false
          type: object
        type: array
        required: false
      search_api_query:
        type: string
        required: false
      taxonomy:
        items:
          properties:
            source_concept_id:
              type: integer
              required: false
            source_concept_name:
              type: string
              required: false
            source_concept_type:
              type: string
              required: false
            source_concept_vernacular:
              type: string
              required: false
            target_concept_id:
              type: integer
              required: false
            target_concept_name:
              type: string
              required: false
            target_concept_type:
              type: string
              required: false
            target_concept_vernacular:
              type: string
              required: false
            taxonomic_relation:
              type: string
              required: false
            taxonomic_verification_status:
              type: string
              required: false
          type: object
        type: array
        required: false
      vernacular:
        type: string
        required: false
  ConceptRelation:
    properties:
      concept_created:
        type: string
        required: false
      concept_id:
        type: integer
        required: false
      concept_name:
        type: string
        required: false
      concept_status:
        type: string
        required: false
      concept_type:
        type: string
        required: false
      concept_updated:
        type: string
        required: false
      is_times_tag:
        type: integer
        required: false
      vernacular:
        type: string
        required: false
