#%RAML 1.0
title: Movie Reviews
version: 2.0.0
baseUri: 'http://api.nytimes.com/svc/movies/v2'
mediaType: application/json
protocols:
  - HTTP
  - HTTPS
description: 'With the Movie Reviews API, you can search New York Times movie reviews by keyword and get lists of NYT Critics'' Picks.'
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'http://developer.nytimes.com/signup'
  (oas-x-apisguru-categories):
    - media
    - open_data
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/movie_reviews/movie_reviews_v2.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): nytimes.com
  (oas-x-serviceName): movie_reviews
  termsOfService: 'http://developer.nytimes.com/tou'
annotationTypes:
  oas-x-apiClientRegistration: any
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'http://developer.nytimes.com/'
securitySchemes:
  apikey:
    type: Pass Through
    describedBy:
      queryParameters:
        api-key:
          type: string
/reviews:
  displayName: reviews
  '/{resource-type}.json':
    displayName: '{resource-type}.json'
    uriParameters:
      resource-type:
        description: |+
          Specify all to retrieve all reviews, including NYT Critics' Picks.

          Specify picks to get NYT Critics' Picks currently in theaters.

        enum:
          - all
          - picks
        required: true
        type: string
        displayName: |+
          Specify all to retrieve all reviews, including NYT Critics' Picks.

          Specify picks to get NYT Critics' Picks currently in theaters.

    get:
      displayName: GET_reviews-resource-type-json
      responses:
        '200':
          body:
            application/json:
              properties:
                copyright:
                  type: string
                  required: false
                num_results:
                  type: integer
                  required: false
                results:
                  items:
                    type: Movie
                  type: array
                  required: false
                status:
                  type: string
                  required: false
              type: object
          description: An array of Movies
      queryParameters:
        offset:
          default: 20
          description: 'Positive integer, multiple of 20'
          required: false
          type: integer
          displayName: 'Positive integer, multiple of 20'
        order:
          default: by-publication-date
          description: |
            Sets the sort order of the results.

            Results ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.

            If you do not specify a sort order, the results will be ordered by publication-date.
          enum:
            - by-title
            - by-publication-date
            - by-opening-date
          required: false
          type: string
          displayName: |
            Sets the sort order of the results.

            Results ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.

            If you do not specify a sort order, the results will be ordered by publication-date.
  /search.json:
    displayName: search.json
    get:
      displayName: GET_reviews-search-json
      responses:
        '200':
          body:
            application/json:
              properties:
                copyright:
                  type: string
                  required: false
                num_results:
                  type: integer
                  required: false
                results:
                  items:
                    type: Movie
                  type: array
                  required: false
                status:
                  type: string
                  required: false
              type: object
          description: An array of Movies
      queryParameters:
        query:
          description: |
            Search keywords; matches movie title and indexed terms

            To limit your search to exact matches only, surround your search string with single quotation marks (e.g., query='28+days+later'). Otherwise, responses will include partial matches ("head words") as well as exact matches (e.g., president will match president, presidents and presidential).
              
              If you specify multiple terms without quotation marks, they will be combined in an OR search.
              
              If you omit the query parameter, your request will be equivalent to a reviews and NYT Critics' Picks request.
          required: false
          type: string
          displayName: |
            Search keywords; matches movie title and indexed terms

            To limit your search to exact matches only, surround your search string with single quotation marks (e.g., query='28+days+later'). Otherwise, responses will include partial matches ("head words") as well as exact matches (e.g., president will match president, presidents and presidential).
              
              If you specify multiple terms without quotation marks, they will be combined in an OR search.
              
              If you omit the query parameter, your request will be equivalent to a reviews and NYT Critics' Picks request.
        critics-pick:
          description: |
            Set this parameter to Y to limit the results to NYT Critics' Picks. To get only those movies that have not been highlighted by Times critics, specify critics-pick=N. (To get all reviews regardless of critics-pick status, simply omit this parameter.)
          enum:
            - 'Y'
            - 'N'
          type: string
          displayName: |
            Set this parameter to Y to limit the results to NYT Critics' Picks. To get only those movies that have not been highlighted by Times critics, specify critics-pick=N. (To get all reviews regardless of critics-pick status, simply omit this parameter.)
        reviewer:
          description: |
            Include this parameter to limit your results to reviews by a specific critic. Reviewer names should be formatted like this: Manohla Dargis.
          type: string
          displayName: |
            Include this parameter to limit your results to reviews by a specific critic. Reviewer names should be formatted like this: Manohla Dargis.
        publication-date:
          description: |
            Single date: YYYY-MM-DD

            Start and end date: YYYY-MM-DD;YYYY-MM-DD

            The publication-date is the date the review was first published in The Times.
          type: string
          displayName: |
            Single date: YYYY-MM-DD

            Start and end date: YYYY-MM-DD;YYYY-MM-DD

            The publication-date is the date the review was first published in The Times.
        opening-date:
          description: |
            Single date: YYYY-MM-DD

            Start and end date: YYYY-MM-DD;YYYY-MM-DD

            The opening-date is the date the movie's opening date in the New York region.
          required: false
          type: string
          displayName: |
            Single date: YYYY-MM-DD

            Start and end date: YYYY-MM-DD;YYYY-MM-DD

            The opening-date is the date the movie's opening date in the New York region.
        offset:
          default: 20
          description: 'Positive integer, multiple of 20'
          required: false
          type: integer
          displayName: 'Positive integer, multiple of 20'
        order:
          description: |
            Sets the sort order of the results.

            Results ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.

            If you do not specify a sort order, the results will be ordered by publication-date.
          type: string
          displayName: |
            Sets the sort order of the results.

            Results ordered by-title are in ascending alphabetical order. Results ordered by one of the date parameters are in reverse chronological order.

            If you do not specify a sort order, the results will be ordered by publication-date.
/critics:
  displayName: critics
  '/{resource-type}.json':
    displayName: '{resource-type}.json'
    uriParameters:
      resource-type:
        description: |
          all | full-time | part-time | [reviewer-name]

          Specify all to get all Times reviewers, or specify full-time or part-time to get that subset. Specify a reviewer's name to get details about a particular reviewer.
        required: true
        type: string
        displayName: |
          all | full-time | part-time | [reviewer-name]

          Specify all to get all Times reviewers, or specify full-time or part-time to get that subset. Specify a reviewer's name to get details about a particular reviewer.
    get:
      displayName: GET_critics-resource-type-json
      responses:
        '200':
          body:
            application/json:
              properties:
                copyright:
                  type: string
                  required: false
                num_results:
                  type: integer
                  required: false
                results:
                  items:
                    type: Critic
                  type: array
                  required: false
                status:
                  type: string
                  required: false
              type: object
          description: An array of Movie Critics
types:
  Critic:
    properties:
      bio:
        type: string
        required: false
      display_name:
        type: string
        required: false
      multimedia:
        properties:
          resource:
            properties:
              credit:
                type: string
                required: false
              height:
                type: integer
                required: false
              src:
                type: string
                required: false
              type:
                type: string
                required: false
              width:
                type: integer
                required: false
            type: object
            required: false
        type: object
        required: false
      seo_name:
        type: string
        required: false
      sort_name:
        type: string
        required: false
      status:
        type: string
        required: false
  Movie:
    properties:
      byline:
        type: string
        required: false
      critics_pick:
        type: integer
        required: false
      date_updated:
        type: string
        required: false
      display_title:
        type: string
        required: false
      headline:
        type: string
        required: false
      link:
        properties:
          suggested_link_text:
            type: string
            required: false
          type:
            type: string
            required: false
          url:
            type: string
            required: false
        type: object
        required: false
      mpaa_rating:
        type: string
        required: false
      multimedia:
        properties:
          resource:
            properties:
              height:
                type: integer
                required: false
              src:
                type: string
                required: false
              type:
                type: string
                required: false
              width:
                type: integer
                required: false
            type: object
            required: false
        type: object
        required: false
      opening_date:
        type: string
        required: false
      publication_date:
        type: string
        required: false
      summary_short:
        type: string
        required: false
