#%RAML 1.0
title: ODWeather
version: '1.0'
baseUri: 'http://api.oceandrivers.com/'
mediaType:
  - application/json
  - text/html
protocols:
  - HTTP
description: This is the api to access the ODWeather API information
(oas-tags-definition):
  - description: ODWeather API service
    name: ODWeather
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-origin):
    format: swagger
    url: 'http://api.oceandrivers.com/static/resources.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): oceandrivers.com
  contact:
    email: matiasbonet@oceandrivers.com
/v1.0:
  displayName: v1.0
  /getWebCams:
    displayName: getWebCams
    /:
      get:
        displayName: getWebCams
        description: Get forecast and realtime information for known points<br/>None
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - ODWeather
  /getWeatherDisplay:
    displayName: getWeatherDisplay
    '/{stationName}':
      displayName: '{stationName}'
      /:
        get:
          displayName: getWeatherDisplay
          description: Get data from the weather display software<br/>None
          responses:
            '200':
              description: No response was specified
          queryParameters:
            period:
              default: latestdata
              description: Period of time to get the data latestdata|latesthour|latestday|dailylog
              required: true
              type: string
              displayName: Period of time to get the data latestdata|latesthour|latestday|dailylog
          (oas-tags):
            - ODWeather
  /getSocibWeatherStation:
    displayName: getSocibWeatherStation
    '/{stationName}':
      displayName: '{stationName}'
      '/{period}':
        displayName: '{period}'
        /:
          get:
            displayName: getSocibWeatherStation
            description: Get data from the socib bahia de palma buoy<br/>None
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - ODWeather
  /getForecastTimeSeries:
    displayName: getForecastTimeSeries
    '/{latitude}':
      displayName: '{latitude}'
      '/{longitude}':
        displayName: '{longitude}'
        /:
          get:
            displayName: getForecastTimeSeries
            description: Get timeseries forecast information<br/>None
            responses:
              '200':
                description: No response was specified
            queryParameters:
              inittime:
                description: 'initial date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ'
                required: false
                type: string
                displayName: 'initial date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ'
              endtime:
                description: 'end date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ'
                required: false
                type: string
                displayName: 'end date for the forecast ISO string YYYY-MM-DDTHH:mm:SS.SZ'
              days:
                description: optional number of days in string. Will be added to init forecast date
                format: int32
                required: false
                type: integer
                displayName: optional number of days in string. Will be added to init forecast date
              hours:
                description: optional number of hours in string. Will be added to init forecast date
                format: int32
                required: false
                type: integer
                displayName: optional number of hours in string. Will be added to init forecast date
              weather:
                description: ' Comma separated values for the weather parameteres temperature,rain,wind_u,wind_v,gust,pressure,cloud,humidity&wave=height,direction,period'
                required: true
                type: string
                displayName: ' Comma separated values for the weather parameteres temperature,rain,wind_u,wind_v,gust,pressure,cloud,humidity&wave=height,direction,period'
              wave:
                description: ' Comma separated values for the wave parameteres height,direction,period'
                required: false
                type: string
                displayName: ' Comma separated values for the wave parameteres height,direction,period'
            (oas-tags):
              - ODWeather
  /getForecastPoints:
    displayName: getForecastPoints
    '/{yatchclubid}':
      displayName: '{yatchclubid}'
      /language:
        displayName: language
        '/{language}':
          displayName: '{language}'
          uriParameters:
            language:
              required: true
              type: string
          get:
            displayName: getForecastPoints
            description: Get forecast points of a yatchclub<br/>None
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - ODWeather
  /getAemetStation:
    displayName: getAemetStation
    '/{stationName}':
      displayName: '{stationName}'
      '/{period}':
        displayName: '{period}'
        /:
          get:
            displayName: getAemetStation
            description: Get data from the aemet stations<br/>None
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - ODWeather
  /compareStation:
    displayName: compareStation
    '/{stationName}':
      displayName: '{stationName}'
      /:
        get:
          displayName: compareStation
          description: Get forecast and realtime information for known points<br/>None
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - ODWeather
