#%RAML 1.0
title: OpenCage Geocoder
version: '1'
baseUri: 'https://api.opencagedata.com/geocode'
mediaType:
  - text/plain
  - application/json
  - application/xml
  - text/html
protocols:
  - HTTPS
description: Worldwide forward and reverse geocoding
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_www.opencagedata.com_img_opencage_logo_200_200.png'
  (oas-x-origin):
    format: swagger
    url: 'https://geocoder.opencagedata.com/swagger.yaml'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): opencagedata.com
  contact:
    name: OpenCage Data Ltd
    url: 'https://geocoder.opencagedata.com/contact'
  termsOfService: 'https://geocoder.opencagedata.com/terms'
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  description: OpenCage Geocoder Website
  url: 'https://geocoder.opencagedata.com/api'
'/v{version}':
  displayName: 'v{version}'
  '/{format}':
    displayName: '{format}'
    uriParameters:
      format:
        description: 'format of the response. One of ''json'', ''xml'' or ''map''.'
        required: true
        type: string
    get:
      displayName: GET_vversion-format
      description: geocode a query
      responses:
        '200':
          body:
            text/plain:
              type: Response
          description: Successful response
        '400':
          body:
            text/plain:
              type: Response
          description: Invalid request
        '402':
          body:
            text/plain:
              type: Response
          description: Valid request but quota exceeded
        '403':
          body:
            text/plain:
              type: Response
          description: Invalid or missing API key
        '404':
          body:
            text/plain:
              type: Response
          description: Invalid API endpoint
        '410':
          body:
            text/plain:
              type: Response
          description: Request too long
        '503':
          body:
            text/plain:
              type: Response
          description: Internal server error
      queryParameters:
        q:
          description: 'string or lat,lng to be geocoded.'
          required: true
          type: string
        key:
          description: an application key.
          required: true
          type: string
        add_request:
          description: if true the request is included in the response.
          type: boolean
        bounds:
          description: 'four coordinate points forming the south-west and north-east corners of a bounding box (min long, min lat, max long, max lat).'
          type: string
        countrycode:
          description: two letter code ISO 3166-1 Alpha 2 code to limit results to that country.
          type: string
        jsonp:
          description: wraps the returned JSON with a function name.
          type: string
        language:
          description: 'an IETF format language code (ex: ''es'' or ''pt-BR'').'
          type: string
        limit:
          description: maximum number of results to return. Default is 10. Maximum is 100.
          type: integer
        min_confidence:
          description: integer from 1-10. Only results with at least this confidence are returned.
          type: integer
        no_annotations:
          description: when true annotations are not added to results.
          type: boolean
        no_dedupe:
          description: when true results are not deduplicated.
          type: boolean
        no_record:
          description: when true query content is not logged.
          type: boolean
        pretty:
          description: when true results are pretty printed. Useful for debugging.
          type: boolean
types:
  LatLng:
    properties:
      lat:
        format: float
        type: number
        required: false
      lng:
        format: float
        type: number
        required: false
  Response:
    properties:
      documentation:
        type: string
        required: false
      licenses:
        items:
          properties:
            name:
              type: string
              required: false
            url:
              type: string
              required: false
          type: object
        type: array
        required: false
      rate:
        properties:
          limit:
            type: integer
            required: false
          remaining:
            type: integer
            required: false
          reset:
            type: integer
            required: false
        type: object
        required: false
      results:
        items:
          properties:
            annotations:
              type: object
              required: false
            bounds:
              properties:
                northeast:
                  type: LatLng
                  required: false
                southwest:
                  type: LatLng
                  required: false
              type: object
              required: false
            components:
              type: object
              required: false
            confidence:
              type: integer
              required: false
            formatted:
              type: string
              required: false
            geometry:
              type: LatLng
              required: false
          type: object
        type: array
        required: false
      status:
        properties:
          code:
            type: integer
            required: false
          message:
            type: string
            required: false
        type: object
        required: false
      stay_informed:
        properties:
          blog:
            type: string
            required: false
          twitter:
            type: string
            required: false
        type: object
        required: false
      thanks:
        type: string
        required: false
      timestamp:
        properties:
          created_http:
            type: string
            required: false
          created_unix:
            type: integer
            required: false
        type: object
        required: false
      total_results:
        type: integer
        required: false
