#%RAML 1.0
title: OrgHunter
version: 1.0.0
baseUri: 'http://data.orghunter.com/'
protocols:
  - HTTP
description: Get the latest IRS data and most up to date charity information for your website or application
(oas-tags-definition):
  - description: Charity Financial API Test
    name: CharityFinancial
  - description: Charity Premium API Test
    name: CharityPremium
  - description: Charity GeoLocation API Test
    name: GeoLocation
  - description: Charity NTEE Classification/Categories API Test
    name: categories
  - description: Charity Basic API Test
    name: details
  - description: Charity Search Summary API Test
    name: summary
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_orghunter.com_sites_all_themes_orghunter_img_logo.jpg'
  (oas-x-origin):
    format: swagger
    url: 'https://orghunter.3scale.net/swagger/spec.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): orghunter.com
securitySchemes:
  user_key:
    type: Pass Through
    describedBy:
      queryParameters:
        user_key:
          type: string
    description: Your API access key
/v1:
  displayName: v1
  /charitysearch:
    displayName: charitysearch
    post:
      displayName: POST_v1-charitysearch
      description: <p>This operation provides summary data.</p>
      (oas-summary): Get summary data!
      responses:
        '200':
          description: No response was specified
      queryParameters:
        ein:
          description: Employer Identification Number (EIN)
          type: string
        searchTerm:
          description: 'Charity Name or Keyword. Example: humane society or cancer'
          type: string
        city:
          description: 'City Name. Example: Miami'
          type: string
        state:
          description: State Name - Two letter state abbreviation
          type: string
        zipCode:
          description: Zipcode Value - 5 digit zipcode value
          type: string
        category:
          description: Category Value Selected from Categories API
          type: string
        eligible:
          description: eligible=1 will return only organizations that are tax deductible and in good standing with the IRS
          type: string
        start:
          description: Record Set Start Position
          type: string
        rows:
          description: Records Per Page. Default Value = 20
          type: string
      (oas-tags):
        - summary
  /charitypremium:
    displayName: charitypremium
    post:
      displayName: POST_v1-charitypremium
      description: <p>This operation detail data.</p>
      (oas-summary): Get details!
      responses:
        '200':
          description: No response was specified
      queryParameters:
        ein:
          description: ein (Employer Identification Number)
          type: string
      (oas-tags):
        - CharityPremium
  /charitygeolocation:
    displayName: charitygeolocation
    post:
      displayName: POST_v1-charitygeolocation
      description: <p>This operation detail data.</p>
      (oas-summary): Get details!
      responses:
        '200':
          description: No response was specified
      queryParameters:
        ein:
          description: ein (Employer Identification Number)
          type: string
      (oas-tags):
        - GeoLocation
  /charityfinancial:
    displayName: charityfinancial
    post:
      displayName: POST_v1-charityfinancial
      description: <p>This operation detail data.</p>
      (oas-summary): Get details!
      responses:
        '200':
          description: No response was specified
      queryParameters:
        ein:
          description: ein (Employer Identification Number)
          type: string
      (oas-tags):
        - CharityFinancial
  /charitybasic:
    displayName: charitybasic
    post:
      displayName: POST_v1-charitybasic
      description: <p>This operation detail data.</p>
      (oas-summary): Get details!
      responses:
        '200':
          description: No response was specified
      queryParameters:
        ein:
          description: ein (Employer Identification Number)
          type: string
      (oas-tags):
        - details
  /categories:
    displayName: categories
    post:
      displayName: POST_v1-categories
      description: <p>This operation provides a list of categories.</p>
      (oas-summary): Get categories!
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - categories
