#%RAML 1.0
title: Owler
version: 1.0.0
baseUri: 'https://api.owler.com/'
mediaType:
  - application/json
  - application/xml
protocols:
  - HTTPS
description: 'Search for information on companies using a website or company name and get access to Company Data, News, Blog Posts, Competitor Lists and much more.'
(oas-tags-definition):
  - description: Provides Company information
    name: CompanyAPI
  - description: Provides Competitor information
    name: CompetitorAPI
  - description: Provides Feed information
    name: FeedAPI
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_developers.owler.com_images_owler_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://developers.owler.com/swagger/spec.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): owler.com
securitySchemes:
  user_key:
    type: Pass Through
    describedBy:
      headers:
        user_key:
          type: string
    description: API Access Key
/v1:
  displayName: v1
  /feed:
    displayName: feed
    get:
      displayName: getFeeds
      description: The Feeds API provides a list of feeds and individual feed information for the given Company Ids and Category. By default the API returns the latest 10 feeds available unless the limit is specified. The maximum result is restricted to 100 feeds per API request.
      (oas-summary): Get Feeds for given Company Ids
      responses:
        '200':
          body:
            application/json:
              type: results
          description: Feeds Data
        '400':
          description: Invalid Parameters
        '403':
          description: Authentication Failed
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      queryParameters:
        format:
          default: json
          description: 'Format of the response content - json (by default if not specified), xml'
          enum:
            - xml
            - json
          required: false
          type: string
          displayName: 'Format of the response content - json (by default if not specified), xml'
        company_id:
          description: Company Ids separated by comma (Maximum of 150 Company Ids)
          items:
            type: string
          required: true
          type: array
          displayName: Company Ids separated by comma (Maximum of 150 Company Ids)
        limit:
          default: '10'
          description: 'Number of results to be displayed - 10 (by default, if not specified) to 100'
          required: false
          type: string
          displayName: 'Number of results to be displayed - 10 (by default, if not specified) to 100'
        pagination_id:
          default: '*'
          description: Pass pagination_id as blank in the first API request. The API response will return the latest feeds along with the next pagination_id which can be passed in the subsequent API request to get the next set of feeds. Repeat this process until needed or till the pagination_id returned is blank
          required: false
          type: string
          displayName: Pass pagination_id as blank in the first API request. The API response will return the latest feeds along with the next pagination_id which can be passed in the subsequent API request to get the next set of feeds. Repeat this process until needed or till the pagination_id returned is blank
        category:
          description: 'Categories separated by comma. If not specified, will search against all categories'
          items:
            enum:
              - NEWS
              - PRESS
              - FUNDING
              - ACQUISITION
              - PEOPLE
              - BLOG
              - VIDEOS
            type: string
          required: false
          type: array
          displayName: 'Categories separated by comma. If not specified, will search against all categories'
      (oas-tags):
        - FeedAPI
  /company:
    displayName: company
    /url:
      displayName: url
      '/{website}':
        displayName: '{website}'
        uriParameters:
          website:
            description: Company Domain
            required: true
            type: string
            displayName: Company Domain
        get:
          displayName: getCompanyByWebsite
          description: 'The Company Data API provides complete information about a company for the specified URL '
          (oas-summary): Get Company by URL
          responses:
            '200':
              body:
                application/json:
                  type: company
              description: Company Data
            '400':
              description: Invalid Parameters
            '403':
              description: Authentication Failed
            '404':
              description: Resource Not Found
            '429':
              description: Too Many Requests
            '500':
              description: Internal Server Error
          queryParameters:
            format:
              default: json
              description: 'Format of the response content - json (by default if not specified), xml'
              enum:
                - xml
                - json
              required: false
              type: string
              displayName: 'Format of the response content - json (by default if not specified), xml'
          (oas-tags):
            - CompanyAPI
    /search:
      displayName: search
      get:
        displayName: searchCompany
        description: The Company Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.
        (oas-summary): Search Company by Ticker or Website or Name or PermID
        responses:
          '200':
            body:
              application/json:
                type: results
            description: Search Results
          '400':
            description: Invalid Parameters
          '403':
            description: Authentication Failed
          '429':
            description: Too Many Requests
          '500':
            description: Internal Server Error
        queryParameters:
          q:
            description: Search term
            required: true
            type: string
            displayName: Search term
          fields:
            description: 'Fields to be searched - name, website, ticker. If not specified, will be searched against all fields'
            items:
              enum:
                - name
                - website
                - ticker
                - permid
              type: string
            required: false
            type: array
            displayName: 'Fields to be searched - name, website, ticker. If not specified, will be searched against all fields'
          limit:
            description: 'Number of results to be displayed - 10 (by default, if not specified) to 30'
            required: false
            type: string
            displayName: 'Number of results to be displayed - 10 (by default, if not specified) to 30'
          format:
            default: json
            description: 'Format of the response content - json (by default if not specified), xml'
            enum:
              - xml
              - json
            required: false
            type: string
            displayName: 'Format of the response content - json (by default if not specified), xml'
        (oas-tags):
          - CompanyAPI
    /id:
      displayName: id
      '/{companyId}':
        displayName: '{companyId}'
        uriParameters:
          companyId:
            description: Company Id
            required: true
            type: string
            displayName: Company Id
        get:
          displayName: getCompanyById
          description: 'The Company Data API provides complete information about a company for the specified Company Id '
          (oas-summary): Get Company by Id
          responses:
            '200':
              body:
                application/json:
                  type: company
              description: Company Data
            '400':
              description: Invalid Parameters
            '403':
              description: Authentication Failed
            '404':
              description: Resource Not Found
            '429':
              description: Too Many Requests
            '500':
              description: Internal Server Error
          queryParameters:
            format:
              default: json
              description: 'Format of the response content - json (by default if not specified), xml'
              enum:
                - xml
                - json
              required: false
              type: string
              displayName: 'Format of the response content - json (by default if not specified), xml'
          (oas-tags):
            - CompanyAPI
    /competitor:
      displayName: competitor
      /url:
        displayName: url
        '/{website}':
          displayName: '{website}'
          uriParameters:
            website:
              description: Company Id
              required: true
              type: string
              displayName: Company Id
          get:
            displayName: getCompetitorsForWebsite
            description: The Competitors API provides basic information about top 3 competitors of a company specified in the website
            (oas-summary): Get Competitor information by URL
            responses:
              '200':
                body:
                  application/json:
                    type: CompanyCompetitorVO
                description: Competitors Data
              '400':
                description: Invalid Parameters
              '403':
                description: Authentication Failed
              '404':
                description: Resource Not Found
              '429':
                description: Too Many Requests
              '500':
                description: Internal Server Error
            queryParameters:
              format:
                default: json
                description: 'Format of the response content - json (by default if not specified), xml'
                enum:
                  - xml
                  - json
                required: false
                type: string
                displayName: 'Format of the response content - json (by default if not specified), xml'
            (oas-tags):
              - CompetitorAPI
      /id:
        displayName: id
        '/{companyId}':
          displayName: '{companyId}'
          uriParameters:
            companyId:
              description: Company Id
              required: true
              type: string
              displayName: Company Id
          get:
            displayName: getCompetitorsForId
            description: The Competitors API provides basic information about top 3 competitors of a company specified in the Company Id
            (oas-summary): Get Competitor information by Id
            responses:
              '200':
                body:
                  application/json:
                    type: CompanyCompetitorVO
                description: Competitors Data
              '400':
                description: Invalid Parameters
              '403':
                description: Authentication Failed
              '404':
                description: Resource Not Found
              '429':
                description: Too Many Requests
              '500':
                description: Internal Server Error
            queryParameters:
              format:
                default: json
                description: 'Format of the response content - json (by default if not specified), xml'
                enum:
                  - xml
                  - json
                required: false
                type: string
                displayName: 'Format of the response content - json (by default if not specified), xml'
            (oas-tags):
              - CompetitorAPI
    /basicsearch:
      displayName: basicsearch
      get:
        displayName: basicCompanySearch
        description: The Company Basic Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.
        (oas-summary): Basic Search Company by Ticker or Website or Name or PermID
        responses:
          '200':
            body:
              application/json:
                type: basic_results
            description: Search Results
          '400':
            description: Invalid Parameters
          '403':
            description: Authentication Failed
          '429':
            description: Too Many Requests
          '500':
            description: Internal Server Error
        queryParameters:
          q:
            description: Search term
            required: true
            type: string
            displayName: Search term
          fields:
            description: 'Fields to be searched - name, website, ticker, permid. If not specfied, will be searched against all fields'
            items:
              enum:
                - name
                - website
                - ticker
                - permid
              type: string
            required: false
            type: array
            displayName: 'Fields to be searched - name, website, ticker, permid. If not specfied, will be searched against all fields'
          limit:
            description: 'Number of results to be displayed - 10 (by default, if not specified) to 30'
            required: false
            type: string
            displayName: 'Number of results to be displayed - 10 (by default, if not specified) to 30'
          format:
            default: json
            description: 'Format of the response content - json (by default if not specified), xml'
            enum:
              - xml
              - json
            required: false
            type: string
            displayName: 'Format of the response content - json (by default if not specified), xml'
        (oas-tags):
          - CompanyAPI
types:
  Address:
    properties:
      city:
        type: string
        required: false
      country:
        type: string
        required: false
      phone:
        type: string
        required: false
      postal_code:
        type: string
        required: false
      state:
        type: string
        required: false
      street1:
        type: string
        required: false
      street2:
        type: string
        required: false
  Ceo:
    properties:
      first_name:
        type: string
        required: false
      image_url:
        type: string
        required: false
      last_name:
        type: string
        required: false
  CompanyBasicSearchVO:
    properties:
      company_id:
        format: int64
        type: integer
        required: false
      hq_address:
        type: Address
        required: false
      name:
        type: string
        required: false
      perm_id:
        type: string
        required: false
      profile_url:
        type: string
        required: false
      short_name:
        type: string
        required: false
      website:
        type: string
        required: false
  CompanyBasicVO:
    properties:
      company_id:
        format: int64
        type: integer
      logo_url:
        type: string
      name:
        type: string
      profile_url:
        type: string
      short_name:
        type: string
        required: false
      website:
        type: string
  CompanyCompetitorVO:
    properties:
      competitor:
        items:
          type: CompanyBasicVO
        type: array
        required: false
  CompanySearchResultVO:
    properties:
      company_id:
        format: int64
        type: integer
      company_type:
        enum:
          - Private
          - Public
          - Product/Brand/Service
          - NGO/NPO/NFP/Organization/Association
          - Investment Company
          - Government
        type: string
        required: false
      description:
        type: string
        required: false
      hq_address:
        type: Address
        required: false
      logo_url:
        type: string
      name:
        type: string
      perm_id:
        type: string
        required: false
      profile_url:
        type: string
      short_name:
        type: string
        required: false
      stock:
        type: Stock
        required: false
      website:
        type: string
  FeedsVO:
    properties:
      category:
        type: string
        required: false
      company:
        type: CompanyBasicVO
        required: false
      enclosure_image:
        type: string
        required: false
      feed_date:
        type: string
        required: false
      id:
        type: string
        required: false
      owler_feed_url:
        type: string
        required: false
      publisher_logo:
        type: string
        required: false
      publisher_name:
        type: string
        required: false
      source_url:
        type: string
        required: false
      title:
        type: string
        required: false
  Stock:
    properties:
      exchange:
        type: string
        required: false
      ticker:
        type: string
        required: false
  basic_results:
    properties:
      company:
        items:
          type: CompanyBasicSearchVO
        type: array
        required: false
  company:
    properties:
      ceo:
        type: Ceo
        required: false
      company_id:
        format: int64
        type: integer
      company_type:
        enum:
          - Private
          - Public
          - Product/Brand/Service
          - NGO/NPO/NFP/Organization/Association
          - Investment Company
          - Government
        type: string
        required: false
      description:
        type: string
        required: false
      employee_count:
        type: string
        required: false
      founded_date:
        type: string
        required: false
      hq_address:
        type: Address
        required: false
      industries:
        items:
          type: string
        type: array
        required: false
      logo_url:
        type: string
      name:
        type: string
      perm_id:
        type: string
        required: false
      profile_url:
        type: string
      revenue:
        type: string
        required: false
      short_name:
        type: string
        required: false
      stock:
        type: Stock
        required: false
      website:
        type: string
  results:
    properties:
      feeds:
        items:
          type: FeedsVO
        type: array
        required: false
      pagination_id:
        type: string
        required: false
