#%RAML 1.0
title: PasswordUtility.Web
version: v1
baseUri: 'http://passwordutility.net:80'
mediaType:
  - application/json
  - text/json
  - application/xml
  - text/xml
protocols:
  - HTTP
description: Validate and generate passwords using open source tools
(oas-info):
  (oas-x-origin):
    format: swagger
    url: 'http://passwordutility.net/swagger/docs/v1'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): passwordutility.net
annotationTypes:
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
/api:
  displayName: api
  /password:
    displayName: password
    /validate:
      displayName: validate
      post:
        displayName: Password_Validate
        responses:
          '200':
            body:
              application/json:
                type: Object
            description: OK
        queryParameters:
          password:
            required: true
            type: string
        (oas-tags):
          - Password
    /generate:
      displayName: generate
      post:
        displayName: Password_Generate
        responses:
          '200':
            body:
              application/json:
                type: Object
            description: OK
        queryParameters:
          length:
            format: int32
            required: true
            type: integer
          upperCase:
            required: false
            type: boolean
          digits:
            required: false
            type: boolean
          specialCharacters:
            required: false
            type: boolean
        (oas-tags):
          - Password
types:
  Object:
    properties: {}
