#%RAML 1.0
title: PatientView
version: '1.0'
baseUri: 'https://www.patientview.org/'
mediaType: application/json
protocols:
  - HTTPS
description: The recommended REST API endpoints to be used when integrating with PatientView
(oas-tags-definition):
  - description: Auth Controller
    name: auth-controller
  - description: Observation Controller
    name: observation-controller
  - description: Observation Heading Controller
    name: observation-heading-controller
  - description: Patient Controller
    name: patient-controller
  - description: Patient Management Controller
    name: patient-management-controller
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-definition-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.patientview.org_images_pv-logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://www.patientview.org/api/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): patientview.org
  termsOfService: 'https://www.patientview.org/#/terms'
/patientmanagement:
  displayName: patientmanagement
  '/{userId}':
    displayName: '{userId}'
    /group:
      displayName: group
      '/{groupId}':
        displayName: '{groupId}'
        /identifier:
          displayName: identifier
          '/{identifierId}':
            displayName: '{identifierId}'
            uriParameters:
              identifierId:
                description: identifierId
                format: int64
                required: true
                type: integer
                displayName: identifierId
            get:
              displayName: getPatientManagement
              description: getPatientManagement
              (oas-summary): getPatientManagement
              responses:
                '200':
                  body:
                    application/json:
                      type: PatientManagement
                  description: OK
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - patient-management-controller
            post:
              displayName: savePatientManagement
              description: savePatientManagement
              (oas-summary): savePatientManagement
              body:
                application/json:
                  type: PatientManagement
                  (oas-body-name): body
                  description: patientManagement
              responses:
                '200':
                  description: Description was not specified
                '201':
                  description: Created
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - patient-management-controller
            /surgeries:
              displayName: surgeries
              post:
                displayName: savePatientManagementSurgeries
                description: savePatientManagementSurgeries
                (oas-summary): savePatientManagementSurgeries
                body:
                  application/json:
                    type: PatientManagement
                    (oas-body-name): body
                    description: patientManagement
                responses:
                  '200':
                    description: Description was not specified
                  '201':
                    description: Created
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - patient-management-controller
  /diagnoses:
    displayName: diagnoses
    get:
      displayName: getPatientManagementDiagnoses
      description: getPatientManagementDiagnoses
      (oas-summary): getPatientManagementDiagnoses
      responses:
        '200':
          body:
            application/json:
              items:
                type: Code
              type: array
              uniqueItems: false
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      (oas-tags):
        - patient-management-controller
  /lookuptypes:
    displayName: lookuptypes
    get:
      displayName: getPatientManagementLookupTypes
      description: getPatientManagementLookupTypes
      (oas-summary): getPatientManagementLookupTypes
      responses:
        '200':
          body:
            application/json:
              items:
                type: LookupType
              type: array
              uniqueItems: false
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      (oas-tags):
        - patient-management-controller
  /validate:
    displayName: validate
    post:
      displayName: validatePatientManagement
      description: validatePatientManagement
      (oas-summary): validatePatientManagement
      body:
        application/json:
          type: PatientManagement
          (oas-body-name): body
          description: patientManagement
      responses:
        '200':
          description: Description was not specified
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      (oas-tags):
        - patient-management-controller
/user:
  displayName: user
  '/{userId}':
    displayName: '{userId}'
    /patiententeredobservationheadings:
      displayName: patiententeredobservationheadings
      get:
        displayName: getPatientEnteredObservationHeadings
        description: Given a User ID retrieve a list of available observation types for that user (where they have patient entered observation data).
        (oas-summary): Get Available Patient Entered Observations Types For a User
        responses:
          '200':
            body:
              application/json:
                items:
                  type: ObservationHeading
                type: array
                uniqueItems: false
            description: OK
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not Found
        (oas-tags):
          - observation-heading-controller
    /observations:
      displayName: observations
      '/{code}':
        displayName: '{code}'
        /patiententered:
          displayName: patiententered
          get:
            displayName: getPatientEnteredObservationsByCode
            description: 'Given a User ID and observation code, retrieve patient entered observations.'
            (oas-summary): Get patient entered Observations of a Certain Type For a User
            responses:
              '200':
                body:
                  '*/*':
                    items:
                      type: FhirObservation
                    type: array
                    uniqueItems: false
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - observation-controller
        uriParameters:
          code:
            description: code
            required: true
            type: string
            displayName: code
        get:
          displayName: getObservationsByCode
          description: 'Given a User ID and observation code, retrieve all observations.'
          (oas-summary): Get Observations of a Certain Type For a User
          responses:
            '200':
              body:
                '*/*':
                  items:
                    type: FhirObservation
                  type: array
                  uniqueItems: false
              description: OK
            '401':
              description: Unauthorized
            '403':
              description: Forbidden
            '404':
              description: Not Found
          (oas-tags):
            - observation-controller
      get:
        displayName: getObservationsByCodes
        description: 'Given a User ID and search parameters, retrieve a page of observations.'
        (oas-summary): Get Observations of Multiple Types For a User
        responses:
          '200':
            body:
              '*/*':
                type: FhirObservationPage
            description: OK
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not Found
        queryParameters:
          code:
            description: code
            items:
              type: string
            required: true
            type: array
            uniqueItems: false
            displayName: code
          limit:
            description: limit
            format: int64
            required: true
            type: integer
            displayName: limit
          offset:
            description: offset
            format: int64
            required: true
            type: integer
            displayName: offset
          orderDirection:
            description: orderDirection
            required: true
            type: string
            displayName: orderDirection
        (oas-tags):
          - observation-controller
    /availableobservationheadings:
      displayName: availableobservationheadings
      get:
        displayName: getAvailableObservationHeadings
        description: Given a User ID retrieve a list of available observation types for that user (where they have observation data).
        (oas-summary): Get Available Observations Types For a User
        responses:
          '200':
            body:
              application/json:
                items:
                  type: ObservationHeading
                type: array
                uniqueItems: false
            description: OK
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not Found
        (oas-tags):
          - observation-heading-controller
/auth:
  displayName: auth
  /login:
    displayName: login
    post:
      displayName: logIn
      description: 'Authenticate using username and password, returns token, which must be added to X-Auth-Token in header of all future requests'
      (oas-summary): Log In
      body:
        application/json:
          type: Credentials
          (oas-body-name): body
          description: credentials
      responses:
        '200':
          body:
            '*/*':
              type: UserToken
          description: Description was not specified
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      (oas-tags):
        - auth-controller
  '/{token}':
    displayName: '{token}'
    /basicuserinformation:
      displayName: basicuserinformation
      get:
        displayName: getBasicUserInformation
        description: 'Once logged in and have a token, get basic user information including group role membership'
        (oas-summary): Get Basic User Information
        responses:
          '200':
            body:
              '*/*':
                type: User
            description: OK
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not Found
        (oas-tags):
          - auth-controller
  /logout:
    displayName: logout
    '/{token}':
      displayName: '{token}'
      uriParameters:
        token:
          description: token
          required: true
          type: string
          displayName: token
      delete:
        displayName: logOut
        description: Log Out
        (oas-summary): Log Out
        responses:
          '200':
            description: Description was not specified
          '204':
            description: No Content
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
        (oas-tags):
          - auth-controller
/patient:
  displayName: patient
  '/{userId}':
    displayName: '{userId}'
    /basic:
      displayName: basic
      get:
        displayName: getBasicPatientDetails
        description: 'Given a User ID, get basic patient information for a user from clinical data stored in FHIR'
        (oas-summary): Get Basic Patient Information
        responses:
          '200':
            body:
              '*/*':
                items:
                  type: Patient
                type: array
                uniqueItems: false
            description: OK
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not Found
        (oas-tags):
          - patient-controller
types:
  ApiKey:
    properties:
      expired:
        type: boolean
        required: false
      expiryDate:
        format: rfc3339
        type: datetime
        required: false
      key:
        type: string
        required: false
  BaseGroup:
    properties:
      code:
        type: string
        required: false
      groupType:
        type: Lookup
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastImportDate:
        format: rfc3339
        type: datetime
        required: false
      name:
        type: string
        required: false
      parentCodes:
        items:
          type: string
        type: array
        required: false
      shortName:
        type: string
        required: false
      visible:
        type: boolean
        required: false
      visibleToJoin:
        type: boolean
        required: false
  Category:
    properties:
      friendlyDescription:
        type: string
        required: false
      hidden:
        type: boolean
        required: false
      icd10Description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      number:
        format: int32
        type: integer
        required: false
  Code:
    properties:
      code:
        type: string
        required: false
      codeCategories:
        items:
          type: CodeCategory
        type: array
        uniqueItems: true
        required: false
      codeType:
        type: Lookup
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      description:
        type: string
        required: false
      displayOrder:
        format: int32
        type: integer
        required: false
      externalStandards:
        items:
          type: CodeExternalStandard
        type: array
        uniqueItems: true
        required: false
      fullDescription:
        type: string
        required: false
      hideFromPatients:
        type: boolean
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      links:
        items:
          type: Link
        type: array
        uniqueItems: true
        required: false
      patientFriendlyName:
        type: string
        required: false
      removedExternally:
        type: boolean
        required: false
      sourceType:
        enum:
          - PATIENTVIEW
          - NHS_CHOICES
        type: string
        required: false
      standardType:
        type: Lookup
        required: false
  CodeCategory:
    properties:
      category:
        type: Category
        required: false
      id:
        format: int64
        type: integer
        required: false
  CodeExternalStandard:
    properties:
      codeString:
        type: string
        required: false
      externalStandard:
        type: ExternalStandard
        required: false
      id:
        format: int64
        type: integer
        required: false
  ContactPoint:
    properties:
      contactPointType:
        type: ContactPointType
        required: false
      content:
        type: string
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
  ContactPointType:
    properties:
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      lookupType:
        type: LookupType
        required: false
      value:
        enum:
          - UNIT_WEB_ADDRESS
          - TRUST_WEB_ADDRESS
          - PV_ADMIN_NAME
          - PV_ADMIN_PHONE
          - PV_ADMIN_EMAIL
          - UNIT_ENQUIRIES_PHONE
          - UNIT_ENQUIRIES_EMAIL
          - APPOINTMENT_PHONE
          - APPOINTMENT_EMAIL
          - OUT_OF_HOURS_INFO
        type: string
        required: false
  Credentials:
    properties:
      apiKey:
        type: string
        required: false
      password:
        type: string
        required: false
      username:
        type: string
        required: false
  Entry_long_Map_string_List_FhirObservation___:
    properties:
      key:
        items:
          type: Entry_string_List_FhirObservation__
        type: array
        required: false
    (oas-definition-name): 'Entry«long,Map«string,List«FhirObservation»»»'
  Entry_string_List_FhirObservation__:
    properties:
      key:
        items:
          type: FhirObservation
        type: array
        required: false
    (oas-definition-name): 'Entry«string,List«FhirObservation»»'
  ExternalStandard:
    properties:
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      name:
        type: string
        required: false
  Feature:
    properties:
      created:
        format: rfc3339
        type: datetime
        required: false
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      name:
        type: string
        required: false
  FhirAllergy:
    properties:
      confidenceLevel:
        type: string
        required: false
      group:
        type: Group
        required: false
      id:
        format: int64
        type: integer
        required: false
      identifier:
        type: string
        required: false
      infoSource:
        type: string
        required: false
      reaction:
        type: string
        required: false
      recordedDate:
        format: rfc3339
        type: datetime
        required: false
      status:
        type: string
        required: false
      substance:
        type: string
        required: false
      type:
        type: string
        required: false
  FhirCondition:
    properties:
      asserter:
        type: string
        required: false
      category:
        type: string
        required: false
      code:
        type: string
        required: false
      date:
        format: rfc3339
        type: datetime
        required: false
      description:
        type: string
        required: false
      fullDescription:
        type: string
        required: false
      group:
        type: Group
        required: false
      id:
        format: int64
        type: integer
        required: false
      identifier:
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        uniqueItems: true
        required: false
      notes:
        type: string
        required: false
      severity:
        type: string
        required: false
      status:
        type: string
        required: false
  FhirContact:
    properties:
      id:
        format: int64
        type: integer
        required: false
      system:
        type: string
        required: false
      use:
        type: string
        required: false
      value:
        type: string
        required: false
  FhirEncounter:
    properties:
      date:
        format: rfc3339
        type: datetime
        required: false
      encounterType:
        type: string
        required: false
      group:
        type: Group
        required: false
      id:
        format: int64
        type: integer
        required: false
      identifier:
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        uniqueItems: true
        required: false
      observations:
        items:
          type: FhirObservation
        type: array
        uniqueItems: true
        required: false
      procedures:
        items:
          type: FhirProcedure
        type: array
        uniqueItems: true
        required: false
      status:
        type: string
        required: false
  FhirIdentifier:
    properties:
      id:
        format: int64
        type: integer
        required: false
      label:
        type: string
        required: false
      value:
        type: string
        required: false
  FhirObservation:
    properties:
      applies:
        format: rfc3339
        type: datetime
        required: false
      bodySite:
        type: string
        required: false
      comments:
        type: string
        required: false
      comparator:
        type: string
        required: false
      diagram:
        type: string
        required: false
      group:
        type: Group
        required: false
      id:
        format: int64
        type: integer
        required: false
      identifier:
        type: string
        required: false
      location:
        type: string
        required: false
      name:
        type: string
        required: false
      temporaryUuid:
        type: string
        required: false
      units:
        type: string
        required: false
      value:
        type: string
        required: false
  FhirObservationPage:
    properties:
      data:
        items:
          type: Entry_long_Map_string_List_FhirObservation___
        type: array
        required: false
      totalElements:
        format: int64
        type: integer
        required: false
      totalPages:
        format: int64
        type: integer
        required: false
  FhirPatient:
    properties:
      address1:
        type: string
        required: false
      address2:
        type: string
        required: false
      address3:
        type: string
        required: false
      address4:
        type: string
        required: false
      contacts:
        items:
          type: FhirContact
        type: array
        required: false
      dateOfBirth:
        format: rfc3339
        type: datetime
        required: false
      dateOfBirthNoTime:
        type: string
        required: false
      forename:
        type: string
        required: false
      gender:
        type: string
        required: false
      group:
        type: Group
        required: false
      groupCode:
        type: string
        required: false
      identifier:
        type: string
        required: false
      identifiers:
        items:
          type: FhirIdentifier
        type: array
        required: false
      postcode:
        type: string
        required: false
      practitioners:
        items:
          type: FhirPractitioner
        type: array
        required: false
      surname:
        type: string
        required: false
  FhirPractitioner:
    properties:
      address1:
        type: string
        required: false
      address2:
        type: string
        required: false
      address3:
        type: string
        required: false
      address4:
        type: string
        required: false
      allowInviteGp:
        type: boolean
        required: false
      contacts:
        items:
          type: FhirContact
        type: array
        required: false
      gender:
        type: string
        required: false
      groupCode:
        type: string
        required: false
      identifier:
        type: string
        required: false
      inviteDate:
        format: rfc3339
        type: datetime
        required: false
      name:
        type: string
        required: false
      postcode:
        type: string
        required: false
      role:
        type: string
        required: false
  FhirProcedure:
    properties:
      bodySite:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      type:
        type: string
        required: false
  Group:
    properties:
      address1:
        type: string
        required: false
      address2:
        type: string
        required: false
      address3:
        type: string
        required: false
      childGroups:
        items:
          type: Group
        type: array
        required: false
      code:
        type: string
        required: false
      contactPoints:
        items:
          type: ContactPoint
        type: array
        uniqueItems: true
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      fhirResourceId:
        format: uuid
        type: string
        facets:
          format: string
        required: false
      groupFeatures:
        items:
          type: GroupFeature
        type: array
        uniqueItems: true
        required: false
      groupType:
        type: Lookup
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastImportDate:
        format: rfc3339
        type: datetime
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      links:
        items:
          type: Link
        type: array
        uniqueItems: true
        required: false
      locations:
        items:
          type: Location
        type: array
        uniqueItems: true
        required: false
      name:
        type: string
        required: false
      parentGroups:
        items:
          type: Group
        type: array
        required: false
      postcode:
        type: string
        required: false
      sftpUser:
        type: string
        required: false
      shortName:
        type: string
        required: false
      visible:
        type: boolean
        required: false
      visibleToJoin:
        type: boolean
        required: false
  GroupFeature:
    properties:
      created:
        format: rfc3339
        type: datetime
        required: false
      feature:
        type: Feature
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
  GroupRole:
    properties:
      group:
        type: Group
        required: false
      id:
        format: int64
        type: integer
        required: false
      role:
        type: Role
        required: false
  Link:
    properties:
      created:
        format: rfc3339
        type: datetime
        required: false
      displayOrder:
        format: int32
        type: integer
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      link:
        type: string
        required: false
      linkType:
        type: Lookup
        required: false
      name:
        type: string
        required: false
  Location:
    properties:
      address:
        type: string
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      email:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      label:
        type: string
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      name:
        type: string
        required: false
      phone:
        type: string
        required: false
      web:
        type: string
        required: false
  Lookup:
    properties:
      created:
        format: rfc3339
        type: datetime
        required: false
      description:
        type: string
        required: false
      descriptionFriendly:
        type: string
        required: false
      displayOrder:
        format: int64
        type: integer
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      lookupType:
        type: LookupType
        required: false
      value:
        type: string
        required: false
  LookupType:
    properties:
      created:
        format: rfc3339
        type: datetime
        required: false
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      type:
        enum:
          - GROUP
          - MENU
          - ROLE
          - CODE_STANDARD
          - CODE_TYPE
          - FEATURE_TYPE
          - RELATIONSHIP_TYPE
          - IDENTIFIER
          - CONTACT_POINT_TYPE
          - STATISTIC_TYPE
          - NEWS_TYPE
          - GENDER
          - IBD_CROHNSLOCATION
          - IBD_CROHNSPROXIMALTERMINALILEUM
          - IBD_CROHNSPERIANAL
          - IBD_CROHNSBEHAVIOUR
          - IBD_UCEXTENT
          - IBD_EGIMCOMPLICATION
          - IBD_SURGERYMAINPROCEDURE
          - IBD_SMOKINGSTATUS
          - IBD_FAMILYHISTORY
          - LINK_TYPE
        type: string
        required: false
  ObservationHeading:
    properties:
      code:
        type: string
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      decimalPlaces:
        format: int64
        type: integer
        required: false
      defaultPanel:
        format: int64
        type: integer
        required: false
      defaultPanelOrder:
        format: int64
        type: integer
        required: false
      heading:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      infoLink:
        type: string
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      maxGraph:
        format: double
        type: number
        required: false
      minGraph:
        format: double
        type: number
        required: false
      name:
        type: string
        required: false
      normalRange:
        type: string
        required: false
      observationHeadingGroups:
        items:
          type: ObservationHeadingGroup
        type: array
        uniqueItems: true
        required: false
      units:
        type: string
        required: false
  ObservationHeadingGroup:
    properties:
      created:
        format: rfc3339
        type: datetime
        required: false
      group:
        type: Group
        required: false
      id:
        format: int64
        type: integer
        required: false
      panel:
        format: int64
        type: integer
        required: false
      panelOrder:
        format: int64
        type: integer
        required: false
  Patient:
    properties:
      diagnosisCodes:
        items:
          type: Code
        type: array
        required: false
      fhirAllergies:
        items:
          type: FhirAllergy
        type: array
        required: false
      fhirConditions:
        items:
          type: FhirCondition
        type: array
        required: false
      fhirEncounters:
        items:
          type: FhirEncounter
        type: array
        required: false
      fhirObservations:
        items:
          type: FhirObservation
        type: array
        required: false
      fhirPatient:
        type: FhirPatient
        required: false
      fhirPractitioners:
        items:
          type: FhirPractitioner
        type: array
        required: false
      group:
        type: Group
        required: false
      id:
        format: int64
        type: integer
        required: false
  PatientManagement:
    properties:
      condition:
        type: FhirCondition
        required: false
      encounters:
        items:
          type: FhirEncounter
        type: array
        required: false
      groupCode:
        type: string
        required: false
      identifier:
        type: string
        required: false
      observations:
        items:
          type: FhirObservation
        type: array
        required: false
      patient:
        type: FhirPatient
        required: false
      practitioners:
        items:
          type: FhirPractitioner
        type: array
        required: false
  Role:
    properties:
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      name:
        enum:
          - PATIENT
          - UNIT_ADMIN
          - STAFF_ADMIN
          - DISEASE_GROUP_ADMIN
          - SPECIALTY_ADMIN
          - GLOBAL_ADMIN
          - GP_ADMIN
          - MEMBER
          - PUBLIC
          - UNIT_ADMIN_API
          - IMPORTER
        type: string
        required: false
      visible:
        type: boolean
        required: false
  Route:
    properties:
      controller:
        type: string
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      displayOrder:
        format: int32
        type: integer
        required: false
      id:
        format: int64
        type: integer
        required: false
      lookup:
        type: Lookup
        required: false
      templateUrl:
        type: string
        required: false
      title:
        type: string
        required: false
      url:
        type: string
        required: false
  UUID: {}
  User:
    properties:
      apiKey:
        type: ApiKey
        required: false
      canSwitchUser:
        type: boolean
        required: false
      changePassword:
        type: boolean
        required: false
      contactNumber:
        type: string
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      currentLogin:
        format: rfc3339
        type: datetime
        required: false
      currentLoginIpAddress:
        type: string
        required: false
      dateOfBirth:
        format: rfc3339
        type: datetime
        required: false
      deleted:
        type: boolean
        required: false
      dummy:
        type: boolean
        required: false
      email:
        type: string
        required: false
      emailVerified:
        type: boolean
        required: false
      forename:
        type: string
        required: false
      groupRoles:
        items:
          type: GroupRole
        type: array
        uniqueItems: true
        required: false
      hideSecretWordNotification:
        type: boolean
        required: false
      id:
        format: int64
        type: integer
        required: false
      identifiers:
        items:
          type: object
        type: array
        uniqueItems: true
        required: false
      lastLogin:
        format: rfc3339
        type: datetime
        required: false
      lastLoginIpAddress:
        type: string
        required: false
      latestDataReceivedBy:
        type: BaseGroup
        required: false
      latestDataReceivedDate:
        format: rfc3339
        type: datetime
        required: false
      locked:
        type: boolean
        required: false
      picture:
        type: string
        required: false
      roleDescription:
        type: string
        required: false
      secretWordIsSet:
        type: boolean
        required: false
      surname:
        type: string
        required: false
      userFeatures:
        items:
          type: UserFeature
        type: array
        uniqueItems: true
        required: false
      username:
        type: string
        required: false
  UserFeature:
    properties:
      created:
        format: rfc3339
        type: datetime
        required: false
      feature:
        type: Feature
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastUpdate:
        format: rfc3339
        type: datetime
        required: false
      optInDate:
        format: rfc3339
        type: datetime
        required: false
      optInHidden:
        type: boolean
        required: false
      optInStatus:
        type: boolean
        required: false
      optOutHidden:
        type: boolean
        required: false
  UserToken:
    properties:
      auditActions:
        items:
          type: string
        type: array
        required: false
      checkSecretWord:
        type: boolean
        required: false
      created:
        format: rfc3339
        type: datetime
        required: false
      expiration:
        format: rfc3339
        type: datetime
        required: false
      externalStandards:
        items:
          type: ExternalStandard
        type: array
        required: false
      groupFeatures:
        items:
          type: Feature
        type: array
        required: false
      groupMessagingEnabled:
        type: boolean
        required: false
      mustSetSecretWord:
        type: boolean
        required: false
      patientFeatures:
        items:
          type: Feature
        type: array
        required: false
      patientMessagingFeatureTypes:
        items:
          type: string
        type: array
        required: false
      patientRoles:
        items:
          type: Role
        type: array
        required: false
      routes:
        items:
          type: Route
        type: array
        uniqueItems: true
        required: false
      secretWordChoices:
        type: object
        required: false
      secretWordIndexes:
        items:
          type: string
        type: array
        required: false
      secretWordToken:
        type: string
        required: false
      securityRoles:
        items:
          type: Role
        type: array
        required: false
      shouldEnterCondition:
        type: boolean
        required: false
      staffFeatures:
        items:
          type: Feature
        type: array
        required: false
      staffRoles:
        items:
          type: Role
        type: array
        required: false
      token:
        type: string
        required: false
      user:
        type: User
        required: false
      userFeatures:
        items:
          type: Feature
        type: array
        required: false
      userGroups:
        items:
          type: BaseGroup
        type: array
        required: false
