#%RAML 1.0
title: Pathway Analysis Service
version: '1.0'
baseUri: 'http://www.reactome.org/'
protocols:
  - HTTP
description: Provides an API for pathway over-representation and expression analysis as well as species comparison tool
(oas-tags-definition):
  - description: download
    name: download
  - description: identifier
    name: identifier
  - description: identifiers
    name: identifiers
  - description: species
    name: species
  - description: token
    name: token
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    backgroundColor: '#191D64'
    url: 'https://api.apis.guru/v2/cache/logo/http_www.reactome.org_wordpress_wp-content_themes_HS_OICR_2013_images_ReactomeLogo.png'
  (oas-x-origin):
    format: swagger
    url: 'http://www.reactome.org/AnalysisService/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): reactome.org
  contact:
    email: help@reactome.org
  termsOfService: /pages/analysisservice/terms
  license:
    name: Creative Commons Attribution 3.0 Unported License
    url: 'http://creativecommons.org/licenses/by/3.0/legalcode'
/species:
  displayName: species
  /homoSapiens:
    displayName: homoSapiens
    '/{species}':
      displayName: '{species}'
      uriParameters:
        species:
          description: The dbId of the species to compare to
          format: int64
          required: true
          type: integer
          displayName: The dbId of the species to compare to
      get:
        displayName: GET_species-homoSapiens-species
        description: Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
        (oas-summary): Compares Homo sapiens to the specified species
        responses:
          '200':
            body:
              application/json:
                type: AnalysisResult
            description: No response was specified
          '404':
            description: Species identifier does not match with any of the species in the current data
        queryParameters:
          pageSize:
            default: 20
            description: pathways per page
            format: int32
            required: false
            type: integer
            displayName: pathways per page
          page:
            default: 1
            description: page number
            format: int32
            required: false
            type: integer
            displayName: page number
          sortBy:
            default: ENTITIES_PVALUE
            description: how to sort the result
            enum:
              - NAME
              - TOTAL_ENTITIES
              - TOTAL_INTERACTORS
              - TOTAL_REACTIONS
              - FOUND_ENTITIES
              - FOUND_INTERACTORS
              - FOUND_REACTIONS
              - ENTITIES_RATIO
              - ENTITIES_PVALUE
              - ENTITIES_FDR
              - REACTIONS_RATIO
            required: false
            type: string
            displayName: how to sort the result
          order:
            default: ASC
            description: specifies the order
            enum:
              - ASC
              - DESC
            required: false
            type: string
            displayName: specifies the order
          resource:
            default: TOTAL
            description: the resource to sort
            enum:
              - TOTAL
              - UNIPROT
              - ENSEMBL
              - CHEBI
              - MIRBASE
              - NCBI_PROTEIN
              - EMBL
              - COMPOUND
            required: false
            type: string
            displayName: the resource to sort
        (oas-tags):
          - species
/token:
  displayName: token
  '/{token}':
    displayName: '{token}'
    /resources:
      displayName: resources
      get:
        displayName: GET_token-token-resources
        description: A summary of the molecules type associated to the submitted data.
        (oas-summary): Returns the resources summary associated with the token
        responses:
          '200':
            body:
              application/json:
                items:
                  type: ResourceSummary
                type: array
            description: No response was specified
          '404':
            description: No result corresponding to the token was found
          '410':
            description: Result deleted due to a new data release
        (oas-tags):
          - token
    uriParameters:
      token:
        description: The token associated with the data to query
        required: true
        type: string
        displayName: The token associated with the data to query
    get:
      displayName: GET_token-token
      description: Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
      (oas-summary): Returns the result associated with the token
      responses:
        '200':
          body:
            application/json:
              type: AnalysisResult
          description: No response was specified
        '404':
          description: No result corresponding to the token was found
        '410':
          description: Result deleted due to a new data release
      queryParameters:
        pageSize:
          default: 20
          description: pathways per page
          format: int32
          required: false
          type: integer
          displayName: pathways per page
        page:
          default: 1
          description: page number
          format: int32
          required: false
          type: integer
          displayName: page number
        sortBy:
          default: ENTITIES_PVALUE
          description: how to sort the result
          enum:
            - NAME
            - TOTAL_ENTITIES
            - TOTAL_INTERACTORS
            - TOTAL_REACTIONS
            - FOUND_ENTITIES
            - FOUND_INTERACTORS
            - FOUND_REACTIONS
            - ENTITIES_RATIO
            - ENTITIES_PVALUE
            - ENTITIES_FDR
            - REACTIONS_RATIO
          required: false
          type: string
          displayName: how to sort the result
        order:
          default: ASC
          description: specifies the order
          enum:
            - ASC
            - DESC
          required: false
          type: string
          displayName: specifies the order
        resource:
          default: TOTAL
          description: the resource to sort
          enum:
            - TOTAL
            - UNIPROT
            - ENSEMBL
            - CHEBI
            - MIRBASE
            - NCBI_PROTEIN
            - EMBL
            - COMPOUND
          required: false
          type: string
          displayName: the resource to sort
      (oas-tags):
        - token
    /filter:
      displayName: filter
      /pathways:
        displayName: pathways
        post:
          displayName: POST_token-token-filter-pathways
          description: For a given list of pathway identifiers (dbId) it will retrieve a list containing those that are present in the result (with the results for the indicated molecule type)
          (oas-summary): Returns the result for the pathway ids sent by post (when they are present in the original result)
          body:
            application/json:
              type: string
              (oas-body-name): input
              description: 'A comma separated list with the identifiers of the pathways of interest (NOTE: is plain text, not json)'
          responses:
            '200':
              body:
                application/json:
                  items:
                    type: PathwaySummary
                  type: array
              description: No response was specified
            '404':
              description: No result corresponding to the token was found
            '410':
              description: Result deleted due to a new data release
          queryParameters:
            resource:
              default: TOTAL
              description: the resource to sort
              enum:
                - TOTAL
                - UNIPROT
                - ENSEMBL
                - CHEBI
                - MIRBASE
                - NCBI_PROTEIN
                - EMBL
                - COMPOUND
              required: false
              type: string
              displayName: the resource to sort
          (oas-tags):
            - token
      /species:
        displayName: species
        '/{species}':
          displayName: '{species}'
          uriParameters:
            species:
              description: The dbId of the species to filter the result
              format: int64
              required: true
              type: integer
              displayName: The dbId of the species to filter the result
          get:
            displayName: GET_token-token-filter-species-species
            description: filterBySpecies
            (oas-summary): Filters the result by species
            responses:
              '200':
                body:
                  application/json:
                    type: SpeciesFilteredResult
                description: No response was specified
              '404':
                description: No result corresponding to the token was found
              '410':
                description: Result deleted due to a new data release
            queryParameters:
              resource:
                default: TOTAL
                description: the resource to sort
                enum:
                  - TOTAL
                  - UNIPROT
                  - ENSEMBL
                  - CHEBI
                  - MIRBASE
                  - NCBI_PROTEIN
                  - EMBL
                  - COMPOUND
                required: false
                type: string
                displayName: the resource to sort
            (oas-tags):
              - token
    /found:
      displayName: found
      /all:
        displayName: all
        '/{pathway}':
          displayName: '{pathway}'
          uriParameters:
            pathway:
              description: The dbId of the pathway of interest
              format: int64
              required: true
              type: integer
              displayName: The dbId of the pathway of interest
          get:
            displayName: GET_token-token-found-all-pathway
            description: The identifiers submitted by the user that have a match in Reactome database. It also retrieves the mapping to the main identifiers for those that have been found.
            (oas-summary): Returns a summary of the contained identifiers for a pathway in the result for a given token
            responses:
              '200':
                body:
                  application/json:
                    type: FoundElements
                description: No response was specified
              '404':
                description: No result corresponding to the token was found
              '410':
                description: Result deleted due to a new data release
            queryParameters:
              resource:
                default: TOTAL
                description: the resource to sort
                enum:
                  - TOTAL
                  - UNIPROT
                  - ENSEMBL
                  - CHEBI
                  - MIRBASE
                  - NCBI_PROTEIN
                  - EMBL
                  - COMPOUND
                required: false
                type: string
                displayName: the resource to sort
            (oas-tags):
              - token
      /entities:
        displayName: entities
        '/{pathway}':
          displayName: '{pathway}'
          uriParameters:
            pathway:
              description: The dbId of the pathway of interest
              format: int64
              required: true
              type: integer
              displayName: The dbId of the pathway of interest
          get:
            displayName: GET_token-token-found-entities-pathway
            description: The identifiers submitted by the user that have a match in Reactome database. It also retrieves the mapping to the main identifiers for those that have been found.
            (oas-summary): Returns a summary of the contained identifiers for a pathway in the result for a given token
            responses:
              '200':
                body:
                  application/json:
                    type: FoundEntities
                description: No response was specified
              '404':
                description: No result corresponding to the token was found
              '410':
                description: Result deleted due to a new data release
            queryParameters:
              page:
                default: 1
                description: page number
                format: int32
                required: false
                type: integer
                displayName: page number
              pageSize:
                default: 20
                description: identifiers per page
                format: int32
                required: false
                type: integer
                displayName: identifiers per page
              resource:
                default: TOTAL
                description: the resource to sort
                enum:
                  - TOTAL
                  - UNIPROT
                  - ENSEMBL
                  - CHEBI
                  - MIRBASE
                  - NCBI_PROTEIN
                  - EMBL
                  - COMPOUND
                required: false
                type: string
                displayName: the resource to sort
            (oas-tags):
              - token
      /interactors:
        displayName: interactors
        '/{pathway}':
          displayName: '{pathway}'
          uriParameters:
            pathway:
              description: The dbId of the pathway of interest
              format: int64
              required: true
              type: integer
              displayName: The dbId of the pathway of interest
          get:
            displayName: GET_token-token-found-interactors-pathway
            description: The identifiers submitted by the user that have a match with an interactor in Reactome database. It also retrieves the mapping to the main identifiers (the one interacting with) for those that have been found.
            (oas-summary): Returns a summary of the contained interactors for a pathway in the result for a given token
            responses:
              '200':
                body:
                  application/json:
                    type: FoundInteractors
                description: No response was specified
              '404':
                description: No result corresponding to the token was found
              '410':
                description: Result deleted due to a new data release
            queryParameters:
              page:
                default: 1
                description: page number
                format: int32
                required: false
                type: integer
                displayName: page number
              pageSize:
                default: 20
                description: identifiers per page
                format: int32
                required: false
                type: integer
                displayName: identifiers per page
              resource:
                default: TOTAL
                description: the resource to sort
                enum:
                  - TOTAL
                  - UNIPROT
                  - ENSEMBL
                  - CHEBI
                  - MIRBASE
                  - NCBI_PROTEIN
                  - EMBL
                  - COMPOUND
                required: false
                type: string
                displayName: the resource to sort
            (oas-tags):
              - token
    /reactions:
      displayName: reactions
      '/{pathway}':
        displayName: '{pathway}'
        uriParameters:
          pathway:
            description: The database identifier of the pathway of interest
            format: int64
            required: true
            type: integer
            displayName: The database identifier of the pathway of interest
        get:
          displayName: GET_token-token-reactions-pathway
          description: For a given pathway it returns the identifiers (dbId) of the reactions in the pathway that have been hit with the sample taking into account their participating molecules.
          (oas-summary): Returns the reaction ids of the provided pathway id that are present in the original result
          responses:
            '200':
              body:
                application/json:
                  items: {}
                  type: array
                  uniqueItems: true
              description: No response was specified
            '404':
              description: No result corresponding to the token was found
            '410':
              description: Result deleted due to a new data release
          queryParameters:
            resource:
              default: TOTAL
              description: the resource to sort
              enum:
                - TOTAL
                - UNIPROT
                - ENSEMBL
                - CHEBI
                - MIRBASE
                - NCBI_PROTEIN
                - EMBL
                - COMPOUND
              required: false
              type: string
              displayName: the resource to sort
          (oas-tags):
            - token
      /pathways:
        displayName: pathways
        post:
          displayName: POST_token-token-reactions-pathways
          description: It filters the submitted list and retrieves back only those that at least one of the participating molecules has been hit with the user submitted data.
          (oas-summary): Returns the reaction ids of the pathway ids sent by post that are present in the original result
          body:
            application/json:
              type: string
              (oas-body-name): input
              description: 'A comma separated list with the identifiers of the pathways of interest (NOTE: is plain text, not json)'
          responses:
            '200':
              body:
                application/json:
                  items: {}
                  type: array
                  uniqueItems: true
              description: No response was specified
            '404':
              description: No result corresponding to the token was found
            '410':
              description: Result deleted due to a new data release
          queryParameters:
            resource:
              default: TOTAL
              description: the resource to sort
              enum:
                - TOTAL
                - UNIPROT
                - ENSEMBL
                - CHEBI
                - MIRBASE
                - NCBI_PROTEIN
                - EMBL
                - COMPOUND
              required: false
              type: string
              displayName: the resource to sort
          (oas-tags):
            - token
    /page:
      displayName: page
      '/{pathway}':
        displayName: '{pathway}'
        uriParameters:
          pathway:
            description: The database identifier of the pathway of interest
            format: int64
            required: true
            type: integer
            displayName: The database identifier of the pathway of interest
        get:
          displayName: GET_token-token-page-pathway
          description: Useful when implementing UI with tables showing the results in a page way and the user needs to know in which page a certain pathway is present for a given set of sorting and filtering options.
          (oas-summary): Returns the page where the corresponding pathway is taking into account the passed parameters
          responses:
            '200':
              body:
                application/json:
                  format: int32
                  type: integer
              description: No response was specified
            '404':
              description: No result corresponding to the token was found
            '410':
              description: Result deleted due to a new data release
          queryParameters:
            pageSize:
              default: 20
              description: pathways per page
              format: int32
              required: false
              type: integer
              displayName: pathways per page
            sortBy:
              default: ENTITIES_PVALUE
              description: how to sort the result
              enum:
                - NAME
                - TOTAL_ENTITIES
                - TOTAL_INTERACTORS
                - TOTAL_REACTIONS
                - FOUND_ENTITIES
                - FOUND_INTERACTORS
                - FOUND_REACTIONS
                - ENTITIES_RATIO
                - ENTITIES_PVALUE
                - ENTITIES_FDR
                - REACTIONS_RATIO
              required: false
              type: string
              displayName: how to sort the result
            order:
              default: ASC
              description: specifies the order
              enum:
                - ASC
                - DESC
              required: false
              type: string
              displayName: specifies the order
            resource:
              default: TOTAL
              description: the resource to sort
              enum:
                - TOTAL
                - UNIPROT
                - ENSEMBL
                - CHEBI
                - MIRBASE
                - NCBI_PROTEIN
                - EMBL
                - COMPOUND
              required: false
              type: string
              displayName: the resource to sort
          (oas-tags):
            - token
    /notFound:
      displayName: notFound
      get:
        displayName: GET_token-token-notFound
        description: Those identifiers that have not been found in the Reactome database
        (oas-summary): Returns a list of the identifiers not found for a given token
        responses:
          '200':
            body:
              application/json:
                items:
                  type: IdentifierSummary
                type: array
            description: No response was specified
          '404':
            description: No result corresponding to the token was found
          '410':
            description: Result deleted due to a new data release
        queryParameters:
          pageSize:
            default: 40
            description: identifiers per page
            format: int32
            required: false
            type: integer
            displayName: identifiers per page
          page:
            default: 1
            description: page number
            format: int32
            required: false
            type: integer
            displayName: page number
        (oas-tags):
          - token
/download:
  displayName: download
  '/{token}':
    displayName: '{token}'
    /entities:
      displayName: entities
      /found:
        displayName: found
        '/{resource}':
          displayName: '{resource}'
          '/{filename}.csv':
            displayName: '{filename}.csv'
            uriParameters:
              filename:
                default: result
                description: the file name for the downloaded information
                required: true
                type: string
                displayName: the file name for the downloaded information
            get:
              displayName: GET_download-token-entities-found-resource-filename-csv
              description: The identifiers are filtered by the selected resource. The filename is the one to be suggested in the download window.
              (oas-summary): Downloads those identifiers found for a given analysis and a certain resource
              responses:
                '200':
                  body:
                    text/csv:
                      type: FileSystemResource
                  description: No response was specified
                '404':
                  description: No result corresponding to the token was found
                '410':
                  description: Result deleted due to a new data release
              (oas-tags):
                - download
      /notfound:
        displayName: notfound
        '/{filename}.csv':
          displayName: '{filename}.csv'
          uriParameters:
            filename:
              default: result
              description: the file name for the downloaded information
              required: true
              type: string
              displayName: the file name for the downloaded information
          get:
            displayName: GET_download-token-entities-notfound-filename-csv
            description: Those identifiers from the user sample that are not present up to the current data version. The filename is the one to be suggested in the download window.
            (oas-summary): Downloads a list of the not found identifiers
            responses:
              '200':
                body:
                  text/csv:
                    type: FileSystemResource
                description: No response was specified
              '404':
                description: No result corresponding to the token was found
              '410':
                description: Result deleted due to a new data release
            (oas-tags):
              - download
    /pathways:
      displayName: pathways
      '/{resource}':
        displayName: '{resource}'
        '/{filename}.csv':
          displayName: '{filename}.csv'
          uriParameters:
            filename:
              default: result
              description: the file name for the downloaded information
              required: true
              type: string
              displayName: the file name for the downloaded information
          get:
            displayName: GET_download-token-pathways-resource-filename-csv
            description: The results are filtered by the selected resource. The filename is the one to be suggested in the download window.
            (oas-summary): Downloads all hit pathways for a given analysis
            responses:
              '200':
                body:
                  text/csv:
                    type: FileSystemResource
                description: No response was specified
              '404':
                description: No result corresponding to the token was found
              '410':
                description: Result deleted due to a new data release
            (oas-tags):
              - download
/identifier:
  displayName: identifier
  '/{id}':
    displayName: '{id}'
    /projection:
      displayName: projection
      get:
        displayName: GET_identifier-id-projection
        description: The projection is calculated by the orthologous slot in the Reactome database. Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
        (oas-summary): Analyse the identifier over the different species in the database and projects the result to Homo Sapiens
        responses:
          '200':
            body:
              application/json:
                type: AnalysisResult
            description: OK
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Not Found
        queryParameters:
          interactors:
            default: false
            description: Include interactors
            required: false
            type: boolean
            displayName: Include interactors
          pageSize:
            default: 20
            description: pathways per page
            format: int32
            required: false
            type: integer
            displayName: pathways per page
          page:
            default: 1
            description: page number
            format: int32
            required: false
            type: integer
            displayName: page number
          sortBy:
            default: ENTITIES_PVALUE
            description: how to sort the result
            enum:
              - NAME
              - TOTAL_ENTITIES
              - TOTAL_INTERACTORS
              - TOTAL_REACTIONS
              - FOUND_ENTITIES
              - FOUND_INTERACTORS
              - FOUND_REACTIONS
              - ENTITIES_RATIO
              - ENTITIES_PVALUE
              - ENTITIES_FDR
              - REACTIONS_RATIO
            required: false
            type: string
            displayName: how to sort the result
          order:
            default: ASC
            description: specifies the order
            enum:
              - ASC
              - DESC
            required: false
            type: string
            displayName: specifies the order
          resource:
            default: TOTAL
            description: resource to sort
            enum:
              - TOTAL
              - UNIPROT
              - ENSEMBL
              - CHEBI
              - MIRBASE
              - NCBI_PROTEIN
              - EMBL
              - COMPOUND
            required: false
            type: string
            displayName: resource to sort
        (oas-tags):
          - identifier
    uriParameters:
      id:
        description: The identifier of the element to be retrieved
        required: true
        type: string
        displayName: The identifier of the element to be retrieved
    get:
      displayName: GET_identifier-id
      description: Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
      (oas-summary): Analyse the identifier over the different species in the database
      responses:
        '200':
          body:
            application/json:
              type: AnalysisResult
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      queryParameters:
        interactors:
          default: false
          description: Include interactors
          required: false
          type: boolean
          displayName: Include interactors
        pageSize:
          default: 20
          description: pathways per page
          format: int32
          required: false
          type: integer
          displayName: pathways per page
        page:
          default: 1
          description: page number
          format: int32
          required: false
          type: integer
          displayName: page number
        sortBy:
          default: ENTITIES_PVALUE
          description: how to sort the result
          enum:
            - NAME
            - TOTAL_ENTITIES
            - TOTAL_INTERACTORS
            - TOTAL_REACTIONS
            - FOUND_ENTITIES
            - FOUND_INTERACTORS
            - FOUND_REACTIONS
            - ENTITIES_RATIO
            - ENTITIES_PVALUE
            - ENTITIES_FDR
            - REACTIONS_RATIO
          required: false
          type: string
          displayName: how to sort the result
        order:
          default: ASC
          description: specifies the order
          enum:
            - ASC
            - DESC
          required: false
          type: string
          displayName: specifies the order
        resource:
          default: TOTAL
          description: the resource to sort
          enum:
            - TOTAL
            - UNIPROT
            - ENSEMBL
            - CHEBI
            - MIRBASE
            - NCBI_PROTEIN
            - EMBL
            - COMPOUND
          required: false
          type: string
          displayName: the resource to sort
      (oas-tags):
        - identifier
/identifiers:
  displayName: identifiers
  /form:
    displayName: form
    post:
      displayName: POST_identifiers-form
      description: Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
      (oas-summary): Analyse the identifiers in the file over the different species
      body:
        multipart/form-data:
          properties:
            file:
              description: A file with the data to be analysed
              required: true
              type: file
      responses:
        '200':
          body:
            application/json:
              type: AnalysisResult
          description: No response was specified
        '400':
          description: Bad request
        '413':
          description: The file size is larger than the maximum configured size (50MB)
        '415':
          description: Unsupported Media Type (only 'text/plain')
      queryParameters:
        interactors:
          default: false
          description: Include interactors
          required: false
          type: boolean
          displayName: Include interactors
        pageSize:
          default: 20
          description: pathways per page
          format: int32
          required: false
          type: integer
          displayName: pathways per page
        page:
          default: 1
          description: page number
          format: int32
          required: false
          type: integer
          displayName: page number
        sortBy:
          default: ENTITIES_PVALUE
          description: how to sort the result
          enum:
            - NAME
            - TOTAL_ENTITIES
            - TOTAL_INTERACTORS
            - TOTAL_REACTIONS
            - FOUND_ENTITIES
            - FOUND_INTERACTORS
            - FOUND_REACTIONS
            - ENTITIES_RATIO
            - ENTITIES_PVALUE
            - ENTITIES_FDR
            - REACTIONS_RATIO
          required: false
          type: string
          displayName: how to sort the result
        order:
          default: ASC
          description: specifies the order
          enum:
            - ASC
            - DESC
          required: false
          type: string
          displayName: specifies the order
        resource:
          default: TOTAL
          description: the resource to sort
          enum:
            - TOTAL
            - UNIPROT
            - ENSEMBL
            - CHEBI
            - MIRBASE
            - NCBI_PROTEIN
            - EMBL
            - COMPOUND
          required: false
          type: string
          displayName: the resource to sort
      (oas-tags):
        - identifiers
    /projection:
      displayName: projection
      post:
        displayName: POST_identifiers-form-projection
        description: The projection is calculated by the orthologous slot in the Reactome database. Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
        (oas-summary): Analyse the identifiers in the file over the different species and projects the result to Homo Sapiens
        body:
          multipart/form-data:
            properties:
              file:
                description: A file with the data to be analysed
                required: true
                type: file
        responses:
          '200':
            body:
              application/json:
                type: AnalysisResult
            description: No response was specified
          '400':
            description: Bad request
          '413':
            description: The file size is larger than the maximum configured size (50MB)
          '415':
            description: Unsupported Media Type (only 'text/plain')
        queryParameters:
          interactors:
            default: false
            description: Include interactors
            required: false
            type: boolean
            displayName: Include interactors
          pageSize:
            default: 20
            description: pathways per page
            format: int32
            required: false
            type: integer
            displayName: pathways per page
          page:
            default: 1
            description: page number
            format: int32
            required: false
            type: integer
            displayName: page number
          sortBy:
            default: ENTITIES_PVALUE
            description: how to sort the result
            enum:
              - NAME
              - TOTAL_ENTITIES
              - TOTAL_INTERACTORS
              - TOTAL_REACTIONS
              - FOUND_ENTITIES
              - FOUND_INTERACTORS
              - FOUND_REACTIONS
              - ENTITIES_RATIO
              - ENTITIES_PVALUE
              - ENTITIES_FDR
              - REACTIONS_RATIO
            required: false
            type: string
            displayName: how to sort the result
          order:
            default: ASC
            description: specifies the order
            enum:
              - ASC
              - DESC
            required: false
            type: string
            displayName: specifies the order
          resource:
            default: TOTAL
            description: the resource to sort
            enum:
              - TOTAL
              - UNIPROT
              - ENSEMBL
              - CHEBI
              - MIRBASE
              - NCBI_PROTEIN
              - EMBL
              - COMPOUND
            required: false
            type: string
            displayName: the resource to sort
        (oas-tags):
          - identifiers
  /projection:
    displayName: projection
    post:
      displayName: POST_identifiers-projection
      description: The projection is calculated by the orthologous slot in the Reactome database. Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
      (oas-summary): Analyse the post identifiers over the different species and projects the result to Homo Sapiens
      body:
        application/json:
          type: string
          (oas-body-name): input
          description: Identifiers to analyse followed by their expression (when applies)
      responses:
        '200':
          body:
            application/json:
              type: AnalysisResult
          description: No response was specified
        '400':
          description: Bad request
      queryParameters:
        interactors:
          default: false
          description: Include interactors
          required: false
          type: boolean
          displayName: Include interactors
        pageSize:
          default: 20
          description: pathways per page
          format: int32
          required: false
          type: integer
          displayName: pathways per page
        page:
          default: 1
          description: page number
          format: int32
          required: false
          type: integer
          displayName: page number
        sortBy:
          default: ENTITIES_PVALUE
          description: how to sort the result
          enum:
            - NAME
            - TOTAL_ENTITIES
            - TOTAL_INTERACTORS
            - TOTAL_REACTIONS
            - FOUND_ENTITIES
            - FOUND_INTERACTORS
            - FOUND_REACTIONS
            - ENTITIES_RATIO
            - ENTITIES_PVALUE
            - ENTITIES_FDR
            - REACTIONS_RATIO
          required: false
          type: string
          displayName: how to sort the result
        order:
          default: ASC
          description: specifies the order
          enum:
            - ASC
            - DESC
          required: false
          type: string
          displayName: specifies the order
        resource:
          default: TOTAL
          description: the resource to sort
          enum:
            - TOTAL
            - UNIPROT
            - ENSEMBL
            - CHEBI
            - MIRBASE
            - NCBI_PROTEIN
            - EMBL
            - COMPOUND
          required: false
          type: string
          displayName: the resource to sort
      (oas-tags):
        - identifiers
  /url:
    displayName: url
    /projection:
      displayName: projection
      post:
        displayName: POST_identifiers-url-projection
        description: The projection is calculated by the orthologous slot in the Reactome database. Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
        (oas-summary): Analyse the identifiers contained in the provided url over the different species and projects the result to Homo Sapiens
        body:
          application/json:
            type: string
            (oas-body-name): url
            description: A URL pointing to the data to be analysed
        responses:
          '200':
            body:
              application/json:
                type: AnalysisResult
            description: No response was specified
          '400':
            description: Bad request
          '413':
            description: The file size is larger than the maximum configured size (50MB)
          '415':
            description: Unsupported Media Type (only 'text/plain')
          '422':
            description: The provided URL is not processable
        queryParameters:
          interactors:
            default: false
            description: Include interactors
            required: false
            type: boolean
            displayName: Include interactors
          pageSize:
            default: 20
            description: pathways per page
            format: int32
            required: false
            type: integer
            displayName: pathways per page
          page:
            default: 1
            description: page number
            format: int32
            required: false
            type: integer
            displayName: page number
          sortBy:
            default: ENTITIES_PVALUE
            description: how to sort the result
            enum:
              - NAME
              - TOTAL_ENTITIES
              - TOTAL_INTERACTORS
              - TOTAL_REACTIONS
              - FOUND_ENTITIES
              - FOUND_INTERACTORS
              - FOUND_REACTIONS
              - ENTITIES_RATIO
              - ENTITIES_PVALUE
              - ENTITIES_FDR
              - REACTIONS_RATIO
            required: false
            type: string
            displayName: how to sort the result
          order:
            default: ASC
            description: specifies the order
            enum:
              - ASC
              - DESC
            required: false
            type: string
            displayName: specifies the order
          resource:
            default: TOTAL
            description: the resource to sort
            enum:
              - TOTAL
              - UNIPROT
              - ENSEMBL
              - CHEBI
              - MIRBASE
              - NCBI_PROTEIN
              - EMBL
              - COMPOUND
            required: false
            type: string
            displayName: the resource to sort
        (oas-tags):
          - identifiers
    post:
      displayName: POST_identifiers-url
      description: Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
      (oas-summary): Analyse the identifiers contained in the provided url over the different species
      body:
        application/json:
          type: string
          (oas-body-name): url
          description: A URL pointing to the data to be analysed
      responses:
        '200':
          body:
            application/json:
              type: AnalysisResult
          description: No response was specified
        '400':
          description: Bad request
        '413':
          description: The file size is larger than the maximum configured size (50MB)
        '415':
          description: Unsupported Media Type (only 'text/plain')
        '422':
          description: The provided URL is not processable
      queryParameters:
        interactors:
          default: false
          description: Include interactors
          required: false
          type: boolean
          displayName: Include interactors
        pageSize:
          default: 20
          description: pathways per page
          format: int32
          required: false
          type: integer
          displayName: pathways per page
        page:
          default: 1
          description: page number
          format: int32
          required: false
          type: integer
          displayName: page number
        sortBy:
          default: ENTITIES_PVALUE
          description: how to sort the result
          enum:
            - NAME
            - TOTAL_ENTITIES
            - TOTAL_INTERACTORS
            - TOTAL_REACTIONS
            - FOUND_ENTITIES
            - FOUND_INTERACTORS
            - FOUND_REACTIONS
            - ENTITIES_RATIO
            - ENTITIES_PVALUE
            - ENTITIES_FDR
            - REACTIONS_RATIO
          required: false
          type: string
          displayName: how to sort the result
        order:
          default: ASC
          description: specifies the order
          enum:
            - ASC
            - DESC
          required: false
          type: string
          displayName: specifies the order
        resource:
          default: TOTAL
          description: the resource to sort
          enum:
            - TOTAL
            - UNIPROT
            - ENSEMBL
            - CHEBI
            - MIRBASE
            - NCBI_PROTEIN
            - EMBL
            - COMPOUND
          required: false
          type: string
          displayName: the resource to sort
      (oas-tags):
        - identifiers
  /:
    post:
      displayName: POST_identifiers
      description: Use page and pageSize to reduce the amount of data retrieved. Use sortBy and order to sort the result by your preferred option. The resource field will filter the results to show only those corresponding to the preferred molecule type (TOTAL includes all the different molecules type)
      (oas-summary): Analyse the post identifiers over the different species
      body:
        application/json:
          type: string
          (oas-body-name): input
          description: Identifiers to analyse followed by their expression (when applies)
      responses:
        '200':
          body:
            application/json:
              type: AnalysisResult
          description: No response was specified
        '400':
          description: Bad request
      queryParameters:
        interactors:
          default: false
          description: Include interactors
          required: false
          type: boolean
          displayName: Include interactors
        pageSize:
          default: 20
          description: pathways per page
          format: int32
          required: false
          type: integer
          displayName: pathways per page
        page:
          default: 1
          description: page number
          format: int32
          required: false
          type: integer
          displayName: page number
        sortBy:
          default: ENTITIES_PVALUE
          description: how to sort the result
          enum:
            - NAME
            - TOTAL_ENTITIES
            - TOTAL_INTERACTORS
            - TOTAL_REACTIONS
            - FOUND_ENTITIES
            - FOUND_INTERACTORS
            - FOUND_REACTIONS
            - ENTITIES_RATIO
            - ENTITIES_PVALUE
            - ENTITIES_FDR
            - REACTIONS_RATIO
          required: false
          type: string
          displayName: how to sort the result
        order:
          default: ASC
          description: specifies the order
          enum:
            - ASC
            - DESC
          required: false
          type: string
          displayName: specifies the order
        resource:
          default: TOTAL
          description: the resource to sort
          enum:
            - TOTAL
            - UNIPROT
            - ENSEMBL
            - CHEBI
            - MIRBASE
            - NCBI_PROTEIN
            - EMBL
            - COMPOUND
          required: false
          type: string
          displayName: the resource to sort
      (oas-tags):
        - identifiers
types:
  AnalysisResult:
    properties:
      expression:
        type: ExpressionSummary
        required: false
      identifiersNotFound:
        format: int32
        type: integer
        required: false
      pathways:
        items:
          type: PathwaySummary
        type: array
        required: false
      pathwaysFound:
        format: int32
        type: integer
        required: false
      resourceSummary:
        items:
          type: ResourceSummary
        type: array
        required: false
      summary:
        type: AnalysisSummary
        required: false
      warnings:
        items:
          type: string
        type: array
        required: false
  AnalysisSummary:
    properties:
      fileName:
        type: string
        required: false
      sampleName:
        type: string
        required: false
      species:
        format: int64
        type: integer
        required: false
      text:
        type: boolean
        required: false
      token:
        type: string
        required: false
      type:
        type: string
        required: false
  EntityStatistics:
    properties:
      curatedFound:
        format: int32
        type: integer
        required: false
      curatedTotal:
        format: int32
        type: integer
        required: false
      exp:
        items:
          format: double
          type: number
        type: array
        required: false
      fdr:
        format: double
        type: number
        required: false
      found:
        format: int32
        type: integer
        required: false
      interactorsFound:
        format: int32
        type: integer
        required: false
      interactorsTotal:
        format: int32
        type: integer
        required: false
      pValue:
        format: double
        type: number
        required: false
      ratio:
        format: double
        type: number
        required: false
      resource:
        type: string
        required: false
      total:
        format: int32
        type: integer
        required: false
  ExpressionSummary:
    properties:
      columnNames:
        items:
          type: string
        type: array
        required: false
      max:
        format: double
        type: number
        required: false
      min:
        format: double
        type: number
        required: false
  File:
    properties:
      absolute:
        type: boolean
        required: false
      absoluteFile:
        type: File
        required: false
      absolutePath:
        type: string
        required: false
      canonicalFile:
        type: File
        required: false
      canonicalPath:
        type: string
        required: false
      directory:
        type: boolean
        required: false
      file:
        type: boolean
        required: false
      freeSpace:
        format: int64
        type: integer
        required: false
      hidden:
        type: boolean
        required: false
      name:
        type: string
        required: false
      parent:
        type: string
        required: false
      parentFile:
        type: File
        required: false
      path:
        type: string
        required: false
      totalSpace:
        format: int64
        type: integer
        required: false
      usableSpace:
        format: int64
        type: integer
        required: false
  FileSystemResource:
    properties:
      description:
        type: string
        required: false
      file:
        type: File
        required: false
      filename:
        type: string
        required: false
      inputStream:
        type: InputStream
        required: false
      open:
        type: boolean
        required: false
      outputStream:
        type: OutputStream
        required: false
      path:
        type: string
        required: false
      readable:
        type: boolean
        required: false
      writable:
        type: boolean
        required: false
  FoundElements:
    properties:
      entities:
        items:
          type: FoundEntity
        type: array
        required: false
      expNames:
        items:
          type: string
        type: array
        required: false
      foundEntities:
        format: int32
        type: integer
        required: false
      foundInteractors:
        format: int32
        type: integer
        required: false
      interactors:
        items:
          type: FoundInteractor
        type: array
        required: false
      resources:
        items:
          type: string
        type: array
        uniqueItems: true
        required: false
  FoundEntities:
    properties:
      expNames:
        items:
          type: string
        type: array
        required: false
      found:
        format: int32
        type: integer
        required: false
      identifiers:
        items:
          type: FoundEntity
        type: array
        required: false
      resources:
        items:
          type: string
        type: array
        uniqueItems: true
        required: false
  FoundEntity:
    properties:
      exp:
        items:
          format: double
          type: number
        type: array
        required: false
      id:
        type: string
        required: false
      mapsTo:
        items:
          type: IdentifierMap
        type: array
        uniqueItems: true
        required: false
  FoundInteractor:
    properties:
      exp:
        items:
          format: double
          type: number
        type: array
        required: false
      id:
        type: string
        required: false
      interactsWith:
        type: IdentifierMap
        required: false
      mapsTo:
        items:
          type: string
        type: array
        uniqueItems: true
        required: false
  FoundInteractors:
    properties:
      expNames:
        items:
          type: string
        type: array
        required: false
      found:
        format: int32
        type: integer
        required: false
      identifiers:
        items:
          type: FoundInteractor
        type: array
        required: false
      resources:
        items:
          type: string
        type: array
        uniqueItems: true
        required: false
  IdentifierMap:
    properties:
      ids:
        items:
          type: string
        type: array
        uniqueItems: true
        required: false
      resource:
        type: string
        required: false
  IdentifierSummary:
    properties:
      exp:
        items:
          format: double
          type: number
        type: array
        required: false
      id:
        type: string
        required: false
  InputStream: {}
  OutputStream: {}
  PathwayBase:
    properties:
      dbId:
        format: int64
        type: integer
        required: false
      entities:
        type: EntityStatistics
        required: false
      stId:
        type: string
        required: false
  PathwaySummary:
    properties:
      dbId:
        format: int64
        type: integer
        required: false
      entities:
        type: EntityStatistics
        required: false
      llp:
        type: boolean
        required: false
      name:
        type: string
        required: false
      reactions:
        type: ReactionStatistics
        required: false
      species:
        type: SpeciesSummary
        required: false
      stId:
        type: string
        required: false
  ReactionStatistics:
    properties:
      found:
        format: int32
        type: integer
        required: false
      ratio:
        format: double
        type: number
        required: false
      resource:
        type: string
        required: false
      total:
        format: int32
        type: integer
        required: false
  ResourceSummary:
    properties:
      pathways:
        format: int32
        type: integer
        required: false
      resource:
        type: string
        required: false
  SpeciesFilteredResult:
    properties:
      expressionSummary:
        type: ExpressionSummary
        required: false
      pathways:
        items:
          type: PathwayBase
        type: array
        required: false
      type:
        type: string
        required: false
  SpeciesSummary:
    properties:
      dbId:
        format: int64
        type: integer
        required: false
      name:
        type: string
        required: false
