#%RAML 1.0
title: Rotten Tomatoes
version: '1.0'
baseUri: 'http://api.rottentomatoes.com/api/public/v1.0'
mediaType: application/json
protocols:
  - HTTP
description: Test our API services using I/O Docs.
(oas-tags-definition):
  - name: Movie Lists
  - name: DVD Lists
  - name: Detailed Info
  - name: Search
  - name: Top Level Lists
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-mashery-id: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-unofficialSpec: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_staticv2.rottentomatoes.com_static_images_logos_rtlogo.png'
  (oas-x-mashery-id): '1217'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Mermade/openapi_specifications/master/mashery/api.rottentomatoes.com/Rotten-Tomatoes/1.0/swagger.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): rottentomatoes.com
  (oas-x-unofficialSpec): true
  contact:
    name: Mike Ralphson
    url: 'https://github.com/mermade/mashery2openapi'
    email: mike.ralphson@gmail.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
(oas-externalDocs):
  description: You can also view our written documentation.
  url: 'http://developer.rottentomatoes.com/io-docs/docs'
securitySchemes:
  key:
    type: Pass Through
    describedBy:
      queryParameters:
        apikey:
          type: string
/lists:
  displayName: lists
  /movies:
    displayName: movies
    /opening.json:
      displayName: opening.json
      get:
        displayName: OpeningMoviesMovieLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          limit:
            default: '16'
            description: Limits the number of opening movies returned
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - Movie Lists
    /upcoming.json:
      displayName: upcoming.json
      get:
        displayName: UpcomingMoviesMovieLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          page_limit:
            default: '16'
            description: The amount of upcoming movies to show per page
            required: false
            type: string
          page:
            default: '1'
            description: The selected page of upcoming movies
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - Movie Lists
    /box_office.json:
      displayName: box_office.json
      get:
        displayName: BoxOfficeMovieLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          limit:
            default: '16'
            description: Limits the number of movies returned
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - Movie Lists
    /in_theaters.json:
      displayName: in_theaters.json
      get:
        displayName: InTheatersMovieLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          page_limit:
            default: '16'
            description: The amount of movies in theaters to show per page
            required: false
            type: string
          page:
            default: '1'
            description: The selected page of in theaters movies
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - Movie Lists
  /dvds:
    displayName: dvds
    /current_releases.json:
      displayName: current_releases.json
      get:
        displayName: CurrentReleaseDVDsDVDLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          page_limit:
            default: '16'
            description: The amount of new release dvds to show per page
            required: false
            type: string
          page:
            default: '1'
            description: The selected page of current DVD releases
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - DVD Lists
    /top_rentals.json:
      displayName: top_rentals.json
      get:
        displayName: TopRentalsDVDLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          limit:
            default: '10'
            description: Limits the number of top rentals returned
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - DVD Lists
    /upcoming.json:
      displayName: upcoming.json
      get:
        displayName: UpcomingDVDsDVDLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          page_limit:
            default: '16'
            description: The amount of upcoming dvds to show per page
            required: false
            type: string
          page:
            default: '1'
            description: The selected page of upcoming DVDs
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - DVD Lists
    /new_releases.json:
      displayName: new_releases.json
      get:
        displayName: NewReleaseDVDsDVDLists
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          page_limit:
            default: '16'
            description: The amount of new release dvds to show per page
            required: false
            type: string
          page:
            default: '1'
            description: The selected page of new release DVDs
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - DVD Lists
  /movies.json:
    displayName: movies.json
    get:
      displayName: MovieListsDirectoryTopLevelLists
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      (oas-tags):
        - Top Level Lists
  /dvds.json:
    displayName: dvds.json
    get:
      displayName: DVDListsDirectoryTopLevelLists
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      (oas-tags):
        - Top Level Lists
/movies:
  displayName: movies
  '/{id}':
    displayName: '{id}'
    /similar.json:
      displayName: similar.json
      get:
        displayName: MoviesSimilarDetailedInfo
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          limit:
            default: '5'
            description: Limit the number of similar movies to show
            required: false
            type: string
        (oas-tags):
          - Detailed Info
    /reviews.json:
      displayName: reviews.json
      get:
        displayName: MoviesReviewsDetailedInfo
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        queryParameters:
          review_type:
            default: top_critic
            description: '3 different review types are possible: ''all'', ''top_critic'' and ''dvd''. ''top_critic'' shows all the Rotten Tomatoes designated top critics. ''dvd'' pulls the reviews given on the DVD of the movie. ''all'' as the name implies retrieves all reviews.'
            required: false
            type: string
          page_limit:
            default: '20'
            description: The number of reviews to show per page
            required: false
            type: string
          page:
            default: '1'
            description: The selected page of reviews
            required: false
            type: string
          country:
            default: us
            description: 'Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.'
            required: false
            type: string
        (oas-tags):
          - Detailed Info
    /clips.json:
      displayName: clips.json
      get:
        displayName: MovieClipsDetailedInfo
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        (oas-tags):
          - Detailed Info
    /cast.json:
      displayName: cast.json
      get:
        displayName: CastInfoDetailedInfo
        responses:
          '200':
            description: Success
          '400':
            description: Bad Request
          '403':
            description: Forbidden
        (oas-tags):
          - Detailed Info
  '/{id}.json':
    displayName: '{id}.json'
    uriParameters:
      id:
        default: '770672122'
        description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
        required: true
        type: string
    get:
      displayName: MoviesInfoDetailedInfo
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      (oas-tags):
        - Detailed Info
/lists.json:
  displayName: lists.json
  get:
    displayName: ListsDirectoryTopLevelLists
    responses:
      '200':
        description: Success
      '400':
        description: Bad Request
      '403':
        description: Forbidden
    (oas-tags):
      - Top Level Lists
/movie_alias.json:
  displayName: movie_alias.json
  get:
    displayName: MoviesAliasDetailedInfo
    responses:
      '200':
        description: Success
      '400':
        description: Bad Request
      '403':
        description: Forbidden
    queryParameters:
      id:
        default: 0031381
        description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
        required: false
        type: string
      type:
        default: imdb
        description: Only supports imdb lookup at this time
        required: false
        type: string
    (oas-tags):
      - Detailed Info
/movies.json:
  displayName: movies.json
  get:
    displayName: MoviesSearchSearch
    responses:
      '200':
        description: Success
      '400':
        description: Bad Request
      '403':
        description: Forbidden
    queryParameters:
      q:
        description: The plain text search query to search for a movie. Remember to URI encode this!
        required: false
        type: string
      page_limit:
        default: '10'
        description: The amount of movie search results to show per page
        required: false
        type: string
      page:
        default: '1'
        description: The selected page of movie search results
        required: false
        type: string
    (oas-tags):
      - Search
