#%RAML 1.0
title: Scrape Website Email API
version: '0.1'
baseUri: 'http://scrapewebsite.email/'
mediaType: application/json
protocols:
  - HTTP
description: ScrapeWebsiteEmail is a service that exposes an api to fetch e-mails from a website.
(oas-tags-definition):
  - name: ping
  - name: scrape_emails
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-origin):
    format: swagger
    url: 'http://scrapewebsite.email/v1/swagger_doc.json'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): scrapewebsite.email
/v1:
  displayName: v1
  /scrape_emails.json:
    displayName: scrape_emails.json
    get:
      displayName: GET-v1-scrape_emails---format-
      (oas-summary): Returns a list of emails scraped by priority (ie. e-mails appear on top level pages are first). Please note that subsequent calls to the sa
      responses:
        '200':
          description: No response was specified
      queryParameters:
        website:
          description: |
            <p>The website (ie. www.soundflair.com)</p>
          required: true
          type: string
          displayName: |
            <p>The website (ie. www.soundflair.com)</p>
        must_include:
          description: |
            <table>
              <tbody>
                <tr>
                  <td>Optional. The word(s) that the webpage must include (otherwise it will skip scraping that page). Good if you want to scrape only contact pages. Takes regex (ie. about</td>
                  <td>contact).</td>
                </tr>
              </tbody>
            </table>
          required: false
          type: string
          displayName: |
            <table>
              <tbody>
                <tr>
                  <td>Optional. The word(s) that the webpage must include (otherwise it will skip scraping that page). Good if you want to scrape only contact pages. Takes regex (ie. about</td>
                  <td>contact).</td>
                </tr>
              </tbody>
            </table>
      (oas-tags):
        - scrape_emails
  /ping.json:
    displayName: ping.json
    get:
      displayName: GET-v1-ping---format-
      description: |
        <p>Returns ‘pong’ if the site is up</p>
      (oas-summary): Returns whether the system is up.
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - ping
