#%RAML 1.0
title: SlideRoom API V2
version: v2
baseUri: 'https://api.slideroom.com'
mediaType:
  - application/json
  - text/json
  - application/xml
  - text/xml
protocols:
  - HTTPS
description: SlideRoom provides a RESTful API for exporting data out of your organization's SlideRoom account.
(oas-info):
  (oas-x-logo):
    backgroundColor: '#000000'
    url: 'https://api.apis.guru/v2/cache/logo/http_www.slideroom.com_assets_img_sr_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://api.slideroom.com/schema/v2'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): slideroom.com
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
/api:
  displayName: api
  /v2:
    displayName: v2
    /application:
      displayName: application
      /request-export:
        displayName: request-export
        post:
          displayName: Application_RequestExportV2
          description: "Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.\r\n            PDF and ZIP exports are available in the Advanced Plan."
          (oas-summary): 'Requests the generation of application export files (tabular, pdf, zip).'
          responses:
            '200':
              body:
                application/json:
                  type: RequestApplicationExportResultV2
              description: OK
          queryParameters:
            format:
              enum:
                - csv
                - txt
                - tab
                - xlsx
                - pdf
                - zip
                - json
              required: false
              type: string
            roundType:
              enum:
                - Assigned
                - Current
                - Named
                - All
              required: false
              type: string
            roundName:
              required: false
              type: string
            tab.export:
              required: false
              type: string
            pdf.includeForms:
              required: false
              type: boolean
            pdf.includeReferences:
              required: false
              type: boolean
            pdf.includeMedia:
              required: false
              type: boolean
            pdf.includeApplicantAttachments:
              required: false
              type: boolean
            pdf.includeOrganizationAttachments:
              required: false
              type: boolean
            pdf.includeRatings:
              required: false
              type: boolean
            pdf.includeFullPageMedia:
              required: false
              type: boolean
            pdf.includeHighlights:
              required: false
              type: boolean
            pdf.includeComments:
              required: false
              type: boolean
            pdf.includeCommonApp:
              required: false
              type: boolean
            zip.originalMedia:
              required: false
              type: boolean
            zip.includeForms:
              required: false
              type: boolean
            zip.includeReferences:
              required: false
              type: boolean
            zip.includeMedia:
              required: false
              type: boolean
            zip.includeApplicantAttachments:
              required: false
              type: boolean
            zip.includeOrganizationAttachments:
              required: false
              type: boolean
            zip.includeRatings:
              required: false
              type: boolean
            zip.includeComments:
              required: false
              type: boolean
            zip.includeCommonApp:
              required: false
              type: boolean
            delivery.account:
              required: false
              type: string
            delivery.folder:
              required: false
              type: string
            since:
              format: int32
              required: false
              type: integer
            pool:
              enum:
                - All
                - Current
                - Archived
                - CommonAppSDS
              required: false
              type: string
            status:
              enum:
                - All
                - InProgress
                - Submitted
              required: false
              type: string
            searchName:
              required: false
              type: string
            email:
              required: false
              type: string
          (oas-tags):
            - Application
      '/{applicationId}':
        displayName: '{applicationId}'
        /request-export:
          displayName: request-export
          post:
            displayName: Application_RequestExportByApplicationIdV2
            description: 'Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.'
            (oas-summary): 'Requests the generation of a single application export file (tabular, pdf, zip).'
            responses:
              '202':
                body:
                  application/json:
                    type: RequestApplicationExportResultV2
                description: Accepted
              '400':
                description: Bad Request
            queryParameters:
              format:
                enum:
                  - csv
                  - txt
                  - tab
                  - xlsx
                  - pdf
                  - zip
                  - json
                required: false
                type: string
              roundType:
                enum:
                  - Assigned
                  - Current
                  - Named
                  - All
                required: false
                type: string
              roundName:
                required: false
                type: string
              tab.export:
                required: false
                type: string
              pdf.includeForms:
                required: false
                type: boolean
              pdf.includeReferences:
                required: false
                type: boolean
              pdf.includeMedia:
                required: false
                type: boolean
              pdf.includeApplicantAttachments:
                required: false
                type: boolean
              pdf.includeOrganizationAttachments:
                required: false
                type: boolean
              pdf.includeRatings:
                required: false
                type: boolean
              pdf.includeFullPageMedia:
                required: false
                type: boolean
              pdf.includeHighlights:
                required: false
                type: boolean
              pdf.includeComments:
                required: false
                type: boolean
              pdf.includeCommonApp:
                required: false
                type: boolean
              zip.originalMedia:
                required: false
                type: boolean
              zip.includeForms:
                required: false
                type: boolean
              zip.includeReferences:
                required: false
                type: boolean
              zip.includeMedia:
                required: false
                type: boolean
              zip.includeApplicantAttachments:
                required: false
                type: boolean
              zip.includeOrganizationAttachments:
                required: false
                type: boolean
              zip.includeRatings:
                required: false
                type: boolean
              zip.includeComments:
                required: false
                type: boolean
              zip.includeCommonApp:
                required: false
                type: boolean
              delivery.account:
                required: false
                type: string
              delivery.folder:
                required: false
                type: string
            (oas-tags):
              - Application
        /attributes:
          displayName: attributes
          post:
            displayName: Application_PostAttributesV2
            description: 'This method only adds or updates attributes. Null values will be updated as nulls, but not deleted.'
            (oas-summary): Updates the custom attributes for an application. API Import is available in the Advanced Plan.
            body:
              application/json:
                additionalProperties:
                  type: string
                type: object
                example:
                  name1: Value1
                  name2: Value2
                (oas-body-name): data
                description: The name/value pairs of the attributes.
            responses:
              '200':
                body:
                  application/json:
                    type: string
                description: OK
            (oas-tags):
              - Application
          get:
            displayName: Application_GetAttributesV2
            (oas-summary): Gets the custom attributes for an application.
            responses:
              '200':
                body:
                  application/json:
                    additionalProperties:
                      type: string
                    type: object
                    example:
                      name1: Value1
                      name2: Value2
                description: OK
            (oas-tags):
              - Application
          delete:
            displayName: Application_DeleteAttributesV2
            (oas-summary): Deletes a custom attribute for an application.
            responses:
              '200':
                body:
                  application/json:
                    type: string
                description: OK
            queryParameters:
              name:
                description: The name of the attribute to be deleted.
                required: true
                type: string
            (oas-tags):
              - Application
      /attributes:
        displayName: attributes
        /names:
          displayName: names
          get:
            displayName: Application_GetAttributeNamesV2
            (oas-summary): Gets the custom application attributes used by the organization.
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: string
                    type: array
                description: OK
            (oas-tags):
              - Application
    /export:
      displayName: export
      '/{token}':
        displayName: '{token}'
        uriParameters:
          token:
            description: ''
            format: int32
            required: true
            type: integer
        get:
          displayName: Export_GetV2
          (oas-summary): Gets the status/result of a requested export.
          responses:
            '200':
              body:
                application/json:
                  type: ExportResultV2
              description: OK
          (oas-tags):
            - Export
    /applicant:
      displayName: applicant
      /attributes:
        displayName: attributes
        delete:
          displayName: Applicant_DeleteAttributesV2
          (oas-summary): Deletes a custom attribute for an applicant.
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: OK
          queryParameters:
            email:
              description: The email address of the applicant.
              required: true
              type: string
            name:
              description: The name of the attribute to be deleted.
              required: true
              type: string
            pool:
              enum:
                - Standard
                - CommonAppSDS
              required: false
              type: string
            commonAppYear:
              format: int32
              required: false
              type: integer
          (oas-tags):
            - Applicant
        get:
          displayName: Applicant_GetAttributesV2
          (oas-summary): Gets the custom attributes for an applicant.
          responses:
            '200':
              body:
                application/json:
                  additionalProperties:
                    type: string
                  type: object
                  example:
                    name1: Value1
                    name2: Value2
              description: OK
          queryParameters:
            email:
              description: The email address of the applicant.
              required: true
              type: string
            pool:
              enum:
                - Standard
                - CommonAppSDS
              required: false
              type: string
            commonAppYear:
              format: int32
              required: false
              type: integer
          (oas-tags):
            - Applicant
        /names:
          displayName: names
          get:
            displayName: Applicant_GetAttributeNamesV2
            (oas-summary): Gets the custom applicant attributes used by the organization.
            responses:
              '200':
                body:
                  application/json:
                    items:
                      type: string
                    type: array
                description: OK
            (oas-tags):
              - Applicant
        post:
          displayName: Applicant_PostAttributesV2
          description: 'This method only adds or updates attributes. Null values will be updated as nulls, but not deleted. API Import is available in the Advanced Plan.'
          (oas-summary): Updates the custom attributes for an applicant.
          body:
            application/json:
              additionalProperties:
                type: string
              type: object
              example:
                name1: Value1
                name2: Value2
              (oas-body-name): data
              description: The name/value pairs of the attributes.
          responses:
            '200':
              body:
                application/json:
                  type: string
              description: OK
          queryParameters:
            email:
              description: The email address of the applicant.
              required: true
              type: string
            pool:
              enum:
                - Standard
                - CommonAppSDS
              required: false
              type: string
            commonAppYear:
              format: int32
              required: false
              type: integer
          (oas-tags):
            - Applicant
types:
  ExportResultV2:
    properties:
      completed_files:
        format: int32
        type: integer
        required: false
      file_urls:
        items:
          type: string
        type: array
        required: false
      status:
        type: string
        required: false
      total_files:
        format: int32
        type: integer
        required: false
  RequestApplicationExportResultV2:
    properties:
      message:
        type: string
        required: false
      submissions:
        format: int32
        type: integer
        required: false
      token:
        format: int32
        type: integer
        required: false
  WebhookResultV2: {}
