#%RAML 1.0
title: smart-me
version: v1
baseUri: 'https://smart-me.com:443'
protocols:
  - HTTPS
description: With the smart-me REST API you get Access to all your devices in the smart-me Cloud and you can add your own devices. So it's a easy way to add the smart-me Cloud support to your Hardware or Software Product.
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_smart-me.com_Images_bootstrap_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://smart-me.com/swagger/docs/v1'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): smart-me.com
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
securitySchemes:
  basic:
    type: Basic Authentication
    description: Basic HTTP Authentication
/api:
  displayName: api
  /DevicesBySubType:
    displayName: DevicesBySubType
    get:
      displayName: GET_api-DevicesBySubType
      description: Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      (oas-summary): Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      responses:
        '200':
          body:
            application/json:
              items:
                type: Device
              type: array
          description: OK
      queryParameters:
        meterSubType:
          enum:
            - MeterSubTypeUnknown
            - MeterSubTypeCold
            - MeterSubTypeHeat
            - MeterSubTypeChargingStation
          required: true
          type: string
      (oas-tags):
        - DevicesBySubType
  /VirtualMeters:
    displayName: VirtualMeters
    get:
      displayName: GET_api-VirtualMeters
      description: 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      (oas-summary): 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      responses:
        '200':
          body:
            application/json:
              items:
                type: Device
              type: array
          description: OK
      (oas-tags):
        - VirtualMeters
  /MBus:
    displayName: MBus
    post:
      displayName: POST_api-MBus
      description: "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      (oas-summary): "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      body:
        application/json:
          type: MBusData
          (oas-body-name): mbusData
          description: The M-BUS Telegram
      responses:
        '200':
          body:
            application/json:
              type: Object
          description: OK
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
      (oas-tags):
        - MBus
  /AccessToken:
    displayName: AccessToken
    put:
      displayName: PUT_api-AccessToken
      description: Creates a Access Token to write on a Card (e.g. NFC)
      (oas-summary): Creates a Access Token to write on a Card (e.g. NFC)
      body:
        application/json:
          type: AccessTokenToPut
          (oas-body-name): accessTokenToPut
      responses:
        '200':
          body:
            application/json:
              type: string
          description: OK
      (oas-tags):
        - AccessToken
  /MeterFolderInformation:
    displayName: MeterFolderInformation
    post:
      displayName: POST_api-MeterFolderInformation
      description: Sets the Name of a Meter or a Folder
      (oas-summary): Sets the Name of a Meter or a Folder
      body:
        application/json:
          type: MeterFolderInformationToPost
          (oas-body-name): meterFolderInformation
      responses:
        '204':
          description: No Content
      (oas-tags):
        - MeterFolderInformation
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          required: true
          type: string
      get:
        displayName: GET_api-MeterFolderInformation-id
        description: 'Beta: Gets the General Information for a Meter or a Folder'
        (oas-summary): 'Beta: Gets the General Information for a Meter or a Folder'
        responses:
          '200':
            body:
              application/json:
                type: MeterFolderInformation
            description: OK
        (oas-tags):
          - MeterFolderInformation
  /CustomDevice:
    displayName: CustomDevice
    post:
      displayName: POST_api-CustomDevice
      description: "Creates or updates a Custom Device or updates it's values.\r\n            A Custom Device can be any device that like to add some measurement values to the smart-me Cloud.\r\n            Only use a custom device for all non meters.\r\n            For a new device leave the ID empty. To create a device you have to set the DeviceEnergyType.\r\n            To update values, add the ID of the device and the values you like to set.  (See the Data Type Model for more Information)"
      (oas-summary): Creates or updates a Custom Device or updates it's values.
      body:
        application/json:
          type: CustomDeviceToPost
          (oas-body-name): newDevice
          description: Device object with all the data
      responses:
        '200':
          body:
            application/json:
              type: CustomDeviceToPost
          description: OK
        '401':
          description: Unauthorized
      (oas-tags):
        - CustomDevice
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: The ID of the device
          required: true
          type: string
          displayName: The ID of the device
      get:
        displayName: GET_api-CustomDevice-id
        description: Gets a Device by it's ID
        (oas-summary): Gets a Custom Device by it's ID
        responses:
          '200':
            body:
              application/json:
                type: CustomDeviceToPost
            description: OK
        (oas-tags):
          - CustomDevice
    get:
      displayName: GET_api-CustomDevice
      description: Gets all Devices
      (oas-summary): Gets all Custom Devices
      responses:
        '200':
          body:
            application/json:
              items:
                type: CustomDeviceToPost
              type: array
          description: OK
      (oas-tags):
        - CustomDevice
  /DeviceBySerial:
    displayName: DeviceBySerial
    get:
      displayName: GET_api-DeviceBySerial
      description: Gets a Device by it's Serial Number. The Serial is the part before the "-".
      (oas-summary): Gets a Device by it's Serial Number. The Serial is the part before the "-".
      responses:
        '200':
          body:
            application/json:
              type: Device
          description: OK
      queryParameters:
        serial:
          description: The Serial Number of the device
          format: int64
          required: true
          type: integer
          displayName: The Serial Number of the device
      (oas-tags):
        - DeviceBySerial
  /MeterValues:
    displayName: MeterValues
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          required: true
          type: string
      get:
        displayName: GET_api-MeterValues-id
        description: Gets the Values for a Meter at a given Date. The first Value found before the given Date is returned.
        (oas-summary): "Gets the Values for a Meter at a given Date. \r\n            The first Value found before the given Date is returned."
        responses:
          '200':
            body:
              application/json:
                type: DeviceInPast
            description: OK
        queryParameters:
          date:
            format: rfc3339
            required: true
            type: datetime
        (oas-tags):
          - MeterValues
  /Devices:
    displayName: Devices
    post:
      displayName: POST_api-Devices
      description: "Creates or updates a Device or updates it's values. \r\n            For a new device leave the ID empty. To create a device you have to set the DeviceEnergyType.\r\n            To update values, add the ID of the device and the values you like to set.  (See the Data Type Model for more Information)"
      (oas-summary): Creates or updates a Device or updates it's values.
      body:
        application/json:
          type: DeviceToPost
          (oas-body-name): newDevice
          description: Device object with all the data
      responses:
        '200':
          body:
            application/json:
              type: DeviceToPost
          description: OK
        '401':
          description: Unauthorized
      (oas-tags):
        - Devices
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: The ID of the device
          required: true
          type: string
          displayName: The ID of the device
      put:
        displayName: PUT_api-Devices-id
        description: Updates the On/Off Switch on a device
        (oas-summary): Updates the On/Off Switch on a device.
        responses:
          '200':
            body:
              application/json:
                type: Object
            description: OK
          '401':
            description: Unauthorized
          '405':
            description: MethodNotAllowed
        queryParameters:
          switchState:
            description: The new state of the switch
            required: true
            type: boolean
            displayName: The new state of the switch
        (oas-tags):
          - Devices
      get:
        displayName: GET_api-Devices-id
        description: Gets a Device by it's ID
        (oas-summary): Gets a Device by it's ID
        responses:
          '200':
            body:
              application/json:
                type: Device
            description: OK
        (oas-tags):
          - Devices
    get:
      displayName: GET_api-Devices
      description: Gets all Devices
      (oas-summary): Gets all Devices
      responses:
        '200':
          body:
            application/json:
              items:
                type: Device
              type: array
          description: OK
      (oas-tags):
        - Devices
  /VirtualMeterDeactivate:
    displayName: VirtualMeterDeactivate
    post:
      displayName: POST_api-VirtualMeterDeactivate
      description: 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      (oas-summary): 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      body:
        application/json:
          type: VMeterToDeactivate
          (oas-body-name): meterToDeactivate
          description: The Meter to activate
      responses:
        '200':
          body:
            application/json:
              type: Object
          description: OK
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      (oas-tags):
        - VirtualMeterDeactivate
  /VirtualMeterActive:
    displayName: VirtualMeterActive
    post:
      displayName: POST_api-VirtualMeterActive
      description: 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      (oas-summary): 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      body:
        application/json:
          type: VMeterToActivate
          (oas-body-name): meterToActivate
          description: The Meter to activate
      responses:
        '200':
          body:
            application/json:
              type: Device
          description: OK
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      (oas-tags):
        - VirtualMeterActive
    get:
      displayName: GET_api-VirtualMeterActive
      description: 'Beta: Gets all active virtual meters.'
      (oas-summary): 'Beta: Gets all active virtual meters'
      responses:
        '200':
          body:
            application/json:
              items:
                type: Device
              type: array
          description: OK
      (oas-tags):
        - VirtualMeterActive
  /User:
    displayName: User
    get:
      displayName: GET_api-User
      description: Gets the informations for the user.
      (oas-summary): Gets the informations for the user.
      responses:
        '200':
          body:
            application/json:
              type: User
          description: OK
      (oas-tags):
        - User
  /DevicesByEnergy:
    displayName: DevicesByEnergy
    get:
      displayName: GET_api-DevicesByEnergy
      description: Gets all Devices for an Energy Type
      (oas-summary): Gets all Devices for an Energy Type
      responses:
        '200':
          body:
            application/json:
              items:
                type: Device
              type: array
          description: OK
      queryParameters:
        meterEnergyType:
          enum:
            - MeterTypeUnknown
            - MeterTypeElectricity
            - MeterTypeWater
            - MeterTypeGas
            - MeterTypeHeat
            - MeterTypeHCA
            - MeterTypeAllMeters
            - MeterTypeTemperature
            - MeterTypeMBusGateway
            - MeterTypeRS485Gateway
            - MeterTypeCustomDevice
            - MeterTypeCompressedAir
          required: true
          type: string
      (oas-tags):
        - DevicesByEnergy
types:
  AccessTokenToPut:
    description: Container Class for the Put action of an Access Token
    properties:
      CardId:
        description: The ID of the Card
        format: int64
        type: integer
        required: false
      UserId:
        description: "The ID of the User. The credentials provided must have permission to edit the user.\r\n            If no ID is provided, the user in the credentials is taken."
        format: int64
        type: integer
        required: false
  CustomDeviceToPost:
    description: Container Class for the Web API
    properties:
      Id:
        description: The ID of the device
        type: string
        required: false
      Name:
        description: The Name of the Device
        type: string
        required: false
      Serial:
        description: The Serial number
        format: int64
        type: integer
        required: false
      ValueDate:
        description: The Date of the Value (in UTC). If this is null the Server Time is used.
        format: rfc3339
        type: datetime
        required: false
      Values:
        description: The Values of the custom Device
        items:
          type: CustomDeviceValues
        type: array
        required: false
  CustomDeviceValues:
    description: Container Class for the Custom Device Values
    properties:
      Name:
        description: The Name of the Value.
        type: string
        required: false
      Value:
        description: The Value
        format: double
        type: number
        required: false
  Device:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Actvie Power or current flow rate
        format: double
        type: number
        required: false
      ActivePowerL1:
        description: The Actvie Power Phase L1
        format: double
        type: number
        required: false
      ActivePowerL2:
        description: The Actvie Power Phase L2
        format: double
        type: number
        required: false
      ActivePowerL3:
        description: The Actvie Power Phase L3
        format: double
        type: number
        required: false
      ActiveTariff:
        description: The Number of the Active Tariff
        format: int32
        type: integer
        required: false
      ActviePowerUnit:
        description: The Unit of the Active Power Value
        type: string
        required: false
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
        required: false
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
        required: false
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
        required: false
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
        required: false
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
        required: false
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
        required: false
      Current:
        description: The Current (in A)
        format: double
        type: number
        required: false
      CurrentL1:
        description: The Current Phase L1 (in A)
        format: double
        type: number
        required: false
      CurrentL2:
        description: The Current Phase L2 (in A)
        format: double
        type: number
        required: false
      CurrentL3:
        description: The Current Phase L3 (in A)
        format: double
        type: number
        required: false
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
          - MeterTypeCustomDevice
          - MeterTypeCompressedAir
        type: string
        required: false
      FamilyType:
        description: The Family Type of the device.
        enum:
          - MeterFamilyTypeUnknown
          - MeterFamilyTypeSmartMeConnectV1
          - MeterFamiliyTypeSmartMeMeter
          - MeterFamiliyTypeSmartMeMeterWithSwitch
          - MeterFamilyTypeMBusGatewayV1
          - MeterFamilyTypeRS485GatewayV1
          - MeterFamilyTypeKamstrupModule
          - MeterFamilyTypeSmartMe3PhaseMeter80A
          - MeterFamilyTypeSmartMe3PhaseMeter32A
          - MeterFamilyTypeSmartMe3PhaseMeterTransformer
          - MeterFamilyTypeLandisGyrModule
          - MeterFamilyTypeRestApiMeter
          - MeterFamilyTypeVirtualMeter
        type: string
        required: false
      Id:
        description: The ID of the device
        type: string
        required: false
      Name:
        description: The Name of the Device
        type: string
        required: false
      PowerFactor:
        description: 'The Power Factor (cos phi). Range: 0 - 1'
        format: double
        type: number
        required: false
      PowerFactorL1:
        description: 'The Power Factor (cos phi) Phase L1. Range: 0 - 1'
        format: double
        type: number
        required: false
      PowerFactorL2:
        description: 'The Power Factor (cos phi) Phase L2. Range: 0 - 1'
        format: double
        type: number
        required: false
      PowerFactorL3:
        description: 'The Power Factor (cos phi) Phase L3. Range: 0 - 1'
        format: double
        type: number
        required: false
      Serial:
        description: The Serial number
        format: int64
        type: integer
        required: false
      SwitchOn:
        description: Flag if the Switch is on on this device.
        type: boolean
        required: false
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
        required: false
      ValueDate:
        description: Time of last successful connection the the smart-me Cloud.
        format: rfc3339
        type: datetime
        required: false
      Voltage:
        description: The Voltage (in V)
        format: double
        type: number
        required: false
      VoltageL1:
        description: The Voltage Phase L1 (in V)
        format: double
        type: number
        required: false
      VoltageL2:
        description: The Voltage Phase L2 (in V)
        format: double
        type: number
        required: false
      VoltageL3:
        description: The Voltage Phase L3 (in V)
        format: double
        type: number
        required: false
  DeviceInPast:
    description: Container Class for the Web API. Conatinas the MeterValues in the Past
    properties:
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
        required: false
      CounterReadingExport:
        description: The Meter Counter Reading Export
        format: double
        type: number
        required: false
      CounterReadingExportT1:
        description: The Meter Counter Reading Export Tariff 1
        format: double
        type: number
        required: false
      CounterReadingExportT2:
        description: The Meter Counter Reading Export Tariff 2
        format: double
        type: number
        required: false
      CounterReadingExportT3:
        description: The Meter Counter Reading Export Tariff 3
        format: double
        type: number
        required: false
      CounterReadingExportT4:
        description: The Meter Counter Reading Export Tariff 4
        format: double
        type: number
        required: false
      CounterReadingImport:
        description: The Meter Counter Reading Import
        format: double
        type: number
        required: false
      CounterReadingImportT1:
        description: The Meter Counter Reading Import Tariff 1
        format: double
        type: number
        required: false
      CounterReadingImportT2:
        description: The Meter Counter Reading Import Tariff 2
        format: double
        type: number
        required: false
      CounterReadingImportT3:
        description: The Meter Counter Reading Import Tariff 3
        format: double
        type: number
        required: false
      CounterReadingImportT4:
        description: The Meter Counter Reading Import Tariff 4
        format: double
        type: number
        required: false
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
        required: false
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
        required: false
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
        required: false
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
        required: false
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
        required: false
      Date:
        description: The Date of the Values
        format: rfc3339
        type: datetime
        required: false
      Id:
        description: The ID of the device
        type: string
        required: false
      Serial:
        description: The Serial number
        format: int64
        type: integer
        required: false
  DeviceToPost:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Active Power or current flow rate. In kW or m3/h
        format: double
        type: number
        required: false
      CounterReading:
        description: The Meter Counter Reading (Total Energy used) in kWh or m3.
        format: double
        type: number
        required: false
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1 in kWh or m3.
        format: double
        type: number
        required: false
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2 in kWh or m3.
        format: double
        type: number
        required: false
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
          - MeterTypeCustomDevice
          - MeterTypeCompressedAir
        type: string
        required: false
      Id:
        description: The ID of the device
        type: string
        required: false
      Name:
        description: The Name of the Device
        type: string
        required: false
      Serial:
        description: The Serial number
        format: int64
        type: integer
        required: false
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
        required: false
      ValueDate:
        description: The Date of the Value (in UTC). If this is null the Server Time is used.
        format: rfc3339
        type: datetime
        required: false
  InputInformation:
    description: Informations about the Inputs of a Meter or Folder
    properties:
      Name:
        description: The Name of the Input
        type: string
        required: false
      Number:
        description: The Number of this Input. Use this as ID to switch it on or off.
        format: int32
        type: integer
        required: false
  MBusData:
    properties:
      Date:
        description: The Date of the M-BUS Telegram Readout (in UTC). If this is null the Server Time is used.
        format: rfc3339
        type: datetime
        required: false
      Telegram:
        description: "The M-BUS Telegram as Hex string. \r\n            Example: 68 1F 1F 68 08 02 72 78 56 34 12 24 40 01 07 55 00 00 00 03 13 15 31 00 DA 02 3B 13 01 8B 60 04 37 18 02 18 16"
        type: string
        required: false
  MeterFolderInformation:
    description: Container Class for the Web API
    properties:
      FirmwareVersion:
        description: The Firmware Version of a Meter
        format: int32
        type: integer
        required: false
      HardwareVersion:
        description: The Hardware Version of a Meter.
        format: int32
        type: integer
        required: false
      InputInformations:
        description: Informations about the available Inputs
        items:
          type: InputInformation
        type: array
        required: false
      IsFolder:
        description: Flag if it's a Folder or a Meter
        type: boolean
        required: false
      Name:
        description: Name of the Meter or Folder
        type: string
        required: false
      OutputInformations:
        description: Informations about the available Outputs
        items:
          type: OutputInformation
        type: array
        required: false
  MeterFolderInformationToPost:
    description: Container for a Meter or Folder Information to Post
    properties:
      Id:
        description: The ID of the device or folder
        type: string
        required: false
      Name:
        description: Name of the Meter or Folder
        type: string
        required: false
  Object:
    properties: {}
  OutputInformation:
    description: Informations about the Outputs of a Meter or Folder
    properties:
      Name:
        description: The Name of the Output
        type: string
        required: false
      Number:
        description: The Number of this Output. Use this as ID to switch it on or off.
        format: int32
        type: integer
        required: false
  User:
    description: Container Class for the Web API
    properties:
      ChildUsers:
        description: The Users created by this users.
        items:
          type: User
        type: array
        required: false
      Email:
        description: The EMail Address of the User
        type: string
        required: false
      Id:
        description: The ID of the User
        format: int64
        type: integer
        required: false
      IsAdmin:
        description: Flag if this User is an Admin User
        type: boolean
        required: false
      Username:
        description: The Username of the User
        type: string
        required: false
  VMeterToActivate:
    description: Actives a virtual Meter
    properties:
      SerialNumber:
        description: The Serialnumber of the Meter to activate.
        type: string
        required: false
  VMeterToDeactivate:
    description: Deactivates a virtual Meter
    properties:
      ID:
        description: The ID of the Virtual meter to deactivate
        type: string
        required: false
