#%RAML 1.0
title: Solar VPS
version: 1.0.0
baseUri: 'http://api.ss.solarvps.com/'
mediaType: application/json
protocols:
  - HTTP
description: 'This is the Solar VPS Public API. You can find more at http://www.solarvps.com'
(oas-tags-definition):
  - description: Operations about DNS Records
    name: contacts
  - description: Operations about DNS Records
    name: dns
  - description: Operations about DNS Domains
    name: domains
  - description: Operations about API Keys
    name: key
  - description: Operations about pods
    name: pods
  - description: Operations about SolarRay Monitoring
    name: solarray
  - description: Operations about Support / Billing / Sales Tickets
    name: tickets
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_www.solarvps.com_wp-content_themes_solarvps_images_logo2x.png'
  (oas-x-origin):
    format: swagger
    url: 'http://api.ss.solarvps.com/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): solarvps.com
  contact:
    email: support@solarvps.com
securitySchemes:
  apiKey:
    type: Pass Through
    describedBy:
      queryParameters:
        api_key:
          type: string
/pods:
  displayName: pods
  get:
    displayName: GET_pods
    description: Shows all your pods
    (oas-summary): View all your pods
    responses:
      '200':
        description: No response was specified
    securedBy:
      - apiKey
    (oas-tags):
      - pods
  '/{podId}':
    displayName: '{podId}'
    uriParameters:
      podId:
        description: Id of the pod you want to perform actions on
        required: true
        type: number
        displayName: Id of the pod you want to perform actions on
    get:
      displayName: GET_pods-podId
      description: Shows details of a specific pod. Enter 1 below to see an example
      (oas-summary): View information on a specific pod
      responses:
        '200':
          description: No response was specified
      securedBy:
        - apiKey
      (oas-tags):
        - pods
    /ping:
      displayName: ping
      get:
        displayName: GET_pods-podId-ping
        description: Returns the ping response from your server.
        (oas-summary): Ping your specified pod
        responses:
          '200':
            description: No response was specified
        securedBy:
          - apiKey
        (oas-tags):
          - pods
    '/{action}':
      displayName: '{action}'
      uriParameters:
        action:
          description: Action to perform on selected pod
          required: true
          type: string
          displayName: Action to perform on selected pod
      get:
        displayName: GET_pods-podId-action
        description: 'Allowed actions are reboot, shutdown, boot'
        (oas-summary): Perform action on a specific pod
        responses:
          '200':
            description: No response was specified
        securedBy:
          - apiKey
        (oas-tags):
          - pods
/tickets:
  displayName: tickets
  '/{ticketid}':
    displayName: '{ticketid}'
    /update:
      displayName: update
      post:
        displayName: POST_tickets-ticketid-update
        (oas-summary): Post a reply to a ticket
        responses:
          '200':
            description: No response was specified
        queryParameters:
          contents:
            description: Message reply being sent
            required: true
            type: string
            displayName: Message reply being sent
        securedBy:
          - apiKey
        (oas-tags):
          - tickets
  '/{ticketId}':
    displayName: '{ticketId}'
    uriParameters:
      ticketId:
        description: TicketId you want to see
        required: true
        type: number
        displayName: TicketId you want to see
    get:
      displayName: GET_tickets-ticketId
      description: Shows all information of a specific ticketId
      (oas-summary): View details on a specific ticket
      responses:
        '200':
          description: No response was specified
      securedBy:
        - apiKey
      (oas-tags):
        - tickets
  '/{department}':
    displayName: '{department}'
    /add:
      displayName: add
      post:
        displayName: POST_tickets-department-add
        description: 'Available departments are support, billing, sales'
        (oas-summary): Open ticket with desired department
        responses:
          '200':
            description: No response was specified
        queryParameters:
          subject:
            description: Subject of the ticket you are opening
            required: true
            type: string
            displayName: Subject of the ticket you are opening
          contents:
            description: Message reply being sent
            required: true
            type: string
            displayName: Message reply being sent
        securedBy:
          - apiKey
        (oas-tags):
          - tickets
  get:
    displayName: GET_tickets
    description: Shows all your tickets
    (oas-summary): View all your tickets
    responses:
      '200':
        description: No response was specified
    securedBy:
      - apiKey
    (oas-tags):
      - tickets
/contacts:
  displayName: contacts
  get:
    displayName: GET_contacts
    description: Shows all contacts under the client account.
    (oas-summary): View all contacts under your account
    responses:
      '200':
        description: No response was specified
    securedBy:
      - apiKey
    (oas-tags):
      - contacts
/dns:
  displayName: dns
  '/{domain}':
    displayName: '{domain}'
    /add:
      displayName: add
      post:
        displayName: POST_dns-domain-add
        description: 'You can try example.com below. Types allowed are: A CNAME NS TXT MX SRV SPF'
        (oas-summary): Add dns record for given domain
        responses:
          '200':
            description: No response was specified
        queryParameters:
          name:
            description: Fully qualified DNS name
            required: true
            type: string
            displayName: Fully qualified DNS name
          type:
            description: Type of DNS record
            required: true
            type: string
            displayName: Type of DNS record
          content:
            description: Content for DNS record
            required: true
            type: string
            displayName: Content for DNS record
          ttl:
            description: Time To Live for DNS record
            required: true
            type: string
            displayName: Time To Live for DNS record
          prio:
            description: Priority of DNS record
            required: true
            type: string
            displayName: Priority of DNS record
        securedBy:
          - apiKey
        (oas-tags):
          - dns
    /update:
      displayName: update
      post:
        displayName: POST_dns-domain-update
        description: You can try example.com below.
        (oas-summary): Update dns record for a given domain
        responses:
          '200':
            description: No response was specified
        queryParameters:
          id:
            description: Id of DNS record
            required: true
            type: string
            displayName: Id of DNS record
          name:
            description: Fully qualified name for the DNS record
            required: false
            type: string
            displayName: Fully qualified name for the DNS record
          type:
            description: Type for DNS record
            required: false
            type: string
            displayName: Type for DNS record
          content:
            description: Content for the DNS Record
            required: false
            type: string
            displayName: Content for the DNS Record
          ttl:
            description: Time To Live for DNS record
            required: false
            type: string
            displayName: Time To Live for DNS record
          prio:
            description: Priority of the DNS record
            required: false
            type: string
            displayName: Priority of the DNS record
        securedBy:
          - apiKey
        (oas-tags):
          - dns
    /delete:
      displayName: delete
      post:
        displayName: POST_dns-domain-delete
        description: Shows all your records for a specific domain. You can try example.com below.
        (oas-summary): Delete dns record for a given domain
        responses:
          '200':
            description: No response was specified
        queryParameters:
          id:
            description: Id of the DNS Record
            required: true
            type: string
            displayName: Id of the DNS Record
        securedBy:
          - apiKey
        (oas-tags):
          - dns
    uriParameters:
      domain:
        description: Domain name you want to get records for
        required: true
        type: string
        displayName: Domain name you want to get records for
    get:
      displayName: GET_dns-domain
      description: Shows all your records for a specific domain. You can try example.com below.
      (oas-summary): View all your records for a given domain
      responses:
        '200':
          description: No response was specified
      securedBy:
        - apiKey
      (oas-tags):
        - dns
/solarray:
  displayName: solarray
  get:
    displayName: GET_solarray
    description: Shows all your monitors
    (oas-summary): View all your monitors
    responses:
      '200':
        description: No response was specified
    securedBy:
      - apiKey
    (oas-tags):
      - solarray
  /critical:
    displayName: critical
    get:
      displayName: GET_solarray-critical
      description: Shows all your critical notifications
      (oas-summary): View all your critical notifications
      responses:
        '200':
          description: No response was specified
      securedBy:
        - apiKey
      (oas-tags):
        - solarray
/domains:
  displayName: domains
  /add:
    displayName: add
    post:
      displayName: POST_domains-add
      description: Adds domain to SolarVPS Distributed DNS
      (oas-summary): Add domain to be managed by SolarVPS Distributed DNS
      responses:
        '200':
          description: No response was specified
      queryParameters:
        domain:
          description: Domain to add to SolarVPS Distributed DNS
          required: true
          type: string
          displayName: Domain to add to SolarVPS Distributed DNS
      securedBy:
        - apiKey
      (oas-tags):
        - domains
  /delete:
    displayName: delete
    post:
      displayName: POST_domains-delete
      description: Deletes domain from SolarVPS Distributed DNS
      (oas-summary): Delete domain from SolarVPS Distributed DNS
      responses:
        '200':
          description: No response was specified
      queryParameters:
        domain:
          description: Domain to delete from SolarVPS Distributed DNS
          required: true
          type: string
          displayName: Domain to delete from SolarVPS Distributed DNS
      securedBy:
        - apiKey
      (oas-tags):
        - domains
  get:
    displayName: GET_domains
    description: Shows all your domains
    (oas-summary): View all your domains managed by SolarVPS Distributed DNS
    responses:
      '200':
        description: No response was specified
    securedBy:
      - apiKey
    (oas-tags):
      - domains
/key:
  displayName: key
  /generate:
    displayName: generate
    get:
      displayName: GET_key-generate
      description: API Key is regenerated if it already exists
      (oas-summary): Generate API Key
      responses:
        '200':
          description: No response was specified
      queryParameters:
        username:
          description: Email address used to login to SolarSystem
          required: true
          type: string
          displayName: Email address used to login to SolarSystem
        password:
          description: Password used to login to SolarSystem
          required: true
          type: string
          displayName: Password used to login to SolarSystem
      securedBy:
        - apiKey
      (oas-tags):
        - key
  /get:
    displayName: get
    get:
      displayName: GET_key-get
      description: Gets the API Key for user
      (oas-summary): Get API Key
      responses:
        '200':
          description: No response was specified
      queryParameters:
        username:
          description: Email address used to login to SolarSystem
          required: true
          type: string
          displayName: Email address used to login to SolarSystem
        password:
          description: Password used to login to SolarSystem
          required: true
          type: string
          displayName: Password used to login to SolarSystem
      securedBy:
        - apiKey
      (oas-tags):
        - key
