#%RAML 1.0
title: SpectroCoin Merchant
version: 1.0.0
baseUri: 'https://spectrocoin.com/api/merchant/1'
mediaType:
  - application/x-www-form-urlencoded
  - application/json
protocols:
  - HTTPS
description: This is an API designed for merchants who are using SpectroCoin services and wishes to integrate them locally.
(oas-tags-definition):
  - name: createOrder
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_d1ryrugmrhsb54.cloudfront.net_assets_images_logo.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://spectrocoin.com/api-docs/merchant/1/'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): spectrocoin.com
  contact:
    name: info@spectrocoin.com
/api:
  displayName: api
  /createOrder:
    displayName: createOrder
    post:
      displayName: createOrder
      (oas-summary): Create merchant order
      body:
        application/json:
          type: Order_request_class_used_to_provide_order_specific_information
          (oas-body-name): body
          description: Request to create order
      responses:
        '200':
          body:
            application/x-www-form-urlencoded:
              type: Order_information_class
          description: successful operation
      (oas-tags):
        - createOrder
types:
  Order_information_class:
    properties:
      depositAddress:
        description: Payment deposit address
        type: string
      orderId:
        description: Merchant provided or generated order id
        type: string
      orderRequestId:
        description: Generated unique order request id
        format: int64
        type: integer
      payAmount:
        description: Amount of payment currency to be paid by merchant customer
        type: number
      payCurrency:
        description: Currency to be paid with
        type: string
      receiveAmount:
        description: Amount of receive currency to be funded to merchant account
        type: number
      receiveCurrency:
        description: Currency to be funded to merchant account
        type: string
      redirectUrl:
        description: SpectroCoin payment window url where merchant customer may be redirected
        type: string
      validUntil:
        description: Timestamp until when order is valid
        format: int64
        type: integer
  Order_request_class_used_to_provide_order_specific_information:
    properties:
      apiId:
        description: API ID of specific API you have configured on your merchant account
        format: int64
        maximum: 9223372036854776000
        minimum: 0
        type: integer
      callbackUrl:
        description: Url of merchant endpoint callback about order status to be returned
        type: string
        required: false
      culture:
        description: Merchant customer culture payment window to be presented
        enum:
          - en
          - lt
          - ru
          - de
        type: string
        required: false
      description:
        description: Order description. Will be presented for merchant customer at payment window
        type: string
        required: false
      failureUrl:
        description: Url of merchant page customer should be redirected after unsuccessful payment
        type: string
        required: false
      merchantId:
        description: Merchant ID assigned to your account
        format: int64
        maximum: 9223372036854776000
        minimum: 0
        type: integer
      orderId:
        description: Custom order ID. Must be unique per API. If not provided it will be generated.
        type: string
        required: false
      payAmount:
        description: Pay amount in pay currency of value which should be paid by merchant customer. If not provided receive amount will be used to calculate pay amount
        type: number
        required: false
      payCurrency:
        description: Currency of pay amount
        type: string
      payerEmail:
        description: Specified payer email.
        type: string
        required: false
      payerName:
        description: Specified payer name.
        type: string
        required: false
      payerSurname:
        description: Specified payer surname.
        type: string
        required: false
      receiveAmount:
        description: Receive amount in receive currency of value that merchant will be funded after merchant customers payment approval. If not provided pay amount will be used to calculate receive amount
        type: number
        required: false
      receiveCurrency:
        description: Currency of receive amount
        type: string
      sign:
        description: Signature required for signing create order request
        type: string
      successUrl:
        description: Url of merchant page customer should be redirected after successful payment
        type: string
        required: false
