#%RAML 1.0
title: Spotify
version: v1
baseUri: 'https://api.spotify.com/v1'
mediaType: application/json
protocols:
  - HTTPS
(oas-info):
  (oas-x-origin):
    format: raml
    url: 'https://raw.githubusercontent.com/spotify/web-api/master/specifications/raml/api.raml'
    version: '0.8'
  (oas-x-preferred): true
  (oas-x-providerName): spotify.com
annotationTypes:
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-externalDocs):
  url: 'https://developer.spotify.com/'
securitySchemes:
  oauth_2_0_accessCode:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.spotify.com/authorize'
      accessTokenUri: 'https://accounts.spotify.com/api/token'
      authorizationGrants:
        - authorization_code
      scopes:
        - playlist-modify-private
        - playlist-modify-public
        - playlist-read-collaborative
        - playlist-read-private
        - user-follow-modify
        - user-follow-read
        - user-library-modify
        - user-library-read
        - user-read-birthdate
        - user-read-email
        - user-read-private
    description: |
      Spotify supports OAuth 2.0 for authenticating all API requests.
  oauth_2_0_implicit:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.spotify.com/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - playlist-modify-private
        - playlist-modify-public
        - playlist-read-collaborative
        - playlist-read-private
        - user-follow-modify
        - user-follow-read
        - user-library-modify
        - user-library-read
        - user-read-birthdate
        - user-read-email
        - user-read-private
    description: |
      Spotify supports OAuth 2.0 for authenticating all API requests.
/me:
  displayName: me
  /tracks:
    displayName: tracks
    delete:
      displayName: DELETE_me-tracks
      description: |
        [Remove Tracks for Current User](https://developer.spotify.com/web-api/remove-tracks-user/)
      headers:
        Accept:
          type: string
          description: It is used to set specified media type.
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
      queryParameters:
        ids:
          description: A comma-separated list of IDs
          required: true
          type: string
          displayName: A comma-separated list of IDs
    get:
      displayName: GET_me-tracks
      description: |
        [Get Current User's Saved Tracks](https://developer.spotify.com/web-api/get-users-saved-tracks/)
      headers:
        Accept:
          type: string
          description: It is used to set specified media type.
      responses:
        '200':
          body:
            application/json:
              type: saved-track-page
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
      queryParameters:
        limit:
          default: 20
          description: The maximum number of items to return
          maximum: 50
          minimum: 0
          required: false
          type: integer
          displayName: The maximum number of items to return
        offset:
          default: 0
          description: The index of the first item to return
          required: false
          type: integer
          displayName: The index of the first item to return
        market:
          description: The market (an ISO 3166-1 alpha-2 country code)
          required: false
          type: string
          displayName: The market (an ISO 3166-1 alpha-2 country code)
    put:
      displayName: PUT_me-tracks
      description: |
        [Save Tracks for Current User](https://developer.spotify.com/web-api/save-tracks-user/)
      headers:
        Accept:
          type: string
          description: It is used to set specified media type.
      responses:
        '200':
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
      queryParameters:
        ids:
          description: A comma-separated list of IDs
          required: true
          type: string
          displayName: A comma-separated list of IDs
    /contains:
      displayName: contains
      get:
        displayName: GET_me-tracks-contains
        description: |
          [Check Current User's Saved Tracks](https://developer.spotify.com/web-api/check-users-saved-tracks/)
        responses:
          '200':
            body:
              application/json:
                items:
                  description: 'True if the track is in user''s Your Music library, false otherwise'
                  type: boolean
                type: array
            description: OK
        queryParameters:
          ids:
            description: A comma-separated list of IDs
            required: true
            type: string
            displayName: A comma-separated list of IDs
  /following:
    displayName: following
    delete:
      displayName: DELETE_me-following
      description: |
        [Unfollow Artists or Users](https://developer.spotify.com/web-api/unfollow-artists-users/)
      responses:
        '204':
          description: No Content
      queryParameters:
        type:
          description: The type to unfollow.
          enum:
            - artist
            - user
          required: true
          type: string
          displayName: The type to unfollow.
        ids:
          description: A comma-separated list of the artists or users ids
          required: true
          type: string
          displayName: A comma-separated list of the artists or users ids
    put:
      displayName: PUT_me-following
      description: |
        [Follow Artists or Users](https://developer.spotify.com/web-api/follow-artists-users/)
      responses:
        '204':
          description: No Content
      queryParameters:
        type:
          description: The type to follow.
          enum:
            - artist
            - user
          required: true
          type: string
          displayName: The type to follow.
        ids:
          description: A comma-separated list of the artists or users ids
          required: true
          type: string
          displayName: A comma-separated list of the artists or users ids
    /contains:
      displayName: contains
      get:
        displayName: GET_me-following-contains
        description: |
          [Check if Current User Follows Artists or Users](https://developer.spotify.com/web-api/check-current-user-follows/)
        responses:
          '200':
            body:
              application/json:
                items:
                  description: 'True if the user follows the artist/user, false otherwise'
                  type: boolean
                type: array
            description: OK
        queryParameters:
          type:
            description: The type to follow.
            enum:
              - artist
              - user
            required: true
            type: string
            displayName: The type to follow.
          ids:
            description: A comma-separated string of the artists or users ids.
            required: true
            type: string
            displayName: A comma-separated string of the artists or users ids.
    get:
      displayName: GET_me-following
      description: |
        [Get User's Followed Artists](https://developer.spotify.com/web-api/get-followed-artists/)
      responses:
        '200':
          body:
            application/json:
              type: user-followed
          description: OK
      queryParameters:
        type:
          description: 'The ID type, currently only artist is supported.'
          enum:
            - artist
          required: true
          type: string
          displayName: 'The ID type, currently only artist is supported.'
        limit:
          default: 20
          description: The maximum number of items to return
          maximum: 50
          minimum: 0
          required: false
          type: integer
          displayName: The maximum number of items to return
        after:
          description: The last artist ID retrieved from the previous request.
          required: false
          type: string
          displayName: The last artist ID retrieved from the previous request.
  get:
    displayName: GET_me
    description: |
      [Get Current User's Profile](https://developer.spotify.com/web-api/get-current-users-profile/)
    responses:
      '200':
        body:
          application/json:
            type: current-user-profile
        description: OK
/users:
  displayName: users
  '/{user_id}':
    displayName: '{user_id}'
    /playlists:
      displayName: playlists
      '/{playlist_id}':
        displayName: '{playlist_id}'
        /tracks:
          displayName: tracks
          put:
            displayName: PUT_users-user_id-playlists-playlist_id-tracks
            description: |
              [Reorder or replace a Playlist's Tracks](https://developer.spotify.com/web-api/reorder-playlists-tracks/)
            body:
              application/json:
                properties:
                  uris:
                    items: {}
                    type: array
                type: object
                (oas-body-name): body
            headers:
              Accept:
                type: string
                description: It is used to set specified media type.
            responses:
              '200':
                body:
                  application/json:
                    type: playlist-snapshot
                description: OK
              '429':
                description: |
                  API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
          post:
            displayName: POST_users-user_id-playlists-playlist_id-tracks
            description: |
              [Add Tracks to a Playlist](https://developer.spotify.com/web-api/add-tracks-to-playlist/)
            headers:
              Accept:
                type: string
                description: It is used to set specified media type.
            responses:
              '200':
                body:
                  application/json:
                    type: playlist-snapshot
                description: OK
              '429':
                description: |
                  API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
            queryParameters:
              position:
                description: 'The position to insert the tracks, a zero-based index'
                required: false
                type: integer
                displayName: 'The position to insert the tracks, a zero-based index'
              uris:
                description: A comma-separated list of Spotify track URIs to add. A maximum of 100 tracks can be added in one request.
                required: true
                type: string
                displayName: A comma-separated list of Spotify track URIs to add. A maximum of 100 tracks can be added in one request.
          get:
            displayName: GET_users-user_id-playlists-playlist_id-tracks
            description: |
              [Get a Playlist's Tracks](https://developer.spotify.com/web-api/get-playlists-tracks/)
            headers:
              Accept:
                type: string
                description: It is used to set specified media type.
            responses:
              '200':
                body:
                  application/json:
                    type: playlist-track-page
                description: OK
              '429':
                description: |
                  API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
            queryParameters:
              limit:
                default: 20
                description: The maximum number of items to return
                maximum: 50
                minimum: 0
                required: false
                type: integer
                displayName: The maximum number of items to return
              offset:
                default: 0
                description: The index of the first item to return
                required: false
                type: integer
                displayName: The index of the first item to return
              fields:
                description: A comma-separated list of fields to filter query
                type: string
                displayName: A comma-separated list of fields to filter query
              market:
                description: The market (an ISO 3166-1 alpha-2 country code)
                required: false
                type: string
                displayName: The market (an ISO 3166-1 alpha-2 country code)
          delete:
            displayName: DELETE_users-user_id-playlists-playlist_id-tracks
            description: |
              [Remove Tracks from a Playlist](https://developer.spotify.com/web-api/remove-tracks-playlist/)
            headers:
              Accept:
                type: string
                description: It is used to set specified media type.
            responses:
              '200':
                body:
                  application/json:
                    type: playlist-snapshot
                description: OK
              '429':
                description: |
                  API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
        uriParameters:
          playlist_id:
            description: The Spotify playlist ID.
            required: true
            type: string
            displayName: The Spotify playlist ID.
        get:
          displayName: GET_users-user_id-playlists-playlist_id
          description: |
            [Get a Playlist](https://developer.spotify.com/web-api/get-playlist/)
          headers:
            Accept:
              type: string
              description: It is used to set specified media type.
          responses:
            '200':
              body:
                application/json:
                  type: playlist
              description: OK
            '429':
              description: |
                API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
          queryParameters:
            fields:
              description: A comma-separated list of fields to filter query
              type: string
              displayName: A comma-separated list of fields to filter query
            market:
              description: The market (an ISO 3166-1 alpha-2 country code)
              required: false
              type: string
              displayName: The market (an ISO 3166-1 alpha-2 country code)
        put:
          displayName: PUT_users-user_id-playlists-playlist_id
          description: |
            [Change a Playlist's Details](https://developer.spotify.com/web-api/change-playlist-details/)
          body:
            application/json:
              properties:
                name:
                  type: string
                  required: false
                public:
                  type: boolean
                  required: false
              type: object
              (oas-body-name): body
          headers:
            Accept:
              type: string
              description: It is used to set specified media type.
          responses:
            '200':
              description: OK
            '429':
              description: |
                API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
        /followers:
          displayName: followers
          delete:
            displayName: DELETE_users-user_id-playlists-playlist_id-followers
            description: |
              [Unfollow a Playlist](https://developer.spotify.com/web-api/unfollow-playlist/)
            responses:
              '200':
                description: OK
          put:
            displayName: PUT_users-user_id-playlists-playlist_id-followers
            description: |
              [Follow a Playlist](https://developer.spotify.com/web-api/follow-playlist/)
            body:
              application/json:
                properties:
                  public:
                    type: boolean
                    required: false
                type: object
                (oas-body-name): body
            responses:
              '200':
                description: OK
          /contains:
            displayName: contains
            get:
              displayName: GET_users-user_id-playlists-playlist_id-followers-contains
              description: |
                [Check if Users Follow a Playlist](https://developer.spotify.com/web-api/check-user-following-playlist/)
              responses:
                '200':
                  body:
                    application/json:
                      items:
                        description: 'True if the user follows the playlist, false otherwise'
                        type: boolean
                      type: array
                  description: OK
              queryParameters:
                ids:
                  description: A comma-separated list of users ids
                  required: true
                  type: string
                  displayName: A comma-separated list of users ids
      get:
        displayName: GET_users-user_id-playlists
        description: |
          [Get a List of a User's Playlists](https://developer.spotify.com/web-api/get-list-users-playlists/)
        headers:
          Accept:
            type: string
            description: It is used to set specified media type.
        responses:
          '200':
            body:
              application/json:
                type: playlist-simple-page
            description: OK
          '429':
            description: |
              API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
        queryParameters:
          limit:
            default: 20
            description: The maximum number of items to return
            maximum: 50
            minimum: 0
            required: false
            type: integer
            displayName: The maximum number of items to return
          offset:
            default: 0
            description: The index of the first item to return
            required: false
            type: integer
            displayName: The index of the first item to return
      post:
        displayName: POST_users-user_id-playlists
        description: |
          [Create a Playlist](https://developer.spotify.com/web-api/create-playlist/)
        body:
          application/json:
            properties:
              name:
                type: string
              public:
                type: boolean
                required: false
            type: object
            (oas-body-name): body
        headers:
          Accept:
            type: string
            description: It is used to set specified media type.
        responses:
          '201':
            body:
              application/json:
                type: playlist
            description: Created
          '429':
            description: |
              API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
    uriParameters:
      user_id:
        description: The user's Spotify user ID.
        required: true
        type: string
        displayName: The user's Spotify user ID.
    get:
      displayName: GET_users-user_id
      description: |
        [Get a User's Profile](https://developer.spotify.com/web-api/get-users-profile/)
      responses:
        '200':
          body:
            application/json:
              type: user-profile
          description: OK
/albums:
  displayName: albums
  get:
    displayName: GET_albums
    description: |
      [Get Several Albums](https://developer.spotify.com/web-api/get-several-albums/)
    responses:
      '200':
        body:
          application/json:
            properties:
              albums:
                items:
                  type: album
                type: array
                required: false
            type: object
        description: OK
    queryParameters:
      ids:
        description: A comma-separated list of IDs
        required: true
        type: string
        displayName: A comma-separated list of IDs
      market:
        description: The market (an ISO 3166-1 alpha-2 country code)
        required: false
        type: string
        displayName: The market (an ISO 3166-1 alpha-2 country code)
  '/{id}':
    displayName: '{id}'
    /tracks:
      displayName: tracks
      get:
        displayName: GET_albums-id-tracks
        description: |
          [Get an Album's Tracks](https://developer.spotify.com/web-api/get-albums-tracks/)
        responses:
          '200':
            body:
              application/json:
                type: track-simple-page
            description: OK
        queryParameters:
          limit:
            default: 20
            description: The maximum number of items to return
            maximum: 50
            minimum: 0
            required: false
            type: integer
            displayName: The maximum number of items to return
          offset:
            default: 0
            description: The index of the first item to return
            required: false
            type: integer
            displayName: The index of the first item to return
          market:
            description: The market (an ISO 3166-1 alpha-2 country code)
            required: false
            type: string
            displayName: The market (an ISO 3166-1 alpha-2 country code)
    uriParameters:
      id:
        description: The Spotify ID for the album
        required: true
        type: string
        displayName: The Spotify ID for the album
    get:
      displayName: GET_albums-id
      description: |
        [Get an Album](https://developer.spotify.com/web-api/get-album/)
      responses:
        '200':
          body:
            application/json:
              type: album
          description: OK
      queryParameters:
        market:
          description: The market (an ISO 3166-1 alpha-2 country code)
          required: false
          type: string
          displayName: The market (an ISO 3166-1 alpha-2 country code)
/artists:
  displayName: artists
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: The Spotify ID for the artist
        required: true
        type: string
        displayName: The Spotify ID for the artist
    get:
      displayName: GET_artists-id
      description: |
        [Get an Artist](https://developer.spotify.com/web-api/get-artist/)
      responses:
        '200':
          body:
            application/json:
              type: artist
          description: OK
    /related-artists:
      displayName: related-artists
      get:
        displayName: GET_artists-id-related-artists
        description: |
          [Get an Artist's Related Artists](https://developer.spotify.com/web-api/get-related-artists/)
        responses:
          '200':
            body:
              application/json:
                properties:
                  artists:
                    items:
                      type: artist
                    type: array
                    required: false
                type: object
            description: OK
    /albums:
      displayName: albums
      get:
        displayName: GET_artists-id-albums
        description: |
          [Get an Artist's Albums](https://developer.spotify.com/web-api/get-artists-albums/)
        responses:
          '200':
            body:
              application/json:
                type: album-simple-page
            description: OK
        queryParameters:
          limit:
            default: 20
            description: The maximum number of items to return
            maximum: 50
            minimum: 0
            required: false
            type: integer
            displayName: The maximum number of items to return
          offset:
            default: 0
            description: The index of the first item to return
            required: false
            type: integer
            displayName: The index of the first item to return
          album_type:
            description: Filter by album types
            required: false
            type: string
            displayName: Filter by album types
          market:
            description: The market (an ISO 3166-1 alpha-2 country code)
            required: false
            type: string
            displayName: The market (an ISO 3166-1 alpha-2 country code)
    /top-tracks:
      displayName: top-tracks
      get:
        displayName: GET_artists-id-top-tracks
        description: |
          [Get an Artist's Top Tracks](https://developer.spotify.com/web-api/get-artists-top-tracks/)
        responses:
          '200':
            body:
              application/json:
                properties:
                  tracks:
                    items:
                      type: track
                    type: array
                    required: false
                type: object
            description: OK
        queryParameters:
          country:
            description: The country (an ISO 3166-1 alpha-2 country code)
            required: true
            type: string
            displayName: The country (an ISO 3166-1 alpha-2 country code)
  get:
    displayName: GET_artists
    description: |
      [Get Several Artists](https://developer.spotify.com/web-api/get-several-artists/)
    responses:
      '200':
        body:
          application/json:
            properties:
              artists:
                items:
                  type: artist
                type: array
                required: false
            type: object
        description: OK
    queryParameters:
      ids:
        description: A comma-separated list of IDs
        required: true
        type: string
        displayName: A comma-separated list of IDs
/search:
  displayName: search
  get:
    displayName: GET_search
    description: |
      [Search for an Item](https://developer.spotify.com/web-api/search-item/)
    responses:
      '200':
        body:
          application/json:
            type: search
        description: OK
    queryParameters:
      limit:
        default: 20
        description: The maximum number of items to return
        maximum: 50
        minimum: 0
        required: false
        type: integer
        displayName: The maximum number of items to return
      offset:
        default: 0
        description: The index of the first item to return
        required: false
        type: integer
        displayName: The index of the first item to return
      q:
        description: 'The search query''s keywords (and optional field filters). The search is not case-sensitive: ''roadhouse'' will match ''Roadhouse'', ''roadHouse'', etc. Keywords will be matched in any order unless surrounded by quotes, thus q=roadhouse&20blues will match both ''Blues Roadhouse'' and ''Roadhouse of the Blues''. Quotation marks can be used to limit the match to a phrase: q=roadhouse&20blues will match ''My Roadhouse Blues'' but not ''Roadhouse of the Blues''. By default, results are returned when a match is found in any field of the target object type. Searches can be made more specific by specifying an album, artist or track field filter. For example q=album:gold%20artist:abba&type=album will search for albums with the text ''gold'' in the album name and the text ''abba'' in an artist name. Other possible field filters, depending on object types being searched, include year, genre, upc, and isrc. For example, q=damian%20genre:reggae-pop&type=artist. The asterisk (*) character can, with some limitations, be used as a wildcard (maximum: 2 per query). It will match a variable number of non-white-space characters. It cannot be used in a quoted phrase, in a field filter, or as the first character of the keyword string. Searching for playlists will return results matching the playlist''s name and/or description.'
        required: true
        type: string
        displayName: 'The search query''s keywords (and optional field filters). The search is not case-sensitive: ''roadhouse'' will match ''Roadhouse'', ''roadHouse'', etc. Keywords will be matched in any order unless surrounded by quotes, thus q=roadhouse&20blues will match both ''Blues Roadhouse'' and ''Roadhouse of the Blues''. Quotation marks can be used to limit the match to a phrase: q=roadhouse&20blues will match ''My Roadhouse Blues'' but not ''Roadhouse of the Blues''. By default, results are returned when a match is found in any field of the target object type. Searches can be made more specific by specifying an album, artist or track field filter. For example q=album:gold%20artist:abba&type=album will search for albums with the text ''gold'' in the album name and the text ''abba'' in an artist name. Other possible field filters, depending on object types being searched, include year, genre, upc, and isrc. For example, q=damian%20genre:reggae-pop&type=artist. The asterisk (*) character can, with some limitations, be used as a wildcard (maximum: 2 per query). It will match a variable number of non-white-space characters. It cannot be used in a quoted phrase, in a field filter, or as the first character of the keyword string. Searching for playlists will return results matching the playlist''s name and/or description.'
      type:
        description: 'A comma-separated list of item types to search across. Search results will include hits from all the specified item types; for example q=name:abacab&type=album,track will return both albums and tracks with "abacab" in their name.'
        required: true
        type: string
        displayName: 'A comma-separated list of item types to search across. Search results will include hits from all the specified item types; for example q=name:abacab&type=album,track will return both albums and tracks with "abacab" in their name.'
      market:
        description: 'The market (an ISO 3166-1 alpha-2 country code).  If given, only items with content playable in that market will be returned.'
        type: string
        displayName: 'The market (an ISO 3166-1 alpha-2 country code).  If given, only items with content playable in that market will be returned.'
/tracks:
  displayName: tracks
  get:
    displayName: GET_tracks
    description: |
      [Get Several Tracks](https://developer.spotify.com/web-api/get-several-tracks/)
    responses:
      '200':
        body:
          application/json:
            properties:
              tracks:
                items:
                  type: track
                type: array
                required: false
            type: object
        description: OK
    queryParameters:
      ids:
        description: A comma-separated list of IDs
        required: true
        type: string
        displayName: A comma-separated list of IDs
      market:
        description: The market (an ISO 3166-1 alpha-2 country code)
        required: false
        type: string
        displayName: The market (an ISO 3166-1 alpha-2 country code)
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        required: true
        type: string
    get:
      displayName: GET_tracks-id
      description: |
        [Get a Track](https://developer.spotify.com/web-api/get-track/)
      responses:
        '200':
          body:
            application/json:
              type: track
          description: OK
      queryParameters:
        market:
          description: The market (an ISO 3166-1 alpha-2 country code)
          required: false
          type: string
          displayName: The market (an ISO 3166-1 alpha-2 country code)
/browse:
  displayName: browse
  /categories:
    displayName: categories
    get:
      displayName: GET_browse-categories
      description: |
        [Get a List of Browse Categories](https://developer.spotify.com/web-api/get-list-categories/)
      headers:
        Accept:
          type: string
          description: It is used to set specified media type.
      responses:
        '200':
          body:
            application/json:
              type: category-page
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
      queryParameters:
        limit:
          default: 20
          description: The maximum number of items to return
          maximum: 50
          minimum: 0
          required: false
          type: integer
          displayName: The maximum number of items to return
        offset:
          default: 0
          description: The index of the first item to return
          required: false
          type: integer
          displayName: The index of the first item to return
        country:
          description: The country (an ISO 3166-1 alpha-2 country code)
          required: false
          type: string
          displayName: The country (an ISO 3166-1 alpha-2 country code)
        locale:
          description: |
            The desired language, consisting of an ISO 639 language code and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example: es_MX, meaning "Spanish (Mexico)".
          required: false
          type: string
          displayName: |
            The desired language, consisting of an ISO 639 language code and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example: es_MX, meaning "Spanish (Mexico)".
    '/{category_id}':
      displayName: '{category_id}'
      /playlists:
        displayName: playlists
        get:
          displayName: GET_browse-categories-category_id-playlists
          description: |
            [Get a Category's playlists](https://developer.spotify.com/web-api/get-categorys-playlists/)
          headers:
            Accept:
              type: string
              description: It is used to set specified media type.
          responses:
            '200':
              body:
                application/json:
                  properties:
                    playlists:
                      type: playlist-simple-page
                      required: false
                  type: object
              description: OK
            '429':
              description: |
                API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
          queryParameters:
            limit:
              default: 20
              description: The maximum number of items to return
              maximum: 50
              minimum: 0
              required: false
              type: integer
              displayName: The maximum number of items to return
            offset:
              default: 0
              description: The index of the first item to return
              required: false
              type: integer
              displayName: The index of the first item to return
            country:
              description: The country (an ISO 3166-1 alpha-2 country code)
              required: false
              type: string
              displayName: The country (an ISO 3166-1 alpha-2 country code)
      uriParameters:
        category_id:
          description: The Spotify ID of the category you wish to fetch.
          required: true
          type: string
          displayName: The Spotify ID of the category you wish to fetch.
      get:
        displayName: GET_browse-categories-category_id
        description: |
          [Get a Single Browse Category](https://developer.spotify.com/web-api/get-category/)
        headers:
          Accept:
            type: string
            description: It is used to set specified media type.
        responses:
          '200':
            body:
              application/json:
                type: category
            description: OK
          '429':
            description: |
              API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
        queryParameters:
          country:
            description: The country (an ISO 3166-1 alpha-2 country code)
            required: false
            type: string
            displayName: The country (an ISO 3166-1 alpha-2 country code)
          locale:
            description: |
              The desired language, consisting of an ISO 639 language code and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example: es_MX, meaning "Spanish (Mexico)".
            required: false
            type: string
            displayName: |
              The desired language, consisting of an ISO 639 language code and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example: es_MX, meaning "Spanish (Mexico)".
  /new-releases:
    displayName: new-releases
    get:
      displayName: GET_browse-new-releases
      description: |
        [Get a List of New Releases](https://developer.spotify.com/web-api/get-list-new-releases/)
      headers:
        Accept:
          type: string
          description: It is used to set specified media type.
      responses:
        '200':
          body:
            application/json:
              type: album-simple-page
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
      queryParameters:
        limit:
          default: 20
          description: The maximum number of items to return
          maximum: 50
          minimum: 0
          required: false
          type: integer
          displayName: The maximum number of items to return
        offset:
          default: 0
          description: The index of the first item to return
          required: false
          type: integer
          displayName: The index of the first item to return
        country:
          description: The country (an ISO 3166-1 alpha-2 country code)
          required: false
          type: string
          displayName: The country (an ISO 3166-1 alpha-2 country code)
  /featured-playlists:
    displayName: featured-playlists
    get:
      displayName: GET_browse-featured-playlists
      description: |
        [Get a List of Featured Playlists](https://developer.spotify.com/web-api/get-list-featured-playlists/)
      headers:
        Accept:
          type: string
          description: It is used to set specified media type.
      responses:
        '200':
          body:
            application/json:
              type: featured-playlists
          description: OK
        '429':
          description: |
            API rate limit exceeded. See http://developer.spotify.com/web-api/user-guide/#rate-limiting for details.
      queryParameters:
        limit:
          default: 20
          description: The maximum number of items to return
          maximum: 50
          minimum: 0
          required: false
          type: integer
          displayName: The maximum number of items to return
        offset:
          default: 0
          description: The index of the first item to return
          required: false
          type: integer
          displayName: The index of the first item to return
        country:
          description: The country (an ISO 3166-1 alpha-2 country code)
          required: false
          type: string
          displayName: The country (an ISO 3166-1 alpha-2 country code)
        locale:
          description: |
            The desired language, consisting of an ISO 639 language code and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example: es_MX, meaning "Spanish (Mexico)".
          required: false
          type: string
          displayName: |
            The desired language, consisting of an ISO 639 language code and an ISO 3166-1 alpha-2 country code, joined by an underscore. For example: es_MX, meaning "Spanish (Mexico)".
        timestamp:
          description: |
            A timestamp in ISO 8601 format (yyyy-MM-dd'T'HH:mm:ss) with the user's local time to get results tailored to a specific date and time in the day. If not provided, it defaults to the current UTC time. Example: "2014-10-23T09:00:00" for a user whose local time is 9AM.
          required: false
          type: string
          displayName: |
            A timestamp in ISO 8601 format (yyyy-MM-dd'T'HH:mm:ss) with the user's local time to get results tailored to a specific date and time in the day. If not provided, it defaults to the current UTC time. Example: "2014-10-23T09:00:00" for a user whose local time is 9AM.
types:
  album:
    properties:
      album_type:
        description: 'The type of the album: one of ''album'', ''single'', or ''compilation''.'
        type: string
        required: false
      artists:
        description: The artists of the album. Each artist object includes a link in href to more detailed information about the artist.
        items:
          type: artist
        type: array
        required: false
      available_markets:
        description: 'The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.'
        items:
          type: string
        type: array
        required: false
      copyrights:
        description: The copyright statements of the album.
        items:
          properties:
            text:
              description: The copyright text for this album.
              type: string
              required: false
            type:
              description: 'The type of copyright: C = the copyright, P = the sound recording (performance) copyright.'
              type: string
              required: false
          type: object
        type: array
        required: false
      external_ids:
        additionalProperties:
          description: 'The identifier type, for example: ''isrc'' - International Standard Recording Code, ''ean'' - International Article Number, ''upc'' - Universal Product Code'
          type: string
        description: Known external IDs for this album.
        type: object
        required: false
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this album.
        type: object
        required: false
      genres:
        description: 'A list of the genres used to classify the album. For example: ''Prog Rock'', ''Post-Grunge''. (If not yet classified, the array is empty.)'
        items:
          type: string
        type: array
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the album.
        type: string
        required: false
      id:
        description: The Spotify ID for the album.
        type: string
        required: false
      images:
        description: 'The cover art for the album in various sizes, widest first.'
        items:
          type: image
        type: array
        required: false
      name:
        description: The name of the album.
        type: string
        required: false
      popularity:
        description: 'The popularity of the album. The value will be between 0 and 100, with 100 being the most popular. The popularity is calculated from the popularity of the album''s individual tracks.'
        type: integer
        required: false
      release_date:
        description: 'The date the album was first released, for example ''1981-12-15''. Depending on the precision, it might be shown as ''1981'' or ''1981-12''.'
        type: string
        required: false
      release_date_precision:
        description: 'The precision with which release_date value is known: ''year'', ''month'', or ''day''.'
        type: string
        required: false
      tracks:
        type: track-simple-page
        required: false
      type:
        description: 'The object type: ''album''.'
        type: string
        required: false
      uri:
        description: The Spotify URI for the album.
        type: string
        required: false
  album-simple:
    properties:
      album_type:
        description: 'The type of the album: one of ''album'', ''single'', or ''compilation''.'
        type: string
        required: false
      available_markets:
        description: 'The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.'
        items:
          type: string
        type: array
        required: false
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this album.
        type: object
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the album.
        type: string
        required: false
      id:
        description: The Spotify ID for the album.
        type: string
        required: false
      images:
        description: 'The cover art for the album in various sizes, widest first.'
        items:
          type: image
        type: array
        required: false
      name:
        description: The name of the album.
        type: string
        required: false
      type:
        description: 'The object type: ''album''.'
        type: string
        required: false
      uri:
        description: The Spotify URI for the album.
        type: string
        required: false
  album-simple-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
        required: false
      items:
        description: The requested data.
        items:
          type: album-simple
        type: array
        required: false
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        required: false
      next:
        description: URL to the next page of items. (null if none)
        type: string
        required: false
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
        required: false
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
        required: false
      total:
        description: The total number of items available to return.
        type: integer
        required: false
  album-track-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
        required: false
      items:
        description: The requested data.
        items:
          type: track-simple
        type: array
        required: false
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        required: false
      next:
        description: URL to the next page of items. (null if none)
        type: string
        required: false
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
        required: false
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
        required: false
      total:
        description: The total number of items available to return.
        type: integer
        required: false
  artist:
    properties:
      external_urls:
        additionalProperties:
          type: string
        description: Known external URLs for this artist.
        type: object
        required: false
      followers:
        type: followers
        required: false
      genres:
        description: 'A list of the genres the artist is associated with. For example: ''Prog Rock'', ''Post-Grunge''. (If not yet classified, the array is empty.)'
        items:
          type: string
        type: array
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the artist.
        type: string
        required: false
      id:
        description: The Spotify ID for the artist.
        type: string
        required: false
      images:
        description: 'Images of the artist in various sizes, widest first.'
        items:
          type: image
        type: array
        required: false
      name:
        description: The name of the artist.
        type: string
        required: false
      popularity:
        description: 'The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist''s popularity is calculated from the popularity of all the artist''s tracks.'
        type: integer
        required: false
      type:
        description: 'The object type: ''artist'''
        type: string
        required: false
      uri:
        description: The Spotify URI for the artist.
        type: string
        required: false
  artist-simple:
    properties:
      external_urls:
        additionalProperties:
          type: string
        description: Known external URLs for this artist.
        type: object
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the artist.
        type: string
        required: false
      id:
        description: The Spotify ID for the artist.
        type: string
        required: false
      name:
        description: The name of the artist.
        type: string
        required: false
      type:
        description: 'The object type: ''artist'''
        type: string
        required: false
      uri:
        description: The Spotify URI for the artist.
        type: string
        required: false
  category:
    properties:
      href:
        description: A link to the Web API endpoint returning full details of the category.
        type: string
        required: false
      icons:
        items:
          type: image
        type: array
        required: false
      id:
        description: The Spotify category ID of the category.
        type: string
        required: false
      name:
        description: The name of the category.
        type: string
        required: false
  category-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
        required: false
      items:
        description: The requested data.
        items:
          type: category
        type: array
        required: false
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        required: false
      next:
        description: URL to the next page of items. (null if none)
        type: string
        required: false
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
        required: false
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
        required: false
      total:
        description: The total number of items available to return.
        type: integer
        required: false
  current-user-profile:
    properties:
      birthdate:
        description: The user's date-of-birth. This field is only available when the current user has granted access to the user-read-birthdate scope.
        type: string
        required: false
      country:
        description: 'The country of the user, as set in the user''s account profile. An ISO 3166-1 alpha-2 country code. This field is only available when the current user has granted access to the user-read-private scope.'
        type: string
        required: false
      displayName:
        description: The name displayed on the user's profile.
        type: string
        required: false
      email:
        description: 'The user''s email address, as entered by the user when creating their account. This email address is unverified; there is no proof that it actually belongs to the user. This field is only available when the current user has granted access to the user-read-email scope.'
        type: string
        required: false
      external_urls:
        additionalProperties:
          type: string
        description: Known external URLs for this user.
        type: object
        required: false
      followers:
        type: followers
        required: false
      href:
        description: A link to the Web API endpoint for this user.
        type: string
        required: false
      id:
        description: The Spotify ID for this user.
        type: string
        required: false
      product:
        description: 'The user''s Spotify subscription level: ''premium'', ''free'', etc. (The subscription level ''open'' can be considered the same as ''free''.) This field is only available when the current user has granted access to the user-read-private scope.'
        type: string
        required: false
      type:
        description: 'The object type: ''user'''
        type: string
        required: false
      uri:
        description: The Spotify URI for the user.
        type: string
        required: false
  featured-playlists:
    properties:
      message:
        description: A sentence describing the context for the featured playlists.
        type: string
        required: false
      playlists:
        type: playlist-simple-page
        required: false
  followers:
    description: Information about the followers of the artist.
    properties:
      href:
        description: A link to the Web API endpoint providing full details of the followers; null if not available.
        type: string
        required: false
      total:
        description: The total number of followers.
        type: integer
        required: false
  image:
    properties:
      height:
        description: 'The image height in pixels. If unknown: null or not returned.'
        type: integer
        required: false
      url:
        description: The source URL of the image.
        type: string
        required: false
      width:
        description: 'The image width in pixels. If unknown: null or not returned.'
        type: integer
        required: false
  playlist:
    properties:
      collaborative:
        description: True if the owner allows other users to modify the playlist.
        type: boolean
        required: false
      description:
        description: 'The playlist description. Only returned for modified, verified playlists, otherwise null.'
        type: string
        required: false
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this album.
        type: object
        required: false
      followers:
        description: Information about the followers of the playlist.
        properties:
          href:
            description: A link to the Web API endpoint providing full details of the followers; null if not available.
            type: string
            required: false
          total:
            description: The total number of followers.
            type: integer
            required: false
        type: object
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the playlist.
        type: string
        required: false
      id:
        description: The Spotify ID of the playlist.
        type: string
        required: false
      images:
        description: 'The cover art for the album in various sizes, widest first.'
        items:
          type: image
        type: array
        required: false
      name:
        description: The name of the playlist.
        type: string
        required: false
      owner:
        type: user-profile
        required: false
      public:
        description: 'The playlist''s public/private status: true the playlist is public, false the playlist is private, null the playlist status is not relevant. For more about public/private status, see Working with Playlists.'
        type: boolean
        required: false
      snapshot_id:
        description: The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version
        type: string
        required: false
      tracks:
        type: playlist-track-page
        required: false
      type:
        description: 'The object type: ''playlist''.'
        type: string
        required: false
      uri:
        description: Spotify URI of the playlist.
        type: string
        required: false
  playlist-simple:
    properties:
      collaborative:
        description: True if the owner allows other users to modify the playlist.
        type: boolean
        required: false
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this album.
        type: object
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the playlist.
        type: string
        required: false
      id:
        description: The Spotify ID of the playlist.
        type: string
        required: false
      images:
        description: 'The cover art for the album in various sizes, widest first.'
        items:
          type: image
        type: array
        required: false
      name:
        description: The name of the playlist.
        type: string
        required: false
      owner:
        type: user-profile
        required: false
      public:
        description: 'The playlist''s public/private status: true the playlist is public, false the playlist is private, null the playlist status is not relevant. For more about public/private status, see Working with Playlists.'
        type: boolean
        required: false
      snapshot_id:
        description: The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version
        type: string
        required: false
      tracks:
        properties:
          href:
            description: A link to the Web API endpoint returning the full result of the request.
            type: string
            required: false
          total:
            description: The total number of tracks available to return.
            type: integer
            required: false
        type: object
        required: false
      type:
        description: 'The object type: ''playlist''.'
        type: string
        required: false
      uri:
        description: Spotify URI of the playlist.
        type: string
        required: false
  playlist-simple-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
        required: false
      items:
        description: The requested data.
        items:
          type: playlist-simple
        type: array
        required: false
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        required: false
      next:
        description: URL to the next page of items. (null if none)
        type: string
        required: false
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
        required: false
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
        required: false
      total:
        description: The total number of items available to return.
        type: integer
        required: false
  playlist-snapshot:
    properties:
      snapshot_id:
        description: The version identifier for the modified playlist. Can be supplied in other requests to target a specific playlist version.
        type: string
        required: false
  playlist-track:
    properties:
      added_at:
        description: The date and time the track was added in ISO 8601 format. Note that some very old playlists may return null in this field.
        type: string
        required: false
      added_by:
        type: user-profile
        required: false
      is_local:
        description: 'Whether this track is a [local file](https://developer.spotify.com/web-api/local-files-spotify-playlists/) or not.'
        type: boolean
        required: false
      track:
        type: track
        required: false
  playlist-track-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
        required: false
      items:
        description: The requested data.
        items:
          type: playlist-track
        type: array
        required: false
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        required: false
      next:
        description: URL to the next page of items. (null if none)
        type: string
        required: false
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
        required: false
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
        required: false
      total:
        description: The total number of items available to return.
        type: integer
        required: false
  saved-track:
    properties:
      added_at:
        description: The date and time the track was added in ISO 8601 format. Note that some very old playlists may return null in this field.
        type: string
        required: false
      track:
        type: track
        required: false
  saved-track-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
        required: false
      items:
        description: The requested data.
        items:
          type: saved-track
        type: array
        required: false
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        required: false
      next:
        description: URL to the next page of items. (null if none)
        type: string
        required: false
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
        required: false
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
        required: false
      total:
        description: The total number of items available to return.
        type: integer
        required: false
  search:
    properties:
      albums:
        description: Present if the type of search includes 'album'.
        properties:
          href:
            description: A link to the Web API endpoint returning the full result of the request.
            type: string
            required: false
          items:
            description: The requested data.
            items:
              type: album-simple
            type: array
            required: false
          limit:
            description: The maximum number of items in the response (as set in the query or by default).
            type: integer
            required: false
          next:
            description: URL to the next page of items. (null if none)
            type: string
            required: false
          offset:
            description: The offset of the items returned (as set in the query or by default).
            type: integer
            required: false
          previous:
            description: URL to the previous page of items. (null if none)
            type: string
            required: false
          total:
            description: The total number of items available to return.
            type: integer
            required: false
        type: object
        required: false
      artists:
        description: Present if the type of search includes 'artist'.
        properties:
          href:
            description: A link to the Web API endpoint returning the full result of the request.
            type: string
            required: false
          items:
            description: The requested data.
            items:
              type: artist
            type: array
            required: false
          limit:
            description: The maximum number of items in the response (as set in the query or by default).
            type: integer
            required: false
          next:
            description: URL to the next page of items. (null if none)
            type: string
            required: false
          offset:
            description: The offset of the items returned (as set in the query or by default).
            type: integer
            required: false
          previous:
            description: URL to the previous page of items. (null if none)
            type: string
            required: false
          total:
            description: The total number of items available to return.
            type: integer
            required: false
        type: object
        required: false
      tracks:
        description: Present if the type of search includes 'track'.
        properties:
          href:
            description: A link to the Web API endpoint returning the full result of the request.
            type: string
            required: false
          items:
            description: The requested data.
            items:
              type: track
            type: array
            required: false
          limit:
            description: The maximum number of items in the response (as set in the query or by default).
            type: integer
            required: false
          next:
            description: URL to the next page of items. (null if none)
            type: string
            required: false
          offset:
            description: The offset of the items returned (as set in the query or by default).
            type: integer
            required: false
          previous:
            description: URL to the previous page of items. (null if none)
            type: string
            required: false
          total:
            description: The total number of items available to return.
            type: integer
            required: false
        type: object
        required: false
  track:
    properties:
      album:
        type: album-simple
        required: false
      artists:
        description: The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist.
        items:
          type: artist-simple
        type: array
        required: false
      available_markets:
        description: 'A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code. '
        items:
          type: string
        type: array
        required: false
      disc_number:
        description: The disc number (usually 1 unless the album consists of more than one disc).
        type: integer
        required: false
      duration_ms:
        description: The track length in milliseconds.
        type: integer
        required: false
      explicit:
        description: Whether or not the track has explicit lyrics (true = yes it does; false = no it does not OR unknown).
        type: boolean
        required: false
      external_ids:
        additionalProperties:
          description: 'The identifier type, for example: ''isrc'' - International Standard Recording Code, ''ean'' - International Article Number, ''upc'' - Universal Product Code'
          type: string
        description: Known external IDs for the track.
        type: object
        required: false
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this track.
        type: object
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the track.
        type: string
        required: false
      id:
        description: The Spotify ID for the track.
        type: string
        required: false
      is_playable:
        description: 'Part of the response when Track Relinking is applied. If true, the track is playable in the given market. Otherwise false.'
        type: boolean
        required: false
      linked_from:
        description: 'Part of the response when Track Relinking is applied, and the requested track has been replaced with different track. The track in the linked_from object contains information about the originally requested track.'
        properties:
          external_urls:
            additionalProperties:
              description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
              type: string
            description: Known external URLs for this track.
            type: object
            required: false
          href:
            description: A link to the Web API endpoint providing full details of the track.
            type: string
            required: false
          id:
            description: The Spotify ID for the track.
            type: string
            required: false
          type:
            description: 'The object type: ''track''.'
            type: string
            required: false
          uri:
            description: The Spotify URI for the track.
            type: string
            required: false
        type: object
        required: false
      name:
        description: The name of the track.
        type: string
        required: false
      preview_url:
        description: A URL to a 30 second preview (MP3 format) of the track.
        type: string
        required: false
      track_number:
        description: 'The number of the track. If an album has several discs, the track number is the number on the specified disc.'
        type: integer
        required: false
      type:
        description: 'The object type: ''track''.'
        type: string
        required: false
      uri:
        description: The Spotify URI for the track.
        type: string
        required: false
  track-simple:
    properties:
      artists:
        description: The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist.
        items:
          type: artist-simple
        type: array
        required: false
      available_markets:
        description: 'A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code. '
        items:
          type: string
        type: array
        required: false
      disc_number:
        description: The disc number (usually 1 unless the album consists of more than one disc).
        type: integer
        required: false
      duration_ms:
        description: The track length in milliseconds.
        type: integer
        required: false
      explicit:
        description: Whether or not the track has explicit lyrics (true = yes it does; false = no it does not OR unknown).
        type: boolean
        required: false
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this track.
        type: object
        required: false
      href:
        description: A link to the Web API endpoint providing full details of the track.
        type: string
        required: false
      id:
        description: The Spotify ID for the track.
        type: string
        required: false
      is_playable:
        description: 'Part of the response when Track Relinking is applied. If true, the track is playable in the given market. Otherwise false.'
        type: boolean
        required: false
      linked_from:
        description: 'Part of the response when Track Relinking is applied, and the requested track has been replaced with different track. The track in the linked_from object contains information about the originally requested track.'
        properties:
          external_urls:
            additionalProperties:
              description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
              type: string
            description: Known external URLs for this track.
            type: object
            required: false
          href:
            description: A link to the Web API endpoint providing full details of the track.
            type: string
            required: false
          id:
            description: The Spotify ID for the track.
            type: string
            required: false
          type:
            description: 'The object type: ''track''.'
            type: string
            required: false
          uri:
            description: The Spotify URI for the track.
            type: string
            required: false
        type: object
        required: false
      name:
        description: The name of the track.
        type: string
        required: false
      preview_url:
        description: A URL to a 30 second preview (MP3 format) of the track.
        type: string
        required: false
      track_number:
        description: 'The number of the track. If an album has several discs, the track number is the number on the specified disc.'
        type: integer
        required: false
      type:
        description: 'The object type: ''track''.'
        type: string
        required: false
      uri:
        description: The Spotify URI for the track.
        type: string
        required: false
  track-simple-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
        required: false
      items:
        description: The requested data.
        items:
          type: track-simple
        type: array
        required: false
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        required: false
      next:
        description: URL to the next page of items. (null if none)
        type: string
        required: false
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
        required: false
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
        required: false
      total:
        description: The total number of items available to return.
        type: integer
        required: false
  user-followed:
    properties:
      artists:
        description: Present if the type of followe items is 'artist'.
        properties:
          cursor:
            description: The cursors used to find the next set of items.
            properties:
              after:
                description: The cursor to use as key to find the next page of items.
                type: string
                required: false
            type: object
            required: false
          href:
            description: A link to the Web API endpoint returning the full result of the request.
            type: string
            required: false
          items:
            description: The requested data.
            items:
              type: artist
            type: array
            required: false
          limit:
            description: The maximum number of items in the response (as set in the query or by default).
            type: integer
            required: false
          next:
            description: URL to the next page of items. (null if none)
            type: string
            required: false
          total:
            description: The total number of items available to return.
            type: integer
            required: false
        type: object
        required: false
  user-profile:
    properties:
      displayName:
        description: The name displayed on the user's profile.
        type: string
        required: false
      external_urls:
        additionalProperties:
          type: string
        description: Known external URLs for this user.
        type: object
        required: false
      followers:
        type: followers
        required: false
      href:
        description: A link to the Web API endpoint for this user.
        type: string
        required: false
      id:
        description: The Spotify ID for this user.
        type: string
        required: false
      type:
        description: 'The object type: ''user'''
        type: string
        required: false
      uri:
        description: The Spotify URI for the user.
        type: string
        required: false
