#%RAML 1.0
title: Trello
version: '1.0'
baseUri: 'https://trello.com/1'
protocols:
  - HTTPS
description: |-
  This document describes the REST API of Trello as published by Trello.com.
   - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>
   - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that were scraped in order to generate this specification.</a>
(oas-tags-definition):
  - description: 'https://trello.com/docs/api/action/index.html'
    name: action
  - description: 'https://trello.com/docs/api/batch/index.html'
    name: batch
  - description: 'https://trello.com/docs/api/board/index.html'
    name: board
  - description: 'https://trello.com/docs/api/card/index.html'
    name: card
  - description: 'https://trello.com/docs/api/checklist/index.html'
    name: checklist
  - description: 'https://trello.com/docs/api/label/index.html'
    name: label
  - description: 'https://trello.com/docs/api/list/index.html'
    name: list
  - description: 'https://trello.com/docs/api/member/index.html'
    name: member
  - description: 'https://trello.com/docs/api/notification/index.html'
    name: notification
  - description: 'https://trello.com/docs/api/organization/index.html'
    name: organization
  - description: 'https://trello.com/docs/api/search/index.html'
    name: search
  - description: 'https://trello.com/docs/api/session/index.html'
    name: session
  - description: 'https://trello.com/docs/api/token/index.html'
    name: token
  - description: 'https://trello.com/docs/api/type/index.html'
    name: type
  - description: 'https://trello.com/docs/api/webhook/index.html'
    name: webhook
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-unofficialSpec: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-x-hasEquivalentPaths: any
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_d2k1ftgv7pobq7.cloudfront.net_meta_p_res_images_c13d1cd96a2cff30f0460a5e1860c5ea_header-logo-blue.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/trello.com/1.0/swagger.yaml'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): trello.com
  (oas-x-unofficialSpec): true
  contact:
    name: Trello
    url: 'https://trello.com/home'
  termsOfService: 'https://trello.com/legal'
  license:
    name: 'Trello : Terms of Service'
    url: 'https://trello.com/legal'
(oas-externalDocs):
  url: 'https://developers.trello.com'
securitySchemes:
  trello_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://trello.com/1/appKey/generate'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'read:boards'
        - 'write:boards'
  api_key:
    type: Pass Through
    describedBy:
      headers:
        api_key:
          type: string
/labels:
  displayName: labels
  '/{idLabel}':
    displayName: '{idLabel}'
    /name:
      displayName: name
      put:
        displayName: updateLabelsNameByIdLabel
        (oas-summary): updateLabelsNameByIdLabel()
        body:
          application/json:
            type: labels_name
            (oas-body-name): body
            description: Attributes of "Labels Name" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - label
    uriParameters:
      idLabel:
        default: undefined
        description: idLabel
        required: true
        type: string
        displayName: idLabel
    delete:
      displayName: deleteLabelsByIdLabel
      (oas-summary): deleteLabelsByIdLabel()
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - label
    put:
      displayName: updateLabelsByIdLabel
      (oas-summary): updateLabelsByIdLabel()
      body:
        application/json:
          type: labels
          (oas-body-name): body
          description: Attributes of "Labels" to be updated.
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - label
    /board:
      displayName: board
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getLabelsBoardByIdLabelByField
          (oas-summary): getLabelsBoardByIdLabelByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - label
      get:
        displayName: getLabelsBoardByIdLabel
        (oas-summary): getLabelsBoardByIdLabel()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - label
    get:
      displayName: getLabelsByIdLabel
      (oas-summary): getLabelsByIdLabel()
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        fields:
          default: all
          description: 'all or a comma-separated list of: color, idBoard, name or uses'
          required: false
          type: string
          displayName: 'all or a comma-separated list of: color, idBoard, name or uses'
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
      (oas-tags):
        - label
    /color:
      displayName: color
      put:
        displayName: updateLabelsColorByIdLabel
        (oas-summary): updateLabelsColorByIdLabel()
        body:
          application/json:
            type: labels_color
            (oas-body-name): body
            description: Attributes of "Labels Color" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - label
  post:
    displayName: addLabels
    (oas-summary): addLabels()
    body:
      application/json:
        type: labels
        (oas-body-name): body
        description: Attributes of "Labels" to be added.
    responses:
      '200':
        description: Success
      '400':
        description: Server rejection
    queryParameters:
      key:
        default: undefined
        description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
      token:
        default: undefined
        description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
    securedBy:
      - trello_auth:
          scopes:
            - 'read:boards'
            - 'write:boards'
    (oas-tags):
      - label
/webhooks:
  displayName: webhooks
  '/{idWebhook}':
    displayName: '{idWebhook}'
    '/{field}':
      displayName: '{field}'
      uriParameters:
        field:
          default: undefined
          description: field
          required: true
          type: string
          displayName: field
      get:
        displayName: getWebhooksByIdWebhookByField
        (oas-summary): getWebhooksByIdWebhookByField()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        (oas-tags):
          - webhook
    uriParameters:
      idWebhook:
        default: undefined
        description: idWebhook
        required: true
        type: string
        displayName: idWebhook
    delete:
      displayName: deleteWebhooksByIdWebhook
      (oas-summary): deleteWebhooksByIdWebhook()
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - webhook
    get:
      displayName: getWebhooksByIdWebhook
      (oas-summary): getWebhooksByIdWebhook()
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
      (oas-tags):
        - webhook
    put:
      displayName: updateWebhooksByIdWebhook
      (oas-summary): updateWebhooksByIdWebhook()
      body:
        application/json:
          type: webhooks
          (oas-body-name): body
          description: Attributes of "Webhooks" to be updated.
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - webhook
    /idModel:
      displayName: idModel
      put:
        displayName: updateWebhooksIdModelByIdWebhook
        (oas-summary): updateWebhooksIdModelByIdWebhook()
        body:
          application/json:
            type: webhooks_idModel
            (oas-body-name): body
            description: Attributes of "Webhooks Id Model" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - webhook
    /description:
      displayName: description
      put:
        displayName: updateWebhooksDescriptionByIdWebhook
        (oas-summary): updateWebhooksDescriptionByIdWebhook()
        body:
          application/json:
            type: webhooks_description
            (oas-body-name): body
            description: Attributes of "Webhooks Description" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - webhook
    /callbackURL:
      displayName: callbackURL
      put:
        displayName: updateWebhooksCallbackURLByIdWebhook
        (oas-summary): updateWebhooksCallbackURLByIdWebhook()
        body:
          application/json:
            type: webhooks_callbackURL
            (oas-body-name): body
            description: Attributes of "Webhooks Callback Url" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - webhook
    /active:
      displayName: active
      put:
        displayName: updateWebhooksActiveByIdWebhook
        (oas-summary): updateWebhooksActiveByIdWebhook()
        body:
          application/json:
            type: webhooks_active
            (oas-body-name): body
            description: Attributes of "Webhooks Active" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - webhook
  post:
    displayName: addWebhooks
    (oas-summary): addWebhooks()
    body:
      application/json:
        type: webhooks
        (oas-body-name): body
        description: Attributes of "Webhooks" to be added.
    responses:
      '200':
        description: Success
      '400':
        description: Server rejection
    queryParameters:
      key:
        default: undefined
        description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
      token:
        default: undefined
        description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
    securedBy:
      - trello_auth:
          scopes:
            - 'read:boards'
            - 'write:boards'
    (oas-tags):
      - webhook
  /:
    put:
      displayName: updateWebhooks
      (oas-summary): updateWebhooks()
      body:
        application/json:
          type: webhooks
          (oas-body-name): body
          description: Attributes of "Webhooks" to be updated.
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - webhook
/lists:
  displayName: lists
  post:
    displayName: addLists
    (oas-summary): addLists()
    body:
      application/json:
        type: lists
        (oas-body-name): body
        description: Attributes of "Lists" to be added.
    responses:
      '200':
        description: Success
      '400':
        description: Server rejection
    queryParameters:
      key:
        default: undefined
        description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
      token:
        default: undefined
        description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
    securedBy:
      - trello_auth:
          scopes:
            - 'read:boards'
            - 'write:boards'
    (oas-tags):
      - list
  '/{idList}':
    displayName: '{idList}'
    uriParameters:
      idList:
        default: undefined
        description: idList
        required: true
        type: string
        displayName: idList
    get:
      displayName: getListsByIdList
      (oas-summary): getListsByIdList()
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        cards:
          default: none
          description: 'One of: all, closed, none or open'
          required: false
          type: string
          displayName: 'One of: all, closed, none or open'
        card_fields:
          default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          required: false
          type: string
          displayName: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
        board:
          description: ' true or false'
          required: false
          type: string
          displayName: ' true or false'
        board_fields:
          default: 'name, desc, descData, closed, idOrganization, pinned, url and prefs'
          description: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
          required: false
          type: string
          displayName: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
        fields:
          default: 'name, closed, idBoard and pos'
          description: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
          required: false
          type: string
          displayName: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
      (oas-tags):
        - list
    put:
      displayName: updateListsByIdList
      (oas-summary): updateListsByIdList()
      body:
        application/json:
          type: lists
          (oas-body-name): body
          description: Attributes of "Lists" to be updated.
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - list
    /actions:
      displayName: actions
      get:
        displayName: getListsActionsByIdList
        (oas-summary): getListsActionsByIdList()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          entities:
            description: ' true or false'
            required: false
            type: string
            displayName: ' true or false'
          display:
            description: ' true or false'
            required: false
            type: string
            displayName: ' true or false'
          filter:
            default: all
            description: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
          fields:
            default: all
            description: 'all or a comma-separated list of: data, date, idMemberCreator or type'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: data, date, idMemberCreator or type'
          limit:
            default: '50'
            description: a number from 0 to 1000
            required: false
            type: string
            displayName: a number from 0 to 1000
          format:
            default: list
            description: 'One of: count, list or minimal'
            required: false
            type: string
            displayName: 'One of: count, list or minimal'
          since:
            default: undefined
            description: 'A date, null or lastView'
            required: false
            type: string
            displayName: 'A date, null or lastView'
          before:
            default: undefined
            description: 'A date, or null'
            required: false
            type: string
            displayName: 'A date, or null'
          page:
            default: '0'
            description: Page * limit must be less than 1000
            required: false
            type: string
            displayName: Page * limit must be less than 1000
          idModels:
            default: undefined
            description: Only return actions related to these model ids
            required: false
            type: string
            displayName: Only return actions related to these model ids
          member:
            description: ' true or false'
            required: false
            type: string
            displayName: ' true or false'
          member_fields:
            default: 'avatarHash, fullName, initials and username'
            description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          memberCreator:
            description: ' true or false'
            required: false
            type: string
            displayName: ' true or false'
          memberCreator_fields:
            default: 'avatarHash, fullName, initials and username'
            description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - list
    /archiveAllCards:
      displayName: archiveAllCards
      post:
        displayName: addListsArchiveAllCardsByIdList
        (oas-summary): addListsArchiveAllCardsByIdList()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
    /board:
      displayName: board
      get:
        displayName: getListsBoardByIdList
        (oas-summary): getListsBoardByIdList()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - list
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getListsBoardByIdListByField
          (oas-summary): getListsBoardByIdListByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - list
    /cards:
      displayName: cards
      get:
        displayName: getListsCardsByIdList
        (oas-summary): getListsCardsByIdList()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          actions:
            default: undefined
            description: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
          attachments:
            description: A boolean value or &quot;cover&quot; for only card cover attachments
            required: false
            type: string
            displayName: A boolean value or &quot;cover&quot; for only card cover attachments
          attachment_fields:
            default: all
            description: 'all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url'
          stickers:
            description: ' true or false'
            required: false
            type: string
            displayName: ' true or false'
          members:
            description: ' true or false'
            required: false
            type: string
            displayName: ' true or false'
          member_fields:
            default: 'avatarHash, fullName, initials and username'
            description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          checkItemStates:
            description: ' true or false'
            required: false
            type: string
            displayName: ' true or false'
          checklists:
            default: none
            description: 'One of: all or none'
            required: false
            type: string
            displayName: 'One of: all or none'
          limit:
            default: undefined
            description: a number from 1 to 1000
            required: false
            type: string
            displayName: a number from 1 to 1000
          since:
            default: undefined
            description: 'A date, or null'
            required: false
            type: string
            displayName: 'A date, or null'
          before:
            default: undefined
            description: 'A date, or null'
            required: false
            type: string
            displayName: 'A date, or null'
          filter:
            default: open
            description: 'One of: all, closed, none or open'
            required: false
            type: string
            displayName: 'One of: all, closed, none or open'
          fields:
            default: all
            description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - list
      post:
        displayName: addListsCardsByIdList
        (oas-summary): addListsCardsByIdList()
        body:
          application/json:
            type: lists_cards
            (oas-body-name): body
            description: Attributes of "Lists Cards" to be added.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
      '/{filter}':
        displayName: '{filter}'
        uriParameters:
          filter:
            default: undefined
            description: filter
            required: true
            type: string
            displayName: filter
        get:
          displayName: getListsCardsByIdListByFilter
          (oas-summary): getListsCardsByIdListByFilter()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          (oas-tags):
            - list
    /closed:
      displayName: closed
      put:
        displayName: updateListsClosedByIdList
        (oas-summary): updateListsClosedByIdList()
        body:
          application/json:
            type: lists_closed
            (oas-body-name): body
            description: Attributes of "Lists Closed" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
    /idBoard:
      displayName: idBoard
      put:
        displayName: updateListsIdBoardByIdList
        (oas-summary): updateListsIdBoardByIdList()
        body:
          application/json:
            type: lists_idBoard
            (oas-body-name): body
            description: Attributes of "Lists Id Board" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
    /moveAllCards:
      displayName: moveAllCards
      post:
        displayName: addListsMoveAllCardsByIdList
        (oas-summary): addListsMoveAllCardsByIdList()
        body:
          application/json:
            type: lists_moveAllCards
            (oas-body-name): body
            description: Attributes of "Lists Move All Cards" to be added.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
    /name:
      displayName: name
      put:
        displayName: updateListsNameByIdList
        (oas-summary): updateListsNameByIdList()
        body:
          application/json:
            type: lists_name
            (oas-body-name): body
            description: Attributes of "Lists Name" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
    /pos:
      displayName: pos
      put:
        displayName: updateListsPosByIdList
        (oas-summary): updateListsPosByIdList()
        body:
          application/json:
            type: lists_pos
            (oas-body-name): body
            description: Attributes of "Lists Pos" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
    /subscribed:
      displayName: subscribed
      put:
        displayName: updateListsSubscribedByIdList
        (oas-summary): updateListsSubscribedByIdList()
        body:
          application/json:
            type: lists_subscribed
            (oas-body-name): body
            description: Attributes of "Lists Subscribed" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - list
    '/{field}':
      displayName: '{field}'
      uriParameters:
        field:
          default: undefined
          description: field
          required: true
          type: string
          displayName: field
      get:
        displayName: getListsByIdListByField
        (oas-summary): getListsByIdListByField()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        (oas-tags):
          - list
/actions:
  displayName: actions
  '/{idAction}':
    displayName: '{idAction}'
    uriParameters:
      idAction:
        default: undefined
        description: idAction
        required: true
        type: string
        displayName: idAction
    delete:
      displayName: deleteActionsByIdAction
      (oas-summary): deleteActionsByIdAction()
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - action
    put:
      displayName: updateActionsByIdAction
      (oas-summary): updateActionsByIdAction()
      body:
        application/json:
          type: actions
          (oas-body-name): body
          description: Attributes of "Actions" to be updated.
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - action
    /board:
      displayName: board
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getActionsBoardByIdActionByField
          (oas-summary): getActionsBoardByIdActionByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - action
      get:
        displayName: getActionsBoardByIdAction
        (oas-summary): getActionsBoardByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
    /card:
      displayName: card
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getActionsCardByIdActionByField
          (oas-summary): getActionsCardByIdActionByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - action
      get:
        displayName: getActionsCardByIdAction
        (oas-summary): getActionsCardByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
    /entities:
      displayName: entities
      get:
        displayName: getActionsEntitiesByIdAction
        (oas-summary): getActionsEntitiesByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
    /list:
      displayName: list
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getActionsListByIdActionByField
          (oas-summary): getActionsListByIdActionByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - action
      get:
        displayName: getActionsListByIdAction
        (oas-summary): getActionsListByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
    /member:
      displayName: member
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getActionsMemberByIdActionByField
          (oas-summary): getActionsMemberByIdActionByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - action
      get:
        displayName: getActionsMemberByIdAction
        (oas-summary): getActionsMemberByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
    /memberCreator:
      displayName: memberCreator
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getActionsMemberCreatorByIdActionByField
          (oas-summary): getActionsMemberCreatorByIdActionByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - action
      get:
        displayName: getActionsMemberCreatorByIdAction
        (oas-summary): getActionsMemberCreatorByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
    /organization:
      displayName: organization
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            default: undefined
            description: field
            required: true
            type: string
            displayName: field
        get:
          displayName: getActionsOrganizationByIdActionByField
          (oas-summary): getActionsOrganizationByIdActionByField()
          responses:
            '200':
              description: Success
            '400':
              description: Server rejection
          queryParameters:
            key:
              default: undefined
              description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            token:
              default: undefined
              description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
              required: true
              type: string
              displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          securedBy:
            - trello_auth:
                scopes:
                  - 'read:boards'
          (oas-tags):
            - action
      get:
        displayName: getActionsOrganizationByIdAction
        (oas-summary): getActionsOrganizationByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          fields:
            default: all
            description: 'all or a comma-separated list of: billableMemberCount, desc, descData, displayName, idBoards, invitations, invited, logoHash, memberships, name, powerUps, prefs, premiumFeatures, products, url or website'
            required: false
            type: string
            displayName: 'all or a comma-separated list of: billableMemberCount, desc, descData, displayName, idBoards, invitations, invited, logoHash, memberships, name, powerUps, prefs, premiumFeatures, products, url or website'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
    '/{field}':
      displayName: '{field}'
      uriParameters:
        field:
          default: undefined
          description: field
          required: true
          type: string
          displayName: field
      get:
        displayName: getActionsByIdActionByField
        (oas-summary): getActionsByIdActionByField()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        (oas-tags):
          - action
    get:
      displayName: getActionsByIdAction
      (oas-summary): getActionsByIdAction()
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        display:
          description: ' true or false'
          required: false
          type: string
          displayName: ' true or false'
        entities:
          description: ' true or false'
          required: false
          type: string
          displayName: ' true or false'
        fields:
          default: all
          description: 'all or a comma-separated list of: data, date, idMemberCreator or type'
          required: false
          type: string
          displayName: 'all or a comma-separated list of: data, date, idMemberCreator or type'
        member:
          description: ' true or false'
          required: false
          type: string
          displayName: ' true or false'
        member_fields:
          default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          required: false
          type: string
          displayName: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
        memberCreator:
          description: ' true or false'
          required: false
          type: string
          displayName: ' true or false'
        memberCreator_fields:
          default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          required: false
          type: string
          displayName: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
      (oas-tags):
        - action
    /text:
      displayName: text
      put:
        displayName: updateActionsTextByIdAction
        (oas-summary): updateActionsTextByIdAction()
        body:
          application/json:
            type: actions_text
            (oas-body-name): body
            description: Attributes of "Actions Text" to be updated.
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
                - 'write:boards'
        (oas-tags):
          - action
    /display:
      displayName: display
      get:
        displayName: getActionsDisplayByIdAction
        (oas-summary): getActionsDisplayByIdAction()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - action
/boards:
  displayName: boards
  post:
    displayName: addBoards
    (oas-summary): addBoards()
    body:
      application/json:
        type: boards
        (oas-body-name): body
        description: Attributes of "Boards" to be added.
    responses:
      '200':
        description: Success
      '400':
        description: Server rejection
    queryParameters:
      key:
        default: undefined
        description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
      token:
        default: undefined
        description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        required: true
        type: string
        displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
    securedBy:
      - trello_auth:
          scopes:
            - 'read:boards'
            - 'write:boards'
    (oas-tags):
      - board
  '/{idBoard}':
    displayName: '{idBoard}'
    uriParameters:
      idBoard:
        default: undefined
        description: board_id
        required: true
        type: string
        displayName: board_id
    put:
      displayName: updateBoardsByIdBoard
      (oas-summary): updateBoardsByIdBoard()
      body:
        application/json:
          type: boards
          (oas-body-name): body
          description: Attributes of "Boards" to be updated.
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      queryParameters:
        key:
          default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
        token:
          default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          required: true
          type: string
          displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
      securedBy:
        - trello_auth:
            scopes:
              - 'read:boards'
              - 'write:boards'
      (oas-tags):
        - board
    /boardStars:
      displayName: boardStars
      get:
        displayName: getBoardsBoardStarsByIdBoard
        (oas-summary): getBoardsBoardStarsByIdBoard()
        responses:
          '200':
            description: Success
          '400':
            description: Server rejection
        queryParameters:
          filter:
            default: mine
            description: 'One of: mine or none'
            required: false
            type: string
            displayName: 'One of: mine or none'
          key:
            default: undefined
            description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          token:
            default: undefined
            description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
            required: true
            type: string
            displayName: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
        securedBy:
          - trello_auth:
              scopes:
                - 'read:boards'
        (oas-tags):
          - board
    /cards:
      displayName: cards
      get:
[...]
