#%RAML 1.0
title: Twilio
version: '2010-04-01'
baseUri: 'https://api.twilio.com/2010-04-01'
protocols:
  - HTTPS
description: |
  Enabling phones, VoIP, and messaging to be embedded into web, desktop, and mobile software.
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/twilio.com/2010-04-01/swagger.yaml'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): twilio.com
  (oas-x-unofficialSpec): true
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-unofficialSpec: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-externalDocs):
  url: 'https://www.twilio.com/api'
securitySchemes:
  basic:
    type: Basic Authentication
    description: ''
/Accounts:
  displayName: Accounts
  '/{AccountSid}':
    displayName: '{AccountSid}'
    /Queues:
      displayName: Queues
      '/{QueueSid}{mediaTypeExtension}':
        displayName: '{QueueSid}{mediaTypeExtension}'
        uriParameters:
          mediaTypeExtension:
            description: |
              By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
            enum:
              - .json
              - .csv
              - .html
            required: true
            type: string
          QueueSid:
            required: true
            type: string
        get:
          displayName: GET_Accounts-AccountSid-Queues-QueueSidmediaTypeExtension
          description: |
            Get resource's individual Queue instance.
          responses:
            '200':
              body:
                application/xml:
                  type: queue
              description: |
                The request was successful and the response body contains the representation
                requested.
            '302':
              description: |
                A common redirect response; you can GET the representation at the URI
                in the Location response header.
            '304':
              description: |
                Your client's cached version of the representation is still up to date.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to access the resource.
            '404':
              description: NOT FOUND.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
            '503':
              description: |
                We are temporarily unable to return the representation. Please wait for
                a bit and try again.
        post:
          displayName: POST_Accounts-AccountSid-Queues-QueueSidmediaTypeExtension
          description: |
            This POST request allows you to change the FriendlyName or MaxSize.
          responses:
            '200':
              body:
                application/xml:
                  type: queue
              description: |
                The request was successful, we updated the resource and the response
                body contains the representation.
            '201':
              description: |
                The request was successful, we created a new resource and the response
                body contains the representation.
            '400':
              description: |
                The data given in the POST or PUT failed validation. Inspect the response
                body for details.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to create or update
                the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't POST or PUT to the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
        delete:
          displayName: DELETE_Accounts-AccountSid-Queues-QueueSidmediaTypeExtension
          description: |
            The DELETE method allows you to remove a Queue. Only empty queues are
            deletable.
          responses:
            '204':
              description: Queue removed.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to delete the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't DELETE the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: We couldn't delete the resource. Please try again.
      '/{QueueSid}':
        displayName: '{QueueSid}'
        /Members:
          displayName: Members
          '/Front{mediaTypeExtension}':
            displayName: 'Front{mediaTypeExtension}'
            uriParameters:
              mediaTypeExtension:
                description: |
                  By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                enum:
                  - .json
                  - .csv
                  - .html
                required: true
                type: string
            get:
              displayName: GET_Accounts-AccountSid-Queues-QueueSid-Members-FrontmediaTypeExtension
              description: Get a front member.
              responses:
                '200':
                  body:
                    application/xml:
                      type: member
                  description: |
                    The request was successful and the response body contains the representation
                    requested.
                '302':
                  description: |
                    A common redirect response; you can GET the representation at the URI
                    in the Location response header.
                '304':
                  description: |
                    Your client's cached version of the representation is still up to date.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to access the resource.
                '404':
                  description: NOT FOUND.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
                '503':
                  description: |
                    We are temporarily unable to return the representation. Please wait for
                    a bit and try again.
            post:
              displayName: POST_Accounts-AccountSid-Queues-QueueSid-Members-FrontmediaTypeExtension
              description: |
                Posting a URL and Method to a Queue instance will dequeue a member from a
                queue and have the member's call begin executing the TwiML document at that URL
                When dequeuing the 'Front' of the queue, the next call in the queue will be redirected.
              responses:
                '200':
                  body:
                    application/xml:
                      type: member
                  description: |
                    The request was successful, we updated the resource and the response
                    body contains the representation.
                '201':
                  description: |
                    The request was successful, we created a new resource and the response
                    body contains the representation.
                '400':
                  description: Member was already dequed.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to create or update
                    the resource.
                '404':
                  description: NOT FOUND.
                '405':
                  description: You can't POST or PUT to the resource.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
          '/{CallSid}{mediaTypeExtension}':
            displayName: '{CallSid}{mediaTypeExtension}'
            uriParameters:
              mediaTypeExtension:
                description: |
                  By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                enum:
                  - .json
                  - .csv
                  - .html
                required: true
                type: string
              CallSid:
                required: true
                type: string
            get:
              displayName: GET_Accounts-AccountSid-Queues-QueueSid-Members-CallSidmediaTypeExtension
              description: Get a specific member.
              responses:
                '200':
                  body:
                    application/xml:
                      type: member
                  description: |
                    The request was successful and the response body contains the representation
                    requested.
                '302':
                  description: |
                    A common redirect response; you can GET the representation at the URI
                    in the Location response header.
                '304':
                  description: |
                    Your client's cached version of the representation is still up to date.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to access the resource.
                '404':
                  description: NOT FOUND.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
                '503':
                  description: |
                    We are temporarily unable to return the representation. Please wait for
                    a bit and try again.
            post:
              displayName: POST_Accounts-AccountSid-Queues-QueueSid-Members-CallSidmediaTypeExtension
              description: |
                Posting a URL and Method to a Queue instance will dequeue a member from a
                queue and have the member's call begin executing the TwiML document at that URL
                When redirecting a member of a queue addressed by CallSid, only the first request
                will succeed and return a 200 response code. A second request will fail and
                return an appropriate 400 response code.
              responses:
                '200':
                  body:
                    application/xml:
                      type: member
                  description: |
                    The request was successful, we updated the resource and the response
                    body contains the representation.
                '201':
                  description: |
                    The request was successful, we created a new resource and the response
                    body contains the representation.
                '400':
                  description: Member was already dequed.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to create or update
                    the resource.
                '404':
                  description: NOT FOUND.
                '405':
                  description: You can't POST or PUT to the resource.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
        '/Members{mediaTypeExtension}':
          displayName: 'Members{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
          get:
            displayName: GET_Accounts-AccountSid-Queues-QueueSid-MembersmediaTypeExtension
            description: 'Returns the list of members in the queue identified by {QueueSid}.'
            responses:
              '200':
                body:
                  application/xml:
                    type: members
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
    /Applications:
      displayName: Applications
      '/{ApplicationSid}{mediaTypeExtension}':
        displayName: '{ApplicationSid}{mediaTypeExtension}'
        uriParameters:
          mediaTypeExtension:
            description: |
              By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
            enum:
              - .json
              - .csv
              - .html
            required: true
            type: string
          ApplicationSid:
            required: true
            type: string
        delete:
          displayName: DELETE_Accounts-AccountSid-Applications-ApplicationSidmediaTypeExtension
          description: Delete this application.
          responses:
            '204':
              description: Application deleted.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to delete the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't DELETE the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: We couldn't delete the resource. Please try again.
        post:
          displayName: POST_Accounts-AccountSid-Applications-ApplicationSidmediaTypeExtension
          description: |
            Tries to update the application's properties, and returns the updated
            resource representation if successful. The returned response is identical
            to that returned above when making a GET request.
          responses:
            '200':
              body:
                application/xml:
                  type: application
              description: |
                The request was successful, we updated the resource and the response
                body contains the representation.
            '201':
              description: |
                The request was successful, we created a new resource and the response
                body contains the representation.
            '400':
              description: |
                The data given in the POST or PUT failed validation. Inspect the response
                body for details.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to create or update
                the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't POST or PUT to the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
        get:
          displayName: GET_Accounts-AccountSid-Applications-ApplicationSidmediaTypeExtension
          description: Get application instance resource.
          responses:
            '200':
              body:
                application/xml:
                  type: application
              description: |
                The request was successful and the response body contains the representation
                requested.
            '302':
              description: |
                A common redirect response; you can GET the representation at the URI
                in the Location response header.
            '304':
              description: |
                Your client's cached version of the representation is still up to date.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to access the resource.
            '404':
              description: NOT FOUND.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
            '503':
              description: |
                We are temporarily unable to return the representation. Please wait for
                a bit and try again.
    '/Queues{mediaTypeExtension}':
      displayName: 'Queues{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          required: true
          type: string
      get:
        displayName: GET_Accounts-AccountSid-QueuesmediaTypeExtension
        description: |
          Returns a list of queues within an account. The list includes paging
          information.
        responses:
          '200':
            body:
              application/xml:
                type: queues
            description: |
              The request was successful and the response body contains the representation
              requested.
          '302':
            description: |
              A common redirect response; you can GET the representation at the URI
              in the Location response header.
          '304':
            description: |
              Your client's cached version of the representation is still up to date.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to access the resource.
          '404':
            description: NOT FOUND.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
          '503':
            description: |
              We are temporarily unable to return the representation. Please wait for
              a bit and try again.
      post:
        displayName: POST_Accounts-AccountSid-QueuesmediaTypeExtension
        description: |
          Create a new Queue resource.
        responses:
          '200':
            description: |
              The request was successful, we updated the resource and the response
              body contains the representation.
          '201':
            body:
              application/xml:
                type: queue
            description: |
              The request was successful, we created a new resource and the response
              body contains the representation.
          '400':
            description: |
              The data given in the POST or PUT failed validation. Inspect the response
              body for details.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to create or update
              the resource.
          '404':
            description: NOT FOUND.
          '405':
            description: You can't POST or PUT to the resource.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
    '/Applications{mediaTypeExtension}':
      displayName: 'Applications{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          required: true
          type: string
      post:
        displayName: POST_Accounts-AccountSid-ApplicationsmediaTypeExtension
        description: Creates a new application within your account.
        responses:
          '200':
            description: |
              The request was successful, we updated the resource and the response
              body contains the representation.
          '201':
            body:
              application/xml:
                type: application
            description: |
              The request was successful, we created a new resource and the response
              body contains the representation.
          '400':
            description: |
              The data given in the POST or PUT failed validation. Inspect the response
              body for details.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to create or update
              the resource.
          '404':
            description: NOT FOUND.
          '405':
            description: You can't POST or PUT to the resource.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
      get:
        displayName: GET_Accounts-AccountSid-ApplicationsmediaTypeExtension
        description: |
          Returns a list of Application resource representations, each representing
          an application within your account. The list includes paging information.
        responses:
          '200':
            body:
              application/xml:
                type: applications
            description: |
              The request was successful and the response body contains the representation
              requested.
          '302':
            description: |
              A common redirect response; you can GET the representation at the URI
              in the Location response header.
          '304':
            description: |
              Your client's cached version of the representation is still up to date.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to access the resource.
          '404':
            description: NOT FOUND.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
          '503':
            description: |
              We are temporarily unable to return the representation. Please wait for
              a bit and try again.
    /Recordings:
      displayName: Recordings
      '/{RecordingSid}':
        displayName: '{RecordingSid}'
        '/Transcriptions{mediaTypeExtension}':
          displayName: 'Transcriptions{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
          get:
            displayName: GET_Accounts-AccountSid-Recordings-RecordingSid-TranscriptionsmediaTypeExtension
            description: |
              Returns a set of Transcription resource representations that includes paging
              information.
            responses:
              '200':
                body:
                  application/xml:
                    type: transcriptions
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
      '/{RecordingSid}{mediaTypeExtension}':
        displayName: '{RecordingSid}{mediaTypeExtension}'
        uriParameters:
          mediaTypeExtension:
            default: .wav
            description: ''
            enum:
              - .xml
              - .wav
              - .mp3
            required: true
            type: string
          RecordingSid:
            required: true
            type: string
        delete:
          displayName: DELETE_Accounts-AccountSid-Recordings-RecordingSidmediaTypeExtension
          description: Deletes a recording  from your account.
          responses:
            '204':
              description: Deletion successful.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to delete the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't DELETE the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: We couldn't delete the resource. Please try again.
        get:
          displayName: GET_Accounts-AccountSid-Recordings-RecordingSidmediaTypeExtension
          description: |
            Returns one of several representations:
            Without an extension, or with a ".wav", a binary WAV audio file is returned
            with mime-type "audio/x-wav".
            Appending ".mp3" to the URI returns a binary MP3 audio file with mime-type
            type "audio/mpeg".
            Appending ".xml" to the URI returns a XML representation.
          responses:
            '200':
              description: A binary WAV audio file is returned.
            '302':
              description: |
                A common redirect response; you can GET the representation at the URI
                in the Location response header.
            '304':
              description: |
                Your client's cached version of the representation is still up to date.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to access the resource.
            '404':
              description: NOT FOUND.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
            '503':
              description: |
                We are temporarily unable to return the representation. Please wait for
                a bit and try again.
    '/AuthorizedConnectApps{mediaTypeExtension}':
      displayName: 'AuthorizedConnectApps{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          required: true
          type: string
      get:
        displayName: GET_Accounts-AccountSid-AuthorizedConnectAppsmediaTypeExtension
        description: |
          Returns a list of Connect App resource representations, each representing a
          Connect App you've authorized to access your account. The list includes
          paging information.
        responses:
          '200':
            body:
              application/xml:
                type: authApps
            description: |
              The request was successful and the response body contains the representation
              requested.
          '302':
            description: |
              A common redirect response; you can GET the representation at the URI
              in the Location response header.
          '304':
            description: |
              Your client's cached version of the representation is still up to date.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to access the resource.
          '404':
            description: NOT FOUND.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
          '503':
            description: |
              We are temporarily unable to return the representation. Please wait for
              a bit and try again.
    /AvailablePhoneNumbers:
      displayName: AvailablePhoneNumbers
      '/{IsoCountryCode}':
        displayName: '{IsoCountryCode}'
        '/Mobile{mediaTypeExtension}':
          displayName: 'Mobile{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
          get:
            displayName: GET_Accounts-AccountSid-AvailablePhoneNumbers-IsoCountryCode-MobilemediaTypeExtension
            description: 'Returns a list of mobile AvailablePhoneNumber resource representations that match the specified filters, each representing a phone number that is currently available for provisioning within your account.'
            responses:
              '200':
                body:
                  application/xml:
                    type: phoneMobileNumbers
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
        '/TollFree{mediaTypeExtension}':
          displayName: 'TollFree{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
          get:
            displayName: GET_Accounts-AccountSid-AvailablePhoneNumbers-IsoCountryCode-TollFreemediaTypeExtension
            description: |
              Returns a list of toll-free AvailablePhoneNumber elements that match the
              specified filters, each representing a phone number that is currently
              available for provisioning within your account. To provision an available
              phone number, POST the number to the IncomingPhoneNumbers resource.
            responses:
              '200':
                body:
                  application/xml:
                    type: phoneTollFreeNumbers
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
        '/Local{mediaTypeExtension}':
          displayName: 'Local{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
          get:
            displayName: GET_Accounts-AccountSid-AvailablePhoneNumbers-IsoCountryCode-LocalmediaTypeExtension
            description: |
              Returns a list of local AvailablePhoneNumber resource representations
              that match the specified filters, each representing a phone number tha
              is currently available for provisioning within your account.
            responses:
              '200':
                body:
                  application/xml:
                    type: availablePhoneNumbers
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
    '/AvailablePhoneNumbers{mediaTypeExtension}':
      displayName: 'AvailablePhoneNumbers{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          required: true
          type: string
      get:
        displayName: GET_Accounts-AccountSid-AvailablePhoneNumbersmediaTypeExtension
        description: 'Returns a list of all AvailablePhoneNumber subresources for your account by ISO Country. For full information about our phone number support, see our Phone Number CSV (http://www.twilio.com/resources/rates/international-phone-number-rates.csv).'
        responses:
          '200':
            body:
              application/xml:
                type: availablePhoneNumbers
            description: |
              The request was successful and the response body contains the representation
              requested.
          '302':
            description: |
              A common redirect response; you can GET the representation at the URI
              in the Location response header.
          '304':
            description: |
              Your client's cached version of the representation is still up to date.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to access the resource.
          '404':
            description: NOT FOUND.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
          '503':
            description: |
              We are temporarily unable to return the representation. Please wait for
              a bit and try again.
    '/Recordings{mediaTypeExtension}':
      displayName: 'Recordings{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          required: true
          type: string
      get:
        displayName: GET_Accounts-AccountSid-RecordingsmediaTypeExtension
        description: |
          Returns a list of Recording resource representations, each representing a
          recording generated during the course of a phone call.
        responses:
          '200':
            body:
              application/xml:
                type: recordings
            description: |
              The request was successful and the response body contains the representation
              requested.
          '302':
            description: |
              A common redirect response; you can GET the representation at the URI
              in the Location response header.
          '304':
            description: |
              Your client's cached version of the representation is still up to date.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to access the resource.
          '404':
            description: NOT FOUND.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
          '503':
            description: |
              We are temporarily unable to return the representation. Please wait for
              a bit and try again.
    /Calls:
      displayName: Calls
      '/{CallSid}':
        displayName: '{CallSid}'
        '/Recordings{mediaTypeExtension}':
          displayName: 'Recordings{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
          get:
            displayName: GET_Accounts-AccountSid-Calls-CallSid-RecordingsmediaTypeExtension
            description: |
              Returns a list of Recording resource representations, each representing a
              recording generated during the course of a phone call.
            responses:
              '200':
                body:
                  application/xml:
                    type: recordings
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
        '/Notifications{mediaTypeExtension}':
          displayName: 'Notifications{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
          get:
            displayName: GET_Accounts-AccountSid-Calls-CallSid-NotificationsmediaTypeExtension
            description: |
              Returns a list of notifications generated for an account. The list includes
              paging information.
            responses:
              '200':
                body:
                  application/xml:
                    type: notifications
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
      '/{CallSid}{mediaTypeExtension}':
        displayName: '{CallSid}{mediaTypeExtension}'
        uriParameters:
          mediaTypeExtension:
            description: |
              By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
            enum:
              - .json
              - .csv
              - .html
            required: true
            type: string
          CallSid:
            required: true
            type: string
        post:
          displayName: POST_Accounts-AccountSid-Calls-CallSidmediaTypeExtension
          description: Modify a phone call.
          responses:
            '200':
              body:
                application/xml:
                  type: callInstance
              description: |
                The request was successful, we updated the resource and the response
                body contains the representation.
            '201':
              description: |
                The request was successful, we created a new resource and the response
                body contains the representation.
            '400':
              description: |
                The data given in the POST or PUT failed validation. Inspect the response
                body for details.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to create or update
                the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't POST or PUT to the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
        get:
          displayName: GET_Accounts-AccountSid-Calls-CallSidmediaTypeExtension
          description: 'Returns the single Call resource identified by {CallSid}.'
          responses:
            '200':
              body:
                application/xml:
                  type: callInstance
              description: |
                The request was successful and the response body contains the representation
                requested.
            '302':
              description: |
                A common redirect response; you can GET the representation at the URI
                in the Location response header.
            '304':
              description: |
                Your client's cached version of the representation is still up to date.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to access the resource.
            '404':
              description: NOT FOUND.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
            '503':
              description: |
                We are temporarily unable to return the representation. Please wait for
                a bit and try again.
    /SIP:
      displayName: SIP
      /CredentialLists:
        displayName: CredentialLists
        '/{CLSid}':
          displayName: '{CLSid}'
          /Credentials:
            displayName: Credentials
            '/{CredentialSid}{mediaTypeExtension}':
              displayName: '{CredentialSid}{mediaTypeExtension}'
              uriParameters:
                mediaTypeExtension:
                  description: |
                    By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                  enum:
                    - .json
                    - .csv
                    - .html
                  required: true
                  type: string
                CredentialSid:
                  required: true
                  type: string
              delete:
                displayName: DELETE_Accounts-AccountSid-SIP-CredentialLists-CLSid-Credentials-CredentialSidmediaTypeExtension
                description: Remove a Credential from a CredentialList.
                responses:
                  '204':
                    description: The request was successful; the resource was deleted.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to delete the resource.
                  '404':
                    description: NOT FOUND.
                  '405':
                    description: You can't DELETE the resource.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: We couldn't delete the resource. Please try again.
              get:
                displayName: GET_Accounts-AccountSid-SIP-CredentialLists-CLSid-Credentials-CredentialSidmediaTypeExtension
                description: 'Get a specific Credential in a list. Though a password is stored for each username in your list, the password is not returned to protect your password. If you cannot remember your password, you will need to POST to this resource to update it.'
                responses:
                  '200':
                    body:
                      application/xml:
                        type: credential
                    description: |
                      The request was successful and the response body contains the representation
                      requested.
                  '302':
                    description: |
                      A common redirect response; you can GET the representation at the URI
                      in the Location response header.
                  '304':
                    description: |
                      Your client's cached version of the representation is still up to date.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to access the resource.
                  '404':
                    description: NOT FOUND.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: |
                      We couldn't return the representation due to an internal server error.
                  '503':
                    description: |
                      We are temporarily unable to return the representation. Please wait for
                      a bit and try again.
              post:
                displayName: POST_Accounts-AccountSid-SIP-CredentialLists-CLSid-Credentials-CredentialSidmediaTypeExtension
                description: |
                  Change the password of a Credential record.

                  If the change is successful, Twilio will respond with the Credential record but will not include the password in the response.
                responses:
                  '200':
                    body:
                      application/xml:
                        type: credential
                    description: |
                      The request was successful, we updated the resource and the response
                      body contains the representation.
                  '201':
                    description: |
                      The request was successful, we created a new resource and the response
                      body contains the representation.
                  '400':
                    description: |
                      The data given in the POST or PUT failed validation. Inspect the response
                      body for details.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to create or update
                      the resource.
                  '404':
                    description: NOT FOUND.
                  '405':
                    description: You can't POST or PUT to the resource.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: |
                      We couldn't return the representation due to an internal server error.
          '/Credentials{mediaTypeExtension}':
            displayName: 'Credentials{mediaTypeExtension}'
            uriParameters:
              mediaTypeExtension:
                description: |
                  By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                enum:
                  - .json
                  - .csv
                  - .html
                required: true
                type: string
            get:
              displayName: GET_Accounts-AccountSid-SIP-CredentialLists-CLSid-CredentialsmediaTypeExtension
              description: Get the list of Credentials in a CredentialList. The passwords for the Credentials are intentionally not returned so as to protect them.
              responses:
                '200':
                  body:
                    application/xml:
                      type: credentials
                  description: |
                    The request was successful and the response body contains the representation
                    requested.
                '302':
                  description: |
                    A common redirect response; you can GET the representation at the URI
                    in the Location response header.
                '304':
                  description: |
                    Your client's cached version of the representation is still up to date.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to access the resource.
                '404':
                  description: NOT FOUND.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
                '503':
                  description: |
                    We are temporarily unable to return the representation. Please wait for
                    a bit and try again.
            post:
              displayName: POST_Accounts-AccountSid-SIP-CredentialLists-CLSid-CredentialsmediaTypeExtension
              description: |
                Add a Credential to the CredentialList.

                When creating a Credential, you will POST both a username and password, but only receive the username back in the response. The password is intentionally not returned so as to protect it.
              responses:
                '200':
                  description: |
                    The request was successful, we updated the resource and the response
                    body contains the representation.
                '201':
                  body:
                    application/xml:
                      type: credential
                  description: |
                    The request was successful, we created a new resource and the response
                    body contains the representation.
                '400':
                  description: |
                    The data given in the POST or PUT failed validation. Inspect the response
                    body for details.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to create or update
                    the resource.
                '404':
                  description: NOT FOUND.
                '405':
                  description: You can't POST or PUT to the resource.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
        '/{CLSid}{mediaTypeExtension}':
          displayName: '{CLSid}{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
            CLSid:
              required: true
              type: string
          delete:
            displayName: DELETE_Accounts-AccountSid-SIP-CredentialLists-CLSidmediaTypeExtension
            description: 'Delete a CredentialList from your account. It can only be deleted if no domains are mapped to it. If you attempt to delete one that is mapped to a domain, you will receive an error.'
            responses:
              '204':
                description: The request was successful; the resource was deleted.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to delete the resource.
              '404':
                description: NOT FOUND.
              '405':
                description: You can't DELETE the resource.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: We couldn't delete the resource. Please try again.
          get:
            displayName: GET_Accounts-AccountSid-SIP-CredentialLists-CLSidmediaTypeExtension
            description: Get a credential list instance resource
            responses:
              '200':
                body:
                  application/xml:
                    type: credentialList
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
          post:
            displayName: POST_Accounts-AccountSid-SIP-CredentialLists-CLSidmediaTypeExtension
            description: Change the FriendlyName of the list
            responses:
              '200':
                body:
                  application/xml:
                    type: credentialList
                description: |
                  The request was successful, we updated the resource and the response
                  body contains the representation.
              '201':
                description: |
                  The request was successful, we created a new resource and the response
                  body contains the representation.
              '400':
                description: |
                  The data given in the POST or PUT failed validation. Inspect the response
                  body for details.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to create or update
                  the resource.
              '404':
                description: NOT FOUND.
              '405':
                description: You can't POST or PUT to the resource.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
      '/CredentialLists{mediaTypeExtension}':
        displayName: 'CredentialLists{mediaTypeExtension}'
        uriParameters:
          mediaTypeExtension:
            description: |
              By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
            enum:
              - .json
              - .csv
              - .html
            required: true
            type: string
        get:
          displayName: GET_Accounts-AccountSid-SIP-CredentialListsmediaTypeExtension
          description: Gets a list of Credential Lists for an account
          responses:
            '200':
              body:
                application/xml:
                  type: credentialLists
              description: |
                The request was successful and the response body contains the representation
                requested.
            '302':
              description: |
                A common redirect response; you can GET the representation at the URI
                in the Location response header.
            '304':
              description: |
                Your client's cached version of the representation is still up to date.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to access the resource.
            '404':
              description: NOT FOUND.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
            '503':
              description: |
                We are temporarily unable to return the representation. Please wait for
                a bit and try again.
        post:
          displayName: POST_Accounts-AccountSid-SIP-CredentialListsmediaTypeExtension
          description: Create a new Credential List.
          responses:
            '200':
              description: |
                The request was successful, we updated the resource and the response
                body contains the representation.
            '201':
              body:
                application/xml:
                  type: credentialList
              description: |
                The request was successful, we created a new resource and the response
                body contains the representation.
            '400':
              description: |
                The data given in the POST or PUT failed validation. Inspect the response
                body for details.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to create or update
                the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't POST or PUT to the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
      /Domains:
        displayName: Domains
        '/{SipDomainSid}':
          displayName: '{SipDomainSid}'
          /CredentialListMappings:
            displayName: CredentialListMappings
            '/{CLSid}{mediaTypeExtension}':
              displayName: '{CLSid}{mediaTypeExtension}'
              uriParameters:
                mediaTypeExtension:
                  description: |
                    By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                  enum:
                    - .json
                    - .csv
                    - .html
                  required: true
                  type: string
                CLSid:
                  required: true
                  type: string
              delete:
                displayName: DELETE_Accounts-AccountSid-SIP-Domains-SipDomainSid-CredentialListMappings-CLSidmediaTypeExtension
                description: Remove a CredentialListMapping from a domain
                responses:
                  '204':
                    description: The request was successful; the resource was deleted.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to delete the resource.
                  '404':
                    description: NOT FOUND.
                  '405':
                    description: You can't DELETE the resource.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: We couldn't delete the resource. Please try again.
          '/CredentialListMappings{mediaTypeExtension}':
            displayName: 'CredentialListMappings{mediaTypeExtension}'
            uriParameters:
              mediaTypeExtension:
                description: |
                  By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                enum:
                  - .json
                  - .csv
                  - .html
                required: true
                type: string
            get:
              displayName: GET_Accounts-AccountSid-SIP-Domains-SipDomainSid-CredentialListMappingsmediaTypeExtension
              description: Get the user lists mapped to this domain.
              responses:
                '200':
                  body:
                    application/xml:
                      type: credentialListMappings
                  description: |
                    The request was successful and the response body contains the representation
                    requested.
                '302':
                  description: |
                    A common redirect response; you can GET the representation at the URI
                    in the Location response header.
                '304':
                  description: |
                    Your client's cached version of the representation is still up to date.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to access the resource.
                '404':
                  description: NOT FOUND.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
                '503':
                  description: |
                    We are temporarily unable to return the representation. Please wait for
                    a bit and try again.
            post:
              displayName: POST_Accounts-AccountSid-SIP-Domains-SipDomainSid-CredentialListMappingsmediaTypeExtension
              description: Map a CredentialList to the domain.
              responses:
                '200':
                  description: |
                    The request was successful, we updated the resource and the response
                    body contains the representation.
                '201':
                  body:
                    application/xml:
                      type: credentialListMapping
                  description: |
                    The request was successful, we created a new resource and the response
                    body contains the representation.
                '400':
                  description: |
                    The data given in the POST or PUT failed validation. Inspect the response
                    body for details.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to create or update
                    the resource.
                '404':
                  description: NOT FOUND.
                '405':
                  description: You can't POST or PUT to the resource.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
          /IpAccessControlListMappings:
            displayName: IpAccessControlListMappings
            '/{ALSid}{mediaTypeExtension}':
              displayName: '{ALSid}{mediaTypeExtension}'
              uriParameters:
                mediaTypeExtension:
                  description: |
                    By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                  enum:
                    - .json
                    - .csv
                    - .html
                  required: true
                  type: string
                ALSid:
                  required: true
                  type: string
              delete:
                displayName: DELETE_Accounts-AccountSid-SIP-Domains-SipDomainSid-IpAccessControlListMappings-ALSidmediaTypeExtension
                description: Remove a mapping from this domain.
                responses:
                  '204':
                    description: The request was successful; the resource was deleted.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to delete the resource.
                  '404':
                    description: NOT FOUND.
                  '405':
                    description: You can't DELETE the resource.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: We couldn't delete the resource. Please try again.
              get:
                displayName: GET_Accounts-AccountSid-SIP-Domains-SipDomainSid-IpAccessControlListMappings-ALSidmediaTypeExtension
                description: Return a specific IpAccessControlListMapping instance by Sid.
                responses:
                  '200':
                    body:
                      application/xml:
                        type: ipAccessControlListMapping
                    description: |
                      The request was successful and the response body contains the representation
                      requested.
                  '302':
                    description: |
                      A common redirect response; you can GET the representation at the URI
                      in the Location response header.
                  '304':
                    description: |
                      Your client's cached version of the representation is still up to date.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to access the resource.
                  '404':
                    description: NOT FOUND.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: |
                      We couldn't return the representation due to an internal server error.
                  '503':
                    description: |
                      We are temporarily unable to return the representation. Please wait for
                      a bit and try again.
          '/IpAccessControlListMappings{mediaTypeExtension}':
            displayName: 'IpAccessControlListMappings{mediaTypeExtension}'
            uriParameters:
              mediaTypeExtension:
                required: true
                type: string
            get:
              displayName: GET_Accounts-AccountSid-SIP-Domains-SipDomainSid-IpAccessControlListMappingsmediaTypeExtension
              description: Return the IpAccessControlListMappings that are associated to this domain.
              responses:
                '200':
                  description: OK
            post:
              displayName: POST_Accounts-AccountSid-SIP-Domains-SipDomainSid-IpAccessControlListMappingsmediaTypeExtension
              description: Map an IpAccessControlList to this domain.
              responses:
                '201':
                  description: Created
        '/{SipDomainSid}{mediaTypeExtension}':
          displayName: '{SipDomainSid}{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
            SipDomainSid:
              required: true
              type: string
          delete:
            displayName: DELETE_Accounts-AccountSid-SIP-Domains-SipDomainSidmediaTypeExtension
            description: 'Delete a domain. If you have created subdomains of a domain, you will not be able to delete the domain until you first delete all subdomains of it.'
            responses:
              '204':
                description: The request was successful; the resource was deleted.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to delete the resource.
              '404':
                description: NOT FOUND.
              '405':
                description: You can't DELETE the resource.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: We couldn't delete the resource. Please try again.
          get:
            displayName: GET_Accounts-AccountSid-SIP-Domains-SipDomainSidmediaTypeExtension
            description: Return a specific instance by Sid.
            responses:
              '200':
                body:
                  application/xml:
                    type: domain
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
          post:
            displayName: POST_Accounts-AccountSid-SIP-Domains-SipDomainSidmediaTypeExtension
            description: Update the attributes of a domain.
            responses:
              '200':
                body:
                  application/xml:
                    type: domain
                description: |
                  The request was successful, we updated the resource and the response
                  body contains the representation.
              '201':
                description: |
                  The request was successful, we created a new resource and the response
                  body contains the representation.
              '400':
                description: |
                  The data given in the POST or PUT failed validation. Inspect the response
                  body for details.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to create or update
                  the resource.
              '404':
                description: NOT FOUND.
              '405':
                description: You can't POST or PUT to the resource.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
      '/Domains{mediaTypeExtension}':
        displayName: 'Domains{mediaTypeExtension}'
        uriParameters:
          mediaTypeExtension:
            description: |
              By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
            enum:
              - .json
              - .csv
              - .html
            required: true
            type: string
        get:
          displayName: GET_Accounts-AccountSid-SIP-DomainsmediaTypeExtension
          description: Returns a paged list of the domains for an account.
          responses:
            '200':
              body:
                application/xml:
                  type: domains
              description: |
                The request was successful and the response body contains the representation
                requested.
            '302':
              description: |
                A common redirect response; you can GET the representation at the URI
                in the Location response header.
            '304':
              description: |
                Your client's cached version of the representation is still up to date.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to access the resource.
            '404':
              description: NOT FOUND.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
            '503':
              description: |
                We are temporarily unable to return the representation. Please wait for
                a bit and try again.
        post:
          displayName: POST_Accounts-AccountSid-SIP-DomainsmediaTypeExtension
          description: |
            Creates a new Domain and returns its instance resource. You must pick a unique domain name that ends in ".sip.twilio.com".
            After creating a Domain, you must map it to an authentication method before the domain is ready to receive traffic.
          responses:
            '200':
              description: |
                The request was successful, we updated the resource and the response
                body contains the representation.
            '201':
              body:
                application/xml:
                  type: domain
              description: |
                The request was successful, we created a new resource and the response
                body contains the representation.
            '400':
              description: |
                The data given in the POST or PUT failed validation. Inspect the response
                body for details.
            '401':
              description: |
                The supplied credentials, if any, are not sufficient to create or update
                the resource.
            '404':
              description: NOT FOUND.
            '405':
              description: You can't POST or PUT to the resource.
            '429':
              description: Your application is sending too many simultaneous requests.
            '500':
              description: |
                We couldn't return the representation due to an internal server error.
      /IpAccessControlLists:
        displayName: IpAccessControlLists
        '/{IpAccessControlListSid}':
          displayName: '{IpAccessControlListSid}'
          /IpAddresses:
            displayName: IpAddresses
            '/{IpAddressSid}{mediaTypeExtension}':
              displayName: '{IpAddressSid}{mediaTypeExtension}'
              uriParameters:
                mediaTypeExtension:
                  description: |
                    By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                  enum:
                    - .json
                    - .csv
                    - .html
                  required: true
                  type: string
                IpAddressSid:
                  required: true
                  type: string
              delete:
                displayName: DELETE_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSid-IpAddresses-IpAddressSidmediaTypeExtension
                description: Deletes an IP address entry from the list.
                responses:
                  '204':
                    description: The request was successful; the resource was deleted.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to delete the resource.
                  '404':
                    description: NOT FOUND.
                  '405':
                    description: You can't DELETE the resource.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: We couldn't delete the resource. Please try again.
              get:
                displayName: GET_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSid-IpAddresses-IpAddressSidmediaTypeExtension
                description: Return a single IP Address resource.
                responses:
                  '200':
                    body:
                      application/xml:
                        type: ipAddress
                    description: |
                      The request was successful and the response body contains the representation
                      requested.
                  '302':
                    description: |
                      A common redirect response; you can GET the representation at the URI
                      in the Location response header.
                  '304':
                    description: |
                      Your client's cached version of the representation is still up to date.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to access the resource.
                  '404':
                    description: NOT FOUND.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: |
                      We couldn't return the representation due to an internal server error.
                  '503':
                    description: |
                      We are temporarily unable to return the representation. Please wait for
                      a bit and try again.
              post:
                displayName: POST_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSid-IpAddresses-IpAddressSidmediaTypeExtension
                description: Change the description or IP address of a given IpAddress instance resource
                responses:
                  '200':
                    body:
                      application/xml:
                        type: ipAddress
                    description: |
                      The request was successful, we updated the resource and the response
                      body contains the representation.
                  '201':
                    description: |
                      The request was successful, we created a new resource and the response
                      body contains the representation.
                  '400':
                    description: |
                      The data given in the POST or PUT failed validation. Inspect the response
                      body for details.
                  '401':
                    description: |
                      The supplied credentials, if any, are not sufficient to create or update
                      the resource.
                  '404':
                    description: NOT FOUND.
                  '405':
                    description: You can't POST or PUT to the resource.
                  '429':
                    description: Your application is sending too many simultaneous requests.
                  '500':
                    description: |
                      We couldn't return the representation due to an internal server error.
          '/IpAddresses{mediaTypeExtension}':
            displayName: 'IpAddresses{mediaTypeExtension}'
            uriParameters:
              mediaTypeExtension:
                description: |
                  By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
                enum:
                  - .json
                  - .csv
                  - .html
                required: true
                type: string
            get:
              displayName: GET_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSid-IpAddressesmediaTypeExtension
              description: List the IP Addresses contained in this list.
              responses:
                '200':
                  body:
                    application/xml:
                      type: ipAddresses
                  description: |
                    The request was successful and the response body contains the representation
                    requested.
                '302':
                  description: |
                    A common redirect response; you can GET the representation at the URI
                    in the Location response header.
                '304':
                  description: |
                    Your client's cached version of the representation is still up to date.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to access the resource.
                '404':
                  description: NOT FOUND.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
                '503':
                  description: |
                    We are temporarily unable to return the representation. Please wait for
                    a bit and try again.
            post:
              displayName: POST_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSid-IpAddressesmediaTypeExtension
              description: Add an IP Address to the list with a description.
              responses:
                '200':
                  description: |
                    The request was successful, we updated the resource and the response
                    body contains the representation.
                '201':
                  body:
                    application/xml:
                      type: ipAddress
                  description: |
                    The request was successful, we created a new resource and the response
                    body contains the representation.
                '400':
                  description: |
                    The data given in the POST or PUT failed validation. Inspect the response
                    body for details.
                '401':
                  description: |
                    The supplied credentials, if any, are not sufficient to create or update
                    the resource.
                '404':
                  description: NOT FOUND.
                '405':
                  description: You can't POST or PUT to the resource.
                '429':
                  description: Your application is sending too many simultaneous requests.
                '500':
                  description: |
                    We couldn't return the representation due to an internal server error.
        '/{IpAccessControlListSid}{mediaTypeExtension}':
          displayName: '{IpAccessControlListSid}{mediaTypeExtension}'
          uriParameters:
            mediaTypeExtension:
              description: |
                By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
              enum:
                - .json
                - .csv
                - .html
              required: true
              type: string
            IpAccessControlListSid:
              required: true
              type: string
          delete:
            displayName: DELETE_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSidmediaTypeExtension
            description: 'Delete an IpAccessControlList from your account. It can only be deleted if no domains are mapped to it. If you attempt to delete one that is mapped to a domain, you will receive an error.'
            responses:
              '204':
                description: The request was successful; the resource was deleted.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to delete the resource.
              '404':
                description: NOT FOUND.
              '405':
                description: You can't DELETE the resource.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: We couldn't delete the resource. Please try again.
          get:
            displayName: GET_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSidmediaTypeExtension
            description: Return a specific IpAccessControlList resource.
            responses:
              '200':
                body:
                  application/xml:
                    type: ipAccessControlListMapping
                description: |
                  The request was successful and the response body contains the representation
                  requested.
              '302':
                description: |
                  A common redirect response; you can GET the representation at the URI
                  in the Location response header.
              '304':
                description: |
                  Your client's cached version of the representation is still up to date.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to access the resource.
              '404':
                description: NOT FOUND.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
              '503':
                description: |
                  We are temporarily unable to return the representation. Please wait for
                  a bit and try again.
          post:
            displayName: POST_Accounts-AccountSid-SIP-IpAccessControlLists-IpAccessControlListSidmediaTypeExtension
            description: Rename an IpAccessControlList.
            responses:
              '200':
                body:
                  application/xml:
                    type: ipAccessControlListMapping
                description: |
                  The request was successful, we updated the resource and the response
                  body contains the representation.
              '201':
                description: |
                  The request was successful, we created a new resource and the response
                  body contains the representation.
              '400':
                description: |
                  The data given in the POST or PUT failed validation. Inspect the response
                  body for details.
              '401':
                description: |
                  The supplied credentials, if any, are not sufficient to create or update
                  the resource.
              '404':
                description: NOT FOUND.
              '405':
                description: You can't POST or PUT to the resource.
              '429':
                description: Your application is sending too many simultaneous requests.
              '500':
                description: |
                  We couldn't return the representation due to an internal server error.
      '/IpAccessControlLists{mediaTypeExtension}':
        displayName: 'IpAccessControlLists{mediaTypeExtension}'
        uriParameters:
          mediaTypeExtension:
            required: true
            type: string
        get:
          displayName: GET_Accounts-AccountSid-SIP-IpAccessControlListsmediaTypeExtension
          description: Return a paged list of all IpAccessControlLists under this account.
          responses:
            '200':
              description: OK
        post:
          displayName: POST_Accounts-AccountSid-SIP-IpAccessControlListsmediaTypeExtension
          description: |
            Create a new IpAccessControlList resource.

            When created, the list will contain no IP addresses. You will need to add IP addresses to the list for it to be active. To add IP addresses, you will need to POST to the IpAddresses List subresource.
          responses:
            '201':
              body:
                application/xml:
                  type: ipAccessControlListMapping
              description: Created
    '/Calls{mediaTypeExtension}':
      displayName: 'Calls{mediaTypeExtension}'
      uriParameters:
        mediaTypeExtension:
          description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          required: true
          type: string
      post:
        displayName: POST_Accounts-AccountSid-CallsmediaTypeExtension
        description: 'To make a call, make an HTTP POST request. Initiate a new phone call.'
        responses:
          '200':
            description: |
              The request was successful, we updated the resource and the response
              body contains the representation.
          '201':
            body:
              application/xml:
                type: call
            description: |
              The request was successful, we created a new resource and the response
              body contains the representation.
          '400':
            description: |
              The data given in the POST or PUT failed validation. Inspect the response
              body for details.
          '401':
            description: |
              The supplied credentials, if any, are not sufficient to create or update
              the resource.
          '404':
            description: NOT FOUND.
          '405':
            description: You can't POST or PUT to the resource.
          '429':
            description: Your application is sending too many simultaneous requests.
          '500':
            description: |
              We couldn't return the representation due to an internal server error.
      get:
        displayName: GET_Accounts-AccountSid-CallsmediaTypeExtension
        description: 'Returns a list of phone calls made to and from the account identified by {AccountSid}.'
        responses:
          '200':
            body:
              application/xml:
                type: calls
            description: |
              The request was successful and the response body contains the representation
              requested.
          '302':
[...]
