#%RAML 1.0
title: Uploady
version: v1-beta
baseUri: 'https://content.uploady.com/v1/api'
protocols:
  - HTTPS
description: The Uploady API allows you to connect to the Uploady free online storage platform.
(oas-tags-definition):
  - description: Manage user
    name: users
  - description: Manage folders
    name: folders
  - description: Manage files
    name: files
  - description: Upload files
    name: upload
  - description: Synchronize files
    name: events
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_www.uploady.com_static_facebook-logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://www.uploady.com/v1/docs/api'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): uploady.com
/folders:
  displayName: folders
  get:
    displayName: GET_folders
    description: |-
      You can get multiple folders by joining id's with comma.<br/>
       To access this resource, scope `read.folder` is required.
    (oas-summary): Find folder
    responses:
      '200':
        body:
          application/json:
            type: Folders
        description: No response was specified
    queryParameters:
      id:
        description: ID of folder that needs to be fetched
        required: true
        type: string
    (oas-tags):
      - folders
  post:
    displayName: POST_folders
    description: |-
      Create new folder.<br/>
       To access this resource, scope `create.folder` is required.
    (oas-summary): Create folder
    body:
      multipart/form-data:
        properties:
          name:
            description: folder name
            required: true
            type: string
          parent_id:
            description: 'parent folder id, if id is not specified, root folder will be used instead.'
            required: false
            type: string
    responses:
      '200':
        body:
          application/json:
            type: Folders
        description: No response was specified
    (oas-tags):
      - folders
  put:
    displayName: PUT_folders
    description: |-
      You can update multiple folders by joining id's with comma. <br/>
       To access this resource, scope `update.folder` is required.
    (oas-summary): Update folder
    body:
      multipart/form-data:
        properties:
          id:
            description: ID of folder that needs to be updated
            required: true
            type: string
          name:
            description: folder name
            required: false
            type: string
          parent_id:
            description: parent folder id
            required: false
            type: string
    responses:
      '200':
        body:
          application/json:
            type: Folders
        description: No response was specified
    (oas-tags):
      - folders
  /children:
    displayName: children
    get:
      displayName: GET_folders-children
      description: 'To access this resource, scope `read.folder` is required.'
      (oas-summary): Find child files and folders
      responses:
        '200':
          body:
            application/json:
              type: Children
          description: No response was specified
      queryParameters:
        id:
          description: ID of parent folder
          required: true
          type: string
        get_files:
          description: set this to get child files
          required: false
          type: boolean
        get_folders:
          description: set this to get child folders
          required: false
          type: boolean
      (oas-tags):
        - folders
  /path:
    displayName: path
    get:
      displayName: GET_folders-path
      description: |-
        Folders are returned in strict order. From root folder to folder specified by id.<br/>

         To access this resource, scope `read.folder` is required.
      (oas-summary): Get full path to the folder
      responses:
        '200':
          body:
            application/json:
              type: Folders
          description: No response was specified
      queryParameters:
        id:
          description: folder id
          required: true
          type: string
      (oas-tags):
        - folders
  delete:
    displayName: DELETE_folders
    description: |-
      You can delete multiple folders by joining id's with comma.<br/>
       To access this resource, scope `delete.folder` is required.
    (oas-summary): Delete folder
    responses:
      '200':
        body:
          application/json:
            type: Folders
        description: No response was specified
    (oas-tags):
      - folders
/users:
  displayName: users
  /storage:
    displayName: storage
    get:
      displayName: GET_users-storage
      (oas-summary): Get user storage information.
      responses:
        '200':
          body:
            application/json:
              type: Storage
          description: No response was specified
      (oas-tags):
        - users
  /logout:
    displayName: logout
    post:
      displayName: POST_users-logout
      description: |-
        Logout user. User will be detached from access token. 
         Implicit grant does not provide a refresh token, but provided access token will be destroyed.
      (oas-summary): Destroy access and refresh tokens
      body:
        multipart/form-data:
          properties:
            refresh_token:
              description: Refresh token to be deleted
              required: false
              type: string
      responses:
        '200':
          body:
            application/json:
              type: Success
          description: No response was specified
      (oas-tags):
        - users
  post:
    displayName: POST_users
    description: |-
      This api is only available for clients with static type.<br/>
      Scope `register` is required.<br/>
      Access token can be created with `client credentials` grant type.<br/>
      This resource can not be accessed with cross origin request.
    (oas-summary): Static - Create new user
    body:
      multipart/form-data:
        properties:
          temporary:
            description: 'If set to true, temporary user will be created.'
            required: false
            type: boolean
    responses:
      '200':
        body:
          application/json:
            type: Users
        description: No response was specified
    queryParameters:
      include:
        description: 'Available values: storage,folders'
        required: false
        type: string
    (oas-tags):
      - users
/events:
  displayName: events
  get:
    displayName: GET_events
    description: |-
      There are two types of events: for folders and for files.<br/>
      All events will contain latest resource information about folder or file.
      If `folder` or `file` key is set to `null`, this means what this object was deleted.<br/>
      To access this resource, scope `read.events` is required.
    (oas-summary): Get events
    responses:
      '200':
        body:
          application/json:
            type: Events
        description: No response was specified
    queryParameters:
      root_id:
        description: Get events for root folder
        required: true
        type: string
      last_event_id:
        description: ID of last known event id
        required: false
        type: string
      include:
        description: 'Available values: links'
        required: false
        type: string
    (oas-tags):
      - events
/files:
  displayName: files
  get:
    displayName: GET_files
    description: |-
      You can get multiple files by joining id's with comma.<br/>
       To access this resource, scope `read.file` is required.
    (oas-summary): Find files
    responses:
      '200':
        body:
          application/json:
            type: Files
        description: No response was specified
    queryParameters:
      id:
        description: ID of file that needs to be fetched
        required: true
        type: string
      include:
        description: 'Available values: links'
        required: false
        type: string
    (oas-tags):
      - files
  /link:
    displayName: link
    post:
      displayName: POST_files-link
      description: |-
        You can get multiple links by joining id's with comma.<br/>
         To access this resource, scope `read.file` is required.
      (oas-summary): Get download link
      body:
        multipart/form-data:
          properties:
            id:
              description: file id
              required: true
              type: string
      responses:
        '200':
          body:
            application/json:
              type: FilesLinks
          description: No response was specified
      (oas-tags):
        - files
  /share:
    displayName: share
    get:
      displayName: GET_files-share
      description: |-
        Get shared emails.<br/>
         To access this resource, scope `share.file` is required.
      (oas-summary): Get shared emails
      responses:
        '200':
          body:
            application/json:
              type: FileShare
          description: No response was specified
      queryParameters:
        id:
          description: file id
          required: true
          type: string
      (oas-tags):
        - files
    post:
      displayName: POST_files-share
      description: |-
        Be sure that user is verified.<br/>
         To access this resource, scope `share.file` is required.
      (oas-summary): Share file via email
      body:
        multipart/form-data:
          properties:
            id:
              description: file id
              required: true
              type: string
            email:
              description: email address
              required: true
              type: string
      responses:
        '200':
          body:
            application/json:
              type: FileShare
          description: No response was specified
      (oas-tags):
        - files
    delete:
      displayName: DELETE_files-share
      description: |-
        Delete shared email.<br/>
        To access this resource, scope `share.file` is required.
      (oas-summary): Delete shared email
      responses:
        '200':
          body:
            application/json:
              type: Success
          description: No response was specified
        '403':
          description: You do not have permission to access this file
        '404':
          description: File not found
      (oas-tags):
        - files
  put:
    displayName: PUT_files
    description: |-
      You can update multiple files by joining id's with comma. <br/>
      To access this resource, scope `update.file` is required.
    (oas-summary): Update files information
    body:
      multipart/form-data:
        properties:
          id:
            description: ID of file
            required: true
            type: string
          name:
            description: rename file
            required: false
            type: string
          folder_id:
            description: move file to folder
            required: false
            type: string
          copy:
            description: 'if set to true, file will be copied.'
            required: false
            type: boolean
          share_link_enabled:
            description: 'if set to true, file will be shared.'
            required: false
            type: boolean
    responses:
      '200':
        body:
          application/json:
            type: Files
        description: No response was specified
      '403':
        description: You do not have permission to access this folder
    (oas-tags):
      - files
  delete:
    displayName: DELETE_files
    description: |-
      File will be permanently deleted, recovery is not possible. You can delete multiple files by joining id's with comma. <br/>
      To access this resource, scope `delete.file` is required.
    (oas-summary): Delete files
    responses:
      '200':
        body:
          application/json:
            type: Success
        description: No response was specified
      '404':
        description: No files were found
    (oas-tags):
      - files
/upload:
  displayName: upload
  post:
    displayName: POST_upload
    description: |-
      Files are uploaded to https://content.uploady.com/v1/api/upload.<br/>
                          To access this resource, scope `create.file` is required.
    (oas-summary): Upload files
    body:
      multipart/form-data:
        properties:
          file:
            description: file to store
            required: true
            type: file
          folder_id:
            description: 'ID of parent folder, there file will be stored. If not passed, files will be stored in app root folder.'
            type: string
            required: false
          file_name:
            description: File name
            type: string
            required: false
          file_id:
            description: ID of file that needs to be updated. Should be sent as form data.
            type: string
            required: false
          share_link_enabled:
            description: 'if set to true, file will be shared.'
            type: boolean
            required: false
    responses:
      '200':
        body:
          application/json:
            type: Files
        description: No response was specified
    (oas-tags):
      - upload
types:
  Children:
    properties:
      files:
        items:
          type: File
        type: array
        uniqueItems: true
        required: false
      folders:
        items:
          type: Folder
        type: array
        uniqueItems: true
        required: false
  Event:
    description: Event information
    properties:
      file:
        type: File
        required: false
      file_id:
        type: string
        required: false
      folder:
        type: Folder
        required: false
      folder_id:
        type: string
        required: false
      id:
        type: string
      root_id:
        type: string
      time:
        type: integer
      type:
        type: string
        required: false
      user:
        type: string
  Events:
    properties:
      events:
        items:
          type: Event
        type: array
        uniqueItems: true
  File:
    description: File information
    properties:
      extension:
        type: string
      id:
        type: string
      mime_type:
        type: string
      name:
        type: string
      parent_folder:
        type: string
      sha1:
        type: string
      share_enabled:
        type: boolean
        required: false
      share_link:
        type: string
        required: false
      share_link_enabled:
        type: boolean
        required: false
      share_password:
        type: string
        required: false
      share_url:
        type: string
        required: false
      size:
        format: int64
        type: integer
      time:
        type: integer
  FileLink:
    description: Get file download url
    properties:
      direct_link:
        type: string
      id:
        type: string
  FileShare:
    properties:
      emails:
        items:
          type: FileShareEmail
        type: array
        uniqueItems: true
  FileShareEmail:
    properties:
      email:
        type: string
      id:
        type: string
  Files:
    properties:
      files:
        items:
          type: File
        type: array
        uniqueItems: true
  FilesLinks:
    properties:
      links:
        items:
          type: FileLink
        type: array
        uniqueItems: true
  Folder:
    description: Folder information
    properties:
      has_folders:
        type: boolean
      id:
        type: string
      name:
        type: string
      parent_folder:
        type: string
        required: false
      time:
        type: integer
      type:
        type: string
        required: false
  Folders:
    properties:
      folders:
        items:
          type: Folder
        type: array
        uniqueItems: true
  Storage:
    properties:
      storage:
        items:
          type: StorageData
        type: array
  StorageData:
    properties:
      storage_limit:
        type: integer
      used_storage_size:
        type: integer
  Success:
    properties:
      success:
        type: boolean
  User:
    description: User information.
    properties:
      display_name:
        type: string
      email:
        type: string
      family_name:
        type: string
      given_name:
        type: string
      group:
        type: string
      links:
        items:
          type: UserLinks
        type: array
        uniqueItems: true
      new_user:
        type: boolean
      verified:
        type: boolean
  UserLinks:
    properties:
      root_folder:
        type: string
      trash_folder:
        type: string
  Users:
    properties:
      users:
        items:
          type: User
        type: array
        uniqueItems: true
