#%RAML 1.0
title: VersionEye
version: v2
baseUri: 'https://www.versioneye.com/api'
protocols:
  - HTTPS
description: VersionEye is a cross-platform search engine for free/libre/open source software libraries.
(oas-tags-definition):
  - name: github
  - name: me
  - name: organisations
  - name: products
  - name: projects
  - name: security
  - name: services
  - name: sessions
  - name: users
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_versioneye.files.wordpress.com_2015_05_versioneyetransparent.png'
  (oas-x-origin):
    format: swagger
    url: 'https://www.versioneye.com/api/v2/swagger_doc.json'
    version: '1.1'
  (oas-x-preferred): true
  (oas-x-providerName): versioneye.com
/v2:
  displayName: v2
  /products:
    displayName: products
    '/{lang}':
      displayName: '{lang}'
      '/{prod_key}':
        displayName: '{prod_key}'
        '/{prod_version}':
          displayName: '{prod_version}'
          /scm_changes:
            displayName: scm_changes
            post:
              displayName: POST--version-products--lang--prod_key--prod_version-scm_changes---format-
              description: |+

                <p>This resource can parse a changelog.xml from the maven-changelog-plugin, assign
                it to a specific artifact and display the changelog infos on the product page.</p>

                <p>Please replace all slashes <code>/</code> through colons <code>:</code> and all dots <code>.</code> through <code>~</code>!</p>

                <p>Example: The clojure package <code>yummy.json/json</code> has to be transformed to  <code>yummy~json:json</code>.</p>

                <h4 id="notes-about-status-codes">Notes about status codes</h4>

                <p>It will respond 404, when you are using wrong product key or encode it uncorrectly.</p>

              (oas-summary): upload scm changelogs to an artifact
              body:
                multipart/form-data:
                  properties:
                    scm_changes_file:
                      description: changelog.xml
                      required: true
                      type: file
              responses:
                '200':
                  description: No response was specified
              (oas-tags):
                - products
        uriParameters:
          prod_key:
            description: '"Encoded product key, replace all `/` and `.`'
            required: true
            type: string
        get:
          displayName: GET--version-products--lang--prod_key---format-
          description: |+

            <p>Please replace all slashes <code>/</code> through colons <code>:</code> and all dots <code>.</code> through <code>~</code>!</p>

            <p>Example: The clojure package <code>yummy.json/json</code> has to be transformed to  <code>yummy~json:json</code>.</p>

            <h4 id="notes-about-status-codes">Notes about status codes</h4>

            <ul>
              <li>
                <p>API returns 404, when the product with given product key doesnt exists.</p>
              </li>
              <li>
                <p>Response 302 means that you didnt encode prod_key correctly.* (Replace all dots &amp; slashes ) *</p>
              </li>
            </ul>

          (oas-summary): detailed information for specific package
          responses:
            '200':
              description: No response was specified
          queryParameters:
            prod_version:
              description: '"Version string"'
              required: false
              type: string
          (oas-tags):
            - products
        /follow:
          displayName: follow
          get:
            displayName: GET--version-products--lang--prod_key-follow---format-
            description: |+

              <p>Please replace all slashes <code>/</code> through colons <code>:</code> and all dots <code>.</code> through <code>~</code>!</p>

              <p>Example: The clojure package <code>yummy.json/json</code> has to be transformed to  <code>yummy~json:json</code>.</p>

              <h4 id="notes-about-status-codes">Notes about status codes</h4>

              <p>This resource will returns the status code 404 if there is no product
              for the given prod_key.</p>

            (oas-summary): check your following status
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - products
          delete:
            displayName: DELETE--version-products--lang--prod_key-follow---format-
            description: |+

              <p>Please replace all slashes <code>/</code> through colons <code>:</code> and all dots <code>.</code> through <code>~</code>!</p>

              <p>Example: The clojure package <code>yummy.json/json</code> has to be transformed to  <code>yummy~json:json</code>.</p>

              <h4 id="response-codes">Response codes</h4>

              <ul>
                <li>400 - bad request; you used wrong product key;</li>
                <li>401 - unauthorized - please append api_key</li>
                <li>403 - forbidden; you are not authorized; or just missed api_key;</li>
              </ul>

            (oas-summary): unfollow given software package
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - products
          post:
            displayName: POST--version-products--lang--prod_key-follow---format-
            description: |+

              <p>Please replace all slashes <code>/</code> through colons <code>:</code> and all dots <code>.</code> through <code>~</code>!</p>

              <p>Example: The clojure package <code>yummy.json/json</code> has to be transformed to  <code>yummy~json:json</code>.</p>

              <h4 id="notes-about-status-codes">Notes about status codes</h4>

              <p>It will respond 404, when you are using wrong product key or encode it uncorrectly.</p>

            (oas-summary): follow your favorite software package
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - products
        /references:
          displayName: references
          get:
            displayName: GET--version-products--lang--prod_key-references---format-
            description: |+

              <p>It returns the references of a package.</p>

              <p>Please replace all slashes <code>/</code> through colons <code>:</code> and all dots <code>.</code> through <code>~</code>!</p>

              <p>Example: The clojure package <code>yummy.json/json</code> has to be transformed to  <code>yummy~json:json</code>.</p>

              <h4 id="notes-about-status-codes">Notes about status codes</h4>

              <p>This resource will return the status code 404 if there is no product for
              the given prod_key or the product has 0 references.</p>

            (oas-summary): references
            responses:
              '200':
                description: No response was specified
            queryParameters:
              page:
                description: Page for paging
                required: false
                type: integer
            (oas-tags):
              - products
        /versions:
          displayName: versions
          get:
            displayName: GET--version-products--lang--prod_key-versions---format-
            description: |+

              <p>Please replace all slashes <code>/</code> through colons <code>:</code> and all dots <code>.</code> through <code>~</code>!</p>

              <p>Example: The clojure package <code>yummy.json/json</code> has to be transformed to  <code>yummy~json:json</code>.</p>

              <h4 id="notes-about-status-codes">Notes about status codes</h4>

              <ul>
                <li>
                  <p>API returns 404, when the product with given product key doesnt exists.</p>
                </li>
                <li>
                  <p>Response 302 means that you didnt encode prod_key correctly.* (Replace all dots &amp; slashes ) *</p>
                </li>
              </ul>

            (oas-summary): list versions of a package
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - products
    /search:
      displayName: search
      '/{q}':
        displayName: '{q}'
        uriParameters:
          q:
            description: Query string. At least 2 characters.
            required: true
            type: string
        get:
          displayName: GET--version-products-search--q---format-
          description: |+

            <p>This resource returns same results as our web application. But you get it as JSON objects -
            the result is an JSON array of product objects.</p>

            <p>When there’s no match for the query, the result array will be empty.</p>

          (oas-summary): search packages
          responses:
            '200':
              description: No response was specified
          queryParameters:
            lang:
              description: |-
                Filter results by programming languages;
                                                  For filtering multiple languages submit a comma separated list of language strings.
                                                
              required: false
              type: string
            g:
              description: Filter by GroupID. This is Java/Maven specific
              required: false
              type: string
            page:
              description: Specify page for paging
              required: false
              type: integer
          (oas-tags):
            - products
  /users:
    displayName: users
    '/{username}':
      displayName: '{username}'
      /favorites:
        displayName: favorites
        get:
          displayName: GET--version-users--username-favorites---format-
          (oas-summary): shows user's favorite packages
          responses:
            '200':
              description: No response was specified
          queryParameters:
            page:
              description: Pagination number
              required: false
              type: integer
          (oas-tags):
            - users
      /comments:
        displayName: comments
        get:
          displayName: GET--version-users--username-comments---format-
          (oas-summary): shows user's comments
          responses:
            '200':
              description: No response was specified
          queryParameters:
            page:
              description: pagination number
              required: false
              type: integer
          (oas-tags):
            - users
      uriParameters:
        username:
          description: username
          required: true
          type: string
      get:
        displayName: GET--version-users--username---format-
        (oas-summary): shows profile of given user_id
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - users
  /projects:
    displayName: projects
    get:
      displayName: GET--version-projects---format-
      description: |+

        <p>To use this resource you need either an active session or you have to append
        your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

      (oas-summary): list of projects
      responses:
        '200':
          description: No response was specified
      queryParameters:
        orga_name:
          description: The name of the organisation the project is assigned to.
          required: false
          type: string
        team_name:
          description: The name of the team in the organisation this project is assigned to.
          required: false
          type: string
      (oas-tags):
        - projects
    post:
      displayName: POST--version-projects---format-
      description: |+

        <p>To use this resource you need either an active session or you have to append
        your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

      (oas-summary): upload project file and create a new project
      body:
        multipart/form-data:
          properties:
            upload:
              description: 'Project file - [maven.pom, Gemfile ...]'
              required: true
              type: file
            visibility:
              description: By default 'public'. If 'public' everybody can see the project.
              required: false
              type: string
            name:
              description: The name of the VersionEye project. By default it is the filename.
              required: false
              type: string
            orga_name:
              description: The name of the organisation this project should be assigned to.
              required: false
              type: string
            team_name:
              description: The name of the team in the organisation this project should be assigned to.
              required: false
              type: string
            temp:
              description: If 'true' this project will not show up in the UI and gets removed later.
              required: false
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - projects
    '/{group_id}':
      displayName: '{group_id}'
      '/{artifact_id}':
        displayName: '{artifact_id}'
        /merge_ga:
          displayName: merge_ga
          '/{child_id}':
            displayName: '{child_id}'
            uriParameters:
              child_id:
                description: Project ID of the child
                required: true
                type: string
            get:
              displayName: GET--version-projects--group_id--artifact_id-merge_ga--child_id---format-
              description: |+

                <p>This endpoint merges a project (child_id) into another project (group_id/artifact_id).
                This endpoint is specially for Maven based projects!
                To use this resource you need either an active session or you have to append
                your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

              (oas-summary): merge a project into another one
              responses:
                '200':
                  description: No response was specified
              (oas-tags):
                - projects
    '/{parent_id}':
      displayName: '{parent_id}'
      /merge:
        displayName: merge
        '/{child_id}':
          displayName: '{child_id}'
          uriParameters:
            child_id:
              description: Project ID of the child
              required: true
              type: string
          get:
            displayName: GET--version-projects--parent_id-merge--child_id---format-
            description: |+

              <p>This endpoint merges a project (child_id) into another project (parent_id).
              To use this resource you need either an active session or you have to append
              your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

            (oas-summary): merge a project into another one
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - projects
      /unmerge:
        displayName: unmerge
        '/{child_id}':
          displayName: '{child_id}'
          uriParameters:
            child_id:
              description: Project ID of the child
              required: true
              type: string
          get:
            displayName: GET--version-projects--parent_id-unmerge--child_id---format-
            description: |+

              <p>This endpoint unmerges a project (child_id) from another project (parent_id). It makes the
              chilld again a separate project!
              To use this resource you need either an active session or you have to append
              your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

            (oas-summary): unmerge a project
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - projects
    '/{project_key}':
      displayName: '{project_key}'
      uriParameters:
        project_key:
          description: Project ID
          required: true
          type: string
      delete:
        displayName: DELETE--version-projects--project_key---format-
        description: |+

          <p>To use this resource you need either an active session or you have to append
          your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

        (oas-summary): delete given project
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - projects
      get:
        displayName: GET--version-projects--project_key---format-
        description: |
          <p>It shows detailed info of your project.</p>
        (oas-summary): shows the project's information
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - projects
      post:
        displayName: POST--version-projects--project_key---format-
        description: |+

          <p>To use this resource you need either an active session or you have to append
          your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

        (oas-summary): update project with new file
        body:
          multipart/form-data:
            properties:
              project_file:
                description: 'Project file - [maven.pom, Gemfile ...]'
                required: true
                type: file
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - projects
      /licenses:
        displayName: licenses
        get:
          displayName: GET--version-projects--project_key-licenses---format-
          description: |+

            <p>To use this resource you need either an active session or you have to append
            your API Key to the URL as parameter. For example: “?api_key=666_your_api_key_666”</p>

          (oas-summary): get grouped view of licences for dependencies
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - projects
  /github:
    displayName: github
    get:
      displayName: GET--version-github---format-
      description: |+

        <p>This endpoint shows all imported repositories from your Github account.</p>

        <p>This enpoint expects that you have a GitHub account connected and the token
        is still valid. If that is not the case please visit <strong>https://www.versioneye.com/settings/connect</strong>.
        to update your GitHub credentials.</p>

        <p>If it shows no or old data, then you can use the <code>github/sync</code> endpoint
        to update your account with the current meta data from GitHub.</p>

      (oas-summary): lists your's github repos
      responses:
        '200':
          description: No response was specified
      queryParameters:
        lang:
          description: Filter by language
          required: false
          type: string
        private:
          description: Filter by visibility
          required: false
          type: boolean
        org_name:
          description: Filter by name of organization
          required: false
          type: string
        org_type:
          description: Filter by type of organization
          required: false
          type: string
        page:
          description: Number of page
          required: false
          type: string
        only_imported:
          description: Show only imported repositories
          required: false
          type: boolean
      (oas-tags):
        - github
    /sync:
      displayName: sync
      get:
        displayName: GET--version-github-sync---format-
        description: |+

          <p>Reimports ALL GitHub Repositories. This Endpoint fetches meta information to all
          repositories in your GitHub account. Meta information such as repo name, branches and
          supported project files.</p>

          <p>This endpoint works asynchronously and returns a status code. The status code is either
          <strong>running</strong> or <strong>done</strong>.</p>

        (oas-summary): re-load github data
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - github
    '/{repo_key}':
      displayName: '{repo_key}'
      uriParameters:
        repo_key:
          description: encoded repo-key
          required: true
          type: string
      get:
        displayName: GET--version-github--repo_key---format-
        description: |+

          <p>This Endpoint returns detailed information about a GitHub repository.</p>

          <p>Due the limits of our current API framework, the repo key has to be
          encoded as url-safe string. That means all ‘/’ has to be replaced with
          colons ‘:’ and ‘.’ has to be replaced with ‘~’.</p>

          <p>For example,  repository with fullname <code>versioneye/veye</code> has to transformed
          to <code>versioneye:veye</code>.</p>

        (oas-summary): shows the detailed information for the repository
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - github
      post:
        displayName: POST--version-github--repo_key---format-
        description: |+

          <p>Use this Endpoint to import a project file from GitHub. This will create a new project on VersionEye.</p>

          <p>Due the limits of our current API framework, the repo key has to be
          encoded as url-safe string. That means all ‘/’ has to be replaced with
          colons ‘:’ and ‘.’ has to be replaced with ‘~’.</p>

          <p>For example,  repository with fullname <code>versioneye/veye</code> has to transformed
          to <code>versioneye:veye</code>.</p>

        (oas-summary): imports project file from github
        body:
          multipart/form-data:
            properties:
              branch:
                description: the name of the branch
                required: false
                type: string
              file:
                description: the project file (default is Gemfile)
                required: false
                type: string
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - github
      delete:
        displayName: DELETE--version-github--repo_key---format-
        description: |+

          <p>This Endpoint deletes a project on VersionEye!</p>

          <p>Due the limits of our current API framework, the repo key has to be
          encoded as url-safe string. That means all ‘/’ has to be replaced with
          colons ‘:’ and ‘.’ has to be replaced with ‘~’.</p>

          <p>For example,  repository with fullname <code>versioneye/veye</code> has to transformed
          to <code>versioneye:veye</code>.</p>

        (oas-summary): remove imported project
        responses:
          '200':
            description: No response was specified
        queryParameters:
          branch:
            description: the name of the branch
            required: false
            type: string
        (oas-tags):
          - github
    /hook:
      displayName: hook
      '/{project_id}':
        displayName: '{project_id}'
        uriParameters:
          project_id:
            description: Project ID
            required: true
            type: string
        post:
          displayName: POST--version-github-hook--project_id---format-
          description: |
            <p>This endpoint is registered as service hook on GitHub. It triggers a project re-parse on each git push.</p>
          (oas-summary): github service hook
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - github
  /me:
    displayName: me
    get:
      displayName: GET--version-me---format-
      description: |+

        <p>On Swagger, you can create session by adding additional parameter :api_key.</p>

      (oas-summary): shows profile of authorized user
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - me
    /favorites:
      displayName: favorites
      get:
        displayName: GET--version-me-favorites---format-
        (oas-summary): shows the packages you are following
        responses:
          '200':
            description: No response was specified
        queryParameters:
          page:
            description: page number for pagination
            required: false
            type: integer
        (oas-tags):
          - me
    /notifications:
      displayName: notifications
      get:
        displayName: GET--version-me-notifications---format-
        description: |+

          <p>This Endpoint returns the 30 latest notifications.</p>

          <p>If there are new versions out there for software packages you follow directly on VersionEye, then
          each new version is a new <strong>notification</strong> for your account.</p>

        (oas-summary): shows unread notifications of authorized user
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - me
    /comments:
      displayName: comments
      get:
        displayName: GET--version-me-comments---format-
        (oas-summary): shows comments of authorized user
        responses:
          '200':
            description: No response was specified
        queryParameters:
          page:
            description: page number for pagination
            required: false
            type: integer
        (oas-tags):
          - me
  /organisations:
    displayName: organisations
    '/{orga_name}':
      displayName: '{orga_name}'
      /inventory:
        displayName: inventory
        get:
          displayName: GET--version-organisations--orga_name-inventory---format-
          description: |+

            <p>Find a detailed description here: https://github.com/versioneye/versioneye-api/blob/master/docs/api/v2/organisation.md</p>

          (oas-summary): Returns the inventory list of the organisation
          responses:
            '200':
              description: No response was specified
          queryParameters:
            team_name:
              description: Filter by team name
              required: false
              type: string
            language:
              description: Filter by programming language
              required: false
              type: string
            project_version:
              description: Filter down by project version
              required: false
              type: string
            post_filter:
              description: 'Post processing filter. Possible values are ''ALL'', ''duplicates_only'', ''show_duplicates'''
              required: false
              type: string
          (oas-tags):
            - organisations
  /security:
    displayName: security
    get:
      displayName: GET--version-security---format-
      (oas-summary): Security Vulnerabilities
      responses:
        '200':
          description: No response was specified
      queryParameters:
        language:
          description: Filter by programming languages
          required: true
          type: string
        prod_key:
          description: prod_key of the package
          required: false
          type: string
        page:
          description: Specify page for paging
          required: false
          type: integer
        asc_sort:
          description: Asc sort by value
          required: false
          type: string
        desc_sort:
          description: Desc sort by value
          required: false
          type: string
      (oas-tags):
        - security
  /services:
    displayName: services
    /ping:
      displayName: ping
      get:
        displayName: GET--version-services-ping---format-
        (oas-summary): Answers to request with basic pong.
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - services
  /sessions:
    displayName: sessions
    delete:
      displayName: DELETE--version-sessions---format-
      description: |
        <p>Close current session. It’s very handy method when you re-generated
                          your current API-key.</p>
      (oas-summary): delete current session aka log out.
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - sessions
    post:
      displayName: POST--version-sessions---format-
      description: |
        <p>You need to append your api_key to request.</p>
      (oas-summary): creates new sessions
      body:
        multipart/form-data:
          properties:
            api_key:
              description: your personal token for API.
              required: true
              type: string
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - sessions
    get:
      displayName: GET--version-sessions---format-
      description: |+
        <p>If current user has active session, then this
                        method will return 200 with short user profile.
                        For othercase, it will return error message with status code 401.</p>

      (oas-summary): returns session info for authorized users
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - sessions
