#%RAML 1.0
title: CitySDK Linked Data
version: v1
baseUri: 'http://api.citysdk.waag.org/'
mediaType:
  - application/json
  - application/ld+json
protocols:
  - HTTP
description: 'An API for the distribution and annotation of open data, for small cities and big metropolitan areas.'
(oas-tags-definition):
  - description: Operations about layers
    name: layers
  - description: Operations about ngsi10s
    name: ngsi10
  - description: Operations about objects
    name: objects
  - description: Operations about owners
    name: owners
  - description: Operations about sessions
    name: session
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_citysdk.waag.org_images_logo.svg'
  (oas-x-origin):
    format: swagger
    url: 'http://api.citysdk.waag.org/swagger'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): waag.org
/ngsi10:
  displayName: ngsi10
  /contextEntityTypes:
    displayName: contextEntityTypes
    '/{cetype}':
      displayName: '{cetype}'
      /attributes:
        displayName: attributes
        '/{attribute}':
          displayName: '{attribute}'
          uriParameters:
            attribute:
              required: true
              type: string
          get:
            displayName: GET-ngsi10-contextEntityTypes--cetype-attributes--attribute---format-
            (oas-summary): Return objects of particular type
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - ngsi10
      uriParameters:
        cetype:
          required: true
          type: string
      get:
        displayName: GET-ngsi10-contextEntityTypes--cetype---format-
        (oas-summary): Return objects of particular type
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - ngsi10
  /queryContext:
    displayName: queryContext
    post:
      displayName: POST-ngsi10-queryContext---format-
      (oas-summary): Query context broker for contextElements
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - ngsi10
  /subscribeContext:
    displayName: subscribeContext
    post:
      displayName: POST-ngsi10-subscribeContext---format-
      (oas-summary): Create a new context subscription
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - ngsi10
  /unsubscribeContext:
    displayName: unsubscribeContext
    post:
      displayName: POST-ngsi10-unsubscribeContext---format-
      (oas-summary): Delete a context subscription
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - ngsi10
  /updateContext:
    displayName: updateContext
    post:
      displayName: POST-ngsi10-updateContext---format-
      (oas-summary): Add or update NGSI contextElements
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - ngsi10
  /updateContextSubscription:
    displayName: updateContextSubscription
    post:
      displayName: POST-ngsi10-updateContextSubscription---format-
      (oas-summary): Update/edit a context subscription
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - ngsi10
  /contextEntities:
    displayName: contextEntities
    '/{entity}':
      displayName: '{entity}'
      /attributes:
        displayName: attributes
        put:
          displayName: PUT-ngsi10-contextEntities--entity-attributes---format-
          (oas-summary): Update attributes for single context entity
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - ngsi10
        '/{attribute}':
          displayName: '{attribute}'
          uriParameters:
            attribute:
              required: true
              type: string
          get:
            displayName: GET-ngsi10-contextEntities--entity-attributes--attribute---format-
            (oas-summary): Return single context entity attribute
            responses:
              '200':
                description: No response was specified
            (oas-tags):
              - ngsi10
      uriParameters:
        entity:
          required: true
          type: string
      get:
        displayName: GET-ngsi10-contextEntities--entity---format-
        (oas-summary): Return single context entity
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - ngsi10
/session:
  displayName: session
  get:
    displayName: GET-session---format-
    (oas-summary): Return a session key
    responses:
      '200':
        description: No response was specified
    queryParameters:
      name:
        description: Login name.
        required: true
        type: string
        displayName: Login name.
      password:
        description: Login password.
        required: true
        type: string
        displayName: Login password.
    (oas-tags):
      - session
  delete:
    displayName: DELETE-session---format-
    (oas-summary): Close session
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - session
/layers:
  displayName: layers
  get:
    displayName: GET-layers---format-
    (oas-summary): Return all layers
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - layers
  '/{layer}':
    displayName: '{layer}'
    uriParameters:
      layer:
        required: true
        type: string
    delete:
      displayName: DELETE-layers--layer---format-
      (oas-summary): Delete a layer
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - layers
    patch:
      displayName: PATCH-layers--layer---format-
      (oas-summary): Edit a layer
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - layers
    /context:
      displayName: context
      put:
        displayName: PUT-layers--layer-context---format-
        (oas-summary): Overwrite JSON-LD context of single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
      get:
        displayName: GET-layers--layer-context---format-
        (oas-summary): Return JSON-LD context of single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
    /fields:
      displayName: fields
      post:
        displayName: POST-layers--layer-fields---format-
        (oas-summary): Create new field for single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
      '/{field}':
        displayName: '{field}'
        uriParameters:
          field:
            required: true
            type: string
        get:
          displayName: GET-layers--layer-fields--field---format-
          (oas-summary): Return single field of single layer
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - layers
        put:
          displayName: PUT-layers--layer-fields--field---format-
          (oas-summary): Overwrite single field on single layer
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - layers
        patch:
          displayName: PATCH-layers--layer-fields--field---format-
          (oas-summary): Edit single field on single layer
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - layers
        delete:
          displayName: DELETE-layers--layer-fields--field---format-
          (oas-summary): Delete a single field on single layer
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - layers
      get:
        displayName: GET-layers--layer-fields---format-
        (oas-summary): Return all fields of single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
    /objects:
      displayName: objects
      get:
        displayName: GET-layers--layer-objects---format-
        (oas-summary): Return all objects with data on single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
      post:
        displayName: POST-layers--layer-objects---format-
        (oas-summary): 'Create one or more objects with data on single layer, or add data to existing objects (or a combination thereof)'
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
      patch:
        displayName: PATCH-layers--layer-objects---format-
        (oas-summary): Edit one or more objects and data on single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
      delete:
        displayName: DELETE-layers--layer-objects---format-
        (oas-summary): Delete all objects from a single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
      '/{cdk_id}':
        displayName: '{cdk_id}'
        uriParameters:
          cdk_id:
            required: true
            type: string
        get:
          displayName: GET-layers--layer-objects--cdk_id---format-
          (oas-summary): 'Return metadata of single layer about single object, e.g. the date the data was added/modified, etc.'
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - layers
    /owners:
      displayName: owners
      get:
        displayName: GET-layers--layer-owners---format-
        (oas-summary): Return all owners associated with single layer
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - layers
    get:
      displayName: GET-layers--layer---format-
      (oas-summary): Return single layer
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - layers
  post:
    displayName: POST-layers---format-
    (oas-summary): Create new layer
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - layers
/objects:
  displayName: objects
  get:
    displayName: GET-objects---format-
    (oas-summary): Return all objects
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - objects
  '/{cdk_id}':
    displayName: '{cdk_id}'
    uriParameters:
      cdk_id:
        required: true
        type: string
    delete:
      displayName: DELETE-objects--cdk_id---format-
      (oas-summary): Delete a single object
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - objects
    get:
      displayName: GET-objects--cdk_id---format-
      (oas-summary): Get a single object
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - objects
    patch:
      displayName: PATCH-objects--cdk_id---format-
      (oas-summary): Edit a single object
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - objects
    /layers:
      displayName: layers
      get:
        displayName: GET-objects--cdk_id-layers---format-
        (oas-summary): Get all layers that contain data of single object
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - objects
      '/{layer}':
        displayName: '{layer}'
        uriParameters:
          layer:
            required: true
            type: string
        delete:
          displayName: DELETE-objects--cdk_id-layers--layer---format-
          (oas-summary): Remove data on layer from single object
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - objects
        get:
          displayName: GET-objects--cdk_id-layers--layer---format-
          (oas-summary): Return all data on single layer of single object
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - objects
        patch:
          displayName: PATCH-objects--cdk_id-layers--layer---format-
          (oas-summary): Update data on layer to single object
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - objects
        post:
          displayName: POST-objects--cdk_id-layers--layer---format-
          (oas-summary): Add data on layer to single object
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - objects
        put:
          displayName: PUT-objects--cdk_id-layers--layer---format-
          (oas-summary): Overwrite data on layer to single object
          responses:
            '200':
              description: No response was specified
          (oas-tags):
            - objects
/owners:
  displayName: owners
  get:
    displayName: GET-owners---format-
    (oas-summary): Return all owners
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - owners
  post:
    displayName: POST-owners---format-
    (oas-summary): Create new owner
    responses:
      '200':
        description: No response was specified
    (oas-tags):
      - owners
  '/{owner}':
    displayName: '{owner}'
    uriParameters:
      owner:
        required: true
        type: string
    delete:
      displayName: DELETE-owners--owner---format-
      (oas-summary): Delete owner - and all layers and data belonging to this owner
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - owners
    /layers:
      displayName: layers
      get:
        displayName: GET-owners--owner-layers---format-
        (oas-summary): Return all layers belonging to a single owner
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - owners
    patch:
      displayName: PATCH-owners--owner---format-
      (oas-summary): Edit an owner
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - owners
    get:
      displayName: GET-owners--owner---format-
      (oas-summary): Get a single owner
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - owners
