#%RAML 1.0
title: watchful.li
version: 1.0.0
baseUri: 'https://watchful.li/api/v1'
protocols:
  - HTTPS
(oas-tags-definition):
  - description: Operations about audits
    name: audits
  - description: Operations about extensions
    name: extensions
  - description: Operations about feedbacks
    name: feedbacks
  - description: Operations about logs
    name: logs
  - description: Operations about packages
    name: packages
  - description: Create reports in PDF
    name: reports
  - description: Operations about sites
    name: sites
  - description: Operations about SsoUser
    name: ssousers
  - description: Operations about tags
    name: tags
  - description: Operations about versions
    name: versions
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    backgroundColor: '#1B4E65'
    url: 'https://api.apis.guru/v2/cache/logo/https_d2071nnd6m4201.cloudfront.net_templates_balloon_images_logo.svg'
  (oas-x-origin):
    format: swagger
    url: 'https://watchful.li/api/v1/api-docs/'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): watchful.li
(oas-externalDocs):
  url: 'https://watchful.li/faqs/tools/watchful-rest-api.html'
/sites:
  displayName: sites
  '/{id}':
    displayName: '{id}'
    /backupprofiles:
      displayName: backupprofiles
      get:
        displayName: GET_sites-id-backupprofiles
        description: Return backup profile
        (oas-summary): Return backup profile
        responses:
          '200':
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /backups:
      displayName: backups
      get:
        displayName: GET_sites-id-backups
        description: List of latest backups
        (oas-summary): List of latest backups
        responses:
          '200':
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /backupstart:
      displayName: backupstart
      post:
        displayName: POST_sites-id-backupstart
        description: Start a remote backup for the site
        (oas-summary): Start a remote backup for the site
        responses:
          '200':
            body:
              application/json:
                type: Site
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /backupstep:
      displayName: backupstep
      post:
        displayName: POST_sites-id-backupstep
        description: Step (continue) a remote backup for the site
        (oas-summary): Step (continue) a remote backup for the site
        responses:
          '200':
            body:
              application/json:
                type: Site
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /extensions:
      displayName: extensions
      get:
        displayName: GET_sites-id-extensions
        description: Get extensions for a site
        (oas-summary): Get extensions for a site
        responses:
          '200':
            body:
              application/json:
                type: Extension
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid
        queryParameters:
          fields:
            description: 'Fields to return separate by comas: name,id'
            required: false
            type: string
          limit:
            description: 'Number of object to return (max 100, default 25)'
            format: int64
            minimum: 1
            required: false
            type: integer
          limitstart:
            description: Start of the return (default 0)
            format: int64
            minimum: 0
            required: false
            type: integer
          order:
            description: ORDER by this field
            required: false
            type: string
        (oas-tags):
          - sites
      post:
        displayName: POST_sites-id-extensions
        (oas-summary): Install extension
        responses:
          '200':
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        queryParameters:
          url:
            description: URL to install the extension from
            format: url
            required: true
            type: string
            facets:
              format: string
        (oas-tags):
          - sites
    /logs:
      displayName: logs
      get:
        displayName: GET_sites-id-logs
        description: Return logs for a specific website
        (oas-summary): Return logs for a specific website
        responses:
          '200':
            body:
              application/json:
                type: Log
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        queryParameters:
          log_entry:
            description: 'Do a ''LIKE'' search, you can also use ''%'''
            required: false
            type: string
          log_type:
            description: Type of the log
            enum:
              - ''
              - plugin_sends_error
              - curlerror
              - modified_file
              - word_not_in_homepage
              - file_not_exists
              - update_available
              - new_extension
              - deleted_extension
              - extension_not_saved
              - modified_value_files
            type: string
          from:
            description: 'Logs after this date, format YYYY-MM-DD HH:MM:SS'
            required: false
            type: string
          to:
            description: 'Logs before this date, format YYYY-MM-DD HH:MM:SS'
            required: false
            type: string
          fields:
            description: 'Fields to return separate by comas: name,id'
            required: false
            type: string
          limit:
            description: 'Number of object to return (max 100, default 25)'
            format: int64
            minimum: 1
            required: false
            type: integer
          limitstart:
            description: Start of the return (default 0)
            format: int64
            minimum: 0
            required: false
            type: integer
          order:
            description: 'ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-'
            required: false
            type: string
        (oas-tags):
          - sites
      post:
        displayName: POST_sites-id-logs
        description: Create a custom log for a specific website
        (oas-summary): Create a custom log for a specific website
        body:
          application/json:
            type: PostLog
            (oas-body-name): body
            description: JSON object Log (only type custom)
        responses:
          '200':
            body:
              application/json:
                type: Log
            description: No response was specified
          '201':
            description: Saved successfully
          '400':
            description: Invalid data
          '403':
            description: Invalid API Key
          '404':
            description: Not saved
        (oas-tags):
          - sites
    /monitor:
      displayName: monitor
      delete:
        displayName: DELETE_sites-id-monitor
        description: Return boolean
        (oas-summary): Delete uptime monitor
        responses:
          '200':
            body:
              application/json:
                type: Monitor
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
      post:
        displayName: POST_sites-id-monitor
        description: Return boolean
        (oas-summary): Post uptime monitor
        responses:
          '200':
            body:
              application/json:
                type: Monitor
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /scanner:
      displayName: scanner
      get:
        displayName: GET_sites-id-scanner
        description: Scan the site for malware
        (oas-summary): Scan the site for malware
        responses:
          '200':
            body:
              application/json:
                type: string
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /tags:
      displayName: tags
      get:
        displayName: GET_sites-id-tags
        description: Return tags for a specific website
        (oas-summary): Return tags for a specific website
        responses:
          '200':
            body:
              application/json:
                type: Tag
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        queryParameters:
          name:
            description: 'Do a ''LIKE'' search, you can also use ''%'''
            required: false
            type: string
          type:
            description: Bootstrap color of the tag
            enum:
              - ''
              - default
              - success
              - warning
              - important
              - info
              - inverse
            type: string
          fields:
            description: 'Fields to return separate by comas: name,id'
            required: false
            type: string
          limit:
            description: 'Number of object to return (max 100, default 25)'
            format: int64
            minimum: 1
            required: false
            type: integer
          limitstart:
            description: Start of the return (default 0)
            format: int64
            minimum: 0
            required: false
            type: integer
          order:
            description: ORDER by this field
            required: false
            type: string
        (oas-tags):
          - sites
      post:
        displayName: POST_sites-id-tags
        description: Add tags for a specific website
        (oas-summary): Add tags for a specific website
        body:
          application/json:
            type: Tag
            (oas-body-name): body
            description: JSON object Tag
        responses:
          '200':
            body:
              application/json:
                type: Site
            description: No response was specified
          '201':
            description: Saved successfully
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /updatejoomla:
      displayName: updatejoomla
      post:
        displayName: POST_sites-id-updatejoomla
        description: Update Joomla core on the remote site
        (oas-summary): Update Joomla core on the remote site
        responses:
          '200':
            body:
              application/json:
                type: string
            description: Joomla core successfully updated
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID or Joomla Update not found
        (oas-tags):
          - sites
    uriParameters:
      id:
        description: ID that needs to be fetched
        format: int64
        minimum: 1
        required: true
        type: integer
    delete:
      displayName: DELETE_sites-id
      description: Delete a specific Site
      (oas-summary): Delete a specific Site
      responses:
        '200':
          body:
            application/json:
              type: string
          description: Deleted successfully
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      (oas-tags):
        - sites
    /uptime:
      displayName: uptime
      get:
        displayName: GET_sites-id-uptime
        description: Return uptime data
        (oas-summary): Return uptime data
        responses:
          '200':
            body:
              application/json:
                type: Uptime
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    put:
      displayName: PUT_sites-id
      description: Update a site
      (oas-summary): Update a site
      body:
        application/json:
          type: PostSite
          (oas-body-name): body
          description: JSON object Site
      responses:
        '200':
          body:
            application/json:
              type: Site
          description: Updated successfully
        '400':
          description: Invalid data
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      (oas-tags):
        - sites
    /validate:
      displayName: validate
      uriParameters:
        id:
          description: ID of the website
          format: int64
          minimum: 1
          required: true
          type: integer
      get:
        displayName: GET_sites-id-validate
        description: validate the site
        (oas-summary): 'validate the site, return the new logs'
        responses:
          '200':
            body:
              application/json:
                type: Log
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    /audits:
      displayName: audits
      post:
        displayName: POST_sites-id-audits
        description: Create an audit for the site
        (oas-summary): Create an audit for the site
        responses:
          '200':
            body:
              application/json:
                type: Audit
            description: No response was specified
          '201':
            description: Saved successfully
          '400':
            description: Invalid data
          '403':
            description: Invalid API Key
          '404':
            description: Not saved
        (oas-tags):
          - sites
      get:
        displayName: GET_sites-id-audits
        description: Return audits for a specific website
        (oas-summary): Return audits for a specific website
        responses:
          '200':
            body:
              application/json:
                type: Audits
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        queryParameters:
          fields:
            description: 'Fields to return separate by comas: name,id'
            required: false
            type: string
          limit:
            description: 'Number of object to return (max 100, default 25)'
            format: int64
            minimum: 1
            required: false
            type: integer
          limitstart:
            description: Start of the return (default 0)
            format: int64
            minimum: 0
            required: false
            type: integer
          order:
            description: ORDER by this field
            required: false
            type: string
        (oas-tags):
          - sites
    /validatedebug:
      displayName: validatedebug
      uriParameters:
        id:
          description: ID of the website
          format: int64
          minimum: 1
          required: true
          type: integer
      get:
        displayName: GET_sites-id-validatedebug
        (oas-summary): 'validate the site, return the debug information'
        responses:
          '200':
            body:
              application/json:
                type: Log
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
    get:
      displayName: GET_sites-id
      description: Return a site based on ID
      (oas-summary): Find sites by ID
      responses:
        '200':
          body:
            application/json:
              type: Site
          description: No response was specified
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      queryParameters:
        fields:
          description: 'Fields to return separate by comas: name,id'
          required: false
          type: string
      (oas-tags):
        - sites
    /backupnow:
      displayName: backupnow
      post:
        displayName: POST_sites-id-backupnow
        description: Add the site to the backup queue
        (oas-summary): Add the site to the backup queue
        responses:
          '200':
            body:
              application/json:
                type: Site
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        (oas-tags):
          - sites
  post:
    displayName: POST_sites
    description: Create a site
    (oas-summary): Create a site
    body:
      application/json:
        type: PostSite
        (oas-body-name): body
        description: JSON object Site
    responses:
      '200':
        body:
          application/json:
            type: Site
        description: No response was specified
      '201':
        description: Saved successfully
      '400':
        description: Invalid data
      '403':
        description: Not allowed to add sites
      '404':
        description: Not saved
    (oas-tags):
      - sites
  get:
    displayName: GET_sites
    description: Returns a list of Sites
    (oas-summary): Get a list of Sites
    responses:
      '200':
        body:
          application/json:
            type: Site
        description: No response was specified
      '403':
        description: Invalid API Key
      '404':
        description: Invalid ID
    queryParameters:
      siteids:
        description: List of sites id separated by comma
        required: false
        type: string
      name:
        description: 'Site name. Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      access_url:
        description: 'Access URL. Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      j_version:
        description: 'Joomla version. Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      ip:
        description: 'Ip address. Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      jUpdate:
        description: 'Joomla core update status (1: update required, 0: update not required)'
        type: integer
      canUpdate:
        description: canUpdate
        type: integer
      published:
        description: Is published
        required: false
        type: integer
      error:
        description: Has errors
        required: false
        type: string
      nbUpdates:
        required: false
        type: string
      up:
        description: Is online
        required: false
        type: integer
      fields:
        description: 'Fields to return separated by commas (e.g. name,id)'
        required: false
        type: string
      limit:
        description: 'Number of objects to return (max 100, default 25)'
        format: int64
        minimum: 1
        required: false
        type: integer
      limitstart:
        description: Start of the return (default 0)
        format: int64
        minimum: 0
        required: false
        type: integer
      order:
        description: 'ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-'
        required: false
        type: string
    (oas-tags):
      - sites
  /metadata:
    displayName: metadata
    get:
      displayName: GET_sites-metadata
      description: Returns a list of fields
      (oas-summary): Get the list of fields
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
      (oas-tags):
        - sites
/versions:
  displayName: versions
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: ID of version that needs to be fetched
        format: int64
        minimum: 1
        required: true
        type: integer
    get:
      displayName: GET_versions-id
      (oas-summary): Find a version by ID
      responses:
        '200':
          body:
            application/json:
              type: Version
          description: No response was specified
      queryParameters:
        fields:
          description: 'Fields to return separate by commas: name,id'
          required: false
          type: string
      (oas-tags):
        - versions
  get:
    displayName: GET_versions
    (oas-summary): Get list of versions
    responses:
      '200':
        body:
          application/json:
            type: Version
        description: No response was specified
    queryParameters:
      fields:
        description: 'Fields to return separate by comas: name,id'
        required: false
        type: string
    (oas-tags):
      - versions
/audits:
  displayName: audits
  get:
    displayName: GET_audits
    description: Returns a list of audits
    (oas-summary): Get a list of audits
    responses:
      '200':
        body:
          application/json:
            type: Audit
        description: No response was specified
      '403':
        description: Invalid API Key
    queryParameters:
      limit:
        description: 'Number of object to return (max 100, default 25)'
        format: int64
        minimum: 1
        required: false
        type: integer
      limitstart:
        description: Start of the return (default 0)
        format: int64
        minimum: 0
        required: false
        type: integer
      order:
        description: 'ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-'
        required: false
        type: string
    (oas-tags):
      - audits
  /metadata:
    displayName: metadata
    get:
      displayName: GET_audits-metadata
      description: Returns a list of fields
      (oas-summary): Get the list of fields
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
      (oas-tags):
        - versions
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: ID of audit that needs to be deleted
        format: int64
        minimum: 1
        required: true
        type: integer
    get:
      displayName: GET_audits-id
      description: Returns a audit based on ID
      (oas-summary): Find audit by ID
      responses:
        '200':
          body:
            application/json:
              type: Audit
          description: No response was specified
        '400':
          description: Invalid ID
        '403':
          description: Invalid API Key
      queryParameters:
        fields:
          description: 'Fields to return separate by comas: name,id'
          required: false
          type: string
      (oas-tags):
        - audits
    delete:
      displayName: DELETE_audits-id
      description: Delete a specific audit
      (oas-summary): Delete a specific audit
      responses:
        '200':
          body:
            application/json:
              type: string
          description: Audit correctly deleted
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      (oas-tags):
        - audits
  post:
    displayName: POST_audits
    description: Create a audit
    (oas-summary): Create a audit
    body:
      application/json:
        type: Audit
        (oas-body-name): body
        description: JSON object Audit
    responses:
      '200':
        body:
          application/json:
            type: Audit
        description: No response was specified
      '201':
        description: Saved successfully
      '400':
        description: Invalid data
      '403':
        description: Invalid API Key
      '404':
        description: Not saved
    (oas-tags):
      - audits
/extensions:
  displayName: extensions
  /metadata:
    displayName: metadata
    get:
      displayName: GET_extensions-metadata
      description: Returns a list of fields
      (oas-summary): Get the list of fields
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
      (oas-tags):
        - extensions
  '/{id}':
    displayName: '{id}'
    /unignore:
      displayName: unignore
      post:
        displayName: POST_extensions-id-unignore
        description: Remove 'ignore updates' for a given extension
        (oas-summary): Remove 'ignore updates' for a given extension
        responses:
          '200':
            body:
              application/json:
                type: string
            description: Extension successfully updated
          '404':
            description: Update not found for the given extension
        (oas-tags):
          - extensions
    /update:
      displayName: update
      post:
        displayName: POST_extensions-id-update
        description: Update the extension on the remote site
        (oas-summary): Update the extension on the remote site
        responses:
          '200':
            body:
              application/json:
                type: string
            description: Extension successfully updated
          '404':
            description: Update not found for the given extension
        (oas-tags):
          - extensions
    /ignore:
      displayName: ignore
      post:
        displayName: POST_extensions-id-ignore
        description: Set 'ignore updates' for a given extension / site_id
        (oas-summary): Set 'ignore updates' for a given extension / site_id
        responses:
          '200':
            body:
              application/json:
                type: string
            description: Extension successfully updated
          '404':
            description: Update not found for the given extension
        (oas-tags):
          - extensions
  get:
    displayName: GET_extensions
    description: Returns a list Extensions
    (oas-summary): Get a list Extensions
    responses:
      '200':
        body:
          application/json:
            type: Extension
        description: No response was specified
      '403':
        description: Invalid API Key
      '404':
        description: Invalid
    queryParameters:
      ext_name:
        description: 'Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      siteids:
        description: List of sites id separated by comma
        required: false
        type: string
      ext_prefix:
        description: 'Do a ''LIKE'' search, you can also use ''%''. technical name of the extension com_xxxx'
        required: false
        type: string
      version:
        description: 'Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      vUpdate:
        description: update available for this extension
        required: false
        type: integer
      fields:
        description: 'Fields to return separate by comas: name,id'
        required: false
        type: string
      limit:
        description: 'Number of object to return (max 100, default 25)'
        format: int64
        minimum: 1
        required: false
        type: integer
      limitstart:
        description: Start of the return (default 0)
        format: int64
        minimum: 0
        required: false
        type: integer
      order:
        description: 'ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-'
        required: false
        type: string
    (oas-tags):
      - extensions
/feedbacks:
  displayName: feedbacks
  get:
    displayName: GET_feedbacks
    description: Returns a list of feedbacks
    (oas-summary): Get feedbacks
    responses:
      '200':
        body:
          application/json:
            type: Feedback
        description: No response was specified
      '403':
        description: Invalid API Key
    queryParameters:
      fields:
        description: 'Fields to return separate by comas (es. name,id)'
        required: false
        type: string
    (oas-tags):
      - feedbacks
  /metadata:
    displayName: metadata
    get:
      displayName: GET_feedbacks-metadata
      description: Returns a list of fields
      (oas-summary): Get the list of fields
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
      (oas-tags):
        - feedbacks
  post:
    displayName: POST_feedbacks
    description: Create a feedback
    (oas-summary): Create a feedback
    body:
      application/json:
        type: Feedback
        (oas-body-name): body
        description: JSON object Feedback
    responses:
      '200':
        body:
          application/json:
            type: Audit
        description: No response was specified
      '201':
        description: Saved successfully
      '400':
        description: Invalid data
      '403':
        description: Invalid API Key
      '404':
        description: Not saved
    (oas-tags):
      - feedbacks
/logs:
  displayName: logs
  /export:
    displayName: export
    get:
      displayName: GET_logs-export
      description: Returns a file contain the list of logs
      (oas-summary): Get a CSV or PDF file contain the list of logs
      responses:
        '200':
          description: No response was specified
        '403':
          description: Invalid API Key
      queryParameters:
        format:
          description: Format of exported file (PDF or CSV)
          enum:
            - csv
            - pdf
          required: true
          type: string
        site:
          description: Site id of the log
          format: int64
          required: false
          type: integer
        filter_type:
          description: Type of the log
          enum:
            - ''
            - plugin_sends_error
            - curlerror
            - modified_file
            - word_not_in_homepage
            - file_not_exists
            - update_available
            - new_extension
            - deleted_extension
            - extension_not_saved
            - modified_value_files
            - custom
          type: string
        search:
          description: 'Do a ''LIKE'' search, you can also use ''%'''
          required: false
          type: string
        startdate:
          description: 'Logs after this date, format YYYY-MM-DD HH:MM:SS'
          required: false
          type: string
        enddate:
          description: 'Logs before this date, format YYYY-MM-DD HH:MM:SS'
          required: false
          type: string
        limit:
          description: 'Number of object to return (max 100, default 25)'
          format: int64
          minimum: 1
          required: false
          type: integer
        startid:
          description: Start of the return (default 0)
          format: int64
          minimum: 0
          required: false
          type: integer
      (oas-tags):
        - logs
  /types:
    displayName: types
    get:
      displayName: GET_logs-types
      description: Returns a list of log types
      (oas-summary): Get the list of log types
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
      (oas-tags):
        - logs
  get:
    displayName: GET_logs
    description: Returns a list of logs
    (oas-summary): Get a list of logs
    responses:
      '200':
        body:
          application/json:
            type: Log
        description: No response was specified
      '403':
        description: Invalid API Key
    queryParameters:
      log_type:
        description: Type of the log
        enum:
          - ''
          - plugin_sends_error
          - curlerror
          - modified_file
          - word_not_in_homepage
          - file_not_exists
          - update_available
          - new_extension
          - deleted_extension
          - extension_not_saved
          - modified_value_files
          - custom
        type: string
      log_entry:
        description: 'Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      from:
        description: 'Logs after this date, format YYYY-MM-DD HH:MM:SS'
        required: false
        type: string
      to:
        description: 'Logs before this date, format YYYY-MM-DD HH:MM:SS'
        required: false
        type: string
      fields:
        description: 'Fields to return separate by comas: name,id'
        required: false
        type: string
      limit:
        description: 'Number of object to return (max 100, default 25)'
        format: int64
        minimum: 1
        required: false
        type: integer
      limitstart:
        description: Start of the return (default 0)
        format: int64
        minimum: 0
        required: false
        type: integer
      order:
        description: 'ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-'
        required: false
        type: string
    (oas-tags):
      - logs
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: ID of log that needs to be deleted
        format: int64
        minimum: 1
        required: true
        type: integer
    delete:
      displayName: DELETE_logs-id
      description: Delete a specific log
      (oas-summary): Delete a specific log
      responses:
        '200':
          body:
            application/json:
              type: string
          description: Log correctly deleted
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      (oas-tags):
        - logs
  /metadata:
    displayName: metadata
    get:
      displayName: GET_logs-metadata
      description: Returns a list of fields
      (oas-summary): Get the list of fields
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
      (oas-tags):
        - logs
/packages:
  displayName: packages
  post:
    displayName: POST_packages
    description: Upload a ZIP package
    (oas-summary): Upload a ZIP package
    body:
      multipart/form-data:
        properties:
          file:
            description: ZIP package
            required: true
            type: file
    responses:
      '200':
        body:
          application/json:
            type: Tag
        description: No response was specified
      '201':
        description: Saved successfully
      '400':
        description: Invalid data
      '403':
        description: Invalid API Key
      '404':
        description: Not saved
    (oas-tags):
      - packages
/reports:
  displayName: reports
  /tags:
    displayName: tags
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: ID that needs to be fetched
          format: int64
          minimum: 1
          required: true
          type: integer
      get:
        displayName: GET_reports-tags-id
        description: Returns a report based on a site ID
        (oas-summary): Find sites by ID
        responses:
          '200':
            body:
              application/pdf:
                type: Reports
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        queryParameters:
          from:
            description: 'Start of the report, format YYYY-MM-DD, default today-30day '
            required: false
            type: string
          to:
            description: 'End of the report, format YYYY-MM-DD, default today'
            required: false
            type: string
          reports:
            description: 'Type of reports separate by comas: Ga,Logs,Uptime'
            required: false
            type: string
          log_type:
            description: Type of the log to show in the report
            enum:
              - ''
              - plugin_sends_error
              - curlerror
              - modified_file
              - word_not_in_homepage
              - file_not_exists
              - update_available
              - new_extension
              - deleted_extension
              - extension_not_saved
              - modified_value_files
            type: string
          compare:
            description: Define if you want show previous values in Google Analytics graph
            type: integer
        (oas-tags):
          - reports
  /sites:
    displayName: sites
    '/{id}':
      displayName: '{id}'
      uriParameters:
        id:
          description: ID that needs to be fetched
          format: int64
          minimum: 1
          required: true
          type: integer
      get:
        displayName: GET_reports-sites-id
        description: Returns a PDF report based on a site ID
        (oas-summary): Returns a PDF report for a specific site
        responses:
          '200':
            body:
              application/pdf:
                type: Reports
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        queryParameters:
          from:
            description: 'Start of the report, format YYYY-MM-DD, default today-30day '
            required: false
            type: string
          to:
            description: 'End of the report, format YYYY-MM-DD, default today'
            required: false
            type: string
          reports:
            description: 'Type of reports separate by comas: Ga,Logs,Uptime'
            required: false
            type: string
          log_type:
            description: Type of the log to show in the report
            enum:
              - ''
              - plugin_sends_error
              - curlerror
              - modified_file
              - word_not_in_homepage
              - file_not_exists
              - update_available
              - new_extension
              - deleted_extension
              - extension_not_saved
              - modified_value_files
            type: string
          compare:
            description: Define if you want show previous values in Google Analytics graph
            type: integer
        (oas-tags):
          - reports
/ssousers:
  displayName: ssousers
  get:
    displayName: GET_ssousers
    description: Returns a list of SSO Users
    (oas-summary): Get a list of SSO Users
    responses:
      '200':
        body:
          application/json:
            type: SsoUsers
        description: No response was specified
      '403':
        description: Invalid API Key
    (oas-tags):
      - ssousers
  post:
    displayName: POST_ssousers
    description: Create a SSO User
    (oas-summary): Create a SSO User
    body:
      application/json:
        type: SsoUsers
        (oas-body-name): body
        description: JSON object SsoUsers
    responses:
      '200':
        body:
          application/json:
            type: SsoUsers
        description: No response was specified
      '201':
        description: Saved successfully
      '400':
        description: Invalid data
      '403':
        description: Invalid API Key
      '404':
        description: Not saved
    (oas-tags):
      - ssousers
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: ID of SSO User that needs to be updated
        format: int64
        minimum: 1
        required: true
        type: integer
    delete:
      displayName: DELETE_ssousers-id
      description: Delete a specific SSO User
      (oas-summary): Delete a specific SSO User
      responses:
        '200':
          body:
            application/json:
              type: string
          description: SSO User correctly deleted
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      (oas-tags):
        - ssousers
    get:
      displayName: GET_ssousers-id
      description: Returns a SSO User based on ID
      (oas-summary): Find SSO User by ID
      responses:
        '200':
          body:
            application/json:
              type: SsoUsers
          description: No response was specified
        '400':
          description: Invalid ID
        '403':
          description: Invalid API Key
      queryParameters:
        fields:
          description: 'Fields to return separate by comas: name,id'
          required: false
          type: string
      (oas-tags):
        - ssousers
    put:
      displayName: PUT_ssousers-id
      description: Update a SSO User
      (oas-summary): Update a SSO User
      body:
        application/json:
          type: SsoUsers
          (oas-body-name): body
          description: JSON object SsoUsers
      responses:
        '200':
          body:
            application/json:
              type: SsoUsers
          description: No response was specified
        '201':
          description: Updated successfully
        '400':
          description: Invalid data
        '403':
          description: Invalid API Key
        '404':
          description: Not saved
      (oas-tags):
        - ssousers
/tags:
  displayName: tags
  get:
    displayName: GET_tags
    description: Returns a list of tags
    (oas-summary): Get a list of tags
    responses:
      '200':
        body:
          application/json:
            type: Tag
        description: No response was specified
      '403':
        description: Invalid API Key
    queryParameters:
      name:
        description: 'Do a ''LIKE'' search, you can also use ''%'''
        required: false
        type: string
      type:
        description: Bootstrap color of the tag
        enum:
          - ''
          - default
          - success
          - warning
          - important
          - info
          - inverse
        type: string
      fields:
        description: 'Fields to return separate by comas: name,id'
        required: false
        type: string
      limit:
        description: 'Number of object to return (max 100, default 25)'
        format: int64
        minimum: 1
        required: false
        type: integer
      limitstart:
        description: Start of the return (default 0)
        format: int64
        minimum: 0
        required: false
        type: integer
      order:
        description: 'ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-'
        required: false
        type: string
    (oas-tags):
      - tags
  post:
    displayName: POST_tags
    description: Create a tag
    (oas-summary): Create a tag
    body:
      application/json:
        type: Tag
        (oas-body-name): body
        description: JSON object Tag
    responses:
      '200':
        body:
          application/json:
            type: Tag
        description: No response was specified
      '201':
        description: Saved successfully
      '400':
        description: Invalid data
      '403':
        description: Invalid API Key
      '404':
        description: Not saved
    (oas-tags):
      - tags
  /metadata:
    displayName: metadata
    get:
      displayName: GET_tags-metadata
      description: Returns a list of fields
      (oas-summary): Get the list of fields
      responses:
        '200':
          body:
            application/json:
              type: string
          description: No response was specified
      (oas-tags):
        - tags
  '/{id}':
    displayName: '{id}'
    uriParameters:
      id:
        description: ID of tag that needs to be fetched
        format: int64
        minimum: 1
        required: true
        type: integer
    delete:
      displayName: DELETE_tags-id
      description: Delete a specific tag
      (oas-summary): Delete a specific tag
      responses:
        '200':
          body:
            application/json:
              type: string
          description: Tag correctly deleted
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      (oas-tags):
        - tags
    /sites:
      displayName: sites
      get:
        displayName: GET_tags-id-sites
        description: Returns a list of sites based with a specific tag id
        (oas-summary): Find sites by tag ID
        responses:
          '200':
            body:
              application/json:
                type: Site
            description: No response was specified
          '403':
            description: Invalid API Key
          '404':
            description: Invalid ID
        queryParameters:
          name:
            description: 'Do a ''LIKE'' search, you can also use ''%'''
            required: false
            type: string
          access_url:
            description: 'Do a ''LIKE'' search, you can also use ''%'''
            required: false
            type: string
          j_version:
            description: 'Do a ''LIKE'' search, you can also use ''%'''
            required: false
            type: string
          ip:
            description: 'Do a ''LIKE'' search, you can also use ''%'''
            required: false
            type: string
          jUpdate:
            description: Joomla core update
            type: integer
          published:
            description: is published
            required: false
            type: integer
          error:
            description: have errors
            required: false
            type: string
          nbUpdates:
            required: false
            type: string
          up:
            description: is the website online
            required: false
            type: integer
          fields:
            description: 'Fields to return separate by comas: name,id'
            required: false
            type: string
          limit:
            description: 'Number of object to return (max 100, default 25)'
            format: int64
            minimum: 1
            required: false
            type: integer
          limitstart:
            description: Start of the return (default 0)
            format: int64
            minimum: 0
            required: false
            type: integer
          order:
            description: 'ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-'
            required: false
            type: string
        (oas-tags):
          - tags
    put:
      displayName: PUT_tags-id
      description: Update a tag
      (oas-summary): Update a tag
      body:
        application/json:
          type: Tag
          (oas-body-name): body
          description: JSON object of the updated tag
      responses:
        '200':
          body:
            application/json:
              type: Tag
          description: Updated successfully
        '400':
          description: Invalid data
        '403':
          description: Invalid API Key
        '404':
          description: Invalid ID
      (oas-tags):
        - tags
    get:
      displayName: GET_tags-id
      description: Returns a tag based on ID
      (oas-summary): Find tag by ID
      responses:
        '200':
          body:
            application/json:
              type: Tag
          description: No response was specified
        '400':
          description: Invalid ID
        '403':
          description: Invalid API Key
      queryParameters:
        fields:
          description: 'Fields to return separate by comas: name,id'
          required: false
          type: string
      (oas-tags):
        - tags
types:
  Audit:
    properties:
      id:
        description: Unique identifier for the audit
        format: int64
        type: integer
  Audits:
    items:
      type: Audit
    type: array
  Extension:
    properties:
      date:
        description: Date of release
        type: string
        required: false
      ext_name:
        description: Extension name
        type: string
        required: false
      idx_site:
        description: Unique identifier for the site
        format: int64
        type: integer
      newVersion:
        description: New version
        type: string
        required: false
      type:
        description: Datetime of the log
        format: date-format
        type: string
        facets:
          format: string
      url:
        description: Author URL
        type: string
        required: false
      vUpdate:
        description: Update is available
        type: integer
        required: false
      version:
        description: Extension version
        type: string
        required: false
  Feedback:
    properties:
      id:
        description: Unique identifier for the feedback
        format: int64
        type: integer
  Log:
    properties:
      Site name:
        description: Name of the site / readyonly
        type: string
        required: false
      id_log:
        description: Unique identifier for the log
        format: int64
        type: integer
      idx_site:
        description: Unique identifier for the site
        format: int64
        type: integer
      log_date:
        description: Datetime of the log
        format: date-format
        type: string
        facets:
          format: string
      log_entry:
        description: Log information
        type: string
      log_level:
        description: Level of log
        format: int64
        type: integer
      log_type:
        description: Type of log
        type: string
        required: false
      userid:
        description: Unique identifier for the user
        format: int64
        type: integer
  Monitor: {}
  PostLog:
    properties:
      log_date:
        description: Datetime of the log
        format: date-format
        type: string
        facets:
          format: string
        required: false
      log_entry:
        description: Log information
        type: string
      log_level:
        description: Level of log
        format: int64
        type: integer
  PostSite:
    properties:
      access_url:
        description: URL of the site
        type: string
      admin_url:
        description: Adminsitration URL
        type: string
        required: false
      akeebaProfile:
        description: Akeeba Profile
        format: date-format
        type: string
        facets:
          format: string
        required: false
      backupSchedule:
        description: Backup Schedule
        type: string
        required: false
      dateBackup:
        description: Date backup
        format: date-format
        type: string
        facets:
          format: string
        required: false
      name:
        description: Friendly name for the site
        type: string
        required: false
      notes:
        description: Personnal note for the site
        type: string
        required: false
      published:
        description: Published status of site
        type: boolean
        required: false
      secret_word:
        description: Watchful secret word
        type: string
        required: false
      tags:
        description: 'JSON encoded array of tags for the site (e.g. [{<q>name</q>:<q>mytag</q>},{<q>name</q>:<q>anothertag</q>}])'
        format: json
        type: string
        facets:
          format: string
        required: false
      word_akeeba:
        description: Akeeba backup word
        type: string
        required: false
      word_check:
        description: Word checked for uptime
        type: string
        required: false
  Reports: {}
  Site:
    properties:
      access_url:
        description: URL of the site
        type: string
        required: false
      admin_url:
        description: Adminsitration URL
        type: string
        required: false
      akeebaProfile:
        description: Akeeba Profile
        format: date-format
        type: string
        facets:
          format: string
        required: false
      backupSchedule:
        description: Backup Schedule
        type: string
        required: false
      canBackup:
        description: Site can be backuped
        type: boolean
        required: false
      canUpdate:
        description: Site can use remote installer
        type: boolean
        required: false
      dateBackup:
        description: Date backup
        format: date-format
        type: string
        facets:
          format: string
        required: false
      date_last_check:
        description: Watchful Last check
        format: date-format
        type: string
        facets:
          format: string
        required: false
      error:
        description: Error status of site
        type: boolean
        required: false
      ip:
        description: server IP
        type: string
        required: false
      jUpdate:
        description: '?'
        type: boolean
        required: false
      j_version:
        description: Joomla site version
        type: string
        required: false
      monitorid:
        description: Id of the associated UptimeRobot monitor
        type: boolean
        required: false
      name:
        description: Friendly name for the site
        type: string
        required: false
      nbUpdates:
        description: Number of updates
        format: date-format
        type: string
        facets:
          format: string
        required: false
      new_j_version:
        description: Joomla site version
        type: string
        required: false
      notes:
        description: Personnal note for the site
        type: string
        required: false
      published:
        description: Published status of site
        type: boolean
        required: false
      secret_word:
        description: Watchful secret word
        type: string
        required: false
      siteid:
        description: Unique identifier for the site
        format: int64
        type: integer
      tags:
        description: List of tags for this site
        items: {}
        type: array
        required: false
      up:
        description: Site status
        type: boolean
        required: false
      word_akeeba:
        description: Akeeba backup word
        type: string
        required: false
      word_check:
        description: Word checked for uptime
        type: string
        required: false
  SsoUsers:
    properties:
      email:
        description: Email of the SSO User
        type: string
      groupid:
        description: Security Joomla group ID
        format: int64
        type: integer
      id:
        description: Unique identifier for the SSO User
        format: int64
        type: integer
      lastLoginDate:
        description: Last login date on remote site
        format: rfc3339
        type: datetime
        required: false
      lastLoginSite:
        description: Site Id of the last remote login
        format: int64
        type: integer
        required: false
      name:
        description: Account display name
        type: string
      password:
        description: Password of the SSO User
        type: string
      userid:
        description: Watchful user account
        format: int64
        type: integer
      username:
        description: Username of the SSO User
        type: string
  Tag:
    properties:
      id:
        description: Unique identifier for the tag
        format: int64
        type: integer
      name:
        description: Friendly name for the tag
        type: string
      nbSites:
        description: Number of sites use this tag (required field id)
        type: integer
        required: false
      type:
        default: default
        description: Bootstrap color of the tag
        enum:
          - default
          - success
          - warning
          - important
          - info
          - inverse
        type: string
        required: false
  Uptime: {}
  Version: {}
