#%RAML 1.0
title: Wikimedia
version: 1.0.0-beta
baseUri: 'http://rest.wikimedia.org/en.wikipedia.org/v1'
protocols:
  - HTTP
description: |
  This API aims to provide coherent and low-latency access to Wikimedia content and services. It is currently in beta testing, so things aren't completely locked down yet. Each entry point has explicit stability markers to inform you about development status and change policy, according to [our API version policy](https://www.mediawiki.org/wiki/API_versioning).
  ### High-volume access
    - Don't perform more than 200 requests/s to this API.
    - Set a unique `User-Agent` header that allows us to contact you
      quickly. Email addresses or URLs of contact pages work well.
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_en_thumb_8_80_Wikipedia-logo-v2.svg_1122px-Wikipedia-logo-v2.svg.png'
  (oas-x-origin):
    format: swagger
    url: 'http://rest.wikimedia.org/en.wikipedia.org/v1/?spec'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): wikimedia.org
  contact:
    name: the Wikimedia Services team
    url: 'http://mediawiki.org/wiki/RESTBase'
  termsOfService: 'https://wikimediafoundation.org/wiki/Terms_of_Use'
  license:
    name: Apache2
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-monitor: any
  oas-x-request-handler: any
  oas-x-amples: any
  oas-x-setup-handler: any
  oas-x-resource-location: any
  oas-x-restbase-mode: any
  oas-x-restbase-parentrevision: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
  oas-x-default-params: any
  oas-x-host-basePath: any
  oas-x-modules: any
securitySchemes:
  mediawiki_auth:
    type: Pass Through
    describedBy:
      headers:
        cookie:
          type: string
    description: Checks permissions using MW api
/page:
  displayName: page
  /mobile-text:
    displayName: mobile-text
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title
          required: true
          type: string
      get:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: '{cache-control}'
                method: get
                uri: '{+$$.options.host}/{domain}/v1/page/mobile-text/{title}'
              return: true
        displayName: GET_page-mobile-text-title
        description: |
          Retrieve the *lite* version of the latest HTML for a page title optimised for viewing with
          native mobile applications.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental). Don't rely on this.
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            description: The JSON comprising the HTML and various page attributes for the given page title.
          '404':
            body:
              application/json:
                type: problem
            description: Unknown page title
        (oas-tags):
          - Mobile
  /revision:
    displayName: revision
    /:
      get:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - get_from_backend:
              request:
                query:
                  page: '{page}'
                uri: '/{domain}/sys/page_revisions/rev/'
              return: true
        displayName: GET_page-revision
        description: |
          List revisions. This currently only lists revisions stored in RESTBase.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental). Don't rely on this.
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: listing
            description: The queriable sub-items
        queryParameters:
          page:
            description: The next page token
            required: false
            type: string
        (oas-tags):
          - Page content
    '/{revision}':
      displayName: '{revision}'
      uriParameters:
        revision:
          description: The revision id
          required: true
          type: integer
      get:
        (oas-x-amples):
          - request:
              params:
                domain: en.wikipedia.org
                revision: 642497713
            response:
              body:
                items:
                  - comment: /.*/
                    rev: /\d+/
                    tid: '/^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/'
                    title: Foobar
              headers:
                content-type: application/json
                etag: /.+/
              status: 200
            title: Get rev by ID
        (oas-x-monitor): true
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: no-cache
                uri: '/{domain}/sys/page_revisions/rev/{revision}'
              return: true
        displayName: GET_page-revision-revision
        description: |
          Get metadata about a specific revision.

          Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: revision
            description: The revision's properties
          '400':
            body:
              application/json:
                type: problem
            description: Invalid revision
          '403':
            body:
              application/json:
                type: problem
            description: Access to the specific revision is restricted
          '404':
            body:
              application/json:
                type: problem
            description: Unknown revision id or domain
        (oas-tags):
          - Page content
  /:
    get:
      (oas-x-monitor): false
      displayName: GET_page
      description: |
        List page properties / page content sub-apis.

        Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Stable)
      (oas-responses-default):
        body:
          application/json:
            type: problem
        description: Error
      responses:
        '200':
          body:
            application/json:
              type: listing
          description: The queriable sub-items
      (oas-tags):
        - Page content
  /summary:
    displayName: summary
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title.
          required: true
          type: string
      get:
        (oas-x-amples):
          - request:
              params:
                domain: en.wikipedia.org
                title: Barack_Obama
            response:
              body:
                dir: ltr
                extract: /.+/
                lang: en
                thumbnail:
                  source: '/^https:/'
              headers:
                content-type: /^application\/json$/
                etag: /.+/
              status: 200
            title: Get summary from storage
        (oas-x-monitor): true
        (oas-x-request-handler):
          - rev_info:
              request:
                method: get
                uri: '/{domain}/sys/page_revisions/page/{title}'
              response:
                body: '{{rev_info.body.items[0]}}'
            storage:
              catch:
                status: 404
              request:
                headers:
                  cache-control: '{{cache-control}}'
                method: get
                uri: '/{domain}/sys/key_value/summary/{request.params.title}'
              return:
                body: '{{storage.body}}'
                headers:
                  cache-control: '{{options.response_cache-control}}'
                  content-type: '{{storage.headers.content-type}}'
                  etag: '{{storage.headers.etag}}'
                status: 200
              return_if:
                status: 2xx
          - extract:
              request:
                body:
                  explaintext: true
                  exsentences: 5
                  piprop: thumbnail
                  pithumbsize: 320
                  prop: info|extracts|pageimages
                  redirects: true
                  titles: '{{rev_info.body.title}}'
                method: post
                uri: '/{domain}/sys/action/query'
              response:
                body:
                  dir: '{{extract.body.items[0].pagelanguagedir}}'
                  extract: '{{extract.body.items[0].extract}}'
                  lang: '{{extract.body.items[0].pagelanguagehtmlcode}}'
                  thumbnail: '{{httpsSource(extract.body.items[0].thumbnail)}}'
                  title: '{{extract.body.items[0].title}}'
                headers:
                  content-type: application/json
          - store_and_return:
              request:
                body: '{{extract.body}}'
                headers: '{{extract.headers}}'
                method: put
                uri: '/{domain}/sys/key_value/summary/{request.params.title}'
              return:
                body: '{{extract.body}}'
                headers:
                  cache-control: '{{options.response_cache-control}}'
                  content-type: '{{extract.headers.content-type}}'
                  etag: '{{store_and_return.headers.etag}}'
                status: 200
        (oas-x-setup-handler):
          - init:
              body:
                valueType: json
              method: put
              uri: '/{domain}/sys/key_value/summary'
        displayName: GET_page-summary-title
        description: |
          Returns the summary of the latest page content available in storage.
          Currently the summary includes the text for the first several sentences and
          the thumbnail URL.

          Provide a `Cache-Control: no-cache` header to request the latest data.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: summary
            description: The summary for the given page
          '404':
            body:
              application/json:
                type: problem
            description: Unknown page title
        (oas-tags):
          - Page content
  /data-parsoid:
    displayName: data-parsoid
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: the title of page content
          required: true
          type: string
      get:
        (oas-x-amples):
          - request:
              params:
                domain: en.wikipedia.org
                title: Foobar
            response:
              body:
                counter: /\d+/
                ids: /.*/
                sectionOffsets: /.*/
              headers:
                content-type: application/json
                etag: /.+/
              status: 200
            title: Get data-parsoid by title
        (oas-x-monitor): true
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: '{cache-control}'
                  if-unmodified-since: '{if-unmodified-since}'
                  (oas-x-restbase-mode): '{x-restbase-mode}'
                  (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                uri: '/{domain}/sys/parsoid/data-parsoid/{title}'
              return: true
        displayName: GET_page-data-parsoid-title
        description: |
          Retrieve the latest data-parsoid (private Parsoid metadata)

          Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: data-parsoid
            description: data-parsoid JSON blob
          '404':
            body:
              application/json:
                type: problem
            description: Unknown page title
        (oas-tags):
          - Page content
      '/{revision}':
        displayName: '{revision}'
        uriParameters:
          revision:
            description: The revision
            required: true
            type: integer
        get:
          (oas-x-monitor): false
          (oas-x-request-handler):
            - get_from_backend:
                request:
                  headers:
                    cache-control: '{cache-control}'
                    if-unmodified-since: '{if-unmodified-since}'
                    (oas-x-restbase-mode): '{x-restbase-mode}'
                    (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                  uri: '/{domain}/sys/parsoid/data-parsoid/{title}/{revision}{/tid}'
                return: true
          displayName: GET_page-data-parsoid-title-revision
          description: |
            Retrieve data-parsoid (internal Parsoid metadata) for a given page & revision

            Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
          (oas-responses-default):
            body:
              application/json:
                type: problem
            description: Error
          responses:
            '200':
              body:
                application/json:
                  type: data-parsoid
              description: The latest Parsoid data for the given page
            '400':
              body:
                application/json:
                  type: problem
              description: Invalid revision
            '403':
              body:
                application/json:
                  type: problem
              description: Access to the specific revision is restricted
            '404':
              body:
                application/json:
                  type: problem
              description: 'Unknown page, revision or tid'
          (oas-tags):
            - Page content
        '/{tid}':
          displayName: '{tid}'
          uriParameters:
            tid:
              description: The revision's time ID
              required: true
              type: string
          get:
            (oas-x-monitor): false
            (oas-x-request-handler):
              - get_from_backend:
                  request:
                    headers:
                      cache-control: '{cache-control}'
                      if-unmodified-since: '{if-unmodified-since}'
                      (oas-x-restbase-mode): '{x-restbase-mode}'
                      (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                    uri: '/{domain}/sys/parsoid/data-parsoid/{title}/{revision}{/tid}'
                  return: true
            displayName: GET_page-data-parsoid-title-revision-tid
            description: |
              Retrieve data-parsoid (internal Parsoid metadata) for a given page & revision

              Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
            (oas-responses-default):
              body:
                application/json:
                  type: problem
              description: Error
            responses:
              '200':
                body:
                  application/json:
                    type: data-parsoid
                description: The latest Parsoid data for the given page
              '400':
                body:
                  application/json:
                    type: problem
                description: Invalid revision
              '403':
                body:
                  application/json:
                    type: problem
                description: Access to the specific revision is restricted
              '404':
                body:
                  application/json:
                    type: problem
                description: 'Unknown page, revision or tid'
            (oas-tags):
              - Page content
      /:
        get:
          (oas-x-monitor): false
          (oas-x-request-handler):
            - get_from_backend:
                query:
                  page: '{page}'
                request:
                  headers:
                    cache-control: '{cache-control}'
                    if-unmodified-since: '{if-unmodified-since}'
                    (oas-x-restbase-mode): '{x-restbase-mode}'
                    (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                  uri: '/{domain}/sys/parsoid/data-parsoid/{title}/'
                return: true
          displayName: GET_page-data-parsoid-title
          description: |
            List data-parsoid revisions for a page. This currently only lists
            revisions stored in RESTBase.

            Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
          (oas-responses-default):
            body:
              application/json:
                type: problem
            description: Error
          responses:
            '200':
              body:
                application/json:
                  type: revisions
              description: The list of revisions
            '404':
              body:
                application/json:
                  type: problem
              description: Unknown page title
          queryParameters:
            page:
              description: The next page token
              required: false
              type: string
          (oas-tags):
            - Page content
    /:
      get:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - get_from_backend:
              request:
                query:
                  page: '{page}'
                uri: '/{domain}/sys/page_revisions/page/'
              return: true
        displayName: GET_page-data-parsoid
        description: |
          List titles for which the data-parsoid property is available. This
          currently only lists pages which have revisions stored in RESTBase.

          Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: listing
            description: The queriable list of page titles
        queryParameters:
          page:
            description: The next page token
            required: false
            type: string
        (oas-tags):
          - Page content
  /title:
    displayName: title
    /:
      get:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - get_from_backend:
              request:
                query:
                  page: '{page}'
                uri: '/{domain}/sys/page_revisions/page/'
              return: true
        displayName: GET_page-title
        description: |
          List all pages.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental). Don't rely on this.
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: listing
            description: The queriable list of page titles
        queryParameters:
          page:
            description: The next page token
            required: false
            type: string
        (oas-tags):
          - Page content
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title.
          required: true
          type: string
      get:
        (oas-x-amples):
          - request:
              params:
                domain: en.wikipedia.org
                title: Foobar
            response:
              body:
                items:
                  - comment: /.*/
                    rev: /\d+/
                    tid: '/^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/'
                    title: Foobar
              headers:
                content-type: application/json
                etag: /.+/
              status: 200
            title: Get rev by title from storage
        (oas-x-monitor): true
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: no-cache
                  if-unmodified-since: '{if-unmodified-since}'
                uri: '/{domain}/sys/page_revisions/page/{title}'
              return: true
        displayName: GET_page-title-title
        description: |
          Returns the latest revision ID for the title present in storage.
          Supply the Cache-Control: no-cache header to obtain the latest available revision ID

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: revision
            description: The latest revision for the title
          '404':
            body:
              application/json:
                type: problem
            description: Unknown page title or no revisions found
        (oas-tags):
          - Page content
      /:
        get:
          (oas-x-monitor): false
          (oas-x-request-handler):
            - get_from_backend:
                request:
                  query:
                    page: '{page}'
                  uri: '/{domain}/sys/page_revisions/page/{title}/'
                return: true
          displayName: GET_page-title-title
          description: |
            List revisions for a title. Currently this lists all revisions that
            ever used this title and are stored in RESTBase, but eventually it
            should probably return the linear history (across renames) of the page
            currently using this title.

            Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)
          (oas-responses-default):
            body:
              application/json:
                type: problem
            description: Error
          responses:
            '200':
              body:
                application/json:
                  type: listing
              description: The queriable list of page revisions.
          queryParameters:
            page:
              description: The next page token
              required: false
              type: string
          (oas-tags):
            - Page content
  /graph:
    displayName: graph
    /png:
      displayName: png
      '/{title}':
        displayName: '{title}'
        '/{revision}':
          displayName: '{revision}'
          '/{graph_id}':
            displayName: '{graph_id}'
            uriParameters:
              graph_id:
                description: 'The graph ID, consisting of a hash and the suffix `.png`.'
                required: true
                type: string
            get:
              (oas-x-amples):
                - request:
                    params:
                      domain: en.wikipedia.org
                      graph_id: c1c5d432407bd5fd7435f5edfb6fdb73ffd4bc9e.png
                      revision: 0
                      title: 'User:Pchelolo/Graph'
                  response:
                    headers:
                      content-type: image/png
                    status: 200
                  title: Get a graph from Graphoid
              (oas-x-monitor): true
              (oas-x-request-handler):
                - get_from_graphoid:
                    request:
                      uri: '{+ $$.options.host }/{domain}/v1/png/{title}/{revision}/{graph_id}'
                    return: true
              displayName: GET_page-graph-png-title-revision-graph_id
              description: |
                Retrieve PNG graph images embedded in specific revisions of a
                page. See [the Graphoid
                documentation](https://www.mediawiki.org/wiki/Extension:Graph#Graphoid_service)
                for details.

                Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
              (oas-responses-default):
                body:
                  image/png:
                    type: problem
                description: Error
              responses:
                '200':
                  description: The PNG render of the requested graph.
                '403':
                  body:
                    image/png:
                      type: problem
                  description: access to the specific revision is restricted
                '404':
                  body:
                    image/png:
                      type: problem
                  description: Unknown page title or revision
              (oas-tags):
                - Page content
  /html:
    displayName: html
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title.
          required: true
          type: string
      get:
        (oas-x-amples):
          - request:
              params:
                domain: en.wikipedia.org
                title: Foobar
            response:
              body: /^<!DOCTYPE html>.*/
              headers:
                content-type: /^text\/html.+/
                etag: /.+/
              status: 200
            title: Get html by title from storage
        (oas-x-monitor): true
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: '{cache-control}'
                  if-unmodified-since: '{if-unmodified-since}'
                  (oas-x-restbase-mode): '{x-restbase-mode}'
                  (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                query:
                  sections: '{sections}'
                uri: '/{domain}/sys/parsoid/html/{title}'
              return: true
        displayName: GET_page-html-title
        description: |
          Retrieve the latest html for a title.

          The response provides an `ETag` header indicating the revision and
          render timeuuid separated by a slash
          (ex: `ETag: 701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc`). This ETag can be
          passed to the HTML save end point (as `base_etag` POST parameter), and
          can also be used to retrieve the exact corresponding data-parsoid
          metadata, by requesting the specific `revision` and `tid` indicated by
          the `ETag`.

          See [the MediaWiki DOM
          spec](https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec) for a
          description of the MediaWiki-specific semantic markup in this HTML.
          Note that additional metadata is available in the HTML head.

          Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
        (oas-responses-default):
          body:
            text/html; profile="mediawiki.org/specs/html/1.1.0":
              type: problem
          description: Error
        responses:
          '200':
            description: |
              The html for the given page title. Conforms to
              https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec.
          '404':
            body:
              text/html; profile="mediawiki.org/specs/html/1.1.0":
                type: problem
            description: Unknown page title
        queryParameters:
          sections:
            description: Comma-separated list of section IDs
            type: string
        (oas-tags):
          - Page content
      /:
        get:
          (oas-x-monitor): false
          (oas-x-request-handler):
            - get_from_backend:
                request:
                  headers:
                    cache-control: '{cache-control}'
                    if-unmodified-since: '{if-unmodified-since}'
                    (oas-x-restbase-mode): '{x-restbase-mode}'
                    (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                  query:
                    page: '{page}'
                  uri: '/{domain}/sys/parsoid/html/{title}/'
                return: true
          displayName: GET_page-html-title
          description: |
            List HTML revisions for a title. This currently only lists revisions
            that are already stored in RESTBase.

            Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)
          (oas-responses-default):
            body:
              application/json:
                type: problem
            description: Error
          responses:
            '200':
              body:
                application/json:
                  type: revisions
              description: The list of revisions
          queryParameters:
            page:
              description: The next page token
              required: false
              type: string
          (oas-tags):
            - Page content
      '/{revision}':
        displayName: '{revision}'
        '/{tid}':
          displayName: '{tid}'
          uriParameters:
            tid:
              description: The revision's time ID
              required: true
              type: string
          get:
            (oas-x-monitor): false
            (oas-x-request-handler):
              - get_from_backend:
                  request:
                    headers:
                      cache-control: '{cache-control}'
                      if-unmodified-since: '{if-unmodified-since}'
                      (oas-x-restbase-mode): '{x-restbase-mode}'
                      (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                    query:
                      sections: '{sections}'
                    uri: '/{domain}/sys/parsoid/html/{title}/{revision}{/tid}'
                  return: true
            displayName: GET_page-html-title-revision-tid
            description: |
              Retrieve the html for a given title, revision, and optionally timeuuid.

              The response provides an `ETag` header indicating the revision and
              render timeuuid separated by a slash
              (ex: `ETag: 701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc`). This ETag can be
              passed to the HTML save end point (as `base_etag` POST parameter), and
              can also be used to retrieve the exact corresponding data-parsoid
              metadata, by requesting the specific `revision` and `tid` indicated by
              the `ETag`.

              See [the MediaWiki DOM
              spec](https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec) for a
              description of the MediaWiki-specific semantic markup in this HTML.
              Note that additional metadata is available in the HTML head.

              This HTML can be edited using arbitrary HTML tools. The modified HTML
              can be converted back to wikitext using the
              [/transform/html/to/wikitext{/title}{/revision}](#!/Transforms/transform_html_to_wikitext__title___revision__post)
              entry point.

              Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
            (oas-responses-default):
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Error
            responses:
              '200':
                description: |
                  The html for the given page, revision and tid. Conforms to
                  https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec.
              '400':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Invalid revision or tid
              '403':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Access to the specific revision is restricted
              '404':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: 'Unknown page, revision or tid'
            queryParameters:
              sections:
                description: Comma-separated list of section IDs
                type: string
            (oas-tags):
              - Page content
        uriParameters:
          revision:
            description: The revision
            required: true
            type: string
        get:
          (oas-x-monitor): false
          (oas-x-request-handler):
            - get_from_backend:
                request:
                  headers:
                    cache-control: '{cache-control}'
                    if-unmodified-since: '{if-unmodified-since}'
                    (oas-x-restbase-mode): '{x-restbase-mode}'
                    (oas-x-restbase-parentrevision): '{x-restbase-parentrevision}'
                  query:
                    sections: '{sections}'
                  uri: '/{domain}/sys/parsoid/html/{title}/{revision}{/tid}'
                return: true
          displayName: GET_page-html-title-revision
          description: |
            Retrieve the html for a given title, revision, and optionally timeuuid.

            The response provides an `ETag` header indicating the revision and
            render timeuuid separated by a slash
            (ex: `ETag: 701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc`). This ETag can be
            passed to the HTML save end point (as `base_etag` POST parameter), and
            can also be used to retrieve the exact corresponding data-parsoid
            metadata, by requesting the specific `revision` and `tid` indicated by
            the `ETag`.

            See [the MediaWiki DOM
            spec](https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec) for a
            description of the MediaWiki-specific semantic markup in this HTML.
            Note that additional metadata is available in the HTML head.

            This HTML can be edited using arbitrary HTML tools. The modified HTML
            can be converted back to wikitext using the
            [/transform/html/to/wikitext{/title}{/revision}](#!/Transforms/transform_html_to_wikitext__title___revision__post)
            entry point.

            Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
          (oas-responses-default):
            body:
              text/html; profile="mediawiki.org/specs/html/1.1.0":
                type: problem
            description: Error
          responses:
            '200':
              description: |
                The html for the given page, revision and tid. Conforms to
                https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec.
            '400':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Invalid revision or tid
            '403':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Access to the specific revision is restricted
            '404':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: 'Unknown page, revision or tid'
          queryParameters:
            sections:
              description: Comma-separated list of section IDs
              type: string
          (oas-tags):
            - Page content
      post:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - post_to_backend:
              request:
                body: '{$.request.body}'
                headers: '{$.request.headers}'
                uri: '/{domain}/sys/page_save/html/{title}'
              return: true
        displayName: POST_page-html-title
        description: |
          Save a new revision of a page given in HTML format.

          For new pages, or when editting the latest revision of a page,
          the `base_etag` parameter should be left empty. For editing old revisions,
          it should contain the `ETag` header of the revision the edit is derived from.

          The latest page revision ETag header could be provided in the If-Match header
          to detect edit conflicts. If the new page is created, appropriate user cookies
          must be provided.

          See [the MediaWiki DOM spec](https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec)
          for a description of the MediaWiki-specific semantic markup needed by this API
          end-point.

          Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
        body:
          multipart/form-data:
            properties:
              base_etag:
                description: The ETag header of the revision the edit is based on.
                required: false
                type: string
              html:
                description: The HTML of the page to save
                required: true
                type: string
              csrf_token:
                description: The CSRF edit token provided by the MW API
                required: true
                type: string
              comment:
                description: The summary of the change
                required: false
                type: string
              is_minor:
                description: Whether this represents a minor change
                required: false
                type: boolean
              is_bot:
                description: Whether the change is being made by a bot
                required: false
                type: boolean
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            description: The existing revision of the page matches the sent text
          '201':
            description: A new revision of the page has been created
          '400':
            body:
              application/json:
                type: problem
            description: 'Invalid request - lack of required parameters, bad ETags etc.'
          '409':
            body:
              application/json:
                type: problem
            description: Edit conflict
        securedBy:
          - mediawiki_auth
        (oas-tags):
          - Page content
    /:
      get:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - get_from_backend:
              request:
                query:
                  page: '{page}'
                uri: '/{domain}/sys/page_revisions/page/'
              return: true
        displayName: GET_page-html
        description: |
          List titles for which an HTML representation is available. Currently
          this only lists pages that have revisions stored in RESTBase.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            body:
              application/json:
                type: listing
            description: The queriable list of page titles
        queryParameters:
          page:
            description: The next page token
            required: false
            type: string
        (oas-tags):
          - Page content
  /wikitext:
    displayName: wikitext
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title.
          required: true
          type: string
      post:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - post_to_backend:
              request:
                body: '{$.request.body}'
                headers: '{$.request.headers}'
                uri: '/{domain}/sys/page_save/wikitext/{title}'
              return: true
        displayName: POST_page-wikitext-title
        description: |
          Save a new revision of a page.

          For new pages, or when editting the latest revision of a page,
          the `base_etag` parameter should be left empty.
          For editing old revisions, it should contain the ETag header
          of the revision the edit is derived from.

          The latest page revision ETag header could be provided in the If-Match header
          to detect edit conflicts. If the new page is created, appropriate user cookies
          must be provided.

          Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
        body:
          multipart/form-data:
            properties:
              base_etag:
                description: The ETag header of the revision the edit is based on.
                required: false
                type: string
              wikitext:
                description: The wikitext source of the page to save
                required: true
                type: string
              csrf_token:
                description: The CRSF edit token provided by the MW API
                required: true
                type: string
              comment:
                description: The summary of the change
                required: false
                type: string
              is_minor:
                description: Whether this represents a minor change
                required: false
                type: boolean
              is_bot:
                description: Whether the change is being made by a bot
                required: false
                type: boolean
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            description: The existing revision of the page matches the sent text
          '201':
            description: A new revision of the page has been created
          '400':
            body:
              application/json:
                type: problem
            description: 'Invalid request - lack of required parameters, bad ETags etc.'
          '409':
            body:
              application/json:
                type: problem
            description: Edit conflict
        securedBy:
          - mediawiki_auth
        (oas-tags):
          - Page content
  /mobile-sections-remaining:
    displayName: mobile-sections-remaining
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title
          required: true
          type: string
      get:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: '{cache-control}'
                method: get
                uri: '/{domain}/sys/mobileapps/v1/handling/rev/mobile-sections-remaining/{title}'
              return: true
        displayName: GET_page-mobile-sections-remaining-title
        description: |
          Retrieve the remainder of the latest HTML (without the lead section) for
          a page title optimised for viewing with native mobile applications,
          provided as a JSON object containing the sections.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental). Don't rely on this.
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            description: The HTML for the given page title.
          '404':
            body:
              application/json:
                type: problem
            description: Unknown page title
        (oas-tags):
          - Mobile
  /mobile-sections-lead:
    displayName: mobile-sections-lead
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title
          required: true
          type: string
      get:
        (oas-x-monitor): false
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: '{cache-control}'
                method: get
                uri: '/{domain}/sys/mobileapps/v1/handling/rev/mobile-sections-lead/{title}'
              return: true
        displayName: GET_page-mobile-sections-lead-title
        description: |
          Retrieve the lead section of the latest HTML for a page title optimised
          for viewing with native mobile applications.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental). Don't rely on this.
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            description: The HTML for the given page title.
          '404':
            body:
              application/json:
                type: problem
            description: Unknown page title
        (oas-tags):
          - Mobile
  /mobile-sections:
    displayName: mobile-sections
    '/{title}':
      displayName: '{title}'
      uriParameters:
        title:
          description: The page title
          required: true
          type: string
      get:
        (oas-x-amples):
          - request:
              params:
                domain: en.wikipedia.org
                title: Foobar
            response:
              body:
                lead: /.+/
                remaining: /.+/
              headers:
                content-type: /application\/json/
              status: 200
            title: Get MobileApps Foobar page
        (oas-x-monitor): true
        (oas-x-request-handler):
          - get_from_backend:
              request:
                headers:
                  cache-control: '{cache-control}'
                method: get
                uri: '/{domain}/sys/mobileapps/v1/handling/rev/mobile-sections/{title}'
              return: true
        displayName: GET_page-mobile-sections-title
        description: |
          Retrieve the latest HTML for a page title optimised for viewing with
          native mobile applications. Note that the output is split by sections.

          Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental). Don't rely on this.
        (oas-responses-default):
          body:
            application/json:
              type: problem
          description: Error
        responses:
          '200':
            description: The HTML for the given page title.
          '404':
            body:
              application/json:
                type: problem
            description: Unknown page title
        (oas-tags):
          - Mobile
/transform:
  displayName: transform
  /wikitext:
    displayName: wikitext
    /to:
      displayName: to
      /html:
        displayName: html
        '/{title}':
          displayName: '{title}'
          '/{revision}':
            displayName: '{revision}'
            uriParameters:
              revision:
                description: The page revision
                required: true
                type: integer
            post:
              (oas-x-amples):
                - request:
                    body:
                      body_only: true
                      wikitext: == Heading ==
                    params:
                      domain: en.wikipedia.org
                      title: Foobar
                  response:
                    body: /^<h2.*> Heading <\/h2>$/
                    headers:
                      content-type: /^text\/html.+/
                    status: 200
                  title: Transform wikitext to html
              (oas-x-monitor): true
              (oas-x-request-handler):
                - get_from_backend:
                    request:
                      body:
                        body_only: '{body_only}'
                        stash: '{stash}'
                        wikitext: '{wikitext}'
                      uri: '/{domain}/sys/parsoid/transform/wikitext/to/html{/title}{/revision}'
                    return: true
              displayName: POST_transform-wikitext-to-html-title-revision
              description: |
                Transform wikitext to HTML. Note that if you set `stash: true`, you
                  also need to supply the title.

                Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
              body:
                multipart/form-data:
                  properties:
                    wikitext:
                      description: The Wikitext to transform to HTML
                      required: true
                      type: string
                    body_only:
                      description: Return only `body.innerHTML`
                      required: false
                      type: boolean
                    stash:
                      description: Whether to temporarily stash the result of the transformation
                      required: false
                      type: boolean
              (oas-responses-default):
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Error
              responses:
                '200':
                  description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
                '403':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: access to the specific revision is restricted
                '404':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Unknown page title or revision
                '409':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Revision was restricted
                '410':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Page was deleted
              (oas-tags):
                - Transforms
          uriParameters:
            title:
              description: The page title
              required: true
              type: string
          post:
            (oas-x-amples):
              - request:
                  body:
                    body_only: true
                    wikitext: == Heading ==
                  params:
                    domain: en.wikipedia.org
                    title: Foobar
                response:
                  body: /^<h2.*> Heading <\/h2>$/
                  headers:
                    content-type: /^text\/html.+/
                  status: 200
                title: Transform wikitext to html
            (oas-x-monitor): true
            (oas-x-request-handler):
              - get_from_backend:
                  request:
                    body:
                      body_only: '{body_only}'
                      stash: '{stash}'
                      wikitext: '{wikitext}'
                    uri: '/{domain}/sys/parsoid/transform/wikitext/to/html{/title}{/revision}'
                  return: true
            displayName: POST_transform-wikitext-to-html-title
            description: |
              Transform wikitext to HTML. Note that if you set `stash: true`, you
                also need to supply the title.

              Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
            body:
              multipart/form-data:
                properties:
                  wikitext:
                    description: The Wikitext to transform to HTML
                    required: true
                    type: string
                  body_only:
                    description: Return only `body.innerHTML`
                    required: false
                    type: boolean
                  stash:
                    description: Whether to temporarily stash the result of the transformation
                    required: false
                    type: boolean
            (oas-responses-default):
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Error
            responses:
              '200':
                description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
              '403':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: access to the specific revision is restricted
              '404':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Unknown page title or revision
              '409':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Revision was restricted
              '410':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Page was deleted
            (oas-tags):
              - Transforms
        post:
          (oas-x-amples):
            - request:
                body:
                  body_only: true
                  wikitext: == Heading ==
                params:
                  domain: en.wikipedia.org
                  title: Foobar
              response:
                body: /^<h2.*> Heading <\/h2>$/
                headers:
                  content-type: /^text\/html.+/
                status: 200
              title: Transform wikitext to html
          (oas-x-monitor): true
          (oas-x-request-handler):
            - get_from_backend:
                request:
                  body:
                    body_only: '{body_only}'
                    stash: '{stash}'
                    wikitext: '{wikitext}'
                  uri: '/{domain}/sys/parsoid/transform/wikitext/to/html{/title}{/revision}'
                return: true
          displayName: POST_transform-wikitext-to-html
          description: |
            Transform wikitext to HTML. Note that if you set `stash: true`, you
              also need to supply the title.

            Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
          body:
            multipart/form-data:
              properties:
                wikitext:
                  description: The Wikitext to transform to HTML
                  required: true
                  type: string
                body_only:
                  description: Return only `body.innerHTML`
                  required: false
                  type: boolean
                stash:
                  description: Whether to temporarily stash the result of the transformation
                  required: false
                  type: boolean
          (oas-responses-default):
            body:
              text/html; profile="mediawiki.org/specs/html/1.1.0":
                type: problem
            description: Error
          responses:
            '200':
              description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
            '403':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: access to the specific revision is restricted
            '404':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Unknown page title or revision
            '409':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Revision was restricted
            '410':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Page was deleted
          (oas-tags):
            - Transforms
  /html:
    displayName: html
    /to:
      displayName: to
      /html:
        displayName: html
        post:
          (oas-x-monitor): false
          (oas-x-request-handler):
            - get_from_backend:
                request:
                  body:
                    body_only: '{body_only}'
                    html: '{html}'
                  headers:
                    if-match: '{if-match}'
                  uri: '/{domain}/sys/parsoid/transform/html/to/html{/title}{/revision}'
                return: true
          displayName: POST_transform-html-to-html
          description: |
            Update / refresh / sanitize HTML

            Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
          body:
            multipart/form-data:
              properties:
                html:
                  description: The HTML to transform
                  required: true
                  type: string
                body_only:
                  description: Return only `body.innerHTML`
                  required: false
                  type: boolean
          (oas-responses-default):
            body:
              text/html; profile="mediawiki.org/specs/html/1.1.0":
                type: problem
            description: Error
          responses:
            '200':
              description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
            '403':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: access to the specific revision is restricted
            '404':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Unknown page title or revision
            '409':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Revision was restricted
            '410':
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Page was deleted
          (oas-tags):
            - Transforms
        '/{title}':
          displayName: '{title}'
          uriParameters:
            title:
              description: The page title
              required: true
              type: string
          post:
            (oas-x-monitor): false
            (oas-x-request-handler):
              - get_from_backend:
                  request:
                    body:
                      body_only: '{body_only}'
                      html: '{html}'
                    headers:
                      if-match: '{if-match}'
                    uri: '/{domain}/sys/parsoid/transform/html/to/html{/title}{/revision}'
                  return: true
            displayName: POST_transform-html-to-html-title
            description: |
              Update / refresh / sanitize HTML

              Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
            body:
              multipart/form-data:
                properties:
                  html:
                    description: The HTML to transform
                    required: true
                    type: string
                  body_only:
                    description: Return only `body.innerHTML`
                    required: false
                    type: boolean
            (oas-responses-default):
              body:
                text/html; profile="mediawiki.org/specs/html/1.1.0":
                  type: problem
              description: Error
            responses:
              '200':
                description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
              '403':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: access to the specific revision is restricted
              '404':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Unknown page title or revision
              '409':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Revision was restricted
              '410':
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Page was deleted
            (oas-tags):
              - Transforms
          '/{revision}':
            displayName: '{revision}'
            uriParameters:
              revision:
                description: The page revision
                required: true
                type: integer
            post:
              (oas-x-monitor): false
              (oas-x-request-handler):
                - get_from_backend:
                    request:
                      body:
                        body_only: '{body_only}'
                        html: '{html}'
                      headers:
                        if-match: '{if-match}'
                      uri: '/{domain}/sys/parsoid/transform/html/to/html{/title}{/revision}'
                    return: true
              displayName: POST_transform-html-to-html-title-revision
              description: |
                Update / refresh / sanitize HTML

                Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
              body:
                multipart/form-data:
                  properties:
                    html:
                      description: The HTML to transform
                      required: true
                      type: string
                    body_only:
                      description: Return only `body.innerHTML`
                      required: false
                      type: boolean
              (oas-responses-default):
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Error
              responses:
                '200':
                  description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
                '403':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: access to the specific revision is restricted
                '404':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Unknown page title or revision
                '409':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Revision was restricted
                '410':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Page was deleted
              (oas-tags):
                - Transforms
      /wikitext:
        displayName: wikitext
        post:
          (oas-x-monitor): false
          (oas-x-request-handler):
            - get_from_backend:
                request:
                  body:
                    html: '{html}'
                    scrubWikitext: '{scrubWikitext}'
                    scrub_wikitext: '{scrub_wikitext}'
                  headers:
                    if-match: '{if-match}'
                  uri: '/{domain}/sys/parsoid/transform/html/to/wikitext{/title}{/revision}'
                return: true
          displayName: POST_transform-html-to-wikitext
          description: |
            Transform HTML to wikitext

            Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
          body:
            multipart/form-data:
              properties:
                html:
                  description: The HTML to transform
                  required: true
                  type: string
                scrub_wikitext:
                  description: Normalise the DOM to yield cleaner wikitext?
                  required: false
                  type: boolean
                scrubWikitext:
                  description: 'Deprecated, use `scrub_wikitext` instead.'
                  required: false
                  type: boolean
          (oas-responses-default):
            body:
              text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                type: problem
            description: Error
          responses:
            '200':
              description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
            '403':
              body:
                text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                  type: problem
              description: Access to the specific revision is restricted
            '404':
              body:
                text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                  type: problem
              description: Unknown page title or revision
            '409':
              body:
                text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                  type: problem
              description: Revision was restricted
            '410':
              body:
                text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                  type: problem
              description: Page was deleted
          (oas-tags):
            - Transforms
        '/{title}':
          displayName: '{title}'
          uriParameters:
            title:
              description: The page title
              required: true
              type: string
          post:
            (oas-x-monitor): false
            (oas-x-request-handler):
              - get_from_backend:
                  request:
                    body:
                      html: '{html}'
                      scrubWikitext: '{scrubWikitext}'
                      scrub_wikitext: '{scrub_wikitext}'
                    headers:
                      if-match: '{if-match}'
                    uri: '/{domain}/sys/parsoid/transform/html/to/wikitext{/title}{/revision}'
                  return: true
            displayName: POST_transform-html-to-wikitext-title
            description: |
              Transform HTML to wikitext

              Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
            body:
              multipart/form-data:
                properties:
                  html:
                    description: The HTML to transform
                    required: true
                    type: string
                  scrub_wikitext:
                    description: Normalise the DOM to yield cleaner wikitext?
                    required: false
                    type: boolean
                  scrubWikitext:
                    description: 'Deprecated, use `scrub_wikitext` instead.'
                    required: false
                    type: boolean
            (oas-responses-default):
              body:
                text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                  type: problem
              description: Error
            responses:
              '200':
                description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
              '403':
                body:
                  text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                    type: problem
                description: Access to the specific revision is restricted
              '404':
                body:
                  text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                    type: problem
                description: Unknown page title or revision
              '409':
                body:
                  text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                    type: problem
                description: Revision was restricted
              '410':
                body:
                  text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                    type: problem
                description: Page was deleted
            (oas-tags):
              - Transforms
          '/{revision}':
            displayName: '{revision}'
            uriParameters:
              revision:
                description: The page revision
                required: true
                type: integer
            post:
              (oas-x-monitor): false
              (oas-x-request-handler):
                - get_from_backend:
                    request:
                      body:
                        html: '{html}'
                        scrubWikitext: '{scrubWikitext}'
                        scrub_wikitext: '{scrub_wikitext}'
                      headers:
                        if-match: '{if-match}'
                      uri: '/{domain}/sys/parsoid/transform/html/to/wikitext{/title}{/revision}'
                    return: true
              displayName: POST_transform-html-to-wikitext-title-revision
              description: |
                Transform HTML to wikitext

                Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
              body:
                multipart/form-data:
                  properties:
                    html:
                      description: The HTML to transform
                      required: true
                      type: string
                    scrub_wikitext:
                      description: Normalise the DOM to yield cleaner wikitext?
                      required: false
                      type: boolean
                    scrubWikitext:
                      description: 'Deprecated, use `scrub_wikitext` instead.'
                      required: false
                      type: boolean
              (oas-responses-default):
                body:
                  text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                    type: problem
                description: Error
              responses:
                '200':
                  description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
                '403':
                  body:
                    text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                      type: problem
                  description: Access to the specific revision is restricted
                '404':
                  body:
                    text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                      type: problem
                  description: Unknown page title or revision
                '409':
                  body:
                    text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                      type: problem
                  description: Revision was restricted
                '410':
                  body:
                    text/plain; profile="mediawiki.org/specs/wikitext/1.0.0":
                      type: problem
                  description: Page was deleted
              (oas-tags):
                - Transforms
  /sections:
    displayName: sections
    /to:
      displayName: to
      /wikitext:
        displayName: wikitext
        '/{title}':
          displayName: '{title}'
          '/{revision}':
            displayName: '{revision}'
            uriParameters:
              revision:
                description: The page revision
                required: true
                type: integer
            post:
              (oas-x-monitor): false
              (oas-x-request-handler):
                - get_from_backend:
                    request:
                      body:
                        sections: '{sections}'
                      uri: '/{domain}/sys/parsoid/transform/sections/to/wikitext/{title}/{revision}'
                    return: true
              displayName: POST_transform-sections-to-wikitext-title-revision
              description: |
                Transform sections representation to wikitext

                Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)
              body:
                application/json:
                  properties:
                    sections:
                      example: '{"mwAg":"<h2>First Section replaced</h2><h2>Appended Section</h2>"}'
                  type: object
                  (oas-body-name): sections
                  description: Sections to transform
              (oas-responses-default):
                body:
                  text/html; profile="mediawiki.org/specs/html/1.1.0":
                    type: problem
                description: Error
              responses:
                '200':
                  description: 'See wikipage https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec'
                '400':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Illegal JSON provided or section id does not exist
                '403':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: access to the specific revision is restricted
                '404':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Unknown page title or revision
                '409':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Revision was restricted
                '410':
                  body:
                    text/html; profile="mediawiki.org/specs/html/1.1.0":
                      type: problem
                  description: Page was deleted
              (oas-tags):
                - Transforms
/media:
  displayName: media
  /math:
    displayName: math
    /check:
      displayName: check
      '/{type}':
        displayName: '{type}'
        uriParameters:
          type:
            description: The input type of the given formula; can be tex or inline-tex
            enum:
              - tex
              - inline-tex
            required: true
            type: string
        post:
          (oas-x-amples):
            - request:
                body:
                  q: 'E=mc^{2}'
                params:
                  domain: wikimedia.org
                  type: tex
              response:
                body:
                  checked: /.+/
                  success: true
                headers:
                  cache-control: /s-maxage/
                  content-type: /^application\/json/
                  (oas-x-resource-location): /.+/
                status: 200
              title: Mathoid - check test formula
          (oas-x-monitor): true
          (oas-x-request-handler):
            - check_input:
                request:
                  body:
                    q: '{{ request.body.q }}'
                    type: '{{ request.params.type }}'
                  headers:
                    content-type: application/json
                  uri: '{{ options.host }}/texvcinfo'
            - post_store:
                request:
                  body:
                    q: '{{ check_input.body.checked }}'
                    type: '{{ request.params.type }}'
                  headers:
                    content-type: application/json
                  method: put
                  uri: /wikimedia.org/sys/post_data/mathoid.input/
                return:
                  body: '{{ check_input.body }}'
                  headers:
                    cache-control: '{{ options.cache-control }}'
                    content-type: application/json
                    (oas-x-resource-location): '{{ post_store.body }}'
                  status: 200
          (oas-x-setup-handler):
            - init:
                method: put
                uri: /wikimedia.org/sys/post_data/mathoid.input
          displayName: POST_media-math-check-type
          description: |
            Checks the supplied TeX formula for correctness and returns the
            normalised formula representation as well as information about
            identifiers. Available types are tex and inline-tex. The response
            contains the `x-resource-location` header which can be used to retrieve
            the render of the checked formula in one of the supported rendering
            formats. Just append the value of the header to `/media/math/{format}/`
            and perform a GET request against that URL.

            Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#unstable).
          body:
            multipart/form-data:
              properties:
                q:
                  description: The formula to check
                  required: true
                  type: string
          (oas-responses-default):
            body:
              application/json:
                type: problem
            description: Error
          responses:
            '200':
              description: Information about the checked formula
            '400':
              body:
                application/json:
                  type: problem
              description: Invalid type
          (oas-tags):
            - Math
    /render:
      displayName: render
      '/{format}':
        displayName: '{format}'
        '/{hash}':
          displayName: '{hash}'
          uriParameters:
            hash:
              description: The hash string of the previous POST data
              required: true
              type: string
          get:
            (oas-x-monitor): false
            (oas-x-request-handler):
              - check_storage:
                  catch:
                    status: 404
                  request:
                    headers:
                      cache-control: '{{ cache-control }}'
                    method: get
                    uri: '/wikimedia.org/sys/key_value/mathoid.{$.request.params.format}/{$.request.params.hash}'
                  return:
                    body: '{{ check_storage.body }}'
                    headers: '{{ merge({ ''cache-control'': options.cache-control }, check_storage.headers) }}'
                    status: 200
                  return_if:
                    status: 2xx
              - postdata:
                  request:
                    uri: '/wikimedia.org/sys/post_data/mathoid.input/{$.request.params.hash}'
              - mathoid:
                  request:
                    body: '{{postdata.body}}'
                    headers:
                      content-type: application/json
                    method: post
                    uri: '{{options.host}}/complete'
              - store_mml:
                  request:
                    body: '{{ mathoid.body.mml.body }}'
                    headers: '{{ merge(mathoid.body.mml.headers, { ''x-resource-location'': request.params.hash }) }}'
                    method: put
                    uri: '/wikimedia.org/sys/key_value/mathoid.mml/{$.request.params.hash}'
                store_svg:
                  request:
                    body: '{$.mathoid.body.svg.body}'
                    headers: '{{ merge(mathoid.body.svg.headers, { ''x-resource-location'': request.params.hash }) }}'
                    method: put
                    uri: '/wikimedia.org/sys/key_value/mathoid.svg/{$.request.params.hash}'
              - return:
                  return:
                    body: '{{ mathoid.body[request.params.format].body }}'
                    headers: '{{ merge(mathoid.body[request.params.format].headers, { ''x-resource-location'': request.params.hash, ''cache-control'': options.cache-control }) }}'
                    status: 200
            (oas-x-setup-handler):
              - init_svg:
                  body:
                    keyType: string
                    valueType: string
                  method: put
                  uri: /wikimedia.org/sys/key_value/mathoid.svg
              - init_mml:
                  body:
                    keyType: string
                    valueType: string
                  method: put
                  uri: /wikimedia.org/sys/key_value/mathoid.mml
            displayName: GET_media-math-render-format-hash
            description: |
              Given a request hash, renders a TeX formula into its mathematic
              representation in the given format. When a request is issued to the
              `/media/math/check/{format}` POST endpoint, the response contains the
              `x-resource-location` header denoting the hash ID of the POST data. Once
              obtained, this endpoint has to be used to obtain the actual render.

              Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#unstable).
            (oas-responses-default):
              body:
                image/svg+xml:
                  type: problem
              description: Error
            responses:
              '200':
                description: The rendered formula
              '404':
                body:
                  image/svg+xml:
                    type: problem
                description: Unknown format or hash ID
            (oas-tags):
              - Math
types:
  data-parsoid:
    description: Result format for Parsoid data queries
    properties:
      counter:
        format: int32
        type: integer
      ids:
        type: object
  listing:
    description: The result format for listings
    properties:
      items:
        items:
          type: string
        type: array
  problem:
    properties:
      detail:
        type: string
        required: false
      instance:
        type: string
        required: false
      title:
        type: string
        required: false
      type:
        type: string
  revision:
    description: Result format for revision items
    properties:
      count:
        format: int32
        type: integer
      items:
        type: revisionInfo
  revisionIdentifier:
    description: Unique revision identifier
    properties:
      revision:
        format: int32
        type: integer
        required: false
      tid:
        type: string
        required: false
  revisionInfo:
    description: Complete information about the revision
    properties:
      comment:
        type: string
        required: false
      latest_rev:
        format: int32
        type: integer
        required: false
      latest_tid:
        type: string
        required: false
      nextrev_tid:
        type: string
        required: false
      page_id:
        format: int32
        type: integer
        required: false
      redirect:
        type: boolean
        required: false
      renames:
        items:
          type: string
        type: array
        required: false
      restrictions:
        items:
          type: string
        type: array
        required: false
      rev:
        format: int32
        type: integer
        required: false
      tags:
        items:
          type: string
        type: array
        required: false
      tid:
        type: string
        required: false
      timestamp:
        format: rfc3339
        type: datetime
        required: false
      title:
        type: string
        required: false
      user_id:
        format: int32
        type: integer
        required: false
      user_text:
        type: string
        required: false
  revisions:
    description: The result format for revision listing
    properties:
      items:
        type: revisionIdentifier
  summary:
    properties:
      dir:
        description: The page language direction code
        example: ltr
        type: string
      extract:
        description: First several sentences of an article in plain text
        type: string
      lang:
        description: The page language code
        example: en
        type: string
      thumbnail:
        properties:
          height:
            description: Thumnail height
            type: integer
          source:
            description: Thumbnail image URI
            type: string
          width:
            description: Thumbnail width
            type: integer
        type: object
        required: false
      title:
        description: The page title
        type: string
(oas-x-default-params): {}
(oas-x-host-basePath): /api/rest_v1
(oas-x-modules):
  /:
    - path: v1/content.yaml
  /media:
    - options: '{{options.mathoid}}'
      path: v1/mathoid.yaml
  /page:
    - options: '{{options.mobileapps}}'
      path: v1/mobileapps.yaml
    - options: '{{options.graphoid}}'
      path: v1/graphoid.yaml
    - options:
        response_cache-control: 'max-age: 3600, s-maxage: 3600'
      path: v1/summary.js
