#%RAML 1.0
title: BatchService
version: 2016-07-01.3.1
baseUri: 'https://batch.core.windows.net'
mediaType:
  - application/json; odata=minimalmetadata
  - application/json
protocols:
  - HTTPS
description: A client for issuing REST requests to the Azure Batch service.
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-ms-code-generation-settings):
    name: BatchServiceClient
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/batch/2016-07-01.3.1/swagger/BatchService.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): windows.net
  (oas-x-serviceName): batch
annotationTypes:
  oas-x-logo: any
  oas-x-ms-code-generation-settings: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-ms-request-id: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-schema-title:
    type: string
    allowedTargets: TypeDeclaration
  oas-property-title:
    type: string
    allowedTargets: TypeDeclaration
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
/jobschedules:
  displayName: jobschedules
  '/{jobScheduleId}':
    displayName: '{jobScheduleId}'
    /disable:
      displayName: disable
      post:
        (oas-x-ms-request-id): request-id
        displayName: JobSchedule_Disable
        description: No new jobs will be created until the job schedule is enabled again.
        (oas-summary): Disables a job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id in the response.
            default: false
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
            required: false
          If-None-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
            required: false
          If-Modified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Unmodified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '204':
            description: The request to the Batch service was successful.
            headers:
              DataServiceId:
                type: string
                description: The OData ID of the resource to which the request applied.
              ETag:
                type: string
                description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
              Last-Modified:
                type: string
                description: The time at which the resource was last modified.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              request-id:
                type: string
                description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
            displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        (oas-tags):
          - JobSchedules
    /enable:
      displayName: enable
      post:
        (oas-x-ms-request-id): request-id
        displayName: JobSchedule_Enable
        (oas-summary): Enables a job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id in the response.
            default: false
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
            required: false
          If-None-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
            required: false
          If-Modified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Unmodified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '204':
            description: The request to the Batch service was successful.
            headers:
              DataServiceId:
                type: string
                description: The OData ID of the resource to which the request applied.
              ETag:
                type: string
                description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
              Last-Modified:
                type: string
                description: The time at which the resource was last modified.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              request-id:
                type: string
                description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
            displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        (oas-tags):
          - JobSchedules
    /jobs:
      displayName: jobs
      get:
        (oas-x-ms-pageable):
          nextLinkName: odata.nextLink
        (oas-x-ms-request-id): request-id
        displayName: Job_ListFromJobSchedule
        (oas-summary): Lists the jobs that have been created under the specified job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id in the response.
            default: false
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '200':
            body:
              application/json; odata=minimalmetadata:
                type: CloudJobListResult
            description: A response containing the list of jobs.
            headers:
              ETag:
                type: string
                description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
              Last-Modified:
                type: string
                description: The time at which the resource was last modified.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              request-id:
                type: string
                description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
        queryParameters:
          $filter:
            description: An OData $filter clause.
            required: false
            type: string
            displayName: An OData $filter clause.
          $select:
            description: An OData $select clause.
            required: false
            type: string
            displayName: An OData $select clause.
          $expand:
            description: An OData $expand clause.
            required: false
            type: string
            displayName: An OData $expand clause.
          maxresults:
            default: 1000
            description: The maximum number of items to return in the response. A maximum of 1000 jobs can be returned.
            format: int32
            maximum: 1000
            minimum: 1
            required: false
            type: integer
            displayName: The maximum number of items to return in the response. A maximum of 1000 jobs can be returned.
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
            displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        (oas-tags):
          - Jobs
    /terminate:
      displayName: terminate
      post:
        (oas-x-ms-request-id): request-id
        displayName: JobSchedule_Terminate
        (oas-summary): Terminates a job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id in the response.
            default: false
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
            required: false
          If-None-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
            required: false
          If-Modified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Unmodified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '202':
            description: The request to the Batch service was successful.
            headers:
              DataServiceId:
                type: string
                description: The OData ID of the resource to which the request applied.
              ETag:
                type: string
                description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
              Last-Modified:
                type: string
                description: The time at which the resource was last modified.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              request-id:
                type: string
                description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
            displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        (oas-tags):
          - JobSchedules
    uriParameters:
      jobScheduleId:
        description: The ID of the job schedule to get.
        required: true
        type: string
        displayName: The ID of the job schedule to get.
    delete:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Delete
      description: 'When you delete a job schedule, this also deletes all jobs and tasks under that schedule. When tasks are deleted, all the files in their working directories on the compute nodes are also deleted (the retention period is ignored). The job schedule statistics are no longer accessible once the job schedule is deleted, though they are still counted towards account lifetime statistics.'
      (oas-summary): Deletes a job schedule from the specified account.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '202':
          description: The request to the Batch service was successful.
          headers:
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - JobSchedules
    head:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Exists
      (oas-summary): Checks the specified job schedule exists.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          description: 'A response containing headers related to the job schedule, if it exists.'
          headers:
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
        '404':
          description: The job schedule does not exist.
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - JobSchedules
    put:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Update
      description: 'This fully replaces all the updateable properties of the job schedule. For example, if the schedule property is not specified with this request, then the Batch service will remove the existing schedule. Changes to a job schedule only impact jobs created by the schedule after the update has taken place; currently running jobs are unaffected.'
      (oas-summary): Updates the properties of the specified job schedule.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: JobScheduleUpdateParameter
          (oas-body-name): jobScheduleUpdateParameter
          description: The parameters for the request.
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              type: string
              description: The OData ID of the resource to which the request applied.
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - JobSchedules
    patch:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Patch
      description: 'This replaces only the job schedule properties specified in the request. For example, if the schedule property is not specified with this request, then the Batch service will keep the existing schedule. Changes to a job schedule only impact jobs created by the schedule after the update has taken place; currently running jobs are unaffected.'
      (oas-summary): Updates the properties of the specified job schedule.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: JobSchedulePatchParameter
          (oas-body-name): jobSchedulePatchParameter
          description: The parameters for the request.
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              type: string
              description: The OData ID of the resource to which the request applied.
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - JobSchedules
    get:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Get
      description: Gets information about the specified job schedule.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          body:
            application/json; odata=minimalmetadata:
              type: CloudJobSchedule
          description: A response containing the job schedule.
          headers:
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        $select:
          description: An OData $select clause.
          required: false
          type: string
          displayName: An OData $select clause.
        $expand:
          description: An OData $expand clause.
          required: false
          type: string
          displayName: An OData $expand clause.
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - JobSchedules
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: JobSchedule_List
    (oas-summary): Lists all of the job schedules in the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: CloudJobScheduleListResult
        description: A response containing the list of job schedules.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      $filter:
        description: An OData $filter clause.
        required: false
        type: string
        displayName: An OData $filter clause.
      $select:
        description: An OData $select clause.
        required: false
        type: string
        displayName: An OData $select clause.
      $expand:
        description: An OData $expand clause.
        required: false
        type: string
        displayName: An OData $expand clause.
      maxresults:
        default: 1000
        description: The maximum number of items to return in the response. A maximum of 1000 job schedules can be returned.
        format: int32
        maximum: 1000
        minimum: 1
        required: false
        type: integer
        displayName: The maximum number of items to return in the response. A maximum of 1000 job schedules can be returned.
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - JobSchedules
  post:
    (oas-x-ms-request-id): request-id
    displayName: JobSchedule_Add
    (oas-summary): Adds a job schedule to the specified account.
    is:
      - apiVersionParameter
    body:
      application/json:
        type: JobScheduleAddParameter
        (oas-body-name): CloudJobSchedule
        description: The job schedule to be added.
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '201':
        description: The request to the Batch service was successful.
        headers:
          DataServiceId:
            type: string
            description: The OData ID of the resource to which the request applied.
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - JobSchedules
/poolusagemetrics:
  displayName: poolusagemetrics
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: Pool_ListPoolUsageMetrics
    description: 'If you do not specify a $filter clause including a poolId, the response includes all pools that existed in the account in the time range of the returned aggregation intervals.'
    (oas-summary): 'Lists the usage metrics, aggregated by pool across individual time intervals, for the specified account.'
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: PoolListPoolUsageMetricsResult
        description: A response containing the list of pool usage details.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      starttime:
        description: The earliest time from which to include metrics. This must be at least two and a half hours before the current time. If not specified this defaults to the start time of the last aggregation interval currently available.
        format: rfc3339
        required: false
        type: datetime
        displayName: The earliest time from which to include metrics. This must be at least two and a half hours before the current time. If not specified this defaults to the start time of the last aggregation interval currently available.
      endtime:
        description: The latest time from which to include metrics. This must be at least two hours before the current time. If not specified this defaults to the end time of the last aggregation interval currently available.
        format: rfc3339
        required: false
        type: datetime
        displayName: The latest time from which to include metrics. This must be at least two hours before the current time. If not specified this defaults to the end time of the last aggregation interval currently available.
      $filter:
        description: An OData $filter clause. If this is not specified the response includes all pools that existed in the account in the time range of the returned aggregation intervals.
        required: false
        type: string
        displayName: An OData $filter clause. If this is not specified the response includes all pools that existed in the account in the time range of the returned aggregation intervals.
      maxresults:
        default: 1000
        description: The maximum number of items to return in the response. A maximum of 1000 results will be returned.
        format: int32
        maximum: 1000
        minimum: 1
        required: false
        type: integer
        displayName: The maximum number of items to return in the response. A maximum of 1000 results will be returned.
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Pools
/applications:
  displayName: applications
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: Application_List
    description: 'This operation returns only applications and versions that are available for use on compute nodes; that is, that can be used in an application package reference. For administrator information about applications and versions that are not yet available to compute nodes, use the Azure portal or the Azure Resource Manager API.'
    (oas-summary): Lists all of the applications available in the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: ApplicationListResult
        description: A response containing the list of applications.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      maxresults:
        default: 1000
        description: The maximum number of items to return in the response. A maximum of 1000 applications can be returned.
        format: int32
        maximum: 1000
        minimum: 1
        required: false
        type: integer
        displayName: The maximum number of items to return in the response. A maximum of 1000 applications can be returned.
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Applications
  '/{applicationId}':
    displayName: '{applicationId}'
    uriParameters:
      applicationId:
        description: The ID of the application.
        required: true
        type: string
        displayName: The ID of the application.
    get:
      (oas-x-ms-request-id): request-id
      displayName: Application_Get
      (oas-summary): Gets information about the specified application.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          body:
            application/json; odata=minimalmetadata:
              type: ApplicationSummary
          description: A response containing the application.
          headers:
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - Applications
/certificates:
  displayName: certificates
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: Certificate_List
    (oas-summary): Lists all of the certificates that have been added to the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: CertificateListResult
        description: A response containing the list of certificates.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      $filter:
        description: An OData $filter clause.
        required: false
        type: string
        displayName: An OData $filter clause.
      $select:
        description: An OData $select clause.
        required: false
        type: string
        displayName: An OData $select clause.
      maxresults:
        default: 1000
        description: The maximum number of items to return in the response. A maximum of 1000 certificates can be returned.
        format: int32
        maximum: 1000
        minimum: 1
        required: false
        type: integer
        displayName: The maximum number of items to return in the response. A maximum of 1000 certificates can be returned.
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Certificates
  post:
    (oas-x-ms-request-id): request-id
    displayName: Certificate_Add
    (oas-summary): Adds a certificate to the specified account.
    is:
      - apiVersionParameter
    body:
      application/json:
        type: CertificateAddParameter
        (oas-body-name): Certificate
        description: The certificate to be added.
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '201':
        description: The request to the Batch service was successful.
        headers:
          DataServiceId:
            type: string
            description: The OData ID of the resource to which the request applied.
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Certificates
'/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})':
  displayName: 'certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})'
  uriParameters:
    thumbprintAlgorithm:
      description: The algorithm used to derive the thumbprint parameter. This must be sha1.
      required: true
      type: string
      displayName: The algorithm used to derive the thumbprint parameter. This must be sha1.
    thumbprint:
      description: The thumbprint of the certificate to get.
      required: true
      type: string
      displayName: The thumbprint of the certificate to get.
  delete:
    (oas-x-ms-request-id): request-id
    displayName: Certificate_Delete
    description: 'You cannot delete a certificate if a resource (pool or compute node) is using it. Before you can delete a certificate, you must therefore make sure that the certificate is not associated with any existing pools, the certificate is not installed on any compute nodes (even if you remove a certificate from a pool, it is not removed from existing compute nodes in that pool until they restart), and no running tasks depend on the certificate. If you try to delete a certificate that is in use, the deletion fails. The certificate status changes to deletefailed. You can use Cancel Delete Certificate to set the status back to active if you decide that you want to continue using the certificate.'
    (oas-summary): Deletes a certificate from the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '202':
        description: The request to the Batch service was successful.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Certificates
  /canceldelete:
    displayName: canceldelete
    post:
      (oas-x-ms-request-id): request-id
      displayName: Certificate_CancelDeletion
      description: 'If you try to delete a certificate that is being used by a pool or compute node, the status of the certificate changes to deletefailed. If you decide that you want to continue using the certificate, you can use this operation to set the status of the certificate back to active. If you intend to delete the certificate, you do not need to run this operation after the deletion failed. You must make sure that the certificate is not being used by any resources, and then you can try again to delete the certificate.'
      (oas-summary): Cancels a failed deletion of a certificate from the specified account.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '204':
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              type: string
              description: The OData ID of the resource to which the request applied.
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - Certificates
  get:
    (oas-x-ms-request-id): request-id
    displayName: Certificate_Get
    description: Gets information about the specified certificate.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: Certificate
        description: A response containing the certificate.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      $select:
        description: An OData $select clause.
        required: false
        type: string
        displayName: An OData $select clause.
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Certificates
/lifetimejobstats:
  displayName: lifetimejobstats
  get:
    (oas-x-ms-request-id): request-id
    displayName: Job_GetAllJobsLifetimeStatistics
    description: 'Statistics are aggregated across all jobs that have ever existed in the account, from account creation to the last update time of the statistics.'
    (oas-summary): Gets lifetime summary statistics for all of the jobs in the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: JobStatistics
        description: A response containing the job statistics for the lifetime of the Batch account.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Jobs
/lifetimepoolstats:
  displayName: lifetimepoolstats
  get:
    (oas-x-ms-request-id): request-id
    displayName: Pool_GetAllPoolsLifetimeStatistics
    description: 'Statistics are aggregated across all pools that have ever existed in the account, from account creation to the last update time of the statistics.'
    (oas-summary): Gets lifetime summary statistics for all of the pools in the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: PoolStatistics
        description: A response containing the pool statistics for the lifetime of the Batch account.
        headers:
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Pools
/jobs:
  displayName: jobs
  post:
    (oas-x-ms-request-id): request-id
    displayName: Job_Add
    description: 'The Batch service supports two ways to control the work done as part of a job. In the first approach, the user specifies a Job Manager task. The Batch service launches this task when it is ready to start the job. The Job Manager task controls all other tasks that run under this job, by using the Task APIs. In the second approach, the user directly controls the execution of tasks under an active job, by using the Task APIs. Also note: when naming jobs, avoid including sensitive information such as user names or secret project names. This information may appear in telemetry logs accessible to Microsoft Support engineers.'
    (oas-summary): Adds a job to the specified account.
    is:
      - apiVersionParameter
    body:
      application/json:
        type: JobAddParameter
        (oas-body-name): Job
        description: The job to be added.
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id in the response.
        default: false
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '201':
        description: The request to the Batch service was successful.
        headers:
          DataServiceId:
            type: string
            description: The OData ID of the resource to which the request applied.
          ETag:
            type: string
            description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
          Last-Modified:
            type: string
            description: The time at which the resource was last modified.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
          request-id:
            type: string
            description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
        displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
    (oas-tags):
      - Jobs
  '/{jobId}':
    displayName: '{jobId}'
    uriParameters:
      jobId:
        description: The ID of the job to delete.
        required: true
        type: string
        displayName: The ID of the job to delete.
    get:
      (oas-x-ms-request-id): request-id
      displayName: Job_Get
      (oas-summary): Gets information about the specified job.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          body:
            application/json; odata=minimalmetadata:
              type: CloudJob
          description: A response containing the job.
          headers:
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        $select:
          description: An OData $select clause.
          required: false
          type: string
          displayName: An OData $select clause.
        $expand:
          description: An OData $expand clause.
          required: false
          type: string
          displayName: An OData $expand clause.
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - Jobs
    put:
      (oas-x-ms-request-id): request-id
      displayName: Job_Update
      description: 'This fully replaces all the updateable properties of the job. For example, if the job has constraints associated with it and if constraints is not specified with this request, then the Batch service will remove the existing constraints.'
      (oas-summary): Updates the properties of the specified job.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: JobUpdateParameter
          (oas-body-name): jobUpdateParameter
          description: The parameters for the request.
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id in the response.
          default: false
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              type: string
              description: The OData ID of the resource to which the request applied.
            ETag:
              type: string
              description: 'The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.'
            Last-Modified:
              type: string
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
            request-id:
              type: string
              description: 'This header uniquely identifies the request that was made and can be used for troubleshooting the request. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this header, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.'
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
          displayName: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
      (oas-tags):
        - Jobs
    /disable:
      displayName: disable
      post:
        (oas-x-ms-request-id): request-id
        displayName: Job_Disable
[...]
