#%RAML 1.0
title: GraphRbacManagementClient
version: '1.6'
baseUri: 'https://graph.windows.net'
mediaType:
  - application/json
  - text/json
protocols:
  - HTTPS
description: The Graph RBAC Management Client
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-graphrbac/1.6/swagger/graphrbac.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): windows.net
  (oas-x-serviceName): arm-graphrbac
annotationTypes:
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-ms-pageable: any
  oas-x-ms-odata: any
  oas-x-ms-client-name: any
  oas-x-ms-client-flatten: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
  oas-x-hasEquivalentPaths: any
  oas-x-ms-paths: any
securitySchemes:
  azure_auth:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://login.microsoftonline.com/common/oauth2/authorize'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - user_impersonation
    description: Azure Active Directory OAuth2 Flow
'/{tenantID}':
  displayName: '{tenantID}'
  /groups:
    displayName: groups
    '/{objectId}':
      displayName: '{objectId}'
      /members:
        displayName: members
        get:
          (oas-x-ms-pageable):
            nextLinkName: odata.nextLink
            operationName: Groups_GetGroupMembersNext
          displayName: Groups_GetGroupMembers
          description: Gets the members of a group.
          is:
            - apiVersionParameter
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '200':
              body:
                application/json:
                  type: GetObjectsResult
              description: OK. The operation was successful.
          (oas-tags):
            - Group
      uriParameters:
        objectId:
          description: The object ID of the user for which to get group information.
          required: true
          type: string
      get:
        displayName: Groups_Get
        description: Gets group information from the directory.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: ADGroup
            description: OK. The operation was successful.
        (oas-tags):
          - Group
      /getMemberGroups:
        displayName: getMemberGroups
        post:
          (oas-x-ms-pageable): {}
          displayName: Groups_GetMemberGroups
          description: Gets a collection of object IDs of groups of which the specified group is a member.
          is:
            - apiVersionParameter
          body:
            application/json:
              type: GroupGetMemberGroupsParameters
              (oas-body-name): parameters
              description: Group filtering parameters.
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '200':
              body:
                application/json:
                  type: GroupGetMemberGroupsResult
              description: OK. The operation was successful.
          (oas-tags):
            - Group
    post:
      displayName: Groups_Create
      description: Create a group in the directory.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: GroupCreateParameters
          (oas-body-name): parameters
          description: The parameters for the group to create.
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '201':
          body:
            application/json:
              type: ADGroup
          description: Created
      (oas-tags):
        - Group
    '/{groupObjectId}':
      displayName: '{groupObjectId}'
      /$links:
        displayName: $links
        /members:
          displayName: members
          post:
            displayName: Groups_AddMember
            description: Add a member to a group.
            is:
              - apiVersionParameter
            body:
              application/json:
                type: GroupAddMemberParameters
                (oas-body-name): parameters
                description: 'The URL of the member object, such as https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd.'
            (oas-responses-default):
              body:
                application/json:
                  type: GraphError
              description: Error response describing why the operation failed.
            responses:
              '204':
                description: No Content. Indicates success. No response body is returned.
            (oas-tags):
              - Group
          '/{memberObjectId}':
            displayName: '{memberObjectId}'
            uriParameters:
              memberObjectId:
                description: Member object id
                required: true
                type: string
            delete:
              displayName: Groups_RemoveMember
              description: Remove a member from a group.
              is:
                - apiVersionParameter
              (oas-responses-default):
                body:
                  application/json:
                    type: GraphError
                description: Error response describing why the operation failed.
              responses:
                '204':
                  description: No Content. Indicates success. No response body is returned.
              (oas-tags):
                - Group
      uriParameters:
        groupObjectId:
          description: The object ID of the group to delete.
          required: true
          type: string
      delete:
        displayName: Groups_Delete
        description: Delete a group from the directory.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '204':
            description: No Content
        (oas-tags):
          - Group
    get:
      (oas-x-ms-odata): '#/definitions/ADGroup'
      (oas-x-ms-pageable):
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
      displayName: Groups_List
      description: Gets list of groups for the current tenant.
      is:
        - apiVersionParameter
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '200':
          body:
            application/json:
              type: GroupListResult
          description: OK. The operation was successful.
      queryParameters:
        $filter:
          description: The filter to apply to the operation.
          required: false
          type: string
      (oas-tags):
        - Group
  /users:
    displayName: users
    '/{upnOrObjectId}':
      displayName: '{upnOrObjectId}'
      uriParameters:
        upnOrObjectId:
          description: The object ID or principal name of the user to delete.
          required: true
          type: string
      patch:
        displayName: Users_Update
        description: Updates a user.
        is:
          - apiVersionParameter
        body:
          application/json:
            type: UserUpdateParameters
            (oas-body-name): parameters
            description: Parameters to update an existing user.
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '204':
            description: No Content.
        (oas-tags):
          - User
      get:
        displayName: Users_Get
        description: Gets user information from the directory.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: User
            description: OK. The operation was successful.
        (oas-tags):
          - User
      delete:
        displayName: Users_Delete
        description: Delete a user.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '204':
            description: No Content
        (oas-tags):
          - User
    get:
      (oas-x-ms-odata): '#/definitions/User'
      (oas-x-ms-pageable):
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
      displayName: Users_List
      description: Gets list of users for the current tenant.
      is:
        - apiVersionParameter
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '200':
          body:
            application/json:
              type: UserListResult
          description: OK. The operation was successful.
      queryParameters:
        $filter:
          description: The filter to apply to the operation.
          required: false
          type: string
      (oas-tags):
        - User
    '/{objectId}':
      displayName: '{objectId}'
      /getMemberGroups:
        displayName: getMemberGroups
        post:
          (oas-x-ms-pageable): {}
          displayName: Users_GetMemberGroups
          description: Gets a collection that contains the object IDs of the groups of which the user is a member.
          is:
            - apiVersionParameter
          body:
            application/json:
              type: UserGetMemberGroupsParameters
              (oas-body-name): parameters
              description: User filtering parameters.
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '200':
              body:
                application/json:
                  type: UserGetMemberGroupsResult
              description: OK. The operation was successful.
          (oas-tags):
            - User
    post:
      displayName: Users_Create
      description: Create a new user.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: UserCreateParameters
          (oas-body-name): parameters
          description: Parameters to create a user.
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '201':
          body:
            application/json:
              type: User
          description: Created. Indicates success. The new user is returned in the response body.
      (oas-tags):
        - User
  /isMemberOf:
    displayName: isMemberOf
    post:
      displayName: Groups_IsMemberOf
      description: 'Checks whether the specified user, group, contact, or service principal is a direct or transitive member of the specified group.'
      is:
        - apiVersionParameter
      body:
        application/json:
          type: CheckGroupMembershipParameters
          (oas-body-name): parameters
          description: The check group membership parameters.
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '200':
          body:
            application/json:
              type: CheckGroupMembershipResult
          description: 'OK. Indicates success. Returns true if the user, contact, group, or service principal is a direct or a transitive member of the specified group; otherwsie, false.'
      (oas-tags):
        - Group
  /applications:
    displayName: applications
    get:
      (oas-x-ms-odata): '#/definitions/Application'
      (oas-x-ms-pageable):
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
      displayName: Applications_List
      description: Lists applications by filter parameters.
      is:
        - apiVersionParameter
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '200':
          body:
            application/json:
              type: ApplicationListResult
          description: OK. The operation was successful.
      queryParameters:
        $filter:
          description: The filters to apply to the operation.
          required: false
          type: string
      (oas-tags):
        - Application
    '/{applicationObjectId}':
      displayName: '{applicationObjectId}'
      uriParameters:
        applicationObjectId:
          description: Application object ID.
          required: true
          type: string
      delete:
        displayName: Applications_Delete
        description: Delete an application.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '204':
            description: No Content
        (oas-tags):
          - Application
      patch:
        displayName: Applications_Patch
        description: Update an existing application.
        is:
          - apiVersionParameter
        body:
          application/json:
            type: ApplicationUpdateParameters
            (oas-body-name): parameters
            description: Parameters to update an existing application.
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '204':
            description: No Content
        (oas-tags):
          - Application
      /keyCredentials:
        displayName: keyCredentials
        patch:
          displayName: Applications_UpdateKeyCredentials
          description: Update the keyCredentials associated with an application.
          is:
            - apiVersionParameter
          body:
            application/json:
              type: KeyCredentialsUpdateParameters
              (oas-body-name): parameters
              description: Parameters to update the keyCredentials of an existing application.
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '204':
              description: No Content
          (oas-tags):
            - ApplicationKeyCredentials
        get:
          (oas-x-ms-pageable): {}
          displayName: Applications_ListKeyCredentials
          description: Get the keyCredentials associated with an application.
          is:
            - apiVersionParameter
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '200':
              body:
                application/json:
                  type: KeyCredentialListResult
              description: OK. The operation was successful.
          (oas-tags):
            - ApplicationKeyCredentials
      /passwordCredentials:
        displayName: passwordCredentials
        patch:
          displayName: Applications_UpdatePasswordCredentials
          description: Update passwordCredentials associated with an application.
          is:
            - apiVersionParameter
          body:
            application/json:
              type: PasswordCredentialsUpdateParameters
              (oas-body-name): parameters
              description: Parameters to update passwordCredentials of an existing application.
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '204':
              description: No Content
          (oas-tags):
            - ApplicationPasswordCredentials
        get:
          (oas-x-ms-pageable): {}
          displayName: Applications_ListPasswordCredentials
          description: Get the passwordCredentials associated with an application.
          is:
            - apiVersionParameter
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '200':
              body:
                application/json:
                  type: PasswordCredentialListResult
              description: OK. The operation was successful.
          (oas-tags):
            - ApplicationPasswordCredentials
      get:
        displayName: Applications_Get
        description: Get an application by object ID.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: Application
            description: OK. The operation was successful.
        (oas-tags):
          - Application
    post:
      displayName: Applications_Create
      description: Create a new application.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: ApplicationCreateParameters
          (oas-body-name): parameters
          description: The parameters for creating an application.
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '201':
          body:
            application/json:
              type: Application
          description: The application was created successfully.
      (oas-tags):
        - Application
  /me:
    displayName: me
    get:
      displayName: Objects_GetCurrentUser
      description: Gets the details for the currently logged-in user.
      is:
        - apiVersionParameter
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '200':
          body:
            application/json:
              type: AADObject
          description: OK. The operation was successful.
      (oas-tags):
        - Objects
  /servicePrincipals:
    displayName: servicePrincipals
    get:
      (oas-x-ms-odata): '#/definitions/ServicePrincipal'
      (oas-x-ms-pageable):
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
      displayName: ServicePrincipals_List
      description: Gets a list of service principals from the current tenant.
      is:
        - apiVersionParameter
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '200':
          body:
            application/json:
              type: ServicePrincipalListResult
          description: OK. The operation was successful.
      queryParameters:
        $filter:
          description: The filter to apply to the operation.
          required: false
          type: string
      (oas-tags):
        - ServicePrincipal
    post:
      displayName: ServicePrincipals_Create
      description: Creates a service principal in the directory.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: ServicePrincipalCreateParameters
          (oas-body-name): parameters
          description: Parameters to create a service principal.
      (oas-responses-default):
        body:
          application/json:
            type: GraphError
        description: Error response describing why the operation failed.
      responses:
        '201':
          body:
            application/json:
              type: ServicePrincipal
          description: The service principal was created successfully.
      (oas-tags):
        - ServicePrincipal
    '/{objectId}':
      displayName: '{objectId}'
      uriParameters:
        objectId:
          description: The object ID of the service principal to get.
          required: true
          type: string
      delete:
        displayName: ServicePrincipals_Delete
        description: Deletes a service principal from the directory.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '204':
            description: No Content
        (oas-tags):
          - ServicePrincipal
      get:
        displayName: ServicePrincipals_Get
        description: Gets service principal information from the directory.
        is:
          - apiVersionParameter
        (oas-responses-default):
          body:
            application/json:
              type: GraphError
          description: Error response describing why the operation failed.
        responses:
          '200':
            body:
              application/json:
                type: ServicePrincipal
            description: OK. The operation was successful.
        (oas-tags):
          - ServicePrincipal
      /keyCredentials:
        displayName: keyCredentials
        get:
          (oas-x-ms-pageable): {}
          displayName: ServicePrincipals_ListKeyCredentials
          description: Get the keyCredentials associated with the specified service principal.
          is:
            - apiVersionParameter
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '200':
              body:
                application/json:
                  type: KeyCredentialListResult
              description: OK. The operation was successful.
          (oas-tags):
            - ServicePrincipalKeyCredentials
        patch:
          displayName: ServicePrincipals_UpdateKeyCredentials
          description: Update the keyCredentials associated with a service principal.
          is:
            - apiVersionParameter
          body:
            application/json:
              type: KeyCredentialsUpdateParameters
              (oas-body-name): parameters
              description: Parameters to update the keyCredentials of an existing service principal.
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '204':
              description: No Content
          (oas-tags):
            - ServicePrincipalKeyCredentials
      /passwordCredentials:
        displayName: passwordCredentials
        get:
          (oas-x-ms-pageable): {}
          displayName: ServicePrincipals_ListPasswordCredentials
          description: Gets the passwordCredentials associated with a service principal.
          is:
            - apiVersionParameter
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '200':
              body:
                application/json:
                  type: PasswordCredentialListResult
              description: OK. The operation was successful.
          (oas-tags):
            - ServicePrincipalPasswordCredentials
        patch:
          displayName: ServicePrincipals_UpdatePasswordCredentials
          description: Updates the passwordCredentials associated with a service principal.
          is:
            - apiVersionParameter
          body:
            application/json:
              type: PasswordCredentialsUpdateParameters
              (oas-body-name): parameters
              description: Parameters to update the passwordCredentials of an existing service principal.
          (oas-responses-default):
            body:
              application/json:
                type: GraphError
            description: Error response describing why the operation failed.
          responses:
            '204':
              description: No Content
          (oas-tags):
            - ServicePrincipalPasswordCredentials
types:
  AADObject:
    description: The properties of an Active Directory object.
    properties:
      displayName:
        description: The display name of the object.
        type: string
        required: false
      mail:
        description: The primary email address of the object.
        type: string
        required: false
      mailEnabled:
        description: Whether the AAD object is mail-enabled.
        type: boolean
        required: false
      objectId:
        description: The ID of the object.
        type: string
        required: false
      objectType:
        description: The type of AAD object.
        type: string
        required: false
      securityEnabled:
        description: Whether the AAD object is security-enabled.
        type: boolean
        required: false
      servicePrincipalNames:
        description: A collection of service principal names associated with the object.
        items:
          type: string
        type: array
        required: false
      signInName:
        description: The sign-in name of the object.
        type: string
        required: false
      userPrincipalName:
        description: The principal name of the object.
        type: string
        required: false
      userType:
        description: The user type of the object.
        type: string
        required: false
  ADGroup:
    description: Active Directory group information.
    properties:
      displayName:
        description: The display name of the group.
        type: string
        required: false
      mail:
        description: The primary email address of the group.
        type: string
        required: false
      objectId:
        description: The object ID.
        type: string
        required: false
      objectType:
        description: The object type.
        type: string
        required: false
      securityEnabled:
        description: Whether the group is security-enable.
        type: boolean
        required: false
  Application:
    description: Active Directory application information.
    properties:
      appId:
        description: The application ID.
        type: string
        required: false
      appPermissions:
        description: The application permissions.
        items:
          type: string
        type: array
        required: false
      availableToOtherTenants:
        description: Whether the application is be available to other tenants.
        type: boolean
        required: false
      displayName:
        description: The display name of the application.
        type: string
        required: false
      homepage:
        description: The home page of the application.
        type: string
        required: false
      identifierUris:
        description: A collection of URIs for the application.
        items:
          type: string
        type: array
        required: false
      objectId:
        description: The object ID.
        type: string
        required: false
      objectType:
        description: The object type.
        type: string
        required: false
      replyUrls:
        description: A collection of reply URLs for the application.
        items:
          type: string
        type: array
        required: false
  ApplicationCreateParameters:
    description: Request parameters for creating a new application.
    properties:
      availableToOtherTenants:
        description: Whether the application is available to other tenants.
        type: boolean
      displayName:
        description: The display name of the application.
        type: string
      homepage:
        description: The home page of the application.
        type: string
        required: false
      identifierUris:
        description: A collection of URIs for the application.
        items:
          type: string
        type: array
      keyCredentials:
        description: The list of KeyCredential objects.
        items:
          type: KeyCredential
        type: array
        required: false
      passwordCredentials:
        description: The list of PasswordCredential objects.
        items:
          type: PasswordCredential
        type: array
        required: false
      replyUrls:
        description: A collection of reply URLs for the application.
        items:
          type: string
        type: array
        required: false
  ApplicationListResult:
    description: Application list operation result.
    properties:
      odata.nextLink:
        description: The URL to get the next set of results.
        type: string
        required: false
      value:
        description: A collection of applications.
        items:
          type: Application
        type: array
        required: false
  ApplicationUpdateParameters:
    description: Request parameters for updating an existing application.
    properties:
      availableToOtherTenants:
        description: Whether the application is available to other tenants
        type: boolean
        required: false
      displayName:
        description: The display name of the application.
        type: string
        required: false
      homepage:
        description: The home page of the application.
        type: string
        required: false
      identifierUris:
        description: A collection of URIs for the application.
        items:
          type: string
        type: array
        required: false
      keyCredentials:
        description: The list of KeyCredential objects.
        items:
          type: KeyCredential
        type: array
        required: false
      passwordCredentials:
        description: The list of PasswordCredential objects.
        items:
          type: PasswordCredential
        type: array
        required: false
      replyUrls:
        description: A collection of reply URLs for the application.
        items:
          type: string
        type: array
        required: false
  CheckGroupMembershipParameters:
    description: Request parameters for IsMemberOf API call.
    properties:
      groupId:
        description: The object ID of the group to check.
        type: string
      memberId:
        description: 'The object ID of the contact, group, user, or service principal to check for membership in the specified group.'
        type: string
  CheckGroupMembershipResult:
    description: Server response for IsMemberOf API call
    properties:
      value:
        description: 'True if the specified user, group, contact, or service principal has either direct or transitive membership in the specified group; otherwise, false.'
        type: boolean
        required: false
  ErrorMessage:
    description: Active Directory error message.
    properties:
      value:
        description: Error message value.
        type: string
        required: false
        (oas-x-ms-client-name): message
  GetObjectsResult:
    description: The response to an Active Directory object inquiry API request.
    properties:
      odata.nextLink:
        description: The URL to get the next set of results.
        type: string
        required: false
      value:
        description: A collection of Active Directory objects.
        items:
          type: AADObject
        type: array
        required: false
  GraphError:
    description: Active Directory error information.
    properties:
      odata.error:
        description: A Graph API error.
        type: OdataError
        required: false
        (oas-x-ms-client-flatten): true
  GroupAddMemberParameters:
    description: Request parameters for adding a member to a group.
    properties:
      url:
        description: 'A member object URL, such as "https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd", where "0b1f9851-1bf0-433f-aec3-cb9272f093dc" is the tenantId and "f260bbc4-c254-447b-94cf-293b5ec434dd" is the objectId of the member (user, application, servicePrincipal, group) to be added.'
        type: string
  GroupCreateParameters:
    description: Request parameters for creating a new group.
    properties:
      displayName:
        description: Group display name
        type: string
      mailEnabled:
        description: Whether the group is mail-enabled. Must be false. This is because only pure security groups can be created using the Graph API.
        enum:
          - false
        type: boolean
      mailNickname:
        description: Mail nickname
        type: string
      securityEnabled:
        description: Whether the group is a security group. Must be true. This is because only pure security groups can be created using the Graph API.
        enum:
          - true
        type: boolean
  GroupGetMemberGroupsParameters:
    description: Request parameters for GetMemberGroups API call.
    properties:
      securityEnabledOnly:
        description: 'If true, only membership in security-enabled groups should be checked. Otherwise, membership in all groups should be checked.'
        type: boolean
  GroupGetMemberGroupsResult:
    description: Server response for GetMemberGroups API call.
    properties:
      value:
        description: A collection of group IDs of which the group is a member.
        items:
          type: string
        type: array
        required: false
  GroupListResult:
    description: Server response for Get tenant groups API call
    properties:
      odata.nextLink:
        description: The URL to get the next set of results.
        type: string
        required: false
      value:
        description: A collection of Active Directory groups.
        items:
          type: ADGroup
        type: array
        required: false
  KeyCredential:
    description: Active Directory Key Credential information.
    properties:
      endDate:
        description: End date.
        format: rfc3339
        type: datetime
        required: false
      keyId:
        description: Key ID.
        type: string
        required: false
      startDate:
        description: Start date.
        format: rfc3339
        type: datetime
        required: false
      type:
        description: Type. Acceptable values are 'AsymmetricX509Cert' and 'Symmetric'.
        type: string
        required: false
      usage:
        description: Usage. Acceptable values are 'Verify' and 'Sign'.
        type: string
        required: false
      value:
        description: Key value.
        type: string
        required: false
  KeyCredentialListResult:
    description: KeyCredential list operation result.
    properties:
      value:
        description: A collection of KeyCredentials.
        items:
          type: KeyCredential
        type: array
        required: false
  KeyCredentialsUpdateParameters:
    description: Request parameters for a KeyCredentials update operation
    properties:
      value:
        description: A collection of KeyCredentials.
        items:
          type: KeyCredential
        type: array
  OdataError:
    description: Active Directory OData error information.
    properties:
      code:
        description: Error code.
        type: string
        required: false
      message:
        description: Error Message.
        type: ErrorMessage
        required: false
        (oas-x-ms-client-flatten): true
  PasswordCredential:
    description: Active Directory Password Credential information.
    properties:
      endDate:
        description: End date.
        format: rfc3339
        type: datetime
        required: false
      keyId:
        description: Key ID.
        type: string
        required: false
      startDate:
        description: Start date.
        format: rfc3339
        type: datetime
        required: false
      value:
        description: Key value.
        type: string
        required: false
  PasswordCredentialListResult:
    description: PasswordCredential list operation result.
    properties:
      value:
        description: A collection of PasswordCredentials.
        items:
          type: PasswordCredential
        type: array
        required: false
  PasswordCredentialsUpdateParameters:
    description: Request parameters for a PasswordCredentials update operation.
    properties:
      value:
        description: A collection of PasswordCredentials.
        items:
          type: PasswordCredential
        type: array
  PasswordProfile:
    description: The password profile associated with a user.
    properties:
      forceChangePasswordNextLogin:
        description: Whether to force a password change on next login.
        type: boolean
        required: false
      password:
        description: Password
        type: string
  ServicePrincipal:
    description: Active Directory service principal information.
    properties:
      appId:
        description: The application ID.
        type: string
        required: false
      displayName:
        description: The display name of the service principal.
        type: string
        required: false
      objectId:
        description: The object ID.
        type: string
        required: false
      objectType:
        description: The object type.
        type: string
        required: false
      servicePrincipalNames:
        description: A collection of service principal names.
        items:
          type: string
        type: array
        required: false
  ServicePrincipalCreateParameters:
    description: Request parameters for creating a new service principal.
    properties:
      accountEnabled:
        description: Whether the account is enabled
        type: boolean
      appId:
        description: application Id
        type: string
      keyCredentials:
        description: A collection of KeyCredential objects.
        items:
          type: KeyCredential
        type: array
        required: false
      passwordCredentials:
        description: A collection of PasswordCredential objects
        items:
          type: PasswordCredential
        type: array
        required: false
  ServicePrincipalListResult:
    description: Server response for get tenant service principals API call.
    properties:
      odata.nextLink:
        description: the URL to get the next set of results.
        type: string
        required: false
      value:
        description: the list of service principals.
        items:
          type: ServicePrincipal
        type: array
        required: false
  User:
    description: Active Directory user information.
    properties:
      displayName:
        description: The display name of the user.
        type: string
        required: false
      mail:
        description: The primary email address of the user.
        type: string
        required: false
      mailNickname:
        description: The mail alias for the user.
        type: string
        required: false
      objectId:
        description: The object ID.
        type: string
        required: false
      objectType:
        description: The object type.
        type: string
        required: false
      signInName:
        description: The sign-in name of the user.
        type: string
        required: false
      userPrincipalName:
        description: The principal name of the user.
        type: string
        required: false
  UserCreateParameters:
    description: Request parameters for creating a new work or school account user.
    properties:
      accountEnabled:
        description: Whether the account is enabled.
        type: boolean
      displayName:
        description: The display name of the user.
        type: string
      immutableId:
        description: This must be specified if you are using a federated domain for the user's userPrincipalName (UPN) property when creating a new user account. It is used to associate an on-premises Active Directory user account with their Azure AD user object.
        type: string
        required: false
      mailNickname:
        description: The mail alias for the user.
        type: string
      passwordProfile:
        description: Password Profile
        type: PasswordProfile
      userPrincipalName:
        description: The user principal name (someuser@contoso.com). It must contain one of the verified domains for the tenant.
        type: string
  UserGetMemberGroupsParameters:
    description: Request parameters for GetMemberGroups API call.
    properties:
      securityEnabledOnly:
        description: 'If true, only membership in security-enabled groups should be checked. Otherwise, membership in all groups should be checked.'
        type: boolean
  UserGetMemberGroupsResult:
    description: Server response for GetMemberGroups API call.
    properties:
      value:
        description: A collection of group IDs of which the user is a member.
        items:
          type: string
        type: array
        required: false
  UserListResult:
    description: Server response for Get tenant users API call.
    properties:
      odata.nextLink:
        description: The URL to get the next set of results.
        type: string
        required: false
      value:
        description: the list of users.
        items:
          type: User
        type: array
        required: false
  UserUpdateParameters:
    description: Request parameters for updating an existing work or school account user.
    properties:
      accountEnabled:
        description: Whether the account is enabled.
        type: boolean
        required: false
      displayName:
        description: The display name of the user.
        type: string
        required: false
      mailNickname:
        description: The mail alias for the user.
        type: string
        required: false
      passwordProfile:
        description: The password profile of the user.
        type: PasswordProfile
        required: false
traits:
  apiVersionParameter:
    queryParameters:
      api-version:
        type: string
        description: Client API version.
        required: true
(oas-x-hasEquivalentPaths): true
(oas-x-ms-paths):
  '/{tenantID}/{nextLink}?Applications_ListNext':
    get:
      description: Gets a list of applications from the current tenant.
      operationId: Applications_ListNext
      parameters:
        - description: Next link for the list operation.
          in: path
          name: nextLink
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      tags:
        - Applications
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
  '/{tenantID}/{nextLink}?Groups_GetGroupMembersNext':
    get:
      description: Gets the members of a group.
      operationId: Groups_GetGroupMembersNext
      parameters:
        - description: Next link for the list operation.
          in: path
          name: nextLink
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/GetObjectsResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      tags:
        - Group
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
  '/{tenantID}/{nextLink}?Groups_ListNext':
    get:
      description: Gets a list of groups for the current tenant.
      operationId: Groups_ListNext
      parameters:
        - description: Next link for the list operation.
          in: path
          name: nextLink
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/GroupListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      tags:
        - Group
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
  '/{tenantID}/{nextLink}?ServicePrincipals_ListNext':
    get:
      description: Gets a list of service principals from the current tenant.
      operationId: ServicePrincipals_ListNext
      parameters:
        - description: Next link for the list operation.
          in: path
          name: nextLink
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/ServicePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      tags:
        - ServicePrincipal
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
  '/{tenantID}/{nextLink}?Users_ListNext':
    get:
      description: Gets a list of users for the current tenant.
      operationId: Users_ListNext
      parameters:
        - description: Next link for the list operation.
          in: path
          name: nextLink
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/UserListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      tags:
        - User
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
