#%RAML 1.0
title: BatchService
version: 2016-02-01.3.0
baseUri: 'https://batch.core.windows.net'
mediaType:
  - application/json; odata=minimalmetadata
  - application/json
protocols:
  - HTTPS
description: A client for issuing REST requests to the Azure Batch service.
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png'
  (oas-x-ms-code-generation-settings):
    name: BatchServiceClient
  (oas-x-origin):
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/batch/2016-02-01.3.0/swagger/BatchService.json'
    version: '2.0'
  (oas-x-preferred): false
  (oas-x-providerName): windows.net
  (oas-x-serviceName): batch
annotationTypes:
  oas-x-logo: any
  oas-x-ms-code-generation-settings: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-x-ms-request-id: any
  oas-x-ms-pageable: any
  oas-x-ms-enum: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-responses-default:
    type: any
    allowedTargets: Method
/jobschedules:
  displayName: jobschedules
  '/{jobScheduleId}':
    displayName: '{jobScheduleId}'
    /disable:
      displayName: disable
      post:
        (oas-x-ms-request-id): request-id
        displayName: JobSchedule_Disable
        description: Disables a job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id identifier in the response.
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
            required: false
          If-None-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
            required: false
          If-Modified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Unmodified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '204':
            headers:
              DataServiceId:
                type: string
                description: The OData id of the resource to which the request applied.
              ETag:
                type: string
                description: The content of the ETag HTTP response header.
              Last-Modified:
                type: string
                description: The content of the Last-Modified HTTP response header.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              request-id:
                type: string
                description: The value that uniquely identifies a request.
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
        (oas-tags):
          - JobSchedules
    /enable:
      displayName: enable
      post:
        (oas-x-ms-request-id): request-id
        displayName: JobSchedule_Enable
        description: Enables a job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id identifier in the response.
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
            required: false
          If-None-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
            required: false
          If-Modified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Unmodified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '204':
            headers:
              DataServiceId:
                type: string
                description: The OData id of the resource to which the request applied.
              ETag:
                type: string
                description: The content of the ETag HTTP response header.
              Last-Modified:
                type: string
                description: The content of the Last-Modified HTTP response header.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              request-id:
                type: string
                description: The value that uniquely identifies a request.
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
        (oas-tags):
          - JobSchedules
    /jobs:
      displayName: jobs
      get:
        (oas-x-ms-pageable):
          nextLinkName: odata.nextLink
        (oas-x-ms-request-id): request-id
        displayName: Job_ListFromJobSchedule
        description: Lists the jobs that have been created under the specified job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id identifier in the response.
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '200':
            body:
              application/json; odata=minimalmetadata:
                type: CloudJobListResult
            headers:
              ETag:
                type: string
                description: The content of the ETag HTTP response header.
              Last-Modified:
                type: string
                description: The content of the Last-Modified HTTP response header.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              request-id:
                type: string
                description: The value that uniquely identifies a request.
        queryParameters:
          $filter:
            description: An OData $filter clause.
            required: false
            type: string
          $select:
            description: An OData $select clause.
            required: false
            type: string
          $expand:
            description: An OData $expand clause.
            required: false
            type: string
          maxresults:
            description: The maximum number of items to return in the response.
            format: int32
            required: false
            type: integer
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
        (oas-tags):
          - Jobs
    /terminate:
      displayName: terminate
      post:
        (oas-x-ms-request-id): request-id
        displayName: JobSchedule_Terminate
        description: Terminates a job schedule.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id identifier in the response.
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
            required: false
          If-None-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
            required: false
          If-Modified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Unmodified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '202':
            headers:
              DataServiceId:
                type: string
                description: The OData id of the resource to which the request applied.
              ETag:
                type: string
                description: The content of the ETag HTTP response header.
              Last-Modified:
                type: string
                description: The content of the Last-Modified HTTP response header.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              request-id:
                type: string
                description: The value that uniquely identifies a request.
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
        (oas-tags):
          - JobSchedules
    uriParameters:
      jobScheduleId:
        description: The id of the job schedule to delete.
        required: true
        type: string
    get:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Get
      description: Gets information about the specified job schedule.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          body:
            application/json; odata=minimalmetadata:
              type: CloudJobSchedule
          headers:
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        $select:
          description: An OData $select clause.
          required: false
          type: string
        $expand:
          description: An OData $expand clause.
          required: false
          type: string
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - JobSchedules
    patch:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Patch
      description: Updates the properties of the specified job schedule.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: JobSchedulePatchParameter
          (oas-body-name): jobSchedulePatchParameter
          description: The parameters for the request.
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          headers:
            DataServiceId:
              type: string
              description: The OData id of the resource to which the request applied.
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - JobSchedules
    head:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Exists
      description: Checks the specified job schedule exists.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          description: Found the jobschedule.
          headers:
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
        '404':
          description: JobSchedules not found
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - JobSchedules
    put:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Update
      description: Updates the properties of the specified job schedule.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: JobScheduleUpdateParameter
          (oas-body-name): jobScheduleUpdateParameter
          description: The parameters for the request.
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          headers:
            DataServiceId:
              type: string
              description: The OData id of the resource to which the request applied.
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - JobSchedules
    delete:
      (oas-x-ms-request-id): request-id
      displayName: JobSchedule_Delete
      description: Deletes a job schedule from the specified account.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '202':
          headers:
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - JobSchedules
  post:
    (oas-x-ms-request-id): request-id
    displayName: JobSchedule_Add
    description: Adds a job schedule to the specified account.
    is:
      - apiVersionParameter
    body:
      application/json:
        type: JobScheduleAddParameter
        (oas-body-name): CloudJobSchedule
        description: The job schedule to be added.
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '201':
        headers:
          DataServiceId:
            type: string
            description: The OData id of the resource to which the request applied.
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - JobSchedules
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: JobSchedule_List
    description: Lists all of the job schedules in the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: CloudJobScheduleListResult
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      $filter:
        description: An OData $filter clause.
        required: false
        type: string
      $select:
        description: An OData $select clause.
        required: false
        type: string
      $expand:
        description: An OData $expand clause.
        required: false
        type: string
      maxresults:
        description: The maximum number of items to return in the response.
        format: int32
        required: false
        type: integer
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - JobSchedules
/poolusagemetrics:
  displayName: poolusagemetrics
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: Pool_ListPoolUsageMetrics
    description: 'Lists the usage metrics, aggregated by pool across individual time intervals, for the specified account.'
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: PoolListPoolUsageMetricsResult
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      starttime:
        description: The earliest time from which to include metrics. This must be at least two and a half hours before the current time.
        format: rfc3339
        required: false
        type: datetime
      endtime:
        description: The latest time from which to include metrics. This must be at least two hours before the current time.
        format: rfc3339
        required: false
        type: datetime
      $filter:
        description: An OData $filter clause.
        required: false
        type: string
      maxresults:
        description: The maximum number of items to return in the response.
        format: int32
        required: false
        type: integer
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Pools
/applications:
  displayName: applications
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: Application_List
    description: Lists all of the applications available in the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: ApplicationListResult
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      maxresults:
        description: The maximum number of items to return in the response.
        format: int32
        required: false
        type: integer
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Applications
  '/{applicationId}':
    displayName: '{applicationId}'
    uriParameters:
      applicationId:
        description: The id of the application.
        required: true
        type: string
    get:
      (oas-x-ms-request-id): request-id
      displayName: Application_Get
      description: Gets information about the specified application.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          body:
            application/json; odata=minimalmetadata:
              type: ApplicationSummary
          headers:
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Applications
/certificates:
  displayName: certificates
  get:
    (oas-x-ms-pageable):
      nextLinkName: odata.nextLink
    (oas-x-ms-request-id): request-id
    displayName: Certificate_List
    description: Lists all of the certificates that have been added to the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: CertificateListResult
        description: Gets the list of certificates.
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      $filter:
        description: An OData $filter clause.
        required: false
        type: string
      $select:
        description: An OData $select clause.
        required: false
        type: string
      maxresults:
        description: The maximum number of items to return in the response.
        format: int32
        required: false
        type: integer
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Certificates
  post:
    (oas-x-ms-request-id): request-id
    displayName: Certificate_Add
    description: Adds a certificate to the specified account.
    is:
      - apiVersionParameter
    body:
      application/json:
        type: CertificateAddParameter
        (oas-body-name): Certificate
        description: The certificate to be added.
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '201':
        description: Initial response
        headers:
          DataServiceId:
            type: string
            description: The OData id of the resource to which the request applied.
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Certificates
'/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})':
  displayName: 'certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})'
  uriParameters:
    thumbprintAlgorithm:
      description: The algorithm used to derive the thumbprint parameter. This must be sha1.
      required: true
      type: string
    thumbprint:
      description: The thumbprint of the certificate to get.
      required: true
      type: string
  delete:
    (oas-x-ms-request-id): request-id
    displayName: Certificate_Delete
    description: Deletes a certificate from the specified account.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '202':
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Certificates
  /canceldelete:
    displayName: canceldelete
    post:
      (oas-x-ms-request-id): request-id
      displayName: Certificate_CancelDeletion
      description: Cancels a failed deletion of a certificate from the specified account.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '204':
          headers:
            DataServiceId:
              type: string
              description: The OData id of the resource to which the request applied.
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Certificates
  get:
    (oas-x-ms-request-id): request-id
    displayName: Certificate_Get
    description: Gets information about the specified certificate.
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: Certificate
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      $select:
        description: An OData $select clause.
        required: false
        type: string
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Certificates
/lifetimejobstats:
  displayName: lifetimejobstats
  get:
    (oas-x-ms-request-id): request-id
    displayName: Job_GetAllJobsLifetimeStatistics
    description: 'Gets lifetime summary statistics for all of the jobs in the specified account. Statistics are aggregated across all jobs that have ever existed in the account, from account creation to the last update time of the statistics.'
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: JobStatistics
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Jobs
/lifetimepoolstats:
  displayName: lifetimepoolstats
  get:
    (oas-x-ms-request-id): request-id
    displayName: Pool_GetAllPoolsLifetimeStatistics
    description: 'Gets lifetime summary statistics for all of the pools in the specified account. Statistics are aggregated across all pools that have ever existed in the account, from account creation to the last update time of the statistics.'
    is:
      - apiVersionParameter
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '200':
        body:
          application/json; odata=minimalmetadata:
            type: PoolStatistics
        headers:
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Pools
/jobs:
  displayName: jobs
  post:
    (oas-x-ms-request-id): request-id
    displayName: Job_Add
    description: Adds a job to the specified account.
    is:
      - apiVersionParameter
    body:
      application/json:
        type: JobAddParameter
        (oas-body-name): Job
        description: The job to be added.
    headers:
      client-request-id:
        type: string
        description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
      return-client-request-id:
        type: boolean
        description: Whether the server should return the client-request-id identifier in the response.
        required: false
      ocp-date:
        type: string
        description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
        format: date-time-rfc1123
        required: false
        facets:
          format: string
    (oas-responses-default):
      body:
        application/json; odata=minimalmetadata:
          type: BatchError
      description: The error from the Batch service.
    responses:
      '201':
        headers:
          DataServiceId:
            type: string
            description: The OData id of the resource to which the request applied.
          ETag:
            type: string
            description: The content of the ETag HTTP response header.
          Last-Modified:
            type: string
            description: The content of the Last-Modified HTTP response header.
            format: date-time-rfc1123
            facets:
              format: string
          client-request-id:
            type: string
            description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
          request-id:
            type: string
            description: The value that uniquely identifies a request.
    queryParameters:
      timeout:
        default: 30
        description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
        format: int32
        required: false
        type: integer
    (oas-tags):
      - Jobs
  '/{jobId}':
    displayName: '{jobId}'
    uriParameters:
      jobId:
        description: The id of the job whose properties you want to update.
        required: true
        type: string
    get:
      (oas-x-ms-request-id): request-id
      displayName: Job_Get
      description: Gets information about the specified job.
      is:
        - apiVersionParameter
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          body:
            application/json; odata=minimalmetadata:
              type: CloudJob
          headers:
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        $select:
          description: An OData $select clause.
          required: false
          type: string
        $expand:
          description: An OData $expand clause.
          required: false
          type: string
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Jobs
    put:
      (oas-x-ms-request-id): request-id
      displayName: Job_Update
      description: Updates the properties of a job.
      is:
        - apiVersionParameter
      body:
        application/json:
          type: JobUpdateParameter
          (oas-body-name): jobUpdateParameter
          description: The parameters for the request.
      headers:
        client-request-id:
          type: string
          description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          required: false
        return-client-request-id:
          type: boolean
          description: Whether the server should return the client-request-id identifier in the response.
          required: false
        ocp-date:
          type: string
          description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          required: false
        If-None-Match:
          type: string
          description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          required: false
        If-Modified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
        If-Unmodified-Since:
          type: string
          description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          required: false
          facets:
            format: string
      (oas-responses-default):
        body:
          application/json; odata=minimalmetadata:
            type: BatchError
        description: The error from the Batch service.
      responses:
        '200':
          headers:
            DataServiceId:
              type: string
              description: The OData id of the resource to which the request applied.
            ETag:
              type: string
              description: The content of the ETag HTTP response header.
            Last-Modified:
              type: string
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              facets:
                format: string
            client-request-id:
              type: string
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
            request-id:
              type: string
              description: The value that uniquely identifies a request.
      queryParameters:
        timeout:
          default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          required: false
          type: integer
      (oas-tags):
        - Jobs
    /disable:
      displayName: disable
      post:
        (oas-x-ms-request-id): request-id
        displayName: Job_Disable
        description: 'Disables the specified job, preventing new tasks from running.'
        is:
          - apiVersionParameter
        body:
          application/json:
            type: JobDisableParameter
            (oas-body-name): jobDisableParameter
            description: The parameters for the request.
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id identifier in the response.
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
            required: false
          If-None-Match:
            type: string
            description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
            required: false
          If-Modified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
          If-Unmodified-Since:
            type: string
            description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '202':
            headers:
              DataServiceId:
                type: string
                description: The OData id of the resource to which the request applied.
              ETag:
                type: string
                description: The content of the ETag HTTP response header.
              Last-Modified:
                type: string
                description: The content of the Last-Modified HTTP response header.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              request-id:
                type: string
                description: The value that uniquely identifies a request.
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
        (oas-tags):
          - Jobs
    /jobpreparationandreleasetaskstatus:
      displayName: jobpreparationandreleasetaskstatus
      get:
        (oas-x-ms-pageable):
          nextLinkName: odata.nextLink
        (oas-x-ms-request-id): request-id
        displayName: Job_ListPreparationAndReleaseTaskStatus
        description: Lists the execution status of the Job Preparation and Job Release task for the specified job across the compute nodes where the job has run.
        is:
          - apiVersionParameter
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id identifier in the response.
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '200':
            body:
              application/json; odata=minimalmetadata:
                type: CloudJobListPreparationAndReleaseTaskStatusResult
            headers:
              ETag:
                type: string
                description: The content of the ETag HTTP response header.
              Last-Modified:
                type: string
                description: The content of the Last-Modified HTTP response header.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              request-id:
                type: string
                description: The value that uniquely identifies a request.
        queryParameters:
          $filter:
            description: An OData $filter clause.
            required: false
            type: string
          $select:
            description: An OData $select clause.
            required: false
            type: string
          maxresults:
            description: The maximum number of items to return in the response.
            format: int32
            required: false
            type: integer
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
        (oas-tags):
          - Jobs
    /tasks:
      displayName: tasks
      post:
        (oas-x-ms-request-id): request-id
        displayName: Task_Add
        description: Adds a task to the specified job.
        is:
          - apiVersionParameter
        body:
          application/json:
            type: TaskAddParameter
            (oas-body-name): task
            description: The task to be added.
        headers:
          client-request-id:
            type: string
            description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
            required: false
          return-client-request-id:
            type: boolean
            description: Whether the server should return the client-request-id identifier in the response.
            required: false
          ocp-date:
            type: string
            description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
            format: date-time-rfc1123
            required: false
            facets:
              format: string
        (oas-responses-default):
          body:
            application/json; odata=minimalmetadata:
              type: BatchError
          description: The error from the Batch service.
        responses:
          '201':
            headers:
              DataServiceId:
                type: string
                description: The OData id of the resource to which the request applied.
              ETag:
                type: string
                description: The content of the ETag HTTP response header.
              Last-Modified:
                type: string
                description: The content of the Last-Modified HTTP response header.
                format: date-time-rfc1123
                facets:
                  format: string
              client-request-id:
                type: string
                description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              request-id:
                type: string
                description: The value that uniquely identifies a request.
        queryParameters:
          timeout:
            default: 30
            description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
            format: int32
            required: false
            type: integer
        (oas-tags):
          - Tasks
      '/{taskId}':
        displayName: '{taskId}'
        uriParameters:
          taskId:
            description: The id of the task to delete.
            required: true
            type: string
        get:
          (oas-x-ms-request-id): request-id
          displayName: Task_Get
          description: Gets information about the specified task.
          is:
            - apiVersionParameter
          headers:
            client-request-id:
              type: string
              description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
              required: false
            return-client-request-id:
              type: boolean
              description: Whether the server should return the client-request-id identifier in the response.
              required: false
            ocp-date:
              type: string
              description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
              format: date-time-rfc1123
              required: false
              facets:
                format: string
            If-Match:
              type: string
              description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
              required: false
            If-None-Match:
              type: string
              description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
              required: false
            If-Modified-Since:
              type: string
              description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
              format: date-time-rfc1123
              required: false
              facets:
                format: string
            If-Unmodified-Since:
              type: string
              description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
              format: date-time-rfc1123
              required: false
              facets:
                format: string
          (oas-responses-default):
            body:
              application/json; odata=minimalmetadata:
                type: BatchError
            description: The error from the Batch service.
          responses:
            '200':
              body:
                application/json; odata=minimalmetadata:
                  type: CloudTask
              headers:
                DataServiceId:
                  type: string
                  description: The OData id of the resource to which the request applied.
                ETag:
                  type: string
                  description: The content of the ETag HTTP response header.
                Last-Modified:
                  type: string
                  description: The content of the Last-Modified HTTP response header.
                  format: date-time-rfc1123
                  facets:
                    format: string
                client-request-id:
                  type: string
                  description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
                request-id:
                  type: string
                  description: The value that uniquely identifies a request.
          queryParameters:
            $select:
              description: An OData $select clause.
              required: false
              type: string
            $expand:
              description: An OData $expand clause.
              required: false
              type: string
            timeout:
              default: 30
              description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
              format: int32
              required: false
              type: integer
          (oas-tags):
            - Tasks
        /files:
          displayName: files
          get:
            (oas-x-ms-pageable):
              nextLinkName: odata.nextLink
            (oas-x-ms-request-id): request-id
            displayName: File_ListFromTask
            description: Lists the files in a task's directory on its compute node.
            is:
              - apiVersionParameter
            headers:
              client-request-id:
                type: string
                description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
                required: false
              return-client-request-id:
                type: boolean
                description: Whether the server should return the client-request-id identifier in the response.
                required: false
              ocp-date:
                type: string
                description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
                format: date-time-rfc1123
                required: false
                facets:
                  format: string
            (oas-responses-default):
              body:
                application/json; odata=minimalmetadata:
                  type: BatchError
              description: The error from the Batch service.
            responses:
              '200':
                body:
                  application/json; odata=minimalmetadata:
                    type: NodeFileListResult
                headers:
                  ETag:
                    type: string
                    description: The content of the ETag HTTP response header.
                  Last-Modified:
                    type: string
                    description: The content of the Last-Modified HTTP response header.
                    format: date-time-rfc1123
                    facets:
                      format: string
                  client-request-id:
                    type: string
                    description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
                  request-id:
                    type: string
                    description: The value that uniquely identifies a request.
            queryParameters:
              $filter:
                description: An OData $filter clause.
                required: false
                type: string
              recursive:
                description: Whether to list children of a directory.
                required: false
                type: boolean
              maxresults:
                description: The maximum number of items to return in the response.
                format: int32
                required: false
                type: integer
              timeout:
                default: 30
                description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
                format: int32
                required: false
                type: integer
            (oas-tags):
              - Files
          '/{fileName}':
            displayName: '{fileName}'
            uriParameters:
              fileName:
                description: The path to the task file that you want to delete.
                required: true
                type: string
            get:
              (oas-x-ms-request-id): request-id
              displayName: File_GetFromTask
              description: Returns the content of the specified task file.
              is:
                - apiVersionParameter
              headers:
                client-request-id:
                  type: string
                  description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
                  required: false
                return-client-request-id:
                  type: boolean
                  description: Whether the server should return the client-request-id identifier in the response.
                  required: false
                ocp-date:
                  type: string
                  description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
                  format: date-time-rfc1123
                  required: false
                  facets:
                    format: string
                ocp-range:
                  type: string
                  description: The byte range to be retrieved. The default is to retrieve the entire file. The format is startRange-endRange.
                  required: false
                If-Modified-Since:
                  type: string
                  description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
                  format: date-time-rfc1123
                  required: false
                  facets:
                    format: string
                If-Unmodified-Since:
                  type: string
                  description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
                  format: date-time-rfc1123
                  required: false
                  facets:
                    format: string
              (oas-responses-default):
                body:
                  application/json; odata=minimalmetadata:
                    type: BatchError
                description: The error from the Batch service.
              responses:
                '200':
                  body:
                    application/json; odata=minimalmetadata:
                      type: file
                  headers:
                    Content-Length:
                      type: integer
                      description: The length of the file.
                      format: int64
                    Content-Type:
                      type: string
                      description: The content type of the file.
                    ETag:
                      type: string
                      description: The content of the ETag HTTP response header.
                    Last-Modified:
                      type: string
                      description: The content of the Last-Modified HTTP response header.
                      format: date-time-rfc1123
                      facets:
                        format: string
                    client-request-id:
                      type: string
                      description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
                    ocp-batch-file-isdirectory:
                      type: boolean
                      description: Whether the object represents a directory.
                    ocp-batch-file-mode:
                      type: string
                      description: The file mode attribute in octal format.
                    ocp-batch-file-url:
                      type: string
                      description: The URL of the file.
                    ocp-creation-time:
                      type: string
                      description: The file creation time.
                      format: date-time-rfc1123
                      facets:
                        format: string
                    request-id:
                      type: string
                      description: The value that uniquely identifies a request.
              queryParameters:
                timeout:
                  default: 30
                  description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
                  format: int32
                  required: false
                  type: integer
              (oas-tags):
                - Files
            head:
              (oas-x-ms-request-id): request-id
              displayName: File_GetNodeFilePropertiesFromTask
              description: Gets the properties of the specified task file.
              is:
                - apiVersionParameter
              headers:
                client-request-id:
                  type: string
                  description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
                  required: false
                return-client-request-id:
                  type: boolean
                  description: Whether the server should return the client-request-id identifier in the response.
                  required: false
                ocp-date:
                  type: string
                  description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
                  format: date-time-rfc1123
                  required: false
                  facets:
                    format: string
                If-Modified-Since:
                  type: string
                  description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
                  format: date-time-rfc1123
                  required: false
                  facets:
                    format: string
                If-Unmodified-Since:
                  type: string
                  description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
                  format: date-time-rfc1123
                  required: false
                  facets:
                    format: string
              (oas-responses-default):
                body:
                  application/json; odata=minimalmetadata:
                    type: BatchError
                description: The error from the Batch service.
              responses:
                '200':
                  description: Found the file
                  headers:
                    Content-Length:
                      type: integer
                      description: The length of the file.
                      format: int64
                    Content-Type:
                      type: string
                      description: The content type of the file.
                    ETag:
                      type: string
                      description: The content of the ETag HTTP response header.
                    Last-Modified:
                      type: string
                      description: The content of the Last-Modified HTTP response header.
                      format: date-time-rfc1123
                      facets:
                        format: string
                    client-request-id:
                      type: string
                      description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
                    ocp-batch-file-isdirectory:
                      type: boolean
                      description: Whether the object represents a directory.
                    ocp-batch-file-mode:
                      type: string
                      description: The file mode attribute in octal format.
                    ocp-batch-file-url:
                      type: string
                      description: The URL of the file.
                    ocp-creation-time:
                      type: string
                      description: The file creation time.
                      format: date-time-rfc1123
                      facets:
                        format: string
                    request-id:
                      type: string
                      description: The value that uniquely identifies a request.
              queryParameters:
                timeout:
                  default: 30
                  description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
                  format: int32
                  required: false
                  type: integer
              (oas-tags):
                - Files
            delete:
              (oas-x-ms-request-id): request-id
              displayName: File_DeleteFromTask
              description: Deletes the specified task file from the compute node where the task ran.
              is:
                - apiVersionParameter
              headers:
                client-request-id:
                  type: string
                  description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
                  required: false
                return-client-request-id:
                  type: boolean
                  description: Whether the server should return the client-request-id identifier in the response.
                  required: false
                ocp-date:
                  type: string
                  description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
                  format: date-time-rfc1123
                  required: false
                  facets:
                    format: string
              (oas-responses-default):
                body:
                  application/json; odata=minimalmetadata:
                    type: BatchError
                description: The error from the Batch service.
              responses:
                '200':
                  headers:
                    client-request-id:
                      type: string
                      description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
                    request-id:
                      type: string
                      description: The value that uniquely identifies a request.
              queryParameters:
                recursive:
                  description: 'Whether to delete children of a directory. If the fileName parameter represents a directory instead of a file, you can set Recursive to true to delete the directory and all of the files and subdirectories in it. If Recursive is false then the directory must be empty or deletion will fail.'
                  required: false
                  type: boolean
                timeout:
                  default: 30
                  description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
                  format: int32
                  required: false
                  type: integer
              (oas-tags):
                - Files
        /subtasksinfo:
          displayName: subtasksinfo
          get:
            (oas-x-ms-request-id): request-id
            displayName: Task_ListSubtasks
            description: Lists all of the subtasks that are associated with the specified multi-instance task.
            is:
              - apiVersionParameter
            headers:
              client-request-id:
                type: string
                description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
                required: false
              return-client-request-id:
                type: boolean
                description: Whether the server should return the client-request-id identifier in the response.
                required: false
              ocp-date:
                type: string
[...]
