#%RAML 1.0
title: Winning Email
version: 1.0.0
baseUri: 'https://winning.email/api/v1'
mediaType:
  - application/x-www-form-urlencoded
  - application/json
protocols:
  - HTTPS
description: 'The Winning Email API allows you to access our services from your applications. Contact us if you need help with anything, or require access to something we don''t yet offer. The API overview is available <a href=''/api/v1/docs'' target=''_blank''>here</a>.'
(oas-tags-definition):
  - description: Email Booster Service
    name: email-booster
  - description: Other endpoints
    name: default
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-responses-default:
    type: any
    allowedTargets: Method
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_winning.email_media_winning-email-logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://winning.email/api/v1/spec.json'
    version: '2.0'
  (oas-x-preferred): true
  (oas-x-providerName): winning.email
  termsOfService: 'https://winning.email/terms/'
securitySchemes:
  internalApiKey:
    type: Pass Through
    describedBy:
      queryParameters:
        key:
          type: string
/status:
  displayName: status
  get:
    displayName: status
    description: Check the status of the Winning Email API.
    (oas-summary): API Server Status
    (oas-responses-default):
      body:
        application/x-www-form-urlencoded:
          type: ErrorModel
      description: error
    responses:
      '200':
        body:
          application/x-www-form-urlencoded:
            properties:
              message:
                type: string
                required: false
              status:
                type: integer
                required: false
              uptime:
                format: double
                type: number
                required: false
            type: object
        description: status
/rate-limit-status:
  displayName: rate-limit-status
  get:
    displayName: rateLimitStatus
    description: 'Check how many API queries you''ve used, and what your limit is.'
    (oas-summary): Rate Limit Status of Services
    (oas-responses-default):
      body:
        application/x-www-form-urlencoded:
          type: ErrorModel
      description: error
    responses:
      '200':
        body:
          application/x-www-form-urlencoded:
            properties:
              message:
                type: string
                required: false
              services:
                items:
                  type: Service
                type: array
                required: false
              status:
                type: integer
                required: false
            type: object
        description: rate limit
    securedBy:
      - internalApiKey
/email-booster:
  displayName: email-booster
  post:
    displayName: emailBooster
    description: 'With our API, you can access the same results available through the Winning Email website, but in a raw, JSON, format, that you can use however you wish in your application. Read more about Email Booster <a href=''/email-booster/'' target=''_blank''>here</a>.<br><br><strong>Input Parameters</strong><br>If <strong>source</strong> provided, then all other inputs are ignored. Otherwise, <strong>subject</strong> AND one or both of <strong>html</strong> and <strong>text</strong> are required.'
    (oas-summary): 'The Email Booster service will scan your email subjects and bodies (both HTML and plain text), and give you recommendations on what to chan'
    body:
      multipart/form-data:
        properties:
          subject:
            description: email subject
            required: false
            type: string
          html:
            description: html body
            required: false
            type: string
          text:
            description: plain text body
            required: false
            type: string
          source:
            description: raw source
            required: false
            type: string
    (oas-responses-default):
      body:
        application/x-www-form-urlencoded:
          type: ErrorModel
      description: error
    responses:
      '200':
        body:
          application/x-www-form-urlencoded:
            properties:
              message:
                type: string
                required: false
              report:
                type: Report
                required: false
              status:
                type: integer
                required: false
            type: object
        description: email booster report
      '400':
        body:
          application/x-www-form-urlencoded:
            properties:
              errors:
                items:
                  properties:
                    msg:
                      type: string
                      required: false
                    param:
                      type: string
                      required: false
                  type: object
                type: array
                required: false
              message:
                type: string
                required: false
              status:
                type: integer
                required: false
            type: object
        description: bad request error
    securedBy:
      - internalApiKey
    (oas-tags):
      - email-booster
types:
  ErrorModel:
    properties:
      message:
        type: string
      status:
        format: int32
        type: integer
  Report:
    properties:
      baseScore:
        type: integer
        required: false
      report:
        properties:
          bodyReport:
            properties:
              address:
                type: object
                required: false
              hasForm:
                type: integer
                required: false
              hasJS:
                type: integer
                required: false
              htmlLength:
                type: integer
                required: false
              score:
                format: float
                type: number
                required: false
              textLength:
                type: integer
                required: false
            type: object
            required: false
          imageReport:
            properties:
              imagesNeedOptimization:
                type: integer
                required: false
              imagesNoAlt:
                items: {}
                type: array
                required: false
              optimization:
                items: {}
                type: array
                required: false
              score:
                format: float
                type: number
                required: false
            type: object
            required: false
          linkReport:
            properties:
              errors:
                items: {}
                type: array
                required: false
              score:
                format: float
                type: number
                required: false
            type: object
            required: false
          markupReport:
            properties:
              response:
                properties:
                  errors:
                    items: {}
                    type: array
                    required: false
                  groupedErrors:
                    items: {}
                    type: array
                    required: false
                  tripleTree:
                    items: {}
                    type: array
                    required: false
                  warnings:
                    items: {}
                    type: array
                    required: false
                type: object
                required: false
              score:
                format: float
                type: number
                required: false
            type: object
            required: false
          spamassassinReport:
            properties:
              baseSpamScore:
                format: float
                type: number
                required: false
              isSpam:
                type: boolean
                required: false
              responseCode:
                type: integer
                required: false
              responseMessage:
                type: string
                required: false
              score:
                format: float
                type: number
                required: false
              spamScore:
                format: float
                type: number
                required: false
              tests:
                items:
                  properties:
                    desc:
                      type: string
                      required: false
                    name:
                      type: string
                      required: false
                    score:
                      format: float
                      type: number
                      required: false
                type: array
                required: false
            type: object
            required: false
          spellReport:
            properties:
              html:
                items: {}
                type: array
                required: false
              score:
                format: float
                type: number
                required: false
              subject:
                items: {}
                type: array
                required: false
              text:
                items: {}
                type: array
                required: false
            type: object
            required: false
          subjectReport:
            properties:
              openrates:
                items: {}
                type: array
                required: false
              overallOpenRate:
                type: string
                required: false
              score:
                format: float
                type: number
                required: false
              subject:
                type: string
                required: false
              subjectLength:
                type: integer
                required: false
            type: object
            required: false
          validateHTML:
            properties:
              errors:
                items:
                  properties:
                    lastColumn:
                      type: integer
                      required: false
                    lastLine:
                      type: integer
                      required: false
                    message:
                      type: string
                      required: false
                    type:
                      type: string
                      required: false
                type: array
                required: false
              score:
                format: float
                type: number
                required: false
            type: object
            required: false
        type: object
        required: false
      score:
        format: float
        type: number
        required: false
      time:
        type: string
        required: false
  Service:
    properties:
      limit:
        type: integer
        required: false
      name:
        type: string
        required: false
      remaining:
        type: integer
        required: false
      reset:
        type: integer
        required: false
      used:
        type: integer
        required: false
