#%RAML 1.0
title: Wordnik
version: '4.0'
baseUri: 'http://api.wordnik.com/v4'
protocols:
  - HTTP
description: |
  Wordnik is the world's biggest online English dictionary, by number of words
(oas-tags-definition):
  - name: account
  - name: word
  - name: wordList
  - name: wordLists
  - name: words
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_wordnik.com_img_logo-wordnik-home.png'
  (oas-x-origin):
    format: swagger
    url: 'http://developer.wordnik.com/v4/resources.json'
    version: '1.1'
  (oas-x-preferred): true
  (oas-x-providerName): wordnik.com
(oas-externalDocs):
  url: 'http://developer.wordnik.com/'
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      queryParameters:
        _apikey:
          type: string
/word.json:
  displayName: word.json
  '/{word}':
    displayName: '{word}'
    /relatedWords:
      displayName: relatedWords
      get:
        displayName: getRelatedWords
        (oas-summary): 'Given a word as a string, returns relationships from the Word Graph'
        responses:
          '200':
            body:
              application/json:
                items:
                  type: Related
                type: array
            description: No response was specified
        queryParameters:
          useCanonical:
            default: 'false'
            description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
          relationshipTypes:
            description: Limits the total results per type of relationship type
            required: false
            type: string
          limitPerRelationshipType:
            default: 10
            description: Restrict to the supplied relationship types
            format: int32
            required: false
            type: integer
        (oas-tags):
          - word
    /topExample:
      displayName: topExample
      get:
        displayName: getTopExample
        (oas-summary): Returns a top example for a word
        responses:
          '200':
            body:
              application/json:
                type: Example
            description: No response was specified
        queryParameters:
          useCanonical:
            default: 'false'
            description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
        (oas-tags):
          - word
    /audio:
      displayName: audio
      get:
        displayName: getAudio
        description: The metadata includes a time-expiring fileUrl which allows reading the audio file directly from the API.  Currently only audio pronunciations from the American Heritage Dictionary in mp3 format are supported.
        (oas-summary): Fetches audio metadata for a word.
        responses:
          '200':
            body:
              application/json:
                items:
                  type: AudioFile
                type: array
            description: No response was specified
        queryParameters:
          useCanonical:
            default: 'false'
            description: Use the canonical form of the word
            required: false
            type: string
          limit:
            default: 50
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
        (oas-tags):
          - word
    /etymologies:
      displayName: etymologies
      get:
        displayName: getEtymologies
        (oas-summary): Fetches etymology data
        responses:
          '200':
            body:
              application/json:
                items:
                  type: string
                type: array
            description: No response was specified
        queryParameters:
          useCanonical:
            description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
        (oas-tags):
          - word
    /frequency:
      displayName: frequency
      get:
        displayName: getWordFrequency
        (oas-summary): Returns word usage over time
        responses:
          '200':
            body:
              application/json:
                type: FrequencySummary
            description: No response was specified
        queryParameters:
          useCanonical:
            default: 'false'
            description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
          startYear:
            default: 1800
            description: Starting Year
            format: int32
            required: false
            type: integer
          endYear:
            default: 2012
            description: Ending Year
            format: int32
            required: false
            type: integer
        (oas-tags):
          - word
    /phrases:
      displayName: phrases
      get:
        displayName: getPhrases
        (oas-summary): Fetches bi-gram phrases for a word
        responses:
          '200':
            body:
              application/json:
                items:
                  type: Bigram
                type: array
            description: No response was specified
        queryParameters:
          limit:
            default: 5
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
          wlmi:
            default: 0
            description: Minimum WLMI for the phrase
            format: int32
            required: false
            type: integer
          useCanonical:
            default: 'false'
            description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
        (oas-tags):
          - word
    uriParameters:
      word:
        description: String value of WordObject to return
        required: true
        type: string
    get:
      displayName: getWord
      (oas-summary): 'Given a word as a string, returns the WordObject that represents it'
      responses:
        '200':
          body:
            application/json:
              type: WordObject
          description: No response was specified
      queryParameters:
        useCanonical:
          default: 'false'
          description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
          required: false
          type: string
        includeSuggestions:
          default: 'true'
          description: 'Return suggestions (for correct spelling, case variants, etc.)'
          required: false
          type: string
      (oas-tags):
        - word
    /definitions:
      displayName: definitions
      get:
        displayName: getDefinitions
        (oas-summary): Return definitions for a word
        responses:
          '200':
            body:
              application/json:
                items:
                  type: Definition
                type: array
            description: No response was specified
        queryParameters:
          limit:
            default: 200
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
          partOfSpeech:
            description: CSV list of part-of-speech types
            required: false
            type: string
          includeRelated:
            default: 'false'
            description: Return related words with definitions
            required: false
            type: string
          sourceDictionaries:
            description: 'Source dictionary to return definitions from.  If ''all'' is received, results are returned from all sources. If multiple values are received (e.g. ''century,wiktionary''), results are returned from the first specified dictionary that has definitions. If left blank, results are returned from the first dictionary that has definitions. By default, dictionaries are searched in this order: ahd, wiktionary, webster, century, wordnet'
            items:
              type: string
            required: false
            type: array
          useCanonical:
            default: 'false'
            description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
          includeTags:
            default: 'false'
            description: Return a closed set of XML tags in response
            required: false
            type: string
        (oas-tags):
          - word
    /pronunciations:
      displayName: pronunciations
      get:
        displayName: getTextPronunciations
        (oas-summary): Returns text pronunciations for a given word
        responses:
          '200':
            body:
              application/json:
                items:
                  type: TextPron
                type: array
            description: No response was specified
        queryParameters:
          useCanonical:
            default: 'false'
            description: If true will try to return a correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
          sourceDictionary:
            description: Get from a single dictionary
            required: false
            type: string
          typeFormat:
            description: Text pronunciation type
            required: false
            type: string
          limit:
            default: 50
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
        (oas-tags):
          - word
    /hyphenation:
      displayName: hyphenation
      get:
        displayName: getHyphenation
        (oas-summary): Returns syllable information for a word
        responses:
          '200':
            body:
              application/json:
                items:
                  type: Syllable
                type: array
            description: No response was specified
        queryParameters:
          useCanonical:
            default: 'false'
            description: If true will try to return a correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
          sourceDictionary:
            description: 'Get from a single dictionary. Valid options: ahd, century, wiktionary, webster, and wordnet.'
            required: false
            type: string
          limit:
            default: 50
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
        (oas-tags):
          - word
    /examples:
      displayName: examples
      get:
        displayName: getExamples
        (oas-summary): Returns examples for a word
        responses:
          '200':
            body:
              application/json:
                type: ExampleSearchResults
            description: No response was specified
        queryParameters:
          includeDuplicates:
            default: 'false'
            description: Show duplicate examples from different sources
            required: false
            type: string
          useCanonical:
            default: 'false'
            description: If true will try to return the correct word root ('cats' -> 'cat'). If false returns exactly what was requested.
            required: false
            type: string
          skip:
            default: 0
            description: Results to skip
            format: int32
            required: false
            type: integer
          limit:
            default: 5
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
        (oas-tags):
          - word
/words.json:
  displayName: words.json
  /wordOfTheDay:
    displayName: wordOfTheDay
    get:
      displayName: getWordOfTheDay
      (oas-summary): Returns a specific WordOfTheDay
      responses:
        '200':
          body:
            application/json:
              type: WordOfTheDay
          description: No response was specified
      queryParameters:
        date:
          description: Fetches by date in yyyy-MM-dd
          required: false
          type: string
      (oas-tags):
        - words
  /search:
    displayName: search
    '/{query}':
      displayName: '{query}'
      uriParameters:
        query:
          description: Search query
          required: true
          type: string
      get:
        displayName: searchWords
        (oas-summary): Searches words
        responses:
          '200':
            body:
              application/json:
                type: WordSearchResults
            description: No response was specified
        queryParameters:
          caseSensitive:
            default: 'true'
            description: Search case sensitive
            required: false
            type: string
          includePartOfSpeech:
            description: Only include these comma-delimited parts of speech
            required: false
            type: string
          excludePartOfSpeech:
            description: Exclude these comma-delimited parts of speech
            required: false
            type: string
          minCorpusCount:
            default: 5
            description: Minimum corpus frequency for terms
            format: int32
            required: false
            type: integer
          maxCorpusCount:
            default: -1
            description: Maximum corpus frequency for terms
            format: int32
            required: false
            type: integer
          minDictionaryCount:
            default: 1
            description: Minimum number of dictionary entries for words returned
            format: int32
            required: false
            type: integer
          maxDictionaryCount:
            default: -1
            description: Maximum dictionary definition count
            format: int32
            required: false
            type: integer
          minLength:
            default: 1
            description: Minimum word length
            format: int32
            required: false
            type: integer
          maxLength:
            default: -1
            description: Maximum word length
            format: int32
            required: false
            type: integer
          skip:
            default: 0
            description: Results to skip
            format: int32
            required: false
            type: integer
          limit:
            default: 10
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
        (oas-tags):
          - words
  /reverseDictionary:
    displayName: reverseDictionary
    get:
      displayName: reverseDictionary
      (oas-summary): Reverse dictionary search
      responses:
        '200':
          body:
            application/json:
              type: DefinitionSearchResults
          description: No response was specified
      queryParameters:
        query:
          description: Search term
          required: true
          type: string
        findSenseForWord:
          description: Restricts words and finds closest sense
          required: false
          type: string
        includeSourceDictionaries:
          description: Only include these comma-delimited source dictionaries
          required: false
          type: string
        excludeSourceDictionaries:
          description: Exclude these comma-delimited source dictionaries
          required: false
          type: string
        includePartOfSpeech:
          description: Only include these comma-delimited parts of speech
          required: false
          type: string
        excludePartOfSpeech:
          description: Exclude these comma-delimited parts of speech
          required: false
          type: string
        minCorpusCount:
          default: 5
          description: Minimum corpus frequency for terms
          format: int32
          required: false
          type: integer
        maxCorpusCount:
          default: -1
          description: Maximum corpus frequency for terms
          format: int32
          required: false
          type: integer
        minLength:
          default: 1
          description: Minimum word length
          format: int32
          required: false
          type: integer
        maxLength:
          default: -1
          description: Maximum word length
          format: int32
          required: false
          type: integer
        expandTerms:
          description: Expand terms
          required: false
          type: string
        includeTags:
          default: 'false'
          description: Return a closed set of XML tags in response
          required: false
          type: string
        sortBy:
          description: Attribute to sort by
          required: false
          type: string
        sortOrder:
          description: Sort direction
          required: false
          type: string
        skip:
          default: '0'
          description: Results to skip
          required: false
          type: string
        limit:
          default: 10
          description: Maximum number of results to return
          format: int32
          required: false
          type: integer
      (oas-tags):
        - words
  /randomWords:
    displayName: randomWords
    get:
      displayName: getRandomWords
      (oas-summary): Returns an array of random WordObjects
      responses:
        '200':
          body:
            application/json:
              items:
                type: WordObject
              type: array
          description: No response was specified
      queryParameters:
        hasDictionaryDef:
          default: 'true'
          description: Only return words with dictionary definitions
          required: false
          type: string
        includePartOfSpeech:
          description: CSV part-of-speech values to include
          required: false
          type: string
        excludePartOfSpeech:
          description: CSV part-of-speech values to exclude
          required: false
          type: string
        minCorpusCount:
          default: 0
          description: Minimum corpus frequency for terms
          format: int32
          required: false
          type: integer
        maxCorpusCount:
          default: -1
          description: Maximum corpus frequency for terms
          format: int32
          required: false
          type: integer
        minDictionaryCount:
          default: 1
          description: Minimum dictionary count
          format: int32
          required: false
          type: integer
        maxDictionaryCount:
          default: -1
          description: Maximum dictionary count
          format: int32
          required: false
          type: integer
        minLength:
          default: 5
          description: Minimum word length
          format: int32
          required: false
          type: integer
        maxLength:
          default: -1
          description: Maximum word length
          format: int32
          required: false
          type: integer
        sortBy:
          description: Attribute to sort by
          required: false
          type: string
        sortOrder:
          description: Sort direction
          required: false
          type: string
        limit:
          default: 10
          description: Maximum number of results to return
          format: int32
          required: false
          type: integer
      (oas-tags):
        - words
  /randomWord:
    displayName: randomWord
    get:
      displayName: getRandomWord
      (oas-summary): Returns a single random WordObject
      responses:
        '200':
          body:
            application/json:
              type: WordObject
          description: No response was specified
      queryParameters:
        hasDictionaryDef:
          default: 'true'
          description: Only return words with dictionary definitions
          required: false
          type: string
        includePartOfSpeech:
          description: CSV part-of-speech values to include
          required: false
          type: string
        excludePartOfSpeech:
          description: CSV part-of-speech values to exclude
          required: false
          type: string
        minCorpusCount:
          default: 0
          description: Minimum corpus frequency for terms
          format: int32
          required: false
          type: integer
        maxCorpusCount:
          default: -1
          description: Maximum corpus frequency for terms
          format: int32
          required: false
          type: integer
        minDictionaryCount:
          default: 1
          description: Minimum dictionary count
          format: int32
          required: false
          type: integer
        maxDictionaryCount:
          default: -1
          description: Maximum dictionary count
          format: int32
          required: false
          type: integer
        minLength:
          default: 5
          description: Minimum word length
          format: int32
          required: false
          type: integer
        maxLength:
          default: -1
          description: Maximum word length
          format: int32
          required: false
          type: integer
      (oas-tags):
        - words
/account.json:
  displayName: account.json
  /apiTokenStatus:
    displayName: apiTokenStatus
    get:
      displayName: getApiTokenStatus
      (oas-summary): Returns usage statistics for the API account.
      headers:
        api_key:
          type: string
          description: Wordnik authentication token
          required: false
      responses:
        '200':
          body:
            application/json:
              type: ApiTokenStatus
          description: No response was specified
      (oas-tags):
        - account
  /authenticate:
    displayName: authenticate
    '/{username}':
      displayName: '{username}'
      uriParameters:
        username:
          description: A confirmed Wordnik username
          required: true
          type: string
      post:
        displayName: authenticatePost
        (oas-summary): Authenticates a user
        body:
          application/json:
            type: string
            (oas-body-name): body
            description: The user's password
        responses:
          '200':
            body:
              application/json:
                type: AuthenticationToken
            description: No response was specified
        (oas-tags):
          - account
      get:
        displayName: authenticate
        (oas-summary): Authenticates a User
        responses:
          '200':
            body:
              application/json:
                type: AuthenticationToken
            description: No response was specified
        queryParameters:
          password:
            description: The user's password
            required: true
            type: string
        (oas-tags):
          - account
  /wordLists:
    displayName: wordLists
    get:
      displayName: getWordListsForLoggedInUser
      (oas-summary): Fetches WordList objects for the logged-in user.
      headers:
        auth_token:
          type: string
          description: auth_token of logged-in user
          required: true
      responses:
        '200':
          body:
            application/json:
              items:
                type: WordList
              type: array
          description: No response was specified
      queryParameters:
        skip:
          default: 0
          description: Results to skip
          format: int32
          required: false
          type: integer
        limit:
          default: 50
          description: Maximum number of results to return
          format: int32
          required: false
          type: integer
      (oas-tags):
        - account
  /user:
    displayName: user
    get:
      displayName: getLoggedInUser
      description: Requires a valid auth_token to be set.
      (oas-summary): Returns the logged-in User
      headers:
        auth_token:
          type: string
          description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
          required: true
      responses:
        '200':
          body:
            application/json:
              type: User
          description: No response was specified
      (oas-tags):
        - account
/wordList.json:
  displayName: wordList.json
  '/{permalink}':
    displayName: '{permalink}'
    uriParameters:
      permalink:
        description: permalink of WordList to update
        required: true
        type: string
    delete:
      displayName: deleteWordList
      (oas-summary): Deletes an existing WordList
      headers:
        auth_token:
          type: string
          description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
          required: true
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - wordList
    get:
      displayName: getWordListByPermalink
      (oas-summary): Fetches a WordList by ID
      headers:
        auth_token:
          type: string
          description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
          required: true
      responses:
        '200':
          body:
            application/json:
              type: WordList
          description: No response was specified
      (oas-tags):
        - wordList
    put:
      displayName: updateWordList
      (oas-summary): Updates an existing WordList
      body:
        application/json:
          type: WordList
          (oas-body-name): body
          description: Updated WordList
      headers:
        auth_token:
          type: string
          description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
          required: true
      responses:
        '200':
          description: No response was specified
      (oas-tags):
        - wordList
    /deleteWords:
      displayName: deleteWords
      post:
        displayName: deleteWordsFromWordList
        (oas-summary): Removes words from a WordList
        body:
          application/json:
            items:
              type: StringValue
            type: array
            (oas-body-name): body
            description: Words to remove from WordList
        headers:
          auth_token:
            type: string
            description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
            required: true
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - wordList
    /words:
      displayName: words
      get:
        displayName: getWordListWords
        (oas-summary): Fetches words in a WordList
        headers:
          auth_token:
            type: string
            description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
            required: true
        responses:
          '200':
            body:
              application/json:
                items:
                  type: WordListWord
                type: array
            description: No response was specified
        queryParameters:
          sortBy:
            default: createDate
            description: Field to sort by
            required: false
            type: string
          sortOrder:
            default: desc
            description: Direction to sort
            required: false
            type: string
          skip:
            default: 0
            description: Results to skip
            format: int32
            required: false
            type: integer
          limit:
            default: 100
            description: Maximum number of results to return
            format: int32
            required: false
            type: integer
        (oas-tags):
          - wordList
      post:
        displayName: addWordsToWordList
        (oas-summary): Adds words to a WordList
        body:
          application/json:
            items:
              type: StringValue
            type: array
            (oas-body-name): body
            description: Array of words to add to WordList
        headers:
          auth_token:
            type: string
            description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
            required: true
        responses:
          '200':
            description: No response was specified
        (oas-tags):
          - wordList
/wordLists.json:
  displayName: wordLists.json
  post:
    displayName: createWordList
    (oas-summary): Creates a WordList.
    body:
      application/json:
        type: WordList
        (oas-body-name): body
        description: WordList to create
    headers:
      auth_token:
        type: string
        description: 'The auth token of the logged-in user, obtained by calling /account.{format}/authenticate/{username} (described above)'
        required: true
    responses:
      '200':
        body:
          application/json:
            type: WordList
        description: No response was specified
    (oas-tags):
      - wordLists
types:
  ApiTokenStatus:
    properties:
      expiresInMillis:
        format: int64
        type: integer
        required: false
      remainingCalls:
        format: int64
        type: integer
        required: false
      resetsInMillis:
        format: int64
        type: integer
        required: false
      token:
        type: string
        required: false
      totalRequests:
        format: int64
        type: integer
        required: false
      valid:
        type: boolean
        required: false
  AudioFile:
    properties:
      attributionText:
        type: string
        required: false
      attributionUrl:
        type: string
        required: false
      audioType:
        type: string
        required: false
      commentCount:
        format: int32
        type: integer
        required: false
      createdAt:
        type: date-only
        required: false
      createdBy:
        type: string
        required: false
      description:
        type: string
        required: false
      duration:
        format: double
        type: number
        required: false
      fileUrl:
        type: string
        required: false
      id:
        format: int64
        type: integer
      voteAverage:
        format: float
        type: number
        required: false
      voteCount:
        format: int32
        type: integer
        required: false
      voteWeightedAverage:
        format: float
        type: number
        required: false
      word:
        type: string
        required: false
  AudioType:
    properties:
      id:
        format: int32
        type: integer
        required: false
      name:
        type: string
        required: false
  AuthenticationToken:
    properties:
      token:
        type: string
        required: false
      userId:
        format: int64
        type: integer
        required: false
      userSignature:
        type: string
        required: false
  Bigram:
    properties:
      count:
        format: int64
        type: integer
        required: false
      gram1:
        type: string
        required: false
      gram2:
        type: string
        required: false
      mi:
        format: double
        type: number
        required: false
      wlmi:
        format: double
        type: number
        required: false
  Category:
    properties:
      id:
        format: int64
        type: integer
      name:
        type: string
        required: false
  Citation:
    properties:
      cite:
        type: string
        required: false
      source:
        type: string
        required: false
  ContentProvider:
    properties:
      id:
        format: int32
        type: integer
        required: false
      name:
        type: string
        required: false
  Definition:
    properties:
      attributionText:
        type: string
        required: false
      attributionUrl:
        type: string
        required: false
      citations:
        items:
          type: Citation
        type: array
        required: false
      exampleUses:
        items:
          type: ExampleUsage
        type: array
        required: false
      extendedText:
        type: string
        required: false
      labels:
        items:
          type: Label
        type: array
        required: false
      notes:
        items:
          type: Note
        type: array
        required: false
      partOfSpeech:
        type: string
        required: false
      relatedWords:
        items:
          type: Related
        type: array
        required: false
      score:
        format: float
        type: number
        required: false
      seqString:
        type: string
        required: false
      sequence:
        type: string
        required: false
      sourceDictionary:
        type: string
        required: false
      text:
        type: string
        required: false
      textProns:
        items:
          type: TextPron
        type: array
        required: false
      word:
        type: string
        required: false
  DefinitionSearchResults:
    properties:
      results:
        items:
          type: Definition
        type: array
        required: false
      totalResults:
        format: int32
        type: integer
        required: false
  Example:
    properties:
      documentId:
        format: int64
        type: integer
        required: false
      exampleId:
        format: int64
        type: integer
        required: false
      id:
        format: int64
        type: integer
        required: false
      provider:
        type: ContentProvider
        required: false
      rating:
        format: float
        type: number
        required: false
      score:
        type: ScoredWord
        required: false
      sentence:
        type: Sentence
        required: false
      text:
        type: string
        required: false
      title:
        type: string
        required: false
      url:
        type: string
        required: false
      word:
        type: string
        required: false
      year:
        format: int32
        type: integer
        required: false
  ExampleSearchResults:
    properties:
      examples:
        items:
          type: Example
        type: array
        required: false
      facets:
        items:
          type: Facet
        type: array
        required: false
  ExampleUsage:
    properties:
      text:
        type: string
        required: false
  Facet:
    properties:
      facetValues:
        items:
          type: FacetValue
        type: array
        required: false
      name:
        type: string
        required: false
  FacetValue:
    properties:
      count:
        format: int64
        type: integer
        required: false
      value:
        type: string
        required: false
  Frequency:
    properties:
      count:
        format: int64
        type: integer
        required: false
      year:
        format: int32
        type: integer
        required: false
  FrequencySummary:
    properties:
      frequency:
        items:
          type: Frequency
        type: array
        required: false
      frequencyString:
        type: string
        required: false
      totalCount:
        format: int64
        type: integer
        required: false
      unknownYearCount:
        format: int32
        type: integer
        required: false
      word:
        type: string
        required: false
  Label:
    properties:
      text:
        type: string
        required: false
      type:
        type: string
        required: false
  Note:
    properties:
      appliesTo:
        items:
          type: string
        type: array
        required: false
      noteType:
        type: string
        required: false
      pos:
        format: int32
        type: integer
        required: false
      value:
        type: string
        required: false
  PartOfSpeech:
    properties:
      allCategories:
        items:
          type: Category
        type: array
        required: false
      roots:
        items:
          type: Root
        type: array
        required: false
      storageAbbr:
        items:
          type: string
        type: array
        required: false
  Related:
    properties:
      gram:
        type: string
        required: false
      label1:
        type: string
        required: false
      label2:
        type: string
        required: false
      label3:
        type: string
        required: false
      label4:
        type: string
        required: false
      relationshipType:
        type: string
        required: false
      words:
        items:
          type: string
        type: array
        required: false
  Root:
    properties:
      categories:
        items:
          type: Category
        type: array
        required: false
      id:
        format: int64
        type: integer
      name:
        type: string
        required: false
  ScoredWord:
    properties:
      baseWordScore:
        format: double
        type: number
        required: false
      docTermCount:
        format: int32
        type: integer
        required: false
      id:
        format: int64
        type: integer
        required: false
      lemma:
        type: string
        required: false
      partOfSpeech:
        type: string
        required: false
      position:
        format: int32
        type: integer
        required: false
      score:
        format: float
        type: number
        required: false
      sentenceId:
        format: int64
        type: integer
        required: false
      stopword:
        type: boolean
        required: false
      word:
        type: string
        required: false
      wordType:
        type: string
        required: false
  Sentence:
    properties:
      display:
        type: string
        required: false
      documentMetadataId:
        format: int64
        type: integer
        required: false
      hasScoredWords:
        type: boolean
        required: false
      id:
        format: int64
        type: integer
        required: false
      rating:
        format: int32
        type: integer
        required: false
      scoredWords:
        items:
          type: ScoredWord
        type: array
        required: false
  SimpleDefinition:
    properties:
      note:
        type: string
        required: false
      partOfSpeech:
        type: string
        required: false
      source:
        type: string
        required: false
      text:
        type: string
        required: false
  SimpleExample:
    properties:
      id:
        format: int64
        type: integer
        required: false
      text:
        type: string
        required: false
      title:
        type: string
        required: false
      url:
        type: string
        required: false
  StringValue:
    properties:
      word:
        type: string
        required: false
  Syllable:
    properties:
      seq:
        format: int32
        type: integer
        required: false
      text:
        type: string
        required: false
      type:
        type: string
        required: false
  TextPron:
    properties:
      raw:
        type: string
        required: false
      rawType:
        type: string
        required: false
      seq:
        format: int32
        type: integer
        required: false
  User:
    properties:
      displayName:
        type: string
        required: false
      email:
        type: string
        required: false
      faceBookId:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      password:
        type: string
        required: false
      status:
        format: int32
        type: integer
        required: false
      userName:
        type: string
        required: false
      username:
        type: string
        required: false
  WordList:
    properties:
      createdAt:
        type: date-only
        required: false
      description:
        type: string
        required: false
      id:
        format: int64
        type: integer
        required: false
      lastActivityAt:
        type: date-only
        required: false
      name:
        type: string
        required: false
      numberWordsInList:
        format: int64
        type: integer
        required: false
      permalink:
        type: string
        required: false
      type:
        type: string
        required: false
      updatedAt:
        type: date-only
        required: false
      userId:
        format: int64
        type: integer
        required: false
      username:
        type: string
        required: false
  WordListWord:
    properties:
      createdAt:
        type: date-only
        required: false
      id:
        format: int64
        type: integer
      numberCommentsOnWord:
        format: int64
        type: integer
        required: false
      numberLists:
        format: int64
        type: integer
        required: false
      userId:
        format: int64
        type: integer
        required: false
      username:
        type: string
        required: false
      word:
        type: string
        required: false
  WordObject:
    properties:
      canonicalForm:
        type: string
        required: false
      id:
        format: int64
        type: integer
      originalWord:
        type: string
        required: false
      suggestions:
        items:
          type: string
        type: array
        required: false
      vulgar:
        type: string
        required: false
      word:
        type: string
        required: false
  WordOfTheDay:
    properties:
      category:
        type: string
        required: false
      contentProvider:
        type: ContentProvider
        required: false
      createdAt:
        type: date-only
        required: false
      createdBy:
        type: string
        required: false
      definitions:
        items:
          type: SimpleDefinition
        type: array
        required: false
      examples:
        items:
          type: SimpleExample
        type: array
        required: false
      htmlExtra:
        type: string
        required: false
      id:
        format: int64
        type: integer
      note:
        type: string
        required: false
      parentId:
        type: string
        required: false
      publishDate:
        type: date-only
        required: false
      word:
        type: string
        required: false
  WordSearchResult:
    properties:
      count:
        format: int64
        type: integer
        required: false
      lexicality:
        format: double
        type: number
        required: false
      word:
        type: string
        required: false
  WordSearchResults:
    properties:
      searchResults:
        items:
          type: WordSearchResult
        type: array
        required: false
      totalResults:
        format: int32
        type: integer
        required: false
