#%RAML 1.0
title: Zoom Connect
version: '1'
baseUri: 'https://www.zoomconnect.com/app'
mediaType:
  - application/json
  - application/xml
protocols:
  - HTTPS
description: The world's greatest SMS API
(oas-tags-definition):
  - description: Core information related to your account
    name: account
  - description: Manage contacts
    name: contacts
  - description: Number context service
    name: context
  - description: Manage groups
    name: groups
  - description: Manage your messages
    name: messages
  - description: Send and schedule messages
    name: sms
  - description: Manage your templates
    name: templates
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-x-apisguru-categories: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-tags: any
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-summary:
    type: string
    allowedTargets: Method
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apisguru-categories):
    - messaging
    - marketing
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/http_zoomconnect.com_assets_logo.png'
  (oas-x-origin):
    format: swagger
    url: 'https://www.zoomconnect.com/zoom/api-docs'
    version: '1.2'
  (oas-x-preferred): true
  (oas-x-providerName): zoomconnect.com
  (oas-x-tags):
    - SMS
    - bulk SMS
securitySchemes:
  email:
    type: Pass Through
    describedBy:
      headers:
        email:
          type: string
  token:
    type: Pass Through
    describedBy:
      headers:
        token:
          type: string
/api:
  displayName: api
  /rest:
    displayName: rest
    /v1:
      displayName: v1
      /groups:
        displayName: groups
        '/{groupId}':
          displayName: '{groupId}'
          uriParameters:
            groupId:
              description: groupId
              required: true
              type: string
          post:
            displayName: POST_api-rest-v1-groups-groupId
            description: Update a  group
            (oas-summary): update
            body:
              application/json:
                type: WebServiceGroup
                (oas-body-name): body
                description: webServiceGroup
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceGroup
                description: Description was not specified
              '201':
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - groups
          /addContact:
            displayName: addContact
            '/{contactId}':
              displayName: '{contactId}'
              uriParameters:
                contactId:
                  description: contactId
                  required: true
                  type: string
              get:
                displayName: GET_api-rest-v1-groups-groupId-addContact-contactId
                description: Add a contact to a group
                (oas-summary): addContact
                responses:
                  '200':
                    description: OK
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - groups
              post:
                displayName: POST_api-rest-v1-groups-groupId-addContact-contactId
                description: Add a contact to a group
                (oas-summary): addContact
                responses:
                  '200':
                    description: Description was not specified
                  '201':
                    description: Created
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - groups
          /removeContact:
            displayName: removeContact
            '/{contactId}':
              displayName: '{contactId}'
              uriParameters:
                contactId:
                  description: contactId
                  required: true
                  type: string
              get:
                displayName: GET_api-rest-v1-groups-groupId-removeContact-contactId
                description: Remove a contact from a group
                (oas-summary): removeContact
                responses:
                  '200':
                    description: OK
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - groups
              post:
                displayName: POST_api-rest-v1-groups-groupId-removeContact-contactId
                description: Remove a contact from a group
                (oas-summary): removeContact
                responses:
                  '200':
                    description: Description was not specified
                  '201':
                    description: Created
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - groups
          get:
            displayName: GET_api-rest-v1-groups-groupId
            description: Returns details for a single group
            (oas-summary): get
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceGroup
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - groups
          delete:
            displayName: DELETE_api-rest-v1-groups-groupId
            description: Deletes a  group
            (oas-summary): delete
            responses:
              '200':
                description: Description was not specified
              '204':
                description: No Content
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
            (oas-tags):
              - groups
        /create:
          displayName: create
          post:
            displayName: POST_api-rest-v1-groups-create
            description: Create a  group
            (oas-summary): create
            body:
              application/json:
                type: WebServiceGroup
                (oas-body-name): body
                description: webServiceGroup
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceGroup
                description: No response was specified
              '201':
                body:
                  application/json:
                    type: WebServiceGroup
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - groups
        /all:
          displayName: all
          get:
            displayName: GET_api-rest-v1-groups-all
            description: Returns all groups
            (oas-summary): all
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceGroups
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - groups
      /templates:
        displayName: templates
        '/{templateId}':
          displayName: '{templateId}'
          uriParameters:
            templateId:
              description: templateId
              format: int64
              required: true
              type: integer
          get:
            displayName: GET_api-rest-v1-templates-templateId
            description: Returns details for a single template
            (oas-summary): get
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceTemplate
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - templates
          delete:
            displayName: DELETE_api-rest-v1-templates-templateId
            description: Deletes a  template
            (oas-summary): delete
            responses:
              '200':
                description: Description was not specified
              '204':
                description: No Content
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
            (oas-tags):
              - templates
        /all:
          displayName: all
          get:
            displayName: GET_api-rest-v1-templates-all
            description: Returns all templates
            (oas-summary): all
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceTemplates
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - templates
      /account:
        displayName: account
        /balance:
          displayName: balance
          get:
            displayName: GET_api-rest-v1-account-balance
            description: Returns your account's credit balance
            (oas-summary): balance
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceAccount
                description: Success
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - account
        /user:
          displayName: user
          get:
            displayName: GET_api-rest-v1-account-user
            description: Find a user for a particular email address
            (oas-summary): search
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceUsers
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            queryParameters:
              searchEmail:
                description: search by email address
                required: true
                type: string
            (oas-tags):
              - account
          '/{userId}':
            displayName: '{userId}'
            uriParameters:
              userId:
                description: userId
                format: int64
                required: true
                type: integer
            get:
              displayName: GET_api-rest-v1-account-user-userId
              description: Gets a user from a given user id
              (oas-summary): getUser
              responses:
                '200':
                  body:
                    application/json:
                      type: WebServiceUser
                  description: OK
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - account
            post:
              displayName: POST_api-rest-v1-account-user-userId
              description: 'Updates a sub-account in your team. The following fields can be updated <i>firstname, lastname, contact number</i> and <i>password.</i>'
              (oas-summary): update
              body:
                application/json:
                  type: WebServiceUser
                  (oas-body-name): body
                  description: request
              responses:
                '200':
                  body:
                    application/json:
                      type: WebServiceUser
                  description: Description was not specified
                '201':
                  description: Created
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - account
          put:
            displayName: PUT_api-rest-v1-account-user
            description: 'Creates a new sub-account in your team. The following fields are required <i>firstname, lastname, email address, contact number</i> and <i>password.</i>'
            (oas-summary): create
            body:
              application/json:
                type: WebServiceUser
                (oas-body-name): body
                description: request
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceUser
                description: Description was not specified
              '201':
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - account
        /transfer:
          displayName: transfer
          post:
            displayName: POST_api-rest-v1-account-transfer
            description: 'Transfers credits between two users in the same team. The <i>account email address</i> fields as well as the <i>number of credits to transfer</i> are required. '
            (oas-summary): transfer
            body:
              application/json:
                type: WebServiceTransferCreditsRequest
                (oas-body-name): body
                description: request
            responses:
              '200':
                description: Description was not specified
              '201':
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - account
      /contacts:
        displayName: contacts
        /all:
          displayName: all
          get:
            displayName: GET_api-rest-v1-contacts-all
            description: Returns all contacts
            (oas-summary): all
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceContacts
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - contacts
        '/{contactId}':
          displayName: '{contactId}'
          uriParameters:
            contactId:
              description: contactId
              required: true
              type: string
          delete:
            displayName: DELETE_api-rest-v1-contacts-contactId
            description: Deletes a  contact
            (oas-summary): delete
            responses:
              '200':
                description: Description was not specified
              '204':
                description: No Content
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
            (oas-tags):
              - contacts
          post:
            displayName: POST_api-rest-v1-contacts-contactId
            description: Updates a  contact
            (oas-summary): update
            body:
              application/json:
                type: WebServiceContact
                (oas-body-name): body
                description: webServiceContact
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceContact
                description: Description was not specified
              '201':
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - contacts
          /addFromGroup:
            displayName: addFromGroup
            '/{groupId}':
              displayName: '{groupId}'
              uriParameters:
                groupId:
                  description: groupId
                  required: true
                  type: string
              post:
                displayName: POST_api-rest-v1-contacts-contactId-addFromGroup-groupId
                description: Remove a contact from a group
                (oas-summary): removeFromGroup
                responses:
                  '200':
                    description: Description was not specified
                  '201':
                    description: Created
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - contacts
              get:
                displayName: GET_api-rest-v1-contacts-contactId-addFromGroup-groupId
                description: Remove a contact from a group
                (oas-summary): removeFromGroup
                responses:
                  '200':
                    description: OK
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - contacts
          /addToGroup:
            displayName: addToGroup
            '/{groupId}':
              displayName: '{groupId}'
              uriParameters:
                groupId:
                  description: groupId
                  required: true
                  type: string
              post:
                displayName: POST_api-rest-v1-contacts-contactId-addToGroup-groupId
                description: Add a contact to a group
                (oas-summary): addToGroup
                responses:
                  '200':
                    description: Description was not specified
                  '201':
                    description: Created
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - contacts
              get:
                displayName: GET_api-rest-v1-contacts-contactId-addToGroup-groupId
                description: Add a contact to a group
                (oas-summary): addToGroup
                responses:
                  '200':
                    description: OK
                  '401':
                    description: Unauthorized
                  '403':
                    description: Forbidden
                  '404':
                    description: Not Found
                (oas-tags):
                  - contacts
          get:
            displayName: GET_api-rest-v1-contacts-contactId
            description: Returns details for a single contact
            (oas-summary): get
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceContact
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - contacts
        /create:
          displayName: create
          post:
            displayName: POST_api-rest-v1-contacts-create
            description: Creates a  contact
            (oas-summary): create
            body:
              application/json:
                type: WebServiceContact
                (oas-body-name): body
                description: webServiceContact
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceContact
                description: No response was specified
              '201':
                body:
                  application/json:
                    type: WebServiceContact
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - contacts
      /messages:
        displayName: messages
        /all:
          displayName: all
          get:
            displayName: GET_api-rest-v1-messages-all
            description: Returns all messages
            (oas-summary): all
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceMessages
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            queryParameters:
              pageSize:
                default: 100
                description: number of elements to return at a time
                format: int32
                required: false
                type: integer
              page:
                default: 1
                description: page number
                format: int32
                required: false
                type: integer
              type:
                description: filter by message type
                enum:
                  - OUTBOUND
                  - INBOUND
                required: false
                type: string
              status:
                description: filter by message status
                enum:
                  - SCHEDULED
                  - UNKNOWN
                  - SENT
                  - FAILED
                  - FAILED_REFUNDED
                  - FAILED_OPTOUT
                  - DELIVERED
                  - RECEIVED
                required: false
                type: string
              fromDateTimeSent:
                description: 'date format: yyyyMMdd'
                format: rfc3339
                required: false
                type: datetime
              toDateTimeSent:
                description: 'date format: yyyyMMdd'
                format: rfc3339
                required: false
                type: datetime
              fromDateTimeReceived:
                description: 'date format: yyyyMMdd'
                format: rfc3339
                required: false
                type: datetime
              toDateTimeReceived:
                description: 'date format: yyyyMMdd'
                format: rfc3339
                required: false
                type: datetime
              fromNumber:
                description: phone number the message was sent from
                required: false
                type: string
              toNumber:
                description: phone number the message was sent to
                required: false
                type: string
              message:
                description: search matching message text
                required: false
                type: string
              campaign:
                description: search by campaign
                required: false
                type: string
              dataField:
                description: search by data field
                required: false
                type: string
              deleted:
                description: return only deleted / not deleted messages
                required: false
                type: boolean
              read:
                description: return only read / unread messages (inbox messages only)
                required: false
                type: boolean
            (oas-tags):
              - messages
        '/{messageId}':
          displayName: '{messageId}'
          uriParameters:
            messageId:
              description: messageId
              required: true
              type: string
          delete:
            displayName: DELETE_api-rest-v1-messages-messageId
            description: Deletes a  message
            (oas-summary): delete
            responses:
              '200':
                description: Description was not specified
              '204':
                description: No Content
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
            (oas-tags):
              - messages
          get:
            displayName: GET_api-rest-v1-messages-messageId
            description: Returns details for a single message
            (oas-summary): get
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceMessage
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - messages
          /markRead:
            displayName: markRead
            post:
              displayName: POST_api-rest-v1-messages-messageId-markRead
              description: Marks a  message as read
              (oas-summary): markRead
              responses:
                '200':
                  body:
                    application/json:
                      type: WebServiceMessage
                  description: Description was not specified
                '201':
                  description: Created
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - messages
            put:
              displayName: PUT_api-rest-v1-messages-messageId-markRead
              description: Marks a  message as read
              (oas-summary): markRead
              responses:
                '200':
                  body:
                    application/json:
                      type: WebServiceMessage
                  description: Description was not specified
                '201':
                  description: Created
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - messages
          /markUnread:
            displayName: markUnread
            post:
              displayName: POST_api-rest-v1-messages-messageId-markUnread
              description: Marks a  message as unread
              (oas-summary): markUnread
              responses:
                '200':
                  body:
                    application/json:
                      type: WebServiceMessage
                  description: Description was not specified
                '201':
                  description: Created
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - messages
            put:
              displayName: PUT_api-rest-v1-messages-messageId-markUnread
              description: Marks a  message as unread
              (oas-summary): markUnread
              responses:
                '200':
                  body:
                    application/json:
                      type: WebServiceMessage
                  description: Description was not specified
                '201':
                  description: Created
                '401':
                  description: Unauthorized
                '403':
                  description: Forbidden
                '404':
                  description: Not Found
              (oas-tags):
                - messages
      /context:
        displayName: context
        /lookup:
          displayName: lookup
          post:
            displayName: POST_api-rest-v1-context-lookup
            description: Returns context information for a single provided
            (oas-summary): lookup
            body:
              application/json:
                type: string
                (oas-body-name): body
                description: number
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceNumberContextLookupResponse
                description: Success
              '201':
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - context
          get:
            displayName: GET_api-rest-v1-context-lookup
            description: Returns context information for a single provided
            (oas-summary): lookup
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceNumberContextLookupResponse
                description: Success
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - context
      /sms:
        displayName: sms
        /send:
          displayName: send
          get:
            displayName: GET_api-rest-v1-sms-send
            description: Returns an example of the data to POST to send a single message.
            (oas-summary): send
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceSendSmsRequest
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - sms
          post:
            displayName: POST_api-rest-v1-sms-send
            description: Sends a single message. The <i>recipientNumber</i> and <i>message</i> fields are required. All other fields are optional.
            (oas-summary): send
            body:
              application/json:
                type: WebServiceSendSmsRequest
                (oas-body-name): body
                description: request
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceSendSmsResponse
                description: Description was not specified
              '201':
                description: Created
              '400':
                body:
                  application/json:
                    type: RestErrorDTO
                description: 'Validation error</br></br>Code and message:<ul><li>2 - Invalid mobile number</li><li>3 - Message cannot be empty</li></ul>'
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - sms
        /send-bulk:
          displayName: send-bulk
          get:
            displayName: GET_api-rest-v1-sms-send-bulk
            description: Returns an example of the data to POST to send multiple messages in one transaction.
            (oas-summary): send-bulk
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceSendSmsRequests
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - sms
          post:
            displayName: POST_api-rest-v1-sms-send-bulk
            description: Send multiple messages in one transaction.
            (oas-summary): send-bulk
            body:
              application/json:
                type: WebServiceSendSmsRequests
                (oas-body-name): body
                description: requests
            responses:
              '200':
                body:
                  application/json:
                    type: WebServiceSendSmsResponses
                description: Description was not specified
              '201':
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            (oas-tags):
              - sms
        /send-url-parameters:
          displayName: send-url-parameters
          post:
            displayName: POST_api-rest-v1-sms-send-url-parameters
            description: Send a single message using URL parameters.The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional.
            (oas-summary): send-url-parameters
            responses:
              '200':
                body:
                  application/json:
                    type: string
                description: Description was not specified
              '201':
                description: Created
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            queryParameters:
              recipientNumber:
                description: the phone number of the recipient to send to
                required: true
                type: string
              message:
                description: the message to send
                required: true
                type: string
              dateToSend:
                description: 'date format: yyyyMMddHHmm'
                format: rfc3339
                required: false
                type: datetime
              campaign:
                description: optional campaign name
                required: false
                type: string
              dataField:
                description: optional extra data
                required: false
                type: string
            (oas-tags):
              - sms
          get:
            displayName: GET_api-rest-v1-sms-send-url-parameters
            description: Send a single message using URL parameters.The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional.
            (oas-summary): send-url-parameters
            responses:
              '200':
                body:
                  application/json:
                    type: string
                description: OK
              '401':
                description: Unauthorized
              '403':
                description: Forbidden
              '404':
                description: Not Found
            queryParameters:
              recipientNumber:
                description: the phone number of the recipient to send to
                required: true
                type: string
              message:
                description: the message to send
                required: true
                type: string
              dateToSend:
                description: 'date format: yyyyMMddHHmm'
                format: rfc3339
                required: false
                type: datetime
              campaign:
                description: optional campaign name
                required: false
                type: string
              dataField:
                description: optional extra data
                required: false
                type: string
            (oas-tags):
              - sms
types:
  Link:
    properties:
      href:
        type: string
        required: false
      rel:
        type: string
        required: false
      templated:
        type: boolean
        required: false
  RestErrorDTO:
    description: RestErrorDTO
    properties:
      code:
        format: int32
        type: integer
        required: false
      developerMessage:
        type: string
        required: false
      message:
        type: string
        required: false
      moreInfoUrl:
        type: string
        required: false
      status:
        type: string
        required: false
  Void: {}
  WebServiceAccount:
    description: WebServiceAccount
    properties:
      creditBalance:
        format: double
        type: number
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
  WebServiceContact:
    description: WebServiceContact
    properties:
      contactId:
        type: string
        required: false
      contactNumber:
        type: string
        required: false
      firstName:
        type: string
        required: false
      lastName:
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
      title:
        type: string
        required: false
  WebServiceContactLink:
    description: WebServiceContactLink
    properties:
      contactId:
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
  WebServiceContacts:
    description: WebServiceContacts
    properties:
      links:
        items:
          type: Link
        type: array
        required: false
      webServiceContacts:
        items:
          type: WebServiceContact
        type: array
        required: false
  WebServiceGroup:
    description: WebServiceGroup
    properties:
      groupId:
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
      name:
        type: string
        required: false
  WebServiceGroups:
    description: WebServiceGroups
    properties:
      links:
        items:
          type: Link
        type: array
        required: false
      webServiceGroups:
        items:
          type: WebServiceGroup
        type: array
        required: false
  WebServiceMessage:
    description: WebServiceMessage
    properties:
      campaign:
        type: string
        required: false
      contact:
        type: WebServiceContactLink
        required: false
      creditCost:
        format: double
        type: number
        required: false
      dateTimeReceived:
        format: rfc3339
        type: datetime
        required: false
      dateTimeScheduled:
        format: rfc3339
        type: datetime
        required: false
      dateTimeSent:
        format: rfc3339
        type: datetime
        required: false
      deleted:
        type: boolean
        required: false
      fromNumber:
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
      message:
        type: string
        required: false
      messageId:
        type: string
        required: false
      messageStatus:
        type: string
        required: false
      messageType:
        type: string
        required: false
      numberOfMessages:
        format: int32
        type: integer
        required: false
      read:
        type: boolean
        required: false
      toNumber:
        type: string
        required: false
      userDataField:
        type: string
        required: false
  WebServiceMessages:
    description: WebServiceMessages
    properties:
      elements:
        format: int32
        type: integer
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
      page:
        format: int32
        type: integer
        required: false
      pageSize:
        format: int32
        type: integer
        required: false
      totalElements:
        format: int64
        type: integer
        required: false
      totalPages:
        format: int32
        type: integer
        required: false
      webServiceMessages:
        items:
          type: WebServiceMessage
        type: array
        required: false
  WebServiceNumberContextLookupRequest:
    description: WebServiceNumberContextLookupRequest
    properties:
      links:
        items:
          type: Link
        type: array
        required: false
      numbers:
        items:
          type: string
        type: array
        required: false
  WebServiceNumberContextLookupResponse:
    description: WebServiceNumberContextLookupResponse
    properties:
      links:
        items:
          type: Link
        type: array
        required: false
      number:
        type: string
        required: false
      numberValid:
        type: boolean
        required: false
  WebServiceSendSmsRequest:
    description: WebServiceSendSmsRequest
    properties:
      campaign:
        type: string
        required: false
      dataField:
        type: string
        required: false
      dateToSend:
        format: rfc3339
        type: datetime
        required: false
      message:
        type: string
        required: false
      recipientNumber:
        type: string
        required: false
  WebServiceSendSmsRequests:
    description: WebServiceSendSmsRequests
    properties:
      defaultDateToSend:
        format: rfc3339
        type: datetime
        required: false
      messagesPerMinute:
        format: int32
        type: integer
        required: false
      sendSmsRequests:
        items:
          type: WebServiceSendSmsRequest
        type: array
        required: false
  WebServiceSendSmsResponse:
    description: WebServiceSendSmsResponse
    properties:
      error:
        type: string
        required: false
      messageId:
        type: string
        required: false
  WebServiceSendSmsResponses:
    description: WebServiceSendSmsResponses
    properties:
      sendSmsResponses:
        items:
          type: WebServiceSendSmsResponse
        type: array
        required: false
  WebServiceTemplate:
    description: WebServiceTemplate
    properties:
      data:
        type: string
        required: false
      links:
        items:
          type: Link
        type: array
        required: false
      name:
        type: string
        required: false
      templateId:
        format: int64
        type: integer
        required: false
  WebServiceTemplates:
    description: WebServiceTemplates
    properties:
      links:
        items:
          type: Link
        type: array
        required: false
      webServiceTemplates:
        items:
          type: WebServiceTemplate
        type: array
        required: false
  WebServiceTransferCreditsRequest:
    description: WebServiceTransferCreditsRequest
    properties:
      numberOfCreditsToTransfer:
        format: int32
        type: integer
        required: false
      transferFromEmailAddress:
        type: string
        required: false
      transferToEmailAddress:
        type: string
        required: false
  WebServiceUser:
    description: WebServiceUser
    properties:
      company:
        type: string
        required: false
      contactNumber:
        type: string
        required: false
      emailAddress:
        type: string
        required: false
      firstName:
        type: string
        required: false
      lastName:
        type: string
        required: false
      password:
        type: string
        required: false
      userId:
        format: int64
        type: integer
        required: false
  WebServiceUsers:
    description: WebServiceUsers
    properties:
      webServiceUserList:
        items:
          type: WebServiceUser
        type: array
        required: false
