{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "financialservices-locations"
  },
  "host": "mocksvc.mulesoft.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/atms": {
      "get": {
        "operationId": "GET_atms",
        "parameters": [
          {
            "name": "accessible",
            "in": "query",
            "description": "Whether ATM is accessible by wheelchair.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "operational_only",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/trait:geoSearch:longitude"
          },
          {
            "$ref": "#/parameters/trait:geoSearch:latitude"
          },
          {
            "$ref": "#/parameters/trait:geoSearch:radius"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Atm"
              }
            },
            "examples": {
              "application/json": [
                {
                  "name": "Near Union Square",
                  "address": {
                    "street": [
                      "77 Geary Street",
                      "Suite 400"
                    ],
                    "city": "San Francisco",
                    "postal_code": 94108,
                    "state": "CA",
                    "country": "USA",
                    "formatted": "77 Geary Street, Suite 400, San Francisco, CA 94108, USA"
                  },
                  "location": {
                    "lat": 37.7875712,
                    "lng": -122.406909
                  },
                  "operational": true,
                  "wheelchair": true
                }
              ]
            }
          }
        }
      },
      "x-raml-resource-description": "Retrieves list of ATMs."
    },
    "/branches": {
      "get": {
        "operationId": "GET_branches",
        "parameters": [
          {
            "name": "accessible",
            "in": "query",
            "description": "Whether branch is accessible by wheelchair.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "opens",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:geoSearch:longitude"
          },
          {
            "$ref": "#/parameters/trait:geoSearch:latitude"
          },
          {
            "$ref": "#/parameters/trait:geoSearch:radius"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Branch"
              }
            },
            "examples": {
              "application/json": [
                {
                  "name": "Near Union Square",
                  "address": {
                    "street": [
                      "77 Geary Street",
                      "Suite 400"
                    ],
                    "city": "San Francisco",
                    "postal_code": 94108,
                    "state": "CA",
                    "country": "USA",
                    "formatted": "77 Geary Street, Suite 400, San Francisco, CA 94108, USA"
                  },
                  "location": {
                    "lat": 37.7875712,
                    "lng": -122.406909
                  },
                  "open_at": [
                    {
                      "day_of_week": [
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday"
                      ],
                      "start": "08:00:00",
                      "end": "18:00:00"
                    }
                  ],
                  "wheelchair": true,
                  "phone": "555-12345"
                }
              ]
            }
          }
        }
      },
      "x-raml-resource-description": "Retrieves list of branches."
    }
  },
  "parameters": {
    "trait:geoSearch:longitude": {
      "name": "longitude",
      "in": "query",
      "description": "If longitude is provided, latitude must also be provided.\n",
      "required": false,
      "type": "number",
      "format": "double"
    },
    "trait:geoSearch:latitude": {
      "name": "latitude",
      "in": "query",
      "description": "If latitude is provided, longitude must also be provided.\n",
      "required": false,
      "type": "number",
      "format": "double"
    },
    "trait:geoSearch:radius": {
      "name": "radius",
      "in": "query",
      "description": "If radius is provided, then latitude and longitude has to also be provided\n",
      "required": false,
      "type": "integer",
      "default": 500
    }
  },
  "definitions": {
    "Location": {
      "properties": {
        "lat": {
          "type": "number",
          "example": 37.4224764,
          "format": "double"
        },
        "lng": {
          "type": "number",
          "example": -122.0842499,
          "format": "double"
        }
      },
      "type": "object",
      "required": [
        "lat",
        "lng"
      ]
    },
    "Address": {
      "properties": {
        "street": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "city": {
          "type": "string"
        },
        "postal_code": {
          "type": "integer"
        },
        "state": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "formatted": {
          "type": "string",
          "example": "77 Geary Street, Suite 400, San Francisco, CA 94108, USA",
          "description": "Formatted address"
        }
      },
      "type": "object",
      "required": [
        "street",
        "city",
        "postal_code",
        "country",
        "formatted"
      ]
    },
    "DayOfWeek": {
      "enum": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "type": "string"
    },
    "OpenHours": {
      "properties": {
        "day_of_week": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DayOfWeek"
          }
        },
        "start": {
          "type": "string",
          "x-raml-format": "time-only"
        },
        "end": {
          "type": "string",
          "x-raml-format": "time-only"
        }
      },
      "type": "object",
      "required": [
        "day_of_week",
        "start",
        "end"
      ]
    },
    "BankProperty": {
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "wheelchair": {
          "type": "boolean"
        }
      },
      "type": "object",
      "required": [
        "name",
        "address",
        "location",
        "wheelchair"
      ]
    },
    "Branch": {
      "allOf": [
        {
          "$ref": "#/definitions/BankProperty"
        },
        {
          "type": "object",
          "properties": {
            "open_at": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OpenHours"
              }
            },
            "phone": {
              "type": "string"
            }
          },
          "required": [
            "open_at"
          ]
        }
      ]
    },
    "Atm": {
      "allOf": [
        {
          "$ref": "#/definitions/BankProperty"
        },
        {
          "type": "object",
          "properties": {
            "operational": {
              "type": "boolean"
            }
          },
          "required": [
            "operational"
          ]
        }
      ]
    }
  },
  "x-basePath": "/mocks/d00dcd21-aa89-444d-a614-7a578e6328ff/api/{version}/locations"
}